{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.hetzner.floating_ips#ListFloatingIpsRequestSortItem": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "ID_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:asc"
          }
        },
        "ID_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:desc"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "CREATED_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created:asc"
          }
        },
        "CREATED_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created:desc"
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#ListFloatingIpsRequestSortList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.floating_ips#ListFloatingIpsRequestSortItem"
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#ListFloatingIpsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Filter resources by their name.\n\nThe response will only contain the resources\nmatching exactly the specified name.\n"
          }
        },
        "label_selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "label_selector",
            "smithy.api#documentation": "Filter resources by labels.\n\nThe response will only contain resources matching the label selector.\nFor more information, see \"[Label Selector](#description/label-selector)\".\n"
          }
        },
        "sort": {
          "target": "com.hetzner.floating_ips#ListFloatingIpsRequestSortList",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sort resources by field and direction. May be used multiple times.\n\nFor more information, see \"[Sorting](#description/sorting)\".\n"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number to return. For more information, see \"[Pagination](#description/pagination)\"."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Maximum number of entries returned per page. For more information, see \"[Pagination](#description/pagination)\"."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsItemType": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Floating IP type."
      }
    },
    "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsItemDnsPtrItem": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Single IPv4 or IPv6 address of the record.\n",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain Name to point to.\n\nPTR record content used for reverse DNS.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsItemDnsPtrList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsItemDnsPtrItem"
      },
      "traits": {
        "smithy.api#documentation": "List of reverse DNS entries for the [Floating IP](#tag/floating-ips).\n"
      }
    },
    "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsItemHomeLocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable description of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country the [Location](#tag/locations) resides in.\n\nISO 3166-1 alpha-2 code of the country.\n",
            "smithy.api#required": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the closest city to the [Location](#tag/locations).\n\nCity name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.\n",
            "smithy.api#required": {}
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "network_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Network Zone this [Location](#tag/locations) resides in.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsItemProtection": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent the Resource from being deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protection configuration for the Resource."
      }
    },
    "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsItemLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Floating IP](#tag/floating-ips).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Resource. Must be unique per Project.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Resource.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsItemType",
          "traits": {
            "smithy.api#documentation": "The Floating IP type.",
            "smithy.api#required": {}
          }
        },
        "server": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "[Server](#tag/servers) the [Floating IP](#tag/floating-ips) is assigned to.\n\n`null` if not assigned.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dns_ptr": {
          "target": "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsItemDnsPtrList",
          "traits": {
            "smithy.api#documentation": "List of reverse DNS entries for the [Floating IP](#tag/floating-ips).\n",
            "smithy.api#required": {}
          }
        },
        "home_location": {
          "target": "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsItemHomeLocation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the [Floating IP](#tag/floating-ips) is blocked.",
            "smithy.api#required": {}
          }
        },
        "protection": {
          "target": "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsItemProtection",
          "traits": {
            "smithy.api#documentation": "Protection configuration for the Resource.",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsItemLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsItem"
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#ListFloatingIpsResponseMetaPagination": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current page number.",
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of entries returned per page.",
            "smithy.api#required": {}
          }
        },
        "previous_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the previous page. Can be null if the current page is the first one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the next page. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the last page available. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_entries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of entries that exist for this query. Can be null if unknown.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information."
      }
    },
    "com.hetzner.floating_ips#ListFloatingIpsResponseMeta": {
      "type": "structure",
      "members": {
        "pagination": {
          "target": "com.hetzner.floating_ips#ListFloatingIpsResponseMetaPagination",
          "traits": {
            "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#ListFloatingIpsResponse": {
      "type": "structure",
      "members": {
        "floating_ips": {
          "target": "com.hetzner.floating_ips#ListFloatingIpsResponseFloatingIpsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.hetzner.floating_ips#ListFloatingIpsResponseMeta",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.floating_ips#ListFloatingIps": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.floating_ips#ListFloatingIpsRequest"
      },
      "output": {
        "target": "com.hetzner.floating_ips#ListFloatingIpsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/floating_ips",
          "code": 200
        },
        "smithy.api#documentation": "List Floating IPs\n\nList multiple [Floating IPs](#tag/floating-ips).\n\nUse the provided URI parameters to modify the result.",
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "meta.pagination.next_page",
          "items": "floating_ips",
          "pageSize": "per_page"
        }
      }
    },
    "com.hetzner.floating_ips#CreateFloatingIpRequestType": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Floating IP type."
      }
    },
    "com.hetzner.floating_ips#CreateFloatingIpRequestHomeLocation": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Home [Location](#tag/locations) for the [Floating IP](#tag/floating-ips).\n\nEither the ID or the name of the [Location](#tag/locations).\n\nOnly optional if no [Server](#tag/servers) is provided. Routing is optimized for this [Locations](#tag/locations).\n"
      }
    },
    "com.hetzner.floating_ips#CreateFloatingIpRequestLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.floating_ips#CreateFloatingIpRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.hetzner.floating_ips#CreateFloatingIpRequestType",
          "traits": {
            "smithy.api#documentation": "The Floating IP type.",
            "smithy.api#required": {}
          }
        },
        "server": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "[Server](#tag/servers) the [Floating IP](#tag/floating-ips) is assigned to.\n\n`null` if not assigned.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "home_location": {
          "target": "com.hetzner.floating_ips#CreateFloatingIpRequestHomeLocation",
          "traits": {
            "smithy.api#documentation": "Home [Location](#tag/locations) for the [Floating IP](#tag/floating-ips).\n\nEither the ID or the name of the [Location](#tag/locations).\n\nOnly optional if no [Server](#tag/servers) is provided. Routing is optimized for this [Locations](#tag/locations).\n"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Resource.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Resource. Must be unique per Project."
          }
        },
        "labels": {
          "target": "com.hetzner.floating_ips#CreateFloatingIpRequestLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.floating_ips#CreateFloatingIpResponseFloatingIpType": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Floating IP type."
      }
    },
    "com.hetzner.floating_ips#CreateFloatingIpResponseFloatingIpDnsPtrItem": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Single IPv4 or IPv6 address of the record.\n",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain Name to point to.\n\nPTR record content used for reverse DNS.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#CreateFloatingIpResponseFloatingIpDnsPtrList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.floating_ips#CreateFloatingIpResponseFloatingIpDnsPtrItem"
      },
      "traits": {
        "smithy.api#documentation": "List of reverse DNS entries for the [Floating IP](#tag/floating-ips).\n"
      }
    },
    "com.hetzner.floating_ips#CreateFloatingIpResponseFloatingIpHomeLocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable description of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country the [Location](#tag/locations) resides in.\n\nISO 3166-1 alpha-2 code of the country.\n",
            "smithy.api#required": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the closest city to the [Location](#tag/locations).\n\nCity name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.\n",
            "smithy.api#required": {}
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "network_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Network Zone this [Location](#tag/locations) resides in.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#CreateFloatingIpResponseFloatingIpProtection": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent the Resource from being deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protection configuration for the Resource."
      }
    },
    "com.hetzner.floating_ips#CreateFloatingIpResponseFloatingIpLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.floating_ips#CreateFloatingIpResponseFloatingIp": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Floating IP](#tag/floating-ips).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Resource. Must be unique per Project.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Resource.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.hetzner.floating_ips#CreateFloatingIpResponseFloatingIpType",
          "traits": {
            "smithy.api#documentation": "The Floating IP type.",
            "smithy.api#required": {}
          }
        },
        "server": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "[Server](#tag/servers) the [Floating IP](#tag/floating-ips) is assigned to.\n\n`null` if not assigned.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dns_ptr": {
          "target": "com.hetzner.floating_ips#CreateFloatingIpResponseFloatingIpDnsPtrList",
          "traits": {
            "smithy.api#documentation": "List of reverse DNS entries for the [Floating IP](#tag/floating-ips).\n",
            "smithy.api#required": {}
          }
        },
        "home_location": {
          "target": "com.hetzner.floating_ips#CreateFloatingIpResponseFloatingIpHomeLocation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the [Floating IP](#tag/floating-ips) is blocked.",
            "smithy.api#required": {}
          }
        },
        "protection": {
          "target": "com.hetzner.floating_ips#CreateFloatingIpResponseFloatingIpProtection",
          "traits": {
            "smithy.api#documentation": "Protection configuration for the Resource.",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.hetzner.floating_ips#CreateFloatingIpResponseFloatingIpLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#CreateFloatingIpResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.floating_ips#CreateFloatingIpResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#CreateFloatingIpResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.floating_ips#CreateFloatingIpResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.floating_ips#CreateFloatingIpResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.floating_ips#CreateFloatingIpResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.floating_ips#CreateFloatingIpResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.floating_ips#CreateFloatingIpResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.floating_ips#CreateFloatingIpResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action will only be returned if the [Floating IP](#tag/floating-ips) is getting assigned.\n"
      }
    },
    "com.hetzner.floating_ips#CreateFloatingIpResponse": {
      "type": "structure",
      "members": {
        "floating_ip": {
          "target": "com.hetzner.floating_ips#CreateFloatingIpResponseFloatingIp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.hetzner.floating_ips#CreateFloatingIpResponseAction",
          "traits": {
            "smithy.api#documentation": "Action will only be returned if the [Floating IP](#tag/floating-ips) is getting assigned.\n",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.floating_ips#CreateFloatingIp": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.floating_ips#CreateFloatingIpRequest"
      },
      "output": {
        "target": "com.hetzner.floating_ips#CreateFloatingIpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/floating_ips",
          "code": 200
        },
        "smithy.api#documentation": "Create a Floating IP\n\nCreate a [Floating IP](#tag/floating-ips).\n\nProvide the `server` attribute to assign the [Floating IP](#tag/floating-ips) to that server or provide a `home_location` to locate the [Floating IP](#tag/floating-ips) at. Note that the [Floating IP](#tag/floating-ips) can be assigned to a [Server](#tag/servers) in any [Location](#tag/locations) later on. For optimal routing it is advised to use the [Floating IP](#tag/floating-ips) in the same [Location](#tag/locations) it was created in."
      }
    },
    "com.hetzner.floating_ips#GetFloatingIpRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Floating IP."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.floating_ips#GetFloatingIpResponseFloatingIpType": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Floating IP type."
      }
    },
    "com.hetzner.floating_ips#GetFloatingIpResponseFloatingIpDnsPtrItem": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Single IPv4 or IPv6 address of the record.\n",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain Name to point to.\n\nPTR record content used for reverse DNS.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#GetFloatingIpResponseFloatingIpDnsPtrList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.floating_ips#GetFloatingIpResponseFloatingIpDnsPtrItem"
      },
      "traits": {
        "smithy.api#documentation": "List of reverse DNS entries for the [Floating IP](#tag/floating-ips).\n"
      }
    },
    "com.hetzner.floating_ips#GetFloatingIpResponseFloatingIpHomeLocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable description of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country the [Location](#tag/locations) resides in.\n\nISO 3166-1 alpha-2 code of the country.\n",
            "smithy.api#required": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the closest city to the [Location](#tag/locations).\n\nCity name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.\n",
            "smithy.api#required": {}
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "network_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Network Zone this [Location](#tag/locations) resides in.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#GetFloatingIpResponseFloatingIpProtection": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent the Resource from being deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protection configuration for the Resource."
      }
    },
    "com.hetzner.floating_ips#GetFloatingIpResponseFloatingIpLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.floating_ips#GetFloatingIpResponseFloatingIp": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Floating IP](#tag/floating-ips).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Resource. Must be unique per Project.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Resource.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.hetzner.floating_ips#GetFloatingIpResponseFloatingIpType",
          "traits": {
            "smithy.api#documentation": "The Floating IP type.",
            "smithy.api#required": {}
          }
        },
        "server": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "[Server](#tag/servers) the [Floating IP](#tag/floating-ips) is assigned to.\n\n`null` if not assigned.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dns_ptr": {
          "target": "com.hetzner.floating_ips#GetFloatingIpResponseFloatingIpDnsPtrList",
          "traits": {
            "smithy.api#documentation": "List of reverse DNS entries for the [Floating IP](#tag/floating-ips).\n",
            "smithy.api#required": {}
          }
        },
        "home_location": {
          "target": "com.hetzner.floating_ips#GetFloatingIpResponseFloatingIpHomeLocation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the [Floating IP](#tag/floating-ips) is blocked.",
            "smithy.api#required": {}
          }
        },
        "protection": {
          "target": "com.hetzner.floating_ips#GetFloatingIpResponseFloatingIpProtection",
          "traits": {
            "smithy.api#documentation": "Protection configuration for the Resource.",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.hetzner.floating_ips#GetFloatingIpResponseFloatingIpLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#GetFloatingIpResponse": {
      "type": "structure",
      "members": {
        "floating_ip": {
          "target": "com.hetzner.floating_ips#GetFloatingIpResponseFloatingIp",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.floating_ips#GetFloatingIp": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.floating_ips#GetFloatingIpRequest"
      },
      "output": {
        "target": "com.hetzner.floating_ips#GetFloatingIpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/floating_ips/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a Floating IP\n\nReturns a single [Floating IP](#tag/floating-ips)."
      }
    },
    "com.hetzner.floating_ips#UpdateFloatingIpRequestLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\n\nNote that the set of [Labels](#description/labels) provided in the request will overwrite the\nexisting one.\n\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.floating_ips#UpdateFloatingIpRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Floating IP."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Resource.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Resource. Must be unique per Project."
          }
        },
        "labels": {
          "target": "com.hetzner.floating_ips#UpdateFloatingIpRequestLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\n\nNote that the set of [Labels](#description/labels) provided in the request will overwrite the\nexisting one.\n\nFor more information, see \"[Labels](#description/labels)\".\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.floating_ips#UpdateFloatingIpResponseFloatingIpType": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Floating IP type."
      }
    },
    "com.hetzner.floating_ips#UpdateFloatingIpResponseFloatingIpDnsPtrItem": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Single IPv4 or IPv6 address of the record.\n",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain Name to point to.\n\nPTR record content used for reverse DNS.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#UpdateFloatingIpResponseFloatingIpDnsPtrList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.floating_ips#UpdateFloatingIpResponseFloatingIpDnsPtrItem"
      },
      "traits": {
        "smithy.api#documentation": "List of reverse DNS entries for the [Floating IP](#tag/floating-ips).\n"
      }
    },
    "com.hetzner.floating_ips#UpdateFloatingIpResponseFloatingIpHomeLocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable description of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country the [Location](#tag/locations) resides in.\n\nISO 3166-1 alpha-2 code of the country.\n",
            "smithy.api#required": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the closest city to the [Location](#tag/locations).\n\nCity name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.\n",
            "smithy.api#required": {}
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "network_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Network Zone this [Location](#tag/locations) resides in.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#UpdateFloatingIpResponseFloatingIpProtection": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent the Resource from being deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protection configuration for the Resource."
      }
    },
    "com.hetzner.floating_ips#UpdateFloatingIpResponseFloatingIpLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.floating_ips#UpdateFloatingIpResponseFloatingIp": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Floating IP](#tag/floating-ips).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Resource. Must be unique per Project.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Resource.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.hetzner.floating_ips#UpdateFloatingIpResponseFloatingIpType",
          "traits": {
            "smithy.api#documentation": "The Floating IP type.",
            "smithy.api#required": {}
          }
        },
        "server": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "[Server](#tag/servers) the [Floating IP](#tag/floating-ips) is assigned to.\n\n`null` if not assigned.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dns_ptr": {
          "target": "com.hetzner.floating_ips#UpdateFloatingIpResponseFloatingIpDnsPtrList",
          "traits": {
            "smithy.api#documentation": "List of reverse DNS entries for the [Floating IP](#tag/floating-ips).\n",
            "smithy.api#required": {}
          }
        },
        "home_location": {
          "target": "com.hetzner.floating_ips#UpdateFloatingIpResponseFloatingIpHomeLocation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the [Floating IP](#tag/floating-ips) is blocked.",
            "smithy.api#required": {}
          }
        },
        "protection": {
          "target": "com.hetzner.floating_ips#UpdateFloatingIpResponseFloatingIpProtection",
          "traits": {
            "smithy.api#documentation": "Protection configuration for the Resource.",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.hetzner.floating_ips#UpdateFloatingIpResponseFloatingIpLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.floating_ips#UpdateFloatingIpResponse": {
      "type": "structure",
      "members": {
        "floating_ip": {
          "target": "com.hetzner.floating_ips#UpdateFloatingIpResponseFloatingIp",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.floating_ips#UpdateFloatingIp": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.floating_ips#UpdateFloatingIpRequest"
      },
      "output": {
        "target": "com.hetzner.floating_ips#UpdateFloatingIpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/floating_ips/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a Floating IP\n\nUpdate a [Floating IP](#tag/floating-ips)."
      }
    },
    "com.hetzner.floating_ips#DeleteFloatingIpRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Floating IP."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.floating_ips#DeleteFloatingIp": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.floating_ips#DeleteFloatingIpRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/floating_ips/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Floating IP\n\nDeletes a [Floating IP](#tag/floating-ips).\n\nIf assigned to a [Server](#tag/servers) the [Floating IP](#tag/floating-ips) will be unassigned automatically until 1 May 2026. After this date, the [Floating IP](#tag/floating-ips) needs to be unassigned before it can be deleted.\n\n#### Operation specific errors"
      }
    },
    "com.hetzner.floating_ips#FloatingIps": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.hetzner.floating_ips#ListFloatingIps"
        },
        {
          "target": "com.hetzner.floating_ips#CreateFloatingIp"
        },
        {
          "target": "com.hetzner.floating_ips#GetFloatingIp"
        },
        {
          "target": "com.hetzner.floating_ips#UpdateFloatingIp"
        },
        {
          "target": "com.hetzner.floating_ips#DeleteFloatingIp"
        }
      ],
      "traits": {
        "smithy.api#title": "Hetzner Cloud API",
        "smithy.api#documentation": "# Overview\n\nThis is the official documentation for the Hetzner Cloud API.\n\n## Introduction\n\nThe Hetzner Cloud API operates over HTTPS and uses JSON as its data format. The API is a RESTful API and utilizes HTTP methods and HTTP status codes to specify requests and responses.\n\nAs an alternative to working directly with our API you may also consider to use:\n\n- Our CLI program [hcloud](https://github.com/hetznercloud/cli)\n- Our [library for Go](https://github.com/hetznercloud/hcloud-go)\n- Our [library for Python](https://github.com/hetznercloud/hcloud-python)\n\nYou can find even more libraries, tools and integrations on our [Awesome List on GitHub](https://github.com/hetznercloud/awesome-hcloud).\n\n### Open source credits\n\nIf you are developing an open-source project that supports or intends to add support for Hetzner APIs, you may be eligible for a free one-time credit of up to € 50 / $ 50 on your account. Please contact us via the support page on your [Hetzner Console](https://console.hetzner.cloud/support) and let us know the following:\n\n- The name of the project you are working on\n- A short description of the project\n- Link to the project website or repo where the project is hosted\n- Affiliation with / role in the project (e.g. project maintainer)\n- Link to some other open-source work you have already done (if you have done so)\n\n**Note:** We only consider rewards for projects that provide Hetzner-specific functionality or integrations. For example, our Object Storage exposes a standard S3 API without any Hetzner-specific extensions. Projects that focus solely on generic S3 capabilities (e.g., general S3 clients or SDKs) are not Hetzner-specific and are therefore not eligible for Hetzner Rewards.\n\n## Getting Started\n\nTo get started using the API you first need an API token. Sign in into the [Hetzner Console](https://console.hetzner.com/) choose a Project, go to `Security` → `API Tokens`, and generate a new token. Make sure to copy the token because it won’t be shown to you again. A token is bound to a Project, to interact with the API of another Project you have to create a new token inside the Project. Let’s say your new token is `LRK9DAWQ1ZAEFSrCNEEzLCUwhYX1U3g7wMg4dTlkkDC96fyDuyJ39nVbVjCKSDfj`.\n\nYou’re now ready to do your first request against the API. To get a list of all Servers in your Project, issue the example request on the right side using [curl](https://curl.se/).\n\nMake sure to replace the token in the example command with the token you have just created. Since your Project probably does not contain any Servers yet, the example response will look like the response on the right side. We will almost always provide a resource root like `servers` inside the example response. A response can also contain a `meta` object with information like [Pagination](#description/pagination).\n\n**Example Request**\n\n```shell\ncurl -H \"Authorization: Bearer LRK9DAWQ1ZAEFSrCNEEzLCUwhYX1U3g7wMg4dTlkkDC96fyDuyJ39nVbVjCKSDfj\" \\\n  https://api.hetzner.cloud/v1/servers\n```\n\n**Example Response**\n\n```json\n{\n  \"servers\": [],\n  \"meta\": {\n    \"pagination\": {\n      \"page\": 1,\n      \"per_page\": 25,\n      \"previous_page\": null,\n      \"next_page\": null,\n      \"last_page\": 1,\n      \"total_entries\": 0\n    }\n  }\n}\n```\n\n## Authentication\n\nAll requests to the Hetzner Cloud API must be authenticated via a API token. Include your secret API token in every request you send to the API with the `Authorization` HTTP header.\n\nTo create a new API token for your Project, switch into the [Hetzner Console](https://console.hetzner.com/) choose a Project, go to `Security` → `API Tokens`, and generate a new token.\n\n**Example Authorization header**\n\n```http\nAuthorization: Bearer LRK9DAWQ1ZAEFSrCNEEzLCUwhYX1U3g7wMg4dTlkkDC96fyDuyJ39nVbVjCKSDfj\n```\n\n## Query Parameters\n\nThe API makes use of query parameters to sort and filter responses. The parameter names and values must be URI encoded according to [RFC2396](https://datatracker.ietf.org/doc/html/rfc2396). Query parameters of type `array` can be used multiple times:\n\n**Example query parameters for pagination**\n\n```\nhttps://api.hetzner.cloud/v1/certificates?page=1&page_size=12\n```\n\n**Example use of multiple values for a parameter**\n\n```\nhttps://api.hetzner.cloud/v1/certificates?type=uploaded&type=managed\n```\n\n**Example use of an encoded parameter**\n\n```\nhttps://api.hetzner.cloud/v1/certificates?label_selector=key%3Dvalue\n```\n\n## Errors\n\nErrors are indicated by HTTP status codes. Further, the response of the request which generated the error contains an error code, an error message, and, optionally, error details. The schema of the error details object depends on the error code.\n\nThe error response contains the following keys:\n\n\n**Example response**\n\n```json\n{\n  \"error\": {\n    \"code\": \"invalid_input\",\n    \"message\": \"invalid input in field 'broken_field': is too long\",\n    \"details\": {\n      \"fields\": [\n        {\n          \"name\": \"broken_field\",\n          \"messages\": [\"is too long\"]\n        }\n      ]\n    }\n  }\n}\n```\n\n### Error Codes\n\n\n**invalid_input**\n\n```json\n{\n  \"error\": {\n    \"code\": \"invalid_input\",\n    \"message\": \"invalid input in field 'broken_field': is too long\",\n    \"details\": {\n      \"fields\": [\n        {\n          \"name\": \"broken_field\",\n          \"messages\": [\"is too long\"]\n        }\n      ]\n    }\n  }\n}\n```\n\n**uniqueness_error**\n\n```json\n{\n  \"error\": {\n    \"code\": \"uniqueness_error\",\n    \"message\": \"SSH key with the same fingerprint already exists\",\n    \"details\": {\n      \"fields\": [\n        {\n          \"name\": \"public_key\"\n        }\n      ]\n    }\n  }\n}\n```\n\n**resource_limit_exceeded**\n\n```json\n{\n  \"error\": {\n    \"code\": \"resource_limit_exceeded\",\n    \"message\": \"project limit exceeded\",\n    \"details\": {\n      \"limits\": [\n        {\n          \"name\": \"project_limit\"\n        }\n      ]\n    }\n  }\n}\n```\n\n**deprecated_api_endpoint**\n\n```json\n{\n  \"error\": {\n    \"code\": \"deprecated_api_endpoint\",\n    \"message\": \"API functionality was removed\",\n    \"details\": {\n      \"announcement\": \"https://docs.hetzner.cloud/changelog#2023-07-20-foo-endpoint-is-deprecated\"\n    }\n  }\n}\n```\n\n## Actions\n\nActions represent asynchronous tasks within the API, targeting one or more resources. Triggering changes in the API may return a `running` action.\n\nAn action should be waited upon, until it reaches either the `success` or `error` state. Avoid polling the action's state too frequently to reduce the risk of exhausting your API requests and hitting the [rate limit](#description/rate-limiting).\n\nIf an action fails, it will contain details about the underlying error.\n\nOnce the asynchronous tasks have completed and the targeted resources are in a consistent state, the action is marked as succeeded.\n\nIn some cases, you may trigger multiple changes at once, and only wait for the returned actions at a later stage.\n\n## Labels\n\nLabels are `key/value` pairs that can be attached to all resources.\n\nValid label keys have two segments: an optional prefix and name, separated by a slash (`/`). The name segment is required and must be a string of 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots (`.`), not longer than 253 characters in total, followed by a slash (`/`).\n\nValid label values must be a string of 63 characters or less and must be empty or begin and end with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between.\n\nThe `hetzner.cloud/` prefix is reserved and cannot be used.\n\n**Example Labels**\n\n```json\n{\n  \"labels\": {\n    \"environment\": \"development\",\n    \"service\": \"backend\",\n    \"example.com/my\": \"label\",\n    \"just-a-key\": \"\"\n  }\n}\n```\n\n## Label Selector\n\nFor resources with labels, you can filter resources by their labels using the label selector query language.\n\n\n### Examples\n\n- Returns all resources that have a `env=production` label and that don't have a `type=database` label:\n\n  `env=production,type!=database`\n\n- Returns all resources that have a `env=testing` or `env=staging` label:\n\n  `env in (testing,staging)`\n\n- Returns all resources that don't have a `type` label:\n\n  `!type`\n\n## Pagination\n\nResponses which return multiple items support pagination. If they do support pagination, it can be controlled with following query string parameters:\n\n- A `page` parameter specifies the page to fetch. The number of the first page is 1.\n- A `per_page` parameter specifies the number of items returned per page. The default value is 25, the maximum value is 50 except otherwise specified in the documentation.\n\nResponses contain a `Link` header with pagination information.\n\nAdditionally, if the response body is JSON and the root object is an object, that object has a `pagination` object inside the `meta` object with pagination information:\n\n**Example Pagination**\n\n```json\n{\n    \"servers\": [...],\n    \"meta\": {\n        \"pagination\": {\n            \"page\": 2,\n            \"per_page\": 25,\n            \"previous_page\": 1,\n            \"next_page\": 3,\n            \"last_page\": 4,\n            \"total_entries\": 100\n        }\n    }\n}\n```\n\nThe keys `previous_page`, `next_page`, `last_page`, and `total_entries` may be `null` when on the first page, last page, or when the total number of entries is unknown.\n\n**Example Pagination Link header**\n\n```http\nLink: <https://api.hetzner.cloud/v1/actions?page=2&per_page=5>; rel=\"prev\",\n      <https://api.hetzner.cloud/v1/actions?page=4&per_page=5>; rel=\"next\",\n      <https://api.hetzner.cloud/v1/actions?page=6&per_page=5>; rel=\"last\"\n```\n\nLine breaks have been added for display purposes only and responses may only contain some of the above `rel` values.\n\n## Rate Limiting\n\nAll requests, whether they are authenticated or not, are subject to rate limiting. If you have reached your limit, your requests will be handled with a `429 Too Many Requests` error. Burst requests are allowed. Responses contain several headers which provide information about your current rate limit status.\n\n- The `RateLimit-Limit` header contains the total number of requests you can perform per hour.\n- The `RateLimit-Remaining` header contains the number of requests remaining in the current rate limit time frame.\n- The `RateLimit-Reset` header contains a UNIX timestamp of the point in time when your rate limit will have recovered, and you will have the full number of requests available again.\n\nThe default limit is 3600 requests per hour and per Project. The number of remaining requests increases gradually. For example, when your limit is 3600 requests per hour, the number of remaining requests will increase by 1 every second.\n\n## Server Metadata\n\nYour Server can discover metadata about itself by doing a HTTP request to specific URLs. The following data is available:\n\n\n**Example: Summary**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata\n```\n\n```yaml\navailability-zone: hel1-dc2\nhostname: my-server\ninstance-id: 42\npublic-ipv4: 1.2.3.4\nregion: eu-central\n```\n\n**Example: Hostname**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/hostname\nmy-server\n```\n\n**Example: Instance ID**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/instance-id\n42\n```\n\n**Example: Public IPv4**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/public-ipv4\n1.2.3.4\n```\n\n**Example: Private Networks**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/private-networks\n```\n\n```yaml\n- ip: 10.0.0.2\n  alias_ips: [10.0.0.3, 10.0.0.4]\n  interface_num: 1\n  mac_address: 86:00:00:2a:7d:e0\n  network_id: 1234\n  network_name: nw-test1\n  network: 10.0.0.0/8\n  subnet: 10.0.0.0/24\n  gateway: 10.0.0.1\n- ip: 192.168.0.2\n  alias_ips: []\n  interface_num: 2\n  mac_address: 86:00:00:2a:7d:e1\n  network_id: 4321\n  network_name: nw-test2\n  network: 192.168.0.0/16\n  subnet: 192.168.0.0/24\n  gateway: 192.168.0.1\n```\n\n**Example: Availability Zone**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/availability-zone\nhel1-dc2\n```\n\n**Example: Region**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/region\neu-central\n```\n\n## Sorting\n\nSome responses which return multiple items support sorting. If they do support sorting the documentation states which fields can be used for sorting. You specify sorting with the `sort` query string parameter. You can sort by multiple fields. You can set the sort direction by appending `:asc` or `:desc` to the field name. By default, ascending sorting is used.\n\n**Example: Sorting**\n\n```\nhttps://api.hetzner.cloud/v1/actions?sort=status\nhttps://api.hetzner.cloud/v1/actions?sort=status:asc\nhttps://api.hetzner.cloud/v1/actions?sort=status:desc\nhttps://api.hetzner.cloud/v1/actions?sort=status:asc&sort=command:desc\n```\n\n## Deprecation Notices\n\nYou can find all announced deprecations in our [Changelog](/changelog)."
      }
    }
  }
}
