{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.hetzner.load_balancers#ListLoadBalancersRequestSortItem": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "ID_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:asc"
          }
        },
        "ID_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:desc"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "NAME_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name:asc"
          }
        },
        "NAME_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name:desc"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "CREATED_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created:asc"
          }
        },
        "CREATED_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created:desc"
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#ListLoadBalancersRequestSortList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#ListLoadBalancersRequestSortItem"
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#ListLoadBalancersRequest": {
      "type": "structure",
      "members": {
        "sort": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersRequestSortList",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sort resources by field and direction. May be used multiple times.\n\nFor more information, see \"[Sorting](#description/sorting)\".\n"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Filter resources by their name.\n\nThe response will only contain the resources\nmatching exactly the specified name.\n"
          }
        },
        "label_selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "label_selector",
            "smithy.api#documentation": "Filter resources by labels.\n\nThe response will only contain resources matching the label selector.\nFor more information, see \"[Label Selector](#description/label-selector)\".\n"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number to return. For more information, see \"[Pagination](#description/pagination)\"."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Maximum number of entries returned per page. For more information, see \"[Pagination](#description/pagination)\"."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemPublicNetIpv4": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (v4) of this Load Balancer.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reverse DNS PTR entry for the IPv4 address of this Load Balancer.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP address (v4)."
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemPublicNetIpv6": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (v6) of this Load Balancer.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reverse DNS PTR entry for the IPv6 address of this Load Balancer.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP address (v6)."
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemPublicNet": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Public Interface enabled or not.",
            "smithy.api#required": {}
          }
        },
        "ipv4": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemPublicNetIpv4",
          "traits": {
            "smithy.api#documentation": "IP address (v4).",
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemPublicNetIpv6",
          "traits": {
            "smithy.api#documentation": "IP address (v6).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public network information."
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemPrivateNetItem": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Network.",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (v4) of this Load Balancer in this Network.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemPrivateNetList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemPrivateNetItem"
      },
      "traits": {
        "smithy.api#documentation": "Private networks information."
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable description of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country the [Location](#tag/locations) resides in.\n\nISO 3166-1 alpha-2 code of the country.\n",
            "smithy.api#required": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the closest city to the [Location](#tag/locations).\n\nCity name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.\n",
            "smithy.api#required": {}
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "network_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Network Zone this [Location](#tag/locations) resides in.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLoadBalancerTypeDeprecation": {
      "type": "structure",
      "members": {
        "unavailable_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the deprecated resource removal.\n\nOnce this date is reached, the resource will not be returned\nby resource type \"list\" endpoint, and the resource can not be\nused to create new resources. For example, if this is an\nimage, you can not create new servers with this image after\nthe mentioned date.\n",
            "smithy.api#required": {}
          }
        },
        "announced": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the deprecation announcement.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes if, when and how the resource is deprecated. If this field is\nset to `null` the resource is not deprecated. If a value is set, it is\nconsidered deprecated.\n"
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLoadBalancerTypePricesItemPriceHourly": {
      "type": "structure",
      "members": {
        "net": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price without VAT.",
            "smithy.api#required": {}
          }
        },
        "gross": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price with VAT added.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hourly price in this [Location](#tag/locations)."
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLoadBalancerTypePricesItemPriceMonthly": {
      "type": "structure",
      "members": {
        "net": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price without VAT.",
            "smithy.api#required": {}
          }
        },
        "gross": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price with VAT added.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Monthly price in this [Location](#tag/locations)."
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLoadBalancerTypePricesItemPricePerTbTraffic": {
      "type": "structure",
      "members": {
        "net": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price without VAT.",
            "smithy.api#required": {}
          }
        },
        "gross": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price with VAT added.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional traffic price per TB in this [Location](#tag/locations)."
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLoadBalancerTypePricesItem": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the [Location](#tag/locations) the price is for.",
            "smithy.api#required": {}
          }
        },
        "price_hourly": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLoadBalancerTypePricesItemPriceHourly",
          "traits": {
            "smithy.api#documentation": "Hourly price in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "price_monthly": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLoadBalancerTypePricesItemPriceMonthly",
          "traits": {
            "smithy.api#documentation": "Monthly price in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "included_traffic": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Free traffic per month in bytes in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "price_per_tb_traffic": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLoadBalancerTypePricesItemPricePerTbTraffic",
          "traits": {
            "smithy.api#documentation": "Additional traffic price per TB in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLoadBalancerTypePricesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLoadBalancerTypePricesItem"
      },
      "traits": {
        "smithy.api#documentation": "Price per [Location](#tag/locations)."
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLoadBalancerType": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Load Balancer type.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Load Balancer type.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Load Balancer type.",
            "smithy.api#required": {}
          }
        },
        "max_connections": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of maximum simultaneous open connections.",
            "smithy.api#required": {}
          }
        },
        "max_services": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of services a Load Balancer of this type can have.",
            "smithy.api#required": {}
          }
        },
        "max_targets": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of targets a single Load Balancer can have.",
            "smithy.api#required": {}
          }
        },
        "max_assigned_certificates": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of SSL Certificates that can be assigned to a single Load Balancer.",
            "smithy.api#required": {}
          }
        },
        "deprecated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "**Deprecated:** This field is deprecated. Use the `deprecation` object instead.\n\nPoint in time when the Load Balancer type is deprecated (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "deprecation": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLoadBalancerTypeDeprecation",
          "traits": {
            "smithy.api#documentation": "Describes if, when and how the resource is deprecated. If this field is\nset to `null` the resource is not deprecated. If a value is set, it is\nconsidered deprecated.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prices": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLoadBalancerTypePricesList",
          "traits": {
            "smithy.api#documentation": "Price per [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemProtection": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent the Resource from being deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protection configuration for the Resource."
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.load_balancers#ServiceTCP": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "com.hetzner.load_balancers#ServiceTCPProtocol",
          "traits": {
            "smithy.api#documentation": "Protocol of the Load Balancer.",
            "smithy.api#required": {}
          }
        },
        "listen_port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port the Load Balancer listens on.",
            "smithy.api#required": {}
          }
        },
        "destination_port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port the Load Balancer will balance to.",
            "smithy.api#required": {}
          }
        },
        "proxyprotocol": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is Proxyprotocol enabled or not.",
            "smithy.api#required": {}
          }
        },
        "health_check": {
          "target": "com.hetzner.load_balancers#ServiceTCPHealthCheck",
          "traits": {
            "smithy.api#documentation": "Service health check.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#ServiceTCPProtocol": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protocol of the Load Balancer."
      }
    },
    "com.hetzner.load_balancers#ServiceTCPHealthCheckProtocol": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the health check."
      }
    },
    "com.hetzner.load_balancers#ServiceTCPHealthCheckHttpStatusCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones."
      }
    },
    "com.hetzner.load_balancers#ServiceTCPHealthCheckHttp": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host header to send in the HTTP request. May not contain spaces, percent or backslash symbols. Can be null, in that case no host header is sent.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP path to use for health checks. May not contain literal spaces, use percent-encoding instead.",
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String that must be contained in HTTP response in order to pass the health check."
          }
        },
        "status_codes": {
          "target": "com.hetzner.load_balancers#ServiceTCPHealthCheckHttpStatusCodesList",
          "traits": {
            "smithy.api#documentation": "List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones."
          }
        },
        "tls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use HTTPS for health check."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional configuration for protocol http."
      }
    },
    "com.hetzner.load_balancers#ServiceTCPHealthCheck": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "com.hetzner.load_balancers#ServiceTCPHealthCheckProtocol",
          "traits": {
            "smithy.api#documentation": "Type of the health check.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port the health check will be performed on.",
            "smithy.api#required": {}
          }
        },
        "interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time interval in seconds health checks are performed.",
            "smithy.api#required": {}
          }
        },
        "timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time in seconds after an attempt is considered a timeout.",
            "smithy.api#required": {}
          }
        },
        "retries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unsuccessful retries needed until a target is considered unhealthy; an unhealthy target needs the same number of successful retries to become healthy again.",
            "smithy.api#required": {}
          }
        },
        "http": {
          "target": "com.hetzner.load_balancers#ServiceTCPHealthCheckHttp",
          "traits": {
            "smithy.api#documentation": "Additional configuration for protocol http."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service health check."
      }
    },
    "com.hetzner.load_balancers#ServiceHTTPProtocol": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "com.hetzner.load_balancers#ServiceHTTPProtocolProtocol",
          "traits": {
            "smithy.api#documentation": "Protocol of the Load Balancer.",
            "smithy.api#required": {}
          }
        },
        "listen_port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port the Load Balancer listens on.",
            "smithy.api#required": {}
          }
        },
        "destination_port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port the Load Balancer will balance to.",
            "smithy.api#required": {}
          }
        },
        "proxyprotocol": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is Proxyprotocol enabled or not.",
            "smithy.api#required": {}
          }
        },
        "health_check": {
          "target": "com.hetzner.load_balancers#ServiceHTTPProtocolHealthCheck",
          "traits": {
            "smithy.api#documentation": "Service health check.",
            "smithy.api#required": {}
          }
        },
        "http": {
          "target": "com.hetzner.load_balancers#ServiceHTTPProtocolHttp",
          "traits": {
            "smithy.api#documentation": "Configuration option for protocol http.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#ServiceHTTPProtocolProtocol": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protocol of the Load Balancer."
      }
    },
    "com.hetzner.load_balancers#ServiceHTTPProtocolHealthCheckProtocol": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the health check."
      }
    },
    "com.hetzner.load_balancers#ServiceHTTPProtocolHealthCheckHttpStatusCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones."
      }
    },
    "com.hetzner.load_balancers#ServiceHTTPProtocolHealthCheckHttp": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host header to send in the HTTP request. May not contain spaces, percent or backslash symbols. Can be null, in that case no host header is sent.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP path to use for health checks. May not contain literal spaces, use percent-encoding instead.",
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String that must be contained in HTTP response in order to pass the health check."
          }
        },
        "status_codes": {
          "target": "com.hetzner.load_balancers#ServiceHTTPProtocolHealthCheckHttpStatusCodesList",
          "traits": {
            "smithy.api#documentation": "List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones."
          }
        },
        "tls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use HTTPS for health check."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional configuration for protocol http."
      }
    },
    "com.hetzner.load_balancers#ServiceHTTPProtocolHealthCheck": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "com.hetzner.load_balancers#ServiceHTTPProtocolHealthCheckProtocol",
          "traits": {
            "smithy.api#documentation": "Type of the health check.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port the health check will be performed on.",
            "smithy.api#required": {}
          }
        },
        "interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time interval in seconds health checks are performed.",
            "smithy.api#required": {}
          }
        },
        "timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time in seconds after an attempt is considered a timeout.",
            "smithy.api#required": {}
          }
        },
        "retries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unsuccessful retries needed until a target is considered unhealthy; an unhealthy target needs the same number of successful retries to become healthy again.",
            "smithy.api#required": {}
          }
        },
        "http": {
          "target": "com.hetzner.load_balancers#ServiceHTTPProtocolHealthCheckHttp",
          "traits": {
            "smithy.api#documentation": "Additional configuration for protocol http."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service health check."
      }
    },
    "com.hetzner.load_balancers#ServiceHTTPProtocolHttp": {
      "type": "structure",
      "members": {
        "cookie_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the cookie used for sticky sessions.",
            "smithy.api#required": {}
          }
        },
        "cookie_lifetime": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lifetime of the cookie used for sticky sessions (in seconds).",
            "smithy.api#required": {}
          }
        },
        "timeout_idle": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Idle timeout in seconds for the client and server side.",
            "smithy.api#required": {}
          }
        },
        "sticky_sessions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use sticky sessions.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration option for protocol http."
      }
    },
    "com.hetzner.load_balancers#ServiceHTTPSProtocol": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "com.hetzner.load_balancers#ServiceHTTPSProtocolProtocol",
          "traits": {
            "smithy.api#documentation": "Protocol of the Load Balancer.",
            "smithy.api#required": {}
          }
        },
        "listen_port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port the Load Balancer listens on.",
            "smithy.api#required": {}
          }
        },
        "destination_port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port the Load Balancer will balance to.",
            "smithy.api#required": {}
          }
        },
        "proxyprotocol": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is Proxyprotocol enabled or not.",
            "smithy.api#required": {}
          }
        },
        "health_check": {
          "target": "com.hetzner.load_balancers#ServiceHTTPSProtocolHealthCheck",
          "traits": {
            "smithy.api#documentation": "Service health check.",
            "smithy.api#required": {}
          }
        },
        "http": {
          "target": "com.hetzner.load_balancers#ServiceHTTPSProtocolHttp",
          "traits": {
            "smithy.api#documentation": "Configuration option for protocol https.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#ServiceHTTPSProtocolProtocol": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protocol of the Load Balancer."
      }
    },
    "com.hetzner.load_balancers#ServiceHTTPSProtocolHealthCheckProtocol": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the health check."
      }
    },
    "com.hetzner.load_balancers#ServiceHTTPSProtocolHealthCheckHttpStatusCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones."
      }
    },
    "com.hetzner.load_balancers#ServiceHTTPSProtocolHealthCheckHttp": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host header to send in the HTTP request. May not contain spaces, percent or backslash symbols. Can be null, in that case no host header is sent.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP path to use for health checks. May not contain literal spaces, use percent-encoding instead.",
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String that must be contained in HTTP response in order to pass the health check."
          }
        },
        "status_codes": {
          "target": "com.hetzner.load_balancers#ServiceHTTPSProtocolHealthCheckHttpStatusCodesList",
          "traits": {
            "smithy.api#documentation": "List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones."
          }
        },
        "tls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use HTTPS for health check."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional configuration for protocol http."
      }
    },
    "com.hetzner.load_balancers#ServiceHTTPSProtocolHealthCheck": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "com.hetzner.load_balancers#ServiceHTTPSProtocolHealthCheckProtocol",
          "traits": {
            "smithy.api#documentation": "Type of the health check.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port the health check will be performed on.",
            "smithy.api#required": {}
          }
        },
        "interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time interval in seconds health checks are performed.",
            "smithy.api#required": {}
          }
        },
        "timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time in seconds after an attempt is considered a timeout.",
            "smithy.api#required": {}
          }
        },
        "retries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unsuccessful retries needed until a target is considered unhealthy; an unhealthy target needs the same number of successful retries to become healthy again.",
            "smithy.api#required": {}
          }
        },
        "http": {
          "target": "com.hetzner.load_balancers#ServiceHTTPSProtocolHealthCheckHttp",
          "traits": {
            "smithy.api#documentation": "Additional configuration for protocol http."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service health check."
      }
    },
    "com.hetzner.load_balancers#ServiceHTTPSProtocolHttpCertificatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "IDs of the Certificates to use for TLS/SSL termination by the Load Balancer; empty for TLS/SSL passthrough."
      }
    },
    "com.hetzner.load_balancers#ServiceHTTPSProtocolHttp": {
      "type": "structure",
      "members": {
        "cookie_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the cookie used for sticky sessions.",
            "smithy.api#required": {}
          }
        },
        "cookie_lifetime": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lifetime of the cookie used for sticky sessions (in seconds).",
            "smithy.api#required": {}
          }
        },
        "timeout_idle": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Idle timeout in seconds for the client and server side.",
            "smithy.api#required": {}
          }
        },
        "certificates": {
          "target": "com.hetzner.load_balancers#ServiceHTTPSProtocolHttpCertificatesList",
          "traits": {
            "smithy.api#documentation": "IDs of the Certificates to use for TLS/SSL termination by the Load Balancer; empty for TLS/SSL passthrough.",
            "smithy.api#required": {}
          }
        },
        "redirect_http": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Redirect HTTP requests to HTTPS.",
            "smithy.api#required": {}
          }
        },
        "sticky_sessions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use sticky sessions.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration option for protocol https."
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemServicesItem": {
      "type": "union",
      "members": {
        "ServiceTCP": {
          "target": "com.hetzner.load_balancers#ServiceTCP"
        },
        "ServiceHTTPProtocol": {
          "target": "com.hetzner.load_balancers#ServiceHTTPProtocol"
        },
        "ServiceHTTPSProtocol": {
          "target": "com.hetzner.load_balancers#ServiceHTTPSProtocol"
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemServicesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemServicesItem"
      },
      "traits": {
        "smithy.api#documentation": "List of services that belong to this Load Balancer."
      }
    },
    "com.hetzner.load_balancers#TargetTypeServer": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.hetzner.load_balancers#TargetTypeServerType",
          "traits": {
            "smithy.api#documentation": "Type of the resource.",
            "smithy.api#required": {}
          }
        },
        "server": {
          "target": "com.hetzner.load_balancers#TargetTypeServerServer",
          "traits": {
            "smithy.api#documentation": "Server where the traffic should be routed to. Only present for target type \"server\".",
            "smithy.api#required": {}
          }
        },
        "health_status": {
          "target": "com.hetzner.load_balancers#TargetTypeServerHealthStatusList",
          "traits": {
            "smithy.api#documentation": "List of health statuses of the services on this target. Only present for target types \"server\" and \"ip\".",
            "smithy.api#required": {}
          }
        },
        "use_private_ip": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use the private network IP instead of the public IP. Only present for target types \"server\" and \"label_selector\".",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#TargetTypeServerType": {
      "type": "enum",
      "members": {
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        },
        "LABEL_SELECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label_selector"
          }
        },
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the resource."
      }
    },
    "com.hetzner.load_balancers#TargetTypeServerServer": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Server.",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP of the Server that the traffic is routed to. Either the Server's primary IPv4 or, if an IPv6 was specified when adding the target, an IPv6 within the Server's /64 subnet.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server where the traffic should be routed to. Only present for target type \"server\"."
      }
    },
    "com.hetzner.load_balancers#TargetTypeServerHealthStatusItemStatus": {
      "type": "enum",
      "members": {
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "healthy"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unhealthy"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#TargetTypeServerHealthStatusItem": {
      "type": "structure",
      "members": {
        "listen_port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.load_balancers#TargetTypeServerHealthStatusItemStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#TargetTypeServerHealthStatusList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#TargetTypeServerHealthStatusItem"
      },
      "traits": {
        "smithy.api#documentation": "List of health statuses of the services on this target. Only present for target types \"server\" and \"ip\"."
      }
    },
    "com.hetzner.load_balancers#TargetTypeLabelSelector": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.hetzner.load_balancers#TargetTypeLabelSelectorType",
          "traits": {
            "smithy.api#documentation": "Type of the resource.",
            "smithy.api#required": {}
          }
        },
        "label_selector": {
          "target": "com.hetzner.load_balancers#TargetTypeLabelSelectorLabelSelector",
          "traits": {
            "smithy.api#documentation": "Label selector used to determine targets. Only present for target type \"label_selector\".",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.hetzner.load_balancers#TargetTypeLabelSelectorTargetsList",
          "traits": {
            "smithy.api#documentation": "List of resolved label selector target Servers.",
            "smithy.api#required": {}
          }
        },
        "use_private_ip": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use the private network IP instead of the public IP. Only present for target types \"server\" and \"label_selector\".",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#TargetTypeLabelSelectorType": {
      "type": "enum",
      "members": {
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        },
        "LABEL_SELECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label_selector"
          }
        },
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the resource."
      }
    },
    "com.hetzner.load_balancers#TargetTypeLabelSelectorLabelSelector": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label selector.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Label selector used to determine targets. Only present for target type \"label_selector\"."
      }
    },
    "com.hetzner.load_balancers#TargetTypeLabelSelectorTargetsItemServer": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Server.",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP of the Server that the traffic is routed to. Either the Server's primary IPv4 or, if an IPv6 was specified when adding the target, an IPv6 within the Server's /64 subnet.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server where the traffic should be routed to. Only present for target type \"server\"."
      }
    },
    "com.hetzner.load_balancers#TargetTypeLabelSelectorTargetsItemHealthStatusItemStatus": {
      "type": "enum",
      "members": {
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "healthy"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unhealthy"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#TargetTypeLabelSelectorTargetsItemHealthStatusItem": {
      "type": "structure",
      "members": {
        "listen_port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.load_balancers#TargetTypeLabelSelectorTargetsItemHealthStatusItemStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#TargetTypeLabelSelectorTargetsItemHealthStatusList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#TargetTypeLabelSelectorTargetsItemHealthStatusItem"
      },
      "traits": {
        "smithy.api#documentation": "List of health statuses of the services on this target. Only present for target types \"server\" and \"ip\"."
      }
    },
    "com.hetzner.load_balancers#TargetTypeLabelSelectorTargetsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource. Here always \"server\".",
            "smithy.api#required": {}
          }
        },
        "server": {
          "target": "com.hetzner.load_balancers#TargetTypeLabelSelectorTargetsItemServer",
          "traits": {
            "smithy.api#documentation": "Server where the traffic should be routed to. Only present for target type \"server\".",
            "smithy.api#required": {}
          }
        },
        "health_status": {
          "target": "com.hetzner.load_balancers#TargetTypeLabelSelectorTargetsItemHealthStatusList",
          "traits": {
            "smithy.api#documentation": "List of health statuses of the services on this target. Only present for target types \"server\" and \"ip\".",
            "smithy.api#required": {}
          }
        },
        "use_private_ip": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use the private network IP instead of the public IP. Only present for target types \"server\" and \"label_selector\".",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#TargetTypeLabelSelectorTargetsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#TargetTypeLabelSelectorTargetsItem"
      },
      "traits": {
        "smithy.api#documentation": "List of resolved label selector target Servers."
      }
    },
    "com.hetzner.load_balancers#TargetTypeIP": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.hetzner.load_balancers#TargetTypeIPType",
          "traits": {
            "smithy.api#documentation": "Type of the resource.",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "com.hetzner.load_balancers#TargetTypeIPIp",
          "traits": {
            "smithy.api#documentation": "IP target where the traffic should be routed to. It is only possible to use the (Public or vSwitch) IPs of Hetzner Online Root Servers belonging to the project owner. IPs belonging to other users are blocked. Additionally IPs belonging to services provided by Hetzner Cloud (Servers, Load Balancers, ...) are blocked as well. Only present for target type `ip`.",
            "smithy.api#required": {}
          }
        },
        "health_status": {
          "target": "com.hetzner.load_balancers#TargetTypeIPHealthStatusList",
          "traits": {
            "smithy.api#documentation": "List of health statuses of the services on this target. Only present for target types \"server\" and \"ip\".",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#TargetTypeIPType": {
      "type": "enum",
      "members": {
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        },
        "LABEL_SELECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label_selector"
          }
        },
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the resource."
      }
    },
    "com.hetzner.load_balancers#TargetTypeIPIp": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP of a server that belongs to the same customer (public IPv4/IPv6) or private IP in a subnet type vswitch.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP target where the traffic should be routed to. It is only possible to use the (Public or vSwitch) IPs of Hetzner Online Root Servers belonging to the project owner. IPs belonging to other users are blocked. Additionally IPs belonging to services provided by Hetzner Cloud (Servers, Load Balancers, ...) are blocked as well. Only present for target type `ip`."
      }
    },
    "com.hetzner.load_balancers#TargetTypeIPHealthStatusItemStatus": {
      "type": "enum",
      "members": {
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "healthy"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unhealthy"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#TargetTypeIPHealthStatusItem": {
      "type": "structure",
      "members": {
        "listen_port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.load_balancers#TargetTypeIPHealthStatusItemStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#TargetTypeIPHealthStatusList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#TargetTypeIPHealthStatusItem"
      },
      "traits": {
        "smithy.api#documentation": "List of health statuses of the services on this target. Only present for target types \"server\" and \"ip\"."
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemTargetsItem": {
      "type": "union",
      "members": {
        "TargetTypeServer": {
          "target": "com.hetzner.load_balancers#TargetTypeServer"
        },
        "TargetTypeLabelSelector": {
          "target": "com.hetzner.load_balancers#TargetTypeLabelSelector"
        },
        "TargetTypeIP": {
          "target": "com.hetzner.load_balancers#TargetTypeIP"
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemTargetsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemTargetsItem"
      },
      "traits": {
        "smithy.api#documentation": "List of targets that belong to this Load Balancer."
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemAlgorithmType": {
      "type": "enum",
      "members": {
        "ROUND_ROBIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "round_robin"
          }
        },
        "LEAST_CONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "least_connections"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the algorithm."
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemAlgorithm": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemAlgorithmType",
          "traits": {
            "smithy.api#documentation": "Type of the algorithm.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Algorithm of the Load Balancer."
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Load Balancer](#tag/load-balancers).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Resource. Must be unique per Project.",
            "smithy.api#required": {}
          }
        },
        "public_net": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemPublicNet",
          "traits": {
            "smithy.api#documentation": "Public network information.",
            "smithy.api#required": {}
          }
        },
        "private_net": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemPrivateNetList",
          "traits": {
            "smithy.api#documentation": "Private networks information.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLocation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "load_balancer_type": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLoadBalancerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "protection": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemProtection",
          "traits": {
            "smithy.api#documentation": "Protection configuration for the Resource.",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "services": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemServicesList",
          "traits": {
            "smithy.api#documentation": "List of services that belong to this Load Balancer.",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemTargetsList",
          "traits": {
            "smithy.api#documentation": "List of targets that belong to this Load Balancer.",
            "smithy.api#required": {}
          }
        },
        "algorithm": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItemAlgorithm",
          "traits": {
            "smithy.api#documentation": "Algorithm of the Load Balancer.",
            "smithy.api#required": {}
          }
        },
        "outgoing_traffic": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Outbound Traffic for the current billing period in bytes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ingoing_traffic": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Inbound Traffic for the current billing period in bytes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "included_traffic": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Free Traffic for the current billing period in bytes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersItem"
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseMetaPagination": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current page number.",
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of entries returned per page.",
            "smithy.api#required": {}
          }
        },
        "previous_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the previous page. Can be null if the current page is the first one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the next page. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the last page available. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_entries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of entries that exist for this query. Can be null if unknown.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information."
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponseMeta": {
      "type": "structure",
      "members": {
        "pagination": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseMetaPagination",
          "traits": {
            "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#ListLoadBalancersResponse": {
      "type": "structure",
      "members": {
        "load_balancers": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseLoadBalancersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.hetzner.load_balancers#ListLoadBalancersResponseMeta",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.load_balancers#ListLoadBalancers": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.load_balancers#ListLoadBalancersRequest"
      },
      "output": {
        "target": "com.hetzner.load_balancers#ListLoadBalancersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/load_balancers",
          "code": 200
        },
        "smithy.api#documentation": "List Load Balancers\n\nGets all existing Load Balancers that you have available.",
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "meta.pagination.next_page",
          "items": "load_balancers",
          "pageSize": "per_page"
        }
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerRequestAlgorithmType": {
      "type": "enum",
      "members": {
        "ROUND_ROBIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "round_robin"
          }
        },
        "LEAST_CONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "least_connections"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the algorithm."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerRequestAlgorithm": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerRequestAlgorithmType",
          "traits": {
            "smithy.api#documentation": "Type of the algorithm.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Algorithm of the Load Balancer."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerRequestServicesItem": {
      "type": "union",
      "members": {
        "ServiceTCP": {
          "target": "com.hetzner.load_balancers#ServiceTCP"
        },
        "ServiceHTTPProtocol": {
          "target": "com.hetzner.load_balancers#ServiceHTTPProtocol"
        },
        "ServiceHTTPSProtocol": {
          "target": "com.hetzner.load_balancers#ServiceHTTPSProtocol"
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#CreateLoadBalancerRequestServicesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#CreateLoadBalancerRequestServicesItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of services."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerRequestTargetsItemType": {
      "type": "enum",
      "members": {
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        },
        "LABEL_SELECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label_selector"
          }
        },
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the resource."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerRequestTargetsItemServer": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Server.",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional public IP of the Server to use as target.\nMust be the Primary IPv4 of the Server, or an IPv6 host address within IPv6 /64 subnet of the Server. If omitted, the Primary IPv4 of the Server is used. Must not be a private IP and is only valid for public targets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for type Server, only valid and required if type is `server`."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerRequestTargetsItemLabelSelector": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label selector.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for label selector targets, only valid and required if type is `label_selector`."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerRequestTargetsItemIp": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP of a server that belongs to the same customer (public IPv4/IPv6) or private IP in a subnet type vswitch.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for an IP target. It is only possible to use the (Public or vSwitch) IPs of Hetzner Online Root Servers belonging to the project owner. IPs belonging to other users are blocked. Additionally IPs belonging to services provided by Hetzner Cloud (Servers, Load Balancers, ...) are blocked as well. Only valid and required if type is `ip`."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerRequestTargetsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerRequestTargetsItemType",
          "traits": {
            "smithy.api#documentation": "Type of the resource.",
            "smithy.api#required": {}
          }
        },
        "server": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerRequestTargetsItemServer",
          "traits": {
            "smithy.api#documentation": "Configuration for type Server, only valid and required if type is `server`."
          }
        },
        "label_selector": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerRequestTargetsItemLabelSelector",
          "traits": {
            "smithy.api#documentation": "Configuration for label selector targets, only valid and required if type is `label_selector`."
          }
        },
        "ip": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerRequestTargetsItemIp",
          "traits": {
            "smithy.api#documentation": "Configuration for an IP target. It is only possible to use the (Public or vSwitch) IPs of Hetzner Online Root Servers belonging to the project owner. IPs belonging to other users are blocked. Additionally IPs belonging to services provided by Hetzner Cloud (Servers, Load Balancers, ...) are blocked as well. Only valid and required if type is `ip`."
          }
        },
        "use_private_ip": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use the private network IP instead of the public IP of the Server, requires the Server and Load Balancer to be in the same network. Only valid for target types `server` and `label_selector`."
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#CreateLoadBalancerRequestTargetsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#CreateLoadBalancerRequestTargetsItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of targets."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerRequestLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Load Balancer.",
            "smithy.api#required": {}
          }
        },
        "load_balancer_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID or name of the Load Balancer type this Load Balancer should be created with.",
            "smithy.api#required": {}
          }
        },
        "algorithm": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerRequestAlgorithm",
          "traits": {
            "smithy.api#documentation": "Algorithm of the Load Balancer."
          }
        },
        "services": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerRequestServicesList",
          "traits": {
            "smithy.api#documentation": "Array of services."
          }
        },
        "targets": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerRequestTargetsList",
          "traits": {
            "smithy.api#documentation": "Array of targets."
          }
        },
        "labels": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerRequestLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
          }
        },
        "public_interface": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable or disable the public interface of the Load Balancer."
          }
        },
        "network": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the network the Load Balancer should be attached to on creation."
          }
        },
        "network_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of network zone."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID or name of Location to create Load Balancer in."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerPublicNetIpv4": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (v4) of this Load Balancer.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reverse DNS PTR entry for the IPv4 address of this Load Balancer.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP address (v4)."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerPublicNetIpv6": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (v6) of this Load Balancer.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reverse DNS PTR entry for the IPv6 address of this Load Balancer.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP address (v6)."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerPublicNet": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Public Interface enabled or not.",
            "smithy.api#required": {}
          }
        },
        "ipv4": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerPublicNetIpv4",
          "traits": {
            "smithy.api#documentation": "IP address (v4).",
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerPublicNetIpv6",
          "traits": {
            "smithy.api#documentation": "IP address (v6).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public network information."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerPrivateNetItem": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Network.",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (v4) of this Load Balancer in this Network.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerPrivateNetList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerPrivateNetItem"
      },
      "traits": {
        "smithy.api#documentation": "Private networks information."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable description of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country the [Location](#tag/locations) resides in.\n\nISO 3166-1 alpha-2 code of the country.\n",
            "smithy.api#required": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the closest city to the [Location](#tag/locations).\n\nCity name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.\n",
            "smithy.api#required": {}
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "network_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Network Zone this [Location](#tag/locations) resides in.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLoadBalancerTypeDeprecation": {
      "type": "structure",
      "members": {
        "unavailable_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the deprecated resource removal.\n\nOnce this date is reached, the resource will not be returned\nby resource type \"list\" endpoint, and the resource can not be\nused to create new resources. For example, if this is an\nimage, you can not create new servers with this image after\nthe mentioned date.\n",
            "smithy.api#required": {}
          }
        },
        "announced": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the deprecation announcement.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes if, when and how the resource is deprecated. If this field is\nset to `null` the resource is not deprecated. If a value is set, it is\nconsidered deprecated.\n"
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLoadBalancerTypePricesItemPriceHourly": {
      "type": "structure",
      "members": {
        "net": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price without VAT.",
            "smithy.api#required": {}
          }
        },
        "gross": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price with VAT added.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hourly price in this [Location](#tag/locations)."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLoadBalancerTypePricesItemPriceMonthly": {
      "type": "structure",
      "members": {
        "net": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price without VAT.",
            "smithy.api#required": {}
          }
        },
        "gross": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price with VAT added.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Monthly price in this [Location](#tag/locations)."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLoadBalancerTypePricesItemPricePerTbTraffic": {
      "type": "structure",
      "members": {
        "net": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price without VAT.",
            "smithy.api#required": {}
          }
        },
        "gross": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price with VAT added.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional traffic price per TB in this [Location](#tag/locations)."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLoadBalancerTypePricesItem": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the [Location](#tag/locations) the price is for.",
            "smithy.api#required": {}
          }
        },
        "price_hourly": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLoadBalancerTypePricesItemPriceHourly",
          "traits": {
            "smithy.api#documentation": "Hourly price in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "price_monthly": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLoadBalancerTypePricesItemPriceMonthly",
          "traits": {
            "smithy.api#documentation": "Monthly price in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "included_traffic": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Free traffic per month in bytes in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "price_per_tb_traffic": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLoadBalancerTypePricesItemPricePerTbTraffic",
          "traits": {
            "smithy.api#documentation": "Additional traffic price per TB in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLoadBalancerTypePricesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLoadBalancerTypePricesItem"
      },
      "traits": {
        "smithy.api#documentation": "Price per [Location](#tag/locations)."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLoadBalancerType": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Load Balancer type.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Load Balancer type.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Load Balancer type.",
            "smithy.api#required": {}
          }
        },
        "max_connections": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of maximum simultaneous open connections.",
            "smithy.api#required": {}
          }
        },
        "max_services": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of services a Load Balancer of this type can have.",
            "smithy.api#required": {}
          }
        },
        "max_targets": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of targets a single Load Balancer can have.",
            "smithy.api#required": {}
          }
        },
        "max_assigned_certificates": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of SSL Certificates that can be assigned to a single Load Balancer.",
            "smithy.api#required": {}
          }
        },
        "deprecated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "**Deprecated:** This field is deprecated. Use the `deprecation` object instead.\n\nPoint in time when the Load Balancer type is deprecated (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "deprecation": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLoadBalancerTypeDeprecation",
          "traits": {
            "smithy.api#documentation": "Describes if, when and how the resource is deprecated. If this field is\nset to `null` the resource is not deprecated. If a value is set, it is\nconsidered deprecated.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prices": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLoadBalancerTypePricesList",
          "traits": {
            "smithy.api#documentation": "Price per [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerProtection": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent the Resource from being deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protection configuration for the Resource."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerServicesItem": {
      "type": "union",
      "members": {
        "ServiceTCP": {
          "target": "com.hetzner.load_balancers#ServiceTCP"
        },
        "ServiceHTTPProtocol": {
          "target": "com.hetzner.load_balancers#ServiceHTTPProtocol"
        },
        "ServiceHTTPSProtocol": {
          "target": "com.hetzner.load_balancers#ServiceHTTPSProtocol"
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerServicesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerServicesItem"
      },
      "traits": {
        "smithy.api#documentation": "List of services that belong to this Load Balancer."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerTargetsItem": {
      "type": "union",
      "members": {
        "TargetTypeServer": {
          "target": "com.hetzner.load_balancers#TargetTypeServer"
        },
        "TargetTypeLabelSelector": {
          "target": "com.hetzner.load_balancers#TargetTypeLabelSelector"
        },
        "TargetTypeIP": {
          "target": "com.hetzner.load_balancers#TargetTypeIP"
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerTargetsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerTargetsItem"
      },
      "traits": {
        "smithy.api#documentation": "List of targets that belong to this Load Balancer."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerAlgorithmType": {
      "type": "enum",
      "members": {
        "ROUND_ROBIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "round_robin"
          }
        },
        "LEAST_CONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "least_connections"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the algorithm."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerAlgorithm": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerAlgorithmType",
          "traits": {
            "smithy.api#documentation": "Type of the algorithm.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Algorithm of the Load Balancer."
      }
    },
    "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancer": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Load Balancer](#tag/load-balancers).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Resource. Must be unique per Project.",
            "smithy.api#required": {}
          }
        },
        "public_net": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerPublicNet",
          "traits": {
            "smithy.api#documentation": "Public network information.",
            "smithy.api#required": {}
          }
        },
        "private_net": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerPrivateNetList",
          "traits": {
            "smithy.api#documentation": "Private networks information.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLocation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "load_balancer_type": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLoadBalancerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "protection": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerProtection",
          "traits": {
            "smithy.api#documentation": "Protection configuration for the Resource.",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "services": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerServicesList",
          "traits": {
            "smithy.api#documentation": "List of services that belong to this Load Balancer.",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerTargetsList",
          "traits": {
            "smithy.api#documentation": "List of targets that belong to this Load Balancer.",
            "smithy.api#required": {}
          }
        },
        "algorithm": {
          "target": "com.hetzner.load_balancers#CreateLoadBalancerResponseLoadBalancerAlgorithm",
          "traits": {
            "smithy.api#documentation": "Algorithm of the Load Balancer.",
            "smithy.api#required": {}
          }
        },
        "outgoing_traffic": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Outbound Traffic for the current billing period in bytes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ingoing_traffic": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Inbound Traffic for the current billing period in bytes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "included_traffic": {
[...]
