{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.hetzner.load_balancer_actions#ListLoadBalancersActionsRequestIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancersActionsRequestSortItem": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "ID_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:asc"
          }
        },
        "ID_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:desc"
          }
        },
        "COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command"
          }
        },
        "COMMAND_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command:asc"
          }
        },
        "COMMAND_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command:desc"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        },
        "STATUS_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status:asc"
          }
        },
        "STATUS_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status:desc"
          }
        },
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started"
          }
        },
        "STARTED_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started:asc"
          }
        },
        "STARTED_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started:desc"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished"
          }
        },
        "FINISHED_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished:asc"
          }
        },
        "FINISHED_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished:desc"
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancersActionsRequestSortList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#ListLoadBalancersActionsRequestSortItem"
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancersActionsRequestStatusItem": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancersActionsRequestStatusList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#ListLoadBalancersActionsRequestStatusItem"
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancersActionsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancersActionsRequestIdList",
          "traits": {
            "smithy.api#httpQuery": "id",
            "smithy.api#documentation": "Filter the actions by ID. May be used multiple times.\n\nThe response will only contain actions matching the specified IDs.\n"
          }
        },
        "sort": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancersActionsRequestSortList",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sort actions by field and direction. May be used multiple times.\n\nFor more information, see \"[Sorting](#description/sorting)\".\n"
          }
        },
        "status": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancersActionsRequestStatusList",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter the actions by status. May be used multiple times.\n\nThe response will only contain actions matching the specified statuses.\n"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number to return. For more information, see \"[Pagination](#description/pagination)\"."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Maximum number of entries returned per page. For more information, see \"[Pagination](#description/pagination)\"."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseActionsItemStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseActionsItemResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseActionsItemResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseActionsItemResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseActionsItemError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseActionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseActionsItemStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseActionsItemResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseActionsItemError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseActionsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseActionsItem"
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseMetaPagination": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current page number.",
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of entries returned per page.",
            "smithy.api#required": {}
          }
        },
        "previous_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the previous page. Can be null if the current page is the first one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the next page. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the last page available. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_entries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of entries that exist for this query. Can be null if unknown.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information."
      }
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseMeta": {
      "type": "structure",
      "members": {
        "pagination": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseMetaPagination",
          "traits": {
            "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponse": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseActionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponseMeta",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancersActions": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.load_balancer_actions#ListLoadBalancersActionsRequest"
      },
      "output": {
        "target": "com.hetzner.load_balancer_actions#ListLoadBalancersActionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/load_balancers/actions",
          "code": 200
        },
        "smithy.api#documentation": "List Actions\n\nReturns all Action objects. You can `sort` the results by using the sort URI parameter, and filter them with the `status` and `id` parameter.",
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "meta.pagination.next_page",
          "items": "actions",
          "pageSize": "per_page"
        }
      }
    },
    "com.hetzner.load_balancer_actions#GetLoadBalancersActionRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Action."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.load_balancer_actions#GetLoadBalancersActionResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.load_balancer_actions#GetLoadBalancersActionResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#GetLoadBalancersActionResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#GetLoadBalancersActionResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.load_balancer_actions#GetLoadBalancersActionResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.load_balancer_actions#GetLoadBalancersActionResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.load_balancer_actions#GetLoadBalancersActionResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.load_balancer_actions#GetLoadBalancersActionResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.load_balancer_actions#GetLoadBalancersActionResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#GetLoadBalancersActionResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.load_balancer_actions#GetLoadBalancersActionResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.load_balancer_actions#GetLoadBalancersAction": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.load_balancer_actions#GetLoadBalancersActionRequest"
      },
      "output": {
        "target": "com.hetzner.load_balancer_actions#GetLoadBalancersActionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/load_balancers/actions/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get an Action\n\nReturns a specific Action object."
      }
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancerActionsRequestSortItem": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "ID_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:asc"
          }
        },
        "ID_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:desc"
          }
        },
        "COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command"
          }
        },
        "COMMAND_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command:asc"
          }
        },
        "COMMAND_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command:desc"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        },
        "STATUS_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status:asc"
          }
        },
        "STATUS_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status:desc"
          }
        },
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started"
          }
        },
        "STARTED_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started:asc"
          }
        },
        "STARTED_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started:desc"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished"
          }
        },
        "FINISHED_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished:asc"
          }
        },
        "FINISHED_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished:desc"
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancerActionsRequestSortList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#ListLoadBalancerActionsRequestSortItem"
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancerActionsRequestStatusItem": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancerActionsRequestStatusList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#ListLoadBalancerActionsRequestStatusItem"
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancerActionsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Load Balancer."
          }
        },
        "sort": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancerActionsRequestSortList",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sort actions by field and direction. May be used multiple times.\n\nFor more information, see \"[Sorting](#description/sorting)\".\n"
          }
        },
        "status": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancerActionsRequestStatusList",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter the actions by status. May be used multiple times.\n\nThe response will only contain actions matching the specified statuses.\n"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number to return. For more information, see \"[Pagination](#description/pagination)\"."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Maximum number of entries returned per page. For more information, see \"[Pagination](#description/pagination)\"."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseActionsItemStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseActionsItemResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseActionsItemResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseActionsItemResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseActionsItemError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseActionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseActionsItemStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseActionsItemResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseActionsItemError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseActionsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseActionsItem"
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseMetaPagination": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current page number.",
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of entries returned per page.",
            "smithy.api#required": {}
          }
        },
        "previous_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the previous page. Can be null if the current page is the first one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the next page. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the last page available. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_entries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of entries that exist for this query. Can be null if unknown.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information."
      }
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseMeta": {
      "type": "structure",
      "members": {
        "pagination": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseMetaPagination",
          "traits": {
            "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponse": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseActionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponseMeta",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.load_balancer_actions#ListLoadBalancerActions": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.load_balancer_actions#ListLoadBalancerActionsRequest"
      },
      "output": {
        "target": "com.hetzner.load_balancer_actions#ListLoadBalancerActionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/load_balancers/{id}/actions",
          "code": 200
        },
        "smithy.api#documentation": "List Actions for a Load Balancer\n\nReturns all Action objects for a Load Balancer. You can sort the results by using the `sort` URI parameter, and filter them with the `status` parameter.",
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "meta.pagination.next_page",
          "items": "actions",
          "pageSize": "per_page"
        }
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequestProtocol": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protocol of the Load Balancer."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequestHealthCheckProtocol": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the health check."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequestHealthCheckHttpStatusCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequestHealthCheckHttp": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host header to send in the HTTP request. May not contain spaces, percent or backslash symbols. Can be null, in that case no host header is sent.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP path to use for health checks. May not contain literal spaces, use percent-encoding instead."
          }
        },
        "response": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String that must be contained in HTTP response in order to pass the health check."
          }
        },
        "status_codes": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequestHealthCheckHttpStatusCodesList",
          "traits": {
            "smithy.api#documentation": "List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones."
          }
        },
        "tls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use HTTPS for health check."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional configuration for protocol http."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequestHealthCheck": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequestHealthCheckProtocol",
          "traits": {
            "smithy.api#documentation": "Type of the health check.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port the health check will be performed on.",
            "smithy.api#required": {}
          }
        },
        "interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time interval in seconds health checks are performed.",
            "smithy.api#required": {}
          }
        },
        "timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time in seconds after an attempt is considered a timeout.",
            "smithy.api#required": {}
          }
        },
        "retries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unsuccessful retries needed until a target is considered unhealthy; an unhealthy target needs the same number of successful retries to become healthy again.",
            "smithy.api#required": {}
          }
        },
        "http": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequestHealthCheckHttp",
          "traits": {
            "smithy.api#documentation": "Additional configuration for protocol http."
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequestHttpCertificatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "IDs of the Certificates to use for TLS/SSL termination by the Load Balancer; empty for TLS/SSL passthrough or if `protocol` is `http`."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequestHttp": {
      "type": "structure",
      "members": {
        "cookie_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the cookie used for sticky sessions."
          }
        },
        "cookie_lifetime": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lifetime of the cookie used for sticky sessions (in seconds)."
          }
        },
        "timeout_idle": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Idle timeout in seconds for the client and server side."
          }
        },
        "certificates": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequestHttpCertificatesList",
          "traits": {
            "smithy.api#documentation": "IDs of the Certificates to use for TLS/SSL termination by the Load Balancer; empty for TLS/SSL passthrough or if `protocol` is `http`."
          }
        },
        "redirect_http": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Redirect HTTP requests to HTTPS. Only available if `protocol` is `https`."
          }
        },
        "sticky_sessions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use sticky sessions. Only available if `protocol` is `http` or `https`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration option for protocols http and https."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Load Balancer."
          }
        },
        "protocol": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequestProtocol",
          "traits": {
            "smithy.api#documentation": "Protocol of the Load Balancer.",
            "smithy.api#required": {}
          }
        },
        "listen_port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port the Load Balancer listens on.",
            "smithy.api#required": {}
          }
        },
        "destination_port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port the Load Balancer will balance to.",
            "smithy.api#required": {}
          }
        },
        "proxyprotocol": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is Proxyprotocol enabled or not.",
            "smithy.api#required": {}
          }
        },
        "health_check": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequestHealthCheck",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "http": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequestHttp",
          "traits": {
            "smithy.api#documentation": "Configuration option for protocols http and https."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerServiceResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerServiceResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerServiceResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#AddLoadBalancerServiceResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerServiceResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerServiceResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerServiceResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerServiceResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerServiceResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerServiceResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerServiceResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerService": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.load_balancer_actions#AddLoadBalancerServiceRequest"
      },
      "output": {
        "target": "com.hetzner.load_balancer_actions#AddLoadBalancerServiceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/load_balancers/{id}/actions/add_service",
          "code": 200
        },
        "smithy.api#documentation": "Add Service\n\nAdds a service to a Load Balancer.\n\n#### Operation specific errors"
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerTargetRequestType": {
      "type": "enum",
      "members": {
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        },
        "LABEL_SELECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label_selector"
          }
        },
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the resource."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerTargetRequestServer": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Server.",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional public IP of the Server to use as target.\nMust be the Primary IPv4 of the Server, or an IPv6 host address within IPv6 /64 subnet of the Server. If omitted, the Primary IPv4 of the Server is used. Must not be a private IP and is only valid for public targets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for type Server, only valid and required if type is `server`."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerTargetRequestLabelSelector": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label selector.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for label selector targets, only valid and required if type is `label_selector`."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerTargetRequestIp": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP of a server that belongs to the same customer (public IPv4/IPv6) or private IP in a subnet type vswitch.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for an IP target. It is only possible to use the (Public or vSwitch) IPs of Hetzner Online Root Servers belonging to the project owner. IPs belonging to other users are blocked. Additionally IPs belonging to services provided by Hetzner Cloud (Servers, Load Balancers, ...) are blocked as well. Only valid and required if type is `ip`."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerTargetRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Load Balancer."
          }
        },
        "type": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerTargetRequestType",
          "traits": {
            "smithy.api#documentation": "Type of the resource.",
            "smithy.api#required": {}
          }
        },
        "server": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerTargetRequestServer",
          "traits": {
            "smithy.api#documentation": "Configuration for type Server, only valid and required if type is `server`."
          }
        },
        "label_selector": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerTargetRequestLabelSelector",
          "traits": {
            "smithy.api#documentation": "Configuration for label selector targets, only valid and required if type is `label_selector`."
          }
        },
        "ip": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerTargetRequestIp",
          "traits": {
            "smithy.api#documentation": "Configuration for an IP target. It is only possible to use the (Public or vSwitch) IPs of Hetzner Online Root Servers belonging to the project owner. IPs belonging to other users are blocked. Additionally IPs belonging to services provided by Hetzner Cloud (Servers, Load Balancers, ...) are blocked as well. Only valid and required if type is `ip`."
          }
        },
        "use_private_ip": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use the private network IP instead of the public IP of the Server, requires the Server and Load Balancer to be in the same network. Only valid for target types `server` and `label_selector`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerTargetResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerTargetResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerTargetResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#AddLoadBalancerTargetResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerTargetResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerTargetResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerTargetResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerTargetResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerTargetResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerTargetResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.load_balancer_actions#AddLoadBalancerTargetResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.load_balancer_actions#AddLoadBalancerTarget": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.load_balancer_actions#AddLoadBalancerTargetRequest"
      },
      "output": {
        "target": "com.hetzner.load_balancer_actions#AddLoadBalancerTargetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/load_balancers/{id}/actions/add_target",
          "code": 200
        },
        "smithy.api#documentation": "Add Target\n\nAdds a target to a Load Balancer.\n\n#### Operation specific errors"
      }
    },
    "com.hetzner.load_balancer_actions#AttachLoadBalancerToNetworkRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Load Balancer."
          }
        },
        "network": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of an existing network to attach the Load Balancer to.",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP to request to be assigned to this Load Balancer; if you do not provide this then you will be auto assigned an IP address."
          }
        },
        "ip_range": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP range in CIDR block notation of the subnet to attach to.\n\nThis allows for auto assigning an IP address for a specific subnet.\nProviding `ip` that is not part of `ip_range` will result in an error.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.load_balancer_actions#AttachLoadBalancerToNetworkResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.load_balancer_actions#AttachLoadBalancerToNetworkResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#AttachLoadBalancerToNetworkResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#AttachLoadBalancerToNetworkResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.load_balancer_actions#AttachLoadBalancerToNetworkResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.load_balancer_actions#AttachLoadBalancerToNetworkResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.load_balancer_actions#AttachLoadBalancerToNetworkResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.load_balancer_actions#AttachLoadBalancerToNetworkResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.load_balancer_actions#AttachLoadBalancerToNetworkResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#AttachLoadBalancerToNetworkResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.load_balancer_actions#AttachLoadBalancerToNetworkResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.load_balancer_actions#AttachLoadBalancerToNetwork": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.load_balancer_actions#AttachLoadBalancerToNetworkRequest"
      },
      "output": {
        "target": "com.hetzner.load_balancer_actions#AttachLoadBalancerToNetworkResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/load_balancers/{id}/actions/attach_to_network",
          "code": 200
        },
        "smithy.api#documentation": "Attach a Load Balancer to a Network\n\nAttach a Load Balancer to a Network.\n\n#### Operation specific errors"
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmRequestType": {
      "type": "enum",
      "members": {
        "ROUND_ROBIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "round_robin"
          }
        },
        "LEAST_CONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "least_connections"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the algorithm."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Load Balancer."
          }
        },
        "type": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmRequestType",
          "traits": {
            "smithy.api#documentation": "Type of the algorithm.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithm": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmRequest"
      },
      "output": {
        "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerAlgorithmResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/load_balancers/{id}/actions/change_algorithm",
          "code": 200
        },
        "smithy.api#documentation": "Change Algorithm\n\nChange the algorithm that determines to which target new requests are sent."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerDnsPtrRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Load Balancer."
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Single IPv4 or IPv6 address to create pointer for.\n",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain Name to point to.\n\nPTR record content used for reverse DNS. Set to null to reset (IPv4) to the default value or remove (IPv6) the record.\n",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerDnsPtrResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerDnsPtrResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerDnsPtrResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerDnsPtrResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerDnsPtrResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerDnsPtrResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerDnsPtrResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerDnsPtrResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerDnsPtrResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerDnsPtrResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerDnsPtrResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerDnsPtr": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerDnsPtrRequest"
      },
      "output": {
        "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerDnsPtrResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/load_balancers/{id}/actions/change_dns_ptr",
          "code": 200
        },
        "smithy.api#documentation": "Change reverse DNS entry for this Load Balancer\n\nChanges the hostname that will appear when getting the hostname belonging to the public IPs (IPv4 and IPv6) of this Load Balancer.\n\nFloating IPs assigned to the Server are not affected by this."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerProtectionRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Load Balancer."
          }
        },
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, prevents the Load Balancer from being deleted."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerProtectionResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerProtectionResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerProtectionResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerProtectionResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerProtectionResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerProtectionResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerProtectionResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerProtectionResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerProtectionResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerProtectionResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerProtectionResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerProtection": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerProtectionRequest"
      },
      "output": {
        "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerProtectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/load_balancers/{id}/actions/change_protection",
          "code": 200
        },
        "smithy.api#documentation": "Change Load Balancer Protection\n\nChanges the protection configuration of a Load Balancer."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerTypeRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Load Balancer."
          }
        },
        "load_balancer_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID or name of Load Balancer type the Load Balancer should migrate to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerTypeResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerTypeResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerTypeResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerTypeResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerTypeResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerTypeResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerTypeResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerTypeResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerTypeResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerTypeResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerTypeResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.load_balancer_actions#ChangeLoadBalancerType": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerTypeRequest"
      },
      "output": {
        "target": "com.hetzner.load_balancer_actions#ChangeLoadBalancerTypeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/load_balancers/{id}/actions/change_type",
          "code": 200
        },
        "smithy.api#documentation": "Change the Type of a Load Balancer\n\nChanges the type (Max Services, Max Targets and Max Connections) of a Load Balancer.\n\n#### Operation specific errors"
      }
    },
    "com.hetzner.load_balancer_actions#DeleteLoadBalancerServiceRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Load Balancer."
          }
        },
        "listen_port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The listen port of the service you want to delete.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.load_balancer_actions#DeleteLoadBalancerServiceResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.load_balancer_actions#DeleteLoadBalancerServiceResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.load_balancer_actions#DeleteLoadBalancerServiceResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.load_balancer_actions#DeleteLoadBalancerServiceResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.load_balancer_actions#DeleteLoadBalancerServiceResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.load_balancer_actions#DeleteLoadBalancerServiceResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.load_balancer_actions#DeleteLoadBalancerServiceResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
[...]
