{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.hetzner.primary_ips#ListPrimaryIpsRequestSortItem": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "ID_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:asc"
          }
        },
        "ID_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:desc"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "CREATED_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created:asc"
          }
        },
        "CREATED_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created:desc"
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.primary_ips#ListPrimaryIpsRequestSortList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.primary_ips#ListPrimaryIpsRequestSortItem"
      },
      "traits": {}
    },
    "com.hetzner.primary_ips#ListPrimaryIpsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Filter resources by their name.\n\nThe response will only contain the resources\nmatching exactly the specified name.\n"
          }
        },
        "label_selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "label_selector",
            "smithy.api#documentation": "Filter resources by labels.\n\nThe response will only contain resources matching the label selector.\nFor more information, see \"[Label Selector](#description/label-selector)\".\n"
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ip",
            "smithy.api#documentation": "Filter results by IP address."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number to return. For more information, see \"[Pagination](#description/pagination)\"."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Maximum number of entries returned per page. For more information, see \"[Pagination](#description/pagination)\"."
          }
        },
        "sort": {
          "target": "com.hetzner.primary_ips#ListPrimaryIpsRequestSortList",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sort resources by field and direction. May be used multiple times.\n\nFor more information, see \"[Sorting](#description/sorting)\".\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItemLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItemLocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable description of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country the [Location](#tag/locations) resides in.\n\nISO 3166-1 alpha-2 code of the country.\n",
            "smithy.api#required": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the closest city to the [Location](#tag/locations).\n\nCity name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.\n",
            "smithy.api#required": {}
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "network_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Network Zone this [Location](#tag/locations) resides in.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Location](#tag/locations) of the [Primary IP](#tag/primary-ips).\n"
      }
    },
    "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItemDnsPtrItem": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Single IPv4 or IPv6 address of the record.\n",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain Name to point to.\n\nPTR record content used for reverse DNS.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItemDnsPtrList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItemDnsPtrItem"
      },
      "traits": {
        "smithy.api#documentation": "List of reverse DNS records."
      }
    },
    "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItemProtection": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent the Resource from being deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protection configuration for the Resource."
      }
    },
    "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItemType": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Primary IP](#tag/primary-ips) type."
      }
    },
    "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItemAssigneeType": {
      "type": "enum",
      "members": {
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of resource the [Primary IP](#tag/primary-ips) is assigned to.\n\nAs of 01 August 2026 `unassigned` will be returned if the [Primary IP](#tag/primary-ips) is not assigned.\n"
      }
    },
    "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Primary IP](#tag/primary-ips).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Resource. Must be unique per Project.",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItemLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Blocked state of the [Primary IP](#tag/primary-ips).",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItemLocation",
          "traits": {
            "smithy.api#documentation": "[Location](#tag/locations) of the [Primary IP](#tag/primary-ips).\n",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address.",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItemDnsPtrList",
          "traits": {
            "smithy.api#documentation": "List of reverse DNS records.",
            "smithy.api#required": {}
          }
        },
        "protection": {
          "target": "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItemProtection",
          "traits": {
            "smithy.api#documentation": "Protection configuration for the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItemType",
          "traits": {
            "smithy.api#documentation": "[Primary IP](#tag/primary-ips) type.",
            "smithy.api#required": {}
          }
        },
        "auto_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Auto deletion state.\n\nIf enabled the [Primary IP](#tag/primary-ips) will be deleted once the assigned resource gets deleted.\n",
            "smithy.api#required": {}
          }
        },
        "assignee_type": {
          "target": "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItemAssigneeType",
          "traits": {
            "smithy.api#documentation": "Type of resource the [Primary IP](#tag/primary-ips) is assigned to.\n\nAs of 01 August 2026 `unassigned` will be returned if the [Primary IP](#tag/primary-ips) is not assigned.\n",
            "smithy.api#required": {}
          }
        },
        "assignee_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of resource the [Primary IP](#tag/primary-ips) is assigned to.\n\n`null` if the [Primary IP](#tag/primary-ips) is not assigned.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsItem"
      },
      "traits": {}
    },
    "com.hetzner.primary_ips#ListPrimaryIpsResponseMetaPagination": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current page number.",
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of entries returned per page.",
            "smithy.api#required": {}
          }
        },
        "previous_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the previous page. Can be null if the current page is the first one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the next page. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the last page available. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_entries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of entries that exist for this query. Can be null if unknown.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information."
      }
    },
    "com.hetzner.primary_ips#ListPrimaryIpsResponseMeta": {
      "type": "structure",
      "members": {
        "pagination": {
          "target": "com.hetzner.primary_ips#ListPrimaryIpsResponseMetaPagination",
          "traits": {
            "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.primary_ips#ListPrimaryIpsResponse": {
      "type": "structure",
      "members": {
        "primary_ips": {
          "target": "com.hetzner.primary_ips#ListPrimaryIpsResponsePrimaryIpsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.hetzner.primary_ips#ListPrimaryIpsResponseMeta",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.primary_ips#ListPrimaryIps": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.primary_ips#ListPrimaryIpsRequest"
      },
      "output": {
        "target": "com.hetzner.primary_ips#ListPrimaryIpsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/primary_ips",
          "code": 200
        },
        "smithy.api#documentation": "List Primary IPs\n\nList multiple [Primary IPs](#tag/primary-ips).\n\nUse the provided URI parameters to modify the result.",
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "meta.pagination.next_page",
          "items": "primary_ips",
          "pageSize": "per_page"
        }
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpRequestLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpRequestType": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Primary IP](#tag/primary-ips) type."
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpRequestLocation": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "[Location](#tag/locations) ID or name the [Primary IP](#tag/primary-ips) will be bound to.\n\nOmit if `assignee_id`/`assignee_type` or `datacenter` are provided.\n"
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpRequestAssigneeType": {
      "type": "enum",
      "members": {
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of resource to assign the [Primary IP](#tag/primary-ips) to.\n\nOmitted if the [Primary IP](#tag/primary-ips) should not get assigned.\n"
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Resource. Must be unique per Project.",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.hetzner.primary_ips#CreatePrimaryIpRequestLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
          }
        },
        "type": {
          "target": "com.hetzner.primary_ips#CreatePrimaryIpRequestType",
          "traits": {
            "smithy.api#documentation": "[Primary IP](#tag/primary-ips) type.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.hetzner.primary_ips#CreatePrimaryIpRequestLocation",
          "traits": {
            "smithy.api#documentation": "[Location](#tag/locations) ID or name the [Primary IP](#tag/primary-ips) will be bound to.\n\nOmit if `assignee_id`/`assignee_type` or `datacenter` are provided.\n"
          }
        },
        "assignee_type": {
          "target": "com.hetzner.primary_ips#CreatePrimaryIpRequestAssigneeType",
          "traits": {
            "smithy.api#documentation": "Type of resource to assign the [Primary IP](#tag/primary-ips) to.\n\nOmitted if the [Primary IP](#tag/primary-ips) should not get assigned.\n"
          }
        },
        "assignee_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of resource to assign the [Primary IP](#tag/primary-ips) to.\n\nOmitted if the [Primary IP](#tag/primary-ips) should not get assigned.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "auto_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Auto deletion state.\n\nIf enabled the [Primary IP](#tag/primary-ips) will be deleted once the assigned resource gets deleted.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIpLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIpLocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable description of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country the [Location](#tag/locations) resides in.\n\nISO 3166-1 alpha-2 code of the country.\n",
            "smithy.api#required": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the closest city to the [Location](#tag/locations).\n\nCity name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.\n",
            "smithy.api#required": {}
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "network_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Network Zone this [Location](#tag/locations) resides in.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Location](#tag/locations) of the [Primary IP](#tag/primary-ips).\n"
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIpDnsPtrItem": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Single IPv4 or IPv6 address of the record.\n",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain Name to point to.\n\nPTR record content used for reverse DNS.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIpDnsPtrList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIpDnsPtrItem"
      },
      "traits": {
        "smithy.api#documentation": "List of reverse DNS records."
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIpProtection": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent the Resource from being deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protection configuration for the Resource."
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIpType": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Primary IP](#tag/primary-ips) type."
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIpAssigneeType": {
      "type": "enum",
      "members": {
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of resource the [Primary IP](#tag/primary-ips) is assigned to.\n\nAs of 01 August 2026 `unassigned` will be returned if the [Primary IP](#tag/primary-ips) is not assigned.\n"
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIp": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Primary IP](#tag/primary-ips).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Resource. Must be unique per Project.",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIpLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Blocked state of the [Primary IP](#tag/primary-ips).",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIpLocation",
          "traits": {
            "smithy.api#documentation": "[Location](#tag/locations) of the [Primary IP](#tag/primary-ips).\n",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address.",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIpDnsPtrList",
          "traits": {
            "smithy.api#documentation": "List of reverse DNS records.",
            "smithy.api#required": {}
          }
        },
        "protection": {
          "target": "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIpProtection",
          "traits": {
            "smithy.api#documentation": "Protection configuration for the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIpType",
          "traits": {
            "smithy.api#documentation": "[Primary IP](#tag/primary-ips) type.",
            "smithy.api#required": {}
          }
        },
        "auto_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Auto deletion state.\n\nIf enabled the [Primary IP](#tag/primary-ips) will be deleted once the assigned resource gets deleted.\n",
            "smithy.api#required": {}
          }
        },
        "assignee_type": {
          "target": "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIpAssigneeType",
          "traits": {
            "smithy.api#documentation": "Type of resource the [Primary IP](#tag/primary-ips) is assigned to.\n\nAs of 01 August 2026 `unassigned` will be returned if the [Primary IP](#tag/primary-ips) is not assigned.\n",
            "smithy.api#required": {}
          }
        },
        "assignee_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of resource the [Primary IP](#tag/primary-ips) is assigned to.\n\n`null` if the [Primary IP](#tag/primary-ips) is not assigned.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.primary_ips#CreatePrimaryIpResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.primary_ips#CreatePrimaryIpResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.primary_ips#CreatePrimaryIpResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.primary_ips#CreatePrimaryIpResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.primary_ips#CreatePrimaryIpResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.primary_ips#CreatePrimaryIpResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action will only be returned if the [Primary IP](#tag/primary-ips) is getting assigned.\n"
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIpResponse": {
      "type": "structure",
      "members": {
        "primary_ip": {
          "target": "com.hetzner.primary_ips#CreatePrimaryIpResponsePrimaryIp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.hetzner.primary_ips#CreatePrimaryIpResponseAction",
          "traits": {
            "smithy.api#documentation": "Action will only be returned if the [Primary IP](#tag/primary-ips) is getting assigned.\n",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.primary_ips#CreatePrimaryIp": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.primary_ips#CreatePrimaryIpRequest"
      },
      "output": {
        "target": "com.hetzner.primary_ips#CreatePrimaryIpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/primary_ips",
          "code": 200
        },
        "smithy.api#documentation": "Create a Primary IP\n\nCreate a new [Primary IP](#tag/primary-ips).\n\nCan optionally be assigned to a resource by providing an `assignee_id` and `assignee_type`.\n\nIf not assigned to a resource the `location` key needs to be provided. This can be either the ID or the name of the [Location](#tag/locations) this [Primary IP](#tag/primary-ips) shall be created in.\n\nA [Primary IP](#tag/primary-ips) can only be assigned to resource in the same [Location](#tag/locations) later on.\n\n#### Operation specific errors"
      },
      "errors": [
        {
          "target": "com.hetzner.primary_ips#PrimaryIpLimitExceeded"
        }
      ]
    },
    "com.hetzner.primary_ips#GetPrimaryIpRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Primary IP."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIpLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIpLocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable description of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country the [Location](#tag/locations) resides in.\n\nISO 3166-1 alpha-2 code of the country.\n",
            "smithy.api#required": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the closest city to the [Location](#tag/locations).\n\nCity name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.\n",
            "smithy.api#required": {}
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "network_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Network Zone this [Location](#tag/locations) resides in.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Location](#tag/locations) of the [Primary IP](#tag/primary-ips).\n"
      }
    },
    "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIpDnsPtrItem": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Single IPv4 or IPv6 address of the record.\n",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain Name to point to.\n\nPTR record content used for reverse DNS.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIpDnsPtrList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIpDnsPtrItem"
      },
      "traits": {
        "smithy.api#documentation": "List of reverse DNS records."
      }
    },
    "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIpProtection": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent the Resource from being deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protection configuration for the Resource."
      }
    },
    "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIpType": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Primary IP](#tag/primary-ips) type."
      }
    },
    "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIpAssigneeType": {
      "type": "enum",
      "members": {
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of resource the [Primary IP](#tag/primary-ips) is assigned to.\n\nAs of 01 August 2026 `unassigned` will be returned if the [Primary IP](#tag/primary-ips) is not assigned.\n"
      }
    },
    "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIp": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Primary IP](#tag/primary-ips).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Resource. Must be unique per Project.",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIpLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Blocked state of the [Primary IP](#tag/primary-ips).",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIpLocation",
          "traits": {
            "smithy.api#documentation": "[Location](#tag/locations) of the [Primary IP](#tag/primary-ips).\n",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address.",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIpDnsPtrList",
          "traits": {
            "smithy.api#documentation": "List of reverse DNS records.",
            "smithy.api#required": {}
          }
        },
        "protection": {
          "target": "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIpProtection",
          "traits": {
            "smithy.api#documentation": "Protection configuration for the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIpType",
          "traits": {
            "smithy.api#documentation": "[Primary IP](#tag/primary-ips) type.",
            "smithy.api#required": {}
          }
        },
        "auto_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Auto deletion state.\n\nIf enabled the [Primary IP](#tag/primary-ips) will be deleted once the assigned resource gets deleted.\n",
            "smithy.api#required": {}
          }
        },
        "assignee_type": {
          "target": "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIpAssigneeType",
          "traits": {
            "smithy.api#documentation": "Type of resource the [Primary IP](#tag/primary-ips) is assigned to.\n\nAs of 01 August 2026 `unassigned` will be returned if the [Primary IP](#tag/primary-ips) is not assigned.\n",
            "smithy.api#required": {}
          }
        },
        "assignee_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of resource the [Primary IP](#tag/primary-ips) is assigned to.\n\n`null` if the [Primary IP](#tag/primary-ips) is not assigned.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.primary_ips#GetPrimaryIpResponse": {
      "type": "structure",
      "members": {
        "primary_ip": {
          "target": "com.hetzner.primary_ips#GetPrimaryIpResponsePrimaryIp",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.primary_ips#GetPrimaryIp": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.primary_ips#GetPrimaryIpRequest"
      },
      "output": {
        "target": "com.hetzner.primary_ips#GetPrimaryIpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/primary_ips/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a Primary IP\n\nReturns a [Primary IP](#tag/primary-ips)."
      }
    },
    "com.hetzner.primary_ips#UpdatePrimaryIpRequestLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\n\nNote that the set of [Labels](#description/labels) provided in the request will overwrite the\nexisting one.\n\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.primary_ips#UpdatePrimaryIpRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Primary IP."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Resource. Must be unique per Project."
          }
        },
        "labels": {
          "target": "com.hetzner.primary_ips#UpdatePrimaryIpRequestLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\n\nNote that the set of [Labels](#description/labels) provided in the request will overwrite the\nexisting one.\n\nFor more information, see \"[Labels](#description/labels)\".\n"
          }
        },
        "auto_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Auto deletion state.\n\nIf enabled the [Primary IP](#tag/primary-ips) will be deleted once the assigned resource gets deleted.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIpLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIpLocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable description of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country the [Location](#tag/locations) resides in.\n\nISO 3166-1 alpha-2 code of the country.\n",
            "smithy.api#required": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the closest city to the [Location](#tag/locations).\n\nCity name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.\n",
            "smithy.api#required": {}
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "network_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Network Zone this [Location](#tag/locations) resides in.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Location](#tag/locations) of the [Primary IP](#tag/primary-ips).\n"
      }
    },
    "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIpDnsPtrItem": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Single IPv4 or IPv6 address of the record.\n",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain Name to point to.\n\nPTR record content used for reverse DNS.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIpDnsPtrList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIpDnsPtrItem"
      },
      "traits": {
        "smithy.api#documentation": "List of reverse DNS records."
      }
    },
    "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIpProtection": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent the Resource from being deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protection configuration for the Resource."
      }
    },
    "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIpType": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Primary IP](#tag/primary-ips) type."
      }
    },
    "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIpAssigneeType": {
      "type": "enum",
      "members": {
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of resource the [Primary IP](#tag/primary-ips) is assigned to.\n\nAs of 01 August 2026 `unassigned` will be returned if the [Primary IP](#tag/primary-ips) is not assigned.\n"
      }
    },
    "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIp": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Primary IP](#tag/primary-ips).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Resource. Must be unique per Project.",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIpLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Blocked state of the [Primary IP](#tag/primary-ips).",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIpLocation",
          "traits": {
            "smithy.api#documentation": "[Location](#tag/locations) of the [Primary IP](#tag/primary-ips).\n",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address.",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIpDnsPtrList",
          "traits": {
            "smithy.api#documentation": "List of reverse DNS records.",
            "smithy.api#required": {}
          }
        },
        "protection": {
          "target": "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIpProtection",
          "traits": {
            "smithy.api#documentation": "Protection configuration for the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIpType",
          "traits": {
            "smithy.api#documentation": "[Primary IP](#tag/primary-ips) type.",
            "smithy.api#required": {}
          }
        },
        "auto_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Auto deletion state.\n\nIf enabled the [Primary IP](#tag/primary-ips) will be deleted once the assigned resource gets deleted.\n",
            "smithy.api#required": {}
          }
        },
        "assignee_type": {
          "target": "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIpAssigneeType",
          "traits": {
            "smithy.api#documentation": "Type of resource the [Primary IP](#tag/primary-ips) is assigned to.\n\nAs of 01 August 2026 `unassigned` will be returned if the [Primary IP](#tag/primary-ips) is not assigned.\n",
            "smithy.api#required": {}
          }
        },
        "assignee_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of resource the [Primary IP](#tag/primary-ips) is assigned to.\n\n`null` if the [Primary IP](#tag/primary-ips) is not assigned.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.primary_ips#UpdatePrimaryIpResponse": {
      "type": "structure",
      "members": {
        "primary_ip": {
          "target": "com.hetzner.primary_ips#UpdatePrimaryIpResponsePrimaryIp",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.primary_ips#UpdatePrimaryIp": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.primary_ips#UpdatePrimaryIpRequest"
      },
      "output": {
        "target": "com.hetzner.primary_ips#UpdatePrimaryIpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/primary_ips/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a Primary IP\n\nUpdate a [Primary IP](#tag/primary-ips).\n\nIf another change is concurrently performed on this [Primary IP](#tag/primary-ips), a error response with code `conflict` will be returned."
      }
    },
    "com.hetzner.primary_ips#DeletePrimaryIpRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Primary IP."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.primary_ips#DeletePrimaryIp": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.primary_ips#DeletePrimaryIpRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/primary_ips/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Primary IP\n\nDeletes a [Primary IP](#tag/primary-ips).\n\nThe [Server](#tag/servers) must be powered off (status `off`) in order for this operation to succeed.\nIf assigned to a [Server](#tag/servers) the [Primary IP](#tag/primary-ips) will be unassigned automatically until 1 May 2026. After this date, the [Primary IP](#tag/primary-ips) needs to be unassigned before it can be deleted.\n\n#### Operation specific errors"
      }
    },
    "com.hetzner.primary_ips#PrimaryIps": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.hetzner.primary_ips#ListPrimaryIps"
        },
        {
          "target": "com.hetzner.primary_ips#CreatePrimaryIp"
        },
        {
          "target": "com.hetzner.primary_ips#GetPrimaryIp"
        },
        {
          "target": "com.hetzner.primary_ips#UpdatePrimaryIp"
        },
        {
          "target": "com.hetzner.primary_ips#DeletePrimaryIp"
        }
      ],
      "traits": {
        "smithy.api#title": "Hetzner Cloud API",
        "smithy.api#documentation": "# Overview\n\nThis is the official documentation for the Hetzner Cloud API.\n\n## Introduction\n\nThe Hetzner Cloud API operates over HTTPS and uses JSON as its data format. The API is a RESTful API and utilizes HTTP methods and HTTP status codes to specify requests and responses.\n\nAs an alternative to working directly with our API you may also consider to use:\n\n- Our CLI program [hcloud](https://github.com/hetznercloud/cli)\n- Our [library for Go](https://github.com/hetznercloud/hcloud-go)\n- Our [library for Python](https://github.com/hetznercloud/hcloud-python)\n\nYou can find even more libraries, tools and integrations on our [Awesome List on GitHub](https://github.com/hetznercloud/awesome-hcloud).\n\n### Open source credits\n\nIf you are developing an open-source project that supports or intends to add support for Hetzner APIs, you may be eligible for a free one-time credit of up to € 50 / $ 50 on your account. Please contact us via the support page on your [Hetzner Console](https://console.hetzner.cloud/support) and let us know the following:\n\n- The name of the project you are working on\n- A short description of the project\n- Link to the project website or repo where the project is hosted\n- Affiliation with / role in the project (e.g. project maintainer)\n- Link to some other open-source work you have already done (if you have done so)\n\n**Note:** We only consider rewards for projects that provide Hetzner-specific functionality or integrations. For example, our Object Storage exposes a standard S3 API without any Hetzner-specific extensions. Projects that focus solely on generic S3 capabilities (e.g., general S3 clients or SDKs) are not Hetzner-specific and are therefore not eligible for Hetzner Rewards.\n\n## Getting Started\n\nTo get started using the API you first need an API token. Sign in into the [Hetzner Console](https://console.hetzner.com/) choose a Project, go to `Security` → `API Tokens`, and generate a new token. Make sure to copy the token because it won’t be shown to you again. A token is bound to a Project, to interact with the API of another Project you have to create a new token inside the Project. Let’s say your new token is `LRK9DAWQ1ZAEFSrCNEEzLCUwhYX1U3g7wMg4dTlkkDC96fyDuyJ39nVbVjCKSDfj`.\n\nYou’re now ready to do your first request against the API. To get a list of all Servers in your Project, issue the example request on the right side using [curl](https://curl.se/).\n\nMake sure to replace the token in the example command with the token you have just created. Since your Project probably does not contain any Servers yet, the example response will look like the response on the right side. We will almost always provide a resource root like `servers` inside the example response. A response can also contain a `meta` object with information like [Pagination](#description/pagination).\n\n**Example Request**\n\n```shell\ncurl -H \"Authorization: Bearer LRK9DAWQ1ZAEFSrCNEEzLCUwhYX1U3g7wMg4dTlkkDC96fyDuyJ39nVbVjCKSDfj\" \\\n  https://api.hetzner.cloud/v1/servers\n```\n\n**Example Response**\n\n```json\n{\n  \"servers\": [],\n  \"meta\": {\n    \"pagination\": {\n      \"page\": 1,\n      \"per_page\": 25,\n      \"previous_page\": null,\n      \"next_page\": null,\n      \"last_page\": 1,\n      \"total_entries\": 0\n    }\n  }\n}\n```\n\n## Authentication\n\nAll requests to the Hetzner Cloud API must be authenticated via a API token. Include your secret API token in every request you send to the API with the `Authorization` HTTP header.\n\nTo create a new API token for your Project, switch into the [Hetzner Console](https://console.hetzner.com/) choose a Project, go to `Security` → `API Tokens`, and generate a new token.\n\n**Example Authorization header**\n\n```http\nAuthorization: Bearer LRK9DAWQ1ZAEFSrCNEEzLCUwhYX1U3g7wMg4dTlkkDC96fyDuyJ39nVbVjCKSDfj\n```\n\n## Query Parameters\n\nThe API makes use of query parameters to sort and filter responses. The parameter names and values must be URI encoded according to [RFC2396](https://datatracker.ietf.org/doc/html/rfc2396). Query parameters of type `array` can be used multiple times:\n\n**Example query parameters for pagination**\n\n```\nhttps://api.hetzner.cloud/v1/certificates?page=1&page_size=12\n```\n\n**Example use of multiple values for a parameter**\n\n```\nhttps://api.hetzner.cloud/v1/certificates?type=uploaded&type=managed\n```\n\n**Example use of an encoded parameter**\n\n```\nhttps://api.hetzner.cloud/v1/certificates?label_selector=key%3Dvalue\n```\n\n## Errors\n\nErrors are indicated by HTTP status codes. Further, the response of the request which generated the error contains an error code, an error message, and, optionally, error details. The schema of the error details object depends on the error code.\n\nThe error response contains the following keys:\n\n\n**Example response**\n\n```json\n{\n  \"error\": {\n    \"code\": \"invalid_input\",\n    \"message\": \"invalid input in field 'broken_field': is too long\",\n    \"details\": {\n      \"fields\": [\n        {\n          \"name\": \"broken_field\",\n          \"messages\": [\"is too long\"]\n        }\n      ]\n    }\n  }\n}\n```\n\n### Error Codes\n\n\n**invalid_input**\n\n```json\n{\n  \"error\": {\n    \"code\": \"invalid_input\",\n    \"message\": \"invalid input in field 'broken_field': is too long\",\n    \"details\": {\n      \"fields\": [\n        {\n          \"name\": \"broken_field\",\n          \"messages\": [\"is too long\"]\n        }\n      ]\n    }\n  }\n}\n```\n\n**uniqueness_error**\n\n```json\n{\n  \"error\": {\n    \"code\": \"uniqueness_error\",\n    \"message\": \"SSH key with the same fingerprint already exists\",\n    \"details\": {\n      \"fields\": [\n        {\n          \"name\": \"public_key\"\n        }\n      ]\n    }\n  }\n}\n```\n\n**resource_limit_exceeded**\n\n```json\n{\n  \"error\": {\n    \"code\": \"resource_limit_exceeded\",\n    \"message\": \"project limit exceeded\",\n    \"details\": {\n      \"limits\": [\n        {\n          \"name\": \"project_limit\"\n        }\n      ]\n    }\n  }\n}\n```\n\n**deprecated_api_endpoint**\n\n```json\n{\n  \"error\": {\n    \"code\": \"deprecated_api_endpoint\",\n    \"message\": \"API functionality was removed\",\n    \"details\": {\n      \"announcement\": \"https://docs.hetzner.cloud/changelog#2023-07-20-foo-endpoint-is-deprecated\"\n    }\n  }\n}\n```\n\n## Actions\n\nActions represent asynchronous tasks within the API, targeting one or more resources. Triggering changes in the API may return a `running` action.\n\nAn action should be waited upon, until it reaches either the `success` or `error` state. Avoid polling the action's state too frequently to reduce the risk of exhausting your API requests and hitting the [rate limit](#description/rate-limiting).\n\nIf an action fails, it will contain details about the underlying error.\n\nOnce the asynchronous tasks have completed and the targeted resources are in a consistent state, the action is marked as succeeded.\n\nIn some cases, you may trigger multiple changes at once, and only wait for the returned actions at a later stage.\n\n## Labels\n\nLabels are `key/value` pairs that can be attached to all resources.\n\nValid label keys have two segments: an optional prefix and name, separated by a slash (`/`). The name segment is required and must be a string of 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots (`.`), not longer than 253 characters in total, followed by a slash (`/`).\n\nValid label values must be a string of 63 characters or less and must be empty or begin and end with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between.\n\nThe `hetzner.cloud/` prefix is reserved and cannot be used.\n\n**Example Labels**\n\n```json\n{\n  \"labels\": {\n    \"environment\": \"development\",\n    \"service\": \"backend\",\n    \"example.com/my\": \"label\",\n    \"just-a-key\": \"\"\n  }\n}\n```\n\n## Label Selector\n\nFor resources with labels, you can filter resources by their labels using the label selector query language.\n\n\n### Examples\n\n- Returns all resources that have a `env=production` label and that don't have a `type=database` label:\n\n  `env=production,type!=database`\n\n- Returns all resources that have a `env=testing` or `env=staging` label:\n\n  `env in (testing,staging)`\n\n- Returns all resources that don't have a `type` label:\n\n  `!type`\n\n## Pagination\n\nResponses which return multiple items support pagination. If they do support pagination, it can be controlled with following query string parameters:\n\n- A `page` parameter specifies the page to fetch. The number of the first page is 1.\n- A `per_page` parameter specifies the number of items returned per page. The default value is 25, the maximum value is 50 except otherwise specified in the documentation.\n\nResponses contain a `Link` header with pagination information.\n\nAdditionally, if the response body is JSON and the root object is an object, that object has a `pagination` object inside the `meta` object with pagination information:\n\n**Example Pagination**\n\n```json\n{\n    \"servers\": [...],\n    \"meta\": {\n        \"pagination\": {\n            \"page\": 2,\n            \"per_page\": 25,\n            \"previous_page\": 1,\n            \"next_page\": 3,\n            \"last_page\": 4,\n            \"total_entries\": 100\n        }\n    }\n}\n```\n\nThe keys `previous_page`, `next_page`, `last_page`, and `total_entries` may be `null` when on the first page, last page, or when the total number of entries is unknown.\n\n**Example Pagination Link header**\n\n```http\nLink: <https://api.hetzner.cloud/v1/actions?page=2&per_page=5>; rel=\"prev\",\n      <https://api.hetzner.cloud/v1/actions?page=4&per_page=5>; rel=\"next\",\n      <https://api.hetzner.cloud/v1/actions?page=6&per_page=5>; rel=\"last\"\n```\n\nLine breaks have been added for display purposes only and responses may only contain some of the above `rel` values.\n\n## Rate Limiting\n\nAll requests, whether they are authenticated or not, are subject to rate limiting. If you have reached your limit, your requests will be handled with a `429 Too Many Requests` error. Burst requests are allowed. Responses contain several headers which provide information about your current rate limit status.\n\n- The `RateLimit-Limit` header contains the total number of requests you can perform per hour.\n- The `RateLimit-Remaining` header contains the number of requests remaining in the current rate limit time frame.\n- The `RateLimit-Reset` header contains a UNIX timestamp of the point in time when your rate limit will have recovered, and you will have the full number of requests available again.\n\nThe default limit is 3600 requests per hour and per Project. The number of remaining requests increases gradually. For example, when your limit is 3600 requests per hour, the number of remaining requests will increase by 1 every second.\n\n## Server Metadata\n\nYour Server can discover metadata about itself by doing a HTTP request to specific URLs. The following data is available:\n\n\n**Example: Summary**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata\n```\n\n```yaml\navailability-zone: hel1-dc2\nhostname: my-server\ninstance-id: 42\npublic-ipv4: 1.2.3.4\nregion: eu-central\n```\n\n**Example: Hostname**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/hostname\nmy-server\n```\n\n**Example: Instance ID**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/instance-id\n42\n```\n\n**Example: Public IPv4**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/public-ipv4\n1.2.3.4\n```\n\n**Example: Private Networks**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/private-networks\n```\n\n```yaml\n- ip: 10.0.0.2\n  alias_ips: [10.0.0.3, 10.0.0.4]\n  interface_num: 1\n  mac_address: 86:00:00:2a:7d:e0\n  network_id: 1234\n  network_name: nw-test1\n  network: 10.0.0.0/8\n  subnet: 10.0.0.0/24\n  gateway: 10.0.0.1\n- ip: 192.168.0.2\n  alias_ips: []\n  interface_num: 2\n  mac_address: 86:00:00:2a:7d:e1\n  network_id: 4321\n  network_name: nw-test2\n  network: 192.168.0.0/16\n  subnet: 192.168.0.0/24\n  gateway: 192.168.0.1\n```\n\n**Example: Availability Zone**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/availability-zone\nhel1-dc2\n```\n\n**Example: Region**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/region\neu-central\n```\n\n## Sorting\n\nSome responses which return multiple items support sorting. If they do support sorting the documentation states which fields can be used for sorting. You specify sorting with the `sort` query string parameter. You can sort by multiple fields. You can set the sort direction by appending `:asc` or `:desc` to the field name. By default, ascending sorting is used.\n\n**Example: Sorting**\n\n```\nhttps://api.hetzner.cloud/v1/actions?sort=status\nhttps://api.hetzner.cloud/v1/actions?sort=status:asc\nhttps://api.hetzner.cloud/v1/actions?sort=status:desc\nhttps://api.hetzner.cloud/v1/actions?sort=status:asc&sort=command:desc\n```\n\n## Deprecation Notices\n\nYou can find all announced deprecations in our [Changelog](/changelog)."
      }
    },
    "com.hetzner.primary_ips#PrimaryIpLimitExceeded": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#documentation": "The project has no remaining Primary IP quota (Hetzner `resource_limit_exceeded`, HTTP 403). Often transient — Servers hold auto-created Primary IP pairs that free up on delete — retry.",
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403,
            "message": {
              "includes": "IP limit"
            }
          }
        ]
      }
    }
  }
}
