{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.hetzner.server_actions#ListServersActionsRequestIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ListServersActionsRequestSortItem": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "ID_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:asc"
          }
        },
        "ID_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:desc"
          }
        },
        "COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command"
          }
        },
        "COMMAND_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command:asc"
          }
        },
        "COMMAND_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command:desc"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        },
        "STATUS_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status:asc"
          }
        },
        "STATUS_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status:desc"
          }
        },
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started"
          }
        },
        "STARTED_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started:asc"
          }
        },
        "STARTED_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started:desc"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished"
          }
        },
        "FINISHED_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished:asc"
          }
        },
        "FINISHED_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished:desc"
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ListServersActionsRequestSortList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#ListServersActionsRequestSortItem"
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ListServersActionsRequestStatusItem": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.server_actions#ListServersActionsRequestStatusList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#ListServersActionsRequestStatusItem"
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ListServersActionsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.hetzner.server_actions#ListServersActionsRequestIdList",
          "traits": {
            "smithy.api#httpQuery": "id",
            "smithy.api#documentation": "Filter the actions by ID. May be used multiple times.\n\nThe response will only contain actions matching the specified IDs.\n"
          }
        },
        "sort": {
          "target": "com.hetzner.server_actions#ListServersActionsRequestSortList",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sort actions by field and direction. May be used multiple times.\n\nFor more information, see \"[Sorting](#description/sorting)\".\n"
          }
        },
        "status": {
          "target": "com.hetzner.server_actions#ListServersActionsRequestStatusList",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter the actions by status. May be used multiple times.\n\nThe response will only contain actions matching the specified statuses.\n"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number to return. For more information, see \"[Pagination](#description/pagination)\"."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Maximum number of entries returned per page. For more information, see \"[Pagination](#description/pagination)\"."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.server_actions#ListServersActionsResponseActionsItemStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.server_actions#ListServersActionsResponseActionsItemResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ListServersActionsResponseActionsItemResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#ListServersActionsResponseActionsItemResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.server_actions#ListServersActionsResponseActionsItemError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.server_actions#ListServersActionsResponseActionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.server_actions#ListServersActionsResponseActionsItemStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.server_actions#ListServersActionsResponseActionsItemResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.server_actions#ListServersActionsResponseActionsItemError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ListServersActionsResponseActionsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#ListServersActionsResponseActionsItem"
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ListServersActionsResponseMetaPagination": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current page number.",
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of entries returned per page.",
            "smithy.api#required": {}
          }
        },
        "previous_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the previous page. Can be null if the current page is the first one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the next page. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the last page available. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_entries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of entries that exist for this query. Can be null if unknown.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information."
      }
    },
    "com.hetzner.server_actions#ListServersActionsResponseMeta": {
      "type": "structure",
      "members": {
        "pagination": {
          "target": "com.hetzner.server_actions#ListServersActionsResponseMetaPagination",
          "traits": {
            "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ListServersActionsResponse": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.hetzner.server_actions#ListServersActionsResponseActionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.hetzner.server_actions#ListServersActionsResponseMeta",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.server_actions#ListServersActions": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.server_actions#ListServersActionsRequest"
      },
      "output": {
        "target": "com.hetzner.server_actions#ListServersActionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/servers/actions",
          "code": 200
        },
        "smithy.api#documentation": "List Actions\n\nReturns all Action objects. You can `sort` the results by using the sort URI parameter, and filter them with the `status` and `id` parameter.",
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "meta.pagination.next_page",
          "items": "actions",
          "pageSize": "per_page"
        }
      }
    },
    "com.hetzner.server_actions#GetServersActionRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Action."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.server_actions#GetServersActionResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.server_actions#GetServersActionResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#GetServersActionResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#GetServersActionResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.server_actions#GetServersActionResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.server_actions#GetServersActionResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.server_actions#GetServersActionResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.server_actions#GetServersActionResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.server_actions#GetServersActionResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#GetServersActionResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.server_actions#GetServersActionResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.server_actions#GetServersAction": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.server_actions#GetServersActionRequest"
      },
      "output": {
        "target": "com.hetzner.server_actions#GetServersActionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/servers/actions/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get an Action\n\nReturns a specific Action object."
      }
    },
    "com.hetzner.server_actions#ListServerActionsRequestSortItem": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "ID_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:asc"
          }
        },
        "ID_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:desc"
          }
        },
        "COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command"
          }
        },
        "COMMAND_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command:asc"
          }
        },
        "COMMAND_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command:desc"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        },
        "STATUS_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status:asc"
          }
        },
        "STATUS_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status:desc"
          }
        },
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started"
          }
        },
        "STARTED_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started:asc"
          }
        },
        "STARTED_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started:desc"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished"
          }
        },
        "FINISHED_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished:asc"
          }
        },
        "FINISHED_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished:desc"
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ListServerActionsRequestSortList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#ListServerActionsRequestSortItem"
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ListServerActionsRequestStatusItem": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.server_actions#ListServerActionsRequestStatusList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#ListServerActionsRequestStatusItem"
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ListServerActionsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Server."
          }
        },
        "sort": {
          "target": "com.hetzner.server_actions#ListServerActionsRequestSortList",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sort actions by field and direction. May be used multiple times.\n\nFor more information, see \"[Sorting](#description/sorting)\".\n"
          }
        },
        "status": {
          "target": "com.hetzner.server_actions#ListServerActionsRequestStatusList",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter the actions by status. May be used multiple times.\n\nThe response will only contain actions matching the specified statuses.\n"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number to return. For more information, see \"[Pagination](#description/pagination)\"."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Maximum number of entries returned per page. For more information, see \"[Pagination](#description/pagination)\"."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.server_actions#ListServerActionsResponseActionsItemStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.server_actions#ListServerActionsResponseActionsItemResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ListServerActionsResponseActionsItemResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#ListServerActionsResponseActionsItemResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.server_actions#ListServerActionsResponseActionsItemError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.server_actions#ListServerActionsResponseActionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.server_actions#ListServerActionsResponseActionsItemStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.server_actions#ListServerActionsResponseActionsItemResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.server_actions#ListServerActionsResponseActionsItemError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ListServerActionsResponseActionsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#ListServerActionsResponseActionsItem"
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ListServerActionsResponseMetaPagination": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current page number.",
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of entries returned per page.",
            "smithy.api#required": {}
          }
        },
        "previous_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the previous page. Can be null if the current page is the first one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the next page. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the last page available. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_entries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of entries that exist for this query. Can be null if unknown.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information."
      }
    },
    "com.hetzner.server_actions#ListServerActionsResponseMeta": {
      "type": "structure",
      "members": {
        "pagination": {
          "target": "com.hetzner.server_actions#ListServerActionsResponseMetaPagination",
          "traits": {
            "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ListServerActionsResponse": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.hetzner.server_actions#ListServerActionsResponseActionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.hetzner.server_actions#ListServerActionsResponseMeta",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.server_actions#ListServerActions": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.server_actions#ListServerActionsRequest"
      },
      "output": {
        "target": "com.hetzner.server_actions#ListServerActionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/servers/{id}/actions",
          "code": 200
        },
        "smithy.api#documentation": "List Actions for a Server\n\nReturns all Action objects for a Server. You can `sort` the results by using the sort URI parameter, and filter them with the `status` parameter.",
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "meta.pagination.next_page",
          "items": "actions",
          "pageSize": "per_page"
        }
      }
    },
    "com.hetzner.server_actions#AddServerToPlacementGroupRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Server."
          }
        },
        "placement_group": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of Placement Group the Server should be added to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.server_actions#AddServerToPlacementGroupResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.server_actions#AddServerToPlacementGroupResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#AddServerToPlacementGroupResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#AddServerToPlacementGroupResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.server_actions#AddServerToPlacementGroupResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.server_actions#AddServerToPlacementGroupResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.server_actions#AddServerToPlacementGroupResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.server_actions#AddServerToPlacementGroupResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.server_actions#AddServerToPlacementGroupResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#AddServerToPlacementGroupResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.server_actions#AddServerToPlacementGroupResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.server_actions#AddServerToPlacementGroup": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.server_actions#AddServerToPlacementGroupRequest"
      },
      "output": {
        "target": "com.hetzner.server_actions#AddServerToPlacementGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/servers/{id}/actions/add_to_placement_group",
          "code": 200
        },
        "smithy.api#documentation": "Add a Server to a Placement Group\n\nAdds a Server to a Placement Group.\n\nServer must be powered off for this command to succeed.\n\n#### Operation specific errors"
      }
    },
    "com.hetzner.server_actions#AttachServerIsoRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Server."
          }
        },
        "iso": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID or name of ISO to attach to the Server as listed in GET `/isos`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.server_actions#AttachServerIsoResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.server_actions#AttachServerIsoResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#AttachServerIsoResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#AttachServerIsoResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.server_actions#AttachServerIsoResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.server_actions#AttachServerIsoResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.server_actions#AttachServerIsoResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.server_actions#AttachServerIsoResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.server_actions#AttachServerIsoResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#AttachServerIsoResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.server_actions#AttachServerIsoResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.server_actions#AttachServerIso": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.server_actions#AttachServerIsoRequest"
      },
      "output": {
        "target": "com.hetzner.server_actions#AttachServerIsoResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/servers/{id}/actions/attach_iso",
          "code": 200
        },
        "smithy.api#documentation": "Attach an ISO to a Server\n\nAttaches an ISO to a Server. The Server will immediately see it as a new disk. An already attached ISO will automatically be detached before the new ISO is attached.\n\nServers with attached ISOs have a modified boot order: They will try to boot from the ISO first before falling back to hard disk."
      }
    },
    "com.hetzner.server_actions#AttachServerToNetworkRequestAliasIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Additional IPs to be assigned to this Server."
      }
    },
    "com.hetzner.server_actions#AttachServerToNetworkRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Server."
          }
        },
        "network": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of an existing network to attach the Server to.",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP to request to be assigned to this Server; if you do not provide this then you will be auto assigned an IP address."
          }
        },
        "alias_ips": {
          "target": "com.hetzner.server_actions#AttachServerToNetworkRequestAliasIpsList",
          "traits": {
            "smithy.api#documentation": "Additional IPs to be assigned to this Server."
          }
        },
        "ip_range": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP range in CIDR block notation of the subnet to attach to.\n\nThis allows for auto assigning an IP address for a specific subnet.\nProviding `ip` that is not part of `ip_range` will result in an error.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.server_actions#AttachServerToNetworkResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.server_actions#AttachServerToNetworkResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#AttachServerToNetworkResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#AttachServerToNetworkResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.server_actions#AttachServerToNetworkResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.server_actions#AttachServerToNetworkResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.server_actions#AttachServerToNetworkResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.server_actions#AttachServerToNetworkResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.server_actions#AttachServerToNetworkResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#AttachServerToNetworkResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.server_actions#AttachServerToNetworkResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.server_actions#AttachServerToNetwork": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.server_actions#AttachServerToNetworkRequest"
      },
      "output": {
        "target": "com.hetzner.server_actions#AttachServerToNetworkResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/servers/{id}/actions/attach_to_network",
          "code": 200
        },
        "smithy.api#documentation": "Attach a Server to a Network\n\nAttaches a Server to a network. This will complement the fixed public Server interface by adding an additional ethernet interface to the Server which is connected to the specified network.\n\nThe Server will get an IP auto assigned from a subnet of type `server` in the same `network_zone`.\n\nUsing the `alias_ips` attribute you can also define one or more additional IPs to the Servers. Please note that you will have to configure these IPs by hand on your Server since only the primary IP will be given out by DHCP.\n\n#### Operation specific errors"
      }
    },
    "com.hetzner.server_actions#ChangeServerAliasIpsRequestAliasIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "New alias IPs to set for this Server."
      }
    },
    "com.hetzner.server_actions#ChangeServerAliasIpsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Server."
          }
        },
        "network": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of an existing Network already attached to the Server.",
            "smithy.api#required": {}
          }
        },
        "alias_ips": {
          "target": "com.hetzner.server_actions#ChangeServerAliasIpsRequestAliasIpsList",
          "traits": {
            "smithy.api#documentation": "New alias IPs to set for this Server.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.server_actions#ChangeServerAliasIpsResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.server_actions#ChangeServerAliasIpsResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ChangeServerAliasIpsResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#ChangeServerAliasIpsResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.server_actions#ChangeServerAliasIpsResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.server_actions#ChangeServerAliasIpsResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.server_actions#ChangeServerAliasIpsResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.server_actions#ChangeServerAliasIpsResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.server_actions#ChangeServerAliasIpsResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ChangeServerAliasIpsResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.server_actions#ChangeServerAliasIpsResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.server_actions#ChangeServerAliasIps": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.server_actions#ChangeServerAliasIpsRequest"
      },
      "output": {
        "target": "com.hetzner.server_actions#ChangeServerAliasIpsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/servers/{id}/actions/change_alias_ips",
          "code": 200
        },
        "smithy.api#documentation": "Change alias IPs of a Network\n\nChanges the alias IPs of an already attached Network. Note that the existing aliases for the specified Network will be replaced with these provided in the request body. So if you want to add an alias IP, you have to provide the existing ones from the Network plus the new alias IP in the request body."
      }
    },
    "com.hetzner.server_actions#ChangeServerDnsPtrRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Server."
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Single IPv4 or IPv6 address to create pointer for.\n",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain Name to point to.\n\nPTR record content used for reverse DNS. Set to null to reset (IPv4) to the default value or remove (IPv6) the record.\n",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.server_actions#ChangeServerDnsPtrResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.server_actions#ChangeServerDnsPtrResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ChangeServerDnsPtrResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#ChangeServerDnsPtrResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.server_actions#ChangeServerDnsPtrResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.server_actions#ChangeServerDnsPtrResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.server_actions#ChangeServerDnsPtrResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.server_actions#ChangeServerDnsPtrResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.server_actions#ChangeServerDnsPtrResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ChangeServerDnsPtrResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.server_actions#ChangeServerDnsPtrResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.server_actions#ChangeServerDnsPtr": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.server_actions#ChangeServerDnsPtrRequest"
      },
      "output": {
        "target": "com.hetzner.server_actions#ChangeServerDnsPtrResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/servers/{id}/actions/change_dns_ptr",
          "code": 200
        },
        "smithy.api#documentation": "Change reverse DNS entry for this Server\n\nChanges the hostname that will appear when getting the hostname belonging to the primary IPs (IPv4 and IPv6) of this Server.\n\nFloating IPs assigned to the Server are not affected by this."
      }
    },
    "com.hetzner.server_actions#ChangeServerProtectionRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Server."
          }
        },
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, prevents the Server from being deleted (currently delete and rebuild attribute needs to have the same value)."
          }
        },
        "rebuild": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, prevents the Server from being rebuilt (currently delete and rebuild attribute needs to have the same value)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.server_actions#ChangeServerProtectionResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.server_actions#ChangeServerProtectionResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ChangeServerProtectionResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#ChangeServerProtectionResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.server_actions#ChangeServerProtectionResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.server_actions#ChangeServerProtectionResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.server_actions#ChangeServerProtectionResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.server_actions#ChangeServerProtectionResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.server_actions#ChangeServerProtectionResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ChangeServerProtectionResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.server_actions#ChangeServerProtectionResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.server_actions#ChangeServerProtection": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.server_actions#ChangeServerProtectionRequest"
      },
      "output": {
        "target": "com.hetzner.server_actions#ChangeServerProtectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/servers/{id}/actions/change_protection",
          "code": 200
        },
        "smithy.api#documentation": "Change Server Protection\n\nChanges the protection configuration of the Server."
      }
    },
    "com.hetzner.server_actions#ChangeServerTypeRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Server."
          }
        },
        "upgrade_disk": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If false, do not upgrade the disk (this allows downgrading the Server type later).",
            "smithy.api#required": {}
          }
        },
        "server_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID or name of Server type the Server should migrate to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.server_actions#ChangeServerTypeResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.server_actions#ChangeServerTypeResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ChangeServerTypeResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#ChangeServerTypeResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.server_actions#ChangeServerTypeResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.server_actions#ChangeServerTypeResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.server_actions#ChangeServerTypeResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.server_actions#ChangeServerTypeResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.server_actions#ChangeServerTypeResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#ChangeServerTypeResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.server_actions#ChangeServerTypeResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.server_actions#ChangeServerType": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.server_actions#ChangeServerTypeRequest"
      },
      "output": {
        "target": "com.hetzner.server_actions#ChangeServerTypeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/servers/{id}/actions/change_type",
          "code": 200
        },
        "smithy.api#documentation": "Change the Type of a Server\n\nChanges the type (Cores, RAM and disk sizes) of a Server.\n\nServer must be powered off for this command to succeed.\n\nThis copies the content of its disk, and starts it again.\n\nYou can only migrate to Server types with the same `storage_type` and equal or bigger disks. Shrinking disks is not possible as it might destroy data.\n\nIf the disk gets upgraded, the Server type can not be downgraded any more. If you plan to downgrade the Server type, set `upgrade_disk` to `false`.\n\n#### Operation specific errors"
      }
    },
    "com.hetzner.server_actions#CreateServerImageRequestType": {
      "type": "enum",
      "members": {
        "SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snapshot"
          }
        },
        "BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backup"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of Image to create."
      }
    },
    "com.hetzner.server_actions#CreateServerImageRequestLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.server_actions#CreateServerImageRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the Server."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Image, will be auto-generated if not set."
          }
        },
        "type": {
          "target": "com.hetzner.server_actions#CreateServerImageRequestType",
          "traits": {
            "smithy.api#documentation": "Type of Image to create."
          }
        },
        "labels": {
          "target": "com.hetzner.server_actions#CreateServerImageRequestLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.server_actions#CreateServerImageResponseImageType": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app"
          }
        },
        "SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snapshot"
          }
        },
        "BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backup"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the Image."
      }
    },
    "com.hetzner.server_actions#CreateServerImageResponseImageStatus": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creating"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Image."
      }
    },
    "com.hetzner.server_actions#CreateServerImageResponseImageCreatedFrom": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Server the Image was created from.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server name at the time the Image was created.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the Server the Image was created from."
      }
    },
    "com.hetzner.server_actions#CreateServerImageResponseImageOsFlavor": {
      "type": "enum",
      "members": {
        "UBUNTU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ubuntu"
          }
        },
        "CENTOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "centos"
          }
        },
        "DEBIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "debian"
          }
        },
        "FEDORA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedora"
          }
        },
        "ROCKY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rocky"
          }
        },
        "ALMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alma"
          }
        },
        "OPENSUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opensuse"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Flavor of operating system contained in the Image."
      }
    },
    "com.hetzner.server_actions#CreateServerImageResponseImageProtection": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent the Resource from being deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protection configuration for the Resource."
      }
    },
    "com.hetzner.server_actions#CreateServerImageResponseImageLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.server_actions#CreateServerImageResponseImageArchitecture": {
      "type": "enum",
      "members": {
        "X86": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x86"
          }
        },
        "ARM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arm"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CPU architecture compatible with the Image.\n"
      }
    },
    "com.hetzner.server_actions#CreateServerImageResponseImage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Image](#tag/images).",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.hetzner.server_actions#CreateServerImageResponseImageType",
          "traits": {
            "smithy.api#documentation": "Type of the Image.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.server_actions#CreateServerImageResponseImageStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Image.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Image. This value is only set for system Images.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Image.",
            "smithy.api#required": {}
          }
        },
        "image_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Size of the Image file in our storage in GB. For snapshot Images this is the value relevant for calculating costs for the Image.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "disk_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Size of the disk contained in the Image in GB.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "created_from": {
          "target": "com.hetzner.server_actions#CreateServerImageResponseImageCreatedFrom",
          "traits": {
            "smithy.api#documentation": "Information about the Server the Image was created from.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "bound_to": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of Server the Image is bound to. Only set for Images of type `backup`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "os_flavor": {
          "target": "com.hetzner.server_actions#CreateServerImageResponseImageOsFlavor",
          "traits": {
            "smithy.api#documentation": "Flavor of operating system contained in the Image.",
            "smithy.api#required": {}
          }
        },
        "os_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system version.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "rapid_deploy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that rapid deploy of the Image is available."
          }
        },
        "protection": {
          "target": "com.hetzner.server_actions#CreateServerImageResponseImageProtection",
          "traits": {
            "smithy.api#documentation": "Protection configuration for the Resource.",
            "smithy.api#required": {}
          }
        },
        "deprecated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Image is considered to be deprecated (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time where the Image was deleted (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "labels": {
          "target": "com.hetzner.server_actions#CreateServerImageResponseImageLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "architecture": {
          "target": "com.hetzner.server_actions#CreateServerImageResponseImageArchitecture",
          "traits": {
            "smithy.api#documentation": "CPU architecture compatible with the Image.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#CreateServerImageResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.server_actions#CreateServerImageResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.server_actions#CreateServerImageResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.server_actions#CreateServerImageResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.server_actions#CreateServerImageResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.server_actions#CreateServerImageResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.server_actions#CreateServerImageResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
[...]
