{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.hetzner.servers#ListServersRequestSortItem": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "ID_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:asc"
          }
        },
        "ID_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:desc"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "NAME_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name:asc"
          }
        },
        "NAME_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name:desc"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "CREATED_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created:asc"
          }
        },
        "CREATED_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created:desc"
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.servers#ListServersRequestSortList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.servers#ListServersRequestSortItem"
      },
      "traits": {}
    },
    "com.hetzner.servers#ListServersRequestStatusItem": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starting"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopping"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "MIGRATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migrating"
          }
        },
        "REBUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rebuilding"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Server."
      }
    },
    "com.hetzner.servers#ListServersRequestStatusList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.servers#ListServersRequestStatusItem"
      },
      "traits": {}
    },
    "com.hetzner.servers#ListServersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Filter resources by their name.\n\nThe response will only contain the resources\nmatching exactly the specified name.\n"
          }
        },
        "label_selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "label_selector",
            "smithy.api#documentation": "Filter resources by labels.\n\nThe response will only contain resources matching the label selector.\nFor more information, see \"[Label Selector](#description/label-selector)\".\n"
          }
        },
        "sort": {
          "target": "com.hetzner.servers#ListServersRequestSortList",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sort resources by field and direction. May be used multiple times.\n\nFor more information, see \"[Sorting](#description/sorting)\".\n"
          }
        },
        "status": {
          "target": "com.hetzner.servers#ListServersRequestStatusList",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter resources by status. May be used multiple times.\n\nThe response will only contain the resources with the specified status.\n"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number to return. For more information, see \"[Pagination](#description/pagination)\"."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Maximum number of entries returned per page. For more information, see \"[Pagination](#description/pagination)\"."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starting"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopping"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "MIGRATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migrating"
          }
        },
        "REBUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rebuilding"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Server."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemPublicNetIpv4": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Primary IP](#tag/primary-ips)."
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (v4) of this Server.",
            "smithy.api#required": {}
          }
        },
        "blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the IP is blocked by our anti abuse dept.",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reverse DNS PTR entry for the IPv4 addresses of this Server.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP address (v4) and its reverse DNS entry of this Server."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemPublicNetIpv6DnsPtrItem": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Single IPv6 address of this Server for which the reverse DNS entry has been set up.",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS pointer for the specific IP address.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.servers#ListServersResponseServersItemPublicNetIpv6DnsPtrList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.servers#ListServersResponseServersItemPublicNetIpv6DnsPtrItem"
      },
      "traits": {
        "smithy.api#documentation": "Reverse DNS PTR entries for the IPv6 addresses of this Server."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemPublicNetIpv6": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Primary IP](#tag/primary-ips)."
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (v6) of this Server.",
            "smithy.api#required": {}
          }
        },
        "blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the IP is blocked by our anti abuse dept.",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "com.hetzner.servers#ListServersResponseServersItemPublicNetIpv6DnsPtrList",
          "traits": {
            "smithy.api#documentation": "Reverse DNS PTR entries for the IPv6 addresses of this Server.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IPv6 network assigned to this Server and its reverse DNS entry."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemPublicNetFloatingIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "IDs of Floating IPs assigned to this Server."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemPublicNetFirewallsItemStatus": {
      "type": "enum",
      "members": {
        "APPLIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applied"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Firewall on the Server."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemPublicNetFirewallsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Firewall](#tag/firewalls)."
          }
        },
        "status": {
          "target": "com.hetzner.servers#ListServersResponseServersItemPublicNetFirewallsItemStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Firewall on the Server."
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.servers#ListServersResponseServersItemPublicNetFirewallsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.servers#ListServersResponseServersItemPublicNetFirewallsItem"
      },
      "traits": {
        "smithy.api#documentation": "Firewalls applied to the public network interface of this Server."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemPublicNet": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "com.hetzner.servers#ListServersResponseServersItemPublicNetIpv4",
          "traits": {
            "smithy.api#documentation": "IP address (v4) and its reverse DNS entry of this Server.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipv6": {
          "target": "com.hetzner.servers#ListServersResponseServersItemPublicNetIpv6",
          "traits": {
            "smithy.api#documentation": "IPv6 network assigned to this Server and its reverse DNS entry.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "floating_ips": {
          "target": "com.hetzner.servers#ListServersResponseServersItemPublicNetFloatingIpsList",
          "traits": {
            "smithy.api#documentation": "IDs of Floating IPs assigned to this Server.",
            "smithy.api#required": {}
          }
        },
        "firewalls": {
          "target": "com.hetzner.servers#ListServersResponseServersItemPublicNetFirewallsList",
          "traits": {
            "smithy.api#documentation": "Firewalls applied to the public network interface of this Server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public network information. The Server's IPv4 address can be found in `public_net->ipv4->ip`."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemPrivateNetItemAliasIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Additional IP addresses of the server on the network."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemPrivateNetItem": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Network ID the server is attached to."
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server IP address on the network."
          }
        },
        "alias_ips": {
          "target": "com.hetzner.servers#ListServersResponseServersItemPrivateNetItemAliasIpsList",
          "traits": {
            "smithy.api#documentation": "Additional IP addresses of the server on the network."
          }
        },
        "mac_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server MAC address on the network."
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.servers#ListServersResponseServersItemPrivateNetList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.servers#ListServersResponseServersItemPrivateNetItem"
      },
      "traits": {
        "smithy.api#documentation": "Private networks information."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemServerTypePricesItemPriceHourly": {
      "type": "structure",
      "members": {
        "net": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price without VAT.",
            "smithy.api#required": {}
          }
        },
        "gross": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price with VAT added.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hourly price in this [Location](#tag/locations)."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemServerTypePricesItemPriceMonthly": {
      "type": "structure",
      "members": {
        "net": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price without VAT.",
            "smithy.api#required": {}
          }
        },
        "gross": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price with VAT added.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Monthly price in this [Location](#tag/locations)."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemServerTypePricesItemPricePerTbTraffic": {
      "type": "structure",
      "members": {
        "net": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price without VAT.",
            "smithy.api#required": {}
          }
        },
        "gross": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price with VAT added.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional traffic price per TB in this [Location](#tag/locations)."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemServerTypePricesItem": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the [Location](#tag/locations) the price is for.",
            "smithy.api#required": {}
          }
        },
        "price_hourly": {
          "target": "com.hetzner.servers#ListServersResponseServersItemServerTypePricesItemPriceHourly",
          "traits": {
            "smithy.api#documentation": "Hourly price in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "price_monthly": {
          "target": "com.hetzner.servers#ListServersResponseServersItemServerTypePricesItemPriceMonthly",
          "traits": {
            "smithy.api#documentation": "Monthly price in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "included_traffic": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Free traffic per month in bytes in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "price_per_tb_traffic": {
          "target": "com.hetzner.servers#ListServersResponseServersItemServerTypePricesItemPricePerTbTraffic",
          "traits": {
            "smithy.api#documentation": "Additional traffic price per TB in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.servers#ListServersResponseServersItemServerTypePricesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.servers#ListServersResponseServersItemServerTypePricesItem"
      },
      "traits": {
        "smithy.api#documentation": "Price per [Location](#tag/locations)."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemServerTypeStorageType": {
      "type": "enum",
      "members": {
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local"
          }
        },
        "NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "network"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of Server boot drive. Local has higher speed. Network has better availability."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemServerTypeCpuType": {
      "type": "enum",
      "members": {
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shared"
          }
        },
        "DEDICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dedicated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of cpu."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemServerTypeArchitecture": {
      "type": "enum",
      "members": {
        "X86": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x86"
          }
        },
        "ARM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arm"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CPU architecture of the Server Type.\n"
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemServerTypeDeprecation": {
      "type": "structure",
      "members": {
        "unavailable_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the deprecated resource removal.\n\nOnce this date is reached, the resource will not be returned\nby resource type \"list\" endpoint, and the resource can not be\nused to create new resources. For example, if this is an\nimage, you can not create new servers with this image after\nthe mentioned date.\n",
            "smithy.api#required": {}
          }
        },
        "announced": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the deprecation announcement.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This field is deprecated.\n\nUse the `deprecation` object in the `locations` field instead (`.locations[].deprecation`).\n"
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemServerTypeLocationsItemDeprecation": {
      "type": "structure",
      "members": {
        "unavailable_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the deprecated resource removal.\n\nOnce this date is reached, the resource will not be returned\nby resource type \"list\" endpoint, and the resource can not be\nused to create new resources. For example, if this is an\nimage, you can not create new servers with this image after\nthe mentioned date.\n",
            "smithy.api#required": {}
          }
        },
        "announced": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the deprecation announcement.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes if, when and how the resource is deprecated. If this field is\nset to `null` the resource is not deprecated. If a value is set, it is\nconsidered deprecated.\n"
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemServerTypeLocationsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "deprecation": {
          "target": "com.hetzner.servers#ListServersResponseServersItemServerTypeLocationsItemDeprecation",
          "traits": {
            "smithy.api#documentation": "Describes if, when and how the resource is deprecated. If this field is\nset to `null` the resource is not deprecated. If a value is set, it is\nconsidered deprecated.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "recommended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the [Server Type](#tag/server-types) is recommended in this [Location](#tag/locations).\n",
            "smithy.api#required": {}
          }
        },
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the [Server Type](#tag/server-types) is temporarily unavailable in this [Location](#tag/locations).\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A [Location](#tag/locations) (containing only id and name) and Server Type specific metadata.\n"
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemServerTypeLocationsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.servers#ListServersResponseServersItemServerTypeLocationsItem"
      },
      "traits": {
        "smithy.api#documentation": "Supported [Location](#tag/locations) and per [Location](#tag/locations) details for the [Server Type](#tag/server-types).\n\nA [Server Type](#tag/server-types) is:\n - only supported in the [Location](#tag/locations) that are listed.\n - deprecated in the [Location](#tag/locations) when the `deprecation` property is set.\n - permanently unavailable in the [Location](#tag/locations) when the `deprecation.unavailable_after` date is in the past.\n - temporarily unavailable in the [Location](#tag/locations) when the `deprecation.available` is false.\n"
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemServerType": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Server type.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Server type.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Server type.",
            "smithy.api#required": {}
          }
        },
        "cores": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of cpu cores a Server of this type will have.",
            "smithy.api#required": {}
          }
        },
        "memory": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory a Server of this type will have in GB.",
            "smithy.api#required": {}
          }
        },
        "disk": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Disk size a Server of this type will have in GB.",
            "smithy.api#required": {}
          }
        },
        "deprecated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use the deprecation object instead.",
            "smithy.api#required": {}
          }
        },
        "prices": {
          "target": "com.hetzner.servers#ListServersResponseServersItemServerTypePricesList",
          "traits": {
            "smithy.api#documentation": "Price per [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "storage_type": {
          "target": "com.hetzner.servers#ListServersResponseServersItemServerTypeStorageType",
          "traits": {
            "smithy.api#documentation": "Type of Server boot drive. Local has higher speed. Network has better availability.",
            "smithy.api#required": {}
          }
        },
        "cpu_type": {
          "target": "com.hetzner.servers#ListServersResponseServersItemServerTypeCpuType",
          "traits": {
            "smithy.api#documentation": "Type of cpu.",
            "smithy.api#required": {}
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of Server Type."
          }
        },
        "architecture": {
          "target": "com.hetzner.servers#ListServersResponseServersItemServerTypeArchitecture",
          "traits": {
            "smithy.api#documentation": "CPU architecture of the Server Type.\n",
            "smithy.api#required": {}
          }
        },
        "deprecation": {
          "target": "com.hetzner.servers#ListServersResponseServersItemServerTypeDeprecation",
          "traits": {
            "smithy.api#documentation": "This field is deprecated.\n\nUse the `deprecation` object in the `locations` field instead (`.locations[].deprecation`).\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "locations": {
          "target": "com.hetzner.servers#ListServersResponseServersItemServerTypeLocationsList",
          "traits": {
            "smithy.api#documentation": "Supported [Location](#tag/locations) and per [Location](#tag/locations) details for the [Server Type](#tag/server-types).\n\nA [Server Type](#tag/server-types) is:\n - only supported in the [Location](#tag/locations) that are listed.\n - deprecated in the [Location](#tag/locations) when the `deprecation` property is set.\n - permanently unavailable in the [Location](#tag/locations) when the `deprecation.unavailable_after` date is in the past.\n - temporarily unavailable in the [Location](#tag/locations) when the `deprecation.available` is false.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.servers#ListServersResponseServersItemLocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable description of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country the [Location](#tag/locations) resides in.\n\nISO 3166-1 alpha-2 code of the country.\n",
            "smithy.api#required": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the closest city to the [Location](#tag/locations).\n\nCity name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.\n",
            "smithy.api#required": {}
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "network_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Network Zone this [Location](#tag/locations) resides in.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location this Resource is located at.\n"
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemImageType": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app"
          }
        },
        "SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snapshot"
          }
        },
        "BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backup"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the Image."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemImageStatus": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creating"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Image."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemImageCreatedFrom": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Server the Image was created from.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server name at the time the Image was created.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the Server the Image was created from."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemImageOsFlavor": {
      "type": "enum",
      "members": {
        "UBUNTU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ubuntu"
          }
        },
        "CENTOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "centos"
          }
        },
        "DEBIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "debian"
          }
        },
        "FEDORA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedora"
          }
        },
        "ROCKY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rocky"
          }
        },
        "ALMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alma"
          }
        },
        "OPENSUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opensuse"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Flavor of operating system contained in the Image."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemImageProtection": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent the Resource from being deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protection configuration for the Resource."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemImageLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemImageArchitecture": {
      "type": "enum",
      "members": {
        "X86": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x86"
          }
        },
        "ARM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arm"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CPU architecture compatible with the Image.\n"
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemImage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Image](#tag/images).",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.hetzner.servers#ListServersResponseServersItemImageType",
          "traits": {
            "smithy.api#documentation": "Type of the Image.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.servers#ListServersResponseServersItemImageStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Image.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Image. This value is only set for system Images.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Image.",
            "smithy.api#required": {}
          }
        },
        "image_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Size of the Image file in our storage in GB. For snapshot Images this is the value relevant for calculating costs for the Image.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "disk_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Size of the disk contained in the Image in GB.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "created_from": {
          "target": "com.hetzner.servers#ListServersResponseServersItemImageCreatedFrom",
          "traits": {
            "smithy.api#documentation": "Information about the Server the Image was created from.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "bound_to": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of Server the Image is bound to. Only set for Images of type `backup`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "os_flavor": {
          "target": "com.hetzner.servers#ListServersResponseServersItemImageOsFlavor",
          "traits": {
            "smithy.api#documentation": "Flavor of operating system contained in the Image.",
            "smithy.api#required": {}
          }
        },
        "os_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system version.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "rapid_deploy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that rapid deploy of the Image is available."
          }
        },
        "protection": {
          "target": "com.hetzner.servers#ListServersResponseServersItemImageProtection",
          "traits": {
            "smithy.api#documentation": "Protection configuration for the Resource.",
            "smithy.api#required": {}
          }
        },
        "deprecated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Image is considered to be deprecated (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time where the Image was deleted (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "labels": {
          "target": "com.hetzner.servers#ListServersResponseServersItemImageLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "architecture": {
          "target": "com.hetzner.servers#ListServersResponseServersItemImageArchitecture",
          "traits": {
            "smithy.api#documentation": "CPU architecture compatible with the Image.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image the server is based on."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemIsoType": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the ISO."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemIsoDeprecation": {
      "type": "structure",
      "members": {
        "unavailable_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the deprecated resource removal.\n\nOnce this date is reached, the resource will not be returned\nby resource type \"list\" endpoint, and the resource can not be\nused to create new resources. For example, if this is an\nimage, you can not create new servers with this image after\nthe mentioned date.\n",
            "smithy.api#required": {}
          }
        },
        "announced": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the deprecation announcement.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes if, when and how the resource is deprecated. If this field is\nset to `null` the resource is not deprecated. If a value is set, it is\nconsidered deprecated.\n"
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemIsoArchitecture": {
      "type": "enum",
      "members": {
        "X86": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x86"
          }
        },
        "ARM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arm"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CPU architecture compatible with the ISO.\n\nNull indicates no restriction on the architecture (wildcard).\n"
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemIso": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [ISO](#tag/isos).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the ISO. Only set for public ISOs.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the ISO.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.hetzner.servers#ListServersResponseServersItemIsoType",
          "traits": {
            "smithy.api#documentation": "Type of the ISO.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "deprecation": {
          "target": "com.hetzner.servers#ListServersResponseServersItemIsoDeprecation",
          "traits": {
            "smithy.api#documentation": "Describes if, when and how the resource is deprecated. If this field is\nset to `null` the resource is not deprecated. If a value is set, it is\nconsidered deprecated.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "architecture": {
          "target": "com.hetzner.servers#ListServersResponseServersItemIsoArchitecture",
          "traits": {
            "smithy.api#documentation": "CPU architecture compatible with the ISO.\n\nNull indicates no restriction on the architecture (wildcard).\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ISO Image that is attached to this Server. Null if no ISO is attached."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemProtection": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, prevents the Server from being deleted.",
            "smithy.api#required": {}
          }
        },
        "rebuild": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, prevents the Server from being rebuilt.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protection configuration for the Server."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemVolumesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "IDs of Volumes assigned to this Server."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemLoadBalancersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Load Balancer IDs assigned to the server."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemPlacementGroupLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemPlacementGroupType": {
      "type": "enum",
      "members": {
        "SPREAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spread"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of Placement Group.\n"
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemPlacementGroupServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Array of IDs of Servers that are part of this Placement Group."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItemPlacementGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Placement Group](#tag/placement-groups).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Resource. Must be unique per Project.",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.hetzner.servers#ListServersResponseServersItemPlacementGroupLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.hetzner.servers#ListServersResponseServersItemPlacementGroupType",
          "traits": {
            "smithy.api#documentation": "Type of Placement Group.\n",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "servers": {
          "target": "com.hetzner.servers#ListServersResponseServersItemPlacementGroupServersList",
          "traits": {
            "smithy.api#documentation": "Array of IDs of Servers that are part of this Placement Group.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The placement group the server is assigned to."
      }
    },
    "com.hetzner.servers#ListServersResponseServersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Server](#tag/servers).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Server (must be unique per Project and a valid hostname as per RFC 1123).",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.servers#ListServersResponseServersItemStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Server.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "public_net": {
          "target": "com.hetzner.servers#ListServersResponseServersItemPublicNet",
          "traits": {
            "smithy.api#documentation": "Public network information. The Server's IPv4 address can be found in `public_net->ipv4->ip`.",
            "smithy.api#required": {}
          }
        },
        "private_net": {
          "target": "com.hetzner.servers#ListServersResponseServersItemPrivateNetList",
          "traits": {
            "smithy.api#documentation": "Private networks information.",
            "smithy.api#required": {}
          }
        },
        "server_type": {
          "target": "com.hetzner.servers#ListServersResponseServersItemServerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.hetzner.servers#ListServersResponseServersItemLocation",
          "traits": {
            "smithy.api#documentation": "Location this Resource is located at.\n",
            "smithy.api#required": {}
          }
        },
        "image": {
          "target": "com.hetzner.servers#ListServersResponseServersItemImage",
          "traits": {
            "smithy.api#documentation": "Image the server is based on.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "iso": {
          "target": "com.hetzner.servers#ListServersResponseServersItemIso",
          "traits": {
            "smithy.api#documentation": "ISO Image that is attached to this Server. Null if no ISO is attached.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "rescue_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if rescue mode is enabled. Server will then boot into rescue system on next reboot.",
            "smithy.api#required": {}
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if Server has been locked and is not available to user.",
            "smithy.api#required": {}
          }
        },
        "backup_window": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time window (UTC) in which the backup will run, or null if the backups are not enabled.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "outgoing_traffic": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Outbound Traffic for the current billing period in bytes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ingoing_traffic": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Inbound Traffic for the current billing period in bytes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "included_traffic": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Free Traffic for the current billing period in bytes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "protection": {
          "target": "com.hetzner.servers#ListServersResponseServersItemProtection",
          "traits": {
            "smithy.api#documentation": "Protection configuration for the Server.",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.hetzner.servers#ListServersResponseServersItemLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "volumes": {
          "target": "com.hetzner.servers#ListServersResponseServersItemVolumesList",
          "traits": {
            "smithy.api#documentation": "IDs of Volumes assigned to this Server."
          }
        },
        "load_balancers": {
          "target": "com.hetzner.servers#ListServersResponseServersItemLoadBalancersList",
          "traits": {
            "smithy.api#documentation": "Load Balancer IDs assigned to the server."
          }
        },
        "primary_disk_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Size of the primary Disk.",
            "smithy.api#required": {}
          }
        },
        "placement_group": {
          "target": "com.hetzner.servers#ListServersResponseServersItemPlacementGroup",
          "traits": {
            "smithy.api#documentation": "The placement group the server is assigned to.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.servers#ListServersResponseServersList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.servers#ListServersResponseServersItem"
      },
      "traits": {}
    },
    "com.hetzner.servers#ListServersResponseMetaPagination": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current page number.",
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of entries returned per page.",
            "smithy.api#required": {}
          }
        },
        "previous_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the previous page. Can be null if the current page is the first one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the next page. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the last page available. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_entries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of entries that exist for this query. Can be null if unknown.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information."
      }
    },
    "com.hetzner.servers#ListServersResponseMeta": {
      "type": "structure",
      "members": {
        "pagination": {
          "target": "com.hetzner.servers#ListServersResponseMetaPagination",
          "traits": {
            "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.servers#ListServersResponse": {
      "type": "structure",
      "members": {
        "servers": {
          "target": "com.hetzner.servers#ListServersResponseServersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.hetzner.servers#ListServersResponseMeta",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.servers#ListServers": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.servers#ListServersRequest"
      },
      "output": {
        "target": "com.hetzner.servers#ListServersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/servers",
          "code": 200
        },
        "smithy.api#documentation": "List Servers\n\nReturns all existing Server objects.",
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "meta.pagination.next_page",
          "items": "servers",
          "pageSize": "per_page"
        }
      }
    },
    "com.hetzner.servers#CreateServerRequestSshKeysItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.hetzner.servers#CreateServerRequestSshKeysList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.servers#CreateServerRequestSshKeysItem"
      },
      "traits": {
        "smithy.api#documentation": "SSH key IDs (`integer`) or names (`string`) which should be injected into the Server at creation time."
      }
    },
    "com.hetzner.servers#CreateServerRequestVolumesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Volume IDs which should be attached to the Server at the creation time. Volumes must be in the same Location."
      }
    },
    "com.hetzner.servers#CreateServerRequestNetworksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Network IDs which should be attached to the Server private network interface at the creation time."
      }
    },
    "com.hetzner.servers#CreateServerRequestFirewallsItem": {
      "type": "structure",
      "members": {
        "firewall": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Firewall.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.servers#CreateServerRequestFirewallsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.servers#CreateServerRequestFirewallsItem"
      },
      "traits": {
        "smithy.api#documentation": "Firewalls which should be applied on the Server's public network interface at creation time."
      }
    },
    "com.hetzner.servers#CreateServerRequestLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.servers#CreateServerRequestPublicNet": {
      "type": "structure",
      "members": {
        "enable_ipv4": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Attach an IPv4 on the public NIC. If false, no IPv4 address will be attached."
          }
        },
        "enable_ipv6": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Attach an IPv6 on the public NIC. If false, no IPv6 address will be attached."
          }
        },
        "ipv4": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the ipv4 Primary IP to use. If omitted and enable_ipv4 is true, a new ipv4 Primary IP will automatically be created.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the ipv6 Primary IP to use. If omitted and enable_ipv6 is true, a new ipv6 Primary IP will automatically be created.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public Network options."
      }
    },
    "com.hetzner.servers#CreateServerRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Server to create (must be unique per Project and a valid hostname as per RFC 1123).",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID or name of the Location to create the Server in."
          }
        },
        "server_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID or name of the Server type this Server should be created with.",
            "smithy.api#required": {}
          }
        },
        "start_after_create": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This automatically triggers a [Power on a Server-Server Action](#tag/server-actions/poweron_server) after the creation is finished and is returned in the `next_actions` response object."
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID or name of the Image the Server is created from.",
            "smithy.api#required": {}
          }
        },
        "placement_group": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Placement Group the Server should be in."
          }
        },
        "ssh_keys": {
          "target": "com.hetzner.servers#CreateServerRequestSshKeysList",
          "traits": {
            "smithy.api#documentation": "SSH key IDs (`integer`) or names (`string`) which should be injected into the Server at creation time."
          }
        },
        "volumes": {
          "target": "com.hetzner.servers#CreateServerRequestVolumesList",
          "traits": {
            "smithy.api#documentation": "Volume IDs which should be attached to the Server at the creation time. Volumes must be in the same Location."
          }
        },
        "networks": {
          "target": "com.hetzner.servers#CreateServerRequestNetworksList",
          "traits": {
            "smithy.api#documentation": "Network IDs which should be attached to the Server private network interface at the creation time."
          }
        },
        "firewalls": {
          "target": "com.hetzner.servers#CreateServerRequestFirewallsList",
          "traits": {
            "smithy.api#documentation": "Firewalls which should be applied on the Server's public network interface at creation time."
          }
        },
        "user_data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud-Init user data to use during Server creation. This field is limited to 32KiB."
          }
        },
        "labels": {
          "target": "com.hetzner.servers#CreateServerRequestLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
          }
        },
        "automount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Auto-mount Volumes after attach."
          }
        },
        "public_net": {
          "target": "com.hetzner.servers#CreateServerRequestPublicNet",
          "traits": {
            "smithy.api#documentation": "Public Network options."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.servers#CreateServerResponseServerStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starting"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopping"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "MIGRATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migrating"
          }
        },
        "REBUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rebuilding"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Server."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerPublicNetIpv4": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Primary IP](#tag/primary-ips)."
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (v4) of this Server.",
            "smithy.api#required": {}
          }
        },
        "blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the IP is blocked by our anti abuse dept.",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reverse DNS PTR entry for the IPv4 addresses of this Server.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP address (v4) and its reverse DNS entry of this Server."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerPublicNetIpv6DnsPtrItem": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Single IPv6 address of this Server for which the reverse DNS entry has been set up.",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS pointer for the specific IP address.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.servers#CreateServerResponseServerPublicNetIpv6DnsPtrList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.servers#CreateServerResponseServerPublicNetIpv6DnsPtrItem"
      },
      "traits": {
        "smithy.api#documentation": "Reverse DNS PTR entries for the IPv6 addresses of this Server."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerPublicNetIpv6": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Primary IP](#tag/primary-ips)."
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (v6) of this Server.",
            "smithy.api#required": {}
          }
        },
        "blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the IP is blocked by our anti abuse dept.",
            "smithy.api#required": {}
          }
        },
        "dns_ptr": {
          "target": "com.hetzner.servers#CreateServerResponseServerPublicNetIpv6DnsPtrList",
          "traits": {
            "smithy.api#documentation": "Reverse DNS PTR entries for the IPv6 addresses of this Server.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IPv6 network assigned to this Server and its reverse DNS entry."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerPublicNetFloatingIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "IDs of Floating IPs assigned to this Server."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerPublicNetFirewallsItemStatus": {
      "type": "enum",
      "members": {
        "APPLIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applied"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Firewall on the Server."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerPublicNetFirewallsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Firewall](#tag/firewalls)."
          }
        },
        "status": {
          "target": "com.hetzner.servers#CreateServerResponseServerPublicNetFirewallsItemStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Firewall on the Server."
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.servers#CreateServerResponseServerPublicNetFirewallsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.servers#CreateServerResponseServerPublicNetFirewallsItem"
      },
      "traits": {
        "smithy.api#documentation": "Firewalls applied to the public network interface of this Server."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerPublicNet": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "com.hetzner.servers#CreateServerResponseServerPublicNetIpv4",
          "traits": {
            "smithy.api#documentation": "IP address (v4) and its reverse DNS entry of this Server.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipv6": {
          "target": "com.hetzner.servers#CreateServerResponseServerPublicNetIpv6",
          "traits": {
            "smithy.api#documentation": "IPv6 network assigned to this Server and its reverse DNS entry.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "floating_ips": {
          "target": "com.hetzner.servers#CreateServerResponseServerPublicNetFloatingIpsList",
          "traits": {
            "smithy.api#documentation": "IDs of Floating IPs assigned to this Server.",
            "smithy.api#required": {}
          }
        },
        "firewalls": {
          "target": "com.hetzner.servers#CreateServerResponseServerPublicNetFirewallsList",
          "traits": {
            "smithy.api#documentation": "Firewalls applied to the public network interface of this Server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public network information. The Server's IPv4 address can be found in `public_net->ipv4->ip`."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerPrivateNetItemAliasIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Additional IP addresses of the server on the network."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerPrivateNetItem": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Network ID the server is attached to."
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server IP address on the network."
          }
        },
        "alias_ips": {
          "target": "com.hetzner.servers#CreateServerResponseServerPrivateNetItemAliasIpsList",
          "traits": {
            "smithy.api#documentation": "Additional IP addresses of the server on the network."
          }
        },
        "mac_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server MAC address on the network."
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.servers#CreateServerResponseServerPrivateNetList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.servers#CreateServerResponseServerPrivateNetItem"
      },
      "traits": {
        "smithy.api#documentation": "Private networks information."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerServerTypePricesItemPriceHourly": {
      "type": "structure",
      "members": {
        "net": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price without VAT.",
            "smithy.api#required": {}
          }
        },
        "gross": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price with VAT added.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hourly price in this [Location](#tag/locations)."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerServerTypePricesItemPriceMonthly": {
      "type": "structure",
      "members": {
        "net": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price without VAT.",
            "smithy.api#required": {}
          }
        },
        "gross": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price with VAT added.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Monthly price in this [Location](#tag/locations)."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerServerTypePricesItemPricePerTbTraffic": {
      "type": "structure",
      "members": {
        "net": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price without VAT.",
            "smithy.api#required": {}
          }
        },
        "gross": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price with VAT added.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional traffic price per TB in this [Location](#tag/locations)."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerServerTypePricesItem": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the [Location](#tag/locations) the price is for.",
            "smithy.api#required": {}
          }
        },
        "price_hourly": {
          "target": "com.hetzner.servers#CreateServerResponseServerServerTypePricesItemPriceHourly",
          "traits": {
            "smithy.api#documentation": "Hourly price in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "price_monthly": {
          "target": "com.hetzner.servers#CreateServerResponseServerServerTypePricesItemPriceMonthly",
          "traits": {
            "smithy.api#documentation": "Monthly price in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "included_traffic": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Free traffic per month in bytes in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "price_per_tb_traffic": {
          "target": "com.hetzner.servers#CreateServerResponseServerServerTypePricesItemPricePerTbTraffic",
          "traits": {
            "smithy.api#documentation": "Additional traffic price per TB in this [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.servers#CreateServerResponseServerServerTypePricesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.servers#CreateServerResponseServerServerTypePricesItem"
      },
      "traits": {
        "smithy.api#documentation": "Price per [Location](#tag/locations)."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerServerTypeStorageType": {
      "type": "enum",
      "members": {
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local"
          }
        },
        "NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "network"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of Server boot drive. Local has higher speed. Network has better availability."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerServerTypeCpuType": {
      "type": "enum",
      "members": {
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shared"
          }
        },
        "DEDICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dedicated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of cpu."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerServerTypeArchitecture": {
      "type": "enum",
      "members": {
        "X86": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x86"
          }
        },
        "ARM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arm"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CPU architecture of the Server Type.\n"
      }
    },
    "com.hetzner.servers#CreateServerResponseServerServerTypeDeprecation": {
      "type": "structure",
      "members": {
        "unavailable_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the deprecated resource removal.\n\nOnce this date is reached, the resource will not be returned\nby resource type \"list\" endpoint, and the resource can not be\nused to create new resources. For example, if this is an\nimage, you can not create new servers with this image after\nthe mentioned date.\n",
            "smithy.api#required": {}
          }
        },
        "announced": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the deprecation announcement.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This field is deprecated.\n\nUse the `deprecation` object in the `locations` field instead (`.locations[].deprecation`).\n"
      }
    },
    "com.hetzner.servers#CreateServerResponseServerServerTypeLocationsItemDeprecation": {
      "type": "structure",
      "members": {
        "unavailable_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the deprecated resource removal.\n\nOnce this date is reached, the resource will not be returned\nby resource type \"list\" endpoint, and the resource can not be\nused to create new resources. For example, if this is an\nimage, you can not create new servers with this image after\nthe mentioned date.\n",
            "smithy.api#required": {}
          }
        },
        "announced": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the deprecation announcement.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes if, when and how the resource is deprecated. If this field is\nset to `null` the resource is not deprecated. If a value is set, it is\nconsidered deprecated.\n"
      }
    },
    "com.hetzner.servers#CreateServerResponseServerServerTypeLocationsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "deprecation": {
          "target": "com.hetzner.servers#CreateServerResponseServerServerTypeLocationsItemDeprecation",
          "traits": {
            "smithy.api#documentation": "Describes if, when and how the resource is deprecated. If this field is\nset to `null` the resource is not deprecated. If a value is set, it is\nconsidered deprecated.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "recommended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the [Server Type](#tag/server-types) is recommended in this [Location](#tag/locations).\n",
            "smithy.api#required": {}
          }
        },
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the [Server Type](#tag/server-types) is temporarily unavailable in this [Location](#tag/locations).\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A [Location](#tag/locations) (containing only id and name) and Server Type specific metadata.\n"
      }
    },
    "com.hetzner.servers#CreateServerResponseServerServerTypeLocationsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.servers#CreateServerResponseServerServerTypeLocationsItem"
      },
      "traits": {
        "smithy.api#documentation": "Supported [Location](#tag/locations) and per [Location](#tag/locations) details for the [Server Type](#tag/server-types).\n\nA [Server Type](#tag/server-types) is:\n - only supported in the [Location](#tag/locations) that are listed.\n - deprecated in the [Location](#tag/locations) when the `deprecation` property is set.\n - permanently unavailable in the [Location](#tag/locations) when the `deprecation.unavailable_after` date is in the past.\n - temporarily unavailable in the [Location](#tag/locations) when the `deprecation.available` is false.\n"
      }
    },
    "com.hetzner.servers#CreateServerResponseServerServerType": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Server type.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Server type.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Server type.",
            "smithy.api#required": {}
          }
        },
        "cores": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of cpu cores a Server of this type will have.",
            "smithy.api#required": {}
          }
        },
        "memory": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory a Server of this type will have in GB.",
            "smithy.api#required": {}
          }
        },
        "disk": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Disk size a Server of this type will have in GB.",
            "smithy.api#required": {}
          }
        },
        "deprecated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use the deprecation object instead.",
            "smithy.api#required": {}
          }
        },
        "prices": {
          "target": "com.hetzner.servers#CreateServerResponseServerServerTypePricesList",
          "traits": {
            "smithy.api#documentation": "Price per [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "storage_type": {
          "target": "com.hetzner.servers#CreateServerResponseServerServerTypeStorageType",
          "traits": {
            "smithy.api#documentation": "Type of Server boot drive. Local has higher speed. Network has better availability.",
            "smithy.api#required": {}
          }
        },
        "cpu_type": {
          "target": "com.hetzner.servers#CreateServerResponseServerServerTypeCpuType",
          "traits": {
            "smithy.api#documentation": "Type of cpu.",
            "smithy.api#required": {}
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of Server Type."
          }
        },
        "architecture": {
          "target": "com.hetzner.servers#CreateServerResponseServerServerTypeArchitecture",
          "traits": {
            "smithy.api#documentation": "CPU architecture of the Server Type.\n",
            "smithy.api#required": {}
          }
        },
        "deprecation": {
          "target": "com.hetzner.servers#CreateServerResponseServerServerTypeDeprecation",
          "traits": {
            "smithy.api#documentation": "This field is deprecated.\n\nUse the `deprecation` object in the `locations` field instead (`.locations[].deprecation`).\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "locations": {
          "target": "com.hetzner.servers#CreateServerResponseServerServerTypeLocationsList",
          "traits": {
            "smithy.api#documentation": "Supported [Location](#tag/locations) and per [Location](#tag/locations) details for the [Server Type](#tag/server-types).\n\nA [Server Type](#tag/server-types) is:\n - only supported in the [Location](#tag/locations) that are listed.\n - deprecated in the [Location](#tag/locations) when the `deprecation` property is set.\n - permanently unavailable in the [Location](#tag/locations) when the `deprecation.unavailable_after` date is in the past.\n - temporarily unavailable in the [Location](#tag/locations) when the `deprecation.available` is false.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.servers#CreateServerResponseServerLocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable description of the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country the [Location](#tag/locations) resides in.\n\nISO 3166-1 alpha-2 code of the country.\n",
            "smithy.api#required": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the closest city to the [Location](#tag/locations).\n\nCity name or city name and state in short form. E.g. `Falkenstein` or `Ashburn, VA`.\n",
            "smithy.api#required": {}
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the city closest to the [Location](#tag/locations).",
            "smithy.api#required": {}
          }
        },
        "network_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Network Zone this [Location](#tag/locations) resides in.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location this Resource is located at.\n"
      }
    },
    "com.hetzner.servers#CreateServerResponseServerImageType": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app"
          }
        },
        "SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snapshot"
          }
        },
        "BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backup"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the Image."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerImageStatus": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creating"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Image."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerImageCreatedFrom": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Server the Image was created from.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server name at the time the Image was created.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the Server the Image was created from."
      }
    },
    "com.hetzner.servers#CreateServerResponseServerImageOsFlavor": {
      "type": "enum",
      "members": {
        "UBUNTU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ubuntu"
          }
        },
        "CENTOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "centos"
          }
        },
        "DEBIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "debian"
          }
        },
        "FEDORA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedora"
          }
        },
        "ROCKY": {
          "target": "smithy.api#Unit",
[...]
