{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.hetzner.zones#ListZonesRequestMode": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "primary"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mode of the [Zone](#tag/zones).\n\nFor more information, see [Zone Modes](#tag/zones/zone-modes).\n"
      }
    },
    "com.hetzner.zones#ListZonesRequestSortItem": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "ID_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:asc"
          }
        },
        "ID_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id:desc"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "NAME_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name:asc"
          }
        },
        "NAME_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name:desc"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "CREATED_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created:asc"
          }
        },
        "CREATED_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created:desc"
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.zones#ListZonesRequestSortList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.zones#ListZonesRequestSortItem"
      },
      "traits": {}
    },
    "com.hetzner.zones#ListZonesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Filter resources by their name.\n\nThe response will only contain the resources\nmatching exactly the specified name.\n"
          }
        },
        "mode": {
          "target": "com.hetzner.zones#ListZonesRequestMode",
          "traits": {
            "smithy.api#httpQuery": "mode",
            "smithy.api#documentation": "Filter resources by their mode.\n\nThe response will only contain the resources matching exactly the specified mode.\n"
          }
        },
        "label_selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "label_selector",
            "smithy.api#documentation": "Filter resources by labels.\n\nThe response will only contain resources matching the label selector.\nFor more information, see \"[Label Selector](#description/label-selector)\".\n"
          }
        },
        "sort": {
          "target": "com.hetzner.zones#ListZonesRequestSortList",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sort resources by field and direction. May be used multiple times.\n\nFor more information, see \"[Sorting](#description/sorting)\".\n"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number to return. For more information, see \"[Pagination](#description/pagination)\"."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Maximum number of entries returned per page. For more information, see \"[Pagination](#description/pagination)\"."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.zones#ZonePrimary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Zone](#tag/zones).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the [Zone](#tag/zones).\n\nAll names with [well-known public suffixes](https://publicsuffix.org/) (e.g. `.de`,\n`.com`, `.co.uk`) are supported. Subdomains are not supported.\n\nThe name must be in lower case and must not end with a dot.\n[Internationalized domain\nnames](https://en.wikipedia.org/wiki/Internationalized_domain_name) must be\ntranscribed to [Punycode](https://wikipedia.org/wiki/Punycode) representation with\nACE prefix, e.g. `xn--mnchen-3ya.de` (`münchen.de`).\n",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "primary_nameservers": {
          "target": "com.hetzner.zones#ZonePrimaryPrimaryNameserversList",
          "traits": {
            "smithy.api#documentation": "Primary nameservers of the [Zone](#tag/zones).\n\nOnly set if [Zone](#tag/zones) is in [secondary mode](#tag/zones/zone-modes), otherwise empty.\n"
          }
        },
        "labels": {
          "target": "com.hetzner.zones#ZonePrimaryLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "protection": {
          "target": "com.hetzner.zones#ZonePrimaryProtection",
          "traits": {
            "smithy.api#documentation": "Protection configuration for the Resource.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Default Time To Live (TTL) of the [Zone](#tag/zones).\n\nMust be in between 60s and 2147483647s.\n\nThis TTL is used for [RRSets](#tag/zone-rrsets) that do not explicitly define a TTL.\n",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.zones#ZonePrimaryStatus",
          "traits": {
            "smithy.api#documentation": "Status of the [Zone](#tag/zones).\n",
            "smithy.api#required": {}
          }
        },
        "record_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of resource records (RR) within the [Zone](#tag/zones).",
            "smithy.api#required": {}
          }
        },
        "authoritative_nameservers": {
          "target": "com.hetzner.zones#ZonePrimaryAuthoritativeNameservers",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "registrar": {
          "target": "com.hetzner.zones#ZonePrimaryRegistrar",
          "traits": {
            "smithy.api#documentation": "Registrar of the domain.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.hetzner.zones#ZonePrimaryMode",
          "traits": {
            "smithy.api#documentation": "Mode of the [Zone](#tag/zones).\n\nFor more information, see [Zone Modes](#tag/zones/zone-modes).\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.zones#ZonePrimaryPrimaryNameserversItemTsigAlgorithm": {
      "type": "enum",
      "members": {
        "HMAC_MD5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hmac-md5"
          }
        },
        "HMAC_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hmac-sha1"
          }
        },
        "HMAC_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hmac-sha256"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) algorithm\nused to generate the TSIG key.\n"
      }
    },
    "com.hetzner.zones#ZonePrimaryPrimaryNameserversItem": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public IPv4 or IPv6 address of the primary nameserver.\n\nMust be unique across all primary nameservers of this zone.\n",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port of the primary nameserver."
          }
        },
        "tsig_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) key to use\nfor the zone transfer. Must be base64 encoded.\n"
          }
        },
        "tsig_algorithm": {
          "target": "com.hetzner.zones#ZonePrimaryPrimaryNameserversItemTsigAlgorithm",
          "traits": {
            "smithy.api#documentation": "[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) algorithm\nused to generate the TSIG key.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Primary nameserver that returns [Zones](#tag/zones) via `AXFR`.\n\nMust allow queries from and may send `NOTIFY` queries to [Hetzner's secondary\nnameservers](https://docs.hetzner.com/dns-console/dns/general/authoritative-name-servers#secondary-dns-servers-old-name-servers-for-robot-customers).\n"
      }
    },
    "com.hetzner.zones#ZonePrimaryPrimaryNameserversList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.zones#ZonePrimaryPrimaryNameserversItem"
      },
      "traits": {
        "smithy.api#documentation": "Primary nameservers of the [Zone](#tag/zones).\n\nOnly set if [Zone](#tag/zones) is in [secondary mode](#tag/zones/zone-modes), otherwise empty.\n"
      }
    },
    "com.hetzner.zones#ZonePrimaryLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.zones#ZonePrimaryProtection": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent the Resource from being deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protection configuration for the Resource."
      }
    },
    "com.hetzner.zones#ZonePrimaryStatus": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updating"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the [Zone](#tag/zones).\n"
      }
    },
    "com.hetzner.zones#ZonePrimaryAuthoritativeNameserversAssignedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Authoritative Hetzner nameservers assigned to this [Zone](#tag/zones).\n"
      }
    },
    "com.hetzner.zones#ZonePrimaryAuthoritativeNameserversDelegatedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Authoritative nameservers currently delegated to by the parent DNS zone.\n\nIf these don't match the assigned authoritative nameservers, the DNS zone is currently not being served by Hetzner.\n"
      }
    },
    "com.hetzner.zones#ZonePrimaryAuthoritativeNameserversDelegationStatus": {
      "type": "enum",
      "members": {
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "valid"
          }
        },
        "PARTIALLY_VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partially-valid"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid"
          }
        },
        "LAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lame"
          }
        },
        "UNREGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unregistered"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the delegation.\n"
      }
    },
    "com.hetzner.zones#ZonePrimaryAuthoritativeNameservers": {
      "type": "structure",
      "members": {
        "assigned": {
          "target": "com.hetzner.zones#ZonePrimaryAuthoritativeNameserversAssignedList",
          "traits": {
            "smithy.api#documentation": "Authoritative Hetzner nameservers assigned to this [Zone](#tag/zones).\n",
            "smithy.api#required": {}
          }
        },
        "delegated": {
          "target": "com.hetzner.zones#ZonePrimaryAuthoritativeNameserversDelegatedList",
          "traits": {
            "smithy.api#documentation": "Authoritative nameservers currently delegated to by the parent DNS zone.\n\nIf these don't match the assigned authoritative nameservers, the DNS zone is currently not being served by Hetzner.\n",
            "smithy.api#required": {}
          }
        },
        "delegation_last_check": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format) when the DNS zone delegation was last checked.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "delegation_status": {
          "target": "com.hetzner.zones#ZonePrimaryAuthoritativeNameserversDelegationStatus",
          "traits": {
            "smithy.api#documentation": "Status of the delegation.\n"
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.zones#ZonePrimaryRegistrar": {
      "type": "enum",
      "members": {
        "HETZNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hetzner"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Registrar of the domain."
      }
    },
    "com.hetzner.zones#ZonePrimaryMode": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "primary"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mode of the [Zone](#tag/zones).\n\nFor more information, see [Zone Modes](#tag/zones/zone-modes).\n"
      }
    },
    "com.hetzner.zones#ZoneSecondary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Zone](#tag/zones).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the [Zone](#tag/zones).\n\nAll names with [well-known public suffixes](https://publicsuffix.org/) (e.g. `.de`,\n`.com`, `.co.uk`) are supported. Subdomains are not supported.\n\nThe name must be in lower case and must not end with a dot.\n[Internationalized domain\nnames](https://en.wikipedia.org/wiki/Internationalized_domain_name) must be\ntranscribed to [Punycode](https://wikipedia.org/wiki/Punycode) representation with\nACE prefix, e.g. `xn--mnchen-3ya.de` (`münchen.de`).\n",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Resource was created (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "primary_nameservers": {
          "target": "com.hetzner.zones#ZoneSecondaryPrimaryNameserversList",
          "traits": {
            "smithy.api#documentation": "Primary nameservers of the [Zone](#tag/zones).\n\nOnly set if [Zone](#tag/zones) is in [secondary mode](#tag/zones/zone-modes), otherwise empty.\n"
          }
        },
        "labels": {
          "target": "com.hetzner.zones#ZoneSecondaryLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n",
            "smithy.api#required": {}
          }
        },
        "protection": {
          "target": "com.hetzner.zones#ZoneSecondaryProtection",
          "traits": {
            "smithy.api#documentation": "Protection configuration for the Resource.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Default Time To Live (TTL) of the [Zone](#tag/zones).\n\nMust be in between 60s and 2147483647s.\n\nThis TTL is used for [RRSets](#tag/zone-rrsets) that do not explicitly define a TTL.\n",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.zones#ZoneSecondaryStatus",
          "traits": {
            "smithy.api#documentation": "Status of the [Zone](#tag/zones).\n",
            "smithy.api#required": {}
          }
        },
        "record_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of resource records (RR) within the [Zone](#tag/zones).",
            "smithy.api#required": {}
          }
        },
        "authoritative_nameservers": {
          "target": "com.hetzner.zones#ZoneSecondaryAuthoritativeNameservers",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "registrar": {
          "target": "com.hetzner.zones#ZoneSecondaryRegistrar",
          "traits": {
            "smithy.api#documentation": "Registrar of the domain.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.hetzner.zones#ZoneSecondaryMode",
          "traits": {
            "smithy.api#documentation": "Mode of the [Zone](#tag/zones).\n\nFor more information, see [Zone Modes](#tag/zones/zone-modes).\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.zones#ZoneSecondaryPrimaryNameserversItemTsigAlgorithm": {
      "type": "enum",
      "members": {
        "HMAC_MD5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hmac-md5"
          }
        },
        "HMAC_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hmac-sha1"
          }
        },
        "HMAC_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hmac-sha256"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) algorithm\nused to generate the TSIG key.\n"
      }
    },
    "com.hetzner.zones#ZoneSecondaryPrimaryNameserversItem": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public IPv4 or IPv6 address of the primary nameserver.\n\nMust be unique across all primary nameservers of this zone.\n",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port of the primary nameserver."
          }
        },
        "tsig_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) key to use\nfor the zone transfer. Must be base64 encoded.\n"
          }
        },
        "tsig_algorithm": {
          "target": "com.hetzner.zones#ZoneSecondaryPrimaryNameserversItemTsigAlgorithm",
          "traits": {
            "smithy.api#documentation": "[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) algorithm\nused to generate the TSIG key.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Primary nameserver that returns [Zones](#tag/zones) via `AXFR`.\n\nMust allow queries from and may send `NOTIFY` queries to [Hetzner's secondary\nnameservers](https://docs.hetzner.com/dns-console/dns/general/authoritative-name-servers#secondary-dns-servers-old-name-servers-for-robot-customers).\n"
      }
    },
    "com.hetzner.zones#ZoneSecondaryPrimaryNameserversList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.zones#ZoneSecondaryPrimaryNameserversItem"
      },
      "traits": {
        "smithy.api#documentation": "Primary nameservers of the [Zone](#tag/zones).\n\nOnly set if [Zone](#tag/zones) is in [secondary mode](#tag/zones/zone-modes), otherwise empty.\n"
      }
    },
    "com.hetzner.zones#ZoneSecondaryLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.zones#ZoneSecondaryProtection": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent the Resource from being deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protection configuration for the Resource."
      }
    },
    "com.hetzner.zones#ZoneSecondaryStatus": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updating"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the [Zone](#tag/zones).\n"
      }
    },
    "com.hetzner.zones#ZoneSecondaryAuthoritativeNameserversAssignedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Authoritative Hetzner nameservers assigned to this [Zone](#tag/zones).\n"
      }
    },
    "com.hetzner.zones#ZoneSecondaryAuthoritativeNameserversDelegatedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Authoritative nameservers currently delegated to by the parent DNS zone.\n\nIf these don't match the assigned authoritative nameservers, the DNS zone is currently not being served by Hetzner.\n"
      }
    },
    "com.hetzner.zones#ZoneSecondaryAuthoritativeNameserversDelegationStatus": {
      "type": "enum",
      "members": {
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "valid"
          }
        },
        "PARTIALLY_VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partially-valid"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid"
          }
        },
        "LAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lame"
          }
        },
        "UNREGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unregistered"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the delegation.\n"
      }
    },
    "com.hetzner.zones#ZoneSecondaryAuthoritativeNameservers": {
      "type": "structure",
      "members": {
        "assigned": {
          "target": "com.hetzner.zones#ZoneSecondaryAuthoritativeNameserversAssignedList",
          "traits": {
            "smithy.api#documentation": "Authoritative Hetzner nameservers assigned to this [Zone](#tag/zones).\n",
            "smithy.api#required": {}
          }
        },
        "delegated": {
          "target": "com.hetzner.zones#ZoneSecondaryAuthoritativeNameserversDelegatedList",
          "traits": {
            "smithy.api#documentation": "Authoritative nameservers currently delegated to by the parent DNS zone.\n\nIf these don't match the assigned authoritative nameservers, the DNS zone is currently not being served by Hetzner.\n",
            "smithy.api#required": {}
          }
        },
        "delegation_last_check": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format) when the DNS zone delegation was last checked.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "delegation_status": {
          "target": "com.hetzner.zones#ZoneSecondaryAuthoritativeNameserversDelegationStatus",
          "traits": {
            "smithy.api#documentation": "Status of the delegation.\n"
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.zones#ZoneSecondaryRegistrar": {
      "type": "enum",
      "members": {
        "HETZNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hetzner"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Registrar of the domain."
      }
    },
    "com.hetzner.zones#ZoneSecondaryMode": {
      "type": "enum",
      "members": {
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mode of the [Zone](#tag/zones).\n\nFor more information, see [Zone Modes](#tag/zones/zone-modes).\n"
      }
    },
    "com.hetzner.zones#ListZonesResponseZonesItem": {
      "type": "union",
      "members": {
        "ZonePrimary": {
          "target": "com.hetzner.zones#ZonePrimary"
        },
        "ZoneSecondary": {
          "target": "com.hetzner.zones#ZoneSecondary"
        }
      },
      "traits": {}
    },
    "com.hetzner.zones#ListZonesResponseZonesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.zones#ListZonesResponseZonesItem"
      },
      "traits": {}
    },
    "com.hetzner.zones#ListZonesResponseMetaPagination": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current page number.",
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of entries returned per page.",
            "smithy.api#required": {}
          }
        },
        "previous_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the previous page. Can be null if the current page is the first one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the next page. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page number of the last page available. Can be null if the current page is the last one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_entries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of entries that exist for this query. Can be null if unknown.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information."
      }
    },
    "com.hetzner.zones#ListZonesResponseMeta": {
      "type": "structure",
      "members": {
        "pagination": {
          "target": "com.hetzner.zones#ListZonesResponseMetaPagination",
          "traits": {
            "smithy.api#documentation": "See \"[Pagination](#description/pagination)\" for more information.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.zones#ListZonesResponse": {
      "type": "structure",
      "members": {
        "zones": {
          "target": "com.hetzner.zones#ListZonesResponseZonesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.hetzner.zones#ListZonesResponseMeta",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.zones#ListZones": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.zones#ListZonesRequest"
      },
      "output": {
        "target": "com.hetzner.zones#ListZonesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones",
          "code": 200
        },
        "smithy.api#documentation": "List Zones\n\nReturns all [Zones](#tag/zones).\n\nUse the provided URI parameters to modify the result.",
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "meta.pagination.next_page",
          "items": "zones",
          "pageSize": "per_page"
        }
      }
    },
    "com.hetzner.zones#CreateZoneRequestMode": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "primary"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mode of the [Zone](#tag/zones).\n\nFor more information, see [Zone Modes](#tag/zones/zone-modes).\n"
      }
    },
    "com.hetzner.zones#CreateZoneRequestLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.zones#CreateZoneRequestPrimaryNameserversItemTsigAlgorithm": {
      "type": "enum",
      "members": {
        "HMAC_MD5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hmac-md5"
          }
        },
        "HMAC_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hmac-sha1"
          }
        },
        "HMAC_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hmac-sha256"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) algorithm\nused to generate the TSIG key.\n"
      }
    },
    "com.hetzner.zones#CreateZoneRequestPrimaryNameserversItem": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public IPv4 or IPv6 address of the primary nameserver.\n\nMust be unique across all primary nameservers of this zone.\n",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port of the primary nameserver."
          }
        },
        "tsig_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) key to use\nfor the zone transfer. Must be base64 encoded.\n"
          }
        },
        "tsig_algorithm": {
          "target": "com.hetzner.zones#CreateZoneRequestPrimaryNameserversItemTsigAlgorithm",
          "traits": {
            "smithy.api#documentation": "[Transaction signature (TSIG)](https://en.wikipedia.org/wiki/TSIG) algorithm\nused to generate the TSIG key.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Primary nameserver that returns [Zones](#tag/zones) via `AXFR`.\n\nMust allow queries from and may send `NOTIFY` queries to [Hetzner's secondary\nnameservers](https://docs.hetzner.com/dns-console/dns/general/authoritative-name-servers#secondary-dns-servers-old-name-servers-for-robot-customers).\n"
      }
    },
    "com.hetzner.zones#CreateZoneRequestPrimaryNameserversList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.zones#CreateZoneRequestPrimaryNameserversItem"
      },
      "traits": {
        "smithy.api#documentation": "Primary nameservers of the [Zone](#tag/zones).\n\nOnly applicable for [Zones](#tag/zones) in secondary mode.\nIgnored for [Zones](#tag/zones) in primary mode.\n"
      }
    },
    "com.hetzner.zones#CreateZoneRequestRrsetsItemType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "DS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DS"
          }
        },
        "HINFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HINFO"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NS"
          }
        },
        "PTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTR"
          }
        },
        "RP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RP"
          }
        },
        "SOA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOA"
          }
        },
        "SRV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SRV"
          }
        },
        "SVCB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SVCB"
          }
        },
        "TLSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLSA"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the [RRSet](#tag/zone-rrsets).\n"
      }
    },
    "com.hetzner.zones#CreateZoneRequestRrsetsItemRecordsItem": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the record.\n\nFor details about accepted values, see the [DNS record types documentation](https://docs.hetzner.com/networking/dns/record-types/overview/).\n",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comment of the record."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Record of a [RRSet](#tag/zone-rrsets).\n\nThe `value` is used to identify the record in an [RRSet](#tag/zone-rrsets).\n"
      }
    },
    "com.hetzner.zones#CreateZoneRequestRrsetsItemRecordsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.zones#CreateZoneRequestRrsetsItemRecordsItem"
      },
      "traits": {
        "smithy.api#documentation": "Records of the [RRSet](#tag/zone-rrsets).\n\nMust not be empty and must only contain distinct record values.\nThe order of records returned in responses is not guaranteed to be consistent.\n"
      }
    },
    "com.hetzner.zones#CreateZoneRequestRrsetsItemLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.zones#CreateZoneRequestRrsetsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the [RRSet](#tag/zone-rrsets).\n\nThe name must be in lower case, and must not end with a dot or the [Zone](#tag/zones)\nname. Names containing non-ASCII characters must be transcribed to\n[Punycode](https://wikipedia.org/wiki/Punycode) representation with ACE prefix, e.g.\n`xn--4bi` (✉️).\n\nFor the [Zone](#tag/zones) apex, use `@`.\n",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.hetzner.zones#CreateZoneRequestRrsetsItemType",
          "traits": {
            "smithy.api#documentation": "Type of the [RRSet](#tag/zone-rrsets).\n",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the [RRSet](#tag/zone-rrsets).\n\nMust be in between 60s and 2147483647s.\n\nIf not set, the [Zone's](#tag/zones) Default TTL is used.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "records": {
          "target": "com.hetzner.zones#CreateZoneRequestRrsetsItemRecordsList",
          "traits": {
            "smithy.api#documentation": "Records of the [RRSet](#tag/zone-rrsets).\n\nMust not be empty and must only contain distinct record values.\nThe order of records returned in responses is not guaranteed to be consistent.\n",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.hetzner.zones#CreateZoneRequestRrsetsItemLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.zones#CreateZoneRequestRrsetsList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.zones#CreateZoneRequestRrsetsItem"
      },
      "traits": {
        "smithy.api#documentation": "[RRSets](#tag/zone-rrsets) to be added to the [Zone](#tag/zones).\n\nOnly applicable for [Zones](#tag/zones) in primary mode.\nIgnored for [Zones](#tag/zones) in secondary mode.\n"
      }
    },
    "com.hetzner.zones#CreateZoneRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the [Zone](#tag/zones).\n\nAll names with [well-known public suffixes](https://publicsuffix.org/) (e.g. `.de`,\n`.com`, `.co.uk`) are supported. Subdomains are not supported.\n\nThe name must be in lower case and must not end with a dot.\n[Internationalized domain\nnames](https://en.wikipedia.org/wiki/Internationalized_domain_name) must be\ntranscribed to [Punycode](https://wikipedia.org/wiki/Punycode) representation with\nACE prefix, e.g. `xn--mnchen-3ya.de` (`münchen.de`).\n",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.hetzner.zones#CreateZoneRequestMode",
          "traits": {
            "smithy.api#documentation": "Mode of the [Zone](#tag/zones).\n\nFor more information, see [Zone Modes](#tag/zones/zone-modes).\n",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Default Time To Live (TTL) of the [Zone](#tag/zones).\n\nMust be in between 60s and 2147483647s.\n\nThis TTL is used for [RRSets](#tag/zone-rrsets) that do not explicitly define a TTL.\n"
          }
        },
        "labels": {
          "target": "com.hetzner.zones#CreateZoneRequestLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\nFor more information, see \"[Labels](#description/labels)\".\n"
          }
        },
        "primary_nameservers": {
          "target": "com.hetzner.zones#CreateZoneRequestPrimaryNameserversList",
          "traits": {
            "smithy.api#documentation": "Primary nameservers of the [Zone](#tag/zones).\n\nOnly applicable for [Zones](#tag/zones) in secondary mode.\nIgnored for [Zones](#tag/zones) in primary mode.\n"
          }
        },
        "rrsets": {
          "target": "com.hetzner.zones#CreateZoneRequestRrsetsList",
          "traits": {
            "smithy.api#documentation": "[RRSets](#tag/zone-rrsets) to be added to the [Zone](#tag/zones).\n\nOnly applicable for [Zones](#tag/zones) in primary mode.\nIgnored for [Zones](#tag/zones) in secondary mode.\n"
          }
        },
        "zonefile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone file to import.\n\nOnly applicable for [Zones](#tag/zones) in primary mode.\nIgnored for [Zones](#tag/zones) in secondary mode.\n\nIf provided, `rrsets` must be empty.\n\nSee [Zone file import](#tag/zones/zone-file-import) for more details.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.zones#CreateZoneResponseZone": {
      "type": "union",
      "members": {
        "ZonePrimary": {
          "target": "com.hetzner.zones#ZonePrimary"
        },
        "ZoneSecondary": {
          "target": "com.hetzner.zones#ZoneSecondary"
        }
      },
      "traits": {}
    },
    "com.hetzner.zones#CreateZoneResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.zones#CreateZoneResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.zones#CreateZoneResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.zones#CreateZoneResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.zones#CreateZoneResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.zones#CreateZoneResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.zones#CreateZoneResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.zones#CreateZoneResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.zones#CreateZoneResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.zones#CreateZoneResponse": {
      "type": "structure",
      "members": {
        "zone": {
          "target": "com.hetzner.zones#CreateZoneResponseZone",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.hetzner.zones#CreateZoneResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.zones#CreateZone": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.zones#CreateZoneRequest"
      },
      "output": {
        "target": "com.hetzner.zones#CreateZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones",
          "code": 200
        },
        "smithy.api#documentation": "Create a Zone\n\nCreates a [Zone](#tag/zones).\n\nA default `SOA` and three `NS` resource records with the assigned Hetzner\nnameservers are created automatically."
      }
    },
    "com.hetzner.zones#GetZoneRequest": {
      "type": "structure",
      "members": {
        "id_or_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID or Name of the Zone."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.zones#GetZoneResponseZone": {
      "type": "union",
      "members": {
        "ZonePrimary": {
          "target": "com.hetzner.zones#ZonePrimary"
        },
        "ZoneSecondary": {
          "target": "com.hetzner.zones#ZoneSecondary"
        }
      },
      "traits": {}
    },
    "com.hetzner.zones#GetZoneResponse": {
      "type": "structure",
      "members": {
        "zone": {
          "target": "com.hetzner.zones#GetZoneResponseZone",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.zones#GetZone": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.zones#GetZoneRequest"
      },
      "output": {
        "target": "com.hetzner.zones#GetZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{id_or_name}",
          "code": 200
        },
        "smithy.api#documentation": "Get a Zone\n\nReturns a single [Zone](#tag/zones)."
      }
    },
    "com.hetzner.zones#UpdateZoneRequestLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\n\nNote that the set of [Labels](#description/labels) provided in the request will overwrite the\nexisting one.\n\nFor more information, see \"[Labels](#description/labels)\".\n"
      }
    },
    "com.hetzner.zones#UpdateZoneRequest": {
      "type": "structure",
      "members": {
        "id_or_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID or Name of the Zone."
          }
        },
        "labels": {
          "target": "com.hetzner.zones#UpdateZoneRequestLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels (`key/value` pairs) for the Resource.\n\nNote that the set of [Labels](#description/labels) provided in the request will overwrite the\nexisting one.\n\nFor more information, see \"[Labels](#description/labels)\".\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.zones#UpdateZoneResponseZone": {
      "type": "union",
      "members": {
        "ZonePrimary": {
          "target": "com.hetzner.zones#ZonePrimary"
        },
        "ZoneSecondary": {
          "target": "com.hetzner.zones#ZoneSecondary"
        }
      },
      "traits": {}
    },
    "com.hetzner.zones#UpdateZoneResponse": {
      "type": "structure",
      "members": {
        "zone": {
          "target": "com.hetzner.zones#UpdateZoneResponseZone",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.zones#UpdateZone": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.zones#UpdateZoneRequest"
      },
      "output": {
        "target": "com.hetzner.zones#UpdateZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{id_or_name}",
          "code": 200
        },
        "smithy.api#documentation": "Update a Zone\n\nUpdates a [Zone](#tag/zones).\n\nTo modify resource record sets ([RRSets](#tag/zone-rrsets)), use the [RRSet Actions\nendpoints](#tag/zone-rrset-actions)."
      }
    },
    "com.hetzner.zones#DeleteZoneRequest": {
      "type": "structure",
      "members": {
        "id_or_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID or Name of the Zone."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.zones#DeleteZoneResponseActionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Action."
      }
    },
    "com.hetzner.zones#DeleteZoneResponseActionResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.zones#DeleteZoneResponseActionResourcesList": {
      "type": "list",
      "member": {
        "target": "com.hetzner.zones#DeleteZoneResponseActionResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Resources the Action relates to."
      }
    },
    "com.hetzner.zones#DeleteZoneResponseActionError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fixed error code for machines.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for humans.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null."
      }
    },
    "com.hetzner.zones#DeleteZoneResponseAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the [Action](#description/actions).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed in the Action.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.hetzner.zones#DeleteZoneResponseActionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the Action.",
            "smithy.api#required": {}
          }
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was started (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format).",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Point in time when the Action was finished (in [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) format). Only set if the Action is finished otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress of the Action in percent.",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.hetzner.zones#DeleteZoneResponseActionResourcesList",
          "traits": {
            "smithy.api#documentation": "Resources the Action relates to.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.hetzner.zones#DeleteZoneResponseActionError",
          "traits": {
            "smithy.api#documentation": "Error message for the Action if an error occurred, otherwise null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hetzner.zones#DeleteZoneResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.hetzner.zones#DeleteZoneResponseAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.zones#DeleteZone": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.zones#DeleteZoneRequest"
      },
      "output": {
        "target": "com.hetzner.zones#DeleteZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{id_or_name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Zone\n\nDeletes a [Zone](#tag/zones)."
      }
    },
    "com.hetzner.zones#GetZoneZonefileRequest": {
      "type": "structure",
      "members": {
        "id_or_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID or Name of the Zone."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hetzner.zones#GetZoneZonefileResponse": {
      "type": "structure",
      "members": {
        "zonefile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Generated zone file.\n\nExample:\n\n```dns\n$ORIGIN\texample.com.\n$TTL\t3600\n\n@\tIN\tSOA\thydrogen.ns.hetzner.com. dns.hetzner.com. 2024010100 86400 10800 3600000 3600\n\n@\tIN\t10800\tNS\thydrogen.ns.hetzner.com. ; Some comment.\n@\tIN\t10800\tNS\toxygen.ns.hetzner.com.\n@\tIN\t10800\tNS\thelium.ns.hetzner.de.\n```\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hetzner.zones#GetZoneZonefile": {
      "type": "operation",
      "input": {
        "target": "com.hetzner.zones#GetZoneZonefileRequest"
      },
      "output": {
        "target": "com.hetzner.zones#GetZoneZonefileResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{id_or_name}/zonefile",
          "code": 200
        },
        "smithy.api#documentation": "Export a Zone file\n\nReturns a generated [Zone](#tag/zones) file in BIND (RFC [1034](https://datatracker.ietf.org/doc/html/rfc1034)/[1035](https://datatracker.ietf.org/doc/html/rfc1035)) format.\n\nOnly applicable for [Zones](#tag/zones) in primary mode.\n\n#### Operation specific errors"
      }
    },
    "com.hetzner.zones#Zones": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.hetzner.zones#ListZones"
        },
        {
          "target": "com.hetzner.zones#CreateZone"
        },
        {
          "target": "com.hetzner.zones#GetZone"
        },
        {
          "target": "com.hetzner.zones#UpdateZone"
        },
        {
          "target": "com.hetzner.zones#DeleteZone"
        },
        {
          "target": "com.hetzner.zones#GetZoneZonefile"
        }
      ],
      "traits": {
        "smithy.api#title": "Hetzner Cloud API",
        "smithy.api#documentation": "# Overview\n\nThis is the official documentation for the Hetzner Cloud API.\n\n## Introduction\n\nThe Hetzner Cloud API operates over HTTPS and uses JSON as its data format. The API is a RESTful API and utilizes HTTP methods and HTTP status codes to specify requests and responses.\n\nAs an alternative to working directly with our API you may also consider to use:\n\n- Our CLI program [hcloud](https://github.com/hetznercloud/cli)\n- Our [library for Go](https://github.com/hetznercloud/hcloud-go)\n- Our [library for Python](https://github.com/hetznercloud/hcloud-python)\n\nYou can find even more libraries, tools and integrations on our [Awesome List on GitHub](https://github.com/hetznercloud/awesome-hcloud).\n\n### Open source credits\n\nIf you are developing an open-source project that supports or intends to add support for Hetzner APIs, you may be eligible for a free one-time credit of up to € 50 / $ 50 on your account. Please contact us via the support page on your [Hetzner Console](https://console.hetzner.cloud/support) and let us know the following:\n\n- The name of the project you are working on\n- A short description of the project\n- Link to the project website or repo where the project is hosted\n- Affiliation with / role in the project (e.g. project maintainer)\n- Link to some other open-source work you have already done (if you have done so)\n\n**Note:** We only consider rewards for projects that provide Hetzner-specific functionality or integrations. For example, our Object Storage exposes a standard S3 API without any Hetzner-specific extensions. Projects that focus solely on generic S3 capabilities (e.g., general S3 clients or SDKs) are not Hetzner-specific and are therefore not eligible for Hetzner Rewards.\n\n## Getting Started\n\nTo get started using the API you first need an API token. Sign in into the [Hetzner Console](https://console.hetzner.com/) choose a Project, go to `Security` → `API Tokens`, and generate a new token. Make sure to copy the token because it won’t be shown to you again. A token is bound to a Project, to interact with the API of another Project you have to create a new token inside the Project. Let’s say your new token is `LRK9DAWQ1ZAEFSrCNEEzLCUwhYX1U3g7wMg4dTlkkDC96fyDuyJ39nVbVjCKSDfj`.\n\nYou’re now ready to do your first request against the API. To get a list of all Servers in your Project, issue the example request on the right side using [curl](https://curl.se/).\n\nMake sure to replace the token in the example command with the token you have just created. Since your Project probably does not contain any Servers yet, the example response will look like the response on the right side. We will almost always provide a resource root like `servers` inside the example response. A response can also contain a `meta` object with information like [Pagination](#description/pagination).\n\n**Example Request**\n\n```shell\ncurl -H \"Authorization: Bearer LRK9DAWQ1ZAEFSrCNEEzLCUwhYX1U3g7wMg4dTlkkDC96fyDuyJ39nVbVjCKSDfj\" \\\n  https://api.hetzner.cloud/v1/servers\n```\n\n**Example Response**\n\n```json\n{\n  \"servers\": [],\n  \"meta\": {\n    \"pagination\": {\n      \"page\": 1,\n      \"per_page\": 25,\n      \"previous_page\": null,\n      \"next_page\": null,\n      \"last_page\": 1,\n      \"total_entries\": 0\n    }\n  }\n}\n```\n\n## Authentication\n\nAll requests to the Hetzner Cloud API must be authenticated via a API token. Include your secret API token in every request you send to the API with the `Authorization` HTTP header.\n\nTo create a new API token for your Project, switch into the [Hetzner Console](https://console.hetzner.com/) choose a Project, go to `Security` → `API Tokens`, and generate a new token.\n\n**Example Authorization header**\n\n```http\nAuthorization: Bearer LRK9DAWQ1ZAEFSrCNEEzLCUwhYX1U3g7wMg4dTlkkDC96fyDuyJ39nVbVjCKSDfj\n```\n\n## Query Parameters\n\nThe API makes use of query parameters to sort and filter responses. The parameter names and values must be URI encoded according to [RFC2396](https://datatracker.ietf.org/doc/html/rfc2396). Query parameters of type `array` can be used multiple times:\n\n**Example query parameters for pagination**\n\n```\nhttps://api.hetzner.cloud/v1/certificates?page=1&page_size=12\n```\n\n**Example use of multiple values for a parameter**\n\n```\nhttps://api.hetzner.cloud/v1/certificates?type=uploaded&type=managed\n```\n\n**Example use of an encoded parameter**\n\n```\nhttps://api.hetzner.cloud/v1/certificates?label_selector=key%3Dvalue\n```\n\n## Errors\n\nErrors are indicated by HTTP status codes. Further, the response of the request which generated the error contains an error code, an error message, and, optionally, error details. The schema of the error details object depends on the error code.\n\nThe error response contains the following keys:\n\n\n**Example response**\n\n```json\n{\n  \"error\": {\n    \"code\": \"invalid_input\",\n    \"message\": \"invalid input in field 'broken_field': is too long\",\n    \"details\": {\n      \"fields\": [\n        {\n          \"name\": \"broken_field\",\n          \"messages\": [\"is too long\"]\n        }\n      ]\n    }\n  }\n}\n```\n\n### Error Codes\n\n\n**invalid_input**\n\n```json\n{\n  \"error\": {\n    \"code\": \"invalid_input\",\n    \"message\": \"invalid input in field 'broken_field': is too long\",\n    \"details\": {\n      \"fields\": [\n        {\n          \"name\": \"broken_field\",\n          \"messages\": [\"is too long\"]\n        }\n      ]\n    }\n  }\n}\n```\n\n**uniqueness_error**\n\n```json\n{\n  \"error\": {\n    \"code\": \"uniqueness_error\",\n    \"message\": \"SSH key with the same fingerprint already exists\",\n    \"details\": {\n      \"fields\": [\n        {\n          \"name\": \"public_key\"\n        }\n      ]\n    }\n  }\n}\n```\n\n**resource_limit_exceeded**\n\n```json\n{\n  \"error\": {\n    \"code\": \"resource_limit_exceeded\",\n    \"message\": \"project limit exceeded\",\n    \"details\": {\n      \"limits\": [\n        {\n          \"name\": \"project_limit\"\n        }\n      ]\n    }\n  }\n}\n```\n\n**deprecated_api_endpoint**\n\n```json\n{\n  \"error\": {\n    \"code\": \"deprecated_api_endpoint\",\n    \"message\": \"API functionality was removed\",\n    \"details\": {\n      \"announcement\": \"https://docs.hetzner.cloud/changelog#2023-07-20-foo-endpoint-is-deprecated\"\n    }\n  }\n}\n```\n\n## Actions\n\nActions represent asynchronous tasks within the API, targeting one or more resources. Triggering changes in the API may return a `running` action.\n\nAn action should be waited upon, until it reaches either the `success` or `error` state. Avoid polling the action's state too frequently to reduce the risk of exhausting your API requests and hitting the [rate limit](#description/rate-limiting).\n\nIf an action fails, it will contain details about the underlying error.\n\nOnce the asynchronous tasks have completed and the targeted resources are in a consistent state, the action is marked as succeeded.\n\nIn some cases, you may trigger multiple changes at once, and only wait for the returned actions at a later stage.\n\n## Labels\n\nLabels are `key/value` pairs that can be attached to all resources.\n\nValid label keys have two segments: an optional prefix and name, separated by a slash (`/`). The name segment is required and must be a string of 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots (`.`), not longer than 253 characters in total, followed by a slash (`/`).\n\nValid label values must be a string of 63 characters or less and must be empty or begin and end with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between.\n\nThe `hetzner.cloud/` prefix is reserved and cannot be used.\n\n**Example Labels**\n\n```json\n{\n  \"labels\": {\n    \"environment\": \"development\",\n    \"service\": \"backend\",\n    \"example.com/my\": \"label\",\n    \"just-a-key\": \"\"\n  }\n}\n```\n\n## Label Selector\n\nFor resources with labels, you can filter resources by their labels using the label selector query language.\n\n\n### Examples\n\n- Returns all resources that have a `env=production` label and that don't have a `type=database` label:\n\n  `env=production,type!=database`\n\n- Returns all resources that have a `env=testing` or `env=staging` label:\n\n  `env in (testing,staging)`\n\n- Returns all resources that don't have a `type` label:\n\n  `!type`\n\n## Pagination\n\nResponses which return multiple items support pagination. If they do support pagination, it can be controlled with following query string parameters:\n\n- A `page` parameter specifies the page to fetch. The number of the first page is 1.\n- A `per_page` parameter specifies the number of items returned per page. The default value is 25, the maximum value is 50 except otherwise specified in the documentation.\n\nResponses contain a `Link` header with pagination information.\n\nAdditionally, if the response body is JSON and the root object is an object, that object has a `pagination` object inside the `meta` object with pagination information:\n\n**Example Pagination**\n\n```json\n{\n    \"servers\": [...],\n    \"meta\": {\n        \"pagination\": {\n            \"page\": 2,\n            \"per_page\": 25,\n            \"previous_page\": 1,\n            \"next_page\": 3,\n            \"last_page\": 4,\n            \"total_entries\": 100\n        }\n    }\n}\n```\n\nThe keys `previous_page`, `next_page`, `last_page`, and `total_entries` may be `null` when on the first page, last page, or when the total number of entries is unknown.\n\n**Example Pagination Link header**\n\n```http\nLink: <https://api.hetzner.cloud/v1/actions?page=2&per_page=5>; rel=\"prev\",\n      <https://api.hetzner.cloud/v1/actions?page=4&per_page=5>; rel=\"next\",\n      <https://api.hetzner.cloud/v1/actions?page=6&per_page=5>; rel=\"last\"\n```\n\nLine breaks have been added for display purposes only and responses may only contain some of the above `rel` values.\n\n## Rate Limiting\n\nAll requests, whether they are authenticated or not, are subject to rate limiting. If you have reached your limit, your requests will be handled with a `429 Too Many Requests` error. Burst requests are allowed. Responses contain several headers which provide information about your current rate limit status.\n\n- The `RateLimit-Limit` header contains the total number of requests you can perform per hour.\n- The `RateLimit-Remaining` header contains the number of requests remaining in the current rate limit time frame.\n- The `RateLimit-Reset` header contains a UNIX timestamp of the point in time when your rate limit will have recovered, and you will have the full number of requests available again.\n\nThe default limit is 3600 requests per hour and per Project. The number of remaining requests increases gradually. For example, when your limit is 3600 requests per hour, the number of remaining requests will increase by 1 every second.\n\n## Server Metadata\n\nYour Server can discover metadata about itself by doing a HTTP request to specific URLs. The following data is available:\n\n\n**Example: Summary**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata\n```\n\n```yaml\navailability-zone: hel1-dc2\nhostname: my-server\ninstance-id: 42\npublic-ipv4: 1.2.3.4\nregion: eu-central\n```\n\n**Example: Hostname**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/hostname\nmy-server\n```\n\n**Example: Instance ID**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/instance-id\n42\n```\n\n**Example: Public IPv4**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/public-ipv4\n1.2.3.4\n```\n\n**Example: Private Networks**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/private-networks\n```\n\n```yaml\n- ip: 10.0.0.2\n  alias_ips: [10.0.0.3, 10.0.0.4]\n  interface_num: 1\n  mac_address: 86:00:00:2a:7d:e0\n  network_id: 1234\n  network_name: nw-test1\n  network: 10.0.0.0/8\n  subnet: 10.0.0.0/24\n  gateway: 10.0.0.1\n- ip: 192.168.0.2\n  alias_ips: []\n  interface_num: 2\n  mac_address: 86:00:00:2a:7d:e1\n  network_id: 4321\n  network_name: nw-test2\n  network: 192.168.0.0/16\n  subnet: 192.168.0.0/24\n  gateway: 192.168.0.1\n```\n\n**Example: Availability Zone**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/availability-zone\nhel1-dc2\n```\n\n**Example: Region**\n\n```shell\n$ curl http://169.254.169.254/hetzner/v1/metadata/region\neu-central\n```\n\n## Sorting\n\nSome responses which return multiple items support sorting. If they do support sorting the documentation states which fields can be used for sorting. You specify sorting with the `sort` query string parameter. You can sort by multiple fields. You can set the sort direction by appending `:asc` or `:desc` to the field name. By default, ascending sorting is used.\n\n**Example: Sorting**\n\n```\nhttps://api.hetzner.cloud/v1/actions?sort=status\nhttps://api.hetzner.cloud/v1/actions?sort=status:asc\nhttps://api.hetzner.cloud/v1/actions?sort=status:desc\nhttps://api.hetzner.cloud/v1/actions?sort=status:asc&sort=command:desc\n```\n\n## Deprecation Notices\n\nYou can find all announced deprecations in our [Changelog](/changelog)."
      }
    }
  }
}
