{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.coolify.api#ListApplicationsRequest": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tag",
            "smithy.api#documentation": "Filter applications by tag name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coolify.api#Application": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The application identifier in the database."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application description.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "repository_project_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The repository project identifier.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application UUID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application name."
          }
        },
        "fqdn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application domains.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "noindex_domains": {
          "target": "com.coolify.api#ApplicationNoindexDomainsList",
          "traits": {
            "smithy.api#documentation": "The subset of the application domains served with an X-Robots-Tag: noindex, nofollow response header.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "config_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration hash."
          }
        },
        "git_repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git repository URL."
          }
        },
        "git_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch."
          }
        },
        "git_commit_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git commit SHA."
          }
        },
        "git_full_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git full URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "docker_registry_image_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker registry image name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "docker_registry_image_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker registry image tag.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "build_pack": {
          "target": "com.coolify.api#ApplicationBuildPack",
          "traits": {
            "smithy.api#documentation": "Build pack."
          }
        },
        "static_image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Static image used when static site is deployed."
          }
        },
        "install_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Install command."
          }
        },
        "build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build command."
          }
        },
        "start_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start command."
          }
        },
        "ports_exposes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ports exposes."
          }
        },
        "ports_mappings": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ports mappings.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_network_aliases": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network aliases for Docker container.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "base_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base directory for all commands."
          }
        },
        "publish_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Publish directory."
          }
        },
        "health_check_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Health check enabled."
          }
        },
        "health_check_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check path."
          }
        },
        "health_check_port": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check port.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "health_check_host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check host.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "health_check_method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check method."
          }
        },
        "health_check_return_code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check return code."
          }
        },
        "health_check_scheme": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check scheme."
          }
        },
        "health_check_response_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check response text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "health_check_interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check interval in seconds."
          }
        },
        "health_check_timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check timeout in seconds."
          }
        },
        "health_check_retries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check retries count."
          }
        },
        "health_check_start_period": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check start period in seconds."
          }
        },
        "health_check_type": {
          "target": "com.coolify.api#ApplicationHealthCheckType",
          "traits": {
            "smithy.api#documentation": "Health check type: http or cmd."
          }
        },
        "health_check_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check command for CMD type.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "limits_memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory limit."
          }
        },
        "limits_memory_swap": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory swap limit."
          }
        },
        "limits_memory_swappiness": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Memory swappiness."
          }
        },
        "limits_memory_reservation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory reservation."
          }
        },
        "limits_cpus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPU limit."
          }
        },
        "limits_cpuset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPU set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "limits_cpu_shares": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "CPU shares."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application status."
          }
        },
        "preview_url_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Preview URL template."
          }
        },
        "max_restart_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum container restart count before stopping."
          }
        },
        "destination_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination type."
          }
        },
        "destination_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Destination identifier."
          }
        },
        "source_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Source identifier.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "private_key_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Private key identifier.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "environment_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Environment identifier."
          }
        },
        "dockerfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dockerfile content. Used for dockerfile build pack.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dockerfile_location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dockerfile location."
          }
        },
        "custom_labels": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom labels.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dockerfile_target_build": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dockerfile target build.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "manual_webhook_secret_github": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for GitHub.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "manual_webhook_secret_gitlab": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for GitLab.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "manual_webhook_secret_bitbucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for Bitbucket.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "manual_webhook_secret_gitea": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for Gitea.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "docker_compose_location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker compose location."
          }
        },
        "docker_compose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker compose content. Used for docker compose build pack.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "docker_compose_raw": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker compose raw content.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "docker_compose_domains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker compose domains.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "docker_compose_custom_start_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker compose custom start command.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "docker_compose_custom_build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker compose custom build command.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "swarm_replicas": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Swarm replicas. Only used for swarm deployments.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "swarm_placement_constraints": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Swarm placement constraints. Only used for swarm deployments.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_docker_run_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom docker run options.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "post_deployment_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Post deployment command.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "post_deployment_command_container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Post deployment command container.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pre_deployment_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre deployment command.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pre_deployment_command_container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre deployment command container.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "watch_paths": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Watch paths.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_healthcheck_found": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Custom healthcheck found."
          }
        },
        "redirect": {
          "target": "com.coolify.api#ApplicationRedirect",
          "traits": {
            "smithy.api#documentation": "How to set redirect with Traefik / Caddy. www<->non-www.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the application was created."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the application was last updated."
          }
        },
        "deleted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the application was deleted.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "compose_parsing_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How Coolify parse the compose file."
          }
        },
        "custom_nginx_configuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom Nginx configuration base64 encoded.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_http_basic_auth_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "HTTP Basic Authentication enabled."
          }
        },
        "http_basic_auth_username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Username for HTTP Basic Authentication",
            "com.distilled.openapi#nullable": {}
          }
        },
        "http_basic_auth_password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password for HTTP Basic Authentication",
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "settings": {
          "target": "com.coolify.api#ApplicationSetting"
        }
      },
      "traits": {
        "smithy.api#documentation": "Application model"
      }
    },
    "com.coolify.api#ApplicationNoindexDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The subset of the application domains served with an X-Robots-Tag: noindex, nofollow response header."
      }
    },
    "com.coolify.api#ApplicationBuildPack": {
      "type": "enum",
      "members": {
        "NIXPACKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nixpacks"
          }
        },
        "RAILPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "railpack"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "static"
          }
        },
        "DOCKERFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dockerfile"
          }
        },
        "DOCKERCOMPOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dockercompose"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Build pack."
      }
    },
    "com.coolify.api#ApplicationHealthCheckType": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "CMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cmd"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Health check type: http or cmd."
      }
    },
    "com.coolify.api#ApplicationRedirect": {
      "type": "enum",
      "members": {
        "WWW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "www"
          }
        },
        "NON_WWW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non-www"
          }
        },
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "both"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How to set redirect with Traefik / Caddy. www<->non-www."
      }
    },
    "com.coolify.api#ApplicationSetting": {
      "type": "structure",
      "members": {
        "is_static": {
          "target": "smithy.api#Boolean"
        },
        "is_git_submodules_enabled": {
          "target": "smithy.api#Boolean"
        },
        "is_git_lfs_enabled": {
          "target": "smithy.api#Boolean"
        },
        "is_auto_deploy_enabled": {
          "target": "smithy.api#Boolean"
        },
        "is_force_https_enabled": {
          "target": "smithy.api#Boolean"
        },
        "is_debug_enabled": {
          "target": "smithy.api#Boolean"
        },
        "is_preview_deployments_enabled": {
          "target": "smithy.api#Boolean"
        },
        "is_log_drain_enabled": {
          "target": "smithy.api#Boolean"
        },
        "is_gpu_enabled": {
          "target": "smithy.api#Boolean"
        },
        "gpu_driver": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gpu_count": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gpu_device_ids": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gpu_options": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_include_timestamps": {
          "target": "smithy.api#Boolean"
        },
        "is_swarm_only_worker_nodes": {
          "target": "smithy.api#Boolean"
        },
        "is_raw_compose_deployment_enabled": {
          "target": "smithy.api#Boolean"
        },
        "is_build_server_enabled": {
          "target": "smithy.api#Boolean"
        },
        "is_consistent_container_name_enabled": {
          "target": "smithy.api#Boolean"
        },
        "is_gzip_enabled": {
          "target": "smithy.api#Boolean"
        },
        "is_stripprefix_enabled": {
          "target": "smithy.api#Boolean"
        },
        "connect_to_docker_network": {
          "target": "smithy.api#Boolean"
        },
        "custom_internal_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_container_label_escape_enabled": {
          "target": "smithy.api#Boolean"
        },
        "is_env_sorting_enabled": {
          "target": "smithy.api#Boolean"
        },
        "is_container_label_readonly_enabled": {
          "target": "smithy.api#Boolean"
        },
        "is_preserve_repository_enabled": {
          "target": "smithy.api#Boolean"
        },
        "disable_build_cache": {
          "target": "smithy.api#Boolean"
        },
        "is_spa": {
          "target": "smithy.api#Boolean"
        },
        "is_git_shallow_clone_enabled": {
          "target": "smithy.api#Boolean"
        },
        "is_pr_deployments_public_enabled": {
          "target": "smithy.api#Boolean"
        },
        "use_build_secrets": {
          "target": "smithy.api#Boolean"
        },
        "inject_build_args_to_dockerfile": {
          "target": "smithy.api#Boolean"
        },
        "include_source_commit_in_build": {
          "target": "smithy.api#Boolean"
        },
        "docker_images_to_keep": {
          "target": "smithy.api#Integer"
        },
        "stop_grace_period": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Application settings."
      }
    },
    "com.coolify.api#ListApplicationsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.coolify.api#Application"
      },
      "traits": {}
    },
    "com.coolify.api#ListApplicationsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.coolify.api#ListApplicationsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.coolify.api#ListApplications": {
      "type": "operation",
      "input": {
        "target": "com.coolify.api#ListApplicationsRequest"
      },
      "output": {
        "target": "com.coolify.api#ListApplicationsResponse"
      },
      "errors": [
        {
          "target": "com.coolify.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications",
          "code": 200
        },
        "smithy.api#documentation": "List\n\nList all applications."
      }
    },
    "com.coolify.api#CreatePublicApplicationRequestBuildPack": {
      "type": "enum",
      "members": {
        "NIXPACKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nixpacks"
          }
        },
        "RAILPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "railpack"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "static"
          }
        },
        "DOCKERFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dockerfile"
          }
        },
        "DOCKERCOMPOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dockercompose"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The build pack type."
      }
    },
    "com.coolify.api#CreatePublicApplicationRequestNoindexDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The subset of the application domains served with an X-Robots-Tag: noindex, nofollow response header, keeping them out of search engines. Entries that are not among the application domains are ignored."
      }
    },
    "com.coolify.api#CreatePublicApplicationRequestStaticImage": {
      "type": "enum",
      "members": {
        "NGINX_ALPINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nginx:alpine"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The static image."
      }
    },
    "com.coolify.api#CreatePublicApplicationRequestRedirect": {
      "type": "enum",
      "members": {
        "WWW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "www"
          }
        },
        "NON_WWW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non-www"
          }
        },
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "both"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How to set redirect with Traefik / Caddy. www<->non-www."
      }
    },
    "com.coolify.api#CreatePublicApplicationRequestDockerComposeDomainsItemRedirect": {
      "type": "enum",
      "members": {
        "WWW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "www"
          }
        },
        "NON_WWW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non-www"
          }
        },
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "both"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per-service www/non-www redirect for this compose service."
      }
    },
    "com.coolify.api#CreatePublicApplicationRequestDockerComposeDomainsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service name as defined in docker-compose."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of URLs (e.g. \"https://app.coolify.io,https://app2.coolify.io\")"
          }
        },
        "redirect": {
          "target": "com.coolify.api#CreatePublicApplicationRequestDockerComposeDomainsItemRedirect",
          "traits": {
            "smithy.api#documentation": "Per-service www/non-www redirect for this compose service.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.coolify.api#CreatePublicApplicationRequestDockerComposeDomainsList": {
      "type": "list",
      "member": {
        "target": "com.coolify.api#CreatePublicApplicationRequestDockerComposeDomainsItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of URLs to be applied to containers of a dockercompose application."
      }
    },
    "com.coolify.api#CreatePublicApplicationRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags to assign to the application."
      }
    },
    "com.coolify.api#CreatePublicApplicationRequest": {
      "type": "structure",
      "members": {
        "project_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project UUID.",
            "smithy.api#required": {}
          }
        },
        "server_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server UUID.",
            "smithy.api#required": {}
          }
        },
        "environment_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment name. You need to provide at least one of environment_name or environment_uuid.",
            "smithy.api#required": {}
          }
        },
        "environment_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment UUID. You need to provide at least one of environment_name or environment_uuid.",
            "smithy.api#required": {}
          }
        },
        "git_repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The git repository URL.",
            "smithy.api#required": {}
          }
        },
        "git_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The git branch.",
            "smithy.api#required": {}
          }
        },
        "build_pack": {
          "target": "com.coolify.api#CreatePublicApplicationRequestBuildPack",
          "traits": {
            "smithy.api#documentation": "The build pack type.",
            "smithy.api#required": {}
          }
        },
        "ports_exposes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ports to expose."
          }
        },
        "destination_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The destination UUID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application description."
          }
        },
        "domains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application URLs in a comma-separated list."
          }
        },
        "noindex_domains": {
          "target": "com.coolify.api#CreatePublicApplicationRequestNoindexDomainsList",
          "traits": {
            "smithy.api#documentation": "The subset of the application domains served with an X-Robots-Tag: noindex, nofollow response header, keeping them out of search engines. Entries that are not among the application domains are ignored."
          }
        },
        "git_commit_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The git commit SHA."
          }
        },
        "docker_registry_image_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The docker registry image name."
          }
        },
        "docker_registry_image_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The docker registry image tag."
          }
        },
        "is_static": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to indicate if the application is static."
          }
        },
        "is_spa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to indicate if the application is a single-page application (SPA). Only relevant when is_static is true."
          }
        },
        "is_auto_deploy_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to indicate if auto-deploy is enabled on git push. Defaults to true."
          }
        },
        "is_force_https_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to indicate if HTTPS is forced. Defaults to true."
          }
        },
        "is_preview_deployments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable preview deployments for pull requests."
          }
        },
        "static_image": {
          "target": "com.coolify.api#CreatePublicApplicationRequestStaticImage",
          "traits": {
            "smithy.api#documentation": "The static image."
          }
        },
        "install_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The install command."
          }
        },
        "build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The build command."
          }
        },
        "start_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start command."
          }
        },
        "ports_mappings": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ports mappings."
          }
        },
        "base_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base directory for all commands."
          }
        },
        "publish_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publish directory."
          }
        },
        "health_check_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Health check enabled."
          }
        },
        "health_check_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check path."
          }
        },
        "health_check_port": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check port.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "health_check_host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check host.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "health_check_method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check method."
          }
        },
        "health_check_return_code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check return code."
          }
        },
        "health_check_scheme": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check scheme."
          }
        },
        "health_check_response_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check response text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "health_check_interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check interval in seconds."
          }
        },
        "health_check_timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check timeout in seconds."
          }
        },
        "health_check_retries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check retries count."
          }
        },
        "health_check_start_period": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check start period in seconds."
          }
        },
        "limits_memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory limit."
          }
        },
        "limits_memory_swap": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory swap limit."
          }
        },
        "limits_memory_swappiness": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Memory swappiness."
          }
        },
        "limits_memory_reservation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory reservation."
          }
        },
        "limits_cpus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPU limit."
          }
        },
        "limits_cpuset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPU set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "limits_cpu_shares": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "CPU shares."
          }
        },
        "custom_labels": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom labels."
          }
        },
        "custom_docker_run_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom docker run options."
          }
        },
        "post_deployment_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Post deployment command."
          }
        },
        "post_deployment_command_container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Post deployment command container."
          }
        },
        "pre_deployment_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre deployment command."
          }
        },
        "pre_deployment_command_container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre deployment command container."
          }
        },
        "manual_webhook_secret_github": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for Github."
          }
        },
        "manual_webhook_secret_gitlab": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for Gitlab."
          }
        },
        "manual_webhook_secret_bitbucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for Bitbucket."
          }
        },
        "manual_webhook_secret_gitea": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for Gitea."
          }
        },
        "redirect": {
          "target": "com.coolify.api#CreatePublicApplicationRequestRedirect",
          "traits": {
            "smithy.api#documentation": "How to set redirect with Traefik / Caddy. www<->non-www.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "instant_deploy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to indicate if the application should be deployed instantly."
          }
        },
        "dockerfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Dockerfile content."
          }
        },
        "dockerfile_location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Dockerfile location in the repository."
          }
        },
        "docker_compose_location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Docker Compose location."
          }
        },
        "docker_compose_custom_start_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Docker Compose custom start command."
          }
        },
        "docker_compose_custom_build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Docker Compose custom build command."
          }
        },
        "docker_compose_domains": {
          "target": "com.coolify.api#CreatePublicApplicationRequestDockerComposeDomainsList",
          "traits": {
            "smithy.api#documentation": "Array of URLs to be applied to containers of a dockercompose application."
          }
        },
        "watch_paths": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The watch paths."
          }
        },
        "use_build_server": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use build server.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "use_build_secrets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use Docker Build Secrets for build-time environment variables."
          }
        },
        "is_git_submodules_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Clone Git submodules."
          }
        },
        "is_git_lfs_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable Git LFS."
          }
        },
        "is_git_shallow_clone_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use a shallow Git clone."
          }
        },
        "disable_build_cache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable the build cache."
          }
        },
        "inject_build_args_to_dockerfile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Inject build arguments into the Dockerfile build."
          }
        },
        "include_source_commit_in_build": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include the source commit in the build."
          }
        },
        "is_env_sorting_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Sort environment variables."
          }
        },
        "is_pr_deployments_public_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Make pull request deployments public."
          }
        },
        "stop_grace_period": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Container stop grace period in seconds.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "docker_images_to_keep": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Docker images to retain."
          }
        },
        "is_gzip_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable gzip compression."
          }
        },
        "is_stripprefix_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable path prefix stripping."
          }
        },
        "is_raw_compose_deployment_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deploy the raw Docker Compose definition."
          }
        },
        "is_log_drain_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable log drain for the application."
          }
        },
        "is_gpu_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable GPU support."
          }
        },
        "gpu_driver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GPU driver name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "gpu_count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of GPUs to allocate.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "gpu_device_ids": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated GPU device IDs.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "gpu_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional GPU options.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_consistent_container_name_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use a consistent container name across deployments."
          }
        },
        "custom_internal_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom internal container name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "preview_url_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Preview URL template."
          }
        },
        "max_restart_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum container restart count before stopping."
          }
        },
        "is_http_basic_auth_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "HTTP Basic Authentication enabled."
          }
        },
        "http_basic_auth_username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Username for HTTP Basic Authentication",
            "com.distilled.openapi#nullable": {}
          }
        },
        "http_basic_auth_password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password for HTTP Basic Authentication",
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "connect_to_docker_network": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to connect the service to the predefined Docker network."
          }
        },
        "force_domain_override": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Force domain usage even if conflicts are detected. Default is false."
          }
        },
        "autogenerate_domain": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true and domains is empty, auto-generate a domain using the server's wildcard domain or sslip.io fallback. Default: true."
          }
        },
        "is_container_label_escape_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Escape special characters in labels. By default, $ (and other chars) is escaped. So if you write $ in the labels, it will be saved as $$. If you want to use env variables inside the labels, turn this off."
          }
        },
        "tags": {
          "target": "com.coolify.api#CreatePublicApplicationRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Tags to assign to the application."
          }
        },
        "is_preserve_repository_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Preserve repository during deployment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coolify.api#CreatePublicApplicationResponse": {
      "type": "structure",
      "members": {
        "uuid": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.coolify.api#CreatePublicApplication": {
      "type": "operation",
      "input": {
        "target": "com.coolify.api#CreatePublicApplicationRequest"
      },
      "output": {
        "target": "com.coolify.api#CreatePublicApplicationResponse"
      },
      "errors": [
        {
          "target": "com.coolify.api#BadRequest"
        },
        {
          "target": "com.coolify.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications/public",
          "code": 200
        },
        "smithy.api#documentation": "Create (Public)\n\nCreate new application based on a public git repository."
      }
    },
    "com.coolify.api#CreatePrivateGithubAppApplicationRequestBuildPack": {
      "type": "enum",
      "members": {
        "NIXPACKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nixpacks"
          }
        },
        "RAILPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "railpack"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "static"
          }
        },
        "DOCKERFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dockerfile"
          }
        },
        "DOCKERCOMPOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dockercompose"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The build pack type."
      }
    },
    "com.coolify.api#CreatePrivateGithubAppApplicationRequestNoindexDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The subset of the application domains served with an X-Robots-Tag: noindex, nofollow response header, keeping them out of search engines. Entries that are not among the application domains are ignored."
      }
    },
    "com.coolify.api#CreatePrivateGithubAppApplicationRequestStaticImage": {
      "type": "enum",
      "members": {
        "NGINX_ALPINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nginx:alpine"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The static image."
      }
    },
    "com.coolify.api#CreatePrivateGithubAppApplicationRequestRedirect": {
      "type": "enum",
      "members": {
        "WWW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "www"
          }
        },
        "NON_WWW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non-www"
          }
        },
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "both"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How to set redirect with Traefik / Caddy. www<->non-www."
      }
    },
    "com.coolify.api#CreatePrivateGithubAppApplicationRequestDockerComposeDomainsItemRedirect": {
      "type": "enum",
      "members": {
        "WWW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "www"
          }
        },
        "NON_WWW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non-www"
          }
        },
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "both"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per-service www/non-www redirect for this compose service."
      }
    },
    "com.coolify.api#CreatePrivateGithubAppApplicationRequestDockerComposeDomainsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service name as defined in docker-compose."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of URLs (e.g. \"https://app.coolify.io,https://app2.coolify.io\")"
          }
        },
        "redirect": {
          "target": "com.coolify.api#CreatePrivateGithubAppApplicationRequestDockerComposeDomainsItemRedirect",
          "traits": {
            "smithy.api#documentation": "Per-service www/non-www redirect for this compose service.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.coolify.api#CreatePrivateGithubAppApplicationRequestDockerComposeDomainsList": {
      "type": "list",
      "member": {
        "target": "com.coolify.api#CreatePrivateGithubAppApplicationRequestDockerComposeDomainsItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of URLs to be applied to containers of a dockercompose application."
      }
    },
    "com.coolify.api#CreatePrivateGithubAppApplicationRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags to assign to the application."
      }
    },
    "com.coolify.api#CreatePrivateGithubAppApplicationRequest": {
      "type": "structure",
      "members": {
        "project_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project UUID.",
            "smithy.api#required": {}
          }
        },
        "server_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server UUID.",
            "smithy.api#required": {}
          }
        },
        "environment_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment name. You need to provide at least one of environment_name or environment_uuid.",
            "smithy.api#required": {}
          }
        },
        "environment_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment UUID. You need to provide at least one of environment_name or environment_uuid.",
            "smithy.api#required": {}
          }
        },
        "github_app_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Github App UUID.",
            "smithy.api#required": {}
          }
        },
        "git_repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The git repository URL.",
            "smithy.api#required": {}
          }
        },
        "git_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The git branch.",
            "smithy.api#required": {}
          }
        },
        "ports_exposes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ports to expose."
          }
        },
        "destination_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The destination UUID."
          }
        },
        "build_pack": {
          "target": "com.coolify.api#CreatePrivateGithubAppApplicationRequestBuildPack",
          "traits": {
            "smithy.api#documentation": "The build pack type.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application description."
          }
        },
        "domains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application URLs in a comma-separated list."
          }
        },
        "noindex_domains": {
          "target": "com.coolify.api#CreatePrivateGithubAppApplicationRequestNoindexDomainsList",
          "traits": {
            "smithy.api#documentation": "The subset of the application domains served with an X-Robots-Tag: noindex, nofollow response header, keeping them out of search engines. Entries that are not among the application domains are ignored."
          }
        },
        "git_commit_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The git commit SHA."
          }
        },
        "docker_registry_image_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The docker registry image name."
          }
        },
        "docker_registry_image_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The docker registry image tag."
          }
        },
        "is_static": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to indicate if the application is static."
          }
        },
        "is_spa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to indicate if the application is a single-page application (SPA). Only relevant when is_static is true."
          }
        },
        "is_auto_deploy_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to indicate if auto-deploy is enabled on git push. Defaults to true."
          }
        },
        "is_force_https_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to indicate if HTTPS is forced. Defaults to true."
          }
        },
        "is_preview_deployments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable preview deployments for pull requests."
          }
        },
        "static_image": {
          "target": "com.coolify.api#CreatePrivateGithubAppApplicationRequestStaticImage",
          "traits": {
            "smithy.api#documentation": "The static image."
          }
        },
        "install_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The install command."
          }
        },
        "build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The build command."
          }
        },
        "start_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start command."
          }
        },
        "ports_mappings": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ports mappings."
          }
        },
        "base_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base directory for all commands."
          }
        },
        "publish_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publish directory."
          }
        },
        "health_check_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Health check enabled."
          }
        },
        "health_check_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check path."
          }
        },
        "health_check_port": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check port.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "health_check_host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check host.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "health_check_method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check method."
          }
        },
        "health_check_return_code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check return code."
          }
        },
        "health_check_scheme": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check scheme."
          }
        },
        "health_check_response_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check response text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "health_check_interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check interval in seconds."
          }
        },
        "health_check_timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check timeout in seconds."
          }
        },
        "health_check_retries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check retries count."
          }
        },
        "health_check_start_period": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check start period in seconds."
          }
        },
        "limits_memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory limit."
          }
        },
        "limits_memory_swap": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory swap limit."
          }
        },
        "limits_memory_swappiness": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Memory swappiness."
          }
        },
        "limits_memory_reservation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory reservation."
          }
        },
        "limits_cpus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPU limit."
          }
        },
        "limits_cpuset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPU set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "limits_cpu_shares": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "CPU shares."
          }
        },
        "custom_labels": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom labels."
          }
        },
        "custom_docker_run_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom docker run options."
          }
        },
        "post_deployment_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Post deployment command."
          }
        },
        "post_deployment_command_container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Post deployment command container."
          }
        },
        "pre_deployment_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre deployment command."
          }
        },
        "pre_deployment_command_container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre deployment command container."
          }
        },
        "manual_webhook_secret_github": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for Github."
          }
        },
        "manual_webhook_secret_gitlab": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for Gitlab."
          }
        },
        "manual_webhook_secret_bitbucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for Bitbucket."
          }
        },
        "manual_webhook_secret_gitea": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for Gitea."
          }
        },
        "redirect": {
          "target": "com.coolify.api#CreatePrivateGithubAppApplicationRequestRedirect",
          "traits": {
            "smithy.api#documentation": "How to set redirect with Traefik / Caddy. www<->non-www.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "instant_deploy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to indicate if the application should be deployed instantly."
          }
        },
        "dockerfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Dockerfile content."
          }
        },
        "dockerfile_location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Dockerfile location in the repository"
          }
        },
        "docker_compose_location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Docker Compose location."
          }
        },
        "docker_compose_custom_start_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Docker Compose custom start command."
          }
        },
        "docker_compose_custom_build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Docker Compose custom build command."
          }
        },
        "docker_compose_domains": {
          "target": "com.coolify.api#CreatePrivateGithubAppApplicationRequestDockerComposeDomainsList",
          "traits": {
            "smithy.api#documentation": "Array of URLs to be applied to containers of a dockercompose application."
          }
        },
        "watch_paths": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The watch paths."
          }
        },
        "use_build_server": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use build server.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "use_build_secrets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use Docker Build Secrets for build-time environment variables."
          }
        },
        "is_git_submodules_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Clone Git submodules."
          }
        },
        "is_git_lfs_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable Git LFS."
          }
        },
        "is_git_shallow_clone_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use a shallow Git clone."
          }
        },
        "disable_build_cache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable the build cache."
          }
        },
        "inject_build_args_to_dockerfile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Inject build arguments into the Dockerfile build."
          }
        },
        "include_source_commit_in_build": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include the source commit in the build."
          }
        },
        "is_env_sorting_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Sort environment variables."
          }
        },
        "is_pr_deployments_public_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Make pull request deployments public."
          }
        },
        "stop_grace_period": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Container stop grace period in seconds.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "docker_images_to_keep": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Docker images to retain."
          }
        },
        "is_gzip_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable gzip compression."
          }
        },
        "is_stripprefix_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable path prefix stripping."
          }
        },
        "is_raw_compose_deployment_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deploy the raw Docker Compose definition."
          }
        },
        "is_log_drain_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable log drain for the application."
          }
        },
        "is_gpu_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable GPU support."
          }
        },
        "gpu_driver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GPU driver name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "gpu_count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of GPUs to allocate.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "gpu_device_ids": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated GPU device IDs.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "gpu_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional GPU options.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_consistent_container_name_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use a consistent container name across deployments."
          }
        },
        "custom_internal_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom internal container name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "preview_url_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Preview URL template."
          }
        },
        "max_restart_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum container restart count before stopping."
          }
        },
        "is_http_basic_auth_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "HTTP Basic Authentication enabled."
          }
        },
        "http_basic_auth_username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Username for HTTP Basic Authentication",
            "com.distilled.openapi#nullable": {}
          }
        },
        "http_basic_auth_password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password for HTTP Basic Authentication",
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "connect_to_docker_network": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to connect the service to the predefined Docker network."
          }
        },
        "force_domain_override": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Force domain usage even if conflicts are detected. Default is false."
          }
        },
        "autogenerate_domain": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true and domains is empty, auto-generate a domain using the server's wildcard domain or sslip.io fallback. Default: true."
          }
        },
        "is_container_label_escape_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Escape special characters in labels. By default, $ (and other chars) is escaped. So if you write $ in the labels, it will be saved as $$. If you want to use env variables inside the labels, turn this off."
          }
        },
        "tags": {
          "target": "com.coolify.api#CreatePrivateGithubAppApplicationRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Tags to assign to the application."
          }
        },
        "is_preserve_repository_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Preserve repository during deployment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coolify.api#CreatePrivateGithubAppApplicationResponse": {
      "type": "structure",
      "members": {
        "uuid": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.coolify.api#CreatePrivateGithubAppApplication": {
      "type": "operation",
      "input": {
        "target": "com.coolify.api#CreatePrivateGithubAppApplicationRequest"
      },
      "output": {
        "target": "com.coolify.api#CreatePrivateGithubAppApplicationResponse"
      },
      "errors": [
        {
          "target": "com.coolify.api#BadRequest"
        },
        {
          "target": "com.coolify.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications/private-github-app",
          "code": 200
        },
        "smithy.api#documentation": "Create (Private - GH App)\n\nCreate new application based on a private repository through a Github App."
      }
    },
    "com.coolify.api#CreatePrivateDeployKeyApplicationRequestBuildPack": {
      "type": "enum",
      "members": {
        "NIXPACKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nixpacks"
          }
        },
        "RAILPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "railpack"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "static"
          }
        },
        "DOCKERFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dockerfile"
          }
        },
        "DOCKERCOMPOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dockercompose"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The build pack type."
      }
    },
    "com.coolify.api#CreatePrivateDeployKeyApplicationRequestNoindexDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The subset of the application domains served with an X-Robots-Tag: noindex, nofollow response header, keeping them out of search engines. Entries that are not among the application domains are ignored."
      }
    },
    "com.coolify.api#CreatePrivateDeployKeyApplicationRequestStaticImage": {
      "type": "enum",
      "members": {
        "NGINX_ALPINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nginx:alpine"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The static image."
      }
    },
    "com.coolify.api#CreatePrivateDeployKeyApplicationRequestRedirect": {
      "type": "enum",
      "members": {
        "WWW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "www"
          }
        },
        "NON_WWW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non-www"
          }
        },
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "both"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How to set redirect with Traefik / Caddy. www<->non-www."
      }
    },
    "com.coolify.api#CreatePrivateDeployKeyApplicationRequestDockerComposeDomainsItemRedirect": {
      "type": "enum",
      "members": {
        "WWW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "www"
          }
        },
        "NON_WWW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non-www"
          }
        },
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "both"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per-service www/non-www redirect for this compose service."
      }
    },
    "com.coolify.api#CreatePrivateDeployKeyApplicationRequestDockerComposeDomainsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service name as defined in docker-compose."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of URLs (e.g. \"https://app.coolify.io,https://app2.coolify.io\")"
          }
        },
        "redirect": {
          "target": "com.coolify.api#CreatePrivateDeployKeyApplicationRequestDockerComposeDomainsItemRedirect",
          "traits": {
            "smithy.api#documentation": "Per-service www/non-www redirect for this compose service.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.coolify.api#CreatePrivateDeployKeyApplicationRequestDockerComposeDomainsList": {
      "type": "list",
      "member": {
        "target": "com.coolify.api#CreatePrivateDeployKeyApplicationRequestDockerComposeDomainsItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of URLs to be applied to containers of a dockercompose application."
      }
    },
    "com.coolify.api#CreatePrivateDeployKeyApplicationRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags to assign to the application."
      }
    },
    "com.coolify.api#CreatePrivateDeployKeyApplicationRequest": {
      "type": "structure",
      "members": {
        "project_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project UUID.",
            "smithy.api#required": {}
          }
        },
        "server_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server UUID.",
            "smithy.api#required": {}
          }
        },
        "environment_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment name. You need to provide at least one of environment_name or environment_uuid.",
            "smithy.api#required": {}
          }
        },
        "environment_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment UUID. You need to provide at least one of environment_name or environment_uuid.",
            "smithy.api#required": {}
          }
        },
        "private_key_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private key UUID.",
            "smithy.api#required": {}
          }
        },
        "git_repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The git repository URL.",
            "smithy.api#required": {}
          }
        },
        "git_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The git branch.",
            "smithy.api#required": {}
          }
        },
        "ports_exposes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ports to expose."
          }
        },
        "destination_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The destination UUID."
          }
        },
        "build_pack": {
          "target": "com.coolify.api#CreatePrivateDeployKeyApplicationRequestBuildPack",
          "traits": {
            "smithy.api#documentation": "The build pack type.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application description."
          }
        },
        "domains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application URLs in a comma-separated list."
          }
        },
        "noindex_domains": {
          "target": "com.coolify.api#CreatePrivateDeployKeyApplicationRequestNoindexDomainsList",
          "traits": {
            "smithy.api#documentation": "The subset of the application domains served with an X-Robots-Tag: noindex, nofollow response header, keeping them out of search engines. Entries that are not among the application domains are ignored."
          }
        },
        "git_commit_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The git commit SHA."
          }
        },
        "docker_registry_image_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The docker registry image name."
          }
        },
        "docker_registry_image_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The docker registry image tag."
          }
        },
        "is_static": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to indicate if the application is static."
          }
        },
        "is_spa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to indicate if the application is a single-page application (SPA). Only relevant when is_static is true."
          }
        },
        "is_auto_deploy_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to indicate if auto-deploy is enabled on git push. Defaults to true."
          }
        },
        "is_force_https_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to indicate if HTTPS is forced. Defaults to true."
          }
        },
        "is_preview_deployments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable preview deployments for pull requests."
          }
        },
        "static_image": {
          "target": "com.coolify.api#CreatePrivateDeployKeyApplicationRequestStaticImage",
          "traits": {
            "smithy.api#documentation": "The static image."
          }
        },
        "install_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The install command."
          }
        },
        "build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The build command."
          }
        },
        "start_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start command."
          }
        },
        "ports_mappings": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ports mappings."
          }
        },
        "base_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base directory for all commands."
          }
        },
        "publish_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publish directory."
          }
        },
        "health_check_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Health check enabled."
          }
        },
        "health_check_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check path."
          }
        },
        "health_check_port": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check port.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "health_check_host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check host.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "health_check_method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check method."
          }
        },
        "health_check_return_code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check return code."
          }
        },
        "health_check_scheme": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check scheme."
          }
        },
        "health_check_response_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Health check response text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "health_check_interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check interval in seconds."
          }
        },
        "health_check_timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check timeout in seconds."
          }
        },
        "health_check_retries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check retries count."
          }
        },
        "health_check_start_period": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Health check start period in seconds."
          }
        },
        "limits_memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory limit."
          }
        },
        "limits_memory_swap": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory swap limit."
          }
        },
        "limits_memory_swappiness": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Memory swappiness."
          }
        },
        "limits_memory_reservation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory reservation."
          }
        },
        "limits_cpus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPU limit."
          }
        },
        "limits_cpuset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPU set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "limits_cpu_shares": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "CPU shares."
          }
        },
        "custom_labels": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom labels."
          }
        },
        "custom_docker_run_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom docker run options."
          }
        },
        "post_deployment_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Post deployment command."
          }
        },
        "post_deployment_command_container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Post deployment command container."
          }
        },
        "pre_deployment_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre deployment command."
          }
        },
        "pre_deployment_command_container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre deployment command container."
          }
        },
        "manual_webhook_secret_github": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for Github."
          }
        },
        "manual_webhook_secret_gitlab": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for Gitlab."
          }
        },
        "manual_webhook_secret_bitbucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for Bitbucket."
          }
        },
        "manual_webhook_secret_gitea": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manual webhook secret for Gitea."
          }
        },
        "redirect": {
          "target": "com.coolify.api#CreatePrivateDeployKeyApplicationRequestRedirect",
          "traits": {
            "smithy.api#documentation": "How to set redirect with Traefik / Caddy. www<->non-www.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "instant_deploy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to indicate if the application should be deployed instantly."
          }
        },
        "dockerfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Dockerfile content."
          }
        },
        "dockerfile_location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Dockerfile location in the repository."
          }
        },
        "docker_compose_location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Docker Compose location."
          }
        },
        "docker_compose_custom_start_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Docker Compose custom start command."
          }
        },
        "docker_compose_custom_build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Docker Compose custom build command."
          }
        },
        "docker_compose_domains": {
          "target": "com.coolify.api#CreatePrivateDeployKeyApplicationRequestDockerComposeDomainsList",
          "traits": {
            "smithy.api#documentation": "Array of URLs to be applied to containers of a dockercompose application."
          }
        },
        "watch_paths": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The watch paths."
          }
        },
[...]
