{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.argocd.api#AccountAccountsList": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.argocd.api#AccountAccountsListItemsList"
        }
      },
      "traits": {}
    },
    "com.argocd.api#AccountAccount": {
      "type": "structure",
      "members": {
        "capabilities": {
          "target": "com.argocd.api#AccountAccountCapabilitiesList"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "tokens": {
          "target": "com.argocd.api#AccountAccountTokensList"
        }
      },
      "traits": {}
    },
    "com.argocd.api#AccountAccountCapabilitiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#AccountToken": {
      "type": "structure",
      "members": {
        "expiresAt": {
          "target": "smithy.api#Integer"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "issuedAt": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.argocd.api#AccountAccountTokensList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#AccountToken"
      },
      "traits": {}
    },
    "com.argocd.api#AccountAccountsListItemsList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#AccountAccount"
      },
      "traits": {}
    },
    "com.argocd.api#AccountServiceListAccounts": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.argocd.api#AccountAccountsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/account",
          "code": 200
        },
        "smithy.api#documentation": "ListAccounts returns the list of accounts"
      }
    },
    "com.argocd.api#AccountServiceCanIRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subresource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.argocd.api#AccountCanIResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#AccountServiceCanI": {
      "type": "operation",
      "input": {
        "target": "com.argocd.api#AccountServiceCanIRequest"
      },
      "output": {
        "target": "com.argocd.api#AccountCanIResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/account/can-i/{resource}/{action}/{subresource}",
          "code": 200
        },
        "smithy.api#documentation": "CanI checks if the current account has permission to perform an action"
      }
    },
    "com.argocd.api#AccountServiceUpdatePasswordRequest": {
      "type": "structure",
      "members": {
        "currentPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "newPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.argocd.api#AccountServiceUpdatePasswordResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.argocd.api#AccountServiceUpdatePassword": {
      "type": "operation",
      "input": {
        "target": "com.argocd.api#AccountServiceUpdatePasswordRequest"
      },
      "output": {
        "target": "com.argocd.api#AccountServiceUpdatePasswordResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/account/password",
          "code": 200
        },
        "smithy.api#documentation": "UpdatePassword updates an account's password to a new value"
      }
    },
    "com.argocd.api#AccountServiceGetAccountRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.argocd.api#AccountServiceGetAccount": {
      "type": "operation",
      "input": {
        "target": "com.argocd.api#AccountServiceGetAccountRequest"
      },
      "output": {
        "target": "com.argocd.api#AccountAccount"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/account/{name}",
          "code": 200
        },
        "smithy.api#documentation": "GetAccount returns an account"
      }
    },
    "com.argocd.api#AccountServiceCreateTokenRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "expiresIn": {
          "target": "smithy.api#Integer"
        },
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.argocd.api#AccountCreateTokenResponse": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#AccountServiceCreateToken": {
      "type": "operation",
      "input": {
        "target": "com.argocd.api#AccountServiceCreateTokenRequest"
      },
      "output": {
        "target": "com.argocd.api#AccountCreateTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/account/{name}/token",
          "code": 200
        },
        "smithy.api#documentation": "CreateToken creates a token"
      }
    },
    "com.argocd.api#AccountServiceDeleteTokenRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.argocd.api#AccountServiceDeleteTokenResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.argocd.api#AccountServiceDeleteToken": {
      "type": "operation",
      "input": {
        "target": "com.argocd.api#AccountServiceDeleteTokenRequest"
      },
      "output": {
        "target": "com.argocd.api#AccountServiceDeleteTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/account/{name}/token/{id}",
          "code": 200
        },
        "smithy.api#documentation": "DeleteToken deletes a token"
      }
    },
    "com.argocd.api#ApplicationServiceListRequestProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#ApplicationServiceListRequestProjectList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#ApplicationServiceListRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "the application's name."
          }
        },
        "refresh": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "refresh",
            "smithy.api#documentation": "forces application reconciliation if set to 'hard'."
          }
        },
        "projects": {
          "target": "com.argocd.api#ApplicationServiceListRequestProjectsList",
          "traits": {
            "smithy.api#httpQuery": "projects",
            "smithy.api#documentation": "the project names to restrict returned list applications."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceVersion",
            "smithy.api#documentation": "when specified with a watch call, shows changes that occur after that particular version of a resource."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "selector",
            "smithy.api#documentation": "the selector to restrict returned list to applications only with matched labels."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "the repoURL to restrict returned list applications."
          }
        },
        "appNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "appNamespace",
            "smithy.api#documentation": "the application's namespace."
          }
        },
        "project": {
          "target": "com.argocd.api#ApplicationServiceListRequestProjectList",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#documentation": "the project names to restrict returned list applications (legacy name for backwards-compatibility)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.argocd.api#V1alpha1ApplicationList": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.argocd.api#V1alpha1ApplicationListItemsList"
        },
        "metadata": {
          "target": "com.argocd.api#V1ListMeta"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1Application": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.argocd.api#V1ObjectMeta"
        },
        "operation": {
          "target": "com.argocd.api#V1alpha1Operation"
        },
        "spec": {
          "target": "com.argocd.api#V1alpha1ApplicationSpec"
        },
        "status": {
          "target": "com.argocd.api#V1alpha1ApplicationStatus"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1ObjectMeta": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.argocd.api#V1ObjectMetaAnnotationsMap"
        },
        "creationTimestamp": {
          "target": "smithy.api#String"
        },
        "deletionGracePeriodSeconds": {
          "target": "smithy.api#Integer"
        },
        "deletionTimestamp": {
          "target": "smithy.api#String"
        },
        "finalizers": {
          "target": "com.argocd.api#V1ObjectMetaFinalizersList"
        },
        "generateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GenerateName is an optional prefix, used by the server, to generate a unique\nname ONLY IF the Name field has not been provided.\nIf this field is used, the name returned to the client will be different\nthan the name passed. This value will also be combined with a unique suffix.\nThe provided value has the same validation rules as the Name field,\nand may be truncated by the length of the suffix required to make the value\nunique on the server.\n\nIf this field is specified and the generated name exists, the server will return a 409.\n\nApplied only if Name is not specified.\nMore info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#idempotency\n+optional"
          }
        },
        "generation": {
          "target": "smithy.api#Integer"
        },
        "labels": {
          "target": "com.argocd.api#V1ObjectMetaLabelsMap"
        },
        "managedFields": {
          "target": "com.argocd.api#V1ObjectMetaManagedFieldsList",
          "traits": {
            "smithy.api#documentation": "ManagedFields maps workflow-id and version to the set of fields\nthat are managed by that workflow. This is mostly for internal\nhousekeeping, and users typically shouldn't need to set or\nunderstand this field. A workflow can be the user's name, a\ncontroller's name, or the name of a specific apply path like\n\"ci-cd\". The set of fields is always in the version that the\nworkflow used when modifying the object.\n\n+optional\n+listType=atomic"
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace defines the space within which each name must be unique. An empty namespace is\nequivalent to the \"default\" namespace, but \"default\" is the canonical representation.\nNot all objects are required to be scoped to a namespace - the value of this field for\nthose objects will be empty.\n\nMust be a DNS_LABEL.\nCannot be updated.\nMore info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces\n+optional"
          }
        },
        "ownerReferences": {
          "target": "com.argocd.api#V1ObjectMetaOwnerReferencesList"
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque value that represents the internal version of this object that can\nbe used by clients to determine when objects have changed. May be used for optimistic\nconcurrency, change detection, and the watch operation on a resource or set of resources.\nClients must treat these values as opaque and passed unmodified back to the server.\nThey may only be valid for a particular resource or set of resources.\n\nPopulated by the system.\nRead-only.\nValue must be treated as opaque by clients and .\nMore info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency\n+optional"
          }
        },
        "selfLink": {
          "target": "smithy.api#String"
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID is the unique in time and space value for this object. It is typically generated by\nthe server on successful creation of a resource and is not allowed to change on PUT\noperations.\n\nPopulated by the system.\nRead-only.\nMore info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids\n+optional"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ObjectMeta is metadata that all persisted resources must have, which includes all objects\nusers must create."
      }
    },
    "com.argocd.api#V1ObjectMetaAnnotationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1ObjectMetaFinalizersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1ObjectMetaLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1ManagedFieldsEntry": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the version of this resource that this field set\napplies to. The format is \"group/version\" just like the top-level\nAPIVersion field. It is necessary to track the version of a field\nset because it cannot be automatically converted."
          }
        },
        "fieldsType": {
          "target": "smithy.api#String"
        },
        "fieldsV1": {
          "target": "com.argocd.api#V1FieldsV1"
        },
        "manager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manager is an identifier of the workflow managing these fields."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation is the type of operation which lead to this ManagedFieldsEntry being created.\nThe only valid values for this field are 'Apply' and 'Update'."
          }
        },
        "subresource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subresource is the name of the subresource used to update that object, or\nempty string if the object was updated through the main resource. The\nvalue of this field is used to distinguish between managers, even if they\nshare the same name. For example, a status update will be distinct from a\nregular update using the same manager name.\nNote that the APIVersion field is not related to the Subresource field and\nit always corresponds to the version of the main resource."
          }
        },
        "time": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "ManagedFieldsEntry is a workflow-id, a FieldSet and the group version of the resource\nthat the fieldset applies to."
      }
    },
    "com.argocd.api#V1FieldsV1": {
      "type": "structure",
      "members": {
        "Raw": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw is the underlying serialization of this object.\n\nDeprecated: Direct access to this field is deprecated. Use GetRawBytes, GetRawString, SetRawBytes, SetRawString, GetRawReader, NewFieldsV1 instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FieldsV1 stores a set of fields in a data structure like a Trie, in JSON format.\n\nEach key is either a '.' representing the field itself, and will always map to an empty set,\nor a string representing a sub-field or item. The string will follow one of these four formats:\n'f:<name>', where <name> is the name of a field in a struct, or key in a map\n'v:<value>', where <value> is the exact json formatted value of a list item\n'i:<index>', where <index> is position of a item in a list\n'k:<keys>', where <keys> is a map of  a list item's key fields to their unique values\nIf a key maps to an empty Fields value, the field that key represents is part of the set.\n\nThe exact format is defined in sigs.k8s.io/structured-merge-diff\n+k8s:deepcopy-gen=false\n+protobuf.options.marshal=false\n+protobuf.options.(gogoproto.goproto_stringer)=false"
      }
    },
    "com.argocd.api#V1ObjectMetaManagedFieldsList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1ManagedFieldsEntry"
      },
      "traits": {
        "smithy.api#documentation": "ManagedFields maps workflow-id and version to the set of fields\nthat are managed by that workflow. This is mostly for internal\nhousekeeping, and users typically shouldn't need to set or\nunderstand this field. A workflow can be the user's name, a\ncontroller's name, or the name of a specific apply path like\n\"ci-cd\". The set of fields is always in the version that the\nworkflow used when modifying the object.\n\n+optional\n+listType=atomic"
      }
    },
    "com.argocd.api#V1OwnerReference": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API version of the referent."
          }
        },
        "blockOwnerDeletion": {
          "target": "smithy.api#Boolean"
        },
        "controller": {
          "target": "smithy.api#Boolean"
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "uid": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1ObjectMetaOwnerReferencesList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1OwnerReference"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1Operation": {
      "type": "structure",
      "members": {
        "info": {
          "target": "com.argocd.api#V1alpha1OperationInfoList"
        },
        "initiatedBy": {
          "target": "com.argocd.api#V1alpha1OperationInitiator"
        },
        "retry": {
          "target": "com.argocd.api#V1alpha1RetryStrategy"
        },
        "sync": {
          "target": "com.argocd.api#V1alpha1SyncOperation"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1Info": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1OperationInfoList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1Info"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1OperationInitiator": {
      "type": "structure",
      "members": {
        "automated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Automated is set to true if operation was initiated automatically by the application controller."
          }
        },
        "username": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1RetryStrategy": {
      "type": "structure",
      "members": {
        "backoff": {
          "target": "com.argocd.api#V1alpha1Backoff"
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Limit is the maximum number of attempts for retrying a failed sync. If set to 0, no retries will be performed."
          }
        },
        "refresh": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1Backoff": {
      "type": "structure",
      "members": {
        "duration": {
          "target": "smithy.api#String"
        },
        "factor": {
          "target": "smithy.api#Integer"
        },
        "maxDuration": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncOperation": {
      "type": "structure",
      "members": {
        "autoHealAttemptsCount": {
          "target": "smithy.api#Integer"
        },
        "dryRun": {
          "target": "smithy.api#Boolean"
        },
        "manifests": {
          "target": "com.argocd.api#V1alpha1SyncOperationManifestsList"
        },
        "prune": {
          "target": "smithy.api#Boolean"
        },
        "resources": {
          "target": "com.argocd.api#V1alpha1SyncOperationResourcesList"
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Revision is the revision (Git) or chart version (Helm) which to sync the application to\nIf omitted, will use the revision specified in app spec."
          }
        },
        "revisions": {
          "target": "com.argocd.api#V1alpha1SyncOperationRevisionsList",
          "traits": {
            "smithy.api#documentation": "Revisions is the list of revision (Git) or chart version (Helm) which to sync each source in sources field for the application to\nIf omitted, will use the revision specified in app spec."
          }
        },
        "source": {
          "target": "com.argocd.api#V1alpha1ApplicationSource"
        },
        "sources": {
          "target": "com.argocd.api#V1alpha1SyncOperationSourcesList"
        },
        "syncOptions": {
          "target": "com.argocd.api#V1alpha1SyncOperationSyncOptionsList"
        },
        "syncStrategy": {
          "target": "com.argocd.api#V1alpha1SyncStrategy"
        }
      },
      "traits": {
        "smithy.api#documentation": "SyncOperation contains details about a sync operation."
      }
    },
    "com.argocd.api#V1alpha1SyncOperationManifestsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncOperationResource": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String"
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "namespace": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "SyncOperationResource contains resources to sync."
      }
    },
    "com.argocd.api#V1alpha1SyncOperationResourcesList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1SyncOperationResource"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncOperationRevisionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Revisions is the list of revision (Git) or chart version (Helm) which to sync each source in sources field for the application to\nIf omitted, will use the revision specified in app spec."
      }
    },
    "com.argocd.api#V1alpha1ApplicationSource": {
      "type": "structure",
      "members": {
        "chart": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Chart is a Helm chart name, and must be specified for applications sourced from a Helm repo."
          }
        },
        "directory": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceDirectory"
        },
        "helm": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceHelm"
        },
        "kustomize": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceKustomize"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name is used to refer to a source and is displayed in the UI. It is used in multi-source Applications."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path is a directory path within the Git repository, and is only valid for applications sourced from Git."
          }
        },
        "plugin": {
          "target": "com.argocd.api#V1alpha1ApplicationSourcePlugin"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ref is reference to another source within sources field. This field will not be used if used with a `source` tag."
          }
        },
        "repoURL": {
          "target": "smithy.api#String"
        },
        "tagPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TagPrefix filters git tags to only those with this prefix before evaluating targetRevision as a semver constraint.\nThe prefix is stripped from tag names before comparison and re-added to the resolved version.\nFor example, with tagPrefix \"component-b/\" and targetRevision \"1.0.*\", tags like \"component-b/1.0.0\" and\n\"component-b/1.0.1\" are candidates, and the constraint resolves to \"component-b/1.0.1\"."
          }
        },
        "targetRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TargetRevision defines the revision of the source to sync the application to.\nIn case of Git, this can be commit, tag, or branch. If omitted, will equal to HEAD.\nIn case of Helm, this is a semver tag for the Chart's version."
          }
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourceDirectory": {
      "type": "structure",
      "members": {
        "disableExtensionFilter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "DisableExtensionFilter controls whether the built-in file-extension filter is skipped during\nmanifest generation. When false (the default), only files with a .yaml, .yml, .json, or\n.jsonnet extension are considered as potential manifests. Set it to true to disable the filter\nso that files with custom extensions (e.g. *.yaml.sealed) can be matched by the include/exclude\nglob patterns instead."
          }
        },
        "exclude": {
          "target": "smithy.api#String"
        },
        "include": {
          "target": "smithy.api#String"
        },
        "jsonnet": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceJsonnet"
        },
        "recurse": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourceJsonnet": {
      "type": "structure",
      "members": {
        "extVars": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceJsonnetExtVarsList"
        },
        "libs": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceJsonnetLibsList"
        },
        "tlas": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceJsonnetTlasList"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1JsonnetVar": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourceJsonnetExtVarsList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1JsonnetVar"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourceJsonnetLibsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourceJsonnetTlasList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1JsonnetVar"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourceHelm": {
      "type": "structure",
      "members": {
        "apiVersions": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceHelmApiVersionsList",
          "traits": {
            "smithy.api#documentation": "APIVersions specifies the Kubernetes resource API versions to pass to Helm when templating manifests. By default,\nArgo CD uses the API versions of the target cluster. The format is [group/]version/kind."
          }
        },
        "fileParameters": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceHelmFileParametersList"
        },
        "ignoreMissingValueFiles": {
          "target": "smithy.api#Boolean"
        },
        "kubeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "KubeVersion specifies the Kubernetes API version to pass to Helm when templating manifests. By default, Argo CD\nuses the Kubernetes version of the target cluster."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace is an optional namespace to template with. If left empty, defaults to the app's destination namespace."
          }
        },
        "parameters": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceHelmParametersList"
        },
        "passCredentials": {
          "target": "smithy.api#Boolean"
        },
        "releaseName": {
          "target": "smithy.api#String"
        },
        "skipCrds": {
          "target": "smithy.api#Boolean"
        },
        "skipSchemaValidation": {
          "target": "smithy.api#Boolean"
        },
        "skipTests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "SkipTests skips test manifest installation step (Helm's --skip-tests)."
          }
        },
        "valueFiles": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceHelmValueFilesList"
        },
        "values": {
          "target": "smithy.api#String"
        },
        "valuesObject": {
          "target": "com.argocd.api#RuntimeRawExtension"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourceHelmApiVersionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "APIVersions specifies the Kubernetes resource API versions to pass to Helm when templating manifests. By default,\nArgo CD uses the API versions of the target cluster. The format is [group/]version/kind."
      }
    },
    "com.argocd.api#V1alpha1HelmFileParameter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourceHelmFileParametersList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1HelmFileParameter"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1HelmParameter": {
      "type": "structure",
      "members": {
        "forceString": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourceHelmParametersList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1HelmParameter"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourceHelmValueFilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#RuntimeRawExtension": {
      "type": "structure",
      "members": {
        "raw": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw is the underlying serialization of this object.\n\nTODO: Determine how to detect ContentType and ContentEncoding of 'Raw' data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RawExtension is used to hold extensions in external versions.\n\nTo use this, make a field which has RawExtension as its type in your external, versioned\nstruct, and Object in your internal struct. You also need to register your\nvarious plugin types.\n\n// Internal package:\n\n\ttype MyAPIObject struct {\n\t\truntime.TypeMeta `json:\",inline\"`\n\t\tMyPlugin runtime.Object `json:\"myPlugin\"`\n\t}\n\n\ttype PluginA struct {\n\t\tAOption string `json:\"aOption\"`\n\t}\n\n// External package:\n\n\ttype MyAPIObject struct {\n\t\truntime.TypeMeta `json:\",inline\"`\n\t\tMyPlugin runtime.RawExtension `json:\"myPlugin\"`\n\t}\n\n\ttype PluginA struct {\n\t\tAOption string `json:\"aOption\"`\n\t}\n\n// On the wire, the JSON will look something like this:\n\n\t{\n\t\t\"kind\":\"MyAPIObject\",\n\t\t\"apiVersion\":\"v1\",\n\t\t\"myPlugin\": {\n\t\t\t\"kind\":\"PluginA\",\n\t\t\t\"aOption\":\"foo\",\n\t\t},\n\t}\n\nSo what happens? Decode first uses json or yaml to unmarshal the serialized data into\nyour external MyAPIObject. That causes the raw JSON to be stored, but not unpacked.\nThe next step is to copy (using pkg/conversion) into the internal struct. The runtime\npackage's DefaultScheme has conversion functions installed which will unpack the\nJSON stored in RawExtension, turning it into the correct object type, and storing it\nin the Object. (TODO: In the case where the object is of an unknown type, a\nruntime.Unknown object will be created and stored.)\n\n+k8s:deepcopy-gen=true\n+protobuf=true\n+k8s:openapi-gen=true"
      }
    },
    "com.argocd.api#V1alpha1ApplicationSourceKustomize": {
      "type": "structure",
      "members": {
        "apiVersions": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceKustomizeApiVersionsList",
          "traits": {
            "smithy.api#documentation": "APIVersions specifies the Kubernetes resource API versions to pass to Helm when templating manifests. By default,\nArgo CD uses the API versions of the target cluster. The format is [group/]version/kind."
          }
        },
        "commonAnnotations": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceKustomizeCommonAnnotationsMap"
        },
        "commonAnnotationsEnvsubst": {
          "target": "smithy.api#Boolean"
        },
        "commonLabels": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceKustomizeCommonLabelsMap"
        },
        "components": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceKustomizeComponentsList"
        },
        "forceCommonAnnotations": {
          "target": "smithy.api#Boolean"
        },
        "forceCommonLabels": {
          "target": "smithy.api#Boolean"
        },
        "ignoreMissingComponents": {
          "target": "smithy.api#Boolean"
        },
        "images": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceKustomizeImagesList"
        },
        "kubeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "KubeVersion specifies the Kubernetes API version to pass to Helm when templating manifests. By default, Argo CD\nuses the Kubernetes version of the target cluster."
          }
        },
        "labelIncludeTemplates": {
          "target": "smithy.api#Boolean"
        },
        "labelWithoutSelector": {
          "target": "smithy.api#Boolean"
        },
        "namePrefix": {
          "target": "smithy.api#String"
        },
        "nameSuffix": {
          "target": "smithy.api#String"
        },
        "namespace": {
          "target": "smithy.api#String"
        },
        "patches": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceKustomizePatchesList"
        },
        "replicas": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceKustomizeReplicasList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourceKustomizeApiVersionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "APIVersions specifies the Kubernetes resource API versions to pass to Helm when templating manifests. By default,\nArgo CD uses the API versions of the target cluster. The format is [group/]version/kind."
      }
    },
    "com.argocd.api#V1alpha1ApplicationSourceKustomizeCommonAnnotationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourceKustomizeCommonLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourceKustomizeComponentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourceKustomizeImagesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1KustomizePatch": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.argocd.api#V1alpha1KustomizePatchOptionsMap"
        },
        "patch": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "target": {
          "target": "com.argocd.api#V1alpha1KustomizeSelector"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1KustomizePatchOptionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Boolean"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1KustomizeSelector": {
      "type": "structure",
      "members": {
        "annotationSelector": {
          "target": "smithy.api#String"
        },
        "labelSelector": {
          "target": "smithy.api#String"
        },
        "resId": {
          "target": "com.argocd.api#V1alpha1KustomizeResId"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1KustomizeResId": {
      "type": "structure",
      "members": {
        "gvk": {
          "target": "com.argocd.api#V1alpha1KustomizeGvk"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "namespace": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1KustomizeGvk": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String"
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourceKustomizePatchesList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1KustomizePatch"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1KustomizeReplica": {
      "type": "structure",
      "members": {
        "count": {
          "target": "com.argocd.api#IntstrIntOrString"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#IntstrIntOrString": {
      "type": "structure",
      "members": {
        "intVal": {
          "target": "smithy.api#Integer"
        },
        "strVal": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "+protobuf=true\n+protobuf.options.(gogoproto.goproto_stringer)=false\n+k8s:openapi-gen=true\n+k8s:openapi-model-package=io.k8s.apimachinery.pkg.util.intstr"
      }
    },
    "com.argocd.api#V1alpha1ApplicationSourceKustomizeReplicasList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1KustomizeReplica"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourcePlugin": {
      "type": "structure",
      "members": {
        "env": {
          "target": "com.argocd.api#V1alpha1ApplicationSourcePluginEnvList"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.argocd.api#V1alpha1ApplicationSourcePluginParametersList"
        }
      },
      "traits": {}
    },
    "com.argocd.api#Applicationv1alpha1EnvEntry": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourcePluginEnvList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#Applicationv1alpha1EnvEntry"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourcePluginParameter": {
      "type": "structure",
      "members": {
        "array": {
          "target": "com.argocd.api#V1alpha1ApplicationSourcePluginParameterArrayList",
          "traits": {
            "smithy.api#documentation": "Array is the value of an array type parameter."
          }
        },
        "map": {
          "target": "com.argocd.api#V1alpha1ApplicationSourcePluginParameterMapMap",
          "traits": {
            "smithy.api#documentation": "Map is the value of a map type parameter."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name is the name identifying a parameter."
          }
        },
        "string": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String_ is the value of a string type parameter."
          }
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSourcePluginParameterArrayList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array is the value of an array type parameter."
      }
    },
    "com.argocd.api#V1alpha1ApplicationSourcePluginParameterMapMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Map is the value of a map type parameter."
      }
    },
    "com.argocd.api#V1alpha1ApplicationSourcePluginParametersList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1ApplicationSourcePluginParameter"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncOperationSourcesList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1ApplicationSource"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncOperationSyncOptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncStrategy": {
      "type": "structure",
      "members": {
        "apply": {
          "target": "com.argocd.api#V1alpha1SyncStrategyApply"
        },
        "hook": {
          "target": "com.argocd.api#V1alpha1SyncStrategyHook"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncStrategyApply": {
      "type": "structure",
      "members": {
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Force indicates whether or not to supply the --force flag to `kubectl apply`.\nThe --force flag deletes and re-create the resource, when PATCH encounters conflict and has\nretried for 5 times."
          }
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncStrategyHook": {
      "type": "structure",
      "members": {
        "syncStrategyApply": {
          "target": "com.argocd.api#V1alpha1SyncStrategyApply"
        }
      },
      "traits": {
        "smithy.api#documentation": "SyncStrategyHook will perform a sync using hooks annotations.\nIf no hook annotation is specified falls back to `kubectl apply`."
      }
    },
    "com.argocd.api#V1alpha1ApplicationSpec": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "com.argocd.api#V1alpha1ApplicationDestination"
        },
        "ignoreDifferences": {
          "target": "com.argocd.api#V1alpha1ApplicationSpecIgnoreDifferencesList"
        },
        "info": {
          "target": "com.argocd.api#V1alpha1ApplicationSpecInfoList"
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project is a reference to the project this application belongs to.\nThe empty string means that application belongs to the 'default' project."
          }
        },
        "revisionHistoryLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "RevisionHistoryLimit limits the number of items kept in the application's revision history, which is used for informational purposes as well as for rollbacks to previous versions.\nThis should only be changed in exceptional circumstances.\nSetting to zero will store no history. This will reduce storage used.\nIncreasing will increase the space used to store the history, so we do not recommend increasing it.\nDefault is 10."
          }
        },
        "source": {
          "target": "com.argocd.api#V1alpha1ApplicationSource"
        },
        "sourceHydrator": {
          "target": "com.argocd.api#V1alpha1SourceHydrator"
        },
        "sources": {
          "target": "com.argocd.api#V1alpha1ApplicationSpecSourcesList"
        },
        "syncPolicy": {
          "target": "com.argocd.api#V1alpha1SyncPolicy"
        }
      },
      "traits": {
        "smithy.api#documentation": "ApplicationSpec represents desired application state. Contains link to repository with application definition and additional parameters link definition revision."
      }
    },
    "com.argocd.api#V1alpha1ApplicationDestination": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name is an alternate way of specifying the target cluster by its symbolic name. This must be set if Server is not set."
          }
        },
        "namespace": {
          "target": "smithy.api#String"
        },
        "server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server specifies the URL of the target cluster's Kubernetes control plane API. This must be set if Name is not set."
          }
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ResourceIgnoreDifferences": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String"
        },
        "jqPathExpressions": {
          "target": "com.argocd.api#V1alpha1ResourceIgnoreDifferencesJqPathExpressionsList"
        },
        "jsonPointers": {
          "target": "com.argocd.api#V1alpha1ResourceIgnoreDifferencesJsonPointersList"
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "managedFieldsManagers": {
          "target": "com.argocd.api#V1alpha1ResourceIgnoreDifferencesManagedFieldsManagersList"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "namespace": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceIgnoreDifferences contains resource filter and list of json paths which should be ignored during comparison with live state."
      }
    },
    "com.argocd.api#V1alpha1ResourceIgnoreDifferencesJqPathExpressionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ResourceIgnoreDifferencesJsonPointersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ResourceIgnoreDifferencesManagedFieldsManagersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSpecIgnoreDifferencesList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1ResourceIgnoreDifferences"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSpecInfoList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1Info"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SourceHydrator": {
      "type": "structure",
      "members": {
        "drySource": {
          "target": "com.argocd.api#V1alpha1DrySource"
        },
        "hydrateTo": {
          "target": "com.argocd.api#V1alpha1HydrateTo"
        },
        "syncSource": {
          "target": "com.argocd.api#V1alpha1SyncSource"
        }
      },
      "traits": {
        "smithy.api#documentation": "SourceHydrator specifies a dry \"don't repeat yourself\" source for manifests, a sync source from which to sync\nhydrated manifests, and an optional hydrateTo location to act as a \"staging\" aread for hydrated manifests."
      }
    },
    "com.argocd.api#V1alpha1DrySource": {
      "type": "structure",
      "members": {
        "directory": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceDirectory"
        },
        "helm": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceHelm"
        },
        "kustomize": {
          "target": "com.argocd.api#V1alpha1ApplicationSourceKustomize"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "plugin": {
          "target": "com.argocd.api#V1alpha1ApplicationSourcePlugin"
        },
        "repoURL": {
          "target": "smithy.api#String"
        },
        "targetRevision": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "DrySource specifies a location for dry \"don't repeat yourself\" manifest source information."
      }
    },
    "com.argocd.api#V1alpha1HydrateTo": {
      "type": "structure",
      "members": {
        "targetBranch": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "HydrateTo specifies a branch to which hydrated manifests should be pushed as a \"staging area\" before being moved to\nthe SyncSource. The repository and path are inherited from SyncSource."
      }
    },
    "com.argocd.api#V1alpha1SyncSource": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path is a directory path within the git repository where hydrated manifests should be committed to and synced\nfrom. The Path should never point to the root of the repo. If hydrateTo is set, this is just the path from which\nhydrated manifests will be synced.\n\n+kubebuilder:validation:Required\n+kubebuilder:validation:MinLength=1\n+kubebuilder:validation:Pattern=`^.{2,}|[^./]$`"
          }
        },
        "repoURL": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RepoURL is the URL to the git repository that contains the hydrated manifests. If not set, defaults to\nthe DrySource.RepoURL."
          }
        },
        "targetBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TargetBranch is the branch from which hydrated manifests will be synced.\nIf HydrateTo is not set, this is also the branch to which hydrated manifests are committed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SyncSource specifies a location from which hydrated manifests may be synced. If RepoURL is not set, it is assumed\nto be the same as the associated DrySource config in the SourceHydrator."
      }
    },
    "com.argocd.api#V1alpha1ApplicationSpecSourcesList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1ApplicationSource"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncPolicy": {
      "type": "structure",
      "members": {
        "automated": {
          "target": "com.argocd.api#V1alpha1SyncPolicyAutomated"
        },
        "managedNamespaceMetadata": {
          "target": "com.argocd.api#V1alpha1ManagedNamespaceMetadata"
        },
        "retry": {
          "target": "com.argocd.api#V1alpha1RetryStrategy"
        },
        "syncOptions": {
          "target": "com.argocd.api#V1alpha1SyncPolicySyncOptionsList"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncPolicyAutomated": {
      "type": "structure",
      "members": {
        "allowEmpty": {
          "target": "smithy.api#Boolean"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "prune": {
          "target": "smithy.api#Boolean"
        },
        "selfHeal": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ManagedNamespaceMetadata": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.argocd.api#V1alpha1ManagedNamespaceMetadataAnnotationsMap"
        },
        "labels": {
          "target": "com.argocd.api#V1alpha1ManagedNamespaceMetadataLabelsMap"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ManagedNamespaceMetadataAnnotationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ManagedNamespaceMetadataLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncPolicySyncOptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationStatus": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.argocd.api#V1alpha1ApplicationStatusConditionsList"
        },
        "controllerNamespace": {
          "target": "smithy.api#String"
        },
        "health": {
          "target": "com.argocd.api#V1alpha1AppHealthStatus"
        },
        "history": {
          "target": "com.argocd.api#V1alpha1ApplicationStatusHistoryList"
        },
        "observedAt": {
          "target": "smithy.api#String"
        },
        "operationState": {
          "target": "com.argocd.api#V1alpha1OperationState"
        },
        "reconciledAt": {
          "target": "smithy.api#String"
        },
        "resourceHealthSource": {
          "target": "smithy.api#String"
        },
        "resources": {
          "target": "com.argocd.api#V1alpha1ApplicationStatusResourcesList"
        },
        "sourceHydrator": {
          "target": "com.argocd.api#V1alpha1SourceHydratorStatus"
        },
        "sourceType": {
          "target": "smithy.api#String"
        },
        "sourceTypes": {
          "target": "com.argocd.api#V1alpha1ApplicationStatusSourceTypesList"
        },
        "summary": {
          "target": "com.argocd.api#V1alpha1ApplicationSummary"
        },
        "sync": {
          "target": "com.argocd.api#V1alpha1SyncStatus"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationCondition": {
      "type": "structure",
      "members": {
        "lastTransitionTime": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationStatusConditionsList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1ApplicationCondition"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1AppHealthStatus": {
      "type": "structure",
      "members": {
        "lastTransitionTime": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1RevisionHistory": {
      "type": "structure",
      "members": {
        "deployStartedAt": {
          "target": "smithy.api#String"
        },
        "deployedAt": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "initiatedBy": {
          "target": "com.argocd.api#V1alpha1OperationInitiator"
        },
        "revision": {
          "target": "smithy.api#String"
        },
        "revisions": {
          "target": "com.argocd.api#V1alpha1RevisionHistoryRevisionsList"
        },
        "source": {
          "target": "com.argocd.api#V1alpha1ApplicationSource"
        },
        "sources": {
          "target": "com.argocd.api#V1alpha1RevisionHistorySourcesList"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1RevisionHistoryRevisionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1RevisionHistorySourcesList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1ApplicationSource"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationStatusHistoryList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1RevisionHistory"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1OperationState": {
      "type": "structure",
      "members": {
        "finishedAt": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message holds any pertinent messages when attempting to perform operation (typically errors)."
          }
        },
        "operation": {
          "target": "com.argocd.api#V1alpha1Operation"
        },
        "phase": {
          "target": "smithy.api#String"
        },
        "retryCount": {
          "target": "smithy.api#Integer"
        },
        "startedAt": {
          "target": "smithy.api#String"
        },
        "syncResult": {
          "target": "com.argocd.api#V1alpha1SyncOperationResult"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncOperationResult": {
      "type": "structure",
      "members": {
        "managedNamespaceMetadata": {
          "target": "com.argocd.api#V1alpha1ManagedNamespaceMetadata"
        },
        "resources": {
          "target": "com.argocd.api#V1alpha1SyncOperationResultResourcesList"
        },
        "revision": {
          "target": "smithy.api#String"
        },
        "revisions": {
          "target": "com.argocd.api#V1alpha1SyncOperationResultRevisionsList"
        },
        "source": {
          "target": "com.argocd.api#V1alpha1ApplicationSource"
        },
        "sources": {
          "target": "com.argocd.api#V1alpha1SyncOperationResultSourcesList"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ResourceResult": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String"
        },
        "hookPhase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HookPhase contains the state of any operation associated with this resource OR hook\nThis can also contain values for non-hook resources."
          }
        },
        "hookType": {
          "target": "smithy.api#String"
        },
        "images": {
          "target": "com.argocd.api#V1alpha1ResourceResultImagesList"
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "namespace": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "syncPhase": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ResourceResultImagesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncOperationResultResourcesList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1ResourceResult"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncOperationResultRevisionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncOperationResultSourcesList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1ApplicationSource"
      },
      "traits": {}
    },
    "com.argocd.api#Applicationv1alpha1ResourceStatus": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group represents the API group of the resource (e.g., \"apps\" for Deployments)."
          }
        },
        "health": {
          "target": "com.argocd.api#V1alpha1HealthStatus"
        },
        "hook": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hook is true if the resource is used as a lifecycle hook in an Argo CD application."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind specifies the type of the resource (e.g., \"Deployment\", \"Service\")."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name is the unique name of the resource within the namespace."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace defines the Kubernetes namespace where the resource is located."
          }
        },
        "requiresDeletionConfirmation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "RequiresDeletionConfirmation is true if the resource requires explicit user confirmation before deletion."
          }
        },
        "requiresPruning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "RequiresPruning is true if the resource needs to be pruned (deleted) as part of synchronization."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status represents the synchronization state of the resource (e.g., Synced, OutOfSync)."
          }
        },
        "syncWave": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "SyncWave determines the order in which resources are applied during a sync operation.\nLower values are applied first."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version indicates the API version of the resource (e.g., \"v1\", \"v1beta1\")."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceStatus holds the current synchronization and health status of a Kubernetes resource."
      }
    },
    "com.argocd.api#V1alpha1HealthStatus": {
      "type": "structure",
      "members": {
        "lastTransitionTime": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationStatusResourcesList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#Applicationv1alpha1ResourceStatus"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SourceHydratorStatus": {
      "type": "structure",
      "members": {
        "currentOperation": {
          "target": "com.argocd.api#V1alpha1HydrateOperation"
        },
        "lastComparedDryRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "LastComparedDryRevision holds the resolved revision from the most recent dry source comparison.\nThis is updated on every evaluation, even when hydration is skipped due to no changes."
          }
        },
        "lastSuccessfulOperation": {
          "target": "com.argocd.api#V1alpha1SuccessfulHydrateOperation"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1HydrateOperation": {
      "type": "structure",
      "members": {
        "drySHA": {
          "target": "smithy.api#String"
        },
        "finishedAt": {
          "target": "smithy.api#String"
        },
        "hydratedSHA": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "phase": {
          "target": "smithy.api#String"
        },
        "sourceHydrator": {
          "target": "com.argocd.api#V1alpha1SourceHydrator"
        },
        "startedAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SuccessfulHydrateOperation": {
      "type": "structure",
      "members": {
        "drySHA": {
          "target": "smithy.api#String"
        },
        "hydratedSHA": {
          "target": "smithy.api#String"
        },
        "sourceHydrator": {
          "target": "com.argocd.api#V1alpha1SourceHydrator"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationStatusSourceTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSummary": {
      "type": "structure",
      "members": {
        "externalURLs": {
          "target": "com.argocd.api#V1alpha1ApplicationSummaryExternalURLsList",
          "traits": {
            "smithy.api#documentation": "ExternalURLs holds all external URLs of application child resources."
          }
        },
        "images": {
          "target": "com.argocd.api#V1alpha1ApplicationSummaryImagesList",
          "traits": {
            "smithy.api#documentation": "Images holds all images of application child resources."
          }
        },
        "isAppOfApps": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "IsAppOfApps holds true if the application has any application for child resource."
          }
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationSummaryExternalURLsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "ExternalURLs holds all external URLs of application child resources."
      }
    },
    "com.argocd.api#V1alpha1ApplicationSummaryImagesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Images holds all images of application child resources."
      }
    },
    "com.argocd.api#V1alpha1SyncStatus": {
      "type": "structure",
      "members": {
        "comparedTo": {
          "target": "com.argocd.api#V1alpha1ComparedTo"
        },
        "revision": {
          "target": "smithy.api#String"
        },
        "revisions": {
          "target": "com.argocd.api#V1alpha1SyncStatusRevisionsList"
        },
        "status": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ComparedTo": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "com.argocd.api#V1alpha1ApplicationDestination"
        },
        "ignoreDifferences": {
          "target": "com.argocd.api#V1alpha1ComparedToIgnoreDifferencesList"
        },
        "source": {
          "target": "com.argocd.api#V1alpha1ApplicationSource"
        },
        "sources": {
          "target": "com.argocd.api#V1alpha1ComparedToSourcesList"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ComparedToIgnoreDifferencesList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1ResourceIgnoreDifferences"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ComparedToSourcesList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1ApplicationSource"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SyncStatusRevisionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ApplicationListItemsList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1Application"
      },
      "traits": {}
    },
    "com.argocd.api#V1ListMeta": {
      "type": "structure",
      "members": {
        "continue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "continue may be set if the user set a limit on the number of items returned, and indicates that\nthe server has more data available. The value is opaque and may be used to issue another request\nto the endpoint that served this list to retrieve the next set of available objects. Continuing a\nconsistent list may not be possible if the server configuration has changed or more than a few\nminutes have passed. The resourceVersion field returned when using this continue value will be\nidentical to the value in the first response, unless you have received this token from an error\nmessage."
          }
        },
        "remainingItemCount": {
          "target": "smithy.api#Integer"
        },
        "resourceVersion": {
          "target": "smithy.api#String"
        },
        "selfLink": {
          "target": "smithy.api#String"
        },
        "shardInfo": {
          "target": "com.argocd.api#V1ShardInfo"
        }
      },
      "traits": {
        "smithy.api#documentation": "ListMeta describes metadata that synthetic resources must have, including lists and\nvarious status objects. A resource may have only one of {ObjectMeta, ListMeta}."
      }
    },
    "com.argocd.api#V1ShardInfo": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "ShardInfo describes the shard selector that was applied to produce a list response.\nIts presence on a list response indicates the list is a filtered subset."
      }
    },
    "com.argocd.api#ApplicationServiceList": {
      "type": "operation",
      "input": {
        "target": "com.argocd.api#ApplicationServiceListRequest"
      },
      "output": {
        "target": "com.argocd.api#V1alpha1ApplicationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/applications",
          "code": 200
        },
        "smithy.api#documentation": "List returns list of applications"
      }
    },
    "com.argocd.api#ApplicationServiceCreateRequest": {
      "type": "structure",
      "members": {
        "upsert": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "upsert"
          }
        },
        "validate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "validate"
          }
        },
        "metadata": {
          "target": "com.argocd.api#V1ObjectMeta"
        },
        "operation": {
          "target": "com.argocd.api#V1alpha1Operation"
        },
        "spec": {
          "target": "com.argocd.api#V1alpha1ApplicationSpec"
        },
        "status": {
          "target": "com.argocd.api#V1alpha1ApplicationStatus"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.argocd.api#ApplicationServiceCreate": {
      "type": "operation",
      "input": {
        "target": "com.argocd.api#ApplicationServiceCreateRequest"
      },
      "output": {
        "target": "com.argocd.api#V1alpha1Application"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/applications",
          "code": 200
        },
        "smithy.api#documentation": "Create creates an application"
      }
    },
    "com.argocd.api#ApplicationFileChunk": {
      "type": "structure",
      "members": {
        "chunk": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#ApplicationApplicationManifestQueryWithFiles": {
      "type": "structure",
      "members": {
        "appNamespace": {
          "target": "smithy.api#String"
        },
        "checksum": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "project": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.argocd.api#ApplicationServiceGetManifestsWithFilesRequest": {
      "type": "structure",
      "members": {
        "chunk": {
          "target": "com.argocd.api#ApplicationFileChunk"
        },
        "query": {
          "target": "com.argocd.api#ApplicationApplicationManifestQueryWithFiles"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.argocd.api#RepositoryManifestResponse": {
      "type": "structure",
      "members": {
        "commands": {
          "target": "com.argocd.api#RepositoryManifestResponseCommandsList"
        },
        "manifests": {
          "target": "com.argocd.api#RepositoryManifestResponseManifestsList"
        },
        "namespace": {
          "target": "smithy.api#String"
        },
        "revision": {
          "target": "smithy.api#String"
        },
        "server": {
          "target": "smithy.api#String"
        },
        "sourceIntegrityResult": {
          "target": "com.argocd.api#V1alpha1SourceIntegrityCheckResult"
        },
        "sourceType": {
          "target": "smithy.api#String"
        },
        "verifyResult": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use sourceIntegrityResult for more detailed information. verifyResult will be removed with the next major version."
          }
        }
      },
      "traits": {}
    },
    "com.argocd.api#RepositoryManifestResponseCommandsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#RepositoryManifestResponseManifestsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SourceIntegrityCheckResult": {
      "type": "structure",
      "members": {
        "checks": {
          "target": "com.argocd.api#V1alpha1SourceIntegrityCheckResultChecksList",
          "traits": {
            "smithy.api#documentation": "Checks holds a list of checks performed, with their eventual problems. If a check is not specified here,\nit means it was not performed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SourceIntegrityCheckResult represents a conclusion of the SourceIntegrity evaluation.\nEach check performed on a source(es), holds a check item representing all checks performed."
      }
    },
    "com.argocd.api#V1alpha1SourceIntegrityCheckResultItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the check that is human-understandable pointing out to the kind of verification performed."
          }
        },
        "problems": {
          "target": "com.argocd.api#V1alpha1SourceIntegrityCheckResultItemProblemsList",
          "traits": {
            "smithy.api#documentation": "Problems is a list of messages explaining why the check failed. Empty list means the check has succeeded."
          }
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1SourceIntegrityCheckResultItemProblemsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Problems is a list of messages explaining why the check failed. Empty list means the check has succeeded."
      }
    },
    "com.argocd.api#V1alpha1SourceIntegrityCheckResultChecksList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1SourceIntegrityCheckResultItem"
      },
      "traits": {
        "smithy.api#documentation": "Checks holds a list of checks performed, with their eventual problems. If a check is not specified here,\nit means it was not performed."
      }
    },
    "com.argocd.api#ApplicationServiceGetManifestsWithFiles": {
      "type": "operation",
      "input": {
        "target": "com.argocd.api#ApplicationServiceGetManifestsWithFilesRequest"
      },
      "output": {
        "target": "com.argocd.api#RepositoryManifestResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/applications/manifestsWithFiles",
          "code": 200
        },
        "smithy.api#documentation": "GetManifestsWithFiles returns application manifests using provided files to generate them"
      }
    },
    "com.argocd.api#ApplicationServiceServerSideDiffRequestTargetManifestsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.argocd.api#ApplicationServiceServerSideDiffRequest": {
      "type": "structure",
      "members": {
        "appName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "appNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "appNamespace"
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project"
          }
        },
        "targetManifests": {
          "target": "com.argocd.api#ApplicationServiceServerSideDiffRequestTargetManifestsList",
          "traits": {
            "smithy.api#httpQuery": "targetManifests"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.argocd.api#ApplicationApplicationServerSideDiffResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.argocd.api#ApplicationApplicationServerSideDiffResponseItemsList"
        },
        "modified": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.argocd.api#V1alpha1ResourceDiff": {
      "type": "structure",
      "members": {
        "diff": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Diff contains the JSON patch representing the difference between the live and target resource.\n\nDeprecated: Use NormalizedLiveState and PredictedLiveState instead to compute differences."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group represents the API group of the resource (e.g., \"apps\" for Deployments)."
          }
        },
        "hook": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hook indicates whether this resource is a hook resource (e.g., pre-sync or post-sync hooks)."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind represents the Kubernetes resource kind (e.g., \"Deployment\", \"Service\")."
          }
        },
        "liveState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "LiveState contains the JSON-serialized resource manifest of the resource currently running in the cluster."
          }
        },
        "modified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Modified indicates whether the live resource has changes compared to the target resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name is the name of the resource."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace specifies the namespace where the resource exists."
          }
        },
        "normalizedLiveState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "NormalizedLiveState contains the JSON-serialized live resource state after applying normalizations.\nNormalizations may include ignoring irrelevant fields like timestamps or defaults applied by Kubernetes."
          }
        },
        "predictedLiveState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PredictedLiveState contains the JSON-serialized resource state that Argo CD predicts based on the\ncombination of the normalized live state and the desired target state."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ResourceVersion is the Kubernetes resource version, which helps in tracking changes."
          }
        },
        "targetState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TargetState contains the JSON-serialized resource manifest as defined in the Git/Helm repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceDiff holds the diff between a live and target resource object in Argo CD.\nIt is used to compare the desired state (from Git/Helm) with the actual state in the cluster."
      }
    },
    "com.argocd.api#ApplicationApplicationServerSideDiffResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1ResourceDiff"
      },
      "traits": {}
    },
    "com.argocd.api#ApplicationServiceServerSideDiff": {
      "type": "operation",
      "input": {
        "target": "com.argocd.api#ApplicationServiceServerSideDiffRequest"
      },
      "output": {
        "target": "com.argocd.api#ApplicationApplicationServerSideDiffResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/applications/{appName}/server-side-diff",
          "code": 200
        },
        "smithy.api#documentation": "ServerSideDiff performs server-side diff calculation using dry-run apply"
      }
    },
    "com.argocd.api#ApplicationServiceUpdateRequest": {
      "type": "structure",
      "members": {
        "application_metadata_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name must be unique within a namespace. Is required when creating resources, although\nsome resources may allow a client to request the generation of an appropriate name\nautomatically. Name is primarily intended for creation idempotence and configuration\ndefinition.\nCannot be updated.\nMore info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names\n+optional"
          }
        },
        "validate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "validate"
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project"
          }
        },
        "metadata": {
          "target": "com.argocd.api#V1ObjectMeta"
        },
        "operation": {
          "target": "com.argocd.api#V1alpha1Operation"
        },
        "spec": {
          "target": "com.argocd.api#V1alpha1ApplicationSpec"
        },
        "status": {
          "target": "com.argocd.api#V1alpha1ApplicationStatus"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.argocd.api#ApplicationServiceUpdate": {
      "type": "operation",
      "input": {
        "target": "com.argocd.api#ApplicationServiceUpdateRequest"
      },
      "output": {
        "target": "com.argocd.api#V1alpha1Application"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/applications/{application_metadata_name}",
          "code": 200
        },
        "smithy.api#documentation": "Update updates an application"
      }
    },
    "com.argocd.api#ApplicationServiceManagedResourcesRequest": {
      "type": "structure",
      "members": {
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "namespace"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "version"
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "group"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "kind"
          }
        },
        "appNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "appNamespace"
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.argocd.api#ApplicationManagedResourcesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.argocd.api#ApplicationManagedResourcesResponseItemsList"
        }
      },
      "traits": {}
    },
    "com.argocd.api#ApplicationManagedResourcesResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.argocd.api#V1alpha1ResourceDiff"
      },
      "traits": {}
    },
    "com.argocd.api#ApplicationServiceManagedResources": {
      "type": "operation",
      "input": {
        "target": "com.argocd.api#ApplicationServiceManagedResourcesRequest"
      },
      "output": {
        "target": "com.argocd.api#ApplicationManagedResourcesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/applications/{applicationName}/managed-resources",
          "code": 200
        },
        "smithy.api#documentation": "ManagedResources returns list of managed resources"
      }
    },
    "com.argocd.api#ApplicationServiceResourceTreeRequest": {
      "type": "structure",
      "members": {
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "namespace"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "version"
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "group"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "kind"
          }
        },
        "appNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "appNamespace"
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.argocd.api#V1alpha1ApplicationTree": {
      "type": "structure",
      "members": {
        "hosts": {
          "target": "com.argocd.api#V1alpha1ApplicationTreeHostsList",
          "traits": {
            "smithy.api#documentation": "Hosts provides a list of Kubernetes nodes that are running pods related to the application."
          }
        },
        "nodes": {
          "target": "com.argocd.api#V1alpha1ApplicationTreeNodesList",
          "traits": {
            "smithy.api#documentation": "Nodes contains a list of resources that are either directly managed by the application\nor are children of directly managed resources."
          }
        },
        "orphanedNodes": {
          "target": "com.argocd.api#V1alpha1ApplicationTreeOrphanedNodesList",
          "traits": {
            "smithy.api#documentation": "OrphanedNodes contains resources that exist in the same namespace as the application\nbut are not managed by it. This list is populated only if orphaned resource tracking\nis enabled in the application's project settings."
          }
        },
        "shardsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ShardsCount represents the total number of shards the application tree is split into.\nThis is used to distribute resource processing across multiple shards."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApplicationTree represents the hierarchical structure of resources associated with an Argo CD application."
      }
    },
    "com.argocd.api#V1alpha1HostInfo": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.argocd.api#V1alpha1HostInfoLabelsMap",
          "traits": {
            "smithy.api#documentation": "Labels holds the labels attached to the host."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name is the hostname or node name in the Kubernetes cluster."
          }
        },
        "resourcesInfo": {
          "target": "com.argocd.api#V1alpha1HostInfoResourcesInfoList",
          "traits": {
            "smithy.api#documentation": "ResourcesInfo provides a list of resource usage details for different resource types on this host."
          }
        },
        "systemInfo": {
          "target": "com.argocd.api#V1NodeSystemInfo"
        }
      },
      "traits": {
        "smithy.api#documentation": "HostInfo holds metadata and resource usage metrics for a specific host in the cluster."
      }
    },
    "com.argocd.api#V1alpha1HostInfoLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels holds the labels attached to the host."
      }
    },
    "com.argocd.api#V1alpha1HostResourceInfo": {
      "type": "structure",
      "members": {
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Capacity represents the total available capacity of this resource on the host."
          }
        },
        "requestedByApp": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "RequestedByApp indicates the total amount of this resource requested by the application running on the host."
          }
        },
        "requestedByNeighbors": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "RequestedByNeighbors indicates the total amount of this resource requested by other workloads on the same host."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ResourceName specifies the type of resource (e.g., CPU, memory, storage)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HostResourceInfo represents resource usage details for a specific resource type on a host."
      }
    },
    "com.argocd.api#V1alpha1HostInfoResourcesInfoList": {
      "type": "list",
[...]
