{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.gusto.api#RevokeAccessTokenRequest": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your client id",
            "smithy.api#required": {}
          }
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your client secret",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The access token that will be revoked.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#RevokeAccessToken": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#RevokeAccessTokenRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/oauth/revoke",
          "code": 200
        },
        "smithy.api#documentation": "Revoke access token\n\nRevokes the given access token. After revoking, this token can no longer be used to make requests nor can it be refreshed."
      }
    },
    "com.gusto.api#OauthAccessTokenRequestBodyCase0GrantType": {
      "type": "enum",
      "members": {
        "REFRESH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh_token"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set system_access to create a system access token, refresh_token to refresh an existing token"
      }
    },
    "com.gusto.api#OauthAccessTokenRequestBodyCase0": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your client ID",
            "smithy.api#required": {}
          }
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your client secret",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "grant_type": {
          "target": "com.gusto.api#OauthAccessTokenRequestBodyCase0GrantType",
          "traits": {
            "smithy.api#documentation": "Set system_access to create a system access token, refresh_token to refresh an existing token",
            "smithy.api#required": {}
          }
        },
        "redirect_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The redirect URI you set up via the Developer Portal"
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#OauthAccessTokenRequestBodyCase1GrantType": {
      "type": "enum",
      "members": {
        "SYSTEM_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system_access"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set system_access to create a system access token, refresh_token to refresh an existing token"
      }
    },
    "com.gusto.api#OauthAccessTokenRequestBodyCase1": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your client ID",
            "smithy.api#required": {}
          }
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your client secret",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "grant_type": {
          "target": "com.gusto.api#OauthAccessTokenRequestBodyCase1GrantType",
          "traits": {
            "smithy.api#documentation": "Set system_access to create a system access token, refresh_token to refresh an existing token",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#OauthAccessTokenRequestBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.gusto.api#OauthAccessTokenRequestBodyCase0"
        },
        "Case1": {
          "target": "com.gusto.api#OauthAccessTokenRequestBodyCase1"
        }
      },
      "traits": {}
    },
    "com.gusto.api#OauthAccessTokenRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gusto.api#OauthAccessTokenRequestBody",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#Authentication": {
      "type": "union",
      "members": {
        "CreateTokenAuthentication": {
          "target": "com.gusto.api#CreateTokenAuthentication"
        },
        "RefreshTokenAuthentication": {
          "target": "com.gusto.api#RefreshTokenAuthentication"
        }
      },
      "traits": {}
    },
    "com.gusto.api#CreateTokenAuthentication": {
      "type": "structure",
      "members": {
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A new access token that can be used for subsequent authenticated requests",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Datetime for when the new access token is created.",
            "smithy.api#required": {}
          }
        },
        "expires_in": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The TTL of this token. After this amount of time, you must hit the refresh token endpoint to continue making authenticated requests.",
            "smithy.api#required": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that must be passed to the refresh token endpoint to get a new authenticated token. Only present when refresh token is provided.",
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "token_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The literal string 'Bearer'",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#RefreshTokenAuthentication": {
      "type": "structure",
      "members": {
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A new access token that can be used for subsequent authenticated requests",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Datetime for when the new access token is created.",
            "smithy.api#required": {}
          }
        },
        "expires_in": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The TTL of this token. After this amount of time, you must hit the refresh token endpoint to continue making authenticated requests.",
            "smithy.api#required": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that must be passed to the refresh token endpoint to get a new authenticated token. Only present when refresh token is provided.",
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "token_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The literal string 'Bearer'",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "All of the scopes for which the access token provides access."
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#OauthAccessTokenResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gusto.api#Authentication",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.gusto.api#OauthAccessToken": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#OauthAccessTokenRequest"
      },
      "output": {
        "target": "com.gusto.api#OauthAccessTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/oauth/token",
          "code": 200
        },
        "smithy.api#documentation": "Create a System Access Token or Refresh an Access Token\n\nCreates a system access token or refreshes an oauth access token"
      }
    },
    "com.gusto.api#SupportedBenefitList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#SupportedBenefit"
      },
      "traits": {}
    },
    "com.gusto.api#SupportedBenefit": {
      "type": "structure",
      "members": {
        "benefit_type": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The benefit type in Gusto."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category where the benefit belongs to."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the benefit."
          }
        },
        "healthcare": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the benefit is healthcare related."
          }
        },
        "imputed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the benefit is considered imputed income."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the benefit."
          }
        },
        "posttax": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the benefit is deducted after tax calculations."
          }
        },
        "pretax": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the benefit is deducted before tax calculations, thus reducing one’s taxable income"
          }
        },
        "retirement": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the benefit is associated with retirement planning."
          }
        },
        "writable_by_application": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this benefit can be written (created, updated, or destroyed). Returns true if the benefit type is permitted for the application, false otherwise."
          }
        },
        "yearly_limit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the benefit has a government mandated yearly limit. If the benefit has a government mandated yearly limit, employees cannot be added to more than one benefit of this type."
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#GetV1BenefitsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gusto.api#SupportedBenefitList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.gusto.api#GetV1Benefits": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.gusto.api#GetV1BenefitsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/benefits",
          "code": 200
        },
        "smithy.api#documentation": "Get all supported benefits\n\nReturns all benefits supported by Gusto. The benefit object in Gusto contains high level information about a particular benefit type and its tax considerations. When companies choose to offer a benefit, they are creating a Company Benefit object associated with a particular benefit.\n\nscope: `benefits:read`"
      }
    },
    "com.gusto.api#GetV1BenefitsBenefitIdRequest": {
      "type": "structure",
      "members": {
        "benefit_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The benefit type in Gusto."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#GetV1BenefitsBenefitId": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#GetV1BenefitsBenefitIdRequest"
      },
      "output": {
        "target": "com.gusto.api#SupportedBenefit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/benefits/{benefit_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a supported benefit\n\nReturns a benefit supported by Gusto. The benefit object in Gusto contains high level information about a particular benefit type and its tax considerations. When companies choose to offer a benefit, they are creating a Company Benefit object associated with a particular benefit.\n\nscope: `benefits:read`"
      }
    },
    "com.gusto.api#GetV1BenefitsBenefitsIdRequirementsRequest": {
      "type": "structure",
      "members": {
        "benefit_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The benefit type in Gusto."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#BenefitTypeRequirements": {
      "type": "structure",
      "members": {
        "catch_up": {
          "target": "com.gusto.api#BenefitTypeRequirementsCatchUp",
          "traits": {
            "smithy.api#documentation": "Whether the employee should use a benefit’s 'catch up' rate. Only Roth 401k and 401k benefits use this value for employees over 50."
          }
        },
        "company_contribution_annual_maximum": {
          "target": "com.gusto.api#BenefitTypeRequirementsCompanyContributionAnnualMaximum",
          "traits": {
            "smithy.api#documentation": "The maximum company contribution amount per year. A null value signifies no limit."
          }
        },
        "contribution": {
          "target": "com.gusto.api#BenefitTypeRequirementsContribution",
          "traits": {
            "smithy.api#documentation": "An object representing the type and value of the company contribution."
          }
        },
        "coverage_amount": {
          "target": "com.gusto.api#BenefitTypeRequirementsCoverageAmount",
          "traits": {
            "smithy.api#documentation": "The amount that the employee is insured for. Note: company contribution cannot be present if coverage amount is set."
          }
        },
        "coverage_salary_multiplier": {
          "target": "com.gusto.api#BenefitTypeRequirementsCoverageSalaryMultiplier",
          "traits": {
            "smithy.api#documentation": "The coverage amount as a multiple of the employee's salary. Only applicable for Group Term Life benefits. Note: cannot be set if coverage amount is also set."
          }
        },
        "deduct_as_percentage": {
          "target": "com.gusto.api#BenefitTypeRequirementsDeductAsPercentage",
          "traits": {
            "smithy.api#documentation": "Whether the employee deduction amount should be treated as a percentage to be deducted from each payroll."
          }
        },
        "employee_deduction": {
          "target": "com.gusto.api#BenefitTypeRequirementsEmployeeDeduction",
          "traits": {
            "smithy.api#documentation": "The amount to be deducted, per pay period, from the employee's pay."
          }
        },
        "limit_option": {
          "target": "com.gusto.api#BenefitTypeRequirementsLimitOption",
          "traits": {
            "smithy.api#documentation": "Some benefits require additional information to determine their limit. For example, for an HSA benefit, the limit option should be either 'Family' or 'Individual'. For a Dependent Care FSA benefit, the limit option should be either 'Joint Filing or Single' or 'Married and Filing Separately'."
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCatchUpChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCatchUpDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCatchUp": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsCatchUpChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsCatchUpDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the employee should use a benefit’s 'catch up' rate. Only Roth 401k and 401k benefits use this value for employees over 50."
      }
    },
    "com.gusto.api#BenefitTypeRequirementsCompanyContributionAnnualMaximumChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCompanyContributionAnnualMaximumDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCompanyContributionAnnualMaximum": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsCompanyContributionAnnualMaximumChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsCompanyContributionAnnualMaximumDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "The maximum company contribution amount per year. A null value signifies no limit."
      }
    },
    "com.gusto.api#BenefitTypeRequirementsContributionChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsContributionDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsContribution": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsContributionChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsContributionDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "An object representing the type and value of the company contribution."
      }
    },
    "com.gusto.api#BenefitTypeRequirementsCoverageAmountChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCoverageAmountDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCoverageAmount": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsCoverageAmountChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsCoverageAmountDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "The amount that the employee is insured for. Note: company contribution cannot be present if coverage amount is set."
      }
    },
    "com.gusto.api#BenefitTypeRequirementsCoverageSalaryMultiplierChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCoverageSalaryMultiplierDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsCoverageSalaryMultiplier": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsCoverageSalaryMultiplierChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsCoverageSalaryMultiplierDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "The coverage amount as a multiple of the employee's salary. Only applicable for Group Term Life benefits. Note: cannot be set if coverage amount is also set."
      }
    },
    "com.gusto.api#BenefitTypeRequirementsDeductAsPercentageChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsDeductAsPercentageDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsDeductAsPercentage": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsDeductAsPercentageChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsDeductAsPercentageDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the employee deduction amount should be treated as a percentage to be deducted from each payroll."
      }
    },
    "com.gusto.api#BenefitTypeRequirementsEmployeeDeductionChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsEmployeeDeductionDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsEmployeeDeduction": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsEmployeeDeductionChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsEmployeeDeductionDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "The amount to be deducted, per pay period, from the employee's pay."
      }
    },
    "com.gusto.api#BenefitTypeRequirementsLimitOptionChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsLimitOptionDefaultValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.gusto.api#BenefitTypeRequirementsLimitOption": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gusto.api#BenefitTypeRequirementsLimitOptionChoicesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.gusto.api#BenefitTypeRequirementsLimitOptionDefaultValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Some benefits require additional information to determine their limit. For example, for an HSA benefit, the limit option should be either 'Family' or 'Individual'. For a Dependent Care FSA benefit, the limit option should be either 'Joint Filing or Single' or 'Married and Filing Separately'."
      }
    },
    "com.gusto.api#GetV1BenefitsBenefitsIdRequirements": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#GetV1BenefitsBenefitsIdRequirementsRequest"
      },
      "output": {
        "target": "com.gusto.api#BenefitTypeRequirements"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/benefits/{benefit_id}/requirements",
          "code": 200
        },
        "smithy.api#documentation": "Get benefit fields requirements by benefit type\n\nReturns the field requirements for a given benefit type.\n\nscope: `benefits:read`"
      }
    },
    "com.gusto.api#GetV1CompaniesRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the company"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#Company": {
      "type": "structure",
      "members": {
        "company_status": {
          "target": "com.gusto.api#CompanyCompanyStatus",
          "traits": {
            "smithy.api#documentation": "The status of the company in Gusto. \"Approved\" companies are approved to run payroll from a risk and compliance perspective. However, an approved company may still need to resolve other [payroll blockers](https://docs.gusto.com/embedded-payroll/docs/payroll-blockers) to be able to run payroll. \"Not Approved\" companies may not yet run payroll with Gusto and may need to complete onboarding or contact support. \"Suspended\" companies may not run payroll with Gusto. In order to unsuspend their account, the company must contact support."
          }
        },
        "compensations": {
          "target": "com.gusto.api#CompanyCompensations",
          "traits": {
            "smithy.api#documentation": "The available company-wide compensation rates for the company."
          }
        },
        "contractor_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the company only supports contractors."
          }
        },
        "ein": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Federal Employer Identification Number of the company."
          }
        },
        "entity_type": {
          "target": "com.gusto.api#CompanyEntityType",
          "traits": {
            "smithy.api#documentation": "The tax payer type of the company.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "funding_type": {
          "target": "com.gusto.api#CompanyFundingType",
          "traits": {
            "smithy.api#documentation": "Company's default funding type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_high_risk_business": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not Gusto has identified the company as representing a high fraud risk."
          }
        },
        "is_marijuana_business": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the company is a marijuana-related business."
          }
        },
        "is_partner_managed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the company is fully managed by a partner via the API"
          }
        },
        "is_suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the company is suspended in Gusto. Suspended companies may not run payroll."
          }
        },
        "join_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Company's first invoiceable event date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "locations": {
          "target": "com.gusto.api#CompanyLocationsList",
          "traits": {
            "smithy.api#documentation": "The locations of the company."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the company."
          }
        },
        "pay_schedule_type": {
          "target": "com.gusto.api#CompanyPayScheduleType",
          "traits": {
            "smithy.api#documentation": "The pay schedule assignment type.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "primary_payroll_admin": {
          "target": "com.gusto.api#CompanyPrimaryPayrollAdmin",
          "traits": {
            "smithy.api#documentation": "The primary payroll admin of the company."
          }
        },
        "primary_signatory": {
          "target": "com.gusto.api#CompanyPrimarySignatory",
          "traits": {
            "smithy.api#documentation": "The primary signatory of the company.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the name of the company."
          }
        },
        "tier": {
          "target": "com.gusto.api#CompanyTier",
          "traits": {
            "smithy.api#documentation": "The Gusto product tier of the company (not applicable to Embedded partner managed companies).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "trade_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The trade name of the company.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier of the company in Gusto.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The representation of a company in Gusto."
      }
    },
    "com.gusto.api#CompanyCompanyStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "NOT_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Not Approved"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Suspended"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the company in Gusto. \"Approved\" companies are approved to run payroll from a risk and compliance perspective. However, an approved company may still need to resolve other [payroll blockers](https://docs.gusto.com/embedded-payroll/docs/payroll-blockers) to be able to run payroll. \"Not Approved\" companies may not yet run payroll with Gusto and may need to complete onboarding or contact support. \"Suspended\" companies may not run payroll with Gusto. In order to unsuspend their account, the company must contact support."
      }
    },
    "com.gusto.api#CompanyCompensationsFixedItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the fixed compensation."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UUID of the fixed compensation.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#CompanyCompensationsFixedList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#CompanyCompensationsFixedItem"
      },
      "traits": {
        "smithy.api#documentation": "The available fixed compensation rates for the company."
      }
    },
    "com.gusto.api#CompanyCompensationsHourlyItem": {
      "type": "structure",
      "members": {
        "multiple": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount multiplied by the base rate of a job to calculate compensation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the hourly compensation rate."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UUID of the hourly compensation rate.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#CompanyCompensationsHourlyList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#CompanyCompensationsHourlyItem"
      },
      "traits": {
        "smithy.api#documentation": "The available hourly compensation rates for the company."
      }
    },
    "com.gusto.api#CompanyCompensationsPaidTimeOffItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the paid time off type."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UUID of the paid time off type.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#CompanyCompensationsPaidTimeOffList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#CompanyCompensationsPaidTimeOffItem"
      },
      "traits": {
        "smithy.api#documentation": "The available types of paid time off for the company."
      }
    },
    "com.gusto.api#CompanyCompensations": {
      "type": "structure",
      "members": {
        "fixed": {
          "target": "com.gusto.api#CompanyCompensationsFixedList",
          "traits": {
            "smithy.api#documentation": "The available fixed compensation rates for the company."
          }
        },
        "hourly": {
          "target": "com.gusto.api#CompanyCompensationsHourlyList",
          "traits": {
            "smithy.api#documentation": "The available hourly compensation rates for the company."
          }
        },
        "paid_time_off": {
          "target": "com.gusto.api#CompanyCompensationsPaidTimeOffList",
          "traits": {
            "smithy.api#documentation": "The available types of paid time off for the company."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The available company-wide compensation rates for the company."
      }
    },
    "com.gusto.api#CompanyEntityType": {
      "type": "enum",
      "members": {
        "C_CORPORATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C-Corporation"
          }
        },
        "S_CORPORATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S-Corporation"
          }
        },
        "SOLE_PROPRIETOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sole proprietor"
          }
        },
        "LLC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LLC"
          }
        },
        "LLP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LLP"
          }
        },
        "LIMITED_PARTNERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Limited partnership"
          }
        },
        "CO_OWNERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Co-ownership"
          }
        },
        "ASSOCIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Association"
          }
        },
        "TRUSTEESHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Trusteeship"
          }
        },
        "GENERAL_PARTNERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "General partnership"
          }
        },
        "JOINT_VENTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Joint venture"
          }
        },
        "NON_PROFIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Non-Profit"
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#CompanyFundingType": {
      "type": "enum",
      "members": {
        "ACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ach"
          }
        },
        "REVERSE_WIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reverse_wire"
          }
        },
        "WIRE_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wire_in"
          }
        },
        "PARTNER_DISBURSEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partner_disbursement"
          }
        },
        "RTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtp"
          }
        },
        "LINE_OF_CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "line_of_credit"
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#CompanyAddress": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The status of the location. Inactive locations have been deleted, but may still have historical data associated with them."
          }
        },
        "city": {
          "target": "smithy.api#String"
        },
        "country": {
          "target": "smithy.api#String"
        },
        "inactive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The status of the location. Inactive locations have been deleted, but may still have historical data associated with them."
          }
        },
        "state": {
          "target": "smithy.api#String"
        },
        "street_1": {
          "target": "smithy.api#String"
        },
        "street_2": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "zip": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The representation of a company's address in Gusto."
      }
    },
    "com.gusto.api#CompanyLocationsList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#CompanyAddress"
      },
      "traits": {
        "smithy.api#documentation": "The locations of the company."
      }
    },
    "com.gusto.api#CompanyPayScheduleType": {
      "type": "enum",
      "members": {
        "SINGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "single"
          }
        },
        "HOURLY_SALARIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hourly_salaried"
          }
        },
        "BY_EMPLOYEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "by_employee"
          }
        },
        "BY_DEPARTMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "by_department"
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#CompanyPrimaryPayrollAdmin": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary payroll admin's email address."
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary payroll admin's first name."
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary payroll admin's last name."
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary payroll admin's phone number.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The primary payroll admin of the company."
      }
    },
    "com.gusto.api#CompanyPrimarySignatoryHomeAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String"
        },
        "country": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "smithy.api#String"
        },
        "street_1": {
          "target": "smithy.api#String"
        },
        "street_2": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "zip": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The company's primary signatory's home address."
      }
    },
    "com.gusto.api#CompanyPrimarySignatory": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary signatory's email address."
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary signatory's first name."
          }
        },
        "home_address": {
          "target": "com.gusto.api#CompanyPrimarySignatoryHomeAddress",
          "traits": {
            "smithy.api#documentation": "The company's primary signatory's home address."
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary signatory's last name."
          }
        },
        "middle_initial": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary signatory's middle initial.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company's primary signatory's phone number."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UUID of the company's primary signatory."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The primary signatory of the company."
      }
    },
    "com.gusto.api#CompanyTier": {
      "type": "enum",
      "members": {
        "SIMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "simple"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "premium"
          }
        },
        "CORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "core"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        },
        "CONCIERGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "concierge"
          }
        },
        "CONTRACTOR_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contractor_only"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Gusto product tier of the company (not applicable to Embedded partner managed companies)."
      }
    },
    "com.gusto.api#GetV1Companies": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#GetV1CompaniesRequest"
      },
      "output": {
        "target": "com.gusto.api#Company"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/companies/{company_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a company\n\nGet a company.\n\nThe employees:read scope is required to return home_address and non-work locations.\nThe company_admin:read scope is required to return primary_payroll_admin.\nThe signatories:read scope is required to return primary_signatory.\n\nscope: `companies:read`"
      }
    },
    "com.gusto.api#PutV1CompaniesRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the company"
          }
        },
        "contractor_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the company only supports contractors. Must be updated in order for the company to start supporting W-2 employees. Can only be updated from true to false. Note that updating this value will require additional onboarding steps to be completed in order for the company to support W-2 employees.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#PutV1Companies": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#PutV1CompaniesRequest"
      },
      "output": {
        "target": "com.gusto.api#Company"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        },
        {
          "target": "com.gusto.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/companies/{company_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a company\n\nUpdate a company.\n\nscope: `companies:write`"
      }
    },
    "com.gusto.api#GetV1CompaniesCompanyIdAdminsRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the company"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page that is requested. When unspecified, will load all objects unless endpoint forces pagination."
          }
        },
        "per": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per",
            "smithy.api#documentation": "Number of objects per page. For majority of endpoints will default to 25"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#Admin": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the admin for Gusto's system."
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first name of the admin."
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last name of the admin."
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone number of the admin.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique id of the admin.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The representation of an admin user in Gusto."
      }
    },
    "com.gusto.api#GetV1CompaniesCompanyIdAdminsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#Admin"
      },
      "traits": {}
    },
    "com.gusto.api#GetV1CompaniesCompanyIdAdminsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gusto.api#GetV1CompaniesCompanyIdAdminsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.gusto.api#GetV1CompaniesCompanyIdAdmins": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#GetV1CompaniesCompanyIdAdminsRequest"
      },
      "output": {
        "target": "com.gusto.api#GetV1CompaniesCompanyIdAdminsResponse"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/companies/{company_id}/admins",
          "code": 200
        },
        "smithy.api#documentation": "Get all the admins at a company\n\nReturns a list of all the admins at a company\n\nscope: `company_admin:read`"
      }
    },
    "com.gusto.api#GetV1CompaniesCompanyIdCompanyBenefitsRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the company"
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "active",
            "smithy.api#documentation": "Whether the benefit is currently active"
          }
        },
        "enrollment_count": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "enrollment_count",
            "smithy.api#documentation": "Whether to return employee enrollment count"
          }
        },
        "benefit_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "benefit_type",
            "smithy.api#documentation": "Filter by benefit type. Comma-separated list of benefit type IDs, i.e. `?benefit_type=5,105`"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#CompanyBenefit": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this benefit is active for employee participation. Company benefits may only be deactivated if no employees are actively participating."
          }
        },
        "benefit_type": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The type of the benefit to which the company benefit belongs."
          }
        },
        "catch_up_type": {
          "target": "com.gusto.api#CompanyBenefitCatchUpType",
          "traits": {
            "smithy.api#documentation": "The type of catch-up contribution for this benefit, as required by Section 603 of the SECURE 2.0 Act. Only applicable to pre-tax 401(k) and 403(b) benefits.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "company_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UUID of the company."
          }
        },
        "deletable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this company benefit can be deleted. Deletable will be set to true if the benefit has not been used in payroll, has no employee benefits associated, and the benefit is not owned by Gusto or a Partner"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the company benefit. For example, a company may offer multiple benefits with an ID of 1 (for Medical Insurance). The description would show something more specific like “Kaiser Permanente” or “Blue Cross/ Blue Shield”."
          }
        },
        "enrollment_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of employees enrolled in the benefit, only returned when enrollment_count query param is set to true."
          }
        },
        "partner_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The partner name of the partner that created the company benefit. For example, \"XYZ Corp\".",
            "com.distilled.openapi#nullable": {}
          }
        },
        "responsible_for_employee_w2": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the employer is subject to file W-2 forms for an employee on leave. Only applicable to third party sick pay benefits."
          }
        },
        "responsible_for_employer_taxes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the employer is subject to pay employer taxes when an employee is on leave. Only applicable to third party sick pay benefits."
          }
        },
        "source": {
          "target": "com.gusto.api#CompanyBenefitSource",
          "traits": {
            "smithy.api#documentation": "The source of the company benefit. This can be \"internal\", \"external\", or \"partnered\". Company benefits created via the API default to \"external\". Certain partners can create company benefits with a source of \"partnered\"."
          }
        },
        "supports_percentage_amounts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether employee deductions and company contributions can be set as percentages of payroll for an individual employee. This is determined by the type of benefit and is not configurable by the company."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UUID of the company benefit.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current version of the object. See the [versioning guide](https://docs.gusto.com/embedded-payroll/docs/idempotency) for information on how to use this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The representation of a company benefit."
      }
    },
    "com.gusto.api#CompanyBenefitCatchUpType": {
      "type": "enum",
      "members": {
        "ELECTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elective"
          }
        },
        "DEEMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deemed"
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#CompanyBenefitSource": {
      "type": "enum",
      "members": {
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "PARTNERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partnered"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source of the company benefit. This can be \"internal\", \"external\", or \"partnered\". Company benefits created via the API default to \"external\". Certain partners can create company benefits with a source of \"partnered\"."
      }
    },
    "com.gusto.api#GetV1CompaniesCompanyIdCompanyBenefitsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#CompanyBenefit"
      },
      "traits": {}
    },
    "com.gusto.api#GetV1CompaniesCompanyIdCompanyBenefitsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gusto.api#GetV1CompaniesCompanyIdCompanyBenefitsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.gusto.api#GetV1CompaniesCompanyIdCompanyBenefits": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#GetV1CompaniesCompanyIdCompanyBenefitsRequest"
      },
      "output": {
        "target": "com.gusto.api#GetV1CompaniesCompanyIdCompanyBenefitsResponse"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/companies/{company_id}/company_benefits",
          "code": 200
        },
        "smithy.api#documentation": "Get benefits for a company\n\nCompany benefits represent the benefits that a company is offering to employees. This ties together a particular supported benefit with the company-specific information for the offering of that benefit.\n\nNote that company benefits can be deactivated only when no employees are enrolled.\n\nBenefits containing PHI are only visible to applications with the `company_benefits:read:phi` scope.\n\nscope: `company_benefits:read`"
      }
    },
    "com.gusto.api#PostV1CompaniesCompanyIdCompanyBenefitsRequestCatchUpType": {
      "type": "enum",
      "members": {
        "ELECTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elective"
          }
        },
        "DEEMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deemed"
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#PostV1CompaniesCompanyIdCompanyBenefitsRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the company"
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this benefit is active for employee participation."
          }
        },
        "benefit_type": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the benefit to which the company benefit belongs."
          }
        },
        "catch_up_type": {
          "target": "com.gusto.api#PostV1CompaniesCompanyIdCompanyBenefitsRequestCatchUpType",
          "traits": {
            "smithy.api#documentation": "The type of catch-up contribution for this benefit, as required by Section 603 of the SECURE 2.0 Act. Only applicable to pre-tax 401(k) and 403(b) benefits.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the company benefit.For example, a company may offer multiple benefits with an ID of 1 (for Medical Insurance). The description would show something more specific like \"Kaiser Permanente\" or \"Blue Cross/ Blue Shield\".",
            "smithy.api#required": {}
          }
        },
        "responsible_for_employee_w2": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the employer is subject to file W-2 forms for an employee on leave. Only applicable to third party sick pay benefits."
          }
        },
        "responsible_for_employer_taxes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the employer is subject to pay employer taxes when an employee is on leave. Only applicable to third party sick pay benefits."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#PostV1CompaniesCompanyIdCompanyBenefits": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#PostV1CompaniesCompanyIdCompanyBenefitsRequest"
      },
      "output": {
        "target": "com.gusto.api#CompanyBenefit"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        },
        {
          "target": "com.gusto.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/companies/{company_id}/company_benefits",
          "code": 200
        },
        "smithy.api#documentation": "Create a company benefit\n\nCompany benefits represent the benefits that a company is offering to employees. This ties together a particular supported benefit with the company-specific information for the offering of that benefit.\n\nNote that company benefits can be deactivated only when no employees are enrolled.\n\nWhen the application has the `company_benefits:write:benefit_type_limited` data scope, the application can only create company benefits for benefit types that are permitted for the application.\n\nscope: `company_benefits:write`"
      }
    },
    "com.gusto.api#GetV1CompaniesCompanyIdContractorPaymentsRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the company"
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "start_date",
            "smithy.api#required": {},
            "smithy.api#documentation": "The time period for which to retrieve contractor payments"
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "end_date",
            "smithy.api#required": {},
            "smithy.api#documentation": "The time period for which to retrieve contractor payments. If left empty, defaults to today's date."
          }
        },
        "contractor_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "contractor_uuid",
            "smithy.api#documentation": "The UUID of the contractor. When specified, will load all payments for that contractor."
          }
        },
        "group_by_date": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "group_by_date",
            "smithy.api#documentation": "Display contractor payments results group by check date if set to true."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page that is requested. When unspecified, will load all objects unless endpoint forces pagination."
          }
        },
        "per": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per",
            "smithy.api#documentation": "Number of objects per page. For majority of endpoints will default to 25"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#ContractorPaymentSummary": {
      "type": "structure",
      "members": {
        "contractor_payments": {
          "target": "com.gusto.api#ContractorPaymentSummaryContractorPaymentsList",
          "traits": {
            "smithy.api#documentation": "The individual contractor payments, within a given time period, grouped by contractor."
          }
        },
        "total": {
          "target": "com.gusto.api#ContractorPaymentSummaryTotal",
          "traits": {
            "smithy.api#documentation": "The wage and reimbursement totals for all contractor payments within a given time period."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The representation of the summary of contractor payments for a given company in a given time period."
      }
    },
    "com.gusto.api#ContractorPayment": {
      "type": "structure",
      "members": {
        "bonus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The bonus amount in the payment."
          }
        },
        "contractor_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UUID of the contractor."
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The payment date."
          }
        },
        "hourly_rate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rate per hour worked for the payment."
          }
        },
        "hours": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of hours worked for the payment."
          }
        },
        "invoice_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional invoice number associated with this contractor payment. This will be visible to the contractor on their paystub. Maximum 25 characters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "may_cancel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determine if the contractor payment can be cancelled."
          }
        },
        "memo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional note or memo for this contractor payment. This will be visible to the contractor on their paystub.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "payment_method": {
          "target": "com.gusto.api#ContractorPaymentPaymentMethod",
          "traits": {
            "smithy.api#documentation": "The payment method."
          }
        },
        "reimbursement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reimbursement amount in the payment."
          }
        },
        "status": {
          "target": "com.gusto.api#ContractorPaymentStatus",
          "traits": {
            "smithy.api#documentation": "Contractor payment status"
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the contractor payment in Gusto.",
            "smithy.api#required": {}
          }
        },
        "wage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fixed wage of the payment, regardless of hours worked."
          }
        },
        "wage_total": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "(hours * hourly_rate) + wage + bonus"
          }
        },
        "wage_type": {
          "target": "com.gusto.api#ContractorPaymentWageType",
          "traits": {
            "smithy.api#documentation": "The wage type for the payment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The representation of a single contractor payment."
      }
    },
    "com.gusto.api#ContractorPaymentPaymentMethod": {
      "type": "enum",
      "members": {
        "DIRECT_DEPOSIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Direct Deposit"
          }
        },
        "CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Check"
          }
        },
        "HISTORICAL_PAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Historical Payment"
          }
        },
        "CORRECTION_PAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Correction Payment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payment method."
      }
    },
    "com.gusto.api#ContractorPaymentStatus": {
      "type": "enum",
      "members": {
        "FUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Funded"
          }
        },
        "UNFUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unfunded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contractor payment status"
      }
    },
    "com.gusto.api#ContractorPaymentWageType": {
      "type": "enum",
      "members": {
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hourly"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fixed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The wage type for the payment."
      }
    },
    "com.gusto.api#ContractorPaymentSummaryContractorPaymentsItemPaymentsList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#ContractorPayment"
      },
      "traits": {
        "smithy.api#documentation": "The contractor's payments within a given time period."
      }
    },
    "com.gusto.api#ContractorPaymentSummaryContractorPaymentsItem": {
      "type": "structure",
      "members": {
        "contractor_uuid": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The UUID of the contractor."
          }
        },
        "payments": {
          "target": "com.gusto.api#ContractorPaymentSummaryContractorPaymentsItemPaymentsList",
          "traits": {
            "smithy.api#documentation": "The contractor's payments within a given time period."
          }
        },
        "reimbursement_total": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total reimbursements for the contractor within a given time period."
          }
        },
        "wage_total": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total wages for the contractor within a given time period."
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#ContractorPaymentSummaryContractorPaymentsList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#ContractorPaymentSummaryContractorPaymentsItem"
      },
      "traits": {
        "smithy.api#documentation": "The individual contractor payments, within a given time period, grouped by contractor."
      }
    },
    "com.gusto.api#ContractorPaymentSummaryTotal": {
      "type": "structure",
      "members": {
        "reimbursements": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total reimbursements for contractor payments within a given time period."
          }
        },
        "wages": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total wages for contractor payments within a given time period."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The wage and reimbursement totals for all contractor payments within a given time period."
      }
    },
    "com.gusto.api#ContractorPaymentSummaryByDates": {
      "type": "structure",
      "members": {
        "contractor_payments": {
          "target": "com.gusto.api#ContractorPaymentSummaryByDatesContractorPaymentsList",
          "traits": {
            "smithy.api#documentation": "The individual contractor payments, within a given time period, grouped by check date."
          }
        },
        "total": {
          "target": "com.gusto.api#ContractorPaymentSummaryByDatesTotal",
          "traits": {
            "smithy.api#documentation": "The wage and reimbursement totals for all contractor payments within a given time period."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The representation of the summary of contractor payments for a given company in a given time period."
      }
    },
    "com.gusto.api#ContractorPaymentSummaryByDatesContractorPaymentsItemPaymentsList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#ContractorPayment"
      },
      "traits": {
        "smithy.api#documentation": "The contractor's payments within a given time period."
      }
    },
    "com.gusto.api#ContractorPaymentSummaryByDatesContractorPaymentsItem": {
      "type": "structure",
      "members": {
        "check_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The payment check date."
          }
        },
        "contractor_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UUID of the contractor."
          }
        },
        "payments": {
          "target": "com.gusto.api#ContractorPaymentSummaryByDatesContractorPaymentsItemPaymentsList",
          "traits": {
            "smithy.api#documentation": "The contractor's payments within a given time period."
          }
        },
        "reimbursement_total": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total reimbursements for the contractor within a given time period."
          }
        },
        "wage_total": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total wages for the contractor within a given time period."
          }
        }
      },
      "traits": {}
    },
    "com.gusto.api#ContractorPaymentSummaryByDatesContractorPaymentsList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#ContractorPaymentSummaryByDatesContractorPaymentsItem"
      },
      "traits": {
        "smithy.api#documentation": "The individual contractor payments, within a given time period, grouped by check date."
      }
    },
    "com.gusto.api#ContractorPaymentSummaryByDatesTotal": {
      "type": "structure",
      "members": {
        "reimbursements": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total reimbursements for contractor payments within a given time period."
          }
        },
        "wages": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total wages for contractor payments within a given time period."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The wage and reimbursement totals for all contractor payments within a given time period."
      }
    },
    "com.gusto.api#GetV1CompaniesCompanyIdContractorPaymentsResponseBody": {
      "type": "union",
      "members": {
        "ContractorPaymentSummary": {
          "target": "com.gusto.api#ContractorPaymentSummary"
        },
        "ContractorPaymentSummaryByDates": {
          "target": "com.gusto.api#ContractorPaymentSummaryByDates"
        }
      },
      "traits": {}
    },
    "com.gusto.api#GetV1CompaniesCompanyIdContractorPaymentsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gusto.api#GetV1CompaniesCompanyIdContractorPaymentsResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.gusto.api#GetV1CompaniesCompanyIdContractorPayments": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#GetV1CompaniesCompanyIdContractorPaymentsRequest"
      },
      "output": {
        "target": "com.gusto.api#GetV1CompaniesCompanyIdContractorPaymentsResponse"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/companies/{company_id}/contractor_payments",
          "code": 200
        },
        "smithy.api#documentation": "Get contractor payments for a company\n\nReturns an object containing individual contractor payments, within a given time period, including totals.\n\nResults are returned in reverse chronological order (newest first).\n\nscope: `payrolls:read`"
      }
    },
    "com.gusto.api#GetV1CompaniesCompanyIdContractorPaymentContractorPaymentRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the company"
          }
        },
        "contractor_payment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the contractor payment"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#GetV1CompaniesCompanyIdContractorPaymentContractorPayment": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#GetV1CompaniesCompanyIdContractorPaymentContractorPaymentRequest"
      },
      "output": {
        "target": "com.gusto.api#ContractorPayment"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/companies/{company_id}/contractor_payments/{contractor_payment_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a single contractor payment\n\nReturns a single contractor payment.\n\nscope: `payrolls:read`"
      }
    },
    "com.gusto.api#GetV1CompaniesCompanyIdCustomFieldsRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the company"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page that is requested. When unspecified, will load all objects unless endpoint forces pagination."
          }
        },
        "per": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per",
            "smithy.api#documentation": "Number of objects per page. For majority of endpoints will default to 25"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#CompanyCustomFieldList": {
      "type": "structure",
      "members": {
        "custom_fields": {
          "target": "com.gusto.api#CompanyCustomFieldListCustomFieldsList"
        }
      },
      "traits": {}
    },
    "com.gusto.api#CompanyCustomField": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the company custom field",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the company custom field",
            "smithy.api#required": {}
          }
        },
        "selection_options": {
          "target": "com.gusto.api#CompanyCustomFieldSelectionOptionsList",
          "traits": {
            "smithy.api#documentation": "An array of options for fields of type radio. Otherwise, null.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.gusto.api#CustomFieldType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the company custom field",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A custom field on a company"
      }
    },
    "com.gusto.api#CompanyCustomFieldSelectionOptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An array of options for fields of type radio. Otherwise, null."
      }
    },
    "com.gusto.api#CustomFieldType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "CURRENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "currency"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date"
          }
        },
        "RADIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "radio"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input type for the custom field."
      }
    },
    "com.gusto.api#CompanyCustomFieldListCustomFieldsList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#CompanyCustomField"
      },
      "traits": {}
    },
    "com.gusto.api#GetV1CompaniesCompanyIdCustomFields": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#GetV1CompaniesCompanyIdCustomFieldsRequest"
      },
      "output": {
        "target": "com.gusto.api#CompanyCustomFieldList"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/companies/{company_id}/custom_fields",
          "code": 200
        },
        "smithy.api#documentation": "Get the custom fields of a company\n\nReturns a list of the custom fields of the company. Useful when you need to know the schema of custom fields for an entire company.\n\nscope: `companies:read`"
      }
    },
    "com.gusto.api#PostV1DisconnectAppIntegrationRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the company"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#PostV1DisconnectAppIntegration": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#PostV1DisconnectAppIntegrationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/companies/{company_id}/disconnect_app_integration",
          "code": 200
        },
        "smithy.api#documentation": "Disconnect an app integration\n\nDisconnects the given company from the App Integration associated with the current system access token. If multiple users from that company are authorized with the App Integration, then their tokens will also be revoked.\n\n📘 System Access Authentication\n\nThis endpoint uses the [Bearer Auth scheme with the system-level access token in the HTTP Authorization header](https://docs.gusto.com/embedded-payroll/docs/system-access)\n\nscope: `companies:disconnect_app_integration`"
      }
    },
    "com.gusto.api#GetV1CompaniesCompanyIdEarningTypesRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the company"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#EarningTypeList": {
      "type": "structure",
      "members": {
        "custom": {
          "target": "com.gusto.api#EarningTypeListCustomList",
          "traits": {
            "smithy.api#documentation": "The custom earning types for the company."
          }
        },
        "default": {
          "target": "com.gusto.api#EarningTypeListDefaultList",
          "traits": {
            "smithy.api#documentation": "The default earning types for the company."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lists of default and custom earning types for a company."
      }
    },
    "com.gusto.api#EarningType": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the earning type is active."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the earning type."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the earning type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The representation of an earning type in Gusto."
      }
    },
    "com.gusto.api#EarningTypeListCustomList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#EarningType"
      },
      "traits": {
        "smithy.api#documentation": "The custom earning types for the company."
      }
    },
    "com.gusto.api#EarningTypeListDefaultList": {
      "type": "list",
      "member": {
        "target": "com.gusto.api#EarningType"
      },
      "traits": {
        "smithy.api#documentation": "The default earning types for the company."
      }
    },
    "com.gusto.api#GetV1CompaniesCompanyIdEarningTypes": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#GetV1CompaniesCompanyIdEarningTypesRequest"
      },
      "output": {
        "target": "com.gusto.api#EarningTypeList"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/companies/{company_id}/earning_types",
          "code": 200
        },
        "smithy.api#documentation": "Get all earning types for a company\n\nA payroll item in Gusto is associated to an earning type to name the type of earning described by the payroll item.\n\n#### Default Earning Type\nCertain earning types are special because they have tax considerations. Those earning types are mostly the same for every company depending on its legal structure (LLC, Corporation, etc.)\n\n#### Custom Earning Type\nCustom earning types are all the other earning types added specifically for a company.\n\nscope: `payrolls:read`"
      }
    },
    "com.gusto.api#PostV1CompaniesCompanyIdEarningTypesRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the company"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the custom earning type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#PostV1CompaniesCompanyIdEarningTypes": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#PostV1CompaniesCompanyIdEarningTypesRequest"
      },
      "output": {
        "target": "com.gusto.api#EarningType"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        },
        {
          "target": "com.gusto.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/companies/{company_id}/earning_types",
          "code": 200
        },
        "smithy.api#documentation": "Create a custom earning type\n\nCreate a custom earning type.\n\nIf an inactive earning type exists with the same name, this will reactivate it instead of creating a new one.\n\nscope: `payrolls:write`"
      }
    },
    "com.gusto.api#PutV1CompaniesCompanyIdEarningTypesEarningTypeUuidRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the company"
          }
        },
        "earning_type_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the earning type"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the custom earning type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.gusto.api#PutV1CompaniesCompanyIdEarningTypesEarningTypeUuid": {
      "type": "operation",
      "input": {
        "target": "com.gusto.api#PutV1CompaniesCompanyIdEarningTypesEarningTypeUuidRequest"
      },
      "output": {
        "target": "com.gusto.api#EarningType"
      },
      "errors": [
        {
          "target": "com.gusto.api#NotFound"
        },
        {
          "target": "com.gusto.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/companies/{company_id}/earning_types/{earning_type_uuid}",
          "code": 200
        },
        "smithy.api#documentation": "Update an earning type\n\nUpdate an earning type.\n\nscope: `payrolls:write`"
      }
    },
[...]
