{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.meilisearch.api#GetBatchesRequestBatchUidsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.meilisearch.api#GetBatchesRequestUidsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.meilisearch.api#GetBatchesRequestCanceledByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.meilisearch.api#GetBatchesRequestTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.meilisearch.api#Status": {
      "type": "enum",
      "members": {
        "ENQUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enqueued"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a task."
      }
    },
    "com.meilisearch.api#GetBatchesRequestStatusesList": {
      "type": "list",
      "member": {
        "target": "com.meilisearch.api#Status"
      },
      "traits": {}
    },
    "com.meilisearch.api#GetBatchesRequestIndexUidsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.meilisearch.api#GetBatchesRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of batches to return."
          }
        },
        "from": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "from",
            "smithy.api#documentation": "`uid` of the first batch returned."
          }
        },
        "reverse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "reverse",
            "smithy.api#documentation": "If `true`, returns results in the reverse order, from oldest to most recent."
          }
        },
        "batchUids": {
          "target": "com.meilisearch.api#GetBatchesRequestBatchUidsList",
          "traits": {
            "smithy.api#httpQuery": "batchUids",
            "smithy.api#documentation": "Permits to filter tasks by their batch uid. By default, when the\n`batchUids` query parameter is not set, all task uids are returned.\nIt's possible to specify several batch uids by separating them with\nthe `,` character."
          }
        },
        "uids": {
          "target": "com.meilisearch.api#GetBatchesRequestUidsList",
          "traits": {
            "smithy.api#httpQuery": "uids",
            "smithy.api#documentation": "Permits to filter tasks by their uid. By default, when the uids query\nparameter is not set, all task uids are returned. It's possible to\nspecify several uids by separating them with the `,` character."
          }
        },
        "canceledBy": {
          "target": "com.meilisearch.api#GetBatchesRequestCanceledByList",
          "traits": {
            "smithy.api#httpQuery": "canceledBy",
            "smithy.api#documentation": "Permits to filter tasks using the uid of the task that canceled them.\nIt's possible to specify several task uids by separating them with\nthe `,` character."
          }
        },
        "types": {
          "target": "com.meilisearch.api#GetBatchesRequestTypesList",
          "traits": {
            "smithy.api#httpQuery": "types",
            "smithy.api#documentation": "Permits to filter tasks by their related type. By default, when `types`\nquery parameter is not set, all task types are returned. It's possible\nto specify several types by separating them with the `,` character."
          }
        },
        "statuses": {
          "target": "com.meilisearch.api#GetBatchesRequestStatusesList",
          "traits": {
            "smithy.api#httpQuery": "statuses",
            "smithy.api#documentation": "Permits to filter tasks by their status. By default, when `statuses`\nquery parameter is not set, all task statuses are returned. It's\npossible to specify several statuses by separating them with the `,`\ncharacter."
          }
        },
        "indexUids": {
          "target": "com.meilisearch.api#GetBatchesRequestIndexUidsList",
          "traits": {
            "smithy.api#httpQuery": "indexUids",
            "smithy.api#documentation": "Permits to filter tasks by their related index. By default, when\n`indexUids` query parameter is not set, the tasks of all the indexes\nare returned. It is possible to specify several indexes by separating\nthem with the `,` character."
          }
        },
        "afterEnqueuedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "afterEnqueuedAt",
            "smithy.api#documentation": "Permits to filter tasks based on their enqueuedAt time. Matches tasks\nenqueued after the given date. Supports RFC 3339 date format."
          }
        },
        "beforeEnqueuedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "beforeEnqueuedAt",
            "smithy.api#documentation": "Permits to filter tasks based on their enqueuedAt time. Matches tasks\nenqueued before the given date. Supports RFC 3339 date format."
          }
        },
        "afterStartedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "afterStartedAt",
            "smithy.api#documentation": "Permits to filter tasks based on their startedAt time. Matches tasks\nstarted after the given date. Supports RFC 3339 date format."
          }
        },
        "beforeStartedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "beforeStartedAt",
            "smithy.api#documentation": "Permits to filter tasks based on their startedAt time. Matches tasks\nstarted before the given date. Supports RFC 3339 date format."
          }
        },
        "afterFinishedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "afterFinishedAt",
            "smithy.api#documentation": "Permits to filter tasks based on their finishedAt time. Matches tasks\nfinished after the given date. Supports RFC 3339 date format."
          }
        },
        "beforeFinishedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "beforeFinishedAt",
            "smithy.api#documentation": "Permits to filter tasks based on their finishedAt time. Matches tasks\nfinished before the given date. Supports RFC 3339 date format."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.meilisearch.api#AllBatches": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.meilisearch.api#AllBatchesResultsList",
          "traits": {
            "smithy.api#documentation": "Array of batch objects",
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of batches",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of batches returned",
            "smithy.api#required": {}
          }
        },
        "from": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The first batch uid returned",
            "com.distilled.openapi#nullable": {}
          }
        },
        "next": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Value to send in from to fetch the next slice of results",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing a paginated list of batches"
      }
    },
    "com.meilisearch.api#BatchView": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unique sequential identifier assigned to this batch. Batch UIDs\nare assigned in order of creation and can be used to retrieve specific\nbatch information or correlate tasks that were processed together.",
            "smithy.api#required": {}
          }
        },
        "progress": {
          "target": "com.meilisearch.api#ProgressView",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "details": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Aggregated details from all tasks in this batch. For example, if the\nbatch contains multiple document addition tasks, this will show the\ntotal number of documents received and indexed across all tasks.",
            "smithy.api#required": {}
          }
        },
        "stats": {
          "target": "com.meilisearch.api#BatchStatsView",
          "traits": {
            "smithy.api#documentation": "Statistical information about the batch, including the number of tasks\nby status, the types of tasks included, and the indexes affected.\nUseful for understanding the composition and outcome of the batch.",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total time spent processing this batch, formatted as an ISO-8601\nduration (e.g., `PT2.5S` for 2.5 seconds). This is `null` for batches\nthat haven't finished processing yet.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "startedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when Meilisearch began processing this batch, formatted\nas an RFC 3339 date-time string. All batches have a start time as it's\nset when processing begins."
          }
        },
        "finishedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when this batch finished processing, formatted as an\nRFC 3339 date-time string. This is `null` for batches that are still\nbeing processed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "batchStrategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explains why the batch was finalized and stopped accepting more tasks.\nCommon reasons include reaching the maximum batch size, encountering\nincompatible tasks, or processing being explicitly triggered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a batch of tasks that were processed together."
      }
    },
    "com.meilisearch.api#ProgressView": {
      "type": "structure",
      "members": {
        "steps": {
          "target": "com.meilisearch.api#ProgressViewStepsList",
          "traits": {
            "smithy.api#documentation": "A hierarchical list of processing steps currently being executed.\nSteps are listed from outermost to innermost, with each step\nrepresenting a more granular operation within its parent step.",
            "smithy.api#required": {}
          }
        },
        "percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The overall completion percentage of the operation (0.0 to 100.0).\nThis is calculated by combining the progress of all nested steps,\nweighted by their relative importance.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Real-time progress information for a batch or task that is currently\nbeing processed. Use this to display progress bars or status updates to\nusers."
      }
    },
    "com.meilisearch.api#ProgressStepView": {
      "type": "structure",
      "members": {
        "currentStep": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable name describing what this processing step is doing.\nExamples include \"indexing documents\", \"computing embeddings\",\n\"building word cache\", etc.",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of items that have been processed so far in this step.\nCompare with `total` to calculate the percentage complete for this\nspecific step.",
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of items to process in this step. When `finished`\nequals `total`, this step is complete and processing moves to the\nnext step.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a single processing step within a batch or task. Each\nstep has a name, current progress, and total items to process."
      }
    },
    "com.meilisearch.api#ProgressViewStepsList": {
      "type": "list",
      "member": {
        "target": "com.meilisearch.api#ProgressStepView"
      },
      "traits": {
        "smithy.api#documentation": "A hierarchical list of processing steps currently being executed.\nSteps are listed from outermost to innermost, with each step\nrepresenting a more granular operation within its parent step."
      }
    },
    "com.meilisearch.api#BatchStatsView": {
      "type": "structure",
      "members": {
        "totalNbTasks": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of tasks in the batch",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.meilisearch.api#BatchStatsViewStatusMap",
          "traits": {
            "smithy.api#documentation": "Count of tasks by status",
            "smithy.api#required": {}
          }
        },
        "types": {
          "target": "com.meilisearch.api#BatchStatsViewTypesMap",
          "traits": {
            "smithy.api#documentation": "Count of tasks by type",
            "smithy.api#required": {}
          }
        },
        "indexUids": {
          "target": "com.meilisearch.api#BatchStatsViewIndexUidsMap",
          "traits": {
            "smithy.api#documentation": "Count of tasks by index UID",
            "smithy.api#required": {}
          }
        },
        "progressTrace": {
          "target": "com.meilisearch.api#BatchStatsViewProgressTraceMap",
          "traits": {
            "smithy.api#documentation": "Detailed progress trace information"
          }
        },
        "writeChannelCongestion": {
          "target": "com.meilisearch.api#BatchStatsViewWriteChannelCongestionMap",
          "traits": {
            "smithy.api#documentation": "Write channel congestion metrics",
            "com.distilled.openapi#nullable": {}
          }
        },
        "internalDatabaseSizes": {
          "target": "com.meilisearch.api#BatchStatsViewInternalDatabaseSizesMap",
          "traits": {
            "smithy.api#documentation": "Internal database size information"
          }
        },
        "embedderRequests": {
          "target": "com.meilisearch.api#EmbedderStatsView",
          "traits": {
            "smithy.api#documentation": "Statistics about AI embedder API requests made during batch processing.\nIncludes total requests, successful/failed counts, and response times.\nOnly present when the batch involved vector embedding operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides comprehensive statistics about a batch's execution.\n\nIncludes task counts, status breakdowns, and AI embedder usage. This\ninformation is useful for monitoring system performance and understanding\nbatch composition."
      }
    },
    "com.meilisearch.api#BatchStatsViewStatusMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Count of tasks by status"
      }
    },
    "com.meilisearch.api#BatchStatsViewTypesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Count of tasks by type"
      }
    },
    "com.meilisearch.api#BatchStatsViewIndexUidsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Count of tasks by index UID"
      }
    },
    "com.meilisearch.api#BatchStatsViewProgressTraceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Detailed progress trace information"
      }
    },
    "com.meilisearch.api#BatchStatsViewWriteChannelCongestionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Write channel congestion metrics"
      }
    },
    "com.meilisearch.api#BatchStatsViewInternalDatabaseSizesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Internal database size information"
      }
    },
    "com.meilisearch.api#EmbedderStatsView": {
      "type": "structure",
      "members": {
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of embedder requests",
            "smithy.api#required": {}
          }
        },
        "failed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of failed embedder requests",
            "smithy.api#required": {}
          }
        },
        "lastError": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last error message from the embedder",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistics for embedder requests"
      }
    },
    "com.meilisearch.api#AllBatchesResultsList": {
      "type": "list",
      "member": {
        "target": "com.meilisearch.api#BatchView"
      },
      "traits": {
        "smithy.api#documentation": "Array of batch objects"
      }
    },
    "com.meilisearch.api#GetBatches": {
      "type": "operation",
      "input": {
        "target": "com.meilisearch.api#GetBatchesRequest"
      },
      "output": {
        "target": "com.meilisearch.api#AllBatches"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/batches",
          "code": 200
        },
        "smithy.api#documentation": "List batches\n\nMeilisearch groups compatible tasks ([asynchronous operations](https://www.meilisearch.com/docs/learn/async/asynchronous_operations)) into batches for efficient processing.\n\nFor example, multiple document additions to the same index may be batched together. List batches to monitor their progress and performance.\n\nBatches are always returned in descending order of uid. This means that by default, the most recently created batch objects appear first. Batch results are paginated and can be filtered with query parameters."
      }
    },
    "com.meilisearch.api#GetBatchesStream": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/batches/stream",
          "code": 200
        },
        "smithy.api#documentation": "Stream batches changes\n\nThe `/batches/stream` route returns information about [asynchronous operations](https://docs.meilisearch.com/learn/advanced/asynchronous_operations.html) (indexing, document updates, settings changes, and so on).\n\nBatches are sent throught an SSE stream any time their progress or status changes, i.e., enqueued, processing, succeeded, failed."
      }
    },
    "com.meilisearch.api#GetBatchRequest": {
      "type": "structure",
      "members": {
        "batch_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique batch identifier."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.meilisearch.api#GetBatch": {
      "type": "operation",
      "input": {
        "target": "com.meilisearch.api#GetBatchRequest"
      },
      "output": {
        "target": "com.meilisearch.api#BatchView"
      },
      "errors": [
        {
          "target": "com.meilisearch.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/batches/{batch_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get batch\n\nMeilisearch groups compatible tasks ([asynchronous operations](https://www.meilisearch.com/docs/learn/async/asynchronous_operations)) into batches for efficient processing.\n\nFor example, multiple document additions to the same index may be batched together. Retrieve a single batch by its unique identifier to monitor its progress and performance."
      }
    },
    "com.meilisearch.api#ListWorkspaces": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/chats",
          "code": 200
        },
        "smithy.api#documentation": "List chat workspaces\n\nList all chat workspaces registered on the instance, with pagination.\n\nThis route is only available when the `chatCompletions` [experimental feature](https://www.meilisearch.com/docs/resources/help/experimental_features_overview) is enabled."
      }
    },
    "com.meilisearch.api#GetChatRequest": {
      "type": "structure",
      "members": {
        "workspace_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the chat workspace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.meilisearch.api#GetChat": {
      "type": "operation",
      "input": {
        "target": "com.meilisearch.api#GetChatRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.meilisearch.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/chats/{workspace_uid}",
          "code": 200
        },
        "smithy.api#documentation": "Get a chat workspace\n\nGet the details of a chat workspace by its unique identifier.\n\nThis route is only available when the `chatCompletions` [experimental feature](https://www.meilisearch.com/docs/resources/help/experimental_features_overview) is enabled."
      }
    },
    "com.meilisearch.api#DeleteChatRequest": {
      "type": "structure",
      "members": {
        "workspace_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the chat workspace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.meilisearch.api#DeleteChat": {
      "type": "operation",
      "input": {
        "target": "com.meilisearch.api#DeleteChatRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.meilisearch.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/chats/{workspace_uid}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a chat workspace\n\nDelete a chat workspace and its settings by its unique identifier.\n\nThis route is only available when the `chatCompletions` [experimental feature](https://www.meilisearch.com/docs/resources/help/experimental_features_overview) is enabled."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestMessage": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.meilisearch.api#ChatCompletionRequestMessageCase0"
        },
        "Case1": {
          "target": "com.meilisearch.api#ChatCompletionRequestMessageCase1"
        },
        "Case2": {
          "target": "com.meilisearch.api#ChatCompletionRequestMessageCase2"
        },
        "Case3": {
          "target": "com.meilisearch.api#ChatCompletionRequestMessageCase3"
        },
        "Case4": {
          "target": "com.meilisearch.api#ChatCompletionRequestMessageCase4"
        },
        "Case5": {
          "target": "com.meilisearch.api#ChatCompletionRequestMessageCase5"
        }
      },
      "traits": {
        "smithy.api#documentation": "A message in the chat completion conversation. Tagged by `role` (system, user, assistant, tool, developer, or function)."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestDeveloperMessageContent": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.meilisearch.api#ChatCompletionRequestDeveloperMessageContentCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "The contents of a developer message: either a text string or an array of text content parts."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestMessageContentPartText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A text content part of a message."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestDeveloperMessageContentCase1List": {
      "type": "list",
      "member": {
        "target": "com.meilisearch.api#ChatCompletionRequestMessageContentPartText"
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestMessageCase0Role": {
      "type": "enum",
      "members": {
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "developer"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestMessageCase0": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.meilisearch.api#ChatCompletionRequestDeveloperMessageContent",
          "traits": {
            "smithy.api#documentation": "The contents of the developer message.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional name for the participant. Provides the model information to differentiate between participants of the same role.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.meilisearch.api#ChatCompletionRequestMessageCase0Role",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestSystemMessageContent": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.meilisearch.api#ChatCompletionRequestSystemMessageContentCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "The contents of a system message: either a text string or an array of text content parts."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestSystemMessageContentPartType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestSystemMessageContentPart": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.meilisearch.api#ChatCompletionRequestSystemMessageContentPartType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestSystemMessageContentCase1List": {
      "type": "list",
      "member": {
        "target": "com.meilisearch.api#ChatCompletionRequestSystemMessageContentPart"
      },
      "traits": {
        "smithy.api#documentation": "An array of content parts with a defined type. For system messages, only type `text` is supported."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestMessageCase1Role": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestMessageCase1": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.meilisearch.api#ChatCompletionRequestSystemMessageContent",
          "traits": {
            "smithy.api#documentation": "The contents of the system message.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional name for the participant. Provides the model information to differentiate between participants of the same role.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.meilisearch.api#ChatCompletionRequestMessageCase1Role",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestUserMessageContent": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.meilisearch.api#ChatCompletionRequestUserMessageContentCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "The contents of a user message: either a text string or an array of content parts (text, image, or audio)."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestUserMessageContentPart": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.meilisearch.api#ChatCompletionRequestUserMessageContentPartCase0"
        },
        "Case1": {
          "target": "com.meilisearch.api#ChatCompletionRequestUserMessageContentPartCase1"
        },
        "Case2": {
          "target": "com.meilisearch.api#ChatCompletionRequestUserMessageContentPartCase2"
        }
      },
      "traits": {
        "smithy.api#documentation": "A content part in a user message (text, image, or audio)."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestUserMessageContentPartCase0Type": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestUserMessageContentPartCase0": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.meilisearch.api#ChatCompletionRequestUserMessageContentPartCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ImageUrl": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Either a URL of the image or the base64 encoded image data.",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "com.meilisearch.api#ImageDetail",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An image URL with optional detail level."
      }
    },
    "com.meilisearch.api#ImageDetail": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the detail level of the image."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestUserMessageContentPartCase1Type": {
      "type": "enum",
      "members": {
        "IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_url"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestUserMessageContentPartCase1": {
      "type": "structure",
      "members": {
        "image_url": {
          "target": "com.meilisearch.api#ImageUrl",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.meilisearch.api#ChatCompletionRequestUserMessageContentPartCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#InputAudio": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64 encoded audio data.",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.meilisearch.api#InputAudioFormat",
          "traits": {
            "smithy.api#documentation": "The format of the encoded audio data. Currently supports \"wav\" and \"mp3\".",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input audio data for an audio content part."
      }
    },
    "com.meilisearch.api#InputAudioFormat": {
      "type": "enum",
      "members": {
        "WAV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wav"
          }
        },
        "MP3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mp3"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The format of the encoded audio data."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestUserMessageContentPartCase2Type": {
      "type": "enum",
      "members": {
        "INPUT_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "input_audio"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestUserMessageContentPartCase2": {
      "type": "structure",
      "members": {
        "input_audio": {
          "target": "com.meilisearch.api#InputAudio",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.meilisearch.api#ChatCompletionRequestUserMessageContentPartCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestUserMessageContentCase1List": {
      "type": "list",
      "member": {
        "target": "com.meilisearch.api#ChatCompletionRequestUserMessageContentPart"
      },
      "traits": {
        "smithy.api#documentation": "An array of content parts with a defined type. Supported options differ based on the [model](https://platform.openai.com/docs/models) being used to generate the response. Can contain text, image, or audio inputs."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestMessageCase2Role": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestMessageCase2": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.meilisearch.api#ChatCompletionRequestUserMessageContent",
          "traits": {
            "smithy.api#documentation": "The contents of the user message.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional name for the participant. Provides the model information to differentiate between participants of the same role.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.meilisearch.api#ChatCompletionRequestMessageCase2Role",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestAssistantMessageContent": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.meilisearch.api#ChatCompletionRequestAssistantMessageContentCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "The contents of an assistant message: either a text string or an array of content parts (text or refusal)."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestAssistantMessageContentPart": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.meilisearch.api#ChatCompletionRequestAssistantMessageContentPartCase0"
        },
        "Case1": {
          "target": "com.meilisearch.api#ChatCompletionRequestAssistantMessageContentPartCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "A content part in an assistant message (text or refusal)."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestAssistantMessageContentPartCase0Type": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestAssistantMessageContentPartCase0": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.meilisearch.api#ChatCompletionRequestAssistantMessageContentPartCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestAssistantMessageContentPartCase1Type": {
      "type": "enum",
      "members": {
        "REFUSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refusal"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestAssistantMessageContentPartCase1": {
      "type": "structure",
      "members": {
        "refusal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The refusal message generated by the model.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.meilisearch.api#ChatCompletionRequestAssistantMessageContentPartCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestAssistantMessageContentCase1List": {
      "type": "list",
      "member": {
        "target": "com.meilisearch.api#ChatCompletionRequestAssistantMessageContentPart"
      },
      "traits": {
        "smithy.api#documentation": "An array of content parts with a defined type. Can be one or more of type `text`, or exactly one of type `refusal`."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestAssistantMessageAudio": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a previous audio response from the model.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data about a previous audio response from the model, used in multi-turn conversations."
      }
    },
    "com.meilisearch.api#ChatCompletionMessageToolCall": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the tool call.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.meilisearch.api#ChatCompletionToolType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "function": {
          "target": "com.meilisearch.api#FunctionCall",
          "traits": {
            "smithy.api#documentation": "The function that the model called.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tool call generated by the model."
      }
    },
    "com.meilisearch.api#ChatCompletionToolType": {
      "type": "enum",
      "members": {
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of a tool. Currently, only `function` is supported."
      }
    },
    "com.meilisearch.api#FunctionCall": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to call.",
            "smithy.api#required": {}
          }
        },
        "arguments": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The name and arguments of a function that should be called, as generated by the model."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestMessageCase3ToolCallsList": {
      "type": "list",
      "member": {
        "target": "com.meilisearch.api#ChatCompletionMessageToolCall"
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestMessageCase3Role": {
      "type": "enum",
      "members": {
        "ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistant"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestMessageCase3": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.meilisearch.api#ChatCompletionRequestAssistantMessageContent",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "refusal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The refusal message by the assistant.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional name for the participant. Provides the model information to differentiate between participants of the same role.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "audio": {
          "target": "com.meilisearch.api#ChatCompletionRequestAssistantMessageAudio",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tool_calls": {
          "target": "com.meilisearch.api#ChatCompletionRequestMessageCase3ToolCallsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "function_call": {
          "target": "com.meilisearch.api#FunctionCall",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.meilisearch.api#ChatCompletionRequestMessageCase3Role",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestToolMessageContent": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.meilisearch.api#ChatCompletionRequestToolMessageContentCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "The contents of a tool message: either a text string or an array of text content parts."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestToolMessageContentPartType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestToolMessageContentPart": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.meilisearch.api#ChatCompletionRequestToolMessageContentPartType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestToolMessageContentCase1List": {
      "type": "list",
      "member": {
        "target": "com.meilisearch.api#ChatCompletionRequestToolMessageContentPart"
      },
      "traits": {
        "smithy.api#documentation": "An array of content parts with a defined type. For tool messages, only type `text` is supported."
      }
    },
    "com.meilisearch.api#ChatCompletionRequestMessageCase4Role": {
      "type": "enum",
      "members": {
        "TOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestMessageCase4": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.meilisearch.api#ChatCompletionRequestToolMessageContent",
          "traits": {
            "smithy.api#documentation": "The contents of the tool message.",
            "smithy.api#required": {}
          }
        },
        "tool_call_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.meilisearch.api#ChatCompletionRequestMessageCase4Role",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestMessageCase5Role": {
      "type": "enum",
      "members": {
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionRequestMessageCase5": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The return value from the function call, to return to the model.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to call.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.meilisearch.api#ChatCompletionRequestMessageCase5Role",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatRequestMessagesList": {
      "type": "list",
      "member": {
        "target": "com.meilisearch.api#ChatCompletionRequestMessage"
      },
      "traits": {
        "smithy.api#documentation": "A list of messages comprising the conversation so far. Depending on the [model](https://platform.openai.com/docs/models) you use, different message types (modalities) are supported, like [text](https://platform.openai.com/docs/guides/text-generation), [images](https://platform.openai.com/docs/guides/vision), and [audio](https://platform.openai.com/docs/guides/audio)."
      }
    },
    "com.meilisearch.api#ReasoningEffort": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Constrains effort on reasoning for reasoning models. Supported values are `low`, `medium`, and `high`."
      }
    },
    "com.meilisearch.api#ChatRequestLogitBiasMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Modify the likelihood of specified tokens appearing in the completion.\n\nAccepts a json object that maps tokens (specified by their token ID in the tokenizer) to an associated bias value from -100 to 100.\nMathematically, the bias is added to the logits generated by the model prior to sampling.\nThe exact effect will vary per model, but values between -1 and 1 should decrease or increase likelihood of selection;\nvalues like -100 or 100 should result in a ban or exclusive selection of the relevant token."
      }
    },
    "com.meilisearch.api#ChatCompletionModalities": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output types that you would like the model to generate for this request.\n\nMost models are capable of generating text, which is the default: `[\"text\"]`\n\nThe `gpt-4o-audio-preview` model can also be used to [generate\naudio](https://platform.openai.com/docs/guides/audio). To request that this model generate both text and audio responses, you can use: `[\"text\", \"audio\"]`"
      }
    },
    "com.meilisearch.api#ChatRequestModalitiesList": {
      "type": "list",
      "member": {
        "target": "com.meilisearch.api#ChatCompletionModalities"
      },
      "traits": {
        "smithy.api#documentation": "Output types that you would like the model to generate for this request. Most models are capable of generating text, which is the default: `[\"text\"]`."
      }
    },
    "com.meilisearch.api#PredictionContentContent": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.meilisearch.api#PredictionContentContentCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "The content that should be matched when generating a model response. If generated tokens would match this content, the entire model response can be returned much more quickly."
      }
    },
    "com.meilisearch.api#PredictionContentContentCase1List": {
      "type": "list",
      "member": {
        "target": "com.meilisearch.api#ChatCompletionRequestMessageContentPartText"
      },
      "traits": {
        "smithy.api#documentation": "An array of content parts with a defined type. Supported options differ based on the [model](https://platform.openai.com/docs/models) being used to generate the response. Can contain text inputs."
      }
    },
    "com.meilisearch.api#PredictionContentType": {
      "type": "enum",
      "members": {
        "CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "content"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#PredictionContent": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.meilisearch.api#PredictionContentContent",
          "traits": {
            "smithy.api#documentation": "The type of the predicted content you want to provide. This type is\ncurrently always `content`.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.meilisearch.api#PredictionContentType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the predicted content you want to provide. This type is\ncurrently always `content`."
      }
    },
    "com.meilisearch.api#ChatCompletionAudio": {
      "type": "structure",
      "members": {
        "voice": {
          "target": "com.meilisearch.api#ChatCompletionAudioVoice",
          "traits": {
            "smithy.api#documentation": "The voice the model uses to respond. Supported voices are `ash`, `ballad`, `coral`, `sage`, and `verse` (also supported but not recommended are `alloy`, `echo`, and `shimmer`; these voices are less expressive).",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.meilisearch.api#ChatCompletionAudioFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the output audio format. Must be one of `wav`, `mp3`, `flac`, `opus`, or `pcm16`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters for audio output. Required when audio output is requested with `modalities: [\"audio\"]`."
      }
    },
    "com.meilisearch.api#ChatCompletionAudioVoice": {
      "type": "enum",
      "members": {
        "ALLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alloy"
          }
        },
        "ASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ash"
          }
        },
        "BALLAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ballad"
          }
        },
        "CORAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coral"
          }
        },
        "ECHO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "echo"
          }
        },
        "SAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sage"
          }
        },
        "SHIMMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shimmer"
          }
        },
        "VERSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verse"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The voice the model uses to respond in audio output."
      }
    },
    "com.meilisearch.api#ChatCompletionAudioFormat": {
      "type": "enum",
      "members": {
        "WAV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wav"
          }
        },
        "MP3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mp3"
          }
        },
        "FLAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flac"
          }
        },
        "OPUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opus"
          }
        },
        "PCM16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pcm16"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the output audio format. Must be one of `wav`, `mp3`, `flac`, `opus`, or `pcm16`."
      }
    },
    "com.meilisearch.api#ResponseFormat": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.meilisearch.api#ResponseFormatCase0"
        },
        "Case1": {
          "target": "com.meilisearch.api#ResponseFormatCase1"
        },
        "Case2": {
          "target": "com.meilisearch.api#ResponseFormatCase2"
        }
      },
      "traits": {
        "smithy.api#documentation": "An object specifying the format that the model must output (text, JSON object, or JSON schema)."
      }
    },
    "com.meilisearch.api#ResponseFormatCase0Type": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ResponseFormatCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.meilisearch.api#ResponseFormatCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of response format being defined: `text`"
      }
    },
    "com.meilisearch.api#ResponseFormatCase1Type": {
      "type": "enum",
      "members": {
        "JSON_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json_object"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ResponseFormatCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.meilisearch.api#ResponseFormatCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of response format being defined: `json_object`"
      }
    },
    "com.meilisearch.api#ResponseFormatJsonSchema": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of what the response format is for, used by the model to determine how to respond in the format.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the response format. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64.",
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The schema for the response format, described as a JSON Schema object."
          }
        },
        "strict": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable strict schema adherence when generating the output. If set to true, the model will always follow the exact schema defined in the `schema` field. Only a subset of JSON Schema is supported when `strict` is `true`. To learn more, read the [Structured Outputs guide](https://platform.openai.com/docs/guides/structured-outputs).",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A JSON Schema-based response format specification for Structured Outputs."
      }
    },
    "com.meilisearch.api#ResponseFormatCase2Type": {
      "type": "enum",
      "members": {
        "JSON_SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json_schema"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ResponseFormatCase2": {
      "type": "structure",
      "members": {
        "json_schema": {
          "target": "com.meilisearch.api#ResponseFormatJsonSchema",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.meilisearch.api#ResponseFormatCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of response format being defined: `json_schema`"
      }
    },
    "com.meilisearch.api#ServiceTier": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the latency tier to use for processing the request."
      }
    },
    "com.meilisearch.api#Stop": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.meilisearch.api#StopCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Up to 4 sequences where the API will stop generating further tokens."
      }
    },
    "com.meilisearch.api#StopCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionStreamOptions": {
      "type": "structure",
      "members": {
        "include_usage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, an additional chunk will be streamed before the `data: [DONE]` message. The `usage` field on this chunk shows the token usage statistics for the entire request, and the `choices` field will always be an empty array. All other chunks will also include a `usage` field, but with a null value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for streaming response. Only set this when you set `stream: true`."
      }
    },
    "com.meilisearch.api#ChatCompletionTool": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.meilisearch.api#ChatCompletionToolType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "function": {
          "target": "com.meilisearch.api#FunctionObject",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tool the model may call. Currently, only functions are supported as a tool."
      }
    },
    "com.meilisearch.api#FunctionObject": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of what the function does, used by the model to choose when and how to call the function.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The parameters the functions accepts, described as a JSON Schema object. See the [guide](https://platform.openai.com/docs/guides/text-generation/function-calling) for examples, and the [JSON Schema reference](https://json-schema.org/understanding-json-schema/) for documentation about the format.\n\nOmitting `parameters` defines a function with an empty parameter list."
          }
        },
        "strict": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable strict schema adherence when generating the function call. If set to true, the model will follow the exact schema defined in the `parameters` field. Only a subset of JSON Schema is supported when `strict` is `true`. Learn more about Structured Outputs in the [function calling guide](https://platform.openai.com/docs/guides/function-calling).",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A function definition for tool use, described as a JSON Schema object."
      }
    },
    "com.meilisearch.api#ChatRequestToolsList": {
      "type": "list",
      "member": {
        "target": "com.meilisearch.api#ChatCompletionTool"
      },
      "traits": {
        "smithy.api#documentation": "A list of tools the model may call. Currently, only functions are supported as a tool.\nUse this to provide a list of functions the model may generate JSON inputs for. A max of 128 functions are supported."
      }
    },
    "com.meilisearch.api#ChatCompletionToolChoiceOption": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.meilisearch.api#ChatCompletionToolChoiceOptionCase0"
        },
        "Case1": {
          "target": "com.meilisearch.api#ChatCompletionToolChoiceOptionCase1"
        },
        "Case2": {
          "target": "com.meilisearch.api#ChatCompletionToolChoiceOptionCase2"
        },
        "Case3": {
          "target": "com.meilisearch.api#ChatCompletionToolChoiceOptionCase3"
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls which (if any) tool is called by the model.\n`none` means the model will not call any tool and instead generates a message.\n`auto` means the model can pick between generating a message or calling one or more tools.\n`required` means the model must call one or more tools.\nSpecifying a particular tool via `{\"type\": \"function\", \"function\": {\"name\": \"my_function\"}}` forces the model to call that tool.\n\n`none` is the default when no tools are present. `auto` is the default if tools are present.present."
      }
    },
    "com.meilisearch.api#ChatCompletionToolChoiceOptionCase0": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionToolChoiceOptionCase1": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionToolChoiceOptionCase2": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionNamedToolChoice": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.meilisearch.api#ChatCompletionToolType",
          "traits": {
            "smithy.api#documentation": "The type of the tool. Currently, only `function` is supported.",
            "smithy.api#required": {}
          }
        },
        "function": {
          "target": "com.meilisearch.api#FunctionName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a tool the model should use. Use to force the model to call a specific function."
      }
    },
    "com.meilisearch.api#FunctionName": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to call.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A wrapper for a function name reference."
      }
    },
    "com.meilisearch.api#ChatCompletionToolChoiceOptionCase3": {
      "type": "structure",
      "members": {
        "named": {
          "target": "com.meilisearch.api#ChatCompletionNamedToolChoice",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.meilisearch.api#ChatCompletionFunctionCall": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.meilisearch.api#ChatCompletionFunctionCallCase0"
        },
        "Case1": {
          "target": "com.meilisearch.api#ChatCompletionFunctionCallCase1"
        },
        "Case2": {
          "target": "com.meilisearch.api#ChatCompletionFunctionCallCase2"
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated in favor of `tool_choice`. Controls which (if any) function is called by the model."
      }
    },
    "com.meilisearch.api#ChatCompletionFunctionCallCase0": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The model does not call a function, and responds to the end-user."
      }
    },
    "com.meilisearch.api#ChatCompletionFunctionCallCase1": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The model can pick between an end-user or calling a function."
      }
    },
    "com.meilisearch.api#ChatCompletionFunctionCallCase2Function": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Forces the model to call the specified function."
      }
    },
    "com.meilisearch.api#ChatCompletionFunctionCallCase2": {
      "type": "structure",
      "members": {
        "Function": {
          "target": "com.meilisearch.api#ChatCompletionFunctionCallCase2Function",
          "traits": {
            "smithy.api#documentation": "Forces the model to call the specified function.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Forces the model to call the specified function."
      }
    },
    "com.meilisearch.api#ChatCompletionFunctions": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of what the function does, used by the model to choose when and how to call the function.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The parameters the functions accepts, described as a JSON Schema object. See the [guide](https://platform.openai.com/docs/guides/text-generation/function-calling) for examples, and the [JSON Schema reference](https://json-schema.org/understanding-json-schema/) for documentation about the format.\n\nOmitting `parameters` defines a function with an empty parameter list.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: A function the model may generate JSON inputs for. Use `ChatCompletionTool` instead."
      }
    },
    "com.meilisearch.api#ChatRequestFunctionsList": {
      "type": "list",
      "member": {
        "target": "com.meilisearch.api#ChatCompletionFunctions"
      },
      "traits": {
        "smithy.api#documentation": "Deprecated in favor of `tools`.\n\nA list of functions the model may generate JSON inputs for."
      }
    },
    "com.meilisearch.api#ChatRequest": {
      "type": "structure",
      "members": {
        "workspace_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the chat workspace."
          }
        },
        "messages": {
          "target": "com.meilisearch.api#ChatRequestMessagesList",
          "traits": {
            "smithy.api#documentation": "A list of messages comprising the conversation so far. Depending on the [model](https://platform.openai.com/docs/models) you use, different message types (modalities) are supported, like [text](https://platform.openai.com/docs/guides/text-generation), [images](https://platform.openai.com/docs/guides/vision), and [audio](https://platform.openai.com/docs/guides/audio).",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the model to use.\nSee the [model endpoint compatibility](https://platform.openai.com/docs/models#model-endpoint-compatibility) table for details on which models work with the Chat API.",
            "smithy.api#required": {}
          }
        },
        "store": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to store the output of this chat completion request\n\nfor use in our [model distillation](https://platform.openai.com/docs/guides/distillation) or [evals](https://platform.openai.com/docs/guides/evals) products.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reasoning_effort": {
          "target": "com.meilisearch.api#ReasoningEffort",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Developer-defined tags and values used for filtering completions in the [dashboard](https://platform.openai.com/chat-completions)."
          }
        },
        "frequency_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "logit_bias": {
          "target": "com.meilisearch.api#ChatRequestLogitBiasMap",
          "traits": {
            "smithy.api#documentation": "Modify the likelihood of specified tokens appearing in the completion.\n\nAccepts a json object that maps tokens (specified by their token ID in the tokenizer) to an associated bias value from -100 to 100.\nMathematically, the bias is added to the logits generated by the model prior to sampling.\nThe exact effect will vary per model, but values between -1 and 1 should decrease or increase likelihood of selection;\nvalues like -100 or 100 should result in a ban or exclusive selection of the relevant token.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "logprobs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to return log probabilities of the output tokens or not. If true, returns the log probabilities of each output token returned in the `content` of `message`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "top_logprobs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An integer between 0 and 20 specifying the number of most likely tokens to return at each token position, each with an associated log probability. `logprobs` must be set to `true` if this parameter is used.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "max_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of [tokens](https://platform.openai.com/tokenizer) that can be generated in the chat completion.\n\nThis value can be used to control [costs](https://openai.com/api/pricing/) for text generated via API.\nThis value is now deprecated in favor of `max_completion_tokens`, and is\nnot compatible with [o1 series models](https://platform.openai.com/docs/guides/reasoning).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "max_completion_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An upper bound for the number of tokens that can be generated for a completion, including visible output tokens and [reasoning tokens](https://platform.openai.com/docs/guides/reasoning).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "n": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many chat completion choices to generate for each input message. Note that you will be charged based on the number of generated tokens across all of the choices. Keep `n` as `1` to minimize costs.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "modalities": {
          "target": "com.meilisearch.api#ChatRequestModalitiesList",
          "traits": {
            "smithy.api#documentation": "Output types that you would like the model to generate for this request. Most models are capable of generating text, which is the default: `[\"text\"]`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "prediction": {
          "target": "com.meilisearch.api#PredictionContent",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "audio": {
          "target": "com.meilisearch.api#ChatCompletionAudio",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "presence_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "response_format": {
          "target": "com.meilisearch.api#ResponseFormat",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "seed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": " This feature is in Beta.\nIf specified, our system will make a best effort to sample deterministically, such that repeated requests\nwith the same `seed` and parameters should return the same result.\nDeterminism is not guaranteed, and you should refer to the `system_fingerprint` response parameter to monitor changes in the backend.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "service_tier": {
          "target": "com.meilisearch.api#ServiceTier",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "stop": {
          "target": "com.meilisearch.api#Stop",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "stream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, partial message deltas will be sent, like in ChatGPT.\nTokens will be sent as data-only [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format)\nas they become available, with the stream terminated by a `data: [DONE]` message. [Example Python code](https://cookbook.openai.com/examples/how_to_stream_completions).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "stream_options": {
          "target": "com.meilisearch.api#ChatCompletionStreamOptions",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "temperature": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random,\nwhile lower values like 0.2 will make it more focused and deterministic.\n\nWe generally recommend altering this or `top_p` but not both.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "top_p": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "An alternative to sampling with temperature, called nucleus sampling,\nwhere the model considers the results of the tokens with top_p probability mass.\nSo 0.1 means only the tokens comprising the top 10% probability mass are considered.\n\n We generally recommend altering this or `temperature` but not both.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tools": {
          "target": "com.meilisearch.api#ChatRequestToolsList",
          "traits": {
            "smithy.api#documentation": "A list of tools the model may call. Currently, only functions are supported as a tool.\nUse this to provide a list of functions the model may generate JSON inputs for. A max of 128 functions are supported.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tool_choice": {
          "target": "com.meilisearch.api#ChatCompletionToolChoiceOption",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parallel_tool_calls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable [parallel function calling](https://platform.openai.com/docs/guides/function-calling/parallel-function-calling) during tool use.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse. [Learn more](https://platform.openai.com/docs/guides/safety-best-practices#end-user-ids).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "function_call": {
          "target": "com.meilisearch.api#ChatCompletionFunctionCall",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "functions": {
          "target": "com.meilisearch.api#ChatRequestFunctionsList",
          "traits": {
            "smithy.api#documentation": "Deprecated in favor of `tools`.\n\nA list of functions the model may generate JSON inputs for.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.meilisearch.api#CreateChatCompletionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the chat completion.",
            "smithy.api#required": {}
          }
        },
        "choices": {
          "target": "com.meilisearch.api#CreateChatCompletionResponseChoicesList",
          "traits": {
            "smithy.api#documentation": "A list of chat completion choices. Can be more than one if `n` is greater than 1.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) of when the chat completion was created.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model used for the chat completion.",
            "smithy.api#required": {}
          }
        },
        "service_tier": {
          "target": "com.meilisearch.api#ServiceTierResponse",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "system_fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This fingerprint represents the backend configuration that the model runs with.\n\nCan be used in conjunction with the `seed` request parameter to understand when backend changes have been made that might impact determinism.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object type, which is always `chat.completion`.",
            "smithy.api#required": {}
          }
        },
        "usage": {
          "target": "com.meilisearch.api#CompletionUsage",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a chat completion response returned by model, based on the provided input."
      }
    },
    "com.meilisearch.api#ChatChoice": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the choice in the list of choices.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.meilisearch.api#ChatCompletionResponseMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "finish_reason": {
          "target": "com.meilisearch.api#FinishReason",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "logprobs": {
          "target": "com.meilisearch.api#ChatChoiceLogprobs",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A chat completion choice generated by the model."
      }
    },
    "com.meilisearch.api#ChatCompletionResponseMessage": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contents of the message.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "refusal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The refusal message generated by the model.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tool_calls": {
          "target": "com.meilisearch.api#ChatCompletionResponseMessageToolCallsList",
          "traits": {
            "smithy.api#documentation": "The tool calls generated by the model, such as function calls.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.meilisearch.api#Role",
          "traits": {
            "smithy.api#documentation": "The role of the author of this message.",
            "smithy.api#required": {}
          }
        },
        "function_call": {
          "target": "com.meilisearch.api#FunctionCall",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "audio": {
          "target": "com.meilisearch.api#ChatCompletionResponseMessageAudio",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A chat completion message generated by the model."
      }
    },
    "com.meilisearch.api#ChatCompletionResponseMessageToolCallsList": {
      "type": "list",
      "member": {
        "target": "com.meilisearch.api#ChatCompletionMessageToolCall"
      },
      "traits": {
        "smithy.api#documentation": "The tool calls generated by the model, such as function calls."
      }
    },
    "com.meilisearch.api#Role": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistant"
          }
        },
        "TOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool"
          }
        },
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role of the author of a message."
      }
    },
    "com.meilisearch.api#ChatCompletionResponseMessageAudio": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this audio response.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Unix timestamp (in seconds) for when this audio response will no longer be accessible on the server for use in multi-turn conversations.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64 encoded audio bytes generated by the model, in the format specified in the request.",
            "smithy.api#required": {}
          }
        },
        "transcript": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Transcript of the audio generated by the model.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio data in a chat completion response message."
      }
    },
    "com.meilisearch.api#FinishReason": {
      "type": "enum",
      "members": {
        "STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stop"
          }
        },
        "LENGTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "length"
          }
        },
        "TOOL_CALLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool_calls"
          }
        },
        "CONTENT_FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "content_filter"
          }
        },
        "FUNCTION_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function_call"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason the model stopped generating tokens."
      }
    },
    "com.meilisearch.api#ChatChoiceLogprobs": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.meilisearch.api#ChatChoiceLogprobsContentList",
          "traits": {
            "smithy.api#documentation": "A list of message content tokens with log probability information.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "refusal": {
          "target": "com.meilisearch.api#ChatChoiceLogprobsRefusalList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Log probability information for a chat completion choice."
      }
    },
    "com.meilisearch.api#ChatCompletionTokenLogprob": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token.",
            "smithy.api#required": {}
          }
        },
        "logprob": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value `-9999.0` is used to signify that the token is very unlikely.",
            "smithy.api#required": {}
          }
        },
        "bytes": {
          "target": "com.meilisearch.api#ChatCompletionTokenLogprobBytesList",
          "traits": {
            "smithy.api#documentation": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be `null` if there is no bytes representation for the token.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "top_logprobs": {
          "target": "com.meilisearch.api#ChatCompletionTokenLogprobTopLogprobsList",
          "traits": {
            "smithy.api#documentation": "List of the most likely tokens and their log probability, at this token position. In rare cases, there may be fewer than the number of requested `top_logprobs` returned.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
[...]
