{
  "openapi": "3.1.0",
  "info": {
    "title": "Hub API Endpoints",
    "version": "0.0.1",
    "description": "We have open endpoints that you can use to retrieve information from the Hub as well as perform certain actions such as creating model, dataset or Space repos. We offer a wrapper Python client, [`huggingface_hub`](https://github.com/huggingface/huggingface_hub), and a JS client, [`huggingface.js`](https://github.com/huggingface/huggingface.js), that allow easy access to these endpoints. We also provide [webhooks](https://huggingface.co/docs/hub/webhooks) to receive real-time incremental info about repos. Enjoy!\n\nThe base URL for those endpoints below is `https://huggingface.co`. For example, to construct the `/api/models` call below, one can call the URL [https://huggingface.co/api/models](https://huggingface.co/api/models).\n\nIf you're an Agent, you might prefer the [markdown version OpenAPI spec](https://huggingface.co/.well-known/openapi.md).\n"
  },
  "servers": [
    {
      "url": "https://huggingface.co",
      "description": "Hub"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "RepoId": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "name": {
            "examples": [
              "deepseek-ai/DeepSeek-R1",
              "black-forest-labs/FLUX.1-dev"
            ],
            "type": "string"
          },
          "type": {
            "enum": [
              "dataset",
              "model",
              "space",
              "bucket",
              "kernel"
            ]
          }
        },
        "required": [
          "name",
          "type"
        ],
        "additionalProperties": false,
        "id": "RepoId"
      },
      "Job": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
          },
          "owner": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "name"
            ],
            "additionalProperties": false
          },
          "spaceId": {
            "type": "string"
          },
          "dockerImage": {
            "type": "string"
          },
          "timeout": {
            "type": "number"
          },
          "environment": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            }
          },
          "secrets": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "null"
            }
          },
          "command": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "arguments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "arch": {
            "enum": [
              "amd64",
              "arm64"
            ]
          },
          "flavor": {
            "enum": [
              "cpu-basic",
              "cpu-upgrade",
              "cpu-performance",
              "cpu-xl",
              "sprx8",
              "zero-a10g",
              "t4-small",
              "t4-medium",
              "l4x1",
              "l4x4",
              "l40sx1",
              "l40sx4",
              "l40sx8",
              "a10g-small",
              "a10g-large",
              "a10g-largex2",
              "a10g-largex4",
              "a100-large",
              "a100x4",
              "a100x8",
              "h200",
              "h200x2",
              "h200x4",
              "h200x8",
              "rtx-pro-6000",
              "rtx-pro-6000x2",
              "rtx-pro-6000x4",
              "rtx-pro-6000x8",
              "inf2x6"
            ]
          },
          "status": {
            "type": "object",
            "properties": {
              "stage": {
                "enum": [
                  "COMPLETED",
                  "CANCELED",
                  "ERROR",
                  "DELETED",
                  "RUNNING",
                  "SCHEDULING"
                ]
              },
              "message": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "cancelReason": {
                "anyOf": [
                  {
                    "enum": [
                      "NO_CREDITS",
                      "NO_SUBSCRIPTION"
                    ]
                  },
                  {
                    "type": "string"
                  }
                ]
              },
              "failureCount": {
                "type": "number"
              },
              "exposeUrls": {
                "description": "One reachable URL per port declared in `expose.ports`, in the same order (e.g. `https://<job_id>--8000.hf.jobs`). Absent when the job is not exposed.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "sshUrl": {
                "description": "SSH endpoint for the job (e.g. `ssh://<job_id>@ssh.hf.jobs`). Only present when `ssh.enabled`.",
                "type": "string"
              }
            },
            "required": [
              "stage",
              "message"
            ],
            "additionalProperties": false
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "name"
            ],
            "additionalProperties": false
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "resourceGroupId": {
            "type": "string"
          },
          "retry": {
            "type": "number"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
          },
          "finishedAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
          },
          "durations": {
            "type": "object",
            "properties": {
              "schedulingSecs": {
                "type": "number"
              },
              "runningSecs": {
                "type": "number"
              },
              "totalSecs": {
                "type": "number"
              }
            },
            "additionalProperties": false
          },
          "volumes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                },
                "mountPath": {
                  "type": "string"
                },
                "revision": {
                  "type": "string"
                },
                "readOnly": {
                  "type": "boolean"
                },
                "path": {
                  "type": "string"
                }
              },
              "required": [
                "type",
                "source",
                "mountPath"
              ],
              "additionalProperties": false
            }
          },
          "expose": {
            "description": "Ports exposed through the jobs proxy (see `status.exposeUrls` for the reachable URLs).",
            "type": "object",
            "properties": {
              "ports": {
                "maxItems": 20,
                "type": "array",
                "items": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 65535
                }
              },
              "portsPublic": {
                "description": "Subset of `ports` reachable without any authentication.",
                "maxItems": 20,
                "type": "array",
                "items": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 65535
                }
              }
            },
            "required": [
              "ports"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "createdAt",
          "owner",
          "environment",
          "flavor",
          "status",
          "createdBy"
        ],
        "additionalProperties": false,
        "id": "Job"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "auth",
      "x-displayName": "Auth",
      "description": "The following endpoints get information about your currently used user based on the passed token."
    },
    {
      "name": "models",
      "x-displayName": "Models",
      "description": "Get information from all models on the Hub."
    },
    {
      "name": "kernels",
      "x-displayName": "Kernels",
      "description": "Get information from all kernels on the Hub."
    },
    {
      "name": "datasets",
      "x-displayName": "Datasets",
      "description": "Get information from all datasets on the Hub."
    },
    {
      "name": "sql-console",
      "x-displayName": "SQL Console",
      "description": "Get information from SQL Console embeds from a dataset."
    },
    {
      "name": "discussions",
      "x-displayName": "Discussions",
      "description": "The following endpoints manage discussions."
    },
    {
      "name": "spaces",
      "x-displayName": "Spaces",
      "description": "Get information from all Spaces on the Hub."
    },
    {
      "name": "repo-search",
      "x-displayName": "Repository Search",
      "description": "The following endpoints help get information about models, datasets, and Spaces stored on the Hub."
    },
    {
      "name": "repos",
      "x-displayName": "Repositories",
      "description": "The following endpoints manage repository settings like creating and deleting a repository."
    },
    {
      "name": "users",
      "x-displayName": "Users",
      "description": "User accounts are the base authoring entity on the Hub"
    },
    {
      "name": "orgs",
      "x-displayName": "Organizations",
      "description": "The following endpoints let you interact with Hub Organizations and their members."
    },
    {
      "name": "service-accounts",
      "x-displayName": "Service Accounts",
      "description": "The following endpoints manage service accounts and their tokens."
    },
    {
      "name": "jobs",
      "x-displayName": "Jobs",
      "description": "The following endpoints manage jobs."
    },
    {
      "name": "resource-groups",
      "x-displayName": "Resource groups",
      "description": "The following endpoints manage resource groups. Resource groups are a Team or Enterprise feature."
    },
    {
      "name": "papers",
      "x-displayName": "Paper pages",
      "description": "The following endpoint gets information about papers."
    },
    {
      "name": "collections",
      "x-displayName": "Collections",
      "description": "Use Collections to group repositories from the Hub (Models, Datasets, Spaces and Papers) on a dedicated page.\n\nYou can learn more about it in the Collections [guide](https://huggingface.co/docs/hub/collections). Collections can also be managed using the Python client (see [guide](https://huggingface.co/docs/huggingface_hub/main/en/guides/collections))."
    },
    {
      "name": "buckets",
      "x-displayName": "Buckets",
      "description": "Git-free storage buckets for files, powered by Xet. Buckets provide simple file storage without git versioning."
    },
    {
      "name": "notifications",
      "x-displayName": "Notifications",
      "description": "The following endpoints fetch Hub notifications."
    },
    {
      "name": "inference-providers",
      "x-displayName": "Inference Providers",
      "description": "Run inference from one of our inference providers."
    },
    {
      "name": "inference-endpoints",
      "x-displayName": "Inference Endpoints",
      "description": "Manage inference endpoints."
    },
    {
      "name": "mcp",
      "x-displayName": "MCP",
      "description": "The following endpoints are for use with the MCP server."
    },
    {
      "name": "oauth",
      "x-displayName": "OAuth",
      "description": "The following endpoints are for use with OAuth."
    },
    {
      "name": "docs",
      "x-displayName": "Documentation",
      "description": "The following endpoints are for interacting with the Hub's documentation."
    },
    {
      "name": "webhooks",
      "x-displayName": "Webhooks",
      "description": "The following endpoints are for use with webhooks."
    },
    {
      "name": "scim",
      "x-displayName": "SCIM",
      "description": "Use the SCIM API to control and manage your hub Enterprise organization manage members' access.\n## Authentication\n\n- Must be organization owner\n- Use Access token with write permission on organization\n- Organization must be Enterprise Plus\n\n## Key Attribute Matching\n\n- Microsoft Entra ID (Azure AD)\n\t* SAML: `http://schemas.microsoft.com/identity/claims/objectidentifier`\n\t* SCIM: `externalId`\n- Other Identity Providers\n\t* SAML: `NameID` or `unique identifier`\n\t* SCIM: `externalId`\n\n## Supported SCIM User Attributes\n\n| Attribute | Description |\n|---|---|\n| `userName` | Username for the user |\n| `name.givenName` | First name |\n| `name.familyName` | Last name |\n| `emails` | Array of user emails; we don't support email types |\n| `externalId` | IDP provider's unique identifier |\n| `id` | Hugging Face SCIM endpoint identifier |\n| `active` | Boolean for provisioning status |\n\n"
    },
    {
      "name": "agentic-provisioning",
      "x-displayName": "Agentic Provisioning",
      "description": "The following endpoints are for use with Agentic Provisioning Protocol."
    },
    {
      "name": "agents",
      "x-displayName": "Agents",
      "description": "The following endpoints provide information about AI agents using the Hub."
    },
    {
      "name": "container",
      "x-displayName": "Container Registry",
      "description": "The following endpoints back the HuggingFace container registry, e.g. `docker login` token minting."
    }
  ],
  "paths": {
    "/api/notifications": {
      "get": {
        "description": "List notifications for the user",
        "summary": "List notifications",
        "tags": [
          "notifications"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "notifications": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "paper"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
                              },
                              "read": {
                                "type": "boolean"
                              },
                              "discussionEventId": {
                                "type": "string"
                              },
                              "paper": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string",
                                    "minLength": 24,
                                    "maxLength": 24,
                                    "pattern": "^[0-9a-f]{24}$"
                                  },
                                  "title": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "_id",
                                  "title"
                                ],
                                "additionalProperties": false
                              },
                              "paperDiscussion": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "participating": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "_id": {
                                          "type": "string",
                                          "minLength": 24,
                                          "maxLength": 24,
                                          "pattern": "^[0-9a-f]{24}$"
                                        },
                                        "avatar": {
                                          "type": "string"
                                        },
                                        "user": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "_id",
                                        "avatar",
                                        "user"
                                      ],
                                      "additionalProperties": false
                                    }
                                  },
                                  "paperId": {
                                    "type": "string",
                                    "minLength": 24,
                                    "maxLength": 24,
                                    "pattern": "^[0-9a-f]{24}$"
                                  }
                                },
                                "required": [
                                  "id",
                                  "participating",
                                  "paperId"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "type",
                              "updatedAt",
                              "read",
                              "paper",
                              "paperDiscussion"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "repo"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
                              },
                              "read": {
                                "type": "boolean"
                              },
                              "discussionEventId": {
                                "type": "string"
                              },
                              "repo": {
                                "$ref": "#/components/schemas/RepoId"
                              },
                              "discussion": {
                                "type": "object",
                                "properties": {
                                  "num": {
                                    "type": "number"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "enum": [
                                      "draft",
                                      "open",
                                      "closed",
                                      "merged"
                                    ]
                                  },
                                  "id": {
                                    "type": "string",
                                    "minLength": 24,
                                    "maxLength": 24,
                                    "pattern": "^[0-9a-f]{24}$"
                                  },
                                  "isPullRequest": {
                                    "type": "boolean"
                                  },
                                  "participating": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "_id": {
                                          "type": "string",
                                          "minLength": 24,
                                          "maxLength": 24,
                                          "pattern": "^[0-9a-f]{24}$"
                                        },
                                        "avatar": {
                                          "type": "string"
                                        },
                                        "user": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "_id",
                                        "avatar",
                                        "user"
                                      ],
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "required": [
                                  "num",
                                  "title",
                                  "status",
                                  "id",
                                  "isPullRequest",
                                  "participating"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "type",
                              "updatedAt",
                              "read",
                              "repo",
                              "discussion"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "post"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
                              },
                              "read": {
                                "type": "boolean"
                              },
                              "discussionEventId": {
                                "type": "string"
                              },
                              "post": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "slug": {
                                    "type": "string"
                                  },
                                  "authorName": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "participating": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "_id": {
                                          "type": "string",
                                          "minLength": 24,
                                          "maxLength": 24,
                                          "pattern": "^[0-9a-f]{24}$"
                                        },
                                        "avatar": {
                                          "type": "string"
                                        },
                                        "user": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "_id",
                                        "avatar",
                                        "user"
                                      ],
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "required": [
                                  "id",
                                  "slug",
                                  "authorName",
                                  "title",
                                  "participating"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "type",
                              "updatedAt",
                              "read",
                              "post"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "community_blog"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
                              },
                              "read": {
                                "type": "boolean"
                              },
                              "discussionEventId": {
                                "type": "string"
                              },
                              "blog": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "slug": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "canonical": {
                                    "type": "boolean"
                                  },
                                  "authorName": {
                                    "type": "string"
                                  },
                                  "participating": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "_id": {
                                          "type": "string",
                                          "minLength": 24,
                                          "maxLength": 24,
                                          "pattern": "^[0-9a-f]{24}$"
                                        },
                                        "avatar": {
                                          "type": "string"
                                        },
                                        "user": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "_id",
                                        "avatar",
                                        "user"
                                      ],
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "required": [
                                  "id",
                                  "slug",
                                  "title",
                                  "canonical",
                                  "participating"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "type",
                              "updatedAt",
                              "read",
                              "blog"
                            ],
                            "additionalProperties": false
                          }
                        ]
                      }
                    },
                    "count": {
                      "type": "object",
                      "properties": {
                        "view": {
                          "type": "number"
                        },
                        "unread": {
                          "type": "number"
                        },
                        "all": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "view",
                        "unread",
                        "all"
                      ],
                      "additionalProperties": false
                    },
                    "start": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "notifications",
                    "count",
                    "start"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "The notifications for the user"
          }
        },
        "parameters": [
          {
            "name": "p",
            "in": "query",
            "schema": {
              "default": 0,
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            },
            "required": false
          },
          {
            "name": "readStatus",
            "in": "query",
            "schema": {
              "default": "all",
              "enum": [
                "all",
                "unread"
              ]
            },
            "required": false
          },
          {
            "name": "repoType",
            "in": "query",
            "schema": {
              "enum": [
                "dataset",
                "model",
                "space",
                "bucket",
                "kernel"
              ]
            },
            "required": false
          },
          {
            "name": "repoName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "postAuthor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "paperId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "articleId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "mention",
            "in": "query",
            "schema": {
              "default": "all",
              "enum": [
                "all",
                "participating",
                "mentions"
              ]
            },
            "required": false
          },
          {
            "name": "lastUpdate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
            },
            "required": false
          }
        ]
      },
      "delete": {
        "description": "Delete notifications, either by specifying discussionIds or by applying to all notifications with search parameters",
        "summary": "Delete notifications",
        "tags": [
          "notifications"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "discussionIds": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 24,
                      "maxLength": 24,
                      "pattern": "^[0-9a-f]{24}$"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "p",
            "in": "query",
            "schema": {
              "default": 0,
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            },
            "required": false
          },
          {
            "name": "readStatus",
            "in": "query",
            "schema": {
              "default": "all",
              "enum": [
                "all",
                "unread"
              ]
            },
            "required": false
          },
          {
            "name": "repoType",
            "in": "query",
            "schema": {
              "enum": [
                "dataset",
                "model",
                "space",
                "bucket",
                "kernel"
              ]
            },
            "required": false
          },
          {
            "name": "repoName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "postAuthor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "paperId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "articleId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "mention",
            "in": "query",
            "schema": {
              "default": "all",
              "enum": [
                "all",
                "participating",
                "mentions"
              ]
            },
            "required": false
          },
          {
            "name": "lastUpdate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
            },
            "required": false
          },
          {
            "name": "applyToAll",
            "in": "query",
            "schema": {
              "default": false
            },
            "required": false
          }
        ]
      }
    },
    "/api/notifications/mark-as-read": {
      "post": {
        "description": "Mark discussions as read or unread. If `applyToAll` is true, all notifications for the user matching the search parameters will be marked as read or unread.",
        "summary": "Change read status",
        "tags": [
          "notifications"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "discussionIds": {
                    "default": [],
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "read": {
                    "default": true,
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "p",
            "in": "query",
            "schema": {
              "default": 0,
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            },
            "required": false
          },
          {
            "name": "readStatus",
            "in": "query",
            "schema": {
              "default": "all",
              "enum": [
                "all",
                "unread"
              ]
            },
            "required": false
          },
          {
            "name": "repoType",
            "in": "query",
            "schema": {
              "enum": [
                "dataset",
                "model",
                "space",
                "bucket",
                "kernel"
              ]
            },
            "required": false
          },
          {
            "name": "repoName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "postAuthor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "paperId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "articleId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "mention",
            "in": "query",
            "schema": {
              "default": "all",
              "enum": [
                "all",
                "participating",
                "mentions"
              ]
            },
            "required": false
          },
          {
            "name": "lastUpdate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
            },
            "required": false
          },
          {
            "name": "applyToAll",
            "in": "query",
            "schema": {
              "default": false
            },
            "required": false
          }
        ]
      }
    },
    "/api/credentials/revoke": {
      "post": {
        "description": "Publicly invalidate leaked Hugging Face access tokens. Possession of the raw token value is the only proof required: no authentication is needed, and no rights over the owning account or org are necessary. Each raw token is fully invalidated, the owning user is notified by email. Always returns 202, whether or not any of the provided tokens existed, so the response cannot be used to probe token validity.",
        "summary": "Revoke leaked tokens",
        "tags": [
          "tokens"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "credentials": {
                    "description": "Raw access token values to invalidate, at most 1000.",
                    "examples": [
                      [
                        "hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                      ]
                    ],
                    "minItems": 1,
                    "maxItems": 1000,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    }
                  }
                },
                "required": [
                  "credentials"
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/settings/mcp": {
      "get": {
        "description": "Get the MCP tools for the current user",
        "summary": "Get MCP tools",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "builtInTools": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "spaceTools": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "emoji": {
                            "type": "string"
                          },
                          "subdomain": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "_id",
                          "name",
                          "emoji",
                          "subdomain"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "builtInTools",
                    "spaceTools"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "The MCP tools for the current user"
          }
        }
      }
    },
    "/api/settings/notifications": {
      "patch": {
        "description": "Update notification settings for the user",
        "summary": "Update notification settings",
        "tags": [
          "notifications"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "notifications": {
                    "type": "object",
                    "properties": {
                      "announcements": {
                        "type": "boolean"
                      },
                      "arxiv_paper_activity": {
                        "type": "boolean"
                      },
                      "daily_papers_digest": {
                        "type": "boolean"
                      },
                      "discussions_participating": {
                        "type": "boolean"
                      },
                      "discussions_watched": {
                        "type": "boolean"
                      },
                      "gated_user_access_request": {
                        "type": "boolean"
                      },
                      "inference_endpoint_status": {
                        "type": "boolean"
                      },
                      "job_status": {
                        "type": "boolean"
                      },
                      "launch_autonlp": {
                        "type": "boolean"
                      },
                      "launch_spaces": {
                        "type": "boolean"
                      },
                      "launch_prepaid_credits": {
                        "type": "boolean"
                      },
                      "launch_training_cluster": {
                        "type": "boolean"
                      },
                      "org_request": {
                        "type": "boolean"
                      },
                      "org_suggestions": {
                        "type": "boolean"
                      },
                      "org_verified_suggestions": {
                        "type": "boolean"
                      },
                      "org_suggestions_to_create": {
                        "type": "boolean"
                      },
                      "posts_participating": {
                        "type": "boolean"
                      },
                      "user_follows": {
                        "type": "boolean"
                      },
                      "secret_detected": {
                        "type": "boolean"
                      },
                      "web_discussions_participating": {
                        "type": "boolean"
                      },
                      "web_discussions_watched": {
                        "type": "boolean"
                      },
                      "web_posts_participating": {
                        "type": "boolean"
                      },
                      "product_updates_after": {
                        "type": "string",
                        "format": "date-time",
                        "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
                      },
                      "api_inference_sunset": {
                        "type": "boolean"
                      },
                      "locked_out": {
                        "type": "boolean"
                      },
                      "repo_release": {
                        "type": "boolean"
                      }
                    }
                  },
                  "prepaidAmount": {
                    "description": "To be provided when enabling launch_prepaid_credits",
                    "type": "string",
                    "maxLength": 24
                  }
                },
                "required": [
                  "notifications"
                ]
              }
            }
          }
        }
      }
    },
    "/api/settings/watch": {
      "patch": {
        "description": "Update watch settings for the user. Get notified when discussions happen on your watched items.",
        "summary": "Update watch settings",
        "tags": [
          "notifications"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "delete": {
                    "default": [],
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "enum": [
                            "org",
                            "user",
                            "repo"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "type"
                      ]
                    }
                  },
                  "add": {
                    "default": [],
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "enum": [
                            "org",
                            "user",
                            "repo"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "type"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/settings/webhooks": {
      "get": {
        "summary": "List webhooks",
        "tags": [
          "webhooks"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 24,
                        "maxLength": 24,
                        "pattern": "^[0-9a-f]{24}$"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "job": {
                        "type": "object",
                        "properties": {
                          "dockerImage": {
                            "type": "string"
                          },
                          "spaceId": {
                            "type": "string"
                          },
                          "environment": {
                            "default": {},
                            "type": "object",
                            "propertyNames": {
                              "type": "string",
                              "pattern": "^[a-zA-Z][_a-zA-Z0-9]+$"
                            },
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "arguments": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "command": {
                            "minItems": 1,
                            "type": "array",
                            "items": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "flavor": {
                            "enum": [
                              "cpu-basic",
                              "cpu-upgrade",
                              "cpu-performance",
                              "cpu-xl",
                              "sprx8",
                              "zero-a10g",
                              "t4-small",
                              "t4-medium",
                              "l4x1",
                              "l4x4",
                              "l40sx1",
                              "l40sx4",
                              "l40sx8",
                              "a10g-small",
                              "a10g-large",
                              "a10g-largex2",
                              "a10g-largex4",
                              "a100-large",
                              "a100x4",
                              "a100x8",
                              "h200",
                              "h200x2",
                              "h200x4",
                              "h200x8",
                              "rtx-pro-6000",
                              "rtx-pro-6000x2",
                              "rtx-pro-6000x4",
                              "rtx-pro-6000x8",
                              "inf2x6"
                            ]
                          },
                          "timeoutSeconds": {
                            "default": null,
                            "anyOf": [
                              {
                                "type": "integer",
                                "exclusiveMinimum": 0,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "labels": {
                            "description": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dots, dashes, and underscores.",
                            "type": "object",
                            "propertyNames": {
                              "type": "string",
                              "maxLength": 100,
                              "pattern": "^[a-zA-Z0-9._-]+$"
                            },
                            "additionalProperties": {
                              "type": "string",
                              "maxLength": 100,
                              "pattern": "^[a-zA-Z0-9._-]*$"
                            }
                          },
                          "secrets": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "environment",
                          "flavor",
                          "timeoutSeconds"
                        ],
                        "additionalProperties": false
                      },
                      "jobSourceId": {
                        "type": "string"
                      },
                      "disabled": {
                        "anyOf": [
                          {
                            "type": "boolean"
                          },
                          {
                            "const": "suspended-after-failure"
                          }
                        ]
                      },
                      "watched": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "enum": [
                                "dataset",
                                "model",
                                "space",
                                "bucket",
                                "kernel",
                                "user",
                                "org"
                              ]
                            },
                            "avatarUrl": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "name",
                            "type"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "hasSecret": {
                        "description": "Whether the webhook has a secret (the secret itself is never returned)",
                        "type": "boolean"
                      },
                      "domains": {
                        "type": "array",
                        "items": {
                          "enum": [
                            "repo",
                            "discussion"
                          ]
                        }
                      },
                      "lastTriggerAt": {
                        "type": "string",
                        "format": "date-time",
                        "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
                      }
                    },
                    "required": [
                      "id",
                      "disabled",
                      "watched",
                      "hasSecret",
                      "domains"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            },
            "description": "Webhooks"
          }
        }
      },
      "post": {
        "summary": "Create webhook",
        "tags": [
          "webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "watched": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "enum": [
                            "dataset",
                            "model",
                            "space",
                            "bucket",
                            "kernel",
                            "user",
                            "org"
                          ]
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "name"
                      ]
                    }
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "job": {
                    "type": "object",
                    "properties": {
                      "spaceId": {
                        "type": "string"
                      },
                      "dockerImage": {
                        "type": "string"
                      },
                      "arguments": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "command": {
                        "minItems": 1,
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "environment": {
                        "default": {},
                        "type": "object",
                        "propertyNames": {
                          "type": "string",
                          "pattern": "^[a-zA-Z][_a-zA-Z0-9]+$"
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "secrets": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string",
                          "pattern": "^[a-zA-Z][_a-zA-Z0-9]*$"
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "flavor": {
                        "enum": [
                          "cpu-basic",
                          "cpu-upgrade",
                          "cpu-performance",
                          "cpu-xl",
                          "sprx8",
                          "zero-a10g",
                          "t4-small",
                          "t4-medium",
                          "l4x1",
                          "l4x4",
                          "l40sx1",
                          "l40sx4",
                          "l40sx8",
                          "a10g-small",
                          "a10g-large",
                          "a10g-largex2",
                          "a10g-largex4",
                          "a100-large",
                          "a100x4",
                          "a100x8",
                          "h200",
                          "h200x2",
                          "h200x4",
                          "h200x8",
                          "rtx-pro-6000",
                          "rtx-pro-6000x2",
                          "rtx-pro-6000x4",
                          "rtx-pro-6000x8",
                          "inf2x6"
                        ]
                      },
                      "arch": {
                        "enum": [
                          "amd64",
                          "arm64"
                        ]
                      },
                      "timeoutSeconds": {
                        "default": null,
                        "anyOf": [
                          {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "maximum": 9007199254740991
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "attempts": {
                        "description": "Max number of attempts to make. For example, if you set this to 3, the job will be retried up to 2 times if it fails.",
                        "default": 1,
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 9007199254740991
                      },
                      "labels": {
                        "description": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dots, dashes, and underscores.",
                        "type": "object",
                        "propertyNames": {
                          "type": "string",
                          "maxLength": 100,
                          "pattern": "^[a-zA-Z0-9._-]+$"
                        },
                        "additionalProperties": {
                          "type": "string",
                          "maxLength": 100,
                          "pattern": "^[a-zA-Z0-9._-]*$"
                        }
                      },
                      "volumes": {
                        "description": "HuggingFace Buckets or Repos to mount as volumes in the job container.",
                        "minItems": 1,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "enum": [
                                "bucket",
                                "model",
                                "dataset",
                                "space"
                              ]
                            },
                            "source": {
                              "description": "Source identifier, e.g. 'username/my-bucket' or 'username/my-model'",
                              "type": "string"
                            },
                            "mountPath": {
                              "description": "Mount path inside the container, e.g. '/data'",
                              "type": "string",
                              "pattern": "^\\/.*"
                            },
                            "revision": {
                              "description": "Git revision (only for repos, defaults to 'main')",
                              "type": "string"
                            },
                            "readOnly": {
                              "description": "Read-only mount (true for repos, false default for buckets)",
                              "type": "boolean"
                            },
                            "path": {
                              "description": "Subfolder prefix inside the bucket/repo to mount, e.g. 'path/to/dir'",
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "source",
                            "mountPath"
                          ]
                        }
                      },
                      "expose": {
                        "description": "Ports to expose publicly through the jobs proxy. Each port is reachable at `https://<job_id>--<port>.<jobs-public-domain>`. Access requires a HF token with read access to the job's namespace, except for ports also listed in `portsPublic`.",
                        "type": "object",
                        "properties": {
                          "ports": {
                            "maxItems": 20,
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 65535
                            }
                          },
                          "portsPublic": {
                            "description": "Subset of `ports` reachable without any authentication.",
                            "maxItems": 20,
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 65535
                            }
                          }
                        },
                        "required": [
                          "ports"
                        ]
                      },
                      "ssh": {
                        "description": "When `enabled`, the job's container is reachable over SSH at `ssh <job_id>@ssh.hf.jobs`. Only the job's owner is allowed in, authenticated by an SSH public key registered on the Hub.",
                        "type": "object",
                        "properties": {
                          "enabled": {
                            "default": false,
                            "type": "boolean"
                          }
                        }
                      },
                      "resourceGroupId": {
                        "type": "string",
                        "minLength": 24,
                        "maxLength": 24,
                        "pattern": "^[0-9a-fA-F]{24}$"
                      }
                    },
                    "required": [
                      "flavor"
                    ]
                  },
                  "jobSourceId": {
                    "type": "string"
                  },
                  "domains": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "enum": [
                        "repo",
                        "discussion"
                      ]
                    }
                  },
                  "secret": {
                    "type": "string",
                    "pattern": "^[\\x20-\\x7F]*$"
                  }
                },
                "required": [
                  "watched",
                  "domains"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "webhook": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 24,
                          "maxLength": 24,
                          "pattern": "^[0-9a-f]{24}$"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "job": {
                          "type": "object",
                          "properties": {
                            "dockerImage": {
                              "type": "string"
                            },
                            "spaceId": {
                              "type": "string"
                            },
                            "environment": {
                              "default": {},
                              "type": "object",
                              "propertyNames": {
                                "type": "string",
                                "pattern": "^[a-zA-Z][_a-zA-Z0-9]+$"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "arguments": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "command": {
                              "minItems": 1,
                              "type": "array",
                              "items": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "flavor": {
                              "enum": [
                                "cpu-basic",
                                "cpu-upgrade",
                                "cpu-performance",
                                "cpu-xl",
                                "sprx8",
                                "zero-a10g",
                                "t4-small",
                                "t4-medium",
                                "l4x1",
                                "l4x4",
                                "l40sx1",
                                "l40sx4",
                                "l40sx8",
                                "a10g-small",
                                "a10g-large",
                                "a10g-largex2",
                                "a10g-largex4",
                                "a100-large",
                                "a100x4",
                                "a100x8",
                                "h200",
                                "h200x2",
                                "h200x4",
                                "h200x8",
                                "rtx-pro-6000",
                                "rtx-pro-6000x2",
                                "rtx-pro-6000x4",
                                "rtx-pro-6000x8",
                                "inf2x6"
                              ]
                            },
                            "timeoutSeconds": {
                              "default": null,
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "exclusiveMinimum": 0,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "labels": {
                              "description": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dots, dashes, and underscores.",
                              "type": "object",
                              "propertyNames": {
                                "type": "string",
                                "maxLength": 100,
                                "pattern": "^[a-zA-Z0-9._-]+$"
                              },
                              "additionalProperties": {
                                "type": "string",
                                "maxLength": 100,
                                "pattern": "^[a-zA-Z0-9._-]*$"
                              }
                            },
                            "secrets": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "required": [
                            "environment",
                            "flavor",
                            "timeoutSeconds"
                          ],
                          "additionalProperties": false
                        },
                        "jobSourceId": {
                          "type": "string"
                        },
                        "disabled": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "const": "suspended-after-failure"
                            }
                          ]
                        },
                        "watched": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "enum": [
                                  "dataset",
                                  "model",
                                  "space",
                                  "bucket",
                                  "kernel",
                                  "user",
                                  "org"
                                ]
                              },
                              "avatarUrl": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "type"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "hasSecret": {
                          "description": "Whether the webhook has a secret (the secret itself is never returned)",
                          "type": "boolean"
                        },
                        "domains": {
                          "type": "array",
                          "items": {
                            "enum": [
                              "repo",
                              "discussion"
                            ]
                          }
                        },
                        "lastTriggerAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
                        }
                      },
                      "required": [
                        "id",
                        "disabled",
                        "watched",
                        "hasSecret",
                        "domains"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "webhook"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Created webhook"
          }
        }
      }
    },
    "/api/settings/webhooks/{webhookId}": {
      "get": {
        "summary": "Get webhook",
        "tags": [
          "webhooks"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "webhook": {
                      "description": "Webhook",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 24,
                          "maxLength": 24,
                          "pattern": "^[0-9a-f]{24}$"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "job": {
                          "type": "object",
                          "properties": {
                            "dockerImage": {
                              "type": "string"
                            },
                            "spaceId": {
                              "type": "string"
                            },
                            "environment": {
                              "default": {},
                              "type": "object",
                              "propertyNames": {
                                "type": "string",
                                "pattern": "^[a-zA-Z][_a-zA-Z0-9]+$"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "arguments": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "command": {
                              "minItems": 1,
                              "type": "array",
                              "items": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "flavor": {
                              "enum": [
                                "cpu-basic",
                                "cpu-upgrade",
                                "cpu-performance",
                                "cpu-xl",
                                "sprx8",
                                "zero-a10g",
                                "t4-small",
                                "t4-medium",
                                "l4x1",
                                "l4x4",
                                "l40sx1",
                                "l40sx4",
                                "l40sx8",
                                "a10g-small",
                                "a10g-large",
                                "a10g-largex2",
                                "a10g-largex4",
                                "a100-large",
                                "a100x4",
                                "a100x8",
                                "h200",
                                "h200x2",
                                "h200x4",
                                "h200x8",
                                "rtx-pro-6000",
                                "rtx-pro-6000x2",
                                "rtx-pro-6000x4",
                                "rtx-pro-6000x8",
                                "inf2x6"
                              ]
                            },
                            "timeoutSeconds": {
                              "default": null,
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "exclusiveMinimum": 0,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "labels": {
                              "description": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dots, dashes, and underscores.",
                              "type": "object",
                              "propertyNames": {
                                "type": "string",
                                "maxLength": 100,
                                "pattern": "^[a-zA-Z0-9._-]+$"
                              },
                              "additionalProperties": {
                                "type": "string",
                                "maxLength": 100,
                                "pattern": "^[a-zA-Z0-9._-]*$"
                              }
                            },
                            "secrets": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "required": [
                            "environment",
                            "flavor",
                            "timeoutSeconds"
                          ],
                          "additionalProperties": false
                        },
                        "jobSourceId": {
                          "type": "string"
                        },
                        "disabled": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "const": "suspended-after-failure"
                            }
                          ]
                        },
                        "watched": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "enum": [
                                  "dataset",
                                  "model",
                                  "space",
                                  "bucket",
                                  "kernel",
                                  "user",
                                  "org"
                                ]
                              },
                              "avatarUrl": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "type"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "hasSecret": {
                          "description": "Whether the webhook has a secret (the secret itself is never returned)",
                          "type": "boolean"
                        },
                        "domains": {
                          "type": "array",
                          "items": {
                            "enum": [
                              "repo",
                              "discussion"
                            ]
                          }
                        },
                        "lastTriggerAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^((\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-((0[13578]|1[02])-(0[1-9]|[12]\\d|3[01])|(0[469]|11)-(0[1-9]|[12]\\d|30)|(02)-(0[1-9]|1\\d|2[0-8])))T([01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(\\.\\d+)?(Z)$"
                        }
                      },
                      "required": [
                        "id",
                        "disabled",
                        "watched",
                        "hasSecret",
                        "domains"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "webhook"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Webhook"
          }
        },
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "Update webhook",
        "tags": [
          "webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "watched": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "enum": [
                            "dataset",
                            "model",
                            "space",
                            "bucket",
                            "kernel",
                            "user",
                            "org"
                          ]
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "name"
                      ]
                    }
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "job": {
                    "type": "object",
                    "properties": {
                      "spaceId": {
                        "type": "string"
                      },
                      "dockerImage": {
                        "type": "string"
                      },
                      "arguments": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "command": {
                        "minItems": 1,
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "environment": {
                        "default": {},
                        "type": "object",
                        "propertyNames": {
                          "type": "string",
                          "pattern": "^[a-zA-Z][_a-zA-Z0-9]+$"
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "secrets": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string",
                          "pattern": "^[a-zA-Z][_a-zA-Z0-9]*$"
                        },
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "flavor": {
                        "enum": [
                          "cpu-basic",
                          "cpu-upgrade",
                          "cpu-performance",
                          "cpu-xl",
                          "sprx8",
                          "zero-a10g",
                          "t4-small",
                          "t4-medium",
                          "l4x1",
                          "l4x4",
                          "l40sx1",
                          "l40sx4",
                          "l40sx8",
                          "a10g-small",
                          "a10g-large",
                          "a10g-largex2",
                          "a10g-largex4",
                          "a100-large",
                          "a100x4",
                          "a100x8",
                          "h200",
                          "h200x2",
                          "h200x4",
                          "h200x8",
                          "rtx-pro-6000",
                          "rtx-pro-6000x2",
                          "rtx-pro-6000x4",
                          "rtx-pro-6000x8",
                          "inf2x6"
                        ]
                      },
                      "arch": {
                        "enum": [
                          "amd64",
                          "arm64"
                        ]
                      },
                      "timeoutSeconds": {
                        "default": null,
                        "anyOf": [
                          {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "maximum": 9007199254740991
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "attempts": {
                        "description": "Max number of attempts to make. For example, if you set this to 3, the job will be retried up to 2 times if it fails.",
                        "default": 1,
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 9007199254740991
                      },
                      "labels": {
                        "description": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dots, dashes, and underscores.",
                        "type": "object",
                        "propertyNames": {
                          "type": "string",
                          "maxLength": 100,
                          "pattern": "^[a-zA-Z0-9._-]+$"
                        },
                        "additionalProperties": {
                          "type": "string",
                          "maxLength": 100,
                          "pattern": "^[a-zA-Z0-9._-]*$"
                        }
                      },
                      "volumes": {
                        "description": "HuggingFace Buckets or Repos to mount as volumes in the job container.",
                        "minItems": 1,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "enum": [
                                "bucket",
                                "model",
                                "dataset",
                                "space"
                              ]
                            },
                            "source": {
                              "description": "Source identifier, e.g. 'username/my-bucket' or 'username/my-model'",
                              "type": "string"
                            },
                            "mountPath": {
                              "description": "Mount path inside the container, e.g. '/data'",
                              "type": "string",
                              "pattern": "^\\/.*"
                            },
                            "revision": {
                              "description": "Git revision (only for repos, defaults to 'main')",
                              "type": "string"
                            },
                            "readOnly": {
                              "description": "Read-only mount (true for repos, false default for buckets)",
                              "type": "boolean"
                            },
                            "path": {
                              "description": "Subfolder prefix inside the bucket/repo to mount, e.g. 'path/to/dir'",
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "source",
                            "mountPath"
                          ]
                        }
[...]
