{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.mercury.api#GetAccountCardsRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mercury.api#AccountCardsResponse": {
      "type": "structure",
      "members": {
        "cards": {
          "target": "com.mercury.api#AccountCardsResponseCardsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#AccountCard": {
      "type": "structure",
      "members": {
        "cardId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastFourDigits": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "nameOnCard": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.mercury.api#CardNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "physicalCardStatus": {
          "target": "com.mercury.api#PhysicalCardStatus",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "spendLimit": {
          "target": "com.mercury.api#SpendLimit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.mercury.api#CardStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.mercury.api#CardType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " Deprecated account card representation, used by the @/v1/account\\/:id\\/cards@ endpoint."
      }
    },
    "com.mercury.api#CardNetwork": {
      "type": "enum",
      "members": {
        "VISA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visa"
          }
        },
        "MASTERCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mastercard"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#PhysicalCardStatus": {
      "type": "enum",
      "members": {
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "LOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "locked"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#SpendLimit": {
      "type": "structure",
      "members": {
        "amountCents": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": " Maximum total spend allowed per interval, in cents.",
            "smithy.api#required": {}
          }
        },
        "atmAmountCents": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": " Maximum ATM withdrawal allowed per interval, in cents. Null for virtual cards.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "interval": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " Spending controls applied to a card"
      }
    },
    "com.mercury.api#CardStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "FROZEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "frozen"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#CardType": {
      "type": "enum",
      "members": {
        "VIRTUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "virtual"
          }
        },
        "PHYSICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "physical"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#AccountCardsResponseCardsList": {
      "type": "list",
      "member": {
        "target": "com.mercury.api#AccountCard"
      },
      "traits": {}
    },
    "com.mercury.api#GetAccountCards": {
      "type": "operation",
      "input": {
        "target": "com.mercury.api#GetAccountCardsRequest"
      },
      "output": {
        "target": "com.mercury.api#AccountCardsResponse"
      },
      "errors": [
        {
          "target": "com.mercury.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/account/{accountId}/cards",
          "code": 200
        },
        "smithy.api#documentation": "Get cards for account\n\nRetrieve all debit and credit cards associated with a specific account."
      }
    },
    "com.mercury.api#RequestSendMoneyPaymentMethod": {
      "type": "enum",
      "members": {
        "ACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ach"
          }
        },
        "CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "check"
          }
        },
        "DOMESTICWIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domesticWire"
          }
        },
        "INTERNATIONALWIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internationalWire"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#PostTransactionSendMoneyPurpose": {
      "type": "structure",
      "members": {
        "simple": {
          "target": "com.mercury.api#SimplePurpose",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " External API representation of SendMoneyPurpose.\n Only exposes the 'simple' field to decouple internal implementation from external API."
      }
    },
    "com.mercury.api#SimplePurpose": {
      "type": "structure",
      "members": {
        "additionalInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional information. Required for: Vendor (vendor name), Contractor (contractor name), Other (payment description). Optional for Subsidiary (subsidiary name). Not accepted for any other categories."
          }
        },
        "category": {
          "target": "com.mercury.api#SimplePurposeCategory",
          "traits": {
            "smithy.api#documentation": "Payment category.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#SimplePurposeCategory": {
      "type": "enum",
      "members": {
        "EMPLOYEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "employee"
          }
        },
        "LANDLORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "landlord"
          }
        },
        "VENDOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vendor"
          }
        },
        "CONTRACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contractor"
          }
        },
        "SUBSIDIARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subsidiary"
          }
        },
        "TRANSFERTOMYEXTERNALACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transferToMyExternalAccount"
          }
        },
        "FAMILYMEMBERORFRIEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "familyMemberOrFriend"
          }
        },
        "FORGOODSORSERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forGoodsOrServices"
          }
        },
        "ANGELINVESTMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "angelInvestment"
          }
        },
        "SAVINGSORINVESTMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "savingsOrInvestments"
          }
        },
        "EXPENSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expenses"
          }
        },
        "TRAVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "travel"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payment category."
      }
    },
    "com.mercury.api#RequestSendMoneyRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of USD you want to send, must be a positive number.",
            "smithy.api#required": {}
          }
        },
        "externalMemo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional external memo"
          }
        },
        "idempotencyKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique string identifying the transaction",
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional note"
          }
        },
        "paymentMethod": {
          "target": "com.mercury.api#RequestSendMoneyPaymentMethod",
          "traits": {
            "smithy.api#documentation": "Payment method to use. If domesticWire or internationalWire is used, then the purpose field is required.",
            "smithy.api#required": {}
          }
        },
        "purpose": {
          "target": "com.mercury.api#PostTransactionSendMoneyPurpose",
          "traits": {
            "smithy.api#documentation": "Purpose of payment with category and optional additional info. Required when paymentMethod is 'domesticWire' or 'internationalWire'."
          }
        },
        "recipientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recipient ID from the /recipients endpoint.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mercury.api#SendMoneyApprovalRequestResponse": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "memo": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "numberOfApproversRequired": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": " Total number of approvals required for this payment to be sent.\n Omitted for older requests where the requirement is not available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "paymentMethod": {
          "target": "com.mercury.api#RequestSendMoneyPaymentMethod",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "recipientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestedByUserId": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requesterMayApprove": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": " True when the approval requirement recorded for this payment names the\n requester as its approver. Reflects the recorded requirement, not the\n requester's current standing, so submitting the approval can still be\n refused. The value persists after the request settles and says only whether\n the requirement names the requester; whether an approval is still\n outstanding is carried by numberOfApproversRequired and status. Omitted for\n older requests where the requirement is not available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reviews": {
          "target": "com.mercury.api#SendMoneyApprovalRequestResponseReviewsList",
          "traits": {
            "smithy.api#documentation": " Approval decisions recorded against this request, ordered from\n oldest to most recent.",
            "smithy.api#required": {}
          }
        },
        "scheduledSendDate": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.mercury.api#ReviewRequestStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " A pending or completed approval request for a Mercury payment."
      }
    },
    "com.mercury.api#PaymentApprovalReview": {
      "type": "structure",
      "members": {
        "reviewedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reviewerUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.mercury.api#PaymentApprovalReviewStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#PaymentApprovalReviewStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#SendMoneyApprovalRequestResponseReviewsList": {
      "type": "list",
      "member": {
        "target": "com.mercury.api#PaymentApprovalReview"
      },
      "traits": {
        "smithy.api#documentation": " Approval decisions recorded against this request, ordered from\n oldest to most recent."
      }
    },
    "com.mercury.api#ReviewRequestStatus": {
      "type": "enum",
      "members": {
        "PENDINGAPPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingApproval"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#RequestSendMoney": {
      "type": "operation",
      "input": {
        "target": "com.mercury.api#RequestSendMoneyRequest"
      },
      "output": {
        "target": "com.mercury.api#SendMoneyApprovalRequestResponse"
      },
      "errors": [
        {
          "target": "com.mercury.api#BadRequest"
        },
        {
          "target": "com.mercury.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/account/{accountId}/request-send-money",
          "code": 200
        },
        "smithy.api#documentation": "Request to send money\n\nCreate a \"request to send money\" that will require approval based on your organization's approval policies."
      }
    },
    "com.mercury.api#GetAccountStatementsRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort order. Can be 'asc' or 'desc'. Defaults to 'desc'"
      }
    },
    "com.mercury.api#GetAccountStatementsRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "order": {
          "target": "com.mercury.api#GetAccountStatementsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order"
          }
        },
        "start_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "start_after"
          }
        },
        "end_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "end_before"
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "start"
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "end"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mercury.api#DepositoryAccountStatementsPaginatedResponse": {
      "type": "structure",
      "members": {
        "page": {
          "target": "com.mercury.api#DepositoryAccountStatementsPaginatedResponsePage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statements": {
          "target": "com.mercury.api#DepositoryAccountStatementsPaginatedResponseStatementsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " Paginated response for depository account statements (v1 API)"
      }
    },
    "com.mercury.api#DepositoryAccountStatementsPaginatedResponsePage": {
      "type": "structure",
      "members": {
        "nextPage": {
          "target": "smithy.api#String"
        },
        "previousPage": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.mercury.api#DepositoryAccountStatement": {
      "type": "structure",
      "members": {
        "accountNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "companyLegalAddress": {
          "target": "com.mercury.api#Address",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "companyLegalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "downloadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ein": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endingBalance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "routingNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transactions": {
          "target": "com.mercury.api#DepositoryAccountStatementTransactionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#Address": {
      "type": "structure",
      "members": {
        "address1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "address2": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#AccountStatementTransaction": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "postedAt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#DepositoryAccountStatementTransactionsList": {
      "type": "list",
      "member": {
        "target": "com.mercury.api#AccountStatementTransaction"
      },
      "traits": {}
    },
    "com.mercury.api#DepositoryAccountStatementsPaginatedResponseStatementsList": {
      "type": "list",
      "member": {
        "target": "com.mercury.api#DepositoryAccountStatement"
      },
      "traits": {}
    },
    "com.mercury.api#GetAccountStatements": {
      "type": "operation",
      "input": {
        "target": "com.mercury.api#GetAccountStatementsRequest"
      },
      "output": {
        "target": "com.mercury.api#DepositoryAccountStatementsPaginatedResponse"
      },
      "errors": [
        {
          "target": "com.mercury.api#BadRequest"
        },
        {
          "target": "com.mercury.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/account/{accountId}/statements",
          "code": 200
        },
        "smithy.api#documentation": "Get account statements\n\nRetrieve a paginated list of monthly statements for a specific account. Supports cursor-based pagination with limit, order, start_after, and end_before query parameters, as well as date range filtering with start and end parameters."
      }
    },
    "com.mercury.api#GetTransactionRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "transactionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mercury.api#Transaction": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attachments": {
          "target": "com.mercury.api#TransactionAttachmentsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bankDescription": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "cardId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": " Id of the card behind this transaction, present on card payments and refunds (debit or\n credit); null otherwise, including for card-related fee transactions. Fetch the card's details\n (kind, cardholder, last four, etc.) via the Cards API (`GET /cards/{cardId}`). Supersedes the\n kind-specific `details.creditCardInfo.id` / `details.debitCardInfo.id`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "categoryData": {
          "target": "com.mercury.api#CategoryData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "checkNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": " Present for check deposits and mailed checks; Nothing otherwise.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "compliantWithReceiptPolicy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "counterpartyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "counterpartyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "counterpartyNickname": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "creditAccountPeriodId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "currencyExchangeInfo": {
          "target": "com.mercury.api#CurrencyExchangeInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "dashboardLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "com.mercury.api#TransactionMethodData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "estimatedDeliveryDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "externalMemo": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "failedAt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "feeId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "generalLedgerCodeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": " Deprecated: use transactionGlAllocations instead. This field does not reflect GL codes\n assigned via Mercury auto-categorization rules. Preserved for backwards compatibility.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "glAllocations": {
          "target": "com.mercury.api#TransactionGlAllocationsList",
          "traits": {
            "smithy.api#documentation": " GL code allocations assigned to this transaction via a connected accounting software\n integration (e.g. QuickBooks, Xero, NetSuite). Each allocation has a GL code name and\n the amount allocated to it; amounts sum to the transaction total when the transaction is\n fully categorized. Empty if no GL codes have been assigned. Distinct from Mercury custom\n categories (see transactionCategoryData).",
            "smithy.api#required": {}
          }
        },
        "hasGeneratedReceipt": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.mercury.api#TransactionKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "merchant": {
          "target": "com.mercury.api#TransactionMerchant",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mercuryCategory": {
          "target": "com.mercury.api#MercuryCategory",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "postedAt": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "reasonForFailure": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "relatedTransactions": {
          "target": "com.mercury.api#TransactionRelatedTransactionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.mercury.api#TransactionStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trackingNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": " Present for transactions that have tracking numbers (e.g., RTP, ACH, wires); Nothing otherwise.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#TransactionAttachment": {
      "type": "structure",
      "members": {
        "attachmentType": {
          "target": "com.mercury.api#TransactionAttachmentType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#TransactionAttachmentType": {
      "type": "enum",
      "members": {
        "CHECKIMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checkImage"
          }
        },
        "RECEIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "receipt"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#TransactionAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.mercury.api#TransactionAttachment"
      },
      "traits": {}
    },
    "com.mercury.api#CategoryData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": " The name of the category",
            "smithy.api#required": {}
          }
        },
        "visibleForCardSpend": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": " Whether this category is applicable to card transactions",
            "smithy.api#required": {}
          }
        },
        "visibleForOther": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": " Whether this category is applicable to all other transaction kinds",
            "smithy.api#required": {}
          }
        },
        "visibleForReimbursements": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": " Whether this category is applicable to expense reimbursement transactions",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " Represents an expense category for transaction classification."
      }
    },
    "com.mercury.api#CurrencyExchangeInfo": {
      "type": "structure",
      "members": {
        "convertedFromAmount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "convertedFromCurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "convertedToAmount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "convertedToCurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "exchangeRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": " Exchange rate goes from \"from currency\" to \"to currency\"\n (ie from currency * exchange rate = to currency)",
            "smithy.api#required": {}
          }
        },
        "feeAmount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "feePercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "feeTransactionId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#TransactionMethodData": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.mercury.api#AddressData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "creditCardInfo": {
          "target": "com.mercury.api#CreditCardInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "debitCardInfo": {
          "target": "com.mercury.api#DebitCardInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "domesticWireRoutingInfo": {
          "target": "com.mercury.api#DomesticWireRoutingInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "electronicRoutingInfo": {
          "target": "com.mercury.api#ElectronicRoutingInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "internationalWireRoutingInfo": {
          "target": "com.mercury.api#InternationalWireRoutingInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#AddressData": {
      "type": "structure",
      "members": {
        "address1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "address2": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.mercury.api#USState",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#USState": {
      "type": "enum",
      "members": {
        "AL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL"
          }
        },
        "AK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AK"
          }
        },
        "AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ"
          }
        },
        "AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AR"
          }
        },
        "CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA"
          }
        },
        "CO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CO"
          }
        },
        "CT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CT"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE"
          }
        },
        "DC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DC"
          }
        },
        "FL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FL"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "HI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HI"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID"
          }
        },
        "IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IL"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "IA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IA"
          }
        },
        "KS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KS"
          }
        },
        "KY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KY"
          }
        },
        "LA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LA"
          }
        },
        "ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ME"
          }
        },
        "MD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MD"
          }
        },
        "MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MA"
          }
        },
        "MI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MI"
          }
        },
        "MN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MN"
          }
        },
        "MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MS"
          }
        },
        "MO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MO"
          }
        },
        "MT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MT"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NE"
          }
        },
        "NV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NV"
          }
        },
        "NH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NH"
          }
        },
        "NJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NJ"
          }
        },
        "NM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NM"
          }
        },
        "NY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NY"
          }
        },
        "NC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NC"
          }
        },
        "ND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ND"
          }
        },
        "OH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OH"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        },
        "PA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PA"
          }
        },
        "RI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RI"
          }
        },
        "SC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SC"
          }
        },
        "SD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SD"
          }
        },
        "TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TN"
          }
        },
        "TX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TX"
          }
        },
        "UT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UT"
          }
        },
        "VT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VT"
          }
        },
        "VA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VA"
          }
        },
        "WA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WA"
          }
        },
        "WV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WV"
          }
        },
        "WI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WI"
          }
        },
        "WY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WY"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#CreditCardInfo": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "paymentMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#DebitCardInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#DomesticWireRoutingInfo": {
      "type": "structure",
      "members": {
        "accountNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "address": {
          "target": "com.mercury.api#AddressWithoutName",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "bankName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "routingNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#AddressWithoutName": {
      "type": "structure",
      "members": {
        "address1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "address2": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#ElectronicRoutingInfo": {
      "type": "structure",
      "members": {
        "accountNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "address": {
          "target": "com.mercury.api#AddressWithoutName",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "bankName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "electronicAccountType": {
          "target": "com.mercury.api#ElectronicAccountType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "routingNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#ElectronicAccountType": {
      "type": "enum",
      "members": {
        "BUSINESSCHECKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "businessChecking"
          }
        },
        "BUSINESSSAVINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "businessSavings"
          }
        },
        "PERSONALCHECKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personalChecking"
          }
        },
        "PERSONALSAVINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personalSavings"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWireRoutingInfo": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.mercury.api#AddressWithoutName",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "bankDetails": {
          "target": "com.mercury.api#SwiftCodeData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "correspondentInfo": {
          "target": "com.mercury.api#InternationalWireCorrespondentInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "countrySpecific": {
          "target": "com.mercury.api#InternationalWireCountrySpecificData",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "iban": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "swiftCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#SwiftCodeData": {
      "type": "structure",
      "members": {
        "bankCityState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bankCountry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bankName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWireCorrespondentInfo": {
      "type": "structure",
      "members": {
        "bankName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "routingNumber": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "swiftCode": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWireCountrySpecificData": {
      "type": "structure",
      "members": {
        "australia": {
          "target": "com.mercury.api#InternationalWireAustraliaSpecificData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "brazil": {
          "target": "com.mercury.api#InternationalWireBrazilSpecificData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "canada": {
          "target": "com.mercury.api#InternationalWireCanadaSpecificData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "chile": {
          "target": "com.mercury.api#InternationalWireChileSpecificData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "colombia": {
          "target": "com.mercury.api#InternationalWireColombiaSpecificData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "dominicanRepublic": {
          "target": "com.mercury.api#InternationalWireDominicanRepublicSpecificData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "honduras": {
          "target": "com.mercury.api#InternationalWireHondurasSpecificData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "india": {
          "target": "com.mercury.api#InternationalWireIndiaSpecificData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "kazakhstan": {
          "target": "com.mercury.api#InternationalWireKazakhstanSpecificData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "pakistan": {
          "target": "com.mercury.api#InternationalWirePakistanSpecificData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "paraguay": {
          "target": "com.mercury.api#InternationalWireParaguaySpecificData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "philippines": {
          "target": "com.mercury.api#InternationalWirePhilippinesSpecificData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "russia": {
          "target": "com.mercury.api#InternationalWireRussiaSpecificData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "southAfrica": {
          "target": "com.mercury.api#InternationalWireSouthAfricaSpecificData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWireAustraliaSpecificData": {
      "type": "structure",
      "members": {
        "bsbCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWireBrazilSpecificData": {
      "type": "structure",
      "members": {
        "legalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWireCanadaSpecificData": {
      "type": "structure",
      "members": {
        "bankCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transitNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWireChileSpecificData": {
      "type": "structure",
      "members": {
        "legalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWireColombiaSpecificData": {
      "type": "structure",
      "members": {
        "legalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWireDominicanRepublicSpecificData": {
      "type": "structure",
      "members": {
        "accountType": {
          "target": "com.mercury.api#SwiftBankAccountType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "legalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#SwiftBankAccountType": {
      "type": "enum",
      "members": {
        "CHECKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checking"
          }
        },
        "SAVINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "savings"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWireHondurasSpecificData": {
      "type": "structure",
      "members": {
        "accountType": {
          "target": "com.mercury.api#SwiftBankAccountType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "legalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWireIndiaSpecificData": {
      "type": "structure",
      "members": {
        "ifscCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWireKazakhstanSpecificData": {
      "type": "structure",
      "members": {
        "legalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWirePakistanSpecificData": {
      "type": "structure",
      "members": {
        "legalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "legalIdType": {
          "target": "com.mercury.api#PakistaniLegalIdType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#PakistaniLegalIdType": {
      "type": "enum",
      "members": {
        "CNIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNIC"
          }
        },
        "SNIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNIC"
          }
        },
        "PASSPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Passport"
          }
        },
        "NTN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NTN"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWireParaguaySpecificData": {
      "type": "structure",
      "members": {
        "legalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWirePhilippinesSpecificData": {
      "type": "structure",
      "members": {
        "routingNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWireRussiaSpecificData": {
      "type": "structure",
      "members": {
        "inn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#InternationalWireSouthAfricaSpecificData": {
      "type": "structure",
      "members": {
        "branchCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#GlAllocation": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": " The amount allocated to this GL code",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": " Optional user-provided description for this allocation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "glCodeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": " The name of the GL code from the connected accounting integration",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " A GL code allocation on a transaction — a GL code name paired with the amount\n allocated to it. When a transaction is fully categorized, the amounts across all\n allocations sum to the transaction total."
      }
    },
    "com.mercury.api#TransactionGlAllocationsList": {
      "type": "list",
      "member": {
        "target": "com.mercury.api#GlAllocation"
      },
      "traits": {
        "smithy.api#documentation": " GL code allocations assigned to this transaction via a connected accounting software\n integration (e.g. QuickBooks, Xero, NetSuite). Each allocation has a GL code name and\n the amount allocated to it; amounts sum to the transaction total when the transaction is\n fully categorized. Empty if no GL codes have been assigned. Distinct from Mercury custom\n categories (see transactionCategoryData)."
      }
    },
    "com.mercury.api#TransactionKind": {
      "type": "enum",
      "members": {
        "EXTERNALTRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "externalTransfer"
          }
        },
        "INTERNALTRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internalTransfer"
          }
        },
        "OUTGOINGPAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "outgoingPayment"
          }
        },
        "CREDITCARDCREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creditCardCredit"
          }
        },
        "CREDITCARDTRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creditCardTransaction"
          }
        },
        "DEBITCARDCREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "debitCardCredit"
          }
        },
        "DEBITCARDTRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "debitCardTransaction"
          }
        },
        "CARDINTERNATIONALTRANSACTIONFEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cardInternationalTransactionFee"
          }
        },
        "CARDINTERNATIONALTRANSACTIONFEEREBATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cardInternationalTransactionFeeRebate"
          }
        },
        "CARDINTERNATIONALTRANSACTIONFEEREVERSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cardInternationalTransactionFeeReversal"
          }
        },
        "CARDINTERNATIONALTRANSACTIONFEEREBATEREVERSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cardInternationalTransactionFeeRebateReversal"
          }
        },
        "INCOMINGDOMESTICWIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomingDomesticWire"
          }
        },
        "CHECKDEPOSIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checkDeposit"
          }
        },
        "INCOMINGINTERNATIONALWIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomingInternationalWire"
          }
        },
        "TREASURYTRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "treasuryTransfer"
          }
        },
        "CURRENCYCLOUDRETURN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "currencyCloudReturn"
          }
        },
        "WIREFEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wireFee"
          }
        },
        "PERSONALBANKINGSUBSCRIPTIONFEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personalBankingSubscriptionFee"
          }
        },
        "BILLINGENGINESUBSCRIPTIONFEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billingEngineSubscriptionFee"
          }
        },
        "EXPENSEREIMBURSEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expenseReimbursement"
          }
        },
        "EXOGENOUSWIREDRAWDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exogenousWireDrawdown"
          }
        },
        "INTERESTPAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "interestPayment"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#TransactionMerchant": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": " The transaction amount in the smallest unit of the merchant's currency\n (e.g., cents for USD/EUR, yen for JPY, fils for BHD).\n For debits this is negative, for credits positive.\n Use 'merchantCurrency' to determine the appropriate decimal scaling:\n most currencies use 2 decimal places (divide by 100), but JPY uses 0\n (no division needed) and BHD/KWD/OMR use 3 (divide by 1000).\n This is useful for international transactions where the merchant charges in a\n currency different from the account currency. Nothing if not available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "category": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "categoryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": " 4-digit merchant category code (MCC) for card transactions",
            "com.distilled.openapi#nullable": {}
          }
        },
        "currency": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": " Merchant ID for card transactions",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#MercuryCategory": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "ADVERTISING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Advertising"
          }
        },
        "AIRLINES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Airlines"
          }
        },
        "ALCOHOLANDBARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlcoholAndBars"
          }
        },
        "BOOKSANDNEWSPAPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BooksAndNewspaper"
          }
        },
        "CARRENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CarRental"
          }
        },
        "CHARITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Charity"
          }
        },
        "CLOTHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Clothing"
          }
        },
        "CONFERENCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Conferences"
          }
        },
        "EDUCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Education"
          }
        },
        "ELECTRONICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Electronics"
          }
        },
        "ENTERTAINMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Entertainment"
          }
        },
        "FACILITIESEXPENSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FacilitiesExpenses"
          }
        },
        "FEES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fees"
          }
        },
        "FOODDELIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FoodDelivery"
          }
        },
        "FUELANDGAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FuelAndGas"
          }
        },
        "GAMBLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Gambling"
          }
        },
        "GOVERNMENTSERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GovernmentServices"
          }
        },
        "GROCERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Grocery"
          }
        },
        "GROUNDTRANSPORTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GroundTransportation"
          }
        },
        "INSURANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Insurance"
          }
        },
        "INTERNETANDTELEPHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InternetAndTelephone"
          }
        },
        "LEGAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Legal"
          }
        },
        "LODGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lodging"
          }
        },
        "MEDICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medical"
          }
        },
        "MEMBERSHIPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Memberships"
          }
        },
        "OFFICESUPPLIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OfficeSupplies"
          }
        },
        "OTHERTRAVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OtherTravel"
          }
        },
        "PARKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Parking"
          }
        },
        "POLITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Political"
          }
        },
        "PROFESSIONALSERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProfessionalServices"
          }
        },
        "RESTAURANTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Restaurants"
          }
        },
        "RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Retail"
          }
        },
        "RIDESHAREANDTAXIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RideshareAndTaxis"
          }
        },
        "SHIPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Shipping"
          }
        },
        "SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Software"
          }
        },
        "TAXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Taxes"
          }
        },
        "UTILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Utilities"
          }
        },
        "VEHICLEEXPENSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VehicleExpenses"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#RelatedTransactionData": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "relationKind": {
          "target": "com.mercury.api#TransactionRelationKind",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " A Public API version of RelatedTransactionData."
      }
    },
    "com.mercury.api#TransactionRelationKind": {
      "type": "enum",
      "members": {
        "PROVISIONALCREDITREVERSALTOMERCHANTREFUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProvisionalCreditReversalToMerchantRefund"
          }
        },
        "MERCHANTREFUNDTOPROVISIONALCREDITREVERSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MerchantRefundToProvisionalCreditReversal"
          }
        },
        "MERCHANTREFUNDTOFRAUDULENTCHARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MerchantRefundToFraudulentCharge"
          }
        },
        "FRAUDULENTCHARGETOMERCHANTREFUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FraudulentChargeToMerchantRefund"
          }
        },
        "PAYMENTREFUNDTOFAILEDPAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PaymentRefundToFailedPayment"
          }
        },
        "FAILEDPAYMENTTOPAYMENTREFUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FailedPaymentToPaymentRefund"
          }
        },
        "GIFTCOMPENSATIONTOORIGINALTRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GiftCompensationToOriginalTransaction"
          }
        },
        "FEEPAYMENTTOORIGINALTRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FeePaymentToOriginalTransaction"
          }
        },
        "ORIGINALTRANSACTIONTOFEEPAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OriginalTransactionToFeePayment"
          }
        },
        "FEEPAYMENTTOFEEREBATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FeePaymentToFeeRebate"
          }
        },
        "FEEREBATETOFEEPAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FeeRebateToFeePayment"
          }
        },
        "FEEPAYMENTTOFEEREVERSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FeePaymentToFeeReversal"
          }
        },
        "FEEREVERSALTOFEEPAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FeeReversalToFeePayment"
          }
        },
        "FEEREBATETOFEEREBATEREVERSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FeeRebateToFeeRebateReversal"
          }
        },
        "FEEREBATEREVERSALTOFEEREBATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FeeRebateReversalToFeeRebate"
          }
        },
        "TREASURYSPLITLIQUIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TreasurySplitLiquidation"
          }
        },
        "PROVISIONALCREDITTOORIGINALCHARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProvisionalCreditToOriginalCharge"
          }
        },
        "ORIGINALCHARGETOPROVISIONALCREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OriginalChargeToProvisionalCredit"
          }
        },
        "FEEATMREIMBURSEMENTTOATMTRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FeeAtmReimbursementToAtmTransaction"
          }
        },
        "ATMTRANSACTIONTOFEEATMREIMBURSEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AtmTransactionToFeeAtmReimbursement"
          }
        },
        "ATMTRANSACTIONTOATMREIMBURSEMENTREVERSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AtmTransactionToAtmReimbursementReversal"
          }
        },
        "ATMREIMBURSEMENTREVERSALTOATMTRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AtmReimbursementReversalToAtmTransaction"
          }
        },
        "RETURNTOORIGINALTRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReturnToOriginalTransaction"
          }
        },
        "ORIGINALTRANSACTIONTORETURN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OriginalTransactionToReturn"
          }
        },
        "PROVISIONALCREDITTOREVERSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProvisionalCreditToReversal"
          }
        },
        "REVERSALTOPROVISIONALCREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReversalToProvisionalCredit"
          }
        },
        "MERCHANTREFUNDTOORIGINALCHARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MerchantRefundToOriginalCharge"
          }
        },
        "ORIGINALCHARGETOMERCHANTREFUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OriginalChargeToMerchantRefund"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#TransactionRelatedTransactionsList": {
      "type": "list",
      "member": {
        "target": "com.mercury.api#RelatedTransactionData"
      },
      "traits": {}
    },
    "com.mercury.api#TransactionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "SENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sent"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "REVERSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reversed"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#GetTransaction": {
      "type": "operation",
      "input": {
        "target": "com.mercury.api#GetTransactionRequest"
      },
      "output": {
        "target": "com.mercury.api#Transaction"
      },
      "errors": [
        {
          "target": "com.mercury.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/account/{accountId}/transaction/{transactionId}",
          "code": 200
        },
        "smithy.api#documentation": "Get transaction by ID"
      }
    },
    "com.mercury.api#ListAccountTransactionsRequestStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "SENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sent"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "REVERSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reversed"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#ListAccountTransactionsRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort order. Can be 'asc' or 'desc'. Defaults to 'desc'"
      }
    },
    "com.mercury.api#ListAccountTransactionsRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "start"
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "end"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search"
          }
        },
        "status": {
          "target": "com.mercury.api#ListAccountTransactionsRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status"
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset"
          }
        },
        "order": {
          "target": "com.mercury.api#ListAccountTransactionsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "requestId"
          }
        },
        "mercuryCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "mercuryCategory"
          }
        },
        "categoryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "categoryId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mercury.api#TransactionsResponse": {
      "type": "structure",
      "members": {
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transactions": {
          "target": "com.mercury.api#TransactionsResponseTransactionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#TransactionsResponseTransactionsList": {
      "type": "list",
      "member": {
        "target": "com.mercury.api#Transaction"
      },
      "traits": {}
    },
    "com.mercury.api#ListAccountTransactions": {
      "type": "operation",
      "input": {
        "target": "com.mercury.api#ListAccountTransactionsRequest"
      },
      "output": {
        "target": "com.mercury.api#TransactionsResponse"
      },
      "errors": [
        {
          "target": "com.mercury.api#BadRequest"
        },
        {
          "target": "com.mercury.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/account/{accountId}/transactions",
          "code": 200
        },
        "smithy.api#documentation": "List account transactions\n\nRetrieve a paginated list of transactions for a specific account. Supports filtering by date range, status, and search terms."
      }
    },
    "com.mercury.api#PostTransactionPaymentMethod": {
      "type": "enum",
      "members": {
        "ACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ach"
          }
        },
        "CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "check"
          }
        },
        "DOMESTICWIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domesticWire"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#CreateTransactionRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of USD you want to send, must be a positive number.",
            "smithy.api#required": {}
          }
        },
        "externalMemo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional external memo"
          }
        },
        "idempotencyKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique string identifying the transaction",
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional note"
          }
        },
        "paymentMethod": {
          "target": "com.mercury.api#PostTransactionPaymentMethod",
          "traits": {
            "smithy.api#documentation": "If domesticWire is used, then the purpose field is required.",
            "smithy.api#required": {}
          }
        },
        "purpose": {
          "target": "com.mercury.api#PostTransactionSendMoneyPurpose",
          "traits": {
            "smithy.api#documentation": "Purpose of payment with category and optional additional info. Required when paymentMethod is 'domesticWire'."
          }
        },
        "recipientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recipient ID from the /recipients endpoint.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mercury.api#CreateTransaction": {
      "type": "operation",
      "input": {
        "target": "com.mercury.api#CreateTransactionRequest"
      },
      "output": {
        "target": "com.mercury.api#Transaction"
      },
      "errors": [
        {
          "target": "com.mercury.api#BadRequest"
        },
        {
          "target": "com.mercury.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/account/{accountId}/transactions",
          "code": 200
        },
        "smithy.api#documentation": "Send money to a recipient\n\nSend money from an account to a recipient. Creates a transaction that will be processed immediately or may require approval."
      }
    },
    "com.mercury.api#GetAccountsRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort order. Can be 'asc' or 'desc'. Defaults to 'asc'"
      }
    },
    "com.mercury.api#GetAccountsRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "order": {
          "target": "com.mercury.api#GetAccountsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order"
          }
        },
        "start_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "start_after"
          }
        },
        "end_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "end_before"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.mercury.api#AccountsPaginatedResponse": {
      "type": "structure",
      "members": {
        "accounts": {
          "target": "com.mercury.api#AccountsPaginatedResponseAccountsList",
          "traits": {
            "smithy.api#documentation": " List of accounts in the current page",
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "com.mercury.api#AccountsPaginatedResponsePage",
          "traits": {
            "smithy.api#documentation": " Pagination information including cursors for navigating to next/previous pages",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " Paginated response containing a list of accounts.\n | Use the page cursor information to fetch additional pages of accounts."
      }
    },
    "com.mercury.api#Account": {
      "type": "structure",
      "members": {
        "accountNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "availableBalance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "canReceiveTransactions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "currentBalance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dashboardLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "legalBusinessName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "nickname": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "routingNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.mercury.api#AccountStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.mercury.api#AccountType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#AccountStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {}
    },
    "com.mercury.api#AccountType": {
      "type": "enum",
      "members": {
        "MERCURY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mercury"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "RECIPIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recipient"
          }
[...]
