{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.render.api#ListBlueprintsRequestOwnerIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.render.api#ListBlueprintsRequest": {
      "type": "structure",
      "members": {
        "ownerId": {
          "target": "com.render.api#ListBlueprintsRequestOwnerIdList",
          "traits": {
            "smithy.api#httpQuery": "ownerId",
            "smithy.api#documentation": "The ID of the workspaces to return resources for"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "The position in the result list to start from when fetching paginated results. For details, see [Pagination](https://api-docs.render.com/reference/pagination)."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The maximum number of items to return. For details, see [Pagination](https://api-docs.render.com/reference/pagination)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#BlueprintWithCursor": {
      "type": "structure",
      "members": {
        "blueprint": {
          "target": "com.render.api#Schema",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Blueprint with a cursor"
      }
    },
    "com.render.api#Schema": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.render.api#Status",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "autoSync": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastSync": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.render.api#Status": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        },
        "IN_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_sync"
          }
        },
        "SYNCING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syncing"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {}
    },
    "com.render.api#ListBlueprintsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.render.api#BlueprintWithCursor"
      },
      "traits": {}
    },
    "com.render.api#ListBlueprintsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.render.api#ListBlueprintsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.render.api#ListBlueprints": {
      "type": "operation",
      "input": {
        "target": "com.render.api#ListBlueprintsRequest"
      },
      "output": {
        "target": "com.render.api#ListBlueprintsResponse"
      },
      "errors": [
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/blueprints",
          "code": 200
        },
        "smithy.api#documentation": "List Blueprints\n\nList Blueprints for the specified workspaces. If no workspaces are provided, returns all Blueprints the API key has access to."
      }
    },
    "com.render.api#ValidateBlueprintRequest": {
      "type": "structure",
      "members": {
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the workspace to validate against. Obtain your workspace ID from its Settings page in the Render Dashboard.",
            "smithy.api#required": {}
          }
        },
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The render.yaml file to validate, as a binary file.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#ValidateBlueprintResponseErrorsItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the field with the error (e.g., `services[0].plan`)"
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message",
            "smithy.api#required": {}
          }
        },
        "line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The line number in the YAML file (1-indexed)"
          }
        },
        "column": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The column number in the YAML file (1-indexed)"
          }
        }
      },
      "traits": {}
    },
    "com.render.api#ValidateBlueprintResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.render.api#ValidateBlueprintResponseErrorsItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of validation errors. Only present if `valid` is `false`."
      }
    },
    "com.render.api#ValidateBlueprintResponsePlanServicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The names of services that would be created as part of the Blueprint."
      }
    },
    "com.render.api#ValidateBlueprintResponsePlanDatabasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The names of Render Postgres databases that would be created as part of the Blueprint."
      }
    },
    "com.render.api#ValidateBlueprintResponsePlanKeyValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The names of Render Key Value instances that would be created as part of the Blueprint."
      }
    },
    "com.render.api#ValidateBlueprintResponsePlanEnvGroupsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The names of environment groups that would be created as part of the Blueprint."
      }
    },
    "com.render.api#ValidateBlueprintResponsePlanWorkflowsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The names of workflows that would be created as part of the Blueprint."
      }
    },
    "com.render.api#ValidateBlueprintResponsePlan": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.render.api#ValidateBlueprintResponsePlanServicesList",
          "traits": {
            "smithy.api#documentation": "The names of services that would be created as part of the Blueprint."
          }
        },
        "databases": {
          "target": "com.render.api#ValidateBlueprintResponsePlanDatabasesList",
          "traits": {
            "smithy.api#documentation": "The names of Render Postgres databases that would be created as part of the Blueprint."
          }
        },
        "keyValue": {
          "target": "com.render.api#ValidateBlueprintResponsePlanKeyValueList",
          "traits": {
            "smithy.api#documentation": "The names of Render Key Value instances that would be created as part of the Blueprint."
          }
        },
        "envGroups": {
          "target": "com.render.api#ValidateBlueprintResponsePlanEnvGroupsList",
          "traits": {
            "smithy.api#documentation": "The names of environment groups that would be created as part of the Blueprint."
          }
        },
        "workflows": {
          "target": "com.render.api#ValidateBlueprintResponsePlanWorkflowsList",
          "traits": {
            "smithy.api#documentation": "The names of workflows that would be created as part of the Blueprint."
          }
        },
        "totalActions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of actions that would be performed by the Blueprint. In addition to created resources, this includes modifications to individual configuration fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A summary of the resources that would be created as part of the Blueprint. Only present if `valid` is `true`."
      }
    },
    "com.render.api#ValidateBlueprintResponse": {
      "type": "structure",
      "members": {
        "valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `true`, the Blueprint validated successfully. If `false`, at least one validation error occurred.",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.render.api#ValidateBlueprintResponseErrorsList",
          "traits": {
            "smithy.api#documentation": "A list of validation errors. Only present if `valid` is `false`."
          }
        },
        "plan": {
          "target": "com.render.api#ValidateBlueprintResponsePlan",
          "traits": {
            "smithy.api#documentation": "A summary of the resources that would be created as part of the Blueprint. Only present if `valid` is `true`."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.render.api#ValidateBlueprint": {
      "type": "operation",
      "input": {
        "target": "com.render.api#ValidateBlueprintRequest"
      },
      "output": {
        "target": "com.render.api#ValidateBlueprintResponse"
      },
      "errors": [
        {
          "target": "com.render.api#BadRequest"
        },
        {
          "target": "com.render.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/blueprints/validate",
          "code": 200,
          "contentType": "multipart"
        },
        "smithy.api#documentation": "Validate Blueprint\n\nValidate a `render.yaml` Blueprint file without creating or modifying any resources. This endpoint checks the syntax and structure of the Blueprint, validates that all required fields are present, and returns a plan indicating the resources that would be created.\n\nRequests to this endpoint use `Content-Type: multipart/form-data`. The request body (including the Blueprint file) cannot exceed 10MB in size.",
        "com.distilled.openapi#contentType": "multipart"
      }
    },
    "com.render.api#TeamMemberRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "WORKSPACE_CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKSPACE_CONTRIBUTOR"
          }
        },
        "WORKSPACE_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKSPACE_BILLING"
          }
        },
        "WORKSPACE_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKSPACE_VIEWER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The member's workspace role. Values are always returned in uppercase."
      }
    },
    "com.render.api#UpdateWorkspaceMemberRequest": {
      "type": "structure",
      "members": {
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the workspace to return resources for"
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the user (Render object ID with a `usr-` prefix)."
          }
        },
        "role": {
          "target": "com.render.api#TeamMemberRole",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#TeamMember": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.render.api#TeamMemberStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.render.api#TeamMemberRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mfaEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.render.api#TeamMemberStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        }
      },
      "traits": {}
    },
    "com.render.api#UpdateWorkspaceMember": {
      "type": "operation",
      "input": {
        "target": "com.render.api#UpdateWorkspaceMemberRequest"
      },
      "output": {
        "target": "com.render.api#TeamMember"
      },
      "errors": [
        {
          "target": "com.render.api#BadRequest"
        },
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        },
        {
          "target": "com.render.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/owners/{ownerId}/members/{userId}",
          "code": 200
        },
        "smithy.api#documentation": "Update workspace member role\n\nUpdate the role of an existing workspace member."
      }
    },
    "com.render.api#RemoveWorkspaceMemberRequest": {
      "type": "structure",
      "members": {
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the workspace to return resources for"
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the user (Render object ID with a `usr-` prefix)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#RemoveWorkspaceMember": {
      "type": "operation",
      "input": {
        "target": "com.render.api#RemoveWorkspaceMemberRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.render.api#BadRequest"
        },
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/owners/{ownerId}/members/{userId}",
          "code": 200
        },
        "smithy.api#documentation": "Remove workspace member\n\nRemove a user from the specified workspace."
      }
    },
    "com.render.api#RetrieveBlueprintRequest": {
      "type": "structure",
      "members": {
        "blueprintId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Blueprint"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#RetrieveBlueprintResponseStatus": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        },
        "IN_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_sync"
          }
        },
        "SYNCING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syncing"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {}
    },
    "com.render.api#RetrieveBlueprintResponseResourcesItemType": {
      "type": "enum",
      "members": {
        "STATIC_SITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "static_site"
          }
        },
        "WEB_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web_service"
          }
        },
        "PRIVATE_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private_service"
          }
        },
        "BACKGROUND_WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "background_worker"
          }
        },
        "CRON_JOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cron_job"
          }
        },
        "REDIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis"
          }
        },
        "KEY_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "key_value"
          }
        },
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "ENVIRONMENT_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "environment_group"
          }
        },
        "ARTIFACT_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "artifact_source"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "type of the resource (ex. web_service or postgres)"
      }
    },
    "com.render.api#RetrieveBlueprintResponseResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.render.api#RetrieveBlueprintResponseResourcesItemType",
          "traits": {
            "smithy.api#documentation": "type of the resource (ex. web_service or postgres)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.render.api#RetrieveBlueprintResponseResourcesList": {
      "type": "list",
      "member": {
        "target": "com.render.api#RetrieveBlueprintResponseResourcesItem"
      },
      "traits": {}
    },
    "com.render.api#RetrieveBlueprintResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.render.api#RetrieveBlueprintResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "autoSync": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastSync": {
          "target": "smithy.api#String"
        },
        "resources": {
          "target": "com.render.api#RetrieveBlueprintResponseResourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.render.api#RetrieveBlueprint": {
      "type": "operation",
      "input": {
        "target": "com.render.api#RetrieveBlueprintRequest"
      },
      "output": {
        "target": "com.render.api#RetrieveBlueprintResponse"
      },
      "errors": [
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/blueprints/{blueprintId}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve Blueprint\n\nRetrieve the Blueprint with the provided ID."
      }
    },
    "com.render.api#UpdateBlueprintRequest": {
      "type": "structure",
      "members": {
        "blueprintId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Blueprint"
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "autoSync": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Automatically sync changes to render.yaml"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the Blueprint file in the repository"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#UpdateBlueprintResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.render.api#Status",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "autoSync": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastSync": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.render.api#UpdateBlueprint": {
      "type": "operation",
      "input": {
        "target": "com.render.api#UpdateBlueprintRequest"
      },
      "output": {
        "target": "com.render.api#UpdateBlueprintResponse"
      },
      "errors": [
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/blueprints/{blueprintId}",
          "code": 200
        },
        "smithy.api#documentation": "Update Blueprint\n\nUpdate the Blueprint with the provided ID."
      }
    },
    "com.render.api#DisconnectBlueprintRequest": {
      "type": "structure",
      "members": {
        "blueprintId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Blueprint"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#DisconnectBlueprint": {
      "type": "operation",
      "input": {
        "target": "com.render.api#DisconnectBlueprintRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/blueprints/{blueprintId}",
          "code": 200
        },
        "smithy.api#documentation": "Disconnect Blueprint\n\nDisconnect the Blueprint with the provided ID.\n\nDisconnecting a Blueprint stops automatic resource syncing via the associated `render.yaml` file. It does not _delete_ any services or other resources that were managed by the blueprint."
      }
    },
    "com.render.api#ListBlueprintSyncsRequest": {
      "type": "structure",
      "members": {
        "blueprintId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Blueprint"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "The position in the result list to start from when fetching paginated results. For details, see [Pagination](https://api-docs.render.com/reference/pagination)."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The maximum number of items to return. For details, see [Pagination](https://api-docs.render.com/reference/pagination)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#SyncWithCursor": {
      "type": "structure",
      "members": {
        "sync": {
          "target": "com.render.api#SyncWithCursorSync",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Blueprint sync with a cursor"
      }
    },
    "com.render.api#SyncWithCursorSyncCommit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.render.api#SyncWithCursorSyncState": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        }
      },
      "traits": {}
    },
    "com.render.api#SyncWithCursorSync": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commit": {
          "target": "com.render.api#SyncWithCursorSyncCommit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startedAt": {
          "target": "smithy.api#String"
        },
        "completedAt": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.render.api#SyncWithCursorSyncState",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.render.api#ListBlueprintSyncsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.render.api#SyncWithCursor"
      },
      "traits": {}
    },
    "com.render.api#ListBlueprintSyncsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.render.api#ListBlueprintSyncsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.render.api#ListBlueprintSyncs": {
      "type": "operation",
      "input": {
        "target": "com.render.api#ListBlueprintSyncsRequest"
      },
      "output": {
        "target": "com.render.api#ListBlueprintSyncsResponse"
      },
      "errors": [
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/blueprints/{blueprintId}/syncs",
          "code": 200
        },
        "smithy.api#documentation": "List Blueprint syncs\n\nList syncs for the Blueprint with the provided ID."
      }
    },
    "com.render.api#ListDedicatedIpsRequest": {
      "type": "structure",
      "members": {
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ownerId",
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the workspace to list dedicated IP sets for."
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "environmentId",
            "smithy.api#documentation": "Filter dedicated IP sets limited to this environment. Excludes workspace-scoped dedicated IP sets.\n\nThe environment must belong to the workspace named by `ownerId`.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#DedicatedIP": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this dedicated IP set.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Descriptive name for this dedicated IP set.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form description for this dedicated IP set.",
            "smithy.api#required": {}
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the workspace that owns this dedicated IP set.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.render.api#Region",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environmentIds": {
          "target": "com.render.api#DedicatedIPEnvironmentIdsList",
          "traits": {
            "smithy.api#documentation": "Environments this dedicated IP set applies to. If empty, it applies to all services in the workspace within its region.\n",
            "smithy.api#required": {}
          }
        },
        "ips": {
          "target": "com.render.api#DedicatedIPIpsList",
          "traits": {
            "smithy.api#documentation": "The IPv4 addresses assigned to this dedicated IP set.\n",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.render.api#DedicatedIPStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the dedicated IP set was created.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the dedicated IP set was last updated."
          }
        }
      },
      "traits": {}
    },
    "com.render.api#Region": {
      "type": "enum",
      "members": {
        "FRANKFURT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "frankfurt"
          }
        },
        "OREGON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oregon"
          }
        },
        "OHIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ohio"
          }
        },
        "SINGAPORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "singapore"
          }
        },
        "VIRGINIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "virginia"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defaults to \"oregon\""
      }
    },
    "com.render.api#DedicatedIPEnvironmentIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Environments this dedicated IP set applies to. If empty, it applies to all services in the workspace within its region.\n"
      }
    },
    "com.render.api#DedicatedIPIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The IPv4 addresses assigned to this dedicated IP set.\n"
      }
    },
    "com.render.api#DedicatedIPStatus": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current status of a dedicated IP set."
      }
    },
    "com.render.api#ListDedicatedIpsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.render.api#DedicatedIP"
      },
      "traits": {}
    },
    "com.render.api#ListDedicatedIpsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.render.api#ListDedicatedIpsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.render.api#ListDedicatedIps": {
      "type": "operation",
      "input": {
        "target": "com.render.api#ListDedicatedIpsRequest"
      },
      "output": {
        "target": "com.render.api#ListDedicatedIpsResponse"
      },
      "errors": [
        {
          "target": "com.render.api#BadRequest"
        },
        {
          "target": "com.render.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dedicated-ips",
          "code": 200
        },
        "smithy.api#documentation": "List dedicated IPs\n\nList dedicated IP sets for a workspace."
      }
    },
    "com.render.api#CreateDedicatedIpRequestEnvironmentIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Environments to scope the dedicated IP set to. If omitted or empty, it applies to all services in the workspace within its region.\n"
      }
    },
    "com.render.api#CreateDedicatedIpRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name for the dedicated IP set.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form description for the dedicated IP set."
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the workspace that will own this dedicated IP set.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.render.api#Region",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environmentIds": {
          "target": "com.render.api#CreateDedicatedIpRequestEnvironmentIdsList",
          "traits": {
            "smithy.api#documentation": "Environments to scope the dedicated IP set to. If omitted or empty, it applies to all services in the workspace within its region.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#CreateDedicatedIp": {
      "type": "operation",
      "input": {
        "target": "com.render.api#CreateDedicatedIpRequest"
      },
      "output": {
        "target": "com.render.api#DedicatedIP"
      },
      "errors": [
        {
          "target": "com.render.api#BadRequest"
        },
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/dedicated-ips",
          "code": 200
        },
        "smithy.api#documentation": "Create dedicated IP set\n\nCreate a dedicated IP set. Provisioning an IP set is asynchronous. The response returns immediately with `status: CREATING` and `ips: []`. When provisioning completes, status changes to `RUNNING` and `ips` contains your assigned addresses.\n\nIf `environmentIds` is omitted or empty, this IP set applies to all services in the workspace in the selected region. Otherwise, it applies only to services in the listed environments in that region."
      }
    },
    "com.render.api#RetrieveDedicatedIpRequest": {
      "type": "structure",
      "members": {
        "dedicatedIpId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the dedicated IP set"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#RetrieveDedicatedIp": {
      "type": "operation",
      "input": {
        "target": "com.render.api#RetrieveDedicatedIpRequest"
      },
      "output": {
        "target": "com.render.api#DedicatedIP"
      },
      "errors": [
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dedicated-ips/{dedicatedIpId}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve dedicated IP set\n\nRetrieve the dedicated IP set with the provided ID."
      }
    },
    "com.render.api#UpdateDedicatedIpRequestEnvironmentIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.render.api#UpdateDedicatedIpRequest": {
      "type": "structure",
      "members": {
        "dedicatedIpId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the dedicated IP set"
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "environmentIds": {
          "target": "com.render.api#UpdateDedicatedIpRequestEnvironmentIdsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#UpdateDedicatedIp": {
      "type": "operation",
      "input": {
        "target": "com.render.api#UpdateDedicatedIpRequest"
      },
      "output": {
        "target": "com.render.api#DedicatedIP"
      },
      "errors": [
        {
          "target": "com.render.api#BadRequest"
        },
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        },
        {
          "target": "com.render.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/dedicated-ips/{dedicatedIpId}",
          "code": 200
        },
        "smithy.api#documentation": "Update dedicated IP set\n\nUpdate the dedicated IP set with the provided ID. All fields are optional. Omitted fields are left unchanged. To switch from environment-scoped to workspace-scoped, provide `environmentIds: []`."
      }
    },
    "com.render.api#DeleteDedicatedIpRequest": {
      "type": "structure",
      "members": {
        "dedicatedIpId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the dedicated IP set"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#DeleteDedicatedIp": {
      "type": "operation",
      "input": {
        "target": "com.render.api#DeleteDedicatedIpRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/dedicated-ips/{dedicatedIpId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete dedicated IP set\n\nDelete the dedicated IP set with the provided ID."
      }
    },
    "com.render.api#ListDisksRequestOwnerIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.render.api#ListDisksRequestDiskIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.render.api#ListDisksRequestNameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.render.api#ListDisksRequestServiceIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.render.api#ListDisksRequest": {
      "type": "structure",
      "members": {
        "ownerId": {
          "target": "com.render.api#ListDisksRequestOwnerIdList",
          "traits": {
            "smithy.api#httpQuery": "ownerId",
            "smithy.api#documentation": "The ID of the workspaces to return resources for"
          }
        },
        "diskId": {
          "target": "com.render.api#ListDisksRequestDiskIdList",
          "traits": {
            "smithy.api#httpQuery": "diskId",
            "smithy.api#documentation": "Filter by disk IDs"
          }
        },
        "name": {
          "target": "com.render.api#ListDisksRequestNameList",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Filter by name"
          }
        },
        "createdBefore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "createdBefore",
            "smithy.api#documentation": "Filter for resources created before a certain time (specified as an ISO 8601 timestamp)"
          }
        },
        "createdAfter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "createdAfter",
            "smithy.api#documentation": "Filter for resources created after a certain time (specified as an ISO 8601 timestamp)"
          }
        },
        "updatedBefore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "updatedBefore",
            "smithy.api#documentation": "Filter for resources updated before a certain time (specified as an ISO 8601 timestamp)"
          }
        },
        "updatedAfter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "updatedAfter",
            "smithy.api#documentation": "Filter for resources updated after a certain time (specified as an ISO 8601 timestamp)"
          }
        },
        "serviceId": {
          "target": "com.render.api#ListDisksRequestServiceIdList",
          "traits": {
            "smithy.api#httpQuery": "serviceId",
            "smithy.api#documentation": "Filter for resources by service ID"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "The position in the result list to start from when fetching paginated results. For details, see [Pagination](https://api-docs.render.com/reference/pagination)."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The maximum number of items to return. For details, see [Pagination](https://api-docs.render.com/reference/pagination)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#DiskWithCursor": {
      "type": "structure",
      "members": {
        "disk": {
          "target": "com.render.api#Schema2",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.render.api#Schema2": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serviceId": {
          "target": "smithy.api#String"
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.render.api#ListDisksResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.render.api#DiskWithCursor"
      },
      "traits": {}
    },
    "com.render.api#ListDisksResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.render.api#ListDisksResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.render.api#ListDisks": {
      "type": "operation",
      "input": {
        "target": "com.render.api#ListDisksRequest"
      },
      "output": {
        "target": "com.render.api#ListDisksResponse"
      },
      "errors": [
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/disks",
          "code": 200
        },
        "smithy.api#documentation": "List disks\n\nList persistent disks matching the provided filters. If no filters are provided, returns all disks you have permissions to view."
      }
    },
    "com.render.api#AddDiskRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#AddDiskResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serviceId": {
          "target": "smithy.api#String"
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.render.api#AddDisk": {
      "type": "operation",
      "input": {
        "target": "com.render.api#AddDiskRequest"
      },
      "output": {
        "target": "com.render.api#AddDiskResponse"
      },
      "errors": [
        {
          "target": "com.render.api#BadRequest"
        },
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/disks",
          "code": 200
        },
        "smithy.api#documentation": "Add disk\n\nAttach a persistent disk to a web service, private service, or background worker.\n\nThe service must be redeployed for the disk to be attached."
      }
    },
    "com.render.api#RetrieveDiskRequest": {
      "type": "structure",
      "members": {
        "diskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the disk"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#RetrieveDisk": {
      "type": "operation",
      "input": {
        "target": "com.render.api#RetrieveDiskRequest"
      },
      "output": {
        "target": "com.render.api#Schema2"
      },
      "errors": [
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/disks/{diskId}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve disk\n\nRetrieve the persistent disk with the provided ID."
      }
    },
    "com.render.api#UpdateDiskRequest": {
      "type": "structure",
      "members": {
        "diskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the disk"
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "sizeGB": {
          "target": "smithy.api#Integer"
        },
        "mountPath": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#UpdateDisk": {
      "type": "operation",
      "input": {
        "target": "com.render.api#UpdateDiskRequest"
      },
      "output": {
        "target": "com.render.api#Schema2"
      },
      "errors": [
        {
          "target": "com.render.api#BadRequest"
        },
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/disks/{diskId}",
          "code": 200
        },
        "smithy.api#documentation": "Update disk\n\nUpdate the persistent disk with the provided ID.\n\nThe disk's associated service must be deployed and active for updates to take effect.\n\nWhen resizing a disk, the new size must be greater than the current size."
      }
    },
    "com.render.api#DeleteDiskRequest": {
      "type": "structure",
      "members": {
        "diskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the disk"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#DeleteDisk": {
      "type": "operation",
      "input": {
        "target": "com.render.api#DeleteDiskRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/disks/{diskId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete disk\n\nDelete a persistent disk attached to a service.\n\n**All data on the disk will be lost.** The disk's associated service will immediately lose access to it."
      }
    },
    "com.render.api#ListSnapshotsRequest": {
      "type": "structure",
      "members": {
        "diskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the disk"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#DiskSnapshot": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String"
        },
        "snapshotKey": {
          "target": "smithy.api#String"
        },
        "instanceId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.render.api#ListSnapshotsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.render.api#DiskSnapshot"
      },
      "traits": {}
    },
    "com.render.api#ListSnapshotsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.render.api#ListSnapshotsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.render.api#ListSnapshots": {
      "type": "operation",
      "input": {
        "target": "com.render.api#ListSnapshotsRequest"
      },
      "output": {
        "target": "com.render.api#ListSnapshotsResponse"
      },
      "errors": [
        {
          "target": "com.render.api#BadRequest"
        },
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/disks/{diskId}/snapshots",
          "code": 200
        },
        "smithy.api#documentation": "List snapshots\n\nList snapshots for the persistent disk with the provided ID. Each snapshot is a point-in-time copy of the disk's data."
      }
    },
    "com.render.api#RestoreSnapshotRequest": {
      "type": "structure",
      "members": {
        "diskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the disk"
          }
        },
        "snapshotKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#RestoreSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.render.api#RestoreSnapshotRequest"
      },
      "output": {
        "target": "com.render.api#Schema2"
      },
      "errors": [
        {
          "target": "com.render.api#BadRequest"
        },
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/disks/{diskId}/snapshots/restore",
          "code": 200
        },
        "smithy.api#documentation": "Restore snapshot\n\nRestore a persistent disk to an available snapshot.\n\n**This operation is irreversible.** It will overwrite the current disk data. It might also trigger a service deploy.\n\nSnapshot keys returned from the [List snapshots](https://api-docs.render.com/reference/list-snapshots) endpoint expire after 24 hours. If a snapshot key has expired, query the endpoint again for a new key."
      }
    },
    "com.render.api#User": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.render.api#GetUser": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.render.api#User"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/users",
          "code": 200
        },
        "smithy.api#documentation": "Get the authenticated user\n\nRetrieve the user associated with the provided API key."
      }
    },
    "com.render.api#ListOwnersRequestNameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.render.api#ListOwnersRequestEmailList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.render.api#ListOwnersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.render.api#ListOwnersRequestNameList",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Only return workspaces with one of the provided names. Only exact matches are returned."
          }
        },
        "email": {
          "target": "com.render.api#ListOwnersRequestEmailList",
          "traits": {
            "smithy.api#httpQuery": "email",
            "smithy.api#documentation": "Only return workspaces owned by one of the provided email addresses."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "The position in the result list to start from when fetching paginated results. For details, see [Pagination](https://api-docs.render.com/reference/pagination)."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The maximum number of items to return. For details, see [Pagination](https://api-docs.render.com/reference/pagination)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#OwnerWithCursor": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "com.render.api#Owner"
        },
        "cursor": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.render.api#Owner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipAllowList": {
          "target": "com.render.api#OwnerIpAllowListList"
        },
        "twoFactorAuthEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether two-factor authentication is enabled for the owner. Only present if `type` is `user`."
          }
        },
        "type": {
          "target": "com.render.api#OwnerType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.render.api#CidrBlockAndDescription": {
      "type": "structure",
      "members": {
        "cidrBlock": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided description of the CIDR block",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.render.api#OwnerIpAllowListList": {
      "type": "list",
      "member": {
        "target": "com.render.api#CidrBlockAndDescription"
      },
      "traits": {}
    },
    "com.render.api#OwnerType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        }
      },
      "traits": {}
    },
    "com.render.api#ListOwnersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.render.api#OwnerWithCursor"
      },
      "traits": {}
    },
    "com.render.api#ListOwnersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.render.api#ListOwnersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.render.api#ListOwners": {
      "type": "operation",
      "input": {
        "target": "com.render.api#ListOwnersRequest"
      },
      "output": {
        "target": "com.render.api#ListOwnersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/owners",
          "code": 200
        },
        "smithy.api#documentation": "List workspaces\n\nList the workspaces that your API key has access to, optionally filtered by name or owner email address."
      }
    },
    "com.render.api#RetrieveOwnerRequest": {
      "type": "structure",
      "members": {
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the user or team"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#RetrieveOwner": {
      "type": "operation",
      "input": {
        "target": "com.render.api#RetrieveOwnerRequest"
      },
      "output": {
        "target": "com.render.api#Owner"
      },
      "errors": [
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/owners/{ownerId}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve workspace\n\nRetrieve the workspace with the provided ID.\n\nWorkspace IDs start with `tea-`. If you provide a user ID (starts with `own-`), this endpoint returns the user's default workspace."
      }
    },
    "com.render.api#RetrieveOwnerMembersRequest": {
      "type": "structure",
      "members": {
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the team"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#TeamMembers": {
      "type": "list",
      "member": {
        "target": "com.render.api#TeamMember"
      },
      "traits": {}
    },
    "com.render.api#RetrieveOwnerMembersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.render.api#TeamMembers",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.render.api#RetrieveOwnerMembers": {
      "type": "operation",
      "input": {
        "target": "com.render.api#RetrieveOwnerMembersRequest"
      },
      "output": {
        "target": "com.render.api#RetrieveOwnerMembersResponse"
      },
      "errors": [
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/owners/{ownerId}/members",
          "code": 200
        },
        "smithy.api#documentation": "List workspace members\n\nRetrieves the list of users belonging to the workspace with the provided ID."
      }
    },
    "com.render.api#ListOwnerAuditLogsRequestDirection": {
      "type": "enum",
      "members": {
        "FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forward"
          }
        },
        "BACKWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backward"
          }
        }
      },
      "traits": {}
    },
    "com.render.api#ListOwnerAuditLogsRequest": {
      "type": "structure",
      "members": {
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the workspace to return resources for"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "startTime",
            "smithy.api#documentation": "Start time for filtering audit logs (ISO 8601 format)"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "endTime",
            "smithy.api#documentation": "End time for filtering audit logs (ISO 8601 format)"
          }
        },
        "direction": {
          "target": "com.render.api#ListOwnerAuditLogsRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "The direction to query logs for. Backward will return most recent logs first.\nForward will start with the oldest logs in the time range.\n"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "The position in the result list to start from when fetching paginated results. For details, see [Pagination](https://api-docs.render.com/reference/pagination)."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The maximum number of audit log items to return. For details, see [Pagination](https://api-docs.render.com/reference/pagination)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#AuditLogWithCursor": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "auditLog": {
          "target": "com.render.api#AuditLog",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.render.api#AuditLog": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the audit log entry",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the event occurred (ISO 8601 format)",
            "smithy.api#required": {}
          }
        },
        "event": {
          "target": "com.render.api#AuditLogEvent",
          "traits": {
            "smithy.api#documentation": "The type of event that occurred",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.render.api#AuditLogStatus",
          "traits": {
            "smithy.api#documentation": "The status of the event",
            "smithy.api#required": {}
          }
        },
        "actor": {
          "target": "com.render.api#AuditLogActor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.render.api#AuditLogMetadataMap",
          "traits": {
            "smithy.api#documentation": "Additional context information about the event",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.render.api#AuditLogEvent": {
      "type": "enum",
      "members": {
        "ACCEPTORGINVITEEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AcceptOrgInviteEvent"
          }
        },
        "ACCEPTTEAMINVITEEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AcceptTeamInviteEvent"
          }
        },
        "ADDORGMEMBEREVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AddOrgMemberEvent"
          }
        },
        "APPLYBLUEPRINTEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ApplyBlueprintEvent"
          }
        },
        "CHANGEENVIRONMENTPROTECTIONEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangeEnvironmentProtectionEvent"
          }
        },
        "CHANGEORG2FAENFORCEMENTEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangeOrg2FAEnforcementEvent"
          }
        },
        "CHANGEORGALLOWEDLOGINMETHODSEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangeOrgAllowedLoginMethodsEvent"
          }
        },
        "CHANGEORGNAMEEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangeOrgNameEvent"
          }
        },
        "CHANGEORGROLEEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangeOrgRoleEvent"
          }
        },
        "CHANGETEAM2FAENFORCEMENTEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangeTeam2FAEnforcementEvent"
          }
        },
        "CHANGETEAMALLOWEDLOGINMETHODSEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangeTeamAllowedLoginMethodsEvent"
          }
        },
        "CHANGETEAMMEMBERROLEEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangeTeamMemberRoleEvent"
          }
        },
        "CHANGEWORKSPACEDEPLOYHANDLINGEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangeWorkspaceDeployHandlingEvent"
          }
        },
        "CHANGEWORKSPACEPRIVACYEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangeWorkspacePrivacyEvent"
          }
        },
        "CREATEARTIFACTSOURCEEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateArtifactSourceEvent"
          }
        },
        "CREATECRONJOBEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateCronJobEvent"
          }
        },
        "CREATEENVVARSEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateEnvVarsEvent"
          }
        },
        "CREATEENVIRONMENTEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateEnvironmentEvent"
          }
        },
        "CREATEORGDOMAINEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateOrgDomainEvent"
          }
        },
        "CREATEOTELINTEGRATIONEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateOtelIntegrationEvent"
          }
        },
        "CREATEPOSTGRESEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreatePostgresEvent"
          }
        },
        "CREATEPRIVATELINKEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreatePrivateLinkEvent"
          }
        },
        "CREATEPROJECTEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateProjectEvent"
          }
        },
        "CREATEREDISEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateRedisEvent"
          }
        },
        "CREATESSOCONNECTIONEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateSSOConnectionEvent"
          }
        },
        "CREATESAVEDSEARCHEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateSavedSearchEvent"
          }
        },
        "CREATESERVERDISKEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateServerDiskEvent"
          }
        },
        "CREATESERVEREVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateServerEvent"
          }
        },
        "CREATEWEBHOOKEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateWebhookEvent"
          }
        },
        "CREATEWORKSPACEEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateWorkspaceEvent"
          }
        },
        "DELETECRONJOBEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteCronJobEvent"
          }
        },
        "DELETEENVGROUPEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteEnvGroupEvent"
          }
        },
        "DELETEENVVARSEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteEnvVarsEvent"
          }
        },
        "DELETEENVIRONMENTEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteEnvironmentEvent"
          }
        },
        "DELETEORGDOMAINEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteOrgDomainEvent"
          }
        },
        "DELETEOTELINTEGRATIONEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteOtelIntegrationEvent"
          }
        },
        "DELETEPOSTGRESEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeletePostgresEvent"
          }
        },
        "DELETEPRIVATELINKEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeletePrivateLinkEvent"
          }
        },
        "DELETEPROJECTEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteProjectEvent"
          }
        },
        "DELETEREDISEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteRedisEvent"
          }
        },
        "DELETESSOCONNECTIONEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteSSOConnectionEvent"
          }
        },
        "DELETESAVEDSEARCHEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteSavedSearchEvent"
          }
        },
        "DELETESERVERDISKEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteServerDiskEvent"
          }
        },
        "DELETESERVEREVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteServerEvent"
          }
        },
        "DELETEWEBHOOKEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteWebhookEvent"
          }
        },
        "DELETEWORKSPACEEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteWorkspaceEvent"
          }
        },
        "DOCUMENTDOWNLOADEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DocumentDownloadEvent"
          }
        },
        "DOWNLOADDATABASEBACKUPEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DownloadDatabaseBackupEvent"
          }
        },
        "ENABLEREDISINTERNALAUTHEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnableRedisInternalAuthEvent"
          }
        },
        "INVITETOORGEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InviteToOrgEvent"
          }
        },
        "INVITETOTEAMEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InviteToTeamEvent"
          }
        },
        "JOINTEAMEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JoinTeamEvent"
          }
        },
        "LOGINEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LoginEvent"
          }
        },
        "LOGOUTEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LogoutEvent"
          }
        },
        "MAINTENANCEMODEENABLEDEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MaintenanceModeEnabledEvent"
          }
        },
        "MAINTENANCEMODEURIUPDATEDEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MaintenanceModeURIUpdatedEvent"
          }
        },
        "MOVEENVIRONMENTRESOURCEEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MoveEnvironmentResourceEvent"
          }
        },
        "PROVISIONORGANIZATIONSCIMTOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProvisionOrganizationSCIMToken"
          }
        },
        "REMOVEORGMEMBEREVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RemoveOrgMemberEvent"
          }
        },
        "REMOVEUSERFROMTEAMEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RemoveUserFromTeamEvent"
          }
        },
        "RESTOREDISKSNAPSHOTEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RestoreDiskSnapshotEvent"
          }
        },
        "RESUMEPOSTGRESEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResumePostgresEvent"
          }
        },
        "RESUMESERVICEEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResumeServiceEvent"
          }
        },
        "REVOKEORGANIZATIONSCIMTOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RevokeOrganizationSCIMToken"
          }
        },
        "SIGNNDAEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SignNDAEvent"
          }
        },
        "ENDSHELLEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EndShellEvent"
          }
        },
        "STARTSHELLEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StartShellEvent"
          }
        },
        "SUSPENDPOSTGRESEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SuspendPostgresEvent"
          }
        },
        "SUSPENDSERVICEEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SuspendServiceEvent"
          }
        },
        "UPDATEENVVARSEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateEnvVarsEvent"
          }
        },
        "UPDATEIPALLOWLISTEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateIPAllowListEvent"
          }
        },
        "UPDATEOTELINTEGRATIONEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateOtelIntegrationEvent"
          }
        },
        "UPDATESSOCONNECTIONEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateSSOConnectionEvent"
          }
        },
        "UPDATESERVICENAMEEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateServiceNameEvent"
          }
        },
        "UPDATEWEBHOOKEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateWebhookEvent"
          }
        },
        "VERIFYORGDOMAINEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VerifyOrgDomainEvent"
          }
        },
        "VIEWCONNECTIONINFOEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ViewConnectionInfoEvent"
          }
        },
        "VIEWENVVARVALUESEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ViewEnvVarValuesEvent"
          }
        },
        "GRANTOAUTHACCESSEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GrantOAuthAccessEvent"
          }
        },
        "REVOKEOAUTHACCESSEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RevokeOAuthAccessEvent"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of event that occurred"
      }
    },
    "com.render.api#AuditLogStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the event"
      }
    },
    "com.render.api#AuditLogActor": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.render.api#AuditLogActorType",
          "traits": {
            "smithy.api#documentation": "The type of actor that performed the action",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the actor (if applicable)"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the actor (if applicable)"
          }
        }
      },
      "traits": {}
    },
    "com.render.api#AuditLogActorType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "REST_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rest_api"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of actor that performed the action"
      }
    },
    "com.render.api#AuditLogMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Additional context information about the event"
      }
    },
    "com.render.api#ListOwnerAuditLogsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.render.api#AuditLogWithCursor"
      },
      "traits": {}
    },
    "com.render.api#ListOwnerAuditLogsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.render.api#ListOwnerAuditLogsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.render.api#ListOwnerAuditLogs": {
      "type": "operation",
      "input": {
        "target": "com.render.api#ListOwnerAuditLogsRequest"
      },
      "output": {
        "target": "com.render.api#ListOwnerAuditLogsResponse"
      },
      "errors": [
        {
          "target": "com.render.api#BadRequest"
        },
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/owners/{ownerId}/audit-logs",
          "code": 200
        },
        "smithy.api#documentation": "List workspace audit logs\n\nRetrieve audit logs for a specific workspace with optional filtering and pagination."
      }
    },
    "com.render.api#ListOrganizationAuditLogsRequestDirection": {
      "type": "enum",
      "members": {
        "FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forward"
          }
        },
        "BACKWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backward"
          }
        }
      },
      "traits": {}
    },
    "com.render.api#ListOrganizationAuditLogsRequest": {
      "type": "structure",
      "members": {
        "orgId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the organization"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "startTime",
            "smithy.api#documentation": "Start time for filtering audit logs (ISO 8601 format)"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "endTime",
            "smithy.api#documentation": "End time for filtering audit logs (ISO 8601 format)"
          }
        },
        "direction": {
          "target": "com.render.api#ListOrganizationAuditLogsRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "The direction to query logs for. Backward will return most recent logs first.\nForward will start with the oldest logs in the time range.\n"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "The position in the result list to start from when fetching paginated results. For details, see [Pagination](https://api-docs.render.com/reference/pagination)."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The maximum number of audit log items to return. For details, see [Pagination](https://api-docs.render.com/reference/pagination)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#ListOrganizationAuditLogsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.render.api#AuditLogWithCursor"
      },
      "traits": {}
    },
    "com.render.api#ListOrganizationAuditLogsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.render.api#ListOrganizationAuditLogsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.render.api#ListOrganizationAuditLogs": {
      "type": "operation",
      "input": {
        "target": "com.render.api#ListOrganizationAuditLogsRequest"
      },
      "output": {
        "target": "com.render.api#ListOrganizationAuditLogsResponse"
      },
      "errors": [
        {
          "target": "com.render.api#BadRequest"
        },
        {
          "target": "com.render.api#Forbidden"
        },
        {
          "target": "com.render.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{orgId}/audit-logs",
          "code": 200
        },
        "smithy.api#documentation": "List organization audit logs\n\nRetrieve audit logs for a specific organization with optional filtering and pagination."
      }
    },
    "com.render.api#RetrieveOwnerNotificationSettingsRequest": {
      "type": "structure",
      "members": {
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the workspace to return resources for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.render.api#NotificationsToSend": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
