{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.squarespace.api#GetTransactionsSummariesRequestContactIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.squarespace.api#GetTransactionsSummariesRequestGroupBy": {
      "type": "enum",
      "members": {
        "CONTACTID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contactId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Field to group results by, should be a contactId"
      }
    },
    "com.squarespace.api#GetTransactionsSummariesRequest": {
      "type": "structure",
      "members": {
        "contactIds": {
          "target": "com.squarespace.api#GetTransactionsSummariesRequestContactIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "groupBy": {
          "target": "com.squarespace.api#GetTransactionsSummariesRequestGroupBy",
          "traits": {
            "smithy.api#documentation": "Field to group results by, should be a contactId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.squarespace.api#RetrieveTransactionsSummariesResponse": {
      "type": "structure",
      "members": {
        "transactionsSummaryWrappers": {
          "target": "com.squarespace.api#RetrieveTransactionsSummariesResponseTransactionsSummaryWrappersList",
          "traits": {
            "smithy.api#documentation": "List of transaction summary wrappers"
          }
        }
      },
      "traits": {}
    },
    "com.squarespace.api#TransactionsSummaryWrapper": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique contact identifier"
          }
        },
        "transactionsSummary": {
          "target": "com.squarespace.api#TransactionsSummary"
        }
      },
      "traits": {
        "smithy.api#documentation": "List of transaction summary wrappers"
      }
    },
    "com.squarespace.api#TransactionsSummary": {
      "type": "structure",
      "members": {
        "donationCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of donations submitted."
          }
        },
        "firstDonationSubmittedOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 UTC date and time string; represents when the profile's first donation was submitted."
          }
        },
        "firstOrderSubmittedOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 UTC date and time string; represents when the profile's first order was submitted."
          }
        },
        "lastDonationSubmittedOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 UTC date and time string; represents when the profile's latest donation was submitted."
          }
        },
        "lastOrderSubmittedOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 UTC date and time string; represents when the profile's latest order was submitted."
          }
        },
        "orderCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of orders submitted."
          }
        },
        "totalDonationAmount": {
          "target": "com.squarespace.api#MonetaryAmount"
        },
        "totalOrderAmount": {
          "target": "com.squarespace.api#MonetaryAmount"
        },
        "totalRefundAmount": {
          "target": "com.squarespace.api#MonetaryAmount"
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary of profile's commerce transactions. If a profile has no commerce transactions, the object is still returned with null or 0 values. This information is calculated asynchronously; there may be a slight delay between when an order is created, and when it's reflected in the object."
      }
    },
    "com.squarespace.api#MonetaryAmount": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "com.squarespace.api#MonetaryAmountCurrency",
          "traits": {
            "smithy.api#documentation": "ISO 4217 currency code."
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Decimal monetary value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A monetary amount with currency code and decimal value."
      }
    },
    "com.squarespace.api#MonetaryAmountCurrency": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String"
        },
        "defaultFractionDigits": {
          "target": "smithy.api#Integer"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "numericCode": {
          "target": "smithy.api#Integer"
        },
        "numericCodeAsString": {
          "target": "smithy.api#String"
        },
        "symbol": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "ISO 4217 currency code."
      }
    },
    "com.squarespace.api#RetrieveTransactionsSummariesResponseTransactionsSummaryWrappersList": {
      "type": "list",
      "member": {
        "target": "com.squarespace.api#TransactionsSummaryWrapper"
      },
      "traits": {
        "smithy.api#documentation": "List of transaction summary wrappers"
      }
    },
    "com.squarespace.api#GetTransactionsSummaries": {
      "type": "operation",
      "input": {
        "target": "com.squarespace.api#GetTransactionsSummariesRequest"
      },
      "output": {
        "target": "com.squarespace.api#RetrieveTransactionsSummariesResponse"
      },
      "errors": [
        {
          "target": "com.squarespace.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/analytics/transaction-summaries",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve transaction summaries grouped by contact"
      }
    },
    "com.squarespace.api#ListDiscountsRequestSortBy": {
      "type": "enum",
      "members": {
        "CREATED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED_ON"
          }
        },
        "PROMO_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMO_CODE"
          }
        },
        "USES_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USES_COUNT"
          }
        }
      },
      "traits": {}
    },
    "com.squarespace.api#ListDiscountsRequestSortDirection": {
      "type": "enum",
      "members": {
        "ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASCENDING"
          }
        },
        "DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCENDING"
          }
        }
      },
      "traits": {}
    },
    "com.squarespace.api#ListDiscountsRequestStatus": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED"
          }
        }
      },
      "traits": {}
    },
    "com.squarespace.api#ListDiscountsRequestCriteriaItem": {
      "type": "enum",
      "members": {
        "ANY_ORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_ORDER"
          }
        },
        "CART_TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CART_TOTAL"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT"
          }
        },
        "BUY_X_GET_Y": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUY_X_GET_Y"
          }
        }
      },
      "traits": {}
    },
    "com.squarespace.api#ListDiscountsRequestCriteriaList": {
      "type": "list",
      "member": {
        "target": "com.squarespace.api#ListDiscountsRequestCriteriaItem"
      },
      "traits": {}
    },
    "com.squarespace.api#ListDiscountsRequestTemplateItem": {
      "type": "enum",
      "members": {
        "FIXED_AMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED_AMOUNT"
          }
        },
        "PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERCENTAGE"
          }
        },
        "BUY_X_GET_Y_FIXED_AMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUY_X_GET_Y_FIXED_AMOUNT"
          }
        },
        "BUY_X_GET_Y_PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUY_X_GET_Y_PERCENTAGE"
          }
        },
        "FREE_SHIPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_SHIPPING"
          }
        }
      },
      "traits": {}
    },
    "com.squarespace.api#ListDiscountsRequestTemplateList": {
      "type": "list",
      "member": {
        "target": "com.squarespace.api#ListDiscountsRequestTemplateItem"
      },
      "traits": {}
    },
    "com.squarespace.api#ListDiscountsRequestTrigger": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE"
          }
        }
      },
      "traits": {}
    },
    "com.squarespace.api#ListDiscountsRequest": {
      "type": "structure",
      "members": {
        "sortBy": {
          "target": "com.squarespace.api#ListDiscountsRequestSortBy",
          "traits": {
            "smithy.api#httpQuery": "sortBy",
            "smithy.api#documentation": "Sort field for the result set."
          }
        },
        "sortDirection": {
          "target": "com.squarespace.api#ListDiscountsRequestSortDirection",
          "traits": {
            "smithy.api#httpQuery": "sortDirection",
            "smithy.api#documentation": "Sort direction."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Free-text search across a discount's name and promo code."
          }
        },
        "status": {
          "target": "com.squarespace.api#ListDiscountsRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter by discount lifecycle status."
          }
        },
        "criteria": {
          "target": "com.squarespace.api#ListDiscountsRequestCriteriaList",
          "traits": {
            "smithy.api#httpQuery": "criteria",
            "smithy.api#documentation": "Filter by one or more criteria types (comma-separated). When omitted, defaults to all allowable values."
          }
        },
        "template": {
          "target": "com.squarespace.api#ListDiscountsRequestTemplateList",
          "traits": {
            "smithy.api#httpQuery": "template",
            "smithy.api#documentation": "Filter by one or more template types (comma-separated). When omitted, defaults to all allowable values."
          }
        },
        "trigger": {
          "target": "com.squarespace.api#ListDiscountsRequestTrigger",
          "traits": {
            "smithy.api#httpQuery": "trigger",
            "smithy.api#documentation": "Filter by one or more trigger types (comma-separated): AUTO (auto-applied) or CODE (promo code). When omitted, or when all allowable values are supplied, defaults to all allowable values."
          }
        },
        "limitedUseOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "limitedUseOnly",
            "smithy.api#documentation": "When true, only discounts with limited-use semantics (per product rules) are returned."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Zero-based offset into the result set. Must be non-negative. Default 0."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Page size (1–1000; default 50)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.squarespace.api#PaginatedDiscountListResponse": {
      "type": "structure",
      "members": {
        "discounts": {
          "target": "com.squarespace.api#PaginatedDiscountListResponseDiscountsList",
          "traits": {
            "smithy.api#documentation": "Discounts for this page.",
            "smithy.api#required": {}
          }
        },
        "hasNextPage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when more results exist after the current window."
          }
        },
        "hasPreviousPage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when a page of results exists before the current window."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Offset-paginated list of discounts for a website."
      }
    },
    "com.squarespace.api#Discount": {
      "type": "structure",
      "members": {
        "criteria": {
          "target": "com.squarespace.api#DiscountCriteria",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Discount id."
          }
        },
        "isLimitedUses": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the discount can only be used `maxUsesAllowed` times site-wide."
          }
        },
        "isOncePerCustomer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, a given customer can only use this discount once."
          }
        },
        "lastRedeemedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the most recent redemption. Null if never redeemed."
          }
        },
        "maxUsesAllowed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum site-wide redemptions. Required when isLimitedUses=true; null otherwise."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the discount.",
            "smithy.api#required": {}
          }
        },
        "numberOfUses": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this discount has been redeemed."
          }
        },
        "paymentPlanOptions": {
          "target": "com.squarespace.api#PaymentPlanOptions"
        },
        "status": {
          "target": "com.squarespace.api#DiscountStatus",
          "traits": {
            "smithy.api#documentation": "Defines the lifecycle status of a discount."
          }
        },
        "subscriptionOptions": {
          "target": "com.squarespace.api#SubscriptionOptions"
        },
        "template": {
          "target": "com.squarespace.api#DiscountTemplate",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trigger": {
          "target": "com.squarespace.api#DiscountTrigger",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the discount becomes active.",
            "smithy.api#required": {}
          }
        },
        "validTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the discount expires. Null = no expiry."
          }
        },
        "websiteId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "24-char website id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Discount configured for a Commerce store."
      }
    },
    "com.squarespace.api#AnyOrderCriteria": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Discount applies to any order. No additional conditions."
      }
    },
    "com.squarespace.api#BuyXGetYCriteria": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "criteriaAppliesTo": {
          "target": "com.squarespace.api#BuyXGetYCriteriaCriteriaAppliesTo",
          "traits": {
            "smithy.api#documentation": "Specifies the possible targets for a BuyXGetYCriteria buy-side."
          }
        },
        "criteriaProductIds": {
          "target": "com.squarespace.api#BuyXGetYCriteriaCriteriaProductIdsList",
          "traits": {
            "smithy.api#documentation": "Product ids the cart must contain. Required if criteriaAppliesTo=PRODUCT."
          }
        },
        "eligibleForDiscountQuantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Quantity of eligible items the discount applies to.",
            "smithy.api#required": {}
          }
        },
        "requiredFullPriceQuantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Quantity of qualifying items required at full price.",
            "smithy.api#required": {}
          }
        },
        "rewardAppliesTo": {
          "target": "com.squarespace.api#BuyXGetYCriteriaRewardAppliesTo",
          "traits": {
            "smithy.api#documentation": "Specifies the possible targets for a BuyXGetYCriteria reward-side."
          }
        },
        "rewardProductIds": {
          "target": "com.squarespace.api#BuyXGetYCriteriaRewardProductIdsList",
          "traits": {
            "smithy.api#documentation": "Product ids eligible for the reward. Required if rewardAppliesTo=PRODUCT."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Discount applies when the cart contains a required quantity of qualifying items (buy side), granting a discount on a quantity of eligible items (reward side)."
      }
    },
    "com.squarespace.api#BuyXGetYCriteriaCriteriaAppliesTo": {
      "type": "enum",
      "members": {
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the possible targets for a BuyXGetYCriteria buy-side."
      }
    },
    "com.squarespace.api#BuyXGetYCriteriaCriteriaProductIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Product ids the cart must contain. Required if criteriaAppliesTo=PRODUCT."
      }
    },
    "com.squarespace.api#BuyXGetYCriteriaRewardAppliesTo": {
      "type": "enum",
      "members": {
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the possible targets for a BuyXGetYCriteria reward-side."
      }
    },
    "com.squarespace.api#BuyXGetYCriteriaRewardProductIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Product ids eligible for the reward. Required if rewardAppliesTo=PRODUCT."
      }
    },
    "com.squarespace.api#CartTotalCriteria": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "minimumCartTotal": {
          "target": "com.squarespace.api#MonetaryAmount",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Discount applies when the cart total meets or exceeds a minimum."
      }
    },
    "com.squarespace.api#ProductCriteria": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the product the discount targets."
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display-time snapshot of the product name at the time the discount was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Discount applies when the cart contains a specific product."
      }
    },
    "com.squarespace.api#DiscountCriteria": {
      "type": "union",
      "members": {
        "AnyOrderCriteria": {
          "target": "com.squarespace.api#AnyOrderCriteria"
        },
        "BuyXGetYCriteria": {
          "target": "com.squarespace.api#BuyXGetYCriteria"
        },
        "CartTotalCriteria": {
          "target": "com.squarespace.api#CartTotalCriteria"
        },
        "ProductCriteria": {
          "target": "com.squarespace.api#ProductCriteria"
        }
      },
      "traits": {}
    },
    "com.squarespace.api#PaymentPlanOptions": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.squarespace.api#PaymentPlanOptionsType",
          "traits": {
            "smithy.api#documentation": "Defines how the discount applies to payment-plan payments.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payment-plan applicability settings for this discount. When omitted from a create or update request, defaults to NONE."
      }
    },
    "com.squarespace.api#PaymentPlanOptionsType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ALL_PAYMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_PAYMENTS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines how the discount applies to payment-plan payments."
      }
    },
    "com.squarespace.api#DiscountStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the lifecycle status of a discount."
      }
    },
    "com.squarespace.api#SubscriptionOptions": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.squarespace.api#SubscriptionOptionsType",
          "traits": {
            "smithy.api#documentation": "Defines how the discount applies to subscription payments.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Subscription applicability settings for this discount. When omitted from a create or update request, defaults to EXCLUDED."
      }
    },
    "com.squarespace.api#SubscriptionOptionsType": {
      "type": "enum",
      "members": {
        "EXCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUDED"
          }
        },
        "ALL_PAYMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_PAYMENTS"
          }
        },
        "LIMITED_PAYMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMITED_PAYMENTS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines how the discount applies to subscription payments."
      }
    },
    "com.squarespace.api#BuyXGetYFixedAmountTemplate": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "discountAmount": {
          "target": "com.squarespace.api#MonetaryAmount",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "maxApplicationsPerCart": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Caps how many times the discount can be applied per cart. 0 means unlimited."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Apply a fixed monetary amount off each reward item in a BUY_X_GET_Y discount."
      }
    },
    "com.squarespace.api#BuyXGetYPercentageTemplate": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "discountPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage to subtract from each reward item. Range (0, 100].",
            "smithy.api#required": {}
          }
        },
        "maxApplicationsPerCart": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Caps how many times the discount can be applied per cart. 0 means unlimited."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Apply a percentage discount off each reward item in a BUY_X_GET_Y discount."
      }
    },
    "com.squarespace.api#FixedAmountTemplate": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "discountAmount": {
          "target": "com.squarespace.api#MonetaryAmount",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Apply a fixed monetary amount off the cart total."
      }
    },
    "com.squarespace.api#FreeShippingTemplate": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "appliesToFulfillmentOptionType": {
          "target": "com.squarespace.api#FreeShippingTemplateAppliesToFulfillmentOptionType",
          "traits": {
            "smithy.api#documentation": "Fulfillment channel a free-shipping discount applies to."
          }
        },
        "selectedShippingOption": {
          "target": "com.squarespace.api#SelectedShippingOption"
        }
      },
      "traits": {
        "smithy.api#documentation": "Waive shipping cost for eligible carts."
      }
    },
    "com.squarespace.api#FreeShippingTemplateAppliesToFulfillmentOptionType": {
      "type": "enum",
      "members": {
        "SHIPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHIPPING"
          }
        },
        "PICKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICKUP"
          }
        },
        "LOCAL_DELIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_DELIVERY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Fulfillment channel a free-shipping discount applies to."
      }
    },
    "com.squarespace.api#SelectedShippingOption": {
      "type": "structure",
      "members": {
        "isAllServicesSelected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, all services within the shipping option are eligible."
          }
        },
        "selectedService": {
          "target": "com.squarespace.api#SelectedShippingOptionSelectedService",
          "traits": {
            "smithy.api#documentation": "Carrier service eligible for a free-shipping discount."
          }
        },
        "shippingOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the shipping option.",
            "smithy.api#required": {}
          }
        },
        "shippingOptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display-time snapshot of the shipping option name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A shipping option targeted by a free-shipping discount."
      }
    },
    "com.squarespace.api#SelectedShippingOptionSelectedService": {
      "type": "enum",
      "members": {
        "FEDEX_GROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX_GROUND"
          }
        },
        "FEDEX_GROUND_HOME_DELIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX_GROUND_HOME_DELIVERY"
          }
        },
        "FEDEX_PRIORITY_OVERNIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX_PRIORITY_OVERNIGHT"
          }
        },
        "FEDEX_STANDARD_OVERNIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX_STANDARD_OVERNIGHT"
          }
        },
        "FEDEX_2_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX_2_DAY"
          }
        },
        "FEDEX_2_DAY_AM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX_2_DAY_AM"
          }
        },
        "FEDEX_EXPRESS_SAVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX_EXPRESS_SAVER"
          }
        },
        "FEDEX_FIRST_OVERNIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX_FIRST_OVERNIGHT"
          }
        },
        "FEDEX_SAME_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX_SAME_DAY"
          }
        },
        "FEDEX_SAME_DAY_CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX_SAME_DAY_CITY"
          }
        },
        "UPS_GROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPS_GROUND"
          }
        },
        "UPS_NEXT_DAY_AIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPS_NEXT_DAY_AIR"
          }
        },
        "UPS_NEXT_DAY_AIR_SAVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPS_NEXT_DAY_AIR_SAVER"
          }
        },
        "UPS_NEXT_DAY_AIR_EARLY_AM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPS_NEXT_DAY_AIR_EARLY_AM"
          }
        },
        "UPS_TWO_DAY_AIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPS_TWO_DAY_AIR"
          }
        },
        "UPS_TWO_DAY_AIR_AM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPS_TWO_DAY_AIR_AM"
          }
        },
        "UPS_THREE_DAY_SELECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPS_THREE_DAY_SELECT"
          }
        },
        "USPS_PRIORITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USPS_PRIORITY"
          }
        },
        "USPS_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USPS_EXPRESS"
          }
        },
        "USPS_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USPS_STANDARD"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Carrier service eligible for a free-shipping discount."
      }
    },
    "com.squarespace.api#PercentageTemplate": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage to subtract from the cart total. Range (0, 100].",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Apply a percentage discount off the cart total."
      }
    },
    "com.squarespace.api#DiscountTemplate": {
      "type": "union",
      "members": {
        "BuyXGetYFixedAmountTemplate": {
          "target": "com.squarespace.api#BuyXGetYFixedAmountTemplate"
        },
        "BuyXGetYPercentageTemplate": {
          "target": "com.squarespace.api#BuyXGetYPercentageTemplate"
        },
        "FixedAmountTemplate": {
          "target": "com.squarespace.api#FixedAmountTemplate"
        },
        "FreeShippingTemplate": {
          "target": "com.squarespace.api#FreeShippingTemplate"
        },
        "PercentageTemplate": {
          "target": "com.squarespace.api#PercentageTemplate"
        }
      },
      "traits": {}
    },
    "com.squarespace.api#AutoTrigger": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Trigger for a discount that is automatically applied; no promo code required."
      }
    },
    "com.squarespace.api#PromoCodeTrigger": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "promoCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shopper-entered promo code. Required, non-empty, 1–50 characters; allowed characters: letters, digits, underscore, hyphen.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Trigger for a discount that is unlocked by a shopper-entered promo code."
      }
    },
    "com.squarespace.api#DiscountTrigger": {
      "type": "union",
      "members": {
        "AutoTrigger": {
          "target": "com.squarespace.api#AutoTrigger"
        },
        "PromoCodeTrigger": {
          "target": "com.squarespace.api#PromoCodeTrigger"
        }
      },
      "traits": {}
    },
    "com.squarespace.api#PaginatedDiscountListResponseDiscountsList": {
      "type": "list",
      "member": {
        "target": "com.squarespace.api#Discount"
      },
      "traits": {
        "smithy.api#documentation": "Discounts for this page."
      }
    },
    "com.squarespace.api#ListDiscounts": {
      "type": "operation",
      "input": {
        "target": "com.squarespace.api#ListDiscountsRequest"
      },
      "output": {
        "target": "com.squarespace.api#PaginatedDiscountListResponse"
      },
      "errors": [
        {
          "target": "com.squarespace.api#BadRequest"
        },
        {
          "target": "com.squarespace.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/commerce/discounts",
          "code": 200
        },
        "smithy.api#documentation": "List discounts\n\nReturns a paginated list of discounts for the website. Requires OAuth website scope website.discounts.read or website.discounts, or API key scope DISCOUNTS_READONLY or DISCOUNTS."
      }
    },
    "com.squarespace.api#CreateDiscountRequestCriteria": {
      "type": "union",
      "members": {
        "AnyOrderCriteria": {
          "target": "com.squarespace.api#AnyOrderCriteria"
        },
        "BuyXGetYCriteria": {
          "target": "com.squarespace.api#BuyXGetYCriteria"
        },
        "CartTotalCriteria": {
          "target": "com.squarespace.api#CartTotalCriteria"
        },
        "ProductCriteria": {
          "target": "com.squarespace.api#ProductCriteria"
        }
      },
      "traits": {}
    },
    "com.squarespace.api#CreateDiscountRequestTemplate": {
      "type": "union",
      "members": {
        "BuyXGetYFixedAmountTemplate": {
          "target": "com.squarespace.api#BuyXGetYFixedAmountTemplate"
        },
        "BuyXGetYPercentageTemplate": {
          "target": "com.squarespace.api#BuyXGetYPercentageTemplate"
        },
        "FixedAmountTemplate": {
          "target": "com.squarespace.api#FixedAmountTemplate"
        },
        "FreeShippingTemplate": {
          "target": "com.squarespace.api#FreeShippingTemplate"
        },
        "PercentageTemplate": {
          "target": "com.squarespace.api#PercentageTemplate"
        }
      },
      "traits": {}
    },
    "com.squarespace.api#CreateDiscountRequestTrigger": {
      "type": "union",
      "members": {
        "AutoTrigger": {
          "target": "com.squarespace.api#AutoTrigger"
        },
        "PromoCodeTrigger": {
          "target": "com.squarespace.api#PromoCodeTrigger"
        }
      },
      "traits": {}
    },
    "com.squarespace.api#CreateDiscountRequest": {
      "type": "structure",
      "members": {
        "criteria": {
          "target": "com.squarespace.api#CreateDiscountRequestCriteria",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isLimitedUses": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the discount can only be used `maxUsesAllowed` times site-wide."
          }
        },
        "isOncePerCustomer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, a given customer can only use this discount once."
          }
        },
        "maxUsesAllowed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum site-wide redemptions. Required when isLimitedUses=true; null otherwise."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the discount.",
            "smithy.api#required": {}
          }
        },
        "paymentPlanOptions": {
          "target": "com.squarespace.api#PaymentPlanOptions"
        },
        "subscriptionOptions": {
          "target": "com.squarespace.api#SubscriptionOptions"
        },
        "template": {
          "target": "com.squarespace.api#CreateDiscountRequestTemplate",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trigger": {
          "target": "com.squarespace.api#CreateDiscountRequestTrigger",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the discount becomes active.",
            "smithy.api#required": {}
          }
        },
        "validTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the discount expires. Null = no expiry."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.squarespace.api#DiscountResponse": {
      "type": "structure",
      "members": {
        "discount": {
          "target": "com.squarespace.api#Discount",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Envelope for a single discount response."
      }
    },
    "com.squarespace.api#CreateDiscount": {
      "type": "operation",
      "input": {
        "target": "com.squarespace.api#CreateDiscountRequest"
      },
      "output": {
        "target": "com.squarespace.api#DiscountResponse"
      },
      "errors": [
        {
          "target": "com.squarespace.api#BadRequest"
        },
        {
          "target": "com.squarespace.api#Forbidden"
        },
        {
          "target": "com.squarespace.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/commerce/discounts",
          "code": 200
        },
        "smithy.api#documentation": "Create discount\n\nCreates a discount. A successful request returns the created Discount resource. Requires OAuth website scope website.discounts, or API key scope DISCOUNTS."
      }
    },
    "com.squarespace.api#GetDiscountRequest": {
      "type": "structure",
      "members": {
        "discountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The discount's ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.squarespace.api#GetDiscount": {
      "type": "operation",
      "input": {
        "target": "com.squarespace.api#GetDiscountRequest"
      },
      "output": {
        "target": "com.squarespace.api#DiscountResponse"
      },
      "errors": [
        {
          "target": "com.squarespace.api#Forbidden"
        },
        {
          "target": "com.squarespace.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/commerce/discounts/{discountId}",
          "code": 200
        },
        "smithy.api#documentation": "Get discount\n\nReturns the discount for the given discount ID. Requires OAuth website scope website.discounts.read or website.discounts, or API key scope DISCOUNTS_READONLY or DISCOUNTS."
      }
    },
    "com.squarespace.api#UpdateDiscountRequestCriteria": {
      "type": "union",
      "members": {
        "AnyOrderCriteria": {
          "target": "com.squarespace.api#AnyOrderCriteria"
        },
        "BuyXGetYCriteria": {
          "target": "com.squarespace.api#BuyXGetYCriteria"
        },
        "CartTotalCriteria": {
          "target": "com.squarespace.api#CartTotalCriteria"
        },
        "ProductCriteria": {
          "target": "com.squarespace.api#ProductCriteria"
        }
      },
      "traits": {}
    },
    "com.squarespace.api#UpdateDiscountRequestTemplate": {
      "type": "union",
      "members": {
        "BuyXGetYFixedAmountTemplate": {
          "target": "com.squarespace.api#BuyXGetYFixedAmountTemplate"
        },
        "BuyXGetYPercentageTemplate": {
          "target": "com.squarespace.api#BuyXGetYPercentageTemplate"
        },
        "FixedAmountTemplate": {
          "target": "com.squarespace.api#FixedAmountTemplate"
        },
        "FreeShippingTemplate": {
          "target": "com.squarespace.api#FreeShippingTemplate"
        },
        "PercentageTemplate": {
          "target": "com.squarespace.api#PercentageTemplate"
        }
      },
      "traits": {}
    },
    "com.squarespace.api#UpdateDiscountRequestTrigger": {
      "type": "union",
      "members": {
        "AutoTrigger": {
          "target": "com.squarespace.api#AutoTrigger"
        },
        "PromoCodeTrigger": {
          "target": "com.squarespace.api#PromoCodeTrigger"
        }
      },
      "traits": {}
    },
    "com.squarespace.api#UpdateDiscountRequest": {
      "type": "structure",
      "members": {
        "discountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The discount's unique identifier."
          }
        },
        "criteria": {
          "target": "com.squarespace.api#UpdateDiscountRequestCriteria",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isLimitedUses": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the discount can only be used `maxUsesAllowed` times site-wide."
          }
        },
        "isOncePerCustomer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, a given customer can only use this discount once."
          }
        },
        "maxUsesAllowed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum site-wide redemptions. Required when isLimitedUses=true; null otherwise."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the discount.",
            "smithy.api#required": {}
          }
        },
        "paymentPlanOptions": {
          "target": "com.squarespace.api#PaymentPlanOptions"
        },
        "subscriptionOptions": {
          "target": "com.squarespace.api#SubscriptionOptions"
        },
        "template": {
          "target": "com.squarespace.api#UpdateDiscountRequestTemplate",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trigger": {
          "target": "com.squarespace.api#UpdateDiscountRequestTrigger",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the discount becomes active.",
            "smithy.api#required": {}
          }
        },
        "validTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the discount expires. Null = no expiry."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.squarespace.api#UpdateDiscount": {
      "type": "operation",
      "input": {
        "target": "com.squarespace.api#UpdateDiscountRequest"
      },
      "output": {
        "target": "com.squarespace.api#DiscountResponse"
      },
      "errors": [
        {
          "target": "com.squarespace.api#BadRequest"
        },
        {
          "target": "com.squarespace.api#Forbidden"
        },
        {
          "target": "com.squarespace.api#NotFound"
        },
        {
          "target": "com.squarespace.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/commerce/discounts/{discountId}",
          "code": 200
        },
        "smithy.api#documentation": "Update discount\n\nReplaces the discount for the given discount ID. Requires OAuth website scope website.discounts, or API key scope DISCOUNTS."
      }
    },
    "com.squarespace.api#DeleteDiscountRequest": {
      "type": "structure",
      "members": {
        "discountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The discount's ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.squarespace.api#DeleteDiscount": {
      "type": "operation",
      "input": {
        "target": "com.squarespace.api#DeleteDiscountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.squarespace.api#Forbidden"
        },
        {
          "target": "com.squarespace.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/commerce/discounts/{discountId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete discount\n\nDeletes the discount for the given discount ID. Deletion is permitted for any discount owned by the website, including discounts whose criteria, template, or trigger types are not supported by this API version; no type validation is performed. Requires OAuth website scope website.discounts, or API key scope DISCOUNTS."
      }
    },
    "com.squarespace.api#GetContactsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "number of contacts to retrieve per request"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "where next page of results begins. should be {pagination.nextPageCursor} from previous response."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.squarespace.api#PaginatedGetContactsResponse": {
      "type": "structure",
      "members": {
        "contacts": {
          "target": "com.squarespace.api#PaginatedGetContactsResponseContactsList",
          "traits": {
            "smithy.api#documentation": "paginated list of contacts retrieved"
          }
        },
        "pagination": {
          "target": "com.squarespace.api#PaginatedGetContactsResponsePagination"
        }
      },
      "traits": {}
    },
    "com.squarespace.api#Contact": {
      "type": "structure",
      "members": {
        "createdOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the contact was created."
          }
        },
        "defaultShippingAddress": {
          "target": "com.squarespace.api#AddressBookEntry"
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact's first name."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact's ID."
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact's last name."
          }
        },
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact's locale."
          }
        },
        "primaryEmail": {
          "target": "com.squarespace.api#Email"
        }
      },
      "traits": {
        "smithy.api#documentation": "A contact."
      }
    },
    "com.squarespace.api#AddressBookEntry": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.squarespace.api#ContactAddress"
        },
        "defaultShipping": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this entry is the current default shipping address. When the contact has any address book entries, exactly one entry has this value set to true."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address book entry's ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An address book entry for a contact."
      }
    },
    "com.squarespace.api#ContactAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address' city"
          }
        },
        "countryCode": {
          "target": "com.squarespace.api#ContactAddressCountryCode",
          "traits": {
            "smithy.api#documentation": "ISO 3166 alpha-2 country code string.",
            "smithy.api#required": {}
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact's first name"
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact's last name"
          }
        },
        "line1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First line of address"
          }
        },
        "line2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Second line of address"
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact's phone number"
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "zip/postal code"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "General region (State, Province, County, etc...)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Address properties for a contact."
      }
    },
    "com.squarespace.api#ContactAddressCountryCode": {
      "type": "enum",
      "members": {
        "AF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AF"
          }
        },
        "AX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AX"
          }
        },
        "AL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL"
          }
        },
        "DZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DZ"
          }
        },
        "AS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AS"
          }
        },
        "AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD"
          }
        },
        "AO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AO"
          }
        },
        "AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AI"
          }
        },
        "AQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AQ"
          }
        },
        "AG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AG"
          }
        },
        "AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AR"
          }
        },
        "AM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AM"
          }
        },
        "AW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AW"
          }
        },
        "AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AU"
          }
        },
        "AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AT"
          }
        },
        "AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ"
          }
        },
        "BS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BS"
          }
        },
        "BH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BH"
          }
        },
        "BD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BD"
          }
        },
        "BB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BB"
          }
        },
        "BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BY"
          }
        },
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BE"
          }
        },
        "BZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BZ"
          }
        },
        "BJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BJ"
          }
        },
        "BM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BM"
          }
        },
        "BT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BT"
          }
        },
        "BO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BO"
          }
        },
        "BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BA"
          }
        },
        "BW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BW"
          }
        },
        "BV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BV"
          }
        },
        "BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BR"
          }
        },
        "IO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IO"
          }
        },
        "BN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BN"
          }
        },
        "BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BG"
          }
        },
        "BF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BF"
          }
        },
        "BI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BI"
          }
        },
        "BQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BQ"
          }
        },
        "KH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KH"
          }
        },
        "CM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CM"
          }
        },
        "CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA"
          }
        },
        "CV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CV"
          }
        },
        "KY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KY"
          }
        },
        "CF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CF"
          }
        },
        "TD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TD"
          }
        },
        "CL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CL"
          }
        },
        "CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN"
          }
        },
        "CX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CX"
          }
        },
        "CC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CC"
          }
        },
        "CO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CO"
          }
        },
        "KM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KM"
          }
        },
        "CG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CG"
          }
        },
        "CD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CD"
          }
        },
        "CK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CK"
          }
        },
        "CR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CR"
          }
        },
        "CI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CI"
          }
        },
        "CW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CW"
          }
        },
        "HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HR"
          }
        },
        "CU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CU"
          }
        },
        "CY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CY"
          }
        },
        "CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZ"
          }
        },
        "DK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DK"
          }
        },
        "DJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DJ"
          }
        },
        "DM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DM"
          }
        },
        "DO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DO"
          }
        },
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        },
        "EG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EG"
          }
        },
        "SV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SV"
          }
        },
        "GQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GQ"
          }
        },
        "ER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ER"
          }
        },
        "EE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EE"
          }
        },
        "ET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ET"
          }
        },
        "FK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FK"
          }
        },
        "FO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FO"
          }
        },
        "FJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FJ"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FI"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR"
          }
        },
        "GF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GF"
          }
        },
        "PF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PF"
          }
        },
        "TF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TF"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "GM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GM"
          }
        },
        "GE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GE"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE"
          }
        },
        "GH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GH"
          }
        },
        "GI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GI"
          }
        },
        "GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GR"
          }
        },
        "GL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GL"
          }
        },
        "GD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GD"
          }
        },
        "GP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GP"
          }
        },
        "GU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GU"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GT"
          }
        },
        "GG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GG"
          }
        },
        "GN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GN"
          }
        },
        "GW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GW"
          }
        },
        "GY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GY"
          }
        },
        "HT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HT"
          }
        },
        "HM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HM"
          }
        },
        "VA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VA"
          }
        },
        "HN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HN"
          }
        },
        "HK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HK"
          }
        },
        "HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HU"
          }
        },
        "IS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID"
          }
        },
        "IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IR"
          }
        },
        "IQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IQ"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IE"
          }
        },
        "IM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IM"
          }
        },
        "IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IL"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT"
          }
        },
        "JM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JM"
          }
        },
        "JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JP"
          }
        },
        "JE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JE"
          }
        },
        "JO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JO"
          }
        },
        "KZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KZ"
          }
        },
        "KE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KE"
          }
        },
        "KI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KI"
          }
        },
        "XK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XK"
          }
        },
        "KP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KP"
          }
        },
        "KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KR"
          }
        },
        "KW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KW"
          }
        },
        "KG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KG"
          }
        },
        "LA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LA"
          }
        },
        "LV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LV"
          }
        },
        "LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LB"
          }
        },
        "LS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LS"
          }
        },
        "LR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LR"
          }
        },
        "LY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LY"
          }
        },
        "LI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LI"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LT"
          }
        },
        "LU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LU"
          }
        },
        "MO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MO"
          }
        },
        "MF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MF"
          }
        },
        "MK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MK"
          }
        },
        "MG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MG"
          }
        },
        "MW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MW"
          }
        },
        "MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MY"
          }
        },
        "MV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MV"
          }
        },
        "ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML"
          }
        },
        "MT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MT"
          }
        },
        "MH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MH"
          }
        },
        "MQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MQ"
          }
        },
        "MR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MR"
          }
        },
        "MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MU"
          }
        },
        "YT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YT"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "FM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FM"
          }
        },
        "MD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MD"
          }
        },
        "MC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MC"
          }
        },
        "MN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MN"
          }
        },
        "ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ME"
          }
        },
        "MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MS"
          }
        },
        "MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MA"
          }
        },
        "MZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MZ"
          }
        },
        "MM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MM"
          }
        },
        "NA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NA"
          }
        },
        "NR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NR"
          }
        },
        "NP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NP"
          }
        },
        "NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NL"
          }
        },
        "AN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AN"
          }
        },
        "NC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NC"
          }
        },
        "NZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NZ"
          }
        },
        "NI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NI"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NE"
          }
        },
        "NG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NG"
          }
        },
        "NU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NU"
          }
        },
        "NF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NF"
          }
        },
        "MP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MP"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO"
          }
        },
        "OM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OM"
          }
        },
        "PK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PK"
          }
        },
        "PW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PW"
          }
        },
        "PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS"
          }
        },
        "PA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PA"
          }
        },
        "PG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PG"
          }
        },
        "PY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PY"
          }
        },
        "PE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PE"
          }
        },
        "PH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PH"
          }
        },
        "PN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PN"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PL"
          }
        },
        "PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT"
          }
        },
        "PR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR"
          }
        },
        "QA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QA"
          }
        },
        "RE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RE"
          }
        },
        "RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RO"
          }
        },
        "RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RU"
          }
        },
        "RW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RW"
          }
        },
        "BL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BL"
          }
        },
        "SH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SH"
          }
        },
        "KN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KN"
          }
        },
        "LC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LC"
          }
        },
        "PM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PM"
          }
        },
        "VC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VC"
          }
        },
        "WS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WS"
          }
        },
        "SM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SM"
          }
        },
        "ST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ST"
          }
        },
        "SA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SA"
          }
        },
        "SN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SN"
          }
        },
        "RS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS"
          }
        },
        "SC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SC"
          }
        },
        "SL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SL"
          }
        },
        "SG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SG"
          }
        },
        "SK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SK"
          }
        },
        "SI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SI"
          }
        },
        "SB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SB"
          }
        },
        "SO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SO"
          }
        },
        "SX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SX"
          }
        },
        "ZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZA"
          }
        },
        "GS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GS"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES"
          }
        },
        "LK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LK"
          }
        },
        "SD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SD"
          }
        },
        "SR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SR"
          }
        },
        "SJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SJ"
          }
        },
        "SS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SS"
          }
        },
        "SZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SZ"
          }
        },
        "SY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SY"
          }
        },
        "SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SE"
          }
        },
        "CH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CH"
          }
        },
        "TW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TW"
          }
        },
        "TJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TJ"
          }
        },
        "TZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TZ"
          }
        },
        "TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TH"
          }
        },
        "TL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TL"
          }
        },
        "TG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TG"
          }
        },
        "TK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TK"
          }
        },
        "TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO"
          }
        },
        "TT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TT"
          }
        },
        "TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TN"
          }
        },
        "TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TR"
          }
        },
        "TM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TM"
          }
        },
        "TC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TC"
          }
        },
        "TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TV"
          }
        },
        "UG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UG"
          }
        },
        "UA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UA"
          }
        },
        "AE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AE"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US"
          }
        },
        "UM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UM"
          }
        },
        "UY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UY"
          }
        },
        "UZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UZ"
          }
        },
        "VU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VU"
          }
        },
        "VE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VE"
          }
        },
        "VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VN"
          }
        },
        "VG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VG"
          }
        },
        "VI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VI"
          }
        },
        "WF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WF"
          }
        },
        "EH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EH"
          }
        },
        "YE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YE"
          }
        },
        "ZM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZM"
          }
        },
        "ZW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZW"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ISO 3166 alpha-2 country code string."
      }
    },
    "com.squarespace.api#Email": {
      "type": "structure",
      "members": {
        "acceptsMarketing": {
          "target": "com.squarespace.api#AcceptsMarketing"
        },
        "createdOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the email was created."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The contact's primary email."
      }
    },
    "com.squarespace.api#AcceptsMarketing": {
      "type": "structure",
      "members": {
        "acceptsMarketing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the contact accepts marketing email."
          }
        },
        "joinedOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the contact was added to the marketing list.The value returned in the creation response is a near-real-time estimate; the Get Contact endpoint should be used to verify the exact persisted timestamp."
          }
        },
        "leftOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the contact left Marketing list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Marketing subscription state for the contact's email."
      }
    },
    "com.squarespace.api#PaginatedGetContactsResponseContactsList": {
      "type": "list",
      "member": {
        "target": "com.squarespace.api#Contact"
      },
      "traits": {
        "smithy.api#documentation": "paginated list of contacts retrieved"
      }
    },
    "com.squarespace.api#PaginatedGetContactsResponsePagination": {
      "type": "structure",
      "members": {
        "hasNextPage": {
          "target": "smithy.api#Boolean"
        },
        "nextPageCursor": {
          "target": "smithy.api#String"
        },
        "nextPageUrl": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.squarespace.api#GetContacts": {
      "type": "operation",
      "input": {
        "target": "com.squarespace.api#GetContactsRequest"
      },
      "output": {
        "target": "com.squarespace.api#PaginatedGetContactsResponse"
      },
      "errors": [
        {
          "target": "com.squarespace.api#BadRequest"
        },
        {
          "target": "com.squarespace.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/contacts",
          "code": 200
        },
        "smithy.api#documentation": "List contacts\n\nReturns a paginated list of contacts for the website. Requires OAuth website scope website.contacts.read or website.contacts, or API key scope CONTACT_READONLY or CONTACT, or OAuth website scope website.profiles.read or website.profiles (OAuth only)."
      }
    },
    "com.squarespace.api#CreateEmail": {
      "type": "structure",
      "members": {
        "acceptsMarketing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If contact's email accepts marketing"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Primary email supplied when creating a contact."
      }
    },
    "com.squarespace.api#CreateContactRequest": {
      "type": "structure",
      "members": {
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact's first name",
            "smithy.api#required": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact's last name",
            "smithy.api#required": {}
          }
        },
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact's locale",
            "smithy.api#required": {}
          }
        },
        "primaryEmail": {
          "target": "com.squarespace.api#CreateEmail",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.squarespace.api#CreateContactResponse": {
      "type": "structure",
      "members": {
        "contact": {
          "target": "com.squarespace.api#Contact"
        }
      },
      "traits": {}
    },
    "com.squarespace.api#CreateContact": {
      "type": "operation",
      "input": {
        "target": "com.squarespace.api#CreateContactRequest"
      },
      "output": {
        "target": "com.squarespace.api#CreateContactResponse"
      },
      "errors": [
        {
          "target": "com.squarespace.api#BadRequest"
        },
        {
          "target": "com.squarespace.api#Forbidden"
        },
        {
          "target": "com.squarespace.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/contacts",
          "code": 200
        },
        "smithy.api#documentation": "Create contact\n\nCreates a new contact. Requires OAuth website scope website.contacts, or API key scope CONTACT, or OAuth website scope website.profiles (OAuth only)."
      }
    },
    "com.squarespace.api#AcceptsMarketingWithDate": {
      "type": "structure",
      "members": {
        "acceptsMarketing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If contact's email accepts marketing"
          }
        },
        "joinedOn": {
          "target": "com.squarespace.api#DateFilter"
        }
      },
      "traits": {
        "smithy.api#documentation": "Contact's marketing settings with joined on date"
      }
    },
    "com.squarespace.api#DateFilter": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter out any dates after"
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter out any dates before"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object for filtering by before and after dates"
      }
    },
    "com.squarespace.api#IntegerFilter": {
      "type": "structure",
      "members": {
        "max": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Filter out any numbers greater"
          }
        },
        "min": {
[...]
