{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.intercom.api#AdminWithApp": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String representing the object's type. Always has the value `admin`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id representing the admin."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the admin."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the admin."
          }
        },
        "job_title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The job title of the admin."
          }
        },
        "away_mode_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Identifies if this admin is currently set in away mode."
          }
        },
        "away_mode_reassign": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Identifies if this admin is set to automatically reassign new conversations to the apps default inbox."
          }
        },
        "has_inbox_seat": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Identifies if this admin has a paid inbox seat to restrict/allow features that require them."
          }
        },
        "team_ids": {
          "target": "com.intercom.api#AdminWithAppTeamIdsList",
          "traits": {
            "smithy.api#documentation": "This is a list of ids of the teams that this admin is part of."
          }
        },
        "avatar": {
          "target": "com.intercom.api#AdminWithAppAvatar",
          "traits": {
            "smithy.api#documentation": "This object represents the avatar associated with the admin."
          }
        },
        "email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Identifies if this admin's email is verified.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "app": {
          "target": "com.intercom.api#App",
          "traits": {
            "smithy.api#documentation": "App that the admin belongs to.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Admins are the teammate accounts that have access to a workspace"
      }
    },
    "com.intercom.api#AdminWithAppTeamIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "This is a list of ids of the teams that this admin is part of."
      }
    },
    "com.intercom.api#AdminWithAppAvatar": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a string that identifies the type of the object. It will always have the value `avatar`."
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This object represents the avatar associated with the admin.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object represents the avatar associated with the admin."
      }
    },
    "com.intercom.api#App": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "id_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the app."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the app."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Intercom region the app is located in."
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timezone of the region where the app is located."
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "When the app was created."
          }
        },
        "identity_verification": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the app uses identity verification."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "App is a workspace on Intercom"
      }
    },
    "com.intercom.api#IdentifyAdmin": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.intercom.api#AdminWithApp"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/me",
          "code": 200
        },
        "smithy.api#documentation": "Identify an admin\n\nYou can view the currently authorised admin along with the embedded app object (a \"workspace\" in legacy terminology).\n\n> 🚧 Single Sign On\n>\n> If you are building a custom \"Log in with Intercom\" flow for your site, and you call the `/me` endpoint to identify the logged-in user, you should not accept any sign-ins from users with unverified email addresses as it poses a potential impersonation security risk."
      }
    },
    "com.intercom.api#GetMacroRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the macro"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#Macro": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.intercom.api#MacroType",
          "traits": {
            "smithy.api#documentation": "String representing the object's type. Always has the value `macro`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the macro."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the macro."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The body of the macro in HTML format with placeholders transformed to XML-like format."
          }
        },
        "body_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plain text version of the macro body with original Intercom placeholder format."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the macro was created in ISO 8601 format."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the macro was last updated in ISO 8601 format."
          }
        },
        "visible_to": {
          "target": "com.intercom.api#MacroVisibleTo",
          "traits": {
            "smithy.api#documentation": "Who can view this macro."
          }
        },
        "visible_to_team_ids": {
          "target": "com.intercom.api#MacroVisibleToTeamIdsList",
          "traits": {
            "smithy.api#documentation": "The team IDs that can view this macro when visible_to is set to specific_teams."
          }
        },
        "available_on": {
          "target": "com.intercom.api#MacroAvailableOnList",
          "traits": {
            "smithy.api#documentation": "Where the macro is available for use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A macro is a pre-defined response template (saved reply) that can be used to quickly reply to conversations."
      }
    },
    "com.intercom.api#MacroType": {
      "type": "enum",
      "members": {
        "MACRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "macro"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "String representing the object's type. Always has the value `macro`."
      }
    },
    "com.intercom.api#MacroVisibleTo": {
      "type": "enum",
      "members": {
        "EVERYONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "everyone"
          }
        },
        "SPECIFIC_TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "specific_teams"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Who can view this macro."
      }
    },
    "com.intercom.api#MacroVisibleToTeamIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The team IDs that can view this macro when visible_to is set to specific_teams."
      }
    },
    "com.intercom.api#MacroAvailableOnItem": {
      "type": "enum",
      "members": {
        "INBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inbox"
          }
        },
        "MESSENGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "messenger"
          }
        }
      },
      "traits": {}
    },
    "com.intercom.api#MacroAvailableOnList": {
      "type": "list",
      "member": {
        "target": "com.intercom.api#MacroAvailableOnItem"
      },
      "traits": {
        "smithy.api#documentation": "Where the macro is available for use."
      }
    },
    "com.intercom.api#GetMacro": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#GetMacroRequest"
      },
      "output": {
        "target": "com.intercom.api#Macro"
      },
      "errors": [
        {
          "target": "com.intercom.api#Forbidden"
        },
        {
          "target": "com.intercom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/macros/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a macro\n\nYou can fetch a single macro (saved reply) by its ID. The macro will only be returned if it is visible to the authenticated user based on its visibility settings.\n\n**Visibility Rules**\n\nA macro is returned based on its `visible_to` setting:\n- `everyone`: Always visible to all team members\n- `specific_teams`: Only visible if the authenticated user belongs to one of the teams specified in `visible_to_team_ids`\n\nIf a macro exists but is not visible to the authenticated user, a 404 error is returned.\n\n**Placeholder Transformation**\n\nThe API transforms Intercom placeholders to a more standard XML-like format in the `body` field:\n- From: `{{user.name | fallback: 'there'}}`\n- To: `<attribute key=\"user.name\" default=\"there\"/>`\n\nDefault values in placeholders are HTML-escaped for security."
      }
    },
    "com.intercom.api#ListMacrosRequest": {
      "type": "structure",
      "members": {
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page"
          }
        },
        "starting_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "starting_after",
            "smithy.api#documentation": "Base64-encoded cursor containing [updated_at, id] for pagination"
          }
        },
        "updated_since": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "updated_since",
            "smithy.api#documentation": "Unix timestamp to filter macros updated after this time"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#MacroList": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.intercom.api#MacroListType",
          "traits": {
            "smithy.api#documentation": "Always list"
          }
        },
        "data": {
          "target": "com.intercom.api#MacroListDataList",
          "traits": {
            "smithy.api#documentation": "The list of macro objects"
          }
        },
        "pages": {
          "target": "com.intercom.api#MacroListPages",
          "traits": {
            "smithy.api#documentation": "Pagination information"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A paginated list of macros (saved replies) in the workspace."
      }
    },
    "com.intercom.api#MacroListType": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Always list"
      }
    },
    "com.intercom.api#MacroListDataList": {
      "type": "list",
      "member": {
        "target": "com.intercom.api#Macro"
      },
      "traits": {
        "smithy.api#documentation": "The list of macro objects"
      }
    },
    "com.intercom.api#MacroListPagesType": {
      "type": "enum",
      "members": {
        "PAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pages"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of pagination"
      }
    },
    "com.intercom.api#MacroListPagesNext": {
      "type": "structure",
      "members": {
        "starting_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded cursor containing [updated_at, id] for pagination"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cursor for the next page"
      }
    },
    "com.intercom.api#MacroListPages": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.intercom.api#MacroListPagesType",
          "traits": {
            "smithy.api#documentation": "The type of pagination"
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of results per page"
          }
        },
        "next": {
          "target": "com.intercom.api#MacroListPagesNext",
          "traits": {
            "smithy.api#documentation": "Cursor for the next page",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination information"
      }
    },
    "com.intercom.api#ListMacros": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#ListMacrosRequest"
      },
      "output": {
        "target": "com.intercom.api#MacroList"
      },
      "errors": [
        {
          "target": "com.intercom.api#BadRequest"
        },
        {
          "target": "com.intercom.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/macros",
          "code": 200
        },
        "smithy.api#documentation": "List all macros\n\nYou can fetch a list of all macros (saved replies) in your workspace for use in automating responses.\n\nThe macros are returned in descending order by updated_at.\n\n**Pagination**\n\nThis endpoint uses cursor-based pagination via the `starting_after` parameter. The cursor is a Base64-encoded JSON array containing `[updated_at, id]` of the last item from the previous page.\n\n**Placeholder Transformation**\n\nThe API transforms Intercom placeholders to a more standard XML-like format:\n- From: `{{user.name | fallback: 'there'}}`\n- To: `<attribute key=\"user.name\" default=\"there\"/>`"
      }
    },
    "com.intercom.api#SetAwayAdminRequest": {
      "type": "structure",
      "members": {
        "admin_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of a given admin"
          }
        },
        "away_mode_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to \"true\" to change the status of the admin to away.",
            "smithy.api#required": {}
          }
        },
        "away_mode_reassign": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to \"true\" to assign any new conversation replies to your default inbox.",
            "smithy.api#required": {}
          }
        },
        "away_status_reason_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the away status reason"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#Admin": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String representing the object's type. Always has the value `admin`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id representing the admin."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the admin."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the admin."
          }
        },
        "job_title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The job title of the admin."
          }
        },
        "away_mode_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Identifies if this admin is currently set in away mode."
          }
        },
        "away_mode_reassign": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Identifies if this admin is set to automatically reassign new conversations to the apps default inbox."
          }
        },
        "away_status_reason_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the away status reason",
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_inbox_seat": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Identifies if this admin has a paid inbox seat to restrict/allow features that require them."
          }
        },
        "team_ids": {
          "target": "com.intercom.api#AdminTeamIdsList",
          "traits": {
            "smithy.api#documentation": "This object represents the avatar associated with the admin."
          }
        },
        "avatar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image for the associated team or teammate",
            "com.distilled.openapi#nullable": {}
          }
        },
        "team_priority_level": {
          "target": "com.intercom.api#TeamPriorityLevel",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.intercom.api#AdminRole",
          "traits": {
            "smithy.api#documentation": "The role assigned to this admin. Only present if the admin has a role assigned.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Admins are teammate accounts that have access to a workspace."
      }
    },
    "com.intercom.api#AdminTeamIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "This object represents the avatar associated with the admin."
      }
    },
    "com.intercom.api#TeamPriorityLevel": {
      "type": "structure",
      "members": {
        "primary_team_ids": {
          "target": "com.intercom.api#TeamPriorityLevelPrimaryTeamIdsList",
          "traits": {
            "smithy.api#documentation": "The primary team ids for the team",
            "com.distilled.openapi#nullable": {}
          }
        },
        "secondary_team_ids": {
          "target": "com.intercom.api#TeamPriorityLevelSecondaryTeamIdsList",
          "traits": {
            "smithy.api#documentation": "The secondary team ids for the team",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Admin priority levels for teams"
      }
    },
    "com.intercom.api#TeamPriorityLevelPrimaryTeamIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "The primary team ids for the team"
      }
    },
    "com.intercom.api#TeamPriorityLevelSecondaryTeamIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "The secondary team ids for the team"
      }
    },
    "com.intercom.api#AdminRole": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String representing the object's type. Always has the value `role`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the role."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the role."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role assigned to this admin. Only present if the admin has a role assigned."
      }
    },
    "com.intercom.api#SetAwayAdmin": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#SetAwayAdminRequest"
      },
      "output": {
        "target": "com.intercom.api#Admin"
      },
      "errors": [
        {
          "target": "com.intercom.api#BadRequest"
        },
        {
          "target": "com.intercom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/admins/{admin_id}/away",
          "code": 200
        },
        "smithy.api#documentation": "Set an admin to away\n\nYou can set an Admin as away for the Inbox."
      }
    },
    "com.intercom.api#ListActivityLogsRequest": {
      "type": "structure",
      "members": {
        "created_at_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_at_after",
            "smithy.api#required": {},
            "smithy.api#documentation": "The start date that you request data for. It must be formatted as a UNIX timestamp."
          }
        },
        "created_at_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_at_before",
            "smithy.api#documentation": "The end date that you request data for. It must be formatted as a UNIX timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#ActivityLogList": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String representing the object's type. Always has the value `activity_log.list`."
          }
        },
        "pages": {
          "target": "com.intercom.api#CursorPages",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "activity_logs": {
          "target": "com.intercom.api#ActivityLogListActivityLogsList",
          "traits": {
            "smithy.api#documentation": "An array of activity logs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A paginated list of activity logs."
      }
    },
    "com.intercom.api#CursorPages": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.intercom.api#CursorPagesType",
          "traits": {
            "smithy.api#documentation": "the type of object `pages`."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current page"
          }
        },
        "next": {
          "target": "com.intercom.api#StartingAfterPaging",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of results per page"
          }
        },
        "total_pages": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of pages"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cursor-based pagination is a technique used in the Intercom API to navigate through large amounts of data.\nA \"cursor\" or pointer is used to keep track of the current position in the result set, allowing the API to return the data in small chunks or \"pages\" as needed.\n"
      }
    },
    "com.intercom.api#CursorPagesType": {
      "type": "enum",
      "members": {
        "PAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pages"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "the type of object `pages`."
      }
    },
    "com.intercom.api#StartingAfterPaging": {
      "type": "structure",
      "members": {
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of results to fetch per page."
          }
        },
        "starting_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor to use in the next request to get the next page of results.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.intercom.api#ActivityLog": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id representing the activity."
          }
        },
        "performed_by": {
          "target": "com.intercom.api#ActivityLogPerformedBy",
          "traits": {
            "smithy.api#documentation": "Details about the Admin involved in the activity."
          }
        },
        "metadata": {
          "target": "com.intercom.api#ActivityLogMetadata",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time the activity was created."
          }
        },
        "activity_type": {
          "target": "com.intercom.api#ActivityLogActivityType"
        },
        "activity_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A sentence or two describing the activity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Activities performed by Admins."
      }
    },
    "com.intercom.api#ActivityLogPerformedBy": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String representing the object's type. Always has the value `admin`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id representing the admin."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the admin."
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address of the admin."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the Admin involved in the activity."
      }
    },
    "com.intercom.api#ActivityLogMetadata": {
      "type": "structure",
      "members": {
        "sign_in_method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The way the admin signed in.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the contact which is provided by the Client.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "away_mode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The away mode status which is set to true when away and false when returned.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "away_status_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason the Admin is away.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reassign_conversations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if conversations should be reassigned while an Admin is away.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The action that initiated the status change.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "auto_changed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates if the status was changed automatically or manually.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "update_by": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the Admin who initiated the activity.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "update_by_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Admin who initiated the activity.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The state before the change. `idle` or `occupied`, and null when the Admin had not been classified yet.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "new_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The state after the change. `idle` or `occupied`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "threshold_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The inactivity window, in minutes, used to classify the Admin.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_activity_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time of the Admin's last recorded activity.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "auto": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates the state was derived automatically rather than set by an Admin.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "setting_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group of workspace settings the change belongs to, for example `teammate_occupancy` or `automatic_away_mode`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "changes": {
          "target": "com.intercom.api#ActivityLogMetadataChangesMap",
          "traits": {
            "smithy.api#documentation": "The settings altered by the change, keyed by setting name. Only settings whose value actually moved are included, so an unchanged setting is absent rather than present with equal values.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conversation_assignment_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The conversation assignment limit value for an admin.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ticket_assignment_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ticket assignment limit value for an admin.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "team": {
          "target": "com.intercom.api#ActivityLogMetadataTeam",
          "traits": {
            "smithy.api#documentation": "Details about the team whose assignment limit was changed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "team_assignment_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The team assignment limit value (null if limit was removed).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the setting is enabled or disabled.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mode of the setting (e.g., when_away_only, when_away_and_reassign).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "consent_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the impersonation consent.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "expired_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the impersonation consent expires.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "before": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The state of settings or values before the change. Structure varies by activity type.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "after": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The state of settings or values after the change. Structure varies by activity type.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional data provided about Admin activity."
      }
    },
    "com.intercom.api#ActivityLogMetadataChangesValue": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The value before the change."
          }
        },
        "after": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The value after the change."
          }
        }
      },
      "traits": {}
    },
    "com.intercom.api#ActivityLogMetadataChangesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.intercom.api#ActivityLogMetadataChangesValue"
      },
      "traits": {
        "smithy.api#documentation": "The settings altered by the change, keyed by setting name. Only settings whose value actually moved are included, so an unchanged setting is absent rather than present with equal values."
      }
    },
    "com.intercom.api#ActivityLogMetadataTeam": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the team."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the team."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the team whose assignment limit was changed."
      }
    },
    "com.intercom.api#ActivityLogActivityType": {
      "type": "enum",
      "members": {
        "ADMIN_CONVERSATION_ASSIGNMENT_LIMIT_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_conversation_assignment_limit_change"
          }
        },
        "ADMIN_TICKET_ASSIGNMENT_LIMIT_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_ticket_assignment_limit_change"
          }
        },
        "ADMIN_AVATAR_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_avatar_change"
          }
        },
        "ADMIN_AWAY_MODE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_away_mode_change"
          }
        },
        "ADMIN_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_deletion"
          }
        },
        "ADMIN_DEPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_deprovisioned"
          }
        },
        "ADMIN_IMPERSONATION_END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_impersonation_end"
          }
        },
        "ADMIN_IMPERSONATION_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_impersonation_start"
          }
        },
        "ADMIN_IMPERSONATION_CONSENT_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_impersonation_consent_approved"
          }
        },
        "ADMIN_IMPERSONATION_CONSENT_REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_impersonation_consent_revoked"
          }
        },
        "ADMIN_INVITE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_invite_change"
          }
        },
        "ADMIN_INVITE_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_invite_creation"
          }
        },
        "ADMIN_INVITE_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_invite_deletion"
          }
        },
        "ADMIN_LOGIN_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_login_failure"
          }
        },
        "ADMIN_LOGIN_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_login_success"
          }
        },
        "ADMIN_LOGOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_logout"
          }
        },
        "ADMIN_OCCUPANCY_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_occupancy_setting_change"
          }
        },
        "ADMIN_OCCUPANCY_STATE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_occupancy_state_change"
          }
        },
        "ADMIN_PASSWORD_RESET_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_password_reset_request"
          }
        },
        "ADMIN_PASSWORD_RESET_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_password_reset_success"
          }
        },
        "ADMIN_PERMISSION_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_permission_change"
          }
        },
        "ADMIN_PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_provisioned"
          }
        },
        "ADMIN_TWO_FACTOR_AUTH_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_two_factor_auth_change"
          }
        },
        "ADMIN_UNAUTHORIZED_SIGN_IN_METHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_unauthorized_sign_in_method"
          }
        },
        "APP_ADMIN_JOIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_admin_join"
          }
        },
        "APP_AUTHENTICATION_METHOD_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_authentication_method_change"
          }
        },
        "APP_DATA_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_data_deletion"
          }
        },
        "APP_DATA_EXPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_data_export"
          }
        },
        "APP_GOOGLE_SSO_DOMAIN_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_google_sso_domain_change"
          }
        },
        "APP_IDENTITY_VERIFICATION_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_identity_verification_change"
          }
        },
        "APP_NAME_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_name_change"
          }
        },
        "APP_OUTBOUND_ADDRESS_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_outbound_address_change"
          }
        },
        "APP_PACKAGE_INSTALLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_package_installation"
          }
        },
        "APP_PACKAGE_TOKEN_REGENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_package_token_regeneration"
          }
        },
        "APP_PACKAGE_UNINSTALLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_package_uninstallation"
          }
        },
        "APP_TEAM_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_team_creation"
          }
        },
        "APP_TEAM_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_team_deletion"
          }
        },
        "APP_TEAM_MEMBERSHIP_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_team_membership_modification"
          }
        },
        "APP_TIMEZONE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_timezone_change"
          }
        },
        "APP_WEBHOOK_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_webhook_creation"
          }
        },
        "APP_WEBHOOK_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_webhook_deletion"
          }
        },
        "ARTICLES_IN_MESSENGER_ENABLED_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "articles_in_messenger_enabled_change"
          }
        },
        "AUTOMATIC_AWAY_MODE_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic_away_mode_setting_change"
          }
        },
        "BULK_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bulk_delete"
          }
        },
        "BULK_EXPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bulk_export"
          }
        },
        "CAMPAIGN_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "campaign_deletion"
          }
        },
        "CAMPAIGN_STATE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "campaign_state_change"
          }
        },
        "CONVERSATION_DELETION_SCHEDULE_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversation_deletion_schedule_creation"
          }
        },
        "CONVERSATION_DELETION_SCHEDULE_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversation_deletion_schedule_deletion"
          }
        },
        "CONVERSATION_DELETION_SCHEDULE_STATE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversation_deletion_schedule_state_change"
          }
        },
        "CONVERSATION_DELETION_SCHEDULE_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversation_deletion_schedule_update"
          }
        },
        "CONVERSATION_PART_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversation_part_deletion"
          }
        },
        "CONVERSATION_PDF_EXPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversation_pdf_export"
          }
        },
        "CONVERSATION_TOPIC_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversation_topic_change"
          }
        },
        "CONVERSATION_TOPIC_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversation_topic_creation"
          }
        },
        "CONVERSATION_TOPIC_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversation_topic_deletion"
          }
        },
        "CONTENT_REDACTION_RULE_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "content_redaction_rule_creation"
          }
        },
        "CONTENT_REDACTION_RULE_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "content_redaction_rule_deletion"
          }
        },
        "CONTENT_REDACTION_RULE_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "content_redaction_rule_update"
          }
        },
        "CSV_IMPORT_COMPLETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv_import_completion"
          }
        },
        "CSV_IMPORT_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv_import_creation"
          }
        },
        "CUSTOM_AUTHENTICATION_TOKEN_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_authentication_token_creation"
          }
        },
        "HELP_CENTER_SETTINGS_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "help_center_settings_change"
          }
        },
        "INBOUND_CONVERSATIONS_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inbound_conversations_change"
          }
        },
        "INBOX_ACCESS_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inbox_access_change"
          }
        },
        "MACRO_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "macro_creation"
          }
        },
        "MACRO_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "macro_deletion"
          }
        },
        "MACRO_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "macro_update"
          }
        },
        "MACRO_USAGE_EXPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "macro_usage_export"
          }
        },
        "MALICIOUS_DOMAINS_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "malicious_domains_setting_change"
          }
        },
        "MESSAGE_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message_deletion"
          }
        },
        "MESSAGE_STATE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message_state_change"
          }
        },
        "MESSENGER_API_SECRET_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "messenger_api_secret_creation"
          }
        },
        "MESSENGER_API_SECRET_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "messenger_api_secret_deletion"
          }
        },
        "MESSENGER_LOOK_AND_FEEL_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "messenger_look_and_feel_change"
          }
        },
        "MESSENGER_SEARCH_REQUIRED_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "messenger_search_required_change"
          }
        },
        "MESSENGER_SPACES_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "messenger_spaces_change"
          }
        },
        "OAUTH_TOKEN_REVOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth_token_revocation"
          }
        },
        "OFFICE_HOURS_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "office_hours_change"
          }
        },
        "ROLE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "role_change"
          }
        },
        "ROLE_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "role_creation"
          }
        },
        "ROLE_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "role_deletion"
          }
        },
        "RULESET_ACTIVATION_TITLE_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ruleset_activation_title_preview"
          }
        },
        "RULESET_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ruleset_creation"
          }
        },
        "RULESET_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ruleset_deletion"
          }
        },
        "SEARCH_BROWSE_ENABLED_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "search_browse_enabled_change"
          }
        },
        "SEARCH_BROWSE_REQUIRED_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "search_browse_required_change"
          }
        },
        "SEAT_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "seat_change"
          }
        },
        "SEAT_REVOKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "seat_revoke"
          }
        },
        "SECURITY_SETTINGS_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "security_settings_change"
          }
        },
        "SERIES_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "series_creation"
          }
        },
        "SERIES_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "series_deletion"
          }
        },
        "SERIES_SETTINGS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "series_settings_update"
          }
        },
        "SERIES_STATUS_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "series_status_change"
          }
        },
        "SERIES_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "series_update"
          }
        },
        "STRIP_INBOUND_EMAIL_LINKS_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "strip_inbound_email_links_change"
          }
        },
        "TEMPORARY_EXPECTATION_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "temporary_expectation_change"
          }
        },
        "TEAM_ASSIGNMENT_LIMIT_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team_assignment_limit_change"
          }
        },
        "TRUSTED_DOMAINS_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trusted_domains_setting_change"
          }
        },
        "UNASSIGN_UNSNOOZED_AT_CAPACITY_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unassign_unsnoozed_at_capacity_setting_change"
          }
        },
        "UNASSIGN_UNSNOOZED_WHEN_AWAY_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unassign_unsnoozed_when_away_setting_change"
          }
        },
        "UPFRONT_EMAIL_COLLECTION_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "upfront_email_collection_change"
          }
        },
        "ALLOWED_ATTACHMENT_FILETYPES_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allowed_attachment_filetypes_setting_change"
          }
        },
        "ATTACH_UPLOADS_INLINE_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attach_uploads_inline_setting_change"
          }
        },
        "TEAMMATE_GIFS_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teammate_gifs_setting_change"
          }
        },
        "USER_CAMERA_ATTACHMENTS_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_camera_attachments_setting_change"
          }
        },
        "USER_CONVERSATION_ATTACHMENTS_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_conversation_attachments_setting_change"
          }
        },
        "USER_FILE_ATTACHMENTS_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_file_attachments_setting_change"
          }
        },
        "USER_GIFS_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_gifs_setting_change"
          }
        },
        "USER_MEDIA_ATTACHMENTS_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_media_attachments_setting_change"
          }
        },
        "USER_VOICE_NOTES_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_voice_notes_setting_change"
          }
        },
        "WELCOME_MESSAGE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "welcome_message_change"
          }
        },
        "WORKSPACE_DELETION_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workspace_deletion_request"
          }
        },
        "HIDE_CSAT_FROM_AGENTS_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hide_csat_from_agents_setting_change"
          }
        }
      },
      "traits": {}
    },
    "com.intercom.api#ActivityLogListActivityLogsList": {
      "type": "list",
      "member": {
        "target": "com.intercom.api#ActivityLog"
      },
      "traits": {
        "smithy.api#documentation": "An array of activity logs"
      }
    },
    "com.intercom.api#ListActivityLogs": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#ListActivityLogsRequest"
      },
      "output": {
        "target": "com.intercom.api#ActivityLogList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admins/activity_logs",
          "code": 200
        },
        "smithy.api#documentation": "List all activity logs\n\nYou can get a log of activities by all admins in an app."
      }
    },
    "com.intercom.api#SearchActivityLogsRequestEventTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An optional list of event types to filter activity logs by. Use the list all activity log event types endpoint to retrieve available values."
      }
    },
    "com.intercom.api#SearchActivityLogsRequest": {
      "type": "structure",
      "members": {
        "created_at_after": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The start date that you request data for. It must be formatted as a UNIX timestamp.",
            "smithy.api#required": {}
          }
        },
        "created_at_before": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The end date that you request data for. It must be formatted as a UNIX timestamp."
          }
        },
        "event_types": {
          "target": "com.intercom.api#SearchActivityLogsRequestEventTypesList",
          "traits": {
            "smithy.api#documentation": "An optional list of event types to filter activity logs by. Use the list all activity log event types endpoint to retrieve available values."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The page number of results to return."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of results per page. Must be between 1 and 250."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#SearchActivityLogs": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#SearchActivityLogsRequest"
      },
      "output": {
        "target": "com.intercom.api#ActivityLogList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admins/activity_logs/search",
          "code": 200
        },
        "smithy.api#documentation": "Search activity logs\n\nSearch and filter admin activity logs using a POST request with event type filter in the request body. You can find more details about the available event types in the List all activity log event types endpoint."
      }
    },
    "com.intercom.api#ActivityLogEventTypeList": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String representing the object's type. Always has the value `activity_log_event_type.list`."
          }
        },
        "event_types": {
          "target": "com.intercom.api#ActivityLogEventTypeListEventTypesList",
          "traits": {
            "smithy.api#documentation": "An array of activity log event type strings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of all activity log event types."
      }
    },
    "com.intercom.api#ActivityLogEventTypeListEventTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An array of activity log event type strings."
      }
    },
    "com.intercom.api#ListActivityLogEventTypes": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.intercom.api#ActivityLogEventTypeList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admins/activity_log_event_types",
          "code": 200
        },
        "smithy.api#documentation": "List all activity log event types\n\nYou can get a list of all activity log event types. This is useful for discovering valid values to use with the `event_types` filter on the List all activity logs endpoint."
      }
    },
    "com.intercom.api#ListAdminsRequest": {
      "type": "structure",
      "members": {
        "display_avatar": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "display_avatar",
            "smithy.api#documentation": "If set to true, the response will include the admin's avatar object containing the image URL. Defaults to false."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#AdminList": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String representing the object's type. Always has the value `admin.list`."
          }
        },
        "admins": {
          "target": "com.intercom.api#AdminListAdminsList",
          "traits": {
            "smithy.api#documentation": "A list of admins associated with a given workspace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of admins associated with a given workspace."
      }
    },
    "com.intercom.api#AdminListAdminsList": {
      "type": "list",
      "member": {
        "target": "com.intercom.api#Admin"
      },
      "traits": {
        "smithy.api#documentation": "A list of admins associated with a given workspace."
      }
    },
    "com.intercom.api#ListAdmins": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#ListAdminsRequest"
      },
      "output": {
        "target": "com.intercom.api#AdminList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admins",
          "code": 200
        },
        "smithy.api#documentation": "List all admins\n\nYou can fetch a list of admins for a given workspace."
      }
    },
    "com.intercom.api#GetOfficeHoursExceptionRequest": {
      "type": "structure",
      "members": {
        "office_hours_schedule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier for the office hours schedule."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier for the office hours exception."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#OfficeHoursException": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the object - always `office_hours_exception`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the office hours exception."
          }
        },
        "office_hours_schedule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the schedule this exception belongs to."
          }
        },
        "exception_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date the exception applies to, in `YYYY-MM-DD` format."
          }
        },
        "exception_type": {
          "target": "com.intercom.api#OfficeHoursExceptionExceptionType",
          "traits": {
            "smithy.api#documentation": "`closed` means the workspace is closed all day; `custom_hours` replaces the regular hours with `time_intervals`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional name for the exception.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "time_intervals": {
          "target": "com.intercom.api#OfficeHoursExceptionTimeIntervalsList",
          "traits": {
            "smithy.api#documentation": "The open intervals for the exception date. `null` when `exception_type` is `closed`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "recurring_annually": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the exception repeats every year on the same date."
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time the exception was created as a Unix timestamp."
          }
        },
        "updated_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time the exception was last updated as a Unix timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exception overrides a schedule's regular hours on a specific date, such as a public holiday."
      }
    },
    "com.intercom.api#OfficeHoursExceptionExceptionType": {
      "type": "enum",
      "members": {
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        },
        "CUSTOM_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_hours"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`closed` means the workspace is closed all day; `custom_hours` replaces the regular hours with `time_intervals`."
      }
    },
    "com.intercom.api#OfficeHoursTimeInterval": {
      "type": "structure",
      "members": {
        "start_minute": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minute the interval starts. For schedules, offset from the start of the week (Monday 00:00 = 0); for exceptions, offset from midnight on `exception_date`."
          }
        },
        "end_minute": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minute the interval ends. For schedules, offset from the start of the week (Monday 00:00 = 0); for exceptions, offset from midnight on `exception_date`."
          }
        },
        "day_of_week": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Derived day of the week the interval falls on (0 = Monday … 6 = Sunday). For exceptions, this is derived from `exception_date`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single open interval. For schedules, `start_minute` and `end_minute` are minute offsets from the start of the week (Monday 00:00 = 0), in the range 0 to 10080. For exceptions, they are minute offsets from midnight on `exception_date`, in the range 0 to 1440."
      }
    },
    "com.intercom.api#OfficeHoursExceptionTimeIntervalsList": {
      "type": "list",
      "member": {
        "target": "com.intercom.api#OfficeHoursTimeInterval"
      },
      "traits": {
        "smithy.api#documentation": "The open intervals for the exception date. `null` when `exception_type` is `closed`."
      }
    },
    "com.intercom.api#GetOfficeHoursException": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#GetOfficeHoursExceptionRequest"
      },
      "output": {
        "target": "com.intercom.api#OfficeHoursException"
      },
      "errors": [
        {
          "target": "com.intercom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/office_hours_schedules/{office_hours_schedule_id}/office_hours_exceptions/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve an office hours exception\n\nYou can fetch the details of a single office hours exception."
      }
    },
    "com.intercom.api#UpdateOfficeHoursExceptionRequestExceptionType": {
      "type": "enum",
      "members": {
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        },
        "CUSTOM_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_hours"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of exception."
      }
    },
    "com.intercom.api#OfficeHoursTimeIntervalInput": {
      "type": "structure",
      "members": {
        "start_minute": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minute the interval starts. For schedules, offset from the start of the week (Monday 00:00 = 0); for exceptions, offset from midnight on `exception_date`."
          }
        },
        "end_minute": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minute the interval ends. For schedules, offset from the start of the week (Monday 00:00 = 0); for exceptions, offset from midnight on `exception_date`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single open interval. For schedules, `start_minute` and `end_minute` are minute offsets from the start of the week (Monday 00:00 = 0), in the range 0 to 10080. For exceptions, they are minute offsets from midnight on `exception_date`, in the range 0 to 1440."
      }
    },
    "com.intercom.api#UpdateOfficeHoursExceptionRequestTimeIntervalsList": {
      "type": "list",
      "member": {
        "target": "com.intercom.api#OfficeHoursTimeIntervalInput"
      },
      "traits": {
        "smithy.api#documentation": "The open intervals for the exception date. Required for `custom_hours`; omit for `closed`."
      }
    },
    "com.intercom.api#UpdateOfficeHoursExceptionRequest": {
      "type": "structure",
      "members": {
        "office_hours_schedule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier for the office hours schedule."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier for the office hours exception."
          }
        },
        "exception_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date the exception applies to, in `YYYY-MM-DD` format."
          }
        },
        "exception_type": {
          "target": "com.intercom.api#UpdateOfficeHoursExceptionRequestExceptionType",
          "traits": {
            "smithy.api#documentation": "The type of exception."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional name for the exception."
          }
        },
        "time_intervals": {
          "target": "com.intercom.api#UpdateOfficeHoursExceptionRequestTimeIntervalsList",
          "traits": {
            "smithy.api#documentation": "The open intervals for the exception date. Required for `custom_hours`; omit for `closed`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "recurring_annually": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the exception repeats every year on the same date."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#UpdateOfficeHoursException": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#UpdateOfficeHoursExceptionRequest"
      },
      "output": {
        "target": "com.intercom.api#OfficeHoursException"
      },
      "errors": [
        {
          "target": "com.intercom.api#NotFound"
        },
        {
          "target": "com.intercom.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/office_hours_schedules/{office_hours_schedule_id}/office_hours_exceptions/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an office hours exception\n\nYou can update an existing office hours exception."
      }
    },
    "com.intercom.api#DeleteOfficeHoursExceptionRequest": {
      "type": "structure",
      "members": {
        "office_hours_schedule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier for the office hours schedule."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier for the office hours exception."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#DeleteOfficeHoursExceptionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.intercom.api#DeleteOfficeHoursException": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#DeleteOfficeHoursExceptionRequest"
      },
      "output": {
        "target": "com.intercom.api#DeleteOfficeHoursExceptionResponse"
      },
      "errors": [
        {
          "target": "com.intercom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/office_hours_schedules/{office_hours_schedule_id}/office_hours_exceptions/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an office hours exception\n\nYou can delete a single office hours exception."
      }
    },
    "com.intercom.api#ListOfficeHoursExceptionsRequest": {
      "type": "structure",
      "members": {
        "office_hours_schedule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier for the office hours schedule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#OfficeHoursExceptionList": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the object - always `office_hours_exception.list`."
          }
        },
        "data": {
          "target": "com.intercom.api#OfficeHoursExceptionListDataList",
          "traits": {
            "smithy.api#documentation": "An array of office hours exceptions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of office hours exceptions."
      }
    },
    "com.intercom.api#OfficeHoursExceptionListDataList": {
      "type": "list",
      "member": {
        "target": "com.intercom.api#OfficeHoursException"
      },
      "traits": {
        "smithy.api#documentation": "An array of office hours exceptions."
      }
    },
    "com.intercom.api#ListOfficeHoursExceptions": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#ListOfficeHoursExceptionsRequest"
      },
      "output": {
        "target": "com.intercom.api#OfficeHoursExceptionList"
      },
      "errors": [
        {
          "target": "com.intercom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/office_hours_schedules/{office_hours_schedule_id}/office_hours_exceptions",
          "code": 200
        },
        "smithy.api#documentation": "List all office hours exceptions\n\nYou can fetch a list of all exceptions for an office hours schedule."
      }
    },
    "com.intercom.api#CreateOfficeHoursExceptionRequestExceptionType": {
      "type": "enum",
      "members": {
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        },
        "CUSTOM_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_hours"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of exception."
      }
    },
    "com.intercom.api#CreateOfficeHoursExceptionRequestTimeIntervalsList": {
      "type": "list",
      "member": {
        "target": "com.intercom.api#OfficeHoursTimeIntervalInput"
      },
      "traits": {
        "smithy.api#documentation": "The open intervals for the exception date. Required for `custom_hours`; omit for `closed`."
      }
    },
    "com.intercom.api#CreateOfficeHoursExceptionRequest": {
      "type": "structure",
      "members": {
        "office_hours_schedule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier for the office hours schedule."
          }
        },
        "exception_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date the exception applies to, in `YYYY-MM-DD` format.",
            "smithy.api#required": {}
          }
        },
        "exception_type": {
          "target": "com.intercom.api#CreateOfficeHoursExceptionRequestExceptionType",
          "traits": {
            "smithy.api#documentation": "The type of exception.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional name for the exception."
          }
        },
        "time_intervals": {
          "target": "com.intercom.api#CreateOfficeHoursExceptionRequestTimeIntervalsList",
          "traits": {
            "smithy.api#documentation": "The open intervals for the exception date. Required for `custom_hours`; omit for `closed`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "recurring_annually": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the exception repeats every year on the same date."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#CreateOfficeHoursException": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#CreateOfficeHoursExceptionRequest"
      },
      "output": {
        "target": "com.intercom.api#OfficeHoursException"
      },
      "errors": [
        {
          "target": "com.intercom.api#NotFound"
        },
        {
          "target": "com.intercom.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/office_hours_schedules/{office_hours_schedule_id}/office_hours_exceptions",
          "code": 200
        },
        "smithy.api#documentation": "Create an office hours exception\n\nYou can create an exception for an office hours schedule. Use `closed` to mark the day closed (omit `time_intervals`) or `custom_hours` to supply replacement intervals."
      }
    },
    "com.intercom.api#GetOfficeHoursScheduleRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier for the office hours schedule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#OfficeHoursSchedule": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the object - always `office_hours_schedule`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the office hours schedule."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the office hours schedule."
          }
        },
        "time_zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IANA time zone the schedule's hours are evaluated in."
          }
        },
        "time_intervals": {
          "target": "com.intercom.api#OfficeHoursScheduleTimeIntervalsList",
          "traits": {
            "smithy.api#documentation": "The open intervals that make up the weekly schedule."
          }
        },
        "twenty_four_seven": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the schedule is open 24/7."
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time the schedule was created as a Unix timestamp."
          }
        },
        "updated_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time the schedule was last updated as a Unix timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An office hours schedule defines the recurring weekly hours during which the workspace is open."
      }
    },
    "com.intercom.api#OfficeHoursScheduleTimeIntervalsList": {
      "type": "list",
      "member": {
        "target": "com.intercom.api#OfficeHoursTimeInterval"
      },
      "traits": {
        "smithy.api#documentation": "The open intervals that make up the weekly schedule."
      }
    },
    "com.intercom.api#GetOfficeHoursSchedule": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#GetOfficeHoursScheduleRequest"
      },
      "output": {
        "target": "com.intercom.api#OfficeHoursSchedule"
      },
      "errors": [
        {
          "target": "com.intercom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/office_hours_schedules/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve an office hours schedule\n\nYou can fetch the details of a single office hours schedule."
      }
    },
    "com.intercom.api#UpdateOfficeHoursScheduleRequestTimeIntervalsList": {
      "type": "list",
      "member": {
        "target": "com.intercom.api#OfficeHoursTimeIntervalInput"
      },
      "traits": {
        "smithy.api#documentation": "The open intervals for the schedule. `start_minute` and `end_minute` must be on a 15-minute boundary."
      }
    },
    "com.intercom.api#UpdateOfficeHoursScheduleRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier for the office hours schedule."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the office hours schedule."
          }
        },
        "time_zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IANA time zone the schedule's hours are evaluated in."
          }
        },
        "time_intervals": {
          "target": "com.intercom.api#UpdateOfficeHoursScheduleRequestTimeIntervalsList",
          "traits": {
            "smithy.api#documentation": "The open intervals for the schedule. `start_minute` and `end_minute` must be on a 15-minute boundary."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#UpdateOfficeHoursSchedule": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#UpdateOfficeHoursScheduleRequest"
      },
      "output": {
        "target": "com.intercom.api#OfficeHoursSchedule"
      },
      "errors": [
        {
          "target": "com.intercom.api#NotFound"
        },
        {
          "target": "com.intercom.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/office_hours_schedules/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an office hours schedule\n\nYou can update an existing office hours schedule."
      }
    },
    "com.intercom.api#DeleteOfficeHoursScheduleRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier for the office hours schedule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#DeleteOfficeHoursScheduleResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.intercom.api#DeleteOfficeHoursSchedule": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#DeleteOfficeHoursScheduleRequest"
      },
      "output": {
        "target": "com.intercom.api#DeleteOfficeHoursScheduleResponse"
      },
      "errors": [
        {
          "target": "com.intercom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/office_hours_schedules/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an office hours schedule\n\nYou can delete a single office hours schedule."
      }
    },
    "com.intercom.api#OfficeHoursScheduleList": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the object - always `office_hours_schedule.list`."
          }
        },
        "data": {
          "target": "com.intercom.api#OfficeHoursScheduleListDataList",
          "traits": {
            "smithy.api#documentation": "An array of office hours schedules."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of office hours schedules."
      }
    },
    "com.intercom.api#OfficeHoursScheduleListDataList": {
      "type": "list",
      "member": {
        "target": "com.intercom.api#OfficeHoursSchedule"
      },
      "traits": {
        "smithy.api#documentation": "An array of office hours schedules."
      }
    },
    "com.intercom.api#ListOfficeHoursSchedules": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.intercom.api#OfficeHoursScheduleList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/office_hours_schedules",
          "code": 200
        },
        "smithy.api#documentation": "List all office hours schedules\n\nYou can fetch a list of all office hours schedules for the workspace."
      }
    },
    "com.intercom.api#CreateOfficeHoursScheduleRequestTimeIntervalsList": {
      "type": "list",
      "member": {
        "target": "com.intercom.api#OfficeHoursTimeIntervalInput"
      },
      "traits": {
        "smithy.api#documentation": "The open intervals for the schedule. `start_minute` and `end_minute` must be on a 15-minute boundary."
      }
    },
    "com.intercom.api#CreateOfficeHoursScheduleRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the office hours schedule.",
            "smithy.api#required": {}
          }
        },
        "time_zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IANA time zone the schedule's hours are evaluated in.",
            "smithy.api#required": {}
          }
        },
        "time_intervals": {
          "target": "com.intercom.api#CreateOfficeHoursScheduleRequestTimeIntervalsList",
          "traits": {
            "smithy.api#documentation": "The open intervals for the schedule. `start_minute` and `end_minute` must be on a 15-minute boundary.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#CreateOfficeHoursSchedule": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#CreateOfficeHoursScheduleRequest"
      },
      "output": {
        "target": "com.intercom.api#OfficeHoursSchedule"
      },
      "errors": [
        {
          "target": "com.intercom.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/office_hours_schedules",
          "code": 200
        },
        "smithy.api#documentation": "Create an office hours schedule\n\nYou can create a new office hours schedule for the workspace."
      }
    },
    "com.intercom.api#RetrieveAdminRequest": {
      "type": "structure",
      "members": {
        "admin_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of a given admin"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.intercom.api#RetrieveAdmin": {
      "type": "operation",
      "input": {
        "target": "com.intercom.api#RetrieveAdminRequest"
      },
      "output": {
        "target": "com.intercom.api#Admin"
      },
      "errors": [
        {
          "target": "com.intercom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admins/{admin_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve an admin\n\nYou can retrieve the details of a single admin."
      }
    },
    "com.intercom.api#ContentImportSourcesList": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.intercom.api#ContentImportSourcesListType",
          "traits": {
            "smithy.api#documentation": "The type of the object - `list`."
          }
        },
        "pages": {
          "target": "com.intercom.api#PagesLink"
        },
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A count of the total number of content import sources."
          }
        },
        "data": {
          "target": "com.intercom.api#ContentImportSourcesListDataList",
          "traits": {
            "smithy.api#documentation": "An array of Content Import Source objects"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This will return a list of the content import sources for the App."
      }
    },
    "com.intercom.api#ContentImportSourcesListType": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object - `list`."
      }
    },
    "com.intercom.api#PagesLink": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.intercom.api#PagesLinkType"
        },
        "page": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to the next page of results. A response that does not contain a next link does not have further data to fetch.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Integer"
        },
        "total_pages": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
[...]
