{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.activity_logs#ActivityLogListRequestScope": {
      "type": "enum",
      "members": {
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cohort"
          }
        },
        "FEATUREFLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FeatureFlag"
          }
        },
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Person"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Group"
          }
        },
        "INSIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Insight"
          }
        },
        "PLUGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Plugin"
          }
        },
        "PLUGINCONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PluginConfig"
          }
        },
        "HOGFUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HogFunction"
          }
        },
        "HOGFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HogFlow"
          }
        },
        "DATAMANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataManagement"
          }
        },
        "EVENTDEFINITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EventDefinition"
          }
        },
        "PROPERTYDEFINITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PropertyDefinition"
          }
        },
        "NOTEBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Notebook"
          }
        },
        "ENDPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Endpoint"
          }
        },
        "ENDPOINTVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EndpointVersion"
          }
        },
        "DASHBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dashboard"
          }
        },
        "REPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Replay"
          }
        },
        "EXPERIMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Experiment"
          }
        },
        "EXPERIMENTHOLDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExperimentHoldout"
          }
        },
        "EXPERIMENTSAVEDMETRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExperimentSavedMetric"
          }
        },
        "SURVEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Survey"
          }
        },
        "EARLYACCESSFEATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EarlyAccessFeature"
          }
        },
        "SESSIONRECORDINGPLAYLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SessionRecordingPlaylist"
          }
        },
        "COMMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Comment"
          }
        },
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Team"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Project"
          }
        },
        "ERRORTRACKINGISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ErrorTrackingIssue"
          }
        },
        "DATAWAREHOUSESAVEDQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataWarehouseSavedQuery"
          }
        },
        "LEGALDOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LegalDocument"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Organization"
          }
        },
        "ORGANIZATIONDOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrganizationDomain"
          }
        },
        "ORGANIZATIONMEMBERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrganizationMembership"
          }
        },
        "ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Role"
          }
        },
        "USERGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserGroup"
          }
        },
        "BATCHEXPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BatchExport"
          }
        },
        "BATCHIMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BatchImport"
          }
        },
        "EXPORTEDASSET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExportedAsset"
          }
        },
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Integration"
          }
        },
        "ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Annotation"
          }
        },
        "TAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tag"
          }
        },
        "TAGGEDITEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TaggedItem"
          }
        },
        "SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Subscription"
          }
        },
        "PERSONALAPIKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PersonalAPIKey"
          }
        },
        "PROJECTSECRETAPIKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProjectSecretAPIKey"
          }
        },
        "OAUTHAPPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAuthApplication"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Action"
          }
        },
        "ALERTCONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlertConfiguration"
          }
        },
        "THRESHOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Threshold"
          }
        },
        "ALERTSUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlertSubscription"
          }
        },
        "EXTERNALDATASOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExternalDataSource"
          }
        },
        "EXTERNALDATASCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExternalDataSchema"
          }
        },
        "EVALUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Evaluation"
          }
        },
        "LLMTRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LLMTrace"
          }
        },
        "WEBANALYTICSFILTERPRESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WebAnalyticsFilterPreset"
          }
        },
        "CUSTOMERPROFILECONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomerProfileConfig"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Log"
          }
        },
        "LOGSALERTCONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LogsAlertConfiguration"
          }
        },
        "LOGSEXCLUSIONRULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LogsExclusionRule"
          }
        },
        "DASHBOARDWIDGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DashboardWidget"
          }
        },
        "PRODUCTTOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProductTour"
          }
        },
        "TICKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ticket"
          }
        },
        "INSTANCESETTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InstanceSetting"
          }
        },
        "SIGNALSCOUTCONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SignalScoutConfig"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.activity_logs#ActivityLogListRequestScopesItem": {
      "type": "enum",
      "members": {
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cohort"
          }
        },
        "FEATUREFLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FeatureFlag"
          }
        },
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Person"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Group"
          }
        },
        "INSIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Insight"
          }
        },
        "PLUGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Plugin"
          }
        },
        "PLUGINCONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PluginConfig"
          }
        },
        "HOGFUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HogFunction"
          }
        },
        "HOGFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HogFlow"
          }
        },
        "DATAMANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataManagement"
          }
        },
        "EVENTDEFINITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EventDefinition"
          }
        },
        "PROPERTYDEFINITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PropertyDefinition"
          }
        },
        "NOTEBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Notebook"
          }
        },
        "ENDPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Endpoint"
          }
        },
        "ENDPOINTVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EndpointVersion"
          }
        },
        "DASHBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dashboard"
          }
        },
        "REPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Replay"
          }
        },
        "EXPERIMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Experiment"
          }
        },
        "EXPERIMENTHOLDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExperimentHoldout"
          }
        },
        "EXPERIMENTSAVEDMETRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExperimentSavedMetric"
          }
        },
        "SURVEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Survey"
          }
        },
        "EARLYACCESSFEATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EarlyAccessFeature"
          }
        },
        "SESSIONRECORDINGPLAYLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SessionRecordingPlaylist"
          }
        },
        "COMMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Comment"
          }
        },
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Team"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Project"
          }
        },
        "ERRORTRACKINGISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ErrorTrackingIssue"
          }
        },
        "DATAWAREHOUSESAVEDQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataWarehouseSavedQuery"
          }
        },
        "LEGALDOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LegalDocument"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Organization"
          }
        },
        "ORGANIZATIONDOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrganizationDomain"
          }
        },
        "ORGANIZATIONMEMBERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrganizationMembership"
          }
        },
        "ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Role"
          }
        },
        "USERGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserGroup"
          }
        },
        "BATCHEXPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BatchExport"
          }
        },
        "BATCHIMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BatchImport"
          }
        },
        "EXPORTEDASSET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExportedAsset"
          }
        },
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Integration"
          }
        },
        "ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Annotation"
          }
        },
        "TAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tag"
          }
        },
        "TAGGEDITEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TaggedItem"
          }
        },
        "SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Subscription"
          }
        },
        "PERSONALAPIKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PersonalAPIKey"
          }
        },
        "PROJECTSECRETAPIKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProjectSecretAPIKey"
          }
        },
        "OAUTHAPPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAuthApplication"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Action"
          }
        },
        "ALERTCONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlertConfiguration"
          }
        },
        "THRESHOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Threshold"
          }
        },
        "ALERTSUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlertSubscription"
          }
        },
        "EXTERNALDATASOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExternalDataSource"
          }
        },
        "EXTERNALDATASCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExternalDataSchema"
          }
        },
        "EVALUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Evaluation"
          }
        },
        "LLMTRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LLMTrace"
          }
        },
        "WEBANALYTICSFILTERPRESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WebAnalyticsFilterPreset"
          }
        },
        "CUSTOMERPROFILECONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomerProfileConfig"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Log"
          }
        },
        "LOGSALERTCONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LogsAlertConfiguration"
          }
        },
        "LOGSEXCLUSIONRULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LogsExclusionRule"
          }
        },
        "DASHBOARDWIDGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DashboardWidget"
          }
        },
        "PRODUCTTOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProductTour"
          }
        },
        "TICKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ticket"
          }
        },
        "INSTANCESETTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InstanceSetting"
          }
        },
        "SIGNALSCOUTCONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SignalScoutConfig"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `Cohort` - Cohort\n* `FeatureFlag` - FeatureFlag\n* `Person` - Person\n* `Group` - Group\n* `Insight` - Insight\n* `Plugin` - Plugin\n* `PluginConfig` - PluginConfig\n* `HogFunction` - HogFunction\n* `HogFlow` - HogFlow\n* `DataManagement` - DataManagement\n* `EventDefinition` - EventDefinition\n* `PropertyDefinition` - PropertyDefinition\n* `Notebook` - Notebook\n* `Endpoint` - Endpoint\n* `EndpointVersion` - EndpointVersion\n* `Dashboard` - Dashboard\n* `Replay` - Replay\n* `Experiment` - Experiment\n* `ExperimentHoldout` - ExperimentHoldout\n* `ExperimentSavedMetric` - ExperimentSavedMetric\n* `Survey` - Survey\n* `EarlyAccessFeature` - EarlyAccessFeature\n* `SessionRecordingPlaylist` - SessionRecordingPlaylist\n* `Comment` - Comment\n* `Team` - Team\n* `Project` - Project\n* `ErrorTrackingIssue` - ErrorTrackingIssue\n* `DataWarehouseSavedQuery` - DataWarehouseSavedQuery\n* `LegalDocument` - LegalDocument\n* `Organization` - Organization\n* `OrganizationDomain` - OrganizationDomain\n* `OrganizationMembership` - OrganizationMembership\n* `Role` - Role\n* `UserGroup` - UserGroup\n* `BatchExport` - BatchExport\n* `BatchImport` - BatchImport\n* `ExportedAsset` - ExportedAsset\n* `Integration` - Integration\n* `Annotation` - Annotation\n* `Tag` - Tag\n* `TaggedItem` - TaggedItem\n* `Subscription` - Subscription\n* `PersonalAPIKey` - PersonalAPIKey\n* `ProjectSecretAPIKey` - ProjectSecretAPIKey\n* `OAuthApplication` - OAuthApplication\n* `User` - User\n* `Action` - Action\n* `AlertConfiguration` - AlertConfiguration\n* `Threshold` - Threshold\n* `AlertSubscription` - AlertSubscription\n* `ExternalDataSource` - ExternalDataSource\n* `ExternalDataSchema` - ExternalDataSchema\n* `Evaluation` - Evaluation\n* `LLMTrace` - LLMTrace\n* `WebAnalyticsFilterPreset` - WebAnalyticsFilterPreset\n* `CustomerProfileConfig` - CustomerProfileConfig\n* `Log` - Log\n* `LogsAlertConfiguration` - LogsAlertConfiguration\n* `LogsExclusionRule` - LogsExclusionRule\n* `DashboardWidget` - DashboardWidget\n* `ProductTour` - ProductTour\n* `Ticket` - Ticket\n* `InstanceSetting` - InstanceSetting\n* `SignalScoutConfig` - SignalScoutConfig"
      }
    },
    "com.posthog.activity_logs#ActivityLogListRequestScopesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.activity_logs#ActivityLogListRequestScopesItem"
      },
      "traits": {}
    },
    "com.posthog.activity_logs#ActivityLogListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "item_id",
            "smithy.api#documentation": "Filter by the ID of the affected resource."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number for pagination. When provided, uses page-based pagination ordered by most recent first."
          }
        },
        "page_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page_size",
            "smithy.api#documentation": "Number of results per page (default: 100, max: 1000). Only used with page-based pagination."
          }
        },
        "scope": {
          "target": "com.posthog.activity_logs#ActivityLogListRequestScope",
          "traits": {
            "smithy.api#httpQuery": "scope",
            "smithy.api#documentation": "Filter by a single activity scope, e.g. \"FeatureFlag\", \"Insight\", \"Dashboard\", \"Experiment\".\n\n* `Cohort` - Cohort\n* `FeatureFlag` - FeatureFlag\n* `Person` - Person\n* `Group` - Group\n* `Insight` - Insight\n* `Plugin` - Plugin\n* `PluginConfig` - PluginConfig\n* `HogFunction` - HogFunction\n* `HogFlow` - HogFlow\n* `DataManagement` - DataManagement\n* `EventDefinition` - EventDefinition\n* `PropertyDefinition` - PropertyDefinition\n* `Notebook` - Notebook\n* `Endpoint` - Endpoint\n* `EndpointVersion` - EndpointVersion\n* `Dashboard` - Dashboard\n* `Replay` - Replay\n* `Experiment` - Experiment\n* `ExperimentHoldout` - ExperimentHoldout\n* `ExperimentSavedMetric` - ExperimentSavedMetric\n* `Survey` - Survey\n* `EarlyAccessFeature` - EarlyAccessFeature\n* `SessionRecordingPlaylist` - SessionRecordingPlaylist\n* `Comment` - Comment\n* `Team` - Team\n* `Project` - Project\n* `ErrorTrackingIssue` - ErrorTrackingIssue\n* `DataWarehouseSavedQuery` - DataWarehouseSavedQuery\n* `LegalDocument` - LegalDocument\n* `Organization` - Organization\n* `OrganizationDomain` - OrganizationDomain\n* `OrganizationMembership` - OrganizationMembership\n* `Role` - Role\n* `UserGroup` - UserGroup\n* `BatchExport` - BatchExport\n* `BatchImport` - BatchImport\n* `ExportedAsset` - ExportedAsset\n* `Integration` - Integration\n* `Annotation` - Annotation\n* `Tag` - Tag\n* `TaggedItem` - TaggedItem\n* `Subscription` - Subscription\n* `PersonalAPIKey` - PersonalAPIKey\n* `ProjectSecretAPIKey` - ProjectSecretAPIKey\n* `OAuthApplication` - OAuthApplication\n* `User` - User\n* `Action` - Action\n* `AlertConfiguration` - AlertConfiguration\n* `Threshold` - Threshold\n* `AlertSubscription` - AlertSubscription\n* `ExternalDataSource` - ExternalDataSource\n* `ExternalDataSchema` - ExternalDataSchema\n* `Evaluation` - Evaluation\n* `LLMTrace` - LLMTrace\n* `WebAnalyticsFilterPreset` - WebAnalyticsFilterPreset\n* `CustomerProfileConfig` - CustomerProfileConfig\n* `Log` - Log\n* `LogsAlertConfiguration` - LogsAlertConfiguration\n* `LogsExclusionRule` - LogsExclusionRule\n* `DashboardWidget` - DashboardWidget\n* `ProductTour` - ProductTour\n* `Ticket` - Ticket\n* `InstanceSetting` - InstanceSetting\n* `SignalScoutConfig` - SignalScoutConfig"
          }
        },
        "scopes": {
          "target": "com.posthog.activity_logs#ActivityLogListRequestScopesList",
          "traits": {
            "smithy.api#httpQuery": "scopes",
            "smithy.api#documentation": "Filter by multiple activity scopes, comma-separated. Values must be valid ActivityScope enum values. E.g. \"FeatureFlag,Insight\"."
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user",
            "smithy.api#documentation": "Filter by user UUID who performed the action."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.activity_logs#PaginatedActivityLogList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.activity_logs#PaginatedActivityLogListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.activity_logs#ActivityLog": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "user": {
          "target": "com.posthog.activity_logs#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "unread": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "is the date of this log item newer than the user's bookmark"
          }
        },
        "team_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "was_impersonated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_system": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "client": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ip_address": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "activity": {
          "target": "smithy.api#String"
        },
        "item_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "scope": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#Document"
        },
        "created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.activity_logs#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.activity_logs#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.activity_logs#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.activity_logs#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.activity_logs#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.activity_logs#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.activity_logs#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.activity_logs#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.activity_logs#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.activity_logs#PaginatedActivityLogListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.activity_logs#ActivityLog"
      },
      "traits": {}
    },
    "com.posthog.activity_logs#ActivityLogList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.activity_logs#ActivityLogListRequest"
      },
      "output": {
        "target": "com.posthog.activity_logs#PaginatedActivityLogList"
      },
      "errors": [
        {
          "target": "com.posthog.activity_logs#BadRequest"
        },
        {
          "target": "com.posthog.activity_logs#Forbidden"
        },
        {
          "target": "com.posthog.activity_logs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/activity_log/",
          "code": 200
        }
      }
    },
    "com.posthog.activity_logs#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.activity_logs#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.posthog.activity_logs#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.posthog.activity_logs#ActivityLogs": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.activity_logs#ActivityLogList"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
