{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.agent_platform#AgentApplicationsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#PaginatedAgentApplicationList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.agent_platform#PaginatedAgentApplicationListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentApplication": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "team_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Globally-unique URL identifier. Server-minted as an opaque random slug on create; only allowlisted first-party teams may set it explicitly. Slugs live in one global namespace (domain-mode ingress routing carries no team)."
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "live_revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean"
        },
        "archived_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.agent_platform#AgentApplicationCreatedBy",
          "traits": {
            "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slack_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public URL to paste into the Slack app dashboard under Event Subscriptions → Request URL. Computed from the agent slug and the deployment's ingress routing mode (`AGENT_INGRESS_DOMAIN_SUFFIX` in domain mode, `AGENT_INGRESS_PUBLIC_URL` in path mode). Null when no public agent-ingress URL is configured (e.g. local dev without a tunnel).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "slack_interactivity_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public URL to paste into the Slack app dashboard under Interactivity & Shortcuts → Request URL. Same source + null behaviour as `slack_events_url`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ingress_base_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mode-aware base URL the agent's trigger routes hang off — append `/webhook`, `/run`, `/mcp`, etc. Domain mode: `https://<slug><suffix>`; path mode: `<public_url>/agents/<slug>`. Same source + null behaviour as `slack_events_url` (null when no public ingress URL is configured).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentApplicationCreatedBy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted."
      }
    },
    "com.posthog.agent_platform#PaginatedAgentApplicationListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentApplication"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentApplicationsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsListRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#PaginatedAgentApplicationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/",
          "code": 200
        },
        "smithy.api#documentation": "Agent applications — the deployable unit of the platform.\n\nURLs:\n    GET    /api/projects/<team>/agent_applications/             list\n    POST   /api/projects/<team>/agent_applications/             create\n    GET    /api/projects/<team>/agent_applications/<id|slug>/   retrieve\n    PATCH  /api/projects/<team>/agent_applications/<id|slug>/   update\n    DELETE /api/projects/<team>/agent_applications/<id|slug>/   archive\n    POST   /api/projects/<team>/agent_applications/<id|slug>/set_env/        bulk replace env\n    GET    /api/projects/<team>/agent_applications/<id|slug>/env_keys/        list set keys\n    GET    /api/projects/<team>/agent_applications/<id|slug>/env_keys/<KEY>/  is one key set?\n    PUT    /api/projects/<team>/agent_applications/<id|slug>/env_keys/<KEY>/  set one key\n    DELETE /api/projects/<team>/agent_applications/<id|slug>/env_keys/<KEY>/  clear one key"
      }
    },
    "com.posthog.agent_platform#AgentApplicationsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Globally-unique URL identifier. Server-minted as an opaque random slug on create; only allowlisted first-party teams may set it explicitly. Slugs live in one global namespace (domain-mode ingress routing carries no team)."
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "archived": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentApplicationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsCreateRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentApplication"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/agent_applications/",
          "code": 200
        },
        "smithy.api#documentation": "Agent applications — the deployable unit of the platform.\n\nURLs:\n    GET    /api/projects/<team>/agent_applications/             list\n    POST   /api/projects/<team>/agent_applications/             create\n    GET    /api/projects/<team>/agent_applications/<id|slug>/   retrieve\n    PATCH  /api/projects/<team>/agent_applications/<id|slug>/   update\n    DELETE /api/projects/<team>/agent_applications/<id|slug>/   archive\n    POST   /api/projects/<team>/agent_applications/<id|slug>/set_env/        bulk replace env\n    GET    /api/projects/<team>/agent_applications/<id|slug>/env_keys/        list set keys\n    GET    /api/projects/<team>/agent_applications/<id|slug>/env_keys/<KEY>/  is one key set?\n    PUT    /api/projects/<team>/agent_applications/<id|slug>/env_keys/<KEY>/  set one key\n    DELETE /api/projects/<team>/agent_applications/<id|slug>/env_keys/<KEY>/  clear one key"
      }
    },
    "com.posthog.agent_platform#AgentMemoryListFilesRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "prefix",
            "smithy.api#documentation": "Optional path prefix to scope the list, e.g. 'incidents/'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentMemoryListResponse": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of entries returned.",
            "smithy.api#required": {}
          }
        },
        "entries": {
          "target": "com.posthog.agent_platform#AgentMemoryListResponseEntriesList",
          "traits": {
            "smithy.api#documentation": "Headers (frontmatter only) — no file bodies. Use the read endpoint for the body.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemoryHeader": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path within the agent's memory, e.g. 'incidents/db.md'.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One-line summary from the file's frontmatter.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.posthog.agent_platform#AgentMemoryHeaderTagsList",
          "traits": {
            "smithy.api#documentation": "Frontmatter tags (lowercase a-z 0-9 _ - only).",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp stamped on create. Null for files written before this field was introduced.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp stamped on every write.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemoryHeaderTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Frontmatter tags (lowercase a-z 0-9 _ - only)."
      }
    },
    "com.posthog.agent_platform#AgentMemoryListResponseEntriesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentMemoryHeader"
      },
      "traits": {
        "smithy.api#documentation": "Headers (frontmatter only) — no file bodies. Use the read endpoint for the body."
      }
    },
    "com.posthog.agent_platform#AgentMemoryListFiles": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryListFilesRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentMemoryListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/files/",
          "code": 200
        },
        "smithy.api#documentation": "List memory file headers under the agent's prefix. Headers only — no bodies."
      }
    },
    "com.posthog.agent_platform#AgentMemoryCreateFileRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional flat tags for search ranking. Lowercase a-z 0-9 _ - only."
      }
    },
    "com.posthog.agent_platform#AgentMemoryCreateFileRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where to store the file. Lowercase a-z 0-9 _ - / only, must end in .md.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One-line summary, max 280 chars. Surfaces in list/search results.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full markdown body.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.posthog.agent_platform#AgentMemoryCreateFileRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Optional flat tags for search ranking. Lowercase a-z 0-9 _ - only."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentMemoryFile": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full markdown body.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemoryCreateFile": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryCreateFileRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentMemoryFile"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/files/",
          "code": 200
        },
        "smithy.api#documentation": "Create a memory file. Fails if the path already exists — use the update endpoint to overwrite."
      }
    },
    "com.posthog.agent_platform#AgentMemoryGetFileRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Memory path returned by the list endpoint, e.g. 'incidents/db.md'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentMemoryGetFile": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryGetFileRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentMemoryFile"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/files/by_path/",
          "code": 200
        },
        "smithy.api#documentation": "Read one memory file in full (frontmatter + markdown body)."
      }
    },
    "com.posthog.agent_platform#AgentMemoryUpdateFileRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemoryUpdateFileRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Memory path to update."
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "tags": {
          "target": "com.posthog.agent_platform#AgentMemoryUpdateFileRequestTagsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentMemoryUpdateFile": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryUpdateFileRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentMemoryFile"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/files/by_path/",
          "code": 200
        },
        "smithy.api#documentation": "Update a memory file. Any field omitted is preserved from the existing file."
      }
    },
    "com.posthog.agent_platform#AgentMemoryDeleteFileRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Memory path to delete."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentMemoryDeleteFile": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryDeleteFileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/files/by_path/",
          "code": 200
        },
        "smithy.api#documentation": "Hard-delete a memory file. Activity log captures the action against the agent."
      }
    },
    "com.posthog.agent_platform#AgentMemorySearchRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Max results (default 10, max 100)."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "prefix",
            "smithy.api#documentation": "Optional path prefix to scope the search."
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q",
            "smithy.api#required": {},
            "smithy.api#documentation": "Search cue — plain natural language is fine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentMemorySearchResponse": {
      "type": "structure",
      "members": {
        "cue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original search cue, echoed back.",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.posthog.agent_platform#AgentMemorySearchResponseResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemorySearchResult": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.posthog.agent_platform#AgentMemorySearchResultTagsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "BM25 relevance score.",
            "smithy.api#required": {}
          }
        },
        "snippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Body snippet around the earliest match. Null when only the header matched.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemorySearchResultTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemorySearchResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentMemorySearchResult"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemorySearch": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemorySearchRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentMemorySearchResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/search/",
          "code": 200
        },
        "smithy.api#documentation": "BM25 search across the agent's memory files. Ranks by description+tags+path+body with field weighting."
      }
    },
    "com.posthog.agent_platform#AgentMemoryListTablesRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentTablesListResponse": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of tables.",
            "smithy.api#required": {}
          }
        },
        "tables": {
          "target": "com.posthog.agent_platform#AgentTablesListResponseTablesList",
          "traits": {
            "smithy.api#documentation": "Tabular-reference tables for this agent (the @posthog/table-* JSONL tables).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentTableHeader": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table name.",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Object size in bytes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentTablesListResponseTablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentTableHeader"
      },
      "traits": {
        "smithy.api#documentation": "Tabular-reference tables for this agent (the @posthog/table-* JSONL tables)."
      }
    },
    "com.posthog.agent_platform#AgentMemoryListTables": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryListTablesRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentTablesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/tables/",
          "code": 200
        },
        "smithy.api#documentation": "List the agent's tabular-reference tables (the @posthog/table-* JSONL tables): name + byte size."
      }
    },
    "com.posthog.agent_platform#AgentMemoryReadTableRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Max rows to return (default 500, max 5000)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentTableRowsResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total rows in the table.",
            "smithy.api#required": {}
          }
        },
        "returned": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rows in this response (capped by limit).",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rows": {
          "target": "com.posthog.agent_platform#AgentTableRowsResponseRowsList",
          "traits": {
            "smithy.api#documentation": "The rows (arbitrary JSON objects).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentTableRowsResponseRowsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentTableRowsResponseRowsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentTableRowsResponseRowsItemMap"
      },
      "traits": {
        "smithy.api#documentation": "The rows (arbitrary JSON objects)."
      }
    },
    "com.posthog.agent_platform#AgentMemoryReadTable": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryReadTableRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentTableRowsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/tables/{name}/",
          "code": 200
        },
        "smithy.api#documentation": "Read rows from one tabular-reference table (capped via ?limit)."
      }
    },
    "com.posthog.agent_platform#AgentMemoryTreeRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentMemoryTreeResponse": {
      "type": "structure",
      "members": {
        "root": {
          "target": "com.posthog.agent_platform#AgentMemoryTreeResponseRootMap",
          "traits": {
            "smithy.api#documentation": "Folder tree rooted at the agent's memory prefix. Each node is {name, type: 'folder'|'file', path?, description?, tags?, children?}.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemoryTreeResponseRootMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Folder tree rooted at the agent's memory prefix. Each node is {name, type: 'folder'|'file', path?, description?, tags?, children?}."
      }
    },
    "com.posthog.agent_platform#AgentMemoryTree": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryTreeRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentMemoryTreeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/tree/",
          "code": 200
        },
        "smithy.api#documentation": "Pre-aggregated folder tree of memory files. Saves the frontend re-derivation work."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#PaginatedAgentRevisionList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.agent_platform#PaginatedAgentRevisionListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevision": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "application": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent_revision": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.posthog.agent_platform#AgentRevisionStateEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bundle_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage-prefix metadata for the bundle, e.g. `fs://my-agent/`. Optional — leave blank and the server fills `fs://<application-slug>/`. Bundles are addressed by revision id regardless, so this is only a prefix hint."
          }
        },
        "bundle_sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "spec": {
          "target": "com.posthog.agent_platform#AgentRevisionSpec"
        },
        "skill_refs": {
          "target": "com.posthog.agent_platform#AgentRevisionSkillRefsList",
          "traits": {
            "smithy.api#documentation": "Store-skill references for this draft, set via the `skill_refs` action and resolved into the bundle at freeze. Preserved as the authoring record on the frozen revision (and carried forward when forking a new draft); resolved provenance is stamped onto `spec.skills[].source_version_id`.",
            "smithy.api#required": {}
          }
        },
        "created_by_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.agent_platform#AgentRevisionCreatedBy",
          "traits": {
            "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionStateEnum": {
      "type": "enum",
      "members": {
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `draft` - draft\n* `ready` - ready\n* `live` - live\n* `archived` - archived"
      }
    },
    "com.posthog.agent_platform#AgentRevisionSpecModelsCase0Level": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Quality/cost tier (auto). low = cheapest, for short, formulaic, no-reasoning jobs (lookups, FAQ bots); medium = balanced default, for multi-step but bounded work; high = top-tier, for long, branching, reasoning-heavy work. Resolved to a priority-ordered cross-provider list at session start."
      }
    },
    "com.posthog.agent_platform#AgentRevisionSpecModelsCase0Reasoning": {
      "type": "enum",
      "members": {
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minimal"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reasoning/thinking effort budget. minimal = no deliberation (fastest, cheapest) … xhigh = maximal (research-grade, ~5-10x the per-turn cost). Omit for the provider/spec default."
      }
    },
    "com.posthog.agent_platform#AgentRevisionSpecModelsCase0OptimizeFor": {
      "type": "enum",
      "members": {
        "COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cost"
          }
        },
        "AVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "availability"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Session model stability vs. resilience. `cost` (default): the first turn picks a working model and PINS it for the whole session — keeps the provider's prompt cache warm (cache reads are ~0.1-0.5x of full input) and never fails over mid-session; if the pinned model is down the turn fails rather than re-reading the whole context cold on another provider. `availability`: fail over to the next model when the session's model fails — survives an outage at the cost of a one-time cold re-read. Prefer `cost` for long/expensive sessions, `availability` where uptime matters more than spend."
      }
    },
    "com.posthog.agent_platform#AgentRevisionSpecModelsCase0": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "level": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecModelsCase0Level",
          "traits": {
            "smithy.api#documentation": "Quality/cost tier (auto). low = cheapest, for short, formulaic, no-reasoning jobs (lookups, FAQ bots); medium = balanced default, for multi-step but bounded work; high = top-tier, for long, branching, reasoning-heavy work. Resolved to a priority-ordered cross-provider list at session start."
          }
        },
        "reasoning": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecModelsCase0Reasoning",
          "traits": {
            "smithy.api#documentation": "Reasoning/thinking effort budget. minimal = no deliberation (fastest, cheapest) … xhigh = maximal (research-grade, ~5-10x the per-turn cost). Omit for the provider/spec default."
          }
        },
        "optimize_for": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecModelsCase0OptimizeFor",
          "traits": {
            "smithy.api#documentation": "Session model stability vs. resilience. `cost` (default): the first turn picks a working model and PINS it for the whole session — keeps the provider's prompt cache warm (cache reads are ~0.1-0.5x of full input) and never fails over mid-session; if the pinned model is down the turn fails rather than re-reading the whole context cold on another provider. `availability`: fail over to the next model when the session's model fails — survives an outage at the cost of a one-time cold re-read. Prefer `cost` for long/expensive sessions, `availability` where uptime matters more than spend."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecModelsCase1ModelsItemReasoning": {
      "type": "enum",
      "members": {
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minimal"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per-model reasoning effort override (else the spec default)."
      }
    },
    "com.posthog.agent_platform#AgentRevisionSpecModelsCase1ModelsItem": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Canonical model id, e.g. `anthropic/claude-sonnet-4-6` (see the agent-applications-models tool for served ids).",
            "smithy.api#required": {}
          }
        },
        "reasoning": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecModelsCase1ModelsItemReasoning",
          "traits": {
            "smithy.api#documentation": "Per-model reasoning effort override (else the spec default)."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecModelsCase1ModelsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentRevisionSpecModelsCase1ModelsItem"
      },
      "traits": {
        "smithy.api#documentation": "Explicit priority-ordered fallback list — the runner tries entries in order (primary first)."
      }
    },
    "com.posthog.agent_platform#AgentRevisionSpecModelsCase1OptimizeFor": {
      "type": "enum",
      "members": {
        "COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cost"
          }
        },
        "AVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "availability"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Session model stability vs. resilience. `cost` (default): pin the first working model for the whole session (warm prompt cache, no mid-session failover). `availability`: fail over down this list when the session's model fails (survives outages, re-reads context cold)."
      }
    },
    "com.posthog.agent_platform#AgentRevisionSpecModelsCase1": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "models": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecModelsCase1ModelsList",
          "traits": {
            "smithy.api#documentation": "Explicit priority-ordered fallback list — the runner tries entries in order (primary first).",
            "smithy.api#required": {}
          }
        },
        "optimize_for": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecModelsCase1OptimizeFor",
          "traits": {
            "smithy.api#documentation": "Session model stability vs. resilience. `cost` (default): pin the first working model for the whole session (warm prompt cache, no mid-session failover). `availability`: fail over down this list when the session's model fails (survives outages, re-reads context cold)."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecModels": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecModelsCase0"
        },
        "Case1": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecModelsCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "How this agent selects its model. `auto`: pick a quality/cost `level` and the platform resolves it to a maintained, priority-ordered, cross-provider list at runtime. `manual`: give an explicit priority-ordered `models` list (primary first). `optimize_for` governs how the chosen model is treated across the session's turns."
      }
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase0ConfigTrustedWorkspacesCase0List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase0ConfigTrustedWorkspaces": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase0ConfigTrustedWorkspacesCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase0Config": {
      "type": "structure",
      "members": {
        "channel_id": {
          "target": "smithy.api#String"
        },
        "mention_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "auto_resume_threads": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allow_workspace_participants": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ack_reaction": {
          "target": "smithy.api#String"
        },
        "allow_direct_messages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trusted_workspaces": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase0ConfigTrustedWorkspaces",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase0Config",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1Config": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItemCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "acknowledge_public_exposure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItemCase1ScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItemCase1Audience": {
      "type": "enum",
      "members": {
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItemCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItemCase1ScopesList"
        },
        "audience": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItemCase1Audience"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItemCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issuer_secret_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItemCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItemCase4": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItemCase0"
        },
        "Case1": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItemCase1"
        },
        "Case2": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItemCase2"
        },
        "Case3": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItemCase3"
        },
        "Case4": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItemCase4"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesItem"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1Auth": {
      "type": "structure",
      "members": {
        "modes": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1AuthModesList"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1Config",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "auth": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1Auth",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase2ConfigCatchUp": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "MOST_RECENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "most_recent"
          }
        },
        "SKIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skip"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase2Config": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "schedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timezone": {
          "target": "smithy.api#String"
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "external_key": {
          "target": "smithy.api#String"
        },
        "catch_up": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase2ConfigCatchUp"
        },
        "max_catch_up_age_seconds": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase2Config",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3Config": {
      "type": "structure",
      "members": {
        "allow_restart": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItemCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "acknowledge_public_exposure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItemCase1ScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItemCase1Audience": {
      "type": "enum",
      "members": {
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItemCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItemCase1ScopesList"
        },
        "audience": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItemCase1Audience"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItemCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issuer_secret_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItemCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItemCase4": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItemCase0"
        },
        "Case1": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItemCase1"
        },
        "Case2": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItemCase2"
        },
        "Case3": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItemCase3"
        },
        "Case4": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItemCase4"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesItem"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3Auth": {
      "type": "structure",
      "members": {
        "modes": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3AuthModesList"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3Config"
        },
        "auth": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3Auth",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4Config": {
      "type": "structure",
      "members": {
        "allow_restart": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItemCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "acknowledge_public_exposure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItemCase1ScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItemCase1Audience": {
      "type": "enum",
      "members": {
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItemCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItemCase1ScopesList"
        },
        "audience": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItemCase1Audience"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItemCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issuer_secret_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItemCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItemCase4": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItemCase0"
        },
        "Case1": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItemCase1"
        },
        "Case2": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItemCase2"
        },
        "Case3": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItemCase3"
        },
        "Case4": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItemCase4"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesItem"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4Auth": {
      "type": "structure",
      "members": {
        "modes": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4AuthModesList"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4Config"
        },
        "auth": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4Auth",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase0"
        },
        "Case1": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase1"
        },
        "Case2": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase2"
        },
        "Case3": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase3"
        },
        "Case4": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItemCase4"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecTriggersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersItem"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase0ApprovalPolicyType": {
      "type": "enum",
      "members": {
        "PRINCIPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "principal"
          }
        },
        "AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase0ApprovalPolicy": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase0ApprovalPolicyType"
        },
        "allow_edit": {
          "target": "smithy.api#Boolean"
        },
        "ttl_ms": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase0": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requires_approval": {
          "target": "smithy.api#Boolean"
        },
        "approval_policy": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase0ApprovalPolicy"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase1ApprovalPolicyType": {
      "type": "enum",
      "members": {
        "PRINCIPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "principal"
          }
        },
        "AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase1ApprovalPolicy": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase1ApprovalPolicyType"
        },
        "allow_edit": {
          "target": "smithy.api#Boolean"
        },
        "ttl_ms": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase1": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requires_approval": {
          "target": "smithy.api#Boolean"
        },
        "approval_policy": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase1ApprovalPolicy"
        },
        "requires_identity": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase2": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "from_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase3": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "args_schema": {
          "target": "smithy.api#Document"
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "timeout_ms": {
          "target": "smithy.api#Integer"
        },
        "interactive": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecToolsItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase0"
        },
        "Case1": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase1"
        },
        "Case2": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase2"
        },
        "Case3": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecToolsItemCase3"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecToolsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentRevisionSpecToolsItem"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecMcpsItemAuth": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecMcpsItemSecretsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecMcpsItemHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecMcpsItemToolsItemCase1ApprovalPolicyType": {
      "type": "enum",
      "members": {
        "PRINCIPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "principal"
          }
        },
        "AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecMcpsItemToolsItemCase1ApprovalPolicy": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecMcpsItemToolsItemCase1ApprovalPolicyType"
        },
        "allow_edit": {
          "target": "smithy.api#Boolean"
        },
        "ttl_ms": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecMcpsItemToolsItemCase1": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requires_approval": {
          "target": "smithy.api#Boolean"
        },
        "approval_policy": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecMcpsItemToolsItemCase1ApprovalPolicy"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecMcpsItemToolsItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecMcpsItemToolsItemCase1"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecMcpsItemToolsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentRevisionSpecMcpsItemToolsItem"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecMcpsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "auth": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecMcpsItemAuth"
        },
        "secrets": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecMcpsItemSecretsList"
        },
        "headers": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecMcpsItemHeadersMap"
        },
        "tools": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecMcpsItemToolsList"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecMcpsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentRevisionSpecMcpsItem"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecSkillsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "from_template": {
          "target": "smithy.api#String"
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "source_version_id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecSkillsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentRevisionSpecSkillsItem"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersItemCase0Binding": {
      "type": "enum",
      "members": {
        "PRINCIPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "principal"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersItemCase0ScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersItemCase0": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "binding": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersItemCase0Binding"
        },
        "scopes": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersItemCase0ScopesList"
        },
        "client_id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersItemCase1Binding": {
      "type": "enum",
      "members": {
        "PRINCIPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "principal"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersItemCase1ScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersItemCase1": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "binding": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersItemCase1Binding"
        },
        "authorize_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "token_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "client_secret_ref": {
          "target": "smithy.api#String"
        },
        "scopes": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersItemCase1ScopesList"
        },
        "userinfo_url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersItemCase0"
        },
        "Case1": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersItemCase1"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersItem"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecSecretsItemCase1AllowedHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecSecretsItemCase1": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowed_hosts": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecSecretsItemCase1AllowedHostsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecSecretsItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecSecretsItemCase1"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecSecretsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentRevisionSpecSecretsItem"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecLimits": {
      "type": "structure",
      "members": {
        "max_turns": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "max_tool_calls": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "max_wall_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "max_output_tokens": {
          "target": "smithy.api#Integer"
        },
        "max_memory_mb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "max_cpu_cores": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecReasoning": {
      "type": "enum",
      "members": {
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minimal"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "XHIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhigh"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecFrameworkPromptOmitItem": {
      "type": "enum",
      "members": {
        "META_TOOL_GUIDANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meta_tool_guidance"
          }
        },
        "STATE_CONTRACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "state_contract"
          }
        },
        "TOOL_FAILURE_GUIDANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool_failure_guidance"
          }
        },
        "APPROVAL_GUIDANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approval_guidance"
          }
        },
        "REASONING_HINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reasoning_hint"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecFrameworkPromptOmitList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentRevisionSpecFrameworkPromptOmitItem"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecFrameworkPrompt": {
      "type": "structure",
      "members": {
        "omit": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecFrameworkPromptOmitList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version_pin": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpecResume": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "max_completed_age_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionSpec": {
      "type": "structure",
      "members": {
        "models": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecModels",
          "traits": {
            "smithy.api#documentation": "How this agent selects its model. `auto`: pick a quality/cost `level` and the platform resolves it to a maintained, priority-ordered, cross-provider list at runtime. `manual`: give an explicit priority-ordered `models` list (primary first). `optimize_for` governs how the chosen model is treated across the session's turns.",
            "smithy.api#required": {}
          }
        },
        "triggers": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecTriggersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecToolsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mcps": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecMcpsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "skills": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecSkillsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "identity_providers": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecIdentityProvidersList"
        },
        "secrets": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecSecretsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limits": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecLimits",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reasoning": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecReasoning"
        },
        "framework_prompt": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecFrameworkPrompt"
        },
        "resume": {
          "target": "com.posthog.agent_platform#AgentRevisionSpecResume"
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#SkillRef": {
      "type": "structure",
      "members": {
        "from_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the skill in the llma-skill store to pin into this agent. Resolved at freeze to the chosen `version` and materialized into the bundle.",
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Folder the resolved skill is materialized under in the bundle (`skills/<alias>/`). Lowercase letters, digits, hyphens or underscores, starting and ending with a letter or digit; must be unique within the revision.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specific published version to pin. Omit to pin the store's latest version at freeze time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One reference to a versioned skill in the llma-skill store, pinned into\nthis agent's bundle at freeze."
      }
    },
    "com.posthog.agent_platform#AgentRevisionSkillRefsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#SkillRef"
      },
      "traits": {
        "smithy.api#documentation": "Store-skill references for this draft, set via the `skill_refs` action and resolved into the bundle at freeze. Preserved as the authoring record on the frozen revision (and carried forward when forking a new draft); resolved provenance is stamped onto `spec.skills[].source_version_id`."
      }
    },
    "com.posthog.agent_platform#AgentRevisionCreatedBy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted."
      }
    },
    "com.posthog.agent_platform#PaginatedAgentRevisionListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentRevision"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsRevisionsListRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#PaginatedAgentRevisionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/",
          "code": 200
        },
        "smithy.api#documentation": "Revisions of an agent. Created in `draft`, promoted through\n`ready → live` once the bundle has been uploaded + frozen.\n\nURLs (nested under an application):\n\n    Model CRUD:\n        GET   .../revisions/                       list\n        POST  .../revisions/                       create draft\n        GET   .../revisions/<id>/                  retrieve\n        PATCH .../revisions/<id>/                  update spec (draft only)\n\n    Lifecycle:\n        POST  .../revisions/<id>/promote/          ready → live\n        POST  .../revisions/<id>/archive/          → archived\n        POST  .../revisions/<id>/freeze/           draft → ready (stamps sha256)\n        POST  .../revisions/<id>/clone_from/       copy bundle from another rev\n        POST  .../revisions/new_draft/             create draft + clone_from atomically\n\n    Bundle authoring (proxied to the janitor):\n        GET    .../revisions/<id>/manifest/        list paths + sha256\n        GET    .../revisions/<id>/file/?path=…     read one file\n        PUT    .../revisions/<id>/file/?path=…     write one file (draft)\n        DELETE .../revisions/<id>/file/?path=…     delete one file (draft)\n        GET    .../revisions/<id>/bundle/          bulk pull all files\n        PUT    .../revisions/<id>/bundle/          bulk push (replace|merge)"
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsCreateRequestSpecModelsCase0Level": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Quality/cost tier (auto). low = cheapest, for short, formulaic, no-reasoning jobs (lookups, FAQ bots); medium = balanced default, for multi-step but bounded work; high = top-tier, for long, branching, reasoning-heavy work. Resolved to a priority-ordered cross-provider list at session start."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsCreateRequestSpecModelsCase0Reasoning": {
      "type": "enum",
      "members": {
        "MINIMAL": {
[...]
