{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.batch_exports#BatchExportsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.batch_exports#PaginatedBatchExportListOutput": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.batch_exports#PaginatedBatchExportListOutputResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.batch_exports#BatchExportOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "team_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The team this belongs to."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable name for this BatchExport."
          }
        },
        "model": {
          "target": "com.posthog.batch_exports#BatchExportOutputModel",
          "traits": {
            "smithy.api#documentation": "Which model this BatchExport is exporting.\n\n* `events` - Events\n* `persons` - Persons\n* `sessions` - Sessions",
            "com.distilled.openapi#nullable": {}
          }
        },
        "destination": {
          "target": "com.posthog.batch_exports#BatchExportDestinationOutput",
          "traits": {
            "smithy.api#documentation": "Destination configuration (type, config, and optional integration)."
          }
        },
        "interval": {
          "target": "com.posthog.batch_exports#BatchExportIntervalEnum",
          "traits": {
            "smithy.api#documentation": "How often the batch export should run.\n\n* `hour` - hour\n* `day` - day\n* `week` - week\n* `every 5 minutes` - every 5 minutes\n* `every 15 minutes` - every 15 minutes"
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this BatchExport is paused or not."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp at which this BatchExport was created."
          }
        },
        "last_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp at which this BatchExport was last updated."
          }
        },
        "last_paused_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp at which this BatchExport was last paused.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time before which any Batch Export runs won't be triggered.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time after which any Batch Export runs won't be triggered.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "latest_runs": {
          "target": "com.posthog.batch_exports#BatchExportOutputLatestRunsList",
          "traits": {
            "smithy.api#documentation": "The 10 most recent runs of this batch export, ordered newest first."
          }
        },
        "hogql_query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional HogQL SELECT defining a custom model schema. Only recommended in advanced use cases."
          }
        },
        "schema": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A schema of custom fields to select when exporting data."
          }
        },
        "filters": {
          "target": "smithy.api#Document"
        },
        "timezone": {
          "target": "com.posthog.batch_exports#TimezoneEnum",
          "traits": {
            "smithy.api#documentation": "IANA timezone name controlling daily and weekly interval boundaries. Defaults to UTC.\n\n* `Africa/Abidjan` - Africa/Abidjan\n* `Africa/Accra` - Africa/Accra\n* `Africa/Addis_Ababa` - Africa/Addis_Ababa\n* `Africa/Algiers` - Africa/Algiers\n* `Africa/Asmara` - Africa/Asmara\n* `Africa/Asmera` - Africa/Asmera\n* `Africa/Bamako` - Africa/Bamako\n* `Africa/Bangui` - Africa/Bangui\n* `Africa/Banjul` - Africa/Banjul\n* `Africa/Bissau` - Africa/Bissau\n* `Africa/Blantyre` - Africa/Blantyre\n* `Africa/Brazzaville` - Africa/Brazzaville\n* `Africa/Bujumbura` - Africa/Bujumbura\n* `Africa/Cairo` - Africa/Cairo\n* `Africa/Casablanca` - Africa/Casablanca\n* `Africa/Ceuta` - Africa/Ceuta\n* `Africa/Conakry` - Africa/Conakry\n* `Africa/Dakar` - Africa/Dakar\n* `Africa/Dar_es_Salaam` - Africa/Dar_es_Salaam\n* `Africa/Djibouti` - Africa/Djibouti\n* `Africa/Douala` - Africa/Douala\n* `Africa/El_Aaiun` - Africa/El_Aaiun\n* `Africa/Freetown` - Africa/Freetown\n* `Africa/Gaborone` - Africa/Gaborone\n* `Africa/Harare` - Africa/Harare\n* `Africa/Johannesburg` - Africa/Johannesburg\n* `Africa/Juba` - Africa/Juba\n* `Africa/Kampala` - Africa/Kampala\n* `Africa/Khartoum` - Africa/Khartoum\n* `Africa/Kigali` - Africa/Kigali\n* `Africa/Kinshasa` - Africa/Kinshasa\n* `Africa/Lagos` - Africa/Lagos\n* `Africa/Libreville` - Africa/Libreville\n* `Africa/Lome` - Africa/Lome\n* `Africa/Luanda` - Africa/Luanda\n* `Africa/Lubumbashi` - Africa/Lubumbashi\n* `Africa/Lusaka` - Africa/Lusaka\n* `Africa/Malabo` - Africa/Malabo\n* `Africa/Maputo` - Africa/Maputo\n* `Africa/Maseru` - Africa/Maseru\n* `Africa/Mbabane` - Africa/Mbabane\n* `Africa/Mogadishu` - Africa/Mogadishu\n* `Africa/Monrovia` - Africa/Monrovia\n* `Africa/Nairobi` - Africa/Nairobi\n* `Africa/Ndjamena` - Africa/Ndjamena\n* `Africa/Niamey` - Africa/Niamey\n* `Africa/Nouakchott` - Africa/Nouakchott\n* `Africa/Ouagadougou` - Africa/Ouagadougou\n* `Africa/Porto-Novo` - Africa/Porto-Novo\n* `Africa/Sao_Tome` - Africa/Sao_Tome\n* `Africa/Timbuktu` - Africa/Timbuktu\n* `Africa/Tripoli` - Africa/Tripoli\n* `Africa/Tunis` - Africa/Tunis\n* `Africa/Windhoek` - Africa/Windhoek\n* `America/Adak` - America/Adak\n* `America/Anchorage` - America/Anchorage\n* `America/Anguilla` - America/Anguilla\n* `America/Antigua` - America/Antigua\n* `America/Araguaina` - America/Araguaina\n* `America/Argentina/Buenos_Aires` - America/Argentina/Buenos_Aires\n* `America/Argentina/Catamarca` - America/Argentina/Catamarca\n* `America/Argentina/ComodRivadavia` - America/Argentina/ComodRivadavia\n* `America/Argentina/Cordoba` - America/Argentina/Cordoba\n* `America/Argentina/Jujuy` - America/Argentina/Jujuy\n* `America/Argentina/La_Rioja` - America/Argentina/La_Rioja\n* `America/Argentina/Mendoza` - America/Argentina/Mendoza\n* `America/Argentina/Rio_Gallegos` - America/Argentina/Rio_Gallegos\n* `America/Argentina/Salta` - America/Argentina/Salta\n* `America/Argentina/San_Juan` - America/Argentina/San_Juan\n* `America/Argentina/San_Luis` - America/Argentina/San_Luis\n* `America/Argentina/Tucuman` - America/Argentina/Tucuman\n* `America/Argentina/Ushuaia` - America/Argentina/Ushuaia\n* `America/Aruba` - America/Aruba\n* `America/Asuncion` - America/Asuncion\n* `America/Atikokan` - America/Atikokan\n* `America/Atka` - America/Atka\n* `America/Bahia` - America/Bahia\n* `America/Bahia_Banderas` - America/Bahia_Banderas\n* `America/Barbados` - America/Barbados\n* `America/Belem` - America/Belem\n* `America/Belize` - America/Belize\n* `America/Blanc-Sablon` - America/Blanc-Sablon\n* `America/Boa_Vista` - America/Boa_Vista\n* `America/Bogota` - America/Bogota\n* `America/Boise` - America/Boise\n* `America/Buenos_Aires` - America/Buenos_Aires\n* `America/Cambridge_Bay` - America/Cambridge_Bay\n* `America/Campo_Grande` - America/Campo_Grande\n* `America/Cancun` - America/Cancun\n* `America/Caracas` - America/Caracas\n* `America/Catamarca` - America/Catamarca\n* `America/Cayenne` - America/Cayenne\n* `America/Cayman` - America/Cayman\n* `America/Chicago` - America/Chicago\n* `America/Chihuahua` - America/Chihuahua\n* `America/Ciudad_Juarez` - America/Ciudad_Juarez\n* `America/Coral_Harbour` - America/Coral_Harbour\n* `America/Cordoba` - America/Cordoba\n* `America/Costa_Rica` - America/Costa_Rica\n* `America/Creston` - America/Creston\n* `America/Cuiaba` - America/Cuiaba\n* `America/Curacao` - America/Curacao\n* `America/Danmarkshavn` - America/Danmarkshavn\n* `America/Dawson` - America/Dawson\n* `America/Dawson_Creek` - America/Dawson_Creek\n* `America/Denver` - America/Denver\n* `America/Detroit` - America/Detroit\n* `America/Dominica` - America/Dominica\n* `America/Edmonton` - America/Edmonton\n* `America/Eirunepe` - America/Eirunepe\n* `America/El_Salvador` - America/El_Salvador\n* `America/Ensenada` - America/Ensenada\n* `America/Fort_Nelson` - America/Fort_Nelson\n* `America/Fort_Wayne` - America/Fort_Wayne\n* `America/Fortaleza` - America/Fortaleza\n* `America/Glace_Bay` - America/Glace_Bay\n* `America/Godthab` - America/Godthab\n* `America/Goose_Bay` - America/Goose_Bay\n* `America/Grand_Turk` - America/Grand_Turk\n* `America/Grenada` - America/Grenada\n* `America/Guadeloupe` - America/Guadeloupe\n* `America/Guatemala` - America/Guatemala\n* `America/Guayaquil` - America/Guayaquil\n* `America/Guyana` - America/Guyana\n* `America/Halifax` - America/Halifax\n* `America/Havana` - America/Havana\n* `America/Hermosillo` - America/Hermosillo\n* `America/Indiana/Indianapolis` - America/Indiana/Indianapolis\n* `America/Indiana/Knox` - America/Indiana/Knox\n* `America/Indiana/Marengo` - America/Indiana/Marengo\n* `America/Indiana/Petersburg` - America/Indiana/Petersburg\n* `America/Indiana/Tell_City` - America/Indiana/Tell_City\n* `America/Indiana/Vevay` - America/Indiana/Vevay\n* `America/Indiana/Vincennes` - America/Indiana/Vincennes\n* `America/Indiana/Winamac` - America/Indiana/Winamac\n* `America/Indianapolis` - America/Indianapolis\n* `America/Inuvik` - America/Inuvik\n* `America/Iqaluit` - America/Iqaluit\n* `America/Jamaica` - America/Jamaica\n* `America/Jujuy` - America/Jujuy\n* `America/Juneau` - America/Juneau\n* `America/Kentucky/Louisville` - America/Kentucky/Louisville\n* `America/Kentucky/Monticello` - America/Kentucky/Monticello\n* `America/Knox_IN` - America/Knox_IN\n* `America/Kralendijk` - America/Kralendijk\n* `America/La_Paz` - America/La_Paz\n* `America/Lima` - America/Lima\n* `America/Los_Angeles` - America/Los_Angeles\n* `America/Louisville` - America/Louisville\n* `America/Lower_Princes` - America/Lower_Princes\n* `America/Maceio` - America/Maceio\n* `America/Managua` - America/Managua\n* `America/Manaus` - America/Manaus\n* `America/Marigot` - America/Marigot\n* `America/Martinique` - America/Martinique\n* `America/Matamoros` - America/Matamoros\n* `America/Mazatlan` - America/Mazatlan\n* `America/Mendoza` - America/Mendoza\n* `America/Menominee` - America/Menominee\n* `America/Merida` - America/Merida\n* `America/Metlakatla` - America/Metlakatla\n* `America/Mexico_City` - America/Mexico_City\n* `America/Miquelon` - America/Miquelon\n* `America/Moncton` - America/Moncton\n* `America/Monterrey` - America/Monterrey\n* `America/Montevideo` - America/Montevideo\n* `America/Montreal` - America/Montreal\n* `America/Montserrat` - America/Montserrat\n* `America/Nassau` - America/Nassau\n* `America/New_York` - America/New_York\n* `America/Nipigon` - America/Nipigon\n* `America/Nome` - America/Nome\n* `America/Noronha` - America/Noronha\n* `America/North_Dakota/Beulah` - America/North_Dakota/Beulah\n* `America/North_Dakota/Center` - America/North_Dakota/Center\n* `America/North_Dakota/New_Salem` - America/North_Dakota/New_Salem\n* `America/Nuuk` - America/Nuuk\n* `America/Ojinaga` - America/Ojinaga\n* `America/Panama` - America/Panama\n* `America/Pangnirtung` - America/Pangnirtung\n* `America/Paramaribo` - America/Paramaribo\n* `America/Phoenix` - America/Phoenix\n* `America/Port-au-Prince` - America/Port-au-Prince\n* `America/Port_of_Spain` - America/Port_of_Spain\n* `America/Porto_Acre` - America/Porto_Acre\n* `America/Porto_Velho` - America/Porto_Velho\n* `America/Puerto_Rico` - America/Puerto_Rico\n* `America/Punta_Arenas` - America/Punta_Arenas\n* `America/Rainy_River` - America/Rainy_River\n* `America/Rankin_Inlet` - America/Rankin_Inlet\n* `America/Recife` - America/Recife\n* `America/Regina` - America/Regina\n* `America/Resolute` - America/Resolute\n* `America/Rio_Branco` - America/Rio_Branco\n* `America/Rosario` - America/Rosario\n* `America/Santa_Isabel` - America/Santa_Isabel\n* `America/Santarem` - America/Santarem\n* `America/Santiago` - America/Santiago\n* `America/Santo_Domingo` - America/Santo_Domingo\n* `America/Sao_Paulo` - America/Sao_Paulo\n* `America/Scoresbysund` - America/Scoresbysund\n* `America/Shiprock` - America/Shiprock\n* `America/Sitka` - America/Sitka\n* `America/St_Barthelemy` - America/St_Barthelemy\n* `America/St_Johns` - America/St_Johns\n* `America/St_Kitts` - America/St_Kitts\n* `America/St_Lucia` - America/St_Lucia\n* `America/St_Thomas` - America/St_Thomas\n* `America/St_Vincent` - America/St_Vincent\n* `America/Swift_Current` - America/Swift_Current\n* `America/Tegucigalpa` - America/Tegucigalpa\n* `America/Thule` - America/Thule\n* `America/Thunder_Bay` - America/Thunder_Bay\n* `America/Tijuana` - America/Tijuana\n* `America/Toronto` - America/Toronto\n* `America/Tortola` - America/Tortola\n* `America/Vancouver` - America/Vancouver\n* `America/Virgin` - America/Virgin\n* `America/Whitehorse` - America/Whitehorse\n* `America/Winnipeg` - America/Winnipeg\n* `America/Yakutat` - America/Yakutat\n* `America/Yellowknife` - America/Yellowknife\n* `Antarctica/Casey` - Antarctica/Casey\n* `Antarctica/Davis` - Antarctica/Davis\n* `Antarctica/DumontDUrville` - Antarctica/DumontDUrville\n* `Antarctica/Macquarie` - Antarctica/Macquarie\n* `Antarctica/Mawson` - Antarctica/Mawson\n* `Antarctica/McMurdo` - Antarctica/McMurdo\n* `Antarctica/Palmer` - Antarctica/Palmer\n* `Antarctica/Rothera` - Antarctica/Rothera\n* `Antarctica/South_Pole` - Antarctica/South_Pole\n* `Antarctica/Syowa` - Antarctica/Syowa\n* `Antarctica/Troll` - Antarctica/Troll\n* `Antarctica/Vostok` - Antarctica/Vostok\n* `Arctic/Longyearbyen` - Arctic/Longyearbyen\n* `Asia/Aden` - Asia/Aden\n* `Asia/Almaty` - Asia/Almaty\n* `Asia/Amman` - Asia/Amman\n* `Asia/Anadyr` - Asia/Anadyr\n* `Asia/Aqtau` - Asia/Aqtau\n* `Asia/Aqtobe` - Asia/Aqtobe\n* `Asia/Ashgabat` - Asia/Ashgabat\n* `Asia/Ashkhabad` - Asia/Ashkhabad\n* `Asia/Atyrau` - Asia/Atyrau\n* `Asia/Baghdad` - Asia/Baghdad\n* `Asia/Bahrain` - Asia/Bahrain\n* `Asia/Baku` - Asia/Baku\n* `Asia/Bangkok` - Asia/Bangkok\n* `Asia/Barnaul` - Asia/Barnaul\n* `Asia/Beirut` - Asia/Beirut\n* `Asia/Bishkek` - Asia/Bishkek\n* `Asia/Brunei` - Asia/Brunei\n* `Asia/Calcutta` - Asia/Calcutta\n* `Asia/Chita` - Asia/Chita\n* `Asia/Choibalsan` - Asia/Choibalsan\n* `Asia/Chongqing` - Asia/Chongqing\n* `Asia/Chungking` - Asia/Chungking\n* `Asia/Colombo` - Asia/Colombo\n* `Asia/Dacca` - Asia/Dacca\n* `Asia/Damascus` - Asia/Damascus\n* `Asia/Dhaka` - Asia/Dhaka\n* `Asia/Dili` - Asia/Dili\n* `Asia/Dubai` - Asia/Dubai\n* `Asia/Dushanbe` - Asia/Dushanbe\n* `Asia/Famagusta` - Asia/Famagusta\n* `Asia/Gaza` - Asia/Gaza\n* `Asia/Harbin` - Asia/Harbin\n* `Asia/Hebron` - Asia/Hebron\n* `Asia/Ho_Chi_Minh` - Asia/Ho_Chi_Minh\n* `Asia/Hong_Kong` - Asia/Hong_Kong\n* `Asia/Hovd` - Asia/Hovd\n* `Asia/Irkutsk` - Asia/Irkutsk\n* `Asia/Istanbul` - Asia/Istanbul\n* `Asia/Jakarta` - Asia/Jakarta\n* `Asia/Jayapura` - Asia/Jayapura\n* `Asia/Jerusalem` - Asia/Jerusalem\n* `Asia/Kabul` - Asia/Kabul\n* `Asia/Kamchatka` - Asia/Kamchatka\n* `Asia/Karachi` - Asia/Karachi\n* `Asia/Kashgar` - Asia/Kashgar\n* `Asia/Kathmandu` - Asia/Kathmandu\n* `Asia/Katmandu` - Asia/Katmandu\n* `Asia/Khandyga` - Asia/Khandyga\n* `Asia/Kolkata` - Asia/Kolkata\n* `Asia/Krasnoyarsk` - Asia/Krasnoyarsk\n* `Asia/Kuala_Lumpur` - Asia/Kuala_Lumpur\n* `Asia/Kuching` - Asia/Kuching\n* `Asia/Kuwait` - Asia/Kuwait\n* `Asia/Macao` - Asia/Macao\n* `Asia/Macau` - Asia/Macau\n* `Asia/Magadan` - Asia/Magadan\n* `Asia/Makassar` - Asia/Makassar\n* `Asia/Manila` - Asia/Manila\n* `Asia/Muscat` - Asia/Muscat\n* `Asia/Nicosia` - Asia/Nicosia\n* `Asia/Novokuznetsk` - Asia/Novokuznetsk\n* `Asia/Novosibirsk` - Asia/Novosibirsk\n* `Asia/Omsk` - Asia/Omsk\n* `Asia/Oral` - Asia/Oral\n* `Asia/Phnom_Penh` - Asia/Phnom_Penh\n* `Asia/Pontianak` - Asia/Pontianak\n* `Asia/Pyongyang` - Asia/Pyongyang\n* `Asia/Qatar` - Asia/Qatar\n* `Asia/Qostanay` - Asia/Qostanay\n* `Asia/Qyzylorda` - Asia/Qyzylorda\n* `Asia/Rangoon` - Asia/Rangoon\n* `Asia/Riyadh` - Asia/Riyadh\n* `Asia/Saigon` - Asia/Saigon\n* `Asia/Sakhalin` - Asia/Sakhalin\n* `Asia/Samarkand` - Asia/Samarkand\n* `Asia/Seoul` - Asia/Seoul\n* `Asia/Shanghai` - Asia/Shanghai\n* `Asia/Singapore` - Asia/Singapore\n* `Asia/Srednekolymsk` - Asia/Srednekolymsk\n* `Asia/Taipei` - Asia/Taipei\n* `Asia/Tashkent` - Asia/Tashkent\n* `Asia/Tbilisi` - Asia/Tbilisi\n* `Asia/Tehran` - Asia/Tehran\n* `Asia/Tel_Aviv` - Asia/Tel_Aviv\n* `Asia/Thimbu` - Asia/Thimbu\n* `Asia/Thimphu` - Asia/Thimphu\n* `Asia/Tokyo` - Asia/Tokyo\n* `Asia/Tomsk` - Asia/Tomsk\n* `Asia/Ujung_Pandang` - Asia/Ujung_Pandang\n* `Asia/Ulaanbaatar` - Asia/Ulaanbaatar\n* `Asia/Ulan_Bator` - Asia/Ulan_Bator\n* `Asia/Urumqi` - Asia/Urumqi\n* `Asia/Ust-Nera` - Asia/Ust-Nera\n* `Asia/Vientiane` - Asia/Vientiane\n* `Asia/Vladivostok` - Asia/Vladivostok\n* `Asia/Yakutsk` - Asia/Yakutsk\n* `Asia/Yangon` - Asia/Yangon\n* `Asia/Yekaterinburg` - Asia/Yekaterinburg\n* `Asia/Yerevan` - Asia/Yerevan\n* `Atlantic/Azores` - Atlantic/Azores\n* `Atlantic/Bermuda` - Atlantic/Bermuda\n* `Atlantic/Canary` - Atlantic/Canary\n* `Atlantic/Cape_Verde` - Atlantic/Cape_Verde\n* `Atlantic/Faeroe` - Atlantic/Faeroe\n* `Atlantic/Faroe` - Atlantic/Faroe\n* `Atlantic/Jan_Mayen` - Atlantic/Jan_Mayen\n* `Atlantic/Madeira` - Atlantic/Madeira\n* `Atlantic/Reykjavik` - Atlantic/Reykjavik\n* `Atlantic/South_Georgia` - Atlantic/South_Georgia\n* `Atlantic/St_Helena` - Atlantic/St_Helena\n* `Atlantic/Stanley` - Atlantic/Stanley\n* `Australia/ACT` - Australia/ACT\n* `Australia/Adelaide` - Australia/Adelaide\n* `Australia/Brisbane` - Australia/Brisbane\n* `Australia/Broken_Hill` - Australia/Broken_Hill\n* `Australia/Canberra` - Australia/Canberra\n* `Australia/Currie` - Australia/Currie\n* `Australia/Darwin` - Australia/Darwin\n* `Australia/Eucla` - Australia/Eucla\n* `Australia/Hobart` - Australia/Hobart\n* `Australia/LHI` - Australia/LHI\n* `Australia/Lindeman` - Australia/Lindeman\n* `Australia/Lord_Howe` - Australia/Lord_Howe\n* `Australia/Melbourne` - Australia/Melbourne\n* `Australia/NSW` - Australia/NSW\n* `Australia/North` - Australia/North\n* `Australia/Perth` - Australia/Perth\n* `Australia/Queensland` - Australia/Queensland\n* `Australia/South` - Australia/South\n* `Australia/Sydney` - Australia/Sydney\n* `Australia/Tasmania` - Australia/Tasmania\n* `Australia/Victoria` - Australia/Victoria\n* `Australia/West` - Australia/West\n* `Australia/Yancowinna` - Australia/Yancowinna\n* `Brazil/Acre` - Brazil/Acre\n* `Brazil/DeNoronha` - Brazil/DeNoronha\n* `Brazil/East` - Brazil/East\n* `Brazil/West` - Brazil/West\n* `CET` - CET\n* `CST6CDT` - CST6CDT\n* `Canada/Atlantic` - Canada/Atlantic\n* `Canada/Central` - Canada/Central\n* `Canada/Eastern` - Canada/Eastern\n* `Canada/Mountain` - Canada/Mountain\n* `Canada/Newfoundland` - Canada/Newfoundland\n* `Canada/Pacific` - Canada/Pacific\n* `Canada/Saskatchewan` - Canada/Saskatchewan\n* `Canada/Yukon` - Canada/Yukon\n* `Chile/Continental` - Chile/Continental\n* `Chile/EasterIsland` - Chile/EasterIsland\n* `Cuba` - Cuba\n* `EET` - EET\n* `EST` - EST\n* `EST5EDT` - EST5EDT\n* `Egypt` - Egypt\n* `Eire` - Eire\n* `Etc/GMT` - Etc/GMT\n* `Etc/GMT+0` - Etc/GMT+0\n* `Etc/GMT+1` - Etc/GMT+1\n* `Etc/GMT+10` - Etc/GMT+10\n* `Etc/GMT+11` - Etc/GMT+11\n* `Etc/GMT+12` - Etc/GMT+12\n* `Etc/GMT+2` - Etc/GMT+2\n* `Etc/GMT+3` - Etc/GMT+3\n* `Etc/GMT+4` - Etc/GMT+4\n* `Etc/GMT+5` - Etc/GMT+5\n* `Etc/GMT+6` - Etc/GMT+6\n* `Etc/GMT+7` - Etc/GMT+7\n* `Etc/GMT+8` - Etc/GMT+8\n* `Etc/GMT+9` - Etc/GMT+9\n* `Etc/GMT-0` - Etc/GMT-0\n* `Etc/GMT-1` - Etc/GMT-1\n* `Etc/GMT-10` - Etc/GMT-10\n* `Etc/GMT-11` - Etc/GMT-11\n* `Etc/GMT-12` - Etc/GMT-12\n* `Etc/GMT-13` - Etc/GMT-13\n* `Etc/GMT-14` - Etc/GMT-14\n* `Etc/GMT-2` - Etc/GMT-2\n* `Etc/GMT-3` - Etc/GMT-3\n* `Etc/GMT-4` - Etc/GMT-4\n* `Etc/GMT-5` - Etc/GMT-5\n* `Etc/GMT-6` - Etc/GMT-6\n* `Etc/GMT-7` - Etc/GMT-7\n* `Etc/GMT-8` - Etc/GMT-8\n* `Etc/GMT-9` - Etc/GMT-9\n* `Etc/GMT0` - Etc/GMT0\n* `Etc/Greenwich` - Etc/Greenwich\n* `Etc/UCT` - Etc/UCT\n* `Etc/UTC` - Etc/UTC\n* `Etc/Universal` - Etc/Universal\n* `Etc/Zulu` - Etc/Zulu\n* `Europe/Amsterdam` - Europe/Amsterdam\n* `Europe/Andorra` - Europe/Andorra\n* `Europe/Astrakhan` - Europe/Astrakhan\n* `Europe/Athens` - Europe/Athens\n* `Europe/Belfast` - Europe/Belfast\n* `Europe/Belgrade` - Europe/Belgrade\n* `Europe/Berlin` - Europe/Berlin\n* `Europe/Bratislava` - Europe/Bratislava\n* `Europe/Brussels` - Europe/Brussels\n* `Europe/Bucharest` - Europe/Bucharest\n* `Europe/Budapest` - Europe/Budapest\n* `Europe/Busingen` - Europe/Busingen\n* `Europe/Chisinau` - Europe/Chisinau\n* `Europe/Copenhagen` - Europe/Copenhagen\n* `Europe/Dublin` - Europe/Dublin\n* `Europe/Gibraltar` - Europe/Gibraltar\n* `Europe/Guernsey` - Europe/Guernsey\n* `Europe/Helsinki` - Europe/Helsinki\n* `Europe/Isle_of_Man` - Europe/Isle_of_Man\n* `Europe/Istanbul` - Europe/Istanbul\n* `Europe/Jersey` - Europe/Jersey\n* `Europe/Kaliningrad` - Europe/Kaliningrad\n* `Europe/Kiev` - Europe/Kiev\n* `Europe/Kirov` - Europe/Kirov\n* `Europe/Kyiv` - Europe/Kyiv\n* `Europe/Lisbon` - Europe/Lisbon\n* `Europe/Ljubljana` - Europe/Ljubljana\n* `Europe/London` - Europe/London\n* `Europe/Luxembourg` - Europe/Luxembourg\n* `Europe/Madrid` - Europe/Madrid\n* `Europe/Malta` - Europe/Malta\n* `Europe/Mariehamn` - Europe/Mariehamn\n* `Europe/Minsk` - Europe/Minsk\n* `Europe/Monaco` - Europe/Monaco\n* `Europe/Moscow` - Europe/Moscow\n* `Europe/Nicosia` - Europe/Nicosia\n* `Europe/Oslo` - Europe/Oslo\n* `Europe/Paris` - Europe/Paris\n* `Europe/Podgorica` - Europe/Podgorica\n* `Europe/Prague` - Europe/Prague\n* `Europe/Riga` - Europe/Riga\n* `Europe/Rome` - Europe/Rome\n* `Europe/Samara` - Europe/Samara\n* `Europe/San_Marino` - Europe/San_Marino\n* `Europe/Sarajevo` - Europe/Sarajevo\n* `Europe/Saratov` - Europe/Saratov\n* `Europe/Simferopol` - Europe/Simferopol\n* `Europe/Skopje` - Europe/Skopje\n* `Europe/Sofia` - Europe/Sofia\n* `Europe/Stockholm` - Europe/Stockholm\n* `Europe/Tallinn` - Europe/Tallinn\n* `Europe/Tirane` - Europe/Tirane\n* `Europe/Tiraspol` - Europe/Tiraspol\n* `Europe/Ulyanovsk` - Europe/Ulyanovsk\n* `Europe/Uzhgorod` - Europe/Uzhgorod\n* `Europe/Vaduz` - Europe/Vaduz\n* `Europe/Vatican` - Europe/Vatican\n* `Europe/Vienna` - Europe/Vienna\n* `Europe/Vilnius` - Europe/Vilnius\n* `Europe/Volgograd` - Europe/Volgograd\n* `Europe/Warsaw` - Europe/Warsaw\n* `Europe/Zagreb` - Europe/Zagreb\n* `Europe/Zaporozhye` - Europe/Zaporozhye\n* `Europe/Zurich` - Europe/Zurich\n* `GB` - GB\n* `GB-Eire` - GB-Eire\n* `GMT` - GMT\n* `GMT+0` - GMT+0\n* `GMT-0` - GMT-0\n* `GMT0` - GMT0\n* `Greenwich` - Greenwich\n* `HST` - HST\n* `Hongkong` - Hongkong\n* `Iceland` - Iceland\n* `Indian/Antananarivo` - Indian/Antananarivo\n* `Indian/Chagos` - Indian/Chagos\n* `Indian/Christmas` - Indian/Christmas\n* `Indian/Cocos` - Indian/Cocos\n* `Indian/Comoro` - Indian/Comoro\n* `Indian/Kerguelen` - Indian/Kerguelen\n* `Indian/Mahe` - Indian/Mahe\n* `Indian/Maldives` - Indian/Maldives\n* `Indian/Mauritius` - Indian/Mauritius\n* `Indian/Mayotte` - Indian/Mayotte\n* `Indian/Reunion` - Indian/Reunion\n* `Iran` - Iran\n* `Israel` - Israel\n* `Jamaica` - Jamaica\n* `Japan` - Japan\n* `Kwajalein` - Kwajalein\n* `Libya` - Libya\n* `MET` - MET\n* `MST` - MST\n* `MST7MDT` - MST7MDT\n* `Mexico/BajaNorte` - Mexico/BajaNorte\n* `Mexico/BajaSur` - Mexico/BajaSur\n* `Mexico/General` - Mexico/General\n* `NZ` - NZ\n* `NZ-CHAT` - NZ-CHAT\n* `Navajo` - Navajo\n* `PRC` - PRC\n* `PST8PDT` - PST8PDT\n* `Pacific/Apia` - Pacific/Apia\n* `Pacific/Auckland` - Pacific/Auckland\n* `Pacific/Bougainville` - Pacific/Bougainville\n* `Pacific/Chatham` - Pacific/Chatham\n* `Pacific/Chuuk` - Pacific/Chuuk\n* `Pacific/Easter` - Pacific/Easter\n* `Pacific/Efate` - Pacific/Efate\n* `Pacific/Enderbury` - Pacific/Enderbury\n* `Pacific/Fakaofo` - Pacific/Fakaofo\n* `Pacific/Fiji` - Pacific/Fiji\n* `Pacific/Funafuti` - Pacific/Funafuti\n* `Pacific/Galapagos` - Pacific/Galapagos\n* `Pacific/Gambier` - Pacific/Gambier\n* `Pacific/Guadalcanal` - Pacific/Guadalcanal\n* `Pacific/Guam` - Pacific/Guam\n* `Pacific/Honolulu` - Pacific/Honolulu\n* `Pacific/Johnston` - Pacific/Johnston\n* `Pacific/Kanton` - Pacific/Kanton\n* `Pacific/Kiritimati` - Pacific/Kiritimati\n* `Pacific/Kosrae` - Pacific/Kosrae\n* `Pacific/Kwajalein` - Pacific/Kwajalein\n* `Pacific/Majuro` - Pacific/Majuro\n* `Pacific/Marquesas` - Pacific/Marquesas\n* `Pacific/Midway` - Pacific/Midway\n* `Pacific/Nauru` - Pacific/Nauru\n* `Pacific/Niue` - Pacific/Niue\n* `Pacific/Norfolk` - Pacific/Norfolk\n* `Pacific/Noumea` - Pacific/Noumea\n* `Pacific/Pago_Pago` - Pacific/Pago_Pago\n* `Pacific/Palau` - Pacific/Palau\n* `Pacific/Pitcairn` - Pacific/Pitcairn\n* `Pacific/Pohnpei` - Pacific/Pohnpei\n* `Pacific/Ponape` - Pacific/Ponape\n* `Pacific/Port_Moresby` - Pacific/Port_Moresby\n* `Pacific/Rarotonga` - Pacific/Rarotonga\n* `Pacific/Saipan` - Pacific/Saipan\n* `Pacific/Samoa` - Pacific/Samoa\n* `Pacific/Tahiti` - Pacific/Tahiti\n* `Pacific/Tarawa` - Pacific/Tarawa\n* `Pacific/Tongatapu` - Pacific/Tongatapu\n* `Pacific/Truk` - Pacific/Truk\n* `Pacific/Wake` - Pacific/Wake\n* `Pacific/Wallis` - Pacific/Wallis\n* `Pacific/Yap` - Pacific/Yap\n* `Poland` - Poland\n* `Portugal` - Portugal\n* `ROC` - ROC\n* `ROK` - ROK\n* `Singapore` - Singapore\n* `Turkey` - Turkey\n* `UCT` - UCT\n* `US/Alaska` - US/Alaska\n* `US/Aleutian` - US/Aleutian\n* `US/Arizona` - US/Arizona\n* `US/Central` - US/Central\n* `US/East-Indiana` - US/East-Indiana\n* `US/Eastern` - US/Eastern\n* `US/Hawaii` - US/Hawaii\n* `US/Indiana-Starke` - US/Indiana-Starke\n* `US/Michigan` - US/Michigan\n* `US/Mountain` - US/Mountain\n* `US/Pacific` - US/Pacific\n* `US/Samoa` - US/Samoa\n* `UTC` - UTC\n* `Universal` - Universal\n* `W-SU` - W-SU\n* `WET` - WET\n* `Zulu` - Zulu",
            "com.distilled.openapi#nullable": {}
          }
        },
        "offset_day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day-of-week offset for weekly intervals (0=Sunday, 6=Saturday). Only valid when interval is 'week'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "offset_hour": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hour-of-day offset (0-23) for daily and weekly intervals. Only valid when interval is 'day' or 'week'.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Serializer for a BatchExport model."
      }
    },
    "com.posthog.batch_exports#ModelEnum": {
      "type": "enum",
      "members": {
        "EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "events"
          }
        },
        "PERSONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "persons"
          }
        },
        "SESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sessions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `events` - Events\n* `persons` - Persons\n* `sessions` - Sessions"
      }
    },
    "com.posthog.batch_exports#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.batch_exports#BatchExportOutputModel": {
      "type": "union",
      "members": {
        "ModelEnum": {
          "target": "com.posthog.batch_exports#ModelEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.batch_exports#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Which model this BatchExport is exporting.\n\n* `events` - Events\n* `persons` - Persons\n* `sessions` - Sessions"
      }
    },
    "com.posthog.batch_exports#BatchExportDestinationOutput": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.batch_exports#BatchExportDestinationTypeEnum",
          "traits": {
            "smithy.api#documentation": "A choice of supported BatchExportDestination types.\n\n* `S3` - S3\n* `AwsS3` - Aws S3\n* `S3Compatible` - S3 Compatible\n* `Snowflake` - Snowflake\n* `Postgres` - Postgres\n* `Redshift` - Redshift\n* `BigQuery` - Bigquery\n* `Databricks` - Databricks\n* `AzureBlob` - Azure Blob\n* `Workflows` - Workflows\n* `HTTP` - Http\n* `NoOp` - Noop\n* `FileDownload` - File Download"
          }
        },
        "config": {
          "target": "com.posthog.batch_exports#BatchExportDestinationConfig",
          "traits": {
            "smithy.api#documentation": "Destination-specific configuration. Fields depend on `type`. Credentials for integration-backed destinations (Databricks, AzureBlob, BigQuery, Postgres, AwsS3, S3Compatible) are NOT stored here — they live in the linked Integration. Secret fields are stripped from responses."
          }
        },
        "integration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The integration for this destination.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Serializer for an BatchExportDestination model.\n\nThe `config` field is polymorphic and typed only for destinations that keep\ncredentials in the linked Integration (currently Databricks, AzureBlob, BigQuery, Postgres,\nAwsS3, S3Compatible). Other destination types accept the same JSON shape but without a typed\nOpenAPI schema. Secret fields are stripped from `config` on read."
      }
    },
    "com.posthog.batch_exports#BatchExportDestinationTypeEnum": {
      "type": "enum",
      "members": {
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3"
          }
        },
        "AWSS3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AwsS3"
          }
        },
        "S3COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3Compatible"
          }
        },
        "SNOWFLAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Snowflake"
          }
        },
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Postgres"
          }
        },
        "REDSHIFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Redshift"
          }
        },
        "BIGQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BigQuery"
          }
        },
        "DATABRICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Databricks"
          }
        },
        "AZUREBLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureBlob"
          }
        },
        "WORKFLOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Workflows"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP"
          }
        },
        "NOOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoOp"
          }
        },
        "FILEDOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FileDownload"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `S3` - S3\n* `AwsS3` - Aws S3\n* `S3Compatible` - S3 Compatible\n* `Snowflake` - Snowflake\n* `Postgres` - Postgres\n* `Redshift` - Redshift\n* `BigQuery` - Bigquery\n* `Databricks` - Databricks\n* `AzureBlob` - Azure Blob\n* `Workflows` - Workflows\n* `HTTP` - Http\n* `NoOp` - Noop\n* `FileDownload` - File Download"
      }
    },
    "com.posthog.batch_exports#BatchExportDestinationConfig": {
      "type": "union",
      "members": {
        "DatabricksDestinationConfig": {
          "target": "com.posthog.batch_exports#DatabricksDestinationConfig"
        },
        "AzureBlobDestinationConfig": {
          "target": "com.posthog.batch_exports#AzureBlobDestinationConfig"
        },
        "BigQueryDestinationConfig": {
          "target": "com.posthog.batch_exports#BigQueryDestinationConfig"
        },
        "PostgresDestinationConfig": {
          "target": "com.posthog.batch_exports#PostgresDestinationConfig"
        },
        "AwsS3DestinationConfig": {
          "target": "com.posthog.batch_exports#AwsS3DestinationConfig"
        },
        "S3CompatibleDestinationConfig": {
          "target": "com.posthog.batch_exports#S3CompatibleDestinationConfig"
        }
      },
      "traits": {}
    },
    "com.posthog.batch_exports#DatabricksDestinationConfig": {
      "type": "structure",
      "members": {
        "http_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Databricks SQL warehouse HTTP path.",
            "smithy.api#required": {}
          }
        },
        "catalog": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unity Catalog name.",
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema (database) name inside the catalog.",
            "smithy.api#required": {}
          }
        },
        "table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination table name.",
            "smithy.api#required": {}
          }
        },
        "use_variant_type": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use the Databricks VARIANT type for JSON-like columns."
          }
        },
        "use_automatic_schema_evolution": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to let Databricks evolve the destination table schema automatically."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Typed configuration for a Databricks batch-export destination.\n\nCredentials live in the linked Integration, not in this config. Mirrors\n`DatabricksBatchExportInputs` in `products/batch_exports/backend/service.py`."
      }
    },
    "com.posthog.batch_exports#AzureBlobDestinationConfig": {
      "type": "structure",
      "members": {
        "container_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure Blob Storage container name.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object key prefix applied to every exported file."
          }
        },
        "compression": {
          "target": "com.posthog.batch_exports#CompressionEnum",
          "traits": {
            "smithy.api#documentation": "Optional compression codec applied to exported files. Valid codecs depend on file_format.\n\n* `brotli` - brotli\n* `gzip` - gzip\n* `lz4` - lz4\n* `snappy` - snappy\n* `zstd` - zstd",
            "com.distilled.openapi#nullable": {}
          }
        },
        "file_format": {
          "target": "com.posthog.batch_exports#FileFormatEnum",
          "traits": {
            "smithy.api#documentation": "File format used for exported objects.\n\n* `JSONLines` - JSONLines\n* `Parquet` - Parquet"
          }
        },
        "max_file_size_mb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If set, rolls to a new file once the current file exceeds this size in MB.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Typed configuration for an Azure Blob Storage batch-export destination.\n\nCredentials live in the linked Integration, not in this config. Mirrors\n`AzureBlobBatchExportInputs` in `products/batch_exports/backend/service.py`."
      }
    },
    "com.posthog.batch_exports#CompressionEnum": {
      "type": "enum",
      "members": {
        "BROTLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brotli"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "LZ4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lz4"
          }
        },
        "SNAPPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snappy"
          }
        },
        "ZSTD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zstd"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `brotli` - brotli\n* `gzip` - gzip\n* `lz4` - lz4\n* `snappy` - snappy\n* `zstd` - zstd"
      }
    },
    "com.posthog.batch_exports#FileFormatEnum": {
      "type": "enum",
      "members": {
        "PARQUET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Parquet"
          }
        },
        "JSONLINES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSONLines"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `Parquet` - Parquet\n* `JSONLines` - JSONLines"
      }
    },
    "com.posthog.batch_exports#BigQueryDestinationConfig": {
      "type": "structure",
      "members": {
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BigQuery dataset ID to write to.",
            "smithy.api#required": {}
          }
        },
        "table_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BigQuery table ID inside the dataset."
          }
        },
        "use_json_type": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to export 'properties', 'set', and 'set_once' fields as the BigQuery JSON type rather than STRING. Cannot be changed after the export is created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Typed configuration for a BigQuery batch-export destination.\n\nCredentials live in the linked Integration, not in this config. Mirrors the\nnon-credential fields of `BigQueryBatchExportInputs` in\n`products/batch_exports/backend/service.py`."
      }
    },
    "com.posthog.batch_exports#PostgresDestinationConfig": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostgreSQL database name to connect to.",
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostgreSQL schema name containing the destination table."
          }
        },
        "table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostgreSQL table name to write exported rows into."
          }
        },
        "has_self_signed_cert": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Legacy SSL option for direct credential configuration. Ignored when using a PostgreSQL integration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Typed configuration for a PostgreSQL batch-export destination.\n\nConnection credentials may live in a linked Integration (when one is provided) or\ninline in this config (legacy). Mirrors the non-credential fields of\n`PostgresBatchExportInputs` in `products/batch_exports/backend/service.py`."
      }
    },
    "com.posthog.batch_exports#AwsS3DestinationConfig": {
      "type": "structure",
      "members": {
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the destination bucket.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region the bucket is in (e.g. 'us-east-1').",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object key prefix applied to every exported file.",
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.posthog.batch_exports#CompressionEnum",
          "traits": {
            "smithy.api#documentation": "Optional compression codec applied to exported files. Valid codecs depend on file_format.\n\n* `brotli` - brotli\n* `gzip` - gzip\n* `lz4` - lz4\n* `snappy` - snappy\n* `zstd` - zstd",
            "com.distilled.openapi#nullable": {}
          }
        },
        "file_format": {
          "target": "com.posthog.batch_exports#FileFormatEnum",
          "traits": {
            "smithy.api#documentation": "File format used for exported objects.\n\n* `Parquet` - Parquet\n* `JSONLines` - JSONLines"
          }
        },
        "max_file_size_mb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If set, rolls to a new file once the current file exceeds this size in MB.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "encryption": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional S3 server-side encryption algorithm (e.g. 'AES256' or 'aws:kms').",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kms_key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "KMS key ID to use when encryption is 'aws:kms'.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Typed configuration for an AWS S3 batch-export destination.\n\nAWS credentials live in the linked aws-s3 Integration. Mirrors the non-credential fields of\n`AwsS3BatchExportInputs` in `products/batch_exports/backend/service.py`."
      }
    },
    "com.posthog.batch_exports#S3CompatibleDestinationConfig": {
      "type": "structure",
      "members": {
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the destination bucket.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region the bucket is in (e.g. 'us-east-1').",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object key prefix applied to every exported file.",
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.posthog.batch_exports#CompressionEnum",
          "traits": {
            "smithy.api#documentation": "Optional compression codec applied to exported files. Valid codecs depend on file_format.\n\n* `brotli` - brotli\n* `gzip` - gzip\n* `lz4` - lz4\n* `snappy` - snappy\n* `zstd` - zstd",
            "com.distilled.openapi#nullable": {}
          }
        },
        "file_format": {
          "target": "com.posthog.batch_exports#FileFormatEnum",
          "traits": {
            "smithy.api#documentation": "File format used for exported objects.\n\n* `Parquet` - Parquet\n* `JSONLines` - JSONLines"
          }
        },
        "max_file_size_mb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If set, rolls to a new file once the current file exceeds this size in MB.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "use_virtual_style_addressing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use virtual-hosted-style addressing rather than path-style."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Typed configuration for an S3-compatible batch-export destination (Cloudflare R2,\nDigitalOcean Spaces, etc.).\n\nCredentials and the provider `endpoint_url` live in the linked s3-compatible Integration.\nMirrors the non-credential fields of `S3CompatibleBatchExportInputs` in\n`products/batch_exports/backend/service.py`."
      }
    },
    "com.posthog.batch_exports#BatchExportIntervalEnum": {
      "type": "enum",
      "members": {
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "EVERY_5_MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "every 5 minutes"
          }
        },
        "EVERY_15_MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "every 15 minutes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `hour` - hour\n* `day` - day\n* `week` - week\n* `every 5 minutes` - every 5 minutes\n* `every 15 minutes` - every 15 minutes"
      }
    },
    "com.posthog.batch_exports#BatchExportRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.posthog.batch_exports#BatchExportRunStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status of this run.\n\n* `Cancelled` - Cancelled\n* `Completed` - Completed\n* `ContinuedAsNew` - Continued As New\n* `Failed` - Failed\n* `FailedRetryable` - Failed Retryable\n* `FailedBilling` - Failed Billing\n* `Terminated` - Terminated\n* `TimedOut` - Timedout\n* `Running` - Running\n* `Starting` - Starting"
          }
        },
        "records_completed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of records that have been exported.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "records_failed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of records that failed downstream processing (e.g. hog function execution errors).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "latest_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest error that occurred during this run.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "data_interval_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start of the data interval.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "data_interval_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end of the data interval."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque cursor that may be used to resume.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp at which this BatchExportRun was created."
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp at which this BatchExportRun finished, successfully or not.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp at which this BatchExportRun was last updated."
          }
        },
        "records_total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total count of records that should be exported in this BatchExportRun.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bytes_exported": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of bytes that have been exported in this BatchExportRun.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "batch_export": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `BatchExport` this run belongs to.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "batch_export_on_demand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `BatchExportOnDemand` this run belongs to.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "backfill": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The backfill this run belongs to.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Serializer for a BatchExportRun model."
      }
    },
    "com.posthog.batch_exports#BatchExportRunStatusEnum": {
      "type": "enum",
      "members": {
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "CONTINUEDASNEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ContinuedAsNew"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "FAILEDRETRYABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FailedRetryable"
          }
        },
        "FAILEDBILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FailedBilling"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Terminated"
          }
        },
        "TIMEDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TimedOut"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Starting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `Cancelled` - Cancelled\n* `Completed` - Completed\n* `ContinuedAsNew` - Continued As New\n* `Failed` - Failed\n* `FailedRetryable` - Failed Retryable\n* `FailedBilling` - Failed Billing\n* `Terminated` - Terminated\n* `TimedOut` - Timedout\n* `Running` - Running\n* `Starting` - Starting"
      }
    },
    "com.posthog.batch_exports#BatchExportOutputLatestRunsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.batch_exports#BatchExportRun"
      },
      "traits": {
        "smithy.api#documentation": "The 10 most recent runs of this batch export, ordered newest first."
      }
    },
    "com.posthog.batch_exports#TimezoneEnum": {
      "type": "enum",
      "members": {
        "AFRICA_ABIDJAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Abidjan"
          }
        },
        "AFRICA_ACCRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Accra"
          }
        },
        "AFRICA_ADDIS_ABABA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Addis_Ababa"
          }
        },
        "AFRICA_ALGIERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Algiers"
          }
        },
        "AFRICA_ASMARA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Asmara"
          }
        },
        "AFRICA_ASMERA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Asmera"
          }
        },
        "AFRICA_BAMAKO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Bamako"
          }
        },
        "AFRICA_BANGUI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Bangui"
          }
        },
        "AFRICA_BANJUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Banjul"
          }
        },
        "AFRICA_BISSAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Bissau"
          }
        },
        "AFRICA_BLANTYRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Blantyre"
          }
        },
        "AFRICA_BRAZZAVILLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Brazzaville"
          }
        },
        "AFRICA_BUJUMBURA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Bujumbura"
          }
        },
        "AFRICA_CAIRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Cairo"
          }
        },
        "AFRICA_CASABLANCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Casablanca"
          }
        },
        "AFRICA_CEUTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Ceuta"
          }
        },
        "AFRICA_CONAKRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Conakry"
          }
        },
        "AFRICA_DAKAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Dakar"
          }
        },
        "AFRICA_DAR_ES_SALAAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Dar_es_Salaam"
          }
        },
        "AFRICA_DJIBOUTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Djibouti"
          }
        },
        "AFRICA_DOUALA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Douala"
          }
        },
        "AFRICA_EL_AAIUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/El_Aaiun"
          }
        },
        "AFRICA_FREETOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Freetown"
          }
        },
        "AFRICA_GABORONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Gaborone"
          }
        },
        "AFRICA_HARARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Harare"
          }
        },
        "AFRICA_JOHANNESBURG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Johannesburg"
          }
        },
        "AFRICA_JUBA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Juba"
          }
        },
        "AFRICA_KAMPALA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Kampala"
          }
        },
        "AFRICA_KHARTOUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Khartoum"
          }
        },
        "AFRICA_KIGALI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Kigali"
          }
        },
        "AFRICA_KINSHASA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Kinshasa"
          }
        },
        "AFRICA_LAGOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Lagos"
          }
        },
        "AFRICA_LIBREVILLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Libreville"
          }
        },
        "AFRICA_LOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Lome"
          }
        },
        "AFRICA_LUANDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Luanda"
          }
        },
        "AFRICA_LUBUMBASHI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Lubumbashi"
          }
        },
        "AFRICA_LUSAKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Lusaka"
          }
        },
        "AFRICA_MALABO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Malabo"
          }
        },
        "AFRICA_MAPUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Maputo"
          }
        },
        "AFRICA_MASERU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Maseru"
          }
        },
        "AFRICA_MBABANE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Mbabane"
          }
        },
        "AFRICA_MOGADISHU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Mogadishu"
          }
        },
        "AFRICA_MONROVIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Monrovia"
          }
        },
        "AFRICA_NAIROBI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Nairobi"
          }
        },
        "AFRICA_NDJAMENA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Ndjamena"
          }
        },
        "AFRICA_NIAMEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Niamey"
          }
        },
        "AFRICA_NOUAKCHOTT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Nouakchott"
          }
        },
        "AFRICA_OUAGADOUGOU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Ouagadougou"
          }
        },
        "AFRICA_PORTO_NOVO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Porto-Novo"
          }
        },
        "AFRICA_SAO_TOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Sao_Tome"
          }
        },
        "AFRICA_TIMBUKTU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Timbuktu"
          }
        },
        "AFRICA_TRIPOLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Tripoli"
          }
        },
        "AFRICA_TUNIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Tunis"
          }
        },
        "AFRICA_WINDHOEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Windhoek"
          }
        },
        "AMERICA_ADAK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Adak"
          }
        },
        "AMERICA_ANCHORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Anchorage"
          }
        },
        "AMERICA_ANGUILLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Anguilla"
          }
        },
        "AMERICA_ANTIGUA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Antigua"
          }
        },
        "AMERICA_ARAGUAINA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Araguaina"
          }
        },
        "AMERICA_ARGENTINA_BUENOS_AIRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Buenos_Aires"
          }
        },
        "AMERICA_ARGENTINA_CATAMARCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Catamarca"
          }
        },
        "AMERICA_ARGENTINA_COMODRIVADAVIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/ComodRivadavia"
          }
        },
        "AMERICA_ARGENTINA_CORDOBA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Cordoba"
          }
        },
        "AMERICA_ARGENTINA_JUJUY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Jujuy"
          }
        },
        "AMERICA_ARGENTINA_LA_RIOJA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/La_Rioja"
          }
        },
        "AMERICA_ARGENTINA_MENDOZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Mendoza"
          }
        },
        "AMERICA_ARGENTINA_RIO_GALLEGOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Rio_Gallegos"
          }
        },
        "AMERICA_ARGENTINA_SALTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Salta"
          }
        },
        "AMERICA_ARGENTINA_SAN_JUAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/San_Juan"
          }
        },
        "AMERICA_ARGENTINA_SAN_LUIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/San_Luis"
          }
        },
        "AMERICA_ARGENTINA_TUCUMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Tucuman"
          }
        },
        "AMERICA_ARGENTINA_USHUAIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Ushuaia"
          }
        },
        "AMERICA_ARUBA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Aruba"
          }
        },
        "AMERICA_ASUNCION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Asuncion"
          }
        },
        "AMERICA_ATIKOKAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Atikokan"
          }
        },
        "AMERICA_ATKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Atka"
          }
        },
        "AMERICA_BAHIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Bahia"
          }
        },
        "AMERICA_BAHIA_BANDERAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Bahia_Banderas"
          }
        },
        "AMERICA_BARBADOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Barbados"
          }
        },
        "AMERICA_BELEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Belem"
          }
        },
        "AMERICA_BELIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Belize"
          }
        },
        "AMERICA_BLANC_SABLON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Blanc-Sablon"
          }
        },
        "AMERICA_BOA_VISTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Boa_Vista"
          }
        },
        "AMERICA_BOGOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Bogota"
          }
        },
        "AMERICA_BOISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Boise"
          }
        },
        "AMERICA_BUENOS_AIRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Buenos_Aires"
          }
        },
        "AMERICA_CAMBRIDGE_BAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Cambridge_Bay"
          }
        },
        "AMERICA_CAMPO_GRANDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Campo_Grande"
          }
        },
        "AMERICA_CANCUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Cancun"
          }
        },
        "AMERICA_CARACAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Caracas"
          }
        },
        "AMERICA_CATAMARCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Catamarca"
          }
        },
        "AMERICA_CAYENNE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Cayenne"
          }
        },
        "AMERICA_CAYMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Cayman"
          }
        },
        "AMERICA_CHICAGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Chicago"
          }
        },
        "AMERICA_CHIHUAHUA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Chihuahua"
          }
        },
        "AMERICA_CIUDAD_JUAREZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Ciudad_Juarez"
          }
        },
        "AMERICA_CORAL_HARBOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Coral_Harbour"
          }
        },
        "AMERICA_CORDOBA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Cordoba"
          }
        },
        "AMERICA_COSTA_RICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Costa_Rica"
          }
        },
        "AMERICA_CRESTON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Creston"
          }
        },
        "AMERICA_CUIABA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Cuiaba"
          }
        },
        "AMERICA_CURACAO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Curacao"
          }
        },
        "AMERICA_DANMARKSHAVN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Danmarkshavn"
          }
        },
        "AMERICA_DAWSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Dawson"
          }
        },
        "AMERICA_DAWSON_CREEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Dawson_Creek"
          }
        },
        "AMERICA_DENVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Denver"
          }
        },
        "AMERICA_DETROIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Detroit"
          }
        },
        "AMERICA_DOMINICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Dominica"
          }
        },
        "AMERICA_EDMONTON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Edmonton"
          }
        },
        "AMERICA_EIRUNEPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Eirunepe"
          }
        },
        "AMERICA_EL_SALVADOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/El_Salvador"
          }
        },
        "AMERICA_ENSENADA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Ensenada"
          }
        },
        "AMERICA_FORT_NELSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Fort_Nelson"
          }
        },
        "AMERICA_FORT_WAYNE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Fort_Wayne"
          }
        },
        "AMERICA_FORTALEZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Fortaleza"
          }
        },
        "AMERICA_GLACE_BAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Glace_Bay"
          }
        },
        "AMERICA_GODTHAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Godthab"
          }
        },
        "AMERICA_GOOSE_BAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Goose_Bay"
          }
        },
        "AMERICA_GRAND_TURK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Grand_Turk"
          }
        },
        "AMERICA_GRENADA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Grenada"
          }
        },
        "AMERICA_GUADELOUPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Guadeloupe"
          }
        },
        "AMERICA_GUATEMALA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Guatemala"
          }
        },
        "AMERICA_GUAYAQUIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Guayaquil"
          }
        },
        "AMERICA_GUYANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Guyana"
          }
        },
        "AMERICA_HALIFAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Halifax"
          }
        },
        "AMERICA_HAVANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Havana"
          }
        },
        "AMERICA_HERMOSILLO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Hermosillo"
          }
        },
        "AMERICA_INDIANA_INDIANAPOLIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Indianapolis"
          }
        },
        "AMERICA_INDIANA_KNOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Knox"
          }
        },
        "AMERICA_INDIANA_MARENGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Marengo"
          }
        },
        "AMERICA_INDIANA_PETERSBURG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Petersburg"
          }
        },
        "AMERICA_INDIANA_TELL_CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Tell_City"
          }
        },
        "AMERICA_INDIANA_VEVAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Vevay"
          }
        },
        "AMERICA_INDIANA_VINCENNES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Vincennes"
          }
        },
        "AMERICA_INDIANA_WINAMAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Winamac"
          }
        },
        "AMERICA_INDIANAPOLIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indianapolis"
          }
        },
        "AMERICA_INUVIK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Inuvik"
          }
        },
        "AMERICA_IQALUIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Iqaluit"
          }
        },
        "AMERICA_JAMAICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Jamaica"
          }
        },
        "AMERICA_JUJUY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Jujuy"
          }
        },
        "AMERICA_JUNEAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Juneau"
          }
        },
        "AMERICA_KENTUCKY_LOUISVILLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Kentucky/Louisville"
          }
        },
        "AMERICA_KENTUCKY_MONTICELLO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Kentucky/Monticello"
          }
        },
        "AMERICA_KNOX_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Knox_IN"
          }
        },
        "AMERICA_KRALENDIJK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Kralendijk"
          }
        },
        "AMERICA_LA_PAZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/La_Paz"
          }
        },
        "AMERICA_LIMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Lima"
          }
        },
        "AMERICA_LOS_ANGELES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Los_Angeles"
          }
        },
        "AMERICA_LOUISVILLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Louisville"
          }
        },
        "AMERICA_LOWER_PRINCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Lower_Princes"
          }
        },
        "AMERICA_MACEIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Maceio"
          }
        },
        "AMERICA_MANAGUA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Managua"
          }
        },
        "AMERICA_MANAUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Manaus"
          }
        },
        "AMERICA_MARIGOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Marigot"
          }
        },
        "AMERICA_MARTINIQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Martinique"
          }
        },
        "AMERICA_MATAMOROS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Matamoros"
          }
        },
        "AMERICA_MAZATLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Mazatlan"
          }
        },
        "AMERICA_MENDOZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Mendoza"
          }
        },
        "AMERICA_MENOMINEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Menominee"
          }
        },
        "AMERICA_MERIDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Merida"
          }
        },
        "AMERICA_METLAKATLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Metlakatla"
          }
        },
        "AMERICA_MEXICO_CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Mexico_City"
          }
        },
        "AMERICA_MIQUELON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Miquelon"
          }
        },
        "AMERICA_MONCTON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Moncton"
          }
        },
        "AMERICA_MONTERREY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Monterrey"
          }
        },
        "AMERICA_MONTEVIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Montevideo"
          }
        },
        "AMERICA_MONTREAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Montreal"
          }
        },
        "AMERICA_MONTSERRAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Montserrat"
          }
        },
        "AMERICA_NASSAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Nassau"
          }
        },
        "AMERICA_NEW_YORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/New_York"
          }
        },
        "AMERICA_NIPIGON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Nipigon"
          }
        },
        "AMERICA_NOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Nome"
          }
        },
        "AMERICA_NORONHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Noronha"
          }
        },
        "AMERICA_NORTH_DAKOTA_BEULAH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/North_Dakota/Beulah"
          }
        },
        "AMERICA_NORTH_DAKOTA_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/North_Dakota/Center"
          }
        },
        "AMERICA_NORTH_DAKOTA_NEW_SALEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/North_Dakota/New_Salem"
          }
        },
        "AMERICA_NUUK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Nuuk"
          }
        },
        "AMERICA_OJINAGA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Ojinaga"
          }
        },
        "AMERICA_PANAMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Panama"
          }
        },
        "AMERICA_PANGNIRTUNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Pangnirtung"
          }
        },
        "AMERICA_PARAMARIBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Paramaribo"
          }
        },
        "AMERICA_PHOENIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Phoenix"
          }
        },
        "AMERICA_PORT_AU_PRINCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Port-au-Prince"
          }
        },
        "AMERICA_PORT_OF_SPAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Port_of_Spain"
          }
        },
        "AMERICA_PORTO_ACRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Porto_Acre"
          }
        },
        "AMERICA_PORTO_VELHO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Porto_Velho"
          }
        },
        "AMERICA_PUERTO_RICO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Puerto_Rico"
          }
        },
        "AMERICA_PUNTA_ARENAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Punta_Arenas"
          }
        },
        "AMERICA_RAINY_RIVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Rainy_River"
          }
        },
        "AMERICA_RANKIN_INLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Rankin_Inlet"
          }
        },
        "AMERICA_RECIFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Recife"
          }
        },
        "AMERICA_REGINA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Regina"
          }
        },
        "AMERICA_RESOLUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Resolute"
          }
        },
        "AMERICA_RIO_BRANCO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Rio_Branco"
          }
        },
        "AMERICA_ROSARIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Rosario"
          }
        },
        "AMERICA_SANTA_ISABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Santa_Isabel"
          }
        },
        "AMERICA_SANTAREM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Santarem"
          }
        },
        "AMERICA_SANTIAGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Santiago"
          }
        },
        "AMERICA_SANTO_DOMINGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Santo_Domingo"
          }
        },
        "AMERICA_SAO_PAULO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Sao_Paulo"
          }
        },
        "AMERICA_SCORESBYSUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Scoresbysund"
          }
        },
        "AMERICA_SHIPROCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Shiprock"
          }
        },
        "AMERICA_SITKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Sitka"
          }
        },
        "AMERICA_ST_BARTHELEMY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/St_Barthelemy"
          }
        },
        "AMERICA_ST_JOHNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/St_Johns"
          }
        },
        "AMERICA_ST_KITTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/St_Kitts"
          }
        },
        "AMERICA_ST_LUCIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/St_Lucia"
          }
        },
        "AMERICA_ST_THOMAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/St_Thomas"
          }
        },
        "AMERICA_ST_VINCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/St_Vincent"
          }
        },
        "AMERICA_SWIFT_CURRENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Swift_Current"
          }
        },
        "AMERICA_TEGUCIGALPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Tegucigalpa"
          }
        },
        "AMERICA_THULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Thule"
          }
        },
        "AMERICA_THUNDER_BAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Thunder_Bay"
          }
        },
        "AMERICA_TIJUANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Tijuana"
          }
        },
        "AMERICA_TORONTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Toronto"
          }
        },
        "AMERICA_TORTOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Tortola"
          }
        },
        "AMERICA_VANCOUVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Vancouver"
          }
        },
        "AMERICA_VIRGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Virgin"
          }
        },
        "AMERICA_WHITEHORSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Whitehorse"
          }
        },
        "AMERICA_WINNIPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Winnipeg"
          }
        },
        "AMERICA_YAKUTAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Yakutat"
          }
        },
        "AMERICA_YELLOWKNIFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Yellowknife"
          }
        },
        "ANTARCTICA_CASEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Casey"
          }
        },
        "ANTARCTICA_DAVIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Davis"
          }
        },
        "ANTARCTICA_DUMONTDURVILLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/DumontDUrville"
          }
        },
        "ANTARCTICA_MACQUARIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Macquarie"
          }
        },
        "ANTARCTICA_MAWSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Mawson"
          }
        },
        "ANTARCTICA_MCMURDO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/McMurdo"
          }
        },
        "ANTARCTICA_PALMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Palmer"
          }
        },
        "ANTARCTICA_ROTHERA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Rothera"
          }
        },
        "ANTARCTICA_SOUTH_POLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/South_Pole"
          }
        },
        "ANTARCTICA_SYOWA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Syowa"
          }
        },
        "ANTARCTICA_TROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Troll"
          }
        },
        "ANTARCTICA_VOSTOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Vostok"
          }
        },
        "ARCTIC_LONGYEARBYEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Arctic/Longyearbyen"
          }
        },
        "ASIA_ADEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Aden"
          }
        },
        "ASIA_ALMATY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Almaty"
          }
        },
        "ASIA_AMMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Amman"
          }
        },
        "ASIA_ANADYR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Anadyr"
          }
        },
        "ASIA_AQTAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Aqtau"
          }
        },
        "ASIA_AQTOBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Aqtobe"
          }
        },
        "ASIA_ASHGABAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Ashgabat"
          }
        },
        "ASIA_ASHKHABAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Ashkhabad"
          }
        },
        "ASIA_ATYRAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Atyrau"
          }
        },
        "ASIA_BAGHDAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Baghdad"
          }
        },
        "ASIA_BAHRAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Bahrain"
          }
        },
        "ASIA_BAKU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Baku"
          }
        },
        "ASIA_BANGKOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Bangkok"
          }
        },
        "ASIA_BARNAUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Barnaul"
          }
        },
        "ASIA_BEIRUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Beirut"
          }
        },
        "ASIA_BISHKEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Bishkek"
          }
        },
        "ASIA_BRUNEI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Brunei"
          }
        },
        "ASIA_CALCUTTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Calcutta"
          }
        },
        "ASIA_CHITA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Chita"
          }
        },
        "ASIA_CHOIBALSAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Choibalsan"
          }
        },
        "ASIA_CHONGQING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Chongqing"
          }
        },
        "ASIA_CHUNGKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Chungking"
          }
        },
        "ASIA_COLOMBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Colombo"
          }
        },
        "ASIA_DACCA": {
          "target": "smithy.api#Unit",
[...]
