{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.dashboards#DashboardsListRequestFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "folder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "folder",
            "smithy.api#documentation": "Optional. Return only dashboards filed directly in this project-tree folder, e.g. 'Unfiled/Dashboards'. An empty string matches dashboards at the project root. Nested sub-folders are not included."
          }
        },
        "format": {
          "target": "com.posthog.dashboards#DashboardsListRequestFormat",
          "traits": {
            "smithy.api#httpQuery": "format"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Optional. Match against dashboard `name`, `description`, and tag names. Returns case-insensitive substring matches and fuzzy trigram matches (typos, transpositions, prefix-as-you-type) together, ordered exact-first, then pinned status, then name; each result's `search_match_type` is `exact` or `similar`. When omitted, dashboards are ordered by pinned status then alphabetical name. Capped at 200 characters; longer queries return a 400 error."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dashboards#PaginatedDashboardBasicList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.dashboards#PaginatedDashboardBasicListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dashboard.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the dashboard."
          }
        },
        "pinned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the dashboard is pinned to the top of the list."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.dashboards#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_accessed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_viewed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "folder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path of the project-tree folder this dashboard is filed under in the file system, e.g. 'Unfiled/Dashboards'. An empty string means the project root; null means the dashboard has no file system entry. The dashboard's own name is not part of the path.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_shared": {
          "target": "smithy.api#Boolean"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "creation_mode": {
          "target": "com.posthog.dashboards#CreationModeEnum"
        },
        "tags": {
          "target": "com.posthog.dashboards#DashboardBasicTagsList"
        },
        "restriction_level": {
          "target": "com.posthog.dashboards#RestrictionLevelEnum",
          "traits": {
            "smithy.api#documentation": "Controls who can edit the dashboard.\n\n* `21` - Everyone in the project can edit\n* `37` - Only those invited to this dashboard can edit"
          }
        },
        "effective_restriction_level": {
          "target": "com.posthog.dashboards#EffectivePrivilegeLevelEnum"
        },
        "effective_privilege_level": {
          "target": "com.posthog.dashboards#EffectivePrivilegeLevelEnum"
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        },
        "access_control_version": {
          "target": "smithy.api#String"
        },
        "last_refresh": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "team_id": {
          "target": "smithy.api#Integer"
        },
        "search_match_type": {
          "target": "com.posthog.dashboards#SearchMatchTypeEnum",
          "traits": {
            "smithy.api#documentation": "How this row matched the `search` query parameter: `exact` (the term is a case-insensitive substring of a searched field) or `similar` (a fuzzy trigram match only). Results are ordered exact-first. Null when the list is not filtered by `search`.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Serializer mixin that handles tags for objects."
      }
    },
    "com.posthog.dashboards#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.dashboards#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.dashboards#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.dashboards#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.dashboards#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.dashboards#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.dashboards#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#CreationModeEnum": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "TEMPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "template"
          }
        },
        "DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duplicate"
          }
        },
        "UNLISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unlisted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `default` - Default\n* `template` - Template\n* `duplicate` - Duplicate\n* `unlisted` - Unlisted (product-embedded)"
      }
    },
    "com.posthog.dashboards#DashboardBasicTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.dashboards#RestrictionLevelEnum": {
      "type": "intEnum",
      "members": {
        "_21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 21
          }
        },
        "_37": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 37
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `21` - Everyone in the project can edit\n* `37` - Only those invited to this dashboard can edit"
      }
    },
    "com.posthog.dashboards#EffectivePrivilegeLevelEnum": {
      "type": "intEnum",
      "members": {
        "_21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 21
          }
        },
        "_37": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 37
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#SearchMatchTypeEnum": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "SIMILAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "similar"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#PaginatedDashboardBasicListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.dashboards#DashboardBasic"
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dashboards#DashboardsListRequest"
      },
      "output": {
        "target": "com.posthog.dashboards#PaginatedDashboardBasicList"
      },
      "errors": [
        {
          "target": "com.posthog.dashboards#BadRequest"
        },
        {
          "target": "com.posthog.dashboards#Forbidden"
        },
        {
          "target": "com.posthog.dashboards#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/dashboards/",
          "code": 200
        }
      }
    },
    "com.posthog.dashboards#DashboardsCreateRequestFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsCreateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsCreateRequestQuickFilterIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of quick filter IDs associated with this dashboard"
      }
    },
    "com.posthog.dashboards#DashboardsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "format": {
          "target": "com.posthog.dashboards#DashboardsCreateRequestFormat",
          "traits": {
            "smithy.api#httpQuery": "format"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "pinned": {
          "target": "smithy.api#Boolean"
        },
        "last_accessed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "breakdown_colors": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Custom color mapping for breakdown values."
          }
        },
        "data_color_theme_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the color theme used for chart visualizations.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.dashboards#DashboardsCreateRequestTagsList"
        },
        "restriction_level": {
          "target": "com.posthog.dashboards#RestrictionLevelEnum"
        },
        "last_refresh": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "quick_filter_ids": {
          "target": "com.posthog.dashboards#DashboardsCreateRequestQuickFilterIdsList",
          "traits": {
            "smithy.api#documentation": "List of quick filter IDs associated with this dashboard",
            "com.distilled.openapi#nullable": {}
          }
        },
        "use_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Template key to create the dashboard from a predefined template."
          }
        },
        "use_dashboard": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of an existing dashboard to duplicate.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "delete_insights": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When deleting, also delete insights that are only on this dashboard."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dashboards#DashboardOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "pinned": {
          "target": "smithy.api#Boolean"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.dashboards#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_accessed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_viewed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "folder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path of the project-tree folder this dashboard is filed under in the file system, e.g. 'Unfiled/Dashboards'. An empty string means the project root; null means the dashboard has no file system entry. The dashboard's own name is not part of the path.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_shared": {
          "target": "smithy.api#Boolean"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "creation_mode": {
          "target": "com.posthog.dashboards#CreationModeEnum"
        },
        "filters": {
          "target": "com.posthog.dashboards#DashboardOutputFiltersMap"
        },
        "variables": {
          "target": "com.posthog.dashboards#DashboardOutputVariablesMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_colors": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Custom color mapping for breakdown values."
          }
        },
        "data_color_theme_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the color theme used for chart visualizations.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.dashboards#DashboardOutputTagsList"
        },
        "restriction_level": {
          "target": "com.posthog.dashboards#RestrictionLevelEnum"
        },
        "effective_restriction_level": {
          "target": "com.posthog.dashboards#EffectivePrivilegeLevelEnum"
        },
        "effective_privilege_level": {
          "target": "com.posthog.dashboards#EffectivePrivilegeLevelEnum"
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        },
        "access_control_version": {
          "target": "smithy.api#String"
        },
        "last_refresh": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "persisted_filters": {
          "target": "com.posthog.dashboards#DashboardOutputPersistedFiltersMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "persisted_variables": {
          "target": "com.posthog.dashboards#DashboardOutputPersistedVariablesMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "team_id": {
          "target": "smithy.api#Integer"
        },
        "quick_filter_ids": {
          "target": "com.posthog.dashboards#DashboardOutputQuickFilterIdsList",
          "traits": {
            "smithy.api#documentation": "List of quick filter IDs associated with this dashboard",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tiles": {
          "target": "com.posthog.dashboards#DashboardOutputTilesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Serializer mixin that handles tags for objects."
      }
    },
    "com.posthog.dashboards#DashboardOutputFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardOutputVariablesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardOutputTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardOutputPersistedFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardOutputPersistedVariablesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardOutputQuickFilterIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of quick filter IDs associated with this dashboard"
      }
    },
    "com.posthog.dashboards#DashboardOutputTilesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardOutputTilesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.dashboards#DashboardOutputTilesItemMap"
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dashboards#DashboardsCreateRequest"
      },
      "output": {
        "target": "com.posthog.dashboards#DashboardOutput"
      },
      "errors": [
        {
          "target": "com.posthog.dashboards#BadRequest"
        },
        {
          "target": "com.posthog.dashboards#Forbidden"
        },
        {
          "target": "com.posthog.dashboards#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/dashboards/",
          "code": 200
        }
      }
    },
    "com.posthog.dashboards#DashboardsCollaboratorsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dashboard_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dashboards#DashboardCollaboratorOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "dashboard_id": {
          "target": "smithy.api#Integer"
        },
        "user": {
          "target": "com.posthog.dashboards#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "level": {
          "target": "com.posthog.dashboards#RestrictionLevelEnum"
        },
        "added_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsCollaboratorsListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.dashboards#DashboardCollaboratorOutput"
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsCollaboratorsListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.dashboards#DashboardsCollaboratorsListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.dashboards#DashboardsCollaboratorsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dashboards#DashboardsCollaboratorsListRequest"
      },
      "output": {
        "target": "com.posthog.dashboards#DashboardsCollaboratorsListResponse"
      },
      "errors": [
        {
          "target": "com.posthog.dashboards#Forbidden"
        },
        {
          "target": "com.posthog.dashboards#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/dashboards/{dashboard_id}/collaborators/",
          "code": 200
        }
      }
    },
    "com.posthog.dashboards#DashboardsCollaboratorsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dashboard_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "level": {
          "target": "com.posthog.dashboards#RestrictionLevelEnum"
        },
        "user_uuid": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dashboards#DashboardsCollaboratorsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dashboards#DashboardsCollaboratorsCreateRequest"
      },
      "output": {
        "target": "com.posthog.dashboards#DashboardCollaboratorOutput"
      },
      "errors": [
        {
          "target": "com.posthog.dashboards#BadRequest"
        },
        {
          "target": "com.posthog.dashboards#Forbidden"
        },
        {
          "target": "com.posthog.dashboards#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/dashboards/{dashboard_id}/collaborators/",
          "code": 200
        }
      }
    },
    "com.posthog.dashboards#DashboardsCollaboratorsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dashboard_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "user__uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dashboards#DashboardsCollaboratorsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dashboards#DashboardsCollaboratorsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.dashboards#Forbidden"
        },
        {
          "target": "com.posthog.dashboards#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/dashboards/{dashboard_id}/collaborators/{user__uuid}/",
          "code": 200
        }
      }
    },
    "com.posthog.dashboards#DashboardsSharingListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dashboard_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dashboards#SharingConfiguration": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "settings": {
          "target": "smithy.api#Document"
        },
        "password_required": {
          "target": "smithy.api#Boolean"
        },
        "share_passwords": {
          "target": "com.posthog.dashboards#SharingConfigurationSharePasswordsList"
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#SharePassword": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by_email": {
          "target": "smithy.api#String"
        },
        "is_active": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#SharingConfigurationSharePasswordsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.dashboards#SharePassword"
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsSharingListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.dashboards#SharingConfiguration"
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsSharingListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.dashboards#DashboardsSharingListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.dashboards#DashboardsSharingList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dashboards#DashboardsSharingListRequest"
      },
      "output": {
        "target": "com.posthog.dashboards#DashboardsSharingListResponse"
      },
      "errors": [
        {
          "target": "com.posthog.dashboards#Forbidden"
        },
        {
          "target": "com.posthog.dashboards#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/dashboards/{dashboard_id}/sharing/",
          "code": 200
        }
      }
    },
    "com.posthog.dashboards#DashboardsSharingPasswordsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dashboard_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "settings": {
          "target": "smithy.api#Document"
        },
        "password_required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dashboards#DashboardsSharingPasswordsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dashboards#DashboardsSharingPasswordsCreateRequest"
      },
      "output": {
        "target": "com.posthog.dashboards#SharingConfiguration"
      },
      "errors": [
        {
          "target": "com.posthog.dashboards#BadRequest"
        },
        {
          "target": "com.posthog.dashboards#Forbidden"
        },
        {
          "target": "com.posthog.dashboards#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/dashboards/{dashboard_id}/sharing/passwords/",
          "code": 200
        },
        "smithy.api#documentation": "Create a new password for the sharing configuration."
      }
    },
    "com.posthog.dashboards#DashboardsSharingPasswordsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dashboard_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "password_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dashboards#DashboardsSharingPasswordsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dashboards#DashboardsSharingPasswordsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.dashboards#Forbidden"
        },
        {
          "target": "com.posthog.dashboards#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/dashboards/{dashboard_id}/sharing/passwords/{password_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Delete a password from the sharing configuration."
      }
    },
    "com.posthog.dashboards#DashboardsSharingRefreshCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dashboard_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "settings": {
          "target": "smithy.api#Document"
        },
        "password_required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dashboards#DashboardsSharingRefreshCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dashboards#DashboardsSharingRefreshCreateRequest"
      },
      "output": {
        "target": "com.posthog.dashboards#SharingConfiguration"
      },
      "errors": [
        {
          "target": "com.posthog.dashboards#BadRequest"
        },
        {
          "target": "com.posthog.dashboards#Forbidden"
        },
        {
          "target": "com.posthog.dashboards#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/dashboards/{dashboard_id}/sharing/refresh/",
          "code": 200
        }
      }
    },
    "com.posthog.dashboards#DashboardsRetrieveRequestFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this dashboard."
          }
        },
        "filters_override": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filters_override",
            "smithy.api#documentation": "Object (or pre-encoded JSON string) to override dashboard filters for this request only (not persisted). Top-level keys replace; nested values are not deep-merged — pass the complete value for any key you override. Accepts the same keys as the dashboard filters schema (e.g., `date_from`, `date_to`, `properties`). Ignored when accessed via a sharing token."
          }
        },
        "format": {
          "target": "com.posthog.dashboards#DashboardsRetrieveRequestFormat",
          "traits": {
            "smithy.api#httpQuery": "format"
          }
        },
        "variables_override": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "variables_override",
            "smithy.api#documentation": "Object (or pre-encoded JSON string) to override dashboard variables for this request only (not persisted). Format: {\"<variable_id>\": {\"code_name\": \"<code_name>\", \"variableId\": \"<variable_id>\", \"value\": <new_value>}}. Each entry must include `code_name` — partial entries are silently dropped. The simplest workflow is to call `dashboard-get` first, copy the matching entry from the response, and mutate `value`. Top-level keys replace; nested values are not deep-merged. Ignored when accessed via a sharing token."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dashboards#DashboardsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dashboards#DashboardsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.dashboards#DashboardOutput"
      },
      "errors": [
        {
          "target": "com.posthog.dashboards#BadRequest"
        },
        {
          "target": "com.posthog.dashboards#Forbidden"
        },
        {
          "target": "com.posthog.dashboards#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/dashboards/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.dashboards#DashboardsUpdateRequestFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsUpdateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsUpdateRequestQuickFilterIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of quick filter IDs associated with this dashboard"
      }
    },
    "com.posthog.dashboards#DashboardsUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this dashboard."
          }
        },
        "format": {
          "target": "com.posthog.dashboards#DashboardsUpdateRequestFormat",
          "traits": {
            "smithy.api#httpQuery": "format"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "pinned": {
          "target": "smithy.api#Boolean"
        },
        "last_accessed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "breakdown_colors": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Custom color mapping for breakdown values."
          }
        },
        "data_color_theme_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the color theme used for chart visualizations.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.dashboards#DashboardsUpdateRequestTagsList"
        },
        "restriction_level": {
          "target": "com.posthog.dashboards#RestrictionLevelEnum"
        },
        "last_refresh": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "quick_filter_ids": {
          "target": "com.posthog.dashboards#DashboardsUpdateRequestQuickFilterIdsList",
          "traits": {
            "smithy.api#documentation": "List of quick filter IDs associated with this dashboard",
            "com.distilled.openapi#nullable": {}
          }
        },
        "use_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Template key to create the dashboard from a predefined template."
          }
        },
        "use_dashboard": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of an existing dashboard to duplicate.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "delete_insights": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When deleting, also delete insights that are only on this dashboard."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dashboards#DashboardsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dashboards#DashboardsUpdateRequest"
      },
      "output": {
        "target": "com.posthog.dashboards#DashboardOutput"
      },
      "errors": [
        {
          "target": "com.posthog.dashboards#BadRequest"
        },
        {
          "target": "com.posthog.dashboards#Forbidden"
        },
        {
          "target": "com.posthog.dashboards#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/dashboards/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.dashboards#DashboardsPartialUpdateRequestFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardFiltersOpenApi": {
      "type": "structure",
      "members": {
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dashboard-level start of the date range, e.g. '-30d', '-7d', or an ISO date. Applies to all tiles.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dashboard-level end of the date range, e.g. '-1d' or an ISO date. Null/omitted means up to now.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Dashboard-level property filters applied to every tile (PostHog property filter group)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OpenAPI-only shape for a dashboard's filters object (agents/MCP).\n\nDocuments the dashboard-level filters that act as the single source of truth for the\ndashboard's tiles. Runtime persistence reads the raw ``filters`` dict from the request body, so\nextra keys are accepted, but these are the ones agents should set."
      }
    },
    "com.posthog.dashboards#DashboardsPartialUpdateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsPartialUpdateRequestQuickFilterIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of quick filter IDs associated with this dashboard."
      }
    },
    "com.posthog.dashboards#DashboardPatchTileOpenApi": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Dashboard tile ID to update."
          }
        },
        "widget": {
          "target": "com.posthog.dashboards#DashboardPatchWidgetOpenApi",
          "traits": {
            "smithy.api#documentation": "Nested widget row updates."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardPatchWidgetOpenApi": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Existing widget row ID when updating a widget tile via dashboard PATCH."
          }
        },
        "widget_type": {
          "target": "com.posthog.dashboards#DashboardPatchWidgetOpenApiWidgetTypeEnum",
          "traits": {
            "smithy.api#documentation": "Widget type identifier (cannot be changed on update).\n\n* `activity_events_list` - activity_events_list\n* `error_tracking_list` - error_tracking_list\n* `experiment_results` - experiment_results\n* `experiments_list` - experiments_list\n* `logs_list` - logs_list\n* `session_replay_list` - session_replay_list"
          }
        },
        "config": {
          "target": "com.posthog.dashboards#DashboardWidgetConfig",
          "traits": {
            "smithy.api#documentation": "Widget-specific configuration. Shape depends on the tile's widget_type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional custom display name for the widget tile.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional markdown description shown when show_description is enabled."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardPatchWidgetOpenApiWidgetTypeEnum": {
      "type": "enum",
      "members": {
        "ACTIVITY_EVENTS_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "activity_events_list"
          }
        },
        "ERROR_TRACKING_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error_tracking_list"
          }
        },
        "EXPERIMENT_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experiment_results"
          }
        },
        "EXPERIMENTS_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experiments_list"
          }
        },
        "LOGS_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logs_list"
          }
        },
        "SESSION_REPLAY_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session_replay_list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `activity_events_list` - activity_events_list\n* `error_tracking_list` - error_tracking_list\n* `experiment_results` - experiment_results\n* `experiments_list` - experiments_list\n* `logs_list` - logs_list\n* `session_replay_list` - session_replay_list"
      }
    },
    "com.posthog.dashboards#DashboardWidgetConfig": {
      "type": "union",
      "members": {
        "ActivityEventsListWidgetConfig": {
          "target": "com.posthog.dashboards#ActivityEventsListWidgetConfig"
        },
        "ErrorTrackingListWidgetConfig": {
          "target": "com.posthog.dashboards#ErrorTrackingListWidgetConfig"
        },
        "SessionReplayListWidgetConfig": {
          "target": "com.posthog.dashboards#SessionReplayListWidgetConfig"
        },
        "ExperimentsListWidgetConfig": {
          "target": "com.posthog.dashboards#ExperimentsListWidgetConfig"
        },
        "ExperimentResultsWidgetConfig": {
          "target": "com.posthog.dashboards#ExperimentResultsWidgetConfig"
        },
        "LogsListWidgetConfig": {
          "target": "com.posthog.dashboards#LogsListWidgetConfig"
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#ActivityEventsListWidgetConfig": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.posthog.dashboards#WidgetDateRange",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "filterTestAccounts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "widgetFilters": {
          "target": "com.posthog.dashboards#ActivityEventsListWidgetConfigWidgetFiltersMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of events to return."
          }
        },
        "eventName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Limit the feed to a single event name. Omit or null for all events.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#WidgetDateRange": {
      "type": "structure",
      "members": {
        "date_from": {
          "target": "com.posthog.dashboards#WidgetDateRangeDateFrom",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#WidgetDateRangeDateFrom": {
      "type": "enum",
      "members": {
        "_1M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-1M"
          }
        },
        "_30M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-30M"
          }
        },
        "_1H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-1h"
          }
        },
        "_3H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-3h"
          }
        },
        "_24H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-24h"
          }
        },
        "_7D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-7d"
          }
        },
        "_14D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-14d"
          }
        },
        "_30D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-30d"
          }
        },
        "_90D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-90d"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#WidgetFilterEntry": {
      "type": "structure",
      "members": {
        "filterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "propertyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "optionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.posthog.dashboards#PropertyOperator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.posthog.dashboards#WidgetFilterEntryValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#PropertyOperator": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        },
        "IS_DATE_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_exact"
          }
        },
        "IS_DATE_BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_before"
          }
        },
        "IS_DATE_AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_after"
          }
        },
        "BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "between"
          }
        },
        "NOT_BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_between"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        },
        "IS_CLEANED_PATH_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_cleaned_path_exact"
          }
        },
        "FLAG_EVALUATES_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag_evaluates_to"
          }
        },
        "SEMVER_EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_eq"
          }
        },
        "SEMVER_NEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_neq"
          }
        },
        "SEMVER_GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gt"
          }
        },
        "SEMVER_GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gte"
          }
        },
        "SEMVER_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lt"
          }
        },
        "SEMVER_LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lte"
          }
        },
        "SEMVER_TILDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_tilde"
          }
        },
        "SEMVER_CARET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_caret"
          }
        },
        "SEMVER_WILDCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_wildcard"
          }
        },
        "ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains_multi"
          }
        },
        "NOT_ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains_multi"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#WidgetFilterEntryValueCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.dashboards#WidgetFilterEntryValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.posthog.dashboards#WidgetFilterEntryValueCase1List"
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#ActivityEventsListWidgetConfigWidgetFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.posthog.dashboards#WidgetFilterEntry"
      },
      "traits": {}
    },
    "com.posthog.dashboards#ErrorTrackingListWidgetConfig": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.posthog.dashboards#WidgetDateRange",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "filterTestAccounts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "widgetFilters": {
          "target": "com.posthog.dashboards#ErrorTrackingListWidgetConfigWidgetFiltersMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of issues to return."
          }
        },
        "orderBy": {
          "target": "com.posthog.dashboards#ErrorTrackingListWidgetConfigOrderBy",
          "traits": {
            "smithy.api#documentation": "Issue ranking column."
          }
        },
        "orderDirection": {
          "target": "com.posthog.dashboards#ErrorTrackingListWidgetConfigOrderDirection",
          "traits": {
            "smithy.api#documentation": "Sort direction for orderBy."
          }
        },
        "status": {
          "target": "com.posthog.dashboards#ErrorTrackingListWidgetConfigStatus",
          "traits": {
            "smithy.api#documentation": "Issue status filter."
          }
        },
        "assignee": {
          "target": "com.posthog.dashboards#WidgetAssigneeFilter",
          "traits": {
            "smithy.api#documentation": "Filter by assignee ({type: user|role, id}). Omit for any assignee.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#ErrorTrackingListWidgetConfigWidgetFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.posthog.dashboards#WidgetFilterEntry"
      },
      "traits": {}
    },
    "com.posthog.dashboards#ErrorTrackingListWidgetConfigOrderBy": {
      "type": "enum",
      "members": {
        "LAST_SEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last_seen"
          }
        },
        "FIRST_SEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_seen"
          }
        },
        "OCCURRENCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "occurrences"
          }
        },
        "USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "users"
          }
        },
        "SESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sessions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Issue ranking column."
      }
    },
    "com.posthog.dashboards#ErrorTrackingListWidgetConfigOrderDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASC"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort direction for orderBy."
      }
    },
    "com.posthog.dashboards#ErrorTrackingListWidgetConfigStatus": {
      "type": "enum",
      "members": {
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolved"
          }
        },
        "PENDING_RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_release"
          }
        },
        "SUPPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suppressed"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Issue status filter."
      }
    },
    "com.posthog.dashboards#WidgetAssigneeFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.posthog.dashboards#WidgetAssigneeFilterId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.posthog.dashboards#WidgetAssigneeFilterType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#WidgetAssigneeFilterId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#WidgetAssigneeFilterType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "role"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#SessionReplayListWidgetConfig": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.posthog.dashboards#WidgetDateRange",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "filterTestAccounts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "widgetFilters": {
          "target": "com.posthog.dashboards#SessionReplayListWidgetConfigWidgetFiltersMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of recordings to return."
          }
        },
        "orderBy": {
          "target": "com.posthog.dashboards#SessionReplayListWidgetConfigOrderBy",
          "traits": {
            "smithy.api#documentation": "Recording ranking column."
          }
        },
        "orderDirection": {
          "target": "com.posthog.dashboards#SessionReplayListWidgetConfigOrderDirection",
          "traits": {
            "smithy.api#documentation": "Sort direction for orderBy."
          }
        },
        "savedFilterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "short_id of a saved session replay filter to refine the recordings shown. When set, the saved filter owns the date range and property filters; only orderBy, orderDirection, and limit still apply. Combine with collectionId to filter within a collection.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "collectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "short_id of a session replay collection to scope the widget to its pinned recordings. Combine with savedFilterId or property filters to narrow within the collection; orderBy, orderDirection, and limit still apply.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#SessionReplayListWidgetConfigWidgetFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.posthog.dashboards#WidgetFilterEntry"
      },
      "traits": {}
    },
    "com.posthog.dashboards#SessionReplayListWidgetConfigOrderBy": {
      "type": "enum",
      "members": {
        "START_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start_time"
          }
        },
        "ACTIVITY_SCORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "activity_score"
          }
        },
        "RECORDING_DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recording_duration"
          }
        },
        "DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration"
          }
        },
        "CLICK_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "click_count"
          }
        },
        "CONSOLE_ERROR_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "console_error_count"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recording ranking column."
      }
    },
    "com.posthog.dashboards#SessionReplayListWidgetConfigOrderDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASC"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort direction for orderBy."
      }
    },
    "com.posthog.dashboards#ExperimentsListWidgetConfig": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of experiments to return."
          }
        },
        "orderBy": {
          "target": "com.posthog.dashboards#ExperimentsListWidgetConfigOrderBy",
          "traits": {
            "smithy.api#documentation": "Experiment list sort column."
          }
        },
        "orderDirection": {
          "target": "com.posthog.dashboards#ExperimentsListWidgetConfigOrderDirection",
          "traits": {
            "smithy.api#documentation": "Sort direction for orderBy."
          }
        },
        "status": {
          "target": "com.posthog.dashboards#ExperimentsListWidgetConfigStatus",
          "traits": {
            "smithy.api#documentation": "Experiment status filter."
          }
        },
        "createdBy": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Filter by creator (user id). Omit for any creator.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#ExperimentsListWidgetConfigOrderBy": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "START_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start_date"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Experiment list sort column."
      }
    },
    "com.posthog.dashboards#ExperimentsListWidgetConfigOrderDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASC"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort direction for orderBy."
      }
    },
    "com.posthog.dashboards#ExperimentsListWidgetConfigStatus": {
      "type": "enum",
      "members": {
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Experiment status filter."
      }
    },
    "com.posthog.dashboards#ExperimentResultsWidgetConfig": {
      "type": "structure",
      "members": {
        "experimentId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Experiment to show results for. Null until the user picks one in the widget settings.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#LogsListWidgetConfig": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.posthog.dashboards#WidgetDateRange",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of log lines to return."
          }
        },
        "orderBy": {
          "target": "com.posthog.dashboards#LogsListWidgetConfigOrderBy",
          "traits": {
            "smithy.api#documentation": "Sort by newest (latest) or oldest (earliest) first."
          }
        },
        "severityLevels": {
          "target": "com.posthog.dashboards#LogsListWidgetConfigSeverityLevelsList",
          "traits": {
            "smithy.api#documentation": "Only show logs at these severity levels. Empty shows all levels."
          }
        },
        "serviceNames": {
          "target": "com.posthog.dashboards#LogsListWidgetConfigServiceNamesList",
          "traits": {
            "smithy.api#documentation": "Only show logs from these services. Empty shows all services."
          }
        },
        "wrapLines": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Wrap long log lines instead of truncating them to a single row."
          }
        },
        "timezone": {
          "target": "com.posthog.dashboards#LogsListWidgetConfigTimezone",
          "traits": {
            "smithy.api#documentation": "Render log timestamps in UTC or in each viewer's local timezone."
          }
        },
        "savedViewId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "short_id of a saved logs view to use as the source. When set, the saved view owns the date range, severity, service, and property filters; only orderBy and limit still apply.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#LogsListWidgetConfigOrderBy": {
      "type": "enum",
      "members": {
        "LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "latest"
          }
        },
        "EARLIEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "earliest"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort by newest (latest) or oldest (earliest) first."
      }
    },
    "com.posthog.dashboards#LogsListWidgetConfigSeverityLevelsItem": {
      "type": "enum",
      "members": {
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trace"
          }
        },
        "DEBUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "debug"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "info"
          }
        },
        "WARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warn"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "FATAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fatal"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#LogsListWidgetConfigSeverityLevelsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.dashboards#LogsListWidgetConfigSeverityLevelsItem"
      },
      "traits": {
        "smithy.api#documentation": "Only show logs at these severity levels. Empty shows all levels."
      }
    },
    "com.posthog.dashboards#LogsListWidgetConfigServiceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Only show logs from these services. Empty shows all services."
      }
    },
    "com.posthog.dashboards#LogsListWidgetConfigTimezone": {
      "type": "enum",
      "members": {
        "UTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTC"
          }
        },
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Render log timestamps in UTC or in each viewer's local timezone."
      }
    },
    "com.posthog.dashboards#DashboardsPartialUpdateRequestTilesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.dashboards#DashboardPatchTileOpenApi"
      },
      "traits": {
        "smithy.api#documentation": "Dashboard tiles to update. Widget tiles accept nested widget.config patches."
      }
    },
    "com.posthog.dashboards#DashboardsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this dashboard."
          }
        },
        "format": {
          "target": "com.posthog.dashboards#DashboardsPartialUpdateRequestFormat",
          "traits": {
            "smithy.api#httpQuery": "format"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "pinned": {
          "target": "smithy.api#Boolean"
        },
        "filters": {
          "target": "com.posthog.dashboards#DashboardFiltersOpenApi",
          "traits": {
            "smithy.api#documentation": "Dashboard-level filters (date range and properties) applied across all tiles as the source of truth."
          }
        },
        "breakdown_colors": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Custom color mapping for breakdown values."
          }
        },
        "data_color_theme_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the color theme used for chart visualizations.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.dashboards#DashboardsPartialUpdateRequestTagsList"
        },
        "restriction_level": {
          "target": "com.posthog.dashboards#EffectivePrivilegeLevelEnum"
        },
        "quick_filter_ids": {
          "target": "com.posthog.dashboards#DashboardsPartialUpdateRequestQuickFilterIdsList",
          "traits": {
            "smithy.api#documentation": "List of quick filter IDs associated with this dashboard.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tiles": {
          "target": "com.posthog.dashboards#DashboardsPartialUpdateRequestTilesList",
          "traits": {
            "smithy.api#documentation": "Dashboard tiles to update. Widget tiles accept nested widget.config patches."
          }
        },
        "use_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Template key to create the dashboard from a predefined template."
          }
        },
        "use_dashboard": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of an existing dashboard to duplicate.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "delete_insights": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When deleting, also delete insights that are only on this dashboard."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dashboards#DashboardsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dashboards#DashboardsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.dashboards#DashboardOutput"
      },
      "errors": [
        {
          "target": "com.posthog.dashboards#BadRequest"
        },
        {
          "target": "com.posthog.dashboards#Forbidden"
        },
        {
          "target": "com.posthog.dashboards#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/dashboards/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.dashboards#DashboardsDestroyRequestFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this dashboard."
          }
        },
        "format": {
          "target": "com.posthog.dashboards#DashboardsDestroyRequestFormat",
          "traits": {
            "smithy.api#httpQuery": "format"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dashboards#DashboardsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dashboards#DashboardsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.dashboards#BadRequest"
        },
        {
          "target": "com.posthog.dashboards#Forbidden"
        },
        {
          "target": "com.posthog.dashboards#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/dashboards/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Hard delete of this model is not allowed. Use a patch API call to set \"deleted\" to true"
      }
    },
    "com.posthog.dashboards#DashboardsCopyTileCreateRequestFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsCopyTileCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this dashboard."
          }
        },
        "format": {
          "target": "com.posthog.dashboards#DashboardsCopyTileCreateRequestFormat",
          "traits": {
            "smithy.api#httpQuery": "format"
          }
        },
        "fromDashboardId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Dashboard id the tile currently belongs to."
          }
        },
        "tileId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Dashboard tile id to copy."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dashboards#DashboardsCopyTileCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dashboards#DashboardsCopyTileCreateRequest"
      },
      "output": {
        "target": "com.posthog.dashboards#DashboardOutput"
      },
      "errors": [
        {
          "target": "com.posthog.dashboards#BadRequest"
        },
        {
          "target": "com.posthog.dashboards#Forbidden"
        },
        {
          "target": "com.posthog.dashboards#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/dashboards/{id}/copy_tile/",
          "code": 200
        },
        "smithy.api#documentation": "Copy an existing dashboard tile to another dashboard (insight, text card, or widget tile)."
      }
    },
    "com.posthog.dashboards#DashboardsCreateTextTileCreateRequestFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#TileLayouts": {
      "type": "structure",
      "members": {
        "sm": {
          "target": "com.posthog.dashboards#TileLayoutBox",
          "traits": {
            "smithy.api#documentation": "Layout for the standard (desktop) breakpoint. The grid is 12 columns wide."
          }
        },
        "xs": {
          "target": "com.posthog.dashboards#TileLayoutBox",
          "traits": {
            "smithy.api#documentation": "Layout for the small (mobile) breakpoint. The grid is 1 column wide."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#TileLayoutBox": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Column position in the dashboard grid (0-indexed)."
          }
        },
        "y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Row position in the dashboard grid (0-indexed)."
          }
        },
        "w": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Width in grid columns. The desktop grid is 12 columns wide."
          }
        },
        "h": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Height in grid rows."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#DashboardsCreateTextTileCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this dashboard."
          }
        },
        "format": {
          "target": "com.posthog.dashboards#DashboardsCreateTextTileCreateRequestFormat",
          "traits": {
            "smithy.api#httpQuery": "format"
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Markdown body for the text tile. Supports headings, lists, and inline formatting. Useful as a dashboard section heading, divider, or annotation between insights. Max 4000 characters.",
            "smithy.api#required": {}
          }
        },
        "layouts": {
          "target": "com.posthog.dashboards#TileLayouts",
          "traits": {
            "smithy.api#documentation": "Optional grid layout per breakpoint. If omitted, the tile is placed at the bottom of the dashboard using the default size. Text tiles typically use a thin full-width banner (e.g. w=12, h=1)."
          }
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional accent color name (e.g. 'blue', 'green', 'purple', 'black').",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dashboards#DashboardTileOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "insight": {
          "target": "com.posthog.dashboards#InsightOutput",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "com.posthog.dashboards#Text",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "button_tile": {
          "target": "com.posthog.dashboards#ButtonTile",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "widget": {
          "target": "com.posthog.dashboards#DashboardWidget",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "layouts": {
          "target": "smithy.api#Document"
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "filters_overrides": {
          "target": "smithy.api#Document"
        },
        "show_description": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "transparent_background": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dashboards#InsightOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "short_id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "derived_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "query": {
          "target": "com.posthog.dashboards#InsightQuerySchema",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "order": {
          "target": "smithy.api#Integer",
          "traits": {
[...]
