{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.dataset_items#DatasetItemsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dataset",
            "smithy.api#documentation": "Filter by dataset ID"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dataset_items#PaginatedDatasetItemList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.dataset_items#PaginatedDatasetItemListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.dataset_items#DatasetItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "dataset": {
          "target": "smithy.api#String"
        },
        "input": {
          "target": "smithy.api#Document"
        },
        "output": {
          "target": "smithy.api#Document"
        },
        "metadata": {
          "target": "smithy.api#Document"
        },
        "ref_trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ref_timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ref_source_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.dataset_items#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "team": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.dataset_items#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.dataset_items#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.dataset_items#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dataset_items#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.dataset_items#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.dataset_items#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.dataset_items#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.dataset_items#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.dataset_items#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.dataset_items#PaginatedDatasetItemListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.dataset_items#DatasetItem"
      },
      "traits": {}
    },
    "com.posthog.dataset_items#DatasetItemsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dataset_items#DatasetItemsListRequest"
      },
      "output": {
        "target": "com.posthog.dataset_items#PaginatedDatasetItemList"
      },
      "errors": [
        {
          "target": "com.posthog.dataset_items#BadRequest"
        },
        {
          "target": "com.posthog.dataset_items#Forbidden"
        },
        {
          "target": "com.posthog.dataset_items#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/dataset_items/",
          "code": 200
        }
      }
    },
    "com.posthog.dataset_items#DatasetItemsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dataset": {
          "target": "smithy.api#String"
        },
        "input": {
          "target": "smithy.api#Document"
        },
        "output": {
          "target": "smithy.api#Document"
        },
        "metadata": {
          "target": "smithy.api#Document"
        },
        "ref_trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ref_timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ref_source_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dataset_items#DatasetItemsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dataset_items#DatasetItemsCreateRequest"
      },
      "output": {
        "target": "com.posthog.dataset_items#DatasetItem"
      },
      "errors": [
        {
          "target": "com.posthog.dataset_items#BadRequest"
        },
        {
          "target": "com.posthog.dataset_items#Forbidden"
        },
        {
          "target": "com.posthog.dataset_items#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/dataset_items/",
          "code": 200
        }
      }
    },
    "com.posthog.dataset_items#DatasetItemsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this dataset item."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dataset_items#DatasetItemsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dataset_items#DatasetItemsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.dataset_items#DatasetItem"
      },
      "errors": [
        {
          "target": "com.posthog.dataset_items#Forbidden"
        },
        {
          "target": "com.posthog.dataset_items#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/dataset_items/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.dataset_items#DatasetItemsUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this dataset item."
          }
        },
        "dataset": {
          "target": "smithy.api#String"
        },
        "input": {
          "target": "smithy.api#Document"
        },
        "output": {
          "target": "smithy.api#Document"
        },
        "metadata": {
          "target": "smithy.api#Document"
        },
        "ref_trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ref_timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ref_source_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dataset_items#DatasetItemsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dataset_items#DatasetItemsUpdateRequest"
      },
      "output": {
        "target": "com.posthog.dataset_items#DatasetItem"
      },
      "errors": [
        {
          "target": "com.posthog.dataset_items#BadRequest"
        },
        {
          "target": "com.posthog.dataset_items#Forbidden"
        },
        {
          "target": "com.posthog.dataset_items#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/dataset_items/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.dataset_items#DatasetItemsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this dataset item."
          }
        },
        "dataset": {
          "target": "smithy.api#String"
        },
        "input": {
          "target": "smithy.api#Document"
        },
        "output": {
          "target": "smithy.api#Document"
        },
        "metadata": {
          "target": "smithy.api#Document"
        },
        "ref_trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ref_timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ref_source_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dataset_items#DatasetItemsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dataset_items#DatasetItemsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.dataset_items#DatasetItem"
      },
      "errors": [
        {
          "target": "com.posthog.dataset_items#BadRequest"
        },
        {
          "target": "com.posthog.dataset_items#Forbidden"
        },
        {
          "target": "com.posthog.dataset_items#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/dataset_items/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.dataset_items#DatasetItemsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this dataset item."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.dataset_items#DatasetItemsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.dataset_items#DatasetItemsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.dataset_items#Forbidden"
        },
        {
          "target": "com.posthog.dataset_items#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/dataset_items/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Hard delete of this model is not allowed. Use a patch API call to set \"deleted\" to true"
      }
    },
    "com.posthog.dataset_items#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.dataset_items#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.posthog.dataset_items#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.posthog.dataset_items#DatasetItems": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.dataset_items#DatasetItemsList"
        },
        {
          "target": "com.posthog.dataset_items#DatasetItemsCreate"
        },
        {
          "target": "com.posthog.dataset_items#DatasetItemsRetrieve"
        },
        {
          "target": "com.posthog.dataset_items#DatasetItemsUpdate"
        },
        {
          "target": "com.posthog.dataset_items#DatasetItemsPartialUpdate"
        },
        {
          "target": "com.posthog.dataset_items#DatasetItemsDestroy"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
