{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.desktop_file_system#DesktopFileSystemListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "A search term."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#PaginatedFileSystemList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.desktop_file_system#PaginatedFileSystemListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.desktop_file_system#FileSystem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "depth": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "meta": {
          "target": "smithy.api#Document"
        },
        "shortcut": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "last_viewed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.desktop_file_system#PaginatedFileSystemListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.desktop_file_system#FileSystem"
      },
      "traits": {}
    },
    "com.posthog.desktop_file_system#DesktopFileSystemList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemListRequest"
      },
      "output": {
        "target": "com.posthog.desktop_file_system#PaginatedFileSystemList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/desktop_file_system/",
          "code": 200
        },
        "smithy.api#documentation": "The file tree for the desktop product surface. Reuses all FileSystemViewSet behaviour but is\nscoped to the \"desktop\" surface, so its tree is fully isolated from the default \"web\" tree.\n\nAdds per-folder, versioned markdown instructions describing the contents of a folder."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "path": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "meta": {
          "target": "smithy.api#Document"
        },
        "shortcut": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemCreateRequest"
      },
      "output": {
        "target": "com.posthog.desktop_file_system#FileSystem"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/desktop_file_system/",
          "code": 200
        },
        "smithy.api#documentation": "The file tree for the desktop product surface. Reuses all FileSystemViewSet behaviour but is\nscoped to the \"desktop\" surface, so its tree is fully isolated from the default \"web\" tree.\n\nAdds per-folder, versioned markdown instructions describing the contents of a folder."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this file system."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.desktop_file_system#FileSystem"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/desktop_file_system/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "The file tree for the desktop product surface. Reuses all FileSystemViewSet behaviour but is\nscoped to the \"desktop\" surface, so its tree is fully isolated from the default \"web\" tree.\n\nAdds per-folder, versioned markdown instructions describing the contents of a folder."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this file system."
          }
        },
        "path": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "meta": {
          "target": "smithy.api#Document"
        },
        "shortcut": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemUpdateRequest"
      },
      "output": {
        "target": "com.posthog.desktop_file_system#FileSystem"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/desktop_file_system/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "The file tree for the desktop product surface. Reuses all FileSystemViewSet behaviour but is\nscoped to the \"desktop\" surface, so its tree is fully isolated from the default \"web\" tree.\n\nAdds per-folder, versioned markdown instructions describing the contents of a folder."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this file system."
          }
        },
        "path": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "meta": {
          "target": "smithy.api#Document"
        },
        "shortcut": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.desktop_file_system#FileSystem"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/desktop_file_system/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "The file tree for the desktop product surface. Reuses all FileSystemViewSet behaviour but is\nscoped to the \"desktop\" surface, so its tree is fully isolated from the default \"web\" tree.\n\nAdds per-folder, versioned markdown instructions describing the contents of a folder."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this file system."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/desktop_file_system/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "The file tree for the desktop product surface. Reuses all FileSystemViewSet behaviour but is\nscoped to the \"desktop\" surface, so its tree is fully isolated from the default \"web\" tree.\n\nAdds per-folder, versioned markdown instructions describing the contents of a folder."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemCanvasPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this file system."
          }
        },
        "code": {
          "target": "smithy.api#String"
        },
        "prompt": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemCanvasPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemCanvasPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.desktop_file_system#FileSystem"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/desktop_file_system/{id}/canvas/",
          "code": 200
        },
        "smithy.api#documentation": "Publish a new version of a freeform canvas's React source.\n\nMerges into the dashboard row's `meta` (never replaces it), so existing\nkeys like `channelId`/`templateId` survive. Appends a full-file version\nsnapshot and points `currentVersionId` at it — the server-side mirror of\nthe app's dashboardsService.saveFreeform."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemContextGenerationRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this file system."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#ContextGeneration": {
      "type": "structure",
      "members": {
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Task currently generating this folder's CONTEXT.md, or null if none.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.desktop_file_system#DesktopFileSystemContextGenerationRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemContextGenerationRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.desktop_file_system#ContextGeneration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/desktop_file_system/{id}/context_generation/",
          "code": 200
        },
        "smithy.api#documentation": "Return the Task currently generating this folder's CONTEXT.md, or null if none."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemContextGenerationUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this file system."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Task generating this folder's CONTEXT.md. Must reference a Task in the same team. Set to null to clear the association.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemContextGenerationUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemContextGenerationUpdateRequest"
      },
      "output": {
        "target": "com.posthog.desktop_file_system#ContextGeneration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/desktop_file_system/{id}/context_generation/",
          "code": 200
        },
        "smithy.api#documentation": "Set or clear the Task associated with this folder's CONTEXT.md generation."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemCountCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this file system."
          }
        },
        "path": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "meta": {
          "target": "smithy.api#Document"
        },
        "shortcut": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemCountCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemCountCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/desktop_file_system/{id}/count/",
          "code": 200
        },
        "smithy.api#documentation": "Get count of all files in a folder."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemInstructionsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this file system."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#FolderInstructions": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this instructions version.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Markdown instructions describing the contents of the folder.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Monotonically increasing version number, starting at 1.",
            "smithy.api#required": {}
          }
        },
        "is_latest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is the current (latest) version for the folder.",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.desktop_file_system#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who published this version.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this version was published.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this version row was last modified.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.desktop_file_system#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.desktop_file_system#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.desktop_file_system#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.desktop_file_system#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.desktop_file_system#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.desktop_file_system#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.desktop_file_system#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.desktop_file_system#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.desktop_file_system#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.desktop_file_system#DesktopFileSystemInstructionsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemInstructionsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.desktop_file_system#FolderInstructions"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/desktop_file_system/{id}/instructions/",
          "code": 200
        },
        "smithy.api#documentation": "Return the latest non-deleted instructions for this folder."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemInstructionsUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this file system."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full markdown instructions to publish as a new version for the folder.",
            "smithy.api#required": {}
          }
        },
        "base_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest version you are editing from, for optimistic concurrency. If provided and the folder's instructions have changed since, the request fails with 409. Use 0 when no instructions exist yet."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemInstructionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemInstructionsUpdateRequest"
      },
      "output": {
        "target": "com.posthog.desktop_file_system#FolderInstructions"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/desktop_file_system/{id}/instructions/",
          "code": 200
        },
        "smithy.api#documentation": "Publish a new version of the folder's instructions."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemInstructionsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this file system."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full markdown instructions to publish as a new version for the folder."
          }
        },
        "base_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest version you are editing from, for optimistic concurrency. If provided and the folder's instructions have changed since, the request fails with 409. Use 0 when no instructions exist yet."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemInstructionsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemInstructionsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.desktop_file_system#FolderInstructions"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/desktop_file_system/{id}/instructions/",
          "code": 200
        },
        "smithy.api#documentation": "Publish a new version of the folder's instructions."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemInstructionsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this file system."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemInstructionsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemInstructionsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/desktop_file_system/{id}/instructions/",
          "code": 200
        },
        "smithy.api#documentation": "Soft-delete every version of this folder's instructions."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemInstructionsVersionsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this file system."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "A search term."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#PaginatedFolderInstructionsVersionList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.desktop_file_system#PaginatedFolderInstructionsVersionListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.desktop_file_system#FolderInstructionsVersion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this instructions version.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Monotonically increasing version number, starting at 1.",
            "smithy.api#required": {}
          }
        },
        "is_latest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is the current (latest) version for the folder.",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.desktop_file_system#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who published this version.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this version was published.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Version-history entry: metadata only, with the markdown content omitted."
      }
    },
    "com.posthog.desktop_file_system#PaginatedFolderInstructionsVersionListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.desktop_file_system#FolderInstructionsVersion"
      },
      "traits": {}
    },
    "com.posthog.desktop_file_system#DesktopFileSystemInstructionsVersionsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemInstructionsVersionsListRequest"
      },
      "output": {
        "target": "com.posthog.desktop_file_system#PaginatedFolderInstructionsVersionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/desktop_file_system/{id}/instructions/versions/",
          "code": 200
        },
        "smithy.api#documentation": "List the version history for this folder's instructions, newest first."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemLinkCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this file system."
          }
        },
        "path": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "meta": {
          "target": "smithy.api#Document"
        },
        "shortcut": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemLinkCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemLinkCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/desktop_file_system/{id}/link/",
          "code": 200
        },
        "smithy.api#documentation": "The file tree for the desktop product surface. Reuses all FileSystemViewSet behaviour but is\nscoped to the \"desktop\" surface, so its tree is fully isolated from the default \"web\" tree.\n\nAdds per-folder, versioned markdown instructions describing the contents of a folder."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemMoveCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this file system."
          }
        },
        "path": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "meta": {
          "target": "smithy.api#Document"
        },
        "shortcut": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemMoveCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemMoveCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/desktop_file_system/{id}/move/",
          "code": 200
        },
        "smithy.api#documentation": "The file tree for the desktop product surface. Reuses all FileSystemViewSet behaviour but is\nscoped to the \"desktop\" surface, so its tree is fully isolated from the default \"web\" tree.\n\nAdds per-folder, versioned markdown instructions describing the contents of a folder."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemCountByPathCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "path": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "meta": {
          "target": "smithy.api#Document"
        },
        "shortcut": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemCountByPathCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemCountByPathCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/desktop_file_system/count_by_path/",
          "code": 200
        },
        "smithy.api#documentation": "Get count of all files in a folder."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemLogViewRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemLogViewRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemLogViewRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/desktop_file_system/log_view/",
          "code": 200
        },
        "smithy.api#documentation": "The file tree for the desktop product surface. Reuses all FileSystemViewSet behaviour but is\nscoped to the \"desktop\" surface, so its tree is fully isolated from the default \"web\" tree.\n\nAdds per-folder, versioned markdown instructions describing the contents of a folder."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemLogViewCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "path": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "meta": {
          "target": "smithy.api#Document"
        },
        "shortcut": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemLogViewCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemLogViewCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/desktop_file_system/log_view/",
          "code": 200
        },
        "smithy.api#documentation": "The file tree for the desktop product surface. Reuses all FileSystemViewSet behaviour but is\nscoped to the \"desktop\" surface, so its tree is fully isolated from the default \"web\" tree.\n\nAdds per-folder, versioned markdown instructions describing the contents of a folder."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemUndoDeleteCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "path": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "meta": {
          "target": "smithy.api#Document"
        },
        "shortcut": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemUndoDeleteCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemUndoDeleteCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/desktop_file_system/undo_delete/",
          "code": 200
        },
        "smithy.api#documentation": "The file tree for the desktop product surface. Reuses all FileSystemViewSet behaviour but is\nscoped to the \"desktop\" surface, so its tree is fully isolated from the default \"web\" tree.\n\nAdds per-folder, versioned markdown instructions describing the contents of a folder."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemUnfiledRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystemUnfiledRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.desktop_file_system#DesktopFileSystemUnfiledRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/desktop_file_system/unfiled/",
          "code": 200
        },
        "smithy.api#documentation": "The file tree for the desktop product surface. Reuses all FileSystemViewSet behaviour but is\nscoped to the \"desktop\" surface, so its tree is fully isolated from the default \"web\" tree.\n\nAdds per-folder, versioned markdown instructions describing the contents of a folder."
      }
    },
    "com.posthog.desktop_file_system#DesktopFileSystem": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemList"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemCreate"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemRetrieve"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemUpdate"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemPartialUpdate"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemDestroy"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemCanvasPartialUpdate"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemContextGenerationRetrieve"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemContextGenerationUpdate"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemCountCreate"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemInstructionsRetrieve"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemInstructionsUpdate"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemInstructionsPartialUpdate"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemInstructionsDestroy"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemInstructionsVersionsList"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemLinkCreate"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemMoveCreate"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemCountByPathCreate"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemLogViewRetrieve"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemLogViewCreate"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemUndoDeleteCreate"
        },
        {
          "target": "com.posthog.desktop_file_system#DesktopFileSystemUnfiledRetrieve"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
