{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.experiments#ExperimentsListRequestStatus": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "archived",
            "smithy.api#documentation": "Filter by archived state. Defaults to non-archived experiments only."
          }
        },
        "created_by_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_by_id",
            "smithy.api#documentation": "Filter to experiments created by the given user(s). Accepts a single user ID, or a JSON-encoded / comma-separated list of user IDs to match any of them."
          }
        },
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "event",
            "smithy.api#documentation": "Filter to experiments whose metrics reference this event name. Matches events used directly in metric queries as well as events behind any actions those metrics reference."
          }
        },
        "feature_flag_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "feature_flag_id",
            "smithy.api#documentation": "Filter to experiments linked to the given feature flag ID."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "order": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Field to order by. Prefix with '-' for descending. Allowlisted fields include name, created_at, updated_at, start_date, end_date, duration, and status."
          }
        },
        "prompt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "prompt_name",
            "smithy.api#documentation": "Filter to experiments created from an LLM prompt with this name. Matches experiments whose parameters.prompt_metadata.name equals the given value."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Free-text search applied to the experiment name (case-insensitive)."
          }
        },
        "status": {
          "target": "com.posthog.experiments#ExperimentsListRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter by experiment status. \"running\" and \"paused\" are mutually exclusive: \"running\" returns launched experiments with an active feature flag, \"paused\" returns launched experiments whose feature flag is deactivated. \"complete\" is an alias for \"stopped\". \"all\" disables status filtering."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.experiments#PaginatedExperimentBasicList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.experiments#PaginatedExperimentBasicListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the experiment.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the experiment hypothesis and expected outcomes.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "feature_flag_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique key for the experiment's feature flag. Letters, numbers, hyphens, and underscores only. Search existing flags with the feature-flag-get-all tool first — reuse an existing flag when possible.",
            "smithy.api#required": {}
          }
        },
        "feature_flag": {
          "target": "com.posthog.experiments#MinimalFeatureFlag",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "holdout": {
          "target": "com.posthog.experiments#ExperimentHoldout",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "exposure_cohort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.posthog.experiments#ExperimentParameters",
          "traits": {
            "smithy.api#documentation": "Experiment parameters JSON. Supported keys include `feature_flag_variants`, `rollout_percentage`, `custom_exposure_filter`, and `variant_notes` (free-text notes per variant, keyed by variant key). Excluded variants live on the top-level `excluded_variants` field, not here.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "running_time_calculation": {
          "target": "com.posthog.experiments#ExperimentRunningTimeCalculation",
          "traits": {
            "smithy.api#documentation": "Running-time calculator state: `minimum_detectable_effect`, `recommended_running_time`, `recommended_sample_size`, and `exposure_estimate_config`. Canonical home for these keys, which historically lived in `parameters`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "excluded_variants": {
          "target": "com.posthog.experiments#ExperimentBasicExcludedVariantsList",
          "traits": {
            "smithy.api#documentation": "Variant keys to exclude from metric result calculations. Excluded variants are still served to users but omitted from statistical analysis. The baseline variant and holdout pseudo-variants cannot be excluded. Canonical home for what historically lived in `parameters.excluded_variants`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the experiment is archived."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.experiments#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.posthog.experiments#ExperimentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Experiment type: web for frontend UI changes, product for backend/API changes.\n\n* `web` - web\n* `product` - product",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conclusion": {
          "target": "com.posthog.experiments#ConclusionEnum",
          "traits": {
            "smithy.api#documentation": "Experiment conclusion: won, lost, inconclusive, stopped_early, or invalid.\n\n* `won` - won\n* `lost` - lost\n* `inconclusive` - inconclusive\n* `stopped_early` - stopped_early\n* `invalid` - invalid",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conclusion_comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comment about the experiment conclusion.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.posthog.experiments#ExperimentStatusEnum",
          "traits": {
            "smithy.api#documentation": "Experiment lifecycle state: 'draft' (not yet launched), 'running' (launched with active feature flag), 'paused' (running with feature flag deactivated — virtual state derived from feature_flag.active, not stored), 'stopped' (ended).",
            "smithy.api#required": {}
          }
        },
        "is_legacy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the experiment uses any legacy-engine metrics (ExperimentTrendsQuery or ExperimentFunnelsQuery). Used to flag legacy experiments and gate actions that don't support them, such as duplicate and copy-to-project.",
            "smithy.api#required": {}
          }
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lightweight, read-only serializer for the experiment list endpoint.\n\nThe list view (and the MCP list tool) render only the scalar and feature-flag fields\nshared via ``ExperimentBaseSerializer`` — never the metric definitions. Omitting\n``metrics``/``metrics_secondary``/``saved_metrics`` lets the list query defer the large\nJSON columns and skip the saved-metric prefetch plus per-row fingerprinting; that work\nbelongs to the detail response served by ``ExperimentSerializer``.\n\nBecause the metric fields, the write-side machinery, and the action-name-refreshing\n``to_representation`` all live on ``ExperimentSerializer`` rather than the shared base,\nthis serializer needs no overrides: it gets DRF's default ``get_fields`` (no write-only\n``holdout_id`` to configure), default ``to_representation`` (no metrics to normalize), and\na plain ``ListSerializer`` that never touches the deferred columns. See\n``EnterpriseExperimentsViewSet.safely_get_queryset``."
      }
    },
    "com.posthog.experiments#MinimalFeatureFlag": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "team_id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "key": {
          "target": "smithy.api#String"
        },
        "filters": {
          "target": "com.posthog.experiments#MinimalFeatureFlagFiltersMap"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "active": {
          "target": "smithy.api#Boolean"
        },
        "ensure_experience_continuity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluation_runtime": {
          "target": "com.posthog.experiments#MinimalFeatureFlagEvaluationRuntime",
          "traits": {
            "smithy.api#documentation": "Specifies where this feature flag should be evaluated\n\n* `server` - Server\n* `client` - Client\n* `all` - All",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bucketing_identifier": {
          "target": "com.posthog.experiments#MinimalFeatureFlagBucketingIdentifier",
          "traits": {
            "smithy.api#documentation": "Identifier used for bucketing users into rollout and variants\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID",
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluation_contexts": {
          "target": "com.posthog.experiments#MinimalFeatureFlagEvaluationContextsList"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#MinimalFeatureFlagFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.experiments#EvaluationRuntimeEnum": {
      "type": "enum",
      "members": {
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        },
        "CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `server` - Server\n* `client` - Client\n* `all` - All"
      }
    },
    "com.posthog.experiments#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#MinimalFeatureFlagEvaluationRuntime": {
      "type": "union",
      "members": {
        "EvaluationRuntimeEnum": {
          "target": "com.posthog.experiments#EvaluationRuntimeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.experiments#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies where this feature flag should be evaluated\n\n* `server` - Server\n* `client` - Client\n* `all` - All"
      }
    },
    "com.posthog.experiments#BucketingIdentifierEnum": {
      "type": "enum",
      "members": {
        "DISTINCT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "distinct_id"
          }
        },
        "DEVICE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "device_id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `distinct_id` - User ID (default)\n* `device_id` - Device ID"
      }
    },
    "com.posthog.experiments#MinimalFeatureFlagBucketingIdentifier": {
      "type": "union",
      "members": {
        "BucketingIdentifierEnum": {
          "target": "com.posthog.experiments#BucketingIdentifierEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.experiments#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifier used for bucketing users into rollout and variants\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID"
      }
    },
    "com.posthog.experiments#MinimalFeatureFlagEvaluationContextsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentHoldout": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for the holdout group."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of what this holdout reserves and why.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "filters": {
          "target": "com.posthog.experiments#ExperimentHoldoutFiltersList",
          "traits": {
            "smithy.api#documentation": "Non-empty list of release-condition groups defining the held-out population, using the same shape as feature-flag release conditions. Each element's `rollout_percentage` (0–100, may be fractional) is the **exclusion** percentage — the share of users held back from all experiments that reference this holdout. `properties` optionally narrows the group by person/group properties. Do not set `variant`: the server normalizes it to `holdout-{id}`. Note that only the first element's `rollout_percentage` is embedded into each linked experiment's feature flag, and this population is shared across every experiment using the holdout."
          }
        },
        "created_by": {
          "target": "com.posthog.experiments#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A holdout group — a stable slice of users excluded from experiment exposure."
      }
    },
    "com.posthog.experiments#FeatureFlagConditionGroupSchema": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.posthog.experiments#FeatureFlagConditionGroupSchemaPropertiesList",
          "traits": {
            "smithy.api#documentation": "Property conditions for this release condition group."
          }
        },
        "rollout_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Rollout percentage for this release condition group."
          }
        },
        "variant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Variant key override for multivariate flags.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "aggregation_group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index for this condition set. None means person-level aggregation.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FeatureFlagFilterPropertySchema": {
      "type": "union",
      "members": {
        "FeatureFlagFilterPropertyGenericSchema": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyGenericSchema"
        },
        "FeatureFlagFilterPropertyExistsSchema": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyExistsSchema"
        },
        "FeatureFlagFilterPropertyDateSchema": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyDateSchema"
        },
        "FeatureFlagFilterPropertySemverSchema": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertySemverSchema"
        },
        "FeatureFlagFilterPropertyMultiContainsSchema": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyMultiContainsSchema"
        },
        "FeatureFlagFilterPropertyCohortInSchema": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyCohortInSchema"
        },
        "FeatureFlagFilterPropertyFlagEvaluatesSchema": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyFlagEvaluatesSchema"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyGenericSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.experiments#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Common values are 'person' and 'cohort'.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Comparison value for the property filter. Supports strings, numbers, booleans, and arrays."
          }
        },
        "operator": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyGenericSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Operator used to compare the property value.\n\n* `exact` - exact\n* `is_not` - is_not\n* `icontains` - icontains\n* `not_icontains` - not_icontains\n* `regex` - regex\n* `not_regex` - not_regex\n* `gt` - gt\n* `gte` - gte\n* `lt` - lt\n* `lte` - lte"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#PropertyGroupTypeEnum": {
      "type": "enum",
      "members": {
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        },
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `cohort` - cohort\n* `person` - person\n* `group` - group"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyGenericSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `exact` - exact\n* `is_not` - is_not\n* `icontains` - icontains\n* `not_icontains` - not_icontains\n* `regex` - regex\n* `not_regex` - not_regex\n* `gt` - gt\n* `gte` - gte\n* `lt` - lt\n* `lte` - lte"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyExistsSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.experiments#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Common values are 'person' and 'cohort'.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#ExistenceOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Existence operator.\n\n* `is_set` - is_set\n* `is_not_set` - is_not_set"
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional value. Runtime behavior determines whether this is ignored."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExistenceOperatorEnum": {
      "type": "enum",
      "members": {
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `is_set` - is_set\n* `is_not_set` - is_not_set"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyDateSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.experiments#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Common values are 'person' and 'cohort'.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#DateOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Date comparison operator.\n\n* `is_date_exact` - is_date_exact\n* `is_date_after` - is_date_after\n* `is_date_before` - is_date_before"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date value in ISO format or relative date expression."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#DateOperatorEnum": {
      "type": "enum",
      "members": {
        "IS_DATE_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_exact"
          }
        },
        "IS_DATE_BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_before"
          }
        },
        "IS_DATE_AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_after"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `is_date_exact` - is_date_exact\n* `is_date_before` - is_date_before\n* `is_date_after` - is_date_after"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertySemverSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.experiments#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Common values are 'person' and 'cohort'.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertySemverSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Semantic version comparison operator.\n\n* `semver_gt` - semver_gt\n* `semver_gte` - semver_gte\n* `semver_lt` - semver_lt\n* `semver_lte` - semver_lte\n* `semver_eq` - semver_eq\n* `semver_neq` - semver_neq\n* `semver_tilde` - semver_tilde\n* `semver_caret` - semver_caret\n* `semver_wildcard` - semver_wildcard"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Semantic version string."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FeatureFlagFilterPropertySemverSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "SEMVER_GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gt"
          }
        },
        "SEMVER_GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gte"
          }
        },
        "SEMVER_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lt"
          }
        },
        "SEMVER_LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lte"
          }
        },
        "SEMVER_EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_eq"
          }
        },
        "SEMVER_NEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_neq"
          }
        },
        "SEMVER_TILDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_tilde"
          }
        },
        "SEMVER_CARET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_caret"
          }
        },
        "SEMVER_WILDCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_wildcard"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `semver_gt` - semver_gt\n* `semver_gte` - semver_gte\n* `semver_lt` - semver_lt\n* `semver_lte` - semver_lte\n* `semver_eq` - semver_eq\n* `semver_neq` - semver_neq\n* `semver_tilde` - semver_tilde\n* `semver_caret` - semver_caret\n* `semver_wildcard` - semver_wildcard"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyMultiContainsSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.experiments#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Common values are 'person' and 'cohort'.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyMultiContainsSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Multi-contains operator.\n\n* `icontains_multi` - icontains_multi\n* `not_icontains_multi` - not_icontains_multi"
          }
        },
        "value": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyMultiContainsSchemaValueList",
          "traits": {
            "smithy.api#documentation": "List of strings to evaluate against."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyMultiContainsSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains_multi"
          }
        },
        "NOT_ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains_multi"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `icontains_multi` - icontains_multi\n* `not_icontains_multi` - not_icontains_multi"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyMultiContainsSchemaValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of strings to evaluate against."
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyCohortInSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyCohortInSchemaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Cohort property type required for in/not_in operators.\n\n* `cohort` - cohort"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyCohortInSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Membership operator for cohort properties.\n\n* `in` - in\n* `not_in` - not_in"
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Cohort comparison value (single or list, depending on usage)."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyCohortInSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `cohort` - cohort"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyCohortInSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `in` - in\n* `not_in` - not_in"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyFlagEvaluatesSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyFlagEvaluatesSchemaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Flag property type required for flag dependency checks.\n\n* `flag` - flag"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyFlagEvaluatesSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Operator for feature flag dependency evaluation.\n\n* `flag_evaluates_to` - flag_evaluates_to"
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare flag evaluation against."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyFlagEvaluatesSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `flag` - flag"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyFlagEvaluatesSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "FLAG_EVALUATES_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag_evaluates_to"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `flag_evaluates_to` - flag_evaluates_to"
      }
    },
    "com.posthog.experiments#FeatureFlagConditionGroupSchemaPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#FeatureFlagFilterPropertySchema"
      },
      "traits": {
        "smithy.api#documentation": "Property conditions for this release condition group."
      }
    },
    "com.posthog.experiments#ExperimentHoldoutFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#FeatureFlagConditionGroupSchema"
      },
      "traits": {
        "smithy.api#documentation": "Non-empty list of release-condition groups defining the held-out population, using the same shape as feature-flag release conditions. Each element's `rollout_percentage` (0–100, may be fractional) is the **exclusion** percentage — the share of users held back from all experiments that reference this holdout. `properties` optionally narrows the group by person/group properties. Do not set `variant`: the server normalizes it to `holdout-{id}`. Note that only the first element's `rollout_percentage` is embedded into each linked experiment's feature flag, and this population is shared across every experiment using the holdout."
      }
    },
    "com.posthog.experiments#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.experiments#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.experiments#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.experiments#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.experiments#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.experiments#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.experiments#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentParameters": {
      "type": "structure",
      "members": {
        "feature_flag_variants": {
          "target": "com.posthog.experiments#ExperimentParametersFeatureFlagVariantsList",
          "traits": {
            "smithy.api#documentation": "Experiment variants. If specified, must include a variant with key 'control' (lowercase). Defaults to a 50/50 control/test split when omitted. Minimum 2, maximum 20.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minimum_detectable_effect": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum detectable effect as a percentage. Lower values need more users but catch smaller changes. Suggest 20–30% for most experiments.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rollout_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Overall rollout percentage (0-100). Controls what fraction of all users enter the experiment. Users outside the rollout never see any variant and are excluded from analysis. Default: 100.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "variant_notes": {
          "target": "com.posthog.experiments#ExperimentParametersVariantNotesMap",
          "traits": {
            "smithy.api#documentation": "Free-text notes per variant, keyed by variant key. Use to document what each variant does or its reroute URL.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentVariant": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Variant key. Exactly one variant in feature_flag_variants must use key 'control' (lowercase, exactly) — that is the baseline used for analysis and the special key the experiment runtime expects. Other variants use keys like 'test', 'variant_a', 'variant_b'. Map natural-language names ('original', 'A', 'baseline') to 'control'."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable variant name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rollout_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "split_percent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage of users assigned to this variant (0–100). All variants must sum to 100. One of split_percent (recommended) or rollout_percentage must be provided.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentParametersFeatureFlagVariantsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#ExperimentVariant"
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentParametersVariantNotesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentRunningTimeCalculation": {
      "type": "structure",
      "members": {
        "exposure_estimate_config": {
          "target": "com.posthog.experiments#ExperimentExposureEstimateConfig",
          "traits": {
            "smithy.api#documentation": "How the exposure estimate is configured: manual user-entered values or automatic from live experiment data.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minimum_detectable_effect": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum detectable effect as a percentage. Lower values need more users but catch smaller changes.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "recommended_running_time": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Estimated number of days needed to reach the recommended sample size.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "recommended_sample_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Recommended number of exposed users needed for statistical significance.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentExposureEstimateConfig": {
      "type": "structure",
      "members": {
        "conversionRateInputType": {
          "target": "com.posthog.experiments#ConversionRateInputType",
          "traits": {
            "smithy.api#documentation": "'manual' when the baseline value and exposure rate were entered by hand, 'automatic' when derived from live experiment data.",
            "smithy.api#required": {}
          }
        },
        "manualBaselineValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Manually entered baseline metric value (a conversion percentage for funnel metrics). Only used in manual mode.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "manualExposureRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Manually entered estimate of users exposed to the experiment per day. Only used in manual mode.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "manualMetricType": {
          "target": "com.posthog.experiments#ManualMetricType",
          "traits": {
            "smithy.api#documentation": "Metric type the manual baseline value refers to. Only used in manual mode.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ConversionRateInputType": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ManualMetricType": {
      "type": "enum",
      "members": {
        "FUNNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "funnel"
          }
        },
        "MEAN_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mean_count"
          }
        },
        "MEAN_SUM_OR_AVG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mean_sum_or_avg"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentBasicExcludedVariantsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Variant keys to exclude from metric result calculations. Excluded variants are still served to users but omitted from statistical analysis. The baseline variant and holdout pseudo-variants cannot be excluded. Canonical home for what historically lived in `parameters.excluded_variants`."
      }
    },
    "com.posthog.experiments#ExperimentTypeEnum": {
      "type": "enum",
      "members": {
        "WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `web` - web\n* `product` - product"
      }
    },
    "com.posthog.experiments#ConclusionEnum": {
      "type": "enum",
      "members": {
        "WON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "won"
          }
        },
        "LOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lost"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        },
        "STOPPED_EARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped_early"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `won` - won\n* `lost` - lost\n* `inconclusive` - inconclusive\n* `stopped_early` - stopped_early\n* `invalid` - invalid"
      }
    },
    "com.posthog.experiments#ExperimentStatusEnum": {
      "type": "enum",
      "members": {
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#PaginatedExperimentBasicListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#ExperimentBasic"
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.experiments#ExperimentsListRequest"
      },
      "output": {
        "target": "com.posthog.experiments#PaginatedExperimentBasicList"
      },
      "errors": [
        {
          "target": "com.posthog.experiments#BadRequest"
        },
        {
          "target": "com.posthog.experiments#Forbidden"
        },
        {
          "target": "com.posthog.experiments#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/experiments/",
          "code": 200
        },
        "smithy.api#documentation": "List experiments for the current project. Supports filtering by status and archival state."
      }
    },
    "com.posthog.experiments#ExperimentsCreateRequestExcludedVariantsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Variant keys to exclude from metric result calculations. Excluded variants are still served to users but omitted from statistical analysis. The baseline variant and holdout pseudo-variants cannot be excluded. Canonical home for what historically lived in `parameters.excluded_variants`."
      }
    },
    "com.posthog.experiments#ExperimentsCreateRequestSavedMetricsIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "IDs of shared saved metrics to attach to this experiment. Each item has 'id' (saved metric ID) and 'metadata' with 'type' (primary or secondary)."
      }
    },
    "com.posthog.experiments#ExperimentApiExposureCriteria": {
      "type": "structure",
      "members": {
        "exposure_config": {
          "target": "com.posthog.experiments#ExperimentApiExposureConfig",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "filterTestAccounts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "multiple_variant_handling": {
          "target": "com.posthog.experiments#MultipleVariantHandling",
          "traits": {
            "smithy.api#documentation": "How to handle entities exposed to multiple variants. 'exclude' (default) drops them from the analysis; 'first_seen' assigns them to the variant from their earliest exposure.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentApiExposureConfig": {
      "type": "structure",
      "members": {
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom exposure event name. Required when kind is 'ExperimentEventExposureConfig'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Action ID. Required when kind is 'ActionsNode'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kind": {
          "target": "com.posthog.experiments#Kind1",
          "traits": {
            "smithy.api#documentation": "Defaults to 'ExperimentEventExposureConfig' when omitted. Pass 'ActionsNode' for an action-based exposure.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.posthog.experiments#ExperimentApiExposureConfigPropertiesList",
          "traits": {
            "smithy.api#documentation": "Event property filters. Pass an empty array if no filters needed."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#Kind1": {
      "type": "enum",
      "members": {
        "EXPERIMENTEVENTEXPOSURECONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExperimentEventExposureConfig"
          }
        },
        "ACTIONSNODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActionsNode"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#EventPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#PropertyOperator",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event properties"
          }
        },
        "value": {
          "target": "com.posthog.experiments#EventPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#PropertyOperator": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        },
        "IS_DATE_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_exact"
          }
        },
        "IS_DATE_BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_before"
          }
        },
        "IS_DATE_AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_after"
          }
        },
        "BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "between"
          }
        },
        "NOT_BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_between"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        },
        "IS_CLEANED_PATH_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_cleaned_path_exact"
          }
        },
        "FLAG_EVALUATES_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag_evaluates_to"
          }
        },
        "SEMVER_EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_eq"
          }
        },
        "SEMVER_NEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_neq"
          }
        },
        "SEMVER_GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gt"
          }
        },
        "SEMVER_GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gte"
          }
        },
        "SEMVER_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lt"
          }
        },
        "SEMVER_LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lte"
          }
        },
        "SEMVER_TILDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_tilde"
          }
        },
        "SEMVER_CARET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_caret"
          }
        },
        "SEMVER_WILDCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_wildcard"
          }
        },
        "ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains_multi"
          }
        },
        "NOT_ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains_multi"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#EventPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#EventPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#EventPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.experiments#EventPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.experiments#EventPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentApiExposureConfigPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#EventPropertyFilter"
      },
      "traits": {
        "smithy.api#documentation": "Event property filters. Pass an empty array if no filters needed."
      }
    },
    "com.posthog.experiments#MultipleVariantHandling": {
      "type": "enum",
      "members": {
        "EXCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exclude"
          }
        },
        "FIRST_SEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_seen"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentApiMetricsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#ExperimentApiMetric"
      },
      "traits": {
        "smithy.api#documentation": "List wrapper for OpenAPI schema generation — the field stores an array of metrics."
      }
    },
    "com.posthog.experiments#ExperimentApiMetric": {
      "type": "structure",
      "members": {
        "completion_event": {
          "target": "com.posthog.experiments#ExperimentApiEventSource",
          "traits": {
            "smithy.api#documentation": "For retention metrics: completion event.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conversion_window": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Conversion window duration.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "denominator": {
          "target": "com.posthog.experiments#ExperimentApiEventSource",
          "traits": {
            "smithy.api#documentation": "For ratio metrics: denominator source.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "denominator_outlier_handling": {
          "target": "com.posthog.experiments#ExperimentMetricOutlierHandling",
          "traits": {
            "smithy.api#documentation": "For ratio metrics: winsorization applied to the denominator aggregate. Leave unset for a binomial-style denominator, which is never clamped.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "goal": {
          "target": "com.posthog.experiments#ExperimentMetricGoal",
          "traits": {
            "smithy.api#documentation": "Whether higher or lower values indicate success.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ignore_zeros": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "For mean metrics: exclude zero values when computing the winsorization percentile thresholds.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "lower_bound_percentile": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "For mean metrics: winsorization lower percentile bound, as a fraction in [0, 1] (e.g. 0.01 for the 1st percentile). Per-user values below this percentile are clamped to it before aggregation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metric_type": {
          "target": "com.posthog.experiments#ExperimentMetricType"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable metric name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "numerator": {
          "target": "com.posthog.experiments#ExperimentApiEventSource",
          "traits": {
            "smithy.api#documentation": "For ratio metrics: numerator source.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "numerator_outlier_handling": {
          "target": "com.posthog.experiments#ExperimentMetricOutlierHandling",
          "traits": {
            "smithy.api#documentation": "For ratio metrics: winsorization applied to the numerator aggregate, independently of the denominator and each with its own percentile thresholds.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "retention_window_end": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "retention_window_start": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "retention_window_unit": {
          "target": "com.posthog.experiments#FunnelConversionWindowTimeUnit",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "series": {
          "target": "com.posthog.experiments#ExperimentApiMetricSeriesList",
          "traits": {
            "smithy.api#documentation": "For funnel metrics: array of EventsNode/ActionsNode steps.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source": {
          "target": "com.posthog.experiments#ExperimentApiEventSource",
          "traits": {
            "smithy.api#documentation": "For mean metrics: event source.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_event": {
          "target": "com.posthog.experiments#ExperimentApiEventSource",
          "traits": {
            "smithy.api#documentation": "For retention metrics: start event.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_handling": {
          "target": "com.posthog.experiments#StartHandling",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "For mean metrics: when set, reports the percentage of users whose per-user summed/counted value reaches or exceeds this threshold. Only meaningful for sum/count math types.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "upper_bound_percentile": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "For mean metrics: winsorization upper percentile bound, as a fraction in [0, 1] (e.g. 0.99 for the 99th percentile). Per-user values above this percentile are clamped to it before aggregation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier. Auto-generated if omitted.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentApiEventSource": {
      "type": "structure",
      "members": {
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event name, e.g. '$pageview'. Required for EventsNode.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Action ID. Required for ActionsNode.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kind": {
          "target": "com.posthog.experiments#Kind"
        },
        "math": {
          "target": "com.posthog.experiments#ExperimentMetricMathType",
          "traits": {
            "smithy.api#documentation": "How to aggregate this source. Defaults to 'total' (event count). Use 'sum' together with math_property to aggregate a numeric property — e.g. a ratio numerator of revenue per order. Other options: 'avg', 'min', 'max', 'unique_session', 'dau', 'unique_group', 'hogql'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_group_type_index": {
          "target": "com.posthog.experiments#MathGroupTypeIndex",
          "traits": {
            "smithy.api#documentation": "Group type index to aggregate over. Required when math is 'unique_group'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_hogql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HogQL aggregation expression. Required when math is 'hogql' — without it the metric silently falls back to a plain count/sum.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Numeric event property to aggregate when math is 'sum', 'avg', 'min', or 'max' (e.g. 'revenue').",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.posthog.experiments#ExperimentApiEventSourcePropertiesList",
          "traits": {
            "smithy.api#documentation": "Event property filters to narrow which events are counted.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#Kind": {
      "type": "enum",
      "members": {
        "EVENTSNODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EventsNode"
          }
        },
        "ACTIONSNODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActionsNode"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentMetricMathType": {
      "type": "enum",
      "members": {
        "TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total"
          }
        },
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sum"
          }
        },
        "UNIQUE_SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unique_session"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "AVG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avg"
          }
        },
        "DAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dau"
          }
        },
        "UNIQUE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unique_group"
          }
        },
        "HOGQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogql"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#MathGroupTypeIndex": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        },
        "_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentApiEventSourcePropertiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#EventPropertyFilter"
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentMetricOutlierHandling": {
      "type": "structure",
      "members": {
        "ignore_zeros": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "lower_bound_percentile": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Winsorization lower percentile bound, as a fraction in [0, 1] (e.g. 0.01 for the 1st percentile).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "upper_bound_percentile": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Winsorization upper percentile bound, as a fraction in [0, 1] (e.g. 0.99 for the 99th percentile).",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentMetricGoal": {
      "type": "enum",
      "members": {
        "INCREASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "increase"
          }
        },
        "DECREASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decrease"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentMetricType": {
      "type": "enum",
      "members": {
        "FUNNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "funnel"
          }
        },
        "MEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mean"
          }
        },
        "RATIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ratio"
          }
        },
        "RETENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retention"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FunnelConversionWindowTimeUnit": {
      "type": "enum",
      "members": {
        "SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "second"
          }
        },
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentApiMetricSeriesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#ExperimentApiEventSource"
      },
      "traits": {}
    },
    "com.posthog.experiments#StartHandling": {
      "type": "enum",
      "members": {
        "FIRST_SEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_seen"
          }
        },
        "LAST_SEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last_seen"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the experiment."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the experiment hypothesis and expected outcomes.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "feature_flag_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique key for the experiment's feature flag. Letters, numbers, hyphens, and underscores only. Search existing flags with the feature-flag-get-all tool first — reuse an existing flag when possible."
          }
        },
        "holdout_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of a holdout group to exclude from the experiment.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.posthog.experiments#ExperimentParameters",
          "traits": {
            "smithy.api#documentation": "Experiment parameters JSON. Supported keys include `feature_flag_variants`, `rollout_percentage`, `custom_exposure_filter`, and `variant_notes` (free-text notes per variant, keyed by variant key). Excluded variants live on the top-level `excluded_variants` field, not here.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "running_time_calculation": {
          "target": "com.posthog.experiments#ExperimentRunningTimeCalculation",
          "traits": {
            "smithy.api#documentation": "Running-time calculator state: `minimum_detectable_effect`, `recommended_running_time`, `recommended_sample_size`, and `exposure_estimate_config`. Canonical home for these keys, which historically lived in `parameters`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "excluded_variants": {
          "target": "com.posthog.experiments#ExperimentsCreateRequestExcludedVariantsList",
          "traits": {
            "smithy.api#documentation": "Variant keys to exclude from metric result calculations. Excluded variants are still served to users but omitted from statistical analysis. The baseline variant and holdout pseudo-variants cannot be excluded. Canonical home for what historically lived in `parameters.excluded_variants`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "secondary_metrics": {
          "target": "smithy.api#Document"
        },
        "saved_metrics_ids": {
          "target": "com.posthog.experiments#ExperimentsCreateRequestSavedMetricsIdsList",
          "traits": {
            "smithy.api#documentation": "IDs of shared saved metrics to attach to this experiment. Each item has 'id' (saved metric ID) and 'metadata' with 'type' (primary or secondary).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "filters": {
          "target": "smithy.api#Document"
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the experiment is archived."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.posthog.experiments#ExperimentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Experiment type: web for frontend UI changes, product for backend/API changes.\n\n* `web` - web\n* `product` - product",
            "com.distilled.openapi#nullable": {}
          }
        },
        "exposure_criteria": {
          "target": "com.posthog.experiments#ExperimentApiExposureCriteria",
          "traits": {
            "smithy.api#documentation": "Exposure configuration including filter test accounts and custom exposure events.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metrics": {
          "target": "com.posthog.experiments#ExperimentApiMetricsList",
          "traits": {
            "smithy.api#documentation": "Primary experiment metrics. Each metric must have kind='ExperimentMetric' and a metric_type: 'mean' (set source to an EventsNode with an event name), 'funnel' (set series to an array of EventsNode steps), 'ratio' (set numerator and denominator EventsNode entries), or 'retention' (set start_event and completion_event). Use the read-data-schema tool with query kind 'events' to find available events in the project.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metrics_secondary": {
          "target": "com.posthog.experiments#ExperimentApiMetricsList",
          "traits": {
            "smithy.api#documentation": "Secondary metrics for additional measurements. Same format as primary metrics.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "stats_config": {
          "target": "smithy.api#Document"
        },
        "scheduling_config": {
          "target": "smithy.api#Document"
        },
        "allow_unknown_events": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Suppresses the validation that rejects metrics referencing events not yet ingested by this project. REQUIRES explicit user confirmation before being set to true — never flip this silently to retry a failed call. The default validation catches typo'd event names and missing instrumentation. Set this to true only when the user has confirmed the event is intentional (e.g. they are about to instrument it)."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        },
        "conclusion": {
          "target": "com.posthog.experiments#ConclusionEnum",
          "traits": {
            "smithy.api#documentation": "Experiment conclusion: won, lost, inconclusive, stopped_early, or invalid.\n\n* `won` - won\n* `lost` - lost\n* `inconclusive` - inconclusive\n* `stopped_early` - stopped_early\n* `invalid` - invalid",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conclusion_comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comment about the experiment conclusion.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "primary_metrics_ordered_uuids": {
          "target": "smithy.api#Document"
        },
        "secondary_metrics_ordered_uuids": {
          "target": "smithy.api#Document"
        },
        "only_count_matured_users": {
          "target": "smithy.api#Boolean"
        },
        "update_feature_flag_params": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, sync feature flag configuration from parameters to the linked feature flag. Draft experiments always sync regardless of update_feature_flag_params, so only required for non-drafts."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.experiments#ExperimentOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the experiment."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the experiment hypothesis and expected outcomes.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "feature_flag_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique key for the experiment's feature flag. Letters, numbers, hyphens, and underscores only. Search existing flags with the feature-flag-get-all tool first — reuse an existing flag when possible."
          }
        },
        "feature_flag": {
          "target": "com.posthog.experiments#MinimalFeatureFlag"
        },
        "holdout": {
          "target": "com.posthog.experiments#ExperimentHoldout"
        },
        "holdout_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of a holdout group to exclude from the experiment.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "exposure_cohort": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.posthog.experiments#ExperimentParameters",
          "traits": {
            "smithy.api#documentation": "Experiment parameters JSON. Supported keys include `feature_flag_variants`, `rollout_percentage`, `custom_exposure_filter`, and `variant_notes` (free-text notes per variant, keyed by variant key). Excluded variants live on the top-level `excluded_variants` field, not here.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "running_time_calculation": {
          "target": "com.posthog.experiments#ExperimentRunningTimeCalculation",
          "traits": {
            "smithy.api#documentation": "Running-time calculator state: `minimum_detectable_effect`, `recommended_running_time`, `recommended_sample_size`, and `exposure_estimate_config`. Canonical home for these keys, which historically lived in `parameters`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "excluded_variants": {
          "target": "com.posthog.experiments#ExperimentOutputExcludedVariantsList",
          "traits": {
            "smithy.api#documentation": "Variant keys to exclude from metric result calculations. Excluded variants are still served to users but omitted from statistical analysis. The baseline variant and holdout pseudo-variants cannot be excluded. Canonical home for what historically lived in `parameters.excluded_variants`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "secondary_metrics": {
          "target": "smithy.api#Document"
        },
        "saved_metrics": {
          "target": "com.posthog.experiments#ExperimentOutputSavedMetricsList"
        },
        "saved_metrics_ids": {
          "target": "com.posthog.experiments#ExperimentOutputSavedMetricsIdsList",
          "traits": {
            "smithy.api#documentation": "IDs of shared saved metrics to attach to this experiment. Each item has 'id' (saved metric ID) and 'metadata' with 'type' (primary or secondary).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "filters": {
          "target": "smithy.api#Document"
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the experiment is archived."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.experiments#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.posthog.experiments#ExperimentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Experiment type: web for frontend UI changes, product for backend/API changes.\n\n* `web` - web\n* `product` - product",
            "com.distilled.openapi#nullable": {}
          }
        },
        "exposure_criteria": {
          "target": "com.posthog.experiments#ExperimentApiExposureCriteria",
          "traits": {
            "smithy.api#documentation": "Exposure configuration including filter test accounts and custom exposure events.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metrics": {
          "target": "com.posthog.experiments#ExperimentApiMetricsList",
          "traits": {
[...]
