{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.exports#ExportsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.exports#PaginatedExportedAssetList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.exports#PaginatedExportedAssetListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.exports#ExportedAsset": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "dashboard": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "insight": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "export_format": {
          "target": "com.posthog.exports#ExportFormatEnum"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "has_content": {
          "target": "smithy.api#Boolean"
        },
        "export_context": {
          "target": "smithy.api#Document"
        },
        "filename": {
          "target": "smithy.api#String"
        },
        "expires_after": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "exception": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Standard ExportedAsset serializer that doesn't return content."
      }
    },
    "com.posthog.exports#ExportFormatEnum": {
      "type": "enum",
      "members": {
        "IMAGE_PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image/png"
          }
        },
        "APPLICATION_PDF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/pdf"
          }
        },
        "TEXT_CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text/csv"
          }
        },
        "APPLICATION_VND_OPENXMLFORMATS_OFFICEDOCUMENT_SPREADSHEETML_SHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          }
        },
        "VIDEO_WEBM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video/webm"
          }
        },
        "VIDEO_MP4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video/mp4"
          }
        },
        "IMAGE_GIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image/gif"
          }
        },
        "APPLICATION_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/json"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `image/png` - image/png\n* `application/pdf` - application/pdf\n* `text/csv` - text/csv\n* `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet` - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet\n* `video/webm` - video/webm\n* `video/mp4` - video/mp4\n* `image/gif` - image/gif\n* `application/json` - application/json"
      }
    },
    "com.posthog.exports#PaginatedExportedAssetListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.exports#ExportedAsset"
      },
      "traits": {}
    },
    "com.posthog.exports#ExportsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.exports#ExportsListRequest"
      },
      "output": {
        "target": "com.posthog.exports#PaginatedExportedAssetList"
      },
      "errors": [
        {
          "target": "com.posthog.exports#BadRequest"
        },
        {
          "target": "com.posthog.exports#Forbidden"
        },
        {
          "target": "com.posthog.exports#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/exports/",
          "code": 200
        }
      }
    },
    "com.posthog.exports#ExportsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dashboard": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "insight": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "export_format": {
          "target": "com.posthog.exports#ExportFormatEnum"
        },
        "export_context": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.exports#ExportsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.exports#ExportsCreateRequest"
      },
      "output": {
        "target": "com.posthog.exports#ExportedAsset"
      },
      "errors": [
        {
          "target": "com.posthog.exports#BadRequest"
        },
        {
          "target": "com.posthog.exports#Forbidden"
        },
        {
          "target": "com.posthog.exports#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/exports/",
          "code": 200
        }
      }
    },
    "com.posthog.exports#ExportsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this exported asset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.exports#ExportsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.exports#ExportsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.exports#ExportedAsset"
      },
      "errors": [
        {
          "target": "com.posthog.exports#Forbidden"
        },
        {
          "target": "com.posthog.exports#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/exports/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.exports#ExportsContentRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this exported asset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.exports#ExportsContentRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.exports#ExportsContentRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.exports#Forbidden"
        },
        {
          "target": "com.posthog.exports#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/exports/{id}/content/",
          "code": 200
        }
      }
    },
    "com.posthog.exports#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.exports#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.posthog.exports#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.posthog.exports#Exports": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.exports#ExportsList"
        },
        {
          "target": "com.posthog.exports#ExportsCreate"
        },
        {
          "target": "com.posthog.exports#ExportsRetrieve"
        },
        {
          "target": "com.posthog.exports#ExportsContentRetrieve"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
