{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.feature_flags#FeatureFlagsListRequestActive": {
      "type": "enum",
      "members": {
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STALE"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        },
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsListRequestArchived": {
      "type": "enum",
      "members": {
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        },
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsListRequestEvaluationRuntime": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsListRequestHasEvaluationContexts": {
      "type": "enum",
      "members": {
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        },
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsListRequestType": {
      "type": "enum",
      "members": {
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "EXPERIMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experiment"
          }
        },
        "MULTIVARIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multivariant"
          }
        },
        "REMOTE_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remote_config"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "active": {
          "target": "com.posthog.feature_flags#FeatureFlagsListRequestActive",
          "traits": {
            "smithy.api#httpQuery": "active"
          }
        },
        "archived": {
          "target": "com.posthog.feature_flags#FeatureFlagsListRequestArchived",
          "traits": {
            "smithy.api#httpQuery": "archived",
            "smithy.api#documentation": "Filter by archived state. When omitted, archived flags are excluded."
          }
        },
        "created_by_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_by_id",
            "smithy.api#documentation": "Filter by the user(s) who created the feature flag. Accepts a single user ID, or a JSON-encoded / comma-separated list of user IDs to match any of them."
          }
        },
        "evaluation_runtime": {
          "target": "com.posthog.feature_flags#FeatureFlagsListRequestEvaluationRuntime",
          "traits": {
            "smithy.api#httpQuery": "evaluation_runtime",
            "smithy.api#documentation": "Filter feature flags by their evaluation runtime."
          }
        },
        "excluded_properties": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "excluded_properties",
            "smithy.api#documentation": "JSON-encoded list of feature flag keys to exclude from the results."
          }
        },
        "excluded_tags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "excluded_tags",
            "smithy.api#documentation": "JSON-encoded list of tag names to exclude. Flags carrying any of these tags are filtered out."
          }
        },
        "has_evaluation_contexts": {
          "target": "com.posthog.feature_flags#FeatureFlagsListRequestHasEvaluationContexts",
          "traits": {
            "smithy.api#httpQuery": "has_evaluation_contexts",
            "smithy.api#documentation": "Filter feature flags by presence of evaluation contexts. 'true' returns only flags with at least one evaluation context, 'false' returns only flags without."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search by feature flag key or name. Case insensitive."
          }
        },
        "tags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tags",
            "smithy.api#documentation": "JSON-encoded list of tag names to filter feature flags by."
          }
        },
        "type": {
          "target": "com.posthog.feature_flags#FeatureFlagsListRequestType",
          "traits": {
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.feature_flags#PaginatedFeatureFlagListOutput": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.feature_flags#PaginatedFeatureFlagListOutputResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "contains the description for the flag (field name `name` is kept for backwards-compatibility)"
          }
        },
        "key": {
          "target": "smithy.api#String"
        },
        "filters": {
          "target": "com.posthog.feature_flags#FeatureFlagOutputFiltersMap"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "active": {
          "target": "smithy.api#Boolean"
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the flag is archived. Archived flags are hidden from the flag list by default and must be disabled (`active: false`)."
          }
        },
        "created_by": {
          "target": "com.posthog.feature_flags#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "last_modified_by": {
          "target": "com.posthog.feature_flags#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ensure_experience_continuity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "experiment_set": {
          "target": "com.posthog.feature_flags#FeatureFlagOutputExperimentSetList"
        },
        "experiment_set_metadata": {
          "target": "com.posthog.feature_flags#FeatureFlagOutputExperimentSetMetadataList"
        },
        "surveys": {
          "target": "com.posthog.feature_flags#FeatureFlagOutputSurveysMap"
        },
        "features": {
          "target": "com.posthog.feature_flags#FeatureFlagOutputFeaturesMap"
        },
        "rollback_conditions": {
          "target": "smithy.api#Document"
        },
        "performed_rollback": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "can_edit": {
          "target": "smithy.api#Boolean"
        },
        "tags": {
          "target": "com.posthog.feature_flags#FeatureFlagOutputTagsList"
        },
        "usage_dashboard": {
          "target": "smithy.api#Integer"
        },
        "analytics_dashboards": {
          "target": "com.posthog.feature_flags#FeatureFlagOutputAnalyticsDashboardsList"
        },
        "has_enriched_analytics": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_remote_configuration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_encrypted_payloads": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String"
        },
        "evaluation_runtime": {
          "target": "com.posthog.feature_flags#FeatureFlagOutputEvaluationRuntime",
          "traits": {
            "smithy.api#documentation": "Specifies where this feature flag should be evaluated\n\n* `server` - Server\n* `client` - Client\n* `all` - All",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bucketing_identifier": {
          "target": "com.posthog.feature_flags#FeatureFlagOutputBucketingIdentifier",
          "traits": {
            "smithy.api#documentation": "Identifier used for bucketing users into rollout and variants\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_called_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this feature flag was called (from $feature_flag_called events)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_used_in_replay_settings": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Check if this feature flag is used in any team's session recording linked flag setting."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Serializer mixin that handles tags for objects."
      }
    },
    "com.posthog.feature_flags#FeatureFlagOutputFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.feature_flags#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.feature_flags#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.feature_flags#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.feature_flags#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.feature_flags#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagOutputExperimentSetList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagExperimentSetMetadata": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the experiment linked to this flag.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the experiment linked to this flag.",
            "smithy.api#required": {}
          }
        },
        "is_running": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the experiment is currently running (started and not yet stopped). A running experiment blocks deletion of the linked flag.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagOutputExperimentSetMetadataList": {
      "type": "list",
      "member": {
        "target": "com.posthog.feature_flags#FeatureFlagExperimentSetMetadata"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagOutputSurveysMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagOutputFeaturesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagOutputTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagOutputAnalyticsDashboardsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#EvaluationRuntimeEnum": {
      "type": "enum",
      "members": {
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        },
        "CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `server` - Server\n* `client` - Client\n* `all` - All"
      }
    },
    "com.posthog.feature_flags#FeatureFlagOutputEvaluationRuntime": {
      "type": "union",
      "members": {
        "EvaluationRuntimeEnum": {
          "target": "com.posthog.feature_flags#EvaluationRuntimeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.feature_flags#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies where this feature flag should be evaluated\n\n* `server` - Server\n* `client` - Client\n* `all` - All"
      }
    },
    "com.posthog.feature_flags#BucketingIdentifierEnum": {
      "type": "enum",
      "members": {
        "DISTINCT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "distinct_id"
          }
        },
        "DEVICE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "device_id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `distinct_id` - User ID (default)\n* `device_id` - Device ID"
      }
    },
    "com.posthog.feature_flags#FeatureFlagOutputBucketingIdentifier": {
      "type": "union",
      "members": {
        "BucketingIdentifierEnum": {
          "target": "com.posthog.feature_flags#BucketingIdentifierEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.feature_flags#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifier used for bucketing users into rollout and variants\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID"
      }
    },
    "com.posthog.feature_flags#PaginatedFeatureFlagListOutputResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.feature_flags#FeatureFlagOutput"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.feature_flags#FeatureFlagsListRequest"
      },
      "output": {
        "target": "com.posthog.feature_flags#PaginatedFeatureFlagListOutput"
      },
      "errors": [
        {
          "target": "com.posthog.feature_flags#BadRequest"
        },
        {
          "target": "com.posthog.feature_flags#Forbidden"
        },
        {
          "target": "com.posthog.feature_flags#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/feature_flags/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete feature flags. [See docs](https://posthog.com/docs/feature-flags) for more information on feature flags.\n\nIf you're looking to use feature flags on your application, you can either use our JavaScript Library or our dedicated endpoint to check if feature flags are enabled for a given user."
      }
    },
    "com.posthog.feature_flags#FeatureFlagFiltersSchema": {
      "type": "structure",
      "members": {
        "groups": {
          "target": "com.posthog.feature_flags#FeatureFlagFiltersSchemaGroupsList",
          "traits": {
            "smithy.api#documentation": "Release condition groups for the feature flag."
          }
        },
        "multivariate": {
          "target": "com.posthog.feature_flags#FeatureFlagMultivariateSchema",
          "traits": {
            "smithy.api#documentation": "Multivariate configuration for variant-based rollouts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "aggregation_group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index for group-based feature flags.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "payloads": {
          "target": "com.posthog.feature_flags#FeatureFlagFiltersSchemaPayloadsMap",
          "traits": {
            "smithy.api#documentation": "Optional payload values keyed by variant key."
          }
        },
        "feature_enrollment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this flag has early access feature enrollment enabled. When true, the flag is evaluated against the person property $feature_enrollment/{flag_key}.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "early_exit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, condition evaluation stops at the first matching condition set rather than continuing to evaluate subsequent groups."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagConditionGroupSchema": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.posthog.feature_flags#FeatureFlagConditionGroupSchemaPropertiesList",
          "traits": {
            "smithy.api#documentation": "Property conditions for this release condition group."
          }
        },
        "rollout_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Rollout percentage for this release condition group."
          }
        },
        "variant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Variant key override for multivariate flags.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "aggregation_group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index for this condition set. None means person-level aggregation.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertySchema": {
      "type": "union",
      "members": {
        "FeatureFlagFilterPropertyGenericSchema": {
          "target": "com.posthog.feature_flags#FeatureFlagFilterPropertyGenericSchema"
        },
        "FeatureFlagFilterPropertyExistsSchema": {
          "target": "com.posthog.feature_flags#FeatureFlagFilterPropertyExistsSchema"
        },
        "FeatureFlagFilterPropertyDateSchema": {
          "target": "com.posthog.feature_flags#FeatureFlagFilterPropertyDateSchema"
        },
        "FeatureFlagFilterPropertySemverSchema": {
          "target": "com.posthog.feature_flags#FeatureFlagFilterPropertySemverSchema"
        },
        "FeatureFlagFilterPropertyMultiContainsSchema": {
          "target": "com.posthog.feature_flags#FeatureFlagFilterPropertyMultiContainsSchema"
        },
        "FeatureFlagFilterPropertyCohortInSchema": {
          "target": "com.posthog.feature_flags#FeatureFlagFilterPropertyCohortInSchema"
        },
        "FeatureFlagFilterPropertyFlagEvaluatesSchema": {
          "target": "com.posthog.feature_flags#FeatureFlagFilterPropertyFlagEvaluatesSchema"
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertyGenericSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.feature_flags#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Common values are 'person' and 'cohort'.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Comparison value for the property filter. Supports strings, numbers, booleans, and arrays."
          }
        },
        "operator": {
          "target": "com.posthog.feature_flags#FeatureFlagFilterPropertyGenericSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Operator used to compare the property value.\n\n* `exact` - exact\n* `is_not` - is_not\n* `icontains` - icontains\n* `not_icontains` - not_icontains\n* `regex` - regex\n* `not_regex` - not_regex\n* `gt` - gt\n* `gte` - gte\n* `lt` - lt\n* `lte` - lte"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#PropertyGroupTypeEnum": {
      "type": "enum",
      "members": {
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        },
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `cohort` - cohort\n* `person` - person\n* `group` - group"
      }
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertyGenericSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `exact` - exact\n* `is_not` - is_not\n* `icontains` - icontains\n* `not_icontains` - not_icontains\n* `regex` - regex\n* `not_regex` - not_regex\n* `gt` - gt\n* `gte` - gte\n* `lt` - lt\n* `lte` - lte"
      }
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertyExistsSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.feature_flags#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Common values are 'person' and 'cohort'.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.feature_flags#ExistenceOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Existence operator.\n\n* `is_set` - is_set\n* `is_not_set` - is_not_set"
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional value. Runtime behavior determines whether this is ignored."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#ExistenceOperatorEnum": {
      "type": "enum",
      "members": {
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `is_set` - is_set\n* `is_not_set` - is_not_set"
      }
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertyDateSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.feature_flags#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Common values are 'person' and 'cohort'.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.feature_flags#DateOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Date comparison operator.\n\n* `is_date_exact` - is_date_exact\n* `is_date_after` - is_date_after\n* `is_date_before` - is_date_before"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date value in ISO format or relative date expression."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#DateOperatorEnum": {
      "type": "enum",
      "members": {
        "IS_DATE_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_exact"
          }
        },
        "IS_DATE_BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_before"
          }
        },
        "IS_DATE_AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_after"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `is_date_exact` - is_date_exact\n* `is_date_before` - is_date_before\n* `is_date_after` - is_date_after"
      }
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertySemverSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.feature_flags#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Common values are 'person' and 'cohort'.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.feature_flags#FeatureFlagFilterPropertySemverSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Semantic version comparison operator.\n\n* `semver_gt` - semver_gt\n* `semver_gte` - semver_gte\n* `semver_lt` - semver_lt\n* `semver_lte` - semver_lte\n* `semver_eq` - semver_eq\n* `semver_neq` - semver_neq\n* `semver_tilde` - semver_tilde\n* `semver_caret` - semver_caret\n* `semver_wildcard` - semver_wildcard"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Semantic version string."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertySemverSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "SEMVER_GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gt"
          }
        },
        "SEMVER_GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gte"
          }
        },
        "SEMVER_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lt"
          }
        },
        "SEMVER_LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lte"
          }
        },
        "SEMVER_EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_eq"
          }
        },
        "SEMVER_NEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_neq"
          }
        },
        "SEMVER_TILDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_tilde"
          }
        },
        "SEMVER_CARET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_caret"
          }
        },
        "SEMVER_WILDCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_wildcard"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `semver_gt` - semver_gt\n* `semver_gte` - semver_gte\n* `semver_lt` - semver_lt\n* `semver_lte` - semver_lte\n* `semver_eq` - semver_eq\n* `semver_neq` - semver_neq\n* `semver_tilde` - semver_tilde\n* `semver_caret` - semver_caret\n* `semver_wildcard` - semver_wildcard"
      }
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertyMultiContainsSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.feature_flags#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Common values are 'person' and 'cohort'.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.feature_flags#FeatureFlagFilterPropertyMultiContainsSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Multi-contains operator.\n\n* `icontains_multi` - icontains_multi\n* `not_icontains_multi` - not_icontains_multi"
          }
        },
        "value": {
          "target": "com.posthog.feature_flags#FeatureFlagFilterPropertyMultiContainsSchemaValueList",
          "traits": {
            "smithy.api#documentation": "List of strings to evaluate against."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertyMultiContainsSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains_multi"
          }
        },
        "NOT_ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains_multi"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `icontains_multi` - icontains_multi\n* `not_icontains_multi` - not_icontains_multi"
      }
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertyMultiContainsSchemaValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of strings to evaluate against."
      }
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertyCohortInSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.feature_flags#FeatureFlagFilterPropertyCohortInSchemaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Cohort property type required for in/not_in operators.\n\n* `cohort` - cohort"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.feature_flags#FeatureFlagFilterPropertyCohortInSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Membership operator for cohort properties.\n\n* `in` - in\n* `not_in` - not_in"
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Cohort comparison value (single or list, depending on usage)."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertyCohortInSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `cohort` - cohort"
      }
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertyCohortInSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `in` - in\n* `not_in` - not_in"
      }
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertyFlagEvaluatesSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.feature_flags#FeatureFlagFilterPropertyFlagEvaluatesSchemaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Flag property type required for flag dependency checks.\n\n* `flag` - flag"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.feature_flags#FeatureFlagFilterPropertyFlagEvaluatesSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Operator for feature flag dependency evaluation.\n\n* `flag_evaluates_to` - flag_evaluates_to"
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare flag evaluation against."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertyFlagEvaluatesSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `flag` - flag"
      }
    },
    "com.posthog.feature_flags#FeatureFlagFilterPropertyFlagEvaluatesSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "FLAG_EVALUATES_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag_evaluates_to"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `flag_evaluates_to` - flag_evaluates_to"
      }
    },
    "com.posthog.feature_flags#FeatureFlagConditionGroupSchemaPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.feature_flags#FeatureFlagFilterPropertySchema"
      },
      "traits": {
        "smithy.api#documentation": "Property conditions for this release condition group."
      }
    },
    "com.posthog.feature_flags#FeatureFlagFiltersSchemaGroupsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.feature_flags#FeatureFlagConditionGroupSchema"
      },
      "traits": {
        "smithy.api#documentation": "Release condition groups for the feature flag."
      }
    },
    "com.posthog.feature_flags#FeatureFlagMultivariateSchema": {
      "type": "structure",
      "members": {
        "variants": {
          "target": "com.posthog.feature_flags#FeatureFlagMultivariateSchemaVariantsList",
          "traits": {
            "smithy.api#documentation": "Variant definitions for multivariate feature flags."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagMultivariateVariantSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique key for this variant."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this variant."
          }
        },
        "rollout_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Variant rollout percentage."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagMultivariateSchemaVariantsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.feature_flags#FeatureFlagMultivariateVariantSchema"
      },
      "traits": {
        "smithy.api#documentation": "Variant definitions for multivariate feature flags."
      }
    },
    "com.posthog.feature_flags#FeatureFlagFiltersSchemaPayloadsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional payload values keyed by variant key."
      }
    },
    "com.posthog.feature_flags#FeatureFlagsCreateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Organizational tags for this feature flag."
      }
    },
    "com.posthog.feature_flags#FeatureFlagsCreateRequestEvaluationContextsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Evaluation contexts that control where this flag evaluates at runtime."
      }
    },
    "com.posthog.feature_flags#FeatureFlagsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature flag key."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature flag description (stored in the `name` field for backwards compatibility)."
          }
        },
        "filters": {
          "target": "com.posthog.feature_flags#FeatureFlagFiltersSchema",
          "traits": {
            "smithy.api#documentation": "Feature flag targeting configuration."
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the feature flag is active."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the flag is archived. Archived flags are hidden from the flag list by default and must be disabled (`active: false`)."
          }
        },
        "tags": {
          "target": "com.posthog.feature_flags#FeatureFlagsCreateRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Organizational tags for this feature flag."
          }
        },
        "evaluation_contexts": {
          "target": "com.posthog.feature_flags#FeatureFlagsCreateRequestEvaluationContextsList",
          "traits": {
            "smithy.api#documentation": "Evaluation contexts that control where this flag evaluates at runtime."
          }
        },
        "is_remote_configuration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this flag is a remote configuration flag that delivers a payload rather than gating a feature.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ensure_experience_continuity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to persist a user's flag value across the anonymous-to-identified transition (the 'persist across authentication steps' option). Incompatible with device_id bucketing.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluation_runtime": {
          "target": "com.posthog.feature_flags#EvaluationRuntimeEnum",
          "traits": {
            "smithy.api#documentation": "Where this flag is allowed to evaluate: 'server' (server-side SDKs only), 'client' (client-side SDKs only), or 'all' (both). Defaults to 'all'.\n\n* `server` - Server\n* `client` - Client\n* `all` - All",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bucketing_identifier": {
          "target": "com.posthog.feature_flags#BucketingIdentifierEnum",
          "traits": {
            "smithy.api#documentation": "Identifier used to bucket users into rollout percentages and variants: 'distinct_id' (user ID, the default) or 'device_id'. Using 'device_id' is incompatible with ensure_experience_continuity=True.\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.feature_flags#FeatureFlagsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.feature_flags#FeatureFlagsCreateRequest"
      },
      "output": {
        "target": "com.posthog.feature_flags#FeatureFlagOutput"
      },
      "errors": [
        {
          "target": "com.posthog.feature_flags#BadRequest"
        },
        {
          "target": "com.posthog.feature_flags#Forbidden"
        },
        {
          "target": "com.posthog.feature_flags#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/feature_flags/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete feature flags. [See docs](https://posthog.com/docs/feature-flags) for more information on feature flags.\n\nIf you're looking to use feature flags on your application, you can either use our JavaScript Library or our dedicated endpoint to check if feature flags are enabled for a given user."
      }
    },
    "com.posthog.feature_flags#FeatureFlagsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this feature flag."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.feature_flags#FeatureFlagsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.feature_flags#FeatureFlagsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.feature_flags#FeatureFlagOutput"
      },
      "errors": [
        {
          "target": "com.posthog.feature_flags#Forbidden"
        },
        {
          "target": "com.posthog.feature_flags#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/feature_flags/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete feature flags. [See docs](https://posthog.com/docs/feature-flags) for more information on feature flags.\n\nIf you're looking to use feature flags on your application, you can either use our JavaScript Library or our dedicated endpoint to check if feature flags are enabled for a given user."
      }
    },
    "com.posthog.feature_flags#FeatureFlagsUpdateRequestFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsUpdateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsUpdateRequestEvaluationContextsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsUpdateRequestAnalyticsDashboardsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagCreationContextEnum": {
      "type": "enum",
      "members": {
        "FEATURE_FLAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feature_flags"
          }
        },
        "EXPERIMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experiments"
          }
        },
        "SURVEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "surveys"
          }
        },
        "EARLY_ACCESS_FEATURES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "early_access_features"
          }
        },
        "WEB_EXPERIMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web_experiments"
          }
        },
        "PRODUCT_TOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product_tours"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `feature_flags` - feature_flags\n* `experiments` - experiments\n* `surveys` - surveys\n* `early_access_features` - early_access_features\n* `web_experiments` - web_experiments\n* `product_tours` - product_tours"
      }
    },
    "com.posthog.feature_flags#FeatureFlagsUpdateRequestEvaluationRuntime": {
      "type": "union",
      "members": {
        "EvaluationRuntimeEnum": {
          "target": "com.posthog.feature_flags#EvaluationRuntimeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.feature_flags#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies where this feature flag should be evaluated\n\n* `server` - Server\n* `client` - Client\n* `all` - All"
      }
    },
    "com.posthog.feature_flags#FeatureFlagsUpdateRequestBucketingIdentifier": {
      "type": "union",
      "members": {
        "BucketingIdentifierEnum": {
          "target": "com.posthog.feature_flags#BucketingIdentifierEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.feature_flags#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifier used for bucketing users into rollout and variants\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID"
      }
    },
    "com.posthog.feature_flags#FeatureFlagsUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this feature flag."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "contains the description for the flag (field name `name` is kept for backwards-compatibility)"
          }
        },
        "key": {
          "target": "smithy.api#String"
        },
        "filters": {
          "target": "com.posthog.feature_flags#FeatureFlagsUpdateRequestFiltersMap"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "active": {
          "target": "smithy.api#Boolean"
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the flag is archived. Archived flags are hidden from the flag list by default and must be disabled (`active: false`)."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "ensure_experience_continuity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "rollback_conditions": {
          "target": "smithy.api#Document"
        },
        "performed_rollback": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.feature_flags#FeatureFlagsUpdateRequestTagsList"
        },
        "evaluation_contexts": {
          "target": "com.posthog.feature_flags#FeatureFlagsUpdateRequestEvaluationContextsList"
        },
        "analytics_dashboards": {
          "target": "com.posthog.feature_flags#FeatureFlagsUpdateRequestAnalyticsDashboardsList"
        },
        "has_enriched_analytics": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "creation_context": {
          "target": "com.posthog.feature_flags#FeatureFlagCreationContextEnum",
          "traits": {
            "smithy.api#documentation": "Indicates the origin product of the feature flag. Choices: 'feature_flags', 'experiments', 'surveys', 'early_access_features', 'web_experiments', 'product_tours'.\n\n* `feature_flags` - feature_flags\n* `experiments` - experiments\n* `surveys` - surveys\n* `early_access_features` - early_access_features\n* `web_experiments` - web_experiments\n* `product_tours` - product_tours"
          }
        },
        "is_remote_configuration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_encrypted_payloads": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluation_runtime": {
          "target": "com.posthog.feature_flags#FeatureFlagsUpdateRequestEvaluationRuntime",
          "traits": {
            "smithy.api#documentation": "Specifies where this feature flag should be evaluated\n\n* `server` - Server\n* `client` - Client\n* `all` - All",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bucketing_identifier": {
          "target": "com.posthog.feature_flags#FeatureFlagsUpdateRequestBucketingIdentifier",
          "traits": {
            "smithy.api#documentation": "Identifier used for bucketing users into rollout and variants\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_called_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this feature flag was called (from $feature_flag_called events)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        },
        "_should_create_usage_dashboard": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.feature_flags#FeatureFlagsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.feature_flags#FeatureFlagsUpdateRequest"
      },
      "output": {
        "target": "com.posthog.feature_flags#FeatureFlagOutput"
      },
      "errors": [
        {
          "target": "com.posthog.feature_flags#BadRequest"
        },
        {
          "target": "com.posthog.feature_flags#Forbidden"
        },
        {
          "target": "com.posthog.feature_flags#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/feature_flags/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete feature flags. [See docs](https://posthog.com/docs/feature-flags) for more information on feature flags.\n\nIf you're looking to use feature flags on your application, you can either use our JavaScript Library or our dedicated endpoint to check if feature flags are enabled for a given user."
      }
    },
    "com.posthog.feature_flags#FeatureFlagsPartialUpdateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Organizational tags for this feature flag."
      }
    },
    "com.posthog.feature_flags#FeatureFlagsPartialUpdateRequestEvaluationContextsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Evaluation contexts that control where this flag evaluates at runtime."
      }
    },
    "com.posthog.feature_flags#FeatureFlagsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this feature flag."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature flag key."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature flag description (stored in the `name` field for backwards compatibility)."
          }
        },
        "filters": {
          "target": "com.posthog.feature_flags#FeatureFlagFiltersSchema",
          "traits": {
            "smithy.api#documentation": "Feature flag targeting configuration."
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the feature flag is active."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the flag is archived. Archived flags are hidden from the flag list by default and must be disabled (`active: false`)."
          }
        },
        "tags": {
          "target": "com.posthog.feature_flags#FeatureFlagsPartialUpdateRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Organizational tags for this feature flag."
          }
        },
        "evaluation_contexts": {
          "target": "com.posthog.feature_flags#FeatureFlagsPartialUpdateRequestEvaluationContextsList",
          "traits": {
            "smithy.api#documentation": "Evaluation contexts that control where this flag evaluates at runtime."
          }
        },
        "is_remote_configuration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this flag is a remote configuration flag that delivers a payload rather than gating a feature.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ensure_experience_continuity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to persist a user's flag value across the anonymous-to-identified transition (the 'persist across authentication steps' option). Incompatible with device_id bucketing.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluation_runtime": {
          "target": "com.posthog.feature_flags#EvaluationRuntimeEnum",
          "traits": {
            "smithy.api#documentation": "Where this flag is allowed to evaluate: 'server' (server-side SDKs only), 'client' (client-side SDKs only), or 'all' (both). Defaults to 'all'.\n\n* `server` - Server\n* `client` - Client\n* `all` - All",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bucketing_identifier": {
          "target": "com.posthog.feature_flags#BucketingIdentifierEnum",
          "traits": {
            "smithy.api#documentation": "Identifier used to bucket users into rollout percentages and variants: 'distinct_id' (user ID, the default) or 'device_id'. Using 'device_id' is incompatible with ensure_experience_continuity=True.\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.feature_flags#FeatureFlagsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.feature_flags#FeatureFlagsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.feature_flags#FeatureFlagOutput"
      },
      "errors": [
        {
          "target": "com.posthog.feature_flags#BadRequest"
        },
        {
          "target": "com.posthog.feature_flags#Forbidden"
        },
        {
          "target": "com.posthog.feature_flags#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/feature_flags/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete feature flags. [See docs](https://posthog.com/docs/feature-flags) for more information on feature flags.\n\nIf you're looking to use feature flags on your application, you can either use our JavaScript Library or our dedicated endpoint to check if feature flags are enabled for a given user."
      }
    },
    "com.posthog.feature_flags#FeatureFlagsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this feature flag."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.feature_flags#FeatureFlagsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.feature_flags#FeatureFlagsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.feature_flags#Forbidden"
        },
        {
          "target": "com.posthog.feature_flags#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/feature_flags/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Hard delete of this model is not allowed. Use a patch API call to set \"deleted\" to true"
      }
    },
    "com.posthog.feature_flags#FeatureFlagsActivityRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this feature flag."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of items per page"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.feature_flags#ActivityLogPaginatedResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.feature_flags#ActivityLogPaginatedResponseResultsList"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for paginated activity log endpoints."
      }
    },
    "com.posthog.feature_flags#ActivityLogEntry": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "user": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "activity": {
          "target": "smithy.api#String"
        },
        "scope": {
          "target": "smithy.api#String"
        },
        "item_id": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "com.posthog.feature_flags#Detail"
        },
        "created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#Detail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "changes": {
          "target": "com.posthog.feature_flags#DetailChangesList"
        },
        "merge": {
          "target": "com.posthog.feature_flags#Merge"
        },
        "trigger": {
          "target": "com.posthog.feature_flags#Trigger"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "short_id": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#Change": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "field": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#Document"
        },
        "after": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#DetailChangesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.feature_flags#Change"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#Merge": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "source": {
          "target": "smithy.api#Document"
        },
        "target": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#Trigger": {
      "type": "structure",
      "members": {
        "job_type": {
          "target": "smithy.api#String"
        },
        "job_id": {
          "target": "smithy.api#String"
        },
        "payload": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#ActivityLogPaginatedResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.feature_flags#ActivityLogEntry"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsActivityRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.feature_flags#FeatureFlagsActivityRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.feature_flags#ActivityLogPaginatedResponse"
      },
      "errors": [
        {
          "target": "com.posthog.feature_flags#BadRequest"
        },
        {
          "target": "com.posthog.feature_flags#Forbidden"
        },
        {
          "target": "com.posthog.feature_flags#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/feature_flags/{id}/activity/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete feature flags. [See docs](https://posthog.com/docs/feature-flags) for more information on feature flags.\n\nIf you're looking to use feature flags on your application, you can either use our JavaScript Library or our dedicated endpoint to check if feature flags are enabled for a given user."
      }
    },
    "com.posthog.feature_flags#FeatureFlagsCreateStaticCohortForFlagCreateRequestFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsCreateStaticCohortForFlagCreateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsCreateStaticCohortForFlagCreateRequestEvaluationContextsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsCreateStaticCohortForFlagCreateRequestAnalyticsDashboardsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsCreateStaticCohortForFlagCreateRequestEvaluationRuntime": {
      "type": "union",
      "members": {
        "EvaluationRuntimeEnum": {
          "target": "com.posthog.feature_flags#EvaluationRuntimeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.feature_flags#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies where this feature flag should be evaluated\n\n* `server` - Server\n* `client` - Client\n* `all` - All"
      }
    },
    "com.posthog.feature_flags#FeatureFlagsCreateStaticCohortForFlagCreateRequestBucketingIdentifier": {
      "type": "union",
      "members": {
        "BucketingIdentifierEnum": {
          "target": "com.posthog.feature_flags#BucketingIdentifierEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.feature_flags#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifier used for bucketing users into rollout and variants\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID"
      }
    },
    "com.posthog.feature_flags#FeatureFlagsCreateStaticCohortForFlagCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this feature flag."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "contains the description for the flag (field name `name` is kept for backwards-compatibility)"
          }
        },
        "key": {
          "target": "smithy.api#String"
        },
        "filters": {
          "target": "com.posthog.feature_flags#FeatureFlagsCreateStaticCohortForFlagCreateRequestFiltersMap"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "active": {
          "target": "smithy.api#Boolean"
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the flag is archived. Archived flags are hidden from the flag list by default and must be disabled (`active: false`)."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "ensure_experience_continuity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "rollback_conditions": {
          "target": "smithy.api#Document"
        },
        "performed_rollback": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.feature_flags#FeatureFlagsCreateStaticCohortForFlagCreateRequestTagsList"
        },
        "evaluation_contexts": {
          "target": "com.posthog.feature_flags#FeatureFlagsCreateStaticCohortForFlagCreateRequestEvaluationContextsList"
        },
        "analytics_dashboards": {
          "target": "com.posthog.feature_flags#FeatureFlagsCreateStaticCohortForFlagCreateRequestAnalyticsDashboardsList"
        },
        "has_enriched_analytics": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "creation_context": {
          "target": "com.posthog.feature_flags#FeatureFlagCreationContextEnum",
          "traits": {
            "smithy.api#documentation": "Indicates the origin product of the feature flag. Choices: 'feature_flags', 'experiments', 'surveys', 'early_access_features', 'web_experiments', 'product_tours'.\n\n* `feature_flags` - feature_flags\n* `experiments` - experiments\n* `surveys` - surveys\n* `early_access_features` - early_access_features\n* `web_experiments` - web_experiments\n* `product_tours` - product_tours"
          }
        },
        "is_remote_configuration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_encrypted_payloads": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluation_runtime": {
          "target": "com.posthog.feature_flags#FeatureFlagsCreateStaticCohortForFlagCreateRequestEvaluationRuntime",
          "traits": {
            "smithy.api#documentation": "Specifies where this feature flag should be evaluated\n\n* `server` - Server\n* `client` - Client\n* `all` - All",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bucketing_identifier": {
          "target": "com.posthog.feature_flags#FeatureFlagsCreateStaticCohortForFlagCreateRequestBucketingIdentifier",
          "traits": {
            "smithy.api#documentation": "Identifier used for bucketing users into rollout and variants\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_called_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this feature flag was called (from $feature_flag_called events)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        },
        "_should_create_usage_dashboard": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.feature_flags#FeatureFlagsCreateStaticCohortForFlagCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.feature_flags#FeatureFlagsCreateStaticCohortForFlagCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.feature_flags#BadRequest"
        },
        {
          "target": "com.posthog.feature_flags#Forbidden"
        },
        {
          "target": "com.posthog.feature_flags#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/feature_flags/{id}/create_static_cohort_for_flag/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete feature flags. [See docs](https://posthog.com/docs/feature-flags) for more information on feature flags.\n\nIf you're looking to use feature flags on your application, you can either use our JavaScript Library or our dedicated endpoint to check if feature flags are enabled for a given user."
      }
    },
    "com.posthog.feature_flags#FeatureFlagsDashboardCreateRequestFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsDashboardCreateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsDashboardCreateRequestEvaluationContextsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsDashboardCreateRequestAnalyticsDashboardsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsDashboardCreateRequestEvaluationRuntime": {
      "type": "union",
      "members": {
        "EvaluationRuntimeEnum": {
          "target": "com.posthog.feature_flags#EvaluationRuntimeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.feature_flags#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies where this feature flag should be evaluated\n\n* `server` - Server\n* `client` - Client\n* `all` - All"
      }
    },
    "com.posthog.feature_flags#FeatureFlagsDashboardCreateRequestBucketingIdentifier": {
      "type": "union",
      "members": {
        "BucketingIdentifierEnum": {
          "target": "com.posthog.feature_flags#BucketingIdentifierEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.feature_flags#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifier used for bucketing users into rollout and variants\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID"
      }
    },
    "com.posthog.feature_flags#FeatureFlagsDashboardCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this feature flag."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "contains the description for the flag (field name `name` is kept for backwards-compatibility)"
          }
        },
        "key": {
          "target": "smithy.api#String"
        },
        "filters": {
          "target": "com.posthog.feature_flags#FeatureFlagsDashboardCreateRequestFiltersMap"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "active": {
          "target": "smithy.api#Boolean"
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the flag is archived. Archived flags are hidden from the flag list by default and must be disabled (`active: false`)."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "ensure_experience_continuity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "rollback_conditions": {
          "target": "smithy.api#Document"
        },
        "performed_rollback": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.feature_flags#FeatureFlagsDashboardCreateRequestTagsList"
        },
        "evaluation_contexts": {
          "target": "com.posthog.feature_flags#FeatureFlagsDashboardCreateRequestEvaluationContextsList"
        },
        "analytics_dashboards": {
          "target": "com.posthog.feature_flags#FeatureFlagsDashboardCreateRequestAnalyticsDashboardsList"
        },
        "has_enriched_analytics": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "creation_context": {
          "target": "com.posthog.feature_flags#FeatureFlagCreationContextEnum",
          "traits": {
            "smithy.api#documentation": "Indicates the origin product of the feature flag. Choices: 'feature_flags', 'experiments', 'surveys', 'early_access_features', 'web_experiments', 'product_tours'.\n\n* `feature_flags` - feature_flags\n* `experiments` - experiments\n* `surveys` - surveys\n* `early_access_features` - early_access_features\n* `web_experiments` - web_experiments\n* `product_tours` - product_tours"
          }
        },
        "is_remote_configuration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_encrypted_payloads": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluation_runtime": {
          "target": "com.posthog.feature_flags#FeatureFlagsDashboardCreateRequestEvaluationRuntime",
          "traits": {
            "smithy.api#documentation": "Specifies where this feature flag should be evaluated\n\n* `server` - Server\n* `client` - Client\n* `all` - All",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bucketing_identifier": {
          "target": "com.posthog.feature_flags#FeatureFlagsDashboardCreateRequestBucketingIdentifier",
          "traits": {
            "smithy.api#documentation": "Identifier used for bucketing users into rollout and variants\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_called_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this feature flag was called (from $feature_flag_called events)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        },
        "_should_create_usage_dashboard": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.feature_flags#FeatureFlagsDashboardCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.feature_flags#FeatureFlagsDashboardCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.feature_flags#BadRequest"
        },
        {
          "target": "com.posthog.feature_flags#Forbidden"
        },
        {
          "target": "com.posthog.feature_flags#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/feature_flags/{id}/dashboard/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete feature flags. [See docs](https://posthog.com/docs/feature-flags) for more information on feature flags.\n\nIf you're looking to use feature flags on your application, you can either use our JavaScript Library or our dedicated endpoint to check if feature flags are enabled for a given user."
      }
    },
    "com.posthog.feature_flags#FeatureFlagsDependentFlagsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this feature flag."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.feature_flags#DependentFlag": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Feature flag ID"
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature flag key"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature flag name"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsDependentFlagsListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.feature_flags#DependentFlag"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsDependentFlagsListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.feature_flags#FeatureFlagsDependentFlagsListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.feature_flags#FeatureFlagsDependentFlagsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.feature_flags#FeatureFlagsDependentFlagsListRequest"
      },
      "output": {
        "target": "com.posthog.feature_flags#FeatureFlagsDependentFlagsListResponse"
      },
      "errors": [
        {
          "target": "com.posthog.feature_flags#Forbidden"
        },
        {
          "target": "com.posthog.feature_flags#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/feature_flags/{id}/dependent_flags/",
          "code": 200
        },
        "smithy.api#documentation": "Get other active flags that depend on this flag."
      }
    },
    "com.posthog.feature_flags#FeatureFlagsEnrichUsageDashboardCreateRequestFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsEnrichUsageDashboardCreateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsEnrichUsageDashboardCreateRequestEvaluationContextsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsEnrichUsageDashboardCreateRequestAnalyticsDashboardsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.posthog.feature_flags#FeatureFlagsEnrichUsageDashboardCreateRequestEvaluationRuntime": {
      "type": "union",
      "members": {
        "EvaluationRuntimeEnum": {
          "target": "com.posthog.feature_flags#EvaluationRuntimeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.feature_flags#BlankEnum"
        }
      },
      "traits": {
[...]
