{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.insights#InsightsListRequestFormat": {
      "type": "enum",
      "members": {
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#InsightsListRequestInsight": {
      "type": "enum",
      "members": {
        "FUNNELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNNELS"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "LIFECYCLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFECYCLE"
          }
        },
        "PATHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATHS"
          }
        },
        "RETENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETENTION"
          }
        },
        "SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL"
          }
        },
        "STICKINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STICKINESS"
          }
        },
        "TRENDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRENDS"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#InsightsListRequestRefresh": {
      "type": "enum",
      "members": {
        "ASYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "async"
          }
        },
        "ASYNC_EXCEPT_ON_CACHE_MISS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "async_except_on_cache_miss"
          }
        },
        "BLOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocking"
          }
        },
        "FORCE_ASYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "force_async"
          }
        },
        "FORCE_BLOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "force_blocking"
          }
        },
        "FORCE_CACHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "force_cache"
          }
        },
        "LAZY_ASYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lazy_async"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#InsightsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "basic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "basic",
            "smithy.api#documentation": "Return basic insight metadata only (no results, faster)."
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_by",
            "smithy.api#documentation": "JSON-encoded array of user IDs. Only returns insights whose `created_by` is in the list, e.g. `[1,42]`."
          }
        },
        "created_date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_date_from",
            "smithy.api#documentation": "Filter by `created_at > created_date_from`. Accepts absolute or relative dates."
          }
        },
        "created_date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_date_to",
            "smithy.api#documentation": "Filter by `created_at < created_date_to`. Accepts absolute or relative dates."
          }
        },
        "dashboards": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dashboards",
            "smithy.api#documentation": "JSON-encoded array of dashboard IDs. Returns insights attached to every listed dashboard (AND)."
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Filter by `last_modified_at > date_from`. Accepts absolute dates (`2025-04-23`) or relative strings (`-7d`, `-1m`)."
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "Filter by `last_modified_at < date_to`. Accepts absolute dates or relative strings."
          }
        },
        "favorited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "favorited",
            "smithy.api#documentation": "Include this parameter (any value) to restrict results to insights marked as favorited."
          }
        },
        "format": {
          "target": "com.posthog.insights#InsightsListRequestFormat",
          "traits": {
            "smithy.api#httpQuery": "format"
          }
        },
        "insight": {
          "target": "com.posthog.insights#InsightsListRequestInsight",
          "traits": {
            "smithy.api#httpQuery": "insight",
            "smithy.api#documentation": "Restrict to a single insight type. `JSON` matches non-wrapper query insights; `SQL` matches HogQL queries."
          }
        },
        "last_viewed_date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "last_viewed_date_from",
            "smithy.api#documentation": "Filter by `last_viewed_at > last_viewed_date_from`. Accepts absolute or relative dates."
          }
        },
        "last_viewed_date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "last_viewed_date_to",
            "smithy.api#documentation": "Filter by `last_viewed_at < last_viewed_date_to`. Accepts absolute or relative dates."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "refresh": {
          "target": "com.posthog.insights#InsightsListRequestRefresh",
          "traits": {
            "smithy.api#httpQuery": "refresh",
            "smithy.api#documentation": "\nWhether to refresh the retrieved insights, how aggressively, and if sync or async:\n- `'force_cache'` - return cached data or a cache miss; always completes immediately as it never calculates\n- `'blocking'` - calculate synchronously (returning only when the query is done), UNLESS there are very fresh results in the cache\n- `'async'` - kick off background calculation (returning immediately with a query status), UNLESS there are very fresh results in the cache\n- `'lazy_async'` - kick off background calculation, UNLESS there are somewhat fresh results in the cache\n- `'force_blocking'` - calculate synchronously, even if fresh results are already cached\n- `'force_async'` - kick off background calculation, even if fresh results are already cached\nBackground calculation can be tracked using the `query_status` response field."
          }
        },
        "saved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "saved",
            "smithy.api#documentation": "When truthy, restricts results to insights that are saved (or attached to a visible dashboard). When falsy, only unsaved insights."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search term matched across name, derived_name, description, and tag names. Returns case-insensitive substring matches and fuzzy trigram matches together in one list, ordered exact-first; each result's `search_match_type` is `exact` or `similar`."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "short_id"
          }
        },
        "tags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tags",
            "smithy.api#documentation": "JSON-encoded array of tag names. Returns insights with any of the listed tags."
          }
        },
        "user": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "user",
            "smithy.api#documentation": "Include this parameter (any value) to restrict results to insights created by the authenticated user."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.insights#PaginatedInsightListOutput": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.insights#PaginatedInsightListOutputResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#InsightOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "short_id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "derived_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "query": {
          "target": "com.posthog.insights#InsightQuerySchema",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "order": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "dashboards": {
          "target": "com.posthog.insights#InsightOutputDashboardsList",
          "traits": {
            "smithy.api#documentation": "\n        DEPRECATED. Will be removed in a future release. Use dashboard_tiles instead.\n        A dashboard ID for each of the dashboards that this insight is displayed on.\n        "
          }
        },
        "dashboard_tiles": {
          "target": "com.posthog.insights#InsightOutputDashboardTilesList",
          "traits": {
            "smithy.api#documentation": "\n    A dashboard tile ID and dashboard_id for each of the dashboards that this insight is displayed on.\n    "
          }
        },
        "last_refresh": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\n    The datetime this insight's results were generated.\n    If added to one or more dashboards the insight can be refreshed separately on each.\n    Returns the appropriate last_refresh datetime for the context the insight is viewed in\n    (see from_dashboard query parameter).\n    ",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cache_target_age": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target age of the cached results for this insight.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_allowed_client_refresh": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\n    The earliest possible datetime at which we'll allow the cached results for this insight to be refreshed\n    by querying the database.\n    ",
            "com.distilled.openapi#nullable": {}
          }
        },
        "result": {
          "target": "smithy.api#Document"
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "columns": {
          "target": "com.posthog.insights#InsightOutputColumnsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.insights#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "tags": {
          "target": "com.posthog.insights#InsightOutputTagsList"
        },
        "favorited": {
          "target": "smithy.api#Boolean"
        },
        "last_modified_at": {
          "target": "smithy.api#String"
        },
        "last_modified_by": {
          "target": "com.posthog.insights#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_sample": {
          "target": "smithy.api#Boolean"
        },
        "effective_restriction_level": {
          "target": "com.posthog.insights#EffectivePrivilegeLevelEnum"
        },
        "effective_privilege_level": {
          "target": "com.posthog.insights#EffectivePrivilegeLevelEnum"
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timezone this chart is displayed in.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_cached": {
          "target": "smithy.api#Boolean"
        },
        "query_status": {
          "target": "smithy.api#Document"
        },
        "hogql": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "types": {
          "target": "com.posthog.insights#InsightOutputTypesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "resolved_date_range": {
          "target": "com.posthog.insights#InsightOutputResolvedDateRange",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "alerts": {
          "target": "com.posthog.insights#InsightOutputAlertsList"
        },
        "last_viewed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "search_match_type": {
          "target": "com.posthog.insights#SearchMatchTypeEnum",
          "traits": {
            "smithy.api#documentation": "How this row matched the `search` query parameter: `exact` (the term is a case-insensitive substring of a searched field) or `similar` (a fuzzy trigram match only). Results are ordered exact-first. Null when the list is not filtered by `search`.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Simplified serializer to speed response times when loading large amounts of objects."
      }
    },
    "com.posthog.insights#InsightQuerySchema": {
      "type": "union",
      "members": {
        "InsightVizNode": {
          "target": "com.posthog.insights#InsightVizNode"
        },
        "DataTableNode": {
          "target": "com.posthog.insights#DataTableNode"
        },
        "DataVisualizationNode": {
          "target": "com.posthog.insights#DataVisualizationNode"
        },
        "HogQuery": {
          "target": "com.posthog.insights#HogQuery"
        }
      },
      "traits": {
        "smithy.api#documentation": "The query definition for this insight. The `kind` field determines the query type:\n- `InsightVizNode` — product analytics (trends, funnels, retention, paths, stickiness, lifecycle)\n- `DataVisualizationNode` — SQL insights using HogQL\n- `DataTableNode` — raw data tables\n- `HogQuery` — Hog language queries"
      }
    },
    "com.posthog.insights#InsightVizNode": {
      "type": "structure",
      "members": {
        "embedded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Query is embedded inside another bordered component",
            "com.distilled.openapi#nullable": {}
          }
        },
        "full": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Show with most visual options enabled. Used in insight scene.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hidePersonsModal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hideTooltipOnScroll": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "showCorrelationTable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "showFilters": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "showHeader": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "showLastComputation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "showLastComputationRefresh": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "showResults": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "showTable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "source": {
          "target": "com.posthog.insights#InsightVizNodeSource"
        },
        "suppressSessionAnalysisWarning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "version of the node, used for schema migrations",
            "com.distilled.openapi#nullable": {}
          }
        },
        "vizSpecificOptions": {
          "target": "com.posthog.insights#VizSpecificOptions",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#TrendsQuery": {
      "type": "structure",
      "members": {
        "aggregation_group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Groups aggregation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdownFilter": {
          "target": "com.posthog.insights#BreakdownFilter",
          "traits": {
            "smithy.api#documentation": "Breakdown of the events and actions",
            "com.distilled.openapi#nullable": {}
          }
        },
        "calendarHeatmapFilter": {
          "target": "com.posthog.insights#CalendarHeatmapFilter",
          "traits": {
            "smithy.api#documentation": "Properties specific to the calendar heatmap display variant. Only consulted when `trendsFilter.display === ChartDisplayType.CalendarHeatmap`; ignored otherwise.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "compareFilter": {
          "target": "com.posthog.insights#CompareFilter",
          "traits": {
            "smithy.api#documentation": "Compare to date range",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conversionGoal": {
          "target": "com.posthog.insights#TrendsQueryConversionGoal",
          "traits": {
            "smithy.api#documentation": "Whether we should be comparing against a specific conversion goal",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dataColorTheme": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Colors used in the insight's visualization",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dateRange": {
          "target": "com.posthog.insights#DateRange",
          "traits": {
            "smithy.api#documentation": "Date range for the query",
            "com.distilled.openapi#nullable": {}
          }
        },
        "filterTestAccounts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Exclude internal and test users by applying the respective filters",
            "com.distilled.openapi#nullable": {}
          }
        },
        "interval": {
          "target": "com.posthog.insights#IntervalType",
          "traits": {
            "smithy.api#documentation": "Granularity of the response. Can be one of `hour`, `day`, `week` or `month`",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "modifiers": {
          "target": "com.posthog.insights#HogQLQueryModifiers",
          "traits": {
            "smithy.api#documentation": "Modifiers used when performing the query",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.posthog.insights#TrendsQueryProperties",
          "traits": {
            "smithy.api#documentation": "Property filters for all series",
            "com.distilled.openapi#nullable": {}
          }
        },
        "response": {
          "target": "com.posthog.insights#TrendsQueryResponse",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "samplingFactor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sampling rate",
            "com.distilled.openapi#nullable": {}
          }
        },
        "series": {
          "target": "com.posthog.insights#TrendsQuerySeriesList",
          "traits": {
            "smithy.api#documentation": "Events and actions to include"
          }
        },
        "tags": {
          "target": "com.posthog.insights#QueryLogTags",
          "traits": {
            "smithy.api#documentation": "Tags that will be added to the Query log comment",
            "com.distilled.openapi#nullable": {}
          }
        },
        "trendsFilter": {
          "target": "com.posthog.insights#TrendsFilter",
          "traits": {
            "smithy.api#documentation": "Properties specific to the trends insight",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "version of the node, used for schema migrations",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#BreakdownFilter": {
      "type": "structure",
      "members": {
        "breakdown": {
          "target": "com.posthog.insights#BreakdownFilterBreakdown",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_hide_other_aggregation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_histogram_bin_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_normalize_url": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_path_cleaning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_type": {
          "target": "com.posthog.insights#BreakdownType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdowns": {
          "target": "com.posthog.insights#BreakdownFilterBreakdownsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#BreakdownFilterBreakdownCase1Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#BreakdownFilterBreakdownCase1List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#BreakdownFilterBreakdownCase1Item"
      },
      "traits": {}
    },
    "com.posthog.insights#BreakdownFilterBreakdown": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.posthog.insights#BreakdownFilterBreakdownCase1List"
        },
        "Case2": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#BreakdownType": {
      "type": "enum",
      "members": {
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        },
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person"
          }
        },
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event"
          }
        },
        "EVENT_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event_metadata"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        },
        "SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session"
          }
        },
        "HOGQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogql"
          }
        },
        "DATA_WAREHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_warehouse"
          }
        },
        "DATA_WAREHOUSE_PERSON_PROPERTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_warehouse_person_property"
          }
        },
        "REVENUE_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revenue_analytics"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#Breakdown": {
      "type": "structure",
      "members": {
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "histogram_bin_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "normalize_url": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "property": {
          "target": "com.posthog.insights#BreakdownProperty"
        },
        "type": {
          "target": "com.posthog.insights#MultipleBreakdownType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#BreakdownProperty": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#MultipleBreakdownType": {
      "type": "enum",
      "members": {
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person"
          }
        },
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event"
          }
        },
        "EVENT_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event_metadata"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        },
        "SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session"
          }
        },
        "HOGQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogql"
          }
        },
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        },
        "REVENUE_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revenue_analytics"
          }
        },
        "DATA_WAREHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_warehouse"
          }
        },
        "DATA_WAREHOUSE_PERSON_PROPERTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_warehouse_person_property"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#BreakdownFilterBreakdownsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#Breakdown"
      },
      "traits": {}
    },
    "com.posthog.insights#CalendarHeatmapFilter": {
      "type": "structure",
      "members": {
        "bucketBySessionStart": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true and the series math is `dau`/`unique_users`, each user contributes to the (day-of-week, hour) bucket of their session's first event only — matching the web overview session-start attribution. When false (default), the user contributes to every bucket they have any event in. No effect on `total` math (event counts are unchanged either way).",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#CompareFilter": {
      "type": "structure",
      "members": {
        "compare": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to compare the current date range to a previous date range.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "compare_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date range to compare to. The value is a relative date. Examples of relative dates are: `-1y` for 1 year ago, `-14m` for 14 months ago, `-100w` for 100 weeks ago, `-14d` for 14 days ago, `-30h` for 30 hours ago.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#ActionConversionGoal": {
      "type": "structure",
      "members": {
        "actionId": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#CustomEventConversionGoal": {
      "type": "structure",
      "members": {
        "customEventName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#TrendsQueryConversionGoal": {
      "type": "union",
      "members": {
        "ActionConversionGoal": {
          "target": "com.posthog.insights#ActionConversionGoal"
        },
        "CustomEventConversionGoal": {
          "target": "com.posthog.insights#CustomEventConversionGoal"
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether we should be comparing against a specific conversion goal"
      }
    },
    "com.posthog.insights#DateRange": {
      "type": "structure",
      "members": {
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the date range. Accepts ISO 8601 timestamps (e.g., 2024-01-15T00:00:00Z) or relative formats: -7d (7 days ago), -2w (2 weeks ago), -1m (1 month ago),\n-1h (1 hour ago), -1mStart (start of last month), -1yStart (start of last year).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of the date range. Same format as date_from. Omit or null for \"now\".",
            "com.distilled.openapi#nullable": {}
          }
        },
        "explicitDate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the date_from and date_to should be used verbatim. Disables rounding to the start and end of period.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#IntervalType": {
      "type": "enum",
      "members": {
        "SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "second"
          }
        },
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#HogQLQueryModifiers": {
      "type": "structure",
      "members": {
        "bounceRateDurationSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "bounceRatePageViewMode": {
          "target": "com.posthog.insights#BounceRatePageViewMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "convertToProjectTimezone": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "customChannelTypeRules": {
          "target": "com.posthog.insights#HogQLQueryModifiersCustomChannelTypeRulesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "dataWarehouseEventsModifiers": {
          "target": "com.posthog.insights#HogQLQueryModifiersDataWarehouseEventsModifiersList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "debug": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "forceClickhouseDataSkippingIndexes": {
          "target": "com.posthog.insights#HogQLQueryModifiersForceClickhouseDataSkippingIndexesList",
          "traits": {
            "smithy.api#documentation": "If these are provided, the query will fail if these skip indexes are not used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "formatCsvAllowDoubleQuotes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "inCohortVia": {
          "target": "com.posthog.insights#InCohortVia",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "inlineCohortCalculation": {
          "target": "com.posthog.insights#InlineCohortCalculation",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "materializationMode": {
          "target": "com.posthog.insights#MaterializationMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "materializedColumnsOptimizationMode": {
          "target": "com.posthog.insights#MaterializedColumnsOptimizationMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "optimizeJoinedFilters": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "optimizeProjections": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parserMode": {
          "target": "com.posthog.insights#ParserMode",
          "traits": {
            "smithy.api#documentation": "HogQL parser backend; absent → `rust_py_with_cpp_shadow` (rust-py is primary, cpp runs as a sampled shadow). `*_shadow` modes return the primary result and sample-compare against the other parser, reporting divergences without failing the request. The `rust_py_*` modes drive the same hand-rolled Rust parser as `rust_*` but build `posthog.hogql.ast` dataclass instances directly via PyO3, skipping the JSON round-trip.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "personsArgMaxVersion": {
          "target": "com.posthog.insights#PersonsArgMaxVersion",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "personsJoinMode": {
          "target": "com.posthog.insights#PersonsJoinMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "personsOnEventsMode": {
          "target": "com.posthog.insights#PersonsOnEventsMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "propertyGroupsMode": {
          "target": "com.posthog.insights#PropertyGroupsMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "pushDownPredicates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "s3TableUseInvalidColumns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "sessionIdPushdown": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Push a `session_id_v7 IN (SELECT … FROM events WHERE …)` predicate into the raw_sessions subquery to limit aggregation to sessions that participate in the outer events filter.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sessionPropertyPreAggregation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Pre-filter raw_sessions aggregation by `session_id_v7 IN (cheap pre-aggregation that only materializes the columns referenced by the outer-WHERE session predicate)`. Useful when the breakdown/SELECT pulls in many session columns (e.g. `$channel_type`) but the filter only references one (e.g. `$entry_current_url`).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sessionTableVersion": {
          "target": "com.posthog.insights#SessionTableVersion",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "sessionsV2JoinMode": {
          "target": "com.posthog.insights#SessionsV2JoinMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "timings": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "useMaterializedViews": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "usePreaggregatedIntermediateResults": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "usePreaggregatedTableTransforms": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Try to automatically convert HogQL queries to use preaggregated tables at the AST level *",
            "com.distilled.openapi#nullable": {}
          }
        },
        "useWebAnalyticsPreAggregatedTables": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#BounceRatePageViewMode": {
      "type": "enum",
      "members": {
        "COUNT_PAGEVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count_pageviews"
          }
        },
        "UNIQ_URLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uniq_urls"
          }
        },
        "UNIQ_PAGE_SCREEN_AUTOCAPTURES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uniq_page_screen_autocaptures"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#CustomChannelRule": {
      "type": "structure",
      "members": {
        "channel_type": {
          "target": "smithy.api#String"
        },
        "combiner": {
          "target": "com.posthog.insights#FilterLogicalOperator"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "items": {
          "target": "com.posthog.insights#CustomChannelRuleItemsList"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#FilterLogicalOperator": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#CustomChannelCondition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "key": {
          "target": "com.posthog.insights#CustomChannelField"
        },
        "op": {
          "target": "com.posthog.insights#CustomChannelOperator"
        },
        "value": {
          "target": "com.posthog.insights#CustomChannelConditionValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#CustomChannelField": {
      "type": "enum",
      "members": {
        "UTM_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utm_source"
          }
        },
        "UTM_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utm_medium"
          }
        },
        "UTM_CAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utm_campaign"
          }
        },
        "REFERRING_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referring_domain"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "PATHNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pathname"
          }
        },
        "HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hostname"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#CustomChannelOperator": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#CustomChannelConditionValueCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.insights#CustomChannelConditionValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.posthog.insights#CustomChannelConditionValueCase1List"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#CustomChannelRuleItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#CustomChannelCondition"
      },
      "traits": {}
    },
    "com.posthog.insights#HogQLQueryModifiersCustomChannelTypeRulesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#CustomChannelRule"
      },
      "traits": {}
    },
    "com.posthog.insights#DataWarehouseEventsModifier": {
      "type": "structure",
      "members": {
        "distinct_id_field": {
          "target": "smithy.api#String"
        },
        "id_field": {
          "target": "smithy.api#String"
        },
        "table_name": {
          "target": "smithy.api#String"
        },
        "timestamp_field": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#HogQLQueryModifiersDataWarehouseEventsModifiersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#DataWarehouseEventsModifier"
      },
      "traits": {}
    },
    "com.posthog.insights#HogQLQueryModifiersForceClickhouseDataSkippingIndexesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.insights#InCohortVia": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LEFTJOIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leftjoin"
          }
        },
        "SUBQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subquery"
          }
        },
        "LEFTJOIN_CONJOINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leftjoin_conjoined"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#InlineCohortCalculation": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#MaterializationMode": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LEGACY_NULL_AS_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacy_null_as_string"
          }
        },
        "LEGACY_NULL_AS_NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacy_null_as_null"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#MaterializedColumnsOptimizationMode": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optimized"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#ParserMode": {
      "type": "enum",
      "members": {
        "CPP_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpp_only"
          }
        },
        "CPP_WITH_RUST_SHADOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpp_with_rust_shadow"
          }
        },
        "CPP_WITH_RUST_PY_SHADOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpp_with_rust_py_shadow"
          }
        },
        "RUST_WITH_CPP_SHADOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust_with_cpp_shadow"
          }
        },
        "RUST_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust_only"
          }
        },
        "RUST_PY_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust_py_only"
          }
        },
        "RUST_PY_WITH_CPP_SHADOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust_py_with_cpp_shadow"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#PersonsArgMaxVersion": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v1"
          }
        },
        "V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v2"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#PersonsJoinMode": {
      "type": "enum",
      "members": {
        "INNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inner"
          }
        },
        "LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "left"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#PersonsOnEventsMode": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "PERSON_ID_NO_OVERRIDE_PROPERTIES_ON_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person_id_no_override_properties_on_events"
          }
        },
        "PERSON_ID_OVERRIDE_PROPERTIES_ON_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person_id_override_properties_on_events"
          }
        },
        "PERSON_ID_OVERRIDE_PROPERTIES_JOINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person_id_override_properties_joined"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#PropertyGroupsMode": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optimized"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#SessionTableVersion": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v1"
          }
        },
        "V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v2"
          }
        },
        "V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v3"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#SessionsV2JoinMode": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uuid"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#EventPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event properties"
          }
        },
        "value": {
          "target": "com.posthog.insights#EventPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#PropertyOperator": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        },
        "IS_DATE_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_exact"
          }
        },
        "IS_DATE_BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_before"
          }
        },
        "IS_DATE_AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_after"
          }
        },
        "BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "between"
          }
        },
        "NOT_BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_between"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        },
        "IS_CLEANED_PATH_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_cleaned_path_exact"
          }
        },
        "FLAG_EVALUATES_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag_evaluates_to"
          }
        },
        "SEMVER_EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_eq"
          }
        },
        "SEMVER_NEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_neq"
          }
        },
        "SEMVER_GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gt"
          }
        },
        "SEMVER_GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gte"
          }
        },
        "SEMVER_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lt"
          }
        },
        "SEMVER_LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lte"
          }
        },
        "SEMVER_TILDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_tilde"
          }
        },
        "SEMVER_CARET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_caret"
          }
        },
        "SEMVER_WILDCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_wildcard"
          }
        },
        "ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains_multi"
          }
        },
        "NOT_ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains_multi"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#EventPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#EventPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#EventPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#EventPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#EventPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#PersonPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person properties"
          }
        },
        "value": {
          "target": "com.posthog.insights#PersonPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#PersonPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#PersonPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#PersonPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#PersonPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#PersonPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#ElementPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.posthog.insights#Key10"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.insights#ElementPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#Key10": {
      "type": "enum",
      "members": {
        "TAG_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_name"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "HREF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "href"
          }
        },
        "SELECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "selector"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#ElementPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#ElementPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#ElementPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#ElementPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#ElementPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#EventMetadataPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.insights#EventMetadataPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#EventMetadataPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#EventMetadataPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#EventMetadataPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#EventMetadataPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#EventMetadataPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#SessionPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.insights#SessionPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#SessionPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#SessionPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#SessionPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#SessionPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#SessionPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#CohortPropertyFilter": {
      "type": "structure",
      "members": {
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#RecordingPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.posthog.insights#RecordingPropertyFilterKey"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.insights#RecordingPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#DurationType": {
      "type": "enum",
      "members": {
        "DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration"
          }
        },
        "ACTIVE_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active_seconds"
          }
        },
        "INACTIVE_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive_seconds"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#RecordingPropertyFilterKey": {
      "type": "union",
      "members": {
        "DurationType": {
          "target": "com.posthog.insights#DurationType"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#RecordingPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#RecordingPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#RecordingPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#RecordingPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#RecordingPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#LogEntryPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.insights#LogEntryPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#LogEntryPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#LogEntryPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#LogEntryPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#LogEntryPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#LogEntryPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#GroupPropertyFilter": {
      "type": "structure",
      "members": {
        "group_key_names": {
          "target": "com.posthog.insights#GroupPropertyFilterGroupKeyNamesMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.insights#GroupPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#GroupPropertyFilterGroupKeyNamesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.insights#GroupPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#GroupPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#GroupPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#GroupPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#GroupPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#FeaturePropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event property with \"$feature/\" prepended"
          }
        },
        "value": {
          "target": "com.posthog.insights#FeaturePropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#FeaturePropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#FeaturePropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#FeaturePropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#FeaturePropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#FeaturePropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#FlagPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key should be the flag ID"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only flag_evaluates_to operator is allowed for flag dependencies"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature flag dependency"
          }
        },
        "value": {
          "target": "com.posthog.insights#FlagPropertyFilterValue",
          "traits": {
            "smithy.api#documentation": "The value can be true, false, or a variant name"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#FlagPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The value can be true, false, or a variant name"
      }
    },
    "com.posthog.insights#HogQLPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.insights#HogQLPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#HogQLPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#HogQLPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#HogQLPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#HogQLPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#HogQLPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#EmptyPropertyFilter": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#DataWarehousePropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.insights#DataWarehousePropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#DataWarehousePropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#DataWarehousePropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#DataWarehousePropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#DataWarehousePropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#DataWarehousePropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#DataWarehousePersonPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.insights#DataWarehousePersonPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#DataWarehousePersonPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#DataWarehousePersonPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#DataWarehousePersonPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#DataWarehousePersonPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#DataWarehousePersonPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#ErrorTrackingIssueFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.insights#ErrorTrackingIssueFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#ErrorTrackingIssueFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#ErrorTrackingIssueFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#ErrorTrackingIssueFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#ErrorTrackingIssueFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#ErrorTrackingIssueFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#LogPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator"
        },
        "type": {
          "target": "com.posthog.insights#LogPropertyFilterType"
        },
        "value": {
          "target": "com.posthog.insights#LogPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#LogPropertyFilterType": {
      "type": "enum",
      "members": {
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "LOG_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log_attribute"
          }
        },
        "LOG_RESOURCE_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log_resource_attribute"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#LogPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#LogPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#LogPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#LogPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#LogPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#SpanPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator"
        },
        "type": {
          "target": "com.posthog.insights#SpanPropertyFilterType"
        },
        "value": {
          "target": "com.posthog.insights#SpanPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#SpanPropertyFilterType": {
      "type": "enum",
      "members": {
        "SPAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span"
          }
        },
        "SPAN_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_attribute"
          }
        },
        "SPAN_RESOURCE_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_resource_attribute"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#SpanPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#SpanPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#SpanPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#SpanPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#SpanPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#RevenueAnalyticsPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.insights#RevenueAnalyticsPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#RevenueAnalyticsPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#RevenueAnalyticsPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#RevenueAnalyticsPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#RevenueAnalyticsPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#RevenueAnalyticsPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#WorkflowVariablePropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.insights#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.insights#WorkflowVariablePropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.insights#WorkflowVariablePropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#WorkflowVariablePropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.insights#WorkflowVariablePropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.insights#WorkflowVariablePropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.insights#WorkflowVariablePropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.insights#TrendsQueryPropertiesCase0Item": {
      "type": "union",
[...]
