{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.llm_analytics#LlmAnalyticsClusteringConfigListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#ClusteringConfig": {
      "type": "structure",
      "members": {
        "event_filters": {
          "target": "com.posthog.llm_analytics#ClusteringConfigEventFiltersList",
          "traits": {
            "smithy.api#documentation": "PostHog property filters that scope automated clustering jobs. Empty array means no saved filters.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#ClusteringConfigEventFiltersItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#ClusteringConfigEventFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#ClusteringConfigEventFiltersItemMap"
      },
      "traits": {
        "smithy.api#documentation": "PostHog property filters that scope automated clustering jobs. Empty array means no saved filters."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringConfigList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsClusteringConfigListRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ClusteringConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_config/",
          "code": 200
        },
        "smithy.api#documentation": "Team-level clustering configuration (event filters for automated pipelines)."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringConfigSetEventFiltersCreateRequestEventFiltersItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringConfigSetEventFiltersCreateRequestEventFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsClusteringConfigSetEventFiltersCreateRequestEventFiltersItemMap"
      },
      "traits": {
        "smithy.api#documentation": "PostHog property filters to save for automated clustering jobs. Pass an empty array to clear filters."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringConfigSetEventFiltersCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "event_filters": {
          "target": "com.posthog.llm_analytics#LlmAnalyticsClusteringConfigSetEventFiltersCreateRequestEventFiltersList",
          "traits": {
            "smithy.api#documentation": "PostHog property filters to save for automated clustering jobs. Pass an empty array to clear filters.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringConfigSetEventFiltersCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsClusteringConfigSetEventFiltersCreateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ClusteringConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_config/set_event_filters/",
          "code": 200
        },
        "smithy.api#documentation": "Team-level clustering configuration (event filters for automated pipelines)."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#PaginatedClusteringJobList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.llm_analytics#PaginatedClusteringJobListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#ClusteringJob": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "analysis_level": {
          "target": "com.posthog.llm_analytics#AnalysisLevelEnum"
        },
        "event_filters": {
          "target": "smithy.api#Document"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#AnalysisLevelEnum": {
      "type": "enum",
      "members": {
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trace"
          }
        },
        "GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generation"
          }
        },
        "EVALUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "evaluation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `trace` - trace\n* `generation` - generation\n* `evaluation` - evaluation"
      }
    },
    "com.posthog.llm_analytics#PaginatedClusteringJobListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#ClusteringJob"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsListRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#PaginatedClusteringJobList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_jobs/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for clustering job configurations (max 10 per team)."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "analysis_level": {
          "target": "com.posthog.llm_analytics#AnalysisLevelEnum"
        },
        "event_filters": {
          "target": "smithy.api#Document"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsCreateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ClusteringJob"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_jobs/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for clustering job configurations (max 10 per team)."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this clustering job."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ClusteringJob"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_jobs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for clustering job configurations (max 10 per team)."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this clustering job."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "analysis_level": {
          "target": "com.posthog.llm_analytics#AnalysisLevelEnum"
        },
        "event_filters": {
          "target": "smithy.api#Document"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsUpdateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ClusteringJob"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_jobs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for clustering job configurations (max 10 per team)."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this clustering job."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "analysis_level": {
          "target": "com.posthog.llm_analytics#AnalysisLevelEnum"
        },
        "event_filters": {
          "target": "smithy.api#Document"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ClusteringJob"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_jobs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for clustering job configurations (max 10 per team)."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this clustering job."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsClusteringJobsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/llm_analytics/clustering_jobs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for clustering job configurations (max 10 per team)."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationConfigRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#EvaluationConfigOutput": {
      "type": "structure",
      "members": {
        "trial_eval_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cap on trial runs — a getting-started affordance only, not for ongoing evals (use the team's own key).",
            "smithy.api#required": {}
          }
        },
        "trial_evals_used": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Trial runs consumed (getting-started affordance only).",
            "smithy.api#required": {}
          }
        },
        "trial_evals_remaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Trial runs remaining — a getting-started affordance only; evals should use the team's own provider key.",
            "smithy.api#required": {}
          }
        },
        "active_provider_key": {
          "target": "com.posthog.llm_analytics#LLMProviderKeyOutput",
          "traits": {
            "smithy.api#documentation": "Provider key used to run llm_judge evals; null if none configured yet.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the evaluation config row was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the evaluation config row was last modified.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#LLMProviderKeyOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "provider": {
          "target": "com.posthog.llm_analytics#LLMProviderEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.posthog.llm_analytics#LLMProviderKeyStateEnum"
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "api_key_masked": {
          "target": "smithy.api#String"
        },
        "azure_endpoint_display": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure endpoint (read-only, for display)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "api_version_display": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure API version (read-only, for display)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.llm_analytics#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#LLMProviderEnum": {
      "type": "enum",
      "members": {
        "OPENAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai"
          }
        },
        "ANTHROPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic"
          }
        },
        "GEMINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gemini"
          }
        },
        "OPENROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openrouter"
          }
        },
        "FIREWORKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fireworks"
          }
        },
        "AZURE_OPENAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azure_openai"
          }
        },
        "TOGETHER_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "together_ai"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `openai` - Openai\n* `anthropic` - Anthropic\n* `gemini` - Gemini\n* `openrouter` - Openrouter\n* `fireworks` - Fireworks\n* `azure_openai` - Azure OpenAI\n* `together_ai` - Together AI"
      }
    },
    "com.posthog.llm_analytics#LLMProviderKeyStateEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `unknown` - Unknown\n* `ok` - Ok\n* `invalid` - Invalid\n* `error` - Error"
      }
    },
    "com.posthog.llm_analytics#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.llm_analytics#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.llm_analytics#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.llm_analytics#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.llm_analytics#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.llm_analytics#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationConfigRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsEvaluationConfigRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#EvaluationConfigOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_config/",
          "code": 200
        },
        "smithy.api#documentation": "Get the evaluation config for this team"
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationConfigSetActiveKeyCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of an existing LLM provider key (state must be 'ok') to mark as the active key for running llm_judge evaluations team-wide.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationConfigSetActiveKeyCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsEvaluationConfigSetActiveKeyCreateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#EvaluationConfigOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_config/set_active_key/",
          "code": 200
        },
        "smithy.api#documentation": "Set the active provider key for evaluations"
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#PaginatedEvaluationReportList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.llm_analytics#PaginatedEvaluationReportListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#EvaluationReport": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "evaluation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the evaluation this report config belongs to."
          }
        },
        "frequency": {
          "target": "com.posthog.llm_analytics#EvaluationReportFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "How report generation is triggered. 'every_n' fires once N new evaluation results have accumulated (subject to cooldown_minutes and daily_run_cap). 'scheduled' fires on the cadence defined by rrule + starts_at + timezone_name.\n\n* `scheduled` - Scheduled\n* `every_n` - Every N"
          }
        },
        "rrule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RFC 5545 recurrence rule string (e.g. 'FREQ=WEEKLY;BYDAY=MO'). Must not contain DTSTART — the anchor is set via starts_at. Required when frequency is 'scheduled'; ignored otherwise."
          }
        },
        "starts_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Anchor datetime for the rrule (ISO 8601, UTC — must end in 'Z'). Local-time interpretation is controlled by timezone_name. Required when frequency is 'scheduled'; ignored otherwise.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "timezone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA timezone name used to expand the rrule in local time so e.g. '9am' stays at 9am across DST transitions (e.g. 'America/New_York'). Defaults to 'UTC'."
          }
        },
        "next_delivery_date": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "delivery_targets": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "List of delivery targets. Each entry is either {type: 'email', value: 'user@example.com'} or {type: 'slack', integration_id: <int>, channel: '<channel>'}. Slack integration_id must belong to this team."
          }
        },
        "max_sample_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of evaluation runs included in each report. Defaults to 200."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether report delivery is active. Disabled configs do not fire."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to soft-delete this report config."
          }
        },
        "last_delivered_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "report_prompt_guidance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional custom instructions appended to the AI report prompt to steer focus, scope, or section choices without modifying the base prompt."
          }
        },
        "trigger_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of new evaluation results that triggers a report (every_n mode only). Min 10, max 10000. Defaults to 100. Required when frequency is 'every_n'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum minutes between count-triggered reports to prevent spam (every_n mode only). Min 60, max 1440 (24 hours). Defaults to 60."
          }
        },
        "daily_run_cap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum count-triggered report runs per calendar day (UTC). Min 1, max 24 (one per cooldown window). Defaults to 10."
          }
        },
        "created_by": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#EvaluationReportFrequencyEnum": {
      "type": "enum",
      "members": {
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        },
        "EVERY_N": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "every_n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `scheduled` - Scheduled\n* `every_n` - Every N"
      }
    },
    "com.posthog.llm_analytics#PaginatedEvaluationReportListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#EvaluationReport"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsListRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#PaginatedEvaluationReportList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_reports/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for evaluation report configurations + report run history."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "evaluation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the evaluation this report config belongs to."
          }
        },
        "frequency": {
          "target": "com.posthog.llm_analytics#EvaluationReportFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "How report generation is triggered. 'every_n' fires once N new evaluation results have accumulated (subject to cooldown_minutes and daily_run_cap). 'scheduled' fires on the cadence defined by rrule + starts_at + timezone_name.\n\n* `scheduled` - Scheduled\n* `every_n` - Every N"
          }
        },
        "rrule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RFC 5545 recurrence rule string (e.g. 'FREQ=WEEKLY;BYDAY=MO'). Must not contain DTSTART — the anchor is set via starts_at. Required when frequency is 'scheduled'; ignored otherwise."
          }
        },
        "starts_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Anchor datetime for the rrule (ISO 8601, UTC — must end in 'Z'). Local-time interpretation is controlled by timezone_name. Required when frequency is 'scheduled'; ignored otherwise.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "timezone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA timezone name used to expand the rrule in local time so e.g. '9am' stays at 9am across DST transitions (e.g. 'America/New_York'). Defaults to 'UTC'."
          }
        },
        "delivery_targets": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "List of delivery targets. Each entry is either {type: 'email', value: 'user@example.com'} or {type: 'slack', integration_id: <int>, channel: '<channel>'}. Slack integration_id must belong to this team."
          }
        },
        "max_sample_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of evaluation runs included in each report. Defaults to 200."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether report delivery is active. Disabled configs do not fire."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to soft-delete this report config."
          }
        },
        "report_prompt_guidance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional custom instructions appended to the AI report prompt to steer focus, scope, or section choices without modifying the base prompt."
          }
        },
        "trigger_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of new evaluation results that triggers a report (every_n mode only). Min 10, max 10000. Defaults to 100. Required when frequency is 'every_n'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum minutes between count-triggered reports to prevent spam (every_n mode only). Min 60, max 1440 (24 hours). Defaults to 60."
          }
        },
        "daily_run_cap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum count-triggered report runs per calendar day (UTC). Min 1, max 24 (one per cooldown window). Defaults to 10."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsCreateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#EvaluationReport"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_reports/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for evaluation report configurations + report run history."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#EvaluationReport"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_reports/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for evaluation report configurations + report run history."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation report."
          }
        },
        "evaluation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the evaluation this report config belongs to."
          }
        },
        "frequency": {
          "target": "com.posthog.llm_analytics#EvaluationReportFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "How report generation is triggered. 'every_n' fires once N new evaluation results have accumulated (subject to cooldown_minutes and daily_run_cap). 'scheduled' fires on the cadence defined by rrule + starts_at + timezone_name.\n\n* `scheduled` - Scheduled\n* `every_n` - Every N"
          }
        },
        "rrule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RFC 5545 recurrence rule string (e.g. 'FREQ=WEEKLY;BYDAY=MO'). Must not contain DTSTART — the anchor is set via starts_at. Required when frequency is 'scheduled'; ignored otherwise."
          }
        },
        "starts_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Anchor datetime for the rrule (ISO 8601, UTC — must end in 'Z'). Local-time interpretation is controlled by timezone_name. Required when frequency is 'scheduled'; ignored otherwise.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "timezone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA timezone name used to expand the rrule in local time so e.g. '9am' stays at 9am across DST transitions (e.g. 'America/New_York'). Defaults to 'UTC'."
          }
        },
        "delivery_targets": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "List of delivery targets. Each entry is either {type: 'email', value: 'user@example.com'} or {type: 'slack', integration_id: <int>, channel: '<channel>'}. Slack integration_id must belong to this team."
          }
        },
        "max_sample_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of evaluation runs included in each report. Defaults to 200."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether report delivery is active. Disabled configs do not fire."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to soft-delete this report config."
          }
        },
        "report_prompt_guidance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional custom instructions appended to the AI report prompt to steer focus, scope, or section choices without modifying the base prompt."
          }
        },
        "trigger_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of new evaluation results that triggers a report (every_n mode only). Min 10, max 10000. Defaults to 100. Required when frequency is 'every_n'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum minutes between count-triggered reports to prevent spam (every_n mode only). Min 60, max 1440 (24 hours). Defaults to 60."
          }
        },
        "daily_run_cap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum count-triggered report runs per calendar day (UTC). Min 1, max 24 (one per cooldown window). Defaults to 10."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsUpdateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#EvaluationReport"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_reports/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for evaluation report configurations + report run history."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation report."
          }
        },
        "evaluation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the evaluation this report config belongs to."
          }
        },
        "frequency": {
          "target": "com.posthog.llm_analytics#EvaluationReportFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "How report generation is triggered. 'every_n' fires once N new evaluation results have accumulated (subject to cooldown_minutes and daily_run_cap). 'scheduled' fires on the cadence defined by rrule + starts_at + timezone_name.\n\n* `scheduled` - Scheduled\n* `every_n` - Every N"
          }
        },
        "rrule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RFC 5545 recurrence rule string (e.g. 'FREQ=WEEKLY;BYDAY=MO'). Must not contain DTSTART — the anchor is set via starts_at. Required when frequency is 'scheduled'; ignored otherwise."
          }
        },
        "starts_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Anchor datetime for the rrule (ISO 8601, UTC — must end in 'Z'). Local-time interpretation is controlled by timezone_name. Required when frequency is 'scheduled'; ignored otherwise.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "timezone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA timezone name used to expand the rrule in local time so e.g. '9am' stays at 9am across DST transitions (e.g. 'America/New_York'). Defaults to 'UTC'."
          }
        },
        "delivery_targets": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "List of delivery targets. Each entry is either {type: 'email', value: 'user@example.com'} or {type: 'slack', integration_id: <int>, channel: '<channel>'}. Slack integration_id must belong to this team."
          }
        },
        "max_sample_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of evaluation runs included in each report. Defaults to 200."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether report delivery is active. Disabled configs do not fire."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to soft-delete this report config."
          }
        },
        "report_prompt_guidance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional custom instructions appended to the AI report prompt to steer focus, scope, or section choices without modifying the base prompt."
          }
        },
        "trigger_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of new evaluation results that triggers a report (every_n mode only). Min 10, max 10000. Defaults to 100. Required when frequency is 'every_n'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum minutes between count-triggered reports to prevent spam (every_n mode only). Min 60, max 1440 (24 hours). Defaults to 60."
          }
        },
        "daily_run_cap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum count-triggered report runs per calendar day (UTC). Min 1, max 24 (one per cooldown window). Defaults to 10."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#EvaluationReport"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_reports/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for evaluation report configurations + report run history."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_reports/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Hard delete of this model is not allowed. Use a patch API call to set \"deleted\" to true"
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsGenerateCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsGenerateCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsGenerateCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_reports/{id}/generate/",
          "code": 200
        },
        "smithy.api#documentation": "Trigger immediate report generation."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsRunsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation report."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#PaginatedEvaluationReportRunList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.llm_analytics#PaginatedEvaluationReportRunListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#EvaluationReportRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of this report run."
          }
        },
        "report": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the report config that generated this run."
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Generated report content (markdown or structured text)."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Run metadata including model used, token counts, and generation stats."
          }
        },
        "period_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the evaluation window covered by this report."
          }
        },
        "period_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of the evaluation window covered by this report."
          }
        },
        "delivery_status": {
          "target": "com.posthog.llm_analytics#DeliveryStatusEnum",
          "traits": {
            "smithy.api#documentation": "'pending', 'delivered', or 'failed'.\n\n* `pending` - Pending\n* `delivered` - Delivered\n* `partial_failure` - Partial Failure\n* `failed` - Failed"
          }
        },
        "delivery_errors": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "List of delivery error messages if delivery failed."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#DeliveryStatusEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delivered"
          }
        },
        "PARTIAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partial_failure"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `pending` - Pending\n* `delivered` - Delivered\n* `partial_failure` - Partial Failure\n* `failed` - Failed"
      }
    },
    "com.posthog.llm_analytics#PaginatedEvaluationReportRunListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#EvaluationReportRun"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsRunsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsEvaluationReportsRunsListRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#PaginatedEvaluationReportRunList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/evaluation_reports/{id}/runs/",
          "code": 200
        },
        "smithy.api#documentation": "List report runs (history) for this report."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsModelsRetrieveRequestProvider": {
      "type": "enum",
      "members": {
        "ANTHROPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic"
          }
        },
        "AZURE_OPENAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azure_openai"
          }
        },
        "FIREWORKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fireworks"
          }
        },
        "GEMINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gemini"
          }
        },
        "OPENAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai"
          }
        },
        "OPENROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openrouter"
          }
        },
        "TOGETHER_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "together_ai"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#LlmAnalyticsModelsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "key_id",
            "smithy.api#documentation": "Optional provider key UUID. When supplied, models reachable with that specific key are returned (useful for Azure OpenAI, where the deployment list depends on the configured endpoint). Must belong to the same provider as the `provider` parameter."
          }
        },
        "provider": {
          "target": "com.posthog.llm_analytics#LlmAnalyticsModelsRetrieveRequestProvider",
          "traits": {
            "smithy.api#httpQuery": "provider",
            "smithy.api#required": {},
            "smithy.api#documentation": "LLM provider to list models for. Must be one of the supported providers."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LLMModelsListResponse": {
      "type": "structure",
      "members": {
        "models": {
          "target": "com.posthog.llm_analytics#LLMModelsListResponseModelsList",
          "traits": {
            "smithy.api#documentation": "Models supported for the requested provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#LLMModelInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider-specific model identifier (e.g. 'gpt-4o-mini', 'claude-3-5-sonnet-20241022').",
            "smithy.api#required": {}
          }
        },
        "posthog_available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the model can run without a provider key — for getting-started testing only; real evals should use the team's own key.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#LLMModelsListResponseModelsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#LLMModelInfo"
      },
      "traits": {
        "smithy.api#documentation": "Models supported for the requested provider."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsModelsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsModelsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#LLMModelsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/models/",
          "code": 200
        },
        "smithy.api#documentation": "List available models for a provider."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsParserRecipesListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#PaginatedParserRecipeList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.llm_analytics#PaginatedParserRecipeListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#ParserRecipe": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable recipe name shown in the editor.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw YAML recipe source. Must parse as YAML; recipe semantics are compiled and validated client-side.",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.llm_analytics#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who created the recipe.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#PaginatedParserRecipeListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#ParserRecipe"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#LlmAnalyticsParserRecipesList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsParserRecipesListRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#PaginatedParserRecipeList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/parser_recipes/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsParserRecipesCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable recipe name shown in the editor.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw YAML recipe source. Must parse as YAML; recipe semantics are compiled and validated client-side.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsParserRecipesCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsParserRecipesCreateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ParserRecipe"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/parser_recipes/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsParserRecipesRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this parser recipe."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsParserRecipesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsParserRecipesRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ParserRecipe"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/parser_recipes/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsParserRecipesPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this parser recipe."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable recipe name shown in the editor."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw YAML recipe source. Must parse as YAML; recipe semantics are compiled and validated client-side."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsParserRecipesPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsParserRecipesPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#ParserRecipe"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/llm_analytics/parser_recipes/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsParserRecipesDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this parser recipe."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsParserRecipesDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsParserRecipesDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/llm_analytics/parser_recipes/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeyValidationsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeyValidationsCreateResponseBodyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeyValidationsCreateResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.llm_analytics#LlmAnalyticsProviderKeyValidationsCreateResponseBodyMap",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeyValidationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsProviderKeyValidationsCreateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsProviderKeyValidationsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/provider_key_validations/",
          "code": 200
        },
        "smithy.api#documentation": "Validate LLM provider API keys without persisting them"
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#PaginatedLLMProviderKeyListOutput": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.llm_analytics#PaginatedLLMProviderKeyListOutputResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#PaginatedLLMProviderKeyListOutputResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_analytics#LLMProviderKeyOutput"
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsProviderKeysListRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#PaginatedLLMProviderKeyListOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/provider_keys/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "provider": {
          "target": "com.posthog.llm_analytics#LLMProviderEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "api_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "azure_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure OpenAI endpoint URL"
          }
        },
        "api_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure OpenAI API version"
          }
        },
        "set_as_active": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsProviderKeysCreateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#LLMProviderKeyOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/provider_keys/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this llm provider key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsProviderKeysRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#LLMProviderKeyOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/provider_keys/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this llm provider key."
          }
        },
        "provider": {
          "target": "com.posthog.llm_analytics#LLMProviderEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "api_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "azure_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure OpenAI endpoint URL"
          }
        },
        "api_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure OpenAI API version"
          }
        },
        "set_as_active": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsProviderKeysUpdateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#LLMProviderKeyOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/llm_analytics/provider_keys/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this llm provider key."
          }
        },
        "provider": {
          "target": "com.posthog.llm_analytics#LLMProviderEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "api_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "azure_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure OpenAI endpoint URL"
          }
        },
        "api_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure OpenAI API version"
          }
        },
        "set_as_active": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsProviderKeysPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#LLMProviderKeyOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/llm_analytics/provider_keys/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this llm provider key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsProviderKeysDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/llm_analytics/provider_keys/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysAssignCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this llm provider key."
          }
        },
        "provider": {
          "target": "com.posthog.llm_analytics#LLMProviderEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "api_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "azure_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure OpenAI endpoint URL"
          }
        },
        "api_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure OpenAI API version"
          }
        },
        "set_as_active": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysAssignCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsProviderKeysAssignCreateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#LLMProviderKeyOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/provider_keys/{id}/assign/",
          "code": 200
        },
        "smithy.api#documentation": "Assign this key to evaluations and optionally re-enable them."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysDependentConfigsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this llm provider key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysDependentConfigsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsProviderKeysDependentConfigsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#LLMProviderKeyOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/provider_keys/{id}/dependent_configs/",
          "code": 200
        },
        "smithy.api#documentation": "Get evaluations using this key and alternative keys for replacement."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysValidateCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this llm provider key."
          }
        },
        "provider": {
          "target": "com.posthog.llm_analytics#LLMProviderEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "api_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "azure_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure OpenAI endpoint URL"
          }
        },
        "api_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure OpenAI API version"
          }
        },
        "set_as_active": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysValidateCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsProviderKeysValidateCreateRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#LLMProviderKeyOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_analytics/provider_keys/{id}/validate/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysTrialEvaluationsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsProviderKeysTrialEvaluationsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_analytics#LlmAnalyticsProviderKeysTrialEvaluationsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.llm_analytics#LLMProviderKeyOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_analytics/provider_keys/trial_evaluations/",
          "code": 200
        },
        "smithy.api#documentation": "List enabled evaluations currently using trial credits for a given provider."
      }
    },
    "com.posthog.llm_analytics#LlmAnalyticsReviewQueueItemsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "order_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "order_by",
            "smithy.api#documentation": "Order by `created_at` or `updated_at`."
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "queue_id",
            "smithy.api#documentation": "Filter by a specific review queue ID."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search pending trace IDs."
          }
        },
        "trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "trace_id",
            "smithy.api#documentation": "Filter by an exact trace ID."
          }
        },
        "trace_id__in": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "trace_id__in",
            "smithy.api#documentation": "Filter by multiple trace IDs separated by commas."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_analytics#PaginatedReviewQueueItemList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.llm_analytics#PaginatedReviewQueueItemListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_analytics#ReviewQueueItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Review queue ID that currently owns this pending trace."
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the queue that currently owns this pending trace."
          }
        },
        "trace_id": {
          "target": "smithy.api#String",
          "traits": {
[...]
