{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.mcp_server_installations#McpServerInstallationsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.mcp_server_installations#PaginatedMCPServerInstallationList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.mcp_server_installations#PaginatedMCPServerInstallationListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.mcp_server_installations#MCPServerInstallation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "template_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "icon_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lowercase key from the linked template for brand icons. Empty if custom install (no template)."
          }
        },
        "display_name": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "auth_type": {
          "target": "com.posthog.mcp_server_installations#MCPAuthTypeEnum"
        },
        "is_enabled": {
          "target": "smithy.api#Boolean"
        },
        "needs_reauth": {
          "target": "smithy.api#Boolean"
        },
        "pending_oauth": {
          "target": "smithy.api#Boolean"
        },
        "proxy_url": {
          "target": "smithy.api#String"
        },
        "tool_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of live (non-removed) tools exposed by this installation."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.mcp_server_installations#MCPAuthTypeEnum": {
      "type": "enum",
      "members": {
        "API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_key"
          }
        },
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `api_key` - API Key\n* `oauth` - OAuth"
      }
    },
    "com.posthog.mcp_server_installations#PaginatedMCPServerInstallationListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.mcp_server_installations#MCPServerInstallation"
      },
      "traits": {}
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.mcp_server_installations#McpServerInstallationsListRequest"
      },
      "output": {
        "target": "com.posthog.mcp_server_installations#PaginatedMCPServerInstallationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/mcp_server_installations/",
          "code": 200
        }
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "display_name": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "auth_type": {
          "target": "com.posthog.mcp_server_installations#MCPAuthTypeEnum"
        },
        "is_enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.mcp_server_installations#McpServerInstallationsCreateRequest"
      },
      "output": {
        "target": "com.posthog.mcp_server_installations#MCPServerInstallation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/mcp_server_installations/",
          "code": 200
        }
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this mcp server installation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.mcp_server_installations#McpServerInstallationsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.mcp_server_installations#MCPServerInstallation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/mcp_server_installations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this mcp server installation."
          }
        },
        "display_name": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "auth_type": {
          "target": "com.posthog.mcp_server_installations#MCPAuthTypeEnum"
        },
        "is_enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.mcp_server_installations#McpServerInstallationsUpdateRequest"
      },
      "output": {
        "target": "com.posthog.mcp_server_installations#MCPServerInstallation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/mcp_server_installations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this mcp server installation."
          }
        },
        "display_name": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "is_enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.mcp_server_installations#McpServerInstallationsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.mcp_server_installations#MCPServerInstallation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/mcp_server_installations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this mcp server installation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.mcp_server_installations#McpServerInstallationsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/mcp_server_installations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsProxyCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this mcp server installation."
          }
        },
        "display_name": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "auth_type": {
          "target": "com.posthog.mcp_server_installations#MCPAuthTypeEnum"
        },
        "is_enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsProxyCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.mcp_server_installations#McpServerInstallationsProxyCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/mcp_server_installations/{id}/proxy/",
          "code": 200
        }
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsToolsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this mcp server installation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.mcp_server_installations#PaginatedMCPServerInstallationToolList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.mcp_server_installations#PaginatedMCPServerInstallationToolListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.mcp_server_installations#MCPServerInstallationTool": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "tool_name": {
          "target": "smithy.api#String"
        },
        "display_name": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "input_schema": {
          "target": "smithy.api#Document"
        },
        "approval_state": {
          "target": "com.posthog.mcp_server_installations#MCPServerInstallationToolApprovalStateEnum"
        },
        "last_seen_at": {
          "target": "smithy.api#String"
        },
        "removed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.mcp_server_installations#MCPServerInstallationToolApprovalStateEnum": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "NEEDS_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needs_approval"
          }
        },
        "DO_NOT_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "do_not_use"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `approved` - Approved\n* `needs_approval` - Needs approval\n* `do_not_use` - Do not use"
      }
    },
    "com.posthog.mcp_server_installations#PaginatedMCPServerInstallationToolListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.mcp_server_installations#MCPServerInstallationTool"
      },
      "traits": {}
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsToolsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.mcp_server_installations#McpServerInstallationsToolsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.mcp_server_installations#PaginatedMCPServerInstallationToolList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/mcp_server_installations/{id}/tools/",
          "code": 200
        }
      }
    },
    "com.posthog.mcp_server_installations#ToolApprovalUpdateApprovalStateEnum": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "NEEDS_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needs_approval"
          }
        },
        "DO_NOT_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "do_not_use"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `approved` - approved\n* `needs_approval` - needs_approval\n* `do_not_use` - do_not_use"
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsToolsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this mcp server installation."
          }
        },
        "tool_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "approval_state": {
          "target": "com.posthog.mcp_server_installations#ToolApprovalUpdateApprovalStateEnum"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsToolsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.mcp_server_installations#McpServerInstallationsToolsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.mcp_server_installations#MCPServerInstallationTool"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/mcp_server_installations/{id}/tools/{tool_name}/",
          "code": 200
        }
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsToolsRefreshCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this mcp server installation."
          }
        },
        "display_name": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "auth_type": {
          "target": "com.posthog.mcp_server_installations#MCPAuthTypeEnum"
        },
        "is_enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsToolsRefreshCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.mcp_server_installations#McpServerInstallationsToolsRefreshCreateRequest"
      },
      "output": {
        "target": "com.posthog.mcp_server_installations#PaginatedMCPServerInstallationToolList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/mcp_server_installations/{id}/tools/refresh/",
          "code": 200
        }
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsAuthorizeRetrieveRequestInstallSource": {
      "type": "enum",
      "members": {
        "POSTHOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog"
          }
        },
        "POSTHOG_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog-code"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsAuthorizeRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "install_source": {
          "target": "com.posthog.mcp_server_installations#McpServerInstallationsAuthorizeRetrieveRequestInstallSource",
          "traits": {
            "smithy.api#httpQuery": "install_source",
            "smithy.api#documentation": "* `posthog` - posthog\n* `posthog-code` - posthog-code"
          }
        },
        "installation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "installation_id"
          }
        },
        "posthog_code_callback_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "posthog_code_callback_url"
          }
        },
        "template_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "template_id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsAuthorizeRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.mcp_server_installations#McpServerInstallationsAuthorizeRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/mcp_server_installations/authorize/",
          "code": 200
        },
        "smithy.api#documentation": "Start (or re-start) an OAuth flow.\n\nPass ``template_id`` to (re)connect a catalog template, or\n``installation_id`` to reconnect an existing custom install using its\ncached metadata and per-user DCR creds."
      }
    },
    "com.posthog.mcp_server_installations#InstallCustomAuthTypeEnum": {
      "type": "enum",
      "members": {
        "API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_key"
          }
        },
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `api_key` - api_key\n* `oauth` - oauth"
      }
    },
    "com.posthog.mcp_server_installations#InstallSourceEnum": {
      "type": "enum",
      "members": {
        "POSTHOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog"
          }
        },
        "POSTHOG_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog-code"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `posthog` - posthog\n* `posthog-code` - posthog-code"
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsInstallCustomCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "auth_type": {
          "target": "com.posthog.mcp_server_installations#InstallCustomAuthTypeEnum"
        },
        "api_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "client_id": {
          "target": "smithy.api#String"
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "install_source": {
          "target": "com.posthog.mcp_server_installations#InstallSourceEnum"
        },
        "posthog_code_callback_url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.mcp_server_installations#OAuthRedirectResponse": {
      "type": "structure",
      "members": {
        "redirect_url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsInstallCustomCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.mcp_server_installations#McpServerInstallationsInstallCustomCreateRequest"
      },
      "output": {
        "target": "com.posthog.mcp_server_installations#OAuthRedirectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/mcp_server_installations/install_custom/",
          "code": 200
        }
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsInstallTemplateCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "template_id": {
          "target": "smithy.api#String"
        },
        "api_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "install_source": {
          "target": "com.posthog.mcp_server_installations#InstallSourceEnum"
        },
        "posthog_code_callback_url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallationsInstallTemplateCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.mcp_server_installations#McpServerInstallationsInstallTemplateCreateRequest"
      },
      "output": {
        "target": "com.posthog.mcp_server_installations#OAuthRedirectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/mcp_server_installations/install_template/",
          "code": 200
        }
      }
    },
    "com.posthog.mcp_server_installations#McpServerInstallations": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.mcp_server_installations#McpServerInstallationsList"
        },
        {
          "target": "com.posthog.mcp_server_installations#McpServerInstallationsCreate"
        },
        {
          "target": "com.posthog.mcp_server_installations#McpServerInstallationsRetrieve"
        },
        {
          "target": "com.posthog.mcp_server_installations#McpServerInstallationsUpdate"
        },
        {
          "target": "com.posthog.mcp_server_installations#McpServerInstallationsPartialUpdate"
        },
        {
          "target": "com.posthog.mcp_server_installations#McpServerInstallationsDestroy"
        },
        {
          "target": "com.posthog.mcp_server_installations#McpServerInstallationsProxyCreate"
        },
        {
          "target": "com.posthog.mcp_server_installations#McpServerInstallationsToolsRetrieve"
        },
        {
          "target": "com.posthog.mcp_server_installations#McpServerInstallationsToolsPartialUpdate"
        },
        {
          "target": "com.posthog.mcp_server_installations#McpServerInstallationsToolsRefreshCreate"
        },
        {
          "target": "com.posthog.mcp_server_installations#McpServerInstallationsAuthorizeRetrieve"
        },
        {
          "target": "com.posthog.mcp_server_installations#McpServerInstallationsInstallCustomCreate"
        },
        {
          "target": "com.posthog.mcp_server_installations#McpServerInstallationsInstallTemplateCreate"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
