{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.messaging_templates#MessagingTemplatesListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.messaging_templates#PaginatedMessageTemplateList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.messaging_templates#PaginatedMessageTemplateListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.messaging_templates#MessageTemplate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable template name shown in the library.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What the template is for and when to use it."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.posthog.messaging_templates#MessageTemplateContent",
          "traits": {
            "smithy.api#documentation": "Template content keyed by channel. Replaced as a whole on update, not merged."
          }
        },
        "created_by": {
          "target": "com.posthog.messaging_templates#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message channel of the template. Currently 'email'."
          }
        },
        "message_category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message category ID to file the template under. Must belong to the same project.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Soft-delete flag. Set true to remove the template from the library."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.messaging_templates#MessageTemplateContent": {
      "type": "structure",
      "members": {
        "templating": {
          "target": "com.posthog.messaging_templates#MessageTemplateContentTemplatingEnum",
          "traits": {
            "smithy.api#documentation": "Templating language for the email content. Always 'liquid' — Liquid tags pass through verbatim.\n\n* `liquid` - liquid"
          }
        },
        "email": {
          "target": "com.posthog.messaging_templates#EmailTemplate",
          "traits": {
            "smithy.api#documentation": "Email message content. Replaced as a whole on update — send the complete object.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.messaging_templates#MessageTemplateContentTemplatingEnum": {
      "type": "enum",
      "members": {
        "LIQUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "liquid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `liquid` - liquid"
      }
    },
    "com.posthog.messaging_templates#EmailTemplate": {
      "type": "structure",
      "members": {
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email subject line. Supports Liquid templating. Required for email-type templates."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain-text fallback body for clients that can't render the email."
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rendered email body — derived from the design at save time. The visual editor's save path supplies it directly; omit it otherwise."
          }
        },
        "design": {
          "target": "com.posthog.messaging_templates#EmailTemplateDesign",
          "traits": {
            "smithy.api#documentation": "Design JSON for PostHog's visual email editor — the authoring surface and source of truth. The server renders the sent email from it, and it opens as editable blocks in the editor. Full schema in the designing-email-templates skill."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.messaging_templates#EmailTemplateDesignBodyRowsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Rows of {id, cells, columns[{id, contents[{id, type, values}], values}], values}."
      }
    },
    "com.posthog.messaging_templates#EmailTemplateDesignBodyHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.messaging_templates#EmailTemplateDesignBodyFootersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.messaging_templates#EmailTemplateDesignBody": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Any unique string."
          }
        },
        "rows": {
          "target": "com.posthog.messaging_templates#EmailTemplateDesignBodyRowsList",
          "traits": {
            "smithy.api#documentation": "Rows of {id, cells, columns[{id, contents[{id, type, values}], values}], values}.",
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.posthog.messaging_templates#EmailTemplateDesignBodyHeadersList"
        },
        "footers": {
          "target": "com.posthog.messaging_templates#EmailTemplateDesignBodyFootersList"
        },
        "values": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Body-level settings: backgroundColor, contentWidth ('600px'), fontFamily, textColor."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.messaging_templates#EmailTemplateDesign": {
      "type": "structure",
      "members": {
        "counters": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Highest htmlID suffix per element type, e.g. {\"u_row\": 1, \"u_content_text\": 2}."
          }
        },
        "schemaVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Design schema version, e.g. 16.",
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.posthog.messaging_templates#EmailTemplateDesignBody",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Design JSON for PostHog's visual email editor — the authoring surface and source of truth. The server renders the sent email from it, and it opens as editable blocks in the editor. Full schema in the designing-email-templates skill."
      }
    },
    "com.posthog.messaging_templates#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.messaging_templates#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.messaging_templates#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.messaging_templates#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.messaging_templates#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.messaging_templates#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.messaging_templates#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.messaging_templates#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.messaging_templates#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.messaging_templates#PaginatedMessageTemplateListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.messaging_templates#MessageTemplate"
      },
      "traits": {}
    },
    "com.posthog.messaging_templates#MessagingTemplatesList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.messaging_templates#MessagingTemplatesListRequest"
      },
      "output": {
        "target": "com.posthog.messaging_templates#PaginatedMessageTemplateList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/messaging_templates/",
          "code": 200
        }
      }
    },
    "com.posthog.messaging_templates#MessagingTemplatesCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable template name shown in the library.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What the template is for and when to use it."
          }
        },
        "content": {
          "target": "com.posthog.messaging_templates#MessageTemplateContent",
          "traits": {
            "smithy.api#documentation": "Template content keyed by channel. Replaced as a whole on update, not merged."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message channel of the template. Currently 'email'."
          }
        },
        "message_category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message category ID to file the template under. Must belong to the same project.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Soft-delete flag. Set true to remove the template from the library."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.messaging_templates#MessagingTemplatesCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.messaging_templates#MessagingTemplatesCreateRequest"
      },
      "output": {
        "target": "com.posthog.messaging_templates#MessageTemplate"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/messaging_templates/",
          "code": 200
        }
      }
    },
    "com.posthog.messaging_templates#MessagingTemplatesRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this message template."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.messaging_templates#MessagingTemplatesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.messaging_templates#MessagingTemplatesRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.messaging_templates#MessageTemplate"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/messaging_templates/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.messaging_templates#MessagingTemplatesUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this message template."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable template name shown in the library.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What the template is for and when to use it."
          }
        },
        "content": {
          "target": "com.posthog.messaging_templates#MessageTemplateContent",
          "traits": {
            "smithy.api#documentation": "Template content keyed by channel. Replaced as a whole on update, not merged."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message channel of the template. Currently 'email'."
          }
        },
        "message_category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message category ID to file the template under. Must belong to the same project.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Soft-delete flag. Set true to remove the template from the library."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.messaging_templates#MessagingTemplatesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.messaging_templates#MessagingTemplatesUpdateRequest"
      },
      "output": {
        "target": "com.posthog.messaging_templates#MessageTemplate"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/messaging_templates/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.messaging_templates#MessagingTemplatesPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this message template."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable template name shown in the library."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What the template is for and when to use it."
          }
        },
        "content": {
          "target": "com.posthog.messaging_templates#MessageTemplateContent",
          "traits": {
            "smithy.api#documentation": "Template content keyed by channel. Replaced as a whole on update, not merged."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message channel of the template. Currently 'email'."
          }
        },
        "message_category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message category ID to file the template under. Must belong to the same project.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Soft-delete flag. Set true to remove the template from the library."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.messaging_templates#MessagingTemplatesPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.messaging_templates#MessagingTemplatesPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.messaging_templates#MessageTemplate"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/messaging_templates/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.messaging_templates#MessagingTemplatesDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this message template."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.messaging_templates#MessagingTemplatesDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.messaging_templates#MessagingTemplatesDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/messaging_templates/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Hard delete of this model is not allowed. Use a patch API call to set \"deleted\" to true"
      }
    },
    "com.posthog.messaging_templates#DesignOperation": {
      "type": "structure",
      "members": {
        "op": {
          "target": "com.posthog.messaging_templates#EmailTemplateDesignOperationEnum",
          "traits": {
            "smithy.api#documentation": "Design edit. update_content {id, patch}: deep-merge patch into the content block's fields (a null leaf deletes that key) — the surgical path, e.g. change just values.text. update_row / update_column {id, patch} and update_body {patch}: same deep-merge for row/column/body-level settings. add_content {column_id, content, index?}: insert a content block into a column (id and Unlayer numbering are filled in for you). remove_content {id} / move_content {id, column_id, index?}: delete or relocate a block. add_row {row, index?} / remove_row {id}: add or delete a row.\n\n* `update_content` - update_content\n* `update_column` - update_column\n* `update_row` - update_row\n* `update_body` - update_body\n* `add_content` - add_content\n* `remove_content` - remove_content\n* `move_content` - move_content\n* `add_row` - add_row\n* `remove_row` - remove_row",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target node id. Required for update_content/column/row, remove_content, remove_row, move_content."
          }
        },
        "column_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target column id. Required for add_content and move_content."
          }
        },
        "patch": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "update_* only. Partial fields deep-merged into the existing node; a null leaf deletes that key. e.g. {values: {text: '<p>Hi</p>'}} changes only the block's text."
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "add_content only. A content block {type, values: {...}}; omit id and values._meta — they're assigned server-side. type is one of text, heading, button, image, divider, html, etc."
          }
        },
        "row": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "add_row only. A full row {cells, columns: [{contents: [...], values}], values}; ids and Unlayer numbering are assigned server-side for the row and everything nested in it."
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "add_*/move_content only. 0-based insert position; omit to append to the end."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.messaging_templates#EmailTemplateDesignOperationEnum": {
      "type": "enum",
      "members": {
        "UPDATE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update_content"
          }
        },
        "UPDATE_COLUMN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update_column"
          }
        },
        "UPDATE_ROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update_row"
          }
        },
        "UPDATE_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update_body"
          }
        },
        "ADD_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "add_content"
          }
        },
        "REMOVE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remove_content"
          }
        },
        "MOVE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "move_content"
          }
        },
        "ADD_ROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "add_row"
          }
        },
        "REMOVE_ROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remove_row"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `update_content` - update_content\n* `update_column` - update_column\n* `update_row` - update_row\n* `update_body` - update_body\n* `add_content` - add_content\n* `remove_content` - remove_content\n* `move_content` - move_content\n* `add_row` - add_row\n* `remove_row` - remove_row"
      }
    },
    "com.posthog.messaging_templates#MessagingTemplatesDesignPartialUpdateRequestOperationsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.messaging_templates#DesignOperation"
      },
      "traits": {
        "smithy.api#documentation": "Ordered edits applied atomically to a template's Unlayer design: the stored design is read, the ops are applied in order, the result is validated and re-rendered to HTML, and it's saved only if valid — otherwise the template is unchanged. Reference blocks by id so you never resend the whole design."
      }
    },
    "com.posthog.messaging_templates#MessagingTemplatesDesignPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this message template."
          }
        },
        "operations": {
          "target": "com.posthog.messaging_templates#MessagingTemplatesDesignPartialUpdateRequestOperationsList",
          "traits": {
            "smithy.api#documentation": "Ordered edits applied atomically to a template's Unlayer design: the stored design is read, the ops are applied in order, the result is validated and re-rendered to HTML, and it's saved only if valid — otherwise the template is unchanged. Reference blocks by id so you never resend the whole design."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.messaging_templates#MessagingTemplatesDesignPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.messaging_templates#MessagingTemplatesDesignPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.messaging_templates#MessageTemplate"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/messaging_templates/{id}/design/",
          "code": 200
        }
      }
    },
    "com.posthog.messaging_templates#MessagingTemplates": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.messaging_templates#MessagingTemplatesList"
        },
        {
          "target": "com.posthog.messaging_templates#MessagingTemplatesCreate"
        },
        {
          "target": "com.posthog.messaging_templates#MessagingTemplatesRetrieve"
        },
        {
          "target": "com.posthog.messaging_templates#MessagingTemplatesUpdate"
        },
        {
          "target": "com.posthog.messaging_templates#MessagingTemplatesPartialUpdate"
        },
        {
          "target": "com.posthog.messaging_templates#MessagingTemplatesDestroy"
        },
        {
          "target": "com.posthog.messaging_templates#MessagingTemplatesDesignPartialUpdate"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
