{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.organizations#ListRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#PaginatedOrganizationList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.organizations#PaginatedOrganizationListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#Organization": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "logo_media_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "membership_level": {
          "target": "com.posthog.organizations#EffectiveMembershipLevelEnum"
        },
        "plugins_access_level": {
          "target": "com.posthog.organizations#PluginsAccessLevelEnum"
        },
        "teams": {
          "target": "com.posthog.organizations#OrganizationTeamsList"
        },
        "projects": {
          "target": "com.posthog.organizations#OrganizationProjectsList"
        },
        "available_product_features": {
          "target": "com.posthog.organizations#OrganizationAvailableProductFeaturesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_member_join_email_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Legacy field; member-join emails are controlled per user in account notification settings."
          }
        },
        "metadata": {
          "target": "com.posthog.organizations#OrganizationMetadataMap"
        },
        "customer_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_2fa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_invite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_create_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, organization members (below admin) are allowed to create new projects. Admins and owners can always create projects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_use_personal_api_keys": {
          "target": "smithy.api#Boolean"
        },
        "allow_publicly_shared_resources": {
          "target": "smithy.api#Boolean"
        },
        "member_count": {
          "target": "smithy.api#Integer"
        },
        "is_ai_data_processing_approved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_opted_in": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, this organization allows its data to be used to train PostHog AI models.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, the AI training opt-out setting cannot be modified through the UI or API.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_cta_shown": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, in-app callouts inviting members to enable AI training are shown.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_hipaa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_experiment_stats_method": {
          "target": "com.posthog.organizations#OrganizationDefaultExperimentStatsMethod",
          "traits": {
            "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_anonymize_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default setting for 'Discard client IP data' for new projects in this organization."
          }
        },
        "default_role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the role to automatically assign to new members joining the organization",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set this to 'No' to temporarily disable an organization.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_not_active_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "(optional) reason for why the organization has been de-activated. This will be displayed to users on the web app.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_pending_deletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to True when org deletion has been initiated. Blocks all UI access until the async task completes.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#EffectiveMembershipLevelEnum": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 8
          }
        },
        "_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 15
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#PluginsAccessLevelEnum": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        },
        "_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 6
          }
        },
        "_9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 9
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `0` - none\n* `3` - config\n* `6` - install\n* `9` - root"
      }
    },
    "com.posthog.organizations#OrganizationTeamsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationTeamsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#OrganizationTeamsItemMap"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationProjectsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationProjectsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#OrganizationProjectsItemMap"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationAvailableProductFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.organizations#DefaultExperimentStatsMethodEnum": {
      "type": "enum",
      "members": {
        "BAYESIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bayesian"
          }
        },
        "FREQUENTIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "frequentist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `bayesian` - Bayesian\n* `frequentist` - Frequentist"
      }
    },
    "com.posthog.organizations#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationDefaultExperimentStatsMethod": {
      "type": "union",
      "members": {
        "DefaultExperimentStatsMethodEnum": {
          "target": "com.posthog.organizations#DefaultExperimentStatsMethodEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist"
      }
    },
    "com.posthog.organizations#PaginatedOrganizationListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#Organization"
      },
      "traits": {}
    },
    "com.posthog.organizations#List": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#ListRequest"
      },
      "output": {
        "target": "com.posthog.organizations#PaginatedOrganizationList"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#CreateRequestDefaultExperimentStatsMethod": {
      "type": "union",
      "members": {
        "DefaultExperimentStatsMethodEnum": {
          "target": "com.posthog.organizations#DefaultExperimentStatsMethodEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist"
      }
    },
    "com.posthog.organizations#CreateRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "logo_media_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_2fa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_invite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_create_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, organization members (below admin) are allowed to create new projects. Admins and owners can always create projects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_use_personal_api_keys": {
          "target": "smithy.api#Boolean"
        },
        "allow_publicly_shared_resources": {
          "target": "smithy.api#Boolean"
        },
        "is_ai_data_processing_approved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_opted_in": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, this organization allows its data to be used to train PostHog AI models.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_experiment_stats_method": {
          "target": "com.posthog.organizations#CreateRequestDefaultExperimentStatsMethod",
          "traits": {
            "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_anonymize_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default setting for 'Discard client IP data' for new projects in this organization."
          }
        },
        "default_role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the role to automatically assign to new members joining the organization",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#Create": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#CreateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#Organization"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#RetrieveRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#Retrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#RetrieveRequest"
      },
      "output": {
        "target": "com.posthog.organizations#Organization"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#UpdateRequestDefaultExperimentStatsMethod": {
      "type": "union",
      "members": {
        "DefaultExperimentStatsMethodEnum": {
          "target": "com.posthog.organizations#DefaultExperimentStatsMethodEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist"
      }
    },
    "com.posthog.organizations#UpdateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "logo_media_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_2fa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_invite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_create_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, organization members (below admin) are allowed to create new projects. Admins and owners can always create projects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_use_personal_api_keys": {
          "target": "smithy.api#Boolean"
        },
        "allow_publicly_shared_resources": {
          "target": "smithy.api#Boolean"
        },
        "is_ai_data_processing_approved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_opted_in": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, this organization allows its data to be used to train PostHog AI models.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_experiment_stats_method": {
          "target": "com.posthog.organizations#UpdateRequestDefaultExperimentStatsMethod",
          "traits": {
            "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_anonymize_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default setting for 'Discard client IP data' for new projects in this organization."
          }
        },
        "default_role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the role to automatically assign to new members joining the organization",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#Update": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#UpdateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#Organization"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/organizations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#PartialUpdateRequestDefaultExperimentStatsMethod": {
      "type": "union",
      "members": {
        "DefaultExperimentStatsMethodEnum": {
          "target": "com.posthog.organizations#DefaultExperimentStatsMethodEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist"
      }
    },
    "com.posthog.organizations#PartialUpdateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "logo_media_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_2fa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_invite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_create_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, organization members (below admin) are allowed to create new projects. Admins and owners can always create projects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_use_personal_api_keys": {
          "target": "smithy.api#Boolean"
        },
        "allow_publicly_shared_resources": {
          "target": "smithy.api#Boolean"
        },
        "is_ai_data_processing_approved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_opted_in": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, this organization allows its data to be used to train PostHog AI models.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_experiment_stats_method": {
          "target": "com.posthog.organizations#PartialUpdateRequestDefaultExperimentStatsMethod",
          "traits": {
            "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_anonymize_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default setting for 'Discard client IP data' for new projects in this organization."
          }
        },
        "default_role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the role to automatically assign to new members joining the organization",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#PartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#PartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#Organization"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/organizations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#DestroyRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#Destroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/organizations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#RequestAiAccessCreateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#OrganizationAIAccessRequestResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the access request was accepted and the organization admins were notified.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#RequestAiAccessCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#RequestAiAccessCreateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationAIAccessRequestResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{id}/request_ai_access/",
          "code": 200
        },
        "smithy.api#documentation": "Notify organization admins that a member is requesting PostHog AI be enabled."
      }
    },
    "com.posthog.organizations#CimdVerificationTokensListRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#PaginatedCIMDVerificationTokenList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.organizations#PaginatedCIMDVerificationTokenListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#CIMDVerificationToken": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mask_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.organizations#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.organizations#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.organizations#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.organizations#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.organizations#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.organizations#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#PaginatedCIMDVerificationTokenListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#CIMDVerificationToken"
      },
      "traits": {}
    },
    "com.posthog.organizations#CimdVerificationTokensList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#CimdVerificationTokensListRequest"
      },
      "output": {
        "target": "com.posthog.organizations#PaginatedCIMDVerificationTokenList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/cimd_verification_tokens/",
          "code": 200
        },
        "smithy.api#documentation": "Manage CIMD verification tokens for an organization.\n\nA partner embeds the plaintext token in their CIMD metadata document as\n`verification_token` inside the `com.posthog` object (the legacy top-level\n`posthog_verification_token` field still works as a fallback). When PostHog fetches\nthe metadata, matching the token links the partner app to this organization and\ngrants a higher default rate limit for account provisioning.\n\nThe plaintext value is only available on creation; we store a hash."
      }
    },
    "com.posthog.organizations#CimdVerificationTokensCreateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#CIMDVerificationTokenWithValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mask_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.organizations#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plaintext token, only returned on creation",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Create-response variant that includes the plaintext token.\n\nOnly emitted from the create endpoint - storage-side we only persist the\nhash, so subsequent reads use the base serializer."
      }
    },
    "com.posthog.organizations#CimdVerificationTokensCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#CimdVerificationTokensCreateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#CIMDVerificationTokenWithValue"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/cimd_verification_tokens/",
          "code": 200
        },
        "smithy.api#documentation": "Manage CIMD verification tokens for an organization.\n\nA partner embeds the plaintext token in their CIMD metadata document as\n`verification_token` inside the `com.posthog` object (the legacy top-level\n`posthog_verification_token` field still works as a fallback). When PostHog fetches\nthe metadata, matching the token links the partner app to this organization and\ngrants a higher default rate limit for account provisioning.\n\nThe plaintext value is only available on creation; we store a hash."
      }
    },
    "com.posthog.organizations#CimdVerificationTokensRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this CIMD Verification Token."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#CimdVerificationTokensRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#CimdVerificationTokensRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.organizations#CIMDVerificationToken"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/cimd_verification_tokens/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Manage CIMD verification tokens for an organization.\n\nA partner embeds the plaintext token in their CIMD metadata document as\n`verification_token` inside the `com.posthog` object (the legacy top-level\n`posthog_verification_token` field still works as a fallback). When PostHog fetches\nthe metadata, matching the token links the partner app to this organization and\ngrants a higher default rate limit for account provisioning.\n\nThe plaintext value is only available on creation; we store a hash."
      }
    },
    "com.posthog.organizations#CimdVerificationTokensDestroyRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this CIMD Verification Token."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#CimdVerificationTokensDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#CimdVerificationTokensDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/organizations/{organization_id}/cimd_verification_tokens/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Manage CIMD verification tokens for an organization.\n\nA partner embeds the plaintext token in their CIMD metadata document as\n`verification_token` inside the `com.posthog` object (the legacy top-level\n`posthog_verification_token` field still works as a fallback). When PostHog fetches\nthe metadata, matching the token links the partner app to this organization and\ngrants a higher default rate limit for account provisioning.\n\nThe plaintext value is only available on creation; we store a hash."
      }
    },
    "com.posthog.organizations#DomainsListRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#PaginatedOrganizationDomainList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.organizations#PaginatedOrganizationDomainListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationDomain": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "is_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether a domain is verified or not."
          }
        },
        "verified_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "verification_challenge": {
          "target": "smithy.api#String"
        },
        "jit_provisioning_enabled": {
          "target": "smithy.api#Boolean"
        },
        "sso_enforcement": {
          "target": "smithy.api#String"
        },
        "has_saml": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns whether SAML is configured for the instance. Does not validate the user has the required license (that check is performed in other places)."
          }
        },
        "saml_entity_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_acs_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_x509_cert": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_scim": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns whether SCIM is configured and enabled for this domain."
          }
        },
        "scim_enabled": {
          "target": "smithy.api#Boolean"
        },
        "scim_base_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "scim_bearer_token": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_id_jag": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns whether ID-JAG (XAA) is configured for this domain."
          }
        },
        "id_jag_issuer_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trusted IdP issuer URL for ID-JAG (XAA). Required to enable ID-JAG on this domain.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_jwks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Override JWKS URL. Defaults to OIDC discovery on the issuer URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_allowed_clients": {
          "target": "com.posthog.organizations#OrganizationDomainIdJagAllowedClientsList",
          "traits": {
            "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationDomainIdJagAllowedClientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
      }
    },
    "com.posthog.organizations#PaginatedOrganizationDomainListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#OrganizationDomain"
      },
      "traits": {}
    },
    "com.posthog.organizations#DomainsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DomainsListRequest"
      },
      "output": {
        "target": "com.posthog.organizations#PaginatedOrganizationDomainList"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/domains/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#DomainsCreateRequestIdJagAllowedClientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
      }
    },
    "com.posthog.organizations#DomainsCreateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "jit_provisioning_enabled": {
          "target": "smithy.api#Boolean"
        },
        "sso_enforcement": {
          "target": "smithy.api#String"
        },
        "saml_entity_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_acs_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_x509_cert": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "scim_enabled": {
          "target": "smithy.api#Boolean"
        },
        "id_jag_issuer_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trusted IdP issuer URL for ID-JAG (XAA). Required to enable ID-JAG on this domain.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_jwks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Override JWKS URL. Defaults to OIDC discovery on the issuer URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_allowed_clients": {
          "target": "com.posthog.organizations#DomainsCreateRequestIdJagAllowedClientsList",
          "traits": {
            "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#DomainsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DomainsCreateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationDomain"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/domains/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#DomainsRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this domain."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#DomainsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DomainsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationDomain"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/domains/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#DomainsUpdateRequestIdJagAllowedClientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
      }
    },
    "com.posthog.organizations#DomainsUpdateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this domain."
          }
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "jit_provisioning_enabled": {
          "target": "smithy.api#Boolean"
        },
        "sso_enforcement": {
          "target": "smithy.api#String"
        },
        "saml_entity_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_acs_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_x509_cert": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "scim_enabled": {
          "target": "smithy.api#Boolean"
        },
        "id_jag_issuer_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trusted IdP issuer URL for ID-JAG (XAA). Required to enable ID-JAG on this domain.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_jwks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Override JWKS URL. Defaults to OIDC discovery on the issuer URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_allowed_clients": {
          "target": "com.posthog.organizations#DomainsUpdateRequestIdJagAllowedClientsList",
          "traits": {
            "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#DomainsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DomainsUpdateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationDomain"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/organizations/{organization_id}/domains/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#DomainsPartialUpdateRequestIdJagAllowedClientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
      }
    },
    "com.posthog.organizations#DomainsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this domain."
          }
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "jit_provisioning_enabled": {
          "target": "smithy.api#Boolean"
        },
        "sso_enforcement": {
          "target": "smithy.api#String"
        },
        "saml_entity_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_acs_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_x509_cert": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "scim_enabled": {
          "target": "smithy.api#Boolean"
        },
        "id_jag_issuer_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trusted IdP issuer URL for ID-JAG (XAA). Required to enable ID-JAG on this domain.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_jwks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Override JWKS URL. Defaults to OIDC discovery on the issuer URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_allowed_clients": {
          "target": "com.posthog.organizations#DomainsPartialUpdateRequestIdJagAllowedClientsList",
          "traits": {
            "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#DomainsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DomainsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationDomain"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/organizations/{organization_id}/domains/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#DomainsDestroyRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this domain."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#DomainsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DomainsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/organizations/{organization_id}/domains/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#DomainsScimLogsRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this domain."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#DomainsScimLogsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DomainsScimLogsRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/domains/{id}/scim/logs/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#DomainsScimTokenCreateRequestIdJagAllowedClientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
      }
    },
    "com.posthog.organizations#DomainsScimTokenCreateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this domain."
          }
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "jit_provisioning_enabled": {
          "target": "smithy.api#Boolean"
        },
        "sso_enforcement": {
          "target": "smithy.api#String"
        },
        "saml_entity_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_acs_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_x509_cert": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "scim_enabled": {
          "target": "smithy.api#Boolean"
        },
        "id_jag_issuer_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trusted IdP issuer URL for ID-JAG (XAA). Required to enable ID-JAG on this domain.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_jwks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Override JWKS URL. Defaults to OIDC discovery on the issuer URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_allowed_clients": {
          "target": "com.posthog.organizations#DomainsScimTokenCreateRequestIdJagAllowedClientsList",
          "traits": {
            "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#DomainsScimTokenCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DomainsScimTokenCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/domains/{id}/scim/token/",
          "code": 200
        },
        "smithy.api#documentation": "Regenerate SCIM bearer token."
      }
    },
    "com.posthog.organizations#DomainsVerifyCreateRequestIdJagAllowedClientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
      }
    },
    "com.posthog.organizations#DomainsVerifyCreateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this domain."
          }
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "jit_provisioning_enabled": {
          "target": "smithy.api#Boolean"
        },
        "sso_enforcement": {
          "target": "smithy.api#String"
        },
        "saml_entity_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_acs_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_x509_cert": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "scim_enabled": {
          "target": "smithy.api#Boolean"
        },
        "id_jag_issuer_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trusted IdP issuer URL for ID-JAG (XAA). Required to enable ID-JAG on this domain.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_jwks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Override JWKS URL. Defaults to OIDC discovery on the issuer URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_allowed_clients": {
          "target": "com.posthog.organizations#DomainsVerifyCreateRequestIdJagAllowedClientsList",
          "traits": {
            "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#DomainsVerifyCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DomainsVerifyCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/domains/{id}/verify/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#IntegrationsEnvironmentMappingPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization integration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#OrganizationIntegration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "kind": {
          "target": "com.posthog.organizations#OrganizationIntegrationKindEnum"
        },
        "integration_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "config": {
          "target": "smithy.api#Document"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.organizations#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Serializer for organization-level integrations."
      }
    },
    "com.posthog.organizations#OrganizationIntegrationKindEnum": {
      "type": "enum",
      "members": {
        "VERCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vercel"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `vercel` - Vercel"
      }
    },
    "com.posthog.organizations#IntegrationsEnvironmentMappingPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#IntegrationsEnvironmentMappingPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationIntegration"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/organizations/{organization_id}/integrations/{id}/environment-mapping/",
          "code": 200
        },
        "smithy.api#documentation": "ViewSet for organization-level integrations.\n\nProvides access to integrations that are scoped to the entire organization\n(vs. project-level integrations). Examples include Vercel, AWS Marketplace, etc.\n\nCreation is handled by the integration installation flows\n(e.g., Vercel marketplace installation). Users can disconnect integrations\nvia the DELETE endpoint."
      }
    },
    "com.posthog.organizations#InvitesListRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#PaginatedOrganizationInviteListOutput": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.organizations#PaginatedOrganizationInviteListOutputResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationInviteOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "target_email": {
          "target": "smithy.api#String"
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "emailing_attempt_made": {
          "target": "smithy.api#Boolean"
        },
        "level": {
          "target": "com.posthog.organizations#OrganizationMembershipLevelEnum"
        },
        "is_expired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Check if invite is older than INVITE_DAYS_VALIDITY days."
          }
        },
        "created_by": {
          "target": "com.posthog.organizations#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "private_project_access": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "List of team IDs and corresponding access levels to private projects."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationMembershipLevelEnum": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 8
          }
        },
        "_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 15
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `1` - member\n* `8` - administrator\n* `15` - owner"
      }
    },
    "com.posthog.organizations#PaginatedOrganizationInviteListOutputResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#OrganizationInviteOutput"
      },
      "traits": {}
    },
    "com.posthog.organizations#InvitesList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#InvitesListRequest"
      },
      "output": {
        "target": "com.posthog.organizations#PaginatedOrganizationInviteListOutput"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/invites/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#InvitesCreateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "target_email": {
          "target": "smithy.api#String"
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "level": {
          "target": "com.posthog.organizations#OrganizationMembershipLevelEnum"
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "private_project_access": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "List of team IDs and corresponding access levels to private projects."
          }
        },
        "send_email": {
          "target": "smithy.api#Boolean"
        },
        "combine_pending_invites": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#InvitesCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#InvitesCreateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationInviteOutput"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/invites/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#InvitesDestroyRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization invite."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#InvitesDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#InvitesDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/organizations/{organization_id}/invites/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#InvitesBulkCreateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "target_email": {
          "target": "smithy.api#String"
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "level": {
          "target": "com.posthog.organizations#OrganizationMembershipLevelEnum"
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "private_project_access": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "List of team IDs and corresponding access levels to private projects."
          }
        },
        "send_email": {
          "target": "smithy.api#Boolean"
        },
        "combine_pending_invites": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#InvitesBulkCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#InvitesBulkCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/invites/bulk/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#InvitesDelegateCreateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "target_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the teammate who should complete setup on the inviter's behalf. Receives a PostHog-branded delegation invite granting admin-level membership on accept.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional personal message included in the delegation email (up to 1000 characters)."
          }
        },
        "step_at_delegation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Onboarding step key the delegator was on when delegating, for analytics only."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#InvitesDelegateCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#InvitesDelegateCreateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationInviteOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/invites/delegate/",
          "code": 200
        },
        "smithy.api#documentation": "Create an onboarding delegation invite: an admin-level invite flagged as a setup delegation.\nSends a single dedicated delegation email and records the inviting user as having delegated."
      }
    },
    "com.posthog.organizations#LegalDocumentsListRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#PaginatedLegalDocumentDTOList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.organizations#PaginatedLegalDocumentDTOListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#LegalDocumentDTO": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "document_type": {
          "target": "smithy.api#String"
        },
        "company_name": {
          "target": "smithy.api#String"
        },
        "representative_email": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.organizations#LegalDocumentCreator",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Output serializer — what the API returns for every row."
      }
    },
    "com.posthog.organizations#LegalDocumentCreator": {
      "type": "structure",
      "members": {
        "first_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#PaginatedLegalDocumentDTOListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#LegalDocumentDTO"
      },
      "traits": {}
    },
    "com.posthog.organizations#LegalDocumentsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#LegalDocumentsListRequest"
      },
      "output": {
        "target": "com.posthog.organizations#PaginatedLegalDocumentDTOList"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/legal_documents/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#CreateLegalDocumentDocumentTypeEnum": {
      "type": "enum",
      "members": {
        "BAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAA"
          }
        },
        "DPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DPA"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `BAA` - BAA\n* `DPA` - DPA"
      }
    },
    "com.posthog.organizations#LegalDocumentsCreateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "document_type": {
          "target": "com.posthog.organizations#CreateLegalDocumentDocumentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Either 'BAA' or 'DPA'.\n\n* `BAA` - BAA\n* `DPA` - DPA"
          }
        },
        "company_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer legal entity entering the agreement (PandaDoc's Client.Company)."
          }
        },
        "company_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer address (PandaDoc's Client.StreetAddress)."
          }
        },
        "representative_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email the signed PandaDoc envelope is sent to (PandaDoc's Client.Email)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#LegalDocumentsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#LegalDocumentsCreateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#LegalDocumentDTO"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/legal_documents/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#LegalDocumentsRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#LegalDocumentsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#LegalDocumentsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.organizations#LegalDocumentDTO"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/legal_documents/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#LegalDocumentsDestroyRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#LegalDocumentsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#LegalDocumentsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/organizations/{organization_id}/legal_documents/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Delete an unsigned legal document. The PandaDoc envelope is voided\nfirst so the original signer can no longer complete it; only if that\nsucceeds is the row removed, freeing the unique-per-org-per-type\nconstraint so a fresh document can be generated.\n\nReturns 503 if the PandaDoc void fails — the row stays in that case\nand the frontend should prompt the user to retry. Returns 403 for\nsigned documents (legal artifacts; staff can still delete signed\nrows from Django admin)."
      }
    },
    "com.posthog.organizations#LegalDocumentsDownloadRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#LegalDocumentsDownloadRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#LegalDocumentsDownloadRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/legal_documents/{id}/download/",
          "code": 200
        },
        "smithy.api#documentation": "Short-lived redirect to the signed PDF in object storage. 404 while the\nenvelope is still out for signature (or if the upload hasn't completed\nyet). The underlying presigned URL expires in ~60s; clients should hit\nthis endpoint each time they want to view the PDF rather than caching."
      }
    },
    "com.posthog.organizations#MembersListRequestOrder": {
      "type": "enum",
      "members": {
        "JOINED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-joined_at"
          }
        },
        "JOINED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "joined_at"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#MembersListRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "order": {
          "target": "com.posthog.organizations#MembersListRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Sort order. Defaults to `-joined_at`."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Match against member `first_name`, `last_name`, and `email`. Returns case-insensitive substring matches and fuzzy trigram matches (typos, prefix-as-you-type) together, ordered exact-first; each result's `search_match_type` is `exact` or `similar`. Capped at 200 characters."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#PaginatedOrganizationMemberList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
[...]
