{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.project_secret_api_keys#PaginatedProjectSecretAPIKeyList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.project_secret_api_keys#PaginatedProjectSecretAPIKeyListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.project_secret_api_keys#ProjectSecretAPIKey": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        },
        "mask_value": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.project_secret_api_keys#UserBasic"
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_rolled_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "scopes": {
          "target": "com.posthog.project_secret_api_keys#ProjectSecretAPIKeyScopesList",
          "traits": {
            "smithy.api#documentation": "Project-wide API scopes granted to this key. Project secret API keys do not honor object-level access controls, so a scope can access resources of that type even when per-resource RBAC would hide them from an individual user."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.project_secret_api_keys#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.project_secret_api_keys#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.project_secret_api_keys#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.project_secret_api_keys#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.project_secret_api_keys#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.project_secret_api_keys#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.project_secret_api_keys#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.project_secret_api_keys#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.project_secret_api_keys#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.project_secret_api_keys#ProjectSecretAPIKeyScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Project-wide API scopes granted to this key. Project secret API keys do not honor object-level access controls, so a scope can access resources of that type even when per-resource RBAC would hide them from an individual user."
      }
    },
    "com.posthog.project_secret_api_keys#PaginatedProjectSecretAPIKeyListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.project_secret_api_keys#ProjectSecretAPIKey"
      },
      "traits": {}
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysListRequest"
      },
      "output": {
        "target": "com.posthog.project_secret_api_keys#PaginatedProjectSecretAPIKeyList"
      },
      "errors": [
        {
          "target": "com.posthog.project_secret_api_keys#BadRequest"
        },
        {
          "target": "com.posthog.project_secret_api_keys#Forbidden"
        },
        {
          "target": "com.posthog.project_secret_api_keys#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/project_secret_api_keys/",
          "code": 200
        }
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysCreateRequestScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Project-wide API scopes granted to this key. Project secret API keys do not honor object-level access controls, so a scope can access resources of that type even when per-resource RBAC would hide them from an individual user."
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "label": {
          "target": "smithy.api#String"
        },
        "scopes": {
          "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysCreateRequestScopesList",
          "traits": {
            "smithy.api#documentation": "Project-wide API scopes granted to this key. Project secret API keys do not honor object-level access controls, so a scope can access resources of that type even when per-resource RBAC would hide them from an individual user."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysCreateRequest"
      },
      "output": {
        "target": "com.posthog.project_secret_api_keys#ProjectSecretAPIKey"
      },
      "errors": [
        {
          "target": "com.posthog.project_secret_api_keys#BadRequest"
        },
        {
          "target": "com.posthog.project_secret_api_keys#Forbidden"
        },
        {
          "target": "com.posthog.project_secret_api_keys#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/project_secret_api_keys/",
          "code": 200
        }
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique value identifying this project secret api key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.project_secret_api_keys#ProjectSecretAPIKey"
      },
      "errors": [
        {
          "target": "com.posthog.project_secret_api_keys#Forbidden"
        },
        {
          "target": "com.posthog.project_secret_api_keys#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/project_secret_api_keys/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysUpdateRequestScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Project-wide API scopes granted to this key. Project secret API keys do not honor object-level access controls, so a scope can access resources of that type even when per-resource RBAC would hide them from an individual user."
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique value identifying this project secret api key."
          }
        },
        "label": {
          "target": "smithy.api#String"
        },
        "scopes": {
          "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysUpdateRequestScopesList",
          "traits": {
            "smithy.api#documentation": "Project-wide API scopes granted to this key. Project secret API keys do not honor object-level access controls, so a scope can access resources of that type even when per-resource RBAC would hide them from an individual user."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysUpdateRequest"
      },
      "output": {
        "target": "com.posthog.project_secret_api_keys#ProjectSecretAPIKey"
      },
      "errors": [
        {
          "target": "com.posthog.project_secret_api_keys#BadRequest"
        },
        {
          "target": "com.posthog.project_secret_api_keys#Forbidden"
        },
        {
          "target": "com.posthog.project_secret_api_keys#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/project_secret_api_keys/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysPartialUpdateRequestScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Project-wide API scopes granted to this key. Project secret API keys do not honor object-level access controls, so a scope can access resources of that type even when per-resource RBAC would hide them from an individual user."
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique value identifying this project secret api key."
          }
        },
        "label": {
          "target": "smithy.api#String"
        },
        "scopes": {
          "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysPartialUpdateRequestScopesList",
          "traits": {
            "smithy.api#documentation": "Project-wide API scopes granted to this key. Project secret API keys do not honor object-level access controls, so a scope can access resources of that type even when per-resource RBAC would hide them from an individual user."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.project_secret_api_keys#ProjectSecretAPIKey"
      },
      "errors": [
        {
          "target": "com.posthog.project_secret_api_keys#BadRequest"
        },
        {
          "target": "com.posthog.project_secret_api_keys#Forbidden"
        },
        {
          "target": "com.posthog.project_secret_api_keys#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/project_secret_api_keys/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique value identifying this project secret api key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.project_secret_api_keys#Forbidden"
        },
        {
          "target": "com.posthog.project_secret_api_keys#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/project_secret_api_keys/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysRollCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique value identifying this project secret api key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeysRollCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysRollCreateRequest"
      },
      "output": {
        "target": "com.posthog.project_secret_api_keys#ProjectSecretAPIKey"
      },
      "errors": [
        {
          "target": "com.posthog.project_secret_api_keys#Forbidden"
        },
        {
          "target": "com.posthog.project_secret_api_keys#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/project_secret_api_keys/{id}/roll/",
          "code": 200
        },
        "smithy.api#documentation": "Roll a project secret API key"
      }
    },
    "com.posthog.project_secret_api_keys#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.project_secret_api_keys#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.posthog.project_secret_api_keys#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.posthog.project_secret_api_keys#ProjectSecretApiKeys": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysList"
        },
        {
          "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysCreate"
        },
        {
          "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysRetrieve"
        },
        {
          "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysUpdate"
        },
        {
          "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysPartialUpdate"
        },
        {
          "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysDestroy"
        },
        {
          "target": "com.posthog.project_secret_api_keys#ProjectSecretApiKeysRollCreate"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
