{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.property_definitions#PropertyDefinitionsListRequestType": {
      "type": "enum",
      "members": {
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event"
          }
        },
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        },
        "SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.property_definitions#PropertyDefinitionsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "event_names": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "event_names",
            "smithy.api#documentation": "If sent, response value will have `is_seen_on_filtered_events` populated. JSON-encoded"
          }
        },
        "exclude_core_properties": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "exclude_core_properties",
            "smithy.api#documentation": "Whether to exclude core properties"
          }
        },
        "exclude_hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "exclude_hidden",
            "smithy.api#documentation": "Whether to exclude properties marked as hidden"
          }
        },
        "exclude_restricted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "exclude_restricted",
            "smithy.api#documentation": "Whether to exclude properties that the current user does not have read access to via field-level access control"
          }
        },
        "excluded_properties": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "excluded_properties",
            "smithy.api#documentation": "JSON-encoded list of excluded properties"
          }
        },
        "filter_by_event_names": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "filter_by_event_names",
            "smithy.api#documentation": "Whether to return only properties for events in `event_names`. Note: this event scoping does not apply to feature flag properties ($feature/*), which are global and not tracked per-event; to retrieve feature flags use is_feature_flag=true instead."
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "group_type_index",
            "smithy.api#documentation": "What group type is the property for. Only should be set if `type=group`"
          }
        },
        "is_feature_flag": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "is_feature_flag",
            "smithy.api#documentation": "Whether to return only (or excluding) feature flag properties ($feature/*). Flags are global, not per-event, so they can't be scoped by event_names/filter_by_event_names — pass is_feature_flag=true to list them all."
          }
        },
        "is_numerical": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "is_numerical",
            "smithy.api#documentation": "Whether to return only (or excluding) numerical property definitions"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "properties": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "properties",
            "smithy.api#documentation": "Comma-separated list of properties to filter"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Searches properties by name"
          }
        },
        "type": {
          "target": "com.posthog.property_definitions#PropertyDefinitionsListRequestType",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#documentation": "What property definitions to return\n\n* `event` - event\n* `person` - person\n* `group` - group\n* `session` - session"
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "verified",
            "smithy.api#documentation": "Filter by verified status. True returns only verified, false returns only unverified."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.property_definitions#PaginatedEnterprisePropertyDefinitionList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.property_definitions#PaginatedEnterprisePropertyDefinitionListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.property_definitions#EnterprisePropertyDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.property_definitions#EnterprisePropertyDefinitionTagsList"
        },
        "is_numerical": {
          "target": "smithy.api#Boolean"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "updated_by": {
          "target": "com.posthog.property_definitions#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_seen_on_filtered_events": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "property_type": {
          "target": "com.posthog.property_definitions#EnterprisePropertyDefinitionPropertyType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified": {
          "target": "smithy.api#Boolean"
        },
        "verified_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified_by": {
          "target": "com.posthog.property_definitions#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Serializer mixin that handles tags for objects."
      }
    },
    "com.posthog.property_definitions#EnterprisePropertyDefinitionTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.property_definitions#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.property_definitions#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.property_definitions#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.property_definitions#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.property_definitions#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.property_definitions#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.property_definitions#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.property_definitions#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.property_definitions#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.property_definitions#PropertyDefinitionTypeEnum": {
      "type": "enum",
      "members": {
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DateTime"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "String"
          }
        },
        "NUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Numeric"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Boolean"
          }
        },
        "DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Duration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `DateTime` - DateTime\n* `String` - String\n* `Numeric` - Numeric\n* `Boolean` - Boolean\n* `Duration` - Duration"
      }
    },
    "com.posthog.property_definitions#EnterprisePropertyDefinitionPropertyType": {
      "type": "union",
      "members": {
        "PropertyDefinitionTypeEnum": {
          "target": "com.posthog.property_definitions#PropertyDefinitionTypeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.property_definitions#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.property_definitions#PaginatedEnterprisePropertyDefinitionListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.property_definitions#EnterprisePropertyDefinition"
      },
      "traits": {}
    },
    "com.posthog.property_definitions#PropertyDefinitionsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.property_definitions#PropertyDefinitionsListRequest"
      },
      "output": {
        "target": "com.posthog.property_definitions#PaginatedEnterprisePropertyDefinitionList"
      },
      "errors": [
        {
          "target": "com.posthog.property_definitions#BadRequest"
        },
        {
          "target": "com.posthog.property_definitions#Forbidden"
        },
        {
          "target": "com.posthog.property_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/property_definitions/",
          "code": 200
        }
      }
    },
    "com.posthog.property_definitions#PropertyDefinitionsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this property definition."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.property_definitions#PropertyDefinitionsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.property_definitions#PropertyDefinitionsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.property_definitions#EnterprisePropertyDefinition"
      },
      "errors": [
        {
          "target": "com.posthog.property_definitions#Forbidden"
        },
        {
          "target": "com.posthog.property_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/property_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.property_definitions#PropertyDefinitionsUpdateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.property_definitions#PropertyDefinitionsUpdateRequestPropertyType": {
      "type": "union",
      "members": {
        "PropertyDefinitionTypeEnum": {
          "target": "com.posthog.property_definitions#PropertyDefinitionTypeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.property_definitions#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.property_definitions#PropertyDefinitionsUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this property definition."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.property_definitions#PropertyDefinitionsUpdateRequestTagsList"
        },
        "property_type": {
          "target": "com.posthog.property_definitions#PropertyDefinitionsUpdateRequestPropertyType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified": {
          "target": "smithy.api#Boolean"
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.property_definitions#PropertyDefinitionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.property_definitions#PropertyDefinitionsUpdateRequest"
      },
      "output": {
        "target": "com.posthog.property_definitions#EnterprisePropertyDefinition"
      },
      "errors": [
        {
          "target": "com.posthog.property_definitions#BadRequest"
        },
        {
          "target": "com.posthog.property_definitions#Forbidden"
        },
        {
          "target": "com.posthog.property_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/property_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.property_definitions#PropertyDefinitionsPartialUpdateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.property_definitions#PropertyDefinitionsPartialUpdateRequestPropertyType": {
      "type": "union",
      "members": {
        "PropertyDefinitionTypeEnum": {
          "target": "com.posthog.property_definitions#PropertyDefinitionTypeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.property_definitions#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.property_definitions#PropertyDefinitionsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this property definition."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.property_definitions#PropertyDefinitionsPartialUpdateRequestTagsList"
        },
        "property_type": {
          "target": "com.posthog.property_definitions#PropertyDefinitionsPartialUpdateRequestPropertyType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified": {
          "target": "smithy.api#Boolean"
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.property_definitions#PropertyDefinitionsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.property_definitions#PropertyDefinitionsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.property_definitions#EnterprisePropertyDefinition"
      },
      "errors": [
        {
          "target": "com.posthog.property_definitions#BadRequest"
        },
        {
          "target": "com.posthog.property_definitions#Forbidden"
        },
        {
          "target": "com.posthog.property_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/property_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.property_definitions#PropertyDefinitionsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this property definition."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.property_definitions#PropertyDefinitionsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.property_definitions#PropertyDefinitionsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.property_definitions#Forbidden"
        },
        {
          "target": "com.posthog.property_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/property_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.property_definitions#PropertyDefinitionsBulkUpdateTagsCreateRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of object IDs to update tags on."
      }
    },
    "com.posthog.property_definitions#ActionEnum": {
      "type": "enum",
      "members": {
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "add"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remove"
          }
        },
        "SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `add` - add\n* `remove` - remove\n* `set` - set"
      }
    },
    "com.posthog.property_definitions#PropertyDefinitionsBulkUpdateTagsCreateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tag names to add, remove, or set."
      }
    },
    "com.posthog.property_definitions#PropertyDefinitionsBulkUpdateTagsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "ids": {
          "target": "com.posthog.property_definitions#PropertyDefinitionsBulkUpdateTagsCreateRequestIdsList",
          "traits": {
            "smithy.api#documentation": "List of object IDs to update tags on."
          }
        },
        "action": {
          "target": "com.posthog.property_definitions#ActionEnum",
          "traits": {
            "smithy.api#documentation": "'add' merges with existing tags, 'remove' deletes specific tags, 'set' replaces all tags.\n\n* `add` - add\n* `remove` - remove\n* `set` - set"
          }
        },
        "tags": {
          "target": "com.posthog.property_definitions#PropertyDefinitionsBulkUpdateTagsCreateRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Tag names to add, remove, or set."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.property_definitions#BulkUpdateTagsResponse": {
      "type": "structure",
      "members": {
        "updated": {
          "target": "com.posthog.property_definitions#BulkUpdateTagsResponseUpdatedList"
        },
        "skipped": {
          "target": "com.posthog.property_definitions#BulkUpdateTagsResponseSkippedList"
        }
      },
      "traits": {}
    },
    "com.posthog.property_definitions#BulkUpdateTagsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "tags": {
          "target": "com.posthog.property_definitions#BulkUpdateTagsItemTagsList"
        }
      },
      "traits": {}
    },
    "com.posthog.property_definitions#BulkUpdateTagsItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.property_definitions#BulkUpdateTagsResponseUpdatedList": {
      "type": "list",
      "member": {
        "target": "com.posthog.property_definitions#BulkUpdateTagsItem"
      },
      "traits": {}
    },
    "com.posthog.property_definitions#BulkUpdateTagsError": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "reason": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.property_definitions#BulkUpdateTagsResponseSkippedList": {
      "type": "list",
      "member": {
        "target": "com.posthog.property_definitions#BulkUpdateTagsError"
      },
      "traits": {}
    },
    "com.posthog.property_definitions#PropertyDefinitionsBulkUpdateTagsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.property_definitions#PropertyDefinitionsBulkUpdateTagsCreateRequest"
      },
      "output": {
        "target": "com.posthog.property_definitions#BulkUpdateTagsResponse"
      },
      "errors": [
        {
          "target": "com.posthog.property_definitions#BadRequest"
        },
        {
          "target": "com.posthog.property_definitions#Forbidden"
        },
        {
          "target": "com.posthog.property_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/property_definitions/bulk_update_tags/",
          "code": 200
        },
        "smithy.api#documentation": "Bulk update tags on multiple objects.\n\nPAT access: this action has no ``required_scopes=`` on the decorator —\ninheriting viewsets must add ``\"bulk_update_tags\"`` to their\n``scope_object_write_actions`` list to accept personal API keys.\nWithout that opt-in, ``APIScopePermission`` rejects PAT requests with\n\"This action does not support personal API key access\". Done per-viewset\nso granting ``<scope>:write`` for one resource doesn't leak access to\nsibling resources that share this mixin.\n\nAccepts:\n- {\"ids\": [...], \"action\": \"add\"|\"remove\"|\"set\", \"tags\": [\"tag1\", \"tag2\"]}\n\nActions:\n- \"add\": Add tags to existing tags on each object\n- \"remove\": Remove specific tags from each object\n- \"set\": Replace all tags on each object with the provided list"
      }
    },
    "com.posthog.property_definitions#PropertyDefinitionsSeenTogetherRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.property_definitions#PropertyDefinitionsSeenTogetherRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.property_definitions#PropertyDefinitionsSeenTogetherRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.property_definitions#Forbidden"
        },
        {
          "target": "com.posthog.property_definitions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/property_definitions/seen_together/",
          "code": 200
        },
        "smithy.api#documentation": "Allows a caller to provide a list of event names and a single property name\nReturns a map of the event names to a boolean representing whether that property has ever been seen with that event_name"
      }
    },
    "com.posthog.property_definitions#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.property_definitions#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.posthog.property_definitions#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.posthog.property_definitions#PropertyDefinitions": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.property_definitions#PropertyDefinitionsList"
        },
        {
          "target": "com.posthog.property_definitions#PropertyDefinitionsRetrieve"
        },
        {
          "target": "com.posthog.property_definitions#PropertyDefinitionsUpdate"
        },
        {
          "target": "com.posthog.property_definitions#PropertyDefinitionsPartialUpdate"
        },
        {
          "target": "com.posthog.property_definitions#PropertyDefinitionsDestroy"
        },
        {
          "target": "com.posthog.property_definitions#PropertyDefinitionsBulkUpdateTagsCreate"
        },
        {
          "target": "com.posthog.property_definitions#PropertyDefinitionsSeenTogetherRetrieve"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
