{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.query#DashboardFilter": {
      "type": "structure",
      "members": {
        "breakdown_filter": {
          "target": "com.posthog.query#BreakdownFilter",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "explicitDate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.posthog.query#DashboardFilterPropertiesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#BreakdownFilter": {
      "type": "structure",
      "members": {
        "breakdown": {
          "target": "com.posthog.query#BreakdownFilterBreakdown",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_hide_other_aggregation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_histogram_bin_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_normalize_url": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_path_cleaning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdown_type": {
          "target": "com.posthog.query#BreakdownType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "breakdowns": {
          "target": "com.posthog.query#BreakdownFilterBreakdownsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#BreakdownFilterBreakdownCase1Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.query#BreakdownFilterBreakdownCase1List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#BreakdownFilterBreakdownCase1Item"
      },
      "traits": {}
    },
    "com.posthog.query#BreakdownFilterBreakdown": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.posthog.query#BreakdownFilterBreakdownCase1List"
        },
        "Case2": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.query#BreakdownType": {
      "type": "enum",
      "members": {
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        },
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person"
          }
        },
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event"
          }
        },
        "EVENT_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event_metadata"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        },
        "SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session"
          }
        },
        "HOGQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogql"
          }
        },
        "DATA_WAREHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_warehouse"
          }
        },
        "DATA_WAREHOUSE_PERSON_PROPERTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_warehouse_person_property"
          }
        },
        "REVENUE_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revenue_analytics"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#Breakdown": {
      "type": "structure",
      "members": {
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "histogram_bin_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "normalize_url": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "property": {
          "target": "com.posthog.query#BreakdownProperty"
        },
        "type": {
          "target": "com.posthog.query#MultipleBreakdownType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#BreakdownProperty": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.query#MultipleBreakdownType": {
      "type": "enum",
      "members": {
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person"
          }
        },
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event"
          }
        },
        "EVENT_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event_metadata"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        },
        "SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session"
          }
        },
        "HOGQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogql"
          }
        },
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        },
        "REVENUE_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revenue_analytics"
          }
        },
        "DATA_WAREHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_warehouse"
          }
        },
        "DATA_WAREHOUSE_PERSON_PROPERTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_warehouse_person_property"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#BreakdownFilterBreakdownsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#Breakdown"
      },
      "traits": {}
    },
    "com.posthog.query#EventPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event properties"
          }
        },
        "value": {
          "target": "com.posthog.query#EventPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#PropertyOperator": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        },
        "IS_DATE_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_exact"
          }
        },
        "IS_DATE_BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_before"
          }
        },
        "IS_DATE_AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_after"
          }
        },
        "BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "between"
          }
        },
        "NOT_BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_between"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        },
        "IS_CLEANED_PATH_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_cleaned_path_exact"
          }
        },
        "FLAG_EVALUATES_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag_evaluates_to"
          }
        },
        "SEMVER_EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_eq"
          }
        },
        "SEMVER_NEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_neq"
          }
        },
        "SEMVER_GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gt"
          }
        },
        "SEMVER_GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gte"
          }
        },
        "SEMVER_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lt"
          }
        },
        "SEMVER_LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lte"
          }
        },
        "SEMVER_TILDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_tilde"
          }
        },
        "SEMVER_CARET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_caret"
          }
        },
        "SEMVER_WILDCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_wildcard"
          }
        },
        "ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains_multi"
          }
        },
        "NOT_ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains_multi"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#EventPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#EventPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#EventPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#EventPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#EventPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#PersonPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person properties"
          }
        },
        "value": {
          "target": "com.posthog.query#PersonPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#PersonPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#PersonPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#PersonPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#PersonPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#PersonPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#ElementPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.posthog.query#Key10"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.query#ElementPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#Key10": {
      "type": "enum",
      "members": {
        "TAG_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_name"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "HREF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "href"
          }
        },
        "SELECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "selector"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#ElementPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#ElementPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#ElementPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#ElementPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#ElementPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#EventMetadataPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.query#EventMetadataPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#EventMetadataPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#EventMetadataPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#EventMetadataPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#EventMetadataPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#EventMetadataPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#SessionPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.query#SessionPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#SessionPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#SessionPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#SessionPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#SessionPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#SessionPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#CohortPropertyFilter": {
      "type": "structure",
      "members": {
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.query#RecordingPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.posthog.query#RecordingPropertyFilterKey"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.query#RecordingPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#DurationType": {
      "type": "enum",
      "members": {
        "DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration"
          }
        },
        "ACTIVE_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active_seconds"
          }
        },
        "INACTIVE_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive_seconds"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#RecordingPropertyFilterKey": {
      "type": "union",
      "members": {
        "DurationType": {
          "target": "com.posthog.query#DurationType"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.query#RecordingPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#RecordingPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#RecordingPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#RecordingPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#RecordingPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#LogEntryPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.query#LogEntryPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#LogEntryPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#LogEntryPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#LogEntryPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#LogEntryPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#LogEntryPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#GroupPropertyFilter": {
      "type": "structure",
      "members": {
        "group_key_names": {
          "target": "com.posthog.query#GroupPropertyFilterGroupKeyNamesMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.query#GroupPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#GroupPropertyFilterGroupKeyNamesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.query#GroupPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#GroupPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#GroupPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#GroupPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#GroupPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#FeaturePropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event property with \"$feature/\" prepended"
          }
        },
        "value": {
          "target": "com.posthog.query#FeaturePropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#FeaturePropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#FeaturePropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#FeaturePropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#FeaturePropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#FeaturePropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#FlagPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key should be the flag ID"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only flag_evaluates_to operator is allowed for flag dependencies"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature flag dependency"
          }
        },
        "value": {
          "target": "com.posthog.query#FlagPropertyFilterValue",
          "traits": {
            "smithy.api#documentation": "The value can be true, false, or a variant name"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#FlagPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The value can be true, false, or a variant name"
      }
    },
    "com.posthog.query#HogQLPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.query#HogQLPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#HogQLPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#HogQLPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#HogQLPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#HogQLPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#HogQLPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#EmptyPropertyFilter": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.query#DataWarehousePropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.query#DataWarehousePropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#DataWarehousePropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#DataWarehousePropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#DataWarehousePropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#DataWarehousePropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#DataWarehousePropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#DataWarehousePersonPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.query#DataWarehousePersonPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#DataWarehousePersonPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#DataWarehousePersonPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#DataWarehousePersonPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#DataWarehousePersonPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#DataWarehousePersonPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#ErrorTrackingIssueFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.query#ErrorTrackingIssueFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#ErrorTrackingIssueFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#ErrorTrackingIssueFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#ErrorTrackingIssueFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#ErrorTrackingIssueFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#ErrorTrackingIssueFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#LogPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator"
        },
        "type": {
          "target": "com.posthog.query#LogPropertyFilterType"
        },
        "value": {
          "target": "com.posthog.query#LogPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#LogPropertyFilterType": {
      "type": "enum",
      "members": {
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "LOG_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log_attribute"
          }
        },
        "LOG_RESOURCE_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log_resource_attribute"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#LogPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#LogPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#LogPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#LogPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#LogPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#SpanPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator"
        },
        "type": {
          "target": "com.posthog.query#SpanPropertyFilterType"
        },
        "value": {
          "target": "com.posthog.query#SpanPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#SpanPropertyFilterType": {
      "type": "enum",
      "members": {
        "SPAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span"
          }
        },
        "SPAN_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_attribute"
          }
        },
        "SPAN_RESOURCE_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_resource_attribute"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#SpanPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#SpanPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#SpanPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#SpanPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#SpanPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#RevenueAnalyticsPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.query#RevenueAnalyticsPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#RevenueAnalyticsPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#RevenueAnalyticsPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#RevenueAnalyticsPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#RevenueAnalyticsPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#RevenueAnalyticsPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#WorkflowVariablePropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.query#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.query#WorkflowVariablePropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#WorkflowVariablePropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#WorkflowVariablePropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#WorkflowVariablePropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.query#WorkflowVariablePropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.query#WorkflowVariablePropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.query#DashboardFilterPropertiesItem": {
      "type": "union",
      "members": {
        "EventPropertyFilter": {
          "target": "com.posthog.query#EventPropertyFilter"
        },
        "PersonPropertyFilter": {
          "target": "com.posthog.query#PersonPropertyFilter"
        },
        "ElementPropertyFilter": {
          "target": "com.posthog.query#ElementPropertyFilter"
        },
        "EventMetadataPropertyFilter": {
          "target": "com.posthog.query#EventMetadataPropertyFilter"
        },
        "SessionPropertyFilter": {
          "target": "com.posthog.query#SessionPropertyFilter"
        },
        "CohortPropertyFilter": {
          "target": "com.posthog.query#CohortPropertyFilter"
        },
        "RecordingPropertyFilter": {
          "target": "com.posthog.query#RecordingPropertyFilter"
        },
        "LogEntryPropertyFilter": {
          "target": "com.posthog.query#LogEntryPropertyFilter"
        },
        "GroupPropertyFilter": {
          "target": "com.posthog.query#GroupPropertyFilter"
        },
        "FeaturePropertyFilter": {
          "target": "com.posthog.query#FeaturePropertyFilter"
        },
        "FlagPropertyFilter": {
          "target": "com.posthog.query#FlagPropertyFilter"
        },
        "HogQLPropertyFilter": {
          "target": "com.posthog.query#HogQLPropertyFilter"
        },
        "EmptyPropertyFilter": {
          "target": "com.posthog.query#EmptyPropertyFilter"
        },
        "DataWarehousePropertyFilter": {
          "target": "com.posthog.query#DataWarehousePropertyFilter"
        },
        "DataWarehousePersonPropertyFilter": {
          "target": "com.posthog.query#DataWarehousePersonPropertyFilter"
        },
        "ErrorTrackingIssueFilter": {
          "target": "com.posthog.query#ErrorTrackingIssueFilter"
        },
        "LogPropertyFilter": {
          "target": "com.posthog.query#LogPropertyFilter"
        },
        "SpanPropertyFilter": {
          "target": "com.posthog.query#SpanPropertyFilter"
        },
        "RevenueAnalyticsPropertyFilter": {
          "target": "com.posthog.query#RevenueAnalyticsPropertyFilter"
        },
        "WorkflowVariablePropertyFilter": {
          "target": "com.posthog.query#WorkflowVariablePropertyFilter"
        }
      },
      "traits": {}
    },
    "com.posthog.query#DashboardFilterPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#DashboardFilterPropertiesItem"
      },
      "traits": {}
    },
    "com.posthog.query#LimitContext": {
      "type": "enum",
      "members": {
        "POSTHOG_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_ai"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#EventsNode": {
      "type": "structure",
      "members": {
        "custom_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event or `null` for all events.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fixedProperties": {
          "target": "com.posthog.query#EventsNodeFixedPropertiesList",
          "traits": {
            "smithy.api#documentation": "Fixed properties in the query, can't be edited in the interface (e.g. scoping down by person)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math": {
          "target": "com.posthog.query#EventsNodeMath",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_group_type_index": {
          "target": "com.posthog.query#MathGroupTypeIndex",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_hogql": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_multiplier": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_property": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_property_revenue_currency": {
          "target": "com.posthog.query#RevenueCurrencyPropertyConfig",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_property_type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "optionalInFunnel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "orderBy": {
          "target": "com.posthog.query#EventsNodeOrderByList",
          "traits": {
            "smithy.api#documentation": "Columns to order by",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.posthog.query#EventsNodePropertiesList",
          "traits": {
            "smithy.api#documentation": "Properties configurable in the interface",
            "com.distilled.openapi#nullable": {}
          }
        },
        "response": {
          "target": "com.posthog.query#EventsNodeResponseMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "version of the node, used for schema migrations",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#EventsNodeFixedPropertiesItem": {
      "type": "union",
      "members": {
        "EventPropertyFilter": {
          "target": "com.posthog.query#EventPropertyFilter"
        },
        "PersonPropertyFilter": {
          "target": "com.posthog.query#PersonPropertyFilter"
        },
        "ElementPropertyFilter": {
          "target": "com.posthog.query#ElementPropertyFilter"
        },
        "EventMetadataPropertyFilter": {
          "target": "com.posthog.query#EventMetadataPropertyFilter"
        },
        "SessionPropertyFilter": {
          "target": "com.posthog.query#SessionPropertyFilter"
        },
        "CohortPropertyFilter": {
          "target": "com.posthog.query#CohortPropertyFilter"
        },
        "RecordingPropertyFilter": {
          "target": "com.posthog.query#RecordingPropertyFilter"
        },
        "LogEntryPropertyFilter": {
          "target": "com.posthog.query#LogEntryPropertyFilter"
        },
        "GroupPropertyFilter": {
          "target": "com.posthog.query#GroupPropertyFilter"
        },
        "FeaturePropertyFilter": {
          "target": "com.posthog.query#FeaturePropertyFilter"
        },
        "FlagPropertyFilter": {
          "target": "com.posthog.query#FlagPropertyFilter"
        },
        "HogQLPropertyFilter": {
          "target": "com.posthog.query#HogQLPropertyFilter"
        },
        "EmptyPropertyFilter": {
          "target": "com.posthog.query#EmptyPropertyFilter"
        },
        "DataWarehousePropertyFilter": {
          "target": "com.posthog.query#DataWarehousePropertyFilter"
        },
        "DataWarehousePersonPropertyFilter": {
          "target": "com.posthog.query#DataWarehousePersonPropertyFilter"
        },
        "ErrorTrackingIssueFilter": {
          "target": "com.posthog.query#ErrorTrackingIssueFilter"
        },
        "LogPropertyFilter": {
          "target": "com.posthog.query#LogPropertyFilter"
        },
        "SpanPropertyFilter": {
          "target": "com.posthog.query#SpanPropertyFilter"
        },
        "RevenueAnalyticsPropertyFilter": {
          "target": "com.posthog.query#RevenueAnalyticsPropertyFilter"
        },
        "WorkflowVariablePropertyFilter": {
          "target": "com.posthog.query#WorkflowVariablePropertyFilter"
        }
      },
      "traits": {}
    },
    "com.posthog.query#EventsNodeFixedPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#EventsNodeFixedPropertiesItem"
      },
      "traits": {}
    },
    "com.posthog.query#BaseMathType": {
      "type": "enum",
      "members": {
        "TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total"
          }
        },
        "DAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dau"
          }
        },
        "WEEKLY_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weekly_active"
          }
        },
        "MONTHLY_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly_active"
          }
        },
        "UNIQUE_SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unique_session"
          }
        },
        "FIRST_TIME_FOR_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_time_for_user"
          }
        },
        "FIRST_MATCHING_EVENT_FOR_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_matching_event_for_user"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#FunnelMathType": {
      "type": "enum",
      "members": {
        "TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total"
          }
        },
        "FIRST_TIME_FOR_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_time_for_user"
          }
        },
        "FIRST_TIME_FOR_USER_WITH_FILTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_time_for_user_with_filters"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#PropertyMathType": {
      "type": "enum",
      "members": {
        "AVG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avg"
          }
        },
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sum"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "MEDIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "median"
          }
        },
        "P75": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p75"
          }
        },
        "P90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p90"
          }
        },
        "P95": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p95"
          }
        },
        "P99": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p99"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#CountPerActorMathType": {
      "type": "enum",
      "members": {
        "AVG_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avg_count_per_actor"
          }
        },
        "MIN_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min_count_per_actor"
          }
        },
        "MAX_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max_count_per_actor"
          }
        },
        "MEDIAN_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "median_count_per_actor"
          }
        },
        "P75_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p75_count_per_actor"
          }
        },
        "P90_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p90_count_per_actor"
          }
        },
        "P95_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p95_count_per_actor"
          }
        },
        "P99_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p99_count_per_actor"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#ExperimentMetricMathType": {
      "type": "enum",
      "members": {
        "TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total"
          }
        },
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sum"
          }
        },
        "UNIQUE_SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unique_session"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "AVG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avg"
          }
        },
        "DAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dau"
          }
        },
        "UNIQUE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unique_group"
          }
        },
        "HOGQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogql"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#CalendarHeatmapMathType": {
      "type": "enum",
      "members": {
        "TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total"
          }
        },
        "DAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dau"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#EventsNodeMath": {
      "type": "union",
      "members": {
        "BaseMathType": {
          "target": "com.posthog.query#BaseMathType"
        },
        "FunnelMathType": {
          "target": "com.posthog.query#FunnelMathType"
        },
        "PropertyMathType": {
          "target": "com.posthog.query#PropertyMathType"
        },
        "CountPerActorMathType": {
          "target": "com.posthog.query#CountPerActorMathType"
        },
        "ExperimentMetricMathType": {
          "target": "com.posthog.query#ExperimentMetricMathType"
        },
        "CalendarHeatmapMathType": {
          "target": "com.posthog.query#CalendarHeatmapMathType"
        },
        "Case6": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.query#MathGroupTypeIndex": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        },
        "_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#RevenueCurrencyPropertyConfig": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "static": {
          "target": "com.posthog.query#CurrencyCode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#CurrencyCode": {
      "type": "enum",
      "members": {
        "AED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AED"
          }
        },
        "AFN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFN"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "AMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMD"
          }
        },
        "ANG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANG"
          }
        },
        "AOA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AOA"
          }
        },
        "ARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARS"
          }
        },
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUD"
          }
        },
        "AWG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWG"
          }
        },
        "AZN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZN"
          }
        },
        "BAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAM"
          }
        },
        "BBD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BBD"
          }
        },
        "BDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BDT"
          }
        },
        "BGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BGN"
          }
        },
        "BHD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BHD"
          }
        },
        "BIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIF"
          }
        },
        "BMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BMD"
          }
        },
        "BND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BND"
          }
        },
        "BOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOB"
          }
        },
        "BRL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRL"
          }
        },
        "BSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BSD"
          }
        },
        "BTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BTC"
          }
        },
        "BTN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BTN"
          }
        },
        "BWP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BWP"
          }
        },
        "BYN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYN"
          }
        },
        "BZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BZD"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAD"
          }
        },
        "CDF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CDF"
          }
        },
        "CHF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHF"
          }
        },
        "CLP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLP"
          }
        },
        "CNY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNY"
          }
        },
        "COP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COP"
          }
        },
        "CRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRC"
          }
        },
        "CVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CVE"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZK"
          }
        },
        "DJF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DJF"
          }
        },
        "DKK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DKK"
          }
        },
        "DOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOP"
          }
        },
        "DZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DZD"
          }
        },
        "EGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EGP"
          }
        },
        "ERN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERN"
          }
        },
        "ETB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ETB"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUR"
          }
        },
        "FJD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FJD"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GBP"
          }
        },
        "GEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEL"
          }
        },
        "GHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GHS"
          }
        },
        "GIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GIP"
          }
        },
        "GMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMD"
          }
        },
        "GNF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GNF"
          }
        },
        "GTQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GTQ"
          }
        },
        "GYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GYD"
          }
        },
        "HKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HKD"
          }
        },
        "HNL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HNL"
          }
        },
        "HRK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HRK"
          }
        },
        "HTG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTG"
          }
        },
        "HUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUF"
          }
        },
        "IDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDR"
          }
        },
        "ILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ILS"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INR"
          }
        },
        "IQD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IQD"
          }
        },
        "IRR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IRR"
          }
        },
        "ISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISK"
          }
        },
        "JMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JMD"
          }
        },
        "JOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOD"
          }
        },
        "JPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JPY"
          }
        },
        "KES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KES"
          }
        },
        "KGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KGS"
          }
        },
        "KHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KHR"
          }
        },
        "KMF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KMF"
          }
        },
        "KRW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KRW"
          }
        },
        "KWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KWD"
          }
        },
        "KYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KYD"
          }
        },
        "KZT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KZT"
          }
        },
        "LAK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAK"
          }
        },
        "LBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LBP"
          }
        },
        "LKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LKR"
          }
        },
        "LRD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LRD"
          }
        },
        "LTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LTL"
          }
        },
        "LVL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LVL"
          }
        },
        "LSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LSL"
          }
        },
        "LYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LYD"
          }
        },
        "MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAD"
          }
        },
        "MDL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MDL"
          }
        },
        "MGA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MGA"
          }
        },
        "MKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MKD"
          }
        },
        "MMK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MMK"
          }
        },
        "MNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MNT"
          }
        },
        "MOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOP"
          }
        },
        "MRU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MRU"
          }
        },
        "MTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MTL"
          }
        },
        "MUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUR"
          }
        },
        "MVR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MVR"
          }
        },
        "MWK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MWK"
          }
        },
        "MXN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MXN"
          }
        },
        "MYR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYR"
          }
        },
        "MZN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MZN"
          }
        },
        "NAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAD"
          }
        },
        "NGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NGN"
          }
        },
        "NIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIO"
          }
        },
        "NOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOK"
          }
        },
        "NPR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NPR"
          }
        },
        "NZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NZD"
          }
        },
        "OMR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OMR"
          }
        },
        "PAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAB"
          }
        },
        "PEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEN"
          }
        },
        "PGK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PGK"
          }
        },
        "PHP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHP"
          }
        },
        "PKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PKR"
          }
        },
        "PLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLN"
          }
        },
        "PYG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYG"
          }
        },
        "QAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QAR"
          }
        },
        "RON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RON"
          }
        },
        "RSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSD"
          }
        },
        "RUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUB"
          }
        },
        "RWF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RWF"
          }
        },
        "SAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAR"
          }
        },
        "SBD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SBD"
          }
        },
        "SCR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCR"
          }
        },
        "SDG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDG"
          }
        },
        "SEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEK"
          }
        },
        "SGD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SGD"
          }
        },
        "SRD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SRD"
          }
        },
        "SSP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSP"
          }
        },
        "STN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STN"
          }
        },
        "SYP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYP"
          }
        },
        "SZL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SZL"
          }
        },
        "THB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THB"
          }
        },
        "TJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TJS"
          }
        },
        "TMT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TMT"
          }
        },
        "TND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TND"
          }
        },
        "TOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOP"
          }
        },
        "TRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRY"
          }
        },
        "TTD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TTD"
          }
        },
        "TWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWD"
          }
        },
        "TZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TZS"
          }
        },
        "UAH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UAH"
          }
        },
        "UGX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UGX"
          }
        },
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USD"
          }
        },
        "UYU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UYU"
          }
        },
        "UZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UZS"
          }
        },
        "VES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VES"
          }
        },
        "VND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VND"
          }
        },
        "VUV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VUV"
          }
        },
        "WST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WST"
          }
        },
        "XAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XAF"
          }
        },
        "XCD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XCD"
          }
        },
        "XOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XOF"
          }
        },
        "XPF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XPF"
          }
        },
        "YER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YER"
          }
        },
        "ZAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZAR"
          }
        },
        "ZMW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZMW"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#EventsNodeOrderByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.query#EventsNodePropertiesItem": {
      "type": "union",
      "members": {
        "EventPropertyFilter": {
          "target": "com.posthog.query#EventPropertyFilter"
        },
        "PersonPropertyFilter": {
          "target": "com.posthog.query#PersonPropertyFilter"
        },
        "ElementPropertyFilter": {
          "target": "com.posthog.query#ElementPropertyFilter"
        },
        "EventMetadataPropertyFilter": {
          "target": "com.posthog.query#EventMetadataPropertyFilter"
        },
        "SessionPropertyFilter": {
          "target": "com.posthog.query#SessionPropertyFilter"
        },
        "CohortPropertyFilter": {
          "target": "com.posthog.query#CohortPropertyFilter"
        },
        "RecordingPropertyFilter": {
          "target": "com.posthog.query#RecordingPropertyFilter"
        },
        "LogEntryPropertyFilter": {
          "target": "com.posthog.query#LogEntryPropertyFilter"
        },
        "GroupPropertyFilter": {
          "target": "com.posthog.query#GroupPropertyFilter"
        },
        "FeaturePropertyFilter": {
          "target": "com.posthog.query#FeaturePropertyFilter"
        },
        "FlagPropertyFilter": {
          "target": "com.posthog.query#FlagPropertyFilter"
        },
        "HogQLPropertyFilter": {
          "target": "com.posthog.query#HogQLPropertyFilter"
        },
        "EmptyPropertyFilter": {
          "target": "com.posthog.query#EmptyPropertyFilter"
        },
        "DataWarehousePropertyFilter": {
          "target": "com.posthog.query#DataWarehousePropertyFilter"
        },
        "DataWarehousePersonPropertyFilter": {
          "target": "com.posthog.query#DataWarehousePersonPropertyFilter"
        },
        "ErrorTrackingIssueFilter": {
          "target": "com.posthog.query#ErrorTrackingIssueFilter"
        },
        "LogPropertyFilter": {
          "target": "com.posthog.query#LogPropertyFilter"
        },
        "SpanPropertyFilter": {
          "target": "com.posthog.query#SpanPropertyFilter"
        },
        "RevenueAnalyticsPropertyFilter": {
          "target": "com.posthog.query#RevenueAnalyticsPropertyFilter"
        },
        "WorkflowVariablePropertyFilter": {
          "target": "com.posthog.query#WorkflowVariablePropertyFilter"
        }
      },
      "traits": {}
    },
    "com.posthog.query#EventsNodePropertiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#EventsNodePropertiesItem"
      },
      "traits": {}
    },
    "com.posthog.query#EventsNodeResponseMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.query#ActionsNode": {
      "type": "structure",
      "members": {
        "custom_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "fixedProperties": {
          "target": "com.posthog.query#ActionsNodeFixedPropertiesList",
          "traits": {
            "smithy.api#documentation": "Fixed properties in the query, can't be edited in the interface (e.g. scoping down by person)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "math": {
          "target": "com.posthog.query#ActionsNodeMath",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_group_type_index": {
          "target": "com.posthog.query#MathGroupTypeIndex",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_hogql": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_multiplier": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_property": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_property_revenue_currency": {
          "target": "com.posthog.query#RevenueCurrencyPropertyConfig",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_property_type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "optionalInFunnel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.posthog.query#ActionsNodePropertiesList",
          "traits": {
            "smithy.api#documentation": "Properties configurable in the interface",
            "com.distilled.openapi#nullable": {}
          }
        },
        "response": {
          "target": "com.posthog.query#ActionsNodeResponseMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "version of the node, used for schema migrations",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.query#ActionsNodeFixedPropertiesItem": {
      "type": "union",
      "members": {
        "EventPropertyFilter": {
          "target": "com.posthog.query#EventPropertyFilter"
        },
        "PersonPropertyFilter": {
          "target": "com.posthog.query#PersonPropertyFilter"
        },
        "ElementPropertyFilter": {
          "target": "com.posthog.query#ElementPropertyFilter"
        },
        "EventMetadataPropertyFilter": {
          "target": "com.posthog.query#EventMetadataPropertyFilter"
        },
        "SessionPropertyFilter": {
          "target": "com.posthog.query#SessionPropertyFilter"
        },
        "CohortPropertyFilter": {
          "target": "com.posthog.query#CohortPropertyFilter"
        },
        "RecordingPropertyFilter": {
          "target": "com.posthog.query#RecordingPropertyFilter"
        },
        "LogEntryPropertyFilter": {
          "target": "com.posthog.query#LogEntryPropertyFilter"
        },
        "GroupPropertyFilter": {
          "target": "com.posthog.query#GroupPropertyFilter"
        },
        "FeaturePropertyFilter": {
          "target": "com.posthog.query#FeaturePropertyFilter"
        },
        "FlagPropertyFilter": {
          "target": "com.posthog.query#FlagPropertyFilter"
        },
        "HogQLPropertyFilter": {
          "target": "com.posthog.query#HogQLPropertyFilter"
        },
        "EmptyPropertyFilter": {
          "target": "com.posthog.query#EmptyPropertyFilter"
        },
        "DataWarehousePropertyFilter": {
          "target": "com.posthog.query#DataWarehousePropertyFilter"
        },
        "DataWarehousePersonPropertyFilter": {
          "target": "com.posthog.query#DataWarehousePersonPropertyFilter"
        },
        "ErrorTrackingIssueFilter": {
          "target": "com.posthog.query#ErrorTrackingIssueFilter"
        },
        "LogPropertyFilter": {
          "target": "com.posthog.query#LogPropertyFilter"
        },
        "SpanPropertyFilter": {
          "target": "com.posthog.query#SpanPropertyFilter"
        },
        "RevenueAnalyticsPropertyFilter": {
          "target": "com.posthog.query#RevenueAnalyticsPropertyFilter"
        },
        "WorkflowVariablePropertyFilter": {
          "target": "com.posthog.query#WorkflowVariablePropertyFilter"
        }
      },
      "traits": {}
    },
    "com.posthog.query#ActionsNodeFixedPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.query#ActionsNodeFixedPropertiesItem"
      },
      "traits": {}
    },
    "com.posthog.query#ActionsNodeMath": {
      "type": "union",
      "members": {
        "BaseMathType": {
          "target": "com.posthog.query#BaseMathType"
        },
        "FunnelMathType": {
          "target": "com.posthog.query#FunnelMathType"
        },
        "PropertyMathType": {
          "target": "com.posthog.query#PropertyMathType"
        },
        "CountPerActorMathType": {
          "target": "com.posthog.query#CountPerActorMathType"
        },
        "ExperimentMetricMathType": {
          "target": "com.posthog.query#ExperimentMetricMathType"
        },
        "CalendarHeatmapMathType": {
          "target": "com.posthog.query#CalendarHeatmapMathType"
        },
        "Case6": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.query#ActionsNodePropertiesItem": {
      "type": "union",
      "members": {
        "EventPropertyFilter": {
          "target": "com.posthog.query#EventPropertyFilter"
        },
        "PersonPropertyFilter": {
          "target": "com.posthog.query#PersonPropertyFilter"
        },
        "ElementPropertyFilter": {
          "target": "com.posthog.query#ElementPropertyFilter"
        },
        "EventMetadataPropertyFilter": {
          "target": "com.posthog.query#EventMetadataPropertyFilter"
        },
        "SessionPropertyFilter": {
          "target": "com.posthog.query#SessionPropertyFilter"
        },
        "CohortPropertyFilter": {
          "target": "com.posthog.query#CohortPropertyFilter"
        },
        "RecordingPropertyFilter": {
          "target": "com.posthog.query#RecordingPropertyFilter"
        },
        "LogEntryPropertyFilter": {
          "target": "com.posthog.query#LogEntryPropertyFilter"
        },
        "GroupPropertyFilter": {
          "target": "com.posthog.query#GroupPropertyFilter"
        },
        "FeaturePropertyFilter": {
          "target": "com.posthog.query#FeaturePropertyFilter"
        },
        "FlagPropertyFilter": {
          "target": "com.posthog.query#FlagPropertyFilter"
        },
        "HogQLPropertyFilter": {
          "target": "com.posthog.query#HogQLPropertyFilter"
        },
        "EmptyPropertyFilter": {
          "target": "com.posthog.query#EmptyPropertyFilter"
        },
        "DataWarehousePropertyFilter": {
          "target": "com.posthog.query#DataWarehousePropertyFilter"
        },
        "DataWarehousePersonPropertyFilter": {
          "target": "com.posthog.query#DataWarehousePersonPropertyFilter"
        },
        "ErrorTrackingIssueFilter": {
[...]
