{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.scheduled_changes#ScheduledChangesListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "model_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "model_name",
            "smithy.api#documentation": "Filter by model type. Use \"FeatureFlag\" to see feature flag schedules."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "record_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "record_id",
            "smithy.api#documentation": "Filter by the ID of a specific feature flag."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.scheduled_changes#PaginatedScheduledChangeList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.scheduled_changes#PaginatedScheduledChangeListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.scheduled_changes#ScheduledChange": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "team_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "record_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the record to modify (e.g. the feature flag ID).",
            "smithy.api#required": {}
          }
        },
        "model_name": {
          "target": "com.posthog.scheduled_changes#ModelNameEnum",
          "traits": {
            "smithy.api#documentation": "The type of record to modify. Currently only \"FeatureFlag\" is supported.\n\n* `FeatureFlag` - feature flag",
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The change to apply. Must include an 'operation' key and a 'value' key. Supported operations: 'update_status' (value: true/false to enable/disable the flag), 'add_release_condition' (value: object with 'groups', 'payloads', and 'multivariate' keys), 'update_variants' (value: object with 'variants' and 'payloads' keys).",
            "smithy.api#required": {}
          }
        },
        "scheduled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 datetime when the change should be applied (e.g. '2025-06-01T14:00:00Z').",
            "smithy.api#required": {}
          }
        },
        "executed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failure_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return the safely formatted failure reason instead of raw data.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.scheduled_changes#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_recurring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this schedule repeats. Only the 'update_status' operation supports recurring schedules."
          }
        },
        "recurrence_interval": {
          "target": "com.posthog.scheduled_changes#ScheduledChangeRecurrenceIntervalEnum",
          "traits": {
            "smithy.api#documentation": "How often the schedule repeats. Required when is_recurring is true. One of: daily, weekly, monthly, yearly.\n\n* `daily` - daily\n* `weekly` - weekly\n* `monthly` - monthly\n* `yearly` - yearly",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cron_expression": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_executed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ISO 8601 datetime after which a recurring schedule stops executing.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.scheduled_changes#ModelNameEnum": {
      "type": "enum",
      "members": {
        "FEATUREFLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FeatureFlag"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `FeatureFlag` - feature flag"
      }
    },
    "com.posthog.scheduled_changes#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.scheduled_changes#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.scheduled_changes#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.scheduled_changes#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.scheduled_changes#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.scheduled_changes#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.scheduled_changes#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.scheduled_changes#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.scheduled_changes#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.scheduled_changes#ScheduledChangeRecurrenceIntervalEnum": {
      "type": "enum",
      "members": {
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "daily"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weekly"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly"
          }
        },
        "YEARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yearly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `daily` - daily\n* `weekly` - weekly\n* `monthly` - monthly\n* `yearly` - yearly"
      }
    },
    "com.posthog.scheduled_changes#PaginatedScheduledChangeListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.scheduled_changes#ScheduledChange"
      },
      "traits": {}
    },
    "com.posthog.scheduled_changes#ScheduledChangesList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.scheduled_changes#ScheduledChangesListRequest"
      },
      "output": {
        "target": "com.posthog.scheduled_changes#PaginatedScheduledChangeList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/scheduled_changes/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete scheduled changes."
      }
    },
    "com.posthog.scheduled_changes#ScheduledChangesCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "record_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the record to modify (e.g. the feature flag ID).",
            "smithy.api#required": {}
          }
        },
        "model_name": {
          "target": "com.posthog.scheduled_changes#ModelNameEnum",
          "traits": {
            "smithy.api#documentation": "The type of record to modify. Currently only \"FeatureFlag\" is supported.\n\n* `FeatureFlag` - feature flag",
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The change to apply. Must include an 'operation' key and a 'value' key. Supported operations: 'update_status' (value: true/false to enable/disable the flag), 'add_release_condition' (value: object with 'groups', 'payloads', and 'multivariate' keys), 'update_variants' (value: object with 'variants' and 'payloads' keys).",
            "smithy.api#required": {}
          }
        },
        "scheduled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 datetime when the change should be applied (e.g. '2025-06-01T14:00:00Z').",
            "smithy.api#required": {}
          }
        },
        "is_recurring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this schedule repeats. Only the 'update_status' operation supports recurring schedules."
          }
        },
        "recurrence_interval": {
          "target": "com.posthog.scheduled_changes#ScheduledChangeRecurrenceIntervalEnum",
          "traits": {
            "smithy.api#documentation": "How often the schedule repeats. Required when is_recurring is true. One of: daily, weekly, monthly, yearly.\n\n* `daily` - daily\n* `weekly` - weekly\n* `monthly` - monthly\n* `yearly` - yearly",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cron_expression": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ISO 8601 datetime after which a recurring schedule stops executing.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.scheduled_changes#ScheduledChangesCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.scheduled_changes#ScheduledChangesCreateRequest"
      },
      "output": {
        "target": "com.posthog.scheduled_changes#ScheduledChange"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/scheduled_changes/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete scheduled changes."
      }
    },
    "com.posthog.scheduled_changes#ScheduledChangesRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this scheduled change."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.scheduled_changes#ScheduledChangesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.scheduled_changes#ScheduledChangesRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.scheduled_changes#ScheduledChange"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/scheduled_changes/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete scheduled changes."
      }
    },
    "com.posthog.scheduled_changes#ScheduledChangesUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this scheduled change."
          }
        },
        "record_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the record to modify (e.g. the feature flag ID).",
            "smithy.api#required": {}
          }
        },
        "model_name": {
          "target": "com.posthog.scheduled_changes#ModelNameEnum",
          "traits": {
            "smithy.api#documentation": "The type of record to modify. Currently only \"FeatureFlag\" is supported.\n\n* `FeatureFlag` - feature flag",
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The change to apply. Must include an 'operation' key and a 'value' key. Supported operations: 'update_status' (value: true/false to enable/disable the flag), 'add_release_condition' (value: object with 'groups', 'payloads', and 'multivariate' keys), 'update_variants' (value: object with 'variants' and 'payloads' keys).",
            "smithy.api#required": {}
          }
        },
        "scheduled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 datetime when the change should be applied (e.g. '2025-06-01T14:00:00Z').",
            "smithy.api#required": {}
          }
        },
        "is_recurring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this schedule repeats. Only the 'update_status' operation supports recurring schedules."
          }
        },
        "recurrence_interval": {
          "target": "com.posthog.scheduled_changes#ScheduledChangeRecurrenceIntervalEnum",
          "traits": {
            "smithy.api#documentation": "How often the schedule repeats. Required when is_recurring is true. One of: daily, weekly, monthly, yearly.\n\n* `daily` - daily\n* `weekly` - weekly\n* `monthly` - monthly\n* `yearly` - yearly",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cron_expression": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ISO 8601 datetime after which a recurring schedule stops executing.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.scheduled_changes#ScheduledChangesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.scheduled_changes#ScheduledChangesUpdateRequest"
      },
      "output": {
        "target": "com.posthog.scheduled_changes#ScheduledChange"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/scheduled_changes/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete scheduled changes."
      }
    },
    "com.posthog.scheduled_changes#ScheduledChangesPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this scheduled change."
          }
        },
        "record_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the record to modify (e.g. the feature flag ID)."
          }
        },
        "model_name": {
          "target": "com.posthog.scheduled_changes#ModelNameEnum",
          "traits": {
            "smithy.api#documentation": "The type of record to modify. Currently only \"FeatureFlag\" is supported.\n\n* `FeatureFlag` - feature flag"
          }
        },
        "payload": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The change to apply. Must include an 'operation' key and a 'value' key. Supported operations: 'update_status' (value: true/false to enable/disable the flag), 'add_release_condition' (value: object with 'groups', 'payloads', and 'multivariate' keys), 'update_variants' (value: object with 'variants' and 'payloads' keys)."
          }
        },
        "scheduled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 datetime when the change should be applied (e.g. '2025-06-01T14:00:00Z')."
          }
        },
        "is_recurring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this schedule repeats. Only the 'update_status' operation supports recurring schedules."
          }
        },
        "recurrence_interval": {
          "target": "com.posthog.scheduled_changes#ScheduledChangeRecurrenceIntervalEnum",
          "traits": {
            "smithy.api#documentation": "How often the schedule repeats. Required when is_recurring is true. One of: daily, weekly, monthly, yearly.\n\n* `daily` - daily\n* `weekly` - weekly\n* `monthly` - monthly\n* `yearly` - yearly",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cron_expression": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ISO 8601 datetime after which a recurring schedule stops executing.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.scheduled_changes#ScheduledChangesPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.scheduled_changes#ScheduledChangesPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.scheduled_changes#ScheduledChange"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/scheduled_changes/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete scheduled changes."
      }
    },
    "com.posthog.scheduled_changes#ScheduledChangesDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this scheduled change."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.scheduled_changes#ScheduledChangesDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.scheduled_changes#ScheduledChangesDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/scheduled_changes/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete scheduled changes."
      }
    },
    "com.posthog.scheduled_changes#ScheduledChanges": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.scheduled_changes#ScheduledChangesList"
        },
        {
          "target": "com.posthog.scheduled_changes#ScheduledChangesCreate"
        },
        {
          "target": "com.posthog.scheduled_changes#ScheduledChangesRetrieve"
        },
        {
          "target": "com.posthog.scheduled_changes#ScheduledChangesUpdate"
        },
        {
          "target": "com.posthog.scheduled_changes#ScheduledChangesPartialUpdate"
        },
        {
          "target": "com.posthog.scheduled_changes#ScheduledChangesDestroy"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
