{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.signals#SignalsProcessingListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PaginatedPauseStateResponseList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.signals#PaginatedPauseStateResponseListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.signals#PauseStateResponse": {
      "type": "structure",
      "members": {
        "paused_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp the pipeline is paused until, or null if not paused/not running.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#PaginatedPauseStateResponseListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#PauseStateResponse"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsProcessingList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsProcessingListRequest"
      },
      "output": {
        "target": "com.posthog.signals#PaginatedPauseStateResponseList"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/processing/",
          "code": 200
        },
        "smithy.api#documentation": "Return current processing state including pause status."
      }
    },
    "com.posthog.signals#SignalsProcessingPauseUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pause the grouping pipeline until this timestamp (ISO 8601)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PauseResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always 'paused'."
          }
        },
        "paused_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp the pipeline is paused until."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsProcessingPauseUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsProcessingPauseUpdateRequest"
      },
      "output": {
        "target": "com.posthog.signals#PauseResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/signals/processing/pause/",
          "code": 200
        },
        "smithy.api#documentation": "View and control signal processing pipeline state for a team."
      }
    },
    "com.posthog.signals#SignalsProcessingPauseDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsProcessingPauseDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsProcessingPauseDestroyRequest"
      },
      "output": {
        "target": "com.posthog.signals#PauseResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/signals/processing/pause/",
          "code": 200
        },
        "smithy.api#documentation": "View and control signal processing pipeline state for a team."
      }
    },
    "com.posthog.signals#SignalsReportsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "has_implementation_pr": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "has_implementation_pr",
            "smithy.api#documentation": "Filter reports by whether a shipped implementation pull request exists. 'true' keeps only reports with a PR; 'false' keeps only those without. Pair with limit=1 to count PR reports cheaply."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "ordering": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ordering",
            "smithy.api#documentation": "Comma-separated ordering clauses. Each clause is a field name optionally prefixed with '-' for descending. Allowed fields: status, is_suggested_reviewer, signal_count, total_weight, priority, created_at, updated_at, id. Defaults to '-is_suggested_reviewer,status,-updated_at'."
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "priority",
            "smithy.api#documentation": "Comma-separated list of priorities to include. Valid values: P0, P1, P2, P3, P4. Reports without a priority assignment are excluded when this filter is set."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Case-insensitive substring match against report title and summary."
          }
        },
        "source_product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_product",
            "smithy.api#documentation": "Comma-separated list of source products to include. Reports are kept if at least one of their contributing signals comes from one of these products (e.g. error_tracking, session_replay)."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Comma-separated list of statuses to include. Valid values: potential, candidate, in_progress, pending_input, ready, resolved, failed, suppressed. Defaults to all statuses except suppressed."
          }
        },
        "suggested_reviewers": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "suggested_reviewers",
            "smithy.api#documentation": "Comma-separated list of PostHog user UUIDs. Reports are kept if their suggested reviewers include any of the given users."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "task_id",
            "smithy.api#documentation": "Only reports associated with this task (via the report's task associations)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PaginatedSignalReportList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.signals#PaginatedSignalReportListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReport": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.posthog.signals#SignalReportStatusEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "signal_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "signals_at_run": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "artefact_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "P0–P4 from the latest priority judgment artefact (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "actionability": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Actionability choice from the latest actionability judgment artefact (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "already_addressed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the issue appears already fixed, from the actionability judgment artefact.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissal_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason code from the latest dismissal artefact, set when the report was suppressed (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissal_note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form note captured alongside the dismissal reason (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_suggested_reviewer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source_products": {
          "target": "com.posthog.signals#SignalReportSourceProductsList",
          "traits": {
            "smithy.api#documentation": "Distinct source products contributing signals to this report (from ClickHouse).",
            "smithy.api#required": {}
          }
        },
        "implementation_pr_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PR URL from the latest implementation task run, if available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportStatusEnum": {
      "type": "enum",
      "members": {
        "POTENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "potential"
          }
        },
        "CANDIDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "candidate"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "PENDING_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_input"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolved"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "SUPPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suppressed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `potential` - Potential\n* `candidate` - Candidate\n* `in_progress` - In Progress\n* `pending_input` - Pending Input\n* `ready` - Ready\n* `resolved` - Resolved\n* `failed` - Failed\n* `deleted` - Deleted\n* `suppressed` - Suppressed"
      }
    },
    "com.posthog.signals#SignalReportSourceProductsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Distinct source products contributing signals to this report (from ClickHouse)."
      }
    },
    "com.posthog.signals#PaginatedSignalReportListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#SignalReport"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsReportsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportsListRequest"
      },
      "output": {
        "target": "com.posthog.signals#PaginatedSignalReportList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/reports/",
          "code": 200
        }
      }
    },
    "com.posthog.signals#SignalsReportsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsReportsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalReport"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.signals#SignalReportStateEnum": {
      "type": "enum",
      "members": {
        "SUPPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suppressed"
          }
        },
        "POTENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "potential"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `suppressed` - suppressed\n* `potential` - potential"
      }
    },
    "com.posthog.signals#DismissalReasonEnum": {
      "type": "enum",
      "members": {
        "ALREADY_FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "already_fixed"
          }
        },
        "REPORT_UNCLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "report_unclear"
          }
        },
        "ANALYSIS_WRONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "analysis_wrong"
          }
        },
        "WONTFIX_INTENTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wontfix_intentional"
          }
        },
        "WONTFIX_IRRELEVANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wontfix_irrelevant"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `already_fixed` - Already fixed\n* `report_unclear` - Report is unclear to me\n* `analysis_wrong` - Agent's analysis is wrong\n* `wontfix_intentional` - Won't fix - intentional behavior\n* `wontfix_irrelevant` - Won't fix - issue is real but insignificant\n* `other` - Something else…"
      }
    },
    "com.posthog.signals#SignalsReportsStateCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        },
        "state": {
          "target": "com.posthog.signals#SignalReportStateEnum",
          "traits": {
            "smithy.api#documentation": "Target state for the report. Use 'suppressed' to dismiss the report from the inbox, or 'potential' to snooze/reopen it for later review.\n\n* `suppressed` - suppressed\n* `potential` - potential",
            "smithy.api#required": {}
          }
        },
        "dismissal_reason": {
          "target": "com.posthog.signals#DismissalReasonEnum",
          "traits": {
            "smithy.api#documentation": "Optional canonical reason code for the dismissal. Must be one of: already_fixed, report_unclear, analysis_wrong, wontfix_intentional, wontfix_irrelevant, other — these match the inbox UI so the rationale renders as a labelled chip rather than a raw code. 'already_fixed' is a snooze, not a dismissal: pair it with state='potential' (restore) so the report reappears if the issue recurs. Use 'other' together with a dismissal_note for anything that doesn't fit a code.\n\n* `already_fixed` - Already fixed\n* `report_unclear` - Report is unclear to me\n* `analysis_wrong` - Agent's analysis is wrong\n* `wontfix_intentional` - Won't fix - intentional behavior\n* `wontfix_irrelevant` - Won't fix - issue is real but insignificant\n* `other` - Something else…"
          }
        },
        "dismissal_note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional free-form note explaining the dismissal. Capped at 4000 characters."
          }
        },
        "snooze_for": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional, only honored when state is 'potential'. Number of additional signals the report must accumulate before it is re-promoted into the pipeline — effectively snoozing it until then. Omit to let the report re-enter the pipeline on the next matching signal."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsReportsStateCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportsStateCreateRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalReport"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/state/",
          "code": 200
        },
        "smithy.api#documentation": "Transition a report to a new state. The model validates allowed transitions.\n\nThe request body is validated by SignalReportStateRequestSerializer — only the\nfields it declares (state, dismissal_reason, dismissal_note, snooze_for) are read,\nand only snooze_for is ever forwarded to transition_to. Any other key is ignored,\nso internal transition_to kwargs (reset_weight, error, ...) can't be injected.\n\nBody: {\n    \"state\": \"suppressed\" | \"potential\",\n    # Optional dismissal feedback (honored when state == \"suppressed\" or \"potential\"):\n    \"dismissal_reason\": \"<canonical reason code, see SIGNAL_REPORT_DISMISSAL_REASON_CHOICES>\",\n    \"dismissal_note\": \"free-form text\",\n    # Optional, only honored for state == \"potential\":\n    \"snooze_for\": <number of additional signals before re-promotion>,\n}"
      }
    },
    "com.posthog.signals#SignalsReportArtefactsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PaginatedSignalReportArtefactList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.signals#PaginatedSignalReportArtefactListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportArtefact": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.posthog.signals#SignalReportArtefactTypeEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.posthog.signals#SignalReportArtefactContent",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.signals#User",
          "traits": {
            "smithy.api#documentation": "User the artefact is attributed to, when a user produced it. Null for task/system writes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task the artefact is attributed to, when an agent produced it. Null for user/system writes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportArtefactTypeEnum": {
      "type": "enum",
      "members": {
        "VIDEO_SEGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video_segment"
          }
        },
        "SAFETY_JUDGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safety_judgment"
          }
        },
        "ACTIONABILITY_JUDGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "actionability_judgment"
          }
        },
        "PRIORITY_JUDGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "priority_judgment"
          }
        },
        "SIGNAL_FINDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signal_finding"
          }
        },
        "REPO_SELECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo_selection"
          }
        },
        "SUGGESTED_REVIEWERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suggested_reviewers"
          }
        },
        "DISMISSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dismissal"
          }
        },
        "CODE_REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code_reference"
          }
        },
        "COMMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "commit"
          }
        },
        "TASK_RUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "task_run"
          }
        },
        "NOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "note"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `video_segment` - Video Segment\n* `safety_judgment` - Safety Judgment\n* `actionability_judgment` - Actionability Judgment\n* `priority_judgment` - Priority Judgment\n* `signal_finding` - Signal Finding\n* `repo_selection` - Repo Selection\n* `suggested_reviewers` - Suggested Reviewers\n* `dismissal` - Dismissal\n* `code_reference` - Code Reference\n* `commit` - Commit\n* `task_run` - Task Run\n* `note` - Note"
      }
    },
    "com.posthog.signals#SignalReportArtefactContentCase0Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportArtefactContentCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportArtefactContent": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.signals#SignalReportArtefactContentCase0Map"
        },
        "Case1": {
          "target": "com.posthog.signals#SignalReportArtefactContentCase1List"
        }
      },
      "traits": {}
    },
    "com.posthog.signals#User": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.signals#PaginatedSignalReportArtefactListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#SignalReportArtefact"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsReportArtefactsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportArtefactsListRequest"
      },
      "output": {
        "target": "com.posthog.signals#PaginatedSignalReportArtefactList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/reports/{report_id}/artefacts/",
          "code": 200
        },
        "smithy.api#documentation": "List a report's artefacts\n\nList every artefact on a report — the full work log: signal findings (the evidence behind the report), status judgments (safety / actionability / priority, repo selection, suggested reviewers — the newest row of each status type is canonical), and log entries (code references, commits, task runs, notes). `suggested_reviewers` content is enriched with PostHog user info at read time."
      }
    },
    "com.posthog.signals#SignalsReportArtefactsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "artefact_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The artefact type. One of: actionability_judgment, code_reference, commit, dismissal, note, priority_judgment, repo_selection, safety_judgment, signal_finding, suggested_reviewers, task_run. Log types accumulate; status types (safety_judgment, actionability_judgment, priority_judgment, repo_selection, suggested_reviewers) are latest-wins — appending a new version supersedes the previous one as the report's canonical status.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The artefact payload as a JSON object or array; shape depends on artefact_type and is validated against its schema.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalReportArtefactWriteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The artefact's unique id.",
            "smithy.api#required": {}
          }
        },
        "report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the report this artefact belongs to.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The artefact type.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The artefact payload, parsed from storage.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the artefact was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the artefact was last written — set on creation and refreshed on each edit. Null only for rows created before this field existed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task the artefact is attributed to, when an agent produced it. Null for user writes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for the log-artefact create/update endpoints — echoes the stored row."
      }
    },
    "com.posthog.signals#SignalsReportArtefactsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportArtefactsCreateRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalReportArtefactWriteResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/signals/reports/{report_id}/artefacts/",
          "code": 200
        },
        "smithy.api#documentation": "Append an artefact to a report\n\nAppend an artefact to a report (see artefact_type for the writable types). Everything is append-only: log entries (code reference, commit, task run, note) accumulate, while status types (safety / actionability / priority judgments, repo selection, suggested reviewers) are latest-wins — appending a new version supersedes the previous one as the report's canonical status. Content is validated against the type's schema."
      }
    },
    "com.posthog.signals#SignalsReportArtefactsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report artefact."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsReportArtefactsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportArtefactsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalReportArtefact"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/reports/{report_id}/artefacts/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Get a single artefact\n\nGet one artefact by id, content parsed (and reviewers enriched) the same way as the list."
      }
    },
    "com.posthog.signals#SignalsReportArtefactsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report artefact."
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The new artefact payload as a JSON object or array, matching the artefact type's schema."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsReportArtefactsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportArtefactsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalReportArtefactWriteResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/signals/reports/{report_id}/artefacts/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Replace an artefact's content\n\nReplace the content of an existing artefact, addressed by id. The new content is validated against the artefact's type schema. Editing the latest row of a status type changes the report's canonical status (latest-wins); to re-assess while keeping history, append a new artefact instead. Attribution is creation-time only — edits don't reassign it."
      }
    },
    "com.posthog.signals#SignalsReportArtefactsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report artefact."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsReportArtefactsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportArtefactsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/signals/reports/{report_id}/artefacts/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Delete an artefact\n\nDelete an artefact, addressed by id. Deleting the latest row of a status type reverts the report's canonical status to the previous version (latest-wins over what remains)."
      }
    },
    "com.posthog.signals#SignalsReportArtefactsDiffRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report artefact."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#CommitDiffResponse": {
      "type": "structure",
      "members": {
        "diff": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unified diff (patch) text of the branch against the repository default branch, from the GitHub compare API.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the diff was too large to return in full and has been truncated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `commit` artefact diff endpoint — the commit's branch rendered against the\nrepository default branch."
      }
    },
    "com.posthog.signals#SignalsReportArtefactsDiff": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportArtefactsDiffRequest"
      },
      "output": {
        "target": "com.posthog.signals#CommitDiffResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/reports/{report_id}/artefacts/{id}/diff/",
          "code": 200
        },
        "smithy.api#documentation": "Fetch the diff for a commit artefact\n\nFetch the unified diff of a `commit` artefact's branch against the repository default branch via the team's GitHub integration — using the branch's current tip so the diff reflects the latest state of the work, not just the single recorded commit."
      }
    },
    "com.posthog.signals#SignalsReportsBulkStateCreateRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Report ids to transition to `state` in one call (1–100). Duplicates are de-duplicated; each id is processed independently so one disallowed transition does not block the rest. `dismissal_reason`, `dismissal_note` and `snooze_for` apply to every id."
      }
    },
    "com.posthog.signals#SignalsReportsBulkStateCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "state": {
          "target": "com.posthog.signals#SignalReportStateEnum",
          "traits": {
            "smithy.api#documentation": "Target state for the report. Use 'suppressed' to dismiss the report from the inbox, or 'potential' to snooze/reopen it for later review.\n\n* `suppressed` - suppressed\n* `potential` - potential",
            "smithy.api#required": {}
          }
        },
        "dismissal_reason": {
          "target": "com.posthog.signals#DismissalReasonEnum",
          "traits": {
            "smithy.api#documentation": "Optional canonical reason code for the dismissal. Must be one of: already_fixed, report_unclear, analysis_wrong, wontfix_intentional, wontfix_irrelevant, other — these match the inbox UI so the rationale renders as a labelled chip rather than a raw code. 'already_fixed' is a snooze, not a dismissal: pair it with state='potential' (restore) so the report reappears if the issue recurs. Use 'other' together with a dismissal_note for anything that doesn't fit a code.\n\n* `already_fixed` - Already fixed\n* `report_unclear` - Report is unclear to me\n* `analysis_wrong` - Agent's analysis is wrong\n* `wontfix_intentional` - Won't fix - intentional behavior\n* `wontfix_irrelevant` - Won't fix - issue is real but insignificant\n* `other` - Something else…"
          }
        },
        "dismissal_note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional free-form note explaining the dismissal. Capped at 4000 characters."
          }
        },
        "snooze_for": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional, only honored when state is 'potential'. Number of additional signals the report must accumulate before it is re-promoted into the pipeline — effectively snoozing it until then. Omit to let the report re-enter the pipeline on the next matching signal."
          }
        },
        "ids": {
          "target": "com.posthog.signals#SignalsReportsBulkStateCreateRequestIdsList",
          "traits": {
            "smithy.api#documentation": "Report ids to transition to `state` in one call (1–100). Duplicates are de-duplicated; each id is processed independently so one disallowed transition does not block the rest. `dismissal_reason`, `dismissal_note` and `snooze_for` apply to every id.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalReportBulkStateResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.signals#SignalReportBulkStateResponseResultsList",
          "traits": {
            "smithy.api#documentation": "One result per requested id, in request order (after de-duplication).",
            "smithy.api#required": {}
          }
        },
        "transitioned_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of reports whose state was changed.",
            "smithy.api#required": {}
          }
        },
        "skipped_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of reports whose transition was not allowed.",
            "smithy.api#required": {}
          }
        },
        "failed_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of reports that failed on invalid request data.",
            "smithy.api#required": {}
          }
        },
        "not_found_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of requested ids not visible to the caller.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportBulkStateResult": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The report id this result refers to.",
            "smithy.api#required": {}
          }
        },
        "outcome": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One of: transitioned, skipped, failed, not_found. transitioned: the state change was applied. skipped: the transition was not allowed from the report's current status (a 409 on the single-report endpoint). failed: the request data was invalid for this report. not_found: no report with this id is visible to you.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The report's status after the transition. Present only when outcome is 'transitioned'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation for non-transitioned outcomes (skipped / failed / not_found).",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportBulkStateResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#SignalReportBulkStateResult"
      },
      "traits": {
        "smithy.api#documentation": "One result per requested id, in request order (after de-duplication)."
      }
    },
    "com.posthog.signals#SignalsReportsBulkStateCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportsBulkStateCreateRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalReportBulkStateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/signals/reports/bulk-state/",
          "code": 200
        },
        "smithy.api#documentation": "Transition many reports to a new state in one call.\n\nEach id is processed independently: a report whose transition isn't allowed from its\ncurrent status is reported as `skipped` (a 409 on the single-report endpoint) and the\nrest still go through. Returns one result per requested id (in request order, after\nde-duplication) plus per-outcome counts. The whole call is 200 even on partial failure —\ninspect `results` / the counts to see what happened."
      }
    },
    "com.posthog.signals#SignalsScoutConfigListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalScoutConfig": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `signals-scout-*` skill this config controls. Set at creation, not editable.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable summary of what this scout investigates, sourced from the scout skill's `description` metadata. Use it for a quick steer on the scout's focus without loading the full skill body. Empty if the skill is not currently present on the team or carries no description.",
            "smithy.api#required": {}
          }
        },
        "scout_origin": {
          "target": "com.posthog.signals#ScoutOriginEnum",
          "traits": {
            "smithy.api#documentation": "Where this scout came from: `canonical` for a scout PostHog ships and maintains (seeded from `products/signals/skills/`), or `custom` for one a team hand-authored on this project. Use it to badge built-in vs custom scouts instead of a hardcoded name list. Defaults to `custom` if the skill is not currently present on the team.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this scout runs on its schedule. Disabled scouts are skipped by the coordinator."
          }
        },
        "emit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the scout writes findings to the inbox. False = dry-run: it runs and logs but emits nothing."
          }
        },
        "run_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes between runs (30–43200). The scout runs once this interval has elapsed since its last run."
          }
        },
        "last_run_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the coordinator last dispatched this scout. Null if it has never run.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per-(team, skill) scout config: schedule, enablement, and emit posture.\n\nOne row per `signals-scout-*` skill on the team. The coordinator auto-creates a row\nwhen it discovers a scout skill; this serializer lets agents tune the row."
      }
    },
    "com.posthog.signals#ScoutOriginEnum": {
      "type": "enum",
      "members": {
        "CANONICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canonical"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsScoutConfigListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#SignalScoutConfig"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsScoutConfigListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.signals#SignalsScoutConfigListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.signals#SignalsScoutConfigList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsScoutConfigListRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalsScoutConfigListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/scout/configs/",
          "code": 200
        },
        "smithy.api#documentation": "List scout configs\n\nList the per-(team, skill) scout configs for this project — schedule (`run_interval_minutes`), `enabled`, and `emit` posture per scout. A freshly authored scout skill appears here once its config is registered, either explicitly via create or by the coordinator's next tick."
      }
    },
    "com.posthog.signals#SignalsScoutConfigCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `signals-scout-*` skill to register a config for. The skill must already exist on this project — author it via the skills store first.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this scout runs on its schedule. Defaults to true."
          }
        },
        "emit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the scout writes findings to the inbox. False = dry-run: it runs and logs but emits nothing. Defaults to true."
          }
        },
        "run_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes between runs (30–43200). Defaults to 1440 (every 24 hours)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsScoutConfigCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsScoutConfigCreateRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalScoutConfig"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/signals/scout/configs/",
          "code": 200
        },
        "smithy.api#documentation": "Create a scout config\n\nRegister the config for a `signals-scout-*` skill immediately, without waiting for the coordinator to auto-register it — optionally setting `run_interval_minutes`, `enabled`, and `emit` in the same call. The skill must already exist on this project. Upsert: if a config already exists for the skill, the provided fields are applied to it."
      }
    },
    "com.posthog.signals#SignalsScoutConfigUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this Signal scout config."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this scout runs on its schedule. Disabled scouts are skipped by the coordinator."
          }
        },
        "emit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the scout writes findings to the inbox. False = dry-run: it runs and logs but emits nothing."
          }
        },
        "run_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes between runs (30–43200). The scout runs once this interval has elapsed since its last run."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsScoutConfigUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsScoutConfigUpdateRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalScoutConfig"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/signals/scout/configs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Update a scout config\n\nTune one scout: change its schedule (`run_interval_minutes`), `enabled`, or `emit` (dry-run) posture. `skill_name` is fixed. Enabling records `enabled_by` and is activity-logged since it drives spend."
      }
    },
    "com.posthog.signals#SignalsScoutConfigSyncRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsScoutConfigSyncResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#SignalScoutConfig"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsScoutConfigSyncResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.signals#SignalsScoutConfigSyncResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.signals#SignalsScoutConfigSync": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsScoutConfigSyncRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalsScoutConfigSyncResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/signals/scout/configs/sync/",
          "code": 200
        },
        "smithy.api#documentation": "Sync scout configs\n\nMaterialize the scout fleet for this project on demand (idempotent): seed the canonical `signals-scout-*` skills, create a default-schedule config for any scout lacking one, and return all scout configs. Normally the Temporal coordinator does this on its next tick; this action exists so setup flows (e.g. the wizard's self-driving program) can hand the user a tunable fleet immediately."
      }
    },
    "com.posthog.signals#SignalsScoutMetadataGetRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#ScoutMetadata": {
      "type": "structure",
      "members": {
        "enrolled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this project runs scouts. True when the project is in the signals-scout flag's enrollment set — either listed explicitly in guaranteed_team_ids or covered by the \"*\" wildcard (every project that turns scouts on) — and not in skip_team_ids.",
            "smithy.api#required": {}
          }
        },
        "banner_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form announcement banner to show above the scout UI (e.g. alpha run-limit notice), or null when unset.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "limits": {
          "target": "com.posthog.signals#ScoutLimits",
          "traits": {
            "smithy.api#documentation": "The team's enforced scout run caps and current usage.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Team-scoped scout metadata for the inbox / Code-app UIs: enrollment, the alpha banner, and\nthe enforced limits. Sourced from the `signals-scout` flag payload so the banner and caps can\nchange without a deploy to either app."
      }
    },
    "com.posthog.signals#ScoutLimits": {
      "type": "structure",
      "members": {
        "max_runs_per_tick": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Most scout runs the team can start in a single 30-minute coordinator tick.",
            "smithy.api#required": {}
          }
        },
        "max_runs_per_day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Most scout runs the team can start per rolling 24 hours, or null when uncapped.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "runs_today": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Scout runs the team has started in the trailing 24 hours.",
            "smithy.api#required": {}
          }
        },
        "runs_remaining_today": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Runs still allowed in the trailing 24h window (max_runs_per_day − runs_today), or null when uncapped.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A team's enforced scout run caps and current usage.\n\nThese are the values the coordinator actually applies at dispatch (resolved per-team override →\nfleet-wide default → code constant), so the UI can show the real throttle rather than what a\nuser thinks they configured."
      }
    },
    "com.posthog.signals#SignalsScoutMetadataGet": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsScoutMetadataGetRequest"
      },
      "output": {
        "target": "com.posthog.signals#ScoutMetadata"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/scout/metadata/current/",
          "code": 200
        },
        "smithy.api#documentation": "Get scout metadata\n\nReturn the project's scout metadata: whether it is enrolled, the current announcement banner (e.g. an alpha run-limit notice, or null when unset), and the enforced run limits with current usage. Limits reflect what the coordinator actually applies at dispatch, so a user can see the real throttle rather than what they assume they set. All values come from the `signals-scout` flag payload, so the banner and caps can change with no deploy."
      }
    },
    "com.posthog.signals#SignalsScoutProjectProfileGetRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "force_refresh": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "force_refresh",
            "smithy.api#documentation": "When true, skip the cache and rebuild the profile from authoritative sources before responding. Use after seeding events, importing data, or any other change the caller knows just landed but hasn't surfaced through natural cache expiry yet. Honored only for the internal scout token — public read callers get the cached profile regardless. Concurrent forced rebuilds are serialized by the team-keyed advisory lock — at most one extra `build_inventory` per simultaneous request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#ProjectProfile": {
      "type": "structure",
      "members": {
        "profile_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the `SignalProjectProfile` row.",
            "smithy.api#required": {}
          }
        },
        "computed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp the profile was built.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp after which the profile is considered stale.",
            "smithy.api#required": {}
          }
        },
        "source_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema version of the inventory builder. Bumps invalidate older cached rows.",
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "com.posthog.signals#ProjectProfilePayload",
          "traits": {
            "smithy.api#documentation": "Structured profile content. v1 has `inventory` only.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wire shape for the project profile returned by `signals-scout-harness-project-profile-list`.\n\nRead this once at the start of a run (after `skill-get`) to orient on the team. Cache\nis per-team with a soft TTL (`PROFILE_TTL`); the response always reflects either the\nlatest cached profile or a freshly-built one if the cache was stale or the caller passed\n`force_refresh=true`."
      }
    },
    "com.posthog.signals#ProjectProfilePayload": {
      "type": "structure",
      "members": {
        "inventory": {
          "target": "com.posthog.signals#ProjectProfileInventory",
          "traits": {
            "smithy.api#documentation": "Deterministic snapshot of what's true about the project.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Top-level `payload` shape on a `SignalProjectProfile` row.\n\nv1 carries `inventory` only. Phase 7 will add `deltas`, `activity_notes`, and\n`narrative` slots — they're absent (not null) in v1 responses."
      }
    },
    "com.posthog.signals#ProjectProfileInventory": {
      "type": "structure",
      "members": {
        "project_context": {
          "target": "com.posthog.signals#ProjectContext",
          "traits": {
            "smithy.api#documentation": "Free-form orientation: human-set product description + registered app URLs.",
            "smithy.api#required": {}
          }
        },
        "products_in_use": {
          "target": "com.posthog.signals#ProjectProfileInventoryProductsInUseList",
          "traits": {
            "smithy.api#documentation": "Product keys this team has completed onboarding for, sorted alphabetically.",
            "smithy.api#required": {}
          }
        },
        "product_intents": {
          "target": "com.posthog.signals#ProjectProfileInventoryProductIntentsList",
          "traits": {
            "smithy.api#documentation": "Products the team signaled intent to use; useful for spotting stuck onboardings.",
            "smithy.api#required": {}
          }
        },
        "integrations": {
          "target": "com.posthog.signals#ProjectProfileInventoryIntegrationsList",
          "traits": {
            "smithy.api#documentation": "Connected integrations (kind + connection time only — config never surfaced).",
            "smithy.api#required": {}
          }
        },
        "external_data_sources": {
          "target": "com.posthog.signals#ProjectProfileInventoryExternalDataSourcesList",
          "traits": {
            "smithy.api#documentation": "Connected warehouse sources (excludes soft-deleted).",
            "smithy.api#required": {}
          }
        },
        "signal_source_configs": {
          "target": "com.posthog.signals#SignalSourceConfigsBuckets",
          "traits": {
            "smithy.api#documentation": "Signal source configs split into enabled / disabled buckets.",
            "smithy.api#required": {}
          }
        },
        "existing_inbox_reports": {
          "target": "com.posthog.signals#ExistingInboxReports",
          "traits": {
            "smithy.api#documentation": "Counts of reports already in the inbox, grouped by status.",
            "smithy.api#required": {}
          }
        },
        "recent_activity": {
          "target": "com.posthog.signals#RecentActivity",
          "traits": {
            "smithy.api#documentation": "Per-scope counts off the activity log over the recent-activity window — cross-cutting orientation across every entity type (surveys, feature flags, experiments, dashboards, insights, cohorts, notebooks, actions, etc.). Each scope reports `edits` (total log entries), `users` (distinct user count), and `last_edit` (ISO-8601). Use to triage which scope a team has been working in lately before drilling down via the per-entity readers or `activity-log-list`.",
            "smithy.api#required": {}
          }
        },
        "recent_dashboards": {
          "target": "com.posthog.signals#ProjectProfileInventoryRecentDashboardsList",
          "traits": {
            "smithy.api#documentation": "Up to 20 dashboards on this team sorted by `last_accessed_at` desc — what the team is currently looking at, not necessarily the most-trafficked. We don't have per-dashboard view counts in Postgres, only the timestamp of the most recent access.",
            "smithy.api#required": {}
          }
        },
        "recent_surveys": {
          "target": "com.posthog.signals#RecentSurveys",
          "traits": {
            "smithy.api#documentation": "Surveys orientation: total + active count, plus the 5 most recently updated surveys with id, name, type, status (draft / running / stopped / archived), and updated_at.",
            "smithy.api#required": {}
          }
        },
        "recent_feature_flags": {
          "target": "com.posthog.signals#RecentFeatureFlags",
          "traits": {
            "smithy.api#documentation": "Feature flag orientation: total + active count, plus the 5 most recently updated non-deleted flags with id, key, name, active, and updated_at.",
            "smithy.api#required": {}
          }
        },
        "recent_experiments": {
          "target": "com.posthog.signals#RecentExperiments",
          "traits": {
            "smithy.api#documentation": "Experiment orientation: total + running count, plus the 5 most recently updated experiments. The feature_flag_key on each row lets the scout correlate experiments with the `recent_feature_flags` section.",
            "smithy.api#required": {}
          }
        },
        "recent_alerts": {
          "target": "com.posthog.signals#RecentAlerts",
          "traits": {
            "smithy.api#documentation": "Alert orientation: total + enabled count, plus the 5 most recently created alerts with their state and threshold metadata.",
            "smithy.api#required": {}
          }
        },
        "recent_hog_functions": {
          "target": "com.posthog.signals#RecentHogFunctions",
          "traits": {
            "smithy.api#documentation": "Hog function orientation: total + enabled count, plus the 5 most recently updated destinations / transformations the team has wired up via the CDP pipelines.",
            "smithy.api#required": {}
          }
        },
        "recent_hog_flows": {
          "target": "com.posthog.signals#RecentHogFlows",
          "traits": {
            "smithy.api#documentation": "Hog flow orientation: total + non-archived count, plus the 5 most recently updated automation flows.",
            "smithy.api#required": {}
          }
        },
        "recent_notebooks": {
          "target": "com.posthog.signals#RecentNotebooks",
          "traits": {
            "smithy.api#documentation": "Notebook orientation: total + the 5 most recently modified notebooks — useful signal for what the team has been investigating.",
            "smithy.api#required": {}
          }
        },
        "recent_cohorts": {
          "target": "com.posthog.signals#RecentCohorts",
          "traits": {
            "smithy.api#documentation": "Cohort orientation: total + the 5 most recently created cohorts on the team.",
            "smithy.api#required": {}
          }
        },
        "recent_actions": {
          "target": "com.posthog.signals#RecentActions",
          "traits": {
            "smithy.api#documentation": "Action orientation: total + the 5 most recently updated actions — useful to anchor agent reasoning about what the team treats as a meaningful interaction.",
            "smithy.api#required": {}
          }
        },
        "top_events": {
          "target": "com.posthog.signals#ProjectProfileInventoryTopEventsList",
          "traits": {
            "smithy.api#documentation": "Top ~50 events by count over the last 7 days, with first/last seen timestamps within the window. `null` if the underlying ClickHouse query failed or timed out (distinct from `[]`, which means the team has no captures in the window). Use the gap between `first_seen` and `now` to spot new event types or recent bursts.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The deterministic inventory layer of a project profile.\n\nRead this to orient on the team's product mix, integrations, warehouse sources, signal\ncoverage, and existing inbox surface in one tool call. Distinct from `SignalScratchpad`:\nprofile is ground truth from authoritative tables; memory is agent inference."
      }
    },
    "com.posthog.signals#ProjectContext": {
      "type": "structure",
      "members": {
        "product_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-set product description on the project (max 1000 chars). When present, the most direct \"what does this team's product do\" answer. `null` when unset.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "app_urls": {
          "target": "com.posthog.signals#ProjectContextAppUrlsList",
          "traits": {
            "smithy.api#documentation": "Registered app URLs for this team (toolbar / replay). The team's actual product surface; complements `$pageview.$host` discovery via `read-data-schema`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`inventory.project_context` — free-form orientation about the project's product."
      }
    },
    "com.posthog.signals#ProjectContextAppUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Registered app URLs for this team (toolbar / replay). The team's actual product surface; complements `$pageview.$host` discovery via `read-data-schema`."
      }
    },
    "com.posthog.signals#ProjectProfileInventoryProductsInUseList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Product keys this team has completed onboarding for, sorted alphabetically."
      }
    },
    "com.posthog.signals#ProductIntentEntry": {
      "type": "structure",
      "members": {
        "product_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Product key the team signaled intent to use.",
            "smithy.api#required": {}
          }
        },
        "activated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp the team activated the product, or null if intent only.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp the intent was first recorded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One row in `inventory.product_intents`."
      }
    },
    "com.posthog.signals#ProjectProfileInventoryProductIntentsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#ProductIntentEntry"
      },
      "traits": {
        "smithy.api#documentation": "Products the team signaled intent to use; useful for spotting stuck onboardings."
      }
    },
    "com.posthog.signals#IntegrationEntry": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integration kind (e.g. `slack`, `github`, `linear`).",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp the integration was connected.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One row in `inventory.integrations`. Sensitive config is intentionally excluded."
      }
    },
    "com.posthog.signals#ProjectProfileInventoryIntegrationsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#IntegrationEntry"
      },
      "traits": {
        "smithy.api#documentation": "Connected integrations (kind + connection time only — config never surfaced)."
      }
    },
    "com.posthog.signals#ExternalDataSourceEntry": {
      "type": "structure",
      "members": {
        "source_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Warehouse source type (e.g. `Stripe`, `Postgres`, `BigQuery`).",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current sync status (`Running`, `Failed`, `Paused`, etc.).",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema prefix used by this source, if any.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp the source was connected.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One row in `inventory.external_data_sources`."
      }
    },
    "com.posthog.signals#ProjectProfileInventoryExternalDataSourcesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#ExternalDataSourceEntry"
      },
      "traits": {
        "smithy.api#documentation": "Connected warehouse sources (excludes soft-deleted)."
      }
    },
    "com.posthog.signals#SignalSourceConfigsBuckets": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "com.posthog.signals#SignalSourceConfigsBucketsEnabledList",
          "traits": {
            "smithy.api#documentation": "Source configs the team has explicitly enabled.",
            "smithy.api#required": {}
          }
        },
        "disabled": {
          "target": "com.posthog.signals#SignalSourceConfigsBucketsDisabledList",
          "traits": {
            "smithy.api#documentation": "Source configs the team has explicitly disabled (different from never wired up).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`inventory.signal_source_configs` split into enabled and disabled buckets."
      }
    },
    "com.posthog.signals#SignalSourceConfigEntry": {
      "type": "structure",
      "members": {
        "source_product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source product the config applies to.",
            "smithy.api#required": {}
          }
        },
        "source_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source type within the product.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One row in either bucket of `inventory.signal_source_configs`."
      }
    },
    "com.posthog.signals#SignalSourceConfigsBucketsEnabledList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#SignalSourceConfigEntry"
      },
      "traits": {
        "smithy.api#documentation": "Source configs the team has explicitly enabled."
      }
    },
    "com.posthog.signals#SignalSourceConfigsBucketsDisabledList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#SignalSourceConfigEntry"
      },
      "traits": {
        "smithy.api#documentation": "Source configs the team has explicitly disabled (different from never wired up)."
      }
    },
    "com.posthog.signals#ExistingInboxReports": {
      "type": "structure",
      "members": {
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total non-deleted, non-suppressed reports for this team.",
            "smithy.api#required": {}
          }
        },
        "by_status": {
          "target": "com.posthog.signals#ExistingInboxReportsByStatusList",
          "traits": {
            "smithy.api#documentation": "Per-status breakdown of inbox reports.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`inventory.existing_inbox_reports` — what's already been surfaced to the inbox."
      }
    },
    "com.posthog.signals#InboxReportStatusBucket": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Report status (e.g. `potential`, `candidate`, `ready`).",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of reports in this status (excludes deleted/suppressed).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One bucket in `inventory.existing_inbox_reports.by_status`."
      }
    },
    "com.posthog.signals#ExistingInboxReportsByStatusList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#InboxReportStatusBucket"
      },
      "traits": {
        "smithy.api#documentation": "Per-status breakdown of inbox reports."
      }
    },
    "com.posthog.signals#RecentActivity": {
      "type": "structure",
      "members": {
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lookback window in days the per-scope counts cover.",
            "smithy.api#required": {}
          }
        },
        "by_scope": {
          "target": "com.posthog.signals#RecentActivityByScopeList",
          "traits": {
            "smithy.api#documentation": "Per-scope activity rows, busiest scope first. Triage which entity type the team has worked in lately.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`inventory.recent_activity` — per-scope counts off the activity log."
      }
    },
    "com.posthog.signals#ScopeActivityEntry": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Activity-log scope (entity type), e.g. `FeatureFlag`, `Dashboard`, `Survey`.",
            "smithy.api#required": {}
          }
        },
        "edits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total activity-log entries for this scope in the window (write velocity).",
            "smithy.api#required": {}
          }
        },
        "users": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct users who edited this scope in the window.",
            "smithy.api#required": {}
          }
        },
        "last_edit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp of the most recent edit in the window.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One row in `inventory.recent_activity.by_scope`."
      }
    },
    "com.posthog.signals#RecentActivityByScopeList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#ScopeActivityEntry"
      },
      "traits": {
        "smithy.api#documentation": "Per-scope activity rows, busiest scope first. Triage which entity type the team has worked in lately."
      }
    },
    "com.posthog.signals#RecentDashboardEntry": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Dashboard ID — pass to `dashboard-get` to pull the full payload.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dashboard name (may be blank if unnamed).",
            "smithy.api#required": {}
          }
        },
        "last_accessed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp of the most recent view in the PostHog UI.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_refresh": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp of the most recent data refresh. Distinct from access — a dashboard can be refreshed without anyone viewing it.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp the dashboard was created.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One row in `inventory.recent_dashboards`."
      }
    },
    "com.posthog.signals#ProjectProfileInventoryRecentDashboardsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#RecentDashboardEntry"
      },
      "traits": {
        "smithy.api#documentation": "Up to 20 dashboards on this team sorted by `last_accessed_at` desc — what the team is currently looking at, not necessarily the most-trafficked. We don't have per-dashboard view counts in Postgres, only the timestamp of the most recent access."
      }
    },
    "com.posthog.signals#RecentSurveys": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total surveys on the team.",
            "smithy.api#required": {}
          }
        },
        "active_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Surveys that are live (not archived, started, and not yet ended).",
            "smithy.api#required": {}
          }
        },
        "recent": {
          "target": "com.posthog.signals#RecentSurveysRecentList",
          "traits": {
            "smithy.api#documentation": "The 5 most recently updated surveys.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`inventory.recent_surveys` — total + active count, plus the 5 most recently modified."
      }
    },
    "com.posthog.signals#RecentSurveyEntry": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Survey UUID — pass to `survey-get` for full question shape.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Survey name (may be blank if unnamed).",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Survey mode: `popover`, `widget`, `external_survey`, or `api`.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Derived status: `draft`, `running`, `stopped`, or `archived`.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 last-modified timestamp.",
            "smithy.api#required": {},
[...]
