{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.surveys#SurveysListRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveysListRequestType": {
      "type": "enum",
      "members": {
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api"
          }
        },
        "EXTERNAL_SURVEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external_survey"
          }
        },
        "POPOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "popover"
          }
        },
        "WIDGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "widget"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveysListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "archived"
          }
        },
        "ids": {
          "target": "com.posthog.surveys#SurveysListRequestIdsList",
          "traits": {
            "smithy.api#httpQuery": "ids",
            "smithy.api#documentation": "Multiple values may be separated by commas."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Fuzzy match against survey `name` and `description` using Postgres trigram word similarity. Supports typos and prefix-as-you-type."
          }
        },
        "type": {
          "target": "com.posthog.surveys#SurveysListRequestType",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#documentation": "* `popover` - popover\n* `widget` - widget\n* `external_survey` - external survey\n* `api` - api"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.surveys#PaginatedSurveyList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.surveys#PaginatedSurveyListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#Survey": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.posthog.surveys#SurveyType"
        },
        "schedule": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "linked_flag": {
          "target": "com.posthog.surveys#MinimalFeatureFlag"
        },
        "linked_flag_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "linked_insight_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "targeting_flag": {
          "target": "com.posthog.surveys#MinimalFeatureFlag"
        },
        "internal_targeting_flag": {
          "target": "com.posthog.surveys#MinimalFeatureFlag"
        },
        "questions": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "\n        The `array` of questions included in the survey. Each question must conform to one of the defined question types: Basic, Link, Rating, or Multiple Choice.\n\n        Basic (open-ended question)\n        - `id`: The question ID\n        - `type`: `open`\n        - `question`: The text of the question.\n        - `description`: Optional description of the question.\n        - `descriptionContentType`: Content type of the description (`html` or `text`).\n        - `optional`: Whether the question is optional (`boolean`).\n        - `buttonText`: Text displayed on the submit button.\n        - `branching`: Branching logic for the question. See branching types below for details.\n\n        Link (a question with a link)\n        - `id`: The question ID\n        - `type`: `link`\n        - `question`: The text of the question.\n        - `description`: Optional description of the question.\n        - `descriptionContentType`: Content type of the description (`html` or `text`).\n        - `optional`: Whether the question is optional (`boolean`).\n        - `buttonText`: Text displayed on the submit button.\n        - `link`: The URL associated with the question.\n        - `branching`: Branching logic for the question. See branching types below for details.\n\n        Rating (a question with a rating scale)\n        - `id`: The question ID\n        - `type`: `rating`\n        - `question`: The text of the question.\n        - `description`: Optional description of the question.\n        - `descriptionContentType`: Content type of the description (`html` or `text`).\n        - `optional`: Whether the question is optional (`boolean`).\n        - `buttonText`: Text displayed on the submit button.\n        - `display`: Display style of the rating (`number` or `emoji`).\n        - `scale`: The scale of the rating (`number`).\n        - `lowerBoundLabel`: Label for the lower bound of the scale.\n        - `upperBoundLabel`: Label for the upper bound of the scale.\n        - `isNpsQuestion`: Whether the question is an NPS rating.\n        - `branching`: Branching logic for the question. See branching types below for details.\n\n        Multiple choice\n        - `id`: The question ID\n        - `type`: `single_choice` or `multiple_choice`\n        - `question`: The text of the question.\n        - `description`: Optional description of the question.\n        - `descriptionContentType`: Content type of the description (`html` or `text`).\n        - `optional`: Whether the question is optional (`boolean`).\n        - `buttonText`: Text displayed on the submit button.\n        - `choices`: An array of choices for the question.\n        - `shuffleOptions`: Whether to shuffle the order of the choices (`boolean`).\n        - `hasOpenChoice`: Whether the question allows an open-ended response (`boolean`).\n        - `branching`: Branching logic for the question. See branching types below for details.\n\n        Branching logic can be one of the following types:\n\n        Next question: Proceeds to the next question\n        ```json\n        {\n            \"type\": \"next_question\"\n        }\n        ```\n\n        End: Ends the survey, optionally displaying a confirmation message.\n        ```json\n        {\n            \"type\": \"end\"\n        }\n        ```\n\n        Response-based: Branches based on the response values. Available for the `rating` and `single_choice` question types.\n        ```json\n        {\n            \"type\": \"response_based\",\n            \"responseValues\": {\n                \"responseKey\": \"value\"\n            }\n        }\n        ```\n\n        Specific question: Proceeds to a specific question by index.\n        ```json\n        {\n            \"type\": \"specific_question\",\n            \"index\": 2\n        }\n        ```\n\n        Translations: Each question can include inline translations.\n        - `translations`: Object mapping language codes to translated fields.\n        - Language codes: Canonical BCP-47-ish strings (e.g., \"es\", \"es-MX\", \"zh-CN\"). Aliases like \"english\" or \"default\" are rejected. The survey's `base_language` (default \"en\") declares the language of the untranslated text and cannot also appear as a translation key.\n        - Translatable fields: `question`, `description`, `buttonText`, `choices`, `lowerBoundLabel`, `upperBoundLabel`, `link`\n\n        Example with translations:\n        ```json\n        {\n            \"id\": \"uuid\",\n            \"type\": \"rating\",\n            \"question\": \"How satisfied are you?\",\n            \"lowerBoundLabel\": \"Not satisfied\",\n            \"upperBoundLabel\": \"Very satisfied\",\n            \"translations\": {\n                \"es\": {\n                    \"question\": \"¿Qué tan satisfecho estás?\",\n                    \"lowerBoundLabel\": \"No satisfecho\",\n                    \"upperBoundLabel\": \"Muy satisfecho\"\n                },\n                \"fr\": {\n                    \"question\": \"Dans quelle mesure êtes-vous satisfait?\"\n                }\n            }\n        }\n        ```\n        "
          }
        },
        "conditions": {
          "target": "com.posthog.surveys#SurveyConditionsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "appearance": {
          "target": "smithy.api#Document"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.surveys#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean"
        },
        "responses_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "feature_flag_keys": {
          "target": "com.posthog.surveys#SurveyFeatureFlagKeysList"
        },
        "iteration_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "iteration_frequency_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "iteration_start_dates": {
          "target": "com.posthog.surveys#SurveyIterationStartDatesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "current_iteration": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "current_iteration_start_date": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "response_sampling_start_date": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "response_sampling_interval_type": {
          "target": "com.posthog.surveys#SurveyResponseSamplingIntervalType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "response_sampling_interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "response_sampling_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "response_sampling_daily_limits": {
          "target": "smithy.api#Document"
        },
        "enable_partial_responses": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enable_iframe_embedding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "base_language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BCP-47 language code (e.g. 'en', 'es', 'es-MX') describing the language of the survey's untranslated text. Defaults to 'en'. Cannot also appear as a key in `translations`."
          }
        },
        "translations": {
          "target": "smithy.api#Document"
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        },
        "form_content": {
          "target": "smithy.api#Document"
        },
        "search_match_type": {
          "target": "com.posthog.surveys#SearchMatchTypeEnum",
          "traits": {
            "smithy.api#documentation": "How this row matched the `search` query parameter: `exact` (the term is a case-insensitive substring of a searched field) or `similar` (a fuzzy trigram match only). Results are ordered exact-first. Null when the list is not filtered by `search`.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mixin for serializers to add user access control fields"
      }
    },
    "com.posthog.surveys#SurveyType": {
      "type": "enum",
      "members": {
        "POPOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "popover"
          }
        },
        "WIDGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "widget"
          }
        },
        "EXTERNAL_SURVEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external_survey"
          }
        },
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `popover` - popover\n* `widget` - widget\n* `external_survey` - external survey\n* `api` - api"
      }
    },
    "com.posthog.surveys#MinimalFeatureFlag": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "team_id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "key": {
          "target": "smithy.api#String"
        },
        "filters": {
          "target": "com.posthog.surveys#MinimalFeatureFlagFiltersMap"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "active": {
          "target": "smithy.api#Boolean"
        },
        "ensure_experience_continuity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluation_runtime": {
          "target": "com.posthog.surveys#MinimalFeatureFlagEvaluationRuntime",
          "traits": {
            "smithy.api#documentation": "Specifies where this feature flag should be evaluated\n\n* `server` - Server\n* `client` - Client\n* `all` - All",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bucketing_identifier": {
          "target": "com.posthog.surveys#MinimalFeatureFlagBucketingIdentifier",
          "traits": {
            "smithy.api#documentation": "Identifier used for bucketing users into rollout and variants\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID",
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluation_contexts": {
          "target": "com.posthog.surveys#MinimalFeatureFlagEvaluationContextsList"
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#MinimalFeatureFlagFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.surveys#EvaluationRuntimeEnum": {
      "type": "enum",
      "members": {
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        },
        "CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `server` - Server\n* `client` - Client\n* `all` - All"
      }
    },
    "com.posthog.surveys#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#MinimalFeatureFlagEvaluationRuntime": {
      "type": "union",
      "members": {
        "EvaluationRuntimeEnum": {
          "target": "com.posthog.surveys#EvaluationRuntimeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.surveys#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies where this feature flag should be evaluated\n\n* `server` - Server\n* `client` - Client\n* `all` - All"
      }
    },
    "com.posthog.surveys#BucketingIdentifierEnum": {
      "type": "enum",
      "members": {
        "DISTINCT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "distinct_id"
          }
        },
        "DEVICE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "device_id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `distinct_id` - User ID (default)\n* `device_id` - Device ID"
      }
    },
    "com.posthog.surveys#MinimalFeatureFlagBucketingIdentifier": {
      "type": "union",
      "members": {
        "BucketingIdentifierEnum": {
          "target": "com.posthog.surveys#BucketingIdentifierEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.surveys#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifier used for bucketing users into rollout and variants\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID"
      }
    },
    "com.posthog.surveys#MinimalFeatureFlagEvaluationContextsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyConditionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.surveys#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.surveys#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.surveys#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.surveys#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.surveys#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.surveys#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.surveys#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyFeatureFlagKeysItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyFeatureFlagKeysList": {
      "type": "list",
      "member": {
        "target": "com.posthog.surveys#SurveyFeatureFlagKeysItemMap"
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyIterationStartDatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.surveys#ResponseSamplingIntervalTypeEnum": {
      "type": "enum",
      "members": {
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `day` - day\n* `week` - week\n* `month` - month"
      }
    },
    "com.posthog.surveys#SurveyResponseSamplingIntervalType": {
      "type": "union",
      "members": {
        "ResponseSamplingIntervalTypeEnum": {
          "target": "com.posthog.surveys#ResponseSamplingIntervalTypeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.surveys#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SearchMatchTypeEnum": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "SIMILAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "similar"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#PaginatedSurveyListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.surveys#Survey"
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveysList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.surveys#SurveysListRequest"
      },
      "output": {
        "target": "com.posthog.surveys#PaginatedSurveyList"
      },
      "errors": [
        {
          "target": "com.posthog.surveys#BadRequest"
        },
        {
          "target": "com.posthog.surveys#Forbidden"
        },
        {
          "target": "com.posthog.surveys#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/surveys/",
          "code": 200
        }
      }
    },
    "com.posthog.surveys#ScheduleEnum": {
      "type": "enum",
      "members": {
        "ONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "once"
          }
        },
        "RECURRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recurring"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `once` - once\n* `recurring` - recurring\n* `always` - always"
      }
    },
    "com.posthog.surveys#FeatureFlagFiltersSchema": {
      "type": "structure",
      "members": {
        "groups": {
          "target": "com.posthog.surveys#FeatureFlagFiltersSchemaGroupsList",
          "traits": {
            "smithy.api#documentation": "Release condition groups for the feature flag."
          }
        },
        "multivariate": {
          "target": "com.posthog.surveys#FeatureFlagMultivariateSchema",
          "traits": {
            "smithy.api#documentation": "Multivariate configuration for variant-based rollouts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "aggregation_group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index for group-based feature flags.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "payloads": {
          "target": "com.posthog.surveys#FeatureFlagFiltersSchemaPayloadsMap",
          "traits": {
            "smithy.api#documentation": "Optional payload values keyed by variant key."
          }
        },
        "feature_enrollment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this flag has early access feature enrollment enabled. When true, the flag is evaluated against the person property $feature_enrollment/{flag_key}.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "early_exit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, condition evaluation stops at the first matching condition set rather than continuing to evaluate subsequent groups."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#FeatureFlagConditionGroupSchema": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.posthog.surveys#FeatureFlagConditionGroupSchemaPropertiesList",
          "traits": {
            "smithy.api#documentation": "Property conditions for this release condition group."
          }
        },
        "rollout_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Rollout percentage for this release condition group."
          }
        },
        "variant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Variant key override for multivariate flags.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "aggregation_group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index for this condition set. None means person-level aggregation.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#FeatureFlagFilterPropertySchema": {
      "type": "union",
      "members": {
        "FeatureFlagFilterPropertyGenericSchema": {
          "target": "com.posthog.surveys#FeatureFlagFilterPropertyGenericSchema"
        },
        "FeatureFlagFilterPropertyExistsSchema": {
          "target": "com.posthog.surveys#FeatureFlagFilterPropertyExistsSchema"
        },
        "FeatureFlagFilterPropertyDateSchema": {
          "target": "com.posthog.surveys#FeatureFlagFilterPropertyDateSchema"
        },
        "FeatureFlagFilterPropertySemverSchema": {
          "target": "com.posthog.surveys#FeatureFlagFilterPropertySemverSchema"
        },
        "FeatureFlagFilterPropertyMultiContainsSchema": {
          "target": "com.posthog.surveys#FeatureFlagFilterPropertyMultiContainsSchema"
        },
        "FeatureFlagFilterPropertyCohortInSchema": {
          "target": "com.posthog.surveys#FeatureFlagFilterPropertyCohortInSchema"
        },
        "FeatureFlagFilterPropertyFlagEvaluatesSchema": {
          "target": "com.posthog.surveys#FeatureFlagFilterPropertyFlagEvaluatesSchema"
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#FeatureFlagFilterPropertyGenericSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.surveys#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Common values are 'person' and 'cohort'.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Comparison value for the property filter. Supports strings, numbers, booleans, and arrays."
          }
        },
        "operator": {
          "target": "com.posthog.surveys#FeatureFlagFilterPropertyGenericSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Operator used to compare the property value.\n\n* `exact` - exact\n* `is_not` - is_not\n* `icontains` - icontains\n* `not_icontains` - not_icontains\n* `regex` - regex\n* `not_regex` - not_regex\n* `gt` - gt\n* `gte` - gte\n* `lt` - lt\n* `lte` - lte"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#PropertyGroupTypeEnum": {
      "type": "enum",
      "members": {
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        },
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `cohort` - cohort\n* `person` - person\n* `group` - group"
      }
    },
    "com.posthog.surveys#FeatureFlagFilterPropertyGenericSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `exact` - exact\n* `is_not` - is_not\n* `icontains` - icontains\n* `not_icontains` - not_icontains\n* `regex` - regex\n* `not_regex` - not_regex\n* `gt` - gt\n* `gte` - gte\n* `lt` - lt\n* `lte` - lte"
      }
    },
    "com.posthog.surveys#FeatureFlagFilterPropertyExistsSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.surveys#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Common values are 'person' and 'cohort'.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.surveys#ExistenceOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Existence operator.\n\n* `is_set` - is_set\n* `is_not_set` - is_not_set"
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional value. Runtime behavior determines whether this is ignored."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#ExistenceOperatorEnum": {
      "type": "enum",
      "members": {
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `is_set` - is_set\n* `is_not_set` - is_not_set"
      }
    },
    "com.posthog.surveys#FeatureFlagFilterPropertyDateSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.surveys#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Common values are 'person' and 'cohort'.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.surveys#DateOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Date comparison operator.\n\n* `is_date_exact` - is_date_exact\n* `is_date_after` - is_date_after\n* `is_date_before` - is_date_before"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date value in ISO format or relative date expression."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#DateOperatorEnum": {
      "type": "enum",
      "members": {
        "IS_DATE_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_exact"
          }
        },
        "IS_DATE_BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_before"
          }
        },
        "IS_DATE_AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_after"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `is_date_exact` - is_date_exact\n* `is_date_before` - is_date_before\n* `is_date_after` - is_date_after"
      }
    },
    "com.posthog.surveys#FeatureFlagFilterPropertySemverSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.surveys#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Common values are 'person' and 'cohort'.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.surveys#FeatureFlagFilterPropertySemverSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Semantic version comparison operator.\n\n* `semver_gt` - semver_gt\n* `semver_gte` - semver_gte\n* `semver_lt` - semver_lt\n* `semver_lte` - semver_lte\n* `semver_eq` - semver_eq\n* `semver_neq` - semver_neq\n* `semver_tilde` - semver_tilde\n* `semver_caret` - semver_caret\n* `semver_wildcard` - semver_wildcard"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Semantic version string."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#FeatureFlagFilterPropertySemverSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "SEMVER_GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gt"
          }
        },
        "SEMVER_GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gte"
          }
        },
        "SEMVER_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lt"
          }
        },
        "SEMVER_LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lte"
          }
        },
        "SEMVER_EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_eq"
          }
        },
        "SEMVER_NEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_neq"
          }
        },
        "SEMVER_TILDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_tilde"
          }
        },
        "SEMVER_CARET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_caret"
          }
        },
        "SEMVER_WILDCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_wildcard"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `semver_gt` - semver_gt\n* `semver_gte` - semver_gte\n* `semver_lt` - semver_lt\n* `semver_lte` - semver_lte\n* `semver_eq` - semver_eq\n* `semver_neq` - semver_neq\n* `semver_tilde` - semver_tilde\n* `semver_caret` - semver_caret\n* `semver_wildcard` - semver_wildcard"
      }
    },
    "com.posthog.surveys#FeatureFlagFilterPropertyMultiContainsSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.surveys#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Common values are 'person' and 'cohort'.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.surveys#FeatureFlagFilterPropertyMultiContainsSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Multi-contains operator.\n\n* `icontains_multi` - icontains_multi\n* `not_icontains_multi` - not_icontains_multi"
          }
        },
        "value": {
          "target": "com.posthog.surveys#FeatureFlagFilterPropertyMultiContainsSchemaValueList",
          "traits": {
            "smithy.api#documentation": "List of strings to evaluate against."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#FeatureFlagFilterPropertyMultiContainsSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains_multi"
          }
        },
        "NOT_ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains_multi"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `icontains_multi` - icontains_multi\n* `not_icontains_multi` - not_icontains_multi"
      }
    },
    "com.posthog.surveys#FeatureFlagFilterPropertyMultiContainsSchemaValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of strings to evaluate against."
      }
    },
    "com.posthog.surveys#FeatureFlagFilterPropertyCohortInSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.surveys#FeatureFlagFilterPropertyCohortInSchemaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Cohort property type required for in/not_in operators.\n\n* `cohort` - cohort"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.surveys#FeatureFlagFilterPropertyCohortInSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Membership operator for cohort properties.\n\n* `in` - in\n* `not_in` - not_in"
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Cohort comparison value (single or list, depending on usage)."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#FeatureFlagFilterPropertyCohortInSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `cohort` - cohort"
      }
    },
    "com.posthog.surveys#FeatureFlagFilterPropertyCohortInSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `in` - in\n* `not_in` - not_in"
      }
    },
    "com.posthog.surveys#FeatureFlagFilterPropertyFlagEvaluatesSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.surveys#FeatureFlagFilterPropertyFlagEvaluatesSchemaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Flag property type required for flag dependency checks.\n\n* `flag` - flag"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index when using group-based filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.surveys#FeatureFlagFilterPropertyFlagEvaluatesSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Operator for feature flag dependency evaluation.\n\n* `flag_evaluates_to` - flag_evaluates_to"
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare flag evaluation against."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#FeatureFlagFilterPropertyFlagEvaluatesSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `flag` - flag"
      }
    },
    "com.posthog.surveys#FeatureFlagFilterPropertyFlagEvaluatesSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "FLAG_EVALUATES_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag_evaluates_to"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `flag_evaluates_to` - flag_evaluates_to"
      }
    },
    "com.posthog.surveys#FeatureFlagConditionGroupSchemaPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.surveys#FeatureFlagFilterPropertySchema"
      },
      "traits": {
        "smithy.api#documentation": "Property conditions for this release condition group."
      }
    },
    "com.posthog.surveys#FeatureFlagFiltersSchemaGroupsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.surveys#FeatureFlagConditionGroupSchema"
      },
      "traits": {
        "smithy.api#documentation": "Release condition groups for the feature flag."
      }
    },
    "com.posthog.surveys#FeatureFlagMultivariateSchema": {
      "type": "structure",
      "members": {
        "variants": {
          "target": "com.posthog.surveys#FeatureFlagMultivariateSchemaVariantsList",
          "traits": {
            "smithy.api#documentation": "Variant definitions for multivariate feature flags."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#FeatureFlagMultivariateVariantSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique key for this variant."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this variant."
          }
        },
        "rollout_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Variant rollout percentage."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#FeatureFlagMultivariateSchemaVariantsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.surveys#FeatureFlagMultivariateVariantSchema"
      },
      "traits": {
        "smithy.api#documentation": "Variant definitions for multivariate feature flags."
      }
    },
    "com.posthog.surveys#FeatureFlagFiltersSchemaPayloadsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional payload values keyed by variant key."
      }
    },
    "com.posthog.surveys#SurveyQuestionInputSchema": {
      "type": "union",
      "members": {
        "SurveyOpenQuestionSchema": {
          "target": "com.posthog.surveys#SurveyOpenQuestionSchema"
        },
        "SurveyLinkQuestionSchema": {
          "target": "com.posthog.surveys#SurveyLinkQuestionSchema"
        },
        "SurveyRatingQuestionSchema": {
          "target": "com.posthog.surveys#SurveyRatingQuestionSchema"
        },
        "SurveySingleChoiceQuestionSchema": {
          "target": "com.posthog.surveys#SurveySingleChoiceQuestionSchema"
        },
        "SurveyMultipleChoiceQuestionSchema": {
          "target": "com.posthog.surveys#SurveyMultipleChoiceQuestionSchema"
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyOpenQuestionSchema": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable question identifier (UUID). When editing an existing question, send back its current id so its responses (keyed by $survey_response_<id>) stay attached; omit it for new questions and the server generates one."
          }
        },
        "type": {
          "target": "com.posthog.surveys#SurveyOpenQuestionSchemaTypeEnum"
        },
        "question": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Question text shown to respondents."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional helper text."
          }
        },
        "descriptionContentType": {
          "target": "com.posthog.surveys#DescriptionContentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Format for the description field.\n\n* `text` - text\n* `html` - html"
          }
        },
        "optional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether respondents may skip this question."
          }
        },
        "buttonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom button label."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyOpenQuestionSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `open` - open"
      }
    },
    "com.posthog.surveys#DescriptionContentTypeEnum": {
      "type": "enum",
      "members": {
        "HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "html"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `html` - html\n* `text` - text"
      }
    },
    "com.posthog.surveys#SurveyLinkQuestionSchema": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable question identifier (UUID). When editing an existing question, send back its current id so its responses (keyed by $survey_response_<id>) stay attached; omit it for new questions and the server generates one."
          }
        },
        "type": {
          "target": "com.posthog.surveys#SurveyLinkQuestionSchemaTypeEnum"
        },
        "question": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Question text shown to respondents."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional helper text."
          }
        },
        "descriptionContentType": {
          "target": "com.posthog.surveys#DescriptionContentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Format for the description field.\n\n* `text` - text\n* `html` - html"
          }
        },
        "optional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether respondents may skip this question."
          }
        },
        "buttonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom button label."
          }
        },
        "link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTPS or mailto URL for link questions."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyLinkQuestionSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "link"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `link` - link"
      }
    },
    "com.posthog.surveys#SurveyRatingQuestionSchema": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable question identifier (UUID). When editing an existing question, send back its current id so its responses (keyed by $survey_response_<id>) stay attached; omit it for new questions and the server generates one."
          }
        },
        "type": {
          "target": "com.posthog.surveys#SurveyRatingQuestionSchemaTypeEnum"
        },
        "question": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Question text shown to respondents."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional helper text."
          }
        },
        "descriptionContentType": {
          "target": "com.posthog.surveys#DescriptionContentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Format for the description field.\n\n* `text` - text\n* `html` - html"
          }
        },
        "optional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether respondents may skip this question."
          }
        },
        "buttonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom button label."
          }
        },
        "display": {
          "target": "com.posthog.surveys#SurveyRatingQuestionSchemaDisplayEnum",
          "traits": {
            "smithy.api#documentation": "Display format: 'number' shows numeric scale, 'emoji' shows emoji scale.\n\n* `number` - number\n* `emoji` - emoji"
          }
        },
        "scale": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rating scale can be one of 3, 5, or 7"
          }
        },
        "lowerBoundLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label for the lowest rating (e.g., 'Very Poor')"
          }
        },
        "upperBoundLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label for the highest rating (e.g., 'Excellent')"
          }
        },
        "branching": {
          "target": "com.posthog.surveys#SurveyBranchingSchema",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyRatingQuestionSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "RATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `rating` - rating"
      }
    },
    "com.posthog.surveys#SurveyRatingQuestionSchemaDisplayEnum": {
      "type": "enum",
      "members": {
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "EMOJI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "emoji"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `number` - number\n* `emoji` - emoji"
      }
    },
    "com.posthog.surveys#SurveyBranchingSchema": {
      "type": "union",
      "members": {
        "SurveyNextQuestionBranching": {
          "target": "com.posthog.surveys#SurveyNextQuestionBranching"
        },
        "SurveyEndBranching": {
          "target": "com.posthog.surveys#SurveyEndBranching"
        },
        "SurveySpecificQuestionBranching": {
          "target": "com.posthog.surveys#SurveySpecificQuestionBranching"
        },
        "SurveyResponseBasedBranching": {
          "target": "com.posthog.surveys#SurveyResponseBasedBranching"
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyNextQuestionBranching": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.surveys#SurveyNextQuestionBranchingTypeEnum",
          "traits": {
            "smithy.api#documentation": "Continue to the next question in sequence.\n\n* `next_question` - next_question"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyNextQuestionBranchingTypeEnum": {
      "type": "enum",
      "members": {
        "NEXT_QUESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "next_question"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `next_question` - next_question"
      }
    },
    "com.posthog.surveys#SurveyEndBranching": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.surveys#SurveyEndBranchingTypeEnum",
          "traits": {
            "smithy.api#documentation": "End the survey.\n\n* `end` - end"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyEndBranchingTypeEnum": {
      "type": "enum",
      "members": {
        "END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "end"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `end` - end"
      }
    },
    "com.posthog.surveys#SurveySpecificQuestionBranching": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.surveys#SurveySpecificQuestionBranchingTypeEnum",
          "traits": {
            "smithy.api#documentation": "Jump to a specific question index.\n\n* `specific_question` - specific_question"
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "0-based index of the next question."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveySpecificQuestionBranchingTypeEnum": {
      "type": "enum",
      "members": {
        "SPECIFIC_QUESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "specific_question"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `specific_question` - specific_question"
      }
    },
    "com.posthog.surveys#SurveyResponseBasedBranching": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.surveys#SurveyResponseBasedBranchingTypeEnum",
          "traits": {
            "smithy.api#documentation": "Branch based on the selected or entered response.\n\n* `response_based` - response_based"
          }
        },
        "responseValues": {
          "target": "com.posthog.surveys#SurveyResponseBasedBranchingResponseValuesMap",
          "traits": {
            "smithy.api#documentation": "Response-based branching map. Values can be a question index or 'end'."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyResponseBasedBranchingTypeEnum": {
      "type": "enum",
      "members": {
        "RESPONSE_BASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "response_based"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `response_based` - response_based"
      }
    },
    "com.posthog.surveys#SurveyResponseBasedBranchingResponseValuesValueCase1": {
      "type": "enum",
      "members": {
        "END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "end"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyResponseBasedBranchingResponseValuesValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "com.posthog.surveys#SurveyResponseBasedBranchingResponseValuesValueCase1"
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyResponseBasedBranchingResponseValuesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.posthog.surveys#SurveyResponseBasedBranchingResponseValuesValue"
      },
      "traits": {
        "smithy.api#documentation": "Response-based branching map. Values can be a question index or 'end'."
      }
    },
    "com.posthog.surveys#SurveySingleChoiceQuestionSchema": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable question identifier (UUID). When editing an existing question, send back its current id so its responses (keyed by $survey_response_<id>) stay attached; omit it for new questions and the server generates one."
          }
        },
        "type": {
          "target": "com.posthog.surveys#SurveySingleChoiceQuestionSchemaTypeEnum"
        },
        "question": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Question text shown to respondents."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional helper text."
          }
        },
        "descriptionContentType": {
          "target": "com.posthog.surveys#DescriptionContentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Format for the description field.\n\n* `text` - text\n* `html` - html"
          }
        },
        "optional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether respondents may skip this question."
          }
        },
        "buttonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom button label."
          }
        },
        "choices": {
          "target": "com.posthog.surveys#SurveySingleChoiceQuestionSchemaChoicesList",
          "traits": {
            "smithy.api#documentation": "Array of choice options. Choice indices (0, 1, 2, ...) are used for branching logic."
          }
        },
        "shuffleOptions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to randomize the order of choices for each respondent."
          }
        },
        "hasOpenChoice": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the final option should be an open-text choice (for example, 'Other')."
          }
        },
        "branching": {
          "target": "com.posthog.surveys#SurveyBranchingSchema",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveySingleChoiceQuestionSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "SINGLE_CHOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "single_choice"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `single_choice` - single_choice"
      }
    },
    "com.posthog.surveys#SurveySingleChoiceQuestionSchemaChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of choice options. Choice indices (0, 1, 2, ...) are used for branching logic."
      }
    },
    "com.posthog.surveys#SurveyMultipleChoiceQuestionSchema": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable question identifier (UUID). When editing an existing question, send back its current id so its responses (keyed by $survey_response_<id>) stay attached; omit it for new questions and the server generates one."
          }
        },
        "type": {
          "target": "com.posthog.surveys#SurveyMultipleChoiceQuestionSchemaTypeEnum"
        },
        "question": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Question text shown to respondents."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional helper text."
          }
        },
        "descriptionContentType": {
          "target": "com.posthog.surveys#DescriptionContentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Format for the description field.\n\n* `text` - text\n* `html` - html"
          }
        },
        "optional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether respondents may skip this question."
          }
        },
        "buttonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom button label."
          }
        },
        "choices": {
          "target": "com.posthog.surveys#SurveyMultipleChoiceQuestionSchemaChoicesList",
          "traits": {
            "smithy.api#documentation": "Array of choice options. Multiple selections allowed. No branching logic supported."
          }
        },
        "shuffleOptions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to randomize the order of choices for each respondent."
          }
        },
        "hasOpenChoice": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the final option should be an open-text choice (for example, 'Other')."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyMultipleChoiceQuestionSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "MULTIPLE_CHOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiple_choice"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `multiple_choice` - multiple_choice"
      }
    },
    "com.posthog.surveys#SurveyMultipleChoiceQuestionSchemaChoicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of choice options. Multiple selections allowed. No branching logic supported."
      }
    },
    "com.posthog.surveys#SurveysCreateRequestQuestionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.surveys#SurveyQuestionInputSchema"
      },
      "traits": {
        "smithy.api#documentation": "\n        The `array` of questions included in the survey. Each question must conform to one of the defined question types: Basic, Link, Rating, or Multiple Choice.\n\n        Basic (open-ended question)\n        - `id`: The question ID\n        - `type`: `open`\n        - `question`: The text of the question.\n        - `description`: Optional description of the question.\n        - `descriptionContentType`: Content type of the description (`html` or `text`).\n        - `optional`: Whether the question is optional (`boolean`).\n        - `buttonText`: Text displayed on the submit button.\n        - `branching`: Branching logic for the question. See branching types below for details.\n\n        Link (a question with a link)\n        - `id`: The question ID\n        - `type`: `link`\n        - `question`: The text of the question.\n        - `description`: Optional description of the question.\n        - `descriptionContentType`: Content type of the description (`html` or `text`).\n        - `optional`: Whether the question is optional (`boolean`).\n        - `buttonText`: Text displayed on the submit button.\n        - `link`: The URL associated with the question.\n        - `branching`: Branching logic for the question. See branching types below for details.\n\n        Rating (a question with a rating scale)\n        - `id`: The question ID\n        - `type`: `rating`\n        - `question`: The text of the question.\n        - `description`: Optional description of the question.\n        - `descriptionContentType`: Content type of the description (`html` or `text`).\n        - `optional`: Whether the question is optional (`boolean`).\n        - `buttonText`: Text displayed on the submit button.\n        - `display`: Display style of the rating (`number` or `emoji`).\n        - `scale`: The scale of the rating (`number`).\n        - `lowerBoundLabel`: Label for the lower bound of the scale.\n        - `upperBoundLabel`: Label for the upper bound of the scale.\n        - `isNpsQuestion`: Whether the question is an NPS rating.\n        - `branching`: Branching logic for the question. See branching types below for details.\n\n        Multiple choice\n        - `id`: The question ID\n        - `type`: `single_choice` or `multiple_choice`\n        - `question`: The text of the question.\n        - `description`: Optional description of the question.\n        - `descriptionContentType`: Content type of the description (`html` or `text`).\n        - `optional`: Whether the question is optional (`boolean`).\n        - `buttonText`: Text displayed on the submit button.\n        - `choices`: An array of choices for the question.\n        - `shuffleOptions`: Whether to shuffle the order of the choices (`boolean`).\n        - `hasOpenChoice`: Whether the question allows an open-ended response (`boolean`).\n        - `branching`: Branching logic for the question. See branching types below for details.\n\n        Branching logic can be one of the following types:\n\n        Next question: Proceeds to the next question\n        ```json\n        {\n            \"type\": \"next_question\"\n        }\n        ```\n\n        End: Ends the survey, optionally displaying a confirmation message.\n        ```json\n        {\n            \"type\": \"end\"\n        }\n        ```\n\n        Response-based: Branches based on the response values. Available for the `rating` and `single_choice` question types.\n        ```json\n        {\n            \"type\": \"response_based\",\n            \"responseValues\": {\n                \"responseKey\": \"value\"\n            }\n        }\n        ```\n\n        Specific question: Proceeds to a specific question by index.\n        ```json\n        {\n            \"type\": \"specific_question\",\n            \"index\": 2\n        }\n        ```\n\n        Translations: Each question can include inline translations.\n        - `translations`: Object mapping language codes to translated fields.\n        - Language codes: Canonical BCP-47-ish strings (e.g., \"es\", \"es-MX\", \"zh-CN\"). Aliases like \"english\" or \"default\" are rejected. The survey's `base_language` (default \"en\") declares the language of the untranslated text and cannot also appear as a translation key.\n        - Translatable fields: `question`, `description`, `buttonText`, `choices`, `lowerBoundLabel`, `upperBoundLabel`, `link`\n\n        Example with translations:\n        ```json\n        {\n            \"id\": \"uuid\",\n            \"type\": \"rating\",\n            \"question\": \"How satisfied are you?\",\n            \"lowerBoundLabel\": \"Not satisfied\",\n            \"upperBoundLabel\": \"Very satisfied\",\n            \"translations\": {\n                \"es\": {\n                    \"question\": \"¿Qué tan satisfecho estás?\",\n                    \"lowerBoundLabel\": \"No satisfecho\",\n                    \"upperBoundLabel\": \"Muy satisfecho\"\n                },\n                \"fr\": {\n                    \"question\": \"Dans quelle mesure êtes-vous satisfait?\"\n                }\n            }\n        }\n        ```\n        "
      }
    },
    "com.posthog.surveys#SurveyConditionsSchema": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        },
        "selector": {
          "target": "smithy.api#String"
        },
        "seenSurveyWaitPeriodInDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Don't show this survey to users who saw any survey in the last x days."
          }
        },
        "urlMatchType": {
          "target": "com.posthog.surveys#StringMatchOperatorEnum",
          "traits": {
            "smithy.api#documentation": "URL/device matching types: 'regex' (matches regex pattern), 'not_regex' (does not match regex pattern), 'exact' (exact string match), 'is_not' (not exact match), 'icontains' (case-insensitive contains), 'not_icontains' (case-insensitive does not contain).\n\n* `regex` - regex\n* `not_regex` - not_regex\n* `exact` - exact\n* `is_not` - is_not\n* `icontains` - icontains\n* `not_icontains` - not_icontains"
          }
        },
        "events": {
          "target": "com.posthog.surveys#SurveyEventsConditionSchema"
        },
        "deviceTypes": {
          "target": "com.posthog.surveys#SurveyConditionsSchemaDeviceTypesList",
          "traits": {
            "smithy.api#documentation": "Device types that should match for this survey to be shown."
          }
        },
        "deviceTypesMatchType": {
          "target": "com.posthog.surveys#StringMatchOperatorEnum",
          "traits": {
            "smithy.api#documentation": "URL/device matching types: 'regex' (matches regex pattern), 'not_regex' (does not match regex pattern), 'exact' (exact string match), 'is_not' (not exact match), 'icontains' (case-insensitive contains), 'not_icontains' (case-insensitive does not contain).\n\n* `regex` - regex\n* `not_regex` - not_regex\n* `exact` - exact\n* `is_not` - is_not\n* `icontains` - icontains\n* `not_icontains` - not_icontains"
          }
        },
        "linkedFlagVariant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The variant of the feature flag linked to this survey."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#StringMatchOperatorEnum": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `exact` - exact\n* `is_not` - is_not\n* `icontains` - icontains\n* `not_icontains` - not_icontains\n* `regex` - regex\n* `not_regex` - not_regex"
      }
    },
    "com.posthog.surveys#SurveyEventsConditionSchema": {
      "type": "structure",
      "members": {
        "repeatedActivation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to show the survey every time one of the events is triggered (true), or just once (false)."
          }
        },
        "values": {
          "target": "com.posthog.surveys#SurveyEventsConditionSchemaValuesList",
          "traits": {
            "smithy.api#documentation": "Array of event names that trigger the survey."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyConditionEventValueSchema": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event name that triggers the survey."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveyEventsConditionSchemaValuesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.surveys#SurveyConditionEventValueSchema"
      },
      "traits": {
        "smithy.api#documentation": "Array of event names that trigger the survey."
      }
    },
    "com.posthog.surveys#DeviceTypesEnum": {
      "type": "enum",
      "members": {
        "DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Desktop"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mobile"
          }
        },
        "TABLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tablet"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `Desktop` - Desktop\n* `Mobile` - Mobile\n* `Tablet` - Tablet"
      }
    },
    "com.posthog.surveys#SurveyConditionsSchemaDeviceTypesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.surveys#DeviceTypesEnum"
      },
      "traits": {
        "smithy.api#documentation": "Device types that should match for this survey to be shown."
      }
    },
    "com.posthog.surveys#SurveyAppearanceSchema": {
      "type": "structure",
      "members": {
        "backgroundColor": {
          "target": "smithy.api#String"
        },
        "submitButtonColor": {
          "target": "smithy.api#String"
        },
        "textColor": {
          "target": "smithy.api#String"
        },
        "submitButtonText": {
          "target": "smithy.api#String"
        },
        "submitButtonTextColor": {
          "target": "smithy.api#String"
        },
        "descriptionTextColor": {
          "target": "smithy.api#String"
        },
        "ratingButtonColor": {
          "target": "smithy.api#String"
        },
        "ratingButtonActiveColor": {
          "target": "smithy.api#String"
        },
        "ratingButtonHoverColor": {
          "target": "smithy.api#String"
        },
        "whiteLabel": {
          "target": "smithy.api#Boolean"
        },
        "autoDisappear": {
          "target": "smithy.api#Boolean"
        },
        "displayThankYouMessage": {
          "target": "smithy.api#Boolean"
        },
        "thankYouMessageHeader": {
          "target": "smithy.api#String"
        },
        "thankYouMessageDescription": {
          "target": "smithy.api#String"
        },
        "thankYouMessageDescriptionContentType": {
          "target": "com.posthog.surveys#DescriptionContentTypeEnum"
        },
        "thankYouMessageCloseButtonText": {
          "target": "smithy.api#String"
        },
        "borderColor": {
          "target": "smithy.api#String"
        },
        "placeholder": {
          "target": "smithy.api#String"
        },
        "shuffleQuestions": {
          "target": "smithy.api#Boolean"
        },
        "surveyPopupDelaySeconds": {
          "target": "smithy.api#Integer"
        },
        "allowGoBack": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to show a 'Back' button on web surveys after the first question, letting respondents return to a previously visited question. Defaults to false."
          }
        },
        "backButtonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional override for the back button label. Defaults to 'Back'."
          }
        },
        "widgetType": {
          "target": "com.posthog.surveys#WidgetTypeEnum"
        },
        "widgetSelector": {
          "target": "smithy.api#String"
        },
        "widgetLabel": {
          "target": "smithy.api#String"
        },
        "widgetColor": {
          "target": "smithy.api#String"
        },
        "fontFamily": {
          "target": "smithy.api#String"
        },
        "maxWidth": {
          "target": "smithy.api#String"
        },
        "zIndex": {
          "target": "smithy.api#String"
        },
        "disabledButtonOpacity": {
          "target": "smithy.api#String"
        },
        "boxPadding": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#WidgetTypeEnum": {
      "type": "enum",
      "members": {
        "BUTTON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "button"
          }
        },
        "TAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tab"
          }
        },
        "SELECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "selector"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `button` - button\n* `tab` - tab\n* `selector` - selector"
      }
    },
    "com.posthog.surveys#SurveysCreateRequestIterationStartDatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveysCreateRequestResponseSamplingIntervalType": {
      "type": "union",
      "members": {
        "ResponseSamplingIntervalTypeEnum": {
          "target": "com.posthog.surveys#ResponseSamplingIntervalTypeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.surveys#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.surveys#SurveysCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Survey name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Survey description."
          }
        },
        "type": {
          "target": "com.posthog.surveys#SurveyType",
          "traits": {
            "smithy.api#documentation": "Survey type.\n\n* `popover` - popover\n* `widget` - widget\n* `external_survey` - external survey\n* `api` - api"
          }
        },
        "schedule": {
          "target": "com.posthog.surveys#ScheduleEnum",
          "traits": {
            "smithy.api#documentation": "Survey scheduling behavior: 'once' = show once per user (default), 'recurring' = repeat based on iteration_count and iteration_frequency_days settings, 'always' = show every time conditions are met (mainly for widget surveys)\n\n* `once` - once\n* `recurring` - recurring\n* `always` - always",
            "com.distilled.openapi#nullable": {}
          }
        },
        "linked_flag_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The feature flag linked to this survey.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "linked_insight_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "targeting_flag_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An existing targeting flag to use for this survey."
          }
        },
        "targeting_flag_filters": {
          "target": "com.posthog.surveys#FeatureFlagFiltersSchema",
          "traits": {
            "smithy.api#documentation": "Target specific users based on their properties. Example: {groups: [{properties: [{key: 'email', value: ['@company.com'], operator: 'icontains'}], rollout_percentage: 100}]}",
            "com.distilled.openapi#nullable": {}
          }
        },
        "remove_targeting_flag": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to completely remove all targeting filters from the survey, making it visible to all users (subject to other display conditions like URL matching).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "questions": {
          "target": "com.posthog.surveys#SurveysCreateRequestQuestionsList",
          "traits": {
            "smithy.api#documentation": "\n        The `array` of questions included in the survey. Each question must conform to one of the defined question types: Basic, Link, Rating, or Multiple Choice.\n\n        Basic (open-ended question)\n        - `id`: The question ID\n        - `type`: `open`\n        - `question`: The text of the question.\n        - `description`: Optional description of the question.\n        - `descriptionContentType`: Content type of the description (`html` or `text`).\n        - `optional`: Whether the question is optional (`boolean`).\n        - `buttonText`: Text displayed on the submit button.\n        - `branching`: Branching logic for the question. See branching types below for details.\n\n        Link (a question with a link)\n        - `id`: The question ID\n        - `type`: `link`\n        - `question`: The text of the question.\n        - `description`: Optional description of the question.\n        - `descriptionContentType`: Content type of the description (`html` or `text`).\n        - `optional`: Whether the question is optional (`boolean`).\n        - `buttonText`: Text displayed on the submit button.\n        - `link`: The URL associated with the question.\n        - `branching`: Branching logic for the question. See branching types below for details.\n\n        Rating (a question with a rating scale)\n        - `id`: The question ID\n        - `type`: `rating`\n        - `question`: The text of the question.\n        - `description`: Optional description of the question.\n        - `descriptionContentType`: Content type of the description (`html` or `text`).\n        - `optional`: Whether the question is optional (`boolean`).\n        - `buttonText`: Text displayed on the submit button.\n        - `display`: Display style of the rating (`number` or `emoji`).\n        - `scale`: The scale of the rating (`number`).\n        - `lowerBoundLabel`: Label for the lower bound of the scale.\n        - `upperBoundLabel`: Label for the upper bound of the scale.\n        - `isNpsQuestion`: Whether the question is an NPS rating.\n        - `branching`: Branching logic for the question. See branching types below for details.\n\n        Multiple choice\n        - `id`: The question ID\n        - `type`: `single_choice` or `multiple_choice`\n        - `question`: The text of the question.\n        - `description`: Optional description of the question.\n        - `descriptionContentType`: Content type of the description (`html` or `text`).\n        - `optional`: Whether the question is optional (`boolean`).\n        - `buttonText`: Text displayed on the submit button.\n        - `choices`: An array of choices for the question.\n        - `shuffleOptions`: Whether to shuffle the order of the choices (`boolean`).\n        - `hasOpenChoice`: Whether the question allows an open-ended response (`boolean`).\n        - `branching`: Branching logic for the question. See branching types below for details.\n\n        Branching logic can be one of the following types:\n\n        Next question: Proceeds to the next question\n        ```json\n        {\n            \"type\": \"next_question\"\n        }\n        ```\n\n        End: Ends the survey, optionally displaying a confirmation message.\n        ```json\n        {\n            \"type\": \"end\"\n        }\n        ```\n\n        Response-based: Branches based on the response values. Available for the `rating` and `single_choice` question types.\n        ```json\n        {\n            \"type\": \"response_based\",\n            \"responseValues\": {\n                \"responseKey\": \"value\"\n            }\n        }\n        ```\n\n        Specific question: Proceeds to a specific question by index.\n        ```json\n        {\n            \"type\": \"specific_question\",\n            \"index\": 2\n        }\n        ```\n\n        Translations: Each question can include inline translations.\n        - `translations`: Object mapping language codes to translated fields.\n        - Language codes: Canonical BCP-47-ish strings (e.g., \"es\", \"es-MX\", \"zh-CN\"). Aliases like \"english\" or \"default\" are rejected. The survey's `base_language` (default \"en\") declares the language of the untranslated text and cannot also appear as a translation key.\n        - Translatable fields: `question`, `description`, `buttonText`, `choices`, `lowerBoundLabel`, `upperBoundLabel`, `link`\n\n        Example with translations:\n        ```json\n        {\n            \"id\": \"uuid\",\n            \"type\": \"rating\",\n            \"question\": \"How satisfied are you?\",\n            \"lowerBoundLabel\": \"Not satisfied\",\n            \"upperBoundLabel\": \"Very satisfied\",\n            \"translations\": {\n                \"es\": {\n                    \"question\": \"¿Qué tan satisfecho estás?\",\n                    \"lowerBoundLabel\": \"No satisfecho\",\n                    \"upperBoundLabel\": \"Muy satisfecho\"\n                },\n                \"fr\": {\n                    \"question\": \"Dans quelle mesure êtes-vous satisfait?\"\n                }\n            }\n        }\n        ```\n        ",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conditions": {
          "target": "com.posthog.surveys#SurveyConditionsSchema",
          "traits": {
            "smithy.api#documentation": "Display and targeting conditions for the survey.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "appearance": {
          "target": "com.posthog.surveys#SurveyAppearanceSchema",
          "traits": {
            "smithy.api#documentation": "Survey appearance customization.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Setting this will launch the survey immediately. Don't add a start_date unless explicitly requested to do so.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the survey stopped being shown to users. Setting this will complete the survey.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Archive state for the survey."
          }
        },
        "responses_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of responses before automatically stopping the survey.",
[...]
