{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.users#UsersListRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "email"
          }
        },
        "is_staff": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "is_staff"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.users#PaginatedUserListOutput": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.users#PaginatedUserListOutputResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.users#UserOutput": {
      "type": "structure",
      "members": {
        "date_joined": {
          "target": "smithy.api#String"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "pending_email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "notification_settings": {
          "target": "com.posthog.users#UserOutputNotificationSettingsMap",
          "traits": {
            "smithy.api#documentation": "Map of notification preferences. Keys include `plugin_disabled`, `all_weekly_report_disabled`, `project_weekly_digest_disabled`, `error_tracking_weekly_digest_project_enabled`, `web_analytics_weekly_digest_project_enabled`, `organization_member_join_email_disabled`, `data_pipeline_error_threshold` (number between 0.0 and 1.0), and other per-topic switches. Values are either booleans, or (for per-project/per-resource keys) a map of IDs to booleans. Only the keys you send are updated — other preferences stay as-is."
          }
        },
        "anonymize_data": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether PostHog should anonymize events captured for this user when identified.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "allow_impersonation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "toolbar_mode": {
          "target": "com.posthog.users#UserOutputToolbarMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_password": {
          "target": "smithy.api#Boolean"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "is_staff": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Designates whether the user can log into this admin site."
          }
        },
        "is_impersonated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_impersonated_until": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_impersonated_read_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "sensitive_session_expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "team": {
          "target": "com.posthog.users#TeamBasic"
        },
        "organization": {
          "target": "com.posthog.users#Organization"
        },
        "organizations": {
          "target": "com.posthog.users#UserOutputOrganizationsList"
        },
        "events_column_config": {
          "target": "smithy.api#Document"
        },
        "is_2fa_enabled": {
          "target": "smithy.api#Boolean"
        },
        "has_social_auth": {
          "target": "smithy.api#Boolean"
        },
        "has_sso_enforcement": {
          "target": "smithy.api#Boolean"
        },
        "has_seen_product_intro_for": {
          "target": "smithy.api#Document"
        },
        "scene_personalisation": {
          "target": "com.posthog.users#UserOutputScenePersonalisationList"
        },
        "theme_mode": {
          "target": "com.posthog.users#UserOutputThemeMode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "smithy.api#Document"
        },
        "allow_sidebar_suggestions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "shortcut_position": {
          "target": "com.posthog.users#UserOutputShortcutPosition",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.users#RoleAtOrganizationEnum"
        },
        "passkeys_enabled_for_2fa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether passkeys are enabled for 2FA authentication. Users can disable this to use only TOTP for 2FA while keeping passkeys for login.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hide_mcp_hints": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the user has opted out of in-app hints promoting the PostHog MCP integration after taking actions."
          }
        },
        "onboarding_skipped_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "onboarding_skipped_reason": {
          "target": "com.posthog.users#OnboardingSkippedReasonEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "onboarding_skipped_organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "onboarding_delegated_to_invite": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "onboarding_delegated_to_organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization ID of the pending delegation invite, if any. Used by the frontend to scope the 'waiting for teammate' UI to the org where delegation was initiated.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "onboarding_delegation_accepted_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_organization_first_user": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "active_realtime_notification_types": {
          "target": "com.posthog.users#UserOutputActiveRealtimeNotificationTypesList",
          "traits": {
            "smithy.api#documentation": "Real-time notification types that currently have a live dispatch site. Drives the in-app notifications settings UI. Read-only."
          }
        },
        "pending_invites": {
          "target": "com.posthog.users#UserOutputPendingInvitesList"
        },
        "requires_credential_review": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the user has at least one Personal API Key or passkey and has not yet acknowledged their existing credentials. Used to gate a one-shot review screen on first post-provisioning login. Becomes False once the user POSTs to `/api/users/@me/credentials_review_complete/`. Read-only."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.users#UserOutputNotificationSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Map of notification preferences. Keys include `plugin_disabled`, `all_weekly_report_disabled`, `project_weekly_digest_disabled`, `error_tracking_weekly_digest_project_enabled`, `web_analytics_weekly_digest_project_enabled`, `organization_member_join_email_disabled`, `data_pipeline_error_threshold` (number between 0.0 and 1.0), and other per-topic switches. Values are either booleans, or (for per-project/per-resource keys) a map of IDs to booleans. Only the keys you send are updated — other preferences stay as-is."
      }
    },
    "com.posthog.users#ToolbarModeEnum": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "TOOLBAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "toolbar"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `disabled` - disabled\n* `toolbar` - toolbar"
      }
    },
    "com.posthog.users#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.users#UserOutputToolbarMode": {
      "type": "union",
      "members": {
        "ToolbarModeEnum": {
          "target": "com.posthog.users#ToolbarModeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.users#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.users#TeamBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "organization": {
          "target": "smithy.api#String"
        },
        "project_id": {
          "target": "smithy.api#Integer"
        },
        "api_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "completed_snippet_onboarding": {
          "target": "smithy.api#Boolean"
        },
        "has_completed_onboarding_for": {
          "target": "smithy.api#Document"
        },
        "ingested_event": {
          "target": "smithy.api#Boolean"
        },
        "is_demo": {
          "target": "smithy.api#Boolean"
        },
        "timezone": {
          "target": "com.posthog.users#TimezoneEnum"
        },
        "access_control": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Serializer for `Team` model with minimal attributes to speeed up loading and transfer times.\nAlso used for nested serializers."
      }
    },
    "com.posthog.users#TimezoneEnum": {
      "type": "enum",
      "members": {
        "AFRICA_ABIDJAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Abidjan"
          }
        },
        "AFRICA_ACCRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Accra"
          }
        },
        "AFRICA_ADDIS_ABABA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Addis_Ababa"
          }
        },
        "AFRICA_ALGIERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Algiers"
          }
        },
        "AFRICA_ASMARA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Asmara"
          }
        },
        "AFRICA_ASMERA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Asmera"
          }
        },
        "AFRICA_BAMAKO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Bamako"
          }
        },
        "AFRICA_BANGUI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Bangui"
          }
        },
        "AFRICA_BANJUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Banjul"
          }
        },
        "AFRICA_BISSAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Bissau"
          }
        },
        "AFRICA_BLANTYRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Blantyre"
          }
        },
        "AFRICA_BRAZZAVILLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Brazzaville"
          }
        },
        "AFRICA_BUJUMBURA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Bujumbura"
          }
        },
        "AFRICA_CAIRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Cairo"
          }
        },
        "AFRICA_CASABLANCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Casablanca"
          }
        },
        "AFRICA_CEUTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Ceuta"
          }
        },
        "AFRICA_CONAKRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Conakry"
          }
        },
        "AFRICA_DAKAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Dakar"
          }
        },
        "AFRICA_DAR_ES_SALAAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Dar_es_Salaam"
          }
        },
        "AFRICA_DJIBOUTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Djibouti"
          }
        },
        "AFRICA_DOUALA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Douala"
          }
        },
        "AFRICA_EL_AAIUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/El_Aaiun"
          }
        },
        "AFRICA_FREETOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Freetown"
          }
        },
        "AFRICA_GABORONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Gaborone"
          }
        },
        "AFRICA_HARARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Harare"
          }
        },
        "AFRICA_JOHANNESBURG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Johannesburg"
          }
        },
        "AFRICA_JUBA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Juba"
          }
        },
        "AFRICA_KAMPALA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Kampala"
          }
        },
        "AFRICA_KHARTOUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Khartoum"
          }
        },
        "AFRICA_KIGALI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Kigali"
          }
        },
        "AFRICA_KINSHASA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Kinshasa"
          }
        },
        "AFRICA_LAGOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Lagos"
          }
        },
        "AFRICA_LIBREVILLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Libreville"
          }
        },
        "AFRICA_LOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Lome"
          }
        },
        "AFRICA_LUANDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Luanda"
          }
        },
        "AFRICA_LUBUMBASHI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Lubumbashi"
          }
        },
        "AFRICA_LUSAKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Lusaka"
          }
        },
        "AFRICA_MALABO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Malabo"
          }
        },
        "AFRICA_MAPUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Maputo"
          }
        },
        "AFRICA_MASERU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Maseru"
          }
        },
        "AFRICA_MBABANE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Mbabane"
          }
        },
        "AFRICA_MOGADISHU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Mogadishu"
          }
        },
        "AFRICA_MONROVIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Monrovia"
          }
        },
        "AFRICA_NAIROBI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Nairobi"
          }
        },
        "AFRICA_NDJAMENA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Ndjamena"
          }
        },
        "AFRICA_NIAMEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Niamey"
          }
        },
        "AFRICA_NOUAKCHOTT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Nouakchott"
          }
        },
        "AFRICA_OUAGADOUGOU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Ouagadougou"
          }
        },
        "AFRICA_PORTO_NOVO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Porto-Novo"
          }
        },
        "AFRICA_SAO_TOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Sao_Tome"
          }
        },
        "AFRICA_TIMBUKTU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Timbuktu"
          }
        },
        "AFRICA_TRIPOLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Tripoli"
          }
        },
        "AFRICA_TUNIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Tunis"
          }
        },
        "AFRICA_WINDHOEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Africa/Windhoek"
          }
        },
        "AMERICA_ADAK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Adak"
          }
        },
        "AMERICA_ANCHORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Anchorage"
          }
        },
        "AMERICA_ANGUILLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Anguilla"
          }
        },
        "AMERICA_ANTIGUA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Antigua"
          }
        },
        "AMERICA_ARAGUAINA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Araguaina"
          }
        },
        "AMERICA_ARGENTINA_BUENOS_AIRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Buenos_Aires"
          }
        },
        "AMERICA_ARGENTINA_CATAMARCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Catamarca"
          }
        },
        "AMERICA_ARGENTINA_COMODRIVADAVIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/ComodRivadavia"
          }
        },
        "AMERICA_ARGENTINA_CORDOBA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Cordoba"
          }
        },
        "AMERICA_ARGENTINA_JUJUY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Jujuy"
          }
        },
        "AMERICA_ARGENTINA_LA_RIOJA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/La_Rioja"
          }
        },
        "AMERICA_ARGENTINA_MENDOZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Mendoza"
          }
        },
        "AMERICA_ARGENTINA_RIO_GALLEGOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Rio_Gallegos"
          }
        },
        "AMERICA_ARGENTINA_SALTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Salta"
          }
        },
        "AMERICA_ARGENTINA_SAN_JUAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/San_Juan"
          }
        },
        "AMERICA_ARGENTINA_SAN_LUIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/San_Luis"
          }
        },
        "AMERICA_ARGENTINA_TUCUMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Tucuman"
          }
        },
        "AMERICA_ARGENTINA_USHUAIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Argentina/Ushuaia"
          }
        },
        "AMERICA_ARUBA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Aruba"
          }
        },
        "AMERICA_ASUNCION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Asuncion"
          }
        },
        "AMERICA_ATIKOKAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Atikokan"
          }
        },
        "AMERICA_ATKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Atka"
          }
        },
        "AMERICA_BAHIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Bahia"
          }
        },
        "AMERICA_BAHIA_BANDERAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Bahia_Banderas"
          }
        },
        "AMERICA_BARBADOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Barbados"
          }
        },
        "AMERICA_BELEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Belem"
          }
        },
        "AMERICA_BELIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Belize"
          }
        },
        "AMERICA_BLANC_SABLON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Blanc-Sablon"
          }
        },
        "AMERICA_BOA_VISTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Boa_Vista"
          }
        },
        "AMERICA_BOGOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Bogota"
          }
        },
        "AMERICA_BOISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Boise"
          }
        },
        "AMERICA_BUENOS_AIRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Buenos_Aires"
          }
        },
        "AMERICA_CAMBRIDGE_BAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Cambridge_Bay"
          }
        },
        "AMERICA_CAMPO_GRANDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Campo_Grande"
          }
        },
        "AMERICA_CANCUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Cancun"
          }
        },
        "AMERICA_CARACAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Caracas"
          }
        },
        "AMERICA_CATAMARCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Catamarca"
          }
        },
        "AMERICA_CAYENNE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Cayenne"
          }
        },
        "AMERICA_CAYMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Cayman"
          }
        },
        "AMERICA_CHICAGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Chicago"
          }
        },
        "AMERICA_CHIHUAHUA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Chihuahua"
          }
        },
        "AMERICA_CIUDAD_JUAREZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Ciudad_Juarez"
          }
        },
        "AMERICA_CORAL_HARBOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Coral_Harbour"
          }
        },
        "AMERICA_CORDOBA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Cordoba"
          }
        },
        "AMERICA_COSTA_RICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Costa_Rica"
          }
        },
        "AMERICA_CRESTON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Creston"
          }
        },
        "AMERICA_CUIABA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Cuiaba"
          }
        },
        "AMERICA_CURACAO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Curacao"
          }
        },
        "AMERICA_DANMARKSHAVN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Danmarkshavn"
          }
        },
        "AMERICA_DAWSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Dawson"
          }
        },
        "AMERICA_DAWSON_CREEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Dawson_Creek"
          }
        },
        "AMERICA_DENVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Denver"
          }
        },
        "AMERICA_DETROIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Detroit"
          }
        },
        "AMERICA_DOMINICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Dominica"
          }
        },
        "AMERICA_EDMONTON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Edmonton"
          }
        },
        "AMERICA_EIRUNEPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Eirunepe"
          }
        },
        "AMERICA_EL_SALVADOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/El_Salvador"
          }
        },
        "AMERICA_ENSENADA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Ensenada"
          }
        },
        "AMERICA_FORT_NELSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Fort_Nelson"
          }
        },
        "AMERICA_FORT_WAYNE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Fort_Wayne"
          }
        },
        "AMERICA_FORTALEZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Fortaleza"
          }
        },
        "AMERICA_GLACE_BAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Glace_Bay"
          }
        },
        "AMERICA_GODTHAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Godthab"
          }
        },
        "AMERICA_GOOSE_BAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Goose_Bay"
          }
        },
        "AMERICA_GRAND_TURK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Grand_Turk"
          }
        },
        "AMERICA_GRENADA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Grenada"
          }
        },
        "AMERICA_GUADELOUPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Guadeloupe"
          }
        },
        "AMERICA_GUATEMALA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Guatemala"
          }
        },
        "AMERICA_GUAYAQUIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Guayaquil"
          }
        },
        "AMERICA_GUYANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Guyana"
          }
        },
        "AMERICA_HALIFAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Halifax"
          }
        },
        "AMERICA_HAVANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Havana"
          }
        },
        "AMERICA_HERMOSILLO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Hermosillo"
          }
        },
        "AMERICA_INDIANA_INDIANAPOLIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Indianapolis"
          }
        },
        "AMERICA_INDIANA_KNOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Knox"
          }
        },
        "AMERICA_INDIANA_MARENGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Marengo"
          }
        },
        "AMERICA_INDIANA_PETERSBURG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Petersburg"
          }
        },
        "AMERICA_INDIANA_TELL_CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Tell_City"
          }
        },
        "AMERICA_INDIANA_VEVAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Vevay"
          }
        },
        "AMERICA_INDIANA_VINCENNES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Vincennes"
          }
        },
        "AMERICA_INDIANA_WINAMAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indiana/Winamac"
          }
        },
        "AMERICA_INDIANAPOLIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Indianapolis"
          }
        },
        "AMERICA_INUVIK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Inuvik"
          }
        },
        "AMERICA_IQALUIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Iqaluit"
          }
        },
        "AMERICA_JAMAICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Jamaica"
          }
        },
        "AMERICA_JUJUY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Jujuy"
          }
        },
        "AMERICA_JUNEAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Juneau"
          }
        },
        "AMERICA_KENTUCKY_LOUISVILLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Kentucky/Louisville"
          }
        },
        "AMERICA_KENTUCKY_MONTICELLO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Kentucky/Monticello"
          }
        },
        "AMERICA_KNOX_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Knox_IN"
          }
        },
        "AMERICA_KRALENDIJK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Kralendijk"
          }
        },
        "AMERICA_LA_PAZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/La_Paz"
          }
        },
        "AMERICA_LIMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Lima"
          }
        },
        "AMERICA_LOS_ANGELES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Los_Angeles"
          }
        },
        "AMERICA_LOUISVILLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Louisville"
          }
        },
        "AMERICA_LOWER_PRINCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Lower_Princes"
          }
        },
        "AMERICA_MACEIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Maceio"
          }
        },
        "AMERICA_MANAGUA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Managua"
          }
        },
        "AMERICA_MANAUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Manaus"
          }
        },
        "AMERICA_MARIGOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Marigot"
          }
        },
        "AMERICA_MARTINIQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Martinique"
          }
        },
        "AMERICA_MATAMOROS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Matamoros"
          }
        },
        "AMERICA_MAZATLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Mazatlan"
          }
        },
        "AMERICA_MENDOZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Mendoza"
          }
        },
        "AMERICA_MENOMINEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Menominee"
          }
        },
        "AMERICA_MERIDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Merida"
          }
        },
        "AMERICA_METLAKATLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Metlakatla"
          }
        },
        "AMERICA_MEXICO_CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Mexico_City"
          }
        },
        "AMERICA_MIQUELON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Miquelon"
          }
        },
        "AMERICA_MONCTON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Moncton"
          }
        },
        "AMERICA_MONTERREY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Monterrey"
          }
        },
        "AMERICA_MONTEVIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Montevideo"
          }
        },
        "AMERICA_MONTREAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Montreal"
          }
        },
        "AMERICA_MONTSERRAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Montserrat"
          }
        },
        "AMERICA_NASSAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Nassau"
          }
        },
        "AMERICA_NEW_YORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/New_York"
          }
        },
        "AMERICA_NIPIGON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Nipigon"
          }
        },
        "AMERICA_NOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Nome"
          }
        },
        "AMERICA_NORONHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Noronha"
          }
        },
        "AMERICA_NORTH_DAKOTA_BEULAH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/North_Dakota/Beulah"
          }
        },
        "AMERICA_NORTH_DAKOTA_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/North_Dakota/Center"
          }
        },
        "AMERICA_NORTH_DAKOTA_NEW_SALEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/North_Dakota/New_Salem"
          }
        },
        "AMERICA_NUUK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Nuuk"
          }
        },
        "AMERICA_OJINAGA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Ojinaga"
          }
        },
        "AMERICA_PANAMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Panama"
          }
        },
        "AMERICA_PANGNIRTUNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Pangnirtung"
          }
        },
        "AMERICA_PARAMARIBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Paramaribo"
          }
        },
        "AMERICA_PHOENIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Phoenix"
          }
        },
        "AMERICA_PORT_AU_PRINCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Port-au-Prince"
          }
        },
        "AMERICA_PORT_OF_SPAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Port_of_Spain"
          }
        },
        "AMERICA_PORTO_ACRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Porto_Acre"
          }
        },
        "AMERICA_PORTO_VELHO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Porto_Velho"
          }
        },
        "AMERICA_PUERTO_RICO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Puerto_Rico"
          }
        },
        "AMERICA_PUNTA_ARENAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Punta_Arenas"
          }
        },
        "AMERICA_RAINY_RIVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Rainy_River"
          }
        },
        "AMERICA_RANKIN_INLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Rankin_Inlet"
          }
        },
        "AMERICA_RECIFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Recife"
          }
        },
        "AMERICA_REGINA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Regina"
          }
        },
        "AMERICA_RESOLUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Resolute"
          }
        },
        "AMERICA_RIO_BRANCO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Rio_Branco"
          }
        },
        "AMERICA_ROSARIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Rosario"
          }
        },
        "AMERICA_SANTA_ISABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Santa_Isabel"
          }
        },
        "AMERICA_SANTAREM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Santarem"
          }
        },
        "AMERICA_SANTIAGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Santiago"
          }
        },
        "AMERICA_SANTO_DOMINGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Santo_Domingo"
          }
        },
        "AMERICA_SAO_PAULO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Sao_Paulo"
          }
        },
        "AMERICA_SCORESBYSUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Scoresbysund"
          }
        },
        "AMERICA_SHIPROCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Shiprock"
          }
        },
        "AMERICA_SITKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Sitka"
          }
        },
        "AMERICA_ST_BARTHELEMY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/St_Barthelemy"
          }
        },
        "AMERICA_ST_JOHNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/St_Johns"
          }
        },
        "AMERICA_ST_KITTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/St_Kitts"
          }
        },
        "AMERICA_ST_LUCIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/St_Lucia"
          }
        },
        "AMERICA_ST_THOMAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/St_Thomas"
          }
        },
        "AMERICA_ST_VINCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/St_Vincent"
          }
        },
        "AMERICA_SWIFT_CURRENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Swift_Current"
          }
        },
        "AMERICA_TEGUCIGALPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Tegucigalpa"
          }
        },
        "AMERICA_THULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Thule"
          }
        },
        "AMERICA_THUNDER_BAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Thunder_Bay"
          }
        },
        "AMERICA_TIJUANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Tijuana"
          }
        },
        "AMERICA_TORONTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Toronto"
          }
        },
        "AMERICA_TORTOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Tortola"
          }
        },
        "AMERICA_VANCOUVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Vancouver"
          }
        },
        "AMERICA_VIRGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Virgin"
          }
        },
        "AMERICA_WHITEHORSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Whitehorse"
          }
        },
        "AMERICA_WINNIPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Winnipeg"
          }
        },
        "AMERICA_YAKUTAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Yakutat"
          }
        },
        "AMERICA_YELLOWKNIFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "America/Yellowknife"
          }
        },
        "ANTARCTICA_CASEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Casey"
          }
        },
        "ANTARCTICA_DAVIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Davis"
          }
        },
        "ANTARCTICA_DUMONTDURVILLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/DumontDUrville"
          }
        },
        "ANTARCTICA_MACQUARIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Macquarie"
          }
        },
        "ANTARCTICA_MAWSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Mawson"
          }
        },
        "ANTARCTICA_MCMURDO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/McMurdo"
          }
        },
        "ANTARCTICA_PALMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Palmer"
          }
        },
        "ANTARCTICA_ROTHERA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Rothera"
          }
        },
        "ANTARCTICA_SOUTH_POLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/South_Pole"
          }
        },
        "ANTARCTICA_SYOWA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Syowa"
          }
        },
        "ANTARCTICA_TROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Troll"
          }
        },
        "ANTARCTICA_VOSTOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Antarctica/Vostok"
          }
        },
        "ARCTIC_LONGYEARBYEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Arctic/Longyearbyen"
          }
        },
        "ASIA_ADEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Aden"
          }
        },
        "ASIA_ALMATY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Almaty"
          }
        },
        "ASIA_AMMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Amman"
          }
        },
        "ASIA_ANADYR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Anadyr"
          }
        },
        "ASIA_AQTAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Aqtau"
          }
        },
        "ASIA_AQTOBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Aqtobe"
          }
        },
        "ASIA_ASHGABAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Ashgabat"
          }
        },
        "ASIA_ASHKHABAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Ashkhabad"
          }
        },
        "ASIA_ATYRAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Atyrau"
          }
        },
        "ASIA_BAGHDAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Baghdad"
          }
        },
        "ASIA_BAHRAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Bahrain"
          }
        },
        "ASIA_BAKU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Baku"
          }
        },
        "ASIA_BANGKOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Bangkok"
          }
        },
        "ASIA_BARNAUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Barnaul"
          }
        },
        "ASIA_BEIRUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Beirut"
          }
        },
        "ASIA_BISHKEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Bishkek"
          }
        },
        "ASIA_BRUNEI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Brunei"
          }
        },
        "ASIA_CALCUTTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Calcutta"
          }
        },
        "ASIA_CHITA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Chita"
          }
        },
        "ASIA_CHOIBALSAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Choibalsan"
          }
        },
        "ASIA_CHONGQING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Chongqing"
          }
        },
        "ASIA_CHUNGKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Chungking"
          }
        },
        "ASIA_COLOMBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Colombo"
          }
        },
        "ASIA_DACCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Dacca"
          }
        },
        "ASIA_DAMASCUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Damascus"
          }
        },
        "ASIA_DHAKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Dhaka"
          }
        },
        "ASIA_DILI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Dili"
          }
        },
        "ASIA_DUBAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Dubai"
          }
        },
        "ASIA_DUSHANBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Dushanbe"
          }
        },
        "ASIA_FAMAGUSTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Famagusta"
          }
        },
        "ASIA_GAZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Gaza"
          }
        },
        "ASIA_HARBIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Harbin"
          }
        },
        "ASIA_HEBRON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Hebron"
          }
        },
        "ASIA_HO_CHI_MINH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Ho_Chi_Minh"
          }
        },
        "ASIA_HONG_KONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Hong_Kong"
          }
        },
        "ASIA_HOVD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Hovd"
          }
        },
        "ASIA_IRKUTSK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Irkutsk"
          }
        },
        "ASIA_ISTANBUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Istanbul"
          }
        },
        "ASIA_JAKARTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Jakarta"
          }
        },
        "ASIA_JAYAPURA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Jayapura"
          }
        },
        "ASIA_JERUSALEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Jerusalem"
          }
        },
        "ASIA_KABUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Kabul"
          }
        },
        "ASIA_KAMCHATKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Kamchatka"
          }
        },
        "ASIA_KARACHI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Karachi"
          }
        },
        "ASIA_KASHGAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Kashgar"
          }
        },
        "ASIA_KATHMANDU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Kathmandu"
          }
        },
        "ASIA_KATMANDU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Katmandu"
          }
        },
        "ASIA_KHANDYGA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Khandyga"
          }
        },
        "ASIA_KOLKATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Kolkata"
          }
        },
        "ASIA_KRASNOYARSK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Krasnoyarsk"
          }
        },
        "ASIA_KUALA_LUMPUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Kuala_Lumpur"
          }
        },
        "ASIA_KUCHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Kuching"
          }
        },
        "ASIA_KUWAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Kuwait"
          }
        },
        "ASIA_MACAO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Macao"
          }
        },
        "ASIA_MACAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Macau"
          }
        },
        "ASIA_MAGADAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Magadan"
          }
        },
        "ASIA_MAKASSAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Makassar"
          }
        },
        "ASIA_MANILA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Manila"
          }
        },
        "ASIA_MUSCAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Muscat"
          }
        },
        "ASIA_NICOSIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Nicosia"
          }
        },
        "ASIA_NOVOKUZNETSK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Novokuznetsk"
          }
        },
        "ASIA_NOVOSIBIRSK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Novosibirsk"
          }
        },
        "ASIA_OMSK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Omsk"
          }
        },
        "ASIA_ORAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Oral"
          }
        },
        "ASIA_PHNOM_PENH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Phnom_Penh"
          }
        },
        "ASIA_PONTIANAK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Pontianak"
          }
        },
        "ASIA_PYONGYANG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Pyongyang"
          }
        },
        "ASIA_QATAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Qatar"
          }
        },
        "ASIA_QOSTANAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Qostanay"
          }
        },
        "ASIA_QYZYLORDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Qyzylorda"
          }
        },
        "ASIA_RANGOON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Rangoon"
          }
        },
        "ASIA_RIYADH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Riyadh"
          }
        },
        "ASIA_SAIGON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Saigon"
          }
        },
        "ASIA_SAKHALIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Sakhalin"
          }
        },
        "ASIA_SAMARKAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Samarkand"
          }
        },
        "ASIA_SEOUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Seoul"
          }
        },
        "ASIA_SHANGHAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Shanghai"
          }
        },
        "ASIA_SINGAPORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Singapore"
          }
        },
        "ASIA_SREDNEKOLYMSK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Srednekolymsk"
          }
        },
        "ASIA_TAIPEI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Taipei"
          }
        },
        "ASIA_TASHKENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Tashkent"
          }
        },
        "ASIA_TBILISI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Tbilisi"
          }
        },
        "ASIA_TEHRAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Tehran"
          }
        },
        "ASIA_TEL_AVIV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Tel_Aviv"
          }
        },
        "ASIA_THIMBU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Thimbu"
          }
        },
        "ASIA_THIMPHU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Thimphu"
          }
        },
        "ASIA_TOKYO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Tokyo"
          }
        },
        "ASIA_TOMSK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Tomsk"
          }
        },
        "ASIA_UJUNG_PANDANG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Ujung_Pandang"
          }
        },
        "ASIA_ULAANBAATAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Ulaanbaatar"
          }
        },
        "ASIA_ULAN_BATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Ulan_Bator"
          }
        },
        "ASIA_URUMQI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Urumqi"
          }
        },
        "ASIA_UST_NERA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Ust-Nera"
          }
        },
        "ASIA_VIENTIANE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Vientiane"
          }
        },
        "ASIA_VLADIVOSTOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Vladivostok"
          }
        },
        "ASIA_YAKUTSK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Yakutsk"
          }
        },
        "ASIA_YANGON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Yangon"
          }
        },
        "ASIA_YEKATERINBURG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Yekaterinburg"
          }
        },
        "ASIA_YEREVAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asia/Yerevan"
          }
        },
        "ATLANTIC_AZORES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Atlantic/Azores"
          }
        },
        "ATLANTIC_BERMUDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Atlantic/Bermuda"
          }
        },
        "ATLANTIC_CANARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Atlantic/Canary"
          }
        },
        "ATLANTIC_CAPE_VERDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Atlantic/Cape_Verde"
          }
        },
        "ATLANTIC_FAEROE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Atlantic/Faeroe"
          }
        },
        "ATLANTIC_FAROE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Atlantic/Faroe"
          }
        },
        "ATLANTIC_JAN_MAYEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Atlantic/Jan_Mayen"
          }
        },
        "ATLANTIC_MADEIRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Atlantic/Madeira"
          }
        },
        "ATLANTIC_REYKJAVIK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Atlantic/Reykjavik"
          }
        },
        "ATLANTIC_SOUTH_GEORGIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Atlantic/South_Georgia"
          }
        },
        "ATLANTIC_ST_HELENA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Atlantic/St_Helena"
          }
        },
        "ATLANTIC_STANLEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Atlantic/Stanley"
          }
        },
        "AUSTRALIA_ACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/ACT"
          }
        },
        "AUSTRALIA_ADELAIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Adelaide"
          }
        },
        "AUSTRALIA_BRISBANE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Brisbane"
          }
        },
        "AUSTRALIA_BROKEN_HILL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Broken_Hill"
          }
        },
        "AUSTRALIA_CANBERRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Canberra"
          }
        },
        "AUSTRALIA_CURRIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Currie"
          }
        },
        "AUSTRALIA_DARWIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Darwin"
          }
        },
        "AUSTRALIA_EUCLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Eucla"
          }
        },
        "AUSTRALIA_HOBART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Hobart"
          }
        },
        "AUSTRALIA_LHI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/LHI"
          }
        },
        "AUSTRALIA_LINDEMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Lindeman"
          }
        },
        "AUSTRALIA_LORD_HOWE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Lord_Howe"
          }
        },
        "AUSTRALIA_MELBOURNE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Melbourne"
          }
        },
        "AUSTRALIA_NSW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/NSW"
          }
        },
        "AUSTRALIA_NORTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/North"
          }
        },
        "AUSTRALIA_PERTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Perth"
          }
        },
        "AUSTRALIA_QUEENSLAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Queensland"
          }
        },
        "AUSTRALIA_SOUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/South"
          }
        },
        "AUSTRALIA_SYDNEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Sydney"
          }
        },
        "AUSTRALIA_TASMANIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Tasmania"
          }
        },
        "AUSTRALIA_VICTORIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Victoria"
          }
        },
        "AUSTRALIA_WEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/West"
          }
        },
        "AUSTRALIA_YANCOWINNA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Australia/Yancowinna"
          }
        },
        "BRAZIL_ACRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Brazil/Acre"
          }
        },
        "BRAZIL_DENORONHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Brazil/DeNoronha"
          }
        },
        "BRAZIL_EAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Brazil/East"
          }
        },
        "BRAZIL_WEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Brazil/West"
          }
        },
        "CET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CET"
          }
        },
        "CST6CDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CST6CDT"
          }
        },
        "CANADA_ATLANTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canada/Atlantic"
          }
        },
        "CANADA_CENTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canada/Central"
          }
        },
        "CANADA_EASTERN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canada/Eastern"
          }
        },
        "CANADA_MOUNTAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canada/Mountain"
          }
        },
        "CANADA_NEWFOUNDLAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canada/Newfoundland"
          }
        },
        "CANADA_PACIFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canada/Pacific"
          }
        },
        "CANADA_SASKATCHEWAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canada/Saskatchewan"
          }
        },
        "CANADA_YUKON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canada/Yukon"
          }
        },
        "CHILE_CONTINENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Chile/Continental"
          }
        },
        "CHILE_EASTERISLAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Chile/EasterIsland"
          }
        },
        "CUBA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cuba"
          }
        },
        "EET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EET"
          }
        },
        "EST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EST"
          }
        },
        "EST5EDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EST5EDT"
          }
        },
        "EGYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Egypt"
          }
        },
        "EIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Eire"
          }
        },
        "ETC_GMT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT"
          }
        },
        "ETC_GMT_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT+0"
          }
        },
        "ETC_GMT_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT+1"
          }
        },
        "ETC_GMT_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT+10"
          }
        },
        "ETC_GMT_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT+11"
          }
        },
        "ETC_GMT_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT+12"
          }
        },
        "ETC_GMT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT+2"
          }
        },
        "ETC_GMT_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT+3"
          }
        },
        "ETC_GMT_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT+4"
          }
        },
        "ETC_GMT_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT+5"
          }
        },
        "ETC_GMT_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT+6"
          }
        },
        "ETC_GMT_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT+7"
          }
        },
        "ETC_GMT_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT+8"
          }
        },
        "ETC_GMT_9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT+9"
          }
        },
        "ETC_GMT_0_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT-0"
          }
        },
        "ETC_GMT_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT-1"
          }
        },
        "ETC_GMT_10_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT-10"
          }
        },
        "ETC_GMT_11_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT-11"
          }
        },
        "ETC_GMT_12_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT-12"
          }
        },
        "ETC_GMT_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT-13"
          }
        },
        "ETC_GMT_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT-14"
          }
        },
        "ETC_GMT_2_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT-2"
          }
        },
        "ETC_GMT_3_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT-3"
          }
        },
        "ETC_GMT_4_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT-4"
          }
        },
        "ETC_GMT_5_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT-5"
          }
        },
        "ETC_GMT_6_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT-6"
          }
        },
        "ETC_GMT_7_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT-7"
          }
        },
        "ETC_GMT_8_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT-8"
          }
        },
        "ETC_GMT_9_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT-9"
          }
        },
        "ETC_GMT0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/GMT0"
          }
        },
        "ETC_GREENWICH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/Greenwich"
          }
        },
        "ETC_UCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/UCT"
          }
        },
        "ETC_UTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/UTC"
          }
        },
        "ETC_UNIVERSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/Universal"
          }
        },
        "ETC_ZULU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Etc/Zulu"
          }
        },
        "EUROPE_AMSTERDAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Amsterdam"
          }
        },
        "EUROPE_ANDORRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Andorra"
          }
        },
        "EUROPE_ASTRAKHAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Astrakhan"
          }
        },
        "EUROPE_ATHENS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Athens"
          }
        },
        "EUROPE_BELFAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Belfast"
          }
        },
        "EUROPE_BELGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Belgrade"
          }
        },
        "EUROPE_BERLIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Berlin"
          }
        },
        "EUROPE_BRATISLAVA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Bratislava"
          }
        },
        "EUROPE_BRUSSELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Brussels"
          }
        },
        "EUROPE_BUCHAREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Bucharest"
          }
        },
        "EUROPE_BUDAPEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Budapest"
          }
        },
        "EUROPE_BUSINGEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Busingen"
          }
        },
        "EUROPE_CHISINAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Chisinau"
          }
        },
        "EUROPE_COPENHAGEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Copenhagen"
          }
        },
        "EUROPE_DUBLIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Dublin"
          }
        },
        "EUROPE_GIBRALTAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Gibraltar"
          }
        },
        "EUROPE_GUERNSEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Guernsey"
          }
        },
        "EUROPE_HELSINKI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Helsinki"
          }
        },
        "EUROPE_ISLE_OF_MAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Isle_of_Man"
          }
        },
        "EUROPE_ISTANBUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Istanbul"
          }
        },
        "EUROPE_JERSEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Jersey"
          }
        },
        "EUROPE_KALININGRAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Kaliningrad"
          }
        },
        "EUROPE_KIEV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Kiev"
          }
        },
        "EUROPE_KIROV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Kirov"
          }
        },
        "EUROPE_KYIV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Kyiv"
          }
        },
        "EUROPE_LISBON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Lisbon"
          }
        },
        "EUROPE_LJUBLJANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Ljubljana"
          }
        },
        "EUROPE_LONDON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/London"
          }
        },
        "EUROPE_LUXEMBOURG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Luxembourg"
          }
        },
        "EUROPE_MADRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Madrid"
          }
        },
        "EUROPE_MALTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Malta"
          }
        },
        "EUROPE_MARIEHAMN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Mariehamn"
          }
        },
        "EUROPE_MINSK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Minsk"
          }
        },
        "EUROPE_MONACO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Monaco"
          }
        },
        "EUROPE_MOSCOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Moscow"
          }
        },
        "EUROPE_NICOSIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Nicosia"
          }
        },
        "EUROPE_OSLO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Oslo"
          }
        },
        "EUROPE_PARIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Paris"
          }
        },
        "EUROPE_PODGORICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Podgorica"
          }
        },
        "EUROPE_PRAGUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Prague"
          }
        },
        "EUROPE_RIGA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Riga"
          }
        },
        "EUROPE_ROME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Rome"
          }
        },
        "EUROPE_SAMARA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Samara"
          }
        },
        "EUROPE_SAN_MARINO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/San_Marino"
          }
        },
        "EUROPE_SARAJEVO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Sarajevo"
          }
        },
        "EUROPE_SARATOV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Saratov"
          }
        },
        "EUROPE_SIMFEROPOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Simferopol"
          }
        },
        "EUROPE_SKOPJE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Skopje"
          }
        },
        "EUROPE_SOFIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Sofia"
          }
        },
        "EUROPE_STOCKHOLM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Stockholm"
          }
        },
        "EUROPE_TALLINN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Tallinn"
          }
        },
        "EUROPE_TIRANE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Tirane"
          }
        },
        "EUROPE_TIRASPOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Tiraspol"
          }
        },
        "EUROPE_ULYANOVSK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Ulyanovsk"
          }
        },
        "EUROPE_UZHGOROD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Uzhgorod"
          }
        },
        "EUROPE_VADUZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Vaduz"
          }
        },
        "EUROPE_VATICAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Vatican"
          }
        },
        "EUROPE_VIENNA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Vienna"
          }
        },
        "EUROPE_VILNIUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Vilnius"
          }
        },
        "EUROPE_VOLGOGRAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Volgograd"
          }
        },
        "EUROPE_WARSAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Warsaw"
          }
        },
        "EUROPE_ZAGREB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Zagreb"
          }
        },
        "EUROPE_ZAPOROZHYE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Zaporozhye"
          }
        },
        "EUROPE_ZURICH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Europe/Zurich"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB"
          }
        },
        "GB_EIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB-Eire"
          }
        },
        "GMT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMT"
          }
        },
        "GMT_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMT+0"
          }
        },
        "GMT_0_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMT-0"
          }
        },
        "GMT0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMT0"
          }
        },
        "GREENWICH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Greenwich"
          }
        },
        "HST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HST"
          }
        },
        "HONGKONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hongkong"
          }
        },
        "ICELAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Iceland"
          }
        },
        "INDIAN_ANTANANARIVO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Indian/Antananarivo"
          }
        },
        "INDIAN_CHAGOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Indian/Chagos"
          }
        },
        "INDIAN_CHRISTMAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Indian/Christmas"
          }
        },
        "INDIAN_COCOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Indian/Cocos"
          }
        },
        "INDIAN_COMORO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Indian/Comoro"
          }
        },
        "INDIAN_KERGUELEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Indian/Kerguelen"
          }
        },
        "INDIAN_MAHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Indian/Mahe"
          }
        },
        "INDIAN_MALDIVES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Indian/Maldives"
          }
        },
        "INDIAN_MAURITIUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Indian/Mauritius"
          }
        },
        "INDIAN_MAYOTTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Indian/Mayotte"
          }
        },
        "INDIAN_REUNION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Indian/Reunion"
          }
        },
        "IRAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Iran"
          }
        },
        "ISRAEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Israel"
          }
        },
        "JAMAICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Jamaica"
          }
        },
        "JAPAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Japan"
          }
        },
        "KWAJALEIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Kwajalein"
          }
        },
        "LIBYA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Libya"
          }
        },
        "MET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MET"
          }
        },
        "MST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MST"
          }
        },
        "MST7MDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MST7MDT"
          }
        },
        "MEXICO_BAJANORTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mexico/BajaNorte"
          }
        },
        "MEXICO_BAJASUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mexico/BajaSur"
          }
        },
        "MEXICO_GENERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mexico/General"
          }
        },
        "NZ": {
[...]
