{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.warehouse_view_link#WarehouseViewLinkListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "A search term."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_view_link#PaginatedViewLinkList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.warehouse_view_link#PaginatedViewLinkListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_link#ViewLink": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.warehouse_view_link#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "joining_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "joining_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_link#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.warehouse_view_link#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.warehouse_view_link#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_link#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_link#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.warehouse_view_link#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_link#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.warehouse_view_link#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.warehouse_view_link#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_link#PaginatedViewLinkListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.warehouse_view_link#ViewLink"
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_link#WarehouseViewLinkList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_view_link#WarehouseViewLinkListRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_view_link#PaginatedViewLinkList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/warehouse_view_link/",
          "code": 200
        },
        "smithy.api#documentation": "Create, Read, Update and Delete View Columns."
      }
    },
    "com.posthog.warehouse_view_link#WarehouseViewLinkCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "joining_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "joining_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_view_link#WarehouseViewLinkCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_view_link#WarehouseViewLinkCreateRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_view_link#ViewLink"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/warehouse_view_link/",
          "code": 200
        },
        "smithy.api#documentation": "Create, Read, Update and Delete View Columns."
      }
    },
    "com.posthog.warehouse_view_link#WarehouseViewLinkRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this data warehouse join."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_view_link#WarehouseViewLinkRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_view_link#WarehouseViewLinkRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_view_link#ViewLink"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/warehouse_view_link/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, Read, Update and Delete View Columns."
      }
    },
    "com.posthog.warehouse_view_link#WarehouseViewLinkUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this data warehouse join."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "joining_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "joining_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_view_link#WarehouseViewLinkUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_view_link#WarehouseViewLinkUpdateRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_view_link#ViewLink"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/warehouse_view_link/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, Read, Update and Delete View Columns."
      }
    },
    "com.posthog.warehouse_view_link#WarehouseViewLinkPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this data warehouse join."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_table_name": {
          "target": "smithy.api#String"
        },
        "source_table_key": {
          "target": "smithy.api#String"
        },
        "joining_table_name": {
          "target": "smithy.api#String"
        },
        "joining_table_key": {
          "target": "smithy.api#String"
        },
        "field_name": {
          "target": "smithy.api#String"
        },
        "configuration": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_view_link#WarehouseViewLinkPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_view_link#WarehouseViewLinkPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_view_link#ViewLink"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/warehouse_view_link/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, Read, Update and Delete View Columns."
      }
    },
    "com.posthog.warehouse_view_link#WarehouseViewLinkDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this data warehouse join."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_view_link#WarehouseViewLinkDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_view_link#WarehouseViewLinkDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/warehouse_view_link/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, Read, Update and Delete View Columns."
      }
    },
    "com.posthog.warehouse_view_link#WarehouseViewLinkValidateCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "joining_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "joining_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_view_link#WarehouseViewLinkValidateCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_view_link#WarehouseViewLinkValidateCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/warehouse_view_link/validate/",
          "code": 200
        },
        "smithy.api#documentation": "Create, Read, Update and Delete View Columns."
      }
    },
    "com.posthog.warehouse_view_link#WarehouseViewLink": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.warehouse_view_link#WarehouseViewLinkList"
        },
        {
          "target": "com.posthog.warehouse_view_link#WarehouseViewLinkCreate"
        },
        {
          "target": "com.posthog.warehouse_view_link#WarehouseViewLinkRetrieve"
        },
        {
          "target": "com.posthog.warehouse_view_link#WarehouseViewLinkUpdate"
        },
        {
          "target": "com.posthog.warehouse_view_link#WarehouseViewLinkPartialUpdate"
        },
        {
          "target": "com.posthog.warehouse_view_link#WarehouseViewLinkDestroy"
        },
        {
          "target": "com.posthog.warehouse_view_link#WarehouseViewLinkValidateCreate"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
