{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.warehouse_tables#WarehouseTablesListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "A search term."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_tables#PaginatedTableListOutput": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.warehouse_tables#PaginatedTableListOutputResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_tables#TableOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "format": {
          "target": "com.posthog.warehouse_tables#TableFormatEnum"
        },
        "created_by": {
          "target": "com.posthog.warehouse_tables#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "url_pattern": {
          "target": "smithy.api#String"
        },
        "credential": {
          "target": "com.posthog.warehouse_tables#CredentialOutput"
        },
        "columns": {
          "target": "com.posthog.warehouse_tables#TableOutputColumnsList"
        },
        "external_data_source": {
          "target": "com.posthog.warehouse_tables#SimpleExternalDataSourceSerializers"
        },
        "external_schema": {
          "target": "com.posthog.warehouse_tables#TableOutputExternalSchemaMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "options": {
          "target": "com.posthog.warehouse_tables#TableOutputOptionsMap"
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mixin for serializers to add user access control fields"
      }
    },
    "com.posthog.warehouse_tables#TableFormatEnum": {
      "type": "enum",
      "members": {
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSV"
          }
        },
        "CSVWITHNAMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSVWithNames"
          }
        },
        "PARQUET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Parquet"
          }
        },
        "JSONEACHROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSONEachRow"
          }
        },
        "DELTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delta"
          }
        },
        "DELTAS3WRAPPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeltaS3Wrapper"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `CSV` - CSV\n* `CSVWithNames` - CSVWithNames\n* `Parquet` - Parquet\n* `JSONEachRow` - JSON\n* `Delta` - Delta\n* `DeltaS3Wrapper` - DeltaS3Wrapper"
      }
    },
    "com.posthog.warehouse_tables#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.warehouse_tables#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.warehouse_tables#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_tables#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.warehouse_tables#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.warehouse_tables#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_tables#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.warehouse_tables#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.warehouse_tables#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_tables#CredentialOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.warehouse_tables#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_tables#TableOutputColumnsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.warehouse_tables#TableOutputColumnsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.warehouse_tables#TableOutputColumnsItemMap"
      },
      "traits": {}
    },
    "com.posthog.warehouse_tables#SimpleExternalDataSourceSerializers": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String"
        },
        "source_type": {
          "target": "com.posthog.warehouse_tables#ExternalDataSourceTypeEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_tables#ExternalDataSourceTypeEnum": {
      "type": "enum",
      "members": {
        "ASHBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ashby"
          }
        },
        "SUPABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Supabase"
          }
        },
        "CUSTOMERIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomerIO"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Github"
          }
        },
        "STRIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stripe"
          }
        },
        "HUBSPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hubspot"
          }
        },
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Postgres"
          }
        },
        "ZENDESK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Zendesk"
          }
        },
        "SNOWFLAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Snowflake"
          }
        },
        "SALESFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Salesforce"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MySQL"
          }
        },
        "MONGODB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MongoDB"
          }
        },
        "MSSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSSQL"
          }
        },
        "VITALLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Vitally"
          }
        },
        "BIGQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BigQuery"
          }
        },
        "CHARGEBEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Chargebee"
          }
        },
        "CLERK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Clerk"
          }
        },
        "GOOGLEADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GoogleAds"
          }
        },
        "GOOGLESEARCHCONSOLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GoogleSearchConsole"
          }
        },
        "TEMPORALIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TemporalIO"
          }
        },
        "DOIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DoIt"
          }
        },
        "GOOGLESHEETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GoogleSheets"
          }
        },
        "METAADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MetaAds"
          }
        },
        "KLAVIYO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Klaviyo"
          }
        },
        "MAILCHIMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mailchimp"
          }
        },
        "BRAZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Braze"
          }
        },
        "MAILJET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mailjet"
          }
        },
        "REDSHIFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Redshift"
          }
        },
        "POLAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Polar"
          }
        },
        "REVENUECAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RevenueCat"
          }
        },
        "LINKEDINADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LinkedinAds"
          }
        },
        "REDDITADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RedditAds"
          }
        },
        "TIKTOKADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TikTokAds"
          }
        },
        "BINGADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BingAds"
          }
        },
        "SHOPIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Shopify"
          }
        },
        "ATTIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Attio"
          }
        },
        "SNAPCHATADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SnapchatAds"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linear"
          }
        },
        "INTERCOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Intercom"
          }
        },
        "AMPLITUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Amplitude"
          }
        },
        "MIXPANEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mixpanel"
          }
        },
        "JIRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Jira"
          }
        },
        "ACTIVECAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActiveCampaign"
          }
        },
        "MARKETO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Marketo"
          }
        },
        "ADJUST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Adjust"
          }
        },
        "APPSFLYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AppsFlyer"
          }
        },
        "FRESHDESK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Freshdesk"
          }
        },
        "GOOGLEANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GoogleAnalytics"
          }
        },
        "PIPEDRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pipedrive"
          }
        },
        "SENDGRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SendGrid"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Slack"
          }
        },
        "PAGERDUTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PagerDuty"
          }
        },
        "ASANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Asana"
          }
        },
        "NOTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Notion"
          }
        },
        "AIRTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Airtable"
          }
        },
        "GREENHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Greenhouse"
          }
        },
        "BAMBOOHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BambooHR"
          }
        },
        "LEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lever"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GitLab"
          }
        },
        "DATADOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Datadog"
          }
        },
        "SENTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sentry"
          }
        },
        "PENDO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pendo"
          }
        },
        "FULLSTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FullStory"
          }
        },
        "AMAZONADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AmazonAds"
          }
        },
        "PINTERESTADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PinterestAds"
          }
        },
        "APPLESEARCHADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AppleSearchAds"
          }
        },
        "QUICKBOOKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QuickBooks"
          }
        },
        "XERO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Xero"
          }
        },
        "NETSUITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NetSuite"
          }
        },
        "WOOCOMMERCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WooCommerce"
          }
        },
        "BIGCOMMERCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BigCommerce"
          }
        },
        "PAYPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PayPal"
          }
        },
        "SQUARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Square"
          }
        },
        "ZOOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Zoom"
          }
        },
        "TRELLO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Trello"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monday"
          }
        },
        "CLICKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ClickUp"
          }
        },
        "CONFLUENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Confluence"
          }
        },
        "RECURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Recurly"
          }
        },
        "SALESLOFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SalesLoft"
          }
        },
        "OUTREACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Outreach"
          }
        },
        "GONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Gong"
          }
        },
        "CALENDLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Calendly"
          }
        },
        "TYPEFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Typeform"
          }
        },
        "ITERABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Iterable"
          }
        },
        "ZOHOCRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZohoCRM"
          }
        },
        "CLOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Close"
          }
        },
        "ORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Oracle"
          }
        },
        "DYNAMODB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DynamoDB"
          }
        },
        "ELASTICSEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Elasticsearch"
          }
        },
        "KAFKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Kafka"
          }
        },
        "LAUNCHDARKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LaunchDarkly"
          }
        },
        "BRAINTREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Braintree"
          }
        },
        "RECHARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Recharge"
          }
        },
        "HELPSCOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HelpScout"
          }
        },
        "GORGIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Gorgias"
          }
        },
        "INSTAGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Instagram"
          }
        },
        "YOUTUBEANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YouTubeAnalytics"
          }
        },
        "FACEBOOKPAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FacebookPages"
          }
        },
        "TWITTERADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TwitterAds"
          }
        },
        "WORKDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Workday"
          }
        },
        "SERVICENOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServiceNow"
          }
        },
        "PARDOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pardot"
          }
        },
        "COPPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Copper"
          }
        },
        "FRONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Front"
          }
        },
        "CHARTMOGUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChartMogul"
          }
        },
        "ZUORA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Zuora"
          }
        },
        "PADDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Paddle"
          }
        },
        "CIRCLECI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CircleCI"
          }
        },
        "COCKROACHDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CockroachDB"
          }
        },
        "FIREBASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Firebase"
          }
        },
        "AZUREBLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureBlob"
          }
        },
        "GOOGLEDRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GoogleDrive"
          }
        },
        "ONEDRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneDrive"
          }
        },
        "SHAREPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SharePoint"
          }
        },
        "BOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Box"
          }
        },
        "SFTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SFTP"
          }
        },
        "MICROSOFTTEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MicrosoftTeams"
          }
        },
        "AIRCALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Aircall"
          }
        },
        "WEBFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Webflow"
          }
        },
        "OKTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Okta"
          }
        },
        "AUTH0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auth0"
          }
        },
        "PRODUCTBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Productboard"
          }
        },
        "SMARTSHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Smartsheet"
          }
        },
        "WRIKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Wrike"
          }
        },
        "PLAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Plaid"
          }
        },
        "SURVEYMONKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SurveyMonkey"
          }
        },
        "EVENTBRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Eventbrite"
          }
        },
        "RINGCENTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RingCentral"
          }
        },
        "TWILIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Twilio"
          }
        },
        "FRESHSALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Freshsales"
          }
        },
        "SHORTCUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Shortcut"
          }
        },
        "CONVERTKIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConvertKit"
          }
        },
        "DRIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Drip"
          }
        },
        "CAMPAIGNMONITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CampaignMonitor"
          }
        },
        "MAILERLITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MailerLite"
          }
        },
        "OMNISEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Omnisend"
          }
        },
        "BREVO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Brevo"
          }
        },
        "POSTMARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Postmark"
          }
        },
        "GRANOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Granola"
          }
        },
        "BUILDBETTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BuildBetter"
          }
        },
        "CONVEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Convex"
          }
        },
        "CLICKHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ClickHouse"
          }
        },
        "PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Plain"
          }
        },
        "RESEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Resend"
          }
        },
        "PGANALYZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PgAnalyze"
          }
        },
        "WORKOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WorkOS"
          }
        },
        "AMAZONS3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AmazonS3"
          }
        },
        "GOOGLECLOUDSTORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GoogleCloudStorage"
          }
        },
        "DATABRICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Databricks"
          }
        },
        "DYNAMICS365": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dynamics365"
          }
        },
        "SALESFORCEMARKETINGCLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SalesforceMarketingCloud"
          }
        },
        "DB2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Db2"
          }
        },
        "HEAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Heap"
          }
        },
        "ADOBEANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdobeAnalytics"
          }
        },
        "MATOMO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Matomo"
          }
        },
        "OPTIMIZELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Optimizely"
          }
        },
        "ADYEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Adyen"
          }
        },
        "GOCARDLESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GoCardless"
          }
        },
        "MOLLIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mollie"
          }
        },
        "CHECKOUTCOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CheckoutCom"
          }
        },
        "BRANCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Branch"
          }
        },
        "CRITEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Criteo"
          }
        },
        "OUTBRAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Outbrain"
          }
        },
        "TABOOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Taboola"
          }
        },
        "ADROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdRoll"
          }
        },
        "DISPLAYVIDEO360": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DisplayVideo360"
          }
        },
        "GOOGLEADMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GoogleAdManager"
          }
        },
        "CAMPAIGNMANAGER360": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CampaignManager360"
          }
        },
        "SEARCHADS360": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SearchAds360"
          }
        },
        "ADOBECOMMERCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdobeCommerce"
          }
        },
        "AMAZONSELLINGPARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AmazonSellingPartner"
          }
        },
        "EBAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ebay"
          }
        },
        "COMMERCETOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commercetools"
          }
        },
        "LIGHTSPEEDRETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LightspeedRetail"
          }
        },
        "SHIPSTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ShipStation"
          }
        },
        "CONSTANTCONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConstantContact"
          }
        },
        "MAILGUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mailgun"
          }
        },
        "ELOQUA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Eloqua"
          }
        },
        "SAILTHRU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sailthru"
          }
        },
        "ORTTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ortto"
          }
        },
        "ATTENTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Attentive"
          }
        },
        "KUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Kustomer"
          }
        },
        "DIXA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dixa"
          }
        },
        "GLADLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Gladly"
          }
        },
        "QUALTRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Qualtrics"
          }
        },
        "DELIGHTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delighted"
          }
        },
        "AZUREDEVOPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureDevOps"
          }
        },
        "ROLLBAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rollbar"
          }
        },
        "OPSGENIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Opsgenie"
          }
        },
        "INCIDENTIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IncidentIo"
          }
        },
        "PINGDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pingdom"
          }
        },
        "CLOUDFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cloudflare"
          }
        },
        "COSMOSDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CosmosDB"
          }
        },
        "PLANETSCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PlanetScale"
          }
        },
        "SAPHANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SapHana"
          }
        },
        "RIPPLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rippling"
          }
        },
        "HIBOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HiBob"
          }
        },
        "PERSONIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Personio"
          }
        },
        "DEEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deel"
          }
        },
        "ADPWORKFORCENOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdpWorkforceNow"
          }
        },
        "PAYLOCITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Paylocity"
          }
        },
        "GUSTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Gusto"
          }
        },
        "CULTUREAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CultureAmp"
          }
        },
        "LATTICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lattice"
          }
        },
        "SAGEINTACCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SageIntacct"
          }
        },
        "FRESHBOOKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FreshBooks"
          }
        },
        "EXPENSIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Expensify"
          }
        },
        "RAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ramp"
          }
        },
        "BREX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Brex"
          }
        },
        "COUPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Coupa"
          }
        },
        "SAPCONCUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SapConcur"
          }
        },
        "APOLLO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Apollo"
          }
        },
        "CRUNCHBASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Crunchbase"
          }
        },
        "ZOOMINFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZoomInfo"
          }
        },
        "CLARI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Clari"
          }
        },
        "CHORUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Chorus"
          }
        },
        "CODA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Coda"
          }
        },
        "GURU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Guru"
          }
        },
        "DROPBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dropbox"
          }
        },
        "DOCUSIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Docusign"
          }
        },
        "PANDADOC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PandaDoc"
          }
        },
        "SAPERP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SapErp"
          }
        },
        "SAPSUCCESSFACTORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SapSuccessFactors"
          }
        },
        "ORACLEEBS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OracleEbs"
          }
        },
        "ORACLEFUSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OracleFusion"
          }
        },
        "AMAZONSNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AmazonSNS"
          }
        },
        "AMAZONEVENTBRIDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AmazonEventBridge"
          }
        },
        "AMAZONSQS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AmazonSQS"
          }
        },
        "AMAZONKINESIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AmazonKinesis"
          }
        },
        "AMAZONCLOUDWATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AmazonCloudWatch"
          }
        },
        "OPENAIADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OpenAIAds"
          }
        },
        "ONEHUNDREDMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneHundredMs"
          }
        },
        "SEVENSHIFTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SevenShifts"
          }
        },
        "ACUITYSCHEDULING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AcuityScheduling"
          }
        },
        "AGILECRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AgileCRM"
          }
        },
        "AHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Aha"
          }
        },
        "AIRBYTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Airbyte"
          }
        },
        "AKENEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Akeneo"
          }
        },
        "ALGOLIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Algolia"
          }
        },
        "ALPACABROKERAPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlpacaBrokerAPI"
          }
        },
        "APIFYDATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ApifyDataset"
          }
        },
        "APPCUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Appcues"
          }
        },
        "APPFIGURES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Appfigures"
          }
        },
        "APPFOLLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Appfollow"
          }
        },
        "APPTIVO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Apptivo"
          }
        },
        "ASSEMBLYAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AssemblyAI"
          }
        },
        "AWIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Awin"
          }
        },
        "AWSCLOUDTRAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AwsCloudTrail"
          }
        },
        "AZURETABLESTORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureTableStorage"
          }
        },
        "BABELFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Babelforce"
          }
        },
        "BASECAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basecamp"
          }
        },
        "BEAMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Beamer"
          }
        },
        "BIGMAILER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BigMailer"
          }
        },
        "BLUETALLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Bluetally"
          }
        },
        "BOLDSIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BoldSign"
          }
        },
        "BREEZYHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BreezyHR"
          }
        },
        "BUGSNAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Bugsnag"
          }
        },
        "BUILDKITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Buildkite"
          }
        },
        "BUNNY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Bunny"
          }
        },
        "BUZZSPROUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Buzzsprout"
          }
        },
        "CALCOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CalCom"
          }
        },
        "CALLRAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CallRail"
          }
        },
        "CAMPAYN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Campayn"
          }
        },
        "CANNY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canny"
          }
        },
        "CAPSULECRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CapsuleCRM"
          }
        },
        "CAPTAINDATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CaptainData"
          }
        },
        "CARTCOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CartCom"
          }
        },
        "CASTOREDC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CastorEDC"
          }
        },
        "CHAMELEON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Chameleon"
          }
        },
        "CHARGEDESK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Chargedesk"
          }
        },
        "CHARGIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Chargify"
          }
        },
        "CHIFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Chift"
          }
        },
        "CHURNKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Churnkey"
          }
        },
        "CIN7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cin7"
          }
        },
        "CISCOMERAKI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CiscoMeraki"
          }
        },
        "CLAZAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Clazar"
          }
        },
        "CLOCKIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Clockify"
          }
        },
        "CLOCKODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Clockodo"
          }
        },
        "CLOUDBEDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cloudbeds"
          }
        },
        "COASSEMBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Coassemble"
          }
        },
        "CODEFRESH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Codefresh"
          }
        },
        "CONCORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Concord"
          }
        },
        "CONFIGCAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConfigCat"
          }
        },
        "COUCHBASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Couchbase"
          }
        },
        "CURVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Curve"
          }
        },
        "CUSTOMERLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Customerly"
          }
        },
        "DATASCOPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Datascope"
          }
        },
        "DBT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dbt"
          }
        },
        "DEPUTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deputy"
          }
        },
        "DEVINAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DevinAI"
          }
        },
        "DOCUSEAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Docuseal"
          }
        },
        "DOLIBARR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dolibarr"
          }
        },
        "DREMIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dremio"
          }
        },
        "DROPBOXSIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DropboxSign"
          }
        },
        "DWOLLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dwolla"
          }
        },
        "ECONOMIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EConomic"
          }
        },
        "EASYPOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Easypost"
          }
        },
        "EASYPROMOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Easypromos"
          }
        },
        "ELASTICEMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Elasticemail"
          }
        },
        "EMAILOCTOPUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EmailOctopus"
          }
        },
        "EMPLOYMENTHERO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EmploymentHero"
          }
        },
        "ENCHARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Encharge"
          }
        },
        "EVENTEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Eventee"
          }
        },
        "EVENTZILLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Eventzilla"
          }
        },
        "EVERHOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Everhour"
          }
        },
        "EZOFFICEINVENTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EZOfficeInventory"
          }
        },
        "FACTORIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Factorial"
          }
        },
        "FASTBILL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fastbill"
          }
        },
        "FASTLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fastly"
          }
        },
        "FAUNA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fauna"
          }
        },
        "FEISHU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Feishu"
          }
        },
        "FILLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fillout"
          }
        },
        "FINAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Finage"
          }
        },
        "FIREBOLT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Firebolt"
          }
        },
        "FIREHYDRANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FireHydrant"
          }
        },
        "FLEETIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fleetio"
          }
        },
        "FLEXMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Flexmail"
          }
        },
        "FLEXPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Flexport"
          }
        },
        "FLOATAPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FloatApp"
          }
        },
        "FLOWLU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Flowlu"
          }
        },
        "FORMBRICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Formbricks"
          }
        },
        "FREEAGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FreeAgent"
          }
        },
        "FREIGHTVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Freightview"
          }
        },
        "FRESHCALLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Freshcaller"
          }
        },
        "FRESHCHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Freshchat"
          }
        },
        "FRESHSERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Freshservice"
          }
        },
        "FULCRUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fulcrum"
          }
        },
        "GAINSIGHTPX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GainsightPx"
          }
        },
        "GITBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GitBook"
          }
        },
        "GLASSFROG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Glassfrog"
          }
        },
        "GOLDCAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Goldcast"
          }
        },
        "GOLOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GoLogin"
          }
        },
        "GRAFANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Grafana"
          }
        },
        "GREYTHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreytHr"
          }
        },
        "GRIDLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Gridly"
          }
        },
        "HARNESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Harness"
          }
        },
        "HEIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Height"
          }
        },
        "HELLOBATON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hellobaton"
          }
        },
        "HIGHLEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HighLevel"
          }
        },
        "HOORAYHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HoorayHR"
          }
        },
        "HUBPLANNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hubplanner"
          }
        },
        "HUMANITIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Humanitix"
          }
        },
        "HUNTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Huntr"
          }
        },
        "INFLOWINVENTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inflowinventory"
          }
        },
        "INFORNEXUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InforNexus"
          }
        },
        "INSIGHTFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Insightful"
          }
        },
        "INSIGHTLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Insightly"
          }
        },
        "INSTATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Instatus"
          }
        },
        "INTRUDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Intruder"
          }
        },
        "INVOICED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invoiced"
          }
        },
        "INVOICENINJA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invoiceninja"
          }
        },
        "JAMFPRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JamfPro"
          }
        },
        "JOBNIMBUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JobNimbus"
          }
        },
        "JOTFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Jotform"
          }
        },
        "JUDGEMEREVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JudgeMeReviews"
          }
        },
        "JUSTCALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JustCall"
          }
        },
        "JUSTSIFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JustSift"
          }
        },
        "K6CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "K6Cloud"
          }
        },
        "KATANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Katana"
          }
        },
        "KEKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Keka"
          }
        },
        "KISI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Kisi"
          }
        },
        "KISSMETRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Kissmetrics"
          }
        },
        "KLARNA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Klarna"
          }
        },
        "KLAUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Klaus"
          }
        },
        "LAGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lago"
          }
        },
        "LEADFEEDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Leadfeeder"
          }
        },
        "LEMLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lemlist"
          }
        },
        "LESSANNOYINGCRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessAnnoyingCRM"
          }
        },
        "LINKEDINPAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LinkedinPages"
          }
        },
        "LINKRUNNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linkrunner"
          }
        },
        "LINNWORKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linnworks"
          }
        },
        "LOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lob"
          }
        },
        "LOKALISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lokalise"
          }
        },
        "LOOKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Looker"
          }
        },
        "LUMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Luma"
          }
        },
        "MAILERSEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MailerSend"
          }
        },
        "MAILOSAUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mailosaur"
          }
        },
        "MAILTRAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mailtrap"
          }
        },
        "MANTLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mantle"
          }
        },
        "MENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mention"
          }
        },
        "MERCADOADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MercadoAds"
          }
        },
        "MERGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Merge"
          }
        },
        "METABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Metabase"
          }
        },
        "METRICOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Metricool"
          }
        },
        "MICROSOFTDATAVERSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MicrosoftDataverse"
          }
        },
        "MICROSOFTENTRAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MicrosoftEntraId"
          }
        },
        "MICROSOFTLISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MicrosoftLists"
          }
        },
        "MIRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Miro"
          }
        },
        "MISSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Missive"
          }
        },
        "MIXMAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MixMax"
          }
        },
        "MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mode"
          }
        },
        "MUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mux"
          }
        },
        "MYHOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MyHours"
          }
        },
        "N8N": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N8n"
          }
        },
        "NAVAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Navan"
          }
        },
        "NEBIUSAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NebiusAI"
          }
        },
        "NEXIOPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Nexiopay"
          }
        },
        "NINJAONERMM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NinjaOneRMM"
          }
        },
        "NOCRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoCRM"
          }
        },
        "NORTHPASSLMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NorthpassLMS"
          }
        },
        "NUTSHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Nutshell"
          }
        },
        "NYLAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Nylas"
          }
        },
        "ONCEHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Oncehub"
          }
        },
        "ONEPAGECRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Onepagecrm"
          }
        },
        "ONESIGNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneSignal"
          }
        },
        "ONFLEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Onfleet"
          }
        },
        "OPINIONSTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OpinionStage"
          }
        },
        "OPUSWATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPUSWatch"
          }
        },
        "ORB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Orb"
          }
        },
        "ORBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Orbit"
          }
        },
        "OURA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Oura"
          }
        },
        "OVEIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Oveit"
          }
        },
        "PABBLYSUBSCRIPTIONSBILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PabblySubscriptionsBilling"
          }
        },
        "PAPERFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Paperform"
          }
        },
        "PAPERSIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Papersign"
          }
        },
        "PARTNERIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Partnerize"
          }
        },
        "PARTNERSTACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PartnerStack"
          }
        },
        "PAYFIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PayFit"
          }
        },
        "PAYSTACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Paystack"
          }
        },
        "PENNYLANE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pennylane"
          }
        },
        "PERK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Perk"
          }
        },
        "PERSISTIQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PersistIq"
          }
        },
        "PERSONA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Persona"
          }
        },
        "PHYLLO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Phyllo"
          }
        },
        "PICQER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Picqer"
          }
        },
        "PIPELINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pipeliner"
          }
        },
        "PIVOTALTRACKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PivotalTracker"
          }
        },
        "PIWIK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Piwik"
          }
        },
        "PLANHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Planhat"
          }
        },
        "PLAUSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Plausible"
          }
        },
        "POPLAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Poplar"
          }
        },
        "PRESTASHOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PrestaShop"
          }
        },
        "PRETIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pretix"
          }
        },
        "PRIMETRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Primetric"
          }
        },
        "PRINTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Printify"
          }
        },
        "PRODUCTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Productive"
          }
        },
        "PYLON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pylon"
          }
        },
        "QONTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Qonto"
          }
        },
        "QUALAROO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Qualaroo"
          }
        },
        "RAILZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Railz"
          }
        },
        "RDSTATIONMARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RDStationMarketing"
          }
        },
        "RECRUITEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Recruitee"
          }
        },
        "REDDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reddit"
          }
        },
        "REFERRALHERO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReferralHero"
          }
        },
        "RENTCAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RentCast"
          }
        },
        "REPAIRSHOPR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Repairshopr"
          }
        },
        "REPLYIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReplyIo"
          }
        },
        "RETAILEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RetailExpress"
          }
        },
        "RETENTLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Retently"
          }
        },
        "REVOLUTMERCHANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RevolutMerchant"
          }
        },
        "ROCKETCHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RocketChat"
          }
        },
        "ROCKETLANE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rocketlane"
          }
        },
        "ROOTLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rootly"
          }
        },
        "RUDDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ruddr"
          }
        },
        "SAFETYCULTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SafetyCulture"
          }
        },
        "SAGEHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SageHR"
          }
        },
        "SALESFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Salesflare"
          }
        },
        "SAPFIELDGLASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAPFieldglass"
          }
        },
        "SAVVYCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SavvyCal"
          }
        },
        "SECODA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secoda"
          }
        },
        "SEGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Segment"
          }
        },
        "SENDOWL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sendowl"
          }
        },
        "SENDPULSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SendPulse"
          }
        },
        "SENSEFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Senseforce"
          }
        },
        "SERPSTAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Serpstat"
          }
        },
        "SHARETRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sharetribe"
          }
        },
        "SHIPPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Shippo"
          }
        },
        "SHOPWIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ShopWired"
          }
        },
        "SHORTIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Shortio"
          }
        },
        "SHUTTERSTOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Shutterstock"
          }
        },
        "SIGMACOMPUTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SigmaComputing"
          }
        },
        "SIGNNOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SignNow"
          }
        },
        "SIMPLECAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SimpleCast"
          }
        },
        "SIMPLESAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Simplesat"
          }
        },
        "SMAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Smaily"
          }
        },
        "SMARTENGAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SmartEngage"
          }
        },
        "SMARTREACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Smartreach"
          }
        },
        "SMARTWAIVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Smartwaiver"
          }
        },
        "SOLARWINDSSERVICEDESK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SolarwindsServiceDesk"
          }
        },
        "SONARCLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SonarCloud"
          }
        },
        "SPARKPOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SparkPost"
          }
        },
        "SPLITIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SplitIo"
          }
        },
        "SPOTIFYADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SpotifyAds"
          }
        },
        "SPOTLERCRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SpotlerCRM"
          }
        },
        "SQUARESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Squarespace"
          }
        },
        "STATSIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Statsig"
          }
        },
        "STATUSPAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Statuspage"
          }
        },
        "STIGG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stigg"
          }
        },
        "STRAVA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Strava"
          }
        },
        "SURVEYSPARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SurveySparrow"
          }
        },
        "SURVICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Survicate"
          }
        },
        "SVIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Svix"
          }
        },
        "SYSTEME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Systeme"
          }
        },
        "TAVUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tavus"
          }
        },
        "TEAMTAILOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Teamtailor"
          }
        },
        "TEAMWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Teamwork"
          }
        },
        "TEMPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tempo"
          }
        },
        "TESTRAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Testrail"
          }
        },
        "THINKIFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Thinkific"
          }
        },
        "THINKIFICCOURSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ThinkificCourses"
          }
        },
        "THRIVELEARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ThriveLearning"
          }
        },
        "TICKETMASTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ticketmaster"
          }
        },
        "TICKETTAILOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TicketTailor"
          }
        },
        "TICKTICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TickTick"
          }
        },
        "TIMELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Timely"
          }
        },
        "TINYEMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tinyemail"
          }
        },
        "TODOIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Todoist"
          }
        },
        "TOGGL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Toggl"
          }
        },
        "TRACKPMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TrackPMS"
          }
        },
        "TREMENDOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tremendous"
          }
        },
        "TRUSTPILOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TrustPilot"
          }
        },
        "TWITTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Twitter"
          }
        },
        "TYNTECSMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TyntecSMS"
          }
        },
        "UNLEASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unleash"
          }
        },
        "UPPROMOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpPromote"
          }
        },
        "UPTICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Uptick"
          }
        },
        "USERVOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Uservoice"
          }
        },
        "VANTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Vantage"
          }
        },
        "VEEQO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Veeqo"
          }
        },
        "VERCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Vercel"
          }
        },
        "VISMAECONOMIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VismaEconomic"
          }
        },
        "VWO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VWO"
          }
        },
        "WAITERAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Waiteraid"
          }
        },
        "WASABI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Wasabi"
          }
        },
        "WHENIWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WhenIWork"
          }
        },
        "WORDPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Wordpress"
          }
        },
        "WORKABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Workable"
          }
        },
        "WORKFLOWMAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Workflowmax"
          }
        },
        "WORKRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Workramp"
          }
        },
        "WUFOO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Wufoo"
          }
        },
        "XSOLLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Xsolla"
          }
        },
        "YANDEXMETRICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YandexMetrica"
          }
        },
        "YOTPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Yotpo"
          }
        },
        "YNAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ynab"
          }
        },
        "YOUNIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Younium"
          }
        },
        "YOUSIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YouSign"
          }
        },
        "YOUTUBEDATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YoutubeData"
          }
        },
        "ZAPIERSUPPORTEDSTORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZapierSupportedStorage"
          }
        },
        "ZAPSIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZapSign"
          }
        },
        "ZENDESKSELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZendeskSell"
          }
        },
        "ZENDESKSUNSHINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZendeskSunshine"
          }
        },
        "ZENEFITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Zenefits"
          }
        },
        "ZENLOOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Zenloop"
          }
        },
        "ZOHOANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZohoAnalytics"
          }
        },
        "ZOHOBIGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZohoBigin"
          }
        },
        "ZOHOBILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZohoBilling"
          }
        },
        "ZOHOBOOKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZohoBooks"
          }
        },
        "ZOHOCAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZohoCampaign"
          }
        },
        "ZOHODESK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZohoDesk"
          }
        },
        "ZOHOEXPENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZohoExpense"
          }
        },
        "ZOHOINVENTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZohoInventory"
          }
        },
        "ZOHOINVOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZohoInvoice"
          }
        },
        "ZONKAFEEDBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZonkaFeedback"
          }
        },
        "ALPHAVANTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlphaVantage"
          }
        },
        "AVIATIONSTACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Aviationstack"
          }
        },
        "BITLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Bitly"
          }
        },
        "BLOGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Blogger"
          }
        },
        "BREEZOMETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Breezometer"
          }
        },
        "CAREQUALITYCOMMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CareQualityCommission"
          }
        },
        "CIMIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cimis"
          }
        },
        "COINAPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CoinApi"
          }
        },
        "COINGECKO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CoinGecko"
          }
        },
        "COINMARKETCAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CoinMarketCap"
          }
        },
        "DINGCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DingConnect"
          }
        },
        "DOCKERHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dockerhub"
          }
        },
        "EXCHANGERATESAPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExchangeRatesApi"
          }
        },
        "FINANCIALMODELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FinancialModelling"
          }
        },
        "FINNHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Finnhub"
          }
        },
        "FINNWORLDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Finnworlds"
          }
        },
        "GIPHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Giphy"
          }
        },
        "GMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Gmail"
          }
        },
        "GNEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GNews"
          }
        },
        "GOOGLECALENDAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GoogleCalendar"
          }
        },
        "GOOGLECLASSROOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GoogleClassroom"
          }
        },
        "GOOGLEDIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GoogleDirectory"
          }
        },
        "GOOGLEFORMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GoogleForms"
          }
        },
        "GOOGLEPAGESPEEDINSIGHTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GooglePageSpeedInsights"
          }
        },
        "GOOGLETASKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GoogleTasks"
          }
        },
[...]
