{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.inngest.api#V2FetchAccountResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2Account"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2Account": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2ResponseMetadata": {
      "type": "structure",
      "members": {
        "cachedUntil": {
          "target": "smithy.api#String"
        },
        "fetchedAt": {
          "target": "smithy.api#String"
        },
        "timeRange": {
          "target": "com.inngest.api#V2TimeRange"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2TimeRange": {
      "type": "structure",
      "members": {
        "from": {
          "target": "smithy.api#String"
        },
        "until": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FetchAccount": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.inngest.api#V2FetchAccountResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/account",
          "code": 200
        },
        "smithy.api#documentation": "Get account\n\nReturns the account for the authenticated user"
      }
    },
    "com.inngest.api#V2GetAppsRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of apps to return per page (min: 1, max: 100)"
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "archived",
            "smithy.api#documentation": "Whether to return archived apps instead of active apps"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2GetAppsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2GetAppsResponseDataList"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        },
        "page": {
          "target": "com.inngest.api#V2Page"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2App": {
      "type": "structure",
      "members": {
        "appVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-defined app version, if set"
          }
        },
        "archivedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the app was archived (if archived)"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the app was first synced"
          }
        },
        "functionCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of functions in the app"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-defined app ID"
          }
        },
        "isArchived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the app is archived"
          }
        },
        "latestSync": {
          "target": "com.inngest.api#V2AppSync"
        },
        "method": {
          "target": "com.inngest.api#V2AppMethod"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App name"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2AppSync": {
      "type": "structure",
      "members": {
        "appVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App version reported by the latest sync, if set"
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent sync or connectivity error for the app, if any"
          }
        },
        "framework": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Framework used by the app, if reported by the SDK"
          }
        },
        "sdkLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language of the SDK that synced the app"
          }
        },
        "sdkVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the SDK that synced the app"
          }
        },
        "status": {
          "target": "com.inngest.api#V2AppSyncStatus",
          "traits": {
            "smithy.api#documentation": "Status of the latest sync. `success` and `duplicate` are successful terminal states. `duplicate` means the sync payload matched the previous successful sync, so no function configuration changes were applied. `error` is a failed terminal state, and `pending` means the sync is still in progress."
          }
        },
        "syncedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the latest sync, if available"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the Inngest endpoint in the app, if synced via URL"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2AppSyncStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duplicate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the latest sync. `success` and `duplicate` are successful terminal states. `duplicate` means the sync payload matched the previous successful sync, so no function configuration changes were applied. `error` is a failed terminal state, and `pending` means the sync is still in progress."
      }
    },
    "com.inngest.api#V2AppMethod": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "SERVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVE"
          }
        },
        "CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECT"
          }
        },
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2GetAppsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2App"
      },
      "traits": {}
    },
    "com.inngest.api#V2Page": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String"
        },
        "hasMore": {
          "target": "smithy.api#Boolean"
        },
        "limit": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2GetApps": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2GetAppsRequest"
      },
      "output": {
        "target": "com.inngest.api#V2GetAppsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps",
          "code": 200
        },
        "smithy.api#documentation": "Get apps\n\nLists active apps in the authenticated environment. Set archived to true to list archived apps instead."
      }
    },
    "com.inngest.api#V2GetAppRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The user-defined app ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2GetAppResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2App"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2GetApp": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2GetAppRequest"
      },
      "output": {
        "target": "com.inngest.api#V2GetAppResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{appId}",
          "code": 200
        },
        "smithy.api#documentation": "Get app\n\nFetches details for a single app, including sync metadata and function count"
      }
    },
    "com.inngest.api#V2GetFunctionsRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of functions to return per page (min: 1, max: 100)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2GetFunctionsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2GetFunctionsResponseDataList"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        },
        "page": {
          "target": "com.inngest.api#V2Page"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2Function": {
      "type": "structure",
      "members": {
        "app": {
          "target": "com.inngest.api#V2FunctionApp"
        },
        "configuration": {
          "target": "com.inngest.api#V2FunctionConfiguration"
        },
        "failureHandler": {
          "target": "com.inngest.api#V2FunctionFailureHandler"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "isArchived": {
          "target": "smithy.api#Boolean"
        },
        "isPaused": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "triggers": {
          "target": "com.inngest.api#V2FunctionTriggersList"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionApp": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionConfiguration": {
      "type": "structure",
      "members": {
        "cancellations": {
          "target": "com.inngest.api#V2FunctionConfigurationCancellationsList"
        },
        "concurrency": {
          "target": "com.inngest.api#V2FunctionConfigurationConcurrencyList"
        },
        "debounce": {
          "target": "com.inngest.api#V2FunctionDebounceConfiguration"
        },
        "eventsBatch": {
          "target": "com.inngest.api#V2FunctionEventsBatchConfiguration"
        },
        "priority": {
          "target": "smithy.api#String"
        },
        "rateLimit": {
          "target": "com.inngest.api#V2FunctionRateLimitConfiguration"
        },
        "retries": {
          "target": "com.inngest.api#V2FunctionRetryConfiguration"
        },
        "singleton": {
          "target": "com.inngest.api#V2FunctionSingletonConfiguration"
        },
        "throttle": {
          "target": "com.inngest.api#V2FunctionThrottleConfiguration"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionCancellationConfiguration": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "smithy.api#String"
        },
        "event": {
          "target": "smithy.api#String"
        },
        "timeout": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionConfigurationCancellationsList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2FunctionCancellationConfiguration"
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionConcurrencyConfiguration": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "limit": {
          "target": "com.inngest.api#V2FunctionConcurrencyLimitConfiguration"
        },
        "scope": {
          "target": "com.inngest.api#V2FunctionConcurrencyScope"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionConcurrencyLimitConfiguration": {
      "type": "structure",
      "members": {
        "isPlanLimit": {
          "target": "smithy.api#Boolean"
        },
        "value": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionConcurrencyScope": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT"
          }
        },
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT"
          }
        },
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTION"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionConfigurationConcurrencyList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2FunctionConcurrencyConfiguration"
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionDebounceConfiguration": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "period": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionEventsBatchConfiguration": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "maxSize": {
          "target": "smithy.api#Integer"
        },
        "timeout": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionRateLimitConfiguration": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "limit": {
          "target": "smithy.api#Integer"
        },
        "period": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionRetryConfiguration": {
      "type": "structure",
      "members": {
        "isDefault": {
          "target": "smithy.api#Boolean"
        },
        "value": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionSingletonConfiguration": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "mode": {
          "target": "com.inngest.api#V2FunctionSingletonMode"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionSingletonMode": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "SKIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIP"
          }
        },
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionThrottleConfiguration": {
      "type": "structure",
      "members": {
        "burst": {
          "target": "smithy.api#Integer"
        },
        "key": {
          "target": "smithy.api#String"
        },
        "limit": {
          "target": "smithy.api#Integer"
        },
        "period": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionFailureHandler": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionTrigger": {
      "type": "structure",
      "members": {
        "if": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.inngest.api#V2FunctionTriggerType"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionTriggerType": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT"
          }
        },
        "CRON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRON"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionTriggersList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2FunctionTrigger"
      },
      "traits": {}
    },
    "com.inngest.api#V2GetFunctionsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2Function"
      },
      "traits": {}
    },
    "com.inngest.api#V2GetFunctions": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2GetFunctionsRequest"
      },
      "output": {
        "target": "com.inngest.api#V2GetFunctionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{appId}/functions",
          "code": 200
        },
        "smithy.api#documentation": "Get functions\n\nLists function configuration and status details for an app"
      }
    },
    "com.inngest.api#V2GetFunctionRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2GetFunctionResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2Function"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2GetFunction": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2GetFunctionRequest"
      },
      "output": {
        "target": "com.inngest.api#V2GetFunctionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{appId}/functions/{functionId}",
          "code": 200
        },
        "smithy.api#documentation": "Get function\n\nFetches function configuration and status details for a function within an app"
      }
    },
    "com.inngest.api#V2ListExperiments2Request": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of experiments to return per page (min: 1, max: 100)"
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "from"
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "until"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2ListExperimentsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2ListExperimentsResponseDataList"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        },
        "page": {
          "target": "com.inngest.api#V2Page"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2Experiment": {
      "type": "structure",
      "members": {
        "firstSeen": {
          "target": "smithy.api#String"
        },
        "function": {
          "target": "com.inngest.api#V2FunctionRef"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "lastSeen": {
          "target": "smithy.api#String"
        },
        "selectionStrategy": {
          "target": "smithy.api#String"
        },
        "totalRuns": {
          "target": "smithy.api#Integer"
        },
        "variantCount": {
          "target": "smithy.api#Integer"
        },
        "variants": {
          "target": "com.inngest.api#V2ExperimentVariantsList"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionRef": {
      "type": "structure",
      "members": {
        "app": {
          "target": "com.inngest.api#V2AppRef"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2AppRef": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2ExperimentVariantsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.inngest.api#V2ListExperimentsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2Experiment"
      },
      "traits": {}
    },
    "com.inngest.api#V2ListExperiments2": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2ListExperiments2Request"
      },
      "output": {
        "target": "com.inngest.api#V2ListExperimentsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{appId}/functions/{functionId}/experiments",
          "code": 200
        },
        "smithy.api#documentation": "List experiments for a function\n\nLists observed experiments for one function in the authenticated environment."
      }
    },
    "com.inngest.api#V2GetExperimentRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "experimentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "variant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "variant",
            "smithy.api#documentation": "Optional variant name to restrict the aggregate response."
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "from"
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "until"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2GetExperimentResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2ExperimentDetail"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2ExperimentDetail": {
      "type": "structure",
      "members": {
        "firstSeen": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "lastSeen": {
          "target": "smithy.api#String"
        },
        "selectionStrategy": {
          "target": "smithy.api#String"
        },
        "variantWeights": {
          "target": "com.inngest.api#V2ExperimentDetailVariantWeightsList"
        },
        "variants": {
          "target": "com.inngest.api#V2ExperimentDetailVariantsList"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2ExperimentVariantWeight": {
      "type": "structure",
      "members": {
        "variantName": {
          "target": "smithy.api#String"
        },
        "weight": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2ExperimentDetailVariantWeightsList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2ExperimentVariantWeight"
      },
      "traits": {}
    },
    "com.inngest.api#V2ExperimentVariantMetrics": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.inngest.api#V2ExperimentVariantMetricsMetricsList"
        },
        "runCount": {
          "target": "smithy.api#Integer"
        },
        "variantName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2ExperimentVariantMetric": {
      "type": "structure",
      "members": {
        "avg": {
          "target": "smithy.api#Double"
        },
        "key": {
          "target": "smithy.api#String"
        },
        "max": {
          "target": "smithy.api#Double"
        },
        "min": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2ExperimentVariantMetricsMetricsList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2ExperimentVariantMetric"
      },
      "traits": {}
    },
    "com.inngest.api#V2ExperimentDetailVariantsList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2ExperimentVariantMetrics"
      },
      "traits": {}
    },
    "com.inngest.api#V2GetExperiment": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2GetExperimentRequest"
      },
      "output": {
        "target": "com.inngest.api#V2GetExperimentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{appId}/functions/{functionId}/experiments/{experimentId}",
          "code": 200
        },
        "smithy.api#documentation": "Get experiment aggregates\n\nFetches variant run counts and score aggregates for one experiment on one function."
      }
    },
    "com.inngest.api#V2InvokeFunctionRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the app containing the function"
          }
        },
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the function to invoke"
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "JSON object containing the input data for the function"
          }
        },
        "idempotencyKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional idempotency key to handle duplicate requests within a given idempotency period."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2InvokeFunctionResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2InvokeFunctionData"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2InvokeFunctionData": {
      "type": "structure",
      "members": {
        "completedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the function execution completed (if finished)"
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message if the function execution failed"
          }
        },
        "queuedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the function execution was enqueued"
          }
        },
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSON string containing the function result (only available for completed synchronous invocations)"
          }
        },
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this function execution"
          }
        },
        "startedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the function execution started (if started)"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2InvokeFunction": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2InvokeFunctionRequest"
      },
      "output": {
        "target": "com.inngest.api#V2InvokeFunctionResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#BadRequest"
        },
        {
          "target": "com.inngest.api#Forbidden"
        },
        {
          "target": "com.inngest.api#NotFound"
        },
        {
          "target": "com.inngest.api#Conflict"
        },
        {
          "target": "com.inngest.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{appId}/functions/{functionId}/invoke",
          "code": 200
        },
        "smithy.api#documentation": "Invoke function\n\nInvokes a function, executing the function either asynchronously or synchronously based on the mode parameter in the request body"
      }
    },
    "com.inngest.api#V2ListFunctionRunsRequestStatusList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.inngest.api#V2ListFunctionRunsRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "includeOutput": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeOutput"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of runs to return per page (min: 1, max: 100)"
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "from",
            "smithy.api#documentation": "Inclusive start of the run time range"
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#documentation": "Inclusive end of the run time range"
          }
        },
        "timeField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "timeField",
            "smithy.api#documentation": "Run timestamp field used for filtering and ordering. Accepts queuedAt, startedAt, or endedAt. Snake case aliases such as QUEUED_AT, STARTED_AT, and ENDED_AT are also accepted."
          }
        },
        "status": {
          "target": "com.inngest.api#V2ListFunctionRunsRequestStatusList",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Statuses to include, using response status values such as COMPLETED, FAILED, RUNNING, QUEUED, or CANCELLED"
          }
        },
        "isDeferred": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "isDeferred",
            "smithy.api#documentation": "Whether to include only deferred or non-deferred runs"
          }
        },
        "order": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Sort direction. Accepts ASC or DESC."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2ListFunctionRunsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2ListFunctionRunsResponseDataList"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        },
        "page": {
          "target": "com.inngest.api#V2Page"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionRun": {
      "type": "structure",
      "members": {
        "app": {
          "target": "com.inngest.api#V2AppRef"
        },
        "durationMs": {
          "target": "smithy.api#String"
        },
        "endedAt": {
          "target": "smithy.api#String"
        },
        "function": {
          "target": "com.inngest.api#V2FunctionRef"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "output": {
          "target": "smithy.api#Document"
        },
        "queuedAt": {
          "target": "smithy.api#String"
        },
        "startedAt": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.inngest.api#V2FunctionRunStatus"
        },
        "trigger": {
          "target": "com.inngest.api#V2RunTrigger"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FunctionRunStatus": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2RunTrigger": {
      "type": "structure",
      "members": {
        "batchId": {
          "target": "smithy.api#String"
        },
        "cronSchedule": {
          "target": "smithy.api#String"
        },
        "eventIds": {
          "target": "com.inngest.api#V2RunTriggerEventIdsList"
        },
        "eventName": {
          "target": "smithy.api#String"
        },
        "isBatch": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2RunTriggerEventIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.inngest.api#V2ListFunctionRunsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2FunctionRun"
      },
      "traits": {}
    },
    "com.inngest.api#V2ListFunctionRuns": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2ListFunctionRunsRequest"
      },
      "output": {
        "target": "com.inngest.api#V2ListFunctionRunsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{appId}/functions/{functionId}/runs",
          "code": 200
        },
        "smithy.api#documentation": "List runs for a function\n\nLists runs for one function in the authenticated environment"
      }
    },
    "com.inngest.api#V2SyncAppRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "App ID"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the Inngest endpoint in the app"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2SyncAppResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2SyncAppData"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2SyncAppData": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App ID"
          }
        },
        "error": {
          "target": "com.inngest.api#V2SyncAppError"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID"
          }
        },
        "status": {
          "target": "com.inngest.api#V2SyncAppDataStatus",
          "traits": {
            "smithy.api#documentation": "Status of the sync. `success` and `duplicate` are successful terminal states. `duplicate` means the sync payload matched the previous successful sync, so no function configuration changes were applied. `error` is a failed terminal state, and `pending` means the sync is still in progress."
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2SyncAppError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2SyncAppDataStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duplicate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the sync. `success` and `duplicate` are successful terminal states. `duplicate` means the sync payload matched the previous successful sync, so no function configuration changes were applied. `error` is a failed terminal state, and `pending` means the sync is still in progress."
      }
    },
    "com.inngest.api#V2SyncApp": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2SyncAppRequest"
      },
      "output": {
        "target": "com.inngest.api#V2SyncAppResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#BadRequest"
        },
        {
          "target": "com.inngest.api#Forbidden"
        },
        {
          "target": "com.inngest.api#NotFound"
        },
        {
          "target": "com.inngest.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{appId}/syncs",
          "code": 200
        },
        "smithy.api#documentation": "Sync app\n\nSync an app at the provided URL."
      }
    },
    "com.inngest.api#V2ListWebhooksRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of webhooks to return per page (min: 1, max: 100)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2ListWebhooksResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2ListWebhooksResponseDataList"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        },
        "page": {
          "target": "com.inngest.api#V2Page"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2Webhook": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "eventFilter": {
          "target": "com.inngest.api#V2EventFilter"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "response": {
          "target": "smithy.api#String"
        },
        "transform": {
          "target": "smithy.api#String"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2EventFilter": {
      "type": "structure",
      "members": {
        "events": {
          "target": "com.inngest.api#V2EventFilterEventsList",
          "traits": {
            "smithy.api#documentation": "Allow or deny specific events, e.g. 'orders/payment.created', or 'orders/*' for all orders. Only events in this list will be either allowed or denied."
          }
        },
        "filter": {
          "target": "com.inngest.api#V2FilterType"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2EventFilterEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allow or deny specific events, e.g. 'orders/payment.created', or 'orders/*' for all orders. Only events in this list will be either allowed or denied."
      }
    },
    "com.inngest.api#V2FilterType": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2ListWebhooksResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2Webhook"
      },
      "traits": {}
    },
    "com.inngest.api#V2ListWebhooks": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2ListWebhooksRequest"
      },
      "output": {
        "target": "com.inngest.api#V2ListWebhooksResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#BadRequest"
        },
        {
          "target": "com.inngest.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/env/webhooks",
          "code": 200
        },
        "smithy.api#documentation": "List webhooks\n\nLists all webhooks in the specified environment"
      }
    },
    "com.inngest.api#V2CreateWebhookRequest": {
      "type": "structure",
      "members": {
        "eventFilter": {
          "target": "com.inngest.api#V2EventFilter"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Descriptive name for the webhook"
          }
        },
        "response": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional inline JS function which is called to respond to GET requests"
          }
        },
        "transform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The inline JS transform function for incoming events"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2CreateWebhookResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2Webhook"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2CreateWebhook": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2CreateWebhookRequest"
      },
      "output": {
        "target": "com.inngest.api#V2CreateWebhookResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#BadRequest"
        },
        {
          "target": "com.inngest.api#Forbidden"
        },
        {
          "target": "com.inngest.api#Conflict"
        },
        {
          "target": "com.inngest.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/env/webhooks",
          "code": 200
        },
        "smithy.api#documentation": "Create webhook\n\nCreates a new webhook for receiving events"
      }
    },
    "com.inngest.api#V2FetchAccountEnvsRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of environments to return per page (min: 1, max: 250)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2FetchAccountEnvsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2FetchAccountEnvsResponseDataList"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        },
        "page": {
          "target": "com.inngest.api#V2Page"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2Env": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "isArchived": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.inngest.api#V2EnvType"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2EnvType": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCTION"
          }
        },
        "TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST"
          }
        },
        "BRANCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRANCH"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FetchAccountEnvsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2Env"
      },
      "traits": {}
    },
    "com.inngest.api#V2FetchAccountEnvs": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2FetchAccountEnvsRequest"
      },
      "output": {
        "target": "com.inngest.api#V2FetchAccountEnvsResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#BadRequest"
        },
        {
          "target": "com.inngest.api#Forbidden"
        },
        {
          "target": "com.inngest.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/envs",
          "code": 200
        },
        "smithy.api#documentation": "List environments\n\nList of all custom environments."
      }
    },
    "com.inngest.api#V2CreateEnvRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2CreateEnvResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2Env"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2CreateEnv": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2CreateEnvRequest"
      },
      "output": {
        "target": "com.inngest.api#V2CreateEnvResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#BadRequest"
        },
        {
          "target": "com.inngest.api#Forbidden"
        },
        {
          "target": "com.inngest.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/envs",
          "code": 200
        },
        "smithy.api#documentation": "Create environment\n\nCreate custom environment"
      }
    },
    "com.inngest.api#V2PatchEnvRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the environment to update"
          }
        },
        "isArchived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Updates the archived status of the environment. Set to true to archive the environment or false to unarchive it."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2PatchEnvsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2Env"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2PatchEnv": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2PatchEnvRequest"
      },
      "output": {
        "target": "com.inngest.api#V2PatchEnvsResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#BadRequest"
        },
        {
          "target": "com.inngest.api#Forbidden"
        },
        {
          "target": "com.inngest.api#NotFound"
        },
        {
          "target": "com.inngest.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/envs/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update environment\n\nPartially updates an environment. Only the provided fields will be modified."
      }
    },
    "com.inngest.api#V2SendEventRequest": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "JSON object containing event data"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional event ID used for idempotency when scheduling function runs"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event name",
            "smithy.api#required": {}
          }
        },
        "ts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional event timestamp as Unix time in milliseconds. Defaults to the current time."
          }
        },
        "user": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Deprecated user data. Put user data in the data field instead."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2SendEventResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2SendEventData"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2SendEventData": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internal event ID assigned by Inngest"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2SendEvent": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2SendEventRequest"
      },
      "output": {
        "target": "com.inngest.api#V2SendEventResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#BadRequest"
        },
        {
          "target": "com.inngest.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/events",
          "code": 200
        },
        "smithy.api#documentation": "Send event\n\nSends one event for testing and debugging. The request accepts the name, data, user, id, and ts fields; send batches and other Event API fields through an Inngest SDK or the Event API. This endpoint uses REST API rate limits and is not intended for high-volume ingestion. Use the returned event ID with the event runs endpoint to inspect any function runs triggered by the event."
      }
    },
    "com.inngest.api#V2GetEventRunsRequest": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "includeOutput": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeOutput"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of runs to return per page (min: 1, max: 40)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2GetEventRunsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2GetEventRunsResponseDataList"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        },
        "page": {
          "target": "com.inngest.api#V2Page"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2GetEventRunsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2FunctionRun"
      },
      "traits": {}
    },
    "com.inngest.api#V2GetEventRuns": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2GetEventRunsRequest"
      },
      "output": {
        "target": "com.inngest.api#V2GetEventRunsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/events/{eventId}/runs",
          "code": 200
        },
        "smithy.api#documentation": "Get event runs\n\nLists function runs triggered by a specific event"
      }
    },
    "com.inngest.api#V2ListExperimentsRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of experiments to return per page (min: 1, max: 100)"
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "appId"
          }
        },
        "functionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "functionId"
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "from"
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "until"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2ListExperiments": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2ListExperimentsRequest"
      },
      "output": {
        "target": "com.inngest.api#V2ListExperimentsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/experiments",
          "code": 200
        },
        "smithy.api#documentation": "List experiments\n\nLists observed experiments in the authenticated environment. Use the nested app and function route to scope results to one function."
      }
    },
    "com.inngest.api#V2ListInsightsEventSchemasRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of event schemas to return per page (min: 1, max: 100)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2ListInsightsEventSchemasResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2ListInsightsEventSchemasResponseDataList",
          "traits": {
            "smithy.api#documentation": "Paginated list of event type schemas"
          }
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        },
        "page": {
          "target": "com.inngest.api#V2Page"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2InsightsEventSchema": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event type name"
          }
        },
        "schema": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "JSON Schema describing the shape of this event's data, represented as a nested JSON object"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2ListInsightsEventSchemasResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2InsightsEventSchema"
      },
      "traits": {
        "smithy.api#documentation": "Paginated list of event type schemas"
      }
    },
    "com.inngest.api#V2ListInsightsEventSchemas": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2ListInsightsEventSchemasRequest"
      },
      "output": {
        "target": "com.inngest.api#V2ListInsightsEventSchemasResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#BadRequest"
        },
        {
          "target": "com.inngest.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/insights/events/schemas",
          "code": 200
        },
        "smithy.api#documentation": "List event type schemas\n\nReturns a paginated list of event type schemas, where each schema describes the shape of a specific event's data as nested JSON."
      }
    },
    "com.inngest.api#V2QueryInsightsRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The insights query to execute, written in modified ClickHouse SQL"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2QueryInsightsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2QueryInsightsData"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2QueryInsightsData": {
      "type": "structure",
      "members": {
        "columns": {
          "target": "com.inngest.api#V2QueryInsightsDataColumnsList",
          "traits": {
            "smithy.api#documentation": "Column metadata for the insights query result"
          }
        },
        "diagnostics": {
          "target": "com.inngest.api#V2QueryInsightsDataDiagnosticsList",
          "traits": {
            "smithy.api#documentation": "Any non-fatal diagnostics related to the insights query execution"
          }
        },
        "rows": {
          "target": "com.inngest.api#V2QueryInsightsDataRowsList",
          "traits": {
            "smithy.api#documentation": "Rows of the insights query result, where each row contains a list of values corresponding to the columns"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2InsightsOutputColumn": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the column in the insights query result"
          }
        },
        "type": {
          "target": "com.inngest.api#V2InsightsOutputColumnType"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2InsightsOutputColumnType": {
      "type": "enum",
      "members": {
        "VALUE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE_TYPE_UNSPECIFIED"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMBER"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATETIME"
          }
        },
        "COMPLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLEX"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2QueryInsightsDataColumnsList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2InsightsOutputColumn"
      },
      "traits": {
        "smithy.api#documentation": "Column metadata for the insights query result"
      }
    },
    "com.inngest.api#V2InsightsDiagnostic": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine-readable code representing the type of diagnostic"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable message describing the diagnostic"
          }
        },
        "position": {
          "target": "com.inngest.api#V2InsightsDiagnosticPosition"
        },
        "severity": {
          "target": "com.inngest.api#V2InsightsDiagnosticSeverity"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2InsightsDiagnosticPosition": {
      "type": "structure",
      "members": {
        "context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Snippet of the query string around the position to provide context for the diagnostic"
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Ending character index in the query string where the diagnostic applies"
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Starting character index in the query string where the diagnostic applies"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2InsightsDiagnosticSeverity": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2QueryInsightsDataDiagnosticsList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2InsightsDiagnostic"
      },
      "traits": {
        "smithy.api#documentation": "Any non-fatal diagnostics related to the insights query execution"
      }
    },
    "com.inngest.api#V2InsightsRow": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.inngest.api#V2InsightsRowValuesList",
          "traits": {
            "smithy.api#documentation": "Values for a single row of the insights query result, where each value corresponds to a column. The value is represented as a JSON object to allow for flexible typing (e.g., string, number, boolean, etc.)"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2InsightsRowValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Values for a single row of the insights query result, where each value corresponds to a column. The value is represented as a JSON object to allow for flexible typing (e.g., string, number, boolean, etc.)"
      }
    },
    "com.inngest.api#V2QueryInsightsDataRowsList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2InsightsRow"
      },
      "traits": {
        "smithy.api#documentation": "Rows of the insights query result, where each row contains a list of values corresponding to the columns"
      }
    },
    "com.inngest.api#V2QueryInsights": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2QueryInsightsRequest"
      },
      "output": {
        "target": "com.inngest.api#V2QueryInsightsResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#BadRequest"
        },
        {
          "target": "com.inngest.api#Forbidden"
        },
        {
          "target": "com.inngest.api#NotFound"
        },
        {
          "target": "com.inngest.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/insights/query",
          "code": 200
        },
        "smithy.api#documentation": "Query insights\n\nQuery Insights using the provided SQL query."
      }
    },
    "com.inngest.api#V2QueryInsightsPromptRequest": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Natural language description of the query to generate"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2QueryInsightsPromptResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2QueryInsightsPromptData"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2QueryInsightsPromptData": {
      "type": "structure",
      "members": {
        "sql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The generated Insights SQL query"
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A natural language summary of the generated query, useful for explaining the query's intent to agents"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2QueryInsightsPrompt": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2QueryInsightsPromptRequest"
      },
      "output": {
        "target": "com.inngest.api#V2QueryInsightsPromptResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#BadRequest"
        },
        {
          "target": "com.inngest.api#Forbidden"
        },
        {
          "target": "com.inngest.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/insights/query/prompt",
          "code": 200
        },
        "smithy.api#documentation": "Generate insights query from prompt\n\nTranslates a natural language prompt into an Insights SQL query."
      }
    },
    "com.inngest.api#V2ListInsightsTablesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2ListInsightsTablesResponseDataList",
          "traits": {
            "smithy.api#documentation": "List of available tables that can be queried via the Insights query endpoint"
          }
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2InsightsTable": {
      "type": "structure",
      "members": {
        "columns": {
          "target": "com.inngest.api#V2InsightsTableColumnsList",
          "traits": {
            "smithy.api#documentation": "Columns available in this table"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the table and its contents"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table, used when writing queries"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2InsightsTableColumn": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the column and the data it contains"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the column in the insights table"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data type of the column (e.g., 'String', 'Int64', 'Array(String)', etc.)"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2InsightsTableColumnsList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2InsightsTableColumn"
      },
      "traits": {
        "smithy.api#documentation": "Columns available in this table"
      }
    },
    "com.inngest.api#V2ListInsightsTablesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2InsightsTable"
      },
      "traits": {
        "smithy.api#documentation": "List of available tables that can be queried via the Insights query endpoint"
      }
    },
    "com.inngest.api#V2ListInsightsTables": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.inngest.api#V2ListInsightsTablesResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/insights/tables",
          "code": 200
        },
        "smithy.api#documentation": "List insights tables\n\nLists the available tables that can be queried via the Insights query endpoint."
      }
    },
    "com.inngest.api#V2FetchAccountEventKeysRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of event keys to return per page (min: 1, max: 100)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2FetchAccountEventKeysResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2FetchAccountEventKeysResponseDataList"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        },
        "page": {
          "target": "com.inngest.api#V2Page"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2EventKey": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "key": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FetchAccountEventKeysResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2EventKey"
      },
      "traits": {}
    },
    "com.inngest.api#V2FetchAccountEventKeys": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2FetchAccountEventKeysRequest"
      },
      "output": {
        "target": "com.inngest.api#V2FetchAccountEventKeysResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#BadRequest"
        },
        {
          "target": "com.inngest.api#Forbidden"
        },
        {
          "target": "com.inngest.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/keys/events",
          "code": 200
        },
        "smithy.api#documentation": "List account event keys\n\nLists event keys for a specific account, optionally filtered by environment. If the environment header isn't specified, this returns the default production environment's keys."
      }
    },
    "com.inngest.api#V2FetchAccountSigningKeysRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of signing keys to return per page (min: 1, max: 100)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2FetchAccountSigningKeysResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2FetchAccountSigningKeysResponseDataList"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        },
        "page": {
          "target": "com.inngest.api#V2Page"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2SigningKey": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "key": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FetchAccountSigningKeysResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2SigningKey"
      },
      "traits": {}
    },
    "com.inngest.api#V2FetchAccountSigningKeys": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2FetchAccountSigningKeysRequest"
      },
      "output": {
        "target": "com.inngest.api#V2FetchAccountSigningKeysResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#BadRequest"
        },
        {
          "target": "com.inngest.api#Forbidden"
        },
        {
          "target": "com.inngest.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/keys/signing",
          "code": 200
        },
        "smithy.api#documentation": "List account signing keys\n\nLists signing keys for a specific account, optionally filtered by environment.  If the environment header isn't specified, this returns the default production environment's keys."
      }
    },
    "com.inngest.api#V2FetchPartnerAccountsRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of accounts to return per page (min: 1, max: 1000)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2FetchAccountsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2FetchAccountsResponseDataList"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        },
        "page": {
          "target": "com.inngest.api#V2Page"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2FetchAccountsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2Account"
      },
      "traits": {}
    },
    "com.inngest.api#V2FetchPartnerAccounts": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2FetchPartnerAccountsRequest"
      },
      "output": {
        "target": "com.inngest.api#V2FetchAccountsResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#BadRequest"
        },
        {
          "target": "com.inngest.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/partner/accounts",
          "code": 200
        },
        "smithy.api#documentation": "List partner accounts\n\nLists sub-accounts (if you have partner access)"
      }
    },
    "com.inngest.api#V2CreatePartnerAccountRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2CreateAccountResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2CreateAccountData"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2CreateAccountData": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2CreatePartnerAccount": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2CreatePartnerAccountRequest"
      },
      "output": {
        "target": "com.inngest.api#V2CreateAccountResponse"
      },
      "errors": [
        {
          "target": "com.inngest.api#BadRequest"
        },
        {
          "target": "com.inngest.api#Forbidden"
        },
        {
          "target": "com.inngest.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/partner/accounts",
          "code": 200
        },
        "smithy.api#documentation": "Create partner account\n\nCreates a sub-account (if you have partner access)"
      }
    },
    "com.inngest.api#V2ListRunsRequestStatusList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.inngest.api#V2ListRunsRequestAppIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.inngest.api#V2ListRunsRequestFunctionIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.inngest.api#V2ListRunsRequest": {
      "type": "structure",
      "members": {
        "includeOutput": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeOutput"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of runs to return per page (min: 1, max: 100)"
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "from",
            "smithy.api#documentation": "Inclusive start of the run time range"
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#documentation": "Inclusive end of the run time range"
          }
        },
        "timeField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "timeField",
            "smithy.api#documentation": "Run timestamp field used for filtering and ordering. Accepts queuedAt, startedAt, or endedAt. Snake case aliases such as QUEUED_AT, STARTED_AT, and ENDED_AT are also accepted."
          }
        },
        "status": {
          "target": "com.inngest.api#V2ListRunsRequestStatusList",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Statuses to include, using response status values such as COMPLETED, FAILED, RUNNING, QUEUED, or CANCELLED"
          }
        },
        "appId": {
          "target": "com.inngest.api#V2ListRunsRequestAppIdList",
          "traits": {
            "smithy.api#httpQuery": "appId",
            "smithy.api#documentation": "App IDs to include"
          }
        },
        "functionId": {
          "target": "com.inngest.api#V2ListRunsRequestFunctionIdList",
          "traits": {
            "smithy.api#httpQuery": "functionId",
            "smithy.api#documentation": "Function IDs to include"
          }
        },
        "isDeferred": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "isDeferred",
            "smithy.api#documentation": "Whether to include only deferred or non-deferred runs"
          }
        },
        "order": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Sort direction. Accepts ASC or DESC."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2ListRunsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2ListRunsResponseDataList"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        },
        "page": {
          "target": "com.inngest.api#V2Page"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2ListRunsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.inngest.api#V2FunctionRun"
      },
      "traits": {}
    },
    "com.inngest.api#V2ListRuns": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2ListRunsRequest"
      },
      "output": {
        "target": "com.inngest.api#V2ListRunsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/runs",
          "code": 200
        },
        "smithy.api#documentation": "List runs\n\nLists runs in the authenticated environment, optionally filtered by app and function IDs"
      }
    },
    "com.inngest.api#V2GetFunctionRunRequest": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "includeOutput": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeOutput"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2GetFunctionRunResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2FunctionRun"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2GetFunctionRun": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2GetFunctionRunRequest"
      },
      "output": {
        "target": "com.inngest.api#V2GetFunctionRunResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/runs/{runId}",
          "code": 200
        },
        "smithy.api#documentation": "Get function run\n\nFetches the canonical run summary for a single function run"
      }
    },
    "com.inngest.api#V2CancelRunRequest": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2CancelRunResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2CancelRunData"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2CancelRunData": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cancelled run ID"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2CancelRun": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2CancelRunRequest"
      },
      "output": {
        "target": "com.inngest.api#V2CancelRunResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/runs/{runId}/cancel",
          "code": 200
        },
        "smithy.api#documentation": "Cancel function run\n\nCancels an in-progress function run"
      }
    },
    "com.inngest.api#V2RerunFromStep": {
      "type": "structure",
      "members": {
        "input": {
          "target": "com.inngest.api#V2RerunFromStepInputList",
          "traits": {
            "smithy.api#documentation": "Optional replacement step input as a JSON array"
          }
        },
        "stepId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-defined step name to rerun from"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2RerunFromStepInputList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Optional replacement step input as a JSON array"
      }
    },
    "com.inngest.api#V2RerunRequest": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fromStep": {
          "target": "com.inngest.api#V2RerunFromStep"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.inngest.api#V2RerunResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inngest.api#V2RerunData"
        },
        "metadata": {
          "target": "com.inngest.api#V2ResponseMetadata"
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2RerunData": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New run ID created by the rerun"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2Rerun": {
      "type": "operation",
      "input": {
        "target": "com.inngest.api#V2RerunRequest"
      },
      "output": {
        "target": "com.inngest.api#V2RerunResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/runs/{runId}/rerun",
          "code": 200
        },
        "smithy.api#documentation": "Rerun function run\n\nCreates a new run using the original run's triggering event data"
      }
    },
    "com.inngest.api#V2CreateScoreInput": {
      "type": "structure",
      "members": {
        "experiment": {
          "target": "com.inngest.api#V2ScoreExperiment"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Score name; must be at most 128 UTF-8 bytes"
          }
        },
        "stepId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional SDK step ID; attaches the score to a specific step instead of the run. Step targets are recorded best-effort and are not validated before writing."
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Score value; must be a finite number or a boolean"
          }
        }
      },
      "traits": {}
    },
    "com.inngest.api#V2ScoreExperiment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
[...]
