{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.axiom.api#GetAnnotationsRequestDatasetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.axiom.api#GetAnnotationsRequest": {
      "type": "structure",
      "members": {
        "datasets": {
          "target": "com.axiom.api#GetAnnotationsRequestDatasetsList",
          "traits": {
            "smithy.api#httpQuery": "datasets",
            "smithy.api#documentation": "Optional: Filter for dataset names."
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "start",
            "smithy.api#documentation": "Optional: Filter for events after this date. Use RFC3339 time format."
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "end",
            "smithy.api#documentation": "Optional: Filter for events before this date. Use RFC3339 time format."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#Annotation": {
      "type": "structure",
      "members": {
        "datasets": {
          "target": "com.axiom.api#AnnotationDatasetsList",
          "traits": {
            "smithy.api#documentation": "array<string> of dataset names for which the annotation appears on charts",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explanation of the event the annotation marks on the charts"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the annotation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the annotation marks on the charts. If you don't include this field, Axiom assigns the time of the API request to the annotation.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Summary of the annotation that appears on the charts"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the event marked by the annotation. Use only alphanumeric characters or hyphens. For example, \"production-deployment\".",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL relevant for the event marked by the annotation. For example, link to GitHub pull request."
          }
        }
      },
      "traits": {}
    },
    "com.axiom.api#AnnotationDatasetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "array<string> of dataset names for which the annotation appears on charts"
      }
    },
    "com.axiom.api#GetAnnotationsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.axiom.api#Annotation"
      },
      "traits": {}
    },
    "com.axiom.api#GetAnnotationsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.axiom.api#GetAnnotationsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.axiom.api#GetAnnotations": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#GetAnnotationsRequest"
      },
      "output": {
        "target": "com.axiom.api#GetAnnotationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/annotations",
          "code": 200
        },
        "smithy.api#documentation": "Get annotations"
      }
    },
    "com.axiom.api#CreateAnnotationRequestDatasetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "array<string> of dataset names for which the annotation appears on charts"
      }
    },
    "com.axiom.api#CreateAnnotationRequest": {
      "type": "structure",
      "members": {
        "datasets": {
          "target": "com.axiom.api#CreateAnnotationRequestDatasetsList",
          "traits": {
            "smithy.api#documentation": "array<string> of dataset names for which the annotation appears on charts",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explanation of the event the annotation marks on the charts"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the annotation"
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the annotation marks on the charts. If you don't include this field, Axiom assigns the time of the API request to the annotation."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Summary of the annotation that appears on the charts"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the event marked by the annotation. Use only alphanumeric characters or hyphens. For example, \"production-deployment\".",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL relevant for the event marked by the annotation. For example, link to GitHub pull request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#CreateAnnotation": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#CreateAnnotationRequest"
      },
      "output": {
        "target": "com.axiom.api#Annotation"
      },
      "errors": [
        {
          "target": "com.axiom.api#BadRequest"
        },
        {
          "target": "com.axiom.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/annotations",
          "code": 200
        },
        "smithy.api#documentation": "Create annotation"
      }
    },
    "com.axiom.api#GetAnnotationRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique ID of the annotation"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#GetAnnotation": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#GetAnnotationRequest"
      },
      "output": {
        "target": "com.axiom.api#Annotation"
      },
      "errors": [
        {
          "target": "com.axiom.api#BadRequest"
        },
        {
          "target": "com.axiom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/annotations/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get annotation by ID"
      }
    },
    "com.axiom.api#UpdateAnnotationRequestDatasetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "array<string> of dataset names for which the annotation appears on charts"
      }
    },
    "com.axiom.api#UpdateAnnotationRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique ID of the annotation"
          }
        },
        "datasets": {
          "target": "com.axiom.api#UpdateAnnotationRequestDatasetsList",
          "traits": {
            "smithy.api#documentation": "array<string> of dataset names for which the annotation appears on charts"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explanation of the event the annotation marks on the charts"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the annotation"
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the annotation marks on the charts. If you don't include this field, Axiom assigns the time of the API request to the annotation."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Summary of the annotation that appears on the charts"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the event marked by the annotation. Use only alphanumeric characters or hyphens. For example, \"production-deployment\"."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL relevant for the event marked by the annotation. For example, link to GitHub pull request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#UpdateAnnotation": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#UpdateAnnotationRequest"
      },
      "output": {
        "target": "com.axiom.api#Annotation"
      },
      "errors": [
        {
          "target": "com.axiom.api#BadRequest"
        },
        {
          "target": "com.axiom.api#NotFound"
        },
        {
          "target": "com.axiom.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v2/annotations/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update annotation"
      }
    },
    "com.axiom.api#DeleteAnnotationRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique ID of the annotation"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#DeleteAnnotation": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#DeleteAnnotationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.axiom.api#BadRequest"
        },
        {
          "target": "com.axiom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/annotations/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete annotation"
      }
    },
    "com.axiom.api#Dataset": {
      "type": "structure",
      "members": {
        "canWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this dataset has write access"
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The RFC3339-formatted time when the dataset was created.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataset description",
            "smithy.api#required": {}
          }
        },
        "edgeDeployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Edge deployment of the dataset"
          }
        },
        "edgeDeploymentUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the edge deployment"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataset ID",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.axiom.api#DatasetKind",
          "traits": {
            "smithy.api#documentation": "The kind of the dataset",
            "smithy.api#required": {}
          }
        },
        "mapFields": {
          "target": "com.axiom.api#DatasetMapFieldsList"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique dataset name",
            "smithy.api#required": {}
          }
        },
        "retentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of days to retain data in the dataset"
          }
        },
        "sharedByOrg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the org that shared this resource, if it's shared"
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The RFC3339-formatted time when the dataset was last updated.",
            "smithy.api#required": {}
          }
        },
        "useRetentionPeriod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use the retention period"
          }
        },
        "who": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dataset creator",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.axiom.api#DatasetKind": {
      "type": "enum",
      "members": {
        "OTEL_METRICS_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "otel:metrics:v1"
          }
        },
        "OTEL_TRACES_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "otel:traces:v1"
          }
        },
        "OTEL_LOGS_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "otel:logs:v1"
          }
        },
        "AXIOM_EVENTS_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "axiom:events:v1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of the dataset"
      }
    },
    "com.axiom.api#DatasetMapFieldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.axiom.api#GetDatasetsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.axiom.api#Dataset"
      },
      "traits": {}
    },
    "com.axiom.api#GetDatasetsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.axiom.api#GetDatasetsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.axiom.api#GetDatasets": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.axiom.api#GetDatasetsResponse"
      },
      "errors": [
        {
          "target": "com.axiom.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/datasets",
          "code": 200
        },
        "smithy.api#documentation": "Get list of datasets\n\nGet list of datasets"
      }
    },
    "com.axiom.api#CreateDatasetRequestKind": {
      "type": "enum",
      "members": {
        "OTEL_METRICS_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "otel:metrics:v1"
          }
        },
        "OTEL_TRACES_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "otel:traces:v1"
          }
        },
        "OTEL_LOGS_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "otel:logs:v1"
          }
        },
        "AXIOM_EVENTS_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "axiom:events:v1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of the dataset"
      }
    },
    "com.axiom.api#CreateDatasetRequest": {
      "type": "structure",
      "members": {
        "referrer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "referrer",
            "smithy.api#documentation": "Referrer slug"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataset description"
          }
        },
        "edgeDeployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Edge deployment of the dataset"
          }
        },
        "kind": {
          "target": "com.axiom.api#CreateDatasetRequestKind",
          "traits": {
            "smithy.api#documentation": "The kind of the dataset"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataset unique name",
            "smithy.api#required": {}
          }
        },
        "retentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of days to retain data in the dataset"
          }
        },
        "useRetentionPeriod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use the retention period"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#CreateDataset": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#CreateDatasetRequest"
      },
      "output": {
        "target": "com.axiom.api#Dataset"
      },
      "errors": [
        {
          "target": "com.axiom.api#BadRequest"
        },
        {
          "target": "com.axiom.api#Forbidden"
        },
        {
          "target": "com.axiom.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/datasets",
          "code": 200
        },
        "smithy.api#documentation": "Create dataset\n\nCreate dataset"
      }
    },
    "com.axiom.api#GetDatasetRequest": {
      "type": "structure",
      "members": {
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#GetDataset": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#GetDatasetRequest"
      },
      "output": {
        "target": "com.axiom.api#Dataset"
      },
      "errors": [
        {
          "target": "com.axiom.api#Forbidden"
        },
        {
          "target": "com.axiom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/datasets/{dataset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get dataset by ID\n\nGet dataset by ID"
      }
    },
    "com.axiom.api#UpdateDatasetRequest": {
      "type": "structure",
      "members": {
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "retentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of days to retain data in the dataset"
          }
        },
        "useRetentionPeriod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use the retention period"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#UpdateDataset": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#UpdateDatasetRequest"
      },
      "output": {
        "target": "com.axiom.api#Dataset"
      },
      "errors": [
        {
          "target": "com.axiom.api#Forbidden"
        },
        {
          "target": "com.axiom.api#NotFound"
        },
        {
          "target": "com.axiom.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v2/datasets/{dataset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update dataset\n\nUpdate dataset"
      }
    },
    "com.axiom.api#DeleteDatasetRequest": {
      "type": "structure",
      "members": {
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#DeleteDataset": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#DeleteDatasetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.axiom.api#Forbidden"
        },
        {
          "target": "com.axiom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/datasets/{dataset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete dataset\n\nDelete dataset"
      }
    },
    "com.axiom.api#TrimDatasetRequest": {
      "type": "structure",
      "members": {
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "maxDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#TrimDataset": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#TrimDatasetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.axiom.api#Forbidden"
        },
        {
          "target": "com.axiom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/datasets/{dataset_id}/trim",
          "code": 200
        },
        "smithy.api#documentation": "Trim dataset by duration\n\nTrim dataset"
      }
    },
    "com.axiom.api#VacuumDatasetRequest": {
      "type": "structure",
      "members": {
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#VacuumDataset": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#VacuumDatasetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/datasets/{dataset_id}/vacuum",
          "code": 200
        }
      }
    },
    "com.axiom.api#GetFieldsForDatasetRequest": {
      "type": "structure",
      "members": {
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#DatasetField": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the field"
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the field is hidden"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the field",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the field",
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit of the field"
          }
        }
      },
      "traits": {}
    },
    "com.axiom.api#GetFieldsForDatasetResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.axiom.api#DatasetField"
      },
      "traits": {}
    },
    "com.axiom.api#GetFieldsForDatasetResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.axiom.api#GetFieldsForDatasetResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.axiom.api#GetFieldsForDataset": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#GetFieldsForDatasetRequest"
      },
      "output": {
        "target": "com.axiom.api#GetFieldsForDatasetResponse"
      },
      "errors": [
        {
          "target": "com.axiom.api#Forbidden"
        },
        {
          "target": "com.axiom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/datasets/{dataset_id}/fields",
          "code": 200
        }
      }
    },
    "com.axiom.api#GetFieldForDatasetRequest": {
      "type": "structure",
      "members": {
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "field_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#GetFieldForDataset": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#GetFieldForDatasetRequest"
      },
      "output": {
        "target": "com.axiom.api#DatasetField"
      },
      "errors": [
        {
          "target": "com.axiom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/datasets/{dataset_id}/fields/{field_id}",
          "code": 200
        }
      }
    },
    "com.axiom.api#UpdateFieldForDatasetRequest": {
      "type": "structure",
      "members": {
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "field_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the field"
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the field is hidden"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the field",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the field",
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit of the field"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#UpdateFieldForDataset": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#UpdateFieldForDatasetRequest"
      },
      "output": {
        "target": "com.axiom.api#DatasetField"
      },
      "errors": [
        {
          "target": "com.axiom.api#NotFound"
        },
        {
          "target": "com.axiom.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v2/datasets/{dataset_id}/fields/{field_id}",
          "code": 200
        }
      }
    },
    "com.axiom.api#GetMapFieldsRequest": {
      "type": "structure",
      "members": {
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#MapFields": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of map field names"
      }
    },
    "com.axiom.api#GetMapFieldsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.axiom.api#MapFields",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.axiom.api#GetMapFields": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#GetMapFieldsRequest"
      },
      "output": {
        "target": "com.axiom.api#GetMapFieldsResponse"
      },
      "errors": [
        {
          "target": "com.axiom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/datasets/{dataset_id}/mapfields",
          "code": 200
        }
      }
    },
    "com.axiom.api#CreateMapFieldRequest": {
      "type": "structure",
      "members": {
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#MapField": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A map field, described by a name"
      }
    },
    "com.axiom.api#CreateMapField": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#CreateMapFieldRequest"
      },
      "output": {
        "target": "com.axiom.api#MapField"
      },
      "errors": [
        {
          "target": "com.axiom.api#NotFound"
        },
        {
          "target": "com.axiom.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/datasets/{dataset_id}/mapfields",
          "code": 200
        }
      }
    },
    "com.axiom.api#UpdateMapFieldsRequest": {
      "type": "structure",
      "members": {
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.axiom.api#MapFields",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#UpdateMapFieldsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.axiom.api#MapFields",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.axiom.api#UpdateMapFields": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#UpdateMapFieldsRequest"
      },
      "output": {
        "target": "com.axiom.api#UpdateMapFieldsResponse"
      },
      "errors": [
        {
          "target": "com.axiom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v2/datasets/{dataset_id}/mapfields",
          "code": 200
        }
      }
    },
    "com.axiom.api#DeleteMapFieldRequest": {
      "type": "structure",
      "members": {
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "map_field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#DeleteMapField": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#DeleteMapFieldRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.axiom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/datasets/{dataset_id}/mapfields/{map_field_name}",
          "code": 200
        }
      }
    },
    "com.axiom.api#MonitorWithId": {
      "type": "structure",
      "members": {
        "alertOnNoData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to alert when no data is received"
          }
        },
        "aplQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APL (Axiom Processing Language) query string used for monitoring.\nThis query defines what data to analyze and how to process it.\nAt least one of aplQuery or mplQuery must be provided.\n"
          }
        },
        "columnName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the column to monitor"
          }
        },
        "compareDays": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to compare for anomaly detection"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the monitor was created"
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the user who created the monitor"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed description of the monitor's purpose"
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the monitor is currently disabled"
          }
        },
        "disabledUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp until when the monitor should remain disabled",
            "com.distilled.openapi#nullable": {}
          }
        },
        "intervalMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How frequently the monitor should run, in minutes.\nMinimum value is 1 minute.\n"
          }
        },
        "mplQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MPL (Metrics Processing Language) query string for metrics-based monitoring.\nUse this as an alternative to aplQuery for metrics datasets.\nAt least one of aplQuery or mplQuery must be provided.\n"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the monitor",
            "smithy.api#required": {}
          }
        },
        "notifierIds": {
          "target": "com.axiom.api#MonitorWithIdNotifierIdsList",
          "traits": {
            "smithy.api#documentation": "List of notifier IDs that will receive alerts.\nNotifiers can be email, Slack, webhook endpoints, etc.\n"
          }
        },
        "notifyByGroup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to group notifications"
          }
        },
        "notifyEveryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to send notifications on every check"
          }
        },
        "operator": {
          "target": "com.axiom.api#MonitorWithIdOperator",
          "traits": {
            "smithy.api#documentation": "Comparison operator for threshold checks:\n- Below: Trigger when value < threshold\n- BelowOrEqual: Trigger when value <= threshold\n- Above: Trigger when value > threshold\n- AboveOrEqual: Trigger when value >= threshold\n- AboveOrBelow: Trigger when value is outside a range\n"
          }
        },
        "rangeMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time window to evaluate in each check, in minutes.\nFor example, \"last 5 minutes of data\"\n"
          }
        },
        "resolvable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert can be manually resolved"
          }
        },
        "secondDelay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Delay in seconds before triggering the alert"
          }
        },
        "skipResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to skip resolved alerts"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Threshold value for triggering the alert"
          }
        },
        "tolerance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tolerance percentage for anomaly detection"
          }
        },
        "triggerAfterNPositiveResults": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of positive results needed before triggering"
          }
        },
        "triggerFromNRuns": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of consecutive check runs that must fail before triggering an alert.\nUse this to avoid alerting on temporary spikes.\n"
          }
        },
        "type": {
          "target": "com.axiom.api#MonitorWithIdType",
          "traits": {
            "smithy.api#documentation": "Type of monitoring check to perform:\n- Threshold: Compares a numeric value against a threshold\n- MatchEvent: Looks for specific events or patterns\n- AnomalyDetection: Identifies unusual patterns based on historical data\n",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the monitor was last updated"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the monitor",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Monitor configuration with its unique identifier"
      }
    },
    "com.axiom.api#MonitorWithIdNotifierIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of notifier IDs that will receive alerts.\nNotifiers can be email, Slack, webhook endpoints, etc.\n"
      }
    },
    "com.axiom.api#MonitorWithIdOperator": {
      "type": "enum",
      "members": {
        "BELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Below"
          }
        },
        "BELOWOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BelowOrEqual"
          }
        },
        "ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Above"
          }
        },
        "ABOVEOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AboveOrEqual"
          }
        },
        "ABOVEORBELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AboveOrBelow"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Comparison operator for threshold checks:\n- Below: Trigger when value < threshold\n- BelowOrEqual: Trigger when value <= threshold\n- Above: Trigger when value > threshold\n- AboveOrEqual: Trigger when value >= threshold\n- AboveOrBelow: Trigger when value is outside a range\n"
      }
    },
    "com.axiom.api#MonitorWithIdType": {
      "type": "enum",
      "members": {
        "THRESHOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Threshold"
          }
        },
        "MATCHEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MatchEvent"
          }
        },
        "ANOMALYDETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AnomalyDetection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of monitoring check to perform:\n- Threshold: Compares a numeric value against a threshold\n- MatchEvent: Looks for specific events or patterns\n- AnomalyDetection: Identifies unusual patterns based on historical data\n"
      }
    },
    "com.axiom.api#GetMonitorsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.axiom.api#MonitorWithId"
      },
      "traits": {}
    },
    "com.axiom.api#GetMonitorsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.axiom.api#GetMonitorsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.axiom.api#GetMonitors": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.axiom.api#GetMonitorsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/monitors",
          "code": 200
        },
        "smithy.api#documentation": "Lists all configured monitors. Returns an array of monitor configurations including their IDs and current status."
      }
    },
    "com.axiom.api#CreateMonitorRequestNotifierIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of notifier IDs that will receive alerts.\nNotifiers can be email, Slack, webhook endpoints, etc.\n"
      }
    },
    "com.axiom.api#CreateMonitorRequestOperator": {
      "type": "enum",
      "members": {
        "BELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Below"
          }
        },
        "BELOWOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BelowOrEqual"
          }
        },
        "ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Above"
          }
        },
        "ABOVEOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AboveOrEqual"
          }
        },
        "ABOVEORBELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AboveOrBelow"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Comparison operator for threshold checks:\n- Below: Trigger when value < threshold\n- BelowOrEqual: Trigger when value <= threshold\n- Above: Trigger when value > threshold\n- AboveOrEqual: Trigger when value >= threshold\n- AboveOrBelow: Trigger when value is outside a range\n"
      }
    },
    "com.axiom.api#CreateMonitorRequestType": {
      "type": "enum",
      "members": {
        "THRESHOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Threshold"
          }
        },
        "MATCHEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MatchEvent"
          }
        },
        "ANOMALYDETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AnomalyDetection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of monitoring check to perform:\n- Threshold: Compares a numeric value against a threshold\n- MatchEvent: Looks for specific events or patterns\n- AnomalyDetection: Identifies unusual patterns based on historical data\n"
      }
    },
    "com.axiom.api#CreateMonitorRequest": {
      "type": "structure",
      "members": {
        "alertOnNoData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to alert when no data is received"
          }
        },
        "aplQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APL (Axiom Processing Language) query string used for monitoring.\nThis query defines what data to analyze and how to process it.\nAt least one of aplQuery or mplQuery must be provided.\n"
          }
        },
        "columnName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the column to monitor"
          }
        },
        "compareDays": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to compare for anomaly detection"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the monitor was created"
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the user who created the monitor"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed description of the monitor's purpose"
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the monitor is currently disabled"
          }
        },
        "disabledUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp until when the monitor should remain disabled",
            "com.distilled.openapi#nullable": {}
          }
        },
        "intervalMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How frequently the monitor should run, in minutes.\nMinimum value is 1 minute.\n"
          }
        },
        "mplQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MPL (Metrics Processing Language) query string for metrics-based monitoring.\nUse this as an alternative to aplQuery for metrics datasets.\nAt least one of aplQuery or mplQuery must be provided.\n"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the monitor",
            "smithy.api#required": {}
          }
        },
        "notifierIds": {
          "target": "com.axiom.api#CreateMonitorRequestNotifierIdsList",
          "traits": {
            "smithy.api#documentation": "List of notifier IDs that will receive alerts.\nNotifiers can be email, Slack, webhook endpoints, etc.\n"
          }
        },
        "notifyByGroup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to group notifications"
          }
        },
        "notifyEveryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to send notifications on every check"
          }
        },
        "operator": {
          "target": "com.axiom.api#CreateMonitorRequestOperator",
          "traits": {
            "smithy.api#documentation": "Comparison operator for threshold checks:\n- Below: Trigger when value < threshold\n- BelowOrEqual: Trigger when value <= threshold\n- Above: Trigger when value > threshold\n- AboveOrEqual: Trigger when value >= threshold\n- AboveOrBelow: Trigger when value is outside a range\n"
          }
        },
        "rangeMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time window to evaluate in each check, in minutes.\nFor example, \"last 5 minutes of data\"\n"
          }
        },
        "resolvable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert can be manually resolved"
          }
        },
        "secondDelay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Delay in seconds before triggering the alert"
          }
        },
        "skipResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to skip resolved alerts"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Threshold value for triggering the alert"
          }
        },
        "tolerance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tolerance percentage for anomaly detection"
          }
        },
        "triggerAfterNPositiveResults": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of positive results needed before triggering"
          }
        },
        "triggerFromNRuns": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of consecutive check runs that must fail before triggering an alert.\nUse this to avoid alerting on temporary spikes.\n"
          }
        },
        "type": {
          "target": "com.axiom.api#CreateMonitorRequestType",
          "traits": {
            "smithy.api#documentation": "Type of monitoring check to perform:\n- Threshold: Compares a numeric value against a threshold\n- MatchEvent: Looks for specific events or patterns\n- AnomalyDetection: Identifies unusual patterns based on historical data\n",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the monitor was last updated"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#CreateMonitorResponseNotifierIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of notifier IDs that will receive alerts.\nNotifiers can be email, Slack, webhook endpoints, etc.\n"
      }
    },
    "com.axiom.api#CreateMonitorResponseOperator": {
      "type": "enum",
      "members": {
        "BELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Below"
          }
        },
        "BELOWOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BelowOrEqual"
          }
        },
        "ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Above"
          }
        },
        "ABOVEOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AboveOrEqual"
          }
        },
        "ABOVEORBELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AboveOrBelow"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Comparison operator for threshold checks:\n- Below: Trigger when value < threshold\n- BelowOrEqual: Trigger when value <= threshold\n- Above: Trigger when value > threshold\n- AboveOrEqual: Trigger when value >= threshold\n- AboveOrBelow: Trigger when value is outside a range\n"
      }
    },
    "com.axiom.api#CreateMonitorResponseType": {
      "type": "enum",
      "members": {
        "THRESHOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Threshold"
          }
        },
        "MATCHEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MatchEvent"
          }
        },
        "ANOMALYDETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AnomalyDetection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of monitoring check to perform:\n- Threshold: Compares a numeric value against a threshold\n- MatchEvent: Looks for specific events or patterns\n- AnomalyDetection: Identifies unusual patterns based on historical data\n"
      }
    },
    "com.axiom.api#CreateMonitorResponse": {
      "type": "structure",
      "members": {
        "alertOnNoData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to alert when no data is received"
          }
        },
        "aplQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APL (Axiom Processing Language) query string used for monitoring.\nThis query defines what data to analyze and how to process it.\nAt least one of aplQuery or mplQuery must be provided.\n"
          }
        },
        "columnName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the column to monitor"
          }
        },
        "compareDays": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to compare for anomaly detection"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the monitor was created"
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the user who created the monitor"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed description of the monitor's purpose"
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the monitor is currently disabled"
          }
        },
        "disabledUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp until when the monitor should remain disabled",
            "com.distilled.openapi#nullable": {}
          }
        },
        "intervalMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How frequently the monitor should run, in minutes.\nMinimum value is 1 minute.\n"
          }
        },
        "mplQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MPL (Metrics Processing Language) query string for metrics-based monitoring.\nUse this as an alternative to aplQuery for metrics datasets.\nAt least one of aplQuery or mplQuery must be provided.\n"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the monitor",
            "smithy.api#required": {}
          }
        },
        "notifierIds": {
          "target": "com.axiom.api#CreateMonitorResponseNotifierIdsList",
          "traits": {
            "smithy.api#documentation": "List of notifier IDs that will receive alerts.\nNotifiers can be email, Slack, webhook endpoints, etc.\n"
          }
        },
        "notifyByGroup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to group notifications"
          }
        },
        "notifyEveryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to send notifications on every check"
          }
        },
        "operator": {
          "target": "com.axiom.api#CreateMonitorResponseOperator",
          "traits": {
            "smithy.api#documentation": "Comparison operator for threshold checks:\n- Below: Trigger when value < threshold\n- BelowOrEqual: Trigger when value <= threshold\n- Above: Trigger when value > threshold\n- AboveOrEqual: Trigger when value >= threshold\n- AboveOrBelow: Trigger when value is outside a range\n"
          }
        },
        "rangeMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time window to evaluate in each check, in minutes.\nFor example, \"last 5 minutes of data\"\n"
          }
        },
        "resolvable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert can be manually resolved"
          }
        },
        "secondDelay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Delay in seconds before triggering the alert"
          }
        },
        "skipResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to skip resolved alerts"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Threshold value for triggering the alert"
          }
        },
        "tolerance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tolerance percentage for anomaly detection"
          }
        },
        "triggerAfterNPositiveResults": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of positive results needed before triggering"
          }
        },
        "triggerFromNRuns": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of consecutive check runs that must fail before triggering an alert.\nUse this to avoid alerting on temporary spikes.\n"
          }
        },
        "type": {
          "target": "com.axiom.api#CreateMonitorResponseType",
          "traits": {
            "smithy.api#documentation": "Type of monitoring check to perform:\n- Threshold: Compares a numeric value against a threshold\n- MatchEvent: Looks for specific events or patterns\n- AnomalyDetection: Identifies unusual patterns based on historical data\n",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the monitor was last updated"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the monitor",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.axiom.api#CreateMonitor": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#CreateMonitorRequest"
      },
      "output": {
        "target": "com.axiom.api#CreateMonitorResponse"
      },
      "errors": [
        {
          "target": "com.axiom.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/monitors",
          "code": 200
        },
        "smithy.api#documentation": "Create monitor"
      }
    },
    "com.axiom.api#GetMonitorRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier of the monitor (format: mon_*)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#GetMonitorResponseNotifierIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of notifier IDs that will receive alerts.\nNotifiers can be email, Slack, webhook endpoints, etc.\n"
      }
    },
    "com.axiom.api#GetMonitorResponseOperator": {
      "type": "enum",
      "members": {
        "BELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Below"
          }
        },
        "BELOWOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BelowOrEqual"
          }
        },
        "ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Above"
          }
        },
        "ABOVEOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AboveOrEqual"
          }
        },
        "ABOVEORBELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AboveOrBelow"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Comparison operator for threshold checks:\n- Below: Trigger when value < threshold\n- BelowOrEqual: Trigger when value <= threshold\n- Above: Trigger when value > threshold\n- AboveOrEqual: Trigger when value >= threshold\n- AboveOrBelow: Trigger when value is outside a range\n"
      }
    },
    "com.axiom.api#GetMonitorResponseType": {
      "type": "enum",
      "members": {
        "THRESHOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Threshold"
          }
        },
        "MATCHEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MatchEvent"
          }
        },
        "ANOMALYDETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AnomalyDetection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of monitoring check to perform:\n- Threshold: Compares a numeric value against a threshold\n- MatchEvent: Looks for specific events or patterns\n- AnomalyDetection: Identifies unusual patterns based on historical data\n"
      }
    },
    "com.axiom.api#GetMonitorResponse": {
      "type": "structure",
      "members": {
        "alertOnNoData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to alert when no data is received"
          }
        },
        "aplQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APL (Axiom Processing Language) query string used for monitoring.\nThis query defines what data to analyze and how to process it.\nAt least one of aplQuery or mplQuery must be provided.\n"
          }
        },
        "columnName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the column to monitor"
          }
        },
        "compareDays": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to compare for anomaly detection"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the monitor was created"
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the user who created the monitor"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed description of the monitor's purpose"
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the monitor is currently disabled"
          }
        },
        "disabledUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp until when the monitor should remain disabled",
            "com.distilled.openapi#nullable": {}
          }
        },
        "intervalMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How frequently the monitor should run, in minutes.\nMinimum value is 1 minute.\n"
          }
        },
        "mplQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MPL (Metrics Processing Language) query string for metrics-based monitoring.\nUse this as an alternative to aplQuery for metrics datasets.\nAt least one of aplQuery or mplQuery must be provided.\n"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the monitor",
            "smithy.api#required": {}
          }
        },
        "notifierIds": {
          "target": "com.axiom.api#GetMonitorResponseNotifierIdsList",
          "traits": {
            "smithy.api#documentation": "List of notifier IDs that will receive alerts.\nNotifiers can be email, Slack, webhook endpoints, etc.\n"
          }
        },
        "notifyByGroup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to group notifications"
          }
        },
        "notifyEveryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to send notifications on every check"
          }
        },
        "operator": {
          "target": "com.axiom.api#GetMonitorResponseOperator",
          "traits": {
            "smithy.api#documentation": "Comparison operator for threshold checks:\n- Below: Trigger when value < threshold\n- BelowOrEqual: Trigger when value <= threshold\n- Above: Trigger when value > threshold\n- AboveOrEqual: Trigger when value >= threshold\n- AboveOrBelow: Trigger when value is outside a range\n"
          }
        },
        "rangeMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time window to evaluate in each check, in minutes.\nFor example, \"last 5 minutes of data\"\n"
          }
        },
        "resolvable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert can be manually resolved"
          }
        },
        "secondDelay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Delay in seconds before triggering the alert"
          }
        },
        "skipResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to skip resolved alerts"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Threshold value for triggering the alert"
          }
        },
        "tolerance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tolerance percentage for anomaly detection"
          }
        },
        "triggerAfterNPositiveResults": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of positive results needed before triggering"
          }
        },
        "triggerFromNRuns": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of consecutive check runs that must fail before triggering an alert.\nUse this to avoid alerting on temporary spikes.\n"
          }
        },
        "type": {
          "target": "com.axiom.api#GetMonitorResponseType",
          "traits": {
            "smithy.api#documentation": "Type of monitoring check to perform:\n- Threshold: Compares a numeric value against a threshold\n- MatchEvent: Looks for specific events or patterns\n- AnomalyDetection: Identifies unusual patterns based on historical data\n",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the monitor was last updated"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the monitor",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.axiom.api#GetMonitor": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#GetMonitorRequest"
      },
      "output": {
        "target": "com.axiom.api#GetMonitorResponse"
      },
      "errors": [
        {
          "target": "com.axiom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/monitors/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves detailed configuration for a specific monitor by its unique identifier"
      }
    },
    "com.axiom.api#UpdateMonitorRequestNotifierIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of notifier IDs that will receive alerts.\nNotifiers can be email, Slack, webhook endpoints, etc.\n"
      }
    },
    "com.axiom.api#UpdateMonitorRequestOperator": {
      "type": "enum",
      "members": {
        "BELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Below"
          }
        },
        "BELOWOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BelowOrEqual"
          }
        },
        "ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Above"
          }
        },
        "ABOVEOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AboveOrEqual"
          }
        },
        "ABOVEORBELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AboveOrBelow"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Comparison operator for threshold checks:\n- Below: Trigger when value < threshold\n- BelowOrEqual: Trigger when value <= threshold\n- Above: Trigger when value > threshold\n- AboveOrEqual: Trigger when value >= threshold\n- AboveOrBelow: Trigger when value is outside a range\n"
      }
    },
    "com.axiom.api#UpdateMonitorRequestType": {
      "type": "enum",
      "members": {
        "THRESHOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Threshold"
          }
        },
        "MATCHEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MatchEvent"
          }
        },
        "ANOMALYDETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AnomalyDetection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of monitoring check to perform:\n- Threshold: Compares a numeric value against a threshold\n- MatchEvent: Looks for specific events or patterns\n- AnomalyDetection: Identifies unusual patterns based on historical data\n"
      }
    },
    "com.axiom.api#UpdateMonitorRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "alertOnNoData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to alert when no data is received"
          }
        },
        "aplQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APL (Axiom Processing Language) query string used for monitoring.\nThis query defines what data to analyze and how to process it.\nAt least one of aplQuery or mplQuery must be provided.\n"
          }
        },
        "columnName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the column to monitor"
          }
        },
        "compareDays": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to compare for anomaly detection"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the monitor was created"
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the user who created the monitor"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed description of the monitor's purpose"
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the monitor is currently disabled"
          }
        },
        "disabledUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp until when the monitor should remain disabled",
            "com.distilled.openapi#nullable": {}
          }
        },
        "intervalMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How frequently the monitor should run, in minutes.\nMinimum value is 1 minute.\n"
          }
        },
        "mplQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MPL (Metrics Processing Language) query string for metrics-based monitoring.\nUse this as an alternative to aplQuery for metrics datasets.\nAt least one of aplQuery or mplQuery must be provided.\n"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the monitor",
            "smithy.api#required": {}
          }
        },
        "notifierIds": {
          "target": "com.axiom.api#UpdateMonitorRequestNotifierIdsList",
          "traits": {
            "smithy.api#documentation": "List of notifier IDs that will receive alerts.\nNotifiers can be email, Slack, webhook endpoints, etc.\n"
          }
        },
        "notifyByGroup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to group notifications"
          }
        },
        "notifyEveryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to send notifications on every check"
          }
        },
        "operator": {
          "target": "com.axiom.api#UpdateMonitorRequestOperator",
          "traits": {
            "smithy.api#documentation": "Comparison operator for threshold checks:\n- Below: Trigger when value < threshold\n- BelowOrEqual: Trigger when value <= threshold\n- Above: Trigger when value > threshold\n- AboveOrEqual: Trigger when value >= threshold\n- AboveOrBelow: Trigger when value is outside a range\n"
          }
        },
        "rangeMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time window to evaluate in each check, in minutes.\nFor example, \"last 5 minutes of data\"\n"
          }
        },
        "resolvable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert can be manually resolved"
          }
        },
        "secondDelay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Delay in seconds before triggering the alert"
          }
        },
        "skipResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to skip resolved alerts"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Threshold value for triggering the alert"
          }
        },
        "tolerance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tolerance percentage for anomaly detection"
          }
        },
        "triggerAfterNPositiveResults": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of positive results needed before triggering"
          }
        },
        "triggerFromNRuns": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of consecutive check runs that must fail before triggering an alert.\nUse this to avoid alerting on temporary spikes.\n"
          }
        },
        "type": {
          "target": "com.axiom.api#UpdateMonitorRequestType",
          "traits": {
            "smithy.api#documentation": "Type of monitoring check to perform:\n- Threshold: Compares a numeric value against a threshold\n- MatchEvent: Looks for specific events or patterns\n- AnomalyDetection: Identifies unusual patterns based on historical data\n",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the monitor was last updated"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#UpdateMonitorResponseNotifierIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of notifier IDs that will receive alerts.\nNotifiers can be email, Slack, webhook endpoints, etc.\n"
      }
    },
    "com.axiom.api#UpdateMonitorResponseOperator": {
      "type": "enum",
      "members": {
        "BELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Below"
          }
        },
        "BELOWOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BelowOrEqual"
          }
        },
        "ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Above"
          }
        },
        "ABOVEOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AboveOrEqual"
          }
        },
        "ABOVEORBELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AboveOrBelow"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Comparison operator for threshold checks:\n- Below: Trigger when value < threshold\n- BelowOrEqual: Trigger when value <= threshold\n- Above: Trigger when value > threshold\n- AboveOrEqual: Trigger when value >= threshold\n- AboveOrBelow: Trigger when value is outside a range\n"
      }
    },
    "com.axiom.api#UpdateMonitorResponseType": {
      "type": "enum",
      "members": {
        "THRESHOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Threshold"
          }
        },
        "MATCHEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MatchEvent"
          }
        },
        "ANOMALYDETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AnomalyDetection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of monitoring check to perform:\n- Threshold: Compares a numeric value against a threshold\n- MatchEvent: Looks for specific events or patterns\n- AnomalyDetection: Identifies unusual patterns based on historical data\n"
      }
    },
    "com.axiom.api#UpdateMonitorResponse": {
      "type": "structure",
      "members": {
        "alertOnNoData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to alert when no data is received"
          }
        },
        "aplQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APL (Axiom Processing Language) query string used for monitoring.\nThis query defines what data to analyze and how to process it.\nAt least one of aplQuery or mplQuery must be provided.\n"
          }
        },
        "columnName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the column to monitor"
          }
        },
        "compareDays": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to compare for anomaly detection"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the monitor was created"
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the user who created the monitor"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed description of the monitor's purpose"
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the monitor is currently disabled"
          }
        },
        "disabledUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp until when the monitor should remain disabled",
            "com.distilled.openapi#nullable": {}
          }
        },
        "intervalMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How frequently the monitor should run, in minutes.\nMinimum value is 1 minute.\n"
          }
        },
        "mplQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MPL (Metrics Processing Language) query string for metrics-based monitoring.\nUse this as an alternative to aplQuery for metrics datasets.\nAt least one of aplQuery or mplQuery must be provided.\n"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the monitor",
            "smithy.api#required": {}
          }
        },
        "notifierIds": {
          "target": "com.axiom.api#UpdateMonitorResponseNotifierIdsList",
          "traits": {
            "smithy.api#documentation": "List of notifier IDs that will receive alerts.\nNotifiers can be email, Slack, webhook endpoints, etc.\n"
          }
        },
        "notifyByGroup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to group notifications"
          }
        },
        "notifyEveryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to send notifications on every check"
          }
        },
        "operator": {
          "target": "com.axiom.api#UpdateMonitorResponseOperator",
          "traits": {
            "smithy.api#documentation": "Comparison operator for threshold checks:\n- Below: Trigger when value < threshold\n- BelowOrEqual: Trigger when value <= threshold\n- Above: Trigger when value > threshold\n- AboveOrEqual: Trigger when value >= threshold\n- AboveOrBelow: Trigger when value is outside a range\n"
          }
        },
        "rangeMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time window to evaluate in each check, in minutes.\nFor example, \"last 5 minutes of data\"\n"
          }
        },
        "resolvable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert can be manually resolved"
          }
        },
        "secondDelay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Delay in seconds before triggering the alert"
          }
        },
        "skipResolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to skip resolved alerts"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Threshold value for triggering the alert"
          }
        },
        "tolerance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tolerance percentage for anomaly detection"
          }
        },
        "triggerAfterNPositiveResults": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of positive results needed before triggering"
          }
        },
        "triggerFromNRuns": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of consecutive check runs that must fail before triggering an alert.\nUse this to avoid alerting on temporary spikes.\n"
          }
        },
        "type": {
          "target": "com.axiom.api#UpdateMonitorResponseType",
          "traits": {
            "smithy.api#documentation": "Type of monitoring check to perform:\n- Threshold: Compares a numeric value against a threshold\n- MatchEvent: Looks for specific events or patterns\n- AnomalyDetection: Identifies unusual patterns based on historical data\n",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the monitor was last updated"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the monitor",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.axiom.api#UpdateMonitor": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#UpdateMonitorRequest"
      },
      "output": {
        "target": "com.axiom.api#UpdateMonitorResponse"
      },
      "errors": [
        {
          "target": "com.axiom.api#NotFound"
        },
        {
          "target": "com.axiom.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v2/monitors/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update monitor"
      }
    },
    "com.axiom.api#DeleteMonitorRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#DeleteMonitor": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#DeleteMonitorRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.axiom.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/monitors/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete monitor"
      }
    },
    "com.axiom.api#GetMonitorHistoryRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "startTime",
            "smithy.api#required": {},
            "smithy.api#documentation": "Start time (ISO 8601 format) for filtering alert history."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "endTime",
            "smithy.api#required": {},
            "smithy.api#documentation": "End time (ISO 8601 format) for filtering alert history."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.axiom.api#AlertHistory": {
      "type": "structure",
      "members": {
        "checkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the check that triggered the alert",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the alert",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.axiom.api#AlertHistoryState",
          "traits": {
            "smithy.api#documentation": "Current state of the alert",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp when the alert state changed",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Historical record of an alert's state changes.\nTracks when alerts are opened and closed, allowing for incident timeline analysis.\n"
      }
    },
    "com.axiom.api#AlertHistoryState": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state of the alert"
      }
    },
    "com.axiom.api#GetMonitorHistoryResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.axiom.api#AlertHistory"
      },
      "traits": {}
    },
    "com.axiom.api#GetMonitorHistoryResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.axiom.api#GetMonitorHistoryResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.axiom.api#GetMonitorHistory": {
      "type": "operation",
      "input": {
        "target": "com.axiom.api#GetMonitorHistoryRequest"
      },
      "output": {
        "target": "com.axiom.api#GetMonitorHistoryResponse"
      },
      "errors": [
        {
          "target": "com.axiom.api#NotFound"
        },
        {
          "target": "com.axiom.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/monitors/{id}/history",
          "code": 200
        },
        "smithy.api#documentation": "Get monitor history"
      }
    },
    "com.axiom.api#NotifierWithId": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the notifier was created"
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email or ID of the user who created the notifier"
          }
        },
        "disabledUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO timestamp until which the notifier is disabled (null if enabled)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for the notifier",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.axiom.api#NotifierProperties",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the notifier was last updated"
          }
        },
        "id": {
[...]
