{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.xata.api#OrganizationStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.xata.api#OrganizationStatusStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the organization is active, it's computed as `!disabled_by_admin AND billing_status == 'ok'`",
            "smithy.api#required": {}
          }
        },
        "disabled_by_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the organization has been disabled by an admin",
            "smithy.api#required": {}
          }
        },
        "admin_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for the current admin status"
          }
        },
        "billing_status": {
          "target": "com.xata.api#OrganizationStatusBillingStatus",
          "traits": {
            "smithy.api#documentation": "Indicates the status of the organization from a billing perspective",
            "smithy.api#required": {}
          }
        },
        "billing_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for the current billing status"
          }
        },
        "usage_tier": {
          "target": "com.xata.api#OrganizationStatusUsageTier",
          "traits": {
            "smithy.api#documentation": "Usage tier of the organization. t1 is the default for new organizations, t2 is assigned when a valid payment method is on file.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the last update to the organization's status",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the organization was created"
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#OrganizationStatusStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether the organization is active, it's computed as `!disabled_by_admin AND billing_status == 'ok'`"
      }
    },
    "com.xata.api#OrganizationStatusBillingStatus": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "NO_PAYMENT_METHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_payment_method"
          }
        },
        "INVOICE_OVERDUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invoice_overdue"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "DELETION_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deletion_requested"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the status of the organization from a billing perspective"
      }
    },
    "com.xata.api#OrganizationStatusUsageTier": {
      "type": "enum",
      "members": {
        "T1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t1"
          }
        },
        "T2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Usage tier of the organization. t1 is the default for new organizations, t2 is assigned when a valid payment method is on file."
      }
    },
    "com.xata.api#GetOrganizationsListResponseOrganizationsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the organization",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the organization",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.xata.api#OrganizationStatus",
          "traits": {
            "smithy.api#documentation": "Current status of the organization",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#GetOrganizationsListResponseOrganizationsList": {
      "type": "list",
      "member": {
        "target": "com.xata.api#GetOrganizationsListResponseOrganizationsItem"
      },
      "traits": {
        "smithy.api#documentation": "List of organizations the user has access to"
      }
    },
    "com.xata.api#GetOrganizationsListResponse": {
      "type": "structure",
      "members": {
        "organizations": {
          "target": "com.xata.api#GetOrganizationsListResponseOrganizationsList",
          "traits": {
            "smithy.api#documentation": "List of organizations the user has access to",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.xata.api#GetOrganizationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.xata.api#GetOrganizationsListResponse"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations",
          "code": 200
        },
        "smithy.api#documentation": "Get list of organizations\n\nRetrieve the list of all organizations the authenticated user belongs to, including their IDs and names. This endpoint allows users to view all organizations they have access to."
      }
    },
    "com.xata.api#CreateOrganizationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name for the new organization",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#Organization": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the organization",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the organization",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.xata.api#OrganizationStatus",
          "traits": {
            "smithy.api#documentation": "Current status of the organization",
            "smithy.api#required": {}
          }
        },
        "marketplace": {
          "target": "com.xata.api#OrganizationMarketplaceProvider",
          "traits": {
            "smithy.api#documentation": "Marketplace provider for this organization (e.g. \"aws\"), if billed through a marketplace",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Organization details including ID and name"
      }
    },
    "com.xata.api#OrganizationMarketplaceProvider": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Marketplace provider associated with an organization."
      }
    },
    "com.xata.api#CreateOrganization": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#CreateOrganizationRequest"
      },
      "output": {
        "target": "com.xata.api#Organization"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizations",
          "code": 200
        },
        "smithy.api#documentation": "Create a new organization\n\nCreates a new organization with the authenticated user as its single owner."
      }
    },
    "com.xata.api#GetOrganizationRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#GetOrganization": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#GetOrganizationRequest"
      },
      "output": {
        "target": "com.xata.api#Organization"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Forbidden"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationID}",
          "code": 200
        },
        "smithy.api#documentation": "Get organization details\n\nRetrieve detailed information about a specific organization by its ID."
      }
    },
    "com.xata.api#UpdateOrganizationRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the organization to update"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New name for the organization"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#UpdateOrganization": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#UpdateOrganizationRequest"
      },
      "output": {
        "target": "com.xata.api#Organization"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Forbidden"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/organizations/{organizationID}",
          "code": 200
        },
        "smithy.api#documentation": "Update organization details\n\nUpdate information for an existing organization, such as its name."
      }
    },
    "com.xata.api#DeleteOrganizationRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#DeleteOrganization": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#DeleteOrganizationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Forbidden"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/organizations/{organizationID}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an organization\n\n[Not implemented yet] Permanently delete an organization. This action cannot be undone."
      }
    },
    "com.xata.api#ListOrganizationAPIKeysRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#APIKeyPreview": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "preview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.xata.api#APIKeyPreviewScopesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projects": {
          "target": "com.xata.api#APIKeyPreviewProjectsList",
          "traits": {
            "smithy.api#documentation": "Projects this API key has access to",
            "smithy.api#required": {}
          }
        },
        "branches": {
          "target": "com.xata.api#APIKeyPreviewBranchesList",
          "traits": {
            "smithy.api#documentation": "Branches this API key has access to",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date when the API key expires (null if no expiry)",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_used": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the last time the key was used (null if never)",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the user that created this API key",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the API key that created this API key",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#APIKeyPreviewScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.xata.api#APIKeyPreviewProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Projects this API key has access to"
      }
    },
    "com.xata.api#APIKeyPreviewBranchesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Branches this API key has access to"
      }
    },
    "com.xata.api#ListOrganizationAPIKeysResponseKeysList": {
      "type": "list",
      "member": {
        "target": "com.xata.api#APIKeyPreview"
      },
      "traits": {
        "smithy.api#documentation": "Array of API keys for the organization"
      }
    },
    "com.xata.api#ListOrganizationAPIKeysResponse": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.xata.api#ListOrganizationAPIKeysResponseKeysList",
          "traits": {
            "smithy.api#documentation": "Array of API keys for the organization",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.xata.api#ListOrganizationAPIKeys": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#ListOrganizationAPIKeysRequest"
      },
      "output": {
        "target": "com.xata.api#ListOrganizationAPIKeysResponse"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Forbidden"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationID}/api-keys",
          "code": 200
        },
        "smithy.api#documentation": "List API Keys for an organization\n\nRetrieve a list of API keys for a specific organization."
      }
    },
    "com.xata.api#CreateOrganizationAPIKeyRequestScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional scopes assigned to the API key"
      }
    },
    "com.xata.api#CreateOrganizationAPIKeyRequestProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Limit access to these projects"
      }
    },
    "com.xata.api#CreateOrganizationAPIKeyRequestBranchesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Limit access to these branches"
      }
    },
    "com.xata.api#CreateOrganizationAPIKeyRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expiration date for the API key, null for no expiry",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scopes": {
          "target": "com.xata.api#CreateOrganizationAPIKeyRequestScopesList",
          "traits": {
            "smithy.api#documentation": "Optional scopes assigned to the API key"
          }
        },
        "projects": {
          "target": "com.xata.api#CreateOrganizationAPIKeyRequestProjectsList",
          "traits": {
            "smithy.api#documentation": "Limit access to these projects"
          }
        },
        "branches": {
          "target": "com.xata.api#CreateOrganizationAPIKeyRequestBranchesList",
          "traits": {
            "smithy.api#documentation": "Limit access to these branches"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#FullAPIKey": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "preview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.xata.api#FullAPIKeyScopesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projects": {
          "target": "com.xata.api#FullAPIKeyProjectsList",
          "traits": {
            "smithy.api#documentation": "Projects this API key has access to",
            "smithy.api#required": {}
          }
        },
        "branches": {
          "target": "com.xata.api#FullAPIKeyBranchesList",
          "traits": {
            "smithy.api#documentation": "Branches this API key has access to",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date when the API key expires (null if no expiry)",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_used": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the last time the key was used (null if never)",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual API key token",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the user that created this API key",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the API key that created this API key",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#FullAPIKeyScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.xata.api#FullAPIKeyProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Projects this API key has access to"
      }
    },
    "com.xata.api#FullAPIKeyBranchesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Branches this API key has access to"
      }
    },
    "com.xata.api#CreateOrganizationAPIKeyResponse": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.xata.api#FullAPIKey",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.xata.api#CreateOrganizationAPIKey": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#CreateOrganizationAPIKeyRequest"
      },
      "output": {
        "target": "com.xata.api#CreateOrganizationAPIKeyResponse"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizations/{organizationID}/api-keys",
          "code": 200
        },
        "smithy.api#documentation": "Create an Organization API Key\n\nCreate a new API key for an organization."
      }
    },
    "com.xata.api#DeleteOrganizationAPIKeysRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of API key IDs to delete"
      }
    },
    "com.xata.api#DeleteOrganizationAPIKeysRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        },
        "ids": {
          "target": "com.xata.api#DeleteOrganizationAPIKeysRequestIdsList",
          "traits": {
            "smithy.api#documentation": "Array of API key IDs to delete",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#DeleteOrganizationAPIKeys": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#DeleteOrganizationAPIKeysRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/organizations/{organizationID}/api-keys",
          "code": 200
        },
        "smithy.api#documentation": "Bulk delete API Keys for an organization\n\nDelete multiple API keys in a single request."
      }
    },
    "com.xata.api#ListOrganizationMembersRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#UserWithID": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address associated with the user account",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the user",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#ListOrganizationMembersResponseMembersList": {
      "type": "list",
      "member": {
        "target": "com.xata.api#UserWithID"
      },
      "traits": {}
    },
    "com.xata.api#ListOrganizationMembersResponse": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.xata.api#ListOrganizationMembersResponseMembersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.xata.api#ListOrganizationMembers": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#ListOrganizationMembersRequest"
      },
      "output": {
        "target": "com.xata.api#ListOrganizationMembersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationID}/members",
          "code": 200
        },
        "smithy.api#documentation": "List members of an organization"
      }
    },
    "com.xata.api#RemoveOrganizationMemberRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        },
        "userID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific user account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#RemoveOrganizationMember": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#RemoveOrganizationMemberRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/organizations/{organizationID}/members/{userID}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a member from an organization"
      }
    },
    "com.xata.api#ListOrganizationInvitationsRequestStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#ListOrganizationInvitationsRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        },
        "status": {
          "target": "com.xata.api#ListOrganizationInvitationsRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter invitations by status"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "email",
            "smithy.api#documentation": "Filter invitations by email address"
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "first_name",
            "smithy.api#documentation": "Filter invitations by first name"
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "last_name",
            "smithy.api#documentation": "Filter invitations by last name"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search invitations by email or name"
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "Index of the first result to return (0-based offset for pagination)"
          }
        },
        "max": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "max",
            "smithy.api#documentation": "Maximum number of results to return"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#OrganizationInvitation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the invitation",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the organization the invitation is for",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the invited user",
            "smithy.api#required": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First name of the invited user",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last name of the invited user",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the invitation was created",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the invitation expires",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.xata.api#OrganizationInvitationStatus",
          "traits": {
            "smithy.api#documentation": "Current status of the invitation",
            "smithy.api#required": {}
          }
        },
        "invite_link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL link to accept the invitation"
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#OrganizationInvitationStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current status of the invitation"
      }
    },
    "com.xata.api#ListOrganizationInvitationsResponseInvitationsList": {
      "type": "list",
      "member": {
        "target": "com.xata.api#OrganizationInvitation"
      },
      "traits": {}
    },
    "com.xata.api#ListOrganizationInvitationsResponse": {
      "type": "structure",
      "members": {
        "invitations": {
          "target": "com.xata.api#ListOrganizationInvitationsResponseInvitationsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.xata.api#ListOrganizationInvitations": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#ListOrganizationInvitationsRequest"
      },
      "output": {
        "target": "com.xata.api#ListOrganizationInvitationsResponse"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Forbidden"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationID}/invitations",
          "code": 200
        },
        "smithy.api#documentation": "List invitations for an organization\n\nRetrieve all invitations for an organization with optional filtering by status, email, and name."
      }
    },
    "com.xata.api#CreateOrganizationInvitationRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the user to invite",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#CreateOrganizationInvitation": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#CreateOrganizationInvitationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Forbidden"
        },
        {
          "target": "com.xata.api#NotFound"
        },
        {
          "target": "com.xata.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizations/{organizationID}/invitations",
          "code": 200
        },
        "smithy.api#documentation": "Send an invitation to join an organization\n\nSend an invitation email to a user to join an organization."
      }
    },
    "com.xata.api#GetOrganizationInvitationRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        },
        "invitationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for an invitation"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#GetOrganizationInvitation": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#GetOrganizationInvitationRequest"
      },
      "output": {
        "target": "com.xata.api#OrganizationInvitation"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Forbidden"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationID}/invitations/{invitationID}",
          "code": 200
        },
        "smithy.api#documentation": "Get details of a specific invitation\n\nRetrieve detailed information about a specific invitation by its ID."
      }
    },
    "com.xata.api#DeleteOrganizationInvitationRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        },
        "invitationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for an invitation"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#DeleteOrganizationInvitation": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#DeleteOrganizationInvitationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Forbidden"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/organizations/{organizationID}/invitations/{invitationID}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an invitation\n\nPermanently delete an invitation record."
      }
    },
    "com.xata.api#ResendOrganizationInvitationRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        },
        "invitationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for an invitation"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#ResendOrganizationInvitation": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#ResendOrganizationInvitationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Forbidden"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizations/{organizationID}/invitations/{invitationID}/resend",
          "code": 200
        },
        "smithy.api#documentation": "Resend an invitation\n\nResend a pending invitation with a fresh expiration time."
      }
    },
    "com.xata.api#RequestOrganizationDeletionRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#RequestOrganizationDeletion": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#RequestOrganizationDeletionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Forbidden"
        },
        {
          "target": "com.xata.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizations/{organizationID}/deletion-request",
          "code": 200
        },
        "smithy.api#documentation": "Request organization deletion\n\nFlags the organization for deletion. The request is rejected if the organization still has active projects.\nThe subscription is cancelled immediately and any outstanding invoices are collected automatically after a grace period that prevents missing delayed usage reports.\nDeletion completes asynchronously once all invoices are issued and settled."
      }
    },
    "com.xata.api#GetOrganizationMembershipLimitsRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#OrganizationMembershipLimits": {
      "type": "structure",
      "members": {
        "maxMembers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of members allowed in the organization",
            "smithy.api#required": {}
          }
        },
        "maxInvites": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of pending invitations allowed at once",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Membership limits for an organization"
      }
    },
    "com.xata.api#GetOrganizationMembershipLimits": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#GetOrganizationMembershipLimitsRequest"
      },
      "output": {
        "target": "com.xata.api#OrganizationMembershipLimits"
      },
      "errors": [
        {
          "target": "com.xata.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationID}/membership-limits",
          "code": 200
        },
        "smithy.api#documentation": "Get organization membership limits\n\nRetrieves the membership limits for the specified organization (maximum members and invitations)."
      }
    },
    "com.xata.api#CreateBillingCheckoutSessionRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#BillingCheckoutSessionResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stripe checkout session URL",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#CreateBillingCheckoutSession": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#CreateBillingCheckoutSessionRequest"
      },
      "output": {
        "target": "com.xata.api#BillingCheckoutSessionResponse"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizations/{organizationID}/billing/checkout-session",
          "code": 200
        },
        "smithy.api#documentation": "Create a billing checkout session\n\nCreates a Stripe checkout session used to activate card billing for an organization."
      }
    },
    "com.xata.api#CreateBillingPaymentMethodSessionRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#BillingPaymentMethodSessionResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stripe payment method session URL",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#CreateBillingPaymentMethodSession": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#CreateBillingPaymentMethodSessionRequest"
      },
      "output": {
        "target": "com.xata.api#BillingPaymentMethodSessionResponse"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizations/{organizationID}/billing/payment-method-session",
          "code": 200
        },
        "smithy.api#documentation": "Create a billing payment method session\n\nCreates a Stripe setup-mode checkout session used to add or update an organization payment method."
      }
    },
    "com.xata.api#GetBillingCustomerRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#BillingCustomerResponse": {
      "type": "structure",
      "members": {
        "billing_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "marketplace": {
          "target": "com.xata.api#OrganizationMarketplaceProvider",
          "traits": {
            "smithy.api#documentation": "Marketplace provider for this organization (e.g. \"aws\"), if billed through a marketplace",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "collection_method": {
          "target": "com.xata.api#BillingCollectionMethod",
          "traits": {
            "smithy.api#documentation": "Read-only collection method configured for the organization.",
            "smithy.api#required": {}
          }
        },
        "can_collect_payment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_payment_method": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the customer has a valid Stripe default card payment method.",
            "smithy.api#required": {}
          }
        },
        "default_payment_method": {
          "target": "com.xata.api#BillingPaymentMethod",
          "traits": {
            "smithy.api#documentation": "The Stripe default card payment method, when one is configured and retrievable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "credits": {
          "target": "com.xata.api#BillingCustomerResponseCreditsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "credit_details": {
          "target": "com.xata.api#BillingCreditDetails",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#BillingCollectionMethod": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "STRIPE_PAYMENT_METHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stripe_payment_method"
          }
        },
        "MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplace"
          }
        },
        "BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_transfer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How billing payment is collected for the organization."
      }
    },
    "com.xata.api#BillingPaymentMethod": {
      "type": "structure",
      "members": {
        "card": {
          "target": "com.xata.api#BillingPaymentMethodCard",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#BillingPaymentMethodCard": {
      "type": "structure",
      "members": {
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiry_month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiry_year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#BillingCredit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "balance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Remaining credit balance.",
            "smithy.api#required": {}
          }
        },
        "effective_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date when the credit becomes usable.",
            "smithy.api#required": {}
          }
        },
        "expiry_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date when the credit expires, or null for credits that do not expire.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "maximum_initial_balance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Initial credit balance before any usage.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.xata.api#BillingCreditStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#BillingCreditStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PENDING_PAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_payment"
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#BillingCustomerResponseCreditsList": {
      "type": "list",
      "member": {
        "target": "com.xata.api#BillingCredit"
      },
      "traits": {}
    },
    "com.xata.api#BillingCreditDetails": {
      "type": "structure",
      "members": {
        "total_lifetime_credits": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_expiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_expiry_with_balance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "active_credits": {
          "target": "com.xata.api#BillingCreditDetailsActiveCreditsList",
          "traits": {
            "smithy.api#documentation": "Credits with active status, a reached effective date, positive balance, and no past expiry.",
            "smithy.api#required": {}
          }
        },
        "last_active_credit_expiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_active_credits": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "days_until_last_active_credit_expiry": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Days until the last active credit expiry, or null when there is no future active credit expiry.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "days_until_last_expiry_with_balance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Days until the last positive-balance credit expiry, or null when there is no future positive-balance credit expiry.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#BillingCreditDetailsActiveCreditsList": {
      "type": "list",
      "member": {
        "target": "com.xata.api#BillingCredit"
      },
      "traits": {
        "smithy.api#documentation": "Credits with active status, a reached effective date, positive balance, and no past expiry."
      }
    },
    "com.xata.api#GetBillingCustomer": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#GetBillingCustomerRequest"
      },
      "output": {
        "target": "com.xata.api#BillingCustomerResponse"
      },
      "errors": [
        {
          "target": "com.xata.api#Forbidden"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationID}/billing/customer",
          "code": 200
        },
        "smithy.api#documentation": "Get billing customer details\n\nRetrieves billing customer details for the specified organization."
      }
    },
    "com.xata.api#UpdateBillingCustomerRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        },
        "billing_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#UpdateBillingCustomer": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#UpdateBillingCustomerRequest"
      },
      "output": {
        "target": "com.xata.api#BillingCustomerResponse"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Forbidden"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/organizations/{organizationID}/billing/customer",
          "code": 200
        },
        "smithy.api#documentation": "Update billing customer details\n\nUpdates billing customer details for the specified organization."
      }
    },
    "com.xata.api#GetBillingInvoicesRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from a previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of invoices to fetch"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#BillingInvoicesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.xata.api#BillingInvoicesResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination_metadata": {
          "target": "com.xata.api#PaginationMetadata",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#BillingInvoice": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "invoice_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "amount_due": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Decimal amount due.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "invoice_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.xata.api#BillingInvoiceStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "invoice_pdf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#BillingInvoiceStatus": {
      "type": "enum",
      "members": {
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "ISSUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issued"
          }
        },
        "PAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paid"
          }
        },
        "VOID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "void"
          }
        },
        "SYNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "synced"
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#BillingInvoicesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.xata.api#BillingInvoice"
      },
      "traits": {}
    },
    "com.xata.api#PaginationMetadata": {
      "type": "structure",
      "members": {
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#GetBillingInvoices": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#GetBillingInvoicesRequest"
      },
      "output": {
        "target": "com.xata.api#BillingInvoicesResponse"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Forbidden"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationID}/billing/invoices",
          "code": 200
        },
        "smithy.api#documentation": "List billing invoices\n\nRetrieves billing invoices for the specified organization."
      }
    },
    "com.xata.api#GetBillingUpcomingInvoiceRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier for a specific organization"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#BillingUpcomingInvoiceResponse": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "amount_due": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Decimal amount due.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "target_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subtotal": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Decimal subtotal.",
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Decimal total.",
            "smithy.api#required": {}
          }
        },
        "hosted_invoice_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#GetBillingUpcomingInvoice": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#GetBillingUpcomingInvoiceRequest"
      },
      "output": {
        "target": "com.xata.api#BillingUpcomingInvoiceResponse"
      },
      "errors": [
        {
          "target": "com.xata.api#Forbidden"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationID}/billing/invoices/upcoming",
          "code": 200
        },
        "smithy.api#documentation": "Get upcoming billing invoice\n\nRetrieves the upcoming billing invoice for the specified organization's active subscription. Organizations are expected to have at most one active subscription."
      }
    },
    "com.xata.api#MarketplaceRegistrationProvider": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Marketplace provider accepted for registration."
      }
    },
    "com.xata.api#RegisterMarketplaceRequestAws": {
      "type": "structure",
      "members": {
        "customer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AWS Marketplace customer ID",
            "smithy.api#required": {}
          }
        },
        "product_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AWS Marketplace product ID",
            "smithy.api#required": {}
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AWS account ID",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AWS-specific marketplace details"
      }
    },
    "com.xata.api#RegisterMarketplaceRequest": {
      "type": "structure",
      "members": {
        "marketplace": {
          "target": "com.xata.api#MarketplaceRegistrationProvider",
          "traits": {
            "smithy.api#documentation": "The cloud marketplace provider",
            "smithy.api#required": {}
          }
        },
        "company_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Company name for the marketplace registration",
            "smithy.api#required": {}
          }
        },
        "aws": {
          "target": "com.xata.api#RegisterMarketplaceRequestAws",
          "traits": {
            "smithy.api#documentation": "AWS-specific marketplace details",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#RegisterMarketplace": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#RegisterMarketplaceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/marketplace/register",
          "code": 200
        },
        "smithy.api#documentation": "Register with a cloud marketplace\n\nLinks the authenticated user to a cloud marketplace subscription. Only one marketplace registration is allowed per user."
      }
    },
    "com.xata.api#ListUserAPIKeysResponseKeysList": {
      "type": "list",
      "member": {
        "target": "com.xata.api#APIKeyPreview"
      },
      "traits": {
        "smithy.api#documentation": "Array of API keys for the user"
      }
    },
    "com.xata.api#ListUserAPIKeysResponse": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.xata.api#ListUserAPIKeysResponseKeysList",
          "traits": {
            "smithy.api#documentation": "Array of API keys for the user",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.xata.api#ListUserAPIKeys": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.xata.api#ListUserAPIKeysResponse"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api-keys",
          "code": 200
        },
        "smithy.api#documentation": "List API Keys for the authenticated user\n\nRetrieve a list of API keys for the authenticated user."
      }
    },
    "com.xata.api#CreateUserAPIKeyRequestScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional scopes assigned to the API key"
      }
    },
    "com.xata.api#CreateUserAPIKeyRequestProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Limit access to these projects"
      }
    },
    "com.xata.api#CreateUserAPIKeyRequestBranchesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Limit access to these branches"
      }
    },
    "com.xata.api#CreateUserAPIKeyRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expiration date for the API key, null for no expiry",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scopes": {
          "target": "com.xata.api#CreateUserAPIKeyRequestScopesList",
          "traits": {
            "smithy.api#documentation": "Optional scopes assigned to the API key"
          }
        },
        "projects": {
          "target": "com.xata.api#CreateUserAPIKeyRequestProjectsList",
          "traits": {
            "smithy.api#documentation": "Limit access to these projects"
          }
        },
        "branches": {
          "target": "com.xata.api#CreateUserAPIKeyRequestBranchesList",
          "traits": {
            "smithy.api#documentation": "Limit access to these branches"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#CreateUserAPIKeyResponse": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.xata.api#FullAPIKey",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.xata.api#CreateUserAPIKey": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#CreateUserAPIKeyRequest"
      },
      "output": {
        "target": "com.xata.api#CreateUserAPIKeyResponse"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api-keys",
          "code": 200
        },
        "smithy.api#documentation": "Create a User API Key\n\nCreate a new API key for the authenticated user."
      }
    },
    "com.xata.api#DeleteUserAPIKeysRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of API key IDs to delete (maximum 50 keys per request)"
      }
    },
    "com.xata.api#DeleteUserAPIKeysRequest": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.xata.api#DeleteUserAPIKeysRequestIdsList",
          "traits": {
            "smithy.api#documentation": "Array of API key IDs to delete (maximum 50 keys per request)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#DeleteUserAPIKeys": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#DeleteUserAPIKeysRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api-keys",
          "code": 200
        },
        "smithy.api#documentation": "Bulk delete API Keys for the authenticated user\n\nDelete multiple API keys in a single request."
      }
    },
    "com.xata.api#QueryRequestParamsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Positional parameters for the query (`$1`, `$2`, ...)."
      }
    },
    "com.xata.api#QueryItem": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SQL query to execute.",
            "smithy.api#required": {}
          }
        },
        "params": {
          "target": "com.xata.api#QueryItemParamsList",
          "traits": {
            "smithy.api#documentation": "Positional parameters for the query."
          }
        },
        "arrayMode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Override array mode for this individual query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single query within a batch request."
      }
    },
    "com.xata.api#QueryItemParamsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Positional parameters for the query."
      }
    },
    "com.xata.api#QueryRequestQueriesList": {
      "type": "list",
      "member": {
        "target": "com.xata.api#QueryItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of queries for batch execution within a single transaction."
      }
    },
    "com.xata.api#QueryRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SQL query to execute (single query mode)."
          }
        },
        "params": {
          "target": "com.xata.api#QueryRequestParamsList",
          "traits": {
            "smithy.api#documentation": "Positional parameters for the query (`$1`, `$2`, ...)."
          }
        },
        "queries": {
          "target": "com.xata.api#QueryRequestQueriesList",
          "traits": {
            "smithy.api#documentation": "Array of queries for batch execution within a single transaction."
          }
        },
        "arrayMode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Override array mode for this query (single query mode only)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#QueryResult": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.xata.api#QueryResultFieldsList",
          "traits": {
            "smithy.api#documentation": "Column metadata for the result set.",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PostgreSQL command tag (e.g. `SELECT`, `INSERT`, `UPDATE`, `DELETE`).",
            "smithy.api#required": {}
          }
        },
        "rowCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of rows affected by the command.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "rows": {
          "target": "com.xata.api#QueryResultRowsList",
          "traits": {
            "smithy.api#documentation": "Result rows. Each row is an object (column-name keys) or an array (when array mode is enabled).",
            "smithy.api#required": {}
          }
        },
        "rowAsArray": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether rows are returned as arrays (`true`) or objects (`false`).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of a single SQL query execution."
      }
    },
    "com.xata.api#FieldDefinition": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column name.",
            "smithy.api#required": {}
          }
        },
        "tableID": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "OID of the source table (0 if not a table column).",
            "smithy.api#required": {}
          }
        },
        "columnID": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Attribute number of the column within the table.",
            "smithy.api#required": {}
          }
        },
        "dataTypeID": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "OID of the column data type.",
            "smithy.api#required": {}
          }
        },
        "dataTypeSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Data type size (negative for variable-length types).",
            "smithy.api#required": {}
          }
        },
        "dataTypeModifier": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Type-specific modifier (e.g. precision/scale for numeric types).",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data format (`text` or `binary`).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PostgreSQL column metadata from the row description message."
      }
    },
    "com.xata.api#QueryResultFieldsList": {
      "type": "list",
      "member": {
        "target": "com.xata.api#FieldDefinition"
      },
      "traits": {
        "smithy.api#documentation": "Column metadata for the result set."
      }
    },
    "com.xata.api#QueryResultRowsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Result rows. Each row is an object (column-name keys) or an array (when array mode is enabled)."
      }
    },
    "com.xata.api#BatchResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.xata.api#BatchResponseResultsList",
          "traits": {
            "smithy.api#documentation": "Results for each query in the batch, in order.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for a batch query execution."
      }
    },
    "com.xata.api#BatchResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.xata.api#QueryResult"
      },
      "traits": {
        "smithy.api#documentation": "Results for each query in the batch, in order."
      }
    },
    "com.xata.api#QueryResponseBody": {
      "type": "union",
      "members": {
        "QueryResult": {
          "target": "com.xata.api#QueryResult"
        },
        "BatchResponse": {
          "target": "com.xata.api#BatchResponse"
        }
      },
      "traits": {}
    },
    "com.xata.api#QueryResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.xata.api#QueryResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.xata.api#Query": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#QueryRequest"
      },
      "output": {
        "target": "com.xata.api#QueryResponse"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        },
        {
          "target": "com.xata.api#Forbidden"
        },
        {
          "target": "com.xata.api#NotFound"
        },
        {
          "target": "com.xata.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sql",
          "code": 200
        },
        "smithy.api#documentation": "Execute SQL query\n\nExecute a single SQL query or a batch of queries against a PostgreSQL branch.\n\n**Authentication:** send the branch's PostgreSQL connection string in the\n`Connection-String` header. The control-plane API key (Bearer token) is\n**not** accepted on the gateway host.\n\n**Routing:** the target branch, region, and endpoint type are taken from the\nhostname embedded in the connection string, which must match the request host.\nSee the `Connection-String` security scheme for the host format.\n\n**Single query:** provide `query` (and optional `params`) at the top level.\n\n**Batch:** provide `queries` as an array of query objects, or send the request body\nas a JSON array. Batch queries execute within a single transaction."
      }
    },
    "com.xata.api#Websocket": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2",
          "code": 200
        },
        "smithy.api#documentation": "WebSocket wire protocol proxy\n\nUpgrade to a WebSocket connection that proxies the PostgreSQL wire protocol.\nThe client sends and receives PostgreSQL protocol messages over binary WebSocket frames.\n\n**Authentication:** the same branch connection string credential as the\nHTTP SQL endpoint is used, but it is supplied via the PostgreSQL startup\nmessage inside the wire protocol rather than an HTTP header. The\ncontrol-plane API key (Bearer token) is not accepted."
      }
    },
    "com.xata.api#SendMcpRequestRequestJsonrpc": {
      "type": "enum",
      "members": {
        "_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2.0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON-RPC protocol version. Always `2.0`."
      }
    },
    "com.xata.api#SendMcpRequestRequestId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Request identifier, echoed on the response. Omitted for notifications."
      }
    },
    "com.xata.api#SendMcpRequestRequestParamsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Method parameters as defined by the MCP specification."
      }
    },
    "com.xata.api#SendMcpRequestRequest": {
      "type": "structure",
      "members": {
        "jsonrpc": {
          "target": "com.xata.api#SendMcpRequestRequestJsonrpc",
          "traits": {
            "smithy.api#documentation": "JSON-RPC protocol version. Always `2.0`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.xata.api#SendMcpRequestRequestId",
          "traits": {
            "smithy.api#documentation": "Request identifier, echoed on the response. Omitted for notifications."
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MCP method, such as `initialize`, `tools/list`, or `tools/call`.",
            "smithy.api#required": {}
          }
        },
        "params": {
          "target": "com.xata.api#SendMcpRequestRequestParamsMap",
          "traits": {
            "smithy.api#documentation": "Method parameters as defined by the MCP specification."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#JSONRPCResponse": {
      "type": "structure",
      "members": {
        "jsonrpc": {
          "target": "com.xata.api#JSONRPCResponseJsonrpc",
          "traits": {
            "smithy.api#documentation": "JSON-RPC protocol version. Always `2.0`.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.xata.api#JSONRPCResponseId",
          "traits": {
            "smithy.api#documentation": "Identifier of the request this responds to.",
            "smithy.api#required": {}
          }
        },
        "result": {
          "target": "com.xata.api#JSONRPCResponseResultMap",
          "traits": {
            "smithy.api#documentation": "Method result as defined by the MCP specification."
          }
        },
        "error": {
          "target": "com.xata.api#JSONRPCError"
        }
      },
      "traits": {
        "smithy.api#documentation": "A JSON-RPC 2.0 response. Exactly one of `result` or `error` is present."
      }
    },
    "com.xata.api#JSONRPCResponseJsonrpc": {
      "type": "enum",
      "members": {
        "_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2.0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON-RPC protocol version. Always `2.0`."
      }
    },
    "com.xata.api#JSONRPCResponseId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifier of the request this responds to."
      }
    },
    "com.xata.api#JSONRPCResponseResultMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Method result as defined by the MCP specification."
      }
    },
    "com.xata.api#JSONRPCError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "JSON-RPC error code.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short description of the error.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Additional error detail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A JSON-RPC 2.0 error. Failures inside a tool are reported in the tool result with `isError`, not here."
      }
    },
    "com.xata.api#SendMcpRequest": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#SendMcpRequestRequest"
      },
      "output": {
        "target": "com.xata.api#JSONRPCResponse"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/mcp",
          "code": 200
        },
        "smithy.api#documentation": "Send an MCP message\n\nHandle a single JSON-RPC 2.0 message from an MCP client, per the MCP\n[Streamable HTTP transport](https://modelcontextprotocol.io/specification/2025-06-18/basic/transports).\n\nThe server is stateless: every request is self-contained and carries the caller's\ncredential, so there is no session to establish or resume. `GET` and `DELETE` on this\npath return `405 Method Not Allowed`.\n\n**Requests** (messages with an `id`) are answered with the JSON-RPC response, either as\n`application/json` or as a `text/event-stream` carrying the response and any notifications\nemitted while it runs. Requests must accept both. **Notifications and responses**\n(messages without an `id`) are answered with `202 Accepted` and an empty body."
      }
    },
    "com.xata.api#GithubWebhookRequestBodyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "GitHub webhook event payload"
      }
    },
    "com.xata.api#GithubWebhookRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.xata.api#GithubWebhookRequestBodyMap",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#GithubWebhook": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#GithubWebhookRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/webhooks/github",
          "code": 200
        },
        "smithy.api#documentation": "GitHub App webhook\n\nEndpoint used by GitHub to deliver App webhook events.\nThis endpoint is authenticated via GitHub's HMAC-SHA256 signature header,\nnot via the normal API authentication."
      }
    },
    "com.xata.api#ListRegionsRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier of the organization to check region availability for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#ListRegionsResponseRegionsItemProvider": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws"
          }
        },
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcp"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud provider the region runs on"
      }
    },
    "com.xata.api#ListRegionsResponseRegionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the region",
            "smithy.api#required": {}
          }
        },
        "publicAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether data plane is public-facing to the internet in this region",
            "smithy.api#required": {}
          }
        },
        "backupsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether backups are enabled for branches created in this region",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.xata.api#ListRegionsResponseRegionsItemProvider",
          "traits": {
            "smithy.api#documentation": "Cloud provider the region runs on",
            "smithy.api#required": {}
          }
        },
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization that owns this region, if set the region is only available to this organization",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.xata.api#ListRegionsResponseRegionsList": {
      "type": "list",
      "member": {
        "target": "com.xata.api#ListRegionsResponseRegionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of available regions with their properties"
      }
    },
    "com.xata.api#ListRegionsResponse": {
      "type": "structure",
      "members": {
        "regions": {
          "target": "com.xata.api#ListRegionsResponseRegionsList",
          "traits": {
            "smithy.api#documentation": "Array of available regions with their properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.xata.api#ListRegions": {
      "type": "operation",
      "input": {
        "target": "com.xata.api#ListRegionsRequest"
      },
      "output": {
        "target": "com.xata.api#ListRegionsResponse"
      },
      "errors": [
        {
          "target": "com.xata.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organizationID}/regions",
          "code": 200
        },
        "smithy.api#documentation": "Get available regions\n\nRetrieves a list of all regions where new branches can be deployed for the specified organization."
      }
    },
    "com.xata.api#ListInstanceTypesRequest": {
      "type": "structure",
      "members": {
        "organizationID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier of the organization to check instance type availability for"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "region",
            "smithy.api#required": {},
            "smithy.api#documentation": "Region to check instance type availability for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.xata.api#ListInstanceTypesResponseInstanceTypesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance type name",
            "smithy.api#required": {}
          }
        },
        "vcpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "number of vCPUs",
            "smithy.api#required": {}
          }
        },
        "ram": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "memory in Gi",
            "smithy.api#required": {}
          }
        },
        "hourlyRate": {
[...]
