{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.temporal.api#GetClusterInfoResponse": {
      "type": "structure",
      "members": {
        "supportedClients": {
          "target": "com.temporal.api#GetClusterInfoResponseSupportedClientsMap",
          "traits": {
            "smithy.api#documentation": "Key is client name i.e \"temporal-go\", \"temporal-java\", or \"temporal-cli\".\n Value is ranges of supported versions of this client i.e \">1.1.1 <=1.4.0 || ^5.0.0\"."
          }
        },
        "serverVersion": {
          "target": "smithy.api#String"
        },
        "clusterId": {
          "target": "smithy.api#String"
        },
        "versionInfo": {
          "target": "com.temporal.api#VersionInfo"
        },
        "clusterName": {
          "target": "smithy.api#String"
        },
        "historyShardCount": {
          "target": "smithy.api#Integer"
        },
        "persistenceStore": {
          "target": "smithy.api#String"
        },
        "visibilityStore": {
          "target": "smithy.api#String"
        },
        "initialFailoverVersion": {
          "target": "smithy.api#String"
        },
        "failoverVersionIncrement": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "GetClusterInfoResponse contains information about Temporal cluster."
      }
    },
    "com.temporal.api#GetClusterInfoResponseSupportedClientsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Key is client name i.e \"temporal-go\", \"temporal-java\", or \"temporal-cli\".\n Value is ranges of supported versions of this client i.e \">1.1.1 <=1.4.0 || ^5.0.0\"."
      }
    },
    "com.temporal.api#VersionInfo": {
      "type": "structure",
      "members": {
        "current": {
          "target": "com.temporal.api#ReleaseInfo"
        },
        "recommended": {
          "target": "com.temporal.api#ReleaseInfo"
        },
        "instructions": {
          "target": "smithy.api#String"
        },
        "alerts": {
          "target": "com.temporal.api#VersionInfoAlertsList"
        },
        "lastUpdateTime": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "VersionInfo contains details about current and recommended release versions as well as alerts and upgrade instructions."
      }
    },
    "com.temporal.api#ReleaseInfo": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String"
        },
        "releaseTime": {
          "target": "smithy.api#String"
        },
        "notes": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "ReleaseInfo contains information about specific version of temporal."
      }
    },
    "com.temporal.api#Alert": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "severity": {
          "target": "com.temporal.api#AlertSeverity"
        }
      },
      "traits": {
        "smithy.api#documentation": "Alert contains notification and severity."
      }
    },
    "com.temporal.api#AlertSeverity": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "SEVERITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_HIGH"
          }
        },
        "SEVERITY_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_MEDIUM"
          }
        },
        "SEVERITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_LOW"
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#VersionInfoAlertsList": {
      "type": "list",
      "member": {
        "target": "com.temporal.api#Alert"
      },
      "traits": {}
    },
    "com.temporal.api#GetClusterInfo": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.temporal.api#GetClusterInfoResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/cluster-info",
          "code": 200
        },
        "smithy.api#documentation": "GetClusterInfo returns information about temporal cluster"
      }
    },
    "com.temporal.api#ListNamespacesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "nextPageToken"
          }
        },
        "namespaceFilter_includeDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "namespaceFilter.includeDeleted",
            "smithy.api#documentation": "By default namespaces in NAMESPACE_STATE_DELETED state are not included.\n Setting include_deleted to true will include deleted namespaces.\n Note: Namespace is in NAMESPACE_STATE_DELETED state when it was deleted from the system but associated data is not deleted yet."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.api#ListNamespacesResponse": {
      "type": "structure",
      "members": {
        "namespaces": {
          "target": "com.temporal.api#ListNamespacesResponseNamespacesList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.temporal.api#DescribeNamespaceResponse": {
      "type": "structure",
      "members": {
        "namespaceInfo": {
          "target": "com.temporal.api#NamespaceInfo"
        },
        "config": {
          "target": "com.temporal.api#NamespaceConfig"
        },
        "replicationConfig": {
          "target": "com.temporal.api#NamespaceReplicationConfig"
        },
        "failoverVersion": {
          "target": "smithy.api#String"
        },
        "isGlobalNamespace": {
          "target": "smithy.api#Boolean"
        },
        "failoverHistory": {
          "target": "com.temporal.api#DescribeNamespaceResponseFailoverHistoryList",
          "traits": {
            "smithy.api#documentation": "Contains the historical state of failover_versions for the cluster, truncated to contain only the last N\n states to ensure that the list does not grow unbounded."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#NamespaceInfo": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.temporal.api#NamespaceInfoState"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "ownerEmail": {
          "target": "smithy.api#String"
        },
        "data": {
          "target": "com.temporal.api#NamespaceInfoDataMap",
          "traits": {
            "smithy.api#documentation": "A key-value map for any customized purpose."
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "capabilities": {
          "target": "com.temporal.api#NamespaceInfoCapabilities",
          "traits": {
            "smithy.api#documentation": "All capabilities the namespace supports."
          }
        },
        "limits": {
          "target": "com.temporal.api#NamespaceInfoLimits",
          "traits": {
            "smithy.api#documentation": "Namespace configured limits"
          }
        },
        "supportsSchedules": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether scheduled workflows are supported on this namespace. This is only needed\n temporarily while the feature is experimental, so we can give it a high tag."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#NamespaceInfoState": {
      "type": "enum",
      "members": {
        "NAMESPACE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESPACE_STATE_UNSPECIFIED"
          }
        },
        "NAMESPACE_STATE_REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESPACE_STATE_REGISTERED"
          }
        },
        "NAMESPACE_STATE_DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESPACE_STATE_DEPRECATED"
          }
        },
        "NAMESPACE_STATE_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESPACE_STATE_DELETED"
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#NamespaceInfoDataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A key-value map for any customized purpose."
      }
    },
    "com.temporal.api#NamespaceInfoCapabilities": {
      "type": "structure",
      "members": {
        "eagerWorkflowStart": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the namespace supports eager workflow start."
          }
        },
        "syncUpdate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the namespace supports sync update"
          }
        },
        "asyncUpdate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the namespace supports async update"
          }
        },
        "workerHeartbeats": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the namespace supports worker heartbeats"
          }
        },
        "reportedProblemsSearchAttribute": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the namespace supports reported problems search attribute"
          }
        },
        "workflowPause": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the namespace supports pausing workflows"
          }
        },
        "standaloneActivities": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the namespace supports standalone activities"
          }
        },
        "workerPollCompleteOnShutdown": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the namespace supports server-side completion of outstanding worker polls on shutdown.\n When enabled, the server will complete polls for workers that send WorkerInstanceKey in their\n poll requests and call ShutdownWorker with the same WorkerInstanceKey. The poll will return\n an empty response. When this flag is true, workers should allow polls to return gracefully\n rather than terminating any open polls on shutdown."
          }
        },
        "pollerAutoscaling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the namespace supports poller autoscaling"
          }
        },
        "workerCommands": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the namespace supports worker commands (server-to-worker communication via control queues)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Namespace capability details. Should contain what features are enabled in a namespace."
      }
    },
    "com.temporal.api#NamespaceInfoLimits": {
      "type": "structure",
      "members": {
        "blobSizeLimitError": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum size in bytes for payload fields in workflow history events\n (e.g., workflow/activity inputs and results, failure details, signal payloads).\n When exceeded, the server will reject the operation with an error."
          }
        },
        "memoSizeLimitError": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum total memo size in bytes per workflow execution."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#NamespaceConfig": {
      "type": "structure",
      "members": {
        "workflowExecutionRetentionTtl": {
          "target": "smithy.api#String"
        },
        "badBinaries": {
          "target": "com.temporal.api#BadBinaries"
        },
        "historyArchivalState": {
          "target": "com.temporal.api#NamespaceConfigHistoryArchivalState",
          "traits": {
            "smithy.api#documentation": "If unspecified (ARCHIVAL_STATE_UNSPECIFIED) then default server configuration is used."
          }
        },
        "historyArchivalUri": {
          "target": "smithy.api#String"
        },
        "visibilityArchivalState": {
          "target": "com.temporal.api#NamespaceConfigVisibilityArchivalState",
          "traits": {
            "smithy.api#documentation": "If unspecified (ARCHIVAL_STATE_UNSPECIFIED) then default server configuration is used."
          }
        },
        "visibilityArchivalUri": {
          "target": "smithy.api#String"
        },
        "customSearchAttributeAliases": {
          "target": "com.temporal.api#NamespaceConfigCustomSearchAttributeAliasesMap",
          "traits": {
            "smithy.api#documentation": "Map from field name to alias."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#BadBinaries": {
      "type": "structure",
      "members": {
        "binaries": {
          "target": "com.temporal.api#BadBinariesBinariesMap"
        }
      },
      "traits": {}
    },
    "com.temporal.api#BadBinaryInfo": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String"
        },
        "operator": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.temporal.api#BadBinariesBinariesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.temporal.api#BadBinaryInfo"
      },
      "traits": {}
    },
    "com.temporal.api#NamespaceConfigHistoryArchivalState": {
      "type": "enum",
      "members": {
        "ARCHIVAL_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVAL_STATE_UNSPECIFIED"
          }
        },
        "ARCHIVAL_STATE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVAL_STATE_DISABLED"
          }
        },
        "ARCHIVAL_STATE_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVAL_STATE_ENABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If unspecified (ARCHIVAL_STATE_UNSPECIFIED) then default server configuration is used."
      }
    },
    "com.temporal.api#NamespaceConfigVisibilityArchivalState": {
      "type": "enum",
      "members": {
        "ARCHIVAL_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVAL_STATE_UNSPECIFIED"
          }
        },
        "ARCHIVAL_STATE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVAL_STATE_DISABLED"
          }
        },
        "ARCHIVAL_STATE_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVAL_STATE_ENABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If unspecified (ARCHIVAL_STATE_UNSPECIFIED) then default server configuration is used."
      }
    },
    "com.temporal.api#NamespaceConfigCustomSearchAttributeAliasesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Map from field name to alias."
      }
    },
    "com.temporal.api#NamespaceReplicationConfig": {
      "type": "structure",
      "members": {
        "activeClusterName": {
          "target": "smithy.api#String"
        },
        "clusters": {
          "target": "com.temporal.api#NamespaceReplicationConfigClustersList"
        },
        "state": {
          "target": "com.temporal.api#NamespaceReplicationConfigState"
        }
      },
      "traits": {}
    },
    "com.temporal.api#ClusterReplicationConfig": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.temporal.api#NamespaceReplicationConfigClustersList": {
      "type": "list",
      "member": {
        "target": "com.temporal.api#ClusterReplicationConfig"
      },
      "traits": {}
    },
    "com.temporal.api#NamespaceReplicationConfigState": {
      "type": "enum",
      "members": {
        "REPLICATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLICATION_STATE_UNSPECIFIED"
          }
        },
        "REPLICATION_STATE_NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLICATION_STATE_NORMAL"
          }
        },
        "REPLICATION_STATE_HANDOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLICATION_STATE_HANDOVER"
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#FailoverStatus": {
      "type": "structure",
      "members": {
        "failoverTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the Cluster switched to the following failover_version"
          }
        },
        "failoverVersion": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a historical replication status of a Namespace"
      }
    },
    "com.temporal.api#DescribeNamespaceResponseFailoverHistoryList": {
      "type": "list",
      "member": {
        "target": "com.temporal.api#FailoverStatus"
      },
      "traits": {
        "smithy.api#documentation": "Contains the historical state of failover_versions for the cluster, truncated to contain only the last N\n states to ensure that the list does not grow unbounded."
      }
    },
    "com.temporal.api#ListNamespacesResponseNamespacesList": {
      "type": "list",
      "member": {
        "target": "com.temporal.api#DescribeNamespaceResponse"
      },
      "traits": {}
    },
    "com.temporal.api#ListNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.temporal.api#ListNamespacesRequest"
      },
      "output": {
        "target": "com.temporal.api#ListNamespacesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/namespaces",
          "code": 200
        },
        "smithy.api#documentation": "ListNamespaces returns the information and configuration for all namespaces."
      }
    },
    "com.temporal.api#RegisterNamespaceRequestClustersList": {
      "type": "list",
      "member": {
        "target": "com.temporal.api#ClusterReplicationConfig"
      },
      "traits": {}
    },
    "com.temporal.api#RegisterNamespaceRequestDataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A key-value map for any customized purpose."
      }
    },
    "com.temporal.api#RegisterNamespaceRequestHistoryArchivalState": {
      "type": "enum",
      "members": {
        "ARCHIVAL_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVAL_STATE_UNSPECIFIED"
          }
        },
        "ARCHIVAL_STATE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVAL_STATE_DISABLED"
          }
        },
        "ARCHIVAL_STATE_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVAL_STATE_ENABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If unspecified (ARCHIVAL_STATE_UNSPECIFIED) then default server configuration is used."
      }
    },
    "com.temporal.api#RegisterNamespaceRequestVisibilityArchivalState": {
      "type": "enum",
      "members": {
        "ARCHIVAL_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVAL_STATE_UNSPECIFIED"
          }
        },
        "ARCHIVAL_STATE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVAL_STATE_DISABLED"
          }
        },
        "ARCHIVAL_STATE_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVAL_STATE_ENABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If unspecified (ARCHIVAL_STATE_UNSPECIFIED) then default server configuration is used."
      }
    },
    "com.temporal.api#RegisterNamespaceRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "ownerEmail": {
          "target": "smithy.api#String"
        },
        "workflowExecutionRetentionPeriod": {
          "target": "smithy.api#String"
        },
        "clusters": {
          "target": "com.temporal.api#RegisterNamespaceRequestClustersList"
        },
        "activeClusterName": {
          "target": "smithy.api#String"
        },
        "data": {
          "target": "com.temporal.api#RegisterNamespaceRequestDataMap",
          "traits": {
            "smithy.api#documentation": "A key-value map for any customized purpose."
          }
        },
        "securityToken": {
          "target": "smithy.api#String"
        },
        "isGlobalNamespace": {
          "target": "smithy.api#Boolean"
        },
        "historyArchivalState": {
          "target": "com.temporal.api#RegisterNamespaceRequestHistoryArchivalState",
          "traits": {
            "smithy.api#documentation": "If unspecified (ARCHIVAL_STATE_UNSPECIFIED) then default server configuration is used."
          }
        },
        "historyArchivalUri": {
          "target": "smithy.api#String"
        },
        "visibilityArchivalState": {
          "target": "com.temporal.api#RegisterNamespaceRequestVisibilityArchivalState",
          "traits": {
            "smithy.api#documentation": "If unspecified (ARCHIVAL_STATE_UNSPECIFIED) then default server configuration is used."
          }
        },
        "visibilityArchivalUri": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.api#RegisterNamespaceResponse2": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.temporal.api#RegisterNamespace": {
      "type": "operation",
      "input": {
        "target": "com.temporal.api#RegisterNamespaceRequest"
      },
      "output": {
        "target": "com.temporal.api#RegisterNamespaceResponse2"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/namespaces",
          "code": 200
        },
        "smithy.api#documentation": "RegisterNamespace creates a new namespace which can be used as a container for all resources.\n\n A Namespace is a top level entity within Temporal, and is used as a container for resources\n like workflow executions, task queues, etc. A Namespace acts as a sandbox and provides\n isolation for all resources within the namespace. All resources belongs to exactly one\n namespace."
      }
    },
    "com.temporal.api#DescribeNamespaceRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "id"
          }
        },
        "weakConsistency": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "weakConsistency",
            "smithy.api#documentation": "If true, the server may serve the response from an eventually-consistent\n source instead of reading through to persistence. Defaults to false,\n which preserves read-after-write consistency. SDKs should set this when\n fetching namespace capabilities on worker/client startup."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.api#DescribeNamespace": {
      "type": "operation",
      "input": {
        "target": "com.temporal.api#DescribeNamespaceRequest"
      },
      "output": {
        "target": "com.temporal.api#DescribeNamespaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/namespaces/{namespace}",
          "code": 200
        },
        "smithy.api#documentation": "DescribeNamespace returns the information and configuration for a registered namespace."
      }
    },
    "com.temporal.api#ListActivityExecutionsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "Max number of executions to return per page."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "nextPageToken",
            "smithy.api#documentation": "Token returned in ListActivityExecutionsResponse."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "query",
            "smithy.api#documentation": "Visibility query, see https://docs.temporal.io/list-filter for the syntax."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.api#ListActivityExecutionsResponse": {
      "type": "structure",
      "members": {
        "executions": {
          "target": "com.temporal.api#ListActivityExecutionsResponseExecutionsList"
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to use to fetch the next page. If empty, there is no next page."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#ActivityExecutionListInfo": {
      "type": "structure",
      "members": {
        "activityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier of this activity within its namespace along with run ID (below)."
          }
        },
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run ID of the standalone activity."
          }
        },
        "activityType": {
          "target": "com.temporal.api#ActivityType",
          "traits": {
            "smithy.api#documentation": "The type of the activity, a string that maps to a registered activity on a worker."
          }
        },
        "scheduleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the activity was originally scheduled via a StartActivityExecution request."
          }
        },
        "closeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the activity is in a terminal status, this field represents the time the activity transitioned to that status."
          }
        },
        "status": {
          "target": "com.temporal.api#ActivityExecutionListInfoStatus",
          "traits": {
            "smithy.api#documentation": "Only scheduled and terminal statuses appear here. More detailed information in PendingActivityInfo but not\n available in the list response."
          }
        },
        "searchAttributes": {
          "target": "com.temporal.api#SearchAttributes",
          "traits": {
            "smithy.api#documentation": "Search attributes from the start request."
          }
        },
        "taskQueue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The task queue this activity was scheduled on when it was originally started, updated on activity options update."
          }
        },
        "stateTransitionCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Updated on terminal status."
          }
        },
        "stateSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Updated once on scheduled and once on terminal status."
          }
        },
        "executionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The difference between close time and scheduled time.\n This field is only populated if the activity is closed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limited activity information returned in the list response.\n When adding fields here, ensure that it is also present in ActivityExecutionInfo (note that it\n may already be present in ActivityExecutionInfo but not at the top-level)."
      }
    },
    "com.temporal.api#ActivityType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the identifier used by a activity author to define the activity. Typically, the\n name of a function. This is sometimes referred to as the activity's \"name\""
      }
    },
    "com.temporal.api#ActivityExecutionListInfoStatus": {
      "type": "enum",
      "members": {
        "ACTIVITY_EXECUTION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_EXECUTION_STATUS_UNSPECIFIED"
          }
        },
        "ACTIVITY_EXECUTION_STATUS_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_EXECUTION_STATUS_RUNNING"
          }
        },
        "ACTIVITY_EXECUTION_STATUS_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_EXECUTION_STATUS_COMPLETED"
          }
        },
        "ACTIVITY_EXECUTION_STATUS_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_EXECUTION_STATUS_FAILED"
          }
        },
        "ACTIVITY_EXECUTION_STATUS_CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_EXECUTION_STATUS_CANCELED"
          }
        },
        "ACTIVITY_EXECUTION_STATUS_TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_EXECUTION_STATUS_TERMINATED"
          }
        },
        "ACTIVITY_EXECUTION_STATUS_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_EXECUTION_STATUS_TIMED_OUT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Only scheduled and terminal statuses appear here. More detailed information in PendingActivityInfo but not\n available in the list response."
      }
    },
    "com.temporal.api#SearchAttributes": {
      "type": "structure",
      "members": {
        "indexedFields": {
          "target": "com.temporal.api#SearchAttributesIndexedFieldsMap"
        }
      },
      "traits": {
        "smithy.api#documentation": "A user-defined set of *indexed* fields that are used/exposed when listing/searching workflows.\n The payload is not serialized in a user-defined way."
      }
    },
    "com.temporal.api#SearchAttributesIndexedFieldsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.temporal.api#ListActivityExecutionsResponseExecutionsList": {
      "type": "list",
      "member": {
        "target": "com.temporal.api#ActivityExecutionListInfo"
      },
      "traits": {}
    },
    "com.temporal.api#ListActivityExecutions": {
      "type": "operation",
      "input": {
        "target": "com.temporal.api#ListActivityExecutionsRequest"
      },
      "output": {
        "target": "com.temporal.api#ListActivityExecutionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/namespaces/{namespace}/activities",
          "code": 200
        },
        "smithy.api#documentation": "ListActivityExecutions is a visibility API to list activity executions in a specific namespace."
      }
    },
    "com.temporal.api#WorkflowExecution": {
      "type": "structure",
      "members": {
        "workflowId": {
          "target": "smithy.api#String"
        },
        "runId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies a specific workflow within a namespace. Practically speaking, because run_id is a\n uuid, a workflow execution is globally unique. Note that many commands allow specifying an empty\n run id as a way of saying \"target the latest run of the workflow\"."
      }
    },
    "com.temporal.api#PauseActivityRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Namespace of the workflow which scheduled this activity."
          }
        },
        "execution": {
          "target": "com.temporal.api#WorkflowExecution",
          "traits": {
            "smithy.api#documentation": "Execution info of the workflow which scheduled this activity"
          }
        },
        "identity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity of the client who initiated this request."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only the activity with this ID will be paused."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pause all running activities of this type.\n Note: Experimental - the behavior of pause by activity type might change in a future release."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason to pause the activity."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used to de-dupe pause requests."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.api#PauseActivityResponse2": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.temporal.api#PauseActivity": {
      "type": "operation",
      "input": {
        "target": "com.temporal.api#PauseActivityRequest"
      },
      "output": {
        "target": "com.temporal.api#PauseActivityResponse2"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/namespaces/{namespace}/activities-deprecated/pause",
          "code": 200
        },
        "smithy.api#documentation": "PauseActivity pauses the execution of an activity specified by its ID or type.\n If there are multiple pending activities of the provided type - all of them will be paused\n\n Pausing an activity means:\n - If the activity is currently waiting for a retry or is running and subsequently fails,\n   it will not be rescheduled until it is unpaused.\n - If the activity is already paused, calling this method will have no effect.\n - If the activity is running and finishes successfully, the activity will be completed.\n - If the activity is running and finishes with failure:\n   * if there is no retry left - the activity will be completed.\n   * if there are more retries left - the activity will be paused.\n For long-running activities:\n - activities in paused state will send a cancellation with \"activity_paused\" set to 'true' in response to 'RecordActivityTaskHeartbeat'.\n - The activity should respond to the cancellation accordingly.\n\n Returns a `NotFound` error if there is no pending activity with the provided ID or type\n This API will be deprecated soon and replaced with a newer PauseActivityExecution that is better named and\n structured to work well for standalone activities."
      }
    },
    "com.temporal.api#ResetActivityRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Namespace of the workflow which scheduled this activity."
          }
        },
        "execution": {
          "target": "com.temporal.api#WorkflowExecution",
          "traits": {
            "smithy.api#documentation": "Execution info of the workflow which scheduled this activity"
          }
        },
        "identity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity of the client who initiated this request."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only activity with this ID will be reset."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reset all running activities with of this type."
          }
        },
        "matchAll": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Reset all running activities."
          }
        },
        "resetHeartbeat": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that activity should reset heartbeat details.\n This flag will be applied only to the new instance of the activity."
          }
        },
        "keepPaused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If activity is paused, it will remain paused after reset"
          }
        },
        "jitter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, and activity is in backoff, the activity will start at a random time within the specified jitter duration.\n (unless it is paused and keep_paused is set)"
          }
        },
        "restoreOriginalOptions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, the activity options will be restored to the defaults.\n Default options are then options activity was created with.\n They are part of the first schedule event."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.api#ResetActivityResponse2": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.temporal.api#ResetActivity": {
      "type": "operation",
      "input": {
        "target": "com.temporal.api#ResetActivityRequest"
      },
      "output": {
        "target": "com.temporal.api#ResetActivityResponse2"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/namespaces/{namespace}/activities-deprecated/reset",
          "code": 200
        },
        "smithy.api#documentation": "ResetActivity resets the execution of an activity specified by its ID or type.\n If there are multiple pending activities of the provided type - all of them will be reset.\n\n Resetting an activity means:\n * number of attempts will be reset to 0.\n * activity timeouts will be reset.\n * if the activity is waiting for retry, and it is not paused or 'keep_paused' is not provided:\n    it will be scheduled immediately (* see 'jitter' flag),\n\n Flags:\n\n 'jitter': the activity will be scheduled at a random time within the jitter duration.\n If the activity currently paused it will be unpaused, unless 'keep_paused' flag is provided.\n 'reset_heartbeats': the activity heartbeat timer and heartbeats will be reset.\n 'keep_paused': if the activity is paused, it will remain paused.\n\n Returns a `NotFound` error if there is no pending activity with the provided ID or type.\n This API will be deprecated soon and replaced with a newer ResetActivityExecution that is better named and\n structured to work well for standalone activities."
      }
    },
    "com.temporal.api#UnpauseActivityRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Namespace of the workflow which scheduled this activity."
          }
        },
        "execution": {
          "target": "com.temporal.api#WorkflowExecution",
          "traits": {
            "smithy.api#documentation": "Execution info of the workflow which scheduled this activity"
          }
        },
        "identity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity of the client who initiated this request."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only the activity with this ID will be unpaused."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unpause all running activities with of this type."
          }
        },
        "unpauseAll": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Unpause all running activities."
          }
        },
        "resetAttempts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Providing this flag will also reset the number of attempts."
          }
        },
        "resetHeartbeat": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Providing this flag will also reset the heartbeat details."
          }
        },
        "jitter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, the activity will start at a random time within the specified jitter duration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.api#UnpauseActivityResponse2": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.temporal.api#UnpauseActivity": {
      "type": "operation",
      "input": {
        "target": "com.temporal.api#UnpauseActivityRequest"
      },
      "output": {
        "target": "com.temporal.api#UnpauseActivityResponse2"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/namespaces/{namespace}/activities-deprecated/unpause",
          "code": 200
        },
        "smithy.api#documentation": "UnpauseActivity unpauses the execution of an activity specified by its ID or type.\n If there are multiple pending activities of the provided type - all of them will be unpaused.\n\n If activity is not paused, this call will have no effect.\n If the activity was paused while waiting for retry, it will be scheduled immediately (* see 'jitter' flag).\n Once the activity is unpaused, all timeout timers will be regenerated.\n\n Flags:\n 'jitter': the activity will be scheduled at a random time within the jitter duration.\n 'reset_attempts': the number of attempts will be reset.\n 'reset_heartbeat': the activity heartbeat timer and heartbeats will be reset.\n\n Returns a `NotFound` error if there is no pending activity with the provided ID or type\n This API will be deprecated soon and replaced with a newer UnpauseActivityExecution that is better named and\n structured to work well for standalone activities."
      }
    },
    "com.temporal.api#ActivityOptions": {
      "type": "structure",
      "members": {
        "taskQueue": {
          "target": "com.temporal.api#TaskQueue"
        },
        "scheduleToCloseTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates how long the caller is willing to wait for an activity completion. Limits how long\n retries will be attempted. Either this or `start_to_close_timeout` must be specified.\n\n (-- api-linter: core::0140::prepositions=disabled\n     aip.dev/not-precedent: \"to\" is used to indicate interval. --)"
          }
        },
        "scheduleToStartTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Limits time an activity task can stay in a task queue before a worker picks it up. This\n timeout is always non retryable, as all a retry would achieve is to put it back into the same\n queue. Defaults to `schedule_to_close_timeout` or workflow execution timeout if not\n specified.\n\n (-- api-linter: core::0140::prepositions=disabled\n     aip.dev/not-precedent: \"to\" is used to indicate interval. --)"
          }
        },
        "startToCloseTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum time an activity is allowed to execute after being picked up by a worker. This\n timeout is always retryable. Either this or `schedule_to_close_timeout` must be\n specified.\n\n (-- api-linter: core::0140::prepositions=disabled\n     aip.dev/not-precedent: \"to\" is used to indicate interval. --)"
          }
        },
        "heartbeatTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum permitted time between successful worker heartbeats."
          }
        },
        "retryPolicy": {
          "target": "com.temporal.api#RetryPolicy",
          "traits": {
            "smithy.api#documentation": "The retry policy for the activity. Will never exceed `schedule_to_close_timeout`."
          }
        },
        "priority": {
          "target": "com.temporal.api#Priority",
          "traits": {
            "smithy.api#documentation": "Priority metadata. If this message is not present, or any fields are not\n present, they inherit the values from the workflow."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#TaskQueue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "kind": {
          "target": "com.temporal.api#TaskQueueKind",
          "traits": {
            "smithy.api#documentation": "Default: TASK_QUEUE_KIND_NORMAL."
          }
        },
        "normalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Iff kind == TASK_QUEUE_KIND_STICKY, then this field contains the name of\n the normal task queue that the sticky worker is running on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "See https://docs.temporal.io/docs/concepts/task-queues/"
      }
    },
    "com.temporal.api#TaskQueueKind": {
      "type": "enum",
      "members": {
        "TASK_QUEUE_KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_QUEUE_KIND_UNSPECIFIED"
          }
        },
        "TASK_QUEUE_KIND_NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_QUEUE_KIND_NORMAL"
          }
        },
        "TASK_QUEUE_KIND_STICKY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_QUEUE_KIND_STICKY"
          }
        },
        "TASK_QUEUE_KIND_WORKER_COMMANDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_QUEUE_KIND_WORKER_COMMANDS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default: TASK_QUEUE_KIND_NORMAL."
      }
    },
    "com.temporal.api#RetryPolicy": {
      "type": "structure",
      "members": {
        "initialInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interval of the first retry. If retryBackoffCoefficient is 1.0 then it is used for all retries."
          }
        },
        "backoffCoefficient": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Coefficient used to calculate the next retry interval.\n The next retry interval is previous interval multiplied by the coefficient.\n Must be 1 or larger."
          }
        },
        "maximumInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum interval between retries. Exponential backoff leads to interval increase.\n This value is the cap of the increase. Default is 100x of the initial interval."
          }
        },
        "maximumAttempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of attempts. When exceeded the retries stop even if not expired yet.\n 1 disables retries. 0 means unlimited (up to the timeouts)"
          }
        },
        "nonRetryableErrorTypes": {
          "target": "com.temporal.api#RetryPolicyNonRetryableErrorTypesList",
          "traits": {
            "smithy.api#documentation": "Non-Retryable errors types. Will stop retrying if the error type matches this list. Note that\n this is not a substring match, the error *type* (not message) must match exactly."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How retries ought to be handled, usable by both workflows and activities"
      }
    },
    "com.temporal.api#RetryPolicyNonRetryableErrorTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Non-Retryable errors types. Will stop retrying if the error type matches this list. Note that\n this is not a substring match, the error *type* (not message) must match exactly."
      }
    },
    "com.temporal.api#Priority": {
      "type": "structure",
      "members": {
        "priorityKey": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Priority key is a positive integer from 1 to n, where smaller integers\n correspond to higher priorities (tasks run sooner). In general, tasks in\n a queue should be processed in close to priority order, although small\n deviations are possible.\n\n The maximum priority value (minimum priority) is determined by server\n configuration, and defaults to 5.\n\n If priority is not present (or zero), then the effective priority will be\n the default priority, which is calculated by (min+max)/2. With the\n default max of 5, and min of 1, that comes out to 3."
          }
        },
        "fairnessKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fairness key is a short string that's used as a key for a fairness\n balancing mechanism. It may correspond to a tenant id, or to a fixed\n string like \"high\" or \"low\". The default is the empty string.\n\n The fairness mechanism attempts to dispatch tasks for a given key in\n proportion to its weight. For example, using a thousand distinct tenant\n ids, each with a weight of 1.0 (the default) will result in each tenant\n getting a roughly equal share of task dispatch throughput.\n\n (Note: this does not imply equal share of worker capacity! Fairness\n decisions are made based on queue statistics, not\n current worker load.)\n\n As another example, using keys \"high\" and \"low\" with weight 9.0 and 1.0\n respectively will prefer dispatching \"high\" tasks over \"low\" tasks at a\n 9:1 ratio, while allowing either key to use all worker capacity if the\n other is not present.\n\n All fairness mechanisms, including rate limits, are best-effort and\n probabilistic. The results may not match what a \"perfect\" algorithm with\n infinite resources would produce. The more unique keys are used, the less\n accurate the results will be.\n\n Fairness keys are limited to 64 bytes."
          }
        },
        "fairnessWeight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Fairness weight for a task can come from multiple sources for\n flexibility. From highest to lowest precedence:\n 1. Weights for a small set of keys can be overridden in task queue\n    configuration with an API.\n 2. It can be attached to the workflow/activity in this field.\n 3. The default weight of 1.0 will be used.\n\n Weight values are clamped to the range [0.001, 1000]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Priority contains metadata that controls relative ordering of task processing\n when tasks are backed up in a queue. Initially, Priority will be used in\n matching (workflow and activity) task queues. Later it may be used in history\n task queues and in rate limiting decisions.\n\n Priority is attached to workflows and activities. By default, activities\n inherit Priority from the workflow that created them, but may override fields\n when an activity is started or modified.\n\n Despite being named \"Priority\", this message also contains fields that\n control \"fairness\" mechanisms.\n\n For all fields, the field not present or equal to zero/empty string means to\n inherit the value from the calling workflow, or if there is no calling\n workflow, then use the default value.\n\n For all fields other than fairness_key, the zero value isn't meaningful so\n there's no confusion between inherit/default and a meaningful value. For\n fairness_key, the empty string will be interpreted as \"inherit\". This means\n that if a workflow has a non-empty fairness key, you can't override the\n fairness key of its activity to the empty string.\n\n The overall semantics of Priority are:\n 1. First, consider \"priority\": higher priority (lower number) goes first.\n 2. Then, consider fairness: try to dispatch tasks for different fairness keys\n    in proportion to their weight.\n\n Applications may use any subset of mechanisms that are useful to them and\n leave the other fields to use default values.\n\n Not all queues in the system may support the \"full\" semantics of all priority\n fields. (Currently only support in matching task queues is planned.)"
      }
    },
    "com.temporal.api#UpdateActivityOptionsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Namespace of the workflow which scheduled this activity"
          }
        },
        "execution": {
          "target": "com.temporal.api#WorkflowExecution",
          "traits": {
            "smithy.api#documentation": "Execution info of the workflow which scheduled this activity"
          }
        },
        "identity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity of the client who initiated this request"
          }
        },
        "activityOptions": {
          "target": "com.temporal.api#ActivityOptions",
          "traits": {
            "smithy.api#documentation": "Activity options. Partial updates are accepted and controlled by update_mask"
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Controls which fields from `activity_options` will be applied"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only activity with this ID will be updated."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Update all running activities of this type."
          }
        },
        "matchAll": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Update all running activities."
          }
        },
        "restoreOriginal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, the activity options will be restored to the default.\n Default options are then options activity was created with.\n They are part of the first schedule event.\n This flag cannot be combined with any other option; if you supply\n restore_original together with other options, the request will be rejected."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.api#UpdateActivityOptionsResponse": {
      "type": "structure",
      "members": {
        "activityOptions": {
          "target": "com.temporal.api#ActivityOptions",
          "traits": {
            "smithy.api#documentation": "Activity options after an update"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. Use `UpdateActivityExecutionOptionsResponse`."
      }
    },
    "com.temporal.api#UpdateActivityOptions": {
      "type": "operation",
      "input": {
        "target": "com.temporal.api#UpdateActivityOptionsRequest"
      },
      "output": {
        "target": "com.temporal.api#UpdateActivityOptionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/namespaces/{namespace}/activities-deprecated/update-options",
          "code": 200
        },
        "smithy.api#documentation": "UpdateActivityOptions is called by the client to update the options of an activity by its ID or type.\n If there are multiple pending activities of the provided type - all of them will be updated.\n This API will be deprecated soon and replaced with a newer UpdateActivityExecutionOptions that is better named and\n structured to work well for standalone activities."
      }
    },
    "com.temporal.api#DescribeActivityExecutionRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "activityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "runId",
            "smithy.api#documentation": "Activity run ID. If empty the request targets the latest run."
          }
        },
        "includeInput": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeInput",
            "smithy.api#documentation": "Include the input field in the response."
          }
        },
        "includeOutcome": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeOutcome",
            "smithy.api#documentation": "Include the outcome (result/failure) in the response if the activity has completed."
          }
        },
        "longPollToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "longPollToken",
            "smithy.api#documentation": "Token from a previous DescribeActivityExecutionResponse. If present, long-poll until activity\n state changes from the state encoded in this token. If absent, return current state immediately.\n If present, run_id must also be present.\n Note that activity state may change multiple times between requests, therefore it is not\n guaranteed that a client making a sequence of long-poll requests will see a complete\n sequence of state changes."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.temporal.api#DescribeActivityExecutionResponse": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run ID of the activity, useful when run_id was not specified in the request."
          }
        },
        "info": {
          "target": "com.temporal.api#ActivityExecutionInfo",
          "traits": {
            "smithy.api#documentation": "Information about the activity execution."
          }
        },
        "input": {
          "target": "com.temporal.api#Payloads",
          "traits": {
            "smithy.api#documentation": "Serialized activity input, passed as arguments to the activity function.\n Only set if include_input was true in the request."
          }
        },
        "outcome": {
          "target": "com.temporal.api#ActivityExecutionOutcome",
          "traits": {
            "smithy.api#documentation": "Only set if the activity is completed and include_outcome was true in the request."
          }
        },
        "longPollToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token for follow-on long-poll requests. Absent only if the activity is complete."
          }
        },
        "callbacks": {
          "target": "com.temporal.api#DescribeActivityExecutionResponseCallbacksList",
          "traits": {
            "smithy.api#documentation": "Callbacks attached to this activity execution and their current state."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#ActivityExecutionInfo": {
      "type": "structure",
      "members": {
        "activityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this activity within its namespace along with run ID (below)."
          }
        },
        "runId": {
          "target": "smithy.api#String"
        },
        "activityType": {
          "target": "com.temporal.api#ActivityType",
          "traits": {
            "smithy.api#documentation": "The type of the activity, a string that maps to a registered activity on a worker."
          }
        },
        "status": {
          "target": "com.temporal.api#ActivityExecutionInfoStatus",
          "traits": {
            "smithy.api#documentation": "A general status for this activity, indicates whether it is currently running or in one of the terminal statuses."
          }
        },
        "runState": {
          "target": "com.temporal.api#ActivityExecutionInfoRunState",
          "traits": {
            "smithy.api#documentation": "More detailed breakdown of ACTIVITY_EXECUTION_STATUS_RUNNING."
          }
        },
        "taskQueue": {
          "target": "smithy.api#String"
        },
        "scheduleToCloseTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates how long the caller is willing to wait for an activity completion. Limits how long\n retries will be attempted.\n\n (-- api-linter: core::0140::prepositions=disabled\n     aip.dev/not-precedent: \"to\" is used to indicate interval. --)"
          }
        },
        "scheduleToStartTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Limits time an activity task can stay in a task queue before a worker picks it up. This\n timeout is always non retryable, as all a retry would achieve is to put it back into the same\n queue. Defaults to `schedule_to_close_timeout`.\n\n (-- api-linter: core::0140::prepositions=disabled\n     aip.dev/not-precedent: \"to\" is used to indicate interval. --)"
          }
        },
        "startToCloseTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum time a single activity attempt is allowed to execute after being picked up by a worker. This\n timeout is always retryable.\n\n (-- api-linter: core::0140::prepositions=disabled\n     aip.dev/not-precedent: \"to\" is used to indicate interval. --)"
          }
        },
        "heartbeatTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum permitted time between successful worker heartbeats."
          }
        },
        "retryPolicy": {
          "target": "com.temporal.api#RetryPolicy",
          "traits": {
            "smithy.api#documentation": "The retry policy for the activity. Will never exceed `schedule_to_close_timeout`."
          }
        },
        "heartbeatDetails": {
          "target": "com.temporal.api#Payloads",
          "traits": {
            "smithy.api#documentation": "Details provided in the last recorded activity heartbeat."
          }
        },
        "lastHeartbeatTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the last heartbeat was recorded."
          }
        },
        "lastStartedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the last attempt was started."
          }
        },
        "attempt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The attempt this activity is currently on. Incremented each time a new attempt is scheduled."
          }
        },
        "executionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How long this activity has been running for, including all attempts and backoff between attempts."
          }
        },
        "scheduleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the activity was originally scheduled via a StartActivityExecution request."
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scheduled time + schedule to close timeout."
          }
        },
        "closeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the activity transitioned to a closed state."
          }
        },
        "lastFailure": {
          "target": "com.temporal.api#Failure",
          "traits": {
            "smithy.api#documentation": "Failure details from the last failed attempt."
          }
        },
        "lastWorkerIdentity": {
          "target": "smithy.api#String"
        },
        "currentRetryInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time from the last attempt failure to the next activity retry.\n If the activity is currently running, this represents the next retry interval in case the attempt fails.\n If activity is currently backing off between attempt, this represents the current retry interval.\n If there is no next retry allowed, this field will be null.\n This interval is typically calculated from the specified retry policy, but may be modified if an activity fails\n with a retryable application failure specifying a retry delay."
          }
        },
        "lastAttemptCompleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the last activity attempt completed. If activity has not been completed yet, it will be null."
          }
        },
        "nextAttemptScheduleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the next activity attempt will be scheduled.\n If activity is currently scheduled or started, this field will be null."
          }
        },
        "lastDeploymentVersion": {
          "target": "com.temporal.api#WorkerDeploymentVersion",
          "traits": {
            "smithy.api#documentation": "The Worker Deployment Version this activity was dispatched to most recently.\n If nil, the activity has not yet been dispatched or was last dispatched to an unversioned worker."
          }
        },
        "priority": {
          "target": "com.temporal.api#Priority",
          "traits": {
            "smithy.api#documentation": "Priority metadata."
          }
        },
        "stateTransitionCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Incremented each time the activity's state is mutated in persistence."
          }
        },
        "stateSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Updated once on scheduled and once on terminal status."
          }
        },
        "searchAttributes": {
          "target": "com.temporal.api#SearchAttributes"
        },
        "header": {
          "target": "com.temporal.api#Header"
        },
        "userMetadata": {
          "target": "com.temporal.api#UserMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata for use by user interfaces to display the fixed as-of-start summary and details of the activity."
          }
        },
        "canceledReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set if activity cancelation was requested."
          }
        },
        "links": {
          "target": "com.temporal.api#ActivityExecutionInfoLinksList",
          "traits": {
            "smithy.api#documentation": "Links to related entities, such as the entity that started this activity."
          }
        },
        "totalHeartbeatCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of heartbeats recorded across all attempts of this activity, including retries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a standalone activity."
      }
    },
    "com.temporal.api#ActivityExecutionInfoStatus": {
      "type": "enum",
      "members": {
        "ACTIVITY_EXECUTION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_EXECUTION_STATUS_UNSPECIFIED"
          }
        },
        "ACTIVITY_EXECUTION_STATUS_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_EXECUTION_STATUS_RUNNING"
          }
        },
        "ACTIVITY_EXECUTION_STATUS_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_EXECUTION_STATUS_COMPLETED"
          }
        },
        "ACTIVITY_EXECUTION_STATUS_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_EXECUTION_STATUS_FAILED"
          }
        },
        "ACTIVITY_EXECUTION_STATUS_CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_EXECUTION_STATUS_CANCELED"
          }
        },
        "ACTIVITY_EXECUTION_STATUS_TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_EXECUTION_STATUS_TERMINATED"
          }
        },
        "ACTIVITY_EXECUTION_STATUS_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVITY_EXECUTION_STATUS_TIMED_OUT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A general status for this activity, indicates whether it is currently running or in one of the terminal statuses."
      }
    },
    "com.temporal.api#ActivityExecutionInfoRunState": {
      "type": "enum",
      "members": {
        "PENDING_ACTIVITY_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_ACTIVITY_STATE_UNSPECIFIED"
          }
        },
        "PENDING_ACTIVITY_STATE_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_ACTIVITY_STATE_SCHEDULED"
          }
        },
        "PENDING_ACTIVITY_STATE_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_ACTIVITY_STATE_STARTED"
          }
        },
        "PENDING_ACTIVITY_STATE_CANCEL_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_ACTIVITY_STATE_CANCEL_REQUESTED"
          }
        },
        "PENDING_ACTIVITY_STATE_PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_ACTIVITY_STATE_PAUSED"
          }
        },
        "PENDING_ACTIVITY_STATE_PAUSE_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_ACTIVITY_STATE_PAUSE_REQUESTED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "More detailed breakdown of ACTIVITY_EXECUTION_STATUS_RUNNING."
      }
    },
    "com.temporal.api#Payloads": {
      "type": "structure",
      "members": {
        "payloads": {
          "target": "com.temporal.api#PayloadsPayloadsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "See `Payload`"
      }
    },
    "com.temporal.api#PayloadsPayloadsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.temporal.api#Failure": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source this Failure originated in, e.g. TypeScriptSDK / JavaSDK\n In some SDKs this is used to rehydrate the stack trace into an exception object."
          }
        },
        "stackTrace": {
          "target": "smithy.api#String"
        },
        "encodedAttributes": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Alternative way to supply `message` and `stack_trace` and possibly other attributes, used for encryption of\n errors originating in user code which might contain sensitive information.\n The `encoded_attributes` Payload could represent any serializable object, e.g. JSON object or a `Failure` proto\n message.\n\n SDK authors:\n - The SDK should provide a default `encodeFailureAttributes` and `decodeFailureAttributes` implementation that:\n   - Uses a JSON object to represent `{ message, stack_trace }`.\n   - Overwrites the original message with \"Encoded failure\" to indicate that more information could be extracted.\n   - Overwrites the original stack_trace with an empty string.\n   - The resulting JSON object is converted to Payload using the default PayloadConverter and should be processed\n     by the user-provided PayloadCodec\n\n - If there's demand, we could allow overriding the default SDK implementation to encode other opaque Failure attributes."
          }
        },
        "cause": {
          "target": "com.temporal.api#Failure"
        },
        "applicationFailureInfo": {
          "target": "com.temporal.api#ApplicationFailureInfo"
        },
        "timeoutFailureInfo": {
          "target": "com.temporal.api#TimeoutFailureInfo"
        },
        "canceledFailureInfo": {
          "target": "com.temporal.api#CanceledFailureInfo"
        },
        "terminatedFailureInfo": {
          "target": "com.temporal.api#TerminatedFailureInfo"
        },
        "serverFailureInfo": {
          "target": "com.temporal.api#ServerFailureInfo"
        },
        "resetWorkflowFailureInfo": {
          "target": "com.temporal.api#ResetWorkflowFailureInfo"
        },
        "activityFailureInfo": {
          "target": "com.temporal.api#ActivityFailureInfo"
        },
        "childWorkflowExecutionFailureInfo": {
          "target": "com.temporal.api#ChildWorkflowExecutionFailureInfo"
        },
        "nexusOperationExecutionFailureInfo": {
          "target": "com.temporal.api#NexusOperationFailureInfo"
        },
        "nexusHandlerFailureInfo": {
          "target": "com.temporal.api#NexusHandlerFailureInfo"
        }
      },
      "traits": {}
    },
    "com.temporal.api#ApplicationFailureInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "nonRetryable": {
          "target": "smithy.api#Boolean"
        },
        "details": {
          "target": "com.temporal.api#Payloads"
        },
        "nextRetryDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "next_retry_delay can be used by the client to override the activity\n retry interval calculated by the retry policy. Retry attempts will\n still be subject to the maximum retries limit and total time limit\n defined by the policy."
          }
        },
        "category": {
          "target": "com.temporal.api#ApplicationFailureInfoCategory"
        }
      },
      "traits": {}
    },
    "com.temporal.api#ApplicationFailureInfoCategory": {
      "type": "enum",
      "members": {
        "APPLICATION_ERROR_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_ERROR_CATEGORY_UNSPECIFIED"
          }
        },
        "APPLICATION_ERROR_CATEGORY_BENIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_ERROR_CATEGORY_BENIGN"
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#TimeoutFailureInfo": {
      "type": "structure",
      "members": {
        "timeoutType": {
          "target": "com.temporal.api#TimeoutFailureInfoTimeoutType"
        },
        "lastHeartbeatDetails": {
          "target": "com.temporal.api#Payloads"
        }
      },
      "traits": {}
    },
    "com.temporal.api#TimeoutFailureInfoTimeoutType": {
      "type": "enum",
      "members": {
        "TIMEOUT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT_TYPE_UNSPECIFIED"
          }
        },
        "TIMEOUT_TYPE_START_TO_CLOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT_TYPE_START_TO_CLOSE"
          }
        },
        "TIMEOUT_TYPE_SCHEDULE_TO_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT_TYPE_SCHEDULE_TO_START"
          }
        },
        "TIMEOUT_TYPE_SCHEDULE_TO_CLOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT_TYPE_SCHEDULE_TO_CLOSE"
          }
        },
        "TIMEOUT_TYPE_HEARTBEAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT_TYPE_HEARTBEAT"
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#CanceledFailureInfo": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.temporal.api#Payloads"
        },
        "identity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity of the worker or client that requested the cancellation."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#TerminatedFailureInfo": {
      "type": "structure",
      "members": {
        "identity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity of the worker or client that requested the termination."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#ServerFailureInfo": {
      "type": "structure",
      "members": {
        "nonRetryable": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.temporal.api#ResetWorkflowFailureInfo": {
      "type": "structure",
      "members": {
        "lastHeartbeatDetails": {
          "target": "com.temporal.api#Payloads"
        }
      },
      "traits": {}
    },
    "com.temporal.api#ActivityFailureInfo": {
      "type": "structure",
      "members": {
        "scheduledEventId": {
          "target": "smithy.api#String"
        },
        "startedEventId": {
          "target": "smithy.api#String"
        },
        "identity": {
          "target": "smithy.api#String"
        },
        "activityType": {
          "target": "com.temporal.api#ActivityType"
        },
        "activityId": {
          "target": "smithy.api#String"
        },
        "retryState": {
          "target": "com.temporal.api#ActivityFailureInfoRetryState"
        }
      },
      "traits": {}
    },
    "com.temporal.api#ActivityFailureInfoRetryState": {
      "type": "enum",
      "members": {
        "RETRY_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_UNSPECIFIED"
          }
        },
        "RETRY_STATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_IN_PROGRESS"
          }
        },
        "RETRY_STATE_NON_RETRYABLE_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_NON_RETRYABLE_FAILURE"
          }
        },
        "RETRY_STATE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_TIMEOUT"
          }
        },
        "RETRY_STATE_MAXIMUM_ATTEMPTS_REACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_MAXIMUM_ATTEMPTS_REACHED"
          }
        },
        "RETRY_STATE_RETRY_POLICY_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_RETRY_POLICY_NOT_SET"
          }
        },
        "RETRY_STATE_INTERNAL_SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_INTERNAL_SERVER_ERROR"
          }
        },
        "RETRY_STATE_CANCEL_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_CANCEL_REQUESTED"
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#ChildWorkflowExecutionFailureInfo": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String"
        },
        "workflowExecution": {
          "target": "com.temporal.api#WorkflowExecution"
        },
        "workflowType": {
          "target": "com.temporal.api#WorkflowType"
        },
        "initiatedEventId": {
          "target": "smithy.api#String"
        },
        "startedEventId": {
          "target": "smithy.api#String"
        },
        "retryState": {
          "target": "com.temporal.api#ChildWorkflowExecutionFailureInfoRetryState"
        }
      },
      "traits": {}
    },
    "com.temporal.api#WorkflowType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the identifier used by a workflow author to define the workflow. Typically, the\n name of a function. This is sometimes referred to as the workflow's \"name\""
      }
    },
    "com.temporal.api#ChildWorkflowExecutionFailureInfoRetryState": {
      "type": "enum",
      "members": {
        "RETRY_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_UNSPECIFIED"
          }
        },
        "RETRY_STATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_IN_PROGRESS"
          }
        },
        "RETRY_STATE_NON_RETRYABLE_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_NON_RETRYABLE_FAILURE"
          }
        },
        "RETRY_STATE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_TIMEOUT"
          }
        },
        "RETRY_STATE_MAXIMUM_ATTEMPTS_REACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_MAXIMUM_ATTEMPTS_REACHED"
          }
        },
        "RETRY_STATE_RETRY_POLICY_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_RETRY_POLICY_NOT_SET"
          }
        },
        "RETRY_STATE_INTERNAL_SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_INTERNAL_SERVER_ERROR"
          }
        },
        "RETRY_STATE_CANCEL_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_STATE_CANCEL_REQUESTED"
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#NexusOperationFailureInfo": {
      "type": "structure",
      "members": {
        "scheduledEventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The NexusOperationScheduled event ID."
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Endpoint name."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service name."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation name."
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation ID - may be empty if the operation completed synchronously.\n\n Deprecated. Renamed to operation_token."
          }
        },
        "operationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation token - may be empty if the operation completed synchronously."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of the Temporal SDK NexusOperationError object that is returned to workflow callers."
      }
    },
    "com.temporal.api#NexusHandlerFailureInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Nexus error type as defined in the spec:\n https://github.com/nexus-rpc/api/blob/main/SPEC.md#predefined-handler-errors."
          }
        },
        "retryBehavior": {
          "target": "com.temporal.api#NexusHandlerFailureInfoRetryBehavior",
          "traits": {
            "smithy.api#documentation": "Retry behavior, defaults to the retry behavior of the error type as defined in the spec."
          }
        }
      },
      "traits": {}
    },
    "com.temporal.api#NexusHandlerFailureInfoRetryBehavior": {
      "type": "enum",
      "members": {
        "NEXUS_HANDLER_ERROR_RETRY_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXUS_HANDLER_ERROR_RETRY_BEHAVIOR_UNSPECIFIED"
          }
        },
        "NEXUS_HANDLER_ERROR_RETRY_BEHAVIOR_RETRYABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXUS_HANDLER_ERROR_RETRY_BEHAVIOR_RETRYABLE"
          }
        },
        "NEXUS_HANDLER_ERROR_RETRY_BEHAVIOR_NON_RETRYABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXUS_HANDLER_ERROR_RETRY_BEHAVIOR_NON_RETRYABLE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Retry behavior, defaults to the retry behavior of the error type as defined in the spec."
      }
    },
    "com.temporal.api#WorkerDeploymentVersion": {
      "type": "structure",
      "members": {
        "buildId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for this Version within the Deployment it is a part of.\n Not necessarily unique within the namespace.\n The combination of `deployment_name` and `build_id` uniquely identifies this\n Version within the namespace, because Deployment names are unique within a namespace."
          }
        },
        "deploymentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the Worker Deployment this Version is part of."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Worker Deployment Version (Version, for short) represents a\n version of workers within a Worker Deployment. (see documentation of WorkerDeploymentVersionInfo)\n Version records are created in Temporal server automatically when their\n first poller arrives to the server.\n Experimental. Worker Deployment Versions are experimental and might significantly change in the future."
      }
    },
    "com.temporal.api#Header": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.temporal.api#HeaderFieldsMap"
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains metadata that can be attached to a variety of requests, like starting a workflow, and\n can be propagated between, for example, workflows and activities."
      }
    },
    "com.temporal.api#HeaderFieldsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.temporal.api#UserMetadata": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Short-form text that provides a summary. This payload should be a \"json/plain\"-encoded payload\n that is a single JSON string for use in user interfaces. User interface formatting may not\n apply to this text when used in \"title\" situations. The payload data section is limited to 400\n bytes by default."
          }
        },
        "details": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Long-form text that provides details. This payload should be a \"json/plain\"-encoded payload\n that is a single JSON string for use in user interfaces. User interface formatting may apply to\n this text in common use. The payload data section is limited to 20000 bytes by default."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information a user can set, often for use by user interfaces."
      }
    },
    "com.temporal.api#Link": {
      "type": "structure",
      "members": {
        "workflowEvent": {
          "target": "com.temporal.api#LinkWorkflowEvent"
        },
        "batchJob": {
          "target": "com.temporal.api#LinkBatchJob"
        },
        "activity": {
          "target": "com.temporal.api#LinkActivity"
        },
        "nexusOperation": {
          "target": "com.temporal.api#LinkNexusOperation"
        }
      },
      "traits": {
        "smithy.api#documentation": "Link can be associated with history events. It might contain information about an external entity\n related to the history event. For example, workflow A makes a Nexus call that starts workflow B:\n in this case, a history event in workflow A could contain a Link to the workflow started event in\n workflow B, and vice-versa."
      }
    },
    "com.temporal.api#LinkWorkflowEvent": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String"
        },
        "workflowId": {
          "target": "smithy.api#String"
        },
        "runId": {
          "target": "smithy.api#String"
        },
        "eventRef": {
          "target": "com.temporal.api#WorkflowEventEventReference"
        },
        "requestIdRef": {
          "target": "com.temporal.api#WorkflowEventRequestIdReference"
        }
      },
      "traits": {}
    },
    "com.temporal.api#WorkflowEventEventReference": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "smithy.api#String"
        },
        "eventType": {
          "target": "com.temporal.api#WorkflowEventEventReferenceEventType"
        }
      },
      "traits": {
        "smithy.api#documentation": "EventReference is a direct reference to a history event through the event ID."
      }
    },
    "com.temporal.api#WorkflowEventEventReferenceEventType": {
      "type": "enum",
      "members": {
        "EVENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_UNSPECIFIED"
          }
        },
        "EVENT_TYPE_WORKFLOW_EXECUTION_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_WORKFLOW_EXECUTION_STARTED"
          }
        },
        "EVENT_TYPE_WORKFLOW_EXECUTION_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_WORKFLOW_EXECUTION_COMPLETED"
          }
        },
        "EVENT_TYPE_WORKFLOW_EXECUTION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_WORKFLOW_EXECUTION_FAILED"
          }
        },
        "EVENT_TYPE_WORKFLOW_EXECUTION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_WORKFLOW_EXECUTION_TIMED_OUT"
          }
        },
        "EVENT_TYPE_WORKFLOW_TASK_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_WORKFLOW_TASK_SCHEDULED"
          }
        },
[...]
