{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.onepassword.connect#GetApiActivityRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "How many API Events should be retrieved in a single request."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "How far into the collection of API Events should the response start"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.onepassword.connect#APIRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique id used to identify a single request."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the request was processed by the server."
          }
        },
        "action": {
          "target": "com.onepassword.connect#APIRequestAction"
        },
        "result": {
          "target": "com.onepassword.connect#APIRequestResult"
        },
        "actor": {
          "target": "com.onepassword.connect#APIRequestActor"
        },
        "resource": {
          "target": "com.onepassword.connect#APIRequestResource"
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a request that was made to the API. Including what Token was used and what resource was accessed."
      }
    },
    "com.onepassword.connect#APIRequestAction": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#APIRequestResult": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#APIRequestActor": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "account": {
          "target": "smithy.api#String"
        },
        "jti": {
          "target": "smithy.api#String"
        },
        "userAgent": {
          "target": "smithy.api#String"
        },
        "requestIp": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#APIRequestResourceType": {
      "type": "enum",
      "members": {
        "ITEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM"
          }
        },
        "VAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VAULT"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#APIRequestResourceVault": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#APIRequestResourceItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#APIRequestResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.onepassword.connect#APIRequestResourceType"
        },
        "vault": {
          "target": "com.onepassword.connect#APIRequestResourceVault"
        },
        "item": {
          "target": "com.onepassword.connect#APIRequestResourceItem"
        },
        "itemVersion": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#GetApiActivityResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#APIRequest"
      },
      "traits": {}
    },
    "com.onepassword.connect#GetApiActivityResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.onepassword.connect#GetApiActivityResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.onepassword.connect#GetApiActivity": {
      "type": "operation",
      "input": {
        "target": "com.onepassword.connect#GetApiActivityRequest"
      },
      "output": {
        "target": "com.onepassword.connect#GetApiActivityResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/activity",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of API Requests that have been made."
      }
    },
    "com.onepassword.connect#GetVaultsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "Filter the Vault collection based on Vault name using SCIM eq filter"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.onepassword.connect#Vault": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "attributeVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The vault version"
          }
        },
        "contentVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The version of the vault contents"
          }
        },
        "items": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of active items in the vault"
          }
        },
        "type": {
          "target": "com.onepassword.connect#VaultType"
        },
        "createdAt": {
          "target": "smithy.api#String"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#VaultType": {
      "type": "enum",
      "members": {
        "USER_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_CREATED"
          }
        },
        "PERSONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSONAL"
          }
        },
        "EVERYONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVERYONE"
          }
        },
        "TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#GetVaultsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#Vault"
      },
      "traits": {}
    },
    "com.onepassword.connect#GetVaultsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.onepassword.connect#GetVaultsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.onepassword.connect#GetVaults": {
      "type": "operation",
      "input": {
        "target": "com.onepassword.connect#GetVaultsRequest"
      },
      "output": {
        "target": "com.onepassword.connect#GetVaultsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vaults",
          "code": 200
        },
        "smithy.api#documentation": "Get all Vaults"
      }
    },
    "com.onepassword.connect#GetVaultByIdRequest": {
      "type": "structure",
      "members": {
        "vaultUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Vault to fetch Items from"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.onepassword.connect#GetVaultById": {
      "type": "operation",
      "input": {
        "target": "com.onepassword.connect#GetVaultByIdRequest"
      },
      "output": {
        "target": "com.onepassword.connect#Vault"
      },
      "errors": [
        {
          "target": "com.onepassword.connect#Forbidden"
        },
        {
          "target": "com.onepassword.connect#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vaults/{vaultUuid}",
          "code": 200
        },
        "smithy.api#documentation": "Get Vault details and metadata"
      }
    },
    "com.onepassword.connect#GetVaultItemsRequest": {
      "type": "structure",
      "members": {
        "vaultUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Vault to fetch Items from"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "Filter the Item collection based on Item name using SCIM eq filter"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.onepassword.connect#Item": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "vault": {
          "target": "com.onepassword.connect#ItemVault",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "category": {
          "target": "com.onepassword.connect#ItemCategory",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "urls": {
          "target": "com.onepassword.connect#ItemUrlsList"
        },
        "favorite": {
          "target": "smithy.api#Boolean"
        },
        "tags": {
          "target": "com.onepassword.connect#ItemTagsList"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "state": {
          "target": "com.onepassword.connect#ItemState"
        },
        "createdAt": {
          "target": "smithy.api#String"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        },
        "lastEditedBy": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#ItemVault": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#ItemCategory": {
      "type": "enum",
      "members": {
        "LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN"
          }
        },
        "PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD"
          }
        },
        "API_CREDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_CREDENTIAL"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER"
          }
        },
        "DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE"
          }
        },
        "CREDIT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDIT_CARD"
          }
        },
        "MEMBERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP"
          }
        },
        "PASSPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSPORT"
          }
        },
        "SOFTWARE_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE_LICENSE"
          }
        },
        "OUTDOOR_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTDOOR_LICENSE"
          }
        },
        "SECURE_NOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_NOTE"
          }
        },
        "WIRELESS_ROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIRELESS_ROUTER"
          }
        },
        "BANK_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BANK_ACCOUNT"
          }
        },
        "DRIVER_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVER_LICENSE"
          }
        },
        "IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY"
          }
        },
        "REWARD_PROGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REWARD_PROGRAM"
          }
        },
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT"
          }
        },
        "EMAIL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_ACCOUNT"
          }
        },
        "SOCIAL_SECURITY_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_SECURITY_NUMBER"
          }
        },
        "MEDICAL_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDICAL_RECORD"
          }
        },
        "SSH_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSH_KEY"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#ItemUrlsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "primary": {
          "target": "smithy.api#Boolean"
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#ItemUrlsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#ItemUrlsItem"
      },
      "traits": {}
    },
    "com.onepassword.connect#ItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.onepassword.connect#ItemState": {
      "type": "enum",
      "members": {
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#GetVaultItemsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#Item"
      },
      "traits": {}
    },
    "com.onepassword.connect#GetVaultItemsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.onepassword.connect#GetVaultItemsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.onepassword.connect#GetVaultItems": {
      "type": "operation",
      "input": {
        "target": "com.onepassword.connect#GetVaultItemsRequest"
      },
      "output": {
        "target": "com.onepassword.connect#GetVaultItemsResponse"
      },
      "errors": [
        {
          "target": "com.onepassword.connect#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vaults/{vaultUuid}/items",
          "code": 200
        },
        "smithy.api#documentation": "Get all items for inside a Vault"
      }
    },
    "com.onepassword.connect#CreateVaultItemRequestVault": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemRequestCategory": {
      "type": "enum",
      "members": {
        "LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN"
          }
        },
        "PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD"
          }
        },
        "API_CREDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_CREDENTIAL"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER"
          }
        },
        "DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE"
          }
        },
        "CREDIT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDIT_CARD"
          }
        },
        "MEMBERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP"
          }
        },
        "PASSPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSPORT"
          }
        },
        "SOFTWARE_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE_LICENSE"
          }
        },
        "OUTDOOR_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTDOOR_LICENSE"
          }
        },
        "SECURE_NOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_NOTE"
          }
        },
        "WIRELESS_ROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIRELESS_ROUTER"
          }
        },
        "BANK_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BANK_ACCOUNT"
          }
        },
        "DRIVER_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVER_LICENSE"
          }
        },
        "IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY"
          }
        },
        "REWARD_PROGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REWARD_PROGRAM"
          }
        },
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT"
          }
        },
        "EMAIL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_ACCOUNT"
          }
        },
        "SOCIAL_SECURITY_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_SECURITY_NUMBER"
          }
        },
        "MEDICAL_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDICAL_RECORD"
          }
        },
        "SSH_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSH_KEY"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemRequestUrlsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "primary": {
          "target": "smithy.api#Boolean"
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemRequestUrlsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#CreateVaultItemRequestUrlsItem"
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemRequestSectionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemRequestSectionsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#CreateVaultItemRequestSectionsItem"
      },
      "traits": {}
    },
    "com.onepassword.connect#FieldInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "section": {
          "target": "com.onepassword.connect#FieldInputSection"
        },
        "type": {
          "target": "com.onepassword.connect#FieldInputType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "purpose": {
          "target": "com.onepassword.connect#FieldInputPurpose",
          "traits": {
            "smithy.api#documentation": "Some item types, Login and Password, have fields used for autofill. This property indicates that purpose and is required for some item types."
          }
        },
        "label": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        },
        "generate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If value is not present then a new value should be generated for this field"
          }
        },
        "recipe": {
          "target": "com.onepassword.connect#GeneratorRecipe"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#FieldInputSection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#FieldInputType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL"
          }
        },
        "CONCEALED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONCEALED"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL"
          }
        },
        "TOTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOTP"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "MONTH_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTH_YEAR"
          }
        },
        "MENU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MENU"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#FieldInputPurpose": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "USERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USERNAME"
          }
        },
        "PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD"
          }
        },
        "NOTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTES"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Some item types, Login and Password, have fields used for autofill. This property indicates that purpose and is required for some item types."
      }
    },
    "com.onepassword.connect#GeneratorRecipe": {
      "type": "structure",
      "members": {
        "length": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Length of the generated value"
          }
        },
        "characterSets": {
          "target": "com.onepassword.connect#GeneratorRecipeCharacterSetsList"
        },
        "excludeCharacters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "List of all characters that should be excluded from generated passwords."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The recipe is used in conjunction with the \"generate\" property to set the character set used to generate a new secure value"
      }
    },
    "com.onepassword.connect#GeneratorRecipeCharacterSetsItem": {
      "type": "enum",
      "members": {
        "LETTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LETTERS"
          }
        },
        "DIGITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIGITS"
          }
        },
        "SYMBOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYMBOLS"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#GeneratorRecipeCharacterSetsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#GeneratorRecipeCharacterSetsItem"
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemRequestFieldsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#FieldInput"
      },
      "traits": {}
    },
    "com.onepassword.connect#FileInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the file"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the file"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size in bytes of the file"
          }
        },
        "section": {
          "target": "com.onepassword.connect#FileInputSection",
          "traits": {
            "smithy.api#documentation": "For files that are in a section, this field describes the section."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded contents of the file. Only set if size <= OP_MAX_INLINE_FILE_SIZE_KB kb and `inline_files` is set to `true`."
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#FileInputSection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "For files that are in a section, this field describes the section."
      }
    },
    "com.onepassword.connect#CreateVaultItemRequestFilesList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#FileInput"
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemRequest": {
      "type": "structure",
      "members": {
        "vaultUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Vault to create an Item in"
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "vault": {
          "target": "com.onepassword.connect#CreateVaultItemRequestVault",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "category": {
          "target": "com.onepassword.connect#CreateVaultItemRequestCategory",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "urls": {
          "target": "com.onepassword.connect#CreateVaultItemRequestUrlsList"
        },
        "favorite": {
          "target": "smithy.api#Boolean"
        },
        "tags": {
          "target": "com.onepassword.connect#CreateVaultItemRequestTagsList"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "sections": {
          "target": "com.onepassword.connect#CreateVaultItemRequestSectionsList"
        },
        "fields": {
          "target": "com.onepassword.connect#CreateVaultItemRequestFieldsList"
        },
        "files": {
          "target": "com.onepassword.connect#CreateVaultItemRequestFilesList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.onepassword.connect#CreateVaultItemResponseVault": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemResponseCategory": {
      "type": "enum",
      "members": {
        "LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN"
          }
        },
        "PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD"
          }
        },
        "API_CREDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_CREDENTIAL"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER"
          }
        },
        "DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE"
          }
        },
        "CREDIT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDIT_CARD"
          }
        },
        "MEMBERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP"
          }
        },
        "PASSPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSPORT"
          }
        },
        "SOFTWARE_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE_LICENSE"
          }
        },
        "OUTDOOR_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTDOOR_LICENSE"
          }
        },
        "SECURE_NOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_NOTE"
          }
        },
        "WIRELESS_ROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIRELESS_ROUTER"
          }
        },
        "BANK_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BANK_ACCOUNT"
          }
        },
        "DRIVER_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVER_LICENSE"
          }
        },
        "IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY"
          }
        },
        "REWARD_PROGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REWARD_PROGRAM"
          }
        },
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT"
          }
        },
        "EMAIL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_ACCOUNT"
          }
        },
        "SOCIAL_SECURITY_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_SECURITY_NUMBER"
          }
        },
        "MEDICAL_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDICAL_RECORD"
          }
        },
        "SSH_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSH_KEY"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemResponseUrlsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "primary": {
          "target": "smithy.api#Boolean"
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemResponseUrlsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#CreateVaultItemResponseUrlsItem"
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemResponseState": {
      "type": "enum",
      "members": {
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemResponseSectionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemResponseSectionsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#CreateVaultItemResponseSectionsItem"
      },
      "traits": {}
    },
    "com.onepassword.connect#Field": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "section": {
          "target": "com.onepassword.connect#FieldSection"
        },
        "type": {
          "target": "com.onepassword.connect#FieldType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "purpose": {
          "target": "com.onepassword.connect#FieldPurpose",
          "traits": {
            "smithy.api#documentation": "Some item types, Login and Password, have fields used for autofill. This property indicates that purpose and is required for some item types."
          }
        },
        "label": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        },
        "generate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If value is not present then a new value should be generated for this field"
          }
        },
        "recipe": {
          "target": "com.onepassword.connect#GeneratorRecipe"
        },
        "entropy": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "For fields with a purpose of `PASSWORD` this is the entropy of the value"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#FieldSection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#FieldType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL"
          }
        },
        "CONCEALED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONCEALED"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL"
          }
        },
        "TOTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOTP"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "MONTH_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTH_YEAR"
          }
        },
        "MENU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MENU"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#FieldPurpose": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "USERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USERNAME"
          }
        },
        "PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD"
          }
        },
        "NOTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTES"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Some item types, Login and Password, have fields used for autofill. This property indicates that purpose and is required for some item types."
      }
    },
    "com.onepassword.connect#CreateVaultItemResponseFieldsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#Field"
      },
      "traits": {}
    },
    "com.onepassword.connect#File": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the file"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the file"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size in bytes of the file"
          }
        },
        "content_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path of the Connect API that can be used to download the contents of this file."
          }
        },
        "section": {
          "target": "com.onepassword.connect#FileSection",
          "traits": {
            "smithy.api#documentation": "For files that are in a section, this field describes the section."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded contents of the file. Only set if size <= OP_MAX_INLINE_FILE_SIZE_KB kb and `inline_files` is set to `true`."
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#FileSection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "For files that are in a section, this field describes the section."
      }
    },
    "com.onepassword.connect#CreateVaultItemResponseFilesList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#File"
      },
      "traits": {}
    },
    "com.onepassword.connect#CreateVaultItemResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "vault": {
          "target": "com.onepassword.connect#CreateVaultItemResponseVault",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "category": {
          "target": "com.onepassword.connect#CreateVaultItemResponseCategory",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "urls": {
          "target": "com.onepassword.connect#CreateVaultItemResponseUrlsList"
        },
        "favorite": {
          "target": "smithy.api#Boolean"
        },
        "tags": {
          "target": "com.onepassword.connect#CreateVaultItemResponseTagsList"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "state": {
          "target": "com.onepassword.connect#CreateVaultItemResponseState"
        },
        "createdAt": {
          "target": "smithy.api#String"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        },
        "lastEditedBy": {
          "target": "smithy.api#String"
        },
        "sections": {
          "target": "com.onepassword.connect#CreateVaultItemResponseSectionsList"
        },
        "fields": {
          "target": "com.onepassword.connect#CreateVaultItemResponseFieldsList"
        },
        "files": {
          "target": "com.onepassword.connect#CreateVaultItemResponseFilesList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.onepassword.connect#CreateVaultItem": {
      "type": "operation",
      "input": {
        "target": "com.onepassword.connect#CreateVaultItemRequest"
      },
      "output": {
        "target": "com.onepassword.connect#CreateVaultItemResponse"
      },
      "errors": [
        {
          "target": "com.onepassword.connect#BadRequest"
        },
        {
          "target": "com.onepassword.connect#Forbidden"
        },
        {
          "target": "com.onepassword.connect#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vaults/{vaultUuid}/items",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Item"
      }
    },
    "com.onepassword.connect#GetVaultItemByIdRequest": {
      "type": "structure",
      "members": {
        "vaultUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Vault to fetch Item from"
          }
        },
        "itemUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Item to fetch"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.onepassword.connect#GetVaultItemByIdResponseVault": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#GetVaultItemByIdResponseCategory": {
      "type": "enum",
      "members": {
        "LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN"
          }
        },
        "PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD"
          }
        },
        "API_CREDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_CREDENTIAL"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER"
          }
        },
        "DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE"
          }
        },
        "CREDIT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDIT_CARD"
          }
        },
        "MEMBERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP"
          }
        },
        "PASSPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSPORT"
          }
        },
        "SOFTWARE_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE_LICENSE"
          }
        },
        "OUTDOOR_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTDOOR_LICENSE"
          }
        },
        "SECURE_NOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_NOTE"
          }
        },
        "WIRELESS_ROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIRELESS_ROUTER"
          }
        },
        "BANK_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BANK_ACCOUNT"
          }
        },
        "DRIVER_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVER_LICENSE"
          }
        },
        "IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY"
          }
        },
        "REWARD_PROGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REWARD_PROGRAM"
          }
        },
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT"
          }
        },
        "EMAIL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_ACCOUNT"
          }
        },
        "SOCIAL_SECURITY_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_SECURITY_NUMBER"
          }
        },
        "MEDICAL_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDICAL_RECORD"
          }
        },
        "SSH_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSH_KEY"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#GetVaultItemByIdResponseUrlsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "primary": {
          "target": "smithy.api#Boolean"
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#GetVaultItemByIdResponseUrlsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#GetVaultItemByIdResponseUrlsItem"
      },
      "traits": {}
    },
    "com.onepassword.connect#GetVaultItemByIdResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.onepassword.connect#GetVaultItemByIdResponseState": {
      "type": "enum",
      "members": {
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#GetVaultItemByIdResponseSectionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#GetVaultItemByIdResponseSectionsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#GetVaultItemByIdResponseSectionsItem"
      },
      "traits": {}
    },
    "com.onepassword.connect#GetVaultItemByIdResponseFieldsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#Field"
      },
      "traits": {}
    },
    "com.onepassword.connect#GetVaultItemByIdResponseFilesList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#File"
      },
      "traits": {}
    },
    "com.onepassword.connect#GetVaultItemByIdResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "vault": {
          "target": "com.onepassword.connect#GetVaultItemByIdResponseVault",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "category": {
          "target": "com.onepassword.connect#GetVaultItemByIdResponseCategory",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "urls": {
          "target": "com.onepassword.connect#GetVaultItemByIdResponseUrlsList"
        },
        "favorite": {
          "target": "smithy.api#Boolean"
        },
        "tags": {
          "target": "com.onepassword.connect#GetVaultItemByIdResponseTagsList"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "state": {
          "target": "com.onepassword.connect#GetVaultItemByIdResponseState"
        },
        "createdAt": {
          "target": "smithy.api#String"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        },
        "lastEditedBy": {
          "target": "smithy.api#String"
        },
        "sections": {
          "target": "com.onepassword.connect#GetVaultItemByIdResponseSectionsList"
        },
        "fields": {
          "target": "com.onepassword.connect#GetVaultItemByIdResponseFieldsList"
        },
        "files": {
          "target": "com.onepassword.connect#GetVaultItemByIdResponseFilesList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.onepassword.connect#GetVaultItemById": {
      "type": "operation",
      "input": {
        "target": "com.onepassword.connect#GetVaultItemByIdRequest"
      },
      "output": {
        "target": "com.onepassword.connect#GetVaultItemByIdResponse"
      },
      "errors": [
        {
          "target": "com.onepassword.connect#Forbidden"
        },
        {
          "target": "com.onepassword.connect#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vaults/{vaultUuid}/items/{itemUuid}",
          "code": 200
        },
        "smithy.api#documentation": "Get the details of an Item"
      }
    },
    "com.onepassword.connect#UpdateVaultItemRequestVault": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemRequestCategory": {
      "type": "enum",
      "members": {
        "LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN"
          }
        },
        "PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD"
          }
        },
        "API_CREDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_CREDENTIAL"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER"
          }
        },
        "DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE"
          }
        },
        "CREDIT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDIT_CARD"
          }
        },
        "MEMBERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP"
          }
        },
        "PASSPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSPORT"
          }
        },
        "SOFTWARE_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE_LICENSE"
          }
        },
        "OUTDOOR_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTDOOR_LICENSE"
          }
        },
        "SECURE_NOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_NOTE"
          }
        },
        "WIRELESS_ROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIRELESS_ROUTER"
          }
        },
        "BANK_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BANK_ACCOUNT"
          }
        },
        "DRIVER_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVER_LICENSE"
          }
        },
        "IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY"
          }
        },
        "REWARD_PROGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REWARD_PROGRAM"
          }
        },
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT"
          }
        },
        "EMAIL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_ACCOUNT"
          }
        },
        "SOCIAL_SECURITY_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_SECURITY_NUMBER"
          }
        },
        "MEDICAL_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDICAL_RECORD"
          }
        },
        "SSH_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSH_KEY"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemRequestUrlsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "primary": {
          "target": "smithy.api#Boolean"
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemRequestUrlsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#UpdateVaultItemRequestUrlsItem"
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemRequestSectionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemRequestSectionsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#UpdateVaultItemRequestSectionsItem"
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemRequestFieldsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#FieldInput"
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemRequestFilesList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#FileInput"
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemRequest": {
      "type": "structure",
      "members": {
        "vaultUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Item's Vault"
          }
        },
        "itemUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Item to update"
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "vault": {
          "target": "com.onepassword.connect#UpdateVaultItemRequestVault",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "category": {
          "target": "com.onepassword.connect#UpdateVaultItemRequestCategory",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "urls": {
          "target": "com.onepassword.connect#UpdateVaultItemRequestUrlsList"
        },
        "favorite": {
          "target": "smithy.api#Boolean"
        },
        "tags": {
          "target": "com.onepassword.connect#UpdateVaultItemRequestTagsList"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "sections": {
          "target": "com.onepassword.connect#UpdateVaultItemRequestSectionsList"
        },
        "fields": {
          "target": "com.onepassword.connect#UpdateVaultItemRequestFieldsList"
        },
        "files": {
          "target": "com.onepassword.connect#UpdateVaultItemRequestFilesList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.onepassword.connect#UpdateVaultItemResponseVault": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemResponseCategory": {
      "type": "enum",
      "members": {
        "LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN"
          }
        },
        "PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD"
          }
        },
        "API_CREDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_CREDENTIAL"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER"
          }
        },
        "DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE"
          }
        },
        "CREDIT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDIT_CARD"
          }
        },
        "MEMBERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP"
          }
        },
        "PASSPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSPORT"
          }
        },
        "SOFTWARE_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE_LICENSE"
          }
        },
        "OUTDOOR_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTDOOR_LICENSE"
          }
        },
        "SECURE_NOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_NOTE"
          }
        },
        "WIRELESS_ROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIRELESS_ROUTER"
          }
        },
        "BANK_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BANK_ACCOUNT"
          }
        },
        "DRIVER_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVER_LICENSE"
          }
        },
        "IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY"
          }
        },
        "REWARD_PROGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REWARD_PROGRAM"
          }
        },
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT"
          }
        },
        "EMAIL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_ACCOUNT"
          }
        },
        "SOCIAL_SECURITY_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_SECURITY_NUMBER"
          }
        },
        "MEDICAL_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDICAL_RECORD"
          }
        },
        "SSH_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSH_KEY"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemResponseUrlsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "primary": {
          "target": "smithy.api#Boolean"
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemResponseUrlsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#UpdateVaultItemResponseUrlsItem"
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemResponseState": {
      "type": "enum",
      "members": {
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemResponseSectionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemResponseSectionsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#UpdateVaultItemResponseSectionsItem"
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemResponseFieldsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#Field"
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemResponseFilesList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#File"
      },
      "traits": {}
    },
    "com.onepassword.connect#UpdateVaultItemResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "vault": {
          "target": "com.onepassword.connect#UpdateVaultItemResponseVault",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "category": {
          "target": "com.onepassword.connect#UpdateVaultItemResponseCategory",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "urls": {
          "target": "com.onepassword.connect#UpdateVaultItemResponseUrlsList"
        },
        "favorite": {
          "target": "smithy.api#Boolean"
        },
        "tags": {
          "target": "com.onepassword.connect#UpdateVaultItemResponseTagsList"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "state": {
          "target": "com.onepassword.connect#UpdateVaultItemResponseState"
        },
        "createdAt": {
          "target": "smithy.api#String"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        },
        "lastEditedBy": {
          "target": "smithy.api#String"
        },
        "sections": {
          "target": "com.onepassword.connect#UpdateVaultItemResponseSectionsList"
        },
        "fields": {
          "target": "com.onepassword.connect#UpdateVaultItemResponseFieldsList"
        },
        "files": {
          "target": "com.onepassword.connect#UpdateVaultItemResponseFilesList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.onepassword.connect#UpdateVaultItem": {
      "type": "operation",
      "input": {
        "target": "com.onepassword.connect#UpdateVaultItemRequest"
      },
      "output": {
        "target": "com.onepassword.connect#UpdateVaultItemResponse"
      },
      "errors": [
        {
          "target": "com.onepassword.connect#BadRequest"
        },
        {
          "target": "com.onepassword.connect#Forbidden"
        },
        {
          "target": "com.onepassword.connect#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/vaults/{vaultUuid}/items/{itemUuid}",
          "code": 200
        },
        "smithy.api#documentation": "Update an Item"
      }
    },
    "com.onepassword.connect#Patch": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#PatchItem"
      },
      "traits": {}
    },
    "com.onepassword.connect#PatchItemOp": {
      "type": "enum",
      "members": {
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "add"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remove"
          }
        },
        "REPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "replace"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#PatchItem": {
      "type": "structure",
      "members": {
        "op": {
          "target": "com.onepassword.connect#PatchItemOp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An RFC6901 JSON Pointer pointing to the Item document, an Item Attribute, and Item Field by Field ID, or an Item Field Attribute",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#PatchVaultItemRequest": {
      "type": "structure",
      "members": {
        "vaultUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Vault the item is in"
          }
        },
        "itemUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Item to update"
          }
        },
        "body": {
          "target": "com.onepassword.connect#Patch",
          "traits": {
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.onepassword.connect#PatchVaultItemResponseVault": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#PatchVaultItemResponseCategory": {
      "type": "enum",
      "members": {
        "LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN"
          }
        },
        "PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD"
          }
        },
        "API_CREDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_CREDENTIAL"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER"
          }
        },
        "DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE"
          }
        },
        "CREDIT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDIT_CARD"
          }
        },
        "MEMBERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP"
          }
        },
        "PASSPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSPORT"
          }
        },
        "SOFTWARE_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE_LICENSE"
          }
        },
        "OUTDOOR_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTDOOR_LICENSE"
          }
        },
        "SECURE_NOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_NOTE"
          }
        },
        "WIRELESS_ROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIRELESS_ROUTER"
          }
        },
        "BANK_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BANK_ACCOUNT"
          }
        },
        "DRIVER_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVER_LICENSE"
          }
        },
        "IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY"
          }
        },
        "REWARD_PROGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REWARD_PROGRAM"
          }
        },
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT"
          }
        },
        "EMAIL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_ACCOUNT"
          }
        },
        "SOCIAL_SECURITY_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_SECURITY_NUMBER"
          }
        },
        "MEDICAL_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDICAL_RECORD"
          }
        },
        "SSH_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSH_KEY"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#PatchVaultItemResponseUrlsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "primary": {
          "target": "smithy.api#Boolean"
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#PatchVaultItemResponseUrlsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#PatchVaultItemResponseUrlsItem"
      },
      "traits": {}
    },
    "com.onepassword.connect#PatchVaultItemResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.onepassword.connect#PatchVaultItemResponseState": {
      "type": "enum",
      "members": {
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#PatchVaultItemResponseSectionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.onepassword.connect#PatchVaultItemResponseSectionsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#PatchVaultItemResponseSectionsItem"
      },
      "traits": {}
    },
    "com.onepassword.connect#PatchVaultItemResponseFieldsList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#Field"
      },
      "traits": {}
    },
    "com.onepassword.connect#PatchVaultItemResponseFilesList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#File"
      },
      "traits": {}
    },
    "com.onepassword.connect#PatchVaultItemResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "vault": {
          "target": "com.onepassword.connect#PatchVaultItemResponseVault",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "category": {
          "target": "com.onepassword.connect#PatchVaultItemResponseCategory",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "urls": {
          "target": "com.onepassword.connect#PatchVaultItemResponseUrlsList"
        },
        "favorite": {
          "target": "smithy.api#Boolean"
        },
        "tags": {
          "target": "com.onepassword.connect#PatchVaultItemResponseTagsList"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "state": {
          "target": "com.onepassword.connect#PatchVaultItemResponseState"
        },
        "createdAt": {
          "target": "smithy.api#String"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        },
        "lastEditedBy": {
          "target": "smithy.api#String"
        },
        "sections": {
          "target": "com.onepassword.connect#PatchVaultItemResponseSectionsList"
        },
        "fields": {
          "target": "com.onepassword.connect#PatchVaultItemResponseFieldsList"
        },
        "files": {
          "target": "com.onepassword.connect#PatchVaultItemResponseFilesList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.onepassword.connect#PatchVaultItem": {
      "type": "operation",
      "input": {
        "target": "com.onepassword.connect#PatchVaultItemRequest"
      },
      "output": {
        "target": "com.onepassword.connect#PatchVaultItemResponse"
      },
      "errors": [
        {
          "target": "com.onepassword.connect#Forbidden"
        },
        {
          "target": "com.onepassword.connect#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/vaults/{vaultUuid}/items/{itemUuid}",
          "code": 200
        },
        "smithy.api#documentation": "Update a subset of Item attributes\n\nApplies a modified [RFC6902 JSON Patch](https://tools.ietf.org/html/rfc6902) document to an Item or ItemField. This endpoint only supports `add`, `remove` and `replace` operations.\n\nWhen modifying a specific ItemField, the ItemField's ID in the `path` attribute of the operation object: `/fields/{fieldId}`"
      }
    },
    "com.onepassword.connect#DeleteVaultItemRequest": {
      "type": "structure",
      "members": {
        "vaultUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Vault the item is in"
          }
        },
        "itemUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Item to update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.onepassword.connect#DeleteVaultItem": {
      "type": "operation",
      "input": {
        "target": "com.onepassword.connect#DeleteVaultItemRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.onepassword.connect#Forbidden"
        },
        {
          "target": "com.onepassword.connect#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vaults/{vaultUuid}/items/{itemUuid}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an Item"
      }
    },
    "com.onepassword.connect#GetItemFilesRequest": {
      "type": "structure",
      "members": {
        "vaultUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Vault to fetch Items from"
          }
        },
        "itemUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Item to fetch files from"
          }
        },
        "inline_files": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "inline_files",
            "smithy.api#documentation": "Tells server to return the base64-encoded file contents in the response."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.onepassword.connect#GetItemFilesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#File"
      },
      "traits": {}
    },
    "com.onepassword.connect#GetItemFilesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.onepassword.connect#GetItemFilesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.onepassword.connect#GetItemFiles": {
      "type": "operation",
      "input": {
        "target": "com.onepassword.connect#GetItemFilesRequest"
      },
      "output": {
        "target": "com.onepassword.connect#GetItemFilesResponse"
      },
      "errors": [
        {
          "target": "com.onepassword.connect#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vaults/{vaultUuid}/items/{itemUuid}/files",
          "code": 200
        },
        "smithy.api#documentation": "Get all the files inside an Item"
      }
    },
    "com.onepassword.connect#GetDetailsOfFileByIdRequest": {
      "type": "structure",
      "members": {
        "vaultUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Vault to fetch Item from"
          }
        },
        "itemUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Item to fetch File from"
          }
        },
        "fileUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the File to fetch"
          }
        },
        "inline_files": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "inline_files",
            "smithy.api#documentation": "Tells server to return the base64-encoded file contents in the response."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.onepassword.connect#GetDetailsOfFileById": {
      "type": "operation",
      "input": {
        "target": "com.onepassword.connect#GetDetailsOfFileByIdRequest"
      },
      "output": {
        "target": "com.onepassword.connect#File"
      },
      "errors": [
        {
          "target": "com.onepassword.connect#Forbidden"
        },
        {
          "target": "com.onepassword.connect#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vaults/{vaultUuid}/items/{itemUuid}/files/{fileUuid}",
          "code": 200
        },
        "smithy.api#documentation": "Get the details of a File"
      }
    },
    "com.onepassword.connect#DownloadFileByIDRequest": {
      "type": "structure",
      "members": {
        "vaultUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Vault the item is in"
          }
        },
        "itemUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the Item the File is in"
          }
        },
        "fileUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "UUID of the file to get content from"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.onepassword.connect#DownloadFileByID": {
      "type": "operation",
      "input": {
        "target": "com.onepassword.connect#DownloadFileByIDRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.onepassword.connect#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vaults/{vaultUuid}/items/{itemUuid}/files/{fileUuid}/content",
          "code": 200
        },
        "smithy.api#documentation": "Get the content of a File"
      }
    },
    "com.onepassword.connect#GetHeartbeat": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/heartbeat",
          "code": 200
        },
        "smithy.api#documentation": "Ping the server for liveness"
      }
    },
    "com.onepassword.connect#ServiceDependency": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable message for explaining the current state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of a registered server dependency."
      }
    },
    "com.onepassword.connect#GetServerHealthResponseDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.onepassword.connect#ServiceDependency"
      },
      "traits": {}
    },
    "com.onepassword.connect#GetServerHealthResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Connect server's version",
            "smithy.api#required": {}
          }
        },
        "dependencies": {
          "target": "com.onepassword.connect#GetServerHealthResponseDependenciesList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.onepassword.connect#GetServerHealth": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.onepassword.connect#GetServerHealthResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/health",
          "code": 200
        },
        "smithy.api#documentation": "Get state of the server and its dependencies."
      }
    },
    "com.onepassword.connect#GetPrometheusMetrics": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/metrics",
          "code": 200
        },
        "smithy.api#documentation": "Query server for exposed Prometheus metrics\n\nSee Prometheus documentation for a complete data model."
      }
    },
    "com.onepassword.connect#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.onepassword.connect#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.onepassword.connect#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.onepassword.connect#Onepassword": {
      "type": "service",
      "version": "1.7.1",
      "operations": [
        {
          "target": "com.onepassword.connect#GetApiActivity"
        },
        {
          "target": "com.onepassword.connect#GetVaults"
        },
        {
          "target": "com.onepassword.connect#GetVaultById"
        },
        {
          "target": "com.onepassword.connect#GetVaultItems"
        },
        {
          "target": "com.onepassword.connect#CreateVaultItem"
        },
        {
          "target": "com.onepassword.connect#GetVaultItemById"
        },
        {
          "target": "com.onepassword.connect#UpdateVaultItem"
        },
        {
          "target": "com.onepassword.connect#PatchVaultItem"
        },
        {
          "target": "com.onepassword.connect#DeleteVaultItem"
        },
        {
          "target": "com.onepassword.connect#GetItemFiles"
        },
        {
          "target": "com.onepassword.connect#GetDetailsOfFileById"
        },
        {
          "target": "com.onepassword.connect#DownloadFileByID"
        },
        {
          "target": "com.onepassword.connect#GetHeartbeat"
        },
        {
          "target": "com.onepassword.connect#GetServerHealth"
        },
        {
          "target": "com.onepassword.connect#GetPrometheusMetrics"
        }
      ],
      "traits": {
        "smithy.api#title": "1Password Connect",
        "smithy.api#documentation": "REST API interface for 1Password Connect."
      }
    }
  }
}
