{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.ai_gateway#ListAiGatewayRulesRequestIncludeDisabled": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.ai_gateway#ListAiGatewayRulesRequest": {
      "type": "structure",
      "members": {
        "includeDisabled": {
          "target": "com.vercel.ai_gateway#ListAiGatewayRulesRequestIncludeDisabled",
          "traits": {
            "smithy.api#httpQuery": "includeDisabled"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.ai_gateway#AiGatewayRuleList": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.vercel.ai_gateway#AiGatewayRuleListRulesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.ai_gateway#AiGatewayRule": {
      "type": "structure",
      "members": {
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.ai_gateway#AiGatewayRuleType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "match": {
          "target": "com.vercel.ai_gateway#AiGatewayRuleMatch"
        },
        "action": {
          "target": "com.vercel.ai_gateway#AiGatewayRuleAction"
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "createdBy": {
          "target": "smithy.api#String"
        },
        "updatedBy": {
          "target": "smithy.api#String"
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public response shape for AI Gateway routing rules. Used so OpenAPI generation can avoid ElectroDB's recursive EntityItem types."
      }
    },
    "com.vercel.ai_gateway#AiGatewayRuleType": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "REWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rewrite"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.ai_gateway#AiGatewayRuleMatch": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.ai_gateway#AiGatewayRuleAction": {
      "type": "structure",
      "members": {
        "rewriteModel": {
          "target": "smithy.api#String"
        },
        "reason": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.ai_gateway#AiGatewayRuleListRulesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.ai_gateway#AiGatewayRule"
      },
      "traits": {}
    },
    "com.vercel.ai_gateway#ListAiGatewayRules": {
      "type": "operation",
      "input": {
        "target": "com.vercel.ai_gateway#ListAiGatewayRulesRequest"
      },
      "output": {
        "target": "com.vercel.ai_gateway#AiGatewayRuleList"
      },
      "errors": [
        {
          "target": "com.vercel.ai_gateway#BadRequest"
        },
        {
          "target": "com.vercel.ai_gateway#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/ai-gateway/rules",
          "code": 200
        },
        "smithy.api#documentation": "List rules\n\nList the authenticated team's routing rules"
      }
    },
    "com.vercel.ai_gateway#CreateAiGatewayRuleRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.ai_gateway#CreateAiGatewayRule": {
      "type": "operation",
      "input": {
        "target": "com.vercel.ai_gateway#CreateAiGatewayRuleRequest"
      },
      "output": {
        "target": "com.vercel.ai_gateway#AiGatewayRule"
      },
      "errors": [
        {
          "target": "com.vercel.ai_gateway#BadRequest"
        },
        {
          "target": "com.vercel.ai_gateway#Forbidden"
        },
        {
          "target": "com.vercel.ai_gateway#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/ai-gateway/rules",
          "code": 200
        },
        "smithy.api#documentation": "Create rule\n\nCreate a routing rule"
      }
    },
    "com.vercel.ai_gateway#UpdateAiGatewayRuleRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.ai_gateway#UpdateAiGatewayRule": {
      "type": "operation",
      "input": {
        "target": "com.vercel.ai_gateway#UpdateAiGatewayRuleRequest"
      },
      "output": {
        "target": "com.vercel.ai_gateway#AiGatewayRule"
      },
      "errors": [
        {
          "target": "com.vercel.ai_gateway#BadRequest"
        },
        {
          "target": "com.vercel.ai_gateway#Forbidden"
        },
        {
          "target": "com.vercel.ai_gateway#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/ai-gateway/rules",
          "code": 200
        },
        "smithy.api#documentation": "Update rule\n\nUpdate a routing rule (enabled, action, or description)"
      }
    },
    "com.vercel.ai_gateway#DeleteAiGatewayRuleRequest": {
      "type": "structure",
      "members": {
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ruleId",
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.ai_gateway#DeleteAiGatewayRuleResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.ai_gateway#DeleteAiGatewayRule": {
      "type": "operation",
      "input": {
        "target": "com.vercel.ai_gateway#DeleteAiGatewayRuleRequest"
      },
      "output": {
        "target": "com.vercel.ai_gateway#DeleteAiGatewayRuleResponse"
      },
      "errors": [
        {
          "target": "com.vercel.ai_gateway#BadRequest"
        },
        {
          "target": "com.vercel.ai_gateway#Forbidden"
        },
        {
          "target": "com.vercel.ai_gateway#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/ai-gateway/rules",
          "code": 200
        },
        "smithy.api#documentation": "Delete rule\n\nDelete a routing rule (soft delete)"
      }
    },
    "com.vercel.ai_gateway#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.vercel.ai_gateway#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.vercel.ai_gateway#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.vercel.ai_gateway#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.vercel.ai_gateway#AiGateway": {
      "type": "service",
      "version": "0.0.1",
      "operations": [
        {
          "target": "com.vercel.ai_gateway#ListAiGatewayRules"
        },
        {
          "target": "com.vercel.ai_gateway#CreateAiGatewayRule"
        },
        {
          "target": "com.vercel.ai_gateway#UpdateAiGatewayRule"
        },
        {
          "target": "com.vercel.ai_gateway#DeleteAiGatewayRule"
        }
      ],
      "traits": {
        "smithy.api#title": "Vercel API",
        "smithy.api#documentation": "Vercel combines the best developer experience with an obsessive focus on end-user performance. Our platform enables frontend teams to do their best work."
      }
    }
  }
}
