{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.bulk_redirects#GetRedirectsRequestDiffCase1": {
      "type": "enum",
      "members": {
        "ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "only"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsRequestDiff": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.vercel.bulk_redirects#GetRedirectsRequestDiffCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsRequestSortBy": {
      "type": "enum",
      "members": {
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "source"
          }
        },
        "DESTINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "destination"
          }
        },
        "STATUSCODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "statusCode"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {}
          }
        },
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "versionId"
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        },
        "diff": {
          "target": "com.vercel.bulk_redirects#GetRedirectsRequestDiff",
          "traits": {
            "smithy.api#httpQuery": "diff"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page"
          }
        },
        "sort_by": {
          "target": "com.vercel.bulk_redirects#GetRedirectsRequestSortBy",
          "traits": {
            "smithy.api#httpQuery": "sort_by"
          }
        },
        "sort_order": {
          "target": "com.vercel.bulk_redirects#GetRedirectsRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sort_order"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase0Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase1Version": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the version.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version.",
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
          }
        },
        "isStaging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version has not been promoted to production yet and is not serving end users."
          }
        },
        "isLive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is currently live in production."
          }
        },
        "redirectCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of redirects in this version."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The staging link for previewing redirects in this version."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase1RedirectsItem": {
      "type": "structure",
      "members": {
        "statusCode": {
          "target": "smithy.api#Double"
        },
        "permanent": {
          "target": "smithy.api#Boolean"
        },
        "sensitive": {
          "target": "smithy.api#Boolean"
        },
        "caseSensitive": {
          "target": "smithy.api#Boolean"
        },
        "query": {
          "target": "smithy.api#Boolean"
        },
        "preserveQueryParams": {
          "target": "smithy.api#Boolean"
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase1RedirectsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase1RedirectsItem"
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase1Pagination": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numPages": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase1": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase1Version",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "redirects": {
          "target": "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase1RedirectsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase1Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase2RedirectsItem": {
      "type": "structure",
      "members": {
        "statusCode": {
          "target": "smithy.api#Double"
        },
        "permanent": {
          "target": "smithy.api#Boolean"
        },
        "sensitive": {
          "target": "smithy.api#Boolean"
        },
        "caseSensitive": {
          "target": "smithy.api#Boolean"
        },
        "query": {
          "target": "smithy.api#Boolean"
        },
        "preserveQueryParams": {
          "target": "smithy.api#Boolean"
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase2RedirectsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase2RedirectsItem"
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase2Version": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the version.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version.",
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
          }
        },
        "isStaging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version has not been promoted to production yet and is not serving end users."
          }
        },
        "isLive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is currently live in production."
          }
        },
        "redirectCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of redirects in this version."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The staging link for previewing redirects in this version."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase2Pagination": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numPages": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase2": {
      "type": "structure",
      "members": {
        "redirects": {
          "target": "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase2RedirectsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase2Version"
        },
        "pagination": {
          "target": "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase2Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase0Map"
        },
        "Case1": {
          "target": "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase1"
        },
        "Case2": {
          "target": "com.vercel.bulk_redirects#GetRedirectsResponseBodyCase2"
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetRedirectsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.bulk_redirects#GetRedirectsResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.bulk_redirects#GetRedirects": {
      "type": "operation",
      "input": {
        "target": "com.vercel.bulk_redirects#GetRedirectsRequest"
      },
      "output": {
        "target": "com.vercel.bulk_redirects#GetRedirectsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.bulk_redirects#BadRequest"
        },
        {
          "target": "com.vercel.bulk_redirects#Forbidden"
        },
        {
          "target": "com.vercel.bulk_redirects#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/bulk-redirects",
          "code": 200
        },
        "smithy.api#documentation": "Gets project-level redirects.\n\nGet the version history for a project's bulk redirects"
      }
    },
    "com.vercel.bulk_redirects#StageRedirectsRequestRedirectsItemStatusCode": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#StageRedirectsRequestRedirectsItem": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statusCode": {
          "target": "com.vercel.bulk_redirects#StageRedirectsRequestRedirectsItemStatusCode"
        },
        "permanent": {
          "target": "smithy.api#Boolean"
        },
        "caseSensitive": {
          "target": "smithy.api#Boolean"
        },
        "query": {
          "target": "smithy.api#Boolean"
        },
        "preserveQueryParams": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#StageRedirectsRequestRedirectsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.bulk_redirects#StageRedirectsRequestRedirectsItem"
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#StageRedirectsRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "overwrite": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "redirects": {
          "target": "com.vercel.bulk_redirects#StageRedirectsRequestRedirectsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.bulk_redirects#StageRedirectsResponseVersion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the version.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version.",
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
          }
        },
        "isStaging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version has not been promoted to production yet and is not serving end users."
          }
        },
        "isLive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is currently live in production."
          }
        },
        "redirectCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of redirects in this version."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The staging link for previewing redirects in this version."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#StageRedirectsResponse": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "com.vercel.bulk_redirects#StageRedirectsResponseVersion",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.bulk_redirects#StageRedirects": {
      "type": "operation",
      "input": {
        "target": "com.vercel.bulk_redirects#StageRedirectsRequest"
      },
      "output": {
        "target": "com.vercel.bulk_redirects#StageRedirectsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.bulk_redirects#BadRequest"
        },
        {
          "target": "com.vercel.bulk_redirects#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/bulk-redirects",
          "code": 200
        },
        "smithy.api#documentation": "Stages new redirects for a project.\n\nStages new redirects for a project and returns the new version."
      }
    },
    "com.vercel.bulk_redirects#EditRedirectRequestRedirect": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "smithy.api#String"
        },
        "statusCode": {
          "target": "smithy.api#Double"
        },
        "permanent": {
          "target": "smithy.api#Boolean"
        },
        "caseSensitive": {
          "target": "smithy.api#Boolean"
        },
        "query": {
          "target": "smithy.api#Boolean"
        },
        "preserveQueryParams": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "The redirect object to edit. The source field is used to match the redirect to modify."
      }
    },
    "com.vercel.bulk_redirects#EditRedirectRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "redirect": {
          "target": "com.vercel.bulk_redirects#EditRedirectRequestRedirect",
          "traits": {
            "smithy.api#documentation": "The redirect object to edit. The source field is used to match the redirect to modify.",
            "smithy.api#required": {}
          }
        },
        "restore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, restores the redirect from the latest production version to staging."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.bulk_redirects#EditRedirectResponseVersion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the version.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version.",
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
          }
        },
        "isStaging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version has not been promoted to production yet and is not serving end users."
          }
        },
        "isLive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is currently live in production."
          }
        },
        "redirectCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of redirects in this version."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The staging link for previewing redirects in this version."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#EditRedirectResponse": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "com.vercel.bulk_redirects#EditRedirectResponseVersion",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.bulk_redirects#EditRedirect": {
      "type": "operation",
      "input": {
        "target": "com.vercel.bulk_redirects#EditRedirectRequest"
      },
      "output": {
        "target": "com.vercel.bulk_redirects#EditRedirectResponse"
      },
      "errors": [
        {
          "target": "com.vercel.bulk_redirects#BadRequest"
        },
        {
          "target": "com.vercel.bulk_redirects#Forbidden"
        },
        {
          "target": "com.vercel.bulk_redirects#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/bulk-redirects",
          "code": 200
        },
        "smithy.api#documentation": "Edit a project-level redirect.\n\nEdits a single redirect identified by its source path. Stages a new change with the modified redirect and returns the alias for the new version in the response."
      }
    },
    "com.vercel.bulk_redirects#DeleteRedirectsRequestRedirectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The redirects to delete. The source of the redirect is used to match the redirect to delete."
      }
    },
    "com.vercel.bulk_redirects#DeleteRedirectsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "redirects": {
          "target": "com.vercel.bulk_redirects#DeleteRedirectsRequestRedirectsList",
          "traits": {
            "smithy.api#documentation": "The redirects to delete. The source of the redirect is used to match the redirect to delete.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.bulk_redirects#DeleteRedirectsResponseBodyCase0Version": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the version.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version.",
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
          }
        },
        "isStaging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version has not been promoted to production yet and is not serving end users."
          }
        },
        "isLive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is currently live in production."
          }
        },
        "redirectCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of redirects in this version."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The staging link for previewing redirects in this version."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#DeleteRedirectsResponseBodyCase0": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "com.vercel.bulk_redirects#DeleteRedirectsResponseBodyCase0Version",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#DeleteRedirectsResponseBodyCase1Version": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the version.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version.",
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
          }
        },
        "isStaging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version has not been promoted to production yet and is not serving end users."
          }
        },
        "isLive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is currently live in production."
          }
        },
        "redirectCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of redirects in this version."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The staging link for previewing redirects in this version."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#DeleteRedirectsResponseBodyCase1": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "com.vercel.bulk_redirects#DeleteRedirectsResponseBodyCase1Version",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#DeleteRedirectsResponseBodyCase2Version": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the version.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version.",
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
          }
        },
        "isStaging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version has not been promoted to production yet and is not serving end users."
          }
        },
        "isLive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is currently live in production."
          }
        },
        "redirectCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of redirects in this version."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The staging link for previewing redirects in this version."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#DeleteRedirectsResponseBodyCase2": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "com.vercel.bulk_redirects#DeleteRedirectsResponseBodyCase2Version",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#DeleteRedirectsResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.bulk_redirects#DeleteRedirectsResponseBodyCase0"
        },
        "Case1": {
          "target": "com.vercel.bulk_redirects#DeleteRedirectsResponseBodyCase1"
        },
        "Case2": {
          "target": "com.vercel.bulk_redirects#DeleteRedirectsResponseBodyCase2"
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#DeleteRedirectsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.bulk_redirects#DeleteRedirectsResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.bulk_redirects#DeleteRedirects": {
      "type": "operation",
      "input": {
        "target": "com.vercel.bulk_redirects#DeleteRedirectsRequest"
      },
      "output": {
        "target": "com.vercel.bulk_redirects#DeleteRedirectsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.bulk_redirects#BadRequest"
        },
        {
          "target": "com.vercel.bulk_redirects#Forbidden"
        },
        {
          "target": "com.vercel.bulk_redirects#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/bulk-redirects",
          "code": 200
        },
        "smithy.api#documentation": "Delete project-level redirects.\n\nDeletes the provided redirects from the latest version of the projects' bulk redirects. Stages a new change with the new redirects and returns the alias for the new version in the response."
      }
    },
    "com.vercel.bulk_redirects#RestoreRedirectsRequestRedirectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The redirects to restore. The source of the redirect is used to match the redirect to restore."
      }
    },
    "com.vercel.bulk_redirects#RestoreRedirectsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "redirects": {
          "target": "com.vercel.bulk_redirects#RestoreRedirectsRequestRedirectsList",
          "traits": {
            "smithy.api#documentation": "The redirects to restore. The source of the redirect is used to match the redirect to restore.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.bulk_redirects#RestoreRedirectsResponseVersion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the version.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version.",
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
          }
        },
        "isStaging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version has not been promoted to production yet and is not serving end users."
          }
        },
        "isLive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is currently live in production."
          }
        },
        "redirectCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of redirects in this version."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The staging link for previewing redirects in this version."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#RestoreRedirectsResponseRestoredList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#RestoreRedirectsResponseFailedToRestoreList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#RestoreRedirectsResponse": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.vercel.bulk_redirects#RestoreRedirectsResponseVersion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "restored": {
          "target": "com.vercel.bulk_redirects#RestoreRedirectsResponseRestoredList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failedToRestore": {
          "target": "com.vercel.bulk_redirects#RestoreRedirectsResponseFailedToRestoreList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.bulk_redirects#RestoreRedirects": {
      "type": "operation",
      "input": {
        "target": "com.vercel.bulk_redirects#RestoreRedirectsRequest"
      },
      "output": {
        "target": "com.vercel.bulk_redirects#RestoreRedirectsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.bulk_redirects#BadRequest"
        },
        {
          "target": "com.vercel.bulk_redirects#Forbidden"
        },
        {
          "target": "com.vercel.bulk_redirects#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/bulk-redirects/restore",
          "code": 200
        },
        "smithy.api#documentation": "Restore staged project-level redirects to their production version.\n\nRestores the provided redirects in the staging version to the value in the production version. If no production version exists, removes the redirects from staging."
      }
    },
    "com.vercel.bulk_redirects#GetVersionsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.bulk_redirects#GetVersionsResponseVersionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the version.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version.",
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
          }
        },
        "isStaging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version has not been promoted to production yet and is not serving end users."
          }
        },
        "isLive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is currently live in production."
          }
        },
        "redirectCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of redirects in this version."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The staging link for previewing redirects in this version."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetVersionsResponseVersionsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.bulk_redirects#GetVersionsResponseVersionsItem"
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#GetVersionsResponse": {
      "type": "structure",
      "members": {
        "versions": {
          "target": "com.vercel.bulk_redirects#GetVersionsResponseVersionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.bulk_redirects#GetVersions": {
      "type": "operation",
      "input": {
        "target": "com.vercel.bulk_redirects#GetVersionsRequest"
      },
      "output": {
        "target": "com.vercel.bulk_redirects#GetVersionsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.bulk_redirects#BadRequest"
        },
        {
          "target": "com.vercel.bulk_redirects#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/bulk-redirects/versions",
          "code": 200
        },
        "smithy.api#documentation": "Get the version history for a project's redirects.\n\nGet the version history for a project's bulk redirects"
      }
    },
    "com.vercel.bulk_redirects#UpdateVersionRequestAction": {
      "type": "enum",
      "members": {
        "PROMOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "promote"
          }
        },
        "RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restore"
          }
        },
        "DISCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discard"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#UpdateVersionRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.bulk_redirects#UpdateVersionRequestAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.bulk_redirects#UpdateVersionResponseVersion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the version.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version.",
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
          }
        },
        "isStaging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version has not been promoted to production yet and is not serving end users."
          }
        },
        "isLive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is currently live in production."
          }
        },
        "redirectCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of redirects in this version."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The staging link for previewing redirects in this version."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.bulk_redirects#UpdateVersionResponse": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.vercel.bulk_redirects#UpdateVersionResponseVersion",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.bulk_redirects#UpdateVersion": {
      "type": "operation",
      "input": {
        "target": "com.vercel.bulk_redirects#UpdateVersionRequest"
      },
      "output": {
        "target": "com.vercel.bulk_redirects#UpdateVersionResponse"
      },
      "errors": [
        {
          "target": "com.vercel.bulk_redirects#BadRequest"
        },
        {
          "target": "com.vercel.bulk_redirects#Forbidden"
        },
        {
          "target": "com.vercel.bulk_redirects#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/bulk-redirects/versions",
          "code": 200
        },
        "smithy.api#documentation": "Promote a staging version to production or restore a previous production version.\n\nUpdate a version by promoting staging to production or restoring a previous production version"
      }
    },
    "com.vercel.bulk_redirects#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.vercel.bulk_redirects#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.vercel.bulk_redirects#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.vercel.bulk_redirects#BulkRedirects": {
      "type": "service",
      "version": "0.0.1",
      "operations": [
        {
          "target": "com.vercel.bulk_redirects#GetRedirects"
        },
        {
          "target": "com.vercel.bulk_redirects#StageRedirects"
        },
        {
          "target": "com.vercel.bulk_redirects#EditRedirect"
        },
        {
          "target": "com.vercel.bulk_redirects#DeleteRedirects"
        },
        {
          "target": "com.vercel.bulk_redirects#RestoreRedirects"
        },
        {
          "target": "com.vercel.bulk_redirects#GetVersions"
        },
        {
          "target": "com.vercel.bulk_redirects#UpdateVersion"
        }
      ],
      "traits": {
        "smithy.api#title": "Vercel API",
        "smithy.api#documentation": "Vercel combines the best developer experience with an obsessive focus on end-user performance. Our platform enables frontend teams to do their best work."
      }
    }
  }
}
