{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.deployments#GetDeploymentEventsRequestDirection": {
      "type": "enum",
      "members": {
        "BACKWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backward"
          }
        },
        "FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forward"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Order of the returned events based on the timestamp."
      }
    },
    "com.vercel.deployments#GetDeploymentEventsRequestFollow": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When enabled, this endpoint will return live events as they happen."
      }
    },
    "com.vercel.deployments#GetDeploymentEventsRequestStatusCode": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "HTTP status code range to filter events by."
      }
    },
    "com.vercel.deployments#GetDeploymentEventsRequestDelimiter": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsRequestBuilds": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsRequest": {
      "type": "structure",
      "members": {
        "idOrUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier or hostname of the deployment."
          }
        },
        "direction": {
          "target": "com.vercel.deployments#GetDeploymentEventsRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "Order of the returned events based on the timestamp."
          }
        },
        "follow": {
          "target": "com.vercel.deployments#GetDeploymentEventsRequestFollow",
          "traits": {
            "smithy.api#httpQuery": "follow",
            "smithy.api#documentation": "When enabled, this endpoint will return live events as they happen."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of events to return. Provide `-1` to return all available logs."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Deployment build ID."
          }
        },
        "since": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#documentation": "Timestamp for when build logs should be pulled from."
          }
        },
        "until": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#documentation": "Timestamp for when the build logs should be pulled up until."
          }
        },
        "statusCode": {
          "target": "com.vercel.deployments#GetDeploymentEventsRequestStatusCode",
          "traits": {
            "smithy.api#httpQuery": "statusCode",
            "smithy.api#documentation": "HTTP status code range to filter events by."
          }
        },
        "delimiter": {
          "target": "com.vercel.deployments#GetDeploymentEventsRequestDelimiter",
          "traits": {
            "smithy.api#httpQuery": "delimiter"
          }
        },
        "builds": {
          "target": "com.vercel.deployments#GetDeploymentEventsRequestBuilds",
          "traits": {
            "smithy.api#httpQuery": "builds"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0Type": {
      "type": "enum",
      "members": {
        "COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command"
          }
        },
        "DELIMITER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delimiter"
          }
        },
        "DEPLOYMENT_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment-state"
          }
        },
        "EDGE_FUNCTION_INVOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-function-invocation"
          }
        },
        "EXIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit"
          }
        },
        "FATAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fatal"
          }
        },
        "METRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "metric"
          }
        },
        "MIDDLEWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleware"
          }
        },
        "MIDDLEWARE_INVOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleware-invocation"
          }
        },
        "REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "report"
          }
        },
        "STDERR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stderr"
          }
        },
        "STDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stdout"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0PayloadInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "entrypoint": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "step": {
          "target": "smithy.api#String"
        },
        "readyState": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0PayloadProxyUserAgentList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0PayloadProxyVercelCache": {
      "type": "enum",
      "members": {
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYPASS"
          }
        },
        "HIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIT"
          }
        },
        "MISS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISS"
          }
        },
        "PRERENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRERENDER"
          }
        },
        "REVALIDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVALIDATED"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STALE"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0PayloadProxyWafAction": {
      "type": "enum",
      "members": {
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "RATE_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rate_limit"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0PayloadProxy": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String"
        },
        "statusCode": {
          "target": "smithy.api#Double"
        },
        "userAgent": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0PayloadProxyUserAgentList"
        },
        "referer": {
          "target": "smithy.api#String"
        },
        "clientIp": {
          "target": "smithy.api#String"
        },
        "region": {
          "target": "smithy.api#String"
        },
        "scheme": {
          "target": "smithy.api#String"
        },
        "responseByteSize": {
          "target": "smithy.api#Double"
        },
        "cacheId": {
          "target": "smithy.api#String"
        },
        "pathType": {
          "target": "smithy.api#String"
        },
        "pathTypeVariant": {
          "target": "smithy.api#String"
        },
        "vercelId": {
          "target": "smithy.api#String"
        },
        "vercelCache": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0PayloadProxyVercelCache"
        },
        "lambdaRegion": {
          "target": "smithy.api#String"
        },
        "wafAction": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0PayloadProxyWafAction"
        },
        "wafRuleId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0Payload": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "info": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0PayloadInfo"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serial": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#Double"
        },
        "statusCode": {
          "target": "smithy.api#Double"
        },
        "requestId": {
          "target": "smithy.api#String"
        },
        "proxy": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0PayloadProxy"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0Payload",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase1Info": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "entrypoint": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "step": {
          "target": "smithy.api#String"
        },
        "readyState": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase1Type": {
      "type": "enum",
      "members": {
        "COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command"
          }
        },
        "DELIMITER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delimiter"
          }
        },
        "DEPLOYMENT_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment-state"
          }
        },
        "EDGE_FUNCTION_INVOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-function-invocation"
          }
        },
        "EXIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit"
          }
        },
        "FATAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fatal"
          }
        },
        "METRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "metric"
          }
        },
        "MIDDLEWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleware"
          }
        },
        "MIDDLEWARE_INVOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleware-invocation"
          }
        },
        "REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "report"
          }
        },
        "STDERR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stderr"
          }
        },
        "STDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stdout"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase1Level": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase1": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "info": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase1Info",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serial": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "level": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase1Level"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0Type": {
      "type": "enum",
      "members": {
        "COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command"
          }
        },
        "DELIMITER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delimiter"
          }
        },
        "DEPLOYMENT_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment-state"
          }
        },
        "EDGE_FUNCTION_INVOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-function-invocation"
          }
        },
        "EXIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit"
          }
        },
        "FATAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fatal"
          }
        },
        "METRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "metric"
          }
        },
        "MIDDLEWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleware"
          }
        },
        "MIDDLEWARE_INVOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleware-invocation"
          }
        },
        "REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "report"
          }
        },
        "STDERR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stderr"
          }
        },
        "STDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stdout"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0PayloadInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "entrypoint": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "step": {
          "target": "smithy.api#String"
        },
        "readyState": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0PayloadProxyUserAgentList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0PayloadProxyVercelCache": {
      "type": "enum",
      "members": {
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYPASS"
          }
        },
        "HIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIT"
          }
        },
        "MISS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISS"
          }
        },
        "PRERENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRERENDER"
          }
        },
        "REVALIDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVALIDATED"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STALE"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0PayloadProxyWafAction": {
      "type": "enum",
      "members": {
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "RATE_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rate_limit"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0PayloadProxy": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String"
        },
        "statusCode": {
          "target": "smithy.api#Double"
        },
        "userAgent": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0PayloadProxyUserAgentList"
        },
        "referer": {
          "target": "smithy.api#String"
        },
        "clientIp": {
          "target": "smithy.api#String"
        },
        "region": {
          "target": "smithy.api#String"
        },
        "scheme": {
          "target": "smithy.api#String"
        },
        "responseByteSize": {
          "target": "smithy.api#Double"
        },
        "cacheId": {
          "target": "smithy.api#String"
        },
        "pathType": {
          "target": "smithy.api#String"
        },
        "pathTypeVariant": {
          "target": "smithy.api#String"
        },
        "vercelId": {
          "target": "smithy.api#String"
        },
        "vercelCache": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0PayloadProxyVercelCache"
        },
        "lambdaRegion": {
          "target": "smithy.api#String"
        },
        "wafAction": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0PayloadProxyWafAction"
        },
        "wafRuleId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0Payload": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "info": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0PayloadInfo"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serial": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#Double"
        },
        "statusCode": {
          "target": "smithy.api#Double"
        },
        "requestId": {
          "target": "smithy.api#String"
        },
        "proxy": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0PayloadProxy"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0Payload",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case1Info": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "entrypoint": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "step": {
          "target": "smithy.api#String"
        },
        "readyState": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case1Type": {
      "type": "enum",
      "members": {
        "COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command"
          }
        },
        "DELIMITER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delimiter"
          }
        },
        "DEPLOYMENT_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment-state"
          }
        },
        "EDGE_FUNCTION_INVOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-function-invocation"
          }
        },
        "EXIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit"
          }
        },
        "FATAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fatal"
          }
        },
        "METRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "metric"
          }
        },
        "MIDDLEWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleware"
          }
        },
        "MIDDLEWARE_INVOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleware-invocation"
          }
        },
        "REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "report"
          }
        },
        "STDERR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stderr"
          }
        },
        "STDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stdout"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case1Level": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case1": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "info": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case1Info",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serial": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "level": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case1Level"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case2Type": {
      "type": "enum",
      "members": {
        "ALIAS_ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias-assigned"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case2AliasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case2AliasError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case2AliasWarning": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "link": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case2Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case2AliasList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aliasError": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case2AliasError",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "aliasWarning": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case2AliasWarning",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case0"
        },
        "Case1": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case1"
        },
        "Case2": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2Case2"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0"
        },
        "Case1": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase1"
        },
        "Case2": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase2"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItem"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.deployments#GetDeploymentEvents": {
      "type": "operation",
      "input": {
        "target": "com.vercel.deployments#GetDeploymentEventsRequest"
      },
      "output": {
        "target": "com.vercel.deployments#GetDeploymentEventsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.deployments#BadRequest"
        },
        {
          "target": "com.vercel.deployments#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/deployments/{idOrUrl}/events",
          "code": 200
        },
        "smithy.api#documentation": "Get deployment events\n\nGet the build logs of a deployment by deployment ID and build ID. It can work as an infinite stream of logs or as a JSON endpoint depending on the input parameters."
      }
    },
    "com.vercel.deployments#UpdateIntegrationDeploymentActionRequestStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#UpdateIntegrationDeploymentActionRequestOutcomesItemSecretsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#UpdateIntegrationDeploymentActionRequestOutcomesItemSecretsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.deployments#UpdateIntegrationDeploymentActionRequestOutcomesItemSecretsItem"
      },
      "traits": {}
    },
    "com.vercel.deployments#UpdateIntegrationDeploymentActionRequestOutcomesItem": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secrets": {
          "target": "com.vercel.deployments#UpdateIntegrationDeploymentActionRequestOutcomesItemSecretsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#UpdateIntegrationDeploymentActionRequestOutcomesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.deployments#UpdateIntegrationDeploymentActionRequestOutcomesItem"
      },
      "traits": {}
    },
    "com.vercel.deployments#UpdateIntegrationDeploymentActionRequest": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "integrationConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vercel.deployments#UpdateIntegrationDeploymentActionRequestStatus"
        },
        "statusText": {
          "target": "smithy.api#String"
        },
        "statusUrl": {
          "target": "smithy.api#String"
        },
        "outcomes": {
          "target": "com.vercel.deployments#UpdateIntegrationDeploymentActionRequestOutcomesList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.deployments#UpdateIntegrationDeploymentAction": {
      "type": "operation",
      "input": {
        "target": "com.vercel.deployments#UpdateIntegrationDeploymentActionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.vercel.deployments#BadRequest"
        },
        {
          "target": "com.vercel.deployments#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/deployments/{deploymentId}/integrations/{integrationConfigurationId}/resources/{resourceId}/actions/{action}",
          "code": 200
        },
        "smithy.api#documentation": "Update deployment integration action\n\nUpdates the deployment integration action for the specified integration installation"
      }
    },
    "com.vercel.deployments#GetDeploymentRequest": {
      "type": "structure",
      "members": {
        "idOrUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier or hostname of the deployment."
          }
        },
        "withGitRepoInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "withGitRepoInfo",
            "smithy.api#documentation": "When `true`, the response includes the `gitSource` object with the commit SHA, branch name, and connected repository metadata. Defaults to `false`."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase0AliasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase0Target": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment."
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase0ReadyState": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state"
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase0AliasError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that will contain a `code` and a `message` when the aliasing fails, otherwise the value will be `null`"
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase0AliasWarning": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "link": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase0": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase0AliasList"
        },
        "aliasAssigned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string holding the unique ID of the deployment",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase0Target",
          "traits": {
            "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "readyState": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase0ReadyState",
          "traits": {
            "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
            "smithy.api#required": {}
          }
        },
        "aliasError": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase0AliasError",
          "traits": {
            "smithy.api#documentation": "An object that will contain a `code` and a `message` when the aliasing fails, otherwise the value will be `null`",
            "com.distilled.openapi#nullable": {}
          }
        },
        "aliasWarning": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase0AliasWarning",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "errorCode": {
          "target": "smithy.api#String"
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns the reduced deployment view for anonymous (`vcn_`) callers. Pool-team details are withheld."
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1AliasAssignedAt": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1BuildEnvList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1Build": {
      "type": "structure",
      "members": {
        "env": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1BuildEnvList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1BuildArtifactUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1BuildsItemConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1BuildsItem": {
      "type": "structure",
      "members": {
        "use": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "src": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1BuildsItemConfigMap"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1BuildsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1BuildsItem"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1EnvList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ResourceConfigBuildMachinePurchaseType": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic"
          }
        },
        "ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enhanced"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "TURBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "turbo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Machine type which was purchased/selected for this build. `basic` is the 2vCPU tier, recorded on the deployment so the build pipeline can detect a basic build without consulting the project."
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ResourceConfigBuildMachineDefaultPurchaseType": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic"
          }
        },
        "ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enhanced"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default plan type for the build machine — what the customer is *paying* for on their plan. For most customers, this is standard, but some customers have an entitlement for enhanced builds."
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ResourceConfigBuildMachineMachineSelectionType": {
      "type": "enum",
      "members": {
        "ELASTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elastic"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the build ran on a fixed or elastic machine. Used to drive billing for the build."
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ResourceConfigBuildMachine": {
      "type": "structure",
      "members": {
        "purchaseType": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ResourceConfigBuildMachinePurchaseType",
          "traits": {
            "smithy.api#documentation": "Machine type which was purchased/selected for this build. `basic` is the 2vCPU tier, recorded on the deployment so the build pipeline can detect a basic build without consulting the project."
          }
        },
        "defaultPurchaseType": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ResourceConfigBuildMachineDefaultPurchaseType",
          "traits": {
            "smithy.api#documentation": "The default plan type for the build machine — what the customer is *paying* for on their plan. For most customers, this is standard, but some customers have an entitlement for enhanced builds."
          }
        },
        "machineSelectionType": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ResourceConfigBuildMachineMachineSelectionType",
          "traits": {
            "smithy.api#documentation": "Whether the build ran on a fixed or elastic machine. Used to drive billing for the build."
          }
        },
        "cores": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of cores the build machine ran with. Set at dispatch time once the build lands on a hive."
          }
        },
        "memory": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory, in MiB, the build machine ran with. Set at dispatch time once the build lands on a hive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Build machine configuration recorded for this deployment's build. See {@link DeploymentBuildMachine}. Distinct from the team/user `resourceConfig.buildMachine`, which only carries `default`."
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ResourceConfig": {
      "type": "structure",
      "members": {
        "buildMachine": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ResourceConfigBuildMachine",
          "traits": {
            "smithy.api#documentation": "Build machine configuration recorded for this deployment's build. See {@link DeploymentBuildMachine}. Distinct from the team/user `resourceConfig.buildMachine`, which only carries `default`."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ProjectSettingsNodeVersion": {
      "type": "enum",
      "members": {
        "_10_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "10.x"
          }
        },
        "_12_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "12.x"
          }
        },
        "_14_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "14.x"
          }
        },
        "_16_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "16.x"
          }
        },
        "_18_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "18.x"
          }
        },
        "_20_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "20.x"
          }
        },
        "_22_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "22.x"
          }
        },
        "_24_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24.x"
          }
        },
        "_8_10_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "8.10.x"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ProjectSettingsFramework": {
      "type": "enum",
      "members": {
        "ACTIX_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "actix-web"
          }
        },
        "ANGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "angular"
          }
        },
        "ASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ash"
          }
        },
        "ASTRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "astro"
          }
        },
        "AXUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "axum"
          }
        },
        "BLITZJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blitzjs"
          }
        },
        "BRUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brunch"
          }
        },
        "BUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bun"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        },
        "CREATE_REACT_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create-react-app"
          }
        },
        "DJANGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "django"
          }
        },
        "DOCUSAURUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docusaurus"
          }
        },
        "DOCUSAURUS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docusaurus-2"
          }
        },
        "DOJO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dojo"
          }
        },
        "ELEVENTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eleventy"
          }
        },
        "ELYSIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elysia"
          }
        },
        "EMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ember"
          }
        },
        "EVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eve"
          }
        },
        "EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "express"
          }
        },
        "FASTAPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastapi"
          }
        },
        "FASTHTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fasthtml"
          }
        },
        "FASTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastify"
          }
        },
        "FLASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flask"
          }
        },
        "GATSBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gatsby"
          }
        },
        "GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "go"
          }
        },
        "GRIDSOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gridsome"
          }
        },
        "H3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h3"
          }
        },
        "HEXO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hexo"
          }
        },
        "HONO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hono"
          }
        },
        "HUGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hugo"
          }
        },
        "HYDROGEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hydrogen"
          }
        },
        "IONIC_ANGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ionic-angular"
          }
        },
        "IONIC_REACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ionic-react"
          }
        },
        "JEKYLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jekyll"
          }
        },
        "KOA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "koa"
          }
        },
        "MASTRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mastra"
          }
        },
        "MIDDLEMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleman"
          }
        },
        "NESTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nestjs"
          }
        },
        "NEXTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nextjs"
          }
        },
        "NITRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nitro"
          }
        },
        "NODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "node"
          }
        },
        "NUXTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nuxtjs"
          }
        },
        "PARCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parcel"
          }
        },
        "POLYMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "polymer"
          }
        },
        "PREACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preact"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "python"
          }
        },
        "REACT_ROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "react-router"
          }
        },
        "REDWOODJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redwoodjs"
          }
        },
        "REMIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remix"
          }
        },
        "RUBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ruby"
          }
        },
        "RUST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust"
          }
        },
        "SABER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saber"
          }
        },
        "SANITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sanity"
          }
        },
        "SANITY_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sanity-v2"
          }
        },
        "SAPPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sapper"
          }
        },
        "SCULLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scully"
          }
        },
        "SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "services"
          }
        },
        "SOLIDSTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solidstart"
          }
        },
        "SOLIDSTART_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solidstart-1"
          }
        },
        "STENCIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stencil"
          }
        },
        "STORYBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storybook"
          }
        },
        "SVELTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "svelte"
          }
        },
        "SVELTEKIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sveltekit"
          }
        },
        "SVELTEKIT_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sveltekit-1"
          }
        },
        "TANSTACK_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tanstack-start"
          }
        },
        "TANSTACK_START_LOVABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tanstack-start-lovable"
          }
        },
        "UMIJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "umijs"
          }
        },
        "VITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vite"
          }
        },
        "VITEPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vitepress"
          }
        },
        "VUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vue"
          }
        },
        "VUEPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vuepress"
          }
        },
        "XMCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xmcp"
          }
        },
        "ZOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zola"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ProjectSettingsSpeedInsights": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabledAt": {
          "target": "smithy.api#Double"
        },
        "disabledAt": {
          "target": "smithy.api#Double"
        },
        "canceledAt": {
          "target": "smithy.api#Double"
        },
        "hasData": {
          "target": "smithy.api#Boolean"
        },
        "paidAt": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ProjectSettingsWebAnalytics": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "disabledAt": {
          "target": "smithy.api#Double"
        },
        "canceledAt": {
          "target": "smithy.api#Double"
        },
        "enabledAt": {
          "target": "smithy.api#Double"
        },
        "hasData": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ProjectSettings": {
      "type": "structure",
      "members": {
        "nodeVersion": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ProjectSettingsNodeVersion"
        },
        "buildCommand": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "devCommand": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "framework": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ProjectSettingsFramework",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "commandForIgnoringBuildStep": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "installCommand": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "outputDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "speedInsights": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ProjectSettingsSpeedInsights"
        },
        "webAnalytics": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ProjectSettingsWebAnalytics"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1IntegrationsStatus": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timeout"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1Integrations": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1IntegrationsStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "claimedAt": {
          "target": "smithy.api#Double"
        },
        "completedAt": {
          "target": "smithy.api#Double"
        },
        "skippedAt": {
          "target": "smithy.api#Double"
        },
        "skippedBy": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesSizesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesQualitiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesRemotePatternsItemProtocol": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Must be `http` or `https`."
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesRemotePatternsItem": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesRemotePatternsItemProtocol",
          "traits": {
            "smithy.api#documentation": "Must be `http` or `https`."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Can be literal or wildcard. Single `*` matches a single subdomain. Double `**` matches any number of subdomains.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Can be literal port such as `8080` or empty string meaning no port."
          }
        },
        "pathname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Can be literal or wildcard. Single `*` matches a single path segment. Double `**` matches any number of path segments."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Can be literal query string such as `?v=1` or empty string meaning no query string."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesRemotePatternsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesRemotePatternsItem"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesLocalPatternsItem": {
      "type": "structure",
      "members": {
        "pathname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Can be literal or wildcard. Single `*` matches a single path segment. Double `**` matches any number of path segments."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Can be literal query string such as `?v=1` or empty string meaning no query string."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesLocalPatternsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesLocalPatternsItem"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesFormatsItem": {
      "type": "enum",
      "members": {
        "IMAGE_AVIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image/avif"
          }
        },
        "IMAGE_WEBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image/webp"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesFormatsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesFormatsItem"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesContentDispositionType": {
      "type": "enum",
      "members": {
        "ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachment"
          }
        },
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1Images": {
      "type": "structure",
      "members": {
        "sizes": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesSizesList"
        },
        "qualities": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesQualitiesList"
        },
        "domains": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesDomainsList"
        },
        "remotePatterns": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesRemotePatternsList"
        },
        "localPatterns": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesLocalPatternsList"
        },
        "minimumCacheTTL": {
          "target": "smithy.api#Double"
        },
        "formats": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesFormatsList"
        },
        "dangerouslyAllowSVG": {
          "target": "smithy.api#Boolean"
        },
        "contentSecurityPolicy": {
          "target": "smithy.api#String"
        },
        "contentDispositionType": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1ImagesContentDispositionType"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1AliasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of all the aliases (default aliases, staging aliases and production aliases) that were assigned upon deployment creation"
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1Creator": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user that created the deployment",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username of the user that created the deployment"
          }
        },
        "avatar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The avatar of the user that created the deployment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the deployment creator"
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1LambdasItemReadyState": {
      "type": "enum",
      "members": {
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1LambdasItemOutputItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1LambdasItemOutputList": {
      "type": "list",
      "member": {
        "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1LambdasItemOutputItem"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1LambdasItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "readyState": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1LambdasItemReadyState"
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "entrypoint": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "readyStateAt": {
          "target": "smithy.api#Double"
        },
        "output": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1LambdasItemOutputList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A partial representation of a Build used by the deployment endpoint."
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1LambdasList": {
      "type": "list",
      "member": {
        "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1LambdasItem"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1Status": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1Team": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The team that owns the deployment if any"
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1UserAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An array of domains that were provided by the user when creating the Deployment."
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0Type": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of environment (production, preview, or development)"
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0BranchMatcherType": {
      "type": "enum",
      "members": {
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of matching to perform"
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0BranchMatcher": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0BranchMatcherType",
          "traits": {
            "smithy.api#documentation": "The type of matching to perform",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pattern to match against branch names",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for matching git branches to this environment"
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0DomainsItemRedirectStatusCode": {
      "type": "intEnum",
      "members": {
        "_301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 301
          }
        },
        "_302": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 302
          }
        },
        "_307": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 307
          }
        },
        "_308": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 308
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0DomainsItemVerificationItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0DomainsItemVerificationList": {
      "type": "list",
      "member": {
        "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0DomainsItemVerificationItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0DomainsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "apexName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "redirect": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirectStatusCode": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0DomainsItemRedirectStatusCode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitBranch": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "customEnvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double"
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "`true` if the domain is verified for use with the project. If `false` it will not be used as an alias on this project until the challenge in `verification` is completed.",
            "smithy.api#required": {}
          }
        },
        "verification": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0DomainsItemVerificationList",
          "traits": {
            "smithy.api#documentation": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of domains associated with this environment"
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0DomainsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0DomainsItem"
      },
      "traits": {
        "smithy.api#documentation": "List of domains associated with this environment"
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0CurrentDeploymentAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of aliases for the current deployment"
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the custom environment (format: env_*)",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-friendly name of the environment",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0Type",
          "traits": {
            "smithy.api#documentation": "The type of environment (production, preview, or development)",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the environment's purpose"
          }
        },
        "branchMatcher": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0BranchMatcher",
          "traits": {
            "smithy.api#documentation": "Configuration for matching git branches to this environment"
          }
        },
        "domains": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0DomainsList",
          "traits": {
            "smithy.api#documentation": "List of domains associated with this environment"
          }
        },
        "currentDeploymentAliases": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0CurrentDeploymentAliasesList",
          "traits": {
            "smithy.api#documentation": "List of aliases for the current deployment"
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was created",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was last updated",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If the deployment was created using a Custom Environment, then this property contains information regarding the environment used."
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase1": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If the deployment was created using a Custom Environment, then this property contains information regarding the environment used."
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironment": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase0"
        },
        "Case1": {
          "target": "com.vercel.deployments#GetDeploymentResponseBodyCase1CustomEnvironmentCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1OomReport": {
      "type": "enum",
      "members": {
        "OUT_OF_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "out-of-memory"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1Target": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment."
      }
    },
    "com.vercel.deployments#GetDeploymentResponseBodyCase1ReadyState": {
      "type": "enum",
      "members": {
        "BLOCKED": {
[...]
