{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.dns#GetRecordsRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of records to list from a request."
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#documentation": "Get records created after this JavaScript timestamp."
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#documentation": "Get records created before this JavaScript timestamp."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.dns#GetRecordsResponseBodyCase1RecordsItemType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIAS"
          }
        },
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NS"
          }
        },
        "SRV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SRV"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#GetRecordsResponseBodyCase1RecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.dns#GetRecordsResponseBodyCase1RecordsItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mxPriority": {
          "target": "smithy.api#Double"
        },
        "priority": {
          "target": "smithy.api#Double"
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double"
        },
        "comment": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.dns#GetRecordsResponseBodyCase1RecordsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.dns#GetRecordsResponseBodyCase1RecordsItem"
      },
      "traits": {}
    },
    "com.vercel.dns#GetRecordsResponseBodyCase1": {
      "type": "structure",
      "members": {
        "records": {
          "target": "com.vercel.dns#GetRecordsResponseBodyCase1RecordsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#GetRecordsResponseBodyCase2RecordsItemType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIAS"
          }
        },
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NS"
          }
        },
        "SRV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SRV"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#GetRecordsResponseBodyCase2RecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.dns#GetRecordsResponseBodyCase2RecordsItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mxPriority": {
          "target": "smithy.api#Double"
        },
        "priority": {
          "target": "smithy.api#Double"
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double"
        },
        "comment": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.dns#GetRecordsResponseBodyCase2RecordsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.dns#GetRecordsResponseBodyCase2RecordsItem"
      },
      "traits": {}
    },
    "com.vercel.dns#Pagination": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of items in the current page.",
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the next page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prev": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the previous page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data."
      }
    },
    "com.vercel.dns#GetRecordsResponseBodyCase2": {
      "type": "structure",
      "members": {
        "records": {
          "target": "com.vercel.dns#GetRecordsResponseBodyCase2RecordsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.vercel.dns#Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Successful response retrieving a list of paginated DNS records."
      }
    },
    "com.vercel.dns#GetRecordsResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.dns#GetRecordsResponseBodyCase1"
        },
        "Case2": {
          "target": "com.vercel.dns#GetRecordsResponseBodyCase2"
        }
      },
      "traits": {}
    },
    "com.vercel.dns#GetRecordsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.dns#GetRecordsResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.dns#GetRecords": {
      "type": "operation",
      "input": {
        "target": "com.vercel.dns#GetRecordsRequest"
      },
      "output": {
        "target": "com.vercel.dns#GetRecordsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.dns#BadRequest"
        },
        {
          "target": "com.vercel.dns#Forbidden"
        },
        {
          "target": "com.vercel.dns#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/domains/{domain}/records",
          "code": 200
        },
        "smithy.api#documentation": "List existing DNS records\n\nRetrieves a list of DNS records created for a domain name. By default it returns 20 records if no limit is provided. The rest can be retrieved using the pagination options."
      }
    },
    "com.vercel.dns#CreateRecordRequestType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIAS"
          }
        },
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "SRV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SRV"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        },
        "NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of record, it could be one of the valid DNS records."
      }
    },
    "com.vercel.dns#CreateRecordRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The domain used to create the DNS record."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "type": {
          "target": "com.vercel.dns#CreateRecordRequestType",
          "traits": {
            "smithy.api#documentation": "The type of record, it could be one of the valid DNS records.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.dns#CreateRecordResponseBodyCase0": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#CreateRecordResponseBodyCase1": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the newly created DNS record",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#CreateRecordResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.dns#CreateRecordResponseBodyCase0"
        },
        "Case1": {
          "target": "com.vercel.dns#CreateRecordResponseBodyCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.dns#CreateRecordResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.dns#CreateRecordResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.dns#CreateRecord": {
      "type": "operation",
      "input": {
        "target": "com.vercel.dns#CreateRecordRequest"
      },
      "output": {
        "target": "com.vercel.dns#CreateRecordResponse"
      },
      "errors": [
        {
          "target": "com.vercel.dns#BadRequest"
        },
        {
          "target": "com.vercel.dns#PaymentRequired"
        },
        {
          "target": "com.vercel.dns#Forbidden"
        },
        {
          "target": "com.vercel.dns#NotFound"
        },
        {
          "target": "com.vercel.dns#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/domains/{domain}/records",
          "code": 200
        },
        "smithy.api#documentation": "Create a DNS record\n\nCreates a DNS record for a domain."
      }
    },
    "com.vercel.dns#UpdateRecordRequestType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIAS"
          }
        },
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "SRV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SRV"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        },
        "NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the DNS record"
      }
    },
    "com.vercel.dns#UpdateRecordRequestSrv": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "weight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#UpdateRecordRequestHttps": {
      "type": "structure",
      "members": {
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "params": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#UpdateRecordRequest": {
      "type": "structure",
      "members": {
        "recordId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the DNS record"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the DNS record",
            "com.distilled.openapi#nullable": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the DNS record",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.vercel.dns#UpdateRecordRequestType",
          "traits": {
            "smithy.api#documentation": "The type of the DNS record",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Time to live (TTL) value of the DNS record",
            "com.distilled.openapi#nullable": {}
          }
        },
        "mxPriority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The MX priority value of the DNS record",
            "com.distilled.openapi#nullable": {}
          }
        },
        "srv": {
          "target": "com.vercel.dns#UpdateRecordRequestSrv",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "https": {
          "target": "com.vercel.dns#UpdateRecordRequestHttps",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comment to add context on what this DNS record is for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.dns#UpdateRecordResponseType": {
      "type": "enum",
      "members": {
        "RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "record"
          }
        },
        "RECORD_SYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "record-sys"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#UpdateRecordResponseRecordType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIAS"
          }
        },
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NS"
          }
        },
        "SRV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SRV"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#UpdateRecordResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.dns#UpdateRecordResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double"
        },
        "comment": {
          "target": "smithy.api#String"
        },
        "recordType": {
          "target": "com.vercel.dns#UpdateRecordResponseRecordType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.dns#UpdateRecord": {
      "type": "operation",
      "input": {
        "target": "com.vercel.dns#UpdateRecordRequest"
      },
      "output": {
        "target": "com.vercel.dns#UpdateRecordResponse"
      },
      "errors": [
        {
          "target": "com.vercel.dns#BadRequest"
        },
        {
          "target": "com.vercel.dns#PaymentRequired"
        },
        {
          "target": "com.vercel.dns#Forbidden"
        },
        {
          "target": "com.vercel.dns#NotFound"
        },
        {
          "target": "com.vercel.dns#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/domains/records/{recordId}",
          "code": 200
        },
        "smithy.api#documentation": "Update an existing DNS record\n\nUpdates an existing DNS record for a domain name."
      }
    },
    "com.vercel.dns#ReplaceDomainsByDomainRecordsRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The domain name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.dns#ReplaceDomainsByDomainRecordsResponseRecordIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.dns#ReplaceDomainsByDomainRecordsResponse": {
      "type": "structure",
      "members": {
        "recordIds": {
          "target": "com.vercel.dns#ReplaceDomainsByDomainRecordsResponseRecordIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.dns#ReplaceDomainsByDomainRecords": {
      "type": "operation",
      "input": {
        "target": "com.vercel.dns#ReplaceDomainsByDomainRecordsRequest"
      },
      "output": {
        "target": "com.vercel.dns#ReplaceDomainsByDomainRecordsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.dns#BadRequest"
        },
        {
          "target": "com.vercel.dns#Forbidden"
        },
        {
          "target": "com.vercel.dns#NotFound"
        },
        {
          "target": "com.vercel.dns#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/domains/{domain}/records",
          "code": 200
        }
      }
    },
    "com.vercel.dns#GetDomainsRecordsByRecordIdRequest": {
      "type": "structure",
      "members": {
        "recordId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the DNS record"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.dns#GetDomainsRecordsByRecordIdResponseType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIAS"
          }
        },
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NS"
          }
        },
        "SRV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SRV"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#GetDomainsRecordsByRecordIdResponseRecordType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIAS"
          }
        },
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NS"
          }
        },
        "SRV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SRV"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#GetDomainsRecordsByRecordIdResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.dns#GetDomainsRecordsByRecordIdResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double"
        },
        "comment": {
          "target": "smithy.api#String"
        },
        "recordType": {
          "target": "com.vercel.dns#GetDomainsRecordsByRecordIdResponseRecordType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.dns#GetDomainsRecordsByRecordId": {
      "type": "operation",
      "input": {
        "target": "com.vercel.dns#GetDomainsRecordsByRecordIdRequest"
      },
      "output": {
        "target": "com.vercel.dns#GetDomainsRecordsByRecordIdResponse"
      },
      "errors": [
        {
          "target": "com.vercel.dns#BadRequest"
        },
        {
          "target": "com.vercel.dns#Forbidden"
        },
        {
          "target": "com.vercel.dns#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domains/records/{recordId}",
          "code": 200
        }
      }
    },
    "com.vercel.dns#RemoveRecordRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "recordId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.dns#RemoveRecordResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.dns#RemoveRecord": {
      "type": "operation",
      "input": {
        "target": "com.vercel.dns#RemoveRecordRequest"
      },
      "output": {
        "target": "com.vercel.dns#RemoveRecordResponse"
      },
      "errors": [
        {
          "target": "com.vercel.dns#BadRequest"
        },
        {
          "target": "com.vercel.dns#Forbidden"
        },
        {
          "target": "com.vercel.dns#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/domains/{domain}/records/{recordId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a DNS record\n\nRemoves an existing DNS record from a domain name."
      }
    },
    "com.vercel.dns#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.vercel.dns#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.vercel.dns#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.vercel.dns#PaymentRequired": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 402,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 402
          }
        ]
      }
    },
    "com.vercel.dns#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.vercel.dns#Dns": {
      "type": "service",
      "version": "0.0.1",
      "operations": [
        {
          "target": "com.vercel.dns#GetRecords"
        },
        {
          "target": "com.vercel.dns#CreateRecord"
        },
        {
          "target": "com.vercel.dns#UpdateRecord"
        },
        {
          "target": "com.vercel.dns#ReplaceDomainsByDomainRecords"
        },
        {
          "target": "com.vercel.dns#GetDomainsRecordsByRecordId"
        },
        {
          "target": "com.vercel.dns#RemoveRecord"
        }
      ],
      "traits": {
        "smithy.api#title": "Vercel API",
        "smithy.api#documentation": "Vercel combines the best developer experience with an obsessive focus on end-user performance. Our platform enables frontend teams to do their best work."
      }
    }
  }
}
