{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.drains#GetDrainsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId"
          }
        },
        "includeMetadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeMetadata"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemProjectIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemStatus": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDisabledReason": {
      "type": "enum",
      "members": {
        "ACCOUNT_PLAN_DOWNGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account-plan-downgrade"
          }
        },
        "DISABLED_BY_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled-by-admin"
          }
        },
        "DISABLED_BY_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled-by-owner"
          }
        },
        "FEATURE_NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feature-not-available"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSchemas": {
      "type": "structure",
      "members": {
        "log": {
          "target": "smithy.api#Document"
        },
        "trace": {
          "target": "smithy.api#Document"
        },
        "analytics": {
          "target": "smithy.api#Document"
        },
        "speed_insights": {
          "target": "smithy.api#Document"
        },
        "ai_gateway": {
          "target": "smithy.api#Document"
        },
        "audit_log": {
          "target": "smithy.api#Document"
        },
        "connect": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0Type": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0Encoding": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0Compression": {
      "type": "enum",
      "members": {
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0HeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0SecretCase1Kind": {
      "type": "enum",
      "members": {
        "INTEGRATION_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATION_SECRET"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0SecretCase1": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0SecretCase1Kind",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0Secret": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0SecretCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encoding": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0Encoding",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0Compression"
        },
        "headers": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0HeadersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0Secret"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1Type": {
      "type": "enum",
      "members": {
        "OTLPHTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "otlphttp"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1Endpoint": {
      "type": "structure",
      "members": {
        "traces": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1Encoding": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "PROTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "proto"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1HeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1SecretCase1Kind": {
      "type": "enum",
      "members": {
        "INTEGRATION_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATION_SECRET"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1SecretCase1": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1SecretCase1Kind",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1Secret": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1SecretCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1Endpoint",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encoding": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1Encoding",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1HeadersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1Secret"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase2Type": {
      "type": "enum",
      "members": {
        "CLICKHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickhouse"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase3Type": {
      "type": "enum",
      "members": {
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "s3"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase3Encoding": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase3Compression": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase3FileStructure": {
      "type": "enum",
      "members": {
        "HIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hive"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase3ServerSideEncryption": {
      "type": "enum",
      "members": {
        "AES256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES256"
          }
        },
        "AWS_KMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws:kms"
          }
        },
        "AWS_KMS_DSSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws:kms:dsse"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase3ObjectAcl": {
      "type": "enum",
      "members": {
        "AUTHENTICATED_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated-read"
          }
        },
        "AWS_EXEC_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws-exec-read"
          }
        },
        "BUCKET_OWNER_FULL_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket-owner-full-control"
          }
        },
        "BUCKET_OWNER_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket-owner-read"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PUBLIC_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public-read"
          }
        },
        "PUBLIC_READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public-read-write"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase3Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encoding": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase3Encoding",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase3Compression",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fileStructure": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase3FileStructure",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serverSideEncryption": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase3ServerSideEncryption"
        },
        "objectAcl": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase3ObjectAcl"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase4Type": {
      "type": "enum",
      "members": {
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase4Target": {
      "type": "enum",
      "members": {
        "VERCEL_OTEL_TRACES_DB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vercel-otel-traces-db"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase4": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase4Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase4Target",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDelivery": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase0"
        },
        "Case1": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase1"
        },
        "Case2": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase2"
        },
        "Case3": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase3"
        },
        "Case4": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDeliveryCase4"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSamplingItemType": {
      "type": "enum",
      "members": {
        "HEAD_SAMPLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "head_sampling"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSamplingItemEnv": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSamplingItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSamplingItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "env": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSamplingItemEnv"
        },
        "requestPath": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSamplingList": {
      "type": "list",
      "member": {
        "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSamplingItem"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSourceCase0Kind": {
      "type": "enum",
      "members": {
        "SELF_SERVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "self-served"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSourceCase0": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSourceCase0Kind",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSourceCase1Kind": {
      "type": "enum",
      "members": {
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSourceCase1": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSourceCase1Kind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String"
        },
        "externalResourceId": {
          "target": "smithy.api#String"
        },
        "integrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integrationConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSource": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSourceCase0"
        },
        "Case1": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSourceCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2Version": {
      "type": "enum",
      "members": {
        "V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v2"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0Type": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0ProjectIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0Project": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0ProjectIdsList"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0LogSourcesItem": {
      "type": "enum",
      "members": {
        "BUILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "build"
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "FIREWALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firewall"
          }
        },
        "LAMBDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lambda"
          }
        },
        "REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirect"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "static"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0LogSourcesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0LogSourcesItem"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0Log": {
      "type": "structure",
      "members": {
        "sources": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0LogSourcesList"
        },
        "legacy_excludeCachedStaticAssetLogs": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0DeploymentEnvironmentsItem": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0DeploymentEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0DeploymentEnvironmentsItem"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0Deployment": {
      "type": "structure",
      "members": {
        "environments": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0DeploymentEnvironmentsList"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0Project"
        },
        "log": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0Log"
        },
        "deployment": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0Deployment"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase1Type": {
      "type": "enum",
      "members": {
        "ODATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "odata"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2Filter": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase0"
        },
        "Case1": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2FilterCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2Version",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2Filter",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0Item": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectIds": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemProjectIdsList"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemStatus"
        },
        "firstErrorTimestamp": {
          "target": "smithy.api#Double"
        },
        "disabledAt": {
          "target": "smithy.api#Double"
        },
        "disabledBy": {
          "target": "smithy.api#String"
        },
        "disabledReason": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDisabledReason"
        },
        "schemas": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSchemas",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "delivery": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemDelivery",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sampling": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSamplingList"
        },
        "source": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemSource",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filterV2": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0ItemFilterV2"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase0List": {
      "type": "list",
      "member": {
        "target": "com.vercel.drains#GetDrainsResponseDrainsCase0Item"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemStatus": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDisabledReason": {
      "type": "enum",
      "members": {
        "ACCOUNT_PLAN_DOWNGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account-plan-downgrade"
          }
        },
        "DISABLED_BY_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled-by-admin"
          }
        },
        "DISABLED_BY_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled-by-owner"
          }
        },
        "FEATURE_NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feature-not-available"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSchemas": {
      "type": "structure",
      "members": {
        "log": {
          "target": "smithy.api#Document"
        },
        "trace": {
          "target": "smithy.api#Document"
        },
        "analytics": {
          "target": "smithy.api#Document"
        },
        "speed_insights": {
          "target": "smithy.api#Document"
        },
        "ai_gateway": {
          "target": "smithy.api#Document"
        },
        "audit_log": {
          "target": "smithy.api#Document"
        },
        "connect": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0Type": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0Encoding": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0Compression": {
      "type": "enum",
      "members": {
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0HeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0SecretCase1Kind": {
      "type": "enum",
      "members": {
        "INTEGRATION_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATION_SECRET"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0SecretCase1": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0SecretCase1Kind",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0Secret": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0SecretCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encoding": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0Encoding",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0Compression"
        },
        "headers": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0HeadersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0Secret"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1Type": {
      "type": "enum",
      "members": {
        "OTLPHTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "otlphttp"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1Endpoint": {
      "type": "structure",
      "members": {
        "traces": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1Encoding": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "PROTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "proto"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1HeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1SecretCase1Kind": {
      "type": "enum",
      "members": {
        "INTEGRATION_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATION_SECRET"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1SecretCase1": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1SecretCase1Kind",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1Secret": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1SecretCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1Endpoint",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encoding": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1Encoding",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1HeadersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1Secret"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase2Type": {
      "type": "enum",
      "members": {
        "CLICKHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickhouse"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase3Type": {
      "type": "enum",
      "members": {
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "s3"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase3Encoding": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase3Compression": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase3FileStructure": {
      "type": "enum",
      "members": {
        "HIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hive"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase3ServerSideEncryption": {
      "type": "enum",
      "members": {
        "AES256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES256"
          }
        },
        "AWS_KMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws:kms"
          }
        },
        "AWS_KMS_DSSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws:kms:dsse"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase3ObjectAcl": {
      "type": "enum",
      "members": {
        "AUTHENTICATED_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated-read"
          }
        },
        "AWS_EXEC_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws-exec-read"
          }
        },
        "BUCKET_OWNER_FULL_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket-owner-full-control"
          }
        },
        "BUCKET_OWNER_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket-owner-read"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PUBLIC_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public-read"
          }
        },
        "PUBLIC_READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public-read-write"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase3Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encoding": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase3Encoding",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase3Compression",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fileStructure": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase3FileStructure",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serverSideEncryption": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase3ServerSideEncryption"
        },
        "objectAcl": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase3ObjectAcl"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase4Type": {
      "type": "enum",
      "members": {
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase4Target": {
      "type": "enum",
      "members": {
        "VERCEL_OTEL_TRACES_DB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vercel-otel-traces-db"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase4": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase4Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase4Target",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDelivery": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase0"
        },
        "Case1": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase1"
        },
        "Case2": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase2"
        },
        "Case3": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase3"
        },
        "Case4": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDeliveryCase4"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSamplingItemType": {
      "type": "enum",
      "members": {
        "HEAD_SAMPLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "head_sampling"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSamplingItemEnv": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSamplingItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSamplingItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "env": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSamplingItemEnv"
        },
        "requestPath": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSamplingList": {
      "type": "list",
      "member": {
        "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSamplingItem"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSourceCase0Kind": {
      "type": "enum",
      "members": {
        "SELF_SERVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "self-served"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSourceCase0": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSourceCase0Kind",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSourceCase1Kind": {
      "type": "enum",
      "members": {
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSourceCase1": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSourceCase1Kind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String"
        },
        "externalResourceId": {
          "target": "smithy.api#String"
        },
        "integrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integrationConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSource": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSourceCase0"
        },
        "Case1": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSourceCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2Version": {
      "type": "enum",
      "members": {
        "V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v2"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0Type": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0ProjectIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0Project": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0ProjectIdsList"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0LogSourcesItem": {
      "type": "enum",
      "members": {
        "BUILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "build"
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "FIREWALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firewall"
          }
        },
        "LAMBDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lambda"
          }
        },
        "REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirect"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "static"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0LogSourcesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0LogSourcesItem"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0Log": {
      "type": "structure",
      "members": {
        "sources": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0LogSourcesList"
        },
        "legacy_excludeCachedStaticAssetLogs": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0DeploymentEnvironmentsItem": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0DeploymentEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0DeploymentEnvironmentsItem"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0Deployment": {
      "type": "structure",
      "members": {
        "environments": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0DeploymentEnvironmentsList"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0Project"
        },
        "log": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0Log"
        },
        "deployment": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0Deployment"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase1Type": {
      "type": "enum",
      "members": {
        "ODATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "odata"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2Filter": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase0"
        },
        "Case1": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2FilterCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2Version",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2Filter",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccessCase0Access": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccessCase0ManagedBy": {
      "type": "enum",
      "members": {
        "DRAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drain"
          }
        },
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccessCase0": {
      "type": "structure",
      "members": {
        "access": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccessCase0Access",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "managedBy": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccessCase0ManagedBy",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccessCase1Access": {
      "type": "enum",
      "members": {
        "SOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "some"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccessCase1ProjectIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccessCase1ManagedBy": {
      "type": "enum",
      "members": {
        "DRAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drain"
          }
        },
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccessCase1": {
      "type": "structure",
      "members": {
        "access": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccessCase1Access",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectIds": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccessCase1ProjectIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "managedBy": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccessCase1ManagedBy",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccess": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccessCase0"
        },
        "Case1": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccessCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1Item": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectIds": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectIdsList"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemStatus"
        },
        "firstErrorTimestamp": {
          "target": "smithy.api#Double"
        },
        "disabledAt": {
          "target": "smithy.api#Double"
        },
        "disabledBy": {
          "target": "smithy.api#String"
        },
        "disabledReason": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDisabledReason"
        },
        "schemas": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSchemas",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "delivery": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemDelivery",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sampling": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSamplingList"
        },
        "source": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemSource",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filterV2": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemFilterV2"
        },
        "integrationIcon": {
          "target": "smithy.api#String"
        },
        "integrationConfigurationUri": {
          "target": "smithy.api#String"
        },
        "integrationWebsite": {
          "target": "smithy.api#String"
        },
        "projectAccess": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1ItemProjectAccess"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrainsCase1List": {
      "type": "list",
      "member": {
        "target": "com.vercel.drains#GetDrainsResponseDrainsCase1Item"
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponseDrains": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase0List"
        },
        "Case1": {
          "target": "com.vercel.drains#GetDrainsResponseDrainsCase1List"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#GetDrainsResponse": {
      "type": "structure",
      "members": {
        "drains": {
          "target": "com.vercel.drains#GetDrainsResponseDrains",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.drains#GetDrains": {
      "type": "operation",
      "input": {
        "target": "com.vercel.drains#GetDrainsRequest"
      },
      "output": {
        "target": "com.vercel.drains#GetDrainsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.drains#BadRequest"
        },
        {
          "target": "com.vercel.drains#Forbidden"
        },
        {
          "target": "com.vercel.drains#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/drains",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of all Drains\n\nAllows to retrieve the list of Drains of the authenticated team."
      }
    },
    "com.vercel.drains#CreateDrainRequestProjects": {
      "type": "enum",
      "members": {
        "SOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "some"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestProjectIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestFilterFilterCase0ProjectIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestFilterFilterCase0Project": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.vercel.drains#CreateDrainRequestFilterFilterCase0ProjectIdsList"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestFilterFilterCase0LogSourcesItem": {
      "type": "enum",
      "members": {
        "BUILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "build"
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        },
        "LAMBDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lambda"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "static"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "FIREWALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firewall"
          }
        },
        "REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirect"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestFilterFilterCase0LogSourcesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.drains#CreateDrainRequestFilterFilterCase0LogSourcesItem"
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestFilterFilterCase0Log": {
      "type": "structure",
      "members": {
        "sources": {
          "target": "com.vercel.drains#CreateDrainRequestFilterFilterCase0LogSourcesList"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestFilterFilterCase0DeploymentEnvironmentsItem": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestFilterFilterCase0DeploymentEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.drains#CreateDrainRequestFilterFilterCase0DeploymentEnvironmentsItem"
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestFilterFilterCase0Deployment": {
      "type": "structure",
      "members": {
        "environments": {
          "target": "com.vercel.drains#CreateDrainRequestFilterFilterCase0DeploymentEnvironmentsList"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestFilterFilterCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.vercel.drains#CreateDrainRequestFilterFilterCase0Project"
        },
        "log": {
          "target": "com.vercel.drains#CreateDrainRequestFilterFilterCase0Log"
        },
        "deployment": {
          "target": "com.vercel.drains#CreateDrainRequestFilterFilterCase0Deployment"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestFilterFilterCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestFilterFilter": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.drains#CreateDrainRequestFilterFilterCase0"
        },
        "Case1": {
          "target": "com.vercel.drains#CreateDrainRequestFilterFilterCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestFilter": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "com.vercel.drains#CreateDrainRequestFilterFilter",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestSchemasValue": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestSchemasMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.drains#CreateDrainRequestSchemasValue"
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestDeliveryCase0Compression": {
      "type": "enum",
      "members": {
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestDeliveryCase0Encoding": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestDeliveryCase0HeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestDeliveryCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.vercel.drains#CreateDrainRequestDeliveryCase0Compression"
        },
        "encoding": {
          "target": "com.vercel.drains#CreateDrainRequestDeliveryCase0Encoding",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.vercel.drains#CreateDrainRequestDeliveryCase0HeadersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestDeliveryCase1Endpoint": {
      "type": "structure",
      "members": {
        "traces": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestDeliveryCase1Encoding": {
      "type": "enum",
      "members": {
        "PROTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "proto"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestDeliveryCase1HeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestDeliveryCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "com.vercel.drains#CreateDrainRequestDeliveryCase1Endpoint",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encoding": {
          "target": "com.vercel.drains#CreateDrainRequestDeliveryCase1Encoding",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.vercel.drains#CreateDrainRequestDeliveryCase1HeadersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestDeliveryCase2Encoding": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestDeliveryCase2Compression": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestDeliveryCase2FileStructure": {
      "type": "enum",
      "members": {
        "HIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hive"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestDeliveryCase2ServerSideEncryption": {
      "type": "enum",
      "members": {
        "AES256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES256"
          }
        },
        "AWS_KMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws:kms"
          }
        },
        "AWS_KMS_DSSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws:kms:dsse"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestDeliveryCase2ObjectAcl": {
      "type": "enum",
      "members": {
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "BUCKET_OWNER_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket-owner-read"
          }
        },
        "BUCKET_OWNER_FULL_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket-owner-full-control"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestDeliveryCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encoding": {
          "target": "com.vercel.drains#CreateDrainRequestDeliveryCase2Encoding",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.vercel.drains#CreateDrainRequestDeliveryCase2Compression",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fileStructure": {
          "target": "com.vercel.drains#CreateDrainRequestDeliveryCase2FileStructure",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serverSideEncryption": {
          "target": "com.vercel.drains#CreateDrainRequestDeliveryCase2ServerSideEncryption"
        },
        "objectAcl": {
          "target": "com.vercel.drains#CreateDrainRequestDeliveryCase2ObjectAcl"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestDelivery": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.drains#CreateDrainRequestDeliveryCase0"
        },
        "Case1": {
          "target": "com.vercel.drains#CreateDrainRequestDeliveryCase1"
        },
        "Case2": {
          "target": "com.vercel.drains#CreateDrainRequestDeliveryCase2"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestSamplingItemEnv": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Environment to apply sampling to"
      }
    },
    "com.vercel.drains#CreateDrainRequestSamplingItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sampling rate from 0 to 1 (e.g., 0.1 for 10%)",
            "smithy.api#required": {}
          }
        },
        "env": {
          "target": "com.vercel.drains#CreateDrainRequestSamplingItemEnv",
          "traits": {
            "smithy.api#documentation": "Environment to apply sampling to"
          }
        },
        "requestPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request path prefix to apply the sampling rule to"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestSamplingList": {
      "type": "list",
      "member": {
        "target": "com.vercel.drains#CreateDrainRequestSamplingItem"
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestTransformsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestTransformsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.drains#CreateDrainRequestTransformsItem"
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestSourceCase0Case0": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "externalResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestSourceCase0Case1": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestSourceCase0Case2": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestSourceCase0": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.drains#CreateDrainRequestSourceCase0Case0"
        },
        "Case1": {
          "target": "com.vercel.drains#CreateDrainRequestSourceCase0Case1"
        },
        "Case2": {
          "target": "com.vercel.drains#CreateDrainRequestSourceCase0Case2"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestSourceCase1": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequestSource": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.drains#CreateDrainRequestSourceCase0"
        },
        "Case1": {
          "target": "com.vercel.drains#CreateDrainRequestSourceCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projects": {
          "target": "com.vercel.drains#CreateDrainRequestProjects",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectIds": {
          "target": "com.vercel.drains#CreateDrainRequestProjectIdsList"
        },
        "filter": {
          "target": "com.vercel.drains#CreateDrainRequestFilter"
        },
        "schemas": {
          "target": "com.vercel.drains#CreateDrainRequestSchemasMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "delivery": {
          "target": "com.vercel.drains#CreateDrainRequestDelivery"
        },
        "sampling": {
          "target": "com.vercel.drains#CreateDrainRequestSamplingList"
        },
        "transforms": {
          "target": "com.vercel.drains#CreateDrainRequestTransformsList"
        },
        "source": {
          "target": "com.vercel.drains#CreateDrainRequestSource"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0ProjectIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0Status": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DisabledReason": {
      "type": "enum",
      "members": {
        "ACCOUNT_PLAN_DOWNGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account-plan-downgrade"
          }
        },
        "DISABLED_BY_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled-by-admin"
          }
        },
        "DISABLED_BY_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled-by-owner"
          }
        },
        "FEATURE_NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feature-not-available"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0Schemas": {
      "type": "structure",
      "members": {
        "log": {
          "target": "smithy.api#Document"
        },
        "trace": {
          "target": "smithy.api#Document"
        },
        "analytics": {
          "target": "smithy.api#Document"
        },
        "speed_insights": {
          "target": "smithy.api#Document"
        },
        "ai_gateway": {
          "target": "smithy.api#Document"
        },
        "audit_log": {
          "target": "smithy.api#Document"
        },
        "connect": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase0Type": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase0Encoding": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase0Compression": {
      "type": "enum",
      "members": {
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase0HeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase0SecretCase1Kind": {
      "type": "enum",
      "members": {
        "INTEGRATION_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATION_SECRET"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase0SecretCase1": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase0SecretCase1Kind",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase0Secret": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase0SecretCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encoding": {
          "target": "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase0Encoding",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase0Compression"
        },
        "headers": {
          "target": "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase0HeadersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase0Secret"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase1Type": {
      "type": "enum",
      "members": {
        "OTLPHTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "otlphttp"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase1Endpoint": {
      "type": "structure",
      "members": {
        "traces": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase1Encoding": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "PROTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "proto"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase1HeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase1SecretCase1Kind": {
      "type": "enum",
      "members": {
        "INTEGRATION_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATION_SECRET"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase1SecretCase1": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase1SecretCase1Kind",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase1Secret": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase1SecretCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase1Endpoint",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encoding": {
          "target": "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase1Encoding",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase1HeadersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase1Secret"
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase2Type": {
      "type": "enum",
      "members": {
        "CLICKHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickhouse"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase3Type": {
      "type": "enum",
      "members": {
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "s3"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase3Encoding": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase3Compression": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase3FileStructure": {
      "type": "enum",
      "members": {
        "HIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hive"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase3ServerSideEncryption": {
      "type": "enum",
      "members": {
        "AES256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES256"
          }
        },
        "AWS_KMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws:kms"
          }
        },
        "AWS_KMS_DSSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws:kms:dsse"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.drains#CreateDrainResponseBodyCase0DeliveryCase3ObjectAcl": {
      "type": "enum",
      "members": {
        "AUTHENTICATED_READ": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
