{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.feature_flags#ListFlagsV2RequestState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the flags to retrieve. Defaults to `active`."
      }
    },
    "com.vercel.feature_flags#ListFlagsV2RequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter flags by tag. Repeat the parameter for multiple tags (all must match)."
      }
    },
    "com.vercel.feature_flags#ListFlagsV2RequestMaintainerIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter flags by maintainer user id. Repeat the parameter for multiple maintainers (any may match)."
      }
    },
    "com.vercel.feature_flags#ListFlagsV2Request": {
      "type": "structure",
      "members": {
        "projectIdOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The project id or name"
          }
        },
        "state": {
          "target": "com.vercel.feature_flags#ListFlagsV2RequestState",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "The state of the flags to retrieve. Defaults to `active`."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of flags to return."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor to continue from."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search flags by their slug or description. Case-insensitive."
          }
        },
        "tags": {
          "target": "com.vercel.feature_flags#ListFlagsV2RequestTagsList",
          "traits": {
            "smithy.api#httpQuery": "tags",
            "smithy.api#documentation": "Filter flags by tag. Repeat the parameter for multiple tags (all must match)."
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "createdBy",
            "smithy.api#documentation": "Filter flags by the id of the entity that created them (a user or team id)."
          }
        },
        "maintainerIds": {
          "target": "com.vercel.feature_flags#ListFlagsV2RequestMaintainerIdsList",
          "traits": {
            "smithy.api#httpQuery": "maintainerIds",
            "smithy.api#documentation": "Filter flags by maintainer user id. Repeat the parameter for multiple maintainers (any may match)."
          }
        },
        "includeMarketplaceFlags": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeMarketplaceFlags",
            "smithy.api#documentation": "Whether to include Marketplace experimentation items in the paginated response. Defaults to false."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.feature_flags#ListFlagsV2ResponsePagination": {
      "type": "structure",
      "members": {
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#Flag": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "maintainerIds": {
          "target": "com.vercel.feature_flags#FlagMaintainerIdsList"
        },
        "permanent": {
          "target": "smithy.api#Boolean"
        },
        "tags": {
          "target": "com.vercel.feature_flags#FlagTagsList"
        },
        "experiment": {
          "target": "com.vercel.feature_flags#FlagExperiment"
        },
        "updatedBy": {
          "target": "smithy.api#String"
        },
        "variants": {
          "target": "com.vercel.feature_flags#FlagVariantsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environments": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.vercel.feature_flags#FlagKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "seed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.vercel.feature_flags#FlagState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "typeName": {
          "target": "com.vercel.feature_flags#FlagTypeName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.vercel.feature_flags#FlagMetadata"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagMaintainerIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagExperimentGuardrailMetricsItemMetricType": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "CURRENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "currency"
          }
        },
        "PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percentage"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagExperimentGuardrailMetricsItemMetricUnit": {
      "type": "enum",
      "members": {
        "SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "VISITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visitor"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagExperimentGuardrailMetricsItemDirectionality": {
      "type": "enum",
      "members": {
        "DECREASEISGOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decreaseIsGood"
          }
        },
        "INCREASEISGOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "increaseIsGood"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagExperimentGuardrailMetricsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "metricFormula": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metricType": {
          "target": "com.vercel.feature_flags#FlagExperimentGuardrailMetricsItemMetricType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metricUnit": {
          "target": "com.vercel.feature_flags#FlagExperimentGuardrailMetricsItemMetricUnit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "directionality": {
          "target": "com.vercel.feature_flags#FlagExperimentGuardrailMetricsItemDirectionality",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagExperimentGuardrailMetricsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#FlagExperimentGuardrailMetricsItem"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagExperimentDevice": {
      "type": "enum",
      "members": {
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "android"
          }
        },
        "DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desktop"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ios"
          }
        },
        "MWEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mweb"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagExperimentDurationUnit": {
      "type": "enum",
      "members": {
        "DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "days"
          }
        },
        "EXPOSURES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exposures"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagExperimentAllocationUnit": {
      "type": "enum",
      "members": {
        "COOKIEID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookieId"
          }
        },
        "USERID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "userId"
          }
        },
        "VISITORID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visitorId"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagExperimentPrimaryMetricsItemMetricType": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "CURRENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "currency"
          }
        },
        "PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percentage"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagExperimentPrimaryMetricsItemMetricUnit": {
      "type": "enum",
      "members": {
        "SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "VISITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visitor"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagExperimentPrimaryMetricsItemDirectionality": {
      "type": "enum",
      "members": {
        "DECREASEISGOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decreaseIsGood"
          }
        },
        "INCREASEISGOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "increaseIsGood"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagExperimentPrimaryMetricsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "metricFormula": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metricType": {
          "target": "com.vercel.feature_flags#FlagExperimentPrimaryMetricsItemMetricType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metricUnit": {
          "target": "com.vercel.feature_flags#FlagExperimentPrimaryMetricsItemMetricUnit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "directionality": {
          "target": "com.vercel.feature_flags#FlagExperimentPrimaryMetricsItemDirectionality",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagExperimentPrimaryMetricsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#FlagExperimentPrimaryMetricsItem"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagExperimentStatus": {
      "type": "enum",
      "members": {
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagExperiment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "numVariants": {
          "target": "smithy.api#Double"
        },
        "surfaceArea": {
          "target": "smithy.api#String"
        },
        "stickyRequirement": {
          "target": "smithy.api#Boolean"
        },
        "layer": {
          "target": "smithy.api#String"
        },
        "guardrailMetrics": {
          "target": "com.vercel.feature_flags#FlagExperimentGuardrailMetricsList"
        },
        "hypothesis": {
          "target": "smithy.api#String"
        },
        "device": {
          "target": "com.vercel.feature_flags#FlagExperimentDevice"
        },
        "controlVariantId": {
          "target": "smithy.api#String"
        },
        "startedAt": {
          "target": "smithy.api#Double"
        },
        "endedAt": {
          "target": "smithy.api#Double"
        },
        "decision": {
          "target": "smithy.api#String"
        },
        "decisionReason": {
          "target": "smithy.api#String"
        },
        "duration": {
          "target": "smithy.api#Double"
        },
        "durationUnit": {
          "target": "com.vercel.feature_flags#FlagExperimentDurationUnit"
        },
        "allocationPercent": {
          "target": "smithy.api#Double"
        },
        "allocationUnit": {
          "target": "com.vercel.feature_flags#FlagExperimentAllocationUnit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "primaryMetrics": {
          "target": "com.vercel.feature_flags#FlagExperimentPrimaryMetricsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vercel.feature_flags#FlagExperimentStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagVariantsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueReuse": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueTargetsValueValueValueItem": {
      "type": "structure",
      "members": {
        "note": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueTargetsValueValueValueList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#FlagEnvironmentsValueTargetsValueValueValueItem"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueTargetsValueValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.feature_flags#FlagEnvironmentsValueTargetsValueValueValueList"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueTargetsValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.feature_flags#FlagEnvironmentsValueTargetsValueValueMap"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueTargetsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.feature_flags#FlagEnvironmentsValueTargetsValueMap"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValuePausedOutcomeType": {
      "type": "enum",
      "members": {
        "VARIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "variant"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValuePausedOutcome": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValuePausedOutcomeType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase0Type": {
      "type": "enum",
      "members": {
        "VARIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "variant"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase1Type": {
      "type": "enum",
      "members": {
        "SPLIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "split"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase1BaseType": {
      "type": "enum",
      "members": {
        "ENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entity"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase1Base": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase1BaseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase1WeightsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "base": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase1Base",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "weights": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase1WeightsMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase2Type": {
      "type": "enum",
      "members": {
        "ROLLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rollout"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase2BaseType": {
      "type": "enum",
      "members": {
        "ENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entity"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase2Base": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase2BaseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase2SlotsItem": {
      "type": "structure",
      "members": {
        "promille": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "durationMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase2SlotsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase2SlotsItem"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "base": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase2Base",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startTimestamp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rollFromVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rollToVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slots": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase2SlotsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueFallthrough": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase0"
        },
        "Case1": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase1"
        },
        "Case2": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueFallthroughCase2"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase0Type": {
      "type": "enum",
      "members": {
        "VARIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "variant"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase1Type": {
      "type": "enum",
      "members": {
        "SPLIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "split"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase1BaseType": {
      "type": "enum",
      "members": {
        "ENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entity"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase1Base": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase1BaseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase1WeightsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "base": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase1Base",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "weights": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase1WeightsMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase2Type": {
      "type": "enum",
      "members": {
        "ROLLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rollout"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase2BaseType": {
      "type": "enum",
      "members": {
        "ENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entity"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase2Base": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase2BaseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase2SlotsItem": {
      "type": "structure",
      "members": {
        "promille": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "durationMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase2SlotsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase2SlotsItem"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "base": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase2Base",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startTimestamp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rollFromVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rollToVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slots": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase2SlotsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcome": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase0"
        },
        "Case1": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase1"
        },
        "Case2": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcomeCase2"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase2Type": {
      "type": "enum",
      "members": {
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        },
        "LIST_INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list/inline"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase2ItemsItemCase0": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "note": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase2ItemsItemCase1": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "note": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase2ItemsItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase2ItemsItemCase0"
        },
        "Case1": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase2ItemsItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase2ItemsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase2ItemsItem"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "items": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase2ItemsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase3Type": {
      "type": "enum",
      "members": {
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase3Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhs": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase2"
        },
        "Case3": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhsCase3"
        },
        "Case4": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemCmpOptions": {
      "type": "structure",
      "members": {
        "ignoreCase": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemLhsCase0Type": {
      "type": "enum",
      "members": {
        "SEGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "segment"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemLhsCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemLhsCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemLhsCase1Type": {
      "type": "enum",
      "members": {
        "ENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entity"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemLhsCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemLhsCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemLhs": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemLhsCase0"
        },
        "Case1": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemLhsCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemCmp": {
      "type": "enum",
      "members": {
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "!contains"
          }
        },
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "!endsWith"
          }
        },
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "!eq"
          }
        },
        "EX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "!ex"
          }
        },
        "ONEOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "!oneOf"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "!regex"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "!startsWith"
          }
        },
        "AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "after"
          }
        },
        "BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "before"
          }
        },
        "CONTAINS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "CONTAINSALLOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "containsAllOf"
          }
        },
        "CONTAINSANYOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "containsAnyOf"
          }
        },
        "CONTAINSNONEOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "containsNoneOf"
          }
        },
        "ENDSWITH_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        },
        "EQ_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EX_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "ONEOF_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oneOf"
          }
        },
        "REGEX_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "STARTSWITH_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItem": {
      "type": "structure",
      "members": {
        "rhs": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemRhs"
        },
        "cmpOptions": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemCmpOptions"
        },
        "lhs": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemLhs",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cmp": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItemCmp",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsItem"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "outcome": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemOutcome",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "conditions": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItemConditionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValueRulesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesItem"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsValue": {
      "type": "structure",
      "members": {
        "reuse": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueReuse"
        },
        "targets": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueTargetsMap"
        },
        "revision": {
          "target": "smithy.api#Double"
        },
        "pausedOutcome": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValuePausedOutcome",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fallthrough": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueFallthrough",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.vercel.feature_flags#FlagEnvironmentsValueRulesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagEnvironmentsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.feature_flags#FlagEnvironmentsValue"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagKind": {
      "type": "enum",
      "members": {
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagTypeName": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagMetadataCreator": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#FlagMetadata": {
      "type": "structure",
      "members": {
        "creator": {
          "target": "com.vercel.feature_flags#FlagMetadataCreator"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#MarketplaceFlag": {
      "type": "structure",
      "members": {
        "typeName": {
          "target": "com.vercel.feature_flags#MarketplaceFlagTypeName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integrationConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.vercel.feature_flags#MarketplaceFlagState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "category": {
          "target": "com.vercel.feature_flags#MarketplaceFlagCategory"
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "updatedAt": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#MarketplaceFlagTypeName": {
      "type": "enum",
      "members": {
        "MARKETPLACEFLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplaceFlag"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#MarketplaceFlagState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#MarketplaceFlagCategory": {
      "type": "enum",
      "members": {
        "EXPERIMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experiment"
          }
        },
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#ListFlagsV2ResponseDataItem": {
      "type": "union",
      "members": {
        "Flag": {
          "target": "com.vercel.feature_flags#Flag"
        },
        "MarketplaceFlag": {
          "target": "com.vercel.feature_flags#MarketplaceFlag"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#ListFlagsV2ResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#ListFlagsV2ResponseDataItem"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#ListFlagsV2Response": {
      "type": "structure",
      "members": {
        "pagination": {
          "target": "com.vercel.feature_flags#ListFlagsV2ResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.vercel.feature_flags#ListFlagsV2ResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.feature_flags#ListFlagsV2": {
      "type": "operation",
      "input": {
        "target": "com.vercel.feature_flags#ListFlagsV2Request"
      },
      "output": {
        "target": "com.vercel.feature_flags#ListFlagsV2Response"
      },
      "errors": [
        {
          "target": "com.vercel.feature_flags#BadRequest"
        },
        {
          "target": "com.vercel.feature_flags#PaymentRequired"
        },
        {
          "target": "com.vercel.feature_flags#Forbidden"
        },
        {
          "target": "com.vercel.feature_flags#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/projects/{projectIdOrName}/feature-flags/flags",
          "code": 200
        },
        "smithy.api#documentation": "List flags\n\nRetrieve feature flags for a project. Returns an opaque cursor for pagination.",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "pagination.next",
          "items": "data"
        }
      }
    },
    "com.vercel.feature_flags#ListFlagsRequestState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the flags to retrieve. Defaults to `active`."
      }
    },
    "com.vercel.feature_flags#ListFlagsRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter flags by tag. Repeat the parameter for multiple tags (all must match)."
      }
    },
    "com.vercel.feature_flags#ListFlagsRequest": {
      "type": "structure",
      "members": {
        "projectIdOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The project id or name"
          }
        },
        "state": {
          "target": "com.vercel.feature_flags#ListFlagsRequestState",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "The state of the flags to retrieve. Defaults to `active`."
          }
        },
        "withMetadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "withMetadata",
            "smithy.api#documentation": "Deprecated. Whether to include creator metadata in each flag in the response. Resolve creator identity client-side (e.g. via the team members endpoint) instead; this parameter will be removed in a future release. Use `GET /v1/projects/:id/feature-flags/flags/:flagIdOrSlug?withMetadata=true` for single-flag lookups that need creator metadata."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of flags to return. When not set, all flags are returned."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor to continue from."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search flags by their slug or description. Case-insensitive."
          }
        },
        "tags": {
          "target": "com.vercel.feature_flags#ListFlagsRequestTagsList",
          "traits": {
            "smithy.api#httpQuery": "tags",
            "smithy.api#documentation": "Filter flags by tag. Repeat the parameter for multiple tags (all must match)."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.feature_flags#ListFlagsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#Flag"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#ListFlagsResponsePagination": {
      "type": "structure",
      "members": {
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#ListFlagsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vercel.feature_flags#ListFlagsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.vercel.feature_flags#ListFlagsResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.feature_flags#ListFlags": {
      "type": "operation",
      "input": {
        "target": "com.vercel.feature_flags#ListFlagsRequest"
      },
      "output": {
        "target": "com.vercel.feature_flags#ListFlagsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.feature_flags#BadRequest"
        },
        {
          "target": "com.vercel.feature_flags#PaymentRequired"
        },
        {
          "target": "com.vercel.feature_flags#Forbidden"
        },
        {
          "target": "com.vercel.feature_flags#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectIdOrName}/feature-flags/flags",
          "code": 200
        },
        "smithy.api#documentation": "List flags\n\nRetrieve feature flags for a project. The list can be filtered by state and supports pagination.",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "pagination.next",
          "items": "data"
        }
      }
    },
    "com.vercel.feature_flags#CreateFlagRequestKind": {
      "type": "enum",
      "members": {
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of flag"
      }
    },
    "com.vercel.feature_flags#CreateFlagRequestVariantsItemValueCase4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestVariantsItemValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        },
        "Case3": {
          "target": "smithy.api#Document"
        },
        "Case4": {
          "target": "com.vercel.feature_flags#CreateFlagRequestVariantsItemValueCase4List"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestVariantsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the variant",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A label for the variant"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the variant"
          }
        },
        "value": {
          "target": "com.vercel.feature_flags#CreateFlagRequestVariantsItemValue",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestVariantsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#CreateFlagRequestVariantsItem"
      },
      "traits": {
        "smithy.api#documentation": "The variants of the flag"
      }
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueReuse": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the reuse is active or not",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment to link to",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allows linking this environment to another environment so this flag will be evaluated with the other flag's configuration"
      }
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueTargetsValueValueValueItem": {
      "type": "structure",
      "members": {
        "note": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueTargetsValueValueValueList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueTargetsValueValueValueItem"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueTargetsValueValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueTargetsValueValueValueList"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueTargetsValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueTargetsValueValueMap"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueTargetsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueTargetsValueMap"
      },
      "traits": {
        "smithy.api#documentation": "Allows assigning targets to variants while bypassing the flag's rules"
      }
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValuePausedOutcome": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemLhsCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemLhsCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemLhs": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemLhsCase0"
        },
        "Case1": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemLhsCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemCmp": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EQ_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "!eq"
          }
        },
        "ONEOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oneOf"
          }
        },
        "ONEOF_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "!oneOf"
          }
        },
        "CONTAINSALLOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "containsAllOf"
          }
        },
        "CONTAINSANYOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "containsAnyOf"
          }
        },
        "CONTAINSNONEOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "containsNoneOf"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        },
        "STARTSWITH_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "!startsWith"
          }
        },
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        },
        "ENDSWITH_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "!endsWith"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "CONTAINS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "!contains"
          }
        },
        "EX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ex"
          }
        },
        "EX_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "!ex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "REGEX_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "!regex"
          }
        },
        "BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "before"
          }
        },
        "AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "after"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhsCase0Type": {
      "type": "enum",
      "members": {
        "LIST_INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list/inline"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhsCase0ItemsItemCase0": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "note": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhsCase0ItemsItemCase1": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "note": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhsCase0ItemsItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhsCase0ItemsItemCase0"
        },
        "Case1": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhsCase0ItemsItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhsCase0ItemsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhsCase0ItemsItem"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhsCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhsCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "items": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhsCase0ItemsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhsCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhs": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhsCase0"
        },
        "Case1": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhsCase1"
        },
        "Case2": {
          "target": "smithy.api#String"
        },
        "Case3": {
          "target": "smithy.api#Double"
        },
        "Case4": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemCmpOptions": {
      "type": "structure",
      "members": {
        "ignoreCase": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItem": {
      "type": "structure",
      "members": {
        "lhs": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemLhs",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cmp": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemCmp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rhs": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemRhs"
        },
        "cmpOptions": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItemCmpOptions"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsItem"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase1Base": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase1WeightsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "The distribution for each variant"
      }
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "base": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase1Base",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "weights": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase1WeightsMap",
          "traits": {
            "smithy.api#documentation": "The distribution for each variant",
            "smithy.api#required": {}
          }
        },
        "defaultVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This variant will be used when the base attribute does not exist",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase2Base": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase2SlotsItem": {
      "type": "structure",
      "members": {
        "promille": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Promille of traffic for rollToVariant (0-100_000, where 1_000 = 1%)",
            "smithy.api#required": {}
          }
        },
        "durationMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How long this promille is served in ms before moving to the next slot.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase2SlotsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase2SlotsItem"
      },
      "traits": {
        "smithy.api#documentation": "Each slot defines a promille and how long it is served for. After all slots expire, 100% is served indefinitely. The final implicit 100% slot does not need to be listed. Example: [[5_000, 21_600_000], [10_000, 28_800_000]] means 5‰ for 6h, then 10‰ for 8h, then 100% indefinitely."
      }
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "base": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase2Base",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startTimestamp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Epoch ms when the rollout begins",
            "smithy.api#required": {}
          }
        },
        "rollFromVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The variant to roll away from",
            "smithy.api#required": {}
          }
        },
        "rollToVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The variant to roll towards",
            "smithy.api#required": {}
          }
        },
        "defaultVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This variant will be used when the base attribute does not exist",
            "smithy.api#required": {}
          }
        },
        "slots": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase2SlotsList",
          "traits": {
            "smithy.api#documentation": "Each slot defines a promille and how long it is served for. After all slots expire, 100% is served indefinitely. The final implicit 100% slot does not need to be listed. Example: [[5_000, 21_600_000], [10_000, 28_800_000]] means 5‰ for 6h, then 10‰ for 8h, then 100% indefinitely.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcome": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase0"
        },
        "Case1": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase1"
        },
        "Case2": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcomeCase2"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "conditions": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemConditionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "outcome": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItemOutcome",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesItem"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase1Base": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase1WeightsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "The distribution for each variant"
      }
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "base": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase1Base",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "weights": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase1WeightsMap",
          "traits": {
            "smithy.api#documentation": "The distribution for each variant",
            "smithy.api#required": {}
          }
        },
        "defaultVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This variant will be used when the base attribute does not exist",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase2Base": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase2SlotsItem": {
      "type": "structure",
      "members": {
        "promille": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Promille of traffic for rollToVariant (0-100_000, where 1_000 = 1%)",
            "smithy.api#required": {}
          }
        },
        "durationMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How long this promille is served in ms before moving to the next slot.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase2SlotsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase2SlotsItem"
      },
      "traits": {
        "smithy.api#documentation": "Each slot defines a promille and how long it is served for. After all slots expire, 100% is served indefinitely. The final implicit 100% slot does not need to be listed. Example: [[5_000, 21_600_000], [10_000, 28_800_000]] means 5‰ for 6h, then 10‰ for 8h, then 100% indefinitely."
      }
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "base": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase2Base",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startTimestamp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Epoch ms when the rollout begins",
            "smithy.api#required": {}
          }
        },
        "rollFromVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The variant to roll away from",
            "smithy.api#required": {}
          }
        },
        "rollToVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The variant to roll towards",
            "smithy.api#required": {}
          }
        },
        "defaultVariantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This variant will be used when the base attribute does not exist",
            "smithy.api#required": {}
          }
        },
        "slots": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase2SlotsList",
          "traits": {
            "smithy.api#documentation": "Each slot defines a promille and how long it is served for. After all slots expire, 100% is served indefinitely. The final implicit 100% slot does not need to be listed. Example: [[5_000, 21_600_000], [10_000, 28_800_000]] means 5‰ for 6h, then 10‰ for 8h, then 100% indefinitely.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthrough": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase0"
        },
        "Case1": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase1"
        },
        "Case2": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthroughCase2"
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValue": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reuse": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueReuse",
          "traits": {
            "smithy.api#documentation": "Allows linking this environment to another environment so this flag will be evaluated with the other flag's configuration"
          }
        },
        "targets": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueTargetsMap",
          "traits": {
            "smithy.api#documentation": "Allows assigning targets to variants while bypassing the flag's rules"
          }
        },
        "pausedOutcome": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValuePausedOutcome",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueRulesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fallthrough": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValueFallthrough",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The revision of the environment config"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestEnvironmentsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsValue"
      },
      "traits": {
        "smithy.api#documentation": "The configuration for the flag in different environments"
      }
    },
    "com.vercel.feature_flags#CreateFlagRequestState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagRequestMaintainerIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The user ids of the maintainers of the flag"
      }
    },
    "com.vercel.feature_flags#CreateFlagRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags for categorizing the flag"
      }
    },
    "com.vercel.feature_flags#CreateFlagRequest": {
      "type": "structure",
      "members": {
        "projectIdOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The project id or name"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "kind": {
          "target": "com.vercel.feature_flags#CreateFlagRequestKind",
          "traits": {
            "smithy.api#documentation": "The kind of flag",
            "smithy.api#required": {}
          }
        },
        "variants": {
          "target": "com.vercel.feature_flags#CreateFlagRequestVariantsList",
          "traits": {
            "smithy.api#documentation": "The variants of the flag"
          }
        },
        "environments": {
          "target": "com.vercel.feature_flags#CreateFlagRequestEnvironmentsMap",
          "traits": {
            "smithy.api#documentation": "The configuration for the flag in different environments",
            "smithy.api#required": {}
          }
        },
        "seed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A random seed to prevent split points in different flags from having the same targets"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the flag"
          }
        },
        "state": {
          "target": "com.vercel.feature_flags#CreateFlagRequestState"
        },
        "maintainerIds": {
          "target": "com.vercel.feature_flags#CreateFlagRequestMaintainerIdsList",
          "traits": {
            "smithy.api#documentation": "The user ids of the maintainers of the flag"
          }
        },
        "permanent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this flag is marked as permanent, indicating it should not be removed"
          }
        },
        "tags": {
          "target": "com.vercel.feature_flags#CreateFlagRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Tags for categorizing the flag"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.feature_flags#CreateFlagResponseMaintainerIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.feature_flags#CreateFlagResponseExperimentGuardrailMetricsItemMetricType": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "CURRENCY": {
[...]
