{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.integrations#GitNamespacesRequestProvider": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITHUB_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github-limited"
          }
        },
        "GITHUB_CUSTOM_HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github-custom-host"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GitNamespacesRequest": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "host",
            "smithy.api#documentation": "The custom Git host if using a custom Git provider, like GitHub Enterprise Server"
          }
        },
        "provider": {
          "target": "com.vercel.integrations#GitNamespacesRequestProvider",
          "traits": {
            "smithy.api#httpQuery": "provider"
          }
        },
        "viewerMetadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "viewerMetadata",
            "smithy.api#documentation": "When true, includes the viewer object for each namespace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.integrations#GitNamespacesResponseBodyItemId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GitNamespacesResponseBodyItemViewerRole": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GitNamespacesResponseBodyItemViewer": {
      "type": "structure",
      "members": {
        "canCreateApp": {
          "target": "smithy.api#Boolean"
        },
        "role": {
          "target": "com.vercel.integrations#GitNamespacesResponseBodyItemViewerRole"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GitNamespacesResponseBodyItem": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.vercel.integrations#GitNamespacesResponseBodyItemId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ownerType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "isAccessRestricted": {
          "target": "smithy.api#Boolean"
        },
        "installationId": {
          "target": "smithy.api#Double"
        },
        "requireReauth": {
          "target": "smithy.api#Boolean"
        },
        "viewer": {
          "target": "com.vercel.integrations#GitNamespacesResponseBodyItemViewer"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GitNamespacesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.vercel.integrations#GitNamespacesResponseBodyItem"
      },
      "traits": {}
    },
    "com.vercel.integrations#GitNamespacesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.integrations#GitNamespacesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.integrations#GitNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.vercel.integrations#GitNamespacesRequest"
      },
      "output": {
        "target": "com.vercel.integrations#GitNamespacesResponse"
      },
      "errors": [
        {
          "target": "com.vercel.integrations#BadRequest"
        },
        {
          "target": "com.vercel.integrations#Forbidden"
        },
        {
          "target": "com.vercel.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/integrations/git-namespaces",
          "code": 200
        },
        "smithy.api#documentation": "List git namespaces by provider\n\nLists git namespaces for a supported provider. Supported providers are `github`, `gitlab` and `bitbucket`. If the provider is not provided, it will try to obtain it from the user that authenticated the request."
      }
    },
    "com.vercel.integrations#SearchRepoRequestNamespaceId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoRequestProvider": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITHUB_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github-limited"
          }
        },
        "GITHUB_CUSTOM_HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github-custom-host"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket"
          }
        },
        "CURSOR_ORIGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cursor-origin"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "query"
          }
        },
        "namespaceId": {
          "target": "com.vercel.integrations#SearchRepoRequestNamespaceId",
          "traits": {
            "smithy.api#httpQuery": "namespaceId"
          }
        },
        "provider": {
          "target": "com.vercel.integrations#SearchRepoRequestProvider",
          "traits": {
            "smithy.api#httpQuery": "provider"
          }
        },
        "installationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "installationId"
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "host",
            "smithy.api#documentation": "The custom Git host if using a custom Git provider, like GitHub Enterprise Server"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase1ErrorCode": {
      "type": "enum",
      "members": {
        "INSTALLATION_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "installation_not_found"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase1Error": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase1ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase1": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase1Error",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase2GitAccount": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "namespaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase2ReposItemProvider": {
      "type": "enum",
      "members": {
        "CURSOR_ORIGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cursor-origin"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase2ReposItemOwnerType": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase2ReposItemOwner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase2ReposItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase2ReposItemProvider",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ownerType": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase2ReposItemOwnerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase2ReposItemOwner",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase2ReposList": {
      "type": "list",
      "member": {
        "target": "com.vercel.integrations#SearchRepoResponseBodyCase2ReposItem"
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase2": {
      "type": "structure",
      "members": {
        "gitAccount": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase2GitAccount",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase2ReposList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase3GitAccountProvider": {
      "type": "enum",
      "members": {
        "BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITHUB_CUSTOM_HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github-custom-host"
          }
        },
        "GITHUB_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github-limited"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "VERCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vercel"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase3GitAccountNamespaceId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase3GitAccount": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase3GitAccountProvider",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "namespaceId": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase3GitAccountNamespaceId",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase3ReposItemId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase3ReposItemProvider": {
      "type": "enum",
      "members": {
        "BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITHUB_CUSTOM_HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github-custom-host"
          }
        },
        "GITHUB_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github-limited"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "VERCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vercel"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase3ReposItemOwnerId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase3ReposItemOwner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase3ReposItemOwnerId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase3ReposItemOwnerType": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase3ReposItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase3ReposItemId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase3ReposItemProvider",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase3ReposItemOwner",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ownerType": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase3ReposItemOwnerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase3ReposList": {
      "type": "list",
      "member": {
        "target": "com.vercel.integrations#SearchRepoResponseBodyCase3ReposItem"
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBodyCase3": {
      "type": "structure",
      "members": {
        "gitAccount": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase3GitAccount",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase3ReposList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase1"
        },
        "Case2": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase2"
        },
        "Case3": {
          "target": "com.vercel.integrations#SearchRepoResponseBodyCase3"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#SearchRepoResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.integrations#SearchRepoResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.integrations#SearchRepo": {
      "type": "operation",
      "input": {
        "target": "com.vercel.integrations#SearchRepoRequest"
      },
      "output": {
        "target": "com.vercel.integrations#SearchRepoResponse"
      },
      "errors": [
        {
          "target": "com.vercel.integrations#BadRequest"
        },
        {
          "target": "com.vercel.integrations#Forbidden"
        },
        {
          "target": "com.vercel.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/integrations/search-repo",
          "code": 200
        },
        "smithy.api#documentation": "List git repositories linked to namespace by provider\n\nLists git repositories linked to a namespace `id` for a supported provider. A specific namespace `id` can be obtained via the `git-namespaces`  endpoint. Supported providers are `github`, `gitlab` and `bitbucket`. If the provider or namespace is not provided, it will try to obtain it from the user that authenticated the request."
      }
    },
    "com.vercel.integrations#GetBillingPlansRequestSource": {
      "type": "enum",
      "members": {
        "MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplace"
          }
        },
        "DEPLOY_BUTTON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deploy-button"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "V0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0"
          }
        },
        "RESOURCE_CLAIMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource-claims"
          }
        },
        "CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cli"
          }
        },
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "BACKOFFICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backoffice"
          }
        },
        "IMPORT_RECOMMENDED_INTEGRATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import-recommended-integrations"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetBillingPlansRequest": {
      "type": "structure",
      "members": {
        "integrationIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "productIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "integrationConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "integrationConfigurationId"
          }
        },
        "metadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "metadata"
          }
        },
        "source": {
          "target": "com.vercel.integrations#GetBillingPlansRequestSource",
          "traits": {
            "smithy.api#httpQuery": "source"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.integrations#GetBillingPlansResponsePlansItemType": {
      "type": "enum",
      "members": {
        "PREPAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prepayment"
          }
        },
        "SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetBillingPlansResponsePlansItemScope": {
      "type": "enum",
      "members": {
        "INSTALLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "installation"
          }
        },
        "RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetBillingPlansResponsePlansItemDetailsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetBillingPlansResponsePlansItemDetailsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.integrations#GetBillingPlansResponsePlansItemDetailsItem"
      },
      "traits": {}
    },
    "com.vercel.integrations#GetBillingPlansResponsePlansItemHighlightedDetailsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetBillingPlansResponsePlansItemHighlightedDetailsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.integrations#GetBillingPlansResponsePlansItemHighlightedDetailsItem"
      },
      "traits": {}
    },
    "com.vercel.integrations#GetBillingPlansResponsePlansItemQuoteItem": {
      "type": "structure",
      "members": {
        "line": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "amount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetBillingPlansResponsePlansItemQuoteList": {
      "type": "list",
      "member": {
        "target": "com.vercel.integrations#GetBillingPlansResponsePlansItemQuoteItem"
      },
      "traits": {}
    },
    "com.vercel.integrations#GetBillingPlansResponsePlansItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.integrations#GetBillingPlansResponsePlansItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.vercel.integrations#GetBillingPlansResponsePlansItemScope",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "paymentMethodRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "preauthorizationAmount": {
          "target": "smithy.api#Double"
        },
        "initialCharge": {
          "target": "smithy.api#String"
        },
        "minimumAmount": {
          "target": "smithy.api#String"
        },
        "maximumAmount": {
          "target": "smithy.api#String"
        },
        "maximumAmountAutoPurchasePerPeriod": {
          "target": "smithy.api#String"
        },
        "cost": {
          "target": "smithy.api#String"
        },
        "details": {
          "target": "com.vercel.integrations#GetBillingPlansResponsePlansItemDetailsList"
        },
        "highlightedDetails": {
          "target": "com.vercel.integrations#GetBillingPlansResponsePlansItemHighlightedDetailsList"
        },
        "quote": {
          "target": "com.vercel.integrations#GetBillingPlansResponsePlansItemQuoteList"
        },
        "effectiveDate": {
          "target": "smithy.api#String"
        },
        "disabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetBillingPlansResponsePlansList": {
      "type": "list",
      "member": {
        "target": "com.vercel.integrations#GetBillingPlansResponsePlansItem"
      },
      "traits": {}
    },
    "com.vercel.integrations#GetBillingPlansResponse": {
      "type": "structure",
      "members": {
        "plans": {
          "target": "com.vercel.integrations#GetBillingPlansResponsePlansList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.integrations#GetBillingPlans": {
      "type": "operation",
      "input": {
        "target": "com.vercel.integrations#GetBillingPlansRequest"
      },
      "output": {
        "target": "com.vercel.integrations#GetBillingPlansResponse"
      },
      "errors": [
        {
          "target": "com.vercel.integrations#BadRequest"
        },
        {
          "target": "com.vercel.integrations#Forbidden"
        },
        {
          "target": "com.vercel.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/integrations/integration/{integrationIdOrSlug}/products/{productIdOrSlug}/plans",
          "code": 200
        },
        "smithy.api#documentation": "List integration billing plans\n\nGet a list of billing plans for an integration and product."
      }
    },
    "com.vercel.integrations#ConnectIntegrationResourceToProjectRequestEnvVarEnvironmentsItem": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#ConnectIntegrationResourceToProjectRequestEnvVarEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.integrations#ConnectIntegrationResourceToProjectRequestEnvVarEnvironmentsItem"
      },
      "traits": {}
    },
    "com.vercel.integrations#ConnectIntegrationResourceToProjectRequest": {
      "type": "structure",
      "members": {
        "integrationConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "envVarEnvironments": {
          "target": "com.vercel.integrations#ConnectIntegrationResourceToProjectRequestEnvVarEnvironmentsList"
        },
        "makeEnvVarsSensitive": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.integrations#ConnectIntegrationResourceToProject": {
      "type": "operation",
      "input": {
        "target": "com.vercel.integrations#ConnectIntegrationResourceToProjectRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.vercel.integrations#BadRequest"
        },
        {
          "target": "com.vercel.integrations#Forbidden"
        },
        {
          "target": "com.vercel.integrations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/integrations/installations/{integrationConfigurationId}/resources/{resourceId}/connections",
          "code": 200
        },
        "smithy.api#documentation": "Connect integration resource to project\n\nConnects an integration resource to a Vercel project. This endpoint establishes a connection between a provisioned integration resource (from storage APIs like `POST /v1/storage/stores/integration/direct`) and a specific Vercel project."
      }
    },
    "com.vercel.integrations#GetConfigurationsRequestView": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationsRequestInstallationType": {
      "type": "enum",
      "members": {
        "MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplace"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationsRequest": {
      "type": "structure",
      "members": {
        "view": {
          "target": "com.vercel.integrations#GetConfigurationsRequestView",
          "traits": {
            "smithy.api#httpQuery": "view",
            "smithy.api#required": {}
          }
        },
        "installationType": {
          "target": "com.vercel.integrations#GetConfigurationsRequestInstallationType",
          "traits": {
            "smithy.api#httpQuery": "installationType"
          }
        },
        "integrationIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "integrationIdOrSlug",
            "smithy.api#documentation": "ID of the integration"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase0ItemStatus": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "ONBOARDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "onboarding"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "RESUMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resumed"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "UNINSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uninstalled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration status. Optional. If not defined, assume 'ready'."
      }
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase0ItemProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "When a configuration is limited to access certain projects, this will contain each of the project ID it is allowed to access. If it is not defined, the configuration has full access."
      }
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase0ItemSource": {
      "type": "enum",
      "members": {
        "BACKOFFICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backoffice"
          }
        },
        "CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cli"
          }
        },
        "DEPLOY_BUTTON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deploy-button"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "IMPORT_RECOMMENDED_INTEGRATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import-recommended-integrations"
          }
        },
        "MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplace"
          }
        },
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "RESOURCE_CLAIMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource-claims"
          }
        },
        "V0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source defines where the configuration was installed from. It is used to analyze user engagement for integration installations in product metrics."
      }
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase0ItemType": {
      "type": "enum",
      "members": {
        "INTEGRATION_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-configuration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase0ItemScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resources that are allowed to be accessed by the configuration."
      }
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase0ItemDisabledReason": {
      "type": "enum",
      "members": {
        "ACCOUNT_PLAN_DOWNGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account-plan-downgrade"
          }
        },
        "DISABLED_BY_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled-by-admin"
          }
        },
        "DISABLED_BY_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled-by-owner"
          }
        },
        "FEATURE_NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feature-not-available"
          }
        },
        "ORIGINAL_OWNER_LEFT_THE_TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "original-owner-left-the-team"
          }
        },
        "ORIGINAL_OWNER_ROLE_DOWNGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "original-owner-role-downgraded"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase0ItemInstallationType": {
      "type": "enum",
      "members": {
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplace"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the installation type. - 'external' integrations are installed via the existing integrations flow - 'marketplace' integrations are natively installed: - when accepting the TOS of a partner during the store creation process - if undefined, assume 'external'"
      }
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase0Item": {
      "type": "structure",
      "members": {
        "completedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration was installed successfully"
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration was created"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the configuration"
          }
        },
        "integrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the app the configuration was created for"
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user or team ID that owns the configuration"
          }
        },
        "status": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase0ItemStatus",
          "traits": {
            "smithy.api#documentation": "The configuration status. Optional. If not defined, assume 'ready'."
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An external identifier defined by the integration vendor."
          }
        },
        "projects": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase0ItemProjectsList",
          "traits": {
            "smithy.api#documentation": "When a configuration is limited to access certain projects, this will contain each of the project ID it is allowed to access. If it is not defined, the configuration has full access."
          }
        },
        "source": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase0ItemSource",
          "traits": {
            "smithy.api#documentation": "Source defines where the configuration was installed from. It is used to analyze user engagement for integration installations in product metrics."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the integration the configuration is created for."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the configuration was created for a team, this will show the ID of the team.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase0ItemType"
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration was updated."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user that created the configuration."
          }
        },
        "scopes": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase0ItemScopesList",
          "traits": {
            "smithy.api#documentation": "The resources that are allowed to be accessed by the configuration."
          }
        },
        "disabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration was disabled. Note: Configurations can be disabled when the associated user loses access to a team. They do not function during this time until the configuration is 'transferred', meaning the associated user is changed to one with access to the team."
          }
        },
        "deletedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration was deleted.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleteRequestedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration deletion has been started for cases when the deletion needs to be settled/approved by partners, such as when marketplace invoices have been paid.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "customerDeleteRequestedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Record when the customer initited deletion, independent of whether `deleteRequestedAt` gets set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "disabledReason": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase0ItemDisabledReason"
        },
        "installationType": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase0ItemInstallationType",
          "traits": {
            "smithy.api#documentation": "Defines the installation type. - 'external' integrations are installed via the existing integrations flow - 'marketplace' integrations are natively installed: - when accepting the TOS of a partner during the store creation process - if undefined, assume 'external'"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of configurations for the authenticated user"
      }
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase0List": {
      "type": "list",
      "member": {
        "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase0Item"
      },
      "traits": {
        "smithy.api#documentation": "The list of configurations for the authenticated user"
      }
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemIntegrationFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemIntegrationTagIdsItem": {
      "type": "enum",
      "members": {
        "TAG_AGENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_agents"
          }
        },
        "TAG_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_ai"
          }
        },
        "TAG_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_analytics"
          }
        },
        "TAG_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_authentication"
          }
        },
        "TAG_CMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_cms"
          }
        },
        "TAG_CODE_REPOSITORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_code_repository"
          }
        },
        "TAG_CODE_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_code_review"
          }
        },
        "TAG_CODE_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_code_security"
          }
        },
        "TAG_CODE_TESTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_code_testing"
          }
        },
        "TAG_COMMERCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_commerce"
          }
        },
        "TAG_DATABASES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_databases"
          }
        },
        "TAG_DEV_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_dev_tools"
          }
        },
        "TAG_EXPERIMENTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_experimentation"
          }
        },
        "TAG_FLAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_flags"
          }
        },
        "TAG_LOGGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_logging"
          }
        },
        "TAG_MESSAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_messaging"
          }
        },
        "TAG_MONITORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_monitoring"
          }
        },
        "TAG_OBSERVABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_observability"
          }
        },
        "TAG_PAYMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_payments"
          }
        },
        "TAG_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_performance"
          }
        },
        "TAG_PRODUCTIVITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_productivity"
          }
        },
        "TAG_SEARCHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_searching"
          }
        },
        "TAG_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_security"
          }
        },
        "TAG_SUPPORT_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_support_agent"
          }
        },
        "TAG_TESTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_testing"
          }
        },
        "TAG_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_video"
          }
        },
        "TAG_WEB_AUTOMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_web_automation"
          }
        },
        "TAG_WORKFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_workflow"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemIntegrationTagIdsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemIntegrationTagIdsItem"
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemIntegration": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isLegacy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flags": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemIntegrationFlagsList"
        },
        "assignedBetaLabelAt": {
          "target": "smithy.api#Double"
        },
        "tagIds": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemIntegrationTagIdsList"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemStatus": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "ONBOARDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "onboarding"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "RESUMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resumed"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "UNINSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uninstalled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration status. Optional. If not defined, assume 'ready'."
      }
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "When a configuration is limited to access certain projects, this will contain each of the project ID it is allowed to access. If it is not defined, the configuration has full access."
      }
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemSource": {
      "type": "enum",
      "members": {
        "BACKOFFICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backoffice"
          }
        },
        "CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cli"
          }
        },
        "DEPLOY_BUTTON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deploy-button"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "IMPORT_RECOMMENDED_INTEGRATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import-recommended-integrations"
          }
        },
        "MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplace"
          }
        },
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "RESOURCE_CLAIMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource-claims"
          }
        },
        "V0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source defines where the configuration was installed from. It is used to analyze user engagement for integration installations in product metrics."
      }
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemType": {
      "type": "enum",
      "members": {
        "INTEGRATION_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-configuration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resources that are allowed to be accessed by the configuration."
      }
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemDisabledReason": {
      "type": "enum",
      "members": {
        "ACCOUNT_PLAN_DOWNGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account-plan-downgrade"
          }
        },
        "DISABLED_BY_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled-by-admin"
          }
        },
        "DISABLED_BY_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled-by-owner"
          }
        },
        "FEATURE_NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feature-not-available"
          }
        },
        "ORIGINAL_OWNER_LEFT_THE_TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "original-owner-left-the-team"
          }
        },
        "ORIGINAL_OWNER_ROLE_DOWNGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "original-owner-role-downgraded"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemInstallationType": {
      "type": "enum",
      "members": {
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplace"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the installation type. - 'external' integrations are installed via the existing integrations flow - 'marketplace' integrations are natively installed: - when accepting the TOS of a partner during the store creation process - if undefined, assume 'external'"
      }
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase1Item": {
      "type": "structure",
      "members": {
        "integration": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemIntegration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "completedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration was installed successfully"
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration was created",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the configuration",
            "smithy.api#required": {}
          }
        },
        "integrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the app the configuration was created for",
            "smithy.api#required": {}
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user or team ID that owns the configuration",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemStatus",
          "traits": {
            "smithy.api#documentation": "The configuration status. Optional. If not defined, assume 'ready'."
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An external identifier defined by the integration vendor."
          }
        },
        "projects": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemProjectsList",
          "traits": {
            "smithy.api#documentation": "When a configuration is limited to access certain projects, this will contain each of the project ID it is allowed to access. If it is not defined, the configuration has full access."
          }
        },
        "source": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemSource",
          "traits": {
            "smithy.api#documentation": "Source defines where the configuration was installed from. It is used to analyze user engagement for integration installations in product metrics."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the integration the configuration is created for.",
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the configuration was created for a team, this will show the ID of the team.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration was updated.",
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user that created the configuration.",
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemScopesList",
          "traits": {
            "smithy.api#documentation": "The resources that are allowed to be accessed by the configuration.",
            "smithy.api#required": {}
          }
        },
        "disabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration was disabled. Note: Configurations can be disabled when the associated user loses access to a team. They do not function during this time until the configuration is 'transferred', meaning the associated user is changed to one with access to the team."
          }
        },
        "deletedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration was deleted.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleteRequestedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration deletion has been started for cases when the deletion needs to be settled/approved by partners, such as when marketplace invoices have been paid.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "customerDeleteRequestedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Record when the customer initited deletion, independent of whether `deleteRequestedAt` gets set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "disabledReason": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemDisabledReason"
        },
        "installationType": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase1ItemInstallationType",
          "traits": {
            "smithy.api#documentation": "Defines the installation type. - 'external' integrations are installed via the existing integrations flow - 'marketplace' integrations are natively installed: - when accepting the TOS of a partner during the store creation process - if undefined, assume 'external'"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationsResponseBodyCase1List": {
      "type": "list",
      "member": {
        "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase1Item"
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationsResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase0List"
        },
        "Case1": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBodyCase1List"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.integrations#GetConfigurationsResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.integrations#GetConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.vercel.integrations#GetConfigurationsRequest"
      },
      "output": {
        "target": "com.vercel.integrations#GetConfigurationsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.integrations#BadRequest"
        },
        {
          "target": "com.vercel.integrations#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/integrations/configurations",
          "code": 200
        },
        "smithy.api#documentation": "Get configurations for the authenticated user or team\n\nAllows to retrieve all configurations for an authenticated integration. When the `project` view is used, configurations generated for the authorization flow will be filtered out of the results."
      }
    },
    "com.vercel.integrations#GetConfigurationRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the configuration to check"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0ProjectSelection": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "SELECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "selected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A string representing the permission for projects. Possible values are `all` or `selected`."
      }
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0NotificationLevel": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "info"
          }
        },
        "WARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warn"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0Notification": {
      "type": "structure",
      "members": {
        "level": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0NotificationLevel",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "href": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase0Kind": {
      "type": "enum",
      "members": {
        "TRANSFER_TO_MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transfer-to-marketplace"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase0MetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase0BillingPlanType": {
      "type": "enum",
      "members": {
        "PREPAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prepayment"
          }
        },
        "SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase0BillingPlanScope": {
      "type": "enum",
      "members": {
        "INSTALLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "installation"
          }
        },
        "RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase0BillingPlan": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase0BillingPlanType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase0BillingPlanScope"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "paymentMethodRequired": {
          "target": "smithy.api#Boolean"
        },
        "preauthorizationAmount": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase0Requester": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase0": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase0Kind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase0MetadataMap"
        },
        "billingPlan": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase0BillingPlan"
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transferId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requester": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase0Requester",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "discardedAt": {
          "target": "smithy.api#Double"
        },
        "discardedBy": {
          "target": "smithy.api#String"
        },
        "approvedAt": {
          "target": "smithy.api#Double"
        },
        "approvedBy": {
          "target": "smithy.api#String"
        },
        "authorizationId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase1Kind": {
      "type": "enum",
      "members": {
        "TRANSFER_FROM_MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transfer-from-marketplace"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase1Requester": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase1": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase1Kind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transferId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requester": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase1Requester",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "discardedAt": {
          "target": "smithy.api#Double"
        },
        "discardedBy": {
          "target": "smithy.api#String"
        },
        "approvedAt": {
          "target": "smithy.api#Double"
        },
        "approvedBy": {
          "target": "smithy.api#String"
        },
        "authorizationId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequest": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase0"
        },
        "Case1": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequestCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0ProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "When a configuration is limited to access certain projects, this will contain each of the project ID it is allowed to access. If it is not defined, the configuration has full access."
      }
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0Status": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "ONBOARDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "onboarding"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "RESUMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resumed"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "UNINSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uninstalled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration status. Optional. If not defined, assume 'ready'."
      }
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0Type": {
      "type": "enum",
      "members": {
        "INTEGRATION_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-configuration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0Source": {
      "type": "enum",
      "members": {
        "BACKOFFICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backoffice"
          }
        },
        "CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cli"
          }
        },
        "DEPLOY_BUTTON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deploy-button"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "IMPORT_RECOMMENDED_INTEGRATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import-recommended-integrations"
          }
        },
        "MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplace"
          }
        },
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "RESOURCE_CLAIMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource-claims"
          }
        },
        "V0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source defines where the configuration was installed from. It is used to analyze user engagement for integration installations in product metrics."
      }
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0ScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resources that are allowed to be accessed by the configuration."
      }
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0DisabledReason": {
      "type": "enum",
      "members": {
        "ACCOUNT_PLAN_DOWNGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account-plan-downgrade"
          }
        },
        "DISABLED_BY_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled-by-admin"
          }
        },
        "DISABLED_BY_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled-by-owner"
          }
        },
        "FEATURE_NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feature-not-available"
          }
        },
        "ORIGINAL_OWNER_LEFT_THE_TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "original-owner-left-the-team"
          }
        },
        "ORIGINAL_OWNER_ROLE_DOWNGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "original-owner-role-downgraded"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0InstallationType": {
      "type": "enum",
      "members": {
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplace"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the installation type. - 'external' integrations are installed via the existing integrations flow - 'marketplace' integrations are natively installed: - when accepting the TOS of a partner during the store creation process - if undefined, assume 'external'"
      }
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase0": {
      "type": "structure",
      "members": {
        "projectSelection": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0ProjectSelection",
          "traits": {
            "smithy.api#documentation": "A string representing the permission for projects. Possible values are `all` or `selected`.",
            "smithy.api#required": {}
          }
        },
        "notification": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0Notification",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transferRequest": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0TransferRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projects": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0ProjectsList",
          "traits": {
            "smithy.api#documentation": "When a configuration is limited to access certain projects, this will contain each of the project ID it is allowed to access. If it is not defined, the configuration has full access."
          }
        },
        "status": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0Status",
          "traits": {
            "smithy.api#documentation": "The configuration status. Optional. If not defined, assume 'ready'."
          }
        },
        "type": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the configuration",
            "smithy.api#required": {}
          }
        },
        "integrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the app the configuration was created for",
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user that created the configuration.",
            "smithy.api#required": {}
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user or team ID that owns the configuration",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration was created",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration was updated.",
            "smithy.api#required": {}
          }
        },
        "deletedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration was deleted.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "canConfigureOpenTelemetry": {
          "target": "smithy.api#Boolean"
        },
        "completedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration was installed successfully"
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An external identifier defined by the integration vendor."
          }
        },
        "source": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0Source",
          "traits": {
            "smithy.api#documentation": "Source defines where the configuration was installed from. It is used to analyze user engagement for integration installations in product metrics."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the integration the configuration is created for.",
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the configuration was created for a team, this will show the ID of the team.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scopes": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0ScopesList",
          "traits": {
            "smithy.api#documentation": "The resources that are allowed to be accessed by the configuration.",
            "smithy.api#required": {}
          }
        },
        "disabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration was disabled. Note: Configurations can be disabled when the associated user loses access to a team. They do not function during this time until the configuration is 'transferred', meaning the associated user is changed to one with access to the team."
          }
        },
        "deleteRequestedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A timestamp that tells you when the configuration deletion has been started for cases when the deletion needs to be settled/approved by partners, such as when marketplace invoices have been paid.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "customerDeleteRequestedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Record when the customer initited deletion, independent of whether `deleteRequestedAt` gets set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "disabledReason": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0DisabledReason"
        },
        "installationType": {
          "target": "com.vercel.integrations#GetConfigurationResponseBodyCase0InstallationType",
          "traits": {
            "smithy.api#documentation": "Defines the installation type. - 'external' integrations are installed via the existing integrations flow - 'marketplace' integrations are natively installed: - when accepting the TOS of a partner during the store creation process - if undefined, assume 'external'"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase1Status": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "ONBOARDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "onboarding"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "RESUMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resumed"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "UNINSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uninstalled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration status. Optional. If not defined, assume 'ready'."
      }
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase1ProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "When a configuration is limited to access certain projects, this will contain each of the project ID it is allowed to access. If it is not defined, the configuration has full access."
      }
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase1Source": {
      "type": "enum",
      "members": {
        "BACKOFFICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backoffice"
          }
        },
        "CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cli"
          }
        },
        "DEPLOY_BUTTON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deploy-button"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "IMPORT_RECOMMENDED_INTEGRATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import-recommended-integrations"
          }
        },
        "MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplace"
          }
        },
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "RESOURCE_CLAIMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource-claims"
          }
        },
        "V0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source defines where the configuration was installed from. It is used to analyze user engagement for integration installations in product metrics."
      }
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase1Type": {
      "type": "enum",
      "members": {
        "INTEGRATION_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-configuration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase1ScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resources that are allowed to be accessed by the configuration."
      }
    },
    "com.vercel.integrations#GetConfigurationResponseBodyCase1DisabledReason": {
      "type": "enum",
      "members": {
        "ACCOUNT_PLAN_DOWNGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
