{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.microfrontends#GetMicrofrontendsGroupsRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsGroupsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsGroups": {
      "type": "operation",
      "input": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsGroupsRequest"
      },
      "output": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsGroupsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.microfrontends#BadRequest"
        },
        {
          "target": "com.vercel.microfrontends#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/microfrontends/groups",
          "code": 200
        },
        "smithy.api#documentation": "List microfrontends groups\n\nGet the microfrontends group IDs for a team."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupRequest": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0Type": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase0Type": {
      "type": "enum",
      "members": {
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase0App": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase0App",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set when a Vercel App or Integration acts on behalf of a {@link User}. Captures user-consented OAuth delegation that the ACL layer may inspect to evaluate scope restrictions. This is NOT for impersonation or token-exchange provenance — those live on `auth.token`, not on the principal."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase1Type": {
      "type": "enum",
      "members": {
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase1Integration": {
      "type": "structure",
      "members": {
        "integrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "configurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integration": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase1Integration",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set when a Vercel App or Integration acts on behalf of a {@link User}. Captures user-consented OAuth delegation that the ACL layer may inspect to evaluate scope restrictions. This is NOT for impersonation or token-exchange provenance — those live on `auth.token`, not on the principal."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0Via": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase0"
        },
        "Case1": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0ViaCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0User": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "via": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0Via",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "user": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0User",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase1Type": {
      "type": "enum",
      "members": {
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase1App": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase1App",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase2Type": {
      "type": "enum",
      "members": {
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase2Integration": {
      "type": "structure",
      "members": {
        "integrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "configurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integration": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase2Integration",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase3Type": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase3Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreator": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase0"
        },
        "Case1": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase1"
        },
        "Case2": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase2"
        },
        "Case3": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCreatorCase3"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemConfiguredBy": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "DNS_01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns-01"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAliasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAliasAssigned": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAliasError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAutomaticAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBranchMatcherType": {
      "type": "enum",
      "members": {
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of matching to perform"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBranchMatcher": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBranchMatcherType",
          "traits": {
            "smithy.api#documentation": "The type of matching to perform",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pattern to match against branch names",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBuildsItem": {
      "type": "structure",
      "members": {
        "use": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "src": {
          "target": "smithy.api#String"
        },
        "dest": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBuildsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBuildsItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentChecksConclusion": {
      "type": "enum",
      "members": {
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentChecksState": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registered"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentCreator": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "githubLogin": {
          "target": "smithy.api#String"
        },
        "gitlabLogin": {
          "target": "smithy.api#String"
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentOidcTokenClaimsMfeGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentOidcTokenClaims": {
      "type": "structure",
      "members": {
        "iss": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sub": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "custom_environment_id": {
          "target": "smithy.api#String"
        },
        "mfe_group_ids": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentOidcTokenClaimsMfeGroupIdsList"
        },
        "plan": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentPlan": {
      "type": "enum",
      "members": {
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "HOBBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hobby"
          }
        },
        "PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pro"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentReadyState": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentReadySubstate": {
      "type": "enum",
      "members": {
        "PROMOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTED"
          }
        },
        "ROLLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLING"
          }
        },
        "STAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGED"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentType": {
      "type": "enum",
      "members": {
        "LAMBDAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAMBDAS"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeployment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAliasList"
        },
        "aliasAssigned": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAliasAssigned",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "aliasError": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAliasError",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "aliasFinal": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "automaticAliases": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentAutomaticAliasesList"
        },
        "branchMatcher": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBranchMatcher"
        },
        "buildingAt": {
          "target": "smithy.api#Double"
        },
        "builds": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentBuildsList"
        },
        "checksConclusion": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentChecksConclusion"
        },
        "checksState": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentChecksState"
        },
        "connectBuildsEnabled": {
          "target": "smithy.api#Boolean"
        },
        "connectConfigurationId": {
          "target": "smithy.api#String"
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdIn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "creator": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentCreator",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "deletedAt": {
          "target": "smithy.api#Double"
        },
        "deploymentHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "forced": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentMetaMap"
        },
        "monorepoManager": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "oidcTokenClaims": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentOidcTokenClaims"
        },
        "plan": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentPlan",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "previewCommentsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not preview comments are enabled for the deployment"
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "readyAt": {
          "target": "smithy.api#Double"
        },
        "readyState": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentReadyState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "readySubstate": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentReadySubstate"
        },
        "requestedAt": {
          "target": "smithy.api#Double"
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeploymentType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "withCache": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemEnvironment": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemRedirectStatusCode": {
      "type": "intEnum",
      "members": {
        "_301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 301
          }
        },
        "_302": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 302
          }
        },
        "_307": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 307
          }
        },
        "_308": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 308
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemTarget": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCTION"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGING"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItem": {
      "type": "structure",
      "members": {
        "configuredBy": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemConfiguredBy",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "configuredChangedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "deployment": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemDeployment",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemEnvironment",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitBranch": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirect": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirectStatusCode": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemRedirectStatusCode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "target": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItemTarget",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAliasItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemAnalytics": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "canceledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "disabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "paidAt": {
          "target": "smithy.api#Double"
        },
        "sampleRatePercent": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "spendLimitInDollars": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemSpeedInsights": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabledAt": {
          "target": "smithy.api#Double"
        },
        "disabledAt": {
          "target": "smithy.api#Double"
        },
        "canceledAt": {
          "target": "smithy.api#Double"
        },
        "hasData": {
          "target": "smithy.api#Boolean"
        },
        "paidAt": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemEnvIdCase1": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemEnvId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemEnvIdCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemAwsSubnetIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemAws": {
      "type": "structure",
      "members": {
        "subnetIds": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemAwsSubnetIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "securityGroupId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItem": {
      "type": "structure",
      "members": {
        "envId": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemEnvId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "connectConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dc": {
          "target": "smithy.api#String"
        },
        "passive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "buildsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aws": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItemAws"
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemConnectConfigurationsItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCronsDefinitionsItemSource": {
      "type": "enum",
      "members": {
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The origin of this definition. 'api' means created via the API. Undefined means it originated from a deployment (vercel.json)."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCronsDefinitionsItem": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that should be used.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path that should be called for the cronjob.",
            "smithy.api#required": {}
          }
        },
        "schedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cron expression.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCronsDefinitionsItemSource",
          "traits": {
            "smithy.api#documentation": "The origin of this definition. 'api' means created via the API. Undefined means it originated from a deployment (vercel.json)."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of what this cron job does."
          }
        },
        "hostInferred": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the host was inferred from the production deployment URL rather than explicitly provided."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCronsDefinitionsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCronsDefinitionsItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCrons": {
      "type": "structure",
      "members": {
        "enabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time the feature was enabled for this project. Note: It enables automatically with the first Deployment that outputs cronjobs.",
            "smithy.api#required": {}
          }
        },
        "disabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time the feature was disabled for this project.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Deployment from which the definitions originated.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "definitions": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCronsDefinitionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDataCache": {
      "type": "structure",
      "members": {
        "userDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storageSizeBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "unlimited": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemDeploymentExpiration": {
      "type": "structure",
      "members": {
        "expirationDays": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep non-production deployments (mostly preview deployments) before soft deletion."
          }
        },
        "expirationDaysProduction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep production deployments before soft deletion."
          }
        },
        "expirationDaysCanceled": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep canceled deployments before soft deletion."
          }
        },
        "expirationDaysErrored": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep errored deployments before soft deletion."
          }
        },
        "deploymentsToKeep": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum number of production deployments to keep for this project, even if they are over the production expiration limit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Retention policies for deployments. These are enforced at the project level, but we also maintain an instance of this at the team level as a default policy that gets applied to new projects."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemExpirationCase0": {
      "type": "structure",
      "members": {
        "expiresAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix ms timestamp when the project is scheduled to expire.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemExpirationCase1": {
      "type": "structure",
      "members": {
        "lockedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix ms timestamp when the project was locked.",
            "smithy.api#required": {}
          }
        },
        "lockedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "userId of the actor that triggered the lock (system or admin).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemExpiration": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemExpirationCase0"
        },
        "Case1": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemExpirationCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemTargetCase0Item": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "DEVELOPMENT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PREVIEW_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemTargetCase0List": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemTargetCase0Item"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemTargetCase1": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "DEVELOPMENT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PREVIEW_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemTarget": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemTargetCase0List"
        },
        "Case1": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemTargetCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemType": {
      "type": "enum",
      "members": {
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypted"
          }
        },
        "PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain"
          }
        },
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret"
          }
        },
        "SENSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sensitive"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemVisibility": {
      "type": "enum",
      "members": {
        "CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "config"
          }
        },
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User-facing config/secret model. When set, authoritative for new code paths when the env-var-config-secret-ui flag is enabled. Legacy rows omit this field; legacy rows omit it and callers fall back to existing `type` behavior."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase0Type": {
      "type": "enum",
      "members": {
        "REDIS_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis-url"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase1Type": {
      "type": "enum",
      "members": {
        "REDIS_REST_API_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis-rest-api-url"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase2Type": {
      "type": "enum",
      "members": {
        "REDIS_REST_API_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis-rest-api-token"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase3Type": {
      "type": "enum",
      "members": {
        "REDIS_REST_API_READ_ONLY_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis-rest-api-read-only-token"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase3Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase4Type": {
      "type": "enum",
      "members": {
        "BLOB_READ_WRITE_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blob-read-write-token"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase4": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase4Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase5Type": {
      "type": "enum",
      "members": {
        "BLOB_STORE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blob-store-id"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase5": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase5Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase6Type": {
      "type": "enum",
      "members": {
        "BLOB_WEBHOOK_PUBLIC_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blob-webhook-public-key"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase6": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase6Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase7Type": {
      "type": "enum",
      "members": {
        "POSTGRES_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-url"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase7": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase7Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase8Type": {
      "type": "enum",
      "members": {
        "POSTGRES_URL_NON_POOLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-url-non-pooling"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase8": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase8Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase9Type": {
      "type": "enum",
      "members": {
        "POSTGRES_PRISMA_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-prisma-url"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase9": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase9Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase10Type": {
      "type": "enum",
      "members": {
        "POSTGRES_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-user"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase10": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase10Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase11Type": {
      "type": "enum",
      "members": {
        "POSTGRES_HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-host"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase11": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase11Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase12Type": {
      "type": "enum",
      "members": {
        "POSTGRES_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-password"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase12": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase12Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase13Type": {
      "type": "enum",
      "members": {
        "POSTGRES_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-database"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase13": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase13Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase14Type": {
      "type": "enum",
      "members": {
        "POSTGRES_URL_NO_SSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-url-no-ssl"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase14": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase14Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase15Type": {
      "type": "enum",
      "members": {
        "INTEGRATION_STORE_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-store-secret"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase15": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase15Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integrationProductId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integrationConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase16Type": {
      "type": "enum",
      "members": {
        "FLAGS_CONNECTION_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-connection-string"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase16": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase16Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHint": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase0"
        },
        "Case1": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase1"
        },
        "Case2": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase2"
        },
        "Case3": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase3"
        },
        "Case4": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase4"
        },
        "Case5": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase5"
        },
        "Case6": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase6"
        },
        "Case7": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase7"
        },
        "Case8": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase8"
        },
        "Case9": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase9"
        },
        "Case10": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase10"
        },
        "Case11": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase11"
        },
        "Case12": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase12"
        },
        "Case13": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase13"
        },
        "Case14": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase14"
        },
        "Case15": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase15"
        },
        "Case16": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHintCase16"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemInternalContentHintType": {
      "type": "enum",
      "members": {
        "FLAGS_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-secret"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemInternalContentHint": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemInternalContentHintType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encryptedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains the `value` of the env variable, encrypted with a special key to make decryption possible in the subscriber Lambda.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Similar to `contentHints`, but should not be exposed to the user."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemCustomEnvironmentIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItem": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemTarget"
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sunsetSecretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is used to identify variables that have been migrated from type secret to sensitive."
          }
        },
        "legacyValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legacy now-encryption ciphertext, present after migration swaps value/vsmValue"
          }
        },
        "decrypted": {
          "target": "smithy.api#Boolean"
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "vsmValue": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "configurationId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "updatedAt": {
          "target": "smithy.api#Double"
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitBranch": {
          "target": "smithy.api#String"
        },
        "visibility": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemVisibility",
          "traits": {
            "smithy.api#documentation": "User-facing config/secret model. When set, authoritative for new code paths when the env-var-config-secret-ui flag is enabled. Legacy rows omit this field; legacy rows omit it and callers fall back to existing `type` behavior."
          }
        },
        "edgeConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "edgeConfigTokenId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "contentHint": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemContentHint",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "internalContentHint": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemInternalContentHint",
          "traits": {
            "smithy.api#documentation": "Similar to `contentHints`, but should not be exposed to the user.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "comment": {
          "target": "smithy.api#String"
        },
        "customEnvironmentIds": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItemCustomEnvironmentIdsList"
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemEnvItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemType": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of environment (production, preview, or development)"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemBranchMatcherType": {
      "type": "enum",
      "members": {
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of matching to perform"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemBranchMatcher": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemBranchMatcherType",
          "traits": {
            "smithy.api#documentation": "The type of matching to perform",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pattern to match against branch names",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for matching git branches to this environment"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItemRedirectStatusCode": {
      "type": "intEnum",
      "members": {
        "_301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 301
          }
        },
        "_302": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 302
          }
        },
        "_307": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 307
          }
        },
        "_308": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 308
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItemVerificationItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItemVerificationList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItemVerificationItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "apexName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "redirect": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirectStatusCode": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItemRedirectStatusCode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitBranch": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "customEnvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double"
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "`true` if the domain is verified for use with the project. If `false` it will not be used as an alias on this project until the challenge in `verification` is completed.",
            "smithy.api#required": {}
          }
        },
        "verification": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItemVerificationList",
          "traits": {
            "smithy.api#documentation": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of domains associated with this environment"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsItem"
      },
      "traits": {
        "smithy.api#documentation": "List of domains associated with this environment"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemCurrentDeploymentAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of aliases for the current deployment"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the custom environment (format: env_*)",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-friendly name of the environment",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemType",
          "traits": {
            "smithy.api#documentation": "The type of environment (production, preview, or development)",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the environment's purpose"
          }
        },
        "branchMatcher": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemBranchMatcher",
          "traits": {
            "smithy.api#documentation": "Configuration for matching git branches to this environment"
          }
        },
        "domains": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemDomainsList",
          "traits": {
            "smithy.api#documentation": "List of domains associated with this environment"
          }
        },
        "currentDeploymentAliases": {
          "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItemCurrentDeploymentAliasesList",
          "traits": {
            "smithy.api#documentation": "List of aliases for the current deployment"
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was created",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was last updated",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Internal representation of a custom environment with all required properties"
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemCustomEnvironmentsItem"
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemFramework": {
      "type": "enum",
      "members": {
        "ACTIX_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "actix-web"
          }
        },
        "ANGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "angular"
          }
        },
        "ASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ash"
          }
        },
        "ASTRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "astro"
          }
        },
        "AXUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "axum"
          }
        },
        "BLITZJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blitzjs"
          }
        },
        "BRUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brunch"
          }
        },
        "BUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bun"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        },
        "CREATE_REACT_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create-react-app"
          }
        },
        "DJANGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "django"
          }
        },
        "DOCUSAURUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docusaurus"
          }
        },
        "DOCUSAURUS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docusaurus-2"
          }
        },
        "DOJO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dojo"
          }
        },
        "ELEVENTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eleventy"
          }
        },
        "ELYSIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elysia"
          }
        },
        "EMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ember"
          }
        },
        "EVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eve"
          }
        },
        "EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "express"
          }
        },
        "FASTAPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastapi"
          }
        },
        "FASTHTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fasthtml"
          }
        },
        "FASTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastify"
          }
        },
        "FLASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flask"
          }
        },
        "GATSBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gatsby"
          }
        },
        "GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "go"
          }
        },
        "GRIDSOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gridsome"
          }
        },
        "H3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h3"
          }
        },
        "HEXO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hexo"
          }
        },
        "HONO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hono"
          }
        },
        "HUGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hugo"
          }
        },
        "HYDROGEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hydrogen"
          }
        },
        "IONIC_ANGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ionic-angular"
          }
        },
        "IONIC_REACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ionic-react"
          }
        },
        "JEKYLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jekyll"
          }
        },
        "KOA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "koa"
          }
        },
        "MASTRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mastra"
          }
        },
        "MIDDLEMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleman"
          }
        },
        "NESTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nestjs"
          }
        },
        "NEXTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nextjs"
          }
        },
        "NITRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nitro"
          }
        },
        "NODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "node"
          }
        },
        "NUXTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nuxtjs"
          }
        },
        "PARCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parcel"
          }
        },
        "POLYMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "polymer"
          }
        },
        "PREACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preact"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "python"
          }
        },
        "REACT_ROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "react-router"
          }
        },
        "REDWOODJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redwoodjs"
          }
        },
        "REMIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remix"
          }
        },
        "RUBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ruby"
          }
        },
        "RUST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust"
          }
        },
        "SABER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saber"
          }
        },
        "SANITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sanity"
          }
        },
        "SANITY_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sanity-v2"
          }
        },
        "SAPPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sapper"
          }
        },
        "SCULLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scully"
          }
        },
        "SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "services"
          }
        },
        "SOLIDSTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solidstart"
          }
        },
        "SOLIDSTART_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solidstart-1"
          }
        },
        "STENCIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stencil"
          }
        },
        "STORYBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storybook"
          }
        },
        "SVELTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "svelte"
          }
        },
        "SVELTEKIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sveltekit"
          }
        },
        "SVELTEKIT_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sveltekit-1"
          }
        },
        "TANSTACK_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tanstack-start"
          }
        },
        "TANSTACK_START_LOVABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tanstack-start-lovable"
          }
        },
        "UMIJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "umijs"
          }
        },
        "VITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vite"
          }
        },
        "VITEPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vitepress"
          }
        },
        "VUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vue"
          }
        },
        "VUEPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vuepress"
          }
        },
        "XMCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xmcp"
          }
        },
        "ZOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zola"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemServicesItemServiceType": {
      "type": "enum",
      "members": {
        "CRON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cron"
          }
        },
        "JOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "job"
          }
        },
        "WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web"
          }
        },
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service kind (Service.type). Omitted for schemas that do not define one."
      }
    },
    "com.vercel.microfrontends#GetMicrofrontendsInGroupResponseProjectsItemServicesItemFramework": {
      "type": "enum",
      "members": {
        "ACTIX_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "actix-web"
          }
        },
        "ANGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "angular"
          }
        },
        "ASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ash"
          }
        },
        "ASTRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "astro"
          }
        },
        "AXUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "axum"
          }
        },
        "BLITZJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blitzjs"
          }
        },
        "BRUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brunch"
          }
        },
        "BUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bun"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
[...]
