{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.vercel.networking#ListNetworksRequest": {
      "type": "structure",
      "members": {
        "includeHostedZones": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeHostedZones",
            "smithy.api#documentation": "Whether to include Hosted Zones in the response"
          }
        },
        "includePeeringConnections": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includePeeringConnections",
            "smithy.api#documentation": "Whether to include VPC Peering connections in the response"
          }
        },
        "includeProjects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeProjects",
            "smithy.api#documentation": "Whether to include projects in the response"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "The query to use as a filter for returned networks"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.networking#Network": {
      "type": "structure",
      "members": {
        "awsAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the AWS Account in which the network exists.",
            "smithy.api#required": {}
          }
        },
        "awsAvailabilityZoneIds": {
          "target": "com.vercel.networking#NetworkAwsAvailabilityZoneIdsList",
          "traits": {
            "smithy.api#documentation": "The IDs of the AWS Availability Zones in which the network exists, if specified during creation."
          }
        },
        "awsRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AWS Region in which the network exists.",
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CIDR range of the Network.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The date at which the Network was created, represented as a UNIX timestamp since EPOCH.",
            "smithy.api#required": {}
          }
        },
        "egressIpAddresses": {
          "target": "com.vercel.networking#NetworkEgressIpAddressesList"
        },
        "hostedZones": {
          "target": "com.vercel.networking#NetworkHostedZones",
          "traits": {
            "smithy.api#documentation": "Metadata about any AWS Route53 Hosted Zones associated with the Network."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Network.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the network.",
            "smithy.api#required": {}
          }
        },
        "peeringConnections": {
          "target": "com.vercel.networking#NetworkPeeringConnections",
          "traits": {
            "smithy.api#documentation": "Metadata about any AWS Route53 Hosted Zones associated with the Network."
          }
        },
        "projects": {
          "target": "com.vercel.networking#NetworkProjects",
          "traits": {
            "smithy.api#documentation": "Metadata about any projects associated with the Network."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Vercel region in which the Network exists."
          }
        },
        "status": {
          "target": "com.vercel.networking#NetworkStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Network.",
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Team that owns the Network.",
            "smithy.api#required": {}
          }
        },
        "vpcId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the VPC which hosts the network."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.networking#NetworkAwsAvailabilityZoneIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The IDs of the AWS Availability Zones in which the network exists, if specified during creation."
      }
    },
    "com.vercel.networking#NetworkEgressIpAddressesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.networking#NetworkHostedZones": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of AWS Route53 Hosted Zones associated with the Network.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about any AWS Route53 Hosted Zones associated with the Network."
      }
    },
    "com.vercel.networking#NetworkPeeringConnections": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of AWS Route53 Hosted Zones associated with the Network.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about any AWS Route53 Hosted Zones associated with the Network."
      }
    },
    "com.vercel.networking#NetworkProjectsIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.networking#NetworkProjects": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ids": {
          "target": "com.vercel.networking#NetworkProjectsIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about any projects associated with the Network."
      }
    },
    "com.vercel.networking#NetworkStatus": {
      "type": "enum",
      "members": {
        "CREATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create_in_progress"
          }
        },
        "DELETE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete_in_progress"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the Network."
      }
    },
    "com.vercel.networking#ListNetworksResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.vercel.networking#Network"
      },
      "traits": {}
    },
    "com.vercel.networking#ListNetworksResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.networking#ListNetworksResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.networking#ListNetworks": {
      "type": "operation",
      "input": {
        "target": "com.vercel.networking#ListNetworksRequest"
      },
      "output": {
        "target": "com.vercel.networking#ListNetworksResponse"
      },
      "errors": [
        {
          "target": "com.vercel.networking#BadRequest"
        },
        {
          "target": "com.vercel.networking#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/connect/networks",
          "code": 200
        },
        "smithy.api#documentation": "List Secure Compute networks\n\nAllows to list Secure Compute networks."
      }
    },
    "com.vercel.networking#CreateNetworkRequestAwsAvailabilityZoneIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.networking#CreateNetworkRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "awsAvailabilityZoneIds": {
          "target": "com.vercel.networking#CreateNetworkRequestAwsAvailabilityZoneIdsList"
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CIDR block of the network",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the network",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region where the network will be created",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.networking#CreateNetwork": {
      "type": "operation",
      "input": {
        "target": "com.vercel.networking#CreateNetworkRequest"
      },
      "output": {
        "target": "com.vercel.networking#Network"
      },
      "errors": [
        {
          "target": "com.vercel.networking#BadRequest"
        },
        {
          "target": "com.vercel.networking#PaymentRequired"
        },
        {
          "target": "com.vercel.networking#Forbidden"
        },
        {
          "target": "com.vercel.networking#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/connect/networks",
          "code": 200
        },
        "smithy.api#documentation": "Create a Secure Compute network\n\nAllows to create a Secure Compute network."
      }
    },
    "com.vercel.networking#ReadNetworkRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the Secure Compute network"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.networking#ReadNetwork": {
      "type": "operation",
      "input": {
        "target": "com.vercel.networking#ReadNetworkRequest"
      },
      "output": {
        "target": "com.vercel.networking#Network"
      },
      "errors": [
        {
          "target": "com.vercel.networking#BadRequest"
        },
        {
          "target": "com.vercel.networking#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/connect/networks/{networkId}",
          "code": 200
        },
        "smithy.api#documentation": "Read a Secure Compute network\n\nAllows to read a Secure Compute network."
      }
    },
    "com.vercel.networking#UpdateNetworkRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the Secure Compute network"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Secure Compute network",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.networking#UpdateNetwork": {
      "type": "operation",
      "input": {
        "target": "com.vercel.networking#UpdateNetworkRequest"
      },
      "output": {
        "target": "com.vercel.networking#Network"
      },
      "errors": [
        {
          "target": "com.vercel.networking#BadRequest"
        },
        {
          "target": "com.vercel.networking#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/connect/networks/{networkId}",
          "code": 200
        },
        "smithy.api#documentation": "Update a Secure Compute network\n\nAllows to update a Secure Compute network."
      }
    },
    "com.vercel.networking#DeleteNetworkRequest": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the network to delete"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.networking#DeleteNetwork": {
      "type": "operation",
      "input": {
        "target": "com.vercel.networking#DeleteNetworkRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.vercel.networking#BadRequest"
        },
        {
          "target": "com.vercel.networking#PaymentRequired"
        },
        {
          "target": "com.vercel.networking#Forbidden"
        },
        {
          "target": "com.vercel.networking#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/connect/networks/{networkId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Secure Compute network\n\nAllows to delete a Secure Compute network."
      }
    },
    "com.vercel.networking#ListPrivateLinkEndpointsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {},
            "smithy.api#documentation": "The project ID to list PrivateLink endpoints for."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.networking#PrivateLinkEndpoint": {
      "type": "structure",
      "members": {
        "endpointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the PrivateLink endpoint.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PrivateLink endpoint, shown in the Vercel dashboard.",
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the team that owns the PrivateLink endpoint.",
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the project the PrivateLink endpoint belongs to.",
            "smithy.api#required": {}
          }
        },
        "vercelRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Vercel region the endpoint is provisioned in.",
            "smithy.api#required": {}
          }
        },
        "awsServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AWS VPC endpoint service the endpoint connects to.",
            "smithy.api#required": {}
          }
        },
        "vpcEndpointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the underlying AWS VPC endpoint. Absent until AWS has created the endpoint."
          }
        },
        "awsDnsEntries": {
          "target": "com.vercel.networking#PrivateLinkEndpointAwsDnsEntriesList",
          "traits": {
            "smithy.api#documentation": "The regional DNS names assigned to the endpoint by AWS. Use these to reach the service when private DNS is not enabled."
          }
        },
        "privateDnsNames": {
          "target": "com.vercel.networking#PrivateLinkEndpointPrivateDnsNamesList",
          "traits": {
            "smithy.api#documentation": "The private DNS names of the endpoint service, populated when private DNS is enabled for the endpoint."
          }
        },
        "status": {
          "target": "com.vercel.networking#PrivateLinkEndpointStatus",
          "traits": {
            "smithy.api#documentation": "The current state of the endpoint. - `creating`: the endpoint is being created. - `pending-acceptance`: waiting for the endpoint service owner to accept the connection. Only occurs for services that require manual acceptance. - `provisioning`: the connection was accepted and AWS is finishing setup. - `available`: the endpoint is fully provisioned and ready to use. - `rejected`: the endpoint service owner rejected the connection. - `failed`: the endpoint could not be provisioned. - `deleting`: the endpoint is being deleted.",
            "smithy.api#required": {}
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable explanation of why the endpoint could not be provisioned. Only set when `status` is `failed`, and absent for every other status including `rejected`, since AWS does not report a rejection reason."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds since the UNIX epoch for when the endpoint was created.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds since the UNIX epoch for when the endpoint was last updated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A PrivateLink endpoint, which connects a project to an AWS VPC endpoint service in a single region so that traffic reaches the service over AWS PrivateLink rather than the public internet."
      }
    },
    "com.vercel.networking#PrivateLinkEndpointAwsDnsEntriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The regional DNS names assigned to the endpoint by AWS. Use these to reach the service when private DNS is not enabled."
      }
    },
    "com.vercel.networking#PrivateLinkEndpointPrivateDnsNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private DNS names of the endpoint service, populated when private DNS is enabled for the endpoint."
      }
    },
    "com.vercel.networking#PrivateLinkEndpointStatus": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "PENDING_ACCEPTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending-acceptance"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current state of the endpoint. - `creating`: the endpoint is being created. - `pending-acceptance`: waiting for the endpoint service owner to accept the connection. Only occurs for services that require manual acceptance. - `provisioning`: the connection was accepted and AWS is finishing setup. - `available`: the endpoint is fully provisioned and ready to use. - `rejected`: the endpoint service owner rejected the connection. - `failed`: the endpoint could not be provisioned. - `deleting`: the endpoint is being deleted."
      }
    },
    "com.vercel.networking#ListPrivateLinkEndpointsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.vercel.networking#PrivateLinkEndpoint"
      },
      "traits": {}
    },
    "com.vercel.networking#ListPrivateLinkEndpointsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.networking#ListPrivateLinkEndpointsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.networking#ListPrivateLinkEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.vercel.networking#ListPrivateLinkEndpointsRequest"
      },
      "output": {
        "target": "com.vercel.networking#ListPrivateLinkEndpointsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.networking#BadRequest"
        },
        {
          "target": "com.vercel.networking#Forbidden"
        },
        {
          "target": "com.vercel.networking#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/networking/privatelink/endpoints",
          "code": 200
        },
        "smithy.api#documentation": "List PrivateLink endpoints\n\nLists all PrivateLink endpoints for a project."
      }
    },
    "com.vercel.networking#CreatePrivateLinkEndpointRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project ID to create the PrivateLink endpoint for.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the PrivateLink endpoint, used as its label in the Vercel dashboard.",
            "smithy.api#required": {}
          }
        },
        "vercelRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Vercel region to provision the endpoint in. Advanced Networking must be enabled for the project in that region. The endpoint service itself may live in another AWS region.",
            "smithy.api#required": {}
          }
        },
        "awsServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the AWS VPC endpoint service to connect to. Its AWS region is read from the name; when that region differs from the one behind `vercelRegion`, the service must allow cross-region access.",
            "smithy.api#required": {}
          }
        },
        "enablePrivateDns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to resolve the endpoint service through its private DNS names, which are then returned in `privateDnsNames`. Defaults to `false`, in which case the endpoint is reachable through the DNS names in `awsDnsEntries`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.networking#CreatePrivateLinkEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.vercel.networking#CreatePrivateLinkEndpointRequest"
      },
      "output": {
        "target": "com.vercel.networking#PrivateLinkEndpoint"
      },
      "errors": [
        {
          "target": "com.vercel.networking#BadRequest"
        },
        {
          "target": "com.vercel.networking#Forbidden"
        },
        {
          "target": "com.vercel.networking#NotFound"
        },
        {
          "target": "com.vercel.networking#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/networking/privatelink/endpoints",
          "code": 200
        },
        "smithy.api#documentation": "Create a PrivateLink endpoint\n\nCreates a PrivateLink endpoint for a project."
      }
    },
    "com.vercel.networking#ReadPrivateLinkEndpointRequest": {
      "type": "structure",
      "members": {
        "endpointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the PrivateLink endpoint."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {},
            "smithy.api#documentation": "The project ID the PrivateLink endpoint belongs to."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.networking#ReadPrivateLinkEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.vercel.networking#ReadPrivateLinkEndpointRequest"
      },
      "output": {
        "target": "com.vercel.networking#PrivateLinkEndpoint"
      },
      "errors": [
        {
          "target": "com.vercel.networking#BadRequest"
        },
        {
          "target": "com.vercel.networking#Forbidden"
        },
        {
          "target": "com.vercel.networking#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/networking/privatelink/endpoints/{endpointId}",
          "code": 200
        },
        "smithy.api#documentation": "Read a PrivateLink endpoint\n\nReads a single PrivateLink endpoint."
      }
    },
    "com.vercel.networking#UpdatePrivateLinkEndpointRequest": {
      "type": "structure",
      "members": {
        "endpointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the PrivateLink endpoint."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {},
            "smithy.api#documentation": "The project ID the PrivateLink endpoint belongs to."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A new name for the PrivateLink endpoint. When omitted, the current name is kept."
          }
        },
        "enablePrivateDns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When `true`, resolves the endpoint service through its private DNS names, which are then returned in `privateDnsNames`. When `false`, clears them. When omitted, the current setting is kept. At least one of `name` or `enablePrivateDns` must be provided."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.networking#UpdatePrivateLinkEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.vercel.networking#UpdatePrivateLinkEndpointRequest"
      },
      "output": {
        "target": "com.vercel.networking#PrivateLinkEndpoint"
      },
      "errors": [
        {
          "target": "com.vercel.networking#BadRequest"
        },
        {
          "target": "com.vercel.networking#Forbidden"
        },
        {
          "target": "com.vercel.networking#NotFound"
        },
        {
          "target": "com.vercel.networking#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/networking/privatelink/endpoints/{endpointId}",
          "code": 200
        },
        "smithy.api#documentation": "Update a PrivateLink endpoint\n\nUpdates a PrivateLink endpoint (name, privateDns)."
      }
    },
    "com.vercel.networking#DeletePrivateLinkEndpointRequest": {
      "type": "structure",
      "members": {
        "endpointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the PrivateLink endpoint."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {},
            "smithy.api#documentation": "The project ID the PrivateLink endpoint belongs to."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.networking#DeletePrivateLinkEndpointResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.networking#DeletePrivateLinkEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.vercel.networking#DeletePrivateLinkEndpointRequest"
      },
      "output": {
        "target": "com.vercel.networking#DeletePrivateLinkEndpointResponse"
      },
      "errors": [
        {
          "target": "com.vercel.networking#BadRequest"
        },
        {
          "target": "com.vercel.networking#Forbidden"
        },
        {
          "target": "com.vercel.networking#NotFound"
        },
        {
          "target": "com.vercel.networking#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/networking/privatelink/endpoints/{endpointId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a PrivateLink endpoint\n\nDeletes a PrivateLink endpoint."
      }
    },
    "com.vercel.networking#UpdateStaticIpsRequestRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.networking#UpdateStaticIpsRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique project identifier or the project name"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "builds": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use Static IPs for builds."
          }
        },
        "regions": {
          "target": "com.vercel.networking#UpdateStaticIpsRequestRegionsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.networking#UpdateStaticIpsResponseBodyItemEnvIdCase1": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.networking#UpdateStaticIpsResponseBodyItemEnvId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.networking#UpdateStaticIpsResponseBodyItemEnvIdCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.networking#UpdateStaticIpsResponseBodyItemAwsSubnetIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.networking#UpdateStaticIpsResponseBodyItemAws": {
      "type": "structure",
      "members": {
        "subnetIds": {
          "target": "com.vercel.networking#UpdateStaticIpsResponseBodyItemAwsSubnetIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "securityGroupId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.networking#UpdateStaticIpsResponseBodyItem": {
      "type": "structure",
      "members": {
        "envId": {
          "target": "com.vercel.networking#UpdateStaticIpsResponseBodyItemEnvId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "connectConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dc": {
          "target": "smithy.api#String"
        },
        "passive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "buildsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aws": {
          "target": "com.vercel.networking#UpdateStaticIpsResponseBodyItemAws"
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.networking#UpdateStaticIpsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.vercel.networking#UpdateStaticIpsResponseBodyItem"
      },
      "traits": {}
    },
    "com.vercel.networking#UpdateStaticIpsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.networking#UpdateStaticIpsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.networking#UpdateStaticIps": {
      "type": "operation",
      "input": {
        "target": "com.vercel.networking#UpdateStaticIpsRequest"
      },
      "output": {
        "target": "com.vercel.networking#UpdateStaticIpsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.networking#BadRequest"
        },
        {
          "target": "com.vercel.networking#PaymentRequired"
        },
        {
          "target": "com.vercel.networking#Forbidden"
        },
        {
          "target": "com.vercel.networking#NotFound"
        },
        {
          "target": "com.vercel.networking#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/projects/{idOrName}/shared-connect-links",
          "code": 200
        },
        "smithy.api#documentation": "Configures Static IPs for a project\n\nAllows configuring Static IPs for a project"
      }
    },
    "com.vercel.networking#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.vercel.networking#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.vercel.networking#PaymentRequired": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 402,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 402
          }
        ]
      }
    },
    "com.vercel.networking#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.vercel.networking#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.vercel.networking#Networking": {
      "type": "service",
      "version": "0.0.1",
      "operations": [
        {
          "target": "com.vercel.networking#ListNetworks"
        },
        {
          "target": "com.vercel.networking#CreateNetwork"
        },
        {
          "target": "com.vercel.networking#ReadNetwork"
        },
        {
          "target": "com.vercel.networking#UpdateNetwork"
        },
        {
          "target": "com.vercel.networking#DeleteNetwork"
        },
        {
          "target": "com.vercel.networking#ListPrivateLinkEndpoints"
        },
        {
          "target": "com.vercel.networking#CreatePrivateLinkEndpoint"
        },
        {
          "target": "com.vercel.networking#ReadPrivateLinkEndpoint"
        },
        {
          "target": "com.vercel.networking#UpdatePrivateLinkEndpoint"
        },
        {
          "target": "com.vercel.networking#DeletePrivateLinkEndpoint"
        },
        {
          "target": "com.vercel.networking#UpdateStaticIps"
        }
      ],
      "traits": {
        "smithy.api#title": "Vercel API",
        "smithy.api#documentation": "Vercel combines the best developer experience with an obsessive focus on end-user performance. Our platform enables frontend teams to do their best work."
      }
    }
  }
}
