{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.project_routes#GetRoutesRequestFilter": {
      "type": "enum",
      "members": {
        "REWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rewrite"
          }
        },
        "REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirect"
          }
        },
        "SET_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "set_status"
          }
        },
        "TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transform"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesRequestDiffCase1": {
      "type": "enum",
      "members": {
        "ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "only"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesRequestDiff": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesRequestDiffCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "versionId"
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        },
        "filter": {
          "target": "com.vercel.project_routes#GetRoutesRequestFilter",
          "traits": {
            "smithy.api#httpQuery": "filter"
          }
        },
        "diff": {
          "target": "com.vercel.project_routes#GetRoutesRequestDiff",
          "traits": {
            "smithy.api#httpQuery": "diff"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMethodsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase0Type": {
      "type": "enum",
      "members": {
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "host"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase0ValueCase1Eq": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase0ValueCase1IncList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase0ValueCase1NincList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase0ValueCase1": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase0ValueCase1Eq"
        },
        "neq": {
          "target": "smithy.api#String"
        },
        "inc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase0ValueCase1IncList"
        },
        "ninc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase0ValueCase1NincList"
        },
        "pre": {
          "target": "smithy.api#String"
        },
        "suf": {
          "target": "smithy.api#String"
        },
        "re": {
          "target": "smithy.api#String"
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase0Value": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase0ValueCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase0Value",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase1Type": {
      "type": "enum",
      "members": {
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase1ValueCase1Eq": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase1ValueCase1IncList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase1ValueCase1NincList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase1ValueCase1": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase1ValueCase1Eq"
        },
        "neq": {
          "target": "smithy.api#String"
        },
        "inc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase1ValueCase1IncList"
        },
        "ninc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase1ValueCase1NincList"
        },
        "pre": {
          "target": "smithy.api#String"
        },
        "suf": {
          "target": "smithy.api#String"
        },
        "re": {
          "target": "smithy.api#String"
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase1Value": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase1ValueCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase1Value"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase0"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasList": {
      "type": "list",
      "member": {
        "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasItem"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase0Type": {
      "type": "enum",
      "members": {
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "host"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase0ValueCase1Eq": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase0ValueCase1IncList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase0ValueCase1NincList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase0ValueCase1": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase0ValueCase1Eq"
        },
        "neq": {
          "target": "smithy.api#String"
        },
        "inc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase0ValueCase1IncList"
        },
        "ninc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase0ValueCase1NincList"
        },
        "pre": {
          "target": "smithy.api#String"
        },
        "suf": {
          "target": "smithy.api#String"
        },
        "re": {
          "target": "smithy.api#String"
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase0Value": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase0ValueCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase0Value",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase1Type": {
      "type": "enum",
      "members": {
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase1ValueCase1Eq": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase1ValueCase1IncList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase1ValueCase1NincList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase1ValueCase1": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase1ValueCase1Eq"
        },
        "neq": {
          "target": "smithy.api#String"
        },
        "inc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase1ValueCase1IncList"
        },
        "ninc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase1ValueCase1NincList"
        },
        "pre": {
          "target": "smithy.api#String"
        },
        "suf": {
          "target": "smithy.api#String"
        },
        "re": {
          "target": "smithy.api#String"
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase1Value": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase1ValueCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase1Value"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase0"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingList": {
      "type": "list",
      "member": {
        "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingItem"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMitigateAction": {
      "type": "enum",
      "members": {
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMitigate": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMitigateAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0Type": {
      "type": "enum",
      "members": {
        "REQUEST_HEADERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "request.headers"
          }
        },
        "REQUEST_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "request.query"
          }
        },
        "RESPONSE_HEADERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "response.headers"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0Op": {
      "type": "enum",
      "members": {
        "APPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "append"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "set"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0TargetKeyCase1Eq": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0TargetKeyCase1IncList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0TargetKeyCase1NincList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0TargetKeyCase1": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0TargetKeyCase1Eq"
        },
        "neq": {
          "target": "smithy.api#String"
        },
        "inc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0TargetKeyCase1IncList"
        },
        "ninc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0TargetKeyCase1NincList"
        },
        "pre": {
          "target": "smithy.api#String"
        },
        "suf": {
          "target": "smithy.api#String"
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0TargetKey": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0TargetKeyCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0Target": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0TargetKey",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0ArgsCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0Args": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0ArgsCase1List"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0EnvList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "op": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0Op",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0Target",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "args": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0Args"
        },
        "env": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0EnvList"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase1Type": {
      "type": "enum",
      "members": {
        "REQUEST_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "request.path"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase1Op": {
      "type": "enum",
      "members": {
        "SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "set"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase1EnvList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "op": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase1Op",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "args": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "env": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase1EnvList"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase0"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsItem"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteEnvList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteLocaleRedirectMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteLocale": {
      "type": "structure",
      "members": {
        "redirect": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteLocaleRedirectMap"
        },
        "cookie": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteDestinationCase1Type": {
      "type": "enum",
      "members": {
        "SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "service"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional explicit format marker. The destination is identified by the presence of `service`, so `type` is no longer required."
      }
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteDestinationCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteDestinationCase1Type",
          "traits": {
            "smithy.api#documentation": "Optional explicit format marker. The destination is identified by the presence of `service`, so `type` is no longer required."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Routing-only path used to select a route inside the target service."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteDestination": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteDestinationCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMiddlewareRawSrcList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The original middleware matchers."
      }
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRoute": {
      "type": "structure",
      "members": {
        "src": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dest": {
          "target": "smithy.api#String"
        },
        "headers": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHeadersMap"
        },
        "methods": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMethodsList"
        },
        "continue": {
          "target": "smithy.api#Boolean"
        },
        "override": {
          "target": "smithy.api#Boolean"
        },
        "caseSensitive": {
          "target": "smithy.api#Boolean"
        },
        "check": {
          "target": "smithy.api#Boolean"
        },
        "important": {
          "target": "smithy.api#Boolean"
        },
        "status": {
          "target": "smithy.api#Double"
        },
        "has": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteHasList"
        },
        "missing": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMissingList"
        },
        "mitigate": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMitigate"
        },
        "transforms": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteTransformsList"
        },
        "env": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteEnvList"
        },
        "locale": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteLocale"
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Aliases for `src`, `dest`, and `status`. These provide consistency with the `rewrites`, `redirects`, and `headers` fields which use `source`, `destination`, and `statusCode`. During normalization, the string forms are converted to their canonical forms (`src`, `dest`, `status`) and stripped from the route object. `destination` may also be a service-targeted object, in which case routing is delegated into the named service's internal route table and the object is preserved as-is (not folded into `dest`)."
          }
        },
        "destination": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteDestination"
        },
        "statusCode": {
          "target": "smithy.api#Double"
        },
        "middlewarePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A middleware key within the `output` key under the build result. Overrides a `middleware` definition."
          }
        },
        "middlewareRawSrc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteMiddlewareRawSrcList",
          "traits": {
            "smithy.api#documentation": "The original middleware matchers."
          }
        },
        "middleware": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A middleware index in the `middleware` key under the build result"
          }
        },
        "respectOriginCacheControl": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "The route definition from @vercel/routing-utils."
      }
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemSrcSyntax": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "PATH_TO_REGEXP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "path-to-regexp"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The syntax type of the source pattern. Determines how the pattern is compiled to regex."
      }
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteType": {
      "type": "enum",
      "members": {
        "REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirect"
          }
        },
        "REWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rewrite"
          }
        },
        "SET_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "set_status"
          }
        },
        "TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transform"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Computed route type based on the route configuration. Only present in API responses, not stored in S3."
      }
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the routing rule.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for the routing rule.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of what the routing rule does."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the routing rule is enabled. Defaults to true."
          }
        },
        "staged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this route is new and not yet published to production. Set to true only when a route is first created via add-route. Cleared (set to false) when a version is promoted to production."
          }
        },
        "route": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRoute",
          "traits": {
            "smithy.api#documentation": "The route definition from @vercel/routing-utils.",
            "smithy.api#required": {}
          }
        },
        "rawSrc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Original source pattern provided by user (path-to-regexp or regex). Used to display the user's input in API responses."
          }
        },
        "rawDest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Original destination provided by user."
          }
        },
        "srcSyntax": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemSrcSyntax",
          "traits": {
            "smithy.api#documentation": "The syntax type of the source pattern. Determines how the pattern is compiled to regex."
          }
        },
        "routeType": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItemRouteType",
          "traits": {
            "smithy.api#documentation": "Computed route type based on the route configuration. Only present in API responses, not stored in S3."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A routing rule with metadata for project-level routing."
      }
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesItem"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1Version": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the version.",
            "smithy.api#required": {}
          }
        },
        "s3Key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The S3 key where the routing rules are stored.",
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp of when this version was last modified.",
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user who created this version.",
            "smithy.api#required": {}
          }
        },
        "isStaging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is staged and not yet promoted to production."
          }
        },
        "isLive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is currently live in production."
          }
        },
        "ruleCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of routing rules in this version."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The staging alias for previewing this version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A version of routing rules stored in S3."
      }
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase1": {
      "type": "structure",
      "members": {
        "routes": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1RoutesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase1Version",
          "traits": {
            "smithy.api#documentation": "A version of routing rules stored in S3.",
            "smithy.api#required": {}
          }
        },
        "diffCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMethodsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase0Type": {
      "type": "enum",
      "members": {
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "host"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase0ValueCase1Eq": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase0ValueCase1IncList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase0ValueCase1NincList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase0ValueCase1": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase0ValueCase1Eq"
        },
        "neq": {
          "target": "smithy.api#String"
        },
        "inc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase0ValueCase1IncList"
        },
        "ninc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase0ValueCase1NincList"
        },
        "pre": {
          "target": "smithy.api#String"
        },
        "suf": {
          "target": "smithy.api#String"
        },
        "re": {
          "target": "smithy.api#String"
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase0Value": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase0ValueCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase0Value",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase1Type": {
      "type": "enum",
      "members": {
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase1ValueCase1Eq": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase1ValueCase1IncList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase1ValueCase1NincList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase1ValueCase1": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase1ValueCase1Eq"
        },
        "neq": {
          "target": "smithy.api#String"
        },
        "inc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase1ValueCase1IncList"
        },
        "ninc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase1ValueCase1NincList"
        },
        "pre": {
          "target": "smithy.api#String"
        },
        "suf": {
          "target": "smithy.api#String"
        },
        "re": {
          "target": "smithy.api#String"
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase1Value": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase1ValueCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase1Value"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase0"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasList": {
      "type": "list",
      "member": {
        "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasItem"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase0Type": {
      "type": "enum",
      "members": {
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "host"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase0ValueCase1Eq": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase0ValueCase1IncList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase0ValueCase1NincList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase0ValueCase1": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase0ValueCase1Eq"
        },
        "neq": {
          "target": "smithy.api#String"
        },
        "inc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase0ValueCase1IncList"
        },
        "ninc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase0ValueCase1NincList"
        },
        "pre": {
          "target": "smithy.api#String"
        },
        "suf": {
          "target": "smithy.api#String"
        },
        "re": {
          "target": "smithy.api#String"
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase0Value": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase0ValueCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase0Value",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase1Type": {
      "type": "enum",
      "members": {
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase1ValueCase1Eq": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase1ValueCase1IncList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase1ValueCase1NincList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase1ValueCase1": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase1ValueCase1Eq"
        },
        "neq": {
          "target": "smithy.api#String"
        },
        "inc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase1ValueCase1IncList"
        },
        "ninc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase1ValueCase1NincList"
        },
        "pre": {
          "target": "smithy.api#String"
        },
        "suf": {
          "target": "smithy.api#String"
        },
        "re": {
          "target": "smithy.api#String"
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase1Value": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase1ValueCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase1Value"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase0"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingList": {
      "type": "list",
      "member": {
        "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingItem"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMitigateAction": {
      "type": "enum",
      "members": {
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMitigate": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMitigateAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0Type": {
      "type": "enum",
      "members": {
        "REQUEST_HEADERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "request.headers"
          }
        },
        "REQUEST_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "request.query"
          }
        },
        "RESPONSE_HEADERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "response.headers"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0Op": {
      "type": "enum",
      "members": {
        "APPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "append"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "set"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0TargetKeyCase1Eq": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0TargetKeyCase1IncList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0TargetKeyCase1NincList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0TargetKeyCase1": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0TargetKeyCase1Eq"
        },
        "neq": {
          "target": "smithy.api#String"
        },
        "inc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0TargetKeyCase1IncList"
        },
        "ninc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0TargetKeyCase1NincList"
        },
        "pre": {
          "target": "smithy.api#String"
        },
        "suf": {
          "target": "smithy.api#String"
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0TargetKey": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0TargetKeyCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0Target": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0TargetKey",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0ArgsCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0Args": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0ArgsCase1List"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0EnvList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "op": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0Op",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0Target",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "args": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0Args"
        },
        "env": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0EnvList"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase1Type": {
      "type": "enum",
      "members": {
        "REQUEST_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "request.path"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase1Op": {
      "type": "enum",
      "members": {
        "SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "set"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase1EnvList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "op": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase1Op",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "args": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "env": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase1EnvList"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase0"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsItem"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteEnvList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteLocaleRedirectMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteLocale": {
      "type": "structure",
      "members": {
        "redirect": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteLocaleRedirectMap"
        },
        "cookie": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteDestinationCase1Type": {
      "type": "enum",
      "members": {
        "SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "service"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional explicit format marker. The destination is identified by the presence of `service`, so `type` is no longer required."
      }
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteDestinationCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteDestinationCase1Type",
          "traits": {
            "smithy.api#documentation": "Optional explicit format marker. The destination is identified by the presence of `service`, so `type` is no longer required."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Routing-only path used to select a route inside the target service."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteDestination": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteDestinationCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMiddlewareRawSrcList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The original middleware matchers."
      }
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRoute": {
      "type": "structure",
      "members": {
        "src": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dest": {
          "target": "smithy.api#String"
        },
        "headers": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHeadersMap"
        },
        "methods": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMethodsList"
        },
        "continue": {
          "target": "smithy.api#Boolean"
        },
        "override": {
          "target": "smithy.api#Boolean"
        },
        "caseSensitive": {
          "target": "smithy.api#Boolean"
        },
        "check": {
          "target": "smithy.api#Boolean"
        },
        "important": {
          "target": "smithy.api#Boolean"
        },
        "status": {
          "target": "smithy.api#Double"
        },
        "has": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteHasList"
        },
        "missing": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMissingList"
        },
        "mitigate": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMitigate"
        },
        "transforms": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteTransformsList"
        },
        "env": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteEnvList"
        },
        "locale": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteLocale"
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Aliases for `src`, `dest`, and `status`. These provide consistency with the `rewrites`, `redirects`, and `headers` fields which use `source`, `destination`, and `statusCode`. During normalization, the string forms are converted to their canonical forms (`src`, `dest`, `status`) and stripped from the route object. `destination` may also be a service-targeted object, in which case routing is delegated into the named service's internal route table and the object is preserved as-is (not folded into `dest`)."
          }
        },
        "destination": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteDestination"
        },
        "statusCode": {
          "target": "smithy.api#Double"
        },
        "middlewarePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A middleware key within the `output` key under the build result. Overrides a `middleware` definition."
          }
        },
        "middlewareRawSrc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteMiddlewareRawSrcList",
          "traits": {
            "smithy.api#documentation": "The original middleware matchers."
          }
        },
        "middleware": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A middleware index in the `middleware` key under the build result"
          }
        },
        "respectOriginCacheControl": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "The route definition from @vercel/routing-utils."
      }
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemSrcSyntax": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "PATH_TO_REGEXP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "path-to-regexp"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The syntax type of the source pattern. Determines how the pattern is compiled to regex."
      }
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteType": {
      "type": "enum",
      "members": {
        "REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirect"
          }
        },
        "REWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rewrite"
          }
        },
        "SET_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "set_status"
          }
        },
        "TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transform"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Computed route type based on the route configuration. Only present in API responses, not stored in S3."
      }
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the routing rule.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for the routing rule.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of what the routing rule does."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the routing rule is enabled. Defaults to true."
          }
        },
        "staged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this route is new and not yet published to production. Set to true only when a route is first created via add-route. Cleared (set to false) when a version is promoted to production."
          }
        },
        "route": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRoute",
          "traits": {
            "smithy.api#documentation": "The route definition from @vercel/routing-utils.",
            "smithy.api#required": {}
          }
        },
        "rawSrc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Original source pattern provided by user (path-to-regexp or regex). Used to display the user's input in API responses."
          }
        },
        "rawDest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Original destination provided by user."
          }
        },
        "srcSyntax": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemSrcSyntax",
          "traits": {
            "smithy.api#documentation": "The syntax type of the source pattern. Determines how the pattern is compiled to regex."
          }
        },
        "routeType": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItemRouteType",
          "traits": {
            "smithy.api#documentation": "Computed route type based on the route configuration. Only present in API responses, not stored in S3."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A routing rule with metadata for project-level routing."
      }
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesItem"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2Version": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the version.",
            "smithy.api#required": {}
          }
        },
        "s3Key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The S3 key where the routing rules are stored.",
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp of when this version was last modified.",
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user who created this version.",
            "smithy.api#required": {}
          }
        },
        "isStaging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is staged and not yet promoted to production."
          }
        },
        "isLive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is currently live in production."
          }
        },
        "ruleCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of routing rules in this version."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The staging alias for previewing this version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A version of routing rules stored in S3."
      }
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase2": {
      "type": "structure",
      "members": {
        "routes": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2RoutesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase2Version",
          "traits": {
            "smithy.api#documentation": "A version of routing rules stored in S3.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMethodsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase0Type": {
      "type": "enum",
      "members": {
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "host"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase0ValueCase1Eq": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase0ValueCase1IncList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase0ValueCase1NincList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase0ValueCase1": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase0ValueCase1Eq"
        },
        "neq": {
          "target": "smithy.api#String"
        },
        "inc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase0ValueCase1IncList"
        },
        "ninc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase0ValueCase1NincList"
        },
        "pre": {
          "target": "smithy.api#String"
        },
        "suf": {
          "target": "smithy.api#String"
        },
        "re": {
          "target": "smithy.api#String"
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase0Value": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase0ValueCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase0Value",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase1Type": {
      "type": "enum",
      "members": {
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase1ValueCase1Eq": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase1ValueCase1IncList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase1ValueCase1NincList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase1ValueCase1": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase1ValueCase1Eq"
        },
        "neq": {
          "target": "smithy.api#String"
        },
        "inc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase1ValueCase1IncList"
        },
        "ninc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase1ValueCase1NincList"
        },
        "pre": {
          "target": "smithy.api#String"
        },
        "suf": {
          "target": "smithy.api#String"
        },
        "re": {
          "target": "smithy.api#String"
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase1Value": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase1ValueCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase1Value"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase0"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasList": {
      "type": "list",
      "member": {
        "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteHasItem"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase0Type": {
      "type": "enum",
      "members": {
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "host"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase0ValueCase1Eq": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase0ValueCase1IncList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase0ValueCase1NincList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase0ValueCase1": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase0ValueCase1Eq"
        },
        "neq": {
          "target": "smithy.api#String"
        },
        "inc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase0ValueCase1IncList"
        },
        "ninc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase0ValueCase1NincList"
        },
        "pre": {
          "target": "smithy.api#String"
        },
        "suf": {
          "target": "smithy.api#String"
        },
        "re": {
          "target": "smithy.api#String"
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase0Value": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase0ValueCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase0Value",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase1Type": {
      "type": "enum",
      "members": {
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase1ValueCase1Eq": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase1ValueCase1IncList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase1ValueCase1NincList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase1ValueCase1": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase1ValueCase1Eq"
        },
        "neq": {
          "target": "smithy.api#String"
        },
        "inc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase1ValueCase1IncList"
        },
        "ninc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase1ValueCase1NincList"
        },
        "pre": {
          "target": "smithy.api#String"
        },
        "suf": {
          "target": "smithy.api#String"
        },
        "re": {
          "target": "smithy.api#String"
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase1Value": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase1ValueCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase1Value"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase0"
        },
        "Case1": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingList": {
      "type": "list",
      "member": {
        "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMissingItem"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMitigateAction": {
      "type": "enum",
      "members": {
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMitigate": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteMitigateAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteTransformsItemCase0Type": {
      "type": "enum",
      "members": {
        "REQUEST_HEADERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "request.headers"
          }
        },
        "REQUEST_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "request.query"
          }
        },
        "RESPONSE_HEADERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "response.headers"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteTransformsItemCase0Op": {
      "type": "enum",
      "members": {
        "APPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "append"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "set"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteTransformsItemCase0TargetKeyCase1Eq": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteTransformsItemCase0TargetKeyCase1IncList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteTransformsItemCase0TargetKeyCase1NincList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteTransformsItemCase0TargetKeyCase1": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteTransformsItemCase0TargetKeyCase1Eq"
        },
        "neq": {
          "target": "smithy.api#String"
        },
        "inc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteTransformsItemCase0TargetKeyCase1IncList"
        },
        "ninc": {
          "target": "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteTransformsItemCase0TargetKeyCase1NincList"
        },
        "pre": {
          "target": "smithy.api#String"
        },
        "suf": {
          "target": "smithy.api#String"
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.project_routes#GetRoutesResponseBodyCase3RoutesItemRouteTransformsItemCase0TargetKey": {
      "type": "union",
      "members": {
        "Case0": {
[...]
