{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.projects#GetProjectsRequestGitForkProtection": {
      "type": "enum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1"
          }
        },
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies whether PRs from Git forks should require a team member's authorization before it can be deployed"
      }
    },
    "com.vercel.projects#GetProjectsRequestElasticConcurrencyEnabled": {
      "type": "enum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1"
          }
        },
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter results by projects with elastic concurrency enabled"
      }
    },
    "com.vercel.projects#GetProjectsRequestStaticIpsEnabled": {
      "type": "enum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0"
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter results by projects with Static IPs enabled"
      }
    },
    "com.vercel.projects#GetProjectsRequestBuildQueueConfiguration": {
      "type": "enum",
      "members": {
        "SKIP_NAMESPACE_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIP_NAMESPACE_QUEUE"
          }
        },
        "WAIT_FOR_NAMESPACE_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAIT_FOR_NAMESPACE_QUEUE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter results by build queue configuration. SKIP_NAMESPACE_QUEUE includes projects without a configuration set."
      }
    },
    "com.vercel.projects#GetProjectsRequest": {
      "type": "structure",
      "members": {
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "from",
            "smithy.api#documentation": "Query only projects updated after the given timestamp or continuation token."
          }
        },
        "gitForkProtection": {
          "target": "com.vercel.projects#GetProjectsRequestGitForkProtection",
          "traits": {
            "smithy.api#httpQuery": "gitForkProtection",
            "smithy.api#documentation": "Specifies whether PRs from Git forks should require a team member's authorization before it can be deployed"
          }
        },
        "limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Limit the number of projects returned"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search projects by the name field"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "Filter results by repo. Also used for project count"
          }
        },
        "repoId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repoId",
            "smithy.api#documentation": "Filter results by Repository ID."
          }
        },
        "repoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repoUrl",
            "smithy.api#documentation": "Filter results by Repository URL."
          }
        },
        "excludeRepos": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "excludeRepos",
            "smithy.api#documentation": "Filter results by excluding those projects that belong to a repo"
          }
        },
        "edgeConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "edgeConfigId",
            "smithy.api#documentation": "Filter results by connected Edge Config ID"
          }
        },
        "edgeConfigTokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "edgeConfigTokenId",
            "smithy.api#documentation": "Filter results by connected Edge Config Token ID"
          }
        },
        "deprecated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "deprecated"
          }
        },
        "elasticConcurrencyEnabled": {
          "target": "com.vercel.projects#GetProjectsRequestElasticConcurrencyEnabled",
          "traits": {
            "smithy.api#httpQuery": "elasticConcurrencyEnabled",
            "smithy.api#documentation": "Filter results by projects with elastic concurrency enabled"
          }
        },
        "staticIpsEnabled": {
          "target": "com.vercel.projects#GetProjectsRequestStaticIpsEnabled",
          "traits": {
            "smithy.api#httpQuery": "staticIpsEnabled",
            "smithy.api#documentation": "Filter results by projects with Static IPs enabled"
          }
        },
        "buildMachineTypes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "buildMachineTypes",
            "smithy.api#documentation": "Filter results by effective build machine types. Accepts comma-separated values. Use \"elastic\" for projects with elastic selection and \"default\" for projects without a build machine type set."
          }
        },
        "buildQueueConfiguration": {
          "target": "com.vercel.projects#GetProjectsRequestBuildQueueConfiguration",
          "traits": {
            "smithy.api#httpQuery": "buildQueueConfiguration",
            "smithy.api#documentation": "Filter results by build queue configuration. SKIP_NAMESPACE_QUEUE includes projects without a configuration set."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0Type": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0ViaCase0Type": {
      "type": "enum",
      "members": {
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0ViaCase0App": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0ViaCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0ViaCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0ViaCase0App",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set when a Vercel App or Integration acts on behalf of a {@link User}. Captures user-consented OAuth delegation that the ACL layer may inspect to evaluate scope restrictions. This is NOT for impersonation or token-exchange provenance — those live on `auth.token`, not on the principal."
      }
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0ViaCase1Type": {
      "type": "enum",
      "members": {
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0ViaCase1Integration": {
      "type": "structure",
      "members": {
        "integrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "configurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0ViaCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0ViaCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integration": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0ViaCase1Integration",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set when a Vercel App or Integration acts on behalf of a {@link User}. Captures user-consented OAuth delegation that the ACL layer may inspect to evaluate scope restrictions. This is NOT for impersonation or token-exchange provenance — those live on `auth.token`, not on the principal."
      }
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0Via": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0ViaCase0"
        },
        "Case1": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0ViaCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0User": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "via": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0Via",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "user": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0User",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase1Type": {
      "type": "enum",
      "members": {
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase1App": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase1App",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase2Type": {
      "type": "enum",
      "members": {
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase2Integration": {
      "type": "structure",
      "members": {
        "integrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "configurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integration": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase2Integration",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase3Type": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase3Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreator": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase0"
        },
        "Case1": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase1"
        },
        "Case2": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase2"
        },
        "Case3": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemCreatorCase3"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemConfiguredBy": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "DNS_01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns-01"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentAliasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentAliasAssigned": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentAliasError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentAutomaticAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentBranchMatcherType": {
      "type": "enum",
      "members": {
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of matching to perform"
      }
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentBranchMatcher": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentBranchMatcherType",
          "traits": {
            "smithy.api#documentation": "The type of matching to perform",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pattern to match against branch names",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentBuildsItem": {
      "type": "structure",
      "members": {
        "use": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "src": {
          "target": "smithy.api#String"
        },
        "dest": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentBuildsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentBuildsItem"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentChecksConclusion": {
      "type": "enum",
      "members": {
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentChecksState": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registered"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentCreator": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "githubLogin": {
          "target": "smithy.api#String"
        },
        "gitlabLogin": {
          "target": "smithy.api#String"
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentOidcTokenClaimsMfeGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentOidcTokenClaims": {
      "type": "structure",
      "members": {
        "iss": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sub": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "custom_environment_id": {
          "target": "smithy.api#String"
        },
        "mfe_group_ids": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentOidcTokenClaimsMfeGroupIdsList"
        },
        "plan": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentPlan": {
      "type": "enum",
      "members": {
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "HOBBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hobby"
          }
        },
        "PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pro"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentReadyState": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentReadySubstate": {
      "type": "enum",
      "members": {
        "PROMOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTED"
          }
        },
        "ROLLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLING"
          }
        },
        "STAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGED"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentType": {
      "type": "enum",
      "members": {
        "LAMBDAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAMBDAS"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeployment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentAliasList"
        },
        "aliasAssigned": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentAliasAssigned",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "aliasError": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentAliasError",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "aliasFinal": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "automaticAliases": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentAutomaticAliasesList"
        },
        "branchMatcher": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentBranchMatcher"
        },
        "buildingAt": {
          "target": "smithy.api#Double"
        },
        "builds": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentBuildsList"
        },
        "checksConclusion": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentChecksConclusion"
        },
        "checksState": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentChecksState"
        },
        "connectBuildsEnabled": {
          "target": "smithy.api#Boolean"
        },
        "connectConfigurationId": {
          "target": "smithy.api#String"
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdIn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "creator": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentCreator",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "deletedAt": {
          "target": "smithy.api#Double"
        },
        "deploymentHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "forced": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentMetaMap"
        },
        "monorepoManager": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "oidcTokenClaims": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentOidcTokenClaims"
        },
        "plan": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentPlan",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "previewCommentsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not preview comments are enabled for the deployment"
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "readyAt": {
          "target": "smithy.api#Double"
        },
        "readyState": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentReadyState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "readySubstate": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentReadySubstate"
        },
        "requestedAt": {
          "target": "smithy.api#Double"
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeploymentType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "withCache": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemEnvironment": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemRedirectStatusCode": {
      "type": "intEnum",
      "members": {
        "_301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 301
          }
        },
        "_302": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 302
          }
        },
        "_307": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 307
          }
        },
        "_308": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 308
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemTarget": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCTION"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGING"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItem": {
      "type": "structure",
      "members": {
        "configuredBy": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemConfiguredBy",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "configuredChangedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "deployment": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemDeployment",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemEnvironment",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitBranch": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirect": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirectStatusCode": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemRedirectStatusCode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "target": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItemTarget",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasList": {
      "type": "list",
      "member": {
        "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemAliasItem"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemAnalytics": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "canceledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "disabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "paidAt": {
          "target": "smithy.api#Double"
        },
        "sampleRatePercent": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "spendLimitInDollars": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemDeploymentExpiration": {
      "type": "structure",
      "members": {
        "expirationDays": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep non-production deployments (mostly preview deployments) before soft deletion."
          }
        },
        "expirationDaysProduction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep production deployments before soft deletion."
          }
        },
        "expirationDaysCanceled": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep canceled deployments before soft deletion."
          }
        },
        "expirationDaysErrored": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep errored deployments before soft deletion."
          }
        },
        "deploymentsToKeep": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum number of production deployments to keep for this project, even if they are over the production expiration limit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Retention policies for deployments. These are enforced at the project level, but we also maintain an instance of this at the team level as a default policy that gets applied to new projects."
      }
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemIpBucketsItem": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "default": {
          "target": "smithy.api#Boolean"
        },
        "supportUntil": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemIpBucketsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemIpBucketsItem"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemTargetCase0Item": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "DEVELOPMENT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PREVIEW_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemTargetCase0List": {
      "type": "list",
      "member": {
        "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemTargetCase0Item"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemTargetCase1": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "DEVELOPMENT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PREVIEW_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemTarget": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemTargetCase0List"
        },
        "Case1": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemTargetCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemType": {
      "type": "enum",
      "members": {
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypted"
          }
        },
        "PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain"
          }
        },
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret"
          }
        },
        "SENSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sensitive"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemVisibility": {
      "type": "enum",
      "members": {
        "CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "config"
          }
        },
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User-facing config/secret model. When set, authoritative for new code paths when the env-var-config-secret-ui flag is enabled. Legacy rows omit this field; legacy rows omit it and callers fall back to existing `type` behavior."
      }
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase0Type": {
      "type": "enum",
      "members": {
        "REDIS_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis-url"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase1Type": {
      "type": "enum",
      "members": {
        "REDIS_REST_API_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis-rest-api-url"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase2Type": {
      "type": "enum",
      "members": {
        "REDIS_REST_API_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis-rest-api-token"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase3Type": {
      "type": "enum",
      "members": {
        "REDIS_REST_API_READ_ONLY_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis-rest-api-read-only-token"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase3Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase4Type": {
      "type": "enum",
      "members": {
        "BLOB_READ_WRITE_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blob-read-write-token"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase4": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase4Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase5Type": {
      "type": "enum",
      "members": {
        "BLOB_STORE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blob-store-id"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase5": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase5Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase6Type": {
      "type": "enum",
      "members": {
        "BLOB_WEBHOOK_PUBLIC_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blob-webhook-public-key"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase6": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase6Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase7Type": {
      "type": "enum",
      "members": {
        "POSTGRES_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-url"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase7": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase7Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase8Type": {
      "type": "enum",
      "members": {
        "POSTGRES_URL_NON_POOLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-url-non-pooling"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase8": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase8Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase9Type": {
      "type": "enum",
      "members": {
        "POSTGRES_PRISMA_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-prisma-url"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase9": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase9Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase10Type": {
      "type": "enum",
      "members": {
        "POSTGRES_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-user"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase10": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase10Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase11Type": {
      "type": "enum",
      "members": {
        "POSTGRES_HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-host"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase11": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase11Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase12Type": {
      "type": "enum",
      "members": {
        "POSTGRES_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-password"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase12": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase12Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase13Type": {
      "type": "enum",
      "members": {
        "POSTGRES_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-database"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase13": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase13Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase14Type": {
      "type": "enum",
      "members": {
        "POSTGRES_URL_NO_SSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres-url-no-ssl"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase14": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase14Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase15Type": {
      "type": "enum",
      "members": {
        "INTEGRATION_STORE_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-store-secret"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase15": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase15Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integrationProductId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integrationConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase16Type": {
      "type": "enum",
      "members": {
        "FLAGS_CONNECTION_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-connection-string"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase16": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase16Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHint": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase0"
        },
        "Case1": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase1"
        },
        "Case2": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase2"
        },
        "Case3": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase3"
        },
        "Case4": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase4"
        },
        "Case5": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase5"
        },
        "Case6": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase6"
        },
        "Case7": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase7"
        },
        "Case8": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase8"
        },
        "Case9": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase9"
        },
        "Case10": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase10"
        },
        "Case11": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase11"
        },
        "Case12": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase12"
        },
        "Case13": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase13"
        },
        "Case14": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase14"
        },
        "Case15": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase15"
        },
        "Case16": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHintCase16"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemInternalContentHintType": {
      "type": "enum",
      "members": {
        "FLAGS_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-secret"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemInternalContentHint": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemInternalContentHintType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encryptedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains the `value` of the env variable, encrypted with a special key to make decryption possible in the subscriber Lambda.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Similar to `contentHints`, but should not be exposed to the user."
      }
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemCustomEnvironmentIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItem": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemTarget"
        },
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sunsetSecretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is used to identify variables that have been migrated from type secret to sensitive."
          }
        },
        "legacyValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legacy now-encryption ciphertext, present after migration swaps value/vsmValue"
          }
        },
        "decrypted": {
          "target": "smithy.api#Boolean"
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "vsmValue": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "configurationId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "updatedAt": {
          "target": "smithy.api#Double"
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitBranch": {
          "target": "smithy.api#String"
        },
        "visibility": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemVisibility",
          "traits": {
            "smithy.api#documentation": "User-facing config/secret model. When set, authoritative for new code paths when the env-var-config-secret-ui flag is enabled. Legacy rows omit this field; legacy rows omit it and callers fall back to existing `type` behavior."
          }
        },
        "edgeConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "edgeConfigTokenId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "contentHint": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemContentHint",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "internalContentHint": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemInternalContentHint",
          "traits": {
            "smithy.api#documentation": "Similar to `contentHints`, but should not be exposed to the user.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "comment": {
          "target": "smithy.api#String"
        },
        "customEnvironmentIds": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItemCustomEnvironmentIdsList"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvList": {
      "type": "list",
      "member": {
        "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemEnvItem"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemFramework": {
      "type": "enum",
      "members": {
        "ACTIX_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "actix-web"
          }
        },
        "ANGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "angular"
          }
        },
        "ASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ash"
          }
        },
        "ASTRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "astro"
          }
        },
        "AXUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "axum"
          }
        },
        "BLITZJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blitzjs"
          }
        },
        "BRUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brunch"
          }
        },
        "BUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bun"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        },
        "CREATE_REACT_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create-react-app"
          }
        },
        "DJANGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "django"
          }
        },
        "DOCUSAURUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docusaurus"
          }
        },
        "DOCUSAURUS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docusaurus-2"
          }
        },
        "DOJO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dojo"
          }
        },
        "ELEVENTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eleventy"
          }
        },
        "ELYSIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elysia"
          }
        },
        "EMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ember"
          }
        },
        "EVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eve"
          }
        },
        "EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "express"
          }
        },
        "FASTAPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastapi"
          }
        },
        "FASTHTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fasthtml"
          }
        },
        "FASTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastify"
          }
        },
        "FLASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flask"
          }
        },
        "GATSBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gatsby"
          }
        },
        "GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "go"
          }
        },
        "GRIDSOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gridsome"
          }
        },
        "H3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h3"
          }
        },
        "HEXO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hexo"
          }
        },
        "HONO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hono"
          }
        },
        "HUGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hugo"
          }
        },
        "HYDROGEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hydrogen"
          }
        },
        "IONIC_ANGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ionic-angular"
          }
        },
        "IONIC_REACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ionic-react"
          }
        },
        "JEKYLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jekyll"
          }
        },
        "KOA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "koa"
          }
        },
        "MASTRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mastra"
          }
        },
        "MIDDLEMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleman"
          }
        },
        "NESTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nestjs"
          }
        },
        "NEXTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nextjs"
          }
        },
        "NITRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nitro"
          }
        },
        "NODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "node"
          }
        },
        "NUXTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nuxtjs"
          }
        },
        "PARCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parcel"
          }
        },
        "POLYMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "polymer"
          }
        },
        "PREACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preact"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "python"
          }
        },
        "REACT_ROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "react-router"
          }
        },
        "REDWOODJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redwoodjs"
          }
        },
        "REMIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remix"
          }
        },
        "RUBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ruby"
          }
        },
        "RUST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust"
          }
        },
        "SABER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saber"
          }
        },
        "SANITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sanity"
          }
        },
        "SANITY_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sanity-v2"
          }
        },
        "SAPPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sapper"
          }
        },
        "SCULLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scully"
          }
        },
        "SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "services"
          }
        },
        "SOLIDSTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solidstart"
          }
        },
        "SOLIDSTART_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solidstart-1"
          }
        },
        "STENCIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stencil"
          }
        },
        "STORYBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storybook"
          }
        },
        "SVELTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "svelte"
          }
        },
        "SVELTEKIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sveltekit"
          }
        },
        "SVELTEKIT_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sveltekit-1"
          }
        },
        "TANSTACK_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tanstack-start"
          }
        },
        "TANSTACK_START_LOVABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tanstack-start-lovable"
          }
        },
        "UMIJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "umijs"
          }
        },
        "VITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vite"
          }
        },
        "VITEPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vitepress"
          }
        },
        "VUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vue"
          }
        },
        "VUEPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vuepress"
          }
        },
        "XMCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xmcp"
          }
        },
        "ZOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zola"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemAliasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemAliasAssigned": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemAliasError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemAutomaticAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemBranchMatcherType": {
      "type": "enum",
      "members": {
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of matching to perform"
      }
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemBranchMatcher": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemBranchMatcherType",
          "traits": {
            "smithy.api#documentation": "The type of matching to perform",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pattern to match against branch names",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemBuildsItem": {
      "type": "structure",
      "members": {
        "use": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "src": {
          "target": "smithy.api#String"
        },
        "dest": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemBuildsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemBuildsItem"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemChecksConclusion": {
      "type": "enum",
      "members": {
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemChecksState": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registered"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemCreator": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "githubLogin": {
          "target": "smithy.api#String"
        },
        "gitlabLogin": {
          "target": "smithy.api#String"
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemOidcTokenClaimsMfeGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemOidcTokenClaims": {
      "type": "structure",
      "members": {
        "iss": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sub": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "custom_environment_id": {
          "target": "smithy.api#String"
        },
        "mfe_group_ids": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemOidcTokenClaimsMfeGroupIdsList"
        },
        "plan": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemPlan": {
      "type": "enum",
      "members": {
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "HOBBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hobby"
          }
        },
        "PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pro"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemReadyState": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemReadySubstate": {
      "type": "enum",
      "members": {
        "PROMOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTED"
          }
        },
        "ROLLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLING"
          }
        },
        "STAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGED"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemType": {
      "type": "enum",
      "members": {
        "LAMBDAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAMBDAS"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemAliasList"
        },
        "aliasAssigned": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemAliasAssigned",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "aliasError": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemAliasError",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "aliasFinal": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "automaticAliases": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemAutomaticAliasesList"
        },
        "branchMatcher": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemBranchMatcher"
        },
        "buildingAt": {
          "target": "smithy.api#Double"
        },
        "builds": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemBuildsList"
        },
        "checksConclusion": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemChecksConclusion"
        },
        "checksState": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemChecksState"
        },
        "connectBuildsEnabled": {
          "target": "smithy.api#Boolean"
        },
        "connectConfigurationId": {
          "target": "smithy.api#String"
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdIn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "creator": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemCreator",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "deletedAt": {
          "target": "smithy.api#Double"
        },
        "deploymentHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "forced": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemMetaMap"
        },
        "monorepoManager": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "oidcTokenClaims": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemOidcTokenClaims"
        },
        "plan": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemPlan",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "previewCommentsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not preview comments are enabled for the deployment"
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "readyAt": {
          "target": "smithy.api#Double"
        },
        "readyState": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemReadyState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "readySubstate": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemReadySubstate"
        },
        "requestedAt": {
          "target": "smithy.api#Double"
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "withCache": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLatestDeploymentsItem"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLinkCase0Type": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLinkCase0DeployHooksItem": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLinkCase0DeployHooksList": {
      "type": "list",
      "member": {
        "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLinkCase0DeployHooksItem"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLinkCase0": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repoOwnerId": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A new field, should be included in all new project links, is being added just in time when a deployment is created. This is needed for Protected Git scopes."
          }
        },
        "repo": {
          "target": "smithy.api#String"
        },
        "repoId": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLinkCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "deployHooks": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLinkCase0DeployHooksList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitCredentialId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double"
        },
        "sourceless": {
          "target": "smithy.api#Boolean"
        },
        "productionBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLinkCase1Type": {
      "type": "enum",
      "members": {
        "GITHUB_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github-limited"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLinkCase1DeployHooksItem": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLinkCase1DeployHooksList": {
      "type": "list",
      "member": {
        "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLinkCase1DeployHooksItem"
      },
      "traits": {}
    },
    "com.vercel.projects#GetProjectsResponseBodyCase0ItemLinkCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#GetProjectsResponseBodyCase0ItemLinkCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String"
        },
        "repoId": {
          "target": "smithy.api#Double"
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "updatedAt": {
          "target": "smithy.api#Double"
        },
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repoOwnerId": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A new field, should be included in all new project links, is being added just in time when a deployment is created. This is needed for Protected Git scopes."
          }
        },
        "deployHooks": {
[...]
