{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.security#UpdateAttackChallengeModeRequestBodyCase0": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attackModeEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attackModeActiveUntil": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#UpdateAttackChallengeModeRequestBodyCase1": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attackModeEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#UpdateAttackChallengeModeRequestBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.security#UpdateAttackChallengeModeRequestBodyCase0"
        },
        "Case1": {
          "target": "com.vercel.security#UpdateAttackChallengeModeRequestBodyCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.security#UpdateAttackChallengeModeRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "body": {
          "target": "com.vercel.security#UpdateAttackChallengeModeRequestBody",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.security#UpdateAttackChallengeModeResponse": {
      "type": "structure",
      "members": {
        "attackModeEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attackModeUpdatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.security#UpdateAttackChallengeMode": {
      "type": "operation",
      "input": {
        "target": "com.vercel.security#UpdateAttackChallengeModeRequest"
      },
      "output": {
        "target": "com.vercel.security#UpdateAttackChallengeModeResponse"
      },
      "errors": [
        {
          "target": "com.vercel.security#BadRequest"
        },
        {
          "target": "com.vercel.security#Forbidden"
        },
        {
          "target": "com.vercel.security#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/security/attack-mode",
          "code": 200
        },
        "smithy.api#documentation": "Update Attack Challenge mode\n\nUpdate the setting for determining if the project has Attack Challenge mode enabled."
      }
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsSdAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsSd": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsSdAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsMaAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsMa": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsMaAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsLfiAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsLfi": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsLfiAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsRfiAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsRfi": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsRfiAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsRceAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsRce": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsRceAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsPhpAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsPhp": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsPhpAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsGenAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsGen": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsGenAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsXssAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsXss": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsXssAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsSqliAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsSqli": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsSqliAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsSfAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsSf": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsSfAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsJavaAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsJava": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsJavaAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrs": {
      "type": "structure",
      "members": {
        "sd": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsSd",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ma": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsMa",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lfi": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsLfi",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rfi": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsRfi",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rce": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsRce",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "php": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsPhp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gen": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsGen",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "xss": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsXss",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sqli": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsSqli",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sf": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsSf",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "java": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrsJava",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupItemConditionsItemType": {
      "type": "enum",
      "members": {
        "BOT_CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot_category"
          }
        },
        "BOT_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot_name"
          }
        },
        "BOT_PROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot_protection"
          }
        },
        "BOT_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot_status"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        },
        "DOMAIN_ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_environment"
          }
        },
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "environment"
          }
        },
        "GEO_AS_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo_as_number"
          }
        },
        "GEO_CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo_city"
          }
        },
        "GEO_CONTINENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo_continent"
          }
        },
        "GEO_COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo_country"
          }
        },
        "GEO_COUNTRY_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo_country_region"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "host"
          }
        },
        "IP_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_address"
          }
        },
        "JA3_DIGEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ja3_digest"
          }
        },
        "JA4_DIGEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ja4_digest"
          }
        },
        "METHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "method"
          }
        },
        "PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "path"
          }
        },
        "PROTOCOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protocol"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        },
        "RATE_LIMIT_API_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rate_limit_api_id"
          }
        },
        "RAW_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "raw_path"
          }
        },
        "REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "region"
          }
        },
        "ROUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "route"
          }
        },
        "RULESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ruleset"
          }
        },
        "SCHEME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheme"
          }
        },
        "SERVER_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server_action"
          }
        },
        "TARGET_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "target_path"
          }
        },
        "TRUSTED_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trusted_source"
          }
        },
        "USER_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_agent"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupItemConditionsItemOp": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "INC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inc"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "NEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "neq"
          }
        },
        "NEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nex"
          }
        },
        "NINC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ninc"
          }
        },
        "PRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pre"
          }
        },
        "RE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "re"
          }
        },
        "SUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sub"
          }
        },
        "SUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suf"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupItemConditionsItemValueCase2List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupItemConditionsItemValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupItemConditionsItemValueCase2List"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupItemConditionsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupItemConditionsItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "op": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupItemConditionsItemOp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "neg": {
          "target": "smithy.api#Boolean"
        },
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupItemConditionsItemValue"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupItemConditionsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupItemConditionsItem"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupItem": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupItemConditionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupList": {
      "type": "list",
      "member": {
        "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupItem"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateAction": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "RATE_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rate_limit"
          }
        },
        "REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirect"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateRateLimitAlgo": {
      "type": "enum",
      "members": {
        "FIXED_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed_window"
          }
        },
        "TOKEN_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token_bucket"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateRateLimitKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateRateLimitAction": {
      "type": "enum",
      "members": {
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "RATE_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rate_limit"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateRateLimit": {
      "type": "structure",
      "members": {
        "algo": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateRateLimitAlgo",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "window": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateRateLimitKeysList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateRateLimitAction",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateRedirect": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permanent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateLogHeadersCase0List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateLogHeadersCase1": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateLogHeaders": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateLogHeadersCase0List"
        },
        "Case1": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateLogHeadersCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigate": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rateLimit": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateRateLimit",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirect": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateRedirect",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "actionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "bypassSystem": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "logHeaders": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigateLogHeaders"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0Action": {
      "type": "structure",
      "members": {
        "mitigate": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ActionMitigate"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "conditionGroup": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0ConditionGroupList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0Action",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validationErrors": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupItemConditionsItemType": {
      "type": "enum",
      "members": {
        "BOT_CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot_category"
          }
        },
        "BOT_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot_name"
          }
        },
        "BOT_PROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot_protection"
          }
        },
        "BOT_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot_status"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        },
        "DOMAIN_ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_environment"
          }
        },
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "environment"
          }
        },
        "GEO_AS_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo_as_number"
          }
        },
        "GEO_CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo_city"
          }
        },
        "GEO_CONTINENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo_continent"
          }
        },
        "GEO_COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo_country"
          }
        },
        "GEO_COUNTRY_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo_country_region"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "host"
          }
        },
        "IP_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_address"
          }
        },
        "JA3_DIGEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ja3_digest"
          }
        },
        "JA4_DIGEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ja4_digest"
          }
        },
        "METHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "method"
          }
        },
        "PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "path"
          }
        },
        "PROTOCOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protocol"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        },
        "RATE_LIMIT_API_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rate_limit_api_id"
          }
        },
        "RAW_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "raw_path"
          }
        },
        "REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "region"
          }
        },
        "ROUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "route"
          }
        },
        "RULESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ruleset"
          }
        },
        "SCHEME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheme"
          }
        },
        "SERVER_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server_action"
          }
        },
        "TARGET_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "target_path"
          }
        },
        "TRUSTED_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trusted_source"
          }
        },
        "USER_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_agent"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupItemConditionsItemOp": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "INC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inc"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "NEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "neq"
          }
        },
        "NEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nex"
          }
        },
        "NINC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ninc"
          }
        },
        "PRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pre"
          }
        },
        "RE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "re"
          }
        },
        "SUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sub"
          }
        },
        "SUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suf"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupItemConditionsItemValueCase2List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupItemConditionsItemValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupItemConditionsItemValueCase2List"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupItemConditionsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupItemConditionsItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "op": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupItemConditionsItemOp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "neg": {
          "target": "smithy.api#Boolean"
        },
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupItemConditionsItemValue"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupItemConditionsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupItemConditionsItem"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupItem": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupItemConditionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupList": {
      "type": "list",
      "member": {
        "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupItem"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateAction": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "RATE_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rate_limit"
          }
        },
        "REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirect"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateRateLimitAlgo": {
      "type": "enum",
      "members": {
        "FIXED_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed_window"
          }
        },
        "TOKEN_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token_bucket"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateRateLimitKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateRateLimitAction": {
      "type": "enum",
      "members": {
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "RATE_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rate_limit"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateRateLimit": {
      "type": "structure",
      "members": {
        "algo": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateRateLimitAlgo",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "window": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateRateLimitKeysList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateRateLimitAction",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateRedirect": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permanent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateLogHeadersCase0List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateLogHeadersCase1": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateLogHeaders": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateLogHeadersCase0List"
        },
        "Case1": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateLogHeadersCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigate": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rateLimit": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateRateLimit",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirect": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateRedirect",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "actionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "bypassSystem": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "logHeaders": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigateLogHeaders"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1Action": {
      "type": "structure",
      "members": {
        "mitigate": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ActionMitigate"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "conditionGroup": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ConditionGroupList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1Action",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validationErrors": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1ValidationErrorsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase0"
        },
        "Case1": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesItem"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveIpsItemAction": {
      "type": "enum",
      "members": {
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveIpsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveIpsItemAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveIpsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveIpsItem"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupItemConditionsItemType": {
      "type": "enum",
      "members": {
        "BOT_CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot_category"
          }
        },
        "BOT_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot_name"
          }
        },
        "BOT_PROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot_protection"
          }
        },
        "BOT_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot_status"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        },
        "DOMAIN_ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_environment"
          }
        },
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "environment"
          }
        },
        "GEO_AS_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo_as_number"
          }
        },
        "GEO_CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo_city"
          }
        },
        "GEO_CONTINENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo_continent"
          }
        },
        "GEO_COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo_country"
          }
        },
        "GEO_COUNTRY_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo_country_region"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "host"
          }
        },
        "IP_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_address"
          }
        },
        "JA3_DIGEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ja3_digest"
          }
        },
        "JA4_DIGEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ja4_digest"
          }
        },
        "METHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "method"
          }
        },
        "PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "path"
          }
        },
        "PROTOCOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protocol"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        },
        "RATE_LIMIT_API_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rate_limit_api_id"
          }
        },
        "RAW_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "raw_path"
          }
        },
        "REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "region"
          }
        },
        "ROUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "route"
          }
        },
        "RULESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ruleset"
          }
        },
        "SCHEME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheme"
          }
        },
        "SERVER_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server_action"
          }
        },
        "TARGET_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "target_path"
          }
        },
        "TRUSTED_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trusted_source"
          }
        },
        "USER_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_agent"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupItemConditionsItemOp": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "EX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "INC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inc"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "NEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "neq"
          }
        },
        "NEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nex"
          }
        },
        "NINC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ninc"
          }
        },
        "PRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pre"
          }
        },
        "RE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "re"
          }
        },
        "SUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sub"
          }
        },
        "SUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suf"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupItemConditionsItemValueCase2List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupItemConditionsItemValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupItemConditionsItemValueCase2List"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupItemConditionsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupItemConditionsItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "op": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupItemConditionsItemOp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "neg": {
          "target": "smithy.api#Boolean"
        },
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupItemConditionsItemValue"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupItemConditionsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupItemConditionsItem"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupItem": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupItemConditionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupList": {
      "type": "list",
      "member": {
        "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupItem"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateAction": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "RATE_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rate_limit"
          }
        },
        "REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirect"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateRateLimitAlgo": {
      "type": "enum",
      "members": {
        "FIXED_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed_window"
          }
        },
        "TOKEN_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token_bucket"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateRateLimitKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateRateLimitAction": {
      "type": "enum",
      "members": {
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "RATE_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rate_limit"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateRateLimit": {
      "type": "structure",
      "members": {
        "algo": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateRateLimitAlgo",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "window": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateRateLimitKeysList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateRateLimitAction",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateRedirect": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permanent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateLogHeadersCase0List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateLogHeadersCase1": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateLogHeaders": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateLogHeadersCase0List"
        },
        "Case1": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateLogHeadersCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigate": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rateLimit": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateRateLimit",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirect": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateRedirect",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "actionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "bypassSystem": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "logHeaders": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigateLogHeaders"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemAction": {
      "type": "structure",
      "members": {
        "mitigate": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemActionMitigate"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0Item": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "conditionGroup": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemConditionGroupList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0ItemAction"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0List": {
      "type": "list",
      "member": {
        "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0Item"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueAction": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "RATE_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rate_limit"
          }
        },
        "REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirect"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueRateLimitAlgo": {
      "type": "enum",
      "members": {
        "FIXED_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed_window"
          }
        },
        "TOKEN_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token_bucket"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueRateLimitKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueRateLimitAction": {
      "type": "enum",
      "members": {
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "RATE_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rate_limit"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueRateLimit": {
      "type": "structure",
      "members": {
        "algo": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueRateLimitAlgo",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "window": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueRateLimitKeysList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueRateLimitAction",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueRedirect": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permanent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueLogHeadersCase0List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueLogHeadersCase1": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueLogHeaders": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueLogHeadersCase0List"
        },
        "Case1": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueLogHeadersCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1Value": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rateLimit": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueRateLimit",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirect": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueRedirect",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "actionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "bypassSystem": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "logHeaders": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1ValueLogHeaders"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1Value"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesets": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase0List"
        },
        "Case1": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesetsCase1Map"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveChangesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesBotProtectionAction": {
      "type": "enum",
      "members": {
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesBotProtection": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesBotProtectionAction"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        },
        "userId": {
          "target": "smithy.api#String"
        },
        "username": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesAiBotsAction": {
      "type": "enum",
      "members": {
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesAiBots": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesAiBotsAction"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        },
        "userId": {
          "target": "smithy.api#String"
        },
        "username": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesOwaspAction": {
      "type": "enum",
      "members": {
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesOwasp": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesOwaspAction"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        },
        "userId": {
          "target": "smithy.api#String"
        },
        "username": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesVercelRulesetAction": {
      "type": "enum",
      "members": {
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesVercelRuleset": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesVercelRulesetAction"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        },
        "userId": {
          "target": "smithy.api#String"
        },
        "username": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesTrafficSourcesAction": {
      "type": "enum",
      "members": {
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesTrafficSources": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesTrafficSourcesAction"
        },
        "updatedAt": {
          "target": "smithy.api#String"
        },
        "userId": {
          "target": "smithy.api#String"
        },
        "username": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRules": {
      "type": "structure",
      "members": {
        "bot_protection": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesBotProtection"
        },
        "ai_bots": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesAiBots"
        },
        "owasp": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesOwasp"
        },
        "vercel_ruleset": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesVercelRuleset"
        },
        "traffic_sources": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRulesTrafficSources"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveLogHeadersCase0List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveLogHeadersCase1": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActiveLogHeaders": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveLogHeadersCase0List"
        },
        "Case1": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveLogHeadersCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseActive": {
      "type": "structure",
      "members": {
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "firewallEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "crs": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveCrs"
        },
        "rules": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ips": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveIpsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rulesets": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveRulesets"
        },
        "changes": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveChangesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "managedRules": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveManagedRules"
        },
        "botIdEnabled": {
          "target": "smithy.api#Boolean"
        },
        "logHeaders": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseActiveLogHeaders"
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsSdAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsSd": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsSdAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsMaAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsMa": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsMaAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsLfiAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsLfi": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsLfiAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsRfiAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsRfi": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsRfiAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsRceAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsRce": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsRceAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsPhpAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsPhp": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsPhpAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsGenAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsGen": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsGenAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.security#GetSecurityFirewallConfigResponseDraftCrsXssAction": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
