{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.teams#GetTeamMembersRequestRole": {
      "type": "enum",
      "members": {
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Only return members with the specified team role."
      }
    },
    "com.vercel.teams#GetTeamMembersRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Limit how many teams should be returned"
          }
        },
        "since": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#documentation": "Timestamp in milliseconds to only include members added since then."
          }
        },
        "until": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#documentation": "Timestamp in milliseconds to only include members added until then."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search team members by their name, username, and email."
          }
        },
        "role": {
          "target": "com.vercel.teams#GetTeamMembersRequestRole",
          "traits": {
            "smithy.api#httpQuery": "role",
            "smithy.api#documentation": "Only return members with the specified team role."
          }
        },
        "excludeProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "excludeProject",
            "smithy.api#documentation": "Exclude members who belong to the specified project."
          }
        },
        "eligibleMembersForProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "eligibleMembersForProjectId",
            "smithy.api#documentation": "Include team members who are eligible to be members of the specified project."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#GetTeamMembersResponseMembersItemGithub": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the GitHub account for this user."
      }
    },
    "com.vercel.teams#GetTeamMembersResponseMembersItemGitlab": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the GitLab account of this user."
      }
    },
    "com.vercel.teams#GetTeamMembersResponseMembersItemBitbucket": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the Bitbucket account of this user."
      }
    },
    "com.vercel.teams#GetTeamMembersResponseMembersItemRole": {
      "type": "enum",
      "members": {
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Role of this user in the team."
      }
    },
    "com.vercel.teams#GetTeamMembersResponseMembersItemJoinedFromOrigin": {
      "type": "enum",
      "members": {
        "ACCOUNT_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account-update"
          }
        },
        "BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket"
          }
        },
        "DSYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dsync"
          }
        },
        "FEEDBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feedback"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "link"
          }
        },
        "MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mail"
          }
        },
        "NSNB_AUTO_APPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-auto-approve"
          }
        },
        "NSNB_HOBBY_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-hobby-upgrade"
          }
        },
        "NSNB_INVITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-invite"
          }
        },
        "NSNB_REDEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-redeploy"
          }
        },
        "NSNB_REDEPLOY_ATTRIBUTION_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-redeploy-attribution-card"
          }
        },
        "NSNB_REQUEST_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-request-access"
          }
        },
        "NSNB_VIEWER_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-viewer-upgrade"
          }
        },
        "ORGANIZATION_TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization-teams"
          }
        },
        "SAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saml"
          }
        },
        "TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponseMembersItemJoinedFromGitUserId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponseMembersItemJoinedFrom": {
      "type": "structure",
      "members": {
        "origin": {
          "target": "com.vercel.teams#GetTeamMembersResponseMembersItemJoinedFromOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commitId": {
          "target": "smithy.api#String"
        },
        "repoId": {
          "target": "smithy.api#String"
        },
        "repoPath": {
          "target": "smithy.api#String"
        },
        "gitUserId": {
          "target": "com.vercel.teams#GetTeamMembersResponseMembersItemJoinedFromGitUserId"
        },
        "gitUserLogin": {
          "target": "smithy.api#String"
        },
        "ssoUserId": {
          "target": "smithy.api#String"
        },
        "ssoConnectedAt": {
          "target": "smithy.api#Double"
        },
        "idpUserId": {
          "target": "smithy.api#String"
        },
        "dsyncUserId": {
          "target": "smithy.api#String"
        },
        "dsyncConnectedAt": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "Map with information about the members origin if they joined by requesting access."
      }
    },
    "com.vercel.teams#GetTeamMembersResponseMembersItemProjectsItemRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        },
        "PROJECT_GUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_GUEST"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponseMembersItemProjectsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.vercel.teams#GetTeamMembersResponseMembersItemProjectsItemRole"
        }
      },
      "traits": {
        "smithy.api#documentation": "Array of project memberships"
      }
    },
    "com.vercel.teams#GetTeamMembersResponseMembersItemProjectsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#GetTeamMembersResponseMembersItemProjectsItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of project memberships"
      }
    },
    "com.vercel.teams#GetTeamMembersResponseMembersItem": {
      "type": "structure",
      "members": {
        "avatar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the file for the Avatar of this member."
          }
        },
        "confirmed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean that indicates if this member was confirmed by an owner.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of this member.",
            "smithy.api#required": {}
          }
        },
        "github": {
          "target": "com.vercel.teams#GetTeamMembersResponseMembersItemGithub",
          "traits": {
            "smithy.api#documentation": "Information about the GitHub account for this user."
          }
        },
        "gitlab": {
          "target": "com.vercel.teams#GetTeamMembersResponseMembersItemGitlab",
          "traits": {
            "smithy.api#documentation": "Information about the GitLab account of this user."
          }
        },
        "bitbucket": {
          "target": "com.vercel.teams#GetTeamMembersResponseMembersItemBitbucket",
          "traits": {
            "smithy.api#documentation": "Information about the Bitbucket account of this user."
          }
        },
        "role": {
          "target": "com.vercel.teams#GetTeamMembersResponseMembersItemRole",
          "traits": {
            "smithy.api#documentation": "Role of this user in the team.",
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of this user.",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique username of this user.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this user."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds when this member was added.",
            "smithy.api#required": {}
          }
        },
        "accessRequestedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds for when this team member was accepted by an owner."
          }
        },
        "joinedFrom": {
          "target": "com.vercel.teams#GetTeamMembersResponseMembersItemJoinedFrom",
          "traits": {
            "smithy.api#documentation": "Map with information about the members origin if they joined by requesting access."
          }
        },
        "projects": {
          "target": "com.vercel.teams#GetTeamMembersResponseMembersItemProjectsList",
          "traits": {
            "smithy.api#documentation": "Array of project memberships"
          }
        },
        "isEnterpriseManaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the user is managed by an enterprise."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponseMembersList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#GetTeamMembersResponseMembersItem"
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemAccessGroupsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemRole": {
      "type": "enum",
      "members": {
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemTeamRolesItem": {
      "type": "enum",
      "members": {
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemTeamRolesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemTeamRolesItem"
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemTeamPermissionsItem": {
      "type": "enum",
      "members": {
        "AIGATEWAYAPIKEYOWNEDBYSELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayApiKeyOwnedBySelf"
          }
        },
        "AIGATEWAYBUDGETMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayBudgetManager"
          }
        },
        "AIGATEWAYCREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayCredits"
          }
        },
        "AIGATEWAYSETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewaySettings"
          }
        },
        "CONNECTORMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectorManager"
          }
        },
        "CREATEPROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateProject"
          }
        },
        "ENVVARIABLEMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnvVariableManager"
          }
        },
        "ENVIRONMENTMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnvironmentManager"
          }
        },
        "FULLPRODUCTIONDEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FullProductionDeployment"
          }
        },
        "INTEGRATIONMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntegrationManager"
          }
        },
        "ORGADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrgAdmin"
          }
        },
        "ORGVIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrgViewer"
          }
        },
        "USAGEVIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsageViewer"
          }
        },
        "V0BUILDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Builder"
          }
        },
        "V0CHATTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Chatter"
          }
        },
        "V0VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Viewer"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemTeamPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemTeamPermissionsItem"
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemProjectsValue": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        },
        "PROJECT_GUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_GUEST"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemProjectsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemProjectsValue"
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemEntitlementsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItem": {
      "type": "structure",
      "members": {
        "accessGroups": {
          "target": "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemAccessGroupsList"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String"
        },
        "role": {
          "target": "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemRole"
        },
        "teamRoles": {
          "target": "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemTeamRolesList"
        },
        "teamPermissions": {
          "target": "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemTeamPermissionsList"
        },
        "isDSyncUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "expired": {
          "target": "smithy.api#Boolean"
        },
        "projects": {
          "target": "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemProjectsMap"
        },
        "entitlements": {
          "target": "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItemEntitlementsList"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesItem"
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponsePagination": {
      "type": "structure",
      "members": {
        "hasNext": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of items in the current page.",
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the next page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prev": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the previous page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamMembersResponse": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.vercel.teams#GetTeamMembersResponseMembersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "emailInviteCodes": {
          "target": "com.vercel.teams#GetTeamMembersResponseEmailInviteCodesList"
        },
        "pagination": {
          "target": "com.vercel.teams#GetTeamMembersResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.teams#GetTeamMembers": {
      "type": "operation",
      "input": {
        "target": "com.vercel.teams#GetTeamMembersRequest"
      },
      "output": {
        "target": "com.vercel.teams#GetTeamMembersResponse"
      },
      "errors": [
        {
          "target": "com.vercel.teams#BadRequest"
        },
        {
          "target": "com.vercel.teams#Forbidden"
        },
        {
          "target": "com.vercel.teams#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/teams/{teamId}/members",
          "code": 200
        },
        "smithy.api#documentation": "List team members\n\nGet a paginated list of team members for the provided team."
      }
    },
    "com.vercel.teams#InviteUserToTeamRequestBodyItemRole": {
      "type": "enum",
      "members": {
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role of the user to invite"
      }
    },
    "com.vercel.teams#InviteUserToTeamRequestBodyItemProjectsItemRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        },
        "PROJECT_GUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_GUEST"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sets the project roles for the invited user"
      }
    },
    "com.vercel.teams#InviteUserToTeamRequestBodyItemProjectsItem": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.vercel.teams#InviteUserToTeamRequestBodyItemProjectsItemRole",
          "traits": {
            "smithy.api#documentation": "Sets the project roles for the invited user",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#InviteUserToTeamRequestBodyItemProjectsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#InviteUserToTeamRequestBodyItemProjectsItem"
      },
      "traits": {}
    },
    "com.vercel.teams#InviteUserToTeamRequestBodyItem": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the user to invite",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.vercel.teams#InviteUserToTeamRequestBodyItemRole",
          "traits": {
            "smithy.api#documentation": "The role of the user to invite"
          }
        },
        "projects": {
          "target": "com.vercel.teams#InviteUserToTeamRequestBodyItemProjectsList"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#InviteUserToTeamRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#InviteUserToTeamRequestBodyItem"
      },
      "traits": {}
    },
    "com.vercel.teams#InviteUserToTeamRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "body": {
          "target": "com.vercel.teams#InviteUserToTeamRequestBodyList",
          "traits": {
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#InvitedTeamMember": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the invited user",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username of the invited user",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the invited user.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.vercel.teams#InvitedTeamMemberRole",
          "traits": {
            "smithy.api#documentation": "The role used for the invitation",
            "smithy.api#required": {}
          }
        },
        "teamRoles": {
          "target": "com.vercel.teams#InvitedTeamMemberTeamRolesList",
          "traits": {
            "smithy.api#documentation": "The team roles of the user"
          }
        },
        "teamPermissions": {
          "target": "com.vercel.teams#InvitedTeamMemberTeamPermissionsList",
          "traits": {
            "smithy.api#documentation": "The team permissions of the user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The member was successfully added to the team."
      }
    },
    "com.vercel.teams#InvitedTeamMemberRole": {
      "type": "enum",
      "members": {
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role used for the invitation"
      }
    },
    "com.vercel.teams#InvitedTeamMemberTeamRolesItem": {
      "type": "enum",
      "members": {
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The team roles of the user"
      }
    },
    "com.vercel.teams#InvitedTeamMemberTeamRolesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#InvitedTeamMemberTeamRolesItem"
      },
      "traits": {
        "smithy.api#documentation": "The team roles of the user"
      }
    },
    "com.vercel.teams#InvitedTeamMemberTeamPermissionsItem": {
      "type": "enum",
      "members": {
        "AIGATEWAYAPIKEYOWNEDBYSELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayApiKeyOwnedBySelf"
          }
        },
        "AIGATEWAYBUDGETMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayBudgetManager"
          }
        },
        "AIGATEWAYCREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayCredits"
          }
        },
        "AIGATEWAYSETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewaySettings"
          }
        },
        "CONNECTORMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectorManager"
          }
        },
        "CREATEPROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateProject"
          }
        },
        "ENVVARIABLEMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnvVariableManager"
          }
        },
        "ENVIRONMENTMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnvironmentManager"
          }
        },
        "FULLPRODUCTIONDEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FullProductionDeployment"
          }
        },
        "INTEGRATIONMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntegrationManager"
          }
        },
        "ORGADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrgAdmin"
          }
        },
        "ORGVIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrgViewer"
          }
        },
        "USAGEVIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsageViewer"
          }
        },
        "V0BUILDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Builder"
          }
        },
        "V0CHATTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Chatter"
          }
        },
        "V0VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Viewer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The team permissions of the user"
      }
    },
    "com.vercel.teams#InvitedTeamMemberTeamPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#InvitedTeamMemberTeamPermissionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The team permissions of the user"
      }
    },
    "com.vercel.teams#InviteUserToTeam": {
      "type": "operation",
      "input": {
        "target": "com.vercel.teams#InviteUserToTeamRequest"
      },
      "output": {
        "target": "com.vercel.teams#InvitedTeamMember"
      },
      "errors": [
        {
          "target": "com.vercel.teams#BadRequest"
        },
        {
          "target": "com.vercel.teams#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/teams/{teamId}/members",
          "code": 200
        },
        "smithy.api#documentation": "Invite a user\n\nInvite a user to join the team specified in the URL. The authenticated user needs to be an `OWNER` in order to successfully invoke this endpoint. The user to be invited must be specified by email."
      }
    },
    "com.vercel.teams#RequestAccessToTeamRequestJoinedFromOrigin": {
      "type": "enum",
      "members": {
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket"
          }
        },
        "FEEDBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feedback"
          }
        },
        "ORGANIZATION_TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization-teams"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The origin of the request."
      }
    },
    "com.vercel.teams#RequestAccessToTeamRequestJoinedFromGitUserId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "The ID of the Git account of the user who requests access."
      }
    },
    "com.vercel.teams#RequestAccessToTeamRequestJoinedFrom": {
      "type": "structure",
      "members": {
        "origin": {
          "target": "com.vercel.teams#RequestAccessToTeamRequestJoinedFromOrigin",
          "traits": {
            "smithy.api#documentation": "The origin of the request.",
            "smithy.api#required": {}
          }
        },
        "commitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The commit sha if the origin is a git provider."
          }
        },
        "repoId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the repository for the given Git provider."
          }
        },
        "repoPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the repository for the given Git provider."
          }
        },
        "gitUserId": {
          "target": "com.vercel.teams#RequestAccessToTeamRequestJoinedFromGitUserId",
          "traits": {
            "smithy.api#documentation": "The ID of the Git account of the user who requests access."
          }
        },
        "gitUserLogin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The login name for the Git account of the user who requests access."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#RequestAccessToTeamRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "joinedFrom": {
          "target": "com.vercel.teams#RequestAccessToTeamRequestJoinedFrom",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#RequestAccessToTeamResponseJoinedFromOrigin": {
      "type": "enum",
      "members": {
        "ACCOUNT_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account-update"
          }
        },
        "BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket"
          }
        },
        "DSYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dsync"
          }
        },
        "FEEDBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feedback"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "link"
          }
        },
        "MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mail"
          }
        },
        "NSNB_AUTO_APPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-auto-approve"
          }
        },
        "NSNB_HOBBY_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-hobby-upgrade"
          }
        },
        "NSNB_INVITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-invite"
          }
        },
        "NSNB_REDEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-redeploy"
          }
        },
        "NSNB_REDEPLOY_ATTRIBUTION_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-redeploy-attribution-card"
          }
        },
        "NSNB_REQUEST_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-request-access"
          }
        },
        "NSNB_VIEWER_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-viewer-upgrade"
          }
        },
        "ORGANIZATION_TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization-teams"
          }
        },
        "SAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saml"
          }
        },
        "TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#RequestAccessToTeamResponseJoinedFromGitUserId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#RequestAccessToTeamResponseJoinedFrom": {
      "type": "structure",
      "members": {
        "origin": {
          "target": "com.vercel.teams#RequestAccessToTeamResponseJoinedFromOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commitId": {
          "target": "smithy.api#String"
        },
        "repoId": {
          "target": "smithy.api#String"
        },
        "repoPath": {
          "target": "smithy.api#String"
        },
        "gitUserId": {
          "target": "com.vercel.teams#RequestAccessToTeamResponseJoinedFromGitUserId"
        },
        "gitUserLogin": {
          "target": "smithy.api#String"
        },
        "ssoUserId": {
          "target": "smithy.api#String"
        },
        "ssoConnectedAt": {
          "target": "smithy.api#Double"
        },
        "idpUserId": {
          "target": "smithy.api#String"
        },
        "dsyncUserId": {
          "target": "smithy.api#String"
        },
        "dsyncConnectedAt": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#RequestAccessToTeamResponseGithub": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#RequestAccessToTeamResponseGitlab": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#RequestAccessToTeamResponseBitbucket": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#RequestAccessToTeamResponse": {
      "type": "structure",
      "members": {
        "teamSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teamName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "confirmed": {
          "target": "smithy.api#Boolean"
        },
        "joinedFrom": {
          "target": "com.vercel.teams#RequestAccessToTeamResponseJoinedFrom"
        },
        "accessRequestedAt": {
          "target": "smithy.api#Double"
        },
        "github": {
          "target": "com.vercel.teams#RequestAccessToTeamResponseGithub",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitlab": {
          "target": "com.vercel.teams#RequestAccessToTeamResponseGitlab",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "bitbucket": {
          "target": "com.vercel.teams#RequestAccessToTeamResponseBitbucket",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.teams#RequestAccessToTeam": {
      "type": "operation",
      "input": {
        "target": "com.vercel.teams#RequestAccessToTeamRequest"
      },
      "output": {
        "target": "com.vercel.teams#RequestAccessToTeamResponse"
      },
      "errors": [
        {
          "target": "com.vercel.teams#BadRequest"
        },
        {
          "target": "com.vercel.teams#Forbidden"
        },
        {
          "target": "com.vercel.teams#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/teams/{teamId}/request",
          "code": 200
        },
        "smithy.api#documentation": "Request access to a team\n\nRequest access to a team as a member. An owner has to approve the request. Only 100 users can request access to a team at the same time."
      }
    },
    "com.vercel.teams#GetTeamAccessRequestRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#GetTeamAccessRequestResponseJoinedFromOrigin": {
      "type": "enum",
      "members": {
        "ACCOUNT_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account-update"
          }
        },
        "BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket"
          }
        },
        "DSYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dsync"
          }
        },
        "FEEDBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feedback"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "link"
          }
        },
        "MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mail"
          }
        },
        "NSNB_AUTO_APPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-auto-approve"
          }
        },
        "NSNB_HOBBY_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-hobby-upgrade"
          }
        },
        "NSNB_INVITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-invite"
          }
        },
        "NSNB_REDEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-redeploy"
          }
        },
        "NSNB_REDEPLOY_ATTRIBUTION_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-redeploy-attribution-card"
          }
        },
        "NSNB_REQUEST_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-request-access"
          }
        },
        "NSNB_VIEWER_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-viewer-upgrade"
          }
        },
        "ORGANIZATION_TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization-teams"
          }
        },
        "SAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saml"
          }
        },
        "TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamAccessRequestResponseJoinedFromGitUserId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetTeamAccessRequestResponseJoinedFrom": {
      "type": "structure",
      "members": {
        "origin": {
          "target": "com.vercel.teams#GetTeamAccessRequestResponseJoinedFromOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commitId": {
          "target": "smithy.api#String"
        },
        "repoId": {
          "target": "smithy.api#String"
        },
        "repoPath": {
          "target": "smithy.api#String"
        },
        "gitUserId": {
          "target": "com.vercel.teams#GetTeamAccessRequestResponseJoinedFromGitUserId"
        },
        "gitUserLogin": {
          "target": "smithy.api#String"
        },
        "ssoUserId": {
          "target": "smithy.api#String"
        },
        "ssoConnectedAt": {
          "target": "smithy.api#Double"
        },
        "idpUserId": {
          "target": "smithy.api#String"
        },
        "dsyncUserId": {
          "target": "smithy.api#String"
        },
        "dsyncConnectedAt": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "A map that describes the origin from where the user joined."
      }
    },
    "com.vercel.teams#GetTeamAccessRequestResponseGithub": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Map of the connected GitHub account."
      }
    },
    "com.vercel.teams#GetTeamAccessRequestResponseGitlab": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Map of the connected GitLab account."
      }
    },
    "com.vercel.teams#GetTeamAccessRequestResponseBitbucket": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Map of the connected Bitbucket account."
      }
    },
    "com.vercel.teams#GetTeamAccessRequestResponse": {
      "type": "structure",
      "members": {
        "teamSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the team.",
            "smithy.api#required": {}
          }
        },
        "teamName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the team.",
            "smithy.api#required": {}
          }
        },
        "confirmed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current status of the membership. Will be `true` if confirmed, if pending it'll be `false`.",
            "smithy.api#required": {}
          }
        },
        "joinedFrom": {
          "target": "com.vercel.teams#GetTeamAccessRequestResponseJoinedFrom",
          "traits": {
            "smithy.api#documentation": "A map that describes the origin from where the user joined.",
            "smithy.api#required": {}
          }
        },
        "accessRequestedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds when the user requested access to the team.",
            "smithy.api#required": {}
          }
        },
        "github": {
          "target": "com.vercel.teams#GetTeamAccessRequestResponseGithub",
          "traits": {
            "smithy.api#documentation": "Map of the connected GitHub account.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitlab": {
          "target": "com.vercel.teams#GetTeamAccessRequestResponseGitlab",
          "traits": {
            "smithy.api#documentation": "Map of the connected GitLab account.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "bitbucket": {
          "target": "com.vercel.teams#GetTeamAccessRequestResponseBitbucket",
          "traits": {
            "smithy.api#documentation": "Map of the connected Bitbucket account.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.teams#GetTeamAccessRequest": {
      "type": "operation",
      "input": {
        "target": "com.vercel.teams#GetTeamAccessRequestRequest"
      },
      "output": {
        "target": "com.vercel.teams#GetTeamAccessRequestResponse"
      },
      "errors": [
        {
          "target": "com.vercel.teams#BadRequest"
        },
        {
          "target": "com.vercel.teams#Forbidden"
        },
        {
          "target": "com.vercel.teams#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/teams/{teamId}/request/{userId}",
          "code": 200
        },
        "smithy.api#documentation": "Get access request status\n\nCheck the status of a join request. It'll respond with a 404 if the request has been declined. If no `userId` path segment was provided, this endpoint will instead return the status of the authenticated user."
      }
    },
    "com.vercel.teams#JoinTeamRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "inviteCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The invite code to join the team."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#JoinTeamResponse": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the team the user joined.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the team the user joined.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the team the user joined.",
            "smithy.api#required": {}
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The origin of how the user joined.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.teams#JoinTeam": {
      "type": "operation",
      "input": {
        "target": "com.vercel.teams#JoinTeamRequest"
      },
      "output": {
        "target": "com.vercel.teams#JoinTeamResponse"
      },
      "errors": [
        {
          "target": "com.vercel.teams#BadRequest"
        },
        {
          "target": "com.vercel.teams#PaymentRequired"
        },
        {
          "target": "com.vercel.teams#Forbidden"
        },
        {
          "target": "com.vercel.teams#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/teams/{teamId}/members/teams/join",
          "code": 200
        },
        "smithy.api#documentation": "Join a team\n\nJoin a team with a provided invite code or team ID."
      }
    },
    "com.vercel.teams#UpdateTeamMemberRequestTeamPermissionsItem": {
      "type": "enum",
      "members": {
        "CONNECTORMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectorManager"
          }
        },
        "INTEGRATIONMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntegrationManager"
          }
        },
        "CREATEPROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateProject"
          }
        },
        "FULLPRODUCTIONDEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FullProductionDeployment"
          }
        },
        "USAGEVIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsageViewer"
          }
        },
        "ENVVARIABLEMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnvVariableManager"
          }
        },
        "ENVIRONMENTMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnvironmentManager"
          }
        },
        "ORGADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrgAdmin"
          }
        },
        "ORGVIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrgViewer"
          }
        },
        "AIGATEWAYSETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewaySettings"
          }
        },
        "AIGATEWAYCREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayCredits"
          }
        },
        "AIGATEWAYAPIKEYOWNEDBYSELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayApiKeyOwnedBySelf"
          }
        },
        "AIGATEWAYBUDGETMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayBudgetManager"
          }
        },
        "V0BUILDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Builder"
          }
        },
        "V0CHATTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Chatter"
          }
        },
        "V0VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Viewer"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#UpdateTeamMemberRequestTeamPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#UpdateTeamMemberRequestTeamPermissionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The team permissions to set for the member. Permissions must be compatible with the team roles assigned to the member."
      }
    },
    "com.vercel.teams#UpdateTeamMemberRequestProjectsItemRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The project role of the member that will be added. \\\"null\\\" will remove this project level role."
      }
    },
    "com.vercel.teams#UpdateTeamMemberRequestProjectsItem": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.vercel.teams#UpdateTeamMemberRequestProjectsItemRole",
          "traits": {
            "smithy.api#documentation": "The project role of the member that will be added. \\\"null\\\" will remove this project level role.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#UpdateTeamMemberRequestProjectsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#UpdateTeamMemberRequestProjectsItem"
      },
      "traits": {}
    },
    "com.vercel.teams#UpdateTeamMemberRequestJoinedFrom": {
      "type": "structure",
      "members": {
        "ssoUserId": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#UpdateTeamMemberRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the member."
          }
        },
        "confirmed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Accept a user who requested access to the team."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role in the team of the member."
          }
        },
        "teamPermissions": {
          "target": "com.vercel.teams#UpdateTeamMemberRequestTeamPermissionsList",
          "traits": {
            "smithy.api#documentation": "The team permissions to set for the member. Permissions must be compatible with the team roles assigned to the member."
          }
        },
        "projects": {
          "target": "com.vercel.teams#UpdateTeamMemberRequestProjectsList"
        },
        "joinedFrom": {
          "target": "com.vercel.teams#UpdateTeamMemberRequestJoinedFrom"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#UpdateTeamMemberResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the team.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.teams#UpdateTeamMember": {
      "type": "operation",
      "input": {
        "target": "com.vercel.teams#UpdateTeamMemberRequest"
      },
      "output": {
        "target": "com.vercel.teams#UpdateTeamMemberResponse"
      },
      "errors": [
        {
          "target": "com.vercel.teams#BadRequest"
        },
        {
          "target": "com.vercel.teams#PaymentRequired"
        },
        {
          "target": "com.vercel.teams#Forbidden"
        },
        {
          "target": "com.vercel.teams#NotFound"
        },
        {
          "target": "com.vercel.teams#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/teams/{teamId}/members/{uid}",
          "code": 200
        },
        "smithy.api#documentation": "Update a Team Member\n\nUpdate the membership of a Team Member on the Team specified by `teamId`, such as changing the _role_ of the member, or confirming a request to join the Team for an unconfirmed member. The authenticated user must be an `OWNER` of the Team."
      }
    },
    "com.vercel.teams#RemoveTeamMemberRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The user ID of the member."
          }
        },
        "newDefaultTeamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "newDefaultTeamId",
            "smithy.api#documentation": "The ID of the team to set as the new default team for the Northstar user."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#RemoveTeamMemberResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the team.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.teams#RemoveTeamMember": {
      "type": "operation",
      "input": {
        "target": "com.vercel.teams#RemoveTeamMemberRequest"
      },
      "output": {
        "target": "com.vercel.teams#RemoveTeamMemberResponse"
      },
      "errors": [
        {
          "target": "com.vercel.teams#BadRequest"
        },
        {
          "target": "com.vercel.teams#Forbidden"
        },
        {
          "target": "com.vercel.teams#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/teams/{teamId}/members/{uid}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a Team Member\n\nRemove a Team Member from the Team, or dismiss a user that requested access, or leave a team."
      }
    },
    "com.vercel.teams#GetTeamRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#Team": {
      "type": "structure",
      "members": {
        "connect": {
          "target": "com.vercel.teams#TeamConnect"
        },
        "creatorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user who created the Team.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the Team was last updated.",
            "smithy.api#required": {}
          }
        },
        "emailDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname that'll be matched with emails on sign-up to automatically join the Team.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml": {
          "target": "com.vercel.teams#TeamSaml",
          "traits": {
            "smithy.api#documentation": "When \"Single Sign-On (SAML)\" is configured, this object contains information regarding the configuration of the Identity Provider (IdP)."
          }
        },
        "inviteCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code that can be used to join this Team. Only visible to Team owners."
          }
        },
        "billing": {
          "target": "com.vercel.teams#TeamBilling",
          "traits": {
            "smithy.api#documentation": "The team's billing plan.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the Team.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "defaultRoles": {
          "target": "com.vercel.teams#TeamDefaultRoles",
          "traits": {
            "smithy.api#documentation": "Default roles for the team."
          }
        },
        "stagingPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix that is prepended to automatic aliases.",
            "smithy.api#required": {}
          }
        },
        "resourceConfig": {
          "target": "com.vercel.teams#TeamResourceConfig"
        },
        "previewDeploymentSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that is current set as preview deployment suffix.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "platform": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the team is a platform team."
          }
        },
        "disableHardAutoBlocks": {
          "target": "com.vercel.teams#TeamDisableHardAutoBlocks"
        },
        "remoteCaching": {
          "target": "com.vercel.teams#TeamRemoteCaching",
          "traits": {
            "smithy.api#documentation": "Is remote caching enabled for this team"
          }
        },
        "defaultDeploymentProtection": {
          "target": "com.vercel.teams#TeamDefaultDeploymentProtection",
          "traits": {
            "smithy.api#documentation": "Default deployment protection for this team null indicates protection is disabled"
          }
        },
        "defaultPassport": {
          "target": "com.vercel.teams#TeamDefaultPassport",
          "traits": {
            "smithy.api#documentation": "Default Passport configuration for new projects in this team.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "defaultExpirationSettings": {
          "target": "com.vercel.teams#TeamDefaultExpirationSettings",
          "traits": {
            "smithy.api#documentation": "Default deployment expiration settings for this team"
          }
        },
        "defaultProjectJobs": {
          "target": "com.vercel.teams#TeamDefaultProjectJobs",
          "traits": {
            "smithy.api#documentation": "Default job configuration applied to new projects created in this team."
          }
        },
        "enablePreviewFeedback": {
          "target": "com.vercel.teams#TeamEnablePreviewFeedback",
          "traits": {
            "smithy.api#documentation": "Whether toolbar is enabled on preview deployments",
            "com.distilled.openapi#nullable": {}
          }
        },
        "enableProductionFeedback": {
          "target": "com.vercel.teams#TeamEnableProductionFeedback",
          "traits": {
            "smithy.api#documentation": "Whether toolbar is enabled on production deployments",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sensitiveEnvironmentVariablePolicy": {
          "target": "com.vercel.teams#TeamSensitiveEnvironmentVariablePolicy",
          "traits": {
            "smithy.api#documentation": "Sensitive environment variable policy for this team",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hideIpAddresses": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if IP addresses should be accessible in observability (o11y) tooling",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hideIpAddressesInLogDrains": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if IP addresses should be accessible in log drains",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dpAccessRequestsMode": {
          "target": "com.vercel.teams#TeamDpAccessRequestsMode",
          "traits": {
            "smithy.api#documentation": "Controls who can request access to protected deployments."
          }
        },
        "ipBuckets": {
          "target": "com.vercel.teams#TeamIpBucketsList"
        },
        "requireVerifiedCommits": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, all projects in the team require commits to be signed and verified by the git provider before deployments will be created. Projects may override this via `project.gitProviderOptions.requireVerifiedCommits` (gated by `Project:Update`)."
          }
        },
        "disableRepositoryDispatchEvents": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default for projects in the team. When `true`, projects in this team will not emit GitHub repository-dispatch events on deployment events unless the project explicitly overrides this setting via `project.gitProviderOptions.disableRepositoryDispatchEvents`."
          }
        },
        "strictDeploymentProtectionSettings": {
          "target": "com.vercel.teams#TeamStrictDeploymentProtectionSettings",
          "traits": {
            "smithy.api#documentation": "When enabled, deployment protection settings require stricter permissions (owner-only)."
          }
        },
        "strictShareableLinks": {
          "target": "com.vercel.teams#TeamStrictShareableLinks",
          "traits": {
            "smithy.api#documentation": "When enabled, creating shareable links requires Owner role."
          }
        },
        "strictPasswordProtectionSettings": {
          "target": "com.vercel.teams#TeamStrictPasswordProtectionSettings",
          "traits": {
            "smithy.api#documentation": "When enabled, adding, changing, or removing project password protection requires Owner role."
          }
        },
        "nsnbConfig": {
          "target": "com.vercel.teams#TeamNsnbConfig",
          "traits": {
            "smithy.api#documentation": "NSNB configuration for the team."
          }
        },
        "deploymentPolicy": {
          "target": "com.vercel.teams#TeamDeploymentPolicy",
          "traits": {
            "smithy.api#documentation": "Composable deployment-time policy for the team. Used as the default for every project on the team, with optional per-project overrides on `project.deploymentPolicy`."
          }
        },
        "personalAccessTokensInvalidatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (ms) after which personal access tokens created at or before this time are considered invalid for this team."
          }
        },
        "appTokensInvalidatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (ms) after which Vercel App tokens created at or before this time are considered invalid for this team."
          }
        },
        "apiKeysInvalidatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (ms) after which API keys created at or before this time are considered invalid for this team."
          }
        },
        "integrationTokensInvalidatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (ms) after which integration tokens created at or before this time are considered invalid for this team."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Team's unique identifier.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Team's slug, which is unique across the Vercel platform.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name associated with the Team account, or `null` if none has been provided.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the file used as avatar for this Team.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "membership": {
          "target": "com.vercel.teams#TeamMembership",
          "traits": {
            "smithy.api#documentation": "The membership of the authenticated User in relation to the Team."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "UNIX timestamp (in milliseconds) when the Team was created.",
            "smithy.api#required": {}
          }
        },
        "parentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organizationId for teams that belong to an organization (set on both the organization's root team and its child teams)."
          }
        },
        "orgRootTeamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Best-effort ID of the organization’s root billing team. When present, compare `orgRootTeamId === id` to identify the root team. It may be omitted even when `parentId` is set if organization resolution fails or the referenced organization is missing. Always omitted for non-organization teams."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data representing a Team."
      }
    },
    "com.vercel.teams#TeamConnect": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#TeamSamlConnectionSyncState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SETUP"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls whether directory sync events are processed. - 'SETUP': Directory connected but role mappings not yet configured. Events are acknowledged but not processed. - 'ACTIVE': Fully configured. Events are processed normally. - undefined: Legacy directory (pre-feature), treat as 'ACTIVE' for backwards compatibility."
      }
    },
    "com.vercel.teams#TeamSamlConnection": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Identity Provider \"type\", for example Okta.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current state of the connection.",
            "smithy.api#required": {}
          }
        },
        "connectedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the configuration was connected.",
            "smithy.api#required": {}
          }
        },
        "lastReceivedWebhookEvent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the last webhook event was received from WorkOS."
          }
        },
        "lastSyncedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the last directory sync was performed."
          }
        },
        "syncState": {
          "target": "com.vercel.teams#TeamSamlConnectionSyncState",
          "traits": {
            "smithy.api#documentation": "Controls whether directory sync events are processed. - 'SETUP': Directory connected but role mappings not yet configured. Events are acknowledged but not processed. - 'ACTIVE': Fully configured. Events are processed normally. - undefined: Legacy directory (pre-feature), treat as 'ACTIVE' for backwards compatibility."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information for the SAML Single Sign-On configuration."
      }
    },
    "com.vercel.teams#TeamSamlDirectorySyncState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SETUP"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls whether directory sync events are processed. - 'SETUP': Directory connected but role mappings not yet configured. Events are acknowledged but not processed. - 'ACTIVE': Fully configured. Events are processed normally. - undefined: Legacy directory (pre-feature), treat as 'ACTIVE' for backwards compatibility."
      }
    },
    "com.vercel.teams#TeamSamlDirectory": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Identity Provider \"type\", for example Okta.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current state of the connection.",
            "smithy.api#required": {}
          }
        },
        "connectedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the configuration was connected.",
            "smithy.api#required": {}
          }
        },
        "lastReceivedWebhookEvent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the last webhook event was received from WorkOS."
          }
        },
        "lastSyncedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the last directory sync was performed."
          }
        },
        "syncState": {
          "target": "com.vercel.teams#TeamSamlDirectorySyncState",
          "traits": {
            "smithy.api#documentation": "Controls whether directory sync events are processed. - 'SETUP': Directory connected but role mappings not yet configured. Events are acknowledged but not processed. - 'ACTIVE': Fully configured. Events are processed normally. - undefined: Legacy directory (pre-feature), treat as 'ACTIVE' for backwards compatibility."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information for the Directory Sync configuration."
      }
    },
    "com.vercel.teams#TeamSamlDefaultRedirectUri": {
      "type": "enum",
      "members": {
        "V0_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0.app"
          }
        },
        "V0_DEV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0.dev"
          }
        },
        "VERCEL_COM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vercel.com"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default redirect URI to use after successful SAML authentication."
      }
    },
    "com.vercel.teams#TeamSamlRolesValueCase0": {
      "type": "structure",
      "members": {
        "accessGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When \"Directory Sync\" is configured, this object contains a mapping of which Directory Group (by ID) should be assigned to which Vercel Team \"role\"."
      }
    },
    "com.vercel.teams#TeamSamlRolesValueCase1": {
      "type": "enum",
      "members": {
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#TeamSamlRolesValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.teams#TeamSamlRolesValueCase0"
        },
        "Case1": {
          "target": "com.vercel.teams#TeamSamlRolesValueCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#TeamSamlRolesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.teams#TeamSamlRolesValue"
      },
      "traits": {
        "smithy.api#documentation": "When \"Directory Sync\" is configured, this object contains a mapping of which Directory Group (by ID) should be assigned to which Vercel Team \"role\"."
      }
    },
    "com.vercel.teams#TeamSaml": {
      "type": "structure",
      "members": {
        "connection": {
          "target": "com.vercel.teams#TeamSamlConnection",
          "traits": {
            "smithy.api#documentation": "Information for the SAML Single Sign-On configuration."
          }
        },
        "directory": {
          "target": "com.vercel.teams#TeamSamlDirectory",
          "traits": {
            "smithy.api#documentation": "Information for the Directory Sync configuration."
          }
        },
        "enforced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When `true`, interactions with the Team **must** be done with an authentication token that has been authenticated with the Team's SAML Single Sign-On provider.",
            "smithy.api#required": {}
          }
        },
        "defaultRedirectUri": {
          "target": "com.vercel.teams#TeamSamlDefaultRedirectUri",
          "traits": {
            "smithy.api#documentation": "The default redirect URI to use after successful SAML authentication."
          }
        },
        "roles": {
          "target": "com.vercel.teams#TeamSamlRolesMap",
          "traits": {
            "smithy.api#documentation": "When \"Directory Sync\" is configured, this object contains a mapping of which Directory Group (by ID) should be assigned to which Vercel Team \"role\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When \"Single Sign-On (SAML)\" is configured, this object contains information regarding the configuration of the Identity Provider (IdP)."
      }
    },
    "com.vercel.teams#TeamBillingPlan": {
      "type": "enum",
      "members": {
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "HOBBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hobby"
          }
        },
        "PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pro"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#TeamBilling": {
      "type": "structure",
      "members": {
        "plan": {
          "target": "com.vercel.teams#TeamBillingPlan",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The team's billing plan."
      }
    },
    "com.vercel.teams#TeamDefaultRolesTeamRolesItem": {
      "type": "enum",
      "members": {
        "BILLING": {
          "target": "smithy.api#Unit",
[...]
