{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.web_analytics#CreateSpeedInsightsToggleRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.web_analytics#CreateSpeedInsightsToggleResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.web_analytics#CreateSpeedInsightsToggle": {
      "type": "operation",
      "input": {
        "target": "com.vercel.web_analytics#CreateSpeedInsightsToggleRequest"
      },
      "output": {
        "target": "com.vercel.web_analytics#CreateSpeedInsightsToggleResponse"
      },
      "errors": [
        {
          "target": "com.vercel.web_analytics#BadRequest"
        },
        {
          "target": "com.vercel.web_analytics#PaymentRequired"
        },
        {
          "target": "com.vercel.web_analytics#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/speed-insights/toggle",
          "code": 200
        }
      }
    },
    "com.vercel.web_analytics#CreateWebInsightsToggleRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.web_analytics#CreateWebInsightsToggleResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.web_analytics#CreateWebInsightsToggle": {
      "type": "operation",
      "input": {
        "target": "com.vercel.web_analytics#CreateWebInsightsToggleRequest"
      },
      "output": {
        "target": "com.vercel.web_analytics#CreateWebInsightsToggleResponse"
      },
      "errors": [
        {
          "target": "com.vercel.web_analytics#BadRequest"
        },
        {
          "target": "com.vercel.web_analytics#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/web/insights/toggle",
          "code": 200
        }
      }
    },
    "com.vercel.web_analytics#AggregatePageviewsRequestByItemCase0": {
      "type": "enum",
      "members": {
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        },
        "DEVICETYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deviceType"
          }
        },
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "environment"
          }
        },
        "REQUESTPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requestPath"
          }
        },
        "REFERRERHOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referrerHostname"
          }
        },
        "OSNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "osName"
          }
        },
        "BROWSERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browserName"
          }
        },
        "ROUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "route"
          }
        },
        "UTMSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmSource"
          }
        },
        "UTMMEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmMedium"
          }
        },
        "UTMCAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmCampaign"
          }
        },
        "UTMCONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmContent"
          }
        },
        "UTMTERM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmTerm"
          }
        },
        "FLAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsRequestByItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.web_analytics#AggregatePageviewsRequestByItemCase0"
        },
        "Case1": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsRequestByList": {
      "type": "list",
      "member": {
        "target": "com.vercel.web_analytics#AggregatePageviewsRequestByItem"
      },
      "traits": {
        "smithy.api#documentation": "Up to two dimensions used to break down results.\n\nAt most one time granularity is allowed: hour, day, week, month, year.\n\nOther dimensions: country, deviceType, environment, requestPath, referrerHostname, osName, browserName, route, utmSource, utmMedium, utmCampaign, utmContent, utmTerm.\n\nJSON dimensions: flags. Used bare, it breaks down results by key, for example flags returns one group per flag name. With a key, it breaks down results by that key's value, for example flags/beta_banner. Wrap keys containing characters other than letters, digits, and underscores in single quotes, for example flags/'my-flag'."
      }
    },
    "com.vercel.web_analytics#AggregatePageviewsRequestSince": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data from (including) this date and time.\nWill be adjusted according to the desired time granularity."
      }
    },
    "com.vercel.web_analytics#AggregatePageviewsRequestUntil": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data until (including) this date.\nWill be adjusted according to the desired time granularity."
      }
    },
    "com.vercel.web_analytics#AggregatePageviewsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {},
            "smithy.api#documentation": "The project identifier or the project name"
          }
        },
        "by": {
          "target": "com.vercel.web_analytics#AggregatePageviewsRequestByList",
          "traits": {
            "smithy.api#httpQuery": "by",
            "smithy.api#required": {},
            "smithy.api#documentation": "Up to two dimensions used to break down results.\n\nAt most one time granularity is allowed: hour, day, week, month, year.\n\nOther dimensions: country, deviceType, environment, requestPath, referrerHostname, osName, browserName, route, utmSource, utmMedium, utmCampaign, utmContent, utmTerm.\n\nJSON dimensions: flags. Used bare, it breaks down results by key, for example flags returns one group per flag name. With a key, it breaks down results by that key's value, for example flags/beta_banner. Wrap keys containing characters other than letters, digits, and underscores in single quotes, for example flags/'my-flag'."
          }
        },
        "since": {
          "target": "com.vercel.web_analytics#AggregatePageviewsRequestSince",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#required": {},
            "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data from (including) this date and time.\nWill be adjusted according to the desired time granularity."
          }
        },
        "until": {
          "target": "com.vercel.web_analytics#AggregatePageviewsRequestUntil",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#required": {},
            "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data until (including) this date.\nWill be adjusted according to the desired time granularity."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of distinct results, default to 10. Other results are grouped into \"Others\" group."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "OData-compliant filter. Encode the value when sending it in a URL.\n\nAllows filtering on one or multiple dimensions. By default, filters for production environment only.\n\nSupported dimensions: country, deviceType, environment, requestPath, referrerHostname, osName, browserName, route, utmSource, utmMedium, utmCampaign, utmContent, utmTerm.\n\nJSON dimensions filtered by key: flags/<name>, for example flags/beta_banner eq 'true'. Wrap keys containing characters other than letters, digits, and underscores in single quotes, for example flags/'my-flag' eq 'true'.\n\nSupported operations include eq, ne, in, and logical operators and, or, not with parentheses. Functions such as startswith are supported by the OData parser."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseQueryGroupByItemCase1": {
      "type": "enum",
      "members": {
        "BROWSERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browserName"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        },
        "DEVICETYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deviceType"
          }
        },
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "environment"
          }
        },
        "FLAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags"
          }
        },
        "OSNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "osName"
          }
        },
        "REFERRERHOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referrerHostname"
          }
        },
        "REQUESTPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requestPath"
          }
        },
        "ROUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "route"
          }
        },
        "UTMCAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmCampaign"
          }
        },
        "UTMCONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmContent"
          }
        },
        "UTMMEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmMedium"
          }
        },
        "UTMSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmSource"
          }
        },
        "UTMTERM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmTerm"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseQueryGroupByItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.web_analytics#AggregatePageviewsResponseQueryGroupByItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseQueryGroupByList": {
      "type": "list",
      "member": {
        "target": "com.vercel.web_analytics#AggregatePageviewsResponseQueryGroupByItem"
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseQuery": {
      "type": "structure",
      "members": {
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "groupBy": {
          "target": "com.vercel.web_analytics#AggregatePageviewsResponseQueryGroupByList"
        },
        "filter": {
          "target": "smithy.api#String"
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseDataCase0Item": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String"
        },
        "country": {
          "target": "smithy.api#String"
        },
        "deviceType": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "requestPath": {
          "target": "smithy.api#String"
        },
        "referrerHostname": {
          "target": "smithy.api#String"
        },
        "osName": {
          "target": "smithy.api#String"
        },
        "browserName": {
          "target": "smithy.api#String"
        },
        "route": {
          "target": "smithy.api#String"
        },
        "utmSource": {
          "target": "smithy.api#String"
        },
        "utmMedium": {
          "target": "smithy.api#String"
        },
        "utmCampaign": {
          "target": "smithy.api#String"
        },
        "utmContent": {
          "target": "smithy.api#String"
        },
        "utmTerm": {
          "target": "smithy.api#String"
        },
        "flags": {
          "target": "smithy.api#String"
        },
        "errorMessage": {
          "target": "smithy.api#String"
        },
        "entryRevalidateSeconds": {
          "target": "smithy.api#String"
        },
        "projectName": {
          "target": "smithy.api#String"
        },
        "deploymentId": {
          "target": "smithy.api#String"
        },
        "pathType": {
          "target": "smithy.api#String"
        },
        "pathTypeVariant": {
          "target": "smithy.api#String"
        },
        "requestHostname": {
          "target": "smithy.api#String"
        },
        "requestResolvedIp": {
          "target": "smithy.api#String"
        },
        "requestMethod": {
          "target": "smithy.api#String"
        },
        "requestExtension": {
          "target": "smithy.api#String"
        },
        "requestId": {
          "target": "smithy.api#String"
        },
        "requestApi": {
          "target": "smithy.api#String"
        },
        "referrerUrl": {
          "target": "smithy.api#String"
        },
        "serverActionName": {
          "target": "smithy.api#String"
        },
        "httpStatus": {
          "target": "smithy.api#String"
        },
        "errorCode": {
          "target": "smithy.api#String"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "edgeType": {
          "target": "smithy.api#String"
        },
        "reason": {
          "target": "smithy.api#String"
        },
        "edgeNetworkRegion": {
          "target": "smithy.api#String"
        },
        "functionRegion": {
          "target": "smithy.api#String"
        },
        "imageTransformationRegion": {
          "target": "smithy.api#String"
        },
        "dataCacheRegion": {
          "target": "smithy.api#String"
        },
        "cause": {
          "target": "smithy.api#String"
        },
        "runtime": {
          "target": "smithy.api#String"
        },
        "provider": {
          "target": "smithy.api#String"
        },
        "isrCacheRegion": {
          "target": "smithy.api#String"
        },
        "isrAction": {
          "target": "smithy.api#String"
        },
        "cacheResult": {
          "target": "smithy.api#String"
        },
        "cacheOperation": {
          "target": "smithy.api#String"
        },
        "cacheHostname": {
          "target": "smithy.api#String"
        },
        "cachePath": {
          "target": "smithy.api#String"
        },
        "cacheHitState": {
          "target": "smithy.api#String"
        },
        "cacheHitLevel": {
          "target": "smithy.api#String"
        },
        "cacheApi": {
          "target": "smithy.api#String"
        },
        "cacheReason": {
          "target": "smithy.api#String"
        },
        "clientIp": {
          "target": "smithy.api#String"
        },
        "clientIpCountry": {
          "target": "smithy.api#String"
        },
        "clientUserAgent": {
          "target": "smithy.api#String"
        },
        "httpAccept": {
          "target": "smithy.api#String"
        },
        "clientJa4Digest": {
          "target": "smithy.api#String"
        },
        "asnId": {
          "target": "smithy.api#String"
        },
        "asnName": {
          "target": "smithy.api#String"
        },
        "botName": {
          "target": "smithy.api#String"
        },
        "botCategory": {
          "target": "smithy.api#String"
        },
        "botCategoryLegacy": {
          "target": "smithy.api#String"
        },
        "botVerified": {
          "target": "smithy.api#String"
        },
        "botCheckResult": {
          "target": "smithy.api#String"
        },
        "deepAnalysisCheck": {
          "target": "smithy.api#String"
        },
        "wafAction": {
          "target": "smithy.api#String"
        },
        "wafRuleId": {
          "target": "smithy.api#String"
        },
        "skewProtection": {
          "target": "smithy.api#String"
        },
        "functionStartType": {
          "target": "smithy.api#String"
        },
        "functionDispatcher": {
          "target": "smithy.api#String"
        },
        "isAdditionalRequest": {
          "target": "smithy.api#String"
        },
        "originHostname": {
          "target": "smithy.api#String"
        },
        "originPath": {
          "target": "smithy.api#String"
        },
        "originRoute": {
          "target": "smithy.api#String"
        },
        "fetchType": {
          "target": "smithy.api#String"
        },
        "fetchIndex": {
          "target": "smithy.api#String"
        },
        "imageSource": {
          "target": "smithy.api#String"
        },
        "sourceImage": {
          "target": "smithy.api#String"
        },
        "sourceImagePathname": {
          "target": "smithy.api#String"
        },
        "sourceImageHostname": {
          "target": "smithy.api#String"
        },
        "sourceImageHash": {
          "target": "smithy.api#String"
        },
        "optimizedQuality": {
          "target": "smithy.api#String"
        },
        "optimizedWidthPixels": {
          "target": "smithy.api#String"
        },
        "optimizedFormatMimeType": {
          "target": "smithy.api#String"
        },
        "vdcOperationOrigin": {
          "target": "smithy.api#String"
        },
        "entryName": {
          "target": "smithy.api#String"
        },
        "entryId": {
          "target": "smithy.api#String"
        },
        "entryItemId": {
          "target": "smithy.api#String"
        },
        "tagName": {
          "target": "smithy.api#String"
        },
        "cacheTags": {
          "target": "smithy.api#String"
        },
        "storeId": {
          "target": "smithy.api#String"
        },
        "storeName": {
          "target": "smithy.api#String"
        },
        "blobOperationType": {
          "target": "smithy.api#String"
        },
        "blobOperationLevel": {
          "target": "smithy.api#String"
        },
        "visitorId": {
          "target": "smithy.api#String"
        },
        "eventName": {
          "target": "smithy.api#String"
        },
        "attributionTarget": {
          "target": "smithy.api#String"
        },
        "attributionEventName": {
          "target": "smithy.api#String"
        },
        "metricName": {
          "target": "smithy.api#String"
        },
        "attributes": {
          "target": "smithy.api#String"
        },
        "flagKey": {
          "target": "smithy.api#String"
        },
        "flagVariant": {
          "target": "smithy.api#String"
        },
        "flagEvaluationReason": {
          "target": "smithy.api#String"
        },
        "flagClientName": {
          "target": "smithy.api#String"
        },
        "sdkKeyId": {
          "target": "smithy.api#String"
        },
        "sdkKeyEnvironment": {
          "target": "smithy.api#String"
        },
        "reportingProjectId": {
          "target": "smithy.api#String"
        },
        "reportingProjectName": {
          "target": "smithy.api#String"
        },
        "eventData": {
          "target": "smithy.api#String"
        },
        "middlewareAction": {
          "target": "smithy.api#String"
        },
        "middlewareActionTarget": {
          "target": "smithy.api#String"
        },
        "aiModel": {
          "target": "smithy.api#String"
        },
        "aiGatewayModelId": {
          "target": "smithy.api#String"
        },
        "aiProvider": {
          "target": "smithy.api#String"
        },
        "aiModelType": {
          "target": "smithy.api#String"
        },
        "servedSpeed": {
          "target": "smithy.api#String"
        },
        "virtualModelSlug": {
          "target": "smithy.api#String"
        },
        "virtualModelKind": {
          "target": "smithy.api#String"
        },
        "inferenceEndpointSlug": {
          "target": "smithy.api#String"
        },
        "inferenceScope": {
          "target": "smithy.api#String"
        },
        "inferenceGeoRegion": {
          "target": "smithy.api#String"
        },
        "inferenceProviderRegion": {
          "target": "smithy.api#String"
        },
        "requestedInferenceRegion": {
          "target": "smithy.api#String"
        },
        "costCurrency": {
          "target": "smithy.api#String"
        },
        "marketCostCurrency": {
          "target": "smithy.api#String"
        },
        "cachedInputTokensCurrency": {
          "target": "smithy.api#String"
        },
        "cacheCreationInputTokensCurrency": {
          "target": "smithy.api#String"
        },
        "cacheCreation1hInputTokensCurrency": {
          "target": "smithy.api#String"
        },
        "surchargeCostCurrency": {
          "target": "smithy.api#String"
        },
        "gatewayCostCurrency": {
          "target": "smithy.api#String"
        },
        "keyId": {
          "target": "smithy.api#String"
        },
        "keyName": {
          "target": "smithy.api#String"
        },
        "authMethod": {
          "target": "smithy.api#String"
        },
        "appName": {
          "target": "smithy.api#String"
        },
        "codingAgent": {
          "target": "smithy.api#String"
        },
        "isByok": {
          "target": "smithy.api#String"
        },
        "isPrivateModel": {
          "target": "smithy.api#String"
        },
        "isRequestZdr": {
          "target": "smithy.api#String"
        },
        "hipaaRequested": {
          "target": "smithy.api#String"
        },
        "quotaRequested": {
          "target": "smithy.api#String"
        },
        "quotaEntityId": {
          "target": "smithy.api#String"
        },
        "quotaEntityType": {
          "target": "smithy.api#String"
        },
        "videoResolution": {
          "target": "smithy.api#String"
        },
        "videoAspectRatio": {
          "target": "smithy.api#String"
        },
        "piiRedactionApplied": {
          "target": "smithy.api#String"
        },
        "moderationApplied": {
          "target": "smithy.api#String"
        },
        "queueName": {
          "target": "smithy.api#String"
        },
        "consumerGroup": {
          "target": "smithy.api#String"
        },
        "messageId": {
          "target": "smithy.api#String"
        },
        "eventType": {
          "target": "smithy.api#String"
        },
        "notificationUrl": {
          "target": "smithy.api#String"
        },
        "sandboxSessionId": {
          "target": "smithy.api#String"
        },
        "sandboxName": {
          "target": "smithy.api#String"
        },
        "workflowRunId": {
          "target": "smithy.api#String"
        },
        "workflowName": {
          "target": "smithy.api#String"
        },
        "workflowStatus": {
          "target": "smithy.api#String"
        },
        "stepRunId": {
          "target": "smithy.api#String"
        },
        "workflowStepName": {
          "target": "smithy.api#String"
        },
        "workflowEventType": {
          "target": "smithy.api#String"
        },
        "region": {
          "target": "smithy.api#String"
        },
        "specVersion": {
          "target": "smithy.api#String"
        },
        "contentType": {
          "target": "smithy.api#String"
        },
        "rewriteDestinationHostname": {
          "target": "smithy.api#String"
        },
        "externalRewriteTargetHost": {
          "target": "smithy.api#String"
        },
        "externalRewriteTargetPath": {
          "target": "smithy.api#String"
        },
        "commitSha": {
          "target": "smithy.api#String"
        },
        "reviewConclusion": {
          "target": "smithy.api#String"
        },
        "pullRequestNumber": {
          "target": "smithy.api#String"
        },
        "repositoryName": {
          "target": "smithy.api#String"
        },
        "repositoryOwner": {
          "target": "smithy.api#String"
        },
        "reviewStatus": {
          "target": "smithy.api#String"
        },
        "pullRequestState": {
          "target": "smithy.api#String"
        },
        "triggeringTag": {
          "target": "smithy.api#String"
        },
        "redirectLocation": {
          "target": "smithy.api#String"
        },
        "microfrontendsResponseReason": {
          "target": "smithy.api#String"
        },
        "microfrontendsMatchedPath": {
          "target": "smithy.api#String"
        },
        "microfrontendsDefaultAppDeploymentId": {
          "target": "smithy.api#String"
        },
        "microfrontendsDefaultAppProjectId": {
          "target": "smithy.api#String"
        },
        "service": {
          "target": "smithy.api#String"
        },
        "isPrefetchRequest": {
          "target": "smithy.api#String"
        },
        "spendReportGroupBy": {
          "target": "smithy.api#String"
        },
        "spendReportDatePart": {
          "target": "smithy.api#String"
        },
        "providerAttemptCanonicalSlug": {
          "target": "smithy.api#String"
        },
        "providerAttemptCredentialType": {
          "target": "smithy.api#String"
        },
        "providerAttemptSuccess": {
          "target": "smithy.api#String"
        },
        "providerAttemptStatusCode": {
          "target": "smithy.api#String"
        },
        "providerAttemptTimeout": {
          "target": "smithy.api#String"
        },
        "providerAttemptIsFinal": {
          "target": "smithy.api#String"
        },
        "providerAttemptNumber": {
          "target": "smithy.api#String"
        },
        "providerAttemptTotalInRequest": {
          "target": "smithy.api#String"
        },
        "generationId": {
          "target": "smithy.api#String"
        },
        "sessionId": {
          "target": "smithy.api#String"
        },
        "contentCaptureStatus": {
          "target": "smithy.api#String"
        },
        "contentCaptureInputs": {
          "target": "smithy.api#String"
        },
        "contentCaptureOutputs": {
          "target": "smithy.api#String"
        },
        "transcriptStatus": {
          "target": "smithy.api#String"
        },
        "transcriptInputs": {
          "target": "smithy.api#String"
        },
        "transcriptOutputs": {
          "target": "smithy.api#String"
        },
        "providerAttemptError": {
          "target": "smithy.api#String"
        },
        "providerAttemptSafetyIdentifier": {
          "target": "smithy.api#String"
        },
        "providerAttemptDevSafetyIdentifier": {
          "target": "smithy.api#String"
        },
        "providerAttemptRegion": {
          "target": "smithy.api#String"
        },
        "providerAttemptModelIndex": {
          "target": "smithy.api#String"
        },
        "toolCallType": {
          "target": "smithy.api#String"
        },
        "toolCallProvider": {
          "target": "smithy.api#String"
        },
        "toolCallSuccess": {
          "target": "smithy.api#String"
        },
        "toolCallErrorType": {
          "target": "smithy.api#String"
        },
        "toolCallStatusCode": {
          "target": "smithy.api#String"
        },
        "environmentId": {
          "target": "smithy.api#String"
        },
        "billableRegion": {
          "target": "smithy.api#String"
        },
        "direction": {
          "target": "smithy.api#String"
        },
        "networkTenancy": {
          "target": "smithy.api#String"
        },
        "trafficSource": {
          "target": "smithy.api#String"
        },
        "networkId": {
          "target": "smithy.api#String"
        },
        "privatelinkEndpointId": {
          "target": "smithy.api#String"
        },
        "privatelinkDnsName": {
          "target": "smithy.api#String"
        },
        "privatelinkIpAddress": {
          "target": "smithy.api#String"
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseDataCase0List": {
      "type": "list",
      "member": {
        "target": "com.vercel.web_analytics#AggregatePageviewsResponseDataCase0Item"
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseDataCase1Item": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deviceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "referrerHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "osName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "browserName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "route": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmMedium": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmCampaign": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utmTerm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "entryRevalidateSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pathType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pathTypeVariant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestResolvedIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestExtension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestApi": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "referrerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serverActionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "httpStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "errorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "edgeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "edgeNetworkRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "functionRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "imageTransformationRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dataCacheRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isrCacheRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isrAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cacheResult": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cacheOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cacheHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cachePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cacheHitState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cacheHitLevel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cacheApi": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cacheReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientIpCountry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientUserAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "httpAccept": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientJa4Digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "asnId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "asnName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "botName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "botCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "botCategoryLegacy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "botVerified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "botCheckResult": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deepAnalysisCheck": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "wafAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "wafRuleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "skewProtection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "functionStartType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "functionDispatcher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isAdditionalRequest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "originHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "originPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "originRoute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fetchType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fetchIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "imageSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sourceImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sourceImagePathname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sourceImageHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sourceImageHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "optimizedQuality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "optimizedWidthPixels": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "optimizedFormatMimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "vdcOperationOrigin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "entryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "entryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "entryItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tagName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cacheTags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blobOperationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blobOperationLevel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "visitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "eventName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attributionTarget": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attributionEventName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flagKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flagVariant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flagEvaluationReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flagClientName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sdkKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sdkKeyEnvironment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reportingProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reportingProjectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "eventData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "middlewareAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "middlewareActionTarget": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aiModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aiGatewayModelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aiProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aiModelType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "servedSpeed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "virtualModelSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "virtualModelKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "inferenceEndpointSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "inferenceScope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "inferenceGeoRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "inferenceProviderRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestedInferenceRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "costCurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "marketCostCurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cachedInputTokensCurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cacheCreationInputTokensCurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cacheCreation1hInputTokensCurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "surchargeCostCurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gatewayCostCurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "appName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "codingAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isByok": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPrivateModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isRequestZdr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hipaaRequested": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "quotaRequested": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "quotaEntityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "quotaEntityType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "videoResolution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "videoAspectRatio": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "piiRedactionApplied": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "moderationApplied": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "queueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "consumerGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "messageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "eventType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notificationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sandboxSessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sandboxName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workflowRunId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workflowName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workflowStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stepRunId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workflowStepName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workflowEventType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "specVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rewriteDestinationHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "externalRewriteTargetHost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "externalRewriteTargetPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commitSha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reviewConclusion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pullRequestNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repositoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repositoryOwner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reviewStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pullRequestState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "triggeringTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "redirectLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "microfrontendsResponseReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "microfrontendsMatchedPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "microfrontendsDefaultAppDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "microfrontendsDefaultAppProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPrefetchRequest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spendReportGroupBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spendReportDatePart": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerAttemptCanonicalSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerAttemptCredentialType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerAttemptSuccess": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerAttemptStatusCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerAttemptTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerAttemptIsFinal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerAttemptNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerAttemptTotalInRequest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "generationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contentCaptureStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contentCaptureInputs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contentCaptureOutputs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transcriptStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transcriptInputs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transcriptOutputs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerAttemptError": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerAttemptSafetyIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerAttemptDevSafetyIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerAttemptRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerAttemptModelIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "toolCallType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "toolCallProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "toolCallSuccess": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "toolCallErrorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "toolCallStatusCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "billableRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "networkTenancy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trafficSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "networkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "privatelinkEndpointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "privatelinkDnsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "privatelinkIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseDataCase1List": {
      "type": "list",
      "member": {
        "target": "com.vercel.web_analytics#AggregatePageviewsResponseDataCase1Item"
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponseData": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.web_analytics#AggregatePageviewsResponseDataCase0List"
        },
        "Case1": {
          "target": "com.vercel.web_analytics#AggregatePageviewsResponseDataCase1List"
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregatePageviewsResponse": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "com.vercel.web_analytics#AggregatePageviewsResponseQuery",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.vercel.web_analytics#AggregatePageviewsResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.web_analytics#AggregatePageviews": {
      "type": "operation",
      "input": {
        "target": "com.vercel.web_analytics#AggregatePageviewsRequest"
      },
      "output": {
        "target": "com.vercel.web_analytics#AggregatePageviewsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.web_analytics#BadRequest"
        },
        {
          "target": "com.vercel.web_analytics#PaymentRequired"
        },
        {
          "target": "com.vercel.web_analytics#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/query/web-analytics/visits/aggregate",
          "code": 200
        },
        "smithy.api#documentation": "Aggregates page views\n\nCounts pageviews on a project, within the requested date range. Results are either aggregated or broken down over time. Results can additionally be broken down by one dimension, and filtered by multiple dimensions."
      }
    },
    "com.vercel.web_analytics#AggregateEventsRequestByItemCase0": {
      "type": "enum",
      "members": {
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        },
        "DEVICETYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deviceType"
          }
        },
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "environment"
          }
        },
        "REQUESTPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requestPath"
          }
        },
        "REFERRERHOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referrerHostname"
          }
        },
        "OSNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "osName"
          }
        },
        "BROWSERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browserName"
          }
        },
        "ROUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "route"
          }
        },
        "UTMSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmSource"
          }
        },
        "UTMMEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmMedium"
          }
        },
        "UTMCAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmCampaign"
          }
        },
        "UTMCONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmContent"
          }
        },
        "UTMTERM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmTerm"
          }
        },
        "EVENTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventName"
          }
        },
        "FLAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags"
          }
        },
        "EVENTDATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventData"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsRequestByItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.web_analytics#AggregateEventsRequestByItemCase0"
        },
        "Case1": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsRequestByList": {
      "type": "list",
      "member": {
        "target": "com.vercel.web_analytics#AggregateEventsRequestByItem"
      },
      "traits": {
        "smithy.api#documentation": "Up to two dimensions used to break down results.\n\nAt most one time granularity is allowed: hour, day, week, month, year.\n\nOther dimensions: country, deviceType, environment, requestPath, referrerHostname, osName, browserName, route, utmSource, utmMedium, utmCampaign, utmContent, utmTerm, eventName.\n\nJSON dimensions: flags, eventData. Used bare, they break down results by key, for example flags returns one group per flag name. With a key, they break down results by that key's value, for example eventData/plan. Wrap keys containing characters other than letters, digits, and underscores in single quotes, for example flags/'my-flag'."
      }
    },
    "com.vercel.web_analytics#AggregateEventsRequestSince": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data from (including) this date and time.\nWill be adjusted according to the desired time granularity."
      }
    },
    "com.vercel.web_analytics#AggregateEventsRequestUntil": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data until (including) this date.\nWill be adjusted according to the desired time granularity."
      }
    },
    "com.vercel.web_analytics#AggregateEventsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {},
            "smithy.api#documentation": "The project identifier or the project name"
          }
        },
        "by": {
          "target": "com.vercel.web_analytics#AggregateEventsRequestByList",
          "traits": {
            "smithy.api#httpQuery": "by",
            "smithy.api#required": {},
            "smithy.api#documentation": "Up to two dimensions used to break down results.\n\nAt most one time granularity is allowed: hour, day, week, month, year.\n\nOther dimensions: country, deviceType, environment, requestPath, referrerHostname, osName, browserName, route, utmSource, utmMedium, utmCampaign, utmContent, utmTerm, eventName.\n\nJSON dimensions: flags, eventData. Used bare, they break down results by key, for example flags returns one group per flag name. With a key, they break down results by that key's value, for example eventData/plan. Wrap keys containing characters other than letters, digits, and underscores in single quotes, for example flags/'my-flag'."
          }
        },
        "since": {
          "target": "com.vercel.web_analytics#AggregateEventsRequestSince",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#required": {},
            "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data from (including) this date and time.\nWill be adjusted according to the desired time granularity."
          }
        },
        "until": {
          "target": "com.vercel.web_analytics#AggregateEventsRequestUntil",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#required": {},
            "smithy.api#documentation": "Timestamp in milliseconds, or a valid Date string.\n\nSelects data until (including) this date.\nWill be adjusted according to the desired time granularity."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of distinct results, default to 10. Other results are grouped into \"Others\" group."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "OData-compliant filter. Encode the value when sending it in a URL.\n\nAllows filtering on one or multiple dimensions. By default, filters for production environment only.\n\nSupported dimensions: country, deviceType, environment, requestPath, referrerHostname, osName, browserName, route, utmSource, utmMedium, utmCampaign, utmContent, utmTerm, eventName.\n\nJSON dimensions filtered by key: flags/<name>, eventData/<property>, for example eventData/plan eq 'pro'. Wrap keys containing characters other than letters, digits, and underscores in single quotes, for example flags/'my-flag' eq 'true'.\n\nSupported operations include eq, ne, in, and logical operators and, or, not with parentheses. Functions such as startswith are supported by the OData parser."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.web_analytics#AggregateEventsResponseQueryGroupByItemCase1": {
      "type": "enum",
      "members": {
        "BROWSERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browserName"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        },
        "DEVICETYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deviceType"
          }
        },
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "environment"
          }
        },
        "EVENTDATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventData"
          }
        },
        "EVENTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventName"
          }
        },
        "FLAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags"
          }
        },
        "OSNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "osName"
          }
        },
        "REFERRERHOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referrerHostname"
          }
        },
        "REQUESTPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requestPath"
          }
        },
        "ROUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "route"
          }
        },
        "UTMCAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmCampaign"
          }
        },
        "UTMCONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmContent"
          }
        },
        "UTMMEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmMedium"
          }
        },
        "UTMSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmSource"
          }
        },
        "UTMTERM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utmTerm"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsResponseQueryGroupByItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.web_analytics#AggregateEventsResponseQueryGroupByItemCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsResponseQueryGroupByList": {
      "type": "list",
      "member": {
        "target": "com.vercel.web_analytics#AggregateEventsResponseQueryGroupByItem"
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsResponseQuery": {
      "type": "structure",
      "members": {
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "groupBy": {
          "target": "com.vercel.web_analytics#AggregateEventsResponseQueryGroupByList"
        },
        "filter": {
          "target": "smithy.api#String"
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.web_analytics#AggregateEventsResponseDataCase0Item": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String"
        },
        "country": {
          "target": "smithy.api#String"
        },
        "deviceType": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "requestPath": {
          "target": "smithy.api#String"
        },
        "referrerHostname": {
          "target": "smithy.api#String"
        },
        "osName": {
          "target": "smithy.api#String"
        },
        "browserName": {
          "target": "smithy.api#String"
        },
        "route": {
          "target": "smithy.api#String"
        },
        "utmSource": {
          "target": "smithy.api#String"
        },
        "utmMedium": {
          "target": "smithy.api#String"
        },
        "utmCampaign": {
          "target": "smithy.api#String"
        },
        "utmContent": {
          "target": "smithy.api#String"
        },
        "utmTerm": {
          "target": "smithy.api#String"
        },
        "flags": {
          "target": "smithy.api#String"
        },
        "errorMessage": {
          "target": "smithy.api#String"
        },
        "entryRevalidateSeconds": {
          "target": "smithy.api#String"
        },
        "projectName": {
          "target": "smithy.api#String"
        },
        "deploymentId": {
          "target": "smithy.api#String"
        },
        "pathType": {
          "target": "smithy.api#String"
        },
        "pathTypeVariant": {
          "target": "smithy.api#String"
        },
        "requestHostname": {
          "target": "smithy.api#String"
        },
        "requestResolvedIp": {
          "target": "smithy.api#String"
        },
        "requestMethod": {
          "target": "smithy.api#String"
        },
        "requestExtension": {
          "target": "smithy.api#String"
        },
        "requestId": {
          "target": "smithy.api#String"
        },
        "requestApi": {
          "target": "smithy.api#String"
        },
        "referrerUrl": {
          "target": "smithy.api#String"
        },
        "serverActionName": {
          "target": "smithy.api#String"
        },
        "httpStatus": {
          "target": "smithy.api#String"
        },
        "errorCode": {
          "target": "smithy.api#String"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "edgeType": {
          "target": "smithy.api#String"
        },
        "reason": {
          "target": "smithy.api#String"
        },
        "edgeNetworkRegion": {
          "target": "smithy.api#String"
        },
        "functionRegion": {
          "target": "smithy.api#String"
        },
        "imageTransformationRegion": {
          "target": "smithy.api#String"
        },
        "dataCacheRegion": {
          "target": "smithy.api#String"
        },
        "cause": {
          "target": "smithy.api#String"
        },
        "runtime": {
          "target": "smithy.api#String"
        },
        "provider": {
          "target": "smithy.api#String"
        },
        "isrCacheRegion": {
          "target": "smithy.api#String"
        },
        "isrAction": {
          "target": "smithy.api#String"
        },
        "cacheResult": {
          "target": "smithy.api#String"
        },
        "cacheOperation": {
          "target": "smithy.api#String"
        },
        "cacheHostname": {
          "target": "smithy.api#String"
        },
        "cachePath": {
          "target": "smithy.api#String"
        },
        "cacheHitState": {
          "target": "smithy.api#String"
        },
        "cacheHitLevel": {
          "target": "smithy.api#String"
        },
        "cacheApi": {
          "target": "smithy.api#String"
        },
        "cacheReason": {
          "target": "smithy.api#String"
        },
        "clientIp": {
          "target": "smithy.api#String"
        },
        "clientIpCountry": {
          "target": "smithy.api#String"
        },
        "clientUserAgent": {
          "target": "smithy.api#String"
        },
        "httpAccept": {
          "target": "smithy.api#String"
        },
        "clientJa4Digest": {
          "target": "smithy.api#String"
        },
        "asnId": {
          "target": "smithy.api#String"
        },
        "asnName": {
          "target": "smithy.api#String"
        },
        "botName": {
          "target": "smithy.api#String"
        },
        "botCategory": {
          "target": "smithy.api#String"
        },
        "botCategoryLegacy": {
          "target": "smithy.api#String"
        },
        "botVerified": {
          "target": "smithy.api#String"
        },
        "botCheckResult": {
          "target": "smithy.api#String"
        },
        "deepAnalysisCheck": {
          "target": "smithy.api#String"
        },
        "wafAction": {
          "target": "smithy.api#String"
        },
        "wafRuleId": {
          "target": "smithy.api#String"
        },
        "skewProtection": {
          "target": "smithy.api#String"
        },
        "functionStartType": {
          "target": "smithy.api#String"
        },
        "functionDispatcher": {
          "target": "smithy.api#String"
        },
        "isAdditionalRequest": {
          "target": "smithy.api#String"
        },
        "originHostname": {
          "target": "smithy.api#String"
        },
        "originPath": {
          "target": "smithy.api#String"
        },
        "originRoute": {
          "target": "smithy.api#String"
        },
        "fetchType": {
          "target": "smithy.api#String"
        },
        "fetchIndex": {
          "target": "smithy.api#String"
        },
        "imageSource": {
          "target": "smithy.api#String"
        },
        "sourceImage": {
          "target": "smithy.api#String"
        },
        "sourceImagePathname": {
          "target": "smithy.api#String"
        },
        "sourceImageHostname": {
          "target": "smithy.api#String"
        },
        "sourceImageHash": {
          "target": "smithy.api#String"
        },
        "optimizedQuality": {
          "target": "smithy.api#String"
        },
        "optimizedWidthPixels": {
          "target": "smithy.api#String"
        },
        "optimizedFormatMimeType": {
          "target": "smithy.api#String"
        },
        "vdcOperationOrigin": {
          "target": "smithy.api#String"
        },
        "entryName": {
          "target": "smithy.api#String"
        },
        "entryId": {
          "target": "smithy.api#String"
        },
        "entryItemId": {
          "target": "smithy.api#String"
        },
        "tagName": {
          "target": "smithy.api#String"
        },
        "cacheTags": {
          "target": "smithy.api#String"
        },
        "storeId": {
          "target": "smithy.api#String"
        },
        "storeName": {
          "target": "smithy.api#String"
        },
        "blobOperationType": {
          "target": "smithy.api#String"
        },
        "blobOperationLevel": {
          "target": "smithy.api#String"
        },
        "visitorId": {
          "target": "smithy.api#String"
        },
        "eventName": {
          "target": "smithy.api#String"
        },
        "attributionTarget": {
          "target": "smithy.api#String"
        },
        "attributionEventName": {
          "target": "smithy.api#String"
        },
        "metricName": {
          "target": "smithy.api#String"
        },
        "attributes": {
          "target": "smithy.api#String"
        },
        "flagKey": {
          "target": "smithy.api#String"
        },
        "flagVariant": {
          "target": "smithy.api#String"
        },
        "flagEvaluationReason": {
          "target": "smithy.api#String"
        },
        "flagClientName": {
          "target": "smithy.api#String"
        },
        "sdkKeyId": {
          "target": "smithy.api#String"
        },
        "sdkKeyEnvironment": {
          "target": "smithy.api#String"
        },
        "reportingProjectId": {
          "target": "smithy.api#String"
        },
        "reportingProjectName": {
          "target": "smithy.api#String"
        },
        "eventData": {
          "target": "smithy.api#String"
        },
        "middlewareAction": {
          "target": "smithy.api#String"
        },
        "middlewareActionTarget": {
          "target": "smithy.api#String"
        },
        "aiModel": {
          "target": "smithy.api#String"
        },
        "aiGatewayModelId": {
          "target": "smithy.api#String"
        },
        "aiProvider": {
          "target": "smithy.api#String"
        },
        "aiModelType": {
          "target": "smithy.api#String"
        },
        "servedSpeed": {
          "target": "smithy.api#String"
        },
        "virtualModelSlug": {
          "target": "smithy.api#String"
        },
        "virtualModelKind": {
          "target": "smithy.api#String"
        },
        "inferenceEndpointSlug": {
          "target": "smithy.api#String"
        },
        "inferenceScope": {
          "target": "smithy.api#String"
        },
        "inferenceGeoRegion": {
          "target": "smithy.api#String"
        },
        "inferenceProviderRegion": {
          "target": "smithy.api#String"
        },
        "requestedInferenceRegion": {
          "target": "smithy.api#String"
        },
        "costCurrency": {
          "target": "smithy.api#String"
        },
        "marketCostCurrency": {
          "target": "smithy.api#String"
        },
        "cachedInputTokensCurrency": {
          "target": "smithy.api#String"
        },
        "cacheCreationInputTokensCurrency": {
          "target": "smithy.api#String"
        },
        "cacheCreation1hInputTokensCurrency": {
          "target": "smithy.api#String"
        },
        "surchargeCostCurrency": {
          "target": "smithy.api#String"
        },
        "gatewayCostCurrency": {
          "target": "smithy.api#String"
        },
        "keyId": {
          "target": "smithy.api#String"
        },
        "keyName": {
          "target": "smithy.api#String"
        },
        "authMethod": {
          "target": "smithy.api#String"
        },
        "appName": {
          "target": "smithy.api#String"
        },
        "codingAgent": {
          "target": "smithy.api#String"
        },
        "isByok": {
          "target": "smithy.api#String"
        },
        "isPrivateModel": {
          "target": "smithy.api#String"
        },
        "isRequestZdr": {
          "target": "smithy.api#String"
        },
        "hipaaRequested": {
          "target": "smithy.api#String"
        },
        "quotaRequested": {
          "target": "smithy.api#String"
        },
        "quotaEntityId": {
          "target": "smithy.api#String"
        },
        "quotaEntityType": {
          "target": "smithy.api#String"
        },
        "videoResolution": {
          "target": "smithy.api#String"
        },
        "videoAspectRatio": {
          "target": "smithy.api#String"
        },
        "piiRedactionApplied": {
          "target": "smithy.api#String"
        },
        "moderationApplied": {
          "target": "smithy.api#String"
        },
        "queueName": {
          "target": "smithy.api#String"
        },
        "consumerGroup": {
          "target": "smithy.api#String"
        },
        "messageId": {
          "target": "smithy.api#String"
        },
        "eventType": {
          "target": "smithy.api#String"
        },
        "notificationUrl": {
          "target": "smithy.api#String"
        },
        "sandboxSessionId": {
          "target": "smithy.api#String"
        },
        "sandboxName": {
          "target": "smithy.api#String"
        },
        "workflowRunId": {
          "target": "smithy.api#String"
        },
        "workflowName": {
          "target": "smithy.api#String"
        },
        "workflowStatus": {
          "target": "smithy.api#String"
        },
        "stepRunId": {
          "target": "smithy.api#String"
        },
        "workflowStepName": {
          "target": "smithy.api#String"
        },
        "workflowEventType": {
          "target": "smithy.api#String"
        },
        "region": {
          "target": "smithy.api#String"
        },
        "specVersion": {
          "target": "smithy.api#String"
        },
        "contentType": {
          "target": "smithy.api#String"
        },
        "rewriteDestinationHostname": {
          "target": "smithy.api#String"
        },
        "externalRewriteTargetHost": {
          "target": "smithy.api#String"
        },
        "externalRewriteTargetPath": {
          "target": "smithy.api#String"
        },
        "commitSha": {
          "target": "smithy.api#String"
        },
        "reviewConclusion": {
          "target": "smithy.api#String"
        },
        "pullRequestNumber": {
          "target": "smithy.api#String"
        },
        "repositoryName": {
          "target": "smithy.api#String"
        },
        "repositoryOwner": {
          "target": "smithy.api#String"
        },
        "reviewStatus": {
          "target": "smithy.api#String"
        },
        "pullRequestState": {
          "target": "smithy.api#String"
        },
        "triggeringTag": {
          "target": "smithy.api#String"
        },
        "redirectLocation": {
          "target": "smithy.api#String"
        },
        "microfrontendsResponseReason": {
          "target": "smithy.api#String"
        },
        "microfrontendsMatchedPath": {
          "target": "smithy.api#String"
        },
        "microfrontendsDefaultAppDeploymentId": {
          "target": "smithy.api#String"
        },
        "microfrontendsDefaultAppProjectId": {
          "target": "smithy.api#String"
        },
        "service": {
          "target": "smithy.api#String"
        },
        "isPrefetchRequest": {
          "target": "smithy.api#String"
        },
        "spendReportGroupBy": {
          "target": "smithy.api#String"
        },
        "spendReportDatePart": {
          "target": "smithy.api#String"
        },
        "providerAttemptCanonicalSlug": {
          "target": "smithy.api#String"
        },
        "providerAttemptCredentialType": {
          "target": "smithy.api#String"
        },
        "providerAttemptSuccess": {
          "target": "smithy.api#String"
        },
        "providerAttemptStatusCode": {
          "target": "smithy.api#String"
        },
        "providerAttemptTimeout": {
          "target": "smithy.api#String"
        },
        "providerAttemptIsFinal": {
          "target": "smithy.api#String"
        },
        "providerAttemptNumber": {
          "target": "smithy.api#String"
        },
        "providerAttemptTotalInRequest": {
          "target": "smithy.api#String"
        },
        "generationId": {
          "target": "smithy.api#String"
        },
        "sessionId": {
          "target": "smithy.api#String"
        },
        "contentCaptureStatus": {
          "target": "smithy.api#String"
        },
        "contentCaptureInputs": {
          "target": "smithy.api#String"
        },
        "contentCaptureOutputs": {
          "target": "smithy.api#String"
        },
        "transcriptStatus": {
          "target": "smithy.api#String"
        },
        "transcriptInputs": {
          "target": "smithy.api#String"
        },
        "transcriptOutputs": {
          "target": "smithy.api#String"
        },
        "providerAttemptError": {
          "target": "smithy.api#String"
        },
        "providerAttemptSafetyIdentifier": {
          "target": "smithy.api#String"
        },
        "providerAttemptDevSafetyIdentifier": {
          "target": "smithy.api#String"
        },
        "providerAttemptRegion": {
          "target": "smithy.api#String"
        },
        "providerAttemptModelIndex": {
          "target": "smithy.api#String"
        },
        "toolCallType": {
          "target": "smithy.api#String"
        },
        "toolCallProvider": {
          "target": "smithy.api#String"
        },
        "toolCallSuccess": {
          "target": "smithy.api#String"
        },
        "toolCallErrorType": {
          "target": "smithy.api#String"
        },
        "toolCallStatusCode": {
          "target": "smithy.api#String"
        },
        "environmentId": {
          "target": "smithy.api#String"
        },
        "billableRegion": {
          "target": "smithy.api#String"
        },
        "direction": {
          "target": "smithy.api#String"
        },
        "networkTenancy": {
          "target": "smithy.api#String"
        },
        "trafficSource": {
          "target": "smithy.api#String"
        },
        "networkId": {
          "target": "smithy.api#String"
        },
        "privatelinkEndpointId": {
          "target": "smithy.api#String"
        },
        "privatelinkDnsName": {
          "target": "smithy.api#String"
        },
[...]
