{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vanta.auditor_api#CreateAuditorRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the new user.",
            "smithy.api#required": {}
          }
        },
        "givenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First name of the new user.",
            "smithy.api#required": {}
          }
        },
        "familyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last name of the new user.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.auditor_api#Auditor": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the organization.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the auditor.",
            "smithy.api#required": {}
          }
        },
        "givenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The given name (first name) of the auditor.",
            "smithy.api#required": {}
          }
        },
        "familyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The family name (last name) of the auditor.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#CreateAuditor": {
      "type": "operation",
      "input": {
        "target": "com.vanta.auditor_api#CreateAuditorRequest"
      },
      "output": {
        "target": "com.vanta.auditor_api#Auditor"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/auditors",
          "code": 200
        },
        "smithy.api#documentation": "Create an auditor\n\nCreate an auditor in Vanta.\n\nRate limit: 10 requests / minute."
      }
    },
    "com.vanta.auditor_api#ListAuditsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageCursor"
          }
        },
        "changedSinceDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "changedSinceDate",
            "smithy.api#documentation": "Includes all audits that have changed since changedSinceDate."
          }
        },
        "isActiveAudit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "isActiveAudit",
            "smithy.api#documentation": "Includes only audits with no audit report uploaded"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.auditor_api#PaginatedResponseAudit": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.vanta.auditor_api#PaginatedResponseAuditResults",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#Audit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the audit.",
            "smithy.api#required": {}
          }
        },
        "customerOrganizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name of the customer organization being audited (e.g. vanta.com)",
            "smithy.api#required": {}
          }
        },
        "customerDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human readable name of the customer organization being audited (e.g. Vanta)",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "customerOrganizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uuid of the customer organization being audited",
            "smithy.api#required": {}
          }
        },
        "auditStartDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start of the audit window. This is also when data collection for audit starts.",
            "smithy.api#required": {}
          }
        },
        "auditEndDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end of the audit window.",
            "smithy.api#required": {}
          }
        },
        "earlyAccessStartsAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp at which auditors gain access to the audit. Occurs before the audit window begins",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "framework": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legacy singular framework display name from the audit type. Incomplete for\na multi-framework audit — use `segments` for framework identity.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name for the audit. Returns the custom audit name if set,\notherwise returns the framework name.",
            "smithy.api#required": {}
          }
        },
        "allowAuditorEmails": {
          "target": "com.vanta.auditor_api#AuditAllowAuditorEmailsList",
          "traits": {
            "smithy.api#documentation": "Emails of auditors with access to audit",
            "smithy.api#required": {}
          }
        },
        "allowAllAuditors": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true if all auditors in audit firm have access",
            "smithy.api#required": {}
          }
        },
        "deletionDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the audit was deleted",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the audit was created",
            "smithy.api#required": {}
          }
        },
        "modificationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the audit was updated",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "completionDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the audit was marked completed, and report was uploaded",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "auditFocus": {
          "target": "com.vanta.auditor_api#AuditFocus",
          "traits": {
            "smithy.api#documentation": "Audit focus determines if the audit is internal or external facing",
            "smithy.api#required": {}
          }
        },
        "auditorRequestListMetadata": {
          "target": "com.vanta.auditor_api#AuditAuditorRequestListMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the auditor request list. This field is only present for IRL (Information\nRequest List) based audits and will be undefined for standard audits. Use the presence\nof this field to differentiate between IRL and non-IRL audits."
          }
        },
        "segments": {
          "target": "com.vanta.auditor_api#AuditSegmentsList",
          "traits": {
            "smithy.api#documentation": "The audit's scope as a list of segments. Always present. A live\nsingle-framework audit has one entry; a multi-framework audit has one\nentry per in-scope framework (and business unit or system, when applicable).\nSoft-deleted audits return an empty list. Prefer this over the deprecated\ntop-level `framework` field.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#AuditAllowAuditorEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Emails of auditors with access to audit"
      }
    },
    "com.vanta.auditor_api#AuditFocus": {
      "type": "enum",
      "members": {
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#AuditAuditorRequestListMetadata": {
      "type": "structure",
      "members": {
        "requestsSharedWithCustomer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when information requests were shared with the customer. Null if not shared.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about the auditor request list. This field is only present for IRL (Information\nRequest List) based audits and will be undefined for standard audits. Use the presence\nof this field to differentiate between IRL and non-IRL audits."
      }
    },
    "com.vanta.auditor_api#AuditSegment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the segment.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.vanta.auditor_api#AuditSegmentKind",
          "traits": {
            "smithy.api#documentation": "Whether this segment is a program (framework / business unit) or a system.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The segment's display label. Do not reconstruct this from framework + BU.",
            "smithy.api#required": {}
          }
        },
        "framework": {
          "target": "com.vanta.auditor_api#AuditSegmentFramework",
          "traits": {
            "smithy.api#documentation": "The framework reached through this segment.",
            "smithy.api#required": {}
          }
        },
        "businessUnit": {
          "target": "com.vanta.auditor_api#AuditSegmentAssociation",
          "traits": {
            "smithy.api#documentation": "The business unit this program segment is scoped to, or null when the\nsegment is not BU-scoped or the BU cannot be resolved.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "system": {
          "target": "com.vanta.auditor_api#AuditSegmentAssociation",
          "traits": {
            "smithy.api#documentation": "The information system this system segment is scoped to, or null on\nprogram segments.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "soc2Deliverable": {
          "target": "com.vanta.auditor_api#AuditSoc2Deliverable",
          "traits": {
            "smithy.api#documentation": "SOC 2 report type and Trust Services Criteria for this segment, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One segment of an audit's scope. A live single-framework audit has exactly\none entry; a live multi-framework audit has one per in-scope framework\n(and business unit or system, when applicable). Soft-deleted audits return\nan empty list. `displayName` is the segment label owned by audit scope\n(for example \"{Framework}\" or \"{Framework} — {Business Unit}\").\n`soc2Deliverable` is the per-segment SOC 2 config, or null. `businessUnit`\nis set for program segments that are BU-scoped and null otherwise. `system`\nis set for system segments and null otherwise."
      }
    },
    "com.vanta.auditor_api#AuditSegmentKind": {
      "type": "enum",
      "members": {
        "PROGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROGRAM"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#AuditSegmentFramework": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stable identifier of the framework (for example `soc2`).",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable framework name.",
            "smithy.api#required": {}
          }
        },
        "shortName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short framework name used in compact UI.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The framework reached through a segment."
      }
    },
    "com.vanta.auditor_api#AuditSegmentAssociation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the associated business unit or information system.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the associated business unit or information system.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A business unit or information-system association on an audit segment."
      }
    },
    "com.vanta.auditor_api#AuditSoc2Deliverable": {
      "type": "structure",
      "members": {
        "reportType": {
          "target": "com.vanta.auditor_api#AuditSoc2ReportType",
          "traits": {
            "smithy.api#documentation": "SOC 2 report type for this segment.",
            "smithy.api#required": {}
          }
        },
        "tscs": {
          "target": "com.vanta.auditor_api#AuditSoc2DeliverableTscsList",
          "traits": {
            "smithy.api#documentation": "Trust Services Criteria this segment covers.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per-segment SOC 2 report configuration. Null when the segment is not SOC 2\nor has no configured deliverable."
      }
    },
    "com.vanta.auditor_api#AuditSoc2ReportType": {
      "type": "enum",
      "members": {
        "SOC2TYPE1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "soc2type1"
          }
        },
        "SOC2TYPE2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "soc2type2"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#AuditSoc2Tsc": {
      "type": "enum",
      "members": {
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "AVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABILITY"
          }
        },
        "CONFIDENTIALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIDENTIALITY"
          }
        },
        "PRIVACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVACY"
          }
        },
        "PROCESSING_INTEGRITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_INTEGRITY"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#AuditSoc2DeliverableTscsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.auditor_api#AuditSoc2Tsc"
      },
      "traits": {
        "smithy.api#documentation": "Trust Services Criteria this segment covers."
      }
    },
    "com.vanta.auditor_api#AuditSegmentsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.auditor_api#AuditSegment"
      },
      "traits": {
        "smithy.api#documentation": "The audit's scope as a list of segments. Always present. A live\nsingle-framework audit has one entry; a multi-framework audit has one\nentry per in-scope framework (and business unit or system, when applicable).\nSoft-deleted audits return an empty list. Prefer this over the deprecated\ntop-level `framework` field."
      }
    },
    "com.vanta.auditor_api#PaginatedResponseAuditResultsDataList": {
      "type": "list",
      "member": {
        "target": "com.vanta.auditor_api#Audit"
      },
      "traits": {}
    },
    "com.vanta.auditor_api#PageInfo": {
      "type": "structure",
      "members": {
        "endCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor that points to the end of the current page, or null if there is no such cursor.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasNextPage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there is another page after the current page.",
            "smithy.api#required": {}
          }
        },
        "hasPreviousPage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there is a page before the current page.",
            "smithy.api#required": {}
          }
        },
        "startCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor that points to the start of the current page, or null if there is no such cursor.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides information about the pagination of a dataset."
      }
    },
    "com.vanta.auditor_api#PaginatedResponseAuditResults": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vanta.auditor_api#PaginatedResponseAuditResultsDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pageInfo": {
          "target": "com.vanta.auditor_api#PageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#ListAudits": {
      "type": "operation",
      "input": {
        "target": "com.vanta.auditor_api#ListAuditsRequest"
      },
      "output": {
        "target": "com.vanta.auditor_api#PaginatedResponseAudit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/audits",
          "code": 200
        },
        "smithy.api#documentation": "List audits\n\nReturns a paginated list of audits scoped to the audit firm.\n\nTo identify IRL (Information Request List) audits, check for the presence of the\n`auditorRequestListMetadata` field. This field is only present for IRL-based audits\nand will be `undefined` for standard audits.\n\nEach audit includes `segments`, the audit's scope. A live single-framework\naudit has one entry; a live multi-framework audit has one entry per\nin-scope framework (and business unit or system, when applicable).\nSoft-deleted audits return an empty list. The top-level `framework` field\nis deprecated; use `segments` for framework identity.\n\nRate limit: 250 requests / minute."
      }
    },
    "com.vanta.auditor_api#DuplicateRequestAllowAuditorEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Emails of auditors who may access the new audit. Minimum one entry required.\nEach email must match an active user in the authenticated audit firm's domain."
      }
    },
    "com.vanta.auditor_api#DuplicateRequest": {
      "type": "structure",
      "members": {
        "sourceAuditId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the source IRL audit to duplicate.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the new audit engagement.",
            "smithy.api#required": {}
          }
        },
        "auditStartDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the audit window for the new audit.",
            "smithy.api#required": {}
          }
        },
        "auditEndDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of the audit window for the new audit.",
            "smithy.api#required": {}
          }
        },
        "earlyAccessStartsAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When auditors gain access to the new audit.",
            "smithy.api#required": {}
          }
        },
        "allowAuditorEmails": {
          "target": "com.vanta.auditor_api#DuplicateRequestAllowAuditorEmailsList",
          "traits": {
            "smithy.api#documentation": "Emails of auditors who may access the new audit. Minimum one entry required.\nEach email must match an active user in the authenticated audit firm's domain.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.auditor_api#Duplicate": {
      "type": "operation",
      "input": {
        "target": "com.vanta.auditor_api#DuplicateRequest"
      },
      "output": {
        "target": "com.vanta.auditor_api#Audit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/audits/duplicate",
          "code": 200
        },
        "smithy.api#documentation": "Duplicate an IRL audit\n\nDuplicates an existing IRL audit into a new audit engagement with the supplied\ndisplayName, audit dates, early access date, and auditor roster. Company, audit\ntype, and framework are copied from the source audit and cannot be changed.\n\nEach email in `allowAuditorEmails` must match an active user in the\nauthenticated audit firm's domain. Provision auditors via `POST /auditors`\nbefore referencing them here, or copy emails from `GET /audits/{sourceAuditId}`\n→ `allowAuditorEmails` when duplicating with the same roster.\n\nInformation requests are copied from the source audit. After duplication:\n\n- Requests with Vanta evidence will be pre-filled and marked as internal review.\n\n  Review them before sharing with your customer.\n- Requests where evidence was not available or was uploaded externally will need\n\n  evidence added manually.\n- Evidence capture dates and due dates can be modified after duplication.\n\nAudits with generated information requests can be duplicated only after their information\nrequests have been created successfully.\n\nRate limit: 10 requests / minute."
      }
    },
    "com.vanta.auditor_api#GetAuditRequest": {
      "type": "structure",
      "members": {
        "auditId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.auditor_api#GetAudit": {
      "type": "operation",
      "input": {
        "target": "com.vanta.auditor_api#GetAuditRequest"
      },
      "output": {
        "target": "com.vanta.auditor_api#Audit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/audits/{auditId}",
          "code": 200
        },
        "smithy.api#documentation": "Get audit by ID\n\nReturns a single audit by ID, scoped to the audit firm.\n\nTo identify IRL (Information Request List) audits, check for the presence of the\n`auditorRequestListMetadata` field. This field is only present for IRL-based audits\nand will be `undefined` for standard audits.\n\nThe response includes `segments`, the audit's scope. A live single-framework\naudit has one entry; a live multi-framework audit has one entry per\nin-scope framework (and business unit or system, when applicable).\nSoft-deleted audits return an empty list. The top-level `framework` field\nis deprecated; use `segments` for framework identity.\n\nRate limit: 250 requests / minute."
      }
    },
    "com.vanta.auditor_api#ApiCodeChangeSource": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket"
          }
        },
        "AZUREDEVOPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azuredevops"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Version control source service name for code changes."
      }
    },
    "com.vanta.auditor_api#ListCodeChangesRequestSourcesMatchesAnyList": {
      "type": "list",
      "member": {
        "target": "com.vanta.auditor_api#ApiCodeChangeSource"
      },
      "traits": {}
    },
    "com.vanta.auditor_api#ListCodeChangesRequest": {
      "type": "structure",
      "members": {
        "auditId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The audit ID"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "Maximum number of results per page (1-100, default 10)"
          }
        },
        "pageCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageCursor",
            "smithy.api#documentation": "Pagination cursor from previous response"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search term for filtering by code change title or repository name"
          }
        },
        "sourcesMatchesAny": {
          "target": "com.vanta.auditor_api#ListCodeChangesRequestSourcesMatchesAnyList",
          "traits": {
            "smithy.api#httpQuery": "sourcesMatchesAny",
            "smithy.api#documentation": "Filter code changes by version control source (accepted values: github, gitlab, bitbucket, azuredevops)"
          }
        },
        "closedAfterDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "closedAfterDate",
            "smithy.api#documentation": "Filter code changes closed on or after this date (ISO 8601)"
          }
        },
        "closedBeforeDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "closedBeforeDate",
            "smithy.api#documentation": "Filter code changes closed on or before this date (ISO 8601)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.auditor_api#PaginatedResponseCodeChange": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.vanta.auditor_api#PaginatedResponseCodeChangeResults",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#CodeChange": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code change record ID - always present.",
            "smithy.api#required": {}
          }
        },
        "codeChange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code change title (e.g. PR title) - always present.",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code change identifier (e.g. PR number)."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version control source where the change originated.\nKnown values are listed in {@link ApiCodeChangeSource}; other strings may\nappear if a new source is onboarded before this enum is updated."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository name."
          }
        },
        "openedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date the code change was opened."
          }
        },
        "closedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date the code change was merged/closed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Code change data.\n\n`id` and `codeChange` are required. All other fields are optional to support customizable field visibility.\n\nOmitted keys mean the column is not in the response; `null` means the column is present but empty."
      }
    },
    "com.vanta.auditor_api#PaginatedResponseCodeChangeResultsDataList": {
      "type": "list",
      "member": {
        "target": "com.vanta.auditor_api#CodeChange"
      },
      "traits": {}
    },
    "com.vanta.auditor_api#PaginatedResponseCodeChangeResults": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vanta.auditor_api#PaginatedResponseCodeChangeResultsDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pageInfo": {
          "target": "com.vanta.auditor_api#PageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#ListCodeChanges": {
      "type": "operation",
      "input": {
        "target": "com.vanta.auditor_api#ListCodeChangesRequest"
      },
      "output": {
        "target": "com.vanta.auditor_api#PaginatedResponseCodeChange"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/audits/{auditId}/assets/code-changes",
          "code": 200
        },
        "smithy.api#documentation": "List code changes for an audit\n\nRetrieves code changes population data for an audit.\n\nThis endpoint provides access to code change records (pull requests)\nvisible to auditors during an audit engagement.\n\nSupports filtering by:\n- `search`: Searches code change titles and repository names (case-insensitive)\n- `sourcesMatchesAny`: Filters by version control source (accepted values: github, gitlab, bitbucket, azuredevops)\n- `closedAfterDate` / `closedBeforeDate`: Filters by the closed date range\n\nUses cursor-based pagination. To paginate:\n1. Make initial request with desired `pageSize`\n2. Check `results.pageInfo.hasNextPage`\n3. Use `results.pageInfo.endCursor` as `pageCursor` for next request\n\nResults are sorted by closed date (newest first). This sort order is\nfixed and cannot be customized via query parameters.\n\nReturns 422 when the audit does not have exactly one program segment\n(multi-framework audits are not supported on this endpoint).\n\nRate limit: 10 requests / minute."
      }
    },
    "com.vanta.auditor_api#ListAuditCommentsRequest": {
      "type": "structure",
      "members": {
        "auditId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageCursor"
          }
        },
        "changedSinceDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "changedSinceDate",
            "smithy.api#documentation": "Includes all comments that have changed since changedSinceDate."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.auditor_api#PaginatedResponseComment": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.vanta.auditor_api#PaginatedResponseCommentResults",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#Comment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the comment",
            "smithy.api#required": {}
          }
        },
        "auditEvidenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the audit evidence related to the comment.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The comment message",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the comment was created",
            "smithy.api#required": {}
          }
        },
        "modificationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the comment was updated",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "deletionDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the comment was deleted",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the comment author. This acts as a unique identifier to map users between Vanta and external systems.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "authorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable display name of the comment author.\nNull if the author's name is not available (e.g., user was deleted).\nThis enables correct author attribution in integrations where users cannot\nbe reliably matched across systems by email alone.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#PaginatedResponseCommentResultsDataList": {
      "type": "list",
      "member": {
        "target": "com.vanta.auditor_api#Comment"
      },
      "traits": {}
    },
    "com.vanta.auditor_api#PaginatedResponseCommentResults": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vanta.auditor_api#PaginatedResponseCommentResultsDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pageInfo": {
          "target": "com.vanta.auditor_api#PageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#ListAuditComments": {
      "type": "operation",
      "input": {
        "target": "com.vanta.auditor_api#ListAuditCommentsRequest"
      },
      "output": {
        "target": "com.vanta.auditor_api#PaginatedResponseComment"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/audits/{auditId}/comments",
          "code": 200
        },
        "smithy.api#documentation": "List audit comments\n\nReturns a paginated list of comments for an audit.\n\nRate limit: 250 requests / minute."
      }
    },
    "com.vanta.auditor_api#ListAuditControlsRequestExternalIdMatchesAnyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vanta.auditor_api#ListAuditControlsRequest": {
      "type": "structure",
      "members": {
        "auditId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageCursor"
          }
        },
        "externalIdMatchesAny": {
          "target": "com.vanta.auditor_api#ListAuditControlsRequestExternalIdMatchesAnyList",
          "traits": {
            "smithy.api#httpQuery": "externalIdMatchesAny",
            "smithy.api#documentation": "Filter controls whose externalId matches any of the provided values (exact, case-sensitive match)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.auditor_api#PaginatedResponseAuditorControl": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.vanta.auditor_api#PaginatedResponseAuditorControlResults",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#AuditorControl": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's unique ID.",
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's external ID.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's description.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.vanta.auditor_api#ControlSource",
          "traits": {
            "smithy.api#documentation": "The control's source, either \"VANTA\" or \"CUSTOM\".",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.vanta.auditor_api#AuditorControlDomainsList",
          "traits": {
            "smithy.api#documentation": "The security domains that the control belongs to.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.vanta.auditor_api#Owner",
          "traits": {
            "smithy.api#documentation": "The control's owner.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's GDPR role, if the control is a GDPR control.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "customFields": {
          "target": "com.vanta.auditor_api#AuditorControlCustomFieldsList",
          "traits": {
            "smithy.api#documentation": "The control's custom field values, if control custom fields is included in your Vanta instance.",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the control was created. Returns null for Vanta library controls.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "modificationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the control was last modified. Returns null for Vanta library controls.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "framework": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The report standard framework fulfilled by the control.\nIncomplete once a control is in scope for more than one framework.",
            "smithy.api#required": {}
          }
        },
        "sections": {
          "target": "com.vanta.auditor_api#AuditorControlSectionsList",
          "traits": {
            "smithy.api#documentation": "Sections of a framework that this control satisfies",
            "smithy.api#required": {}
          }
        },
        "inScopeSegmentIds": {
          "target": "com.vanta.auditor_api#AuditorControlInScopeSegmentIdsList",
          "traits": {
            "smithy.api#documentation": "Audit segments this control is in scope for. Empty when the control is\nattached only by a direct link and has no catalog mapping on a\nmulti-program audit.",
            "smithy.api#required": {}
          }
        },
        "assessments": {
          "target": "com.vanta.auditor_api#AuditorControlAssessmentsList",
          "traits": {
            "smithy.api#documentation": "The auditor's assessments of this control, one per audit program segment the\ncontrol is in scope for (a multi-framework audit can have more than one).\nPopulated only for IRL audits when the assessment feature is enabled; empty\notherwise. Within an in-scope segment a control with no recorded assessment\ncoerces to `NOT_ASSESSED`; a segment the control is not in scope for\ncontributes no entry.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#ControlSource": {
      "type": "enum",
      "members": {
        "VANTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Vanta"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Custom"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#AuditorControlDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The security domains that the control belongs to."
      }
    },
    "com.vanta.auditor_api#Owner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the person.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the person that is shown in product.",
            "smithy.api#required": {}
          }
        },
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the person.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#CustomField": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.vanta.auditor_api#CustomFieldValue",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#CustomFieldValueCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vanta.auditor_api#CustomFieldValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vanta.auditor_api#CustomFieldValueCase1List"
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#AuditorControlCustomFieldsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.auditor_api#CustomField"
      },
      "traits": {
        "smithy.api#documentation": "The control's custom field values, if control custom fields is included in your Vanta instance."
      }
    },
    "com.vanta.auditor_api#Section": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The section name",
            "smithy.api#required": {}
          }
        },
        "framework": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The section framework",
            "smithy.api#required": {}
          }
        },
        "principle": {
          "target": "com.vanta.auditor_api#SectionPrinciple",
          "traits": {
            "smithy.api#documentation": "The principle that groups this section, if any.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#SectionPrinciple": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principle's unique ID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principle's name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#AuditorControlSectionsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.auditor_api#Section"
      },
      "traits": {
        "smithy.api#documentation": "Sections of a framework that this control satisfies"
      }
    },
    "com.vanta.auditor_api#AuditorControlInScopeSegmentIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Audit segments this control is in scope for. Empty when the control is\nattached only by a direct link and has no catalog mapping on a\nmulti-program audit."
      }
    },
    "com.vanta.auditor_api#AuditControlAssessment": {
      "type": "structure",
      "members": {
        "segmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The audit program segment this assessment belongs to.",
            "smithy.api#required": {}
          }
        },
        "assessmentState": {
          "target": "com.vanta.auditor_api#AuditControlAssessmentState",
          "traits": {
            "smithy.api#documentation": "The auditor's assessment of the control for this segment; `NOT_ASSESSED`\nwhen no assessment has been recorded.",
            "smithy.api#required": {}
          }
        },
        "justification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-text reasoning for the assessment; `null` when none has been recorded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An auditor's assessment of a control within one segment of an audit.\nAssessments are keyed per segment, so a control in scope for more than one\nsegment (a multi-framework audit) can carry a distinct assessment per\nsegment. A segment with no recorded assessment coerces to `NOT_ASSESSED` with\na `null` justification."
      }
    },
    "com.vanta.auditor_api#AuditControlAssessmentState": {
      "type": "enum",
      "members": {
        "IN_PLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PLACE"
          }
        },
        "NOT_IN_PLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_IN_PLACE"
          }
        },
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL"
          }
        },
        "NOT_ASSESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ASSESSED"
          }
        },
        "CONFORMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFORMING"
          }
        },
        "MINOR_NON_CONFORMITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINOR_NON_CONFORMITY"
          }
        },
        "MAJOR_NON_CONFORMITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAJOR_NON_CONFORMITY"
          }
        },
        "SATISFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATISFIED"
          }
        },
        "NOT_SATISFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_SATISFIED"
          }
        },
        "OTHER_THAN_SATISFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER_THAN_SATISFIED"
          }
        },
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRUE"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FALSE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An auditor's assessment of a control within an audit. This is the full flat\nunion of every framework's assessment states (the superset); a given audit's\nframework only uses its own subset. `NOT_ASSESSED` is shared by all\nframeworks and is the default for a control that has not yet been assessed.\n\nWhich states apply to which framework:\n- Most frameworks (e.g. SOC 2): `IN_PLACE`, `NOT_IN_PLACE`, `PARTIAL`, `NOT_ASSESSED`\n- ISO 27001: `CONFORMING`, `MINOR_NON_CONFORMITY`, `MAJOR_NON_CONFORMITY`, `NOT_ASSESSED`\n- FedRAMP: `SATISFIED`, `NOT_SATISFIED`, `OTHER_THAN_SATISFIED`, `NOT_ASSESSED`\n- FedRAMP Key Security Indicators (KSI): `TRUE`, `FALSE`, `PARTIAL`, `NOT_ASSESSED`\n\nDistinct from `ControlStatus`, which is the computed tests/documents-passing\nstatus — a different concept."
      }
    },
    "com.vanta.auditor_api#AuditorControlAssessmentsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.auditor_api#AuditControlAssessment"
      },
      "traits": {
        "smithy.api#documentation": "The auditor's assessments of this control, one per audit program segment the\ncontrol is in scope for (a multi-framework audit can have more than one).\nPopulated only for IRL audits when the assessment feature is enabled; empty\notherwise. Within an in-scope segment a control with no recorded assessment\ncoerces to `NOT_ASSESSED`; a segment the control is not in scope for\ncontributes no entry."
      }
    },
    "com.vanta.auditor_api#PaginatedResponseAuditorControlResultsDataList": {
      "type": "list",
      "member": {
        "target": "com.vanta.auditor_api#AuditorControl"
      },
      "traits": {}
    },
    "com.vanta.auditor_api#PaginatedResponseAuditorControlResults": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vanta.auditor_api#PaginatedResponseAuditorControlResultsDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pageInfo": {
          "target": "com.vanta.auditor_api#PageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#ListAuditControls": {
      "type": "operation",
      "input": {
        "target": "com.vanta.auditor_api#ListAuditControlsRequest"
      },
      "output": {
        "target": "com.vanta.auditor_api#PaginatedResponseAuditorControl"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/audits/{auditId}/controls",
          "code": 200
        },
        "smithy.api#documentation": "List audit controls\n\nReturns a paginated list of controls for an audit.\n\nRate limit: 250 requests / minute."
      }
    },
    "com.vanta.auditor_api#ControlDomain": {
      "type": "enum",
      "members": {
        "ARTIFICIAL_AUTONOMOUS_TECHNOLOGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTIFICIAL_&_AUTONOMOUS_TECHNOLOGY"
          }
        },
        "ASSET_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_MANAGEMENT"
          }
        },
        "BUSINESS_CONTINUITY_DISASTER_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_CONTINUITY_&_DISASTER_RECOVERY"
          }
        },
        "CAPACITY_PERFORMANCE_PLANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPACITY_&_PERFORMANCE_PLANNING"
          }
        },
        "CHANGE_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_MANAGEMENT"
          }
        },
        "CLOUD_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SECURITY"
          }
        },
        "COMPLIANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANCE"
          }
        },
        "CONFIGURATION_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIGURATION_MANAGEMENT"
          }
        },
        "CONTINUOUS_MONITORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTINUOUS_MONITORING"
          }
        },
        "CRYPTOGRAPHIC_PROTECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRYPTOGRAPHIC_PROTECTIONS"
          }
        },
        "DATA_CLASSIFICATION_HANDLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_CLASSIFICATION_&_HANDLING"
          }
        },
        "EMBEDDED_TECHNOLOGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMBEDDED_TECHNOLOGY"
          }
        },
        "ENDPOINT_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_SECURITY"
          }
        },
        "HUMAN_RESOURCES_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_RESOURCES_SECURITY"
          }
        },
        "IDENTIFICATION_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTIFICATION_&_AUTHENTICATION"
          }
        },
        "INCIDENT_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCIDENT_RESPONSE"
          }
        },
        "INFORMATION_ASSURANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFORMATION_ASSURANCE"
          }
        },
        "MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINTENANCE"
          }
        },
        "MOBILE_DEVICE_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_DEVICE_MANAGEMENT"
          }
        },
        "NETWORK_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK SECURITY"
          }
        },
        "PHYSICAL_ENVIRONMENTAL_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHYSICAL_&_ENVIRONMENTAL_SECURITY"
          }
        },
        "PRIVACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVACY"
          }
        },
        "PROJECT_RESOURCE_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_&_RESOURCE MANAGEMENT"
          }
        },
        "RISK_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_MANAGEMENT"
          }
        },
        "SECURE_ENGINEERING_ARCHITECTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_ENGINEERING_&_ARCHITECTURE"
          }
        },
        "SECURITY_AWARENESS_TRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_AWARENESS_&_TRAINING"
          }
        },
        "SECURITY_OPERATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_OPERATIONS"
          }
        },
        "SECURITY_PRIVACY_GOVERNANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_&_PRIVACY_GOVERNANCE"
          }
        },
        "TECHNOLOGY_DEVELOPMENT_ACQUISITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TECHNOLOGY_DEVELOPMENT_&_ACQUISITION"
          }
        },
        "THIRD_PARTY_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIRD-PARTY_MANAGEMENT"
          }
        },
        "THREAT_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_MANAGEMENT"
          }
        },
        "VULNERABILITY_PATCH_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY_&_PATCH_MANAGEMENT"
          }
        },
        "WEB_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEB_SECURITY"
          }
        },
        "ADMINISTRATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMINISTRATIVE"
          }
        },
        "PHYSICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHYSICAL"
          }
        },
        "TECHNICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TECHNICAL"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "DERIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DERIVED"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#FrameworkSection": {
      "type": "structure",
      "members": {
        "frameworkId": {
          "target": "com.vanta.auditor_api#FrameworkSectionFrameworkId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#FrameworkId": {
      "type": "enum",
      "members": {
        "AU_E_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AU_E_8"
          }
        },
        "AWS_FTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_FTR"
          }
        },
        "CCPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CCPA"
          }
        },
        "CIS_V8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CIS_V8"
          }
        },
        "CPS_234": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPS_234"
          }
        },
        "DORA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DORA"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDRAMP"
          }
        },
        "GDPR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GDPR"
          }
        },
        "HIPAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIPAA"
          }
        },
        "HITRUST_E1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HITRUST_E1"
          }
        },
        "ISO_27001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO_27001"
          }
        },
        "ISO_27001_2022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO_27001_2022"
          }
        },
        "ISO_27017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO_27017"
          }
        },
        "ISO_27018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO_27018"
          }
        },
        "ISO_27701": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO_27701"
          }
        },
        "ISO_42001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO_42001"
          }
        },
        "ISO_9001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO_9001"
          }
        },
        "MSFT_SSPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSFT_SSPA"
          }
        },
        "MVSP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MVSP"
          }
        },
        "NIS_2D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIS_2D"
          }
        },
        "NIST_171": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIST_171"
          }
        },
        "NIST_171_R3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIST_171_R3"
          }
        },
        "NIST_53": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIST_53"
          }
        },
        "NIST_AI_RMF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIST_AI_RMF"
          }
        },
        "NIST_CSF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIST_CSF"
          }
        },
        "NIST_CSF_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIST_CSF_2"
          }
        },
        "OFDSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFDSS"
          }
        },
        "PCI_SAQ_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCI_SAQ_A"
          }
        },
        "PCI_SAQ_A_EP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCI_SAQ_A_EP"
          }
        },
        "PCI_SAQ_D_MERCHANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCI_SAQ_D_MERCHANT"
          }
        },
        "PCI_SAQ_D_SP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCI_SAQ_D_SP"
          }
        },
        "PCI_DDS_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCI_DDS_4"
          }
        },
        "SOC_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOC_2"
          }
        },
        "SOX_ITGC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOX_ITGC"
          }
        },
        "UK_CYBER_ESSENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UK_CYBER_ESSENTIALS"
          }
        },
        "US_DATA_PRIVACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US_DATA_PRIVACY"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#FrameworkSectionFrameworkId": {
      "type": "union",
      "members": {
        "FrameworkId": {
          "target": "com.vanta.auditor_api#FrameworkId"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#CreateCustomControlRequestSectionsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.auditor_api#FrameworkSection"
      },
      "traits": {
        "smithy.api#documentation": "Framework sections that the control should be mapped to."
      }
    },
    "com.vanta.auditor_api#GdprRole": {
      "type": "enum",
      "members": {
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTH"
          }
        },
        "CONTROLLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTROLLER"
          }
        },
        "PROCESSOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSOR"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#CreateCustomControlRequest": {
      "type": "structure",
      "members": {
        "auditId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The external id of the control.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the control.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the control.",
            "smithy.api#required": {}
          }
        },
        "effectiveDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective date of the control.",
            "smithy.api#required": {}
          }
        },
        "category": {
          "target": "com.vanta.auditor_api#ControlDomain",
          "traits": {
            "smithy.api#documentation": "The category of the control. See the ControlDomain enum for possible values.",
            "smithy.api#required": {}
          }
        },
        "sections": {
          "target": "com.vanta.auditor_api#CreateCustomControlRequestSectionsList",
          "traits": {
            "smithy.api#documentation": "Framework sections that the control should be mapped to.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.vanta.auditor_api#GdprRole",
          "traits": {
            "smithy.api#documentation": "The GDPR role of the control, which specifies whether the data is being \"collected\" or \"processed\". See the GdprRole enum for possible values.\nThis field should only be included for controls that are to be mapped to the GDPR framework.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.auditor_api#Control": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's unique ID.",
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's external ID.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's description.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.vanta.auditor_api#ControlSource",
          "traits": {
            "smithy.api#documentation": "The control's source, either \"VANTA\" or \"CUSTOM\".",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.vanta.auditor_api#ControlDomainsList",
          "traits": {
            "smithy.api#documentation": "The security domains that the control belongs to.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.vanta.auditor_api#Owner",
          "traits": {
            "smithy.api#documentation": "The control's owner.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's GDPR role, if the control is a GDPR control.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "customFields": {
          "target": "com.vanta.auditor_api#ControlCustomFieldsList",
          "traits": {
            "smithy.api#documentation": "The control's custom field values, if control custom fields is included in your Vanta instance.",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the control was created. Returns null for Vanta library controls.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "modificationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the control was last modified. Returns null for Vanta library controls.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#ControlDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The security domains that the control belongs to."
      }
    },
    "com.vanta.auditor_api#ControlCustomFieldsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.auditor_api#CustomField"
      },
      "traits": {
        "smithy.api#documentation": "The control's custom field values, if control custom fields is included in your Vanta instance."
      }
    },
    "com.vanta.auditor_api#CreateCustomControl": {
      "type": "operation",
      "input": {
        "target": "com.vanta.auditor_api#CreateCustomControlRequest"
      },
      "output": {
        "target": "com.vanta.auditor_api#Control"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/audits/{auditId}/controls/custom-controls",
          "code": 200
        },
        "smithy.api#documentation": "Create a custom control for an audit\n\nCreate a custom control for an audit.\n\nThis endpoint supports classic audits only. Audits that use information request\nlists (IRL) are not supported and return a 422 error.\n\nRate limit: 10 requests / minute."
      }
    },
    "com.vanta.auditor_api#UpsertAssessmentForControlRequest": {
      "type": "structure",
      "members": {
        "auditId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "segmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The program segment to assess. Required when the audit has more than one\nprogram segment. Optional on a single-program audit (the only program is\nused). Must be a program segment on the audit; system segments are rejected."
          }
        },
        "assessmentState": {
          "target": "com.vanta.auditor_api#AuditControlAssessmentState",
          "traits": {
            "smithy.api#documentation": "The assessment state to record. Must be one of the states valid for the\nsegment's framework; the request is rejected otherwise.",
            "smithy.api#required": {}
          }
        },
        "justification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-text reasoning for the assessment. Required, and at most 5000 characters.",
            "smithy.api#required": {}
          }
        },
        "auditorEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the auditor performing the assessment. Must match an existing Vanta\nuser who belongs to the audit firm making the API request.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.auditor_api#AuditorControlAssessment": {
      "type": "structure",
      "members": {
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control this assessment belongs to.",
            "smithy.api#required": {}
          }
        },
        "segmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The program segment this assessment was written to.",
            "smithy.api#required": {}
          }
        },
        "assessmentState": {
          "target": "com.vanta.auditor_api#AuditControlAssessmentState",
          "traits": {
            "smithy.api#documentation": "The recorded assessment state.",
            "smithy.api#required": {}
          }
        },
        "justification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recorded justification.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A control's auditor assessment, as persisted. Returned by the assessment\nwrite endpoint so the caller sees exactly what was recorded."
      }
    },
    "com.vanta.auditor_api#UpsertAssessmentForControl": {
      "type": "operation",
      "input": {
        "target": "com.vanta.auditor_api#UpsertAssessmentForControlRequest"
      },
      "output": {
        "target": "com.vanta.auditor_api#AuditorControlAssessment"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/audits/{auditId}/controls/{controlId}/assessment",
          "code": 200
        },
        "smithy.api#documentation": "Upsert a control's assessment within an audit\n\nRecords (upserts) an auditor's assessment state and justification for a\ncontrol within an IRL audit — the API equivalent of assessing a control in\nthe web app. Overwrites the single assessment for this control in the\naudit's program segment.\n\nThe `assessmentState` must be valid for the segment's framework (the request\nis rejected otherwise). The acting auditor is identified by `auditorEmail`,\nwhich must belong to the audit firm making the request.\n\nReturns 404 when the control is not part of the audit or the auditor email\ndoes not resolve to a firm user. Returns 422 when the audit does not have\nexactly one program segment (multi-framework audits are not supported on\nthis endpoint). Applies to both Full and Controlled Audit View audits.\n\nRate limit: 10 requests / minute."
      }
    },
    "com.vanta.auditor_api#ListCommentsForControlRequest": {
      "type": "structure",
      "members": {
        "auditId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "Maximum number of comments to return per page."
          }
        },
        "pageCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageCursor",
            "smithy.api#documentation": "Pagination cursor from a previous response. Provide to fetch the next page of comments."
          }
        },
        "changedSinceDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "changedSinceDate",
            "smithy.api#documentation": "Includes all comments that have changed since changedSinceDate.\nConsiders creationDate, modificationDate, and deletionDate timestamps when determining changes."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.auditor_api#PaginatedResponseAuditControlComment": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.vanta.auditor_api#PaginatedResponseAuditControlCommentResults",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#AuditControlComment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the comment within Vanta's system.\nFormat: ObjectId as a string (e.g., \"6890e473dce1da5d8406f5e7\").",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The comment message content.\nCan include explanations, questions, or clarifications about the control.",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the comment was created.\nFormat: ISO 8601 UTC timestamp.",
            "smithy.api#required": {}
          }
        },
        "modificationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the comment was last edited.\nNull if the comment has never been modified.\nFormat: ISO 8601 UTC timestamp.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "deletionDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the comment was soft-deleted.\nNull if the comment has not been deleted.\nSoft deletes retain the comment for audit history while hiding it from normal operations.\nFormat: ISO 8601 UTC timestamp.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the comment author.\nThis email uniquely identifies users between Vanta and external audit systems.\nNull when the comment author can't be matched to a Vanta user.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "authorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable display name of the comment author.\nNull if the author's name is not available (e.g., user was deleted).\nThis enables correct author attribution in integrations where users cannot\nbe reliably matched across systems by email alone.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A comment on a control within an audit. These threaded discussions let\nauditors and customers collaborate on a specific control — asking questions,\ndocumenting reasoning, or recording follow-ups — directly against the control\nbeing assessed.\n\nAudit control comments are scoped to a single audit engagement and are\ndistinct from any organization-internal control comments."
      }
    },
    "com.vanta.auditor_api#PaginatedResponseAuditControlCommentResultsDataList": {
      "type": "list",
      "member": {
        "target": "com.vanta.auditor_api#AuditControlComment"
      },
      "traits": {}
    },
    "com.vanta.auditor_api#PaginatedResponseAuditControlCommentResults": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vanta.auditor_api#PaginatedResponseAuditControlCommentResultsDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pageInfo": {
          "target": "com.vanta.auditor_api#PageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#ListCommentsForControl": {
      "type": "operation",
      "input": {
        "target": "com.vanta.auditor_api#ListCommentsForControlRequest"
      },
      "output": {
        "target": "com.vanta.auditor_api#PaginatedResponseAuditControlComment"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/audits/{auditId}/controls/{controlId}/comments",
          "code": 200
        },
        "smithy.api#documentation": "List comments for a control within an audit\n\nRetrieves a paginated list of comments on a control within an IRL audit,\nenabling auditors to view collaboration history on the control.\n\nThis endpoint always includes soft-deleted records (where `deletionDate !== null`).\nClients should check the `deletionDate` field to identify and handle deleted records\nappropriately in their systems.\n\nThis endpoint supports delta synchronization via the `changedSinceDate` parameter,\nallowing efficient polling for changes without retrieving the entire dataset.\n\nReturns 404 when the control is not part of the audit.\n\nPagination usage:\n1. Make initial request with desired `pageSize`\n2. Check `results.pageInfo.hasNextPage` to see if more data exists\n3. If true, use `results.pageInfo.endCursor` as `pageCursor` in next request\n4. Repeat until `hasNextPage` is false\n\nDelta sync usage:\n1. Store the timestamp of your last sync\n2. Pass that timestamp as `changedSinceDate`\n3. Only comments created, modified, or deleted since that timestamp are returned\n4. Process updates, including soft-deletes (deletionDate !== null)\n5. Update your last sync timestamp to the current time\n\nRate limit: 50 requests / minute."
      }
    },
    "com.vanta.auditor_api#CreateCommentForControlRequest": {
      "type": "structure",
      "members": {
        "auditId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text content of the comment.\nMust be at least 1 character. Can include questions, clarifications,\nor explanations related to the control.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the comment author.\nMust match an existing Vanta user who belongs to the audit firm making the API request.\nThis email uniquely identifies the author across systems.",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the comment was created in the external audit management system.\nThis allows synchronizing comment timestamps from external systems.\nFormat: ISO 8601 UTC timestamp.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.auditor_api#CreateCommentForControl": {
      "type": "operation",
      "input": {
        "target": "com.vanta.auditor_api#CreateCommentForControlRequest"
      },
      "output": {
        "target": "com.vanta.auditor_api#AuditControlComment"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/audits/{auditId}/controls/{controlId}/comments",
          "code": 200
        },
        "smithy.api#documentation": "Create a comment for a control within an audit\n\nCreates a new comment on a control within an IRL audit. The comment author\nmust be an auditor in the audit firm making the request. The comment will be\nassociated with the control and visible to all authorized users.\n\nReturns 404 when the control is not part of the audit.\n\nRate limit: 50 requests / minute."
      }
    },
    "com.vanta.auditor_api#UpdateCommentForControlRequest": {
      "type": "structure",
      "members": {
        "auditId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "commentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text content of the comment.\nMust be at least 1 character. Can include questions, clarifications,\nor explanations related to the control.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the comment author.\nMust match an existing Vanta user who belongs to the audit firm making the API request.\nThis email uniquely identifies the author across systems.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.auditor_api#UpdateCommentForControl": {
      "type": "operation",
      "input": {
        "target": "com.vanta.auditor_api#UpdateCommentForControlRequest"
      },
      "output": {
        "target": "com.vanta.auditor_api#AuditControlComment"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/audits/{auditId}/controls/{controlId}/comments/{commentId}",
          "code": 200
        },
        "smithy.api#documentation": "Update a comment for a control within an audit\n\nUpdates an existing comment on a control. Only the original author\nof the comment can update it. The author is identified by their email address,\nwhich must match the email of the user who created the comment.\n\nRate limit: 10 requests / minute."
      }
    },
    "com.vanta.auditor_api#DeleteCommentForControlRequest": {
      "type": "structure",
      "members": {
        "auditId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "commentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the comment author.\nMust match an existing Vanta user who belongs to the audit firm making the API request.\nThis email uniquely identifies the author across systems.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.auditor_api#DeleteCommentForControl": {
      "type": "operation",
      "input": {
        "target": "com.vanta.auditor_api#DeleteCommentForControlRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/audits/{auditId}/controls/{controlId}/comments/{commentId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a comment for a control within an audit\n\nDeletes an existing comment on a control. Only the original author\nof the comment can delete it. The author is identified by their email address,\nwhich must match the email of the user who created the comment.\n\nRate limit: 10 requests / minute."
      }
    },
    "com.vanta.auditor_api#ListInformationRequestsForControlRequest": {
      "type": "structure",
      "members": {
        "auditId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "Maximum number of information requests to return per page."
          }
        },
        "pageCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageCursor",
            "smithy.api#documentation": "Pagination cursor from a previous response. Provide to fetch the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.auditor_api#PaginatedResponseInformationRequest": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.vanta.auditor_api#PaginatedResponseInformationRequestResults",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.auditor_api#InformationRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the information request within Vanta's system.\nThis is the primary identifier used in all API endpoints.\nFormat: ObjectId as a string (e.g., \"6890e473dce1da5d8406f5e7\")",
            "smithy.api#required": {}
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External unique ID to prevent duplicates across different audit systems.\nUsed for idempotency when syncing data between external audit management\nsystems and Vanta. Unlike `id`, this value is provided by the external system.",
            "smithy.api#required": {}
          }
        },
        "additionalControlIds": {
          "target": "com.vanta.auditor_api#InformationRequestAdditionalControlIdsList",
          "traits": {
            "smithy.api#documentation": "Additional control IDs beyond those automatically mapped from framework codes.\nAllows manual association with specific controls when automatic mapping\nis insufficient. Each ID should reference a valid control in your audit framework.",
            "smithy.api#required": {}
          }
        },
        "approvalStatus": {
          "target": "com.vanta.auditor_api#InformationRequestApprovalStatus",
          "traits": {
            "smithy.api#documentation": "Current approval status tracking the request's lifecycle through evidence\nsubmission and auditor review.",
            "smithy.api#required": {}
          }
        },
        "cadence": {
          "target": "com.vanta.auditor_api#InformationRequestCadence",
          "traits": {
[...]
