{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsRequest": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceId",
            "smithy.api#required": {},
            "smithy.api#documentation": "Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesItemOccurrencesItemQueryParamsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API query param key associated with this vulnerability occurrence.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API query param value associated with this vulnerability occurrence.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesItemOccurrencesItemQueryParamsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesItemOccurrencesItemQueryParamsItem"
      },
      "traits": {
        "smithy.api#documentation": "The API params associated with this vulnerability."
      }
    },
    "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesItemOccurrencesItemHeadersItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API header key associated with this vulnerability occurrence.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API header value associated with this vulnerability occurrence.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesItemOccurrencesItemHeadersList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesItemOccurrencesItemHeadersItem"
      },
      "traits": {
        "smithy.api#documentation": "The API headers associated with this vulnerability."
      }
    },
    "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesItemOccurrencesItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Markdown description of this API endpoint vulnerability occurrence.",
            "smithy.api#required": {}
          }
        },
        "fromUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API endpoint URL associated with this vulnerability occurrence."
          }
        },
        "queryParams": {
          "target": "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesItemOccurrencesItemQueryParamsList",
          "traits": {
            "smithy.api#documentation": "The API params associated with this vulnerability."
          }
        },
        "headers": {
          "target": "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesItemOccurrencesItemHeadersList",
          "traits": {
            "smithy.api#documentation": "The API headers associated with this vulnerability."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The body of the request passed to the API, with sensitive information redacted."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesItemOccurrencesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesItemOccurrencesItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of occurrences of vulnerable API endpoints."
      }
    },
    "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesItem": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable label for this resource - will be shown as-is in inventory page.",
            "smithy.api#required": {}
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A stable global identifier for this resource.",
            "smithy.api#required": {}
          }
        },
        "externalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to this resource on the partner site. This must be a HTTPS URL.",
            "smithy.api#required": {}
          }
        },
        "occurrences": {
          "target": "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesItemOccurrencesList",
          "traits": {
            "smithy.api#documentation": "A list of occurrences of vulnerable API endpoints.",
            "smithy.api#required": {}
          }
        },
        "severity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The severity of the vulnerability, on a scale of 0 to 10. This will be rounded to the nearest tenth.",
            "smithy.api#required": {}
          }
        },
        "vulnerableComponentUniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the vulnerable component associated with the vulnerability. This must reference the `uniqueId` field in the a previously supplied `VulnerableComponent`.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the vulnerability.",
            "smithy.api#required": {}
          }
        },
        "remediationInstructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instructions for remediating the vulnerability.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The vulnerable URL.",
            "smithy.api#required": {}
          }
        },
        "httpMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP method (eg: GET, POST) associated with this vulnerability.",
            "smithy.api#required": {}
          }
        },
        "cveId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Common Vulnerabilities and Exposures (CVE) identifier for the vulnerability. This field is optional."
          }
        },
        "cvss3Vector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Common Vulnerability Scoring System (CVSS) version 3 vector for the vulnerability. This field is optional."
          }
        },
        "cvss3Score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Common Vulnerability Scoring System (CVSS) version 3 score for the vulnerability. This field is optional."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesItem"
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponseResourcesList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectors": {
      "type": "operation",
      "input": {
        "target": "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsRequest"
      },
      "output": {
        "target": "com.vanta.build_integrations#GetApiEndpointVulnerabilityConnectorsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/resources/api_endpoint_vulnerability_connectors",
          "code": 200
        },
        "smithy.api#documentation": "List all API Endpoint Vulnerabilities\n\nList `ApiEndpointVulnerabilityConnectors` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```"
      }
    },
    "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesItemOccurrencesItemQueryParamsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API query param key associated with this vulnerability occurrence.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API query param value associated with this vulnerability occurrence.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesItemOccurrencesItemQueryParamsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesItemOccurrencesItemQueryParamsItem"
      },
      "traits": {
        "smithy.api#documentation": "The API params associated with this vulnerability."
      }
    },
    "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesItemOccurrencesItemHeadersItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API header key associated with this vulnerability occurrence.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API header value associated with this vulnerability occurrence.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesItemOccurrencesItemHeadersList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesItemOccurrencesItemHeadersItem"
      },
      "traits": {
        "smithy.api#documentation": "The API headers associated with this vulnerability."
      }
    },
    "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesItemOccurrencesItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Markdown description of this API endpoint vulnerability occurrence.",
            "smithy.api#required": {}
          }
        },
        "fromUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API endpoint URL associated with this vulnerability occurrence."
          }
        },
        "queryParams": {
          "target": "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesItemOccurrencesItemQueryParamsList",
          "traits": {
            "smithy.api#documentation": "The API params associated with this vulnerability."
          }
        },
        "headers": {
          "target": "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesItemOccurrencesItemHeadersList",
          "traits": {
            "smithy.api#documentation": "The API headers associated with this vulnerability."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The body of the request passed to the API, with sensitive information redacted."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesItemOccurrencesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesItemOccurrencesItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of occurrences of vulnerable API endpoints."
      }
    },
    "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesItem": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable label for this resource - will be shown as-is in inventory page.",
            "smithy.api#required": {}
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A stable global identifier for this resource.",
            "smithy.api#required": {}
          }
        },
        "externalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to this resource on the partner site. This must be a HTTPS URL.",
            "smithy.api#required": {}
          }
        },
        "occurrences": {
          "target": "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesItemOccurrencesList",
          "traits": {
            "smithy.api#documentation": "A list of occurrences of vulnerable API endpoints.",
            "smithy.api#required": {}
          }
        },
        "severity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The severity of the vulnerability, on a scale of 0 to 10. This will be rounded to the nearest tenth.",
            "smithy.api#required": {}
          }
        },
        "vulnerableComponentUniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the vulnerable component associated with the vulnerability. This must reference the `uniqueId` field in the a previously supplied `VulnerableComponent`.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the vulnerability.",
            "smithy.api#required": {}
          }
        },
        "remediationInstructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instructions for remediating the vulnerability.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The vulnerable URL.",
            "smithy.api#required": {}
          }
        },
        "httpMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP method (eg: GET, POST) associated with this vulnerability.",
            "smithy.api#required": {}
          }
        },
        "cveId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Common Vulnerabilities and Exposures (CVE) identifier for the vulnerability. This field is optional."
          }
        },
        "cvss3Vector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Common Vulnerability Scoring System (CVSS) version 3 vector for the vulnerability. This field is optional."
          }
        },
        "cvss3Score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Common Vulnerability Scoring System (CVSS) version 3 score for the vulnerability. This field is optional."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesItem"
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequest": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequestResourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectors": {
      "type": "operation",
      "input": {
        "target": "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsRequest"
      },
      "output": {
        "target": "com.vanta.build_integrations#PutApiEndpointVulnerabilityConnectorsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/resources/api_endpoint_vulnerability_connectors",
          "code": 200
        },
        "smithy.api#documentation": "Sync all API Endpoint Vulnerabilities\n\nTo send us data related to API endpoint vulnerabilities. Note that you must first sync `VulnerableComponent` resources before sending us this data, and this sync should reference the `uniqueId` field in the `VulnerableComponent` resource.\n\nThis call replaces ALL existing `ApiEndpointVulnerabilityConnectors` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `ApiEndpointVulnerabilityConnectors` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `ApiEndpointVulnerabilityConnectors`."
      }
    },
    "com.vanta.build_integrations#GetBackgroundCheckConnectorRequest": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceId",
            "smithy.api#required": {},
            "smithy.api#documentation": "Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.build_integrations#GetBackgroundCheckConnectorResponseResourcesItemStatus": {
      "type": "enum",
      "members": {
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPLETE"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the background check."
      }
    },
    "com.vanta.build_integrations#GetBackgroundCheckConnectorResponseResourcesItem": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable label for this resource - will be shown as-is in inventory page.",
            "smithy.api#required": {}
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A stable global identifier for this resource.",
            "smithy.api#required": {}
          }
        },
        "externalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to this resource on the partner site. This must be a HTTPS URL.",
            "smithy.api#required": {}
          }
        },
        "fullName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the employee or contractor undergoing the background check.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the employee or contractor undergoing the background check.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vanta.build_integrations#GetBackgroundCheckConnectorResponseResourcesItemStatus",
          "traits": {
            "smithy.api#documentation": "The current status of the background check.",
            "smithy.api#required": {}
          }
        },
        "completionDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If complete, the date of completion of the background check."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetBackgroundCheckConnectorResponseResourcesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#GetBackgroundCheckConnectorResponseResourcesItem"
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetBackgroundCheckConnectorResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.vanta.build_integrations#GetBackgroundCheckConnectorResponseResourcesList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vanta.build_integrations#GetBackgroundCheckConnector": {
      "type": "operation",
      "input": {
        "target": "com.vanta.build_integrations#GetBackgroundCheckConnectorRequest"
      },
      "output": {
        "target": "com.vanta.build_integrations#GetBackgroundCheckConnectorResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/resources/background_check_connector",
          "code": 200
        },
        "smithy.api#documentation": "List all Background Checks\n\nList `BackgroundCheckConnector` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```"
      }
    },
    "com.vanta.build_integrations#PutBackgroundCheckConnectorRequestResourcesItemStatus": {
      "type": "enum",
      "members": {
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPLETE"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the background check."
      }
    },
    "com.vanta.build_integrations#PutBackgroundCheckConnectorRequestResourcesItem": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable label for this resource - will be shown as-is in inventory page.",
            "smithy.api#required": {}
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A stable global identifier for this resource.",
            "smithy.api#required": {}
          }
        },
        "externalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to this resource on the partner site. This must be a HTTPS URL.",
            "smithy.api#required": {}
          }
        },
        "fullName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the employee or contractor undergoing the background check.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the employee or contractor undergoing the background check.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vanta.build_integrations#PutBackgroundCheckConnectorRequestResourcesItemStatus",
          "traits": {
            "smithy.api#documentation": "The current status of the background check.",
            "smithy.api#required": {}
          }
        },
        "completionDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If complete, the date of completion of the background check."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutBackgroundCheckConnectorRequestResourcesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#PutBackgroundCheckConnectorRequestResourcesItem"
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutBackgroundCheckConnectorRequest": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.vanta.build_integrations#PutBackgroundCheckConnectorRequestResourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.build_integrations#PutBackgroundCheckConnectorResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vanta.build_integrations#PutBackgroundCheckConnector": {
      "type": "operation",
      "input": {
        "target": "com.vanta.build_integrations#PutBackgroundCheckConnectorRequest"
      },
      "output": {
        "target": "com.vanta.build_integrations#PutBackgroundCheckConnectorResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/resources/background_check_connector",
          "code": 200
        },
        "smithy.api#documentation": "Sync all Background Checks\n\nTo send us data regarding employee/contractor background checks, you send us `BackgroundCheckConnector` resources. This helps us determine current background check statuses.\n\nThis call replaces ALL existing `BackgroundCheckConnector` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `BackgroundCheckConnector` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `BackgroundCheckConnector`."
      }
    },
    "com.vanta.build_integrations#GetCustomResourceRequest": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceId",
            "smithy.api#required": {},
            "smithy.api#documentation": "Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.build_integrations#GetCustomResourceResponseResourcesItem": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable label for this resource - will be shown as-is in inventory page.",
            "smithy.api#required": {}
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A stable global identifier for this resource.",
            "smithy.api#required": {}
          }
        },
        "externalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to this resource on the partner site. This must be a HTTPS URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetCustomResourceResponseResourcesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#GetCustomResourceResponseResourcesItem"
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetCustomResourceResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.vanta.build_integrations#GetCustomResourceResponseResourcesList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vanta.build_integrations#GetCustomResource": {
      "type": "operation",
      "input": {
        "target": "com.vanta.build_integrations#GetCustomResourceRequest"
      },
      "output": {
        "target": "com.vanta.build_integrations#GetCustomResourceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/resources/custom_resource",
          "code": 200
        },
        "smithy.api#documentation": "List all Custom Resources\n\nList `CustomResource` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```"
      }
    },
    "com.vanta.build_integrations#PutCustomResourceRequestResourcesItem": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable label for this resource - will be shown as-is in inventory page.",
            "smithy.api#required": {}
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A stable global identifier for this resource.",
            "smithy.api#required": {}
          }
        },
        "externalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to this resource on the partner site. This must be a HTTPS URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutCustomResourceRequestResourcesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#PutCustomResourceRequestResourcesItem"
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutCustomResourceRequest": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.vanta.build_integrations#PutCustomResourceRequestResourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.build_integrations#PutCustomResourceResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vanta.build_integrations#PutCustomResource": {
      "type": "operation",
      "input": {
        "target": "com.vanta.build_integrations#PutCustomResourceRequest"
      },
      "output": {
        "target": "com.vanta.build_integrations#PutCustomResourceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/resources/custom_resource",
          "code": 200
        },
        "smithy.api#documentation": "Sync all Custom Resources\n\nTo send data of custom resource that you want to build custom tests on, use `CustomResource`.\n\nThis call replaces ALL existing `CustomResource` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `CustomResource` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `CustomResource`."
      }
    },
    "com.vanta.build_integrations#UploadFileForDocumentRequest": {
      "type": "structure",
      "members": {
        "documentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "effectiveAtDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date indicating when the document is effective from."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the uploaded document."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.build_integrations#UploadedFileT": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the document.",
            "smithy.api#required": {}
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file name of the document.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The document's title.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The document's description",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mime type of the document.",
            "smithy.api#required": {}
          }
        },
        "uploadedBy": {
          "target": "com.vanta.build_integrations#UploadedFileTUploadedBy",
          "traits": {
            "smithy.api#documentation": "The actor who uploaded this document. It could be a user or an app.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of when the document was uploaded.",
            "smithy.api#required": {}
          }
        },
        "updatedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date when the document was last updated.",
            "smithy.api#required": {}
          }
        },
        "deletionDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of when the document was deleted. Is set to null if the document has not been deleted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "effectiveDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The document's effective date.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The document's URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#UploadedDocumentUploadedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#UploadedFileTUploadedBy": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vanta.build_integrations#UploadedDocumentUploadedByType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The actor who uploaded this document. It could be a user or an app."
      }
    },
    "com.vanta.build_integrations#UploadFileForDocument": {
      "type": "operation",
      "input": {
        "target": "com.vanta.build_integrations#UploadFileForDocumentRequest"
      },
      "output": {
        "target": "com.vanta.build_integrations#UploadedFileT"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/documents/{documentId}/uploads",
          "code": 200,
          "contentType": "multipart"
        },
        "smithy.api#documentation": "Upload file for document\n\nUpload a file for a document.",
        "com.distilled.openapi#contentType": "multipart"
      }
    },
    "com.vanta.build_integrations#GetMacosUserComputerRequest": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceId",
            "smithy.api#required": {},
            "smithy.api#documentation": "Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemApplicationsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the application.",
            "smithy.api#required": {}
          }
        },
        "bundleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The bundle identifier of the application.",
            "smithy.api#required": {}
          }
        },
        "lastOpenedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the application was opened."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemApplicationsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemApplicationsItem"
      },
      "traits": {
        "smithy.api#documentation": "All the installed Mac Apps on the system."
      }
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemBrowserExtensionsItemBrowser": {
      "type": "enum",
      "members": {
        "CHROME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME"
          }
        },
        "FIREFOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIREFOX"
          }
        },
        "OPERA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERA"
          }
        },
        "SAFARI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAFARI"
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDGE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of browser. If you see something not on this list - if the browser is chromium based, use Chrome. Otherwise, skip sending the extension and contact Vanta for a longer term addition to this enum."
      }
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemBrowserExtensionsItem": {
      "type": "structure",
      "members": {
        "extensionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the browser extension.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the browser extension.",
            "smithy.api#required": {}
          }
        },
        "browser": {
          "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemBrowserExtensionsItemBrowser",
          "traits": {
            "smithy.api#documentation": "The type of browser. If you see something not on this list - if the browser is chromium based, use Chrome. Otherwise, skip sending the extension and contact Vanta for a longer term addition to this enum.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemBrowserExtensionsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemBrowserExtensionsItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of browser extensions on this device. Used to match against known password managers to demonstrate use."
      }
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemDrivesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the drive.",
            "smithy.api#required": {}
          }
        },
        "encrypted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Does the drive have some sort of encryption on it.",
            "smithy.api#required": {}
          }
        },
        "filevaultEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Does the drive have filevault enabled.",
            "smithy.api#required": {}
          }
        },
        "isBootVolume": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Metadata about the boot volume helps Vanta skip checking volumes that aren't relevant, like USB Drives."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemDrivesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemDrivesItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of drives on this device. Used to verify encryption status."
      }
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemUsersItemScreenlockPoliciesItem": {
      "type": "structure",
      "members": {
        "requiresPassword": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "After the screenlock takes effect, does the user have to enter a password to access their device.",
            "smithy.api#required": {}
          }
        },
        "screenSleepTimeoutMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The timeout in milliseconds for screenlock to trigger.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemUsersItemScreenlockPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemUsersItemScreenlockPoliciesItem"
      },
      "traits": {
        "smithy.api#documentation": "If the source system cannot easily retrieve screenlock policies, it's OK to skip this data."
      }
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemUsersItemScreenlockSettings": {
      "type": "structure",
      "members": {
        "requiresPassword": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "After the screenlock takes effect, does the user have to enter a password to access their device.",
            "smithy.api#required": {}
          }
        },
        "screenSleepTimeoutMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The timeout in milliseconds for screenlock to trigger.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemUsersItem": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's username. Does not have to be unique.",
            "smithy.api#required": {}
          }
        },
        "screenlockPolicies": {
          "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemUsersItemScreenlockPoliciesList",
          "traits": {
            "smithy.api#documentation": "If the source system cannot easily retrieve screenlock policies, it's OK to skip this data.",
            "smithy.api#required": {}
          }
        },
        "screenlockSettings": {
          "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemUsersItemScreenlockSettings",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastLoginTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the user logged in to the device, if available."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemUsersList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemUsersItem"
      },
      "traits": {
        "smithy.api#documentation": "The human users of the system. If it's not feasible to send only human users, prefer skipping sending users entirely."
      }
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemSystemScreenlockPoliciesItem": {
      "type": "structure",
      "members": {
        "requiresPassword": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "After the screenlock takes effect, does the user have to enter a password to access their device.",
            "smithy.api#required": {}
          }
        },
        "screenSleepTimeoutMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The timeout in milliseconds for screenlock to trigger.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemSystemScreenlockPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemSystemScreenlockPoliciesItem"
      },
      "traits": {
        "smithy.api#documentation": "System screenlock policy settings. Pass an empty list if this is tricky to retrieve for your system. Used for screenlock tests."
      }
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemPasswordPolicy": {
      "type": "structure",
      "members": {
        "minimumLengthRequirement": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the system has a password policy, what the minimum password length requirement is.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItem": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable label for this resource - will be shown as-is in inventory page.",
            "smithy.api#required": {}
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A stable global identifier for this resource.",
            "smithy.api#required": {}
          }
        },
        "externalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to this resource on the partner site. This must be a HTTPS URL.",
            "smithy.api#required": {}
          }
        },
        "collectedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp that indicates when the data being sent was collected from the host computer. In some cases, you may have staggered data collection for the various data being sent. In that case, feel free to use the latest collected timestamp for the individual data items to populate this field.",
            "smithy.api#required": {}
          }
        },
        "osName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OS name. Example: `MacOS Monterey`.",
            "smithy.api#required": {}
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OS version. Example: `Version 12.4`.",
            "smithy.api#required": {}
          }
        },
        "hardwareUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hardware UUID/UDID of the device.",
            "smithy.api#required": {}
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hardware serial number of the device.",
            "smithy.api#required": {}
          }
        },
        "applications": {
          "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemApplicationsList",
          "traits": {
            "smithy.api#documentation": "All the installed Mac Apps on the system.",
            "smithy.api#required": {}
          }
        },
        "browserExtensions": {
          "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemBrowserExtensionsList",
          "traits": {
            "smithy.api#documentation": "A list of browser extensions on this device. Used to match against known password managers to demonstrate use.",
            "smithy.api#required": {}
          }
        },
        "drives": {
          "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemDrivesList",
          "traits": {
            "smithy.api#documentation": "A list of drives on this device. Used to verify encryption status.",
            "smithy.api#required": {}
          }
        },
        "users": {
          "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemUsersList",
          "traits": {
            "smithy.api#documentation": "The human users of the system. If it's not feasible to send only human users, prefer skipping sending users entirely.",
            "smithy.api#required": {}
          }
        },
        "systemScreenlockPolicies": {
          "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemSystemScreenlockPoliciesList",
          "traits": {
            "smithy.api#documentation": "System screenlock policy settings. Pass an empty list if this is tricky to retrieve for your system. Used for screenlock tests.",
            "smithy.api#required": {}
          }
        },
        "isManaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is the system managed by a Mobile Device Management system.",
            "smithy.api#required": {}
          }
        },
        "autoUpdatesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Does the system have auto-updates enabled.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the owner of the system, if it's known."
          }
        },
        "passwordPolicy": {
          "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItemPasswordPolicy"
        },
        "lastEnrolledTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp that indicates when the host computer was last enrolled within your system. If the computer has been un-enrolled and then re-enrolled, send data for the most recent enrollment."
          }
        },
        "isXProtectEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is XProtect enabled on the system."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesItem"
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetMacosUserComputerResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.vanta.build_integrations#GetMacosUserComputerResponseResourcesList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vanta.build_integrations#GetMacosUserComputer": {
      "type": "operation",
      "input": {
        "target": "com.vanta.build_integrations#GetMacosUserComputerRequest"
      },
      "output": {
        "target": "com.vanta.build_integrations#GetMacosUserComputerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/resources/macos_user_computer",
          "code": 200
        },
        "smithy.api#documentation": "List all MacOS User Computers\n\nList `MacosUserComputer` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```"
      }
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemApplicationsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the application.",
            "smithy.api#required": {}
          }
        },
        "bundleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The bundle identifier of the application.",
            "smithy.api#required": {}
          }
        },
        "lastOpenedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the application was opened."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemApplicationsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemApplicationsItem"
      },
      "traits": {
        "smithy.api#documentation": "All the installed Mac Apps on the system."
      }
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemBrowserExtensionsItemBrowser": {
      "type": "enum",
      "members": {
        "CHROME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME"
          }
        },
        "FIREFOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIREFOX"
          }
        },
        "OPERA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERA"
          }
        },
        "SAFARI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAFARI"
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDGE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of browser. If you see something not on this list - if the browser is chromium based, use Chrome. Otherwise, skip sending the extension and contact Vanta for a longer term addition to this enum."
      }
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemBrowserExtensionsItem": {
      "type": "structure",
      "members": {
        "extensionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the browser extension.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the browser extension.",
            "smithy.api#required": {}
          }
        },
        "browser": {
          "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemBrowserExtensionsItemBrowser",
          "traits": {
            "smithy.api#documentation": "The type of browser. If you see something not on this list - if the browser is chromium based, use Chrome. Otherwise, skip sending the extension and contact Vanta for a longer term addition to this enum.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemBrowserExtensionsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemBrowserExtensionsItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of browser extensions on this device. Used to match against known password managers to demonstrate use."
      }
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemDrivesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the drive.",
            "smithy.api#required": {}
          }
        },
        "encrypted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Does the drive have some sort of encryption on it.",
            "smithy.api#required": {}
          }
        },
        "filevaultEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Does the drive have filevault enabled.",
            "smithy.api#required": {}
          }
        },
        "isBootVolume": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Metadata about the boot volume helps Vanta skip checking volumes that aren't relevant, like USB Drives."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemDrivesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemDrivesItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of drives on this device. Used to verify encryption status."
      }
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemUsersItemScreenlockPoliciesItem": {
      "type": "structure",
      "members": {
        "requiresPassword": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "After the screenlock takes effect, does the user have to enter a password to access their device.",
            "smithy.api#required": {}
          }
        },
        "screenSleepTimeoutMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The timeout in milliseconds for screenlock to trigger.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemUsersItemScreenlockPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemUsersItemScreenlockPoliciesItem"
      },
      "traits": {
        "smithy.api#documentation": "If the source system cannot easily retrieve screenlock policies, it's OK to skip this data."
      }
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemUsersItemScreenlockSettings": {
      "type": "structure",
      "members": {
        "requiresPassword": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "After the screenlock takes effect, does the user have to enter a password to access their device.",
            "smithy.api#required": {}
          }
        },
        "screenSleepTimeoutMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The timeout in milliseconds for screenlock to trigger.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemUsersItem": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's username. Does not have to be unique.",
            "smithy.api#required": {}
          }
        },
        "screenlockPolicies": {
          "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemUsersItemScreenlockPoliciesList",
          "traits": {
            "smithy.api#documentation": "If the source system cannot easily retrieve screenlock policies, it's OK to skip this data.",
            "smithy.api#required": {}
          }
        },
        "screenlockSettings": {
          "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemUsersItemScreenlockSettings",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastLoginTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the user logged in to the device, if available."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemUsersList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemUsersItem"
      },
      "traits": {
        "smithy.api#documentation": "The human users of the system. If it's not feasible to send only human users, prefer skipping sending users entirely."
      }
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemSystemScreenlockPoliciesItem": {
      "type": "structure",
      "members": {
        "requiresPassword": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "After the screenlock takes effect, does the user have to enter a password to access their device.",
            "smithy.api#required": {}
          }
        },
        "screenSleepTimeoutMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The timeout in milliseconds for screenlock to trigger.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemSystemScreenlockPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemSystemScreenlockPoliciesItem"
      },
      "traits": {
        "smithy.api#documentation": "System screenlock policy settings. Pass an empty list if this is tricky to retrieve for your system. Used for screenlock tests."
      }
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemPasswordPolicy": {
      "type": "structure",
      "members": {
        "minimumLengthRequirement": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the system has a password policy, what the minimum password length requirement is.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItem": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable label for this resource - will be shown as-is in inventory page.",
            "smithy.api#required": {}
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A stable global identifier for this resource.",
            "smithy.api#required": {}
          }
        },
        "externalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to this resource on the partner site. This must be a HTTPS URL.",
            "smithy.api#required": {}
          }
        },
        "collectedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp that indicates when the data being sent was collected from the host computer. In some cases, you may have staggered data collection for the various data being sent. In that case, feel free to use the latest collected timestamp for the individual data items to populate this field.",
            "smithy.api#required": {}
          }
        },
        "osName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OS name. Example: `MacOS Monterey`.",
            "smithy.api#required": {}
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OS version. Example: `Version 12.4`.",
            "smithy.api#required": {}
          }
        },
        "hardwareUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hardware UUID/UDID of the device.",
            "smithy.api#required": {}
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hardware serial number of the device.",
            "smithy.api#required": {}
          }
        },
        "applications": {
          "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemApplicationsList",
          "traits": {
            "smithy.api#documentation": "All the installed Mac Apps on the system.",
            "smithy.api#required": {}
          }
        },
        "browserExtensions": {
          "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemBrowserExtensionsList",
          "traits": {
            "smithy.api#documentation": "A list of browser extensions on this device. Used to match against known password managers to demonstrate use.",
            "smithy.api#required": {}
          }
        },
        "drives": {
          "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemDrivesList",
          "traits": {
            "smithy.api#documentation": "A list of drives on this device. Used to verify encryption status.",
            "smithy.api#required": {}
          }
        },
        "users": {
          "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemUsersList",
          "traits": {
            "smithy.api#documentation": "The human users of the system. If it's not feasible to send only human users, prefer skipping sending users entirely.",
            "smithy.api#required": {}
          }
        },
        "systemScreenlockPolicies": {
          "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemSystemScreenlockPoliciesList",
          "traits": {
            "smithy.api#documentation": "System screenlock policy settings. Pass an empty list if this is tricky to retrieve for your system. Used for screenlock tests.",
            "smithy.api#required": {}
          }
        },
        "isManaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is the system managed by a Mobile Device Management system.",
            "smithy.api#required": {}
          }
        },
        "autoUpdatesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Does the system have auto-updates enabled.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the owner of the system, if it's known."
          }
        },
        "passwordPolicy": {
          "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItemPasswordPolicy"
        },
        "lastEnrolledTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp that indicates when the host computer was last enrolled within your system. If the computer has been un-enrolled and then re-enrolled, send data for the most recent enrollment."
          }
        },
        "isXProtectEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is XProtect enabled on the system."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesItem"
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutMacosUserComputerRequest": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.vanta.build_integrations#PutMacosUserComputerRequestResourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.build_integrations#PutMacosUserComputerResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vanta.build_integrations#PutMacosUserComputer": {
      "type": "operation",
      "input": {
        "target": "com.vanta.build_integrations#PutMacosUserComputerRequest"
      },
      "output": {
        "target": "com.vanta.build_integrations#PutMacosUserComputerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/resources/macos_user_computer",
          "code": 200
        },
        "smithy.api#documentation": "Sync all MacOS User Computers\n\nTo send us data related to employee/contractor MacOS computers, you send us `MacosUserComputer` resources. This helps us determine important security properties, like whether devices have encrypted drives, have anti-virus installed or have password managers installed.\n\nThis call replaces ALL existing `MacosUserComputer` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `MacosUserComputer` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `MacosUserComputer`."
      }
    },
    "com.vanta.build_integrations#GetPackageVulnerabilityConnectorsRequest": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceId",
            "smithy.api#required": {},
            "smithy.api#documentation": "Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.build_integrations#GetPackageVulnerabilityConnectorsResponseResourcesItem": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable label for this resource - will be shown as-is in inventory page.",
            "smithy.api#required": {}
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A stable global identifier for this resource.",
            "smithy.api#required": {}
          }
        },
        "externalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to this resource on the partner site. This must be a HTTPS URL.",
            "smithy.api#required": {}
          }
        },
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the package associated with the vulnerability.",
            "smithy.api#required": {}
          }
        },
        "packageVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the package associated with the vulnerability.",
            "smithy.api#required": {}
          }
        },
        "severity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The severity of the vulnerability, on a scale of 0 to 10. This will be rounded to the nearest tenth.",
            "smithy.api#required": {}
          }
        },
        "vulnerableComponentUniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the vulnerable component associated with the vulnerability. This must reference the `uniqueId` field in the a previously supplied `VulnerableComponent`.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the vulnerability.",
            "smithy.api#required": {}
          }
        },
        "isResolvable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the vulnerability can be resolved.",
            "smithy.api#required": {}
          }
        },
        "remediationInstructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instructions for remediating the vulnerability.",
            "smithy.api#required": {}
          }
        },
        "isReachable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there is a code path to the vulnerable code in this package. This field is optional."
          }
        },
        "cveId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Common Vulnerabilities and Exposures (CVE) identifier for the vulnerability. This field is optional."
          }
        },
        "cvss3Vector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Common Vulnerability Scoring System (CVSS) version 3 vector for the vulnerability. This field is optional."
          }
        },
        "cvss3Score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Common Vulnerability Scoring System (CVSS) version 3 score for the vulnerability. This field is optional."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetPackageVulnerabilityConnectorsResponseResourcesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#GetPackageVulnerabilityConnectorsResponseResourcesItem"
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetPackageVulnerabilityConnectorsResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.vanta.build_integrations#GetPackageVulnerabilityConnectorsResponseResourcesList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vanta.build_integrations#GetPackageVulnerabilityConnectors": {
      "type": "operation",
      "input": {
        "target": "com.vanta.build_integrations#GetPackageVulnerabilityConnectorsRequest"
      },
      "output": {
        "target": "com.vanta.build_integrations#GetPackageVulnerabilityConnectorsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/resources/package_vulnerability_connectors",
          "code": 200
        },
        "smithy.api#documentation": "List all Package Vulnerabilities\n\nList `PackageVulnerabilityConnectors` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```"
      }
    },
    "com.vanta.build_integrations#PutPackageVulnerabilityConnectorsRequestResourcesItem": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable label for this resource - will be shown as-is in inventory page.",
            "smithy.api#required": {}
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A stable global identifier for this resource.",
            "smithy.api#required": {}
          }
        },
        "externalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to this resource on the partner site. This must be a HTTPS URL.",
            "smithy.api#required": {}
          }
        },
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the package associated with the vulnerability.",
            "smithy.api#required": {}
          }
        },
        "packageVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the package associated with the vulnerability.",
            "smithy.api#required": {}
          }
        },
        "severity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The severity of the vulnerability, on a scale of 0 to 10. This will be rounded to the nearest tenth.",
            "smithy.api#required": {}
          }
        },
        "vulnerableComponentUniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the vulnerable component associated with the vulnerability. This must reference the `uniqueId` field in the a previously supplied `VulnerableComponent`.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the vulnerability.",
            "smithy.api#required": {}
          }
        },
        "isResolvable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the vulnerability can be resolved.",
            "smithy.api#required": {}
          }
        },
        "remediationInstructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instructions for remediating the vulnerability.",
            "smithy.api#required": {}
          }
        },
        "isReachable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there is a code path to the vulnerable code in this package. This field is optional."
          }
        },
        "cveId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Common Vulnerabilities and Exposures (CVE) identifier for the vulnerability. This field is optional."
          }
        },
        "cvss3Vector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Common Vulnerability Scoring System (CVSS) version 3 vector for the vulnerability. This field is optional."
          }
        },
        "cvss3Score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Common Vulnerability Scoring System (CVSS) version 3 score for the vulnerability. This field is optional."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutPackageVulnerabilityConnectorsRequestResourcesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#PutPackageVulnerabilityConnectorsRequestResourcesItem"
      },
      "traits": {}
    },
    "com.vanta.build_integrations#PutPackageVulnerabilityConnectorsRequest": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.vanta.build_integrations#PutPackageVulnerabilityConnectorsRequestResourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.build_integrations#PutPackageVulnerabilityConnectorsResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vanta.build_integrations#PutPackageVulnerabilityConnectors": {
      "type": "operation",
      "input": {
        "target": "com.vanta.build_integrations#PutPackageVulnerabilityConnectorsRequest"
      },
      "output": {
        "target": "com.vanta.build_integrations#PutPackageVulnerabilityConnectorsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/resources/package_vulnerability_connectors",
          "code": 200
        },
        "smithy.api#documentation": "Sync all Package Vulnerabilities\n\nTo send us data related to package vulnerabilities. Note that you must first sync `VulnerableComponent` resources before sending us this data, and this sync should reference the `uniqueId` field in the `VulnerableComponent` resource.\n\nThis call replaces ALL existing `PackageVulnerabilityConnectors` resources for the given app and `source_id` - this is a \"state of the world\" sync. In other words, if a `PackageVulnerabilityConnectors` resource is sent for a user in a previous `sync_all` call, but is not included in a later `sync_all` call for that customer, it is assumed to no longer exist and is deleted in Vanta.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:write-resource\n```\n\n** Schema **\n\nExpand the `resources` array below for the schema of `PackageVulnerabilityConnectors`."
      }
    },
    "com.vanta.build_integrations#GetSecretRequest": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceId",
            "smithy.api#required": {},
            "smithy.api#documentation": "Vanta generated identifier for the given resource, and can be found on the developer console page. See the list of registered resources and their IDs on https://app.vanta.com/settings/developer-console/<app_id>?tab=resources"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.build_integrations#GetSecretResponseResourcesItem": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable label for this resource - will be shown as-is in inventory page.",
            "smithy.api#required": {}
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A stable global identifier for this resource.",
            "smithy.api#required": {}
          }
        },
        "externalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to this resource on the partner site. This must be a HTTPS URL.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the secret, if any.",
            "smithy.api#required": {}
          }
        },
        "createdTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret was created.",
            "smithy.api#required": {}
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creator of the secret.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current owner of the secret. Vanta will check that every secret has a valid owner.",
            "smithy.api#required": {}
          }
        },
        "updatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret was last updated."
          }
        },
        "lastAccessedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret was last accessed."
          }
        },
        "expiresTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret is set to expire, if relevant."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetSecretResponseResourcesList": {
      "type": "list",
      "member": {
        "target": "com.vanta.build_integrations#GetSecretResponseResourcesItem"
      },
      "traits": {}
    },
    "com.vanta.build_integrations#GetSecretResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.vanta.build_integrations#GetSecretResponseResourcesList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vanta.build_integrations#GetSecret": {
      "type": "operation",
      "input": {
        "target": "com.vanta.build_integrations#GetSecretRequest"
      },
      "output": {
        "target": "com.vanta.build_integrations#GetSecretResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/resources/secret",
          "code": 200
        },
        "smithy.api#documentation": "List all secrets\n\nList `Secret` resources for the given application.\n\n** Headers **\n```\nAuthorization: Bearer <access_token>\n```\n\n** Scopes **\n```\nconnectors.self:read-resource\n```"
      }
    },
    "com.vanta.build_integrations#PutSecretRequestResourcesItem": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable label for this resource - will be shown as-is in inventory page.",
            "smithy.api#required": {}
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A stable global identifier for this resource.",
            "smithy.api#required": {}
          }
        },
        "externalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to this resource on the partner site. This must be a HTTPS URL.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the secret, if any.",
            "smithy.api#required": {}
          }
        },
        "createdTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret was created.",
            "smithy.api#required": {}
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creator of the secret.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current owner of the secret. Vanta will check that every secret has a valid owner.",
            "smithy.api#required": {}
          }
        },
        "updatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret was last updated."
          }
        },
        "lastAccessedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret was last accessed."
          }
        },
        "expiresTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret is set to expire, if relevant."
[...]
