{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vanta.manage_vanta#ListContractsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageCursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#PaginatedResponseContract": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.vanta.manage_vanta#PaginatedResponseContractResults",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#Contract": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the contract.",
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable source-system identifier for the contract, if any.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the contract.",
            "smithy.api#required": {}
          }
        },
        "customerTrustAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the customer trust account this contract is linked to, if any.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "executedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date this contract was executed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date this contract was created in Vanta.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#PaginatedResponseContractResultsDataList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#Contract"
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#PageInfo": {
      "type": "structure",
      "members": {
        "endCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor that points to the end of the current page, or null if there is no such cursor.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasNextPage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there is another page after the current page.",
            "smithy.api#required": {}
          }
        },
        "hasPreviousPage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there is a page before the current page.",
            "smithy.api#required": {}
          }
        },
        "startCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor that points to the start of the current page, or null if there is no such cursor.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides information about the pagination of a dataset."
      }
    },
    "com.vanta.manage_vanta#PaginatedResponseContractResults": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vanta.manage_vanta#PaginatedResponseContractResultsDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pageInfo": {
          "target": "com.vanta.manage_vanta#PageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#ListContracts": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#ListContractsRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#PaginatedResponseContract"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/contracts",
          "code": 200
        },
        "smithy.api#documentation": "List contracts\n\nList contracts, paginated."
      }
    },
    "com.vanta.manage_vanta#UploadContractRequest": {
      "type": "structure",
      "members": {
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contract file to upload. Only PDF files are accepted.",
            "smithy.api#required": {}
          }
        },
        "executedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 date indicating when the contract was executed."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the customer trust account to associate with this contract."
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable source-system identifier used to reject duplicate contract uploads; repeats return 409. Use the upstream document or record ID when available, such as the Microsoft Graph DriveItem ID for SharePoint or the Ironclad record ID for Ironclad. If there is no source system, generate and store a durable idempotency key. Maximum 256 characters."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#UploadContract": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#UploadContractRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#Contract"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/contracts",
          "code": 200,
          "contentType": "multipart"
        },
        "smithy.api#documentation": "Upload contract\n\nUpload a contract.\n\nRate limit: 10 requests / minute.",
        "com.distilled.openapi#contentType": "multipart"
      }
    },
    "com.vanta.manage_vanta#GetContractRequest": {
      "type": "structure",
      "members": {
        "contractId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#GetContract": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#GetContractRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#Contract"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/contracts/{contractId}",
          "code": 200
        },
        "smithy.api#documentation": "Get contract\n\nGet a contract by ID."
      }
    },
    "com.vanta.manage_vanta#DeleteContractRequest": {
      "type": "structure",
      "members": {
        "contractId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#DeleteContract": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#DeleteContractRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/contracts/{contractId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete contract\n\nDelete a contract by ID."
      }
    },
    "com.vanta.manage_vanta#ListControlsRequestFrameworkMatchesAnyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#ListControlsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageCursor"
          }
        },
        "frameworkMatchesAny": {
          "target": "com.vanta.manage_vanta#ListControlsRequestFrameworkMatchesAnyList",
          "traits": {
            "smithy.api#httpQuery": "frameworkMatchesAny",
            "smithy.api#documentation": "Includes all controls belonging to one of the provided framework values in frameworkMatchesAny."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#PaginatedResponseControl": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.vanta.manage_vanta#PaginatedResponseControlResults",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#Control": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's unique ID.",
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's external ID.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's description.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.vanta.manage_vanta#ControlSource",
          "traits": {
            "smithy.api#documentation": "The control's source, either \"VANTA\" or \"CUSTOM\".",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.vanta.manage_vanta#ControlDomainsList",
          "traits": {
            "smithy.api#documentation": "The security domains that the control belongs to.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.vanta.manage_vanta#Owner",
          "traits": {
            "smithy.api#documentation": "The control's owner.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's GDPR role, if the control is a GDPR control.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "customFields": {
          "target": "com.vanta.manage_vanta#ControlCustomFieldsList",
          "traits": {
            "smithy.api#documentation": "The control's custom field values, if control custom fields is included in your Vanta instance.",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the control was created. Returns null for Vanta library controls.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "modificationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the control was last modified. Returns null for Vanta library controls.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#ControlSource": {
      "type": "enum",
      "members": {
        "VANTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Vanta"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Custom"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#ControlDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The security domains that the control belongs to."
      }
    },
    "com.vanta.manage_vanta#Owner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the person.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the person that is shown in product.",
            "smithy.api#required": {}
          }
        },
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the person.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#CustomField": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.vanta.manage_vanta#CustomFieldValue",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#CustomFieldValueCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#CustomFieldValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vanta.manage_vanta#CustomFieldValueCase1List"
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#ControlCustomFieldsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#CustomField"
      },
      "traits": {
        "smithy.api#documentation": "The control's custom field values, if control custom fields is included in your Vanta instance."
      }
    },
    "com.vanta.manage_vanta#PaginatedResponseControlResultsDataList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#Control"
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#PaginatedResponseControlResults": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vanta.manage_vanta#PaginatedResponseControlResultsDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pageInfo": {
          "target": "com.vanta.manage_vanta#PageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#ListControls": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#ListControlsRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#PaginatedResponseControl"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/controls",
          "code": 200
        },
        "smithy.api#documentation": "List controls\n\nList controls."
      }
    },
    "com.vanta.manage_vanta#ControlDomain": {
      "type": "enum",
      "members": {
        "ARTIFICIAL_AUTONOMOUS_TECHNOLOGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTIFICIAL_&_AUTONOMOUS_TECHNOLOGY"
          }
        },
        "ASSET_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_MANAGEMENT"
          }
        },
        "BUSINESS_CONTINUITY_DISASTER_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_CONTINUITY_&_DISASTER_RECOVERY"
          }
        },
        "CAPACITY_PERFORMANCE_PLANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPACITY_&_PERFORMANCE_PLANNING"
          }
        },
        "CHANGE_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_MANAGEMENT"
          }
        },
        "CLOUD_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SECURITY"
          }
        },
        "COMPLIANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANCE"
          }
        },
        "CONFIGURATION_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIGURATION_MANAGEMENT"
          }
        },
        "CONTINUOUS_MONITORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTINUOUS_MONITORING"
          }
        },
        "CRYPTOGRAPHIC_PROTECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRYPTOGRAPHIC_PROTECTIONS"
          }
        },
        "DATA_CLASSIFICATION_HANDLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_CLASSIFICATION_&_HANDLING"
          }
        },
        "EMBEDDED_TECHNOLOGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMBEDDED_TECHNOLOGY"
          }
        },
        "ENDPOINT_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_SECURITY"
          }
        },
        "HUMAN_RESOURCES_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_RESOURCES_SECURITY"
          }
        },
        "IDENTIFICATION_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTIFICATION_&_AUTHENTICATION"
          }
        },
        "INCIDENT_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCIDENT_RESPONSE"
          }
        },
        "INFORMATION_ASSURANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFORMATION_ASSURANCE"
          }
        },
        "MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINTENANCE"
          }
        },
        "MOBILE_DEVICE_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_DEVICE_MANAGEMENT"
          }
        },
        "NETWORK_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK SECURITY"
          }
        },
        "PHYSICAL_ENVIRONMENTAL_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHYSICAL_&_ENVIRONMENTAL_SECURITY"
          }
        },
        "PRIVACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVACY"
          }
        },
        "PROJECT_RESOURCE_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_&_RESOURCE MANAGEMENT"
          }
        },
        "RISK_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_MANAGEMENT"
          }
        },
        "SECURE_ENGINEERING_ARCHITECTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_ENGINEERING_&_ARCHITECTURE"
          }
        },
        "SECURITY_AWARENESS_TRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_AWARENESS_&_TRAINING"
          }
        },
        "SECURITY_OPERATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_OPERATIONS"
          }
        },
        "SECURITY_PRIVACY_GOVERNANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_&_PRIVACY_GOVERNANCE"
          }
        },
        "TECHNOLOGY_DEVELOPMENT_ACQUISITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TECHNOLOGY_DEVELOPMENT_&_ACQUISITION"
          }
        },
        "THIRD_PARTY_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIRD-PARTY_MANAGEMENT"
          }
        },
        "THREAT_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_MANAGEMENT"
          }
        },
        "VULNERABILITY_PATCH_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY_&_PATCH_MANAGEMENT"
          }
        },
        "WEB_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEB_SECURITY"
          }
        },
        "ADMINISTRATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMINISTRATIVE"
          }
        },
        "PHYSICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHYSICAL"
          }
        },
        "TECHNICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TECHNICAL"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "DERIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DERIVED"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#FrameworkSection": {
      "type": "structure",
      "members": {
        "frameworkId": {
          "target": "com.vanta.manage_vanta#FrameworkSectionFrameworkId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#FrameworkId": {
      "type": "enum",
      "members": {
        "AU_E_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AU_E_8"
          }
        },
        "AWS_FTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_FTR"
          }
        },
        "CCPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CCPA"
          }
        },
        "CIS_V8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CIS_V8"
          }
        },
        "CPS_234": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPS_234"
          }
        },
        "DORA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DORA"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDRAMP"
          }
        },
        "GDPR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GDPR"
          }
        },
        "HIPAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIPAA"
          }
        },
        "HITRUST_E1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HITRUST_E1"
          }
        },
        "ISO_27001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO_27001"
          }
        },
        "ISO_27001_2022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO_27001_2022"
          }
        },
        "ISO_27017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO_27017"
          }
        },
        "ISO_27018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO_27018"
          }
        },
        "ISO_27701": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO_27701"
          }
        },
        "ISO_42001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO_42001"
          }
        },
        "ISO_9001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISO_9001"
          }
        },
        "MSFT_SSPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSFT_SSPA"
          }
        },
        "MVSP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MVSP"
          }
        },
        "NIS_2D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIS_2D"
          }
        },
        "NIST_171": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIST_171"
          }
        },
        "NIST_171_R3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIST_171_R3"
          }
        },
        "NIST_53": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIST_53"
          }
        },
        "NIST_AI_RMF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIST_AI_RMF"
          }
        },
        "NIST_CSF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIST_CSF"
          }
        },
        "NIST_CSF_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIST_CSF_2"
          }
        },
        "OFDSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFDSS"
          }
        },
        "PCI_SAQ_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCI_SAQ_A"
          }
        },
        "PCI_SAQ_A_EP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCI_SAQ_A_EP"
          }
        },
        "PCI_SAQ_D_MERCHANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCI_SAQ_D_MERCHANT"
          }
        },
        "PCI_SAQ_D_SP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCI_SAQ_D_SP"
          }
        },
        "PCI_DDS_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCI_DDS_4"
          }
        },
        "SOC_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOC_2"
          }
        },
        "SOX_ITGC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOX_ITGC"
          }
        },
        "UK_CYBER_ESSENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UK_CYBER_ESSENTIALS"
          }
        },
        "US_DATA_PRIVACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US_DATA_PRIVACY"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#FrameworkSectionFrameworkId": {
      "type": "union",
      "members": {
        "FrameworkId": {
          "target": "com.vanta.manage_vanta#FrameworkId"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#CreateCustomControlRequestSectionsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#FrameworkSection"
      },
      "traits": {
        "smithy.api#documentation": "The framework sections that the control maps to."
      }
    },
    "com.vanta.manage_vanta#GdprRole": {
      "type": "enum",
      "members": {
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTH"
          }
        },
        "CONTROLLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTROLLER"
          }
        },
        "PROCESSOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSOR"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#CreateCustomControlRequestCustomFieldsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#CustomField"
      },
      "traits": {
        "smithy.api#documentation": "The control's values for custom fields."
      }
    },
    "com.vanta.manage_vanta#CreateCustomControlRequest": {
      "type": "structure",
      "members": {
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's external ID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's name.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's description.",
            "smithy.api#required": {}
          }
        },
        "effectiveDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective date of the control.",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "com.vanta.manage_vanta#ControlDomain",
          "traits": {
            "smithy.api#documentation": "The control's category.",
            "smithy.api#required": {}
          }
        },
        "sections": {
          "target": "com.vanta.manage_vanta#CreateCustomControlRequestSectionsList",
          "traits": {
            "smithy.api#documentation": "The framework sections that the control maps to.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.vanta.manage_vanta#GdprRole",
          "traits": {
            "smithy.api#documentation": "The GDPR role of the control, which specifies whether the data is being \"collected\" or \"processed\".\nThis field should only be included for controls that are to be mapped to the GDPR framework.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "customFields": {
          "target": "com.vanta.manage_vanta#CreateCustomControlRequestCustomFieldsList",
          "traits": {
            "smithy.api#documentation": "The control's values for custom fields."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#CreateCustomControl": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#CreateCustomControlRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#Control"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/controls",
          "code": 200
        },
        "smithy.api#documentation": "Create custom control\n\nCreate a custom control."
      }
    },
    "com.vanta.manage_vanta#AddControlFromLibraryRequest": {
      "type": "structure",
      "members": {
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the control to be added.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#AddControlFromLibrary": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#AddControlFromLibraryRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#Control"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/controls/add-from-library",
          "code": 200
        },
        "smithy.api#documentation": "Add control from Vanta library\n\nAdd a control from the Vanta library to your organization's controls."
      }
    },
    "com.vanta.manage_vanta#ListDeactivatedControlsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageCursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#ListDeactivatedControls": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#ListDeactivatedControlsRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#PaginatedResponseControl"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/controls/deactivated-controls",
          "code": 200
        },
        "smithy.api#documentation": "List deactivated controls\n\nList deactivated Vanta controls (previously known as the controls library)."
      }
    },
    "com.vanta.manage_vanta#GetControlRequest": {
      "type": "structure",
      "members": {
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#ControlDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's unique ID.",
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's external ID.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's description.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.vanta.manage_vanta#ControlSource",
          "traits": {
            "smithy.api#documentation": "The control's source, either \"VANTA\" or \"CUSTOM\".",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.vanta.manage_vanta#ControlDetailDomainsList",
          "traits": {
            "smithy.api#documentation": "The security domains that the control belongs to.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.vanta.manage_vanta#Owner",
          "traits": {
            "smithy.api#documentation": "The control's owner.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's GDPR role, if the control is a GDPR control.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "customFields": {
          "target": "com.vanta.manage_vanta#ControlDetailCustomFieldsList",
          "traits": {
            "smithy.api#documentation": "The control's custom field values, if control custom fields is included in your Vanta instance.",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the control was created. Returns null for Vanta library controls.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "modificationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the control was last modified. Returns null for Vanta library controls.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "numDocumentsPassing": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of passing documents that are linked to the control.",
            "smithy.api#required": {}
          }
        },
        "numDocumentsTotal": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total number of documents that are linked to the control.",
            "smithy.api#required": {}
          }
        },
        "numTestsPassing": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of passing tests that are linked to the control.",
            "smithy.api#required": {}
          }
        },
        "numTestsTotal": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total number of tests that are linked to the control.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vanta.manage_vanta#ControlStatus",
          "traits": {
            "smithy.api#documentation": "The status of the control as determined by number of passing tests and documents.",
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user created note for the control.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#ControlDetailDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The security domains that the control belongs to."
      }
    },
    "com.vanta.manage_vanta#ControlDetailCustomFieldsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#CustomField"
      },
      "traits": {
        "smithy.api#documentation": "The control's custom field values, if control custom fields is included in your Vanta instance."
      }
    },
    "com.vanta.manage_vanta#ControlStatus": {
      "type": "enum",
      "members": {
        "NO_EVIDENCE_MAPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_EVIDENCE_MAPPED"
          }
        },
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STARTED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#GetControl": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#GetControlRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#ControlDetail"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/controls/{controlId}",
          "code": 200
        },
        "smithy.api#documentation": "Get control by an ID\n\nGet a control by an ID."
      }
    },
    "com.vanta.manage_vanta#UpdateControlMetadataRequestCustomFieldsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#CustomField"
      },
      "traits": {
        "smithy.api#documentation": "The control's new values for custom fields."
      }
    },
    "com.vanta.manage_vanta#UpdateControlMetadataRequest": {
      "type": "structure",
      "members": {
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A new name for the control."
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new external ID for the control."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new description for the control."
          }
        },
        "domain": {
          "target": "com.vanta.manage_vanta#ControlDomain",
          "traits": {
            "smithy.api#documentation": "The new category for the control."
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new note for the control."
          }
        },
        "customFields": {
          "target": "com.vanta.manage_vanta#UpdateControlMetadataRequestCustomFieldsList",
          "traits": {
            "smithy.api#documentation": "The control's new values for custom fields."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#UpdateControlMetadata": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#UpdateControlMetadataRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#ControlDetail"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/controls/{controlId}",
          "code": 200
        },
        "smithy.api#documentation": "Update a control's metadata\n\nUpdate a control's metadata."
      }
    },
    "com.vanta.manage_vanta#DeleteControlRequest": {
      "type": "structure",
      "members": {
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#DeleteControl": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#DeleteControlRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/controls/{controlId}",
          "code": 200
        },
        "smithy.api#documentation": "Deactivates a control\n\nDeactivates a custom or Vanta control."
      }
    },
    "com.vanta.manage_vanta#AddDocumentToControlRequest": {
      "type": "structure",
      "members": {
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "documentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the document to add to the control.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#Document": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The document's unique ID.",
            "smithy.api#required": {}
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user ID of the document's owner.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "category": {
          "target": "com.vanta.manage_vanta#DocumentAndTestCategory",
          "traits": {
            "smithy.api#documentation": "The document's category.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The document's description.",
            "smithy.api#required": {}
          }
        },
        "isSensitive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether or not the document is sensitive.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The document's title.",
            "smithy.api#required": {}
          }
        },
        "uploadStatus": {
          "target": "com.vanta.manage_vanta#DocumentStatus",
          "traits": {
            "smithy.api#documentation": "The document's status.",
            "smithy.api#required": {}
          }
        },
        "uploadStatusDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date the document's uploadStatus changed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to view the document within Vanta.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#DocumentAndTestCategory": {
      "type": "enum",
      "members": {
        "ACCOUNTS_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accounts access"
          }
        },
        "ACCOUNT_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Account security"
          }
        },
        "ACCOUNT_SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Account setup"
          }
        },
        "COMPUTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Computers"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Custom"
          }
        },
        "DATA_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Data storage"
          }
        },
        "EMPLOYEES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Employees"
          }
        },
        "INFRASTRUCTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Infrastructure"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT"
          }
        },
        "LOGGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Logging"
          }
        },
        "MONITORING_ALERTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monitoring alerts"
          }
        },
        "PEOPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "People"
          }
        },
        "POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Policies"
          }
        },
        "RISK_ANALYSIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Risk analysis"
          }
        },
        "SOFTWARE_DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Software development"
          }
        },
        "CSPM_ALERT_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSPM alert management"
          }
        },
        "VENDORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Vendors"
          }
        },
        "VULNERABILITY_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Vulnerability management"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#DocumentStatus": {
      "type": "enum",
      "members": {
        "NEEDS_DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Needs document"
          }
        },
        "NEEDS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Needs update"
          }
        },
        "NOT_RELEVANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Not relevant"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#AddDocumentToControlResponse": {
      "type": "structure",
      "members": {
        "document": {
          "target": "com.vanta.manage_vanta#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "control": {
          "target": "com.vanta.manage_vanta#Control",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vanta.manage_vanta#AddDocumentToControl": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#AddDocumentToControlRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#AddDocumentToControlResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/controls/{controlId}/add-document-to-control",
          "code": 200
        },
        "smithy.api#documentation": "Add control to document mapping\n\nAdd a document to a control."
      }
    },
    "com.vanta.manage_vanta#AddTestToControlRequest": {
      "type": "structure",
      "members": {
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "testId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the test to add to the control.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#Test": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The test's unique ID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The test's name.",
            "smithy.api#required": {}
          }
        },
        "lastTestRunDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of the last test run.",
            "smithy.api#required": {}
          }
        },
        "latestFlipDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The most recent date when the test flipped.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The test's description.",
            "smithy.api#required": {}
          }
        },
        "failureDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The test's failure description.",
            "smithy.api#required": {}
          }
        },
        "remediationDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The test's remediation description.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.vanta.manage_vanta#TestVersion",
          "traits": {
            "smithy.api#documentation": "The test's version.",
            "smithy.api#required": {}
          }
        },
        "category": {
          "target": "com.vanta.manage_vanta#DocumentAndTestCategory",
          "traits": {
            "smithy.api#documentation": "The test's category.",
            "smithy.api#required": {}
          }
        },
        "integrations": {
          "target": "com.vanta.manage_vanta#TestIntegrationsList",
          "traits": {
            "smithy.api#documentation": "This test's third-party integration dependencies.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vanta.manage_vanta#TestStatus",
          "traits": {
            "smithy.api#documentation": "This test run's status.",
            "smithy.api#required": {}
          }
        },
        "deactivatedStatusInfo": {
          "target": "com.vanta.manage_vanta#DeactivatedStatusInfo",
          "traits": {
            "smithy.api#documentation": "The test's deactivation status.",
            "smithy.api#required": {}
          }
        },
        "remediationStatusInfo": {
          "target": "com.vanta.manage_vanta#RemediationStatusInfo",
          "traits": {
            "smithy.api#documentation": "The test's remediation status.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.vanta.manage_vanta#Owner",
          "traits": {
            "smithy.api#documentation": "The test's owner.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#TestVersion": {
      "type": "structure",
      "members": {
        "minor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The minor version number.",
            "smithy.api#required": {}
          }
        },
        "major": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The major version number.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The test's version."
      }
    },
    "com.vanta.manage_vanta#TestIntegrationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "This test's third-party integration dependencies."
      }
    },
    "com.vanta.manage_vanta#TestStatus": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "DEACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEACTIVATED"
          }
        },
        "NEEDS_ATTENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEEDS_ATTENTION"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        },
        "NOT_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_APPLICABLE"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#DeactivatedStatusInfo": {
      "type": "structure",
      "members": {
        "isDeactivated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The deactivated status of the test.",
            "smithy.api#required": {}
          }
        },
        "deactivatedReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for deactivation.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastUpdatedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date of the last update to the deactivated status.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#RemediationStatusInfo": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.vanta.manage_vanta#TestRemediationStatus",
          "traits": {
            "smithy.api#documentation": "The status of the remediation.",
            "smithy.api#required": {}
          }
        },
        "soonestRemediateByDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The soonest date by which the remediation should be completed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "itemCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of items that need remediation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#TestRemediationStatus": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DUE_SOON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUE_SOON"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "NA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NA"
          }
        },
        "NEEDS_WORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEEDS_WORK"
          }
        },
        "OVERDUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERDUE"
          }
        },
        "PASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum for the possible test remediation statuses"
      }
    },
    "com.vanta.manage_vanta#AddTestToControlResponse": {
      "type": "structure",
      "members": {
        "test": {
          "target": "com.vanta.manage_vanta#Test",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "control": {
          "target": "com.vanta.manage_vanta#Control",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vanta.manage_vanta#AddTestToControl": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#AddTestToControlRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#AddTestToControlResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/controls/{controlId}/add-test-to-control",
          "code": 200
        },
        "smithy.api#documentation": "Add control to test mapping\n\nAdd a control to test mapping."
      }
    },
    "com.vanta.manage_vanta#ListDocumentsForControlRequest": {
      "type": "structure",
      "members": {
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageCursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#PaginatedResponseDocument": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.vanta.manage_vanta#PaginatedResponseDocumentResults",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#PaginatedResponseDocumentResultsDataList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#Document"
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#PaginatedResponseDocumentResults": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vanta.manage_vanta#PaginatedResponseDocumentResultsDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pageInfo": {
          "target": "com.vanta.manage_vanta#PageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#ListDocumentsForControl": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#ListDocumentsForControlRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#PaginatedResponseDocument"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/controls/{controlId}/documents",
          "code": 200
        },
        "smithy.api#documentation": "List a control's documents\n\nList a control's documents."
      }
    },
    "com.vanta.manage_vanta#DeleteDocumentForcontrolRequest": {
      "type": "structure",
      "members": {
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "documentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#DeleteDocumentForcontrol": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#DeleteDocumentForcontrolRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/controls/{controlId}/documents/{documentId}",
          "code": 200
        },
        "smithy.api#documentation": "Remove control from document mapping\n\nRemove a document by ID from a control."
      }
    },
    "com.vanta.manage_vanta#SetOwnerForControlRequest": {
      "type": "structure",
      "members": {
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new owner's ID.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#SetOwnerForControl": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#SetOwnerForControlRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#Control"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/controls/{controlId}/set-owner",
          "code": 200
        },
        "smithy.api#documentation": "Set owner of a control\n\nAssign a control to a user or remove an owner from a control."
      }
    },
    "com.vanta.manage_vanta#ListTestsForControlRequest": {
      "type": "structure",
      "members": {
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageCursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#PaginatedResponseTest": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.vanta.manage_vanta#PaginatedResponseTestResults",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#PaginatedResponseTestResultsDataList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#Test"
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#PaginatedResponseTestResults": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vanta.manage_vanta#PaginatedResponseTestResultsDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pageInfo": {
          "target": "com.vanta.manage_vanta#PageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#ListTestsForControl": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#ListTestsForControlRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#PaginatedResponseTest"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/controls/{controlId}/tests",
          "code": 200
        },
        "smithy.api#documentation": "List a control's tests\n\nList a control's tests."
      }
    },
    "com.vanta.manage_vanta#DeleteTestForControlRequest": {
      "type": "structure",
      "members": {
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "testId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#DeleteTestForControl": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#DeleteTestForControlRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/controls/{controlId}/tests/{testId}",
          "code": 200
        },
        "smithy.api#documentation": "Remove control from test mapping\n\nRemove a control from test mapping."
      }
    },
    "com.vanta.manage_vanta#ListCustomerTrustAccountsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageCursor"
          }
        },
        "searchString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "searchString"
          }
        },
        "isAutoApprovalEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "isAutoApprovalEnabled"
          }
        },
        "customFieldsFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "customFieldsFilter"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#PaginatedResponseCustomerTrustAccountVantaApi": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.vanta.manage_vanta#PaginatedResponseCustomerTrustAccountVantaApiResults",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#CustomerTrustAccountVantaApi": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the account",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the account",
            "smithy.api#required": {}
          }
        },
        "emailDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary email domain associated with the account",
            "smithy.api#required": {}
          }
        },
        "createdDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the account was created",
            "smithy.api#required": {}
          }
        },
        "updatedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the account was last updated",
            "smithy.api#required": {}
          }
        },
        "ndaDetails": {
          "target": "com.vanta.manage_vanta#CustomerTrustAccountNDADetails",
          "traits": {
            "smithy.api#documentation": "NDA configuration for this account",
            "smithy.api#required": {}
          }
        },
        "accessConfig": {
          "target": "com.vanta.manage_vanta#CustomerTrustAccountAccessConfig",
          "traits": {
            "smithy.api#documentation": "Access configuration for this account",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "customFields": {
          "target": "com.vanta.manage_vanta#CustomerTrustAccountVantaApiCustomFieldsList",
          "traits": {
            "smithy.api#documentation": "Custom field values for this account",
            "smithy.api#required": {}
          }
        },
        "tagsByCategory": {
          "target": "com.vanta.manage_vanta#CustomerTrustAccountVantaApiTagsByCategoryList",
          "traits": {
            "smithy.api#documentation": "Tags assigned to this account, grouped by category",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Vanta API representation of a CustomerTrustAccount."
      }
    },
    "com.vanta.manage_vanta#CustomerTrustAccountNDADetails": {
      "type": "structure",
      "members": {
        "ndaStatus": {
          "target": "com.vanta.manage_vanta#CustomerTrustAccountNdaStatus",
          "traits": {
            "smithy.api#documentation": "The status of the NDA for this account",
            "smithy.api#required": {}
          }
        },
        "ndaSatisfiedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the NDA was satisfied",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#CustomerTrustAccountNdaStatus": {
      "type": "enum",
      "members": {
        "SIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNED"
          }
        },
        "NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REQUIRED"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPLETE"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#CustomerTrustAccountAccessConfig": {
      "type": "structure",
      "members": {
        "autoApprovalEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether access requests matching this account's email domain should be auto-approved",
            "smithy.api#required": {}
          }
        },
        "grantAccessOption": {
          "target": "com.vanta.manage_vanta#CustomerTrustAccountGrantAccessOption",
          "traits": {
            "smithy.api#documentation": "How to grant resource access for auto-approved requests",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#CustomerTrustAccountGrantAccessOption": {
      "type": "enum",
      "members": {
        "INCLUDE_EVERYTHING_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUDE_EVERYTHING_REQUESTED"
          }
        },
        "INCLUDE_ONLY_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUDE_ONLY_CONFIGURED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How a CustomerTrustAccount determines which resources to grant its viewers access to."
      }
    },
    "com.vanta.manage_vanta#CustomerTrustAccountVantaApiCustomFieldsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#CustomField"
      },
      "traits": {
        "smithy.api#documentation": "Custom field values for this account"
      }
    },
    "com.vanta.manage_vanta#TagsByCategoryOutput": {
      "type": "structure",
      "members": {
        "categoryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tag category ID",
            "smithy.api#required": {}
          }
        },
        "tagIds": {
          "target": "com.vanta.manage_vanta#TagsByCategoryOutputTagIdsList",
          "traits": {
            "smithy.api#documentation": "Tag IDs assigned in this category",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#TagsByCategoryOutputTagIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tag IDs assigned in this category"
      }
    },
    "com.vanta.manage_vanta#CustomerTrustAccountVantaApiTagsByCategoryList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#TagsByCategoryOutput"
      },
      "traits": {
        "smithy.api#documentation": "Tags assigned to this account, grouped by category"
      }
    },
    "com.vanta.manage_vanta#PaginatedResponseCustomerTrustAccountVantaApiResultsDataList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#CustomerTrustAccountVantaApi"
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#PaginatedResponseCustomerTrustAccountVantaApiResults": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vanta.manage_vanta#PaginatedResponseCustomerTrustAccountVantaApiResultsDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pageInfo": {
          "target": "com.vanta.manage_vanta#PageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#ListCustomerTrustAccounts": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#ListCustomerTrustAccountsRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#PaginatedResponseCustomerTrustAccountVantaApi"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/customer-trust/accounts",
          "code": 200
        },
        "smithy.api#documentation": "List customer trust accounts\n\nList customer trust accounts with pagination."
      }
    },
    "com.vanta.manage_vanta#CustomerTrustAccountNDADetailsInput": {
      "type": "structure",
      "members": {
        "markNdaNotRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether NDA requirement should be bypassed for access requests matching this account",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#CustomerTrustAccountAccessConfigInput": {
      "type": "structure",
      "members": {
        "autoApprovalEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether access requests matching this account's email domain should be auto-approved",
            "smithy.api#required": {}
          }
        },
        "grantAccessOption": {
          "target": "com.vanta.manage_vanta#CustomerTrustAccountGrantAccessOption",
          "traits": {
            "smithy.api#documentation": "How to grant resource access for auto-approved requests. Must be specified if autoApprovalEnabled is true",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tagsByCategory": {
          "target": "com.vanta.manage_vanta#CustomerTrustAccountAccessConfigInputTagsByCategoryList",
          "traits": {
            "smithy.api#documentation": "Tags to assign to this account, grouped by category."
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#TagsByCategoryInput": {
      "type": "structure",
      "members": {
        "categoryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tag category ID",
            "smithy.api#required": {}
          }
        },
        "tagIds": {
          "target": "com.vanta.manage_vanta#TagsByCategoryInputTagIdsList",
          "traits": {
            "smithy.api#documentation": "Tag IDs to assign. An empty array removes all tags for the category.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#TagsByCategoryInputTagIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tag IDs to assign. An empty array removes all tags for the category."
      }
    },
    "com.vanta.manage_vanta#CustomerTrustAccountAccessConfigInputTagsByCategoryList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#TagsByCategoryInput"
      },
      "traits": {
        "smithy.api#documentation": "Tags to assign to this account, grouped by category."
      }
    },
    "com.vanta.manage_vanta#CreateCustomerTrustAccountRequestCustomFieldsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#CustomField"
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#CreateCustomerTrustAccountRequestTagsByCategoryList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#TagsByCategoryInput"
      },
      "traits": {
        "smithy.api#documentation": "Tags to assign to this account, grouped by category"
      }
    },
    "com.vanta.manage_vanta#CreateCustomerTrustAccountRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "emailDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ndaDetails": {
          "target": "com.vanta.manage_vanta#CustomerTrustAccountNDADetailsInput"
        },
        "accessConfig": {
          "target": "com.vanta.manage_vanta#CustomerTrustAccountAccessConfigInput"
        },
        "customFields": {
          "target": "com.vanta.manage_vanta#CreateCustomerTrustAccountRequestCustomFieldsList"
        },
        "tagsByCategory": {
          "target": "com.vanta.manage_vanta#CreateCustomerTrustAccountRequestTagsByCategoryList",
          "traits": {
            "smithy.api#documentation": "Tags to assign to this account, grouped by category"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#CreateCustomerTrustAccount": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#CreateCustomerTrustAccountRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#CustomerTrustAccountVantaApi"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/customer-trust/accounts",
          "code": 200
        },
        "smithy.api#documentation": "Create customer trust account\n\nCreate a new customer trust account."
      }
    },
    "com.vanta.manage_vanta#GetCustomerTrustAccountRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#GetCustomerTrustAccount": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#GetCustomerTrustAccountRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#CustomerTrustAccountVantaApi"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/customer-trust/accounts/{accountId}",
          "code": 200
        },
        "smithy.api#documentation": "Get customer trust account\n\nGet a specific customer trust account by ID."
      }
    },
    "com.vanta.manage_vanta#UpdateCustomerTrustAccountRequestCustomFieldsList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#CustomField"
      },
      "traits": {
        "smithy.api#documentation": "Updated custom field values for the account"
      }
    },
    "com.vanta.manage_vanta#UpdateCustomerTrustAccountRequestTagsByCategoryList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#TagsByCategoryInput"
      },
      "traits": {
        "smithy.api#documentation": "Tags to assign to this account, grouped by category. Replaces existing tags per category."
      }
    },
    "com.vanta.manage_vanta#UpdateCustomerTrustAccountRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Updated name for the account"
          }
        },
        "emailDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Updated primary email domain for the account"
          }
        },
        "customFields": {
          "target": "com.vanta.manage_vanta#UpdateCustomerTrustAccountRequestCustomFieldsList",
          "traits": {
            "smithy.api#documentation": "Updated custom field values for the account"
          }
        },
        "tagsByCategory": {
          "target": "com.vanta.manage_vanta#UpdateCustomerTrustAccountRequestTagsByCategoryList",
          "traits": {
            "smithy.api#documentation": "Tags to assign to this account, grouped by category. Replaces existing tags per category."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#UpdateCustomerTrustAccount": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#UpdateCustomerTrustAccountRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#CustomerTrustAccountVantaApi"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/customer-trust/accounts/{accountId}",
          "code": 200
        },
        "smithy.api#documentation": "Update customer trust account\n\nUpdate a customer trust account by ID."
      }
    },
    "com.vanta.manage_vanta#DeleteCustomerTrustAccountRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#DeleteCustomerTrustAccount": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#DeleteCustomerTrustAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/customer-trust/accounts/{accountId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete customer trust account\n\nDelete a customer trust account by ID."
      }
    },
    "com.vanta.manage_vanta#CreateDeletionRequestRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the individual requesting data deletion.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vanta.manage_vanta#CreateDeletionRequestResponse": {
      "type": "structure",
      "members": {
        "isSuccessful": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the deletion request was successfully enqueued.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response returned after a data deletion request is created."
      }
    },
    "com.vanta.manage_vanta#CreateDeletionRequest": {
      "type": "operation",
      "input": {
        "target": "com.vanta.manage_vanta#CreateDeletionRequestRequest"
      },
      "output": {
        "target": "com.vanta.manage_vanta#CreateDeletionRequestResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/customer-trust/deletion-requests",
          "code": 200
        },
        "smithy.api#documentation": "Create data deletion request\n\nSubmit a Right to Be Forgotten (RTBF) data deletion request for the specified email address."
      }
    },
    "com.vanta.manage_vanta#QuestionnaireStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "IN_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_REVIEW"
          }
        },
        "READY_FOR_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY_FOR_REVIEW"
          }
        },
        "WAITING_ON_ANSWERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING_ON_ANSWERS"
          }
        },
        "ON_HOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_HOLD"
          }
        },
        "NO_LONGER_NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_LONGER_NEEDED"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "EXTRACTING_QUESTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTRACTING_QUESTIONS"
          }
        },
        "EXTRACTING_SECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTRACTING_SECTIONS"
          }
        },
        "MAPPING_SECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAPPING_SECTIONS"
          }
        },
        "GENERATING_ANSWERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATING_ANSWERS"
          }
        },
        "QUEUED_FOR_EXTRACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED_FOR_EXTRACTION"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "QUEUED_FOR_PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED_FOR_PROCESSING"
          }
        },
        "WAITING_ON_COLUMN_SELECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING_ON_COLUMN_SELECTION"
          }
        },
        "WAITING_ON_COLUMN_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING_ON_COLUMN_APPROVAL"
          }
        },
        "QUEUED_FOR_COLUMN_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED_FOR_COLUMN_DETECTION"
          }
        },
        "DETECTING_COLUMNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETECTING_COLUMNS"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#ListQuestionnairesRequestStatusMatchesAnyList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#QuestionnaireStatus"
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#CustomerTrustQuestionnaireType": {
      "type": "enum",
      "members": {
        "SPREADSHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPREADSHEET"
          }
        },
        "WEBSITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBSITE"
          }
        },
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT"
          }
        }
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#ListQuestionnairesRequestTypeMatchesAnyList": {
      "type": "list",
      "member": {
        "target": "com.vanta.manage_vanta#CustomerTrustQuestionnaireType"
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#ListQuestionnairesRequestOwnerIdMatchesAnyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#ListQuestionnairesRequestApproverIdMatchesAnyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vanta.manage_vanta#ListQuestionnairesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageCursor"
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q",
            "smithy.api#documentation": "Filter questionnaires by display name (case-insensitive, partial match)."
          }
        },
        "statusMatchesAny": {
          "target": "com.vanta.manage_vanta#ListQuestionnairesRequestStatusMatchesAnyList",
          "traits": {
            "smithy.api#httpQuery": "statusMatchesAny",
            "smithy.api#documentation": "Filter questionnaires matching any of the provided statuses."
          }
        },
        "typeMatchesAny": {
          "target": "com.vanta.manage_vanta#ListQuestionnairesRequestTypeMatchesAnyList",
          "traits": {
            "smithy.api#httpQuery": "typeMatchesAny",
            "smithy.api#documentation": "Filter questionnaires matching any of the provided types."
          }
        },
        "createdAfter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "createdAfter",
            "smithy.api#documentation": "Filter to questionnaires created after this date (ISO 8601 string)."
          }
        },
        "createdBefore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "createdBefore",
            "smithy.api#documentation": "Filter to questionnaires created before this date (ISO 8601 string)."
          }
        },
        "ownerIdMatchesAny": {
          "target": "com.vanta.manage_vanta#ListQuestionnairesRequestOwnerIdMatchesAnyList",
          "traits": {
            "smithy.api#httpQuery": "ownerIdMatchesAny",
            "smithy.api#documentation": "Filter to questionnaires owned by any of the provided user IDs."
          }
[...]
