{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIGroup": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the name of the group.",
            "smithy.api#required": {}
          }
        },
        "preferredVersion": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1GroupVersionForDiscovery",
          "traits": {
            "smithy.api#documentation": "preferredVersion is the version preferred by the API server, which probably is the storage version."
          }
        },
        "serverAddressByClientCIDRs": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIGroupServerAddressByClientCIDRsList",
          "traits": {
            "smithy.api#documentation": "a map of client CIDR to server address that is serving this group. This is to help clients reach servers in the most network-efficient way possible. Clients can use the appropriate server address as per the CIDR that they match. In case of multiple matches, clients should use the longest matching CIDR. The server returns only those CIDRs that it thinks that the client can match. For example: the master will return an internal IP CIDR only, if the client reaches the server using an internal IP. Server looks at X-Forwarded-For header or X-Real-Ip header or request.RemoteAddr (in that order) to get the client IP."
          }
        },
        "versions": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIGroupVersionsList",
          "traits": {
            "smithy.api#documentation": "versions are the versions supported in this group.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIGroup contains the name, the supported versions, and the preferred version of a group."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1GroupVersionForDiscovery": {
      "type": "structure",
      "members": {
        "groupVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "groupVersion specifies the API group and version in the form \"group/version\"",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "version specifies the version in the form of \"version\". This is to save the clients the trouble of splitting the GroupVersion.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GroupVersion contains the \"group/version\" and \"version\" string of a version. It is made a struct to keep extensibility."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ServerAddressByClientCIDR": {
      "type": "structure",
      "members": {
        "clientCIDR": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CIDR with which clients can match their IP to figure out the server address that they should use.",
            "smithy.api#required": {}
          }
        },
        "serverAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address of this server, suitable for a client that matches the above CIDR. This can be a hostname, hostname:port, IP or IP:port.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServerAddressByClientCIDR helps the client to determine the server address that they should use, depending on the clientCIDR that they match."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIGroupServerAddressByClientCIDRsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ServerAddressByClientCIDR"
      },
      "traits": {
        "smithy.api#documentation": "a map of client CIDR to server address that is serving this group. This is to help clients reach servers in the most network-efficient way possible. Clients can use the appropriate server address as per the CIDR that they match. In case of multiple matches, clients should use the longest matching CIDR. The server returns only those CIDRs that it thinks that the client can match. For example: the master will return an internal IP CIDR only, if the client reaches the server using an internal IP. Server looks at X-Forwarded-For header or X-Real-Ip header or request.RemoteAddr (in that order) to get the client IP."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIGroupVersionsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1GroupVersionForDiscovery"
      },
      "traits": {
        "smithy.api#documentation": "versions are the versions supported in this group."
      }
    },
    "com.kubernetes.admissionregistration#GetAdmissionregistrationAPIGroup": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIGroup"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/admissionregistration.k8s.io/",
          "code": 200
        },
        "smithy.api#documentation": "get information of a group"
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIResourceList": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "groupVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "groupVersion is the group and version this APIResourceList is for.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "resources": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIResourceListResourcesList",
          "traits": {
            "smithy.api#documentation": "resources contains the name of the resources and if they are namespaced.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIResourceList is a list of APIResource, it is used to expose the name of the resources supported in a specific group and version, and if the resource is namespaced."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIResource": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIResourceCategoriesList",
          "traits": {
            "smithy.api#documentation": "categories is a list of the grouped resources this resource belongs to (e.g. 'all')"
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "group is the preferred group of the resource.  Empty implies the group of the containing resource list. For subresources, this may have a different value, for example: Scale\"."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "kind is the kind for the resource (e.g. 'Foo' is the kind for a resource 'foo')",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the plural name of the resource.",
            "smithy.api#required": {}
          }
        },
        "namespaced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "namespaced indicates if a resource is namespaced or not.",
            "smithy.api#required": {}
          }
        },
        "shortNames": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIResourceShortNamesList",
          "traits": {
            "smithy.api#documentation": "shortNames is a list of suggested short names of the resource."
          }
        },
        "singularName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "singularName is the singular name of the resource.  This allows clients to handle plural and singular opaquely. The singularName is more correct for reporting status on a single item and both singular and plural are allowed from the kubectl CLI interface.",
            "smithy.api#required": {}
          }
        },
        "storageVersionHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hash value of the storage version, the version this resource is converted to when written to the data store. Value must be treated as opaque by clients. Only equality comparison on the value is valid. This is an alpha feature and may change or be removed in the future. The field is populated by the apiserver only if the StorageVersionHash feature gate is enabled. This field will remain optional even if it graduates."
          }
        },
        "verbs": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIResourceVerbsList",
          "traits": {
            "smithy.api#documentation": "verbs is a list of supported kube verbs (this includes get, list, watch, create, update, patch, delete, deletecollection, and proxy)",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "version is the preferred version of the resource.  Empty implies the version of the containing resource list For subresources, this may have a different value, for example: v1 (while inside a v1beta1 version of the core resource's group)\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIResource specifies the name of a resource and whether it is namespaced."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIResourceCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "categories is a list of the grouped resources this resource belongs to (e.g. 'all')"
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIResourceShortNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "shortNames is a list of suggested short names of the resource."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIResourceVerbsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "verbs is a list of supported kube verbs (this includes get, list, watch, create, update, patch, delete, deletecollection, and proxy)"
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIResourceListResourcesList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIResource"
      },
      "traits": {
        "smithy.api#documentation": "resources contains the name of the resources and if they are namespaced."
      }
    },
    "com.kubernetes.admissionregistration#GetAdmissionregistrationV1APIResources": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1APIResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/admissionregistration.k8s.io/v1/",
          "code": 200
        },
        "smithy.api#documentation": "get available resources"
      }
    },
    "com.kubernetes.admissionregistration#ListAdmissionregistrationV1MutatingAdmissionPolicyRequest": {
      "type": "structure",
      "members": {
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "allowWatchBookmarks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "allowWatchBookmarks",
            "smithy.api#documentation": "allowWatchBookmarks requests watch events with type \"BOOKMARK\". Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server's discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored."
          }
        },
        "continue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "continue",
            "smithy.api#documentation": "The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications."
          }
        },
        "fieldSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldSelector",
            "smithy.api#documentation": "A selector to restrict the list of returned objects by their fields. Defaults to everything."
          }
        },
        "labelSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "labelSelector",
            "smithy.api#documentation": "A selector to restrict the list of returned objects by their labels. Defaults to everything."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceVersion",
            "smithy.api#documentation": "resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.\n\nDefaults to unset"
          }
        },
        "resourceVersionMatch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceVersionMatch",
            "smithy.api#documentation": "resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.\n\nDefaults to unset"
          }
        },
        "sendInitialEvents": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "sendInitialEvents",
            "smithy.api#documentation": "`sendInitialEvents=true` may be set together with `watch=true`. In that case, the watch stream will begin with synthetic events to produce the current state of objects in the collection. Once all such events have been sent, a synthetic \"Bookmark\" event  will be sent. The bookmark will report the ResourceVersion (RV) corresponding to the set of objects, and be marked with `\"k8s.io/initial-events-end\": \"true\"` annotation. Afterwards, the watch stream will proceed as usual, sending watch events corresponding to changes (subsequent to the RV) to objects watched.\n\nWhen `sendInitialEvents` option is set, we require `resourceVersionMatch` option to also be set. The semantic of the watch request is as following: - `resourceVersionMatch` = NotOlderThan\n  is interpreted as \"data at least as new as the provided `resourceVersion`\"\n  and the bookmark event is send when the state is synced\n  to a `resourceVersion` at least as fresh as the one provided by the ListOptions.\n  If `resourceVersion` is unset, this is interpreted as \"consistent read\" and the\n  bookmark event is send when the state is synced at least to the moment\n  when request started being processed.\n- `resourceVersionMatch` set to any other value or unset\n  Invalid error is returned.\n\nDefaults to true if `resourceVersion=\"\"` or `resourceVersion=\"0\"` (for backward compatibility reasons) and to false otherwise."
          }
        },
        "shardSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "shardSelector",
            "smithy.api#documentation": "shardSelector restricts the list of returned objects using a CEL-based shard selector expression. The format uses the shardRange() function combined with || (logical OR) to specify one or more hash ranges:\n\n  shardRange(object.metadata.uid, '0x0', '0x8000000000000000')\n  shardRange(object.metadata.uid, '0x0', '0x8000000000000000') || shardRange(object.metadata.uid, '0x8000000000000000', '0x10000000000000000')\n\nField paths use CEL-style object-rooted syntax (e.g. \"object.metadata.uid\"), NOT the fieldSelector format (\"metadata.uid\"). Currently supported paths:\n  - object.metadata.uid\n  - object.metadata.namespace\n\nhexStart and hexEnd are single-quoted CEL string literals with a '0x' prefix, defining the inclusive lower and exclusive upper bounds over the 64-bit FNV-1a hash space. The full range is [0x0, 0x10000000000000000), where the exclusive upper bound equals 2^64.\n\nExamples:\n  2-shard split:\n    shard 0: shardRange(object.metadata.uid, '0x0000000000000000', '0x8000000000000000')\n    shard 1: shardRange(object.metadata.uid, '0x8000000000000000', '0x10000000000000000')\n  4-shard split:\n    shard 0: shardRange(object.metadata.uid, '0x0000000000000000', '0x4000000000000000')\n    shard 1: shardRange(object.metadata.uid, '0x4000000000000000', '0x8000000000000000')\n    shard 2: shardRange(object.metadata.uid, '0x8000000000000000', '0xc000000000000000')\n    shard 3: shardRange(object.metadata.uid, '0xc000000000000000', '0x10000000000000000')\n\nThis is an alpha field and requires enabling the ShardedListAndWatch feature gate."
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "timeoutSeconds",
            "smithy.api#documentation": "Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity."
          }
        },
        "watch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "watch",
            "smithy.api#documentation": "Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicyList": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "items": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicyListItemsList",
          "traits": {
            "smithy.api#documentation": "List of ValidatingAdmissionPolicy.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ListMeta",
          "traits": {
            "smithy.api#documentation": "metadata is the standard list metadata. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MutatingAdmissionPolicyList is a list of MutatingAdmissionPolicy."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicy": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ObjectMeta",
          "traits": {
            "smithy.api#documentation": "metadata is the standard object metadata; More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata."
          }
        },
        "spec": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicySpec",
          "traits": {
            "smithy.api#documentation": "spec defines the desired behavior of the MutatingAdmissionPolicy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MutatingAdmissionPolicy describes the definition of an admission mutation policy that mutates the object coming into admission chain."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ObjectMeta": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ObjectMetaAnnotationsMap",
          "traits": {
            "smithy.api#documentation": "Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations"
          }
        },
        "creationTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CreationTimestamp is a timestamp representing the server time when this object was created. It is not guaranteed to be set in happens-before order across separate operations. Clients may not set this value. It is represented in RFC3339 form and is in UTC.\n\nPopulated by the system. Read-only. Null for lists. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "deletionGracePeriodSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds allowed for this object to gracefully terminate before it will be removed from the system. Only set when deletionTimestamp is also set. May only be shortened. Read-only."
          }
        },
        "deletionTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DeletionTimestamp is RFC 3339 date and time at which this resource will be deleted. This field is set by the server when a graceful deletion is requested by the user, and is not directly settable by a client. The resource is expected to be deleted (no longer visible from resource lists, and not reachable by name) after the time in this field, once the finalizers list is empty. As long as the finalizers list contains items, deletion is blocked. Once the deletionTimestamp is set, this value may not be unset or be set further into the future, although it may be shortened or the resource may be deleted prior to this time. For example, a user may request that a pod is deleted in 30 seconds. The Kubelet will react by sending a graceful termination signal to the containers in the pod. After that 30 seconds, the Kubelet will send a hard termination signal (SIGKILL) to the container and after cleanup, remove the pod from the API. In the presence of network partitions, this object may still exist after this timestamp, until an administrator or automated process can determine the resource is fully terminated. If not set, graceful deletion of the object has not been requested.\n\nPopulated by the system when a graceful deletion is requested. Read-only. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "finalizers": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ObjectMetaFinalizersList",
          "traits": {
            "smithy.api#documentation": "Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. Finalizers may be processed and removed in any order.  Order is NOT enforced because it introduces significant risk of stuck finalizers. finalizers is a shared field, any actor with permission can reorder it. If the finalizer list is processed in order, then this can lead to a situation in which the component responsible for the first finalizer in the list is waiting for a signal (field value, external system, or other) produced by a component responsible for a finalizer later in the list, resulting in a deadlock. Without enforced ordering finalizers are free to order amongst themselves and are not vulnerable to ordering changes in the list."
          }
        },
        "generateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GenerateName is an optional prefix, used by the server, to generate a unique name ONLY IF the Name field has not been provided. If this field is used, the name returned to the client will be different than the name passed. This value will also be combined with a unique suffix. The provided value has the same validation rules as the Name field, and may be truncated by the length of the suffix required to make the value unique on the server.\n\nIf this field is specified and the generated name exists, the server will return a 409.\n\nApplied only if Name is not specified. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#idempotency"
          }
        },
        "generation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A sequence number representing a specific generation of the desired state. Populated by the system. Read-only."
          }
        },
        "labels": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ObjectMetaLabelsMap",
          "traits": {
            "smithy.api#documentation": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and services. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels"
          }
        },
        "managedFields": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ObjectMetaManagedFieldsList",
          "traits": {
            "smithy.api#documentation": "ManagedFields maps workflow-id and version to the set of fields that are managed by that workflow. This is mostly for internal housekeeping, and users typically shouldn't need to set or understand this field. A workflow can be the user's name, a controller's name, or the name of a specific apply path like \"ci-cd\". The set of fields is always in the version that the workflow used when modifying the object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name must be unique within a namespace. Is required when creating resources, although some resources may allow a client to request the generation of an appropriate name automatically. Name is primarily intended for creation idempotence and configuration definition. Cannot be updated. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names"
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace defines the space within which each name must be unique. An empty namespace is equivalent to the \"default\" namespace, but \"default\" is the canonical representation. Not all objects are required to be scoped to a namespace - the value of this field for those objects will be empty.\n\nMust be a DNS_LABEL. Cannot be updated. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces"
          }
        },
        "ownerReferences": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ObjectMetaOwnerReferencesList",
          "traits": {
            "smithy.api#documentation": "List of objects depended by this object. If ALL objects in the list have been deleted, this object will be garbage collected. If this object is managed by a controller, then an entry in this list will point to this controller, with the controller field set to true. There cannot be more than one managing controller."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque value that represents the internal version of this object that can be used by clients to determine when objects have changed. May be used for optimistic concurrency, change detection, and the watch operation on a resource or set of resources. Clients must treat these values as opaque and passed unmodified back to the server. They may only be valid for a particular resource or set of resources.\n\nPopulated by the system. Read-only. Value must be treated as opaque by clients and . More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency"
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: selfLink is a legacy read-only field that is no longer populated by the system."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID is the unique in time and space value for this object. It is typically generated by the server on successful creation of a resource and is not allowed to change on PUT operations.\n\nPopulated by the system. Read-only. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ObjectMetaAnnotationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations"
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ObjectMetaFinalizersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. Finalizers may be processed and removed in any order.  Order is NOT enforced because it introduces significant risk of stuck finalizers. finalizers is a shared field, any actor with permission can reorder it. If the finalizer list is processed in order, then this can lead to a situation in which the component responsible for the first finalizer in the list is waiting for a signal (field value, external system, or other) produced by a component responsible for a finalizer later in the list, resulting in a deadlock. Without enforced ordering finalizers are free to order amongst themselves and are not vulnerable to ordering changes in the list."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ObjectMetaLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and services. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels"
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ManagedFieldsEntry": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the version of this resource that this field set applies to. The format is \"group/version\" just like the top-level APIVersion field. It is necessary to track the version of a field set because it cannot be automatically converted."
          }
        },
        "fieldsType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "FieldsType is the discriminator for the different fields format and version. There is currently only one possible value: \"FieldsV1\""
          }
        },
        "fieldsV1": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "FieldsV1 holds the first JSON version format as described in the \"FieldsV1\" type."
          }
        },
        "manager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manager is an identifier of the workflow managing these fields."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation is the type of operation which lead to this ManagedFieldsEntry being created. The only valid values for this field are 'Apply' and 'Update'."
          }
        },
        "subresource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subresource is the name of the subresource used to update that object, or empty string if the object was updated through the main resource. The value of this field is used to distinguish between managers, even if they share the same name. For example, a status update will be distinct from a regular update using the same manager name. Note that the APIVersion field is not related to the Subresource field and it always corresponds to the version of the main resource."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time is the timestamp of when the ManagedFields entry was added. The timestamp will also be updated if a field is added, the manager changes any of the owned fields value or removes a field. The timestamp does not update when a field is removed from the entry because another manager took it over."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ManagedFieldsEntry is a workflow-id, a FieldSet and the group version of the resource that the fieldset applies to."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ObjectMetaManagedFieldsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ManagedFieldsEntry"
      },
      "traits": {
        "smithy.api#documentation": "ManagedFields maps workflow-id and version to the set of fields that are managed by that workflow. This is mostly for internal housekeeping, and users typically shouldn't need to set or understand this field. A workflow can be the user's name, a controller's name, or the name of a specific apply path like \"ci-cd\". The set of fields is always in the version that the workflow used when modifying the object."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1OwnerReference": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API version of the referent.",
            "smithy.api#required": {}
          }
        },
        "blockOwnerDeletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, AND if the owner has the \"foregroundDeletion\" finalizer, then the owner cannot be deleted from the key-value store until this reference is removed. See https://kubernetes.io/docs/concepts/architecture/garbage-collection/#foreground-deletion for how the garbage collector interacts with this field and enforces the foreground deletion. Defaults to false. To set this field, a user needs \"delete\" permission of the owner, otherwise 422 (Unprocessable Entity) will be returned."
          }
        },
        "controller": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, this reference points to the managing controller."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names",
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OwnerReference contains enough information to let you identify an owning object. An owning object must be in the same namespace as the dependent, or be cluster-scoped, so there is no namespace field."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ObjectMetaOwnerReferencesList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1OwnerReference"
      },
      "traits": {
        "smithy.api#documentation": "List of objects depended by this object. If ALL objects in the list have been deleted, this object will be garbage collected. If this object is managed by a controller, then an entry in this list will point to this controller, with the controller field set to true. There cannot be more than one managing controller."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicySpec": {
      "type": "structure",
      "members": {
        "failurePolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "failurePolicy defines how to handle failures for the admission policy. Failures can occur from CEL expression parse errors, type check errors, runtime errors and invalid or mis-configured policy definitions or bindings.\n\nA policy is invalid if paramKind refers to a non-existent Kind. A binding is invalid if paramRef.name refers to a non-existent resource.\n\nfailurePolicy does not define how validations that evaluate to false are handled.\n\nAllowed values are Ignore or Fail. Defaults to Fail."
          }
        },
        "matchConditions": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicySpecMatchConditionsList",
          "traits": {
            "smithy.api#documentation": "matchConditions is a list of conditions that must be met for a request to be validated. Match conditions filter requests that have already been matched by the matchConstraints. An empty list of matchConditions matches all requests. There are a maximum of 64 match conditions allowed.\n\nIf a parameter object is provided, it can be accessed via the `params` handle in the same manner as validation expressions.\n\nThe exact matching logic is (in order):\n  1. If ANY matchCondition evaluates to FALSE, the policy is skipped.\n  2. If ALL matchConditions evaluate to TRUE, the policy is evaluated.\n  3. If any matchCondition evaluates to an error (but none are FALSE):\n     - If failurePolicy=Fail, reject the request\n     - If failurePolicy=Ignore, the policy is skipped"
          }
        },
        "matchConstraints": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MatchResources",
          "traits": {
            "smithy.api#documentation": "matchConstraints specifies what resources this policy is designed to validate. The MutatingAdmissionPolicy cares about a request if it matches _all_ Constraints. However, in order to prevent clusters from being put into an unstable state that cannot be recovered from via the API MutatingAdmissionPolicy cannot match MutatingAdmissionPolicy and MutatingAdmissionPolicyBinding. The CREATE, UPDATE and CONNECT operations are allowed.  The DELETE operation may not be matched. '*' matches CREATE, UPDATE and CONNECT. Required."
          }
        },
        "mutations": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicySpecMutationsList",
          "traits": {
            "smithy.api#documentation": "mutations contain operations to perform on matching objects. mutations may not be empty; a minimum of one mutation is required. mutations are evaluated in order, and are reinvoked according to the reinvocationPolicy. The mutations of a policy are invoked for each binding of this policy and reinvocation of mutations occurs on a per binding basis."
          }
        },
        "paramKind": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1ParamKind",
          "traits": {
            "smithy.api#documentation": "paramKind specifies the kind of resources used to parameterize this policy. If absent, there are no parameters for this policy and the param CEL variable will not be provided to validation expressions. If paramKind refers to a non-existent kind, this policy definition is mis-configured and the FailurePolicy is applied. If paramKind is specified but paramRef is unset in MutatingAdmissionPolicyBinding, the params variable will be null."
          }
        },
        "reinvocationPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "reinvocationPolicy indicates whether mutations may be called multiple times per MutatingAdmissionPolicyBinding as part of a single admission evaluation. Allowed values are \"Never\" and \"IfNeeded\".\n\nNever: These mutations will not be called more than once per binding in a single admission evaluation.\n\nIfNeeded: These mutations may be invoked more than once per binding for a single admission request and there is no guarantee of order with respect to other admission plugins, admission webhooks, bindings of this policy and admission policies.  Mutations are only reinvoked when mutations change the object after this mutation is invoked. Required."
          }
        },
        "variables": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicySpecVariablesList",
          "traits": {
            "smithy.api#documentation": "variables contain definitions of variables that can be used in composition of other expressions. Each variable is defined as a named CEL expression. The variables defined here will be available under `variables` in other expressions of the policy except matchConditions because matchConditions are evaluated before the rest of the policy.\n\nThe expression of a variable can refer to other variables defined earlier in the list but not those after. Thus, variables must be sorted by the order of first appearance and acyclic."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MutatingAdmissionPolicySpec defines the desired behavior of the admission policy."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MatchCondition": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "expression represents the expression which will be evaluated by CEL. Must evaluate to bool. CEL expressions have access to the contents of the AdmissionRequest and Authorizer, organized into CEL variables:\n\n'object' - The object from the incoming request. The value is null for DELETE requests. 'oldObject' - The existing object. The value is null for CREATE requests. 'request' - Attributes of the admission request(/pkg/apis/admission/types.go#AdmissionRequest). 'authorizer' - A CEL Authorizer. May be used to perform authorization checks for the principal (user or service account) of the request.\n  See https://pkg.go.dev/k8s.io/apiserver/pkg/cel/library#Authz\n'authorizer.requestResource' - A CEL ResourceCheck constructed from the 'authorizer' and configured with the\n  request resource.\nDocumentation on CEL: https://kubernetes.io/docs/reference/using-api/cel/\n\nRequired.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is an identifier for this match condition, used for strategic merging of MatchConditions, as well as providing an identifier for logging purposes. A good name should be descriptive of the associated expression. Name must be a qualified name consisting of alphanumeric characters, '-', '_' or '.', and must start and end with an alphanumeric character (e.g. 'MyName',  or 'my.name',  or '123-abc', regex used for validation is '([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9]') with an optional DNS subdomain prefix and '/' (e.g. 'example.com/MyName')\n\nRequired.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MatchCondition represents a condition which must by fulfilled for a request to be sent to a webhook."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicySpecMatchConditionsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MatchCondition"
      },
      "traits": {
        "smithy.api#documentation": "matchConditions is a list of conditions that must be met for a request to be validated. Match conditions filter requests that have already been matched by the matchConstraints. An empty list of matchConditions matches all requests. There are a maximum of 64 match conditions allowed.\n\nIf a parameter object is provided, it can be accessed via the `params` handle in the same manner as validation expressions.\n\nThe exact matching logic is (in order):\n  1. If ANY matchCondition evaluates to FALSE, the policy is skipped.\n  2. If ALL matchConditions evaluate to TRUE, the policy is evaluated.\n  3. If any matchCondition evaluates to an error (but none are FALSE):\n     - If failurePolicy=Fail, reject the request\n     - If failurePolicy=Ignore, the policy is skipped"
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MatchResources": {
      "type": "structure",
      "members": {
        "excludeResourceRules": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MatchResourcesExcludeResourceRulesList",
          "traits": {
            "smithy.api#documentation": "excludeResourceRules describes what operations on what resources/subresources the ValidatingAdmissionPolicy should not care about. The exclude rules take precedence over include rules (if a resource matches both, it is excluded)"
          }
        },
        "matchPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "matchPolicy defines how the \"MatchResources\" list is used to match incoming requests. Allowed values are \"Exact\" or \"Equivalent\".\n\n- Exact: match a request only if it exactly matches a specified rule. For example, if deployments can be modified via apps/v1, apps/v1beta1, and extensions/v1beta1, but \"rules\" only included `apiGroups:[\"apps\"], apiVersions:[\"v1\"], resources: [\"deployments\"]`, a request to apps/v1beta1 or extensions/v1beta1 would not be sent to the ValidatingAdmissionPolicy.\n\n- Equivalent: match a request if modifies a resource listed in rules, even via another API group or version. For example, if deployments can be modified via apps/v1, apps/v1beta1, and extensions/v1beta1, and \"rules\" only included `apiGroups:[\"apps\"], apiVersions:[\"v1\"], resources: [\"deployments\"]`, a request to apps/v1beta1 or extensions/v1beta1 would be converted to apps/v1 and sent to the ValidatingAdmissionPolicy.\n\nDefaults to \"Equivalent\""
          }
        },
        "namespaceSelector": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1LabelSelector",
          "traits": {
            "smithy.api#documentation": "namespaceSelector decides whether to run the admission control policy on an object based on whether the namespace for that object matches the selector. If the object itself is a namespace, the matching is performed on object.metadata.labels. If the object is another cluster scoped resource, it never skips the policy.\n\nFor example, to run the webhook on any objects whose namespace is not associated with \"runlevel\" of \"0\" or \"1\";  you will set the selector as follows: \"namespaceSelector\": {\n  \"matchExpressions\": [\n    {\n      \"key\": \"runlevel\",\n      \"operator\": \"NotIn\",\n      \"values\": [\n        \"0\",\n        \"1\"\n      ]\n    }\n  ]\n}\n\nIf instead you want to only run the policy on any objects whose namespace is associated with the \"environment\" of \"prod\" or \"staging\"; you will set the selector as follows: \"namespaceSelector\": {\n  \"matchExpressions\": [\n    {\n      \"key\": \"environment\",\n      \"operator\": \"In\",\n      \"values\": [\n        \"prod\",\n        \"staging\"\n      ]\n    }\n  ]\n}\n\nSee https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/ for more examples of label selectors.\n\nDefault to the empty LabelSelector, which matches everything."
          }
        },
        "objectSelector": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1LabelSelector",
          "traits": {
            "smithy.api#documentation": "objectSelector decides whether to run the validation based on if the object has matching labels. objectSelector is evaluated against both the oldObject and newObject that would be sent to the cel validation, and is considered to match if either object matches the selector. A null object (oldObject in the case of create, or newObject in the case of delete) or an object that cannot have labels (like a DeploymentRollback or a PodProxyOptions object) is not considered to match. Use the object selector only if the webhook is opt-in, because end users may skip the admission webhook by setting the labels. Default to the empty LabelSelector, which matches everything."
          }
        },
        "resourceRules": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MatchResourcesResourceRulesList",
          "traits": {
            "smithy.api#documentation": "resourceRules describes what operations on what resources/subresources the ValidatingAdmissionPolicy matches. The policy cares about an operation if it matches _any_ Rule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MatchResources decides whether to run the admission control policy on an object based on whether it meets the match criteria. The exclude rules take precedence over include rules (if a resource matches both, it is excluded)"
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1NamedRuleWithOperations": {
      "type": "structure",
      "members": {
        "apiGroups": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1NamedRuleWithOperationsApiGroupsList",
          "traits": {
            "smithy.api#documentation": "apiGroups is the API groups the resources belong to. '*' is all groups. If '*' is present, the length of the slice must be one. Required."
          }
        },
        "apiVersions": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1NamedRuleWithOperationsApiVersionsList",
          "traits": {
            "smithy.api#documentation": "apiVersions is the API versions the resources belong to. '*' is all versions. If '*' is present, the length of the slice must be one. Required."
          }
        },
        "operations": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1NamedRuleWithOperationsOperationsList",
          "traits": {
            "smithy.api#documentation": "operations is the operations the admission hook cares about - CREATE, UPDATE, DELETE, CONNECT or * for all of those operations and any future admission operations that are added. If '*' is present, the length of the slice must be one. Required."
          }
        },
        "resourceNames": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1NamedRuleWithOperationsResourceNamesList",
          "traits": {
            "smithy.api#documentation": "resourceNames is an optional white list of names that the rule applies to.  An empty set means that everything is allowed."
          }
        },
        "resources": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1NamedRuleWithOperationsResourcesList",
          "traits": {
            "smithy.api#documentation": "resources is a list of resources this rule applies to.\n\nFor example: 'pods' means pods. 'pods/log' means the log subresource of pods. '*' means all resources, but not subresources. 'pods/*' means all subresources of pods. '*/scale' means all scale subresources. '*/*' means all resources and their subresources.\n\nIf wildcard is present, the validation rule will ensure resources do not overlap with each other.\n\nDepending on the enclosing object, subresources might not be allowed. Required."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "scope specifies the scope of this rule. Valid values are \"Cluster\", \"Namespaced\", and \"*\" \"Cluster\" means that only cluster-scoped resources will match this rule. Namespace API objects are cluster-scoped. \"Namespaced\" means that only namespaced resources will match this rule. \"*\" means that there are no scope restrictions. Subresources match the scope of their parent resource. Default is \"*\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NamedRuleWithOperations is a tuple of Operations and Resources with ResourceNames."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1NamedRuleWithOperationsApiGroupsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "apiGroups is the API groups the resources belong to. '*' is all groups. If '*' is present, the length of the slice must be one. Required."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1NamedRuleWithOperationsApiVersionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "apiVersions is the API versions the resources belong to. '*' is all versions. If '*' is present, the length of the slice must be one. Required."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1NamedRuleWithOperationsOperationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "operations is the operations the admission hook cares about - CREATE, UPDATE, DELETE, CONNECT or * for all of those operations and any future admission operations that are added. If '*' is present, the length of the slice must be one. Required."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1NamedRuleWithOperationsResourceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "resourceNames is an optional white list of names that the rule applies to.  An empty set means that everything is allowed."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1NamedRuleWithOperationsResourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "resources is a list of resources this rule applies to.\n\nFor example: 'pods' means pods. 'pods/log' means the log subresource of pods. '*' means all resources, but not subresources. 'pods/*' means all subresources of pods. '*/scale' means all scale subresources. '*/*' means all resources and their subresources.\n\nIf wildcard is present, the validation rule will ensure resources do not overlap with each other.\n\nDepending on the enclosing object, subresources might not be allowed. Required."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MatchResourcesExcludeResourceRulesList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1NamedRuleWithOperations"
      },
      "traits": {
        "smithy.api#documentation": "excludeResourceRules describes what operations on what resources/subresources the ValidatingAdmissionPolicy should not care about. The exclude rules take precedence over include rules (if a resource matches both, it is excluded)"
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1LabelSelector": {
      "type": "structure",
      "members": {
        "matchExpressions": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1LabelSelectorMatchExpressionsList",
          "traits": {
            "smithy.api#documentation": "matchExpressions is a list of label selector requirements. The requirements are ANDed."
          }
        },
        "matchLabels": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1LabelSelectorMatchLabelsMap",
          "traits": {
            "smithy.api#documentation": "matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels map is equivalent to an element of matchExpressions, whose key field is \"key\", the operator is \"In\", and the values array contains only \"value\". The requirements are ANDed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A label selector is a label query over a set of resources. The result of matchLabels and matchExpressions are ANDed. An empty label selector matches all objects. A null label selector matches no objects."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1LabelSelectorRequirement": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "key is the label key that the selector applies to.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "operator represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists and DoesNotExist.",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1LabelSelectorRequirementValuesList",
          "traits": {
            "smithy.api#documentation": "values is an array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. This array is replaced during a strategic merge patch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A label selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1LabelSelectorRequirementValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "values is an array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. This array is replaced during a strategic merge patch."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1LabelSelectorMatchExpressionsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1LabelSelectorRequirement"
      },
      "traits": {
        "smithy.api#documentation": "matchExpressions is a list of label selector requirements. The requirements are ANDed."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1LabelSelectorMatchLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels map is equivalent to an element of matchExpressions, whose key field is \"key\", the operator is \"In\", and the values array contains only \"value\". The requirements are ANDed."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MatchResourcesResourceRulesList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1NamedRuleWithOperations"
      },
      "traits": {
        "smithy.api#documentation": "resourceRules describes what operations on what resources/subresources the ValidatingAdmissionPolicy matches. The policy cares about an operation if it matches _any_ Rule."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1Mutation": {
      "type": "structure",
      "members": {
        "applyConfiguration": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1ApplyConfiguration",
          "traits": {
            "smithy.api#documentation": "applyConfiguration defines the desired configuration values of an object. The configuration is applied to the admission object using [structured merge diff](https://github.com/kubernetes-sigs/structured-merge-diff). A CEL expression is used to create apply configuration."
          }
        },
        "jsonPatch": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1JSONPatch",
          "traits": {
            "smithy.api#documentation": "jsonPatch defines a [JSON patch](https://jsonpatch.com/) operation to perform a mutation to the object. A CEL expression is used to create the JSON patch."
          }
        },
        "patchType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "patchType indicates the patch strategy used. Allowed values are \"ApplyConfiguration\" and \"JSONPatch\". Required.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mutation specifies the CEL expression which is used to apply the Mutation."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1ApplyConfiguration": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "expression will be evaluated by CEL to create an apply configuration. ref: https://github.com/google/cel-spec\n\nApply configurations are declared in CEL using object initialization. For example, this CEL expression returns an apply configuration to set a single field:\n\n\tObject{\n\t  spec: Object.spec{\n\t    serviceAccountName: \"example\"\n\t  }\n\t}\n\nApply configurations may not modify atomic structs, maps or arrays due to the risk of accidental deletion of values not included in the apply configuration.\n\nCEL expressions have access to the object types needed to create apply configurations:\n\n- 'Object' - CEL type of the resource object. - 'Object.<fieldName>' - CEL type of object field (such as 'Object.spec') - 'Object.<fieldName1>.<fieldName2>...<fieldNameN>` - CEL type of nested field (such as 'Object.spec.containers')\n\nCEL expressions have access to the contents of the API request, organized into CEL variables as well as some other useful variables:\n\n- 'object' - The object from the incoming request. The value is null for DELETE requests. - 'oldObject' - The existing object. The value is null for CREATE requests. - 'request' - Attributes of the API request([ref](/pkg/apis/admission/types.go#AdmissionRequest)). - 'params' - Parameter resource referred to by the policy binding being evaluated. Only populated if the policy has a ParamKind. - 'namespaceObject' - The namespace object that the incoming object belongs to. The value is null for cluster-scoped resources. - 'variables' - Map of composited variables, from its name to its lazily evaluated value.\n  For example, a variable named 'foo' can be accessed as 'variables.foo'.\n- 'authorizer' - A CEL Authorizer. May be used to perform authorization checks for the principal (user or service account) of the request.\n  See https://pkg.go.dev/k8s.io/apiserver/pkg/cel/library#Authz\n- 'authorizer.requestResource' - A CEL ResourceCheck constructed from the 'authorizer' and configured with the\n  request resource.\n\nThe `apiVersion`, `kind`, `metadata.name` and `metadata.generateName` are always accessible from the root of the object. No other metadata properties are accessible.\n\nOnly property names of the form `[a-zA-Z_.-/][a-zA-Z0-9_.-/]*` are accessible. Required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApplyConfiguration defines the desired configuration values of an object."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1JSONPatch": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "expression will be evaluated by CEL to create a [JSON patch](https://jsonpatch.com/). ref: https://github.com/google/cel-spec\n\nexpression must return an array of JSONPatch values.\n\nFor example, this CEL expression returns a JSON patch to conditionally modify a value:\n\n\t  [\n\t    JSONPatch{op: \"test\", path: \"/spec/example\", value: \"Red\"},\n\t    JSONPatch{op: \"replace\", path: \"/spec/example\", value: \"Green\"}\n\t  ]\n\nTo define an object for the patch value, use Object types. For example:\n\n\t  [\n\t    JSONPatch{\n\t      op: \"add\",\n\t      path: \"/spec/selector\",\n\t      value: Object.spec.selector{matchLabels: {\"environment\": \"test\"}}\n\t    }\n\t  ]\n\nTo use strings containing '/' and '~' as JSONPatch path keys, use \"jsonpatch.escapeKey\". For example:\n\n\t  [\n\t    JSONPatch{\n\t      op: \"add\",\n\t      path: \"/metadata/labels/\" + jsonpatch.escapeKey(\"example.com/environment\"),\n\t      value: \"test\"\n\t    },\n\t  ]\n\nCEL expressions have access to the types needed to create JSON patches and objects:\n\n- 'JSONPatch' - CEL type of JSON Patch operations. JSONPatch has the fields 'op', 'from', 'path' and 'value'.\n  See [JSON patch](https://jsonpatch.com/) for more details. The 'value' field may be set to any of: string,\n  integer, array, map or object.  If set, the 'path' and 'from' fields must be set to a\n  [JSON pointer](https://datatracker.ietf.org/doc/html/rfc6901/) string, where the 'jsonpatch.escapeKey()' CEL\n  function may be used to escape path keys containing '/' and '~'.\n- 'Object' - CEL type of the resource object. - 'Object.<fieldName>' - CEL type of object field (such as 'Object.spec') - 'Object.<fieldName1>.<fieldName2>...<fieldNameN>` - CEL type of nested field (such as 'Object.spec.containers')\n\nCEL expressions have access to the contents of the API request, organized into CEL variables as well as some other useful variables:\n\n- 'object' - The object from the incoming request. The value is null for DELETE requests. - 'oldObject' - The existing object. The value is null for CREATE requests. - 'request' - Attributes of the API request([ref](/pkg/apis/admission/types.go#AdmissionRequest)). - 'params' - Parameter resource referred to by the policy binding being evaluated. Only populated if the policy has a ParamKind. - 'namespaceObject' - The namespace object that the incoming object belongs to. The value is null for cluster-scoped resources. - 'variables' - Map of composited variables, from its name to its lazily evaluated value.\n  For example, a variable named 'foo' can be accessed as 'variables.foo'.\n- 'authorizer' - A CEL Authorizer. May be used to perform authorization checks for the principal (user or service account) of the request.\n  See https://pkg.go.dev/k8s.io/apiserver/pkg/cel/library#Authz\n- 'authorizer.requestResource' - A CEL ResourceCheck constructed from the 'authorizer' and configured with the\n  request resource.\n\nCEL expressions have access to [Kubernetes CEL function libraries](https://kubernetes.io/docs/reference/using-api/cel/#cel-options-language-features-and-libraries) as well as:\n\n- 'jsonpatch.escapeKey' - Performs JSONPatch key escaping. '~' and  '/' are escaped as '~0' and `~1' respectively).\n\nOnly property names of the form `[a-zA-Z_.-/][a-zA-Z0-9_.-/]*` are accessible. Required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSONPatch defines a JSON Patch."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicySpecMutationsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1Mutation"
      },
      "traits": {
        "smithy.api#documentation": "mutations contain operations to perform on matching objects. mutations may not be empty; a minimum of one mutation is required. mutations are evaluated in order, and are reinvoked according to the reinvocationPolicy. The mutations of a policy are invoked for each binding of this policy and reinvocation of mutations occurs on a per binding basis."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1ParamKind": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "apiVersion is the API group version the resources belong to. In format of \"group/version\". Required."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "kind is the API kind the resources belong to. Required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ParamKind is a tuple of Group Kind and Version."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1Variable": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "expression is the expression that will be evaluated as the value of the variable. The CEL expression has access to the same identifiers as the CEL expressions in Validation.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the name of the variable. The name must be a valid CEL identifier and unique among all variables. The variable can be accessed in other expressions through `variables` For example, if name is \"foo\", the variable will be available as `variables.foo`",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Variable is the definition of a variable that is used for composition. A variable is defined as a named expression."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicySpecVariablesList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1Variable"
      },
      "traits": {
        "smithy.api#documentation": "variables contain definitions of variables that can be used in composition of other expressions. Each variable is defined as a named CEL expression. The variables defined here will be available under `variables` in other expressions of the policy except matchConditions because matchConditions are evaluated before the rest of the policy.\n\nThe expression of a variable can refer to other variables defined earlier in the list but not those after. Thus, variables must be sorted by the order of first appearance and acyclic."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicyListItemsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicy"
      },
      "traits": {
        "smithy.api#documentation": "List of ValidatingAdmissionPolicy."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ListMeta": {
      "type": "structure",
      "members": {
        "continue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "continue may be set if the user set a limit on the number of items returned, and indicates that the server has more data available. The value is opaque and may be used to issue another request to the endpoint that served this list to retrieve the next set of available objects. Continuing a consistent list may not be possible if the server configuration has changed or more than a few minutes have passed. The resourceVersion field returned when using this continue value will be identical to the value in the first response, unless you have received this token from an error message."
          }
        },
        "remainingItemCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "remainingItemCount is the number of subsequent items in the list which are not included in this list response. If the list request contained label or field selectors, then the number of remaining items is unknown and the field will be left unset and omitted during serialization. If the list is complete (either because it is not chunking or because this is the last chunk), then there are no more remaining items and this field will be left unset and omitted during serialization. Servers older than v1.15 do not set this field. The intended use of the remainingItemCount is *estimating* the size of a collection. Clients should not rely on the remainingItemCount to be set or to be exact."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String that identifies the server's internal version of this object that can be used by clients to determine when objects have changed. Value must be treated as opaque by clients and passed unmodified back to the server. Populated by the system. Read-only. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency"
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: selfLink is a legacy read-only field that is no longer populated by the system."
          }
        },
        "shardInfo": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ShardInfo",
          "traits": {
            "smithy.api#documentation": "shardInfo is set when the list is a filtered subset of the full collection, as selected by a shard selector on the request. It echoes back the selector so clients can verify which shard they received and merge sharded responses. Clients should not cache sharded list responses as a full representation of the collection.\n\nThis is an alpha field and requires enabling the ShardedListAndWatch feature gate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListMeta describes metadata that synthetic resources must have, including lists and various status objects. A resource may have only one of {ObjectMeta, ListMeta}."
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ShardInfo": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "selector is the shard selector string from the request, echoed back so clients can verify which shard they received and merge responses from multiple shards.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ShardInfo describes the shard selector that was applied to produce a list response. Its presence on a list response indicates the list is a filtered subset."
      }
    },
    "com.kubernetes.admissionregistration#ListAdmissionregistrationV1MutatingAdmissionPolicy": {
      "type": "operation",
      "input": {
        "target": "com.kubernetes.admissionregistration#ListAdmissionregistrationV1MutatingAdmissionPolicyRequest"
      },
      "output": {
        "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicyList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/admissionregistration.k8s.io/v1/mutatingadmissionpolicies",
          "code": 200
        },
        "smithy.api#documentation": "list or watch objects of kind MutatingAdmissionPolicy"
      }
    },
    "com.kubernetes.admissionregistration#CreateAdmissionregistrationV1MutatingAdmissionPolicyRequest": {
      "type": "structure",
      "members": {
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "dryRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dryRun",
            "smithy.api#documentation": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed"
          }
        },
        "fieldManager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldManager",
            "smithy.api#documentation": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint."
          }
        },
        "fieldValidation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldValidation",
            "smithy.api#documentation": "fieldValidation instructs the server on how to handle objects in the request (POST/PUT/PATCH) containing unknown or duplicate fields. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default in v1.23+ - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1ObjectMeta",
          "traits": {
            "smithy.api#documentation": "metadata is the standard object metadata; More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata."
          }
        },
        "spec": {
          "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicySpec",
          "traits": {
            "smithy.api#documentation": "spec defines the desired behavior of the MutatingAdmissionPolicy."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.kubernetes.admissionregistration#CreateAdmissionregistrationV1MutatingAdmissionPolicy": {
      "type": "operation",
      "input": {
        "target": "com.kubernetes.admissionregistration#CreateAdmissionregistrationV1MutatingAdmissionPolicyRequest"
      },
      "output": {
        "target": "com.kubernetes.admissionregistration#IoK8sApiAdmissionregistrationV1MutatingAdmissionPolicy"
      },
      "errors": [
        {
          "target": "com.kubernetes.admissionregistration#Conflict"
        },
        {
          "target": "com.kubernetes.admissionregistration#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apis/admissionregistration.k8s.io/v1/mutatingadmissionpolicies",
          "code": 200
        },
        "smithy.api#documentation": "create a MutatingAdmissionPolicy"
      }
    },
    "com.kubernetes.admissionregistration#DeleteAdmissionregistrationV1CollectionMutatingAdmissionPolicyRequestDryRunList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed"
      }
    },
    "com.kubernetes.admissionregistration#IoK8sApimachineryPkgApisMetaV1Preconditions": {
      "type": "structure",
      "members": {
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the target ResourceVersion"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the target UID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Preconditions must be fulfilled before an operation (update, delete, etc.) is carried out."
      }
    },
    "com.kubernetes.admissionregistration#DeleteAdmissionregistrationV1CollectionMutatingAdmissionPolicyRequest": {
      "type": "structure",
      "members": {
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "continue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "continue",
            "smithy.api#documentation": "The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications."
          }
        },
        "dryRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dryRun",
            "smithy.api#documentation": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed"
          }
        },
        "fieldSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldSelector",
            "smithy.api#documentation": "A selector to restrict the list of returned objects by their fields. Defaults to everything."
          }
        },
        "gracePeriodSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "gracePeriodSeconds",
            "smithy.api#documentation": "The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately."
          }
        },
        "ignoreStoreReadErrorWithClusterBreakingPotential": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "ignoreStoreReadErrorWithClusterBreakingPotential",
            "smithy.api#documentation": "if set to true, it will trigger an unsafe deletion of the resource in case the normal deletion flow fails with a corrupt object error. A resource is considered corrupt if it can not be retrieved from the underlying storage successfully because of a) its data can not be transformed e.g. decryption failure, or b) it fails to decode into an object. NOTE: unsafe deletion ignores finalizer constraints, skips precondition checks, and removes the object from the storage. WARNING: This may potentially break the cluster if the workload associated with the resource being unsafe-deleted relies on normal deletion flow. Use only if you REALLY know what you are doing. The default value is false, and the user must opt in to enable it"
          }
        },
        "labelSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "labelSelector",
            "smithy.api#documentation": "A selector to restrict the list of returned objects by their labels. Defaults to everything."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
[...]
