{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIGroup": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the name of the group.",
            "smithy.api#required": {}
          }
        },
        "preferredVersion": {
          "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1GroupVersionForDiscovery",
          "traits": {
            "smithy.api#documentation": "preferredVersion is the version preferred by the API server, which probably is the storage version."
          }
        },
        "serverAddressByClientCIDRs": {
          "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIGroupServerAddressByClientCIDRsList",
          "traits": {
            "smithy.api#documentation": "a map of client CIDR to server address that is serving this group. This is to help clients reach servers in the most network-efficient way possible. Clients can use the appropriate server address as per the CIDR that they match. In case of multiple matches, clients should use the longest matching CIDR. The server returns only those CIDRs that it thinks that the client can match. For example: the master will return an internal IP CIDR only, if the client reaches the server using an internal IP. Server looks at X-Forwarded-For header or X-Real-Ip header or request.RemoteAddr (in that order) to get the client IP."
          }
        },
        "versions": {
          "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIGroupVersionsList",
          "traits": {
            "smithy.api#documentation": "versions are the versions supported in this group.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIGroup contains the name, the supported versions, and the preferred version of a group."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1GroupVersionForDiscovery": {
      "type": "structure",
      "members": {
        "groupVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "groupVersion specifies the API group and version in the form \"group/version\"",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "version specifies the version in the form of \"version\". This is to save the clients the trouble of splitting the GroupVersion.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GroupVersion contains the \"group/version\" and \"version\" string of a version. It is made a struct to keep extensibility."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ServerAddressByClientCIDR": {
      "type": "structure",
      "members": {
        "clientCIDR": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CIDR with which clients can match their IP to figure out the server address that they should use.",
            "smithy.api#required": {}
          }
        },
        "serverAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address of this server, suitable for a client that matches the above CIDR. This can be a hostname, hostname:port, IP or IP:port.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServerAddressByClientCIDR helps the client to determine the server address that they should use, depending on the clientCIDR that they match."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIGroupServerAddressByClientCIDRsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ServerAddressByClientCIDR"
      },
      "traits": {
        "smithy.api#documentation": "a map of client CIDR to server address that is serving this group. This is to help clients reach servers in the most network-efficient way possible. Clients can use the appropriate server address as per the CIDR that they match. In case of multiple matches, clients should use the longest matching CIDR. The server returns only those CIDRs that it thinks that the client can match. For example: the master will return an internal IP CIDR only, if the client reaches the server using an internal IP. Server looks at X-Forwarded-For header or X-Real-Ip header or request.RemoteAddr (in that order) to get the client IP."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIGroupVersionsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1GroupVersionForDiscovery"
      },
      "traits": {
        "smithy.api#documentation": "versions are the versions supported in this group."
      }
    },
    "com.kubernetes.apiextensions#GetApiextensionsAPIGroup": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIGroup"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/apiextensions.k8s.io/",
          "code": 200
        },
        "smithy.api#documentation": "get information of a group"
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIResourceList": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "groupVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "groupVersion is the group and version this APIResourceList is for.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "resources": {
          "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIResourceListResourcesList",
          "traits": {
            "smithy.api#documentation": "resources contains the name of the resources and if they are namespaced.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIResourceList is a list of APIResource, it is used to expose the name of the resources supported in a specific group and version, and if the resource is namespaced."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIResource": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIResourceCategoriesList",
          "traits": {
            "smithy.api#documentation": "categories is a list of the grouped resources this resource belongs to (e.g. 'all')"
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "group is the preferred group of the resource.  Empty implies the group of the containing resource list. For subresources, this may have a different value, for example: Scale\"."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "kind is the kind for the resource (e.g. 'Foo' is the kind for a resource 'foo')",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the plural name of the resource.",
            "smithy.api#required": {}
          }
        },
        "namespaced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "namespaced indicates if a resource is namespaced or not.",
            "smithy.api#required": {}
          }
        },
        "shortNames": {
          "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIResourceShortNamesList",
          "traits": {
            "smithy.api#documentation": "shortNames is a list of suggested short names of the resource."
          }
        },
        "singularName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "singularName is the singular name of the resource.  This allows clients to handle plural and singular opaquely. The singularName is more correct for reporting status on a single item and both singular and plural are allowed from the kubectl CLI interface.",
            "smithy.api#required": {}
          }
        },
        "storageVersionHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hash value of the storage version, the version this resource is converted to when written to the data store. Value must be treated as opaque by clients. Only equality comparison on the value is valid. This is an alpha feature and may change or be removed in the future. The field is populated by the apiserver only if the StorageVersionHash feature gate is enabled. This field will remain optional even if it graduates."
          }
        },
        "verbs": {
          "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIResourceVerbsList",
          "traits": {
            "smithy.api#documentation": "verbs is a list of supported kube verbs (this includes get, list, watch, create, update, patch, delete, deletecollection, and proxy)",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "version is the preferred version of the resource.  Empty implies the version of the containing resource list For subresources, this may have a different value, for example: v1 (while inside a v1beta1 version of the core resource's group)\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIResource specifies the name of a resource and whether it is namespaced."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIResourceCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "categories is a list of the grouped resources this resource belongs to (e.g. 'all')"
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIResourceShortNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "shortNames is a list of suggested short names of the resource."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIResourceVerbsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "verbs is a list of supported kube verbs (this includes get, list, watch, create, update, patch, delete, deletecollection, and proxy)"
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIResourceListResourcesList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIResource"
      },
      "traits": {
        "smithy.api#documentation": "resources contains the name of the resources and if they are namespaced."
      }
    },
    "com.kubernetes.apiextensions#GetApiextensionsV1APIResources": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1APIResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/apiextensions.k8s.io/v1/",
          "code": 200
        },
        "smithy.api#documentation": "get available resources"
      }
    },
    "com.kubernetes.apiextensions#ListApiextensionsV1CustomResourceDefinitionRequest": {
      "type": "structure",
      "members": {
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "allowWatchBookmarks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "allowWatchBookmarks",
            "smithy.api#documentation": "allowWatchBookmarks requests watch events with type \"BOOKMARK\". Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server's discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored."
          }
        },
        "continue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "continue",
            "smithy.api#documentation": "The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications."
          }
        },
        "fieldSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldSelector",
            "smithy.api#documentation": "A selector to restrict the list of returned objects by their fields. Defaults to everything."
          }
        },
        "labelSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "labelSelector",
            "smithy.api#documentation": "A selector to restrict the list of returned objects by their labels. Defaults to everything."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceVersion",
            "smithy.api#documentation": "resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.\n\nDefaults to unset"
          }
        },
        "resourceVersionMatch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceVersionMatch",
            "smithy.api#documentation": "resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.\n\nDefaults to unset"
          }
        },
        "sendInitialEvents": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "sendInitialEvents",
            "smithy.api#documentation": "`sendInitialEvents=true` may be set together with `watch=true`. In that case, the watch stream will begin with synthetic events to produce the current state of objects in the collection. Once all such events have been sent, a synthetic \"Bookmark\" event  will be sent. The bookmark will report the ResourceVersion (RV) corresponding to the set of objects, and be marked with `\"k8s.io/initial-events-end\": \"true\"` annotation. Afterwards, the watch stream will proceed as usual, sending watch events corresponding to changes (subsequent to the RV) to objects watched.\n\nWhen `sendInitialEvents` option is set, we require `resourceVersionMatch` option to also be set. The semantic of the watch request is as following: - `resourceVersionMatch` = NotOlderThan\n  is interpreted as \"data at least as new as the provided `resourceVersion`\"\n  and the bookmark event is send when the state is synced\n  to a `resourceVersion` at least as fresh as the one provided by the ListOptions.\n  If `resourceVersion` is unset, this is interpreted as \"consistent read\" and the\n  bookmark event is send when the state is synced at least to the moment\n  when request started being processed.\n- `resourceVersionMatch` set to any other value or unset\n  Invalid error is returned.\n\nDefaults to true if `resourceVersion=\"\"` or `resourceVersion=\"0\"` (for backward compatibility reasons) and to false otherwise."
          }
        },
        "shardSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "shardSelector",
            "smithy.api#documentation": "shardSelector restricts the list of returned objects using a CEL-based shard selector expression. The format uses the shardRange() function combined with || (logical OR) to specify one or more hash ranges:\n\n  shardRange(object.metadata.uid, '0x0', '0x8000000000000000')\n  shardRange(object.metadata.uid, '0x0', '0x8000000000000000') || shardRange(object.metadata.uid, '0x8000000000000000', '0x10000000000000000')\n\nField paths use CEL-style object-rooted syntax (e.g. \"object.metadata.uid\"), NOT the fieldSelector format (\"metadata.uid\"). Currently supported paths:\n  - object.metadata.uid\n  - object.metadata.namespace\n\nhexStart and hexEnd are single-quoted CEL string literals with a '0x' prefix, defining the inclusive lower and exclusive upper bounds over the 64-bit FNV-1a hash space. The full range is [0x0, 0x10000000000000000), where the exclusive upper bound equals 2^64.\n\nExamples:\n  2-shard split:\n    shard 0: shardRange(object.metadata.uid, '0x0000000000000000', '0x8000000000000000')\n    shard 1: shardRange(object.metadata.uid, '0x8000000000000000', '0x10000000000000000')\n  4-shard split:\n    shard 0: shardRange(object.metadata.uid, '0x0000000000000000', '0x4000000000000000')\n    shard 1: shardRange(object.metadata.uid, '0x4000000000000000', '0x8000000000000000')\n    shard 2: shardRange(object.metadata.uid, '0x8000000000000000', '0xc000000000000000')\n    shard 3: shardRange(object.metadata.uid, '0xc000000000000000', '0x10000000000000000')\n\nThis is an alpha field and requires enabling the ShardedListAndWatch feature gate."
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "timeoutSeconds",
            "smithy.api#documentation": "Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity."
          }
        },
        "watch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "watch",
            "smithy.api#documentation": "Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionList": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "items": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionListItemsList",
          "traits": {
            "smithy.api#documentation": "items list individual CustomResourceDefinition objects",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ListMeta",
          "traits": {
            "smithy.api#documentation": "Standard object's metadata More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomResourceDefinitionList is a list of CustomResourceDefinition objects."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinition": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ObjectMeta",
          "traits": {
            "smithy.api#documentation": "Standard object's metadata More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "spec": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionSpec",
          "traits": {
            "smithy.api#documentation": "spec describes how the user wants the resources to appear",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionStatus",
          "traits": {
            "smithy.api#documentation": "status indicates the actual state of the CustomResourceDefinition"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomResourceDefinition represents a resource that should be exposed on the API server.  Its name MUST be in the format <.spec.name>.<.spec.group>."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ObjectMeta": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ObjectMetaAnnotationsMap",
          "traits": {
            "smithy.api#documentation": "Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations"
          }
        },
        "creationTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CreationTimestamp is a timestamp representing the server time when this object was created. It is not guaranteed to be set in happens-before order across separate operations. Clients may not set this value. It is represented in RFC3339 form and is in UTC.\n\nPopulated by the system. Read-only. Null for lists. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "deletionGracePeriodSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds allowed for this object to gracefully terminate before it will be removed from the system. Only set when deletionTimestamp is also set. May only be shortened. Read-only."
          }
        },
        "deletionTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DeletionTimestamp is RFC 3339 date and time at which this resource will be deleted. This field is set by the server when a graceful deletion is requested by the user, and is not directly settable by a client. The resource is expected to be deleted (no longer visible from resource lists, and not reachable by name) after the time in this field, once the finalizers list is empty. As long as the finalizers list contains items, deletion is blocked. Once the deletionTimestamp is set, this value may not be unset or be set further into the future, although it may be shortened or the resource may be deleted prior to this time. For example, a user may request that a pod is deleted in 30 seconds. The Kubelet will react by sending a graceful termination signal to the containers in the pod. After that 30 seconds, the Kubelet will send a hard termination signal (SIGKILL) to the container and after cleanup, remove the pod from the API. In the presence of network partitions, this object may still exist after this timestamp, until an administrator or automated process can determine the resource is fully terminated. If not set, graceful deletion of the object has not been requested.\n\nPopulated by the system when a graceful deletion is requested. Read-only. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "finalizers": {
          "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ObjectMetaFinalizersList",
          "traits": {
            "smithy.api#documentation": "Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. Finalizers may be processed and removed in any order.  Order is NOT enforced because it introduces significant risk of stuck finalizers. finalizers is a shared field, any actor with permission can reorder it. If the finalizer list is processed in order, then this can lead to a situation in which the component responsible for the first finalizer in the list is waiting for a signal (field value, external system, or other) produced by a component responsible for a finalizer later in the list, resulting in a deadlock. Without enforced ordering finalizers are free to order amongst themselves and are not vulnerable to ordering changes in the list."
          }
        },
        "generateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GenerateName is an optional prefix, used by the server, to generate a unique name ONLY IF the Name field has not been provided. If this field is used, the name returned to the client will be different than the name passed. This value will also be combined with a unique suffix. The provided value has the same validation rules as the Name field, and may be truncated by the length of the suffix required to make the value unique on the server.\n\nIf this field is specified and the generated name exists, the server will return a 409.\n\nApplied only if Name is not specified. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#idempotency"
          }
        },
        "generation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A sequence number representing a specific generation of the desired state. Populated by the system. Read-only."
          }
        },
        "labels": {
          "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ObjectMetaLabelsMap",
          "traits": {
            "smithy.api#documentation": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and services. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels"
          }
        },
        "managedFields": {
          "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ObjectMetaManagedFieldsList",
          "traits": {
            "smithy.api#documentation": "ManagedFields maps workflow-id and version to the set of fields that are managed by that workflow. This is mostly for internal housekeeping, and users typically shouldn't need to set or understand this field. A workflow can be the user's name, a controller's name, or the name of a specific apply path like \"ci-cd\". The set of fields is always in the version that the workflow used when modifying the object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name must be unique within a namespace. Is required when creating resources, although some resources may allow a client to request the generation of an appropriate name automatically. Name is primarily intended for creation idempotence and configuration definition. Cannot be updated. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names"
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace defines the space within which each name must be unique. An empty namespace is equivalent to the \"default\" namespace, but \"default\" is the canonical representation. Not all objects are required to be scoped to a namespace - the value of this field for those objects will be empty.\n\nMust be a DNS_LABEL. Cannot be updated. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces"
          }
        },
        "ownerReferences": {
          "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ObjectMetaOwnerReferencesList",
          "traits": {
            "smithy.api#documentation": "List of objects depended by this object. If ALL objects in the list have been deleted, this object will be garbage collected. If this object is managed by a controller, then an entry in this list will point to this controller, with the controller field set to true. There cannot be more than one managing controller."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque value that represents the internal version of this object that can be used by clients to determine when objects have changed. May be used for optimistic concurrency, change detection, and the watch operation on a resource or set of resources. Clients must treat these values as opaque and passed unmodified back to the server. They may only be valid for a particular resource or set of resources.\n\nPopulated by the system. Read-only. Value must be treated as opaque by clients and . More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency"
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: selfLink is a legacy read-only field that is no longer populated by the system."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID is the unique in time and space value for this object. It is typically generated by the server on successful creation of a resource and is not allowed to change on PUT operations.\n\nPopulated by the system. Read-only. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ObjectMetaAnnotationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations"
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ObjectMetaFinalizersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. Finalizers may be processed and removed in any order.  Order is NOT enforced because it introduces significant risk of stuck finalizers. finalizers is a shared field, any actor with permission can reorder it. If the finalizer list is processed in order, then this can lead to a situation in which the component responsible for the first finalizer in the list is waiting for a signal (field value, external system, or other) produced by a component responsible for a finalizer later in the list, resulting in a deadlock. Without enforced ordering finalizers are free to order amongst themselves and are not vulnerable to ordering changes in the list."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ObjectMetaLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and services. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels"
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ManagedFieldsEntry": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the version of this resource that this field set applies to. The format is \"group/version\" just like the top-level APIVersion field. It is necessary to track the version of a field set because it cannot be automatically converted."
          }
        },
        "fieldsType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "FieldsType is the discriminator for the different fields format and version. There is currently only one possible value: \"FieldsV1\""
          }
        },
        "fieldsV1": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "FieldsV1 holds the first JSON version format as described in the \"FieldsV1\" type."
          }
        },
        "manager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manager is an identifier of the workflow managing these fields."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation is the type of operation which lead to this ManagedFieldsEntry being created. The only valid values for this field are 'Apply' and 'Update'."
          }
        },
        "subresource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subresource is the name of the subresource used to update that object, or empty string if the object was updated through the main resource. The value of this field is used to distinguish between managers, even if they share the same name. For example, a status update will be distinct from a regular update using the same manager name. Note that the APIVersion field is not related to the Subresource field and it always corresponds to the version of the main resource."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time is the timestamp of when the ManagedFields entry was added. The timestamp will also be updated if a field is added, the manager changes any of the owned fields value or removes a field. The timestamp does not update when a field is removed from the entry because another manager took it over."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ManagedFieldsEntry is a workflow-id, a FieldSet and the group version of the resource that the fieldset applies to."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ObjectMetaManagedFieldsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ManagedFieldsEntry"
      },
      "traits": {
        "smithy.api#documentation": "ManagedFields maps workflow-id and version to the set of fields that are managed by that workflow. This is mostly for internal housekeeping, and users typically shouldn't need to set or understand this field. A workflow can be the user's name, a controller's name, or the name of a specific apply path like \"ci-cd\". The set of fields is always in the version that the workflow used when modifying the object."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1OwnerReference": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API version of the referent.",
            "smithy.api#required": {}
          }
        },
        "blockOwnerDeletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, AND if the owner has the \"foregroundDeletion\" finalizer, then the owner cannot be deleted from the key-value store until this reference is removed. See https://kubernetes.io/docs/concepts/architecture/garbage-collection/#foreground-deletion for how the garbage collector interacts with this field and enforces the foreground deletion. Defaults to false. To set this field, a user needs \"delete\" permission of the owner, otherwise 422 (Unprocessable Entity) will be returned."
          }
        },
        "controller": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, this reference points to the managing controller."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names",
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OwnerReference contains enough information to let you identify an owning object. An owning object must be in the same namespace as the dependent, or be cluster-scoped, so there is no namespace field."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1ObjectMetaOwnerReferencesList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.apiextensions#IoK8sApimachineryPkgApisMetaV1OwnerReference"
      },
      "traits": {
        "smithy.api#documentation": "List of objects depended by this object. If ALL objects in the list have been deleted, this object will be garbage collected. If this object is managed by a controller, then an entry in this list will point to this controller, with the controller field set to true. There cannot be more than one managing controller."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionSpec": {
      "type": "structure",
      "members": {
        "conversion": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceConversion",
          "traits": {
            "smithy.api#documentation": "conversion defines conversion settings for the CRD."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "group is the API group of the defined custom resource. The custom resources are served under `/apis/<group>/...`. Must match the name of the CustomResourceDefinition (in the form `<names.plural>.<group>`).",
            "smithy.api#required": {}
          }
        },
        "names": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionNames",
          "traits": {
            "smithy.api#documentation": "names specify the resource and kind names for the custom resource.",
            "smithy.api#required": {}
          }
        },
        "preserveUnknownFields": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "preserveUnknownFields indicates that object fields which are not specified in the OpenAPI schema should be preserved when persisting to storage. apiVersion, kind, metadata and known fields inside metadata are always preserved. This field is deprecated in favor of setting `x-preserve-unknown-fields` to true in `spec.versions[*].schema.openAPIV3Schema`. See https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#field-pruning for details."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "scope indicates whether the defined custom resource is cluster- or namespace-scoped. Allowed values are `Cluster` and `Namespaced`.",
            "smithy.api#required": {}
          }
        },
        "versions": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionSpecVersionsList",
          "traits": {
            "smithy.api#documentation": "versions is the list of all API versions of the defined custom resource. Version names are used to compute the order in which served versions are listed in API discovery. If the version string is \"kube-like\", it will sort above non \"kube-like\" version strings, which are ordered lexicographically. \"Kube-like\" versions start with a \"v\", then are followed by a number (the major version), then optionally the string \"alpha\" or \"beta\" and another number (the minor version). These are sorted first by GA > beta > alpha (where GA is a version with no suffix such as beta or alpha), and then by comparing major version, then minor version. An example sorted list of versions: v10, v2, v1, v11beta2, v10beta3, v3beta1, v12alpha1, v11alpha2, foo1, foo10.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomResourceDefinitionSpec describes how a user wants their resource to appear"
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceConversion": {
      "type": "structure",
      "members": {
        "strategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "strategy specifies how custom resources are converted between versions. Allowed values are: - `\"None\"`: The converter only change the apiVersion and would not touch any other field in the custom resource. - `\"Webhook\"`: API Server will call to an external webhook to do the conversion. Additional information\n  is needed for this option. This requires spec.preserveUnknownFields to be false, and spec.conversion.webhook to be set.",
            "smithy.api#required": {}
          }
        },
        "webhook": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1WebhookConversion",
          "traits": {
            "smithy.api#documentation": "webhook describes how to call the conversion webhook. Required when `strategy` is set to `\"Webhook\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomResourceConversion describes how to convert different versions of a CR."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1WebhookConversion": {
      "type": "structure",
      "members": {
        "clientConfig": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1WebhookClientConfig",
          "traits": {
            "smithy.api#documentation": "clientConfig is the instructions for how to call the webhook if strategy is `Webhook`."
          }
        },
        "conversionReviewVersions": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1WebhookConversionConversionReviewVersionsList",
          "traits": {
            "smithy.api#documentation": "conversionReviewVersions is an ordered list of preferred `ConversionReview` versions the Webhook expects. The API server will use the first version in the list which it supports. If none of the versions specified in this list are supported by API server, conversion will fail for the custom resource. If a persisted Webhook configuration specifies allowed versions and does not include any versions known to the API Server, calls to the webhook will fail.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WebhookConversion describes how to call a conversion webhook"
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1WebhookClientConfig": {
      "type": "structure",
      "members": {
        "caBundle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "caBundle is a PEM encoded CA bundle which will be used to validate the webhook's server certificate. If unspecified, system trust roots on the apiserver are used."
          }
        },
        "service": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1ServiceReference",
          "traits": {
            "smithy.api#documentation": "service is a reference to the service for this webhook. Either service or url must be specified.\n\nIf the webhook is running within the cluster, then you should use `service`."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "url gives the location of the webhook, in standard URL form (`scheme://host:port/path`). Exactly one of `url` or `service` must be specified.\n\nThe `host` should not refer to a service running in the cluster; use the `service` field instead. The host might be resolved via external DNS in some apiservers (e.g., `kube-apiserver` cannot resolve in-cluster DNS as that would be a layering violation). `host` may also be an IP address.\n\nPlease note that using `localhost` or `127.0.0.1` as a `host` is risky unless you take great care to run this webhook on all hosts which run an apiserver which might need to make calls to this webhook. Such installs are likely to be non-portable, i.e., not easy to turn up in a new cluster.\n\nThe scheme must be \"https\"; the URL must begin with \"https://\".\n\nA path is optional, and if present may be any string permissible in a URL. You may use the path to pass an arbitrary string to the webhook, for example, a cluster identifier.\n\nAttempting to use a user or basic auth e.g. \"user:password@\" is not allowed. Fragments (\"#...\") and query parameters (\"?...\") are not allowed, either."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WebhookClientConfig contains the information to make a TLS connection with the webhook."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1ServiceReference": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the name of the service. Required",
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "namespace is the namespace of the service. Required",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "path is an optional URL path at which the webhook will be contacted."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "port is an optional service port at which the webhook will be contacted. `port` should be a valid port number (1-65535, inclusive). Defaults to 443 for backward compatibility."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServiceReference holds a reference to Service.legacy.k8s.io"
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1WebhookConversionConversionReviewVersionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "conversionReviewVersions is an ordered list of preferred `ConversionReview` versions the Webhook expects. The API server will use the first version in the list which it supports. If none of the versions specified in this list are supported by API server, conversion will fail for the custom resource. If a persisted Webhook configuration specifies allowed versions and does not include any versions known to the API Server, calls to the webhook will fail."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionNames": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionNamesCategoriesList",
          "traits": {
            "smithy.api#documentation": "categories is a list of grouped resources this custom resource belongs to (e.g. 'all'). This is published in API discovery documents, and used by clients to support invocations like `kubectl get all`."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "kind is the serialized kind of the resource. It is normally CamelCase and singular. Custom resource instances will use this value as the `kind` attribute in API calls.",
            "smithy.api#required": {}
          }
        },
        "listKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "listKind is the serialized kind of the list for this resource. Defaults to \"`kind`List\"."
          }
        },
        "plural": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "plural is the plural name of the resource to serve. The custom resources are served under `/apis/<group>/<version>/.../<plural>`. Must match the name of the CustomResourceDefinition (in the form `<names.plural>.<group>`). Must be all lowercase.",
            "smithy.api#required": {}
          }
        },
        "shortNames": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionNamesShortNamesList",
          "traits": {
            "smithy.api#documentation": "shortNames are short names for the resource, exposed in API discovery documents, and used by clients to support invocations like `kubectl get <shortname>`. It must be all lowercase."
          }
        },
        "singular": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "singular is the singular name of the resource. It must be all lowercase. Defaults to lowercased `kind`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomResourceDefinitionNames indicates the names to serve this CustomResourceDefinition"
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionNamesCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "categories is a list of grouped resources this custom resource belongs to (e.g. 'all'). This is published in API discovery documents, and used by clients to support invocations like `kubectl get all`."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionNamesShortNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "shortNames are short names for the resource, exposed in API discovery documents, and used by clients to support invocations like `kubectl get <shortname>`. It must be all lowercase."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionVersion": {
      "type": "structure",
      "members": {
        "additionalPrinterColumns": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionVersionAdditionalPrinterColumnsList",
          "traits": {
            "smithy.api#documentation": "additionalPrinterColumns specifies additional columns returned in Table output. See https://kubernetes.io/docs/reference/using-api/api-concepts/#receiving-resources-as-tables for details. If no columns are specified, a single column displaying the age of the custom resource is used."
          }
        },
        "deprecated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "deprecated indicates this version of the custom resource API is deprecated. When set to true, API requests to this version receive a warning header in the server response. Defaults to false."
          }
        },
        "deprecationWarning": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "deprecationWarning overrides the default warning returned to API clients. May only be set when `deprecated` is true. The default warning indicates this version is deprecated and recommends use of the newest served version of equal or greater stability, if one exists."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the version name, e.g. “v1”, “v2beta1”, etc. The custom resources are served under this version at `/apis/<group>/<version>/...` if `served` is true.",
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceValidation",
          "traits": {
            "smithy.api#documentation": "schema describes the schema used for validation, pruning, and defaulting of this version of the custom resource."
          }
        },
        "selectableFields": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionVersionSelectableFieldsList",
          "traits": {
            "smithy.api#documentation": "selectableFields specifies paths to fields that may be used as field selectors. A maximum of 8 selectable fields are allowed. See https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors"
          }
        },
        "served": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "served is a flag enabling/disabling this version from being served via REST APIs",
            "smithy.api#required": {}
          }
        },
        "storage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "storage indicates this version should be used when persisting custom resources to storage. There must be exactly one version with storage=true.",
            "smithy.api#required": {}
          }
        },
        "subresources": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceSubresources",
          "traits": {
            "smithy.api#documentation": "subresources specify what subresources this version of the defined custom resource have."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomResourceDefinitionVersion describes a version for CRD."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceColumnDefinition": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "description is a human readable description of this column."
          }
        },
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "format is an optional OpenAPI type definition for this column. The 'name' format is applied to the primary identifier column to assist in clients identifying column is the resource name. See https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types for details."
          }
        },
        "jsonPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "jsonPath is a simple JSON path (i.e. with array notation) which is evaluated against each custom resource to produce the value for this column.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is a human readable name for the column.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "priority is an integer defining the relative importance of this column compared to others. Lower numbers are considered higher priority. Columns that may be omitted in limited space scenarios should be given a priority greater than 0."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "type is an OpenAPI type definition for this column. See https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types for details.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomResourceColumnDefinition specifies a column for server side printing."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionVersionAdditionalPrinterColumnsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceColumnDefinition"
      },
      "traits": {
        "smithy.api#documentation": "additionalPrinterColumns specifies additional columns returned in Table output. See https://kubernetes.io/docs/reference/using-api/api-concepts/#receiving-resources-as-tables for details. If no columns are specified, a single column displaying the age of the custom resource is used."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceValidation": {
      "type": "structure",
      "members": {
        "openAPIV3Schema": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaProps",
          "traits": {
            "smithy.api#documentation": "openAPIV3Schema is the OpenAPI v3 schema to use for validation and pruning."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomResourceValidation is a list of validation methods for CustomResources."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaProps": {
      "type": "structure",
      "members": {
        "_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "$ref"
          }
        },
        "_schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "$schema"
          }
        },
        "additionalItems": {
          "target": "smithy.api#Document"
        },
        "additionalProperties": {
          "target": "smithy.api#Document"
        },
        "allOf": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsAllOfList"
        },
        "anyOf": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsAnyOfList"
        },
        "default": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "default is a default value for undefined object fields. Defaulting is a beta feature under the CustomResourceDefaulting feature gate. Defaulting requires spec.preserveUnknownFields to be false."
          }
        },
        "definitions": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsDefinitionsMap"
        },
        "dependencies": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsDependenciesMap"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enum": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsEnumList"
        },
        "example": {
          "target": "smithy.api#Document"
        },
        "exclusiveMaximum": {
          "target": "smithy.api#Boolean"
        },
        "exclusiveMinimum": {
          "target": "smithy.api#Boolean"
        },
        "externalDocs": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1ExternalDocumentation"
        },
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "format is an OpenAPI v3 format string. Unknown formats are ignored. The following formats are validated:\n\n- bsonobjectid: a bson object ID, i.e. a 24 characters hex string - uri: an URI as parsed by Golang net/url.ParseRequestURI - email: an email address as parsed by Golang net/mail.ParseAddress - hostname: a valid representation for an Internet host name, as defined by RFC 1034, section 3.1 [RFC1034]. - ipv4: an IPv4 IP as parsed by Golang net.ParseIP - ipv6: an IPv6 IP as parsed by Golang net.ParseIP - cidr: a CIDR as parsed by Golang net.ParseCIDR - mac: a MAC address as parsed by Golang net.ParseMAC - uuid: an UUID that allows uppercase defined by the regex (?i)^[0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12}$ - uuid3: an UUID3 that allows uppercase defined by the regex (?i)^[0-9a-f]{8}-?[0-9a-f]{4}-?3[0-9a-f]{3}-?[0-9a-f]{4}-?[0-9a-f]{12}$ - uuid4: an UUID4 that allows uppercase defined by the regex (?i)^[0-9a-f]{8}-?[0-9a-f]{4}-?4[0-9a-f]{3}-?[89ab][0-9a-f]{3}-?[0-9a-f]{12}$ - uuid5: an UUID5 that allows uppercase defined by the regex (?i)^[0-9a-f]{8}-?[0-9a-f]{4}-?5[0-9a-f]{3}-?[89ab][0-9a-f]{3}-?[0-9a-f]{12}$ - isbn: an ISBN10 or ISBN13 number string like \"0321751043\" or \"978-0321751041\" - isbn10: an ISBN10 number string like \"0321751043\" - isbn13: an ISBN13 number string like \"978-0321751041\" - creditcard: a credit card number defined by the regex ^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\\\\d{3})\\\\d{11})$ with any non digit characters mixed in - ssn: a U.S. social security number following the regex ^\\\\d{3}[- ]?\\\\d{2}[- ]?\\\\d{4}$ - hexcolor: an hexadecimal color code like \"#FFFFFF: following the regex ^#?([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$ - rgbcolor: an RGB color code like rgb like \"rgb(255,255,2559\" - byte: base64 encoded binary data - password: any kind of string - date: a date string like \"2006-01-02\" as defined by full-date in RFC3339 - duration: a duration string like \"22 ns\" as parsed by Golang time.ParseDuration or compatible with Scala duration format - datetime: a date time string like \"2014-12-15T19:30:20.000Z\" as defined by date-time in RFC3339."
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "items": {
          "target": "smithy.api#Document"
        },
        "maxItems": {
          "target": "smithy.api#Integer"
        },
        "maxLength": {
          "target": "smithy.api#Integer"
        },
        "maxProperties": {
          "target": "smithy.api#Integer"
        },
        "maximum": {
          "target": "smithy.api#Double"
        },
        "minItems": {
          "target": "smithy.api#Integer"
        },
        "minLength": {
          "target": "smithy.api#Integer"
        },
        "minProperties": {
          "target": "smithy.api#Integer"
        },
        "minimum": {
          "target": "smithy.api#Double"
        },
        "multipleOf": {
          "target": "smithy.api#Double"
        },
        "not": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaProps"
        },
        "nullable": {
          "target": "smithy.api#Boolean"
        },
        "oneOf": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsOneOfList"
        },
        "pattern": {
          "target": "smithy.api#String"
        },
        "patternProperties": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsPatternPropertiesMap"
        },
        "properties": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsPropertiesMap"
        },
        "required": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsRequiredList"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "uniqueItems": {
          "target": "smithy.api#Boolean"
        },
        "x_kubernetes_embedded_resource": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "x-kubernetes-embedded-resource defines that the value is an embedded Kubernetes runtime.Object, with TypeMeta and ObjectMeta. The type must be object. It is allowed to further restrict the embedded object. kind, apiVersion and metadata are validated automatically. x-kubernetes-preserve-unknown-fields is allowed to be true, but does not have to be if the object is fully specified (up to kind, apiVersion, metadata).",
            "smithy.api#jsonName": "x-kubernetes-embedded-resource"
          }
        },
        "x_kubernetes_int_or_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "x-kubernetes-int-or-string specifies that this value is either an integer or a string. If this is true, an empty type is allowed and type as child of anyOf is permitted if following one of the following patterns:\n\n1) anyOf:\n   - type: integer\n   - type: string\n2) allOf:\n   - anyOf:\n     - type: integer\n     - type: string\n   - ... zero or more",
            "smithy.api#jsonName": "x-kubernetes-int-or-string"
          }
        },
        "x_kubernetes_list_map_keys": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsXKubernetesListMapKeysList",
          "traits": {
            "smithy.api#documentation": "x-kubernetes-list-map-keys annotates an array with the x-kubernetes-list-type `map` by specifying the keys used as the index of the map.\n\nThis tag MUST only be used on lists that have the \"x-kubernetes-list-type\" extension set to \"map\". Also, the values specified for this attribute must be a scalar typed field of the child structure (no nesting is supported).\n\nThe properties specified must either be required or have a default value, to ensure those properties are present for all list items.",
            "smithy.api#jsonName": "x-kubernetes-list-map-keys"
          }
        },
        "x_kubernetes_list_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "x-kubernetes-list-type annotates an array to further describe its topology. This extension must only be used on lists and may have 3 possible values:\n\n1) `atomic`: the list is treated as a single entity, like a scalar.\n     Atomic lists will be entirely replaced when updated. This extension\n     may be used on any type of list (struct, scalar, ...).\n2) `set`:\n     Sets are lists that must not have multiple items with the same value. Each\n     value must be a scalar, an object with x-kubernetes-map-type `atomic` or an\n     array with x-kubernetes-list-type `atomic`.\n3) `map`:\n     These lists are like maps in that their elements have a non-index key\n     used to identify them. Order is preserved upon merge. The map tag\n     must only be used on a list with elements of type object.\nDefaults to atomic for arrays.",
            "smithy.api#jsonName": "x-kubernetes-list-type"
          }
        },
        "x_kubernetes_map_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "x-kubernetes-map-type annotates an object to further describe its topology. This extension must only be used when type is object and may have 2 possible values:\n\n1) `granular`:\n     These maps are actual maps (key-value pairs) and each fields are independent\n     from each other (they can each be manipulated by separate actors). This is\n     the default behaviour for all maps.\n2) `atomic`: the list is treated as a single entity, like a scalar.\n     Atomic maps will be entirely replaced when updated.",
            "smithy.api#jsonName": "x-kubernetes-map-type"
          }
        },
        "x_kubernetes_preserve_unknown_fields": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "x-kubernetes-preserve-unknown-fields stops the API server decoding step from pruning fields which are not specified in the validation schema. This affects fields recursively, but switches back to normal pruning behaviour if nested properties or additionalProperties are specified in the schema. This can either be true or undefined. False is forbidden.",
            "smithy.api#jsonName": "x-kubernetes-preserve-unknown-fields"
          }
        },
        "x_kubernetes_validations": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsXKubernetesValidationsList",
          "traits": {
            "smithy.api#documentation": "x-kubernetes-validations describes a list of validation rules written in the CEL expression language.",
            "smithy.api#jsonName": "x-kubernetes-validations"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSONSchemaProps is a JSON-Schema following Specification Draft 4 (http://json-schema.org/)."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsAllOfList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaProps"
      },
      "traits": {}
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsAnyOfList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaProps"
      },
      "traits": {}
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsDefinitionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaProps"
      },
      "traits": {}
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsDependenciesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsEnumList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1ExternalDocumentation": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "ExternalDocumentation allows referencing an external resource for extended documentation."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsOneOfList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaProps"
      },
      "traits": {}
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsPatternPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaProps"
      },
      "traits": {}
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaProps"
      },
      "traits": {}
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsRequiredList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsXKubernetesListMapKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "x-kubernetes-list-map-keys annotates an array with the x-kubernetes-list-type `map` by specifying the keys used as the index of the map.\n\nThis tag MUST only be used on lists that have the \"x-kubernetes-list-type\" extension set to \"map\". Also, the values specified for this attribute must be a scalar typed field of the child structure (no nesting is supported).\n\nThe properties specified must either be required or have a default value, to ensure those properties are present for all list items."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1ValidationRule": {
      "type": "structure",
      "members": {
        "fieldPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "fieldPath represents the field path returned when the validation fails. It must be a relative JSON path (i.e. with array notation) scoped to the location of this x-kubernetes-validations extension in the schema and refer to an existing field. e.g. when validation checks if a specific attribute `foo` under a map `testMap`, the fieldPath could be set to `.testMap.foo` If the validation checks two lists must have unique attributes, the fieldPath could be set to either of the list: e.g. `.testList` It does not support list numeric index. It supports child operation to refer to an existing field currently. Refer to [JSONPath support in Kubernetes](https://kubernetes.io/docs/reference/kubectl/jsonpath/) for more info. Numeric index of array is not supported. For field name which contains special characters, use `['specialName']` to refer the field name. e.g. for attribute `foo.34$` appears in a list `testList`, the fieldPath could be set to `.testList['foo.34$']`"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message represents the message displayed when validation fails. The message is required if the Rule contains line breaks. The message must not contain line breaks. If unset, the message is \"failed rule: {Rule}\". e.g. \"must be a URL with the host matching spec.host\""
          }
        },
        "messageExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MessageExpression declares a CEL expression that evaluates to the validation failure message that is returned when this rule fails. Since messageExpression is used as a failure message, it must evaluate to a string. If both message and messageExpression are present on a rule, then messageExpression will be used if validation fails. If messageExpression results in a runtime error, the runtime error is logged, and the validation failure message is produced as if the messageExpression field were unset. If messageExpression evaluates to an empty string, a string with only spaces, or a string that contains line breaks, then the validation failure message will also be produced as if the messageExpression field were unset, and the fact that messageExpression produced an empty string/string with only spaces/string with line breaks will be logged. messageExpression has access to all the same variables as the rule; the only difference is the return type. Example: \"x must be less than max (\"+string(self.max)+\")\""
          }
        },
        "optionalOldSelf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "optionalOldSelf is used to opt a transition rule into evaluation even when the object is first created, or if the old object is missing the value.\n\nWhen enabled `oldSelf` will be a CEL optional whose value will be `None` if there is no old value, or when the object is initially created.\n\nYou may check for presence of oldSelf using `oldSelf.hasValue()` and unwrap it after checking using `oldSelf.value()`. Check the CEL documentation for Optional types for more information: https://pkg.go.dev/github.com/google/cel-go/cel#OptionalTypes\n\nMay not be set unless `oldSelf` is used in `rule`."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "reason provides a machine-readable validation failure reason that is returned to the caller when a request fails this validation rule. The HTTP status code returned to the caller will match the reason of the reason of the first failed validation rule. The currently supported reasons are: \"FieldValueInvalid\", \"FieldValueForbidden\", \"FieldValueRequired\", \"FieldValueDuplicate\". If not set, default to use \"FieldValueInvalid\". All future added reasons must be accepted by clients when reading this value and unknown reasons should be treated as FieldValueInvalid."
          }
        },
        "rule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule represents the expression which will be evaluated by CEL. ref: https://github.com/google/cel-spec The Rule is scoped to the location of the x-kubernetes-validations extension in the schema. The `self` variable in the CEL expression is bound to the scoped value. Example: - Rule scoped to the root of a resource with a status subresource: {\"rule\": \"self.status.actual <= self.spec.maxDesired\"}\n\nIf the Rule is scoped to an object with properties, the accessible properties of the object are field selectable via `self.field` and field presence can be checked via `has(self.field)`. Null valued fields are treated as absent fields in CEL expressions. If the Rule is scoped to an object with additionalProperties (i.e. a map) the value of the map are accessible via `self[mapKey]`, map containment can be checked via `mapKey in self` and all entries of the map are accessible via CEL macros and functions such as `self.all(...)`. If the Rule is scoped to an array, the elements of the array are accessible via `self[i]` and also by macros and functions. If the Rule is scoped to a scalar, `self` is bound to the scalar value. Examples: - Rule scoped to a map of objects: {\"rule\": \"self.components['Widget'].priority < 10\"} - Rule scoped to a list of integers: {\"rule\": \"self.values.all(value, value >= 0 && value < 100)\"} - Rule scoped to a string value: {\"rule\": \"self.startsWith('kube')\"}\n\nThe `apiVersion`, `kind`, `metadata.name` and `metadata.generateName` are always accessible from the root of the object and from any x-kubernetes-embedded-resource annotated objects. No other metadata properties are accessible.\n\nUnknown data preserved in custom resources via x-kubernetes-preserve-unknown-fields is not accessible in CEL expressions. This includes: - Unknown field values that are preserved by object schemas with x-kubernetes-preserve-unknown-fields. - Object properties where the property schema is of an \"unknown type\". An \"unknown type\" is recursively defined as:\n  - A schema with no type and x-kubernetes-preserve-unknown-fields set to true\n  - An array where the items schema is of an \"unknown type\"\n  - An object where the additionalProperties schema is of an \"unknown type\"\n\nOnly property names of the form `[a-zA-Z_.-/][a-zA-Z0-9_.-/]*` are accessible. Accessible property names are escaped according to the following rules when accessed in the expression: - '__' escapes to '__underscores__' - '.' escapes to '__dot__' - '-' escapes to '__dash__' - '/' escapes to '__slash__' - Property names that exactly match a CEL RESERVED keyword escape to '__{keyword}__'. The keywords are:\n\t  \"true\", \"false\", \"null\", \"in\", \"as\", \"break\", \"const\", \"continue\", \"else\", \"for\", \"function\", \"if\",\n\t  \"import\", \"let\", \"loop\", \"package\", \"namespace\", \"return\".\nExamples:\n  - Rule accessing a property named \"namespace\": {\"rule\": \"self.__namespace__ > 0\"}\n  - Rule accessing a property named \"x-prop\": {\"rule\": \"self.x__dash__prop > 0\"}\n  - Rule accessing a property named \"redact__d\": {\"rule\": \"self.redact__underscores__d > 0\"}\n\nEquality on arrays with x-kubernetes-list-type of 'set' or 'map' ignores element order, i.e. [1, 2] == [2, 1]. Concatenation on arrays with x-kubernetes-list-type use the semantics of the list type:\n  - 'set': `X + Y` performs a union where the array positions of all elements in `X` are preserved and\n    non-intersecting elements in `Y` are appended, retaining their partial order.\n  - 'map': `X + Y` performs a merge where the array positions of all keys in `X` are preserved but the values\n    are overwritten by values in `Y` when the key sets of `X` and `Y` intersect. Elements in `Y` with\n    non-intersecting keys are appended, retaining their partial order.\n\nIf `rule` makes use of the `oldSelf` variable it is implicitly a `transition rule`.\n\nBy default, the `oldSelf` variable is the same type as `self`. When `optionalOldSelf` is true, the `oldSelf` variable is a CEL optional\n variable whose value() is the same type as `self`.\nSee the documentation for the `optionalOldSelf` field for details.\n\nTransition rules by default are applied only on UPDATE requests and are skipped if an old value could not be found. You can opt a transition rule into unconditional evaluation by setting `optionalOldSelf` to true.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ValidationRule describes a validation rule written in the CEL expression language."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1JSONSchemaPropsXKubernetesValidationsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1ValidationRule"
      },
      "traits": {
        "smithy.api#documentation": "x-kubernetes-validations describes a list of validation rules written in the CEL expression language."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1SelectableField": {
      "type": "structure",
      "members": {
        "jsonPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "jsonPath is a simple JSON path which is evaluated against each custom resource to produce a field selector value. Only JSON paths without the array notation are allowed. Must point to a field of type string, boolean or integer. Types with enum values and strings with formats are allowed. If jsonPath refers to absent field in a resource, the jsonPath evaluates to an empty string. Must not point to metdata fields. Required.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SelectableField specifies the JSON path of a field that may be used with field selectors."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionVersionSelectableFieldsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1SelectableField"
      },
      "traits": {
        "smithy.api#documentation": "selectableFields specifies paths to fields that may be used as field selectors. A maximum of 8 selectable fields are allowed. See https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors"
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceSubresources": {
      "type": "structure",
      "members": {
        "scale": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceSubresourceScale",
          "traits": {
            "smithy.api#documentation": "scale indicates the custom resource should serve a `/scale` subresource that returns an `autoscaling/v1` Scale object."
          }
        },
        "status": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "status indicates the custom resource should serve a `/status` subresource. When enabled: 1. requests to the custom resource primary endpoint ignore changes to the `status` stanza of the object. 2. requests to the custom resource `/status` subresource ignore changes to anything other than the `status` stanza of the object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomResourceSubresources defines the status and scale subresources for CustomResources."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceSubresourceScale": {
      "type": "structure",
      "members": {
        "labelSelectorPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "labelSelectorPath defines the JSON path inside of a custom resource that corresponds to Scale `status.selector`. Only JSON paths without the array notation are allowed. Must be a JSON Path under `.status` or `.spec`. Must be set to work with HorizontalPodAutoscaler. The field pointed by this JSON path must be a string field (not a complex selector struct) which contains a serialized label selector in string form. More info: https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions#scale-subresource If there is no value under the given path in the custom resource, the `status.selector` value in the `/scale` subresource will default to the empty string."
          }
        },
        "specReplicasPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "specReplicasPath defines the JSON path inside of a custom resource that corresponds to Scale `spec.replicas`. Only JSON paths without the array notation are allowed. Must be a JSON Path under `.spec`. If there is no value under the given path in the custom resource, the `/scale` subresource will return an error on GET.",
            "smithy.api#required": {}
          }
        },
        "statusReplicasPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "statusReplicasPath defines the JSON path inside of a custom resource that corresponds to Scale `status.replicas`. Only JSON paths without the array notation are allowed. Must be a JSON Path under `.status`. If there is no value under the given path in the custom resource, the `status.replicas` value in the `/scale` subresource will default to 0.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomResourceSubresourceScale defines how to serve the scale subresource for CustomResources."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionSpecVersionsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionVersion"
      },
      "traits": {
        "smithy.api#documentation": "versions is the list of all API versions of the defined custom resource. Version names are used to compute the order in which served versions are listed in API discovery. If the version string is \"kube-like\", it will sort above non \"kube-like\" version strings, which are ordered lexicographically. \"Kube-like\" versions start with a \"v\", then are followed by a number (the major version), then optionally the string \"alpha\" or \"beta\" and another number (the minor version). These are sorted first by GA > beta > alpha (where GA is a version with no suffix such as beta or alpha), and then by comparing major version, then minor version. An example sorted list of versions: v10, v2, v1, v11beta2, v10beta3, v3beta1, v12alpha1, v11alpha2, foo1, foo10."
      }
    },
    "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionStatus": {
      "type": "structure",
      "members": {
        "acceptedNames": {
          "target": "com.kubernetes.apiextensions#IoK8sApiextensionsApiserverPkgApisApiextensionsV1CustomResourceDefinitionNames",
          "traits": {
            "smithy.api#documentation": "acceptedNames are the names that are actually being used to serve discovery. They may be different than the names in spec."
          }
        },
        "conditions": {
[...]
