{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIGroup": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the name of the group.",
            "smithy.api#required": {}
          }
        },
        "preferredVersion": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1GroupVersionForDiscovery",
          "traits": {
            "smithy.api#documentation": "preferredVersion is the version preferred by the API server, which probably is the storage version."
          }
        },
        "serverAddressByClientCIDRs": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIGroupServerAddressByClientCIDRsList",
          "traits": {
            "smithy.api#documentation": "a map of client CIDR to server address that is serving this group. This is to help clients reach servers in the most network-efficient way possible. Clients can use the appropriate server address as per the CIDR that they match. In case of multiple matches, clients should use the longest matching CIDR. The server returns only those CIDRs that it thinks that the client can match. For example: the master will return an internal IP CIDR only, if the client reaches the server using an internal IP. Server looks at X-Forwarded-For header or X-Real-Ip header or request.RemoteAddr (in that order) to get the client IP."
          }
        },
        "versions": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIGroupVersionsList",
          "traits": {
            "smithy.api#documentation": "versions are the versions supported in this group.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIGroup contains the name, the supported versions, and the preferred version of a group."
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1GroupVersionForDiscovery": {
      "type": "structure",
      "members": {
        "groupVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "groupVersion specifies the API group and version in the form \"group/version\"",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "version specifies the version in the form of \"version\". This is to save the clients the trouble of splitting the GroupVersion.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GroupVersion contains the \"group/version\" and \"version\" string of a version. It is made a struct to keep extensibility."
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ServerAddressByClientCIDR": {
      "type": "structure",
      "members": {
        "clientCIDR": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CIDR with which clients can match their IP to figure out the server address that they should use.",
            "smithy.api#required": {}
          }
        },
        "serverAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address of this server, suitable for a client that matches the above CIDR. This can be a hostname, hostname:port, IP or IP:port.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServerAddressByClientCIDR helps the client to determine the server address that they should use, depending on the clientCIDR that they match."
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIGroupServerAddressByClientCIDRsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ServerAddressByClientCIDR"
      },
      "traits": {
        "smithy.api#documentation": "a map of client CIDR to server address that is serving this group. This is to help clients reach servers in the most network-efficient way possible. Clients can use the appropriate server address as per the CIDR that they match. In case of multiple matches, clients should use the longest matching CIDR. The server returns only those CIDRs that it thinks that the client can match. For example: the master will return an internal IP CIDR only, if the client reaches the server using an internal IP. Server looks at X-Forwarded-For header or X-Real-Ip header or request.RemoteAddr (in that order) to get the client IP."
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIGroupVersionsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1GroupVersionForDiscovery"
      },
      "traits": {
        "smithy.api#documentation": "versions are the versions supported in this group."
      }
    },
    "com.kubernetes.authentication#GetAuthenticationAPIGroup": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIGroup"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/authentication.k8s.io/",
          "code": 200
        },
        "smithy.api#documentation": "get information of a group"
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIResourceList": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "groupVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "groupVersion is the group and version this APIResourceList is for.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "resources": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIResourceListResourcesList",
          "traits": {
            "smithy.api#documentation": "resources contains the name of the resources and if they are namespaced.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIResourceList is a list of APIResource, it is used to expose the name of the resources supported in a specific group and version, and if the resource is namespaced."
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIResource": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIResourceCategoriesList",
          "traits": {
            "smithy.api#documentation": "categories is a list of the grouped resources this resource belongs to (e.g. 'all')"
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "group is the preferred group of the resource.  Empty implies the group of the containing resource list. For subresources, this may have a different value, for example: Scale\"."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "kind is the kind for the resource (e.g. 'Foo' is the kind for a resource 'foo')",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the plural name of the resource.",
            "smithy.api#required": {}
          }
        },
        "namespaced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "namespaced indicates if a resource is namespaced or not.",
            "smithy.api#required": {}
          }
        },
        "shortNames": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIResourceShortNamesList",
          "traits": {
            "smithy.api#documentation": "shortNames is a list of suggested short names of the resource."
          }
        },
        "singularName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "singularName is the singular name of the resource.  This allows clients to handle plural and singular opaquely. The singularName is more correct for reporting status on a single item and both singular and plural are allowed from the kubectl CLI interface.",
            "smithy.api#required": {}
          }
        },
        "storageVersionHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hash value of the storage version, the version this resource is converted to when written to the data store. Value must be treated as opaque by clients. Only equality comparison on the value is valid. This is an alpha feature and may change or be removed in the future. The field is populated by the apiserver only if the StorageVersionHash feature gate is enabled. This field will remain optional even if it graduates."
          }
        },
        "verbs": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIResourceVerbsList",
          "traits": {
            "smithy.api#documentation": "verbs is a list of supported kube verbs (this includes get, list, watch, create, update, patch, delete, deletecollection, and proxy)",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "version is the preferred version of the resource.  Empty implies the version of the containing resource list For subresources, this may have a different value, for example: v1 (while inside a v1beta1 version of the core resource's group)\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIResource specifies the name of a resource and whether it is namespaced."
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIResourceCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "categories is a list of the grouped resources this resource belongs to (e.g. 'all')"
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIResourceShortNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "shortNames is a list of suggested short names of the resource."
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIResourceVerbsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "verbs is a list of supported kube verbs (this includes get, list, watch, create, update, patch, delete, deletecollection, and proxy)"
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIResourceListResourcesList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIResource"
      },
      "traits": {
        "smithy.api#documentation": "resources contains the name of the resources and if they are namespaced."
      }
    },
    "com.kubernetes.authentication#GetAuthenticationV1APIResources": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1APIResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/authentication.k8s.io/v1/",
          "code": 200
        },
        "smithy.api#documentation": "get available resources"
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ObjectMeta": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ObjectMetaAnnotationsMap",
          "traits": {
            "smithy.api#documentation": "Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations"
          }
        },
        "creationTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CreationTimestamp is a timestamp representing the server time when this object was created. It is not guaranteed to be set in happens-before order across separate operations. Clients may not set this value. It is represented in RFC3339 form and is in UTC.\n\nPopulated by the system. Read-only. Null for lists. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "deletionGracePeriodSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds allowed for this object to gracefully terminate before it will be removed from the system. Only set when deletionTimestamp is also set. May only be shortened. Read-only."
          }
        },
        "deletionTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DeletionTimestamp is RFC 3339 date and time at which this resource will be deleted. This field is set by the server when a graceful deletion is requested by the user, and is not directly settable by a client. The resource is expected to be deleted (no longer visible from resource lists, and not reachable by name) after the time in this field, once the finalizers list is empty. As long as the finalizers list contains items, deletion is blocked. Once the deletionTimestamp is set, this value may not be unset or be set further into the future, although it may be shortened or the resource may be deleted prior to this time. For example, a user may request that a pod is deleted in 30 seconds. The Kubelet will react by sending a graceful termination signal to the containers in the pod. After that 30 seconds, the Kubelet will send a hard termination signal (SIGKILL) to the container and after cleanup, remove the pod from the API. In the presence of network partitions, this object may still exist after this timestamp, until an administrator or automated process can determine the resource is fully terminated. If not set, graceful deletion of the object has not been requested.\n\nPopulated by the system when a graceful deletion is requested. Read-only. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "finalizers": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ObjectMetaFinalizersList",
          "traits": {
            "smithy.api#documentation": "Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. Finalizers may be processed and removed in any order.  Order is NOT enforced because it introduces significant risk of stuck finalizers. finalizers is a shared field, any actor with permission can reorder it. If the finalizer list is processed in order, then this can lead to a situation in which the component responsible for the first finalizer in the list is waiting for a signal (field value, external system, or other) produced by a component responsible for a finalizer later in the list, resulting in a deadlock. Without enforced ordering finalizers are free to order amongst themselves and are not vulnerable to ordering changes in the list."
          }
        },
        "generateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GenerateName is an optional prefix, used by the server, to generate a unique name ONLY IF the Name field has not been provided. If this field is used, the name returned to the client will be different than the name passed. This value will also be combined with a unique suffix. The provided value has the same validation rules as the Name field, and may be truncated by the length of the suffix required to make the value unique on the server.\n\nIf this field is specified and the generated name exists, the server will return a 409.\n\nApplied only if Name is not specified. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#idempotency"
          }
        },
        "generation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A sequence number representing a specific generation of the desired state. Populated by the system. Read-only."
          }
        },
        "labels": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ObjectMetaLabelsMap",
          "traits": {
            "smithy.api#documentation": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and services. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels"
          }
        },
        "managedFields": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ObjectMetaManagedFieldsList",
          "traits": {
            "smithy.api#documentation": "ManagedFields maps workflow-id and version to the set of fields that are managed by that workflow. This is mostly for internal housekeeping, and users typically shouldn't need to set or understand this field. A workflow can be the user's name, a controller's name, or the name of a specific apply path like \"ci-cd\". The set of fields is always in the version that the workflow used when modifying the object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name must be unique within a namespace. Is required when creating resources, although some resources may allow a client to request the generation of an appropriate name automatically. Name is primarily intended for creation idempotence and configuration definition. Cannot be updated. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names"
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace defines the space within which each name must be unique. An empty namespace is equivalent to the \"default\" namespace, but \"default\" is the canonical representation. Not all objects are required to be scoped to a namespace - the value of this field for those objects will be empty.\n\nMust be a DNS_LABEL. Cannot be updated. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces"
          }
        },
        "ownerReferences": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ObjectMetaOwnerReferencesList",
          "traits": {
            "smithy.api#documentation": "List of objects depended by this object. If ALL objects in the list have been deleted, this object will be garbage collected. If this object is managed by a controller, then an entry in this list will point to this controller, with the controller field set to true. There cannot be more than one managing controller."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque value that represents the internal version of this object that can be used by clients to determine when objects have changed. May be used for optimistic concurrency, change detection, and the watch operation on a resource or set of resources. Clients must treat these values as opaque and passed unmodified back to the server. They may only be valid for a particular resource or set of resources.\n\nPopulated by the system. Read-only. Value must be treated as opaque by clients and . More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency"
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: selfLink is a legacy read-only field that is no longer populated by the system."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID is the unique in time and space value for this object. It is typically generated by the server on successful creation of a resource and is not allowed to change on PUT operations.\n\nPopulated by the system. Read-only. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create."
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ObjectMetaAnnotationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations"
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ObjectMetaFinalizersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. Finalizers may be processed and removed in any order.  Order is NOT enforced because it introduces significant risk of stuck finalizers. finalizers is a shared field, any actor with permission can reorder it. If the finalizer list is processed in order, then this can lead to a situation in which the component responsible for the first finalizer in the list is waiting for a signal (field value, external system, or other) produced by a component responsible for a finalizer later in the list, resulting in a deadlock. Without enforced ordering finalizers are free to order amongst themselves and are not vulnerable to ordering changes in the list."
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ObjectMetaLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and services. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels"
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ManagedFieldsEntry": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the version of this resource that this field set applies to. The format is \"group/version\" just like the top-level APIVersion field. It is necessary to track the version of a field set because it cannot be automatically converted."
          }
        },
        "fieldsType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "FieldsType is the discriminator for the different fields format and version. There is currently only one possible value: \"FieldsV1\""
          }
        },
        "fieldsV1": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "FieldsV1 holds the first JSON version format as described in the \"FieldsV1\" type."
          }
        },
        "manager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manager is an identifier of the workflow managing these fields."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation is the type of operation which lead to this ManagedFieldsEntry being created. The only valid values for this field are 'Apply' and 'Update'."
          }
        },
        "subresource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subresource is the name of the subresource used to update that object, or empty string if the object was updated through the main resource. The value of this field is used to distinguish between managers, even if they share the same name. For example, a status update will be distinct from a regular update using the same manager name. Note that the APIVersion field is not related to the Subresource field and it always corresponds to the version of the main resource."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time is the timestamp of when the ManagedFields entry was added. The timestamp will also be updated if a field is added, the manager changes any of the owned fields value or removes a field. The timestamp does not update when a field is removed from the entry because another manager took it over."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ManagedFieldsEntry is a workflow-id, a FieldSet and the group version of the resource that the fieldset applies to."
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ObjectMetaManagedFieldsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ManagedFieldsEntry"
      },
      "traits": {
        "smithy.api#documentation": "ManagedFields maps workflow-id and version to the set of fields that are managed by that workflow. This is mostly for internal housekeeping, and users typically shouldn't need to set or understand this field. A workflow can be the user's name, a controller's name, or the name of a specific apply path like \"ci-cd\". The set of fields is always in the version that the workflow used when modifying the object."
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1OwnerReference": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API version of the referent.",
            "smithy.api#required": {}
          }
        },
        "blockOwnerDeletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, AND if the owner has the \"foregroundDeletion\" finalizer, then the owner cannot be deleted from the key-value store until this reference is removed. See https://kubernetes.io/docs/concepts/architecture/garbage-collection/#foreground-deletion for how the garbage collector interacts with this field and enforces the foreground deletion. Defaults to false. To set this field, a user needs \"delete\" permission of the owner, otherwise 422 (Unprocessable Entity) will be returned."
          }
        },
        "controller": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, this reference points to the managing controller."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names",
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OwnerReference contains enough information to let you identify an owning object. An owning object must be in the same namespace as the dependent, or be cluster-scoped, so there is no namespace field."
      }
    },
    "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ObjectMetaOwnerReferencesList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1OwnerReference"
      },
      "traits": {
        "smithy.api#documentation": "List of objects depended by this object. If ALL objects in the list have been deleted, this object will be garbage collected. If this object is managed by a controller, then an entry in this list will point to this controller, with the controller field set to true. There cannot be more than one managing controller."
      }
    },
    "com.kubernetes.authentication#IoK8sApiAuthenticationV1SelfSubjectReviewStatus": {
      "type": "structure",
      "members": {
        "userInfo": {
          "target": "com.kubernetes.authentication#IoK8sApiAuthenticationV1UserInfo",
          "traits": {
            "smithy.api#documentation": "userInfo is a set of attributes belonging to the user making this request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SelfSubjectReviewStatus is filled by the kube-apiserver and sent back to a user."
      }
    },
    "com.kubernetes.authentication#IoK8sApiAuthenticationV1UserInfo": {
      "type": "structure",
      "members": {
        "extra": {
          "target": "com.kubernetes.authentication#IoK8sApiAuthenticationV1UserInfoExtraMap",
          "traits": {
            "smithy.api#documentation": "extra is any additional information provided by the authenticator."
          }
        },
        "groups": {
          "target": "com.kubernetes.authentication#IoK8sApiAuthenticationV1UserInfoGroupsList",
          "traits": {
            "smithy.api#documentation": "groups is the names of groups this user is a part of."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "uid is a unique value that identifies this user across time. If this user is deleted and another user by the same name is added, they will have different UIDs."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "username is the name that uniquely identifies this user among all active users."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UserInfo holds the information about the user needed to implement the user.Info interface."
      }
    },
    "com.kubernetes.authentication#IoK8sApiAuthenticationV1UserInfoExtraValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.kubernetes.authentication#IoK8sApiAuthenticationV1UserInfoExtraMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.kubernetes.authentication#IoK8sApiAuthenticationV1UserInfoExtraValueList"
      },
      "traits": {
        "smithy.api#documentation": "extra is any additional information provided by the authenticator."
      }
    },
    "com.kubernetes.authentication#IoK8sApiAuthenticationV1UserInfoGroupsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "groups is the names of groups this user is a part of."
      }
    },
    "com.kubernetes.authentication#CreateAuthenticationV1SelfSubjectReviewRequest": {
      "type": "structure",
      "members": {
        "dryRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dryRun",
            "smithy.api#documentation": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed"
          }
        },
        "fieldManager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldManager",
            "smithy.api#documentation": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint."
          }
        },
        "fieldValidation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldValidation",
            "smithy.api#documentation": "fieldValidation instructs the server on how to handle objects in the request (POST/PUT/PATCH) containing unknown or duplicate fields. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default in v1.23+ - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered."
          }
        },
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ObjectMeta",
          "traits": {
            "smithy.api#documentation": "metadata is standard object's metadata. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "status": {
          "target": "com.kubernetes.authentication#IoK8sApiAuthenticationV1SelfSubjectReviewStatus",
          "traits": {
            "smithy.api#documentation": "status is filled in by the server with the user attributes."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.kubernetes.authentication#IoK8sApiAuthenticationV1SelfSubjectReview": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ObjectMeta",
          "traits": {
            "smithy.api#documentation": "metadata is standard object's metadata. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "status": {
          "target": "com.kubernetes.authentication#IoK8sApiAuthenticationV1SelfSubjectReviewStatus",
          "traits": {
            "smithy.api#documentation": "status is filled in by the server with the user attributes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SelfSubjectReview contains the user information that the kube-apiserver has about the user making this request. When using impersonation, users will receive the user info of the user being impersonated.  If impersonation or request header authentication is used, any extra keys will have their case ignored and returned as lowercase."
      }
    },
    "com.kubernetes.authentication#CreateAuthenticationV1SelfSubjectReview": {
      "type": "operation",
      "input": {
        "target": "com.kubernetes.authentication#CreateAuthenticationV1SelfSubjectReviewRequest"
      },
      "output": {
        "target": "com.kubernetes.authentication#IoK8sApiAuthenticationV1SelfSubjectReview"
      },
      "errors": [
        {
          "target": "com.kubernetes.authentication#Conflict"
        },
        {
          "target": "com.kubernetes.authentication#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apis/authentication.k8s.io/v1/selfsubjectreviews",
          "code": 200
        },
        "smithy.api#documentation": "create a SelfSubjectReview"
      }
    },
    "com.kubernetes.authentication#IoK8sApiAuthenticationV1TokenReviewSpec": {
      "type": "structure",
      "members": {
        "audiences": {
          "target": "com.kubernetes.authentication#IoK8sApiAuthenticationV1TokenReviewSpecAudiencesList",
          "traits": {
            "smithy.api#documentation": "audiences is a list of the identifiers that the resource server presented with the token identifies as. Audience-aware token authenticators will verify that the token was intended for at least one of the audiences in this list. If no audiences are provided, the audience will default to the audience of the Kubernetes apiserver."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "token is the opaque bearer token.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TokenReviewSpec is a description of the token authentication request."
      }
    },
    "com.kubernetes.authentication#IoK8sApiAuthenticationV1TokenReviewSpecAudiencesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "audiences is a list of the identifiers that the resource server presented with the token identifies as. Audience-aware token authenticators will verify that the token was intended for at least one of the audiences in this list. If no audiences are provided, the audience will default to the audience of the Kubernetes apiserver."
      }
    },
    "com.kubernetes.authentication#IoK8sApiAuthenticationV1TokenReviewStatus": {
      "type": "structure",
      "members": {
        "audiences": {
          "target": "com.kubernetes.authentication#IoK8sApiAuthenticationV1TokenReviewStatusAudiencesList",
          "traits": {
            "smithy.api#documentation": "audiences are audience identifiers chosen by the authenticator that are compatible with both the TokenReview and token. An identifier is any identifier in the intersection of the TokenReviewSpec audiences and the token's audiences. A client of the TokenReview API that sets the spec.audiences field should validate that a compatible audience identifier is returned in the status.audiences field to ensure that the TokenReview server is audience aware. If a TokenReview returns an empty status.audience field where status.authenticated is \"true\", the token is valid against the audience of the Kubernetes API server."
          }
        },
        "authenticated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "authenticated indicates that the token was associated with a known user."
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "error indicates that the token couldn't be checked"
          }
        },
        "user": {
          "target": "com.kubernetes.authentication#IoK8sApiAuthenticationV1UserInfo",
          "traits": {
            "smithy.api#documentation": "user is the UserInfo associated with the provided token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TokenReviewStatus is the result of the token authentication request."
      }
    },
    "com.kubernetes.authentication#IoK8sApiAuthenticationV1TokenReviewStatusAudiencesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "audiences are audience identifiers chosen by the authenticator that are compatible with both the TokenReview and token. An identifier is any identifier in the intersection of the TokenReviewSpec audiences and the token's audiences. A client of the TokenReview API that sets the spec.audiences field should validate that a compatible audience identifier is returned in the status.audiences field to ensure that the TokenReview server is audience aware. If a TokenReview returns an empty status.audience field where status.authenticated is \"true\", the token is valid against the audience of the Kubernetes API server."
      }
    },
    "com.kubernetes.authentication#CreateAuthenticationV1TokenReviewRequest": {
      "type": "structure",
      "members": {
        "dryRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dryRun",
            "smithy.api#documentation": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed"
          }
        },
        "fieldManager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldManager",
            "smithy.api#documentation": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint."
          }
        },
        "fieldValidation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldValidation",
            "smithy.api#documentation": "fieldValidation instructs the server on how to handle objects in the request (POST/PUT/PATCH) containing unknown or duplicate fields. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default in v1.23+ - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered."
          }
        },
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ObjectMeta",
          "traits": {
            "smithy.api#documentation": "metadata is the standard object's metadata. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "spec": {
          "target": "com.kubernetes.authentication#IoK8sApiAuthenticationV1TokenReviewSpec",
          "traits": {
            "smithy.api#documentation": "spec holds information about the request being evaluated",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.kubernetes.authentication#IoK8sApiAuthenticationV1TokenReviewStatus",
          "traits": {
            "smithy.api#documentation": "status is filled in by the server and indicates whether the request can be authenticated."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.kubernetes.authentication#IoK8sApiAuthenticationV1TokenReview": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.kubernetes.authentication#IoK8sApimachineryPkgApisMetaV1ObjectMeta",
          "traits": {
            "smithy.api#documentation": "metadata is the standard object's metadata. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "spec": {
          "target": "com.kubernetes.authentication#IoK8sApiAuthenticationV1TokenReviewSpec",
          "traits": {
            "smithy.api#documentation": "spec holds information about the request being evaluated",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.kubernetes.authentication#IoK8sApiAuthenticationV1TokenReviewStatus",
          "traits": {
            "smithy.api#documentation": "status is filled in by the server and indicates whether the request can be authenticated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TokenReview attempts to authenticate a token to a known user. Note: TokenReview requests may be cached by the webhook token authenticator plugin in the kube-apiserver."
      }
    },
    "com.kubernetes.authentication#CreateAuthenticationV1TokenReview": {
      "type": "operation",
      "input": {
        "target": "com.kubernetes.authentication#CreateAuthenticationV1TokenReviewRequest"
      },
      "output": {
        "target": "com.kubernetes.authentication#IoK8sApiAuthenticationV1TokenReview"
      },
      "errors": [
        {
          "target": "com.kubernetes.authentication#Conflict"
        },
        {
          "target": "com.kubernetes.authentication#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apis/authentication.k8s.io/v1/tokenreviews",
          "code": 200
        },
        "smithy.api#documentation": "create a TokenReview"
      }
    },
    "com.kubernetes.authentication#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.kubernetes.authentication#UnprocessableEntity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 422,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 422
          }
        ]
      }
    },
    "com.kubernetes.authentication#Authentication": {
      "type": "service",
      "version": "unversioned",
      "operations": [
        {
          "target": "com.kubernetes.authentication#GetAuthenticationAPIGroup"
        },
        {
          "target": "com.kubernetes.authentication#GetAuthenticationV1APIResources"
        },
        {
          "target": "com.kubernetes.authentication#CreateAuthenticationV1SelfSubjectReview"
        },
        {
          "target": "com.kubernetes.authentication#CreateAuthenticationV1TokenReview"
        }
      ],
      "traits": {
        "smithy.api#title": "Kubernetes"
      }
    }
  }
}
