{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIGroup": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the name of the group.",
            "smithy.api#required": {}
          }
        },
        "preferredVersion": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1GroupVersionForDiscovery",
          "traits": {
            "smithy.api#documentation": "preferredVersion is the version preferred by the API server, which probably is the storage version."
          }
        },
        "serverAddressByClientCIDRs": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIGroupServerAddressByClientCIDRsList",
          "traits": {
            "smithy.api#documentation": "a map of client CIDR to server address that is serving this group. This is to help clients reach servers in the most network-efficient way possible. Clients can use the appropriate server address as per the CIDR that they match. In case of multiple matches, clients should use the longest matching CIDR. The server returns only those CIDRs that it thinks that the client can match. For example: the master will return an internal IP CIDR only, if the client reaches the server using an internal IP. Server looks at X-Forwarded-For header or X-Real-Ip header or request.RemoteAddr (in that order) to get the client IP."
          }
        },
        "versions": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIGroupVersionsList",
          "traits": {
            "smithy.api#documentation": "versions are the versions supported in this group.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIGroup contains the name, the supported versions, and the preferred version of a group."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1GroupVersionForDiscovery": {
      "type": "structure",
      "members": {
        "groupVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "groupVersion specifies the API group and version in the form \"group/version\"",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "version specifies the version in the form of \"version\". This is to save the clients the trouble of splitting the GroupVersion.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GroupVersion contains the \"group/version\" and \"version\" string of a version. It is made a struct to keep extensibility."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ServerAddressByClientCIDR": {
      "type": "structure",
      "members": {
        "clientCIDR": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CIDR with which clients can match their IP to figure out the server address that they should use.",
            "smithy.api#required": {}
          }
        },
        "serverAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address of this server, suitable for a client that matches the above CIDR. This can be a hostname, hostname:port, IP or IP:port.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServerAddressByClientCIDR helps the client to determine the server address that they should use, depending on the clientCIDR that they match."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIGroupServerAddressByClientCIDRsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ServerAddressByClientCIDR"
      },
      "traits": {
        "smithy.api#documentation": "a map of client CIDR to server address that is serving this group. This is to help clients reach servers in the most network-efficient way possible. Clients can use the appropriate server address as per the CIDR that they match. In case of multiple matches, clients should use the longest matching CIDR. The server returns only those CIDRs that it thinks that the client can match. For example: the master will return an internal IP CIDR only, if the client reaches the server using an internal IP. Server looks at X-Forwarded-For header or X-Real-Ip header or request.RemoteAddr (in that order) to get the client IP."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIGroupVersionsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1GroupVersionForDiscovery"
      },
      "traits": {
        "smithy.api#documentation": "versions are the versions supported in this group."
      }
    },
    "com.kubernetes.storage#GetStorageAPIGroup": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIGroup"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/storage.k8s.io/",
          "code": 200
        },
        "smithy.api#documentation": "get information of a group"
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIResourceList": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "groupVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "groupVersion is the group and version this APIResourceList is for.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "resources": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIResourceListResourcesList",
          "traits": {
            "smithy.api#documentation": "resources contains the name of the resources and if they are namespaced.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIResourceList is a list of APIResource, it is used to expose the name of the resources supported in a specific group and version, and if the resource is namespaced."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIResource": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIResourceCategoriesList",
          "traits": {
            "smithy.api#documentation": "categories is a list of the grouped resources this resource belongs to (e.g. 'all')"
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "group is the preferred group of the resource.  Empty implies the group of the containing resource list. For subresources, this may have a different value, for example: Scale\"."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "kind is the kind for the resource (e.g. 'Foo' is the kind for a resource 'foo')",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the plural name of the resource.",
            "smithy.api#required": {}
          }
        },
        "namespaced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "namespaced indicates if a resource is namespaced or not.",
            "smithy.api#required": {}
          }
        },
        "shortNames": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIResourceShortNamesList",
          "traits": {
            "smithy.api#documentation": "shortNames is a list of suggested short names of the resource."
          }
        },
        "singularName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "singularName is the singular name of the resource.  This allows clients to handle plural and singular opaquely. The singularName is more correct for reporting status on a single item and both singular and plural are allowed from the kubectl CLI interface.",
            "smithy.api#required": {}
          }
        },
        "storageVersionHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hash value of the storage version, the version this resource is converted to when written to the data store. Value must be treated as opaque by clients. Only equality comparison on the value is valid. This is an alpha feature and may change or be removed in the future. The field is populated by the apiserver only if the StorageVersionHash feature gate is enabled. This field will remain optional even if it graduates."
          }
        },
        "verbs": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIResourceVerbsList",
          "traits": {
            "smithy.api#documentation": "verbs is a list of supported kube verbs (this includes get, list, watch, create, update, patch, delete, deletecollection, and proxy)",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "version is the preferred version of the resource.  Empty implies the version of the containing resource list For subresources, this may have a different value, for example: v1 (while inside a v1beta1 version of the core resource's group)\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIResource specifies the name of a resource and whether it is namespaced."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIResourceCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "categories is a list of the grouped resources this resource belongs to (e.g. 'all')"
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIResourceShortNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "shortNames is a list of suggested short names of the resource."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIResourceVerbsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "verbs is a list of supported kube verbs (this includes get, list, watch, create, update, patch, delete, deletecollection, and proxy)"
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIResourceListResourcesList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIResource"
      },
      "traits": {
        "smithy.api#documentation": "resources contains the name of the resources and if they are namespaced."
      }
    },
    "com.kubernetes.storage#GetStorageV1APIResources": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1APIResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/storage.k8s.io/v1/",
          "code": 200
        },
        "smithy.api#documentation": "get available resources"
      }
    },
    "com.kubernetes.storage#ListStorageV1CSIDriverRequest": {
      "type": "structure",
      "members": {
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "allowWatchBookmarks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "allowWatchBookmarks",
            "smithy.api#documentation": "allowWatchBookmarks requests watch events with type \"BOOKMARK\". Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server's discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored."
          }
        },
        "continue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "continue",
            "smithy.api#documentation": "The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications."
          }
        },
        "fieldSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldSelector",
            "smithy.api#documentation": "A selector to restrict the list of returned objects by their fields. Defaults to everything."
          }
        },
        "labelSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "labelSelector",
            "smithy.api#documentation": "A selector to restrict the list of returned objects by their labels. Defaults to everything."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceVersion",
            "smithy.api#documentation": "resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.\n\nDefaults to unset"
          }
        },
        "resourceVersionMatch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceVersionMatch",
            "smithy.api#documentation": "resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.\n\nDefaults to unset"
          }
        },
        "sendInitialEvents": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "sendInitialEvents",
            "smithy.api#documentation": "`sendInitialEvents=true` may be set together with `watch=true`. In that case, the watch stream will begin with synthetic events to produce the current state of objects in the collection. Once all such events have been sent, a synthetic \"Bookmark\" event  will be sent. The bookmark will report the ResourceVersion (RV) corresponding to the set of objects, and be marked with `\"k8s.io/initial-events-end\": \"true\"` annotation. Afterwards, the watch stream will proceed as usual, sending watch events corresponding to changes (subsequent to the RV) to objects watched.\n\nWhen `sendInitialEvents` option is set, we require `resourceVersionMatch` option to also be set. The semantic of the watch request is as following: - `resourceVersionMatch` = NotOlderThan\n  is interpreted as \"data at least as new as the provided `resourceVersion`\"\n  and the bookmark event is send when the state is synced\n  to a `resourceVersion` at least as fresh as the one provided by the ListOptions.\n  If `resourceVersion` is unset, this is interpreted as \"consistent read\" and the\n  bookmark event is send when the state is synced at least to the moment\n  when request started being processed.\n- `resourceVersionMatch` set to any other value or unset\n  Invalid error is returned.\n\nDefaults to true if `resourceVersion=\"\"` or `resourceVersion=\"0\"` (for backward compatibility reasons) and to false otherwise."
          }
        },
        "shardSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "shardSelector",
            "smithy.api#documentation": "shardSelector restricts the list of returned objects using a CEL-based shard selector expression. The format uses the shardRange() function combined with || (logical OR) to specify one or more hash ranges:\n\n  shardRange(object.metadata.uid, '0x0', '0x8000000000000000')\n  shardRange(object.metadata.uid, '0x0', '0x8000000000000000') || shardRange(object.metadata.uid, '0x8000000000000000', '0x10000000000000000')\n\nField paths use CEL-style object-rooted syntax (e.g. \"object.metadata.uid\"), NOT the fieldSelector format (\"metadata.uid\"). Currently supported paths:\n  - object.metadata.uid\n  - object.metadata.namespace\n\nhexStart and hexEnd are single-quoted CEL string literals with a '0x' prefix, defining the inclusive lower and exclusive upper bounds over the 64-bit FNV-1a hash space. The full range is [0x0, 0x10000000000000000), where the exclusive upper bound equals 2^64.\n\nExamples:\n  2-shard split:\n    shard 0: shardRange(object.metadata.uid, '0x0000000000000000', '0x8000000000000000')\n    shard 1: shardRange(object.metadata.uid, '0x8000000000000000', '0x10000000000000000')\n  4-shard split:\n    shard 0: shardRange(object.metadata.uid, '0x0000000000000000', '0x4000000000000000')\n    shard 1: shardRange(object.metadata.uid, '0x4000000000000000', '0x8000000000000000')\n    shard 2: shardRange(object.metadata.uid, '0x8000000000000000', '0xc000000000000000')\n    shard 3: shardRange(object.metadata.uid, '0xc000000000000000', '0x10000000000000000')\n\nThis is an alpha field and requires enabling the ShardedListAndWatch feature gate."
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "timeoutSeconds",
            "smithy.api#documentation": "Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity."
          }
        },
        "watch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "watch",
            "smithy.api#documentation": "Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.kubernetes.storage#IoK8sApiStorageV1CSIDriverList": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "items": {
          "target": "com.kubernetes.storage#IoK8sApiStorageV1CSIDriverListItemsList",
          "traits": {
            "smithy.api#documentation": "items is the list of CSIDriver",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ListMeta",
          "traits": {
            "smithy.api#documentation": "Standard list metadata More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CSIDriverList is a collection of CSIDriver objects."
      }
    },
    "com.kubernetes.storage#IoK8sApiStorageV1CSIDriver": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ObjectMeta",
          "traits": {
            "smithy.api#documentation": "Standard object metadata. metadata.Name indicates the name of the CSI driver that this object refers to; it MUST be the same name returned by the CSI GetPluginName() call for that driver. The driver name must be 63 characters or less, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), dots (.), and alphanumerics between. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "spec": {
          "target": "com.kubernetes.storage#IoK8sApiStorageV1CSIDriverSpec",
          "traits": {
            "smithy.api#documentation": "spec represents the specification of the CSI Driver.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CSIDriver captures information about a Container Storage Interface (CSI) volume driver deployed on the cluster. Kubernetes attach detach controller uses this object to determine whether attach is required. Kubelet uses this object to determine whether pod information needs to be passed on mount. CSIDriver objects are non-namespaced."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ObjectMeta": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ObjectMetaAnnotationsMap",
          "traits": {
            "smithy.api#documentation": "Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations"
          }
        },
        "creationTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CreationTimestamp is a timestamp representing the server time when this object was created. It is not guaranteed to be set in happens-before order across separate operations. Clients may not set this value. It is represented in RFC3339 form and is in UTC.\n\nPopulated by the system. Read-only. Null for lists. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "deletionGracePeriodSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds allowed for this object to gracefully terminate before it will be removed from the system. Only set when deletionTimestamp is also set. May only be shortened. Read-only."
          }
        },
        "deletionTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DeletionTimestamp is RFC 3339 date and time at which this resource will be deleted. This field is set by the server when a graceful deletion is requested by the user, and is not directly settable by a client. The resource is expected to be deleted (no longer visible from resource lists, and not reachable by name) after the time in this field, once the finalizers list is empty. As long as the finalizers list contains items, deletion is blocked. Once the deletionTimestamp is set, this value may not be unset or be set further into the future, although it may be shortened or the resource may be deleted prior to this time. For example, a user may request that a pod is deleted in 30 seconds. The Kubelet will react by sending a graceful termination signal to the containers in the pod. After that 30 seconds, the Kubelet will send a hard termination signal (SIGKILL) to the container and after cleanup, remove the pod from the API. In the presence of network partitions, this object may still exist after this timestamp, until an administrator or automated process can determine the resource is fully terminated. If not set, graceful deletion of the object has not been requested.\n\nPopulated by the system when a graceful deletion is requested. Read-only. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "finalizers": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ObjectMetaFinalizersList",
          "traits": {
            "smithy.api#documentation": "Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. Finalizers may be processed and removed in any order.  Order is NOT enforced because it introduces significant risk of stuck finalizers. finalizers is a shared field, any actor with permission can reorder it. If the finalizer list is processed in order, then this can lead to a situation in which the component responsible for the first finalizer in the list is waiting for a signal (field value, external system, or other) produced by a component responsible for a finalizer later in the list, resulting in a deadlock. Without enforced ordering finalizers are free to order amongst themselves and are not vulnerable to ordering changes in the list."
          }
        },
        "generateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GenerateName is an optional prefix, used by the server, to generate a unique name ONLY IF the Name field has not been provided. If this field is used, the name returned to the client will be different than the name passed. This value will also be combined with a unique suffix. The provided value has the same validation rules as the Name field, and may be truncated by the length of the suffix required to make the value unique on the server.\n\nIf this field is specified and the generated name exists, the server will return a 409.\n\nApplied only if Name is not specified. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#idempotency"
          }
        },
        "generation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A sequence number representing a specific generation of the desired state. Populated by the system. Read-only."
          }
        },
        "labels": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ObjectMetaLabelsMap",
          "traits": {
            "smithy.api#documentation": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and services. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels"
          }
        },
        "managedFields": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ObjectMetaManagedFieldsList",
          "traits": {
            "smithy.api#documentation": "ManagedFields maps workflow-id and version to the set of fields that are managed by that workflow. This is mostly for internal housekeeping, and users typically shouldn't need to set or understand this field. A workflow can be the user's name, a controller's name, or the name of a specific apply path like \"ci-cd\". The set of fields is always in the version that the workflow used when modifying the object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name must be unique within a namespace. Is required when creating resources, although some resources may allow a client to request the generation of an appropriate name automatically. Name is primarily intended for creation idempotence and configuration definition. Cannot be updated. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names"
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace defines the space within which each name must be unique. An empty namespace is equivalent to the \"default\" namespace, but \"default\" is the canonical representation. Not all objects are required to be scoped to a namespace - the value of this field for those objects will be empty.\n\nMust be a DNS_LABEL. Cannot be updated. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces"
          }
        },
        "ownerReferences": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ObjectMetaOwnerReferencesList",
          "traits": {
            "smithy.api#documentation": "List of objects depended by this object. If ALL objects in the list have been deleted, this object will be garbage collected. If this object is managed by a controller, then an entry in this list will point to this controller, with the controller field set to true. There cannot be more than one managing controller."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque value that represents the internal version of this object that can be used by clients to determine when objects have changed. May be used for optimistic concurrency, change detection, and the watch operation on a resource or set of resources. Clients must treat these values as opaque and passed unmodified back to the server. They may only be valid for a particular resource or set of resources.\n\nPopulated by the system. Read-only. Value must be treated as opaque by clients and . More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency"
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: selfLink is a legacy read-only field that is no longer populated by the system."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID is the unique in time and space value for this object. It is typically generated by the server on successful creation of a resource and is not allowed to change on PUT operations.\n\nPopulated by the system. Read-only. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ObjectMetaAnnotationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations"
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ObjectMetaFinalizersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. Finalizers may be processed and removed in any order.  Order is NOT enforced because it introduces significant risk of stuck finalizers. finalizers is a shared field, any actor with permission can reorder it. If the finalizer list is processed in order, then this can lead to a situation in which the component responsible for the first finalizer in the list is waiting for a signal (field value, external system, or other) produced by a component responsible for a finalizer later in the list, resulting in a deadlock. Without enforced ordering finalizers are free to order amongst themselves and are not vulnerable to ordering changes in the list."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ObjectMetaLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and services. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels"
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ManagedFieldsEntry": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the version of this resource that this field set applies to. The format is \"group/version\" just like the top-level APIVersion field. It is necessary to track the version of a field set because it cannot be automatically converted."
          }
        },
        "fieldsType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "FieldsType is the discriminator for the different fields format and version. There is currently only one possible value: \"FieldsV1\""
          }
        },
        "fieldsV1": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "FieldsV1 holds the first JSON version format as described in the \"FieldsV1\" type."
          }
        },
        "manager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manager is an identifier of the workflow managing these fields."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation is the type of operation which lead to this ManagedFieldsEntry being created. The only valid values for this field are 'Apply' and 'Update'."
          }
        },
        "subresource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subresource is the name of the subresource used to update that object, or empty string if the object was updated through the main resource. The value of this field is used to distinguish between managers, even if they share the same name. For example, a status update will be distinct from a regular update using the same manager name. Note that the APIVersion field is not related to the Subresource field and it always corresponds to the version of the main resource."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time is the timestamp of when the ManagedFields entry was added. The timestamp will also be updated if a field is added, the manager changes any of the owned fields value or removes a field. The timestamp does not update when a field is removed from the entry because another manager took it over."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ManagedFieldsEntry is a workflow-id, a FieldSet and the group version of the resource that the fieldset applies to."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ObjectMetaManagedFieldsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ManagedFieldsEntry"
      },
      "traits": {
        "smithy.api#documentation": "ManagedFields maps workflow-id and version to the set of fields that are managed by that workflow. This is mostly for internal housekeeping, and users typically shouldn't need to set or understand this field. A workflow can be the user's name, a controller's name, or the name of a specific apply path like \"ci-cd\". The set of fields is always in the version that the workflow used when modifying the object."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1OwnerReference": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API version of the referent.",
            "smithy.api#required": {}
          }
        },
        "blockOwnerDeletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, AND if the owner has the \"foregroundDeletion\" finalizer, then the owner cannot be deleted from the key-value store until this reference is removed. See https://kubernetes.io/docs/concepts/architecture/garbage-collection/#foreground-deletion for how the garbage collector interacts with this field and enforces the foreground deletion. Defaults to false. To set this field, a user needs \"delete\" permission of the owner, otherwise 422 (Unprocessable Entity) will be returned."
          }
        },
        "controller": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, this reference points to the managing controller."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names",
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OwnerReference contains enough information to let you identify an owning object. An owning object must be in the same namespace as the dependent, or be cluster-scoped, so there is no namespace field."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ObjectMetaOwnerReferencesList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1OwnerReference"
      },
      "traits": {
        "smithy.api#documentation": "List of objects depended by this object. If ALL objects in the list have been deleted, this object will be garbage collected. If this object is managed by a controller, then an entry in this list will point to this controller, with the controller field set to true. There cannot be more than one managing controller."
      }
    },
    "com.kubernetes.storage#IoK8sApiStorageV1CSIDriverSpec": {
      "type": "structure",
      "members": {
        "attachRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "attachRequired indicates this CSI volume driver requires an attach operation (because it implements the CSI ControllerPublishVolume() method), and that the Kubernetes attach detach controller should call the attach volume interface which checks the volumeattachment status and waits until the volume is attached before proceeding to mounting. The CSI external-attacher coordinates with CSI volume driver and updates the volumeattachment status when the attach operation is complete. If the value is specified to false, the attach operation will be skipped. Otherwise the attach operation will be called.\n\nThis field is immutable."
          }
        },
        "fsGroupPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "fsGroupPolicy defines if the underlying volume supports changing ownership and permission of the volume before being mounted. Refer to the specific FSGroupPolicy values for additional details.\n\nThis field was immutable in Kubernetes < 1.29 and now is mutable.\n\nDefaults to ReadWriteOnceWithFSType, which will examine each volume to determine if Kubernetes should modify ownership and permissions of the volume. With the default policy the defined fsGroup will only be applied if a fstype is defined and the volume's access mode contains ReadWriteOnce."
          }
        },
        "nodeAllocatableUpdatePeriodSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "nodeAllocatableUpdatePeriodSeconds specifies the interval between periodic updates of the CSINode allocatable capacity for this driver. When set, both periodic updates and updates triggered by capacity-related failures are enabled. If not set, no updates occur (neither periodic nor upon detecting capacity-related failures), and the allocatable.count remains static. The minimum allowed value for this field is 10 seconds.\n\nThis feature requires the MutableCSINodeAllocatableCount feature gate to be enabled.\n\nThis field is mutable."
          }
        },
        "podInfoOnMount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "podInfoOnMount indicates this CSI volume driver requires additional pod information (like podName, podUID, etc.) during mount operations, if set to true. If set to false, pod information will not be passed on mount. Default is false.\n\nThe CSI driver specifies podInfoOnMount as part of driver deployment. If true, Kubelet will pass pod information as VolumeContext in the CSI NodePublishVolume() calls. The CSI driver is responsible for parsing and validating the information passed in as VolumeContext.\n\nThe following VolumeContext will be passed if podInfoOnMount is set to true. This list might grow, but the prefix will be used. \"csi.storage.k8s.io/pod.name\": pod.Name \"csi.storage.k8s.io/pod.namespace\": pod.Namespace \"csi.storage.k8s.io/pod.uid\": string(pod.UID) \"csi.storage.k8s.io/ephemeral\": \"true\" if the volume is an ephemeral inline volume\n                                defined by a CSIVolumeSource, otherwise \"false\"\n\n\"csi.storage.k8s.io/ephemeral\" is a new feature in Kubernetes 1.16. It is only required for drivers which support both the \"Persistent\" and \"Ephemeral\" VolumeLifecycleMode. Other drivers can leave pod info disabled and/or ignore this field. As Kubernetes 1.15 doesn't support this field, drivers can only support one mode when deployed on such a cluster and the deployment determines which mode that is, for example via a command line parameter of the driver.\n\nThis field was immutable in Kubernetes < 1.29 and now is mutable."
          }
        },
        "preventPodSchedulingIfMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "PreventPodSchedulingIfMissing indicates that the CSI driver wants to prevent pod scheduling if the CSI driver on the node is missing.\n\nEnabling this option will prevent the scheduler (or any other component which embeds default scheduler such as cluster-autoscaler) from scheduling pods to nodes where CSI driver is not installed.\n\nFor components(such as cluster-autoscaler) that embed the scheduler and run pod placement simulations using scheduler plugins, they MUST be aware of CSI driver registration information via CSINode object. They must create simulated CSINode objects in addition to Node objects during scheduling simulation, otherwise if PreventPodSchedulingIfMissing is enabled globally for CSIDriver object, any newly created node may be rejected by the scheduler because of missing CSI driver information from the node.\n\nThis is an alpha feature and requires the VolumeLimitScaling feature gate to be enabled. Default is \"false\"."
          }
        },
        "requiresRepublish": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "requiresRepublish indicates the CSI driver wants `NodePublishVolume` being periodically called to reflect any possible change in the mounted volume. This field defaults to false.\n\nNote: After a successful initial NodePublishVolume call, subsequent calls to NodePublishVolume should only update the contents of the volume. New mount points will not be seen by a running container."
          }
        },
        "seLinuxMount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "seLinuxMount specifies if the CSI driver supports \"-o context\" mount option.\n\nWhen \"true\", the CSI driver must ensure that all volumes provided by this CSI driver can be mounted separately with different `-o context` options. This is typical for storage backends that provide volumes as filesystems on block devices or as independent shared volumes. Kubernetes will call NodeStage / NodePublish with \"-o context=xyz\" mount option when mounting a ReadWriteOncePod volume used in Pod that has explicitly set SELinux context. In the future, it may be expanded to other volume AccessModes. In any case, Kubernetes will ensure that the volume is mounted only with a single SELinux context.\n\nWhen \"false\", Kubernetes won't pass any special SELinux mount options to the driver. This is typical for volumes that represent subdirectories of a bigger shared filesystem.\n\nDefault is \"false\"."
          }
        },
        "serviceAccountTokenInSecrets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "serviceAccountTokenInSecrets is an opt-in for CSI drivers to indicate that service account tokens should be passed via the Secrets field in NodePublishVolumeRequest instead of the VolumeContext field. The CSI specification provides a dedicated Secrets field for sensitive information like tokens, which is the appropriate mechanism for handling credentials. This addresses security concerns where sensitive tokens were being logged as part of volume context.\n\nWhen \"true\", kubelet will pass the tokens only in the Secrets field with the key \"csi.storage.k8s.io/serviceAccount.tokens\". The CSI driver must be updated to read tokens from the Secrets field instead of VolumeContext.\n\nWhen \"false\" or not set, kubelet will pass the tokens in VolumeContext with the key \"csi.storage.k8s.io/serviceAccount.tokens\" (existing behavior). This maintains backward compatibility with existing CSI drivers.\n\nThis field can only be set when TokenRequests is configured. The API server will reject CSIDriver specs that set this field without TokenRequests.\n\nDefault behavior if unset is to pass tokens in the VolumeContext field."
          }
        },
        "storageCapacity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "storageCapacity indicates that the CSI volume driver wants pod scheduling to consider the storage capacity that the driver deployment will report by creating CSIStorageCapacity objects with capacity information, if set to true.\n\nThe check can be enabled immediately when deploying a driver. In that case, provisioning new volumes with late binding will pause until the driver deployment has published some suitable CSIStorageCapacity object.\n\nAlternatively, the driver can be deployed with the field unset or false and it can be flipped later when storage capacity information has been published.\n\nThis field was immutable in Kubernetes <= 1.22 and now is mutable."
          }
        },
        "tokenRequests": {
          "target": "com.kubernetes.storage#IoK8sApiStorageV1CSIDriverSpecTokenRequestsList",
          "traits": {
            "smithy.api#documentation": "tokenRequests indicates the CSI driver needs pods' service account tokens it is mounting volume for to do necessary authentication. Kubelet will pass the tokens in VolumeContext in the CSI NodePublishVolume calls. The CSI driver should parse and validate the following VolumeContext: \"csi.storage.k8s.io/serviceAccount.tokens\": {\n  \"<audience>\": {\n    \"token\": <token>,\n    \"expirationTimestamp\": <expiration timestamp in RFC3339>,\n  },\n  ...\n}\n\nNote: Audience in each TokenRequest should be different and at most one token is empty string. To receive a new token after expiry, RequiresRepublish can be used to trigger NodePublishVolume periodically."
          }
        },
        "volumeLifecycleModes": {
          "target": "com.kubernetes.storage#IoK8sApiStorageV1CSIDriverSpecVolumeLifecycleModesList",
          "traits": {
            "smithy.api#documentation": "volumeLifecycleModes defines what kind of volumes this CSI volume driver supports. The default if the list is empty is \"Persistent\", which is the usage defined by the CSI specification and implemented in Kubernetes via the usual PV/PVC mechanism.\n\nThe other mode is \"Ephemeral\". In this mode, volumes are defined inline inside the pod spec with CSIVolumeSource and their lifecycle is tied to the lifecycle of that pod. A driver has to be aware of this because it is only going to get a NodePublishVolume call for such a volume.\n\nFor more information about implementing this mode, see https://kubernetes-csi.github.io/docs/ephemeral-local-volumes.html A driver can support one or more of these modes and more modes may be added in the future.\n\nThis field is beta. This field is immutable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CSIDriverSpec is the specification of a CSIDriver."
      }
    },
    "com.kubernetes.storage#IoK8sApiStorageV1TokenRequest": {
      "type": "structure",
      "members": {
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "audience is the intended audience of the token in \"TokenRequestSpec\". It will default to the audiences of kube apiserver.",
            "smithy.api#required": {}
          }
        },
        "expirationSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "expirationSeconds is the duration of validity of the token in \"TokenRequestSpec\". It has the same default value of \"ExpirationSeconds\" in \"TokenRequestSpec\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TokenRequest contains parameters of a service account token."
      }
    },
    "com.kubernetes.storage#IoK8sApiStorageV1CSIDriverSpecTokenRequestsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.storage#IoK8sApiStorageV1TokenRequest"
      },
      "traits": {
        "smithy.api#documentation": "tokenRequests indicates the CSI driver needs pods' service account tokens it is mounting volume for to do necessary authentication. Kubelet will pass the tokens in VolumeContext in the CSI NodePublishVolume calls. The CSI driver should parse and validate the following VolumeContext: \"csi.storage.k8s.io/serviceAccount.tokens\": {\n  \"<audience>\": {\n    \"token\": <token>,\n    \"expirationTimestamp\": <expiration timestamp in RFC3339>,\n  },\n  ...\n}\n\nNote: Audience in each TokenRequest should be different and at most one token is empty string. To receive a new token after expiry, RequiresRepublish can be used to trigger NodePublishVolume periodically."
      }
    },
    "com.kubernetes.storage#IoK8sApiStorageV1CSIDriverSpecVolumeLifecycleModesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "volumeLifecycleModes defines what kind of volumes this CSI volume driver supports. The default if the list is empty is \"Persistent\", which is the usage defined by the CSI specification and implemented in Kubernetes via the usual PV/PVC mechanism.\n\nThe other mode is \"Ephemeral\". In this mode, volumes are defined inline inside the pod spec with CSIVolumeSource and their lifecycle is tied to the lifecycle of that pod. A driver has to be aware of this because it is only going to get a NodePublishVolume call for such a volume.\n\nFor more information about implementing this mode, see https://kubernetes-csi.github.io/docs/ephemeral-local-volumes.html A driver can support one or more of these modes and more modes may be added in the future.\n\nThis field is beta. This field is immutable."
      }
    },
    "com.kubernetes.storage#IoK8sApiStorageV1CSIDriverListItemsList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.storage#IoK8sApiStorageV1CSIDriver"
      },
      "traits": {
        "smithy.api#documentation": "items is the list of CSIDriver"
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ListMeta": {
      "type": "structure",
      "members": {
        "continue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "continue may be set if the user set a limit on the number of items returned, and indicates that the server has more data available. The value is opaque and may be used to issue another request to the endpoint that served this list to retrieve the next set of available objects. Continuing a consistent list may not be possible if the server configuration has changed or more than a few minutes have passed. The resourceVersion field returned when using this continue value will be identical to the value in the first response, unless you have received this token from an error message."
          }
        },
        "remainingItemCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "remainingItemCount is the number of subsequent items in the list which are not included in this list response. If the list request contained label or field selectors, then the number of remaining items is unknown and the field will be left unset and omitted during serialization. If the list is complete (either because it is not chunking or because this is the last chunk), then there are no more remaining items and this field will be left unset and omitted during serialization. Servers older than v1.15 do not set this field. The intended use of the remainingItemCount is *estimating* the size of a collection. Clients should not rely on the remainingItemCount to be set or to be exact."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String that identifies the server's internal version of this object that can be used by clients to determine when objects have changed. Value must be treated as opaque by clients and passed unmodified back to the server. Populated by the system. Read-only. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency"
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: selfLink is a legacy read-only field that is no longer populated by the system."
          }
        },
        "shardInfo": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ShardInfo",
          "traits": {
            "smithy.api#documentation": "shardInfo is set when the list is a filtered subset of the full collection, as selected by a shard selector on the request. It echoes back the selector so clients can verify which shard they received and merge sharded responses. Clients should not cache sharded list responses as a full representation of the collection.\n\nThis is an alpha field and requires enabling the ShardedListAndWatch feature gate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListMeta describes metadata that synthetic resources must have, including lists and various status objects. A resource may have only one of {ObjectMeta, ListMeta}."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ShardInfo": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "selector is the shard selector string from the request, echoed back so clients can verify which shard they received and merge responses from multiple shards.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ShardInfo describes the shard selector that was applied to produce a list response. Its presence on a list response indicates the list is a filtered subset."
      }
    },
    "com.kubernetes.storage#ListStorageV1CSIDriver": {
      "type": "operation",
      "input": {
        "target": "com.kubernetes.storage#ListStorageV1CSIDriverRequest"
      },
      "output": {
        "target": "com.kubernetes.storage#IoK8sApiStorageV1CSIDriverList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/storage.k8s.io/v1/csidrivers",
          "code": 200
        },
        "smithy.api#documentation": "list or watch objects of kind CSIDriver"
      }
    },
    "com.kubernetes.storage#CreateStorageV1CSIDriverRequest": {
      "type": "structure",
      "members": {
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "dryRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dryRun",
            "smithy.api#documentation": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed"
          }
        },
        "fieldManager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldManager",
            "smithy.api#documentation": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint."
          }
        },
        "fieldValidation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldValidation",
            "smithy.api#documentation": "fieldValidation instructs the server on how to handle objects in the request (POST/PUT/PATCH) containing unknown or duplicate fields. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default in v1.23+ - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ObjectMeta",
          "traits": {
            "smithy.api#documentation": "Standard object metadata. metadata.Name indicates the name of the CSI driver that this object refers to; it MUST be the same name returned by the CSI GetPluginName() call for that driver. The driver name must be 63 characters or less, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), dots (.), and alphanumerics between. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "spec": {
          "target": "com.kubernetes.storage#IoK8sApiStorageV1CSIDriverSpec",
          "traits": {
            "smithy.api#documentation": "spec represents the specification of the CSI Driver.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.kubernetes.storage#CreateStorageV1CSIDriver": {
      "type": "operation",
      "input": {
        "target": "com.kubernetes.storage#CreateStorageV1CSIDriverRequest"
      },
      "output": {
        "target": "com.kubernetes.storage#IoK8sApiStorageV1CSIDriver"
      },
      "errors": [
        {
          "target": "com.kubernetes.storage#Conflict"
        },
        {
          "target": "com.kubernetes.storage#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apis/storage.k8s.io/v1/csidrivers",
          "code": 200
        },
        "smithy.api#documentation": "create a CSIDriver"
      }
    },
    "com.kubernetes.storage#DeleteStorageV1CollectionCSIDriverRequestDryRunList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed"
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1Preconditions": {
      "type": "structure",
      "members": {
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the target ResourceVersion"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the target UID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Preconditions must be fulfilled before an operation (update, delete, etc.) is carried out."
      }
    },
    "com.kubernetes.storage#DeleteStorageV1CollectionCSIDriverRequest": {
      "type": "structure",
      "members": {
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "continue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "continue",
            "smithy.api#documentation": "The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications."
          }
        },
        "dryRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dryRun",
            "smithy.api#documentation": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed"
          }
        },
        "fieldSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldSelector",
            "smithy.api#documentation": "A selector to restrict the list of returned objects by their fields. Defaults to everything."
          }
        },
        "gracePeriodSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "gracePeriodSeconds",
            "smithy.api#documentation": "The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately."
          }
        },
        "ignoreStoreReadErrorWithClusterBreakingPotential": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "ignoreStoreReadErrorWithClusterBreakingPotential",
            "smithy.api#documentation": "if set to true, it will trigger an unsafe deletion of the resource in case the normal deletion flow fails with a corrupt object error. A resource is considered corrupt if it can not be retrieved from the underlying storage successfully because of a) its data can not be transformed e.g. decryption failure, or b) it fails to decode into an object. NOTE: unsafe deletion ignores finalizer constraints, skips precondition checks, and removes the object from the storage. WARNING: This may potentially break the cluster if the workload associated with the resource being unsafe-deleted relies on normal deletion flow. Use only if you REALLY know what you are doing. The default value is false, and the user must opt in to enable it"
          }
        },
        "labelSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "labelSelector",
            "smithy.api#documentation": "A selector to restrict the list of returned objects by their labels. Defaults to everything."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned."
          }
        },
        "orphanDependents": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "orphanDependents",
            "smithy.api#documentation": "Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \"orphan\" finalizer will be added to/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both."
          }
        },
        "propagationPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "propagationPolicy",
            "smithy.api#documentation": "Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceVersion",
            "smithy.api#documentation": "resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.\n\nDefaults to unset"
          }
        },
        "resourceVersionMatch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceVersionMatch",
            "smithy.api#documentation": "resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.\n\nDefaults to unset"
          }
        },
        "sendInitialEvents": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "sendInitialEvents",
            "smithy.api#documentation": "`sendInitialEvents=true` may be set together with `watch=true`. In that case, the watch stream will begin with synthetic events to produce the current state of objects in the collection. Once all such events have been sent, a synthetic \"Bookmark\" event  will be sent. The bookmark will report the ResourceVersion (RV) corresponding to the set of objects, and be marked with `\"k8s.io/initial-events-end\": \"true\"` annotation. Afterwards, the watch stream will proceed as usual, sending watch events corresponding to changes (subsequent to the RV) to objects watched.\n\nWhen `sendInitialEvents` option is set, we require `resourceVersionMatch` option to also be set. The semantic of the watch request is as following: - `resourceVersionMatch` = NotOlderThan\n  is interpreted as \"data at least as new as the provided `resourceVersion`\"\n  and the bookmark event is send when the state is synced\n  to a `resourceVersion` at least as fresh as the one provided by the ListOptions.\n  If `resourceVersion` is unset, this is interpreted as \"consistent read\" and the\n  bookmark event is send when the state is synced at least to the moment\n  when request started being processed.\n- `resourceVersionMatch` set to any other value or unset\n  Invalid error is returned.\n\nDefaults to true if `resourceVersion=\"\"` or `resourceVersion=\"0\"` (for backward compatibility reasons) and to false otherwise."
          }
        },
        "shardSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "shardSelector",
            "smithy.api#documentation": "shardSelector restricts the list of returned objects using a CEL-based shard selector expression. The format uses the shardRange() function combined with || (logical OR) to specify one or more hash ranges:\n\n  shardRange(object.metadata.uid, '0x0', '0x8000000000000000')\n  shardRange(object.metadata.uid, '0x0', '0x8000000000000000') || shardRange(object.metadata.uid, '0x8000000000000000', '0x10000000000000000')\n\nField paths use CEL-style object-rooted syntax (e.g. \"object.metadata.uid\"), NOT the fieldSelector format (\"metadata.uid\"). Currently supported paths:\n  - object.metadata.uid\n  - object.metadata.namespace\n\nhexStart and hexEnd are single-quoted CEL string literals with a '0x' prefix, defining the inclusive lower and exclusive upper bounds over the 64-bit FNV-1a hash space. The full range is [0x0, 0x10000000000000000), where the exclusive upper bound equals 2^64.\n\nExamples:\n  2-shard split:\n    shard 0: shardRange(object.metadata.uid, '0x0000000000000000', '0x8000000000000000')\n    shard 1: shardRange(object.metadata.uid, '0x8000000000000000', '0x10000000000000000')\n  4-shard split:\n    shard 0: shardRange(object.metadata.uid, '0x0000000000000000', '0x4000000000000000')\n    shard 1: shardRange(object.metadata.uid, '0x4000000000000000', '0x8000000000000000')\n    shard 2: shardRange(object.metadata.uid, '0x8000000000000000', '0xc000000000000000')\n    shard 3: shardRange(object.metadata.uid, '0xc000000000000000', '0x10000000000000000')\n\nThis is an alpha field and requires enabling the ShardedListAndWatch feature gate."
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "timeoutSeconds",
            "smithy.api#documentation": "Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "preconditions": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1Preconditions",
          "traits": {
            "smithy.api#documentation": "Must be fulfilled before a deletion is carried out. If not possible, a 409 Conflict status will be returned."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1Status": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Suggested HTTP return code for this status, 0 if not set."
          }
        },
        "details": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1StatusDetails",
          "traits": {
            "smithy.api#documentation": "Extended data associated with the reason.  Each reason may define its own extended details. This field is optional and the data returned is not guaranteed to conform to any schema except that defined by the reason type."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of the status of this operation."
          }
        },
        "metadata": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ListMeta",
          "traits": {
            "smithy.api#documentation": "Standard list metadata. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A machine-readable description of why this operation is in the \"Failure\" status. If this value is empty there is no information available. A Reason clarifies an HTTP status code but does not override it."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the operation. One of: \"Success\" or \"Failure\". More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#spec-and-status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status is a return value for calls that don't return other objects."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1StatusDetails": {
      "type": "structure",
      "members": {
        "causes": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1StatusDetailsCausesList",
          "traits": {
            "smithy.api#documentation": "The Causes array includes more details associated with the StatusReason failure. Not all StatusReasons may provide detailed causes."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group attribute of the resource associated with the status StatusReason."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind attribute of the resource associated with the status StatusReason. On some operations may differ from the requested resource Kind. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name attribute of the resource associated with the status StatusReason (when there is a single name which can be described)."
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If specified, the time in seconds before the operation should be retried. Some errors may indicate the client must take an alternate action - for those errors this field may indicate how long to wait before taking the alternate action."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID of the resource. (when there is a single resource which can be described). More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StatusDetails is a set of additional properties that MAY be set by the server to provide additional information about a response. The Reason field of a Status object defines what attributes will be set. Clients must ignore fields that do not match the defined type of each attribute, and should assume that any attribute may be empty, invalid, or under defined."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1StatusCause": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field of the resource that has caused this error, as named by its JSON serialization. May include dot and postfix notation for nested attributes. Arrays are zero-indexed.  Fields may appear more than once in an array of causes due to fields having multiple errors. Optional.\n\nExamples:\n  \"name\" - the field \"name\" on the current resource\n  \"items[0].name\" - the field \"name\" on the first array entry in \"items\""
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of the cause of the error.  This field may be presented as-is to a reader."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A machine-readable description of the cause of the error. If this value is empty there is no information available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StatusCause provides more information about an api.Status failure, including cases when multiple errors are encountered."
      }
    },
    "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1StatusDetailsCausesList": {
      "type": "list",
      "member": {
        "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1StatusCause"
      },
      "traits": {
        "smithy.api#documentation": "The Causes array includes more details associated with the StatusReason failure. Not all StatusReasons may provide detailed causes."
      }
    },
    "com.kubernetes.storage#DeleteStorageV1CollectionCSIDriver": {
      "type": "operation",
      "input": {
        "target": "com.kubernetes.storage#DeleteStorageV1CollectionCSIDriverRequest"
      },
      "output": {
        "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1Status"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apis/storage.k8s.io/v1/csidrivers",
          "code": 200
        },
        "smithy.api#documentation": "delete collection of CSIDriver"
      }
    },
    "com.kubernetes.storage#ReadStorageV1CSIDriverRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the CSIDriver"
          }
        },
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.kubernetes.storage#ReadStorageV1CSIDriver": {
      "type": "operation",
      "input": {
        "target": "com.kubernetes.storage#ReadStorageV1CSIDriverRequest"
      },
      "output": {
        "target": "com.kubernetes.storage#IoK8sApiStorageV1CSIDriver"
      },
      "errors": [
        {
          "target": "com.kubernetes.storage#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/storage.k8s.io/v1/csidrivers/{name}",
          "code": 200
        },
        "smithy.api#documentation": "read the specified CSIDriver"
      }
    },
    "com.kubernetes.storage#ReplaceStorageV1CSIDriverRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the CSIDriver"
          }
        },
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "dryRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dryRun",
            "smithy.api#documentation": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed"
          }
        },
        "fieldManager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldManager",
            "smithy.api#documentation": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint."
          }
        },
        "fieldValidation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldValidation",
            "smithy.api#documentation": "fieldValidation instructs the server on how to handle objects in the request (POST/PUT/PATCH) containing unknown or duplicate fields. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default in v1.23+ - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.kubernetes.storage#IoK8sApimachineryPkgApisMetaV1ObjectMeta",
          "traits": {
            "smithy.api#documentation": "Standard object metadata. metadata.Name indicates the name of the CSI driver that this object refers to; it MUST be the same name returned by the CSI GetPluginName() call for that driver. The driver name must be 63 characters or less, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), dots (.), and alphanumerics between. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "spec": {
          "target": "com.kubernetes.storage#IoK8sApiStorageV1CSIDriverSpec",
          "traits": {
            "smithy.api#documentation": "spec represents the specification of the CSI Driver.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.kubernetes.storage#ReplaceStorageV1CSIDriver": {
      "type": "operation",
      "input": {
        "target": "com.kubernetes.storage#ReplaceStorageV1CSIDriverRequest"
      },
      "output": {
        "target": "com.kubernetes.storage#IoK8sApiStorageV1CSIDriver"
      },
      "errors": [
        {
          "target": "com.kubernetes.storage#NotFound"
        },
        {
          "target": "com.kubernetes.storage#Conflict"
        },
        {
          "target": "com.kubernetes.storage#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/apis/storage.k8s.io/v1/csidrivers/{name}",
          "code": 200
        },
        "smithy.api#documentation": "replace the specified CSIDriver"
      }
    },
    "com.kubernetes.storage#PatchStorageV1CSIDriverRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the CSIDriver"
          }
        },
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "dryRun": {
          "target": "smithy.api#String",
          "traits": {
[...]
