{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.prisma.postgres#GetV1AppsRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId"
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "branchId"
          }
        },
        "branchGitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "branchGitName"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetV1AppsResponseDataItemRegion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.prisma.postgres#GetV1AppsResponseDataItemRegion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latestDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#GetV1AppsResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsResponsePagination": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next cursor to continue pagination",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there are more items to paginate",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetV1AppsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma.postgres#GetV1AppsResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetV1Apps": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetV1AppsRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetV1AppsResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/apps",
          "code": 200
        },
        "smithy.api#documentation": "List apps\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns all apps the token has access to, ordered by creation time (oldest first). Optionally filter by project ID. Supports cursor-based pagination."
      }
    },
    "com.prisma.postgres#PostV1AppsRequestRegionId": {
      "type": "enum",
      "members": {
        "US_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-1"
          }
        },
        "US_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-1"
          }
        },
        "EU_WEST_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-3"
          }
        },
        "EU_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-1"
          }
        },
        "AP_NORTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-northeast-1"
          }
        },
        "AP_SOUTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-1"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1AppsRequest": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "regionId": {
          "target": "com.prisma.postgres#PostV1AppsRequestRegionId"
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "branchGitName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#PostV1AppsResponseDataRegion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1AppsResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.prisma.postgres#PostV1AppsResponseDataRegion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latestDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1AppsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#PostV1AppsResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#PostV1Apps": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#PostV1AppsRequest"
      },
      "output": {
        "target": "com.prisma.postgres#PostV1AppsResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#Conflict"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/apps",
          "code": 200
        },
        "smithy.api#documentation": "Create app\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nCreates a new app under the specified project. The `projectId` is required in the request body. The app is placed in the given region (or the default region if omitted). Returns `409 Conflict` with the existing app's id, name, and branch if an app with the same name already exists on the resolved branch."
      }
    },
    "com.prisma.postgres#GetV1AppsByAppIdRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetV1AppsByAppIdResponseDataRegion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsByAppIdResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.prisma.postgres#GetV1AppsByAppIdResponseDataRegion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latestDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsByAppIdResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetV1AppsByAppIdResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetV1AppsByAppId": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetV1AppsByAppIdRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetV1AppsByAppIdResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/apps/{appId}",
          "code": 200
        },
        "smithy.api#documentation": "Get app\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns an app by ID, including its region and active promoted deployment reference."
      }
    },
    "com.prisma.postgres#PatchV1AppsByAppIdRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "branchGitName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#PatchV1AppsByAppIdResponseDataRegion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PatchV1AppsByAppIdResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.prisma.postgres#PatchV1AppsByAppIdResponseDataRegion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latestDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PatchV1AppsByAppIdResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#PatchV1AppsByAppIdResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#PatchV1AppsByAppId": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#PatchV1AppsByAppIdRequest"
      },
      "output": {
        "target": "com.prisma.postgres#PatchV1AppsByAppIdResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/apps/{appId}",
          "code": 200
        },
        "smithy.api#documentation": "Update app\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nUpdates the display name of an app."
      }
    },
    "com.prisma.postgres#DeleteV1AppsByAppIdRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#DeleteV1AppsByAppId": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#DeleteV1AppsByAppIdRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/apps/{appId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete app\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nDeletes an app. Deployments under the app are deleted before the app is deleted."
      }
    },
    "com.prisma.postgres#PostV1AppsByAppIdPromoteRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deploymentId": {
          "target": "smithy.api#String"
        },
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `deploymentId` instead. Ignored when `deploymentId` is also present."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#PostV1AppsByAppIdPromoteResponseData": {
      "type": "structure",
      "members": {
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reassignedDomains": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1AppsByAppIdPromoteResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#PostV1AppsByAppIdPromoteResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#PostV1AppsByAppIdPromote": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#PostV1AppsByAppIdPromoteRequest"
      },
      "output": {
        "target": "com.prisma.postgres#PostV1AppsByAppIdPromoteResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#Conflict"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/apps/{appId}/promote",
          "code": 200
        },
        "smithy.api#documentation": "Promote deployment\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nPromotes a deployment to be the active deployment behind the app's stable endpoint. The deployment must be running. Returns the app endpoint domain."
      }
    },
    "com.prisma.postgres#PostV1AppsByAppIdRollbackRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deploymentId": {
          "target": "smithy.api#String"
        },
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `deploymentId` instead. Ignored when `deploymentId` is also present."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#PostV1AppsByAppIdRollbackResponseData": {
      "type": "structure",
      "members": {
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reassignedDomains": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1AppsByAppIdRollbackResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#PostV1AppsByAppIdRollbackResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#PostV1AppsByAppIdRollback": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#PostV1AppsByAppIdRollbackRequest"
      },
      "output": {
        "target": "com.prisma.postgres#PostV1AppsByAppIdRollbackResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#Conflict"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/apps/{appId}/rollback",
          "code": 200
        },
        "smithy.api#documentation": "Roll an app back to an existing deployment\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nMakes any eligible existing deployment live behind the app's stable endpoint (rollback or roll-forward). Unlike promote, a stopped target is started and waited until it is running before the endpoint is switched, so the currently-live deployment keeps serving with zero downtime. Returns the app endpoint domain."
      }
    },
    "com.prisma.postgres#GetV1AppsByAppIdDomainsRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetV1AppsByAppIdDomainsResponseDataItemStatus": {
      "type": "enum",
      "members": {
        "PENDING_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_dns"
          }
        },
        "VERIFYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verifying"
          }
        },
        "VERIFIED_ROUTING_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified_routing_blocked"
          }
        },
        "PROVISIONING_TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning_tls"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "REMOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removing"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsByAppIdDomainsResponseDataItemFailureCategory": {
      "type": "enum",
      "members": {
        "DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns"
          }
        },
        "ACME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acme"
          }
        },
        "STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsByAppIdDomainsResponseDataItemDnsRecordsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsByAppIdDomainsResponseDataItemDnsRecordsList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#GetV1AppsByAppIdDomainsResponseDataItemDnsRecordsItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsByAppIdDomainsResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "computeServiceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `appId` instead.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.prisma.postgres#GetV1AppsByAppIdDomainsResponseDataItemStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundryStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failureCategory": {
          "target": "com.prisma.postgres#GetV1AppsByAppIdDomainsResponseDataItemFailureCategory",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "certExpiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dnsRecords": {
          "target": "com.prisma.postgres#GetV1AppsByAppIdDomainsResponseDataItemDnsRecordsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsByAppIdDomainsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#GetV1AppsByAppIdDomainsResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsByAppIdDomainsResponsePagination": {
      "type": "structure",
      "members": {
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "nextCursor": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsByAppIdDomainsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetV1AppsByAppIdDomainsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma.postgres#GetV1AppsByAppIdDomainsResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetV1AppsByAppIdDomains": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetV1AppsByAppIdDomainsRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetV1AppsByAppIdDomainsResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/apps/{appId}/domains",
          "code": 200
        },
        "smithy.api#documentation": "List custom domains for an app\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns all custom domains attached to any deployment of the app. Domains are aggregated across all deployments since Foundry lists per deployment."
      }
    },
    "com.prisma.postgres#PostV1AppsByAppIdDomainsRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#PostV1AppsByAppIdDomainsResponseDataStatus": {
      "type": "enum",
      "members": {
        "PENDING_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_dns"
          }
        },
        "VERIFYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verifying"
          }
        },
        "VERIFIED_ROUTING_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified_routing_blocked"
          }
        },
        "PROVISIONING_TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning_tls"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "REMOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removing"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1AppsByAppIdDomainsResponseDataFailureCategory": {
      "type": "enum",
      "members": {
        "DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns"
          }
        },
        "ACME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acme"
          }
        },
        "STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1AppsByAppIdDomainsResponseDataDnsRecordsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1AppsByAppIdDomainsResponseDataDnsRecordsList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#PostV1AppsByAppIdDomainsResponseDataDnsRecordsItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1AppsByAppIdDomainsResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "computeServiceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `appId` instead.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.prisma.postgres#PostV1AppsByAppIdDomainsResponseDataStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundryStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failureCategory": {
          "target": "com.prisma.postgres#PostV1AppsByAppIdDomainsResponseDataFailureCategory",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "certExpiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dnsRecords": {
          "target": "com.prisma.postgres#PostV1AppsByAppIdDomainsResponseDataDnsRecordsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1AppsByAppIdDomainsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#PostV1AppsByAppIdDomainsResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#PostV1AppsByAppIdDomains": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#PostV1AppsByAppIdDomainsRequest"
      },
      "output": {
        "target": "com.prisma.postgres#PostV1AppsByAppIdDomainsResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#BadRequest"
        },
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#Conflict"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/apps/{appId}/domains",
          "code": 200
        },
        "smithy.api#documentation": "Create a custom domain\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nRegisters a custom hostname for the app. The hostname must CNAME to the regional switchboard target before DNS verification can succeed. Returns 429 if the app has reached its domain quota (default: 3)."
      }
    },
    "com.prisma.postgres#GetV1AppsByAppIdDeploymentsRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetV1AppsByAppIdDeploymentsResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundryVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsByAppIdDeploymentsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#GetV1AppsByAppIdDeploymentsResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsByAppIdDeploymentsResponsePagination": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next cursor to continue pagination",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there are more items to paginate",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1AppsByAppIdDeploymentsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetV1AppsByAppIdDeploymentsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma.postgres#GetV1AppsByAppIdDeploymentsResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetV1AppsByAppIdDeployments": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetV1AppsByAppIdDeploymentsRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetV1AppsByAppIdDeploymentsResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/apps/{appId}/deployments",
          "code": 200
        },
        "smithy.api#documentation": "List deployments\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns all deployments belonging to an app, ordered by creation time (newest first). Supports cursor-based pagination."
      }
    },
    "com.prisma.postgres#PostV1AppsByAppIdDeploymentsRequestPortMapping": {
      "type": "structure",
      "members": {
        "http": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1AppsByAppIdDeploymentsRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "portMapping": {
          "target": "com.prisma.postgres#PostV1AppsByAppIdDeploymentsRequestPortMapping"
        },
        "skipCodeUpload": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#PostV1AppsByAppIdDeploymentsResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundryVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uploadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1AppsByAppIdDeploymentsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#PostV1AppsByAppIdDeploymentsResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#PostV1AppsByAppIdDeployments": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#PostV1AppsByAppIdDeploymentsRequest"
      },
      "output": {
        "target": "com.prisma.postgres#PostV1AppsByAppIdDeploymentsResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/apps/{appId}/deployments",
          "code": 200
        },
        "smithy.api#documentation": "Create deployment\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nCreates a new deployment under the specified app. Returns a pre-signed upload URL for the artifact unless `skipCodeUpload` is set (which forks the active promoted deployment's artifact). Environment variables are resolved automatically from the app's attached Branch (production-class templates for the production Branch; preview-class templates for preview Branches). Manage env vars via the `/v1/environment-variables` endpoints, not as part of the deploy payload."
      }
    },
    "com.prisma.postgres#GetV1ProjectsByProjectIdBranchesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "gitName"
          }
        },
        "gitNameContains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "gitNameContains"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetV1ProjectsByProjectIdBranchesResponseDataItemRole": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1ProjectsByProjectIdBranchesResponseDataItemProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/compute-services?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\")."
      }
    },
    "com.prisma.postgres#GetV1ProjectsByProjectIdBranchesResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.prisma.postgres#GetV1ProjectsByProjectIdBranchesResponseDataItemRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma.postgres#GetV1ProjectsByProjectIdBranchesResponseDataItemProject",
          "traits": {
            "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/compute-services?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1ProjectsByProjectIdBranchesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#GetV1ProjectsByProjectIdBranchesResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1ProjectsByProjectIdBranchesResponsePagination": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1ProjectsByProjectIdBranchesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetV1ProjectsByProjectIdBranchesResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma.postgres#GetV1ProjectsByProjectIdBranchesResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetV1ProjectsByProjectIdBranches": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetV1ProjectsByProjectIdBranchesRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetV1ProjectsByProjectIdBranchesResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/branches",
          "code": 200
        },
        "smithy.api#documentation": "List branches in a project\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns the live Branches of a Project. Supports two mutually exclusive filters: ?gitName= (exact match — at most one row), ?gitNameContains= (case-sensitive substring). Soft-deleted Branches are not returned. Ordered by createdAt ascending."
      }
    },
    "com.prisma.postgres#PostV1ProjectsByProjectIdBranchesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#PostV1ProjectsByProjectIdBranchesResponseDataRole": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1ProjectsByProjectIdBranchesResponseDataProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/compute-services?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\")."
      }
    },
    "com.prisma.postgres#PostV1ProjectsByProjectIdBranchesResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.prisma.postgres#PostV1ProjectsByProjectIdBranchesResponseDataRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma.postgres#PostV1ProjectsByProjectIdBranchesResponseDataProject",
          "traits": {
            "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/compute-services?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1ProjectsByProjectIdBranchesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#PostV1ProjectsByProjectIdBranchesResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#PostV1ProjectsByProjectIdBranches": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#PostV1ProjectsByProjectIdBranchesRequest"
      },
      "output": {
        "target": "com.prisma.postgres#PostV1ProjectsByProjectIdBranchesResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#Conflict"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/projects/{projectId}/branches",
          "code": 200
        },
        "smithy.api#documentation": "Create a branch\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nCreates a Branch under the specified Project. The first Branch in a Project is always created with isDefault=true and role=production regardless of the body value. Later Branches are created with role=preview. Setting isDefault=true while another Branch already holds the default atomically swaps the default flag only."
      }
    },
    "com.prisma.postgres#GetV1BranchesByBranchIdRequest": {
      "type": "structure",
      "members": {
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetV1BranchesByBranchIdResponseDataRole": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1BranchesByBranchIdResponseDataProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/compute-services?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\")."
      }
    },
    "com.prisma.postgres#GetV1BranchesByBranchIdResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.prisma.postgres#GetV1BranchesByBranchIdResponseDataRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma.postgres#GetV1BranchesByBranchIdResponseDataProject",
          "traits": {
            "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/compute-services?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1BranchesByBranchIdResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetV1BranchesByBranchIdResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetV1BranchesByBranchId": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetV1BranchesByBranchIdRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetV1BranchesByBranchIdResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/branches/{branchId}",
          "code": 200
        },
        "smithy.api#documentation": "Get a branch\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns a single Branch by ID. Member resources are not inlined — list them via /v1/databases?branchId= and /v1/compute-services?branchId=."
      }
    },
    "com.prisma.postgres#PatchV1BranchesByBranchIdRequest": {
      "type": "structure",
      "members": {
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#PatchV1BranchesByBranchIdResponseDataRole": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PatchV1BranchesByBranchIdResponseDataProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/compute-services?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\")."
      }
    },
    "com.prisma.postgres#PatchV1BranchesByBranchIdResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.prisma.postgres#PatchV1BranchesByBranchIdResponseDataRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma.postgres#PatchV1BranchesByBranchIdResponseDataProject",
          "traits": {
            "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/compute-services?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PatchV1BranchesByBranchIdResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#PatchV1BranchesByBranchIdResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#PatchV1BranchesByBranchId": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#PatchV1BranchesByBranchIdRequest"
      },
      "output": {
        "target": "com.prisma.postgres#PatchV1BranchesByBranchIdResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/branches/{branchId}",
          "code": 200
        },
        "smithy.api#documentation": "Update a branch\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nPromotes a Branch to be the Project's default. Only isDefault is mutable — gitName rename and role changes are rejected."
      }
    },
    "com.prisma.postgres#DeleteV1BranchesByBranchIdRequest": {
      "type": "structure",
      "members": {
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#DeleteV1BranchesByBranchId": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#DeleteV1BranchesByBranchIdRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#Conflict"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/branches/{branchId}",
          "code": 200
        },
        "smithy.api#documentation": "Soft-delete a branch\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nSoft-deletes a Branch (sets deletedAt). Refuses if the Branch is the Project's current default, the Project's production Branch, or has live members."
      }
    },
    "com.prisma.postgres#GetV1BuildsByBuildIdLogsRequestFollow": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1BuildsByBuildIdLogsRequest": {
      "type": "structure",
      "members": {
        "buildId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "follow": {
          "target": "com.prisma.postgres#GetV1BuildsByBuildIdLogsRequestFollow",
          "traits": {
            "smithy.api#httpQuery": "follow"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetV1BuildsByBuildIdLogs": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetV1BuildsByBuildIdLogsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/builds/{buildId}/logs",
          "code": 200
        },
        "smithy.api#documentation": "Stream build logs\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nStreams the full build log for a build as newline-delimited JSON (`application/x-ndjson`). Each line is a JSON object discriminated by `type`: `log` (a build output line) or `terminal` (end-of-stream marker with a `cursor` for resumption). The default is a finite dump that ends once the stream is drained; pass `follow=true` to keep the connection open for an in-flight build, and `cursor` to resume from a prior terminal cursor."
      }
    },
    "com.prisma.postgres#GetV1DomainsByDomainIdRequest": {
      "type": "structure",
      "members": {
        "domainId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetV1DomainsByDomainIdResponseDataStatus": {
      "type": "enum",
      "members": {
        "PENDING_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_dns"
          }
        },
        "VERIFYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verifying"
          }
        },
        "VERIFIED_ROUTING_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified_routing_blocked"
          }
        },
        "PROVISIONING_TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning_tls"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "REMOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removing"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1DomainsByDomainIdResponseDataFailureCategory": {
      "type": "enum",
      "members": {
        "DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns"
          }
        },
        "ACME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acme"
          }
        },
        "STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1DomainsByDomainIdResponseDataDnsRecordsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1DomainsByDomainIdResponseDataDnsRecordsList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#GetV1DomainsByDomainIdResponseDataDnsRecordsItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1DomainsByDomainIdResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "computeServiceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `appId` instead.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.prisma.postgres#GetV1DomainsByDomainIdResponseDataStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundryStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failureCategory": {
          "target": "com.prisma.postgres#GetV1DomainsByDomainIdResponseDataFailureCategory",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "certExpiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dnsRecords": {
          "target": "com.prisma.postgres#GetV1DomainsByDomainIdResponseDataDnsRecordsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1DomainsByDomainIdResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetV1DomainsByDomainIdResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetV1DomainsByDomainId": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetV1DomainsByDomainIdRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetV1DomainsByDomainIdResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/domains/{domainId}",
          "code": 200
        },
        "smithy.api#documentation": "Get a custom domain\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns details for a custom domain by id. Authorization is derived from the parent compute service's workspace."
      }
    },
    "com.prisma.postgres#DeleteV1DomainsByDomainIdRequest": {
      "type": "structure",
      "members": {
        "domainId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#DeleteV1DomainsByDomainId": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#DeleteV1DomainsByDomainIdRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/domains/{domainId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a custom domain\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nRemoves a custom domain binding. Authorization is derived from the parent compute service's workspace."
      }
    },
    "com.prisma.postgres#PostV1DomainsByDomainIdRetryRequest": {
      "type": "structure",
      "members": {
        "domainId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#PostV1DomainsByDomainIdRetryResponseDataStatus": {
      "type": "enum",
      "members": {
        "PENDING_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_dns"
          }
        },
        "VERIFYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verifying"
          }
        },
        "VERIFIED_ROUTING_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified_routing_blocked"
          }
        },
        "PROVISIONING_TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning_tls"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "REMOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removing"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1DomainsByDomainIdRetryResponseDataFailureCategory": {
      "type": "enum",
      "members": {
        "DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns"
          }
        },
        "ACME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acme"
          }
        },
        "STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1DomainsByDomainIdRetryResponseDataDnsRecordsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1DomainsByDomainIdRetryResponseDataDnsRecordsList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#PostV1DomainsByDomainIdRetryResponseDataDnsRecordsItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1DomainsByDomainIdRetryResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "computeServiceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `appId` instead.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.prisma.postgres#PostV1DomainsByDomainIdRetryResponseDataStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundryStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failureCategory": {
          "target": "com.prisma.postgres#PostV1DomainsByDomainIdRetryResponseDataFailureCategory",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "certExpiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dnsRecords": {
          "target": "com.prisma.postgres#PostV1DomainsByDomainIdRetryResponseDataDnsRecordsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1DomainsByDomainIdRetryResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#PostV1DomainsByDomainIdRetryResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#PostV1DomainsByDomainIdRetry": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#PostV1DomainsByDomainIdRetryRequest"
      },
      "output": {
        "target": "com.prisma.postgres#PostV1DomainsByDomainIdRetryResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/domains/{domainId}/retry",
          "code": 200
        },
        "smithy.api#documentation": "Retry custom domain provisioning\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nRetries DNS verification and certificate issuance for a failed or pending domain. Returns 409 if the domain is not yet eligible for retry (e.g. still provisioning)."
      }
    },
    "com.prisma.postgres#GetV1ConnectionsRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "databaseId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetV1ConnectionsResponseDataItemKind": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "ACCELERATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accelerate"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1ConnectionsResponseDataItemEndpointsDirect": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1ConnectionsResponseDataItemEndpointsPooled": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1ConnectionsResponseDataItemEndpointsAccelerate": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1ConnectionsResponseDataItemEndpoints": {
      "type": "structure",
      "members": {
        "direct": {
          "target": "com.prisma.postgres#GetV1ConnectionsResponseDataItemEndpointsDirect"
        },
        "pooled": {
          "target": "com.prisma.postgres#GetV1ConnectionsResponseDataItemEndpointsPooled"
        },
        "accelerate": {
          "target": "com.prisma.postgres#GetV1ConnectionsResponseDataItemEndpointsAccelerate"
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1ConnectionsResponseDataItemDirectConnection": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: use `endpoints.direct` instead."
      }
    },
    "com.prisma.postgres#GetV1ConnectionsResponseDataItemDatabase": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1ConnectionsResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.prisma.postgres#GetV1ConnectionsResponseDataItemKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoints": {
          "target": "com.prisma.postgres#GetV1ConnectionsResponseDataItemEndpoints",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "directConnection": {
          "target": "com.prisma.postgres#GetV1ConnectionsResponseDataItemDirectConnection",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `endpoints.direct` instead.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "database": {
          "target": "com.prisma.postgres#GetV1ConnectionsResponseDataItemDatabase",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1ConnectionsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#GetV1ConnectionsResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1ConnectionsResponsePagination": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next cursor to continue pagination",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there are more items to paginate",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetV1ConnectionsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetV1ConnectionsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma.postgres#GetV1ConnectionsResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetV1Connections": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetV1ConnectionsRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetV1ConnectionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/connections",
          "code": 200
        },
        "smithy.api#documentation": "List connections\n\nReturns all connections the actor has access to, with optional database filter."
      }
    },
    "com.prisma.postgres#PostV1ConnectionsRequest": {
      "type": "structure",
      "members": {
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#PostV1ConnectionsResponseDataKind": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "ACCELERATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accelerate"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1ConnectionsResponseDataEndpointsDirect": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "connectionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#PostV1ConnectionsResponseDataEndpointsPooled": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "connectionString": {
[...]
