{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.prisma.postgres#GetServicesRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId"
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "branchId"
          }
        },
        "branchGitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "branchGitName"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetServicesResponseDataItemRegion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServicesResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.prisma.postgres#GetServicesResponseDataItemRegion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latestDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServicesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#GetServicesResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServicesResponsePagination": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next cursor to continue pagination",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there are more items to paginate",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServicesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetServicesResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma.postgres#GetServicesResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetServices": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetServicesRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetServicesResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/services",
          "code": 200
        },
        "smithy.api#documentation": "List services\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns all services the token has access to, ordered by creation time (oldest first). Optionally filter by project ID. Supports cursor-based pagination."
      }
    },
    "com.prisma.postgres#CreateServiceRequestRegionId": {
      "type": "enum",
      "members": {
        "US_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-1"
          }
        },
        "US_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-1"
          }
        },
        "EU_WEST_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-3"
          }
        },
        "EU_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-1"
          }
        },
        "AP_NORTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-northeast-1"
          }
        },
        "AP_SOUTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-1"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateServiceRequest": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "regionId": {
          "target": "com.prisma.postgres#CreateServiceRequestRegionId"
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "branchGitName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#CreateServiceResponseDataRegion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateServiceResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.prisma.postgres#CreateServiceResponseDataRegion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latestDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateServiceResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#CreateServiceResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#CreateService": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#CreateServiceRequest"
      },
      "output": {
        "target": "com.prisma.postgres#CreateServiceResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#Conflict"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/services",
          "code": 200
        },
        "smithy.api#documentation": "Create service\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nCreates a new service under the specified project. The `projectId` is required in the request body. The service is placed in the given region, or the project's default region if omitted (falling back to us-east-1). Returns `409 Conflict` with the existing service's id, name, and branch if a service with the same name already exists on the resolved branch."
      }
    },
    "com.prisma.postgres#GetServiceRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetServiceResponseDataRegion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServiceResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.prisma.postgres#GetServiceResponseDataRegion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latestDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServiceResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetServiceResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetService": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetServiceRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetServiceResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/services/{serviceId}",
          "code": 200
        },
        "smithy.api#documentation": "Get service\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns a service by ID, including its region and active promoted deployment reference."
      }
    },
    "com.prisma.postgres#UpdateServiceRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "branchGitName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#UpdateServiceResponseDataRegion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#UpdateServiceResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.prisma.postgres#UpdateServiceResponseDataRegion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latestDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#UpdateServiceResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#UpdateServiceResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#UpdateService": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#UpdateServiceRequest"
      },
      "output": {
        "target": "com.prisma.postgres#UpdateServiceResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/services/{serviceId}",
          "code": 200
        },
        "smithy.api#documentation": "Update service\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nUpdates the display name of a service."
      }
    },
    "com.prisma.postgres#DeleteServiceRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#DeleteService": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#DeleteServiceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/services/{serviceId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete service\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nDeletes a service. Deployments under the service are deleted before the service is deleted."
      }
    },
    "com.prisma.postgres#CreateServicePromoteRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deploymentId": {
          "target": "smithy.api#String"
        },
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `deploymentId` instead. Ignored when `deploymentId` is also present."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#CreateServicePromoteResponseData": {
      "type": "structure",
      "members": {
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reassignedDomains": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateServicePromoteResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#CreateServicePromoteResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#CreateServicePromote": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#CreateServicePromoteRequest"
      },
      "output": {
        "target": "com.prisma.postgres#CreateServicePromoteResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#Conflict"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/services/{serviceId}/promote",
          "code": 200
        },
        "smithy.api#documentation": "Promote deployment\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nPromotes a deployment to be the active deployment behind the service's stable endpoint. The deployment must be running. Returns the service endpoint domain."
      }
    },
    "com.prisma.postgres#CreateServiceRollbackRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deploymentId": {
          "target": "smithy.api#String"
        },
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `deploymentId` instead. Ignored when `deploymentId` is also present."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#CreateServiceRollbackResponseData": {
      "type": "structure",
      "members": {
        "appEndpointDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reassignedDomains": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateServiceRollbackResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#CreateServiceRollbackResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#CreateServiceRollback": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#CreateServiceRollbackRequest"
      },
      "output": {
        "target": "com.prisma.postgres#CreateServiceRollbackResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#Conflict"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/services/{serviceId}/rollback",
          "code": 200
        },
        "smithy.api#documentation": "Roll a service back to an existing deployment\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nMakes any eligible existing deployment live behind the service's stable endpoint (rollback or roll-forward). Unlike promote, a stopped target is started and waited until it is running before the endpoint is switched, so the currently-live deployment keeps serving with zero downtime. Returns the service endpoint domain."
      }
    },
    "com.prisma.postgres#GetServiceDomainsRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetServiceDomainsResponseDataItemStatus": {
      "type": "enum",
      "members": {
        "PENDING_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_dns"
          }
        },
        "VERIFYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verifying"
          }
        },
        "VERIFIED_ROUTING_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified_routing_blocked"
          }
        },
        "PROVISIONING_TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning_tls"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "REMOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removing"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServiceDomainsResponseDataItemFailureCategory": {
      "type": "enum",
      "members": {
        "DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns"
          }
        },
        "ACME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acme"
          }
        },
        "STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServiceDomainsResponseDataItemDnsRecordsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServiceDomainsResponseDataItemDnsRecordsList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#GetServiceDomainsResponseDataItemDnsRecordsItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServiceDomainsResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "computeServiceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `appId` instead.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.prisma.postgres#GetServiceDomainsResponseDataItemStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundryStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failureCategory": {
          "target": "com.prisma.postgres#GetServiceDomainsResponseDataItemFailureCategory",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "certExpiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dnsRecords": {
          "target": "com.prisma.postgres#GetServiceDomainsResponseDataItemDnsRecordsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServiceDomainsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#GetServiceDomainsResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServiceDomainsResponsePagination": {
      "type": "structure",
      "members": {
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "nextCursor": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServiceDomainsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetServiceDomainsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma.postgres#GetServiceDomainsResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetServiceDomains": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetServiceDomainsRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetServiceDomainsResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/services/{serviceId}/domains",
          "code": 200
        },
        "smithy.api#documentation": "List custom domains for a service\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns all custom domains attached to any deployment of the service. Domains are aggregated across all deployments since Foundry lists per deployment."
      }
    },
    "com.prisma.postgres#CreateServiceDomainRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#CreateServiceDomainResponseDataStatus": {
      "type": "enum",
      "members": {
        "PENDING_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_dns"
          }
        },
        "VERIFYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verifying"
          }
        },
        "VERIFIED_ROUTING_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified_routing_blocked"
          }
        },
        "PROVISIONING_TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning_tls"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "REMOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removing"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateServiceDomainResponseDataFailureCategory": {
      "type": "enum",
      "members": {
        "DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns"
          }
        },
        "ACME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acme"
          }
        },
        "STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateServiceDomainResponseDataDnsRecordsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateServiceDomainResponseDataDnsRecordsList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#CreateServiceDomainResponseDataDnsRecordsItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateServiceDomainResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "computeServiceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `appId` instead.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.prisma.postgres#CreateServiceDomainResponseDataStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundryStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failureCategory": {
          "target": "com.prisma.postgres#CreateServiceDomainResponseDataFailureCategory",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "certExpiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dnsRecords": {
          "target": "com.prisma.postgres#CreateServiceDomainResponseDataDnsRecordsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateServiceDomainResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#CreateServiceDomainResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#CreateServiceDomain": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#CreateServiceDomainRequest"
      },
      "output": {
        "target": "com.prisma.postgres#CreateServiceDomainResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#BadRequest"
        },
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#Conflict"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/services/{serviceId}/domains",
          "code": 200
        },
        "smithy.api#documentation": "Create a custom domain\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nRegisters a custom hostname for the service. The hostname must CNAME to the regional switchboard target before DNS verification can succeed. Returns 429 if the service has reached its domain quota (default: 3)."
      }
    },
    "com.prisma.postgres#GetServiceDeploymentsRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetServiceDeploymentsResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundryVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServiceDeploymentsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#GetServiceDeploymentsResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServiceDeploymentsResponsePagination": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next cursor to continue pagination",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there are more items to paginate",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetServiceDeploymentsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetServiceDeploymentsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma.postgres#GetServiceDeploymentsResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetServiceDeployments": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetServiceDeploymentsRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetServiceDeploymentsResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/services/{serviceId}/deployments",
          "code": 200
        },
        "smithy.api#documentation": "List deployments\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns all deployments belonging to a service, ordered by creation time (newest first). Supports cursor-based pagination."
      }
    },
    "com.prisma.postgres#CreateServiceDeploymentRequestPortMapping": {
      "type": "structure",
      "members": {
        "http": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateServiceDeploymentRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "portMapping": {
          "target": "com.prisma.postgres#CreateServiceDeploymentRequestPortMapping"
        },
        "skipCodeUpload": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#CreateServiceDeploymentResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundryVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uploadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateServiceDeploymentResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#CreateServiceDeploymentResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#CreateServiceDeployment": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#CreateServiceDeploymentRequest"
      },
      "output": {
        "target": "com.prisma.postgres#CreateServiceDeploymentResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/services/{serviceId}/deployments",
          "code": 200
        },
        "smithy.api#documentation": "Create deployment\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nCreates a new deployment under the specified service. Returns a pre-signed upload URL for the artifact unless `skipCodeUpload` is set (which forks the active promoted deployment's artifact). Environment variables are resolved automatically from the service's attached Branch (production-class templates for the production Branch; preview-class templates for preview Branches). Manage env vars via the `/v1/environment-variables` endpoints, not as part of the deploy payload."
      }
    },
    "com.prisma.postgres#GetProjectBranchesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "gitName"
          }
        },
        "gitNameContains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "gitNameContains"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetProjectBranchesResponseDataItemRole": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetProjectBranchesResponseDataItemProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\")."
      }
    },
    "com.prisma.postgres#GetProjectBranchesResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.prisma.postgres#GetProjectBranchesResponseDataItemRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma.postgres#GetProjectBranchesResponseDataItemProject",
          "traits": {
            "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetProjectBranchesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#GetProjectBranchesResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#GetProjectBranchesResponsePagination": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetProjectBranchesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetProjectBranchesResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma.postgres#GetProjectBranchesResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetProjectBranches": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetProjectBranchesRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetProjectBranchesResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{projectId}/branches",
          "code": 200
        },
        "smithy.api#documentation": "List branches in a project\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns the live Branches of a Project. Supports two mutually exclusive filters: ?gitName= (exact match — at most one row), ?gitNameContains= (case-sensitive substring). Soft-deleted Branches are not returned. Ordered by createdAt ascending."
      }
    },
    "com.prisma.postgres#CreateProjectBranchRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#CreateProjectBranchResponseDataRole": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateProjectBranchResponseDataProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\")."
      }
    },
    "com.prisma.postgres#CreateProjectBranchResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.prisma.postgres#CreateProjectBranchResponseDataRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma.postgres#CreateProjectBranchResponseDataProject",
          "traits": {
            "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateProjectBranchResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#CreateProjectBranchResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#CreateProjectBranch": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#CreateProjectBranchRequest"
      },
      "output": {
        "target": "com.prisma.postgres#CreateProjectBranchResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#Conflict"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/projects/{projectId}/branches",
          "code": 200
        },
        "smithy.api#documentation": "Create a branch\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nCreates a Branch under the specified Project. The first Branch in a Project is always created with isDefault=true and role=production regardless of the body value. Later Branches are created with role=preview. Setting isDefault=true while another Branch already holds the default atomically swaps the default flag only."
      }
    },
    "com.prisma.postgres#GetBranchRequest": {
      "type": "structure",
      "members": {
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetBranchResponseDataRole": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetBranchResponseDataProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\")."
      }
    },
    "com.prisma.postgres#GetBranchResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.prisma.postgres#GetBranchResponseDataRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma.postgres#GetBranchResponseDataProject",
          "traits": {
            "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetBranchResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetBranchResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetBranch": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetBranchRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetBranchResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/branches/{branchId}",
          "code": 200
        },
        "smithy.api#documentation": "Get a branch\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nReturns a single Branch by ID. Member resources are not inlined — list them via /v1/databases?branchId= and /v1/apps?branchId=."
      }
    },
    "com.prisma.postgres#UpdateBranchRequest": {
      "type": "structure",
      "members": {
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#UpdateBranchResponseDataRole": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#UpdateBranchResponseDataProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\")."
      }
    },
    "com.prisma.postgres#UpdateBranchResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.prisma.postgres#UpdateBranchResponseDataRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma.postgres#UpdateBranchResponseDataProject",
          "traits": {
            "smithy.api#documentation": "Thin reference to the parent Project. Member resources are intentionally NOT inlined — list /v1/databases?branchId=<br_xxx> or /v1/apps?branchId=<br_xxx> instead (see API design principles \"Flat and Hierarchical Coexistence\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#UpdateBranchResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#UpdateBranchResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#UpdateBranch": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#UpdateBranchRequest"
      },
      "output": {
        "target": "com.prisma.postgres#UpdateBranchResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/branches/{branchId}",
          "code": 200
        },
        "smithy.api#documentation": "Update a branch\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nPromotes a Branch to be the Project's default. Only isDefault is mutable — gitName rename and role changes are rejected."
      }
    },
    "com.prisma.postgres#DeleteBranchRequest": {
      "type": "structure",
      "members": {
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#DeleteBranch": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#DeleteBranchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#NotFound"
        },
        {
          "target": "com.prisma.postgres#Conflict"
        },
        {
          "target": "com.prisma.postgres#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/branches/{branchId}",
          "code": 200
        },
        "smithy.api#documentation": "Soft-delete a branch\n\n⚠️ Experimental endpoint: this API is in active development and may change at any time without notice. ⚠️\n\nSoft-deletes a Branch (sets deletedAt). Refuses if the Branch is the Project's current default, the Project's production Branch, or has live members."
      }
    },
    "com.prisma.postgres#GetBucketsRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId"
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "branchId"
          }
        },
        "branchGitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "branchGitName"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetBucketsResponseDataItemProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetBucketsResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma.postgres#GetBucketsResponseDataItemProject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetBucketsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#GetBucketsResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#GetBucketsResponsePagination": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next cursor to continue pagination",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there are more items to paginate",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetBucketsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetBucketsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma.postgres#GetBucketsResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetBuckets": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetBucketsRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetBucketsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/buckets",
          "code": 200
        },
        "smithy.api#documentation": "List buckets\n\nReturns all object-store buckets the token has access to. Optionally filter by project ID."
      }
    },
    "com.prisma.postgres#CreateBucketRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the project to create the bucket in",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the bucket. Generated if omitted."
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the branch to associate the bucket with. Mutually exclusive with branchGitName."
          }
        },
        "branchGitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git name of the branch to associate the bucket with. Mutually exclusive with branchId."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#CreateBucketResponseDataProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateBucketResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma.postgres#CreateBucketResponseDataProject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateBucketResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#CreateBucketResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#CreateBucket": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#CreateBucketRequest"
      },
      "output": {
        "target": "com.prisma.postgres#CreateBucketResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#BadRequest"
        },
        {
          "target": "com.prisma.postgres#Forbidden"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/buckets",
          "code": 200
        },
        "smithy.api#documentation": "Create bucket\n\nCreates a new object-store bucket in the specified project."
      }
    },
    "com.prisma.postgres#GetBucketRequest": {
      "type": "structure",
      "members": {
        "bucketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetBucketResponseDataProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetBucketResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "providerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.prisma.postgres#GetBucketResponseDataProject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetBucketResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetBucketResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetBucket": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetBucketRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetBucketResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/buckets/{bucketId}",
          "code": 200
        },
        "smithy.api#documentation": "Get bucket\n\nReturns the bucket with the given ID."
      }
    },
    "com.prisma.postgres#DeleteBucketRequest": {
      "type": "structure",
      "members": {
        "bucketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#DeleteBucket": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#DeleteBucketRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/buckets/{bucketId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete bucket\n\nPermanently deletes the bucket with the given ID, all objects stored in it, and all its access keys. This action cannot be undone."
      }
    },
    "com.prisma.postgres#GetBucketKeysRequest": {
      "type": "structure",
      "members": {
        "bucketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetBucketKeysResponseDataItemRole": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read_write"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetBucketKeysResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "valueHint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.prisma.postgres#GetBucketKeysResponseDataItemRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetBucketKeysResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.prisma.postgres#GetBucketKeysResponseDataItem"
      },
      "traits": {}
    },
    "com.prisma.postgres#GetBucketKeysResponsePagination": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next cursor to continue pagination",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there are more items to paginate",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetBucketKeysResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#GetBucketKeysResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.prisma.postgres#GetBucketKeysResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#GetBucketKeys": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#GetBucketKeysRequest"
      },
      "output": {
        "target": "com.prisma.postgres#GetBucketKeysResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/buckets/{bucketId}/keys",
          "code": 200
        },
        "smithy.api#documentation": "List bucket keys\n\nReturns all access keys for the given bucket."
      }
    },
    "com.prisma.postgres#CreateBucketKeyRequestRole": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read_write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Access role for the key: \"read\" or \"read_write\"."
      }
    },
    "com.prisma.postgres#CreateBucketKeyRequest": {
      "type": "structure",
      "members": {
        "bucketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the key. Generated if omitted."
          }
        },
        "role": {
          "target": "com.prisma.postgres#CreateBucketKeyRequestRole",
          "traits": {
            "smithy.api#documentation": "Access role for the key: \"read\" or \"read_write\".",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#CreateBucketKeyResponseDataRole": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read_write"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateBucketKeyResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "valueHint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.prisma.postgres#CreateBucketKeyResponseDataRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secretAccessKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "accessKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#CreateBucketKeyResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.prisma.postgres#CreateBucketKeyResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.prisma.postgres#CreateBucketKey": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#CreateBucketKeyRequest"
      },
      "output": {
        "target": "com.prisma.postgres#CreateBucketKeyResponse"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#BadRequest"
        },
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/buckets/{bucketId}/keys",
          "code": 200
        },
        "smithy.api#documentation": "Create bucket key\n\nCreates a new access key for the given bucket. The `secretAccessKey` field is returned exactly once in this response and is never stored — copy it immediately."
      }
    },
    "com.prisma.postgres#DeleteBucketKeyRequest": {
      "type": "structure",
      "members": {
        "bucketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#DeleteBucketKey": {
      "type": "operation",
      "input": {
        "target": "com.prisma.postgres#DeleteBucketKeyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.prisma.postgres#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/buckets/{bucketId}/keys/{keyId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete bucket key\n\nRevokes and deletes the bucket key with the given ID."
      }
    },
    "com.prisma.postgres#GetBuildsRequestState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetBuildsRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId"
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "branchId"
          }
        },
        "state": {
          "target": "com.prisma.postgres#GetBuildsRequestState",
          "traits": {
            "smithy.api#httpQuery": "state"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.prisma.postgres#GetBuildsResponseDataItemSource": {
      "type": "enum",
      "members": {
        "WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webhook"
          }
        },
        "SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "setup"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "CI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ci"
          }
        },
        "CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cli"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetBuildsResponseDataItemState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      },
      "traits": {}
    },
    "com.prisma.postgres#GetBuildsResponseDataItemPhase": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "BUILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "build"
          }
        },
        "DEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deploy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Null when nothing reported a phase; the platform never invents an observation it did not receive."
      }
    },
    "com.prisma.postgres#GetBuildsResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.prisma.postgres#GetBuildsResponseDataItemSource",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.prisma.postgres#GetBuildsResponseDataItemState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "com.prisma.postgres#GetBuildsResponseDataItemPhase",
          "traits": {
            "smithy.api#documentation": "Null when nothing reported a phase; the platform never invents an observation it did not receive.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
[...]
