{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.sentry.api#ListOrganizationsRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "owner",
            "smithy.api#documentation": "Specify `true` to restrict results to organizations in which you are an owner."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "query",
            "smithy.api#documentation": "Filters results by using [query syntax](/product/sentry-basics/search/).\n\nValid query fields include:\n- `id`: The organization ID\n- `slug`: The organization slug\n- `status`: The organization's current status (one of `active`, `pending_deletion`, or `deletion_in_progress`)\n- `email` or `member_id`: Filter your organizations by the emails or [organization member IDs](/api/organizations/list-an-organizations-members/) of specific members included\n- `query`: Filter your organizations by name, slug, and members that contain this substring\n\nExample: `query=(slug:foo AND status:active) OR (email:[thing-one@example.com,thing-two@example.com] AND query:bar)`\n"
          }
        },
        "sortBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sortBy",
            "smithy.api#documentation": "The field to sort results by, in descending order. If not specified the results are sorted by the date they were created.\n\nValid fields include:\n- `members`: By number of members\n- `events`: By number of events in the past 24 hours\n"
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Limit the number of rows to return in the result. Default and maximum allowed is 100."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.sentry.api#ListOrganizationsResponseBodyItemFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationsResponseBodyItemExtraOptionsValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationsResponseBodyItemExtraOptionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.sentry.api#ListOrganizationsResponseBodyItemExtraOptionsValueMap"
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationsResponseBodyItemAccessList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationsResponseBodyItemOnboardingTasksItem": {
      "type": "structure",
      "members": {
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "completionSeen": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dateCompleted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationsResponseBodyItemOnboardingTasksList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#ListOrganizationsResponseBodyItemOnboardingTasksItem"
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationsResponseBodyItemStatus": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationsResponseBodyItemAvatar": {
      "type": "structure",
      "members": {
        "avatarType": {
          "target": "smithy.api#String"
        },
        "avatarUuid": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationsResponseBodyItemLinks": {
      "type": "structure",
      "members": {
        "organizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "regionUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationsResponseBodyItem": {
      "type": "structure",
      "members": {
        "features": {
          "target": "com.sentry.api#ListOrganizationsResponseBodyItemFeaturesList"
        },
        "extraOptions": {
          "target": "com.sentry.api#ListOrganizationsResponseBodyItemExtraOptionsMap"
        },
        "access": {
          "target": "com.sentry.api#ListOrganizationsResponseBodyItemAccessList"
        },
        "onboardingTasks": {
          "target": "com.sentry.api#ListOrganizationsResponseBodyItemOnboardingTasksList"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.sentry.api#ListOrganizationsResponseBodyItemStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dateCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isEarlyAdopter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "require2FA": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar": {
          "target": "com.sentry.api#ListOrganizationsResponseBodyItemAvatar",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.sentry.api#ListOrganizationsResponseBodyItemLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasAuthProvider": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowMemberInvite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowMemberProjectCreation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowSuperuserAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#ListOrganizationsResponseBodyItem"
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.sentry.api#ListOrganizationsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.sentry.api#ListOrganizations": {
      "type": "operation",
      "input": {
        "target": "com.sentry.api#ListOrganizationsRequest"
      },
      "output": {
        "target": "com.sentry.api#ListOrganizationsResponse"
      },
      "errors": [
        {
          "target": "com.sentry.api#Forbidden"
        },
        {
          "target": "com.sentry.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/0/organizations/",
          "code": 200
        },
        "smithy.api#documentation": "List Your Organizations\n\nReturn a list of organizations available to the authenticated session in a region.\nThis is particularly useful for requests with a user bound context. For API key-based requests this will only return the organization that belongs to the key."
      }
    },
    "com.sentry.api#GetOrganizationRequest": {
      "type": "structure",
      "members": {
        "organization_id_or_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID or slug of the organization the resource belongs to."
          }
        },
        "detailed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "detailed",
            "smithy.api#documentation": "\nSpecify `\"0\"` to return organization details that do not include projects or teams.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.sentry.api#GetOrganizationResponseFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#GetOrganizationResponseExtraOptionsValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.sentry.api#GetOrganizationResponseExtraOptionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.sentry.api#GetOrganizationResponseExtraOptionsValueMap"
      },
      "traits": {}
    },
    "com.sentry.api#GetOrganizationResponseAccessList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#GetOrganizationResponseOnboardingTasksItem": {
      "type": "structure",
      "members": {
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "completionSeen": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dateCompleted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#GetOrganizationResponseOnboardingTasksList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#GetOrganizationResponseOnboardingTasksItem"
      },
      "traits": {}
    },
    "com.sentry.api#GetOrganizationResponseStatus": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#GetOrganizationResponseAvatar": {
      "type": "structure",
      "members": {
        "avatarType": {
          "target": "smithy.api#String"
        },
        "avatarUuid": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#GetOrganizationResponseLinks": {
      "type": "structure",
      "members": {
        "organizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "regionUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#GetOrganizationResponse": {
      "type": "structure",
      "members": {
        "features": {
          "target": "com.sentry.api#GetOrganizationResponseFeaturesList"
        },
        "extraOptions": {
          "target": "com.sentry.api#GetOrganizationResponseExtraOptionsMap"
        },
        "access": {
          "target": "com.sentry.api#GetOrganizationResponseAccessList"
        },
        "onboardingTasks": {
          "target": "com.sentry.api#GetOrganizationResponseOnboardingTasksList"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.sentry.api#GetOrganizationResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dateCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isEarlyAdopter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "require2FA": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar": {
          "target": "com.sentry.api#GetOrganizationResponseAvatar",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.sentry.api#GetOrganizationResponseLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasAuthProvider": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowMemberInvite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowMemberProjectCreation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowSuperuserAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.sentry.api#GetOrganization": {
      "type": "operation",
      "input": {
        "target": "com.sentry.api#GetOrganizationRequest"
      },
      "output": {
        "target": "com.sentry.api#GetOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.sentry.api#Forbidden"
        },
        {
          "target": "com.sentry.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/0/organizations/{organization_id_or_slug}/",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve an Organization\n\nReturn details on an individual organization, including various details\nsuch as membership access and teams."
      }
    },
    "com.sentry.api#UpdateOrganizationRequestDefaultRole": {
      "type": "enum",
      "members": {
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "member"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manager"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default role new members will receive.\n\n* `member` - Member\n* `admin` - Admin\n* `manager` - Manager\n* `owner` - Owner"
      }
    },
    "com.sentry.api#UpdateOrganizationRequestAttachmentsRole": {
      "type": "enum",
      "members": {
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "member"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manager"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role required to download event attachments, such as native crash reports or log files.\n\n* `member` - Member\n* `admin` - Admin\n* `manager` - Manager\n* `owner` - Owner"
      }
    },
    "com.sentry.api#UpdateOrganizationRequestDebugFilesRole": {
      "type": "enum",
      "members": {
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "member"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manager"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role required to download debug information files, ProGuard mappings and source maps.\n\n* `member` - Member\n* `admin` - Admin\n* `manager` - Manager\n* `owner` - Owner"
      }
    },
    "com.sentry.api#UpdateOrganizationRequestReplayAccessMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "A list of user IDs who have permission to access replay data. Requires the hasGranularReplayPermissions flag to be true to be enforced."
      }
    },
    "com.sentry.api#UpdateOrganizationRequestAvatarType": {
      "type": "enum",
      "members": {
        "LETTER_AVATAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "letter_avatar"
          }
        },
        "UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "upload"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of display picture for the organization.\n\n* `letter_avatar` - Use initials\n* `upload` - Upload an image"
      }
    },
    "com.sentry.api#UpdateOrganizationRequestStoreCrashReports": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5
          }
        },
        "_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 10
          }
        },
        "_20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 20
          }
        },
        "_50": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 50
          }
        },
        "_100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 100
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": -1
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How many native crash reports (such as Minidumps for improved processing and download in issue details) to store per issue.\n\n* `0` - Disabled\n* `1` - 1 per issue\n* `5` - 5 per issue\n* `10` - 10 per issue\n* `20` - 20 per issue\n* `50` - 50 per issue\n* `100` - 100 per issue\n* `-1` - Unlimited"
      }
    },
    "com.sentry.api#UpdateOrganizationRequestSensitiveFieldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of additional global field names to match against when scrubbing data for all projects."
      }
    },
    "com.sentry.api#UpdateOrganizationRequestSafeFieldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of global field names which data scrubbers should ignore."
      }
    },
    "com.sentry.api#UpdateOrganizationRequestTrustedRelaysItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationRequestTrustedRelaysList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#UpdateOrganizationRequestTrustedRelaysItemMap"
      },
      "traits": {
        "smithy.api#documentation": "A list of local Relays (the name, public key, and description as a JSON) registered for the organization. This feature is only available for organizations on the Business and Enterprise plans. Read more about Relay [here](/product/relay/).\n\n                                          Below is an example of a list containing a single local Relay registered for the organization:\n                                          ```json\n                                          {\n                                            trustedRelays: [\n                                                {\n                                                    name: \"my-relay\",\n                                                    publicKey: \"eiwr9fdruw4erfh892qy4493reyf89ur34wefd90h\",\n                                                    description: \"Configuration for my-relay.\"\n                                                }\n                                            ]\n                                          }\n                                          ```\n                                          "
      }
    },
    "com.sentry.api#UpdateOrganizationRequest": {
      "type": "structure",
      "members": {
        "organization_id_or_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID or slug of the organization the resource belongs to."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new slug for the organization, which needs to be unique."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new name for the organization."
          }
        },
        "isEarlyAdopter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to opt-in to new features before they're released to the public."
          }
        },
        "hideAiFeatures": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to hide AI features from the organization."
          }
        },
        "defaultRole": {
          "target": "com.sentry.api#UpdateOrganizationRequestDefaultRole",
          "traits": {
            "smithy.api#documentation": "The default role new members will receive.\n\n* `member` - Member\n* `admin` - Admin\n* `manager` - Manager\n* `owner` - Owner"
          }
        },
        "openMembership": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to allow organization members to freely join any team."
          }
        },
        "eventsMemberAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to allow members to delete events (including the delete & discard action) by granting them the `event:admin` scope."
          }
        },
        "alertsMemberWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to allow members to create, edit, and delete alert rules by granting them the `alerts:write` scope."
          }
        },
        "attachmentsRole": {
          "target": "com.sentry.api#UpdateOrganizationRequestAttachmentsRole",
          "traits": {
            "smithy.api#documentation": "The role required to download event attachments, such as native crash reports or log files.\n\n* `member` - Member\n* `admin` - Admin\n* `manager` - Manager\n* `owner` - Owner"
          }
        },
        "debugFilesRole": {
          "target": "com.sentry.api#UpdateOrganizationRequestDebugFilesRole",
          "traits": {
            "smithy.api#documentation": "The role required to download debug information files, ProGuard mappings and source maps.\n\n* `member` - Member\n* `admin` - Admin\n* `manager` - Manager\n* `owner` - Owner"
          }
        },
        "hasGranularReplayPermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to enable granular replay permissions, allowing per-member access control for replay data."
          }
        },
        "replayAccessMembers": {
          "target": "com.sentry.api#UpdateOrganizationRequestReplayAccessMembersList",
          "traits": {
            "smithy.api#documentation": "A list of user IDs who have permission to access replay data. Requires the hasGranularReplayPermissions flag to be true to be enforced.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatarType": {
          "target": "com.sentry.api#UpdateOrganizationRequestAvatarType",
          "traits": {
            "smithy.api#documentation": "The type of display picture for the organization.\n\n* `letter_avatar` - Use initials\n* `upload` - Upload an image"
          }
        },
        "avatar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image to upload as the organization avatar, in base64. Required if `avatarType` is `upload`."
          }
        },
        "require2FA": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to require and enforce two-factor authentication for all members."
          }
        },
        "allowSharedIssues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to allow sharing of limited details on issues to anonymous users."
          }
        },
        "enhancedPrivacy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to enable enhanced privacy controls to limit personally identifiable information (PII) as well as source code in things like notifications."
          }
        },
        "scrapeJavaScript": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to allow Sentry to scrape missing JavaScript source context when possible."
          }
        },
        "storeCrashReports": {
          "target": "com.sentry.api#UpdateOrganizationRequestStoreCrashReports",
          "traits": {
            "smithy.api#documentation": "How many native crash reports (such as Minidumps for improved processing and download in issue details) to store per issue.\n\n* `0` - Disabled\n* `1` - 1 per issue\n* `5` - 5 per issue\n* `10` - 10 per issue\n* `20` - 20 per issue\n* `50` - 50 per issue\n* `100` - 100 per issue\n* `-1` - Unlimited"
          }
        },
        "allowJoinRequests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to allow users to request to join your organization."
          }
        },
        "dataScrubber": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to require server-side data scrubbing for all projects."
          }
        },
        "dataScrubberDefaults": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to apply the default scrubbers to prevent things like passwords and credit cards from being stored for all projects."
          }
        },
        "sensitiveFields": {
          "target": "com.sentry.api#UpdateOrganizationRequestSensitiveFieldsList",
          "traits": {
            "smithy.api#documentation": "A list of additional global field names to match against when scrubbing data for all projects."
          }
        },
        "safeFields": {
          "target": "com.sentry.api#UpdateOrganizationRequestSafeFieldsList",
          "traits": {
            "smithy.api#documentation": "A list of global field names which data scrubbers should ignore."
          }
        },
        "scrubIPAddresses": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to prevent IP addresses from being stored for new events on all projects."
          }
        },
        "relayPiiConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Advanced data scrubbing rules that can be configured for each project as a JSON string. The new rules will only apply to new incoming events. For more details on advanced data scrubbing, see our [full documentation](/security-legal-pii/scrubbing/advanced-datascrubbing/).\n\n> Warning: Calling this endpoint with this field fully overwrites the advanced data scrubbing rules.\n\nBelow is an example of a payload for a set of advanced data scrubbing rules for masking credit card numbers from the log message (equivalent to `[Mask] [Credit card numbers] from [$message]` in the Sentry app) and removing a specific key called `foo` (equivalent to `[Remove] [Anything] from [extra.foo]` in the Sentry app):\n```json\n{\n    relayPiiConfig: \"{\\\"rules\":{\\\"0\\\":{\\\"type\\\":\\\"creditcard\\\",\\\"redaction\\\":{\\\"method\\\":\\\"mask\\\"}},\\\"1\\\":{\\\"type\\\":\\\"anything\\\",\\\"redaction\\\":{\\\"method\\\":\\\"remove\\\"}}},\\\"applications\\\":{\\\"$message\\\":[\\\"0\\\"],\\\"extra.foo\\\":[\\\"1\\\"]}}\"\n}\n```\n        "
          }
        },
        "trustedRelays": {
          "target": "com.sentry.api#UpdateOrganizationRequestTrustedRelaysList",
          "traits": {
            "smithy.api#documentation": "A list of local Relays (the name, public key, and description as a JSON) registered for the organization. This feature is only available for organizations on the Business and Enterprise plans. Read more about Relay [here](/product/relay/).\n\n                                          Below is an example of a list containing a single local Relay registered for the organization:\n                                          ```json\n                                          {\n                                            trustedRelays: [\n                                                {\n                                                    name: \"my-relay\",\n                                                    publicKey: \"eiwr9fdruw4erfh892qy4493reyf89ur34wefd90h\",\n                                                    description: \"Configuration for my-relay.\"\n                                                }\n                                            ]\n                                          }\n                                          ```\n                                          "
          }
        },
        "relayDsnEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Relay base URL to use when displaying Client Key DSNs for this organization.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "issueAlertsThreadFlag": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to allow the Sentry Slack integration to post replies in threads for an Issue Alert notification. Requires a Slack integration."
          }
        },
        "metricAlertsThreadFlag": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to allow the Sentry Slack integration to post replies in threads for a Metric Alert notification. Requires a Slack integration."
          }
        },
        "cancelDeletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specify `true` to restore an organization that is pending deletion."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.sentry.api#UpdateOrganizationResponseFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseExtraOptionsValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseExtraOptionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.sentry.api#UpdateOrganizationResponseExtraOptionsValueMap"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseAccessList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseOnboardingTasksItem": {
      "type": "structure",
      "members": {
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "completionSeen": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dateCompleted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseOnboardingTasksList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#UpdateOrganizationResponseOnboardingTasksItem"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseStatus": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseAvatar": {
      "type": "structure",
      "members": {
        "avatarType": {
          "target": "smithy.api#String"
        },
        "avatarUuid": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseLinks": {
      "type": "structure",
      "members": {
        "organizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "regionUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseExperimentsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseOrgRoleListItemScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseOrgRoleListItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "desc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.sentry.api#UpdateOrganizationResponseOrgRoleListItemScopesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isRetired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isTeamRolesAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_global": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isGlobal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "minimumTeamRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseOrgRoleListList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#UpdateOrganizationResponseOrgRoleListItem"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamRoleListItemScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamRoleListItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "desc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamRoleListItemScopesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isRetired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isTeamRolesAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMinimumRoleFor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamRoleListList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#UpdateOrganizationResponseTeamRoleListItem"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseSensitiveFieldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseSafeFieldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTrustedRelaysItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "publicKey": {
          "target": "smithy.api#String"
        },
        "created": {
          "target": "smithy.api#String"
        },
        "lastModified": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTrustedRelaysList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#UpdateOrganizationResponseTrustedRelaysItem"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseDefaultCodeReviewTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemFlagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemAccessList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemAvatar": {
      "type": "structure",
      "members": {
        "avatarType": {
          "target": "smithy.api#String"
        },
        "avatarUuid": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemExternalTeamsItem": {
      "type": "structure",
      "members": {
        "externalId": {
          "target": "smithy.api#String"
        },
        "userId": {
          "target": "smithy.api#String"
        },
        "teamId": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "externalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemExternalTeamsList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemExternalTeamsItem"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationExtraOptionsValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationExtraOptionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationExtraOptionsValueMap"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationAccessList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationOnboardingTasksItem": {
      "type": "structure",
      "members": {
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "completionSeen": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dateCompleted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationOnboardingTasksList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationOnboardingTasksItem"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationStatus": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationAvatar": {
      "type": "structure",
      "members": {
        "avatarType": {
          "target": "smithy.api#String"
        },
        "avatarUuid": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationLinks": {
      "type": "structure",
      "members": {
        "organizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "regionUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganization": {
      "type": "structure",
      "members": {
        "features": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationFeaturesList"
        },
        "extraOptions": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationExtraOptionsMap"
        },
        "access": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationAccessList"
        },
        "onboardingTasks": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationOnboardingTasksList"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dateCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isEarlyAdopter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "require2FA": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationAvatar",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganizationLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasAuthProvider": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowMemberInvite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowMemberProjectCreation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowSuperuserAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemProjectsItemFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemProjectsItemAccessList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemProjectsItemAvatar": {
      "type": "structure",
      "members": {
        "avatarType": {
          "target": "smithy.api#String"
        },
        "avatarUuid": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemProjectsItem": {
      "type": "structure",
      "members": {
        "stats": {
          "target": "smithy.api#Document"
        },
        "transactionStats": {
          "target": "smithy.api#Document"
        },
        "sessionStats": {
          "target": "smithy.api#Document"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dateCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isBookmarked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMember": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "features": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemProjectsItemFeaturesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "firstEvent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "firstTransactionEvent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "access": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemProjectsItemAccessList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasFeedbacks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasFlags": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasMinifiedStackTrace": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasMonitors": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasNewFeedbacks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasProfiles": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasReplays": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasSessions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsHttp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsDb": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsAssets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsAppStart": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsScreenLoad": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsVitals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsCaches": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsQueues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsAgentMonitoring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsMCP": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasLogs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasTraceMetrics": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isInternal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPublic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemProjectsItemAvatar",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItemProjectsList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemProjectsItem"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dateCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "isMember": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teamRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "flags": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemFlagsMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "access": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemAccessList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPending": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "memberCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemAvatar",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "externalTeams": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemExternalTeamsList"
        },
        "organization": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemOrganization"
        },
        "projects": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsItemProjectsList"
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseTeamsList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#UpdateOrganizationResponseTeamsItem"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseProjectsItemLatestDeploysValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseProjectsItemLatestDeploysMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.sentry.api#UpdateOrganizationResponseProjectsItemLatestDeploysValueMap"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseProjectsItemOptionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseProjectsItemFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseProjectsItemAccessList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseProjectsItemTeam": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseProjectsItemTeamsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseProjectsItemTeamsList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#UpdateOrganizationResponseProjectsItemTeamsItem"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseProjectsItemPlatformsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseProjectsItemEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseProjectsItemLatestRelease": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseProjectsItem": {
      "type": "structure",
      "members": {
        "latestDeploys": {
          "target": "com.sentry.api#UpdateOrganizationResponseProjectsItemLatestDeploysMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "options": {
          "target": "com.sentry.api#UpdateOrganizationResponseProjectsItemOptionsMap"
        },
        "stats": {
          "target": "smithy.api#Document"
        },
        "transactionStats": {
          "target": "smithy.api#Document"
        },
        "sessionStats": {
          "target": "smithy.api#Document"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dateCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isBookmarked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMember": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "features": {
          "target": "com.sentry.api#UpdateOrganizationResponseProjectsItemFeaturesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "firstEvent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "firstTransactionEvent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "access": {
          "target": "com.sentry.api#UpdateOrganizationResponseProjectsItemAccessList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasFeedbacks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasFlags": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasMinifiedStackTrace": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasMonitors": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasNewFeedbacks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasProfiles": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasReplays": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasSessions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsHttp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsDb": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsAssets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsAppStart": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsScreenLoad": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsVitals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsCaches": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsQueues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsAgentMonitoring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasInsightsMCP": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasLogs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasTraceMetrics": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "team": {
          "target": "com.sentry.api#UpdateOrganizationResponseProjectsItemTeam",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "teams": {
          "target": "com.sentry.api#UpdateOrganizationResponseProjectsItemTeamsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "platforms": {
          "target": "com.sentry.api#UpdateOrganizationResponseProjectsItemPlatformsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasUserReports": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environments": {
          "target": "com.sentry.api#UpdateOrganizationResponseProjectsItemEnvironmentsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "latestRelease": {
          "target": "com.sentry.api#UpdateOrganizationResponseProjectsItemLatestRelease",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponseProjectsList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#UpdateOrganizationResponseProjectsItem"
      },
      "traits": {}
    },
    "com.sentry.api#UpdateOrganizationResponse": {
      "type": "structure",
      "members": {
        "features": {
          "target": "com.sentry.api#UpdateOrganizationResponseFeaturesList"
        },
        "extraOptions": {
          "target": "com.sentry.api#UpdateOrganizationResponseExtraOptionsMap"
        },
        "access": {
          "target": "com.sentry.api#UpdateOrganizationResponseAccessList"
        },
        "onboardingTasks": {
          "target": "com.sentry.api#UpdateOrganizationResponseOnboardingTasksList"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.sentry.api#UpdateOrganizationResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dateCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isEarlyAdopter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "require2FA": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar": {
          "target": "com.sentry.api#UpdateOrganizationResponseAvatar",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.sentry.api#UpdateOrganizationResponseLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasAuthProvider": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowMemberInvite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowMemberProjectCreation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowSuperuserAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "smithy.api#Document"
        },
        "orgRole": {
          "target": "smithy.api#String"
        },
        "targetSampleRate": {
          "target": "smithy.api#Double"
        },
        "samplingMode": {
          "target": "smithy.api#String"
        },
        "planSampleRate": {
          "target": "smithy.api#Double"
        },
        "desiredSampleRate": {
          "target": "smithy.api#Double"
        },
        "experiments": {
          "target": "com.sentry.api#UpdateOrganizationResponseExperimentsMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "orgRoleList": {
          "target": "com.sentry.api#UpdateOrganizationResponseOrgRoleListList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teamRoleList": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamRoleListList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "openMembership": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowSharedIssues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enhancedPrivacy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dataScrubber": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dataScrubberDefaults": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sensitiveFields": {
          "target": "com.sentry.api#UpdateOrganizationResponseSensitiveFieldsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safeFields": {
          "target": "com.sentry.api#UpdateOrganizationResponseSafeFieldsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storeCrashReports": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attachmentsRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "debugFilesRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "eventsMemberAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alertsMemberWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scrubIPAddresses": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scrapeJavaScript": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowJoinRequests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "relayPiiConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "relayDsnEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "trustedRelays": {
          "target": "com.sentry.api#UpdateOrganizationResponseTrustedRelaysList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pendingAccessRequests": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hideAiFeatures": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aggregatedDataConsent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDynamicallySampled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issueAlertsThreadFlag": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metricAlertsThreadFlag": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requiresSso": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultAutofixAutomationTuning": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultSeerScannerAutomation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enableSeerCoding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultCodingAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultCodingAgentIntegrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "defaultAutomatedRunStoppingPoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "autoEnableCodeReview": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "autoOpenPrs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultCodeReviewTriggers": {
          "target": "com.sentry.api#UpdateOrganizationResponseDefaultCodeReviewTriggersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teams": {
          "target": "com.sentry.api#UpdateOrganizationResponseTeamsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projects": {
          "target": "com.sentry.api#UpdateOrganizationResponseProjectsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.sentry.api#UpdateOrganization": {
      "type": "operation",
      "input": {
        "target": "com.sentry.api#UpdateOrganizationRequest"
      },
      "output": {
        "target": "com.sentry.api#UpdateOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.sentry.api#BadRequest"
        },
        {
          "target": "com.sentry.api#Forbidden"
        },
        {
          "target": "com.sentry.api#NotFound"
        },
        {
          "target": "com.sentry.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/0/organizations/{organization_id_or_slug}/",
          "code": 200
        },
        "smithy.api#documentation": "Update an Organization\n\nUpdate various attributes and configurable settings for the given organization."
      }
    },
    "com.sentry.api#GetOrganizationConfigIntegrationsRequest": {
      "type": "structure",
      "members": {
        "organization_id_or_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID or slug of the organization the resource belongs to."
          }
        },
        "providerKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "providerKey",
            "smithy.api#documentation": "Specific integration provider to filter by such as `slack`. See our [Integrations Documentation](/product/integrations/) for an updated list of providers."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.sentry.api#GetOrganizationConfigIntegrationsResponseProvidersItemFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.sentry.api#GetOrganizationConfigIntegrationsResponseProvidersItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "canAdd": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "canDisable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "features": {
          "target": "com.sentry.api#GetOrganizationConfigIntegrationsResponseProvidersItemFeaturesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#GetOrganizationConfigIntegrationsResponseProvidersList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#GetOrganizationConfigIntegrationsResponseProvidersItem"
      },
      "traits": {}
    },
    "com.sentry.api#GetOrganizationConfigIntegrationsResponse": {
      "type": "structure",
      "members": {
        "providers": {
          "target": "com.sentry.api#GetOrganizationConfigIntegrationsResponseProvidersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.sentry.api#GetOrganizationConfigIntegrations": {
      "type": "operation",
      "input": {
        "target": "com.sentry.api#GetOrganizationConfigIntegrationsRequest"
      },
      "output": {
        "target": "com.sentry.api#GetOrganizationConfigIntegrationsResponse"
      },
      "errors": [
        {
          "target": "com.sentry.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/0/organizations/{organization_id_or_slug}/config/integrations/",
          "code": 200
        },
        "smithy.api#documentation": "Get Integration Provider Information\n\nGet integration provider information about all available integrations for an organization."
      }
    },
    "com.sentry.api#ListOrganizationDashboardsRequestFilterItem": {
      "type": "enum",
      "members": {
        "EXCLUDEFAVORITES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "excludeFavorites"
          }
        },
        "EXCLUDEPREBUILT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "excludePrebuilt"
          }
        },
        "ONLYFAVORITES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "onlyFavorites"
          }
        },
        "ONLYPREBUILT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "onlyPrebuilt"
          }
        },
        "OWNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owned"
          }
        },
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shared"
          }
        },
        "SHOWHIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "showHidden"
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationDashboardsRequestFilterList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#ListOrganizationDashboardsRequestFilterItem"
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationDashboardsRequestPin": {
      "type": "enum",
      "members": {
        "FAVORITES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "favorites"
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationDashboardsRequest": {
      "type": "structure",
      "members": {
        "organization_id_or_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID or slug of the organization the resource belongs to."
          }
        },
        "filter": {
          "target": "com.sentry.api#ListOrganizationDashboardsRequestFilterList",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "Filter the dashboards returned. Repeat this parameter to apply multiple filters."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "query",
            "smithy.api#documentation": "Filter dashboards by title."
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "The property to sort results by. Prefix the value with `-` to sort in descending order.\n\nAvailable fields are:\n- `title`\n- `dateCreated`\n- `mostPopular`\n- `recentlyViewed`\n- `mydashboards`\n- `myDashboardsAndRecentlyViewed`\n"
          }
        },
        "pin": {
          "target": "com.sentry.api#ListOrganizationDashboardsRequestPin",
          "traits": {
            "smithy.api#httpQuery": "pin",
            "smithy.api#documentation": "Pin favorited dashboards to the top of the results."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Limit the number of rows to return in the result. Default and maximum allowed is 100."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "A pointer to the last object fetched and its sort order; used to retrieve the next or previous results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByIdentitiesItemOrganization": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByIdentitiesItemProvider": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByIdentitiesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organization": {
          "target": "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByIdentitiesItemOrganization",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByIdentitiesItemProvider",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dateVerified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dateSynced": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByIdentitiesList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByIdentitiesItem"
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByAvatar": {
      "type": "structure",
      "members": {
        "avatarType": {
          "target": "smithy.api#String"
        },
        "avatarUuid": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByAuthenticatorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByExperimentsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByEmailsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByEmailsList": {
      "type": "list",
      "member": {
        "target": "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByEmailsItem"
      },
      "traits": {}
    },
    "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedBy": {
      "type": "structure",
      "members": {
        "identities": {
          "target": "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByIdentitiesList"
        },
        "avatar": {
          "target": "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByAvatar"
        },
        "authenticators": {
          "target": "com.sentry.api#ListOrganizationDashboardsResponseBodyItemCreatedByAuthenticatorsList"
        },
        "canReset2fa": {
          "target": "smithy.api#Boolean"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isActive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isSuspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasPasswordAuth": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isManaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dateJoined": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastLogin": {
          "target": "smithy.api#String",
          "traits": {
[...]
