{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.workos.api#ApiKeysControllerValidateApiKeyRequest": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value for an API key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#ApiKeyValidationResponse": {
      "type": "structure",
      "members": {
        "api_key": {
          "target": "com.workos.api#ApiKey",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#ApiKey": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the API Key object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the API Key."
          }
        },
        "owner": {
          "target": "com.workos.api#ApiKeyOwner",
          "traits": {
            "smithy.api#documentation": "The entity that owns the API Key."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A descriptive name for the API Key."
          }
        },
        "obfuscated_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An obfuscated representation of the API Key value."
          }
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the API Key was last used.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the API Key expires. Null means the key does not expire.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "permissions": {
          "target": "com.workos.api#ApiKeyPermissionsList",
          "traits": {
            "smithy.api#documentation": "The permission slugs assigned to the API Key."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#ApiKeyOwnerCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the API Key owner.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the API Key owner.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#ApiKeyOwnerCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the API Key owner.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the API Key owner.",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the organization the API Key can access.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#ApiKeyOwner": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.workos.api#ApiKeyOwnerCase0"
        },
        "Case1": {
          "target": "com.workos.api#ApiKeyOwnerCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The entity that owns the API Key."
      }
    },
    "com.workos.api#ApiKeyPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The permission slugs assigned to the API Key."
      }
    },
    "com.workos.api#ApiKeysControllerValidateApiKey": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#ApiKeysControllerValidateApiKeyRequest"
      },
      "output": {
        "target": "com.workos.api#ApiKeyValidationResponse"
      },
      "errors": [
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api_keys/validations",
          "code": 200
        },
        "smithy.api#documentation": "Validate API key\n\nValidate an API key value and return the API key object if valid."
      }
    },
    "com.workos.api#ApiKeysControllerDeleteRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the API key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#ApiKeysControllerDelete": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#ApiKeysControllerDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api_keys/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an API key\n\nPermanently deletes an API key. This action cannot be undone. Once deleted, any requests using this API key will fail authentication."
      }
    },
    "com.workos.api#ApiKeysControllerExpireRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the API key."
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the API key should expire. If omitted or in the past, the key expires immediately. Use null to clear a scheduled future expiration.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#ApiKeysControllerExpire": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#ApiKeysControllerExpireRequest"
      },
      "output": {
        "target": "com.workos.api#ApiKey"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        },
        {
          "target": "com.workos.api#Conflict"
        },
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api_keys/{id}/expire",
          "code": 200
        },
        "smithy.api#documentation": "Expire an API key\n\nExpire an API key immediately, schedule a future expiration, or clear a scheduled future expiration."
      }
    },
    "com.workos.api#PaginationOrder": {
      "type": "enum",
      "members": {
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "normal"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        },
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuditLogValidatorsControllerListRequest": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Upper limit on the number of objects to return, between `1` and `100`."
          }
        },
        "order": {
          "target": "com.workos.api#PaginationOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Order the results by the creation time."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuditLogValidatorsControllerListResponseListMetadata": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the start of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination cursors for navigating between pages of results."
      }
    },
    "com.workos.api#AuditLogActionJson": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the Audit Log Action object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of what action was taken."
          }
        },
        "schema": {
          "target": "com.workos.api#AuditLogSchemaJson",
          "traits": {
            "smithy.api#documentation": "The schema associated with the action."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuditLogSchemaJson": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the Audit Log Schema object."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The version of the schema."
          }
        },
        "actor": {
          "target": "com.workos.api#AuditLogSchemaJsonActor",
          "traits": {
            "smithy.api#documentation": "The metadata schema for the actor."
          }
        },
        "targets": {
          "target": "com.workos.api#AuditLogSchemaJsonTargetsList",
          "traits": {
            "smithy.api#documentation": "The list of targets for the schema."
          }
        },
        "metadata": {
          "target": "com.workos.api#AuditLogSchemaJsonMetadataMap",
          "traits": {
            "smithy.api#documentation": "Additional data associated with the event or entity."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the Audit Log Schema was created."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuditLogSchemaJsonActorMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The JSON Schema definition for actor metadata."
      }
    },
    "com.workos.api#AuditLogSchemaJsonActor": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.workos.api#AuditLogSchemaJsonActorMetadataMap",
          "traits": {
            "smithy.api#documentation": "The JSON Schema definition for actor metadata.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata schema for the actor."
      }
    },
    "com.workos.api#AuditLogSchemaJsonTargetsItemMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Additional data associated with the event or entity."
      }
    },
    "com.workos.api#AuditLogSchemaJsonTargetsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the target resource.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.workos.api#AuditLogSchemaJsonTargetsItemMetadataMap",
          "traits": {
            "smithy.api#documentation": "Additional data associated with the event or entity."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuditLogSchemaJsonTargetsList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#AuditLogSchemaJsonTargetsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of targets for the schema."
      }
    },
    "com.workos.api#AuditLogSchemaJsonMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Additional data associated with the event or entity."
      }
    },
    "com.workos.api#AuditLogValidatorsControllerListResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#AuditLogActionJson"
      },
      "traits": {
        "smithy.api#documentation": "The list of records for the current page."
      }
    },
    "com.workos.api#AuditLogValidatorsControllerListResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates this is a list response."
          }
        },
        "list_metadata": {
          "target": "com.workos.api#AuditLogValidatorsControllerListResponseListMetadata",
          "traits": {
            "smithy.api#documentation": "Pagination cursors for navigating between pages of results."
          }
        },
        "data": {
          "target": "com.workos.api#AuditLogValidatorsControllerListResponseDataList",
          "traits": {
            "smithy.api#documentation": "The list of records for the current page."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.workos.api#AuditLogValidatorsControllerList": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuditLogValidatorsControllerListRequest"
      },
      "output": {
        "target": "com.workos.api#AuditLogValidatorsControllerListResponse"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        },
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/audit_logs/actions",
          "code": 200
        },
        "smithy.api#documentation": "List Actions\n\nGet a list of all Audit Log actions in the current environment."
      }
    },
    "com.workos.api#AuditLogValidatorVersionsControllerSchemasRequest": {
      "type": "structure",
      "members": {
        "actionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Audit Log action."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Upper limit on the number of objects to return, between `1` and `100`."
          }
        },
        "order": {
          "target": "com.workos.api#PaginationOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Order the results by the creation time."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuditLogValidatorVersionsControllerSchemasResponseListMetadata": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the start of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination cursors for navigating between pages of results."
      }
    },
    "com.workos.api#AuditLogValidatorVersionsControllerSchemasResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#AuditLogSchemaJson"
      },
      "traits": {
        "smithy.api#documentation": "The list of records for the current page."
      }
    },
    "com.workos.api#AuditLogValidatorVersionsControllerSchemasResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates this is a list response."
          }
        },
        "list_metadata": {
          "target": "com.workos.api#AuditLogValidatorVersionsControllerSchemasResponseListMetadata",
          "traits": {
            "smithy.api#documentation": "Pagination cursors for navigating between pages of results."
          }
        },
        "data": {
          "target": "com.workos.api#AuditLogValidatorVersionsControllerSchemasResponseDataList",
          "traits": {
            "smithy.api#documentation": "The list of records for the current page."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.workos.api#AuditLogValidatorVersionsControllerSchemas": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuditLogValidatorVersionsControllerSchemasRequest"
      },
      "output": {
        "target": "com.workos.api#AuditLogValidatorVersionsControllerSchemasResponse"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        },
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/audit_logs/actions/{actionName}/schemas",
          "code": 200
        },
        "smithy.api#documentation": "List Schemas\n\nGet a list of all schemas for the Audit Logs action identified by `:name`."
      }
    },
    "com.workos.api#AuditLogSchemaActorDto": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "JSON schema for actor metadata."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuditLogSchemaTargetDto": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the target resource."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional JSON schema for target metadata."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuditLogValidatorVersionsControllerCreateRequestTargetsList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#AuditLogSchemaTargetDto"
      },
      "traits": {
        "smithy.api#documentation": "The list of targets for the schema."
      }
    },
    "com.workos.api#AuditLogValidatorVersionsControllerCreateRequest": {
      "type": "structure",
      "members": {
        "actionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Audit Log action."
          }
        },
        "actor": {
          "target": "com.workos.api#AuditLogSchemaActorDto",
          "traits": {
            "smithy.api#documentation": "The metadata schema for the actor."
          }
        },
        "targets": {
          "target": "com.workos.api#AuditLogValidatorVersionsControllerCreateRequestTargetsList",
          "traits": {
            "smithy.api#documentation": "The list of targets for the schema."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional JSON schema for event metadata."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuditLogValidatorVersionsControllerCreate": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuditLogValidatorVersionsControllerCreateRequest"
      },
      "output": {
        "target": "com.workos.api#AuditLogSchemaJson"
      },
      "errors": [
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/audit_logs/actions/{actionName}/schemas",
          "code": 200
        },
        "smithy.api#documentation": "Create Schema\n\nCreates a new Audit Log schema used to validate the payload of incoming Audit Log Events. If the `action` does not exist, it will also be created."
      }
    },
    "com.workos.api#AuditLogEventDto": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of what happened."
          }
        },
        "occurred_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 value of when the action occurred."
          }
        },
        "actor": {
          "target": "com.workos.api#AuditLogEventActorDto",
          "traits": {
            "smithy.api#documentation": "The entity that performed the action."
          }
        },
        "targets": {
          "target": "com.workos.api#AuditLogEventDtoTargetsList",
          "traits": {
            "smithy.api#documentation": "The resources affected by the action."
          }
        },
        "context": {
          "target": "com.workos.api#AuditLogEventContextDto",
          "traits": {
            "smithy.api#documentation": "Additional context about where and how the action occurred."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Additional data associated with the event or entity."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "What schema version the event is associated with."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuditLogEventActorDto": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Actor identifier."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Actor type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional actor name."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Additional data associated with the event or entity."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuditLogEventTargetDto": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target identifier."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional target name."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Additional data associated with the event or entity."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuditLogEventDtoTargetsList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#AuditLogEventTargetDto"
      },
      "traits": {
        "smithy.api#documentation": "The resources affected by the action."
      }
    },
    "com.workos.api#AuditLogEventContextDto": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Address or some other geolocation identifier."
          }
        },
        "user_agent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User agent string."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuditLogEventsControllerCreateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the Organization."
          }
        },
        "event": {
          "target": "com.workos.api#AuditLogEventDto",
          "traits": {
            "smithy.api#documentation": "The audit log event to create."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuditLogEventCreateResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Audit Log event was created successfully."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuditLogEventsControllerCreate": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuditLogEventsControllerCreateRequest"
      },
      "output": {
        "target": "com.workos.api#AuditLogEventCreateResponse"
      },
      "errors": [
        {
          "target": "com.workos.api#BadRequest"
        },
        {
          "target": "com.workos.api#NotFound"
        },
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/audit_logs/events",
          "code": 200
        },
        "smithy.api#documentation": "Create Event\n\nCreate an Audit Log Event.\n\nThis API supports idempotency which guarantees that performing the same operation multiple times will have the same result as if the operation were performed only once. This is handy in situations where you may need to retry a request due to a failure or prevent accidental duplicate requests from creating more than one resource.\n\nTo achieve idempotency, you can add `Idempotency-Key` request header to a Create Event request with a unique string as the value. Each subsequent request matching this unique string will return the same response. We suggest using [v4 UUIDs](https://en.wikipedia.org/wiki/Universally_unique_identifier) for idempotency keys to avoid collisions.\n\nIdempotency keys expire after 24 hours. The API will generate a new response if you submit a request with an expired key."
      }
    },
    "com.workos.api#AuditLogExportsControllerExportsRequestActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of actions to filter against."
      }
    },
    "com.workos.api#AuditLogExportsControllerExportsRequestActorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. Use `actor_names` instead."
      }
    },
    "com.workos.api#AuditLogExportsControllerExportsRequestActorNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of actor names to filter against."
      }
    },
    "com.workos.api#AuditLogExportsControllerExportsRequestActorIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of actor IDs to filter against."
      }
    },
    "com.workos.api#AuditLogExportsControllerExportsRequestTargetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of target types to filter against."
      }
    },
    "com.workos.api#AuditLogExportsControllerExportsRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the Organization."
          }
        },
        "range_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 value for start of the export range."
          }
        },
        "range_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 value for end of the export range."
          }
        },
        "actions": {
          "target": "com.workos.api#AuditLogExportsControllerExportsRequestActionsList",
          "traits": {
            "smithy.api#documentation": "List of actions to filter against."
          }
        },
        "actors": {
          "target": "com.workos.api#AuditLogExportsControllerExportsRequestActorsList",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use `actor_names` instead."
          }
        },
        "actor_names": {
          "target": "com.workos.api#AuditLogExportsControllerExportsRequestActorNamesList",
          "traits": {
            "smithy.api#documentation": "List of actor names to filter against."
          }
        },
        "actor_ids": {
          "target": "com.workos.api#AuditLogExportsControllerExportsRequestActorIdsList",
          "traits": {
            "smithy.api#documentation": "List of actor IDs to filter against."
          }
        },
        "targets": {
          "target": "com.workos.api#AuditLogExportsControllerExportsRequestTargetsList",
          "traits": {
            "smithy.api#documentation": "List of target types to filter against."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuditLogExportJson": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the Audit Log Export object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the Audit Log Export."
          }
        },
        "state": {
          "target": "com.workos.api#AuditLogExportJsonState",
          "traits": {
            "smithy.api#documentation": "The state of the export. Possible values: pending, ready, error, expired."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL to the CSV file. Only defined when the Audit Log Export is ready.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuditLogExportJsonState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the export. Possible values: pending, ready, error, expired."
      }
    },
    "com.workos.api#AuditLogExportsControllerExports": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuditLogExportsControllerExportsRequest"
      },
      "output": {
        "target": "com.workos.api#AuditLogExportJson"
      },
      "errors": [
        {
          "target": "com.workos.api#BadRequest"
        },
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/audit_logs/exports",
          "code": 200
        },
        "smithy.api#documentation": "Create Export\n\nCreate an Audit Log Export. Exports are scoped to a single organization within a specified date range."
      }
    },
    "com.workos.api#AuditLogExportsControllerExportRequest": {
      "type": "structure",
      "members": {
        "auditLogExportId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the Audit Log Export."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuditLogExportsControllerExport": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuditLogExportsControllerExportRequest"
      },
      "output": {
        "target": "com.workos.api#AuditLogExportJson"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/audit_logs/exports/{auditLogExportId}",
          "code": 200
        },
        "smithy.api#documentation": "Get Export\n\nGet an Audit Log Export. The URL will expire after 10 minutes. If the export is needed again at a later time, refetching the export will regenerate the URL."
      }
    },
    "com.workos.api#AuthenticationChallengesControllerVerifyRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the Authentication Challenge."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The one-time code to verify.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuthenticationChallengeVerifyResponse": {
      "type": "structure",
      "members": {
        "challenge": {
          "target": "com.workos.api#AuthenticationChallenge",
          "traits": {
            "smithy.api#documentation": "The authentication challenge object."
          }
        },
        "valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the code was valid."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuthenticationChallenge": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the authentication challenge object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the authentication challenge."
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the challenge will expire. Does not apply to TOTP factors."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The one-time code for the challenge."
          }
        },
        "authentication_factor_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the authentication factor the challenge belongs to."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuthenticationChallengesControllerVerify": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuthenticationChallengesControllerVerifyRequest"
      },
      "output": {
        "target": "com.workos.api#AuthenticationChallengeVerifyResponse"
      },
      "errors": [
        {
          "target": "com.workos.api#BadRequest"
        },
        {
          "target": "com.workos.api#NotFound"
        },
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/auth/challenges/{id}/verify",
          "code": 200
        },
        "smithy.api#documentation": "Verify Challenge\n\nVerifies an Authentication Challenge."
      }
    },
    "com.workos.api#AuthenticationFactorsControllerCreateRequestType": {
      "type": "enum",
      "members": {
        "GENERIC_OTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generic_otp"
          }
        },
        "SMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sms"
          }
        },
        "TOTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "totp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of factor to enroll."
      }
    },
    "com.workos.api#AuthenticationFactorsControllerCreateRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.workos.api#AuthenticationFactorsControllerCreateRequestType",
          "traits": {
            "smithy.api#documentation": "The type of factor to enroll.",
            "smithy.api#required": {}
          }
        },
        "phone_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required when type is 'sms'."
          }
        },
        "totp_issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required when type is 'totp'."
          }
        },
        "totp_user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required when type is 'totp'."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user to associate the factor with."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuthenticationFactorEnrolled": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the authentication factor object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the factor."
          }
        },
        "type": {
          "target": "com.workos.api#AuthenticationFactorEnrolledType",
          "traits": {
            "smithy.api#documentation": "The type of the factor to enroll."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the [user](/reference/authkit/user)."
          }
        },
        "sms": {
          "target": "com.workos.api#AuthenticationFactorEnrolledSms",
          "traits": {
            "smithy.api#documentation": "SMS-based authentication factor details."
          }
        },
        "totp": {
          "target": "com.workos.api#AuthenticationFactorEnrolledTotp",
          "traits": {
            "smithy.api#documentation": "TOTP-based authentication factor details. Includes enrollment secrets only available at creation time."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuthenticationFactorEnrolledType": {
      "type": "enum",
      "members": {
        "GENERIC_OTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generic_otp"
          }
        },
        "SMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sms"
          }
        },
        "TOTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "totp"
          }
        },
        "WEBAUTHN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webauthn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the factor to enroll."
      }
    },
    "com.workos.api#AuthenticationFactorEnrolledSms": {
      "type": "structure",
      "members": {
        "phone_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's phone number for SMS-based authentication.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SMS-based authentication factor details."
      }
    },
    "com.workos.api#AuthenticationFactorEnrolledTotp": {
      "type": "structure",
      "members": {
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your application or company name displayed in the user's authenticator app. Defaults to your WorkOS team name.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's account name displayed in their authenticator app. Defaults to the user's email.",
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TOTP secret that can be manually entered into some authenticator apps in place of scanning a QR code.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "qr_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64 encoded image containing scannable QR code.",
            "smithy.api#required": {}
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `otpauth` URI that is encoded by the provided `qr_code`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TOTP-based authentication factor details. Includes enrollment secrets only available at creation time."
      }
    },
    "com.workos.api#AuthenticationFactorsControllerCreate": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuthenticationFactorsControllerCreateRequest"
      },
      "output": {
        "target": "com.workos.api#AuthenticationFactorEnrolled"
      },
      "errors": [
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/auth/factors/enroll",
          "code": 200
        },
        "smithy.api#documentation": "Enroll Factor\n\nEnrolls an Authentication Factor to be used as an additional factor of authentication. The returned ID should be used to create an authentication Challenge."
      }
    },
    "com.workos.api#AuthenticationFactorsControllerGetRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the Factor."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuthenticationFactor": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the authentication factor object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the factor."
          }
        },
        "type": {
          "target": "com.workos.api#AuthenticationFactorType",
          "traits": {
            "smithy.api#documentation": "The type of the factor to enroll."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the [user](/reference/authkit/user)."
          }
        },
        "sms": {
          "target": "com.workos.api#AuthenticationFactorSms",
          "traits": {
            "smithy.api#documentation": "SMS-based authentication factor details."
          }
        },
        "totp": {
          "target": "com.workos.api#AuthenticationFactorTotp",
          "traits": {
            "smithy.api#documentation": "TOTP-based authentication factor details."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuthenticationFactorType": {
      "type": "enum",
      "members": {
        "GENERIC_OTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generic_otp"
          }
        },
        "SMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sms"
          }
        },
        "TOTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "totp"
          }
        },
        "WEBAUTHN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webauthn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the factor to enroll."
      }
    },
    "com.workos.api#AuthenticationFactorSms": {
      "type": "structure",
      "members": {
        "phone_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's phone number for SMS-based authentication.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SMS-based authentication factor details."
      }
    },
    "com.workos.api#AuthenticationFactorTotp": {
      "type": "structure",
      "members": {
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your application or company name displayed in the user's authenticator app. Defaults to your WorkOS team name.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's account name displayed in their authenticator app. Defaults to the user's email.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TOTP-based authentication factor details."
      }
    },
    "com.workos.api#AuthenticationFactorsControllerGet": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuthenticationFactorsControllerGetRequest"
      },
      "output": {
        "target": "com.workos.api#AuthenticationFactor"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/auth/factors/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get Factor\n\nGets an Authentication Factor."
      }
    },
    "com.workos.api#AuthenticationFactorsControllerDeleteRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the Factor."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuthenticationFactorsControllerDelete": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuthenticationFactorsControllerDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/auth/factors/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Factor\n\nPermanently deletes an Authentication Factor. It cannot be undone."
      }
    },
    "com.workos.api#AuthenticationFactorsControllerChallengeRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID of the Authentication Factor to be challenged."
          }
        },
        "sms_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A custom template for the SMS message. Use the {{code}} placeholder to include the verification code."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuthenticationFactorsControllerChallenge": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuthenticationFactorsControllerChallengeRequest"
      },
      "output": {
        "target": "com.workos.api#AuthenticationChallenge"
      },
      "errors": [
        {
          "target": "com.workos.api#NotFound"
        },
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/auth/factors/{id}/challenge",
          "code": 200
        },
        "smithy.api#documentation": "Challenge Factor\n\nCreates a Challenge for an Authentication Factor."
      }
    },
    "com.workos.api#UserObject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your application's user identifier, which will be stored as an [`external_id`](/authkit/metadata/external-identifiers). Used for upserting and deduplication."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's email address."
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's first name."
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's last name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's full name."
          }
        },
        "metadata": {
          "target": "com.workos.api#UserObjectMetadataMap",
          "traits": {
            "smithy.api#documentation": "A set of key-value pairs to attach to the user."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#UserObjectMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A set of key-value pairs to attach to the user."
      }
    },
    "com.workos.api#UserConsentOption": {
      "type": "structure",
      "members": {
        "claim": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The claim name for this consent option."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of consent option."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable label for this consent option."
          }
        },
        "choices": {
          "target": "com.workos.api#UserConsentOptionChoicesList",
          "traits": {
            "smithy.api#documentation": "The available choices for this consent option."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#UserConsentOptionChoicesItem": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of this choice."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable label for this choice."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#UserConsentOptionChoicesList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#UserConsentOptionChoicesItem"
      },
      "traits": {
        "smithy.api#documentation": "The available choices for this consent option."
      }
    },
    "com.workos.api#ExternalAuthControllerCompleteLoginRequestUserConsentOptionsList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#UserConsentOption"
      },
      "traits": {
        "smithy.api#documentation": "Array of [User Consent Options](/reference/workos-connect/standalone/user-consent-options) to store with the session."
      }
    },
    "com.workos.api#ExternalAuthControllerCompleteLoginRequest": {
      "type": "structure",
      "members": {
        "external_auth_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier provided when AuthKit redirected to your login page."
          }
        },
        "user": {
          "target": "com.workos.api#UserObject",
          "traits": {
            "smithy.api#documentation": "The user to create or update in AuthKit."
          }
        },
        "user_consent_options": {
          "target": "com.workos.api#ExternalAuthControllerCompleteLoginRequestUserConsentOptionsList",
          "traits": {
            "smithy.api#documentation": "Array of [User Consent Options](/reference/workos-connect/standalone/user-consent-options) to store with the session."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#ExternalAuthCompleteResponse": {
      "type": "structure",
      "members": {
        "redirect_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI to redirect the user back to AuthKit to complete the OAuth flow."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#ExternalAuthControllerCompleteLogin": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#ExternalAuthControllerCompleteLoginRequest"
      },
      "output": {
        "target": "com.workos.api#ExternalAuthCompleteResponse"
      },
      "errors": [
        {
          "target": "com.workos.api#BadRequest"
        },
        {
          "target": "com.workos.api#NotFound"
        },
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/authkit/oauth2/complete",
          "code": 200
        },
        "smithy.api#documentation": "Complete external authentication\n\nCompletes an external authentication flow and returns control to AuthKit. This endpoint is used with [Standalone Connect](/authkit/connect/standalone) to bridge your existing authentication system with the Connect OAuth API infrastructure.\n\nAfter successfully authenticating a user in your application, calling this endpoint will:\n\n- Create or update the user in AuthKit, using the given `id` as its `external_id`.\n- Return a `redirect_uri` your application should redirect to in order for AuthKit to complete the flow\n\nUsers are automatically created or updated based on the `id` and `email` provided. If a user with the same `id` exists, their information is updated. Otherwise, a new user is created.\n\nIf you provide a new `id` with an `email` that already belongs to an existing user, the request will fail with an error as email addresses are unique to a user."
      }
    },
    "com.workos.api#AuthorizationGroupRoleAssignmentsControllerListRequest": {
      "type": "structure",
      "members": {
        "group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the group."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list. For example, if you make a list request and receive 100 objects, ending with `\"obj_123\"`, your subsequent call can include `before=\"obj_123\"` to fetch a new batch of objects before `\"obj_123\"`."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list. For example, if you make a list request and receive 100 objects, ending with `\"obj_123\"`, your subsequent call can include `after=\"obj_123\"` to fetch a new batch of objects after `\"obj_123\"`."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Upper limit on the number of objects to return, between `1` and `100`."
          }
        },
        "order": {
          "target": "com.workos.api#PaginationOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Order the results by the creation time. Supported values are `\"asc\"` (ascending), `\"desc\"` (descending), and `\"normal\"` (descending with reversed cursor semantics where `before` fetches older records and `after` fetches newer records)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#GroupRoleAssignmentList": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates this is a list response.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.workos.api#GroupRoleAssignmentListDataList",
          "traits": {
            "smithy.api#documentation": "The list of records for the current page.",
            "smithy.api#required": {}
          }
        },
        "list_metadata": {
          "target": "com.workos.api#GroupRoleAssignmentListListMetadata",
          "traits": {
            "smithy.api#documentation": "Pagination cursors for navigating between pages of results.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#GroupRoleAssignment": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the group role assignment object.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the group role assignment.",
            "smithy.api#required": {}
          }
        },
        "group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the group the role is assigned to.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.workos.api#SlimRole",
          "traits": {
            "smithy.api#documentation": "The role included in the assignment.",
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "com.workos.api#GroupRoleAssignmentResource",
          "traits": {
            "smithy.api#documentation": "The resource the role is assigned on.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#SlimRole": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the assigned role."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The primary role assigned to the user."
      }
    },
    "com.workos.api#GroupRoleAssignmentResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the Resource.",
            "smithy.api#required": {}
          }
        },
        "external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier you provide to reference the resource in your system.",
            "smithy.api#required": {}
          }
        },
        "resource_type_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the resource type this resource belongs to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource the role is assigned on."
      }
    },
    "com.workos.api#GroupRoleAssignmentListDataList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#GroupRoleAssignment"
      },
      "traits": {
        "smithy.api#documentation": "The list of records for the current page."
      }
    },
    "com.workos.api#GroupRoleAssignmentListListMetadata": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the start of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination cursors for navigating between pages of results."
      }
    },
    "com.workos.api#AuthorizationGroupRoleAssignmentsControllerList": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuthorizationGroupRoleAssignmentsControllerListRequest"
      },
      "output": {
        "target": "com.workos.api#GroupRoleAssignmentList"
      },
      "errors": [
        {
          "target": "com.workos.api#Forbidden"
        },
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/authorization/groups/{group_id}/role_assignments",
          "code": 200
        },
        "smithy.api#documentation": "List role assignments for a group\n\nList all role assignments granted to a group. Each assignment represents a role granted to the group on a resource."
      }
    },
    "com.workos.api#AuthorizationGroupRoleAssignmentsControllerCreateRequest": {
      "type": "structure",
      "members": {
        "group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the group."
          }
        },
        "role_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the role to assign to the group.",
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the resource. Omit along with the external-id fields to target the organization itself."
          }
        },
        "resource_external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The external ID of the resource."
          }
        },
        "resource_type_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type slug."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuthorizationGroupRoleAssignmentsControllerCreate": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuthorizationGroupRoleAssignmentsControllerCreateRequest"
      },
      "output": {
        "target": "com.workos.api#GroupRoleAssignment"
      },
      "errors": [
        {
          "target": "com.workos.api#Forbidden"
        },
        {
          "target": "com.workos.api#NotFound"
        },
        {
          "target": "com.workos.api#Conflict"
        },
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/authorization/groups/{group_id}/role_assignments",
          "code": 200
        },
        "smithy.api#documentation": "Assign a role to a group\n\nAssign a role to a group on a specific resource."
      }
    },
    "com.workos.api#ReplaceGroupRoleAssignmentEntryDto": {
      "type": "structure",
      "members": {
        "role_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the role to assign to the group.",
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the resource. Omit along with the external-id fields to target the organization itself."
          }
        },
        "resource_external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The external ID of the resource."
          }
        },
        "resource_type_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type slug."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuthorizationGroupRoleAssignmentsControllerReplaceGroupRoleAssignmentsRequestRoleAssignmentsList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#ReplaceGroupRoleAssignmentEntryDto"
      },
      "traits": {
        "smithy.api#documentation": "The list of role assignments that should exist for the group. All existing assignments will be replaced."
      }
    },
    "com.workos.api#AuthorizationGroupRoleAssignmentsControllerReplaceGroupRoleAssignmentsRequest": {
      "type": "structure",
      "members": {
        "group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the group."
          }
        },
        "role_assignments": {
          "target": "com.workos.api#AuthorizationGroupRoleAssignmentsControllerReplaceGroupRoleAssignmentsRequestRoleAssignmentsList",
          "traits": {
            "smithy.api#documentation": "The list of role assignments that should exist for the group. All existing assignments will be replaced.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuthorizationGroupRoleAssignmentsControllerReplaceGroupRoleAssignments": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuthorizationGroupRoleAssignmentsControllerReplaceGroupRoleAssignmentsRequest"
      },
      "output": {
        "target": "com.workos.api#GroupRoleAssignmentList"
      },
      "errors": [
        {
          "target": "com.workos.api#Forbidden"
        },
        {
          "target": "com.workos.api#NotFound"
        },
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/authorization/groups/{group_id}/role_assignments",
          "code": 200
        },
        "smithy.api#documentation": "Replace all role assignments for a group\n\nReplace all role assignments for a group with the provided list. Existing assignments not in the list will be removed."
      }
    },
    "com.workos.api#AuthorizationGroupRoleAssignmentsControllerRemoveGroupRoleAssignmentsRequest": {
      "type": "structure",
      "members": {
        "group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the group."
          }
        },
        "role_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the role to remove assignments for.",
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the resource. Mutually exclusive with `resource_external_id` and `resource_type_slug`."
          }
        },
        "resource_external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The external ID of the resource."
          }
        },
        "resource_type_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type slug."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuthorizationGroupRoleAssignmentsControllerRemoveGroupRoleAssignments": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuthorizationGroupRoleAssignmentsControllerRemoveGroupRoleAssignmentsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.workos.api#Forbidden"
        },
        {
          "target": "com.workos.api#NotFound"
        },
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/authorization/groups/{group_id}/role_assignments",
          "code": 200
        },
        "smithy.api#documentation": "Remove group role assignments by criteria\n\nRemove role assignments from a group that match the provided criteria. Returns 404 when no matching active assignment is found."
      }
    },
    "com.workos.api#AuthorizationGroupRoleAssignmentsControllerGetRequest": {
      "type": "structure",
      "members": {
        "group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the group."
          }
        },
        "role_assignment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the group role assignment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuthorizationGroupRoleAssignmentsControllerGet": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuthorizationGroupRoleAssignmentsControllerGetRequest"
      },
      "output": {
        "target": "com.workos.api#GroupRoleAssignment"
      },
      "errors": [
        {
          "target": "com.workos.api#Forbidden"
        },
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/authorization/groups/{group_id}/role_assignments/{role_assignment_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a group role assignment\n\nGet a specific role assignment for a group by its ID."
      }
    },
    "com.workos.api#AuthorizationGroupRoleAssignmentsControllerRemoveGroupRoleAssignmentRequest": {
      "type": "structure",
      "members": {
        "group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the group."
          }
        },
        "role_assignment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the group role assignment to remove."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuthorizationGroupRoleAssignmentsControllerRemoveGroupRoleAssignment": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuthorizationGroupRoleAssignmentsControllerRemoveGroupRoleAssignmentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.workos.api#Forbidden"
        },
        {
          "target": "com.workos.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/authorization/groups/{group_id}/role_assignments/{role_assignment_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a group role assignment\n\nRemove a specific role assignment from a group by its ID."
      }
    },
    "com.workos.api#AuthorizationControllerCheckRequest": {
      "type": "structure",
      "members": {
        "organization_membership_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the organization membership to check."
          }
        },
        "permission_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the permission to check.",
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the resource. Mutually exclusive with `resource_external_id` and `resource_type_slug`."
          }
        },
        "resource_external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The external ID of the resource. Required with `resource_type_slug`. Mutually exclusive with `resource_id`."
          }
        },
        "resource_type_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the resource type. Required with `resource_external_id`. Mutually exclusive with `resource_id`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuthorizationCheck": {
      "type": "structure",
      "members": {
        "authorized": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the organization membership has the specified permission on the resource."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuthorizationControllerCheck": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuthorizationControllerCheckRequest"
      },
      "output": {
        "target": "com.workos.api#AuthorizationCheck"
      },
      "errors": [
        {
          "target": "com.workos.api#Forbidden"
        },
        {
          "target": "com.workos.api#NotFound"
        },
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/authorization/organization_memberships/{organization_membership_id}/check",
          "code": 200
        },
        "smithy.api#documentation": "Check authorization\n\nCheck if an organization membership has a specific permission on a resource. Supports identification by resource_id OR by resource_external_id + resource_type_slug."
      }
    },
    "com.workos.api#AuthorizationControllerListResourcesForMembershipRequest": {
      "type": "structure",
      "members": {
        "organization_membership_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the organization membership."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list. For example, if you make a list request and receive 100 objects, ending with `\"obj_123\"`, your subsequent call can include `before=\"obj_123\"` to fetch a new batch of objects before `\"obj_123\"`."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list. For example, if you make a list request and receive 100 objects, ending with `\"obj_123\"`, your subsequent call can include `after=\"obj_123\"` to fetch a new batch of objects after `\"obj_123\"`."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Upper limit on the number of objects to return, between `1` and `100`."
          }
        },
        "order": {
          "target": "com.workos.api#PaginationOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Order the results by the creation time. Supported values are `\"asc\"` (ascending), `\"desc\"` (descending), and `\"normal\"` (descending with reversed cursor semantics where `before` fetches older records and `after` fetches newer records)."
          }
        },
        "permission_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "permission_slug",
            "smithy.api#required": {},
            "smithy.api#documentation": "The permission slug to filter by. Only child resources where the organization membership has this permission are returned."
          }
        },
        "parent_resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "parent_resource_id",
            "smithy.api#documentation": "The WorkOS ID of the parent resource. Provide this or both `parent_resource_external_id` and `parent_resource_type_slug`, but not both. Mutually exclusive with `parent_resource_type_slug` and `parent_resource_external_id`."
          }
        },
        "parent_resource_type_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "parent_resource_type_slug",
            "smithy.api#documentation": "The slug of the parent resource type. Must be provided together with `parent_resource_external_id`. Required with `parent_resource_external_id`. Mutually exclusive with `parent_resource_id`."
          }
        },
        "parent_resource_external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "parent_resource_external_id",
            "smithy.api#documentation": "The application-specific external identifier of the parent resource. Must be provided together with `parent_resource_type_slug`. Required with `parent_resource_type_slug`. Mutually exclusive with `parent_resource_id`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuthorizationResourceList": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates this is a list response."
          }
        },
        "data": {
          "target": "com.workos.api#AuthorizationResourceListDataList",
          "traits": {
            "smithy.api#documentation": "The list of records for the current page."
          }
        },
        "list_metadata": {
          "target": "com.workos.api#AuthorizationResourceListListMetadata",
          "traits": {
            "smithy.api#documentation": "Pagination cursors for navigating between pages of results."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuthorizationResource": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the Resource object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable name for the Resource."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description of the Resource.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the organization that owns the resource."
          }
        },
        "parent_resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent resource, if this resource is nested.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the Resource."
          }
        },
        "external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier you provide to reference the resource in your system."
          }
        },
        "resource_type_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the resource type this resource belongs to."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuthorizationResourceListDataList": {
      "type": "list",
      "member": {
        "target": "com.workos.api#AuthorizationResource"
      },
      "traits": {
        "smithy.api#documentation": "The list of records for the current page."
      }
    },
    "com.workos.api#AuthorizationResourceListListMetadata": {
      "type": "structure",
      "members": {
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the start of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination cursors for navigating between pages of results."
      }
    },
    "com.workos.api#AuthorizationControllerListResourcesForMembership": {
      "type": "operation",
      "input": {
        "target": "com.workos.api#AuthorizationControllerListResourcesForMembershipRequest"
      },
      "output": {
        "target": "com.workos.api#AuthorizationResourceList"
      },
      "errors": [
        {
          "target": "com.workos.api#BadRequest"
        },
        {
          "target": "com.workos.api#Forbidden"
        },
        {
          "target": "com.workos.api#NotFound"
        },
        {
          "target": "com.workos.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/authorization/organization_memberships/{organization_membership_id}/resources",
          "code": 200
        },
        "smithy.api#documentation": "List resources for organization membership\n\nReturns all child resources of a parent resource where the organization membership has a specific permission. This is useful for resource discovery—answering \"What projects can this user access in this workspace?\"\n\nYou must provide either `parent_resource_id` or both `parent_resource_external_id` and `parent_resource_type_slug` to identify the parent resource."
      }
    },
    "com.workos.api#AuthorizationControllerListEffectivePermissionsRequest": {
      "type": "structure",
      "members": {
        "organization_membership_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the organization membership."
          }
        },
        "resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the authorization resource."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list. For example, if you make a list request and receive 100 objects, ending with `\"obj_123\"`, your subsequent call can include `before=\"obj_123\"` to fetch a new batch of objects before `\"obj_123\"`."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "An object ID that defines your place in the list. When the ID is not present, you are at the end of the list. For example, if you make a list request and receive 100 objects, ending with `\"obj_123\"`, your subsequent call can include `after=\"obj_123\"` to fetch a new batch of objects after `\"obj_123\"`."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Upper limit on the number of objects to return, between `1` and `100`."
          }
        },
        "order": {
          "target": "com.workos.api#PaginationOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Order the results by the creation time. Supported values are `\"asc\"` (ascending), `\"desc\"` (descending), and `\"normal\"` (descending with reversed cursor semantics where `before` fetches older records and `after` fetches newer records)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.workos.api#AuthorizationPermissionList": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates this is a list response."
          }
        },
        "data": {
          "target": "com.workos.api#AuthorizationPermissionListDataList",
          "traits": {
            "smithy.api#documentation": "The list of records for the current page."
          }
        },
        "list_metadata": {
          "target": "com.workos.api#AuthorizationPermissionListListMetadata",
          "traits": {
            "smithy.api#documentation": "Pagination cursors for navigating between pages of results."
          }
        }
      },
      "traits": {}
    },
    "com.workos.api#AuthorizationPermission": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguishes the Permission object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Permission."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique key to reference the permission. Must be lowercase and contain only letters, numbers, hyphens, underscores, colons, periods, and asterisks."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A descriptive name for the Permission."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description of the Permission.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "system": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the permission is a system permission. System permissions are managed by WorkOS and cannot be deleted."
          }
        },
        "resource_type_slug": {
          "target": "smithy.api#String",
[...]
