{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.auth0.api#ActionTriggerTypeEnum": {
      "type": "enum",
      "members": {
        "POST_LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "post-login"
          }
        },
        "CREDENTIALS_EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "credentials-exchange"
          }
        },
        "PRE_USER_REGISTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pre-user-registration"
          }
        },
        "POST_USER_REGISTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "post-user-registration"
          }
        },
        "POST_CHANGE_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "post-change-password"
          }
        },
        "SEND_PHONE_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "send-phone-message"
          }
        },
        "CUSTOM_PHONE_PROVIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-phone-provider"
          }
        },
        "CUSTOM_EMAIL_PROVIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-email-provider"
          }
        },
        "PASSWORD_RESET_POST_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "password-reset-post-challenge"
          }
        },
        "CUSTOM_TOKEN_EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-token-exchange"
          }
        },
        "EVENT_STREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event-stream"
          }
        },
        "PASSWORD_HASH_MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "password-hash-migration"
          }
        },
        "LOGIN_POST_IDENTIFIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "login-post-identifier"
          }
        },
        "SIGNUP_POST_IDENTIFIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signup-post-identifier"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An actions extensibility point."
      }
    },
    "com.auth0.api#GetActionsRequest": {
      "type": "structure",
      "members": {
        "triggerId": {
          "target": "com.auth0.api#ActionTriggerTypeEnum",
          "traits": {
            "smithy.api#httpQuery": "triggerId",
            "smithy.api#documentation": "An actions extensibility point."
          }
        },
        "actionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "actionName",
            "smithy.api#documentation": "The name of the action to retrieve."
          }
        },
        "deployed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "deployed",
            "smithy.api#documentation": "Optional filter to only retrieve actions that are deployed."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Use this field to request a specific page of the list results."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The maximum number of results to be returned by the server in single response. 20 by default"
          }
        },
        "installed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "installed",
            "smithy.api#documentation": "Optional. When true, return only installed actions. When false, return only custom actions. Returns all actions by default."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.auth0.api#ListActionsPaginatedResponseContent": {
      "type": "structure",
      "members": {
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total result count."
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page index of the results being returned. First page is 0."
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page."
          }
        },
        "actions": {
          "target": "com.auth0.api#ListActionsPaginatedResponseContentActionsList",
          "traits": {
            "smithy.api#documentation": "The list of actions."
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#Action": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the action."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of an action."
          }
        },
        "supported_triggers": {
          "target": "com.auth0.api#ActionSupportedTriggersList",
          "traits": {
            "smithy.api#documentation": "The list of triggers that this action supports. At this time, an action can only target a single trigger at a time."
          }
        },
        "all_changes_deployed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if all of an Action's contents have been deployed."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this action was created."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this action was updated."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source code of the action."
          }
        },
        "dependencies": {
          "target": "com.auth0.api#ActionDependenciesList",
          "traits": {
            "smithy.api#documentation": "The list of third party npm modules, and their versions, that this action depends on."
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Node runtime. For example: `node22`, defaults to `node22`"
          }
        },
        "secrets": {
          "target": "com.auth0.api#ActionSecretsList",
          "traits": {
            "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
          }
        },
        "deployed_version": {
          "target": "com.auth0.api#ActionDeployedVersion"
        },
        "installed_integration_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "installed_integration_id is the fk reference to the InstalledIntegration entity."
          }
        },
        "integration": {
          "target": "com.auth0.api#Integration"
        },
        "status": {
          "target": "com.auth0.api#ActionBuildStatusEnum"
        },
        "built_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this action was built successfully."
          }
        },
        "deploy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the action should be deployed after creation."
          }
        },
        "modules": {
          "target": "com.auth0.api#ActionModulesList",
          "traits": {
            "smithy.api#documentation": "The list of action modules and their versions used by this action."
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#ActionTrigger": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.auth0.api#ActionTriggerTypeEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of a trigger. v1, v2, etc."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "status points to the trigger status."
          }
        },
        "runtimes": {
          "target": "com.auth0.api#ActionTriggerRuntimesList",
          "traits": {
            "smithy.api#documentation": "runtimes supported by this trigger."
          }
        },
        "default_runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Runtime that will be used when none is specified when creating an action."
          }
        },
        "compatible_triggers": {
          "target": "com.auth0.api#ActionTriggerCompatibleTriggersList",
          "traits": {
            "smithy.api#documentation": "compatible_triggers informs which other trigger supports the same event and api."
          }
        },
        "binding_policy": {
          "target": "com.auth0.api#ActionBindingTypeEnum"
        }
      },
      "traits": {}
    },
    "com.auth0.api#ActionTriggerRuntimesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "runtimes supported by this trigger."
      }
    },
    "com.auth0.api#ActionTriggerCompatibleTrigger": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.auth0.api#ActionTriggerTypeEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of a trigger. v1, v2, etc.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#ActionTriggerCompatibleTriggersList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionTriggerCompatibleTrigger"
      },
      "traits": {
        "smithy.api#documentation": "compatible_triggers informs which other trigger supports the same event and api."
      }
    },
    "com.auth0.api#ActionBindingTypeEnum": {
      "type": "enum",
      "members": {
        "TRIGGER_BOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trigger-bound"
          }
        },
        "ENTITY_BOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entity-bound"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "In order to execute an Action, it must be bound to a trigger using a binding. `trigger-bound` means that bindings are managed by the tenant. `entity-bound` means that the bindings are automatically managed by Auth0 and other internal resouces will control those bindings. Tenants cannot manage `entity-bound` bindings."
      }
    },
    "com.auth0.api#ActionSupportedTriggersList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionTrigger"
      },
      "traits": {
        "smithy.api#documentation": "The list of triggers that this action supports. At this time, an action can only target a single trigger at a time."
      }
    },
    "com.auth0.api#ActionVersionDependency": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the name of the npm module, e.g. lodash"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "description is the version of the npm module, e.g. 4.17.1"
          }
        },
        "registry_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "registry_url is an optional value used primarily for private npm registries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dependency is an npm module. These values are used to produce an immutable artifact, which manifests as a layer_id."
      }
    },
    "com.auth0.api#ActionDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionVersionDependency"
      },
      "traits": {
        "smithy.api#documentation": "The list of third party npm modules, and their versions, that this action depends on."
      }
    },
    "com.auth0.api#ActionSecretResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the particular secret, e.g. API_KEY."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the secret was last updated."
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#ActionSecretsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionSecretResponse"
      },
      "traits": {
        "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
      }
    },
    "com.auth0.api#ActionDeployedVersion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique id of an action version."
          }
        },
        "action_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the action to which this version belongs."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source code of this specific version of the action."
          }
        },
        "dependencies": {
          "target": "com.auth0.api#ActionDeployedVersionDependenciesList",
          "traits": {
            "smithy.api#documentation": "The list of third party npm modules, and their versions, that this specific version depends on. "
          }
        },
        "deployed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this specific version is the currently one deployed."
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Node runtime. For example: `node22`"
          }
        },
        "secrets": {
          "target": "com.auth0.api#ActionDeployedVersionSecretsList",
          "traits": {
            "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
          }
        },
        "status": {
          "target": "com.auth0.api#ActionVersionBuildStatusEnum"
        },
        "number": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The index of this version in list of versions for the action."
          }
        },
        "errors": {
          "target": "com.auth0.api#ActionDeployedVersionErrorsList",
          "traits": {
            "smithy.api#documentation": "Any errors that occurred while the version was being built."
          }
        },
        "action": {
          "target": "com.auth0.api#ActionBase"
        },
        "built_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this version was built successfully."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this version was created."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when a version was updated. Versions are never updated externally. Only Auth0 will update an action version as it is being built."
          }
        },
        "supported_triggers": {
          "target": "com.auth0.api#ActionDeployedVersionSupportedTriggersList",
          "traits": {
            "smithy.api#documentation": "The list of triggers that this version supports. At this time, a version can only target a single trigger at a time."
          }
        },
        "modules": {
          "target": "com.auth0.api#ActionDeployedVersionModulesList",
          "traits": {
            "smithy.api#documentation": "The list of action modules and their versions used by this action version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The version of the action that is currently deployed."
      }
    },
    "com.auth0.api#ActionDeployedVersionDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionVersionDependency"
      },
      "traits": {
        "smithy.api#documentation": "The list of third party npm modules, and their versions, that this specific version depends on. "
      }
    },
    "com.auth0.api#ActionDeployedVersionSecretsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionSecretResponse"
      },
      "traits": {
        "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
      }
    },
    "com.auth0.api#ActionVersionBuildStatusEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "building"
          }
        },
        "PACKAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "packaged"
          }
        },
        "BUILT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "built"
          }
        },
        "RETRYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retrying"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The build status of this specific version."
      }
    },
    "com.auth0.api#ActionError": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "msg": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Error is a generic error with a human readable id which should be easily referenced in support tickets."
      }
    },
    "com.auth0.api#ActionDeployedVersionErrorsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionError"
      },
      "traits": {
        "smithy.api#documentation": "Any errors that occurred while the version was being built."
      }
    },
    "com.auth0.api#ActionBase": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the action."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of an action."
          }
        },
        "supported_triggers": {
          "target": "com.auth0.api#ActionBaseSupportedTriggersList",
          "traits": {
            "smithy.api#documentation": "The list of triggers that this action supports. At this time, an action can only target a single trigger at a time."
          }
        },
        "all_changes_deployed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if all of an Action's contents have been deployed."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this action was created."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this action was updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The action to which this version belongs."
      }
    },
    "com.auth0.api#ActionBaseSupportedTriggersList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionTrigger"
      },
      "traits": {
        "smithy.api#documentation": "The list of triggers that this action supports. At this time, an action can only target a single trigger at a time."
      }
    },
    "com.auth0.api#ActionDeployedVersionSupportedTriggersList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionTrigger"
      },
      "traits": {
        "smithy.api#documentation": "The list of triggers that this version supports. At this time, a version can only target a single trigger at a time."
      }
    },
    "com.auth0.api#ActionModuleReference": {
      "type": "structure",
      "members": {
        "module_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the module."
          }
        },
        "module_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the module."
          }
        },
        "module_version_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the specific module version."
          }
        },
        "module_version_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The version number of the module."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to a module and its version used by an action."
      }
    },
    "com.auth0.api#ActionDeployedVersionModulesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleReference"
      },
      "traits": {
        "smithy.api#documentation": "The list of action modules and their versions used by this action version."
      }
    },
    "com.auth0.api#Integration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "id is a system generated GUID. This same ID is designed to be federated in\nall the applicable localities."
          }
        },
        "catalog_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "catalog_id refers to the ID in the marketplace catalog"
          }
        },
        "url_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "url_slug refers to the url_slug in the marketplace catalog"
          }
        },
        "partner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "partner_id is the foreign key reference to the partner account this\nintegration belongs to."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the integration name, which will be used for display purposes in\nthe marketplace.\n\nTo start we're going to make sure the display name is at least 3\ncharacters. Can adjust this easily later."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "description adds more text for the integration name -- also relevant for\nthe marketplace listing."
          }
        },
        "short_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "short_description is the brief description of the integration, which is used for display purposes in cards"
          }
        },
        "logo": {
          "target": "smithy.api#String"
        },
        "feature_type": {
          "target": "com.auth0.api#IntegrationFeatureTypeEnum"
        },
        "terms_of_use_url": {
          "target": "smithy.api#String"
        },
        "privacy_policy_url": {
          "target": "smithy.api#String"
        },
        "public_support_link": {
          "target": "smithy.api#String"
        },
        "current_release": {
          "target": "com.auth0.api#IntegrationRelease"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Integration defines a self contained functioning unit which partners\npublish. A partner may create one or many of these integrations."
      }
    },
    "com.auth0.api#IntegrationFeatureTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unspecified"
          }
        },
        "ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action"
          }
        },
        "SOCIAL_CONNECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "social_connection"
          }
        },
        "LOG_STREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log_stream"
          }
        },
        "SSO_INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sso_integration"
          }
        },
        "SMS_PROVIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sms_provider"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "feature_type is the type of the integration."
      }
    },
    "com.auth0.api#IntegrationRelease": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the associated IntegrationRelease"
          }
        },
        "trigger": {
          "target": "com.auth0.api#ActionTrigger"
        },
        "semver": {
          "target": "com.auth0.api#IntegrationSemVer"
        },
        "required_secrets": {
          "target": "com.auth0.api#IntegrationReleaseRequiredSecretsList",
          "traits": {
            "smithy.api#documentation": "required_secrets declares all the necessary secrets for an integration to\nwork."
          }
        },
        "required_configuration": {
          "target": "com.auth0.api#IntegrationReleaseRequiredConfigurationList",
          "traits": {
            "smithy.api#documentation": "required_configuration declares all the necessary configuration fields for an integration to work."
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#IntegrationSemVer": {
      "type": "structure",
      "members": {
        "major": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Major is the major number of a semver"
          }
        },
        "minor": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minior is the minior number of a semver"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Semver denotes the major.minor version of an integration release"
      }
    },
    "com.auth0.api#IntegrationRequiredParam": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.auth0.api#IntegrationRequiredParamTypeEnum"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the parameter."
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag for if this parameter is required."
          }
        },
        "optional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The temp flag for if this parameter is required (experimental; for Labs use only)."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short label for this parameter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The lengthier description for this parameter."
          }
        },
        "default_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default value for this parameter."
          }
        },
        "placeholder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Placeholder text for this parameter."
          }
        },
        "options": {
          "target": "com.auth0.api#IntegrationRequiredParamOptionsList",
          "traits": {
            "smithy.api#documentation": "The allowable options for this param."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Param are form input values, primarily utilized when specifying secrets and\nconfiguration values for actions.\n\nThese are especially important for partner integrations -- but can be\nexposed to tenant admins as well if they want to parameterize their custom\nactions."
      }
    },
    "com.auth0.api#IntegrationRequiredParamTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#IntegrationRequiredParamOption": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of an option that will be used within the application."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display value of an option suitable for displaying in a UI."
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#IntegrationRequiredParamOptionsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#IntegrationRequiredParamOption"
      },
      "traits": {
        "smithy.api#documentation": "The allowable options for this param."
      }
    },
    "com.auth0.api#IntegrationReleaseRequiredSecretsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#IntegrationRequiredParam"
      },
      "traits": {
        "smithy.api#documentation": "required_secrets declares all the necessary secrets for an integration to\nwork."
      }
    },
    "com.auth0.api#IntegrationReleaseRequiredConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#IntegrationRequiredParam"
      },
      "traits": {
        "smithy.api#documentation": "required_configuration declares all the necessary configuration fields for an integration to work."
      }
    },
    "com.auth0.api#ActionBuildStatusEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "building"
          }
        },
        "PACKAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "packaged"
          }
        },
        "BUILT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "built"
          }
        },
        "RETRYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retrying"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The build status of this action."
      }
    },
    "com.auth0.api#ActionModulesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleReference"
      },
      "traits": {
        "smithy.api#documentation": "The list of action modules and their versions used by this action."
      }
    },
    "com.auth0.api#ListActionsPaginatedResponseContentActionsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#Action"
      },
      "traits": {
        "smithy.api#documentation": "The list of actions."
      }
    },
    "com.auth0.api#GetActions": {
      "type": "operation",
      "input": {
        "target": "com.auth0.api#GetActionsRequest"
      },
      "output": {
        "target": "com.auth0.api#ListActionsPaginatedResponseContent"
      },
      "errors": [
        {
          "target": "com.auth0.api#BadRequest"
        },
        {
          "target": "com.auth0.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/actions/actions",
          "code": 200
        },
        "smithy.api#documentation": "Get actions\n\nRetrieve all actions."
      }
    },
    "com.auth0.api#PostActionRequestSupportedTriggersList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionTrigger"
      },
      "traits": {
        "smithy.api#documentation": "The list of triggers that this action supports. At this time, an action can only target a single trigger at a time."
      }
    },
    "com.auth0.api#PostActionRequestDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionVersionDependency"
      },
      "traits": {
        "smithy.api#documentation": "The list of third party npm modules, and their versions, that this action depends on."
      }
    },
    "com.auth0.api#ActionSecretRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the particular secret, e.g. API_KEY."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the particular secret, e.g. secret123. A secret's value can only be set upon creation. A secret's value will never be returned by the API."
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#PostActionRequestSecretsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionSecretRequest"
      },
      "traits": {
        "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
      }
    },
    "com.auth0.api#PostActionRequestModulesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleReference"
      },
      "traits": {
        "smithy.api#documentation": "The list of action modules and their versions used by this action."
      }
    },
    "com.auth0.api#PostActionRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of an action.",
            "smithy.api#required": {}
          }
        },
        "supported_triggers": {
          "target": "com.auth0.api#PostActionRequestSupportedTriggersList",
          "traits": {
            "smithy.api#documentation": "The list of triggers that this action supports. At this time, an action can only target a single trigger at a time.",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source code of the action."
          }
        },
        "dependencies": {
          "target": "com.auth0.api#PostActionRequestDependenciesList",
          "traits": {
            "smithy.api#documentation": "The list of third party npm modules, and their versions, that this action depends on."
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Node runtime. For example: `node22`, defaults to `node22`"
          }
        },
        "secrets": {
          "target": "com.auth0.api#PostActionRequestSecretsList",
          "traits": {
            "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
          }
        },
        "modules": {
          "target": "com.auth0.api#PostActionRequestModulesList",
          "traits": {
            "smithy.api#documentation": "The list of action modules and their versions used by this action."
          }
        },
        "deploy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the action should be deployed after creation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.auth0.api#CreateActionResponseContent": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the action."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of an action."
          }
        },
        "supported_triggers": {
          "target": "com.auth0.api#CreateActionResponseContentSupportedTriggersList",
          "traits": {
            "smithy.api#documentation": "The list of triggers that this action supports. At this time, an action can only target a single trigger at a time."
          }
        },
        "all_changes_deployed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if all of an Action's contents have been deployed."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this action was created."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this action was updated."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source code of the action."
          }
        },
        "dependencies": {
          "target": "com.auth0.api#CreateActionResponseContentDependenciesList",
          "traits": {
            "smithy.api#documentation": "The list of third party npm modules, and their versions, that this action depends on."
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Node runtime. For example: `node22`, defaults to `node22`"
          }
        },
        "secrets": {
          "target": "com.auth0.api#CreateActionResponseContentSecretsList",
          "traits": {
            "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
          }
        },
        "deployed_version": {
          "target": "com.auth0.api#ActionDeployedVersion"
        },
        "installed_integration_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "installed_integration_id is the fk reference to the InstalledIntegration entity."
          }
        },
        "integration": {
          "target": "com.auth0.api#Integration"
        },
        "status": {
          "target": "com.auth0.api#ActionBuildStatusEnum"
        },
        "built_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this action was built successfully."
          }
        },
        "deploy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the action should be deployed after creation."
          }
        },
        "modules": {
          "target": "com.auth0.api#CreateActionResponseContentModulesList",
          "traits": {
            "smithy.api#documentation": "The list of action modules and their versions used by this action."
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#CreateActionResponseContentSupportedTriggersList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionTrigger"
      },
      "traits": {
        "smithy.api#documentation": "The list of triggers that this action supports. At this time, an action can only target a single trigger at a time."
      }
    },
    "com.auth0.api#CreateActionResponseContentDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionVersionDependency"
      },
      "traits": {
        "smithy.api#documentation": "The list of third party npm modules, and their versions, that this action depends on."
      }
    },
    "com.auth0.api#CreateActionResponseContentSecretsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionSecretResponse"
      },
      "traits": {
        "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
      }
    },
    "com.auth0.api#CreateActionResponseContentModulesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleReference"
      },
      "traits": {
        "smithy.api#documentation": "The list of action modules and their versions used by this action."
      }
    },
    "com.auth0.api#PostAction": {
      "type": "operation",
      "input": {
        "target": "com.auth0.api#PostActionRequest"
      },
      "output": {
        "target": "com.auth0.api#CreateActionResponseContent"
      },
      "errors": [
        {
          "target": "com.auth0.api#BadRequest"
        },
        {
          "target": "com.auth0.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/actions/actions",
          "code": 200
        },
        "smithy.api#documentation": "Create an action\n\nCreate an action. Once an action is created, it must be deployed, and then bound to a trigger before it will be executed as part of a flow."
      }
    },
    "com.auth0.api#GetActionVersionsRequest": {
      "type": "structure",
      "members": {
        "actionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the action."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Use this field to request a specific page of the list results."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "This field specify the maximum number of results to be returned by the server. 20 by default"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.auth0.api#ListActionVersionsPaginatedResponseContent": {
      "type": "structure",
      "members": {
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total result count."
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page index of the results being returned. First page is 0."
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page."
          }
        },
        "versions": {
          "target": "com.auth0.api#ListActionVersionsPaginatedResponseContentVersionsList"
        }
      },
      "traits": {}
    },
    "com.auth0.api#ActionVersion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique id of an action version."
          }
        },
        "action_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the action to which this version belongs."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source code of this specific version of the action."
          }
        },
        "dependencies": {
          "target": "com.auth0.api#ActionVersionDependenciesList",
          "traits": {
            "smithy.api#documentation": "The list of third party npm modules, and their versions, that this specific version depends on. "
          }
        },
        "deployed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this specific version is the currently one deployed."
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Node runtime. For example: `node22`"
          }
        },
        "secrets": {
          "target": "com.auth0.api#ActionVersionSecretsList",
          "traits": {
            "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
          }
        },
        "status": {
          "target": "com.auth0.api#ActionVersionBuildStatusEnum"
        },
        "number": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The index of this version in list of versions for the action."
          }
        },
        "errors": {
          "target": "com.auth0.api#ActionVersionErrorsList",
          "traits": {
            "smithy.api#documentation": "Any errors that occurred while the version was being built."
          }
        },
        "action": {
          "target": "com.auth0.api#ActionBase"
        },
        "built_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this version was built successfully."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this version was created."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when a version was updated. Versions are never updated externally. Only Auth0 will update an action version as it is being built."
          }
        },
        "supported_triggers": {
          "target": "com.auth0.api#ActionVersionSupportedTriggersList",
          "traits": {
            "smithy.api#documentation": "The list of triggers that this version supports. At this time, a version can only target a single trigger at a time."
          }
        },
        "modules": {
          "target": "com.auth0.api#ActionVersionModulesList",
          "traits": {
            "smithy.api#documentation": "The list of action modules and their versions used by this action version."
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#ActionVersionDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionVersionDependency"
      },
      "traits": {
        "smithy.api#documentation": "The list of third party npm modules, and their versions, that this specific version depends on. "
      }
    },
    "com.auth0.api#ActionVersionSecretsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionSecretResponse"
      },
      "traits": {
        "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
      }
    },
    "com.auth0.api#ActionVersionErrorsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionError"
      },
      "traits": {
        "smithy.api#documentation": "Any errors that occurred while the version was being built."
      }
    },
    "com.auth0.api#ActionVersionSupportedTriggersList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionTrigger"
      },
      "traits": {
        "smithy.api#documentation": "The list of triggers that this version supports. At this time, a version can only target a single trigger at a time."
      }
    },
    "com.auth0.api#ActionVersionModulesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleReference"
      },
      "traits": {
        "smithy.api#documentation": "The list of action modules and their versions used by this action version."
      }
    },
    "com.auth0.api#ListActionVersionsPaginatedResponseContentVersionsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionVersion"
      },
      "traits": {}
    },
    "com.auth0.api#GetActionVersions": {
      "type": "operation",
      "input": {
        "target": "com.auth0.api#GetActionVersionsRequest"
      },
      "output": {
        "target": "com.auth0.api#ListActionVersionsPaginatedResponseContent"
      },
      "errors": [
        {
          "target": "com.auth0.api#BadRequest"
        },
        {
          "target": "com.auth0.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/actions/actions/{actionId}/versions",
          "code": 200
        },
        "smithy.api#documentation": "Get an action's versions\n\nRetrieve all of an action's versions. An action version is created whenever an action is deployed. An action version is immutable, once created."
      }
    },
    "com.auth0.api#GetActionVersionRequest": {
      "type": "structure",
      "members": {
        "actionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the action."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the action version."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.auth0.api#GetActionVersionResponseContent": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique id of an action version."
          }
        },
        "action_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the action to which this version belongs."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source code of this specific version of the action."
          }
        },
        "dependencies": {
          "target": "com.auth0.api#GetActionVersionResponseContentDependenciesList",
          "traits": {
            "smithy.api#documentation": "The list of third party npm modules, and their versions, that this specific version depends on. "
          }
        },
        "deployed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this specific version is the currently one deployed."
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Node runtime. For example: `node22`"
          }
        },
        "secrets": {
          "target": "com.auth0.api#GetActionVersionResponseContentSecretsList",
          "traits": {
            "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
          }
        },
        "status": {
          "target": "com.auth0.api#ActionVersionBuildStatusEnum"
        },
        "number": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The index of this version in list of versions for the action."
          }
        },
        "errors": {
          "target": "com.auth0.api#GetActionVersionResponseContentErrorsList",
          "traits": {
            "smithy.api#documentation": "Any errors that occurred while the version was being built."
          }
        },
        "action": {
          "target": "com.auth0.api#ActionBase"
        },
        "built_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this version was built successfully."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this version was created."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when a version was updated. Versions are never updated externally. Only Auth0 will update an action version as it is being built."
          }
        },
        "supported_triggers": {
          "target": "com.auth0.api#GetActionVersionResponseContentSupportedTriggersList",
          "traits": {
            "smithy.api#documentation": "The list of triggers that this version supports. At this time, a version can only target a single trigger at a time."
          }
        },
        "modules": {
          "target": "com.auth0.api#GetActionVersionResponseContentModulesList",
          "traits": {
            "smithy.api#documentation": "The list of action modules and their versions used by this action version."
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#GetActionVersionResponseContentDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionVersionDependency"
      },
      "traits": {
        "smithy.api#documentation": "The list of third party npm modules, and their versions, that this specific version depends on. "
      }
    },
    "com.auth0.api#GetActionVersionResponseContentSecretsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionSecretResponse"
      },
      "traits": {
        "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
      }
    },
    "com.auth0.api#GetActionVersionResponseContentErrorsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionError"
      },
      "traits": {
        "smithy.api#documentation": "Any errors that occurred while the version was being built."
      }
    },
    "com.auth0.api#GetActionVersionResponseContentSupportedTriggersList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionTrigger"
      },
      "traits": {
        "smithy.api#documentation": "The list of triggers that this version supports. At this time, a version can only target a single trigger at a time."
      }
    },
    "com.auth0.api#GetActionVersionResponseContentModulesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleReference"
      },
      "traits": {
        "smithy.api#documentation": "The list of action modules and their versions used by this action version."
      }
    },
    "com.auth0.api#GetActionVersion": {
      "type": "operation",
      "input": {
        "target": "com.auth0.api#GetActionVersionRequest"
      },
      "output": {
        "target": "com.auth0.api#GetActionVersionResponseContent"
      },
      "errors": [
        {
          "target": "com.auth0.api#BadRequest"
        },
        {
          "target": "com.auth0.api#Forbidden"
        },
        {
          "target": "com.auth0.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/actions/actions/{actionId}/versions/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a specific version of an action\n\nRetrieve a specific version of an action. An action version is created whenever an action is deployed. An action version is immutable, once created."
      }
    },
    "com.auth0.api#PostDeployDraftVersionRequest": {
      "type": "structure",
      "members": {
        "actionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of an action."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of an action version."
          }
        },
        "update_draft": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the draft of the action should be updated with the reverted version."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.auth0.api#PostDeployDraftVersion": {
      "type": "operation",
      "input": {
        "target": "com.auth0.api#PostDeployDraftVersionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.auth0.api#BadRequest"
        },
        {
          "target": "com.auth0.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/actions/actions/{actionId}/versions/{id}/deploy",
          "code": 200
        },
        "smithy.api#documentation": "Roll back to a previous action version\n\nPerforms the equivalent of a roll-back of an action to an earlier, specified version. Creates a new, deployed action version that is identical to the specified version. If this action is currently bound to a trigger, the system will begin executing the newly-created version immediately."
      }
    },
    "com.auth0.api#GetActionRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the action to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.auth0.api#GetActionResponseContent": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the action."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of an action."
          }
        },
        "supported_triggers": {
          "target": "com.auth0.api#GetActionResponseContentSupportedTriggersList",
          "traits": {
            "smithy.api#documentation": "The list of triggers that this action supports. At this time, an action can only target a single trigger at a time."
          }
        },
        "all_changes_deployed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if all of an Action's contents have been deployed."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this action was created."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this action was updated."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source code of the action."
          }
        },
        "dependencies": {
          "target": "com.auth0.api#GetActionResponseContentDependenciesList",
          "traits": {
            "smithy.api#documentation": "The list of third party npm modules, and their versions, that this action depends on."
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Node runtime. For example: `node22`, defaults to `node22`"
          }
        },
        "secrets": {
          "target": "com.auth0.api#GetActionResponseContentSecretsList",
          "traits": {
            "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
          }
        },
        "deployed_version": {
          "target": "com.auth0.api#ActionDeployedVersion"
        },
        "installed_integration_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "installed_integration_id is the fk reference to the InstalledIntegration entity."
          }
        },
        "integration": {
          "target": "com.auth0.api#Integration"
        },
        "status": {
          "target": "com.auth0.api#ActionBuildStatusEnum"
        },
        "built_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this action was built successfully."
          }
        },
        "deploy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the action should be deployed after creation."
          }
        },
        "modules": {
          "target": "com.auth0.api#GetActionResponseContentModulesList",
          "traits": {
            "smithy.api#documentation": "The list of action modules and their versions used by this action."
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#GetActionResponseContentSupportedTriggersList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionTrigger"
      },
      "traits": {
        "smithy.api#documentation": "The list of triggers that this action supports. At this time, an action can only target a single trigger at a time."
      }
    },
    "com.auth0.api#GetActionResponseContentDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionVersionDependency"
      },
      "traits": {
        "smithy.api#documentation": "The list of third party npm modules, and their versions, that this action depends on."
      }
    },
    "com.auth0.api#GetActionResponseContentSecretsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionSecretResponse"
      },
      "traits": {
        "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
      }
    },
    "com.auth0.api#GetActionResponseContentModulesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleReference"
      },
      "traits": {
        "smithy.api#documentation": "The list of action modules and their versions used by this action."
      }
    },
    "com.auth0.api#GetAction": {
      "type": "operation",
      "input": {
        "target": "com.auth0.api#GetActionRequest"
      },
      "output": {
        "target": "com.auth0.api#GetActionResponseContent"
      },
      "errors": [
        {
          "target": "com.auth0.api#BadRequest"
        },
        {
          "target": "com.auth0.api#Forbidden"
        },
        {
          "target": "com.auth0.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/actions/actions/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get an action\n\nRetrieve an action by its ID."
      }
    },
    "com.auth0.api#PatchActionRequestSupportedTriggersList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionTrigger"
      },
      "traits": {
        "smithy.api#documentation": "The list of triggers that this action supports. At this time, an action can only target a single trigger at a time."
      }
    },
    "com.auth0.api#PatchActionRequestDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionVersionDependency"
      },
      "traits": {
        "smithy.api#documentation": "The list of third party npm modules, and their versions, that this action depends on."
      }
    },
    "com.auth0.api#PatchActionRequestSecretsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionSecretRequest"
      },
      "traits": {
        "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
      }
    },
    "com.auth0.api#PatchActionRequestModulesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleReference"
      },
      "traits": {
        "smithy.api#documentation": "The list of action modules and their versions used by this action."
      }
    },
    "com.auth0.api#PatchActionRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the action to update."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of an action."
          }
        },
        "supported_triggers": {
          "target": "com.auth0.api#PatchActionRequestSupportedTriggersList",
          "traits": {
            "smithy.api#documentation": "The list of triggers that this action supports. At this time, an action can only target a single trigger at a time."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source code of the action."
          }
        },
        "dependencies": {
          "target": "com.auth0.api#PatchActionRequestDependenciesList",
          "traits": {
            "smithy.api#documentation": "The list of third party npm modules, and their versions, that this action depends on."
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Node runtime. For example: `node22`, defaults to `node22`"
          }
        },
        "secrets": {
          "target": "com.auth0.api#PatchActionRequestSecretsList",
          "traits": {
            "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
          }
        },
        "modules": {
          "target": "com.auth0.api#PatchActionRequestModulesList",
          "traits": {
            "smithy.api#documentation": "The list of action modules and their versions used by this action."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.auth0.api#UpdateActionResponseContent": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the action."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of an action."
          }
        },
        "supported_triggers": {
          "target": "com.auth0.api#UpdateActionResponseContentSupportedTriggersList",
          "traits": {
            "smithy.api#documentation": "The list of triggers that this action supports. At this time, an action can only target a single trigger at a time."
          }
        },
        "all_changes_deployed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if all of an Action's contents have been deployed."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this action was created."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this action was updated."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source code of the action."
          }
        },
        "dependencies": {
          "target": "com.auth0.api#UpdateActionResponseContentDependenciesList",
          "traits": {
            "smithy.api#documentation": "The list of third party npm modules, and their versions, that this action depends on."
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Node runtime. For example: `node22`, defaults to `node22`"
          }
        },
        "secrets": {
          "target": "com.auth0.api#UpdateActionResponseContentSecretsList",
          "traits": {
            "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
          }
        },
        "deployed_version": {
          "target": "com.auth0.api#ActionDeployedVersion"
        },
        "installed_integration_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "installed_integration_id is the fk reference to the InstalledIntegration entity."
          }
        },
        "integration": {
          "target": "com.auth0.api#Integration"
        },
        "status": {
          "target": "com.auth0.api#ActionBuildStatusEnum"
        },
        "built_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this action was built successfully."
          }
        },
        "deploy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the action should be deployed after creation."
          }
        },
        "modules": {
          "target": "com.auth0.api#UpdateActionResponseContentModulesList",
          "traits": {
            "smithy.api#documentation": "The list of action modules and their versions used by this action."
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#UpdateActionResponseContentSupportedTriggersList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionTrigger"
      },
      "traits": {
        "smithy.api#documentation": "The list of triggers that this action supports. At this time, an action can only target a single trigger at a time."
      }
    },
    "com.auth0.api#UpdateActionResponseContentDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionVersionDependency"
      },
      "traits": {
        "smithy.api#documentation": "The list of third party npm modules, and their versions, that this action depends on."
      }
    },
    "com.auth0.api#UpdateActionResponseContentSecretsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionSecretResponse"
      },
      "traits": {
        "smithy.api#documentation": "The list of secrets that are included in an action or a version of an action."
      }
    },
    "com.auth0.api#UpdateActionResponseContentModulesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleReference"
      },
      "traits": {
        "smithy.api#documentation": "The list of action modules and their versions used by this action."
      }
    },
    "com.auth0.api#PatchAction": {
      "type": "operation",
      "input": {
        "target": "com.auth0.api#PatchActionRequest"
      },
      "output": {
        "target": "com.auth0.api#UpdateActionResponseContent"
      },
      "errors": [
        {
          "target": "com.auth0.api#BadRequest"
        },
        {
          "target": "com.auth0.api#Forbidden"
        },
        {
          "target": "com.auth0.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/actions/actions/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an action\n\nUpdate an existing action. If this action is currently bound to a trigger, updating it will **not** affect any user flows until the action is deployed."
      }
    },
    "com.auth0.api#DeleteActionRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the action to delete."
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "force",
            "smithy.api#documentation": "Force action deletion detaching bindings"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.auth0.api#DeleteAction": {
      "type": "operation",
      "input": {
        "target": "com.auth0.api#DeleteActionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.auth0.api#BadRequest"
        },
        {
          "target": "com.auth0.api#Forbidden"
        },
        {
          "target": "com.auth0.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/actions/actions/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an action\n\nDeletes an action and all of its associated versions. An action must be unbound from all triggers before it can be deleted."
      }
    },
    "com.auth0.api#PostDeployActionRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of an action."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.auth0.api#PostDeployAction": {
      "type": "operation",
      "input": {
        "target": "com.auth0.api#PostDeployActionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.auth0.api#BadRequest"
        },
        {
          "target": "com.auth0.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/actions/actions/{id}/deploy",
          "code": 200
        },
        "smithy.api#documentation": "Deploy an action\n\nDeploy an action. Deploying an action will create a new immutable version of the action. If the action is currently bound to a trigger, then the system will begin executing the newly deployed version of the action immediately. Otherwise, the action will only be executed as a part of a flow once it is bound to that flow."
      }
    },
    "com.auth0.api#TestActionPayload": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The payload for the action."
      }
    },
    "com.auth0.api#PostTestActionRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the action to test."
          }
        },
        "payload": {
          "target": "com.auth0.api#TestActionPayload",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.auth0.api#TestActionResponseContent": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "com.auth0.api#TestActionResultPayload"
        }
      },
      "traits": {}
    },
    "com.auth0.api#TestActionResultPayload": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The resulting payload after an action was executed."
      }
    },
    "com.auth0.api#PostTestAction": {
      "type": "operation",
      "input": {
        "target": "com.auth0.api#PostTestActionRequest"
      },
      "output": {
        "target": "com.auth0.api#TestActionResponseContent"
      },
      "errors": [
        {
          "target": "com.auth0.api#BadRequest"
        },
        {
          "target": "com.auth0.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/actions/actions/{id}/test",
          "code": 200
        },
        "smithy.api#documentation": "Test an Action\n\nTest an action. After updating an action, it can be tested prior to being deployed to ensure it behaves as expected."
      }
    },
    "com.auth0.api#GetExecutionRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the execution to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.auth0.api#GetActionExecutionResponseContent": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID identifies this specific execution simulation. These IDs would resemble real executions in production."
          }
        },
        "trigger_id": {
          "target": "com.auth0.api#ActionTriggerTypeEnum"
        },
        "status": {
          "target": "com.auth0.api#ActionExecutionStatusEnum"
        },
        "results": {
          "target": "com.auth0.api#GetActionExecutionResponseContentResultsList"
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the execution was started."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the exeution finished executing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a specific execution of a trigger."
      }
    },
    "com.auth0.api#ActionExecutionStatusEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unspecified"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "FINAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "final"
          }
        },
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partial"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The overall status of an execution."
      }
    },
    "com.auth0.api#ActionExecutionResult": {
      "type": "structure",
      "members": {
        "action_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the action that was executed."
          }
        },
        "error": {
          "target": "com.auth0.api#ActionError"
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the action was started."
          }
        },
        "ended_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the action finished executing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Captures the results of a single action being executed."
      }
    },
    "com.auth0.api#GetActionExecutionResponseContentResultsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionExecutionResult"
      },
      "traits": {}
    },
    "com.auth0.api#GetExecution": {
      "type": "operation",
      "input": {
        "target": "com.auth0.api#GetExecutionRequest"
      },
      "output": {
        "target": "com.auth0.api#GetActionExecutionResponseContent"
      },
      "errors": [
        {
          "target": "com.auth0.api#BadRequest"
        },
        {
          "target": "com.auth0.api#Forbidden"
        },
        {
          "target": "com.auth0.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/actions/executions/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get an execution\n\nRetrieve information about a specific execution of a trigger. Relevant execution IDs will be included in tenant logs generated as part of that authentication flow. Executions will only be stored for 10 days after their creation."
      }
    },
    "com.auth0.api#GetActionModulesRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page index of the results to return. First page is 0."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Number of results per page. Paging is disabled if parameter not sent."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.auth0.api#GetActionModulesResponseContent": {
      "type": "structure",
      "members": {
        "modules": {
          "target": "com.auth0.api#GetActionModulesResponseContentModulesList",
          "traits": {
            "smithy.api#documentation": "A list of ActionsModule objects."
          }
        },
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of modules in the tenant."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The page index of the returned results."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of results requested per page."
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#ActionModuleListItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the module."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the module."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source code from the module's draft version."
          }
        },
        "dependencies": {
          "target": "com.auth0.api#ActionModuleListItemDependenciesList",
          "traits": {
            "smithy.api#documentation": "The npm dependencies from the module's draft version."
          }
        },
        "secrets": {
          "target": "com.auth0.api#ActionModuleListItemSecretsList",
          "traits": {
            "smithy.api#documentation": "The secrets from the module's draft version (names and timestamps only, values never returned)."
          }
        },
        "actions_using_module_total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of deployed actions using this module."
          }
        },
        "all_changes_published": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether all draft changes have been published as a version."
          }
        },
        "latest_version_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The version number of the latest published version. Omitted if no versions have been published."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the module was created."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the module was last updated."
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#ActionModuleDependency": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the npm dependency."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the npm dependency."
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#ActionModuleListItemDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleDependency"
      },
      "traits": {
        "smithy.api#documentation": "The npm dependencies from the module's draft version."
      }
    },
    "com.auth0.api#ActionModuleSecret": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the secret was last updated."
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#ActionModuleListItemSecretsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleSecret"
      },
      "traits": {
        "smithy.api#documentation": "The secrets from the module's draft version (names and timestamps only, values never returned)."
      }
    },
    "com.auth0.api#GetActionModulesResponseContentModulesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleListItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of ActionsModule objects."
      }
    },
    "com.auth0.api#GetActionModules": {
      "type": "operation",
      "input": {
        "target": "com.auth0.api#GetActionModulesRequest"
      },
      "output": {
        "target": "com.auth0.api#GetActionModulesResponseContent"
      },
      "errors": [
        {
          "target": "com.auth0.api#BadRequest"
        },
        {
          "target": "com.auth0.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/actions/modules",
          "code": 200
        },
        "smithy.api#documentation": "List Actions Modules\n\nRetrieve a paginated list of all Actions Modules with optional filtering and totals."
      }
    },
    "com.auth0.api#ActionModuleSecretRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the secret.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#PostActionModuleRequestSecretsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleSecretRequest"
      },
      "traits": {
        "smithy.api#documentation": "The secrets to associate with the action module."
      }
    },
    "com.auth0.api#ActionModuleDependencyRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the npm dependency.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the npm dependency.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.auth0.api#PostActionModuleRequestDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleDependencyRequest"
      },
      "traits": {
        "smithy.api#documentation": "The npm dependencies of the action module."
      }
    },
    "com.auth0.api#PostActionModuleRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the action module.",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source code of the action module.",
            "smithy.api#required": {}
          }
        },
        "secrets": {
          "target": "com.auth0.api#PostActionModuleRequestSecretsList",
          "traits": {
            "smithy.api#documentation": "The secrets to associate with the action module."
          }
        },
        "dependencies": {
          "target": "com.auth0.api#PostActionModuleRequestDependenciesList",
          "traits": {
            "smithy.api#documentation": "The npm dependencies of the action module."
          }
        },
        "api_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API version of the module."
          }
        },
        "publish": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to publish the module immediately after creation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.auth0.api#CreateActionModuleResponseContent": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the module."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the module."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source code from the module's draft version."
          }
        },
        "dependencies": {
          "target": "com.auth0.api#CreateActionModuleResponseContentDependenciesList",
          "traits": {
            "smithy.api#documentation": "The npm dependencies from the module's draft version."
          }
        },
        "secrets": {
          "target": "com.auth0.api#CreateActionModuleResponseContentSecretsList",
          "traits": {
            "smithy.api#documentation": "The secrets from the module's draft version (names and timestamps only, values never returned)."
          }
        },
        "actions_using_module_total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of deployed actions using this module."
          }
        },
        "all_changes_published": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether all draft changes have been published as a version."
          }
        },
        "latest_version_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The version number of the latest published version. Omitted if no versions have been published."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the module was created."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the module was last updated."
          }
        },
        "latest_version": {
          "target": "com.auth0.api#ActionModuleVersionReference"
        }
      },
      "traits": {}
    },
    "com.auth0.api#CreateActionModuleResponseContentDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleDependency"
      },
      "traits": {
        "smithy.api#documentation": "The npm dependencies from the module's draft version."
      }
    },
    "com.auth0.api#CreateActionModuleResponseContentSecretsList": {
      "type": "list",
      "member": {
        "target": "com.auth0.api#ActionModuleSecret"
      },
      "traits": {
        "smithy.api#documentation": "The secrets from the module's draft version (names and timestamps only, values never returned)."
      }
    },
    "com.auth0.api#ActionModuleVersionReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the version."
          }
        },
        "version_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The version number."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source code from this version."
          }
        },
[...]
