{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.forgejo.organization#OrgGetAllRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#Organization": {
      "type": "structure",
      "members": {
        "avatar_url": {
          "target": "smithy.api#String"
        },
        "created": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "full_name": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "repo_admin_change_team_access": {
          "target": "smithy.api#Boolean"
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "deprecated",
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "smithy.api#String"
        },
        "website": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Organization represents an organization"
      }
    },
    "com.forgejo.organization#OrgGetAllResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.organization#Organization"
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgGetAllResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.organization#OrgGetAllResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.organization#OrgGetAll": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgGetAllRequest"
      },
      "output": {
        "target": "com.forgejo.organization#OrgGetAllResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs",
          "code": 200
        },
        "smithy.api#documentation": "List all organizations"
      }
    },
    "com.forgejo.organization#OrgCreateRequestVisibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "limited"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "possible values are `public` (default), `limited` or `private`"
      }
    },
    "com.forgejo.organization#OrgCreateRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "full_name": {
          "target": "smithy.api#String"
        },
        "location": {
          "target": "smithy.api#String"
        },
        "repo_admin_change_team_access": {
          "target": "smithy.api#Boolean"
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "com.forgejo.organization#OrgCreateRequestVisibility",
          "traits": {
            "smithy.api#documentation": "possible values are `public` (default), `limited` or `private`"
          }
        },
        "website": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgCreate": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgCreateRequest"
      },
      "output": {
        "target": "com.forgejo.organization#Organization"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#Forbidden"
        },
        {
          "target": "com.forgejo.organization#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs",
          "code": 200
        },
        "smithy.api#documentation": "Create an organization"
      }
    },
    "com.forgejo.organization#OrgGetRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization to get"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgGet": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgGetRequest"
      },
      "output": {
        "target": "com.forgejo.organization#Organization"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}",
          "code": 200
        },
        "smithy.api#documentation": "Get an organization"
      }
    },
    "com.forgejo.organization#OrgEditRequestVisibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "limited"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "possible values are `public`, `limited` or `private`"
      }
    },
    "com.forgejo.organization#OrgEditRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization to edit"
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "full_name": {
          "target": "smithy.api#String"
        },
        "location": {
          "target": "smithy.api#String"
        },
        "repo_admin_change_team_access": {
          "target": "smithy.api#Boolean"
        },
        "visibility": {
          "target": "com.forgejo.organization#OrgEditRequestVisibility",
          "traits": {
            "smithy.api#documentation": "possible values are `public`, `limited` or `private`"
          }
        },
        "website": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgEdit": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgEditRequest"
      },
      "output": {
        "target": "com.forgejo.organization#Organization"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        },
        {
          "target": "com.forgejo.organization#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/orgs/{org}",
          "code": 200
        },
        "smithy.api#documentation": "Edit an organization"
      }
    },
    "com.forgejo.organization#OrgDeleteRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "organization that is to be deleted"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgDelete": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        },
        {
          "target": "com.forgejo.organization#OrganizationOwnsRepositories"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an organization"
      }
    },
    "com.forgejo.organization#GetOrgRunnersRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "visible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "visible",
            "smithy.api#documentation": "whether to include all visible runners (true) or only those that are directly owned by the organization (false)"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#ActionRunner": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description provides optional details about this runner."
          }
        },
        "ephemeral": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if runner is ephemeral runner"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID uniquely identifies this runner."
          }
        },
        "labels": {
          "target": "com.forgejo.organization#ActionRunnerLabelsList",
          "traits": {
            "smithy.api#documentation": "Labels is a list of labels attached to this runner."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the runner; not unique."
          }
        },
        "owner_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "OwnerID is the identifier of the user or organization this runner belongs to. O if the runner is owned by a\nrepository."
          }
        },
        "repo_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "RepoID is the identifier of the repository this runner belongs to. 0 if the runner belongs to a user or\norganization."
          }
        },
        "status": {
          "target": "com.forgejo.organization#ActionRunnerStatus",
          "traits": {
            "smithy.api#documentation": "Status indicates whether this runner is offline, or active, for example."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID uniquely identifies this runner."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version is the self-reported version string of Forgejo Runner."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ActionRunner represents a runner"
      }
    },
    "com.forgejo.organization#ActionRunnerLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels is a list of labels attached to this runner."
      }
    },
    "com.forgejo.organization#ActionRunnerStatus": {
      "type": "enum",
      "members": {
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "offline"
          }
        },
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idle"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status indicates whether this runner is offline, or active, for example."
      }
    },
    "com.forgejo.organization#GetOrgRunnersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.organization#ActionRunner"
      },
      "traits": {}
    },
    "com.forgejo.organization#GetOrgRunnersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.organization#GetOrgRunnersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.organization#GetOrgRunners": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#GetOrgRunnersRequest"
      },
      "output": {
        "target": "com.forgejo.organization#GetOrgRunnersResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#BadRequest"
        },
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/runners",
          "code": 200
        },
        "smithy.api#documentation": "Get the organization's runners"
      }
    },
    "com.forgejo.organization#RegisterOrgRunnerRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the runner to register."
          }
        },
        "ephemeral": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Register as ephemeral runner https://forgejo.org/docs/latest/admin/actions/security/#ephemeral-runner"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the runner to register. The name of the runner does not have to be unique.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#RegisterRunnerResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "token": {
          "target": "smithy.api#String"
        },
        "uuid": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.forgejo.organization#RegisterOrgRunner": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#RegisterOrgRunnerRequest"
      },
      "output": {
        "target": "com.forgejo.organization#RegisterRunnerResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#BadRequest"
        },
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/{org}/actions/runners",
          "code": 200
        },
        "smithy.api#documentation": "Register a new organization-level runner"
      }
    },
    "com.forgejo.organization#OrgSearchRunJobsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "labels": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "labels",
            "smithy.api#documentation": "a comma separated list of run job labels to search for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#ActionRunJob": {
      "type": "structure",
      "members": {
        "attempt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many times the job has been attempted including the current attempt."
          }
        },
        "handle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque identifier that uniquely identifies a single attempt of a job."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Identifier of this job."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the action run job name"
          }
        },
        "needs": {
          "target": "com.forgejo.organization#ActionRunJobNeedsList",
          "traits": {
            "smithy.api#documentation": "the action run job needed ids"
          }
        },
        "owner_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the owner id"
          }
        },
        "repo_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the repository id"
          }
        },
        "run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Identifier of the workflow run this job belongs to."
          }
        },
        "runs_on": {
          "target": "com.forgejo.organization#ActionRunJobRunsOnList",
          "traits": {
            "smithy.api#documentation": "the action run job labels to run on"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the action run job status"
          }
        },
        "task_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the action run job latest task id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ActionRunJob represents a job of a run"
      }
    },
    "com.forgejo.organization#ActionRunJobNeedsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "the action run job needed ids"
      }
    },
    "com.forgejo.organization#ActionRunJobRunsOnList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "the action run job labels to run on"
      }
    },
    "com.forgejo.organization#OrgSearchRunJobsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.organization#ActionRunJob"
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgSearchRunJobsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.organization#OrgSearchRunJobsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.organization#OrgSearchRunJobs": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgSearchRunJobsRequest"
      },
      "output": {
        "target": "com.forgejo.organization#OrgSearchRunJobsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/runners/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Search for organization's action jobs according filter conditions"
      }
    },
    "com.forgejo.organization#GetOrgRunnerRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "runner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the runner"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#GetOrgRunner": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#GetOrgRunnerRequest"
      },
      "output": {
        "target": "com.forgejo.organization#ActionRunner"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#BadRequest"
        },
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/runners/{runner_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a particular runner that belongs to the organization"
      }
    },
    "com.forgejo.organization#DeleteOrgRunnerRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "runner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the runner"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#DeleteOrgRunner": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#DeleteOrgRunnerRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#BadRequest"
        },
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}/actions/runners/{runner_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a particular runner that belongs to the organization"
      }
    },
    "com.forgejo.organization#OrgListActionsSecretsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#Secret": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the secret's name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Secret represents a secret"
      }
    },
    "com.forgejo.organization#OrgListActionsSecretsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.organization#Secret"
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgListActionsSecretsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.organization#OrgListActionsSecretsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.organization#OrgListActionsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgListActionsSecretsRequest"
      },
      "output": {
        "target": "com.forgejo.organization#OrgListActionsSecretsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#Forbidden"
        },
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/secrets",
          "code": 200
        },
        "smithy.api#documentation": "List actions secrets of an organization"
      }
    },
    "com.forgejo.organization#UpdateOrgSecretRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of organization"
          }
        },
        "secretname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the secret"
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data of the secret. Special characters will be retained. Line endings will be normalized to LF to match the\nbehaviour of browsers. Encode the data with Base64 if line endings should be retained.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#UpdateOrgSecret": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#UpdateOrgSecretRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#BadRequest"
        },
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/orgs/{org}/actions/secrets/{secretname}",
          "code": 200
        },
        "smithy.api#documentation": "Create or Update a secret value in an organization"
      }
    },
    "com.forgejo.organization#DeleteOrgSecretRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of organization"
          }
        },
        "secretname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the secret"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#DeleteOrgSecret": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#DeleteOrgSecretRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#BadRequest"
        },
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}/actions/secrets/{secretname}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a secret in an organization"
      }
    },
    "com.forgejo.organization#GetOrgVariablesListRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#ActionVariable": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the value of the variable",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of the variable",
            "smithy.api#required": {}
          }
        },
        "owner_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the owner to which the variable belongs"
          }
        },
        "repo_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the repository to which the variable belongs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ActionVariable return value of the query API"
      }
    },
    "com.forgejo.organization#GetOrgVariablesListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.organization#ActionVariable"
      },
      "traits": {}
    },
    "com.forgejo.organization#GetOrgVariablesListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.organization#GetOrgVariablesListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.organization#GetOrgVariablesList": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#GetOrgVariablesListRequest"
      },
      "output": {
        "target": "com.forgejo.organization#GetOrgVariablesListResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#BadRequest"
        },
        {
          "target": "com.forgejo.organization#Forbidden"
        },
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/variables",
          "code": 200
        },
        "smithy.api#documentation": "List variables of an organization"
      }
    },
    "com.forgejo.organization#GetOrgVariableRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "variablename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the variable"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#GetOrgVariable": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#GetOrgVariableRequest"
      },
      "output": {
        "target": "com.forgejo.organization#ActionVariable"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#BadRequest"
        },
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/variables/{variablename}",
          "code": 200
        },
        "smithy.api#documentation": "Get organization's variable by name"
      }
    },
    "com.forgejo.organization#CreateOrgVariableRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "variablename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the variable"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the variable to create. Special characters will be retained. Line endings will be normalized to LF to\nmatch the behaviour of browsers. Encode the data with Base64 if line endings should be retained.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#CreateOrgVariable": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#CreateOrgVariableRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#BadRequest"
        },
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/{org}/actions/variables/{variablename}",
          "code": 200
        },
        "smithy.api#documentation": "Create a new variable in organization"
      }
    },
    "com.forgejo.organization#UpdateOrgVariableRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "variablename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the variable"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New name for the variable. If the field is empty, the variable name won't be updated. Forgejo will convert it to\nuppercase."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the variable to update. Special characters will be retained. Line endings will be normalized to LF to\nmatch the behaviour of browsers. Encode the data with Base64 if line endings should be retained.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#UpdateOrgVariable": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#UpdateOrgVariableRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#BadRequest"
        },
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/orgs/{org}/actions/variables/{variablename}",
          "code": 200
        },
        "smithy.api#documentation": "Update variable in organization"
      }
    },
    "com.forgejo.organization#DeleteOrgVariableRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "variablename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the variable"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#DeleteOrgVariable": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#DeleteOrgVariableRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#BadRequest"
        },
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}/actions/variables/{variablename}",
          "code": 200
        },
        "smithy.api#documentation": "Delete organization's variable by name"
      }
    },
    "com.forgejo.organization#OrgListActivityFeedsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the org"
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date",
            "smithy.api#documentation": "the date of the activities to be found"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#Activity": {
      "type": "structure",
      "members": {
        "act_user": {
          "target": "com.forgejo.organization#User"
        },
        "act_user_id": {
          "target": "smithy.api#Integer"
        },
        "comment": {
          "target": "com.forgejo.organization#Comment"
        },
        "comment_id": {
          "target": "smithy.api#Integer"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "created": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "is_private": {
          "target": "smithy.api#Boolean"
        },
        "op_type": {
          "target": "com.forgejo.organization#ActivityOpType",
          "traits": {
            "smithy.api#documentation": "the type of action"
          }
        },
        "ref_name": {
          "target": "smithy.api#String"
        },
        "repo": {
          "target": "com.forgejo.organization#Repository"
        },
        "repo_id": {
          "target": "smithy.api#Integer"
        },
        "user_id": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.forgejo.organization#User": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is user active"
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the user's avatar"
          }
        },
        "created": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's description"
          }
        },
        "email": {
          "target": "smithy.api#String"
        },
        "followers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "user counts"
          }
        },
        "following_count": {
          "target": "smithy.api#Integer"
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's full name"
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the user's profile page"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the user's id",
            "smithy.api#required": {}
          }
        },
        "is_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is the user an administrator"
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User locale"
          }
        },
        "last_login": {
          "target": "smithy.api#String"
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's location"
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's username",
            "smithy.api#required": {}
          }
        },
        "login_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's authentication sign-in name."
          }
        },
        "prohibit_login": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is user login prohibited"
          }
        },
        "pronouns": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's pronouns"
          }
        },
        "restricted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is user restricted"
          }
        },
        "source_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the user's Authentication Source"
          }
        },
        "starred_repos_count": {
          "target": "smithy.api#Integer"
        },
        "visibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User visibility level option: public, limited, private"
          }
        },
        "website": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's website"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User represents a user"
      }
    },
    "com.forgejo.organization#Comment": {
      "type": "structure",
      "members": {
        "assets": {
          "target": "com.forgejo.organization#CommentAssetsList",
          "traits": {
            "smithy.api#documentation": "The attachments to the comment"
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The body of the comment"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of the comment's creation"
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTML URL of the comment"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The identifier of the comment"
          }
        },
        "issue_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTML URL of the issue if the comment is posted on an issue, else empty string"
          }
        },
        "original_author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original author that posted the comment if it was not posted locally, else empty string"
          }
        },
        "original_author_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the original author that posted the comment if it was not posted locally, else 0"
          }
        },
        "pull_request_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTML URL of the pull request if the comment is posted on a pull request, else empty string"
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of the comment's update"
          }
        },
        "user": {
          "target": "com.forgejo.organization#User"
        }
      },
      "traits": {
        "smithy.api#documentation": "Comment represents a comment on a commit or issue"
      }
    },
    "com.forgejo.organization#Attachment": {
      "type": "structure",
      "members": {
        "browser_download_url": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "download_count": {
          "target": "smithy.api#Integer"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "size": {
          "target": "smithy.api#Integer"
        },
        "type": {
          "target": "com.forgejo.organization#AttachmentType"
        },
        "uuid": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Attachment a generic attachment"
      }
    },
    "com.forgejo.organization#AttachmentType": {
      "type": "enum",
      "members": {
        "ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachment"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        }
      },
      "traits": {}
    },
    "com.forgejo.organization#CommentAssetsList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.organization#Attachment"
      },
      "traits": {
        "smithy.api#documentation": "The attachments to the comment"
      }
    },
    "com.forgejo.organization#ActivityOpType": {
      "type": "enum",
      "members": {
        "CREATE_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create_repo"
          }
        },
        "RENAME_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rename_repo"
          }
        },
        "STAR_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "star_repo"
          }
        },
        "WATCH_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "watch_repo"
          }
        },
        "COMMIT_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "commit_repo"
          }
        },
        "CREATE_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create_issue"
          }
        },
        "CREATE_PULL_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create_pull_request"
          }
        },
        "TRANSFER_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transfer_repo"
          }
        },
        "PUSH_TAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "push_tag"
          }
        },
        "COMMENT_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "comment_issue"
          }
        },
        "MERGE_PULL_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "merge_pull_request"
          }
        },
        "CLOSE_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "close_issue"
          }
        },
        "REOPEN_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reopen_issue"
          }
        },
        "CLOSE_PULL_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "close_pull_request"
          }
        },
        "REOPEN_PULL_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reopen_pull_request"
          }
        },
        "DELETE_TAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete_tag"
          }
        },
        "DELETE_BRANCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete_branch"
          }
        },
        "MIRROR_SYNC_PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mirror_sync_push"
          }
        },
        "MIRROR_SYNC_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mirror_sync_create"
          }
        },
        "MIRROR_SYNC_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mirror_sync_delete"
          }
        },
        "APPROVE_PULL_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approve_pull_request"
          }
        },
        "REJECT_PULL_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reject_pull_request"
          }
        },
        "COMMENT_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "comment_pull"
          }
        },
        "PUBLISH_RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "publish_release"
          }
        },
        "PULL_REVIEW_DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pull_review_dismissed"
          }
        },
        "PULL_REQUEST_READY_FOR_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pull_request_ready_for_review"
          }
        },
        "AUTO_MERGE_PULL_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto_merge_pull_request"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "the type of action"
      }
    },
    "com.forgejo.organization#Repository": {
      "type": "structure",
      "members": {
        "allow_fast_forward_only_merge": {
          "target": "smithy.api#Boolean"
        },
        "allow_merge_commits": {
          "target": "smithy.api#Boolean"
        },
        "allow_rebase": {
          "target": "smithy.api#Boolean"
        },
        "allow_rebase_explicit": {
          "target": "smithy.api#Boolean"
        },
        "allow_rebase_update": {
          "target": "smithy.api#Boolean"
        },
        "allow_squash_merge": {
          "target": "smithy.api#Boolean"
        },
        "archived": {
          "target": "smithy.api#Boolean"
        },
        "archived_at": {
          "target": "smithy.api#String"
        },
        "avatar_url": {
          "target": "smithy.api#String"
        },
        "clone_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "default_allow_maintainer_edit": {
          "target": "smithy.api#Boolean"
        },
        "default_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "default_delete_branch_after_merge": {
          "target": "smithy.api#Boolean"
        },
        "default_merge_style": {
          "target": "smithy.api#String"
        },
        "default_update_style": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "empty": {
          "target": "smithy.api#Boolean"
        },
        "external_tracker": {
          "target": "com.forgejo.organization#ExternalTracker"
        },
        "external_wiki": {
          "target": "com.forgejo.organization#ExternalWiki"
        },
        "fork": {
          "target": "smithy.api#Boolean"
        },
        "forks_count": {
          "target": "smithy.api#Integer"
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "globally_editable_wiki": {
          "target": "smithy.api#Boolean"
        },
        "has_actions": {
          "target": "smithy.api#Boolean"
        },
        "has_issues": {
          "target": "smithy.api#Boolean"
        },
        "has_packages": {
          "target": "smithy.api#Boolean"
        },
        "has_projects": {
          "target": "smithy.api#Boolean"
        },
        "has_pull_requests": {
          "target": "smithy.api#Boolean"
        },
        "has_releases": {
          "target": "smithy.api#Boolean"
        },
        "has_wiki": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "is the wiki enabled"
          }
        },
        "has_wiki_contents": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "have wiki pages ever been created"
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ignore_whitespace_conflicts": {
          "target": "smithy.api#Boolean"
        },
        "internal": {
          "target": "smithy.api#Boolean"
        },
        "internal_tracker": {
          "target": "com.forgejo.organization#InternalTracker"
        },
        "language": {
          "target": "smithy.api#String"
        },
        "languages_url": {
          "target": "smithy.api#String"
        },
        "link": {
          "target": "smithy.api#String"
        },
        "mirror": {
          "target": "smithy.api#Boolean"
        },
        "mirror_interval": {
          "target": "smithy.api#String"
        },
        "mirror_updated": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object_format_name": {
          "target": "com.forgejo.organization#RepositoryObjectFormatName",
          "traits": {
            "smithy.api#documentation": "ObjectFormatName of the underlying git repository"
          }
        },
        "open_issues_count": {
          "target": "smithy.api#Integer"
        },
        "open_pr_counter": {
          "target": "smithy.api#Integer"
        },
        "original_url": {
          "target": "smithy.api#String"
        },
        "owner": {
          "target": "com.forgejo.organization#User",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.forgejo.organization#Repository"
        },
        "permissions": {
          "target": "com.forgejo.organization#Permission"
        },
        "private": {
          "target": "smithy.api#Boolean"
        },
        "release_counter": {
          "target": "smithy.api#Integer"
        },
        "repo_transfer": {
          "target": "com.forgejo.organization#RepoTransfer"
        },
        "size": {
          "target": "smithy.api#Integer"
        },
        "ssh_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stars_count": {
          "target": "smithy.api#Integer"
        },
        "template": {
          "target": "smithy.api#Boolean"
        },
        "topics": {
          "target": "com.forgejo.organization#RepositoryTopicsList"
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String"
        },
        "watchers_count": {
          "target": "smithy.api#Integer"
        },
        "website": {
          "target": "smithy.api#String"
        },
        "wiki_branch": {
          "target": "smithy.api#String"
        },
        "wiki_clone_url": {
          "target": "smithy.api#String"
        },
        "wiki_ssh_url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Repository represents a repository"
      }
    },
    "com.forgejo.organization#ExternalTracker": {
      "type": "structure",
      "members": {
        "external_tracker_format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External Issue Tracker URL Format. Use the placeholders {user}, {repo} and {index} for the username, repository name and issue index."
          }
        },
        "external_tracker_regexp_pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External Issue Tracker issue regular expression"
          }
        },
        "external_tracker_style": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External Issue Tracker Number Format, either `numeric`, `alphanumeric`, or `regexp`"
          }
        },
        "external_tracker_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of external issue tracker."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ExternalTracker represents settings for external tracker"
      }
    },
    "com.forgejo.organization#ExternalWiki": {
      "type": "structure",
      "members": {
        "external_wiki_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of external wiki."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ExternalWiki represents setting for external wiki"
      }
    },
    "com.forgejo.organization#InternalTracker": {
      "type": "structure",
      "members": {
        "allow_only_contributors_to_track_time": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Let only contributors track time (Built-in issue tracker)"
          }
        },
        "enable_issue_dependencies": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable dependencies for issues and pull requests (Built-in issue tracker)"
          }
        },
        "enable_time_tracker": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable time tracking (Built-in issue tracker)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "InternalTracker represents settings for internal tracker"
      }
    },
    "com.forgejo.organization#RepositoryObjectFormatName": {
      "type": "enum",
      "members": {
        "SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sha1"
          }
        },
        "SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sha256"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ObjectFormatName of the underlying git repository"
      }
    },
    "com.forgejo.organization#Permission": {
      "type": "structure",
      "members": {
        "admin": {
          "target": "smithy.api#Boolean"
        },
        "pull": {
          "target": "smithy.api#Boolean"
        },
        "push": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Permission represents a set of permissions"
      }
    },
    "com.forgejo.organization#RepoTransfer": {
      "type": "structure",
      "members": {
        "doer": {
          "target": "com.forgejo.organization#User"
        },
        "recipient": {
          "target": "com.forgejo.organization#User"
        },
        "teams": {
          "target": "com.forgejo.organization#RepoTransferTeamsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "RepoTransfer represents a pending repo transfer"
      }
    },
    "com.forgejo.organization#Team": {
      "type": "structure",
      "members": {
        "can_create_org_repo": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "includes_all_repositories": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organization": {
          "target": "com.forgejo.organization#Organization"
        },
        "permission": {
          "target": "com.forgejo.organization#TeamPermission"
        },
        "units": {
          "target": "com.forgejo.organization#TeamUnitsList"
        },
        "units_map": {
          "target": "com.forgejo.organization#TeamUnitsMapMap"
        }
      },
      "traits": {
        "smithy.api#documentation": "Team represents a team in an organization"
      }
    },
    "com.forgejo.organization#TeamPermission": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner"
          }
        }
      },
      "traits": {}
    },
    "com.forgejo.organization#TeamUnitsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.organization#TeamUnitsMapMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.organization#RepoTransferTeamsList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.organization#Team"
      },
      "traits": {}
    },
    "com.forgejo.organization#RepositoryTopicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgListActivityFeedsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.organization#Activity"
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgListActivityFeedsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.organization#OrgListActivityFeedsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.organization#OrgListActivityFeeds": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgListActivityFeedsRequest"
      },
      "output": {
        "target": "com.forgejo.organization#OrgListActivityFeedsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/activities/feeds",
          "code": 200
        },
        "smithy.api#documentation": "List an organization's activity feeds"
      }
    },
    "com.forgejo.organization#OrgUpdateAvatarRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "image must be base64 encoded"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgUpdateAvatar": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgUpdateAvatarRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/{org}/avatar",
          "code": 200
        },
        "smithy.api#documentation": "Update an organization's avatar"
      }
    },
    "com.forgejo.organization#OrgDeleteAvatarRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgDeleteAvatar": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgDeleteAvatarRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}/avatar",
          "code": 200
        },
        "smithy.api#documentation": "Delete an organization's avatar. It will be replaced by a default one"
      }
    },
    "com.forgejo.organization#OrgBlockUserRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the org"
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "username of the user"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgBlockUser": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgBlockUserRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        },
        {
          "target": "com.forgejo.organization#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/orgs/{org}/block/{username}",
          "code": 200
        },
        "smithy.api#documentation": "Blocks a user from the organization"
      }
    },
    "com.forgejo.organization#OrgListHooksRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#Hook": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authorization_header": {
          "target": "smithy.api#String"
        },
        "branch_filter": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "com.forgejo.organization#HookConfigMap",
          "traits": {
            "smithy.api#documentation": "Deprecated: use Metadata instead"
          }
        },
        "content_type": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.forgejo.organization#HookEventsList"
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hook a hook is a web hook when one repository changed"
      }
    },
    "com.forgejo.organization#HookConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: use Metadata instead"
      }
    },
    "com.forgejo.organization#HookEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgListHooksResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.organization#Hook"
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgListHooksResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.organization#OrgListHooksResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.organization#OrgListHooks": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgListHooksRequest"
      },
      "output": {
        "target": "com.forgejo.organization#OrgListHooksResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/hooks",
          "code": 200
        },
        "smithy.api#documentation": "List an organization's webhooks"
      }
    },
    "com.forgejo.organization#CreateHookOptionConfig": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "CreateHookOptionConfig has all config options in it\nrequired are \"content_type\" and \"url\" Required"
      }
    },
    "com.forgejo.organization#OrgCreateHookRequestEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgCreateHookRequestType": {
      "type": "enum",
      "members": {
        "FORGEJO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forgejo"
          }
        },
        "DINGTALK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dingtalk"
          }
        },
        "DISCORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discord"
          }
        },
        "GITEA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitea"
          }
        },
        "GOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gogs"
          }
        },
        "MSTEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "msteams"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "TELEGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "telegram"
          }
        },
        "FEISHU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feishu"
          }
        },
        "WECHATWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wechatwork"
          }
        },
        "PACKAGIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "packagist"
          }
        }
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgCreateHookRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "active": {
          "target": "smithy.api#Boolean"
        },
        "authorization_header": {
          "target": "smithy.api#String"
        },
        "branch_filter": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "com.forgejo.organization#CreateHookOptionConfig",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.forgejo.organization#OrgCreateHookRequestEventsList"
        },
        "type": {
          "target": "com.forgejo.organization#OrgCreateHookRequestType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgCreateHook": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgCreateHookRequest"
      },
      "output": {
        "target": "com.forgejo.organization#Hook"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/{org}/hooks",
          "code": 200
        },
        "smithy.api#documentation": "Create a hook"
      }
    },
    "com.forgejo.organization#OrgGetHookRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of the hook to get"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgGetHook": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgGetHookRequest"
      },
      "output": {
        "target": "com.forgejo.organization#Hook"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/hooks/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a hook"
      }
    },
    "com.forgejo.organization#OrgEditHookRequestConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgEditHookRequestEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgEditHookRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of the hook to update"
          }
        },
        "active": {
          "target": "smithy.api#Boolean"
        },
        "authorization_header": {
          "target": "smithy.api#String"
        },
        "branch_filter": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "com.forgejo.organization#OrgEditHookRequestConfigMap"
        },
        "events": {
          "target": "com.forgejo.organization#OrgEditHookRequestEventsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgEditHook": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgEditHookRequest"
      },
      "output": {
        "target": "com.forgejo.organization#Hook"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/orgs/{org}/hooks/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a hook"
      }
    },
    "com.forgejo.organization#OrgDeleteHookRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of the hook to delete"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgDeleteHook": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgDeleteHookRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}/hooks/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a hook"
      }
    },
    "com.forgejo.organization#OrgListLabelsRequestSort": {
      "type": "enum",
      "members": {
        "MOSTISSUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mostissues"
          }
        },
        "LEASTISSUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leastissues"
          }
        },
        "REVERSEALPHABETICALLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reversealphabetically"
          }
        }
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgListLabelsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "sort": {
          "target": "com.forgejo.organization#OrgListLabelsRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Specifies the sorting method: mostissues, leastissues, or reversealphabetically."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#Label": {
      "type": "structure",
      "members": {
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "exclusive": {
          "target": "smithy.api#Boolean"
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_archived": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Label a label to an issue or a pr"
      }
    },
    "com.forgejo.organization#OrgListLabelsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.organization#Label"
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgListLabelsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.organization#OrgListLabelsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.organization#OrgListLabels": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgListLabelsRequest"
      },
      "output": {
        "target": "com.forgejo.organization#OrgListLabelsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/labels",
          "code": 200
        },
        "smithy.api#documentation": "List an organization's labels"
      }
    },
    "com.forgejo.organization#OrgCreateLabelRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "exclusive": {
          "target": "smithy.api#Boolean"
        },
        "is_archived": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgCreateLabel": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgCreateLabelRequest"
      },
      "output": {
        "target": "com.forgejo.organization#Label"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        },
        {
          "target": "com.forgejo.organization#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/{org}/labels",
          "code": 200
        },
        "smithy.api#documentation": "Create a label for an organization"
      }
    },
    "com.forgejo.organization#OrgGetLabelRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of the label to get"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgGetLabel": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgGetLabelRequest"
      },
      "output": {
        "target": "com.forgejo.organization#Label"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/labels/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a single label"
      }
    },
    "com.forgejo.organization#OrgEditLabelRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of the label to edit"
          }
        },
        "color": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "exclusive": {
          "target": "smithy.api#Boolean"
        },
        "is_archived": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgEditLabel": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgEditLabelRequest"
      },
      "output": {
        "target": "com.forgejo.organization#Label"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        },
        {
          "target": "com.forgejo.organization#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/orgs/{org}/labels/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a label"
      }
    },
    "com.forgejo.organization#OrgDeleteLabelRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of the label to delete"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgDeleteLabel": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgDeleteLabelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.organization#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}/labels/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a label"
      }
    },
    "com.forgejo.organization#OrgListBlockedUsersRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the org"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#BlockedUser": {
      "type": "structure",
      "members": {
        "block_id": {
          "target": "smithy.api#Integer"
        },
        "created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgListBlockedUsersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.organization#BlockedUser"
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgListBlockedUsersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.organization#OrgListBlockedUsersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.organization#OrgListBlockedUsers": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.organization#OrgListBlockedUsersRequest"
      },
      "output": {
        "target": "com.forgejo.organization#OrgListBlockedUsersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/list_blocked",
          "code": 200
        },
        "smithy.api#documentation": "List the organization's blocked users"
      }
    },
    "com.forgejo.organization#OrgListMembersRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the organization"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.organization#OrgListMembersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.organization#User"
      },
      "traits": {}
    },
    "com.forgejo.organization#OrgListMembersResponse": {
      "type": "structure",
      "members": {
        "body": {
[...]
