{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.forgejo.repository#RepoMigrateRequestService": {
      "type": "enum",
      "members": {
        "GIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITEA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitea"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gogs"
          }
        },
        "ONEDEV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "onedev"
          }
        },
        "GITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitbucket"
          }
        },
        "CODEBASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "codebase"
          }
        },
        "FORGEJO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forgejo"
          }
        },
        "PAGURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pagure"
          }
        }
      },
      "traits": {}
    },
    "com.forgejo.repository#RepoMigrateRequest": {
      "type": "structure",
      "members": {
        "auth_password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "auth_token": {
          "target": "smithy.api#String"
        },
        "auth_username": {
          "target": "smithy.api#String"
        },
        "clone_addr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "issues": {
          "target": "smithy.api#Boolean"
        },
        "labels": {
          "target": "smithy.api#Boolean"
        },
        "lfs": {
          "target": "smithy.api#Boolean"
        },
        "lfs_endpoint": {
          "target": "smithy.api#String"
        },
        "milestones": {
          "target": "smithy.api#Boolean"
        },
        "mirror": {
          "target": "smithy.api#Boolean"
        },
        "mirror_interval": {
          "target": "smithy.api#String"
        },
        "private": {
          "target": "smithy.api#Boolean"
        },
        "pull_requests": {
          "target": "smithy.api#Boolean"
        },
        "releases": {
          "target": "smithy.api#Boolean"
        },
        "repo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo_owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of User or Organisation who will own Repo after migration"
          }
        },
        "service": {
          "target": "com.forgejo.repository#RepoMigrateRequestService"
        },
        "uid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "deprecated (only for backwards compatibility)"
          }
        },
        "wiki": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#Repository": {
      "type": "structure",
      "members": {
        "allow_fast_forward_only_merge": {
          "target": "smithy.api#Boolean"
        },
        "allow_merge_commits": {
          "target": "smithy.api#Boolean"
        },
        "allow_rebase": {
          "target": "smithy.api#Boolean"
        },
        "allow_rebase_explicit": {
          "target": "smithy.api#Boolean"
        },
        "allow_rebase_update": {
          "target": "smithy.api#Boolean"
        },
        "allow_squash_merge": {
          "target": "smithy.api#Boolean"
        },
        "archived": {
          "target": "smithy.api#Boolean"
        },
        "archived_at": {
          "target": "smithy.api#String"
        },
        "avatar_url": {
          "target": "smithy.api#String"
        },
        "clone_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "default_allow_maintainer_edit": {
          "target": "smithy.api#Boolean"
        },
        "default_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "default_delete_branch_after_merge": {
          "target": "smithy.api#Boolean"
        },
        "default_merge_style": {
          "target": "smithy.api#String"
        },
        "default_update_style": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "empty": {
          "target": "smithy.api#Boolean"
        },
        "external_tracker": {
          "target": "com.forgejo.repository#ExternalTracker"
        },
        "external_wiki": {
          "target": "com.forgejo.repository#ExternalWiki"
        },
        "fork": {
          "target": "smithy.api#Boolean"
        },
        "forks_count": {
          "target": "smithy.api#Integer"
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "globally_editable_wiki": {
          "target": "smithy.api#Boolean"
        },
        "has_actions": {
          "target": "smithy.api#Boolean"
        },
        "has_issues": {
          "target": "smithy.api#Boolean"
        },
        "has_packages": {
          "target": "smithy.api#Boolean"
        },
        "has_projects": {
          "target": "smithy.api#Boolean"
        },
        "has_pull_requests": {
          "target": "smithy.api#Boolean"
        },
        "has_releases": {
          "target": "smithy.api#Boolean"
        },
        "has_wiki": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "is the wiki enabled"
          }
        },
        "has_wiki_contents": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "have wiki pages ever been created"
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ignore_whitespace_conflicts": {
          "target": "smithy.api#Boolean"
        },
        "internal": {
          "target": "smithy.api#Boolean"
        },
        "internal_tracker": {
          "target": "com.forgejo.repository#InternalTracker"
        },
        "language": {
          "target": "smithy.api#String"
        },
        "languages_url": {
          "target": "smithy.api#String"
        },
        "link": {
          "target": "smithy.api#String"
        },
        "mirror": {
          "target": "smithy.api#Boolean"
        },
        "mirror_interval": {
          "target": "smithy.api#String"
        },
        "mirror_updated": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object_format_name": {
          "target": "com.forgejo.repository#RepositoryObjectFormatName",
          "traits": {
            "smithy.api#documentation": "ObjectFormatName of the underlying git repository"
          }
        },
        "open_issues_count": {
          "target": "smithy.api#Integer"
        },
        "open_pr_counter": {
          "target": "smithy.api#Integer"
        },
        "original_url": {
          "target": "smithy.api#String"
        },
        "owner": {
          "target": "com.forgejo.repository#User",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent": {
          "target": "com.forgejo.repository#Repository"
        },
        "permissions": {
          "target": "com.forgejo.repository#Permission"
        },
        "private": {
          "target": "smithy.api#Boolean"
        },
        "release_counter": {
          "target": "smithy.api#Integer"
        },
        "repo_transfer": {
          "target": "com.forgejo.repository#RepoTransfer"
        },
        "size": {
          "target": "smithy.api#Integer"
        },
        "ssh_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stars_count": {
          "target": "smithy.api#Integer"
        },
        "template": {
          "target": "smithy.api#Boolean"
        },
        "topics": {
          "target": "com.forgejo.repository#RepositoryTopicsList"
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String"
        },
        "watchers_count": {
          "target": "smithy.api#Integer"
        },
        "website": {
          "target": "smithy.api#String"
        },
        "wiki_branch": {
          "target": "smithy.api#String"
        },
        "wiki_clone_url": {
          "target": "smithy.api#String"
        },
        "wiki_ssh_url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Repository represents a repository"
      }
    },
    "com.forgejo.repository#ExternalTracker": {
      "type": "structure",
      "members": {
        "external_tracker_format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External Issue Tracker URL Format. Use the placeholders {user}, {repo} and {index} for the username, repository name and issue index."
          }
        },
        "external_tracker_regexp_pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External Issue Tracker issue regular expression"
          }
        },
        "external_tracker_style": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External Issue Tracker Number Format, either `numeric`, `alphanumeric`, or `regexp`"
          }
        },
        "external_tracker_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of external issue tracker."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ExternalTracker represents settings for external tracker"
      }
    },
    "com.forgejo.repository#ExternalWiki": {
      "type": "structure",
      "members": {
        "external_wiki_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of external wiki."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ExternalWiki represents setting for external wiki"
      }
    },
    "com.forgejo.repository#InternalTracker": {
      "type": "structure",
      "members": {
        "allow_only_contributors_to_track_time": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Let only contributors track time (Built-in issue tracker)"
          }
        },
        "enable_issue_dependencies": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable dependencies for issues and pull requests (Built-in issue tracker)"
          }
        },
        "enable_time_tracker": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable time tracking (Built-in issue tracker)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "InternalTracker represents settings for internal tracker"
      }
    },
    "com.forgejo.repository#RepositoryObjectFormatName": {
      "type": "enum",
      "members": {
        "SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sha1"
          }
        },
        "SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sha256"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ObjectFormatName of the underlying git repository"
      }
    },
    "com.forgejo.repository#User": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is user active"
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the user's avatar"
          }
        },
        "created": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's description"
          }
        },
        "email": {
          "target": "smithy.api#String"
        },
        "followers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "user counts"
          }
        },
        "following_count": {
          "target": "smithy.api#Integer"
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's full name"
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the user's profile page"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the user's id",
            "smithy.api#required": {}
          }
        },
        "is_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is the user an administrator"
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User locale"
          }
        },
        "last_login": {
          "target": "smithy.api#String"
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's location"
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's username",
            "smithy.api#required": {}
          }
        },
        "login_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's authentication sign-in name."
          }
        },
        "prohibit_login": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is user login prohibited"
          }
        },
        "pronouns": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's pronouns"
          }
        },
        "restricted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is user restricted"
          }
        },
        "source_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the user's Authentication Source"
          }
        },
        "starred_repos_count": {
          "target": "smithy.api#Integer"
        },
        "visibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User visibility level option: public, limited, private"
          }
        },
        "website": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's website"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User represents a user"
      }
    },
    "com.forgejo.repository#Permission": {
      "type": "structure",
      "members": {
        "admin": {
          "target": "smithy.api#Boolean"
        },
        "pull": {
          "target": "smithy.api#Boolean"
        },
        "push": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Permission represents a set of permissions"
      }
    },
    "com.forgejo.repository#RepoTransfer": {
      "type": "structure",
      "members": {
        "doer": {
          "target": "com.forgejo.repository#User"
        },
        "recipient": {
          "target": "com.forgejo.repository#User"
        },
        "teams": {
          "target": "com.forgejo.repository#RepoTransferTeamsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "RepoTransfer represents a pending repo transfer"
      }
    },
    "com.forgejo.repository#Team": {
      "type": "structure",
      "members": {
        "can_create_org_repo": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "includes_all_repositories": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organization": {
          "target": "com.forgejo.repository#Organization"
        },
        "permission": {
          "target": "com.forgejo.repository#TeamPermission"
        },
        "units": {
          "target": "com.forgejo.repository#TeamUnitsList"
        },
        "units_map": {
          "target": "com.forgejo.repository#TeamUnitsMapMap"
        }
      },
      "traits": {
        "smithy.api#documentation": "Team represents a team in an organization"
      }
    },
    "com.forgejo.repository#Organization": {
      "type": "structure",
      "members": {
        "avatar_url": {
          "target": "smithy.api#String"
        },
        "created": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "full_name": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "repo_admin_change_team_access": {
          "target": "smithy.api#Boolean"
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "deprecated",
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "smithy.api#String"
        },
        "website": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Organization represents an organization"
      }
    },
    "com.forgejo.repository#TeamPermission": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner"
          }
        }
      },
      "traits": {}
    },
    "com.forgejo.repository#TeamUnitsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.repository#TeamUnitsMapMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.repository#RepoTransferTeamsList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.repository#Team"
      },
      "traits": {}
    },
    "com.forgejo.repository#RepositoryTopicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.repository#RepoMigrate": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#RepoMigrateRequest"
      },
      "output": {
        "target": "com.forgejo.repository#Repository"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#Forbidden"
        },
        {
          "target": "com.forgejo.repository#Conflict"
        },
        {
          "target": "com.forgejo.repository#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/repos/migrate",
          "code": 200
        },
        "smithy.api#documentation": "Migrate a remote git repository"
      }
    },
    "com.forgejo.repository#RepoSearchRequestSort": {
      "type": "enum",
      "members": {
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alpha"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        },
        "SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "size"
          }
        },
        "GIT_SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git_size"
          }
        },
        "LFS_SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lfs_size"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "STARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stars"
          }
        },
        "FORKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forks"
          }
        }
      },
      "traits": {}
    },
    "com.forgejo.repository#RepoSearchRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.forgejo.repository#RepoSearchRequest": {
      "type": "structure",
      "members": {
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q",
            "smithy.api#documentation": "keyword"
          }
        },
        "topic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "topic",
            "smithy.api#documentation": "Limit search to repositories with keyword as topic"
          }
        },
        "includeDesc": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeDesc",
            "smithy.api#documentation": "include search of keyword within repository description"
          }
        },
        "uid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "uid",
            "smithy.api#documentation": "search only for repos that the user with the given id owns or contributes to"
          }
        },
        "priority_owner_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "priority_owner_id",
            "smithy.api#documentation": "repo owner to prioritize in the results"
          }
        },
        "team_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "team_id",
            "smithy.api#documentation": "search only for repos that belong to the given team id"
          }
        },
        "starredBy": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "starredBy",
            "smithy.api#documentation": "search only for repos that the user with the given id has starred"
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "private",
            "smithy.api#documentation": "include private repositories this user has access to (defaults to true)"
          }
        },
        "is_private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "is_private",
            "smithy.api#documentation": "show only public, private or all repositories (defaults to all)"
          }
        },
        "template": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "template",
            "smithy.api#documentation": "show only template, non-template or all repositories (defaults to all)"
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "archived",
            "smithy.api#documentation": "show only archived, non-archived or all repositories (defaults to all)"
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "mode",
            "smithy.api#documentation": "type of repository to search for. Supported values are \"fork\", \"source\", \"mirror\" and \"collaborative\""
          }
        },
        "exclusive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "exclusive",
            "smithy.api#documentation": "if `uid` is given, search only for repos that the user owns"
          }
        },
        "sort": {
          "target": "com.forgejo.repository#RepoSearchRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "sort repos by attribute. Supported values are \"alpha\", \"created\", \"updated\", \"size\", \"git_size\", \"lfs_size\", \"stars\", \"forks\" and \"id\". Default is \"alpha\""
          }
        },
        "order": {
          "target": "com.forgejo.repository#RepoSearchRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "sort order, either \"asc\" (ascending) or \"desc\" (descending). Default is \"asc\", ignored if \"sort\" is not specified."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#SearchResults": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.forgejo.repository#SearchResultsDataList"
        },
        "ok": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "SearchResults results of a successful search"
      }
    },
    "com.forgejo.repository#SearchResultsDataList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.repository#Repository"
      },
      "traits": {}
    },
    "com.forgejo.repository#RepoSearch": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#RepoSearchRequest"
      },
      "output": {
        "target": "com.forgejo.repository#SearchResults"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/search",
          "code": 200
        },
        "smithy.api#documentation": "Search for repositories"
      }
    },
    "com.forgejo.repository#RepoGetRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#RepoGet": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#RepoGetRequest"
      },
      "output": {
        "target": "com.forgejo.repository#Repository"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}",
          "code": 200
        },
        "smithy.api#documentation": "Get a repository"
      }
    },
    "com.forgejo.repository#RepoEditRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo to edit"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo to edit"
          }
        },
        "allow_fast_forward_only_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to allow fast-forward-only merging pull requests, or `false` to prevent fast-forward-only merging."
          }
        },
        "allow_manual_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to allow mark pr as merged manually, or `false` to prevent it."
          }
        },
        "allow_merge_commits": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to allow merging pull requests with a merge commit, or `false` to prevent merging pull requests with merge commits."
          }
        },
        "allow_rebase": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to allow rebase-merging pull requests, or `false` to prevent rebase-merging."
          }
        },
        "allow_rebase_explicit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to allow rebase with explicit merge commits (--no-ff), or `false` to prevent rebase with explicit merge commits."
          }
        },
        "allow_rebase_update": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to allow updating pull request branch by rebase, or `false` to prevent it."
          }
        },
        "allow_squash_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to allow squash-merging pull requests, or `false` to prevent squash-merging."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "set to `true` to archive this repository."
          }
        },
        "autodetect_manual_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to enable AutodetectManualMerge, or `false` to prevent it. Note: In some special cases, misjudgments can occur."
          }
        },
        "default_allow_maintainer_edit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "set to `true` to allow edits from maintainers by default"
          }
        },
        "default_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "sets the default branch for this repository."
          }
        },
        "default_delete_branch_after_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "set to `true` to delete pr branch after merge by default"
          }
        },
        "default_merge_style": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "set to a merge style to be used by this repository: \"merge\", \"rebase\", \"rebase-merge\", \"squash\", \"fast-forward-only\", \"manually-merged\", or \"rebase-update-only\"."
          }
        },
        "default_update_style": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "set to a update style to be used by this repository: \"rebase\" or \"merge\""
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a short description of the repository."
          }
        },
        "enable_prune": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "enable prune - remove obsolete remote-tracking references when mirroring"
          }
        },
        "external_tracker": {
          "target": "com.forgejo.repository#ExternalTracker"
        },
        "external_wiki": {
          "target": "com.forgejo.repository#ExternalWiki"
        },
        "globally_editable_wiki": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "set the globally editable state of the wiki"
          }
        },
        "has_actions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to enable actions unit, or `false` to disable them."
          }
        },
        "has_issues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to enable issues for this repository or `false` to disable them."
          }
        },
        "has_packages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to enable packages unit, or `false` to disable them."
          }
        },
        "has_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to enable project unit, or `false` to disable them."
          }
        },
        "has_pull_requests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to allow pull requests, or `false` to prevent pull request."
          }
        },
        "has_releases": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to enable releases unit, or `false` to disable them."
          }
        },
        "has_wiki": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to enable the wiki for this repository or `false` to disable it."
          }
        },
        "ignore_whitespace_conflicts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to ignore whitespace for conflicts, or `false` to not ignore whitespace."
          }
        },
        "internal_tracker": {
          "target": "com.forgejo.repository#InternalTracker"
        },
        "mirror_interval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "set to a string like `8h30m0s` to set the mirror interval time"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name of the repository"
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to make the repository private or `false` to make it public.\nNote: you will get a 422 error if the organization restricts changing repository visibility to organization\nowners and a non-owner tries to change the value of private."
          }
        },
        "template": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "either `true` to make this repository a template or `false` to make it a normal repository"
          }
        },
        "website": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a URL with more information about the repository."
          }
        },
        "wiki_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "sets the branch used for this repository's wiki."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#RepoEdit": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#RepoEditRequest"
      },
      "output": {
        "target": "com.forgejo.repository#Repository"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#Forbidden"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        },
        {
          "target": "com.forgejo.repository#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/repos/{owner}/{repo}",
          "code": 200
        },
        "smithy.api#documentation": "Edit a repository's properties. Only fields that are set will be changed."
      }
    },
    "com.forgejo.repository#RepoDeleteRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo to delete"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo to delete"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#RepoDelete": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#RepoDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#Forbidden"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/repos/{owner}/{repo}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a repository"
      }
    },
    "com.forgejo.repository#ListActionArtifactsRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "filter by artifact name"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results, default maximum page size is 50"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#ActionArtifact": {
      "type": "structure",
      "members": {
        "archive_download_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the URL to download the artifact zip archive"
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "expired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the artifact has expired"
          }
        },
        "expires_at": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the artifact's ID"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the artifact's name"
          }
        },
        "run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the ID of the workflow run that produced this artifact"
          }
        },
        "size_in_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the total size of the artifact in bytes"
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "ActionArtifact represents an artifact of a workflow run"
      }
    },
    "com.forgejo.repository#ListActionArtifactsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.repository#ActionArtifact"
      },
      "traits": {}
    },
    "com.forgejo.repository#ListActionArtifactsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.repository#ListActionArtifactsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.repository#ListActionArtifacts": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#ListActionArtifactsRequest"
      },
      "output": {
        "target": "com.forgejo.repository#ListActionArtifactsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#BadRequest"
        },
        {
          "target": "com.forgejo.repository#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/actions/artifacts",
          "code": 200
        },
        "smithy.api#documentation": "List a repository's artifacts"
      }
    },
    "com.forgejo.repository#GetActionArtifactRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "artifact_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the artifact"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#GetActionArtifact": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#GetActionArtifactRequest"
      },
      "output": {
        "target": "com.forgejo.repository#ActionArtifact"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#BadRequest"
        },
        {
          "target": "com.forgejo.repository#Forbidden"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/actions/artifacts/{artifact_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get an artifact by ID"
      }
    },
    "com.forgejo.repository#DeleteActionArtifactRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "artifact_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the artifact"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#DeleteActionArtifact": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#DeleteActionArtifactRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#BadRequest"
        },
        {
          "target": "com.forgejo.repository#Forbidden"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/repos/{owner}/{repo}/actions/artifacts/{artifact_id}",
          "code": 200
        },
        "smithy.api#documentation": "Mark an artifact for deletion\n\nMarks the artifact for deletion. Storage space will be reclaimed\nasynchronously by a background job."
      }
    },
    "com.forgejo.repository#DownloadActionArtifactRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "artifact_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the artifact"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#DownloadActionArtifact": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#DownloadActionArtifactRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#BadRequest"
        },
        {
          "target": "com.forgejo.repository#Forbidden"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/actions/artifacts/{artifact_id}/zip",
          "code": 200
        },
        "smithy.api#documentation": "Download an artifact"
      }
    },
    "com.forgejo.repository#RepoGetActionJobLogsRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "job_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the workflow job"
          }
        },
        "attempt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "attempt",
            "smithy.api#documentation": "1-based attempt number matching the value of `attempt` in the job listing; omit to fetch the latest attempt of the job"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#RepoGetActionJobLogsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.repository#RepoGetActionJobLogs": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#RepoGetActionJobLogsRequest"
      },
      "output": {
        "target": "com.forgejo.repository#RepoGetActionJobLogsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#Forbidden"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/actions/jobs/{job_id}/logs",
          "code": 200
        },
        "smithy.api#documentation": "Download the plaintext logs of an action job\n\nReturns the plaintext log for the job. By default the log for the most recent attempt is returned (ActionRunJob.TaskID tracks the latest task). Pass `?attempt=N` to fetch the log for a specific historical attempt; the value matches the `attempt` field returned by the job listing endpoints."
      }
    },
    "com.forgejo.repository#GetRepoRunnersRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "visible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "visible",
            "smithy.api#documentation": "whether to include all visible runners (true) or only those that are directly owned by the repository (false)"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#ActionRunner": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description provides optional details about this runner."
          }
        },
        "ephemeral": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if runner is ephemeral runner"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID uniquely identifies this runner."
          }
        },
        "labels": {
          "target": "com.forgejo.repository#ActionRunnerLabelsList",
          "traits": {
            "smithy.api#documentation": "Labels is a list of labels attached to this runner."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the runner; not unique."
          }
        },
        "owner_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "OwnerID is the identifier of the user or organization this runner belongs to. O if the runner is owned by a\nrepository."
          }
        },
        "repo_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "RepoID is the identifier of the repository this runner belongs to. 0 if the runner belongs to a user or\norganization."
          }
        },
        "status": {
          "target": "com.forgejo.repository#ActionRunnerStatus",
          "traits": {
            "smithy.api#documentation": "Status indicates whether this runner is offline, or active, for example."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID uniquely identifies this runner."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version is the self-reported version string of Forgejo Runner."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ActionRunner represents a runner"
      }
    },
    "com.forgejo.repository#ActionRunnerLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels is a list of labels attached to this runner."
      }
    },
    "com.forgejo.repository#ActionRunnerStatus": {
      "type": "enum",
      "members": {
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "offline"
          }
        },
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idle"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status indicates whether this runner is offline, or active, for example."
      }
    },
    "com.forgejo.repository#GetRepoRunnersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.repository#ActionRunner"
      },
      "traits": {}
    },
    "com.forgejo.repository#GetRepoRunnersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.repository#GetRepoRunnersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.repository#GetRepoRunners": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#GetRepoRunnersRequest"
      },
      "output": {
        "target": "com.forgejo.repository#GetRepoRunnersResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#BadRequest"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/actions/runners",
          "code": 200
        },
        "smithy.api#documentation": "Get runners belonging to the repository"
      }
    },
    "com.forgejo.repository#RegisterRepoRunnerRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the runner to register."
          }
        },
        "ephemeral": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Register as ephemeral runner https://forgejo.org/docs/latest/admin/actions/security/#ephemeral-runner"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the runner to register. The name of the runner does not have to be unique.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#RegisterRunnerResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "token": {
          "target": "smithy.api#String"
        },
        "uuid": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.forgejo.repository#RegisterRepoRunner": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#RegisterRepoRunnerRequest"
      },
      "output": {
        "target": "com.forgejo.repository#RegisterRunnerResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#BadRequest"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/repos/{owner}/{repo}/actions/runners",
          "code": 200
        },
        "smithy.api#documentation": "Register a new repository-level runner"
      }
    },
    "com.forgejo.repository#RepoSearchRunJobsRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "labels": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "labels",
            "smithy.api#documentation": "a comma separated list of run job labels to search for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#ActionRunJob": {
      "type": "structure",
      "members": {
        "attempt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many times the job has been attempted including the current attempt."
          }
        },
        "handle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque identifier that uniquely identifies a single attempt of a job."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Identifier of this job."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the action run job name"
          }
        },
        "needs": {
          "target": "com.forgejo.repository#ActionRunJobNeedsList",
          "traits": {
            "smithy.api#documentation": "the action run job needed ids"
          }
        },
        "owner_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the owner id"
          }
        },
        "repo_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the repository id"
          }
        },
        "run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Identifier of the workflow run this job belongs to."
          }
        },
        "runs_on": {
          "target": "com.forgejo.repository#ActionRunJobRunsOnList",
          "traits": {
            "smithy.api#documentation": "the action run job labels to run on"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the action run job status"
          }
        },
        "task_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the action run job latest task id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ActionRunJob represents a job of a run"
      }
    },
    "com.forgejo.repository#ActionRunJobNeedsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "the action run job needed ids"
      }
    },
    "com.forgejo.repository#ActionRunJobRunsOnList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "the action run job labels to run on"
      }
    },
    "com.forgejo.repository#RepoSearchRunJobsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.repository#ActionRunJob"
      },
      "traits": {}
    },
    "com.forgejo.repository#RepoSearchRunJobsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.repository#RepoSearchRunJobsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.repository#RepoSearchRunJobs": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#RepoSearchRunJobsRequest"
      },
      "output": {
        "target": "com.forgejo.repository#RepoSearchRunJobsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/actions/runners/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Search for repository's action jobs according filter conditions"
      }
    },
    "com.forgejo.repository#GetRepoRunnerRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "runner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the runner"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#GetRepoRunner": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#GetRepoRunnerRequest"
      },
      "output": {
        "target": "com.forgejo.repository#ActionRunner"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#BadRequest"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/actions/runners/{runner_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a particular runner that belongs to the repository"
      }
    },
    "com.forgejo.repository#DeleteRepoRunnerRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "runner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the runner"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#DeleteRepoRunner": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#DeleteRepoRunnerRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#BadRequest"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/repos/{owner}/{repo}/actions/runners/{runner_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a particular runner that belongs to a repository"
      }
    },
    "com.forgejo.repository#ListActionRunsRequestEventList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.repository#ListActionRunsRequestStatusItem": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failure"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        }
      },
      "traits": {}
    },
    "com.forgejo.repository#ListActionRunsRequestStatusList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.repository#ListActionRunsRequestStatusItem"
      },
      "traits": {}
    },
    "com.forgejo.repository#ListActionRunsRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results, default maximum page size is 50"
          }
        },
        "event": {
          "target": "com.forgejo.repository#ListActionRunsRequestEventList",
          "traits": {
            "smithy.api#httpQuery": "event",
            "smithy.api#documentation": "Returns workflow run triggered by the specified events. For example, `push`, `pull_request` or `workflow_dispatch`."
          }
        },
        "status": {
          "target": "com.forgejo.repository#ListActionRunsRequestStatusList",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Returns workflow runs with the check run status or conclusion that is specified. For example, a conclusion can be success or a status can be in_progress. Only Forgejo Actions can set a status of waiting, pending, or requested.\n"
          }
        },
        "run_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "run_number",
            "smithy.api#documentation": "Returns the workflow run associated with the run number.\n"
          }
        },
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "head_sha",
            "smithy.api#documentation": "Only returns workflow runs that are associated with the specified head_sha."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ref",
            "smithy.api#documentation": "Only return workflow runs that involve the given Git reference, for example, `refs/heads/main`."
          }
        },
        "workflow_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "workflow_id",
            "smithy.api#documentation": "Only return workflow runs that involve the given workflow ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#ListActionRunResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer"
        },
        "workflow_runs": {
          "target": "com.forgejo.repository#ListActionRunResponseWorkflowRunsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "ListActionRunResponse return a list of ActionRun"
      }
    },
    "com.forgejo.repository#ActionRun": {
      "type": "structure",
      "members": {
        "ScheduleID": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the cron id for the schedule trigger"
          }
        },
        "approved_by": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "who approved this action run"
          }
        },
        "commit_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the commit sha the action run ran on"
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "when the action run was created"
          }
        },
        "duration": {
          "target": "smithy.api#Integer"
        },
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the webhook event that causes the workflow to run"
          }
        },
        "event_payload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the payload of the webhook event that causes the workflow to run"
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the url of this action run"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the action run id"
          }
        },
        "index_in_repo": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "a unique number for each run of a repository"
          }
        },
        "is_fork_pull_request": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this is triggered by a PR from a forked repository or an untrusted user, we need to check if it is approved and limit permissions when running the workflow."
          }
        },
        "is_ref_deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "has the commit/tag/… the action run ran on been deleted"
          }
        },
        "need_approval": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "may need approval if it's a fork pull request"
          }
        },
        "prettyref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the commit/tag/… the action run ran on"
          }
        },
        "repository": {
          "target": "com.forgejo.repository#Repository"
        },
        "started": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "when the action run was started"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the current status of this run"
          }
        },
        "stopped": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "when the action run was stopped"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the action run's title"
          }
        },
        "trigger_event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the trigger event defined in the `on` configuration of the triggered workflow"
          }
        },
        "trigger_user": {
          "target": "com.forgejo.repository#User"
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "when the action run was last updated"
          }
        },
        "workflow_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of workflow file"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ActionRun represents an action run"
      }
    },
    "com.forgejo.repository#ListActionRunResponseWorkflowRunsList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.repository#ActionRun"
      },
      "traits": {}
    },
    "com.forgejo.repository#ListActionRuns": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#ListActionRunsRequest"
      },
      "output": {
        "target": "com.forgejo.repository#ListActionRunResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#BadRequest"
        },
        {
          "target": "com.forgejo.repository#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/actions/runs",
          "code": 200
        },
        "smithy.api#documentation": "List a repository's action runs"
      }
    },
    "com.forgejo.repository#ActionRunRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of the action run"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#ActionRun2": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#ActionRunRequest"
      },
      "output": {
        "target": "com.forgejo.repository#ActionRun"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#BadRequest"
        },
        {
          "target": "com.forgejo.repository#Forbidden"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/actions/runs/{run_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get an action run"
      }
    },
    "com.forgejo.repository#DeleteActionRunRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of the action run"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#DeleteActionRun": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#DeleteActionRunRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#BadRequest"
        },
        {
          "target": "com.forgejo.repository#Forbidden"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/repos/{owner}/{repo}/actions/runs/{run_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a completed workflow run.\n\nRemove a particular workflow run. The workflow run must have completed (succeeded, failed, cancelled) for the operation to succeed. Otherwise, an error is returned."
      }
    },
    "com.forgejo.repository#ListActionRunArtifactsRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the workflow run"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "filter by artifact name"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results, default maximum page size is 50"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#ListActionRunArtifactsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.repository#ActionArtifact"
      },
      "traits": {}
    },
    "com.forgejo.repository#ListActionRunArtifactsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.repository#ListActionRunArtifactsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.repository#ListActionRunArtifacts": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#ListActionRunArtifactsRequest"
      },
      "output": {
        "target": "com.forgejo.repository#ListActionRunArtifactsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#BadRequest"
        },
        {
          "target": "com.forgejo.repository#Forbidden"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/actions/runs/{run_id}/artifacts",
          "code": 200
        },
        "smithy.api#documentation": "List artifacts of a workflow run"
      }
    },
    "com.forgejo.repository#CancelActionRunRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the workflow run"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#CancelActionRun": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#CancelActionRunRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#Forbidden"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/repos/{owner}/{repo}/actions/runs/{run_id}/cancel",
          "code": 200
        },
        "smithy.api#documentation": "Cancel a pending or running workflow run.\n\nCancel a particular workflow run. Pending or running jobs of the run are cancelled. A run that has already finished, whether cancelled, failed, skipped or succeeded, is left unchanged. In both cases the endpoint responds with HTTP 204."
      }
    },
    "com.forgejo.repository#ListActionRunJobsRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the workflow run"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#ListActionRunJobsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.repository#ActionRunJob"
      },
      "traits": {}
    },
    "com.forgejo.repository#ListActionRunJobsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.repository#ListActionRunJobsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.repository#ListActionRunJobs": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#ListActionRunJobsRequest"
      },
      "output": {
        "target": "com.forgejo.repository#ListActionRunJobsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#BadRequest"
        },
        {
          "target": "com.forgejo.repository#Forbidden"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/actions/runs/{run_id}/jobs",
          "code": 200
        },
        "smithy.api#documentation": "List jobs of a workflow run"
      }
    },
    "com.forgejo.repository#RepoGetActionRunLogsRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repo"
          }
        },
        "run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the workflow run. The ZIP contains the latest attempt of each job in the run, with each entry named `{job-name}-{job-id}-attempt-{N}.log` (the job ID prevents collisions when two jobs share a name; the attempt number records which run the log came from). The run itself has no attempt number — jobs are re-run independently, so use the per-job logs endpoint with `?attempt` to fetch a specific historical attempt of one job.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#RepoGetActionRunLogsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.repository#RepoGetActionRunLogs": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#RepoGetActionRunLogsRequest"
      },
      "output": {
        "target": "com.forgejo.repository#RepoGetActionRunLogsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#Forbidden"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/actions/runs/{run_id}/logs",
          "code": 200
        },
        "smithy.api#documentation": "Download a ZIP of plaintext logs for every job in an action run"
      }
    },
    "com.forgejo.repository#RepoListActionsSecretsRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repository"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repository"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#Secret": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the secret's name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Secret represents a secret"
      }
    },
    "com.forgejo.repository#RepoListActionsSecretsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.repository#Secret"
      },
      "traits": {}
    },
    "com.forgejo.repository#RepoListActionsSecretsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.repository#RepoListActionsSecretsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.repository#RepoListActionsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#RepoListActionsSecretsRequest"
      },
      "output": {
        "target": "com.forgejo.repository#RepoListActionsSecretsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#Forbidden"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/actions/secrets",
          "code": 200
        },
        "smithy.api#documentation": "List an repo's actions secrets"
      }
    },
    "com.forgejo.repository#UpdateRepoSecretRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "owner of the repository"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the repository"
          }
        },
        "secretname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the secret"
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data of the secret. Special characters will be retained. Line endings will be normalized to LF to match the\nbehaviour of browsers. Encode the data with Base64 if line endings should be retained.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.repository#UpdateRepoSecret": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.repository#UpdateRepoSecretRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.repository#BadRequest"
        },
        {
          "target": "com.forgejo.repository#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/repos/{owner}/{repo}/actions/secrets/{secretname}",
          "code": 200
        },
        "smithy.api#documentation": "Create or Update a secret value in a repository"
      }
    },
    "com.forgejo.repository#DeleteRepoSecretRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
[...]
