{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.forgejo.user#User": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is user active"
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the user's avatar"
          }
        },
        "created": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's description"
          }
        },
        "email": {
          "target": "smithy.api#String"
        },
        "followers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "user counts"
          }
        },
        "following_count": {
          "target": "smithy.api#Integer"
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's full name"
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the user's profile page"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the user's id",
            "smithy.api#required": {}
          }
        },
        "is_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is the user an administrator"
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User locale"
          }
        },
        "last_login": {
          "target": "smithy.api#String"
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's location"
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's username",
            "smithy.api#required": {}
          }
        },
        "login_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's authentication sign-in name."
          }
        },
        "prohibit_login": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is user login prohibited"
          }
        },
        "pronouns": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's pronouns"
          }
        },
        "restricted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is user restricted"
          }
        },
        "source_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the user's Authentication Source"
          }
        },
        "starred_repos_count": {
          "target": "smithy.api#Integer"
        },
        "visibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User visibility level option: public, limited, private"
          }
        },
        "website": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's website"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User represents a user"
      }
    },
    "com.forgejo.user#UserGetCurrent": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.forgejo.user#User"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user",
          "code": 200
        },
        "smithy.api#documentation": "Get the authenticated user"
      }
    },
    "com.forgejo.user#GetUserRunnersRequest": {
      "type": "structure",
      "members": {
        "visible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "visible",
            "smithy.api#documentation": "whether to include all visible runners (true) or only those that are directly owned by the user (false)"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#ActionRunner": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description provides optional details about this runner."
          }
        },
        "ephemeral": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if runner is ephemeral runner"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID uniquely identifies this runner."
          }
        },
        "labels": {
          "target": "com.forgejo.user#ActionRunnerLabelsList",
          "traits": {
            "smithy.api#documentation": "Labels is a list of labels attached to this runner."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the runner; not unique."
          }
        },
        "owner_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "OwnerID is the identifier of the user or organization this runner belongs to. O if the runner is owned by a\nrepository."
          }
        },
        "repo_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "RepoID is the identifier of the repository this runner belongs to. 0 if the runner belongs to a user or\norganization."
          }
        },
        "status": {
          "target": "com.forgejo.user#ActionRunnerStatus",
          "traits": {
            "smithy.api#documentation": "Status indicates whether this runner is offline, or active, for example."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID uniquely identifies this runner."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version is the self-reported version string of Forgejo Runner."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ActionRunner represents a runner"
      }
    },
    "com.forgejo.user#ActionRunnerLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels is a list of labels attached to this runner."
      }
    },
    "com.forgejo.user#ActionRunnerStatus": {
      "type": "enum",
      "members": {
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "offline"
          }
        },
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idle"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status indicates whether this runner is offline, or active, for example."
      }
    },
    "com.forgejo.user#GetUserRunnersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#ActionRunner"
      },
      "traits": {}
    },
    "com.forgejo.user#GetUserRunnersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.user#GetUserRunnersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#GetUserRunners": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#GetUserRunnersRequest"
      },
      "output": {
        "target": "com.forgejo.user#GetUserRunnersResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#BadRequest"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/actions/runners",
          "code": 200
        },
        "smithy.api#documentation": "Get the user's runners"
      }
    },
    "com.forgejo.user#RegisterUserRunnerRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the runner to register."
          }
        },
        "ephemeral": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Register as ephemeral runner https://forgejo.org/docs/latest/admin/actions/security/#ephemeral-runner"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the runner to register. The name of the runner does not have to be unique.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#RegisterRunnerResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "token": {
          "target": "smithy.api#String"
        },
        "uuid": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.forgejo.user#RegisterUserRunner": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#RegisterUserRunnerRequest"
      },
      "output": {
        "target": "com.forgejo.user#RegisterRunnerResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#BadRequest"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/user/actions/runners",
          "code": 200
        },
        "smithy.api#documentation": "Register a new user-level runner"
      }
    },
    "com.forgejo.user#UserSearchRunJobsRequest": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "labels",
            "smithy.api#documentation": "a comma separated list of run job labels to search for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#ActionRunJob": {
      "type": "structure",
      "members": {
        "attempt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many times the job has been attempted including the current attempt."
          }
        },
        "handle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque identifier that uniquely identifies a single attempt of a job."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Identifier of this job."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the action run job name"
          }
        },
        "needs": {
          "target": "com.forgejo.user#ActionRunJobNeedsList",
          "traits": {
            "smithy.api#documentation": "the action run job needed ids"
          }
        },
        "owner_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the owner id"
          }
        },
        "repo_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the repository id"
          }
        },
        "run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Identifier of the workflow run this job belongs to."
          }
        },
        "runs_on": {
          "target": "com.forgejo.user#ActionRunJobRunsOnList",
          "traits": {
            "smithy.api#documentation": "the action run job labels to run on"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the action run job status"
          }
        },
        "task_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the action run job latest task id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ActionRunJob represents a job of a run"
      }
    },
    "com.forgejo.user#ActionRunJobNeedsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "the action run job needed ids"
      }
    },
    "com.forgejo.user#ActionRunJobRunsOnList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "the action run job labels to run on"
      }
    },
    "com.forgejo.user#UserSearchRunJobsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#ActionRunJob"
      },
      "traits": {}
    },
    "com.forgejo.user#UserSearchRunJobsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.user#UserSearchRunJobsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#UserSearchRunJobs": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserSearchRunJobsRequest"
      },
      "output": {
        "target": "com.forgejo.user#UserSearchRunJobsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/actions/runners/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Search for user's action jobs according filter conditions"
      }
    },
    "com.forgejo.user#GetUserRunnerRequest": {
      "type": "structure",
      "members": {
        "runner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the runner"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#GetUserRunner": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#GetUserRunnerRequest"
      },
      "output": {
        "target": "com.forgejo.user#ActionRunner"
      },
      "errors": [
        {
          "target": "com.forgejo.user#BadRequest"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/actions/runners/{runner_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a particular runner that belongs to the user"
      }
    },
    "com.forgejo.user#DeleteUserRunnerRequest": {
      "type": "structure",
      "members": {
        "runner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the runner"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#DeleteUserRunner": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#DeleteUserRunnerRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#BadRequest"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/user/actions/runners/{runner_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a particular user-level runner"
      }
    },
    "com.forgejo.user#UpdateUserSecretRequest": {
      "type": "structure",
      "members": {
        "secretname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the secret"
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data of the secret. Special characters will be retained. Line endings will be normalized to LF to match the\nbehaviour of browsers. Encode the data with Base64 if line endings should be retained.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UpdateUserSecret": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UpdateUserSecretRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#BadRequest"
        },
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/user/actions/secrets/{secretname}",
          "code": 200
        },
        "smithy.api#documentation": "Create or Update a secret value in a user scope"
      }
    },
    "com.forgejo.user#DeleteUserSecretRequest": {
      "type": "structure",
      "members": {
        "secretname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the secret"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#DeleteUserSecret": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#DeleteUserSecretRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#BadRequest"
        },
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/user/actions/secrets/{secretname}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a secret in a user scope"
      }
    },
    "com.forgejo.user#GetUserVariablesListRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#ActionVariable": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the value of the variable",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of the variable",
            "smithy.api#required": {}
          }
        },
        "owner_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the owner to which the variable belongs"
          }
        },
        "repo_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the repository to which the variable belongs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ActionVariable return value of the query API"
      }
    },
    "com.forgejo.user#GetUserVariablesListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#ActionVariable"
      },
      "traits": {}
    },
    "com.forgejo.user#GetUserVariablesListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.user#GetUserVariablesListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#GetUserVariablesList": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#GetUserVariablesListRequest"
      },
      "output": {
        "target": "com.forgejo.user#GetUserVariablesListResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#BadRequest"
        },
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/actions/variables",
          "code": 200
        },
        "smithy.api#documentation": "Get the user-level list of variables which is created by current doer"
      }
    },
    "com.forgejo.user#GetUserVariableRequest": {
      "type": "structure",
      "members": {
        "variablename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the variable"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#GetUserVariable": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#GetUserVariableRequest"
      },
      "output": {
        "target": "com.forgejo.user#ActionVariable"
      },
      "errors": [
        {
          "target": "com.forgejo.user#BadRequest"
        },
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/actions/variables/{variablename}",
          "code": 200
        },
        "smithy.api#documentation": "Get a user-level variable which is created by current doer"
      }
    },
    "com.forgejo.user#CreateUserVariableRequest": {
      "type": "structure",
      "members": {
        "variablename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the variable"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the variable to create. Special characters will be retained. Line endings will be normalized to LF to\nmatch the behaviour of browsers. Encode the data with Base64 if line endings should be retained.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#CreateUserVariable": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#CreateUserVariableRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#BadRequest"
        },
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/user/actions/variables/{variablename}",
          "code": 200
        },
        "smithy.api#documentation": "Create a user-level variable"
      }
    },
    "com.forgejo.user#UpdateUserVariableRequest": {
      "type": "structure",
      "members": {
        "variablename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the variable"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New name for the variable. If the field is empty, the variable name won't be updated. Forgejo will convert it to\nuppercase."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the variable to update. Special characters will be retained. Line endings will be normalized to LF to\nmatch the behaviour of browsers. Encode the data with Base64 if line endings should be retained.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UpdateUserVariable": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UpdateUserVariableRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#BadRequest"
        },
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/user/actions/variables/{variablename}",
          "code": 200
        },
        "smithy.api#documentation": "Update a user-level variable which is created by current doer"
      }
    },
    "com.forgejo.user#DeleteUserVariableRequest": {
      "type": "structure",
      "members": {
        "variablename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the variable"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#DeleteUserVariable": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#DeleteUserVariableRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#BadRequest"
        },
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/user/actions/variables/{variablename}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a user-level variable which is created by current doer"
      }
    },
    "com.forgejo.user#UserCurrentActivityPubFollowRequest": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCurrentActivityPubFollow": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCurrentActivityPubFollowRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/user/activitypub/follow",
          "code": 200
        },
        "smithy.api#documentation": "Follow a remote activitypub account"
      }
    },
    "com.forgejo.user#UserGetOAuth2ApplicationsRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#OAuth2Application": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String"
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "confidential_client": {
          "target": "smithy.api#Boolean"
        },
        "created": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "redirect_uris": {
          "target": "com.forgejo.user#OAuth2ApplicationRedirectUrisList"
        }
      },
      "traits": {}
    },
    "com.forgejo.user#OAuth2ApplicationRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.user#UserGetOAuth2ApplicationsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#OAuth2Application"
      },
      "traits": {}
    },
    "com.forgejo.user#UserGetOAuth2ApplicationsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.user#UserGetOAuth2ApplicationsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#UserGetOAuth2Applications": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserGetOAuth2ApplicationsRequest"
      },
      "output": {
        "target": "com.forgejo.user#UserGetOAuth2ApplicationsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/applications/oauth2",
          "code": 200
        },
        "smithy.api#documentation": "List the authenticated user's oauth2 applications"
      }
    },
    "com.forgejo.user#UserCreateOAuth2ApplicationRequestRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.user#UserCreateOAuth2ApplicationRequest": {
      "type": "structure",
      "members": {
        "confidential_client": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "redirect_uris": {
          "target": "com.forgejo.user#UserCreateOAuth2ApplicationRequestRedirectUrisList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCreateOAuth2Application": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCreateOAuth2ApplicationRequest"
      },
      "output": {
        "target": "com.forgejo.user#OAuth2Application"
      },
      "errors": [
        {
          "target": "com.forgejo.user#BadRequest"
        },
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/user/applications/oauth2",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new OAuth2 application"
      }
    },
    "com.forgejo.user#UserGetOAuth2ApplicationRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Application ID to be found"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserGetOAuth2Application": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserGetOAuth2ApplicationRequest"
      },
      "output": {
        "target": "com.forgejo.user#OAuth2Application"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/applications/oauth2/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get an OAuth2 application"
      }
    },
    "com.forgejo.user#UserUpdateOAuth2ApplicationRequestRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.user#UserUpdateOAuth2ApplicationRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "application to be updated"
          }
        },
        "confidential_client": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "redirect_uris": {
          "target": "com.forgejo.user#UserUpdateOAuth2ApplicationRequestRedirectUrisList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserUpdateOAuth2Application": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserUpdateOAuth2ApplicationRequest"
      },
      "output": {
        "target": "com.forgejo.user#OAuth2Application"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/user/applications/oauth2/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an OAuth2 application, this includes regenerating the client secret"
      }
    },
    "com.forgejo.user#UserDeleteOAuth2ApplicationRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "token to be deleted"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserDeleteOAuth2Application": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserDeleteOAuth2ApplicationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/user/applications/oauth2/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an OAuth2 application"
      }
    },
    "com.forgejo.user#UserUpdateAvatarRequest": {
      "type": "structure",
      "members": {
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "image must be base64 encoded"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserUpdateAvatar": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserUpdateAvatarRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/user/avatar",
          "code": 200
        },
        "smithy.api#documentation": "Update avatar of the current user"
      }
    },
    "com.forgejo.user#UserDeleteAvatar": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/user/avatar",
          "code": 200
        },
        "smithy.api#documentation": "Delete avatar of the current user. It will be replaced by a default one"
      }
    },
    "com.forgejo.user#UserBlockUserRequest": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "username of the user"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserBlockUser": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserBlockUserRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        },
        {
          "target": "com.forgejo.user#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/user/block/{username}",
          "code": 200
        },
        "smithy.api#documentation": "Blocks a user from the doer"
      }
    },
    "com.forgejo.user#Email": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String"
        },
        "primary": {
          "target": "smithy.api#Boolean"
        },
        "user_id": {
          "target": "smithy.api#Integer"
        },
        "username": {
          "target": "smithy.api#String"
        },
        "verified": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Email an email address belonging to a user"
      }
    },
    "com.forgejo.user#UserListEmailsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#Email"
      },
      "traits": {}
    },
    "com.forgejo.user#UserListEmailsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.user#UserListEmailsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#UserListEmails": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.forgejo.user#UserListEmailsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/emails",
          "code": 200
        },
        "smithy.api#documentation": "List all email addresses of the current user"
      }
    },
    "com.forgejo.user#UserAddEmailRequestEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "email addresses to add"
      }
    },
    "com.forgejo.user#UserAddEmailRequest": {
      "type": "structure",
      "members": {
        "emails": {
          "target": "com.forgejo.user#UserAddEmailRequestEmailsList",
          "traits": {
            "smithy.api#documentation": "email addresses to add"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserAddEmailResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#Email"
      },
      "traits": {}
    },
    "com.forgejo.user#UserAddEmailResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.user#UserAddEmailResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#UserAddEmail": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserAddEmailRequest"
      },
      "output": {
        "target": "com.forgejo.user#UserAddEmailResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/user/emails",
          "code": 200
        },
        "smithy.api#documentation": "Add an email addresses to the current user's account"
      }
    },
    "com.forgejo.user#UserDeleteEmailRequestEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "email addresses to delete"
      }
    },
    "com.forgejo.user#UserDeleteEmailRequest": {
      "type": "structure",
      "members": {
        "emails": {
          "target": "com.forgejo.user#UserDeleteEmailRequestEmailsList",
          "traits": {
            "smithy.api#documentation": "email addresses to delete"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserDeleteEmail": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserDeleteEmailRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/user/emails",
          "code": 200
        },
        "smithy.api#documentation": "Delete email addresses from the current user's account"
      }
    },
    "com.forgejo.user#UserCurrentListFollowersRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCurrentListFollowersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#User"
      },
      "traits": {}
    },
    "com.forgejo.user#UserCurrentListFollowersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.user#UserCurrentListFollowersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#UserCurrentListFollowers": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCurrentListFollowersRequest"
      },
      "output": {
        "target": "com.forgejo.user#UserCurrentListFollowersResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/followers",
          "code": 200
        },
        "smithy.api#documentation": "List the authenticated user's followers"
      }
    },
    "com.forgejo.user#UserCurrentListFollowingRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCurrentListFollowingResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#User"
      },
      "traits": {}
    },
    "com.forgejo.user#UserCurrentListFollowingResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.user#UserCurrentListFollowingResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#UserCurrentListFollowing": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCurrentListFollowingRequest"
      },
      "output": {
        "target": "com.forgejo.user#UserCurrentListFollowingResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/following",
          "code": 200
        },
        "smithy.api#documentation": "List the users that the authenticated user is following"
      }
    },
    "com.forgejo.user#UserCurrentCheckFollowingRequest": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "username of followed user"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCurrentCheckFollowing": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCurrentCheckFollowingRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/following/{username}",
          "code": 200
        },
        "smithy.api#documentation": "Check whether a user is followed by the authenticated user"
      }
    },
    "com.forgejo.user#UserCurrentPutFollowRequest": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "username of user to follow"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCurrentPutFollow": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCurrentPutFollowRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/user/following/{username}",
          "code": 200
        },
        "smithy.api#documentation": "Follow a user"
      }
    },
    "com.forgejo.user#UserCurrentDeleteFollowRequest": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "username of user to unfollow"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCurrentDeleteFollow": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCurrentDeleteFollowRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/user/following/{username}",
          "code": 200
        },
        "smithy.api#documentation": "Unfollow a user"
      }
    },
    "com.forgejo.user#GetVerificationTokenResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#GetVerificationToken": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.forgejo.user#GetVerificationTokenResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/gpg_key_token",
          "code": 200
        },
        "smithy.api#documentation": "Get a Token to verify"
      }
    },
    "com.forgejo.user#UserVerifyGPGKeyRequest": {
      "type": "structure",
      "members": {
        "armored_signature": {
          "target": "smithy.api#String"
        },
        "key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An Signature for a GPG key token",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#GPGKey": {
      "type": "structure",
      "members": {
        "can_certify": {
          "target": "smithy.api#Boolean"
        },
        "can_encrypt_comms": {
          "target": "smithy.api#Boolean"
        },
        "can_encrypt_storage": {
          "target": "smithy.api#Boolean"
        },
        "can_sign": {
          "target": "smithy.api#Boolean"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "emails": {
          "target": "com.forgejo.user#GPGKeyEmailsList"
        },
        "expires_at": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "key_id": {
          "target": "smithy.api#String"
        },
        "primary_key_id": {
          "target": "smithy.api#String"
        },
        "public_key": {
          "target": "smithy.api#String"
        },
        "subkeys": {
          "target": "com.forgejo.user#GPGKeySubkeysList"
        },
        "verified": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "GPGKey a user GPG key to sign commit and tag in repository"
      }
    },
    "com.forgejo.user#GPGKeyEmail": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String"
        },
        "verified": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "GPGKeyEmail an email attached to a GPGKey"
      }
    },
    "com.forgejo.user#GPGKeyEmailsList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#GPGKeyEmail"
      },
      "traits": {}
    },
    "com.forgejo.user#GPGKeySubkeysList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#GPGKey"
      },
      "traits": {}
    },
    "com.forgejo.user#UserVerifyGPGKey": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserVerifyGPGKeyRequest"
      },
      "output": {
        "target": "com.forgejo.user#GPGKey"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        },
        {
          "target": "com.forgejo.user#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/user/gpg_key_verify",
          "code": 200
        },
        "smithy.api#documentation": "Verify a GPG key"
      }
    },
    "com.forgejo.user#UserCurrentListGPGKeysRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCurrentListGPGKeysResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#GPGKey"
      },
      "traits": {}
    },
    "com.forgejo.user#UserCurrentListGPGKeysResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.user#UserCurrentListGPGKeysResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#UserCurrentListGPGKeys": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCurrentListGPGKeysRequest"
      },
      "output": {
        "target": "com.forgejo.user#UserCurrentListGPGKeysResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/gpg_keys",
          "code": 200
        },
        "smithy.api#documentation": "List the authenticated user's GPG keys"
      }
    },
    "com.forgejo.user#UserCurrentPostGPGKeyRequest": {
      "type": "structure",
      "members": {
        "armored_public_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An armored GPG key to add",
            "smithy.api#required": {}
          }
        },
        "armored_signature": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCurrentPostGPGKey": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCurrentPostGPGKeyRequest"
      },
      "output": {
        "target": "com.forgejo.user#GPGKey"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        },
        {
          "target": "com.forgejo.user#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/user/gpg_keys",
          "code": 200
        },
        "smithy.api#documentation": "Add a GPG public key to current user's account"
      }
    },
    "com.forgejo.user#UserCurrentGetGPGKeyRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of key to get"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCurrentGetGPGKey": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCurrentGetGPGKeyRequest"
      },
      "output": {
        "target": "com.forgejo.user#GPGKey"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/gpg_keys/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a GPG key"
      }
    },
    "com.forgejo.user#UserCurrentDeleteGPGKeyRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of key to delete"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCurrentDeleteGPGKey": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCurrentDeleteGPGKeyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/user/gpg_keys/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a GPG public key from current user's account"
      }
    },
    "com.forgejo.user#UserListHooksRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#Hook": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authorization_header": {
          "target": "smithy.api#String"
        },
        "branch_filter": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "com.forgejo.user#HookConfigMap",
          "traits": {
            "smithy.api#documentation": "Deprecated: use Metadata instead"
          }
        },
        "content_type": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.forgejo.user#HookEventsList"
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hook a hook is a web hook when one repository changed"
      }
    },
    "com.forgejo.user#HookConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: use Metadata instead"
      }
    },
    "com.forgejo.user#HookEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.user#UserListHooksResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#Hook"
      },
      "traits": {}
    },
    "com.forgejo.user#UserListHooksResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.user#UserListHooksResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#UserListHooks": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserListHooksRequest"
      },
      "output": {
        "target": "com.forgejo.user#UserListHooksResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/hooks",
          "code": 200
        },
        "smithy.api#documentation": "List the authenticated user's webhooks"
      }
    },
    "com.forgejo.user#CreateHookOptionConfig": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "CreateHookOptionConfig has all config options in it\nrequired are \"content_type\" and \"url\" Required"
      }
    },
    "com.forgejo.user#UserCreateHookRequestEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.user#UserCreateHookRequestType": {
      "type": "enum",
      "members": {
        "FORGEJO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forgejo"
          }
        },
        "DINGTALK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dingtalk"
          }
        },
        "DISCORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discord"
          }
        },
        "GITEA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitea"
          }
        },
        "GOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gogs"
          }
        },
        "MSTEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "msteams"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "TELEGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "telegram"
          }
        },
        "FEISHU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feishu"
          }
        },
        "WECHATWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wechatwork"
          }
        },
        "PACKAGIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "packagist"
          }
        }
      },
      "traits": {}
    },
    "com.forgejo.user#UserCreateHookRequest": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean"
        },
        "authorization_header": {
          "target": "smithy.api#String"
        },
        "branch_filter": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "com.forgejo.user#CreateHookOptionConfig",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.forgejo.user#UserCreateHookRequestEventsList"
        },
        "type": {
          "target": "com.forgejo.user#UserCreateHookRequestType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCreateHook": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCreateHookRequest"
      },
      "output": {
        "target": "com.forgejo.user#Hook"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/user/hooks",
          "code": 200
        },
        "smithy.api#documentation": "Create a hook"
      }
    },
    "com.forgejo.user#UserGetHookRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of the hook to get"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserGetHook": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserGetHookRequest"
      },
      "output": {
        "target": "com.forgejo.user#Hook"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/hooks/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a hook"
      }
    },
    "com.forgejo.user#UserEditHookRequestConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.user#UserEditHookRequestEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.forgejo.user#UserEditHookRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of the hook to update"
          }
        },
        "active": {
          "target": "smithy.api#Boolean"
        },
        "authorization_header": {
          "target": "smithy.api#String"
        },
        "branch_filter": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "com.forgejo.user#UserEditHookRequestConfigMap"
        },
        "events": {
          "target": "com.forgejo.user#UserEditHookRequestEventsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserEditHook": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserEditHookRequest"
      },
      "output": {
        "target": "com.forgejo.user#Hook"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/user/hooks/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a hook"
      }
    },
    "com.forgejo.user#UserDeleteHookRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of the hook to delete"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserDeleteHook": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserDeleteHookRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/user/hooks/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a hook"
      }
    },
    "com.forgejo.user#UserCurrentListKeysRequest": {
      "type": "structure",
      "members": {
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fingerprint",
            "smithy.api#documentation": "fingerprint of the key"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#PublicKey": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String"
        },
        "fingerprint": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "key": {
          "target": "smithy.api#String"
        },
        "key_type": {
          "target": "smithy.api#String"
        },
        "read_only": {
          "target": "smithy.api#Boolean"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "user": {
          "target": "com.forgejo.user#User"
        },
        "verified": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "PublicKey publickey is a user key to push code to repository"
      }
    },
    "com.forgejo.user#UserCurrentListKeysResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#PublicKey"
      },
      "traits": {}
    },
    "com.forgejo.user#UserCurrentListKeysResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.user#UserCurrentListKeysResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#UserCurrentListKeys": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCurrentListKeysRequest"
      },
      "output": {
        "target": "com.forgejo.user#UserCurrentListKeysResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/keys",
          "code": 200
        },
        "smithy.api#documentation": "List the authenticated user's public keys"
      }
    },
    "com.forgejo.user#UserCurrentPostKeyRequest": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An armored SSH key to add",
            "smithy.api#required": {}
          }
        },
        "read_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Describe if the key has only read access or read/write"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the key to add",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCurrentPostKey": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCurrentPostKeyRequest"
      },
      "output": {
        "target": "com.forgejo.user#PublicKey"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/user/keys",
          "code": 200
        },
        "smithy.api#documentation": "Create a public key"
      }
    },
    "com.forgejo.user#UserCurrentGetKeyRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of key to get"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCurrentGetKey": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCurrentGetKeyRequest"
      },
      "output": {
        "target": "com.forgejo.user#PublicKey"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/keys/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a public key"
      }
    },
    "com.forgejo.user#UserCurrentDeleteKeyRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "id of key to delete"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCurrentDeleteKey": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCurrentDeleteKeyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/user/keys/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a public key"
      }
    },
    "com.forgejo.user#UserListBlockedUsersRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#BlockedUser": {
      "type": "structure",
      "members": {
        "block_id": {
          "target": "smithy.api#Integer"
        },
        "created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.forgejo.user#UserListBlockedUsersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#BlockedUser"
      },
      "traits": {}
    },
    "com.forgejo.user#UserListBlockedUsersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.user#UserListBlockedUsersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#UserListBlockedUsers": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserListBlockedUsersRequest"
      },
      "output": {
        "target": "com.forgejo.user#UserListBlockedUsersResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/list_blocked",
          "code": 200
        },
        "smithy.api#documentation": "List the authenticated user's blocked users"
      }
    },
    "com.forgejo.user#QuotaInfo": {
      "type": "structure",
      "members": {
        "groups": {
          "target": "com.forgejo.user#QuotaGroupList"
        },
        "used": {
          "target": "com.forgejo.user#QuotaUsed"
        }
      },
      "traits": {
        "smithy.api#documentation": "QuotaInfo represents information about a user's quota"
      }
    },
    "com.forgejo.user#QuotaGroupList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#QuotaGroup"
      },
      "traits": {
        "smithy.api#documentation": "QuotaGroupList represents a list of quota groups"
      }
    },
    "com.forgejo.user#QuotaGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the group"
          }
        },
        "rules": {
          "target": "com.forgejo.user#QuotaGroupRulesList",
          "traits": {
            "smithy.api#documentation": "Rules associated with the group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QuotaGroup represents a quota group"
      }
    },
    "com.forgejo.user#QuotaRuleInfo": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The limit set by the rule"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the rule (only shown to admins)"
          }
        },
        "subjects": {
          "target": "com.forgejo.user#QuotaRuleInfoSubjectsList",
          "traits": {
            "smithy.api#documentation": "Subjects the rule affects"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QuotaRuleInfo contains information about a quota rule"
      }
    },
    "com.forgejo.user#QuotaRuleInfoSubjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Subjects the rule affects"
      }
    },
    "com.forgejo.user#QuotaGroupRulesList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#QuotaRuleInfo"
      },
      "traits": {
        "smithy.api#documentation": "Rules associated with the group"
      }
    },
    "com.forgejo.user#QuotaUsed": {
      "type": "structure",
      "members": {
        "size": {
          "target": "com.forgejo.user#QuotaUsedSize"
        }
      },
      "traits": {
        "smithy.api#documentation": "QuotaUsed represents the quota usage of a user"
      }
    },
    "com.forgejo.user#QuotaUsedSize": {
      "type": "structure",
      "members": {
        "assets": {
          "target": "com.forgejo.user#QuotaUsedSizeAssets"
        },
        "git": {
          "target": "com.forgejo.user#QuotaUsedSizeGit"
        },
        "repos": {
          "target": "com.forgejo.user#QuotaUsedSizeRepos"
        }
      },
      "traits": {
        "smithy.api#documentation": "QuotaUsedSize represents the size-based quota usage of a user"
      }
    },
    "com.forgejo.user#QuotaUsedSizeAssets": {
      "type": "structure",
      "members": {
        "artifacts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Storage size used for the user's artifacts"
          }
        },
        "attachments": {
          "target": "com.forgejo.user#QuotaUsedSizeAssetsAttachments"
        },
        "packages": {
          "target": "com.forgejo.user#QuotaUsedSizeAssetsPackages"
        }
      },
      "traits": {
        "smithy.api#documentation": "QuotaUsedSizeAssets represents the size-based asset usage of a user"
      }
    },
    "com.forgejo.user#QuotaUsedSizeAssetsAttachments": {
      "type": "structure",
      "members": {
        "issues": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Storage size used for the user's issue & comment attachments"
          }
        },
        "releases": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Storage size used for the user's release attachments"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QuotaUsedSizeAssetsAttachments represents the size-based attachment quota usage of a user"
      }
    },
    "com.forgejo.user#QuotaUsedSizeAssetsPackages": {
      "type": "structure",
      "members": {
        "all": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Storage suze used for the user's packages"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QuotaUsedSizeAssetsPackages represents the size-based package quota usage of a user"
      }
    },
    "com.forgejo.user#QuotaUsedSizeGit": {
      "type": "structure",
      "members": {
        "LFS": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Storage size of the user's Git LFS objects"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QuotaUsedSizeGit represents the size-based git (lfs) quota usage of a user"
      }
    },
    "com.forgejo.user#QuotaUsedSizeRepos": {
      "type": "structure",
      "members": {
        "private": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Storage size of the user's private repositories"
          }
        },
        "public": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Storage size of the user's public repositories"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QuotaUsedSizeRepos represents the size-based repository quota usage of a user"
      }
    },
    "com.forgejo.user#UserGetQuota": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.forgejo.user#QuotaInfo"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/quota",
          "code": 200
        },
        "smithy.api#documentation": "Get quota information for the authenticated user"
      }
    },
    "com.forgejo.user#UserListQuotaArtifactsRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#QuotaUsedArtifactList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#QuotaUsedArtifact"
      },
      "traits": {
        "smithy.api#documentation": "QuotaUsedArtifactList represents a list of artifacts counting towards a user's quota"
      }
    },
    "com.forgejo.user#QuotaUsedArtifact": {
      "type": "structure",
      "members": {
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTML URL to the action run containing the artifact"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the artifact"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the artifact (compressed)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QuotaUsedArtifact represents an artifact counting towards a user's quota"
      }
    },
    "com.forgejo.user#UserListQuotaArtifactsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.user#QuotaUsedArtifactList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#UserListQuotaArtifacts": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserListQuotaArtifactsRequest"
      },
      "output": {
        "target": "com.forgejo.user#UserListQuotaArtifactsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/quota/artifacts",
          "code": 200
        },
        "smithy.api#documentation": "List the artifacts affecting the authenticated user's quota"
      }
    },
    "com.forgejo.user#UserListQuotaAttachmentsRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#QuotaUsedAttachmentList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#QuotaUsedAttachment"
      },
      "traits": {
        "smithy.api#documentation": "QuotaUsedAttachmentList represents a list of attachment counting towards a user's quota"
      }
    },
    "com.forgejo.user#QuotaUsedAttachment": {
      "type": "structure",
      "members": {
        "api_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API URL for the attachment"
          }
        },
        "contained_in": {
          "target": "com.forgejo.user#QuotaUsedAttachmentContainedIn",
          "traits": {
            "smithy.api#documentation": "Context for the attachment: URLs to the containing object"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filename of the attachment"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the attachment (in bytes)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QuotaUsedAttachment represents an attachment counting towards a user's quota"
      }
    },
    "com.forgejo.user#QuotaUsedAttachmentContainedIn": {
      "type": "structure",
      "members": {
        "api_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API URL for the object that contains this attachment"
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTML URL for the object that contains this attachment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Context for the attachment: URLs to the containing object"
      }
    },
    "com.forgejo.user#UserListQuotaAttachmentsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.user#QuotaUsedAttachmentList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#UserListQuotaAttachments": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserListQuotaAttachmentsRequest"
      },
      "output": {
        "target": "com.forgejo.user#UserListQuotaAttachmentsResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/quota/attachments",
          "code": 200
        },
        "smithy.api#documentation": "List the attachments affecting the authenticated user's quota"
      }
    },
    "com.forgejo.user#UserCheckQuotaRequest": {
      "type": "structure",
      "members": {
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "subject",
            "smithy.api#required": {},
            "smithy.api#documentation": "subject of the quota"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#UserCheckQuotaResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#UserCheckQuota": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserCheckQuotaRequest"
      },
      "output": {
        "target": "com.forgejo.user#UserCheckQuotaResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        },
        {
          "target": "com.forgejo.user#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/quota/check",
          "code": 200
        },
        "smithy.api#documentation": "Check if the authenticated user is over quota for a given subject"
      }
    },
    "com.forgejo.user#UserListQuotaPackagesRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "page number of results to return (1-based)"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "page size of results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.forgejo.user#QuotaUsedPackageList": {
      "type": "list",
      "member": {
        "target": "com.forgejo.user#QuotaUsedPackage"
      },
      "traits": {
        "smithy.api#documentation": "QuotaUsedPackageList represents a list of packages counting towards a user's quota"
      }
    },
    "com.forgejo.user#QuotaUsedPackage": {
      "type": "structure",
      "members": {
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTML URL to the package version"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the package"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the package version"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the package"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the package"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QuotaUsedPackage represents a package counting towards a user's quota"
      }
    },
    "com.forgejo.user#UserListQuotaPackagesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.forgejo.user#QuotaUsedPackageList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.forgejo.user#UserListQuotaPackages": {
      "type": "operation",
      "input": {
        "target": "com.forgejo.user#UserListQuotaPackagesRequest"
      },
      "output": {
        "target": "com.forgejo.user#UserListQuotaPackagesResponse"
      },
      "errors": [
        {
          "target": "com.forgejo.user#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/quota/packages",
          "code": 200
        },
        "smithy.api#documentation": "List the packages affecting the authenticated user's quota"
      }
    },
    "com.forgejo.user#UserCurrentListReposRequestOrderBy": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "NEWEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "newest"
          }
        },
        "OLDEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oldest"
          }
        },
        "RECENTUPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recentupdate"
          }
        },
[...]
