{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.supabase.api#V1GetABranchConfigRequest": {
      "type": "structure",
      "members": {
        "branch_id_or_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Branch ref or deprecated branch ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#BranchDetailResponse": {
      "type": "structure",
      "members": {
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "postgres_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "postgres_engine": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "release_channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.supabase.api#BranchDetailResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "db_host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "db_port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "db_user": {
          "target": "smithy.api#String"
        },
        "db_pass": {
          "target": "smithy.api#String"
        },
        "jwt_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#BranchDetailResponseStatus": {
      "type": "enum",
      "members": {
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "ACTIVE_HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_HEALTHY"
          }
        },
        "ACTIVE_UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_UNHEALTHY"
          }
        },
        "COMING_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMING_UP"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "GOING_DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOING_DOWN"
          }
        },
        "INIT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INIT_FAILED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        },
        "RESTORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORING"
          }
        },
        "UPGRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADING"
          }
        },
        "PAUSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSING"
          }
        },
        "RESTORE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORE_FAILED"
          }
        },
        "RESTARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTARTING"
          }
        },
        "PAUSE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSE_FAILED"
          }
        },
        "RESIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESIZING"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1GetABranchConfig": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1GetABranchConfigRequest"
      },
      "output": {
        "target": "com.supabase.api#BranchDetailResponse"
      },
      "errors": [
        {
          "target": "com.supabase.api#BadRequest"
        },
        {
          "target": "com.supabase.api#Forbidden"
        },
        {
          "target": "com.supabase.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/branches/{branch_id_or_ref}",
          "code": 200
        },
        "smithy.api#documentation": "Get database branch config\n\nFetches configurations of the specified database branch"
      }
    },
    "com.supabase.api#V1UpdateABranchConfigRequestStatus": {
      "type": "enum",
      "members": {
        "CREATING_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING_PROJECT"
          }
        },
        "RUNNING_MIGRATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING_MIGRATIONS"
          }
        },
        "MIGRATIONS_PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATIONS_PASSED"
          }
        },
        "MIGRATIONS_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATIONS_FAILED"
          }
        },
        "FUNCTIONS_DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTIONS_DEPLOYED"
          }
        },
        "FUNCTIONS_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTIONS_FAILED"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1UpdateABranchConfigRequest": {
      "type": "structure",
      "members": {
        "branch_id_or_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Branch ref or deprecated branch ID"
          }
        },
        "branch_name": {
          "target": "smithy.api#String"
        },
        "git_branch": {
          "target": "smithy.api#String"
        },
        "reset_on_push": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field is deprecated and will be ignored. Use v1-reset-a-branch endpoint directly instead."
          }
        },
        "persistent": {
          "target": "smithy.api#Boolean"
        },
        "status": {
          "target": "com.supabase.api#V1UpdateABranchConfigRequestStatus"
        },
        "request_review": {
          "target": "smithy.api#Boolean"
        },
        "notify_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP endpoint to receive branch status updates."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#BranchResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent_project_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_branch": {
          "target": "smithy.api#String"
        },
        "pr_number": {
          "target": "smithy.api#Integer"
        },
        "latest_check_run_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This field is deprecated and will not be populated."
          }
        },
        "persistent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.supabase.api#BranchResponseStatus",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. List action runs to get branch status instead.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "review_requested_at": {
          "target": "smithy.api#String"
        },
        "with_data": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notify_url": {
          "target": "smithy.api#String"
        },
        "deletion_scheduled_at": {
          "target": "smithy.api#String"
        },
        "preview_project_status": {
          "target": "com.supabase.api#BranchResponsePreviewProjectStatus"
        }
      },
      "traits": {}
    },
    "com.supabase.api#BranchResponseStatus": {
      "type": "enum",
      "members": {
        "CREATING_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING_PROJECT"
          }
        },
        "RUNNING_MIGRATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING_MIGRATIONS"
          }
        },
        "MIGRATIONS_PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATIONS_PASSED"
          }
        },
        "MIGRATIONS_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATIONS_FAILED"
          }
        },
        "FUNCTIONS_DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTIONS_DEPLOYED"
          }
        },
        "FUNCTIONS_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNCTIONS_FAILED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This field is deprecated. List action runs to get branch status instead."
      }
    },
    "com.supabase.api#BranchResponsePreviewProjectStatus": {
      "type": "enum",
      "members": {
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "ACTIVE_HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_HEALTHY"
          }
        },
        "ACTIVE_UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_UNHEALTHY"
          }
        },
        "COMING_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMING_UP"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "GOING_DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOING_DOWN"
          }
        },
        "INIT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INIT_FAILED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        },
        "RESTORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORING"
          }
        },
        "UPGRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADING"
          }
        },
        "PAUSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSING"
          }
        },
        "RESTORE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORE_FAILED"
          }
        },
        "RESTARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTARTING"
          }
        },
        "PAUSE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSE_FAILED"
          }
        },
        "RESIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESIZING"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1UpdateABranchConfig": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1UpdateABranchConfigRequest"
      },
      "output": {
        "target": "com.supabase.api#BranchResponse"
      },
      "errors": [
        {
          "target": "com.supabase.api#BadRequest"
        },
        {
          "target": "com.supabase.api#Forbidden"
        },
        {
          "target": "com.supabase.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/branches/{branch_id_or_ref}",
          "code": 200
        },
        "smithy.api#documentation": "Update database branch config\n\nUpdates the configuration of the specified database branch"
      }
    },
    "com.supabase.api#V1DeleteABranchRequest": {
      "type": "structure",
      "members": {
        "branch_id_or_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Branch ref or deprecated branch ID"
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "force",
            "smithy.api#documentation": "If set to false, schedule deletion with 1-hour grace period (only when soft deletion is enabled)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#BranchDeleteResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.supabase.api#BranchDeleteResponseMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#BranchDeleteResponseMessage": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1DeleteABranch": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1DeleteABranchRequest"
      },
      "output": {
        "target": "com.supabase.api#BranchDeleteResponse"
      },
      "errors": [
        {
          "target": "com.supabase.api#BadRequest"
        },
        {
          "target": "com.supabase.api#Forbidden"
        },
        {
          "target": "com.supabase.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/branches/{branch_id_or_ref}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a database branch\n\nDeletes the specified database branch. By default, deletes immediately. Use force=false to schedule deletion with 1-hour grace period (only when soft deletion is enabled)."
      }
    },
    "com.supabase.api#V1PushABranchRequest": {
      "type": "structure",
      "members": {
        "branch_id_or_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Branch ref or deprecated branch ID"
          }
        },
        "migration_version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#BranchUpdateResponse": {
      "type": "structure",
      "members": {
        "workflow_run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.supabase.api#BranchUpdateResponseMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#BranchUpdateResponseMessage": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1PushABranch": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1PushABranchRequest"
      },
      "output": {
        "target": "com.supabase.api#BranchUpdateResponse"
      },
      "errors": [
        {
          "target": "com.supabase.api#BadRequest"
        },
        {
          "target": "com.supabase.api#Forbidden"
        },
        {
          "target": "com.supabase.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/branches/{branch_id_or_ref}/push",
          "code": 200
        },
        "smithy.api#documentation": "Pushes a database branch\n\nPushes the specified database branch"
      }
    },
    "com.supabase.api#V1MergeABranchRequest": {
      "type": "structure",
      "members": {
        "branch_id_or_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Branch ref or deprecated branch ID"
          }
        },
        "migration_version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#V1MergeABranch": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1MergeABranchRequest"
      },
      "output": {
        "target": "com.supabase.api#BranchUpdateResponse"
      },
      "errors": [
        {
          "target": "com.supabase.api#BadRequest"
        },
        {
          "target": "com.supabase.api#Forbidden"
        },
        {
          "target": "com.supabase.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/branches/{branch_id_or_ref}/merge",
          "code": 200
        },
        "smithy.api#documentation": "Merges a database branch\n\nMerges the specified database branch"
      }
    },
    "com.supabase.api#V1ResetABranchRequest": {
      "type": "structure",
      "members": {
        "branch_id_or_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Branch ref or deprecated branch ID"
          }
        },
        "migration_version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#V1ResetABranch": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1ResetABranchRequest"
      },
      "output": {
        "target": "com.supabase.api#BranchUpdateResponse"
      },
      "errors": [
        {
          "target": "com.supabase.api#BadRequest"
        },
        {
          "target": "com.supabase.api#Forbidden"
        },
        {
          "target": "com.supabase.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/branches/{branch_id_or_ref}/reset",
          "code": 200
        },
        "smithy.api#documentation": "Resets a database branch\n\nResets the specified database branch"
      }
    },
    "com.supabase.api#V1RestoreABranchRequest": {
      "type": "structure",
      "members": {
        "branch_id_or_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Branch ref or deprecated branch ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#BranchRestoreResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.supabase.api#BranchRestoreResponseMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#BranchRestoreResponseMessage": {
      "type": "enum",
      "members": {
        "BRANCH_RESTORATION_INITIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Branch restoration initiated"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1RestoreABranch": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1RestoreABranchRequest"
      },
      "output": {
        "target": "com.supabase.api#BranchRestoreResponse"
      },
      "errors": [
        {
          "target": "com.supabase.api#BadRequest"
        },
        {
          "target": "com.supabase.api#Forbidden"
        },
        {
          "target": "com.supabase.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/branches/{branch_id_or_ref}/restore",
          "code": 200
        },
        "smithy.api#documentation": "Restore a scheduled branch deletion\n\nCancels scheduled deletion and restores the branch to active state"
      }
    },
    "com.supabase.api#V1DiffABranchRequest": {
      "type": "structure",
      "members": {
        "branch_id_or_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Branch ref or deprecated branch ID"
          }
        },
        "included_schemas": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "included_schemas"
          }
        },
        "pgdelta": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "pgdelta",
            "smithy.api#documentation": "Use pg-delta instead of Migra for diffing when true"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#V1DiffABranch": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1DiffABranchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.supabase.api#BadRequest"
        },
        {
          "target": "com.supabase.api#Forbidden"
        },
        {
          "target": "com.supabase.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/branches/{branch_id_or_ref}/diff",
          "code": 200
        },
        "smithy.api#documentation": "[Beta] Diffs a database branch\n\nDiffs the specified database branch"
      }
    },
    "com.supabase.api#V1ProjectWithDatabaseResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `ref` instead.",
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project ref",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `organization_slug` instead.",
            "smithy.api#required": {}
          }
        },
        "organization_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization slug",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of your project",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region of your project",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.supabase.api#V1ProjectWithDatabaseResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "database": {
          "target": "com.supabase.api#V1ProjectWithDatabaseResponseDatabase",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1ProjectWithDatabaseResponseStatus": {
      "type": "enum",
      "members": {
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "ACTIVE_HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_HEALTHY"
          }
        },
        "ACTIVE_UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_UNHEALTHY"
          }
        },
        "COMING_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMING_UP"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "GOING_DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOING_DOWN"
          }
        },
        "INIT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INIT_FAILED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        },
        "RESTORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORING"
          }
        },
        "UPGRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADING"
          }
        },
        "PAUSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSING"
          }
        },
        "RESTORE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORE_FAILED"
          }
        },
        "RESTARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTARTING"
          }
        },
        "PAUSE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSE_FAILED"
          }
        },
        "RESIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESIZING"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1ProjectWithDatabaseResponseDatabase": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database host",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database version",
            "smithy.api#required": {}
          }
        },
        "postgres_engine": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database engine",
            "smithy.api#required": {}
          }
        },
        "release_channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Release channel",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1ListAllProjectsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.supabase.api#V1ProjectWithDatabaseResponse"
      },
      "traits": {}
    },
    "com.supabase.api#V1ListAllProjectsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.supabase.api#V1ListAllProjectsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.supabase.api#V1ListAllProjects": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.supabase.api#V1ListAllProjectsResponse"
      },
      "errors": [
        {
          "target": "com.supabase.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects",
          "code": 200
        },
        "smithy.api#documentation": "List all projects\n\nReturns a list of all projects you've previously created."
      }
    },
    "com.supabase.api#V1CreateAProjectRequestPlan": {
      "type": "enum",
      "members": {
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "free"
          }
        },
        "PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pro"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Subscription Plan is now set on organization level and is ignored in this request"
      }
    },
    "com.supabase.api#V1CreateAProjectRequestRegion": {
      "type": "enum",
      "members": {
        "US_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-1"
          }
        },
        "US_EAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-2"
          }
        },
        "US_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-1"
          }
        },
        "US_WEST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-2"
          }
        },
        "AP_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-east-1"
          }
        },
        "AP_SOUTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-1"
          }
        },
        "AP_NORTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-northeast-1"
          }
        },
        "AP_NORTHEAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-northeast-2"
          }
        },
        "AP_SOUTHEAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-2"
          }
        },
        "EU_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1"
          }
        },
        "EU_WEST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-2"
          }
        },
        "EU_WEST_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-3"
          }
        },
        "EU_NORTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-north-1"
          }
        },
        "EU_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-1"
          }
        },
        "EU_CENTRAL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-2"
          }
        },
        "CA_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-central-1"
          }
        },
        "AP_SOUTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-1"
          }
        },
        "SA_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sa-east-1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Region you want your server to reside in. Use region_selection instead."
      }
    },
    "com.supabase.api#V1CreateAProjectRequestRegionSelectionCase0Type": {
      "type": "enum",
      "members": {
        "SPECIFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "specific"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1CreateAProjectRequestRegionSelectionCase0Code": {
      "type": "enum",
      "members": {
        "US_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-1"
          }
        },
        "US_EAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-2"
          }
        },
        "US_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-1"
          }
        },
        "US_WEST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-2"
          }
        },
        "AP_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-east-1"
          }
        },
        "AP_SOUTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-1"
          }
        },
        "AP_NORTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-northeast-1"
          }
        },
        "AP_NORTHEAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-northeast-2"
          }
        },
        "AP_SOUTHEAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-2"
          }
        },
        "EU_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1"
          }
        },
        "EU_WEST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-2"
          }
        },
        "EU_WEST_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-3"
          }
        },
        "EU_NORTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-north-1"
          }
        },
        "EU_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-1"
          }
        },
        "EU_CENTRAL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-2"
          }
        },
        "CA_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-central-1"
          }
        },
        "AP_SOUTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-1"
          }
        },
        "SA_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sa-east-1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific region code. The codes supported are not a stable API, and should be retrieved from the /available-regions endpoint."
      }
    },
    "com.supabase.api#V1CreateAProjectRequestRegionSelectionCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.supabase.api#V1CreateAProjectRequestRegionSelectionCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "com.supabase.api#V1CreateAProjectRequestRegionSelectionCase0Code",
          "traits": {
            "smithy.api#documentation": "Specific region code. The codes supported are not a stable API, and should be retrieved from the /available-regions endpoint.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1CreateAProjectRequestRegionSelectionCase1Type": {
      "type": "enum",
      "members": {
        "SMARTGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smartGroup"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1CreateAProjectRequestRegionSelectionCase1Code": {
      "type": "enum",
      "members": {
        "AMERICAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "americas"
          }
        },
        "EMEA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "emea"
          }
        },
        "APAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apac"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Smart Region Group's code. The codes supported are not a stable API, and should be retrieved from the /available-regions endpoint."
      }
    },
    "com.supabase.api#V1CreateAProjectRequestRegionSelectionCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.supabase.api#V1CreateAProjectRequestRegionSelectionCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "com.supabase.api#V1CreateAProjectRequestRegionSelectionCase1Code",
          "traits": {
            "smithy.api#documentation": "The Smart Region Group's code. The codes supported are not a stable API, and should be retrieved from the /available-regions endpoint.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1CreateAProjectRequestRegionSelection": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.supabase.api#V1CreateAProjectRequestRegionSelectionCase0"
        },
        "Case1": {
          "target": "com.supabase.api#V1CreateAProjectRequestRegionSelectionCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Region selection. Only one of region or region_selection can be specified."
      }
    },
    "com.supabase.api#V1CreateAProjectRequestDesiredInstanceSize": {
      "type": "enum",
      "members": {
        "NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nano"
          }
        },
        "MICRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "micro"
          }
        },
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "small"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "large"
          }
        },
        "XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xlarge"
          }
        },
        "_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2xlarge"
          }
        },
        "_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "4xlarge"
          }
        },
        "_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "8xlarge"
          }
        },
        "_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "12xlarge"
          }
        },
        "_16XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "16xlarge"
          }
        },
        "_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24xlarge"
          }
        },
        "_24XLARGE_OPTIMIZED_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24xlarge_optimized_memory"
          }
        },
        "_24XLARGE_OPTIMIZED_CPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24xlarge_optimized_cpu"
          }
        },
        "_24XLARGE_HIGH_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24xlarge_high_memory"
          }
        },
        "_48XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "48xlarge"
          }
        },
        "_48XLARGE_OPTIMIZED_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "48xlarge_optimized_memory"
          }
        },
        "_48XLARGE_OPTIMIZED_CPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "48xlarge_optimized_cpu"
          }
        },
        "_48XLARGE_HIGH_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "48xlarge_high_memory"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Desired instance size. Omit this field to always default to the smallest possible size."
      }
    },
    "com.supabase.api#V1CreateAProjectRequest": {
      "type": "structure",
      "members": {
        "db_pass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database password",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of your project",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `organization_slug` instead."
          }
        },
        "organization_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization slug",
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "com.supabase.api#V1CreateAProjectRequestPlan",
          "traits": {
            "smithy.api#documentation": "Subscription Plan is now set on organization level and is ignored in this request"
          }
        },
        "region": {
          "target": "com.supabase.api#V1CreateAProjectRequestRegion",
          "traits": {
            "smithy.api#documentation": "Region you want your server to reside in. Use region_selection instead."
          }
        },
        "region_selection": {
          "target": "com.supabase.api#V1CreateAProjectRequestRegionSelection",
          "traits": {
            "smithy.api#documentation": "Region selection. Only one of region or region_selection can be specified."
          }
        },
        "kps_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field is deprecated and is ignored in this request"
          }
        },
        "desired_instance_size": {
          "target": "com.supabase.api#V1CreateAProjectRequestDesiredInstanceSize",
          "traits": {
            "smithy.api#documentation": "Desired instance size. Omit this field to always default to the smallest possible size."
          }
        },
        "template_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Template URL used to create the project from the CLI."
          }
        },
        "high_availability": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "[Experimental] Whether to enable high availability for the project."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#V1ProjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `ref` instead.",
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project ref",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `organization_slug` instead.",
            "smithy.api#required": {}
          }
        },
        "organization_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization slug",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of your project",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region of your project",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.supabase.api#V1ProjectResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1ProjectResponseStatus": {
      "type": "enum",
      "members": {
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "ACTIVE_HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_HEALTHY"
          }
        },
        "ACTIVE_UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_UNHEALTHY"
          }
        },
        "COMING_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMING_UP"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "GOING_DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOING_DOWN"
          }
        },
        "INIT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INIT_FAILED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        },
        "RESTORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORING"
          }
        },
        "UPGRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADING"
          }
        },
        "PAUSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSING"
          }
        },
        "RESTORE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORE_FAILED"
          }
        },
        "RESTARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTARTING"
          }
        },
        "PAUSE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSE_FAILED"
          }
        },
        "RESIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESIZING"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1CreateAProject": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1CreateAProjectRequest"
      },
      "output": {
        "target": "com.supabase.api#V1ProjectResponse"
      },
      "errors": [
        {
          "target": "com.supabase.api#BadRequest"
        },
        {
          "target": "com.supabase.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/projects",
          "code": 200
        },
        "smithy.api#documentation": "Create a project"
      }
    },
    "com.supabase.api#V1GetAvailableRegionsRequestContinent": {
      "type": "enum",
      "members": {
        "NA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NA"
          }
        },
        "SA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SA"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EU"
          }
        },
        "AF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AF"
          }
        },
        "AS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AS"
          }
        },
        "OC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OC"
          }
        },
        "AN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AN"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1GetAvailableRegionsRequestDesiredInstanceSize": {
      "type": "enum",
      "members": {
        "NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nano"
          }
        },
        "MICRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "micro"
          }
        },
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "small"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "large"
          }
        },
        "XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xlarge"
          }
        },
        "_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2xlarge"
          }
        },
        "_4XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "4xlarge"
          }
        },
        "_8XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "8xlarge"
          }
        },
        "_12XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "12xlarge"
          }
        },
        "_16XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "16xlarge"
          }
        },
        "_24XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24xlarge"
          }
        },
        "_24XLARGE_OPTIMIZED_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24xlarge_optimized_memory"
          }
        },
        "_24XLARGE_OPTIMIZED_CPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24xlarge_optimized_cpu"
          }
        },
        "_24XLARGE_HIGH_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24xlarge_high_memory"
          }
        },
        "_48XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "48xlarge"
          }
        },
        "_48XLARGE_OPTIMIZED_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "48xlarge_optimized_memory"
          }
        },
        "_48XLARGE_OPTIMIZED_CPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "48xlarge_optimized_cpu"
          }
        },
        "_48XLARGE_HIGH_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "48xlarge_high_memory"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1GetAvailableRegionsRequest": {
      "type": "structure",
      "members": {
        "organization_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "organization_slug",
            "smithy.api#required": {},
            "smithy.api#documentation": "Slug of your organization"
          }
        },
        "continent": {
          "target": "com.supabase.api#V1GetAvailableRegionsRequestContinent",
          "traits": {
            "smithy.api#httpQuery": "continent",
            "smithy.api#documentation": "Continent code to determine regional recommendations: NA (North America), SA (South America), EU (Europe), AF (Africa), AS (Asia), OC (Oceania), AN (Antarctica)"
          }
        },
        "desired_instance_size": {
          "target": "com.supabase.api#V1GetAvailableRegionsRequestDesiredInstanceSize",
          "traits": {
            "smithy.api#httpQuery": "desired_instance_size",
            "smithy.api#documentation": "Desired instance size. Omit this field to always default to the smallest possible size."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#RegionsInfo": {
      "type": "structure",
      "members": {
        "recommendations": {
          "target": "com.supabase.api#RegionsInfoRecommendations",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "all": {
          "target": "com.supabase.api#RegionsInfoAll",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoRecommendationsSmartGroupCode": {
      "type": "enum",
      "members": {
        "AMERICAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "americas"
          }
        },
        "EMEA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "emea"
          }
        },
        "APAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apac"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoRecommendationsSmartGroupType": {
      "type": "enum",
      "members": {
        "SMARTGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smartGroup"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoRecommendationsSmartGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "com.supabase.api#RegionsInfoRecommendationsSmartGroupCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.supabase.api#RegionsInfoRecommendationsSmartGroupType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoRecommendationsSpecificItemCode": {
      "type": "enum",
      "members": {
        "US_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-1"
          }
        },
        "US_EAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-2"
          }
        },
        "US_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-1"
          }
        },
        "US_WEST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-2"
          }
        },
        "AP_SOUTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-1"
          }
        },
        "AP_NORTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-northeast-1"
          }
        },
        "AP_NORTHEAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-northeast-2"
          }
        },
        "AP_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-east-1"
          }
        },
        "AP_SOUTHEAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-2"
          }
        },
        "EU_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1"
          }
        },
        "EU_WEST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-2"
          }
        },
        "EU_WEST_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-3"
          }
        },
        "EU_NORTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-north-1"
          }
        },
        "EU_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-1"
          }
        },
        "EU_CENTRAL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-2"
          }
        },
        "CA_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-central-1"
          }
        },
        "AP_SOUTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-1"
          }
        },
        "SA_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sa-east-1"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoRecommendationsSpecificItemType": {
      "type": "enum",
      "members": {
        "SPECIFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "specific"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoRecommendationsSpecificItemProvider": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "FLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLY"
          }
        },
        "AWS_K8S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_K8S"
          }
        },
        "AWS_NIMBUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_NIMBUS"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoRecommendationsSpecificItemStatus": {
      "type": "enum",
      "members": {
        "CAPACITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "capacity"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoRecommendationsSpecificItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "com.supabase.api#RegionsInfoRecommendationsSpecificItemCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.supabase.api#RegionsInfoRecommendationsSpecificItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.supabase.api#RegionsInfoRecommendationsSpecificItemProvider",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.supabase.api#RegionsInfoRecommendationsSpecificItemStatus"
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoRecommendationsSpecificList": {
      "type": "list",
      "member": {
        "target": "com.supabase.api#RegionsInfoRecommendationsSpecificItem"
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoRecommendations": {
      "type": "structure",
      "members": {
        "smartGroup": {
          "target": "com.supabase.api#RegionsInfoRecommendationsSmartGroup",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "specific": {
          "target": "com.supabase.api#RegionsInfoRecommendationsSpecificList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoAllSmartGroupItemCode": {
      "type": "enum",
      "members": {
        "AMERICAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "americas"
          }
        },
        "EMEA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "emea"
          }
        },
        "APAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apac"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoAllSmartGroupItemType": {
      "type": "enum",
      "members": {
        "SMARTGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smartGroup"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoAllSmartGroupItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "com.supabase.api#RegionsInfoAllSmartGroupItemCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.supabase.api#RegionsInfoAllSmartGroupItemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoAllSmartGroupList": {
      "type": "list",
      "member": {
        "target": "com.supabase.api#RegionsInfoAllSmartGroupItem"
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoAllSpecificItemCode": {
      "type": "enum",
      "members": {
        "US_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-1"
          }
        },
        "US_EAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-2"
          }
        },
        "US_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-1"
          }
        },
        "US_WEST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-2"
          }
        },
        "AP_SOUTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-1"
          }
        },
        "AP_NORTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-northeast-1"
          }
        },
        "AP_NORTHEAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-northeast-2"
          }
        },
        "AP_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-east-1"
          }
        },
        "AP_SOUTHEAST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-2"
          }
        },
        "EU_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1"
          }
        },
        "EU_WEST_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-2"
          }
        },
        "EU_WEST_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-3"
          }
        },
        "EU_NORTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-north-1"
          }
        },
        "EU_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-1"
          }
        },
        "EU_CENTRAL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-2"
          }
        },
        "CA_CENTRAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-central-1"
          }
        },
        "AP_SOUTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-1"
          }
        },
        "SA_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sa-east-1"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoAllSpecificItemType": {
      "type": "enum",
      "members": {
        "SPECIFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "specific"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoAllSpecificItemProvider": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "FLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLY"
          }
        },
        "AWS_K8S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_K8S"
          }
        },
        "AWS_NIMBUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_NIMBUS"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoAllSpecificItemStatus": {
      "type": "enum",
      "members": {
        "CAPACITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "capacity"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoAllSpecificItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "com.supabase.api#RegionsInfoAllSpecificItemCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.supabase.api#RegionsInfoAllSpecificItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.supabase.api#RegionsInfoAllSpecificItemProvider",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.supabase.api#RegionsInfoAllSpecificItemStatus"
        }
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoAllSpecificList": {
      "type": "list",
      "member": {
        "target": "com.supabase.api#RegionsInfoAllSpecificItem"
      },
      "traits": {}
    },
    "com.supabase.api#RegionsInfoAll": {
      "type": "structure",
      "members": {
        "smartGroup": {
          "target": "com.supabase.api#RegionsInfoAllSmartGroupList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "specific": {
          "target": "com.supabase.api#RegionsInfoAllSpecificList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1GetAvailableRegions": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1GetAvailableRegionsRequest"
      },
      "output": {
        "target": "com.supabase.api#RegionsInfo"
      },
      "errors": [
        {
          "target": "com.supabase.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/available-regions",
          "code": 200
        },
        "smithy.api#documentation": "[Beta] Gets the list of available regions that can be used for a new project"
      }
    },
    "com.supabase.api#OrganizationResponseV1": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `slug` instead.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization slug",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1ListAllOrganizationsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.supabase.api#OrganizationResponseV1"
      },
      "traits": {}
    },
    "com.supabase.api#V1ListAllOrganizationsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.supabase.api#V1ListAllOrganizationsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.supabase.api#V1ListAllOrganizations": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.supabase.api#V1ListAllOrganizationsResponse"
      },
      "errors": [
        {
          "target": "com.supabase.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/organizations",
          "code": 200
        },
        "smithy.api#documentation": "List all organizations\n\nReturns a list of organizations that you currently belong to."
      }
    },
    "com.supabase.api#V1CreateAnOrganizationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#V1CreateAnOrganization": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1CreateAnOrganizationRequest"
      },
      "output": {
        "target": "com.supabase.api#OrganizationResponseV1"
      },
      "errors": [
        {
          "target": "com.supabase.api#BadRequest"
        },
        {
          "target": "com.supabase.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/organizations",
          "code": 200
        },
        "smithy.api#documentation": "Create an organization"
      }
    },
    "com.supabase.api#V1AuthorizeUserRequestResponseType": {
      "type": "enum",
      "members": {
        "CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code"
          }
        },
        "TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token"
          }
        },
        "ID_TOKEN_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id_token token"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1AuthorizeUserRequestCodeChallengeMethod": {
      "type": "enum",
      "members": {
        "PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain"
          }
        },
        "SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sha256"
          }
        },
        "S256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S256"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1AuthorizeUserRequest": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "client_id",
            "smithy.api#required": {}
          }
        },
        "response_type": {
          "target": "com.supabase.api#V1AuthorizeUserRequestResponseType",
          "traits": {
            "smithy.api#httpQuery": "response_type",
            "smithy.api#required": {}
          }
        },
        "redirect_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "redirect_uri",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scope"
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "state"
          }
        },
        "response_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "response_mode"
          }
        },
        "code_challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "code_challenge"
          }
        },
        "code_challenge_method": {
          "target": "com.supabase.api#V1AuthorizeUserRequestCodeChallengeMethod",
          "traits": {
            "smithy.api#httpQuery": "code_challenge_method"
          }
        },
        "organization_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "organization_slug",
            "smithy.api#documentation": "Organization slug"
          }
        },
        "target_flow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "target_flow"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resource",
            "smithy.api#documentation": "Resource indicator for MCP (Model Context Protocol) clients"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#V1AuthorizeUser": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1AuthorizeUserRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.supabase.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/oauth/authorize",
          "code": 200
        },
        "smithy.api#documentation": "[Beta] Authorize user through oauth"
      }
    },
    "com.supabase.api#V1ExchangeOauthTokenRequestGrantType": {
      "type": "enum",
      "members": {
        "AUTHORIZATION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authorization_code"
          }
        },
        "REFRESH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh_token"
          }
        },
        "URN_IETF_PARAMS_OAUTH_GRANT_TYPE_JWT_BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "urn:ietf:params:oauth:grant-type:jwt-bearer"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1ExchangeOauthTokenRequest": {
      "type": "structure",
      "members": {
        "grant_type": {
          "target": "com.supabase.api#V1ExchangeOauthTokenRequestGrantType"
        },
        "client_id": {
          "target": "smithy.api#String"
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "code": {
          "target": "smithy.api#String"
        },
        "code_verifier": {
          "target": "smithy.api#String"
        },
        "redirect_uri": {
          "target": "smithy.api#String"
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "assertion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IDJAG assertion JWT for grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer. Beta - available on Team and Enterprise plans only."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource indicator for MCP (Model Context Protocol) clients"
          }
        },
        "scope": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#OAuthTokenResponse": {
      "type": "structure",
      "members": {
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `urn:ietf:params:oauth:grant-type:jwt-bearer` grant type issues access tokens only, no refresh token is returned and the token cannot be revoked via `/v1/oauth/revoke`.",
            "smithy.api#sensitive": {}
          }
        },
        "expires_in": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "token_type": {
          "target": "com.supabase.api#OAuthTokenResponseTokenType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#OAuthTokenResponseTokenType": {
      "type": "enum",
      "members": {
        "BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Bearer"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1ExchangeOauthToken": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1ExchangeOauthTokenRequest"
      },
      "output": {
        "target": "com.supabase.api#OAuthTokenResponse"
      },
      "errors": [
        {
          "target": "com.supabase.api#BadRequest"
        },
        {
          "target": "com.supabase.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/oauth/token",
          "code": 200
        },
        "smithy.api#documentation": "[Beta] Exchange auth code for user's access and refresh token\n\nSupports `authorization_code`, `refresh_token`, and `urn:ietf:params:oauth:grant-type:jwt-bearer` grant types. The `jwt-bearer` grant type (IDJAG — identity-directed JWT assertion) is in beta and available on Team and Enterprise plans only.",
        "com.distilled.openapi#contentType": "form-urlencoded"
      }
    },
    "com.supabase.api#V1RevokeTokenRequest": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#V1RevokeToken": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1RevokeTokenRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.supabase.api#BadRequest"
        },
        {
          "target": "com.supabase.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/oauth/revoke",
          "code": 200
        },
        "smithy.api#documentation": "[Beta] Revoke oauth app authorization and it's corresponding tokens"
      }
    },
    "com.supabase.api#V1OauthAuthorizeProjectClaimRequestResponseType": {
      "type": "enum",
      "members": {
        "CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code"
          }
        },
        "TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token"
          }
        },
        "ID_TOKEN_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id_token token"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1OauthAuthorizeProjectClaimRequestCodeChallengeMethod": {
      "type": "enum",
      "members": {
        "PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain"
          }
        },
        "SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sha256"
          }
        },
        "S256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S256"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1OauthAuthorizeProjectClaimRequest": {
      "type": "structure",
      "members": {
        "project_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project_ref",
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ref"
          }
        },
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "client_id",
            "smithy.api#required": {}
          }
        },
        "response_type": {
          "target": "com.supabase.api#V1OauthAuthorizeProjectClaimRequestResponseType",
          "traits": {
            "smithy.api#httpQuery": "response_type",
            "smithy.api#required": {}
          }
        },
        "redirect_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "redirect_uri",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "state"
          }
        },
        "response_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "response_mode"
          }
        },
        "code_challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "code_challenge"
          }
        },
        "code_challenge_method": {
          "target": "com.supabase.api#V1OauthAuthorizeProjectClaimRequestCodeChallengeMethod",
          "traits": {
            "smithy.api#httpQuery": "code_challenge_method"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#V1OauthAuthorizeProjectClaim": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1OauthAuthorizeProjectClaimRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.supabase.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/oauth/authorize/project-claim",
          "code": 200
        },
        "smithy.api#documentation": "Authorize user through oauth and claim a project\n\nInitiates the OAuth authorization flow for the specified provider. After successful authentication, the user can claim ownership of the specified project."
      }
    },
    "com.supabase.api#V1ListAllSnippetsRequestSortBy": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "INSERTED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inserted_at"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1ListAllSnippetsRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#V1ListAllSnippetsRequest": {
      "type": "structure",
      "members": {
        "project_ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project_ref",
            "smithy.api#documentation": "Project ref"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "sort_by": {
          "target": "com.supabase.api#V1ListAllSnippetsRequestSortBy",
          "traits": {
            "smithy.api#httpQuery": "sort_by"
          }
        },
        "sort_order": {
          "target": "com.supabase.api#V1ListAllSnippetsRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sort_order"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#SnippetList": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.supabase.api#SnippetListDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.supabase.api#SnippetListDataItemType": {
      "type": "enum",
      "members": {
        "SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sql"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#SnippetListDataItemVisibility": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#SnippetListDataItemProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#SnippetListDataItemOwner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#SnippetListDataItemUpdatedBy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#SnippetListDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "inserted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.supabase.api#SnippetListDataItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "com.supabase.api#SnippetListDataItemVisibility",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "project": {
          "target": "com.supabase.api#SnippetListDataItemProject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.supabase.api#SnippetListDataItemOwner",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_by": {
          "target": "com.supabase.api#SnippetListDataItemUpdatedBy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "favorite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.supabase.api#SnippetListDataList": {
      "type": "list",
      "member": {
        "target": "com.supabase.api#SnippetListDataItem"
      },
      "traits": {}
    },
    "com.supabase.api#V1ListAllSnippets": {
      "type": "operation",
      "input": {
        "target": "com.supabase.api#V1ListAllSnippetsRequest"
      },
      "output": {
        "target": "com.supabase.api#SnippetList"
      },
      "errors": [
        {
          "target": "com.supabase.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/snippets",
          "code": 200
        },
        "smithy.api#documentation": "Lists SQL snippets for the logged in user"
      }
    },
    "com.supabase.api#V1GetASnippetRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.supabase.api#SnippetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "inserted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.supabase.api#SnippetResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "com.supabase.api#SnippetResponseVisibility",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "project": {
[...]
