{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.typesense.api#GetCollectionsRequestGetCollectionsParameters": {
      "type": "structure",
      "members": {
        "exclude_fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of fields from the collection to exclude from the response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of collections to fetch. Default: returns all collections.\n"
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Identifies the starting point to return collections when paginating."
          }
        }
      },
      "traits": {}
    },
    "com.typesense.api#GetCollectionsRequest": {
      "type": "structure",
      "members": {
        "getCollectionsParameters": {
          "target": "com.typesense.api#GetCollectionsRequestGetCollectionsParameters",
          "traits": {
            "smithy.api#httpQuery": "getCollectionsParameters"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.typesense.api#CollectionResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the collection",
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "com.typesense.api#CollectionResponseFieldsList",
          "traits": {
            "smithy.api#documentation": "A list of fields for querying, filtering and faceting",
            "smithy.api#required": {}
          }
        },
        "default_sorting_field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of an int32 / float field that determines the order in which the search results are ranked when a sort_by clause is not provided during searching. This field must indicate some kind of popularity."
          }
        },
        "token_separators": {
          "target": "com.typesense.api#CollectionResponseTokenSeparatorsList",
          "traits": {
            "smithy.api#documentation": "List of symbols or special characters to be used for splitting the text into individual words in addition to space and new-line characters.\n"
          }
        },
        "synonym_sets": {
          "target": "com.typesense.api#CollectionResponseSynonymSetsList",
          "traits": {
            "smithy.api#documentation": "List of synonym set names to associate with this collection"
          }
        },
        "enable_nested_fields": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables experimental support at a collection level for nested object or object array fields. This field is only available if the Typesense server is version `0.24.0.rcn34` or later."
          }
        },
        "symbols_to_index": {
          "target": "com.typesense.api#CollectionResponseSymbolsToIndexList",
          "traits": {
            "smithy.api#documentation": "List of symbols or special characters to be indexed.\n"
          }
        },
        "voice_query_model": {
          "target": "com.typesense.api#VoiceQueryModelCollectionConfig"
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional details about the collection, e.g., when it was created, who created it etc.\n"
          }
        },
        "num_documents": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of documents in the collection",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the collection was created (Unix epoch in seconds)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.typesense.api#Field": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "optional": {
          "target": "smithy.api#Boolean"
        },
        "facet": {
          "target": "smithy.api#Boolean"
        },
        "index": {
          "target": "smithy.api#Boolean"
        },
        "locale": {
          "target": "smithy.api#String"
        },
        "sort": {
          "target": "smithy.api#Boolean"
        },
        "infix": {
          "target": "smithy.api#Boolean"
        },
        "reference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a field in another collection that should be linked to this collection so that it can be joined during query.\n"
          }
        },
        "async_reference": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow documents to be indexed successfully even when the referenced document doesn't exist yet.\n"
          }
        },
        "num_dim": {
          "target": "smithy.api#Integer"
        },
        "drop": {
          "target": "smithy.api#Boolean"
        },
        "store": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to false, the field value will not be stored on disk. Default: true.\n"
          }
        },
        "vec_dist": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The distance metric to be used for vector search. Default: `cosine`. You can also use `ip` for inner product.\n"
          }
        },
        "range_index": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables an index optimized for range filtering on numerical fields (e.g. rating:>3.5). Default: false.\n"
          }
        },
        "stem": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Values are stemmed before indexing in-memory. Default: false.\n"
          }
        },
        "stem_dictionary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the stemming dictionary to use for this field"
          }
        },
        "token_separators": {
          "target": "com.typesense.api#FieldTokenSeparatorsList",
          "traits": {
            "smithy.api#documentation": "List of symbols or special characters to be used for splitting the text into individual words in addition to space and new-line characters.\n"
          }
        },
        "symbols_to_index": {
          "target": "com.typesense.api#FieldSymbolsToIndexList",
          "traits": {
            "smithy.api#documentation": "List of symbols or special characters to be indexed.\n"
          }
        },
        "embed": {
          "target": "com.typesense.api#FieldEmbed"
        }
      },
      "traits": {}
    },
    "com.typesense.api#FieldTokenSeparatorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of symbols or special characters to be used for splitting the text into individual words in addition to space and new-line characters.\n"
      }
    },
    "com.typesense.api#FieldSymbolsToIndexList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of symbols or special characters to be indexed.\n"
      }
    },
    "com.typesense.api#FieldEmbedFromList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.typesense.api#FieldEmbedModelConfig": {
      "type": "structure",
      "members": {
        "model_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "api_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "url": {
          "target": "smithy.api#String"
        },
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "client_id": {
          "target": "smithy.api#String"
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "project_id": {
          "target": "smithy.api#String"
        },
        "indexing_prefix": {
          "target": "smithy.api#String"
        },
        "query_prefix": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.typesense.api#FieldEmbed": {
      "type": "structure",
      "members": {
        "from": {
          "target": "com.typesense.api#FieldEmbedFromList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "model_config": {
          "target": "com.typesense.api#FieldEmbedModelConfig",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.typesense.api#CollectionResponseFieldsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#Field"
      },
      "traits": {
        "smithy.api#documentation": "A list of fields for querying, filtering and faceting"
      }
    },
    "com.typesense.api#CollectionResponseTokenSeparatorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of symbols or special characters to be used for splitting the text into individual words in addition to space and new-line characters.\n"
      }
    },
    "com.typesense.api#CollectionResponseSynonymSetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of synonym set names to associate with this collection"
      }
    },
    "com.typesense.api#CollectionResponseSymbolsToIndexList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of symbols or special characters to be indexed.\n"
      }
    },
    "com.typesense.api#VoiceQueryModelCollectionConfig": {
      "type": "structure",
      "members": {
        "model_name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the voice query model\n"
      }
    },
    "com.typesense.api#GetCollectionsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#CollectionResponse"
      },
      "traits": {}
    },
    "com.typesense.api#GetCollectionsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.typesense.api#GetCollectionsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.typesense.api#GetCollections": {
      "type": "operation",
      "input": {
        "target": "com.typesense.api#GetCollectionsRequest"
      },
      "output": {
        "target": "com.typesense.api#GetCollectionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/collections",
          "code": 200
        },
        "smithy.api#documentation": "List all collections\n\nReturns a summary of all your collections. The collections are returned sorted by creation date, with the most recent collections appearing first."
      }
    },
    "com.typesense.api#CreateCollectionRequestFieldsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#Field"
      },
      "traits": {
        "smithy.api#documentation": "A list of fields for querying, filtering and faceting"
      }
    },
    "com.typesense.api#CreateCollectionRequestTokenSeparatorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of symbols or special characters to be used for splitting the text into individual words in addition to space and new-line characters.\n"
      }
    },
    "com.typesense.api#CreateCollectionRequestSynonymSetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of synonym set names to associate with this collection"
      }
    },
    "com.typesense.api#CreateCollectionRequestSymbolsToIndexList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of symbols or special characters to be indexed.\n"
      }
    },
    "com.typesense.api#CreateCollectionRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the collection",
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "com.typesense.api#CreateCollectionRequestFieldsList",
          "traits": {
            "smithy.api#documentation": "A list of fields for querying, filtering and faceting",
            "smithy.api#required": {}
          }
        },
        "default_sorting_field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of an int32 / float field that determines the order in which the search results are ranked when a sort_by clause is not provided during searching. This field must indicate some kind of popularity."
          }
        },
        "token_separators": {
          "target": "com.typesense.api#CreateCollectionRequestTokenSeparatorsList",
          "traits": {
            "smithy.api#documentation": "List of symbols or special characters to be used for splitting the text into individual words in addition to space and new-line characters.\n"
          }
        },
        "synonym_sets": {
          "target": "com.typesense.api#CreateCollectionRequestSynonymSetsList",
          "traits": {
            "smithy.api#documentation": "List of synonym set names to associate with this collection"
          }
        },
        "enable_nested_fields": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables experimental support at a collection level for nested object or object array fields. This field is only available if the Typesense server is version `0.24.0.rcn34` or later."
          }
        },
        "symbols_to_index": {
          "target": "com.typesense.api#CreateCollectionRequestSymbolsToIndexList",
          "traits": {
            "smithy.api#documentation": "List of symbols or special characters to be indexed.\n"
          }
        },
        "voice_query_model": {
          "target": "com.typesense.api#VoiceQueryModelCollectionConfig"
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional details about the collection, e.g., when it was created, who created it etc.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.typesense.api#CreateCollectionResponseFieldsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#Field"
      },
      "traits": {
        "smithy.api#documentation": "A list of fields for querying, filtering and faceting"
      }
    },
    "com.typesense.api#CreateCollectionResponseTokenSeparatorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of symbols or special characters to be used for splitting the text into individual words in addition to space and new-line characters.\n"
      }
    },
    "com.typesense.api#CreateCollectionResponseSynonymSetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of synonym set names to associate with this collection"
      }
    },
    "com.typesense.api#CreateCollectionResponseSymbolsToIndexList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of symbols or special characters to be indexed.\n"
      }
    },
    "com.typesense.api#CreateCollectionResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the collection",
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "com.typesense.api#CreateCollectionResponseFieldsList",
          "traits": {
            "smithy.api#documentation": "A list of fields for querying, filtering and faceting",
            "smithy.api#required": {}
          }
        },
        "default_sorting_field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of an int32 / float field that determines the order in which the search results are ranked when a sort_by clause is not provided during searching. This field must indicate some kind of popularity."
          }
        },
        "token_separators": {
          "target": "com.typesense.api#CreateCollectionResponseTokenSeparatorsList",
          "traits": {
            "smithy.api#documentation": "List of symbols or special characters to be used for splitting the text into individual words in addition to space and new-line characters.\n"
          }
        },
        "synonym_sets": {
          "target": "com.typesense.api#CreateCollectionResponseSynonymSetsList",
          "traits": {
            "smithy.api#documentation": "List of synonym set names to associate with this collection"
          }
        },
        "enable_nested_fields": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables experimental support at a collection level for nested object or object array fields. This field is only available if the Typesense server is version `0.24.0.rcn34` or later."
          }
        },
        "symbols_to_index": {
          "target": "com.typesense.api#CreateCollectionResponseSymbolsToIndexList",
          "traits": {
            "smithy.api#documentation": "List of symbols or special characters to be indexed.\n"
          }
        },
        "voice_query_model": {
          "target": "com.typesense.api#VoiceQueryModelCollectionConfig"
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional details about the collection, e.g., when it was created, who created it etc.\n"
          }
        },
        "num_documents": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of documents in the collection",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the collection was created (Unix epoch in seconds)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.typesense.api#CreateCollection": {
      "type": "operation",
      "input": {
        "target": "com.typesense.api#CreateCollectionRequest"
      },
      "output": {
        "target": "com.typesense.api#CreateCollectionResponse"
      },
      "errors": [
        {
          "target": "com.typesense.api#BadRequest"
        },
        {
          "target": "com.typesense.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/collections",
          "code": 200
        },
        "smithy.api#documentation": "Create a new collection\n\nWhen a collection is created, we give it a name and describe the fields that will be indexed from the documents added to the collection."
      }
    },
    "com.typesense.api#GetCollectionRequest": {
      "type": "structure",
      "members": {
        "collectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the collection to retrieve"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.typesense.api#GetCollectionResponseFieldsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#Field"
      },
      "traits": {
        "smithy.api#documentation": "A list of fields for querying, filtering and faceting"
      }
    },
    "com.typesense.api#GetCollectionResponseTokenSeparatorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of symbols or special characters to be used for splitting the text into individual words in addition to space and new-line characters.\n"
      }
    },
    "com.typesense.api#GetCollectionResponseSynonymSetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of synonym set names to associate with this collection"
      }
    },
    "com.typesense.api#GetCollectionResponseSymbolsToIndexList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of symbols or special characters to be indexed.\n"
      }
    },
    "com.typesense.api#GetCollectionResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the collection",
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "com.typesense.api#GetCollectionResponseFieldsList",
          "traits": {
            "smithy.api#documentation": "A list of fields for querying, filtering and faceting",
            "smithy.api#required": {}
          }
        },
        "default_sorting_field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of an int32 / float field that determines the order in which the search results are ranked when a sort_by clause is not provided during searching. This field must indicate some kind of popularity."
          }
        },
        "token_separators": {
          "target": "com.typesense.api#GetCollectionResponseTokenSeparatorsList",
          "traits": {
            "smithy.api#documentation": "List of symbols or special characters to be used for splitting the text into individual words in addition to space and new-line characters.\n"
          }
        },
        "synonym_sets": {
          "target": "com.typesense.api#GetCollectionResponseSynonymSetsList",
          "traits": {
            "smithy.api#documentation": "List of synonym set names to associate with this collection"
          }
        },
        "enable_nested_fields": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables experimental support at a collection level for nested object or object array fields. This field is only available if the Typesense server is version `0.24.0.rcn34` or later."
          }
        },
        "symbols_to_index": {
          "target": "com.typesense.api#GetCollectionResponseSymbolsToIndexList",
          "traits": {
            "smithy.api#documentation": "List of symbols or special characters to be indexed.\n"
          }
        },
        "voice_query_model": {
          "target": "com.typesense.api#VoiceQueryModelCollectionConfig"
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional details about the collection, e.g., when it was created, who created it etc.\n"
          }
        },
        "num_documents": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of documents in the collection",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the collection was created (Unix epoch in seconds)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.typesense.api#GetCollection": {
      "type": "operation",
      "input": {
        "target": "com.typesense.api#GetCollectionRequest"
      },
      "output": {
        "target": "com.typesense.api#GetCollectionResponse"
      },
      "errors": [
        {
          "target": "com.typesense.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/collections/{collectionName}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a single collection\n\nRetrieve the details of a collection, given its name."
      }
    },
    "com.typesense.api#UpdateCollectionRequestFieldsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#Field"
      },
      "traits": {
        "smithy.api#documentation": "A list of fields for querying, filtering and faceting"
      }
    },
    "com.typesense.api#UpdateCollectionRequestSynonymSetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of synonym set names to associate with this collection"
      }
    },
    "com.typesense.api#UpdateCollectionRequest": {
      "type": "structure",
      "members": {
        "collectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the collection to update"
          }
        },
        "fields": {
          "target": "com.typesense.api#UpdateCollectionRequestFieldsList",
          "traits": {
            "smithy.api#documentation": "A list of fields for querying, filtering and faceting"
          }
        },
        "synonym_sets": {
          "target": "com.typesense.api#UpdateCollectionRequestSynonymSetsList",
          "traits": {
            "smithy.api#documentation": "List of synonym set names to associate with this collection"
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional details about the collection, e.g., when it was created, who created it etc.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.typesense.api#CollectionUpdateSchema": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.typesense.api#CollectionUpdateSchemaFieldsList",
          "traits": {
            "smithy.api#documentation": "A list of fields for querying, filtering and faceting"
          }
        },
        "synonym_sets": {
          "target": "com.typesense.api#CollectionUpdateSchemaSynonymSetsList",
          "traits": {
            "smithy.api#documentation": "List of synonym set names to associate with this collection"
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional details about the collection, e.g., when it was created, who created it etc.\n"
          }
        }
      },
      "traits": {}
    },
    "com.typesense.api#CollectionUpdateSchemaFieldsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#Field"
      },
      "traits": {
        "smithy.api#documentation": "A list of fields for querying, filtering and faceting"
      }
    },
    "com.typesense.api#CollectionUpdateSchemaSynonymSetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of synonym set names to associate with this collection"
      }
    },
    "com.typesense.api#UpdateCollection": {
      "type": "operation",
      "input": {
        "target": "com.typesense.api#UpdateCollectionRequest"
      },
      "output": {
        "target": "com.typesense.api#CollectionUpdateSchema"
      },
      "errors": [
        {
          "target": "com.typesense.api#BadRequest"
        },
        {
          "target": "com.typesense.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/collections/{collectionName}",
          "code": 200
        },
        "smithy.api#documentation": "Update a collection\n\nUpdate a collection's schema to modify the fields and their types."
      }
    },
    "com.typesense.api#DeleteCollectionRequest": {
      "type": "structure",
      "members": {
        "collectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the collection to delete"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.typesense.api#DeleteCollectionResponseFieldsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#Field"
      },
      "traits": {
        "smithy.api#documentation": "A list of fields for querying, filtering and faceting"
      }
    },
    "com.typesense.api#DeleteCollectionResponseTokenSeparatorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of symbols or special characters to be used for splitting the text into individual words in addition to space and new-line characters.\n"
      }
    },
    "com.typesense.api#DeleteCollectionResponseSynonymSetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of synonym set names to associate with this collection"
      }
    },
    "com.typesense.api#DeleteCollectionResponseSymbolsToIndexList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of symbols or special characters to be indexed.\n"
      }
    },
    "com.typesense.api#DeleteCollectionResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the collection",
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "com.typesense.api#DeleteCollectionResponseFieldsList",
          "traits": {
            "smithy.api#documentation": "A list of fields for querying, filtering and faceting",
            "smithy.api#required": {}
          }
        },
        "default_sorting_field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of an int32 / float field that determines the order in which the search results are ranked when a sort_by clause is not provided during searching. This field must indicate some kind of popularity."
          }
        },
        "token_separators": {
          "target": "com.typesense.api#DeleteCollectionResponseTokenSeparatorsList",
          "traits": {
            "smithy.api#documentation": "List of symbols or special characters to be used for splitting the text into individual words in addition to space and new-line characters.\n"
          }
        },
        "synonym_sets": {
          "target": "com.typesense.api#DeleteCollectionResponseSynonymSetsList",
          "traits": {
            "smithy.api#documentation": "List of synonym set names to associate with this collection"
          }
        },
        "enable_nested_fields": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables experimental support at a collection level for nested object or object array fields. This field is only available if the Typesense server is version `0.24.0.rcn34` or later."
          }
        },
        "symbols_to_index": {
          "target": "com.typesense.api#DeleteCollectionResponseSymbolsToIndexList",
          "traits": {
            "smithy.api#documentation": "List of symbols or special characters to be indexed.\n"
          }
        },
        "voice_query_model": {
          "target": "com.typesense.api#VoiceQueryModelCollectionConfig"
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional details about the collection, e.g., when it was created, who created it etc.\n"
          }
        },
        "num_documents": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of documents in the collection",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the collection was created (Unix epoch in seconds)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.typesense.api#DeleteCollection": {
      "type": "operation",
      "input": {
        "target": "com.typesense.api#DeleteCollectionRequest"
      },
      "output": {
        "target": "com.typesense.api#DeleteCollectionResponse"
      },
      "errors": [
        {
          "target": "com.typesense.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/collections/{collectionName}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a collection\n\nPermanently drops a collection. This action cannot be undone. For large collections, this might have an impact on read latencies."
      }
    },
    "com.typesense.api#IndexAction": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update"
          }
        },
        "UPSERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "upsert"
          }
        },
        "EMPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "emplace"
          }
        }
      },
      "traits": {}
    },
    "com.typesense.api#DirtyValues": {
      "type": "enum",
      "members": {
        "COERCE_OR_REJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coerce_or_reject"
          }
        },
        "COERCE_OR_DROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coerce_or_drop"
          }
        },
        "DROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drop"
          }
        },
        "REJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reject"
          }
        }
      },
      "traits": {}
    },
    "com.typesense.api#IndexDocumentRequest": {
      "type": "structure",
      "members": {
        "collectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the collection to add the document to"
          }
        },
        "action": {
          "target": "com.typesense.api#IndexAction",
          "traits": {
            "smithy.api#httpQuery": "action",
            "smithy.api#documentation": "Additional action to perform"
          }
        },
        "dirty_values": {
          "target": "com.typesense.api#DirtyValues",
          "traits": {
            "smithy.api#httpQuery": "dirty_values",
            "smithy.api#documentation": "Dealing with Dirty Data"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.typesense.api#IndexDocumentResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.typesense.api#IndexDocument": {
      "type": "operation",
      "input": {
        "target": "com.typesense.api#IndexDocumentRequest"
      },
      "output": {
        "target": "com.typesense.api#IndexDocumentResponse"
      },
      "errors": [
        {
          "target": "com.typesense.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/collections/{collectionName}/documents",
          "code": 200
        },
        "smithy.api#documentation": "Index a document\n\nA document to be indexed in a given collection must conform to the schema of the collection."
      }
    },
    "com.typesense.api#UpdateDocumentsRequestUpdateDocumentsParameters": {
      "type": "structure",
      "members": {
        "filter_by": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.typesense.api#UpdateDocumentsRequest": {
      "type": "structure",
      "members": {
        "collectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the collection to update documents in"
          }
        },
        "updateDocumentsParameters": {
          "target": "com.typesense.api#UpdateDocumentsRequestUpdateDocumentsParameters",
          "traits": {
            "smithy.api#httpQuery": "updateDocumentsParameters"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.typesense.api#UpdateDocumentsResponse": {
      "type": "structure",
      "members": {
        "num_updated": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of documents that have been updated",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.typesense.api#UpdateDocuments": {
      "type": "operation",
      "input": {
        "target": "com.typesense.api#UpdateDocumentsRequest"
      },
      "output": {
        "target": "com.typesense.api#UpdateDocumentsResponse"
      },
      "errors": [
        {
          "target": "com.typesense.api#BadRequest"
        },
        {
          "target": "com.typesense.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/collections/{collectionName}/documents",
          "code": 200
        },
        "smithy.api#documentation": "Update documents with conditional query\n\nThe filter_by query parameter is used to filter to specify a condition against which the documents are matched. The request body contains the fields that should be updated for any documents that match the filter condition. This endpoint is only available if the Typesense server is version `0.25.0.rc12` or later."
      }
    },
    "com.typesense.api#DeleteDocumentsRequestDeleteDocumentsParameters": {
      "type": "structure",
      "members": {
        "filter_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "batch_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Batch size parameter controls the number of documents that should be deleted at a time. A larger value will speed up deletions, but will impact performance of other operations running on the server."
          }
        },
        "ignore_not_found": {
          "target": "smithy.api#Boolean"
        },
        "truncate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, removes all documents from the collection while preserving the collection and its schema."
          }
        }
      },
      "traits": {}
    },
    "com.typesense.api#DeleteDocumentsRequest": {
      "type": "structure",
      "members": {
        "collectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the collection to delete documents from"
          }
        },
        "deleteDocumentsParameters": {
          "target": "com.typesense.api#DeleteDocumentsRequestDeleteDocumentsParameters",
          "traits": {
            "smithy.api#httpQuery": "deleteDocumentsParameters"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.typesense.api#DeleteDocumentsResponse": {
      "type": "structure",
      "members": {
        "num_deleted": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.typesense.api#DeleteDocuments": {
      "type": "operation",
      "input": {
        "target": "com.typesense.api#DeleteDocumentsRequest"
      },
      "output": {
        "target": "com.typesense.api#DeleteDocumentsResponse"
      },
      "errors": [
        {
          "target": "com.typesense.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/collections/{collectionName}/documents",
          "code": 200
        },
        "smithy.api#documentation": "Delete a bunch of documents\n\nDelete a bunch of documents that match a specific filter condition. Use the `batch_size` parameter to control the number of documents that should deleted at a time. A larger value will speed up deletions, but will impact performance of other operations running on the server."
      }
    },
    "com.typesense.api#SearchParameters": {
      "type": "structure",
      "members": {
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The query text to search for in the collection. Use * as the search string to return all documents. This is typically useful when used in conjunction with filter_by."
          }
        },
        "query_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A list of `string` fields that should be queried against. Multiple fields are separated with a comma."
          }
        },
        "validate_field_names": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether Typesense should validate if the fields exist in the schema. When set to false, Typesense will not throw an error if a field is missing. This is useful for programmatic grouping where not all fields may exist.\n"
          }
        },
        "nl_query": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use natural language processing to parse the query."
          }
        },
        "nl_model_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the natural language model to use."
          }
        },
        "query_by_weights": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The relative weight to give each `query_by` field when ranking results. This can be used to boost fields in priority, when looking for matches. Multiple fields are separated with a comma."
          }
        },
        "text_match_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "In a multi-field matching context, this parameter determines how the representative text match score of a record is calculated. Possible values are max_score (default) or max_weight."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Boolean field to indicate that the last word in the query should be treated as a prefix, and not as a whole word. This is used for building autocomplete and instant search interfaces. Defaults to true."
          }
        },
        "infix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If infix index is enabled for this field, infix searching can be done on a per-field basis by sending a comma separated string parameter called infix to the search query. This parameter can have 3 values; `off` infix search is disabled, which is default `always` infix search is performed along with regular search `fallback` infix search is performed if regular search does not produce results"
          }
        },
        "max_extra_prefix": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "There are also 2 parameters that allow you to control the extent of infix searching max_extra_prefix and max_extra_suffix which specify the maximum number of symbols before or after the query that can be present in the token. For example query \"K2100\" has 2 extra symbols in \"6PK2100\". By default, any number of prefixes/suffixes can be present for a match."
          }
        },
        "max_extra_suffix": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "There are also 2 parameters that allow you to control the extent of infix searching max_extra_prefix and max_extra_suffix which specify the maximum number of symbols before or after the query that can be present in the token. For example query \"K2100\" has 2 extra symbols in \"6PK2100\". By default, any number of prefixes/suffixes can be present for a match."
          }
        },
        "filter_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter conditions for refining your open api validator search results. Separate multiple conditions with &&."
          }
        },
        "max_filter_by_candidates": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Controls the number of similar words that Typesense considers during fuzzy search on filter_by values. Useful for controlling prefix matches like company_name:Acm*."
          }
        },
        "sort_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A list of numerical fields and their corresponding sort orders that will be used for ordering your results. Up to 3 sort fields can be specified. The text similarity score is exposed as a special `_text_match` field that you can use in the list of sorting fields. If no `sort_by` parameter is specified, results are sorted by `_text_match:desc,default_sorting_field:desc`"
          }
        },
        "facet_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A list of fields that will be used for faceting your results on. Separate multiple fields with a comma."
          }
        },
        "max_facet_values": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of facet values to be returned."
          }
        },
        "facet_query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Facet values that are returned can now be filtered via this parameter. The matching facet text is also highlighted. For example, when faceting by `category`, you can set `facet_query=category:shoe` to return only facet values that contain the prefix \"shoe\"."
          }
        },
        "num_typos": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of typographical errors (1 or 2) that would be tolerated. Default: 2\n"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Results from this specific page number would be fetched."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of results to fetch per page. Default: 10"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of hits to fetch. Can be used as an alternative to the per_page parameter. Default: 10.\n"
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Identifies the starting point to return hits from a result set. Can be used as an alternative to the page parameter."
          }
        },
        "group_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "You can aggregate search results into groups or buckets by specify one or more `group_by` fields. Separate multiple fields with a comma. To group on a particular field, it must be a faceted field."
          }
        },
        "group_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of hits to be returned for every group. If the `group_limit` is set as `K` then only the top K hits in each group are returned in the response. Default: 3\n"
          }
        },
        "group_missing_values": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Setting this parameter to true will place all documents that have a null value in the group_by field, into a single group. Setting this parameter to false, will cause each document with a null value in the group_by field to not be grouped with other documents. Default: true\n"
          }
        },
        "include_fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "List of fields from the document to include in the search result"
          }
        },
        "exclude_fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "List of fields from the document to exclude in the search result"
          }
        },
        "highlight_full_fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "List of fields which should be highlighted fully without snippeting"
          }
        },
        "highlight_affix_num_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of tokens that should surround the highlighted text on each side. Default: 4\n"
          }
        },
        "highlight_start_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start tag used for the highlighted snippets. Default: `<mark>`\n"
          }
        },
        "highlight_end_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end tag used for the highlighted snippets. Default: `</mark>`\n"
          }
        },
        "enable_highlight_v1": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag for enabling/disabling the deprecated, old highlight structure in the response. Default: true\n"
          }
        },
        "enable_analytics": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag for enabling/disabling analytics aggregation for specific search queries (for e.g. those originating from a test script).\n"
          }
        },
        "snippet_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Field values under this length will be fully highlighted, instead of showing a snippet of relevant portion. Default: 30\n"
          }
        },
        "synonym_sets": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "List of synonym set names to associate with this search query"
          }
        },
        "drop_tokens_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the number of results found for a specific query is less than this number, Typesense will attempt to drop the tokens in the query until enough results are found. Tokens that have the least individual hits are dropped first. Set to 0 to disable. Default: 10\n"
          }
        },
        "drop_tokens_mode": {
          "target": "com.typesense.api#DropTokensMode"
        },
        "typo_tokens_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the number of results found for a specific query is less than this number, Typesense will attempt to look for tokens with more typos until enough results are found. Default: 100\n"
          }
        },
        "enable_typos_for_alpha_numerical_tokens": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set this parameter to false to disable typos on alphanumerical query tokens. Default: true.\n"
          }
        },
        "filter_curated_hits": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the filter_by condition of the search query should be applicable to curated results (curation definitions, pinned hits, hidden hits, etc.). Default: false\n"
          }
        },
        "enable_synonyms": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If you have some synonyms defined but want to disable all of them for a particular search query, set enable_synonyms to false. Default: true\n"
          }
        },
        "synonym_prefix": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow synonym resolution on word prefixes in the query. Default: false\n"
          }
        },
        "synonym_num_typos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Allow synonym resolution on typo-corrected words in the query. Default: 0\n"
          }
        },
        "pinned_hits": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A list of records to unconditionally include in the search results at specific positions. An example use case would be to feature or promote certain items on the top of search results. A list of `record_id:hit_position`. Eg: to include a record with ID 123 at Position 1 and another record with ID 456 at Position 5, you'd specify `123:1,456:5`.\nYou could also use the Curation feature to override search results based on rules. Curations are applied first, followed by `pinned_hits` and finally `hidden_hits`.\n"
          }
        },
        "hidden_hits": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A list of records to unconditionally hide from search results. A list of `record_id`s to hide. Eg: to hide records with IDs 123 and 456, you'd specify `123,456`.\nYou could also use the Curation feature to override search results based on rules. Curations are applied first, followed by `pinned_hits` and finally `hidden_hits`.\n"
          }
        },
        "curation_tags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma separated list of tags to trigger the curations rules that match the tags."
          }
        },
        "highlight_fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A list of custom fields that must be highlighted even if you don't query for them\n"
          }
        },
        "split_join_tokens": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Treat space as typo: search for q=basket ball if q=basketball is not found or vice-versa. Splitting/joining of tokens will only be attempted if the original query produces no results. To always trigger this behavior, set value to `always``. To disable, set value to `off`. Default is `fallback`.\n"
          }
        },
        "pre_segmented_query": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "You can index content from any logographic language into Typesense if you are able to segment / split the text into space-separated words yourself before indexing and querying.\nSet this parameter to true to do the same\n"
          }
        },
        "preset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search using a bunch of search parameters by setting this parameter to the name of the existing Preset.\n"
          }
        },
        "enable_curations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If you have some curation sets defined but want to disable all of them during query time, you can do that by setting this parameter to false\n"
          }
        },
        "prioritize_exact_match": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set this parameter to true to ensure that an exact match is ranked above the others\n"
          }
        },
        "max_candidates": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Control the number of words that Typesense considers for typo and prefix searching.\n"
          }
        },
        "prioritize_token_position": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Make Typesense prioritize documents where the query words appear earlier in the text.\n"
          }
        },
        "prioritize_num_matching_fields": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Make Typesense prioritize documents where the query words appear in more number of fields.\n"
          }
        },
        "enable_typos_for_numerical_tokens": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Make Typesense disable typos for numerical tokens.\n"
          }
        },
        "exhaustive_search": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Setting this to true will make Typesense consider all prefixes and typo corrections of the words in the query without stopping early when enough results are found (drop_tokens_threshold and typo_tokens_threshold configurations are ignored).\n"
          }
        },
        "search_cutoff_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Typesense will attempt to return results early if the cutoff time has elapsed. This is not a strict guarantee and facet computation is not bound by this parameter.\n"
          }
        },
        "use_cache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable server side caching of search query results. By default, caching is disabled.\n"
          }
        },
        "cache_ttl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The duration (in seconds) that determines how long the search query is cached. This value can be set on a per-query basis. Default: 60.\n"
          }
        },
        "min_len_1typo": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum word length for 1-typo correction to be applied. The value of num_typos is still treated as the maximum allowed typos.\n"
          }
        },
        "min_len_2typo": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum word length for 2-typo correction to be applied. The value of num_typos is still treated as the maximum allowed typos.\n"
          }
        },
        "vector_query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vector query expression for fetching documents \"closest\" to a given query/document vector.\n"
          }
        },
        "remote_embedding_timeout_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timeout (in milliseconds) for fetching remote embeddings.\n"
          }
        },
        "remote_embedding_num_tries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times to retry fetching remote embeddings.\n"
          }
        },
        "facet_strategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Choose the underlying faceting strategy used. Comma separated string of allows values: exhaustive, top_values or automatic (default).\n"
          }
        },
        "stopwords": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the stopwords set to apply for this search, the keywords present in the set will be removed from the search query.\n"
          }
        },
        "facet_return_parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma separated string of nested facet fields whose parent object should be returned in facet response.\n"
          }
        },
        "voice_query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base64 encoded audio file in 16 khz 16-bit WAV format.\n"
          }
        },
        "conversation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable conversational search.\n"
          }
        },
        "conversation_model_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Id of Conversation Model to be used.\n"
          }
        },
        "conversation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Id of a previous conversation to continue, this tells Typesense to include prior context when communicating with the LLM.\n"
          }
        }
      },
      "traits": {}
    },
    "com.typesense.api#DropTokensMode": {
      "type": "enum",
      "members": {
        "RIGHT_TO_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "right_to_left"
          }
        },
        "LEFT_TO_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "left_to_right"
          }
        },
        "BOTH_SIDES_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "both_sides:3"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dictates the direction in which the words in the query must be dropped when the original words in the query do not appear in any document. Values: right_to_left (default), left_to_right, both_sides:3 A note on both_sides:3 - for queries up to 3 tokens (words) in length, this mode will drop tokens from both sides and exhaustively rank all matching results. If query length is greater than 3 words, Typesense will just fallback to default behavior of right_to_left\n"
      }
    },
    "com.typesense.api#SearchCollectionRequest": {
      "type": "structure",
      "members": {
        "collectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the collection to search for the document under"
          }
        },
        "searchParameters": {
          "target": "com.typesense.api#SearchParameters",
          "traits": {
            "smithy.api#httpQuery": "searchParameters",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.typesense.api#SearchResult": {
      "type": "structure",
      "members": {
        "facet_counts": {
          "target": "com.typesense.api#SearchResultFacetCountsList"
        },
        "found": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of documents found"
          }
        },
        "found_docs": {
          "target": "smithy.api#Integer"
        },
        "search_time_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds the search took"
          }
        },
        "out_of": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of documents in the collection"
          }
        },
        "search_cutoff": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the search was cut off"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The search result page number"
          }
        },
        "grouped_hits": {
          "target": "com.typesense.api#SearchResultGroupedHitsList"
        },
        "hits": {
          "target": "com.typesense.api#SearchResultHitsList",
          "traits": {
            "smithy.api#documentation": "The documents that matched the search query"
          }
        },
        "request_params": {
          "target": "com.typesense.api#SearchRequestParams"
        },
        "conversation": {
          "target": "com.typesense.api#SearchResultConversation"
        },
        "union_request_params": {
          "target": "com.typesense.api#SearchResultUnionRequestParamsList",
          "traits": {
            "smithy.api#documentation": "Returned only for union query response."
          }
        },
        "metadata": {
          "target": "com.typesense.api#SearchResultMetadataMap",
          "traits": {
            "smithy.api#documentation": "Custom JSON object that can be returned in the search response"
          }
        }
      },
      "traits": {}
    },
    "com.typesense.api#FacetCounts": {
      "type": "structure",
      "members": {
        "counts": {
          "target": "com.typesense.api#FacetCountsCountsList"
        },
        "field_name": {
          "target": "smithy.api#String"
        },
        "sampled": {
          "target": "smithy.api#Boolean"
        },
        "stats": {
          "target": "com.typesense.api#FacetCountsStats"
        }
      },
      "traits": {}
    },
    "com.typesense.api#FacetCountsCountsItem": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "highlighted": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        },
        "parent": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.typesense.api#FacetCountsCountsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#FacetCountsCountsItem"
      },
      "traits": {}
    },
    "com.typesense.api#FacetCountsStats": {
      "type": "structure",
      "members": {
        "max": {
          "target": "smithy.api#Double"
        },
        "min": {
          "target": "smithy.api#Double"
        },
        "sum": {
          "target": "smithy.api#Double"
        },
        "total_values": {
          "target": "smithy.api#Integer"
        },
        "avg": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.typesense.api#SearchResultFacetCountsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#FacetCounts"
      },
      "traits": {}
    },
    "com.typesense.api#SearchGroupedHit": {
      "type": "structure",
      "members": {
        "found": {
          "target": "smithy.api#Integer"
        },
        "group_key": {
          "target": "com.typesense.api#SearchGroupedHitGroupKeyList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hits": {
          "target": "com.typesense.api#SearchGroupedHitHitsList",
          "traits": {
            "smithy.api#documentation": "The documents that matched the search query",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.typesense.api#SearchGroupedHitGroupKeyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.typesense.api#SearchResultHit": {
      "type": "structure",
      "members": {
        "highlights": {
          "target": "com.typesense.api#SearchResultHitHighlightsList",
          "traits": {
            "smithy.api#documentation": "(Deprecated) Contains highlighted portions of the search fields"
          }
        },
        "highlight": {
          "target": "com.typesense.api#SearchResultHitHighlightMap",
          "traits": {
            "smithy.api#documentation": "Highlighted version of the matching document"
          }
        },
        "document": {
          "target": "com.typesense.api#SearchResultHitDocumentMap",
          "traits": {
            "smithy.api#documentation": "Can be any key-value pair"
          }
        },
        "text_match": {
          "target": "smithy.api#Integer"
        },
        "text_match_info": {
          "target": "com.typesense.api#SearchResultHitTextMatchInfo"
        },
        "geo_distance_meters": {
          "target": "com.typesense.api#SearchResultHitGeoDistanceMetersMap",
          "traits": {
            "smithy.api#documentation": "Can be any key-value pair"
          }
        },
        "vector_distance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Distance between the query vector and matching document's vector value"
          }
        },
        "hybrid_search_info": {
          "target": "com.typesense.api#SearchResultHitHybridSearchInfo",
          "traits": {
            "smithy.api#documentation": "Information about hybrid search scoring"
          }
        },
        "search_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Returned only for union query response. Indicates the index of the query which this document matched to."
          }
        }
      },
      "traits": {}
    },
    "com.typesense.api#SearchHighlight": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String"
        },
        "snippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present only for (non-array) string fields"
          }
        },
        "snippets": {
          "target": "com.typesense.api#SearchHighlightSnippetsList",
          "traits": {
            "smithy.api#documentation": "Present only for (array) string[] fields"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full field value with highlighting, present only for (non-array) string fields"
          }
        },
        "values": {
          "target": "com.typesense.api#SearchHighlightValuesList",
          "traits": {
            "smithy.api#documentation": "Full field value with highlighting, present only for (array) string[] fields"
          }
        },
        "indices": {
          "target": "com.typesense.api#SearchHighlightIndicesList",
          "traits": {
            "smithy.api#documentation": "The indices property will be present only for string[] fields and will contain the corresponding indices of the snippets in the search field"
          }
        },
        "matched_tokens": {
          "target": "com.typesense.api#SearchHighlightMatchedTokensList"
        }
      },
      "traits": {}
    },
    "com.typesense.api#SearchHighlightSnippetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Present only for (array) string[] fields"
      }
    },
    "com.typesense.api#SearchHighlightValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Full field value with highlighting, present only for (array) string[] fields"
      }
    },
    "com.typesense.api#SearchHighlightIndicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "The indices property will be present only for string[] fields and will contain the corresponding indices of the snippets in the search field"
      }
    },
    "com.typesense.api#SearchHighlightMatchedTokensList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.typesense.api#SearchResultHitHighlightsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#SearchHighlight"
      },
      "traits": {
        "smithy.api#documentation": "(Deprecated) Contains highlighted portions of the search fields"
      }
    },
    "com.typesense.api#SearchResultHitHighlightMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Highlighted version of the matching document"
      }
    },
    "com.typesense.api#SearchResultHitDocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Can be any key-value pair"
      }
    },
    "com.typesense.api#SearchResultHitTextMatchInfo": {
      "type": "structure",
      "members": {
        "best_field_score": {
          "target": "smithy.api#String"
        },
        "best_field_weight": {
          "target": "smithy.api#Integer"
        },
        "fields_matched": {
          "target": "smithy.api#Integer"
        },
        "num_tokens_dropped": {
          "target": "smithy.api#Integer"
        },
        "score": {
          "target": "smithy.api#String"
        },
        "tokens_matched": {
          "target": "smithy.api#Integer"
        },
        "typo_prefix_score": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.typesense.api#SearchResultHitGeoDistanceMetersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Can be any key-value pair"
      }
    },
    "com.typesense.api#SearchResultHitHybridSearchInfo": {
      "type": "structure",
      "members": {
        "rank_fusion_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Combined score from rank fusion of text and vector search"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about hybrid search scoring"
      }
    },
    "com.typesense.api#SearchGroupedHitHitsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#SearchResultHit"
      },
      "traits": {
        "smithy.api#documentation": "The documents that matched the search query"
      }
    },
    "com.typesense.api#SearchResultGroupedHitsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#SearchGroupedHit"
      },
      "traits": {}
    },
    "com.typesense.api#SearchResultHitsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#SearchResultHit"
      },
      "traits": {
        "smithy.api#documentation": "The documents that matched the search query"
      }
    },
    "com.typesense.api#SearchRequestParams": {
      "type": "structure",
      "members": {
        "collection_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "first_q": {
          "target": "smithy.api#String"
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "voice_query": {
          "target": "com.typesense.api#SearchRequestParamsVoiceQuery"
        }
      },
      "traits": {}
    },
    "com.typesense.api#SearchRequestParamsVoiceQuery": {
      "type": "structure",
      "members": {
        "transcribed_query": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.typesense.api#SearchResultConversation": {
      "type": "structure",
      "members": {
        "answer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "conversation_history": {
          "target": "com.typesense.api#SearchResultConversationConversationHistoryList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "conversation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.typesense.api#SearchResultConversationConversationHistoryList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.typesense.api#SearchResultUnionRequestParamsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#SearchRequestParams"
      },
      "traits": {
        "smithy.api#documentation": "Returned only for union query response."
      }
    },
    "com.typesense.api#SearchResultMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Custom JSON object that can be returned in the search response"
      }
    },
    "com.typesense.api#SearchCollection": {
      "type": "operation",
      "input": {
        "target": "com.typesense.api#SearchCollectionRequest"
      },
      "output": {
        "target": "com.typesense.api#SearchResult"
      },
      "errors": [
        {
          "target": "com.typesense.api#BadRequest"
        },
        {
          "target": "com.typesense.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/collections/{collectionName}/documents/search",
          "code": 200
        },
        "smithy.api#documentation": "Search for documents in a collection\n\nSearch for documents in a collection that match the search criteria."
      }
    },
    "com.typesense.api#SynonymSetSchema": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.typesense.api#SynonymSetSchemaItemsList",
          "traits": {
            "smithy.api#documentation": "Array of synonym items",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the synonym set",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.typesense.api#SynonymItemSchema": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the synonym item",
            "smithy.api#required": {}
          }
        },
        "synonyms": {
          "target": "com.typesense.api#SynonymItemSchemaSynonymsList",
          "traits": {
            "smithy.api#documentation": "Array of words that should be considered as synonyms",
            "smithy.api#required": {}
          }
        },
        "root": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For 1-way synonyms, indicates the root word that words in the synonyms parameter map to"
          }
        },
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Locale for the synonym, leave blank to use the standard tokenizer"
          }
        },
        "symbols_to_index": {
          "target": "com.typesense.api#SynonymItemSchemaSymbolsToIndexList",
          "traits": {
            "smithy.api#documentation": "By default, special characters are dropped from synonyms. Use this attribute to specify which special characters should be indexed as is"
          }
        }
      },
      "traits": {}
    },
    "com.typesense.api#SynonymItemSchemaSynonymsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of words that should be considered as synonyms"
      }
    },
    "com.typesense.api#SynonymItemSchemaSymbolsToIndexList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "By default, special characters are dropped from synonyms. Use this attribute to specify which special characters should be indexed as is"
      }
    },
    "com.typesense.api#SynonymSetSchemaItemsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#SynonymItemSchema"
      },
      "traits": {
        "smithy.api#documentation": "Array of synonym items"
      }
    },
    "com.typesense.api#RetrieveSynonymSetsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#SynonymSetSchema"
      },
      "traits": {}
    },
    "com.typesense.api#RetrieveSynonymSetsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.typesense.api#RetrieveSynonymSetsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.typesense.api#RetrieveSynonymSets": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.typesense.api#RetrieveSynonymSetsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/synonym_sets",
          "code": 200
        },
        "smithy.api#documentation": "List all synonym sets\n\nRetrieve all synonym sets"
      }
    },
    "com.typesense.api#RetrieveSynonymSetRequest": {
      "type": "structure",
      "members": {
        "synonymSetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the synonym set to retrieve"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.typesense.api#RetrieveSynonymSetResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#SynonymItemSchema"
      },
      "traits": {
        "smithy.api#documentation": "Array of synonym items"
      }
    },
    "com.typesense.api#RetrieveSynonymSetResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.typesense.api#RetrieveSynonymSetResponseItemsList",
          "traits": {
            "smithy.api#documentation": "Array of synonym items",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the synonym set",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.typesense.api#RetrieveSynonymSet": {
      "type": "operation",
      "input": {
        "target": "com.typesense.api#RetrieveSynonymSetRequest"
      },
      "output": {
        "target": "com.typesense.api#RetrieveSynonymSetResponse"
      },
      "errors": [
        {
          "target": "com.typesense.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/synonym_sets/{synonymSetName}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a synonym set\n\nRetrieve a specific synonym set by its name"
      }
    },
    "com.typesense.api#UpsertSynonymSetRequestItemsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#SynonymItemSchema"
      },
      "traits": {
        "smithy.api#documentation": "Array of synonym items"
      }
    },
    "com.typesense.api#UpsertSynonymSetRequest": {
      "type": "structure",
      "members": {
        "synonymSetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the synonym set to create/update"
          }
        },
        "items": {
          "target": "com.typesense.api#UpsertSynonymSetRequestItemsList",
          "traits": {
            "smithy.api#documentation": "Array of synonym items",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.typesense.api#UpsertSynonymSetResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#SynonymItemSchema"
      },
      "traits": {
        "smithy.api#documentation": "Array of synonym items"
      }
    },
    "com.typesense.api#UpsertSynonymSetResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.typesense.api#UpsertSynonymSetResponseItemsList",
          "traits": {
            "smithy.api#documentation": "Array of synonym items",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the synonym set",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.typesense.api#UpsertSynonymSet": {
      "type": "operation",
      "input": {
        "target": "com.typesense.api#UpsertSynonymSetRequest"
      },
      "output": {
        "target": "com.typesense.api#UpsertSynonymSetResponse"
      },
      "errors": [
        {
          "target": "com.typesense.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/synonym_sets/{synonymSetName}",
          "code": 200
        },
        "smithy.api#documentation": "Create or update a synonym set\n\nCreate or update a synonym set with the given name"
      }
    },
    "com.typesense.api#DeleteSynonymSetRequest": {
      "type": "structure",
      "members": {
        "synonymSetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the synonym set to delete"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.typesense.api#SynonymSetDeleteSchema": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the deleted synonym set",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.typesense.api#DeleteSynonymSet": {
      "type": "operation",
      "input": {
        "target": "com.typesense.api#DeleteSynonymSetRequest"
      },
      "output": {
        "target": "com.typesense.api#SynonymSetDeleteSchema"
      },
      "errors": [
        {
          "target": "com.typesense.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/synonym_sets/{synonymSetName}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a synonym set\n\nDelete a specific synonym set by its name"
      }
    },
    "com.typesense.api#RetrieveSynonymSetItemsRequest": {
      "type": "structure",
      "members": {
        "synonymSetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the synonym set to retrieve items for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.typesense.api#RetrieveSynonymSetItemsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.typesense.api#SynonymItemSchema"
      },
      "traits": {}
    },
    "com.typesense.api#RetrieveSynonymSetItemsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.typesense.api#RetrieveSynonymSetItemsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.typesense.api#RetrieveSynonymSetItems": {
      "type": "operation",
      "input": {
        "target": "com.typesense.api#RetrieveSynonymSetItemsRequest"
      },
      "output": {
        "target": "com.typesense.api#RetrieveSynonymSetItemsResponse"
      },
      "errors": [
        {
          "target": "com.typesense.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/synonym_sets/{synonymSetName}/items",
          "code": 200
        },
        "smithy.api#documentation": "List items in a synonym set\n\nRetrieve all synonym items in a set"
      }
    },
    "com.typesense.api#RetrieveSynonymSetItemRequest": {
      "type": "structure",
      "members": {
        "synonymSetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the synonym set"
          }
        },
        "itemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the synonym item to retrieve"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.typesense.api#RetrieveSynonymSetItemResponseSynonymsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of words that should be considered as synonyms"
      }
    },
    "com.typesense.api#RetrieveSynonymSetItemResponseSymbolsToIndexList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "By default, special characters are dropped from synonyms. Use this attribute to specify which special characters should be indexed as is"
      }
    },
    "com.typesense.api#RetrieveSynonymSetItemResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the synonym item",
            "smithy.api#required": {}
          }
        },
        "synonyms": {
          "target": "com.typesense.api#RetrieveSynonymSetItemResponseSynonymsList",
          "traits": {
            "smithy.api#documentation": "Array of words that should be considered as synonyms",
            "smithy.api#required": {}
          }
        },
        "root": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For 1-way synonyms, indicates the root word that words in the synonyms parameter map to"
          }
        },
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Locale for the synonym, leave blank to use the standard tokenizer"
          }
        },
        "symbols_to_index": {
          "target": "com.typesense.api#RetrieveSynonymSetItemResponseSymbolsToIndexList",
          "traits": {
            "smithy.api#documentation": "By default, special characters are dropped from synonyms. Use this attribute to specify which special characters should be indexed as is"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.typesense.api#RetrieveSynonymSetItem": {
      "type": "operation",
      "input": {
        "target": "com.typesense.api#RetrieveSynonymSetItemRequest"
      },
      "output": {
        "target": "com.typesense.api#RetrieveSynonymSetItemResponse"
      },
      "errors": [
        {
          "target": "com.typesense.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/synonym_sets/{synonymSetName}/items/{itemId}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a synonym set item\n\nRetrieve a specific synonym item by its id"
      }
    },
    "com.typesense.api#UpsertSynonymSetItemRequestSynonymsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of words that should be considered as synonyms"
      }
    },
    "com.typesense.api#UpsertSynonymSetItemRequestSymbolsToIndexList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "By default, special characters are dropped from synonyms. Use this attribute to specify which special characters should be indexed as is"
      }
    },
    "com.typesense.api#UpsertSynonymSetItemRequest": {
      "type": "structure",
      "members": {
        "synonymSetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
