{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.coinbase.cdp#AccountType": {
      "type": "enum",
      "members": {
        "PRIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prime"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business"
          }
        },
        "CDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the Account."
      }
    },
    "com.coinbase.cdp#ListFoundationAccountsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "The number of resources to return per page."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken",
            "smithy.api#documentation": "The token for the next page of resources, if any."
          }
        },
        "type": {
          "target": "com.coinbase.cdp#AccountType",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#documentation": "Filter accounts by account type. When omitted, accounts of any type are returned. Combined with `owner` using AND."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coinbase.cdp#Account": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.coinbase.cdp#AccountType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the account was created.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the account was last updated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.coinbase.cdp#ListFoundationAccountsResponseAccountsList": {
      "type": "list",
      "member": {
        "target": "com.coinbase.cdp#Account"
      },
      "traits": {
        "smithy.api#documentation": "The list of accounts."
      }
    },
    "com.coinbase.cdp#ListFoundationAccountsResponse": {
      "type": "structure",
      "members": {
        "accounts": {
          "target": "com.coinbase.cdp#ListFoundationAccountsResponseAccountsList",
          "traits": {
            "smithy.api#documentation": "The list of accounts.",
            "smithy.api#required": {}
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for the next page of items, if any."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.coinbase.cdp#ListFoundationAccounts": {
      "type": "operation",
      "input": {
        "target": "com.coinbase.cdp#ListFoundationAccountsRequest"
      },
      "output": {
        "target": "com.coinbase.cdp#ListFoundationAccountsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/accounts",
          "code": 200
        },
        "smithy.api#documentation": "List accounts\n\nList all accounts. The API will return all accounts that the API Key has Permissions to access. You can filter the results by using query parameters, which will be treated as a single conjunction (i.e. AND). Results are sorted by creation date in descending order (newest first)."
      }
    },
    "com.coinbase.cdp#CreateFoundationAccountRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coinbase.cdp#CreateFoundationAccount": {
      "type": "operation",
      "input": {
        "target": "com.coinbase.cdp#CreateFoundationAccountRequest"
      },
      "output": {
        "target": "com.coinbase.cdp#Account"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/accounts",
          "code": 200
        },
        "smithy.api#documentation": "Create account\n\nCreate an account for your Entity. Support for creating Customer-owned accounts is in development."
      }
    },
    "com.coinbase.cdp#GetFoundationAccountByIdRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the account to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coinbase.cdp#GetFoundationAccountById": {
      "type": "operation",
      "input": {
        "target": "com.coinbase.cdp#GetFoundationAccountByIdRequest"
      },
      "output": {
        "target": "com.coinbase.cdp#Account"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/accounts/{accountId}",
          "code": 200
        },
        "smithy.api#documentation": "Get account\n\nGet an account by its ID."
      }
    },
    "com.coinbase.cdp#ListBalancesRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the account."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "The number of resources to return per page."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken",
            "smithy.api#documentation": "The token for the next page of resources, if any."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coinbase.cdp#Balance": {
      "type": "structure",
      "members": {
        "asset": {
          "target": "com.coinbase.cdp#BalancesAsset",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "amount": {
          "target": "com.coinbase.cdp#BalanceAmountMap",
          "traits": {
            "smithy.api#documentation": "Amount details denominated in different assets. \n- The keys represent the asset symbols (e.g., \"btc\", \"usd\"), - Each value contains available and total amounts. - There will always be an entry for the asset specified in the `asset` field.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A balance of an asset."
      }
    },
    "com.coinbase.cdp#BalancesAsset": {
      "type": "structure",
      "members": {
        "symbol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.coinbase.cdp#AssetType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the asset.",
            "smithy.api#required": {}
          }
        },
        "decimals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of decimals (i.e. significant digits to the right of the decimal point) supported for the asset.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An asset, e.g. fiat or crypto."
      }
    },
    "com.coinbase.cdp#AssetType": {
      "type": "enum",
      "members": {
        "FIAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fiat"
          }
        },
        "CRYPTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crypto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the asset."
      }
    },
    "com.coinbase.cdp#AmountDetail": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount that is currently available to be used.",
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total amount, including the amount that is currently on hold.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available and total amounts for a specific currency."
      }
    },
    "com.coinbase.cdp#BalanceAmountMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.coinbase.cdp#AmountDetail"
      },
      "traits": {
        "smithy.api#documentation": "Amount details denominated in different assets. \n- The keys represent the asset symbols (e.g., \"btc\", \"usd\"), - Each value contains available and total amounts. - There will always be an entry for the asset specified in the `asset` field."
      }
    },
    "com.coinbase.cdp#ListBalancesResponseBalancesList": {
      "type": "list",
      "member": {
        "target": "com.coinbase.cdp#Balance"
      },
      "traits": {
        "smithy.api#documentation": "The list of balances."
      }
    },
    "com.coinbase.cdp#ListBalancesResponse": {
      "type": "structure",
      "members": {
        "balances": {
          "target": "com.coinbase.cdp#ListBalancesResponseBalancesList",
          "traits": {
            "smithy.api#documentation": "The list of balances.",
            "smithy.api#required": {}
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for the next page of items, if any."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.coinbase.cdp#ListBalances": {
      "type": "operation",
      "input": {
        "target": "com.coinbase.cdp#ListBalancesRequest"
      },
      "output": {
        "target": "com.coinbase.cdp#ListBalancesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/accounts/{accountId}/balances",
          "code": 200
        },
        "smithy.api#documentation": "List balances for account\n\nList the balances for an account. Results are sorted by native-fiat equivalent balance in descending order."
      }
    },
    "com.coinbase.cdp#GetBalanceByAssetRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the account."
          }
        },
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The symbol of the asset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coinbase.cdp#GetBalanceByAsset": {
      "type": "operation",
      "input": {
        "target": "com.coinbase.cdp#GetBalanceByAssetRequest"
      },
      "output": {
        "target": "com.coinbase.cdp#Balance"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/accounts/{accountId}/balances/{asset}",
          "code": 200
        },
        "smithy.api#documentation": "Get balance for account\n\nGet the balance for an account by asset."
      }
    },
    "com.coinbase.cdp#DepositDestinationType": {
      "type": "enum",
      "members": {
        "CRYPTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crypto"
          }
        }
      },
      "traits": {}
    },
    "com.coinbase.cdp#ListDepositDestinationsRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "accountId",
            "smithy.api#documentation": "Filter deposit destinations by account ID."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "address",
            "smithy.api#documentation": "Filter deposit destinations by the cryptocurrency address."
          }
        },
        "type": {
          "target": "com.coinbase.cdp#DepositDestinationType",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#documentation": "Filter deposit destinations by type."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "network",
            "smithy.api#documentation": "Filter deposit destinations by network."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "The number of resources to return per page."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken",
            "smithy.api#documentation": "The token for the next page of resources, if any."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coinbase.cdp#CryptoDepositDestination": {
      "type": "structure",
      "members": {
        "depositDestinationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.coinbase.cdp#CryptoDepositDestinationType",
          "traits": {
            "smithy.api#documentation": "The type of deposit destination.",
            "smithy.api#required": {}
          }
        },
        "crypto": {
          "target": "com.coinbase.cdp#DepositDestinationCrypto",
          "traits": {
            "smithy.api#documentation": "Crypto-specific details for this deposit destination. Always populated in responses. Contains the network and address.",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.coinbase.cdp#DepositDestinationTargetAccount"
        },
        "status": {
          "target": "com.coinbase.cdp#DepositDestinationStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.coinbase.cdp#Metadata"
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the deposit destination was created.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the deposit destination was last updated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A cryptocurrency deposit destination."
      }
    },
    "com.coinbase.cdp#CryptoDepositDestinationType": {
      "type": "enum",
      "members": {
        "CRYPTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crypto"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of deposit destination."
      }
    },
    "com.coinbase.cdp#DepositDestinationCrypto": {
      "type": "structure",
      "members": {
        "network": {
          "target": "com.coinbase.cdp#Network",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Crypto-specific deposit destination details. In responses, this object is always present. Contains the network and address for the deposit destination."
      }
    },
    "com.coinbase.cdp#Network": {
      "type": "enum",
      "members": {
        "BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "base"
          }
        },
        "ETHEREUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ethereum"
          }
        },
        "SOLANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solana"
          }
        },
        "APTOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aptos"
          }
        },
        "ARBITRUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arbitrum"
          }
        },
        "ARBITRUM_SEPOLIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arbitrum-sepolia"
          }
        },
        "OPTIMISM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optimism"
          }
        },
        "POLYGON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "polygon"
          }
        },
        "WORLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "world"
          }
        },
        "WORLD_SEPOLIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "world-sepolia"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The blockchain network for the payment. Supported networks depend on the account type. See [API and Network Support](https://docs.cdp.coinbase.com/api-reference/payment-apis/supported-networks-assets#by-asset-and-network) for more details."
      }
    },
    "com.coinbase.cdp#DepositDestinationTargetAccount": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the CDP Account to which deposited funds should be transferred."
          }
        },
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The symbol of the asset that should land in the target account.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The account and asset where incoming deposits should be credited."
      }
    },
    "com.coinbase.cdp#DepositDestinationStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the deposit destination."
      }
    },
    "com.coinbase.cdp#Metadata": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional metadata as key-value pairs. Use this to store additional structured information on a resource, such as customer IDs, order references, or any application-specific data. Up to 10 key/value pairs may be provided. Keys and values are both strings. Keys must be ≤ 40 characters; values must be ≤ 500 characters."
      }
    },
    "com.coinbase.cdp#ListDepositDestinationsResponseDepositDestinationsList": {
      "type": "list",
      "member": {
        "target": "com.coinbase.cdp#CryptoDepositDestination"
      },
      "traits": {
        "smithy.api#documentation": "The list of deposit destinations."
      }
    },
    "com.coinbase.cdp#ListDepositDestinationsResponse": {
      "type": "structure",
      "members": {
        "depositDestinations": {
          "target": "com.coinbase.cdp#ListDepositDestinationsResponseDepositDestinationsList",
          "traits": {
            "smithy.api#documentation": "The list of deposit destinations.",
            "smithy.api#required": {}
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for the next page of items, if any."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.coinbase.cdp#ListDepositDestinations": {
      "type": "operation",
      "input": {
        "target": "com.coinbase.cdp#ListDepositDestinationsRequest"
      },
      "output": {
        "target": "com.coinbase.cdp#ListDepositDestinationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/deposit-destinations",
          "code": 200
        },
        "smithy.api#documentation": "List deposit destinations\n\nList deposit destinations. You can optionally filter the results by type, account ID, network, or cryptocurrency address. Results are sorted by creation date in descending order (newest first)."
      }
    },
    "com.coinbase.cdp#CreateCryptoDepositDestinationRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Account, which is a UUID prefixed by the string `account_`, that owns the deposit destination.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.coinbase.cdp#DepositDestinationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.coinbase.cdp#DepositDestinationTargetAccount"
        },
        "metadata": {
          "target": "com.coinbase.cdp#Metadata"
        },
        "crypto": {
          "target": "com.coinbase.cdp#CreateDepositDestinationCrypto",
          "traits": {
            "smithy.api#documentation": "Crypto-specific details. Required when `type` is `crypto`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.coinbase.cdp#CreateDepositDestinationCrypto": {
      "type": "structure",
      "members": {
        "network": {
          "target": "com.coinbase.cdp#Network",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Crypto-specific details for creating a deposit destination."
      }
    },
    "com.coinbase.cdp#CreateDepositDestinationRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.coinbase.cdp#CreateCryptoDepositDestinationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coinbase.cdp#CreateDepositDestinationResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.coinbase.cdp#CryptoDepositDestination",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.coinbase.cdp#CreateDepositDestination": {
      "type": "operation",
      "input": {
        "target": "com.coinbase.cdp#CreateDepositDestinationRequest"
      },
      "output": {
        "target": "com.coinbase.cdp#CreateDepositDestinationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/deposit-destinations",
          "code": 200
        },
        "smithy.api#documentation": "Create deposit destination\n\nCreate a new deposit destination for an account. A deposit destination is a cryptocurrency address that can be used to receive funds. The address will be generated for the specified network."
      }
    },
    "com.coinbase.cdp#GetDepositDestinationByIdRequest": {
      "type": "structure",
      "members": {
        "depositDestinationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the deposit address to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coinbase.cdp#GetDepositDestinationByIdResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.coinbase.cdp#CryptoDepositDestination",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.coinbase.cdp#GetDepositDestinationById": {
      "type": "operation",
      "input": {
        "target": "com.coinbase.cdp#GetDepositDestinationByIdRequest"
      },
      "output": {
        "target": "com.coinbase.cdp#GetDepositDestinationByIdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/deposit-destinations/{depositDestinationId}",
          "code": 200
        },
        "smithy.api#documentation": "Get deposit destination\n\nGet a specific deposit destination by its ID."
      }
    },
    "com.coinbase.cdp#TransferStatus": {
      "type": "enum",
      "members": {
        "QUOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quoted"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the transfer, indicating what action you need to take next. Required when validateOnly is false."
      }
    },
    "com.coinbase.cdp#ListTransfersRequest": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.coinbase.cdp#TransferStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter transfers by status. Useful for building dashboards, monitoring active transfers, or finding transfers needing action."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "accountId",
            "smithy.api#documentation": "Filter transfers by account ID. Returns transfers where the specified account is either the source or target (OR semantics). Cannot be combined with `sourceAccountId` or `targetAccountId`."
          }
        },
        "sourceAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sourceAccountId",
            "smithy.api#documentation": "Filter transfers by source account ID. Returns only transfers where the specified account is the source. Cannot be combined with `accountId`."
          }
        },
        "targetAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "targetAccountId",
            "smithy.api#documentation": "Filter transfers by target account ID. Returns only transfers where the specified account is the target. Cannot be combined with `accountId`."
          }
        },
        "createdAfter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "createdAfter",
            "smithy.api#documentation": "Filter transfers to those created at or after this datetime (inclusive). ISO 8601 format."
          }
        },
        "createdBefore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "createdBefore",
            "smithy.api#documentation": "Filter transfers to those created at or before this datetime (inclusive). ISO 8601 format."
          }
        },
        "updatedAfter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "updatedAfter",
            "smithy.api#documentation": "Filter transfers to those updated at or after this datetime (inclusive). ISO 8601 format. Useful for incremental sync — poll for transfers that changed state since your last check."
          }
        },
        "updatedBefore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "updatedBefore",
            "smithy.api#documentation": "Filter transfers to those updated at or before this datetime (inclusive). ISO 8601 format."
          }
        },
        "sourceAsset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sourceAsset",
            "smithy.api#documentation": "Filter transfers by source asset symbol (e.g., `usd`, `usdc`)."
          }
        },
        "targetAsset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "targetAsset",
            "smithy.api#documentation": "Filter transfers by target asset symbol (e.g., `usdc`, `eth`)."
          }
        },
        "sourceAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sourceAddress",
            "smithy.api#documentation": "Filter transfers by the on-chain address of the source."
          }
        },
        "targetAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "targetAddress",
            "smithy.api#documentation": "Filter transfers by the on-chain destination address of the target."
          }
        },
        "targetEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "targetEmail",
            "smithy.api#documentation": "Filter transfers by the email address of the target recipient."
          }
        },
        "transferId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "transferId",
            "smithy.api#documentation": "Filter to a specific transfer by ID. When provided, returns only the matching transfer and bypasses pagination."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "The number of resources to return per page."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken",
            "smithy.api#documentation": "The token for the next page of resources, if any."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coinbase.cdp#Transfer": {
      "type": "structure",
      "members": {
        "transferId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the transfer. Required when validateOnly is false."
          }
        },
        "status": {
          "target": "com.coinbase.cdp#TransferStatus"
        },
        "source": {
          "target": "com.coinbase.cdp#TransferSource",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.coinbase.cdp#TransferTarget",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sourceAmount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of the source asset that will be transferred out, as a decimal string in standard unit denomination."
          }
        },
        "sourceAsset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The asset symbol of the source amount."
          }
        },
        "targetAmount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of the target asset received, as a decimal string in standard unit denomination. May be omitted in the `quoted` state if the value cannot be guaranteed; see `estimate.targetAmount` for the expected value. Populated with the actual executed amount once the transfer completes."
          }
        },
        "targetAsset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The asset symbol of the target amount."
          }
        },
        "exchangeRate": {
          "target": "com.coinbase.cdp#TransferExchangeRate",
          "traits": {
            "smithy.api#documentation": "Exchange rate information for currency conversion. The rate indicates how much of the target asset is equivalent to one unit of the source asset. May be omitted in the `quoted` state if the rate cannot be guaranteed; see `estimate.exchangeRate` for the expected rate. Populated with the actual executed rate once the transfer completes."
          }
        },
        "fees": {
          "target": "com.coinbase.cdp#TransferFees",
          "traits": {
            "smithy.api#documentation": "The fees associated with this transfer. Different transfer types have different fee structures. May be omitted in the `quoted` state if the fees cannot be guaranteed; see `estimate.fees` for the expected fees. Populated with the actual fees once the transfer completes."
          }
        },
        "estimate": {
          "target": "com.coinbase.cdp#TransferEstimate"
        },
        "completedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the transfer was completed."
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for failure, if the transfer failed. Only present when status is `failed`."
          }
        },
        "expiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when this transfer will expire if not executed. Only present for `quoted` status. A new transfer must be created to obtain an updated quote after expiration. Required when validateOnly is false."
          }
        },
        "executedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the transfer was executed and moved to processing. Only present when status has progressed beyond `quoted`."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the transfer was created. Required when validateOnly is false."
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the transfer was last updated. Required when validateOnly is false."
          }
        },
        "metadata": {
          "target": "com.coinbase.cdp#Metadata"
        },
        "details": {
          "target": "com.coinbase.cdp#TransferDetails"
        }
      },
      "traits": {
        "smithy.api#documentation": "A Transfer represents all the information needed to execute a transfer and tracks the lifecycle of a transfer from initiation through completion or failure."
      }
    },
    "com.coinbase.cdp#TransferSource": {
      "type": "union",
      "members": {
        "TransfersAccount": {
          "target": "com.coinbase.cdp#TransfersAccount"
        },
        "PaymentMethod": {
          "target": "com.coinbase.cdp#PaymentMethod"
        },
        "OnchainAddress": {
          "target": "com.coinbase.cdp#OnchainAddress"
        },
        "OriginatingBankAccountUS": {
          "target": "com.coinbase.cdp#OriginatingBankAccountUS"
        }
      },
      "traits": {
        "smithy.api#documentation": "The source of the transfer."
      }
    },
    "com.coinbase.cdp#TransfersAccount": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Account.",
            "smithy.api#required": {}
          }
        },
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Account specific details for the transfer."
      }
    },
    "com.coinbase.cdp#PaymentMethod": {
      "type": "structure",
      "members": {
        "paymentMethodId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Payment Method.",
            "smithy.api#required": {}
          }
        },
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Payment Method specific details for the transfer."
      }
    },
    "com.coinbase.cdp#OnchainAddress": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The onchain crypto address of the recipient.\n\nExamples:\n- EVM address: 0xabc1234567890abcdef1234567890abcdef123456\n- Solana address: HpabPRRCFbBKSuJr5PdkVvQc85FyxyTWkFM2obBRSvHT\n- XRP address: rhccc5p23aKiCGFcEqqnjEfLRZ6xEvfy3s\n",
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.coinbase.cdp#Network",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destinationTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The destination tag of the onchain address. Destination tags are used by certain networks\n(primarily XRP/Ripple) to identify specific recipients when multiple users share a single address.\nThe tag ensures funds are credited to the correct account within the shared address.\n\nExamples by network:\n- XRP/Ripple: Numeric values like \"1234567890\" or \"123456\"\n- Stellar (XLM): Memos which can be text, ID, or hash format\n\nNote: Most networks (Ethereum, Bitcoin, Solana) do not use destination tags.\n"
          }
        },
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset symbol of the payment received by the recipient.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The target of the payment is an onchain address."
      }
    },
    "com.coinbase.cdp#OriginatingBankAccountUS": {
      "type": "structure",
      "members": {
        "bankName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the bank that originated the deposit.",
            "smithy.api#required": {}
          }
        },
        "accountLast4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last 4 digits of the originating bank account number.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fiat currency of the deposit (e.g., `usd`).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The originating US bank account details for the transfer source. Present when funds were deposited from an external bank account into a deposit destination. Only the last 4 digits of the account number are exposed."
      }
    },
    "com.coinbase.cdp#TransferTarget": {
      "type": "union",
      "members": {
        "TransfersAccount": {
          "target": "com.coinbase.cdp#TransfersAccount"
        },
        "PaymentMethod": {
          "target": "com.coinbase.cdp#PaymentMethod"
        },
        "OnchainAddress": {
          "target": "com.coinbase.cdp#OnchainAddress"
        },
        "EmailInstrument": {
          "target": "com.coinbase.cdp#EmailInstrument"
        }
      },
      "traits": {
        "smithy.api#documentation": "The target of the transfer."
      }
    },
    "com.coinbase.cdp#EmailInstrument": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the recipient. The recipient will need to have an account with Coinbase or onboard to Coinbase to receive the payment.",
            "smithy.api#required": {}
          }
        },
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset symbol of the payment received by the recipient.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The target of the payment is an email address."
      }
    },
    "com.coinbase.cdp#TransferExchangeRate": {
      "type": "structure",
      "members": {
        "sourceAsset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The asset being converted from.",
            "smithy.api#required": {}
          }
        },
        "targetAsset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The asset being converted to.",
            "smithy.api#required": {}
          }
        },
        "rate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exchange rate value as a decimal string. Indicates how many units of the target asset equal one unit of the source asset.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exchange rate information for currency conversion. The rate indicates how much of the target asset is equivalent to one unit of the source asset."
      }
    },
    "com.coinbase.cdp#TransferFees": {
      "type": "list",
      "member": {
        "target": "com.coinbase.cdp#TransferFee"
      },
      "traits": {
        "smithy.api#documentation": "The fees associated with this transfer. Different transfer types have different fee structures.\n\n**NOTE:** These examples are not exhaustive.\n\nCommon examples:\n* **Crypto transfers**: Network fees (gas) paid in the native token\n* **Fiat conversions**: Processing fees + exchange fees in USD\n* **Wire transfers**: Wire fees ($15) + processing fees ($5) in USD\n* **Crypto conversions**: Spread fees paid in the source asset."
      }
    },
    "com.coinbase.cdp#TransferFee": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.coinbase.cdp#TransferFeeType",
          "traits": {
            "smithy.api#documentation": "The type of the fee, indicating its purpose.",
            "smithy.api#required": {}
          }
        },
        "amount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of the fee in units of the asset specified by `asset`.",
            "smithy.api#required": {}
          }
        },
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The asset symbol.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single fee for a transfer."
      }
    },
    "com.coinbase.cdp#TransferFeeType": {
      "type": "enum",
      "members": {
        "BANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank"
          }
        },
        "CONVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversion"
          }
        },
        "NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "network"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the fee, indicating its purpose."
      }
    },
    "com.coinbase.cdp#TransferEstimate": {
      "type": "structure",
      "members": {
        "exchangeRate": {
          "target": "com.coinbase.cdp#TransferExchangeRate",
          "traits": {
            "smithy.api#documentation": "The estimated exchange rate at the time this estimate was captured."
          }
        },
        "targetAmount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Estimated amount of the target asset that will be received, as a decimal string in standard unit denomination."
          }
        },
        "targetAsset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The asset symbol of the estimated target amount."
          }
        },
        "fees": {
          "target": "com.coinbase.cdp#TransferFees",
          "traits": {
            "smithy.api#documentation": "The estimated fees at the time this estimate was captured."
          }
        },
        "estimatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when this estimate was captured.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Captures estimated values for transfers where amounts can't be guaranteed (e.g., USDC -> EURC).\n\nThe values in `estimate` are not modified after a transfer is executed. They are preserved as an immutable record of the original pre-execution snapshot.\n\nThe actual executed values are populated in the `transfer` resource post-execution."
      }
    },
    "com.coinbase.cdp#TransferDetails": {
      "type": "structure",
      "members": {
        "depositDestination": {
          "target": "com.coinbase.cdp#DepositDestinationReference"
        },
        "onchainTransactions": {
          "target": "com.coinbase.cdp#TransferDetailsOnchainTransactionsList",
          "traits": {
            "smithy.api#documentation": "The onchain transactions associated with the transfer."
          }
        },
        "travelRule": {
          "target": "com.coinbase.cdp#TransferDetailsTravelRule",
          "traits": {
            "smithy.api#documentation": "Travel rule compliance status for deposit transfers. Present when the transfer requires travel rule information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional details about the transfer. For example, if the transfer was sent to a deposit destination, the information about that destination will be included in this field."
      }
    },
    "com.coinbase.cdp#DepositDestinationReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to the deposit destination associated with the transfer."
      }
    },
    "com.coinbase.cdp#TransferDetailsOnchainTransactionsItem": {
      "type": "structure",
      "members": {
        "transactionHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The transaction hash.",
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.coinbase.cdp#Network",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An onchain transaction associated with the transfer."
      }
    },
    "com.coinbase.cdp#TransferDetailsOnchainTransactionsList": {
      "type": "list",
      "member": {
        "target": "com.coinbase.cdp#TransferDetailsOnchainTransactionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The onchain transactions associated with the transfer."
      }
    },
    "com.coinbase.cdp#TravelRuleStatus": {
      "type": "enum",
      "members": {
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a travel rule submission."
      }
    },
    "com.coinbase.cdp#TransferDetailsTravelRule": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.coinbase.cdp#TravelRuleStatus"
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional details about the current travel rule status. For example, when status is `incomplete`, this may indicate the specific missing information required to proceed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Travel rule compliance status for deposit transfers. Present when the transfer requires travel rule information."
      }
    },
    "com.coinbase.cdp#ListTransfersResponseTransfersList": {
      "type": "list",
      "member": {
        "target": "com.coinbase.cdp#Transfer"
      },
      "traits": {
        "smithy.api#documentation": "The list of transfers."
      }
    },
    "com.coinbase.cdp#ListTransfersResponse": {
      "type": "structure",
      "members": {
        "transfers": {
          "target": "com.coinbase.cdp#ListTransfersResponseTransfersList",
          "traits": {
            "smithy.api#documentation": "The list of transfers.",
            "smithy.api#required": {}
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for the next page of items, if any."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.coinbase.cdp#ListTransfers": {
      "type": "operation",
      "input": {
        "target": "com.coinbase.cdp#ListTransfersRequest"
      },
      "output": {
        "target": "com.coinbase.cdp#ListTransfersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/transfers",
          "code": 200
        },
        "smithy.api#documentation": "List transfers\n\nList transfers for your organization. Use this to view and monitor your transfer activity.\n\n**Status Filtering**: Filter by specific status to efficiently manage transfers:\n* `?status=processing` - Monitor active transfers.\n* `?status=quoted` - Find transfers awaiting execution.\n* `?status=failed` - Review failed transfers for troubleshooting.\n* `?status=completed` - Find completed transfers.\n\n**Account Filtering**: Filter by account ID to find transfers involving a specific account:\n* `?accountId=<ID>` - All transfers where the account is either source or target (OR semantics).\n* `?sourceAccountId=<ID>` - Only transfers where the account is the source (outbound).\n* `?targetAccountId=<ID>` - Only transfers where the account is the target (inbound).\nProviding `accountId` together with `sourceAccountId` or `targetAccountId` is a validation error and returns HTTP 400.\n\n**Date Range Filtering**: Filter by creation or last-updated time for reconciliation:\n* `?createdAfter=2026-01-01T00:00:00Z&createdBefore=2026-01-31T23:59:59Z` - Transfers created within a date range.\n* `?updatedAfter=2026-01-01T00:00:00Z` - Transfers updated since a given time. Useful for incremental sync.\n\n**Asset Filtering**: Filter by source or target asset symbol:\n* `?sourceAsset=usd` - Transfers funded from a USD account.\n* `?targetAsset=usdc` - Transfers delivering USDC to the target.\n\n**Other Filters**:\n* `?sourceAddress=0x...` - Transfers from a specific on-chain source address.\n* `?targetAddress=0x...` - Transfers to a specific on-chain destination address.\n* `?targetEmail=user@example.com` - Transfers to a specific email recipient.\n* `?transferId=transfer_...` - Look up a single transfer by ID; bypasses pagination."
      }
    },
    "com.coinbase.cdp#CreateTransferSource": {
      "type": "union",
      "members": {
        "TransfersAccount": {
          "target": "com.coinbase.cdp#TransfersAccount"
        },
        "PaymentMethod": {
          "target": "com.coinbase.cdp#PaymentMethod"
        }
      },
      "traits": {
        "smithy.api#documentation": "The source of the transfer."
      }
    },
    "com.coinbase.cdp#CreateTransferRequestAmountType": {
      "type": "enum",
      "members": {
        "TARGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "target"
          }
        },
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "source"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies whether the given amount is to be received by the target or taken from the source.\n\n- `target`: The transfer `target` receives the exact value specified in `amount`. Fees are added to the amount taken from the transfer `source`.\n- `source`: The transfer `target` receives the value specified in `amount`, minus any fees.\n"
      }
    },
    "com.coinbase.cdp#TravelRule": {
      "type": "structure",
      "members": {
        "isSelf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the user attests that the receiving wallet belongs to them."
          }
        },
        "isIntermediary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether Coinbase is being used as an intermediary Virtual Asset Service Provider (VASP) to send crypto on behalf of your customer.\n\n**Background:**\n\nThe Travel Rule (FATF Recommendation 16) requires VASPs to share originator and beneficiary information for virtual asset transfers. When Coinbase acts as an intermediary, additional Travel Rule data must be provided to satisfy compliance requirements.\n\n**Set to `true` when:**\n\n- Your organization is a VASP using Coinbase to send crypto **on behalf of your end customer**\n- In this scenario, Coinbase acts as an intermediary in the transfer chain and handles Travel Rule data exchange with the beneficiary VASP\n\n**Set to `false` (or omit) when:**\n\n- You are transferring funds directly from your own Coinbase account, where **Coinbase is your primary VASP** rather than an intermediary for another institution\n\n**Impact on required fields:**\n\nWhen `isIntermediary` is `true`, you must provide the `originator` object with details about the **original sender**, including:\n- Originator name\n- Originator address\n- Your VASP information (`virtualAssetServiceProvider` object with `name`, `address`, and `identifier`)\n\nFor jurisdictions that require them (such as Coinbase Luxembourg), `personalIdentification` and `dateOfBirth` must also reflect the **original sender's** identity — not the intermediary's. These fields will not be auto-populated from any internal KYC data when `isIntermediary` is `true`.\n"
          }
        },
        "originator": {
          "target": "com.coinbase.cdp#TravelRuleOriginator"
        },
        "beneficiary": {
          "target": "com.coinbase.cdp#TravelRuleBeneficiary"
        }
      },
      "traits": {
        "smithy.api#documentation": "Required Travel Rule fields differ by region. These requirements are determined based on which Coinbase entity the customer has signed the service agreement for."
      }
    },
    "com.coinbase.cdp#TravelRuleOriginator": {
      "type": "structure",
      "members": {
        "financialInstitution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the financial institution."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full name of the party."
          }
        },
        "address": {
          "target": "com.coinbase.cdp#PhysicalAddress"
        },
        "virtualAssetServiceProvider": {
          "target": "com.coinbase.cdp#TravelRuleOriginatorVirtualAssetServiceProvider",
          "traits": {
            "smithy.api#documentation": "Information about the originating Virtual Asset Service Provider (VASP) that handles cryptocurrency or other virtual assets on behalf of customers."
          }
        },
        "personalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Personal identifier for travel rule compliance. For individuals: passport number, national ID, or driver's license. For institutions: LEI (Legal Entity Identifier)."
          }
        },
        "dateOfBirth": {
          "target": "com.coinbase.cdp#DateOfBirth",
          "traits": {
            "smithy.api#documentation": "Date of birth of the originator. Required by certain jurisdictions (such as Coinbase Luxembourg) to satisfy Travel Rule reporting obligations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Originator (sender) party."
      }
    },
    "com.coinbase.cdp#PhysicalAddress": {
      "type": "structure",
      "members": {
        "line1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary street address."
          }
        },
        "line2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secondary address information."
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City or locality."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State, province, or region."
          }
        },
        "postCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal or ZIP code."
          }
        },
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 3166-1 alpha-2 country code (2 characters). See https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A physical address with standard address components including street, city, state/province, postal code, and country."
      }
    },
    "com.coinbase.cdp#TravelRuleOriginatorVirtualAssetServiceProvider": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the originating Virtual Asset Service Provider (VASP)."
          }
        },
        "address": {
          "target": "com.coinbase.cdp#PhysicalAddress",
          "traits": {
            "smithy.api#documentation": "The address of the originating Virtual Asset Service Provider (VASP)."
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Legal Entity Identifier of the originating Virtual Asset Service Provider (VASP)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the originating Virtual Asset Service Provider (VASP) that handles cryptocurrency or other virtual assets on behalf of customers."
      }
    },
    "com.coinbase.cdp#DateOfBirth": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Day of birth (01-31)."
          }
        },
        "month": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Month of birth (01-12)."
          }
        },
        "year": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Year of birth (four digits)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Date of birth."
      }
    },
    "com.coinbase.cdp#TravelRuleBeneficiary": {
      "type": "structure",
      "members": {
        "financialInstitution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the financial institution."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full name of the party."
          }
        },
        "address": {
          "target": "com.coinbase.cdp#PhysicalAddress"
        },
        "walletType": {
          "target": "com.coinbase.cdp#TravelRuleBeneficiaryWalletType",
          "traits": {
            "smithy.api#documentation": "The type of the beneficiary's wallet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Beneficiary (receiver) party."
      }
    },
    "com.coinbase.cdp#TravelRuleBeneficiaryWalletType": {
      "type": "enum",
      "members": {
        "CUSTODIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custodial"
          }
        },
        "SELF_CUSTODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "self_custody"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the beneficiary's wallet."
      }
    },
    "com.coinbase.cdp#CreateTransferRequest": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.coinbase.cdp#CreateTransferSource",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.coinbase.cdp#TransferTarget",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "amount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of the transfer, as a decimal string in standard unit denomination of the asset specified by `asset` (e.g., \"100.00\" for 100 USD, \"0.05\" for 0.05 ETH).",
            "smithy.api#required": {}
          }
        },
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The symbol of the asset for the amount. This must be one of the assets of the source or target.",
            "smithy.api#required": {}
          }
        },
        "amountType": {
          "target": "com.coinbase.cdp#CreateTransferRequestAmountType",
          "traits": {
            "smithy.api#documentation": "Specifies whether the given amount is to be received by the target or taken from the source.\n\n- `target`: The transfer `target` receives the exact value specified in `amount`. Fees are added to the amount taken from the transfer `source`.\n- `source`: The transfer `target` receives the value specified in `amount`, minus any fees.\n"
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, validates the transfer without initiating it.  If the request is valid, a 2xx will be returned. If the request is invalid, a 4xx error will be returned. The response will include an errorType, for e.g. invalid_target if the specified target cannot receive funds."
          }
        },
        "execute": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to immediately execute the transfer. If false, the transfer will be created in quoted status and must be executed manually via the /execute endpoint.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.coinbase.cdp#Metadata"
        },
        "travelRule": {
          "target": "com.coinbase.cdp#TravelRule",
          "traits": {
            "smithy.api#documentation": "Travel Rule compliance information for this transfer. Required for transfers to external wallets above regulatory thresholds. Fields required differ by region and Coinbase contracting entity."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coinbase.cdp#CreateTransfer": {
      "type": "operation",
      "input": {
        "target": "com.coinbase.cdp#CreateTransferRequest"
      },
      "output": {
        "target": "com.coinbase.cdp#Transfer"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/transfers",
          "code": 200
        },
        "smithy.api#documentation": "Create transfer\n\nCreate a new transfer to move funds from a source to a target.\nAll transfers first transition to `quoted`. If `execute: false`, the transfer stays quoted until you call `/v2/transfers/{transferId}/execute`.\nIf `execute: true`, quoted status emits momentarily before the transfer moves to `processing`, where execution proceeds. Subscribe to the transfers webhook to  follow progress in real time instead of polling."
      }
    },
    "com.coinbase.cdp#GetTransferByIdRequest": {
      "type": "structure",
      "members": {
        "transferId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the transfer."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coinbase.cdp#GetTransferById": {
      "type": "operation",
      "input": {
        "target": "com.coinbase.cdp#GetTransferByIdRequest"
      },
      "output": {
        "target": "com.coinbase.cdp#Transfer"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/transfers/{transferId}",
          "code": 200
        },
        "smithy.api#documentation": "Get transfer\n\nGet a transfer by its ID."
      }
    },
    "com.coinbase.cdp#ExecuteFundTransferRequest": {
      "type": "structure",
      "members": {
        "transferId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the transfer."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coinbase.cdp#ExecuteFundTransfer": {
      "type": "operation",
      "input": {
        "target": "com.coinbase.cdp#ExecuteFundTransferRequest"
      },
      "output": {
        "target": "com.coinbase.cdp#Transfer"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/transfers/{transferId}/execute",
          "code": 200
        },
        "smithy.api#documentation": "Execute transfer\n\nExecutes a transfer which was created using the Create a transfer endpoint."
      }
    },
    "com.coinbase.cdp#DepositTravelRuleOriginator": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full name of the originator."
          }
        },
        "address": {
          "target": "com.coinbase.cdp#PhysicalAddress"
        },
        "walletType": {
          "target": "com.coinbase.cdp#DepositTravelRuleOriginatorWalletType",
          "traits": {
            "smithy.api#documentation": "The type of the originator's wallet."
          }
        },
        "virtualAssetServiceProvider": {
          "target": "com.coinbase.cdp#DepositTravelRuleVasp"
        },
        "personalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Personal identifier for travel rule compliance. For individuals: passport number, national ID, or driver's license. For institutions: LEI (Legal Entity Identifier)."
          }
        },
        "dateOfBirth": {
          "target": "com.coinbase.cdp#DateOfBirth",
          "traits": {
            "smithy.api#documentation": "Date of birth of the originator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Originator information for a deposit travel rule submission."
      }
    },
    "com.coinbase.cdp#DepositTravelRuleOriginatorWalletType": {
      "type": "enum",
      "members": {
        "CUSTODIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custodial"
          }
        },
        "SELF_CUSTODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "self_custody"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the originator's wallet."
      }
    },
    "com.coinbase.cdp#DepositTravelRuleVasp": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Legal Entity Identifier (LEI) of the Virtual Asset Service Provider (VASP)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Virtual Asset Service Provider (VASP)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the Virtual Asset Service Provider (VASP) for a deposit travel rule submission."
      }
    },
    "com.coinbase.cdp#DepositTravelRuleBeneficiary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full name of the beneficiary."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Beneficiary information for a deposit travel rule submission."
      }
    },
    "com.coinbase.cdp#SubmitDepositTravelRuleRequest": {
      "type": "structure",
      "members": {
        "transferId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the transfer."
          }
        },
        "originator": {
          "target": "com.coinbase.cdp#DepositTravelRuleOriginator",
          "traits": {
            "smithy.api#documentation": "Originator information for the travel rule submission."
          }
        },
        "beneficiary": {
          "target": "com.coinbase.cdp#DepositTravelRuleBeneficiary",
          "traits": {
            "smithy.api#documentation": "Beneficiary information for the travel rule submission."
          }
        },
        "isSelf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the user attests that the originating wallet belongs to them."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coinbase.cdp#DepositTravelRuleResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.coinbase.cdp#TravelRuleStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "missingFields": {
          "target": "com.coinbase.cdp#DepositTravelRuleResponseMissingFieldsList",
          "traits": {
            "smithy.api#documentation": "List of field paths that are still required to complete travel rule compliance. Each entry is a dot-separated path (e.g., \"originator.name\", \"originator.address.countryCode\"). Empty when status is \"completed\"."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional context about the current status. Present when status is `incomplete` to explain what needs to be fixed before the transfer can proceed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response from submitting travel rule information for a deposit transfer."
      }
    },
    "com.coinbase.cdp#DepositTravelRuleResponseMissingFieldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of field paths that are still required to complete travel rule compliance. Each entry is a dot-separated path (e.g., \"originator.name\", \"originator.address.countryCode\"). Empty when status is \"completed\"."
      }
    },
    "com.coinbase.cdp#SubmitDepositTravelRule": {
      "type": "operation",
      "input": {
        "target": "com.coinbase.cdp#SubmitDepositTravelRuleRequest"
      },
      "output": {
        "target": "com.coinbase.cdp#DepositTravelRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/transfers/{transferId}/travel-rule",
          "code": 200
        },
        "smithy.api#documentation": "Submit deposit travel rule information\n\nSubmit travel rule information for a deposit transfer held pending compliance review.\n\nRequired fields vary by jurisdiction and may include originator name, address, date of birth, personal ID, and VASP information.\n\nIf the submitted information satisfies all jurisdictional requirements, `status` will be `completed` and the transfer will proceed. Otherwise, `status` will be `incomplete` and `missingFields` will indicate which fields still need to be provided."
      }
    },
    "com.coinbase.cdp#ListEndUsersRequestSortItem": {
      "type": "enum",
      "members": {
        "CREATEDAT_ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "createdAt=asc"
          }
        },
        "CREATEDAT_DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "createdAt=desc"
          }
        }
      },
      "traits": {}
    },
    "com.coinbase.cdp#ListEndUsersRequestSortList": {
      "type": "list",
      "member": {
        "target": "com.coinbase.cdp#ListEndUsersRequestSortItem"
      },
      "traits": {}
    },
    "com.coinbase.cdp#ListEndUsersRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "The number of end users to return per page."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken",
            "smithy.api#documentation": "The token for the desired page of end users. Will be empty if there are no more end users to fetch."
          }
        },
        "sort": {
          "target": "com.coinbase.cdp#ListEndUsersRequestSortList",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sort end users. Defaults to ascending order (oldest first)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.coinbase.cdp#EndUser": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A stable, unique identifier for the end user. The `userId` must be unique across all end users in the developer's CDP Project. It must be between 1 and 100 characters long and can only contain alphanumeric characters and hyphens.",
            "smithy.api#required": {}
          }
        },
        "authenticationMethods": {
          "target": "com.coinbase.cdp#AuthenticationMethods",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mfaMethods": {
          "target": "com.coinbase.cdp#MFAMethods"
        },
        "evmAccounts": {
          "target": "com.coinbase.cdp#EndUserEvmAccountsList",
          "traits": {
            "smithy.api#documentation": "**DEPRECATED**: Use `evmAccountObjects` instead for richer account information. The list of EVM account addresses associated with the end user. End users can have up to 10 EVM accounts.",
            "smithy.api#required": {}
          }
        },
        "evmAccountObjects": {
          "target": "com.coinbase.cdp#EndUserEvmAccountObjectsList",
          "traits": {
            "smithy.api#documentation": "The list of EVM accounts associated with the end user. End users can have up to 10 EVM accounts.",
            "smithy.api#required": {}
          }
        },
        "evmSmartAccounts": {
          "target": "com.coinbase.cdp#EndUserEvmSmartAccountsList",
          "traits": {
            "smithy.api#documentation": "**DEPRECATED**: Use `evmSmartAccountObjects` instead for richer account information including owner relationships. The list of EVM smart account addresses associated with the end user. Each EVM EOA can own one smart account.",
            "smithy.api#required": {}
          }
        },
        "evmSmartAccountObjects": {
          "target": "com.coinbase.cdp#EndUserEvmSmartAccountObjectsList",
          "traits": {
            "smithy.api#documentation": "The list of EVM smart accounts associated with the end user. Each EVM EOA can own one smart account.",
            "smithy.api#required": {}
          }
        },
        "solanaAccounts": {
          "target": "com.coinbase.cdp#EndUserSolanaAccountsList",
          "traits": {
            "smithy.api#documentation": "**DEPRECATED**: Use `solanaAccountObjects` instead for richer account information. The list of Solana account addresses associated with the end user. End users can have up to 10 Solana accounts.",
            "smithy.api#required": {}
          }
        },
        "solanaAccountObjects": {
          "target": "com.coinbase.cdp#EndUserSolanaAccountObjectsList",
          "traits": {
            "smithy.api#documentation": "The list of Solana accounts associated with the end user. End users can have up to 10 Solana accounts.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the end user was created, in ISO 8601 format.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the end user."
      }
    },
    "com.coinbase.cdp#AuthenticationMethods": {
      "type": "list",
      "member": {
        "target": "com.coinbase.cdp#AuthenticationMethod"
      },
      "traits": {
        "smithy.api#documentation": "The list of valid authentication methods linked to the end user."
      }
    },
    "com.coinbase.cdp#AuthenticationMethod": {
      "type": "union",
      "members": {
        "EmailAuthentication": {
          "target": "com.coinbase.cdp#EmailAuthentication"
        },
        "SmsAuthentication": {
          "target": "com.coinbase.cdp#SmsAuthentication"
        },
        "DeveloperJWTAuthentication": {
          "target": "com.coinbase.cdp#DeveloperJWTAuthentication"
        },
        "OAuth2Authentication": {
          "target": "com.coinbase.cdp#OAuth2Authentication"
        },
        "TelegramAuthentication": {
          "target": "com.coinbase.cdp#TelegramAuthentication"
        },
        "SiweAuthentication": {
          "target": "com.coinbase.cdp#SiweAuthentication"
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about how the end user is authenticated."
      }
    },
    "com.coinbase.cdp#EmailAuthentication": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.coinbase.cdp#EmailAuthenticationType",
          "traits": {
            "smithy.api#documentation": "The type of authentication information.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the end user.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about an end user who authenticates using a one-time password sent to their email address."
      }
    },
    "com.coinbase.cdp#EmailAuthenticationType": {
      "type": "enum",
      "members": {
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of authentication information."
      }
    },
    "com.coinbase.cdp#SmsAuthentication": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.coinbase.cdp#SmsAuthenticationType",
          "traits": {
            "smithy.api#documentation": "The type of authentication information.",
            "smithy.api#required": {}
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about an end user who authenticates using a one-time password sent to their phone number via SMS."
      }
    },
    "com.coinbase.cdp#SmsAuthenticationType": {
      "type": "enum",
      "members": {
        "SMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sms"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of authentication information."
      }
    },
    "com.coinbase.cdp#DeveloperJWTAuthentication": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.coinbase.cdp#DeveloperJWTAuthenticationType",
          "traits": {
            "smithy.api#documentation": "The type of authentication information.",
            "smithy.api#required": {}
          }
        },
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key ID of the JWK used to sign the JWT.",
            "smithy.api#required": {}
          }
        },
        "sub": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the end user that is captured in the `sub` claim of the JWT.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about an end user who authenticates using a JWT issued by the developer."
      }
    },
    "com.coinbase.cdp#DeveloperJWTAuthenticationType": {
      "type": "enum",
      "members": {
        "JWT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jwt"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of authentication information."
      }
    },
    "com.coinbase.cdp#OAuth2Authentication": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.coinbase.cdp#OAuth2ProviderType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sub": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the end user that is captured in the `sub` claim of the JWT.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the end user contained within the user's ID token, if available from third-party OAuth2 provider's token exchange."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the end user if available from third-party OAuth2 provider's token exchange."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username of the end user if available from third-party OAuth2 provider's token exchange."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about an end user who authenticates using a third-party provider."
      }
    },
    "com.coinbase.cdp#OAuth2ProviderType": {
      "type": "enum",
      "members": {
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google"
          }
        },
        "APPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apple"
          }
        },
        "X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x"
          }
        },
        "TELEGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "telegram"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of OAuth2 provider."
      }
    },
    "com.coinbase.cdp#TelegramAuthentication": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.coinbase.cdp#OAuth2ProviderType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Telegram ID for the end user.",
            "smithy.api#required": {}
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Telegram user's first name."
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Telegram user's last name."
          }
        },
        "photoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Telegram user's profile picture."
          }
        },
        "authDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Telegram user's last login as a Unix timestamp.",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Telegram user's username."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about an end user who authenticates using Telegram."
      }
    },
    "com.coinbase.cdp#SiweAuthentication": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.coinbase.cdp#SiweAuthenticationType",
          "traits": {
            "smithy.api#documentation": "The type of authentication information.",
            "smithy.api#required": {}
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ERC-55 checksummed Ethereum address of the end user.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about an end user who authenticates using Sign In With Ethereum (EIP-4361)."
      }
    },
    "com.coinbase.cdp#SiweAuthenticationType": {
      "type": "enum",
      "members": {
        "SIWE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "siwe"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of authentication information."
      }
    },
    "com.coinbase.cdp#MFAMethods": {
      "type": "structure",
      "members": {
        "enrollmentPromptedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the end user was prompted for MFA enrollment, in ISO 8601 format. If the this field exists, and the user has no other enrolled MFA methods, then the user skipped MFA enrollment."
          }
        },
        "totp": {
          "target": "com.coinbase.cdp#MFAMethodsTotp",
          "traits": {
            "smithy.api#documentation": "An object containing information about the end user's TOTP enrollment."
          }
        },
        "sms": {
          "target": "com.coinbase.cdp#MFAMethodsSms",
          "traits": {
            "smithy.api#documentation": "An object containing information about the end user's SMS MFA enrollment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the end user's MFA enrollments.\n"
      }
    },
    "com.coinbase.cdp#MFAMethodsTotp": {
      "type": "structure",
      "members": {
        "enrolledAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the method was enrolled, in ISO 8601 format.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object containing information about the end user's TOTP enrollment."
      }
    },
    "com.coinbase.cdp#MFAMethodsSms": {
      "type": "structure",
      "members": {
        "enrolledAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the method was enrolled, in ISO 8601 format.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object containing information about the end user's SMS MFA enrollment."
      }
    },
    "com.coinbase.cdp#EndUserEvmAccountsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "**DEPRECATED**: Use `evmAccountObjects` instead for richer account information. The list of EVM account addresses associated with the end user. End users can have up to 10 EVM accounts."
      }
    },
    "com.coinbase.cdp#EndUserEvmAccount": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address of the EVM account.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the account was created, in ISO 8601 format.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about an EVM account associated with an end user."
      }
    },
    "com.coinbase.cdp#EndUserEvmAccountObjectsList": {
      "type": "list",
      "member": {
        "target": "com.coinbase.cdp#EndUserEvmAccount"
      },
      "traits": {
        "smithy.api#documentation": "The list of EVM accounts associated with the end user. End users can have up to 10 EVM accounts."
      }
    },
    "com.coinbase.cdp#EndUserEvmSmartAccountsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "**DEPRECATED**: Use `evmSmartAccountObjects` instead for richer account information including owner relationships. The list of EVM smart account addresses associated with the end user. Each EVM EOA can own one smart account."
      }
    },
    "com.coinbase.cdp#EndUserEvmSmartAccount": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address of the EVM smart account.",
            "smithy.api#required": {}
          }
        },
        "ownerAddresses": {
          "target": "com.coinbase.cdp#EndUserEvmSmartAccountOwnerAddressesList",
          "traits": {
            "smithy.api#documentation": "The addresses of the EVM EOA accounts that own this smart account. Smart accounts can have multiple owners, such as when spend permissions are enabled.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the account was created, in ISO 8601 format.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about an EVM smart account associated with an end user."
      }
    },
    "com.coinbase.cdp#EndUserEvmSmartAccountOwnerAddressesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The addresses of the EVM EOA accounts that own this smart account. Smart accounts can have multiple owners, such as when spend permissions are enabled."
      }
    },
    "com.coinbase.cdp#EndUserEvmSmartAccountObjectsList": {
      "type": "list",
      "member": {
        "target": "com.coinbase.cdp#EndUserEvmSmartAccount"
      },
      "traits": {
        "smithy.api#documentation": "The list of EVM smart accounts associated with the end user. Each EVM EOA can own one smart account."
      }
    },
    "com.coinbase.cdp#EndUserSolanaAccountsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "**DEPRECATED**: Use `solanaAccountObjects` instead for richer account information. The list of Solana account addresses associated with the end user. End users can have up to 10 Solana accounts."
      }
    },
    "com.coinbase.cdp#EndUserSolanaAccount": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base58 encoded address of the Solana account.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
[...]
