{
  "smithy": "2.0",
  "metadata": {
    "service": "drive",
    "version": "v2",
    "title": "Google Drive API",
    "baseUrl": "https://www.googleapis.com/drive/v2/"
  },
  "shapes": {
    "com.googleworkspace.drive_v2#RevisionList": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#revisionList`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the list."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of revisions. This field will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded and pagination should be restarted from the first page of results."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link back to this list."
          }
        },
        "items": {
          "target": "com.googleworkspace.drive_v2#RevisionList_",
          "traits": {
            "smithy.api#documentation": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of revisions of a file."
      }
    },
    "com.googleworkspace.drive_v2#RevisionList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#Revision"
      }
    },
    "com.googleworkspace.drive_v2#CommentReplyList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to the next page of replies."
          }
        },
        "items": {
          "target": "com.googleworkspace.drive_v2#CommentReplyList_",
          "traits": {
            "smithy.api#documentation": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#commentReplyList`."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link back to this list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of replies to a comment on a file in Google Drive."
      }
    },
    "com.googleworkspace.drive_v2#CommentReplyList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#CommentReply"
      }
    },
    "com.googleworkspace.drive_v2#FileList": {
      "type": "structure",
      "members": {
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link back to this list."
          }
        },
        "items": {
          "target": "com.googleworkspace.drive_v2#FileList_",
          "traits": {
            "smithy.api#documentation": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
          }
        },
        "incompleteSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple drives with the \"allDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"default\" or \"drive\"."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#fileList`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the list."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to the next page of files."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of files."
      }
    },
    "com.googleworkspace.drive_v2#FileList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#File"
      }
    },
    "com.googleworkspace.drive_v2#PermissionList": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.googleworkspace.drive_v2#PermissionList_",
          "traits": {
            "smithy.api#documentation": "The list of permissions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#permissionList`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the list."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link back to this list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of permissions associated with a file."
      }
    },
    "com.googleworkspace.drive_v2#PermissionList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#Permission"
      }
    },
    "com.googleworkspace.drive_v2#DecryptionMetadata": {
      "type": "structure",
      "members": {
        "aes256GcmChunkSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small "
          }
        },
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file."
          }
        },
        "wrappedKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file."
          }
        },
        "encryptionResourceKeyHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference"
          }
        },
        "kaclsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the KACLS (Key ACL Service) used to encrypt the file."
          }
        },
        "keyFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key format for the unwrapped key. Must be `tinkAesGcmKey`."
          }
        },
        "kaclsId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the KACLS (Key ACL Service) used to encrypt the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of the CSE DecryptionMetadata."
      }
    },
    "com.googleworkspace.drive_v2#PermissionId": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#permissionId`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The permission ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An ID for a user or group as seen in Permission items."
      }
    },
    "com.googleworkspace.drive_v2#GeneratedIds": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#generatedIds`"
          }
        },
        "ids": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The IDs generated for the requesting user in the specified space."
          }
        },
        "space": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of file that can be created with these IDs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of generated IDs which can be provided in insert requests"
      }
    },
    "com.googleworkspace.drive_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.googleworkspace.drive_v2#GenerateCseTokenResponse": {
      "type": "structure",
      "members": {
        "currentKaclsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the KACLs that the returned KACLs ID points to."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`."
          }
        },
        "currentKaclsId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current Key ACL Service (KACLS) ID associated with the JWT."
          }
        },
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signed JSON Web Token (JWT) for the file."
          }
        },
        "fileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fileId for which the JWT was generated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JWT and associated metadata used to generate CSE files."
      }
    },
    "com.googleworkspace.drive_v2#LabelFieldModification": {
      "type": "structure",
      "members": {
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the field to be modified."
          }
        },
        "setDateValues": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD."
          }
        },
        "setTextValues": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Sets the value of a `text` field."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#labelFieldModification`."
          }
        },
        "setSelectionValues": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Replaces a `selection` field with these new values."
          }
        },
        "unsetValues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Unsets the values for this field."
          }
        },
        "setIntegerValues": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Replaces the value of an `integer` field with these new values."
          }
        },
        "setUserValues": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Replaces a `user` field with these new values. The values must be valid email addresses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A modification to a label's field."
      }
    },
    "com.googleworkspace.drive_v2#ChangeList": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link back to this list."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#changeList`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the list."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to the next page of changes."
          }
        },
        "items": {
          "target": "com.googleworkspace.drive_v2#ChangeList_",
          "traits": {
            "smithy.api#documentation": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        },
        "largestChangeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current largest change ID."
          }
        },
        "newStartPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of changes for a user."
      }
    },
    "com.googleworkspace.drive_v2#ChangeList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#Change"
      }
    },
    "com.googleworkspace.drive_v2#Comment": {
      "type": "structure",
      "members": {
        "htmlContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTML formatted content for this comment."
          }
        },
        "replies": {
          "target": "com.googleworkspace.drive_v2#CommentReplyList_",
          "traits": {
            "smithy.api#documentation": "Replies to this post."
          }
        },
        "author": {
          "target": "com.googleworkspace.drive_v2#User",
          "traits": {
            "smithy.api#documentation": "The user who wrote this comment."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always drive#comment."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of this comment. Status can be changed by posting a reply to a comment with the desired status. Possible values are: * `open` - The comment is still open. * `resolved` - The comment has been resolved by one of its replies."
          }
        },
        "commentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the comment."
          }
        },
        "createdDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when this comment was first created."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plain text content used to create this comment. This is not HTML safe and should only be used as a starting point to make edits to a comment's content."
          }
        },
        "fileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file which this comment is addressing."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link back to this comment."
          }
        },
        "anchor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments)."
          }
        },
        "context": {
          "target": "com.googleworkspace.drive_v2#CommentContext",
          "traits": {
            "smithy.api#documentation": "Context of a file which is being commented on."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this comment has been deleted. If a comment has been deleted the content will be cleared and this will only represent a comment that once existed."
          }
        },
        "fileTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the file which this comment is addressing."
          }
        },
        "modifiedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when this comment or any of its replies were last modified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A comment on a file in Google Drive."
      }
    },
    "com.googleworkspace.drive_v2#CommentContext": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data representation of the segment of the file being commented on. In the case of a text file for example, this would be the actual text that the comment is about."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of the context snippet."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#LabelModification": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#labelModification`."
          }
        },
        "removeLabel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the label will be removed from the file."
          }
        },
        "labelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the label to modify."
          }
        },
        "fieldModifications": {
          "target": "com.googleworkspace.drive_v2#LabelFieldModificationList",
          "traits": {
            "smithy.api#documentation": "The list of modifications to this label's fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A modification to a label on a file. A LabelModification can be used to apply a label to a file, update an existing label on a file, or remove a label from a file."
      }
    },
    "com.googleworkspace.drive_v2#LabelFieldModificationList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#LabelFieldModification"
      }
    },
    "com.googleworkspace.drive_v2#ClientEncryptionDetails": {
      "type": "structure",
      "members": {
        "encryptionState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encryption state of the file. The values expected here are: - encrypted - unencrypted "
          }
        },
        "decryptionMetadata": {
          "target": "com.googleworkspace.drive_v2#DecryptionMetadata",
          "traits": {
            "smithy.api#documentation": "The metadata used for client-side operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the client-side encryption applied to the file."
      }
    },
    "com.googleworkspace.drive_v2#AppList": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.googleworkspace.drive_v2#AppList_",
          "traits": {
            "smithy.api#documentation": "The list of apps."
          }
        },
        "defaultAppIds": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "List of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the list."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#appList`."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link back to this list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of third-party applications which the user has installed or given access to Google Drive."
      }
    },
    "com.googleworkspace.drive_v2#AppList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#App"
      }
    },
    "com.googleworkspace.drive_v2#Label": {
      "type": "structure",
      "members": {
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The revision ID of the label."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#label`"
          }
        },
        "fields": {
          "target": "com.googleworkspace.drive_v2#LabelFieldMap",
          "traits": {
            "smithy.api#documentation": "A map of the fields on the label, keyed by the field's ID."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of a label and label fields."
      }
    },
    "com.googleworkspace.drive_v2#LabelFieldMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.googleworkspace.drive_v2#LabelField"
      }
    },
    "com.googleworkspace.drive_v2#CommentList": {
      "type": "structure",
      "members": {
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link back to this list."
          }
        },
        "items": {
          "target": "com.googleworkspace.drive_v2#CommentList_",
          "traits": {
            "smithy.api#documentation": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always drive#commentList."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to the next page of comments."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of comments on a file in Google Drive."
      }
    },
    "com.googleworkspace.drive_v2#CommentList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#Comment"
      }
    },
    "com.googleworkspace.drive_v2#LabelList": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#labelList`"
          }
        },
        "items": {
          "target": "com.googleworkspace.drive_v2#LabelList_",
          "traits": {
            "smithy.api#documentation": "The list of labels."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of labels applied to a file."
      }
    },
    "com.googleworkspace.drive_v2#LabelList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#Label"
      }
    },
    "com.googleworkspace.drive_v2#Channel": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`."
          }
        },
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A version-specific identifier for the watched resource."
          }
        },
        "params": {
          "target": "com.googleworkspace.drive_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Additional parameters controlling delivery channel behavior. Optional."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\"."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address where notifications are delivered for this channel."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
          }
        },
        "payload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A Boolean value to indicate whether payload is wanted. Optional."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A UUID or similar unique string that identifies this channel."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A notification channel used to watch for resource changes."
      }
    },
    "com.googleworkspace.drive_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.googleworkspace.drive_v2#ChildReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the child."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This is always `drive#childReference`."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link back to this reference."
          }
        },
        "childLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link to the child."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a folder's child. Some resource methods (such as `children.get`) require a `childId`. Use the `children.list` method to retrieve the ID of the child."
      }
    },
    "com.googleworkspace.drive_v2#Drive": {
      "type": "structure",
      "members": {
        "orgUnitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the shared drive is hidden from default view."
          }
        },
        "createdDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the shared drive was created (RFC 3339 date-time)."
          }
        },
        "restrictions": {
          "target": "com.googleworkspace.drive_v2#DriveRestrictions",
          "traits": {
            "smithy.api#documentation": "A set of restrictions that apply to this shared drive or items inside this shared drive."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive."
          }
        },
        "backgroundImageLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A short-lived link to this shared drive's background image."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this shared drive."
          }
        },
        "backgroundImageFile": {
          "target": "com.googleworkspace.drive_v2#DriveBackgroundImageFile",
          "traits": {
            "smithy.api#documentation": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set."
          }
        },
        "capabilities": {
          "target": "com.googleworkspace.drive_v2#DriveCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. Capabilities the current user has on this shared drive."
          }
        },
        "colorRgb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`."
          }
        },
        "themeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This is always `drive#drive`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive."
      }
    },
    "com.googleworkspace.drive_v2#DriveRestrictions": {
      "type": "structure",
      "members": {
        "driveMembersOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether access to items inside this shared drive is restricted to its members."
          }
        },
        "domainUsersOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive."
          }
        },
        "adminManagedRestrictions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether administrative privileges on this shared drive are required to modify restrictions."
          }
        },
        "copyRequiresWriterPermission": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive."
          }
        },
        "sharingFoldersRequiresOrganizerPermission": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#DriveBackgroundImageFile": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of an image file in Google Drive to use for the background image."
          }
        },
        "yCoordinate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
          }
        },
        "xCoordinate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#DriveCapabilities": {
      "type": "structure",
      "members": {
        "canChangeCopyRequiresWriterPermissionRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive."
          }
        },
        "canRenameDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can rename this shared drive."
          }
        },
        "canShare": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can share files or folders in this shared drive."
          }
        },
        "canAddChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can add children to folders in this shared drive."
          }
        },
        "canChangeDriveBackground": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can change the background of this shared drive."
          }
        },
        "canChangeDriveMembersOnlyRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive."
          }
        },
        "canDownload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can download files in this shared drive."
          }
        },
        "canManageMembers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can add members to this shared drive or remove them or change their role."
          }
        },
        "canResetDriveRestrictions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can reset the shared drive restrictions to defaults."
          }
        },
        "canRename": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can rename files or folders in this shared drive."
          }
        },
        "canChangeDomainUsersOnlyRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive."
          }
        },
        "canListChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can list the children of folders in this shared drive."
          }
        },
        "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive."
          }
        },
        "canDeleteChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can delete children from folders in this shared drive."
          }
        },
        "canTrashChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can trash children from folders in this shared drive."
          }
        },
        "canReadRevisions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can read the revisions resource of files in this shared drive."
          }
        },
        "canComment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can comment on files in this shared drive."
          }
        },
        "canCopy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can copy files in this shared drive."
          }
        },
        "canEdit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can edit files in this shared drive"
          }
        },
        "canDeleteDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#TeamDrive": {
      "type": "structure",
      "members": {
        "restrictions": {
          "target": "com.googleworkspace.drive_v2#TeamDriveRestrictions",
          "traits": {
            "smithy.api#documentation": "A set of restrictions that apply to this Team Drive or items inside this Team Drive."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#teamDrive`"
          }
        },
        "backgroundImageFile": {
          "target": "com.googleworkspace.drive_v2#TeamDriveBackgroundImageFile",
          "traits": {
            "smithy.api#documentation": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on `drive.teamdrives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set."
          }
        },
        "themeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
          }
        },
        "orgUnitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."
          }
        },
        "backgroundImageLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short-lived link to this Team Drive's background image."
          }
        },
        "colorRgb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`."
          }
        },
        "createdDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the Team Drive was created (RFC 3339 date-time)."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive."
          }
        },
        "capabilities": {
          "target": "com.googleworkspace.drive_v2#TeamDriveCapabilities",
          "traits": {
            "smithy.api#documentation": "Capabilities the current user has on this Team Drive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this Team Drive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: Use the `drive` collection instead."
      }
    },
    "com.googleworkspace.drive_v2#TeamDriveRestrictions": {
      "type": "structure",
      "members": {
        "copyRequiresWriterPermission": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive."
          }
        },
        "domainUsersOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive."
          }
        },
        "sharingFoldersRequiresOrganizerPermission": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
          }
        },
        "teamMembersOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether access to items inside this Team Drive is restricted to members of this Team Drive."
          }
        },
        "adminManagedRestrictions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether administrative privileges on this Team Drive are required to modify restrictions."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#TeamDriveBackgroundImageFile": {
      "type": "structure",
      "members": {
        "yCoordinate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of an image file in Drive to use for the background image."
          }
        },
        "xCoordinate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#TeamDriveCapabilities": {
      "type": "structure",
      "members": {
        "canListChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can list the children of folders in this Team Drive."
          }
        },
        "canChangeCopyRequiresWriterPermissionRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive."
          }
        },
        "canChangeTeamDriveBackground": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can change the background of this Team Drive."
          }
        },
        "canManageMembers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can add members to this Team Drive or remove them or change their role."
          }
        },
        "canAddChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can add children to folders in this Team Drive."
          }
        },
        "canEdit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can edit files in this Team Drive"
          }
        },
        "canCopy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can copy files in this Team Drive."
          }
        },
        "canRename": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can rename files or folders in this Team Drive."
          }
        },
        "canChangeDomainUsersOnlyRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive."
          }
        },
        "canDeleteChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can delete children from folders in this Team Drive."
          }
        },
        "canRenameTeamDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can rename this Team Drive."
          }
        },
        "canChangeTeamMembersOnlyRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive."
          }
        },
        "canShare": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can share files or folders in this Team Drive."
          }
        },
        "canRemoveChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead."
          }
        },
        "canResetTeamDriveRestrictions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can reset the Team Drive restrictions to defaults."
          }
        },
        "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive."
          }
        },
        "canDeleteTeamDrive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive."
          }
        },
        "canComment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can comment on files in this Team Drive."
          }
        },
        "canReadRevisions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can read the revisions resource of files in this Team Drive."
          }
        },
        "canTrashChildren": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can trash children from folders in this Team Drive."
          }
        },
        "canDownload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current user can download files in this Team Drive."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#LabelField": {
      "type": "structure",
      "members": {
        "valueType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`"
          }
        },
        "integer": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Only present if `valueType` is `integer`."
          }
        },
        "selection": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Only present if `valueType` is `selection`"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#labelField`."
          }
        },
        "text": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Only present if `valueType` is `text`."
          }
        },
        "dateString": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of this label field."
          }
        },
        "user": {
          "target": "com.googleworkspace.drive_v2#UserList",
          "traits": {
            "smithy.api#documentation": "Only present if `valueType` is `user`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of field, which is a typed key-value pair."
      }
    },
    "com.googleworkspace.drive_v2#UserList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#User"
      }
    },
    "com.googleworkspace.drive_v2#Property": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This is always `drive#property`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ETag of the property."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of this property."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The link back to this property."
          }
        },
        "visibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The visibility of this property. Allowed values are PRIVATE (default) and PUBLIC. Private properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of this property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A key-value pair attached to a file that is either public or private to an application. The following limits apply to file properties: * Maximum of 100 properties total per file * Maximum of 30 private properties per app * Maximum of 30 public properties * Maximum of 124 bytes size limit on (key + value) string in UTF-8 encoding for a single property Some resource methods (such as `properties.update`) require a `propertyKey`. Use the `properties.list` method to retrieve the key for a property."
      }
    },
    "com.googleworkspace.drive_v2#CommentReply": {
      "type": "structure",
      "members": {
        "htmlContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTML formatted content for this reply."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always drive#commentReply."
          }
        },
        "replyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the reply."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The action this reply performed to the parent comment. When creating a new reply this is the action to be perform tSo the parent comment. Possible values are: * `resolve` - To resolve a comment. * `reopen` - To reopen (un-resolve) a comment."
          }
        },
        "modifiedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when this reply was last modified."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this reply has been deleted. If a reply has been deleted the content will be cleared and this will only represent a reply that once existed."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plain text content used to create this reply. This is not HTML safe and should only be used as a starting point to make edits to a reply's content. This field is required on inserts if no verb is specified (resolve/reopen)."
          }
        },
        "createdDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when this reply was first created."
          }
        },
        "author": {
          "target": "com.googleworkspace.drive_v2#User",
          "traits": {
            "smithy.api#documentation": "The user who wrote this reply."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reply to a comment on a file in Google Drive."
      }
    },
    "com.googleworkspace.drive_v2#Change": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#change`."
          }
        },
        "fileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the file associated with this change."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `changeType` instead."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link back to this change."
          }
        },
        "changeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the change. Possible values are `file` and `drive`."
          }
        },
        "driveId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the shared drive associated with this change."
          }
        },
        "teamDrive": {
          "target": "com.googleworkspace.drive_v2#TeamDrive",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `drive` instead."
          }
        },
        "drive": {
          "target": "com.googleworkspace.drive_v2#Drive",
          "traits": {
            "smithy.api#documentation": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted."
          }
        },
        "file": {
          "target": "com.googleworkspace.drive_v2#File",
          "traits": {
            "smithy.api#documentation": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
          }
        },
        "modificationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of this modification."
          }
        },
        "teamDriveId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `driveId` instead."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the change."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of a change to a file or shared drive."
      }
    },
    "com.googleworkspace.drive_v2#ParentList": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.googleworkspace.drive_v2#ParentReferenceList",
          "traits": {
            "smithy.api#documentation": "The list of parents."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link back to this list."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#parentList`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of a file's parents."
      }
    },
    "com.googleworkspace.drive_v2#ParentReferenceList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#ParentReference"
      }
    },
    "com.googleworkspace.drive_v2#App": {
      "type": "structure",
      "members": {
        "objectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead."
          }
        },
        "createInFolderTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the app."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the product listing for this app."
          }
        },
        "createUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url to create a new file with this app."
          }
        },
        "useByDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the app is selected as the default handler for the types it supports."
          }
        },
        "productUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to the product listing for this app."
          }
        },
        "icons": {
          "target": "com.googleworkspace.drive_v2#AppIconsItemList",
          "traits": {
            "smithy.api#documentation": "The various icons for the app."
          }
        },
        "primaryMimeTypes": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The list of primary mime types."
          }
        },
        "supportsOfflineCreate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this app supports creating new files when offline."
          }
        },
        "secondaryFileExtensions": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The list of secondary file extensions."
          }
        },
        "supportsMultiOpen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this app supports opening more than one file."
          }
        },
        "supportsCreate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this app supports creating new objects."
          }
        },
        "installed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the app is installed."
          }
        },
        "authorized": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the app is authorized to access data on the user's Drive."
          }
        },
        "hasDriveWideScope": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive."
          }
        },
        "primaryFileExtensions": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The list of primary file extensions."
          }
        },
        "secondaryMimeTypes": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The list of secondary mime types."
          }
        },
        "shortDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the app."
          }
        },
        "longDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A long description of the app."
          }
        },
        "openUrlTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The template url for opening files with this app. The template will contain `{ids}` and/or `{exportIds}` to be replaced by the actual file ids. See Open Files for the full documentation."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#app`."
          }
        },
        "supportsImport": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this app supports importing from Docs Editors."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application."
      }
    },
    "com.googleworkspace.drive_v2#AppIconsItem": {
      "type": "structure",
      "members": {
        "iconUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the icon."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the icon. Allowed values are: * `application` - icon for the application * `document` - icon for a file associated with the app * `documentShared` - icon for a shared file associated with the app"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the icon. Represented as the maximum of the width and height."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#AppIconsItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#AppIconsItem"
      }
    },
    "com.googleworkspace.drive_v2#User": {
      "type": "structure",
      "members": {
        "permissionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user's ID as visible in Permission resources."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`."
          }
        },
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester."
          }
        },
        "isAuthenticatedUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this user is the same as the authenticated user for whom the request was made."
          }
        },
        "picture": {
          "target": "com.googleworkspace.drive_v2#UserPicture",
          "traits": {
            "smithy.api#documentation": "Output only. The user's profile picture."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A plain text displayable name for this user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a Drive user."
      }
    },
    "com.googleworkspace.drive_v2#UserPicture": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A URL that points to a profile picture of this user."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#StartPageToken": {
      "type": "structure",
      "members": {
        "startPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The starting page token for listing changes."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#About": {
      "type": "structure",
      "members": {
        "features": {
          "target": "com.googleworkspace.drive_v2#AboutFeaturesItemList",
          "traits": {
            "smithy.api#documentation": "List of additional features enabled on this account."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the item."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/)."
          }
        },
        "driveThemes": {
          "target": "com.googleworkspace.drive_v2#AboutDriveThemesItemList",
          "traits": {
            "smithy.api#documentation": "A list of themes that are supported for shared drives."
          }
        },
        "quotaBytesByService": {
          "target": "com.googleworkspace.drive_v2#AboutQuotaBytesByServiceItemList",
          "traits": {
            "smithy.api#documentation": "The amount of storage quota used by different Google services."
          }
        },
        "maxUploadSizes": {
          "target": "com.googleworkspace.drive_v2#AboutMaxUploadSizesItemList",
          "traits": {
            "smithy.api#documentation": "List of max upload sizes for each file type. The most specific type takes precedence."
          }
        },
        "permissionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current user's ID as visible in the permissions collection."
          }
        },
        "user": {
          "target": "com.googleworkspace.drive_v2#User",
          "traits": {
            "smithy.api#documentation": "The authenticated user."
          }
        },
        "remainingChangeIds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of remaining change ids, limited to no more than 2500."
          }
        },
        "folderColorPalette": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The palette of allowable folder colors as RGB hex strings."
          }
        },
        "quotaBytesUsedAggregate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of quota bytes used by all Google apps (Drive, Picasa, etc.)."
          }
        },
        "isCurrentAppInstalled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean indicating whether the authenticated app is installed by the authenticated user."
          }
        },
        "canCreateDrives": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can create shared drives."
          }
        },
        "largestChangeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The largest change id."
          }
        },
        "domainSharingPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Does not granularly represent allowlisted domains or Trust Rules. The domain sharing policy for the current user. Possible values are: * `allowed` * `allowedWithWarning` * `incomingOnly` * `disallowed` Note that if the user is enrolled in Trust Rules, `disallowed` will always be returned. If sharing is restricted to allowlisted domains, either `incomingOnly` or `allowedWithWarning` will be returned, depending on whether receiving files from outside the allowlisted domains is permitted."
          }
        },
        "quotaBytesTotal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total number of quota bytes. This is only relevant when quotaType is LIMITED."
          }
        },
        "canCreateTeamDrives": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `canCreateDrives` instead."
          }
        },
        "exportFormats": {
          "target": "com.googleworkspace.drive_v2#AboutExportFormatsItemList",
          "traits": {
            "smithy.api#documentation": "The allowable export formats."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#about`."
          }
        },
        "quotaBytesUsed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of quota bytes used by Google Drive."
          }
        },
        "quotaBytesUsedInTrash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of quota bytes used by trashed items."
          }
        },
        "rootFolderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the root folder."
          }
        },
        "importFormats": {
          "target": "com.googleworkspace.drive_v2#AboutImportFormatsItemList",
          "traits": {
            "smithy.api#documentation": "The allowable import formats."
          }
        },
        "quotaType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the user's storage quota. Possible values are: * `LIMITED` * `UNLIMITED`"
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link back to this item."
          }
        },
        "additionalRoleInfo": {
          "target": "com.googleworkspace.drive_v2#AboutAdditionalRoleInfoItemList",
          "traits": {
            "smithy.api#documentation": "Information about supported additional roles per file type. The most specific type takes precedence."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the current user."
          }
        },
        "teamDriveThemes": {
          "target": "com.googleworkspace.drive_v2#AboutTeamDriveThemesItemList",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `driveThemes` instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An item with user information and settings."
      }
    },
    "com.googleworkspace.drive_v2#AboutFeaturesItem": {
      "type": "structure",
      "members": {
        "featureName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the feature."
          }
        },
        "featureRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The request limit rate for this feature, in queries per second."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#AboutFeaturesItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#AboutFeaturesItem"
      }
    },
    "com.googleworkspace.drive_v2#AboutDriveThemesItem": {
      "type": "structure",
      "members": {
        "backgroundImageLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to this theme's background image."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the theme."
          }
        },
        "colorRgb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The color of this theme as an RGB hex string."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#AboutDriveThemesItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#AboutDriveThemesItem"
      }
    },
    "com.googleworkspace.drive_v2#AboutQuotaBytesByServiceItem": {
      "type": "structure",
      "members": {
        "bytesUsed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The storage quota bytes used by the service."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service's name, e.g. DRIVE, GMAIL, or PHOTOS."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#AboutQuotaBytesByServiceItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#AboutQuotaBytesByServiceItem"
      }
    },
    "com.googleworkspace.drive_v2#AboutMaxUploadSizesItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file type."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The max upload size for this type."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#AboutMaxUploadSizesItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#AboutMaxUploadSizesItem"
      }
    },
    "com.googleworkspace.drive_v2#AboutExportFormatsItem": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type to convert from."
          }
        },
        "targets": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The possible content types to convert to."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#AboutExportFormatsItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#AboutExportFormatsItem"
      }
    },
    "com.googleworkspace.drive_v2#AboutImportFormatsItem": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The imported file's content type to convert from."
          }
        },
        "targets": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The possible content types to convert to."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#AboutImportFormatsItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#AboutImportFormatsItem"
      }
    },
    "com.googleworkspace.drive_v2#AboutAdditionalRoleInfoItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type that this additional role info applies to."
          }
        },
        "roleSets": {
          "target": "com.googleworkspace.drive_v2#AboutAdditionalRoleInfoItemRoleSetsItemList",
          "traits": {
            "smithy.api#documentation": "The supported additional roles per primary role."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#AboutAdditionalRoleInfoItemRoleSetsItem": {
      "type": "structure",
      "members": {
        "primaryRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A primary permission role."
          }
        },
        "additionalRoles": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The supported additional roles with the primary role."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#AboutAdditionalRoleInfoItemRoleSetsItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#AboutAdditionalRoleInfoItemRoleSetsItem"
      }
    },
    "com.googleworkspace.drive_v2#AboutAdditionalRoleInfoItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#AboutAdditionalRoleInfoItem"
      }
    },
    "com.googleworkspace.drive_v2#AboutTeamDriveThemesItem": {
      "type": "structure",
      "members": {
        "colorRgb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `driveThemes/colorRgb` instead."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `driveThemes/id` instead."
          }
        },
        "backgroundImageLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `driveThemes/backgroundImageLink` instead."
          }
        }
      }
    },
    "com.googleworkspace.drive_v2#AboutTeamDriveThemesItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#AboutTeamDriveThemesItem"
      }
    },
    "com.googleworkspace.drive_v2#DriveList": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `drive#driveList`"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
          }
        },
        "items": {
          "target": "com.googleworkspace.drive_v2#DriveList_",
          "traits": {
            "smithy.api#documentation": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of shared drives."
      }
    },
    "com.googleworkspace.drive_v2#DriveList_": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drive_v2#Drive"
      }
    },
    "com.googleworkspace.drive_v2#ParentReference": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This is always `drive#parentReference`."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link back to this reference."
          }
        },
        "isRoot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether or not the parent is the root folder."
          }
        },
        "parentLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link to the parent."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a file's parent. A file can only have one parent folder; specifying multiple parents isn't supported. Some resource methods (such as `parents.get`) require a `parentId`. Use the `parents.list` method to retrieve the ID for a parent."
      }
    },
    "com.googleworkspace.drive_v2#File": {
      "type": "structure",
      "members": {
        "shareable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Use `capabilities/canShare` instead."
          }
        },
        "quotaBytesUsed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of quota bytes used by this file."
          }
        },
        "modifiedByMeDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this file was modified by the user (formatted RFC 3339 timestamp). Note that setting modifiedDate will also update the modifiedByMe date for the user which set the date."
          }
        },
        "explicitlyTrashed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this file has been explicitly trashed, as opposed to recursively trashed."
          }
        },
        "fileSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Size in bytes of blobs and first party editor files. Won't be populated for files that have no size, like shortcuts and folders."
          }
        },
        "lastModifyingUser": {
          "target": "com.googleworkspace.drive_v2#User",
          "traits": {
            "smithy.api#documentation": "Output only. The last user to modify this file. This field is only populated when the last modification was performed by a signed-in user."
          }
        },
        "parents": {
          "target": "com.googleworkspace.drive_v2#ParentReferenceList",
          "traits": {
            "smithy.api#documentation": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of an insert request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the requesting user."
          }
        },
        "hasThumbnail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field."
          }
        },
        "trashingUser": {
          "target": "com.googleworkspace.drive_v2#User",
          "traits": {
            "smithy.api#documentation": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives."
          }
        },
        "canComment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Use `capabilities/canComment` instead."
          }
        },
        "canReadRevisions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Use `capabilities/canReadRevisions` instead."
          }
        },
        "ownerNames": {
          "target": "com.googleworkspace.drive_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Name(s) of the owner(s) of this file. Not populated for items in shared drives."
          }
        },
        "resourceKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A key needed to access the item via a shared link."
          }
        },
        "modifiedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this file was modified by anyone (formatted RFC 3339 timestamp). This is only mutable on update when the setModifiedDate parameter is set."
          }
        },
        "lastViewedByMeDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this file was viewed by the user (formatted RFC 3339 timestamp)."
          }
        },
        "exportLinks": {
          "target": "com.googleworkspace.drive_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Links for exporting Docs Editors files to specific formats."
          }
        },
        "thumbnailVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The thumbnail version for use in thumbnail cache invalidation."
          }
        },
        "thumbnail": {
          "target": "com.googleworkspace.drive_v2#FileThumbnail",
          "traits": {
            "smithy.api#documentation": "A thumbnail for the file. This will only be used if a standard thumbnail cannot be generated."
          }
        },
        "permissions": {
          "target": "com.googleworkspace.drive_v2#PermissionList_",
          "traits": {
            "smithy.api#documentation": "Output only. The list of permissions for users with access to this file. Not populated for items in shared drives."
          }
        },
        "iconLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A link to the file's icon."
          }
        },
        "md5Checksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An MD5 checksum for the content of this file. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
          }
        },
        "copyRequiresWriterPermission": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the options to copy, print, or download this file, should be disabled for readers and commenters."
[...]
