{
  "smithy": "2.0",
  "metadata": {
    "service": "drivelabels",
    "version": "v2beta",
    "title": "Drive Labels API",
    "baseUrl": "https://drivelabels.googleapis.com/"
  },
  "shapes": {
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaListLabelLocksResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token of the next page in the response."
          }
        },
        "labelLocks": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelLockList",
          "traits": {
            "smithy.api#documentation": "Label locks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a `ListLabelLocksRequest`."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelLockList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelLock"
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelPermission": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of this permission."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group resource name."
          }
        },
        "person": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person resource name."
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label."
          }
        },
        "role": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelPermissionRoleEnum",
          "traits": {
            "smithy.api#documentation": "The role the principal should have."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The permission that applies to a principal (user, group, audience) on a label."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelPermissionRoleEnum": {
      "type": "enum",
      "members": {
        "LABEL_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABEL_ROLE_UNSPECIFIED"
          }
        },
        "READER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READER"
          }
        },
        "APPLIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLIER"
          }
        },
        "ORGANIZER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORGANIZER"
          }
        },
        "EDITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITOR"
          }
        }
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "type": "structure",
      "members": {
        "userOptions": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldUserOptions",
          "traits": {
            "smithy.api#documentation": "Update field to User."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The field to update."
          }
        },
        "integerOptions": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
          "traits": {
            "smithy.api#documentation": "Update field to Integer."
          }
        },
        "dateOptions": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldDateOptions",
          "traits": {
            "smithy.api#documentation": "Update field to Date."
          }
        },
        "selectionOptions": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
          "traits": {
            "smithy.api#documentation": "Update field to Selection."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
          }
        },
        "textOptions": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldTextOptions",
          "traits": {
            "smithy.api#documentation": "Update field to Text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to change the type of a field."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest": {
      "type": "structure",
      "members": {
        "labelPermission": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelPermission",
          "traits": {
            "smithy.api#documentation": "Required. The permission to create or update on the label."
          }
        },
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent label resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
          }
        },
        "properties": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelProperties",
          "traits": {
            "smithy.api#documentation": "Required. Label properties to update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates basic properties of a label."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUserInfo": {
      "type": "structure",
      "members": {
        "person": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a user."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDateLimits": {
      "type": "structure",
      "members": {
        "minValue": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Minimum value for the date field type."
          }
        },
        "maxValue": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Maximum value for the date field type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits for date field type."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLongTextLimits": {
      "type": "structure",
      "members": {
        "maxLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum length allowed for a long text field type."
          }
        },
        "minLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum length allowed for a long text field type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits for long text field type."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy": {
      "type": "structure",
      "members": {
        "showInApply": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI."
          }
        },
        "hideInSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints": {
      "type": "structure",
      "members": {
        "shownInApply": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This option should be shown in the apply menu when applying values to a Drive item."
          }
        },
        "hiddenInSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This option should be hidden in the search menu when searching for Drive items."
          }
        },
        "badgePriority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority."
          }
        },
        "badgeColors": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaBadgeColors",
          "traits": {
            "smithy.api#documentation": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`."
          }
        },
        "darkBadgeColors": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaBadgeColors",
          "traits": {
            "smithy.api#documentation": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the option should be shown in the UI as disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UI display hints for rendering an option."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities": {
      "type": "structure",
      "members": {
        "canSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can use this choice in search queries."
          }
        },
        "canSelect": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can select this choice on an item."
          }
        },
        "canRead": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can read related applied metadata on items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The capabilities related to this choice on applied metadata."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
          }
        },
        "properties": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties",
          "traits": {
            "smithy.api#documentation": "Required. The choice properties to update."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The choice to update."
          }
        },
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The selection field to update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to update a choice property."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "type": "structure",
      "members": {
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response following update to field properties."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldListOptions": {
      "type": "structure",
      "members": {
        "maxEntries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of entries permitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for a multi-valued variant of an associated field type."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLockStatus": {
      "type": "structure",
      "members": {
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about whether a label component should be considered locked."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the field to delete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to delete the field."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Choice to disable."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
          }
        },
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The selection field in which a choice will be disabled."
          }
        },
        "disabledPolicy": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
          "traits": {
            "smithy.api#documentation": "Required. The disabled policy to update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to disable a choice."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here."
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response following field create."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelDisplayHints": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the label should be shown in the UI as disabled."
          }
        },
        "hiddenInSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This label should be hidden in the search menu when searching for Drive items."
          }
        },
        "shownInApply": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This label should be shown in the apply menu when applying values to a Drive item."
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The order to display labels in a list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The UI display hints for rendering the label."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldLimits": {
      "type": "structure",
      "members": {
        "integerLimits": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaIntegerLimits",
          "traits": {
            "smithy.api#documentation": "Integer field limits."
          }
        },
        "selectionLimits": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaSelectionLimits",
          "traits": {
            "smithy.api#documentation": "Selection field limits."
          }
        },
        "dateLimits": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDateLimits",
          "traits": {
            "smithy.api#documentation": "Date field limits."
          }
        },
        "maxDescriptionLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Limits for field description, also called help text."
          }
        },
        "maxIdLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum length for the id."
          }
        },
        "longTextLimits": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLongTextLimits",
          "traits": {
            "smithy.api#documentation": "Long text field limits."
          }
        },
        "userLimits": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUserLimits",
          "traits": {
            "smithy.api#documentation": "User field limits."
          }
        },
        "maxDisplayNameLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Limits for field title."
          }
        },
        "textLimits": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaTextLimits",
          "traits": {
            "smithy.api#documentation": "The relevant limits for the specified Field.Type. Text field limits."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
          }
        },
        "properties": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldProperties",
          "traits": {
            "smithy.api#documentation": "Required. Basic field properties."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The field to update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to update field properties."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities": {
      "type": "structure",
      "members": {
        "canRemove": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can remove this label from items."
          }
        },
        "canApply": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can apply this label to items."
          }
        },
        "canRead": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can read applied metadata related to this label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The capabilities a user has on this label's applied metadata."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response following choice disable."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldTextOptions": {
      "type": "structure",
      "members": {
        "maxLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The maximum valid length of values for the text field."
          }
        },
        "minLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The minimum valid length of values for the text field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for the Text field type."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest": {
      "type": "structure",
      "members": {
        "disabledPolicy": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
          "traits": {
            "smithy.api#documentation": "Required. Field disabled policy."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Key of the field to disable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to disable the field."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleTypeDate": {
      "type": "structure",
      "members": {
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display text to show in the UI identifying this field."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of this label."
          }
        },
        "insertBeforeChoice": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list."
          }
        },
        "badgeConfig": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaBadgeConfig",
          "traits": {
            "smithy.api#documentation": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Basic properties of the choice."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldIntegerOptions": {
      "type": "structure",
      "members": {
        "minValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The minimum valid value for the integer field."
          }
        },
        "maxValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The maximum valid value for the integer field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for the Integer field type."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
          }
        },
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
          }
        },
        "view": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequestViewEnum",
          "traits": {
            "smithy.api#documentation": "When specified, only certain fields belonging to the indicated view will be returned."
          }
        },
        "copyMode": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequestCopyModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\"
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequestViewEnum": {
      "type": "enum",
      "members": {
        "LABEL_VIEW_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABEL_VIEW_BASIC"
          }
        },
        "LABEL_VIEW_FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABEL_VIEW_FULL"
          }
        }
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequestCopyModeEnum": {
      "type": "enum",
      "members": {
        "COPY_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY_MODE_UNSPECIFIED"
          }
        },
        "DO_NOT_COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DO_NOT_COPY"
          }
        },
        "ALWAYS_COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS_COPY"
          }
        },
        "COPY_APPLIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY_APPLIABLE"
          }
        }
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDisableLabelRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
          }
        },
        "disabledPolicy": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
          "traits": {
            "smithy.api#documentation": "Disabled policy to use."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
          }
        },
        "writeControl": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaWriteControl",
          "traits": {
            "smithy.api#documentation": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
          }
        },
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to deprecate a published label."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelLimits": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "maxDescriptionLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of characters allowed for the description."
          }
        },
        "maxFields": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of fields allowed within the label."
          }
        },
        "maxDraftRevisions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of draft revisions that will be kept before deleting old drafts."
          }
        },
        "maxDeletedFields": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of published fields that can be deleted."
          }
        },
        "maxTitleLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of characters allowed for the title."
          }
        },
        "fieldLimits": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldLimits",
          "traits": {
            "smithy.api#documentation": "The limits for fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelLockCapabilities": {
      "type": "structure",
      "members": {
        "canViewPolicy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the user is authorized to view the policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of a user's capabilities on a label lock."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy": {
      "type": "structure",
      "members": {
        "copyMode": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicyCopyModeEnum",
          "traits": {
            "smithy.api#documentation": "Indicates how the applied label and field values should be copied when a Drive item is copied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Behavior of this label when it's applied to Drive items."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicyCopyModeEnum": {
      "type": "enum",
      "members": {
        "COPY_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY_MODE_UNSPECIFIED"
          }
        },
        "DO_NOT_COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DO_NOT_COPY"
          }
        },
        "ALWAYS_COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS_COPY"
          }
        },
        "COPY_APPLIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY_APPLIABLE"
          }
        }
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response following choice delete."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleTypeColor": {
      "type": "structure",
      "members": {
        "red": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of red in the color as a value in the interval [0, 1]."
          }
        },
        "green": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of green in the color as a value in the interval [0, 1]."
          }
        },
        "alpha": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
          }
        },
        "blue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of blue in the color as a value in the interval [0, 1]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ..."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaPublishLabelRequest": {
      "type": "structure",
      "members": {
        "writeControl": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaWriteControl",
          "traits": {
            "smithy.api#documentation": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
          }
        },
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to publish a label."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the field to enable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to enable the field."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response following field delete."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelLock": {
      "type": "structure",
      "members": {
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this label lock was created."
          }
        },
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the field that should be locked. Empty if the whole label should be locked."
          }
        },
        "choiceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present."
          }
        },
        "creator": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of this label lock."
          }
        },
        "state": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelLockStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. This label lock's state."
          }
        },
        "capabilities": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. The user's capabilities on this label lock."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A lock that can be applied to a label, field, or choice."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelLockStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice": {
      "type": "structure",
      "members": {
        "disabler": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled."
          }
        },
        "disableTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled."
          }
        },
        "publisher": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who published this choice. This value has no meaning when the choice is not published."
          }
        },
        "updater": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who updated this choice last."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this choice was created."
          }
        },
        "properties": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties",
          "traits": {
            "smithy.api#documentation": "Basic properties of the choice."
          }
        },
        "lifecycle": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLifecycle",
          "traits": {
            "smithy.api#documentation": "Output only. Lifecycle of the choice."
          }
        },
        "lockStatus": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLockStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The `LockStatus` of this choice."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this choice was updated last."
          }
        },
        "displayHints": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints",
          "traits": {
            "smithy.api#documentation": "Output only. UI display hints for rendering a choice."
          }
        },
        "appliedCapabilities": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. The capabilities related to this choice on applied metadata."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`."
          }
        },
        "publishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this choice was published. This value has no meaning when the choice is not published."
          }
        },
        "creator": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who created this choice."
          }
        },
        "schemaCapabilities": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. The capabilities related to this option when editing the option."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Selection field choice."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Choice to delete."
          }
        },
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The selection field from which a choice will be deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to delete a choice."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldUserOptions": {
      "type": "structure",
      "members": {
        "listOptions": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldListOptions",
          "traits": {
            "smithy.api#documentation": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for the user field type."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities": {
      "type": "structure",
      "members": {
        "canEnable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can enable this field. The user must have permission and this field must be disabled."
          }
        },
        "canDisable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can disable this field. The user must have permission and this field must not already be disabled."
          }
        },
        "canUpdate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can change this field."
          }
        },
        "canDelete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can delete this field. The user must have permission and the field must be deprecated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The capabilities related to this field when editing the field."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities": {
      "type": "structure",
      "members": {
        "canRead": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can read related applied metadata on items."
          }
        },
        "canWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can set this field on Drive items."
          }
        },
        "canSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can search for Drive items referencing this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The capabilities related to this field on applied metadata."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaWriteControl": {
      "type": "structure",
      "members": {
        "requiredRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides control over how write requests are executed. When not specified, the last write wins."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp": {
      "type": "structure",
      "members": {
        "app": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledAppAppEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app where the label can be used."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledAppAppEnum": {
      "type": "enum",
      "members": {
        "APP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_UNSPECIFIED"
          }
        },
        "DRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE"
          }
        },
        "GMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMAIL"
          }
        }
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldDisplayHints": {
      "type": "structure",
      "members": {
        "hiddenInSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field should be hidden in the search menu when searching for Drive items."
          }
        },
        "shownInApply": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field should be shown in the apply menu when applying values to a Drive item."
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the field should be shown as required in the UI."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the field should be shown in the UI as disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UI display hints for rendering a field."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUserCapabilities": {
      "type": "structure",
      "members": {
        "canAdministrateLabels": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the user is an administrator for the shared labels feature."
          }
        },
        "canCreateAdminLabels": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the user is allowed to create admin labels."
          }
        },
        "canCreateSharedLabels": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the user is allowed to create shared labels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name for the user capabilities."
          }
        },
        "canAccessLabelManager": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the user is allowed access to the label manager."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The capabilities of a user."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`."
          }
        },
        "writeControl": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaWriteControl",
          "traits": {
            "smithy.api#documentation": "Provides control over how write requests are executed."
          }
        },
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
          }
        },
        "requests": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequestList",
          "traits": {
            "smithy.api#documentation": "A list of updates to apply to the label. Requests will be applied in the order they are specified."
          }
        },
        "view": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestViewEnum",
          "traits": {
            "smithy.api#documentation": "When specified, only certain fields belonging to the indicated view will be returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequestList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest"
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestViewEnum": {
      "type": "enum",
      "members": {
        "LABEL_VIEW_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABEL_VIEW_BASIC"
          }
        },
        "LABEL_VIEW_FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABEL_VIEW_FULL"
          }
        }
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldProperties": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the field should be marked as required."
          }
        },
        "insertBeforeField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display text to show in the UI identifying this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The basic properties of the field."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelProperties": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Title of the label."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Basic properties of the label."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response following update to label properties."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaListLimits": {
      "type": "structure",
      "members": {
        "maxEntries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of values allowed for the field type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits for list-variant of a field type."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaIntegerLimits": {
      "type": "structure",
      "members": {
        "minValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimum value for an integer field type."
          }
        },
        "maxValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum value for an integer field type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits for integer field type."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The request message specifying the resources to update."
          }
        },
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes one or more label permissions."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequestList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest"
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "type": "structure",
      "members": {
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-generated ID of the field."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-generated ID of the created choice within the field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response following selection choice create."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse": {
      "type": "structure",
      "members": {
        "responses": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponseList",
          "traits": {
            "smithy.api#documentation": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty."
          }
        },
        "updatedLabel": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabel",
          "traits": {
            "smithy.api#documentation": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for label update."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponseList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse"
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLifecycle": {
      "type": "structure",
      "members": {
        "hasUnpublishedChanges": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the object associated with this lifecycle has unpublished changes."
          }
        },
        "disabledPolicy": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
          "traits": {
            "smithy.api#documentation": "The policy that governs how to show a disabled label, field, or selection choice."
          }
        },
        "state": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLifecycleStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the object associated with this lifecycle."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLifecycleStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "UNPUBLISHED_DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNPUBLISHED_DRAFT"
          }
        },
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings": {
      "type": "structure",
      "members": {
        "enabledApps": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledAppList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of apps where the label can be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the Google Workspace apps in which the label can be used."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledAppList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp"
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token of the next page in the response."
          }
        },
        "labelPermissions": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelPermissionList",
          "traits": {
            "smithy.api#documentation": "Label permissions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for listing the permissions on a label."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelPermissionList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelPermission"
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities": {
      "type": "structure",
      "members": {
        "canUpdate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can update this choice."
          }
        },
        "canDelete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can delete this choice."
          }
        },
        "canDisable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can disable this choice."
          }
        },
        "canEnable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can enable this choice."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The capabilities related to this choice when editing the choice."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaBadgeConfig": {
      "type": "structure",
      "members": {
        "color": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleTypeColor",
          "traits": {
            "smithy.api#documentation": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color."
          }
        },
        "priorityOverride": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Badge status of the label."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response following field disable."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaBadgeColors": {
      "type": "structure",
      "members": {
        "soloColor": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleTypeColor",
          "traits": {
            "smithy.api#documentation": "Output only. Color that can be used for text without a background."
          }
        },
        "backgroundColor": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleTypeColor",
          "traits": {
            "smithy.api#documentation": "Output only. Badge background that pairs with the foreground."
          }
        },
        "foregroundColor": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleTypeColor",
          "traits": {
            "smithy.api#documentation": "Output only. Badge foreground that pairs with the background."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The color derived from BadgeConfig and changed to the closest recommended supported color."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse": {
      "type": "structure",
      "members": {
        "updateFieldType": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse",
          "traits": {
            "smithy.api#documentation": "Updates field type and/or type options."
          }
        },
        "createSelectionChoice": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse",
          "traits": {
            "smithy.api#documentation": "Creates a selection list option to add to a selection field."
          }
        },
        "enableField": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse",
          "traits": {
            "smithy.api#documentation": "Enables field."
          }
        },
        "updateLabel": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
          "traits": {
            "smithy.api#documentation": "Updates basic properties of a label."
          }
        },
        "disableSelectionChoice": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse",
          "traits": {
            "smithy.api#documentation": "Disables a choice within a selection field."
          }
        },
        "deleteField": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse",
          "traits": {
            "smithy.api#documentation": "Deletes a field from the label."
          }
        },
        "enableSelectionChoice": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse",
          "traits": {
            "smithy.api#documentation": "Enables a choice within a selection field."
          }
        },
        "updateField": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
          "traits": {
            "smithy.api#documentation": "Updates basic properties of a field."
          }
        },
        "deleteSelectionChoice": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
          "traits": {
            "smithy.api#documentation": "Deletes a choice from a selection field."
          }
        },
        "disableField": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse",
          "traits": {
            "smithy.api#documentation": "Disables field."
          }
        },
        "createField": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
          "traits": {
            "smithy.api#documentation": "Creates a field."
          }
        },
        "updateSelectionChoiceProperties": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
          "traits": {
            "smithy.api#documentation": "Updates a choice within a selection field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single response from an update."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldDateOptions": {
      "type": "structure",
      "members": {
        "dateFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ICU date format."
          }
        },
        "dateFormatType": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldDateOptionsDateFormatTypeEnum",
          "traits": {
            "smithy.api#documentation": "Localized date formatting option. Field values are rendered in this format according to their locale."
          }
        },
        "minValue": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Output only. Minimum valid value (year, month, day)."
          }
        },
        "maxValue": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Output only. Maximum valid value (year, month, day)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for the date field type."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldDateOptionsDateFormatTypeEnum": {
      "type": "enum",
      "members": {
        "DATE_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE_FORMAT_UNSPECIFIED"
          }
        },
        "LONG_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONG_DATE"
          }
        },
        "SHORT_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHORT_DATE"
          }
        }
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest": {
      "type": "structure",
      "members": {
        "createSelectionChoice": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest",
          "traits": {
            "smithy.api#documentation": "Create a choice within a selection field."
          }
        },
        "disableSelectionChoice": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest",
          "traits": {
            "smithy.api#documentation": "Disable a choice within a selection field."
          }
        },
        "createField": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest",
          "traits": {
            "smithy.api#documentation": "Creates a field."
          }
        },
        "enableSelectionChoice": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
          "traits": {
            "smithy.api#documentation": "Enable a choice within a selection field."
          }
        },
        "updateField": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
          "traits": {
            "smithy.api#documentation": "Updates basic properties of a field."
          }
        },
        "disableField": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest",
          "traits": {
            "smithy.api#documentation": "Disables the field."
          }
        },
        "updateFieldType": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest",
          "traits": {
            "smithy.api#documentation": "Update field type and/or type options."
          }
        },
        "updateSelectionChoiceProperties": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
          "traits": {
            "smithy.api#documentation": "Update a choice property within a selection field."
          }
        },
        "deleteSelectionChoice": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
          "traits": {
            "smithy.api#documentation": "Delete a choice within a selection field."
          }
        },
        "deleteField": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
          "traits": {
            "smithy.api#documentation": "Deletes a field from the label."
          }
        },
        "enableField": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest",
          "traits": {
            "smithy.api#documentation": "Enables the field."
          }
        },
        "updateLabel": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
          "traits": {
            "smithy.api#documentation": "Updates the label properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single kind of update to apply to a label."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response following choice enable."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response following field enable."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response following update to field type."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Choice to enable."
          }
        },
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The selection field in which a choice will be enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to enable a choice."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaEnableLabelRequest": {
      "type": "structure",
      "members": {
        "writeControl": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaWriteControl",
          "traits": {
            "smithy.api#documentation": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
          }
        },
        "useAdminAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to enable a label."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaListLabelsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token of the next page in the response."
          }
        },
        "labels": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelList",
          "traits": {
            "smithy.api#documentation": "Labels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for listing labels."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabelList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabel"
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaField": {
      "type": "structure",
      "members": {
        "creator": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who created this field."
          }
        },
        "integerOptions": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
          "traits": {
            "smithy.api#documentation": "Integer field options."
          }
        },
        "schemaCapabilities": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. The capabilities this user has when editing this field."
          }
        },
        "disabler": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled."
          }
        },
        "lockStatus": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLockStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The `LockStatus` of this field."
          }
        },
        "publisher": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who published this field. This value has no meaning when the field is not published."
          }
        },
        "selectionOptions": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
          "traits": {
            "smithy.api#documentation": "Selection field options."
          }
        },
        "disableTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled."
          }
        },
        "appliedCapabilities": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`."
          }
        },
        "userOptions": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldUserOptions",
          "traits": {
            "smithy.api#documentation": "User field options."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this field was updated."
          }
        },
        "displayHints": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldDisplayHints",
          "traits": {
            "smithy.api#documentation": "Output only. UI display hints for rendering a field."
          }
        },
        "textOptions": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldTextOptions",
          "traits": {
            "smithy.api#documentation": "Text field options."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this field was created."
          }
        },
        "properties": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldProperties",
          "traits": {
            "smithy.api#documentation": "The basic properties of the field."
          }
        },
        "queryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\"."
          }
        },
        "updater": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUserInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The user who modified this field."
          }
        },
        "lifecycle": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLifecycle",
          "traits": {
            "smithy.api#documentation": "Output only. The lifecycle of this field."
          }
        },
        "dateOptions": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaFieldDateOptions",
          "traits": {
            "smithy.api#documentation": "Date field options."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaSelectionLimits": {
      "type": "structure",
      "members": {
        "maxDeletedChoices": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of deleted choices."
          }
        },
        "listLimits": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaListLimits",
          "traits": {
            "smithy.api#documentation": "Limits for list-variant of a field type."
          }
        },
        "maxIdLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum ID length for a selection option."
          }
        },
        "maxDisplayNameLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum length for display name."
          }
        },
        "maxChoices": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of choices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits for selection field type."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaUserLimits": {
      "type": "structure",
      "members": {
        "listLimits": {
          "target": "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaListLimits",
          "traits": {
            "smithy.api#documentation": "Limits for list-variant of a field type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits for Field.Type.USER."
      }
    },
    "com.googleworkspace.drivelabels_v2beta#GoogleAppsDriveLabelsV2betaLabel": {
      "type": "structure",
      "members": {
        "disableTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled."
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`."
          }
        },
        "properties": {
[...]
