{
  "smithy": "2.0",
  "metadata": {
    "service": "admin",
    "version": "datatransfer_v1",
    "title": "Admin SDK API",
    "baseUrl": "https://admin.googleapis.com/"
  },
  "shapes": {
    "com.gcp.admin_datatransfer_v1#ApplicationDataTransfer": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application's ID."
          }
        },
        "applicationTransferStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Read-only. Current status of transfer for this application."
          }
        },
        "applicationTransferParams": {
          "target": "com.gcp.admin_datatransfer_v1#ApplicationTransferParamList",
          "traits": {
            "smithy.api#documentation": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Template to map fields of ApplicationDataTransfer resource."
      }
    },
    "com.gcp.admin_datatransfer_v1#ApplicationTransferParamList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_datatransfer_v1#ApplicationTransferParam"
      }
    },
    "com.gcp.admin_datatransfer_v1#DataTransfersListResponse": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "dataTransfers": {
          "target": "com.gcp.admin_datatransfer_v1#DataTransferList",
          "traits": {
            "smithy.api#documentation": "List of data transfer requests."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to specify the next page in the list."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the resource as a collection of data transfer requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Template for a collection of DataTransfer resources."
      }
    },
    "com.gcp.admin_datatransfer_v1#DataTransferList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_datatransfer_v1#DataTransfer"
      }
    },
    "com.gcp.admin_datatransfer_v1#Application": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application's name."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the resource as a DataTransfer Application Resource."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the resource."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method."
          }
        },
        "transferParams": {
          "target": "com.gcp.admin_datatransfer_v1#ApplicationTransferParamList",
          "traits": {
            "smithy.api#documentation": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Application resources represent applications installed on the domain that support transferring ownership of user data."
      }
    },
    "com.gcp.admin_datatransfer_v1#ApplicationsListResponse": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to specify the next page in the list."
          }
        },
        "applications": {
          "target": "com.gcp.admin_datatransfer_v1#ApplicationList",
          "traits": {
            "smithy.api#documentation": "The list of applications that support data transfer and are also installed for the customer."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the resource as a collection of Applications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Template for a collection of Applications."
      }
    },
    "com.gcp.admin_datatransfer_v1#ApplicationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_datatransfer_v1#Application"
      }
    },
    "com.gcp.admin_datatransfer_v1#DataTransfer": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Read-only. The transfer's ID."
          }
        },
        "oldOwnerUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the user whose data is being transferred."
          }
        },
        "applicationDataTransfers": {
          "target": "com.gcp.admin_datatransfer_v1#ApplicationDataTransferList",
          "traits": {
            "smithy.api#documentation": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation."
          }
        },
        "newOwnerUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the user to whom the data is being transferred."
          }
        },
        "overallTransferStatusCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Read-only. Overall transfer status."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the resource as a DataTransfer request."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "requestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Read-only. The time at which the data transfer was requested."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Transfer resource represents the transfer of the ownership of user data between users."
      }
    },
    "com.gcp.admin_datatransfer_v1#ApplicationDataTransferList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_datatransfer_v1#ApplicationDataTransfer"
      }
    },
    "com.gcp.admin_datatransfer_v1#ApplicationTransferParam": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the transfer parameter, such as `PRIVACY_LEVEL`."
          }
        },
        "value": {
          "target": "com.gcp.admin_datatransfer_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Template for application transfer parameters."
      }
    },
    "com.gcp.admin_datatransfer_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.admin_datatransfer_v1#GetApplicationsRequest": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the application resource to be retrieved.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.admin_datatransfer_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.admin_datatransfer_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.admin_datatransfer_v1#GetApplications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.admin_datatransfer_v1#GetApplicationsRequest"
      },
      "output": {
        "target": "com.gcp.admin_datatransfer_v1#Application"
      },
      "errors": [
        {
          "target": "com.gcp.admin_datatransfer_v1#NotFound"
        },
        {
          "target": "com.gcp.admin_datatransfer_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "admin/datatransfer/v1/applications/{applicationId}"
        },
        "smithy.api#documentation": "Retrieves information about an application for the given application ID."
      }
    },
    "com.gcp.admin_datatransfer_v1#ListApplicationsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to specify next page in the list.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable ID of the Google Workspace account.",
            "smithy.api#httpQuery": "customerId"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of results to return. Default is 100.",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      }
    },
    "com.gcp.admin_datatransfer_v1#ListApplications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.admin_datatransfer_v1#ListApplicationsRequest"
      },
      "output": {
        "target": "com.gcp.admin_datatransfer_v1#ApplicationsListResponse"
      },
      "errors": [
        {
          "target": "com.gcp.admin_datatransfer_v1#NotFound"
        },
        {
          "target": "com.gcp.admin_datatransfer_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "admin/datatransfer/v1/applications"
        },
        "smithy.api#documentation": "Lists the applications available for data transfer for a customer.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.admin_datatransfer_v1#GetTransfersRequest": {
      "type": "structure",
      "members": {
        "dataTransferId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.admin_datatransfer_v1#GetTransfers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.admin_datatransfer_v1#GetTransfersRequest"
      },
      "output": {
        "target": "com.gcp.admin_datatransfer_v1#DataTransfer"
      },
      "errors": [
        {
          "target": "com.gcp.admin_datatransfer_v1#NotFound"
        },
        {
          "target": "com.gcp.admin_datatransfer_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "admin/datatransfer/v1/transfers/{dataTransferId}"
        },
        "smithy.api#documentation": "Retrieves a data transfer request by its resource ID."
      }
    },
    "com.gcp.admin_datatransfer_v1#InsertTransfersRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.admin_datatransfer_v1#DataTransfer",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.admin_datatransfer_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.admin_datatransfer_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.admin_datatransfer_v1#InsertTransfers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.admin_datatransfer_v1#InsertTransfersRequest"
      },
      "output": {
        "target": "com.gcp.admin_datatransfer_v1#DataTransfer"
      },
      "errors": [
        {
          "target": "com.gcp.admin_datatransfer_v1#NotFound"
        },
        {
          "target": "com.gcp.admin_datatransfer_v1#Forbidden"
        },
        {
          "target": "com.gcp.admin_datatransfer_v1#BadRequest"
        },
        {
          "target": "com.gcp.admin_datatransfer_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "admin/datatransfer/v1/transfers"
        },
        "smithy.api#documentation": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements."
      }
    },
    "com.gcp.admin_datatransfer_v1#ListTransfersRequest": {
      "type": "structure",
      "members": {
        "newOwnerUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination user's profile ID.",
            "smithy.api#httpQuery": "newOwnerUserId"
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable ID of the Google Workspace account.",
            "smithy.api#httpQuery": "customerId"
          }
        },
        "oldOwnerUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source user's profile ID.",
            "smithy.api#httpQuery": "oldOwnerUserId"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to specify the next page in the list.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of results to return. Default is 100.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the transfer.",
            "smithy.api#httpQuery": "status"
          }
        }
      }
    },
    "com.gcp.admin_datatransfer_v1#ListTransfers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.admin_datatransfer_v1#ListTransfersRequest"
      },
      "output": {
        "target": "com.gcp.admin_datatransfer_v1#DataTransfersListResponse"
      },
      "errors": [
        {
          "target": "com.gcp.admin_datatransfer_v1#NotFound"
        },
        {
          "target": "com.gcp.admin_datatransfer_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "admin/datatransfer/v1/transfers"
        },
        "smithy.api#documentation": "Lists the transfers for a customer by source user, destination user, or status.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    }
  }
}
