{
  "smithy": "2.0",
  "metadata": {
    "service": "admin",
    "version": "directory_v1",
    "title": "Admin SDK API",
    "baseUrl": "https://admin.googleapis.com/"
  },
  "shapes": {
    "com.gcp.admin_directory_v1#AuxiliaryMessage": {
      "type": "structure",
      "members": {
        "severity": {
          "target": "com.gcp.admin_directory_v1#AuxiliaryMessageSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Message severity"
          }
        },
        "auxiliaryMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable message in English. Example: \"Given printer is invalid or no longer supported.\""
          }
        },
        "fieldMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Field that this message concerns."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Auxiliary message about issues with printers or settings. Example: {message_type:AUXILIARY_MESSAGE_WARNING, field_mask:make_and_model, message:\"Given printer is invalid or no longer supported.\"}"
      }
    },
    "com.gcp.admin_directory_v1#AuxiliaryMessageSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "SEVERITY_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_INFO"
          }
        },
        "SEVERITY_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_WARNING"
          }
        },
        "SEVERITY_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_ERROR"
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#Tokens": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the API resource. This is always `admin#directory#tokenList`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "items": {
          "target": "com.gcp.admin_directory_v1#TokenList",
          "traits": {
            "smithy.api#documentation": "A list of Token resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON response template for List tokens operation in Directory API."
      }
    },
    "com.gcp.admin_directory_v1#TokenList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_directory_v1#Token"
      }
    },
    "com.gcp.admin_directory_v1#Asps": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the API resource. This is always `admin#directory#aspList`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "items": {
          "target": "com.gcp.admin_directory_v1#AspList",
          "traits": {
            "smithy.api#documentation": "A list of ASP resources."
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#AspList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_directory_v1#Asp"
      }
    },
    "com.gcp.admin_directory_v1#BatchDeletePrintServersRequest": {
      "type": "structure",
      "members": {
        "printServerIds": {
          "target": "com.gcp.admin_directory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of print server IDs that should be deleted (max `100` per batch)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to delete multiple existing print servers in a batch."
      }
    },
    "com.gcp.admin_directory_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.admin_directory_v1#UserPhone": {
      "type": "structure",
      "members": {
        "customType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom Type."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Each entry can have a type which indicates standard types of that entry. For example phone could be of home_fax work mobile etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value."
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this is user's primary phone or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for a phone entry."
      }
    },
    "com.gcp.admin_directory_v1#DirectoryChromeosdevicesIssueCommandResponse": {
      "type": "structure",
      "members": {
        "commandId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the issued command, used to retrieve the command status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response for issuing a command."
      }
    },
    "com.gcp.admin_directory_v1#DirectoryChromeosdevicesIssueCommandRequest": {
      "type": "structure",
      "members": {
        "commandType": {
          "target": "com.gcp.admin_directory_v1#DirectoryChromeosdevicesIssueCommandRequestCommandTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of command."
          }
        },
        "payload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The payload for the command, provide it only if command supports it. The following commands support adding payload: * `SET_VOLUME`: Payload is a stringified JSON object in the form: { \"volume\": 50 }. The volume has to be an integer in the range [0,100]. * `DEVICE_START_CRD_SESSION`: Payload is optionally a stringified JSON object in the form: { \"ackedUserPresence\": true, \"crdSessionType\": string }. `ackedUserPresence` is a boolean. By default, `ackedUserPresence` is set to `false`. To start a Chrome Remote Desktop session for an active device, set `ackedUserPresence` to `true`. `crdSessionType` can only select from values `private` (which grants the remote admin exclusive control of the ChromeOS device) or `shared` (which allows the admin and the local user to share control of the ChromeOS device). If not set, `crdSessionType` defaults to `shared`. The `FETCH_CRD_AVAILABILITY_INFO` command can be used to determine available session types on the device. * `REBOOT`: Payload is a stringified JSON object in the form: { \"user_session_delay_seconds\": 300 }. The `user_session_delay_seconds` is the amount of seconds to wait before rebooting the device if a user is logged in. It has to be an integer in the range [0,300]. When payload is not present for reboot, 0 delay is the default. Note: This only applies if an actual user is logged in, including a Guest. If the device is in the login screen or in Kiosk mode the value is not respected and the device immediately reboots. * `FETCH_SUPPORT_PACKET`: Payload is optionally a stringified JSON object in the form: {\"supportPacketDetails\":{ \"issueCaseId\": optional_support_case_id_string, \"issueDescription\": optional_issue_description_string, \"requestedDataCollectors\": []}} The list of available `data_collector_enums` are as following: Chrome System Information (1), Crash IDs (2), Memory Details (3), UI Hierarchy (4), Additional ChromeOS Platform Logs (5), Device Event (6), Intel WiFi NICs Debug Dump (7), Touch Events (8), Lacros (9), Lacros System Information (10), ChromeOS Flex Logs (11), DBus Details (12), ChromeOS Network Routes (13), ChromeOS Shill (Connection Manager) Logs (14), Policies (15), ChromeOS System State and Logs (16), ChromeOS System Logs (17), ChromeOS Chrome User Logs (18), ChromeOS Bluetooth (19), ChromeOS Connected Input Devices (20), ChromeOS Traffic Counters (21), ChromeOS Virtual Keyboard (22), ChromeOS Network Health (23). See more details in [help article](https://support.google.com/chrome/a?p=remote-log)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request for issuing a command."
      }
    },
    "com.gcp.admin_directory_v1#DirectoryChromeosdevicesIssueCommandRequestCommandTypeEnum": {
      "type": "enum",
      "members": {
        "COMMAND_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_TYPE_UNSPECIFIED"
          }
        },
        "REBOOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REBOOT"
          }
        },
        "TAKE_A_SCREENSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAKE_A_SCREENSHOT"
          }
        },
        "SET_VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SET_VOLUME"
          }
        },
        "WIPE_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIPE_USERS"
          }
        },
        "REMOTE_POWERWASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOTE_POWERWASH"
          }
        },
        "DEVICE_START_CRD_SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_START_CRD_SESSION"
          }
        },
        "CAPTURE_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPTURE_LOGS"
          }
        },
        "FETCH_CRD_AVAILABILITY_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FETCH_CRD_AVAILABILITY_INFO"
          }
        },
        "FETCH_SUPPORT_PACKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FETCH_SUPPORT_PACKET"
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#ChangeChromeOsDeviceStatusResult": {
      "type": "structure",
      "members": {
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ChromeOS device."
          }
        },
        "response": {
          "target": "com.gcp.admin_directory_v1#ChangeChromeOsDeviceStatusSucceeded",
          "traits": {
            "smithy.api#documentation": "The device could change its status successfully."
          }
        },
        "error": {
          "target": "com.gcp.admin_directory_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a single ChromeOS device for a Change state operation."
      }
    },
    "com.gcp.admin_directory_v1#UserLanguage": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 639 string representation of a language. See [Language Codes](/admin-sdk/directory/v1/languages) for the list of supported codes. Valid language codes outside the supported set will be accepted by the API but may lead to unexpected behavior. Illegal values cause `SchemaException`. If this is set, `customLanguage` can't be set."
          }
        },
        "preference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present, controls whether the specified `languageCode` is the user's preferred language. If `customLanguage` is set, this can't be set. Allowed values are `preferred` and `not_preferred`."
          }
        },
        "customLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Other language. User can provide their own language name if there is no corresponding ISO 639 language code. If this is set, `languageCode` can't be set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for a language entry."
      }
    },
    "com.gcp.admin_directory_v1#BatchCreatePrintersResponse": {
      "type": "structure",
      "members": {
        "failures": {
          "target": "com.gcp.admin_directory_v1#FailureInfoList",
          "traits": {
            "smithy.api#documentation": "A list of create failures. Printer IDs are not populated, as printer were not created."
          }
        },
        "printers": {
          "target": "com.gcp.admin_directory_v1#PrinterList",
          "traits": {
            "smithy.api#documentation": "A list of successfully created printers with their IDs populated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for adding new printers in batch."
      }
    },
    "com.gcp.admin_directory_v1#FailureInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_directory_v1#FailureInfo"
      }
    },
    "com.gcp.admin_directory_v1#PrinterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_directory_v1#Printer"
      }
    },
    "com.gcp.admin_directory_v1#ChromeOsDevices": {
      "type": "structure",
      "members": {
        "chromeosdevices": {
          "target": "com.gcp.admin_directory_v1#ChromeOsDeviceList",
          "traits": {
            "smithy.api#documentation": "A list of Chrome OS Device objects."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource this is."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to access the next page of this result. To access the next page, use this token's value in the `pageToken` query string of this request."
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#ChromeOsDeviceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_directory_v1#ChromeOsDevice"
      }
    },
    "com.gcp.admin_directory_v1#UserWebsite": {
      "type": "structure",
      "members": {
        "customType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom Type."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Website."
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this is user's primary website or not."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Each entry can have a type which indicates standard types of that entry. For example website could be of home work blog etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for a website entry."
      }
    },
    "com.gcp.admin_directory_v1#UserMakeAdmin": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates the administrator status of the user."
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#UserOrganization": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the organization."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain to which the organization belongs to."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Each entry can have a type which indicates standard types of that entry. For example organization could be of school work etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a CustomType value."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title (designation) of the user in the organization."
          }
        },
        "symbol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Symbol of the organization."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the organization. This need not be fully qualified address."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the organization"
          }
        },
        "customType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom type."
          }
        },
        "department": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Department within the organization."
          }
        },
        "costCenter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cost center of the users department."
          }
        },
        "fullTimeEquivalent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The full-time equivalent millipercent within the organization (100000 = 100%)."
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If it user's primary organization."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for an organization entry."
      }
    },
    "com.gcp.admin_directory_v1#BatchCreatePrintersRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.admin_directory_v1#CreatePrinterRequestList",
          "traits": {
            "smithy.api#documentation": "A list of Printers to be created. Max 50 at a time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for adding new printers in batch."
      }
    },
    "com.gcp.admin_directory_v1#CreatePrinterRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_directory_v1#CreatePrinterRequest"
      }
    },
    "com.gcp.admin_directory_v1#BatchChangeChromeOsDeviceStatusResponse": {
      "type": "structure",
      "members": {
        "changeChromeOsDeviceStatusResults": {
          "target": "com.gcp.admin_directory_v1#ChangeChromeOsDeviceStatusResultList",
          "traits": {
            "smithy.api#documentation": "The results for each of the ChromeOS devices provided in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of changing the status of a batch of ChromeOS devices."
      }
    },
    "com.gcp.admin_directory_v1#ChangeChromeOsDeviceStatusResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_directory_v1#ChangeChromeOsDeviceStatusResult"
      }
    },
    "com.gcp.admin_directory_v1#MobileDevices": {
      "type": "structure",
      "members": {
        "mobiledevices": {
          "target": "com.gcp.admin_directory_v1#MobileDeviceList",
          "traits": {
            "smithy.api#documentation": "A list of Mobile Device objects."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource this is."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to access next page of this result."
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#MobileDeviceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_directory_v1#MobileDevice"
      }
    },
    "com.gcp.admin_directory_v1#Privileges": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the API resource. This is always `admin#directory#privileges`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "items": {
          "target": "com.gcp.admin_directory_v1#PrivilegeList",
          "traits": {
            "smithy.api#documentation": "A list of Privilege resources."
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#PrivilegeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_directory_v1#Privilege"
      }
    },
    "com.gcp.admin_directory_v1#ListPrintersResponse": {
      "type": "structure",
      "members": {
        "printers": {
          "target": "com.gcp.admin_directory_v1#PrinterList",
          "traits": {
            "smithy.api#documentation": "List of printers. If `org_unit_id` was given in the request, then only printers visible for this OU will be returned. If `org_unit_id` was not given in the request, then all printers will be returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for listing printers."
      }
    },
    "com.gcp.admin_directory_v1#Privilege": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](https://developers.google.com/workspace/admin/directory/v1/reference/privileges/list)."
          }
        },
        "isOuScopable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the privilege can be restricted to an organization unit."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the API resource. This is always `admin#directory#privilege`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the service this privilege is for."
          }
        },
        "privilegeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the privilege."
          }
        },
        "childPrivileges": {
          "target": "com.gcp.admin_directory_v1#PrivilegeList",
          "traits": {
            "smithy.api#documentation": "A list of child privileges. Privileges for a service form a tree. Each privilege can have a list of child privileges; this list is empty for a leaf privilege."
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#UserKeyword": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Each entry can have a type which indicates standard type of that entry. For example keyword could be of type occupation or outlook. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value."
          }
        },
        "customType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom Type."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Keyword."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for a keyword entry."
      }
    },
    "com.gcp.admin_directory_v1#CreatePrintServerRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The [unique ID](https://developers.google.com/workspace/admin/directory/reference/rest/v1/customers) of the customer's Google Workspace account. Format: `customers/{id}`"
          }
        },
        "printServer": {
          "target": "com.gcp.admin_directory_v1#PrintServer",
          "traits": {
            "smithy.api#documentation": "Required. A print server to create. If you want to place the print server under a specific organizational unit (OU), then populate the `org_unit_id`. Otherwise the print server is created under the root OU. The `org_unit_id` can be retrieved using the [Directory API](https://developers.google.com/workspace/admin/directory/v1/guides/manage-org-units)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for adding a new print server."
      }
    },
    "com.gcp.admin_directory_v1#UserPhoto": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID the API uses to uniquely identify the user."
          }
        },
        "primaryEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's primary email address."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of the photo. Allowed values are `JPEG`, `PNG`, `GIF`, `BMP`, `TIFF`, and web-safe base64 encoding."
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Width of the photo in pixels."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Height of the photo in pixels."
          }
        },
        "photoData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user photo's upload data in [web-safe Base64](https://en.wikipedia.org/wiki/Base64#URL_applications) format in bytes. This means: * The slash (/) character is replaced with the underscore (_) character. * The plus sign (+) character is replaced with the hyphen (-) character. * The equals sign (=) character is replaced with the asterisk (*). * For padding, the period (.) character is used instead of the RFC-4648 baseURL definition which uses the equals sign (=) for padding. This is done to simplify URL-parsing. * Whatever the size of the photo being uploaded, the API downsizes it to 96x96 pixels."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the API resource. For Photo resources, this is `admin#directory#user#photo`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#Domains2": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.gcp.admin_directory_v1#DomainsList",
          "traits": {
            "smithy.api#documentation": "A list of domain objects."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource this is."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#DomainsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_directory_v1#Domains"
      }
    },
    "com.gcp.admin_directory_v1#MobileDeviceAction": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The action to be performed on the device."
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#User": {
      "type": "structure",
      "members": {
        "isGuestUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Immutable. Indicates if the inserted user is a guest."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID for the user. A user `id` can be used as a user request URI's `userKey`."
          }
        },
        "isEnrolledIn2Sv": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Is enrolled in 2-step verification (Read-only)"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's password"
          }
        },
        "nonEditableAliases": {
          "target": "com.gcp.admin_directory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of the user's non-editable alias email addresses. These are typically outside the account's primary domain or sub-domain."
          }
        },
        "orgUnitPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full path of the parent organization associated with the user. If the parent organization is the top-level, it is represented as a forward slash (`/`)."
          }
        },
        "languages": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The user's languages. The maximum allowed data size for this field is 1KB."
          }
        },
        "locations": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The user's locations. The maximum allowed data size for this field is 10KB."
          }
        },
        "keywords": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The list of the user's keywords. The maximum allowed data size for this field is 1KB."
          }
        },
        "aliases": {
          "target": "com.gcp.admin_directory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of the user's alias email addresses."
          }
        },
        "suspensionReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Has the reason a user account is suspended either by the administrator or by Google at the time of suspension. The property is returned only if the `suspended` property is `true`."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the API resource. For Users resources, the value is `admin#directory#user`."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if user is archived."
          }
        },
        "lastLoginTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's last login time. (Read-only)"
          }
        },
        "guestAccountInfo": {
          "target": "com.gcp.admin_directory_v1#GuestAccountInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. Additional guest-related metadata fields"
          }
        },
        "thumbnailPhotoEtag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ETag of the user's photo (Read-only)"
          }
        },
        "relations": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The list of the user's relationships to other users. The maximum allowed data size for this field is 2KB."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ETag of the resource."
          }
        },
        "thumbnailPhotoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL of the user's profile photo. The URL might be temporary or private."
          }
        },
        "sshPublicKeys": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A list of SSH public keys."
          }
        },
        "changePasswordAtNextLogin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the user is forced to change their password at next login. This setting doesn't apply when [the user signs in via a third-party identity provider](https://support.google.com/a/answer/60224)."
          }
        },
        "name": {
          "target": "com.gcp.admin_directory_v1#UserName",
          "traits": {
            "smithy.api#documentation": "Holds the given and family names of the user, and the read-only `fullName` value. The maximum number of characters in the `givenName` and in the `familyName` values is 60. In addition, name values support unicode/UTF-8 characters, and can contain spaces, letters (a-z), numbers (0-9), dashes (-), forward slashes (/), and periods (.). For more information about character usage rules, see the [administration help center](https://support.google.com/a/answer/9193374). Maximum allowed data size for this field is 1KB."
          }
        },
        "deletionTime": {
          "target": "smithy.api#String"
        },
        "customSchemas": {
          "target": "com.gcp.admin_directory_v1#UserCustomPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Custom fields of the user. The key is a `schema_name` and its values are `'field_name': 'field_value'`."
          }
        },
        "includeInGlobalAddressList": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the user's profile is visible in the Google Workspace global address list when the contact sharing feature is enabled for the domain. For more information about excluding user profiles, see the [administration help center](https://support.google.com/a/answer/1285988)."
          }
        },
        "recoveryPhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recovery phone of the user. The phone number must be in the E.164 format, starting with the plus sign (+). Example: *+16506661212*."
          }
        },
        "recoveryEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recovery email of the user."
          }
        },
        "suspensionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. User's account suspension time. (Read-only)"
          }
        },
        "hashFunction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stores the hash format of the `password` property. The following `hashFunction` values are allowed: * `MD5` - Accepts simple hex-encoded values. * `SHA-1` - Accepts simple hex-encoded values. * `crypt` - Compliant with the [C crypt library](https://en.wikipedia.org/wiki/Crypt_%28C%29). Supports the DES, MD5 (hash prefix `$1$`), SHA-256 (hash prefix `$5$`), and SHA-512 (hash prefix `$6$`) hash algorithms. If rounds are specified as part of the prefix, they must be 10,000 or fewer."
          }
        },
        "isDelegatedAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if the user is a delegated administrator. Delegated administrators are supported by the API but cannot create or undelete users, or make users administrators. These requests are ignored by the API service. Roles and privileges for administrators are assigned using the [Admin console](https://support.google.com/a/answer/33325)."
          }
        },
        "emails": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The list of the user's email addresses. The maximum allowed data size for this field is 10KB. This excludes `publicKeyEncryptionCertificates`."
          }
        },
        "organizations": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The list of organizations the user belongs to. The maximum allowed data size for this field is 10KB."
          }
        },
        "posixAccounts": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The list of [POSIX](https://www.opengroup.org/austin/papers/posix_faq.html) account information for the user."
          }
        },
        "ims": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The list of the user's Instant Messenger (IM) accounts. A user account can have multiple ims properties. But, only one of these ims properties can be the primary IM contact. The maximum allowed data size for this field is 2KB."
          }
        },
        "isAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates a user with super administrator privileges. The `isAdmin` property can only be edited in the [Make a user an administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#make_admin) operation ( [makeAdmin](https://developers.google.com/workspace/admin/directory/v1/reference/users/makeAdmin.html) method). If edited in the user [insert](https://developers.google.com/workspace/admin/directory/v1/reference/users/insert.html) or [update](https://developers.google.com/workspace/admin/directory/v1/reference/users/update.html) methods, the edit is ignored by the API service."
          }
        },
        "primaryEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's primary email address. This property is required in a request to create a user account. The `primaryEmail` must be unique and cannot be an alias of another user."
          }
        },
        "archivalTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. User's account archival time. (Read-only)"
          }
        },
        "phones": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The list of the user's phone numbers. The maximum allowed data size for this field is 1KB."
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The customer ID to [retrieve all account users](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#get_all_users). You can use the alias `my_customer` to represent your account's `customerId`. As a reseller administrator, you can use the resold customer account's `customerId`. To get a `customerId`, use the account's primary domain in the `domain` parameter of a [users.list](https://developers.google.com/workspace/admin/directory/v1/reference/users/list) request."
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if user is suspended."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's G Suite account creation time. (Read-only)"
          }
        },
        "notes": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notes for the user."
          }
        },
        "addresses": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The list of the user's addresses. The maximum allowed data size for this field is 10KB."
          }
        },
        "externalIds": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The list of external IDs for the user, such as an employee or network ID. The maximum allowed data size for this field is 2KB."
          }
        },
        "isMailboxSetup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if the user's Google mailbox is created. This property is only applicable if the user has been assigned a Gmail license."
          }
        },
        "agreedToTerms": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. This property is `true` if the user has completed an initial login and accepted the Terms of Service agreement."
          }
        },
        "gender": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The user's gender. The maximum allowed data size for this field is 1KB."
          }
        },
        "ipWhitelisted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `true`, the user's IP address is subject to a deprecated IP address [`allowlist`](https://support.google.com/a/answer/60752) configuration."
          }
        },
        "websites": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The user's websites. The maximum allowed data size for this field is 2KB."
          }
        },
        "isEnforcedIn2Sv": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Is 2-step verification enforced (Read-only)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Directory API allows you to create and manage your account's users, user aliases, and user Google profile photos. For more information about common tasks, see the [User Accounts Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html) and the [User Aliases Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-user-aliases.html)."
      }
    },
    "com.gcp.admin_directory_v1#UserCustomPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.admin_directory_v1#UserCustomProperties"
      }
    },
    "com.gcp.admin_directory_v1#DomainAlias": {
      "type": "structure",
      "members": {
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates the verification state of a domain alias. (Read-only)"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource this is."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "parentDomainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent domain name that the domain alias is associated with. This can either be a primary or secondary domain name within a customer."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of the domain alias. (Read-only)."
          }
        },
        "domainAliasName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain alias name."
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#ChromeOsDeviceAction": {
      "type": "structure",
      "members": {
        "deprovisionReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only used when the action is `deprovision`. With the `deprovision` action, this field is required. *Note*: The deprovision reason is audited because it might have implications on licenses for perpetual subscription customers."
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action to be taken on the Chrome OS device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data about an update to the status of a Chrome OS device."
      }
    },
    "com.gcp.admin_directory_v1#UserIm": {
      "type": "structure",
      "members": {
        "customType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom type."
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Protocol used in the instant messenger. It should be one of the values from ImProtocolTypes map. Similar to type it can take a CUSTOM value and specify the custom name in customProtocol field."
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this is user's primary im. Only one entry could be marked as primary."
          }
        },
        "im": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instant messenger id."
          }
        },
        "customProtocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom protocol."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Each entry can have a type which indicates standard types of that entry. For example instant messengers could be of home work etc. In addition to the standard type an entry can have a custom type and can take any value. Such types should have the CUSTOM value as type and also have a customType value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for instant messenger of an user."
      }
    },
    "com.gcp.admin_directory_v1#MembersHasMember": {
      "type": "structure",
      "members": {
        "isMember": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the given user is a member of the group. Membership can be direct or nested."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for Has Member response in Directory API."
      }
    },
    "com.gcp.admin_directory_v1#Asp": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the API resource. This is always `admin#directory#asp`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the ASP."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the application that the user, represented by their `userId`, entered when the ASP was created."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the ASP was created. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format."
          }
        },
        "userKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the user who issued the ASP."
          }
        },
        "lastTimeUsed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the ASP was last used. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format."
          }
        },
        "codeId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ASP."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An application-specific password (ASP) is used with applications that do not accept a verification code when logging into the application on certain devices. The ASP access code is used instead of the login and password you commonly use when accessing an application through a browser. For more information about ASPs and how to create one, see the [help center](https://support.google.com/a/answer/2537800#asp)."
      }
    },
    "com.gcp.admin_directory_v1#FeatureInstance": {
      "type": "structure",
      "members": {
        "feature": {
          "target": "com.gcp.admin_directory_v1#Feature",
          "traits": {
            "smithy.api#documentation": "The feature that this is an instance of. A calendar resource may have multiple instances of a feature."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for a feature instance."
      }
    },
    "com.gcp.admin_directory_v1#Users": {
      "type": "structure",
      "members": {
        "trigger_event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event that triggered this response (only used in case of Push Response)"
          }
        },
        "users": {
          "target": "com.gcp.admin_directory_v1#UserList",
          "traits": {
            "smithy.api#documentation": "A list of user objects."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource this is."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to access next page of this result. The page token is only valid for three days."
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#UserList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_directory_v1#User"
      }
    },
    "com.gcp.admin_directory_v1#UserAlias": {
      "type": "structure",
      "members": {
        "primaryEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's primary email address."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID for the user."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alias email address."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Directory API manages aliases, which are alternative email addresses."
      }
    },
    "com.gcp.admin_directory_v1#VerificationCodes": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. This is always `admin#directory#verificationCodesList`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "items": {
          "target": "com.gcp.admin_directory_v1#VerificationCodeList",
          "traits": {
            "smithy.api#documentation": "A list of verification code resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON response template for list verification codes operation in Directory API."
      }
    },
    "com.gcp.admin_directory_v1#VerificationCodeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_directory_v1#VerificationCode"
      }
    },
    "com.gcp.admin_directory_v1#Alias": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String"
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "primaryEmail": {
          "target": "smithy.api#String"
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for Alias object in Directory API."
      }
    },
    "com.gcp.admin_directory_v1#BatchChangeChromeOsDeviceStatusRequest": {
      "type": "structure",
      "members": {
        "deviceIds": {
          "target": "com.gcp.admin_directory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of the IDs of the ChromeOS devices to change. Maximum 50."
          }
        },
        "changeChromeOsDeviceStatusAction": {
          "target": "com.gcp.admin_directory_v1#BatchChangeChromeOsDeviceStatusRequestChangeChromeOsDeviceStatusActionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The action to take on the ChromeOS device in order to change its status."
          }
        },
        "deprovisionReason": {
          "target": "com.gcp.admin_directory_v1#BatchChangeChromeOsDeviceStatusRequestDeprovisionReasonEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The reason behind a device deprovision. Must be provided if 'changeChromeOsDeviceStatusAction' is set to 'CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DEPROVISION'. Otherwise, omit this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request for changing the status of a batch of ChromeOS devices."
      }
    },
    "com.gcp.admin_directory_v1#BatchChangeChromeOsDeviceStatusRequestChangeChromeOsDeviceStatusActionEnum": {
      "type": "enum",
      "members": {
        "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_UNSPECIFIED"
          }
        },
        "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DEPROVISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DEPROVISION"
          }
        },
        "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DISABLE"
          }
        },
        "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_REENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_REENABLE"
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#BatchChangeChromeOsDeviceStatusRequestDeprovisionReasonEnum": {
      "type": "enum",
      "members": {
        "DEPROVISION_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISION_REASON_UNSPECIFIED"
          }
        },
        "DEPROVISION_REASON_SAME_MODEL_REPLACEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISION_REASON_SAME_MODEL_REPLACEMENT"
          }
        },
        "DEPROVISION_REASON_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISION_REASON_UPGRADE"
          }
        },
        "DEPROVISION_REASON_DOMAIN_MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISION_REASON_DOMAIN_MOVE"
          }
        },
        "DEPROVISION_REASON_SERVICE_EXPIRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISION_REASON_SERVICE_EXPIRATION"
          }
        },
        "DEPROVISION_REASON_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISION_REASON_OTHER"
          }
        },
        "DEPROVISION_REASON_DIFFERENT_MODEL_REPLACEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISION_REASON_DIFFERENT_MODEL_REPLACEMENT"
          }
        },
        "DEPROVISION_REASON_RETIRING_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISION_REASON_RETIRING_DEVICE"
          }
        },
        "DEPROVISION_REASON_UPGRADE_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISION_REASON_UPGRADE_TRANSFER"
          }
        },
        "DEPROVISION_REASON_NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISION_REASON_NOT_REQUIRED"
          }
        },
        "DEPROVISION_REASON_REPAIR_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISION_REASON_REPAIR_CENTER"
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#UserUndelete": {
      "type": "structure",
      "members": {
        "orgUnitPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OrgUnit of User"
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#CustomerPostalAddress": {
      "type": "structure",
      "members": {
        "contactName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer contact's name."
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The postal code. A postalCode example is a postal zip code such as `10009`. This is in accordance with - http: //portablecontacts.net/draft-spec.html#address_element."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company or company division name."
          }
        },
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a required property. For `countryCode` information see the [ISO 3166 country code elements](https://www.iso.org/iso/country_codes.htm)."
          }
        },
        "addressLine1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A customer's physical address. The address can be composed of one to three lines."
          }
        },
        "addressLine3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address line 3 of the address."
          }
        },
        "locality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the locality. An example of a locality value is the city of `San Francisco`."
          }
        },
        "addressLine2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address line 2 of the address."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the region. An example of a region value is `NY` for the state of New York."
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#DirectoryChromeosdevicesCommandResult": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.gcp.admin_directory_v1#DirectoryChromeosdevicesCommandResultResultEnum",
          "traits": {
            "smithy.api#documentation": "The result of the command."
          }
        },
        "executeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the command was executed or failed to execute."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message with a short explanation as to why the command failed. Only present if the command failed."
          }
        },
        "commandResultPayload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The payload for the command result. The following commands respond with a payload: * `DEVICE_START_CRD_SESSION`: Payload is a stringified JSON object in the form: { \"url\": url }. The provided URL links to the Chrome Remote Desktop session and requires authentication using only the `email` associated with the command's issuance. * `FETCH_CRD_AVAILABILITY_INFO`: Payload is a stringified JSON object in the form: { \"deviceIdleTimeInSeconds\": number, \"userSessionType\": string, \"remoteSupportAvailability\": string, \"remoteAccessAvailability\": string }. The \"remoteSupportAvailability\" field is set to \"AVAILABLE\" if `shared` CRD session to the device is available. The \"remoteAccessAvailability\" field is set to \"AVAILABLE\" if `private` CRD session to the device is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of executing a command."
      }
    },
    "com.gcp.admin_directory_v1#DirectoryChromeosdevicesCommandResultResultEnum": {
      "type": "enum",
      "members": {
        "COMMAND_RESULT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_RESULT_TYPE_UNSPECIFIED"
          }
        },
        "IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IGNORED"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#Token": {
      "type": "structure",
      "members": {
        "anonymous": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the application is registered with Google. The value is `true` if the application has an anonymous Client ID."
          }
        },
        "nativeApp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the token is issued to an installed application. The value is `true` if the application is installed to a desktop or mobile device."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the API resource. This is always `admin#directory#token`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "displayText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The displayable name of the application the token is issued to."
          }
        },
        "userKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the user that issued the token."
          }
        },
        "scopes": {
          "target": "com.gcp.admin_directory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of authorization scopes the application is granted."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Client ID of the application the token is issued to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for token resource in Directory API."
      }
    },
    "com.gcp.admin_directory_v1#Features": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource this is."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
          }
        },
        "features": {
          "target": "com.gcp.admin_directory_v1#FeatureList",
          "traits": {
            "smithy.api#documentation": "The Features in this page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public API: Resources.features"
      }
    },
    "com.gcp.admin_directory_v1#FeatureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_directory_v1#Feature"
      }
    },
    "com.gcp.admin_directory_v1#Members": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource this is."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to access next page of this result."
          }
        },
        "members": {
          "target": "com.gcp.admin_directory_v1#MemberList",
          "traits": {
            "smithy.api#documentation": "A list of member objects."
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#MemberList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_directory_v1#Member"
      }
    },
    "com.gcp.admin_directory_v1#UserName": {
      "type": "structure",
      "members": {
        "familyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's last name. Required when creating a user account."
          }
        },
        "givenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's first name. Required when creating a user account."
          }
        },
        "fullName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's full name formed by concatenating the first and last name values."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's display name. Limit: 256 characters."
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#Aliases": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String"
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "aliases": {
          "target": "com.gcp.admin_directory_v1#DocumentList"
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON response template to list aliases in Directory API."
      }
    },
    "com.gcp.admin_directory_v1#DocumentList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.admin_directory_v1#Building": {
      "type": "structure",
      "members": {
        "etags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A brief description of the building. For example, \"Chelsea Market\"."
          }
        },
        "buildingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the building. The maximum length is 100 characters."
          }
        },
        "buildingName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The building name as seen by users in Calendar. Must be unique for the customer. For example, \"NYC-CHEL\". The maximum length is 100 characters."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource this is."
          }
        },
        "coordinates": {
          "target": "com.gcp.admin_directory_v1#BuildingCoordinates",
          "traits": {
            "smithy.api#documentation": "The geographic coordinates of the center of the building, expressed as latitude and longitude in decimal degrees."
          }
        },
        "floorNames": {
          "target": "com.gcp.admin_directory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The display names for all floors in this building. The floors are expected to be sorted in ascending order, from lowest floor to highest floor. For example, [\"B2\", \"B1\", \"L\", \"1\", \"2\", \"2M\", \"3\", \"PH\"] Must contain at least one entry."
          }
        },
        "address": {
          "target": "com.gcp.admin_directory_v1#BuildingAddress",
          "traits": {
            "smithy.api#documentation": "The postal address of the building. See [`PostalAddress`](/my-business/reference/rest/v4/PostalAddress) for details. Note that only a single address line and region code are required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public API: Resources.buildings"
      }
    },
    "com.gcp.admin_directory_v1#SchemaFieldSpec": {
      "type": "structure",
      "members": {
        "fieldName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the field."
          }
        },
        "multiValued": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean specifying whether this is a multi-valued field or not. Default: `false`."
          }
        },
        "numericIndexingSpec": {
          "target": "com.gcp.admin_directory_v1#SchemaFieldSpecNumericIndexingSpec",
          "traits": {
            "smithy.api#documentation": "Indexing spec for a numeric field. By default, only exact match queries will be supported for numeric fields. Setting the `numericIndexingSpec` allows range queries to be supported."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of resource this is. For schema fields this is always `admin#directory#schema#fieldspec`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the field."
          }
        },
        "readAccessType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies who can view values of this field. See [Retrieve users as a non-administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#retrieve_users_non_admin) for more information. Note: It may take up to 24 hours for changes to this field to be reflected."
          }
        },
        "indexed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean specifying whether the field is indexed or not. Default: `true`."
          }
        },
        "fieldType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the field."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display Name of the field."
          }
        },
        "fieldId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the field (Read-only)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "You can use schemas to add custom fields to user profiles. You can use these fields to store information such as the projects your users work on, their physical locations, their hire dates, or whatever else fits your business needs. For more information, see [Custom User Fields](https://developers.google.com/workspace/admin/directory/v1/guides/manage-schemas)."
      }
    },
    "com.gcp.admin_directory_v1#SchemaFieldSpecNumericIndexingSpec": {
      "type": "structure",
      "members": {
        "minValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant."
          }
        },
        "maxValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant."
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.admin_directory_v1#UserPosixAccount": {
      "type": "structure",
      "members": {
        "shell": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the login shell for this account."
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this is user's primary account within the SystemId."
          }
        },
        "gecos": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GECOS (user information) for this account."
          }
        },
        "homeDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the home directory for this account."
          }
        },
        "operatingSystemType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operating system type for this account."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A POSIX account field identifier."
          }
        },
        "gid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default group ID."
          }
        },
        "systemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System identifier for which account Username or Uid apply to."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The POSIX compliant user ID."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username of the account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for a POSIX account entry."
      }
    },
    "com.gcp.admin_directory_v1#OrgUnit": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the organizational unit."
          }
        },
        "blockInheritance": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field is deprecated and setting its value has no effect."
          }
        },
        "orgUnitPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full path to the organizational unit. The `orgUnitPath` is a derived property. When listed, it is derived from `parentOrgunitPath` and organizational unit's `name`. For example, for an organizational unit named 'apps' under parent organization '/engineering', the orgUnitPath is '/engineering/apps'. In order to edit an `orgUnitPath`, either update the name of the organization or the `parentOrgunitPath`. A user's organizational unit determines which Google Workspace services the user has access to. If the user is moved to a new organization, the user's access changes. For more information about organization structures, see the [administration help center](https://support.google.com/a/answer/4352075). For more information about moving a user to a different organization, see [Update a user](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#update_user)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organizational unit's path name. For example, an organizational unit's name within the /corp/support/sales_support parent path is sales_support. Required."
          }
        },
        "parentOrgUnitPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organizational unit's parent path. For example, /corp/sales is the parent path for /corp/sales/sales_support organizational unit. Required, unless `parentOrgUnitId` is set."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the API resource. For Orgunits resources, the value is `admin#directory#orgUnit`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "orgUnitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the organizational unit."
          }
        },
        "parentOrgUnitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the parent organizational unit. Required, unless `parentOrgUnitPath` is set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managing your account's organizational units allows you to configure your users' access to services and custom settings. For more information about common organizational unit tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-org-units.html). The customer's organizational unit hierarchy is limited to 35 levels of depth."
      }
    },
    "com.gcp.admin_directory_v1#ChangeChromeOsDeviceStatusSucceeded": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for a successful ChromeOS device status change."
      }
    },
    "com.gcp.admin_directory_v1#GuestAccountInfo": {
      "type": "structure",
      "members": {
        "primaryGuestEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The guest's external email."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Account info specific to Guest users."
      }
    },
    "com.gcp.admin_directory_v1#Domains": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource this is."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "isPrimary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the domain is a primary domain (Read-only)."
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates the verification state of a domain. (Read-only)."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the domain. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format. (Read-only)."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name of the customer."
          }
        },
        "domainAliases": {
          "target": "com.gcp.admin_directory_v1#DomainAliasList",
          "traits": {
            "smithy.api#documentation": "A list of domain alias objects. (Read-only)"
          }
        }
      }
    },
    "com.gcp.admin_directory_v1#DomainAliasList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admin_directory_v1#DomainAlias"
      }
    },
    "com.gcp.admin_directory_v1#FanInfo": {
      "type": "structure",
      "members": {
        "speedRpm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Fan speed in RPM."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the device's fan."
      }
    },
    "com.gcp.admin_directory_v1#MobileDevice": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of mobile device."
          }
        },
        "buildNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device's operating system build number."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device's serial number."
          }
        },
        "name": {
          "target": "com.gcp.admin_directory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of the owner's user names. If your application needs the current list of device owner names, use the [get](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/get.html) method. For more information about retrieving mobile device user information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#get_user)."
          }
        },
        "kernelVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device's kernel version."
          }
        },
        "releaseVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mobile Device release version version (Read-only)"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device's status."
          }
        },
        "securityPatchLevel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mobile Device Security patch level (Read-only)"
          }
        },
        "wifiMacAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device's MAC address on Wi-Fi networks."
          }
        },
        "applications": {
          "target": "com.gcp.admin_directory_v1#MobileDeviceApplicationsItemList",
          "traits": {
            "smithy.api#documentation": "The list of applications installed on an Android mobile device. It is not applicable to Google Sync and iOS devices. The list includes any Android applications that access Google Workspace data. When updating an applications list, it is important to note that updates replace the existing list. If the Android device has two existing applications and the API updates the list with five applications, the is now the updated list of five applications."
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The serial number for a Google Sync mobile device. For Android and iOS devices, this is a software generated unique identifier."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "privilege": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DMAgentPermission (Read-only)"
          }
        },
        "deviceCompromisedStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The compromised device status."
          }
        },
        "unknownSourcesStatus": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Unknown sources enabled or disabled on device (Read-only)"
          }
        },
        "devicePasswordStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DevicePasswordStatus (Read-only)"
          }
        },
        "managedAccountIsOnOwnerProfile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean indicating if this account is on owner/primary profile or not."
          }
        },
        "networkOperator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mobile Device mobile or network operator (if available) (Read-only)"
          }
        },
        "manufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mobile Device manufacturer (Read-only)"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the API resource. For Mobiledevices resources, the value is `admin#directory#mobiledevice`."
          }
        },
        "userAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gives information about the device such as `os` version. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile-devices#update_mobile_device)."
          }
        },
        "email": {
          "target": "com.gcp.admin_directory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of the owner's email addresses. If your application needs the current list of user emails, use the [get](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/get.html) method. For additional information, see the [retrieve a user](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#get_user) method."
          }
        },
        "developerOptionsStatus": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Developer options enabled or disabled on device (Read-only)"
          }
        },
        "basebandVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device's baseband version."
          }
        },
        "os": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mobile device's operating system, for example IOS 4.3 or Android 2.3.5. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile-devices#update_mobile_device)."
          }
        },
        "firstSync": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date and time the device was first synchronized with the policy settings in the G Suite administrator control panel (Read-only)"
          }
        },
        "supportsWorkProfile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Work profile supported on device (Read-only)"
          }
        },
        "adbStatus": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Adb (USB debugging) enabled or disabled on device (Read-only)"
          }
        },
        "encryptionStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mobile Device Encryption Status (Read-only)"
          }
        },
        "imei": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device's IMEI number."
          }
        },
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mobile Device Brand (Read-only)"
          }
        },
        "bootloaderVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mobile Device Bootloader version (Read-only)"
          }
        },
        "lastSync": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)"
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID the API service uses to identify the mobile device."
          }
        },
        "defaultLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default locale used on the device."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mobile device's model name, for example Nexus S. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile=devices#update_mobile_device)."
          }
        },
        "otherAccountsInfo": {
          "target": "com.gcp.admin_directory_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of accounts added on device (Read-only)"
          }
        },
        "hardwareId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IMEI/MEID unique identifier for Android hardware. It is not applicable to Google Sync devices. When adding an Android mobile device, this is an optional property. When updating one of these devices, this is a read-only property."
          }
        },
        "meid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device's MEID number."
          }
        },
        "hardware": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mobile Device Hardware (Read-only)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google Workspace Mobile Management includes Android, [Google Sync](https://support.google.com/a/answer/135937), and iOS devices. For more information about common group mobile device API tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile-devices.html)."
      }
    },
    "com.gcp.admin_directory_v1#MobileDeviceApplicationsItem": {
      "type": "structure",
      "members": {
        "versionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application's version name. An example is `3.2-140714`."
          }
        },
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application's package name. An example is `com.android.browser`."
          }
        },
        "versionCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The application's version code. An example is `13`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
[...]
