{
  "smithy": "2.0",
  "metadata": {
    "service": "admob",
    "version": "v1beta",
    "title": "AdMob API",
    "baseUrl": "https://admob.googleapis.com/"
  },
  "shapes": {
    "com.gcp.admob_v1beta#ListAdUnitMappingsResponse": {
      "type": "structure",
      "members": {
        "adUnitMappings": {
          "target": "com.gcp.admob_v1beta#AdUnitMappingList",
          "traits": {
            "smithy.api#documentation": "The ad unit mappings from the specified account and ad unit."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used to set the `page_token` in the `ListAdUnitMappingsRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the ListAdUnitMappingsRequest."
      }
    },
    "com.gcp.admob_v1beta#AdUnitMappingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#AdUnitMapping"
      }
    },
    "com.gcp.admob_v1beta#BatchCreateAdUnitMappingsResponse": {
      "type": "structure",
      "members": {
        "adUnitMappings": {
          "target": "com.gcp.admob_v1beta#AdUnitMappingList",
          "traits": {
            "smithy.api#documentation": "The Ad units mappings created under the requested account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing a batch of created ad unit mappings."
      }
    },
    "com.gcp.admob_v1beta#AdSource": {
      "type": "structure",
      "members": {
        "adSourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this ad source."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of this ad source."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of this ad source. Format is: accounts/{publisher_id}/adSources/{ad_source_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of a mediation ad source."
      }
    },
    "com.gcp.admob_v1beta#ReportHeader": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.gcp.admob_v1beta#DateRange",
          "traits": {
            "smithy.api#documentation": "The date range for which the report is generated. This is identical to the range specified in the report request."
          }
        },
        "localizationSettings": {
          "target": "com.gcp.admob_v1beta#LocalizationSettings",
          "traits": {
            "smithy.api#documentation": "Localization settings of the report. This is identical to the settings in the report request."
          }
        },
        "reportingTimeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The report time zone. The value is a time-zone ID as specified by the CLDR project, for example, \"America/Los_Angeles\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Groups data helps to treat the generated report. Always sent as a first message in the stream response."
      }
    },
    "com.gcp.admob_v1beta#GenerateMediationReportResponse": {
      "type": "structure",
      "members": {
        "header": {
          "target": "com.gcp.admob_v1beta#ReportHeader",
          "traits": {
            "smithy.api#documentation": "Report generation settings that describes the report contents, such as the report date range and localization settings."
          }
        },
        "footer": {
          "target": "com.gcp.admob_v1beta#ReportFooter",
          "traits": {
            "smithy.api#documentation": "Additional information about the generated report, such as warnings about the data."
          }
        },
        "row": {
          "target": "com.gcp.admob_v1beta#ReportRow",
          "traits": {
            "smithy.api#documentation": "Actual report data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The streaming response for the AdMob Mediation report where the first response contains the report header, then a stream of row responses, and finally a footer as the last response message. For example: [{ \"header\": { \"date_range\": { \"start_date\": {\"year\": 2018, \"month\": 9, \"day\": 1}, \"end_date\": {\"year\": 2018, \"month\": 9, \"day\": 1} }, \"localization_settings\": { \"currency_code\": \"USD\", \"language_code\": \"en-US\" } } }, { \"row\": { \"dimension_values\": { \"DATE\": {\"value\": \"20180918\"}, \"APP\": { \"value\": \"ca-app-pub-8123415297019784~1001342552\", \"display_label\": \"My app name!\" } }, \"metric_values\": { \"ESTIMATED_EARNINGS\": {\"decimal_value\": \"1324746\"} } } }, { \"footer\": {\"matching_row_count\": 1} }]"
      }
    },
    "com.gcp.admob_v1beta#GenerateCampaignReportResponse": {
      "type": "structure",
      "members": {
        "rows": {
          "target": "com.gcp.admob_v1beta#ReportRowList",
          "traits": {
            "smithy.api#documentation": "The campaign report data from the specified publisher. At most 100000 rows will be returned from the API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Campaign Report API response."
      }
    },
    "com.gcp.admob_v1beta#ReportRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#ReportRow"
      }
    },
    "com.gcp.admob_v1beta#AppManualAppInfo": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the app as shown in the AdMob UI, which is provided by the user. The maximum length allowed is 80 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information provided for manual apps which are not linked to an application store (Example: Google Play, App Store)."
      }
    },
    "com.gcp.admob_v1beta#ReportRow": {
      "type": "structure",
      "members": {
        "metricValues": {
          "target": "com.gcp.admob_v1beta#ReportRowMetricValueMap",
          "traits": {
            "smithy.api#documentation": "Map of metric values in a row, with keys as enum name of the metrics. If a metric being requested has no value returned, the map will not include it."
          }
        },
        "dimensionValues": {
          "target": "com.gcp.admob_v1beta#ReportRowDimensionValueMap",
          "traits": {
            "smithy.api#documentation": "Map of dimension values in a row, with keys as enum name of the dimensions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A row of the returning report."
      }
    },
    "com.gcp.admob_v1beta#ReportRowMetricValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.admob_v1beta#ReportRowMetricValue"
      }
    },
    "com.gcp.admob_v1beta#ReportRowDimensionValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.admob_v1beta#ReportRowDimensionValue"
      }
    },
    "com.gcp.admob_v1beta#ListAppsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not empty, indicates that there may be more apps for the request; this value should be passed in a new `ListAppsRequest`."
          }
        },
        "apps": {
          "target": "com.gcp.admob_v1beta#AppList",
          "traits": {
            "smithy.api#documentation": "The resulting apps for the requested account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the apps list request."
      }
    },
    "com.gcp.admob_v1beta#AppList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#App"
      }
    },
    "com.gcp.admob_v1beta#MediationReportSpecDimensionFilter": {
      "type": "structure",
      "members": {
        "matchesAny": {
          "target": "com.gcp.admob_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Matches a row if its value for the specified dimension is in one of the values specified in this condition."
          }
        },
        "dimension": {
          "target": "com.gcp.admob_v1beta#MediationReportSpecDimensionFilterDimensionEnum",
          "traits": {
            "smithy.api#documentation": "Applies the filter criterion to the specified dimension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes which report rows to match based on their dimension values."
      }
    },
    "com.gcp.admob_v1beta#MediationReportSpecDimensionFilterDimensionEnum": {
      "type": "enum",
      "members": {
        "DIMENSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIMENSION_UNSPECIFIED"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTH"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK"
          }
        },
        "AD_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_SOURCE"
          }
        },
        "AD_SOURCE_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_SOURCE_INSTANCE"
          }
        },
        "AD_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_UNIT"
          }
        },
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP"
          }
        },
        "MEDIATION_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIATION_GROUP"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY"
          }
        },
        "FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORMAT"
          }
        },
        "PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM"
          }
        },
        "MOBILE_OS_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_OS_VERSION"
          }
        },
        "GMA_SDK_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMA_SDK_VERSION"
          }
        },
        "APP_VERSION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_VERSION_NAME"
          }
        },
        "SERVING_RESTRICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING_RESTRICTION"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#CreateAdUnitMappingRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent which owns the ad unit mapping. Format: accounts/{publisher_id}/adUnits/{ad_unit_id}"
          }
        },
        "adUnitMapping": {
          "target": "com.gcp.admob_v1beta#AdUnitMapping",
          "traits": {
            "smithy.api#documentation": "Required. The ad unit mapping to create."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to create an ad unit mapping under the specific AdMob account and ad unit."
      }
    },
    "com.gcp.admob_v1beta#MediationGroupTargeting": {
      "type": "structure",
      "members": {
        "targetedRegionCodes": {
          "target": "com.gcp.admob_v1beta#StringList_",
          "traits": {
            "smithy.api#documentation": "The Unicode country/region code (CLDR) of a location, such as \"US\". Unset if this mediation group targets all available regions. For more information, see http://www.unicode.org/reports/tr35/#unicode_region_subtag."
          }
        },
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ad format targeted by this mediation group. Examples: \"BANNER\", \"NATIVE\"."
          }
        },
        "adUnitIds": {
          "target": "com.gcp.admob_v1beta#StringList_",
          "traits": {
            "smithy.api#documentation": "Ad units targeted by this mediation group. Example: \"ca-app-pub-1234/8790\"."
          }
        },
        "excludedRegionCodes": {
          "target": "com.gcp.admob_v1beta#StringList_",
          "traits": {
            "smithy.api#documentation": "The Unicode country/region code (CLDR) of a location, such as \"US\". Unset if this mediation group does not exclude any region."
          }
        },
        "idfaTargeting": {
          "target": "com.gcp.admob_v1beta#MediationGroupTargetingIdfaTargetingEnum",
          "traits": {
            "smithy.api#documentation": "The parameter can be used to target ad requests based on the availability of the IDFA. If set to ALL, the mediation group applies to all ad requests (with or without IDFA). If set to AVAILABLE, the mediation group applies to ad requests with IDFA. If set to NOT_AVAILABLE, the mediation group applies to ad requests without IDFA. Doesn't need to be specified for an ANDROID device."
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes the platform of the app. Examples: \"IOS\", \"ANDROID\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set of criteria targeted by this mediation group. For example, a mediation group can target specific ad unit IDs, platform, format and geo location."
      }
    },
    "com.gcp.admob_v1beta#StringList_": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.admob_v1beta#MediationGroupTargetingIdfaTargetingEnum": {
      "type": "enum",
      "members": {
        "IDFA_TARGETING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDFA_TARGETING_UNSPECIFIED"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_AVAILABLE"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#StringList": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.admob_v1beta#StringList_",
          "traits": {
            "smithy.api#documentation": "The string values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of string values."
      }
    },
    "com.gcp.admob_v1beta#AdUnitMapping": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of this ad unit mapping. Format is: accounts/{publisher_id}/adUnits/{ad_unit_id_fragment}/adUnitMappings/{ad_unit_mapping_id} Example: accounts/pub-1234567890123456/adUnits/0123456789/adUnitMappings/987654321"
          }
        },
        "state": {
          "target": "com.gcp.admob_v1beta#AdUnitMappingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The status of this ad unit mapping."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name of this ad unit mapping instance."
          }
        },
        "adapterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of mediation ad source adapter used by this ad unit mapping. The adapter determines the information needed in the ad_network_settings."
          }
        },
        "adUnitConfigurations": {
          "target": "com.gcp.admob_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Settings for the specified ad unit to make an ad request to 3rd party ad network. Key-value pairs with values set by the user for the keys requested by the ad network. Please see https://support.google.com/admob/answer/3245073 for details on how to configure the network settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings to map an AdMob ad unit to a 3rd party ad unit."
      }
    },
    "com.gcp.admob_v1beta#AdUnitMappingStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.admob_v1beta#MediationGroupMediationGroupLine": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 16 digit ID for this mediation line e.g. 0123456789012345. When creating a new mediation group line, use a distinct negative integer as the ID place holder."
          }
        },
        "experimentVariant": {
          "target": "com.gcp.admob_v1beta#MediationGroupMediationGroupLineExperimentVariantEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The Mediation A/B experiment variant to which the mediation group line belongs to."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided label for this mediation line. The maximum length allowed is 255 characters."
          }
        },
        "adUnitMappings": {
          "target": "com.gcp.admob_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "References of the ad unit mappings for each ad unit associated with this mediation line. Key is the ad unit ID, value is resource name of the ad unit mapping. For mediation lines where the ad source id is the AdMob Network, ad unit mappings will be ignored."
          }
        },
        "adSourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the ad source this mediation line is associated with."
          }
        },
        "cpmMode": {
          "target": "com.gcp.admob_v1beta#MediationGroupMediationGroupLineCpmModeEnum",
          "traits": {
            "smithy.api#documentation": "Indicates how the CPM for this mediation line is provided. Note that `MANUAL` and `LIVE` are the only fully-supported mode at the moment. Please use the AdMob UI (https://admob.google.com) if you wish to create or update to other cpm modes."
          }
        },
        "cpmMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CPM for this allocation line. $0.01 is the minimum allowed amount. For LIVE CPM modes, the default amount is $0.01. This value is ignored if `cpm_mode` is `LIVE`. **Warning:** \"USD\" is the only supported currency at the moment. The unit is in micros."
          }
        },
        "state": {
          "target": "com.gcp.admob_v1beta#MediationGroupMediationGroupLineStateEnum",
          "traits": {
            "smithy.api#documentation": "The status of the mediation group line. Only enabled mediation group lines will be served."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for an ad network used by a mediation group."
      }
    },
    "com.gcp.admob_v1beta#MediationGroupMediationGroupLineExperimentVariantEnum": {
      "type": "enum",
      "members": {
        "VARIANT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARIANT_UNSPECIFIED"
          }
        },
        "VARIANT_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARIANT_A"
          }
        },
        "VARIANT_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARIANT_B"
          }
        },
        "ORIGINAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORIGINAL"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#MediationGroupMediationGroupLineCpmModeEnum": {
      "type": "enum",
      "members": {
        "CPM_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPM_MODE_UNSPECIFIED"
          }
        },
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIVE"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        },
        "ANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANO"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#MediationGroupMediationGroupLineStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#MediationGroup": {
      "type": "structure",
      "members": {
        "mediationAbExperimentState": {
          "target": "com.gcp.admob_v1beta#MediationGroupMediationAbExperimentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the mediation a/b experiment that belongs to this mediation group."
          }
        },
        "mediationGroupLines": {
          "target": "com.gcp.admob_v1beta#MediationGroupMediationGroupLineMap",
          "traits": {
            "smithy.api#documentation": "The mediation lines used for serving for this mediation group. Key is the ID of the mediation group line. For creation, use distinct negative values as placeholder."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for this mediation group. Format is: accounts/{publisher_id}/mediationGroups/{mediation_group_id} Example: accounts/pub-9876543210987654/mediationGroups/0123456789"
          }
        },
        "mediationGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the mediation group. Example: \"0123456789\". This is a read only property."
          }
        },
        "targeting": {
          "target": "com.gcp.admob_v1beta#MediationGroupTargeting",
          "traits": {
            "smithy.api#documentation": "Set of criteria targeted by this mediation group, such as ad units and geo locations."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User provided name for the mediation group. The maximum length allowed is 120 characters."
          }
        },
        "state": {
          "target": "com.gcp.admob_v1beta#MediationGroupStateEnum",
          "traits": {
            "smithy.api#documentation": "The status of the mediation group. Only enabled mediation groups will be served."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an AdMob Mediation group."
      }
    },
    "com.gcp.admob_v1beta#MediationGroupMediationAbExperimentStateEnum": {
      "type": "enum",
      "members": {
        "EXPERIMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPERIMENT_STATE_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "NOT_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_RUNNING"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#MediationGroupMediationGroupLineMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.admob_v1beta#MediationGroupMediationGroupLine"
      }
    },
    "com.gcp.admob_v1beta#MediationGroupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#ReportWarning": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.admob_v1beta#ReportWarningTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the warning."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes the details of the warning message, in English."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Warnings associated with generation of the report."
      }
    },
    "com.gcp.admob_v1beta#ReportWarningTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "DATA_BEFORE_ACCOUNT_TIMEZONE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_BEFORE_ACCOUNT_TIMEZONE_CHANGE"
          }
        },
        "DATA_DELAYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_DELAYED"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "REPORT_CURRENCY_NOT_ACCOUNT_CURRENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPORT_CURRENCY_NOT_ACCOUNT_CURRENCY"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#NetworkReportSpecSortCondition": {
      "type": "structure",
      "members": {
        "order": {
          "target": "com.gcp.admob_v1beta#NetworkReportSpecSortConditionOrderEnum",
          "traits": {
            "smithy.api#documentation": "Sorting order of the dimension or metric."
          }
        },
        "dimension": {
          "target": "com.gcp.admob_v1beta#NetworkReportSpecSortConditionDimensionEnum",
          "traits": {
            "smithy.api#documentation": "Sort by the specified dimension."
          }
        },
        "metric": {
          "target": "com.gcp.admob_v1beta#NetworkReportSpecSortConditionMetricEnum",
          "traits": {
            "smithy.api#documentation": "Sort by the specified metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sorting direction to be applied on a dimension or a metric."
      }
    },
    "com.gcp.admob_v1beta#NetworkReportSpecSortConditionOrderEnum": {
      "type": "enum",
      "members": {
        "SORT_ORDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SORT_ORDER_UNSPECIFIED"
          }
        },
        "ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASCENDING"
          }
        },
        "DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCENDING"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#NetworkReportSpecSortConditionDimensionEnum": {
      "type": "enum",
      "members": {
        "DIMENSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIMENSION_UNSPECIFIED"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTH"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK"
          }
        },
        "AD_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_UNIT"
          }
        },
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP"
          }
        },
        "AD_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY"
          }
        },
        "FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORMAT"
          }
        },
        "PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM"
          }
        },
        "MOBILE_OS_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_OS_VERSION"
          }
        },
        "GMA_SDK_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMA_SDK_VERSION"
          }
        },
        "APP_VERSION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_VERSION_NAME"
          }
        },
        "SERVING_RESTRICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING_RESTRICTION"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#NetworkReportSpecSortConditionMetricEnum": {
      "type": "enum",
      "members": {
        "METRIC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_UNSPECIFIED"
          }
        },
        "AD_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_REQUESTS"
          }
        },
        "CLICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLICKS"
          }
        },
        "ESTIMATED_EARNINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESTIMATED_EARNINGS"
          }
        },
        "IMPRESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSIONS"
          }
        },
        "IMPRESSION_CTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSION_CTR"
          }
        },
        "IMPRESSION_RPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSION_RPM"
          }
        },
        "MATCHED_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCHED_REQUESTS"
          }
        },
        "MATCH_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE"
          }
        },
        "SHOW_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOW_RATE"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#GenerateNetworkReportRequest": {
      "type": "structure",
      "members": {
        "reportSpec": {
          "target": "com.gcp.admob_v1beta#NetworkReportSpec",
          "traits": {
            "smithy.api#documentation": "Network report specification."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to generate an AdMob Network report."
      }
    },
    "com.gcp.admob_v1beta#DateRange": {
      "type": "structure",
      "members": {
        "startDate": {
          "target": "com.gcp.admob_v1beta#Admob_Date",
          "traits": {
            "smithy.api#documentation": "Start date of the date range, inclusive. Must be less than or equal to the end date."
          }
        },
        "endDate": {
          "target": "com.gcp.admob_v1beta#Admob_Date",
          "traits": {
            "smithy.api#documentation": "End date of the date range, inclusive. Must be greater than or equal to the start date."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of a single date range. Both dates are inclusive."
      }
    },
    "com.gcp.admob_v1beta#AppLinkedAppInfo": {
      "type": "structure",
      "members": {
        "appStoreId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app store ID of the app; present if and only if the app is linked to an app store. If the app is added to the Google Play store, it will be the application ID of the app. For example: \"com.example.myapp\". See https://developer.android.com/studio/build/application-id. If the app is added to the Apple App Store, it will be app store ID. For example \"105169111\". Note that setting the app store id is considered an irreversible action. Once an app is linked, it cannot be unlinked."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name of the app as it appears in the app store. This is an output-only field, and may be empty if the app cannot be found in the store."
          }
        },
        "androidAppStores": {
          "target": "com.gcp.admob_v1beta#AppLinkedAppInfoAndroidAppStoresItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The app store information for published Android apps. This field is only used for apps on the Android platform and will be ignored if the PLATFORM is set to iOS. The default value is the Google Play App store. This field can be updated after app is created. If the app is not published, this field will not be included in the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information from the app store if the app is linked to an app store."
      }
    },
    "com.gcp.admob_v1beta#AppLinkedAppInfoAndroidAppStoresItemEnum": {
      "type": "enum",
      "members": {
        "ANDROID_APP_STORE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID_APP_STORE_UNSPECIFIED"
          }
        },
        "GOOGLE_PLAY_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_PLAY_APP_STORE"
          }
        },
        "AMAZON_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON_APP_STORE"
          }
        },
        "OPPO_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPPO_APP_STORE"
          }
        },
        "SAMSUNG_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAMSUNG_APP_STORE"
          }
        },
        "VIVO_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIVO_APP_STORE"
          }
        },
        "XIAOMI_APP_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XIAOMI_APP_STORE"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#AppLinkedAppInfoAndroidAppStoresItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#AppLinkedAppInfoAndroidAppStoresItemEnum"
      }
    },
    "com.gcp.admob_v1beta#ListAdaptersResponse": {
      "type": "structure",
      "members": {
        "adapters": {
          "target": "com.gcp.admob_v1beta#AdapterList",
          "traits": {
            "smithy.api#documentation": "The adapter."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used to set the `page_token` in the `ListAdapterRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the ListAdaptersRequest."
      }
    },
    "com.gcp.admob_v1beta#AdapterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#Adapter"
      }
    },
    "com.gcp.admob_v1beta#ListMediationGroupsResponse": {
      "type": "structure",
      "members": {
        "mediationGroups": {
          "target": "com.gcp.admob_v1beta#MediationGroupList",
          "traits": {
            "smithy.api#documentation": "The resulting mediation groups for the requested account."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not empty, indicates that there may be more mediation groups for the request; this value should be passed in a new `ListMediationGroupsRequest`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the mediation groups list request."
      }
    },
    "com.gcp.admob_v1beta#MediationGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#MediationGroup"
      }
    },
    "com.gcp.admob_v1beta#AdapterAdapterConfigMetadata": {
      "type": "structure",
      "members": {
        "isRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this metadata is required for configuring the AdUnitMappings."
          }
        },
        "adapterConfigMetadataId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is used to fill the key of the [ad_unit_configurations](#AdUnitMapping.ad_unit_configurations)."
          }
        },
        "adapterConfigMetadataLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the adapter configuration metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration metadata associated with this adapter. They are used to define the ad_unit_configurations associated with AdUnitMappings for the this adapter."
      }
    },
    "com.gcp.admob_v1beta#MediationAbExperiment": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name for the mediation A/B experiment."
          }
        },
        "state": {
          "target": "com.gcp.admob_v1beta#MediationAbExperimentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the experiment. It is an output only field."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for this experiment. The format is accounts/{publisher_id}/ mediationGroups/{mediation_group_id}/mediationAbExperiment/ {mediation_group_experiment_id}. For example: accounts/pub-9876543210987654/mediationGroups/0123456789/ mediationAbExperiment/12345"
          }
        },
        "mediationGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The mediation group id this experiment belongs to. This can be used for filtering the experiments in the list experiments API."
          }
        },
        "treatmentTrafficPercentage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The percentage of the mediation A/B experiment traffic that will be send to the treatment (variant B). The remainder is sent to the control (variant A). The percentage is expressed as an integer in the inclusive range of [1,99]. See https://support.google.com/admob/answer/9572326 for details."
          }
        },
        "controlMediationLines": {
          "target": "com.gcp.admob_v1beta#MediationAbExperimentExperimentMediationLineList",
          "traits": {
            "smithy.api#documentation": "Output only. The experiment mediation lines for control. They are inherited from the parent mediation group. It is an output only field."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the experiment was ended or target to end (in UTC)."
          }
        },
        "variantLeader": {
          "target": "com.gcp.admob_v1beta#MediationAbExperimentVariantLeaderEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The variant leader for the experiment according to some key metrics."
          }
        },
        "treatmentMediationLines": {
          "target": "com.gcp.admob_v1beta#MediationAbExperimentExperimentMediationLineList",
          "traits": {
            "smithy.api#documentation": "The experiment mediation lines created for the treatment. They will be used for serving when the experiment status is RUNNING."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the experiment was started (in UTC)."
          }
        },
        "experimentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier for the mediation A/B experiment. It is an output only property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The mediation A/B experiment."
      }
    },
    "com.gcp.admob_v1beta#MediationAbExperimentStateEnum": {
      "type": "enum",
      "members": {
        "EXPERIMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPERIMENT_STATE_UNSPECIFIED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "ENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDED"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#MediationAbExperimentExperimentMediationLineList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#MediationAbExperimentExperimentMediationLine"
      }
    },
    "com.gcp.admob_v1beta#MediationAbExperimentVariantLeaderEnum": {
      "type": "enum",
      "members": {
        "VARIANT_LEADER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARIANT_LEADER_UNSPECIFIED"
          }
        },
        "CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTROL"
          }
        },
        "TREATMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TREATMENT"
          }
        },
        "INSUFFICIENT_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_DATA"
          }
        },
        "TOO_EARLY_TO_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_EARLY_TO_CALL"
          }
        },
        "NO_VARIANT_LEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_VARIANT_LEADER"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#ReportFooter": {
      "type": "structure",
      "members": {
        "warnings": {
          "target": "com.gcp.admob_v1beta#ReportWarningList",
          "traits": {
            "smithy.api#documentation": "Warnings associated with generation of the report."
          }
        },
        "matchingRowCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of rows that matched the request. Warning: This count does NOT always match the number of rows in the response. Do not make that assumption when processing the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Groups data available after report generation, for example, warnings and row counts. Always sent as the last message in the stream response."
      }
    },
    "com.gcp.admob_v1beta#ReportWarningList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#ReportWarning"
      }
    },
    "com.gcp.admob_v1beta#App": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for this app. Format is accounts/{publisher_id}/apps/{app_id_fragment} Example: accounts/pub-9876543210987654/apps/0123456789"
          }
        },
        "manualAppInfo": {
          "target": "com.gcp.admob_v1beta#AppManualAppInfo",
          "traits": {
            "smithy.api#documentation": "The information for an app that is not linked to any app store. After an app is linked, this information is still retrivable. If no name is provided for the app upon creation, a placeholder name will be used."
          }
        },
        "linkedAppInfo": {
          "target": "com.gcp.admob_v1beta#AppLinkedAppInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. The information for an app that is linked to an app store. This field is present if and only if the app is linked to an app store."
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes the platform of the app. Limited to \"IOS\" and \"ANDROID\"."
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The externally visible ID of the app which can be used to integrate with AdMob. This is a read only property. Example: ca-app-pub-9876543210987654~0123456789"
          }
        },
        "appApprovalState": {
          "target": "com.gcp.admob_v1beta#AppAppApprovalStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The approval state for the app. The field is read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an AdMob app for a specific platform (For example: Android or iOS)."
      }
    },
    "com.gcp.admob_v1beta#AppAppApprovalStateEnum": {
      "type": "enum",
      "members": {
        "APP_APPROVAL_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_APPROVAL_STATE_UNSPECIFIED"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_REQUIRED"
          }
        },
        "IN_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_REVIEW"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#NetworkReportSpecDimensionFilter": {
      "type": "structure",
      "members": {
        "dimension": {
          "target": "com.gcp.admob_v1beta#NetworkReportSpecDimensionFilterDimensionEnum",
          "traits": {
            "smithy.api#documentation": "Applies the filter criterion to the specified dimension."
          }
        },
        "matchesAny": {
          "target": "com.gcp.admob_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Matches a row if its value for the specified dimension is in one of the values specified in this condition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes which report rows to match based on their dimension values."
      }
    },
    "com.gcp.admob_v1beta#NetworkReportSpecDimensionFilterDimensionEnum": {
      "type": "enum",
      "members": {
        "DIMENSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIMENSION_UNSPECIFIED"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTH"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK"
          }
        },
        "AD_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_UNIT"
          }
        },
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP"
          }
        },
        "AD_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY"
          }
        },
        "FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORMAT"
          }
        },
        "PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM"
          }
        },
        "MOBILE_OS_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_OS_VERSION"
          }
        },
        "GMA_SDK_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMA_SDK_VERSION"
          }
        },
        "APP_VERSION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_VERSION_NAME"
          }
        },
        "SERVING_RESTRICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING_RESTRICTION"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#MediationReportSpecSortCondition": {
      "type": "structure",
      "members": {
        "metric": {
          "target": "com.gcp.admob_v1beta#MediationReportSpecSortConditionMetricEnum",
          "traits": {
            "smithy.api#documentation": "Sort by the specified metric."
          }
        },
        "order": {
          "target": "com.gcp.admob_v1beta#MediationReportSpecSortConditionOrderEnum",
          "traits": {
            "smithy.api#documentation": "Sorting order of the dimension or metric."
          }
        },
        "dimension": {
          "target": "com.gcp.admob_v1beta#MediationReportSpecSortConditionDimensionEnum",
          "traits": {
            "smithy.api#documentation": "Sort by the specified dimension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sorting direction to be applied on a dimension or a metric."
      }
    },
    "com.gcp.admob_v1beta#MediationReportSpecSortConditionMetricEnum": {
      "type": "enum",
      "members": {
        "METRIC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_UNSPECIFIED"
          }
        },
        "AD_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_REQUESTS"
          }
        },
        "CLICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLICKS"
          }
        },
        "ESTIMATED_EARNINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESTIMATED_EARNINGS"
          }
        },
        "IMPRESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSIONS"
          }
        },
        "IMPRESSION_CTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSION_CTR"
          }
        },
        "MATCHED_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCHED_REQUESTS"
          }
        },
        "MATCH_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE"
          }
        },
        "OBSERVED_ECPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBSERVED_ECPM"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#MediationReportSpecSortConditionOrderEnum": {
      "type": "enum",
      "members": {
        "SORT_ORDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SORT_ORDER_UNSPECIFIED"
          }
        },
        "ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASCENDING"
          }
        },
        "DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCENDING"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#MediationReportSpecSortConditionDimensionEnum": {
      "type": "enum",
      "members": {
        "DIMENSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIMENSION_UNSPECIFIED"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTH"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK"
          }
        },
        "AD_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_SOURCE"
          }
        },
        "AD_SOURCE_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_SOURCE_INSTANCE"
          }
        },
        "AD_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_UNIT"
          }
        },
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP"
          }
        },
        "MEDIATION_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIATION_GROUP"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY"
          }
        },
        "FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORMAT"
          }
        },
        "PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM"
          }
        },
        "MOBILE_OS_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_OS_VERSION"
          }
        },
        "GMA_SDK_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMA_SDK_VERSION"
          }
        },
        "APP_VERSION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_VERSION_NAME"
          }
        },
        "SERVING_RESTRICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING_RESTRICTION"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#ListPublisherAccountsResponse": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.gcp.admob_v1beta#PublisherAccountList",
          "traits": {
            "smithy.api#documentation": "Publisher that the client credentials can access."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not empty, indicates that there might be more accounts for the request; you must pass this value in a new `ListPublisherAccountsRequest`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the publisher account list request."
      }
    },
    "com.gcp.admob_v1beta#PublisherAccountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#PublisherAccount"
      }
    },
    "com.gcp.admob_v1beta#ListAdSourcesResponse": {
      "type": "structure",
      "members": {
        "adSources": {
          "target": "com.gcp.admob_v1beta#AdSourceList",
          "traits": {
            "smithy.api#documentation": "The ad sources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used to set the `page_token` in the `ListAdSourcesRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the ListAdSourcesRequest."
      }
    },
    "com.gcp.admob_v1beta#AdSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#AdSource"
      }
    },
    "com.gcp.admob_v1beta#ListAdUnitsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not empty, indicates that there may be more ad units for the request; this value should be passed in a new `ListAdUnitsRequest`."
          }
        },
        "adUnits": {
          "target": "com.gcp.admob_v1beta#AdUnitList",
          "traits": {
            "smithy.api#documentation": "The resulting ad units for the requested account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the ad units list request."
      }
    },
    "com.gcp.admob_v1beta#AdUnitList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#AdUnit"
      }
    },
    "com.gcp.admob_v1beta#PublisherAccount": {
      "type": "structure",
      "members": {
        "reportingTimeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone that is used in reports that are generated for this account. The value is a time-zone ID as specified by the CLDR project, for example, \"America/Los_Angeles\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of this account. Format is accounts/{publisher_id}."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Currency code of the earning-related metrics, which is the 3-letter code defined in ISO 4217. The daily average rate is used for the currency conversion."
          }
        },
        "publisherId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID by which this publisher account can be identified in the API requests (for example, pub-1234567890)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A publisher account contains information relevant to the use of this API, such as the time zone used for the reports."
      }
    },
    "com.gcp.admob_v1beta#GenerateMediationReportRequest": {
      "type": "structure",
      "members": {
        "reportSpec": {
          "target": "com.gcp.admob_v1beta#MediationReportSpec",
          "traits": {
            "smithy.api#documentation": "Network report specification."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to generate an AdMob Mediation report."
      }
    },
    "com.gcp.admob_v1beta#AdUnitRewardSettings": {
      "type": "structure",
      "members": {
        "unitAmount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reward amount for this ad unit."
          }
        },
        "unitType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reward item for this ad unit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for a rewarded ad unit."
      }
    },
    "com.gcp.admob_v1beta#AdUnit": {
      "type": "structure",
      "members": {
        "adFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AdFormat of the ad unit. Possible values are as follows: \"APP_OPEN\" - App Open ad format. \"BANNER\" - Banner ad format. \"BANNER_INTERSTITIAL\" - Legacy format that can be used as either banner or interstitial. This format can no longer be created but can be targeted by mediation groups. \"INTERSTITIAL\" - A full screen ad. Supported ad types are \"RICH_MEDIA\" and \"VIDEO\". \"NATIVE\" - Native ad format. \"REWARDED\" - An ad that, once viewed, gets a callback verifying the view so that a reward can be given to the user. Supported ad types are \"RICH_MEDIA\" (interactive) and video where video can not be excluded. \"REWARDED_INTERSTITIAL\" - Rewarded Interstitial ad format. Only supports video ad type. See https://support.google.com/admob/answer/9884467."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the ad unit as shown in the AdMob UI, which is provided by the user. The maximum length allowed is 80 characters."
          }
        },
        "adTypes": {
          "target": "com.gcp.admob_v1beta#StringList_",
          "traits": {
            "smithy.api#documentation": "Ad media type supported by this ad unit. Possible values as follows: \"RICH_MEDIA\" - Text, image, and other non-video media. \"VIDEO\" - Video media."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for this ad unit. Format is accounts/{publisher_id}/adUnits/{ad_unit_id_fragment} Example: accounts/pub-9876543210987654/adUnits/0123456789"
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The externally visible ID of the app this ad unit is associated with. Example: ca-app-pub-9876543210987654~0123456789"
          }
        },
        "adUnitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The externally visible ID of the ad unit which can be used to integrate with AdMob. This is a read only property. Example: ca-app-pub-9876543210987654/0123456789"
          }
        },
        "rewardSettings": {
          "target": "com.gcp.admob_v1beta#AdUnitRewardSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Settings for a rewarded ad unit. This can be set or unset only when the ad_format is \"REWARDED\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an AdMob ad unit."
      }
    },
    "com.gcp.admob_v1beta#MediationAbExperimentExperimentMediationLine": {
      "type": "structure",
      "members": {
        "mediationGroupLine": {
          "target": "com.gcp.admob_v1beta#MediationGroupMediationGroupLine",
          "traits": {
            "smithy.api#documentation": "The mediation group line used by the experiment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The mediation group line for the experiment. It will be used for serving during the run of the experiment."
      }
    },
    "com.gcp.admob_v1beta#MediationReportSpec": {
      "type": "structure",
      "members": {
        "maxReportRows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of report data rows to return. If the value is not set, the API returns as many rows as possible, up to 100000. Acceptable values are 1-100000, inclusive. Values larger than 100000 return an error."
          }
        },
        "metrics": {
          "target": "com.gcp.admob_v1beta#MediationReportSpecMetricsItemEnumList",
          "traits": {
            "smithy.api#documentation": "List of metrics of the report. A report must specify at least one metric."
          }
        },
        "dateRange": {
          "target": "com.gcp.admob_v1beta#DateRange",
          "traits": {
            "smithy.api#documentation": "The date range for which the report is generated."
          }
        },
        "dimensionFilters": {
          "target": "com.gcp.admob_v1beta#MediationReportSpecDimensionFilterList",
          "traits": {
            "smithy.api#documentation": "Describes which report rows to match based on their dimension values."
          }
        },
        "sortConditions": {
          "target": "com.gcp.admob_v1beta#MediationReportSpecSortConditionList",
          "traits": {
            "smithy.api#documentation": "Describes the sorting of report rows. The order of the condition in the list defines its precedence; the earlier the condition, the higher its precedence. If no sort conditions are specified, the row ordering is undefined."
          }
        },
        "localizationSettings": {
          "target": "com.gcp.admob_v1beta#LocalizationSettings",
          "traits": {
            "smithy.api#documentation": "Localization settings of the report."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A report time zone. Accepts an IANA TZ name values, such as \"America/Los_Angeles.\" If no time zone is defined, the account default takes effect. Check default value by the get account action. **Warning:** The \"America/Los_Angeles\" is the only supported value at the moment."
          }
        },
        "dimensions": {
          "target": "com.gcp.admob_v1beta#MediationReportSpecDimensionsItemEnumList",
          "traits": {
            "smithy.api#documentation": "List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The specification for generating an AdMob Mediation report. For example, the specification to get observed ECPM sliced by ad source and app for the 'US' and 'CN' countries can look like the following example: { \"date_range\": { \"start_date\": {\"year\": 2021, \"month\": 9, \"day\": 1}, \"end_date\": {\"year\": 2021, \"month\": 9, \"day\": 30} }, \"dimensions\": [\"AD_SOURCE\", \"APP\", \"COUNTRY\"], \"metrics\": [\"OBSERVED_ECPM\"], \"dimension_filters\": [ { \"dimension\": \"COUNTRY\", \"matches_any\": {\"values\": [{\"value\": \"US\", \"value\": \"CN\"}]} } ], \"sort_conditions\": [ {\"dimension\":\"APP\", order: \"ASCENDING\"} ], \"localization_settings\": { \"currency_code\": \"USD\", \"language_code\": \"en-US\" } } For a better understanding, you can treat the preceding specification like the following pseudo SQL: SELECT AD_SOURCE, APP, COUNTRY, OBSERVED_ECPM FROM MEDIATION_REPORT WHERE DATE >= '2021-09-01' AND DATE <= '2021-09-30' AND COUNTRY IN ('US', 'CN') GROUP BY AD_SOURCE, APP, COUNTRY ORDER BY APP ASC;"
      }
    },
    "com.gcp.admob_v1beta#MediationReportSpecMetricsItemEnum": {
      "type": "enum",
      "members": {
        "METRIC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_UNSPECIFIED"
          }
        },
        "AD_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_REQUESTS"
          }
        },
        "CLICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLICKS"
          }
        },
        "ESTIMATED_EARNINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESTIMATED_EARNINGS"
          }
        },
        "IMPRESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSIONS"
          }
        },
        "IMPRESSION_CTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSION_CTR"
          }
        },
        "MATCHED_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCHED_REQUESTS"
          }
        },
        "MATCH_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE"
          }
        },
        "OBSERVED_ECPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBSERVED_ECPM"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#MediationReportSpecMetricsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#MediationReportSpecMetricsItemEnum"
      }
    },
    "com.gcp.admob_v1beta#MediationReportSpecDimensionFilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#MediationReportSpecDimensionFilter"
      }
    },
    "com.gcp.admob_v1beta#MediationReportSpecSortConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#MediationReportSpecSortCondition"
      }
    },
    "com.gcp.admob_v1beta#MediationReportSpecDimensionsItemEnum": {
      "type": "enum",
      "members": {
        "DIMENSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIMENSION_UNSPECIFIED"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTH"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK"
          }
        },
        "AD_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_SOURCE"
          }
        },
        "AD_SOURCE_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_SOURCE_INSTANCE"
          }
        },
        "AD_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_UNIT"
          }
        },
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP"
          }
        },
        "MEDIATION_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIATION_GROUP"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY"
          }
        },
        "FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORMAT"
          }
        },
        "PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM"
          }
        },
        "MOBILE_OS_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_OS_VERSION"
          }
        },
        "GMA_SDK_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMA_SDK_VERSION"
          }
        },
        "APP_VERSION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_VERSION_NAME"
          }
        },
        "SERVING_RESTRICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING_RESTRICTION"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#MediationReportSpecDimensionsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#MediationReportSpecDimensionsItemEnum"
      }
    },
    "com.gcp.admob_v1beta#GenerateNetworkReportResponse": {
      "type": "structure",
      "members": {
        "header": {
          "target": "com.gcp.admob_v1beta#ReportHeader",
          "traits": {
            "smithy.api#documentation": "Report generation settings that describes the report contents, such as the report date range and localization settings."
          }
        },
        "row": {
          "target": "com.gcp.admob_v1beta#ReportRow",
          "traits": {
            "smithy.api#documentation": "Actual report data."
          }
        },
        "footer": {
          "target": "com.gcp.admob_v1beta#ReportFooter",
          "traits": {
            "smithy.api#documentation": "Additional information about the generated report, such as warnings about the data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The streaming response for the AdMob Network report where the first response contains the report header, then a stream of row responses, and finally a footer as the last response message. For example: [{ \"header\": { \"dateRange\": { \"startDate\": {\"year\": 2018, \"month\": 9, \"day\": 1}, \"endDate\": {\"year\": 2018, \"month\": 9, \"day\": 1} }, \"localizationSettings\": { \"currencyCode\": \"USD\", \"languageCode\": \"en-US\" } } }, { \"row\": { \"dimensionValues\": { \"DATE\": {\"value\": \"20180918\"}, \"APP\": { \"value\": \"ca-app-pub-8123415297019784~1001342552\", displayLabel: \"My app name!\" } }, \"metricValues\": { \"ESTIMATED_EARNINGS\": {\"microsValue\": 6500000} } } }, { \"footer\": {\"matchingRowCount\": 1} }]"
      }
    },
    "com.gcp.admob_v1beta#BatchCreateAdUnitMappingsRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.admob_v1beta#CreateAdUnitMappingRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The request message specifying the ad unit mappings to create. A maximum of 100 ad unit mappings can be created in a batch. If the number of ad unit mappings in the batch request exceed 100, the entire request will be rejected and no ad unit mappings will be created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to create a batch of ad unit mappings under the specific AdMob account."
      }
    },
    "com.gcp.admob_v1beta#CreateAdUnitMappingRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#CreateAdUnitMappingRequest"
      }
    },
    "com.gcp.admob_v1beta#Adapter": {
      "type": "structure",
      "members": {
        "adapterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of this adapter. It is used to set [adapter_id](#AdUnitMapping.adapter_id)."
          }
        },
        "formats": {
          "target": "com.gcp.admob_v1beta#StringList_",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the formats of the ad units supported by this adapter."
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Mobile application platform supported by this adapter. Supported values are: IOS, ANDROID, WINDOWS_PHONE"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of this adapter."
          }
        },
        "adapterConfigMetadata": {
          "target": "com.gcp.admob_v1beta#AdapterAdapterConfigMetadataList",
          "traits": {
            "smithy.api#documentation": "Output only. Configuration metadata associated with this adapter."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the adapter. Format is: accounts/{publisher_id}/adSources/{ad_source_id}/adapters/{adapter_id}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes adapters supported by each mediation ad source. Adapters correspond to a specific SDK implementation of the ad source, and are each associated with a single platform and a list of supported ad unit formats. Adapters may also require setting some configurations to perform ad requests. Configurations can be specified in the AdUnitMapping by setting the [ad_unit_configurations](#AdUnitMapping.ad_unit_configurations) key/value pairs. For example, the ad_unit_configurations can be used to pass various IDs to the adapter's third-party SDK."
      }
    },
    "com.gcp.admob_v1beta#AdapterAdapterConfigMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#AdapterAdapterConfigMetadata"
      }
    },
    "com.gcp.admob_v1beta#ReportRowDimensionValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dimension value in the format specified in the report's spec Dimension enum."
          }
        },
        "displayLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized string representation of the value. If unspecified, the display label should be derived from the value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of a dimension value."
      }
    },
    "com.gcp.admob_v1beta#NetworkReportSpec": {
      "type": "structure",
      "members": {
        "sortConditions": {
          "target": "com.gcp.admob_v1beta#NetworkReportSpecSortConditionList",
          "traits": {
            "smithy.api#documentation": "Describes the sorting of report rows. The order of the condition in the list defines its precedence; the earlier the condition, the higher its precedence. If no sort conditions are specified, the row ordering is undefined."
          }
        },
        "localizationSettings": {
          "target": "com.gcp.admob_v1beta#LocalizationSettings",
          "traits": {
            "smithy.api#documentation": "Localization settings of the report."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A report time zone. Accepts an IANA TZ name values, such as \"America/Los_Angeles.\" If no time zone is defined, the account default takes effect. Check default value by the get account action. **Warning:** The \"America/Los_Angeles\" is the only supported value at the moment."
          }
        },
        "dimensions": {
          "target": "com.gcp.admob_v1beta#NetworkReportSpecDimensionsItemEnumList",
          "traits": {
            "smithy.api#documentation": "List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account."
          }
        },
        "maxReportRows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of report data rows to return. If the value is not set, the API returns as many rows as possible, up to 100000. Acceptable values are 1-100000, inclusive. Values larger than 100000 return an error."
          }
        },
        "metrics": {
          "target": "com.gcp.admob_v1beta#NetworkReportSpecMetricsItemEnumList",
          "traits": {
            "smithy.api#documentation": "List of metrics of the report. A report must specify at least one metric."
          }
        },
        "dateRange": {
          "target": "com.gcp.admob_v1beta#DateRange",
          "traits": {
            "smithy.api#documentation": "The date range for which the report is generated."
          }
        },
        "dimensionFilters": {
          "target": "com.gcp.admob_v1beta#NetworkReportSpecDimensionFilterList",
          "traits": {
            "smithy.api#documentation": "Describes which report rows to match based on their dimension values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The specification for generating an AdMob Network report. For example, the specification to get clicks and estimated earnings for only the 'US' and 'CN' countries can look like the following example: { 'date_range': { 'start_date': {'year': 2021, 'month': 9, 'day': 1}, 'end_date': {'year': 2021, 'month': 9, 'day': 30} }, 'dimensions': ['DATE', 'APP', 'COUNTRY'], 'metrics': ['CLICKS', 'ESTIMATED_EARNINGS'], 'dimension_filters': [ { 'dimension': 'COUNTRY', 'matches_any': {'values': [{'value': 'US', 'value': 'CN'}]} } ], 'sort_conditions': [ {'dimension':'APP', order: 'ASCENDING'}, {'metric':'CLICKS', order: 'DESCENDING'} ], 'localization_settings': { 'currency_code': 'USD', 'language_code': 'en-US' } } For a better understanding, you can treat the preceding specification like the following pseudo SQL: SELECT DATE, APP, COUNTRY, CLICKS, ESTIMATED_EARNINGS FROM NETWORK_REPORT WHERE DATE >= '2021-09-01' AND DATE <= '2021-09-30' AND COUNTRY IN ('US', 'CN') GROUP BY DATE, APP, COUNTRY ORDER BY APP ASC, CLICKS DESC;"
      }
    },
    "com.gcp.admob_v1beta#NetworkReportSpecSortConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#NetworkReportSpecSortCondition"
      }
    },
    "com.gcp.admob_v1beta#NetworkReportSpecDimensionsItemEnum": {
      "type": "enum",
      "members": {
        "DIMENSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIMENSION_UNSPECIFIED"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTH"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK"
          }
        },
        "AD_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_UNIT"
          }
        },
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP"
          }
        },
        "AD_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_TYPE"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY"
          }
        },
        "FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORMAT"
          }
        },
        "PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM"
          }
        },
        "MOBILE_OS_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_OS_VERSION"
          }
        },
        "GMA_SDK_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMA_SDK_VERSION"
          }
        },
        "APP_VERSION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_VERSION_NAME"
          }
        },
        "SERVING_RESTRICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING_RESTRICTION"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#NetworkReportSpecDimensionsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#NetworkReportSpecDimensionsItemEnum"
      }
    },
    "com.gcp.admob_v1beta#NetworkReportSpecMetricsItemEnum": {
      "type": "enum",
      "members": {
        "METRIC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_UNSPECIFIED"
          }
        },
        "AD_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_REQUESTS"
          }
        },
        "CLICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLICKS"
          }
        },
        "ESTIMATED_EARNINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESTIMATED_EARNINGS"
          }
        },
        "IMPRESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSIONS"
          }
        },
        "IMPRESSION_CTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSION_CTR"
          }
        },
        "IMPRESSION_RPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSION_RPM"
          }
        },
        "MATCHED_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCHED_REQUESTS"
          }
        },
        "MATCH_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_RATE"
          }
        },
        "SHOW_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOW_RATE"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#NetworkReportSpecMetricsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#NetworkReportSpecMetricsItemEnum"
      }
    },
    "com.gcp.admob_v1beta#NetworkReportSpecDimensionFilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#NetworkReportSpecDimensionFilter"
      }
    },
    "com.gcp.admob_v1beta#CampaignReportSpec": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.gcp.admob_v1beta#CampaignReportSpecMetricsItemEnumList",
          "traits": {
            "smithy.api#documentation": "List of metrics of the report. A report must specify at least one metric."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language used for any localized text, such as certain applicable dimension values. The language tag is defined in the IETF BCP47. Defaults to 'en-US' if unspecified or invalid."
          }
        },
        "dateRange": {
          "target": "com.gcp.admob_v1beta#DateRange",
          "traits": {
            "smithy.api#documentation": "The date range for which the report is generated. The max range is 30 days."
          }
        },
        "dimensions": {
          "target": "com.gcp.admob_v1beta#CampaignReportSpecDimensionsItemEnumList",
          "traits": {
            "smithy.api#documentation": "List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The specification for generating a Campaign report. For example, the specification to get IMPRESSIONS and CLICKS sliced by CAMPAIGN_ID can look like the following example: { \"date_range\": { \"start_date\": {\"year\": 2021, \"month\": 12, \"day\": 1}, \"end_date\": {\"year\": 2021, \"month\": 12, \"day\": 30} }, \"dimensions\": [\"CAMPAIGN_ID\"], \"metrics\": [\"IMPRESSIONS\", \"CLICKS\"], }"
      }
    },
    "com.gcp.admob_v1beta#CampaignReportSpecMetricsItemEnum": {
      "type": "enum",
      "members": {
        "METRIC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_UNSPECIFIED"
          }
        },
        "IMPRESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSIONS"
          }
        },
        "CLICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLICKS"
          }
        },
        "CLICK_THROUGH_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLICK_THROUGH_RATE"
          }
        },
        "INSTALLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLS"
          }
        },
        "ESTIMATED_COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESTIMATED_COST"
          }
        },
        "AVERAGE_CPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVERAGE_CPI"
          }
        },
        "INTERACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERACTIONS"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#CampaignReportSpecMetricsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#CampaignReportSpecMetricsItemEnum"
      }
    },
    "com.gcp.admob_v1beta#CampaignReportSpecDimensionsItemEnum": {
      "type": "enum",
      "members": {
        "DIMENSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIMENSION_UNSPECIFIED"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "CAMPAIGN_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAMPAIGN_ID"
          }
        },
        "CAMPAIGN_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAMPAIGN_NAME"
          }
        },
        "AD_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_ID"
          }
        },
        "AD_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_NAME"
          }
        },
        "PLACEMENT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLACEMENT_ID"
          }
        },
        "PLACEMENT_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLACEMENT_NAME"
          }
        },
        "PLACEMENT_PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLACEMENT_PLATFORM"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY"
          }
        },
        "FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORMAT"
          }
        }
      }
    },
    "com.gcp.admob_v1beta#CampaignReportSpecDimensionsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.admob_v1beta#CampaignReportSpecDimensionsItemEnum"
      }
    },
    "com.gcp.admob_v1beta#LocalizationSettings": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Currency code of the earning related metrics, which is the 3-letter code defined in ISO 4217. The daily average rate is used for the currency conversion. Defaults to the account currency code if unspecified."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language used for any localized text, such as some dimension value display labels. The language tag defined in the IETF BCP47. Defaults to 'en-US' if unspecified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Localization settings for reports, such as currency and language. It affects how metrics are calculated."
      }
    },
    "com.gcp.admob_v1beta#GenerateCampaignReportRequest": {
      "type": "structure",
      "members": {
        "reportSpec": {
          "target": "com.gcp.admob_v1beta#CampaignReportSpec",
          "traits": {
            "smithy.api#documentation": "Campaign report specification."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to generate campaign report."
      }
    },
    "com.gcp.admob_v1beta#StopMediationAbExperimentRequest": {
      "type": "structure",
      "members": {
        "variantChoice": {
          "target": "com.gcp.admob_v1beta#StopMediationAbExperimentRequestVariantChoiceEnum",
          "traits": {
            "smithy.api#documentation": "The choice for the winning variant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to end the mediation A/B experiment and choose a winning variant."
      }
    },
    "com.gcp.admob_v1beta#StopMediationAbExperimentRequestVariantChoiceEnum": {
      "type": "enum",
      "members": {
        "VARIANT_CHOICE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARIANT_CHOICE_UNSPECIFIED"
          }
        },
        "VARIANT_CHOICE_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARIANT_CHOICE_A"
          }
        },
        "VARIANT_CHOICE_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARIANT_CHOICE_B"
          }
        }
[...]
