{
  "smithy": "2.0",
  "metadata": {
    "service": "alloydb",
    "version": "v1alpha",
    "title": "AlloyDB API",
    "baseUrl": "https://alloydb.googleapis.com/"
  },
  "shapes": {
    "com.gcp.alloydb_v1alpha#GoogleCloudLocationLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.alloydb_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.alloydb_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.alloydb_v1alpha#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.alloydb_v1alpha#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata": {
      "type": "structure",
      "members": {
        "customMetadata": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainCustomMetadataData",
          "traits": {
            "smithy.api#documentation": "Any custom metadata associated with the resource"
          }
        },
        "product": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterProtoCommonProduct",
          "traits": {
            "smithy.api#documentation": "The product this resource represents."
          }
        },
        "resourceFlags": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainResourceFlagsList",
          "traits": {
            "smithy.api#documentation": "Optional. List of resource flags for the database resource."
          }
        },
        "currentState": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadataCurrentStateEnum",
          "traits": {
            "smithy.api#documentation": "Current state of the instance."
          }
        },
        "instanceType": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadataInstanceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the instance. Specified at creation time."
          }
        },
        "tagsSet": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainTags",
          "traits": {
            "smithy.api#documentation": "Optional. Tags associated with this resources."
          }
        },
        "updationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the resource was updated and recorded at partner service."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource location. REQUIRED"
          }
        },
        "additionalMetadata": {
          "target": "com.gcp.alloydb_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Field to ingest additional metadata whichd does not support proto format."
          }
        },
        "edition": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadataEditionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Edition represents whether the instance is ENTERPRISE or ENTERPRISE_PLUS. This information is core to Cloud SQL only and is used to identify the edition of the instance."
          }
        },
        "isDeletionProtectionEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether deletion protection is enabled for this resource."
          }
        },
        "modes": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadataModesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The modes of the database resource."
          }
        },
        "resourceContainer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Closest parent Cloud Resource Manager container of this resource. It must be resource name of a Cloud Resource Manager project with the format of \"/\", such as \"projects/123\". For GCP provided resources, number should be project number."
          }
        },
        "expectedState": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadataExpectedStateEnum",
          "traits": {
            "smithy.api#documentation": "The state that the instance is expected to be in. For example, an instance state can transition to UNHEALTHY due to wrong patch update, while the expected state will remain at the HEALTHY."
          }
        },
        "backupdrConfiguration": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
          "traits": {
            "smithy.api#documentation": "Optional. BackupDR Configuration for the resource."
          }
        },
        "id": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "traits": {
            "smithy.api#documentation": "Required. Unique identifier for a Database resource"
          }
        },
        "maintenanceInfo": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainResourceMaintenanceInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Maintenance info for the resource."
          }
        },
        "gcbdrConfiguration": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration",
          "traits": {
            "smithy.api#documentation": "GCBDR configuration for the resource."
          }
        },
        "ipAddress": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainIpAddress",
          "traits": {
            "smithy.api#documentation": "Optional. Private and public IP address of the resource."
          }
        },
        "backupConfiguration": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainBackupConfiguration",
          "traits": {
            "smithy.api#documentation": "Backup configuration for this instance"
          }
        },
        "backupRun": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainBackupRun",
          "traits": {
            "smithy.api#documentation": "Latest backup run information for this instance"
          }
        },
        "suspensionReason": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadataSuspensionReasonEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Suspension reason for the resource."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Different from DatabaseResourceId.unique_id, a resource name can be reused over time. That is, after a resource named \"ABC\" is deleted, the name \"ABC\" can be used to to create a new resource within the same source. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel"
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of the resource, i.e. the time when resource is created and recorded in partner service."
          }
        },
        "availabilityConfiguration": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration",
          "traits": {
            "smithy.api#documentation": "Availability configuration for this instance"
          }
        },
        "internalAdditionalMetadata": {
          "target": "com.gcp.alloydb_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Field to ingest additional metadata which support proto format."
          }
        },
        "entitlements": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainEntitlementList",
          "traits": {
            "smithy.api#documentation": "Entitlements associated with the resource"
          }
        },
        "primaryResourceLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary resource location. REQUIRED if the immediate parent exists when first time resource is getting ingested, otherwise optional."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource zone. This is only applicable for zonal resources and will be empty for regional and multi-regional resources."
          }
        },
        "machineConfiguration": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainMachineConfiguration",
          "traits": {
            "smithy.api#documentation": "Machine configuration for this resource."
          }
        },
        "userLabelSet": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainUserLabels",
          "traits": {
            "smithy.api#documentation": "User-provided labels associated with the resource"
          }
        },
        "primaryResourceId": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "traits": {
            "smithy.api#documentation": "Identifier for this resource's immediate parent/primary resource if the current resource is a replica or derived form of another Database resource. Else it would be NULL. REQUIRED if the immediate parent exists when first time resource is getting ingested, otherwise optional."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common model for database resource instance metadata. Next ID: 35"
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainResourceFlagsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainResourceFlags"
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadataCurrentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "STATE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_OTHER"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadataInstanceTypeEnum": {
      "type": "enum",
      "members": {
        "INSTANCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_TYPE_UNSPECIFIED"
          }
        },
        "SUB_RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECONDARY"
          }
        },
        "READ_REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_REPLICA"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "SUB_RESOURCE_TYPE_PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_PRIMARY"
          }
        },
        "SUB_RESOURCE_TYPE_SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_SECONDARY"
          }
        },
        "SUB_RESOURCE_TYPE_READ_REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_READ_REPLICA"
          }
        },
        "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY"
          }
        },
        "SUB_RESOURCE_TYPE_READ_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_READ_POOL"
          }
        },
        "SUB_RESOURCE_TYPE_RESERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_RESERVATION"
          }
        },
        "SUB_RESOURCE_TYPE_DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_DATASET"
          }
        },
        "SUB_RESOURCE_TYPE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUB_RESOURCE_TYPE_OTHER"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadataEditionEnum": {
      "type": "enum",
      "members": {
        "EDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITION_UNSPECIFIED"
          }
        },
        "EDITION_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITION_ENTERPRISE"
          }
        },
        "EDITION_ENTERPRISE_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITION_ENTERPRISE_PLUS"
          }
        },
        "EDITION_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITION_STANDARD"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadataModesItemEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "MODE_NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_NATIVE"
          }
        },
        "MODE_MONGODB_COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_MONGODB_COMPATIBLE"
          }
        },
        "MODE_DATASTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_DATASTORE"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadataModesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadataModesItemEnum"
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadataExpectedStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "STATE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_OTHER"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadataSuspensionReasonEnum": {
      "type": "enum",
      "members": {
        "SUSPENSION_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENSION_REASON_UNSPECIFIED"
          }
        },
        "WIPEOUT_HIDE_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIPEOUT_HIDE_EVENT"
          }
        },
        "WIPEOUT_PURGE_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIPEOUT_PURGE_EVENT"
          }
        },
        "BILLING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_DISABLED"
          }
        },
        "ABUSER_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABUSER_DETECTED"
          }
        },
        "ENCRYPTION_KEY_INACCESSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_KEY_INACCESSIBLE"
          }
        },
        "REPLICATED_CLUSTER_ENCRYPTION_KEY_INACCESSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLICATED_CLUSTER_ENCRYPTION_KEY_INACCESSIBLE"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainEntitlementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainEntitlement"
      }
    },
    "com.gcp.alloydb_v1alpha#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.alloydb_v1alpha#ContinuousBackupSource": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The source cluster from which to restore. This cluster must have continuous backup enabled for this operation to succeed. For the required format, see the comment on the Cluster.name field."
          }
        },
        "pointInTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The point in time to restore to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing a ContinuousBackupSource."
      }
    },
    "com.gcp.alloydb_v1alpha#CpuUtilization": {
      "type": "structure",
      "members": {
        "utilizationTarget": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Target CPU utilization as a float between 0 and 1."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CPU utilization policy for the autoscaler."
      }
    },
    "com.gcp.alloydb_v1alpha#EncryptionInfo": {
      "type": "structure",
      "members": {
        "encryptionType": {
          "target": "com.gcp.alloydb_v1alpha#EncryptionInfoEncryptionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of encryption."
          }
        },
        "kmsKeyVersions": {
          "target": "com.gcp.alloydb_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud KMS key versions that are being used to protect the database or the backup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EncryptionInfo describes the encryption information of a cluster or a backup."
      }
    },
    "com.gcp.alloydb_v1alpha#EncryptionInfoEncryptionTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "GOOGLE_DEFAULT_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_DEFAULT_ENCRYPTION"
          }
        },
        "CUSTOMER_MANAGED_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_ENCRYPTION"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.alloydb_v1alpha#DenyMaintenancePeriod": {
      "type": "structure",
      "members": {
        "startDate": {
          "target": "com.gcp.alloydb_v1alpha#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Deny period start date. This can be: * A full date, with non-zero year, month and day values OR * A month and day value, with a zero year for recurring"
          }
        },
        "endDate": {
          "target": "com.gcp.alloydb_v1alpha#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Deny period end date. This can be: * A full date, with non-zero year, month and day values OR * A month and day value, with a zero year for recurring"
          }
        },
        "time": {
          "target": "com.gcp.alloydb_v1alpha#GoogleTypeTimeOfDay",
          "traits": {
            "smithy.api#documentation": "Time in UTC when the deny period starts on start_date and ends on end_date. This can be: * Full time OR * All zeros for 00:00:00 UTC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DenyMaintenancePeriod definition. Excepting emergencies, maintenance will not be scheduled to start within this deny period. The start_date must be less than the end_date."
      }
    },
    "com.gcp.alloydb_v1alpha#ExportClusterRequest": {
      "type": "structure",
      "members": {
        "csvExportOptions": {
          "target": "com.gcp.alloydb_v1alpha#CsvExportOptions",
          "traits": {
            "smithy.api#documentation": "Options for exporting data in CSV format. Required field to be set for CSV file type."
          }
        },
        "gcsDestination": {
          "target": "com.gcp.alloydb_v1alpha#GcsDestination",
          "traits": {
            "smithy.api#documentation": "Required. Option to export data to cloud storage."
          }
        },
        "sqlExportOptions": {
          "target": "com.gcp.alloydb_v1alpha#SqlExportOptions",
          "traits": {
            "smithy.api#documentation": "Options for exporting data in SQL format. Required field to be set for SQL file type."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the database where the export command will be executed. Note - Value provided should be the same as expected from `SELECT current_database();` and NOT as a resource reference."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Export cluster request."
      }
    },
    "com.gcp.alloydb_v1alpha#PrimaryConfig": {
      "type": "structure",
      "members": {
        "secondaryClusterNames": {
          "target": "com.gcp.alloydb_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Names of the clusters that are replicating from this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the primary cluster. It has the list of clusters that are replicating from this cluster. This should be set if and only if the cluster is of type PRIMARY."
      }
    },
    "com.gcp.alloydb_v1alpha#Schedule": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the schedule."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location-based IANA time zone for interpreting the schedule's start time. If no time zone is provided, UTC is used by default."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the schedule."
          }
        },
        "durationSec": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of the schedule."
          }
        },
        "minNodeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimum number of nodes in while the schedule is active."
          }
        },
        "cronExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cron expression for the triggering the schedule. See https://cloud.google.com/compute/docs/autoscaler/scaling-schedules#cron_expressions for the syntax."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the schedule is disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A schedule for the autoscaler."
      }
    },
    "com.gcp.alloydb_v1alpha#CloudControl2SharedOperationsReconciliationOperationMetadata": {
      "type": "structure",
      "members": {
        "deleteResource": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. Use exclusive_action instead."
          }
        },
        "exclusiveAction": {
          "target": "com.gcp.alloydb_v1alpha#CloudControl2SharedOperationsReconciliationOperationMetadataExclusiveActionEnum",
          "traits": {
            "smithy.api#documentation": "Excluisive action returned by the CLH."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation metadata returned by the CLH during resource state reconciliation."
      }
    },
    "com.gcp.alloydb_v1alpha#CloudControl2SharedOperationsReconciliationOperationMetadataExclusiveActionEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_REPAIR_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_REPAIR_ACTION"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "RETRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#CsvExportOptions": {
      "type": "structure",
      "members": {
        "selectQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The SELECT query used to extract the data."
          }
        },
        "quoteCharacter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code."
          }
        },
        "fieldDelimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code."
          }
        },
        "escapeCharacter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is the same as quote character. The value of this argument has to be a character in Hex ASCII Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for exporting data in CSV format."
      }
    },
    "com.gcp.alloydb_v1alpha#PscInstanceConfig": {
      "type": "structure",
      "members": {
        "serviceAttachmentLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The service attachment created when Private Service Connect (PSC) is enabled for the instance. The name of the resource will be in the format of `projects//regions//serviceAttachments/`"
          }
        },
        "pscAutoConnections": {
          "target": "com.gcp.alloydb_v1alpha#PscAutoConnectionConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. Configurations for setting up PSC service automation."
          }
        },
        "allowedConsumerProjects": {
          "target": "com.gcp.alloydb_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of consumer projects that are allowed to create PSC endpoints to service-attachments to this instance."
          }
        },
        "pscDnsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The DNS name of the instance for PSC connectivity. Name convention: ...alloydb-psc.goog"
          }
        },
        "pscInterfaceConfigs": {
          "target": "com.gcp.alloydb_v1alpha#PscInterfaceConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. Configurations for setting up PSC interfaces attached to the instance which are used for outbound connectivity. Only primary instances can have PSC interface attached. Currently we only support 0 or 1 PSC interface."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PscInstanceConfig contains PSC related configuration at an instance level."
      }
    },
    "com.gcp.alloydb_v1alpha#PscAutoConnectionConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#PscAutoConnectionConfig"
      }
    },
    "com.gcp.alloydb_v1alpha#PscInterfaceConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#PscInterfaceConfig"
      }
    },
    "com.gcp.alloydb_v1alpha#IntegerRestrictions": {
      "type": "structure",
      "members": {
        "minValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minimum value that can be specified, if applicable."
          }
        },
        "maxValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum value that can be specified, if applicable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Restrictions on INTEGER type values."
      }
    },
    "com.gcp.alloydb_v1alpha#BackupDrInfo": {
      "type": "structure",
      "members": {
        "currentWindow": {
          "target": "com.gcp.alloydb_v1alpha#BackupDrEnabledWindow",
          "traits": {
            "smithy.api#documentation": "The current BackupDR configuration for this cluster. If BackupDR protection is not enabled for this cluster, this field will be empty."
          }
        },
        "previousWindows": {
          "target": "com.gcp.alloydb_v1alpha#BackupDrEnabledWindowList",
          "traits": {
            "smithy.api#documentation": "Windows during which BackupDR was enabled for this cluster, along with associated configuration for that window. These are used to determine points-in-time for which restores can be performed. The windows are ordered with the most recent window last. Windows are mutally exclusive. Windows which closed more than 1 year ago will be removed from this list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about BackupDR protection for this cluster."
      }
    },
    "com.gcp.alloydb_v1alpha#BackupDrEnabledWindowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#BackupDrEnabledWindow"
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceId": {
      "type": "structure",
      "members": {
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A service-local token that distinguishes this resource from other resources within the same service."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The type of resource this ID is identifying. Ex go/keep-sorted start alloydb.googleapis.com/Cluster, alloydb.googleapis.com/Instance, bigtableadmin.googleapis.com/Cluster, bigtableadmin.googleapis.com/Instance compute.googleapis.com/Instance firestore.googleapis.com/Database, redis.googleapis.com/Instance, redis.googleapis.com/Cluster, oracledatabase.googleapis.com/CloudExadataInfrastructure oracledatabase.googleapis.com/CloudVmCluster oracledatabase.googleapis.com/AutonomousDatabase spanner.googleapis.com/Instance, spanner.googleapis.com/Database, sqladmin.googleapis.com/Instance, go/keep-sorted end REQUIRED Please refer go/condor-common-datamodel"
          }
        },
        "provider": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceIdProviderEnum",
          "traits": {
            "smithy.api#documentation": "Required. Cloud provider name. Ex: GCP/AWS/Azure/OnPrem/SelfManaged"
          }
        },
        "providerDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Needs to be used only when the provider is PROVIDER_OTHER."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DatabaseResourceId will serve as primary key for any resource ingestion event."
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceIdProviderEnum": {
      "type": "enum",
      "members": {
        "PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVIDER_UNSPECIFIED"
          }
        },
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCP"
          }
        },
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE"
          }
        },
        "ONPREM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONPREM"
          }
        },
        "SELFMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELFMANAGED"
          }
        },
        "PROVIDER_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVIDER_OTHER"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#MachineConfig": {
      "type": "structure",
      "members": {
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine type of the VM instance. E.g. \"n2-highmem-4\", \"n2-highmem-8\", \"c4a-highmem-4-lssd\". cpu_count must match the number of vCPUs in the machine type."
          }
        },
        "cpuCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of CPU's in the VM instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MachineConfig describes the configuration of a machine."
      }
    },
    "com.gcp.alloydb_v1alpha#Policy": {
      "type": "structure",
      "members": {
        "maxNodeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum number of nodes for the autoscaler."
          }
        },
        "cpuUtilization": {
          "target": "com.gcp.alloydb_v1alpha#CpuUtilization",
          "traits": {
            "smithy.api#documentation": "CPU utilization policy for the autoscaler."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, autoscaling is enabled for the instance. If not set, the default value is false."
          }
        },
        "coolDownPeriodSec": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The period of time in seconds after a new node is created before the autoscaler will incorporate its resource usage (e.g. CPU utilization) into the autoscaling recommendation algorithm."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for the autoscaler."
      }
    },
    "com.gcp.alloydb_v1alpha#FailoverInstanceRequest": {
      "type": "structure",
      "members": {
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for triggering failover on an Instance"
      }
    },
    "com.gcp.alloydb_v1alpha#DNSConfig": {
      "type": "structure",
      "members": {
        "dnsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified domain name (FQDN) of the DNS record, e.g., \".location.alloydb-psa.goog\"."
          }
        },
        "dnsRecordType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the DNS record, e.g., \"A\", \"AAAA\", \"CNAME\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The DNS config for the endpoint, containing the DNS record name, type and targets."
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceUpgradeDetails": {
      "type": "structure",
      "members": {
        "instanceType": {
          "target": "com.gcp.alloydb_v1alpha#InstanceUpgradeDetailsInstanceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Instance type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Normalized name of the instance."
          }
        },
        "upgradeStatus": {
          "target": "com.gcp.alloydb_v1alpha#InstanceUpgradeDetailsUpgradeStatusEnum",
          "traits": {
            "smithy.api#documentation": "Upgrade status of the instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details regarding the upgrade of instances associated with a cluster."
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceUpgradeDetailsInstanceTypeEnum": {
      "type": "enum",
      "members": {
        "INSTANCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_TYPE_UNSPECIFIED"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        },
        "READ_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_POOL"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECONDARY"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceUpgradeDetailsUpgradeStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STARTED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "PARTIAL_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_SUCCESS"
          }
        },
        "CANCEL_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL_IN_PROGRESS"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceNetworkConfig": {
      "type": "structure",
      "members": {
        "enableOutboundPublicIp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enabling an outbound public IP address to support a database server sending requests out into the internet."
          }
        },
        "authorizedExternalNetworks": {
          "target": "com.gcp.alloydb_v1alpha#AuthorizedNetworkList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of external network authorized to access this instance."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource link for the VPC network in which instance resources are created and from which they are accessible via Private IP. This will be the same value as the parent cluster's network. It is specified in the form: // `projects/{project_number}/global/networks/{network_id}`."
          }
        },
        "enablePublicIp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enabling public ip for the instance."
          }
        },
        "allocatedIpRangeOverride": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the allocated IP range for the private IP AlloyDB instance, for example: \"google-managed-services-default\". If set, the instance IPs will be created from this allocated range and will override the IP range used by the parent cluster. The range name must comply with [RFC 1035](https://datatracker.ietf.org/doc/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to instance-level network configuration."
      }
    },
    "com.gcp.alloydb_v1alpha#AuthorizedNetworkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#AuthorizedNetwork"
      }
    },
    "com.gcp.alloydb_v1alpha#BackupDrPitrSource": {
      "type": "structure",
      "members": {
        "pointInTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The point in time to restore to."
          }
        },
        "dataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing a BackupDrPitrSource."
      }
    },
    "com.gcp.alloydb_v1alpha#UpgradeClusterRequest": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.gcp.alloydb_v1alpha#UpgradeClusterRequestVersionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The version the cluster is going to be upgraded to."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, upgrade will be blocked and an ABORTED error will be returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Upgrades a cluster."
      }
    },
    "com.gcp.alloydb_v1alpha#UpgradeClusterRequestVersionEnum": {
      "type": "enum",
      "members": {
        "DATABASE_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_VERSION_UNSPECIFIED"
          }
        },
        "POSTGRES_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_13"
          }
        },
        "POSTGRES_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_14"
          }
        },
        "POSTGRES_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_15"
          }
        },
        "POSTGRES_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_16"
          }
        },
        "POSTGRES_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_17"
          }
        },
        "POSTGRES_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_18"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration": {
      "type": "structure",
      "members": {
        "backupdrManaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the resource is managed by BackupDR."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BackupDRConfiguration to capture the backup and disaster recovery details of database resource."
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainIpAddress": {
      "type": "structure",
      "members": {
        "publicIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The public IP address assigned to the resource. This IP is reachable from the internet. Stored in standard string format (e.g., \"34.72.1.1\")."
          }
        },
        "privateIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private IP address assigned to the resource within a Virtual Private Cloud (VPC). This IP is only reachable from within the same VPC network. Stored in standard string format (e.g., \"10.0.0.2\")."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used to send IP address information for a database resource."
      }
    },
    "com.gcp.alloydb_v1alpha#QuantityBasedRetention": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of backups to retain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A quantity based policy specifies that a certain number of the most recent successful backups should be retained."
      }
    },
    "com.gcp.alloydb_v1alpha#ReadPoolInstancesUpgradeStageStatus": {
      "type": "structure",
      "members": {
        "upgradeStats": {
          "target": "com.gcp.alloydb_v1alpha#Stats",
          "traits": {
            "smithy.api#documentation": "Read pool instances upgrade statistics."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Read pool instances upgrade specific status."
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainObservabilityMetricData": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Database resource name associated with the signal. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel"
          }
        },
        "observationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The time the metric value was observed."
          }
        },
        "metricType": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainObservabilityMetricDataMetricTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of metric like CPU, Memory, etc."
          }
        },
        "aggregationType": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainObservabilityMetricDataAggregationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of aggregation performed on the metric."
          }
        },
        "value": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterProtoCommonTypedValue",
          "traits": {
            "smithy.api#documentation": "Required. Value of the metric type."
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainObservabilityMetricDataMetricTypeEnum": {
      "type": "enum",
      "members": {
        "METRIC_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_TYPE_UNSPECIFIED"
          }
        },
        "CPU_UTILIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPU_UTILIZATION"
          }
        },
        "MEMORY_UTILIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMORY_UTILIZATION"
          }
        },
        "NETWORK_CONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_CONNECTIONS"
          }
        },
        "STORAGE_UTILIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE_UTILIZATION"
          }
        },
        "STORAGE_USED_BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE_USED_BYTES"
          }
        },
        "NODE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODE_COUNT"
          }
        },
        "MEMORY_USED_BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMORY_USED_BYTES"
          }
        },
        "PROCESSING_UNIT_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_UNIT_COUNT"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainObservabilityMetricDataAggregationTypeEnum": {
      "type": "enum",
      "members": {
        "AGGREGATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATION_TYPE_UNSPECIFIED"
          }
        },
        "PEAK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEAK"
          }
        },
        "P99": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P99"
          }
        },
        "P95": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P95"
          }
        },
        "CURRENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURRENT"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainSignalMetadata": {
      "type": "structure",
      "members": {
        "backupRun": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainBackupRun",
          "traits": {
            "smithy.api#documentation": "Signal data for backup runs."
          }
        },
        "signalBoolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Signal data for boolean signals."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SignalMetadata contains one of the signal metadata proto messages associated with a SignalType. This proto will be mapped to SignalMetadata message in storage.proto. Next ID: 3"
      }
    },
    "com.gcp.alloydb_v1alpha#Instance": {
      "type": "structure",
      "members": {
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For Resource freshness validation (https://google.aip.dev/154)"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time stamp"
          }
        },
        "labels": {
          "target": "com.gcp.alloydb_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels as key value pairs"
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "networkConfig": {
          "target": "com.gcp.alloydb_v1alpha#InstanceNetworkConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Instance-level network configuration."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The IP address for the Instance. This is the connection endpoint for an end-user application."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Delete time stamp"
          }
        },
        "readPoolConfig": {
          "target": "com.gcp.alloydb_v1alpha#ReadPoolConfig",
          "traits": {
            "smithy.api#documentation": "Read pool instance configuration. This is required if the value of instanceType is READ_POOL."
          }
        },
        "clientConnectionConfig": {
          "target": "com.gcp.alloydb_v1alpha#ClientConnectionConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Client connection specific configurations"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-settable and human-readable display name for the Instance."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Instance does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance."
          }
        },
        "gceZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Compute Engine zone that the instance should serve from, per https://cloud.google.com/compute/docs/regions-zones This can ONLY be specified for ZONAL instances. If present for a REGIONAL instance, an error will be thrown. If this is absent for a ZONAL instance, instance is created in a random zone with available capacity."
          }
        },
        "writableNode": {
          "target": "com.gcp.alloydb_v1alpha#Node",
          "traits": {
            "smithy.api#documentation": "Output only. This is set for the read-write VM of the PRIMARY instance only."
          }
        },
        "outboundPublicIpAddresses": {
          "target": "com.gcp.alloydb_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. All outbound public IP addresses configured for the instance."
          }
        },
        "state": {
          "target": "com.gcp.alloydb_v1alpha#InstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current serving state of the instance."
          }
        },
        "databaseFlags": {
          "target": "com.gcp.alloydb_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Database flags. Set at the instance level. They are copied from the primary instance on secondary instance creation. Flags that have restrictions default to the value at primary instance on read instances during creation. Read instances can set new flags or override existing flags that are relevant for reads, for example, for enabling columnar cache on a read instance. Flags set on read instance might or might not be present on the primary instance. This is a list of \"key\": \"value\" pairs. \"key\": The name of the flag. These flags are passed at instance setup time, so include both server options and system variables for Postgres. Flags are specified with underscores, not hyphens. \"value\": The value of the flag. Booleans are set to **on** for true and **off** for false. This field must be omitted if the flag doesn't take a value."
          }
        },
        "publicIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application."
          }
        },
        "maintenanceVersionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Maintenance version of the instance, for example: POSTGRES_15.2025_07_15.04_00. Output only. Update this field via the parent cluster's maintenance_version field(s)."
          }
        },
        "queryInsightsConfig": {
          "target": "com.gcp.alloydb_v1alpha#QueryInsightsInstanceConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for query insights."
          }
        },
        "gcaConfig": {
          "target": "com.gcp.alloydb_v1alpha#GCAInstanceConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Configuration parameters related to Gemini Cloud Assist."
          }
        },
        "dataApiAccess": {
          "target": "com.gcp.alloydb_v1alpha#InstanceDataApiAccessEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Controls whether the Data API is enabled for this instance. When enabled, this allows authorized users to connect to the instance from the public internet using the `executeSql` API, even for private IP instances. If this is not specified, the data API is enabled by default for Google internal services like AlloyDB Studio. Disable it explicitly to disallow Google internal services as well."
          }
        },
        "machineConfig": {
          "target": "com.gcp.alloydb_v1alpha#MachineConfig",
          "traits": {
            "smithy.api#documentation": "Configurations for the machines that host the underlying database engine."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted."
          }
        },
        "observabilityConfig": {
          "target": "com.gcp.alloydb_v1alpha#ObservabilityInstanceConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for observability."
          }
        },
        "pscInstanceConfig": {
          "target": "com.gcp.alloydb_v1alpha#PscInstanceConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration for Private Service Connect (PSC) for the instance."
          }
        },
        "geminiConfig": {
          "target": "com.gcp.alloydb_v1alpha#GeminiInstanceConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated and unused. This field will be removed in the near future."
          }
        },
        "availabilityType": {
          "target": "com.gcp.alloydb_v1alpha#InstanceAvailabilityTypeEnum",
          "traits": {
            "smithy.api#documentation": "Availability type of an Instance. If empty, defaults to REGIONAL for primary instances. For read pools, availability_type is always UNSPECIFIED. Instances in the read pools are evenly distributed across available zones within the region (i.e. read pools with more than one node will have a node in at least two zones)."
          }
        },
        "nodes": {
          "target": "com.gcp.alloydb_v1alpha#NodeList",
          "traits": {
            "smithy.api#documentation": "Output only. List of available read-only VMs in this instance, including the standby for a PRIMARY instance."
          }
        },
        "annotations": {
          "target": "com.gcp.alloydb_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128"
          }
        },
        "updatePolicy": {
          "target": "com.gcp.alloydb_v1alpha#UpdatePolicy",
          "traits": {
            "smithy.api#documentation": "Update policy that will be applied during instance update. This field is not persisted when you update the instance. To use a non-default update policy, you must specify explicitly specify the value in each update request."
          }
        },
        "activationPolicy": {
          "target": "com.gcp.alloydb_v1alpha#InstanceActivationPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether an instance needs to spin up. Once the instance is active, the activation policy can be updated to the `NEVER` to stop the instance. Likewise, the activation policy can be updated to `ALWAYS` to start the instance. There are restrictions around when an instance can/cannot be activated (for example, a read pool instance should be stopped before stopping primary etc.). Please refer to the API documentation for more details."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time stamp"
          }
        },
        "instanceType": {
          "target": "com.gcp.alloydb_v1alpha#InstanceInstanceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the instance. Specified at creation time."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the instance resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}/instances/{instance_id} where the cluster and instance ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the instance resource name is the name of the parent resource: * projects/{project}/locations/{region}/clusters/{cluster_id}"
          }
        },
        "connectionPoolConfig": {
          "target": "com.gcp.alloydb_v1alpha#ConnectionPoolConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration for Managed Connection Pool (MCP)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Instance is a computing unit that an end customer can connect to. It's the main unit of computing resources in AlloyDB."
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINTENANCE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "BOOTSTRAPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOTSTRAPPING"
          }
        },
        "PROMOTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTING"
          }
        },
        "SWITCHOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SWITCHOVER"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPING"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTING"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceDataApiAccessEnum": {
      "type": "enum",
      "members": {
        "DEFAULT_DATA_API_ENABLED_FOR_GOOGLE_CLOUD_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_DATA_API_ENABLED_FOR_GOOGLE_CLOUD_SERVICES"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceAvailabilityTypeEnum": {
      "type": "enum",
      "members": {
        "AVAILABILITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABILITY_TYPE_UNSPECIFIED"
          }
        },
        "ZONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZONAL"
          }
        },
        "REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#NodeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#Node"
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceActivationPolicyEnum": {
      "type": "enum",
      "members": {
        "ACTIVATION_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATION_POLICY_UNSPECIFIED"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEVER"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceInstanceTypeEnum": {
      "type": "enum",
      "members": {
        "INSTANCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_TYPE_UNSPECIFIED"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        },
        "READ_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_POOL"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECONDARY"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainBackupConfiguration": {
      "type": "structure",
      "members": {
        "pointInTimeRecoveryEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether point-in-time recovery is enabled. This is optional field, if the database service does not have this feature or metadata is not available in control plane, this can be omitted."
          }
        },
        "automatedBackupEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether customer visible automated backups are enabled on the instance."
          }
        },
        "backupRetentionSettings": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainRetentionSettings",
          "traits": {
            "smithy.api#documentation": "Backup retention settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for automatic backups"
      }
    },
    "com.gcp.alloydb_v1alpha#ImportClusterRequest": {
      "type": "structure",
      "members": {
        "gcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The path to the file in Google Cloud Storage where the source file for import will be stored. The URI is in the form `gs://bucketName/fileName`."
          }
        },
        "sqlImportOptions": {
          "target": "com.gcp.alloydb_v1alpha#SqlImportOptions",
          "traits": {
            "smithy.api#documentation": "Options for importing data in SQL format."
          }
        },
        "csvImportOptions": {
          "target": "com.gcp.alloydb_v1alpha#CsvImportOptions",
          "traits": {
            "smithy.api#documentation": "Options for importing data in CSV format."
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Database user to be used for importing the data. Note - Value provided should be the same as expected from `SELECT current_user;` and NOT as a resource reference."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the database to which the import will be done. For import from SQL file, this is required only if the file does not specify a database. Note - Value provided should be the same as expected from `SELECT current_database();` and NOT as a resource reference."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Import cluster request."
      }
    },
    "com.gcp.alloydb_v1alpha#ListBackupsResponse": {
      "type": "structure",
      "members": {
        "backups": {
          "target": "com.gcp.alloydb_v1alpha#BackupList",
          "traits": {
            "smithy.api#documentation": "The list of Backup"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.alloydb_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Backups"
      }
    },
    "com.gcp.alloydb_v1alpha#BackupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#Backup"
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainBackupRun": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the backup operation completed. REQUIRED"
          }
        },
        "status": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainBackupRunStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status of this run. REQUIRED"
          }
        },
        "error": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainOperationError",
          "traits": {
            "smithy.api#documentation": "Information about why the backup operation failed. This is only present if the run has the FAILED status. OPTIONAL"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the backup operation started. REQUIRED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A backup run."
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainBackupRunStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESSFUL"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterProtoCommonProduct": {
      "type": "structure",
      "members": {
        "engine": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterProtoCommonProductEngineEnum",
          "traits": {
            "smithy.api#documentation": "The specific engine that the underlying database is running."
          }
        },
        "type": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterProtoCommonProductTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of specific database product. It could be CloudSQL, AlloyDB etc.."
          }
        },
        "minorVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.32\", \"5.7.32\" etc.. For Postgres, it could be \"14.3\", \"15.3\" etc.."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc.. For Postgres, it could be \"14\", \"15\" etc.."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Product specification for Condor resources."
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterProtoCommonProductEngineEnum": {
      "type": "enum",
      "members": {
        "ENGINE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_UNSPECIFIED"
          }
        },
        "ENGINE_MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MYSQL"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL"
          }
        },
        "ENGINE_POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_POSTGRES"
          }
        },
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES"
          }
        },
        "ENGINE_SQL_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_SQL_SERVER"
          }
        },
        "SQL_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_SERVER"
          }
        },
        "ENGINE_NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_NATIVE"
          }
        },
        "NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE"
          }
        },
        "ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT"
          }
        },
        "ENGINE_CLOUD_SPANNER_WITH_GOOGLESQL_DIALECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_CLOUD_SPANNER_WITH_GOOGLESQL_DIALECT"
          }
        },
        "ENGINE_MEMORYSTORE_FOR_REDIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MEMORYSTORE_FOR_REDIS"
          }
        },
        "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER"
          }
        },
        "ENGINE_MEMORSTORE_FOR_VALKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MEMORSTORE_FOR_VALKEY"
          }
        },
        "ENGINE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_OTHER"
          }
        },
        "ENGINE_FIRESTORE_WITH_NATIVE_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_FIRESTORE_WITH_NATIVE_MODE"
          }
        },
        "ENGINE_FIRESTORE_WITH_DATASTORE_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_FIRESTORE_WITH_DATASTORE_MODE"
          }
        },
        "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE"
          }
        },
        "ENGINE_EXADATA_ORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_EXADATA_ORACLE"
          }
        },
        "ENGINE_ADB_SERVERLESS_ORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_ADB_SERVERLESS_ORACLE"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterProtoCommonProductTypeEnum": {
      "type": "enum",
      "members": {
        "PRODUCT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_UNSPECIFIED"
          }
        },
        "PRODUCT_TYPE_CLOUD_SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_CLOUD_SQL"
          }
        },
        "CLOUD_SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL"
          }
        },
        "PRODUCT_TYPE_ALLOYDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_ALLOYDB"
          }
        },
        "ALLOYDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOYDB"
          }
        },
        "PRODUCT_TYPE_SPANNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_SPANNER"
          }
        },
        "PRODUCT_TYPE_ON_PREM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_ON_PREM"
          }
        },
        "ON_PREM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_PREM"
          }
        },
        "PRODUCT_TYPE_MEMORYSTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_MEMORYSTORE"
          }
        },
        "PRODUCT_TYPE_BIGTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_BIGTABLE"
          }
        },
        "PRODUCT_TYPE_FIRESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_FIRESTORE"
          }
        },
        "PRODUCT_TYPE_COMPUTE_ENGINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_COMPUTE_ENGINE"
          }
        },
        "PRODUCT_TYPE_ORACLE_ON_GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_ORACLE_ON_GCP"
          }
        },
        "PRODUCT_TYPE_BIGQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_BIGQUERY"
          }
        },
        "PRODUCT_TYPE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_OTHER"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#WeeklySchedule": {
      "type": "structure",
      "members": {
        "startTimes": {
          "target": "com.gcp.alloydb_v1alpha#GoogleTypeTimeOfDayList",
          "traits": {
            "smithy.api#documentation": "The times during the day to start a backup. The start times are assumed to be in UTC and to be an exact hour (e.g., 04:00:00). If no start times are provided, a single fixed start time is chosen arbitrarily."
          }
        },
        "daysOfWeek": {
          "target": "com.gcp.alloydb_v1alpha#WeeklyScheduleDaysOfWeekItemEnumList",
          "traits": {
            "smithy.api#documentation": "The days of the week to perform a backup. If this field is left empty, the default of every day of the week is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A weekly schedule starts a backup at prescribed start times within a day, for the specified days of the week. The weekly schedule message is flexible and can be used to create many types of schedules. For example, to have a daily backup that starts at 22:00, configure the `start_times` field to have one element \"22:00\" and the `days_of_week` field to have all seven days of the week."
      }
    },
    "com.gcp.alloydb_v1alpha#GoogleTypeTimeOfDayList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#GoogleTypeTimeOfDay"
      }
    },
    "com.gcp.alloydb_v1alpha#WeeklyScheduleDaysOfWeekItemEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#WeeklyScheduleDaysOfWeekItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#WeeklyScheduleDaysOfWeekItemEnum"
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainCustomMetadataData": {
      "type": "structure",
      "members": {
        "internalResourceMetadata": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainInternalResourceMetadataList",
          "traits": {
            "smithy.api#documentation": "Metadata for individual internal resources in an instance. e.g. spanner instance can have multiple databases with unique configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Any custom metadata associated with the resource. e.g. A spanner instance can have multiple databases with its own unique metadata. Information for these individual databases can be captured in custom metadata data"
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainInternalResourceMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata"
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainUserLabels": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.alloydb_v1alpha#StringMap"
        }
      },
      "traits": {
        "smithy.api#documentation": "Message type for storing user labels. User labels are used to tag App Engine resources, allowing users to search for resources matching a set of labels and to aggregate usage data by labels."
      }
    },
    "com.gcp.alloydb_v1alpha#BackupSource": {
      "type": "structure",
      "members": {
        "backupUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The system-generated UID of the backup which was used to create this resource. The UID is generated when the backup is created, and it is retained until the backup is deleted."
          }
        },
        "backupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the backup resource with the format: * projects/{project}/locations/{region}/backups/{backup_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing a BackupSource."
      }
    },
    "com.gcp.alloydb_v1alpha#ObservabilityInstanceConfig": {
      "type": "structure",
      "members": {
        "queryPlansPerMinute": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of query execution plans captured by Insights per minute for all queries combined. The default value is 200. Any integer between 0 to 200 is considered valid."
          }
        },
        "trackClientAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Track client address for an instance. If not set, default value is \"off\"."
          }
        },
        "preserveComments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Preserve comments in query string for an instance. This flag is turned \"off\" by default."
          }
        },
        "trackActiveQueries": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Track actively running queries on the instance. If not set, this flag is \"off\" by default."
          }
        },
        "trackActiveQueryPlan": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether to track active query plans for an instance. If not set, the default value is \"off\". Can only be enabled if track_active_queries is enabled."
          }
        },
        "trackWaitEventTypes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Track wait event types during query execution for an instance. This flag is turned \"on\" by default but tracking is enabled only after observability enabled flag is also turned on. This is read-only flag and only modifiable by internal API."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Observability feature status for an instance. This flag is turned \"off\" by default."
          }
        },
        "trackWaitEvents": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Track wait events during query execution for an instance. This flag is turned \"on\" by default but tracking is enabled only after observability enabled flag is also turned on."
          }
        },
        "maxQueryStringLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Query string length. The default value is 10k."
          }
        },
        "recordApplicationTags": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Record application tags for an instance. This flag is turned \"off\" by default."
          }
        },
        "assistiveExperiencesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether assistive experiences are enabled for this AlloyDB instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Observability Instance specific configuration."
      }
    },
    "com.gcp.alloydb_v1alpha#ListSupportedDatabaseFlagsResponse": {
      "type": "structure",
      "members": {
        "supportedDatabaseFlags": {
          "target": "com.gcp.alloydb_v1alpha#SupportedDatabaseFlagList",
          "traits": {
            "smithy.api#documentation": "The list of SupportedDatabaseFlags."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing SupportedDatabaseFlags."
      }
    },
    "com.gcp.alloydb_v1alpha#SupportedDatabaseFlagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#SupportedDatabaseFlag"
      }
    },
    "com.gcp.alloydb_v1alpha#EncryptionConfig": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully-qualified resource name of the KMS key. Each Cloud KMS key is regionalized and has the following format: projects/[PROJECT]/locations/[REGION]/keyRings/[RING]/cryptoKeys/[KEY_NAME]"
          }
        }
      },
      "traits": {
[...]
