{
  "smithy": "2.0",
  "metadata": {
    "service": "analyticshub",
    "version": "v1beta1",
    "title": "Analytics Hub API",
    "baseUrl": "https://analyticshub.googleapis.com/"
  },
  "shapes": {
    "com.gcp.analyticshub_v1beta1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.analyticshub_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.analyticshub_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.analyticshub_v1beta1#OperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of a long-running operation in Analytics Hub."
      }
    },
    "com.gcp.analyticshub_v1beta1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.analyticshub_v1beta1#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.analyticshub_v1beta1#ListDataExchangesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of results."
          }
        },
        "dataExchanges": {
          "target": "com.gcp.analyticshub_v1beta1#DataExchangeList",
          "traits": {
            "smithy.api#documentation": "The list of data exchanges."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to the list of data exchanges."
      }
    },
    "com.gcp.analyticshub_v1beta1#DataExchangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1beta1#DataExchange"
      }
    },
    "com.gcp.analyticshub_v1beta1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.analyticshub_v1beta1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.analyticshub_v1beta1#LinkedResource": {
      "type": "structure",
      "members": {
        "linkedPubsubSubscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Pub/Sub subscription, e.g. projects/subscriberproject/subscriptions/subscriptions/sub_id"
          }
        },
        "linkedDataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the linked dataset, e.g. projects/subscriberproject/datasets/linked_dataset"
          }
        },
        "listing": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Listing for which linked resource is created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to a linked resource tracked by this Subscription."
      }
    },
    "com.gcp.analyticshub_v1beta1#Subscription": {
      "type": "structure",
      "members": {
        "linkedDatasetMap": {
          "target": "com.gcp.analyticshub_v1beta1#LinkedResourceMap",
          "traits": {
            "smithy.api#documentation": "Output only. Map of listing resource names to associated linked resource, e.g. projects/123/locations/us/dataExchanges/456/listings/789 -> projects/123/datasets/my_dataset For listing-level subscriptions, this is a map of size 1. Only contains values if state == STATE_ACTIVE."
          }
        },
        "logLinkedDatasetQueryUserEmail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. By default, false. If true, the Subscriber agreed to the email sharing mandate that is enabled for DataExchange/Listing."
          }
        },
        "lastModifyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the subscription was last modified."
          }
        },
        "state": {
          "target": "com.gcp.analyticshub_v1beta1#SubscriptionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the subscription."
          }
        },
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Organization of the project this subscription belongs to."
          }
        },
        "commercialInfo": {
          "target": "com.gcp.analyticshub_v1beta1#CommercialInfo",
          "traits": {
            "smithy.api#documentation": "Output only. This is set if this is a commercial subscription i.e. if this subscription was created from subscribing to a commercial listing."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the subscription was created."
          }
        },
        "linkedResources": {
          "target": "com.gcp.analyticshub_v1beta1#LinkedResourceList",
          "traits": {
            "smithy.api#documentation": "Output only. Linked resources created in the subscription. Only contains values if state = STATE_ACTIVE."
          }
        },
        "organizationDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name of the project of this subscription."
          }
        },
        "dataExchange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the source Data Exchange. e.g. projects/123/locations/us/dataExchanges/456"
          }
        },
        "listing": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the source Listing. e.g. projects/123/locations/us/dataExchanges/456/listings/789"
          }
        },
        "resourceType": {
          "target": "com.gcp.analyticshub_v1beta1#SubscriptionResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Listing shared asset type."
          }
        },
        "subscriberContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Email of the subscriber."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the subscription. e.g. `projects/myproject/locations/us/subscriptions/123`."
          }
        },
        "destinationDataset": {
          "target": "com.gcp.analyticshub_v1beta1#DestinationDataset",
          "traits": {
            "smithy.api#documentation": "Optional. BigQuery destination dataset to create for the subscriber."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A subscription represents a subscribers' access to a particular set of published data. It contains references to associated listings, data exchanges, and linked datasets."
      }
    },
    "com.gcp.analyticshub_v1beta1#LinkedResourceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.analyticshub_v1beta1#LinkedResource"
      }
    },
    "com.gcp.analyticshub_v1beta1#SubscriptionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_ACTIVE"
          }
        },
        "STATE_STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_STALE"
          }
        },
        "STATE_INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_INACTIVE"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#LinkedResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1beta1#LinkedResource"
      }
    },
    "com.gcp.analyticshub_v1beta1#SubscriptionResourceTypeEnum": {
      "type": "enum",
      "members": {
        "SHARED_RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "BIGQUERY_DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGQUERY_DATASET"
          }
        },
        "PUBSUB_TOPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBSUB_TOPIC"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#DestinationDatasetReference": {
      "type": "structure",
      "members": {
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the project containing this dataset."
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#DataProvider": {
      "type": "structure",
      "members": {
        "primaryContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Email or URL of the data provider. Max Length: 1000 bytes."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the data provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains details of the data provider."
      }
    },
    "com.gcp.analyticshub_v1beta1#GoogleCloudBigqueryDataexchangeV1beta1DestinationDataset": {
      "type": "structure",
      "members": {
        "datasetReference": {
          "target": "com.gcp.analyticshub_v1beta1#GoogleCloudBigqueryDataexchangeV1beta1DestinationDatasetReference",
          "traits": {
            "smithy.api#documentation": "Required. A reference that identifies the destination dataset."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A user-friendly description of the dataset."
          }
        },
        "friendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A descriptive name for the dataset."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations."
          }
        },
        "labels": {
          "target": "com.gcp.analyticshub_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See https://cloud.google.com/resource-manager/docs/creating-managing-labels for more information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the destination bigquery dataset."
      }
    },
    "com.gcp.analyticshub_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.analyticshub_v1beta1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.analyticshub_v1beta1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.analyticshub_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.analyticshub_v1beta1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#ListListingsResponse": {
      "type": "structure",
      "members": {
        "listings": {
          "target": "com.gcp.analyticshub_v1beta1#ListingList",
          "traits": {
            "smithy.api#documentation": "The list of Listing."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to the list of Listings."
      }
    },
    "com.gcp.analyticshub_v1beta1#ListingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1beta1#Listing"
      }
    },
    "com.gcp.analyticshub_v1beta1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.analyticshub_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.analyticshub_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.analyticshub_v1beta1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.analyticshub_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.analyticshub_v1beta1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.analyticshub_v1beta1#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.analyticshub_v1beta1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.analyticshub_v1beta1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1beta1#AuditLogConfig"
      }
    },
    "com.gcp.analyticshub_v1beta1#CommercialInfo": {
      "type": "structure",
      "members": {
        "cloudMarketplace": {
          "target": "com.gcp.analyticshub_v1beta1#GoogleCloudMarketplaceInfo",
          "traits": {
            "smithy.api#documentation": "Output only. This is set when the subscription is commercialised via Cloud Marketplace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Commercial info metadata for this subscription."
      }
    },
    "com.gcp.analyticshub_v1beta1#BigQueryDatasetSource": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the dataset source for this listing. e.g. `projects/myproject/datasets/123`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a shared dataset. It is an existing BigQuery dataset with a collection of objects such as tables and views that you want to share with subscribers. When subscriber's subscribe to a listing, Analytics Hub creates a linked dataset in the subscriber's project. A Linked dataset is an opaque, read-only BigQuery dataset that serves as a _symbolic link_ to a shared dataset."
      }
    },
    "com.gcp.analyticshub_v1beta1#DataExchange": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human-readable display name of the data exchange. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (&) and must not start or end with spaces. Default value is an empty string. Max length: 63 bytes."
          }
        },
        "primaryContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Email or URL of the primary point of contact of the data exchange. Max Length: 1000 bytes."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`."
          }
        },
        "documentation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Documentation describing the data exchange."
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Base64 encoded image representing the data exchange. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the content of the fields are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the data exchange. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes."
          }
        },
        "listingCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of listings contained in the data exchange."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A data exchange is a container that lets you share data. Along with the descriptive information about the data exchange, it contains listings that reference shared datasets."
      }
    },
    "com.gcp.analyticshub_v1beta1#Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.analyticshub_v1beta1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.analyticshub_v1beta1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.analyticshub_v1beta1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1beta1#Binding"
      }
    },
    "com.gcp.analyticshub_v1beta1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1beta1#AuditConfig"
      }
    },
    "com.gcp.analyticshub_v1beta1#Publisher": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the listing publisher."
          }
        },
        "primaryContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Email or URL of the listing publisher. Max Length: 1000 bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains details of the listing publisher."
      }
    },
    "com.gcp.analyticshub_v1beta1#RefreshSubscriptionResponse": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "com.gcp.analyticshub_v1beta1#Subscription",
          "traits": {
            "smithy.api#documentation": "The refreshed subscription resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response when you refresh a subscription."
      }
    },
    "com.gcp.analyticshub_v1beta1#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.analyticshub_v1beta1#GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.analyticshub_v1beta1#SubscribeListingRequest": {
      "type": "structure",
      "members": {
        "destinationDataset": {
          "target": "com.gcp.analyticshub_v1beta1#GoogleCloudBigqueryDataexchangeV1beta1DestinationDataset",
          "traits": {
            "smithy.api#documentation": "BigQuery destination dataset to create for the subscriber."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for subscribing to a listing."
      }
    },
    "com.gcp.analyticshub_v1beta1#Listing": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Short description of the listing. The description must not contain Unicode non-characters and C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes."
          }
        },
        "documentation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Documentation describing the listing."
          }
        },
        "state": {
          "target": "com.gcp.analyticshub_v1beta1#ListingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the listing."
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Base64 encoded image representing the listing. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the contents of the field are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire."
          }
        },
        "dataProvider": {
          "target": "com.gcp.analyticshub_v1beta1#DataProvider",
          "traits": {
            "smithy.api#documentation": "Optional. Details of the data provider who owns the source data."
          }
        },
        "categories": {
          "target": "com.gcp.analyticshub_v1beta1#ListingCategoriesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Categories of the listing. Up to five categories are allowed."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human-readable display name of the listing. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (&) and can't start or end with spaces. Default value is an empty string. Max length: 63 bytes."
          }
        },
        "primaryContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Email or URL of the primary point of contact of the listing. Max Length: 1000 bytes."
          }
        },
        "restrictedExportConfig": {
          "target": "com.gcp.analyticshub_v1beta1#RestrictedExportConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If set, restricted export configuration will be propagated and enforced on the linked dataset. This is a required field for data clean room exchanges."
          }
        },
        "allowOnlyMetadataSharing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the listing is only available to get the resource metadata. Listing is non subscribable."
          }
        },
        "publisher": {
          "target": "com.gcp.analyticshub_v1beta1#Publisher",
          "traits": {
            "smithy.api#documentation": "Optional. Details of the publisher who owns the listing and who can share the source data."
          }
        },
        "requestAccess": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Email or URL of the request access of the listing. Subscribers can use this reference to request access. Max Length: 1000 bytes."
          }
        },
        "bigqueryDataset": {
          "target": "com.gcp.analyticshub_v1beta1#BigQueryDatasetSource",
          "traits": {
            "smithy.api#documentation": "Required. Shared dataset i.e. BigQuery dataset source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A listing is what gets published into a data exchange that a subscriber can subscribe to. It contains a reference to the data source along with descriptive information that will help subscribers find and subscribe the data."
      }
    },
    "com.gcp.analyticshub_v1beta1#ListingStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#ListingCategoriesItemEnum": {
      "type": "enum",
      "members": {
        "CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_UNSPECIFIED"
          }
        },
        "CATEGORY_OTHERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_OTHERS"
          }
        },
        "CATEGORY_ADVERTISING_AND_MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_ADVERTISING_AND_MARKETING"
          }
        },
        "CATEGORY_COMMERCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_COMMERCE"
          }
        },
        "CATEGORY_CLIMATE_AND_ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_CLIMATE_AND_ENVIRONMENT"
          }
        },
        "CATEGORY_DEMOGRAPHICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_DEMOGRAPHICS"
          }
        },
        "CATEGORY_ECONOMICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_ECONOMICS"
          }
        },
        "CATEGORY_EDUCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_EDUCATION"
          }
        },
        "CATEGORY_ENERGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_ENERGY"
          }
        },
        "CATEGORY_FINANCIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_FINANCIAL"
          }
        },
        "CATEGORY_GAMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_GAMING"
          }
        },
        "CATEGORY_GEOSPATIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_GEOSPATIAL"
          }
        },
        "CATEGORY_HEALTHCARE_AND_LIFE_SCIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_HEALTHCARE_AND_LIFE_SCIENCE"
          }
        },
        "CATEGORY_MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_MEDIA"
          }
        },
        "CATEGORY_PUBLIC_SECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_PUBLIC_SECTOR"
          }
        },
        "CATEGORY_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_RETAIL"
          }
        },
        "CATEGORY_SPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_SPORTS"
          }
        },
        "CATEGORY_SCIENCE_AND_RESEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_SCIENCE_AND_RESEARCH"
          }
        },
        "CATEGORY_TRANSPORTATION_AND_LOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_TRANSPORTATION_AND_LOGISTICS"
          }
        },
        "CATEGORY_TRAVEL_AND_TOURISM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_TRAVEL_AND_TOURISM"
          }
        },
        "CATEGORY_GOOGLE_EARTH_ENGINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_GOOGLE_EARTH_ENGINE"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#ListingCategoriesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1beta1#ListingCategoriesItemEnum"
      }
    },
    "com.gcp.analyticshub_v1beta1#RestrictedExportConfig": {
      "type": "structure",
      "members": {
        "restrictDirectTableAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, restrict direct table access(read api/tabledata.list) on linked table."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, enable restricted export."
          }
        },
        "restrictQueryResult": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, restrict export of query result derived from restricted linked dataset table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Restricted export config, used to configure restricted export on linked dataset."
      }
    },
    "com.gcp.analyticshub_v1beta1#SubscribeDataExchangeResponse": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "com.gcp.analyticshub_v1beta1#Subscription",
          "traits": {
            "smithy.api#documentation": "Subscription object created from this subscribe action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response when you subscribe to a Data Exchange."
      }
    },
    "com.gcp.analyticshub_v1beta1#SubscribeListingResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for response when you subscribe to a listing."
      }
    },
    "com.gcp.analyticshub_v1beta1#GoogleCloudMarketplaceInfo": {
      "type": "structure",
      "members": {
        "order": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the Marketplace Order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud Marketplace commercial metadata for this subscription."
      }
    },
    "com.gcp.analyticshub_v1beta1#ListOrgDataExchangesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of results."
          }
        },
        "dataExchanges": {
          "target": "com.gcp.analyticshub_v1beta1#DataExchangeList",
          "traits": {
            "smithy.api#documentation": "The list of data exchanges."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing data exchanges in an organization and location."
      }
    },
    "com.gcp.analyticshub_v1beta1#GoogleCloudBigqueryDataexchangeV1beta1DestinationDatasetReference": {
      "type": "structure",
      "members": {
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the project containing this dataset."
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#DestinationDataset": {
      "type": "structure",
      "members": {
        "friendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A descriptive name for the dataset."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations."
          }
        },
        "datasetReference": {
          "target": "com.gcp.analyticshub_v1beta1#DestinationDatasetReference",
          "traits": {
            "smithy.api#documentation": "Required. A reference that identifies the destination dataset."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A user-friendly description of the dataset."
          }
        },
        "labels": {
          "target": "com.gcp.analyticshub_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See https://cloud.google.com/resource-manager/docs/creating-managing-labels for more information."
          }
        },
        "replicaLocations": {
          "target": "com.gcp.analyticshub_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The geographic locations where the dataset should be replicated. See [BigQuery locations](https://cloud.google.com/bigquery/docs/locations) for supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the destination bigquery dataset."
      }
    },
    "com.gcp.analyticshub_v1beta1#GetProjectsLocationsDataExchangesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.analyticshub_v1beta1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.analyticshub_v1beta1#GetProjectsLocationsDataExchanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#GetProjectsLocationsDataExchangesRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#DataExchange"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets the details of a data exchange."
      }
    },
    "com.gcp.analyticshub_v1beta1#CreateProjectsLocationsDataExchangesRequest": {
      "type": "structure",
      "members": {
        "dataExchangeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the data exchange. Must contain only Unicode letters, numbers (0-9), underscores (_). Should not use characters that require URL-escaping, or characters outside of ASCII, spaces. Max length: 100 bytes.",
            "smithy.api#httpQuery": "dataExchangeId"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource path of the data exchange. e.g. `projects/myproject/locations/us`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.analyticshub_v1beta1#DataExchange",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.analyticshub_v1beta1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.analyticshub_v1beta1#CreateProjectsLocationsDataExchanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#CreateProjectsLocationsDataExchangesRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#DataExchange"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+parent}/dataExchanges"
        },
        "smithy.api#documentation": "Creates a new data exchange."
      }
    },
    "com.gcp.analyticshub_v1beta1#PatchProjectsLocationsDataExchangesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Field mask specifies the fields to update in the data exchange resource. The fields specified in the `updateMask` are relative to the resource and are not a full request.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.analyticshub_v1beta1#DataExchange",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#PatchProjectsLocationsDataExchanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#PatchProjectsLocationsDataExchangesRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#DataExchange"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates an existing data exchange."
      }
    },
    "com.gcp.analyticshub_v1beta1#DeleteProjectsLocationsDataExchangesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full name of the data exchange resource that you want to delete. For example, `projects/myproject/locations/us/dataExchanges/123`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#DeleteProjectsLocationsDataExchanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#DeleteProjectsLocationsDataExchangesRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes an existing data exchange."
      }
    },
    "com.gcp.analyticshub_v1beta1#SetIamPolicyProjectsLocationsDataExchangesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.analyticshub_v1beta1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#SetIamPolicyProjectsLocationsDataExchanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#SetIamPolicyProjectsLocationsDataExchangesRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the IAM policy."
      }
    },
    "com.gcp.analyticshub_v1beta1#TestIamPermissionsProjectsLocationsDataExchangesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.analyticshub_v1beta1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#TestIamPermissionsProjectsLocationsDataExchanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#TestIamPermissionsProjectsLocationsDataExchangesRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns the permissions that a caller has."
      }
    },
    "com.gcp.analyticshub_v1beta1#ListProjectsLocationsDataExchangesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token, returned by a previous call, to request the next page of results.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource path of the data exchanges. e.g. `projects/myproject/locations/us`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#ListProjectsLocationsDataExchanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#ListProjectsLocationsDataExchangesRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#ListDataExchangesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/dataExchanges"
        },
        "smithy.api#documentation": "Lists all data exchanges in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#GetIamPolicyProjectsLocationsDataExchangesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.analyticshub_v1beta1#GetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#GetIamPolicyProjectsLocationsDataExchanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#GetIamPolicyProjectsLocationsDataExchangesRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the IAM policy."
      }
    },
    "com.gcp.analyticshub_v1beta1#ListProjectsLocationsDataExchangesListingsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource path of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token, returned by a previous call, to request the next page of results.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#ListProjectsLocationsDataExchangesListings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#ListProjectsLocationsDataExchangesListingsRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#ListListingsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/listings"
        },
        "smithy.api#documentation": "Lists all listings in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#GetIamPolicyProjectsLocationsDataExchangesListingsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.analyticshub_v1beta1#GetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#GetIamPolicyProjectsLocationsDataExchangesListings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#GetIamPolicyProjectsLocationsDataExchangesListingsRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the IAM policy."
      }
    },
    "com.gcp.analyticshub_v1beta1#PatchProjectsLocationsDataExchangesListingsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Field mask specifies the fields to update in the listing resource. The fields specified in the `updateMask` are relative to the resource and are not a full request.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.analyticshub_v1beta1#Listing",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#PatchProjectsLocationsDataExchangesListings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#PatchProjectsLocationsDataExchangesListingsRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#Listing"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates an existing listing."
      }
    },
    "com.gcp.analyticshub_v1beta1#DeleteProjectsLocationsDataExchangesListingsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the listing to delete. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#DeleteProjectsLocationsDataExchangesListings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#DeleteProjectsLocationsDataExchangesListingsRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes a listing."
      }
    },
    "com.gcp.analyticshub_v1beta1#SetIamPolicyProjectsLocationsDataExchangesListingsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.analyticshub_v1beta1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#SetIamPolicyProjectsLocationsDataExchangesListings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#SetIamPolicyProjectsLocationsDataExchangesListingsRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the IAM policy."
      }
    },
    "com.gcp.analyticshub_v1beta1#TestIamPermissionsProjectsLocationsDataExchangesListingsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.analyticshub_v1beta1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#TestIamPermissionsProjectsLocationsDataExchangesListings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#TestIamPermissionsProjectsLocationsDataExchangesListingsRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns the permissions that a caller has."
      }
    },
    "com.gcp.analyticshub_v1beta1#GetProjectsLocationsDataExchangesListingsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#GetProjectsLocationsDataExchangesListings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#GetProjectsLocationsDataExchangesListingsRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#Listing"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets the details of a listing."
      }
    },
    "com.gcp.analyticshub_v1beta1#SubscribeProjectsLocationsDataExchangesListingsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the listing that you want to subscribe to. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.analyticshub_v1beta1#SubscribeListingRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#SubscribeProjectsLocationsDataExchangesListings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#SubscribeProjectsLocationsDataExchangesListingsRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#SubscribeListingResponse"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:subscribe"
        },
        "smithy.api#documentation": "Subscribes to a listing. Currently, with Analytics Hub, you can create listings that reference only BigQuery datasets. Upon subscription to a listing for a BigQuery dataset, Analytics Hub creates a linked dataset in the subscriber's project."
      }
    },
    "com.gcp.analyticshub_v1beta1#CreateProjectsLocationsDataExchangesListingsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource path of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "listingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the listing to create. Must contain only Unicode letters, numbers (0-9), underscores (_). Should not use characters that require URL-escaping, or characters outside of ASCII, spaces. Max length: 100 bytes.",
            "smithy.api#httpQuery": "listingId"
          }
        },
        "body": {
          "target": "com.gcp.analyticshub_v1beta1#Listing",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#CreateProjectsLocationsDataExchangesListings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#CreateProjectsLocationsDataExchangesListingsRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#Listing"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+parent}/listings"
        },
        "smithy.api#documentation": "Creates a new listing."
      }
    },
    "com.gcp.analyticshub_v1beta1#ListOrganizationsLocationsDataExchangesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The organization resource path of the projects containing DataExchanges. e.g. `organizations/myorg/locations/us`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token, returned by a previous call, to request the next page of results.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1beta1#ListOrganizationsLocationsDataExchanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.analyticshub_v1beta1#ListOrganizationsLocationsDataExchangesRequest"
      },
      "output": {
        "target": "com.gcp.analyticshub_v1beta1#ListOrgDataExchangesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.analyticshub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.analyticshub_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+organization}/dataExchanges"
        },
        "smithy.api#documentation": "Lists all data exchanges from projects in a given organization and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    }
  }
}
