{
  "smithy": "2.0",
  "metadata": {
    "service": "analyticsadmin",
    "version": "v1alpha",
    "title": "Google Analytics Admin API",
    "baseUrl": "https://analyticsadmin.googleapis.com/"
  },
  "shapes": {
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.analyticsadmin_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The list of possible string values to match against. Must be non-empty."
          }
        },
        "caseSensitive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter for a string dimension that matches a particular list of options."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessDimensionHeader": {
      "type": "structure",
      "members": {
        "dimensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The dimension's name; for example 'userEmail'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal": {
      "type": "structure",
      "members": {
        "advertiserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The Display & Video 360 Advertiser's advertiser ID."
          }
        },
        "validationEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. On a proposal being sent to Display & Video 360, this field must be set to the email address of an admin on the target advertiser. This is used to verify that the Google Analytics admin is aware of at least one admin on the Display & Video 360 Advertiser. This does not restrict approval of the proposal to a single user. Any admin on the Display & Video 360 Advertiser may approve the proposal."
          }
        },
        "adsPersonalizationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Immutable. Enables personalized advertising features with this integration. If this field is not set on create, it will be defaulted to true."
          }
        },
        "costDataSharingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Immutable. Enables the import of cost data from Display & Video 360. This can only be enabled if campaign_data_sharing_enabled is enabled. If this field is not set on create, it will be defaulted to true."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name for this DisplayVideo360AdvertiserLinkProposal resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinkProposals/{proposalId} Note: proposalId is not the Display & Video 360 Advertiser ID"
          }
        },
        "advertiserDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the Display & Video Advertiser. Only populated for proposals that originated from Display & Video 360."
          }
        },
        "campaignDataSharingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Immutable. Enables the import of campaign data from Display & Video 360. If this field is not set on create, it will be defaulted to true."
          }
        },
        "linkProposalStatusDetails": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails",
          "traits": {
            "smithy.api#documentation": "Output only. The status information for this link proposal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A proposal for a link between a Google Analytics property and a Display & Video 360 advertiser. A proposal is converted to a DisplayVideo360AdvertiserLink once approved. Google Analytics admins approve inbound proposals while Display & Video 360 admins approve outbound proposals."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaBigQueryLink": {
      "type": "structure",
      "members": {
        "exportStreams": {
          "target": "com.gcp.analyticsadmin_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "The list of streams under the parent property for which data will be exported. Format: properties/{property_id}/dataStreams/{stream_id} Example: ['properties/1000/dataStreams/2000']"
          }
        },
        "dailyExportEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set true, enables daily data export to the linked Google Cloud project."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of this BigQuery link. Format: 'properties/{property_id}/bigQueryLinks/{bigquery_link_id}' Format: 'properties/1234/bigQueryLinks/abc567'"
          }
        },
        "streamingExportEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set true, enables streaming export to the linked Google Cloud project."
          }
        },
        "datasetLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The geographic location where the created BigQuery dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations."
          }
        },
        "excludedEvents": {
          "target": "com.gcp.analyticsadmin_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "The list of event names that will be excluded from exports."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the link was created."
          }
        },
        "freshDailyExportEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set true, enables fresh daily export to the linked Google Cloud project."
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The linked Google Cloud project. When creating a BigQueryLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, the returned project will always have a project that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'"
          }
        },
        "includeAdvertisingId": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set true, exported data will include advertising identifiers for mobile app streams."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A link between a Google Analytics property and BigQuery project."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessMetricValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The measurement value. For example, this value may be '13'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The value of a metric."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse": {
      "type": "structure",
      "members": {
        "accessBindings": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessBindingList",
          "traits": {
            "smithy.api#documentation": "The requested access bindings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BatchGetAccessBindings RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessBindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessBinding"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaGoogleSignalsSettings": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\""
          }
        },
        "state": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaGoogleSignalsSettingsStateEnum",
          "traits": {
            "smithy.api#documentation": "Status of this setting."
          }
        },
        "consent": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaGoogleSignalsSettingsConsentEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Terms of Service acceptance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings values for Google Signals. This is a singleton resource."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaGoogleSignalsSettingsStateEnum": {
      "type": "enum",
      "members": {
        "GOOGLE_SIGNALS_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SIGNALS_STATE_UNSPECIFIED"
          }
        },
        "GOOGLE_SIGNALS_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SIGNALS_ENABLED"
          }
        },
        "GOOGLE_SIGNALS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SIGNALS_DISABLED"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaGoogleSignalsSettingsConsentEnum": {
      "type": "enum",
      "members": {
        "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED"
          }
        },
        "GOOGLE_SIGNALS_CONSENT_CONSENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SIGNALS_CONSENT_CONSENTED"
          }
        },
        "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "calculatedMetrics": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaCalculatedMetricList",
          "traits": {
            "smithy.api#documentation": "List of CalculatedMetrics."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListCalculatedMetrics RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaCalculatedMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaCalculatedMetric"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter": {
      "type": "structure",
      "members": {
        "stringFilter": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter",
          "traits": {
            "smithy.api#documentation": "A filter for a string-type dimension that matches a particular pattern."
          }
        },
        "inListFilter": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter",
          "traits": {
            "smithy.api#documentation": "A filter for a string dimension that matches a particular list of options."
          }
        },
        "numericFilter": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter",
          "traits": {
            "smithy.api#documentation": "A filter for numeric or date values on a dimension or metric."
          }
        },
        "betweenFilter": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter",
          "traits": {
            "smithy.api#documentation": "A filter for numeric or date values between certain values on a dimension or metric."
          }
        },
        "atAnyPointInTime": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether this filter needs dynamic evaluation or not. If set to true, users join the Audience if they ever met the condition (static evaluation). If unset or set to false, user evaluation for an Audience is dynamic; users are added to an Audience when they meet the conditions and then removed when they no longer meet them. This can only be set when Audience scope is ACROSS_ALL_SESSIONS."
          }
        },
        "inAnyNDayPeriod": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. If set, specifies the time window for which to evaluate data in number of days. If not set, then audience data is evaluated against lifetime data (For example, infinite time window). For example, if set to 1 day, only the current day's data is evaluated. The reference point is the current day when at_any_point_in_time is unset or false. It can only be set when Audience scope is ACROSS_ALL_SESSIONS and cannot be greater than 60 days."
          }
        },
        "fieldName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The dimension name or metric name to filter. If the field name refers to a custom dimension or metric, a scope prefix will be added to the front of the custom dimensions or metric name. For more on scope prefixes or custom dimensions/metrics, reference the [Google Analytics Data API documentation] (https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#custom_dimensions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A specific filter for a single dimension or metric."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessStringFilter": {
      "type": "structure",
      "members": {
        "matchType": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessStringFilterMatchTypeEnum",
          "traits": {
            "smithy.api#documentation": "The match type for this filter."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string value used for the matching."
          }
        },
        "caseSensitive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the string value is case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The filter for strings."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessStringFilterMatchTypeEnum": {
      "type": "enum",
      "members": {
        "MATCH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_TYPE_UNSPECIFIED"
          }
        },
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXACT"
          }
        },
        "BEGINS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEGINS_WITH"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDS_WITH"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "FULL_REGEXP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL_REGEXP"
          }
        },
        "PARTIAL_REGEXP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_REGEXP"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "type": "structure",
      "members": {
        "sharingWithGoogleSupportEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the \"Technical support\" field in the Google Analytics Admin UI."
          }
        },
        "sharingWithGoogleAnySalesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated. This field is no longer used and always returns false."
          }
        },
        "sharingWithGoogleProductsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows Google to use the data to improve other Google products or services. This fields maps to the \"Google products & services\" field in the Google Analytics Admin UI."
          }
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the \"Recommendations for your business\" field in the Google Analytics Admin UI."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\""
          }
        },
        "sharingWithOthersEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the \"Modeling contributions & business insights\" field in the Google Analytics Admin UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource message representing data sharing settings of a Google Analytics account."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaChangeHistoryEvent": {
      "type": "structure",
      "members": {
        "changeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when change was made."
          }
        },
        "actorType": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaChangeHistoryEventActorTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of actor that made this change."
          }
        },
        "changes": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaChangeHistoryChangeList",
          "traits": {
            "smithy.api#documentation": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this change history event. This ID is unique across Google Analytics."
          }
        },
        "changesFiltered": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event."
          }
        },
        "userActorEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaChangeHistoryEventActorTypeEnum": {
      "type": "enum",
      "members": {
        "ACTOR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTOR_TYPE_UNSPECIFIED"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM"
          }
        },
        "SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPPORT"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaChangeHistoryChangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaChangeHistoryChange"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessRow": {
      "type": "structure",
      "members": {
        "dimensionValues": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessDimensionValueList",
          "traits": {
            "smithy.api#documentation": "List of dimension values. These values are in the same order as specified in the request."
          }
        },
        "metricValues": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessMetricValueList",
          "traits": {
            "smithy.api#documentation": "List of metric values. These values are in the same order as specified in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Access report data for each row."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessDimensionValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessDimensionValue"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessMetricValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessMetricValue"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression": {
      "type": "structure",
      "members": {
        "orGroup": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList",
          "traits": {
            "smithy.api#documentation": "A list of expressions to OR’ed together. Must only contain not_expression or filter_condition expressions."
          }
        },
        "notExpression": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
          "traits": {
            "smithy.api#documentation": "A filter expression to be NOT'ed (inverted, complemented). It can only include a filter. This cannot be set on the top level SubpropertyEventFilterExpression."
          }
        },
        "filterCondition": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSubpropertyEventFilterCondition",
          "traits": {
            "smithy.api#documentation": "Creates a filter that matches a specific event. This cannot be set on the top level SubpropertyEventFilterExpression."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A logical expression of Subproperty event filters."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaRollupPropertySourceLink": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of this RollupPropertySourceLink. Format: 'properties/{property_id}/rollupPropertySourceLinks/{rollup_property_source_link}' Format: 'properties/123/rollupPropertySourceLinks/456'"
          }
        },
        "sourceProperty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Resource name of the source property. Format: properties/{property_id} Example: \"properties/789\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A link that references a source property under the parent rollup property."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaListAccessBindingsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "accessBindings": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessBindingList",
          "traits": {
            "smithy.api#documentation": "List of AccessBindings. These will be ordered stably, but in an arbitrary order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListAccessBindings RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaCreateAccessBindingRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The requests specifying the access bindings to create. A maximum of 1000 access bindings can be created in a batch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for BatchCreateAccessBindings RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaCreateAccessBindingRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessMetricHeader": {
      "type": "structure",
      "members": {
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The metric's name; for example 'accessCount'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessMetric": {
      "type": "structure",
      "members": {
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaListRollupPropertySourceLinksResponse": {
      "type": "structure",
      "members": {
        "rollupPropertySourceLinks": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaRollupPropertySourceLinkList",
          "traits": {
            "smithy.api#documentation": "List of RollupPropertySourceLinks."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListRollupPropertySourceLinks RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaRollupPropertySourceLinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep": {
      "type": "structure",
      "members": {
        "immediatelyFollows": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the event satisfying this step must be the very next event after the event satisfying the last step. If unset or false, this step indirectly follows the prior step; for example, there may be events between the prior step and this step. It is ignored for the first step."
          }
        },
        "scope": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStepScopeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Specifies the scope for this step."
          }
        },
        "constraintDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. When set, this step must be satisfied within the constraint_duration of the previous step (For example, t[i] - t[i-1] <= constraint_duration). If not set, there is no duration requirement (the duration is effectively unlimited). It is ignored for the first step."
          }
        },
        "filterExpression": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. A logical expression of Audience dimension, metric, or event filters in each step."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A condition that must occur in the specified step order for this user to match the sequence."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStepScopeEnum": {
      "type": "enum",
      "members": {
        "AUDIENCE_FILTER_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_FILTER_SCOPE_UNSPECIFIED"
          }
        },
        "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT"
          }
        },
        "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION"
          }
        },
        "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The requests specifying the access bindings to update. A maximum of 1000 access bindings can be updated in a batch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for BatchUpdateAccessBindings RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData": {
      "type": "structure",
      "members": {
        "firebaseAppId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated."
          }
        },
        "bundleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data specific to iOS app streams."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaDataRetentionSettings": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings"
          }
        },
        "userDataRetention": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaDataRetentionSettingsUserDataRetentionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The length of time that user-level data is retained."
          }
        },
        "resetUserDataOnNewActivity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, reset the retention period for the user identifier with every event from that user."
          }
        },
        "eventDataRetention": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaDataRetentionSettingsEventDataRetentionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The length of time that event-level data is retained."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings values for data retention. This is a singleton resource."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaDataRetentionSettingsUserDataRetentionEnum": {
      "type": "enum",
      "members": {
        "RETENTION_DURATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETENTION_DURATION_UNSPECIFIED"
          }
        },
        "TWO_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWO_MONTHS"
          }
        },
        "FOURTEEN_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOURTEEN_MONTHS"
          }
        },
        "TWENTY_SIX_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWENTY_SIX_MONTHS"
          }
        },
        "THIRTY_EIGHT_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIRTY_EIGHT_MONTHS"
          }
        },
        "FIFTY_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIFTY_MONTHS"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaDataRetentionSettingsEventDataRetentionEnum": {
      "type": "enum",
      "members": {
        "RETENTION_DURATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETENTION_DURATION_UNSPECIFIED"
          }
        },
        "TWO_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWO_MONTHS"
          }
        },
        "FOURTEEN_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOURTEEN_MONTHS"
          }
        },
        "TWENTY_SIX_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWENTY_SIX_MONTHS"
          }
        },
        "THIRTY_EIGHT_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIRTY_EIGHT_MONTHS"
          }
        },
        "FIFTY_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIFTY_MONTHS"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceSimpleFilter": {
      "type": "structure",
      "members": {
        "filterExpression": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. A logical expression of Audience dimension, metric, or event filters."
          }
        },
        "scope": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceSimpleFilterScopeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Specifies the scope for this filter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a simple filter that a user must satisfy to be a member of the Audience."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceSimpleFilterScopeEnum": {
      "type": "enum",
      "members": {
        "AUDIENCE_FILTER_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_FILTER_SCOPE_UNSPECIFIED"
          }
        },
        "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT"
          }
        },
        "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION"
          }
        },
        "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaUserProvidedDataSettings": {
      "type": "structure",
      "members": {
        "userProvidedDataCollectionEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether this property accepts user-provided data sent to it."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of this setting. Format: properties/{property}/userProvidedDataSettings Example: \"properties/1000/userProvidedDataSettings\""
          }
        },
        "automaticallyDetectedDataCollectionEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether this property allows a Google Tag to automatically collect user-provided data from your website. This setting only takes effect if `user_provided_data_collection_enabled` is also true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for user-provided data collection. This is a singleton resource for a Google Analytics property."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaListSKAdNetworkConversionValueSchemasResponse": {
      "type": "structure",
      "members": {
        "skadnetworkConversionValueSchemas": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchemaList",
          "traits": {
            "smithy.api#documentation": "List of SKAdNetworkConversionValueSchemas. This will have at most one value."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one SKAdNetworkConversionValueSchema per dataStream, so this will never be populated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListSKAdNetworkConversionValueSchemas RPC"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchemaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilterOperationEnum",
          "traits": {
            "smithy.api#documentation": "Required. The operation applied to a numeric filter."
          }
        },
        "value": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue",
          "traits": {
            "smithy.api#documentation": "Required. The numeric or date value to match against."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter for numeric or date values on a dimension or metric."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilterOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUAL"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange": {
      "type": "structure",
      "members": {
        "startDate": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Required. The start date for this range. Must be a valid date with year, month, and day set. The date may be in the past, present, or future."
          }
        },
        "endDate": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Required. The end date for this range. Must be a valid date with year, month, and day set. This date must be greater than or equal to the start date."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Reporting Data Annotation's date range, both start and end dates are inclusive. Time zones are based on the parent property."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessFilter": {
      "type": "structure",
      "members": {
        "betweenFilter": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessBetweenFilter",
          "traits": {
            "smithy.api#documentation": "A filter for two values."
          }
        },
        "numericFilter": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessNumericFilter",
          "traits": {
            "smithy.api#documentation": "A filter for numeric or date values."
          }
        },
        "inListFilter": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessInListFilter",
          "traits": {
            "smithy.api#documentation": "A filter for in list values."
          }
        },
        "stringFilter": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessStringFilter",
          "traits": {
            "smithy.api#documentation": "Strings related filter."
          }
        },
        "fieldName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The dimension name or metric name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An expression to filter dimension or metric values."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessQuota": {
      "type": "structure",
      "members": {
        "serverErrorsPerProjectPerHour": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "traits": {
            "smithy.api#documentation": "Properties and cloud project pairs can have up to 50 server errors per hour."
          }
        },
        "concurrentRequests": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "traits": {
            "smithy.api#documentation": "Properties can use up to 50 concurrent requests."
          }
        },
        "tokensPerHour": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "traits": {
            "smithy.api#documentation": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
          }
        },
        "tokensPerDay": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "traits": {
            "smithy.api#documentation": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens."
          }
        },
        "tokensPerProjectPerHour": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "traits": {
            "smithy.api#documentation": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaCustomDimension": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
          }
        },
        "scope": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaCustomDimensionScopeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The scope of this dimension."
          }
        },
        "parameterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description for this custom dimension. Max length of 150 characters."
          }
        },
        "disallowAdsPersonalization": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A definition for a CustomDimension."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaCustomDimensionScopeEnum": {
      "type": "enum",
      "members": {
        "DIMENSION_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIMENSION_SCOPE_UNSPECIFIED"
          }
        },
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "ITEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceSequenceFilter": {
      "type": "structure",
      "members": {
        "sequenceMaximumDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the time period in which the whole sequence must occur."
          }
        },
        "sequenceSteps": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStepList",
          "traits": {
            "smithy.api#documentation": "Required. An ordered sequence of steps. A user must complete each step in order to join the sequence filter."
          }
        },
        "scope": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceSequenceFilterScopeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Specifies the scope for this filter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines filters that must occur in a specific order for the user to be a member of the Audience."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceSequenceFilterScopeEnum": {
      "type": "enum",
      "members": {
        "AUDIENCE_FILTER_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_FILTER_SCOPE_UNSPECIFIED"
          }
        },
        "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT"
          }
        },
        "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION"
          }
        },
        "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause": {
      "type": "structure",
      "members": {
        "filterClauseType": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClauseFilterClauseTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type for the filter clause."
          }
        },
        "filterExpression": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
          "traits": {
            "smithy.api#documentation": "Required. The logical expression for what events are sent to the subproperty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A clause for defining a filter. A filter may be inclusive (events satisfying the filter clause are included in the subproperty's data) or exclusive (events satisfying the filter clause are excluded from the subproperty's data)."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClauseFilterClauseTypeEnum": {
      "type": "enum",
      "members": {
        "FILTER_CLAUSE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILTER_CLAUSE_TYPE_UNSPECIFIED"
          }
        },
        "INCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUDE"
          }
        },
        "EXCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUDE"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "googleAdsLinks": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaGoogleAdsLinkList",
          "traits": {
            "smithy.api#documentation": "List of GoogleAdsLinks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListGoogleAdsLinks RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaGoogleAdsLinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaGoogleAdsLink"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema": {
      "type": "structure",
      "members": {
        "applyConversionValues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled, the GA SDK will set conversion values using this schema definition, and schema will be exported to any Google Ads accounts linked to this property. If disabled, the GA SDK will not automatically set conversion values, and also the schema will not be exported to Ads."
          }
        },
        "postbackWindowThree": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaPostbackWindow",
          "traits": {
            "smithy.api#documentation": "The conversion value settings for the third postback window. This field should only be set if the user chose to define different conversion values for this postback window. It is allowed to configure window 3 without setting window 2. In case window 1 & 2 settings are set and enable_postback_window_settings for this postback window is set to false, the schema will inherit settings from postback_window_two."
          }
        },
        "postbackWindowOne": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaPostbackWindow",
          "traits": {
            "smithy.api#documentation": "Required. The conversion value settings for the first postback window. These differ from values for postback window two and three in that they contain a \"Fine\" grained conversion value (a numeric value). Conversion values for this postback window must be set. The other windows are optional and may inherit this window's settings if unset or disabled."
          }
        },
        "postbackWindowTwo": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaPostbackWindow",
          "traits": {
            "smithy.api#documentation": "The conversion value settings for the second postback window. This field should only be configured if there is a need to define different conversion values for this postback window. If enable_postback_window_settings is set to false for this postback window, the values from postback_window_one will be used."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the schema. This will be child of ONLY an iOS stream, and there can be at most one such child under an iOS stream. Format: properties/{property}/dataStreams/{dataStream}/sKAdNetworkConversionValueSchema"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SKAdNetwork conversion value schema of an iOS stream."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This value will be used to populate the value for all conversions of the specified event_name where the event \"value\" parameter is unset."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a default value/currency for a conversion event. Both value and currency must be provided."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessQuotaStatus": {
      "type": "structure",
      "members": {
        "consumed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Quota consumed by this request."
          }
        },
        "remaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Quota remaining after this request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state for a particular quota group."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaPostbackWindow": {
      "type": "structure",
      "members": {
        "conversionValues": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaConversionValuesList",
          "traits": {
            "smithy.api#documentation": "Ordering of the repeated field will be used to prioritize the conversion value settings. Lower indexed entries are prioritized higher. The first conversion value setting that evaluates to true will be selected. It must have at least one entry if enable_postback_window_settings is set to true. It can have maximum of 128 entries."
          }
        },
        "postbackWindowSettingsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enable_postback_window_settings is true, conversion_values must be populated and will be used for determining when and how to set the Conversion Value on a client device and exporting schema to linked Ads accounts. If false, the settings are not used, but are retained in case they may be used in the future. This must always be true for postback_window_one."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for a SKAdNetwork conversion postback window."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaConversionValuesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaConversionValues"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for ArchiveCustomDimension RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse": {
      "type": "structure",
      "members": {
        "firebaseLinks": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaFirebaseLinkList",
          "traits": {
            "smithy.api#documentation": "List of FirebaseLinks. This will have at most one value."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListFirebaseLinks RPC"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaFirebaseLinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaFirebaseLink"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse": {
      "type": "structure",
      "members": {
        "displayVideo360AdvertiserLink": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
          "traits": {
            "smithy.api#documentation": "The DisplayVideo360AdvertiserLink created as a result of approving the proposal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ApproveDisplayVideo360AdvertiserLinkProposal RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "type": "structure",
      "members": {
        "customMetrics": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaCustomMetricList",
          "traits": {
            "smithy.api#documentation": "List of CustomMetrics."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListCustomMetrics RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaCustomMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaCustomMetric"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse": {
      "type": "structure",
      "members": {
        "subproperty": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaProperty",
          "traits": {
            "smithy.api#documentation": "The created subproperty."
          }
        },
        "subpropertyEventFilter": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSubpropertyEventFilter",
          "traits": {
            "smithy.api#documentation": "The created subproperty event filter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ProvisionSubproperty RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaListAccountSummariesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "accountSummaries": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccountSummaryList",
          "traits": {
            "smithy.api#documentation": "Account summaries of all accounts the caller has access to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListAccountSummaries RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccountSummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccountSummary"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaExpandedDataSetFilter": {
      "type": "structure",
      "members": {
        "stringFilter": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter",
          "traits": {
            "smithy.api#documentation": "A filter for a string-type dimension that matches a particular pattern."
          }
        },
        "inListFilter": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter",
          "traits": {
            "smithy.api#documentation": "A filter for a string dimension that matches a particular list of options."
          }
        },
        "fieldName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The dimension name to filter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A specific filter for a single dimension"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse": {
      "type": "structure",
      "members": {
        "searchAds360Links": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSearchAds360LinkList",
          "traits": {
            "smithy.api#documentation": "List of SearchAds360Links."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListSearchAds360Links RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSearchAds360LinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSearchAds360Link"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for DeleteAccessBinding RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaConversionValues": {
      "type": "structure",
      "members": {
        "coarseValue": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaConversionValuesCoarseValueEnum",
          "traits": {
            "smithy.api#documentation": "Required. A coarse grained conversion value. This value is not guaranteed to be unique."
          }
        },
        "eventMappings": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaEventMappingList",
          "traits": {
            "smithy.api#documentation": "Event conditions that must be met for this Conversion Value to be achieved. The conditions in this list are ANDed together. It must have minimum of 1 entry and maximum of 3 entries, if the postback window is enabled."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the SKAdNetwork conversion value. The max allowed display name length is 50 UTF-16 code units."
          }
        },
        "fineValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The fine-grained conversion value. This is applicable only to the first postback window. Its valid values are [0,63], both inclusive. It must be set for postback window 1, and must not be set for postback window 2 & 3. This value is not guaranteed to be unique. If the configuration for the first postback window is re-used for second or third postback windows this field has no effect."
          }
        },
        "lockEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the SDK should lock to this conversion value for the current postback window."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Conversion value settings for a postback window for SKAdNetwork conversion value schema."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaConversionValuesCoarseValueEnum": {
      "type": "enum",
      "members": {
        "COARSE_VALUE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COARSE_VALUE_UNSPECIFIED"
          }
        },
        "COARSE_VALUE_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COARSE_VALUE_LOW"
          }
        },
        "COARSE_VALUE_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COARSE_VALUE_MEDIUM"
          }
        },
        "COARSE_VALUE_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COARSE_VALUE_HIGH"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaEventMappingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaEventMapping"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaDataStreamWebStreamData": {
      "type": "structure",
      "members": {
        "measurementId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\""
          }
        },
        "firebaseAppId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated."
          }
        },
        "defaultUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data specific to web streams."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "type": "structure",
      "members": {
        "accounts": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccountList",
          "traits": {
            "smithy.api#documentation": "Results that were accessible to the caller."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ListAccounts RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccount"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessNumericFilter": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessNumericFilterOperationEnum",
          "traits": {
            "smithy.api#documentation": "The operation type for this filter."
          }
        },
        "value": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaNumericValue",
          "traits": {
            "smithy.api#documentation": "A numeric value or a date value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filters for numeric or date values."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAccessNumericFilterOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUAL"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "LESS_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "GREATER_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest": {
      "type": "structure",
      "members": {
        "actorEmail": {
          "target": "com.gcp.analyticsadmin_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. If set, only return changes if they are made by a user in this list."
          }
        },
        "resourceType": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequestResourceTypeItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. If set, only return changes if they are for a resource that matches at least one of these types."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of ChangeHistoryEvent items to return. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum). Note that the service may return a page with fewer items than this value specifies (potentially even zero), and that there still may be additional pages. If you want a particular number of items, you'll need to continue requesting additional pages using `page_token` until you get the needed number."
          }
        },
        "action": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequestActionItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. If set, only return changes that match one or more of these types of actions."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token."
          }
        },
        "latestChangeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If set, only return changes made before this time (inclusive)."
          }
        },
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources. Format: properties/{propertyId} Example: `properties/100`"
          }
        },
        "earliestChangeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If set, only return changes made after this time (inclusive)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SearchChangeHistoryEvents RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequestResourceTypeItemEnum": {
      "type": "enum",
      "members": {
        "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT"
          }
        },
        "PROPERTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPERTY"
          }
        },
        "FIREBASE_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIREBASE_LINK"
          }
        },
        "GOOGLE_ADS_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_ADS_LINK"
          }
        },
        "GOOGLE_SIGNALS_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SIGNALS_SETTINGS"
          }
        },
        "CONVERSION_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSION_EVENT"
          }
        },
        "MEASUREMENT_PROTOCOL_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PROTOCOL_SECRET"
          }
        },
        "CUSTOM_DIMENSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_DIMENSION"
          }
        },
        "CUSTOM_METRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_METRIC"
          }
        },
        "DATA_RETENTION_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_RETENTION_SETTINGS"
          }
        },
        "DISPLAY_VIDEO_360_ADVERTISER_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_VIDEO_360_ADVERTISER_LINK"
          }
        },
        "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL"
          }
        },
        "SEARCH_ADS_360_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_ADS_360_LINK"
          }
        },
        "DATA_STREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_STREAM"
          }
        },
        "ATTRIBUTION_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTION_SETTINGS"
          }
        },
        "EXPANDED_DATA_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDED_DATA_SET"
          }
        },
        "CHANNEL_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANNEL_GROUP"
          }
        },
        "BIGQUERY_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGQUERY_LINK"
          }
        },
        "ENHANCED_MEASUREMENT_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENHANCED_MEASUREMENT_SETTINGS"
          }
        },
        "DATA_REDACTION_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_REDACTION_SETTINGS"
          }
        },
        "SKADNETWORK_CONVERSION_VALUE_SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKADNETWORK_CONVERSION_VALUE_SCHEMA"
          }
        },
        "ADSENSE_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADSENSE_LINK"
          }
        },
        "AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE"
          }
        },
        "EVENT_CREATE_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_CREATE_RULE"
          }
        },
        "KEY_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_EVENT"
          }
        },
        "CALCULATED_METRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALCULATED_METRIC"
          }
        },
        "REPORTING_DATA_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPORTING_DATA_ANNOTATION"
          }
        },
        "SUBPROPERTY_SYNC_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBPROPERTY_SYNC_CONFIG"
          }
        },
        "REPORTING_IDENTITY_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPORTING_IDENTITY_SETTINGS"
          }
        },
        "USER_PROVIDED_DATA_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_PROVIDED_DATA_SETTINGS"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequestResourceTypeItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequestResourceTypeItemEnum"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequestActionItemEnum": {
      "type": "enum",
      "members": {
        "ACTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_TYPE_UNSPECIFIED"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequestActionItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequestActionItemEnum"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse": {
      "type": "structure",
      "members": {
        "deletionRequestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Marks the moment for which all visitor data before this point should be deleted. This is set to the time at which the deletion request was received."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SubmitUserDeletion RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleTypeDate": {
      "type": "structure",
      "members": {
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaListReportingDataAnnotationsResponse": {
      "type": "structure",
      "members": {
        "reportingDataAnnotations": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaReportingDataAnnotationList",
          "traits": {
            "smithy.api#documentation": "List of Reporting Data Annotations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListReportingDataAnnotation RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaReportingDataAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaListDataStreamsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "dataStreams": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaDataStreamList",
          "traits": {
            "smithy.api#documentation": "List of DataStreams."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListDataStreams RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaDataStreamList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaDataStream"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for ApproveDisplayVideo360AdvertiserLinkProposal RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse": {
      "type": "structure",
      "members": {
        "rollupProperty": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaProperty",
          "traits": {
            "smithy.api#documentation": "The created roll-up property."
          }
        },
        "rollupPropertySourceLinks": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaRollupPropertySourceLinkList",
          "traits": {
            "smithy.api#documentation": "The created roll-up property source links."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CreateRollupProperty RPC."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList": {
      "type": "structure",
      "members": {
        "filterExpressions": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList_",
          "traits": {
            "smithy.api#documentation": "A list of Audience filter expressions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of Audience filter expressions."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaChannelGroup": {
      "type": "structure",
      "members": {
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, this channel group will be used as the default channel group for reports. Only one channel group can be set as `primary` at any time. If the `primary` field gets set on a channel group, it will get unset on the previous primary channel group. The Google Analytics predefined channel group is the primary by default."
          }
        },
        "groupingRule": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaGroupingRuleList",
          "traits": {
            "smithy.api#documentation": "Required. The grouping rules of channels. Maximum number of rules is 50."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name for this Channel Group resource. Format: properties/{property}/channelGroups/{channel_group}"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the Channel Group. Max length of 80 characters."
          }
        },
        "systemDefined": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, then this channel group is the Default Channel Group predefined by Google Analytics. Display name and grouping rules cannot be updated for this channel group."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the Channel Group. Max length of 256 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource message representing a Channel Group."
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaGroupingRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaGroupingRule"
      }
    },
    "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaCustomMetric": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}"
          }
        },
        "scope": {
          "target": "com.gcp.analyticsadmin_v1alpha#GoogleAnalyticsAdminV1alphaCustomMetricScopeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The scope of this custom metric."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
[...]
