{
  "smithy": "2.0",
  "metadata": {
    "service": "appengine",
    "version": "v1beta",
    "title": "App Engine Admin API",
    "baseUrl": "https://appengine.googleapis.com/"
  },
  "shapes": {
    "com.gcp.appengine_v1beta#ManualScaling": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of instances to assign to the service at the start. This number can later be altered by using the Modules API (https://cloud.google.com/appengine/docs/python/modules/functions) set_num_instances() function."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time."
      }
    },
    "com.gcp.appengine_v1beta#Volume": {
      "type": "structure",
      "members": {
        "sizeGb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Volume size in gigabytes."
          }
        },
        "volumeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Underlying volume type, e.g. 'tmpfs'."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique name for the volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volumes mounted within the app container. Only applicable in the App Engine flexible environment."
      }
    },
    "com.gcp.appengine_v1beta#ListIngressRulesResponse": {
      "type": "structure",
      "members": {
        "ingressRules": {
          "target": "com.gcp.appengine_v1beta#FirewallRuleList",
          "traits": {
            "smithy.api#documentation": "The ingress FirewallRules for this application."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for Firewall.ListIngressRules."
      }
    },
    "com.gcp.appengine_v1beta#FirewallRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#FirewallRule"
      }
    },
    "com.gcp.appengine_v1beta#ListAuthorizedCertificatesResponse": {
      "type": "structure",
      "members": {
        "certificates": {
          "target": "com.gcp.appengine_v1beta#AuthorizedCertificateList",
          "traits": {
            "smithy.api#documentation": "The SSL certificates the user is authorized to administer."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AuthorizedCertificates.ListAuthorizedCertificates."
      }
    },
    "com.gcp.appengine_v1beta#AuthorizedCertificateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#AuthorizedCertificate"
      }
    },
    "com.gcp.appengine_v1beta#Library": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the library to select, or \"latest\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the library. Example: \"django\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Third-party Python runtime library that is required by the application."
      }
    },
    "com.gcp.appengine_v1beta#ExportAppImageRequest": {
      "type": "structure",
      "members": {
        "destinationRepository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The full resource name of the AR repository to export to. Format: projects/{project}/locations/{location}/repositories/{repository} If not specified, defaults to projects/{project}/locations/{location}/repositories/gae-standard in the same region as the app. The default repository will be created if it does not exist."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for Versions.ExportAppImage."
      }
    },
    "com.gcp.appengine_v1beta#ErrorHandler": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "com.gcp.appengine_v1beta#ErrorHandlerErrorCodeEnum",
          "traits": {
            "smithy.api#documentation": "Error condition this handler applies to."
          }
        },
        "staticFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Static file content to be served for this error."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type of file. Defaults to text/html."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom static error page to be served when an error occurs."
      }
    },
    "com.gcp.appengine_v1beta#ErrorHandlerErrorCodeEnum": {
      "type": "enum",
      "members": {
        "ERROR_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_UNSPECIFIED"
          }
        },
        "ERROR_CODE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_DEFAULT"
          }
        },
        "ERROR_CODE_OVER_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_OVER_QUOTA"
          }
        },
        "ERROR_CODE_DOS_API_DENIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_DOS_API_DENIAL"
          }
        },
        "ERROR_CODE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_TIMEOUT"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#RequestUtilization": {
      "type": "structure",
      "members": {
        "targetRequestCountPerSecond": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Target requests per second."
          }
        },
        "targetConcurrentRequests": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Target number of concurrent requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target scaling by request utilization. Only applicable in the App Engine flexible environment."
      }
    },
    "com.gcp.appengine_v1beta#ListServicesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        },
        "services": {
          "target": "com.gcp.appengine_v1beta#ServiceList",
          "traits": {
            "smithy.api#documentation": "The services belonging to the requested application."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for Services.ListServices."
      }
    },
    "com.gcp.appengine_v1beta#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#Service"
      }
    },
    "com.gcp.appengine_v1beta#ApiConfigHandler": {
      "type": "structure",
      "members": {
        "script": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the script from the application root directory."
          }
        },
        "securityLevel": {
          "target": "com.gcp.appengine_v1beta#ApiConfigHandlerSecurityLevelEnum",
          "traits": {
            "smithy.api#documentation": "Security (HTTPS) enforcement for this URL."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to serve the endpoint at."
          }
        },
        "authFailAction": {
          "target": "com.gcp.appengine_v1beta#ApiConfigHandlerAuthFailActionEnum",
          "traits": {
            "smithy.api#documentation": "Action to take when users access resources that require authentication. Defaults to redirect."
          }
        },
        "login": {
          "target": "com.gcp.appengine_v1beta#ApiConfigHandlerLoginEnum",
          "traits": {
            "smithy.api#documentation": "Level of login required to access this resource. Defaults to optional."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration for API handlers."
      }
    },
    "com.gcp.appengine_v1beta#ApiConfigHandlerSecurityLevelEnum": {
      "type": "enum",
      "members": {
        "SECURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_UNSPECIFIED"
          }
        },
        "SECURE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_DEFAULT"
          }
        },
        "SECURE_NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_NEVER"
          }
        },
        "SECURE_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_OPTIONAL"
          }
        },
        "SECURE_ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_ALWAYS"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#ApiConfigHandlerAuthFailActionEnum": {
      "type": "enum",
      "members": {
        "AUTH_FAIL_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_FAIL_ACTION_UNSPECIFIED"
          }
        },
        "AUTH_FAIL_ACTION_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_FAIL_ACTION_REDIRECT"
          }
        },
        "AUTH_FAIL_ACTION_UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_FAIL_ACTION_UNAUTHORIZED"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#ApiConfigHandlerLoginEnum": {
      "type": "enum",
      "members": {
        "LOGIN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_UNSPECIFIED"
          }
        },
        "LOGIN_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_OPTIONAL"
          }
        },
        "LOGIN_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_ADMIN"
          }
        },
        "LOGIN_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_REQUIRED"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#ListAuthorizedDomainsResponse": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.gcp.appengine_v1beta#AuthorizedDomainList",
          "traits": {
            "smithy.api#documentation": "The authorized domains belonging to the user."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AuthorizedDomains.ListAuthorizedDomains."
      }
    },
    "com.gcp.appengine_v1beta#AuthorizedDomainList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#AuthorizedDomain"
      }
    },
    "com.gcp.appengine_v1beta#VpcAccess": {
      "type": "structure",
      "members": {
        "networkInterfaces": {
          "target": "com.gcp.appengine_v1beta#VpcNetworkInterfaceList",
          "traits": {
            "smithy.api#documentation": "The Direct VPC configuration. Currently only single network interface is supported."
          }
        },
        "vpcEgress": {
          "target": "com.gcp.appengine_v1beta#VpcAccessVpcEgressEnum",
          "traits": {
            "smithy.api#documentation": "The traffic egress setting for the VPC network interface, controlling what traffic is diverted through it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VPC Access settings"
      }
    },
    "com.gcp.appengine_v1beta#VpcNetworkInterfaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#VpcNetworkInterface"
      }
    },
    "com.gcp.appengine_v1beta#VpcAccessVpcEgressEnum": {
      "type": "enum",
      "members": {
        "VPC_EGRESS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_EGRESS_UNSPECIFIED"
          }
        },
        "ALL_TRAFFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_TRAFFIC"
          }
        },
        "PRIVATE_IP_RANGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_IP_RANGES"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#OperationMetadataV1": {
      "type": "structure",
      "members": {
        "insertTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time that this operation was created.@OutputOnly"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time that this operation completed.@OutputOnly"
          }
        },
        "warning": {
          "target": "com.gcp.appengine_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Durable messages that persist on every operation poll. @OutputOnly"
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User who requested this operation.@OutputOnly"
          }
        },
        "createVersionMetadata": {
          "target": "com.gcp.appengine_v1beta#CreateVersionMetadataV1"
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly"
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
          }
        },
        "ephemeralMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for the given google.longrunning.Operation."
      }
    },
    "com.gcp.appengine_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.appengine_v1beta#Runtime": {
      "type": "structure",
      "members": {
        "warnings": {
          "target": "com.gcp.appengine_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Warning messages, e.g., a deprecation warning."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-friendly display name, e.g. 'Node.js 12', etc."
          }
        },
        "supportedOperatingSystems": {
          "target": "com.gcp.appengine_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Supported operating systems for the runtime, e.g., 'ubuntu22', etc."
          }
        },
        "endOfSupportDate": {
          "target": "com.gcp.appengine_v1beta#Appengine_Date",
          "traits": {
            "smithy.api#documentation": "Date when Runtime is end of support."
          }
        },
        "deprecationDate": {
          "target": "com.gcp.appengine_v1beta#Appengine_Date",
          "traits": {
            "smithy.api#documentation": "Date when Runtime is deprecated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the runtime, e.g., 'go113', 'nodejs12', etc."
          }
        },
        "environment": {
          "target": "com.gcp.appengine_v1beta#RuntimeEnvironmentEnum",
          "traits": {
            "smithy.api#documentation": "The environment of the runtime."
          }
        },
        "decommissionedDate": {
          "target": "com.gcp.appengine_v1beta#Appengine_Date",
          "traits": {
            "smithy.api#documentation": "Date when Runtime is decommissioned."
          }
        },
        "stage": {
          "target": "com.gcp.appengine_v1beta#RuntimeStageEnum",
          "traits": {
            "smithy.api#documentation": "The stage of life this runtime is in, e.g., BETA, GA, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Runtime versions for App Engine."
      }
    },
    "com.gcp.appengine_v1beta#RuntimeEnvironmentEnum": {
      "type": "enum",
      "members": {
        "ENVIRONMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "FLEXIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEXIBLE"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#RuntimeStageEnum": {
      "type": "enum",
      "members": {
        "RUNTIME_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNTIME_STAGE_UNSPECIFIED"
          }
        },
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPMENT"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        },
        "DECOMMISSIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECOMMISSIONED"
          }
        },
        "END_OF_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_OF_SUPPORT"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#UrlMap": {
      "type": "structure",
      "members": {
        "staticFiles": {
          "target": "com.gcp.appengine_v1beta#StaticFilesHandler",
          "traits": {
            "smithy.api#documentation": "Returns the contents of a file, such as an image, as the response."
          }
        },
        "apiEndpoint": {
          "target": "com.gcp.appengine_v1beta#ApiEndpointHandler",
          "traits": {
            "smithy.api#documentation": "Uses API Endpoints to handle requests."
          }
        },
        "redirectHttpResponseCode": {
          "target": "com.gcp.appengine_v1beta#UrlMapRedirectHttpResponseCodeEnum",
          "traits": {
            "smithy.api#documentation": "30x code to use when performing redirects for the secure field. Defaults to 302."
          }
        },
        "urlRegex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL prefix. Uses regular expression syntax, which means regexp special characters must be escaped, but should not contain groupings. All URLs that begin with this prefix are handled by this handler, using the portion of the URL after the prefix as part of the file path."
          }
        },
        "login": {
          "target": "com.gcp.appengine_v1beta#UrlMapLoginEnum",
          "traits": {
            "smithy.api#documentation": "Level of login required to access this resource. Not supported for Node.js in the App Engine standard environment."
          }
        },
        "script": {
          "target": "com.gcp.appengine_v1beta#ScriptHandler",
          "traits": {
            "smithy.api#documentation": "Executes a script to handle the requests that match this URL pattern. Only the auto value is supported for Node.js in the App Engine standard environment, for example \"script\": \"auto\"."
          }
        },
        "securityLevel": {
          "target": "com.gcp.appengine_v1beta#UrlMapSecurityLevelEnum",
          "traits": {
            "smithy.api#documentation": "Security (HTTPS) enforcement for this URL."
          }
        },
        "authFailAction": {
          "target": "com.gcp.appengine_v1beta#UrlMapAuthFailActionEnum",
          "traits": {
            "smithy.api#documentation": "Action to take when users access resources that require authentication. Defaults to redirect."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "URL pattern and description of how the URL should be handled. App Engine can handle URLs by executing application code or by serving static files uploaded with the version, such as images, CSS, or JavaScript."
      }
    },
    "com.gcp.appengine_v1beta#UrlMapRedirectHttpResponseCodeEnum": {
      "type": "enum",
      "members": {
        "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED"
          }
        },
        "REDIRECT_HTTP_RESPONSE_CODE_301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_HTTP_RESPONSE_CODE_301"
          }
        },
        "REDIRECT_HTTP_RESPONSE_CODE_302": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_HTTP_RESPONSE_CODE_302"
          }
        },
        "REDIRECT_HTTP_RESPONSE_CODE_303": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_HTTP_RESPONSE_CODE_303"
          }
        },
        "REDIRECT_HTTP_RESPONSE_CODE_307": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_HTTP_RESPONSE_CODE_307"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#UrlMapLoginEnum": {
      "type": "enum",
      "members": {
        "LOGIN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_UNSPECIFIED"
          }
        },
        "LOGIN_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_OPTIONAL"
          }
        },
        "LOGIN_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_ADMIN"
          }
        },
        "LOGIN_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_REQUIRED"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#UrlMapSecurityLevelEnum": {
      "type": "enum",
      "members": {
        "SECURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_UNSPECIFIED"
          }
        },
        "SECURE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_DEFAULT"
          }
        },
        "SECURE_NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_NEVER"
          }
        },
        "SECURE_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_OPTIONAL"
          }
        },
        "SECURE_ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_ALWAYS"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#UrlMapAuthFailActionEnum": {
      "type": "enum",
      "members": {
        "AUTH_FAIL_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_FAIL_ACTION_UNSPECIFIED"
          }
        },
        "AUTH_FAIL_ACTION_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_FAIL_ACTION_REDIRECT"
          }
        },
        "AUTH_FAIL_ACTION_UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_FAIL_ACTION_UNAUTHORIZED"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#ResourceRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative name of the object affected by this record. Only applicable for CNAME records. Example: 'www'."
          }
        },
        "rrdata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1)."
          }
        },
        "type": {
          "target": "com.gcp.appengine_v1beta#ResourceRecordTypeEnum",
          "traits": {
            "smithy.api#documentation": "Resource record type. Example: AAAA."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A DNS resource record."
      }
    },
    "com.gcp.appengine_v1beta#ResourceRecordTypeEnum": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#GoogleAppengineV1betaLocationMetadata": {
      "type": "structure",
      "members": {
        "flexibleEnvironmentAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "App Engine flexible environment is available in the given location.@OutputOnly"
          }
        },
        "searchApiAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location."
          }
        },
        "standardEnvironmentAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "App Engine standard environment is available in the given location.@OutputOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for the given google.cloud.location.Location."
      }
    },
    "com.gcp.appengine_v1beta#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.appengine_v1beta#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.appengine_v1beta#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#Location"
      }
    },
    "com.gcp.appengine_v1beta#IdentityAwareProxy": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the serving infrastructure will authenticate and authorize all incoming requests.If true, the oauth2_client_id and oauth2_client_secret fields must be non-empty."
          }
        },
        "oauth2ClientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth2 client secret to use for the authentication flow.For security reasons, this value cannot be retrieved via the API. Instead, the SHA-256 hash of the value is returned in the oauth2_client_secret_sha256 field.@InputOnly"
          }
        },
        "oauth2ClientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth2 client ID to use for the authentication flow."
          }
        },
        "oauth2ClientSecretSha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Hex-encoded SHA-256 hash of the client secret.@OutputOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity-Aware Proxy"
      }
    },
    "com.gcp.appengine_v1beta#ContainerState": {
      "type": "structure",
      "members": {
        "previousReasons": {
          "target": "com.gcp.appengine_v1beta#Reasons",
          "traits": {
            "smithy.api#documentation": "The previous and current reasons for a container state will be sent for a container event. CLHs that need to know the signal that caused the container event to trigger (edges) as opposed to just knowing the state can act upon differences in the previous and current reasons.Reasons will be provided for every system: service management, data governance, abuse, and billing.If this is a CCFE-triggered event used for reconciliation then the current reasons will be set to their *_CONTROL_PLANE_SYNC state. The previous reasons will contain the last known set of non-unknown non-control_plane_sync reasons for the state."
          }
        },
        "currentReasons": {
          "target": "com.gcp.appengine_v1beta#Reasons"
        },
        "state": {
          "target": "com.gcp.appengine_v1beta#ContainerStateStateEnum",
          "traits": {
            "smithy.api#documentation": "The current state of the container. This state is the culmination of all of the opinions from external systems that CCFE knows about of the container."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ContainerState contains the externally-visible container state that is used to communicate the state and reasoning for that state to the CLH. This data is not persisted by CCFE, but is instead derived from CCFE's internal representation of the container state."
      }
    },
    "com.gcp.appengine_v1beta#ContainerStateStateEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_STATE"
          }
        },
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#FirewallRule": {
      "type": "structure",
      "members": {
        "priority": {
          "target": "smithy.api#Integer"
        },
        "sourceRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address or range, defined using CIDR notation, of requests that this rule applies to. You can use the wildcard character \"*\" to match all IPs equivalent to \"0/0\" and \"::/0\" together. Examples: 192.168.1.1 or 192.168.0.0/16 or 2001:db8::/32 or 2001:0db8:0000:0042:0000:8a2e:0370:7334. Truncation will be silently performed on addresses which are not properly truncated. For example, 1.2.3.4/24 is accepted as the same address as 1.2.3.0/24. Similarly, for IPv6, 2001:db8::1/32 is accepted as the same address as 2001:db8::/32."
          }
        },
        "action": {
          "target": "com.gcp.appengine_v1beta#FirewallRuleActionEnum",
          "traits": {
            "smithy.api#documentation": "The action to take on matched requests."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional string description of this rule. This field has a maximum length of 400 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single firewall rule that is evaluated against incoming traffic and provides an action to take on matched requests. A positive integer between 1, Int32.MaxValue-1 that defines the order of rule evaluation. Rules with the lowest priority are evaluated first.A default rule at priority Int32.MaxValue matches all IPv4 and IPv6 traffic when no previous rule matches. Only the action of this rule can be modified by the user."
      }
    },
    "com.gcp.appengine_v1beta#FirewallRuleActionEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED_ACTION"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#LocationMetadata": {
      "type": "structure",
      "members": {
        "flexibleEnvironmentAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "App Engine flexible environment is available in the given location.@OutputOnly"
          }
        },
        "searchApiAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location."
          }
        },
        "standardEnvironmentAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "App Engine standard environment is available in the given location.@OutputOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for the given google.cloud.location.Location."
      }
    },
    "com.gcp.appengine_v1beta#CpuUtilization": {
      "type": "structure",
      "members": {
        "targetUtilization": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Target CPU utilization ratio to maintain when scaling. Must be between 0 and 1."
          }
        },
        "aggregationWindowLength": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Period of time over which CPU utilization is calculated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target scaling by CPU usage."
      }
    },
    "com.gcp.appengine_v1beta#NetworkSettings": {
      "type": "structure",
      "members": {
        "ingressTrafficAllowed": {
          "target": "com.gcp.appengine_v1beta#NetworkSettingsIngressTrafficAllowedEnum",
          "traits": {
            "smithy.api#documentation": "The ingress settings for version or service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A NetworkSettings resource is a container for ingress settings for a version or service."
      }
    },
    "com.gcp.appengine_v1beta#NetworkSettingsIngressTrafficAllowedEnum": {
      "type": "enum",
      "members": {
        "INGRESS_TRAFFIC_ALLOWED_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGRESS_TRAFFIC_ALLOWED_UNSPECIFIED"
          }
        },
        "INGRESS_TRAFFIC_ALLOWED_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGRESS_TRAFFIC_ALLOWED_ALL"
          }
        },
        "INGRESS_TRAFFIC_ALLOWED_INTERNAL_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGRESS_TRAFFIC_ALLOWED_INTERNAL_ONLY"
          }
        },
        "INGRESS_TRAFFIC_ALLOWED_INTERNAL_AND_LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGRESS_TRAFFIC_ALLOWED_INTERNAL_AND_LB"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#BasicScaling": {
      "type": "structure",
      "members": {
        "idleTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of time after the last request that an instance must wait before the instance is shut down."
          }
        },
        "maxInstances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of instances to create for this version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity."
      }
    },
    "com.gcp.appengine_v1beta#Version": {
      "type": "structure",
      "members": {
        "entrypoint": {
          "target": "com.gcp.appengine_v1beta#Entrypoint",
          "traits": {
            "smithy.api#documentation": "The entrypoint for the application."
          }
        },
        "envVariables": {
          "target": "com.gcp.appengine_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Environment variables available to the application.Only returned in GET requests if view=FULL is set."
          }
        },
        "vm": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to deploy this version in a container on a virtual machine."
          }
        },
        "runtimeApiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the API in the given runtime environment. Please see the app.yaml reference for valid values at https://cloud.google.com/appengine/docs/standard//config/appref"
          }
        },
        "zones": {
          "target": "com.gcp.appengine_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The Google Compute Engine zones that are supported by this version in the App Engine flexible environment. Deprecated."
          }
        },
        "betaSettings": {
          "target": "com.gcp.appengine_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Metadata settings that are supplied to this version to enable beta runtime features."
          }
        },
        "env": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App Engine execution environment for this version.Defaults to standard."
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Desired runtime. Example: python27."
          }
        },
        "defaultExpiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StaticFilesHandler) does not specify its own expiration time.Only returned in GET requests if view=FULL is set."
          }
        },
        "inboundServices": {
          "target": "com.gcp.appengine_v1beta#VersionInboundServicesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Before an application can receive email or XMPP messages, the application must be configured to enable the service."
          }
        },
        "network": {
          "target": "com.gcp.appengine_v1beta#Network",
          "traits": {
            "smithy.api#documentation": "Extra network settings. Only applicable in the App Engine flexible environment."
          }
        },
        "handlers": {
          "target": "com.gcp.appengine_v1beta#UrlMapList",
          "traits": {
            "smithy.api#documentation": "An ordered list of URL-matching patterns that should be applied to incoming requests. The first matching URL handles the request and other request handlers are not attempted.Only returned in GET requests if view=FULL is set."
          }
        },
        "readinessCheck": {
          "target": "com.gcp.appengine_v1beta#ReadinessCheck",
          "traits": {
            "smithy.api#documentation": "Configures readiness health checking for instances. Unhealthy instances are not put into the backend traffic rotation."
          }
        },
        "threadsafe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether multiple requests can be dispatched to this version at once."
          }
        },
        "runtimeChannel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The channel of the runtime to use. Only available for some runtimes. Defaults to the default channel."
          }
        },
        "vpcAccess": {
          "target": "com.gcp.appengine_v1beta#VpcAccess",
          "traits": {
            "smithy.api#documentation": "Enables VPC access connectivity for standard apps."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that the deployed version will run as. Admin API will use the App Engine Appspot service account as default if this field is neither provided in app.yaml file nor through CLI flag."
          }
        },
        "healthCheck": {
          "target": "com.gcp.appengine_v1beta#HealthCheck",
          "traits": {
            "smithy.api#documentation": "Configures health checking for instances. Unhealthy instances are stopped and replaced with new instances. Only applicable in the App Engine flexible environment."
          }
        },
        "automaticScaling": {
          "target": "com.gcp.appengine_v1beta#AutomaticScaling",
          "traits": {
            "smithy.api#documentation": "Automatic scaling is based on request rate, response latencies, and other application metrics. Instances are dynamically created and destroyed as needed in order to handle traffic."
          }
        },
        "apiConfig": {
          "target": "com.gcp.appengine_v1beta#ApiConfigHandler",
          "traits": {
            "smithy.api#documentation": "Serving configuration for Google Cloud Endpoints (https://cloud.google.com/endpoints).Only returned in GET requests if view=FULL is set."
          }
        },
        "appEngineApis": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows App Engine second generation runtimes to access the legacy bundled services."
          }
        },
        "errorHandlers": {
          "target": "com.gcp.appengine_v1beta#ErrorHandlerList",
          "traits": {
            "smithy.api#documentation": "Custom static error pages. Limited to 10KB per page.Only returned in GET requests if view=FULL is set."
          }
        },
        "flexibleRuntimeSettings": {
          "target": "com.gcp.appengine_v1beta#FlexibleRuntimeSettings",
          "traits": {
            "smithy.api#documentation": "Settings for App Engine flexible runtimes."
          }
        },
        "diskUsageBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total size in bytes of all the files that are included in this version and currently hosted on the App Engine disk.@OutputOnly"
          }
        },
        "manualScaling": {
          "target": "com.gcp.appengine_v1beta#ManualScaling",
          "traits": {
            "smithy.api#documentation": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time. Manually scaled versions are sometimes referred to as \"backends\"."
          }
        },
        "appEngineBundledServices": {
          "target": "com.gcp.appengine_v1beta#VersionAppEngineBundledServicesItemEnumList",
          "traits": {
            "smithy.api#documentation": "List of specific App Engine Bundled Services that are enabled for this Version."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time that this version was created.@OutputOnly"
          }
        },
        "nobuildFilesRegex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Files that match this pattern will not be built into this version. Only applicable for Go runtimes.Only returned in GET requests if view=FULL is set."
          }
        },
        "basicScaling": {
          "target": "com.gcp.appengine_v1beta#BasicScaling",
          "traits": {
            "smithy.api#documentation": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity."
          }
        },
        "runtimeMainExecutablePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path or name of the app's main executable."
          }
        },
        "instanceClass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance class that is used to run this version. Valid values are: AutomaticScaling: F1, F2, F4, F4_1G ManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1 for AutomaticScaling and B1 for ManualScaling or BasicScaling."
          }
        },
        "servingStatus": {
          "target": "com.gcp.appengine_v1beta#VersionServingStatusEnum",
          "traits": {
            "smithy.api#documentation": "Current serving status of this version. Only the versions with a SERVING status create instances and can be billed.SERVING_STATUS_UNSPECIFIED is an invalid value. Defaults to SERVING."
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Email address of the user who created this version.@OutputOnly"
          }
        },
        "endpointsApiService": {
          "target": "com.gcp.appengine_v1beta#EndpointsApiService",
          "traits": {
            "smithy.api#documentation": "Cloud Endpoints configuration.If endpoints_api_service is set, the Cloud Endpoints Extensible Service Proxy will be provided to serve the API implemented by the app."
          }
        },
        "versionUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Serving URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly"
          }
        },
        "deployment": {
          "target": "com.gcp.appengine_v1beta#Deployment",
          "traits": {
            "smithy.api#documentation": "Code and application artifacts that make up this version.Only returned in GET requests if view=FULL is set."
          }
        },
        "generatedCustomerMetadata": {
          "target": "com.gcp.appengine_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetVersionRequest"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly"
          }
        },
        "libraries": {
          "target": "com.gcp.appengine_v1beta#LibraryList",
          "traits": {
            "smithy.api#documentation": "Configuration for third-party Python runtime libraries that are required by the application.Only returned in GET requests if view=FULL is set."
          }
        },
        "vpcAccessConnector": {
          "target": "com.gcp.appengine_v1beta#VpcAccessConnector",
          "traits": {
            "smithy.api#documentation": "Enables VPC connectivity for standard apps."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative name of the version within the service. Example: v1. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\", and any name with the prefix \"ah-\"."
          }
        },
        "resources": {
          "target": "com.gcp.appengine_v1beta#Resources",
          "traits": {
            "smithy.api#documentation": "Machine resources for this version. Only applicable in the App Engine flexible environment."
          }
        },
        "livenessCheck": {
          "target": "com.gcp.appengine_v1beta#LivenessCheck",
          "traits": {
            "smithy.api#documentation": "Configures liveness health checking for instances. Unhealthy instances are stopped and replaced with new instances"
          }
        },
        "buildEnvVariables": {
          "target": "com.gcp.appengine_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Environment variables available to the build environment.Only returned in GET requests if view=FULL is set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Version resource is a specific set of source code and configuration files that are deployed into a service."
      }
    },
    "com.gcp.appengine_v1beta#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.appengine_v1beta#VersionInboundServicesItemEnum": {
      "type": "enum",
      "members": {
        "INBOUND_SERVICE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_UNSPECIFIED"
          }
        },
        "INBOUND_SERVICE_MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_MAIL"
          }
        },
        "INBOUND_SERVICE_MAIL_BOUNCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_MAIL_BOUNCE"
          }
        },
        "INBOUND_SERVICE_XMPP_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_XMPP_ERROR"
          }
        },
        "INBOUND_SERVICE_XMPP_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_XMPP_MESSAGE"
          }
        },
        "INBOUND_SERVICE_XMPP_SUBSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_XMPP_SUBSCRIBE"
          }
        },
        "INBOUND_SERVICE_XMPP_PRESENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_XMPP_PRESENCE"
          }
        },
        "INBOUND_SERVICE_CHANNEL_PRESENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_CHANNEL_PRESENCE"
          }
        },
        "INBOUND_SERVICE_WARMUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_WARMUP"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#VersionInboundServicesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#VersionInboundServicesItemEnum"
      }
    },
    "com.gcp.appengine_v1beta#UrlMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#UrlMap"
      }
    },
    "com.gcp.appengine_v1beta#ErrorHandlerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#ErrorHandler"
      }
    },
    "com.gcp.appengine_v1beta#VersionAppEngineBundledServicesItemEnum": {
      "type": "enum",
      "members": {
        "BUNDLED_SERVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_UNSPECIFIED"
          }
        },
        "BUNDLED_SERVICE_TYPE_APP_IDENTITY_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_APP_IDENTITY_SERVICE"
          }
        },
        "BUNDLED_SERVICE_TYPE_BLOBSTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_BLOBSTORE"
          }
        },
        "BUNDLED_SERVICE_TYPE_CAPABILITY_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_CAPABILITY_SERVICE"
          }
        },
        "BUNDLED_SERVICE_TYPE_DATASTORE_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_DATASTORE_V3"
          }
        },
        "BUNDLED_SERVICE_TYPE_DEFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_DEFERRED"
          }
        },
        "BUNDLED_SERVICE_TYPE_IMAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_IMAGES"
          }
        },
        "BUNDLED_SERVICE_TYPE_MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_MAIL"
          }
        },
        "BUNDLED_SERVICE_TYPE_MEMCACHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_MEMCACHE"
          }
        },
        "BUNDLED_SERVICE_TYPE_MODULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_MODULES"
          }
        },
        "BUNDLED_SERVICE_TYPE_NAMESPACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_NAMESPACES"
          }
        },
        "BUNDLED_SERVICE_TYPE_NDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_NDB"
          }
        },
        "BUNDLED_SERVICE_TYPE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_SEARCH"
          }
        },
        "BUNDLED_SERVICE_TYPE_TASKQUEUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_TASKQUEUES"
          }
        },
        "BUNDLED_SERVICE_TYPE_URLFETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_URLFETCH"
          }
        },
        "BUNDLED_SERVICE_TYPE_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUNDLED_SERVICE_TYPE_USERS"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#VersionAppEngineBundledServicesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#VersionAppEngineBundledServicesItemEnum"
      }
    },
    "com.gcp.appengine_v1beta#VersionServingStatusEnum": {
      "type": "enum",
      "members": {
        "SERVING_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING_STATUS_UNSPECIFIED"
          }
        },
        "SERVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.appengine_v1beta#LibraryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#Library"
      }
    },
    "com.gcp.appengine_v1beta#SslSettings": {
      "type": "structure",
      "members": {
        "sslManagementType": {
          "target": "com.gcp.appengine_v1beta#SslSettingsSslManagementTypeEnum",
          "traits": {
            "smithy.api#documentation": "SSL management type for this domain. If AUTOMATIC, a managed certificate is automatically provisioned. If MANUAL, certificate_id must be manually specified in order to configure SSL for this domain."
          }
        },
        "certificateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify SslManagementType.MANUAL on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345."
          }
        },
        "pendingManagedCertificateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the managed AuthorizedCertificate resource currently being provisioned, if applicable. Until the new managed certificate has been successfully provisioned, the previous SSL state will be preserved. Once the provisioning process completes, the certificate_id field will reflect the new managed certificate and this field will be left empty. To remove SSL support while there is still a pending managed certificate, clear the certificate_id field with an UpdateDomainMappingRequest.@OutputOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SSL configuration for a DomainMapping resource."
      }
    },
    "com.gcp.appengine_v1beta#SslSettingsSslManagementTypeEnum": {
      "type": "enum",
      "members": {
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATIC"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#StaticFilesHandler": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type used to serve all files served by this handler.Defaults to file-specific MIME types, which are derived from each file's filename extension."
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time a static file served by this handler should be cached by web proxies and browsers."
          }
        },
        "applicationReadable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether files should also be uploaded as code data. By default, files declared in static file handlers are uploaded as static data and are only served to end users; they cannot be read by the application. If enabled, uploads are charged against both your code and static data storage resource quotas."
          }
        },
        "requireMatchingFile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this handler should match the request if the file referenced by the handler does not exist."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the static files matched by the URL pattern, from the application root directory. The path can refer to text matched in groupings in the URL pattern."
          }
        },
        "uploadPathRegex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regular expression that matches the file paths for all files that should be referenced by this handler."
          }
        },
        "httpHeaders": {
          "target": "com.gcp.appengine_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "HTTP headers to use for all responses from these URLs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Files served directly to the user for a given URL, such as images, CSS stylesheets, or JavaScript source files. Static file handlers describe which files in the application directory are static files, and which URLs serve them."
      }
    },
    "com.gcp.appengine_v1beta#BatchUpdateIngressRulesRequest": {
      "type": "structure",
      "members": {
        "ingressRules": {
          "target": "com.gcp.appengine_v1beta#FirewallRuleList",
          "traits": {
            "smithy.api#documentation": "A list of FirewallRules to replace the existing set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for Firewall.BatchUpdateIngressRules."
      }
    },
    "com.gcp.appengine_v1beta#ApiEndpointHandler": {
      "type": "structure",
      "members": {
        "scriptPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the script from the application root directory."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Uses Google Cloud Endpoints to handle requests."
      }
    },
    "com.gcp.appengine_v1beta#Service": {
      "type": "structure",
      "members": {
        "generatedCustomerMetadata": {
          "target": "com.gcp.appengine_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetServiceRequest"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Relative name of the service within the application. Example: default.@OutputOnly"
          }
        },
        "networkSettings": {
          "target": "com.gcp.appengine_v1beta#NetworkSettings",
          "traits": {
            "smithy.api#documentation": "Ingress settings for this service. Will apply to all versions."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly"
          }
        },
        "split": {
          "target": "com.gcp.appengine_v1beta#TrafficSplit",
          "traits": {
            "smithy.api#documentation": "Mapping that defines fractional HTTP traffic diversion to different versions within the service."
          }
        },
        "labels": {
          "target": "com.gcp.appengine_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "A set of labels to apply to this service. Labels are key/value pairs that describe the service and all resources that belong to it (e.g., versions). The labels can be used to search and group resources, and are propagated to the usage and billing reports, enabling fine-grain analysis of costs. An example of using labels is to tag resources belonging to different environments (e.g., \"env=prod\", \"env=qa\"). Label keys and values can be no longer than 63 characters and can only contain lowercase letters, numeric characters, underscores, dashes, and international characters. Label keys must start with a lowercase letter or an international character. Each service can have at most 32 labels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle tasks such as backend data analysis or API requests from mobile devices. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service."
      }
    },
    "com.gcp.appengine_v1beta#TrafficSplit": {
      "type": "structure",
      "members": {
        "shardBy": {
          "target": "com.gcp.appengine_v1beta#TrafficSplitShardByEnum",
          "traits": {
            "smithy.api#documentation": "Mechanism used to determine which version a request is sent to. The traffic selection algorithm will be stable for either type until allocations are changed."
          }
        },
        "allocations": {
          "target": "com.gcp.appengine_v1beta#DoubleMap",
          "traits": {
            "smithy.api#documentation": "Mapping from version IDs within the service to fractional (0.000, 1] allocations of traffic for that version. Each version can be specified only once, but some versions in the service may not have any traffic allocation. Services that have traffic allocated cannot be deleted until either the service is deleted or their traffic allocation is removed. Allocations must sum to 1. Up to two decimal place precision is supported for IP-based splits and up to three decimal places is supported for cookie-based splits."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Traffic routing configuration for versions within a single service. Traffic splits define how traffic directed to the service is assigned to versions."
      }
    },
    "com.gcp.appengine_v1beta#TrafficSplitShardByEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COOKIE"
          }
        },
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP"
          }
        },
        "RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RANDOM"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#DoubleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.appengine_v1beta#CreateVersionMetadataV1Alpha": {
      "type": "structure",
      "members": {
        "cloudBuildId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest."
      }
    },
    "com.gcp.appengine_v1beta#BuildInfo": {
      "type": "structure",
      "members": {
        "cloudBuildId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Build id. Example: \"f966068f-08b2-42c8-bdfe-74137dff2bf9\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google Cloud Build information."
      }
    },
    "com.gcp.appengine_v1beta#CustomMetric": {
      "type": "structure",
      "members": {
        "targetType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the metric. Must be a string representing a Stackdriver metric type e.g. GAGUE, DELTA_PER_SECOND, etc."
          }
        },
        "targetUtilization": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The target value for the metric."
          }
        },
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metric."
          }
        },
        "singleInstanceAssignment": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "May be used instead of target_utilization when an instance can handle a specific amount of work/resources and the metric value is equal to the current amount of work remaining. The autoscaler will try to keep the number of instances equal to the metric value divided by single_instance_assignment."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Allows filtering on the metric's fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allows autoscaling based on Stackdriver metrics."
      }
    },
    "com.gcp.appengine_v1beta#Resources": {
      "type": "structure",
      "members": {
        "kmsKeyReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the encryption key that is stored in Google Cloud KMS. Only should be used by Cloud Composer to encrypt the vm disk"
          }
        },
        "cpu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of CPU cores needed."
          }
        },
        "volumes": {
          "target": "com.gcp.appengine_v1beta#VolumeList",
          "traits": {
            "smithy.api#documentation": "User specified volumes."
          }
        },
        "diskGb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Disk size (GB) needed."
          }
        },
        "memoryGb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory (GB) needed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Machine resources for a version."
      }
    },
    "com.gcp.appengine_v1beta#VolumeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#Volume"
      }
    },
    "com.gcp.appengine_v1beta#Instance": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time that this instance was started.@OutputOnly"
          }
        },
        "memoryUsage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total memory in use (bytes)."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Relative name of the instance within the version. Example: instance-1."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full path to the Instance resource in the API. Example: apps/myapp/services/default/versions/v1/instances/instance-1."
          }
        },
        "vmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Virtual machine ID of this instance. Only applicable for instances in App Engine flexible environment."
          }
        },
        "vmIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The IP address of this instance. Only applicable for instances in App Engine flexible environment."
          }
        },
        "vmDebugEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this instance is in debug mode. Only applicable for instances in App Engine flexible environment."
          }
        },
        "averageLatency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Average latency (ms) over the last minute."
          }
        },
        "vmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment."
          }
        },
        "requests": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of requests since this instance was started."
          }
        },
        "vmStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment."
          }
        },
        "availability": {
          "target": "com.gcp.appengine_v1beta#InstanceAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Availability of the instance."
          }
        },
        "errors": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of errors since this instance was started."
          }
        },
        "appEngineRelease": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. App Engine release this instance is running on."
          }
        },
        "qps": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Average queries per second (QPS) over the last minute."
          }
        },
        "vmZoneName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Zone where the virtual machine is located. Only applicable for instances in App Engine flexible environment."
          }
        },
        "vmLiveness": {
          "target": "com.gcp.appengine_v1beta#InstanceVmLivenessEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The liveness health check of this instance. Only applicable for instances in App Engine flexible environment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Instance resource is the computing unit that App Engine uses to automatically scale an application."
      }
    },
    "com.gcp.appengine_v1beta#InstanceAvailabilityEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "RESIDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESIDENT"
          }
        },
        "DYNAMIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#InstanceVmLivenessEnum": {
      "type": "enum",
      "members": {
        "LIVENESS_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIVENESS_STATE_UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        },
        "DRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAINING"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "com.gcp.appengine_v1beta#InstanceList",
          "traits": {
            "smithy.api#documentation": "The instances belonging to the requested version."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for Instances.ListInstances."
      }
    },
    "com.gcp.appengine_v1beta#InstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#Instance"
      }
    },
    "com.gcp.appengine_v1beta#DebugInstanceRequest": {
      "type": "structure",
      "members": {
        "sshKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public SSH key to add to the instance. Examples: [USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME] [USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for Instances.DebugInstance."
      }
    },
    "com.gcp.appengine_v1beta#ResourceEvent": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID for this per-resource event. CLHs can use this value to dedup repeated calls. required"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource for which this event is. required"
          }
        },
        "state": {
          "target": "com.gcp.appengine_v1beta#ContainerState",
          "traits": {
            "smithy.api#documentation": "The state of the project that led to this event."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request that is passed to CLH during per-resource events. The request will be sent with update semantics in all cases except for data governance purge events. These events will be sent with delete semantics and the CLH is expected to delete the resource receiving this event."
      }
    },
    "com.gcp.appengine_v1beta#ProjectEvent": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID for this project event. CLHs can use this value to dedup repeated calls. required"
          }
        },
        "projectMetadata": {
          "target": "com.gcp.appengine_v1beta#ProjectsMetadata",
          "traits": {
            "smithy.api#documentation": "The projects metadata for this project. required"
          }
        },
        "phase": {
          "target": "com.gcp.appengine_v1beta#ProjectEventPhaseEnum",
          "traits": {
            "smithy.api#documentation": "Phase indicates when in the container event propagation this event is being communicated. Events are sent before and after the per-resource events are propagated. required"
          }
        },
        "state": {
          "target": "com.gcp.appengine_v1beta#ContainerState",
          "traits": {
            "smithy.api#documentation": "The state of the organization that led to this event."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request sent to CLHs during project events."
      }
    },
    "com.gcp.appengine_v1beta#ProjectEventPhaseEnum": {
      "type": "enum",
      "members": {
        "CONTAINER_EVENT_PHASE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_EVENT_PHASE_UNSPECIFIED"
          }
        },
        "BEFORE_RESOURCE_HANDLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEFORE_RESOURCE_HANDLING"
          }
        },
        "AFTER_RESOURCE_HANDLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFTER_RESOURCE_HANDLING"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#RepairApplicationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for 'Applications.RepairApplication'."
      }
    },
    "com.gcp.appengine_v1beta#LivenessCheck": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request path."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\""
          }
        },
        "checkInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interval between health checks."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time before the check is considered failed."
          }
        },
        "initialDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The initial delay before starting to execute the checks."
          }
        },
        "failureThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of consecutive failed checks required before considering the VM unhealthy."
          }
        },
        "successThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of consecutive successful checks required before considering the VM healthy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances."
      }
    },
    "com.gcp.appengine_v1beta#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.appengine_v1beta#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.appengine_v1beta#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#DocumentMap"
      }
    },
    "com.gcp.appengine_v1beta#FlexibleRuntimeSettings": {
      "type": "structure",
      "members": {
        "runtimeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The runtime version of an App Engine flexible application."
          }
        },
        "operatingSystem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operating system of the application runtime."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Runtime settings for the App Engine flexible environment."
      }
    },
    "com.gcp.appengine_v1beta#BatchUpdateIngressRulesResponse": {
      "type": "structure",
      "members": {
        "ingressRules": {
          "target": "com.gcp.appengine_v1beta#FirewallRuleList",
          "traits": {
            "smithy.api#documentation": "The full list of ingress FirewallRules for this application."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for Firewall.UpdateAllIngressRules."
      }
    },
    "com.gcp.appengine_v1beta#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "operations": {
          "target": "com.gcp.appengine_v1beta#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.appengine_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.appengine_v1beta#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#Operation"
      }
    },
    "com.gcp.appengine_v1beta#OperationMetadataV1Beta": {
      "type": "structure",
      "members": {
        "ephemeralMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
          }
        },
        "insertTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time that this operation was created.@OutputOnly"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time that this operation completed.@OutputOnly"
          }
        },
        "warning": {
          "target": "com.gcp.appengine_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Durable messages that persist on every operation poll. @OutputOnly"
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User who requested this operation.@OutputOnly"
          }
        },
        "createVersionMetadata": {
          "target": "com.gcp.appengine_v1beta#CreateVersionMetadataV1Beta"
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly"
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for the given google.longrunning.Operation."
      }
    },
    "com.gcp.appengine_v1beta#ManagedCertificate": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.appengine_v1beta#ManagedCertificateStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of certificate management. Refers to the most recent certificate acquisition or renewal attempt.@OutputOnly"
          }
        },
        "lastRenewalTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which the certificate was last renewed. The renewal process is fully managed. Certificate renewal will automatically occur before the certificate expires. Renewal errors can be tracked via ManagementStatus.@OutputOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A certificate managed by App Engine."
      }
    },
    "com.gcp.appengine_v1beta#ManagedCertificateStatusEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_STATUS_UNSPECIFIED"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "FAILED_RETRYING_NOT_VISIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_RETRYING_NOT_VISIBLE"
          }
        },
        "FAILED_PERMANENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_PERMANENT"
          }
        },
        "FAILED_RETRYING_CAA_FORBIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_RETRYING_CAA_FORBIDDEN"
          }
        },
        "FAILED_RETRYING_CAA_CHECKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_RETRYING_CAA_CHECKING"
          }
        }
      }
    },
    "com.gcp.appengine_v1beta#DomainMapping": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative name of the domain serving the application. Example: example.com."
          }
        },
        "sslSettings": {
          "target": "com.gcp.appengine_v1beta#SslSettings",
          "traits": {
            "smithy.api#documentation": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly"
          }
        },
        "resourceRecords": {
          "target": "com.gcp.appengine_v1beta#ResourceRecordList",
          "traits": {
            "smithy.api#documentation": "Output only. The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A domain serving an App Engine application."
      }
    },
    "com.gcp.appengine_v1beta#ResourceRecordList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1beta#ResourceRecord"
      }
    },
    "com.gcp.appengine_v1beta#ReadinessCheck": {
      "type": "structure",
      "members": {
        "failureThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of consecutive failed checks required before removing traffic."
          }
        },
        "successThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of consecutive successful checks required before receiving traffic."
          }
        },
        "checkInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interval between health checks."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time before the check is considered failed."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host header to send when performing a HTTP Readiness check. Example: \"myapp.appspot.com\""
          }
        },
        "appStartTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A maximum time limit on application initialization, measured from moment the application successfully replies to a healthcheck until it is ready to serve traffic."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request path."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Readiness checking configuration for VM instances. Unhealthy instances are removed from traffic rotation."
      }
    },
    "com.gcp.appengine_v1beta#CertificateRawData": {
      "type": "structure",
      "members": {
        "publicCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: -----BEGIN CERTIFICATE----- -----END CERTIFICATE----- "
          }
        },
        "privateKey": {
          "target": "smithy.api#String",
          "traits": {
[...]
