{
  "smithy": "2.0",
  "metadata": {
    "service": "artifactregistry",
    "version": "v1beta1",
    "title": "Artifact Registry API",
    "baseUrl": "https://artifactregistry.googleapis.com/"
  },
  "shapes": {
    "com.gcp.artifactregistry_v1beta1#Package": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the package was created."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the package."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the package was last updated. This includes publishing a new version of the package."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Packages are named collections of versions."
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListTagsResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.gcp.artifactregistry_v1beta1#TagList",
          "traits": {
            "smithy.api#documentation": "The tags returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to retrieve the next page of tags, or empty if there are no more tags to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from listing tags."
      }
    },
    "com.gcp.artifactregistry_v1beta1#TagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1beta1#Tag"
      }
    },
    "com.gcp.artifactregistry_v1beta1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.artifactregistry_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.artifactregistry_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.artifactregistry_v1beta1#Expr": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.artifactregistry_v1beta1#Repository": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-provided description of the repository."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the repository was created."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether or not this repository satisfies PZI."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud KMS resource name of the customer managed encryption key that's used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created."
          }
        },
        "format": {
          "target": "com.gcp.artifactregistry_v1beta1#RepositoryFormatEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The format of packages that are stored in the repository."
          }
        },
        "labels": {
          "target": "com.gcp.artifactregistry_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the repository was last updated."
          }
        },
        "sizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The size, in bytes, of all artifact storage in this repository. Repositories that are generally available or in public preview use this to calculate storage costs."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether or not this repository satisfies PZS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Repository for storing artifacts with a specific format."
      }
    },
    "com.gcp.artifactregistry_v1beta1#RepositoryFormatEnum": {
      "type": "enum",
      "members": {
        "FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORMAT_UNSPECIFIED"
          }
        },
        "DOCKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCKER"
          }
        },
        "MAVEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAVEN"
          }
        },
        "NPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NPM"
          }
        },
        "APT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APT"
          }
        },
        "YUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YUM"
          }
        },
        "GOOGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGET"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYTHON"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.artifactregistry_v1beta1#Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.artifactregistry_v1beta1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.artifactregistry_v1beta1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1beta1#Binding"
      }
    },
    "com.gcp.artifactregistry_v1beta1#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "labels": {
          "target": "com.gcp.artifactregistry_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "metadata": {
          "target": "com.gcp.artifactregistry_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.artifactregistry_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.artifactregistry_v1beta1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.artifactregistry_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "condition": {
          "target": "com.gcp.artifactregistry_v1beta1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.artifactregistry_v1beta1#Version": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the version was last updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the version, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/art1`. If the package or version ID parts contain slashes, the slashes are escaped."
          }
        },
        "relatedTags": {
          "target": "com.gcp.artifactregistry_v1beta1#TagList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of related tags. Will contain up to 100 tags that reference this version."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the version, as specified in its metadata."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the version was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The body of a version resource. A version resource represents a collection of components, such as files and other data. This may correspond to a version in many package management schemes."
      }
    },
    "com.gcp.artifactregistry_v1beta1#Tag": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the version the tag refers to, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/sha256:5243811` If the package or version ID parts contain slashes, the slashes are escaped."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tags point to a version and represent an alternative name that can be used to access the version."
      }
    },
    "com.gcp.artifactregistry_v1beta1#Hash": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.artifactregistry_v1beta1#HashTypeEnum",
          "traits": {
            "smithy.api#documentation": "The algorithm used to compute the hash value."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hash value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hash of file content."
      }
    },
    "com.gcp.artifactregistry_v1beta1#HashTypeEnum": {
      "type": "enum",
      "members": {
        "HASH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HASH_TYPE_UNSPECIFIED"
          }
        },
        "SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHA256"
          }
        },
        "MD5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MD5"
          }
        },
        "DIRSUM_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRSUM_SHA256"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.artifactregistry_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.artifactregistry_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1beta1#DocumentMap"
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListRepositoriesResponse": {
      "type": "structure",
      "members": {
        "repositories": {
          "target": "com.gcp.artifactregistry_v1beta1#RepositoryList",
          "traits": {
            "smithy.api#documentation": "The repositories returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to retrieve the next page of repositories, or empty if there are no more repositories to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from listing repositories."
      }
    },
    "com.gcp.artifactregistry_v1beta1#RepositoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1beta1#Repository"
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListFilesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to retrieve the next page of files, or empty if there are no more files to return."
          }
        },
        "files": {
          "target": "com.gcp.artifactregistry_v1beta1#FileList",
          "traits": {
            "smithy.api#documentation": "The files returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from listing files."
      }
    },
    "com.gcp.artifactregistry_v1beta1#FileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1beta1#File"
      }
    },
    "com.gcp.artifactregistry_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.artifactregistry_v1beta1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.artifactregistry_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "locations": {
          "target": "com.gcp.artifactregistry_v1beta1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.artifactregistry_v1beta1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1beta1#Location"
      }
    },
    "com.gcp.artifactregistry_v1beta1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.artifactregistry_v1beta1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListPackagesResponse": {
      "type": "structure",
      "members": {
        "packages": {
          "target": "com.gcp.artifactregistry_v1beta1#PackageList",
          "traits": {
            "smithy.api#documentation": "The packages returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to retrieve the next page of packages, or empty if there are no more packages to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from listing packages."
      }
    },
    "com.gcp.artifactregistry_v1beta1#PackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1beta1#Package"
      }
    },
    "com.gcp.artifactregistry_v1beta1#Operation": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.gcp.artifactregistry_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "error": {
          "target": "com.gcp.artifactregistry_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.artifactregistry_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.artifactregistry_v1beta1#File": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the File was last updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the file, for example: `projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt`. If the file ID part contains slashes, they are escaped."
          }
        },
        "hashes": {
          "target": "com.gcp.artifactregistry_v1beta1#HashList",
          "traits": {
            "smithy.api#documentation": "The hashes of the file content."
          }
        },
        "sizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size of the File in bytes."
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Package or Version that owns this file, if any."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the File was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Files store content that is potentially associated with Packages or Versions."
      }
    },
    "com.gcp.artifactregistry_v1beta1#HashList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1beta1#Hash"
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListVersionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to retrieve the next page of versions, or empty if there are no more versions to return."
          }
        },
        "versions": {
          "target": "com.gcp.artifactregistry_v1beta1#VersionList",
          "traits": {
            "smithy.api#documentation": "The versions returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from listing versions."
      }
    },
    "com.gcp.artifactregistry_v1beta1#VersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1beta1#Version"
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.artifactregistry_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.artifactregistry_v1beta1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.artifactregistry_v1beta1#CreateProjectsLocationsRepositoriesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the parent resource where the repository will be created.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repositoryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The repository id to use for this repository.",
            "smithy.api#httpQuery": "repositoryId"
          }
        },
        "body": {
          "target": "com.gcp.artifactregistry_v1beta1#Repository",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.artifactregistry_v1beta1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.artifactregistry_v1beta1#CreateProjectsLocationsRepositories": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#CreateProjectsLocationsRepositoriesRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+parent}/repositories"
        },
        "smithy.api#documentation": "Creates a repository. The returned Operation will finish once the repository has been created. Its response will be the created Repository."
      }
    },
    "com.gcp.artifactregistry_v1beta1#PatchProjectsLocationsRepositoriesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.artifactregistry_v1beta1#Repository",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#PatchProjectsLocationsRepositories": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#PatchProjectsLocationsRepositoriesRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Repository"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates a repository."
      }
    },
    "com.gcp.artifactregistry_v1beta1#TestIamPermissionsProjectsLocationsRepositoriesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.artifactregistry_v1beta1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#TestIamPermissionsProjectsLocationsRepositories": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#TestIamPermissionsProjectsLocationsRepositoriesRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Tests if the caller has a list of permissions on a resource."
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the repository to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositories": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Repository"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets a repository."
      }
    },
    "com.gcp.artifactregistry_v1beta1#SetIamPolicyProjectsLocationsRepositoriesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.artifactregistry_v1beta1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#SetIamPolicyProjectsLocationsRepositories": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#SetIamPolicyProjectsLocationsRepositoriesRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Updates the IAM policy for a given resource."
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of repositories to return. Maximum page size is 1,000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next_page_token value returned from a previous list request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the parent resource whose repositories will be listed.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The field to order the results by.",
            "smithy.api#httpQuery": "orderBy"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositories": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#ListRepositoriesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/repositories"
        },
        "smithy.api#documentation": "Lists repositories.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetIamPolicyProjectsLocationsRepositoriesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetIamPolicyProjectsLocationsRepositories": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#GetIamPolicyProjectsLocationsRepositoriesRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the IAM policy for a given resource."
      }
    },
    "com.gcp.artifactregistry_v1beta1#DeleteProjectsLocationsRepositoriesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the repository to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#DeleteProjectsLocationsRepositories": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#DeleteProjectsLocationsRepositoriesRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes a repository and all of its contents. The returned Operation will finish once the repository has been deleted. It will not have any Operation metadata and will return a google.protobuf.Empty response."
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesPackagesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the package to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesPackages": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesPackagesRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Package"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets a package."
      }
    },
    "com.gcp.artifactregistry_v1beta1#DeleteProjectsLocationsRepositoriesPackagesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the package to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#DeleteProjectsLocationsRepositoriesPackages": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#DeleteProjectsLocationsRepositoriesPackagesRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes a package and all of its versions and tags. The returned operation will complete once the package has been deleted."
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesPackagesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of packages to return. Maximum page size is 1,000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next_page_token value returned from a previous list request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the parent resource whose packages will be listed.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The field to order the results by.",
            "smithy.api#httpQuery": "orderBy"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesPackages": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesPackagesRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#ListPackagesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/packages"
        },
        "smithy.api#documentation": "Lists packages.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesPackagesTagsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of tags to return. Maximum page size is 1,000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next_page_token value returned from a previous list request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `version` Examples of using a filter: To filter the results of your request to tags with the name `my-tag` in package `my-package` in repository `my-repo` in project \"`y-project` in the us-central region, append the following filter expression to your request: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/my-tag\"` You can also use wildcards to match any number of characters before or after the value: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/my*\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/*tag\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/*tag*\"` To filter the results of your request to tags applied to the version `1.0` in package `my-package`, append the following filter expression to your request: * `version=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/1.0\"`",
            "smithy.api#httpQuery": "filter"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the parent package whose tags will be listed. For example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesPackagesTags": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesPackagesTagsRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#ListTagsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/tags"
        },
        "smithy.api#documentation": "Lists tags.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#DeleteProjectsLocationsRepositoriesPackagesTagsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the tag to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#DeleteProjectsLocationsRepositoriesPackagesTags": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#DeleteProjectsLocationsRepositoriesPackagesTagsRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes a tag."
      }
    },
    "com.gcp.artifactregistry_v1beta1#PatchProjectsLocationsRepositoriesPackagesTagsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.artifactregistry_v1beta1#Tag",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#PatchProjectsLocationsRepositoriesPackagesTags": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#PatchProjectsLocationsRepositoriesPackagesTagsRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Tag"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates a tag."
      }
    },
    "com.gcp.artifactregistry_v1beta1#CreateProjectsLocationsRepositoriesPackagesTagsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the parent resource where the tag will be created.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tagId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tag id to use for this repository.",
            "smithy.api#httpQuery": "tagId"
          }
        },
        "body": {
          "target": "com.gcp.artifactregistry_v1beta1#Tag",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#CreateProjectsLocationsRepositoriesPackagesTags": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#CreateProjectsLocationsRepositoriesPackagesTagsRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Tag"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+parent}/tags"
        },
        "smithy.api#documentation": "Creates a tag."
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesPackagesTagsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the tag to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesPackagesTags": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesPackagesTagsRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Tag"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets a tag."
      }
    },
    "com.gcp.artifactregistry_v1beta1#DeleteProjectsLocationsRepositoriesPackagesVersionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the version to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "By default, a version that is tagged may not be deleted. If force=true, the version and any tags pointing to the version are deleted.",
            "smithy.api#httpQuery": "force"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#DeleteProjectsLocationsRepositoriesPackagesVersions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#DeleteProjectsLocationsRepositoriesPackagesVersionsRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes a version and all of its content. The returned operation will complete once the version has been deleted."
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesPackagesVersionsViewEnum": {
      "type": "enum",
      "members": {
        "VERSION_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERSION_VIEW_UNSPECIFIED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesPackagesVersionsRequest": {
      "type": "structure",
      "members": {
        "view": {
          "target": "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesPackagesVersionsViewEnum",
          "traits": {
            "smithy.api#documentation": "The view that should be returned in the response.",
            "smithy.api#httpQuery": "view"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the version to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesPackagesVersions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesPackagesVersionsRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#Version"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets a version"
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesPackagesVersionsViewEnum": {
      "type": "enum",
      "members": {
        "VERSION_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERSION_VIEW_UNSPECIFIED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesPackagesVersionsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of versions to return. Maximum page size is 1,000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "view": {
          "target": "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesPackagesVersionsViewEnum",
          "traits": {
            "smithy.api#documentation": "The view that should be returned in the response.",
            "smithy.api#httpQuery": "view"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The field to order the results by.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next_page_token value returned from a previous list request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the parent resource whose versions will be listed.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesPackagesVersions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesPackagesVersionsRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#ListVersionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/versions"
        },
        "smithy.api#documentation": "Lists versions.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesFilesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the repository whose files will be listed. For example: \"projects/p1/locations/us-central1/repositories/repo1",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of files to return. Maximum page size is 1,000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next_page_token value returned from a previous list request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `owner` * `annotations` Examples of using a filter: To filter the results of your request to files with the name `my_file.txt` in project `my-project` in the `us-central` region, in repository `my-repo`, append the following filter expression to your request: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/my-file.txt\"` You can also use wildcards to match any number of characters before or after the value: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/my-*\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/*file.txt\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/*file*\"` To filter the results of your request to files owned by the version `1.0` in package `pkg1`, append the following filter expression to your request: * `owner=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/1.0\"` To filter the results of your request to files with the annotation key-value pair [`external_link`: `external_link_value`], append the following filter expression to your request: * `\"annotations.external_link:external_link_value\"` To filter just for a specific annotation key `external_link`, append the following filter expression to your request: * `\"annotations.external_link\"` If the annotation key or value contains special characters, you can escape them by surrounding the value with backticks. For example, to filter the results of your request to files with the annotation key-value pair [`external.link`:`https://example.com/my-file`], append the following filter expression to your request: * `` \"annotations.`external.link`:`https://example.com/my-file`\" `` You can also filter with annotations with a wildcard to match any number of characters before or after the value: * `` \"annotations.*_link:`*example.com*`\" ``",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesFiles": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#ListProjectsLocationsRepositoriesFilesRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#ListFilesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/files"
        },
        "smithy.api#documentation": "Lists files.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesFilesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the file to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesFiles": {
      "type": "operation",
      "input": {
        "target": "com.gcp.artifactregistry_v1beta1#GetProjectsLocationsRepositoriesFilesRequest"
      },
      "output": {
        "target": "com.gcp.artifactregistry_v1beta1#File"
      },
      "errors": [
        {
          "target": "com.gcp.artifactregistry_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.artifactregistry_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets a file."
      }
    }
  }
}
