{
  "smithy": "2.0",
  "metadata": {
    "service": "authorizedbuyersmarketplace",
    "version": "v1alpha",
    "title": "Authorized Buyers Marketplace API",
    "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/"
  },
  "shapes": {
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DeactivateClientRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for disabling a client."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#InventoryTypeTargeting": {
      "type": "structure",
      "members": {
        "inventoryTypes": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#InventoryTypeTargetingInventoryTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The list of targeted inventory types for the bid request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targeting of the inventory types a bid request can originate from."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#InventoryTypeTargetingInventoryTypesItemEnum": {
      "type": "enum",
      "members": {
        "INVENTORY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVENTORY_TYPE_UNSPECIFIED"
          }
        },
        "BROWSER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BROWSER"
          }
        },
        "MOBILE_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_APP"
          }
        },
        "VIDEO_PLAYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_PLAYER"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#InventoryTypeTargetingInventoryTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#InventoryTypeTargetingInventoryTypesItemEnum"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ListClientUsersResponse": {
      "type": "structure",
      "members": {
        "clientUsers": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#ClientUserList",
          "traits": {
            "smithy.api#documentation": "The returned list of client users."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the list method."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ClientUserList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#ClientUser"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ResumeFinalizedDealRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for resuming a finalized deal."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#BatchUpdateDealsResponse": {
      "type": "structure",
      "members": {
        "deals": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#DealList",
          "traits": {
            "smithy.api#documentation": "Deals updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for batch updating deals."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DealList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#Deal"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ListPublisherProfilesResponse": {
      "type": "structure",
      "members": {
        "publisherProfiles": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PublisherProfileList",
          "traits": {
            "smithy.api#documentation": "The list of matching publisher profiles."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to fetch the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for profiles visible to the buyer."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PublisherProfileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PublisherProfile"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PrivateData": {
      "type": "structure",
      "members": {
        "referenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A buyer specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Buyers are allowed to store certain types of private data in a proposal."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#TechnologyTargeting": {
      "type": "structure",
      "members": {
        "deviceCategoryTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "IDs of device categories to be included/excluded."
          }
        },
        "deviceCapabilityTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "IDs of device capabilities to be included/excluded."
          }
        },
        "operatingSystemTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#OperatingSystemTargeting",
          "traits": {
            "smithy.api#documentation": "Operating system related targeting information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents targeting about various types of technology."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DayPartTargeting": {
      "type": "structure",
      "members": {
        "timeZoneType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#DayPartTargetingTimeZoneTypeEnum",
          "traits": {
            "smithy.api#documentation": "The time zone type of the day parts"
          }
        },
        "dayParts": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#DayPartList",
          "traits": {
            "smithy.api#documentation": "The targeted weekdays and times"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents Daypart targeting."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DayPartTargetingTimeZoneTypeEnum": {
      "type": "enum",
      "members": {
        "TIME_ZONE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_ZONE_TYPE_UNSPECIFIED"
          }
        },
        "SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DayPartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#DayPart"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#Money": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#SubscribeClientsRequest": {
      "type": "structure",
      "members": {
        "clients": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of client buyers to subscribe to the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`. The current buyer will be subscribed to the auction package regardless of the list contents if not already."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SubscribeAuctionPackageClients."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PrivateAuctionTerms": {
      "type": "structure",
      "members": {
        "floorPrice": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#Price",
          "traits": {
            "smithy.api#documentation": "The minimum price buyer has to bid to compete in the private auction."
          }
        },
        "openAuctionAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pricing terms for Private Auctions."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#SendRfpRequest": {
      "type": "structure",
      "members": {
        "flightEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Proposed flight end time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second."
          }
        },
        "geoTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "Geo criteria IDs to be targeted. Refer to Geo tables."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the proposal being created by this RFP."
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message that is sent to the publisher. Maximum length is 1024 characters."
          }
        },
        "inventorySizeTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#InventorySizeTargeting",
          "traits": {
            "smithy.api#documentation": "Inventory sizes to be targeted. Only PIXEL inventory size type is supported."
          }
        },
        "publisherProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The profile of the publisher who will receive this RFP in the format: `buyers/{accountId}/publisherProfiles/{publisherProfileId}`."
          }
        },
        "programmaticGuaranteedTerms": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#ProgrammaticGuaranteedTerms",
          "traits": {
            "smithy.api#documentation": "The terms for programmatic guaranteed deals."
          }
        },
        "preferredDealTerms": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PreferredDealTerms",
          "traits": {
            "smithy.api#documentation": "The terms for preferred deals."
          }
        },
        "estimatedGrossSpend": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#Money",
          "traits": {
            "smithy.api#documentation": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly."
          }
        },
        "client": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the current buyer is sending the RFP on behalf of its client, use this field to specify the name of the client in the format: `buyers/{accountId}/clients/{clientAccountid}`."
          }
        },
        "buyerContacts": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#ContactList",
          "traits": {
            "smithy.api#documentation": "Contact information for the buyer."
          }
        },
        "flightStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Proposed flight start time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to send an RFP. All fields in this request are proposed to publisher and subject to changes by publisher during later negotiation."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ContactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#Contact"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#Client": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name shown to publishers. Must be unique for clients without partnerClientId specified. Maximum length of 255 characters is allowed."
          }
        },
        "state": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#ClientStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the client."
          }
        },
        "role": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#ClientRoleEnum",
          "traits": {
            "smithy.api#documentation": "Required. The role assigned to the client. Each role implies a set of permissions granted to the client."
          }
        },
        "sellerVisible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the client will be visible to sellers."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`"
          }
        },
        "partnerClientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Arbitrary unique identifier provided by the buyer. This field can be used to associate a client with an identifier in the namespace of the buyer, lookup clients by that identifier and verify whether an Authorized Buyers account of the client already exists. If present, must be unique across all the clients."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A client represents an agency, a brand, or an advertiser customer of the buyer. Based on the client's role, its client users will have varying levels of restricted access to the Marketplace and certain other sections of the Authorized Buyers UI."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ClientStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ClientRoleEnum": {
      "type": "enum",
      "members": {
        "CLIENT_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_ROLE_UNSPECIFIED"
          }
        },
        "CLIENT_DEAL_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_DEAL_VIEWER"
          }
        },
        "CLIENT_DEAL_NEGOTIATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_DEAL_NEGOTIATOR"
          }
        },
        "CLIENT_DEAL_APPROVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_DEAL_APPROVER"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#UnsubscribeClientsRequest": {
      "type": "structure",
      "members": {
        "clients": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of client buyers to unsubscribe from the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for UnsubscribeAuctionPackage."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargeting": {
      "type": "structure",
      "members": {
        "includedMaximumAdDurationTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedMaximumAdDurationTargetingEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted maximum video ad duration. If unset, inventory will be targeted regardless of maximum video ad duration."
          }
        },
        "plcmtTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoPlcmtTargeting",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted video plcmt types. If unset, inventory will be targeted regardless of video plcmt type."
          }
        },
        "minimumPredictedCompletionRatePercentage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted minimum predicted completion rate percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% completion rate. An unset value indicates inventory will be targeted regardless of predicted completion rate."
          }
        },
        "includedContentDeliveryMethod": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedContentDeliveryMethodEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted video delivery method. If unset, inventory will be targeted regardless of video delivery method."
          }
        },
        "includedPositionTypes": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedPositionTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted video ad position types. If empty, inventory will be targeted regardless of video ad position type."
          }
        },
        "includedPlaybackMethods": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedPlaybackMethodsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted video playback methods. If empty, inventory will be targeted regardless of video playback method."
          }
        },
        "includedPlayerSizeTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoPlayerSizeTargeting",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted video player size. If unset, inventory will be targeted regardless of video player size."
          }
        },
        "includedMimeTypes": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedMimeTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted video mime types using the IANA published MIME type strings (https://www.iana.org/assignments/media-types/media-types.xhtml). If empty, inventory will be targeted regardless of video mime type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video specific targeting criteria."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedMaximumAdDurationTargetingEnum": {
      "type": "enum",
      "members": {
        "MAXIMUM_VIDEO_AD_DURATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_VIDEO_AD_DURATION_UNSPECIFIED"
          }
        },
        "MAXIMUM_VIDEO_AD_DURATION_FIFTEEN_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_VIDEO_AD_DURATION_FIFTEEN_SECONDS"
          }
        },
        "MAXIMUM_VIDEO_AD_DURATION_TWENTY_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_VIDEO_AD_DURATION_TWENTY_SECONDS"
          }
        },
        "MAXIMUM_VIDEO_AD_DURATION_THIRTY_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_VIDEO_AD_DURATION_THIRTY_SECONDS"
          }
        },
        "MAXIMUM_VIDEO_AD_DURATION_SIXTY_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_VIDEO_AD_DURATION_SIXTY_SECONDS"
          }
        },
        "MAXIMUM_VIDEO_AD_DURATION_NINETY_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_VIDEO_AD_DURATION_NINETY_SECONDS"
          }
        },
        "MAXIMUM_VIDEO_AD_DURATION_ONE_HUNDRED_TWENTY_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_VIDEO_AD_DURATION_ONE_HUNDRED_TWENTY_SECONDS"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedContentDeliveryMethodEnum": {
      "type": "enum",
      "members": {
        "CONTENT_DELIVERY_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DELIVERY_METHOD_UNSPECIFIED"
          }
        },
        "CONTENT_DELIVERY_METHOD_STREAMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DELIVERY_METHOD_STREAMING"
          }
        },
        "CONTENT_DELIVERY_METHOD_PROGRESSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DELIVERY_METHOD_PROGRESSIVE"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedPositionTypesItemEnum": {
      "type": "enum",
      "members": {
        "POSITION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITION_TYPE_UNSPECIFIED"
          }
        },
        "POSITION_TYPE_MIDROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITION_TYPE_MIDROLL"
          }
        },
        "POSITION_TYPE_POSTROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITION_TYPE_POSTROLL"
          }
        },
        "POSITION_TYPE_PREROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITION_TYPE_PREROLL"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedPositionTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedPositionTypesItemEnum"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedPlaybackMethodsItemEnum": {
      "type": "enum",
      "members": {
        "PLAYBACK_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAYBACK_METHOD_UNSPECIFIED"
          }
        },
        "PLAYBACK_METHOD_AUTO_PLAY_SOUND_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAYBACK_METHOD_AUTO_PLAY_SOUND_ON"
          }
        },
        "PLAYBACK_METHOD_AUTO_PLAY_SOUND_OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAYBACK_METHOD_AUTO_PLAY_SOUND_OFF"
          }
        },
        "PLAYBACK_METHOD_CLICK_TO_PLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAYBACK_METHOD_CLICK_TO_PLAY"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedPlaybackMethodsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedPlaybackMethodsItemEnum"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedMimeTypesItemEnum": {
      "type": "enum",
      "members": {
        "VIDEO_MIME_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_MIME_TYPE_UNSPECIFIED"
          }
        },
        "VIDEO_MIME_TYPE_THREEGPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_MIME_TYPE_THREEGPP"
          }
        },
        "VIDEO_MIME_TYPE_APPLICATION_MPEGURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_MIME_TYPE_APPLICATION_MPEGURL"
          }
        },
        "VIDEO_MIME_TYPE_MP4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_MIME_TYPE_MP4"
          }
        },
        "VIDEO_MIME_TYPE_APPLICATION_MPEGDASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_MIME_TYPE_APPLICATION_MPEGDASH"
          }
        },
        "VIDEO_MIME_TYPE_APPLICATION_JAVASCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_MIME_TYPE_APPLICATION_JAVASCRIPT"
          }
        },
        "VIDEO_MIME_TYPE_WEBM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_MIME_TYPE_WEBM"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedMimeTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageVideoTargetingIncludedMimeTypesItemEnum"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#UnsubscribeAuctionPackageRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for UnsubscribeAuctionPackage."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#OperatingSystemTargeting": {
      "type": "structure",
      "members": {
        "operatingSystemCriteria": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "IDs of operating systems to be included/excluded."
          }
        },
        "operatingSystemVersionCriteria": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "IDs of operating system versions to be included/excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents targeting information for operating systems."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#CriteriaTargeting": {
      "type": "structure",
      "members": {
        "targetedCriteriaIds": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "A list of numeric IDs to be included."
          }
        },
        "excludedCriteriaIds": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "A list of numeric IDs to be excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PublisherProfile": {
      "type": "structure",
      "members": {
        "topHeadlines": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\"."
          }
        },
        "mobileApps": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PublisherProfileMobileApplicationList",
          "traits": {
            "smithy.api#documentation": "The list of apps represented in this publisher profile. Empty if this is a parent profile."
          }
        },
        "logoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image."
          }
        },
        "directDealsContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
          }
        },
        "isParent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\"."
          }
        },
        "programmaticDealsContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method."
          }
        },
        "pitchStatement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`"
          }
        },
        "audienceDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description on the publisher's audience."
          }
        },
        "mediaKitUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to additional marketing and sales materials."
          }
        },
        "overview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Overview of the publisher."
          }
        },
        "samplePageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to a sample content page."
          }
        },
        "publisherCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method."
          }
        },
        "domains": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PublisherProfileMobileApplicationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PublisherProfileMobileApplication"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ListDealsResponse": {
      "type": "structure",
      "members": {
        "deals": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#DealList",
          "traits": {
            "smithy.api#documentation": "The list of deals."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to fetch the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing deals in a proposal."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PublisherProfileMobileApplication": {
      "type": "structure",
      "members": {
        "externalAppId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The external ID for the app from its app store. Can be used to filter the response of the publisherProfiles.list method."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the app."
          }
        },
        "appStore": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PublisherProfileMobileApplicationAppStoreEnum",
          "traits": {
            "smithy.api#documentation": "The app store the app belongs to. Can be used to filter the response of the publisherProfiles.list method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mobile application that contains a external app ID, name, and app store."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PublisherProfileMobileApplicationAppStoreEnum": {
      "type": "enum",
      "members": {
        "APP_STORE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STORE_TYPE_UNSPECIFIED"
          }
        },
        "APPLE_ITUNES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLE_ITUNES"
          }
        },
        "GOOGLE_PLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_PLAY"
          }
        },
        "ROKU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROKU"
          }
        },
        "AMAZON_FIRE_TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON_FIRE_TV"
          }
        },
        "PLAYSTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAYSTATION"
          }
        },
        "XBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XBOX"
          }
        },
        "SAMSUNG_TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAMSUNG_TV"
          }
        },
        "AMAZON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON"
          }
        },
        "OPPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPPO"
          }
        },
        "SAMSUNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAMSUNG"
          }
        },
        "VIVO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIVO"
          }
        },
        "XIAOMI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XIAOMI"
          }
        },
        "LG_TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LG_TV"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#MediaPlanner": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Account ID of the media planner."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method."
          }
        },
        "ancestorNames": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a media planner account."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#FirstPartyMobileApplicationTargeting": {
      "type": "structure",
      "members": {
        "targetedAppIds": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "A list of application IDs to be included."
          }
        },
        "excludedAppIds": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "A list of application IDs to be excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#UpdateDealRequest": {
      "type": "structure",
      "members": {
        "deal": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#Deal",
          "traits": {
            "smithy.api#documentation": "Required. The deal to update. The deal's `name` field is used to identify the deal to be updated. Note: proposal_revision will have to be provided within the resource or else an error will be thrown. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for updating the deal at the given revision number."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#AdSize": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
          }
        },
        "type": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#AdSizeTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the ad slot size."
          }
        },
        "width": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents size of a single ad slot, or a creative."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#AdSizeTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "PIXEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PIXEL"
          }
        },
        "INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERSTITIAL"
          }
        },
        "NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE"
          }
        },
        "FLUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLUID"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ActivateCuratedPackageRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for ActivateCuratedPackage."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#AddNoteRequest": {
      "type": "structure",
      "members": {
        "note": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#Note",
          "traits": {
            "smithy.api#documentation": "The note to add."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to add a note."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#RtbMetrics": {
      "type": "structure",
      "members": {
        "bidRequests7Days": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bid requests in last 7 days."
          }
        },
        "bids7Days": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bids in last 7 days."
          }
        },
        "adImpressions7Days": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ad impressions in last 7 days."
          }
        },
        "filteredBidRate7Days": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids)."
          }
        },
        "bidRate7Days": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Bid rate in last 7 days, calculated by (bids / bid requests)."
          }
        },
        "mustBidRateCurrentMonth": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Must bid rate for current month."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#Contact": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address for the contact."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display_name of the contact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information on how a buyer or seller can be reached."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DealPausingInfo": {
      "type": "structure",
      "members": {
        "pausingConsented": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether pausing is consented between buyer and seller for the deal."
          }
        },
        "pauseReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for the pausing of the deal; empty for active deals."
          }
        },
        "pauseRole": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#DealPausingInfoPauseRoleEnum",
          "traits": {
            "smithy.api#documentation": "The party that first paused the deal; unspecified for active deals."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information related to deal pausing."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DealPausingInfoPauseRoleEnum": {
      "type": "enum",
      "members": {
        "BUYER_SELLER_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_SELLER_ROLE_UNSPECIFIED"
          }
        },
        "BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER"
          }
        },
        "SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PauseFinalizedDealRequest": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason to pause the finalized deal, will be displayed to the seller. Maximum length is 1000 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for pausing a finalized deal."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ListProposalsResponse": {
      "type": "structure",
      "members": {
        "proposals": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#ProposalList",
          "traits": {
            "smithy.api#documentation": "The list of proposals."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing proposals."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ProposalList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#Proposal"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoPlcmtTargeting": {
      "type": "structure",
      "members": {
        "selectionType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoPlcmtTargetingSelectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The selection type for the list of video plcmts."
          }
        },
        "videoPlcmtTypes": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoPlcmtTargetingVideoPlcmtTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. The list of targeted video plcmts types. If empty, inventory will be targeted regardless of video plcmt type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines targeting criteria based on the video placement type, often corresponding to the IAB OpenRTB 'plcmt' field."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoPlcmtTargetingSelectionTypeEnum": {
      "type": "enum",
      "members": {
        "SELECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELECTION_TYPE_UNSPECIFIED"
          }
        },
        "SELECTION_TYPE_INCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELECTION_TYPE_INCLUDE"
          }
        },
        "SELECTION_TYPE_EXCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELECTION_TYPE_EXCLUDE"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoPlcmtTargetingVideoPlcmtTypesItemEnum": {
      "type": "enum",
      "members": {
        "VIDEO_PLCMT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_PLCMT_TYPE_UNSPECIFIED"
          }
        },
        "INSTREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTREAM"
          }
        },
        "ACCOMPANYING_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOMPANYING_CONTENT"
          }
        },
        "INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERSTITIAL"
          }
        },
        "NO_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_CONTENT"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoPlcmtTargetingVideoPlcmtTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoPlcmtTargetingVideoPlcmtTypesItemEnum"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#StringTargetingDimension": {
      "type": "structure",
      "members": {
        "selectionType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringTargetingDimensionSelectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. How the items in this list should be targeted."
          }
        },
        "values": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The values specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Generic targeting with string values."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#StringTargetingDimensionSelectionTypeEnum": {
      "type": "enum",
      "members": {
        "SELECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELECTION_TYPE_UNSPECIFIED"
          }
        },
        "SELECTION_TYPE_INCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELECTION_TYPE_INCLUDE"
          }
        },
        "SELECTION_TYPE_EXCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELECTION_TYPE_EXCLUDE"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoTargeting": {
      "type": "structure",
      "members": {
        "targetedPositionTypes": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoTargetingTargetedPositionTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty."
          }
        },
        "excludedPositionTypes": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoTargetingExcludedPositionTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents targeting information about video."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoTargetingTargetedPositionTypesItemEnum": {
      "type": "enum",
      "members": {
        "POSITION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITION_TYPE_UNSPECIFIED"
          }
        },
        "PREROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREROLL"
          }
        },
        "MIDROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIDROLL"
          }
        },
        "POSTROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTROLL"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoTargetingTargetedPositionTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoTargetingTargetedPositionTypesItemEnum"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoTargetingExcludedPositionTypesItemEnum": {
      "type": "enum",
      "members": {
        "POSITION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITION_TYPE_UNSPECIFIED"
          }
        },
        "PREROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREROLL"
          }
        },
        "MIDROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIDROLL"
          }
        },
        "POSTROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTROLL"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoTargetingExcludedPositionTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoTargetingExcludedPositionTypesItemEnum"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#TimeOfDay": {
      "type": "structure",
      "members": {
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#AuctionPackage": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse."
          }
        },
        "eligibleSeatIds": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner."
          }
        },
        "subscribedClients": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`"
          }
        },
        "subscribedMediaPlanners": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#MediaPlannerList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder."
          }
        },
        "floorPriceCpm": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#Money",
          "traits": {
            "smithy.api#documentation": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A description of the auction package."
          }
        },
        "subscribedBuyers": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`"
          }
        },
        "dealOwnerSeatId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the auction package was created."
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display_name assigned to the auction package."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#MediaPlannerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#MediaPlanner"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ActivateClientUserRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for activating a client user."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PlacementTargeting": {
      "type": "structure",
      "members": {
        "mobileApplicationTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#MobileApplicationTargeting",
          "traits": {
            "smithy.api#documentation": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages."
          }
        },
        "uriTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#UriTargeting",
          "traits": {
            "smithy.api#documentation": "URLs to be included/excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DeactivateCuratedPackageRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for DeactivateCuratedPackage."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ClientUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the client user. Format: `buyers/{accountId}/clients/{clientAccountId}/users/{userId}`"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The client user's email address that has to be unique across all users for the same client."
          }
        },
        "state": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#ClientUserStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the client user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user of a client who has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ClientUserStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "INVITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVITED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ActivateClientRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for activating a client."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#TimeZone": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA Time Zone Database time zone. For example \"America/New_York\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#MobileApplicationTargeting": {
      "type": "structure",
      "members": {
        "firstPartyTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#FirstPartyMobileApplicationTargeting",
          "traits": {
            "smithy.api#documentation": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mobile application targeting settings."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#VideoPlayerSizeTargeting": {
      "type": "structure",
      "members": {
        "minimumWidth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The minimum width of the video player in pixels."
          }
        },
        "minimumHeight": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The minimum height of the video player in pixels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the size of the video player that can be targeted. Both width and height are required to be set to non-zero values."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ListMediaPlannersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token which can be passed to a subsequent call to the `ListMediaPlanners` method to retrieve the next page of results in ListMediaPlannersRequest.pageToken."
          }
        },
        "mediaPlanners": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#MediaPlannerList",
          "traits": {
            "smithy.api#documentation": "List of media planners."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response containing media planner account information."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DayPart": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored."
          }
        },
        "endTime": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored."
          }
        },
        "dayOfWeek": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#DayPartDayOfWeekEnum",
          "traits": {
            "smithy.api#documentation": "Day of week for the period."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines targeting for a period of time on a specific week day."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DayPartDayOfWeekEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ListFinalizedDealsResponse": {
      "type": "structure",
      "members": {
        "finalizedDeals": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#FinalizedDealList",
          "traits": {
            "smithy.api#documentation": "The list of finalized deals."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to fetch the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing finalized deals."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#FinalizedDealList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#FinalizedDeal"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ListCuratedPackagesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the ListCuratedPackagesRequest.pageToken field in the subsequent call to `ListCuratedPackages` method to retrieve the next page of results. If empty, then there are no more results."
          }
        },
        "curatedPackages": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#CuratedPackageList",
          "traits": {
            "smithy.api#documentation": "The list of curated packages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListCuratedPackages."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#CuratedPackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#CuratedPackage"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DeactivateClientUserRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for deactivating a client user."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#UriTargeting": {
      "type": "structure",
      "members": {
        "targetedUris": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "A list of URLs to be included."
          }
        },
        "excludedUris": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "A list of URLs to be excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DeliveryControl": {
      "type": "structure",
      "members": {
        "companionDeliveryType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#DeliveryControlCompanionDeliveryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies roadblocking in a main companion lineitem."
          }
        },
        "creativeRotationType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#DeliveryControlCreativeRotationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies strategy to use for selecting a creative when multiple creatives of the same size are available."
          }
        },
        "roadblockingType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#DeliveryControlRoadblockingTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the roadblocking type in display creatives."
          }
        },
        "frequencyCap": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#FrequencyCapList",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies any frequency caps. Cannot be filtered within ListDealsRequest."
          }
        },
        "deliveryRateType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#DeliveryControlDeliveryRateTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies how the impression delivery will be paced."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message contains details about how the deal will be paced."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DeliveryControlCompanionDeliveryTypeEnum": {
      "type": "enum",
      "members": {
        "COMPANION_DELIVERY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANION_DELIVERY_TYPE_UNSPECIFIED"
          }
        },
        "DELIVERY_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERY_OPTIONAL"
          }
        },
        "DELIVERY_AT_LEAST_ONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERY_AT_LEAST_ONE"
          }
        },
        "DELIVERY_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERY_ALL"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DeliveryControlCreativeRotationTypeEnum": {
      "type": "enum",
      "members": {
        "CREATIVE_ROTATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_ROTATION_TYPE_UNSPECIFIED"
          }
        },
        "ROTATION_EVEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROTATION_EVEN"
          }
        },
        "ROTATION_OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROTATION_OPTIMIZED"
          }
        },
        "ROTATION_MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROTATION_MANUAL"
          }
        },
        "ROTATION_SEQUENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROTATION_SEQUENTIAL"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DeliveryControlRoadblockingTypeEnum": {
      "type": "enum",
      "members": {
        "ROADBLOCKING_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROADBLOCKING_TYPE_UNSPECIFIED"
          }
        },
        "ONLY_ONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONLY_ONE"
          }
        },
        "ONE_OR_MORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_OR_MORE"
          }
        },
        "AS_MANY_AS_POSSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AS_MANY_AS_POSSIBLE"
          }
        },
        "ALL_ROADBLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_ROADBLOCK"
          }
        },
        "CREATIVE_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_SET"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#FrequencyCapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#FrequencyCap"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#DeliveryControlDeliveryRateTypeEnum": {
      "type": "enum",
      "members": {
        "DELIVERY_RATE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERY_RATE_TYPE_UNSPECIFIED"
          }
        },
        "EVENLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENLY"
          }
        },
        "FRONT_LOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRONT_LOADED"
          }
        },
        "AS_FAST_AS_POSSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AS_FAST_AS_POSSIBLE"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PackagePlacementTargeting": {
      "type": "structure",
      "members": {
        "uriTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringTargetingDimension",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted or excluded URLs. The domains should have the http/https stripped (for example, google.com), and can contain a max of 5 paths per url."
          }
        },
        "includedMobileAppCategoryTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted mobile app categories."
          }
        },
        "mobileAppTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringTargetingDimension",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted or excluded mobile application IDs that publishers own. Currently, only Android and Apple apps are supported. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#Note": {
      "type": "structure",
      "members": {
        "creatorRole": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#NoteCreatorRoleEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The role who created the note."
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of the note. Maximum length is 1024 characters."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When this note was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A text note attached to the proposal to facilitate the communication between buyers and sellers."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#NoteCreatorRoleEnum": {
      "type": "enum",
      "members": {
        "BUYER_SELLER_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_SELLER_ROLE_UNSPECIFIED"
          }
        },
        "BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER"
          }
        },
        "SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#CuratedPackage": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name assigned to the curated package by the curator. Can be used to filter the response of the curatedPackages.list method."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the curated package was last updated. Can be used to filter the response of the curatedPackages.list method."
          }
        },
        "feeCpm": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#Money",
          "traits": {
            "smithy.api#documentation": "Optional. The CPM fee charged by the curator to buyers using this curated package. Can be used to filter the response of the curatedPackages.list method."
          }
        },
        "state": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#CuratedPackageStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the curated package. Can be used to filter the response of the curatedPackages.list method."
          }
        },
        "targeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PackageTargeting",
          "traits": {
            "smithy.api#documentation": "Optional. Targeting criteria for the curated package."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the curated package was created. Can be used to filter the response of the curatedPackages.list method."
          }
        },
        "accessSettings": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#AccessControlSettings",
          "traits": {
            "smithy.api#documentation": "Required. Settings for controlling access to the curated package. Access to this curated package is limited to the allowlisted media planners and the creator. Buyers and bidders can not be allowlisted for or have direct access to this resource."
          }
        },
        "floorPriceCpm": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#Money",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum CPM a buyer has to bid to participate in auctions for inventory in this curated package. Can be used to filter the response of the curatedPackages.list method."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description of the curated package, provided by the curator."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique resource name for the curated package. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a curated package of inventory created and managed by a Curator."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#CuratedPackageStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#PreferredDealTerms": {
      "type": "structure",
      "members": {
        "fixedPrice": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#Price",
          "traits": {
            "smithy.api#documentation": "Fixed price for the deal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pricing terms for Preferred Deals."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ListAuctionPackagesResponse": {
      "type": "structure",
      "members": {
        "auctionPackages": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#AuctionPackageList",
          "traits": {
            "smithy.api#documentation": "The list of auction packages."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results. Pass this value in the ListAuctionPackagesRequest.pageToken field in the subsequent call to the `ListAuctionPackages` method to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing auction packages."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#AuctionPackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#AuctionPackage"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#AccessControlSettings": {
      "type": "structure",
      "members": {
        "allowlistedMediaPlanners": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The list of media planners that are explicitly granted access to the curated package. Eligible media planners can be found in the mediaPlanners.list method. Only a single media planner may be allowlisted at this time. Format: `mediaPlanners/{mediaPlannerAccountId}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for controlling access to a curated package."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#Proposal": {
      "type": "structure",
      "members": {
        "pausingConsented": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether pausing is allowed for the proposal. This is a negotiable term between buyers and publishers."
          }
        },
        "buyer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Refers to a buyer in The Realtime-bidding API. Format: `buyers/{buyerAccountId}`"
          }
        },
        "publisherProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Reference to the seller on the proposal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}` Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the proposal was last revised."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The descriptive name for the proposal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the proposal."
          }
        },
        "state": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#ProposalStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the state of the proposal."
          }
        },
        "lastUpdaterOrCommentorRole": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#ProposalLastUpdaterOrCommentorRoleEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The role of the last user that either updated the proposal or left a comment."
          }
        },
        "isRenegotiating": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if the proposal was previously finalized and is now being renegotiated."
          }
        },
        "sellerContacts": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#ContactList",
          "traits": {
            "smithy.api#documentation": "Output only. Contact information for the seller."
          }
        },
        "client": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`"
          }
        },
        "buyerPrivateData": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#PrivateData",
          "traits": {
            "smithy.api#documentation": "Buyer private data (hidden from seller)."
          }
        },
        "buyerContacts": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#ContactList",
          "traits": {
            "smithy.api#documentation": "Contact information for the buyer."
          }
        },
        "notes": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#NoteList",
          "traits": {
            "smithy.api#documentation": "A list of notes from the buyer and the seller attached to this proposal."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}"
          }
        },
        "dealType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#ProposalDealTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of deal the proposal contains."
          }
        },
        "originatorRole": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1alpha#ProposalOriginatorRoleEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the buyer/seller created the proposal."
          }
        },
        "proposalRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The revision number for the proposal. Each update to the proposal or deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made."
          }
        },
        "billedBuyer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer. Format : `buyers/{buyerAccountId}`"
          }
        },
        "termsAndConditions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The terms and conditions associated with this proposal. Accepting a proposal implies acceptance of this field. This is created by the seller, the buyer can only view it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1alpha#ProposalStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "BUYER_REVIEW_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_REVIEW_REQUESTED"
          }
        },
        "SELLER_REVIEW_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_REVIEW_REQUESTED"
          }
        },
        "BUYER_ACCEPTANCE_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_ACCEPTANCE_REQUESTED"
          }
        },
        "FINALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINALIZED"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATED"
          }
        }
      }
    },
[...]
