{
  "smithy": "2.0",
  "metadata": {
    "service": "beyondcorp",
    "version": "v1alpha",
    "title": "BeyondCorp API",
    "baseUrl": "https://beyondcorp.googleapis.com/"
  },
  "shapes": {
    "com.gcp.beyondcorp_v1alpha#Connector": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.beyondcorp_v1alpha#ConnectorStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the connector."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A unique identifier for the instance generated by the system."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An arbitrary user-provided name for the connector. Cannot exceed 64 characters."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Unique resource name of the connector. The name is ignored when creating a connector."
          }
        },
        "principalInfo": {
          "target": "com.gcp.beyondcorp_v1alpha#PrincipalInfo",
          "traits": {
            "smithy.api#documentation": "Required. Principal information about the Identity of the connector."
          }
        },
        "labels": {
          "target": "com.gcp.beyondcorp_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata."
          }
        },
        "resourceInfo": {
          "target": "com.gcp.beyondcorp_v1alpha#ResourceInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Resource info of the connector."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was last modified."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A BeyondCorp connector resource that represents an application facing component deployed proximal to and with direct access to the application instances. It is used to establish connectivity between the remote enterprise environment and GCP. It initiates connections to the applications and can proxy the data from users over the connection."
      }
    },
    "com.gcp.beyondcorp_v1alpha#ConnectorStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWN"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1alpha#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Unique Id for the resource."
          }
        },
        "status": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfoStatusEnum",
          "traits": {
            "smithy.api#documentation": "Overall health status. Overall status is derived based on the status of each sub level resources."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp to collect the info. It is suggested to be set by the topmost level resource only."
          }
        },
        "sub": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfoList",
          "traits": {
            "smithy.api#documentation": "List of Info for the sub level resources."
          }
        },
        "resource": {
          "target": "com.gcp.beyondcorp_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Specific details for the resource. This is for internal use only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceInfo represents the information or status of an app connector resource component that's used to report on various parts of the system. For example, ResourceInfo can be used to convey the status of a remote_agent, including the status of an appgateway for an runtime environment in a container instance."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfoStatusEnum": {
      "type": "enum",
      "members": {
        "HEALTH_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH_STATUS_UNSPECIFIED"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        },
        "UNRESPONSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNRESPONSIVE"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGRADED"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaResourceInfo"
      }
    },
    "com.gcp.beyondcorp_v1alpha#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaLoggingConfig": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configuration for Cloud Logging."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaEndpoint": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Port of the endpoint."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Hostname of the endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Internet Gateway endpoint to forward traffic to."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadata": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the insight. It is metadata describing whether the insight is a metric (e.g. count) or a report (e.g. list, status)."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Category of the insight."
          }
        },
        "subCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Sub-Category of the insight."
          }
        },
        "fields": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadataFieldList",
          "traits": {
            "smithy.api#documentation": "Output only. List of fields available for insight."
          }
        },
        "groups": {
          "target": "com.gcp.beyondcorp_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. List of groupings available for insight."
          }
        },
        "aggregations": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadataAggregationsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. List of aggregation types available for insight."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Common name of the insight."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Insight filters, groupings and aggregations that can be applied for the insight. Examples: aggregations, groups, field filters."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadataFieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadataField"
      }
    },
    "com.gcp.beyondcorp_v1alpha#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadataAggregationsItemEnum": {
      "type": "enum",
      "members": {
        "AGGREGATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATION_UNSPECIFIED"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        },
        "CUSTOM_DATE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_DATE_RANGE"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadataAggregationsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadataAggregationsItemEnum"
      }
    },
    "com.gcp.beyondcorp_v1alpha#AppGatewayOperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplication": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An arbitrary user-provided name for the application resource. Cannot exceed 64 characters."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the resource."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was last modified."
          }
        },
        "schema": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationSchemaEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of the external application."
          }
        },
        "endpointMatchers": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaEndpointMatcherList",
          "traits": {
            "smithy.api#documentation": "Optional. An array of conditions to match the application's network endpoint. Each element in the array is an EndpointMatcher object, which defines a specific combination of a hostname pattern and one or more ports. The application is considered matched if at least one of the EndpointMatcher conditions in this array is met (the conditions are combined using OR logic). Each EndpointMatcher must contain a hostname pattern, such as \"example.com\", and one or more port numbers specified as a string, such as \"443\". Hostname and port number examples: \"*.example.com\", \"443\" \"example.com\" and \"22\" \"example.com\" and \"22,33\""
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was created."
          }
        },
        "upstreams": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamList",
          "traits": {
            "smithy.api#documentation": "Optional. Which upstream resources to forward traffic to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The information about an application resource."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationSchemaEnum": {
      "type": "enum",
      "members": {
        "SCHEMA_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEMA_UNSPECIFIED"
          }
        },
        "PROXY_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROXY_GATEWAY"
          }
        },
        "API_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_GATEWAY"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaEndpointMatcherList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaEndpointMatcher"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstream"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaContainerHealthDetails": {
      "type": "structure",
      "members": {
        "currentConfigVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the current config."
          }
        },
        "expectedConfigVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the expected config."
          }
        },
        "extendedStatus": {
          "target": "com.gcp.beyondcorp_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "The extended status. Such as ExitCode, StartedAt, FinishedAt, etc."
          }
        },
        "errorMsg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ContainerHealthDetails reflects the health details of a container."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfoServiceAccount": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServiceAccount represents a GCP service account."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsight": {
      "type": "structure",
      "members": {
        "appliedConfig": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaAppliedConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Applied insight config to generate the result data rows."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The insight resource name. e.g. `organizations/{organization_id}/locations/{location_id}/insights/{insight_id}` OR `projects/{project_id}/locations/{location_id}/insights/{insight_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Metadata for the Insight."
          }
        },
        "rows": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRowList",
          "traits": {
            "smithy.api#documentation": "Output only. Result rows returned containing the required value(s)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Insight object with configuration that was returned and actual list of records."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRow"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGatewayOperationDescriptor": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Contains the URI path fragment where HTTP request is sent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "API operation descriptor."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpPartnerservicesV1mainPartnerServiceOperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorInstanceConfig": {
      "type": "structure",
      "members": {
        "sequenceNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A monotonically increasing number generated and maintained by the API provider. Every time a config changes in the backend, the sequenceNumber should be bumped up to reflect the change."
          }
        },
        "instanceConfig": {
          "target": "com.gcp.beyondcorp_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The SLM instance agent configuration."
          }
        },
        "notificationConfig": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfig",
          "traits": {
            "smithy.api#documentation": "NotificationConfig defines the notification mechanism that the remote instance should subscribe to in order to receive notification."
          }
        },
        "imageConfig": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaImageConfig",
          "traits": {
            "smithy.api#documentation": "ImageConfig defines the GCR images to run for the remote agent's control plane."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AppConnectorInstanceConfig defines the instance config of a AppConnector."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleIamV1SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleIamV1Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaNotificationConfigCloudPubSubNotificationConfig": {
      "type": "structure",
      "members": {
        "pubsubSubscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Pub/Sub subscription the AppConnector uses to receive notifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for Pub/Sub messaging for the AppConnector."
      }
    },
    "com.gcp.beyondcorp_v1alpha#CloudSecurityZerotrustApplinkAppConnectorProtoGateway": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "port specifies the port of the gateway for tunnel connections from the connectors."
          }
        },
        "interface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "interface specifies the network interface of the gateway to connect to."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "zone represents the zone the instance belongs. It is derived from the gateway URL. For example, zone=${zone} assuming a gateway URL. https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the name of an instance running a gateway. It is the unique ID for a gateway. All gateways under the same connection have the same prefix. It is derived from the gateway URL. For example, name=${instance} assuming a gateway URL. https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}"
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "project is the tenant project the gateway belongs to. Different from the project in the connection, it is a BeyondCorpAPI internally created project to manage all the gateways. It is sharing the same network with the consumer project user owned. It is derived from the gateway URL. For example, project=${project} assuming a gateway URL. https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}"
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "self_link is the gateway URL in the form https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gateway represents a GCE VM Instance endpoint for use by IAP TCP."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaEndpointMatcher": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Hostname of the application."
          }
        },
        "ports": {
          "target": "com.gcp.beyondcorp_v1alpha#IntegerList",
          "traits": {
            "smithy.api#documentation": "Required. The ports of the application."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EndpointMatcher contains the information of the endpoint that will match the application."
      }
    },
    "com.gcp.beyondcorp_v1alpha#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.beyondcorp_v1alpha#Connection": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was last modified."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was created."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An arbitrary user-provided name for the connection. Cannot exceed 64 characters."
          }
        },
        "connectors": {
          "target": "com.gcp.beyondcorp_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of [google.cloud.beyondcorp.v1main.Connector.name] that are authorised to be associated with this Connection."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Unique resource name of the connection. The name is ignored when creating a connection."
          }
        },
        "labels": {
          "target": "com.gcp.beyondcorp_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata."
          }
        },
        "gateway": {
          "target": "com.gcp.beyondcorp_v1alpha#Gateway",
          "traits": {
            "smithy.api#documentation": "Optional. Gateway used by the connection."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A unique identifier for the instance generated by the system."
          }
        },
        "type": {
          "target": "com.gcp.beyondcorp_v1alpha#ConnectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of network connectivity used by the connection."
          }
        },
        "state": {
          "target": "com.gcp.beyondcorp_v1alpha#ConnectionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the connection."
          }
        },
        "applicationEndpoint": {
          "target": "com.gcp.beyondcorp_v1alpha#ApplicationEndpoint",
          "traits": {
            "smithy.api#documentation": "Required. Address of the remote application endpoint for the BeyondCorp Connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A BeyondCorp Connection resource represents a BeyondCorp protected connection to a remote application. It creates all the necessary GCP components needed for creating a BeyondCorp protected connection. Multiple connectors can be authorised for a single Connection."
      }
    },
    "com.gcp.beyondcorp_v1alpha#ConnectionTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TCP_PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_PROXY"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1alpha#ConnectionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWN"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscovery": {
      "type": "structure",
      "members": {
        "apiGateway": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGateway",
          "traits": {
            "smithy.api#documentation": "Optional. External API configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings related to the Service Discovery."
      }
    },
    "com.gcp.beyondcorp_v1alpha#CloudSecurityZerotrustApplinkAppConnectorProtoConnectionConfig": {
      "type": "structure",
      "members": {
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "application_name represents the given name of the application the connection is connecting with."
          }
        },
        "gateway": {
          "target": "com.gcp.beyondcorp_v1alpha#CloudSecurityZerotrustApplinkAppConnectorProtoGatewayList",
          "traits": {
            "smithy.api#documentation": "gateway lists all instances running a gateway in GCP. They all connect to a connector on the host."
          }
        },
        "tunnelsPerGateway": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "tunnels_per_gateway reflects the number of tunnels between a connector and a gateway."
          }
        },
        "applicationEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "application_endpoint is the endpoint of the application the form of host:port. For example, \"localhost:80\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the unique ID for each connection. TODO(b/190732451) returns connection name from user-specified name in config. Now, name = ${application_name}:${application_endpoint}"
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "project represents the consumer project the connection belongs to."
          }
        },
        "userPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "user_port specifies the reserved port on gateways for user connections."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConnectionConfig represents a Connection Configuration object."
      }
    },
    "com.gcp.beyondcorp_v1alpha#CloudSecurityZerotrustApplinkAppConnectorProtoGatewayList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#CloudSecurityZerotrustApplinkAppConnectorProtoGateway"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaConfiguredInsightResponse": {
      "type": "structure",
      "members": {
        "appliedConfig": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaAppliedConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Applied insight config to generate the result data rows."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Next page token to be fetched. Set to empty or NULL if there are no more pages available."
          }
        },
        "rows": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRowList",
          "traits": {
            "smithy.api#documentation": "Output only. Result rows returned containing the required value(s) for configured insight."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for the configured insight."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaListApplicationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.beyondcorp_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations that could not be reached."
          }
        },
        "applications": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationList",
          "traits": {
            "smithy.api#documentation": "A list of BeyondCorp Application in the project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Applications."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplication"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaCancelSubscriptionResponse": {
      "type": "structure",
      "members": {
        "effectiveCancellationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the cancellation will become effective"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BeyondCorp.CancelSubscription"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.beyondcorp_v1alpha#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.beyondcorp_v1alpha#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#DocumentMap"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1RemoteAgentDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "RemoteAgentDetails reflects the details of a remote agent."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppgatewaysV1AppGatewayOperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedDeviceInfo": {
      "type": "structure",
      "members": {
        "outputType": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedDeviceInfoOutputTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The output type details for the delegated device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The delegated device information configuration."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedDeviceInfoOutputTypeEnum": {
      "type": "enum",
      "members": {
        "OUTPUT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_TYPE_UNSPECIFIED"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOBUF"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1alpha#ConnectionOperationMetadata": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectionsV1AppConnectionOperationMetadata": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1alpha#ContainerHealthDetails": {
      "type": "structure",
      "members": {
        "extendedStatus": {
          "target": "com.gcp.beyondcorp_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "The extended status. Such as ExitCode, StartedAt, FinishedAt, etc."
          }
        },
        "errorMsg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest error message."
          }
        },
        "expectedConfigVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the expected config."
          }
        },
        "currentConfigVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the current config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ContainerHealthDetails reflects the health details of a container."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectionsV1alphaResolveAppConnectionsResponseAppConnectionDetails": {
      "type": "structure",
      "members": {
        "appConnection": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnection",
          "traits": {
            "smithy.api#documentation": "A BeyondCorp AppConnection in the project."
          }
        },
        "recentMigVms": {
          "target": "com.gcp.beyondcorp_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "If type=GCP_REGIONAL_MIG, contains most recent VM instances, like `https://www.googleapis.com/compute/v1/projects/{project_id}/zones/{zone_id}/instances/{instance_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the AppConnection."
      }
    },
    "com.gcp.beyondcorp_v1alpha#CloudPubSubNotificationConfig": {
      "type": "structure",
      "members": {
        "pubsubSubscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Pub/Sub subscription the connector uses to receive notifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for Pub/Sub messaging for the connector."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "metadata": {
          "target": "com.gcp.beyondcorp_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.beyondcorp_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "error": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.beyondcorp_v1alpha#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaImageConfig": {
      "type": "structure",
      "members": {
        "stableImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stable image that the remote agent will fallback to if the target image fails. Format would be a gcr image path, e.g.: gcr.io/PROJECT-ID/my-image:tag1"
          }
        },
        "targetImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The initial image the remote agent will attempt to run for the control plane. Format would be a gcr image path, e.g.: gcr.io/PROJECT-ID/my-image:tag1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ImageConfig defines the control plane images to run."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaInternetGateway": {
      "type": "structure",
      "members": {
        "assignedIps": {
          "target": "com.gcp.beyondcorp_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. List of IP addresses assigned to the Cloud NAT."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the Internet Gateway configuration."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleIamV1Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.beyondcorp_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleTypeExpr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamNetwork": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Network name is of the format: `projects/{project}/global/networks/{network}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network to forward traffic to."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedUserInfo": {
      "type": "structure",
      "members": {
        "outputType": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedUserInfoOutputTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The delegated user's information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration information for the delegated user."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaContextualHeadersDelegatedUserInfoOutputTypeEnum": {
      "type": "enum",
      "members": {
        "OUTPUT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_TYPE_UNSPECIFIED"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOBUF"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGateway": {
      "type": "structure",
      "members": {
        "resourceOverride": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaServiceDiscoveryApiGatewayOperationDescriptor",
          "traits": {
            "smithy.api#documentation": "Optional. Enables fetching resource model updates to alter service behavior per Chrome profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If Service Discovery is done through API, defines its settings."
      }
    },
    "com.gcp.beyondcorp_v1alpha#ListConnectorsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.beyondcorp_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations that could not be reached."
          }
        },
        "connectors": {
          "target": "com.gcp.beyondcorp_v1alpha#ConnectorList",
          "traits": {
            "smithy.api#documentation": "A list of BeyondCorp Connectors in the project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BeyondCorp.ListConnectors."
      }
    },
    "com.gcp.beyondcorp_v1alpha#ConnectorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#Connector"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaApplicationUpstreamExternal": {
      "type": "structure",
      "members": {
        "endpoints": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaEndpointList",
          "traits": {
            "smithy.api#documentation": "Required. List of the endpoints to forward traffic to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Endpoints to forward traffic to."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaEndpointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSecuritygatewaysV1alphaEndpoint"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaResolveInstanceConfigResponse": {
      "type": "structure",
      "members": {
        "instanceConfig": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorInstanceConfig",
          "traits": {
            "smithy.api#documentation": "AppConnectorInstanceConfig."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BeyondCorp.ResolveInstanceConfig."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaSubscription": {
      "type": "structure",
      "members": {
        "billingAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the billing account in the format. e.g. billingAccounts/123456-123456-123456 Required if Subscription is of Paid type."
          }
        },
        "state": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaSubscriptionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the subscription."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Start time of the subscription."
          }
        },
        "type": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaSubscriptionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of subscription."
          }
        },
        "subscriberType": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaSubscriptionSubscriberTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of subscriber."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Unique resource name of the Subscription. The name is ignored when creating a subscription."
          }
        },
        "sku": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaSubscriptionSkuEnum",
          "traits": {
            "smithy.api#documentation": "Required. SKU of subscription."
          }
        },
        "seatCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Number of seats in the subscription."
          }
        },
        "autoRenewEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Represents that, if subscription will renew or end when the term ends."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time of the subscription."
          }
        },
        "csgCustomer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the subscription is being created as part of the Citrix flow. If this field is set to true, the subscription should have both the start_time and end_time set in the request and the billing account used will be the Citrix master billing account regardless of what its set to in the request. This field can only be set to true in create requests."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. End time of the subscription."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A BeyondCorp Subscription resource represents BeyondCorp Enterprise Subscription. BeyondCorp Enterprise Subscription enables BeyondCorp Enterprise permium features for an organization."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaSubscriptionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaSubscriptionTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TRIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIAL"
          }
        },
        "PAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAID"
          }
        },
        "ALLOWLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOWLIST"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaSubscriptionSubscriberTypeEnum": {
      "type": "enum",
      "members": {
        "SUBSCRIBER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBER_TYPE_UNSPECIFIED"
          }
        },
        "ONLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONLINE"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFFLINE"
          }
        },
        "CEP_TRIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CEP_TRIAL"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformSubscriptionsV1alphaSubscriptionSkuEnum": {
      "type": "enum",
      "members": {
        "SKU_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKU_UNSPECIFIED"
          }
        },
        "BCE_STANDARD_SKU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BCE_STANDARD_SKU"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaInsightMetadataField": {
      "type": "structure",
      "members": {
        "filterable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the field can be used for filtering."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Description of the field."
          }
        },
        "filterAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Field name to be used in filter while requesting configured insight filtered on this field."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Field id for which this is the metadata."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the field."
          }
        },
        "groupable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the field can be used for grouping in custom grouping request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Field metadata. Commonly understandable name and description for the field. Multiple such fields constitute the Insight."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleIamV1AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleIamV1AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleIamV1AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#GoogleIamV1AuditLogConfig"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.beyondcorp_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "operations": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleLongrunningOperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#GoogleLongrunningOperation"
      }
    },
    "com.gcp.beyondcorp_v1alpha#ApplicationEndpoint": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Port of the remote application endpoint."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Hostname or IP address of the remote application endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApplicationEndpoint represents a remote application endpoint."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleIamV1TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.beyondcorp_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectionsV1alphaResolveAppConnectionsResponse": {
      "type": "structure",
      "members": {
        "appConnectionDetails": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectionsV1alphaResolveAppConnectionsResponseAppConnectionDetailsList",
          "traits": {
            "smithy.api#documentation": "A list of BeyondCorp AppConnections with details in the project."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.beyondcorp_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BeyondCorp.ResolveAppConnections."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectionsV1alphaResolveAppConnectionsResponseAppConnectionDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectionsV1alphaResolveAppConnectionsResponseAppConnectionDetails"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionApplicationEndpoint": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Port of the remote application endpoint."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Hostname or IP address of the remote application endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApplicationEndpoint represents a remote application endpoint."
      }
    },
    "com.gcp.beyondcorp_v1alpha#Gateway": {
      "type": "structure",
      "members": {
        "userPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. User port reserved on the gateways for this connection, if not specified or zero, the default port is 19443."
          }
        },
        "type": {
          "target": "com.gcp.beyondcorp_v1alpha#GatewayTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of hosting used by the gateway."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined URI for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gateway represents a user facing component that serves as an entrance to enable connectivity."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GatewayTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "GCP_REGIONAL_MIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCP_REGIONAL_MIG"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleIamV1Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleIamV1BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleIamV1AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleIamV1BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#GoogleIamV1Binding"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleIamV1AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#GoogleIamV1AuditConfig"
      }
    },
    "com.gcp.beyondcorp_v1alpha#ConnectorOperationMetadata": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleLongrunningCancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.beyondcorp_v1alpha#AllocatedConnection": {
      "type": "structure",
      "members": {
        "pscUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The PSC uri of an allocated connection"
          }
        },
        "ingressPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The ingress port of an allocated connection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allocated connection of the AppGateway."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaRemoteAgentDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "RemoteAgentDetails reflects the details of a remote agent."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1ContainerHealthDetails": {
      "type": "structure",
      "members": {
        "currentConfigVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the current config."
          }
        },
        "extendedStatus": {
          "target": "com.gcp.beyondcorp_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "The extended status. Such as ExitCode, StartedAt, FinishedAt, etc."
          }
        },
        "errorMsg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest error message."
          }
        },
        "expectedConfigVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the expected config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ContainerHealthDetails reflects the health details of a container."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRow": {
      "type": "structure",
      "members": {
        "fieldValues": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRowFieldValList",
          "traits": {
            "smithy.api#documentation": "Output only. Columns/entries/key-vals in the result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Row of the fetch response consisting of a set of entries."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRowFieldValList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaRowFieldVal"
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorOperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaCustomGrouping": {
      "type": "structure",
      "members": {
        "groupFields": {
          "target": "com.gcp.beyondcorp_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Fields to be used for grouping. NOTE: Use the `filter_alias` from `Insight.Metadata.Field` message for declaring the fields to be grouped-by here."
          }
        },
        "fieldFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filterable parameters to be added to the grouping clause. Available fields could be fetched by calling insight list and get APIs in `BASIC` view. `=` is the only comparison operator supported. `AND` is the only logical operator supported. Usage: field_filter=\"fieldName1=fieldVal1 AND fieldName2=fieldVal2\". NOTE: Only `AND` conditions are allowed. NOTE: Use the `filter_alias` from `Insight.Metadata.Field` message for the filtering the corresponding fields in this filter field. (These expressions are based on the filter language described at https://google.aip.dev/160)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customised grouping option that allows setting the group_by fields and also the filters togather for a configured insight request."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfo": {
      "type": "structure",
      "members": {
        "serviceAccount": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorPrincipalInfoServiceAccount",
          "traits": {
            "smithy.api#documentation": "A GCP service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PrincipalInfo represents an Identity oneof."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaAppliedConfig": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Group id of the grouping applied."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Starting time for the duration for which insight was pulled."
          }
        },
        "fieldFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Filters applied."
          }
        },
        "customGrouping": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaCustomGrouping",
          "traits": {
            "smithy.api#documentation": "Output only. Customised grouping applied."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Ending time for the duration for which insight was pulled."
          }
        },
        "aggregation": {
          "target": "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaAppliedConfigAggregationEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Aggregation type applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration that was applied to generate the result."
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpSaasplatformInsightsV1alphaAppliedConfigAggregationEnum": {
      "type": "enum",
      "members": {
        "AGGREGATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATION_UNSPECIFIED"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        },
        "CUSTOM_DATE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_DATE_RANGE"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1alpha#GoogleCloudBeyondcorpAppconnectorsV1AppConnectorOperationMetadata": {
      "type": "structure",
      "members": {
[...]
