{
  "smithy": "2.0",
  "metadata": {
    "service": "bigquerydatapolicy",
    "version": "v1",
    "title": "BigQuery Data Policy API",
    "baseUrl": "https://bigquerydatapolicy.googleapis.com/"
  },
  "shapes": {
    "com.gcp.bigquerydatapolicy_v1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#ListDataPoliciesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to retrieve the next page of results, or empty if there are no more results."
          }
        },
        "dataPolicies": {
          "target": "com.gcp.bigquerydatapolicy_v1#DataPolicyList",
          "traits": {
            "smithy.api#documentation": "Data policies that belong to the requested project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListDataPolicies method."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#DataPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquerydatapolicy_v1#DataPolicy"
      }
    },
    "com.gcp.bigquerydatapolicy_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.bigquerydatapolicy_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.bigquerydatapolicy_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.bigquerydatapolicy_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.bigquerydatapolicy_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.bigquerydatapolicy_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#DataPolicy": {
      "type": "structure",
      "members": {
        "dataPolicyType": {
          "target": "com.gcp.bigquerydatapolicy_v1#DataPolicyDataPolicyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Data policy type. Type of data policy."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of this data policy, in the format of `projects/{project_number}/locations/{location_id}/dataPolicies/{data_policy_id}`."
          }
        },
        "dataMaskingPolicy": {
          "target": "com.gcp.bigquerydatapolicy_v1#DataMaskingPolicy",
          "traits": {
            "smithy.api#documentation": "The data masking policy that specifies the data masking rule to use."
          }
        },
        "policyTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy tag resource name, in the format of `projects/{project_number}/locations/{location_id}/taxonomies/{taxonomy_id}/policyTags/{policyTag_id}`."
          }
        },
        "dataPolicyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-assigned (human readable) ID of the data policy that needs to be unique within a project. Used as {data_policy_id} in part of the resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the label-policy binding."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#DataPolicyDataPolicyTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_POLICY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_POLICY_TYPE_UNSPECIFIED"
          }
        },
        "COLUMN_LEVEL_SECURITY_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMN_LEVEL_SECURITY_POLICY"
          }
        },
        "DATA_MASKING_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_MASKING_POLICY"
          }
        }
      }
    },
    "com.gcp.bigquerydatapolicy_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.bigquerydatapolicy_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquerydatapolicy_v1#AuditLogConfig"
      }
    },
    "com.gcp.bigquerydatapolicy_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.bigquerydatapolicy_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.bigquerydatapolicy_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "condition": {
          "target": "com.gcp.bigquerydatapolicy_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#DataMaskingPolicy": {
      "type": "structure",
      "members": {
        "predefinedExpression": {
          "target": "com.gcp.bigquerydatapolicy_v1#DataMaskingPolicyPredefinedExpressionEnum",
          "traits": {
            "smithy.api#documentation": "A predefined masking expression."
          }
        },
        "routine": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the BigQuery routine that contains the custom masking routine, in the format of `projects/{project_number}/datasets/{dataset_id}/routines/{routine_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data masking policy that is used to specify data masking rule."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#DataMaskingPolicyPredefinedExpressionEnum": {
      "type": "enum",
      "members": {
        "PREDEFINED_EXPRESSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREDEFINED_EXPRESSION_UNSPECIFIED"
          }
        },
        "SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHA256"
          }
        },
        "ALWAYS_NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS_NULL"
          }
        },
        "DEFAULT_MASKING_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_MASKING_VALUE"
          }
        },
        "LAST_FOUR_CHARACTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_FOUR_CHARACTERS"
          }
        },
        "FIRST_FOUR_CHARACTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRST_FOUR_CHARACTERS"
          }
        },
        "EMAIL_MASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_MASK"
          }
        },
        "DATE_YEAR_MASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE_YEAR_MASK"
          }
        },
        "RANDOM_HASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RANDOM_HASH"
          }
        }
      }
    },
    "com.gcp.bigquerydatapolicy_v1#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.bigquerydatapolicy_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "bindings": {
          "target": "com.gcp.bigquerydatapolicy_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquerydatapolicy_v1#AuditConfig"
      }
    },
    "com.gcp.bigquerydatapolicy_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquerydatapolicy_v1#Binding"
      }
    },
    "com.gcp.bigquerydatapolicy_v1#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.bigquerydatapolicy_v1#GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#RenameDataPolicyRequest": {
      "type": "structure",
      "members": {
        "newDataPolicyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The new data policy id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the RenameDataPolicy method."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.bigquerydatapolicy_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.bigquerydatapolicy_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#SetIamPolicyProjectsLocationsDataPoliciesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.bigquerydatapolicy_v1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigquerydatapolicy_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.bigquerydatapolicy_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.bigquerydatapolicy_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.bigquerydatapolicy_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.bigquerydatapolicy_v1#SetIamPolicyProjectsLocationsDataPolicies": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigquerydatapolicy_v1#SetIamPolicyProjectsLocationsDataPoliciesRequest"
      },
      "output": {
        "target": "com.gcp.bigquerydatapolicy_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.bigquerydatapolicy_v1#NotFound"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the IAM policy for the specified data policy."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#CreateProjectsLocationsDataPoliciesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the project that the data policy will belong to. The format is `projects/{project_number}/locations/{location_id}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.bigquerydatapolicy_v1#DataPolicy",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigquerydatapolicy_v1#CreateProjectsLocationsDataPolicies": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigquerydatapolicy_v1#CreateProjectsLocationsDataPoliciesRequest"
      },
      "output": {
        "target": "com.gcp.bigquerydatapolicy_v1#DataPolicy"
      },
      "errors": [
        {
          "target": "com.gcp.bigquerydatapolicy_v1#NotFound"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/dataPolicies"
        },
        "smithy.api#documentation": "Creates a new data policy under a project with the given `dataPolicyId` (used as the display name), policy tag, and data policy type."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#GetProjectsLocationsDataPoliciesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the requested data policy. Format is `projects/{project_number}/locations/{location_id}/dataPolicies/{data_policy_id}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.bigquerydatapolicy_v1#GetProjectsLocationsDataPolicies": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigquerydatapolicy_v1#GetProjectsLocationsDataPoliciesRequest"
      },
      "output": {
        "target": "com.gcp.bigquerydatapolicy_v1#DataPolicy"
      },
      "errors": [
        {
          "target": "com.gcp.bigquerydatapolicy_v1#NotFound"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the data policy specified by its resource name."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#RenameProjectsLocationsDataPoliciesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the data policy to rename. The format is `projects/{project_number}/locations/{location_id}/dataPolicies/{data_policy_id}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.bigquerydatapolicy_v1#RenameDataPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigquerydatapolicy_v1#RenameProjectsLocationsDataPolicies": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigquerydatapolicy_v1#RenameProjectsLocationsDataPoliciesRequest"
      },
      "output": {
        "target": "com.gcp.bigquerydatapolicy_v1#DataPolicy"
      },
      "errors": [
        {
          "target": "com.gcp.bigquerydatapolicy_v1#NotFound"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:rename"
        },
        "smithy.api#documentation": "Renames the id (display name) of the specified data policy."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#ListProjectsLocationsDataPoliciesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the project for which to list data policies. Format is `projects/{project_number}/locations/{location_id}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `nextPageToken` value returned from a previous list request, if any. If not set, defaults to an empty string.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of data policies to return. Must be a value between 1 and 1000. If not set, defaults to 50.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters the data policies by policy tags that they are associated with. Currently filter only supports \"policy_tag\" based filtering and OR based predicates. Sample filter can be \"policy_tag: projects/1/locations/us/taxonomies/2/policyTags/3\". You may also use wildcard such as \"policy_tag: projects/1/locations/us/taxonomies/2*\". Please note that OR predicates cannot be used with wildcard filters.",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.bigquerydatapolicy_v1#ListProjectsLocationsDataPolicies": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigquerydatapolicy_v1#ListProjectsLocationsDataPoliciesRequest"
      },
      "output": {
        "target": "com.gcp.bigquerydatapolicy_v1#ListDataPoliciesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.bigquerydatapolicy_v1#NotFound"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/dataPolicies"
        },
        "smithy.api#documentation": "List all of the data policies in the specified parent project.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.bigquerydatapolicy_v1#TestIamPermissionsProjectsLocationsDataPoliciesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.bigquerydatapolicy_v1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigquerydatapolicy_v1#TestIamPermissionsProjectsLocationsDataPolicies": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigquerydatapolicy_v1#TestIamPermissionsProjectsLocationsDataPoliciesRequest"
      },
      "output": {
        "target": "com.gcp.bigquerydatapolicy_v1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.bigquerydatapolicy_v1#NotFound"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns the caller's permission on the specified data policy resource."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#GetIamPolicyProjectsLocationsDataPoliciesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.bigquerydatapolicy_v1#GetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigquerydatapolicy_v1#GetIamPolicyProjectsLocationsDataPolicies": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigquerydatapolicy_v1#GetIamPolicyProjectsLocationsDataPoliciesRequest"
      },
      "output": {
        "target": "com.gcp.bigquerydatapolicy_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.bigquerydatapolicy_v1#NotFound"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the IAM policy for the specified data policy."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#PatchProjectsLocationsDataPoliciesRequest": {
      "type": "structure",
      "members": {
        "allowMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, and the data policy is not found, a new data policy will be created. In this situation, update_mask is ignored.",
            "smithy.api#httpQuery": "allowMissing"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of this data policy, in the format of `projects/{project_number}/locations/{location_id}/dataPolicies/{data_policy_id}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If not set, defaults to all of the fields that are allowed to update. Updates to the `name` and `dataPolicyId` fields are not allowed.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.bigquerydatapolicy_v1#DataPolicy",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigquerydatapolicy_v1#PatchProjectsLocationsDataPolicies": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigquerydatapolicy_v1#PatchProjectsLocationsDataPoliciesRequest"
      },
      "output": {
        "target": "com.gcp.bigquerydatapolicy_v1#DataPolicy"
      },
      "errors": [
        {
          "target": "com.gcp.bigquerydatapolicy_v1#NotFound"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates the metadata for an existing data policy. The target data policy can be specified by the resource name."
      }
    },
    "com.gcp.bigquerydatapolicy_v1#DeleteProjectsLocationsDataPoliciesRequest": {
      "type": "structure",
      "members": {
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the data policy will be deleted even when it is referenced by one or more table columns.",
            "smithy.api#httpQuery": "force"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the data policy to delete. Format is `projects/{project_number}/locations/{location_id}/dataPolicies/{data_policy_id}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.bigquerydatapolicy_v1#DeleteProjectsLocationsDataPolicies": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigquerydatapolicy_v1#DeleteProjectsLocationsDataPoliciesRequest"
      },
      "output": {
        "target": "com.gcp.bigquerydatapolicy_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.bigquerydatapolicy_v1#NotFound"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigquerydatapolicy_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes the data policy specified by its resource name."
      }
    }
  }
}
