{
  "smithy": "2.0",
  "metadata": {
    "service": "ces",
    "version": "v1beta",
    "title": "Gemini Enterprise for Customer Experience API",
    "baseUrl": "https://ces.googleapis.com/"
  },
  "shapes": {
    "com.gcp.ces_v1beta#LfA2aV1Task": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Unique identifier (e.g. UUID) for the task, generated by the server for a new task."
          }
        },
        "metadata": {
          "target": "com.gcp.ces_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED A key/value object to store custom metadata about a task."
          }
        },
        "artifacts": {
          "target": "com.gcp.ces_v1beta#LfA2aV1ArtifactList",
          "traits": {
            "smithy.api#documentation": "A set of output artifacts for a `Task`."
          }
        },
        "status": {
          "target": "com.gcp.ces_v1beta#LfA2aV1TaskStatus",
          "traits": {
            "smithy.api#documentation": "Required. The current status of a `Task`, including `state` and a `message`."
          }
        },
        "contextId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier (e.g. UUID) for the contextual collection of interactions (tasks and messages)."
          }
        },
        "history": {
          "target": "com.gcp.ces_v1beta#LfA2aV1MessageList",
          "traits": {
            "smithy.api#documentation": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED The history of interactions from a `Task`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Task` is the core unit of action for A2A. It has a current status and when results are created for the task they are stored in the artifact. If there are multiple turns for a task, these are stored in history."
      }
    },
    "com.gcp.ces_v1beta#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.ces_v1beta#LfA2aV1ArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#LfA2aV1Artifact"
      }
    },
    "com.gcp.ces_v1beta#LfA2aV1MessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#LfA2aV1Message"
      }
    },
    "com.gcp.ces_v1beta#ApiKeyConfig": {
      "type": "structure",
      "members": {
        "requestLocation": {
          "target": "com.gcp.ces_v1beta#ApiKeyConfigRequestLocationEnum",
          "traits": {
            "smithy.api#documentation": "Required. Key location in the request."
          }
        },
        "apiKeySecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
          }
        },
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parameter name or the header name of the API key. E.g., If the API request is \"https://example.com/act?X-Api-Key=\", \"X-Api-Key\" would be the parameter name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configurations for authentication with API key."
      }
    },
    "com.gcp.ces_v1beta#ApiKeyConfigRequestLocationEnum": {
      "type": "enum",
      "members": {
        "REQUEST_LOCATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_LOCATION_UNSPECIFIED"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADER"
          }
        },
        "QUERY_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_STRING"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#GoogleSearchSuggestions": {
      "type": "structure",
      "members": {
        "webSearchQueries": {
          "target": "com.gcp.ces_v1beta#WebSearchQueryList",
          "traits": {
            "smithy.api#documentation": "List of queries used to perform the google search along with the search result URIs forming the search suggestions."
          }
        },
        "htmls": {
          "target": "com.gcp.ces_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Compliant HTML and CSS styling for search suggestions. The provided HTML and CSS automatically adapts to your device settings, displaying in either light or dark mode indicated by `@media(prefers-color-scheme)`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Search suggestions from Google Search Tool."
      }
    },
    "com.gcp.ces_v1beta#WebSearchQueryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#WebSearchQuery"
      }
    },
    "com.gcp.ces_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.ces_v1beta#LoggingSettings": {
      "type": "structure",
      "members": {
        "redactionConfig": {
          "target": "com.gcp.ces_v1beta#RedactionConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for how sensitive data should be redacted."
          }
        },
        "audioRecordingConfig": {
          "target": "com.gcp.ces_v1beta#AudioRecordingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for how audio interactions should be recorded. The audio is subject to redaction as configured in RedactionConfig."
          }
        },
        "cloudLoggingSettings": {
          "target": "com.gcp.ces_v1beta#CloudLoggingSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Settings to describe the Cloud Logging behaviors for the app."
          }
        },
        "evaluationAudioRecordingConfig": {
          "target": "com.gcp.ces_v1beta#AudioRecordingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for how audio interactions should be recorded for the evaluation. By default, audio recording is not enabled for evaluation sessions."
          }
        },
        "metricAnalysisSettings": {
          "target": "com.gcp.ces_v1beta#MetricAnalysisSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Settings to describe the conversation data collection behaviors for the LLM analysis pipeline for the app."
          }
        },
        "unredactedAudioRecordingConfig": {
          "target": "com.gcp.ces_v1beta#AudioRecordingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configures an additional recording of unredacted audio. This can be used to maintain a raw audio copy when audio redaction is enabled, typically for auditing or monitoring purposes."
          }
        },
        "bigqueryExportSettings": {
          "target": "com.gcp.ces_v1beta#BigQueryExportSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Configures the BigQuery export behaviors for the app. The conversation data is subject to redaction as configured in RedactionConfig."
          }
        },
        "conversationLoggingSettings": {
          "target": "com.gcp.ces_v1beta#ConversationLoggingSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Settings to describe the conversation logging behaviors for the app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings to describe the logging behaviors for the app."
      }
    },
    "com.gcp.ces_v1beta#GoogleSearchTool": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the tool's purpose."
          }
        },
        "preferredDomains": {
          "target": "com.gcp.ces_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the tool."
          }
        },
        "contextUrls": {
          "target": "com.gcp.ces_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed."
          }
        },
        "excludeDomains": {
          "target": "com.gcp.ces_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded."
          }
        },
        "promptConfig": {
          "target": "com.gcp.ces_v1beta#GoogleSearchToolPromptConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search."
      }
    },
    "com.gcp.ces_v1beta#EvaluationResultToolCallLatency": {
      "type": "structure",
      "members": {
        "tool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The end time of the tool call execution."
          }
        },
        "executionLatency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The latency of the tool call execution."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The start time of the tool call execution."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the tool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The latency of a tool call execution."
      }
    },
    "com.gcp.ces_v1beta#MockedToolCall": {
      "type": "structure",
      "members": {
        "toolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the tool to mock. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
          }
        },
        "tool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated. Use tool_identifier instead."
          }
        },
        "toolset": {
          "target": "com.gcp.ces_v1beta#ToolsetTool",
          "traits": {
            "smithy.api#documentation": "Optional. The toolset to mock."
          }
        },
        "expectedArgsPattern": {
          "target": "com.gcp.ces_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Required. A pattern to match against the args / inputs of all dispatched tool calls. If the tool call inputs match this pattern, then mock output will be returned."
          }
        },
        "mockResponse": {
          "target": "com.gcp.ces_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The mock response / output to return if the tool call args / inputs match the pattern."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mocked tool call. Expresses the target tool + a pattern to match against that tool's args / inputs. If the pattern matches, then the mock response will be returned."
      }
    },
    "com.gcp.ces_v1beta#ErrorHandlingSettingsFallbackResponseConfig": {
      "type": "structure",
      "members": {
        "customFallbackMessages": {
          "target": "com.gcp.ces_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The fallback messages in case of system errors (e.g. LLM errors), mapped by [supported language code](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/reference/language)."
          }
        },
        "maxFallbackAttempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of fallback attempts to make before the agent emitting EndSession Signal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for handling fallback responses."
      }
    },
    "com.gcp.ces_v1beta#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.ces_v1beta#EvaluationRun": {
      "type": "structure",
      "members": {
        "errorInfo": {
          "target": "com.gcp.ces_v1beta#EvaluationErrorInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Error information for the evaluation run."
          }
        },
        "error": {
          "target": "com.gcp.ces_v1beta#Status",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Use error_info instead. Errors encountered during execution."
          }
        },
        "evaluationType": {
          "target": "com.gcp.ces_v1beta#EvaluationRunEvaluationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the evaluations in this run."
          }
        },
        "changelog": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft."
          }
        },
        "personaRunConfigs": {
          "target": "com.gcp.ces_v1beta#PersonaRunConfigList",
          "traits": {
            "smithy.api#documentation": "Output only. The configuration to use for the run per persona."
          }
        },
        "progress": {
          "target": "com.gcp.ces_v1beta#EvaluationRunProgress",
          "traits": {
            "smithy.api#documentation": "Output only. The progress of the evaluation run."
          }
        },
        "goldenRunMethod": {
          "target": "com.gcp.ces_v1beta#EvaluationRunGoldenRunMethodEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The method used to run the evaluation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique identifier of the evaluation run. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationRuns/{evaluationRun}`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined display name of the evaluation run. default: \" run - \"."
          }
        },
        "initiatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user who initiated the evaluation run."
          }
        },
        "evaluationDataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The evaluation dataset that this run is associated with. This field is mutually exclusive with `evaluations`. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`"
          }
        },
        "evaluationResults": {
          "target": "com.gcp.ces_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The evaluation results that are part of this run. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}/results/{result}`"
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The operation that created this evaluation run. Format: `projects/{project}/locations/{location}/operations/{operation}`"
          }
        },
        "scheduledEvaluationRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The scheduled evaluation run resource name that created this evaluation run. This field is only set if the evaluation run was created by a scheduled evaluation run. Format: `projects/{project}/locations/{location}/apps/{app}/scheduledEvaluationRuns/{scheduled_evaluation_run}`"
          }
        },
        "config": {
          "target": "com.gcp.ces_v1beta#EvaluationConfig",
          "traits": {
            "smithy.api#documentation": "Output only. The configuration used in the run."
          }
        },
        "appVersionDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the `app_version` that the evaluation ran against."
          }
        },
        "appVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The app version to evaluate. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
          }
        },
        "latencyReport": {
          "target": "com.gcp.ces_v1beta#LatencyReport",
          "traits": {
            "smithy.api#documentation": "Output only. Latency report for the evaluation run."
          }
        },
        "evaluationRunSummaries": {
          "target": "com.gcp.ces_v1beta#EvaluationRunEvaluationRunSummaryMap",
          "traits": {
            "smithy.api#documentation": "Output only. Map of evaluation name to EvaluationRunSummary."
          }
        },
        "changelogCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The create time of the changelog of the app version that the evaluation ran against. This is populated if user runs evaluation on latest/draft."
          }
        },
        "optimizationConfig": {
          "target": "com.gcp.ces_v1beta#OptimizationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for running the optimization step after the evaluation run. If not set, the optimization step will not be run."
          }
        },
        "runCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of times the evaluations inside the run were run."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the evaluation run was created."
          }
        },
        "evaluations": {
          "target": "com.gcp.ces_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The evaluations that are part of this run. The list may contain evaluations of either type. This field is mutually exclusive with `evaluation_dataset`. Format: `projects/{project}/locations/{location}/apps/{app}/evaluations/{evaluation}`"
          }
        },
        "state": {
          "target": "com.gcp.ces_v1beta#EvaluationRunStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the evaluation run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An evaluation run represents an all the evaluation results from an evaluation execution."
      }
    },
    "com.gcp.ces_v1beta#EvaluationRunEvaluationTypeEnum": {
      "type": "enum",
      "members": {
        "EVALUATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATION_TYPE_UNSPECIFIED"
          }
        },
        "GOLDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOLDEN"
          }
        },
        "SCENARIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCENARIO"
          }
        },
        "MIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIXED"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#PersonaRunConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#PersonaRunConfig"
      }
    },
    "com.gcp.ces_v1beta#EvaluationRunGoldenRunMethodEnum": {
      "type": "enum",
      "members": {
        "GOLDEN_RUN_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOLDEN_RUN_METHOD_UNSPECIFIED"
          }
        },
        "STABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STABLE"
          }
        },
        "NAIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAIVE"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#EvaluationRunEvaluationRunSummaryMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.ces_v1beta#EvaluationRunEvaluationRunSummary"
      }
    },
    "com.gcp.ces_v1beta#EvaluationRunStateEnum": {
      "type": "enum",
      "members": {
        "EVALUATION_RUN_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATION_RUN_STATE_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#EndUserAuthConfigOauth2JwtBearerConfig": {
      "type": "structure",
      "members": {
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Subject parameter name to pass through. Must be in the format `$context.variables.`."
          }
        },
        "clientKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Client parameter name to pass through. Must be in the format `$context.variables.`."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Issuer parameter name to pass through. Must be in the format `$context.variables.`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JWT Profile Oauth 2.0 Authorization Grant authentication configuration."
      }
    },
    "com.gcp.ces_v1beta#AgentInterface": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\""
          }
        },
        "protocolBinding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`."
          }
        },
        "protocolVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\""
          }
        },
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tenant ID to be used in the request when calling the agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms."
      }
    },
    "com.gcp.ces_v1beta#LfA2aV1TaskPushNotificationConfig": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL where the notification should be sent."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token unique for this task or session."
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the task this configuration is associated with."
          }
        },
        "authentication": {
          "target": "com.gcp.ces_v1beta#LfA2aV1AuthenticationInfo",
          "traits": {
            "smithy.api#documentation": "Authentication information required to send the notification."
          }
        },
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Tenant ID."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The push notification configuration details. A unique identifier (e.g. UUID) for this push notification configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A container associating a push notification configuration with a specific task."
      }
    },
    "com.gcp.ces_v1beta#EvaluationDataset": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the evaluation dataset was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique identifier of this evaluation dataset. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationDatasets/{evaluationDataset}`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User-defined display name of the evaluation dataset. Unique within an App."
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user who created the evaluation dataset."
          }
        },
        "evaluations": {
          "target": "com.gcp.ces_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Evaluations that are included in this dataset."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the evaluation dataset was last updated."
          }
        },
        "aggregatedMetrics": {
          "target": "com.gcp.ces_v1beta#AggregatedMetrics",
          "traits": {
            "smithy.api#documentation": "Output only. The aggregated metrics for this evaluation dataset across all runs."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
          }
        },
        "lastUpdatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user who last updated the evaluation dataset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An evaluation dataset represents a set of evaluations that are grouped together basaed on shared tags."
      }
    },
    "com.gcp.ces_v1beta#McpTool": {
      "type": "structure",
      "members": {
        "inputSchema": {
          "target": "com.gcp.ces_v1beta#Ces_Schema",
          "traits": {
            "smithy.api#documentation": "Optional. The schema of the input arguments of the MCP tool."
          }
        },
        "state": {
          "target": "com.gcp.ces_v1beta#McpToolStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The dynamic availability state of the tool on the external server."
          }
        },
        "serverAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The server address of the MCP server, e.g., \"https://example.com/mcp/\". If the server is built with the MCP SDK, the url should be suffixed with \"/mcp/\". Only Streamable HTTP transport based servers are supported. This is the same as the server_address in the McpToolset. See https://modelcontextprotocol.io/specification/2025-03-26/basic/transports#streamable-http for more details."
          }
        },
        "tlsConfig": {
          "target": "com.gcp.ces_v1beta#TlsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The TLS configuration. Includes the custom server certificates that the client should trust."
          }
        },
        "apiAuthentication": {
          "target": "com.gcp.ces_v1beta#ApiAuthentication",
          "traits": {
            "smithy.api#documentation": "Optional. Authentication information required to execute the tool against the MCP server. For bearer token authentication, the token applies only to tool execution, not to listing tools. This requires that tools can be listed without authentication."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the MCP tool."
          }
        },
        "customHeaders": {
          "target": "com.gcp.ces_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The custom headers to send in the request to the MCP server. The values must be in the format `$context.variables.` and can be set in the session variables. See https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool/open-api#openapi-injection for more details."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the MCP tool."
          }
        },
        "outputSchema": {
          "target": "com.gcp.ces_v1beta#Ces_Schema",
          "traits": {
            "smithy.api#documentation": "Optional. The schema of the output arguments of the MCP tool."
          }
        },
        "serviceDirectoryConfig": {
          "target": "com.gcp.ces_v1beta#ServiceDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Service Directory configuration for VPC-SC, used to resolve service names within a perimeter."
          }
        },
        "nameOverride": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name override of the MCP tool. This is populated if the name was overridden by a Toolset override."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An MCP tool. See https://modelcontextprotocol.io/specification/2025-06-18/server/tools for more details."
      }
    },
    "com.gcp.ces_v1beta#McpToolStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STALE"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#EvaluationResultGoldenExpectationOutcome": {
      "type": "structure",
      "members": {
        "observedToolResponse": {
          "target": "com.gcp.ces_v1beta#ToolResponse",
          "traits": {
            "smithy.api#documentation": "Output only. The result of the tool response expectation."
          }
        },
        "outcome": {
          "target": "com.gcp.ces_v1beta#EvaluationResultGoldenExpectationOutcomeOutcomeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The outcome of the expectation."
          }
        },
        "toolInvocationResult": {
          "target": "com.gcp.ces_v1beta#EvaluationResultGoldenExpectationOutcomeToolInvocationResult",
          "traits": {
            "smithy.api#documentation": "Output only. The result of the tool invocation check."
          }
        },
        "observedAgentResponse": {
          "target": "com.gcp.ces_v1beta#Message",
          "traits": {
            "smithy.api#documentation": "Output only. The result of the agent response expectation."
          }
        },
        "observedPayload": {
          "target": "com.gcp.ces_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Output only. An observed custom payload. There are no expectations for custom payloads. This is only used for metrics calculation. The outcome is always SKIPPED."
          }
        },
        "observedToolCall": {
          "target": "com.gcp.ces_v1beta#ToolCall",
          "traits": {
            "smithy.api#documentation": "Output only. The result of the tool call expectation."
          }
        },
        "expectation": {
          "target": "com.gcp.ces_v1beta#EvaluationGoldenExpectation",
          "traits": {
            "smithy.api#documentation": "Output only. The expectation that was evaluated."
          }
        },
        "observedAgentTransfer": {
          "target": "com.gcp.ces_v1beta#AgentTransfer",
          "traits": {
            "smithy.api#documentation": "Output only. The result of the agent transfer expectation."
          }
        },
        "semanticSimilarityResult": {
          "target": "com.gcp.ces_v1beta#EvaluationResultSemanticSimilarityResult",
          "traits": {
            "smithy.api#documentation": "Output only. The result of the semantic similarity check."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the expectation and the result of that expectation."
      }
    },
    "com.gcp.ces_v1beta#EvaluationResultGoldenExpectationOutcomeOutcomeEnum": {
      "type": "enum",
      "members": {
        "OUTCOME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTCOME_UNSPECIFIED"
          }
        },
        "PASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASS"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAIL"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#OptimizationConfig": {
      "type": "structure",
      "members": {
        "reportSummary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The summary of the loss report."
          }
        },
        "shouldSuggestFix": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether to suggest a fix for the losses."
          }
        },
        "assistantSession": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The assistant session to use for the optimization based on this evaluation run. Format: `projects/{project}/locations/{location}/apps/{app}/assistantSessions/{assistantSession}`"
          }
        },
        "generateLossReport": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to generate a loss report."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The error message if the optimization run failed."
          }
        },
        "status": {
          "target": "com.gcp.ces_v1beta#OptimizationConfigStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the optimization run."
          }
        },
        "lossReport": {
          "target": "com.gcp.ces_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Output only. The generated loss report."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for running the optimization step after the evaluation run."
      }
    },
    "com.gcp.ces_v1beta#OptimizationConfigStatusEnum": {
      "type": "enum",
      "members": {
        "OPTIMIZATION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMIZATION_STATUS_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#LfA2aV1SendMessageConfiguration": {
      "type": "structure",
      "members": {
        "historyLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of most recent messages from the task's history to retrieve in the response. An unset value means the client does not impose any limit. A value of zero is a request to not include any messages. The server MUST NOT return more messages than the provided value, but MAY apply a lower limit."
          }
        },
        "acceptedOutputModes": {
          "target": "com.gcp.ces_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "A list of media types the client is prepared to accept for response parts. Agents SHOULD use this to tailor their output."
          }
        },
        "taskPushNotificationConfig": {
          "target": "com.gcp.ces_v1beta#LfA2aV1TaskPushNotificationConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the agent to send push notifications for task updates. Task id should be empty when sending this configuration in a `SendMessage` request."
          }
        },
        "returnImmediately": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `true`, the operation returns immediately after creating the task, even if processing is still in progress. If `false` (default), the operation MUST wait until the task reaches a terminal (`COMPLETED`, `FAILED`, `CANCELED`, `REJECTED`) or interrupted (`INPUT_REQUIRED`, `AUTH_REQUIRED`) state before returning."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of a send message request."
      }
    },
    "com.gcp.ces_v1beta#LatencyReportCallbackLatency": {
      "type": "structure",
      "members": {
        "latencyMetrics": {
          "target": "com.gcp.ces_v1beta#LatencyReportLatencyMetrics",
          "traits": {
            "smithy.api#documentation": "Output only. The latency metrics for the callback."
          }
        },
        "stage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The stage of the callback."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Latency metrics for a single callback."
      }
    },
    "com.gcp.ces_v1beta#ExecuteToolResponse": {
      "type": "structure",
      "members": {
        "toolsetTool": {
          "target": "com.gcp.ces_v1beta#ToolsetTool",
          "traits": {
            "smithy.api#documentation": "The toolset tool that got executed."
          }
        },
        "response": {
          "target": "com.gcp.ces_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result."
          }
        },
        "tool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
          }
        },
        "variables": {
          "target": "com.gcp.ces_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The variable values at the end of the tool execution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ToolService.ExecuteTool."
      }
    },
    "com.gcp.ces_v1beta#ToolCalls": {
      "type": "structure",
      "members": {
        "toolCalls": {
          "target": "com.gcp.ces_v1beta#ToolCallList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of tool calls to execute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the client to execute the tools and return the execution results before continuing the session."
      }
    },
    "com.gcp.ces_v1beta#ToolCallList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#ToolCall"
      }
    },
    "com.gcp.ces_v1beta#Tool": {
      "type": "structure",
      "members": {
        "dataStoreTool": {
          "target": "com.gcp.ces_v1beta#DataStoreTool",
          "traits": {
            "smithy.api#documentation": "Optional. The data store tool."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the tool was last updated."
          }
        },
        "widgetTool": {
          "target": "com.gcp.ces_v1beta#WidgetTool",
          "traits": {
            "smithy.api#documentation": "Optional. The widget tool."
          }
        },
        "connectorTool": {
          "target": "com.gcp.ces_v1beta#ConnectorTool",
          "traits": {
            "smithy.api#documentation": "Optional. The Integration Connector tool."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected."
          }
        },
        "googleSearchTool": {
          "target": "com.gcp.ces_v1beta#GoogleSearchTool",
          "traits": {
            "smithy.api#documentation": "Optional. The google search tool."
          }
        },
        "executionType": {
          "target": "com.gcp.ces_v1beta#ToolExecutionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The execution type of the tool."
          }
        },
        "generatedSummary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the tool was created."
          }
        },
        "fileSearchTool": {
          "target": "com.gcp.ces_v1beta#FileSearchTool",
          "traits": {
            "smithy.api#documentation": "Optional. The file search tool."
          }
        },
        "agentTool": {
          "target": "com.gcp.ces_v1beta#AgentTool",
          "traits": {
            "smithy.api#documentation": "Optional. The agent tool."
          }
        },
        "clientFunction": {
          "target": "com.gcp.ces_v1beta#ClientFunction",
          "traits": {
            "smithy.api#documentation": "Optional. The client function."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
          }
        },
        "toolFakeConfig": {
          "target": "com.gcp.ces_v1beta#ToolFakeConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for tool behavior in fake mode."
          }
        },
        "systemTool": {
          "target": "com.gcp.ces_v1beta#SystemTool",
          "traits": {
            "smithy.api#documentation": "Optional. The system tool."
          }
        },
        "remoteAgentTool": {
          "target": "com.gcp.ces_v1beta#RemoteAgentTool",
          "traits": {
            "smithy.api#documentation": "Optional. The remote agent tool."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools."
          }
        },
        "openApiTool": {
          "target": "com.gcp.ces_v1beta#OpenApiTool",
          "traits": {
            "smithy.api#documentation": "Optional. The open API tool."
          }
        },
        "pythonFunction": {
          "target": "com.gcp.ces_v1beta#PythonFunction",
          "traits": {
            "smithy.api#documentation": "Optional. The python function tool."
          }
        },
        "mcpTool": {
          "target": "com.gcp.ces_v1beta#McpTool",
          "traits": {
            "smithy.api#documentation": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tool represents an action that the CES agent can take to achieve certain goals."
      }
    },
    "com.gcp.ces_v1beta#ToolExecutionTypeEnum": {
      "type": "enum",
      "members": {
        "EXECUTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_TYPE_UNSPECIFIED"
          }
        },
        "SYNCHRONOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNCHRONOUS"
          }
        },
        "ASYNCHRONOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASYNCHRONOUS"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#EvaluationMetricsConfigSemanticSimilarityMetricsConfig": {
      "type": "structure",
      "members": {
        "enableSemanticSimilarityMetrics": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to calculate semantic similarity metrics for the evaluation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for similarity metrics for the evaluation. To disable the metric, set the message but do not set the `enable_semantic_similarity_metrics` field to true (or explicitly set it to false). To unset the configuration and fallback to the default behavior, omit the message entirely."
      }
    },
    "com.gcp.ces_v1beta#EvaluationSettings": {
      "type": "structure",
      "members": {
        "goldenRunMethod": {
          "target": "com.gcp.ces_v1beta#EvaluationSettingsGoldenRunMethodEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The default method used to run golden evaluations. This will be used if no golden_run_method is specified in the RunEvaluationRequest."
          }
        },
        "scenarioConversationInitiator": {
          "target": "com.gcp.ces_v1beta#EvaluationSettingsScenarioConversationInitiatorEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Who starts the conversation in a scenario evaluation."
          }
        },
        "metricsConfig": {
          "target": "com.gcp.ces_v1beta#EvaluationMetricsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configures the default metrics for evaluations."
          }
        },
        "goldenEvaluationToolCallBehaviour": {
          "target": "com.gcp.ces_v1beta#EvaluationSettingsGoldenEvaluationToolCallBehaviourEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Configures the default tool call behaviour for golden evaluations."
          }
        },
        "scenarioEvaluationToolCallBehaviour": {
          "target": "com.gcp.ces_v1beta#EvaluationSettingsScenarioEvaluationToolCallBehaviourEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Configures the default tool call behaviour for scenario evaluations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for evaluation."
      }
    },
    "com.gcp.ces_v1beta#EvaluationSettingsGoldenRunMethodEnum": {
      "type": "enum",
      "members": {
        "GOLDEN_RUN_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOLDEN_RUN_METHOD_UNSPECIFIED"
          }
        },
        "STABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STABLE"
          }
        },
        "NAIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAIVE"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#EvaluationSettingsScenarioConversationInitiatorEnum": {
      "type": "enum",
      "members": {
        "SCENARIO_CONVERSATION_INITIATOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCENARIO_CONVERSATION_INITIATOR_UNSPECIFIED"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#EvaluationSettingsGoldenEvaluationToolCallBehaviourEnum": {
      "type": "enum",
      "members": {
        "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED"
          }
        },
        "REAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REAL"
          }
        },
        "FAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAKE"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#EvaluationSettingsScenarioEvaluationToolCallBehaviourEnum": {
      "type": "enum",
      "members": {
        "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATION_TOOL_CALL_BEHAVIOUR_UNSPECIFIED"
          }
        },
        "REAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REAL"
          }
        },
        "FAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAKE"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#AggregatedMetricsMetricsByAppVersion": {
      "type": "structure",
      "members": {
        "passCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of times the evaluation passed."
          }
        },
        "failCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of times the evaluation failed."
          }
        },
        "metricsByTurn": {
          "target": "com.gcp.ces_v1beta#AggregatedMetricsMetricsByTurnList",
          "traits": {
            "smithy.api#documentation": "Output only. Metrics aggregated per turn within this app version."
          }
        },
        "semanticSimilarityMetrics": {
          "target": "com.gcp.ces_v1beta#AggregatedMetricsSemanticSimilarityMetricsList",
          "traits": {
            "smithy.api#documentation": "Output only. Metrics for semantic similarity within this app version."
          }
        },
        "appVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The app version ID."
          }
        },
        "toolMetrics": {
          "target": "com.gcp.ces_v1beta#AggregatedMetricsToolMetricsList",
          "traits": {
            "smithy.api#documentation": "Output only. Metrics for each tool within this app version."
          }
        },
        "toolCallLatencyMetrics": {
          "target": "com.gcp.ces_v1beta#AggregatedMetricsToolCallLatencyMetricsList",
          "traits": {
            "smithy.api#documentation": "Output only. Metrics for tool call latency within this app version."
          }
        },
        "hallucinationMetrics": {
          "target": "com.gcp.ces_v1beta#AggregatedMetricsHallucinationMetricsList",
          "traits": {
            "smithy.api#documentation": "Output only. Metrics for hallucination within this app version."
          }
        },
        "turnLatencyMetrics": {
          "target": "com.gcp.ces_v1beta#AggregatedMetricsTurnLatencyMetricsList",
          "traits": {
            "smithy.api#documentation": "Output only. Metrics for turn latency within this app version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metrics aggregated per app version."
      }
    },
    "com.gcp.ces_v1beta#AggregatedMetricsMetricsByTurnList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#AggregatedMetricsMetricsByTurn"
      }
    },
    "com.gcp.ces_v1beta#AggregatedMetricsSemanticSimilarityMetricsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#AggregatedMetricsSemanticSimilarityMetrics"
      }
    },
    "com.gcp.ces_v1beta#AggregatedMetricsToolMetricsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#AggregatedMetricsToolMetrics"
      }
    },
    "com.gcp.ces_v1beta#AggregatedMetricsToolCallLatencyMetricsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#AggregatedMetricsToolCallLatencyMetrics"
      }
    },
    "com.gcp.ces_v1beta#AggregatedMetricsHallucinationMetricsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#AggregatedMetricsHallucinationMetrics"
      }
    },
    "com.gcp.ces_v1beta#AggregatedMetricsTurnLatencyMetricsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#AggregatedMetricsTurnLatencyMetrics"
      }
    },
    "com.gcp.ces_v1beta#SynthesizeSpeechConfig": {
      "type": "structure",
      "members": {
        "voice": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
          }
        },
        "speakingRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for how the agent response should be synthesized."
      }
    },
    "com.gcp.ces_v1beta#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "structure",
      "members": {
        "interpolationType": {
          "target": "com.gcp.ces_v1beta#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecInterpolationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The interpolation type to be applied to connect the control points listed below."
          }
        },
        "fieldName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the field whose value will be used to determine the boost amount."
          }
        },
        "controlPoints": {
          "target": "com.gcp.ces_v1beta#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPointList",
          "traits": {
            "smithy.api#documentation": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here."
          }
        },
        "attributeType": {
          "target": "com.gcp.ces_v1beta#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecAttributeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above."
      }
    },
    "com.gcp.ces_v1beta#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecInterpolationTypeEnum": {
      "type": "enum",
      "members": {
        "INTERPOLATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERPOLATION_TYPE_UNSPECIFIED"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINEAR"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
      }
    },
    "com.gcp.ces_v1beta#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecAttributeTypeEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_TYPE_UNSPECIFIED"
          }
        },
        "NUMERICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMERICAL"
          }
        },
        "FRESHNESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRESHNESS"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#AudioProcessingConfig": {
      "type": "structure",
      "members": {
        "ambientSoundConfig": {
          "target": "com.gcp.ces_v1beta#AmbientSoundConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation."
          }
        },
        "synthesizeSpeechConfigs": {
          "target": "com.gcp.ces_v1beta#SynthesizeSpeechConfigMap",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration of how the agent response should be synthesized, mapping from the language code to SynthesizeSpeechConfig. If the configuration for the specified language code is not found, the configuration for the root language code will be used. For example, if the map contains \"en-us\" and \"en\", and the specified language code is \"en-gb\", then \"en\" configuration will be used. Note: Language code is case-insensitive."
          }
        },
        "bargeInConfig": {
          "target": "com.gcp.ces_v1beta#BargeInConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configures the agent behavior for the user barge-in activities."
          }
        },
        "inactivityTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The duration of user inactivity (no speech or interaction) before the agent prompts the user for reengagement. If not set, the agent will not prompt the user for reengagement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for how the input and output audio should be processed and delivered."
      }
    },
    "com.gcp.ces_v1beta#SynthesizeSpeechConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.ces_v1beta#SynthesizeSpeechConfig"
      }
    },
    "com.gcp.ces_v1beta#EvaluationPersonaSpeechConfig": {
      "type": "structure",
      "members": {
        "speakingRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The speaking rate. 1.0 is normal. Lower is slower (e.g., 0.8), higher is faster (e.g., 1.5). Useful for testing how the agent handles fast talkers."
          }
        },
        "voiceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The specific voice identifier/accent to use. Example: \"en-US-Wavenet-D\" or \"en-GB-Standard-A\""
          }
        },
        "environment": {
          "target": "com.gcp.ces_v1beta#EvaluationPersonaSpeechConfigEnvironmentEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The simulated audio environment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Text-to-Speech generation."
      }
    },
    "com.gcp.ces_v1beta#EvaluationPersonaSpeechConfigEnvironmentEnum": {
      "type": "enum",
      "members": {
        "BACKGROUND_ENVIRONMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKGROUND_ENVIRONMENT_UNSPECIFIED"
          }
        },
        "CALL_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_CENTER"
          }
        },
        "TRAFFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAFFIC"
          }
        },
        "KIDS_NOISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIDS_NOISE"
          }
        },
        "CAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAFE"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#GuardrailContentFilter": {
      "type": "structure",
      "members": {
        "disregardDiacritics": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, diacritics are ignored during matching."
          }
        },
        "bannedContentsInAgentResponse": {
          "target": "com.gcp.ces_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of banned phrases. Applies only to agent responses."
          }
        },
        "bannedContents": {
          "target": "com.gcp.ces_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of banned phrases. Applies to both user inputs and agent responses."
          }
        },
        "bannedContentsInUserInput": {
          "target": "com.gcp.ces_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of banned phrases. Applies only to user inputs."
          }
        },
        "matchType": {
          "target": "com.gcp.ces_v1beta#GuardrailContentFilterMatchTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Match type for the content filter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Guardrail that bans certain content from being used in the conversation."
      }
    },
    "com.gcp.ces_v1beta#GuardrailContentFilterMatchTypeEnum": {
      "type": "enum",
      "members": {
        "MATCH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_TYPE_UNSPECIFIED"
          }
        },
        "SIMPLE_STRING_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIMPLE_STRING_MATCH"
          }
        },
        "WORD_BOUNDARY_STRING_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORD_BOUNDARY_STRING_MATCH"
          }
        },
        "REGEXP_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGEXP_MATCH"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#EvaluationResultGoldenResultTurnReplayResult": {
      "type": "structure",
      "members": {
        "toolInvocationScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated. Use OverallToolInvocationResult instead."
          }
        },
        "conversation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The conversation that was generated for this turn."
          }
        },
        "semanticSimilarityResult": {
          "target": "com.gcp.ces_v1beta#EvaluationResultSemanticSimilarityResult",
          "traits": {
            "smithy.api#documentation": "Output only. The result of the semantic similarity check."
          }
        },
        "expectationOutcome": {
          "target": "com.gcp.ces_v1beta#EvaluationResultGoldenExpectationOutcomeList",
          "traits": {
            "smithy.api#documentation": "Output only. The outcome of each expectation."
          }
        },
        "hallucinationResult": {
          "target": "com.gcp.ces_v1beta#EvaluationResultHallucinationResult",
          "traits": {
            "smithy.api#documentation": "Output only. The result of the hallucination check."
          }
        },
        "turnLatency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Duration of the turn."
          }
        },
        "toolOrderedInvocationScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The overall tool ordered invocation score for this turn. This indicates the overall percent of tools from the expected turn that were actually invoked in the expected order."
          }
        },
        "overallToolInvocationResult": {
          "target": "com.gcp.ces_v1beta#EvaluationResultOverallToolInvocationResult",
          "traits": {
            "smithy.api#documentation": "Output only. The result of the overall tool invocation check."
          }
        },
        "toolCallLatencies": {
          "target": "com.gcp.ces_v1beta#EvaluationResultToolCallLatencyList",
          "traits": {
            "smithy.api#documentation": "Output only. The latency of each tool call in the turn."
          }
        },
        "errorInfo": {
          "target": "com.gcp.ces_v1beta#EvaluationErrorInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the error that occurred during this turn."
          }
        },
        "spanLatencies": {
          "target": "com.gcp.ces_v1beta#EvaluationResultSpanLatencyList",
          "traits": {
            "smithy.api#documentation": "Output only. The latency of spans in the turn."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of running a single turn of the golden conversation."
      }
    },
    "com.gcp.ces_v1beta#EvaluationResultGoldenExpectationOutcomeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#EvaluationResultGoldenExpectationOutcome"
      }
    },
    "com.gcp.ces_v1beta#EvaluationResultToolCallLatencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#EvaluationResultToolCallLatency"
      }
    },
    "com.gcp.ces_v1beta#EvaluationResultSpanLatencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#EvaluationResultSpanLatency"
      }
    },
    "com.gcp.ces_v1beta#LatencyReportToolLatency": {
      "type": "structure",
      "members": {
        "toolDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the tool."
          }
        },
        "toolsetTool": {
          "target": "com.gcp.ces_v1beta#ToolsetTool",
          "traits": {
            "smithy.api#documentation": "Output only. The toolset tool identifier."
          }
        },
        "tool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`."
          }
        },
        "latencyMetrics": {
          "target": "com.gcp.ces_v1beta#LatencyReportLatencyMetrics",
          "traits": {
            "smithy.api#documentation": "Output only. The latency metrics for the tool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Latency metrics for a single tool."
      }
    },
    "com.gcp.ces_v1beta#ListToolsResponse": {
      "type": "structure",
      "members": {
        "tools": {
          "target": "com.gcp.ces_v1beta#ToolList",
          "traits": {
            "smithy.api#documentation": "The list of tools."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AgentService.ListTools."
      }
    },
    "com.gcp.ces_v1beta#ToolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#Tool"
      }
    },
    "com.gcp.ces_v1beta#AgentTool": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the tool's purpose."
          }
        },
        "rootAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Use `agent` instead. The resource name of the root agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`"
          }
        },
        "agent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the agent tool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a tool that allows the agent to call another agent."
      }
    },
    "com.gcp.ces_v1beta#EvaluationStep": {
      "type": "structure",
      "members": {
        "userInput": {
          "target": "com.gcp.ces_v1beta#SessionInput",
          "traits": {
            "smithy.api#documentation": "Optional. User input for the conversation."
          }
        },
        "expectation": {
          "target": "com.gcp.ces_v1beta#EvaluationGoldenExpectation",
          "traits": {
            "smithy.api#documentation": "Optional. Executes an expectation on the current turn."
          }
        },
        "agentTransfer": {
          "target": "com.gcp.ces_v1beta#AgentTransfer",
          "traits": {
            "smithy.api#documentation": "Optional. Transfer the conversation to a different agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A step defines a singular action to happen during the evaluation."
      }
    },
    "com.gcp.ces_v1beta#GenerateAppResourceResponseEvaluations": {
      "type": "structure",
      "members": {
        "evaluations": {
          "target": "com.gcp.ces_v1beta#EvaluationList",
          "traits": {
            "smithy.api#documentation": "The list of generated evaluations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of evaluations generated by the LLM assistant."
      }
    },
    "com.gcp.ces_v1beta#EvaluationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#Evaluation"
      }
    },
    "com.gcp.ces_v1beta#WidgetToolTextResponseConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.ces_v1beta#WidgetToolTextResponseConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The strategy for providing the text response."
          }
        },
        "textResponseInstruction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Instruction for the LLM on how to generate the text response. Used as the description for the text response parameter if type is LLM_GENERATED."
          }
        },
        "staticText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The static text response to return when type is STATIC."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the text response returned with the widget."
      }
    },
    "com.gcp.ces_v1beta#WidgetToolTextResponseConfigTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "LLM_GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LLM_GENERATED"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATIC"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.ces_v1beta#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.ces_v1beta#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#Location"
      }
    },
    "com.gcp.ces_v1beta#Span": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.gcp.ces_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Output only. Key-value attributes associated with the span."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The end time of the span."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the span."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The start time of the span."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The duration of the span."
          }
        },
        "childSpans": {
          "target": "com.gcp.ces_v1beta#SpanList",
          "traits": {
            "smithy.api#documentation": "Output only. The child spans that are nested under this span."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A span is a unit of work or a single operation during the request processing."
      }
    },
    "com.gcp.ces_v1beta#SpanList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#Span"
      }
    },
    "com.gcp.ces_v1beta#ScheduledEvaluationRun": {
      "type": "structure",
      "members": {
        "totalExecutions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of times this run has been executed"
          }
        },
        "lastUpdatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user who last updated the evaluation."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined description of the scheduled evaluation run."
          }
        },
        "nextScheduledExecutionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The next time this is scheduled to execute"
          }
        },
        "schedulingConfig": {
          "target": "com.gcp.ces_v1beta#ScheduledEvaluationRunSchedulingConfig",
          "traits": {
            "smithy.api#documentation": "Required. Configuration for the timing and frequency with which to execute the evaluations."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the evaluation was last updated."
          }
        },
        "lastCompletedRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last successful EvaluationRun of this scheduled execution. Format: `projects/{project}/locations/{location}/apps/{app}/evaluationRuns/{evaluationRun}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the scheduled evaluation run was created."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User-defined display name of the scheduled evaluation run config."
          }
        },
        "request": {
          "target": "com.gcp.ces_v1beta#RunEvaluationRequest",
          "traits": {
            "smithy.api#documentation": "Required. The RunEvaluationRequest to schedule"
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user who created the scheduled evaluation run."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique identifier of the scheduled evaluation run config. Format: projects/{projectId}/locations/{locationId}/apps/{appId}/scheduledEvaluationRuns/{scheduledEvaluationRunId}"
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether this config is active"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a scheduled evaluation run configuration."
      }
    },
    "com.gcp.ces_v1beta#RetrieveToolSchemaResponse": {
      "type": "structure",
      "members": {
        "toolsetTool": {
          "target": "com.gcp.ces_v1beta#ToolsetTool",
          "traits": {
            "smithy.api#documentation": "The toolset tool that the schema is for."
          }
        },
        "outputSchema": {
          "target": "com.gcp.ces_v1beta#Ces_Schema",
          "traits": {
            "smithy.api#documentation": "The schema of the tool output parameters."
          }
        },
        "tool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the tool that the schema is for. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
          }
        },
        "inputSchema": {
          "target": "com.gcp.ces_v1beta#Ces_Schema",
          "traits": {
            "smithy.api#documentation": "The schema of the tool input parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ToolService.RetrieveToolSchema."
      }
    },
    "com.gcp.ces_v1beta#EvaluationMetricsThresholdsToolMatchingSettings": {
      "type": "structure",
      "members": {
        "extraToolCallBehavior": {
          "target": "com.gcp.ces_v1beta#EvaluationMetricsThresholdsToolMatchingSettingsExtraToolCallBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Behavior for extra tool calls. Defaults to FAIL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for matching tool calls."
      }
    },
    "com.gcp.ces_v1beta#EvaluationMetricsThresholdsToolMatchingSettingsExtraToolCallBehaviorEnum": {
      "type": "enum",
      "members": {
        "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAIL"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#AgentCard": {
      "type": "structure",
      "members": {
        "skills": {
          "target": "com.gcp.ces_v1beta#AgentSkillList",
          "traits": {
            "smithy.api#documentation": "Required. Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A description of the agent's domain of action/solution space."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The version of the agent."
          }
        },
        "supportedInterfaces": {
          "target": "com.gcp.ces_v1beta#AgentInterfaceList",
          "traits": {
            "smithy.api#documentation": "Required. Ordered list of supported interfaces. The first entry is preferred."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A human-readable name for the agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AgentCard conveys key information about a remote agent. It is a trimmed version of the AgentCard defined in the A2A protocol https://a2a-protocol.org/dev/specification/#441-agentcard"
      }
    },
    "com.gcp.ces_v1beta#AgentSkillList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#AgentSkill"
      }
    },
    "com.gcp.ces_v1beta#AgentInterfaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#AgentInterface"
      }
    },
    "com.gcp.ces_v1beta#EvaluationResultUserGoalSatisfactionResult": {
      "type": "structure",
      "members": {
        "score": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The user task satisfaction score. Can be -1, 0, 1."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The label associated with each score. Score 1: User Task Satisfied Score 0: User Task Not Satisfied Score -1: User Task Unspecified"
          }
        },
        "explanation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The explanation for the user task satisfaction score."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a user goal satisfaction check for a conversation."
      }
    },
    "com.gcp.ces_v1beta#ExportAppResponse": {
      "type": "structure",
      "members": {
        "appContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App folder compressed as a zip file."
          }
        },
        "appUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AgentService.ExportApp."
      }
    },
    "com.gcp.ces_v1beta#Blob": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Raw bytes of the blob."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The IANA standard MIME type of the source data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a blob input or output in the conversation."
      }
    },
    "com.gcp.ces_v1beta#RemoteAgentTool": {
      "type": "structure",
      "members": {
        "agentCard": {
          "target": "com.gcp.ces_v1beta#AgentCard",
          "traits": {
            "smithy.api#documentation": "Required. The agent card of the remote agent that this tool invokes."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the tool."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The description of the tool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a tool that allows the agent to call another remote agent."
      }
    },
    "com.gcp.ces_v1beta#TestPersonaVoiceRequest": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The text to test the voice for."
          }
        },
        "personaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The persona ID to test the voice for. Also accepts \"default\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for EvaluationService.TestPersonaVoice."
      }
    },
    "com.gcp.ces_v1beta#ServiceDirectoryConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of [Service Directory](https://cloud.google.com/service-directory) service. Format: `projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}`. Location of the service directory must be the same as the location of the app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for tools using Service Directory."
      }
    },
    "com.gcp.ces_v1beta#FileSearchTool": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The tool name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The tool description."
          }
        },
        "fileCorpus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The corpus where files are stored. Format: projects/{project}/locations/{location}/ragCorpora/{rag_corpus}"
          }
        },
        "corpusType": {
          "target": "com.gcp.ces_v1beta#FileSearchToolCorpusTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the corpus. Default is FULLY_MANAGED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The file search tool allows the agent to search across the files uploaded by the app/agent developer. It has presets to give relatively good quality search over the uploaded files and summarization of the retrieved results."
      }
    },
    "com.gcp.ces_v1beta#FileSearchToolCorpusTypeEnum": {
      "type": "enum",
      "members": {
        "CORPUS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORPUS_TYPE_UNSPECIFIED"
          }
        },
        "USER_OWNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_OWNED"
          }
        },
        "FULLY_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULLY_MANAGED"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#ExportOptions": {
      "type": "structure",
      "members": {
        "exportFormat": {
          "target": "com.gcp.ces_v1beta#ExportOptionsExportFormatEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The format to export the evaluation results in. Defaults to JSON if not specified."
          }
        },
        "gcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Google Cloud Storage URI to write the exported Evaluation Results to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for exporting CES evaluation resources."
      }
    },
    "com.gcp.ces_v1beta#ExportOptionsExportFormatEnum": {
      "type": "enum",
      "members": {
        "EXPORT_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPORT_FORMAT_UNSPECIFIED"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "YAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YAML"
          }
        }
      }
    },
    "com.gcp.ces_v1beta#RunSessionResponse": {
      "type": "structure",
      "members": {
        "outputs": {
          "target": "com.gcp.ces_v1beta#SessionOutputList",
          "traits": {
            "smithy.api#documentation": "Outputs for the session."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SessionService.RunSession."
      }
    },
    "com.gcp.ces_v1beta#SessionOutputList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1beta#SessionOutput"
      }
    },
    "com.gcp.ces_v1beta#ChannelProfileWebWidgetConfigSecuritySettings": {
      "type": "structure",
      "members": {
        "enablePublicAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent."
          }
        },
        "enableOriginCheck": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins."
          }
        },
        "allowedOrigins": {
          "target": "com.gcp.ces_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\""
          }
        },
[...]
