{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudbuild",
    "version": "v1",
    "title": "Cloud Build API",
    "baseUrl": "https://cloudbuild.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudbuild_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.cloudbuild_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.cloudbuild_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.cloudbuild_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.cloudbuild_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudbuild_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.cloudbuild_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.cloudbuild_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#DocumentMap"
      }
    },
    "com.gcp.cloudbuild_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.cloudbuild_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.cloudbuild_v1#Build": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The 'Build' name with format: `projects/{project}/locations/{location}/builds/{build}`, where {build} is a unique identifier generated by the service."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier of the build."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the project."
          }
        },
        "status": {
          "target": "com.gcp.cloudbuild_v1#BuildStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the build."
          }
        },
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Customer-readable message about the current status."
          }
        },
        "source": {
          "target": "com.gcp.cloudbuild_v1#Source",
          "traits": {
            "smithy.api#documentation": "Optional. The location of the source files to build."
          }
        },
        "steps": {
          "target": "com.gcp.cloudbuild_v1#BuildStepList",
          "traits": {
            "smithy.api#documentation": "Required. The operations to be performed on the workspace."
          }
        },
        "results": {
          "target": "com.gcp.cloudbuild_v1#Results",
          "traits": {
            "smithy.api#documentation": "Output only. Results of the build."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the request to create the build was received."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which execution of the build was started."
          }
        },
        "finishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is 60 minutes."
          }
        },
        "images": {
          "target": "com.gcp.cloudbuild_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of images to be pushed upon the successful completion of all build steps. The images are pushed using the builder service account's credentials. The digests of the pushed images will be stored in the `Build` resource's results field. If any of the images fail to be pushed, the build status is marked `FAILURE`."
          }
        },
        "queueTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TTL in queue for this build. If provided and the build is enqueued longer than this value, the build will expire and the build status will be `EXPIRED`. The TTL starts ticking from create_time."
          }
        },
        "artifacts": {
          "target": "com.gcp.cloudbuild_v1#Artifacts",
          "traits": {
            "smithy.api#documentation": "Artifacts produced by the build that should be uploaded upon successful completion of all build steps."
          }
        },
        "logsBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`."
          }
        },
        "sourceProvenance": {
          "target": "com.gcp.cloudbuild_v1#SourceProvenance",
          "traits": {
            "smithy.api#documentation": "Output only. A permanent fixed identifier for source."
          }
        },
        "buildTriggerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically."
          }
        },
        "options": {
          "target": "com.gcp.cloudbuild_v1#BuildOptions",
          "traits": {
            "smithy.api#documentation": "Special options for this build."
          }
        },
        "logUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URL to logs for this build in Google Cloud Console."
          }
        },
        "substitutions": {
          "target": "com.gcp.cloudbuild_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Substitutions data for `Build` resource."
          }
        },
        "tags": {
          "target": "com.gcp.cloudbuild_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Tags for annotation of a `Build`. These are not docker tags."
          }
        },
        "secrets": {
          "target": "com.gcp.cloudbuild_v1#SecretList",
          "traits": {
            "smithy.api#documentation": "Secrets to decrypt using Cloud Key Management Service. Note: Secret Manager is the recommended technique for managing sensitive data with Cloud Build. Use `available_secrets` to configure builds to access secrets from Secret Manager. For instructions, see: https://cloud.google.com/cloud-build/docs/securing-builds/use-secrets"
          }
        },
        "timing": {
          "target": "com.gcp.cloudbuild_v1#TimeSpanMap",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps. * PUSH: time to push all artifacts including docker images and non docker artifacts. * FETCHSOURCE: time to fetch source. * SETUPBUILD: time to set up build. If the build does not specify source or images, these keys will not be included."
          }
        },
        "approval": {
          "target": "com.gcp.cloudbuild_v1#BuildApproval",
          "traits": {
            "smithy.api#documentation": "Output only. Describes this build's approval configuration, status, and result."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IAM service account whose credentials will be used at build runtime. Must be of the format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}`. ACCOUNT can be email address or uniqueId of the service account. "
          }
        },
        "availableSecrets": {
          "target": "com.gcp.cloudbuild_v1#Secrets",
          "traits": {
            "smithy.api#documentation": "Secrets and secret environment variables."
          }
        },
        "warnings": {
          "target": "com.gcp.cloudbuild_v1#WarningList",
          "traits": {
            "smithy.api#documentation": "Output only. Non-fatal problems encountered during the execution of the build."
          }
        },
        "gitConfig": {
          "target": "com.gcp.cloudbuild_v1#GitConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for git operations."
          }
        },
        "failureInfo": {
          "target": "com.gcp.cloudbuild_v1#FailureInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Contains information about the build when status=FAILURE."
          }
        },
        "dependencies": {
          "target": "com.gcp.cloudbuild_v1#DependencyList",
          "traits": {
            "smithy.api#documentation": "Optional. Dependencies that the Cloud Build worker will fetch before executing user steps."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A build resource in the Cloud Build API. At a high level, a `Build` describes where to find source code, how to build it (for example, the builder image to run on the source), and where to store the built artifacts. Fields can include the following variables, which will be expanded when the build is created: - $PROJECT_ID: the project ID of the build. - $PROJECT_NUMBER: the project number of the build. - $LOCATION: the location/region of the build. - $BUILD_ID: the autogenerated ID of the build. - $REPO_NAME: the source repository name specified by RepoSource. - $BRANCH_NAME: the branch name specified by RepoSource. - $TAG_NAME: the tag name specified by RepoSource. - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or resolved from the specified branch or tag. - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA."
      }
    },
    "com.gcp.cloudbuild_v1#BuildStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNKNOWN"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "WORKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKING"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#BuildStepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#BuildStep"
      }
    },
    "com.gcp.cloudbuild_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudbuild_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudbuild_v1#SecretList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#Secret"
      }
    },
    "com.gcp.cloudbuild_v1#TimeSpanMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.cloudbuild_v1#TimeSpan"
      }
    },
    "com.gcp.cloudbuild_v1#WarningList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#Warning"
      }
    },
    "com.gcp.cloudbuild_v1#DependencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#Dependency"
      }
    },
    "com.gcp.cloudbuild_v1#Source": {
      "type": "structure",
      "members": {
        "storageSource": {
          "target": "com.gcp.cloudbuild_v1#StorageSource",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from this location in Cloud Storage."
          }
        },
        "repoSource": {
          "target": "com.gcp.cloudbuild_v1#RepoSource",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from this location in a Cloud Source Repository."
          }
        },
        "gitSource": {
          "target": "com.gcp.cloudbuild_v1#GitSource",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from this Git repository."
          }
        },
        "storageSourceManifest": {
          "target": "com.gcp.cloudbuild_v1#StorageSourceManifest",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from this manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher)."
          }
        },
        "connectedRepository": {
          "target": "com.gcp.cloudbuild_v1#ConnectedRepository",
          "traits": {
            "smithy.api#documentation": "Optional. If provided, get the source from this 2nd-gen Google Cloud Build repository resource."
          }
        },
        "developerConnectConfig": {
          "target": "com.gcp.cloudbuild_v1#DeveloperConnectConfig",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from this Developer Connect config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in a supported storage service."
      }
    },
    "com.gcp.cloudbuild_v1#StorageSource": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build."
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used."
          }
        },
        "sourceFetcher": {
          "target": "com.gcp.cloudbuild_v1#StorageSourceSourceFetcherEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Option to specify the tool to fetch the source file for the build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in an archive file in Cloud Storage."
      }
    },
    "com.gcp.cloudbuild_v1#StorageSourceSourceFetcherEnum": {
      "type": "enum",
      "members": {
        "SOURCE_FETCHER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_FETCHER_UNSPECIFIED"
          }
        },
        "GSUTIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GSUTIL"
          }
        },
        "GCS_FETCHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCS_FETCHER"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#RepoSource": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed."
          }
        },
        "repoName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Cloud Source Repository."
          }
        },
        "branchName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
          }
        },
        "tagName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
          }
        },
        "commitSha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explicit commit SHA to build."
          }
        },
        "dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution."
          }
        },
        "invertRegex": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Only trigger a build if the revision regex does NOT match the revision regex."
          }
        },
        "substitutions": {
          "target": "com.gcp.cloudbuild_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Substitutions to use in a triggered build. Should only be used with RunBuildTrigger"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in a Google Cloud Source Repository."
      }
    },
    "com.gcp.cloudbuild_v1#GitSource": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Location of the Git repo to build. This will be used as a `git remote`, see https://git-scm.com/docs/git-remote."
          }
        },
        "dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution."
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref. Cloud Build uses `git fetch` to fetch the revision from the Git repository; therefore make sure that the string you provide for `revision` is parsable by the command. For information on string values accepted by `git fetch`, see https://git-scm.com/docs/gitrevisions#_specifying_revisions. For information on `git fetch`, see https://git-scm.com/docs/git-fetch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in any accessible Git repository."
      }
    },
    "com.gcp.cloudbuild_v1#StorageSourceManifest": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Cloud Storage bucket containing the source manifest (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Cloud Storage object containing the source manifest. This object must be a JSON file."
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher)."
      }
    },
    "com.gcp.cloudbuild_v1#ConnectedRepository": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Google Cloud Build repository, formatted as `projects/*/locations/*/connections/*/repositories/*`."
          }
        },
        "dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Directory, relative to the source root, in which to run the build."
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in a 2nd-gen Google Cloud Build repository resource."
      }
    },
    "com.gcp.cloudbuild_v1#DeveloperConnectConfig": {
      "type": "structure",
      "members": {
        "gitRepositoryLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Developer Connect Git repository link, formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`."
          }
        },
        "dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Directory, relative to the source root, in which to run the build."
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This config defines the location of a source through Developer Connect."
      }
    },
    "com.gcp.cloudbuild_v1#BuildStep": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step."
          }
        },
        "env": {
          "target": "com.gcp.cloudbuild_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
          }
        },
        "args": {
          "target": "com.gcp.cloudbuild_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments."
          }
        },
        "dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency."
          }
        },
        "waitFor": {
          "target": "com.gcp.cloudbuild_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully."
          }
        },
        "entrypoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used."
          }
        },
        "secretEnv": {
          "target": "com.gcp.cloudbuild_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`."
          }
        },
        "volumes": {
          "target": "com.gcp.cloudbuild_v1#VolumeList",
          "traits": {
            "smithy.api#documentation": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration."
          }
        },
        "timing": {
          "target": "com.gcp.cloudbuild_v1#TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for executing this build step."
          }
        },
        "pullTiming": {
          "target": "com.gcp.cloudbuild_v1#TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for pulling this build step's builder image only."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out."
          }
        },
        "status": {
          "target": "com.gcp.cloudbuild_v1#BuildStepStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses."
          }
        },
        "allowFailure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow this build step to fail without failing the entire build. If false, the entire build will fail if this step fails. Otherwise, the build will succeed, but this step will still have a failure status. Error information will be reported in the failure_detail field."
          }
        },
        "exitCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Return code from running the step."
          }
        },
        "allowExitCodes": {
          "target": "com.gcp.cloudbuild_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "Allow this build step to fail without failing the entire build if and only if the exit code is one of the specified codes. If allow_failure is also specified, this field will take precedence."
          }
        },
        "script": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args."
          }
        },
        "automapSubstitutions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Option to include built-in and custom substitutions as env variables for this build step. This option will override the global option in BuildOption."
          }
        },
        "results": {
          "target": "com.gcp.cloudbuild_v1#StepResultList",
          "traits": {
            "smithy.api#documentation": "Declaration of results for this build step."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A step in the build pipeline."
      }
    },
    "com.gcp.cloudbuild_v1#VolumeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#Volume"
      }
    },
    "com.gcp.cloudbuild_v1#BuildStepStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNKNOWN"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "WORKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKING"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.cloudbuild_v1#StepResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#StepResult"
      }
    },
    "com.gcp.cloudbuild_v1#Volume": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution."
      }
    },
    "com.gcp.cloudbuild_v1#TimeSpan": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of time span."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of time span."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Start and end times for a build execution phase."
      }
    },
    "com.gcp.cloudbuild_v1#StepResult": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the result."
          }
        },
        "attestationContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The content of the attestation to be generated."
          }
        },
        "attestationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The type of attestation to be generated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StepResult is the declaration of a result for a build step."
      }
    },
    "com.gcp.cloudbuild_v1#Results": {
      "type": "structure",
      "members": {
        "images": {
          "target": "com.gcp.cloudbuild_v1#BuiltImageList",
          "traits": {
            "smithy.api#documentation": "Container images that were built as a part of the build."
          }
        },
        "buildStepImages": {
          "target": "com.gcp.cloudbuild_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of build step digests, in the order corresponding to build step indices."
          }
        },
        "artifactManifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the artifact manifest for non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage."
          }
        },
        "numArtifacts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage."
          }
        },
        "buildStepOutputs": {
          "target": "com.gcp.cloudbuild_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of build step outputs, produced by builder images, in the order corresponding to build step indices. [Cloud Builders](https://cloud.google.com/cloud-build/docs/cloud-builders) can produce this output by writing to `$BUILDER_OUTPUT/output`. Only the first 50KB of data is stored. Note that the `$BUILDER_OUTPUT` variable is read-only and can't be substituted."
          }
        },
        "buildStepResults": {
          "target": "com.gcp.cloudbuild_v1#BuildStepResultsMap",
          "traits": {
            "smithy.api#documentation": "Results for build steps. step_id -> "
          }
        },
        "artifactTiming": {
          "target": "com.gcp.cloudbuild_v1#TimeSpan",
          "traits": {
            "smithy.api#documentation": "Time to push all non-container artifacts to Cloud Storage."
          }
        },
        "pythonPackages": {
          "target": "com.gcp.cloudbuild_v1#UploadedPythonPackageList",
          "traits": {
            "smithy.api#documentation": "Python artifacts uploaded to Artifact Registry at the end of the build."
          }
        },
        "mavenArtifacts": {
          "target": "com.gcp.cloudbuild_v1#UploadedMavenArtifactList",
          "traits": {
            "smithy.api#documentation": "Maven artifacts uploaded to Artifact Registry at the end of the build."
          }
        },
        "goModules": {
          "target": "com.gcp.cloudbuild_v1#UploadedGoModuleList",
          "traits": {
            "smithy.api#documentation": "Optional. Go module artifacts uploaded to Artifact Registry at the end of the build."
          }
        },
        "npmPackages": {
          "target": "com.gcp.cloudbuild_v1#UploadedNpmPackageList",
          "traits": {
            "smithy.api#documentation": "Npm packages uploaded to Artifact Registry at the end of the build."
          }
        },
        "genericArtifacts": {
          "target": "com.gcp.cloudbuild_v1#UploadedGenericArtifactList",
          "traits": {
            "smithy.api#documentation": "Output only. Generic artifacts uploaded to Artifact Registry at the end of the build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Artifacts created by the build pipeline."
      }
    },
    "com.gcp.cloudbuild_v1#BuiltImageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#BuiltImage"
      }
    },
    "com.gcp.cloudbuild_v1#BuildStepResultsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.cloudbuild_v1#BuildStepResults"
      }
    },
    "com.gcp.cloudbuild_v1#UploadedPythonPackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#UploadedPythonPackage"
      }
    },
    "com.gcp.cloudbuild_v1#UploadedMavenArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#UploadedMavenArtifact"
      }
    },
    "com.gcp.cloudbuild_v1#UploadedGoModuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#UploadedGoModule"
      }
    },
    "com.gcp.cloudbuild_v1#UploadedNpmPackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#UploadedNpmPackage"
      }
    },
    "com.gcp.cloudbuild_v1#UploadedGenericArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#UploadedGenericArtifact"
      }
    },
    "com.gcp.cloudbuild_v1#BuiltImage": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name used to push the container image to Google Container Registry, as presented to `docker push`."
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker Registry 2.0 digest."
          }
        },
        "pushTiming": {
          "target": "com.gcp.cloudbuild_v1#TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for pushing the specified image."
          }
        },
        "artifactRegistryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Path to the artifact in Artifact Registry."
          }
        },
        "ociMediaType": {
          "target": "com.gcp.cloudbuild_v1#BuiltImageOciMediaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The OCI media type of the artifact. Non-OCI images, such as Docker images, will have an unspecified value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An image built by the pipeline."
      }
    },
    "com.gcp.cloudbuild_v1#BuiltImageOciMediaTypeEnum": {
      "type": "enum",
      "members": {
        "OCI_MEDIA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OCI_MEDIA_TYPE_UNSPECIFIED"
          }
        },
        "IMAGE_MANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_MANIFEST"
          }
        },
        "IMAGE_INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_INDEX"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#BuildStepResults": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.cloudbuild_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Results for a build step."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Results for a build step."
      }
    },
    "com.gcp.cloudbuild_v1#UploadedPythonPackage": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the uploaded artifact."
          }
        },
        "fileHashes": {
          "target": "com.gcp.cloudbuild_v1#FileHashes",
          "traits": {
            "smithy.api#documentation": "Hash types and values of the Python Artifact."
          }
        },
        "pushTiming": {
          "target": "com.gcp.cloudbuild_v1#TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for pushing the specified artifact."
          }
        },
        "artifactRegistryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Path to the artifact in Artifact Registry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Artifact uploaded using the PythonPackage directive."
      }
    },
    "com.gcp.cloudbuild_v1#FileHashes": {
      "type": "structure",
      "members": {
        "fileHash": {
          "target": "com.gcp.cloudbuild_v1#HashList",
          "traits": {
            "smithy.api#documentation": "Collection of file hashes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container message for hashes of byte content of files, used in SourceProvenance messages to verify integrity of source input to the build."
      }
    },
    "com.gcp.cloudbuild_v1#HashList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#Hash"
      }
    },
    "com.gcp.cloudbuild_v1#Hash": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.cloudbuild_v1#HashTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of hash that was performed."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hash value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container message for hash values."
      }
    },
    "com.gcp.cloudbuild_v1#HashTypeEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHA256"
          }
        },
        "MD5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MD5"
          }
        },
        "GO_MODULE_H1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GO_MODULE_H1"
          }
        },
        "SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHA512"
          }
        },
        "DIRSUM_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRSUM_SHA256"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#UploadedMavenArtifact": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the uploaded artifact."
          }
        },
        "fileHashes": {
          "target": "com.gcp.cloudbuild_v1#FileHashes",
          "traits": {
            "smithy.api#documentation": "Hash types and values of the Maven Artifact."
          }
        },
        "pushTiming": {
          "target": "com.gcp.cloudbuild_v1#TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for pushing the specified artifact."
          }
        },
        "artifactRegistryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Path to the artifact in Artifact Registry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Maven artifact uploaded using the MavenArtifact directive."
      }
    },
    "com.gcp.cloudbuild_v1#UploadedGoModule": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the uploaded artifact."
          }
        },
        "fileHashes": {
          "target": "com.gcp.cloudbuild_v1#FileHashes",
          "traits": {
            "smithy.api#documentation": "Hash types and values of the Go Module Artifact."
          }
        },
        "pushTiming": {
          "target": "com.gcp.cloudbuild_v1#TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for pushing the specified artifact."
          }
        },
        "artifactRegistryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Path to the artifact in Artifact Registry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Go module artifact uploaded to Artifact Registry using the GoModule directive."
      }
    },
    "com.gcp.cloudbuild_v1#UploadedNpmPackage": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the uploaded npm package."
          }
        },
        "fileHashes": {
          "target": "com.gcp.cloudbuild_v1#FileHashes",
          "traits": {
            "smithy.api#documentation": "Hash types and values of the npm package."
          }
        },
        "pushTiming": {
          "target": "com.gcp.cloudbuild_v1#TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for pushing the specified artifact."
          }
        },
        "artifactRegistryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Path to the artifact in Artifact Registry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An npm package uploaded to Artifact Registry using the NpmPackage directive."
      }
    },
    "com.gcp.cloudbuild_v1#UploadedGenericArtifact": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URI of the uploaded artifact. Ex: projects/p1/locations/us/repositories/r1/packages/p1/versions/v1"
          }
        },
        "artifactFingerprint": {
          "target": "com.gcp.cloudbuild_v1#FileHashes",
          "traits": {
            "smithy.api#documentation": "Output only. The hash of the whole artifact."
          }
        },
        "fileHashes": {
          "target": "com.gcp.cloudbuild_v1#FileHashesMap",
          "traits": {
            "smithy.api#documentation": "Output only. The file hashes that make up the generic artifact."
          }
        },
        "pushTiming": {
          "target": "com.gcp.cloudbuild_v1#TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for pushing the specified artifact."
          }
        },
        "artifactRegistryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Path to the artifact in Artifact Registry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A generic artifact uploaded to Artifact Registry using the GenericArtifact directive."
      }
    },
    "com.gcp.cloudbuild_v1#FileHashesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.cloudbuild_v1#FileHashes"
      }
    },
    "com.gcp.cloudbuild_v1#Artifacts": {
      "type": "structure",
      "members": {
        "images": {
          "target": "com.gcp.cloudbuild_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of images to be pushed upon the successful completion of all build steps. The images will be pushed using the builder service account's credentials. The digests of the pushed images will be stored in the Build resource's results field. If any of the images fail to be pushed, the build is marked FAILURE."
          }
        },
        "objects": {
          "target": "com.gcp.cloudbuild_v1#ArtifactObjects",
          "traits": {
            "smithy.api#documentation": "A list of objects to be uploaded to Cloud Storage upon successful completion of all build steps. Files in the workspace matching specified paths globs will be uploaded to the specified Cloud Storage location using the builder service account's credentials. The location and generation of the uploaded objects will be stored in the Build resource's results field. If any objects fail to be pushed, the build is marked FAILURE."
          }
        },
        "mavenArtifacts": {
          "target": "com.gcp.cloudbuild_v1#MavenArtifactList",
          "traits": {
            "smithy.api#documentation": "A list of Maven artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. Artifacts in the workspace matching specified paths globs will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any artifacts fail to be pushed, the build is marked FAILURE."
          }
        },
        "goModules": {
          "target": "com.gcp.cloudbuild_v1#GoModuleList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of Go modules to be uploaded to Artifact Registry upon successful completion of all build steps. If any objects fail to be pushed, the build is marked FAILURE."
          }
        },
        "pythonPackages": {
          "target": "com.gcp.cloudbuild_v1#PythonPackageList",
          "traits": {
            "smithy.api#documentation": "A list of Python packages to be uploaded to Artifact Registry upon successful completion of all build steps. The build service account credentials will be used to perform the upload. If any objects fail to be pushed, the build is marked FAILURE."
          }
        },
        "npmPackages": {
          "target": "com.gcp.cloudbuild_v1#NpmPackageList",
          "traits": {
            "smithy.api#documentation": "A list of npm packages to be uploaded to Artifact Registry upon successful completion of all build steps. Npm packages in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any packages fail to be pushed, the build is marked FAILURE."
          }
        },
        "oci": {
          "target": "com.gcp.cloudbuild_v1#OciList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of OCI images to be uploaded to Artifact Registry upon successful completion of all build steps. OCI images in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any images fail to be pushed, the build is marked FAILURE."
          }
        },
        "genericArtifacts": {
          "target": "com.gcp.cloudbuild_v1#GenericArtifactList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of generic artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. If any artifacts fail to be pushed, the build is marked FAILURE."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Artifacts produced by a build that should be uploaded upon successful completion of all build steps."
      }
    },
    "com.gcp.cloudbuild_v1#MavenArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#MavenArtifact"
      }
    },
    "com.gcp.cloudbuild_v1#GoModuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#GoModule"
      }
    },
    "com.gcp.cloudbuild_v1#PythonPackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#PythonPackage"
      }
    },
    "com.gcp.cloudbuild_v1#NpmPackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#NpmPackage"
      }
    },
    "com.gcp.cloudbuild_v1#OciList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#Oci"
      }
    },
    "com.gcp.cloudbuild_v1#GenericArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#GenericArtifact"
      }
    },
    "com.gcp.cloudbuild_v1#ArtifactObjects": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix."
          }
        },
        "paths": {
          "target": "com.gcp.cloudbuild_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Path globs used to match files in the build's workspace."
          }
        },
        "timing": {
          "target": "com.gcp.cloudbuild_v1#TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for pushing all artifact objects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps."
      }
    },
    "com.gcp.cloudbuild_v1#MavenArtifact": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact Registry repository, in the form \"https://$REGION-maven.pkg.dev/$PROJECT/$REPOSITORY\" Artifact in the workspace specified by path will be uploaded to Artifact Registry with this location as a prefix."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Path to an artifact in the build's workspace to be uploaded to Artifact Registry. This can be either an absolute path, e.g. /workspace/my-app/target/my-app-1.0.SNAPSHOT.jar or a relative path from /workspace, e.g. my-app/target/my-app-1.0.SNAPSHOT.jar."
          }
        },
        "artifactId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maven `artifactId` value used when uploading the artifact to Artifact Registry."
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maven `groupId` value used when uploading the artifact to Artifact Registry."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maven `version` value used when uploading the artifact to Artifact Registry."
          }
        },
        "deployFolder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Path to a folder containing the files to upload to Artifact Registry. This can be either an absolute path, e.g. `/workspace/my-app/target/`, or a relative path from /workspace, e.g. `my-app/target/`. This field is mutually exclusive with the `path` field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Maven artifact to upload to Artifact Registry upon successful completion of all build steps."
      }
    },
    "com.gcp.cloudbuild_v1#GoModule": {
      "type": "structure",
      "members": {
        "repositoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Artifact Registry repository name. Specified Go modules will be zipped and uploaded to Artifact Registry with this location as a prefix. e.g. my-go-repo"
          }
        },
        "repositoryLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Location of the Artifact Registry repository. i.e. us-east1 Defaults to the build’s location."
          }
        },
        "repositoryProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Project ID of the Artifact Registry repository. Defaults to the build project."
          }
        },
        "sourcePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Source path of the go.mod file in the build's workspace. If not specified, this will default to the current directory. e.g. ~/code/go/mypackage"
          }
        },
        "modulePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Go module's \"module path\". e.g. example.com/foo/v2"
          }
        },
        "moduleVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Go module's semantic version in the form vX.Y.Z. e.g. v0.1.1 Pre-release identifiers can also be added by appending a dash and dot separated ASCII alphanumeric characters and hyphens. e.g. v0.2.3-alpha.x.12m.5"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Go module to upload to Artifact Registry upon successful completion of all build steps. A module refers to all dependencies in a go.mod file."
      }
    },
    "com.gcp.cloudbuild_v1#PythonPackage": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact Registry repository, in the form \"https://$REGION-python.pkg.dev/$PROJECT/$REPOSITORY\" Files in the workspace matching any path pattern will be uploaded to Artifact Registry with this location as a prefix."
          }
        },
        "paths": {
          "target": "com.gcp.cloudbuild_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Path globs used to match files in the build's workspace. For Python/ Twine, this is usually `dist/*`, and sometimes additionally an `.asc` file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Python package to upload to Artifact Registry upon successful completion of all build steps. A package can encapsulate multiple objects to be uploaded to a single repository."
      }
    },
    "com.gcp.cloudbuild_v1#NpmPackage": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact Registry repository, in the form \"https://$REGION-npm.pkg.dev/$PROJECT/$REPOSITORY\" Npm package in the workspace specified by path will be zipped and uploaded to Artifact Registry with this location as a prefix."
          }
        },
        "packagePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Path to the package.json. e.g. workspace/path/to/package Only one of `archive` or `package_path` can be specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Npm package to upload to Artifact Registry upon successful completion of all build steps."
      }
    },
    "com.gcp.cloudbuild_v1#Oci": {
      "type": "structure",
      "members": {
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Path on the local file system where to find the container to upload. e.g. /workspace/my-image.tar"
          }
        },
        "registryPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Registry path to upload the container to. e.g. us-east1-docker.pkg.dev/my-project/my-repo/my-image"
          }
        },
        "tags": {
          "target": "com.gcp.cloudbuild_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Tags to apply to the uploaded image. e.g. latest, 1.0.0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OCI image to upload to Artifact Registry upon successful completion of all build steps."
      }
    },
    "com.gcp.cloudbuild_v1#GenericArtifact": {
      "type": "structure",
      "members": {
        "registryPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Registry path to upload the generic artifact to, in the form projects/$PROJECT/locations/$LOCATION/repositories/$REPO/packages/$PACKAGE/versions/$VERSION"
          }
        },
        "folder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Path to the generic artifact in the build's workspace to be uploaded to Artifact Registry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Generic artifact to upload to Artifact Registry upon successful completion of all build steps."
      }
    },
    "com.gcp.cloudbuild_v1#SourceProvenance": {
      "type": "structure",
      "members": {
        "resolvedStorageSource": {
          "target": "com.gcp.cloudbuild_v1#StorageSource",
          "traits": {
            "smithy.api#documentation": "A copy of the build's `source.storage_source`, if exists, with any generations resolved."
          }
        },
        "resolvedRepoSource": {
          "target": "com.gcp.cloudbuild_v1#RepoSource",
          "traits": {
            "smithy.api#documentation": "A copy of the build's `source.repo_source`, if exists, with any revisions resolved."
          }
        },
        "resolvedStorageSourceManifest": {
          "target": "com.gcp.cloudbuild_v1#StorageSourceManifest",
          "traits": {
            "smithy.api#documentation": "A copy of the build's `source.storage_source_manifest`, if exists, with any revisions resolved. This feature is in Preview."
          }
        },
        "resolvedConnectedRepository": {
          "target": "com.gcp.cloudbuild_v1#ConnectedRepository",
          "traits": {
            "smithy.api#documentation": "Output only. A copy of the build's `source.connected_repository`, if exists, with any revisions resolved."
          }
        },
        "resolvedGitSource": {
          "target": "com.gcp.cloudbuild_v1#GitSource",
          "traits": {
            "smithy.api#documentation": "Output only. A copy of the build's `source.git_source`, if exists, with any revisions resolved."
          }
        },
        "fileHashes": {
          "target": "com.gcp.cloudbuild_v1#FileHashesMap",
          "traits": {
            "smithy.api#documentation": "Output only. Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. Note that `FileHashes` will only be populated if `BuildOptions` has requested a `SourceProvenanceHash`. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (`.tar.gz`), the `FileHash` will be for the single path to that file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provenance of the source. Ways to find the original source, or verify that some source was used for this build."
      }
    },
    "com.gcp.cloudbuild_v1#BuildOptions": {
      "type": "structure",
      "members": {
        "sourceProvenanceHash": {
          "target": "com.gcp.cloudbuild_v1#BuildOptionsSourceProvenanceHashItemEnumList",
          "traits": {
            "smithy.api#documentation": "Requested hash for SourceProvenance."
          }
        },
        "requestedVerifyOption": {
          "target": "com.gcp.cloudbuild_v1#BuildOptionsRequestedVerifyOptionEnum",
          "traits": {
            "smithy.api#documentation": "Requested verifiability options."
          }
        },
        "machineType": {
          "target": "com.gcp.cloudbuild_v1#BuildOptionsMachineTypeEnum",
          "traits": {
            "smithy.api#documentation": "Compute Engine machine type on which to run the build."
          }
        },
        "diskSizeGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested disk size for the VM that runs the build. Note that this is *NOT* \"disk free\"; some of the space will be used by the operating system and build utilities. Also note that this is the minimum disk size that will be allocated for the build -- the build may run with a larger disk than requested. At present, the maximum disk size is 4000GB; builds that request more than the maximum are rejected with an error."
          }
        },
        "substitutionOption": {
          "target": "com.gcp.cloudbuild_v1#BuildOptionsSubstitutionOptionEnum",
          "traits": {
            "smithy.api#documentation": "Option to specify behavior when there is an error in the substitution checks. NOTE: this is always set to ALLOW_LOOSE for triggered builds and cannot be overridden in the build configuration file."
          }
        },
        "dynamicSubstitutions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Option to specify whether or not to apply bash style string operations to the substitutions. NOTE: this is always enabled for triggered builds and cannot be overridden in the build configuration file."
          }
        },
        "automapSubstitutions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Option to include built-in and custom substitutions as env variables for all build steps."
          }
        },
        "logStreamingOption": {
          "target": "com.gcp.cloudbuild_v1#BuildOptionsLogStreamingOptionEnum",
          "traits": {
            "smithy.api#documentation": "Option to define build log streaming behavior to Cloud Storage."
          }
        },
        "workerPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field deprecated; please use `pool.name` instead."
          }
        },
        "pool": {
          "target": "com.gcp.cloudbuild_v1#PoolOption",
          "traits": {
            "smithy.api#documentation": "Optional. Specification for execution on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information."
          }
        },
        "logging": {
          "target": "com.gcp.cloudbuild_v1#BuildOptionsLoggingEnum",
          "traits": {
            "smithy.api#documentation": "Option to specify the logging mode, which determines if and where build logs are stored."
          }
        },
        "env": {
          "target": "com.gcp.cloudbuild_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of global environment variable definitions that will exist for all build steps in this build. If a variable is defined in both globally and in a build step, the variable will use the build step value. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
          }
        },
        "secretEnv": {
          "target": "com.gcp.cloudbuild_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of global environment variables, which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`. These variables will be available to all build steps in this build."
          }
        },
        "volumes": {
          "target": "com.gcp.cloudbuild_v1#VolumeList",
          "traits": {
            "smithy.api#documentation": "Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration."
          }
        },
        "defaultLogsBucketBehavior": {
          "target": "com.gcp.cloudbuild_v1#BuildOptionsDefaultLogsBucketBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Option to specify how default logs buckets are setup."
          }
        },
        "enableStructuredLogging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Option to specify whether structured logging is enabled. If true, JSON-formatted logs are parsed as structured logs."
          }
        },
        "pubsubTopic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Option to specify the Pub/Sub topic to receive build status updates."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional arguments to enable specific features of builds."
      }
    },
    "com.gcp.cloudbuild_v1#BuildOptionsSourceProvenanceHashItemEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHA256"
          }
        },
        "MD5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MD5"
          }
        },
        "GO_MODULE_H1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GO_MODULE_H1"
          }
        },
        "SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHA512"
          }
        },
        "DIRSUM_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRSUM_SHA256"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#BuildOptionsSourceProvenanceHashItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#BuildOptionsSourceProvenanceHashItemEnum"
      }
    },
    "com.gcp.cloudbuild_v1#BuildOptionsRequestedVerifyOptionEnum": {
      "type": "enum",
      "members": {
        "NOT_VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_VERIFIED"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFIED"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#BuildOptionsMachineTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "N1_HIGHCPU_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHCPU_8"
          }
        },
        "N1_HIGHCPU_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N1_HIGHCPU_32"
          }
        },
        "E2_HIGHCPU_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_HIGHCPU_8"
          }
        },
        "E2_HIGHCPU_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_HIGHCPU_32"
          }
        },
        "E2_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2_MEDIUM"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#BuildOptionsSubstitutionOptionEnum": {
      "type": "enum",
      "members": {
        "MUST_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUST_MATCH"
          }
        },
        "ALLOW_LOOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_LOOSE"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#BuildOptionsLogStreamingOptionEnum": {
      "type": "enum",
      "members": {
        "STREAM_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAM_DEFAULT"
          }
        },
        "STREAM_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAM_ON"
          }
        },
        "STREAM_OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAM_OFF"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#BuildOptionsLoggingEnum": {
      "type": "enum",
      "members": {
        "LOGGING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGGING_UNSPECIFIED"
          }
        },
        "LEGACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEGACY"
          }
        },
        "GCS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCS_ONLY"
          }
        },
        "STACKDRIVER_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STACKDRIVER_ONLY"
          }
        },
        "CLOUD_LOGGING_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_LOGGING_ONLY"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#BuildOptionsDefaultLogsBucketBehaviorEnum": {
      "type": "enum",
      "members": {
        "DEFAULT_LOGS_BUCKET_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_LOGS_BUCKET_BEHAVIOR_UNSPECIFIED"
          }
        },
        "REGIONAL_USER_OWNED_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL_USER_OWNED_BUCKET"
          }
        },
        "LEGACY_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEGACY_BUCKET"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#PoolOption": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `WorkerPool` resource to execute the build on. You must have `cloudbuild.workerpools.use` on the project hosting the WorkerPool. Format projects/{project}/locations/{location}/workerPools/{workerPoolId}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about how a build should be executed on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information."
      }
    },
    "com.gcp.cloudbuild_v1#Secret": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud KMS key name to use to decrypt these envs."
          }
        },
        "secretEnv": {
          "target": "com.gcp.cloudbuild_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pairs a set of secret environment variables containing encrypted values with the Cloud KMS key to use to decrypt the value. Note: Use `kmsKeyName` with `available_secrets` instead of using `kmsKeyName` with `secret`. For instructions see: https://cloud.google.com/cloud-build/docs/securing-builds/use-encrypted-credentials."
      }
    },
    "com.gcp.cloudbuild_v1#BuildApproval": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.cloudbuild_v1#BuildApprovalStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of this build's approval."
          }
        },
        "config": {
          "target": "com.gcp.cloudbuild_v1#ApprovalConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Configuration for manual approval of this build."
          }
        },
        "result": {
          "target": "com.gcp.cloudbuild_v1#ApprovalResult",
          "traits": {
            "smithy.api#documentation": "Output only. Result of manual approval for this Build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BuildApproval describes a build's approval configuration, state, and result."
      }
    },
    "com.gcp.cloudbuild_v1#BuildApprovalStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#ApprovalConfig": {
      "type": "structure",
      "members": {
        "approvalRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApprovalConfig describes configuration for manual approval of a build."
      }
    },
    "com.gcp.cloudbuild_v1#ApprovalResult": {
      "type": "structure",
      "members": {
        "approverAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called."
          }
        },
        "approvalTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the approval decision was made."
          }
        },
        "decision": {
          "target": "com.gcp.cloudbuild_v1#ApprovalResultDecisionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The decision of this manual approval."
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional comment for this manual approval result."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApprovalResult describes the decision and associated metadata of a manual approval of a build."
      }
    },
    "com.gcp.cloudbuild_v1#ApprovalResultDecisionEnum": {
      "type": "enum",
      "members": {
        "DECISION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECISION_UNSPECIFIED"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#Secrets": {
      "type": "structure",
      "members": {
        "secretManager": {
          "target": "com.gcp.cloudbuild_v1#SecretManagerSecretList",
          "traits": {
            "smithy.api#documentation": "Secrets in Secret Manager and associated secret environment variable."
          }
        },
        "inline": {
          "target": "com.gcp.cloudbuild_v1#InlineSecretList",
          "traits": {
            "smithy.api#documentation": "Secrets encrypted with KMS key and the associated secret environment variable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Secrets and secret environment variables."
      }
    },
    "com.gcp.cloudbuild_v1#SecretManagerSecretList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#SecretManagerSecret"
      }
    },
    "com.gcp.cloudbuild_v1#InlineSecretList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbuild_v1#InlineSecret"
      }
    },
    "com.gcp.cloudbuild_v1#SecretManagerSecret": {
      "type": "structure",
      "members": {
        "versionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*"
          }
        },
        "env": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment variable name to associate with the secret. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pairs a secret environment variable with a SecretVersion in Secret Manager."
      }
    },
    "com.gcp.cloudbuild_v1#InlineSecret": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*"
          }
        },
        "envMap": {
          "target": "com.gcp.cloudbuild_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value."
      }
    },
    "com.gcp.cloudbuild_v1#Warning": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explanation of the warning generated."
          }
        },
        "priority": {
          "target": "com.gcp.cloudbuild_v1#WarningPriorityEnum",
          "traits": {
            "smithy.api#documentation": "The priority for this warning."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A non-fatal problem encountered during the execution of the build."
      }
    },
    "com.gcp.cloudbuild_v1#WarningPriorityEnum": {
      "type": "enum",
      "members": {
        "PRIORITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_UNSPECIFIED"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#GitConfig": {
      "type": "structure",
      "members": {
        "http": {
          "target": "com.gcp.cloudbuild_v1#HttpConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for HTTP related git operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GitConfig is a configuration for git operations."
      }
    },
    "com.gcp.cloudbuild_v1#HttpConfig": {
      "type": "structure",
      "members": {
        "proxySecretVersionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SecretVersion resource of the HTTP proxy URL. The Service Account used in the build (either the default Service Account or user-specified Service Account) should have `secretmanager.versions.access` permissions on this secret. The proxy URL should be in format `protocol://@]proxyhost[:port]`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HttpConfig is a configuration for HTTP related git operations."
      }
    },
    "com.gcp.cloudbuild_v1#FailureInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.cloudbuild_v1#FailureInfoTypeEnum",
          "traits": {
            "smithy.api#documentation": "The name of the failure."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explains the failure issue in more detail using hard-coded text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A fatal problem encountered during the execution of the build."
      }
    },
    "com.gcp.cloudbuild_v1#FailureInfoTypeEnum": {
      "type": "enum",
      "members": {
        "FAILURE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE_TYPE_UNSPECIFIED"
          }
        },
        "PUSH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUSH_FAILED"
          }
        },
        "PUSH_IMAGE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUSH_IMAGE_NOT_FOUND"
          }
        },
        "PUSH_NOT_AUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUSH_NOT_AUTHORIZED"
          }
        },
        "LOGGING_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGGING_FAILURE"
          }
        },
        "USER_BUILD_STEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_BUILD_STEP"
          }
        },
        "FETCH_SOURCE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FETCH_SOURCE_FAILED"
          }
        }
      }
    },
    "com.gcp.cloudbuild_v1#Dependency": {
      "type": "structure",
      "members": {
        "empty": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true disable all dependency fetching (ignoring the default source as well)."
          }
        },
        "gitSource": {
          "target": "com.gcp.cloudbuild_v1#GitSourceDependency",
          "traits": {
            "smithy.api#documentation": "Represents a git repository as a build dependency."
          }
        },
        "genericArtifact": {
          "target": "com.gcp.cloudbuild_v1#GenericArtifactDependency",
          "traits": {
            "smithy.api#documentation": "Represents a generic artifact as a build dependency."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A dependency that the Cloud Build worker will fetch before executing user steps."
      }
    },
    "com.gcp.cloudbuild_v1#GitSourceDependency": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "com.gcp.cloudbuild_v1#GitSourceRepository",
          "traits": {
            "smithy.api#documentation": "Required. The kind of repo (url or dev connect)."
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The revision that we will fetch the repo at."
          }
        },
        "recurseSubmodules": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. True if submodules should be fetched too (default false)."
          }
        },
        "depth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. How much history should be fetched for the build (default 1, -1 for all history)."
          }
        },
        "destPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Where should the files be placed on the worker."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a git repository as a build dependency."
      }
    },
    "com.gcp.cloudbuild_v1#GitSourceRepository": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the Git repository."
          }
        },
        "developerConnect": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Developer Connect Git repository link formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A repository for a git source."
      }
    },
    "com.gcp.cloudbuild_v1#GenericArtifactDependency": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
[...]
