{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudfunctions",
    "version": "v1",
    "title": "Cloud Functions API",
    "baseUrl": "https://cloudfunctions.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudfunctions_v1#Cloudfunctions_Retry": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Describes the retry policy in case of function's execution failure. A function execution will be retried on any failure. A failed execution will be retried up to 7 days with an exponential backoff (capped at 10 seconds). Retried execution is charged as any other execution."
      }
    },
    "com.gcp.cloudfunctions_v1#GenerateDownloadUrlRequest": {
      "type": "structure",
      "members": {
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The optional version of function. If not set, default, current version is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request of `GenerateDownloadUrl` method."
      }
    },
    "com.gcp.cloudfunctions_v1#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.cloudfunctions_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.cloudfunctions_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.cloudfunctions_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.cloudfunctions_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudfunctions_v1#GenerateUploadUrlRequest": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of a KMS crypto key (managed by the user) used to encrypt/decrypt function source code objects in intermediate Cloud Storage buckets. When you generate an upload url and upload your source code, it gets copied to an intermediate Cloud Storage bucket. The source code is then copied to a versioned directory in the sources bucket in the consumer project during the function deployment. It must match the pattern `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`. The Google Cloud Functions service account (service-{project_number}@gcf-admin-robot.iam.gserviceaccount.com) must be granted the role 'Cloud KMS CryptoKey Encrypter/Decrypter (roles/cloudkms.cryptoKeyEncrypterDecrypter)' on the Key/KeyRing/Project/Organization (least access preferred). GCF will delegate access to the Google Storage service account in the internal project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request of `GenerateSourceUploadUrl` method."
      }
    },
    "com.gcp.cloudfunctions_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.cloudfunctions_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.cloudfunctions_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.cloudfunctions_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v1#Operation"
      }
    },
    "com.gcp.cloudfunctions_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudfunctions_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudfunctions_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudfunctions_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudfunctions_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudfunctions_v1#GenerateDownloadUrlResponse": {
      "type": "structure",
      "members": {
        "downloadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The generated Google Cloud Storage signed URL that should be used for function source code download."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of `GenerateDownloadUrl` method."
      }
    },
    "com.gcp.cloudfunctions_v1#CallFunctionResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Result populated for successful execution of synchronous function. Will not be populated if function does not return a result through context."
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Either system or user-function generated error. Set if execution was not successful."
          }
        },
        "executionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Execution id of function invocation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of `CallFunction` method."
      }
    },
    "com.gcp.cloudfunctions_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.cloudfunctions_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.cloudfunctions_v1#Expr": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.cloudfunctions_v1#AutomaticUpdatePolicy": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Security patches are applied automatically to the runtime without requiring the function to be redeployed."
      }
    },
    "com.gcp.cloudfunctions_v1#EventTrigger": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource(s) from which to observe events, for example, `projects/_/buckets/myBucket`. Not all syntactically correct values are accepted by all services. For example: 1. The authorization model must support it. Google Cloud Functions only allows EventTriggers to be deployed that observe resources in the same project as the `CloudFunction`. 2. The resource type must match the pattern expected for an `event_type`. For example, an `EventTrigger` that has an `event_type` of \"google.pubsub.topic.publish\" should have a resource that matches Google Cloud Pub/Sub topics. Additionally, some services may support short names when creating an `EventTrigger`. These will always be returned in the normalized \"long\" format. See each *service's* documentation for supported formats."
          }
        },
        "failurePolicy": {
          "target": "com.gcp.cloudfunctions_v1#FailurePolicy",
          "traits": {
            "smithy.api#documentation": "Specifies policy for failed executions."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname of the service that should be observed. If no string is provided, the default service implementing the API will be used. For example, `storage.googleapis.com` is the default for all event types in the `google.storage` namespace."
          }
        },
        "eventType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The type of event to observe. For example: `providers/cloud.storage/eventTypes/object.change` and `providers/cloud.pubsub/eventTypes/topic.publish`. Event types match pattern `providers/*/eventTypes/*.*`. The pattern contains: 1. namespace: For example, `cloud.storage` and `google.firebase.analytics`. 2. resource type: The type of resource on which event occurs. For example, the Google Cloud Storage API includes the type `object`. 3. action: The action that generates the event. For example, action for a Google Cloud Storage Object is 'change'. These parts are lower case."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes EventTrigger, used to request events be sent from another service."
      }
    },
    "com.gcp.cloudfunctions_v1#SecretVolume": {
      "type": "structure",
      "members": {
        "versions": {
          "target": "com.gcp.cloudfunctions_v1#SecretVersionList",
          "traits": {
            "smithy.api#documentation": "List of secret versions to mount for this secret. If empty, the `latest` version of the secret will be made available in a file named after the secret under the mount point."
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path within the container to mount the secret volume. For example, setting the mount_path as `/etc/secrets` would mount the secret value files under the `/etc/secrets` directory. This directory will also be completely shadowed and unavailable to mount any other secrets. Recommended mount paths: /etc/secrets Restricted mount paths: /cloudsql, /dev/log, /pod, /proc, /var/log"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project identifier (preferrably project number but can also be the project ID) of the project that contains the secret. If not set, it will be populated with the function's project assuming that the secret exists in the same project as of the function."
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the secret in secret manager (not the full resource name)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a secret volume. It has the information necessary to fetch the secret value from secret manager and make it available as files mounted at the requested paths within the application container. Secret value is not a part of the configuration. Every filesystem read operation performs a lookup in secret manager to retrieve the secret value."
      }
    },
    "com.gcp.cloudfunctions_v1#SecretVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v1#SecretVersion"
      }
    },
    "com.gcp.cloudfunctions_v1#Location": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.cloudfunctions_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "metadata": {
          "target": "com.gcp.cloudfunctions_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.cloudfunctions_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudfunctions_v1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.cloudfunctions_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "condition": {
          "target": "com.gcp.cloudfunctions_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.cloudfunctions_v1#Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.cloudfunctions_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.cloudfunctions_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.cloudfunctions_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v1#Binding"
      }
    },
    "com.gcp.cloudfunctions_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v1#AuditConfig"
      }
    },
    "com.gcp.cloudfunctions_v1#OnDeployUpdatePolicy": {
      "type": "structure",
      "members": {
        "runtimeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Contains the runtime version which was used during latest function deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Security patches are only applied when a function is redeployed."
      }
    },
    "com.gcp.cloudfunctions_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.cloudfunctions_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.cloudfunctions_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.cloudfunctions_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#SecretEnvVar": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project identifier (preferably project number but can also be the project ID) of the project that contains the secret. If not set, it will be populated with the function's project assuming that the secret exists in the same project as of the function."
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the secret in secret manager (not the full resource name)."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the secret (version number or the string 'latest'). It is recommended to use a numeric version for secret environment variables as any updates to the secret value is not reflected until new instances start."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the environment variable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a secret environment variable. It has the information necessary to fetch the secret value from secret manager and expose it as an environment variable."
      }
    },
    "com.gcp.cloudfunctions_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.cloudfunctions_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.cloudfunctions_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v1#DocumentMap"
      }
    },
    "com.gcp.cloudfunctions_v1#CloudFunction": {
      "type": "structure",
      "members": {
        "sourceUploadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Storage signed URL used for source uploading, generated by calling [google.cloud.functions.v1.GenerateUploadUrl]. The signature is validated on write methods (Create, Update) The signature is stripped from the Function object on read methods (Get, List)"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp of a Cloud Function."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided description of a function."
          }
        },
        "httpsTrigger": {
          "target": "com.gcp.cloudfunctions_v1#HttpsTrigger",
          "traits": {
            "smithy.api#documentation": "An HTTPS endpoint type of source that can be triggered via URL."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The function execution timeout. Execution is considered failed and can be terminated if the function is not completed at the end of the timeout period. Defaults to 60 seconds."
          }
        },
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The version identifier of the Cloud Function. Each deployment attempt results in a new version of a function being created."
          }
        },
        "labels": {
          "target": "com.gcp.cloudfunctions_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels associated with this Cloud Function."
          }
        },
        "availableMemoryMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of memory in MB available for a function. Defaults to 256MB."
          }
        },
        "sourceArchiveUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Storage URL, starting with `gs://`, pointing to the zip archive which contains the function."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use vpc_connector"
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only."
          }
        },
        "maxInstances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The limit on the maximum number of function instances that may coexist at a given time. In some cases, such as rapid traffic surges, Cloud Functions may, for a short period of time, create more instances than the specified max instances limit. If your function cannot tolerate this temporary behavior, you may want to factor in a safety margin and set a lower max instances value than your function can tolerate. See the [Max Instances](https://cloud.google.com/functions/docs/max-instances) Guide for more details."
          }
        },
        "vpcConnector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VPC Network Connector that this cloud function can connect to. It can be either the fully-qualified URI, or the short name of the network connector resource. The format of this field is `projects/*/locations/*/connectors/*` This field is mutually exclusive with `network` field and will eventually replace it. See [the VPC documentation](https://cloud.google.com/compute/docs/vpc) for more information on connecting Cloud projects."
          }
        },
        "buildWorkerPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Cloud Build Custom Worker Pool that should be used to build the function. The format of this field is `projects/{project}/locations/{region}/workerPools/{workerPool}` where `{project}` and `{region}` are the project id and region respectively where the worker pool is defined and `{workerPool}` is the short name of the worker pool. If the project id is not the same as the function, then the Cloud Functions Service Agent (`service-@gcf-admin-robot.iam.gserviceaccount.com`) must be granted the role Cloud Build Custom Workers Builder (`roles/cloudbuild.customworkers.builder`) in the project."
          }
        },
        "sourceToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. An identifier for Firebase function sources. Disclaimer: This field is only supported for Firebase function deployments."
          }
        },
        "dockerRegistry": {
          "target": "com.gcp.cloudfunctions_v1#CloudFunctionDockerRegistryEnum",
          "traits": {
            "smithy.api#documentation": "Docker Registry to use for this deployment. Deprecated: as of March 2025, `CONTAINER_REGISTRY` option is no longer available in response to Container Registry's deprecation: https://cloud.google.com/artifact-registry/docs/transition/transition-from-gcr Please use Artifact Registry instead, which is the default choice. If unspecified, it defaults to `ARTIFACT_REGISTRY`. If `docker_repository` field is specified, this field should either be left unspecified or set to `ARTIFACT_REGISTRY`."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the function's service account. If empty, defaults to `{project_id}@appspot.gserviceaccount.com`."
          }
        },
        "minInstances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A lower bound for the number function instances that may coexist at a given time."
          }
        },
        "buildServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A service account the user provides for use with Cloud Build. The format of this field is `projects/{projectId}/serviceAccounts/{serviceAccountEmail}`."
          }
        },
        "environmentVariables": {
          "target": "com.gcp.cloudfunctions_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Environment variables that shall be available during function execution."
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The runtime in which to run the function. Required when deploying a new function, optional when updating an existing function. For a complete list of possible choices, see the [`gcloud` command reference](https://cloud.google.com/sdk/gcloud/reference/functions/deploy#--runtime)."
          }
        },
        "sourceRepository": {
          "target": "com.gcp.cloudfunctions_v1#SourceRepository",
          "traits": {
            "smithy.api#documentation": "**Beta Feature** The source repository where a function is hosted."
          }
        },
        "onDeployUpdatePolicy": {
          "target": "com.gcp.cloudfunctions_v1#OnDeployUpdatePolicy"
        },
        "vpcConnectorEgressSettings": {
          "target": "com.gcp.cloudfunctions_v1#CloudFunctionVpcConnectorEgressSettingsEnum",
          "traits": {
            "smithy.api#documentation": "The egress settings for the connector, controlling what traffic is diverted through it."
          }
        },
        "buildId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Cloud Build ID of the latest successful deployment of the function."
          }
        },
        "secretEnvironmentVariables": {
          "target": "com.gcp.cloudfunctions_v1#SecretEnvVarList",
          "traits": {
            "smithy.api#documentation": "Secret environment variables configuration."
          }
        },
        "buildName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Cloud Build Name of the function deployment. `projects//locations//builds/`."
          }
        },
        "ingressSettings": {
          "target": "com.gcp.cloudfunctions_v1#CloudFunctionIngressSettingsEnum",
          "traits": {
            "smithy.api#documentation": "The ingress settings for the function, controlling what traffic can reach it."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of a KMS crypto key (managed by the user) used to encrypt/decrypt function resources. It must match the pattern `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`. If specified, you must also provide an artifact registry repository using the `docker_repository` field that was created with the same KMS crypto key. The following service accounts need to be granted the role 'Cloud KMS CryptoKey Encrypter/Decrypter (roles/cloudkms.cryptoKeyEncrypterDecrypter)' on the Key/KeyRing/Project/Organization (least access preferred). 1. Google Cloud Functions service account (service-{project_number}@gcf-admin-robot.iam.gserviceaccount.com) - Required to protect the function's image. 2. Google Storage service account (service-{project_number}@gs-project-accounts.iam.gserviceaccount.com) - Required to protect the function's source code. If this service account does not exist, deploying a function without a KMS key or retrieving the service agent name provisions it. For more information, see https://cloud.google.com/storage/docs/projects#service-agents and https://cloud.google.com/storage/docs/getting-service-agent#gsutil. Google Cloud Functions delegates access to service agents to protect function resources in internal projects that are not accessible by the end user."
          }
        },
        "buildEnvironmentVariables": {
          "target": "com.gcp.cloudfunctions_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Build environment variables that shall be available during build time."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-defined name of the function. Function names must be unique globally and match pattern `projects/*/locations/*/functions/*`"
          }
        },
        "eventTrigger": {
          "target": "com.gcp.cloudfunctions_v1#EventTrigger",
          "traits": {
            "smithy.api#documentation": "A source that fires events in response to a condition in another service."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only."
          }
        },
        "dockerRepository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-managed repository created in Artifact Registry to which the function's Docker image will be pushed after it is built by Cloud Build. May optionally be encrypted with a customer-managed encryption key (CMEK). If unspecified and `docker_registry` is not explicitly set to `CONTAINER_REGISTRY`, GCF will create and use a default Artifact Registry repository named 'gcf-artifacts' in the region. It must match the pattern `projects/{project}/locations/{location}/repositories/{repository}`. Cross-project repositories are not supported. Cross-location repositories are not supported. Repository format must be 'DOCKER'."
          }
        },
        "status": {
          "target": "com.gcp.cloudfunctions_v1#CloudFunctionStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the function deployment."
          }
        },
        "secretVolumes": {
          "target": "com.gcp.cloudfunctions_v1#SecretVolumeList",
          "traits": {
            "smithy.api#documentation": "Secret volumes configuration."
          }
        },
        "entryPoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function (as defined in source code) that will be executed. Defaults to the resource name suffix (ID of the function), if not specified."
          }
        },
        "automaticUpdatePolicy": {
          "target": "com.gcp.cloudfunctions_v1#AutomaticUpdatePolicy"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a Cloud Function that contains user computation executed in response to an event. It encapsulate function and triggers configurations."
      }
    },
    "com.gcp.cloudfunctions_v1#CloudFunctionDockerRegistryEnum": {
      "type": "enum",
      "members": {
        "DOCKER_REGISTRY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCKER_REGISTRY_UNSPECIFIED"
          }
        },
        "CONTAINER_REGISTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_REGISTRY"
          }
        },
        "ARTIFACT_REGISTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTIFACT_REGISTRY"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#CloudFunctionVpcConnectorEgressSettingsEnum": {
      "type": "enum",
      "members": {
        "VPC_CONNECTOR_EGRESS_SETTINGS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_CONNECTOR_EGRESS_SETTINGS_UNSPECIFIED"
          }
        },
        "PRIVATE_RANGES_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_RANGES_ONLY"
          }
        },
        "ALL_TRAFFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_TRAFFIC"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#SecretEnvVarList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v1#SecretEnvVar"
      }
    },
    "com.gcp.cloudfunctions_v1#CloudFunctionIngressSettingsEnum": {
      "type": "enum",
      "members": {
        "INGRESS_SETTINGS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGRESS_SETTINGS_UNSPECIFIED"
          }
        },
        "ALLOW_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_ALL"
          }
        },
        "ALLOW_INTERNAL_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_INTERNAL_ONLY"
          }
        },
        "ALLOW_INTERNAL_AND_GCLB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_INTERNAL_AND_GCLB"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#CloudFunctionStatusEnum": {
      "type": "enum",
      "members": {
        "CLOUD_FUNCTION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_FUNCTION_STATUS_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFFLINE"
          }
        },
        "DEPLOY_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOY_IN_PROGRESS"
          }
        },
        "DELETE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_IN_PROGRESS"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#SecretVolumeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v1#SecretVolume"
      }
    },
    "com.gcp.cloudfunctions_v1#ListFunctionsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.cloudfunctions_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached. The response does not include any functions from these locations."
          }
        },
        "functions": {
          "target": "com.gcp.cloudfunctions_v1#CloudFunctionList",
          "traits": {
            "smithy.api#documentation": "The functions that match the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not empty, indicates that there may be more functions that match the request; this value should be passed in a new google.cloud.functions.v1.ListFunctionsRequest to get more functions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListFunctions` method."
      }
    },
    "com.gcp.cloudfunctions_v1#CloudFunctionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v1#CloudFunction"
      }
    },
    "com.gcp.cloudfunctions_v1#HttpsTrigger": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The deployed url for the function."
          }
        },
        "securityLevel": {
          "target": "com.gcp.cloudfunctions_v1#HttpsTriggerSecurityLevelEnum",
          "traits": {
            "smithy.api#documentation": "The security level for the function."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes HttpsTrigger, could be used to connect web hooks to function."
      }
    },
    "com.gcp.cloudfunctions_v1#HttpsTriggerSecurityLevelEnum": {
      "type": "enum",
      "members": {
        "SECURITY_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_LEVEL_UNSPECIFIED"
          }
        },
        "SECURE_ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_ALWAYS"
          }
        },
        "SECURE_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_OPTIONAL"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#CallFunctionRequest": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input to be passed to the function."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `CallFunction` method."
      }
    },
    "com.gcp.cloudfunctions_v1#SourceRepository": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pointing to the hosted repository where the function is defined. There are supported Cloud Source Repository URLs in the following formats: To refer to a specific commit: `https://source.developers.google.com/projects/*/repos/*/revisions/*/paths/*` To refer to a moveable alias (branch): `https://source.developers.google.com/projects/*/repos/*/moveable-aliases/*/paths/*` In particular, to refer to HEAD use `master` moveable alias. To refer to a specific fixed alias (tag): `https://source.developers.google.com/projects/*/repos/*/fixed-aliases/*/paths/*` You may omit `paths/*` if you want to use the main directory. The function response may add an empty `/paths/` to the URL."
          }
        },
        "deployedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL pointing to the hosted repository where the function were defined at the time of deployment. It always points to a specific commit in the format described above."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes SourceRepository, used to represent parameters related to source repository where a function is hosted."
      }
    },
    "com.gcp.cloudfunctions_v1#GenerateUploadUrlResponse": {
      "type": "structure",
      "members": {
        "uploadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The generated Google Cloud Storage signed URL that should be used for a function source code upload. The uploaded file should be a zip archive which contains a function."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of `GenerateSourceUploadUrl` method."
      }
    },
    "com.gcp.cloudfunctions_v1#FailurePolicy": {
      "type": "structure",
      "members": {
        "retry": {
          "target": "com.gcp.cloudfunctions_v1#Cloudfunctions_Retry",
          "traits": {
            "smithy.api#documentation": "If specified, then the function will be retried in case of a failure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the policy in case of function's execution failure. If empty, then defaults to ignoring failures (i.e. not retrying them)."
      }
    },
    "com.gcp.cloudfunctions_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.cloudfunctions_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.cloudfunctions_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v1#Location"
      }
    },
    "com.gcp.cloudfunctions_v1#OperationMetadataV1": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target of the operation - for example `projects/project-1/locations/region-1/functions/function-1`"
          }
        },
        "request": {
          "target": "com.gcp.cloudfunctions_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The original request that started the operation."
          }
        },
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version id of the function created or updated by an API call. This field is only populated for Create and Update operations."
          }
        },
        "buildId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Build ID of the function created or updated by an API call. This field is only populated for Create and Update operations."
          }
        },
        "sourceToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for Firebase function sources. Disclaimer: This field is only supported for Firebase function deployments."
          }
        },
        "type": {
          "target": "com.gcp.cloudfunctions_v1#OperationMetadataV1TypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of operation."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update timestamp of the operation."
          }
        },
        "buildName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Build Name of the function deployment. This field is only populated for Create and Update operations. `projects//locations//builds/`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing an Operation"
      }
    },
    "com.gcp.cloudfunctions_v1#OperationMetadataV1TypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "CREATE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FUNCTION"
          }
        },
        "UPDATE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FUNCTION"
          }
        },
        "DELETE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FUNCTION"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#SecretVersion": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path of the file under the mount path where the secret value for this version will be fetched and made available. For example, setting the mount_path as '/etc/secrets' and path as `/secret_foo` would mount the secret value file at `/etc/secrets/secret_foo`."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the secret (version number or the string 'latest'). It is preferable to use `latest` version with secret volumes as secret value changes are reflected immediately."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a single version."
      }
    },
    "com.gcp.cloudfunctions_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.cloudfunctions_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.cloudfunctions_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v1#AuditLogConfig"
      }
    },
    "com.gcp.cloudfunctions_v1#ListOperationsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list filter.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The standard list page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation's parent resource.",
            "smithy.api#httpQuery": "name"
          }
        },
        "returnPartialSuccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "smithy.api#httpQuery": "returnPartialSuccess"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.cloudfunctions_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.cloudfunctions_v1#ListOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudfunctions_v1#ListOperationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudfunctions_v1#ListOperationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudfunctions_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/operations"
        },
        "smithy.api#documentation": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudfunctions_v1#GetOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#GetOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudfunctions_v1#GetOperationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudfunctions_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudfunctions_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.cloudfunctions_v1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.cloudfunctions_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudfunctions_v1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudfunctions_v1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudfunctions_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudfunctions_v1#PatchProjectsLocationsFunctionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-defined name of the function. Function names must be unique globally and match pattern `projects/*/locations/*/functions/*`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The list of fields in `CloudFunction` that have to be updated.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.cloudfunctions_v1#CloudFunction",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.cloudfunctions_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.cloudfunctions_v1#PatchProjectsLocationsFunctions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudfunctions_v1#PatchProjectsLocationsFunctionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudfunctions_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudfunctions_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates existing function."
      }
    },
    "com.gcp.cloudfunctions_v1#CallProjectsLocationsFunctionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the function to be called.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudfunctions_v1#CallFunctionRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#CallProjectsLocationsFunctions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudfunctions_v1#CallProjectsLocationsFunctionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudfunctions_v1#CallFunctionResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudfunctions_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:call"
        },
        "smithy.api#documentation": "Synchronously invokes a deployed Cloud Function. To be used for testing purposes as very limited traffic is allowed. For more information on the actual limits, refer to [Rate Limits](https://cloud.google.com/functions/quotas#rate_limits)."
      }
    },
    "com.gcp.cloudfunctions_v1#ListProjectsLocationsFunctionsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of functions to return per call.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value returned by the last `ListFunctionsResponse`; indicates that this is a continuation of a prior `ListFunctions` call, and that the system should return the next page of data.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project and location from which the function should be listed, specified in the format `projects/*/locations/*` If you want to list functions in all locations, use \"-\" in place of a location. When listing functions in all locations, if one or more location(s) are unreachable, the response will contain functions from all reachable locations along with the names of any unreachable locations.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#ListProjectsLocationsFunctions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudfunctions_v1#ListProjectsLocationsFunctionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudfunctions_v1#ListFunctionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudfunctions_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/functions"
        },
        "smithy.api#documentation": "Returns a list of functions that belong to the requested project.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudfunctions_v1#GenerateUploadUrlProjectsLocationsFunctionsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project and location in which the Google Cloud Storage signed URL should be generated, specified in the format `projects/*/locations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudfunctions_v1#GenerateUploadUrlRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#GenerateUploadUrlProjectsLocationsFunctions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudfunctions_v1#GenerateUploadUrlProjectsLocationsFunctionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudfunctions_v1#GenerateUploadUrlResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudfunctions_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/functions:generateUploadUrl"
        },
        "smithy.api#documentation": "Returns a signed URL for uploading a function source code. For more information about the signed URL usage see: https://cloud.google.com/storage/docs/access-control/signed-urls. Once the function source code upload is complete, the used signed URL should be provided in CreateFunction or UpdateFunction request as a reference to the function source code. When uploading source code to the generated signed URL, please follow these restrictions: * Source file type should be a zip file. * Source file size should not exceed 100MB limit. * No credentials should be attached - the signed URLs provide access to the target bucket using internal service identity; if credentials were attached, the identity from the credentials would be used, but that identity does not have permissions to upload files to the URL. When making a HTTP PUT request, these two headers need to be specified: * `content-type: application/zip` * `x-goog-content-length-range: 0,104857600` And this header SHOULD NOT be specified: * `Authorization: Bearer YOUR_TOKEN`"
      }
    },
    "com.gcp.cloudfunctions_v1#TestIamPermissionsProjectsLocationsFunctionsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudfunctions_v1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#TestIamPermissionsProjectsLocationsFunctions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudfunctions_v1#TestIamPermissionsProjectsLocationsFunctionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudfunctions_v1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudfunctions_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Tests the specified permissions against the IAM access control policy for a function. If the function does not exist, this will return an empty set of permissions, not a NOT_FOUND error."
      }
    },
    "com.gcp.cloudfunctions_v1#DeleteProjectsLocationsFunctionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the function which should be deleted.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#DeleteProjectsLocationsFunctions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudfunctions_v1#DeleteProjectsLocationsFunctionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudfunctions_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudfunctions_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a function with the given name from the specified project. If the given function is used by some trigger, the trigger will be updated to remove this function."
      }
    },
    "com.gcp.cloudfunctions_v1#SetIamPolicyProjectsLocationsFunctionsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudfunctions_v1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#SetIamPolicyProjectsLocationsFunctions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudfunctions_v1#SetIamPolicyProjectsLocationsFunctionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudfunctions_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.cloudfunctions_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the IAM access control policy on the specified function. Replaces any existing policy."
      }
    },
    "com.gcp.cloudfunctions_v1#GenerateDownloadUrlProjectsLocationsFunctionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of function for which source code Google Cloud Storage signed URL should be generated.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudfunctions_v1#GenerateDownloadUrlRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#GenerateDownloadUrlProjectsLocationsFunctions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudfunctions_v1#GenerateDownloadUrlProjectsLocationsFunctionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudfunctions_v1#GenerateDownloadUrlResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudfunctions_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:generateDownloadUrl"
        },
        "smithy.api#documentation": "Returns a signed URL for downloading deployed function source code. The URL is only valid for a limited period and should be used within minutes after generation. For more information about the signed URL usage see: https://cloud.google.com/storage/docs/access-control/signed-urls"
      }
    },
    "com.gcp.cloudfunctions_v1#CreateProjectsLocationsFunctionsRequest": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project and location in which the function should be created, specified in the format `projects/*/locations/*`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudfunctions_v1#CloudFunction",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#CreateProjectsLocationsFunctions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudfunctions_v1#CreateProjectsLocationsFunctionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudfunctions_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudfunctions_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+location}/functions"
        },
        "smithy.api#documentation": "Creates a new function. If a function with the given name already exists in the specified project, the long running operation will return `ALREADY_EXISTS` error."
      }
    },
    "com.gcp.cloudfunctions_v1#GetProjectsLocationsFunctionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the function which details should be obtained.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The optional version of the function whose details should be obtained. The version of a 1st Gen function is an integer that starts from 1 and gets incremented on redeployments. Each deployment creates a config version of the underlying function. GCF may keep historical configs for old versions. This field can be specified to fetch the historical configs. Leave it blank or set to 0 to get the latest version of the function.",
            "smithy.api#httpQuery": "versionId"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#GetProjectsLocationsFunctions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudfunctions_v1#GetProjectsLocationsFunctionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudfunctions_v1#CloudFunction"
      },
      "errors": [
        {
          "target": "com.gcp.cloudfunctions_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Returns a function with the given name from the requested project."
      }
    },
    "com.gcp.cloudfunctions_v1#GetIamPolicyProjectsLocationsFunctionsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v1#GetIamPolicyProjectsLocationsFunctions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudfunctions_v1#GetIamPolicyProjectsLocationsFunctionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudfunctions_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.cloudfunctions_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudfunctions_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the IAM access control policy for a function. Returns an empty policy if the function exists and does not have a policy set."
      }
    }
  }
}
