{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudscheduler",
    "version": "v1beta1",
    "title": "Cloud Scheduler API",
    "baseUrl": "https://cloudscheduler.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudscheduler_v1beta1#OperationMetadata": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "cancelRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#AppEngineRouting": {
      "type": "structure",
      "members": {
        "instance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App instance. By default, the job is sent to an instance which is available when the job is attempted. Requests can only be sent to a specific instance if [manual scaling is used in App Engine Standard](https://cloud.google.com/appengine/docs/python/an-overview-of-app-engine?#scaling_types_and_instance_classes). App Engine Flex does not support instances. For more information, see [App Engine Standard request routing](https://cloud.google.com/appengine/docs/standard/python/how-requests-are-routed) and [App Engine Flex request routing](https://cloud.google.com/appengine/docs/flexible/python/how-requests-are-routed)."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The host that the job is sent to. For more information about how App Engine requests are routed, see [here](https://cloud.google.com/appengine/docs/standard/python/how-requests-are-routed). The host is constructed as: * `host = [application_domain_name]` `| [service] + '.' + [application_domain_name]` `| [version] + '.' + [application_domain_name]` `| [version_dot_service]+ '.' + [application_domain_name]` `| [instance] + '.' + [application_domain_name]` `| [instance_dot_service] + '.' + [application_domain_name]` `| [instance_dot_version] + '.' + [application_domain_name]` `| [instance_dot_version_dot_service] + '.' + [application_domain_name]` * `application_domain_name` = The domain name of the app, for example .appspot.com, which is associated with the job's project ID. * `service =` service * `version =` version * `version_dot_service =` version `+ '.' +` service * `instance =` instance * `instance_dot_service =` instance `+ '.' +` service * `instance_dot_version =` instance `+ '.' +` version * `instance_dot_version_dot_service =` instance `+ '.' +` version `+ '.' +` service If service is empty, then the job will be sent to the service which is the default service when the job is attempted. If version is empty, then the job will be sent to the version which is the default version when the job is attempted. If instance is empty, then the job will be sent to an instance which is available when the job is attempted. If service, version, or instance is invalid, then the job will be sent to the default version of the default service when the job is attempted."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App service. By default, the job is sent to the service which is the default service when the job is attempted."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App version. By default, the job is sent to the version which is the default version when the job is attempted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "App Engine Routing. For more information about services, versions, and instances see [An Overview of App Engine](https://cloud.google.com/appengine/docs/python/an-overview-of-app-engine), [Microservices Architecture on Google App Engine](https://cloud.google.com/appengine/docs/python/microservices-on-app-engine), [App Engine Standard request routing](https://cloud.google.com/appengine/docs/standard/python/how-requests-are-routed), and [App Engine Flex request routing](https://cloud.google.com/appengine/docs/flexible/python/how-requests-are-routed)."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.cloudscheduler_v1beta1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudscheduler_v1beta1#Location"
      }
    },
    "com.gcp.cloudscheduler_v1beta1#RetryConfig": {
      "type": "structure",
      "members": {
        "minBackoffDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minimum amount of time to wait before retrying a job after it fails. The default value of this field is 5 seconds."
          }
        },
        "maxBackoffDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum amount of time to wait before retrying a job after it fails. The default value of this field is 1 hour."
          }
        },
        "maxRetryDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time limit for retrying a failed job, measured from the time when an execution was first attempted. If specified with retry_count, the job will be retried until both limits are reached. The default value for max_retry_duration is zero, which means retry duration is unlimited. However, if retry_count is also 0, a job attempt won't be retried if it fails."
          }
        },
        "maxDoublings": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time between retries will double `max_doublings` times. A job's retry interval starts at min_backoff_duration, then doubles `max_doublings` times, then increases linearly, and finally retries at intervals of max_backoff_duration up to retry_count times. For examples, see [Retry jobs](/scheduler/docs/configuring/retry-jobs#max-doublings). The default value of this field is 5."
          }
        },
        "retryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of attempts that the system will make to run a job using the exponential backoff procedure described by max_doublings. The default value of retry_count is zero. If retry_count is 0 (and if max_retry_duration is also 0), a job attempt won't be retried if it fails. Instead, Cloud Scheduler system will wait for the next scheduled execution time. Setting retry_count to 0 doesn't prevent failed jobs from running according to schedule after the failure. If retry_count is set to a non-zero number, Cloud Scheduler will retry the failed job, using exponential backoff, for retry_count times until the job succeeds or the number of retries is exhausted. Note that the next scheduled execution time might be skipped if the retries continue through that time. Values greater than 5 and negative values are not allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings that determine the retry behavior. For more information, see [Retry jobs](/scheduler/docs/configuring/retry-jobs). By default, if a job does not complete successfully (meaning that an acknowledgement is not received from the handler, then it will be retried with exponential backoff according to the settings in RetryConfig."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "operations": {
          "target": "com.gcp.cloudscheduler_v1beta1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.cloudscheduler_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudscheduler_v1beta1#Operation"
      }
    },
    "com.gcp.cloudscheduler_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudscheduler_v1beta1#PubsubMessage": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.gcp.cloudscheduler_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Attributes for this message. If this field is empty, the message must contain non-empty data. This can be used to filter messages on the subscription."
          }
        },
        "orderingKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If non-empty, identifies related messages for which publish order should be respected. If a `Subscription` has `enable_message_ordering` set to `true`, messages published with the same non-empty `ordering_key` value will be delivered to subscribers in the order in which they are received by the Pub/Sub system. All `PubsubMessage`s published in a given `PublishRequest` must specify the same `ordering_key` value. For more information, see [ordering messages](https://cloud.google.com/pubsub/docs/ordering)."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The message data field. If this field is empty, the message must contain at least one attribute."
          }
        },
        "messageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this message, assigned by the server when the message is published. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a `PubsubMessage` via a `Pull` call or a push delivery. It must not be populated by the publisher in a `Publish` call."
          }
        },
        "publishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the message was published, populated by the server when it receives the `Publish` call. It must not be populated by the publisher in a `Publish` call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message that is published by publishers and consumed by subscribers. The message must contain either a non-empty data field or at least one attribute. Note that client libraries represent this object differently depending on the language. See the corresponding [client library documentation](https://cloud.google.com/pubsub/docs/reference/libraries) for more information. See [quotas and limits] (https://cloud.google.com/pubsub/quotas) for more information about message limits."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudscheduler_v1beta1#OidcToken": {
      "type": "structure",
      "members": {
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Audience to be used when generating OIDC token. If not specified, the URI specified in target will be used."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Service account email](https://cloud.google.com/iam/docs/service-accounts) to be used for generating OIDC token. The service account must be within the same project as the job. The caller must have iam.serviceAccounts.actAs permission for the service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information needed for generating an [OpenID Connect token](https://developers.google.com/identity/protocols/OpenIDConnect). This type of authorization can be used for many scenarios, including calling Cloud Run, or endpoints where you intend to validate the token yourself."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#ResumeJobRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for ResumeJob."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#AppEngineHttpTarget": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Body. HTTP request body. A request body is allowed only if the HTTP method is POST or PUT. It will result in invalid argument error to set a body on a job with an incompatible HttpMethod."
          }
        },
        "appEngineRouting": {
          "target": "com.gcp.cloudscheduler_v1beta1#AppEngineRouting",
          "traits": {
            "smithy.api#documentation": "App Engine Routing setting for the job."
          }
        },
        "httpMethod": {
          "target": "com.gcp.cloudscheduler_v1beta1#AppEngineHttpTargetHttpMethodEnum",
          "traits": {
            "smithy.api#documentation": "The HTTP method to use for the request. PATCH and OPTIONS are not permitted."
          }
        },
        "headers": {
          "target": "com.gcp.cloudscheduler_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "HTTP request headers. This map contains the header field names and values. Headers can be set when the job is created. Cloud Scheduler sets some headers to default values: * `User-Agent`: By default, this header is `\"AppEngine-Google; (+http://code.google.com/appengine)\"`. This header can be modified, but Cloud Scheduler will append `\"AppEngine-Google; (+http://code.google.com/appengine)\"` to the modified `User-Agent`. * `X-CloudScheduler`: This header will be set to true. * `X-CloudScheduler-JobName`: This header will contain the job name. * `X-CloudScheduler-ScheduleTime`: For Cloud Scheduler jobs specified in the unix-cron format, this header will contain the job schedule as an offset of UTC parsed according to RFC3339. Remains constant across retries and can be used for [job request deduplication](https://docs.cloud.google.com/scheduler/docs/overview#job-deduplication). If the job has a body and the following headers are not set by the user, Cloud Scheduler sets default values: * `Content-Type`: This will be set to `\"application/octet-stream\"`. You can override this default by explicitly setting `Content-Type` to a particular media type when creating the job. For example, you can set `Content-Type` to `\"application/json\"`. The headers below are output only. They cannot be set or overridden: * `Content-Length`: This is computed by Cloud Scheduler. * `X-Google-*`: For Google internal use only. * `X-AppEngine-*`: For Google internal use only. In addition, some App Engine headers, which contain job-specific information, are also be sent to the job handler."
          }
        },
        "relativeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The relative URI. The relative URL must begin with \"/\" and must be a valid HTTP relative URL. It can contain a path, query string arguments, and `#` fragments. If the relative URL is empty, then the root path \"/\" will be used. No spaces are allowed, and the maximum length allowed is 2083 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "App Engine target. The job will be pushed to a job handler by means of an HTTP request via an http_method such as HTTP POST, HTTP GET, etc. The job is acknowledged by means of an HTTP response code in the range [200 - 299]. Error 503 is considered an App Engine system error instead of an application error. Requests returning error 503 will be retried regardless of retry configuration and not counted against retry counts. Any other response code, or a failure to receive a response before the deadline, constitutes a failed attempt."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#AppEngineHttpTargetHttpMethodEnum": {
      "type": "enum",
      "members": {
        "HTTP_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_UNSPECIFIED"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#HttpTarget": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP request body. A request body is allowed only if the HTTP method is POST, PUT, or PATCH. It is an error to set body on a job with an incompatible HttpMethod."
          }
        },
        "httpMethod": {
          "target": "com.gcp.cloudscheduler_v1beta1#HttpTargetHttpMethodEnum",
          "traits": {
            "smithy.api#documentation": "Which HTTP method to use for the request."
          }
        },
        "headers": {
          "target": "com.gcp.cloudscheduler_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "HTTP request headers. This map contains the header field names and values. The user can specify HTTP request headers to send with the job's HTTP request. Repeated headers are not supported, but a header value can contain commas. The following headers represent a subset of the headers that accompany the job's HTTP request. Some HTTP request headers are ignored or replaced. A partial list of headers that are ignored or replaced is below: * Host: This will be computed by Cloud Scheduler and derived from uri. * `Content-Length`: This will be computed by Cloud Scheduler. * `User-Agent`: This will be set to `\"Google-Cloud-Scheduler\"`. * `X-Google-*`: Used internally by Google. If present in an external user request, it is replaced by the internal header. * `X-AppEngine-*`: Used internally by Google. If present in an external user request, it is replaced by the internal header. * `X-CloudScheduler`: This header will be set to true. * `X-CloudScheduler-JobName`: This header will contain the job name. * `X-CloudScheduler-ScheduleTime`: For Cloud Scheduler jobs specified in the unix-cron format, this header will contain the job schedule as an offset of UTC parsed according to RFC3339. Remains constant across retries and can be used for [job request deduplication](https://docs.cloud.google.com/scheduler/docs/overview#job-deduplication). If the job has a body and the following headers are not set by the user, Cloud Scheduler sets default values: * `Content-Type`: This will be set to `\"application/octet-stream\"`. You can override this default by explicitly setting `Content-Type` to a particular media type when creating the job. For example, you can set `Content-Type` to `\"application/json\"`. The total size of headers must be less than 80KB."
          }
        },
        "oauthToken": {
          "target": "com.gcp.cloudscheduler_v1beta1#OAuthToken",
          "traits": {
            "smithy.api#documentation": "If specified, an [OAuth token](https://developers.google.com/identity/protocols/OAuth2) will be generated and attached as an `Authorization` header in the HTTP request. This type of authorization should generally only be used when calling Google APIs hosted on *.googleapis.com."
          }
        },
        "oidcToken": {
          "target": "com.gcp.cloudscheduler_v1beta1#OidcToken",
          "traits": {
            "smithy.api#documentation": "If specified, an [OIDC](https://developers.google.com/identity/protocols/OpenIDConnect) token will be generated and attached as an `Authorization` header in the HTTP request. This type of authorization can be used for many scenarios, including calling Cloud Run, or endpoints where you intend to validate the token yourself."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full URI path that the request will be sent to. This string must begin with either \"http://\" or \"https://\". Some examples of valid values for uri are: `http://acme.com` and `https://acme.com/sales:8080`. Cloud Scheduler will encode some characters for safety and compatibility. The maximum allowed URL length is 2083 characters after encoding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Http target. The job will be pushed to the job handler by means of an HTTP request via an http_method such as HTTP POST, HTTP GET, etc. The job is acknowledged by means of an HTTP response code in the range [200 - 299]. A failure to receive a response constitutes a failed execution. For a redirected request, the response returned by the redirected request is considered."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#HttpTargetHttpMethodEnum": {
      "type": "enum",
      "members": {
        "HTTP_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_UNSPECIFIED"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "labels": {
          "target": "com.gcp.cloudscheduler_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.cloudscheduler_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudscheduler_v1beta1#PubsubTarget": {
      "type": "structure",
      "members": {
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Cloud Pub/Sub topic to which messages will be published when a job is delivered. The topic name must be in the same format as required by Pub/Sub's [PublishRequest.name](https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#publishrequest), for example `projects/PROJECT_ID/topics/TOPIC_ID`. The topic must be in the same project as the Cloud Scheduler job."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message payload for PubsubMessage. Pubsub message must contain either non-empty data, or at least one attribute."
          }
        },
        "attributes": {
          "target": "com.gcp.cloudscheduler_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Attributes for PubsubMessage. Pubsub message must contain either non-empty data, or at least one attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pub/Sub target. The job will be delivered by publishing a message to the given Pub/Sub topic."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.cloudscheduler_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudscheduler_v1beta1#DocumentMap"
      }
    },
    "com.gcp.cloudscheduler_v1beta1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#Job": {
      "type": "structure",
      "members": {
        "attemptDeadline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deadline for job attempts. If the request handler does not respond by this deadline then the request is cancelled and the attempt is marked as a `DEADLINE_EXCEEDED` failure. The failed attempt can be viewed in execution logs. Cloud Scheduler will retry the job according to the RetryConfig. The default and the allowed values depend on the type of target: * For HTTP targets, the default is 3 minutes. The deadline must be in the interval [15 seconds, 30 minutes]. * For App Engine HTTP targets, 0 indicates that the request has the default deadline. The default deadline depends on the scaling type of the service: 10 minutes for standard apps with automatic scaling, 24 hours for standard apps with manual and basic scaling, and 60 minutes for flex apps. If the request deadline is set, it must be in the interval [15 seconds, 24 hours 15 seconds]. * For Pub/Sub targets, this field is ignored."
          }
        },
        "lastAttemptTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the last job attempt started."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether or not this Job satisfies the requirements of physical zone separation"
          }
        },
        "userUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation time of the job."
          }
        },
        "pubsubTarget": {
          "target": "com.gcp.cloudscheduler_v1beta1#PubsubTarget",
          "traits": {
            "smithy.api#documentation": "Pub/Sub target."
          }
        },
        "legacyAppEngineCron": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Immutable. This field is used to manage the legacy App Engine Cron jobs using the Cloud Scheduler API. If the field is set to true, the job will be considered a legacy job. Note that App Engine Cron jobs have fewer features than Cloud Scheduler jobs, e.g., are only limited to App Engine targets."
          }
        },
        "schedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required, except when used with UpdateJob. Describes the schedule on which the job will be executed. The schedule can be either of the following types: * [Crontab](https://en.wikipedia.org/wiki/Cron#Overview) * English-like [schedule](/scheduler/docs/configuring/cron-job-schedules) As a general rule, execution `n + 1` of a job will not begin until execution `n` has finished. Cloud Scheduler will never allow two simultaneously outstanding executions. For example, this implies that if the `n+1`th execution is scheduled to run at 16:00 but the `n`th execution takes until 16:15, the `n+1`th execution will not start until `16:15`. A scheduled start time will be delayed if the previous execution has not ended when its scheduled time occurs. If retry_count > 0 and a job attempt fails, the job will be tried a total of retry_count times, with exponential backoff, until the next scheduled start time. If retry_count is 0, a job attempt will not be retried if it fails. Instead the Cloud Scheduler system will wait for the next scheduled execution time. Setting retry_count to 0 does not prevent failed jobs from running according to schedule after the failure."
          }
        },
        "state": {
          "target": "com.gcp.cloudscheduler_v1beta1#JobStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the job."
          }
        },
        "status": {
          "target": "com.gcp.cloudscheduler_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. The response from the target for the last attempted execution."
          }
        },
        "httpTarget": {
          "target": "com.gcp.cloudscheduler_v1beta1#HttpTarget",
          "traits": {
            "smithy.api#documentation": "HTTP target."
          }
        },
        "retryConfig": {
          "target": "com.gcp.cloudscheduler_v1beta1#RetryConfig",
          "traits": {
            "smithy.api#documentation": "Settings that determine the retry behavior."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the time zone to be used in interpreting schedule. The value of this field must be a time zone name from the [tz database](http://en.wikipedia.org/wiki/Tz_database). Note that some time zones include a provision for daylight savings time. The rules for daylight saving time are determined by the chosen tz. For UTC use the string \"utc\". If a time zone is not specified, the default will be in UTC (also known as GMT)."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optionally caller-specified in CreateJob or UpdateJob. A human-readable description for the job. This string must not contain more than 500 characters."
          }
        },
        "appEngineHttpTarget": {
          "target": "com.gcp.cloudscheduler_v1beta1#AppEngineHttpTarget",
          "traits": {
            "smithy.api#documentation": "App Engine HTTP target."
          }
        },
        "scheduleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The next time the job is scheduled. Note that this may be a retry of a previously failed attempt or the next execution time according to the schedule."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optionally caller-specified in CreateJob, after which it becomes output only. The job name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/jobs/JOB_ID`. * `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]), hyphens (-), colons (:), or periods (.). For more information, see [Identifying projects](/resource-manager/docs/creating-managing-projects#identifying_projects) * `LOCATION_ID` is the canonical ID for the job's location. The list of available locations can be obtained by calling [locations.list](/scheduler/docs/reference/rest/v1beta1/projects.locations/list). For more information, see [Cloud Scheduler locations](/scheduler/docs/locations). * `JOB_ID` can contain only letters ([A-Za-z]), numbers ([0-9]), hyphens (-), or underscores (_). The maximum length is 500 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a job. The maximum allowed size for a job is 1MB."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#JobStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "UPDATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED"
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#ListJobsResponse": {
      "type": "structure",
      "members": {
        "jobs": {
          "target": "com.gcp.cloudscheduler_v1beta1#JobList",
          "traits": {
            "smithy.api#documentation": "The list of jobs."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. Pass this value in the page_token field in the subsequent call to ListJobs to retrieve the next page of results. If this is empty it indicates that there are no more results through which to paginate. The page token is valid for only 2 hours."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing jobs using ListJobs."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#JobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudscheduler_v1beta1#Job"
      }
    },
    "com.gcp.cloudscheduler_v1beta1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.cloudscheduler_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.cloudscheduler_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.cloudscheduler_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#OAuthToken": {
      "type": "structure",
      "members": {
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Service account email](https://cloud.google.com/iam/docs/service-accounts) to be used for generating OAuth token. The service account must be within the same project as the job. The caller must have iam.serviceAccounts.actAs permission for the service account."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth scope to be used for generating OAuth access token. If not specified, \"https://www.googleapis.com/auth/cloud-platform\" will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information needed for generating an [OAuth token](https://developers.google.com/identity/protocols/OAuth2). This type of authorization should generally only be used when calling Google APIs hosted on *.googleapis.com."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#PauseJobRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for PauseJob."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.cloudscheduler_v1beta1#RunJobRequest": {
      "type": "structure",
      "members": {
        "legacyAppEngineCron": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field is used to manage the legacy App Engine Cron jobs using the Cloud Scheduler API. If the field is set to true, the job in the __cron queue with the corresponding name will be forced to run instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for forcing a job to run now using RunJob."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.cloudscheduler_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.cloudscheduler_v1beta1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.cloudscheduler_v1beta1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudscheduler_v1beta1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudscheduler_v1beta1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudscheduler_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudscheduler_v1beta1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudscheduler_v1beta1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.cloudscheduler_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#DeleteProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be deleted.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.cloudscheduler_v1beta1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.cloudscheduler_v1beta1#DeleteProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudscheduler_v1beta1#DeleteProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudscheduler_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudscheduler_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#ListProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "returnPartialSuccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "smithy.api#httpQuery": "returnPartialSuccess"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list filter.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The standard list page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation's parent resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#ListProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudscheduler_v1beta1#ListProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudscheduler_v1beta1#ListOperationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudscheduler_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}/operations"
        },
        "smithy.api#documentation": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#GetProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#GetProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudscheduler_v1beta1#GetProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudscheduler_v1beta1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudscheduler_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#CancelProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be cancelled.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudscheduler_v1beta1#CancelOperationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#CancelProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudscheduler_v1beta1#CancelProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudscheduler_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudscheduler_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:cancel"
        },
        "smithy.api#documentation": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#ListProjectsLocationsJobsRequest": {
      "type": "structure",
      "members": {
        "legacyAppEngineCron": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field is used to manage the legacy App Engine Cron jobs using the Cloud Scheduler API. If the field is set to true, the jobs in the __cron queue will be listed instead.",
            "smithy.api#httpQuery": "legacyAppEngineCron"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`filter` can be used to specify a subset of jobs. If `filter` equals `target_config=\"HttpConfig\"`, then the http target jobs are retrieved. If `filter` equals `target_config=\"PubSubConfig\"`, then the Pub/Sub target jobs are retrieved. If `filter` equals `labels.foo=value1 labels.foo=value2` then only jobs which are labeled with foo=value1 AND foo=value2 will be returned.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location name. For example: `projects/PROJECT_ID/locations/LOCATION_ID`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Requested page size. The maximum page size is 500. If unspecified, the page size will be the maximum. Fewer jobs than requested might be returned, even if more jobs exist; use next_page_token to determine if more jobs exist.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server will return. To request the first page results, page_token must be empty. To request the next page of results, page_token must be the value of next_page_token returned from the previous call to ListJobs. It is an error to switch the value of filter or order_by while iterating through pages.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#ListProjectsLocationsJobs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudscheduler_v1beta1#ListProjectsLocationsJobsRequest"
      },
      "output": {
        "target": "com.gcp.cloudscheduler_v1beta1#ListJobsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudscheduler_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/jobs"
        },
        "smithy.api#documentation": "Lists jobs.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#GetProjectsLocationsJobsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The job name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/jobs/JOB_ID`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#GetProjectsLocationsJobs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudscheduler_v1beta1#GetProjectsLocationsJobsRequest"
      },
      "output": {
        "target": "com.gcp.cloudscheduler_v1beta1#Job"
      },
      "errors": [
        {
          "target": "com.gcp.cloudscheduler_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets a job."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#PatchProjectsLocationsJobsRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A mask used to specify which fields of the job are being updated.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optionally caller-specified in CreateJob, after which it becomes output only. The job name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/jobs/JOB_ID`. * `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]), hyphens (-), colons (:), or periods (.). For more information, see [Identifying projects](/resource-manager/docs/creating-managing-projects#identifying_projects) * `LOCATION_ID` is the canonical ID for the job's location. The list of available locations can be obtained by calling [locations.list](/scheduler/docs/reference/rest/v1beta1/projects.locations/list). For more information, see [Cloud Scheduler locations](/scheduler/docs/locations). * `JOB_ID` can contain only letters ([A-Za-z]), numbers ([0-9]), hyphens (-), or underscores (_). The maximum length is 500 characters.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudscheduler_v1beta1#Job",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#PatchProjectsLocationsJobs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudscheduler_v1beta1#PatchProjectsLocationsJobsRequest"
      },
      "output": {
        "target": "com.gcp.cloudscheduler_v1beta1#Job"
      },
      "errors": [
        {
          "target": "com.gcp.cloudscheduler_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates a job. If successful, the updated Job is returned. If the job does not exist, `NOT_FOUND` is returned. If UpdateJob does not successfully return, it is possible for the job to be in an Job.State.UPDATE_FAILED state. A job in this state may not be executed. If this happens, retry the UpdateJob request until a successful response is received."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#DeleteProjectsLocationsJobsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The job name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/jobs/JOB_ID`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "legacyAppEngineCron": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field is used to manage the legacy App Engine Cron jobs using the Cloud Scheduler API. If the field is set to true, the job in the __cron queue with the corresponding name will be deleted instead.",
            "smithy.api#httpQuery": "legacyAppEngineCron"
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#DeleteProjectsLocationsJobs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudscheduler_v1beta1#DeleteProjectsLocationsJobsRequest"
      },
      "output": {
        "target": "com.gcp.cloudscheduler_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudscheduler_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes a job."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#CreateProjectsLocationsJobsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location name. For example: `projects/PROJECT_ID/locations/LOCATION_ID`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudscheduler_v1beta1#Job",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#CreateProjectsLocationsJobs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudscheduler_v1beta1#CreateProjectsLocationsJobsRequest"
      },
      "output": {
        "target": "com.gcp.cloudscheduler_v1beta1#Job"
      },
      "errors": [
        {
          "target": "com.gcp.cloudscheduler_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+parent}/jobs"
        },
        "smithy.api#documentation": "Creates a job."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#ResumeProjectsLocationsJobsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The job name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/jobs/JOB_ID`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudscheduler_v1beta1#ResumeJobRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#ResumeProjectsLocationsJobs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudscheduler_v1beta1#ResumeProjectsLocationsJobsRequest"
      },
      "output": {
        "target": "com.gcp.cloudscheduler_v1beta1#Job"
      },
      "errors": [
        {
          "target": "com.gcp.cloudscheduler_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:resume"
        },
        "smithy.api#documentation": "Resume a job. This method reenables a job after it has been Job.State.PAUSED. The state of a job is stored in Job.state; after calling this method it will be set to Job.State.ENABLED. A job must be in Job.State.PAUSED to be resumed."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#RunProjectsLocationsJobsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The job name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/jobs/JOB_ID`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudscheduler_v1beta1#RunJobRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#RunProjectsLocationsJobs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudscheduler_v1beta1#RunProjectsLocationsJobsRequest"
      },
      "output": {
        "target": "com.gcp.cloudscheduler_v1beta1#Job"
      },
      "errors": [
        {
          "target": "com.gcp.cloudscheduler_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:run"
        },
        "smithy.api#documentation": "Forces a job to run now. When this method is called, Cloud Scheduler will dispatch the job, even if the job is already running."
      }
    },
    "com.gcp.cloudscheduler_v1beta1#PauseProjectsLocationsJobsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The job name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/jobs/JOB_ID`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudscheduler_v1beta1#PauseJobRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudscheduler_v1beta1#PauseProjectsLocationsJobs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudscheduler_v1beta1#PauseProjectsLocationsJobsRequest"
      },
      "output": {
        "target": "com.gcp.cloudscheduler_v1beta1#Job"
      },
      "errors": [
        {
          "target": "com.gcp.cloudscheduler_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudscheduler_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:pause"
        },
        "smithy.api#documentation": "Pauses a job. If a job is paused then the system will stop executing the job until it is re-enabled via ResumeJob. The state of the job is stored in state; if paused it will be set to Job.State.PAUSED. A job must be in Job.State.ENABLED to be paused."
      }
    }
  }
}
