{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudresourcemanager",
    "version": "v2",
    "title": "Cloud Resource Manager API",
    "baseUrl": "https://cloudresourcemanager.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudresourcemanager_v2#ProjectCreationStatus": {
      "type": "structure",
      "members": {
        "ready": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the project creation process is complete."
          }
        },
        "gettable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the project can be retrieved using GetProject. No other operations on the project are guaranteed to work until the project creation is complete."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the project creation workflow."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by CreateProject. It provides insight for when significant phases of Project creation have completed."
      }
    },
    "com.gcp.cloudresourcemanager_v2#UndeleteOrganizationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by UndeleteOrganization."
      }
    },
    "com.gcp.cloudresourcemanager_v2#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.cloudresourcemanager_v2#GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.cloudresourcemanager_v2#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudresourcemanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudresourcemanager_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudresourcemanager_v2#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.cloudresourcemanager_v2#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.cloudresourcemanager_v2#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v2#AuditLogConfig"
      }
    },
    "com.gcp.cloudresourcemanager_v2#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.cloudresourcemanager_v2#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.cloudresourcemanager_v2#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "condition": {
          "target": "com.gcp.cloudresourcemanager_v2#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "members": {
          "target": "com.gcp.cloudresourcemanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.cloudresourcemanager_v2#FolderOperationError": {
      "type": "structure",
      "members": {
        "errorMessageId": {
          "target": "com.gcp.cloudresourcemanager_v2#FolderOperationErrorErrorMessageIdEnum",
          "traits": {
            "smithy.api#documentation": "The type of operation error experienced."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A classification of the Folder Operation error."
      }
    },
    "com.gcp.cloudresourcemanager_v2#FolderOperationErrorErrorMessageIdEnum": {
      "type": "enum",
      "members": {
        "ERROR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_TYPE_UNSPECIFIED"
          }
        },
        "ACTIVE_FOLDER_HEIGHT_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_FOLDER_HEIGHT_VIOLATION"
          }
        },
        "MAX_CHILD_FOLDERS_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX_CHILD_FOLDERS_VIOLATION"
          }
        },
        "FOLDER_NAME_UNIQUENESS_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_NAME_UNIQUENESS_VIOLATION"
          }
        },
        "RESOURCE_DELETED_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_DELETED_VIOLATION"
          }
        },
        "PARENT_DELETED_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARENT_DELETED_VIOLATION"
          }
        },
        "CYCLE_INTRODUCED_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CYCLE_INTRODUCED_VIOLATION"
          }
        },
        "FOLDER_BEING_MOVED_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_BEING_MOVED_VIOLATION"
          }
        },
        "FOLDER_TO_DELETE_NON_EMPTY_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_TO_DELETE_NON_EMPTY_VIOLATION"
          }
        },
        "DELETED_FOLDER_HEIGHT_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED_FOLDER_HEIGHT_VIOLATION"
          }
        },
        "FOLDER_TO_DELETE_CONFIGURED_CAPABILITY_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_TO_DELETE_CONFIGURED_CAPABILITY_VIOLATION"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#MoveFolderRequest": {
      "type": "structure",
      "members": {
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Folder or Organization to reparent the folder under. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The MoveFolder request message."
      }
    },
    "com.gcp.cloudresourcemanager_v2#UndeleteFolderRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The UndeleteFolder request message."
      }
    },
    "com.gcp.cloudresourcemanager_v2#CreateTagKeyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for creating a TagKey."
      }
    },
    "com.gcp.cloudresourcemanager_v2#SearchFoldersRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A pagination token returned from a previous call to `SearchFolders` that indicates from where search should continue."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of folders to return in the response. The server can return fewer folders than requested. If unspecified, server picks an appropriate default."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search criteria used to select the Folders to return. If no search criteria is specified then all accessible folders will be returned. Query expressions can be used to restrict results based upon displayName, lifecycleState and parent, where the operators `=`, `NOT`, `AND` and `OR` can be used along with the suffix wildcard symbol `*`. The displayName field in a query expression should use escaped quotes for values that include whitespace to prevent unexpected behavior. Some example queries are: * Query `displayName=Test*` returns Folder resources whose display name starts with \"Test\". * Query `lifecycleState=ACTIVE` returns Folder resources with `lifecycleState` set to `ACTIVE`. * Query `parent=folders/123` returns Folder resources that have `folders/123` as a parent resource. * Query `parent=folders/123 AND lifecycleState=ACTIVE` returns active Folder resources that have `folders/123` as a parent resource. * Query `displayName=\\\\\"Test String\\\\\"` returns Folder resources with display names that include both \"Test\" and \"String\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for searching folders."
      }
    },
    "com.gcp.cloudresourcemanager_v2#Folder": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the Folder. Its format is `folders/{folder_id}`, for example: \"folders/1234\"."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Folder's parent's resource name. Updates to the folder's parent must be performed via MoveFolder."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The folder's display name. A folder's display name must be unique amongst its siblings, e.g. no two folders with the same parent can share the same display name. The display name must start and end with a letter or digit, may contain letters, digits, spaces, hyphens and underscores and can be no longer than 30 characters. This is captured by the regular expression: `[\\p{L}\\p{N}]([\\p{L}\\p{N}_- ]{0,28}[\\p{L}\\p{N}])?`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the Folder was created. Assigned by the server."
          }
        },
        "configuredCapabilities": {
          "target": "com.gcp.cloudresourcemanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Optional capabilities configured for this folder (via UpdateCapability API). Example: `folders/123/capabilities/app-management`."
          }
        },
        "tags": {
          "target": "com.gcp.cloudresourcemanager_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Tag keys/values directly bound to this folder. Each item in the map must be expressed as \" : \". For example: \"123/environment\" : \"production\", \"123/costCenter\" : \"marketing\" Note: Currently this field is in Preview."
          }
        },
        "managementProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Management Project associated with this folder (if app-management capability is enabled). Example: `projects/google-mp-123` OUTPUT ONLY."
          }
        },
        "lifecycleState": {
          "target": "com.gcp.cloudresourcemanager_v2#FolderLifecycleStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The lifecycle state of the folder. Updates to the lifecycle_state must be performed via DeleteFolder and UndeleteFolder."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Folder in an Organization's resource hierarchy, used to organize that Organization's resources."
      }
    },
    "com.gcp.cloudresourcemanager_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudresourcemanager_v2#FolderLifecycleStateEnum": {
      "type": "enum",
      "members": {
        "LIFECYCLE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFECYCLE_STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETE_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_REQUESTED"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#DeleteFolderMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the `Operation` returned by `DeleteFolder`."
      }
    },
    "com.gcp.cloudresourcemanager_v2#DeleteProjectMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by `DeleteProject`."
      }
    },
    "com.gcp.cloudresourcemanager_v2#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.cloudresourcemanager_v2#Expr": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.cloudresourcemanager_v2#UpdateFolderMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by UpdateFolder."
      }
    },
    "com.gcp.cloudresourcemanager_v2#ListFoldersResponse": {
      "type": "structure",
      "members": {
        "folders": {
          "target": "com.gcp.cloudresourcemanager_v2#FolderList",
          "traits": {
            "smithy.api#documentation": "A possibly paginated list of Folders that are direct descendants of the specified parent resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pagination token returned from a previous call to `ListFolders` that indicates from where listing should continue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListFolders response message."
      }
    },
    "com.gcp.cloudresourcemanager_v2#FolderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v2#Folder"
      }
    },
    "com.gcp.cloudresourcemanager_v2#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.cloudresourcemanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.cloudresourcemanager_v2#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.cloudresourcemanager_v2#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#MoveFolderMetadata": {
      "type": "structure",
      "members": {
        "sourceParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder's parent."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the folder."
          }
        },
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder or organization to move the folder to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to the folder move process."
      }
    },
    "com.gcp.cloudresourcemanager_v2#UpdateTagKeyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for updating a TagKey."
      }
    },
    "com.gcp.cloudresourcemanager_v2#UndeleteFolderMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the `Operation` returned by `UndeleteFolder`."
      }
    },
    "com.gcp.cloudresourcemanager_v2#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.cloudresourcemanager_v2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.cloudresourcemanager_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudresourcemanager_v2#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v2#DocumentMap"
      }
    },
    "com.gcp.cloudresourcemanager_v2#CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the folder."
          }
        },
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
          }
        },
        "operationType": {
          "target": "com.gcp.cloudresourcemanager_v2#CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperationOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this operation."
          }
        },
        "sourceParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing a long running folder operation"
      }
    },
    "com.gcp.cloudresourcemanager_v2#CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperationOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#SearchFoldersResponse": {
      "type": "structure",
      "members": {
        "folders": {
          "target": "com.gcp.cloudresourcemanager_v2#FolderList",
          "traits": {
            "smithy.api#documentation": "A possibly paginated folder search results. the specified parent resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pagination token returned from a previous call to `SearchFolders` that indicates from where searching should continue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for searching folders."
      }
    },
    "com.gcp.cloudresourcemanager_v2#DeleteTagBindingMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for deleting a TagBinding."
      }
    },
    "com.gcp.cloudresourcemanager_v2#UpdateProjectMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by UpdateProject."
      }
    },
    "com.gcp.cloudresourcemanager_v2#UndeleteProjectMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by `UndeleteProject`."
      }
    },
    "com.gcp.cloudresourcemanager_v2#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudresourcemanager_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudresourcemanager_v2#CreateTagBindingMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for creating a TagValue."
      }
    },
    "com.gcp.cloudresourcemanager_v2#MoveProjectMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by MoveProject."
      }
    },
    "com.gcp.cloudresourcemanager_v2#FolderOperation": {
      "type": "structure",
      "members": {
        "operationType": {
          "target": "com.gcp.cloudresourcemanager_v2#FolderOperationOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this operation."
          }
        },
        "sourceParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the folder."
          }
        },
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing a long running folder operation"
      }
    },
    "com.gcp.cloudresourcemanager_v2#FolderOperationOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#CreateProjectMetadata": {
      "type": "structure",
      "members": {
        "ready": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the project creation process is complete."
          }
        },
        "gettable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the project can be retrieved using `GetProject`. No other operations on the project are guaranteed to work until the project creation is complete."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the project creation workflow."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by CreateProject. It provides insight for when significant phases of Project creation have completed."
      }
    },
    "com.gcp.cloudresourcemanager_v2#CreateTagValueMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for creating a TagValue."
      }
    },
    "com.gcp.cloudresourcemanager_v2#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.cloudresourcemanager_v2#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.cloudresourcemanager_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.cloudresourcemanager_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.cloudresourcemanager_v2#DeleteOrganizationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the operation returned by DeleteOrganization."
      }
    },
    "com.gcp.cloudresourcemanager_v2#UpdateTagValueMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for updating a TagValue."
      }
    },
    "com.gcp.cloudresourcemanager_v2#CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperation": {
      "type": "structure",
      "members": {
        "operationType": {
          "target": "com.gcp.cloudresourcemanager_v2#CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperationOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this operation."
          }
        },
        "sourceParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the folder."
          }
        },
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing a long running folder operation"
      }
    },
    "com.gcp.cloudresourcemanager_v2#CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperationOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#DeleteTagKeyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for deleting a TagKey."
      }
    },
    "com.gcp.cloudresourcemanager_v2#CreateFolderMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the folder."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder or organization we are creating the folder under."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to the Folder creation process."
      }
    },
    "com.gcp.cloudresourcemanager_v2#DeleteTagValueMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for deleting a TagValue."
      }
    },
    "com.gcp.cloudresourcemanager_v2#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "bindings": {
          "target": "com.gcp.cloudresourcemanager_v2#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.cloudresourcemanager_v2#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.cloudresourcemanager_v2#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v2#Binding"
      }
    },
    "com.gcp.cloudresourcemanager_v2#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v2#AuditConfig"
      }
    },
    "com.gcp.cloudresourcemanager_v2#ListFoldersRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A pagination token returned from a previous call to `ListFolders` that indicates where this listing should continue from.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of Folders to return in the response. The server can return fewer folders than requested. If unspecified, server picks an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "showDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Controls whether Folders in the DELETE_REQUESTED state should be returned. Defaults to false.",
            "smithy.api#httpQuery": "showDeleted"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Organization or Folder whose Folders are being listed. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`. Access to this method is controlled by checking the `resourcemanager.folders.list` permission on the `parent`.",
            "smithy.api#httpQuery": "parent"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.cloudresourcemanager_v2#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.cloudresourcemanager_v2#ListFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v2#ListFoldersRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v2#ListFoldersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v2#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2/folders"
        },
        "smithy.api#documentation": "Lists the Folders that are direct descendants of supplied parent resource. List provides a strongly consistent view of the Folders underneath the specified parent resource. List returns Folders sorted based upon the (ascending) lexical ordering of their display_name. The caller must have `resourcemanager.folders.list` permission on the identified parent.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#PatchFoldersRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Fields to be updated. Only the `display_name` can be updated.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the Folder. Its format is `folders/{folder_id}`, for example: \"folders/1234\".",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v2#Folder",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.cloudresourcemanager_v2#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.cloudresourcemanager_v2#PatchFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v2#PatchFoldersRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v2#Folder"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v2#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v2/{+name}"
        },
        "smithy.api#documentation": "Updates a Folder, changing its display_name. Changes to the folder display_name will be rejected if they violate either the display_name formatting rules or naming constraints described in the CreateFolder documentation. The Folder's display name must start and end with a letter or digit, may contain letters, digits, spaces, hyphens and underscores and can be between 3 and 30 characters. This is captured by the regular expression: `\\p{L}\\p{N}{1,28}[\\p{L}\\p{N}]`. The caller must have `resourcemanager.folders.update` permission on the identified folder. If the update fails due to the unique name constraint then a PreconditionFailure explaining this violation will be returned in the Status.details field."
      }
    },
    "com.gcp.cloudresourcemanager_v2#UndeleteFoldersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Folder to undelete. Must be of the form `folders/{folder_id}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v2#UndeleteFolderRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#UndeleteFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v2#UndeleteFoldersRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v2#Folder"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v2#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/{+name}:undelete"
        },
        "smithy.api#documentation": "Cancels the deletion request for a Folder. This method may only be called on a Folder in the DELETE_REQUESTED state. In order to succeed, the Folder's parent must be in the ACTIVE state. In addition, reintroducing the folder into the tree must not violate folder naming, height and fanout constraints described in the CreateFolder documentation. The caller must have `resourcemanager.folders.undelete` permission on the identified folder."
      }
    },
    "com.gcp.cloudresourcemanager_v2#MoveFoldersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Folder to move. Must be of the form folders/{folder_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v2#MoveFolderRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#MoveFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v2#MoveFoldersRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v2#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v2#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/{+name}:move"
        },
        "smithy.api#documentation": "Moves a Folder under a new resource parent. Returns an Operation which can be used to track the progress of the folder move workflow. Upon success the Operation.response field will be populated with the moved Folder. Upon failure, a FolderOperationError categorizing the failure cause will be returned - if the failure occurs synchronously then the FolderOperationError will be returned via the Status.details field and if it occurs asynchronously then the FolderOperation will be returned via the Operation.error field. In addition, the Operation.metadata field will be populated with a FolderOperation message as an aid to stateless clients. Folder moves will be rejected if they violate either the naming, height or fanout constraints described in the CreateFolder documentation. The caller must have `resourcemanager.folders.move` permission on the folder's current and proposed new parent."
      }
    },
    "com.gcp.cloudresourcemanager_v2#SetIamPolicyFoldersRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v2#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#SetIamPolicyFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v2#SetIamPolicyFoldersRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v2#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v2#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on a Folder, replacing any existing policy. The `resource` field should be the Folder's resource name, e.g. \"folders/1234\". The caller must have `resourcemanager.folders.setIamPolicy` permission on the identified folder."
      }
    },
    "com.gcp.cloudresourcemanager_v2#TestIamPermissionsFoldersRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v2#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#TestIamPermissionsFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v2#TestIamPermissionsFoldersRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v2#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v2#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified Folder. The `resource` field should be the Folder's resource name, e.g. \"folders/1234\". There are no permissions required for making this API call."
      }
    },
    "com.gcp.cloudresourcemanager_v2#GetIamPolicyFoldersRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v2#GetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#GetIamPolicyFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v2#GetIamPolicyFoldersRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v2#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v2#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a Folder. The returned policy may be empty if no such policy or resource exists. The `resource` field should be the Folder's resource name, e.g. \"folders/1234\". The caller must have `resourcemanager.folders.getIamPolicy` permission on the identified folder."
      }
    },
    "com.gcp.cloudresourcemanager_v2#GetFoldersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Folder to retrieve. Must be of the form `folders/{folder_id}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#GetFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v2#GetFoldersRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v2#Folder"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v2#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2/{+name}"
        },
        "smithy.api#documentation": "Retrieves a Folder identified by the supplied resource name. Valid Folder resource names have the format `folders/{folder_id}` (for example, `folders/1234`). The caller must have `resourcemanager.folders.get` permission on the identified folder."
      }
    },
    "com.gcp.cloudresourcemanager_v2#DeleteFoldersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. the resource name of the Folder to be deleted. Must be of the form `folders/{folder_id}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#DeleteFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v2#DeleteFoldersRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v2#Folder"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v2#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v2/{+name}"
        },
        "smithy.api#documentation": "Requests deletion of a Folder. The Folder is moved into the DELETE_REQUESTED state immediately, and is deleted approximately 30 days later. This method may only be called on an empty Folder in the ACTIVE state, where a Folder is empty if it doesn't contain any Folders or Projects in the ACTIVE state. The caller must have `resourcemanager.folders.delete` permission on the identified folder."
      }
    },
    "com.gcp.cloudresourcemanager_v2#SearchFoldersRequest_": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.cloudresourcemanager_v2#SearchFoldersRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#SearchFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v2#SearchFoldersRequest_"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v2#SearchFoldersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v2#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/folders:search"
        },
        "smithy.api#documentation": "Search for folders that match specific filter criteria. Search provides an eventually consistent view of the folders a user has access to which meet the specified filter criteria. This will only return folders on which the caller has the permission `resourcemanager.folders.get`."
      }
    },
    "com.gcp.cloudresourcemanager_v2#CreateFoldersRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the new Folder's parent. Must be of the form `folders/{folder_id}` or `organizations/{org_id}`.",
            "smithy.api#httpQuery": "parent"
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v2#Folder",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#CreateFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v2#CreateFoldersRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v2#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v2#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/folders"
        },
        "smithy.api#documentation": "Creates a Folder in the resource hierarchy. Returns an Operation which can be used to track the progress of the folder creation workflow. Upon success the Operation.response field will be populated with the created Folder. In order to succeed, the addition of this new Folder must not violate the Folder naming, height or fanout constraints. + The Folder's display_name must be distinct from all other Folders that share its parent. + The addition of the Folder must not cause the active Folder hierarchy to exceed a height of 10. Note, the full active + deleted Folder hierarchy is allowed to reach a height of 20; this provides additional headroom when moving folders that contain deleted folders. + The addition of the Folder must not cause the total number of Folders under its parent to exceed 300. If the operation fails due to a folder constraint violation, some errors may be returned by the CreateFolder request, with status code FAILED_PRECONDITION and an error description. Other folder constraint violations will be communicated in the Operation, with the specific PreconditionFailure returned via the details list in the Operation.error field. The caller must have `resourcemanager.folders.create` permission on the identified parent."
      }
    },
    "com.gcp.cloudresourcemanager_v2#GetOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v2#GetOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v2#GetOperationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v2#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v2#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    }
  }
}
