{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudtrace",
    "version": "v1",
    "title": "Cloud Trace API",
    "baseUrl": "https://cloudtrace.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudtrace_v1#Traces": {
      "type": "structure",
      "members": {
        "traces": {
          "target": "com.gcp.cloudtrace_v1#TraceList",
          "traits": {
            "smithy.api#documentation": "List of traces."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of new or updated traces."
      }
    },
    "com.gcp.cloudtrace_v1#TraceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudtrace_v1#Trace"
      }
    },
    "com.gcp.cloudtrace_v1#Trace": {
      "type": "structure",
      "members": {
        "traceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Globally unique identifier for the trace. This identifier is a 128-bit numeric value formatted as a 32-byte hex string. For example, `382d4f4c6b7bb2f4a972559d9085001d`. The numeric value should not be zero."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project ID of the Cloud project where the trace data is stored."
          }
        },
        "spans": {
          "target": "com.gcp.cloudtrace_v1#TraceSpanList",
          "traits": {
            "smithy.api#documentation": "Collection of spans in the trace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A trace describes how long it takes for an application to perform an operation. It consists of a set of spans, each of which represent a single timed event within the operation."
      }
    },
    "com.gcp.cloudtrace_v1#TraceSpanList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudtrace_v1#TraceSpan"
      }
    },
    "com.gcp.cloudtrace_v1#TraceSpan": {
      "type": "structure",
      "members": {
        "parentSpanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. ID of the parent span, if any."
          }
        },
        "kind": {
          "target": "com.gcp.cloudtrace_v1#TraceSpanKindEnum",
          "traits": {
            "smithy.api#documentation": "Distinguishes between spans generated in a particular context. For example, two spans with the same name may be distinguished using `RPC_CLIENT` and `RPC_SERVER` to identify queueing latency associated with the span."
          }
        },
        "labels": {
          "target": "com.gcp.cloudtrace_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Collection of labels associated with the span. Label keys must be less than 128 bytes. Label values must be less than 16 KiB. Some keys might have predefined meaning, and you can also create your own. For more information, see [Cloud Trace labels](https://cloud.google.com/trace/docs/trace-labels)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the span. Must be less than 128 bytes. The span name is sanitized and displayed in the Trace tool in the Google Cloud Platform Console. The name may be a method name or some other per-call site name. For the same executable and the same call point, a best practice is to use a consistent name, which makes it easier to correlate cross-trace spans."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the span in seconds and nanoseconds from the UNIX epoch."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the span in seconds and nanoseconds from the UNIX epoch."
          }
        },
        "spanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the span. Must be a 64-bit integer other than 0 and unique within a trace. For example, `2205310701640571284`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A span represents a single timed event within a trace. Spans can be nested and form a trace tree. Often, a trace contains a root span that describes the end-to-end latency of an operation and, optionally, one or more subspans for its suboperations. Spans do not need to be contiguous. There may be gaps between spans in a trace."
      }
    },
    "com.gcp.cloudtrace_v1#TraceSpanKindEnum": {
      "type": "enum",
      "members": {
        "SPAN_KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAN_KIND_UNSPECIFIED"
          }
        },
        "RPC_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RPC_SERVER"
          }
        },
        "RPC_CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RPC_CLIENT"
          }
        }
      }
    },
    "com.gcp.cloudtrace_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudtrace_v1#ListTracesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If defined, indicates that there are more traces that match the request and that this value should be passed to the next request to continue retrieving additional traces."
          }
        },
        "traces": {
          "target": "com.gcp.cloudtrace_v1#TraceList",
          "traits": {
            "smithy.api#documentation": "List of trace records as specified by the view parameter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the `ListTraces` method."
      }
    },
    "com.gcp.cloudtrace_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.cloudtrace_v1#PatchTracesProjectsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the Cloud project where the trace data is stored.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudtrace_v1#Traces",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudtrace_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.cloudtrace_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.cloudtrace_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.cloudtrace_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.cloudtrace_v1#PatchTracesProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudtrace_v1#PatchTracesProjectsRequest"
      },
      "output": {
        "target": "com.gcp.cloudtrace_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudtrace_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudtrace_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudtrace_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudtrace_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/projects/{projectId}/traces"
        },
        "smithy.api#documentation": "Sends trace spans to Cloud Trace. Spans cannot be updated. If the trace ID and span ID already exist, an additional copy of the span will be stored."
      }
    },
    "com.gcp.cloudtrace_v1#GetProjectsTracesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the Cloud project where the trace data is stored.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "traceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the trace to return.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudtrace_v1#GetProjectsTraces": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudtrace_v1#GetProjectsTracesRequest"
      },
      "output": {
        "target": "com.gcp.cloudtrace_v1#Trace"
      },
      "errors": [
        {
          "target": "com.gcp.cloudtrace_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudtrace_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/projects/{projectId}/traces/{traceId}"
        },
        "smithy.api#documentation": "Gets a single trace by its ID."
      }
    },
    "com.gcp.cloudtrace_v1#ListProjectsTracesViewEnum": {
      "type": "enum",
      "members": {
        "VIEW_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_TYPE_UNSPECIFIED"
          }
        },
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMAL"
          }
        },
        "ROOTSPAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROOTSPAN"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.gcp.cloudtrace_v1#ListProjectsTracesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the Cloud project where the trace data is stored.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the time interval (inclusive) during which the trace data was collected from the application.",
            "smithy.api#httpQuery": "startTime"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of the time interval (inclusive) during which the trace data was collected from the application.",
            "smithy.api#httpQuery": "endTime"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A filter against properties of the trace. See [filter syntax documentation](https://cloud.google.com/trace/docs/trace-filters) for details.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "view": {
          "target": "com.gcp.cloudtrace_v1#ListProjectsTracesViewEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of data returned for traces in the list. Default is `MINIMAL`.",
            "smithy.api#httpQuery": "view"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Field used to sort the returned traces. Can be one of the following: * `trace_id` * `name` (`name` field of root span in the trace) * `duration` (difference between `end_time` and `start_time` fields of the root span) * `start` (`start_time` field of the root span) Descending order can be specified by appending `desc` to the sort field (for example, `name desc`). Only one sort field is permitted.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of traces to return. If not specified or <= 0, the implementation selects a reasonable value. The implementation may return fewer traces than the requested page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifying the page of results to return. If provided, use the value of the `next_page_token` field from a previous request.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.cloudtrace_v1#ListProjectsTraces": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudtrace_v1#ListProjectsTracesRequest"
      },
      "output": {
        "target": "com.gcp.cloudtrace_v1#ListTracesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudtrace_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudtrace_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/projects/{projectId}/traces"
        },
        "smithy.api#documentation": "Returns a list of traces that match the specified filter conditions.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    }
  }
}
