{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudsupport",
    "version": "v2beta",
    "title": "Google Cloud Support API",
    "baseUrl": "https://cloudsupport.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudsupport_v2beta#CompositeMedia": {
      "type": "structure",
      "members": {
        "blobRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "md5Hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "blobstore2Info": {
          "target": "com.gcp.cloudsupport_v2beta#Blobstore2Info",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "sha1Hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "cosmoBinaryReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "length": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "referenceType": {
          "target": "com.gcp.cloudsupport_v2beta#CompositeMediaReferenceTypeEnum",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "objectId": {
          "target": "com.gcp.cloudsupport_v2beta#ObjectId",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "inline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "crc32cHash": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
      }
    },
    "com.gcp.cloudsupport_v2beta#CompositeMediaReferenceTypeEnum": {
      "type": "enum",
      "members": {
        "PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATH"
          }
        },
        "BLOB_REF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOB_REF"
          }
        },
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INLINE"
          }
        },
        "BIGSTORE_REF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGSTORE_REF"
          }
        },
        "COSMO_BINARY_REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COSMO_BINARY_REFERENCE"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#Case": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this case was last updated."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this case was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A broad description of the issue."
          }
        },
        "priority": {
          "target": "com.gcp.cloudsupport_v2beta#CasePriorityEnum",
          "traits": {
            "smithy.api#documentation": "The priority of this case."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language the user has requested to receive support in. This should be a BCP 47 language code (e.g., `\"en\"`, `\"zh-CN\"`, `\"zh-TW\"`, `\"ja\"`, `\"ko\"`). If no language or an unsupported language is specified, this field defaults to English (en). Language selection during case creation may affect your available support options. For a list of supported languages and their support working hours, see: https://cloud.google.com/support/docs/language-working-hours"
          }
        },
        "severity": {
          "target": "com.gcp.cloudsupport_v2beta#CaseSeverityEnum",
          "traits": {
            "smithy.api#documentation": "REMOVED. The severity of this case. Use priority instead."
          }
        },
        "state": {
          "target": "com.gcp.cloudsupport_v2beta#CaseStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current status of the support case."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short summary of the issue reported in this case."
          }
        },
        "creator": {
          "target": "com.gcp.cloudsupport_v2beta#Actor",
          "traits": {
            "smithy.api#documentation": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support."
          }
        },
        "contactEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-supplied email address to send case update notifications for. This should only be used in BYOID flows, where we cannot infer the user's email address directly from their EUCs."
          }
        },
        "subscriberEmailAddresses": {
          "target": "com.gcp.cloudsupport_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "The email addresses to receive updates on this case."
          }
        },
        "testCase": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this case was created for internal API testing and should not be acted on by the support team."
          }
        },
        "classification": {
          "target": "com.gcp.cloudsupport_v2beta#CaseClassification",
          "traits": {
            "smithy.api#documentation": "The issue classification applicable to this case."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name for the case."
          }
        },
        "escalated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the case is currently escalated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Case is an object that contains the details of a support case. It contains fields for the time it was created, its priority, its classification, and more. Cases can also have comments and attachments that get added over time. A case is parented by a Google Cloud organization or project. Organizations are identified by a number, so the name of a case parented by an organization would look like this: ``` organizations/123/cases/456 ``` Projects have two unique identifiers, an ID and a number, and they look like this: ``` projects/abc/cases/456 ``` ``` projects/123/cases/456 ``` You can use either of them when calling the API. To learn more about project identifiers, see [AIP-2510](https://google.aip.dev/cloud/2510)."
      }
    },
    "com.gcp.cloudsupport_v2beta#CasePriorityEnum": {
      "type": "enum",
      "members": {
        "PRIORITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_UNSPECIFIED"
          }
        },
        "P0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P0"
          }
        },
        "P1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P1"
          }
        },
        "P2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P2"
          }
        },
        "P3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P3"
          }
        },
        "P4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P4"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#CaseSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "S0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S0"
          }
        },
        "S1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S1"
          }
        },
        "S2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S2"
          }
        },
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3"
          }
        },
        "S4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S4"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#CaseStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "IN_PROGRESS_GOOGLE_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS_GOOGLE_SUPPORT"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_REQUIRED"
          }
        },
        "SOLUTION_PROVIDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLUTION_PROVIDED"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudsupport_v2beta#SupportEventSubscription": {
      "type": "structure",
      "members": {
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the subscription was deleted."
          }
        },
        "pubSubTopic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Pub/Sub topic to publish notifications to. Format: projects/{project}/topics/{topic}"
          }
        },
        "state": {
          "target": "com.gcp.cloudsupport_v2beta#SupportEventSubscriptionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the subscription."
          }
        },
        "failureReason": {
          "target": "com.gcp.cloudsupport_v2beta#SupportEventSubscriptionFailureReasonEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Reason why subscription is failing. State of subscription must be FAILING in order for this to have a value."
          }
        },
        "purgeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the subscription will be purged."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the subscription was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the support event subscription."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the subscription was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A support event subscription."
      }
    },
    "com.gcp.cloudsupport_v2beta#SupportEventSubscriptionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "WORKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKING"
          }
        },
        "FAILING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILING"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#SupportEventSubscriptionFailureReasonEnum": {
      "type": "enum",
      "members": {
        "FAILURE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE_REASON_UNSPECIFIED"
          }
        },
        "PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_DENIED"
          }
        },
        "TOPIC_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOPIC_NOT_FOUND"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#ListCasesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.list` requests. If unspecified, there are no more results to retrieve."
          }
        },
        "cases": {
          "target": "com.gcp.cloudsupport_v2beta#CaseList",
          "traits": {
            "smithy.api#documentation": "The list of cases associated with the parent after any filters have been applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the ListCases endpoint."
      }
    },
    "com.gcp.cloudsupport_v2beta#CaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsupport_v2beta#Case"
      }
    },
    "com.gcp.cloudsupport_v2beta#Actor": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the actor. If not provided, it is inferred from the credentials supplied during case creation. When a name is provided, an email must also be provided. If the user is a Google Support agent, this is obfuscated. This field is deprecated. Use `username` instead."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The username of the actor. It may look like an email or other format provided by the identity provider. If not provided, it is inferred from the credentials supplied. When a name is provided, a username must also be provided. If the user is a Google Support agent, this will not be set."
          }
        },
        "googleSupport": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the actor is a Google support actor."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Actor represents an entity that performed an action. For example, an actor could be a user who posted a comment on a support case, a user who uploaded an attachment, or a service account that created a support case."
      }
    },
    "com.gcp.cloudsupport_v2beta#CreateAttachmentRequest": {
      "type": "structure",
      "members": {
        "attachment": {
          "target": "com.gcp.cloudsupport_v2beta#Attachment",
          "traits": {
            "smithy.api#documentation": "Required. The attachment to be created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for the CreateAttachment endpoint."
      }
    },
    "com.gcp.cloudsupport_v2beta#EmailMessage": {
      "type": "structure",
      "members": {
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Subject of the email."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name for the email message."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this email message object was created."
          }
        },
        "bodyContent": {
          "target": "com.gcp.cloudsupport_v2beta#TextContent",
          "traits": {
            "smithy.api#documentation": "Output only. The full email message body. A best-effort attempt is made to remove extraneous reply threads."
          }
        },
        "actor": {
          "target": "com.gcp.cloudsupport_v2beta#Actor",
          "traits": {
            "smithy.api#documentation": "Output only. The user or Google Support agent that created this email message. This is inferred from the headers on the email message."
          }
        },
        "recipientEmailAddresses": {
          "target": "com.gcp.cloudsupport_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Email addresses the email was sent to."
          }
        },
        "ccEmailAddresses": {
          "target": "com.gcp.cloudsupport_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Email addresses CCed on the email."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An email associated with a support case."
      }
    },
    "com.gcp.cloudsupport_v2beta#SearchCasesResponse": {
      "type": "structure",
      "members": {
        "cases": {
          "target": "com.gcp.cloudsupport_v2beta#CaseList",
          "traits": {
            "smithy.api#documentation": "The list of cases associated with the parent after any filters have been applied."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.search` requests. If unspecified, there are no more results to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the SearchCases endpoint."
      }
    },
    "com.gcp.cloudsupport_v2beta#SearchCaseClassificationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `caseClassifications.list` requests. If unspecified, there are no more results to retrieve."
          }
        },
        "caseClassifications": {
          "target": "com.gcp.cloudsupport_v2beta#CaseClassificationList",
          "traits": {
            "smithy.api#documentation": "The classifications retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for SearchCaseClassifications endpoint."
      }
    },
    "com.gcp.cloudsupport_v2beta#CaseClassificationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsupport_v2beta#CaseClassification"
      }
    },
    "com.gcp.cloudsupport_v2beta#ListCommentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.comments.list` requests. If unspecified, there are no more results to retrieve."
          }
        },
        "comments": {
          "target": "com.gcp.cloudsupport_v2beta#CommentList",
          "traits": {
            "smithy.api#documentation": "List of the comments associated with the case."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the ListComments endpoint."
      }
    },
    "com.gcp.cloudsupport_v2beta#CommentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsupport_v2beta#Comment"
      }
    },
    "com.gcp.cloudsupport_v2beta#TextContent": {
      "type": "structure",
      "members": {
        "plainText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content in this field should be rendered and interpreted as-is."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stores text attached to a support object."
      }
    },
    "com.gcp.cloudsupport_v2beta#Attachment": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The MIME type of the attachment (e.g. text/plain)."
          }
        },
        "sizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The size of the attachment in bytes."
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filename of the attachment (e.g. `\"graph.jpg\"`)."
          }
        },
        "creator": {
          "target": "com.gcp.cloudsupport_v2beta#Actor",
          "traits": {
            "smithy.api#documentation": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the attachment was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name of the attachment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Attachment contains metadata about a file that was uploaded to a case - it is NOT a file itself. That being said, the name of an Attachment object can be used to download its accompanying file through the `media.download` endpoint. While attachments can be uploaded in the console at the same time as a comment, they're associated on a \"case\" level, not a \"comment\" level."
      }
    },
    "com.gcp.cloudsupport_v2beta#DiffUploadRequest": {
      "type": "structure",
      "members": {
        "checksumsInfo": {
          "target": "com.gcp.cloudsupport_v2beta#CompositeMedia",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "objectVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "objectInfo": {
          "target": "com.gcp.cloudsupport_v2beta#CompositeMedia",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
      }
    },
    "com.gcp.cloudsupport_v2beta#CaseClassification": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A display name for the classification. The display name is not static and can change. To uniquely and consistently identify classifications, use the `CaseClassification.id` field."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID for a classification. Must be specified for case creation. To retrieve valid classification IDs for case creation, use `caseClassifications.search`. Classification IDs returned by `caseClassifications.search` are guaranteed to be valid for at least 6 months. If a given classification is deactiveated, it will immediately stop being returned. After 6 months, `case.create` requests using the classification ID will fail."
          }
        },
        "product": {
          "target": "com.gcp.cloudsupport_v2beta#Product",
          "traits": {
            "smithy.api#documentation": "The full product the classification corresponds to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Case Classification represents the topic that a case is about. It's very important to use accurate classifications, because they're used to route your cases to specialists who can help you. A classification always has an ID that is its unique identifier. A valid ID is required when creating a case."
      }
    },
    "com.gcp.cloudsupport_v2beta#DiffChecksumsResponse": {
      "type": "structure",
      "members": {
        "checksumsLocation": {
          "target": "com.gcp.cloudsupport_v2beta#CompositeMedia",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "objectSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "objectLocation": {
          "target": "com.gcp.cloudsupport_v2beta#CompositeMedia",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "objectVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "chunkSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
      }
    },
    "com.gcp.cloudsupport_v2beta#Comment": {
      "type": "structure",
      "members": {
        "creator": {
          "target": "com.gcp.cloudsupport_v2beta#Actor",
          "traits": {
            "smithy.api#documentation": "Output only. The user or Google Support agent who created the comment."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full comment body. Maximum of 12800 characters."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name of the comment."
          }
        },
        "plainTextBody": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. DEPRECATED. DO NOT USE. A duplicate of the `body` field. This field is only present for legacy reasons."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the comment was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A comment associated with a support case. Case comments are the primary way for Google Support to communicate with a user who has opened a case. When a user responds to Google Support, the user's responses also appear as comments."
      }
    },
    "com.gcp.cloudsupport_v2beta#DiffDownloadResponse": {
      "type": "structure",
      "members": {
        "objectLocation": {
          "target": "com.gcp.cloudsupport_v2beta#CompositeMedia",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
      }
    },
    "com.gcp.cloudsupport_v2beta#ShowFeedResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ShowFeedRequests`. If unspecified, there are no more results to retrieve."
          }
        },
        "feedItems": {
          "target": "com.gcp.cloudsupport_v2beta#FeedItemList",
          "traits": {
            "smithy.api#documentation": "The list of feed items associated with the given Case."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the ShowFeed endpoint."
      }
    },
    "com.gcp.cloudsupport_v2beta#FeedItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsupport_v2beta#FeedItem"
      }
    },
    "com.gcp.cloudsupport_v2beta#ObjectId": {
      "type": "structure",
      "members": {
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "objectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
      }
    },
    "com.gcp.cloudsupport_v2beta#Media": {
      "type": "structure",
      "members": {
        "sha256Hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "cosmoBinaryReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "blobRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "diffUploadResponse": {
          "target": "com.gcp.cloudsupport_v2beta#DiffUploadResponse",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "isPotentialRetry": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "crc32cHash": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "diffDownloadResponse": {
          "target": "com.gcp.cloudsupport_v2beta#DiffDownloadResponse",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "objectId": {
          "target": "com.gcp.cloudsupport_v2beta#ObjectId",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "inline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "bigstoreObjectRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "diffUploadRequest": {
          "target": "com.gcp.cloudsupport_v2beta#DiffUploadRequest",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "length": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "downloadParameters": {
          "target": "com.gcp.cloudsupport_v2beta#DownloadParameters",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "compositeMedia": {
          "target": "com.gcp.cloudsupport_v2beta#CompositeMediaList",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "sha512Hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "referenceType": {
          "target": "com.gcp.cloudsupport_v2beta#MediaReferenceTypeEnum",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "blobstore2Info": {
          "target": "com.gcp.cloudsupport_v2beta#Blobstore2Info",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "sha1Hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "md5Hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "diffVersionResponse": {
          "target": "com.gcp.cloudsupport_v2beta#DiffVersionResponse",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "diffChecksumsResponse": {
          "target": "com.gcp.cloudsupport_v2beta#DiffChecksumsResponse",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "contentTypeInfo": {
          "target": "com.gcp.cloudsupport_v2beta#ContentTypeInfo",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "hashVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "mediaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "algorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
      }
    },
    "com.gcp.cloudsupport_v2beta#CompositeMediaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsupport_v2beta#CompositeMedia"
      }
    },
    "com.gcp.cloudsupport_v2beta#MediaReferenceTypeEnum": {
      "type": "enum",
      "members": {
        "PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATH"
          }
        },
        "BLOB_REF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOB_REF"
          }
        },
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INLINE"
          }
        },
        "GET_MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_MEDIA"
          }
        },
        "COMPOSITE_MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPOSITE_MEDIA"
          }
        },
        "BIGSTORE_REF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGSTORE_REF"
          }
        },
        "DIFF_VERSION_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFF_VERSION_RESPONSE"
          }
        },
        "DIFF_CHECKSUMS_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFF_CHECKSUMS_RESPONSE"
          }
        },
        "DIFF_DOWNLOAD_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFF_DOWNLOAD_RESPONSE"
          }
        },
        "DIFF_UPLOAD_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFF_UPLOAD_REQUEST"
          }
        },
        "DIFF_UPLOAD_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFF_UPLOAD_RESPONSE"
          }
        },
        "COSMO_BINARY_REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COSMO_BINARY_REFERENCE"
          }
        },
        "ARBITRARY_BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARBITRARY_BYTES"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#Escalation": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "com.gcp.cloudsupport_v2beta#EscalationReasonEnum",
          "traits": {
            "smithy.api#documentation": "Required. The reason why the Case is being escalated."
          }
        },
        "justification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An escalation of a support case."
      }
    },
    "com.gcp.cloudsupport_v2beta#EscalationReasonEnum": {
      "type": "enum",
      "members": {
        "REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REASON_UNSPECIFIED"
          }
        },
        "RESOLUTION_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLUTION_TIME"
          }
        },
        "TECHNICAL_EXPERTISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TECHNICAL_EXPERTISE"
          }
        },
        "BUSINESS_IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_IMPACT"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#CloseCaseRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for the CloseCase endpoint."
      }
    },
    "com.gcp.cloudsupport_v2beta#ListAttachmentsResponse": {
      "type": "structure",
      "members": {
        "attachments": {
          "target": "com.gcp.cloudsupport_v2beta#AttachmentList",
          "traits": {
            "smithy.api#documentation": "The list of attachments associated with a case."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Set this in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the ListAttachments endpoint."
      }
    },
    "com.gcp.cloudsupport_v2beta#AttachmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsupport_v2beta#Attachment"
      }
    },
    "com.gcp.cloudsupport_v2beta#ListSupportEventSubscriptionsResponse": {
      "type": "structure",
      "members": {
        "supportEventSubscriptions": {
          "target": "com.gcp.cloudsupport_v2beta#SupportEventSubscriptionList",
          "traits": {
            "smithy.api#documentation": "The support event subscriptions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListSupportEventSubscriptions."
      }
    },
    "com.gcp.cloudsupport_v2beta#SupportEventSubscriptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsupport_v2beta#SupportEventSubscription"
      }
    },
    "com.gcp.cloudsupport_v2beta#Blobstore2Info": {
      "type": "structure",
      "members": {
        "blobGeneration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "uploadMetadataContainer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "downloadReadHandle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "downloadExternalReadToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "blobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "uploadFragmentListCreationInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "readToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
      }
    },
    "com.gcp.cloudsupport_v2beta#EscalateCaseRequest": {
      "type": "structure",
      "members": {
        "escalation": {
          "target": "com.gcp.cloudsupport_v2beta#Escalation",
          "traits": {
            "smithy.api#documentation": "The escalation information to be sent with the escalation request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for the EscalateCase endpoint."
      }
    },
    "com.gcp.cloudsupport_v2beta#DiffVersionResponse": {
      "type": "structure",
      "members": {
        "objectSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "objectVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
      }
    },
    "com.gcp.cloudsupport_v2beta#ContentTypeInfo": {
      "type": "structure",
      "members": {
        "fusionIdDetectionMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "fromHeader": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "fromBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "bestGuess": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "fromFileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "fromUrlPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "fromFusionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
      }
    },
    "com.gcp.cloudsupport_v2beta#UndeleteSupportEventSubscriptionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for UndeleteSupportEventSubscription."
      }
    },
    "com.gcp.cloudsupport_v2beta#DownloadParameters": {
      "type": "structure",
      "members": {
        "allowGzipCompression": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "ignoreRange": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
      }
    },
    "com.gcp.cloudsupport_v2beta#Product": {
      "type": "structure",
      "members": {
        "productLine": {
          "target": "com.gcp.cloudsupport_v2beta#ProductProductLineEnum",
          "traits": {
            "smithy.api#documentation": "The product line of the Product."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The product a case may be associated with."
      }
    },
    "com.gcp.cloudsupport_v2beta#ProductProductLineEnum": {
      "type": "enum",
      "members": {
        "PRODUCT_LINE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_LINE_UNSPECIFIED"
          }
        },
        "GOOGLE_CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_CLOUD"
          }
        },
        "GOOGLE_MAPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_MAPS"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#FeedItem": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "com.gcp.cloudsupport_v2beta#Comment",
          "traits": {
            "smithy.api#documentation": "Output only. A comment added to the case."
          }
        },
        "deletedAttachment": {
          "target": "com.gcp.cloudsupport_v2beta#Attachment",
          "traits": {
            "smithy.api#documentation": "Output only. A deleted attachment that used to be associated with the support case."
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time corresponding to the event of this item."
          }
        },
        "attachment": {
          "target": "com.gcp.cloudsupport_v2beta#Attachment",
          "traits": {
            "smithy.api#documentation": "Output only. An attachment attached to the case."
          }
        },
        "emailMessage": {
          "target": "com.gcp.cloudsupport_v2beta#EmailMessage",
          "traits": {
            "smithy.api#documentation": "Output only. An email message received in reply to the case."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A feed item associated with a support case."
      }
    },
    "com.gcp.cloudsupport_v2beta#DiffUploadResponse": {
      "type": "structure",
      "members": {
        "objectVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        },
        "originalObject": {
          "target": "com.gcp.cloudsupport_v2beta#CompositeMedia",
          "traits": {
            "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "# gdata.* are outside protos with mising documentation"
      }
    },
    "com.gcp.cloudsupport_v2beta#SearchCasesRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression used to filter cases. Expressions use the following fields separated by `AND` and specified with `=`: - `state`: Can be `OPEN` or `CLOSED`. - `priority`: Can be `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. To search across `displayName`, `description`, and comments, use a global restriction with no keyword or operator. For example, `\"my search\"`. To search only cases updated after a certain date, use `update_time` restricted with that particular date, time, and timezone in ISO datetime format. For example, `update_time>\"2020-01-01T00:00:00-05:00\"`. `update_time` only supports the greater than operator (`>`). If you are using the `v2` version of the API, you must specify the case parent in the `parent` field. If you provide an empty `query`, all cases under the parent resource will be returned. If you are using the `v2beta` version of the API, you must specify the case parent in the `query` field using one of the two fields below, which are only available for `v2beta`. The `parent` field will be ignored. - `organization`: An organization name in the form `organizations/`. - `project`: A project name in the form `projects/`. Examples: For `v2`: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)` - `update_time>\"2020-01-01T00:00:00-05:00\"` For `v2beta`: - `organization=\"organizations/123456789\"` - `project=\"projects/my-project-id\"` - `project=\"projects/123456789\"` - `organization=\"organizations/123456789\" AND state=CLOSED` - `project=\"projects/my-project-id\" AND creator.email=\"tester@example.com\"` - `project=\"projects/my-project-id\" AND (priority=P0 OR priority=P1)`",
            "smithy.api#httpQuery": "query"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the parent resource to search for cases under.",
            "smithy.api#httpQuery": "parent"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of cases fetched with each request. The default page size is 10.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.cloudsupport_v2beta#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.cloudsupport_v2beta#SearchCases": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#SearchCasesRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#SearchCasesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2beta/cases:search"
        },
        "smithy.api#documentation": "Search for cases using a query. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$parent/cases:search\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().search( parent=\"projects/some-project\", query=\"state=OPEN\" ) print(request.execute()) ```",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#CreateCasesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the parent under which the case should be created.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudsupport_v2beta#Case",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.cloudsupport_v2beta#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.cloudsupport_v2beta#CreateCases": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#CreateCasesRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#Case"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#BadRequest"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2beta/{+parent}/cases"
        },
        "smithy.api#documentation": "Create a new case and associate it with a parent. It must have the following fields set: `display_name`, `description`, `classification`, and `priority`. If you're just testing the API and don't want to route your case to an agent, set `testCase=true`. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header 'Content-Type: application/json' \\ --data '{ \"display_name\": \"Test case created by me.\", \"description\": \"a random test case, feel free to close\", \"classification\": { \"id\": \"100IK2AKCLHMGRJ9CDGMOCGP8DM6UTB4BT262T31BT1M2T31DHNMENPO6KS36CPJ786L2TBFEHGN6NPI64R3CDHN8880G08I1H3MURR7DHII0GRCDTQM8\" }, \"time_zone\": \"-07:00\", \"subscriber_email_addresses\": [ \"foo@domain.com\", \"bar@domain.com\" ], \"testCase\": true, \"priority\": \"P3\" }' \\ \"https://cloudsupport.googleapis.com/v2beta/$parent/cases\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().create( parent=\"projects/some-project\", body={ \"displayName\": \"A Test Case\", \"description\": \"This is a test case.\", \"testCase\": True, \"priority\": \"P2\", \"classification\": { \"id\": \"100IK2AKCLHMGRJ9CDGMOCGP8DM6UTB4BT262T31BT1M2T31DHNMENPO6KS36CPJ786L2TBFEHGN6NPI64R3CDHN8880G08I1H3MURR7DHII0GRCDTQM8\" }, }, ) print(request.execute()) ```"
      }
    },
    "com.gcp.cloudsupport_v2beta#EscalateCasesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the case to be escalated.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudsupport_v2beta#EscalateCaseRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#EscalateCases": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#EscalateCasesRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#Case"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#BadRequest"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2beta/{+name}:escalate"
        },
        "smithy.api#documentation": "Escalate a case, starting the Google Cloud Support escalation management process. This operation is only available for some support services. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which ones let you do that. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"escalation\": { \"reason\": \"BUSINESS_IMPACT\", \"justification\": \"This is a test escalation.\" } }' \\ \"https://cloudsupport.googleapis.com/v2beta/$case:escalate\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().escalate( name=\"projects/some-project/cases/43595344\", body={ \"escalation\": { \"reason\": \"BUSINESS_IMPACT\", \"justification\": \"This is a test escalation.\", }, }, ) print(request.execute()) ```"
      }
    },
    "com.gcp.cloudsupport_v2beta#CloseCasesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the case to close.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudsupport_v2beta#CloseCaseRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#CloseCases": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#CloseCasesRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#Case"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#BadRequest"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2beta/{+name}:close"
        },
        "smithy.api#documentation": "Close a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$case:close\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().close( name=\"projects/some-project/cases/43595344\" ) print(request.execute()) ```"
      }
    },
    "com.gcp.cloudsupport_v2beta#ShowFeedCasesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the case for which feed items should be listed.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Field to order feed items by, followed by `asc` or `desc` postfix. The only valid field is `creation_time`. This list is case-insensitive, default sorting order is ascending, and the redundant space characters are insignificant. Example: `creation_time desc`",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of feed items fetched with each request.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying the page of results to return. If unspecified, it retrieves the first page.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#ShowFeedCases": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#ShowFeedCasesRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#ShowFeedResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2beta/{+parent}:showFeed"
        },
        "smithy.api#documentation": "Show items in the feed of this case, including case emails, attachments, and comments.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#ListCasesProductLineEnum": {
      "type": "enum",
      "members": {
        "PRODUCT_LINE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_LINE_UNSPECIFIED"
          }
        },
        "GOOGLE_CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_CLOUD"
          }
        },
        "GOOGLE_MAPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_MAPS"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#ListCasesRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression used to filter cases. If it's an empty string, then no filtering happens. Otherwise, the endpoint returns the cases that match the filter. Expressions use the following fields separated by `AND` and specified with `=`: - `state`: Can be `OPEN` or `CLOSED`. - `priority`: Can be `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - `creator.email`: The email address of the case creator. EXAMPLES: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)`",
            "smithy.api#httpQuery": "filter"
          }
        },
        "productLine": {
          "target": "com.gcp.cloudsupport_v2beta#ListCasesProductLineEnum",
          "traits": {
            "smithy.api#documentation": "The product line to request cases for. If unspecified, only Google Cloud cases will be returned.",
            "smithy.api#httpQuery": "productLine"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of a parent to list cases under.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of cases fetched with each request. Defaults to 10.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#ListCases": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#ListCasesRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#ListCasesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2beta/{+parent}/cases"
        },
        "smithy.api#documentation": "Retrieve all cases under a parent, but not its children. For example, listing cases under an organization only returns the cases that are directly parented by that organization. To retrieve cases under an organization and its projects, use `cases.search`. EXAMPLES: cURL: ```shell parent=\"projects/some-project\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$parent/cases\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().list(parent=\"projects/some-project\") print(request.execute()) ```",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#GetCasesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full name of a case to be retrieved.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#GetCases": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#GetCasesRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#Case"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2beta/{+name}"
        },
        "smithy.api#documentation": "Retrieve a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/16033687\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$case\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().get( name=\"projects/some-project/cases/43595344\", ) print(request.execute()) ```"
      }
    },
    "com.gcp.cloudsupport_v2beta#PatchCasesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name for the case.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A list of attributes of the case that should be updated. Supported values are `priority`, `display_name`, and `subscriber_email_addresses`. If no fields are specified, all supported fields are updated. Be careful - if you do not provide a field mask, then you might accidentally clear some fields. For example, if you leave the field mask empty and do not provide a value for `subscriber_email_addresses`, then `subscriber_email_addresses` is updated to empty.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.cloudsupport_v2beta#Case",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#PatchCases": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#PatchCasesRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#Case"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#BadRequest"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v2beta/{+name}"
        },
        "smithy.api#documentation": "Update a case. Only some fields can be updated. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --request PATCH \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header \"Content-Type: application/json\" \\ --data '{ \"priority\": \"P1\" }' \\ \"https://cloudsupport.googleapis.com/v2beta/$case?updateMask=priority\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().patch( name=\"projects/some-project/cases/43112854\", body={ \"displayName\": \"This is Now a New Title\", \"priority\": \"P2\", }, ) print(request.execute()) ```"
      }
    },
    "com.gcp.cloudsupport_v2beta#ListCasesAttachmentsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the case for which attachments should be listed.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100. The size of each page can be smaller than the requested page size and can include zero. For example, you could request 100 attachments on one page, receive 0, and then on the next page, receive 90.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#ListCasesAttachments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#ListCasesAttachmentsRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#ListAttachmentsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2beta/{+parent}/attachments"
        },
        "smithy.api#documentation": "List all the attachments associated with a support case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/23598314\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$case/attachments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .attachments() .list(parent=\"projects/some-project/cases/43595344\") ) print(request.execute()) ```",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#GetCasesAttachmentsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the attachment to get.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#GetCasesAttachments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#GetCasesAttachmentsRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#Attachment"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2beta/{+name}"
        },
        "smithy.api#documentation": "Retrieve an attachment associated with a support case. EXAMPLES: cURL: ```shell attachment=\"projects/some-project/cases/23598314/attachments/0684M00000P3h1fQAB\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$attachment\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .attachments() .get(name=\"projects/some-project/cases/43595344/attachments/0684M00000P3h1fQAB\") ) print(request.execute()) ```"
      }
    },
    "com.gcp.cloudsupport_v2beta#GetCasesCommentsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the comment to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#GetCasesComments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#GetCasesCommentsRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#Comment"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2beta/{+name}"
        },
        "smithy.api#documentation": "Retrieve a comment. EXAMPLES: cURL: ```shell comment=\"projects/some-project/cases/43595344/comments/234567890\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$comment\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = supportApiService.cases().comments().get( name=\"projects/some-project/cases/43595344/comments/234567890\", ) print(request.execute()) ```"
      }
    },
    "com.gcp.cloudsupport_v2beta#CreateCasesCommentsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the case to which the comment should be added.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudsupport_v2beta#Comment",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#CreateCasesComments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#CreateCasesCommentsRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#Comment"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#BadRequest"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2beta/{+parent}/comments"
        },
        "smithy.api#documentation": "Add a new comment to a case. The comment must have the following fields set: `body`. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43591344\" curl \\ --request POST \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ --header 'Content-Type: application/json' \\ --data '{ \"body\": \"This is a test comment.\" }' \\ \"https://cloudsupport.googleapis.com/v2beta/$case/comments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .comments() .create( parent=\"projects/some-project/cases/43595344\", body={\"body\": \"This is a test comment.\"}, ) ) print(request.execute()) ```"
      }
    },
    "com.gcp.cloudsupport_v2beta#ListCasesCommentsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the case for which to list comments.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of comments to fetch. Defaults to 10.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying the page of results to return. If unspecified, the first page is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#ListCasesComments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#ListCasesCommentsRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#ListCommentsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2beta/{+parent}/comments"
        },
        "smithy.api#documentation": "List all the comments associated with a case. EXAMPLES: cURL: ```shell case=\"projects/some-project/cases/43595344\" curl \\ --header \"Authorization: Bearer $(gcloud auth print-access-token)\" \\ \"https://cloudsupport.googleapis.com/v2beta/$case/comments\" ``` Python: ```python import googleapiclient.discovery api_version = \"v2beta\" supportApiService = googleapiclient.discovery.build( serviceName=\"cloudsupport\", version=api_version, discoveryServiceUrl=f\"https://cloudsupport.googleapis.com/$discovery/rest?version={api_version}\", ) request = ( supportApiService.cases() .comments() .list(parent=\"projects/some-project/cases/43595344\") ) print(request.execute()) ```",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#DeleteSupportEventSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the support event subscription to delete. Format: organizations/{organization_id}/supportEventSubscriptions/{subscription_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#DeleteSupportEventSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#DeleteSupportEventSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#SupportEventSubscription"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#BadRequest"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v2beta/{+name}"
        },
        "smithy.api#documentation": "Soft deletes a support event subscription."
      }
    },
    "com.gcp.cloudsupport_v2beta#CreateSupportEventSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name where the support event subscription will be created. Format: organizations/{organization_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudsupport_v2beta#SupportEventSubscription",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#CreateSupportEventSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#CreateSupportEventSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#SupportEventSubscription"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#BadRequest"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2beta/{+parent}/supportEventSubscriptions"
        },
        "smithy.api#documentation": "Creates a support event subscription for an organization."
      }
    },
    "com.gcp.cloudsupport_v2beta#ListSupportEventSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying the page of results to return. If unspecified, the first page is retrieved. When paginating, all other parameters provided to `ListSupportEventSubscriptions` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "showDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to show deleted subscriptions. By default, deleted subscriptions are not returned.",
            "smithy.api#httpQuery": "showDeleted"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fully qualified name of the Cloud resource to list support event subscriptions under. Format: organizations/{organization_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of support event subscriptions to return.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter expression based on AIP-160. Supported fields: - pub_sub_topic - state Examples: - `pub_sub_topic=\"projects/example-project/topics/example-topic\"` - `state=WORKING` - `pub_sub_topic=\"projects/example-project/topics/example-topic\" AND state=WORKING`",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#ListSupportEventSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#ListSupportEventSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#ListSupportEventSubscriptionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2beta/{+parent}/supportEventSubscriptions"
        },
        "smithy.api#documentation": "Lists support event subscriptions.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#UndeleteSupportEventSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the support event subscription to undelete. Format: organizations/{organization_id}/supportEventSubscriptions/{subscription_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudsupport_v2beta#UndeleteSupportEventSubscriptionRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#UndeleteSupportEventSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#UndeleteSupportEventSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#SupportEventSubscription"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#BadRequest"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2beta/{+name}:undelete"
        },
        "smithy.api#documentation": "Undeletes a support event subscription."
      }
    },
    "com.gcp.cloudsupport_v2beta#PatchSupportEventSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the support event subscription.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The list of fields to update. The only supported value is pub_sub_topic.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.cloudsupport_v2beta#SupportEventSubscription",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudsupport_v2beta#PatchSupportEventSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudsupport_v2beta#PatchSupportEventSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.cloudsupport_v2beta#SupportEventSubscription"
      },
      "errors": [
        {
          "target": "com.gcp.cloudsupport_v2beta#NotFound"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Forbidden"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#BadRequest"
        },
        {
          "target": "com.gcp.cloudsupport_v2beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v2beta/{+name}"
        },
[...]
