{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudidentity",
    "version": "v1beta1",
    "title": "Cloud Identity API",
    "baseUrl": "https://cloudidentity.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudidentity_v1beta1#MoveOrgMembershipRequest": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Customer on whose membership change is made. All authorization will happen on the role assignments of this customer. Format: customers/{$customerId} where `$customerId` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may also use `customers/my_customer` to specify your own organization."
          }
        },
        "destinationOrgUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. OrgUnit where the membership will be moved to. Format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for OrgMembershipsService.MoveOrgMembership."
      }
    },
    "com.gcp.cloudidentity_v1beta1#UpdateInboundOidcSsoProfileOperationMetadata": {
      "type": "structure",
      "members": {
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundOidcSsoProfilesService.UpdateInboundOidcSsoProfile."
      }
    },
    "com.gcp.cloudidentity_v1beta1#DeviceUser": {
      "type": "structure",
      "members": {
        "firstSyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Most recent time when user registered with this service."
          }
        },
        "compromisedState": {
          "target": "com.gcp.cloudidentity_v1beta1#DeviceUserCompromisedStateEnum",
          "traits": {
            "smithy.api#documentation": "Compromised State of the DeviceUser object"
          }
        },
        "userEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the user registered on the device."
          }
        },
        "passwordState": {
          "target": "com.gcp.cloudidentity_v1beta1#DeviceUserPasswordStateEnum",
          "traits": {
            "smithy.api#documentation": "Password state of the DeviceUser object"
          }
        },
        "lastSyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last time when user synced with policies."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Default locale used on device, in IETF BCP-47 format."
          }
        },
        "userAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. User agent on the device for this specific user"
          }
        },
        "managementState": {
          "target": "com.gcp.cloudidentity_v1beta1#DeviceUserManagementStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Management state of the user on the device."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the user first signed in to the device"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where `device_user_id` uniquely identifies a user's use of a device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device"
      }
    },
    "com.gcp.cloudidentity_v1beta1#DeviceUserCompromisedStateEnum": {
      "type": "enum",
      "members": {
        "COMPROMISED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISED_STATE_UNSPECIFIED"
          }
        },
        "COMPROMISED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISED"
          }
        },
        "NOT_COMPROMISED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_COMPROMISED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#DeviceUserPasswordStateEnum": {
      "type": "enum",
      "members": {
        "PASSWORD_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_STATE_UNSPECIFIED"
          }
        },
        "PASSWORD_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_SET"
          }
        },
        "PASSWORD_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_NOT_SET"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#DeviceUserManagementStateEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_STATE_UNSPECIFIED"
          }
        },
        "WIPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIPING"
          }
        },
        "WIPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIPED"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "PENDING_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_APPROVAL"
          }
        },
        "UNENROLLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNENROLLED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1WipeDeviceResponse": {
      "type": "structure",
      "members": {
        "device": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1Device",
          "traits": {
            "smithy.api#documentation": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for wiping all data on the device."
      }
    },
    "com.gcp.cloudidentity_v1beta1#IdpCredential": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the credential."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the `IdpCredential` was last updated."
          }
        },
        "rsaKeyInfo": {
          "target": "com.gcp.cloudidentity_v1beta1#RsaPublicKeyInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information of a RSA public key."
          }
        },
        "dsaKeyInfo": {
          "target": "com.gcp.cloudidentity_v1beta1#DsaPublicKeyInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information of a DSA public key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Credential for verifying signatures produced by the Identity Provider."
      }
    },
    "com.gcp.cloudidentity_v1beta1#IsInvitableUserResponse": {
      "type": "structure",
      "members": {
        "isInvitableUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns true if the email address is invitable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for IsInvitableUser RPC."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "type": "structure",
      "members": {
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Represents a boolean value."
          }
        },
        "numberValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Represents a double value."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents a string value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional custom attribute values may be one of these types"
      }
    },
    "com.gcp.cloudidentity_v1beta1#SearchTransitiveMembershipsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results."
          }
        },
        "memberships": {
          "target": "com.gcp.cloudidentity_v1beta1#MemberRelationList",
          "traits": {
            "smithy.api#documentation": "List of transitive memberships satisfying the query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for MembershipsService.SearchTransitiveMemberships."
      }
    },
    "com.gcp.cloudidentity_v1beta1#MemberRelationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1beta1#MemberRelation"
      }
    },
    "com.gcp.cloudidentity_v1beta1#ChromePolicy": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The currently applied value of the policy. The format depends on the policy type (e.g., boolean, string, JSON array/object)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique name of the Chrome policy. These names correspond to the policy names listed in [Chrome Enterprise Policy List](https://chromeenterprise.google/policies/)"
          }
        },
        "source": {
          "target": "com.gcp.cloudidentity_v1beta1#ChromePolicySourceEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The source from which the *applied* policy value originated."
          }
        },
        "scope": {
          "target": "com.gcp.cloudidentity_v1beta1#ChromePolicyScopeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The scope at which the *applied* policy value is set (USER or MACHINE)."
          }
        },
        "conflicts": {
          "target": "com.gcp.cloudidentity_v1beta1#PolicyConflictList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of other policy values for the same policy name that were not applied due to lower precedence. This field is empty if there were no conflicts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Chrome policy and its current state."
      }
    },
    "com.gcp.cloudidentity_v1beta1#ChromePolicySourceEnum": {
      "type": "enum",
      "members": {
        "SOURCE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_UNKNOWN"
          }
        },
        "ENTERPRISE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE_DEFAULT"
          }
        },
        "CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD"
          }
        },
        "ACTIVE_DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_DIRECTORY"
          }
        },
        "DEVICE_LOCAL_ACCOUNT_OVERRIDE_DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_LOCAL_ACCOUNT_OVERRIDE_DEPRECATED"
          }
        },
        "PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM"
          }
        },
        "PRIORITY_CLOUD_DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_CLOUD_DEPRECATED"
          }
        },
        "MERGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGED"
          }
        },
        "COMMAND_LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_LINE"
          }
        },
        "CLOUD_FROM_ASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_FROM_ASH"
          }
        },
        "RESTRICTED_MANAGED_GUEST_SESSION_OVERRIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTED_MANAGED_GUEST_SESSION_OVERRIDE"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#ChromePolicyScopeEnum": {
      "type": "enum",
      "members": {
        "SCOPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNKNOWN"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "MACHINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MACHINE"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#PolicyConflictList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1beta1#PolicyConflict"
      }
    },
    "com.gcp.cloudidentity_v1beta1#AndroidAttributes": {
      "type": "structure",
      "members": {
        "verifyAppsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Google Play Protect Verify Apps is enabled."
          }
        },
        "hasPotentiallyHarmfulApps": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether any potentially harmful apps were detected on the device."
          }
        },
        "enabledUnknownSources": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether applications from unknown sources can be installed on device."
          }
        },
        "ctsProfileMatch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the device passes Android CTS compliance."
          }
        },
        "ownershipPrivilege": {
          "target": "com.gcp.cloudidentity_v1beta1#AndroidAttributesOwnershipPrivilegeEnum",
          "traits": {
            "smithy.api#documentation": "Ownership privileges on device."
          }
        },
        "ownerProfileAccount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles."
          }
        },
        "verifiedBoot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Android verified boot status is GREEN."
          }
        },
        "supportsWorkProfile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource representing the Android specific attributes of a Device."
      }
    },
    "com.gcp.cloudidentity_v1beta1#AndroidAttributesOwnershipPrivilegeEnum": {
      "type": "enum",
      "members": {
        "OWNERSHIP_PRIVILEGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_PRIVILEGE_UNSPECIFIED"
          }
        },
        "DEVICE_ADMINISTRATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_ADMINISTRATOR"
          }
        },
        "PROFILE_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFILE_OWNER"
          }
        },
        "DEVICE_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_OWNER"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#ExpiryDetail": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the `MembershipRole` will expire."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `MembershipRole` expiry details."
      }
    },
    "com.gcp.cloudidentity_v1beta1#ListInboundSsoAssignmentsResponse": {
      "type": "structure",
      "members": {
        "inboundSsoAssignments": {
          "target": "com.gcp.cloudidentity_v1beta1#InboundSsoAssignmentList",
          "traits": {
            "smithy.api#documentation": "The assignments."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the InboundSsoAssignmentsService.ListInboundSsoAssignments method."
      }
    },
    "com.gcp.cloudidentity_v1beta1#InboundSsoAssignmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1beta1#InboundSsoAssignment"
      }
    },
    "com.gcp.cloudidentity_v1beta1#DynamicGroupMetadata": {
      "type": "structure",
      "members": {
        "queries": {
          "target": "com.gcp.cloudidentity_v1beta1#DynamicGroupQueryList",
          "traits": {
            "smithy.api#documentation": "Memberships will be the union of all queries. Only one entry with USER resource is currently supported. Customers can create up to 500 dynamic groups."
          }
        },
        "status": {
          "target": "com.gcp.cloudidentity_v1beta1#DynamicGroupStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the dynamic group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dynamic group metadata like queries and status."
      }
    },
    "com.gcp.cloudidentity_v1beta1#DynamicGroupQueryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1beta1#DynamicGroupQuery"
      }
    },
    "com.gcp.cloudidentity_v1beta1#ListPoliciesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token to retrieve the next page of results. If this field is empty, there are no subsequent pages."
          }
        },
        "policies": {
          "target": "com.gcp.cloudidentity_v1beta1#PolicyList",
          "traits": {
            "smithy.api#documentation": "The results"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for PoliciesService.ListPolicies."
      }
    },
    "com.gcp.cloudidentity_v1beta1#PolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1beta1#Policy"
      }
    },
    "com.gcp.cloudidentity_v1beta1#CancelWipeDeviceUserResponse": {
      "type": "structure",
      "members": {
        "deviceUser": {
          "target": "com.gcp.cloudidentity_v1beta1#DeviceUser",
          "traits": {
            "smithy.api#documentation": "Resultant DeviceUser object for the action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for cancelling an unfinished user account wipe."
      }
    },
    "com.gcp.cloudidentity_v1beta1#ListClientStatesResponse": {
      "type": "structure",
      "members": {
        "clientStates": {
          "target": "com.gcp.cloudidentity_v1beta1#ClientStateList",
          "traits": {
            "smithy.api#documentation": "Client states meeting the list restrictions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results. Empty if there are no more results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message that is returned in LRO result of ListClientStates Operation."
      }
    },
    "com.gcp.cloudidentity_v1beta1#ClientStateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1beta1#ClientState"
      }
    },
    "com.gcp.cloudidentity_v1beta1#MembershipAdjacencyList": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the group that the members belong to."
          }
        },
        "edges": {
          "target": "com.gcp.cloudidentity_v1beta1#MembershipList",
          "traits": {
            "smithy.api#documentation": "Each edge contains information about the member that belongs to this group. Note: Fields returned here will help identify the specific Membership resource (e.g `name`, `preferred_member_key` and `role`), but may not be a comprehensive list of all fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Membership graph's path information as an adjacency list."
      }
    },
    "com.gcp.cloudidentity_v1beta1#MembershipList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1beta1#Membership"
      }
    },
    "com.gcp.cloudidentity_v1beta1#TransitiveMembershipRole": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TransitiveMembershipRole in string format. Currently supported TransitiveMembershipRoles: `\"MEMBER\"`, `\"OWNER\"`, and `\"MANAGER\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message representing the role of a TransitiveMembership."
      }
    },
    "com.gcp.cloudidentity_v1beta1#LookupMembershipNameResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Membership`. Must be of the form `groups/{group_id}/memberships/{membership_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for MembershipsService.LookupMembershipName."
      }
    },
    "com.gcp.cloudidentity_v1beta1#CreateInboundSsoAssignmentOperationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundSsoAssignmentsService.CreateInboundSsoAssignment."
      }
    },
    "com.gcp.cloudidentity_v1beta1#Setting": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.gcp.cloudidentity_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Required. The value of the Setting."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The type of the Setting. ."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Setting"
      }
    },
    "com.gcp.cloudidentity_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for WipeDevice LRO."
      }
    },
    "com.gcp.cloudidentity_v1beta1#ClientState": {
      "type": "structure",
      "members": {
        "lastUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the client state data was last updated."
          }
        },
        "managed": {
          "target": "com.gcp.cloudidentity_v1beta1#ClientStateManagedEnum",
          "traits": {
            "smithy.api#documentation": "The management state of the resource as specified by the API client."
          }
        },
        "keyValuePairs": {
          "target": "com.gcp.cloudidentity_v1beta1#CustomAttributeValueMap",
          "traits": {
            "smithy.api#documentation": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map."
          }
        },
        "scoreReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A descriptive cause of the health score."
          }
        },
        "customId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest"
          }
        },
        "complianceState": {
          "target": "com.gcp.cloudidentity_v1beta1#ClientStateComplianceStateEnum",
          "traits": {
            "smithy.api#documentation": "The compliance state of the resource as specified by the API client."
          }
        },
        "assetTags": {
          "target": "com.gcp.cloudidentity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The caller can specify asset tags for this resource"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the client state data was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientState/{partner_id}`, where partner_id corresponds to the partner storing the data."
          }
        },
        "healthScore": {
          "target": "com.gcp.cloudidentity_v1beta1#ClientStateHealthScoreEnum",
          "traits": {
            "smithy.api#documentation": "The Health score of the resource"
          }
        },
        "ownerType": {
          "target": "com.gcp.cloudidentity_v1beta1#ClientStateOwnerTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The owner of the ClientState"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users"
      }
    },
    "com.gcp.cloudidentity_v1beta1#ClientStateManagedEnum": {
      "type": "enum",
      "members": {
        "MANAGED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED_STATE_UNSPECIFIED"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED"
          }
        },
        "UNMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNMANAGED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#CustomAttributeValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.cloudidentity_v1beta1#CustomAttributeValue"
      }
    },
    "com.gcp.cloudidentity_v1beta1#ClientStateComplianceStateEnum": {
      "type": "enum",
      "members": {
        "COMPLIANCE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANCE_STATE_UNSPECIFIED"
          }
        },
        "COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANT"
          }
        },
        "NON_COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_COMPLIANT"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudidentity_v1beta1#ClientStateHealthScoreEnum": {
      "type": "enum",
      "members": {
        "HEALTH_SCORE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH_SCORE_UNSPECIFIED"
          }
        },
        "VERY_POOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_POOR"
          }
        },
        "POOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POOR"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEUTRAL"
          }
        },
        "GOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOD"
          }
        },
        "VERY_GOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_GOOD"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#ClientStateOwnerTypeEnum": {
      "type": "enum",
      "members": {
        "OWNER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER_TYPE_UNSPECIFIED"
          }
        },
        "OWNER_TYPE_CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER_TYPE_CUSTOMER"
          }
        },
        "OWNER_TYPE_PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER_TYPE_PARTNER"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#SignInBehavior": {
      "type": "structure",
      "members": {
        "redirectCondition": {
          "target": "com.gcp.cloudidentity_v1beta1#SignInBehaviorRedirectConditionEnum",
          "traits": {
            "smithy.api#documentation": "When to redirect sign-ins to the IdP."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls sign-in behavior."
      }
    },
    "com.gcp.cloudidentity_v1beta1#SignInBehaviorRedirectConditionEnum": {
      "type": "enum",
      "members": {
        "REDIRECT_CONDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_CONDITION_UNSPECIFIED"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEVER"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#MembershipRole": {
      "type": "structure",
      "members": {
        "expiryDetail": {
          "target": "com.gcp.cloudidentity_v1beta1#ExpiryDetail",
          "traits": {
            "smithy.api#documentation": "The expiry details of the `MembershipRole`. Expiry details are only supported for `MEMBER` `MembershipRoles`. May be set if `name` is `MEMBER`. Must not be set if `name` is any other value."
          }
        },
        "restrictionEvaluations": {
          "target": "com.gcp.cloudidentity_v1beta1#RestrictionEvaluations",
          "traits": {
            "smithy.api#documentation": "Evaluations of restrictions applied to parent group on this membership."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the `MembershipRole`. Must be one of `OWNER`, `MANAGER`, `MEMBER`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A membership role within the Cloud Identity Groups API. A `MembershipRole` defines the privileges granted to a `Membership`."
      }
    },
    "com.gcp.cloudidentity_v1beta1#CancelUserInvitationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to cancel sent invitation for target email in UserInvitation."
      }
    },
    "com.gcp.cloudidentity_v1beta1#ApproveDeviceUserResponse": {
      "type": "structure",
      "members": {
        "deviceUser": {
          "target": "com.gcp.cloudidentity_v1beta1#DeviceUser",
          "traits": {
            "smithy.api#documentation": "Resultant DeviceUser object for the action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for approving the device to access user data."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1BrowserInfo": {
      "type": "structure",
      "members": {
        "isBulkDataEntryAnalysisEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [bulk data analysis](https://chromeenterprise.google/policies/#OnBulkDataEntryEnterpriseConnector). Set to true if provider list from Chrome is non-empty."
          }
        },
        "isChromeCleanupEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: This field is not used for Chrome version 118 and later. Current state of [Chrome Cleanup](https://chromeenterprise.google/policies/#ChromeCleanupEnabled)."
          }
        },
        "isThirdPartyBlockingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [third-party blocking](https://chromeenterprise.google/policies/#ThirdPartyBlockingEnabled)."
          }
        },
        "isBuiltInDnsClientEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [built-in DNS client](https://chromeenterprise.google/policies/#BuiltInDnsClientEnabled)."
          }
        },
        "isSecurityEventAnalysisEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [security event analysis](https://chromeenterprise.google/policies/#OnSecurityEventEnterpriseConnector). Set to true if provider list from Chrome is non-empty."
          }
        },
        "browserVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the request initiating browser. E.g. `91.0.4442.4`."
          }
        },
        "browserManagementState": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1BrowserInfoBrowserManagementStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Browser's management state."
          }
        },
        "isChromeRemoteDesktopAppBlocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [Chrome Remote Desktop app](https://chromeenterprise.google/policies/#URLBlocklist)."
          }
        },
        "isRealtimeUrlCheckEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [real-time URL check](https://chromeenterprise.google/policies/#EnterpriseRealTimeUrlCheckMode). Set to true if provider list from Chrome is non-empty."
          }
        },
        "safeBrowsingProtectionLevel": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1BrowserInfoSafeBrowsingProtectionLevelEnum",
          "traits": {
            "smithy.api#documentation": "Current state of [Safe Browsing protection level](https://chromeenterprise.google/policies/#SafeBrowsingProtectionLevel)."
          }
        },
        "passwordProtectionWarningTrigger": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1BrowserInfoPasswordProtectionWarningTriggerEnum",
          "traits": {
            "smithy.api#documentation": "Current state of [password protection trigger](https://chromeenterprise.google/policies/#PasswordProtectionWarningTrigger)."
          }
        },
        "isFileDownloadAnalysisEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [file download analysis](https://chromeenterprise.google/policies/#OnFileDownloadedEnterpriseConnector). Set to true if provider list from Chrome is non-empty."
          }
        },
        "isFileUploadAnalysisEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [file upload analysis](https://chromeenterprise.google/policies/#OnFileAttachedEnterpriseConnector). Set to true if provider list from Chrome is non-empty."
          }
        },
        "isSiteIsolationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [site isolation](https://chromeenterprise.google/policies/?policy=IsolateOrigins)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Browser-specific fields reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1)."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1BrowserInfoBrowserManagementStateEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNMANAGED"
          }
        },
        "MANAGED_BY_OTHER_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED_BY_OTHER_DOMAIN"
          }
        },
        "PROFILE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFILE_MANAGED"
          }
        },
        "BROWSER_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BROWSER_MANAGED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1BrowserInfoSafeBrowsingProtectionLevelEnum": {
      "type": "enum",
      "members": {
        "SAFE_BROWSING_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAFE_BROWSING_LEVEL_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENHANCED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1BrowserInfoPasswordProtectionWarningTriggerEnum": {
      "type": "enum",
      "members": {
        "PASSWORD_PROTECTION_TRIGGER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_PROTECTION_TRIGGER_UNSPECIFIED"
          }
        },
        "PROTECTION_OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTION_OFF"
          }
        },
        "PASSWORD_REUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_REUSE"
          }
        },
        "PHISHING_REUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHISHING_REUSE"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#SearchGroupsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
          }
        },
        "groups": {
          "target": "com.gcp.cloudidentity_v1beta1#GroupList",
          "traits": {
            "smithy.api#documentation": "The `Group` resources that match the search query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for GroupsService.SearchGroups."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1beta1#Group"
      }
    },
    "com.gcp.cloudidentity_v1beta1#PolicyQuery": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The group that the query applies to. This field is only set if there is a single value for group that satisfies all clauses of the query. If no group applies, this will be the empty string."
          }
        },
        "orgUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Non-empty default. The OrgUnit the query applies to. This field is only set if there is a single value for org_unit that satisfies all clauses of the query."
          }
        },
        "sortOrder": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The decimal sort order of this PolicyQuery. The value is relative to all other policies with the same setting type for the customer. (There are no duplicates within this set)."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The CEL query that defines which entities the Policy applies to (ex. a User entity). For details about CEL see https://opensource.google.com/projects/cel. The OrgUnits the Policy applies to are represented by a clause like so: entity.org_units.exists(org_unit, org_unit.org_unit_id == orgUnitId('{orgUnitId}')) The Group the Policy applies to are represented by a clause like so: entity.groups.exists(group, group.group_id == groupId('{groupId}')) The Licenses the Policy applies to are represented by a clause like so: entity.licenses.exists(license, license in ['/product/{productId}/sku/{skuId}']) **Note:** The licenses clause is not supported in mutate endpoints. The above clauses can be present in any combination, and used in conjunction with the &&, || and ! operators. The org_unit and group fields below are helper fields that contain the corresponding value(s) as the query to make the query easier to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PolicyQuery"
      }
    },
    "com.gcp.cloudidentity_v1beta1#CertificateTemplate": {
      "type": "structure",
      "members": {
        "minorVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minor version of the template. Example: 12."
          }
        },
        "majorVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Major version of the template. Example: 100."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The template id of the template. Example: \"1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CertificateTemplate (v3 Extension in X.509)."
      }
    },
    "com.gcp.cloudidentity_v1beta1#OrgMembership": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The [resource name](https://cloud.google.com/apis/design/resource_names) of the OrgMembership. Format: orgUnits/{$orgUnitId}/memberships/{$membership} The `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits). The `$membership` shall be of the form `{$entityType};{$memberId}`, where `$entityType` is the enum value of [OrgMembership.EntityType], and `memberId` is the `id` from [Drive API (V3) `Drive` resource](https://developers.google.com/drive/api/v3/reference/drives#resource) for OrgMembership.EntityType.SHARED_DRIVE."
          }
        },
        "type": {
          "target": "com.gcp.cloudidentity_v1beta1#OrgMembershipTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. Entity type for the org member."
          }
        },
        "member": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Org member id as full resource name. Format for shared drive resource: //drive.googleapis.com/drives/{$memberId} where `$memberId` is the `id` from [Drive API (V3) `Drive` resource](https://developers.google.com/drive/api/v3/reference/drives#resource)."
          }
        },
        "memberUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uri with which you can read the member. This follows https://aip.dev/122 Format for shared drive resource: https://drive.googleapis.com/drive/v3/drives/{$memberId} where `$memberId` is the `id` from [Drive API (V3) `Drive` resource](https://developers.google.com/drive/api/v3/reference/drives#resource)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A membership in an OrgUnit. An `OrgMembership` defines a relationship between an `OrgUnit` and an entity belonging to that `OrgUnit`, referred to as a \"member\"."
      }
    },
    "com.gcp.cloudidentity_v1beta1#OrgMembershipTypeEnum": {
      "type": "enum",
      "members": {
        "ENTITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_TYPE_UNSPECIFIED"
          }
        },
        "SHARED_DRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_DRIVE"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1BrowserAttributes": {
      "type": "structure",
      "members": {
        "chromeBrowserInfo": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1BrowserInfo",
          "traits": {
            "smithy.api#documentation": "Represents the current state of the [Chrome browser attributes](https://cloud.google.com/access-context-manager/docs/browser-attributes) sent by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1)."
          }
        },
        "lastProfileSyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds since the Unix epoch when the profile/gcm id was last synced."
          }
        },
        "chromeProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Chrome profile ID that is exposed by the Chrome API. It is unique for each device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about browser profiles reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1)."
      }
    },
    "com.gcp.cloudidentity_v1beta1#BrowserAttributes": {
      "type": "structure",
      "members": {
        "chromeProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Chrome profile ID that is exposed by the Chrome API. It is unique for each device."
          }
        },
        "chromeBrowserInfo": {
          "target": "com.gcp.cloudidentity_v1beta1#BrowserInfo",
          "traits": {
            "smithy.api#documentation": "Represents the current state of the [Chrome browser attributes](https://cloud.google.com/access-context-manager/docs/browser-attributes) sent by the clients on the device, such as [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1)."
          }
        },
        "lastProfileSyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds since the Unix epoch when the profile/gcm id was last synced."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about browser profiles reported by the clients on the device (e.g. [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1))."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for WipeDeviceUser LRO."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for UpdateDevice LRO."
      }
    },
    "com.gcp.cloudidentity_v1beta1#AddIdpCredentialOperationMetadata": {
      "type": "structure",
      "members": {
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundSamlSsoProfilesService.AddIdpCredential."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for SignoutDeviceUser LRO."
      }
    },
    "com.gcp.cloudidentity_v1beta1#CustomAttributeValue": {
      "type": "structure",
      "members": {
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Represents a boolean value."
          }
        },
        "numberValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Represents a double value."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents a string value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional custom attribute values may be one of these types"
      }
    },
    "com.gcp.cloudidentity_v1beta1#SecuritySettings": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`."
          }
        },
        "memberRestriction": {
          "target": "com.gcp.cloudidentity_v1beta1#MemberRestriction",
          "traits": {
            "smithy.api#documentation": "The Member Restriction value"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definiion of security settings."
      }
    },
    "com.gcp.cloudidentity_v1beta1#InboundOidcSsoProfile": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the OIDC SSO profile."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the OIDC SSO profile."
          }
        },
        "idpConfig": {
          "target": "com.gcp.cloudidentity_v1beta1#OidcIdpConfig",
          "traits": {
            "smithy.api#documentation": "OIDC identity provider configuration."
          }
        },
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The customer. For example: `customers/C0123abc`."
          }
        },
        "rpConfig": {
          "target": "com.gcp.cloudidentity_v1beta1#OidcRpConfig",
          "traits": {
            "smithy.api#documentation": "OIDC relying party (RP) configuration for this OIDC SSO profile. These are the RP details provided by Google that should be configured on the corresponding identity provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An [OIDC](https://openid.net/developers/how-connect-works/) federation between a Google enterprise customer and an OIDC identity provider."
      }
    },
    "com.gcp.cloudidentity_v1beta1#PolicyConflict": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.gcp.cloudidentity_v1beta1#PolicyConflictSourceEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The source from which this lower-priority policy value originated."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The policy value from this lower-priority source."
          }
        },
        "scope": {
          "target": "com.gcp.cloudidentity_v1beta1#PolicyConflictScopeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The scope at which this lower-priority policy is set (USER or MACHINE)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a policy value from a source that was not applied because a higher-priority source took precedence."
      }
    },
    "com.gcp.cloudidentity_v1beta1#PolicyConflictSourceEnum": {
      "type": "enum",
      "members": {
        "SOURCE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_UNKNOWN"
          }
        },
        "ENTERPRISE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE_DEFAULT"
          }
        },
        "CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD"
          }
        },
        "ACTIVE_DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_DIRECTORY"
          }
        },
        "DEVICE_LOCAL_ACCOUNT_OVERRIDE_DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_LOCAL_ACCOUNT_OVERRIDE_DEPRECATED"
          }
        },
        "PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM"
          }
        },
        "PRIORITY_CLOUD_DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_CLOUD_DEPRECATED"
          }
        },
        "MERGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGED"
          }
        },
        "COMMAND_LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_LINE"
          }
        },
        "CLOUD_FROM_ASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_FROM_ASH"
          }
        },
        "RESTRICTED_MANAGED_GUEST_SESSION_OVERRIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTED_MANAGED_GUEST_SESSION_OVERRIDE"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#PolicyConflictScopeEnum": {
      "type": "enum",
      "members": {
        "SCOPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNKNOWN"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "MACHINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MACHINE"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#LookupGroupNameResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Group`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for GroupsService.LookupGroupName."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for BlockDeviceUser LRO."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse": {
      "type": "structure",
      "members": {
        "device": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1Device",
          "traits": {
            "smithy.api#documentation": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for cancelling an unfinished device wipe."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1Device": {
      "type": "structure",
      "members": {
        "imei": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. IMEI number of device if GSM device; empty otherwise."
          }
        },
        "ownerType": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1DeviceOwnerTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the device is owned by the company or an individual"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique id assigned to the Device. Important: Device API scopes require that you use domain-wide delegation to access the API. For more information, see [Set up the Devices API](https://cloud.google.com/identity/docs/how-to/setup-devices)."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Model name of device. Example: Pixel 3."
          }
        },
        "manufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device manufacturer. Example: Motorola."
          }
        },
        "enabledUsbDebugging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether USB debugging is enabled on device."
          }
        },
        "kernelVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Kernel version of the device."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serial Number of device. Example: HT82V1A01076."
          }
        },
        "encryptionState": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1DeviceEncryptionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Device encryption state."
          }
        },
        "endpointVerificationSpecificAttributes": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes",
          "traits": {
            "smithy.api#documentation": "Output only. Attributes specific to [Endpoint Verification](https://cloud.google.com/endpoint-verification/docs/overview) devices."
          }
        },
        "deviceType": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1DeviceDeviceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of device."
          }
        },
        "securityPatchTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. OS security patch update time on device."
          }
        },
        "androidSpecificAttributes": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1AndroidAttributes",
          "traits": {
            "smithy.api#documentation": "Output only. Attributes specific to Android devices."
          }
        },
        "assetTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset tag of the device."
          }
        },
        "buildNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Build number of the device."
          }
        },
        "unifiedDeviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unified device id of the device."
          }
        },
        "managementState": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1DeviceManagementStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Management state of the device"
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the device."
          }
        },
        "enabledDeveloperOptions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether developer options is enabled on device."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host name of the device."
          }
        },
        "networkOperator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Mobile or network operator of device, if available."
          }
        },
        "compromisedState": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1DeviceCompromisedStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Represents whether the Device is compromised."
          }
        },
        "lastSyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent time when device synced with this service."
          }
        },
        "wifiMacAddresses": {
          "target": "com.gcp.cloudidentity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "WiFi MAC addresses of device."
          }
        },
        "basebandVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Baseband version of the device."
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. OS version of the device. Example: Android 8.1.0."
          }
        },
        "releaseVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. OS release version. Example: 6.0."
          }
        },
        "meid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. MEID number of device if CDMA device; empty otherwise."
          }
        },
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device brand. Example: Samsung."
          }
        },
        "otherAccounts": {
          "target": "com.gcp.cloudidentity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\"."
          }
        },
        "bootloaderVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device bootloader version. Example: 0.6.7."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1DeviceOwnerTypeEnum": {
      "type": "enum",
      "members": {
        "DEVICE_OWNERSHIP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_OWNERSHIP_UNSPECIFIED"
          }
        },
        "COMPANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY"
          }
        },
        "BYOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYOD"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1DeviceEncryptionStateEnum": {
      "type": "enum",
      "members": {
        "ENCRYPTION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_STATE_UNSPECIFIED"
          }
        },
        "UNSUPPORTED_BY_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_BY_DEVICE"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "NOT_ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ENCRYPTED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1DeviceDeviceTypeEnum": {
      "type": "enum",
      "members": {
        "DEVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_UNSPECIFIED"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS"
          }
        },
        "GOOGLE_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SYNC"
          }
        },
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS"
          }
        },
        "MAC_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAC_OS"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINUX"
          }
        },
        "CHROME_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_OS"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1DeviceManagementStateEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_STATE_UNSPECIFIED"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "UNPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNPROVISIONED"
          }
        },
        "WIPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIPING"
          }
        },
        "WIPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIPED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1DeviceCompromisedStateEnum": {
      "type": "enum",
      "members": {
        "COMPROMISED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISED_STATE_UNSPECIFIED"
          }
        },
        "COMPROMISED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISED"
          }
        },
        "UNCOMPROMISED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNCOMPROMISED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for DeleteDevice LRO."
      }
    },
    "com.gcp.cloudidentity_v1beta1#DeleteInboundSamlSsoProfileOperationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundSamlSsoProfilesService.DeleteInboundSamlSsoProfile."
      }
    },
    "com.gcp.cloudidentity_v1beta1#CreateInboundOidcSsoProfileOperationMetadata": {
      "type": "structure",
      "members": {
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of this Operation Will be \"awaiting-multi-party-approval\" when the operation is deferred due to the target customer having enabled [Multi-party approval for sensitive actions](https://support.google.com/a/answer/13790448)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundOidcSsoProfilesService.CreateInboundOidcSsoProfile."
      }
    },
    "com.gcp.cloudidentity_v1beta1#DeleteIdpCredentialOperationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundSamlSsoProfilesService.DeleteIdpCredential."
      }
    },
    "com.gcp.cloudidentity_v1beta1#EndpointVerificationSpecificAttributes": {
      "type": "structure",
      "members": {
        "certificateAttributes": {
          "target": "com.gcp.cloudidentity_v1beta1#CertificateAttributesList",
          "traits": {
            "smithy.api#documentation": "Details of certificates."
          }
        },
        "browserAttributes": {
          "target": "com.gcp.cloudidentity_v1beta1#BrowserAttributesList",
          "traits": {
            "smithy.api#documentation": "Details of browser profiles reported by Endpoint Verification."
          }
        },
        "additionalSignals": {
          "target": "com.gcp.cloudidentity_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "[Additional signals](https://cloud.google.com/endpoint-verification/docs/device-information) reported by Endpoint Verification. It includes the following attributes: * Non-configurable attributes: hotfixes, av_installed, av_enabled, windows_domain_name, is_os_native_firewall_enabled, and is_secure_boot_enabled. * [Configurable attributes](https://cloud.google.com/endpoint-verification/docs/collect-config-attributes): file, folder, and binary attributes; registry entries; and properties in a plist."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource representing the [Endpoint Verification-specific attributes](https://cloud.google.com/endpoint-verification/docs/device-information) of a device."
      }
    },
    "com.gcp.cloudidentity_v1beta1#CertificateAttributesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1beta1#CertificateAttributes"
      }
    },
    "com.gcp.cloudidentity_v1beta1#BrowserAttributesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1beta1#BrowserAttributes"
      }
    },
    "com.gcp.cloudidentity_v1beta1#DsaPublicKeyInfo": {
      "type": "structure",
      "members": {
        "keySize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Key size in bits (size of parameter P)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of a DSA public key."
      }
    },
    "com.gcp.cloudidentity_v1beta1#ListGroupsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
          }
        },
        "groups": {
          "target": "com.gcp.cloudidentity_v1beta1#GroupList",
          "traits": {
            "smithy.api#documentation": "The `Group` resources under the specified `parent`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for GroupsService.ListGroups."
      }
    },
    "com.gcp.cloudidentity_v1beta1#ListIdpCredentialsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "idpCredentials": {
          "target": "com.gcp.cloudidentity_v1beta1#IdpCredentialList",
          "traits": {
            "smithy.api#documentation": "The IdpCredentials from the specified InboundSamlSsoProfile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the InboundSamlSsoProfilesService.ListIdpCredentials method."
      }
    },
    "com.gcp.cloudidentity_v1beta1#IdpCredentialList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1beta1#IdpCredential"
      }
    },
    "com.gcp.cloudidentity_v1beta1#BlockDeviceUserResponse": {
      "type": "structure",
      "members": {
        "deviceUser": {
          "target": "com.gcp.cloudidentity_v1beta1#DeviceUser",
          "traits": {
            "smithy.api#documentation": "Resultant DeviceUser object for the action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for blocking the device from accessing user data."
      }
    },
    "com.gcp.cloudidentity_v1beta1#PosixGroup": {
      "type": "structure",
      "members": {
        "gid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GID of the POSIX group."
          }
        },
        "systemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System identifier for which group name and gid apply to. If not specified it will default to empty value."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the POSIX group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "POSIX Group definition to represent a group in a POSIX compliant system. Caution: POSIX groups are deprecated. As of September 26, 2024, you can no longer create new POSIX groups. For more information, see https://cloud.google.com/identity/docs/deprecations/posix-groups"
      }
    },
    "com.gcp.cloudidentity_v1beta1#WipeDeviceResponse": {
      "type": "structure",
      "members": {
        "device": {
          "target": "com.gcp.cloudidentity_v1beta1#Device",
          "traits": {
            "smithy.api#documentation": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for wiping all data on the device."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for CreateDevice LRO."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1AndroidAttributes": {
      "type": "structure",
      "members": {
        "supportsWorkProfile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy."
          }
        },
        "ownerProfileAccount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles."
          }
        },
        "verifiedBoot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Android verified boot status is GREEN."
          }
        },
        "ownershipPrivilege": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1AndroidAttributesOwnershipPrivilegeEnum",
          "traits": {
            "smithy.api#documentation": "Ownership privileges on device."
          }
        },
        "ctsProfileMatch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the device passes Android CTS compliance."
          }
        },
        "enabledUnknownSources": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether applications from unknown sources can be installed on device."
          }
        },
        "verifyAppsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Google Play Protect Verify Apps is enabled."
          }
        },
        "hasPotentiallyHarmfulApps": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether any potentially harmful apps were detected on the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource representing the Android specific attributes of a Device."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1AndroidAttributesOwnershipPrivilegeEnum": {
      "type": "enum",
      "members": {
        "OWNERSHIP_PRIVILEGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_PRIVILEGE_UNSPECIFIED"
          }
        },
        "DEVICE_ADMINISTRATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_ADMINISTRATOR"
          }
        },
        "PROFILE_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFILE_OWNER"
          }
        },
        "DEVICE_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_OWNER"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse": {
      "type": "structure",
      "members": {
        "deviceUser": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1DeviceUser",
          "traits": {
            "smithy.api#documentation": "Resultant DeviceUser object for the action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for wiping the user's account from the device."
      }
    },
    "com.gcp.cloudidentity_v1beta1#ListOrgMembershipsResponse": {
      "type": "structure",
      "members": {
        "orgMemberships": {
          "target": "com.gcp.cloudidentity_v1beta1#OrgMembershipList",
          "traits": {
            "smithy.api#documentation": "The non-vacuous membership in an orgUnit."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for OrgMembershipsService.ListOrgMemberships."
      }
    },
    "com.gcp.cloudidentity_v1beta1#OrgMembershipList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1beta1#OrgMembership"
      }
    },
    "com.gcp.cloudidentity_v1beta1#UserInvitation": {
      "type": "structure",
      "members": {
        "mailsSentCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of invitation emails sent to the user."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shall be of the form `customers/{customer}/userinvitations/{user_email_address}`."
          }
        },
        "state": {
          "target": "com.gcp.cloudidentity_v1beta1#UserInvitationStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the `UserInvitation`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the `UserInvitation` was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `UserInvitation` resource represents an email that can be sent to an unmanaged user account inviting them to join the customer's Google Workspace or Cloud Identity account. An unmanaged account shares an email address domain with the Google Workspace or Cloud Identity account but is not managed by it yet. If the user accepts the `UserInvitation`, the user account will become managed."
      }
    },
    "com.gcp.cloudidentity_v1beta1#UserInvitationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "NOT_YET_SENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_YET_SENT"
          }
        },
        "INVITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVITED"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTED"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECLINED"
          }
        }
      }
    },
    "com.gcp.cloudidentity_v1beta1#Group": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The resource name of the entity under which this `Group` resides in the Cloud Identity resource hierarchy. Must be of the form `identitysources/{identity_source}` for external [identity-mapped groups](https://support.google.com/a/answer/9039510) or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793)"
          }
        },
        "groupKey": {
          "target": "com.gcp.cloudidentity_v1beta1#EntityKey",
          "traits": {
            "smithy.api#documentation": "Required. The `EntityKey` of the `Group`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the `Group`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An extended description to help users determine the purpose of a `Group`. Must not be longer than 4,096 characters."
          }
        },
        "dynamicGroupMetadata": {
          "target": "com.gcp.cloudidentity_v1beta1#DynamicGroupMetadata",
          "traits": {
            "smithy.api#documentation": "Optional. Dynamic group metadata like queries and status."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the `Group` was last updated."
          }
        },
        "labels": {
          "target": "com.gcp.cloudidentity_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Required. One or more label entries that apply to the Group. Labels contain a key with an empty value. Google Groups are the default type of group and have a label with a key of `cloudidentity.googleapis.com/groups.discussion_forum` and an empty value. Existing Google Groups can have an additional label with a key of `cloudidentity.googleapis.com/groups.security` and an empty value added to them. **This is an immutable change and the security label cannot be removed once added.** Dynamic groups have a label with a key of `cloudidentity.googleapis.com/groups.dynamic`. Identity-mapped groups for Cloud Search have a label with a key of `system/groups/external` and an empty value. Google Groups can be [locked](https://support.google.com/a?p=locked-groups). To lock a group, add a label with a key of `cloudidentity.googleapis.com/groups.locked` and an empty value. Doing so locks the group. To unlock the group, remove this label."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the `Group` was created."
          }
        },
        "posixGroups": {
          "target": "com.gcp.cloudidentity_v1beta1#PosixGroupList",
          "traits": {
            "smithy.api#documentation": "Optional. The POSIX groups associated with the `Group`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`."
          }
        },
        "additionalGroupKeys": {
          "target": "com.gcp.cloudidentity_v1beta1#EntityKeyList",
          "traits": {
            "smithy.api#documentation": "Output only. Additional group keys associated with the Group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A group within the Cloud Identity Groups API. A `Group` is a collection of entities, where each entity is either a user, another group, or a service account."
      }
    },
    "com.gcp.cloudidentity_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudidentity_v1beta1#PosixGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1beta1#PosixGroup"
      }
    },
    "com.gcp.cloudidentity_v1beta1#EntityKeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudidentity_v1beta1#EntityKey"
      }
    },
    "com.gcp.cloudidentity_v1beta1#SendUserInvitationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A request to send email for inviting target user corresponding to the UserInvitation."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse": {
      "type": "structure",
      "members": {
        "deviceUser": {
          "target": "com.gcp.cloudidentity_v1beta1#GoogleAppsCloudidentityDevicesV1DeviceUser",
          "traits": {
            "smithy.api#documentation": "Resultant DeviceUser object for the action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for approving the device to access user data."
      }
    },
    "com.gcp.cloudidentity_v1beta1#RestrictionEvaluations": {
      "type": "structure",
      "members": {
        "memberRestrictionEvaluation": {
          "target": "com.gcp.cloudidentity_v1beta1#MembershipRoleRestrictionEvaluation",
          "traits": {
            "smithy.api#documentation": "Evaluation of the member restriction applied to this membership. Empty if the user lacks permission to view the restriction evaluation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evaluations of restrictions applied to parent group on this membership."
      }
    },
    "com.gcp.cloudidentity_v1beta1#OidcRpConfig": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth2 client ID for OIDC."
          }
        },
        "redirectUris": {
          "target": "com.gcp.cloudidentity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The URL(s) that this client may use in authentication requests."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. OAuth2 client secret for OIDC."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OIDC RP (relying party) configuration."
      }
    },
    "com.gcp.cloudidentity_v1beta1#MemberRestriction": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Member Restriction as defined by CEL expression. Supported restrictions are: `member.customer_id` and `member.type`. Valid values for `member.type` are `1`, `2` and `3`. They correspond to USER, SERVICE_ACCOUNT, and GROUP respectively. The value for `member.customer_id` only supports `groupCustomerId()` currently which means the customer id of the group will be used for restriction. Supported operators are `&&`, `||` and `==`, corresponding to AND, OR, and EQUAL. Examples: Allow only service accounts of given customer to be members. `member.type == 2 && member.customer_id == groupCustomerId()` Allow only users or groups to be members. `member.type == 1 || member.type == 3`"
          }
        },
        "evaluation": {
          "target": "com.gcp.cloudidentity_v1beta1#RestrictionEvaluation",
          "traits": {
            "smithy.api#documentation": "The evaluated state of this restriction on a group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of MemberRestriction"
      }
    },
    "com.gcp.cloudidentity_v1beta1#AddIdpCredentialRequest": {
      "type": "structure",
      "members": {
        "pemData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PEM encoded x509 certificate containing the public key for verifying IdP signatures."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for creating an IdpCredential with its associated payload. An InboundSamlSsoProfile can own up to 2 credentials."
      }
    },
    "com.gcp.cloudidentity_v1beta1#GroupRelation": {
      "type": "structure",
      "members": {
        "relationType": {
          "target": "com.gcp.cloudidentity_v1beta1#GroupRelationRelationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The relation between the member and the transitive group."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for this group."
          }
        },
        "groupKey": {
[...]
