{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudfunctions",
    "version": "v2beta",
    "title": "Cloud Functions API",
    "baseUrl": "https://cloudfunctions.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaLocationMetadata": {
      "type": "structure",
      "members": {
        "environments": {
          "target": "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaLocationMetadataEnvironmentsItemEnumList",
          "traits": {
            "smithy.api#documentation": "The Cloud Function environments this location supports."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Extra GCF specific location information."
      }
    },
    "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaLocationMetadataEnvironmentsItemEnum": {
      "type": "enum",
      "members": {
        "ENVIRONMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_UNSPECIFIED"
          }
        },
        "GEN_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN_1"
          }
        },
        "GEN_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN_2"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaLocationMetadataEnvironmentsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaLocationMetadataEnvironmentsItemEnum"
      }
    },
    "com.gcp.cloudfunctions_v2beta#GenerateDownloadUrlResponse": {
      "type": "structure",
      "members": {
        "downloadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The generated Google Cloud Storage signed URL that should be used for function source code download."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of `GenerateDownloadUrl` method."
      }
    },
    "com.gcp.cloudfunctions_v2beta#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudfunctions_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudfunctions_v2beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudfunctions_v2beta#ServiceConfig": {
      "type": "structure",
      "members": {
        "availableCpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of CPUs used in a single container instance. Default value is calculated from available memory. Supports the same values as Cloud Run, see https://cloud.google.com/run/docs/reference/rest/v1/Container#resourcerequirements Example: \"1\" indicates 1 vCPU"
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The function execution timeout. Execution is considered failed and can be terminated if the function is not completed at the end of the timeout period. Defaults to 60 seconds."
          }
        },
        "environmentVariables": {
          "target": "com.gcp.cloudfunctions_v2beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Environment variables that shall be available during function execution."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the service associated with a Function. The format of this field is `projects/{project}/locations/{region}/services/{service}`"
          }
        },
        "vpcConnectorEgressSettings": {
          "target": "com.gcp.cloudfunctions_v2beta#ServiceConfigVpcConnectorEgressSettingsEnum",
          "traits": {
            "smithy.api#documentation": "The egress settings for the connector, controlling what traffic is diverted through it."
          }
        },
        "directVpcNetworkInterface": {
          "target": "com.gcp.cloudfunctions_v2beta#DirectVpcNetworkInterfaceList",
          "traits": {
            "smithy.api#documentation": "Optional. The Direct VPC network interface for the Cloud Function. Currently only a single Direct VPC is supported."
          }
        },
        "binaryAuthorizationPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The binary authorization policy to be checked when deploying the Cloud Run service."
          }
        },
        "availableMemory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of memory available for a function. Defaults to 256M. Supported units are k, M, G, Mi, Gi. If no unit is supplied the value is interpreted as bytes. See https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go a full description."
          }
        },
        "maxInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The limit on the maximum number of function instances that may coexist at a given time. In some cases, such as rapid traffic surges, Cloud Functions may, for a short period of time, create more instances than the specified max instances limit. If your function cannot tolerate this temporary behavior, you may want to factor in a safety margin and set a lower max instances value than your function can tolerate. See the [Max Instances](https://cloud.google.com/functions/docs/max-instances) Guide for more details."
          }
        },
        "minInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The limit on the minimum number of function instances that may coexist at a given time. Function instances are kept in idle state for a short period after they finished executing the request to reduce cold start time for subsequent requests. Setting a minimum instance count will ensure that the given number of instances are kept running in idle state always. This can help with cold start times when jump in incoming request count occurs after the idle instance would have been stopped in the default case."
          }
        },
        "ingressSettings": {
          "target": "com.gcp.cloudfunctions_v2beta#ServiceConfigIngressSettingsEnum",
          "traits": {
            "smithy.api#documentation": "The ingress settings for the function, controlling what traffic can reach it."
          }
        },
        "allTrafficOnLatestRevision": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether 100% of traffic is routed to the latest revision. On CreateFunction and UpdateFunction, when set to true, the revision being deployed will serve 100% of traffic, ignoring any traffic split settings, if any. On GetFunction, true will be returned if the latest revision is serving 100% of traffic."
          }
        },
        "secretEnvironmentVariables": {
          "target": "com.gcp.cloudfunctions_v2beta#SecretEnvVarList",
          "traits": {
            "smithy.api#documentation": "Secret environment variables configuration."
          }
        },
        "vpcConnector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Serverless VPC Access connector that this cloud function can connect to. The format of this field is `projects/*/locations/*/connectors/*`."
          }
        },
        "secretVolumes": {
          "target": "com.gcp.cloudfunctions_v2beta#SecretVolumeList",
          "traits": {
            "smithy.api#documentation": "Secret volumes configuration."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the service's service account. If empty, defaults to `{project_number}-compute@developer.gserviceaccount.com`."
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of service revision."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URI of the Service deployed."
          }
        },
        "directVpcEgress": {
          "target": "com.gcp.cloudfunctions_v2beta#ServiceConfigDirectVpcEgressEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Egress settings for direct VPC. If not provided, it defaults to VPC_EGRESS_PRIVATE_RANGES_ONLY."
          }
        },
        "maxInstanceRequestConcurrency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sets the maximum number of concurrent requests that each instance can receive. Defaults to 1."
          }
        },
        "securityLevel": {
          "target": "com.gcp.cloudfunctions_v2beta#ServiceConfigSecurityLevelEnum",
          "traits": {
            "smithy.api#documentation": "Security level configure whether the function only accepts https. This configuration is only applicable to 1st Gen functions with Http trigger. By default https is optional for 1st Gen functions; 2nd Gen functions are https ONLY."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the Service being deployed. Currently Supported : Cloud Run (fully managed)."
      }
    },
    "com.gcp.cloudfunctions_v2beta#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudfunctions_v2beta#ServiceConfigVpcConnectorEgressSettingsEnum": {
      "type": "enum",
      "members": {
        "VPC_CONNECTOR_EGRESS_SETTINGS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_CONNECTOR_EGRESS_SETTINGS_UNSPECIFIED"
          }
        },
        "PRIVATE_RANGES_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_RANGES_ONLY"
          }
        },
        "ALL_TRAFFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_TRAFFIC"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#DirectVpcNetworkInterfaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#DirectVpcNetworkInterface"
      }
    },
    "com.gcp.cloudfunctions_v2beta#ServiceConfigIngressSettingsEnum": {
      "type": "enum",
      "members": {
        "INGRESS_SETTINGS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGRESS_SETTINGS_UNSPECIFIED"
          }
        },
        "ALLOW_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_ALL"
          }
        },
        "ALLOW_INTERNAL_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_INTERNAL_ONLY"
          }
        },
        "ALLOW_INTERNAL_AND_GCLB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_INTERNAL_AND_GCLB"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#SecretEnvVarList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#SecretEnvVar"
      }
    },
    "com.gcp.cloudfunctions_v2beta#SecretVolumeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#SecretVolume"
      }
    },
    "com.gcp.cloudfunctions_v2beta#ServiceConfigDirectVpcEgressEnum": {
      "type": "enum",
      "members": {
        "DIRECT_VPC_EGRESS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_VPC_EGRESS_UNSPECIFIED"
          }
        },
        "VPC_EGRESS_PRIVATE_RANGES_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_EGRESS_PRIVATE_RANGES_ONLY"
          }
        },
        "VPC_EGRESS_ALL_TRAFFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_EGRESS_ALL_TRAFFIC"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#ServiceConfigSecurityLevelEnum": {
      "type": "enum",
      "members": {
        "SECURITY_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_LEVEL_UNSPECIFIED"
          }
        },
        "SECURE_ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_ALWAYS"
          }
        },
        "SECURE_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_OPTIONAL"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.cloudfunctions_v2beta#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "members": {
          "target": "com.gcp.cloudfunctions_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.cloudfunctions_v2beta#ListRuntimesResponse": {
      "type": "structure",
      "members": {
        "runtimes": {
          "target": "com.gcp.cloudfunctions_v2beta#RuntimeList",
          "traits": {
            "smithy.api#documentation": "The runtimes that match the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListRuntimes` method."
      }
    },
    "com.gcp.cloudfunctions_v2beta#RuntimeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#Runtime"
      }
    },
    "com.gcp.cloudfunctions_v2beta#DetachFunctionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for the `DetachFunction` method."
      }
    },
    "com.gcp.cloudfunctions_v2beta#SetupFunctionUpgradeConfigRequest": {
      "type": "structure",
      "members": {
        "triggerServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The trigger's service account. The service account must have permission to invoke Cloud Run services, the permission is `run.routes.invoke`. If empty, defaults to the Compute Engine default service account: `{project_number}-compute@developer.gserviceaccount.com`."
          }
        },
        "buildConfigOverrides": {
          "target": "com.gcp.cloudfunctions_v2beta#BuildConfigOverrides",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies overrides for the build process."
          }
        },
        "serviceConfigOverrides": {
          "target": "com.gcp.cloudfunctions_v2beta#ServiceConfigOverrides",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies overrides for the service configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `SetupFunctionUpgradeConfig` method."
      }
    },
    "com.gcp.cloudfunctions_v2beta#SecretVolume": {
      "type": "structure",
      "members": {
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path within the container to mount the secret volume. For example, setting the mount_path as `/etc/secrets` would mount the secret value files under the `/etc/secrets` directory. This directory will also be completely shadowed and unavailable to mount any other secrets. Recommended mount path: /etc/secrets"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project identifier (preferably project number but can also be the project ID) of the project that contains the secret. If not set, it is assumed that the secret is in the same project as the function."
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the secret in secret manager (not the full resource name)."
          }
        },
        "versions": {
          "target": "com.gcp.cloudfunctions_v2beta#SecretVersionList",
          "traits": {
            "smithy.api#documentation": "List of secret versions to mount for this secret. If empty, the `latest` version of the secret will be made available in a file named after the secret under the mount point."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a secret volume. It has the information necessary to fetch the secret value from secret manager and make it available as files mounted at the requested paths within the application container."
      }
    },
    "com.gcp.cloudfunctions_v2beta#SecretVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#SecretVersion"
      }
    },
    "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaOperationMetadata": {
      "type": "structure",
      "members": {
        "requestResource": {
          "target": "com.gcp.cloudfunctions_v2beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The original request that started the operation."
          }
        },
        "customIamRoleDetected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether a custom IAM role binding was detected during the upgrade."
          }
        },
        "cancelRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable status of the operation, if any."
          }
        },
        "stages": {
          "target": "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaStageList",
          "traits": {
            "smithy.api#documentation": "Mechanism for reporting in-progress stages"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation was created."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API version used to start the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation finished running."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the verb executed by the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server-defined resource path for the target of the operation."
          }
        },
        "sourceToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for Firebase function sources. Disclaimer: This field is only supported for Firebase function deployments."
          }
        },
        "buildName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The build name of the function for create and update operations."
          }
        },
        "operationType": {
          "target": "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaOperationMetadataOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The operation type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.cloudfunctions_v2beta#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaStageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaStage"
      }
    },
    "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaOperationMetadataOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATIONTYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATIONTYPE_UNSPECIFIED"
          }
        },
        "CREATE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FUNCTION"
          }
        },
        "UPDATE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FUNCTION"
          }
        },
        "DELETE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FUNCTION"
          }
        },
        "REDIRECT_FUNCTION_UPGRADE_TRAFFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_FUNCTION_UPGRADE_TRAFFIC"
          }
        },
        "ROLLBACK_FUNCTION_UPGRADE_TRAFFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLBACK_FUNCTION_UPGRADE_TRAFFIC"
          }
        },
        "SETUP_FUNCTION_UPGRADE_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SETUP_FUNCTION_UPGRADE_CONFIG"
          }
        },
        "ABORT_FUNCTION_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORT_FUNCTION_UPGRADE"
          }
        },
        "COMMIT_FUNCTION_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT_FUNCTION_UPGRADE"
          }
        },
        "DETACH_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETACH_FUNCTION"
          }
        },
        "COMMIT_FUNCTION_UPGRADE_AS_GEN2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT_FUNCTION_UPGRADE_AS_GEN2"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#OnDeployUpdatePolicy": {
      "type": "structure",
      "members": {
        "runtimeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. contains the runtime version which was used during latest function deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Security patches are only applied when a function is redeployed."
      }
    },
    "com.gcp.cloudfunctions_v2beta#BuildConfig": {
      "type": "structure",
      "members": {
        "onDeployUpdatePolicy": {
          "target": "com.gcp.cloudfunctions_v2beta#OnDeployUpdatePolicy"
        },
        "environmentVariables": {
          "target": "com.gcp.cloudfunctions_v2beta#StringMap",
          "traits": {
            "smithy.api#documentation": "User-provided build-time environment variables for the function"
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The runtime in which to run the function. Required when deploying a new function, optional when updating an existing function. For a complete list of possible choices, see the [`gcloud` command reference](https://cloud.google.com/sdk/gcloud/reference/functions/deploy#--runtime)."
          }
        },
        "sourceProvenance": {
          "target": "com.gcp.cloudfunctions_v2beta#SourceProvenance",
          "traits": {
            "smithy.api#documentation": "Output only. A permanent fixed identifier for source."
          }
        },
        "automaticUpdatePolicy": {
          "target": "com.gcp.cloudfunctions_v2beta#AutomaticUpdatePolicy"
        },
        "source": {
          "target": "com.gcp.cloudfunctions_v2beta#Source",
          "traits": {
            "smithy.api#documentation": "The location of the function source code."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service account to be used for building the container. The format of this field is `projects/{projectId}/serviceAccounts/{serviceAccountEmail}`."
          }
        },
        "dockerRepository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository in Artifact Registry to which the function docker image will be pushed after it is built by Cloud Build. If specified by user, it is created and managed by user with a customer managed encryption key. Otherwise, GCF will create and use a repository named 'gcf-artifacts' for every deployed region. It must match the pattern `projects/{project}/locations/{location}/repositories/{repository}`. Repository format must be 'DOCKER'."
          }
        },
        "workerPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Cloud Build Custom Worker Pool that should be used to build the function. The format of this field is `projects/{project}/locations/{region}/workerPools/{workerPool}` where {project} and {region} are the project id and region respectively where the worker pool is defined and {workerPool} is the short name of the worker pool. If the project id is not the same as the function, then the Cloud Functions Service Agent (service-@gcf-admin-robot.iam.gserviceaccount.com) must be granted the role Cloud Build Custom Workers Builder (roles/cloudbuild.customworkers.builder) in the project."
          }
        },
        "entryPoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function (as defined in source code) that will be executed. Defaults to the resource name suffix, if not specified. For backward compatibility, if function with given name is not found, then the system will try to use function named \"function\". For Node.js this is name of a function exported by the module specified in `source_location`."
          }
        },
        "build": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Cloud Build name of the latest successful deployment of the function."
          }
        },
        "dockerRegistry": {
          "target": "com.gcp.cloudfunctions_v2beta#BuildConfigDockerRegistryEnum",
          "traits": {
            "smithy.api#documentation": "Docker Registry to use for this deployment. This configuration is only applicable to 1st Gen functions, 2nd Gen functions can only use Artifact Registry. Deprecated: as of March 2025, `CONTAINER_REGISTRY` option is no longer available in response to Container Registry's deprecation: https://cloud.google.com/artifact-registry/docs/transition/transition-from-gcr Please use Artifact Registry instead, which is the default choice. If unspecified, it defaults to `ARTIFACT_REGISTRY`. If `docker_repository` field is specified, this field should either be left unspecified or set to `ARTIFACT_REGISTRY`."
          }
        },
        "sourceToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for Firebase function sources. Disclaimer: This field is only supported for Firebase function deployments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the Build step of the function that builds a container from the given source."
      }
    },
    "com.gcp.cloudfunctions_v2beta#BuildConfigDockerRegistryEnum": {
      "type": "enum",
      "members": {
        "DOCKER_REGISTRY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCKER_REGISTRY_UNSPECIFIED"
          }
        },
        "CONTAINER_REGISTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_REGISTRY"
          }
        },
        "ARTIFACT_REGISTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTIFACT_REGISTRY"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#UpgradeInfo": {
      "type": "structure",
      "members": {
        "buildConfig": {
          "target": "com.gcp.cloudfunctions_v2beta#BuildConfig",
          "traits": {
            "smithy.api#documentation": "Describes the Build step of the function that builds a container to prepare for 2nd gen upgrade."
          }
        },
        "serviceConfig": {
          "target": "com.gcp.cloudfunctions_v2beta#ServiceConfig",
          "traits": {
            "smithy.api#documentation": "Describes the Cloud Run service which has been setup to prepare for 2nd gen upgrade."
          }
        },
        "eventTrigger": {
          "target": "com.gcp.cloudfunctions_v2beta#EventTrigger",
          "traits": {
            "smithy.api#documentation": "Describes the Event trigger which has been setup to prepare for 2nd gen upgrade."
          }
        },
        "upgradeState": {
          "target": "com.gcp.cloudfunctions_v2beta#UpgradeInfoUpgradeStateEnum",
          "traits": {
            "smithy.api#documentation": "UpgradeState of the function"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information related to: * A function's eligibility for 1st Gen to 2nd Gen migration. * Current state of migration for function undergoing migration."
      }
    },
    "com.gcp.cloudfunctions_v2beta#UpgradeInfoUpgradeStateEnum": {
      "type": "enum",
      "members": {
        "UPGRADE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_STATE_UNSPECIFIED"
          }
        },
        "ELIGIBLE_FOR_2ND_GEN_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELIGIBLE_FOR_2ND_GEN_UPGRADE"
          }
        },
        "INELIGIBLE_FOR_UPGRADE_UNTIL_REDEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INELIGIBLE_FOR_UPGRADE_UNTIL_REDEPLOYMENT"
          }
        },
        "UPGRADE_OPERATION_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_OPERATION_IN_PROGRESS"
          }
        },
        "SETUP_FUNCTION_UPGRADE_CONFIG_SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SETUP_FUNCTION_UPGRADE_CONFIG_SUCCESSFUL"
          }
        },
        "SETUP_FUNCTION_UPGRADE_CONFIG_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SETUP_FUNCTION_UPGRADE_CONFIG_ERROR"
          }
        },
        "ABORT_FUNCTION_UPGRADE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORT_FUNCTION_UPGRADE_ERROR"
          }
        },
        "REDIRECT_FUNCTION_UPGRADE_TRAFFIC_SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_FUNCTION_UPGRADE_TRAFFIC_SUCCESSFUL"
          }
        },
        "REDIRECT_FUNCTION_UPGRADE_TRAFFIC_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_FUNCTION_UPGRADE_TRAFFIC_ERROR"
          }
        },
        "ROLLBACK_FUNCTION_UPGRADE_TRAFFIC_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLBACK_FUNCTION_UPGRADE_TRAFFIC_ERROR"
          }
        },
        "COMMIT_FUNCTION_UPGRADE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT_FUNCTION_UPGRADE_ERROR"
          }
        },
        "COMMIT_FUNCTION_UPGRADE_ERROR_ROLLBACK_SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT_FUNCTION_UPGRADE_ERROR_ROLLBACK_SAFE"
          }
        },
        "COMMIT_FUNCTION_UPGRADE_AS_GEN2_SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT_FUNCTION_UPGRADE_AS_GEN2_SUCCESSFUL"
          }
        },
        "COMMIT_FUNCTION_UPGRADE_AS_GEN2_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT_FUNCTION_UPGRADE_AS_GEN2_ERROR"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.cloudfunctions_v2beta#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.cloudfunctions_v2beta#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#Location"
      }
    },
    "com.gcp.cloudfunctions_v2beta#OperationMetadataV1": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target of the operation - for example `projects/project-1/locations/region-1/functions/function-1`"
          }
        },
        "request": {
          "target": "com.gcp.cloudfunctions_v2beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The original request that started the operation."
          }
        },
        "versionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version id of the function created or updated by an API call. This field is only populated for Create and Update operations."
          }
        },
        "buildId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Build ID of the function created or updated by an API call. This field is only populated for Create and Update operations."
          }
        },
        "sourceToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for Firebase function sources. Disclaimer: This field is only supported for Firebase function deployments."
          }
        },
        "type": {
          "target": "com.gcp.cloudfunctions_v2beta#OperationMetadataV1TypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of operation."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update timestamp of the operation."
          }
        },
        "buildName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Build Name of the function deployment. This field is only populated for Create and Update operations. `projects//locations//builds/`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing an Operation"
      }
    },
    "com.gcp.cloudfunctions_v2beta#OperationMetadataV1TypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "CREATE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FUNCTION"
          }
        },
        "UPDATE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FUNCTION"
          }
        },
        "DELETE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FUNCTION"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.cloudfunctions_v2beta#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.cloudfunctions_v2beta#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#AuditLogConfig"
      }
    },
    "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaStateMessage": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message."
          }
        },
        "severity": {
          "target": "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaStateMessageSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Severity of the state message."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One-word CamelCase type of the state message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Informational messages about the state of the Cloud Function or Operation."
      }
    },
    "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaStateMessageSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#SourceProvenance": {
      "type": "structure",
      "members": {
        "resolvedRepoSource": {
          "target": "com.gcp.cloudfunctions_v2beta#RepoSource",
          "traits": {
            "smithy.api#documentation": "A copy of the build's `source.repo_source`, if exists, with any revisions resolved."
          }
        },
        "gitUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A copy of the build's `source.git_uri`, if exists, with any commits resolved."
          }
        },
        "resolvedStorageSource": {
          "target": "com.gcp.cloudfunctions_v2beta#StorageSource",
          "traits": {
            "smithy.api#documentation": "A copy of the build's `source.storage_source`, if exists, with any generations resolved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provenance of the source. Ways to find the original source, or verify that some source was used for this build."
      }
    },
    "com.gcp.cloudfunctions_v2beta#RollbackFunctionUpgradeTrafficRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for the `RollbackFunctionUpgradeTraffic` method."
      }
    },
    "com.gcp.cloudfunctions_v2beta#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.cloudfunctions_v2beta#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.cloudfunctions_v2beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.cloudfunctions_v2beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.cloudfunctions_v2beta#RedirectFunctionUpgradeTrafficRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for the `RedirectFunctionUpgradeTraffic` method."
      }
    },
    "com.gcp.cloudfunctions_v2beta#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.cloudfunctions_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.cloudfunctions_v2beta#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.cloudfunctions_v2beta#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#Operation"
      }
    },
    "com.gcp.cloudfunctions_v2beta#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudfunctions_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudfunctions_v2beta#CommitFunctionUpgradeAsGen2Request": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for the `CommitFunctionUpgradeAsGen2` method."
      }
    },
    "com.gcp.cloudfunctions_v2beta#GenerateUploadUrlRequest": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of a KMS crypto key (managed by the user) used to encrypt/decrypt function source code objects in intermediate Cloud Storage buckets. When you generate an upload url and upload your source code, it gets copied to an intermediate Cloud Storage bucket. The source code is then copied to a versioned directory in the sources bucket in the consumer project during the function deployment. It must match the pattern `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`. The Google Cloud Functions service account (service-{project_number}@gcf-admin-robot.iam.gserviceaccount.com) must be granted the role 'Cloud KMS CryptoKey Encrypter/Decrypter (roles/cloudkms.cryptoKeyEncrypterDecrypter)' on the Key/KeyRing/Project/Organization (least access preferred)."
          }
        },
        "environment": {
          "target": "com.gcp.cloudfunctions_v2beta#GenerateUploadUrlRequestEnvironmentEnum",
          "traits": {
            "smithy.api#documentation": "The function environment the generated upload url will be used for. The upload url for 2nd Gen functions can also be used for 1st gen functions, but not vice versa. If not specified, 2nd generation-style upload URLs are generated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request of `GenerateSourceUploadUrl` method."
      }
    },
    "com.gcp.cloudfunctions_v2beta#GenerateUploadUrlRequestEnvironmentEnum": {
      "type": "enum",
      "members": {
        "ENVIRONMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_UNSPECIFIED"
          }
        },
        "GEN_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN_1"
          }
        },
        "GEN_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN_2"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#EventFilter": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of a CloudEvents attribute."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The value for the attribute."
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The operator used for matching the events with the value of the filter. If not specified, only events that have an exact key-value pair specified in the filter are matched. The only allowed value is `match-path-pattern`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filters events based on exact matches on the CloudEvents attributes."
      }
    },
    "com.gcp.cloudfunctions_v2beta#GenerateDownloadUrlRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request of `GenerateDownloadUrl` method."
      }
    },
    "com.gcp.cloudfunctions_v2beta#DirectVpcNetworkInterface": {
      "type": "structure",
      "members": {
        "subnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the VPC subnetwork that the Cloud Function resource will get IPs from. Specify either a VPC network or a subnet, or both. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If subnetwork is not specified, the subnetwork with the same name with the network will be used."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the VPC network to which the function will be connected. Specify either a VPC network or a subnet, or both. If you specify only a network, the subnet uses the same name as the network."
          }
        },
        "tags": {
          "target": "com.gcp.cloudfunctions_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Network tags applied to this Cloud Function resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Direct VPC network interface. This is mutually exclusive with VPC Connector."
      }
    },
    "com.gcp.cloudfunctions_v2beta#StorageSource": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used."
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage object containing the source. This object must be a gzipped archive file (`.tar.gz`) containing source to build."
          }
        },
        "sourceUploadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the specified storage bucket is a 1st gen function uploard url bucket, this field should be set as the generated upload url for 1st gen deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in an archive file in Google Cloud Storage."
      }
    },
    "com.gcp.cloudfunctions_v2beta#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.cloudfunctions_v2beta#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "bindings": {
          "target": "com.gcp.cloudfunctions_v2beta#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.cloudfunctions_v2beta#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#AuditConfig"
      }
    },
    "com.gcp.cloudfunctions_v2beta#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#Binding"
      }
    },
    "com.gcp.cloudfunctions_v2beta#Expr": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.cloudfunctions_v2beta#Runtime": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user facing name, eg 'Go 1.13', 'Node.js 12', etc."
          }
        },
        "warnings": {
          "target": "com.gcp.cloudfunctions_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Warning messages, e.g., a deprecation warning."
          }
        },
        "environment": {
          "target": "com.gcp.cloudfunctions_v2beta#RuntimeEnvironmentEnum",
          "traits": {
            "smithy.api#documentation": "The environment for the runtime."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the runtime, e.g., 'go113', 'nodejs12', etc."
          }
        },
        "decommissionDate": {
          "target": "com.gcp.cloudfunctions_v2beta#Cloudfunctions_Date",
          "traits": {
            "smithy.api#documentation": "Decommission date for the runtime."
          }
        },
        "deprecationDate": {
          "target": "com.gcp.cloudfunctions_v2beta#Cloudfunctions_Date",
          "traits": {
            "smithy.api#documentation": "Deprecation date for the runtime."
          }
        },
        "stage": {
          "target": "com.gcp.cloudfunctions_v2beta#RuntimeStageEnum",
          "traits": {
            "smithy.api#documentation": "The stage of life this runtime is in, e.g., BETA, GA, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a runtime and any special information (e.g., deprecation status) related to it."
      }
    },
    "com.gcp.cloudfunctions_v2beta#RuntimeEnvironmentEnum": {
      "type": "enum",
      "members": {
        "ENVIRONMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_UNSPECIFIED"
          }
        },
        "GEN_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN_1"
          }
        },
        "GEN_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN_2"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#RuntimeStageEnum": {
      "type": "enum",
      "members": {
        "RUNTIME_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNTIME_STAGE_UNSPECIFIED"
          }
        },
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPMENT"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        },
        "DECOMMISSIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECOMMISSIONED"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.cloudfunctions_v2beta#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.cloudfunctions_v2beta#EventTrigger": {
      "type": "structure",
      "members": {
        "pubsubTopic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of a Pub/Sub topic in the same project that will be used as the transport topic for the event delivery. Format: `projects/{project}/topics/{topic}`. This is only valid for events of type `google.cloud.pubsub.topic.v1.messagePublished`. The topic provided here will not be deleted at function deletion."
          }
        },
        "triggerRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region that the trigger will be in. The trigger will only receive events originating in this region. It can be the same region as the function, a different region or multi-region, or the global region. If not provided, defaults to the same region as the function."
          }
        },
        "eventType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The type of event to observe. For example: `google.cloud.audit.log.v1.written` or `google.cloud.pubsub.topic.v1.messagePublished`."
          }
        },
        "eventFilters": {
          "target": "com.gcp.cloudfunctions_v2beta#EventFilterList",
          "traits": {
            "smithy.api#documentation": "Criteria used to filter events."
          }
        },
        "retryPolicy": {
          "target": "com.gcp.cloudfunctions_v2beta#EventTriggerRetryPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. If unset, then defaults to ignoring failures (i.e. not retrying them)."
          }
        },
        "trigger": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the Eventarc trigger. The format of this field is `projects/{project}/locations/{region}/triggers/{trigger}`."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The email of the trigger's service account. The service account must have permission to invoke Cloud Run services, the permission is `run.routes.invoke`. If empty, defaults to the Compute Engine default service account: `{project_number}-compute@developer.gserviceaccount.com`."
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the channel associated with the trigger in `projects/{project}/locations/{location}/channels/{channel}` format. You must provide a channel to receive events from Eventarc SaaS partners."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The hostname of the service that 1st Gen function should be observed. If no string is provided, the default service implementing the API will be used. For example, `storage.googleapis.com` is the default for all event types in the `google.storage` namespace. The field is only applicable to 1st Gen functions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes EventTrigger, used to request events to be sent from another service."
      }
    },
    "com.gcp.cloudfunctions_v2beta#EventFilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#EventFilter"
      }
    },
    "com.gcp.cloudfunctions_v2beta#EventTriggerRetryPolicyEnum": {
      "type": "enum",
      "members": {
        "RETRY_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_POLICY_UNSPECIFIED"
          }
        },
        "RETRY_POLICY_DO_NOT_RETRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_POLICY_DO_NOT_RETRY"
          }
        },
        "RETRY_POLICY_RETRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY_POLICY_RETRY"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "labels": {
          "target": "com.gcp.cloudfunctions_v2beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "metadata": {
          "target": "com.gcp.cloudfunctions_v2beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.cloudfunctions_v2beta#AutomaticUpdatePolicy": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Security patches are applied automatically to the runtime without requiring the function to be redeployed."
      }
    },
    "com.gcp.cloudfunctions_v2beta#ServiceConfigOverrides": {
      "type": "structure",
      "members": {
        "maxInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the maximum number of instances for the new Cloud Run function. If provided, this overrides the max_instance_count setting of the Gen1 function."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains overrides related to the function's service configuration."
      }
    },
    "com.gcp.cloudfunctions_v2beta#AbortFunctionUpgradeRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for the `AbortFunctionUpgrade` method."
      }
    },
    "com.gcp.cloudfunctions_v2beta#SecretEnvVar": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the environment variable."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project identifier (preferably project number but can also be the project ID) of the project that contains the secret. If not set, it is assumed that the secret is in the same project as the function."
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the secret in secret manager (not the full resource name)."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the secret (version number or the string 'latest'). It is recommended to use a numeric version for secret environment variables as any updates to the secret value is not reflected until new instances start."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a secret environment variable. It has the information necessary to fetch the secret value from secret manager and expose it as an environment variable."
      }
    },
    "com.gcp.cloudfunctions_v2beta#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.cloudfunctions_v2beta#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.cloudfunctions_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.cloudfunctions_v2beta#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#Source": {
      "type": "structure",
      "members": {
        "storageSource": {
          "target": "com.gcp.cloudfunctions_v2beta#StorageSource",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from this location in Google Cloud Storage."
          }
        },
        "gitUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from GitHub repository. This option is valid only for GCF 1st Gen function. Example: https://github.com///blob//"
          }
        },
        "repoSource": {
          "target": "com.gcp.cloudfunctions_v2beta#RepoSource",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from this location in a Cloud Source Repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The location of the function source code."
      }
    },
    "com.gcp.cloudfunctions_v2beta#Cloudfunctions_Function": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-defined name of the function. Function names must be unique globally and match pattern `projects/*/locations/*/functions/*`"
          }
        },
        "eventTrigger": {
          "target": "com.gcp.cloudfunctions_v2beta#EventTrigger",
          "traits": {
            "smithy.api#documentation": "An Eventarc trigger managed by Google Cloud Functions that fires events in response to a condition in another service."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "state": {
          "target": "com.gcp.cloudfunctions_v2beta#Cloudfunctions_FunctionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the function."
          }
        },
        "buildConfig": {
          "target": "com.gcp.cloudfunctions_v2beta#BuildConfig",
          "traits": {
            "smithy.api#documentation": "Describes the Build step of the function that builds a container from the given source."
          }
        },
        "serviceConfig": {
          "target": "com.gcp.cloudfunctions_v2beta#ServiceConfig",
          "traits": {
            "smithy.api#documentation": "Describes the Service being deployed. Currently deploys services to Cloud Run (fully managed)."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of a KMS crypto key (managed by the user) used to encrypt/decrypt function resources. It must match the pattern `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "stateMessages": {
          "target": "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaStateMessageList",
          "traits": {
            "smithy.api#documentation": "Output only. State Messages for this Cloud Function."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided description of a function."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The deployed url for the function."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The create timestamp of a Cloud Function. This is only applicable to 2nd Gen functions."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp of a Cloud Function."
          }
        },
        "labels": {
          "target": "com.gcp.cloudfunctions_v2beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels associated with this Cloud Function."
          }
        },
        "upgradeInfo": {
          "target": "com.gcp.cloudfunctions_v2beta#UpgradeInfo",
          "traits": {
            "smithy.api#documentation": "Output only. UpgradeInfo for this Cloud Function"
          }
        },
        "environment": {
          "target": "com.gcp.cloudfunctions_v2beta#Cloudfunctions_FunctionEnvironmentEnum",
          "traits": {
            "smithy.api#documentation": "Describe whether the function is 1st Gen or 2nd Gen."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a Cloud Function that contains user computation executed in response to an event. It encapsulates function and trigger configurations."
      }
    },
    "com.gcp.cloudfunctions_v2beta#Cloudfunctions_FunctionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "DETACHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETACHING"
          }
        },
        "DETACH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETACH_FAILED"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaStateMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaStateMessage"
      }
    },
    "com.gcp.cloudfunctions_v2beta#Cloudfunctions_FunctionEnvironmentEnum": {
      "type": "enum",
      "members": {
        "ENVIRONMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_UNSPECIFIED"
          }
        },
        "GEN_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN_1"
          }
        },
        "GEN_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEN_2"
          }
        }
      }
    },
    "com.gcp.cloudfunctions_v2beta#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.cloudfunctions_v2beta#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.cloudfunctions_v2beta#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#DocumentMap"
      }
    },
    "com.gcp.cloudfunctions_v2beta#RepoSource": {
      "type": "structure",
      "members": {
        "branchName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed."
          }
        },
        "tagName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
          }
        },
        "commitSha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explicit commit SHA to build."
          }
        },
        "dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution. eg. helloworld (no leading slash allowed)"
          }
        },
        "repoName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Cloud Source Repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in a Google Cloud Source Repository."
      }
    },
    "com.gcp.cloudfunctions_v2beta#BuildConfigOverrides": {
      "type": "structure",
      "members": {
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the desired runtime for the new Cloud Run function. (e.g., `\"nodejs20\"`, `\"python312\"`). Constraints: 1. This field CANNOT be used to change the runtime language (e.g., from `NODEJS` to `PYTHON`). The backend will enforce this. 2. This field can ONLY be used to upgrade the runtime version (e.g., `nodejs18` to `nodejs20`). Downgrading the version is not permitted. The backend will validate the version change. If provided and valid, this overrides the runtime of the Gen1 function."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains overrides related to the function's build configuration."
      }
    },
    "com.gcp.cloudfunctions_v2beta#SecretVersion": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the secret (version number or the string 'latest'). It is preferable to use `latest` version with secret volumes as secret value changes are reflected immediately."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path of the file under the mount path where the secret value for this version will be fetched and made available. For example, setting the mount_path as '/etc/secrets' and path as `secret_foo` would mount the secret value file at `/etc/secrets/secret_foo`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a single version."
      }
    },
    "com.gcp.cloudfunctions_v2beta#CommitFunctionUpgradeRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for the `CommitFunctionUpgrade` method."
      }
    },
    "com.gcp.cloudfunctions_v2beta#Cloudfunctions_Date": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.cloudfunctions_v2beta#ListFunctionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.cloudfunctions_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached. The response does not include any functions from these locations."
          }
        },
        "functions": {
          "target": "com.gcp.cloudfunctions_v2beta#Cloudfunctions_FunctionList",
          "traits": {
            "smithy.api#documentation": "The functions that match the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListFunctions` method."
      }
    },
    "com.gcp.cloudfunctions_v2beta#Cloudfunctions_FunctionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudfunctions_v2beta#Cloudfunctions_Function"
      }
    },
    "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaStage": {
      "type": "structure",
      "members": {
        "stateMessages": {
          "target": "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaStateMessageList",
          "traits": {
            "smithy.api#documentation": "State messages from the current Stage."
          }
        },
        "state": {
          "target": "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaStageStateEnum",
          "traits": {
            "smithy.api#documentation": "Current state of the Stage"
          }
        },
        "name": {
          "target": "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaStageNameEnum",
          "traits": {
            "smithy.api#documentation": "Name of the Stage. This will be unique for each Stage."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message describing the Stage"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource of the Stage"
          }
        },
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the current Stage resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Each Stage of the deployment process"
      }
    },
    "com.gcp.cloudfunctions_v2beta#GoogleCloudFunctionsV2betaStageStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
[...]
