{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudresourcemanager",
    "version": "v1beta1",
    "title": "Cloud Resource Manager API",
    "baseUrl": "https://cloudresourcemanager.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudresourcemanager_v1beta1#UndeleteFolderMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the `Operation` returned by `UndeleteFolder`."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#Project": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time. Read-only."
          }
        },
        "projectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number uniquely identifying the project. Example: `415104041262` Read-only."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique, user-assigned ID of the Project. It must be 6 to 30 lowercase letters, digits, or hyphens. It must start with a letter. Trailing hyphens are prohibited. Example: `tokyo-rain-123` Read-only after creation."
          }
        },
        "lifecycleState": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#ProjectLifecycleStateEnum",
          "traits": {
            "smithy.api#documentation": "The Project lifecycle state. Read-only."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The optional user-assigned display name of the Project. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, single-quote, double-quote, space, and exclamation point. Example: `My Project` Read-write."
          }
        },
        "labels": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels associated with this Project. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: a-z{0,62}. Label values must be between 0 and 63 characters long and must conform to the regular expression [a-z0-9_-]{0,63}. A label value can be empty. No more than 256 labels can be associated with a given resource. Clients should store labels in a representation such as JSON that does not depend on specific characters being disallowed. Example: `\"environment\" : \"dev\"` Read-write."
          }
        },
        "configuredCapabilities": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. If this project is a Management Project, list of capabilities configured on the parent folder. Note, presence of any capability implies that this is a Management Project. Example: `folders/123/capabilities/app-management`. OUTPUT ONLY."
          }
        },
        "parent": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#ResourceId",
          "traits": {
            "smithy.api#documentation": "An optional reference to a parent Resource. Supported parent types include \"organization\" and \"folder\". Once set, the parent cannot be cleared. The `parent` can be set on creation or using the `UpdateProject` method; the end user must have the `resourcemanager.projects.create` permission on the parent. Read-write."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Project is a high-level Google Cloud Platform entity. It is a container for ACLs, APIs, App Engine Apps, VMs, and other Google Cloud Platform resources."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#ProjectLifecycleStateEnum": {
      "type": "enum",
      "members": {
        "LIFECYCLE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFECYCLE_STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETE_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_REQUESTED"
          }
        },
        "DELETE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_IN_PROGRESS"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#FolderOperationError": {
      "type": "structure",
      "members": {
        "errorMessageId": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#FolderOperationErrorErrorMessageIdEnum",
          "traits": {
            "smithy.api#documentation": "The type of operation error experienced."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A classification of the Folder Operation error."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#FolderOperationErrorErrorMessageIdEnum": {
      "type": "enum",
      "members": {
        "ERROR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_TYPE_UNSPECIFIED"
          }
        },
        "ACTIVE_FOLDER_HEIGHT_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_FOLDER_HEIGHT_VIOLATION"
          }
        },
        "MAX_CHILD_FOLDERS_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX_CHILD_FOLDERS_VIOLATION"
          }
        },
        "FOLDER_NAME_UNIQUENESS_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_NAME_UNIQUENESS_VIOLATION"
          }
        },
        "RESOURCE_DELETED_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_DELETED_VIOLATION"
          }
        },
        "PARENT_DELETED_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARENT_DELETED_VIOLATION"
          }
        },
        "CYCLE_INTRODUCED_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CYCLE_INTRODUCED_VIOLATION"
          }
        },
        "FOLDER_BEING_MOVED_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_BEING_MOVED_VIOLATION"
          }
        },
        "FOLDER_TO_DELETE_NON_EMPTY_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_TO_DELETE_NON_EMPTY_VIOLATION"
          }
        },
        "DELETED_FOLDER_HEIGHT_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED_FOLDER_HEIGHT_VIOLATION"
          }
        },
        "FOLDER_TO_DELETE_CONFIGURED_CAPABILITY_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER_TO_DELETE_CONFIGURED_CAPABILITY_VIOLATION"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#AuditLogConfig"
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#Binding"
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#AuditConfig"
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#Ancestor": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#ResourceId",
          "traits": {
            "smithy.api#documentation": "Resource id of the ancestor."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifying information for a single ancestor of a project."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#UndeleteProjectMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by `UndeleteProject`."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#OrganizationOwner": {
      "type": "structure",
      "members": {
        "directoryCustomerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The G Suite customer id used in the Directory API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The entity that owns an Organization. The lifetime of the Organization and all of its descendants are bound to the `OrganizationOwner`. If the `OrganizationOwner` is deleted, the Organization and all its descendants will be deleted."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#CreateProjectMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the project creation workflow."
          }
        },
        "gettable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the project can be retrieved using `GetProject`. No other operations on the project are guaranteed to work until the project creation is complete."
          }
        },
        "ready": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the project creation process is complete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by CreateProject. It provides insight for when significant phases of Project creation have completed."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#UpdateProjectMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by UpdateProject."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "condition": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "members": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#DeleteTagKeyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for deleting a TagKey."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation": {
      "type": "structure",
      "members": {
        "operationType": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperationOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this operation."
          }
        },
        "sourceParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
          }
        },
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the folder."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing a long running folder operation"
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperationOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#UndeleteOrganizationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by UndeleteOrganization."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#ProjectCreationStatus": {
      "type": "structure",
      "members": {
        "ready": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the project creation process is complete."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the project creation workflow."
          }
        },
        "gettable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the project can be retrieved using GetProject. No other operations on the project are guaranteed to work until the project creation is complete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by CreateProject. It provides insight for when significant phases of Project creation have completed."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#DeleteProjectMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by `DeleteProject`."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#DeleteTagValueMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for deleting a TagValue."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#MoveFolderMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the folder."
          }
        },
        "sourceParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder's parent."
          }
        },
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder or organization to move the folder to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to the folder move process."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#UpdateTagKeyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for updating a TagKey."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#ListProjectsResponse": {
      "type": "structure",
      "members": {
        "projects": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#ProjectList",
          "traits": {
            "smithy.api#documentation": "The list of Projects that matched the list filter. This list can be paginated."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A page of the response received from the ListProjects method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#ProjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#Project"
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#UpdateTagValueMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for updating a TagValue."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#DeleteOrganizationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the operation returned by DeleteOrganization."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#CreateTagKeyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for creating a TagKey."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#CreateTagValueMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for creating a TagValue."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#FolderOperation": {
      "type": "structure",
      "members": {
        "operationType": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#FolderOperationOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this operation."
          }
        },
        "sourceParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
          }
        },
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the folder."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing a long running folder operation"
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#FolderOperationOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#MoveProjectMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by MoveProject."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#DeleteTagBindingMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for deleting a TagBinding."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#GetAncestryRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request sent to the [google.cloudresourcemanager.projects.v1beta1.DeveloperProjects.GetAncestry] method."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#CreateFolderMetadata": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder or organization we are creating the folder under."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the folder."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to the Folder creation process."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#UndeleteProjectRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request sent to the UndeleteProject method."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#GetAncestryResponse": {
      "type": "structure",
      "members": {
        "ancestor": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#AncestorList",
          "traits": {
            "smithy.api#documentation": "Ancestors are ordered from bottom to top of the resource hierarchy. The first ancestor is the project itself, followed by the project's parent, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response from the projects.getAncestry method."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#AncestorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#Ancestor"
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#CreateTagBindingMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Runtime operation information for creating a TagValue."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperation": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the folder."
          }
        },
        "operationType": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperationOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this operation."
          }
        },
        "sourceParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
          }
        },
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the folder or organization we are either creating the folder under or moving the folder to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing a long running folder operation"
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperationOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#Expr": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#ResourceId": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required field representing the resource type this id is for. At present, the valid types are \"project\", \"folder\", and \"organization\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required field for the type-specific id. This should correspond to the id used in the type-specific API's."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A container to reference an id for any resource type. A `resource` in Google Cloud Platform is a generic term for something you (a developer) may want to interact with through one of our API's. Some examples are an App Engine app, a Compute Engine instance, a Cloud SQL database, and so on."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#ListOrganizationsResponse": {
      "type": "structure",
      "members": {
        "organizations": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#OrganizationList",
          "traits": {
            "smithy.api#documentation": "The list of Organizations that matched the list query, possibly paginated."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pagination token to be used to retrieve the next page of results. If the result is too large to fit within the page size specified in the request, this field will be set with a token that can be used to fetch the next page of results. If this field is empty, it indicates that this response contains the last page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response returned from the `ListOrganizations` method."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#OrganizationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#Organization"
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#Organization": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the organization. This is the organization's relative path in the API. Its format is \"organizations/[organization_id]\". For example, \"organizations/1234\"."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the Organization was created. Assigned by the server."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable string that refers to the Organization in the Google Cloud console. This string is set by the server and cannot be changed. The string will be set to the primary domain (for example, \"google.com\") of the G Suite customer that owns the organization."
          }
        },
        "owner": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#OrganizationOwner",
          "traits": {
            "smithy.api#documentation": "The owner of this Organization. The owner should be specified on creation. Once set, it cannot be changed. This field is required."
          }
        },
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An immutable id for the Organization that is assigned on creation. This should be omitted when creating a new Organization. This field is read-only."
          }
        },
        "lifecycleState": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#OrganizationLifecycleStateEnum",
          "traits": {
            "smithy.api#documentation": "The organization's current lifecycle state. Assigned by the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The root node in the resource hierarchy to which a particular entity's (e.g., company) resources belong."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#OrganizationLifecycleStateEnum": {
      "type": "enum",
      "members": {
        "LIFECYCLE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFECYCLE_STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETE_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_REQUESTED"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#UpdateFolderMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the Operation returned by UpdateFolder."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#DeleteFolderMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A status object which is used as the `metadata` field for the `Operation` returned by `DeleteFolder`."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#ListOrganizationsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional query string used to filter the Organizations to return in the response. Filter rules are case-insensitive. Organizations may be filtered by `owner.directoryCustomerId` or by `domain`, where the domain is a verified G Suite domain, for example: * Filter `owner.directorycustomerid:123456789` returns Organization resources with `owner.directory_customer_id` equal to `123456789`. * Filter `domain:google.com` returns Organization resources corresponding to the domain `google.com`. This field is optional.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of Organizations to return in the response. This field is optional.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pagination token returned from a previous call to `ListOrganizations` that indicates from where listing should continue. This field is optional.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#ListOrganizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#ListOrganizationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#ListOrganizationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/organizations"
        },
        "smithy.api#documentation": "Lists Organization resources that are visible to the user and satisfy the specified filter. This method returns Organizations in an unspecified order. New Organizations do not necessarily appear at the end of the list.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#GetOrganizationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the Organization to fetch. This is the organization's relative path in the API, formatted as \"organizations/[organizationId]\". For example, \"organizations/1234\".",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the Organization resource to fetch. This field is deprecated and will be removed in v1. Use name instead.",
            "smithy.api#httpQuery": "organizationId"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#GetOrganizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#GetOrganizationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#Organization"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Fetches an Organization resource identified by the specified resource name."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#GetIamPolicyOrganizationsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#GetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#GetIamPolicyOrganizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#GetIamPolicyOrganizationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for an Organization resource. May be empty if no such policy or resource exists. The `resource` field should be the organization's resource name, e.g. \"organizations/123\"."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#UpdateOrganizationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the organization. This is the organization's relative path in the API. Its format is \"organizations/[organization_id]\". For example, \"organizations/1234\".",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Organization",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#UpdateOrganizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#UpdateOrganizationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#Organization"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates an Organization resource identified by the specified resource name."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#TestIamPermissionsOrganizationsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#TestIamPermissionsOrganizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#TestIamPermissionsOrganizationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified Organization. The `resource` field should be the organization's resource name, e.g. \"organizations/123\"."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#SetIamPolicyOrganizationsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#SetIamPolicyOrganizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#SetIamPolicyOrganizationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on an Organization resource. Replaces any existing policy. The `resource` field should be the organization's resource name, e.g. \"organizations/123\"."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#UpdateProjectsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project ID (for example, `my-project-123`).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Project",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#UpdateProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#UpdateProjectsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#Project"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "v1beta1/projects/{projectId}"
        },
        "smithy.api#documentation": "Updates the attributes of the Project identified by the specified `project_id` (for example, `my-project-123`). The caller must have modify permissions for this Project."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#CreateProjectsRequest": {
      "type": "structure",
      "members": {
        "useLegacyStack": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A now unused experiment opt-out option.",
            "smithy.api#httpQuery": "useLegacyStack"
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Project",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#CreateProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#CreateProjectsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#Project"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/projects"
        },
        "smithy.api#documentation": "Creates a Project resource. Initially, the Project resource is owned by its creator exclusively. The creator can later grant permission to others to read or update the Project. Several APIs are activated automatically for the Project, including Google Cloud Storage. The parent is identified by a specified ResourceId, which must include both an ID and a type, such as project, folder, or organization. This method does not associate the new project with a billing account. You can set or update the billing account associated with a project using the [`projects.updateBillingInfo`] (/billing/reference/rest/v1/projects/updateBillingInfo) method."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#UndeleteProjectsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project ID (for example, `foo-bar-123`).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#UndeleteProjectRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#UndeleteProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#UndeleteProjectsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/projects/{projectId}:undelete"
        },
        "smithy.api#documentation": "Restores the Project identified by the specified `project_id` (for example, `my-project-123`). You can only use this method for a Project that has a lifecycle state of DELETE_REQUESTED. After deletion starts, the Project cannot be restored. The caller must have undelete permissions for this Project."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#GetAncestryProjectsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Project ID (for example, `my-project-123`).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#GetAncestryRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#GetAncestryProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#GetAncestryProjectsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#GetAncestryResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/projects/{projectId}:getAncestry"
        },
        "smithy.api#documentation": "Gets a list of ancestors in the resource hierarchy for the Project identified by the specified `project_id` (for example, `my-project-123`). The caller must have read permissions for this Project."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#TestIamPermissionsProjectsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#TestIamPermissionsProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#TestIamPermissionsProjectsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/projects/{resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified Project."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#DeleteProjectsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Project ID (for example, `foo-bar-123`).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#DeleteProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#DeleteProjectsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/projects/{projectId}"
        },
        "smithy.api#documentation": "Marks the Project identified by the specified `project_id` (for example, `my-project-123`) for deletion. This method will only affect the Project if it has a lifecycle state of ACTIVE. This method changes the Project's lifecycle state from ACTIVE to DELETE_REQUESTED. The deletion starts at an unspecified time, at which point the project is no longer accessible. Until the deletion completes, you can check the lifecycle state checked by retrieving the Project with GetProject, and the Project remains visible to ListProjects. However, you cannot update the project. After the deletion completes, the Project is not retrievable by the GetProject and ListProjects methods. The caller must have delete permissions for this Project."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#SetIamPolicyProjectsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#SetIamPolicyProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#SetIamPolicyProjectsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/projects/{resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the IAM access control policy for the specified Project. CAUTION: This method will replace the existing policy, and cannot be used to append additional IAM settings. NOTE: Removing service accounts from policies or changing their roles can render services completely inoperable. It is important to understand how the service account is being used before removing or updating its roles. The following constraints apply when using `setIamPolicy()`: + Project does not support `allUsers` and `allAuthenticatedUsers` as `members` in a `Binding` of a `Policy`. + The owner role can be granted to a `user`, `serviceAccount`, or a group that is part of an organization. For example, group@myownpersonaldomain.com could be added as an owner to a project in the myownpersonaldomain.com organization, but not the examplepetstore.com organization. + Service accounts can be made owners of a project directly without any restrictions. However, to be added as an owner, a user must be invited via Cloud Platform console and must accept the invitation. + A user cannot be granted the owner role using `setIamPolicy()`. The user must be granted the owner role using the Cloud Platform Console and must explicitly accept the invitation. + Invitations to grant the owner role cannot be sent using `setIamPolicy()`; they must be sent only using the Cloud Platform Console. + Membership changes that leave the project without any owners that have accepted the Terms of Service (ToS) will be rejected. + If the project is not part of an organization, there must be at least one owner who has accepted the Terms of Service (ToS) agreement in the policy. Calling `setIamPolicy()` to remove the last ToS-accepted owner from the policy will fail. This restriction also applies to legacy projects that no longer have owners who have accepted the ToS. Edits to IAM policies will be rejected until the lack of a ToS-accepting owner is rectified. Authorization requires the Google IAM permission `resourcemanager.projects.setIamPolicy` on the project"
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#GetProjectsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Project ID (for example, `my-project-123`).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#GetProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#GetProjectsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#Project"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/projects/{projectId}"
        },
        "smithy.api#documentation": "Retrieves the Project identified by the specified `project_id` (for example, `my-project-123`). The caller must have read permissions for this Project."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#GetIamPolicyProjectsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudresourcemanager_v1beta1#GetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#GetIamPolicyProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#GetIamPolicyProjectsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/projects/{resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Returns the IAM access control policy for the specified Project. Permission is denied if the policy or the resource does not exist. For additional information about resource structure and identification, see [Resource Names](/apis/design/resource_names)."
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#ListProjectsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pagination token returned from a previous call to ListProjects that indicates from where listing should continue. Optional.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of Projects to return in the response. The server can return fewer Projects than requested. If unspecified, server picks an appropriate default. Optional.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression for filtering the results of the request. Filter rules are case insensitive. If multiple fields are included in a filter query, the query will return results that match any of the fields. Some eligible fields for filtering are: + `name` + `id` + `labels.` (where *key* is the name of a label) + `parent.type` + `parent.id` Some examples of using labels as filters: | Filter | Description | |------------------|-----------------------------------------------------| | name:how* | The project's name starts with \"how\". | | name:Howl | The project's name is `Howl` or `howl`. | | name:HOWL | Equivalent to above. | | NAME:howl | Equivalent to above. | | labels.color:* | The project has the label `color`. | | labels.color:red | The project's label `color` has the value `red`. | | labels.color:red labels.size:big | The project's label `color` has the value `red` or its label `size` has the value `big`. | If no filter is specified, the call will return projects for which the user has the `resourcemanager.projects.get` permission. NOTE: To perform a by-parent query (eg., what projects are directly in a Folder), the caller must have the `resourcemanager.projects.list` permission on the parent and the filter must contain both a `parent.type` and a `parent.id` restriction (example: \"parent.type:folder parent.id:123\"). In this case an alternate search index is used which provides more consistent results. Optional.",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.cloudresourcemanager_v1beta1#ListProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#ListProjectsRequest"
      },
      "output": {
        "target": "com.gcp.cloudresourcemanager_v1beta1#ListProjectsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.cloudresourcemanager_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/projects"
        },
        "smithy.api#documentation": "Lists Projects that the caller has the `resourcemanager.projects.get` permission on and satisfy the specified filter. This method returns Projects in an unspecified order. This method is eventually consistent with project mutations; this means that a newly created project may not appear in the results or recent updates to an existing project may not be reflected in the results. To retrieve the latest state of a project, use the GetProject method. NOTE: If the request filter contains a `parent.type` and `parent.id` and the caller has the `resourcemanager.projects.list` permission on the parent, the results will be drawn from an alternate index which provides more consistent results. In future versions of this API, this List method will be split into List and Search to properly capture the behavioral difference.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    }
  }
}
