{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudasset",
    "version": "v1p5beta1",
    "title": "Cloud Asset API",
    "baseUrl": "https://cloudasset.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudasset_v1p5beta1#GoogleCloudAssetV1p7beta1RelatedAsset": {
      "type": "structure",
      "members": {
        "assetType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the asset. Example: `compute.googleapis.com/Disk` See [Supported asset types](https://cloud.google.com/asset-inventory/docs/supported-asset-types) for more information."
          }
        },
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the asset. Example: `//compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1` See [Resource names](https://cloud.google.com/apis/design/resource_names#full_resource_name) for more information."
          }
        },
        "ancestors": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The ancestors of an asset in Google Cloud [resource hierarchy](https://cloud.google.com/resource-manager/docs/cloud-platform-resource-hierarchy), represented as a list of relative resource names. An ancestry path starts with the closest ancestor in the hierarchy and ends at root. Example: `[\"projects/123456789\", \"folders/5432\", \"organizations/1234\"]`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An asset identify in Google Cloud which contains its name, type and ancestors. An asset can be any resource in the Google Cloud [resource hierarchy](https://cloud.google.com/resource-manager/docs/cloud-platform-resource-hierarchy), a resource outside the Google Cloud resource hierarchy (such as Google Kubernetes Engine clusters and objects), or a policy (e.g. IAM policy). See [Supported asset types](https://cloud.google.com/asset-inventory/docs/supported-asset-types) for more information."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.cloudasset_v1p5beta1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleCloudOrgpolicyV1RestoreDefault": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Ignores policies set above this resource and restores the `constraint_default` enforcement behavior of the specific `Constraint` at this resource. Suppose that `constraint_default` is set to `ALLOW` for the `Constraint` `constraints/serviceuser.services`. Suppose that organization foo.com sets a `Policy` at their Organization resource node that restricts the allowed service activations to deny all service activations. They could then set a `Policy` with the `policy_type` `restore_default` on several experimental projects, restoring the `constraint_default` enforcement of the `Constraint` for only those projects, allowing those projects to have all services activated."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1IngressPolicy": {
      "type": "structure",
      "members": {
        "ingressFrom": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1IngressFrom",
          "traits": {
            "smithy.api#documentation": "Defines the conditions on the source of a request causing this IngressPolicy to apply."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable title for the ingress rule. The title must be unique within the perimeter and can not exceed 100 characters. Within the access policy, the combined length of all rule titles must not exceed 240,000 characters."
          }
        },
        "ingressTo": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1IngressTo",
          "traits": {
            "smithy.api#documentation": "Defines the conditions on the ApiOperation and request destination that cause this IngressPolicy to apply."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for ingress into ServicePerimeter. IngressPolicies match requests based on `ingress_from` and `ingress_to` stanzas. For an ingress policy to match, both the `ingress_from` and `ingress_to` stanzas must be matched. If an IngressPolicy matches a request, the request is allowed through the perimeter boundary from outside the perimeter. For example, access from the internet can be allowed either based on an AccessLevel or, for traffic hosted on Google Cloud, the project of the source network. For access from private networks, using the project of the hosting network is required. Individual ingress policies can be limited by restricting which services and/or actions they match using the `ingress_to` field."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1IngressTo": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of resources, currently only projects in the form `projects/`, protected by this ServicePerimeter that are allowed to be accessed by sources defined in the corresponding IngressFrom. If a single `*` is specified, then access to all resources inside the perimeter are allowed."
          }
        },
        "operations": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ApiOperationList",
          "traits": {
            "smithy.api#documentation": "A list of ApiOperations allowed to be performed by the sources specified in corresponding IngressFrom in this ServicePerimeter."
          }
        },
        "roles": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "IAM roles that represent the set of operations that the sources specified in the corresponding IngressFrom are allowed to perform in this ServicePerimeter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the conditions under which an IngressPolicy matches a request. Conditions are based on information about the ApiOperation intended to be performed on the target resource of the request. The request must satisfy what is defined in `operations` AND `resources` in order to match."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ApiOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ApiOperation"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#AnalyzeIamPolicyLongrunningMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the longrunning operation for the AnalyzeIamPolicyLongrunning RPC."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#AuditConfig": {
      "type": "structure",
      "members": {
        "auditLogConfigs": {
          "target": "com.gcp.cloudasset_v1p5beta1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#AuditLogConfig"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1AccessLevel": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name for the `AccessLevel`. Format: `accessPolicies/{access_policy}/accessLevels/{access_level}`. The `access_level` component must begin with a letter, followed by alphanumeric characters or `_`. Its maximum length is 50 characters. After you create an `AccessLevel`, you cannot change its `name`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the `AccessLevel` and its use. Does not affect behavior."
          }
        },
        "custom": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1CustomLevel",
          "traits": {
            "smithy.api#documentation": "A `CustomLevel` written in the Common Expression Language."
          }
        },
        "basic": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1BasicLevel",
          "traits": {
            "smithy.api#documentation": "A `BasicLevel` composed of `Conditions`."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable title. Must be unique within the Policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An `AccessLevel` is a label that can be applied to requests to Google Cloud services, along with a list of requirements necessary for the label to be applied."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleCloudOrgpolicyV1ListPolicy": {
      "type": "structure",
      "members": {
        "allowedValues": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "List of values allowed at this resource. Can only be set if `all_values` is set to `ALL_VALUES_UNSPECIFIED`."
          }
        },
        "deniedValues": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "List of values denied at this resource. Can only be set if `all_values` is set to `ALL_VALUES_UNSPECIFIED`."
          }
        },
        "allValues": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleCloudOrgpolicyV1ListPolicyAllValuesEnum",
          "traits": {
            "smithy.api#documentation": "The policy all_values state."
          }
        },
        "inheritFromParent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines the inheritance behavior for this `Policy`. By default, a `ListPolicy` set at a resource supersedes any `Policy` set anywhere up the resource hierarchy. However, if `inherit_from_parent` is set to `true`, then the values from the effective `Policy` of the parent resource are inherited, meaning the values set in this `Policy` are added to the values inherited up the hierarchy. Setting `Policy` hierarchies that inherit both allowed values and denied values isn't recommended in most circumstances to keep the configuration simple and understandable. However, it is possible to set a `Policy` with `allowed_values` set that inherits a `Policy` with `denied_values` set. In this case, the values that are allowed must be in `allowed_values` and not present in `denied_values`. For example, suppose you have a `Constraint` `constraints/serviceuser.services`, which has a `constraint_type` of `list_constraint`, and with `constraint_default` set to `ALLOW`. Suppose that at the Organization level, a `Policy` is applied that restricts the allowed API activations to {`E1`, `E2`}. Then, if a `Policy` is applied to a project below the Organization that has `inherit_from_parent` set to `false` and field all_values set to DENY, then an attempt to activate any API will be denied. The following examples demonstrate different possible layerings for `projects/bar` parented by `organizations/foo`: Example 1 (no inherited values): `organizations/foo` has a `Policy` with values: {allowed_values: \"E1\" allowed_values:\"E2\"} `projects/bar` has `inherit_from_parent` `false` and values: {allowed_values: \"E3\" allowed_values: \"E4\"} The accepted values at `organizations/foo` are `E1`, `E2`. The accepted values at `projects/bar` are `E3`, and `E4`. Example 2 (inherited values): `organizations/foo` has a `Policy` with values: {allowed_values: \"E1\" allowed_values:\"E2\"} `projects/bar` has a `Policy` with values: {value: \"E3\" value: \"E4\" inherit_from_parent: true} The accepted values at `organizations/foo` are `E1`, `E2`. The accepted values at `projects/bar` are `E1`, `E2`, `E3`, and `E4`. Example 3 (inheriting both allowed and denied values): `organizations/foo` has a `Policy` with values: {allowed_values: \"E1\" allowed_values: \"E2\"} `projects/bar` has a `Policy` with: {denied_values: \"E1\"} The accepted values at `organizations/foo` are `E1`, `E2`. The value accepted at `projects/bar` is `E2`. Example 4 (RestoreDefault): `organizations/foo` has a `Policy` with values: {allowed_values: \"E1\" allowed_values:\"E2\"} `projects/bar` has a `Policy` with values: {RestoreDefault: {}} The accepted values at `organizations/foo` are `E1`, `E2`. The accepted values at `projects/bar` are either all or none depending on the value of `constraint_default` (if `ALLOW`, all; if `DENY`, none). Example 5 (no policy inherits parent policy): `organizations/foo` has no `Policy` set. `projects/bar` has no `Policy` set. The accepted values at both levels are either all or none depending on the value of `constraint_default` (if `ALLOW`, all; if `DENY`, none). Example 6 (ListConstraint allowing all): `organizations/foo` has a `Policy` with values: {allowed_values: \"E1\" allowed_values: \"E2\"} `projects/bar` has a `Policy` with: {all: ALLOW} The accepted values at `organizations/foo` are `E1`, E2`. Any value is accepted at `projects/bar`. Example 7 (ListConstraint allowing none): `organizations/foo` has a `Policy` with values: {allowed_values: \"E1\" allowed_values: \"E2\"} `projects/bar` has a `Policy` with: {all: DENY} The accepted values at `organizations/foo` are `E1`, E2`. No value is accepted at `projects/bar`. Example 10 (allowed and denied subtrees of Resource Manager hierarchy): Given the following resource hierarchy O1->{F1, F2}; F1->{P1}; F2->{P2, P3}, `organizations/foo` has a `Policy` with values: {allowed_values: \"under:organizations/O1\"} `projects/bar` has a `Policy` with: {allowed_values: \"under:projects/P3\"} {denied_values: \"under:folders/F2\"} The accepted values at `organizations/foo` are `organizations/O1`, `folders/F1`, `folders/F2`, `projects/P1`, `projects/P2`, `projects/P3`. The accepted values at `projects/bar` are `organizations/O1`, `folders/F1`, `projects/P1`."
          }
        },
        "suggestedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Google Cloud Console will try to default to a configuration that matches the value specified in this `Policy`. If `suggested_value` is not set, it will inherit the value specified higher in the hierarchy, unless `inherit_from_parent` is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used in `policy_type` to specify how `list_policy` behaves at this resource. `ListPolicy` can define specific values and subtrees of Cloud Resource Manager resource hierarchy (`Organizations`, `Folders`, `Projects`) that are allowed or denied by setting the `allowed_values` and `denied_values` fields. This is achieved by using the `under:` and optional `is:` prefixes. The `under:` prefix is used to denote resource subtree values. The `is:` prefix is used to denote specific values, and is required only if the value contains a \":\". Values prefixed with \"is:\" are treated the same as values with no prefix. Ancestry subtrees must be in one of the following formats: - \"projects/\", e.g. \"projects/tokyo-rain-123\" - \"folders/\", e.g. \"folders/1234\" - \"organizations/\", e.g. \"organizations/1234\" The `supports_under` field of the associated `Constraint` defines whether ancestry prefixes can be used. You can set `allowed_values` and `denied_values` in the same `Policy` if `all_values` is `ALL_VALUES_UNSPECIFIED`. `ALLOW` or `DENY` are used to allow or deny all values. If `all_values` is set to either `ALLOW` or `DENY`, `allowed_values` and `denied_values` must be unset."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleCloudOrgpolicyV1ListPolicyAllValuesEnum": {
      "type": "enum",
      "members": {
        "ALL_VALUES_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_VALUES_UNSPECIFIED"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ApiOperation": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the API whose methods or permissions the IngressPolicy or EgressPolicy want to allow. A single ApiOperation with `service_name` field set to `*` will allow all methods AND permissions for all services."
          }
        },
        "methodSelectors": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1MethodSelectorList",
          "traits": {
            "smithy.api#documentation": "API methods or permissions to allow. Method or permission must belong to the service specified by `service_name` field. A single MethodSelector entry with `*` specified for the `method` field will allow all methods AND permissions for the service specified in `service_name`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identification for an API Operation."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1MethodSelectorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1MethodSelector"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1AddRequestHeader": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP header key."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP header value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Adds a request header to the API."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressSource": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Google Cloud resource from the service perimeter that you want to allow to access data outside the perimeter. This field supports only projects. The project format is `projects/{project_number}`. You can't use `*` in this field to allow all Google Cloud resources."
          }
        },
        "accessLevel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An AccessLevel resource name that allows protected resources inside the ServicePerimeters to access outside the ServicePerimeter boundaries. AccessLevels listed must be in the same policy as this ServicePerimeter. Referencing a nonexistent AccessLevel will cause an error. If an AccessLevel name is not specified, only resources within the perimeter can be accessed through Google Cloud calls with request origins within the perimeter. Example: `accessPolicies/MY_POLICY/accessLevels/MY_LEVEL`. If a single `*` is specified for `access_level`, then all EgressSources will be allowed."
          }
        },
        "pscEndpoint": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1PrivateServiceConnectEndpoint",
          "traits": {
            "smithy.api#documentation": "Requests from this PSC will be allowed from access perimeter data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source that EgressPolicy authorizes access from inside the ServicePerimeter to somewhere outside the ServicePerimeter boundaries."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleCloudAssetV1p7beta1RelationshipAttributes": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detail of the relationship, e.g. `contains`, `attaches`"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the relationship type. Example: `INSTANCE_TO_INSTANCEGROUP`"
          }
        },
        "sourceResourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source asset type. Example: `compute.googleapis.com/Instance`"
          }
        },
        "targetResourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target asset type. Example: `compute.googleapis.com/Disk`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The relationship attributes which include `type`, `source_resource_type`, `target_resource_type` and `action`."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#Policy": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "bindings": {
          "target": "com.gcp.cloudasset_v1p5beta1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.cloudasset_v1p5beta1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#Binding"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#AuditConfig"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ServicePerimeterConfig": {
      "type": "structure",
      "members": {
        "accessLevels": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of `AccessLevel` resource names that allow resources within the `ServicePerimeter` to be accessed from the internet. `AccessLevels` listed must be in the same policy as this `ServicePerimeter`. Referencing a nonexistent `AccessLevel` is a syntax error. If no `AccessLevel` names are listed, resources within the perimeter can only be accessed via Google Cloud calls with request origins within the perimeter. Example: `\"accessPolicies/MY_POLICY/accessLevels/MY_LEVEL\"`. For Service Perimeter Bridge, must be empty."
          }
        },
        "resources": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of Google Cloud resources that are inside of the service perimeter. Currently only projects and VPCs are allowed. Project format: `projects/{project_number}` VPC network format: `//compute.googleapis.com/projects/{PROJECT_ID}/global/networks/{NAME}`."
          }
        },
        "restrictedServices": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Google Cloud services that are subject to the Service Perimeter restrictions. For example, if `storage.googleapis.com` is specified, access to the storage buckets inside the perimeter must meet the perimeter's access restrictions."
          }
        },
        "ingressPolicies": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1IngressPolicyList",
          "traits": {
            "smithy.api#documentation": "List of IngressPolicies to apply to the perimeter. A perimeter may have multiple IngressPolicies, each of which is evaluated separately. Access is granted if any Ingress Policy grants it. Must be empty for a perimeter bridge."
          }
        },
        "vpcAccessibleServices": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1VpcAccessibleServices",
          "traits": {
            "smithy.api#documentation": "Configuration for APIs allowed within Perimeter."
          }
        },
        "egressPolicies": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressPolicyList",
          "traits": {
            "smithy.api#documentation": "List of EgressPolicies to apply to the perimeter. A perimeter may have multiple EgressPolicies, each of which is evaluated separately. Access is granted if any EgressPolicy grants it. Must be empty for a perimeter bridge."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`ServicePerimeterConfig` specifies a set of Google Cloud resources that describe specific Service Perimeter configuration."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1IngressPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1IngressPolicy"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressPolicy"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.cloudasset_v1p5beta1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1VpcSubNetwork": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Network name. If the network is not part of the organization, the `compute.network.get` permission must be granted to the caller. Format: `//compute.googleapis.com/projects/{PROJECT_ID}/global/networks/{NETWORK_NAME}` Example: `//compute.googleapis.com/projects/my-project/global/networks/network-1`"
          }
        },
        "vpcIpSubnetworks": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "CIDR block IP subnetwork specification. The IP address must be an IPv4 address and can be a public or private IP address. Note that for a CIDR IP address block, the specified IP address portion must be properly truncated (i.e. all the host bits must be zero) or the input is considered malformed. For example, \"192.0.2.0/24\" is accepted but \"192.0.2.1/24\" is not. If empty, all IP addresses are allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sub-segment ranges inside of a VPC Network."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1OsConstraint": {
      "type": "structure",
      "members": {
        "osType": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1OsConstraintOsTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The allowed OS type."
          }
        },
        "requireVerifiedChromeOs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Only allows requests from devices with a verified Chrome OS. Verifications includes requirements that the device is enterprise-managed, conformant to domain policies, and the caller has permission to call the API targeted by the request."
          }
        },
        "minimumVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minimum allowed OS version. If not set, any version of this OS satisfies the constraint. Format: `\"major.minor.patch\"`. Examples: `\"10.5.301\"`, `\"9.2.1\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A restriction on the OS type and version of devices making requests."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1OsConstraintOsTypeEnum": {
      "type": "enum",
      "members": {
        "OS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_UNSPECIFIED"
          }
        },
        "DESKTOP_MAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP_MAC"
          }
        },
        "DESKTOP_WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP_WINDOWS"
          }
        },
        "DESKTOP_LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP_LINUX"
          }
        },
        "DESKTOP_CHROME_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP_CHROME_OS"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS"
          }
        }
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressPolicy": {
      "type": "structure",
      "members": {
        "egressTo": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressTo",
          "traits": {
            "smithy.api#documentation": "Defines the conditions on the ApiOperation and destination resources that cause this EgressPolicy to apply."
          }
        },
        "egressFrom": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressFrom",
          "traits": {
            "smithy.api#documentation": "Defines conditions on the source of a request causing this EgressPolicy to apply."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable title for the egress rule. The title must be unique within the perimeter and can not exceed 100 characters. Within the access policy, the combined length of all rule titles must not exceed 240,000 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for egress from perimeter. EgressPolicies match requests based on `egress_from` and `egress_to` stanzas. For an EgressPolicy to match, both `egress_from` and `egress_to` stanzas must be matched. If an EgressPolicy matches a request, the request is allowed to span the ServicePerimeter boundary. For example, an EgressPolicy can be used to allow VMs on networks within the ServicePerimeter to access a defined set of projects outside the perimeter in certain contexts (e.g. to read data from a Cloud Storage bucket or query against a BigQuery dataset). EgressPolicies are concerned with the *resources* that a request relates as well as the API services and API actions being used. They do not related to the direction of data movement. More detailed documentation for this concept can be found in the descriptions of EgressFrom and EgressTo."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleCloudOrgpolicyV1Policy": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque tag indicating the current version of the `Policy`, used for concurrency control. When the `Policy` is returned from either a `GetPolicy` or a `ListOrgPolicy` request, this `etag` indicates the version of the current `Policy` to use when executing a read-modify-write loop. When the `Policy` is returned from a `GetEffectivePolicy` request, the `etag` will be unset. When the `Policy` is used in a `SetOrgPolicy` method, use the `etag` value that was returned from a `GetOrgPolicy` request as part of a read-modify-write loop for concurrency control. Not setting the `etag`in a `SetOrgPolicy` request will result in an unconditional write of the `Policy`."
          }
        },
        "restoreDefault": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleCloudOrgpolicyV1RestoreDefault",
          "traits": {
            "smithy.api#documentation": "Restores the default behavior of the constraint; independent of `Constraint` type."
          }
        },
        "listPolicy": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleCloudOrgpolicyV1ListPolicy",
          "traits": {
            "smithy.api#documentation": "List of values either allowed or disallowed."
          }
        },
        "booleanPolicy": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleCloudOrgpolicyV1BooleanPolicy",
          "traits": {
            "smithy.api#documentation": "For boolean `Constraints`, whether to enforce the `Constraint` or not."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time stamp the `Policy` was previously updated. This is set by the server, not specified by the caller, and represents the last time a call to `SetOrgPolicy` was made for that `Policy`. Any value set by the client will be ignored."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version of the `Policy`. Default version is 0;"
          }
        },
        "constraint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the `Constraint` the `Policy` is configuring, for example, `constraints/serviceuser.services`. A [list of available constraints](/resource-manager/docs/organization-policy/org-policy-constraints) is available. Immutable after creation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a Cloud Organization `Policy` which is used to specify `Constraints` for configurations of Cloud Platform resources."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleCloudOrgpolicyV1BooleanPolicy": {
      "type": "structure",
      "members": {
        "enforced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `true`, then the `Policy` is enforced. If `false`, then any configuration is acceptable. Suppose you have a `Constraint` `constraints/compute.disableSerialPortAccess` with `constraint_default` set to `ALLOW`. A `Policy` for that `Constraint` exhibits the following behavior: - If the `Policy` at this resource has enforced set to `false`, serial port connection attempts will be allowed. - If the `Policy` at this resource has enforced set to `true`, serial port connection attempts will be refused. - If the `Policy` at this resource is `RestoreDefault`, serial port connection attempts will be allowed. - If no `Policy` is set at this resource or anywhere higher in the resource hierarchy, serial port connection attempts will be allowed. - If no `Policy` is set at this resource, but one exists higher in the resource hierarchy, the behavior is as if the`Policy` were set at this resource. The following examples demonstrate the different possible layerings: Example 1 (nearest `Constraint` wins): `organizations/foo` has a `Policy` with: {enforced: false} `projects/bar` has no `Policy` set. The constraint at `projects/bar` and `organizations/foo` will not be enforced. Example 2 (enforcement gets replaced): `organizations/foo` has a `Policy` with: {enforced: false} `projects/bar` has a `Policy` with: {enforced: true} The constraint at `organizations/foo` is not enforced. The constraint at `projects/bar` is enforced. Example 3 (RestoreDefault): `organizations/foo` has a `Policy` with: {enforced: true} `projects/bar` has a `Policy` with: {RestoreDefault: {}} The constraint at `organizations/foo` is enforced. The constraint at `projects/bar` is not enforced, because `constraint_default` for the `Constraint` is `ALLOW`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used in `policy_type` to specify how `boolean_policy` will behave at this resource."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1CustomLevel": {
      "type": "structure",
      "members": {
        "expr": {
          "target": "com.gcp.cloudasset_v1p5beta1#Expr",
          "traits": {
            "smithy.api#documentation": "Required. A Cloud CEL expression evaluating to a boolean."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`CustomLevel` is an `AccessLevel` using the Cloud Common Expression Language to represent the necessary conditions for the level to apply to a request. See CEL spec at: https://github.com/google/cel-spec"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1DevicePolicy": {
      "type": "structure",
      "members": {
        "allowedEncryptionStatuses": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1DevicePolicyAllowedEncryptionStatusesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Allowed encryptions statuses, an empty list allows all statuses."
          }
        },
        "requireAdminApproval": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the device needs to be approved by the customer admin."
          }
        },
        "allowedDeviceManagementLevels": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1DevicePolicyAllowedDeviceManagementLevelsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Allowed device management levels, an empty list allows all management levels."
          }
        },
        "osConstraints": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1OsConstraintList",
          "traits": {
            "smithy.api#documentation": "Allowed OS versions, an empty list allows all types and all versions."
          }
        },
        "requireScreenlock": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not screenlock is required for the DevicePolicy to be true. Defaults to `false`."
          }
        },
        "requireCorpOwned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the device needs to be corp owned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`DevicePolicy` specifies device specific restrictions necessary to acquire a given access level. A `DevicePolicy` specifies requirements for requests from devices to be granted access levels, it does not do any enforcement on the device. `DevicePolicy` acts as an AND over all specified fields, and each repeated field is an OR over its elements. Any unset fields are ignored. For example, if the proto is { os_type : DESKTOP_WINDOWS, os_type : DESKTOP_LINUX, encryption_status: ENCRYPTED}, then the DevicePolicy will be true for requests originating from encrypted Linux desktops and encrypted Windows desktops."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1DevicePolicyAllowedEncryptionStatusesItemEnum": {
      "type": "enum",
      "members": {
        "ENCRYPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_UNSPECIFIED"
          }
        },
        "ENCRYPTION_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_UNSUPPORTED"
          }
        },
        "UNENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNENCRYPTED"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        }
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1DevicePolicyAllowedEncryptionStatusesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1DevicePolicyAllowedEncryptionStatusesItemEnum"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1DevicePolicyAllowedDeviceManagementLevelsItemEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1DevicePolicyAllowedDeviceManagementLevelsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1DevicePolicyAllowedDeviceManagementLevelsItemEnum"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1OsConstraintList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1OsConstraint"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleCloudAssetV1p7beta1Resource": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.gcp.cloudasset_v1p5beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The content of the resource, in which some sensitive fields are removed and may not be present."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API version. Example: `v1`"
          }
        },
        "resourceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The REST URL for accessing the resource. An HTTP `GET` request using this URL returns the resource itself. Example: `https://cloudresourcemanager.googleapis.com/v1/projects/my-project-123` This value is unspecified for resources without a REST API."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the immediate parent of this resource. See [Resource Names](https://cloud.google.com/apis/design/resource_names#full_resource_name) for more information. For Google Cloud assets, this value is the parent resource defined in the [IAM policy hierarchy](https://cloud.google.com/iam/docs/overview#policy_hierarchy). Example: `//cloudresourcemanager.googleapis.com/projects/my_project_123` For third-party assets, this field may be set differently."
          }
        },
        "discoveryDocumentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the discovery document containing the resource's JSON schema. Example: `https://www.googleapis.com/discovery/v1/apis/compute/v1/rest` This value is unspecified for resources that do not have an API based on a discovery document, such as Cloud Bigtable."
          }
        },
        "discoveryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The JSON schema name listed in the discovery document. Example: `Project` This value is unspecified for resources that do not have an API based on a discovery document, such as Cloud Bigtable."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the resource in Google Cloud, such as its zone and region. For more information, see https://cloud.google.com/about/locations/."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a Google Cloud resource."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1AccessPolicy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. Resource name of the `AccessPolicy`. Format: `accessPolicies/{access_policy}`"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque identifier for the current version of the `AccessPolicy`. This will always be a strongly validated etag, meaning that two Access Policies will be identical if and only if their etags are identical. Clients should not expect this to be in any specific format."
          }
        },
        "scopes": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The scopes of the AccessPolicy. Scopes define which resources a policy can restrict and where its resources can be referenced. For example, policy A with `scopes=[\"folders/123\"]` has the following behavior: - ServicePerimeter can only restrict projects within `folders/123`. - ServicePerimeter within policy A can only reference access levels defined within policy A. - Only one policy can include a given scope; thus, attempting to create a second policy which includes `folders/123` will result in an error. If no scopes are provided, then any resource within the organization can be restricted. Scopes cannot be modified after a policy is created. Policies can only have a single scope. Format: list of `folders/{folder_number}` or `projects/{project_number}`"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent of this `AccessPolicy` in the Cloud Resource Hierarchy. Currently immutable once created. Format: `organizations/{organization_id}`"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human readable title. Does not affect behavior."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`AccessPolicy` is a container for `AccessLevels` (which define the necessary attributes to use Google Cloud services) and `ServicePerimeters` (which define regions of services able to freely pass data within a perimeter). An access policy is globally visible within an organization, and the restrictions it specifies apply to all projects within an organization."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1IngressFrom": {
      "type": "structure",
      "members": {
        "identityType": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1IngressFromIdentityTypeEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the type of identities that are allowed access from outside the perimeter. If left unspecified, then members of `identities` field will be allowed access."
          }
        },
        "sources": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1IngressSourceList",
          "traits": {
            "smithy.api#documentation": "Sources that this IngressPolicy authorizes access from."
          }
        },
        "identities": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of identities that are allowed access through [IngressPolicy]. Identities can be an individual user, service account, Google group, third-party identity, or agent identity. For the list of supported identity types, see https://docs.cloud.google.com/vpc-service-controls/docs/supported-identities."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the conditions under which an IngressPolicy matches a request. Conditions are based on information about the source of the request. The request must satisfy what is defined in `sources` AND identity related fields in order to match."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1IngressFromIdentityTypeEnum": {
      "type": "enum",
      "members": {
        "IDENTITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_TYPE_UNSPECIFIED"
          }
        },
        "ANY_IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_IDENTITY"
          }
        },
        "ANY_USER_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_USER_ACCOUNT"
          }
        },
        "ANY_SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_SERVICE_ACCOUNT"
          }
        }
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1IngressSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1IngressSource"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ServicePattern": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Supported service to allow."
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL pattern to allow. Only patterns of \".googleapis.com/*\", \"www.googleapis.com//*\" and \"*.appspot.com/* forms are supported, where should be alphanumerical name."
          }
        },
        "modifiers": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ModifierList",
          "traits": {
            "smithy.api#documentation": "Modifiers to apply to the requests that match the URL pattern."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service patterns used to allow access."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ModifierList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1Modifier"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1Modifier": {
      "type": "structure",
      "members": {
        "addRequestHeader": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1AddRequestHeader",
          "traits": {
            "smithy.api#documentation": "Adds additional HTTP request headers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Modifier to apply to the API requests."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1PrivateServiceConnectEndpoint": {
      "type": "structure",
      "members": {
        "forwardingRule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The global forwarding rule identifier. Forwarding rule format: `//compute.googleapis.com/projects/{PROJECT_ID}/global/forwardingRules/{FORWARDING_RULE_ID}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the PSC an API call refers to."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1VpcAccessibleServices": {
      "type": "structure",
      "members": {
        "enableRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to restrict API calls within the Service Perimeter to the list of APIs specified in 'allowed_services'."
          }
        },
        "allowedServices": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of APIs usable within the Service Perimeter. Must be empty unless 'enable_restriction' is True. You can specify a list of individual services, as well as include the 'RESTRICTED-SERVICES' value, which automatically includes all of the services protected by the perimeter."
          }
        },
        "servicePatternsEnforcementScopes": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1VpcAccessibleServicesServicePatternsEnforcementScopesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Defines the enforcement scopes of service patterns."
          }
        },
        "allowedServicePatterns": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ServicePatternList",
          "traits": {
            "smithy.api#documentation": "Specifies which Google services are allowed to be accessed from VPC networks in the service perimeter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies how APIs are allowed to communicate within the Service Perimeter."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1VpcAccessibleServicesServicePatternsEnforcementScopesItemEnum": {
      "type": "enum",
      "members": {
        "SERVICE_PATTERNS_ENFORCEMENT_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_PATTERNS_ENFORCEMENT_SCOPE_UNSPECIFIED"
          }
        },
        "GOOGLE_APIS_VIA_PRIVATE_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_APIS_VIA_PRIVATE_PATH"
          }
        }
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1VpcAccessibleServicesServicePatternsEnforcementScopesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1VpcAccessibleServicesServicePatternsEnforcementScopesItemEnum"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ServicePatternList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ServicePattern"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressFrom": {
      "type": "structure",
      "members": {
        "identityType": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressFromIdentityTypeEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the type of identities that are allowed access to outside the perimeter. If left unspecified, then members of `identities` field will be allowed access."
          }
        },
        "sources": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressSourceList",
          "traits": {
            "smithy.api#documentation": "Sources that this EgressPolicy authorizes access from. If this field is not empty, then `source_restriction` must be set to `SOURCE_RESTRICTION_ENABLED`."
          }
        },
        "sourceRestriction": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressFromSourceRestrictionEnum",
          "traits": {
            "smithy.api#documentation": "Whether to enforce traffic restrictions based on `sources` field. If the `sources` fields is non-empty, then this field must be set to `SOURCE_RESTRICTION_ENABLED`."
          }
        },
        "identities": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of identities that are allowed access through [EgressPolicy]. Identities can be an individual user, service account, Google group, third-party identity, or agent identity. For the list of supported identity types, see https://docs.cloud.google.com/vpc-service-controls/docs/supported-identities."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the conditions under which an EgressPolicy matches a request. Conditions based on information about the source of the request. Note that if the destination of the request is also protected by a ServicePerimeter, then that ServicePerimeter must have an IngressPolicy which allows access in order for this request to succeed."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressFromIdentityTypeEnum": {
      "type": "enum",
      "members": {
        "IDENTITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_TYPE_UNSPECIFIED"
          }
        },
        "ANY_IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_IDENTITY"
          }
        },
        "ANY_USER_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_USER_ACCOUNT"
          }
        },
        "ANY_SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_SERVICE_ACCOUNT"
          }
        }
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressSource"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressFromSourceRestrictionEnum": {
      "type": "enum",
      "members": {
        "SOURCE_RESTRICTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_RESTRICTION_UNSPECIFIED"
          }
        },
        "SOURCE_RESTRICTION_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_RESTRICTION_ENABLED"
          }
        },
        "SOURCE_RESTRICTION_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_RESTRICTION_DISABLED"
          }
        }
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1Condition": {
      "type": "structure",
      "members": {
        "devicePolicy": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1DevicePolicy",
          "traits": {
            "smithy.api#documentation": "Device specific restrictions, all restrictions must hold for the Condition to be true. If not specified, all devices are allowed."
          }
        },
        "ipSubnetworks": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "CIDR block IP subnetwork specification. May be IPv4 or IPv6. Note that for a CIDR IP address block, the specified IP address portion must be properly truncated (i.e. all the host bits must be zero) or the input is considered malformed. For example, \"192.0.2.0/24\" is accepted but \"192.0.2.1/24\" is not. Similarly, for IPv6, \"2001:db8::/32\" is accepted whereas \"2001:db8::1/32\" is not. The originating IP of a request must be in one of the listed subnets in order for this Condition to be true. If empty, all IP addresses are allowed."
          }
        },
        "requiredAccessLevels": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of other access levels defined in the same `Policy`, referenced by resource name. Referencing an `AccessLevel` which does not exist is an error. All access levels listed must be granted for the Condition to be true. Example: \"`accessPolicies/MY_POLICY/accessLevels/LEVEL_NAME\"`"
          }
        },
        "members": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The request must be made by one of the provided user or service accounts. Groups are not supported. Syntax: `user:{emailid}` `serviceAccount:{emailid}` If not specified, a request may come from any user."
          }
        },
        "vpcNetworkSources": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1VpcNetworkSourceList",
          "traits": {
            "smithy.api#documentation": "The request must originate from one of the provided VPC networks in Google Cloud. Cannot specify this field together with `ip_subnetworks`."
          }
        },
        "negate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to negate the Condition. If true, the Condition becomes a NAND over its non-empty fields. Any non-empty field criteria evaluating to false will result in the Condition to be satisfied. Defaults to false."
          }
        },
        "regions": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The request must originate from one of the provided countries/regions. Must be valid ISO 3166-1 alpha-2 codes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A condition necessary for an `AccessLevel` to be granted. The Condition is an AND over its fields. So a Condition is true if: 1) the request IP is from one of the listed subnetworks AND 2) the originating device complies with the listed device policy AND 3) all listed access levels are granted AND 4) the request was sent at a time allowed by the DateTimeRestriction."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1VpcNetworkSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1VpcNetworkSource"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1BasicLevel": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ConditionList",
          "traits": {
            "smithy.api#documentation": "Required. A list of requirements for the `AccessLevel` to be granted."
          }
        },
        "combiningFunction": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1BasicLevelCombiningFunctionEnum",
          "traits": {
            "smithy.api#documentation": "How the `conditions` list should be combined to determine if a request is granted this `AccessLevel`. If AND is used, each `Condition` in `conditions` must be satisfied for the `AccessLevel` to be applied. If OR is used, at least one `Condition` in `conditions` must be satisfied for the `AccessLevel` to be applied. Default behavior is AND."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BasicLevel` is an `AccessLevel` using a set of recommended features."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1Condition"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1BasicLevelCombiningFunctionEnum": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1MethodSelector": {
      "type": "structure",
      "members": {
        "permission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid Cloud IAM permission for the corresponding `service_name` in ApiOperation."
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid method name for the corresponding `service_name` in ApiOperation. If `*` is used as the value for the `method`, then ALL methods and permissions are allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An allowed method or permission of a service specified in ApiOperation."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1VpcNetworkSource": {
      "type": "structure",
      "members": {
        "vpcSubnetwork": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1VpcSubNetwork",
          "traits": {
            "smithy.api#documentation": "Sub-segment ranges of a VPC network."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The originating network source in Google Cloud."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#AnalyzeIamPolicyLongrunningResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A response message for AssetService.AnalyzeIamPolicyLongrunning."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1IngressSource": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Google Cloud resource that is allowed to ingress the perimeter. Requests from these resources will be allowed to access perimeter data. Currently only projects and VPCs are allowed. Project format: `projects/{project_number}` VPC network format: `//compute.googleapis.com/projects/{PROJECT_ID}/global/networks/{NAME}`. The project may be in any Google Cloud organization, not just the organization that the perimeter is defined in. `*` is not allowed, the case of allowing all Google Cloud resources only is not supported."
          }
        },
        "pscEndpoint": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1PrivateServiceConnectEndpoint",
          "traits": {
            "smithy.api#documentation": "Requests from this PSC will be allowed to access perimeter data."
          }
        },
        "accessLevel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An AccessLevel resource name that allow resources within the ServicePerimeters to be accessed from the internet. AccessLevels listed must be in the same policy as this ServicePerimeter. Referencing a nonexistent AccessLevel will cause an error. If no AccessLevel names are listed, resources within the perimeter can only be accessed via Google Cloud calls with request origins within the perimeter. Example: `accessPolicies/MY_POLICY/accessLevels/MY_LEVEL`. If a single `*` is specified for `access_level`, then all IngressSources will be allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source that IngressPolicy authorizes access from."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1EgressTo": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of resources, currently only projects in the form `projects/`, that are allowed to be accessed by sources defined in the corresponding EgressFrom. A request matches if it contains a resource in this list. If `*` is specified for `resources`, then this EgressTo rule will authorize access to all resources outside the perimeter."
          }
        },
        "externalResources": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of external resources that are allowed to be accessed. Only AWS and Azure resources are supported. For Amazon S3, the supported formats are s3://BUCKET_NAME, s3a://BUCKET_NAME, and s3n://BUCKET_NAME. For Azure Storage, the supported format is azure://myaccount.blob.core.windows.net/CONTAINER_NAME. A request matches if it contains an external resource in this list (Example: s3://bucket/path). Currently '*' is not allowed."
          }
        },
        "operations": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ApiOperationList",
          "traits": {
            "smithy.api#documentation": "A list of ApiOperations allowed to be performed by the sources specified in the corresponding EgressFrom. A request matches if it uses an operation/service in this list."
          }
        },
        "roles": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "IAM roles that represent the set of operations that the sources specified in the corresponding EgressFrom. are allowed to perform in this ServicePerimeter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the conditions under which an EgressPolicy matches a request. Conditions are based on information about the ApiOperation intended to be performed on the `resources` specified. Note that if the destination of the request is also protected by a ServicePerimeter, then that ServicePerimeter must have an IngressPolicy which allows access in order for this request to succeed. The request must match `operations` AND `resources` fields in order to be allowed egress out of the perimeter."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleCloudAssetV1p7beta1Asset": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the asset. Example: `//compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1` See [Resource names](https://cloud.google.com/apis/design/resource_names#full_resource_name) for more information."
          }
        },
        "relatedAssets": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleCloudAssetV1p7beta1RelatedAssets",
          "traits": {
            "smithy.api#documentation": "The related assets of the asset of one relationship type. One asset only represents one type of relationship."
          }
        },
        "assetType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the asset. Example: `compute.googleapis.com/Disk` See [Supported asset types](https://cloud.google.com/asset-inventory/docs/supported-asset-types) for more information."
          }
        },
        "ancestors": {
          "target": "com.gcp.cloudasset_v1p5beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The ancestry path of an asset in Google Cloud [resource hierarchy](https://cloud.google.com/resource-manager/docs/cloud-platform-resource-hierarchy), represented as a list of relative resource names. An ancestry path starts with the closest ancestor in the hierarchy and ends at root. If the asset is a project, folder, or organization, the ancestry path starts from the asset itself. Example: `[\"projects/123456789\", \"folders/5432\", \"organizations/1234\"]`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update timestamp of an asset. update_time is updated when create/update/delete operation is performed."
          }
        },
        "resource": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleCloudAssetV1p7beta1Resource",
          "traits": {
            "smithy.api#documentation": "A representation of the resource."
          }
        },
        "orgPolicy": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleCloudOrgpolicyV1PolicyList",
          "traits": {
            "smithy.api#documentation": "A representation of an [organization policy](https://cloud.google.com/resource-manager/docs/organization-policy/overview#organization_policy). There can be more than one organization policy with different constraints set on a given resource."
          }
        },
        "servicePerimeter": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ServicePerimeter",
          "traits": {
            "smithy.api#documentation": "Please also refer to the [service perimeter user guide](https://cloud.google.com/vpc-service-controls/docs/overview)."
          }
        },
        "accessPolicy": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1AccessPolicy",
          "traits": {
            "smithy.api#documentation": "Please also refer to the [access policy user guide](https://cloud.google.com/access-context-manager/docs/overview#access-policies)."
          }
        },
        "iamPolicy": {
          "target": "com.gcp.cloudasset_v1p5beta1#Policy",
          "traits": {
            "smithy.api#documentation": "A representation of the IAM policy set on a Google Cloud resource. There can be a maximum of one IAM policy set on any given resource. In addition, IAM policies inherit their granted access scope from any policies set on parent resources in the resource hierarchy. Therefore, the effectively policy is the union of both the policy set on this resource and each policy set on all of the resource's ancestry resource levels in the hierarchy. See [this topic](https://cloud.google.com/iam/help/allow-policies/inheritance) for more information."
          }
        },
        "accessLevel": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1AccessLevel",
          "traits": {
            "smithy.api#documentation": "Please also refer to the [access level user guide](https://cloud.google.com/access-context-manager/docs/overview#access-levels)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An asset in Google Cloud. An asset can be any resource in the Google Cloud [resource hierarchy](https://cloud.google.com/resource-manager/docs/cloud-platform-resource-hierarchy), a resource outside the Google Cloud resource hierarchy (such as Google Kubernetes Engine clusters and objects), or a policy (e.g. IAM policy). See [Supported asset types](https://cloud.google.com/asset-inventory/docs/supported-asset-types) for more information."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleCloudOrgpolicyV1PolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#GoogleCloudOrgpolicyV1Policy"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#Resource": {
      "type": "structure",
      "members": {
        "discoveryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The JSON schema name listed in the discovery document. Example: `Project` This value is unspecified for resources that do not have an API based on a discovery document, such as Cloud Bigtable."
          }
        },
        "discoveryDocumentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the discovery document containing the resource's JSON schema. Example: `https://www.googleapis.com/discovery/v1/apis/compute/v1/rest` This value is unspecified for resources that do not have an API based on a discovery document, such as Cloud Bigtable."
          }
        },
        "resourceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The REST URL for accessing the resource. An HTTP `GET` request using this URL returns the resource itself. Example: `https://cloudresourcemanager.googleapis.com/v1/projects/my-project-123` This value is unspecified for resources without a REST API."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the immediate parent of this resource. See [Resource Names](https://cloud.google.com/apis/design/resource_names#full_resource_name) for more information. For Google Cloud assets, this value is the parent resource defined in the [IAM policy hierarchy](https://cloud.google.com/iam/docs/overview#policy_hierarchy). Example: `//cloudresourcemanager.googleapis.com/projects/my_project_123` For third-party assets, this field may be set differently."
          }
        },
        "data": {
          "target": "com.gcp.cloudasset_v1p5beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The content of the resource, in which some sensitive fields are removed and may not be present."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API version. Example: \"v1\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a Google Cloud resource."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#ListAssetsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results. It expires 72 hours after the page token for the first page is generated. Set to empty if there are no remaining results."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the snapshot was taken."
          }
        },
        "assets": {
          "target": "com.gcp.cloudasset_v1p5beta1#AssetList",
          "traits": {
            "smithy.api#documentation": "Assets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListAssets response."
      }
    },
    "com.gcp.cloudasset_v1p5beta1#AssetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudasset_v1p5beta1#Asset"
      }
    },
    "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ServicePerimeter": {
      "type": "structure",
      "members": {
        "perimeterType": {
          "target": "com.gcp.cloudasset_v1p5beta1#GoogleIdentityAccesscontextmanagerV1ServicePerimeterPerimeterTypeEnum",
          "traits": {
            "smithy.api#documentation": "Perimeter type indicator. A single project or VPC network is allowed to be a member of single regular perimeter, but multiple service perimeter bridges. A project cannot be a included in a perimeter bridge without being included in regular perimeter. For perimeter bridges, the restricted service list as well as access level lists must be empty."
          }
        },
        "useExplicitDryRunSpec": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use explicit dry run spec flag. Ordinarily, a dry-run spec implicitly exists for all Service Perimeters, and that spec is identical to the status for those Service Perimeters. When this flag is set, it inhibits the generation of the implicit spec, thereby allowing the user to explicitly provide a configuration (\"spec\") to use in a dry-run version of the Service Perimeter. This allows the user to test changes to the enforced config (\"status\") without actually enforcing them. This testing is done through analyzing the differences between currently enforced and suggested restrictions. use_explicit_dry_run_spec must bet set to True if any of the fields in the spec are set to non-default values."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the `ServicePerimeter` and its use. Does not affect behavior."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name for the `ServicePerimeter`. Format: `accessPolicies/{access_policy}/servicePerimeters/{service_perimeter}`. The `service_perimeter` component must begin with a letter, followed by alphanumeric characters or `_`. After you create a `ServicePerimeter`, you cannot change its `name`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An opaque identifier for the current version of the `ServicePerimeter`. This identifier does not follow any specific format. If an etag is not provided, the operation will be performed as if a valid etag is provided."
          }
[...]
