{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudtasks",
    "version": "v2beta3",
    "title": "Cloud Tasks API",
    "baseUrl": "https://cloudtasks.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudtasks_v2beta3#ResumeQueueRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for ResumeQueue."
      }
    },
    "com.gcp.cloudtasks_v2beta3#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.cloudtasks_v2beta3#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.cloudtasks_v2beta3#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.cloudtasks_v2beta3#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudtasks_v2beta3#Binding"
      }
    },
    "com.gcp.cloudtasks_v2beta3#UriOverride": {
      "type": "structure",
      "members": {
        "scheme": {
          "target": "com.gcp.cloudtasks_v2beta3#UriOverrideSchemeEnum",
          "traits": {
            "smithy.api#documentation": "Scheme override. When specified, the task URI scheme is replaced by the provided value (HTTP or HTTPS)."
          }
        },
        "queryOverride": {
          "target": "com.gcp.cloudtasks_v2beta3#QueryOverride",
          "traits": {
            "smithy.api#documentation": "URI Query. When specified, replaces the query part of the task URI. Setting the query value to an empty string clears the URI query segment."
          }
        },
        "port": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Port override. When specified, replaces the port part of the task URI. For instance, for a URI \"https://www.example.com/example\" and port=123, the overridden URI becomes \"https://www.example.com:123/example\". Note that the port value must be a positive integer. Setting the port to 0 (Zero) clears the URI port."
          }
        },
        "pathOverride": {
          "target": "com.gcp.cloudtasks_v2beta3#PathOverride",
          "traits": {
            "smithy.api#documentation": "URI path. When specified, replaces the existing path of the task URL. Setting the path value to an empty string clears the URI path segment."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host override. When specified, replaces the host part of the task URL. For example, if the task URL is \"https://www.google.com,\" and host value is set to \"example.net\", the overridden URI will be changed to \"https://example.net.\" Host value cannot be an empty string (INVALID_ARGUMENT)."
          }
        },
        "uriOverrideEnforceMode": {
          "target": "com.gcp.cloudtasks_v2beta3#UriOverrideUriOverrideEnforceModeEnum",
          "traits": {
            "smithy.api#documentation": "URI Override Enforce Mode When specified, determines the Target UriOverride mode. If not specified, it defaults to ALWAYS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "URI Override. When specified, all the HTTP tasks inside the queue will be partially or fully overridden depending on the configured values."
      }
    },
    "com.gcp.cloudtasks_v2beta3#UriOverrideSchemeEnum": {
      "type": "enum",
      "members": {
        "SCHEME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEME_UNSPECIFIED"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        }
      }
    },
    "com.gcp.cloudtasks_v2beta3#UriOverrideUriOverrideEnforceModeEnum": {
      "type": "enum",
      "members": {
        "URI_OVERRIDE_ENFORCE_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URI_OVERRIDE_ENFORCE_MODE_UNSPECIFIED"
          }
        },
        "IF_NOT_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IF_NOT_EXISTS"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS"
          }
        }
      }
    },
    "com.gcp.cloudtasks_v2beta3#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.cloudtasks_v2beta3#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.cloudtasks_v2beta3#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.cloudtasks_v2beta3#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudtasks_v2beta3#ListTasksResponse": {
      "type": "structure",
      "members": {
        "tasks": {
          "target": "com.gcp.cloudtasks_v2beta3#TaskList",
          "traits": {
            "smithy.api#documentation": "The list of tasks."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. To return the next page of results, call ListTasks with this value as the page_token. If the next_page_token is empty, there are no more results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing tasks using ListTasks."
      }
    },
    "com.gcp.cloudtasks_v2beta3#TaskList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudtasks_v2beta3#Task"
      }
    },
    "com.gcp.cloudtasks_v2beta3#RunTaskRequest": {
      "type": "structure",
      "members": {
        "responseView": {
          "target": "com.gcp.cloudtasks_v2beta3#RunTaskRequestResponseViewEnum",
          "traits": {
            "smithy.api#documentation": "The response_view specifies which subset of the Task will be returned. By default response_view is BASIC; not all information is retrieved by default because some data, such as payloads, might be desirable to return only when needed because of its large size or because of the sensitivity of data that it contains. Authorization for FULL requires `cloudtasks.tasks.fullView` [Google IAM](https://cloud.google.com/iam/) permission on the Task resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for forcing a task to run now using RunTask."
      }
    },
    "com.gcp.cloudtasks_v2beta3#RunTaskRequestResponseViewEnum": {
      "type": "enum",
      "members": {
        "VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_UNSPECIFIED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        }
      }
    },
    "com.gcp.cloudtasks_v2beta3#PurgeQueueRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for PurgeQueue."
      }
    },
    "com.gcp.cloudtasks_v2beta3#Queue": {
      "type": "structure",
      "members": {
        "tombstoneTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The task tombstone time to live (TTL). After a task is deleted or executed, the task's tombstone is retained for the length of time specified by `tombstone_ttl`. The tombstone is used by task de-duplication; another task with the same name can't be created until the tombstone has expired. For more information about task de-duplication, see the documentation for CreateTaskRequest. The minimum value is 1 hour. The maximum value is 9 days. The value must be given as a string that indicates the length of time (in seconds) followed by `s` (for \"seconds\"). For more information on the format, see the documentation for [Duration](https://protobuf.dev/reference/protobuf/google.protobuf/#duration). Queues created by Cloud Tasks have a default `tombstone_ttl` of 1 hour."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Caller-specified and required in CreateQueue, after which it becomes output only. The queue name. The queue name must have the following format: `projects/PROJECT_ID/locations/LOCATION_ID/queues/QUEUE_ID` * `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]), hyphens (-), colons (:), or periods (.). For more information, see [Identifying projects](https://cloud.google.com/resource-manager/docs/creating-managing-projects#identifying_projects) * `LOCATION_ID` is the canonical ID for the queue's location. The list of available locations can be obtained by calling ListLocations. For more information, see https://cloud.google.com/about/locations/. * `QUEUE_ID` can contain letters ([A-Za-z]), numbers ([0-9]), or hyphens (-). The maximum length is 100 characters."
          }
        },
        "httpTarget": {
          "target": "com.gcp.cloudtasks_v2beta3#HttpTarget",
          "traits": {
            "smithy.api#documentation": "Modifies HTTP target for HTTP tasks."
          }
        },
        "state": {
          "target": "com.gcp.cloudtasks_v2beta3#QueueStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the queue. `state` can only be changed by called PauseQueue, ResumeQueue, or uploading [queue.yaml/xml](https://cloud.google.com/appengine/docs/python/config/queueref). UpdateQueue cannot be used to change `state`."
          }
        },
        "type": {
          "target": "com.gcp.cloudtasks_v2beta3#QueueTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The type of a queue (push or pull). `Queue.type` is an immutable property of the queue that is set at the queue creation time. When left unspecified, the default value of `PUSH` is selected."
          }
        },
        "taskTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum amount of time that a task will be retained in this queue. After a task has lived for `task_ttl`, the task will be deleted regardless of whether it was dispatched or not. The minimum value is 10 days. The maximum value is 10 years. The value must be given as a string that indicates the length of time (in seconds) followed by `s` (for \"seconds\"). For more information on the format, see the documentation for [Duration](https://protobuf.dev/reference/protobuf/google.protobuf/#duration). Queues created by Cloud Tasks have a default `task_ttl` of 31 days. . Queues created by queue.yaml/xml have a fixed `task_ttl` of the maximum duration, because there is a [storage quota](https://docs.cloud.google.com/appengine/docs/standard/quotas#Task_Queue) for these queues."
          }
        },
        "retryConfig": {
          "target": "com.gcp.cloudtasks_v2beta3#RetryConfig",
          "traits": {
            "smithy.api#documentation": "Settings that determine the retry behavior. * For tasks created using Cloud Tasks: the queue-level retry settings apply to all tasks in the queue that were created using Cloud Tasks. Retry settings cannot be set on individual tasks. * For tasks created using the App Engine SDK: the queue-level retry settings apply to all tasks in the queue which do not have retry settings explicitly set on the task and were created by the App Engine SDK. See [App Engine documentation](https://cloud.google.com/appengine/docs/standard/python/taskqueue/push/retrying-tasks)."
          }
        },
        "stackdriverLoggingConfig": {
          "target": "com.gcp.cloudtasks_v2beta3#StackdriverLoggingConfig",
          "traits": {
            "smithy.api#documentation": "Configuration options for writing logs to [Stackdriver Logging](https://cloud.google.com/logging/docs/). If this field is unset, then no logs are written."
          }
        },
        "appEngineHttpQueue": {
          "target": "com.gcp.cloudtasks_v2beta3#AppEngineHttpQueue",
          "traits": {
            "smithy.api#documentation": "AppEngineHttpQueue settings apply only to App Engine tasks in this queue. Http tasks are not affected by this proto."
          }
        },
        "rateLimits": {
          "target": "com.gcp.cloudtasks_v2beta3#RateLimits",
          "traits": {
            "smithy.api#documentation": "Rate limits for task dispatches. rate_limits and retry_config are related because they both control task attempts. However they control task attempts in different ways: * rate_limits controls the total rate of dispatches from a queue (i.e. all traffic dispatched from the queue, regardless of whether the dispatch is from a first attempt or a retry). * retry_config controls what happens to a particular task after its first attempt fails. That is, retry_config controls task retries (the second attempt, third attempt, etc). The queue's actual dispatch rate is the result of: * Number of tasks in the queue * User-specified throttling: rate_limits, retry_config, and the queue's state. * System throttling due to `429` (Too Many Requests) or `503` (Service Unavailable) responses from the worker, high error rates, or to smooth sudden large traffic spikes."
          }
        },
        "stats": {
          "target": "com.gcp.cloudtasks_v2beta3#QueueStats",
          "traits": {
            "smithy.api#documentation": "Output only. The realtime, informational statistics for a queue. In order to receive the statistics the caller should include this field in the FieldMask."
          }
        },
        "purgeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last time this queue was purged. All tasks that were created before this time were purged. A queue can be purged using PurgeQueue, the [App Engine Task Queue SDK, or the Cloud Console](https://cloud.google.com/appengine/docs/standard/python/taskqueue/push/deleting-tasks-and-queues#purging_all_tasks_from_a_queue). Purge time will be truncated to the nearest microsecond. Purge time will be unset if the queue has never been purged."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A queue is a container of related tasks. Queues are configured to manage how those tasks are dispatched. Configurable properties include rate limits, retry options, queue types, and others."
      }
    },
    "com.gcp.cloudtasks_v2beta3#QueueStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.cloudtasks_v2beta3#QueueTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PULL"
          }
        },
        "PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUSH"
          }
        }
      }
    },
    "com.gcp.cloudtasks_v2beta3#RateLimits": {
      "type": "structure",
      "members": {
        "maxDispatchesPerSecond": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum rate at which tasks are dispatched from this queue. If unspecified when the queue is created, Cloud Tasks will pick the default. For App Engine queues, the maximum allowed value is 500. This field has the same meaning as [rate in queue.yaml/xml](https://cloud.google.com/appengine/docs/standard/python/config/queueref#rate)."
          }
        },
        "maxBurstSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The max burst size. Max burst size limits how fast tasks in queue are processed when many tasks are in the queue and the rate is high. This field allows the queue to have a high rate so processing starts shortly after a task is enqueued, but still limits resource usage when many tasks are enqueued in a short period of time. The [token bucket](https://wikipedia.org/wiki/Token_Bucket) algorithm is used to control the rate of task dispatches. Each queue has a token bucket that holds tokens, up to the maximum specified by `max_burst_size`. Each time a task is dispatched, a token is removed from the bucket. Tasks will be dispatched until the queue's bucket runs out of tokens. The bucket will be continuously refilled with new tokens based on max_dispatches_per_second. The default value of `max_burst_size` is picked by Cloud Tasks based on the value of max_dispatches_per_second. The maximum value of `max_burst_size` is 500. For App Engine queues that were created or updated using `queue.yaml/xml`, `max_burst_size` is equal to [bucket_size](https://cloud.google.com/appengine/docs/standard/python/config/queueref#bucket_size). If UpdateQueue is called on a queue without explicitly setting a value for `max_burst_size`, `max_burst_size` value will get updated if UpdateQueue is updating max_dispatches_per_second. "
          }
        },
        "maxConcurrentDispatches": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of concurrent tasks that Cloud Tasks allows to be dispatched for this queue. After this threshold has been reached, Cloud Tasks stops dispatching tasks until the number of concurrent requests decreases. If unspecified when the queue is created, Cloud Tasks will pick the default. The maximum allowed value is 5,000. This field has the same meaning as [max_concurrent_requests in queue.yaml/xml](https://cloud.google.com/appengine/docs/standard/python/config/queueref#max_concurrent_requests)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rate limits. This message determines the maximum rate that tasks can be dispatched by a queue, regardless of whether the dispatch is a first task attempt or a retry. Note: The debugging command, RunTask, will run a task even if the queue has reached its RateLimits."
      }
    },
    "com.gcp.cloudtasks_v2beta3#HttpRequest": {
      "type": "structure",
      "members": {
        "httpMethod": {
          "target": "com.gcp.cloudtasks_v2beta3#HttpRequestHttpMethodEnum",
          "traits": {
            "smithy.api#documentation": "The HTTP method to use for the request. The default is POST."
          }
        },
        "headers": {
          "target": "com.gcp.cloudtasks_v2beta3#StringMap",
          "traits": {
            "smithy.api#documentation": "HTTP request headers. This map contains the header field names and values. Headers can be set when the task is created. These headers represent a subset of the headers that will accompany the task's HTTP request. Some HTTP request headers will be ignored or replaced. A partial list of headers that will be ignored or replaced is: * Any header that is prefixed with \"X-CloudTasks-\" will be treated as service header. Service headers define properties of the task and are predefined in Cloud Tasks. * Host: This will be computed by Cloud Tasks and derived from HttpRequest.url. * Content-Length: This will be computed by Cloud Tasks. * User-Agent: This will be set to `\"Google-Cloud-Tasks\"`. * `X-Google-*`: Google use only. * `X-AppEngine-*`: Google use only. `Content-Type` won't be set by Cloud Tasks. You can explicitly set `Content-Type` to a media type when the task is created. For example, `Content-Type` can be set to `\"application/octet-stream\"` or `\"application/json\"`. Headers which can have multiple values (according to RFC2616) can be specified using comma-separated values. The size of the headers must be less than 80KB."
          }
        },
        "oauthToken": {
          "target": "com.gcp.cloudtasks_v2beta3#OAuthToken",
          "traits": {
            "smithy.api#documentation": "If specified, an [OAuth token](https://developers.google.com/identity/protocols/OAuth2) will be generated and attached as an `Authorization` header in the HTTP request. This type of authorization should generally only be used when calling Google APIs hosted on *.googleapis.com."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full url path that the request will be sent to. This string must begin with either \"http://\" or \"https://\". Some examples are: `http://acme.com` and `https://acme.com/sales:8080`. Cloud Tasks will encode some characters for safety and compatibility. The maximum allowed URL length is 2083 characters after encoding. The `Location` header response from a redirect response [`300` - `399`] may be followed. The redirect is not counted as a separate attempt."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP request body. A request body is allowed only if the HTTP method is POST, PUT, or PATCH. It is an error to set body on a task with an incompatible HttpMethod."
          }
        },
        "oidcToken": {
          "target": "com.gcp.cloudtasks_v2beta3#OidcToken",
          "traits": {
            "smithy.api#documentation": "If specified, an [OIDC](https://developers.google.com/identity/protocols/OpenIDConnect) token will be generated and attached as an `Authorization` header in the HTTP request. This type of authorization can be used for many scenarios, including calling Cloud Run, or endpoints where you intend to validate the token yourself."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HTTP request. The task will be pushed to the worker as an HTTP request. If the worker or the redirected worker acknowledges the task by returning a successful HTTP response code ([`200` - `299`]), the task will be removed from the queue. If any other HTTP response code is returned or no response is received, the task will be retried according to the following: * User-specified throttling: retry configuration, rate limits, and the queue's state. * System throttling: To prevent the worker from overloading, Cloud Tasks may temporarily reduce the queue's effective rate. User-specified settings will not be changed. System throttling happens because: * Cloud Tasks backs off on all errors. Normally the backoff specified in rate limits will be used. But if the worker returns `429` (Too Many Requests), `503` (Service Unavailable), or the rate of errors is high, Cloud Tasks will use a higher backoff rate. The retry specified in the `Retry-After` HTTP response header is considered. * To prevent traffic spikes and to smooth sudden increases in traffic, dispatches ramp up slowly when the queue is newly created or idle and if large numbers of tasks suddenly become available to dispatch (due to spikes in create task rates, the queue being unpaused, or many tasks that are scheduled at the same time)."
      }
    },
    "com.gcp.cloudtasks_v2beta3#HttpRequestHttpMethodEnum": {
      "type": "enum",
      "members": {
        "HTTP_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_UNSPECIFIED"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        }
      }
    },
    "com.gcp.cloudtasks_v2beta3#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudtasks_v2beta3#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.cloudtasks_v2beta3#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.cloudtasks_v2beta3#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudtasks_v2beta3#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudtasks_v2beta3#AppEngineHttpQueue": {
      "type": "structure",
      "members": {
        "appEngineRoutingOverride": {
          "target": "com.gcp.cloudtasks_v2beta3#AppEngineRouting",
          "traits": {
            "smithy.api#documentation": "Overrides for the task-level app_engine_routing. If set, `app_engine_routing_override` is used for all tasks in the queue, no matter what the setting is for the task-level app_engine_routing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "App Engine HTTP queue. The task will be delivered to the App Engine application hostname specified by its AppEngineHttpQueue and AppEngineHttpRequest. The documentation for AppEngineHttpRequest explains how the task's host URL is constructed. Using AppEngineHttpQueue requires [`appengine.applications.get`](https://cloud.google.com/appengine/docs/admin-api/access-control) Google IAM permission for the project and the following scope: `https://www.googleapis.com/auth/cloud-platform`"
      }
    },
    "com.gcp.cloudtasks_v2beta3#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.cloudtasks_v2beta3#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.cloudtasks_v2beta3#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudtasks_v2beta3#Location"
      }
    },
    "com.gcp.cloudtasks_v2beta3#QueryOverride": {
      "type": "structure",
      "members": {
        "queryParams": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The query parameters (e.g., qparam1=123&qparam2=456). Default is an empty string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QueryOverride. Query message defines query override for HTTP targets."
      }
    },
    "com.gcp.cloudtasks_v2beta3#HttpBody": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP request/response body as raw binary."
          }
        },
        "extensions": {
          "target": "com.gcp.cloudtasks_v2beta3#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Application specific response metadata. Must be set in the first response for streaming APIs."
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP Content-Type header value specifying the content type of the body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
      }
    },
    "com.gcp.cloudtasks_v2beta3#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudtasks_v2beta3#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudtasks_v2beta3#DocumentMap"
      }
    },
    "com.gcp.cloudtasks_v2beta3#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "labels": {
          "target": "com.gcp.cloudtasks_v2beta3#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.cloudtasks_v2beta3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.cloudtasks_v2beta3#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.cloudtasks_v2beta3#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudtasks_v2beta3#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudtasks_v2beta3#StackdriverLoggingConfig": {
      "type": "structure",
      "members": {
        "samplingRatio": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the fraction of operations to write to [Stackdriver Logging](https://cloud.google.com/logging/docs/). This field may contain any value between 0.0 and 1.0, inclusive. 0.0 is the default and means that no operations are logged."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for writing logs to [Stackdriver Logging](https://cloud.google.com/logging/docs/)."
      }
    },
    "com.gcp.cloudtasks_v2beta3#PauseQueueRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for PauseQueue."
      }
    },
    "com.gcp.cloudtasks_v2beta3#Header": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Key of the header."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Value of the header."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a header message. A header can have a key and a value."
      }
    },
    "com.gcp.cloudtasks_v2beta3#PathOverride": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI path (e.g., /users/1234). Default is an empty string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PathOverride. Path message defines path override for HTTP targets."
      }
    },
    "com.gcp.cloudtasks_v2beta3#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.cloudtasks_v2beta3#GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.cloudtasks_v2beta3#AppEngineRouting": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The host that the task is sent to. The host is constructed from the domain name of the app associated with the queue's project ID (for example .appspot.com), and the service, version, and instance. Tasks which were created using the App Engine SDK might have a custom domain name. For more information, see [How Requests are Routed](https://cloud.google.com/appengine/docs/standard/python/how-requests-are-routed)."
          }
        },
        "instance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App instance. By default, the task is sent to an instance which is available when the task is attempted. Requests can only be sent to a specific instance if [manual scaling is used in App Engine Standard](https://cloud.google.com/appengine/docs/python/an-overview-of-app-engine?hl=en_US#scaling_types_and_instance_classes). App Engine Flex does not support instances. For more information, see [App Engine Standard request routing](https://cloud.google.com/appengine/docs/standard/python/how-requests-are-routed) and [App Engine Flex request routing](https://cloud.google.com/appengine/docs/flexible/python/how-requests-are-routed)."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App service. By default, the task is sent to the service which is the default service when the task is attempted. For some queues or tasks which were created using the App Engine Task Queue API, host is not parsable into service, version, and instance. For example, some tasks which were created using the App Engine SDK use a custom domain name; custom domains are not parsed by Cloud Tasks. If host is not parsable, then service, version, and instance are the empty string."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App version. By default, the task is sent to the version which is the default version when the task is attempted. For some queues or tasks which were created using the App Engine Task Queue API, host is not parsable into service, version, and instance. For example, some tasks which were created using the App Engine SDK use a custom domain name; custom domains are not parsed by Cloud Tasks. If host is not parsable, then service, version, and instance are the empty string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "App Engine Routing. Defines routing characteristics specific to App Engine - service, version, and instance. For more information about services, versions, and instances see [An Overview of App Engine](https://cloud.google.com/appengine/docs/python/an-overview-of-app-engine), [Microservices Architecture on Google App Engine](https://cloud.google.com/appengine/docs/python/microservices-on-app-engine), [App Engine Standard request routing](https://cloud.google.com/appengine/docs/standard/python/how-requests-are-routed), and [App Engine Flex request routing](https://cloud.google.com/appengine/docs/flexible/python/how-requests-are-routed)."
      }
    },
    "com.gcp.cloudtasks_v2beta3#HttpTarget": {
      "type": "structure",
      "members": {
        "oidcToken": {
          "target": "com.gcp.cloudtasks_v2beta3#OidcToken",
          "traits": {
            "smithy.api#documentation": "If specified, an [OIDC](https://developers.google.com/identity/protocols/OpenIDConnect) token is generated and attached as an `Authorization` header in the HTTP request. This type of authorization can be used for many scenarios, including calling Cloud Run, or endpoints where you intend to validate the token yourself. Note that both the service account email and the audience MUST be specified when using the queue-level authorization override."
          }
        },
        "httpMethod": {
          "target": "com.gcp.cloudtasks_v2beta3#HttpTargetHttpMethodEnum",
          "traits": {
            "smithy.api#documentation": "The HTTP method to use for the request. When specified, it overrides HttpRequest.http_method for the task. Note that if the value is set to HttpMethod.GET the HttpRequest.body of the task will be ignored at execution time."
          }
        },
        "headerOverrides": {
          "target": "com.gcp.cloudtasks_v2beta3#HeaderOverrideList",
          "traits": {
            "smithy.api#documentation": "HTTP target headers. This map contains the header field names and values. Headers will be set when running the CreateTask and/or BufferTask. These headers represent a subset of the headers that will be configured for the task's HTTP request. Some HTTP request headers will be ignored or replaced. A partial list of headers that will be ignored or replaced is: * Several predefined headers, prefixed with \"X-CloudTasks-\", can be used to define properties of the task. * Host: This will be computed by Cloud Tasks and derived from HttpRequest.url. * Content-Length: This will be computed by Cloud Tasks. `Content-Type` won't be set by Cloud Tasks. You can explicitly set `Content-Type` to a media type when the task is created. For example,`Content-Type` can be set to `\"application/octet-stream\"` or `\"application/json\"`. The default value is set to `\"application/json\"`. * User-Agent: This will be set to `\"Google-Cloud-Tasks\"`. Headers which can have multiple values (according to RFC2616) can be specified using comma-separated values. The size of the headers must be less than 80KB. Queue-level headers to override headers of all the tasks in the queue. Do not put business sensitive or personally identifying data in the HTTP Header Override Configuration or other similar fields in accordance with Section 12 (Resource Fields) of the [Service Specific Terms](https://cloud.google.com/terms/service-terms)."
          }
        },
        "uriOverride": {
          "target": "com.gcp.cloudtasks_v2beta3#UriOverride",
          "traits": {
            "smithy.api#documentation": "URI override. When specified, overrides the execution URI for all the tasks in the queue."
          }
        },
        "oauthToken": {
          "target": "com.gcp.cloudtasks_v2beta3#OAuthToken",
          "traits": {
            "smithy.api#documentation": "If specified, an [OAuth token](https://developers.google.com/identity/protocols/OAuth2) is generated and attached as the `Authorization` header in the HTTP request. This type of authorization should generally be used only when calling Google APIs hosted on *.googleapis.com. Note that both the service account email and the scope MUST be specified when using the queue-level authorization override."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HTTP target. When specified as a Queue, all the tasks with [HttpRequest] will be overridden according to the target."
      }
    },
    "com.gcp.cloudtasks_v2beta3#HttpTargetHttpMethodEnum": {
      "type": "enum",
      "members": {
        "HTTP_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_UNSPECIFIED"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        }
      }
    },
    "com.gcp.cloudtasks_v2beta3#HeaderOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudtasks_v2beta3#HeaderOverride"
      }
    },
    "com.gcp.cloudtasks_v2beta3#CreateTaskRequest": {
      "type": "structure",
      "members": {
        "task": {
          "target": "com.gcp.cloudtasks_v2beta3#Task",
          "traits": {
            "smithy.api#documentation": "Required. The task to add. Task names have the following format: `projects/PROJECT_ID/locations/LOCATION_ID/queues/QUEUE_ID/tasks/TASK_ID`. The user can optionally specify a task name. If a name is not specified then the system will generate a random unique task id, which will be set in the task returned in the response. If schedule_time is not set or is in the past then Cloud Tasks will set it to the current time. Task De-duplication: Explicitly specifying a task ID enables task de-duplication. If a task's ID is identical to that of an existing task or a task that was deleted or executed recently then the call will fail with ALREADY_EXISTS. The IDs of deleted tasks are not immediately available for reuse. It can take up to 24 hours (or 9 days if the task's queue was created using a queue.yaml or queue.xml) for the task ID to be released and made available again. Because there is an extra lookup cost to identify duplicate task names, these CreateTask calls have significantly increased latency. Using hashed strings for the task id or for the prefix of the task id is recommended. Choosing task ids that are sequential or have sequential prefixes, for example using a timestamp, causes an increase in latency and error rates in all task commands. The infrastructure relies on an approximately uniform distribution of task ids to store and serve tasks efficiently."
          }
        },
        "responseView": {
          "target": "com.gcp.cloudtasks_v2beta3#CreateTaskRequestResponseViewEnum",
          "traits": {
            "smithy.api#documentation": "The response_view specifies which subset of the Task will be returned. By default response_view is BASIC; not all information is retrieved by default because some data, such as payloads, might be desirable to return only when needed because of its large size or because of the sensitivity of data that it contains. Authorization for FULL requires `cloudtasks.tasks.fullView` [Google IAM](https://cloud.google.com/iam/) permission on the Task resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CreateTask."
      }
    },
    "com.gcp.cloudtasks_v2beta3#CreateTaskRequestResponseViewEnum": {
      "type": "enum",
      "members": {
        "VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_UNSPECIFIED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        }
      }
    },
    "com.gcp.cloudtasks_v2beta3#BufferTaskResponse": {
      "type": "structure",
      "members": {
        "task": {
          "target": "com.gcp.cloudtasks_v2beta3#Task",
          "traits": {
            "smithy.api#documentation": "The created task."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BufferTask."
      }
    },
    "com.gcp.cloudtasks_v2beta3#BufferTaskRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.cloudtasks_v2beta3#HttpBody",
          "traits": {
            "smithy.api#documentation": "Optional. Body of the HTTP request. The body can take any generic value. The value is written to the HttpRequest of the [Task]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for BufferTask."
      }
    },
    "com.gcp.cloudtasks_v2beta3#CmekConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The config resource name which includes the project and location and must end in 'cmekConfig', in the format projects/PROJECT_ID/locations/LOCATION_ID/cmekConfig`"
          }
        },
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the Cloud KMS key, of the form `projects/PROJECT_ID/locations/LOCATION_ID/keyRings/KEY_RING_ID/cryptoKeys/KEY_ID`, that will be used to encrypt the Queues & Tasks in the region. Setting this as blank will turn off CMEK encryption."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the customer-managed encryption key (CMEK) configuration associated with a project and location."
      }
    },
    "com.gcp.cloudtasks_v2beta3#AppEngineHttpRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP request body. A request body is allowed only if the HTTP method is POST or PUT. It is an error to set a body on a task with an incompatible HttpMethod."
          }
        },
        "relativeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The relative URI. The relative URI must begin with \"/\" and must be a valid HTTP relative URI. It can contain a path and query string arguments. If the relative URI is empty, then the root path \"/\" will be used. No spaces are allowed, and the maximum length allowed is 2083 characters."
          }
        },
        "headers": {
          "target": "com.gcp.cloudtasks_v2beta3#StringMap",
          "traits": {
            "smithy.api#documentation": "HTTP request headers. This map contains the header field names and values. Headers can be set when the task is created. Repeated headers are not supported but a header value can contain commas. Cloud Tasks sets some headers to default values: * `User-Agent`: By default, this header is `\"AppEngine-Google; (+http://code.google.com/appengine)\"`. This header can be modified, but Cloud Tasks will append `\"AppEngine-Google; (+http://code.google.com/appengine)\"` to the modified `User-Agent`. If the task has a body, Cloud Tasks sets the following headers: * `Content-Type`: By default, the `Content-Type` header is set to `\"application/octet-stream\"`. The default can be overridden by explicitly setting `Content-Type` to a particular media type when the task is created. For example, `Content-Type` can be set to `\"application/json\"`. * `Content-Length`: This is computed by Cloud Tasks. This value is output only. It cannot be changed. The headers below cannot be set or overridden: * `Host` * `X-Google-*` * `X-AppEngine-*` In addition, Cloud Tasks sets some headers when the task is dispatched, such as headers containing information about the task; see [request headers](https://cloud.google.com/tasks/docs/creating-appengine-handlers#reading_request_headers). These headers are set only when the task is dispatched, so they are not visible when the task is returned in a Cloud Tasks response. Although there is no specific limit for the maximum number of headers or the size, there is a limit on the maximum size of the Task. For more information, see the CreateTask documentation."
          }
        },
        "httpMethod": {
          "target": "com.gcp.cloudtasks_v2beta3#AppEngineHttpRequestHttpMethodEnum",
          "traits": {
            "smithy.api#documentation": "The HTTP method to use for the request. The default is POST. The app's request handler for the task's target URL must be able to handle HTTP requests with this http_method, otherwise the task attempt fails with error code 405 (Method Not Allowed). See [Writing a push task request handler](https://cloud.google.com/appengine/docs/java/taskqueue/push/creating-handlers#writing_a_push_task_request_handler) and the App Engine documentation for your runtime on [How Requests are Handled](https://cloud.google.com/appengine/docs/standard/python3/how-requests-are-handled)."
          }
        },
        "appEngineRouting": {
          "target": "com.gcp.cloudtasks_v2beta3#AppEngineRouting",
          "traits": {
            "smithy.api#documentation": "Task-level setting for App Engine routing. If set, app_engine_routing_override is used for all tasks in the queue, no matter what the setting is for the task-level app_engine_routing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "App Engine HTTP request. The message defines the HTTP request that is sent to an App Engine app when the task is dispatched. Using AppEngineHttpRequest requires [`appengine.applications.get`](https://cloud.google.com/appengine/docs/admin-api/access-control) Google IAM permission for the project and the following scope: `https://www.googleapis.com/auth/cloud-platform` The task will be delivered to the App Engine app which belongs to the same project as the queue. For more information, see [How Requests are Routed](https://cloud.google.com/appengine/docs/standard/python/how-requests-are-routed) and how routing is affected by [dispatch files](https://cloud.google.com/appengine/docs/python/config/dispatchref). Traffic is encrypted during transport and never leaves Google datacenters. Because this traffic is carried over a communication mechanism internal to Google, you cannot explicitly set the protocol (for example, HTTP or HTTPS). The request to the handler, however, will appear to have used the HTTP protocol. The AppEngineRouting used to construct the URL that the task is delivered to can be set at the queue-level or task-level: * If set, app_engine_routing_override is used for all tasks in the queue, no matter what the setting is for the task-level app_engine_routing. The `url` that the task will be sent to is: * `url =` host `+` relative_uri Tasks can be dispatched to secure app handlers, unsecure app handlers, and URIs restricted with [`login: admin`](https://cloud.google.com/appengine/docs/standard/python/config/appref). Because tasks are not run as any user, they cannot be dispatched to URIs restricted with [`login: required`](https://cloud.google.com/appengine/docs/standard/python/config/appref) Task dispatches also do not follow redirects. The task attempt has succeeded if the app's request handler returns an HTTP response code in the range [`200` - `299`]. The task attempt has failed if the app's handler returns a non-2xx response code or Cloud Tasks does not receive response before the deadline. Failed tasks will be retried according to the retry configuration. `503` (Service Unavailable) is considered an App Engine system error instead of an application error and will cause Cloud Tasks' traffic congestion control to temporarily throttle the queue's dispatches. Unlike other types of task targets, a `429` (Too Many Requests) response from an app handler does not cause traffic congestion control to throttle the queue."
      }
    },
    "com.gcp.cloudtasks_v2beta3#AppEngineHttpRequestHttpMethodEnum": {
      "type": "enum",
      "members": {
        "HTTP_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_UNSPECIFIED"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        }
      }
    },
    "com.gcp.cloudtasks_v2beta3#RetryConfig": {
      "type": "structure",
      "members": {
        "maxRetryDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If positive, `max_retry_duration` specifies the time limit for retrying a failed task, measured from when the task was first attempted. Once `max_retry_duration` time has passed *and* the task has been attempted max_attempts times, no further attempts are made and the task is deleted. A zero (0) indicates an unlimited duration, up to the [maximum task retention](https://docs.cloud.google.com/tasks/docs/quotas#limits) limit. The value must be given as a string that indicates the length of time (in seconds) followed by `s` (for \"seconds\"). For the maximum possible value or the format, see the documentation for [Duration](https://protobuf.dev/reference/protobuf/google.protobuf/#duration). `max_retry_duration` will be truncated to the nearest second. If unspecified when the queue is created, Cloud Tasks will pick the default. This field has the same meaning as [task_age_limit in queue.yaml/xml](https://cloud.google.com/appengine/docs/standard/python/config/queueref#retry_parameters)."
          }
        },
        "maxBackoff": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A task will be scheduled for retry between min_backoff and max_backoff duration after it fails, if the queue's RetryConfig specifies that the task should be retried. The value must be given as a string that indicates the length of time (in seconds) followed by `s` (for \"seconds\"). For more information on the format, see the documentation for [Duration](https://protobuf.dev/reference/protobuf/google.protobuf/#duration). `max_backoff` will be truncated to the nearest second. If unspecified when the queue is created, Cloud Tasks will pick the default. This field has the same meaning as [max_backoff_seconds in queue.yaml/xml](https://cloud.google.com/appengine/docs/standard/python/config/queueref#retry_parameters)."
          }
        },
        "minBackoff": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A task will be scheduled for retry between min_backoff and max_backoff duration after it fails, if the queue's RetryConfig specifies that the task should be retried. The value must be given as a string that indicates the length of time (in seconds) followed by `s` (for \"seconds\"). For more information on the format, see the documentation for [Duration](https://protobuf.dev/reference/protobuf/google.protobuf/#duration). `min_backoff` will be truncated to the nearest second. If unspecified when the queue is created, Cloud Tasks will pick the default. This field has the same meaning as [min_backoff_seconds in queue.yaml/xml](https://cloud.google.com/appengine/docs/standard/python/config/queueref#retry_parameters)."
          }
        },
        "maxAttempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of attempts per task, including the first attempt. (If the first attempt fails, there will be `max_attempts - 1` retries.) Must be greater than or equal to -1, which indicates unlimited attempts. Cloud Tasks stops retrying only when `max_attempts` and `max_retry_duration` are both satisfied, or when the task is successfully executed. When the task has been attempted `max_attempts` times and when the `max_retry_duration` time has passed, no further attempts are made, and the task is deleted. If `max_attempts` is set to -1 and `max_retry_duration` is set to 0, the task is retried until the [maximum task retention](https://docs.cloud.google.com/tasks/docs/quotas#limits) limit is reached. If unspecified when the queue is created, Cloud Tasks will pick the default. This field has the same meaning as [task_retry_limit in queue.yaml/xml](https://cloud.google.com/appengine/docs/standard/python/config/queueref#retry_parameters)."
          }
        },
        "maxDoublings": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time between retries will double `max_doublings` times. A task's retry interval starts at min_backoff, then doubles `max_doublings` times, then increases linearly, and finally retries at intervals of max_backoff up to max_attempts times. For example, if min_backoff is 10s, max_backoff is 300s, and `max_doublings` is 3, then the a task will first be retried in 10s. The retry interval will double three times, and then increase linearly by 2^3 * 10s. Finally, the task will retry at intervals of max_backoff until the task has been attempted max_attempts times. Thus, the requests will retry at 10s, 20s, 40s, 80s, 160s, 240s, 300s, 300s, .... If unspecified when the queue is created, Cloud Tasks will pick the default. This field has the same meaning as [max_doublings in queue.yaml/xml](https://cloud.google.com/appengine/docs/standard/python/config/queueref#retry_parameters)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Retry config. These settings determine when a failed task attempt is retried."
      }
    },
    "com.gcp.cloudtasks_v2beta3#PullMessage": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tasks's tag. The tag is less than 500 characters. SDK compatibility: Although the SDK allows tags to be either string or [bytes](https://cloud.google.com/appengine/docs/standard/java/javadoc/com/google/appengine/api/taskqueue/TaskOptions.html#tag-byte:A-), only UTF-8 encoded tags can be used in Cloud Tasks. If a tag isn't UTF-8 encoded, the tag will be empty when the task is returned by Cloud Tasks."
          }
        },
        "payload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A data payload consumed by the worker to execute the task."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pull Message. This proto can only be used for tasks in a queue which has PULL type. It currently exists for backwards compatibility with the App Engine Task Queue SDK. This message type maybe returned with methods list and get, when the response view is FULL."
      }
    },
    "com.gcp.cloudtasks_v2beta3#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.cloudtasks_v2beta3#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.cloudtasks_v2beta3#OAuthToken": {
      "type": "structure",
      "members": {
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Service account email](https://cloud.google.com/iam/docs/service-accounts) to be used for generating OAuth token. The service account must be within the same project as the queue. The caller must have iam.serviceAccounts.actAs permission for the service account."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth scope to be used for generating OAuth access token. If not specified, \"https://www.googleapis.com/auth/cloud-platform\" will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information needed for generating an [OAuth token](https://developers.google.com/identity/protocols/OAuth2). This type of authorization should generally only be used when calling Google APIs hosted on *.googleapis.com."
      }
    },
    "com.gcp.cloudtasks_v2beta3#OidcToken": {
      "type": "structure",
      "members": {
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Audience to be used when generating OIDC token. If not specified, the URI specified in target will be used."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Service account email](https://cloud.google.com/iam/docs/service-accounts) to be used for generating OIDC token. The service account must be within the same project as the queue. The caller must have iam.serviceAccounts.actAs permission for the service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information needed for generating an [OpenID Connect token](https://developers.google.com/identity/protocols/OpenIDConnect). This type of authorization can be used for many scenarios, including calling Cloud Run, or endpoints where you intend to validate the token yourself."
      }
    },
    "com.gcp.cloudtasks_v2beta3#QueueStats": {
      "type": "structure",
      "members": {
        "tasksCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An estimation of the number of tasks in the queue, that is, the tasks in the queue that haven't been executed, the tasks in the queue which the queue has dispatched but has not yet received a reply for, and the failed tasks that the queue is retrying."
          }
        },
        "oldestEstimatedArrivalTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An estimation of the nearest time in the future where a task in the queue is scheduled to be executed."
          }
        },
        "executedLastMinuteCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of tasks that the queue has dispatched and received a reply for during the last minute. This variable counts both successful and non-successful executions."
          }
        },
        "effectiveExecutionRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The current maximum number of tasks per second executed by the queue. The maximum value of this variable is controlled by the RateLimits of the Queue. However, this value could be less to avoid overloading the endpoints tasks in the queue are targeting."
          }
        },
        "concurrentDispatchesCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of requests that the queue has dispatched but has not received a reply for yet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistics for a queue."
      }
    },
    "com.gcp.cloudtasks_v2beta3#Task": {
      "type": "structure",
      "members": {
        "httpRequest": {
          "target": "com.gcp.cloudtasks_v2beta3#HttpRequest",
          "traits": {
            "smithy.api#documentation": "HTTP request that is sent to the task's target. An HTTP task is a task that has HttpRequest set."
          }
        },
        "dispatchDeadline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deadline for requests sent to the worker. If the worker does not respond by this deadline then the request is cancelled and the attempt is marked as a `DEADLINE_EXCEEDED` failure. Cloud Tasks will retry the task according to the RetryConfig. Note that when the request is cancelled, Cloud Tasks will stop listening for the response, but whether the worker stops processing depends on the worker. For example, if the worker is stuck, it may not react to cancelled requests. The default and maximum values depend on the type of request: * For HTTP tasks, the default is 10 minutes. The deadline must be in the interval [15 seconds, 30 minutes]. * For App Engine tasks, 0 indicates that the request has the default deadline. The default deadline depends on the [scaling type](https://cloud.google.com/appengine/docs/standard/go/how-instances-are-managed#instance_scaling) of the service: 10 minutes for standard apps with automatic scaling, 24 hours for standard apps with manual and basic scaling, and 60 minutes for flex apps. If the request deadline is set, it must be in the interval [15 seconds, 24 hours 15 seconds]. Regardless of the task's `dispatch_deadline`, the app handler will not run for longer than than the service's timeout. We recommend setting the `dispatch_deadline` to at most a few seconds more than the app handler's timeout. For more information see [Timeouts](https://cloud.google.com/tasks/docs/creating-appengine-handlers#timeouts). The value must be given as a string that indicates the length of time (in seconds) followed by `s` (for \"seconds\"). For more information on the format, see the documentation for [Duration](https://protobuf.dev/reference/protobuf/google.protobuf/#duration). `dispatch_deadline` will be truncated to the nearest millisecond. The deadline is an approximate deadline."
          }
        },
        "view": {
          "target": "com.gcp.cloudtasks_v2beta3#TaskViewEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The view specifies which subset of the Task has been returned."
          }
        },
        "firstAttempt": {
          "target": "com.gcp.cloudtasks_v2beta3#Attempt",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the task's first attempt. Only dispatch_time will be set. The other Attempt information is not retained by Cloud Tasks."
          }
        },
        "lastAttempt": {
          "target": "com.gcp.cloudtasks_v2beta3#Attempt",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the task's last attempt."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optionally caller-specified in CreateTask. The task name. The task name must have the following format: `projects/PROJECT_ID/locations/LOCATION_ID/queues/QUEUE_ID/tasks/TASK_ID` * `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]), hyphens (-), colons (:), or periods (.). For more information, see [Identifying projects](https://cloud.google.com/resource-manager/docs/creating-managing-projects#identifying_projects) * `LOCATION_ID` is the canonical ID for the task's location. The list of available locations can be obtained by calling ListLocations. For more information, see https://cloud.google.com/about/locations/. * `QUEUE_ID` can contain letters ([A-Za-z]), numbers ([0-9]), or hyphens (-). The maximum length is 100 characters. * `TASK_ID` can contain only letters ([A-Za-z]), numbers ([0-9]), hyphens (-), or underscores (_). The maximum length is 500 characters."
          }
        },
        "responseCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of attempts which have received a response."
          }
        },
        "appEngineHttpRequest": {
          "target": "com.gcp.cloudtasks_v2beta3#AppEngineHttpRequest",
          "traits": {
            "smithy.api#documentation": "HTTP request that is sent to the App Engine app handler. An App Engine task is a task that has AppEngineHttpRequest set."
          }
        },
        "scheduleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the task is scheduled to be attempted. For App Engine queues, this is when the task will be attempted or retried. `schedule_time` will be truncated to the nearest microsecond."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time that the task was created. `create_time` will be truncated to the nearest second."
          }
        },
        "dispatchCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of attempts dispatched. This count includes attempts which have been dispatched but haven't received a response."
          }
        },
        "pullMessage": {
          "target": "com.gcp.cloudtasks_v2beta3#PullMessage",
          "traits": {
            "smithy.api#documentation": "Pull Message contained in a task in a PULL queue type. This payload type cannot be explicitly set through Cloud Tasks API. Its purpose, currently is to provide backward compatibility with App Engine Task Queue [pull](https://cloud.google.com/appengine/docs/standard/java/taskqueue/pull/) queues to provide a way to inspect contents of pull tasks through the CloudTasks.GetTask."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A unit of scheduled work."
      }
    },
    "com.gcp.cloudtasks_v2beta3#TaskViewEnum": {
      "type": "enum",
      "members": {
        "VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_UNSPECIFIED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        }
      }
    },
    "com.gcp.cloudtasks_v2beta3#ListQueuesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve next page of results. To return the next page of results, call ListQueues with this value as the page_token. If the next_page_token is empty, there are no more results. The page token is valid for only 2 hours."
          }
        },
        "queues": {
          "target": "com.gcp.cloudtasks_v2beta3#QueueList",
          "traits": {
            "smithy.api#documentation": "The list of queues."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListQueues."
      }
    },
    "com.gcp.cloudtasks_v2beta3#QueueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudtasks_v2beta3#Queue"
      }
    },
    "com.gcp.cloudtasks_v2beta3#Attempt": {
      "type": "structure",
      "members": {
        "scheduleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time that this attempt was scheduled. `schedule_time` will be truncated to the nearest microsecond."
          }
        },
        "dispatchTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time that this attempt was dispatched. `dispatch_time` will be truncated to the nearest microsecond."
          }
        },
        "responseStatus": {
          "target": "com.gcp.cloudtasks_v2beta3#Status",
          "traits": {
            "smithy.api#documentation": "Output only. The response from the worker for this attempt. If `response_time` is unset, then the task has not been attempted or is currently running and the `response_status` field is meaningless."
          }
        },
        "responseTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time that this attempt response was received. `response_time` will be truncated to the nearest microsecond."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a task attempt."
      }
    },
    "com.gcp.cloudtasks_v2beta3#HeaderOverride": {
      "type": "structure",
      "members": {
        "header": {
          "target": "com.gcp.cloudtasks_v2beta3#Header",
          "traits": {
            "smithy.api#documentation": "Header embodying a key and a value. Do not put business sensitive or personally identifying data in the HTTP Header Override Configuration or other similar fields in accordance with Section 12 (Resource Fields) of the [Service Specific Terms](https://cloud.google.com/terms/service-terms)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wraps the Header object."
      }
    },
    "com.gcp.cloudtasks_v2beta3#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.cloudtasks_v2beta3#GetCmekConfigProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The config resource name. For example: projects/PROJECT_ID/locations/LOCATION_ID/cmekConfig`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudtasks_v2beta3#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.cloudtasks_v2beta3#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.cloudtasks_v2beta3#GetCmekConfigProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudtasks_v2beta3#GetCmekConfigProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudtasks_v2beta3#CmekConfig"
      },
      "errors": [
        {
          "target": "com.gcp.cloudtasks_v2beta3#NotFound"
        },
        {
          "target": "com.gcp.cloudtasks_v2beta3#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2beta3/{+name}"
        },
        "smithy.api#documentation": "Gets the CMEK config. Gets the Customer Managed Encryption Key configured with the Cloud Tasks lcoation. By default there is no kms_key configured."
      }
    },
    "com.gcp.cloudtasks_v2beta3#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudtasks_v2beta3#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudtasks_v2beta3#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudtasks_v2beta3#Location"
      },
      "errors": [
        {
          "target": "com.gcp.cloudtasks_v2beta3#NotFound"
        },
        {
          "target": "com.gcp.cloudtasks_v2beta3#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2beta3/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.cloudtasks_v2beta3#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.cloudtasks_v2beta3#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.cloudtasks_v2beta3#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudtasks_v2beta3#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudtasks_v2beta3#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudtasks_v2beta3#NotFound"
        },
        {
          "target": "com.gcp.cloudtasks_v2beta3#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2beta3/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudtasks_v2beta3#UpdateCmekConfigProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The config resource name which includes the project and location and must end in 'cmekConfig', in the format projects/PROJECT_ID/locations/LOCATION_ID/cmekConfig`",
            "smithy.api#httpLabel": {},
[...]
