{
  "smithy": "2.0",
  "metadata": {
    "service": "connectors",
    "version": "v1",
    "title": "Connectors API",
    "baseUrl": "https://connectors.googleapis.com/"
  },
  "shapes": {
    "com.gcp.connectors_v1#AuthObject": {
      "type": "structure",
      "members": {
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the object is the default one."
          }
        },
        "authType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auth type of the object."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the object."
          }
        },
        "authKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auth key of the object."
          }
        },
        "properties": {
          "target": "com.gcp.connectors_v1#AuthPropertyMap",
          "traits": {
            "smithy.api#documentation": "Properties of the object."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the object."
          }
        },
        "additionalProperties": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the object has additional properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AuthObject defines a JSON schema of an authentication type."
      }
    },
    "com.gcp.connectors_v1#AuthPropertyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.connectors_v1#AuthProperty"
      }
    },
    "com.gcp.connectors_v1#AdminFilters": {
      "type": "structure",
      "members": {
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A single string value."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A single integer value."
          }
        },
        "stringListValues": {
          "target": "com.gcp.connectors_v1#StringListValues",
          "traits": {
            "smithy.api#documentation": "Optional. List of string values."
          }
        },
        "filterKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Unique name for the filter, e.g., \"SharePointSiteURL\", \"DocumentType\", \"ChatSpaceName\"."
          }
        },
        "filterType": {
          "target": "com.gcp.connectors_v1#AdminFiltersFilterTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of the filter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* AdminFilters defines a set of filters that can be applied to a connection. These are currently used by Gemini Enterprise connections."
      }
    },
    "com.gcp.connectors_v1#AdminFiltersFilterTypeEnum": {
      "type": "enum",
      "members": {
        "FILTER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILTER_TYPE_UNSPECIFIED"
          }
        },
        "INCLUSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUSION"
          }
        },
        "EXCLUSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUSION"
          }
        }
      }
    },
    "com.gcp.connectors_v1#JsonAuthSchema": {
      "type": "structure",
      "members": {
        "$schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSON schema of the AuthSchemas."
          }
        },
        "oneOf": {
          "target": "com.gcp.connectors_v1#AuthObjectList",
          "traits": {
            "smithy.api#documentation": "List of AuthObjects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JsonAuthSchema defines the JSON schema of all authentication types."
      }
    },
    "com.gcp.connectors_v1#AuthObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v1#AuthObject"
      }
    },
    "com.gcp.connectors_v1#Instance": {
      "type": "structure",
      "members": {
        "sloMetadata": {
          "target": "com.gcp.connectors_v1#SloMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description."
          }
        },
        "consumerDefinedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites)."
          }
        },
        "slmInstanceTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions."
          }
        },
        "provisionedResources": {
          "target": "com.gcp.connectors_v1#ProvisionedResourceList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was last modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details."
          }
        },
        "state": {
          "target": "com.gcp.connectors_v1#InstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use)."
          }
        },
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not."
          }
        },
        "softwareVersions": {
          "target": "com.gcp.connectors_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Software versions that are used to deploy this instance. This can be mutated by rollout services."
          }
        },
        "labels": {
          "target": "com.gcp.connectors_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
          }
        },
        "tenantProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata."
          }
        },
        "maintenanceSettings": {
          "target": "com.gcp.connectors_v1#MaintenanceSettings",
          "traits": {
            "smithy.api#documentation": "Optional. The MaintenanceSettings associated with instance."
          }
        },
        "maintenanceSchedules": {
          "target": "com.gcp.connectors_v1#MaintenanceScheduleMap",
          "traits": {
            "smithy.api#documentation": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions."
          }
        },
        "notificationParameters": {
          "target": "com.gcp.connectors_v1#NotificationParameterMap",
          "traits": {
            "smithy.api#documentation": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose."
          }
        },
        "producerMetadata": {
          "target": "com.gcp.connectors_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata."
          }
        },
        "maintenancePolicyNames": {
          "target": "com.gcp.connectors_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was created."
          }
        },
        "consumerProjectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange"
      }
    },
    "com.gcp.connectors_v1#ProvisionedResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v1#ProvisionedResource"
      }
    },
    "com.gcp.connectors_v1#InstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "REPAIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPAIRING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.connectors_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.connectors_v1#MaintenanceScheduleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.connectors_v1#MaintenanceSchedule"
      }
    },
    "com.gcp.connectors_v1#NotificationParameterMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.connectors_v1#NotificationParameter"
      }
    },
    "com.gcp.connectors_v1#TrafficShapingConfig": {
      "type": "structure",
      "members": {
        "quotaLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Maximum number of api calls allowed."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the duration over which the API call quota limits are calculated. This duration is used to define the time window for evaluating if the number of API calls made by a user is within the allowed quota limits. For example: - To define a quota sampled over 16 seconds, set `seconds` to 16 - To define a quota sampled over 5 minutes, set `seconds` to 300 (5 * 60) - To define a quota sampled over 1 day, set `seconds` to 86400 (24 * 60 * 60) and so on. It is important to note that this duration is not the time the quota is valid for, but rather the time window over which the quota is evaluated. For example, if the quota is 100 calls per 10 seconds, then this duration field would be set to 10 seconds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* TrafficShapingConfig defines the configuration for shaping API traffic by specifying a quota limit and the duration over which this limit is enforced. This configuration helps to control and manage the rate at which API calls are made on the client side, preventing service overload on the backend. For example: - if the quota limit is 100 calls per 10 seconds, then the message would be: { quota_limit: 100 duration: { seconds: 10 } } - if the quota limit is 100 calls per 5 minutes, then the message would be: { quota_limit: 100 duration: { seconds: 300 } } - if the quota limit is 10000 calls per day, then the message would be: { quota_limit: 10000 duration: { seconds: 86400 } and so on."
      }
    },
    "com.gcp.connectors_v1#ListRuntimeEntitySchemasResponse": {
      "type": "structure",
      "members": {
        "runtimeEntitySchemas": {
          "target": "com.gcp.connectors_v1#RuntimeEntitySchemaList",
          "traits": {
            "smithy.api#documentation": "Runtime entity schemas."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ConnectorsService.ListRuntimeEntitySchemas."
      }
    },
    "com.gcp.connectors_v1#RuntimeEntitySchemaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v1#RuntimeEntitySchema"
      }
    },
    "com.gcp.connectors_v1#RoleGrant": {
      "type": "structure",
      "members": {
        "principal": {
          "target": "com.gcp.connectors_v1#RoleGrantPrincipalEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Principal/Identity for whom the role need to assigned."
          }
        },
        "resource": {
          "target": "com.gcp.connectors_v1#Resource",
          "traits": {
            "smithy.api#documentation": "Optional. Resource on which the roles needs to be granted for the principal."
          }
        },
        "roles": {
          "target": "com.gcp.connectors_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of roles that need to be granted."
          }
        },
        "helperTextTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Template that UI can use to provide helper text to customers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This configuration defines all the Cloud IAM roles that needs to be granted to a particular Google Cloud resource for the selected principal like service account. These configurations will let UI display to customers what IAM roles need to be granted by them. Or these configurations can be used by the UI to render a 'grant' button to do the same on behalf of the user."
      }
    },
    "com.gcp.connectors_v1#RoleGrantPrincipalEnum": {
      "type": "enum",
      "members": {
        "PRINCIPAL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRINCIPAL_UNSPECIFIED"
          }
        },
        "CONNECTOR_SA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTOR_SA"
          }
        }
      }
    },
    "com.gcp.connectors_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.connectors_v1#Oauth2AuthCodeFlow": {
      "type": "structure",
      "members": {
        "redirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Redirect URI to be provided during the auth code exchange."
          }
        },
        "authUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Auth URL for Authorization Code Flow"
          }
        },
        "authCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Authorization code to be exchanged for access and refresh tokens."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Client ID for user-provided OAuth app."
          }
        },
        "scopes": {
          "target": "com.gcp.connectors_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Scopes the connection will request when the user performs the auth code flow."
          }
        },
        "enablePkce": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to enable PKCE when the user performs the auth code flow."
          }
        },
        "pkceVerifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. PKCE verifier to be used during the auth code exchange."
          }
        },
        "clientSecret": {
          "target": "com.gcp.connectors_v1#Secret",
          "traits": {
            "smithy.api#documentation": "Optional. Client secret for user-provided OAuth app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters to support Oauth 2.0 Auth Code Grant Authentication. See https://www.rfc-editor.org/rfc/rfc6749#section-1.3.1 for more details."
      }
    },
    "com.gcp.connectors_v1#SearchConnectionsResponse": {
      "type": "structure",
      "members": {
        "connections": {
          "target": "com.gcp.connectors_v1#SearchConnectionInstanceList",
          "traits": {
            "smithy.api#documentation": "A list of connectors."
          }
        },
        "unreachable": {
          "target": "com.gcp.connectors_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. page_token"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for Connectors.SearchConnections."
      }
    },
    "com.gcp.connectors_v1#SearchConnectionInstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v1#SearchConnectionInstance"
      }
    },
    "com.gcp.connectors_v1#ValidateCustomConnectorSpecResponse": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message. The spec is valid if the error message is empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ConnectorsService.ValidateCustomConnectorSpec"
      }
    },
    "com.gcp.connectors_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.connectors_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.connectors_v1#EventingConfig": {
      "type": "structure",
      "members": {
        "proxyDestinationConfig": {
          "target": "com.gcp.connectors_v1#DestinationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Proxy for Eventing auto-registration."
          }
        },
        "authConfig": {
          "target": "com.gcp.connectors_v1#AuthConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Auth details for the webhook adapter."
          }
        },
        "privateConnectivityEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Private Connectivity Enabled."
          }
        },
        "enrichmentConfig": {
          "target": "com.gcp.connectors_v1#EnrichmentConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Data enrichment configuration."
          }
        },
        "registrationDestinationConfig": {
          "target": "com.gcp.connectors_v1#DestinationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Registration endpoint for auto registration."
          }
        },
        "enrichmentEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enrichment Enabled."
          }
        },
        "sslConfig": {
          "target": "com.gcp.connectors_v1#SslConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Ssl config of a connection"
          }
        },
        "listenerAuthConfig": {
          "target": "com.gcp.connectors_v1#AuthConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Auth details for the event listener."
          }
        },
        "globalEventFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter to be applied on the events to be received by the connection."
          }
        },
        "privateConnectivityAllowlistedProjects": {
          "target": "com.gcp.connectors_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of projects to be allowlisted for the service attachment created in the tenant project for eventing ingress."
          }
        },
        "deadLetterConfig": {
          "target": "com.gcp.connectors_v1#DeadLetterConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Dead letter configuration for eventing of a connection."
          }
        },
        "allowedEventTypes": {
          "target": "com.gcp.connectors_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of allowed event types for the connection."
          }
        },
        "eventsListenerIngressEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Ingress endpoint of the event listener. This is used only when private connectivity is enabled."
          }
        },
        "additionalVariables": {
          "target": "com.gcp.connectors_v1#ConfigVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Additional eventing related field values"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Eventing Configuration of a connection next: 21"
      }
    },
    "com.gcp.connectors_v1#ConfigVariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v1#ConfigVariable"
      }
    },
    "com.gcp.connectors_v1#AuthProperty": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the property."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AuthProperty defines a property of an authentication type."
      }
    },
    "com.gcp.connectors_v1#SslConfig": {
      "type": "structure",
      "members": {
        "serverCertType": {
          "target": "com.gcp.connectors_v1#SslConfigServerCertTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of Server Cert (PEM/JKS/.. etc.)"
          }
        },
        "clientCertType": {
          "target": "com.gcp.connectors_v1#SslConfigClientCertTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of Client Cert (PEM/JKS/.. etc.)"
          }
        },
        "type": {
          "target": "com.gcp.connectors_v1#SslConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Controls the ssl type for the given connector version."
          }
        },
        "privateServerCertificate": {
          "target": "com.gcp.connectors_v1#Secret",
          "traits": {
            "smithy.api#documentation": "Optional. Private Server Certificate. Needs to be specified if trust model is `PRIVATE`."
          }
        },
        "clientPrivateKeyPass": {
          "target": "com.gcp.connectors_v1#Secret",
          "traits": {
            "smithy.api#documentation": "Optional. Secret containing the passphrase protecting the Client Private Key"
          }
        },
        "additionalVariables": {
          "target": "com.gcp.connectors_v1#ConfigVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Additional SSL related field values"
          }
        },
        "trustModel": {
          "target": "com.gcp.connectors_v1#SslConfigTrustModelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Trust Model of the SSL connection"
          }
        },
        "clientCertificate": {
          "target": "com.gcp.connectors_v1#Secret",
          "traits": {
            "smithy.api#documentation": "Optional. Client Certificate"
          }
        },
        "clientPrivateKey": {
          "target": "com.gcp.connectors_v1#Secret",
          "traits": {
            "smithy.api#documentation": "Optional. Client Private Key"
          }
        },
        "useSsl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Bool for enabling SSL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SSL Configuration of a connection"
      }
    },
    "com.gcp.connectors_v1#SslConfigServerCertTypeEnum": {
      "type": "enum",
      "members": {
        "CERT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_TYPE_UNSPECIFIED"
          }
        },
        "PEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEM"
          }
        }
      }
    },
    "com.gcp.connectors_v1#SslConfigClientCertTypeEnum": {
      "type": "enum",
      "members": {
        "CERT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_TYPE_UNSPECIFIED"
          }
        },
        "PEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEM"
          }
        }
      }
    },
    "com.gcp.connectors_v1#SslConfigTypeEnum": {
      "type": "enum",
      "members": {
        "SSL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSL_TYPE_UNSPECIFIED"
          }
        },
        "TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLS"
          }
        },
        "MTLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MTLS"
          }
        }
      }
    },
    "com.gcp.connectors_v1#SslConfigTrustModelEnum": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE"
          }
        },
        "INSECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSECURE"
          }
        }
      }
    },
    "com.gcp.connectors_v1#SloEligibility": {
      "type": "structure",
      "members": {
        "eligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an instance is eligible or ineligible."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason."
      }
    },
    "com.gcp.connectors_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.connectors_v1#Schedule": {
      "type": "structure",
      "members": {
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Duration of the time window, set by service producer."
          }
        },
        "startTime": {
          "target": "com.gcp.connectors_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Time within the window to start the operations."
          }
        },
        "day": {
          "target": "com.gcp.connectors_v1#ScheduleDayEnum",
          "traits": {
            "smithy.api#documentation": "Allows to define schedule that runs specified day of the week."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configure the schedule."
      }
    },
    "com.gcp.connectors_v1#ScheduleDayEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.connectors_v1#NodeSloMetadata": {
      "type": "structure",
      "members": {
        "nodeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the node. This should be equal to SaasInstanceNode.node_id."
          }
        },
        "perSliEligibility": {
          "target": "com.gcp.connectors_v1#PerSliSloEligibility",
          "traits": {
            "smithy.api#documentation": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the node, if different from instance location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information."
      }
    },
    "com.gcp.connectors_v1#RuntimeActionSchema": {
      "type": "structure",
      "members": {
        "inputParameters": {
          "target": "com.gcp.connectors_v1#InputParameterList",
          "traits": {
            "smithy.api#documentation": "Output only. List of input parameter metadata for the action."
          }
        },
        "inputSchemaAsString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Input schema as string."
          }
        },
        "inputJsonSchema": {
          "target": "com.gcp.connectors_v1#JsonSchema",
          "traits": {
            "smithy.api#documentation": "Output only. JsonSchema representation of this action's input metadata"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Brief Description of action"
          }
        },
        "resultMetadata": {
          "target": "com.gcp.connectors_v1#ResultMetadataList",
          "traits": {
            "smithy.api#documentation": "Output only. List of result field metadata."
          }
        },
        "resultJsonSchema": {
          "target": "com.gcp.connectors_v1#JsonSchema",
          "traits": {
            "smithy.api#documentation": "Output only. JsonSchema representation of this action's result metadata"
          }
        },
        "resultSchemaAsString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Result schema as string."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display Name of action to be shown on client side"
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema of a runtime action."
      }
    },
    "com.gcp.connectors_v1#InputParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v1#InputParameter"
      }
    },
    "com.gcp.connectors_v1#ResultMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v1#ResultMetadata"
      }
    },
    "com.gcp.connectors_v1#ManagedZone": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the Managed Zone. Format: projects/{project}/locations/global/managedZones/{managed_zone}"
          }
        },
        "labels": {
          "target": "com.gcp.connectors_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
          }
        },
        "targetVpc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Target Project VPC Network"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Updated time."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the resource."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Created time."
          }
        },
        "targetProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Target Project"
          }
        },
        "dns": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. DNS Name of the resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "represents the Connector's Managed Zone resource"
      }
    },
    "com.gcp.connectors_v1#RefreshConnectionSchemaMetadataRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for ConnectorsService.RefreshConnectionSchemaMetadata."
      }
    },
    "com.gcp.connectors_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.connectors_v1#EndUserAuthenticationNotifyEndpointDestinationEndPointHeader": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Key of Header."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Value of Header."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Header details for a given header to be added to Endpoint."
      }
    },
    "com.gcp.connectors_v1#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.connectors_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.connectors_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "response": {
          "target": "com.gcp.connectors_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.connectors_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.connectors_v1#EndUserAuthenticationConfigOauth2JwtBearerJwtClaims": {
      "type": "structure",
      "members": {
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value for the \"iss\" claim."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value for the \"sub\" claim."
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value for the \"aud\" claim."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JWT claims used for the jwt-bearer authorization grant."
      }
    },
    "com.gcp.connectors_v1#DailyCycle": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "com.gcp.connectors_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Time within the day to start the operations."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Duration of the time window, set by service producer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time window specified for daily operations."
      }
    },
    "com.gcp.connectors_v1#Connection": {
      "type": "structure",
      "members": {
        "envoyImageLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. GCR location where the envoy image is stored. formatted like: gcr.io/{bucketName}/{imageName}"
          }
        },
        "destinationConfigs": {
          "target": "com.gcp.connectors_v1#DestinationConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration of the Connector's destination. Only accepted for Connectors that accepts user defined destination(s)."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Service account needed for runtime plane to access Google Cloud resources."
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Suspended indicates if a user has suspended a connection or not."
          }
        },
        "connectorVersionInfraConfig": {
          "target": "com.gcp.connectors_v1#ConnectorVersionInfraConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Infra configs supported by Connector Version."
          }
        },
        "euaOauthAuthConfig": {
          "target": "com.gcp.connectors_v1#AuthConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Additional Oauth2.0 Auth config for EUA. If the connection is configured using non-OAuth authentication but OAuth needs to be used for EUA, this field can be populated with the OAuth config. This should be a OAuth2AuthCodeFlow Auth type only."
          }
        },
        "isTrustedTester": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Is trusted tester program enabled for the project."
          }
        },
        "fallbackOnAdminCredentials": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Fallback on admin credentials for the connection. If this both auth_override_enabled and fallback_on_admin_credentials are set to true, the connection will use the admin credentials if the dynamic auth header is not present during auth override."
          }
        },
        "connectionRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Connection revision. This field is only updated when the connection is created or updated by User."
          }
        },
        "connectorVersionLaunchStage": {
          "target": "com.gcp.connectors_v1#ConnectionConnectorVersionLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Flag to mark the version indicating the launch stage."
          }
        },
        "connectorVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Connector version on which the connection is created. The format is: projects/*/locations/*/providers/*/connectors/*/versions/* Only global location is supported for ConnectorVersion resource."
          }
        },
        "asyncOperationsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Async operations enabled for the connection. If Async Operations is enabled, Connection allows the customers to initiate async long running operations using the actions API."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the resource."
          }
        },
        "imageLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. GCR location where the runtime image is stored. formatted like: gcr.io/{bucketName}/{imageName}"
          }
        },
        "adminFilters": {
          "target": "com.gcp.connectors_v1#AdminFiltersList",
          "traits": {
            "smithy.api#documentation": "Optional. Admin filters for the connection. These are used by Gemini Enterprise."
          }
        },
        "logConfig": {
          "target": "com.gcp.connectors_v1#ConnectorsLogConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Log configuration for the connection."
          }
        },
        "configVariables": {
          "target": "com.gcp.connectors_v1#ConfigVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for configuring the connection with an external system."
          }
        },
        "serviceDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Service Directory service name. Used for Private Harpoon to resolve the ILB address. e.g. \"projects/cloud-connectors-e2e-testing/locations/us-central1/namespaces/istio-system/services/istio-ingressgateway-connectors\""
          }
        },
        "sslConfig": {
          "target": "com.gcp.connectors_v1#SslConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Ssl config of a connection"
          }
        },
        "authOverrideEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Auth override enabled for the connection. If Auth Override is enabled, Connection allows the backend service auth to be overridden in the entities/actions API."
          }
        },
        "billingConfig": {
          "target": "com.gcp.connectors_v1#BillingConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Billing config for the connection."
          }
        },
        "lockConfig": {
          "target": "com.gcp.connectors_v1#LockConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration that indicates whether or not the Connection can be edited."
          }
        },
        "labels": {
          "target": "com.gcp.connectors_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Created time."
          }
        },
        "eventingRuntimeData": {
          "target": "com.gcp.connectors_v1#EventingRuntimeData",
          "traits": {
            "smithy.api#documentation": "Output only. Eventing Runtime Data."
          }
        },
        "authConfig": {
          "target": "com.gcp.connectors_v1#AuthConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for establishing the connection's authentication with an external system."
          }
        },
        "tlsServiceDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Service Directory service with TLS."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}"
          }
        },
        "nodeConfig": {
          "target": "com.gcp.connectors_v1#NodeConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Node configuration for the connection."
          }
        },
        "trafficShapingConfigs": {
          "target": "com.gcp.connectors_v1#TrafficShapingConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. Traffic shaping configuration for the connection."
          }
        },
        "subscriptionType": {
          "target": "com.gcp.connectors_v1#ConnectionSubscriptionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. This subscription type enum states the subscription type of the project."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Updated time."
          }
        },
        "eventingConfig": {
          "target": "com.gcp.connectors_v1#EventingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Eventing config of a connection"
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Hostname of the Service Directory service with TLS."
          }
        },
        "eventingEnablementType": {
          "target": "com.gcp.connectors_v1#ConnectionEventingEnablementTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Eventing enablement type. Will be nil if eventing is not enabled."
          }
        },
        "status": {
          "target": "com.gcp.connectors_v1#ConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Current status of the connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connection represents an instance of connector."
      }
    },
    "com.gcp.connectors_v1#DestinationConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v1#DestinationConfig"
      }
    },
    "com.gcp.connectors_v1#ConnectionConnectorVersionLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        },
        "TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST"
          }
        },
        "PRIVATE_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_PREVIEW"
          }
        }
      }
    },
    "com.gcp.connectors_v1#AdminFiltersList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v1#AdminFilters"
      }
    },
    "com.gcp.connectors_v1#TrafficShapingConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v1#TrafficShapingConfig"
      }
    },
    "com.gcp.connectors_v1#ConnectionSubscriptionTypeEnum": {
      "type": "enum",
      "members": {
        "SUBSCRIPTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TYPE_UNSPECIFIED"
          }
        },
        "PAY_G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAY_G"
          }
        },
        "PAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAID"
          }
        }
      }
    },
    "com.gcp.connectors_v1#ConnectionEventingEnablementTypeEnum": {
      "type": "enum",
      "members": {
        "EVENTING_ENABLEMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENTING_ENABLEMENT_TYPE_UNSPECIFIED"
          }
        },
        "EVENTING_AND_CONNECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENTING_AND_CONNECTION"
          }
        },
        "ONLY_EVENTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONLY_EVENTING"
          }
        }
      }
    },
    "com.gcp.connectors_v1#ResultMetadata": {
      "type": "structure",
      "members": {
        "nullable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether a null value is allowed."
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the result field."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A brief description of the field."
          }
        },
        "dataType": {
          "target": "com.gcp.connectors_v1#ResultMetadataDataTypeEnum",
          "traits": {
            "smithy.api#documentation": "The data type of the field."
          }
        },
        "jsonSchema": {
          "target": "com.gcp.connectors_v1#JsonSchema",
          "traits": {
            "smithy.api#documentation": "JsonSchema representation of this action's result"
          }
        },
        "defaultValue": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The following field specifies the default value of the Parameter provided by the external system if a value is not provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of result field."
      }
    },
    "com.gcp.connectors_v1#ResultMetadataDataTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "DATA_TYPE_INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_INT"
          }
        },
        "DATA_TYPE_SMALLINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_SMALLINT"
          }
        },
        "DATA_TYPE_DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_DOUBLE"
          }
        },
        "DATA_TYPE_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_DATE"
          }
        },
        "DATA_TYPE_DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_DATETIME"
          }
        },
        "DATA_TYPE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_TIME"
          }
        },
        "DATA_TYPE_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_STRING"
          }
        },
        "DATA_TYPE_LONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_LONG"
          }
        },
        "DATA_TYPE_BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_BOOLEAN"
          }
        },
        "DATA_TYPE_DECIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_DECIMAL"
          }
        },
        "DATA_TYPE_UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UUID"
          }
        },
        "DATA_TYPE_BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_BLOB"
          }
        },
        "DATA_TYPE_BIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_BIT"
          }
        },
        "DATA_TYPE_TINYINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_TINYINT"
          }
        },
        "DATA_TYPE_INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_INTEGER"
          }
        },
        "DATA_TYPE_BIGINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_BIGINT"
          }
        },
        "DATA_TYPE_FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_FLOAT"
          }
        },
        "DATA_TYPE_REAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_REAL"
          }
        },
        "DATA_TYPE_NUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_NUMERIC"
          }
        },
        "DATA_TYPE_CHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_CHAR"
          }
        },
        "DATA_TYPE_VARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_VARCHAR"
          }
        },
        "DATA_TYPE_LONGVARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_LONGVARCHAR"
          }
        },
        "DATA_TYPE_TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_TIMESTAMP"
          }
        },
        "DATA_TYPE_NCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_NCHAR"
          }
        },
        "DATA_TYPE_NVARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_NVARCHAR"
          }
        },
        "DATA_TYPE_LONGNVARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_LONGNVARCHAR"
          }
        },
        "DATA_TYPE_NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_NULL"
          }
        },
        "DATA_TYPE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_OTHER"
          }
        },
        "DATA_TYPE_JAVA_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_JAVA_OBJECT"
          }
        },
        "DATA_TYPE_DISTINCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_DISTINCT"
          }
        },
        "DATA_TYPE_STRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_STRUCT"
          }
        },
        "DATA_TYPE_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_ARRAY"
          }
        },
        "DATA_TYPE_CLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_CLOB"
          }
        },
        "DATA_TYPE_REF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_REF"
          }
        },
        "DATA_TYPE_DATALINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_DATALINK"
          }
        },
        "DATA_TYPE_ROWID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_ROWID"
          }
        },
        "DATA_TYPE_BINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_BINARY"
          }
        },
        "DATA_TYPE_VARBINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_VARBINARY"
          }
        },
        "DATA_TYPE_LONGVARBINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_LONGVARBINARY"
          }
        },
        "DATA_TYPE_NCLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_NCLOB"
          }
        },
        "DATA_TYPE_SQLXML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_SQLXML"
          }
        },
        "DATA_TYPE_REF_CURSOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_REF_CURSOR"
          }
        },
        "DATA_TYPE_TIME_WITH_TIMEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_TIME_WITH_TIMEZONE"
          }
        },
        "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_TIMESTAMP_WITH_TIMEZONE"
          }
        }
      }
    },
    "com.gcp.connectors_v1#JwtClaims": {
      "type": "structure",
      "members": {
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Value for the \"iss\" claim."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Value for the \"sub\" claim."
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Value for the \"aud\" claim."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JWT claims used for the jwt-bearer authorization grant."
      }
    },
    "com.gcp.connectors_v1#SchemaRefreshConfig": {
      "type": "structure",
      "members": {
        "useSynchronousSchemaRefresh": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use synchronous schema refresh."
          }
        },
        "useActionDisplayNames": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use displayName for actions in UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for connection schema refresh"
      }
    },
    "com.gcp.connectors_v1#ListCustomConnectorsResponse": {
      "type": "structure",
      "members": {
        "customConnectors": {
          "target": "com.gcp.connectors_v1#CustomConnectorList",
          "traits": {
            "smithy.api#documentation": "A list of customConnectors."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.connectors_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for Connectors.ListCustomConnectors."
      }
    },
    "com.gcp.connectors_v1#CustomConnectorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v1#CustomConnector"
      }
    },
    "com.gcp.connectors_v1#AuthSchema": {
      "type": "structure",
      "members": {
        "authKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auth key of the schema."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the schema."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the schema."
          }
        },
        "authFields": {
          "target": "com.gcp.connectors_v1#AuthFieldList",
          "traits": {
            "smithy.api#documentation": "List of AuthFields."
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the auth schema is the default one."
          }
        },
        "authType": {
          "target": "com.gcp.connectors_v1#AuthSchemaAuthTypeEnum",
          "traits": {
            "smithy.api#documentation": "Auth type of the schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AuthSchema defines the schema of an authentication type."
      }
    },
    "com.gcp.connectors_v1#AuthFieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v1#AuthField"
      }
    },
    "com.gcp.connectors_v1#AuthSchemaAuthTypeEnum": {
      "type": "enum",
      "members": {
        "AUTH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_TYPE_UNSPECIFIED"
          }
        },
        "USER_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_PASSWORD"
          }
        },
        "OAUTH2_JWT_BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_JWT_BEARER"
          }
        },
        "OAUTH2_CLIENT_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_CLIENT_CREDENTIALS"
          }
        },
        "SSH_PUBLIC_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSH_PUBLIC_KEY"
          }
        },
        "OAUTH2_AUTH_CODE_FLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_AUTH_CODE_FLOW"
          }
        },
        "GOOGLE_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_AUTHENTICATION"
          }
        },
        "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          }
        }
      }
    },
    "com.gcp.connectors_v1#SloMetadata": {
      "type": "structure",
      "members": {
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty."
          }
        },
        "perSliEligibility": {
          "target": "com.gcp.connectors_v1#PerSliSloEligibility",
          "traits": {
            "smithy.api#documentation": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs."
          }
        },
        "nodes": {
          "target": "com.gcp.connectors_v1#NodeSloMetadataList",
          "traits": {
            "smithy.api#documentation": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SloMetadata contains resources required for proper SLO classification of the instance."
      }
    },
    "com.gcp.connectors_v1#NodeSloMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v1#NodeSloMetadata"
      }
    },
    "com.gcp.connectors_v1#EncryptionKey": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.connectors_v1#EncryptionKeyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the type of the encryption key."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The [KMS key name] with which the content of the Operation is encrypted. The expected format: `projects/*/locations/*/keyRings/*/cryptoKeys/*`. Will be empty string if google managed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encryption Key value."
      }
    },
    "com.gcp.connectors_v1#EncryptionKeyTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "GOOGLE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_MANAGED"
          }
        },
        "CUSTOMER_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED"
          }
        }
      }
    },
    "com.gcp.connectors_v1#CustomConnector": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the resource."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Created time."
          }
        },
        "logo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Logo of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the CustomConnector. Format: projects/{project}/locations/{location}/customConnectors/{connector}"
          }
        },
        "allMarketplaceVersions": {
          "target": "com.gcp.connectors_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. All marketplace versions."
          }
        },
        "labels": {
          "target": "com.gcp.connectors_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Updated time."
          }
        },
        "customConnectorType": {
          "target": "com.gcp.connectors_v1#CustomConnectorCustomConnectorTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of the custom connector."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Display name."
          }
        },
        "allConnectorVersions": {
          "target": "com.gcp.connectors_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. All connector versions."
          }
        },
        "activeConnectorVersions": {
          "target": "com.gcp.connectors_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Active connector versions."
          }
        },
        "publishedMarketplaceVersions": {
          "target": "com.gcp.connectors_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Published marketplace versions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomConnector represents the custom connector defined by the customer as part of byoc."
      }
    },
    "com.gcp.connectors_v1#CustomConnectorCustomConnectorTypeEnum": {
      "type": "enum",
      "members": {
        "CUSTOM_CONNECTOR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_CONNECTOR_TYPE_UNSPECIFIED"
          }
        },
        "OPEN_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN_API"
          }
        },
        "PROTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTO"
          }
        },
        "SDK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDK"
          }
        }
      }
    },
    "com.gcp.connectors_v1#Header": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Key of Header."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Value of Header."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Header details for a given header to be added to Endpoint."
      }
    },
    "com.gcp.connectors_v1#NodeConfig": {
      "type": "structure",
      "members": {
        "minNodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Minimum number of nodes in the runtime nodes."
          }
        },
        "maxNodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of nodes in the runtime nodes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Node configuration for the connection."
      }
    },
    "com.gcp.connectors_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.connectors_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.connectors_v1#ListenEventRequest": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "com.gcp.connectors_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Request payload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Expected request for ListenEvent API."
      }
    },
    "com.gcp.connectors_v1#EndUserAuthenticationConfigSshPublicKey": {
      "type": "structure",
      "members": {
        "sshClientCert": {
          "target": "com.gcp.connectors_v1#EUASecret",
          "traits": {
            "smithy.api#documentation": "Required. SSH Client Cert. It should contain both public and private key."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user account used to authenticate."
          }
        },
        "certType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Format of SSH Client cert."
          }
        },
        "sshClientCertPass": {
          "target": "com.gcp.connectors_v1#EUASecret",
          "traits": {
            "smithy.api#documentation": "Required. Password (passphrase) for ssh client certificate if it has one."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters to support Ssh public key Authentication."
      }
    },
    "com.gcp.connectors_v1#RemoveConnectionToolspecOverrideRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for RemoveConnectionToolspecOverride API."
      }
    },
    "com.gcp.connectors_v1#ListEventTypesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page token."
          }
        },
        "eventTypes": {
          "target": "com.gcp.connectors_v1#EventTypeList",
          "traits": {
            "smithy.api#documentation": "A list of connector versions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for Connectors.ListEventTypes."
      }
    },
    "com.gcp.connectors_v1#EventTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v1#EventType"
      }
    },
    "com.gcp.connectors_v1#ResourceRequests": {
      "type": "structure",
      "members": {
        "memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Memory request."
          }
        },
        "cpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. CPU request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource requests defined for connection pods of a given connector type."
      }
    },
    "com.gcp.connectors_v1#ResourceLimits": {
      "type": "structure",
      "members": {
        "memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Memory limit."
          }
        },
        "cpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. CPU limit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource limits defined for connection pods of a given connector type."
      }
    },
    "com.gcp.connectors_v1#PartnerMetadata": {
      "type": "structure",
      "members": {
        "useCases": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Details about partner connector use cases."
          }
        },
        "acceptGcpTos": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Whether the user has accepted the Google Cloud Platform Terms of Service (https://cloud.google.com/terms/) and the Google Cloud Marketplace Terms of Service (https://cloud.google.com/terms/marketplace/launcher?hl=en)."
          }
        },
        "partner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Partner name."
          }
        },
        "integrationTemplates": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Integration example templates for the custom connector."
          }
        },
        "localSpecPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Local spec path. Required if has_dynamic_spec_uri is true."
          }
        },
        "marketplaceProductId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Marketplace product ID."
          }
        },
        "marketplaceProduct": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Marketplace product name."
          }
        },
        "publishRequestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Publish request time."
          }
        },
        "hasDynamicSpecUri": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Has dynamic open api spec uri."
          }
        },
        "marketplaceProductUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Marketplace product URL."
          }
        },
        "demoUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Public URL for the demo video."
          }
        },
        "targetCustomerSegment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Target customer segment for the partner connector."
          }
        },
        "partnerConnectorDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Partner connector display name."
          }
        },
        "targetApplication": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Target application for which partner connector is built."
          }
        },
        "marketplaceProductProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Marketplace product project ID."
          }
        },
        "additionalComments": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Additional comments for the submission."
          }
        },
        "confirmPartnerRequirements": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Confirmation that connector meets all applicable requirements mentioned in the Partner Connector Publishing requirements list and Partner onboardiong requirements list (https://cloud.google.com/marketplace/docs/partners/get-started#requirements)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Partner metadata details. This will be populated when publishing the custom connector as a partner connector version. On publishing, parntner connector version will be created using the fields in PartnerMetadata."
      }
    },
    "com.gcp.connectors_v1#AuthConfig": {
      "type": "structure",
      "members": {
        "authType": {
          "target": "com.gcp.connectors_v1#AuthConfigAuthTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of authentication configured."
          }
        },
        "additionalVariables": {
          "target": "com.gcp.connectors_v1#ConfigVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. List containing additional auth configs."
          }
        },
        "userPassword": {
          "target": "com.gcp.connectors_v1#UserPassword",
          "traits": {
            "smithy.api#documentation": "UserPassword."
          }
        },
        "authKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Identifier key for auth config"
          }
        },
        "sshPublicKey": {
          "target": "com.gcp.connectors_v1#SshPublicKey",
          "traits": {
            "smithy.api#documentation": "SSH Public Key."
          }
        },
        "oauth2AuthCodeFlow": {
          "target": "com.gcp.connectors_v1#Oauth2AuthCodeFlow",
          "traits": {
            "smithy.api#documentation": "Oauth2AuthCodeFlow."
          }
        },
        "oauth2AuthCodeFlowGoogleManaged": {
          "target": "com.gcp.connectors_v1#Oauth2AuthCodeFlowGoogleManaged",
          "traits": {
            "smithy.api#documentation": "Oauth2AuthCodeFlowGoogleManaged."
          }
        },
        "oauth2ClientCredentials": {
          "target": "com.gcp.connectors_v1#Oauth2ClientCredentials",
          "traits": {
            "smithy.api#documentation": "Oauth2ClientCredentials."
          }
        },
        "oauth2JwtBearer": {
          "target": "com.gcp.connectors_v1#Oauth2JwtBearer",
          "traits": {
            "smithy.api#documentation": "Oauth2JwtBearer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AuthConfig defines details of a authentication type."
      }
    },
    "com.gcp.connectors_v1#AuthConfigAuthTypeEnum": {
      "type": "enum",
      "members": {
        "AUTH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_TYPE_UNSPECIFIED"
          }
        },
        "USER_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_PASSWORD"
          }
        },
        "OAUTH2_JWT_BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_JWT_BEARER"
          }
        },
        "OAUTH2_CLIENT_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_CLIENT_CREDENTIALS"
          }
        },
        "SSH_PUBLIC_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSH_PUBLIC_KEY"
          }
        },
        "OAUTH2_AUTH_CODE_FLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_AUTH_CODE_FLOW"
          }
        },
        "GOOGLE_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_AUTHENTICATION"
          }
        },
        "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_AUTH_CODE_FLOW_GOOGLE_MANAGED"
          }
        }
      }
    },
    "com.gcp.connectors_v1#UpdatePolicy": {
      "type": "structure",
      "members": {
        "channel": {
          "target": "com.gcp.connectors_v1#UpdatePolicyChannelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Relative scheduling channel applied to resource."
          }
        },
        "window": {
          "target": "com.gcp.connectors_v1#MaintenanceWindow",
          "traits": {
            "smithy.api#documentation": "Optional. Maintenance window that is applied to resources covered by this policy."
          }
        },
        "denyMaintenancePeriods": {
          "target": "com.gcp.connectors_v1#DenyMaintenancePeriodList",
          "traits": {
            "smithy.api#documentation": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance policy applicable to instance updates."
      }
    },
    "com.gcp.connectors_v1#UpdatePolicyChannelEnum": {
      "type": "enum",
      "members": {
        "UPDATE_CHANNEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_CHANNEL_UNSPECIFIED"
          }
        },
        "EARLIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLIER"
          }
        },
        "LATER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATER"
          }
        },
        "WEEK1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK1"
          }
        },
        "WEEK2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK2"
          }
        },
        "WEEK5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK5"
          }
        }
      }
    },
    "com.gcp.connectors_v1#DenyMaintenancePeriodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.connectors_v1#DenyMaintenancePeriod"
      }
    },
    "com.gcp.connectors_v1#EnrichmentConfig": {
      "type": "structure",
      "members": {
        "appendAcl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Append ACL to the event."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data enrichment configuration."
      }
    },
    "com.gcp.connectors_v1#Connector": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Updated time."
          }
        },
        "eventingDetails": {
          "target": "com.gcp.connectors_v1#EventingDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Eventing details. Will be null if eventing is not supported."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the Connector. Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector} Only global location is supported for Connector resource."
          }
        },
        "marketplaceConnectorDetails": {
          "target": "com.gcp.connectors_v1#MarketplaceConnectorDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Marketplace connector details. Will be null if the connector is not marketplace connector."
          }
        },
        "externalUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Link to external page."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Description of the resource."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Category of the connector."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name."
          }
        },
        "labels": {
          "target": "com.gcp.connectors_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
          }
        },
        "launchStage": {
          "target": "com.gcp.connectors_v1#ConnectorLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Flag to mark the version indicating the launch stage."
          }
        },
        "connectorType": {
          "target": "com.gcp.connectors_v1#ConnectorConnectorTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the connector."
          }
        },
        "webAssetsLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud storage location of icons etc consumed by UI."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Created time."
          }
        },
        "documentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Link to documentation page."
          }
        },
        "tags": {
          "target": "com.gcp.connectors_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Tags of the connector."
          }
[...]
