{
  "smithy": "2.0",
  "metadata": {
    "service": "containeranalysis",
    "version": "v1alpha1",
    "title": "Container Analysis API",
    "baseUrl": "https://containeranalysis.googleapis.com/"
  },
  "shapes": {
    "com.gcp.containeranalysis_v1alpha1#SlsaMetadata": {
      "type": "structure",
      "members": {
        "buildStartedOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the build started."
          }
        },
        "completeness": {
          "target": "com.gcp.containeranalysis_v1alpha1#SlsaCompleteness",
          "traits": {
            "smithy.api#documentation": "Indicates that the builder claims certain fields in this message to be complete."
          }
        },
        "buildInvocationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
          }
        },
        "buildFinishedOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the build completed."
          }
        },
        "reproducible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Other properties of the build."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#Installation": {
      "type": "structure",
      "members": {
        "license": {
          "target": "com.gcp.containeranalysis_v1alpha1#License",
          "traits": {
            "smithy.api#documentation": "Licenses that have been declared by the authors of the package."
          }
        },
        "packageType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
          }
        },
        "cpeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the installed package."
          }
        },
        "architecture": {
          "target": "com.gcp.containeranalysis_v1alpha1#InstallationArchitectureEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages."
          }
        },
        "location": {
          "target": "com.gcp.containeranalysis_v1alpha1#LocationList",
          "traits": {
            "smithy.api#documentation": "All of the places within the filesystem versions of this package have been found."
          }
        },
        "version": {
          "target": "com.gcp.containeranalysis_v1alpha1#Version",
          "traits": {
            "smithy.api#documentation": "Output only. The version of the package."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This represents how a particular software package may be installed on a system."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#InstallationArchitectureEnum": {
      "type": "enum",
      "members": {
        "ARCHITECTURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHITECTURE_UNSPECIFIED"
          }
        },
        "X86": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X86"
          }
        },
        "X64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X64"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1alpha1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#Location"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaMetadata": {
      "type": "structure",
      "members": {
        "buildStartedOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the build started."
          }
        },
        "completeness": {
          "target": "com.gcp.containeranalysis_v1alpha1#GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaCompleteness",
          "traits": {
            "smithy.api#documentation": "Indicates that the builder claims certain fields in this message to be complete."
          }
        },
        "buildInvocationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies this particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis."
          }
        },
        "buildFinishedOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the build completed."
          }
        },
        "reproducible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the builder claims that running invocation on materials will produce bit-for-bit identical output."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Other properties of the build."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsGenericArtifact": {
      "type": "structure",
      "members": {
        "folder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Path to the generic artifact in the build's workspace to be uploaded to Artifact Registry."
          }
        },
        "registryPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Registry path to upload the generic artifact to, in the form projects/$PROJECT/locations/$LOCATION/repositories/$REPO/packages/$PACKAGE/versions/$VERSION"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Generic artifact to upload to Artifact Registry upon successful completion of all build steps."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#GoogleDevtoolsContaineranalysisV1alpha1GitSourceContext": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git repository URL."
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Git commit hash."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub)."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#Discovery": {
      "type": "structure",
      "members": {
        "analysisKind": {
          "target": "com.gcp.containeranalysis_v1alpha1#DiscoveryAnalysisKindEnum",
          "traits": {
            "smithy.api#documentation": "The kind of analysis that is handled by this discovery."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A note that indicates a type of analysis a provider would perform. This note exists in a provider's project. A `Discovery` occurrence is created in a consumer's project at the start of analysis. The occurrence's operation will indicate the status of the analysis. Absence of an occurrence linked to this note for a resource indicates that analysis hasn't started."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#DiscoveryAnalysisKindEnum": {
      "type": "enum",
      "members": {
        "KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_UNSPECIFIED"
          }
        },
        "PACKAGE_VULNERABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PACKAGE_VULNERABILITY"
          }
        },
        "BUILD_DETAILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILD_DETAILS"
          }
        },
        "IMAGE_BASIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_BASIS"
          }
        },
        "PACKAGE_MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PACKAGE_MANAGER"
          }
        },
        "DEPLOYABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYABLE"
          }
        },
        "DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY"
          }
        },
        "ATTESTATION_AUTHORITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTESTATION_AUTHORITY"
          }
        },
        "UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE"
          }
        },
        "COMPLIANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANCE"
          }
        },
        "SBOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SBOM"
          }
        },
        "SPDX_PACKAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPDX_PACKAGE"
          }
        },
        "SPDX_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPDX_FILE"
          }
        },
        "SPDX_RELATIONSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPDX_RELATIONSHIP"
          }
        },
        "DSSE_ATTESTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DSSE_ATTESTATION"
          }
        },
        "VULNERABILITY_ASSESSMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY_ASSESSMENT"
          }
        },
        "SBOM_REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SBOM_REFERENCE"
          }
        },
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECRET"
          }
        },
        "AI_SKILL_ANALYSIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AI_SKILL_ANALYSIS"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1alpha1#DSSEAttestationNote": {
      "type": "structure",
      "members": {
        "hint": {
          "target": "com.gcp.containeranalysis_v1alpha1#DSSEHint",
          "traits": {
            "smithy.api#documentation": "DSSEHint hints at the purpose of the attestation authority."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A note describing an attestation"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1Build": {
      "type": "structure",
      "members": {
        "images": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of images to be pushed upon the successful completion of all build steps. The images are pushed using the builder service account's credentials. The digests of the pushed images will be stored in the `Build` resource's results field. If any of the images fail to be pushed, the build status is marked `FAILURE`."
          }
        },
        "availableSecrets": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1Secrets",
          "traits": {
            "smithy.api#documentation": "Secrets and secret environment variables."
          }
        },
        "queueTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TTL in queue for this build. If provided and the build is enqueued longer than this value, the build will expire and the build status will be `EXPIRED`. The TTL starts ticking from create_time."
          }
        },
        "dependencies": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyList",
          "traits": {
            "smithy.api#documentation": "Optional. Dependencies that the Cloud Build worker will fetch before executing user steps."
          }
        },
        "logUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URL to logs for this build in Google Cloud Console."
          }
        },
        "warnings": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1BuildWarningList",
          "traits": {
            "smithy.api#documentation": "Output only. Non-fatal problems encountered during the execution of the build."
          }
        },
        "buildTriggerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically."
          }
        },
        "substitutions": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Substitutions data for `Build` resource."
          }
        },
        "artifacts": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts",
          "traits": {
            "smithy.api#documentation": "Artifacts produced by the build that should be uploaded upon successful completion of all build steps."
          }
        },
        "secrets": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1SecretList",
          "traits": {
            "smithy.api#documentation": "Secrets to decrypt using Cloud Key Management Service. Note: Secret Manager is the recommended technique for managing sensitive data with Cloud Build. Use `available_secrets` to configure builds to access secrets from Secret Manager. For instructions, see: https://cloud.google.com/cloud-build/docs/securing-builds/use-secrets"
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IAM service account whose credentials will be used at build runtime. Must be of the format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}`. ACCOUNT can be email address or uniqueId of the service account. "
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is 60 minutes."
          }
        },
        "gitConfig": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for git operations."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier of the build."
          }
        },
        "source": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1Source",
          "traits": {
            "smithy.api#documentation": "Optional. The location of the source files to build."
          }
        },
        "failureInfo": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Contains information about the build when status=FAILURE."
          }
        },
        "results": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1Results",
          "traits": {
            "smithy.api#documentation": "Output only. Results of the build."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the project."
          }
        },
        "tags": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Tags for annotation of a `Build`. These are not docker tags."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the request to create the build was received."
          }
        },
        "approval": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval",
          "traits": {
            "smithy.api#documentation": "Output only. Describes this build's approval configuration, status, and result."
          }
        },
        "timing": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpanMap",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps. * PUSH: time to push all artifacts including docker images and non docker artifacts. * FETCHSOURCE: time to fetch source. * SETUPBUILD: time to set up build. If the build does not specify source or images, these keys will not be included."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which execution of the build was started."
          }
        },
        "options": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions",
          "traits": {
            "smithy.api#documentation": "Special options for this build."
          }
        },
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Customer-readable message about the current status."
          }
        },
        "logsBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`."
          }
        },
        "sourceProvenance": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1SourceProvenance",
          "traits": {
            "smithy.api#documentation": "Output only. A permanent fixed identifier for source."
          }
        },
        "finishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The 'Build' name with format: `projects/{project}/locations/{location}/builds/{build}`, where {build} is a unique identifier generated by the service."
          }
        },
        "steps": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStepList",
          "traits": {
            "smithy.api#documentation": "Required. The operations to be performed on the workspace."
          }
        },
        "status": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A build resource in the Cloud Build API. At a high level, a `Build` describes where to find source code, how to build it (for example, the builder image to run on the source), and where to store the built artifacts. Fields can include the following variables, which will be expanded when the build is created: - $PROJECT_ID: the project ID of the build. - $PROJECT_NUMBER: the project number of the build. - $LOCATION: the location/region of the build. - $BUILD_ID: the autogenerated ID of the build. - $REPO_NAME: the source repository name specified by RepoSource. - $BRANCH_NAME: the branch name specified by RepoSource. - $TAG_NAME: the tag name specified by RepoSource. - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or resolved from the specified branch or tag. - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1Dependency"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1BuildWarningList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1BuildWarning"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1SecretList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1Secret"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpanMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStep"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNKNOWN"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "WORKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKING"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ProvenanceBuilder": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringMap"
        },
        "builderDependencies": {
          "target": "com.gcp.containeranalysis_v1alpha1#ResourceDescriptorList"
        }
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ResourceDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#ResourceDescriptor"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaBuilder": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI indicating the builder’s identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies the entity that executed the recipe, which is trusted to have correctly performed the operation and populated this provenance."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#Deployment": {
      "type": "structure",
      "members": {
        "userEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identity of the user that triggered this deployment."
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration used to create this deployment."
          }
        },
        "platform": {
          "target": "com.gcp.containeranalysis_v1alpha1#DeploymentPlatformEnum",
          "traits": {
            "smithy.api#documentation": "Platform hosting this deployment."
          }
        },
        "deployTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Beginning of the lifetime of this deployment."
          }
        },
        "undeployTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of the lifetime of this deployment."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address of the runtime element hosting this deployment."
          }
        },
        "resourceUri": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Resource URI for the artifact being deployed taken from the deployable field with the same name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The period during which some deployable was active in a runtime."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#DeploymentPlatformEnum": {
      "type": "enum",
      "members": {
        "PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_UNSPECIFIED"
          }
        },
        "GKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE"
          }
        },
        "FLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEX"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1alpha1#IdentifierHelper": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.gcp.containeranalysis_v1alpha1#IdentifierHelperFieldEnum",
          "traits": {
            "smithy.api#documentation": "The field that is set in the API proto."
          }
        },
        "genericUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains a URI which is vendor-specific. Example: The artifact repository URL of an image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Helps in identifying the underlying product. This should be treated like a one-of field. Only one field should be set in this proto. This is a workaround because spanner indexes on one-of fields restrict addition and deletion of fields."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#IdentifierHelperFieldEnum": {
      "type": "enum",
      "members": {
        "IDENTIFIER_HELPER_FIELD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTIFIER_HELPER_FIELD_UNSPECIFIED"
          }
        },
        "GENERIC_URI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_URI"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1alpha1#Remediation": {
      "type": "structure",
      "members": {
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains a comprehensive human-readable discussion of the remediation."
          }
        },
        "remediationUri": {
          "target": "com.gcp.containeranalysis_v1alpha1#URI",
          "traits": {
            "smithy.api#documentation": "Contains the URL where to obtain the remediation."
          }
        },
        "remediationType": {
          "target": "com.gcp.containeranalysis_v1alpha1#RemediationRemediationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of remediation that can be applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies details on how to handle (and presumably, fix) a vulnerability."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#RemediationRemediationTypeEnum": {
      "type": "enum",
      "members": {
        "REMEDIATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMEDIATION_TYPE_UNSPECIFIED"
          }
        },
        "MITIGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MITIGATION"
          }
        },
        "NO_FIX_PLANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_FIX_PLANNED"
          }
        },
        "NONE_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE_AVAILABLE"
          }
        },
        "VENDOR_FIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VENDOR_FIX"
          }
        },
        "WORKAROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKAROUND"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1alpha1#Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.containeranalysis_v1alpha1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult": {
      "type": "structure",
      "members": {
        "decision": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResultDecisionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The decision of this manual approval."
          }
        },
        "approverAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build."
          }
        },
        "approvalTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the approval decision was made."
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional comment for this manual approval result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApprovalResult describes the decision and associated metadata of a manual approval of a build."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResultDecisionEnum": {
      "type": "enum",
      "members": {
        "DECISION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECISION_UNSPECIFIED"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1alpha1#SlsaBuilder": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "id is the id of the slsa provenance builder"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SlsaBuilder encapsulates the identity of the builder of this provenance."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1Secrets": {
      "type": "structure",
      "members": {
        "secretManager": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecretList",
          "traits": {
            "smithy.api#documentation": "Secrets in Secret Manager and associated secret environment variable."
          }
        },
        "inline": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecretList",
          "traits": {
            "smithy.api#documentation": "Secrets encrypted with KMS key and the associated secret environment variable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Secrets and secret environment variables."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecretList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecret"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecretList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecret"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes": {
      "type": "structure",
      "members": {
        "fileHash": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1HashList",
          "traits": {
            "smithy.api#documentation": "Collection of file hashes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container message for hashes of byte content of files, used in SourceProvenance messages to verify integrity of source input to the build."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1HashList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1Hash"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedNpmPackage": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the uploaded npm package."
          }
        },
        "pushTiming": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for pushing the specified artifact."
          }
        },
        "fileHashes": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes",
          "traits": {
            "smithy.api#documentation": "Hash types and values of the npm package."
          }
        },
        "artifactRegistryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Path to the artifact in Artifact Registry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An npm package uploaded to Artifact Registry using the NpmPackage directive."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaCompleteness": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the builder claims that invocation.environment is complete."
          }
        },
        "materials": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the builder claims that materials is complete."
          }
        },
        "parameters": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the builder claims that invocation.parameters is complete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates that the builder claims certain fields in this message to be complete."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#InTotoSlsaProvenanceV1": {
      "type": "structure",
      "members": {
        "predicateType": {
          "target": "smithy.api#String"
        },
        "predicate": {
          "target": "com.gcp.containeranalysis_v1alpha1#SlsaProvenanceV1"
        },
        "subject": {
          "target": "com.gcp.containeranalysis_v1alpha1#SubjectList"
        },
        "_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "InToto spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1alpha1#SubjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#Subject"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ListOccurrencesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next pagination token in the list response. It should be used as `page_token` for the following request. An empty value means no more results."
          }
        },
        "occurrences": {
          "target": "com.gcp.containeranalysis_v1alpha1#OccurrenceList",
          "traits": {
            "smithy.api#documentation": "The occurrences requested."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response including listed active occurrences."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#OccurrenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#Occurrence"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#FindingLocation": {
      "type": "structure",
      "members": {
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Relative path of the file containing the finding."
          }
        },
        "lineNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Line number (1-based), or 0 if whole File / unknown."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location details with file path and line number."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#Command": {
      "type": "structure",
      "members": {
        "dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Working directory (relative to project source root) used when running this Command."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`."
          }
        },
        "env": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Environment variables set before running this Command."
          }
        },
        "args": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Command-line arguments used when executing this Command."
          }
        },
        "waitFor": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "The ID(s) of the Command(s) that this Command depends on."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional unique identifier for this Command, used in wait_for to reference this Command as a dependency."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Command describes a step performed as part of the build pipeline."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#RelatedUrl": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specific URL to associate with the note"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label to describe usage of the URL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for any related URL information"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time that this operation was marked completed or failed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for all operations used and required for all operations that created by Container Analysis Providers"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#SbomReferenceIntotoPredicate": {
      "type": "structure",
      "members": {
        "referrerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The person or system referring this predicate to the consumer."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the SBOM."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mime type of the SBOM."
          }
        },
        "digest": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "A map of algorithm to digest of the contents of the SBOM."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A predicate which describes the SBOM being referenced."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage": {
      "type": "structure",
      "members": {
        "paths": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Path globs used to match files in the build's workspace. For Python/ Twine, this is usually `dist/*`, and sometimes additionally an `.asc` file."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact Registry repository, in the form \"https://$REGION-python.pkg.dev/$PROJECT/$REPOSITORY\" Files in the workspace matching any path pattern will be uploaded to Artifact Registry with this location as a prefix."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Python package to upload to Artifact Registry upon successful completion of all build steps. A package can encapsulate multiple objects to be uploaded to a single repository."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.containeranalysis_v1alpha1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#SBOMStatus": {
      "type": "structure",
      "members": {
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If there was an error generating an SBOM, this will indicate what that error was."
          }
        },
        "sbomState": {
          "target": "com.gcp.containeranalysis_v1alpha1#SBOMStatusSbomStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The progress of the SBOM generation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of an SBOM generation."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#SBOMStatusSbomStateEnum": {
      "type": "enum",
      "members": {
        "SBOM_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SBOM_STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1alpha1#Fingerprint": {
      "type": "structure",
      "members": {
        "v2Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept. This field can be used as a filter in list requests."
          }
        },
        "v1Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The layer-id of the final layer in the Docker image's v1 representation. This field can be used as a filter in list requests."
          }
        },
        "v2Blob": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "The ordered list of v2 blobs that represent a given image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of properties that uniquely identify a given Docker image."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#RepoSource": {
      "type": "structure",
      "members": {
        "branchName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the branch to build."
          }
        },
        "repoName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the repo."
          }
        },
        "tagName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the tag to build."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the project that owns the repo."
          }
        },
        "commitSha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explicit commit SHA to build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RepoSource describes the location of the source in a Google Cloud Source Repository."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecret": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*"
          }
        },
        "envMap": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#SlsaRecipe": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "com.gcp.containeranalysis_v1alpha1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different."
          }
        },
        "definedInMaterial": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64."
          }
        },
        "arguments": {
          "target": "com.gcp.containeranalysis_v1alpha1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
          }
        },
        "entryPoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.containeranalysis_v1alpha1#GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId": {
      "type": "structure",
      "members": {
        "repoName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repo. Leave empty for the default repo."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#File": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the file."
          }
        },
        "digest": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The digest(s) of the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file as part of a resource."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of time span."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of time span."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Start and end times for a build execution phase."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceRepository": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the Git repository."
          }
        },
        "developerConnect": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Developer Connect Git repository link formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A repository for a git source."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceDependency": {
      "type": "structure",
      "members": {
        "depth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. How much history should be fetched for the build (default 1, -1 for all history)."
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The revision that we will fetch the repo at."
          }
        },
        "repository": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceRepository",
          "traits": {
            "smithy.api#documentation": "Required. The kind of repo (url or dev connect)."
          }
        },
        "destPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Where should the files be placed on the worker."
          }
        },
        "recurseSubmodules": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. True if submodules should be fetched too (default false)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a git repository as a build dependency."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#Recipe": {
      "type": "structure",
      "members": {
        "entryPoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
          }
        },
        "definedInMaterial": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64."
          }
        },
        "arguments": {
          "target": "com.gcp.containeranalysis_v1alpha1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint."
          }
        },
        "environment": {
          "target": "com.gcp.containeranalysis_v1alpha1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#DocumentMap"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#Package": {
      "type": "structure",
      "members": {
        "distribution": {
          "target": "com.gcp.containeranalysis_v1alpha1#DistributionList",
          "traits": {
            "smithy.api#documentation": "The various channels by which a package is distributed."
          }
        },
        "maintainer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A freeform text denoting the maintainer of this package."
          }
        },
        "license": {
          "target": "com.gcp.containeranalysis_v1alpha1#License",
          "traits": {
            "smithy.api#documentation": "Licenses that have been declared by the authors of the package."
          }
        },
        "version": {
          "target": "com.gcp.containeranalysis_v1alpha1#Version",
          "traits": {
            "smithy.api#documentation": "The version of the package."
          }
        },
        "digest": {
          "target": "com.gcp.containeranalysis_v1alpha1#DigestList",
          "traits": {
            "smithy.api#documentation": "Hash value, typically a file digest, that allows unique identification a specific package."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the package."
          }
        },
        "architecture": {
          "target": "com.gcp.containeranalysis_v1alpha1#PackageArchitectureEnum",
          "traits": {
            "smithy.api#documentation": "The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages."
          }
        },
        "cpeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages."
          }
        },
        "packageType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The homepage for this package."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of this package."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This represents a particular package that is distributed over various channels. e.g. glibc (aka libc6) is distributed by many, at various versions."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#DistributionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#Distribution"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#DigestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#Digest"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#PackageArchitectureEnum": {
      "type": "enum",
      "members": {
        "ARCHITECTURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHITECTURE_UNSPECIFIED"
          }
        },
        "X86": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X86"
          }
        },
        "X64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X64"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1alpha1#Completeness": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the builder claims that recipe.environment is claimed to be complete."
          }
        },
        "arguments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe."
          }
        },
        "materials": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates that the builder claims certain fields in this message to be complete."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#Distribution": {
      "type": "structure",
      "members": {
        "architecture": {
          "target": "com.gcp.containeranalysis_v1alpha1#DistributionArchitectureEnum",
          "traits": {
            "smithy.api#documentation": "The CPU architecture for which packages in this distribution channel were built"
          }
        },
        "latestVersion": {
          "target": "com.gcp.containeranalysis_v1alpha1#Version",
          "traits": {
            "smithy.api#documentation": "The latest available version of this package in this distribution channel."
          }
        },
        "cpeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cpe_uri in [cpe format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package."
          }
        },
        "maintainer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A freeform string denoting the maintainer of this package."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The distribution channel-specific homepage for this package."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The distribution channel-specific description of this package."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This represents a particular channel of distribution for a given package. e.g. Debian's jessie-backports dpkg mirror"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#DistributionArchitectureEnum": {
      "type": "enum",
      "members": {
        "ARCHITECTURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHITECTURE_UNSPECIFIED"
          }
        },
        "X86": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X86"
          }
        },
        "X64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X64"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1alpha1#VulnerabilityLocation": {
      "type": "structure",
      "members": {
        "cpeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) format. Examples include distro or storage location for vulnerable jar. This field can be used as a filter in list requests."
          }
        },
        "package": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The package being described."
          }
        },
        "version": {
          "target": "com.gcp.containeranalysis_v1alpha1#Version",
          "traits": {
            "smithy.api#documentation": "The version of the package being described. This field can be used as a filter in list requests."
          }
        },
        "fileLocation": {
          "target": "com.gcp.containeranalysis_v1alpha1#FileLocationList",
          "traits": {
            "smithy.api#documentation": "The file location at which this package was found."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The location of the vulnerability"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#FileLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#FileLocation"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#UpgradeOccurrence": {
      "type": "structure",
      "members": {
        "package": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required - The package this Upgrade is for."
          }
        },
        "parsedVersion": {
          "target": "com.gcp.containeranalysis_v1alpha1#Version",
          "traits": {
            "smithy.api#documentation": "Required - The version of the package in a machine + human readable form."
          }
        },
        "distribution": {
          "target": "com.gcp.containeranalysis_v1alpha1#UpgradeDistribution",
          "traits": {
            "smithy.api#documentation": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability)."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build."
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used."
          }
        },
        "sourceFetcher": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceSourceFetcherEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Option to specify the tool to fetch the source file for the build."
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in an archive file in Cloud Storage."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceSourceFetcherEnum": {
      "type": "enum",
      "members": {
        "SOURCE_FETCHER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_FETCHER_UNSPECIFIED"
          }
        },
        "GSUTIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GSUTIL"
          }
        },
        "GCS_FETCHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCS_FETCHER"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1alpha1#SlsaProvenanceV1": {
      "type": "structure",
      "members": {
        "buildDefinition": {
          "target": "com.gcp.containeranalysis_v1alpha1#BuildDefinition"
        },
        "runDetails": {
          "target": "com.gcp.containeranalysis_v1alpha1#RunDetails"
        }
      },
      "traits": {
        "smithy.api#documentation": "Keep in sync with schema at https://github.com/slsa-framework/slsa/blob/main/docs/provenance/schema/v1/provenance.proto Builder renamed to ProvenanceBuilder because of Java conflicts."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ListNotesResponse": {
      "type": "structure",
      "members": {
        "notes": {
          "target": "com.gcp.containeranalysis_v1alpha1#NoteList",
          "traits": {
            "smithy.api#documentation": "The occurrences requested"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next pagination token in the list response. It should be used as page_token for the following request. An empty value means no more result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response including listed notes."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#NoteList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#Note"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1Secret": {
      "type": "structure",
      "members": {
        "secretEnv": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud KMS key name to use to decrypt these envs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pairs a set of secret environment variables containing encrypted values with the Cloud KMS key to use to decrypt the value. Note: Use `kmsKeyName` with `available_secrets` instead of using `kmsKeyName` with `secret`. For instructions see: https://cloud.google.com/cloud-build/docs/securing-builds/use-encrypted-credentials."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig": {
      "type": "structure",
      "members": {
        "approvalRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApprovalConfig describes configuration for manual approval of a build."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#InTotoStatement": {
      "type": "structure",
      "members": {
        "predicateType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"https://slsa.dev/provenance/v0.1\" for SlsaProvenance."
          }
        },
        "_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always \"https://in-toto.io/Statement/v0.1\"."
          }
        },
        "slsaProvenanceZeroTwo": {
          "target": "com.gcp.containeranalysis_v1alpha1#SlsaProvenanceZeroTwo",
          "traits": {
            "smithy.api#documentation": "SLSA 0.2 provenance."
          }
        },
        "subject": {
          "target": "com.gcp.containeranalysis_v1alpha1#SubjectList",
          "traits": {
            "smithy.api#documentation": "subject is the subjects of the intoto statement"
          }
        },
        "provenance": {
          "target": "com.gcp.containeranalysis_v1alpha1#InTotoProvenance",
          "traits": {
            "smithy.api#documentation": "Generic Grafeas provenance."
          }
        },
        "slsaProvenance": {
          "target": "com.gcp.containeranalysis_v1alpha1#SlsaProvenance",
          "traits": {
            "smithy.api#documentation": "SLSA 0.1 provenance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement The serialized InTotoStatement will be stored as Envelope.payload. Envelope.payloadType is always \"application/vnd.in-toto+json\"."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1Dependency": {
      "type": "structure",
      "members": {
        "empty": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true disable all dependency fetching (ignoring the default source as well)."
          }
        },
        "genericArtifact": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGenericArtifactDependency",
          "traits": {
            "smithy.api#documentation": "Represents a generic artifact as a build dependency."
          }
        },
        "gitSource": {
          "target": "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1DependencyGitSourceDependency",
          "traits": {
            "smithy.api#documentation": "Represents a git repository as a build dependency."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A dependency that the Cloud Build worker will fetch before executing user steps."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#Digest": {
      "type": "structure",
      "members": {
        "algo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`SHA1`, `SHA512` etc."
          }
        },
        "digestBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the digest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Digest information."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#SecretLocation": {
      "type": "structure",
      "members": {
        "fileLocation": {
          "target": "com.gcp.containeranalysis_v1alpha1#FileLocation",
          "traits": {
            "smithy.api#documentation": "The secret is found from a file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The location of the secret."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#DSSEHint": {
      "type": "structure",
      "members": {
        "humanReadableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The human readable name of this attestation authority, for example \"cloudbuild-prod\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This submessage provides human-readable hints about the purpose of the authority. Because the name of a note acts as its resource reference, it is important to disambiguate the canonical name of the Note (which might be a UUID for security purposes) from \"readable\" names more suitable for debug output. Note that these hints should not be used to look up authorities in security sensitive contexts, such as when looking up attestations to verify."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#GoogleDevtoolsContaineranalysisV1alpha1AliasContext": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.gcp.containeranalysis_v1alpha1#GoogleDevtoolsContaineranalysisV1alpha1AliasContextKindEnum",
          "traits": {
            "smithy.api#documentation": "The alias kind."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alias name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An alias to a repo revision."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#GoogleDevtoolsContaineranalysisV1alpha1AliasContextKindEnum": {
      "type": "enum",
      "members": {
        "KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_UNSPECIFIED"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED"
          }
        },
        "MOVABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVABLE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ScanConfig": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A human-readable description of what the `ScanConfig` does."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the Scan is enabled."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this scan config was last updated."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this scan config was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the ScanConfig in the form “projects/{project_id}/scanConfigs/{scan_config_id}\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates various scans and whether they are turned on or off."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsOci": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Tags to apply to the uploaded image. e.g. latest, 1.0.0"
          }
        },
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Path on the local file system where to find the container to upload. e.g. /workspace/my-image.tar"
          }
        },
        "registryPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Registry path to upload the container to. e.g. us-east1-docker.pkg.dev/my-project/my-repo/my-image"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OCI image to upload to Artifact Registry upon successful completion of all build steps."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#Source": {
      "type": "structure",
      "members": {
        "repoSource": {
          "target": "com.gcp.containeranalysis_v1alpha1#RepoSource",
          "traits": {
            "smithy.api#documentation": "If provided, get source from this location in a Cloud Repo."
          }
        },
        "artifactStorageSource": {
          "target": "com.gcp.containeranalysis_v1alpha1#StorageSource",
          "traits": {
            "smithy.api#documentation": "If provided, the input binary artifacts for the build came from this location."
          }
        },
        "context": {
          "target": "com.gcp.containeranalysis_v1alpha1#GoogleDevtoolsContaineranalysisV1alpha1SourceContext",
          "traits": {
            "smithy.api#documentation": "If provided, the source code used for the build came from this location."
          }
        },
        "fileHashes": {
          "target": "com.gcp.containeranalysis_v1alpha1#FileHashesMap",
          "traits": {
            "smithy.api#documentation": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file."
          }
        },
        "storageSource": {
          "target": "com.gcp.containeranalysis_v1alpha1#StorageSource",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from this location in Google Cloud Storage."
          }
        },
        "additionalContexts": {
          "target": "com.gcp.containeranalysis_v1alpha1#GoogleDevtoolsContaineranalysisV1alpha1SourceContextList",
          "traits": {
            "smithy.api#documentation": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source describes the location of the source used for the build."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#FileHashesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.containeranalysis_v1alpha1#FileHashes"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#GoogleDevtoolsContaineranalysisV1alpha1SourceContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.containeranalysis_v1alpha1#GoogleDevtoolsContaineranalysisV1alpha1SourceContext"
      }
    },
    "com.gcp.containeranalysis_v1alpha1#AttestationAuthority": {
      "type": "structure",
      "members": {
        "hint": {
          "target": "com.gcp.containeranalysis_v1alpha1#AttestationAuthorityHint"
        }
      },
      "traits": {
        "smithy.api#documentation": "Note kind that represents a logical attestation \"role\" or \"authority\". For example, an organization might have one `AttestationAuthority` for \"QA\" and one for \"build\". This Note is intended to act strictly as a grouping mechanism for the attached Occurrences (Attestations). This grouping mechanism also provides a security boundary, since IAM ACLs gate the ability for a principle to attach an Occurrence to a given Note. It also provides a single point of lookup to find all attached Attestation Occurrences, even if they don't all live in the same project."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaConfigSource": {
      "type": "structure",
      "members": {
        "digest": {
          "target": "com.gcp.containeranalysis_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Collection of cryptographic digests for the contents of the artifact specified by invocation.configSource.uri."
          }
        },
        "entryPoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String identifying the entry point into the build."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI indicating the identity of the source of the config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes where the config file that kicked off the build came from. This is effectively a pointer to the source where buildConfig came from."
      }
    },
    "com.gcp.containeranalysis_v1alpha1#PackageIssue": {
      "type": "structure",
      "members": {
        "fixedLocation": {
          "target": "com.gcp.containeranalysis_v1alpha1#VulnerabilityLocation",
          "traits": {
            "smithy.api#documentation": "The location of the available fix for vulnerability."
          }
        },
        "affectedLocation": {
          "target": "com.gcp.containeranalysis_v1alpha1#VulnerabilityLocation",
          "traits": {
            "smithy.api#documentation": "The location of the vulnerability."
          }
        },
        "effectiveSeverity": {
          "target": "com.gcp.containeranalysis_v1alpha1#PackageIssueEffectiveSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The distro or language system assigned severity for this vulnerability when that is available and note provider assigned severity when distro or language system has not yet assigned a severity for this vulnerability."
          }
        },
        "packageType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of package (e.g. OS, MAVEN, GO)."
          }
        },
        "severityName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
[...]
