{
  "smithy": "2.0",
  "metadata": {
    "service": "container",
    "version": "v1beta1",
    "title": "Kubernetes Engine API",
    "baseUrl": "https://container.googleapis.com/"
  },
  "shapes": {
    "com.gcp.container_v1beta1#SetLoggingServiceRequest": {
      "type": "structure",
      "members": {
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
          }
        },
        "loggingService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SetLoggingServiceRequest sets the logging service of a cluster."
      }
    },
    "com.gcp.container_v1beta1#SwapConfig": {
      "type": "structure",
      "members": {
        "encryptionConfig": {
          "target": "com.gcp.container_v1beta1#EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If omitted, swap space is encrypted by default."
          }
        },
        "bootDiskProfile": {
          "target": "com.gcp.container_v1beta1#BootDiskProfile",
          "traits": {
            "smithy.api#documentation": "Swap on the node's boot disk."
          }
        },
        "dedicatedLocalSsdProfile": {
          "target": "com.gcp.container_v1beta1#DedicatedLocalSsdProfile",
          "traits": {
            "smithy.api#documentation": "Provisions a new, separate local NVMe SSD exclusively for swap."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables or disables swap for the node pool."
          }
        },
        "ephemeralLocalSsdProfile": {
          "target": "com.gcp.container_v1beta1#EphemeralLocalSsdProfile",
          "traits": {
            "smithy.api#documentation": "Swap on the local SSD shared with pod ephemeral storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for swap memory on a node pool."
      }
    },
    "com.gcp.container_v1beta1#ConfigConnectorConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloud Connector is enabled for this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for the Config Connector add-on."
      }
    },
    "com.gcp.container_v1beta1#SecretSyncConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable/Disable Secret Sync Config."
          }
        },
        "rotationConfig": {
          "target": "com.gcp.container_v1beta1#SyncRotationConfig",
          "traits": {
            "smithy.api#documentation": "Rotation config for secret manager."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for sync Secret Manager secrets as k8s secrets."
      }
    },
    "com.gcp.container_v1beta1#VirtualNIC": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether gVNIC features are enabled in the node pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of gVNIC feature."
      }
    },
    "com.gcp.container_v1beta1#IPEndpointsConfig": {
      "type": "structure",
      "members": {
        "enablePublicEndpoint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether the control plane allows access through a public IP. It is invalid to specify both PrivateClusterConfig.enablePrivateEndpoint and this field at the same time."
          }
        },
        "globalAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether the control plane's private endpoint is accessible from sources in other regions. It is invalid to specify both PrivateClusterMasterGlobalAccessConfig.enabled and this field at the same time."
          }
        },
        "publicEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The external IP address of this cluster's control plane. Only populated if enabled."
          }
        },
        "authorizedNetworksConfig": {
          "target": "com.gcp.container_v1beta1#MasterAuthorizedNetworksConfig",
          "traits": {
            "smithy.api#documentation": "Configuration of authorized networks. If enabled, restricts access to the control plane based on source IP. It is invalid to specify both Cluster.masterAuthorizedNetworksConfig and this field at the same time."
          }
        },
        "privateEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The internal IP address of this cluster's control plane. Only populated if enabled."
          }
        },
        "privateEndpointSubnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subnet to provision the master's private endpoint during cluster creation. Specified in projects/*/regions/*/subnetworks/* format. It is invalid to specify both PrivateClusterConfig.privateEndpointSubnetwork and this field at the same time."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether to allow direct IP access."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP endpoints configuration."
      }
    },
    "com.gcp.container_v1beta1#RayOperatorConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Ray addon is enabled for this cluster."
          }
        },
        "rayClusterMonitoringConfig": {
          "target": "com.gcp.container_v1beta1#RayClusterMonitoringConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Monitoring configuration for Ray clusters."
          }
        },
        "rayClusterLoggingConfig": {
          "target": "com.gcp.container_v1beta1#RayClusterLoggingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Logging configuration for Ray clusters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for the Ray Operator add-on."
      }
    },
    "com.gcp.container_v1beta1#OperationProgress": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.container_v1beta1#OperationProgressStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of an operation stage. Unset for single-stage operations."
          }
        },
        "stages": {
          "target": "com.gcp.container_v1beta1#OperationProgressList",
          "traits": {
            "smithy.api#documentation": "Substages of an operation or a stage."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A non-parameterized string describing an operation stage. Unset for single-stage operations."
          }
        },
        "metrics": {
          "target": "com.gcp.container_v1beta1#MetricList",
          "traits": {
            "smithy.api#documentation": "Progress metric bundle, for example: metrics: [{name: \"nodes done\", int_value: 15}, {name: \"nodes total\", int_value: 32}] or metrics: [{name: \"progress\", double_value: 0.56}, {name: \"progress scale\", double_value: 1.0}]"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about operation (or operation stage) progress."
      }
    },
    "com.gcp.container_v1beta1#OperationProgressStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        },
        "ABORTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORTING"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#OperationProgressList": {
      "type": "list",
      "member": {
        "target": "com.gcp.container_v1beta1#OperationProgress"
      }
    },
    "com.gcp.container_v1beta1#MetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.container_v1beta1#Metric"
      }
    },
    "com.gcp.container_v1beta1#IntraNodeVisibilityConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables intra node visibility for this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IntraNodeVisibilityConfig contains the desired config of the intra-node visibility on this cluster."
      }
    },
    "com.gcp.container_v1beta1#ClusterUpdate": {
      "type": "structure",
      "members": {
        "desiredBinaryAuthorization": {
          "target": "com.gcp.container_v1beta1#BinaryAuthorization",
          "traits": {
            "smithy.api#documentation": "The desired configuration options for the Binary Authorization feature."
          }
        },
        "desiredNodePoolAutoConfigResourceManagerTags": {
          "target": "com.gcp.container_v1beta1#ResourceManagerTags",
          "traits": {
            "smithy.api#documentation": "The desired resource manager tags that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
          }
        },
        "desiredPrivateClusterConfig": {
          "target": "com.gcp.container_v1beta1#PrivateClusterConfig",
          "traits": {
            "smithy.api#documentation": "The desired private cluster configuration. master_global_access_config is the only field that can be changed via this field. See also ClusterUpdate.desired_enable_private_endpoint for modifying other fields within PrivateClusterConfig. Deprecated: Use desired_control_plane_endpoints_config.ip_endpoints_config.global_access instead."
          }
        },
        "desiredNodeKubeletConfig": {
          "target": "com.gcp.container_v1beta1#NodeKubeletConfig",
          "traits": {
            "smithy.api#documentation": "The desired node kubelet config for the cluster."
          }
        },
        "gkeAutoUpgradeConfig": {
          "target": "com.gcp.container_v1beta1#GkeAutoUpgradeConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for GKE auto upgrade."
          }
        },
        "desiredWorkloadAltsConfig": {
          "target": "com.gcp.container_v1beta1#WorkloadALTSConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for direct-path (via ALTS) with workload identity. This feature is not officially supported for external customers in Kubernetes Engine when using Workload Identity."
          }
        },
        "privateClusterConfig": {
          "target": "com.gcp.container_v1beta1#PrivateClusterConfig",
          "traits": {
            "smithy.api#documentation": "The desired private cluster configuration. Has no effect. Use desired_private_cluster_config instead."
          }
        },
        "desiredEnableFqdnNetworkPolicy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable/Disable FQDN Network Policy for the cluster."
          }
        },
        "desiredControlPlaneEgress": {
          "target": "com.gcp.container_v1beta1#ControlPlaneEgress",
          "traits": {
            "smithy.api#documentation": "The desired control plane egress control config for the cluster."
          }
        },
        "desiredRollbackSafeUpgrade": {
          "target": "com.gcp.container_v1beta1#RollbackSafeUpgrade",
          "traits": {
            "smithy.api#documentation": "The desired rollback safe upgrade configuration."
          }
        },
        "desiredShieldedNodes": {
          "target": "com.gcp.container_v1beta1#ShieldedNodes",
          "traits": {
            "smithy.api#documentation": "Configuration for Shielded Nodes."
          }
        },
        "desiredDatapathProvider": {
          "target": "com.gcp.container_v1beta1#ClusterUpdateDesiredDatapathProviderEnum",
          "traits": {
            "smithy.api#documentation": "The desired datapath provider for the cluster."
          }
        },
        "desiredNodeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version"
          }
        },
        "desiredMonitoringService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The monitoring service the cluster should use to write metrics. Currently available options: * `monitoring.googleapis.com/kubernetes` - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
          }
        },
        "desiredInTransitEncryptionConfig": {
          "target": "com.gcp.container_v1beta1#ClusterUpdateDesiredInTransitEncryptionConfigEnum",
          "traits": {
            "smithy.api#documentation": "Specify the details of in-transit encryption. Now named inter-node transparent encryption."
          }
        },
        "desiredCostManagementConfig": {
          "target": "com.gcp.container_v1beta1#CostManagementConfig",
          "traits": {
            "smithy.api#documentation": "The desired configuration for the fine-grained cost management feature."
          }
        },
        "desiredServiceExternalIpsConfig": {
          "target": "com.gcp.container_v1beta1#ServiceExternalIPsConfig",
          "traits": {
            "smithy.api#documentation": "ServiceExternalIPsConfig specifies the config for the use of Services with ExternalIPs field."
          }
        },
        "desiredControlPlaneEndpointsConfig": {
          "target": "com.gcp.container_v1beta1#ControlPlaneEndpointsConfig",
          "traits": {
            "smithy.api#documentation": "Control plane endpoints configuration."
          }
        },
        "desiredSecurityPostureConfig": {
          "target": "com.gcp.container_v1beta1#SecurityPostureConfig",
          "traits": {
            "smithy.api#documentation": "Enable/Disable Security Posture API features for the cluster."
          }
        },
        "desiredPrivateIpv6GoogleAccess": {
          "target": "com.gcp.container_v1beta1#ClusterUpdateDesiredPrivateIpv6GoogleAccessEnum",
          "traits": {
            "smithy.api#documentation": "The desired state of IPv6 connectivity to Google Services."
          }
        },
        "desiredGcfsConfig": {
          "target": "com.gcp.container_v1beta1#GcfsConfig",
          "traits": {
            "smithy.api#documentation": "The desired GCFS config for the cluster."
          }
        },
        "desiredAuthenticatorGroupsConfig": {
          "target": "com.gcp.container_v1beta1#AuthenticatorGroupsConfig",
          "traits": {
            "smithy.api#documentation": "AuthenticatorGroupsConfig specifies the config for the cluster security groups settings."
          }
        },
        "desiredGatewayApiConfig": {
          "target": "com.gcp.container_v1beta1#GatewayAPIConfig",
          "traits": {
            "smithy.api#documentation": "The desired config of Gateway API on this cluster."
          }
        },
        "desiredRbacBindingConfig": {
          "target": "com.gcp.container_v1beta1#RBACBindingConfig",
          "traits": {
            "smithy.api#documentation": "RBACBindingConfig allows user to restrict ClusterRoleBindings an RoleBindings that can be created."
          }
        },
        "desiredNodePoolLoggingConfig": {
          "target": "com.gcp.container_v1beta1#NodePoolLoggingConfig",
          "traits": {
            "smithy.api#documentation": "The desired node pool logging configuration defaults for the cluster."
          }
        },
        "desiredClusterAutoscaling": {
          "target": "com.gcp.container_v1beta1#ClusterAutoscaling",
          "traits": {
            "smithy.api#documentation": "Cluster-level autoscaling configuration."
          }
        },
        "desiredEnableMultiNetworking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable/Disable Multi-Networking for the cluster"
          }
        },
        "desiredMonitoringConfig": {
          "target": "com.gcp.container_v1beta1#MonitoringConfig",
          "traits": {
            "smithy.api#documentation": "The desired monitoring configuration."
          }
        },
        "desiredK8sBetaApis": {
          "target": "com.gcp.container_v1beta1#K8sBetaAPIConfig",
          "traits": {
            "smithy.api#documentation": "Beta APIs enabled for cluster."
          }
        },
        "desiredNodeCreationConfig": {
          "target": "com.gcp.container_v1beta1#NodeCreationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The desired NodeCreationConfig for the cluster."
          }
        },
        "desiredReleaseChannel": {
          "target": "com.gcp.container_v1beta1#ReleaseChannel",
          "traits": {
            "smithy.api#documentation": "The desired release channel configuration."
          }
        },
        "desiredDnsConfig": {
          "target": "com.gcp.container_v1beta1#DNSConfig",
          "traits": {
            "smithy.api#documentation": "DNSConfig contains clusterDNS config for this cluster."
          }
        },
        "desiredWorkloadCertificates": {
          "target": "com.gcp.container_v1beta1#WorkloadCertificates",
          "traits": {
            "smithy.api#documentation": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
          }
        },
        "desiredManagedOpentelemetryConfig": {
          "target": "com.gcp.container_v1beta1#ManagedOpenTelemetryConfig",
          "traits": {
            "smithy.api#documentation": "The desired managed open telemetry configuration."
          }
        },
        "desiredResourceUsageExportConfig": {
          "target": "com.gcp.container_v1beta1#ResourceUsageExportConfig",
          "traits": {
            "smithy.api#documentation": "The desired configuration for exporting resource usage."
          }
        },
        "desiredStackType": {
          "target": "com.gcp.container_v1beta1#ClusterUpdateDesiredStackTypeEnum",
          "traits": {
            "smithy.api#documentation": "The desired stack type of the cluster. If a stack type is provided and does not match the current stack type of the cluster, update will attempt to change the stack type to the new type."
          }
        },
        "desiredEnableCiliumClusterwideNetworkPolicy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable/Disable Cilium Clusterwide Network Policy for the cluster."
          }
        },
        "desiredAutopilotClusterPolicyConfig": {
          "target": "com.gcp.container_v1beta1#ClusterPolicyConfig",
          "traits": {
            "smithy.api#documentation": "The desired autopilot cluster policies that to be enforced in the cluster."
          }
        },
        "desiredManagedMachineLearningDiagnosticsConfig": {
          "target": "com.gcp.container_v1beta1#ManagedMachineLearningDiagnosticsConfig",
          "traits": {
            "smithy.api#documentation": "The desired managed machine learning diagnostics configuration."
          }
        },
        "desiredFleet": {
          "target": "com.gcp.container_v1beta1#Fleet",
          "traits": {
            "smithy.api#documentation": "The desired fleet configuration for the cluster."
          }
        },
        "enableK8sBetaApis": {
          "target": "com.gcp.container_v1beta1#K8sBetaAPIConfig",
          "traits": {
            "smithy.api#documentation": "Kubernetes open source beta apis enabled on the cluster. Only beta apis"
          }
        },
        "desiredAddonsConfig": {
          "target": "com.gcp.container_v1beta1#AddonsConfig",
          "traits": {
            "smithy.api#documentation": "Configurations for the various addons available to run in the cluster."
          }
        },
        "desiredImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The desired name of the image to use for this node. This is used to create clusters using a custom image."
          }
        },
        "desiredPrivilegedAdmissionConfig": {
          "target": "com.gcp.container_v1beta1#PrivilegedAdmissionConfig",
          "traits": {
            "smithy.api#documentation": "The desired privileged admission config for the cluster."
          }
        },
        "desiredAnonymousAuthenticationConfig": {
          "target": "com.gcp.container_v1beta1#AnonymousAuthenticationConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for limiting anonymous access to all endpoints except the health checks."
          }
        },
        "desiredMeshCertificates": {
          "target": "com.gcp.container_v1beta1#MeshCertificates",
          "traits": {
            "smithy.api#documentation": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
          }
        },
        "desiredImageProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project containing the desired image to use for this node. This is used to create clusters using a custom image."
          }
        },
        "desiredEnablePrivateEndpoint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable/Disable private endpoint for the cluster's master. Deprecated: Use desired_control_plane_endpoints_config.ip_endpoints_config.enable_public_endpoint instead. Note that the value of enable_public_endpoint is reversed: if enable_private_endpoint is false, then enable_public_endpoint will be true."
          }
        },
        "desiredWorkloadIdentityConfig": {
          "target": "com.gcp.container_v1beta1#WorkloadIdentityConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for Workload Identity."
          }
        },
        "desiredNodePoolAutoscaling": {
          "target": "com.gcp.container_v1beta1#NodePoolAutoscaling",
          "traits": {
            "smithy.api#documentation": "Autoscaler configuration for the node pool specified in desired_node_pool_id. If there is only one pool in the cluster and desired_node_pool_id is not provided then the change applies to that single node pool."
          }
        },
        "desiredL4ilbSubsettingConfig": {
          "target": "com.gcp.container_v1beta1#ILBSubsettingConfig",
          "traits": {
            "smithy.api#documentation": "The desired L4 Internal Load Balancer Subsetting configuration."
          }
        },
        "desiredNodePoolAutoConfigLinuxNodeConfig": {
          "target": "com.gcp.container_v1beta1#LinuxNodeConfig",
          "traits": {
            "smithy.api#documentation": "The desired Linux node config for all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters. Currently only `cgroup_mode` can be set here."
          }
        },
        "additionalPodRangesConfig": {
          "target": "com.gcp.container_v1beta1#AdditionalPodRangesConfig",
          "traits": {
            "smithy.api#documentation": "The additional pod ranges to be added to the cluster. These pod ranges can be used by node pools to allocate pod IPs."
          }
        },
        "desiredUserManagedKeysConfig": {
          "target": "com.gcp.container_v1beta1#UserManagedKeysConfig",
          "traits": {
            "smithy.api#documentation": "The desired user managed keys config for the cluster."
          }
        },
        "desiredLocations": {
          "target": "com.gcp.container_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This list must always include the cluster's primary zone. Warning: changing cluster locations will update the locations of all node pools and will result in nodes being added and/or removed."
          }
        },
        "desiredAutopilotWorkloadPolicyConfig": {
          "target": "com.gcp.container_v1beta1#WorkloadPolicyConfig",
          "traits": {
            "smithy.api#documentation": "WorkloadPolicyConfig is the configuration related to GCW workload policy"
          }
        },
        "desiredIntraNodeVisibilityConfig": {
          "target": "com.gcp.container_v1beta1#IntraNodeVisibilityConfig",
          "traits": {
            "smithy.api#documentation": "The desired config of Intra-node visibility."
          }
        },
        "desiredAutoIpamConfig": {
          "target": "com.gcp.container_v1beta1#AutoIpamConfig",
          "traits": {
            "smithy.api#documentation": "AutoIpamConfig contains all information related to Auto IPAM"
          }
        },
        "desiredHostMaintenancePolicy": {
          "target": "com.gcp.container_v1beta1#HostMaintenancePolicy",
          "traits": {
            "smithy.api#documentation": "HostMaintenancePolicy contains the desired maintenance policy for the Google Compute Engine hosts."
          }
        },
        "desiredMasterAuthorizedNetworksConfig": {
          "target": "com.gcp.container_v1beta1#MasterAuthorizedNetworksConfig",
          "traits": {
            "smithy.api#documentation": "The desired configuration options for master authorized networks feature. Deprecated: Use desired_control_plane_endpoints_config.ip_endpoints_config.authorized_networks_config instead."
          }
        },
        "desiredNodePoolAutoConfigNetworkTags": {
          "target": "com.gcp.container_v1beta1#NetworkTags",
          "traits": {
            "smithy.api#documentation": "The desired network tags that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
          }
        },
        "desiredImageType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The desired image type for the node pool. NOTE: Set the \"desired_node_pool\" field as well."
          }
        },
        "desiredClusterTelemetry": {
          "target": "com.gcp.container_v1beta1#ClusterTelemetry",
          "traits": {
            "smithy.api#documentation": "The desired telemetry integration for the cluster."
          }
        },
        "userManagedKeysConfig": {
          "target": "com.gcp.container_v1beta1#UserManagedKeysConfig",
          "traits": {
            "smithy.api#documentation": "The Custom keys configuration for the cluster. This field is deprecated. Use ClusterUpdate.desired_user_managed_keys_config instead."
          }
        },
        "desiredDefaultSnatStatus": {
          "target": "com.gcp.container_v1beta1#DefaultSnatStatus",
          "traits": {
            "smithy.api#documentation": "The desired status of whether to disable default sNAT for this cluster."
          }
        },
        "desiredDefaultEnablePrivateNodes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Override the default setting of whether future created nodes have private IP addresses only, namely NetworkConfig.default_enable_private_nodes"
          }
        },
        "desiredSecretSyncConfig": {
          "target": "com.gcp.container_v1beta1#SecretSyncConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for sync Secret Manager secrets as k8s secrets."
          }
        },
        "desiredContainerdConfig": {
          "target": "com.gcp.container_v1beta1#ContainerdConfig",
          "traits": {
            "smithy.api#documentation": "The desired containerd config for the cluster."
          }
        },
        "desiredLoggingService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
          }
        },
        "desiredNetworkPerformanceConfig": {
          "target": "com.gcp.container_v1beta1#ClusterNetworkPerformanceConfig",
          "traits": {
            "smithy.api#documentation": "The desired network performance config."
          }
        },
        "desiredLoggingConfig": {
          "target": "com.gcp.container_v1beta1#LoggingConfig",
          "traits": {
            "smithy.api#documentation": "The desired logging configuration."
          }
        },
        "desiredCompliancePostureConfig": {
          "target": "com.gcp.container_v1beta1#CompliancePostureConfig",
          "traits": {
            "smithy.api#documentation": "Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Enable/Disable Compliance Posture features for the cluster."
          }
        },
        "desiredDatabaseEncryption": {
          "target": "com.gcp.container_v1beta1#DatabaseEncryption",
          "traits": {
            "smithy.api#documentation": "Configuration of etcd encryption."
          }
        },
        "desiredProtectConfig": {
          "target": "com.gcp.container_v1beta1#ProtectConfig",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use DesiredSecurityPostureConfig instead. Enable/Disable Protect API features for the cluster."
          }
        },
        "removedAdditionalPodRangesConfig": {
          "target": "com.gcp.container_v1beta1#AdditionalPodRangesConfig",
          "traits": {
            "smithy.api#documentation": "The additional pod ranges that are to be removed from the cluster. The pod ranges specified here must have been specified earlier in the 'additional_pod_ranges_config' argument."
          }
        },
        "desiredNodePoolAutoConfigKubeletConfig": {
          "target": "com.gcp.container_v1beta1#NodeKubeletConfig",
          "traits": {
            "smithy.api#documentation": "The desired node kubelet config for all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
          }
        },
        "desiredDisableL4LbFirewallReconciliation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable/Disable L4 LB VPC firewall reconciliation for the cluster."
          }
        },
        "desiredIdentityServiceConfig": {
          "target": "com.gcp.container_v1beta1#IdentityServiceConfig",
          "traits": {
            "smithy.api#documentation": "The desired Identity Service component configuration."
          }
        },
        "desiredSecretManagerConfig": {
          "target": "com.gcp.container_v1beta1#SecretManagerConfig",
          "traits": {
            "smithy.api#documentation": "Enable/Disable Secret Manager Config."
          }
        },
        "desiredNodePoolUpgradeConcurrencyConfig": {
          "target": "com.gcp.container_v1beta1#NodePoolUpgradeConcurrencyConfig",
          "traits": {
            "smithy.api#documentation": "The desired node pool upgrade concurrency configuration."
          }
        },
        "desiredParentProductConfig": {
          "target": "com.gcp.container_v1beta1#ParentProductConfig",
          "traits": {
            "smithy.api#documentation": "The desired parent product config for the cluster."
          }
        },
        "desiredMasterVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Kubernetes version to change the master to. The only valid value is the latest supported version. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version"
          }
        },
        "desiredTpuConfig": {
          "target": "com.gcp.container_v1beta1#TpuConfig",
          "traits": {
            "smithy.api#documentation": "The desired Cloud TPU configuration. This field is deprecated due to the deprecation of 2VM TPU. The end of life date for 2VM TPU is 2025-04-25."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current etag of the cluster. If an etag is provided and does not match the current etag of the cluster, update will be blocked and an ABORTED error will be returned."
          }
        },
        "desiredVerticalPodAutoscaling": {
          "target": "com.gcp.container_v1beta1#VerticalPodAutoscaling",
          "traits": {
            "smithy.api#documentation": "Cluster-level Vertical Pod Autoscaling configuration."
          }
        },
        "desiredNotificationConfig": {
          "target": "com.gcp.container_v1beta1#NotificationConfig",
          "traits": {
            "smithy.api#documentation": "The desired notification configuration."
          }
        },
        "desiredAdditionalIpRangesConfig": {
          "target": "com.gcp.container_v1beta1#DesiredAdditionalIPRangesConfig",
          "traits": {
            "smithy.api#documentation": "The desired config for additional subnetworks attached to the cluster."
          }
        },
        "desiredEnterpriseConfig": {
          "target": "com.gcp.container_v1beta1#DesiredEnterpriseConfig",
          "traits": {
            "smithy.api#documentation": "The desired enterprise configuration for the cluster. Deprecated: GKE Enterprise features are now available without an Enterprise tier."
          }
        },
        "desiredScheduleUpgradeConfig": {
          "target": "com.gcp.container_v1beta1#ScheduleUpgradeConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The desired scheduled upgrades configuration for the cluster."
          }
        },
        "desiredMaster": {
          "target": "com.gcp.container_v1beta1#Master",
          "traits": {
            "smithy.api#documentation": "Configuration for master components."
          }
        },
        "desiredNetworkTierConfig": {
          "target": "com.gcp.container_v1beta1#NetworkTierConfig",
          "traits": {
            "smithy.api#documentation": "The desired network tier configuration for the cluster."
          }
        },
        "desiredNodePoolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The node pool to be upgraded. This field is mandatory if \"desired_node_version\", \"desired_image_family\", \"desired_node_pool_autoscaling\", or \"desired_workload_metadata_config\" is specified and there is more than one node pool on the cluster."
          }
        },
        "desiredPodAutoscaling": {
          "target": "com.gcp.container_v1beta1#PodAutoscaling",
          "traits": {
            "smithy.api#documentation": "The desired config for pod autoscaling."
          }
        },
        "desiredPodSecurityPolicyConfig": {
          "target": "com.gcp.container_v1beta1#PodSecurityPolicyConfig",
          "traits": {
            "smithy.api#documentation": "The desired configuration options for the PodSecurityPolicy feature."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ClusterUpdate describes an update to the cluster. Exactly one update can be applied to a cluster with each request, so at most one field can be provided."
      }
    },
    "com.gcp.container_v1beta1#ClusterUpdateDesiredDatapathProviderEnum": {
      "type": "enum",
      "members": {
        "DATAPATH_PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATAPATH_PROVIDER_UNSPECIFIED"
          }
        },
        "LEGACY_DATAPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEGACY_DATAPATH"
          }
        },
        "ADVANCED_DATAPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVANCED_DATAPATH"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#ClusterUpdateDesiredInTransitEncryptionConfigEnum": {
      "type": "enum",
      "members": {
        "IN_TRANSIT_ENCRYPTION_CONFIG_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_TRANSIT_ENCRYPTION_CONFIG_UNSPECIFIED"
          }
        },
        "IN_TRANSIT_ENCRYPTION_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_TRANSIT_ENCRYPTION_DISABLED"
          }
        },
        "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_TRANSIT_ENCRYPTION_INTER_NODE_TRANSPARENT"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#ClusterUpdateDesiredPrivateIpv6GoogleAccessEnum": {
      "type": "enum",
      "members": {
        "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED"
          }
        },
        "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED"
          }
        },
        "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE"
          }
        },
        "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#ClusterUpdateDesiredStackTypeEnum": {
      "type": "enum",
      "members": {
        "STACK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STACK_TYPE_UNSPECIFIED"
          }
        },
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPV4"
          }
        },
        "IPV4_IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPV4_IPV6"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.container_v1beta1#CompleteIPRotationRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name (project, location, cluster name) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CompleteIPRotationRequest moves the cluster master back into single-IP mode."
      }
    },
    "com.gcp.container_v1beta1#NodeCreationConfig": {
      "type": "structure",
      "members": {
        "nodeCreationMode": {
          "target": "com.gcp.container_v1beta1#NodeCreationConfigNodeCreationModeEnum",
          "traits": {
            "smithy.api#documentation": "The mode of node creation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NodeCreationConfig defines the settings of node creation mode."
      }
    },
    "com.gcp.container_v1beta1#NodeCreationConfigNodeCreationModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "VIA_KUBELET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIA_KUBELET"
          }
        },
        "VIA_CONTROL_PLANE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIA_CONTROL_PLANE"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#QueuedProvisioning": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Denotes that this node pool is QRM specific, meaning nodes can be only obtained through queuing via the Cluster Autoscaler ProvisioningRequest API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QueuedProvisioning defines the queued provisioning used by the node pool."
      }
    },
    "com.gcp.container_v1beta1#K8sBetaAPIConfig": {
      "type": "structure",
      "members": {
        "enabledApis": {
          "target": "com.gcp.container_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "api name, e.g. storage.k8s.io/v1beta1/csistoragecapacities."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kubernetes open source beta apis enabled on the cluster."
      }
    },
    "com.gcp.container_v1beta1#NodeLabels": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.container_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of node label keys and node label values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of node-level [Kubernetes labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels)."
      }
    },
    "com.gcp.container_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.container_v1beta1#UsableSubnetworkSecondaryRange": {
      "type": "structure",
      "members": {
        "rangeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name associated with this subnetwork secondary range, used when adding an alias IP range to a VM instance."
          }
        },
        "status": {
          "target": "com.gcp.container_v1beta1#UsableSubnetworkSecondaryRangeStatusEnum",
          "traits": {
            "smithy.api#documentation": "This field is to determine the status of the secondary range programmably."
          }
        },
        "ipCidrRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The range of IP addresses belonging to this subnetwork secondary range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Secondary IP range of a usable subnetwork."
      }
    },
    "com.gcp.container_v1beta1#UsableSubnetworkSecondaryRangeStatusEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "UNUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNUSED"
          }
        },
        "IN_USE_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_USE_SERVICE"
          }
        },
        "IN_USE_SHAREABLE_POD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_USE_SHAREABLE_POD"
          }
        },
        "IN_USE_MANAGED_POD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_USE_MANAGED_POD"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#HttpCacheControlResponseHeader": {
      "type": "structure",
      "members": {
        "age": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "14.6 response cache age, in seconds since the response is generated"
          }
        },
        "directive": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "14.9 request and response directives"
          }
        },
        "expires": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "14.21 response cache expires, in RFC 1123 date format"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RFC-2616: cache control support"
      }
    },
    "com.gcp.container_v1beta1#LoggingVariantConfig": {
      "type": "structure",
      "members": {
        "variant": {
          "target": "com.gcp.container_v1beta1#LoggingVariantConfigVariantEnum",
          "traits": {
            "smithy.api#documentation": "Logging variant deployed on nodes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LoggingVariantConfig specifies the behaviour of the logging component."
      }
    },
    "com.gcp.container_v1beta1#LoggingVariantConfigVariantEnum": {
      "type": "enum",
      "members": {
        "VARIANT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARIANT_UNSPECIFIED"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "MAX_THROUGHPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX_THROUGHPUT"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#SetNodePoolManagementRequest": {
      "type": "structure",
      "members": {
        "nodePoolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field."
          }
        },
        "management": {
          "target": "com.gcp.container_v1beta1#NodeManagement",
          "traits": {
            "smithy.api#documentation": "Required. NodeManagement configuration for the node pool."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name (project, location, cluster, node pool id) of the node pool to set management properties. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SetNodePoolManagementRequest sets the node management properties of a node pool."
      }
    },
    "com.gcp.container_v1beta1#DesiredAdditionalIPRangesConfig": {
      "type": "structure",
      "members": {
        "additionalIpRangesConfigs": {
          "target": "com.gcp.container_v1beta1#AdditionalIPRangesConfigList",
          "traits": {
            "smithy.api#documentation": "List of additional IP ranges configs where each AdditionalIPRangesConfig corresponds to one subnetwork's IP ranges"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DesiredAdditionalIPRangesConfig is a wrapper used for cluster update operation and contains multiple AdditionalIPRangesConfigs."
      }
    },
    "com.gcp.container_v1beta1#AdditionalIPRangesConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.container_v1beta1#AdditionalIPRangesConfig"
      }
    },
    "com.gcp.container_v1beta1#NodeManagement": {
      "type": "structure",
      "members": {
        "autoUpgrade": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the nodes will be automatically upgraded."
          }
        },
        "autoRepair": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the nodes will be automatically repaired."
          }
        },
        "upgradeOptions": {
          "target": "com.gcp.container_v1beta1#AutoUpgradeOptions",
          "traits": {
            "smithy.api#documentation": "Specifies the Auto Upgrade knobs for the node pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NodeManagement defines the set of node management services turned on for the node pool."
      }
    },
    "com.gcp.container_v1beta1#SecretManagerConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable/Disable Secret Manager Config."
          }
        },
        "rotationConfig": {
          "target": "com.gcp.container_v1beta1#RotationConfig",
          "traits": {
            "smithy.api#documentation": "Rotation config for secret manager."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SecretManagerConfig is config for secret manager enablement."
      }
    },
    "com.gcp.container_v1beta1#RecurringMaintenanceWindow": {
      "type": "structure",
      "members": {
        "delayUntil": {
          "target": "com.gcp.container_v1beta1#Container_Date",
          "traits": {
            "smithy.api#documentation": "Optional. Windows will not be scheduled before that day. Depending on the recurrence, this may be the date the first window appears. Days are measured in the UTC timezone. This setting must be used when INTERVAL>1 or FREQ=WEEKLY/MONTHLY and no BYDAY specified."
          }
        },
        "windowStartTime": {
          "target": "com.gcp.container_v1beta1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Required. Start time of the window on days that it is scheduled, assuming UTC timezone."
          }
        },
        "windowDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Duration of the window."
          }
        },
        "recurrence": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how this window reccurs. For example, to have something repeat every weekday, you'd use: `FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ=DAILY` For the first weekend of every month: `FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU` The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an arbitrary window of time that recurs. Alternative to RecurringTimeWindow, with renamed fields."
      }
    },
    "com.gcp.container_v1beta1#WindowsNodeConfig": {
      "type": "structure",
      "members": {
        "osVersion": {
          "target": "com.gcp.container_v1beta1#WindowsNodeConfigOsVersionEnum",
          "traits": {
            "smithy.api#documentation": "OSVersion specifies the Windows node config to be used on the node."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters that can be configured on Windows nodes. Windows Node Config that define the parameters that will be used to configure the Windows node pool settings."
      }
    },
    "com.gcp.container_v1beta1#WindowsNodeConfigOsVersionEnum": {
      "type": "enum",
      "members": {
        "OS_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_VERSION_UNSPECIFIED"
          }
        },
        "OS_VERSION_LTSC2019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_VERSION_LTSC2019"
          }
        },
        "OS_VERSION_LTSC2022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_VERSION_LTSC2022"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#DnsCacheConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether NodeLocal DNSCache is enabled for this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for NodeLocal DNSCache"
      }
    },
    "com.gcp.container_v1beta1#MaintenancePolicy": {
      "type": "structure",
      "members": {
        "disruptionBudget": {
          "target": "com.gcp.container_v1beta1#DisruptionBudget",
          "traits": {
            "smithy.api#documentation": "Optional. The upgrade disruption budget for the cluster control plane."
          }
        },
        "window": {
          "target": "com.gcp.container_v1beta1#MaintenanceWindow",
          "traits": {
            "smithy.api#documentation": "Specifies the maintenance window in which maintenance may be performed."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hash identifying the version of this policy, so that updates to fields of the policy won't accidentally undo intermediate changes (and so that users of the API unaware of some fields won't accidentally remove other fields). Make a `get()` request to the cluster to get the current resource version and include it with requests to set the policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MaintenancePolicy defines the maintenance policy to be used for the cluster."
      }
    },
    "com.gcp.container_v1beta1#HighScaleCheckpointingConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the High Scale Checkpointing is enabled for this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the High Scale Checkpointing."
      }
    },
    "com.gcp.container_v1beta1#MaintenanceExclusionOptions": {
      "type": "structure",
      "members": {
        "endTimeBehavior": {
          "target": "com.gcp.container_v1beta1#MaintenanceExclusionOptionsEndTimeBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "EndTimeBehavior specifies the behavior of the exclusion end time."
          }
        },
        "scope": {
          "target": "com.gcp.container_v1beta1#MaintenanceExclusionOptionsScopeEnum",
          "traits": {
            "smithy.api#documentation": "Scope specifies the upgrade scope which upgrades are blocked by the exclusion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the Maintenance exclusion option."
      }
    },
    "com.gcp.container_v1beta1#MaintenanceExclusionOptionsEndTimeBehaviorEnum": {
      "type": "enum",
      "members": {
        "END_TIME_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_TIME_BEHAVIOR_UNSPECIFIED"
          }
        },
        "UNTIL_END_OF_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNTIL_END_OF_SUPPORT"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#MaintenanceExclusionOptionsScopeEnum": {
      "type": "enum",
      "members": {
        "NO_UPGRADES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_UPGRADES"
          }
        },
        "NO_MINOR_UPGRADES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_MINOR_UPGRADES"
          }
        },
        "NO_MINOR_OR_NODE_UPGRADES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_MINOR_OR_NODE_UPGRADES"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#CostManagementConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the feature is enabled or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for fine-grained cost management feature."
      }
    },
    "com.gcp.container_v1beta1#AutopilotConversionStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.container_v1beta1#AutopilotConversionStatusStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the conversion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AutopilotConversionStatus represents conversion status."
      }
    },
    "com.gcp.container_v1beta1#AutopilotConversionStatusStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#ILBSubsettingConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables l4 ILB subsetting for this cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ILBSubsettingConfig contains the desired config of L4 Internal LoadBalancer subsetting on this cluster."
      }
    },
    "com.gcp.container_v1beta1#RayClusterMonitoringConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable metrics collection for Ray clusters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RayClusterMonitoringConfig specifies monitoring configuration for Ray clusters."
      }
    },
    "com.gcp.container_v1beta1#SecurityBulletinEvent": {
      "type": "structure",
      "members": {
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The severity of this bulletin as it relates to GKE."
          }
        },
        "affectedSupportedMinors": {
          "target": "com.gcp.container_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The GKE minor versions affected by this vulnerability."
          }
        },
        "resourceTypeAffected": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type (node/control plane) that has the vulnerability. Multiple notifications (1 notification per resource type) will be sent for a vulnerability that affects > 1 resource type."
          }
        },
        "bulletinUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI link to the bulletin on the website for more information."
          }
        },
        "briefDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A brief description of the bulletin. See the bulletin pointed to by the bulletin_uri field for an expanded description."
          }
        },
        "suggestedUpgradeTarget": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This represents a version selected from the patched_versions field that the cluster receiving this notification should most likely want to upgrade to based on its current version. Note that if this notification is being received by a given cluster, it means that this version is currently available as an upgrade target in that cluster's location."
          }
        },
        "mitigatedVersions": {
          "target": "com.gcp.container_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The GKE versions where this vulnerability is mitigated."
          }
        },
        "bulletinId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the bulletin corresponding to the vulnerability."
          }
        },
        "patchedVersions": {
          "target": "com.gcp.container_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The GKE versions where this vulnerability is patched."
          }
        },
        "cveIds": {
          "target": "com.gcp.container_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The CVEs associated with this bulletin."
          }
        },
        "manualStepsRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this field is specified, it means there are manual steps that the user must take to make their clusters safe."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SecurityBulletinEvent is a notification sent to customers when a security bulletin has been posted that they are vulnerable to."
      }
    },
    "com.gcp.container_v1beta1#AutopilotConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Denotes that nodes belonging to this node pool are Autopilot nodes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AutopilotConfig contains configuration of autopilot feature for this node pool."
      }
    },
    "com.gcp.container_v1beta1#ClusterPolicyConfig": {
      "type": "structure",
      "members": {
        "noStandardNodePools": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Denotes preventing standard node pools and requiring only autopilot node pools."
          }
        },
        "noSystemMutation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Denotes that preventing creation and mutation of resources in GKE managed namespaces and cluster-scoped GKE managed resources ."
          }
        },
        "noSystemImpersonation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Denotes preventing impersonation and CSRs for GKE System users."
          }
        },
        "noUnsafeWebhooks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Denotes preventing unsafe webhooks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ClusterPolicyConfig stores the configuration for cluster wide policies."
      }
    },
    "com.gcp.container_v1beta1#BlueGreenInfo": {
      "type": "structure",
      "members": {
        "greenPoolVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of green pool."
          }
        },
        "greenInstanceGroupUrls": {
          "target": "com.gcp.container_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The resource URLs of the [managed instance groups] (/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with green pool."
          }
        },
        "phase": {
          "target": "com.gcp.container_v1beta1#BlueGreenInfoPhaseEnum",
          "traits": {
            "smithy.api#documentation": "Current blue-green upgrade phase."
          }
        },
        "blueInstanceGroupUrls": {
          "target": "com.gcp.container_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The resource URLs of the [managed instance groups] (/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with blue pool."
          }
        },
        "bluePoolDeletionStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time to start deleting blue pool to complete blue-green upgrade, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information relevant to blue-green upgrade."
      }
    },
    "com.gcp.container_v1beta1#BlueGreenInfoPhaseEnum": {
      "type": "enum",
      "members": {
        "PHASE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHASE_UNSPECIFIED"
          }
        },
        "UPDATE_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_STARTED"
          }
        },
        "CREATING_GREEN_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING_GREEN_POOL"
          }
        },
        "CORDONING_BLUE_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORDONING_BLUE_POOL"
          }
        },
        "WAITING_TO_DRAIN_BLUE_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING_TO_DRAIN_BLUE_POOL"
          }
        },
        "DRAINING_BLUE_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAINING_BLUE_POOL"
          }
        },
        "NODE_POOL_SOAKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODE_POOL_SOAKING"
          }
        },
        "DELETING_BLUE_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING_BLUE_POOL"
          }
        },
        "ROLLBACK_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLBACK_STARTED"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#EvictionSignals": {
      "type": "structure",
      "members": {
        "imagefsAvailable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Amount of storage available on filesystem that container runtime uses for storing images layers. If the container filesystem and image filesystem are not separate, then imagefs can store both image layers and writeable layers. Defines the amount of \"imagefs.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. Sample format: \"30%\". Must be >= 15%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
          }
        },
        "nodefsInodesFree": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Amount of inodes available on filesystem that kubelet uses for volumes, daemon logs, etc. Defines the amount of \"nodefs.inodesFree\" signal in kubelet. Default is unset, if not specified in the kubelet config. Linux only. It takses percentage value for now. Sample format: \"30%\". Must be >= 5% and <= 50%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
          }
        },
        "nodefsAvailable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Amount of storage available on filesystem that kubelet uses for volumes, daemon logs, etc. Defines the amount of \"nodefs.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. Sample format: \"30%\". Must be >= 10%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
          }
        },
        "imagefsInodesFree": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Amount of inodes available on filesystem that container runtime uses for storing images layers. Defines the amount of \"imagefs.inodesFree\" signal in kubelet. Default is unset, if not specified in the kubelet config. Linux only. Sample format: \"30%\". Must be >= 5%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
          }
        },
        "memoryAvailable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Memory available (i.e. capacity - workingSet), in bytes. Defines the amount of \"memory.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. Format: positive number + unit, e.g. 100Ki, 10Mi, 5Gi. Valid units are Ki, Mi, Gi. Must be >= 100Mi and <= 50% of the node's memory. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
          }
        },
        "pidAvailable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Amount of PID available for pod allocation. Defines the amount of \"pid.available\" signal in kubelet. Default is unset, if not specified in the kubelet config. Sample format: \"30%\". Must be >= 10%. See https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/#eviction-signals"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Eviction signals are the current state of a particular resource at a specific point in time. The kubelet uses eviction signals to make eviction decisions by comparing the signals to eviction thresholds, which are the minimum amount of the resource that should be available on the node."
      }
    },
    "com.gcp.container_v1beta1#ComplianceStandard": {
      "type": "structure",
      "members": {
        "standard": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the compliance standard."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the details of a compliance standard."
      }
    },
    "com.gcp.container_v1beta1#NodeTaint": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key for taint."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value for taint."
          }
        },
        "effect": {
          "target": "com.gcp.container_v1beta1#NodeTaintEffectEnum",
          "traits": {
            "smithy.api#documentation": "Effect for taint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kubernetes taint is composed of three fields: key, value, and effect. Effect can only be one of three types: NoSchedule, PreferNoSchedule or NoExecute. See [here](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration) for more information, including usage and the valid values."
      }
    },
    "com.gcp.container_v1beta1#NodeTaintEffectEnum": {
      "type": "enum",
      "members": {
        "EFFECT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EFFECT_UNSPECIFIED"
          }
        },
        "NO_SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SCHEDULE"
          }
        },
        "PREFER_NO_SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREFER_NO_SCHEDULE"
          }
        },
        "NO_EXECUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_EXECUTE"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#PodAutoscaling": {
      "type": "structure",
      "members": {
        "hpaProfile": {
          "target": "com.gcp.container_v1beta1#PodAutoscalingHpaProfileEnum",
          "traits": {
            "smithy.api#documentation": "Selected Horizontal Pod Autoscaling profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PodAutoscaling is used for configuration of parameters for workload autoscaling."
      }
    },
    "com.gcp.container_v1beta1#PodAutoscalingHpaProfileEnum": {
      "type": "enum",
      "members": {
        "HPA_PROFILE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HPA_PROFILE_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#AutoprovisioningNodePoolDefaults": {
      "type": "structure",
      "members": {
        "bootDiskKmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": " The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects/[KEY_PROJECT_ID]/locations/[LOCATION]/keyRings/[RING_NAME]/cryptoKeys/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https://cloud.google.com/compute/docs/disks/customer-managed-encryption"
          }
        },
        "minCpuPlatform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. Minimum CPU platform to be used for NAP created node pools. The instance may be scheduled on the specified or newer CPU platform. Applicable values are the friendly names of CPU platforms, such as minCpuPlatform: Intel Haswell or minCpuPlatform: Intel Sandy Bridge. For more information, read [how to specify min CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform). This field is deprecated, min_cpu_platform should be specified using `cloud.google.com/requested-min-cpu-platform` label selector on the pod. To unset the min cpu platform field pass \"automatic\" as field value."
          }
        },
        "management": {
          "target": "com.gcp.container_v1beta1#NodeManagement",
          "traits": {
            "smithy.api#documentation": "NodeManagement configuration for this NodePool."
          }
        },
        "diskType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the disk attached to each node (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') If unspecified, the default disk type is 'pd-standard'"
          }
        },
        "imageType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image type to use for NAP created node. Please see https://cloud.google.com/kubernetes-engine/docs/concepts/node-images for available image types."
          }
        },
        "shieldedInstanceConfig": {
          "target": "com.gcp.container_v1beta1#ShieldedInstanceConfig",
          "traits": {
            "smithy.api#documentation": "Shielded Instance options."
          }
        },
        "upgradeSettings": {
          "target": "com.gcp.container_v1beta1#UpgradeSettings",
          "traits": {
            "smithy.api#documentation": "Upgrade settings control disruption and speed of the upgrade."
          }
        },
        "insecureKubeletReadonlyPortEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. Use NodePoolAutoConfig.NodeKubeletConfig instead."
          }
        },
        "oauthScopes": {
          "target": "com.gcp.container_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https://www.googleapis.com/auth/compute` is required for mounting persistent storage on your nodes. * `https://www.googleapis.com/auth/devstorage.read_only` is required for communicating with **gcr.io** (the [Artifact Registry](https://cloud.google.com/artifact-registry/)). If unspecified, no scopes are added, unless Cloud Logging or Cloud Monitoring are enabled, in which case their required scopes will be added."
          }
        },
        "diskSizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Platform Service Account to be used by the node VMs. Specify the email address of the Service Account; otherwise, if no Service Account is specified, the \"default\" service account is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP."
      }
    },
    "com.gcp.container_v1beta1#NodeReadinessConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the GKE Node Readiness Controller is enabled for this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the GKE Node Readiness Controller."
      }
    },
    "com.gcp.container_v1beta1#AutoMonitoringConfig": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "com.gcp.container_v1beta1#AutoMonitoringConfigScopeEnum",
          "traits": {
            "smithy.api#documentation": "Scope for GKE Workload Auto-Monitoring."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AutoMonitoringConfig defines the configuration for GKE Workload Auto-Monitoring."
      }
    },
    "com.gcp.container_v1beta1#AutoMonitoringConfigScopeEnum": {
      "type": "enum",
      "members": {
        "SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNSPECIFIED"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#GcePersistentDiskCsiDriverConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Compute Engine PD CSI driver is enabled for this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the Compute Engine PD CSI driver."
      }
    },
    "com.gcp.container_v1beta1#IdentityServiceConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable the Identity Service component"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IdentityServiceConfig is configuration for Identity Service which allows customers to use external identity providers with the K8S API"
      }
    },
    "com.gcp.container_v1beta1#DNSConfig": {
      "type": "structure",
      "members": {
        "clusterDnsDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "cluster_dns_domain is the suffix used for all cluster service records."
          }
        },
        "additiveVpcScopeDnsDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The domain used in Additive VPC scope."
          }
        },
        "clusterDns": {
          "target": "com.gcp.container_v1beta1#DNSConfigClusterDnsEnum",
          "traits": {
            "smithy.api#documentation": "cluster_dns indicates which in-cluster DNS provider should be used."
          }
        },
        "clusterDnsScope": {
          "target": "com.gcp.container_v1beta1#DNSConfigClusterDnsScopeEnum",
          "traits": {
            "smithy.api#documentation": "cluster_dns_scope indicates the scope of access to cluster DNS records."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DNSConfig contains the desired set of options for configuring clusterDNS."
      }
    },
    "com.gcp.container_v1beta1#DNSConfigClusterDnsEnum": {
      "type": "enum",
      "members": {
        "PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVIDER_UNSPECIFIED"
          }
        },
        "PLATFORM_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_DEFAULT"
          }
        },
        "CLOUD_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_DNS"
          }
        },
        "KUBE_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KUBE_DNS"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#DNSConfigClusterDnsScopeEnum": {
      "type": "enum",
      "members": {
        "DNS_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_SCOPE_UNSPECIFIED"
          }
        },
        "CLUSTER_SCOPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_SCOPE"
          }
        },
        "VPC_SCOPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_SCOPE"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#CreateNodePoolRequest": {
      "type": "structure",
      "members": {
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent (project, location, cluster name) where the node pool will be created. Specified in the format `projects/*/locations/*/clusters/*`."
          }
        },
        "nodePool": {
          "target": "com.gcp.container_v1beta1#NodePool",
          "traits": {
            "smithy.api#documentation": "Required. The node pool to create."
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the parent field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CreateNodePoolRequest creates a node pool for a cluster."
      }
    },
    "com.gcp.container_v1beta1#Container_Date": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.container_v1beta1#Master": {
      "type": "structure",
      "members": {
        "compatibilityStatus": {
          "target": "com.gcp.container_v1beta1#CompatibilityStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The compatibility status of the control plane. It should be empty if the cluster does not have emulated version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Master is the configuration for components on master."
      }
    },
    "com.gcp.container_v1beta1#AutopilotCompatibilityIssue": {
      "type": "structure",
      "members": {
        "lastObservation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time when this issue was observed."
          }
        },
        "subjects": {
          "target": "com.gcp.container_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The name of the resources which are subject to this issue."
          }
        },
        "incompatibilityType": {
          "target": "com.gcp.container_v1beta1#AutopilotCompatibilityIssueIncompatibilityTypeEnum",
          "traits": {
            "smithy.api#documentation": "The incompatibility type of this issue."
          }
        },
        "constraintType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The constraint type of the issue."
          }
        },
        "documentationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL to a public documentation, which addresses resolving this issue."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the issue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AutopilotCompatibilityIssue contains information about a specific compatibility issue with Autopilot mode."
      }
    },
    "com.gcp.container_v1beta1#AutopilotCompatibilityIssueIncompatibilityTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "INCOMPATIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBILITY"
          }
        },
        "ADDITIONAL_CONFIG_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_CONFIG_REQUIRED"
          }
        },
        "PASSED_WITH_OPTIONAL_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSED_WITH_OPTIONAL_CONFIG"
          }
        }
      }
    },
    "com.gcp.container_v1beta1#LinuxNodeConfig": {
      "type": "structure",
      "members": {
        "transparentHugepageDefrag": {
          "target": "com.gcp.container_v1beta1#LinuxNodeConfigTransparentHugepageDefragEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the transparent hugepage defrag configuration on the node. VM hugepage allocation can be managed by either limiting defragmentation for delayed allocation or skipping it entirely for immediate allocation only. See https://docs.kernel.org/admin-guide/mm/transhuge.html for more details."
          }
        },
        "accurateTimeConfig": {
          "target": "com.gcp.container_v1beta1#AccurateTimeConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The accurate time configuration for the node pool."
          }
        },
        "cgroupMode": {
          "target": "com.gcp.container_v1beta1#LinuxNodeConfigCgroupModeEnum",
          "traits": {
            "smithy.api#documentation": "cgroup_mode specifies the cgroup mode to be used on the node."
          }
        },
        "hugepages": {
          "target": "com.gcp.container_v1beta1#HugepagesConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Amounts for 2M and 1G hugepages"
          }
        },
        "nodeKernelModuleLoading": {
          "target": "com.gcp.container_v1beta1#NodeKernelModuleLoading",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for kernel module loading on nodes. When enabled, the node pool will be provisioned with a Container-Optimized OS image that enforces kernel module signature verification."
          }
        },
        "transparentHugepageEnabled": {
          "target": "com.gcp.container_v1beta1#LinuxNodeConfigTransparentHugepageEnabledEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Transparent hugepage support for anonymous memory can be entirely disabled (mostly for debugging purposes) or only enabled inside MADV_HUGEPAGE regions (to avoid the risk of consuming more memory resources) or enabled system wide. See https://docs.kernel.org/admin-guide/mm/transhuge.html for more details."
          }
        },
        "customNodeInit": {
          "target": "com.gcp.container_v1beta1#CustomNodeInit",
          "traits": {
            "smithy.api#documentation": "Optional. Allow users to run arbitrary bash script or container on the node."
          }
        },
        "swapConfig": {
          "target": "com.gcp.container_v1beta1#SwapConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Enables and configures swap space on nodes. If omitted, swap is disabled."
          }
        },
        "sysctls": {
          "target": "com.gcp.container_v1beta1#StringMap",
          "traits": {
[...]
