{
  "smithy": "2.0",
  "metadata": {
    "service": "datamigration",
    "version": "v1beta1",
    "title": "Database Migration API",
    "baseUrl": "https://datamigration.googleapis.com/"
  },
  "shapes": {
    "com.gcp.datamigration_v1beta1#ConnectionProfile": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\"."
          }
        },
        "error": {
          "target": "com.gcp.datamigration_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. The error details in case of state FAILED."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The connection profile display name."
          }
        },
        "provider": {
          "target": "com.gcp.datamigration_v1beta1#ConnectionProfileProviderEnum",
          "traits": {
            "smithy.api#documentation": "The database provider."
          }
        },
        "labels": {
          "target": "com.gcp.datamigration_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "The resource labels for connection profile to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\"."
          }
        },
        "cloudsql": {
          "target": "com.gcp.datamigration_v1beta1#CloudSqlConnectionProfile",
          "traits": {
            "smithy.api#documentation": "A CloudSQL database connection profile."
          }
        },
        "state": {
          "target": "com.gcp.datamigration_v1beta1#ConnectionProfileStateEnum",
          "traits": {
            "smithy.api#documentation": "The current connection profile state (e.g. DRAFT, READY, or FAILED)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this connection profile resource in the form of projects/{project}/locations/{location}/connectionProfiles/{connectionProfile}."
          }
        },
        "mysql": {
          "target": "com.gcp.datamigration_v1beta1#MySqlConnectionProfile",
          "traits": {
            "smithy.api#documentation": "A MySQL database connection profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A connection profile definition."
      }
    },
    "com.gcp.datamigration_v1beta1#ConnectionProfileProviderEnum": {
      "type": "enum",
      "members": {
        "DATABASE_PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_PROVIDER_UNSPECIFIED"
          }
        },
        "CLOUDSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDSQL"
          }
        },
        "RDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RDS"
          }
        }
      }
    },
    "com.gcp.datamigration_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datamigration_v1beta1#ConnectionProfileStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.datamigration_v1beta1#Policy": {
      "type": "structure",
      "members": {
        "auditConfigs": {
          "target": "com.gcp.datamigration_v1beta1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.datamigration_v1beta1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.datamigration_v1beta1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1beta1#AuditConfig"
      }
    },
    "com.gcp.datamigration_v1beta1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1beta1#Binding"
      }
    },
    "com.gcp.datamigration_v1beta1#PromoteMigrationJobRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for 'PromoteMigrationJob' request."
      }
    },
    "com.gcp.datamigration_v1beta1#ResumeMigrationJobRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for 'ResumeMigrationJob' request."
      }
    },
    "com.gcp.datamigration_v1beta1#Expr": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.datamigration_v1beta1#RetryInfo": {
      "type": "structure",
      "members": {
        "retryDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Clients should wait at least this long between retrying the same request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes when the clients can retry a failed request. Clients could ignore the recommendation here or retry when this information is missing from error responses. It's always recommended that clients should use exponential backoff when retrying. Clients should wait until `retry_delay` amount of time has passed since receiving the error response before retrying. If retrying requests also fail, clients should use an exponential backoff scheme to gradually increase the delay between retries based on `retry_delay`, until either a maximum number of retries have been reached or a maximum retry delay cap has been reached."
      }
    },
    "com.gcp.datamigration_v1beta1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.datamigration_v1beta1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.datamigration_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.datamigration_v1beta1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.datamigration_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datamigration_v1beta1#MigrationJob": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name (URI) of the source connection profile."
          }
        },
        "destinationDatabase": {
          "target": "com.gcp.datamigration_v1beta1#DatabaseType",
          "traits": {
            "smithy.api#documentation": "The database engine type and provider of the destination."
          }
        },
        "type": {
          "target": "com.gcp.datamigration_v1beta1#MigrationJobTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The migration job type."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the migration job resource was last updated. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\"."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the migration job resource was created. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\"."
          }
        },
        "labels": {
          "target": "com.gcp.datamigration_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "The resource labels for migration job to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }`."
          }
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name (URI) of the destination connection profile."
          }
        },
        "state": {
          "target": "com.gcp.datamigration_v1beta1#MigrationJobStateEnum",
          "traits": {
            "smithy.api#documentation": "The current migration job state."
          }
        },
        "sourceDatabase": {
          "target": "com.gcp.datamigration_v1beta1#DatabaseType",
          "traits": {
            "smithy.api#documentation": "The database engine type and provider of the source."
          }
        },
        "dumpPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the dump file in Google Cloud Storage, in the format: (gs://[BUCKET_NAME]/[OBJECT_NAME])."
          }
        },
        "reverseSshConnectivity": {
          "target": "com.gcp.datamigration_v1beta1#ReverseSshConnectivity",
          "traits": {
            "smithy.api#documentation": "The details needed to communicate to the source over Reverse SSH tunnel connectivity."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The duration of the migration job (in seconds). A duration in seconds with up to nine fractional digits, terminated by 's'. Example: \"3.5s\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name (URI) of this migration job resource, in the form of: projects/{project}/locations/{location}/migrationJobs/{migrationJob}."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The migration job display name."
          }
        },
        "staticIpConnectivity": {
          "target": "com.gcp.datamigration_v1beta1#StaticIpConnectivity",
          "traits": {
            "smithy.api#documentation": "static ip connectivity data (default, no additional details needed)."
          }
        },
        "error": {
          "target": "com.gcp.datamigration_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. The error details in case of state FAILED."
          }
        },
        "phase": {
          "target": "com.gcp.datamigration_v1beta1#MigrationJobPhaseEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current migration job phase."
          }
        },
        "vpcPeeringConnectivity": {
          "target": "com.gcp.datamigration_v1beta1#VpcPeeringConnectivity",
          "traits": {
            "smithy.api#documentation": "The details of the VPC network that the source database is located in."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If the migration job is completed, the time when it was completed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Database Migration Service migration job object."
      }
    },
    "com.gcp.datamigration_v1beta1#MigrationJobTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "ONE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_TIME"
          }
        },
        "CONTINUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTINUOUS"
          }
        }
      }
    },
    "com.gcp.datamigration_v1beta1#MigrationJobStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINTENANCE"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STARTED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPING"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTING"
          }
        },
        "RESTARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTARTING"
          }
        },
        "RESUMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESUMING"
          }
        }
      }
    },
    "com.gcp.datamigration_v1beta1#MigrationJobPhaseEnum": {
      "type": "enum",
      "members": {
        "PHASE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHASE_UNSPECIFIED"
          }
        },
        "FULL_DUMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL_DUMP"
          }
        },
        "CDC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CDC"
          }
        },
        "PROMOTE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTE_IN_PROGRESS"
          }
        },
        "WAITING_FOR_SOURCE_WRITES_TO_STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING_FOR_SOURCE_WRITES_TO_STOP"
          }
        },
        "PREPARING_THE_DUMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARING_THE_DUMP"
          }
        }
      }
    },
    "com.gcp.datamigration_v1beta1#DebugInfo": {
      "type": "structure",
      "members": {
        "stackEntries": {
          "target": "com.gcp.datamigration_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The stack trace entries indicating where the error occurred."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional debugging information provided by the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes additional debugging info."
      }
    },
    "com.gcp.datamigration_v1beta1#RestartMigrationJobRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for 'RestartMigrationJob' request."
      }
    },
    "com.gcp.datamigration_v1beta1#QuotaFailure": {
      "type": "structure",
      "members": {
        "violations": {
          "target": "com.gcp.datamigration_v1beta1#QuotaFailureViolationList",
          "traits": {
            "smithy.api#documentation": "Describes all quota violations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes how a quota check failed. For example if a daily limit was exceeded for the calling project, a service could respond with a QuotaFailure detail containing the project id and the description of the quota limit that was exceeded. If the calling project hasn't enabled the service in the developer console, then a service could respond with the project id and set `service_disabled` to true. Also see RetryInfo and Help types for other details about handling a quota failure."
      }
    },
    "com.gcp.datamigration_v1beta1#QuotaFailureViolationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1beta1#QuotaFailureViolation"
      }
    },
    "com.gcp.datamigration_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.datamigration_v1beta1#Help": {
      "type": "structure",
      "members": {
        "links": {
          "target": "com.gcp.datamigration_v1beta1#LinkList",
          "traits": {
            "smithy.api#documentation": "URL(s) pointing to additional information on handling the current error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit."
      }
    },
    "com.gcp.datamigration_v1beta1#LinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1beta1#Link"
      }
    },
    "com.gcp.datamigration_v1beta1#CloudSqlSettings": {
      "type": "structure",
      "members": {
        "userLabels": {
          "target": "com.gcp.datamigration_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "The resource labels for a Cloud SQL instance to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"18kg\", \"count\": \"3\" }`."
          }
        },
        "dataDiskSizeGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The storage capacity available to the database, in GB. The minimum (and default) size is 10GB."
          }
        },
        "rootPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Initial root password."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Platform zone where your Cloud SQL database instance is located."
          }
        },
        "ipConfig": {
          "target": "com.gcp.datamigration_v1beta1#SqlIpConfig",
          "traits": {
            "smithy.api#documentation": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled."
          }
        },
        "storageAutoResizeLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit."
          }
        },
        "rootPasswordSet": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates If this connection profile root password is stored."
          }
        },
        "databaseFlags": {
          "target": "com.gcp.datamigration_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "The database flags passed to the Cloud SQL instance at startup. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }."
          }
        },
        "databaseVersion": {
          "target": "com.gcp.datamigration_v1beta1#CloudSqlSettingsDatabaseVersionEnum",
          "traits": {
            "smithy.api#documentation": "The database engine type and version."
          }
        },
        "activationPolicy": {
          "target": "com.gcp.datamigration_v1beta1#CloudSqlSettingsActivationPolicyEnum",
          "traits": {
            "smithy.api#documentation": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is 'RUNNABLE'. Valid values: 'ALWAYS': The instance is on, and remains so even in the absence of connection requests. `NEVER`: The instance is off; it is not activated, even if a connection request arrives."
          }
        },
        "dataDiskType": {
          "target": "com.gcp.datamigration_v1beta1#CloudSqlSettingsDataDiskTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of storage: `PD_SSD` (default) or `PD_HDD`."
          }
        },
        "autoStorageIncrease": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "[default: ON] If you enable this setting, Cloud SQL checks your available storage every 30 seconds. If the available storage falls below a threshold size, Cloud SQL automatically adds additional storage capacity. If the available storage repeatedly falls below the threshold size, Cloud SQL continues to add storage until it reaches the maximum of 30 TB."
          }
        },
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tier (or machine type) for this instance, for example: `db-n1-standard-1` (MySQL instances). For more information, see [Cloud SQL Instance Settings](https://cloud.google.com/sql/docs/mysql/instance-settings)."
          }
        },
        "sourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Database Migration Service source connection profile ID, in the format: `projects/my_project_name/locations/us-central1/connectionProfiles/connection_profile_ID`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for creating a Cloud SQL database instance."
      }
    },
    "com.gcp.datamigration_v1beta1#CloudSqlSettingsDatabaseVersionEnum": {
      "type": "enum",
      "members": {
        "SQL_DATABASE_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_DATABASE_VERSION_UNSPECIFIED"
          }
        },
        "MYSQL_5_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_5_6"
          }
        },
        "MYSQL_5_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_5_7"
          }
        },
        "MYSQL_8_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0"
          }
        }
      }
    },
    "com.gcp.datamigration_v1beta1#CloudSqlSettingsActivationPolicyEnum": {
      "type": "enum",
      "members": {
        "SQL_ACTIVATION_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_ACTIVATION_POLICY_UNSPECIFIED"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEVER"
          }
        }
      }
    },
    "com.gcp.datamigration_v1beta1#CloudSqlSettingsDataDiskTypeEnum": {
      "type": "enum",
      "members": {
        "SQL_DATA_DISK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_DATA_DISK_TYPE_UNSPECIFIED"
          }
        },
        "PD_SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PD_SSD"
          }
        },
        "PD_HDD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PD_HDD"
          }
        }
      }
    },
    "com.gcp.datamigration_v1beta1#StartMigrationJobRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for 'StartMigrationJob' request."
      }
    },
    "com.gcp.datamigration_v1beta1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.datamigration_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.datamigration_v1beta1#VmCreationConfig": {
      "type": "structure",
      "members": {
        "vmMachineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. VM instance machine type to create."
          }
        },
        "vmZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Platform zone to create the VM in."
          }
        },
        "subnet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subnet name the vm needs to be created in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VM creation configuration message"
      }
    },
    "com.gcp.datamigration_v1beta1#LocalizedMessage": {
      "type": "structure",
      "members": {
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized error message in the above locale."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error."
      }
    },
    "com.gcp.datamigration_v1beta1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.datamigration_v1beta1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.datamigration_v1beta1#ListConnectionProfilesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "connectionProfiles": {
          "target": "com.gcp.datamigration_v1beta1#ConnectionProfileList",
          "traits": {
            "smithy.api#documentation": "The response list of connection profiles."
          }
        },
        "unreachable": {
          "target": "com.gcp.datamigration_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for 'ListConnectionProfiles' request."
      }
    },
    "com.gcp.datamigration_v1beta1#ConnectionProfileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1beta1#ConnectionProfile"
      }
    },
    "com.gcp.datamigration_v1beta1#PreconditionFailure": {
      "type": "structure",
      "members": {
        "violations": {
          "target": "com.gcp.datamigration_v1beta1#PreconditionFailureViolationList",
          "traits": {
            "smithy.api#documentation": "Describes all precondition violations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message."
      }
    },
    "com.gcp.datamigration_v1beta1#PreconditionFailureViolationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1beta1#PreconditionFailureViolation"
      }
    },
    "com.gcp.datamigration_v1beta1#CloudSqlConnectionProfile": {
      "type": "structure",
      "members": {
        "publicIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Cloud SQL database instance's public IP."
          }
        },
        "cloudSqlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Cloud SQL instance ID that this connection profile is associated with."
          }
        },
        "privateIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Cloud SQL database instance's private IP."
          }
        },
        "settings": {
          "target": "com.gcp.datamigration_v1beta1#CloudSqlSettings",
          "traits": {
            "smithy.api#documentation": "Immutable. Metadata used to create the destination Cloud SQL database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies required connection parameters, and, optionally, the parameters required to create a Cloud SQL destination database instance."
      }
    },
    "com.gcp.datamigration_v1beta1#QuotaFailureViolation": {
      "type": "structure",
      "members": {
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subject on which the quota check failed. For example, \"clientip:\" or \"project:\"."
          }
        },
        "quotaValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The enforced quota value at the time of the `QuotaFailure`. For example, if the enforced quota value at the time of the `QuotaFailure` on the number of CPUs is \"10\", then the value of this field would reflect this quantity."
          }
        },
        "futureQuotaValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new quota value being rolled out at the time of the violation. At the completion of the rollout, this value will be enforced in place of quota_value. If no rollout is in progress at the time of the violation, this field is not set. For example, if at the time of the violation a rollout is in progress changing the number of CPUs quota from 10 to 20, 20 would be the value of this field."
          }
        },
        "quotaMetric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The metric of the violated quota. A quota metric is a named counter to measure usage, such as API requests or CPUs. When an activity occurs in a service, such as Virtual Machine allocation, one or more quota metrics may be affected. For example, \"compute.googleapis.com/cpus_per_vm_family\", \"storage.googleapis.com/internet_egress_bandwidth\"."
          }
        },
        "quotaDimensions": {
          "target": "com.gcp.datamigration_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "The dimensions of the violated quota. Every non-global quota is enforced on a set of dimensions. While quota metric defines what to count, the dimensions specify for what aspects the counter should be increased. For example, the quota \"CPUs per region per VM family\" enforces a limit on the metric \"compute.googleapis.com/cpus_per_vm_family\" on dimensions \"region\" and \"vm_family\". And if the violation occurred in region \"us-central1\" and for VM family \"n1\", the quota_dimensions would be, { \"region\": \"us-central1\", \"vm_family\": \"n1\", } When a quota is enforced globally, the quota_dimensions would always be empty."
          }
        },
        "apiService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API Service from which the `QuotaFailure.Violation` originates. In some cases, Quota issues originate from an API Service other than the one that was called. In other words, a dependency of the called API Service could be the cause of the `QuotaFailure`, and this field would have the dependency API service name. For example, if the called API is Kubernetes Engine API (container.googleapis.com), and a quota violation occurs in the Kubernetes Engine API itself, this field would be \"container.googleapis.com\". On the other hand, if the quota violation occurs when the Kubernetes Engine API creates VMs in the Compute Engine API (compute.googleapis.com), this field would be \"compute.googleapis.com\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of how the quota check failed. Clients can use this description to find more about the quota configuration in the service's public documentation, or find the relevant quota limit to adjust through developer console. For example: \"Service disabled\" or \"Daily Limit for read operations exceeded\"."
          }
        },
        "quotaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the violated quota. Also know as \"limit name\", this is the unique identifier of a quota in the context of an API service. For example, \"CPUS-PER-VM-FAMILY-per-project-region\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message type used to describe a single quota violation. For example, a daily quota or a custom quota that was exceeded."
      }
    },
    "com.gcp.datamigration_v1beta1#PreconditionFailureViolation": {
      "type": "structure",
      "members": {
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message type used to describe a single precondition failure."
      }
    },
    "com.gcp.datamigration_v1beta1#VerifyMigrationJobRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for 'VerifyMigrationJob' request."
      }
    },
    "com.gcp.datamigration_v1beta1#ErrorInfo": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason of the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\"."
          }
        },
        "metadata": {
          "target": "com.gcp.datamigration_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }"
      }
    },
    "com.gcp.datamigration_v1beta1#VmSelectionConfig": {
      "type": "structure",
      "members": {
        "vmZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Google Cloud Platform zone the VM is located."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VM selection configuration message"
      }
    },
    "com.gcp.datamigration_v1beta1#SqlAclEntry": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example: `2012-11-15T16:19:00.094Z`."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The time-to-leave of this access control entry."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A label to identify this entry."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The allowlisted value for the access control list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An entry for an Access Control list."
      }
    },
    "com.gcp.datamigration_v1beta1#StaticIpConnectivity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The source database will allow incoming connections from the destination database's public IP. You can retrieve the Cloud SQL instance's public IP from the Cloud SQL console or using Cloud SQL APIs. No additional configuration is required."
      }
    },
    "com.gcp.datamigration_v1beta1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.datamigration_v1beta1#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.datamigration_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.datamigration_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.datamigration_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.datamigration_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.datamigration_v1beta1#SshScript": {
      "type": "structure",
      "members": {
        "script": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ssh configuration script."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for 'GenerateSshScript' request."
      }
    },
    "com.gcp.datamigration_v1beta1#SslConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.datamigration_v1beta1#SslConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The ssl config type according to 'client_key', 'client_certificate' and 'ca_certificate'."
          }
        },
        "caCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The x509 PEM-encoded certificate of the CA that signed the source database server's certificate. The replica will use this certificate to verify it's connecting to the right host."
          }
        },
        "clientKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The unencrypted PKCS#1 or PKCS#8 PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' field is mandatory."
          }
        },
        "clientCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The x509 PEM-encoded certificate that will be used by the replica to authenticate against the source database server.If this field is used then the 'client_key' field is mandatory."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SSL configuration information."
      }
    },
    "com.gcp.datamigration_v1beta1#SslConfigTypeEnum": {
      "type": "enum",
      "members": {
        "SSL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSL_TYPE_UNSPECIFIED"
          }
        },
        "SERVER_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER_ONLY"
          }
        },
        "SERVER_CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER_CLIENT"
          }
        }
      }
    },
    "com.gcp.datamigration_v1beta1#MigrationJobVerificationError": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "com.gcp.datamigration_v1beta1#MigrationJobVerificationErrorErrorCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. An instance of ErrorCode specifying the error that occurred."
          }
        },
        "errorDetailMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A specific detailed error message, if supplied by the engine."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A formatted message with further details about the error and a CTA."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error message of a verification Migration job."
      }
    },
    "com.gcp.datamigration_v1beta1#MigrationJobVerificationErrorErrorCodeEnum": {
      "type": "enum",
      "members": {
        "ERROR_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_UNSPECIFIED"
          }
        },
        "CONNECTION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_FAILURE"
          }
        },
        "AUTHENTICATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_FAILURE"
          }
        },
        "INVALID_CONNECTION_PROFILE_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_CONNECTION_PROFILE_CONFIG"
          }
        },
        "VERSION_INCOMPATIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERSION_INCOMPATIBILITY"
          }
        },
        "CONNECTION_PROFILE_TYPES_INCOMPATIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_PROFILE_TYPES_INCOMPATIBILITY"
          }
        },
        "UNSUPPORTED_GTID_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_GTID_MODE"
          }
        },
        "UNSUPPORTED_DEFINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_DEFINER"
          }
        },
        "CANT_RESTART_RUNNING_MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANT_RESTART_RUNNING_MIGRATION"
          }
        },
        "TABLES_WITH_LIMITED_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLES_WITH_LIMITED_SUPPORT"
          }
        },
        "UNSUPPORTED_DATABASE_LOCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_DATABASE_LOCALE"
          }
        },
        "UNSUPPORTED_DATABASE_FDW_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_DATABASE_FDW_CONFIG"
          }
        },
        "ERROR_RDBMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_RDBMS"
          }
        },
        "SOURCE_SIZE_EXCEEDS_THRESHOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_SIZE_EXCEEDS_THRESHOLD"
          }
        },
        "EXISTING_CONFLICTING_DATABASES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXISTING_CONFLICTING_DATABASES"
          }
        },
        "PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE"
          }
        },
        "EXISTING_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXISTING_DATA"
          }
        },
        "SOURCE_MAX_SUBSCRIPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_MAX_SUBSCRIPTIONS"
          }
        }
      }
    },
    "com.gcp.datamigration_v1beta1#RequestInfo": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs."
          }
        },
        "servingData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback."
      }
    },
    "com.gcp.datamigration_v1beta1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.datamigration_v1beta1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.datamigration_v1beta1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1beta1#Location"
      }
    },
    "com.gcp.datamigration_v1beta1#Location": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "labels": {
          "target": "com.gcp.datamigration_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.datamigration_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.datamigration_v1beta1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.datamigration_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "condition": {
          "target": "com.gcp.datamigration_v1beta1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.datamigration_v1beta1#MySqlConnectionProfile": {
      "type": "structure",
      "members": {
        "ssl": {
          "target": "com.gcp.datamigration_v1beta1#SslConfig",
          "traits": {
            "smithy.api#documentation": "SSL configuration for the destination to connect to the source database."
          }
        },
        "cloudSqlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the source is a Cloud SQL database, use this field to provide the Cloud SQL instance ID of the source."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The IP or hostname of the source MySQL database."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The username that Database Migration Service will use to connect to the database. The value is encrypted when stored in Database Migration Service."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The password for the user that Database Migration Service will be using to connect to the database. This field is not returned on request, and the value is encrypted when stored in Database Migration Service."
          }
        },
        "passwordSet": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates If this connection profile password is stored."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The network port of the source MySQL database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies connection parameters required specifically for MySQL databases."
      }
    },
    "com.gcp.datamigration_v1beta1#GoogleCloudClouddmsV1beta1OperationMetadata": {
      "type": "structure",
      "members": {
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.datamigration_v1beta1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.datamigration_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.datamigration_v1beta1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.datamigration_v1beta1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1beta1#Operation"
      }
    },
    "com.gcp.datamigration_v1beta1#ListMigrationJobsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.datamigration_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "migrationJobs": {
          "target": "com.gcp.datamigration_v1beta1#MigrationJobList",
          "traits": {
            "smithy.api#documentation": "The list of migration jobs objects."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for 'ListMigrationJobs' request."
      }
    },
    "com.gcp.datamigration_v1beta1#MigrationJobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1beta1#MigrationJob"
      }
    },
    "com.gcp.datamigration_v1beta1#Datamigration_BadRequest": {
      "type": "structure",
      "members": {
        "fieldViolations": {
          "target": "com.gcp.datamigration_v1beta1#FieldViolationList",
          "traits": {
            "smithy.api#documentation": "Describes all violations in a client request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request."
      }
    },
    "com.gcp.datamigration_v1beta1#FieldViolationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1beta1#FieldViolation"
      }
    },
    "com.gcp.datamigration_v1beta1#Link": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes what the link offers."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the link."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a URL link."
      }
    },
    "com.gcp.datamigration_v1beta1#ResourceInfo": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\"."
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The owner of the resource (optional). For example, \"user:\" or \"project:\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the resource that is being accessed."
      }
    },
    "com.gcp.datamigration_v1beta1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.datamigration_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.datamigration_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1beta1#DocumentMap"
      }
    },
    "com.gcp.datamigration_v1beta1#DatabaseType": {
      "type": "structure",
      "members": {
        "engine": {
          "target": "com.gcp.datamigration_v1beta1#DatabaseTypeEngineEnum",
          "traits": {
            "smithy.api#documentation": "The database engine."
          }
        },
        "provider": {
          "target": "com.gcp.datamigration_v1beta1#DatabaseTypeProviderEnum",
          "traits": {
            "smithy.api#documentation": "The database provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message defining the database engine and provider."
      }
    },
    "com.gcp.datamigration_v1beta1#DatabaseTypeEngineEnum": {
      "type": "enum",
      "members": {
        "DATABASE_ENGINE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ENGINE_UNSPECIFIED"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL"
          }
        }
      }
    },
    "com.gcp.datamigration_v1beta1#DatabaseTypeProviderEnum": {
      "type": "enum",
      "members": {
        "DATABASE_PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_PROVIDER_UNSPECIFIED"
          }
        },
        "CLOUDSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDSQL"
          }
        },
        "RDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RDS"
          }
        }
      }
    },
    "com.gcp.datamigration_v1beta1#FieldViolation": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of why the request element is bad."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason of the field-level error. This is a constant value that identifies the proximate cause of the field-level error. It should uniquely identify the type of the FieldViolation within the scope of the google.rpc.ErrorInfo.domain. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
          }
        },
        "localizedMessage": {
          "target": "com.gcp.datamigration_v1beta1#LocalizedMessage",
          "traits": {
            "smithy.api#documentation": "Provides a localized error message for field-level errors that is safe to return to the API consumer."
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A path that leads to a field in the request body. The value will be a sequence of dot-separated identifiers that identify a protocol buffer field. Consider the following: message CreateContactRequest { message EmailAddress { enum Type { TYPE_UNSPECIFIED = 0; HOME = 1; WORK = 2; } optional string email = 1; repeated EmailType type = 2; } string full_name = 1; repeated EmailAddress email_addresses = 2; } In this example, in proto `field` could take one of the following values: * `full_name` for a violation in the `full_name` value * `email_addresses[0].email` for a violation in the `email` field of the first `email_addresses` message * `email_addresses[2].type[1]` for a violation in the second `type` value in the third `email_addresses` message. In JSON, the same values are represented as: * `fullName` for a violation in the `fullName` value * `emailAddresses[0].email` for a violation in the `email` field of the first `emailAddresses` message * `emailAddresses[2].type[1]` for a violation in the second `type` value in the third `emailAddresses` message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message type used to describe a single bad request field."
      }
    },
    "com.gcp.datamigration_v1beta1#StopMigrationJobRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for 'StopMigrationJob' request."
      }
    },
    "com.gcp.datamigration_v1beta1#AuditConfig": {
      "type": "structure",
      "members": {
        "auditLogConfigs": {
          "target": "com.gcp.datamigration_v1beta1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.datamigration_v1beta1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1beta1#AuditLogConfig"
      }
    },
    "com.gcp.datamigration_v1beta1#VpcPeeringConnectivity": {
      "type": "structure",
      "members": {
        "vpc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the VPC network to peer with the Cloud SQL private network."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of the VPC where the source database is located in Google Cloud. We will use this information to set up the VPC peering connection between Cloud SQL and this VPC."
      }
    },
    "com.gcp.datamigration_v1beta1#GenerateSshScriptRequest": {
      "type": "structure",
      "members": {
        "vm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Bastion VM Instance name to use or to create."
          }
        },
        "vmPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The port that will be open on the bastion host"
          }
        },
        "vmSelectionConfig": {
          "target": "com.gcp.datamigration_v1beta1#VmSelectionConfig",
          "traits": {
            "smithy.api#documentation": "The VM selection configuration"
          }
        },
        "vmCreationConfig": {
          "target": "com.gcp.datamigration_v1beta1#VmCreationConfig",
          "traits": {
            "smithy.api#documentation": "The VM creation configuration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for 'GenerateSshScript' request."
      }
    },
    "com.gcp.datamigration_v1beta1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.datamigration_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.datamigration_v1beta1#SqlIpConfig": {
      "type": "structure",
      "members": {
        "authorizedNetworks": {
          "target": "com.gcp.datamigration_v1beta1#SqlAclEntryList",
          "traits": {
            "smithy.api#documentation": "The list of external networks that are allowed to connect to the instance using the IP. See https://en.wikipedia.org/wiki/CIDR_notation#CIDR_notation, also known as 'slash' notation (e.g. `192.168.100.0/24`)."
          }
        },
        "enableIpv4": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the instance is assigned a public IP address or not."
          }
        },
        "privateNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`. This setting can be updated, but it cannot be removed after it is set."
          }
        },
        "requireSsl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether SSL connections over IP should be enforced or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP Management configuration."
      }
    },
    "com.gcp.datamigration_v1beta1#SqlAclEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datamigration_v1beta1#SqlAclEntry"
      }
    },
    "com.gcp.datamigration_v1beta1#ReverseSshConnectivity": {
      "type": "structure",
      "members": {
        "vmIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The IP of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel."
          }
        },
        "vmPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The forwarding port of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel."
          }
        },
        "vm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel."
          }
        },
        "vpc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the VPC to peer with the Cloud SQL private network."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details needed to configure a reverse SSH tunnel between the source and destination databases. These details will be used when calling the generateSshScript method (see https://cloud.google.com/database-migration/docs/reference/rest/v1beta1/projects.locations.migrationJobs/generateSshScript) to produce the script that will help set up the reverse SSH tunnel, and to set up the VPC peering between the Cloud SQL private network and the VPC."
      }
    },
    "com.gcp.datamigration_v1beta1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.datamigration_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.datamigration_v1beta1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.datamigration_v1beta1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.datamigration_v1beta1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.datamigration_v1beta1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.datamigration_v1beta1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.datamigration_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.datamigration_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.datamigration_v1beta1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.datamigration_v1beta1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.datamigration_v1beta1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.datamigration_v1beta1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.datamigration_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.datamigration_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.datamigration_v1beta1#DeleteProjectsLocationsConnectionProfilesRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
[...]
