{
  "smithy": "2.0",
  "metadata": {
    "service": "datastore",
    "version": "v1beta3",
    "title": "Cloud Datastore API",
    "baseUrl": "https://datastore.googleapis.com/"
  },
  "shapes": {
    "com.gcp.datastore_v1beta3#GqlQueryParameter": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A query cursor. Query cursors are returned in query result batches."
          }
        },
        "value": {
          "target": "com.gcp.datastore_v1beta3#Value",
          "traits": {
            "smithy.api#documentation": "A value parameter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A binding parameter for a GQL query."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata": {
      "type": "structure",
      "members": {
        "migrationState": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadataMigrationStateEnum",
          "traits": {
            "smithy.api#documentation": "The current state of migration from Cloud Datastore to Cloud Firestore in Datastore mode."
          }
        },
        "migrationStep": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadataMigrationStepEnum",
          "traits": {
            "smithy.api#documentation": "The current step of migration from Cloud Datastore to Cloud Firestore in Datastore mode."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for Datastore to Firestore migration operations. The DatastoreFirestoreMigration operation is not started by the end-user via an explicit \"creation\" method. This is an intentional deviation from the LRO design pattern. This singleton resource can be accessed at: \"projects/{project_id}/operations/datastore-firestore-migration\""
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadataMigrationStateEnum": {
      "type": "enum",
      "members": {
        "MIGRATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATION_STATE_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadataMigrationStepEnum": {
      "type": "enum",
      "members": {
        "MIGRATION_STEP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATION_STEP_UNSPECIFIED"
          }
        },
        "PREPARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARE"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START"
          }
        },
        "APPLY_WRITES_SYNCHRONOUSLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLY_WRITES_SYNCHRONOUSLY"
          }
        },
        "COPY_AND_VERIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY_AND_VERIFY"
          }
        },
        "REDIRECT_EVENTUALLY_CONSISTENT_READS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_EVENTUALLY_CONSISTENT_READS"
          }
        },
        "REDIRECT_STRONGLY_CONSISTENT_READS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_STRONGLY_CONSISTENT_READS"
          }
        },
        "REDIRECT_WRITES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_WRITES"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#LatLng": {
      "type": "structure",
      "members": {
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
      }
    },
    "com.gcp.datastore_v1beta3#RunQueryResponse": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.gcp.datastore_v1beta3#QueryResultBatch",
          "traits": {
            "smithy.api#documentation": "A batch of query results. This is always present unless running a query under explain-only mode: RunQueryRequest.explain_options was provided and ExplainOptions.analyze was set to false."
          }
        },
        "query": {
          "target": "com.gcp.datastore_v1beta3#Query",
          "traits": {
            "smithy.api#documentation": "The parsed form of the `GqlQuery` from the request, if it was set."
          }
        },
        "explainMetrics": {
          "target": "com.gcp.datastore_v1beta3#ExplainMetrics",
          "traits": {
            "smithy.api#documentation": "Query explain metrics. This is only present when the RunQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Datastore.RunQuery."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1Progress": {
      "type": "structure",
      "members": {
        "workEstimated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable."
          }
        },
        "workCompleted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of work that has been completed. Note that this may be greater than work_estimated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Measures the progress of a particular metric."
      }
    },
    "com.gcp.datastore_v1beta3#AggregationResultBatch": {
      "type": "structure",
      "members": {
        "aggregationResults": {
          "target": "com.gcp.datastore_v1beta3#AggregationResultList",
          "traits": {
            "smithy.api#documentation": "The aggregation results for this batch."
          }
        },
        "moreResults": {
          "target": "com.gcp.datastore_v1beta3#AggregationResultBatchMoreResultsEnum",
          "traits": {
            "smithy.api#documentation": "The state of the query after the current batch. Only COUNT(*) aggregations are supported in the initial launch. Therefore, expected result type is limited to `NO_MORE_RESULTS`."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Read timestamp this batch was returned from. In a single transaction, subsequent query result batches for the same query can have a greater timestamp. Each batch's read timestamp is valid for all preceding batches."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A batch of aggregation results produced by an aggregation query."
      }
    },
    "com.gcp.datastore_v1beta3#AggregationResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1beta3#AggregationResult"
      }
    },
    "com.gcp.datastore_v1beta3#AggregationResultBatchMoreResultsEnum": {
      "type": "enum",
      "members": {
        "MORE_RESULTS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MORE_RESULTS_TYPE_UNSPECIFIED"
          }
        },
        "NOT_FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FINISHED"
          }
        },
        "MORE_RESULTS_AFTER_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MORE_RESULTS_AFTER_LIMIT"
          }
        },
        "MORE_RESULTS_AFTER_CURSOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MORE_RESULTS_AFTER_CURSOR"
          }
        },
        "NO_MORE_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_MORE_RESULTS"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1EntityFilter": {
      "type": "structure",
      "members": {
        "kinds": {
          "target": "com.gcp.datastore_v1beta3#StringList",
          "traits": {
            "smithy.api#documentation": "If empty, then this represents all kinds."
          }
        },
        "namespaceIds": {
          "target": "com.gcp.datastore_v1beta3#StringList",
          "traits": {
            "smithy.api#documentation": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']"
      }
    },
    "com.gcp.datastore_v1beta3#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datastore_v1beta3#ReadOnly": {
      "type": "structure",
      "members": {
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reads entities at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options specific to read-only transactions."
      }
    },
    "com.gcp.datastore_v1beta3#EntityResult": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the entity, a strictly positive number that monotonically increases with changes to the entity. This field is set for `FULL` entity results. For missing entities in `LookupResponse`, this is the version of the snapshot that was used to look up the entity, and it is always set except for eventually consistent reads."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the entity was created. This field is set for `FULL` entity results. If this entity is missing, this field will not be set."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the entity was last changed. This field is set for `FULL` entity results. If this entity is missing, this field will not be set."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A cursor that points to the position after the result entity. Set only when the `EntityResult` is part of a `QueryResultBatch` message."
          }
        },
        "entity": {
          "target": "com.gcp.datastore_v1beta3#Entity",
          "traits": {
            "smithy.api#documentation": "The resulting entity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of fetching an entity from Datastore."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1RedirectWritesStepDetails": {
      "type": "structure",
      "members": {
        "concurrencyMode": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1RedirectWritesStepDetailsConcurrencyModeEnum",
          "traits": {
            "smithy.api#documentation": "The concurrency mode for this database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for the `REDIRECT_WRITES` step."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1RedirectWritesStepDetailsConcurrencyModeEnum": {
      "type": "enum",
      "members": {
        "CONCURRENCY_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONCURRENCY_MODE_UNSPECIFIED"
          }
        },
        "PESSIMISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PESSIMISTIC"
          }
        },
        "OPTIMISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMISTIC"
          }
        },
        "OPTIMISTIC_WITH_ENTITY_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMISTIC_WITH_ENTITY_GROUPS"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#PropertyReference": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A reference to a property. Requires: * MUST be a dot-delimited (`.`) string of segments, where each segment conforms to entity property name limitations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a property relative to the kind expressions."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1ExportEntitiesMetadata": {
      "type": "structure",
      "members": {
        "common": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1CommonMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata common to all Datastore Admin operations."
          }
        },
        "entityFilter": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1EntityFilter",
          "traits": {
            "smithy.api#documentation": "Description of which entities are being exported."
          }
        },
        "progressEntities": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of entities processed."
          }
        },
        "outputUrlPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url."
          }
        },
        "progressBytes": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of bytes processed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for ExportEntities operations."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1MigrationProgressEvent": {
      "type": "structure",
      "members": {
        "step": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1MigrationProgressEventStepEnum",
          "traits": {
            "smithy.api#documentation": "The step that is starting. An event with step set to `START` indicates that the migration has been reverted back to the initial pre-migration state."
          }
        },
        "prepareStepDetails": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1PrepareStepDetails",
          "traits": {
            "smithy.api#documentation": "Details for the `PREPARE` step."
          }
        },
        "redirectWritesStepDetails": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1RedirectWritesStepDetails",
          "traits": {
            "smithy.api#documentation": "Details for the `REDIRECT_WRITES` step."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event signifying the start of a new step in a [migration from Cloud Datastore to Cloud Firestore in Datastore mode](https://cloud.google.com/datastore/docs/upgrade-to-firestore)."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1MigrationProgressEventStepEnum": {
      "type": "enum",
      "members": {
        "MIGRATION_STEP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATION_STEP_UNSPECIFIED"
          }
        },
        "PREPARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARE"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START"
          }
        },
        "APPLY_WRITES_SYNCHRONOUSLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLY_WRITES_SYNCHRONOUSLY"
          }
        },
        "COPY_AND_VERIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY_AND_VERIFY"
          }
        },
        "REDIRECT_EVENTUALLY_CONSISTENT_READS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_EVENTUALLY_CONSISTENT_READS"
          }
        },
        "REDIRECT_STRONGLY_CONSISTENT_READS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_STRONGLY_CONSISTENT_READS"
          }
        },
        "REDIRECT_WRITES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_WRITES"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#ReserveIdsRequest": {
      "type": "structure",
      "members": {
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database."
          }
        },
        "keys": {
          "target": "com.gcp.datastore_v1beta3#KeyList",
          "traits": {
            "smithy.api#documentation": "Required. A list of keys with complete key paths whose numeric IDs should not be auto-allocated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Datastore.ReserveIds."
      }
    },
    "com.gcp.datastore_v1beta3#KeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1beta3#Key"
      }
    },
    "com.gcp.datastore_v1beta3#FindNearest": {
      "type": "structure",
      "members": {
        "distanceMeasure": {
          "target": "com.gcp.datastore_v1beta3#FindNearestDistanceMeasureEnum",
          "traits": {
            "smithy.api#documentation": "Required. The Distance Measure to use, required."
          }
        },
        "distanceResultProperty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional name of the field to output the result of the vector distance calculation. Must conform to entity property limitations."
          }
        },
        "vectorProperty": {
          "target": "com.gcp.datastore_v1beta3#PropertyReference",
          "traits": {
            "smithy.api#documentation": "Required. An indexed vector property to search upon. Only documents which contain vectors whose dimensionality match the query_vector can be returned."
          }
        },
        "queryVector": {
          "target": "com.gcp.datastore_v1beta3#Value",
          "traits": {
            "smithy.api#documentation": "Required. The query vector that we are searching on. Must be a vector of no more than 2048 dimensions."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The number of nearest neighbors to return. Must be a positive integer of no more than 100."
          }
        },
        "distanceThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Option to specify a threshold for which no less similar documents will be returned. The behavior of the specified `distance_measure` will affect the meaning of the distance threshold. Since DOT_PRODUCT distances increase when the vectors are more similar, the comparison is inverted. * For EUCLIDEAN, COSINE: WHERE distance <= distance_threshold * For DOT_PRODUCT: WHERE distance >= distance_threshold"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Nearest Neighbors search config. The ordering provided by FindNearest supersedes the order_by stage. If multiple documents have the same vector distance, the returned document order is not guaranteed to be stable between queries."
      }
    },
    "com.gcp.datastore_v1beta3#FindNearestDistanceMeasureEnum": {
      "type": "enum",
      "members": {
        "DISTANCE_MEASURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTANCE_MEASURE_UNSPECIFIED"
          }
        },
        "EUCLIDEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUCLIDEAN"
          }
        },
        "COSINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COSINE"
          }
        },
        "DOT_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOT_PRODUCT"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1Progress": {
      "type": "structure",
      "members": {
        "workEstimated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable."
          }
        },
        "workCompleted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of work that has been completed. Note that this may be greater than work_estimated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Measures the progress of a particular metric."
      }
    },
    "com.gcp.datastore_v1beta3#PropertyTransform": {
      "type": "structure",
      "members": {
        "minimum": {
          "target": "com.gcp.datastore_v1beta3#Value",
          "traits": {
            "smithy.api#documentation": "Sets the property to the minimum of its current value and the given value. This must be an integer or a double value. If the property is not an integer or double, or if the property does not yet exist, the transformation will set the property to the input value. If a minimum operation is applied where the property and the input value are of mixed types (that is - one is an integer and one is a double) the property takes on the type of the smaller operand. If the operands are equivalent (e.g. 3 and 3.0), the property does not change. 0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and zero input value is always the stored value. The minimum of any numeric value x and NaN is NaN."
          }
        },
        "appendMissingElements": {
          "target": "com.gcp.datastore_v1beta3#ArrayValue",
          "traits": {
            "smithy.api#documentation": "Appends the given elements in order if they are not already present in the current property value. If the property is not an array, or if the property does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and the null value is equal to the null value. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform result will be the null value."
          }
        },
        "removeAllFromArray": {
          "target": "com.gcp.datastore_v1beta3#ArrayValue",
          "traits": {
            "smithy.api#documentation": "Removes all of the given elements from the array in the property. If the property is not an array, or if the property does not yet exist, it is set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when deciding whether an element should be removed. NaN is equal to NaN, and the null value is equal to the null value. This will remove all equivalent values if there are duplicates. The corresponding transform result will be the null value."
          }
        },
        "increment": {
          "target": "com.gcp.datastore_v1beta3#Value",
          "traits": {
            "smithy.api#documentation": "Adds the given value to the property's current value. This must be an integer or a double value. If the property is not an integer or double, or if the property does not yet exist, the transformation will set the property to the given value. If either of the given value or the current property value are doubles, both values will be interpreted as doubles. Double arithmetic and representation of double values follows IEEE 754 semantics. If there is positive/negative integer overflow, the property is resolved to the largest magnitude positive/negative integer."
          }
        },
        "setToServerValue": {
          "target": "com.gcp.datastore_v1beta3#PropertyTransformSetToServerValueEnum",
          "traits": {
            "smithy.api#documentation": "Sets the property to the given server value."
          }
        },
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the property. Property paths (a list of property names separated by dots (`.`)) may be used to refer to properties inside entity values. For example `foo.bar` means the property `bar` inside the entity property `foo`. If a property name contains a dot `.` or a backlslash `\\`, then that name must be escaped."
          }
        },
        "maximum": {
          "target": "com.gcp.datastore_v1beta3#Value",
          "traits": {
            "smithy.api#documentation": "Sets the property to the maximum of its current value and the given value. This must be an integer or a double value. If the property is not an integer or double, or if the property does not yet exist, the transformation will set the property to the given value. If a maximum operation is applied where the property and the input value are of mixed types (that is - one is an integer and one is a double) the property takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the property does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A transformation of an entity property."
      }
    },
    "com.gcp.datastore_v1beta3#PropertyTransformSetToServerValueEnum": {
      "type": "enum",
      "members": {
        "SERVER_VALUE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER_VALUE_UNSPECIFIED"
          }
        },
        "REQUEST_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_TIME"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#Aggregation": {
      "type": "structure",
      "members": {
        "count": {
          "target": "com.gcp.datastore_v1beta3#Count",
          "traits": {
            "smithy.api#documentation": "Count aggregator."
          }
        },
        "sum": {
          "target": "com.gcp.datastore_v1beta3#Sum",
          "traits": {
            "smithy.api#documentation": "Sum aggregator."
          }
        },
        "avg": {
          "target": "com.gcp.datastore_v1beta3#Avg",
          "traits": {
            "smithy.api#documentation": "Average aggregator."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional name of the property to store the result of the aggregation. If not provided, Datastore will pick a default name following the format `property_`. For example: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2), COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) OVER ( ... ); ``` becomes: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2) AS property_1, COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) AS property_2 OVER ( ... ); ``` Requires: * Must be unique across all aggregation aliases. * Conform to entity property name limitations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines an aggregation that produces a single result."
      }
    },
    "com.gcp.datastore_v1beta3#CompositeFilter": {
      "type": "structure",
      "members": {
        "op": {
          "target": "com.gcp.datastore_v1beta3#CompositeFilterOpEnum",
          "traits": {
            "smithy.api#documentation": "The operator for combining multiple filters."
          }
        },
        "filters": {
          "target": "com.gcp.datastore_v1beta3#FilterList",
          "traits": {
            "smithy.api#documentation": "The list of filters to combine. Requires: * At least one filter is present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter that merges multiple other filters using the given operator."
      }
    },
    "com.gcp.datastore_v1beta3#CompositeFilterOpEnum": {
      "type": "enum",
      "members": {
        "OPERATOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATOR_UNSPECIFIED"
          }
        },
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#FilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1beta3#Filter"
      }
    },
    "com.gcp.datastore_v1beta3#ExplainOptions": {
      "type": "structure",
      "members": {
        "analyze": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to execute this query. When false (the default), the query will be planned, returning only metrics from the planning stages. When true, the query will be planned and executed, returning the full query results along with both planning and execution stage metrics."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Explain options for the query."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1EntityFilter": {
      "type": "structure",
      "members": {
        "namespaceIds": {
          "target": "com.gcp.datastore_v1beta3#StringList",
          "traits": {
            "smithy.api#documentation": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique."
          }
        },
        "kinds": {
          "target": "com.gcp.datastore_v1beta3#StringList",
          "traits": {
            "smithy.api#documentation": "If empty, then this represents all kinds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']"
      }
    },
    "com.gcp.datastore_v1beta3#PartitionId": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project to which the entities belong."
          }
        },
        "namespaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not empty, the ID of the namespace to which the entities belong."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty. A partition ID contains several dimensions: project ID and namespace ID. Partition dimensions: - May be `\"\"`. - Must be valid UTF-8 bytes. - Must have values that match regex `[A-Za-z\\d\\.\\-_]{1,100}` If the value of any dimension matches regex `__.*__`, the partition is reserved/read-only. A reserved/read-only partition ID is forbidden in certain documented contexts. Foreign partition IDs (in which the project ID does not match the context project ID ) are discouraged. Reads and writes of foreign partition IDs may fail if the project is not in an active state."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1MigrationStateEvent": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1MigrationStateEventStateEnum",
          "traits": {
            "smithy.api#documentation": "The new state of the migration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event signifying a change in state of a [migration from Cloud Datastore to Cloud Firestore in Datastore mode](https://cloud.google.com/datastore/docs/upgrade-to-firestore)."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1MigrationStateEventStateEnum": {
      "type": "enum",
      "members": {
        "MIGRATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATION_STATE_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#PropertyFilter": {
      "type": "structure",
      "members": {
        "op": {
          "target": "com.gcp.datastore_v1beta3#PropertyFilterOpEnum",
          "traits": {
            "smithy.api#documentation": "The operator to filter by."
          }
        },
        "property": {
          "target": "com.gcp.datastore_v1beta3#PropertyReference",
          "traits": {
            "smithy.api#documentation": "The property to filter by."
          }
        },
        "value": {
          "target": "com.gcp.datastore_v1beta3#Value",
          "traits": {
            "smithy.api#documentation": "The value to compare the property to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter on a specific property."
      }
    },
    "com.gcp.datastore_v1beta3#PropertyFilterOpEnum": {
      "type": "enum",
      "members": {
        "OPERATOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATOR_UNSPECIFIED"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "LESS_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "GREATER_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
          }
        },
        "EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUAL"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "NOT_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_EQUAL"
          }
        },
        "HAS_ANCESTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HAS_ANCESTOR"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_IN"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#RunAggregationQueryResponse": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.gcp.datastore_v1beta3#AggregationResultBatch",
          "traits": {
            "smithy.api#documentation": "A batch of aggregation results. Always present."
          }
        },
        "query": {
          "target": "com.gcp.datastore_v1beta3#AggregationQuery",
          "traits": {
            "smithy.api#documentation": "The parsed form of the `GqlQuery` from the request, if it was set."
          }
        },
        "explainMetrics": {
          "target": "com.gcp.datastore_v1beta3#ExplainMetrics",
          "traits": {
            "smithy.api#documentation": "Query explain metrics. This is only present when the RunAggregationQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Datastore.RunAggregationQuery."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1ExportEntitiesResponse": {
      "type": "structure",
      "members": {
        "outputUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for google.datastore.admin.v1.DatastoreAdmin.ExportEntities."
      }
    },
    "com.gcp.datastore_v1beta3#CommitRequest": {
      "type": "structure",
      "members": {
        "mutations": {
          "target": "com.gcp.datastore_v1beta3#MutationList",
          "traits": {
            "smithy.api#documentation": "The mutations to perform. When mode is `TRANSACTIONAL`, mutations affecting a single entity are applied in order. The following sequences of mutations affecting a single entity are not permitted in a single `Commit` request: - `insert` followed by `insert` - `update` followed by `insert` - `upsert` followed by `insert` - `delete` followed by `update` When mode is `NON_TRANSACTIONAL`, no two mutations may affect a single entity."
          }
        },
        "mode": {
          "target": "com.gcp.datastore_v1beta3#CommitRequestModeEnum",
          "traits": {
            "smithy.api#documentation": "The type of commit to perform. Defaults to `TRANSACTIONAL`."
          }
        },
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the transaction associated with the commit. A transaction identifier is returned by a call to Datastore.BeginTransaction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Datastore.Commit."
      }
    },
    "com.gcp.datastore_v1beta3#MutationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1beta3#Mutation"
      }
    },
    "com.gcp.datastore_v1beta3#CommitRequestModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "TRANSACTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSACTIONAL"
          }
        },
        "NON_TRANSACTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_TRANSACTIONAL"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1ImportEntitiesMetadata": {
      "type": "structure",
      "members": {
        "progressBytes": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of bytes processed."
          }
        },
        "progressEntities": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of entities processed."
          }
        },
        "inputUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url field."
          }
        },
        "entityFilter": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1EntityFilter",
          "traits": {
            "smithy.api#documentation": "Description of which entities are being imported."
          }
        },
        "common": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1CommonMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata common to all Datastore Admin operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for ImportEntities operations."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1PrepareStepDetails": {
      "type": "structure",
      "members": {
        "concurrencyMode": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1PrepareStepDetailsConcurrencyModeEnum",
          "traits": {
            "smithy.api#documentation": "The concurrency mode this database will use when it reaches the `REDIRECT_WRITES` step."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for the `PREPARE` step."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1PrepareStepDetailsConcurrencyModeEnum": {
      "type": "enum",
      "members": {
        "CONCURRENCY_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONCURRENCY_MODE_UNSPECIFIED"
          }
        },
        "PESSIMISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PESSIMISTIC"
          }
        },
        "OPTIMISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMISTIC"
          }
        },
        "OPTIMISTIC_WITH_ENTITY_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMISTIC_WITH_ENTITY_GROUPS"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#RollbackResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The response for Datastore.Rollback. (an empty message)."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1CommonMetadata": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation ended, either successfully or otherwise."
          }
        },
        "operationType": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1CommonMetadataOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the operation. Can be used as a filter in ListOperationsRequest."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that work began on the operation."
          }
        },
        "labels": {
          "target": "com.gcp.datastore_v1beta3#StringMap",
          "traits": {
            "smithy.api#documentation": "The client-assigned labels which were provided when the operation was created. May also include additional labels."
          }
        },
        "state": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1CommonMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "The current state of the Operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata common to all Datastore Admin operations."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1CommonMetadataOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "EXPORT_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPORT_ENTITIES"
          }
        },
        "IMPORT_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_ENTITIES"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1beta1CommonMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "FINALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINALIZING"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESSFUL"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#TransactionOptions": {
      "type": "structure",
      "members": {
        "readWrite": {
          "target": "com.gcp.datastore_v1beta3#ReadWrite",
          "traits": {
            "smithy.api#documentation": "The transaction should allow both reads and writes."
          }
        },
        "readOnly": {
          "target": "com.gcp.datastore_v1beta3#ReadOnly",
          "traits": {
            "smithy.api#documentation": "The transaction should only allow reads."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for beginning a new transaction. Transactions can be created explicitly with calls to Datastore.BeginTransaction or implicitly by setting ReadOptions.new_transaction in read requests."
      }
    },
    "com.gcp.datastore_v1beta3#BeginTransactionResponse": {
      "type": "structure",
      "members": {
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The transaction identifier (always present)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Datastore.BeginTransaction."
      }
    },
    "com.gcp.datastore_v1beta3#Value": {
      "type": "structure",
      "members": {
        "integerValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An integer value."
          }
        },
        "timestampValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp value. When stored in the Datastore, precise only to microseconds; any additional precision is rounded down."
          }
        },
        "nullValue": {
          "target": "com.gcp.datastore_v1beta3#ValueNullValueEnum",
          "traits": {
            "smithy.api#documentation": "A null value."
          }
        },
        "geoPointValue": {
          "target": "com.gcp.datastore_v1beta3#LatLng",
          "traits": {
            "smithy.api#documentation": "A geo point value representing a point on the surface of Earth."
          }
        },
        "booleanValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean value."
          }
        },
        "blobValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A blob value. May have at most 1,000,000 bytes. When `exclude_from_indexes` is false, may have at most 1500 bytes. In JSON requests, must be base64-encoded."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A UTF-8 encoded string value. When `exclude_from_indexes` is false (it is indexed) , may have at most 1500 bytes. Otherwise, may be set to at most 1,000,000 bytes."
          }
        },
        "arrayValue": {
          "target": "com.gcp.datastore_v1beta3#ArrayValue",
          "traits": {
            "smithy.api#documentation": "An array value. Cannot contain another array value. A `Value` instance that sets field `array_value` must not set fields `meaning` or `exclude_from_indexes`."
          }
        },
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A double value."
          }
        },
        "excludeFromIndexes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value should be excluded from all indexes including those defined explicitly."
          }
        },
        "entityValue": {
          "target": "com.gcp.datastore_v1beta3#Entity",
          "traits": {
            "smithy.api#documentation": "An entity value. - May have no key. - May have a key with an incomplete key path. - May have a reserved/read-only key."
          }
        },
        "keyValue": {
          "target": "com.gcp.datastore_v1beta3#Key",
          "traits": {
            "smithy.api#documentation": "A key value."
          }
        },
        "meaning": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The `meaning` field should only be populated for backwards compatibility."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message that can hold any of the supported value types and associated metadata."
      }
    },
    "com.gcp.datastore_v1beta3#ValueNullValueEnum": {
      "type": "enum",
      "members": {
        "NULL_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NULL_VALUE"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#Key": {
      "type": "structure",
      "members": {
        "partitionId": {
          "target": "com.gcp.datastore_v1beta3#PartitionId",
          "traits": {
            "smithy.api#documentation": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition."
          }
        },
        "path": {
          "target": "com.gcp.datastore_v1beta3#PathElementList",
          "traits": {
            "smithy.api#documentation": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. An entity path is always fully complete: *all* of the entity's ancestors are required to be in the path along with the entity identifier itself. The only exception is that in some documented cases, the identifier in the last path element (for the entity) itself may be omitted. For example, the last path element of the key of `Mutation.insert` may have no identifier. A path can never be empty, and a path can have at most 100 elements."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A unique identifier for an entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts."
      }
    },
    "com.gcp.datastore_v1beta3#PathElementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1beta3#PathElement"
      }
    },
    "com.gcp.datastore_v1beta3#AggregationQuery": {
      "type": "structure",
      "members": {
        "nestedQuery": {
          "target": "com.gcp.datastore_v1beta3#Query",
          "traits": {
            "smithy.api#documentation": "Nested query for aggregation"
          }
        },
        "aggregations": {
          "target": "com.gcp.datastore_v1beta3#AggregationList",
          "traits": {
            "smithy.api#documentation": "Optional. Series of aggregations to apply over the results of the `nested_query`. Requires: * A minimum of one and maximum of five aggregations per query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Datastore query for running an aggregation over a Query."
      }
    },
    "com.gcp.datastore_v1beta3#AggregationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1beta3#Aggregation"
      }
    },
    "com.gcp.datastore_v1beta3#PropertyMask": {
      "type": "structure",
      "members": {
        "paths": {
          "target": "com.gcp.datastore_v1beta3#StringList",
          "traits": {
            "smithy.api#documentation": "The paths to the properties covered by this mask. A path is a list of property names separated by dots (`.`), for example `foo.bar` means the property `bar` inside the entity property `foo` inside the entity associated with this path. If a property name contains a dot `.` or a backslash `\\`, then that name must be escaped. A path must not be empty, and may not reference a value inside an array value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The set of arbitrarily nested property paths used to restrict an operation to only a subset of properties in an entity."
      }
    },
    "com.gcp.datastore_v1beta3#Entity": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.gcp.datastore_v1beta3#ValueMap",
          "traits": {
            "smithy.api#documentation": "The entity's properties. The map's keys are property names. A property name matching regex `__.*__` is reserved. A reserved property name is forbidden in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty."
          }
        },
        "key": {
          "target": "com.gcp.datastore_v1beta3#Key",
          "traits": {
            "smithy.api#documentation": "The entity's key. An entity must have a key, unless otherwise documented (for example, an entity in `Value.entity_value` may have no key). An entity's kind is its key path's last element's kind, or null if it has no key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Datastore data object. Must not exceed 1 MiB - 4 bytes."
      }
    },
    "com.gcp.datastore_v1beta3#ValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.datastore_v1beta3#Value"
      }
    },
    "com.gcp.datastore_v1beta3#LookupRequest": {
      "type": "structure",
      "members": {
        "readOptions": {
          "target": "com.gcp.datastore_v1beta3#ReadOptions",
          "traits": {
            "smithy.api#documentation": "The options for this lookup request."
          }
        },
        "keys": {
          "target": "com.gcp.datastore_v1beta3#KeyList",
          "traits": {
            "smithy.api#documentation": "Required. Keys of entities to look up."
          }
        },
        "propertyMask": {
          "target": "com.gcp.datastore_v1beta3#PropertyMask",
          "traits": {
            "smithy.api#documentation": "The properties to return. Defaults to returning all properties. If this field is set and an entity has a property not referenced in the mask, it will be absent from LookupResponse.found.entity.properties. The entity's key is always returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Datastore.Lookup."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1ImportEntitiesMetadata": {
      "type": "structure",
      "members": {
        "progressEntities": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of entities processed."
          }
        },
        "inputUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1.ExportEntitiesResponse.output_url field."
          }
        },
        "progressBytes": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of bytes processed."
          }
        },
        "common": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1CommonMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata common to all Datastore Admin operations."
          }
        },
        "entityFilter": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1EntityFilter",
          "traits": {
            "smithy.api#documentation": "Description of which entities are being imported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for ImportEntities operations."
      }
    },
    "com.gcp.datastore_v1beta3#AggregationResult": {
      "type": "structure",
      "members": {
        "aggregateProperties": {
          "target": "com.gcp.datastore_v1beta3#ValueMap",
          "traits": {
            "smithy.api#documentation": "The result of the aggregation functions, ex: `COUNT(*) AS total_entities`. The key is the alias assigned to the aggregation function on input and the size of this map equals the number of aggregation functions in the query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a single bucket from a Datastore aggregation query. The keys of `aggregate_properties` are the same for all results in an aggregation query, unlike entity queries which can have different fields present for each result."
      }
    },
    "com.gcp.datastore_v1beta3#RunAggregationQueryRequest": {
      "type": "structure",
      "members": {
        "explainOptions": {
          "target": "com.gcp.datastore_v1beta3#ExplainOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned."
          }
        },
        "partitionId": {
          "target": "com.gcp.datastore_v1beta3#PartitionId",
          "traits": {
            "smithy.api#documentation": "Entities are partitioned into subsets, identified by a partition ID. Queries are scoped to a single partition. This partition ID is normalized with the standard default context partition ID."
          }
        },
        "aggregationQuery": {
          "target": "com.gcp.datastore_v1beta3#AggregationQuery",
          "traits": {
            "smithy.api#documentation": "The query to run."
          }
        },
        "readOptions": {
          "target": "com.gcp.datastore_v1beta3#ReadOptions",
          "traits": {
            "smithy.api#documentation": "The options for this query."
          }
        },
        "gqlQuery": {
          "target": "com.gcp.datastore_v1beta3#GqlQuery",
          "traits": {
            "smithy.api#documentation": "The GQL query to run. This query must be an aggregation query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Datastore.RunAggregationQuery."
      }
    },
    "com.gcp.datastore_v1beta3#Filter": {
      "type": "structure",
      "members": {
        "compositeFilter": {
          "target": "com.gcp.datastore_v1beta3#CompositeFilter",
          "traits": {
            "smithy.api#documentation": "A composite filter."
          }
        },
        "propertyFilter": {
          "target": "com.gcp.datastore_v1beta3#PropertyFilter",
          "traits": {
            "smithy.api#documentation": "A filter on a property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A holder for any type of filter."
      }
    },
    "com.gcp.datastore_v1beta3#QueryResultBatch": {
      "type": "structure",
      "members": {
        "skippedResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of results skipped, typically because of an offset."
          }
        },
        "endCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A cursor that points to the position after the last result in the batch."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Read timestamp this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater timestamp. Each batch's read timestamp is valid for all preceding batches. This value will not be set for eventually consistent queries in Cloud Datastore."
          }
        },
        "entityResultType": {
          "target": "com.gcp.datastore_v1beta3#QueryResultBatchEntityResultTypeEnum",
          "traits": {
            "smithy.api#documentation": "The result type for every entity in `entity_results`."
          }
        },
        "skippedCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A cursor that points to the position after the last skipped result. Will be set when `skipped_results` != 0."
          }
        },
        "entityResults": {
          "target": "com.gcp.datastore_v1beta3#EntityResultList",
          "traits": {
            "smithy.api#documentation": "The results for this batch."
          }
        },
        "moreResults": {
          "target": "com.gcp.datastore_v1beta3#QueryResultBatchMoreResultsEnum",
          "traits": {
            "smithy.api#documentation": "The state of the query after the current batch."
          }
        },
        "snapshotVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version number of the snapshot this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater snapshot version number. Each batch's snapshot version is valid for all preceding batches. The value will be zero for eventually consistent queries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A batch of results produced by a query."
      }
    },
    "com.gcp.datastore_v1beta3#QueryResultBatchEntityResultTypeEnum": {
      "type": "enum",
      "members": {
        "RESULT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESULT_TYPE_UNSPECIFIED"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "PROJECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECTION"
          }
        },
        "KEY_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_ONLY"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#EntityResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1beta3#EntityResult"
      }
    },
    "com.gcp.datastore_v1beta3#QueryResultBatchMoreResultsEnum": {
      "type": "enum",
      "members": {
        "MORE_RESULTS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MORE_RESULTS_TYPE_UNSPECIFIED"
          }
        },
        "NOT_FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FINISHED"
          }
        },
        "MORE_RESULTS_AFTER_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MORE_RESULTS_AFTER_LIMIT"
          }
        },
        "MORE_RESULTS_AFTER_CURSOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MORE_RESULTS_AFTER_CURSOR"
          }
        },
        "NO_MORE_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_MORE_RESULTS"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#Projection": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.gcp.datastore_v1beta3#PropertyReference",
          "traits": {
            "smithy.api#documentation": "The property to project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a property in a projection."
      }
    },
    "com.gcp.datastore_v1beta3#ReadWrite": {
      "type": "structure",
      "members": {
        "previousTransaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The transaction identifier of the transaction being retried."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options specific to read / write transactions."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1ExportEntitiesMetadata": {
      "type": "structure",
      "members": {
        "outputUrlPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1.ExportEntitiesResponse.output_url."
          }
        },
        "progressEntities": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of entities processed."
          }
        },
        "progressBytes": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of bytes processed."
          }
        },
        "common": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1CommonMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata common to all Datastore Admin operations."
          }
        },
        "entityFilter": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1EntityFilter",
          "traits": {
            "smithy.api#documentation": "Description of which entities are being exported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for ExportEntities operations."
      }
    },
    "com.gcp.datastore_v1beta3#LookupResponse": {
      "type": "structure",
      "members": {
        "deferred": {
          "target": "com.gcp.datastore_v1beta3#KeyList",
          "traits": {
            "smithy.api#documentation": "A list of keys that were not looked up due to resource constraints. The order of results in this field is undefined and has no relation to the order of the keys in the input."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which these entities were read or found missing."
          }
        },
        "found": {
          "target": "com.gcp.datastore_v1beta3#EntityResultList",
          "traits": {
            "smithy.api#documentation": "Entities found as `ResultType.FULL` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input."
          }
        },
        "missing": {
          "target": "com.gcp.datastore_v1beta3#EntityResultList",
          "traits": {
            "smithy.api#documentation": "Entities not found as `ResultType.KEY_ONLY` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Datastore.Lookup."
      }
    },
    "com.gcp.datastore_v1beta3#ExplainMetrics": {
      "type": "structure",
      "members": {
        "planSummary": {
          "target": "com.gcp.datastore_v1beta3#PlanSummary",
          "traits": {
            "smithy.api#documentation": "Planning phase information for the query."
          }
        },
        "executionStats": {
          "target": "com.gcp.datastore_v1beta3#ExecutionStats",
          "traits": {
            "smithy.api#documentation": "Aggregated stats from the execution of the query. Only present when ExplainOptions.analyze is set to true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Explain metrics for the query."
      }
    },
    "com.gcp.datastore_v1beta3#CommitResponse": {
      "type": "structure",
      "members": {
        "mutationResults": {
          "target": "com.gcp.datastore_v1beta3#MutationResultList",
          "traits": {
            "smithy.api#documentation": "The result of performing the mutations. The i-th mutation result corresponds to the i-th mutation in the request."
          }
        },
        "indexUpdates": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of index entries updated during the commit, or zero if none were updated."
          }
        },
        "commitTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The transaction commit timestamp. Not set for non-transactional commits."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Datastore.Commit."
      }
    },
    "com.gcp.datastore_v1beta3#MutationResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1beta3#MutationResult"
      }
    },
    "com.gcp.datastore_v1beta3#PropertyOrder": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.gcp.datastore_v1beta3#PropertyReference",
          "traits": {
            "smithy.api#documentation": "The property to order by."
          }
        },
        "direction": {
          "target": "com.gcp.datastore_v1beta3#PropertyOrderDirectionEnum",
          "traits": {
            "smithy.api#documentation": "The direction to order by. Defaults to `ASCENDING`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The desired order for a specific property."
      }
    },
    "com.gcp.datastore_v1beta3#PropertyOrderDirectionEnum": {
      "type": "enum",
      "members": {
        "DIRECTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTION_UNSPECIFIED"
          }
        },
        "ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASCENDING"
          }
        },
        "DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCENDING"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#Mutation": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The update time of the entity that this mutation is being applied to. If this does not match the current update time on the server, the mutation conflicts."
          }
        },
        "propertyTransforms": {
          "target": "com.gcp.datastore_v1beta3#PropertyTransformList",
          "traits": {
            "smithy.api#documentation": "Optional. The transforms to perform on the entity. This field can be set only when the operation is `insert`, `update`, or `upsert`. If present, the transforms are be applied to the entity regardless of the property mask, in order, after the operation."
          }
        },
        "insert": {
          "target": "com.gcp.datastore_v1beta3#Entity",
          "traits": {
            "smithy.api#documentation": "The entity to insert. The entity must not already exist. The entity key's final path element may be incomplete."
          }
        },
        "upsert": {
          "target": "com.gcp.datastore_v1beta3#Entity",
          "traits": {
            "smithy.api#documentation": "The entity to upsert. The entity may or may not already exist. The entity key's final path element may be incomplete."
          }
        },
        "delete": {
          "target": "com.gcp.datastore_v1beta3#Key",
          "traits": {
            "smithy.api#documentation": "The key of the entity to delete. The entity may or may not already exist. Must have a complete key path and must not be reserved/read-only."
          }
        },
        "baseVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the entity that this mutation is being applied to. If this does not match the current version on the server, the mutation conflicts."
          }
        },
        "propertyMask": {
          "target": "com.gcp.datastore_v1beta3#PropertyMask",
          "traits": {
            "smithy.api#documentation": "The properties to write in this mutation. None of the properties in the mask may have a reserved name, except for `__key__`. This field is ignored for `delete`. If the entity already exists, only properties referenced in the mask are updated, others are left untouched. Properties referenced in the mask but not in the entity are deleted."
          }
        },
        "update": {
          "target": "com.gcp.datastore_v1beta3#Entity",
          "traits": {
            "smithy.api#documentation": "The entity to update. The entity must already exist. Must have a complete key path."
          }
        },
        "conflictResolutionStrategy": {
          "target": "com.gcp.datastore_v1beta3#MutationConflictResolutionStrategyEnum",
          "traits": {
            "smithy.api#documentation": "The strategy to use when a conflict is detected. Defaults to `SERVER_VALUE`. If this is set, then `conflict_detection_strategy` must also be set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mutation to apply to an entity."
      }
    },
    "com.gcp.datastore_v1beta3#PropertyTransformList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1beta3#PropertyTransform"
      }
    },
    "com.gcp.datastore_v1beta3#MutationConflictResolutionStrategyEnum": {
      "type": "enum",
      "members": {
        "STRATEGY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRATEGY_UNSPECIFIED"
          }
        },
        "SERVER_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER_VALUE"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAIL"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#KindExpression": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the kind."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a kind."
      }
    },
    "com.gcp.datastore_v1beta3#ExecutionStats": {
      "type": "structure",
      "members": {
        "resultsReturned": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of results returned, including documents, projections, aggregation results, keys."
          }
        },
        "readOperations": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total billable read operations."
          }
        },
        "executionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total time to execute the query in the backend."
          }
        },
        "debugStats": {
          "target": "com.gcp.datastore_v1beta3#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Debugging statistics from the execution of the query. Note that the debugging stats are subject to change as Firestore evolves. It could include: { \"indexes_entries_scanned\": \"1000\", \"documents_scanned\": \"20\", \"billing_details\" : { \"documents_billable\": \"20\", \"index_entries_billable\": \"1000\", \"min_query_cost\": \"0\" } }"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution statistics for the query."
      }
    },
    "com.gcp.datastore_v1beta3#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.datastore_v1beta3#PlanSummary": {
      "type": "structure",
      "members": {
        "indexesUsed": {
          "target": "com.gcp.datastore_v1beta3#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "The indexes selected for the query. For example: [ {\"query_scope\": \"Collection\", \"properties\": \"(foo ASC, __name__ ASC)\"}, {\"query_scope\": \"Collection\", \"properties\": \"(bar ASC, __name__ ASC)\"} ]"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Planning phase information for the query."
      }
    },
    "com.gcp.datastore_v1beta3#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1beta3#DocumentMap"
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1CommonMetadata": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that work began on the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation ended, either successfully or otherwise."
          }
        },
        "operationType": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1CommonMetadataOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the operation. Can be used as a filter in ListOperationsRequest."
          }
        },
        "state": {
          "target": "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1CommonMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "The current state of the Operation."
          }
        },
        "labels": {
          "target": "com.gcp.datastore_v1beta3#StringMap",
          "traits": {
            "smithy.api#documentation": "The client-assigned labels which were provided when the operation was created. May also include additional labels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata common to all Datastore Admin operations."
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1CommonMetadataOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "EXPORT_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPORT_ENTITIES"
          }
        },
        "IMPORT_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_ENTITIES"
          }
        },
        "CREATE_INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_INDEX"
          }
        },
        "DELETE_INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_INDEX"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#GoogleDatastoreAdminV1CommonMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "FINALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINALIZING"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESSFUL"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.datastore_v1beta3#BeginTransactionRequest": {
      "type": "structure",
      "members": {
        "transactionOptions": {
          "target": "com.gcp.datastore_v1beta3#TransactionOptions",
          "traits": {
            "smithy.api#documentation": "Options for a new transaction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Datastore.BeginTransaction."
      }
    },
    "com.gcp.datastore_v1beta3#Query": {
      "type": "structure",
      "members": {
        "projection": {
          "target": "com.gcp.datastore_v1beta3#ProjectionList",
          "traits": {
            "smithy.api#documentation": "The projection to return. Defaults to returning all properties."
          }
        },
        "filter": {
          "target": "com.gcp.datastore_v1beta3#Filter",
          "traits": {
            "smithy.api#documentation": "The filter to apply."
          }
        },
        "endCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ending point for the query results. Query cursors are returned in query result batches and [can only be used to limit the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets)."
          }
        },
        "order": {
          "target": "com.gcp.datastore_v1beta3#PropertyOrderList",
          "traits": {
            "smithy.api#documentation": "The order to apply to the query results (if empty, order is unspecified)."
          }
        },
        "kind": {
          "target": "com.gcp.datastore_v1beta3#KindExpressionList",
          "traits": {
            "smithy.api#documentation": "The kinds to query (if empty, returns entities of all kinds). Currently at most 1 kind may be specified."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of results to skip. Applies before limit, but after all other constraints. Optional. Must be >= 0 if specified."
          }
        },
        "startCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A starting point for the query results. Query cursors are returned in query result batches and [can only be used to continue the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets)."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. Applies after all other constraints. Optional. Unspecified is interpreted as no limit. Must be >= 0 if specified."
          }
        },
        "findNearest": {
          "target": "com.gcp.datastore_v1beta3#FindNearest",
          "traits": {
            "smithy.api#documentation": "Optional. A potential Nearest Neighbors Search. Applies after all other filters and ordering. Finds the closest vector embeddings to the given query vector."
          }
        },
        "distinctOn": {
          "target": "com.gcp.datastore_v1beta3#PropertyReferenceList",
          "traits": {
            "smithy.api#documentation": "The properties to make distinct. The query results will contain the first result for each distinct combination of values for the given properties (if empty, all results are returned). Requires: * If `order` is specified, the set of distinct on properties must appear before the non-distinct on properties in `order`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A query for entities. The query stages are executed in the following order: 1. kind 2. filter 3. projection 4. order + start_cursor + end_cursor 5. offset 6. limit 7. find_nearest"
      }
    },
    "com.gcp.datastore_v1beta3#ProjectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1beta3#Projection"
      }
    },
    "com.gcp.datastore_v1beta3#PropertyOrderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1beta3#PropertyOrder"
      }
    },
    "com.gcp.datastore_v1beta3#KindExpressionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1beta3#KindExpression"
      }
    },
    "com.gcp.datastore_v1beta3#PropertyReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1beta3#PropertyReference"
      }
    },
    "com.gcp.datastore_v1beta3#Count": {
      "type": "structure",
      "members": {
        "upTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional constraint on the maximum number of entities to count. This provides a way to set an upper bound on the number of entities to scan, limiting latency, and cost. Unspecified is interpreted as no bound. If a zero value is provided, a count result of zero should always be expected. High-Level Example: ``` AGGREGATE COUNT_UP_TO(1000) OVER ( SELECT * FROM k ); ``` Requires: * Must be non-negative when present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Count of entities that match the query. The `COUNT(*)` aggregation function operates on the entire entity so it does not require a field reference."
      }
    },
    "com.gcp.datastore_v1beta3#Sum": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.gcp.datastore_v1beta3#PropertyReference",
          "traits": {
            "smithy.api#documentation": "The property to aggregate on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sum of the values of the requested property. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns 0. * Returns a 64-bit integer if all aggregated numbers are integers and the sum result does not overflow. Otherwise, the result is returned as a double. Note that even if all the aggregated values are integers, the result is returned as a double if it cannot fit within a 64-bit signed integer. When this occurs, the returned value will lose precision. * When underflow occurs, floating-point aggregation is non-deterministic. This means that running the same query repeatedly without any changes to the underlying values could produce slightly different results each time. In those cases, values should be stored as integers over floating-point numbers."
      }
    },
    "com.gcp.datastore_v1beta3#Avg": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.gcp.datastore_v1beta3#PropertyReference",
          "traits": {
            "smithy.api#documentation": "The property to aggregate on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Average of the values of the requested property. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns `NULL`. * Always returns the result as a double."
      }
    },
    "com.gcp.datastore_v1beta3#ReserveIdsResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The response for Datastore.ReserveIds."
      }
    },
    "com.gcp.datastore_v1beta3#GqlQuery": {
      "type": "structure",
      "members": {
        "queryString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string of the format described [here](https://cloud.google.com/datastore/docs/apis/gql/gql_reference)."
          }
        },
        "namedBindings": {
          "target": "com.gcp.datastore_v1beta3#GqlQueryParameterMap",
          "traits": {
            "smithy.api#documentation": "For each non-reserved named binding site in the query string, there must be a named parameter with that name, but not necessarily the inverse. Key must match regex `A-Za-z_$*`, must not match regex `__.*__`, and must not be `\"\"`."
          }
        },
        "allowLiterals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the query string must not contain any literals and instead must bind all values. For example, `SELECT * FROM Kind WHERE a = 'string literal'` is not allowed, while `SELECT * FROM Kind WHERE a = @value` is."
          }
        },
        "positionalBindings": {
          "target": "com.gcp.datastore_v1beta3#GqlQueryParameterList",
          "traits": {
            "smithy.api#documentation": "Numbered binding site @1 references the first numbered parameter, effectively using 1-based indexing, rather than the usual 0. For each binding site numbered i in `query_string`, there must be an i-th numbered parameter. The inverse must also be true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A [GQL query](https://cloud.google.com/datastore/docs/apis/gql/gql_reference)."
      }
    },
    "com.gcp.datastore_v1beta3#GqlQueryParameterMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.datastore_v1beta3#GqlQueryParameter"
      }
    },
    "com.gcp.datastore_v1beta3#GqlQueryParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.datastore_v1beta3#GqlQueryParameter"
      }
    },
    "com.gcp.datastore_v1beta3#MutationResult": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The update time of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the timestamp will be the update timestamp of the current entity. This field will not be set after a 'delete'."
          }
        },
        "conflictDetected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a conflict was detected for this mutation. Always false when a conflict detection strategy field is not set in the mutation."
          }
        },
        "transformResults": {
          "target": "com.gcp.datastore_v1beta3#ValueList",
          "traits": {
            "smithy.api#documentation": "The results of applying each PropertyTransform, in the same order of the request."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The create time of the entity. This field will not be set after a 'delete'."
          }
        },
        "key": {
          "target": "com.gcp.datastore_v1beta3#Key",
[...]
