{
  "smithy": "2.0",
  "metadata": {
    "service": "dialogflow",
    "version": "v2beta1",
    "title": "Dialogflow API",
    "baseUrl": "https://dialogflow.googleapis.com/"
  },
  "shapes": {
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings": {
      "type": "structure",
      "members": {
        "dropVirtualAgentMessages": {
          "target": "smithy.api#Boolean"
        },
        "dropIvrMessages": {
          "target": "smithy.api#Boolean"
        },
        "dropHandoffMessages": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "type": "structure",
      "members": {
        "promptTokenCount": {
          "target": "smithy.api#Integer"
        },
        "candidatesTokenCount": {
          "target": "smithy.api#Integer"
        },
        "totalTokenCount": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSectionToken": {
      "type": "structure",
      "members": {
        "section": {
          "target": "smithy.api#String"
        },
        "tokenCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue": {
      "type": "structure",
      "members": {
        "secretVersion": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ListMessagesResponse": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1MessageList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1MessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Message"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ExportAgentResponse": {
      "type": "structure",
      "members": {
        "agentUri": {
          "target": "smithy.api#String"
        },
        "agentContent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "type": "structure",
      "members": {
        "cells": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageTableCardCellList"
        },
        "dividerAfter": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageTableCardCellList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2KnowledgeAssistDebugInfo": {
      "type": "structure",
      "members": {
        "cesDebugInfo": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "queryCategorizationFailureReason": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryCategorizationFailureReasonEnum"
        },
        "datastoreResponseReason": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoDatastoreResponseReasonEnum"
        },
        "ingestedContextReferenceDebugInfo": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        },
        "knowledgeAssistBehavior": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "serviceLatency": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ServiceLatency"
        },
        "queryGenerationFailureReason": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationFailureReasonEnum"
        },
        "queryGenerationDebugInfo": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryCategorizationFailureReasonEnum": {
      "type": "enum",
      "members": {
        "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED"
          }
        },
        "QUERY_CATEGORIZATION_INVALID_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_CATEGORIZATION_INVALID_CONFIG"
          }
        },
        "QUERY_CATEGORIZATION_RESULT_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_CATEGORIZATION_RESULT_NOT_FOUND"
          }
        },
        "QUERY_CATEGORIZATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_CATEGORIZATION_FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoDatastoreResponseReasonEnum": {
      "type": "enum",
      "members": {
        "DATASTORE_RESPONSE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATASTORE_RESPONSE_REASON_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "SEARCH_OUT_OF_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_OUT_OF_QUOTA"
          }
        },
        "SEARCH_EMPTY_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_EMPTY_RESULTS"
          }
        },
        "ANSWER_GENERATION_GEN_AI_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_GEN_AI_DISABLED"
          }
        },
        "ANSWER_GENERATION_OUT_OF_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_OUT_OF_QUOTA"
          }
        },
        "ANSWER_GENERATION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_ERROR"
          }
        },
        "ANSWER_GENERATION_NOT_ENOUGH_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_NOT_ENOUGH_INFO"
          }
        },
        "ANSWER_GENERATION_RAI_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_RAI_FAILED"
          }
        },
        "ANSWER_GENERATION_NOT_GROUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_NOT_GROUNDED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationFailureReasonEnum": {
      "type": "enum",
      "members": {
        "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED"
          }
        },
        "QUERY_GENERATION_OUT_OF_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_OUT_OF_QUOTA"
          }
        },
        "QUERY_GENERATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_FAILED"
          }
        },
        "QUERY_GENERATION_NO_QUERY_GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_NO_QUERY_GENERATED"
          }
        },
        "QUERY_GENERATION_RAI_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_RAI_FAILED"
          }
        },
        "NOT_IN_ALLOWLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_IN_ALLOWLIST"
          }
        },
        "QUERY_GENERATION_QUERY_REDACTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_QUERY_REDACTED"
          }
        },
        "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED"
          }
        },
        "QUERY_GENERATION_EMPTY_CONVERSATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_EMPTY_CONVERSATION"
          }
        },
        "QUERY_GENERATION_EMPTY_LAST_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_EMPTY_LAST_MESSAGE"
          }
        },
        "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1GenerateStatelessSummaryResponseSummary": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "textSections": {
          "target": "com.gcp.dialogflow_v2beta1#StringMap"
        },
        "baselineModelVersion": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageMediaContent": {
      "type": "structure",
      "members": {
        "mediaType": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageMediaContentMediaTypeEnum"
        },
        "mediaObjects": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObjectList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageMediaContentMediaTypeEnum": {
      "type": "enum",
      "members": {
        "RESPONSE_MEDIA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE_MEDIA_TYPE_UNSPECIFIED"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject": {
      "type": "structure",
      "members": {
        "largeImage": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "icon": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageImage"
        },
        "contentUrl": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1QueryResult": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "knowledgeAnswers": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeAnswers"
        },
        "speechRecognitionConfidence": {
          "target": "smithy.api#Double"
        },
        "diagnosticInfo": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "allRequiredParamsPresent": {
          "target": "smithy.api#Boolean"
        },
        "sentimentAnalysisResult": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "intentDetectionConfidence": {
          "target": "smithy.api#Double"
        },
        "cancelsSlotFilling": {
          "target": "smithy.api#Boolean"
        },
        "fulfillmentMessages": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageList"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "webhookSource": {
          "target": "smithy.api#String"
        },
        "intent": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Intent"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "fulfillmentText": {
          "target": "smithy.api#String"
        },
        "outputContexts": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ContextList"
        },
        "queryText": {
          "target": "smithy.api#String"
        },
        "webhookPayload": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessage"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Context"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata": {
      "type": "structure",
      "members": {
        "conversationModel": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadataStateEnum"
        },
        "conversationModelEvaluation": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall": {
      "type": "structure",
      "members": {
        "sipUri": {
          "target": "smithy.api#String"
        },
        "phoneNumber": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1CreateMessageRequestList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1CreateMessageRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1CreateMessageRequest"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentInput": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String"
        },
        "intent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3Intent": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "labels": {
          "target": "com.gcp.dialogflow_v2beta1#StringMap"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "priority": {
          "target": "smithy.api#Integer"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "isFallback": {
          "target": "smithy.api#Boolean"
        },
        "dtmfPattern": {
          "target": "smithy.api#String"
        },
        "trainingPhrases": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3IntentTrainingPhraseList"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3IntentParameterList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3IntentTrainingPhraseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3IntentTrainingPhrase"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3IntentParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3IntentParameter"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "type": "structure",
      "members": {
        "testCaseResults": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        },
        "runTime": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "result": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ContinuousTestResultResultEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ContinuousTestResultResultEnum": {
      "type": "enum",
      "members": {
        "AGGREGATED_TEST_RESULT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATED_TEST_RESULT_UNSPECIFIED"
          }
        },
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "type": "structure",
      "members": {
        "testCase": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1TestCase"
        },
        "status": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleRpcStatus"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "lastMatchedIntent": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValueMap"
        },
        "confidence": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageCardButton": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "postback": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "type": "structure",
      "members": {
        "queryContainedSearchContext": {
          "target": "smithy.api#Boolean"
        },
        "useTranslatedMessage": {
          "target": "smithy.api#Boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "target": "smithy.api#Boolean"
        },
        "multipleQueriesGenerated": {
          "target": "smithy.api#Boolean"
        },
        "appendedSearchContextCount": {
          "target": "smithy.api#Integer"
        },
        "usePubsubDelivery": {
          "target": "smithy.api#Boolean"
        },
        "endUserMetadataIncluded": {
          "target": "smithy.api#Boolean"
        },
        "answerGenerationRewriterOn": {
          "target": "smithy.api#Boolean"
        },
        "thirdPartyConnectorAllowed": {
          "target": "smithy.api#Boolean"
        },
        "disableSyncDelivery": {
          "target": "smithy.api#Boolean"
        },
        "useCustomSafetyFilterLevel": {
          "target": "smithy.api#Boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "target": "smithy.api#Boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "target": "smithy.api#Boolean"
        },
        "previousQueriesIncluded": {
          "target": "smithy.api#Boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "target": "smithy.api#Boolean"
        },
        "returnQueryOnly": {
          "target": "smithy.api#Boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3TestCaseResultList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3TestCaseResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3TestCaseResult"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummarySummarySection": {
      "type": "structure",
      "members": {
        "section": {
          "target": "smithy.api#String"
        },
        "summary": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1Environment"
        },
        "deployment": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "type": "structure",
      "members": {
        "sourceGenerator": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "generatorSuggestion": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2GeneratorSuggestion"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetail": {
      "type": "structure",
      "members": {
        "metric": {
          "target": "smithy.api#String"
        },
        "score": {
          "target": "smithy.api#Double"
        },
        "sectionDetails": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetailList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ExportIntentsResponse": {
      "type": "structure",
      "members": {
        "intentsUri": {
          "target": "smithy.api#String"
        },
        "intentsContent": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1InlineDestination"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "type": "structure",
      "members": {
        "answers": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswerList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1FreeFormContext": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequest": {
      "type": "structure",
      "members": {
        "conversationProfile": {
          "target": "smithy.api#String"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "query": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TextInput"
        },
        "endUserMetadata": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "searchConfig": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfig"
        },
        "sessionId": {
          "target": "smithy.api#String"
        },
        "conversation": {
          "target": "smithy.api#String"
        },
        "exactSearch": {
          "target": "smithy.api#Boolean"
        },
        "parent": {
          "target": "smithy.api#String"
        },
        "querySource": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestQuerySourceEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestQuerySourceEnum": {
      "type": "enum",
      "members": {
        "QUERY_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_SOURCE_UNSPECIFIED"
          }
        },
        "AGENT_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_QUERY"
          }
        },
        "SUGGESTED_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUGGESTED_QUERY"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ReloadDocumentRequest": {
      "type": "structure",
      "members": {
        "gcsSource": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1GcsSource"
        },
        "importGcsCustomMetadata": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentBatch": {
      "type": "structure",
      "members": {
        "intents": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Intent"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1GenerateStatelessSummaryRequestMinimalConversation": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1MessageList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolConnectorToolAction": {
      "type": "structure",
      "members": {
        "connectionActionId": {
          "target": "smithy.api#String"
        },
        "outputFields": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        },
        "inputFields": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        },
        "entityOperation": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolConnectorToolActionEntityOperation"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1BatchCreateEntitiesRequest": {
      "type": "structure",
      "members": {
        "entities": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1EntityTypeEntityList"
        },
        "languageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1EntityTypeEntityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1EntityTypeEntity"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "image": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "footer": {
          "target": "smithy.api#String"
        },
        "openUriAction": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1BatchDeleteEntityTypesRequest": {
      "type": "structure",
      "members": {
        "entityTypeNames": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigAgentAssistInputDataConfig": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String"
        },
        "endTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageTableCardCell": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2Message": {
      "type": "structure",
      "members": {
        "participantRole": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2MessageParticipantRoleEnum"
        },
        "sendTime": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "messageAnnotation": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2MessageAnnotation"
        },
        "participant": {
          "target": "smithy.api#String"
        },
        "sentimentAnalysis": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "languageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2MessageParticipantRoleEnum": {
      "type": "enum",
      "members": {
        "ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_UNSPECIFIED"
          }
        },
        "HUMAN_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_AGENT"
          }
        },
        "AUTOMATED_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_AGENT"
          }
        },
        "END_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_USER"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageTableCard": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageImage"
        },
        "columnProperties": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageColumnPropertiesList"
        },
        "buttons": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageBasicCardButtonList"
        },
        "rows": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageTableCardRowList"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "subtitle": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageColumnPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageColumnProperties"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageBasicCardButtonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageBasicCardButton"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageTableCardRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageTableCardRow"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpec": {
      "type": "structure",
      "members": {
        "conditionBoostSpecs": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpec"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestionDedupingConfig": {
      "type": "structure",
      "members": {
        "enableDeduping": {
          "target": "smithy.api#Boolean"
        },
        "similarityThreshold": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "type": "structure",
      "members": {
        "summarySections": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarySuggestionSummarySectionList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarySuggestionSummarySectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ExportEntityTypesMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ExportEntityTypesResponse": {
      "type": "structure",
      "members": {
        "entityTypesUri": {
          "target": "smithy.api#String"
        },
        "entityTypesContent": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3InlineDestination"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "type": "structure",
      "members": {
        "enableStackdriverLogging": {
          "target": "smithy.api#Boolean"
        },
        "enableInteractionLogging": {
          "target": "smithy.api#Boolean"
        },
        "enableConsentBasedRedaction": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3IntentInput": {
      "type": "structure",
      "members": {
        "intent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3FulfillmentSetParameterAction": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Document"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
      "type": "structure",
      "members": {
        "webhookOverrides": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3WebhookList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3WebhookList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3Webhook"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentAssistantFeedbackSummarizationFeedback": {
      "type": "structure",
      "members": {
        "submitTimestamp": {
          "target": "smithy.api#String"
        },
        "startTimestamp": {
          "target": "smithy.api#String"
        },
        "textSections": {
          "target": "com.gcp.dialogflow_v2beta1#StringMap"
        },
        "summaryText": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ServiceLatency": {
      "type": "structure",
      "members": {
        "internalServiceLatencies": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatencyList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion": {
      "type": "structure",
      "members": {
        "agentAction": {
          "target": "smithy.api#String"
        },
        "sources": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigRequest": {
      "type": "structure",
      "members": {
        "participantRole": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigRequestParticipantRoleEnum"
        },
        "suggestionFeatureType": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigRequestSuggestionFeatureTypeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigRequestParticipantRoleEnum": {
      "type": "enum",
      "members": {
        "ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_UNSPECIFIED"
          }
        },
        "HUMAN_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_AGENT"
          }
        },
        "AUTOMATED_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_AGENT"
          }
        },
        "END_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_USER"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigRequestSuggestionFeatureTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "ARTICLE_SUGGESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTICLE_SUGGESTION"
          }
        },
        "FAQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAQ"
          }
        },
        "SMART_REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMART_REPLY"
          }
        },
        "DIALOGFLOW_ASSIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIALOGFLOW_ASSIST"
          }
        },
        "CONVERSATION_SUMMARIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION_SUMMARIZATION"
          }
        },
        "KNOWLEDGE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KNOWLEDGE_SEARCH"
          }
        },
        "KNOWLEDGE_ASSIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KNOWLEDGE_ASSIST"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1GcsDestination": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        },
        "urlTypeHint": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlActionUrlTypeHintEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlActionUrlTypeHintEnum": {
      "type": "enum",
      "members": {
        "URL_TYPE_HINT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL_TYPE_HINT_UNSPECIFIED"
          }
        },
        "AMP_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMP_ACTION"
          }
        },
        "AMP_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMP_CONTENT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2HumanAgentAssistantEvent": {
      "type": "structure",
      "members": {
        "suggestionResults": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2SuggestionResultList"
        },
        "participant": {
          "target": "smithy.api#String"
        },
        "conversation": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2SuggestionResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2SuggestionResult"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolExtensionTool": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentAssistantFeedback": {
      "type": "structure",
      "members": {
        "documentEfficiency": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentAssistantFeedbackDocumentEfficiencyEnum"
        },
        "knowledgeSearchFeedback": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeSearchFeedback"
        },
        "answerRelevance": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentAssistantFeedbackAnswerRelevanceEnum"
        },
        "documentCorrectness": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentAssistantFeedbackDocumentCorrectnessEnum"
        },
        "summarizationFeedback": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentAssistantFeedbackSummarizationFeedback"
        },
        "knowledgeAssistFeedback": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeAssistFeedback"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentAssistantFeedbackDocumentEfficiencyEnum": {
      "type": "enum",
      "members": {
        "DOCUMENT_EFFICIENCY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_EFFICIENCY_UNSPECIFIED"
          }
        },
        "INEFFICIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INEFFICIENT"
          }
        },
        "EFFICIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EFFICIENT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentAssistantFeedbackAnswerRelevanceEnum": {
      "type": "enum",
      "members": {
        "ANSWER_RELEVANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_RELEVANCE_UNSPECIFIED"
          }
        },
        "IRRELEVANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IRRELEVANT"
          }
        },
        "RELEVANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEVANT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentAssistantFeedbackDocumentCorrectnessEnum": {
      "type": "enum",
      "members": {
        "DOCUMENT_CORRECTNESS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_CORRECTNESS_UNSPECIFIED"
          }
        },
        "INCORRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCORRECT"
          }
        },
        "CORRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORRECT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "type": "structure",
      "members": {
        "userDefined": {
          "target": "smithy.api#Boolean"
        },
        "entityType": {
          "target": "smithy.api#String"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "alias": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "structure",
      "members": {
        "attributeValue": {
          "target": "smithy.api#String"
        },
        "boostAmount": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolServiceDirectoryConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageListSelectItemList"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "subtitle": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageListSelectItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetrics": {
      "type": "structure",
      "members": {
        "summarizationEvaluationMergedResultsUri": {
          "target": "smithy.api#String"
        },
        "summarizationEvaluationResults": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSummarizationEvaluationResultList"
        },
        "overallMetrics": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsOverallScoresByMetricList"
        },
        "conversationDetails": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailList"
        },
        "overallSectionTokens": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSectionTokenList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSummarizationEvaluationResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSummarizationEvaluationResult"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsOverallScoresByMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsOverallScoresByMetric"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetail"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSectionTokenList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSectionToken"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeOperationMetadataStateEnum"
        },
        "doneTime": {
          "target": "smithy.api#String"
        },
        "exportOperationMetadata": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ExportOperationMetadata"
        },
        "knowledgeBase": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeOperationMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ImportConversationDataOperationMetadata": {
      "type": "structure",
      "members": {
        "conversationDataset": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "partialFailures": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleRpcStatusList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleRpcStatus"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1FulfillmentFeature": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1FulfillmentFeatureTypeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1FulfillmentFeatureTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "SMALLTALK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALLTALK"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "type": "structure",
      "members": {
        "audioUri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfoMimeContent": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ImportTestCasesResponse": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageListSelect": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageListSelectItemList"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "subtitle": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageListSelectItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageListSelectItem"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Document"
        },
        "parameter": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TelephonyDtmfEvents": {
      "type": "structure",
      "members": {
        "dtmfEvents": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TelephonyDtmfEventsDtmfEventsItemEnumList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TelephonyDtmfEventsDtmfEventsItemEnum": {
      "type": "enum",
      "members": {
        "TELEPHONY_DTMF_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELEPHONY_DTMF_UNSPECIFIED"
          }
        },
        "DTMF_ONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_ONE"
          }
        },
        "DTMF_TWO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_TWO"
          }
        },
        "DTMF_THREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_THREE"
          }
        },
        "DTMF_FOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_FOUR"
          }
        },
        "DTMF_FIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_FIVE"
          }
        },
        "DTMF_SIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_SIX"
          }
        },
        "DTMF_SEVEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_SEVEN"
          }
        },
        "DTMF_EIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_EIGHT"
          }
        },
        "DTMF_NINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_NINE"
          }
        },
        "DTMF_ZERO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_ZERO"
          }
        },
        "DTMF_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_A"
          }
        },
        "DTMF_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_B"
          }
        },
        "DTMF_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_C"
          }
        },
        "DTMF_D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_D"
          }
        },
        "DTMF_STAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_STAR"
          }
        },
        "DTMF_POUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_POUND"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TelephonyDtmfEventsDtmfEventsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TelephonyDtmfEventsDtmfEventsItemEnum"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3InputAudioConfig": {
      "type": "structure",
      "members": {
        "sampleRateHertz": {
          "target": "smithy.api#Integer"
        },
        "phraseHints": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        },
        "singleUtterance": {
          "target": "smithy.api#Boolean"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "bargeInConfig": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3BargeInConfig"
        },
        "optOutConformerModelMigration": {
          "target": "smithy.api#Boolean"
        },
        "audioEncoding": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3InputAudioConfigAudioEncodingEnum"
        },
        "enableWordInfo": {
          "target": "smithy.api#Boolean"
        },
        "modelVariant": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3InputAudioConfigModelVariantEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3InputAudioConfigAudioEncodingEnum": {
      "type": "enum",
      "members": {
        "AUDIO_ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_UNSPECIFIED"
          }
        },
        "AUDIO_ENCODING_LINEAR_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_LINEAR_16"
          }
        },
        "AUDIO_ENCODING_FLAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_FLAC"
          }
        },
        "AUDIO_ENCODING_MULAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_MULAW"
          }
        },
        "AUDIO_ENCODING_AMR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_AMR"
          }
        },
        "AUDIO_ENCODING_AMR_WB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_AMR_WB"
          }
        },
        "AUDIO_ENCODING_OGG_OPUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_OGG_OPUS"
          }
        },
        "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE"
          }
        },
        "AUDIO_ENCODING_ALAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_ALAW"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3InputAudioConfigModelVariantEnum": {
      "type": "enum",
      "members": {
        "SPEECH_MODEL_VARIANT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPEECH_MODEL_VARIANT_UNSPECIFIED"
          }
        },
        "USE_BEST_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_BEST_AVAILABLE"
          }
        },
        "USE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_STANDARD"
          }
        },
        "USE_ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_ENHANCED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentSuggestion": {
      "type": "structure",
      "members": {
        "intentV2": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail": {
      "type": "structure",
      "members": {
        "evaluationResults": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsEvaluationResultList"
        },
        "score": {
          "target": "smithy.api#Double"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "sectionSummary": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsEvaluationResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsEvaluationResult"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "type": "structure",
      "members": {
        "simpleResponses": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageSimpleResponseList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageSimpleResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageSimpleResponse"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolCall": {
      "type": "structure",
      "members": {
        "cesApp": {
          "target": "smithy.api#String"
        },
        "cesToolset": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolCallStateEnum"
        },
        "toolDisplayName": {
          "target": "smithy.api#String"
        },
        "toolDisplayDetails": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "cesTool": {
          "target": "smithy.api#String"
        },
        "inputParameters": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "tool": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolCallStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "TRIGGERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGERED"
          }
        },
        "NEEDS_CONFIRMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEEDS_CONFIRMATION"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse": {
      "type": "structure",
      "members": {
        "mergeBehavior": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponseMergeBehaviorEnum"
        },
        "messages": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ResponseMessageList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponseMergeBehaviorEnum": {
      "type": "enum",
      "members": {
        "MERGE_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGE_BEHAVIOR_UNSPECIFIED"
          }
        },
        "APPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND"
          }
        },
        "REPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLACE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ResponseMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ResponseMessage"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigFilterSpecs": {
      "type": "structure",
      "members": {
        "dataStores": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        },
        "filter": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SpeechWordInfo": {
      "type": "structure",
      "members": {
        "startOffset": {
          "target": "smithy.api#String"
        },
        "endOffset": {
          "target": "smithy.api#String"
        },
        "word": {
          "target": "smithy.api#String"
        },
        "confidence": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1BargeInConfig": {
      "type": "structure",
      "members": {
        "noBargeInDuration": {
          "target": "smithy.api#String"
        },
        "totalDuration": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3TestConfig": {
      "type": "structure",
      "members": {
        "trackingParameters": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        },
        "page": {
          "target": "smithy.api#String"
        },
        "flow": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency": {
      "type": "structure",
      "members": {
        "step": {
          "target": "smithy.api#String"
        },
        "completeTime": {
          "target": "smithy.api#String"
        },
        "startTime": {
          "target": "smithy.api#String"
        },
        "latencyMs": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3AudioInput": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3InputAudioConfig"
        },
        "audio": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2Sentiment": {
      "type": "structure",
      "members": {
        "magnitude": {
          "target": "smithy.api#Double"
        },
        "score": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult": {
      "type": "structure",
      "members": {
        "score": {
          "target": "smithy.api#Double"
        },
        "magnitude": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3FormParameter": {
      "type": "structure",
      "members": {
        "fillBehavior": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3FormParameterFillBehavior"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "entityType": {
          "target": "smithy.api#String"
        },
        "redact": {
          "target": "smithy.api#Boolean"
        },
        "advancedSettings": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "isList": {
          "target": "smithy.api#Boolean"
        },
        "defaultValue": {
          "target": "smithy.api#Document"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3BargeInConfig": {
      "type": "structure",
      "members": {
        "noBargeInDuration": {
          "target": "smithy.api#String"
        },
        "totalDuration": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolsetTool": {
      "type": "structure",
      "members": {
        "toolset": {
          "target": "smithy.api#String"
        },
        "operationId": {
          "target": "smithy.api#String"
        },
        "confirmationRequirement": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolsetToolConfirmationRequirementEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolsetToolConfirmationRequirementEnum": {
      "type": "enum",
      "members": {
        "CONFIRMATION_REQUIREMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIRMATION_REQUIREMENT_UNSPECIFIED"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED"
          }
        },
        "NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REQUIRED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio": {
      "type": "structure",
      "members": {
        "segments": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegmentList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput": {
      "type": "structure",
      "members": {
        "diagnosticInfo": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "currentPage": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1Page"
        },
        "status": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleRpcStatus"
        },
        "differences": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1TestRunDifferenceList"
        },
        "textResponses": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageTextList"
        },
        "sessionParameters": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "triggeredIntent": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1Intent"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1TestRunDifferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1TestRunDifference"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageTextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageText"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "repeatCount": {
          "target": "smithy.api#Integer"
        },
        "parts": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3IntentTrainingPhrasePartList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3IntentTrainingPhrasePartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "type": "structure",
      "members": {
        "flowUri": {
          "target": "smithy.api#String"
        },
        "flowContent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3TextInput": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ImportAgentRequest": {
      "type": "structure",
      "members": {
        "agentUri": {
          "target": "smithy.api#String"
        },
        "agentContent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ListEnvironmentsResponse": {
      "type": "structure",
      "members": {
        "environments": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1EnvironmentList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1EnvironmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Environment"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1CompileSuggestionResponse": {
      "type": "structure",
      "members": {
        "suggestion": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Suggestion"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2SmartReplyAnswer": {
      "type": "structure",
      "members": {
        "confidence": {
          "target": "smithy.api#Double"
        },
        "reply": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "type": "structure",
      "members": {
        "continuousTestResult": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3TestError": {
      "type": "structure",
      "members": {
        "testCase": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleRpcStatus"
        },
        "testTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1CesToolSpec": {
      "type": "structure",
      "members": {
        "cesTool": {
          "target": "smithy.api#String"
        },
        "confirmationRequirement": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1CesToolSpecConfirmationRequirementEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1CesToolSpecConfirmationRequirementEnum": {
      "type": "enum",
      "members": {
        "CONFIRMATION_REQUIREMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIRMATION_REQUIREMENT_UNSPECIFIED"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED"
          }
        },
        "NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REQUIRED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TextToSpeechSettings": {
      "type": "structure",
      "members": {
        "outputAudioEncoding": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TextToSpeechSettingsOutputAudioEncodingEnum"
        },
        "synthesizeSpeechConfigs": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SynthesizeSpeechConfigMap"
        },
        "enableTextToSpeech": {
          "target": "smithy.api#Boolean"
        },
        "sampleRateHertz": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TextToSpeechSettingsOutputAudioEncodingEnum": {
      "type": "enum",
      "members": {
        "OUTPUT_AUDIO_ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_UNSPECIFIED"
          }
        },
        "OUTPUT_AUDIO_ENCODING_LINEAR_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_LINEAR_16"
          }
        },
        "OUTPUT_AUDIO_ENCODING_MP3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_MP3"
          }
        },
        "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS"
          }
        },
        "OUTPUT_AUDIO_ENCODING_OGG_OPUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_OGG_OPUS"
          }
        },
        "OUTPUT_AUDIO_ENCODING_MULAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_MULAW"
          }
        },
        "OUTPUT_AUDIO_ENCODING_ALAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_ALAW"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SynthesizeSpeechConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ListVersionsResponse": {
      "type": "structure",
      "members": {
        "versions": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1VersionList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1VersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Version"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1WebhookRequest": {
      "type": "structure",
      "members": {
        "session": {
          "target": "smithy.api#String"
        },
        "responseId": {
          "target": "smithy.api#String"
        },
        "queryResult": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1QueryResult"
        },
        "alternativeQueryResults": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1QueryResultList"
        },
        "originalDetectIntentRequest": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1QueryResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1QueryResult"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1GcsSources": {
      "type": "structure",
      "members": {
        "uris": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolTLSConfigCACert": {
      "type": "structure",
      "members": {
        "cert": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAdherenceRubric": {
      "type": "structure",
      "members": {
        "reasoning": {
          "target": "smithy.api#String"
        },
        "question": {
          "target": "smithy.api#String"
        },
        "isAddressed": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "openUriAction": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2StreamingRecognitionResult": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String"
        },
        "transcript": {
          "target": "smithy.api#String"
        },
        "isFinal": {
          "target": "smithy.api#Boolean"
        },
        "confidence": {
          "target": "smithy.api#Double"
        },
        "speechEndOffset": {
          "target": "smithy.api#String"
        },
        "messageType": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2StreamingRecognitionResultMessageTypeEnum"
        },
        "speechWordInfo": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2SpeechWordInfoList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2StreamingRecognitionResultMessageTypeEnum": {
      "type": "enum",
      "members": {
        "MESSAGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_TYPE_UNSPECIFIED"
          }
        },
        "TRANSCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSCRIPT"
          }
        },
        "END_OF_SINGLE_UTTERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_OF_SINGLE_UTTERANCE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2SpeechWordInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2SpeechWordInfo"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2SummarySuggestionSummarySection": {
      "type": "structure",
      "members": {
        "section": {
          "target": "smithy.api#String"
        },
        "summary": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponse": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummary"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessage": {
      "type": "structure",
      "members": {
        "listSelect": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageListSelect"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "carouselSelect": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
        },
        "telephonyTransferCall": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
        },
        "tableCard": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageTableCard"
        },
        "simpleResponses": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
        },
        "text": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageText"
        },
        "rbmCarouselRichCard": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
        },
        "linkOutSuggestion": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
        },
        "rbmText": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageRbmText"
        },
        "browseCarouselCard": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
        },
        "telephonySynthesizeSpeech": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
        },
        "rbmStandaloneRichCard": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
        },
        "card": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageCard"
        },
        "platform": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessagePlatformEnum"
        },
        "suggestions": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
        },
        "image": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "mediaContent": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
        },
        "quickReplies": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
        },
        "basicCard": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
        },
        "telephonyPlayAudio": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessagePlatformEnum": {
      "type": "enum",
      "members": {
        "PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_UNSPECIFIED"
          }
        },
        "FACEBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FACEBOOK"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLACK"
          }
        },
        "TELEGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELEGRAM"
          }
        },
        "KIK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIK"
          }
        },
        "SKYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKYPE"
          }
        },
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE"
          }
        },
        "VIBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIBER"
          }
        },
        "ACTIONS_ON_GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIONS_ON_GOOGLE"
          }
        },
        "TELEPHONY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELEPHONY"
          }
        },
        "GOOGLE_HANGOUTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_HANGOUTS"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigSections": {
      "type": "structure",
      "members": {
        "sectionTypes": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigSectionsSectionTypesItemEnumList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigSectionsSectionTypesItemEnum": {
      "type": "enum",
      "members": {
        "SECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_UNSPECIFIED"
          }
        },
        "SITUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SITUATION"
          }
        },
        "ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION"
          }
        },
        "RESOLUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLUTION"
          }
        },
        "REASON_FOR_CANCELLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REASON_FOR_CANCELLATION"
          }
        },
        "CUSTOMER_SATISFACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_SATISFACTION"
          }
        },
        "ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITIES"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigSectionsSectionTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigSectionsSectionTypesItemEnum"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AnswerFeedback": {
      "type": "structure",
      "members": {
        "correctnessLevel": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AnswerFeedbackCorrectnessLevelEnum"
        },
        "displayTime": {
          "target": "smithy.api#String"
        },
        "clicked": {
          "target": "smithy.api#Boolean"
        },
        "clickTime": {
          "target": "smithy.api#String"
        },
        "agentAssistantDetailFeedback": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentAssistantFeedback"
        },
        "displayed": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AnswerFeedbackCorrectnessLevelEnum": {
      "type": "enum",
      "members": {
        "CORRECTNESS_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORRECTNESS_LEVEL_UNSPECIFIED"
          }
        },
        "NOT_CORRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CORRECT"
          }
        },
        "PARTIALLY_CORRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIALLY_CORRECT"
          }
        },
        "FULLY_CORRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULLY_CORRECT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "ssml": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "smithy.api#String"
        },
        "caseContent": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContentList"
        }
      }
    },
[...]
