{
  "smithy": "2.0",
  "metadata": {
    "service": "dialogflow",
    "version": "v2",
    "title": "Dialogflow API",
    "baseUrl": "https://dialogflow.googleapis.com/"
  },
  "shapes": {
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion": {
      "type": "structure",
      "members": {
        "agentAction": {
          "target": "smithy.api#String"
        },
        "sources": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ServiceLatency": {
      "type": "structure",
      "members": {
        "internalServiceLatencies": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatencyList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateSuggestionsRequest": {
      "type": "structure",
      "members": {
        "triggerEvents": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateSuggestionsRequestTriggerEventsItemEnumList"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateSuggestionsRequestTriggerEventsItemEnum": {
      "type": "enum",
      "members": {
        "TRIGGER_EVENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGER_EVENT_UNSPECIFIED"
          }
        },
        "END_OF_UTTERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_OF_UTTERANCE"
          }
        },
        "MANUAL_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL_CALL"
          }
        },
        "CUSTOMER_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MESSAGE"
          }
        },
        "AGENT_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_MESSAGE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateSuggestionsRequestTriggerEventsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateSuggestionsRequestTriggerEventsItemEnum"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        },
        "urlTypeHint": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlActionUrlTypeHintEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlActionUrlTypeHintEnum": {
      "type": "enum",
      "members": {
        "URL_TYPE_HINT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL_TYPE_HINT_UNSPECIFIED"
          }
        },
        "AMP_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMP_ACTION"
          }
        },
        "AMP_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMP_CONTENT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1GcsDestination": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestionInput": {
      "type": "structure",
      "members": {
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "sendTime": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestionInputActionEnum"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestionInputActionEnum": {
      "type": "enum",
      "members": {
        "ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_UNSPECIFIED"
          }
        },
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL"
          }
        },
        "REVISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVISE"
          }
        },
        "CONFIRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIRM"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2RestoreAgentRequest": {
      "type": "structure",
      "members": {
        "agentUri": {
          "target": "smithy.api#String"
        },
        "agentContent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantEvent": {
      "type": "structure",
      "members": {
        "suggestionResults": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestionResultList"
        },
        "participant": {
          "target": "smithy.api#String"
        },
        "conversation": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestionResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestionResult"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String"
        },
        "secretVersionForToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "type": "structure",
      "members": {
        "entityType": {
          "target": "smithy.api#String"
        },
        "userDefined": {
          "target": "smithy.api#Boolean"
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Message": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "participant": {
          "target": "smithy.api#String"
        },
        "sentimentAnalysis": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "messageAnnotation": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2MessageAnnotation"
        },
        "sendTime": {
          "target": "smithy.api#String"
        },
        "participantRole": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2MessageParticipantRoleEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2MessageParticipantRoleEnum": {
      "type": "enum",
      "members": {
        "ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_UNSPECIFIED"
          }
        },
        "HUMAN_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_AGENT"
          }
        },
        "AUTOMATED_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_AGENT"
          }
        },
        "END_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_USER"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageTableCard": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "subtitle": {
          "target": "smithy.api#String"
        },
        "buttons": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageBasicCardButtonList"
        },
        "image": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageImage"
        },
        "columnProperties": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageColumnPropertiesList"
        },
        "rows": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageTableCardRowList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageBasicCardButtonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageBasicCardButton"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageColumnPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageColumnProperties"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageTableCardRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageTableCardRow"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetrics": {
      "type": "structure",
      "members": {
        "overallSectionTokens": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionTokenList"
        },
        "overallMetrics": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetricList"
        },
        "conversationDetails": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetailList"
        },
        "summarizationEvaluationResults": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetricsSummarizationEvaluationResultList"
        },
        "summarizationEvaluationMergedResultsUri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionTokenList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetric"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetail"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetricsSummarizationEvaluationResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetricsSummarizationEvaluationResult"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InferenceParameter": {
      "type": "structure",
      "members": {
        "maxOutputTokens": {
          "target": "smithy.api#Integer"
        },
        "temperature": {
          "target": "smithy.api#Double"
        },
        "topP": {
          "target": "smithy.api#Double"
        },
        "topK": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "type": "structure",
      "members": {
        "summarySections": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SummarySuggestionSummarySectionList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SummarySuggestionSummarySectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3IntentInput": {
      "type": "structure",
      "members": {
        "intent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationContext": {
      "type": "structure",
      "members": {
        "fewShotExamples": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2FewShotExampleList"
        },
        "summarizationSections": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationSectionList_"
        },
        "version": {
          "target": "smithy.api#String"
        },
        "outputLanguageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2FewShotExampleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2FewShotExample"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationSectionList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationSection"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ExportEntityTypesMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ExportEntityTypesResponse": {
      "type": "structure",
      "members": {
        "entityTypesUri": {
          "target": "smithy.api#String"
        },
        "entityTypesContent": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3InlineDestination"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "type": "structure",
      "members": {
        "enableStackdriverLogging": {
          "target": "smithy.api#Boolean"
        },
        "enableInteractionLogging": {
          "target": "smithy.api#Boolean"
        },
        "enableConsentBasedRedaction": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3FulfillmentSetParameterAction": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Document"
        },
        "parameter": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
      "type": "structure",
      "members": {
        "webhookOverrides": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3Webhook"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Connection": {
      "type": "structure",
      "members": {
        "errorDetails": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConnectionErrorDetails"
        },
        "connectionId": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConnectionStateEnum"
        },
        "updateTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConnectionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTED"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCONNECTED"
          }
        },
        "AUTHENTICATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_FAILED"
          }
        },
        "KEEPALIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEEPALIVE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1TelephonyDtmfEvents": {
      "type": "structure",
      "members": {
        "dtmfEvents": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1TelephonyDtmfEventsDtmfEventsItemEnumList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1TelephonyDtmfEventsDtmfEventsItemEnum": {
      "type": "enum",
      "members": {
        "TELEPHONY_DTMF_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELEPHONY_DTMF_UNSPECIFIED"
          }
        },
        "DTMF_ONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_ONE"
          }
        },
        "DTMF_TWO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_TWO"
          }
        },
        "DTMF_THREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_THREE"
          }
        },
        "DTMF_FOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_FOUR"
          }
        },
        "DTMF_FIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_FIVE"
          }
        },
        "DTMF_SIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_SIX"
          }
        },
        "DTMF_SEVEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_SEVEN"
          }
        },
        "DTMF_EIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_EIGHT"
          }
        },
        "DTMF_NINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_NINE"
          }
        },
        "DTMF_ZERO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_ZERO"
          }
        },
        "DTMF_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_A"
          }
        },
        "DTMF_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_B"
          }
        },
        "DTMF_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_C"
          }
        },
        "DTMF_D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_D"
          }
        },
        "DTMF_STAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_STAR"
          }
        },
        "DTMF_POUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_POUND"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1TelephonyDtmfEventsDtmfEventsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1TelephonyDtmfEventsDtmfEventsItemEnum"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Document"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateStatelessSummaryResponse": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateStatelessSummaryResponseSummary"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentSuggestion": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "intentV2": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3InputAudioConfig": {
      "type": "structure",
      "members": {
        "audioEncoding": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3InputAudioConfigAudioEncodingEnum"
        },
        "enableWordInfo": {
          "target": "smithy.api#Boolean"
        },
        "modelVariant": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3InputAudioConfigModelVariantEnum"
        },
        "singleUtterance": {
          "target": "smithy.api#Boolean"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "bargeInConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3BargeInConfig"
        },
        "optOutConformerModelMigration": {
          "target": "smithy.api#Boolean"
        },
        "sampleRateHertz": {
          "target": "smithy.api#Integer"
        },
        "phraseHints": {
          "target": "com.gcp.dialogflow_v2#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3InputAudioConfigAudioEncodingEnum": {
      "type": "enum",
      "members": {
        "AUDIO_ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_UNSPECIFIED"
          }
        },
        "AUDIO_ENCODING_LINEAR_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_LINEAR_16"
          }
        },
        "AUDIO_ENCODING_FLAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_FLAC"
          }
        },
        "AUDIO_ENCODING_MULAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_MULAW"
          }
        },
        "AUDIO_ENCODING_AMR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_AMR"
          }
        },
        "AUDIO_ENCODING_AMR_WB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_AMR_WB"
          }
        },
        "AUDIO_ENCODING_OGG_OPUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_OGG_OPUS"
          }
        },
        "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE"
          }
        },
        "AUDIO_ENCODING_ALAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_ALAW"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3InputAudioConfigModelVariantEnum": {
      "type": "enum",
      "members": {
        "SPEECH_MODEL_VARIANT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPEECH_MODEL_VARIANT_UNSPECIFIED"
          }
        },
        "USE_BEST_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_BEST_AVAILABLE"
          }
        },
        "USE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_STANDARD"
          }
        },
        "USE_ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_ENHANCED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ToolCall": {
      "type": "structure",
      "members": {
        "cesToolset": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ToolCallStateEnum"
        },
        "cesApp": {
          "target": "smithy.api#String"
        },
        "cesTool": {
          "target": "smithy.api#String"
        },
        "toolDisplayDetails": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "toolDisplayName": {
          "target": "smithy.api#String"
        },
        "tool": {
          "target": "smithy.api#String"
        },
        "inputParameters": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ToolCallStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "TRIGGERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGERED"
          }
        },
        "NEEDS_CONFIRMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEEDS_CONFIRMATION"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "type": "structure",
      "members": {
        "simpleResponses": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageSimpleResponseList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageSimpleResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageSimpleResponse"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageList"
        },
        "mergeBehavior": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponseMergeBehaviorEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessage"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponseMergeBehaviorEnum": {
      "type": "enum",
      "members": {
        "MERGE_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGE_BEHAVIOR_UNSPECIFIED"
          }
        },
        "APPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND"
          }
        },
        "REPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLACE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2FreeFormContext": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SpeechWordInfo": {
      "type": "structure",
      "members": {
        "word": {
          "target": "smithy.api#String"
        },
        "startOffset": {
          "target": "smithy.api#String"
        },
        "endOffset": {
          "target": "smithy.api#String"
        },
        "confidence": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TestConfig": {
      "type": "structure",
      "members": {
        "trackingParameters": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "page": {
          "target": "smithy.api#String"
        },
        "flow": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig": {
      "type": "structure",
      "members": {
        "recentSentencesCount": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency": {
      "type": "structure",
      "members": {
        "latencyMs": {
          "target": "smithy.api#Double"
        },
        "startTime": {
          "target": "smithy.api#String"
        },
        "step": {
          "target": "smithy.api#String"
        },
        "completeTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestConversationSummaryRequest": {
      "type": "structure",
      "members": {
        "assistQueryParams": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AssistQueryParameters"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Generator": {
      "type": "structure",
      "members": {
        "cesToolSpecs": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesToolSpecList"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "inferenceParameter": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InferenceParameter"
        },
        "toolsetTools": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolsetToolList"
        },
        "suggestionDedupingConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestionDedupingConfig"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "cesAppSpecs": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesAppSpecList"
        },
        "updateTime": {
          "target": "smithy.api#String"
        },
        "publishedModel": {
          "target": "smithy.api#String"
        },
        "tools": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "freeFormContext": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2FreeFormContext"
        },
        "agentCoachingContext": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingContext"
        },
        "summarizationContext": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationContext"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "triggerEvent": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorTriggerEventEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesToolSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesToolSpec"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolsetToolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolsetTool"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesAppSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesAppSpec"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorTriggerEventEnum": {
      "type": "enum",
      "members": {
        "TRIGGER_EVENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGER_EVENT_UNSPECIFIED"
          }
        },
        "END_OF_UTTERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_OF_UTTERANCE"
          }
        },
        "MANUAL_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL_CALL"
          }
        },
        "CUSTOMER_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MESSAGE"
          }
        },
        "AGENT_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_MESSAGE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageListSelectItemList"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "subtitle": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageListSelectItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "type": "structure",
      "members": {
        "exportOperationMetadata": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ExportOperationMetadata"
        },
        "state": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeOperationMetadataStateEnum"
        },
        "doneTime": {
          "target": "smithy.api#String"
        },
        "knowledgeBase": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeOperationMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GcsSources": {
      "type": "structure",
      "members": {
        "uris": {
          "target": "com.gcp.dialogflow_v2#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ImportConversationDataOperationMetadata": {
      "type": "structure",
      "members": {
        "partialFailures": {
          "target": "com.gcp.dialogflow_v2#GoogleRpcStatusList"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "conversationDataset": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleRpcStatus"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "type": "structure",
      "members": {
        "audioUri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CompleteConversationRequest": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageListSelect": {
      "type": "structure",
      "members": {
        "subtitle": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "items": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageListSelectItemList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageListSelectItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageListSelectItem"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ImportTestCasesResponse": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.gcp.dialogflow_v2#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject": {
      "type": "structure",
      "members": {
        "icon": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageImage"
        },
        "contentUrl": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "largeImage": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageImage"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageMediaContent": {
      "type": "structure",
      "members": {
        "mediaType": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageMediaContentMediaTypeEnum"
        },
        "mediaObjects": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObjectList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageMediaContentMediaTypeEnum": {
      "type": "enum",
      "members": {
        "RESPONSE_MEDIA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE_MEDIA_TYPE_UNSPECIFIED"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequest": {
      "type": "structure",
      "members": {
        "searchConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfig"
        },
        "sessionId": {
          "target": "smithy.api#String"
        },
        "exactSearch": {
          "target": "smithy.api#Boolean"
        },
        "conversation": {
          "target": "smithy.api#String"
        },
        "parent": {
          "target": "smithy.api#String"
        },
        "querySource": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestQuerySourceEnum"
        },
        "conversationProfile": {
          "target": "smithy.api#String"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "query": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2TextInput"
        },
        "endUserMetadata": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestQuerySourceEnum": {
      "type": "enum",
      "members": {
        "QUERY_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_SOURCE_UNSPECIFIED"
          }
        },
        "AGENT_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_QUERY"
          }
        },
        "SUGGESTED_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUGGESTED_QUERY"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1QueryResult": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String"
        },
        "webhookSource": {
          "target": "smithy.api#String"
        },
        "fulfillmentMessages": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageList"
        },
        "queryText": {
          "target": "smithy.api#String"
        },
        "webhookPayload": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "fulfillmentText": {
          "target": "smithy.api#String"
        },
        "outputContexts": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ContextList"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "intent": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1Intent"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "cancelsSlotFilling": {
          "target": "smithy.api#Boolean"
        },
        "allRequiredParamsPresent": {
          "target": "smithy.api#Boolean"
        },
        "sentimentAnalysisResult": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "intentDetectionConfidence": {
          "target": "smithy.api#Double"
        },
        "knowledgeAnswers": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAnswers"
        },
        "speechRecognitionConfidence": {
          "target": "smithy.api#Double"
        },
        "diagnosticInfo": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessage"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1Context"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall": {
      "type": "structure",
      "members": {
        "phoneNumber": {
          "target": "smithy.api#String"
        },
        "sipUri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfig": {
      "type": "structure",
      "members": {
        "boostSpecs": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsList"
        },
        "filterSpecs": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigFilterSpecsList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecs"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigFilterSpecsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigFilterSpecs"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata": {
      "type": "structure",
      "members": {
        "conversationModel": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadataStateEnum"
        },
        "conversationModelEvaluation": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3Intent": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "labels": {
          "target": "com.gcp.dialogflow_v2#StringMap"
        },
        "priority": {
          "target": "smithy.api#Integer"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "isFallback": {
          "target": "smithy.api#Boolean"
        },
        "dtmfPattern": {
          "target": "smithy.api#String"
        },
        "trainingPhrases": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3IntentTrainingPhraseList"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3IntentParameterList"
        }
      }
    },
    "com.gcp.dialogflow_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3IntentTrainingPhraseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3IntentTrainingPhrase"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3IntentParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3IntentParameter"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ContinuousTestResultResultEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "testCaseResults": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "runTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ContinuousTestResultResultEnum": {
      "type": "enum",
      "members": {
        "AGGREGATED_TEST_RESULT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATED_TEST_RESULT_UNSPECIFIED"
          }
        },
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListIntentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "intents": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Intent"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.dialogflow_v2#GoogleRpcStatus"
        },
        "testCase": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestCase"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "type": "structure",
      "members": {
        "lastMatchedIntent": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValueMap"
        },
        "confidence": {
          "target": "smithy.api#Double"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SynthesizeSpeechConfig": {
      "type": "structure",
      "members": {
        "pronunciations": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CustomPronunciationParamsList"
        },
        "pitch": {
          "target": "smithy.api#Double"
        },
        "effectsProfileId": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "speakingRate": {
          "target": "smithy.api#Double"
        },
        "voice": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2VoiceSelectionParams"
        },
        "volumeGainDb": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CustomPronunciationParamsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CustomPronunciationParams"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListMessagesResponse": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2MessageList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2MessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Message"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AnalyzeContentRequest": {
      "type": "structure",
      "members": {
        "cxParameters": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "replyAudioConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2OutputAudioConfig"
        },
        "queryParams": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2QueryParameters"
        },
        "assistQueryParams": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AssistQueryParameters"
        },
        "suggestionInput": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestionInput"
        },
        "eventInput": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EventInput"
        },
        "textInput": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2TextInput"
        },
        "requestId": {
          "target": "smithy.api#String"
        },
        "audioInput": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AudioInput"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "type": "structure",
      "members": {
        "promptTokenCount": {
          "target": "smithy.api#Integer"
        },
        "candidatesTokenCount": {
          "target": "smithy.api#Integer"
        },
        "totalTokenCount": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EvaluationConfig": {
      "type": "structure",
      "members": {
        "datasets": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputDatasetList"
        },
        "smartReplyConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EvaluationConfigSmartReplyConfig"
        },
        "smartComposeConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EvaluationConfigSmartComposeConfig"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputDatasetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputDataset"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.gcp.dialogflow_v2#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue": {
      "type": "structure",
      "members": {
        "secretVersion": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistDebugInfo": {
      "type": "structure",
      "members": {
        "knowledgeAssistBehavior": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "serviceLatency": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ServiceLatency"
        },
        "queryGenerationFailureReason": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationFailureReasonEnum"
        },
        "queryGenerationDebugInfo": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "datastoreResponseReason": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoDatastoreResponseReasonEnum"
        },
        "ingestedContextReferenceDebugInfo": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        },
        "queryCategorizationFailureReason": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryCategorizationFailureReasonEnum"
        },
        "cesDebugInfo": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationFailureReasonEnum": {
      "type": "enum",
      "members": {
        "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED"
          }
        },
        "QUERY_GENERATION_OUT_OF_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_OUT_OF_QUOTA"
          }
        },
        "QUERY_GENERATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_FAILED"
          }
        },
        "QUERY_GENERATION_NO_QUERY_GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_NO_QUERY_GENERATED"
          }
        },
        "QUERY_GENERATION_RAI_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_RAI_FAILED"
          }
        },
        "NOT_IN_ALLOWLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_IN_ALLOWLIST"
          }
        },
        "QUERY_GENERATION_QUERY_REDACTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_QUERY_REDACTED"
          }
        },
        "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED"
          }
        },
        "QUERY_GENERATION_EMPTY_CONVERSATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_EMPTY_CONVERSATION"
          }
        },
        "QUERY_GENERATION_EMPTY_LAST_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_EMPTY_LAST_MESSAGE"
          }
        },
        "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoDatastoreResponseReasonEnum": {
      "type": "enum",
      "members": {
        "DATASTORE_RESPONSE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATASTORE_RESPONSE_REASON_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "SEARCH_OUT_OF_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_OUT_OF_QUOTA"
          }
        },
        "SEARCH_EMPTY_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_EMPTY_RESULTS"
          }
        },
        "ANSWER_GENERATION_GEN_AI_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_GEN_AI_DISABLED"
          }
        },
        "ANSWER_GENERATION_OUT_OF_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_OUT_OF_QUOTA"
          }
        },
        "ANSWER_GENERATION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_ERROR"
          }
        },
        "ANSWER_GENERATION_NOT_ENOUGH_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_NOT_ENOUGH_INFO"
          }
        },
        "ANSWER_GENERATION_RAI_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_RAI_FAILED"
          }
        },
        "ANSWER_GENERATION_NOT_GROUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_NOT_GROUNDED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryCategorizationFailureReasonEnum": {
      "type": "enum",
      "members": {
        "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED"
          }
        },
        "QUERY_CATEGORIZATION_INVALID_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_CATEGORIZATION_INVALID_CONFIG"
          }
        },
        "QUERY_CATEGORIZATION_RESULT_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_CATEGORIZATION_RESULT_NOT_FOUND"
          }
        },
        "QUERY_CATEGORIZATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_CATEGORIZATION_FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "type": "structure",
      "members": {
        "cells": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageTableCardCellList"
        },
        "dividerAfter": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageTableCardCellList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ExportAgentResponse": {
      "type": "structure",
      "members": {
        "agentUri": {
          "target": "smithy.api#String"
        },
        "agentContent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestFaqAnswersRequest": {
      "type": "structure",
      "members": {
        "assistQueryParams": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AssistQueryParameters"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthentication": {
      "type": "structure",
      "members": {
        "apiKeyConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig"
        },
        "serviceAgentAuthConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig"
        },
        "bearerTokenConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig"
        },
        "oauthConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationOAuthConfig"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ValidationError": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "errorMessage": {
          "target": "smithy.api#String"
        },
        "severity": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ValidationErrorSeverityEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ValidationErrorSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigSections": {
      "type": "structure",
      "members": {
        "sectionTypes": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigSectionsSectionTypesItemEnumList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigSectionsSectionTypesItemEnum": {
      "type": "enum",
      "members": {
        "SECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_UNSPECIFIED"
          }
        },
        "SITUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SITUATION"
          }
        },
        "ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION"
          }
        },
        "RESOLUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLUTION"
          }
        },
        "REASON_FOR_CANCELLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REASON_FOR_CANCELLATION"
          }
        },
        "CUSTOMER_SATISFACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_SATISFACTION"
          }
        },
        "ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITIES"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigSectionsSectionTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigSectionsSectionTypesItemEnum"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "structure",
      "members": {
        "openUriAction": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "image": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "footer": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageTableCardCell": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorEvaluationConfigAgentAssistInputDataConfig": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String"
        },
        "endTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageCardButton": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "postback": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig": {
      "type": "structure",
      "members": {
        "agent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SentimentAnalysisRequestConfig": {
      "type": "structure",
      "members": {
        "analyzeQueryTextSentiment": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputConfig": {
      "type": "structure",
      "members": {
        "gcsSource": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GcsSources"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Environment": {
      "type": "structure",
      "members": {
        "agentVersion": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EnvironmentStateEnum"
        },
        "updateTime": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "textToSpeechSettings": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2TextToSpeechSettings"
        },
        "fulfillment": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Fulfillment"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EnvironmentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "LOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOADING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EvaluationStatus": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean"
        },
        "pipelineStatus": {
          "target": "com.gcp.dialogflow_v2#GoogleRpcStatus"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "type": "structure",
      "members": {
        "queryContainedSearchContext": {
          "target": "smithy.api#Boolean"
        },
        "useTranslatedMessage": {
          "target": "smithy.api#Boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "target": "smithy.api#Boolean"
        },
        "multipleQueriesGenerated": {
          "target": "smithy.api#Boolean"
        },
        "usePubsubDelivery": {
          "target": "smithy.api#Boolean"
        },
        "appendedSearchContextCount": {
          "target": "smithy.api#Integer"
        },
        "endUserMetadataIncluded": {
          "target": "smithy.api#Boolean"
        },
        "thirdPartyConnectorAllowed": {
          "target": "smithy.api#Boolean"
        },
        "answerGenerationRewriterOn": {
          "target": "smithy.api#Boolean"
        },
        "disableSyncDelivery": {
          "target": "smithy.api#Boolean"
        },
        "useCustomSafetyFilterLevel": {
          "target": "smithy.api#Boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "target": "smithy.api#Boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "target": "smithy.api#Boolean"
        },
        "previousQueriesIncluded": {
          "target": "smithy.api#Boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "target": "smithy.api#Boolean"
        },
        "returnQueryOnly": {
          "target": "smithy.api#Boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TestCaseResultList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TestCaseResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TestCaseResult"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesToolSpec": {
      "type": "structure",
      "members": {
        "cesTool": {
          "target": "smithy.api#String"
        },
        "confirmationRequirement": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesToolSpecConfirmationRequirementEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesToolSpecConfirmationRequirementEnum": {
      "type": "enum",
      "members": {
        "CONFIRMATION_REQUIREMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIRMATION_REQUIREMENT_UNSPECIFIED"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED"
          }
        },
        "NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REQUIRED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "type": "structure",
      "members": {
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "generatorSuggestion": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorSuggestion"
        },
        "sourceGenerator": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "type": "structure",
      "members": {
        "deployment": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1Environment"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig": {
      "type": "structure",
      "members": {
        "serviceAgentAuth": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfigServiceAgentAuthEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfigServiceAgentAuthEnum": {
      "type": "enum",
      "members": {
        "SERVICE_AGENT_AUTH_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_AGENT_AUTH_UNSPECIFIED"
          }
        },
        "ID_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID_TOKEN"
          }
        },
        "ACCESS_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_TOKEN"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ExportIntentsResponse": {
      "type": "structure",
      "members": {
        "intentsContent": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1InlineDestination"
        },
        "intentsUri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "type": "structure",
      "members": {
        "answers": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswerList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookRequest": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String"
        },
        "triggerIntent": {
          "target": "smithy.api#String"
        },
        "dtmfDigits": {
          "target": "smithy.api#String"
        },
        "triggerEvent": {
          "target": "smithy.api#String"
        },
        "messages": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageList"
        },
        "detectIntentResponseId": {
          "target": "smithy.api#String"
        },
        "languageInfo": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3LanguageInfo"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "transcript": {
          "target": "smithy.api#String"
        },
        "sessionInfo": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3SessionInfo"
        },
        "fulfillmentInfo": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
        },
        "intentInfo": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
        },
        "pageInfo": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3PageInfo"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "sentimentAnalysisResult": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "type": "structure",
      "members": {
        "confidence": {
          "target": "smithy.api#Double"
        },
        "reply": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestion": {
      "type": "structure",
      "members": {
        "applicableInstructions": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingInstructionList"
        },
        "sampleResponses": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponseList"
        },
        "agentActionSuggestions": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestionList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingInstructionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingInstruction"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2DtmfParameters": {
      "type": "structure",
      "members": {
        "acceptsDtmfInput": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest": {
      "type": "structure",
      "members": {
        "encryptionSpec": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1EncryptionSpec"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2RaiSettings": {
      "type": "structure",
      "members": {
        "raiCategoryConfigs": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfigList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfig"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult": {
      "type": "structure",
      "members": {
        "magnitude": {
          "target": "smithy.api#Double"
        },
        "score": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CreateConversationModelEvaluationRequest": {
      "type": "structure",
      "members": {
        "conversationModelEvaluation": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationModelEvaluation"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestConfig": {
      "type": "structure",
      "members": {
        "trackingParameters": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "page": {
          "target": "smithy.api#String"
        },
        "flow": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig": {
      "type": "structure",
      "members": {
        "enableEntityExtraction": {
          "target": "smithy.api#Boolean"
        },
        "enableSentimentAnalysis": {
          "target": "smithy.api#Boolean"
        },
        "enableSentimentAnalysisV3": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig": {
      "type": "structure",
      "members": {
        "keyName": {
          "target": "smithy.api#String"
        },
        "apiKey": {
          "target": "smithy.api#String"
        },
        "secretVersionForApiKey": {
          "target": "smithy.api#String"
        },
        "requestLocation": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfigRequestLocationEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfigRequestLocationEnum": {
      "type": "enum",
      "members": {
        "REQUEST_LOCATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_LOCATION_UNSPECIFIED"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADER"
          }
        },
        "QUERY_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_STRING"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "type": "structure",
      "members": {
        "testErrors": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TestErrorList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TestErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TestError"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem": {
      "type": "structure",
      "members": {
        "info": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "image": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata": {
      "type": "structure",
      "members": {
        "conversationModel": {
          "target": "smithy.api#String"
        },
        "doneTime": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListDocumentsResponse": {
      "type": "structure",
      "members": {
        "documents": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2DocumentList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2DocumentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Document"
      }
    },
    "com.gcp.dialogflow_v2#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.dialogflow_v2#GoogleLongrunningOperationList"
        },
        "unreachable": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleLongrunningOperation"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageImage": {
      "type": "structure",
      "members": {
        "imageUri": {
          "target": "smithy.api#String"
        },
        "accessibilityText": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestArticlesResponse": {
      "type": "structure",
      "members": {
        "articleAnswers": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ArticleAnswerList"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ArticleAnswerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ArticleAnswer"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeDebugInfo": {
      "type": "structure",
      "members": {
        "serviceLatency": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ServiceLatency"
        },
        "searchKnowledgeBehavior": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeDebugInfoSearchKnowledgeBehavior"
        },
        "datastoreResponseReason": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeDebugInfoDatastoreResponseReasonEnum"
        },
        "ingestedContextReferenceDebugInfo": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeDebugInfoDatastoreResponseReasonEnum": {
      "type": "enum",
      "members": {
        "DATASTORE_RESPONSE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATASTORE_RESPONSE_REASON_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "SEARCH_OUT_OF_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_OUT_OF_QUOTA"
          }
        },
        "SEARCH_EMPTY_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_EMPTY_RESULTS"
          }
        },
        "ANSWER_GENERATION_GEN_AI_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_GEN_AI_DISABLED"
          }
        },
        "ANSWER_GENERATION_OUT_OF_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_OUT_OF_QUOTA"
          }
        },
        "ANSWER_GENERATION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_ERROR"
          }
        },
        "ANSWER_GENERATION_NOT_ENOUGH_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_NOT_ENOUGH_INFO"
          }
        },
        "ANSWER_GENERATION_RAI_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_RAI_FAILED"
          }
        },
        "ANSWER_GENERATION_NOT_GROUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER_GENERATION_NOT_GROUNDED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "parameterId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse": {
      "type": "structure",
      "members": {
        "knowledgeAssistAnswer": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        },
        "additionalSuggestedQueryResults": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResultList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListToolsResponse": {
      "type": "structure",
      "members": {
        "tools": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Tool"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2OriginalDetectIntentRequest": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "smithy.api#String"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpec": {
      "type": "structure",
      "members": {
        "conditionBoostSpecs": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpec"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestCaseResultList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestCaseResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestCaseResult"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse": {
      "type": "structure",
      "members": {
        "faqAnswers": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1FaqAnswerList"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1FaqAnswerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1FaqAnswer"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1EncryptionSpec": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "kmsKey": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig": {
      "type": "structure",
      "members": {
        "webhookOverrides": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1Webhook"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummary": {
      "type": "structure",
      "members": {
        "sortedTextSections": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummarySummarySectionList"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "textSections": {
          "target": "com.gcp.dialogflow_v2#StringMap"
        },
        "baselineModelVersion": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummarySummarySectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummarySummarySection"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateStatelessSummaryRequest": {
      "type": "structure",
      "members": {
        "statelessConversation": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateStatelessSummaryRequestMinimalConversation"
        },
        "conversationProfile": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationProfile"
        },
        "maxContextSize": {
          "target": "smithy.api#Integer"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric": {
      "type": "structure",
      "members": {
        "reasoning": {
          "target": "smithy.api#String"
        },
        "isAddressed": {
          "target": "smithy.api#Boolean"
        },
        "question": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1BargeInConfig": {
      "type": "structure",
      "members": {
        "noBargeInDuration": {
          "target": "smithy.api#String"
        },
        "totalDuration": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput": {
      "type": "structure",
      "members": {
        "input": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1QueryInput"
        },
        "enableSentimentAnalysis": {
          "target": "smithy.api#Boolean"
        },
[...]
