{
  "smithy": "2.0",
  "metadata": {
    "service": "dialogflow",
    "version": "v3beta1",
    "title": "Dialogflow API",
    "baseUrl": "https://dialogflow.googleapis.com/"
  },
  "shapes": {
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig": {
      "type": "structure",
      "members": {
        "enableContinuousRun": {
          "target": "smithy.api#Boolean"
        },
        "enablePredeploymentRun": {
          "target": "smithy.api#Boolean"
        },
        "testCases": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse": {
      "type": "structure",
      "members": {
        "sources": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        },
        "responseText": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1VariantsHistory": {
      "type": "structure",
      "members": {
        "versionVariants": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1VersionVariants"
        },
        "updateTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1CalculateCoverageResponse": {
      "type": "structure",
      "members": {
        "agent": {
          "target": "smithy.api#String"
        },
        "intentCoverage": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1IntentCoverage"
        },
        "routeGroupCoverage": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverage"
        },
        "transitionCoverage": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TransitionCoverage"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SubmitAnswerFeedbackRequest": {
      "type": "structure",
      "members": {
        "responseId": {
          "target": "smithy.api#String"
        },
        "updateMask": {
          "target": "smithy.api#String"
        },
        "answerFeedback": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1AnswerFeedback"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfig": {
      "type": "structure",
      "members": {
        "oauth2AuthCodeConfig": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2AuthCodeConfig"
        },
        "oauth2JwtBearerConfig": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2JwtBearerConfig"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "type": "structure",
      "members": {
        "testErrors": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TestErrorList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TestErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TestError"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "type": "structure",
      "members": {
        "snippets": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "event": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TestCase": {
      "type": "structure",
      "members": {
        "notes": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "testCaseConversationTurns": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ConversationTurnList"
        },
        "tags": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "testConfig": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TestConfig"
        },
        "creationTime": {
          "target": "smithy.api#String"
        },
        "lastTestResult": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TestCaseResult"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ConversationTurnList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ConversationTurn"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency": {
      "type": "structure",
      "members": {
        "step": {
          "target": "smithy.api#String"
        },
        "latencyMs": {
          "target": "smithy.api#Double"
        },
        "completeTime": {
          "target": "smithy.api#String"
        },
        "startTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ServiceLatency": {
      "type": "structure",
      "members": {
        "internalServiceLatencies": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatencyList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionRequest": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings": {
      "type": "structure",
      "members": {
        "outputParameter": {
          "target": "smithy.api#String"
        },
        "inputParameters": {
          "target": "com.gcp.dialogflow_v3beta1#StringMap"
        },
        "generator": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String"
        },
        "conversationModel": {
          "target": "smithy.api#String"
        },
        "doneTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue": {
      "type": "structure",
      "members": {
        "secretVersion": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse": {
      "type": "structure",
      "members": {
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "generatorSuggestionAnswers": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswerList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "isList": {
          "target": "smithy.api#Boolean"
        },
        "entityType": {
          "target": "smithy.api#String"
        },
        "redact": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ListSessionEntityTypesResponse": {
      "type": "structure",
      "members": {
        "sessionEntityTypes": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SessionEntityTypeList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SessionEntityTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SessionEntityType"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "uri": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "metadata": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent": {
      "type": "structure",
      "members": {
        "media": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "suggestions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestionList"
        },
        "description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1SentimentAnalysisResult": {
      "type": "structure",
      "members": {
        "queryTextSentiment": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1Sentiment"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1WebhookRequest": {
      "type": "structure",
      "members": {
        "responseId": {
          "target": "smithy.api#String"
        },
        "queryResult": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1QueryResult"
        },
        "session": {
          "target": "smithy.api#String"
        },
        "alternativeQueryResults": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1QueryResultList"
        },
        "originalDetectIntentRequest": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1QueryResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1QueryResult"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolCall": {
      "type": "structure",
      "members": {
        "inputParameters": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "tool": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessage": {
      "type": "structure",
      "members": {
        "telephonySynthesizeSpeech": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
        },
        "browseCarouselCard": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
        },
        "basicCard": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
        },
        "tableCard": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageTableCard"
        },
        "listSelect": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageListSelect"
        },
        "carouselSelect": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
        },
        "mediaContent": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
        },
        "linkOutSuggestion": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
        },
        "platform": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessagePlatformEnum"
        },
        "image": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "text": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageText"
        },
        "card": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageCard"
        },
        "telephonyTransferCall": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
        },
        "rbmCarouselRichCard": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
        },
        "quickReplies": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
        },
        "simpleResponses": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
        },
        "rbmStandaloneRichCard": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
        },
        "suggestions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
        },
        "telephonyPlayAudio": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
        },
        "rbmText": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageRbmText"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessagePlatformEnum": {
      "type": "enum",
      "members": {
        "PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_UNSPECIFIED"
          }
        },
        "FACEBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FACEBOOK"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLACK"
          }
        },
        "TELEGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELEGRAM"
          }
        },
        "KIK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIK"
          }
        },
        "SKYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKYPE"
          }
        },
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE"
          }
        },
        "VIBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIBER"
          }
        },
        "ACTIONS_ON_GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIONS_ON_GOOGLE"
          }
        },
        "TELEPHONY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELEPHONY"
          }
        },
        "GOOGLE_HANGOUTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_HANGOUTS"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FlowInvocation": {
      "type": "structure",
      "members": {
        "flow": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "outputActionParameters": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "flowState": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FlowInvocationFlowStateEnum"
        },
        "inputActionParameters": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FlowInvocationFlowStateEnum": {
      "type": "enum",
      "members": {
        "OUTPUT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_UNSPECIFIED"
          }
        },
        "OUTPUT_STATE_OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_OK"
          }
        },
        "OUTPUT_STATE_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_CANCELLED"
          }
        },
        "OUTPUT_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_FAILED"
          }
        },
        "OUTPUT_STATE_ESCALATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_ESCALATED"
          }
        },
        "OUTPUT_STATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_PENDING"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookRequestIntentInfo": {
      "type": "structure",
      "members": {
        "confidence": {
          "target": "smithy.api#Double"
        },
        "lastMatchedIntent": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValueMap"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "subtitle": {
          "target": "smithy.api#String"
        },
        "image": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageImage"
        },
        "formattedText": {
          "target": "smithy.api#String"
        },
        "buttons": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageBasicCardButtonList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageBasicCardButtonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageBasicCardButton"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TestCaseResult": {
      "type": "structure",
      "members": {
        "conversationTurns": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ConversationTurnList"
        },
        "testResult": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TestCaseResultTestResultEnum"
        },
        "testTime": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TestCaseResultTestResultEnum": {
      "type": "enum",
      "members": {
        "TEST_RESULT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST_RESULT_UNSPECIFIED"
          }
        },
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ArticleAnswer": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "metadata": {
          "target": "com.gcp.dialogflow_v3beta1#StringMap"
        },
        "uri": {
          "target": "smithy.api#String"
        },
        "snippets": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsPromptSecuritySettings": {
      "type": "structure",
      "members": {
        "enablePromptSecurity": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery": {
      "type": "structure",
      "members": {
        "queryText": {
          "target": "smithy.api#String"
        },
        "searchContexts": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContextList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1EncryptionSpec": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "kmsKey": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExperimentResultVersionMetrics": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExperimentResultMetricList"
        },
        "version": {
          "target": "smithy.api#String"
        },
        "sessionCount": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExperimentResultMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExperimentResultMetric"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "type": "structure",
      "members": {
        "cases": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ToolCallResult": {
      "type": "structure",
      "members": {
        "outputParameters": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "tool": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ToolCallResultError"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolUseDataStoreToolTrace": {
      "type": "structure",
      "members": {
        "dataStoreConnectionSignals": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignals"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TextInput": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExportTestCasesRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String"
        },
        "dataFormat": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExportTestCasesRequestDataFormatEnum"
        },
        "gcsUri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExportTestCasesRequestDataFormatEnum": {
      "type": "enum",
      "members": {
        "DATA_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_UNSPECIFIED"
          }
        },
        "BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOB"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "clientId": {
          "target": "smithy.api#String"
        },
        "tokenEndpoint": {
          "target": "smithy.api#String"
        },
        "clientSecret": {
          "target": "smithy.api#String"
        },
        "secretVersionForClientSecret": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "type": "structure",
      "members": {
        "simpleResponses": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageSimpleResponseList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageSimpleResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageSimpleResponse"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ExportTestCasesMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1VersionVariants": {
      "type": "structure",
      "members": {
        "variants": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1VersionVariantsVariantList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1VersionVariantsVariantList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1VersionVariantsVariant"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3InputAudioConfig": {
      "type": "structure",
      "members": {
        "sampleRateHertz": {
          "target": "smithy.api#Integer"
        },
        "singleUtterance": {
          "target": "smithy.api#Boolean"
        },
        "bargeInConfig": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3BargeInConfig"
        },
        "enableWordInfo": {
          "target": "smithy.api#Boolean"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "optOutConformerModelMigration": {
          "target": "smithy.api#Boolean"
        },
        "audioEncoding": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3InputAudioConfigAudioEncodingEnum"
        },
        "phraseHints": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "modelVariant": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3InputAudioConfigModelVariantEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3InputAudioConfigAudioEncodingEnum": {
      "type": "enum",
      "members": {
        "AUDIO_ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_UNSPECIFIED"
          }
        },
        "AUDIO_ENCODING_LINEAR_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_LINEAR_16"
          }
        },
        "AUDIO_ENCODING_FLAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_FLAC"
          }
        },
        "AUDIO_ENCODING_MULAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_MULAW"
          }
        },
        "AUDIO_ENCODING_AMR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_AMR"
          }
        },
        "AUDIO_ENCODING_AMR_WB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_AMR_WB"
          }
        },
        "AUDIO_ENCODING_OGG_OPUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_OGG_OPUS"
          }
        },
        "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE"
          }
        },
        "AUDIO_ENCODING_ALAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_ALAW"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3InputAudioConfigModelVariantEnum": {
      "type": "enum",
      "members": {
        "SPEECH_MODEL_VARIANT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPEECH_MODEL_VARIANT_UNSPECIFIED"
          }
        },
        "USE_BEST_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_BEST_AVAILABLE"
          }
        },
        "USE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_STANDARD"
          }
        },
        "USE_ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_ENHANCED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ContinuousTestResult": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ContinuousTestResultResultEnum"
        },
        "testCaseResults": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "runTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ContinuousTestResultResultEnum": {
      "type": "enum",
      "members": {
        "AGGREGATED_TEST_RESULT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATED_TEST_RESULT_UNSPECIFIED"
          }
        },
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "type": "structure",
      "members": {
        "virtualAgentOutput": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
        },
        "userInput": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "type": "structure",
      "members": {
        "duplicateSuggestions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestionList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ActionIntentMatch": {
      "type": "structure",
      "members": {
        "matchedIntents": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntentList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntent"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ImportFlowRequest": {
      "type": "structure",
      "members": {
        "flowUri": {
          "target": "smithy.api#String"
        },
        "flowContent": {
          "target": "smithy.api#String"
        },
        "importOption": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ImportFlowRequestImportOptionEnum"
        },
        "flowImportStrategy": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FlowImportStrategy"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ImportFlowRequestImportOptionEnum": {
      "type": "enum",
      "members": {
        "IMPORT_OPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_OPTION_UNSPECIFIED"
          }
        },
        "KEEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEEP"
          }
        },
        "FALLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FALLBACK"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3Webhook": {
      "type": "structure",
      "members": {
        "serviceDirectory": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
        },
        "timeout": {
          "target": "smithy.api#String"
        },
        "genericWebService": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "disabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ImportIntentsResponse": {
      "type": "structure",
      "members": {
        "intents": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "conflictingResources": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "type": "structure",
      "members": {
        "warnings": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleRpcStatusList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleRpcStatus"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1AudioInput": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1InputAudioConfig"
        },
        "audio": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "type": "structure",
      "members": {
        "quickReplies": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageCard": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "subtitle": {
          "target": "smithy.api#String"
        },
        "buttons": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageCardButtonList"
        },
        "imageUri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageCardButtonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageCardButton"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1Intent": {
      "type": "structure",
      "members": {
        "endInteraction": {
          "target": "smithy.api#Boolean"
        },
        "followupIntentInfo": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentFollowupIntentInfoList"
        },
        "resetContexts": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentParameterList"
        },
        "events": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "priority": {
          "target": "smithy.api#Integer"
        },
        "mlEnabled": {
          "target": "smithy.api#Boolean"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "inputContextNames": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "messages": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageList"
        },
        "liveAgentHandoff": {
          "target": "smithy.api#Boolean"
        },
        "rootFollowupIntentName": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "mlDisabled": {
          "target": "smithy.api#Boolean"
        },
        "outputContexts": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ContextList"
        },
        "webhookState": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentWebhookStateEnum"
        },
        "trainingPhrases": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentTrainingPhraseList"
        },
        "parentFollowupIntentName": {
          "target": "smithy.api#String"
        },
        "isFallback": {
          "target": "smithy.api#Boolean"
        },
        "defaultResponsePlatforms": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentDefaultResponsePlatformsItemEnumList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentFollowupIntentInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentParameter"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessage"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1Context"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentWebhookStateEnum": {
      "type": "enum",
      "members": {
        "WEBHOOK_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK_STATE_UNSPECIFIED"
          }
        },
        "WEBHOOK_STATE_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK_STATE_ENABLED"
          }
        },
        "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentTrainingPhraseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentDefaultResponsePlatformsItemEnum": {
      "type": "enum",
      "members": {
        "PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_UNSPECIFIED"
          }
        },
        "FACEBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FACEBOOK"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLACK"
          }
        },
        "TELEGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELEGRAM"
          }
        },
        "KIK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIK"
          }
        },
        "SKYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKYPE"
          }
        },
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE"
          }
        },
        "VIBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIBER"
          }
        },
        "ACTIONS_ON_GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIONS_ON_GOOGLE"
          }
        },
        "TELEPHONY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELEPHONY"
          }
        },
        "GOOGLE_HANGOUTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_HANGOUTS"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentDefaultResponsePlatformsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentDefaultResponsePlatformsItemEnum"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "type": "structure",
      "members": {
        "snippets": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippetList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "type": "structure",
      "members": {
        "request": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String"
        },
        "allowPlaybackInterruption": {
          "target": "smithy.api#Boolean"
        },
        "audio": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilter": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilterCategoryEnum"
        },
        "filterLevel": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilterFilterLevelEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilterCategoryEnum": {
      "type": "enum",
      "members": {
        "SAFETY_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAFETY_CATEGORY_UNSPECIFIED"
          }
        },
        "DANGEROUS_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DANGEROUS_CONTENT"
          }
        },
        "HATE_SPEECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HATE_SPEECH"
          }
        },
        "HARASSMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARASSMENT"
          }
        },
        "SEXUALLY_EXPLICIT_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEXUALLY_EXPLICIT_CONTENT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilterFilterLevelEnum": {
      "type": "enum",
      "members": {
        "SAFETY_FILTER_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAFETY_FILTER_LEVEL_UNSPECIFIED"
          }
        },
        "BLOCK_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_NONE"
          }
        },
        "BLOCK_FEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_FEW"
          }
        },
        "BLOCK_SOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_SOME"
          }
        },
        "BLOCK_MOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_MOST"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ValidationMessage": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "resourceNames": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResourceNameList"
        },
        "severity": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ValidationMessageSeverityEnum"
        },
        "resourceType": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ValidationMessageResourceTypeEnum"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResourceNameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResourceName"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ValidationMessageSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ValidationMessageResourceTypeEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT"
          }
        },
        "INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTENT"
          }
        },
        "INTENT_TRAINING_PHRASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTENT_TRAINING_PHRASE"
          }
        },
        "INTENT_PARAMETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTENT_PARAMETER"
          }
        },
        "INTENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTENTS"
          }
        },
        "INTENT_TRAINING_PHRASES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTENT_TRAINING_PHRASES"
          }
        },
        "ENTITY_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_TYPE"
          }
        },
        "ENTITY_TYPES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_TYPES"
          }
        },
        "WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK"
          }
        },
        "FLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW"
          }
        },
        "PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE"
          }
        },
        "PAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGES"
          }
        },
        "TRANSITION_ROUTE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSITION_ROUTE_GROUP"
          }
        },
        "AGENT_TRANSITION_ROUTE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_TRANSITION_ROUTE_GROUP"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExceptionDetail": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageQuickReplies": {
      "type": "structure",
      "members": {
        "quickReplies": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2GcsDestination": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1StreamingRecognitionResult": {
      "type": "structure",
      "members": {
        "messageType": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1StreamingRecognitionResultMessageTypeEnum"
        },
        "confidence": {
          "target": "smithy.api#Double"
        },
        "speechWordInfo": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1SpeechWordInfoList"
        },
        "speechEndOffset": {
          "target": "smithy.api#String"
        },
        "isFinal": {
          "target": "smithy.api#Boolean"
        },
        "dtmfDigits": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        },
        "stability": {
          "target": "smithy.api#Double"
        },
        "transcript": {
          "target": "smithy.api#String"
        },
        "languageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1StreamingRecognitionResultMessageTypeEnum": {
      "type": "enum",
      "members": {
        "MESSAGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_TYPE_UNSPECIFIED"
          }
        },
        "TRANSCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSCRIPT"
          }
        },
        "END_OF_SINGLE_UTTERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_OF_SINGLE_UTTERANCE"
          }
        },
        "DTMF_DIGITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_DIGITS"
          }
        },
        "PARTIAL_DTMF_DIGITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_DTMF_DIGITS"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1SpeechWordInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1SpeechWordInfo"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue": {
      "type": "structure",
      "members": {
        "secretVersion": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest": {
      "type": "structure",
      "members": {
        "encryptionSpec": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1EncryptionSpec"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ImportFlowResponse": {
      "type": "structure",
      "members": {
        "flow": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "smithy.api#String"
        },
        "ingestionStatus": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfoIngestionStatusEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfoIngestionStatusEnum": {
      "type": "enum",
      "members": {
        "INGESTION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_UNSPECIFIED"
          }
        },
        "INGESTION_STATUS_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_SUCCEEDED"
          }
        },
        "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE"
          }
        },
        "INGESTION_STATUS_PARSE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_PARSE_FAILED"
          }
        },
        "INGESTION_STATUS_INVALID_ENTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_INVALID_ENTRY"
          }
        },
        "INGESTION_STATUS_INVALID_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_INVALID_FORMAT"
          }
        },
        "INGESTION_STATUS_LANGUAGE_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_LANGUAGE_MISMATCH"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "code": {
          "target": "smithy.api#Integer"
        },
        "details": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMapList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GcsDestination": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String"
        },
        "conversationModel": {
          "target": "smithy.api#String"
        },
        "doneTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettings": {
      "type": "structure",
      "members": {
        "selectedPrompt": {
          "target": "smithy.api#String"
        },
        "promptTemplates": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettingsPromptTemplateList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettingsPromptTemplateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettingsPromptTemplate"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "smithy.api#String"
        },
        "ingestionStatus": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfoIngestionStatusEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfoIngestionStatusEnum": {
      "type": "enum",
      "members": {
        "INGESTION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_UNSPECIFIED"
          }
        },
        "INGESTION_STATUS_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_SUCCEEDED"
          }
        },
        "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE"
          }
        },
        "INGESTION_STATUS_PARSE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_PARSE_FAILED"
          }
        },
        "INGESTION_STATUS_INVALID_ENTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_INVALID_ENTRY"
          }
        },
        "INGESTION_STATUS_INVALID_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_INVALID_FORMAT"
          }
        },
        "INGESTION_STATUS_LANGUAGE_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_LANGUAGE_MISMATCH"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolConnectorTool": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionList"
        },
        "endUserAuthConfig": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfig"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3QueryInput": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TextInput"
        },
        "intent": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3IntentInput"
        },
        "event": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3EventInput"
        },
        "dtmf": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3DtmfInput"
        },
        "toolCallResult": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ToolCallResult"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "audio": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3AudioInput"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2StreamingRecognitionResult": {
      "type": "structure",
      "members": {
        "isFinal": {
          "target": "smithy.api#Boolean"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "messageType": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2StreamingRecognitionResultMessageTypeEnum"
        },
        "confidence": {
          "target": "smithy.api#Double"
        },
        "speechWordInfo": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2SpeechWordInfoList"
        },
        "speechEndOffset": {
          "target": "smithy.api#String"
        },
        "transcript": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2StreamingRecognitionResultMessageTypeEnum": {
      "type": "enum",
      "members": {
        "MESSAGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_TYPE_UNSPECIFIED"
          }
        },
        "TRANSCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSCRIPT"
          }
        },
        "END_OF_SINGLE_UTTERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_OF_SINGLE_UTTERANCE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2SpeechWordInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2SpeechWordInfo"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "type": "structure",
      "members": {
        "sources": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "suggestionIndex": {
          "target": "smithy.api#Integer"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "similarityScore": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment": {
      "type": "structure",
      "members": {
        "audio": {
          "target": "smithy.api#String"
        },
        "uri": {
          "target": "smithy.api#String"
        },
        "allowPlaybackInterruption": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "smithy.api#String"
        },
        "userDefined": {
          "target": "smithy.api#Boolean"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "entityType": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemList"
        },
        "imageDisplayOptions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardImageDisplayOptionsEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardImageDisplayOptionsEnum": {
      "type": "enum",
      "members": {
        "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED"
          }
        },
        "GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAY"
          }
        },
        "WHITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WHITE"
          }
        },
        "CROPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CROPPED"
          }
        },
        "BLURRED_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLURRED_BACKGROUND"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse": {
      "type": "structure",
      "members": {
        "contextSize": {
          "target": "smithy.api#Integer"
        },
        "dialogflowAssistAnswers": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1DialogflowAssistAnswerList"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1DialogflowAssistAnswerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1DialogflowAssistAnswer"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1LlmModelSettings": {
      "type": "structure",
      "members": {
        "promptText": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1LlmModelSettingsParameters"
        },
        "model": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "type": "structure",
      "members": {
        "repeatCount": {
          "target": "smithy.api#Integer"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "parts": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3IntentTrainingPhrasePartList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3IntentTrainingPhrasePartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3FulfillmentSetParameterAction": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Document"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2EventInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "languageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettingsPromptTemplate": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "frozen": {
          "target": "smithy.api#Boolean"
        },
        "promptText": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ListDeploymentsResponse": {
      "type": "structure",
      "members": {
        "deployments": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1DeploymentList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1DeploymentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Deployment"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "type": "structure",
      "members": {
        "queryTextSentiment": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2Sentiment"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExperimentResultConfidenceInterval": {
      "type": "structure",
      "members": {
        "confidenceLevel": {
          "target": "smithy.api#Double"
        },
        "lowerBound": {
          "target": "smithy.api#Double"
        },
        "ratio": {
          "target": "smithy.api#Double"
        },
        "upperBound": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ConversationModel": {
      "type": "structure",
      "members": {
        "datasets": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2InputDatasetList"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "smartReplyModelMetadata": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2SmartReplyModelMetadata"
        },
        "articleSuggestionModelMetadata": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ConversationModelStateEnum"
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2InputDatasetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2InputDataset"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ConversationModelStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UNDEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDEPLOYED"
          }
        },
        "DEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYING"
          }
        },
        "DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYED"
          }
        },
        "UNDEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDEPLOYING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ConversationSignals": {
      "type": "structure",
      "members": {
        "turnSignals": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TurnSignals"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExportIntentsRequest": {
      "type": "structure",
      "members": {
        "intentsUri": {
          "target": "smithy.api#String"
        },
        "dataFormat": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExportIntentsRequestDataFormatEnum"
        },
        "intents": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "intentsContentInline": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExportIntentsRequestDataFormatEnum": {
      "type": "enum",
      "members": {
        "DATA_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_UNSPECIFIED"
          }
        },
        "BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOB"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSV"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ListPlaybooksResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "playbooks": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PlaybookList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PlaybookList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Playbook"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsPhrase": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "languageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageTableCard": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "subtitle": {
          "target": "smithy.api#String"
        },
        "columnProperties": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageColumnPropertiesList"
        },
        "buttons": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageBasicCardButtonList"
        },
        "rows": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageTableCardRowList"
        },
        "image": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageImage"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageColumnPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageColumnProperties"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageTableCardRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageTableCardRow"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings": {
      "type": "structure",
      "members": {
        "generator": {
          "target": "smithy.api#String"
        },
        "inputParameters": {
          "target": "com.gcp.dialogflow_v3beta1#StringMap"
        },
        "outputParameter": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1BigQueryExportSettings": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "bigqueryTable": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2AuthCodeConfig": {
      "type": "structure",
      "members": {
        "oauthToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3EventHandler": {
      "type": "structure",
      "members": {
        "targetFlow": {
          "target": "smithy.api#String"
        },
        "targetPlaybook": {
          "target": "smithy.api#String"
        },
        "event": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "triggerFulfillment": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetPage": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolFunctionTool": {
      "type": "structure",
      "members": {
        "inputSchema": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "outputSchema": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Fulfillment": {
      "type": "structure",
      "members": {
        "setParameterActions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterActionList"
        },
        "conditionalCases": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesList"
        },
        "messages": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageList"
        },
        "advancedSettings": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "webhook": {
          "target": "smithy.api#String"
        },
        "tag": {
          "target": "smithy.api#String"
        },
        "enableGenerativeFallback": {
          "target": "smithy.api#Boolean"
        },
        "generators": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettingsList"
        },
        "returnPartialResponses": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterActionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessage"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettingsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ConversationEvent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ConversationEventTypeEnum"
        },
        "newRecognitionResultPayload": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2StreamingRecognitionResult"
        },
        "newMessagePayload": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2Message"
        },
        "conversation": {
          "target": "smithy.api#String"
        },
        "errorStatus": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleRpcStatus"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ConversationEventTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "CONVERSATION_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION_STARTED"
          }
        },
        "CONVERSATION_FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION_FINISHED"
          }
        },
        "HUMAN_INTERVENTION_NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_INTERVENTION_NEEDED"
          }
        },
        "NEW_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_MESSAGE"
          }
        },
        "NEW_RECOGNITION_RESULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_RECOGNITION_RESULT"
          }
        },
        "UNRECOVERABLE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNRECOVERABLE_ERROR"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
      "type": "structure",
      "members": {
        "endpointerSensitivity": {
          "target": "smithy.api#Integer"
        },
        "useTimeoutBasedEndpointing": {
          "target": "smithy.api#Boolean"
        },
        "models": {
          "target": "com.gcp.dialogflow_v3beta1#StringMap"
        },
        "noSpeechTimeout": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolAuthenticationServiceAccountAuthConfig": {
      "type": "structure",
      "members": {
        "serviceAccount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GenerativeInfo": {
      "type": "structure",
      "members": {
        "currentPlaybooks": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "actionTracingInfo": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Example"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1UserUtterance": {
      "type": "structure",
      "members": {
        "audioTokens": {
          "target": "com.gcp.dialogflow_v3beta1#IntegerList"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "audio": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall": {
      "type": "structure",
      "members": {
        "phoneNumber": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "type": "structure",
      "members": {
        "enableContinuousRun": {
          "target": "smithy.api#Boolean"
        },
        "testCases": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "enablePredeploymentRun": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeOperationMetadata": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeOperationMetadataStateEnum"
        },
        "exportOperationMetadata": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ExportOperationMetadata"
        },
        "doneTime": {
          "target": "smithy.api#String"
        },
        "knowledgeBase": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeOperationMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PlaybookInvocation": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "playbookOutput": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PlaybookOutput"
        },
        "playbook": {
          "target": "smithy.api#String"
        },
        "playbookInput": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PlaybookInput"
        },
        "playbookState": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PlaybookInvocationPlaybookStateEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PlaybookInvocationPlaybookStateEnum": {
      "type": "enum",
      "members": {
        "OUTPUT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_UNSPECIFIED"
          }
        },
        "OUTPUT_STATE_OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_OK"
          }
        },
        "OUTPUT_STATE_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_CANCELLED"
          }
        },
        "OUTPUT_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_FAILED"
          }
        },
        "OUTPUT_STATE_ESCALATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_ESCALATED"
          }
        },
        "OUTPUT_STATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_STATE_PENDING"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "conversationTurns": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ConversationTurnList"
        },
        "testResult": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TestCaseResultTestResultEnum"
        },
        "testTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ConversationTurnList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ConversationTurn"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TestCaseResultTestResultEnum": {
      "type": "enum",
      "members": {
        "TEST_RESULT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST_RESULT_UNSPECIFIED"
          }
        },
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Deployment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "flowVersion": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1DeploymentStateEnum"
        },
        "endTime": {
          "target": "smithy.api#String"
        },
        "startTime": {
          "target": "smithy.api#String"
        },
        "result": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1DeploymentResult"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1DeploymentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfig": {
      "type": "structure",
      "members": {
        "oauthGrantType": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfigOauthGrantTypeEnum"
        },
        "clientSecret": {
          "target": "smithy.api#String"
        },
        "secretVersionForClientSecret": {
          "target": "smithy.api#String"
        },
        "clientId": {
          "target": "smithy.api#String"
        },
        "tokenEndpoint": {
          "target": "smithy.api#String"
        },
        "scopes": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfigOauthGrantTypeEnum": {
      "type": "enum",
      "members": {
        "OAUTH_GRANT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH_GRANT_TYPE_UNSPECIFIED"
          }
        },
        "CLIENT_CREDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_CREDENTIAL"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Page": {
      "type": "structure",
      "members": {
        "eventHandlers": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EventHandlerList"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "advancedSettings": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "form": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Form"
        },
        "entryFulfillment": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "knowledgeConnectorSettings": {
[...]
