{
  "smithy": "2.0",
  "metadata": {
    "service": "discoveryengine",
    "version": "v1beta",
    "title": "Discovery Engine API",
    "baseUrl": "https://discoveryengine.googleapis.com/"
  },
  "shapes": {
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecMultimodalSpec": {
      "type": "structure",
      "members": {
        "imageSource": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecMultimodalSpecImageSourceEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Source of image returned in the answer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Multimodal specification: Will return an image from specified source. If multiple sources are specified, the pick is a quality based decision."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecMultimodalSpecImageSourceEnum": {
      "type": "enum",
      "members": {
        "IMAGE_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_SOURCE_UNSPECIFIED"
          }
        },
        "ALL_AVAILABLE_SOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_AVAILABLE_SOURCES"
          }
        },
        "CORPUS_IMAGE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORPUS_IMAGE_ONLY"
          }
        },
        "FIGURE_GENERATION_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIGURE_GENERATION_ONLY"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterAndExpression": {
      "type": "structure",
      "members": {
        "expressions": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpressionList",
          "traits": {
            "smithy.api#documentation": "The expressions that were ANDed together."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Logical `And` operator."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpressionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateResponse": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "Errors from service when handling the request."
          }
        },
        "state": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateResponseStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateResponseStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaStreamAssistResponseConnectorAuthError": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable error message describing the auth failure."
          }
        },
        "dataConnector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the data connector that failed authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an authentication error for a specific data connector."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfoDocumentMetadata": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the document."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uri of the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Document metadata contains the information of the document of the current chunk."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaUpdateSchemaMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for UpdateSchema LRO."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaSearchRequestSessionSpec": {
      "type": "structure",
      "members": {
        "searchResultPersistenceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of top search results to persist. The persisted search results can be used for the subsequent /answer api call. This field is similar to the `summary_result_count` field in SearchRequest.ContentSearchSpec.SummarySpec.summary_result_count. At most 10 results for documents mode, or 50 for chunks mode."
          }
        },
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, the search result gets stored to the \"turn\" specified by this query ID. Example: Let's say the session looks like this: session { name: \".../sessions/xxx\" turns { query { text: \"What is foo?\" query_id: \".../questions/yyy\" } answer: \"Foo is ...\" } turns { query { text: \"How about bar then?\" query_id: \".../questions/zzz\" } } } The user can call /search API with a request like this: session: \".../sessions/xxx\" session_spec { query_id: \".../questions/zzz\" } Then, the API stores the search result, associated with the last turn. The stored search result can be used by a subsequent /answer API call (with the session ID and the query ID specified). Also, it is possible to call /search and /answer in parallel with the same session ID & query ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Session specification."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDocumentIndexStatus": {
      "type": "structure",
      "members": {
        "errorSamples": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while indexing the document. If this field is populated, the document is not indexed due to errors."
          }
        },
        "pendingMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The message indicates the document index is in progress. If this field is populated, the document index is pending."
          }
        },
        "indexTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the document was indexed. If this field is populated, it means the document has been indexed. While documents typically become searchable within seconds of indexing, it can sometimes take up to a few hours."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Index status of the document."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleRpcStatus"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSingleRegionKey": {
      "type": "structure",
      "members": {
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for single-regional CMEKs."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaObservabilityConfig": {
      "type": "structure",
      "members": {
        "observabilityEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables observability. If `false`, all other flags are ignored."
          }
        },
        "sensitiveLoggingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables sensitive logging. Sensitive logging includes customer core content (e.g. prompts, responses). If `false`, will sanitize all sensitive fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Observability config for a resource."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaConnectorRun": {
      "type": "structure",
      "members": {
        "trigger": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaConnectorRunTriggerEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The trigger for this ConnectorRun."
          }
        },
        "latestPauseTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the connector run was most recently paused."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the connector run ended."
          }
        },
        "stateUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp at which the connector run sync state was last updated."
          }
        },
        "entityRuns": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRunList",
          "traits": {
            "smithy.api#documentation": "Output only. The details of the entities synced at the ConnectorRun. Each ConnectorRun consists of syncing one or more entities."
          }
        },
        "errors": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Contains info about errors incurred during the sync. Only exist if running into an error state. Contains error code and error message. Use with the `state` field."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full resource name of the Connector Run. Format: `projects/*/locations/*/collections/*/dataConnector/connectorRuns/*`. The `connector_run_id` is system-generated."
          }
        },
        "state": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaConnectorRunStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the sync run."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the connector run started."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A data sync run of DataConnector. After DataConnector is successfully initialized, data syncs are scheduled at DataConnector.refresh_interval. A ConnectorRun represents a data sync either in the past or onging that the moment. //"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaConnectorRunTriggerEnum": {
      "type": "enum",
      "members": {
        "TRIGGER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGER_UNSPECIFIED"
          }
        },
        "SCHEDULER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULER"
          }
        },
        "INITIALIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZATION"
          }
        },
        "RESUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESUME"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRunList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaConnectorRunStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "OVERRUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERRUN"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaCheckGroundingSpec": {
      "type": "structure",
      "members": {
        "citationThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The threshold (in [0,1]) used for determining whether a fact must be cited for a claim in the answer candidate. Choosing a higher threshold will lead to fewer but very strong citations, while choosing a lower threshold may lead to more but somewhat weaker citations. If unset, the threshold will default to 0.6."
          }
        },
        "enableClaimLevelScore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The control flag that enables claim-level grounding score in the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification for the grounding check."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDataStore": {
      "type": "structure",
      "members": {
        "contentConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDataStoreContentConfigEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The content config of the data store. If this field is unset, the server behavior defaults to ContentConfig.NO_CONTENT."
          }
        },
        "naturalLanguageQueryUnderstandingConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaNaturalLanguageQueryUnderstandingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for Natural Language Query Understanding."
          }
        },
        "cmekConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaCmekConfig",
          "traits": {
            "smithy.api#documentation": "Output only. CMEK-related information for the DataStore."
          }
        },
        "solutionTypes": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDataStoreSolutionTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The solutions that the data store enrolls. Available solutions for each industry_vertical: * `MEDIA`: `SOLUTION_TYPE_RECOMMENDATION` and `SOLUTION_TYPE_SEARCH`. * `SITE_SEARCH`: `SOLUTION_TYPE_SEARCH` is automatically enrolled. Other solutions cannot be enrolled."
          }
        },
        "aclEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Immutable. Whether data in the DataStore has ACL information. If set to `true`, the source data must have ACL. ACL will be ingested when data is ingested by DocumentService.ImportDocuments methods. When ACL is enabled for the DataStore, Document can't be accessed by calling DocumentService.GetDocument or DocumentService.ListDocuments. Currently ACL is only supported in `GENERIC` industry vertical with non-`PUBLIC_WEBSITE` content config."
          }
        },
        "documentProcessingConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDocumentProcessingConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for Document understanding and enrichment."
          }
        },
        "healthcareFhirConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaHealthcareFhirConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for `HEALTHCARE_FHIR` vertical."
          }
        },
        "defaultSchemaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The id of the default Schema associated to this data store."
          }
        },
        "federatedSearchConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If set, this DataStore is a federated search DataStore."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The data store display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        },
        "startingSchema": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSchema",
          "traits": {
            "smithy.api#documentation": "The start schema to use for this DataStore when provisioning it. If unset, a default vertical specialized schema will be used. This field is only used by CreateDataStore API, and will be ignored if used in other APIs. This field will be omitted from all API responses including CreateDataStore API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema)."
          }
        },
        "industryVertical": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDataStoreIndustryVerticalEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The industry vertical that the data store registers."
          }
        },
        "servingConfigDataStore": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDataStoreServingConfigDataStore",
          "traits": {
            "smithy.api#documentation": "Optional. Stores serving config at DataStore level."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The KMS key to be used to protect this DataStore at creation time. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStore will be protected by the KMS key, as indicated in the cmek_config field."
          }
        },
        "configurableBillingApproachUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when configurable_billing_approach was last updated."
          }
        },
        "configurableBillingApproach": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDataStoreConfigurableBillingApproachEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for configurable billing approach. See"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
          }
        },
        "languageInfo": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaLanguageInfo",
          "traits": {
            "smithy.api#documentation": "Language info for DataStore."
          }
        },
        "isInfobotFaqDataStore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, this DataStore is an Infobot FAQ DataStore."
          }
        },
        "identityMappingStore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The fully qualified resource name of the associated IdentityMappingStore. This field can only be set for acl_enabled DataStores with `THIRD_PARTY` or `GSUITE` IdP. Format: `projects/{project}/locations/{location}/identityMappingStores/{identity_mapping_store}`."
          }
        },
        "billingEstimation": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDataStoreBillingEstimation",
          "traits": {
            "smithy.api#documentation": "Output only. Data size estimation for billing."
          }
        },
        "workspaceConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaWorkspaceConfig",
          "traits": {
            "smithy.api#documentation": "Config to store data store type configuration for workspace data. This must be set when DataStore.content_config is set as DataStore.ContentConfig.GOOGLE_WORKSPACE."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp the DataStore was created at."
          }
        },
        "advancedSiteSearchConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAdvancedSiteSearchConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for advanced site search."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataStore captures global settings and configs at the DataStore level."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDataStoreContentConfigEnum": {
      "type": "enum",
      "members": {
        "CONTENT_CONFIG_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_CONFIG_UNSPECIFIED"
          }
        },
        "NO_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_CONTENT"
          }
        },
        "CONTENT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_REQUIRED"
          }
        },
        "PUBLIC_WEBSITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC_WEBSITE"
          }
        },
        "GOOGLE_WORKSPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_WORKSPACE"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDataStoreSolutionTypesItemEnum": {
      "type": "enum",
      "members": {
        "SOLUTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLUTION_TYPE_UNSPECIFIED"
          }
        },
        "SOLUTION_TYPE_RECOMMENDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLUTION_TYPE_RECOMMENDATION"
          }
        },
        "SOLUTION_TYPE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLUTION_TYPE_SEARCH"
          }
        },
        "SOLUTION_TYPE_CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLUTION_TYPE_CHAT"
          }
        },
        "SOLUTION_TYPE_GENERATIVE_CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLUTION_TYPE_GENERATIVE_CHAT"
          }
        },
        "SOLUTION_TYPE_AI_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLUTION_TYPE_AI_MODE"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDataStoreSolutionTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDataStoreSolutionTypesItemEnum"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDataStoreIndustryVerticalEnum": {
      "type": "enum",
      "members": {
        "INDUSTRY_VERTICAL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDUSTRY_VERTICAL_UNSPECIFIED"
          }
        },
        "GENERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC"
          }
        },
        "MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA"
          }
        },
        "HEALTHCARE_FHIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHCARE_FHIR"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDataStoreConfigurableBillingApproachEnum": {
      "type": "enum",
      "members": {
        "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED"
          }
        },
        "CONFIGURABLE_SUBSCRIPTION_INDEXING_CORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIGURABLE_SUBSCRIPTION_INDEXING_CORE"
          }
        },
        "CONFIGURABLE_CONSUMPTION_EMBEDDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIGURABLE_CONSUMPTION_EMBEDDING"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaReply": {
      "type": "structure",
      "members": {
        "references": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaReplyReferenceList",
          "traits": {
            "smithy.api#documentation": "References in the reply."
          }
        },
        "reply": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DEPRECATED: use `summary` instead. Text reply."
          }
        },
        "summary": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSearchResponseSummary",
          "traits": {
            "smithy.api#documentation": "Summary based on search results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a reply message to user."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaReplyReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaReplyReference"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesRequest": {
      "type": "structure",
      "members": {
        "inlineSource": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesRequestInlineSource",
          "traits": {
            "smithy.api#documentation": "The inline source for the input content for document embeddings."
          }
        },
        "deleteUnassignedUserLicenses": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, if user licenses removed associated license config, the user license will be deleted. By default which is false, the user license will be updated to unassigned state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for UserLicenseService.BatchUpdateUserLicenses method."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1WorkspaceConfig": {
      "type": "structure",
      "members": {
        "dasherCustomerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Obfuscated Dasher customer ID. Derived by the server from the project's GCP organization at data store creation time; any value supplied in the request payload is ignored."
          }
        },
        "superAdminServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion."
          }
        },
        "superAdminEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion."
          }
        },
        "type": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1WorkspaceConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "The Google Workspace data source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config to store data store type configuration for workspace data"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1WorkspaceConfigTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "GOOGLE_DRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_DRIVE"
          }
        },
        "GOOGLE_MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_MAIL"
          }
        },
        "GOOGLE_SITES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SITES"
          }
        },
        "GOOGLE_CALENDAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_CALENDAR"
          }
        },
        "GOOGLE_CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_CHAT"
          }
        },
        "GOOGLE_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_GROUPS"
          }
        },
        "GOOGLE_KEEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_KEEP"
          }
        },
        "GOOGLE_PEOPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_PEOPLE"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaFirestoreSource": {
      "type": "structure",
      "members": {
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Firestore database to copy the data from with a length limit of 256 characters."
          }
        },
        "gcsStagingDir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the Firestore export to a specific Cloud Storage directory. Ensure that the Firestore service account has the necessary Cloud Storage Admin permissions to access the specified Cloud Storage directory."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project ID that the Cloud SQL source is in with a length limit of 128 characters. If not specified, inherits the project ID from the parent request."
          }
        },
        "collectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Firestore collection (or entity) to copy the data from with a length limit of 1,500 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Firestore source import data from."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfo": {
      "type": "structure",
      "members": {
        "extractiveAnswers": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveAnswerList",
          "traits": {
            "smithy.api#documentation": "Deprecated: This field is deprecated and will have no effect on the Answer generation. Please use document_contexts and extractive_segments fields. List of extractive answers."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI for the document."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title."
          }
        },
        "extractiveSegments": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegmentList",
          "traits": {
            "smithy.api#documentation": "List of extractive segments."
          }
        },
        "document": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Document resource name."
          }
        },
        "documentContexts": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContextList",
          "traits": {
            "smithy.api#documentation": "List of document contexts. The content will be used for Answer Generation. This is supposed to be the main content of the document that can be long and comprehensive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Unstructured document information."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveAnswerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveAnswer"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestGroundingSpec": {
      "type": "structure",
      "members": {
        "includeGroundingSupports": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether to include grounding_supports in the answer. The default value is `false`. When this field is set to `true`, returned answer will have `grounding_score` and will contain GroundingSupports for each claim."
          }
        },
        "filteringLevel": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestGroundingSpecFilteringLevelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether to enable the filtering based on grounding score and at what level."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Grounding specification."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestGroundingSpecFilteringLevelEnum": {
      "type": "enum",
      "members": {
        "FILTERING_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILTERING_LEVEL_UNSPECIFIED"
          }
        },
        "FILTERING_LEVEL_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILTERING_LEVEL_LOW"
          }
        },
        "FILTERING_LEVEL_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILTERING_LEVEL_HIGH"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1ImportUserEventsResponse": {
      "type": "structure",
      "members": {
        "errorConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1ImportErrorConfig",
          "traits": {
            "smithy.api#documentation": "Echoes the destination for the complete errors if this field was set in the request."
          }
        },
        "joinedEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of user events imported with complete existing Documents."
          }
        },
        "unjoinedEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of user events imported, but with Document information not found in the existing Branch."
          }
        },
        "errorSamples": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaProvisionProjectRequest": {
      "type": "structure",
      "members": {
        "dataUseTermsVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The version of the [Terms for data use](https://cloud.google.com/retail/data-use-terms) that caller has read and would like to give consent to. Acceptable version is `2022-11-23`, and this may change over time."
          }
        },
        "saasParams": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaProvisionProjectRequestSaasParams",
          "traits": {
            "smithy.api#documentation": "Optional. Parameters for Agentspace."
          }
        },
        "acceptDataUseTerms": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Set to `true` to specify that caller has read and would like to give consent to the [Terms for data use](https://cloud.google.com/retail/data-use-terms)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for ProjectService.ProvisionProject method."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1IdpConfig": {
      "type": "structure",
      "members": {
        "externalIdpConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1IdpConfigExternalIdpConfig",
          "traits": {
            "smithy.api#documentation": "External Identity provider config."
          }
        },
        "idpType": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1IdpConfigIdpTypeEnum",
          "traits": {
            "smithy.api#documentation": "Identity provider type configured."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity Provider Config."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1IdpConfigIdpTypeEnum": {
      "type": "enum",
      "members": {
        "IDP_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDP_TYPE_UNSPECIFIED"
          }
        },
        "GSUITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GSUITE"
          }
        },
        "THIRD_PARTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIRD_PARTY"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigOcrParsingConfig": {
      "type": "structure",
      "members": {
        "useNativeText": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, will use native text instead of OCR text on pages containing native text."
          }
        },
        "enhancedDocumentElements": {
          "target": "com.gcp.discoveryengine_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "[DEPRECATED] This field is deprecated. To use the additional enhanced document elements processing, please switch to `layout_parsing_config`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The OCR parsing configurations for documents."
      }
    },
    "com.gcp.discoveryengine_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaImportDocumentsResponse": {
      "type": "structure",
      "members": {
        "errorSamples": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        },
        "errorConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaImportErrorConfig",
          "traits": {
            "smithy.api#documentation": "Echoes the destination for the complete errors in the request if set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaActionConfigScopeList": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.gcp.discoveryengine_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of scopes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stores a list of scopes."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaDedicatedCrawlRateTimeSeries": {
      "type": "structure",
      "members": {
        "autoRefreshCrawlRate": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "traits": {
            "smithy.api#documentation": "Vertex AI's dedicated crawl rate time series of auto-refresh, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and the crawl rate is for best effort use cases like refreshing urls periodically."
          }
        },
        "userTriggeredCrawlErrorRate": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "traits": {
            "smithy.api#documentation": "Vertex AI's error rate time series of user triggered dedicated crawl."
          }
        },
        "autoRefreshCrawlErrorRate": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "traits": {
            "smithy.api#documentation": "Vertex AI's error rate time series of auto-refresh dedicated crawl."
          }
        },
        "userTriggeredCrawlRate": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "traits": {
            "smithy.api#documentation": "Vertex AI's dedicated crawl rate time series of user triggered crawl, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and user triggered crawl rate is for deterministic use cases like crawling urls or sitemaps specified by users."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The historical dedicated crawl rate timeseries data, used for monitoring. Dedicated crawl is used by Vertex AI to crawl the user's website when dedicate crawl is set."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSearchResponseSummaryBlobAttachmentBlob": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Raw bytes."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The media type (MIME type) of the generated data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stores type and data of the blob."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1SingleRegionKey": {
      "type": "structure",
      "members": {
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for single-regional CMEKs."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1DeleteCollectionMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the CollectionService.UpdateCollection operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfoDocumentMetadata": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Document metadata contains the information of the document of the current chunk."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesRequest": {
      "type": "structure",
      "members": {
        "inlineSource": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesRequestInlineSource",
          "traits": {
            "smithy.api#documentation": "The Inline source for the input content for suggestion deny list entries."
          }
        },
        "gcsSource": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaGcsSource",
          "traits": {
            "smithy.api#documentation": "Cloud Storage location for the input content. Only 1 file can be specified that contains all entries to import. Supported values `gcs_source.schema` for autocomplete suggestion deny list entry imports: * `suggestion_deny_list` (default): One JSON [SuggestionDenyListEntry] per line."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CompletionService.ImportSuggestionDenyListEntries method."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig": {
      "type": "structure",
      "members": {
        "timeWindowDays": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time window of which the engine is queried at training and prediction time. Positive integers only. The value translates to the last X days of events. Currently required for the `most-popular-items` engine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature configurations that are required for creating a Most Popular engine."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1HealthcareFhirConfig": {
      "type": "structure",
      "members": {
        "enableStaticIndexingForBatchIngestion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable static indexing for `HEALTHCARE_FHIR` batch ingestion. If set to `true`, the batch ingestion will be processed in a static indexing mode which is slower but more capable of handling larger volume."
          }
        },
        "enableConfigurableSchema": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable configurable schema for `HEALTHCARE_FHIR` vertical. If set to `true`, the predefined healthcare fhir schema can be extended for more customized searching and filtering."
          }
        },
        "initialFilterGroups": {
          "target": "com.gcp.discoveryengine_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Names of the Group resources to use as a basis for the initial patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. The filter group must be a FHIR resource name of type Group, and the filter will be constructed from the direct members of the group which are Patient resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config to data store for `HEALTHCARE_FHIR` vertical."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest": {
      "type": "structure",
      "members": {
        "dataStore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned"
          }
        },
        "filterGroups": {
          "target": "com.gcp.discoveryengine_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Names of the Group resources to use as a basis for the list of patients to remove from the patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. if the caller does not have permission to access the FHIR store, regardless of whether it exists, PERMISSION_DENIED error is returned. If the discovery engine service account does not have permission to access the FHIR store, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the group is not found at the location, a RESOURCE_NOT_FOUND error will be returned. The filter group must be a FHIR resource name of type Group, and the list of IDs to remove will be constructed from the direct members of the group which are Patient resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for DataStoreService.RemovePatientFilter method."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaDocumentAclInfoAccessRestriction": {
      "type": "structure",
      "members": {
        "principals": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaPrincipalList",
          "traits": {
            "smithy.api#documentation": "List of principals."
          }
        },
        "idpWide": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "All users within the Identity Provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AclRestriction to model complex inheritance restrictions. Example: Modeling a \"Both Permit\" inheritance, where to access a child document, user needs to have access to parent document. Document Hierarchy - Space_S --> Page_P. Readers: Space_S: group_1, user_1 Page_P: group_2, group_3, user_2 Space_S ACL Restriction - { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ] } ] } } Page_P ACL Restriction. { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_2\" }, { \"group_id\": \"group_3\" }, { \"user_id\": \"user_2\" } ], }, { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ], } ] } }"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaPrincipalList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaPrincipal"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAssistantGenerationConfigSystemInstruction": {
      "type": "structure",
      "members": {
        "additionalSystemInstruction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Additional system instruction that will be added to the default system instruction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "System instruction, also known as the prompt preamble for LLM calls."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleMonitoringV3TypedValue": {
      "type": "structure",
      "members": {
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A variable-length string value."
          }
        },
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A 64-bit double-precision floating-point number. Its magnitude is approximately ±10±300 and it has 16 significant digits of precision."
          }
        },
        "int64Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 64-bit integer. Its range is approximately ±9.2x1018."
          }
        },
        "distributionValue": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleApiDistribution",
          "traits": {
            "smithy.api#documentation": "A distribution value."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A Boolean value: `true` or `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single strongly-typed value."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleApiDistributionBucketOptionsExplicit": {
      "type": "structure",
      "members": {
        "bounds": {
          "target": "com.gcp.discoveryengine_v1beta#DoubleList",
          "traits": {
            "smithy.api#documentation": "The values must be monotonically increasing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a set of buckets with arbitrary widths. There are `size(bounds) + 1` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): bounds[i] Lower bound (1 <= i < N); bounds[i - 1] The `bounds` field must contain at least one element. If `bounds` has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets."
      }
    },
    "com.gcp.discoveryengine_v1beta#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaAlertPolicyConfig": {
      "type": "structure",
      "members": {
        "alertPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The fully qualified resource name of the AlertPolicy."
          }
        },
        "alertEnrollments": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaAlertPolicyConfigAlertEnrollmentList",
          "traits": {
            "smithy.api#documentation": "Optional. The enrollment states of each alert."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The connector level alert config."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaAlertPolicyConfigAlertEnrollmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaAlertPolicyConfigAlertEnrollment"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaSafetyRating": {
      "type": "structure",
      "members": {
        "severity": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaSafetyRatingSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Harm severity levels in the content."
          }
        },
        "blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the content was filtered out because of this rating."
          }
        },
        "probabilityScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Harm probability score."
          }
        },
        "category": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaSafetyRatingCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Harm category."
          }
        },
        "probability": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaSafetyRatingProbabilityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Harm probability levels in the content."
          }
        },
        "severityScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Harm severity score."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Safety rating corresponding to the generated content."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaSafetyRatingSeverityEnum": {
      "type": "enum",
      "members": {
        "HARM_SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_SEVERITY_UNSPECIFIED"
          }
        },
        "HARM_SEVERITY_NEGLIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_SEVERITY_NEGLIGIBLE"
          }
        },
        "HARM_SEVERITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_SEVERITY_LOW"
          }
        },
        "HARM_SEVERITY_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_SEVERITY_MEDIUM"
          }
        },
        "HARM_SEVERITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_SEVERITY_HIGH"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaSafetyRatingCategoryEnum": {
      "type": "enum",
      "members": {
        "HARM_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_UNSPECIFIED"
          }
        },
        "HARM_CATEGORY_HATE_SPEECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_HATE_SPEECH"
          }
        },
        "HARM_CATEGORY_DANGEROUS_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_DANGEROUS_CONTENT"
          }
        },
        "HARM_CATEGORY_HARASSMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_HARASSMENT"
          }
        },
        "HARM_CATEGORY_SEXUALLY_EXPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
          }
        },
        "HARM_CATEGORY_CIVIC_INTEGRITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_CIVIC_INTEGRITY"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaSafetyRatingProbabilityEnum": {
      "type": "enum",
      "members": {
        "HARM_PROBABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_PROBABILITY_UNSPECIFIED"
          }
        },
        "NEGLIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEGLIGIBLE"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaPurgeDocumentsMetadata": {
      "type": "structure",
      "members": {
        "successCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of entries that were deleted successfully."
          }
        },
        "failureCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of entries that encountered errors while processing."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        },
        "ignoredCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of entries that were ignored as entries were not found."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSearchResponseSessionInfo": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the session. If the auto-session mode is used (when SearchRequest.session ends with \"-\"), this field holds the newly generated session name."
          }
        },
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Query ID that corresponds to this search API call. One session can have multiple turns, each with a unique query ID. By specifying the session name and this query ID in the Answer API call, the answer generation happens in the context of the search results from this search call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the session."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaFetchDomainVerificationStatusResponse": {
      "type": "structure",
      "members": {
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of items matching the request. This will always be populated in the response."
          }
        },
        "targetSites": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaTargetSiteList",
          "traits": {
            "smithy.api#documentation": "List of TargetSites containing the site verification status."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SiteSearchEngineService.FetchDomainVerificationStatus method."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaTargetSiteList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaTargetSite"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequest": {
      "type": "structure",
      "members": {
        "suggestionTypeSpecs": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestSuggestionTypeSpecList",
          "traits": {
            "smithy.api#documentation": "Optional. Specification of each suggestion type."
          }
        },
        "userPseudoId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and SearchRequest.user_pseudo_id. The field must be a UTF-8 encoded string with a length limit of 128"
          }
        },
        "boostSpec": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestBoostSpec",
          "traits": {
            "smithy.api#documentation": "Optional. Specification to boost suggestions matching the condition."
          }
        },
        "suggestionTypes": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestSuggestionTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Suggestion types to return. If empty or unspecified, query suggestions are returned. Only one suggestion type is supported at the moment."
          }
        },
        "queryModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the autocomplete query model, which only applies to the QUERY SuggestionType. This overrides any model specified in the Configuration > Autocomplete section of the Cloud console. Currently supported values: * `document` - Using suggestions generated from user-imported documents. * `search-history` - Using suggestions generated from the past history of SearchService.Search API calls. Do not use it when there is no traffic for Search API. * `user-event` - Using suggestions generated from user-imported search events. * `document-completable` - Using suggestions taken directly from user-imported document fields marked as completable. Default values: * `document` is the default model for regular dataStores. * `search-history` is the default model for site search dataStores."
          }
        },
        "userInfo": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaUserInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Information about the end user. This should be the same identifier information as UserEvent.user_info and SearchRequest.user_info."
          }
        },
        "includeTailSuggestions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if tail suggestions should be returned if there are no suggestions that match the full query. Even if set to true, if there are suggestions that match the full query, those are returned and no tail suggestions are returned."
          }
        },
        "experimentIds": {
          "target": "com.gcp.discoveryengine_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Experiment ids for this request."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The typeahead input used to fetch suggestions. Maximum length is 128 characters. The query can not be empty for most of the suggestion types. If it is empty, an `INVALID_ARGUMENT` error is returned. The exception is when the suggestion_types contains only the type `RECENT_SEARCH`, the query can be an empty string. The is called \"zero prefix\" feature, which returns user's recently searched queries given the empty query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CompletionService.AdvancedCompleteQuery method. ."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestSuggestionTypeSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestSuggestionTypeSpec"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestSuggestionTypesItemEnum": {
      "type": "enum",
      "members": {
        "SUGGESTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUGGESTION_TYPE_UNSPECIFIED"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY"
          }
        },
        "PEOPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEOPLE"
          }
        },
        "CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT"
          }
        },
        "RECENT_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECENT_SEARCH"
          }
        },
        "GOOGLE_WORKSPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_WORKSPACE"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestSuggestionTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestSuggestionTypesItemEnum"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1AclConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
          }
        },
        "idpConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1IdpConfig",
          "traits": {
            "smithy.api#documentation": "Identity provider config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Access Control Configuration."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaExportMetricsResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the ExportMetricsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec": {
      "type": "structure",
      "members": {
        "conditionBoostSpecs": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecList",
          "traits": {
            "smithy.api#documentation": "Condition boost specifications. If a document matches multiple conditions in the specifications, boost scores from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Boost specification to boost certain documents."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaChunkAnnotationMetadata": {
      "type": "structure",
      "members": {
        "structuredContent": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaChunkStructuredContent",
          "traits": {
            "smithy.api#documentation": "Output only. The structured content information."
          }
        },
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Image id is provided if the structured content is based on an image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The annotation metadata includes structured content in the current chunk."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaFetchSitemapsResponseSitemapMetadata": {
      "type": "structure",
      "members": {
        "sitemap": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSitemap",
          "traits": {
            "smithy.api#documentation": "The Sitemap."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a Sitemap and its metadata."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1SiteVerificationInfo": {
      "type": "structure",
      "members": {
        "siteVerificationState": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1SiteVerificationInfoSiteVerificationStateEnum",
          "traits": {
            "smithy.api#documentation": "Site verification state indicating the ownership and validity."
          }
        },
        "verifyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Latest site verification time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Verification information for target sites in advanced site search."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1SiteVerificationInfoSiteVerificationStateEnum": {
      "type": "enum",
      "members": {
        "SITE_VERIFICATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SITE_VERIFICATION_STATE_UNSPECIFIED"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFIED"
          }
        },
        "UNVERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNVERIFIED"
          }
        },
        "EXEMPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXEMPTED"
          }
        }
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig": {
      "type": "structure",
      "members": {
        "alloyDbConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig",
          "traits": {
            "smithy.api#documentation": "AlloyDB config. If set, this DataStore is connected to AlloyDB."
          }
        },
        "thirdPartyOauthConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigThirdPartyOauthConfig",
          "traits": {
            "smithy.api#documentation": "Third Party OAuth config. If set, this DataStore is connected to a third party application."
          }
        },
        "notebooklmConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigNotebooklmConfig",
          "traits": {
            "smithy.api#documentation": "NotebookLM config. If set, this DataStore is connected to NotebookLM Enterprise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stores information for federated search."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesResponse": {
      "type": "structure",
      "members": {
        "importedEntriesCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of deny list entries successfully imported."
          }
        },
        "failedEntriesCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of deny list entries that failed to be imported."
          }
        },
        "errorSamples": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CompletionService.ImportSuggestionDenyListEntries method."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "failureCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of user licenses that failed to be updated."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        },
        "successCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of user licenses successfully updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1ImportDocumentsMetadata": {
      "type": "structure",
      "members": {
        "successCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of entries that were processed successfully."
          }
        },
        "failureCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of entries that encountered errors while processing."
          }
        },
        "totalCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total count of entries that were processed."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the ImportDocuments operation. This is returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaStreamAssistRequestToolsSpecVertexAiSearchSpec": {
      "type": "structure",
      "members": {
        "dataStoreSpecs": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSearchRequestDataStoreSpecList",
          "traits": {
            "smithy.api#documentation": "Optional. Specs defining DataStores to filter on in a search call and configurations for those data stores. This is only considered for Engines with multiple data stores."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of the Vertex AI Search tool."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSearchRequestDataStoreSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSearchRequestDataStoreSpec"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfig": {
      "type": "structure",
      "members": {
        "alertEnrollments": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfigAlertEnrollmentList",
          "traits": {
            "smithy.api#documentation": "Optional. The enrollment state of each alert."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The region code used of the user that subscribed to the alert policy."
          }
        },
        "alertPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The fully qualified resource name of the AlertPolicy."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The language code used for notifications"
          }
        },
        "contactDetails": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaContactDetailsList",
          "traits": {
            "smithy.api#documentation": "Optional. The contact details for each alert policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource level alert config. Used in: * UserLicense * EngineUserData The AlertPolicyConfig in data connector is of same usage. No easy way to migrate."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfigAlertEnrollmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfigAlertEnrollment"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaContactDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaContactDetails"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1DeleteTargetSiteMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the SiteSearchEngineService.DeleteTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaListSchemasResponse": {
      "type": "structure",
      "members": {
        "schemas": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSchemaList",
          "traits": {
            "smithy.api#documentation": "The Schemas."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as ListSchemasRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SchemaService.ListSchemas method."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSchemaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaSchema"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaCitation": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Url reference of the attribution."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Title of the attribution."
          }
        },
        "endIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. End index into the content."
          }
        },
        "startIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Start index into the content."
          }
        },
        "license": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. License of the attribution."
          }
        },
        "publicationDate": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Output only. Publication date of the attribution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source attributions for content."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponseQuerySuggestion": {
      "type": "structure",
      "members": {
        "suggestion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suggestion for the query."
          }
        },
        "completableFieldPaths": {
          "target": "com.gcp.discoveryengine_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The unique document field paths that serve as the source of this suggestion if it was generated from completable fields. This field is only populated for the document-completable model."
          }
        },
        "dataStore": {
          "target": "com.gcp.discoveryengine_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The name of the dataStore that this suggestion belongs to."
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score of each suggestion. The score is in the range of [0, 1]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Suggestions as search queries."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfig": {
      "type": "structure",
      "members": {
        "notebooklmConfig": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for NotebookLM settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer provided configurations."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpec": {
      "type": "structure",
      "members": {
        "enable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable the safety filtering on the answer response. It is false by default."
          }
        },
        "safetySettings": {
          "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpecSafetySettingList",
          "traits": {
            "smithy.api#documentation": "Optional. Safety settings. This settings are effective only when the safety_spec.enable is true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Safety specification. There are two use cases: 1. when only safety_spec.enable is set, the BLOCK_LOW_AND_ABOVE threshold will be applied for all categories. 2. when safety_spec.enable is set and some safety_settings are set, only specified safety_settings are applied."
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpecSafetySettingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpecSafetySetting"
      }
    },
    "com.gcp.discoveryengine_v1beta#GoogleCloudDiscoveryengineV1alphaUpdateCollectionMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the CollectionService.UpdateCollection operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
[...]
