{
  "smithy": "2.0",
  "metadata": {
    "service": "displayvideo",
    "version": "v2",
    "title": "Display & Video 360 API",
    "baseUrl": "https://displayvideo.googleapis.com/"
  },
  "shapes": {
    "com.gcp.displayvideo_v2#CarrierAndIspAssignedTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the carrier or ISP."
          }
        },
        "targetingOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_CARRIER_AND_ISP`."
          }
        },
        "negative": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this option is being negatively targeted. All assigned carrier and ISP targeting options on the same resource must have the same value for this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for assigned carrier and ISP targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_CARRIER_AND_ISP`."
      }
    },
    "com.gcp.displayvideo_v2#CustomListGroup": {
      "type": "structure",
      "members": {
        "settings": {
          "target": "com.gcp.displayvideo_v2#CustomListTargetingSettingList",
          "traits": {
            "smithy.api#documentation": "Required. All custom list targeting settings in custom list group. Repeated settings with the same id will be ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of custom list group. All custom list targeting settings are logically ‘OR’ of each other."
      }
    },
    "com.gcp.displayvideo_v2#CustomListTargetingSettingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v2#CustomListTargetingSetting"
      }
    },
    "com.gcp.displayvideo_v2#BulkUpdateLineItemsRequest": {
      "type": "structure",
      "members": {
        "lineItemIds": {
          "target": "com.gcp.displayvideo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Required. IDs of line items to update."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A field mask identifying which fields to update. Only the following fields are currently supported: * entityStatus * containsEuPoliticalAds"
          }
        },
        "targetLineItem": {
          "target": "com.gcp.displayvideo_v2#LineItem",
          "traits": {
            "smithy.api#documentation": "Required. A line item object containing the fields to be updated and the new values to assign to all line items specified in line_item_ids.\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for LineItemService.BulkUpdateLineItems."
      }
    },
    "com.gcp.displayvideo_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.displayvideo_v2#PartnerCost": {
      "type": "structure",
      "members": {
        "invoiceType": {
          "target": "com.gcp.displayvideo_v2#PartnerCostInvoiceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The invoice type for this partner cost. * Required when cost_type is one of: - `PARTNER_COST_TYPE_ADLOOX` - `PARTNER_COST_TYPE_DOUBLE_VERIFY` - `PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE`. * Output only for other types."
          }
        },
        "feeType": {
          "target": "com.gcp.displayvideo_v2#PartnerCostFeeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The fee type for this partner cost."
          }
        },
        "costType": {
          "target": "com.gcp.displayvideo_v2#PartnerCostCostTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the partner cost."
          }
        },
        "feeAmount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CPM fee amount in micros of advertiser's currency. Applicable when the fee_type is `PARTNER_FEE_TYPE_CPM_FEE`. Must be greater than or equal to 0. For example, for 1.5 standard unit of the advertiser's currency, set this field to 1500000."
          }
        },
        "feePercentageMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media fee percentage in millis (1/1000 of a percent). Applicable when the fee_type is `PARTNER_FEE_TYPE_MEDIA_FEE`. Must be greater than or equal to 0. For example: 100 represents 0.1%."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings that control a partner cost. A partner cost is any type of expense involved in running a campaign, other than the costs of purchasing impressions (which is called the media cost) and using third-party audience segment data (data fee). Some examples of partner costs include the fees for using DV360, a third-party ad server, or a third-party ad serving verification service."
      }
    },
    "com.gcp.displayvideo_v2#PartnerCostInvoiceTypeEnum": {
      "type": "enum",
      "members": {
        "PARTNER_COST_INVOICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_INVOICE_TYPE_UNSPECIFIED"
          }
        },
        "PARTNER_COST_INVOICE_TYPE_DV360": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_INVOICE_TYPE_DV360"
          }
        },
        "PARTNER_COST_INVOICE_TYPE_PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_INVOICE_TYPE_PARTNER"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#PartnerCostFeeTypeEnum": {
      "type": "enum",
      "members": {
        "PARTNER_COST_FEE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_FEE_TYPE_UNSPECIFIED"
          }
        },
        "PARTNER_COST_FEE_TYPE_CPM_FEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_FEE_TYPE_CPM_FEE"
          }
        },
        "PARTNER_COST_FEE_TYPE_MEDIA_FEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_FEE_TYPE_MEDIA_FEE"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#PartnerCostCostTypeEnum": {
      "type": "enum",
      "members": {
        "PARTNER_COST_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_UNSPECIFIED"
          }
        },
        "PARTNER_COST_TYPE_ADLOOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_ADLOOX"
          }
        },
        "PARTNER_COST_TYPE_ADLOOX_PREBID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_ADLOOX_PREBID"
          }
        },
        "PARTNER_COST_TYPE_ADSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_ADSAFE"
          }
        },
        "PARTNER_COST_TYPE_ADXPOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_ADXPOSE"
          }
        },
        "PARTNER_COST_TYPE_AGGREGATE_KNOWLEDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_AGGREGATE_KNOWLEDGE"
          }
        },
        "PARTNER_COST_TYPE_AGENCY_TRADING_DESK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_AGENCY_TRADING_DESK"
          }
        },
        "PARTNER_COST_TYPE_DV360_FEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_DV360_FEE"
          }
        },
        "PARTNER_COST_TYPE_COMSCORE_VCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_COMSCORE_VCE"
          }
        },
        "PARTNER_COST_TYPE_DATA_MANAGEMENT_PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_DATA_MANAGEMENT_PLATFORM"
          }
        },
        "PARTNER_COST_TYPE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_DEFAULT"
          }
        },
        "PARTNER_COST_TYPE_DOUBLE_VERIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_DOUBLE_VERIFY"
          }
        },
        "PARTNER_COST_TYPE_DOUBLE_VERIFY_PREBID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_DOUBLE_VERIFY_PREBID"
          }
        },
        "PARTNER_COST_TYPE_EVIDON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_EVIDON"
          }
        },
        "PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_VIDEO"
          }
        },
        "PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_PREBID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_PREBID"
          }
        },
        "PARTNER_COST_TYPE_MEDIA_COST_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_MEDIA_COST_DATA"
          }
        },
        "PARTNER_COST_TYPE_MOAT_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_MOAT_VIDEO"
          }
        },
        "PARTNER_COST_TYPE_NIELSEN_DAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_NIELSEN_DAR"
          }
        },
        "PARTNER_COST_TYPE_SHOP_LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_SHOP_LOCAL"
          }
        },
        "PARTNER_COST_TYPE_TERACENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_TERACENT"
          }
        },
        "PARTNER_COST_TYPE_THIRD_PARTY_AD_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_THIRD_PARTY_AD_SERVER"
          }
        },
        "PARTNER_COST_TYPE_TRUST_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_TRUST_METRICS"
          }
        },
        "PARTNER_COST_TYPE_VIZU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_VIZU"
          }
        },
        "PARTNER_COST_TYPE_CUSTOM_FEE_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_CUSTOM_FEE_1"
          }
        },
        "PARTNER_COST_TYPE_CUSTOM_FEE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_CUSTOM_FEE_2"
          }
        },
        "PARTNER_COST_TYPE_CUSTOM_FEE_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_CUSTOM_FEE_3"
          }
        },
        "PARTNER_COST_TYPE_CUSTOM_FEE_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_CUSTOM_FEE_4"
          }
        },
        "PARTNER_COST_TYPE_CUSTOM_FEE_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_CUSTOM_FEE_5"
          }
        },
        "PARTNER_COST_TYPE_SCIBIDS_FEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_COST_TYPE_SCIBIDS_FEE"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#BusinessChainTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "geoRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the geographic region, e.g. \"Ontario, Canada\"."
          }
        },
        "businessChain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the business chain, e.g. \"KFC\", \"Chase Bank\"."
          }
        },
        "geoRegionType": {
          "target": "com.gcp.displayvideo_v2#BusinessChainTargetingOptionDetailsGeoRegionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the geographic region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a targetable business chain within a geo region. This will be populated in the business_chain_details field when targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`."
      }
    },
    "com.gcp.displayvideo_v2#BusinessChainTargetingOptionDetailsGeoRegionTypeEnum": {
      "type": "enum",
      "members": {
        "GEO_REGION_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_UNKNOWN"
          }
        },
        "GEO_REGION_TYPE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_OTHER"
          }
        },
        "GEO_REGION_TYPE_COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_COUNTRY"
          }
        },
        "GEO_REGION_TYPE_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_REGION"
          }
        },
        "GEO_REGION_TYPE_TERRITORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_TERRITORY"
          }
        },
        "GEO_REGION_TYPE_PROVINCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_PROVINCE"
          }
        },
        "GEO_REGION_TYPE_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_STATE"
          }
        },
        "GEO_REGION_TYPE_PREFECTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_PREFECTURE"
          }
        },
        "GEO_REGION_TYPE_GOVERNORATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_GOVERNORATE"
          }
        },
        "GEO_REGION_TYPE_CANTON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_CANTON"
          }
        },
        "GEO_REGION_TYPE_UNION_TERRITORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_UNION_TERRITORY"
          }
        },
        "GEO_REGION_TYPE_AUTONOMOUS_COMMUNITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_AUTONOMOUS_COMMUNITY"
          }
        },
        "GEO_REGION_TYPE_DMA_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_DMA_REGION"
          }
        },
        "GEO_REGION_TYPE_METRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_METRO"
          }
        },
        "GEO_REGION_TYPE_CONGRESSIONAL_DISTRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_CONGRESSIONAL_DISTRICT"
          }
        },
        "GEO_REGION_TYPE_COUNTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_COUNTY"
          }
        },
        "GEO_REGION_TYPE_MUNICIPALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_MUNICIPALITY"
          }
        },
        "GEO_REGION_TYPE_CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_CITY"
          }
        },
        "GEO_REGION_TYPE_POSTAL_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_POSTAL_CODE"
          }
        },
        "GEO_REGION_TYPE_DEPARTMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_DEPARTMENT"
          }
        },
        "GEO_REGION_TYPE_AIRPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_AIRPORT"
          }
        },
        "GEO_REGION_TYPE_TV_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_TV_REGION"
          }
        },
        "GEO_REGION_TYPE_OKRUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_OKRUG"
          }
        },
        "GEO_REGION_TYPE_BOROUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_BOROUGH"
          }
        },
        "GEO_REGION_TYPE_CITY_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_CITY_REGION"
          }
        },
        "GEO_REGION_TYPE_ARRONDISSEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_ARRONDISSEMENT"
          }
        },
        "GEO_REGION_TYPE_NEIGHBORHOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_NEIGHBORHOOD"
          }
        },
        "GEO_REGION_TYPE_UNIVERSITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_UNIVERSITY"
          }
        },
        "GEO_REGION_TYPE_DISTRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_DISTRICT"
          }
        },
        "GEO_REGION_TYPE_NATIONAL_PARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_NATIONAL_PARK"
          }
        },
        "GEO_REGION_TYPE_BARRIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_BARRIO"
          }
        },
        "GEO_REGION_TYPE_SUB_WARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_SUB_WARD"
          }
        },
        "GEO_REGION_TYPE_MUNICIPALITY_DISTRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_MUNICIPALITY_DISTRICT"
          }
        },
        "GEO_REGION_TYPE_SUB_DISTRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_SUB_DISTRICT"
          }
        },
        "GEO_REGION_TYPE_QUARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_QUARTER"
          }
        },
        "GEO_REGION_TYPE_DIVISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_DIVISION"
          }
        },
        "GEO_REGION_TYPE_COMMUNE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_COMMUNE"
          }
        },
        "GEO_REGION_TYPE_COLLOQUIAL_AREA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_COLLOQUIAL_AREA"
          }
        },
        "GEO_REGION_TYPE_POST_TOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_POST_TOWN"
          }
        },
        "GEO_REGION_TYPE_WARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO_REGION_TYPE_WARD"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#ReviewStatusInfo": {
      "type": "structure",
      "members": {
        "exchangeReviewStatuses": {
          "target": "com.gcp.displayvideo_v2#ExchangeReviewStatusList",
          "traits": {
            "smithy.api#documentation": "Exchange review statuses for the creative."
          }
        },
        "publisherReviewStatuses": {
          "target": "com.gcp.displayvideo_v2#PublisherReviewStatusList",
          "traits": {
            "smithy.api#documentation": "Publisher review statuses for the creative."
          }
        },
        "creativeAndLandingPageReviewStatus": {
          "target": "com.gcp.displayvideo_v2#ReviewStatusInfoCreativeAndLandingPageReviewStatusEnum",
          "traits": {
            "smithy.api#documentation": "Creative and landing page review status for the creative."
          }
        },
        "approvalStatus": {
          "target": "com.gcp.displayvideo_v2#ReviewStatusInfoApprovalStatusEnum",
          "traits": {
            "smithy.api#documentation": "Represents the basic approval needed for a creative to begin serving. Summary of creative_and_landing_page_review_status and content_and_policy_review_status."
          }
        },
        "contentAndPolicyReviewStatus": {
          "target": "com.gcp.displayvideo_v2#ReviewStatusInfoContentAndPolicyReviewStatusEnum",
          "traits": {
            "smithy.api#documentation": "Content and policy review status for the creative."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Review statuses for the creative."
      }
    },
    "com.gcp.displayvideo_v2#ExchangeReviewStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v2#ExchangeReviewStatus"
      }
    },
    "com.gcp.displayvideo_v2#PublisherReviewStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v2#PublisherReviewStatus"
      }
    },
    "com.gcp.displayvideo_v2#ReviewStatusInfoCreativeAndLandingPageReviewStatusEnum": {
      "type": "enum",
      "members": {
        "REVIEW_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVIEW_STATUS_UNSPECIFIED"
          }
        },
        "REVIEW_STATUS_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVIEW_STATUS_APPROVED"
          }
        },
        "REVIEW_STATUS_REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVIEW_STATUS_REJECTED"
          }
        },
        "REVIEW_STATUS_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVIEW_STATUS_PENDING"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#ReviewStatusInfoApprovalStatusEnum": {
      "type": "enum",
      "members": {
        "APPROVAL_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVAL_STATUS_UNSPECIFIED"
          }
        },
        "APPROVAL_STATUS_PENDING_NOT_SERVABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVAL_STATUS_PENDING_NOT_SERVABLE"
          }
        },
        "APPROVAL_STATUS_PENDING_SERVABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVAL_STATUS_PENDING_SERVABLE"
          }
        },
        "APPROVAL_STATUS_APPROVED_SERVABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVAL_STATUS_APPROVED_SERVABLE"
          }
        },
        "APPROVAL_STATUS_REJECTED_NOT_SERVABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVAL_STATUS_REJECTED_NOT_SERVABLE"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#ReviewStatusInfoContentAndPolicyReviewStatusEnum": {
      "type": "enum",
      "members": {
        "REVIEW_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVIEW_STATUS_UNSPECIFIED"
          }
        },
        "REVIEW_STATUS_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVIEW_STATUS_APPROVED"
          }
        },
        "REVIEW_STATUS_REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVIEW_STATUS_REJECTED"
          }
        },
        "REVIEW_STATUS_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVIEW_STATUS_PENDING"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#VideoPerformanceAd": {
      "type": "structure",
      "members": {
        "headlines": {
          "target": "com.gcp.displayvideo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The list of headlines shown on the call-to-action banner."
          }
        },
        "videos": {
          "target": "com.gcp.displayvideo_v2#YoutubeVideoDetailsList",
          "traits": {
            "smithy.api#documentation": "The list of YouTube video assets used by this ad."
          }
        },
        "actionButtonLabels": {
          "target": "com.gcp.displayvideo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The list of text assets shown on the call-to-action button."
          }
        },
        "longHeadlines": {
          "target": "com.gcp.displayvideo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The list of long headlines shown on the call-to-action banner."
          }
        },
        "descriptions": {
          "target": "com.gcp.displayvideo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The list of descriptions shown on the call-to-action banner."
          }
        },
        "trackingUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL address loaded in the background for tracking purposes."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain of the display URL."
          }
        },
        "displayUrlBreadcrumb1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first piece after the domain in the display URL."
          }
        },
        "finalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL address of the webpage that people reach after they click the ad."
          }
        },
        "companionBanners": {
          "target": "com.gcp.displayvideo_v2#ImageAssetList",
          "traits": {
            "smithy.api#documentation": "The list of companion banners used by this ad."
          }
        },
        "displayUrlBreadcrumb2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The second piece after the domain in the display URL."
          }
        },
        "customParameters": {
          "target": "com.gcp.displayvideo_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "The custom parameters and accompanying values to add to the tracking URL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for a video performance ad."
      }
    },
    "com.gcp.displayvideo_v2#YoutubeVideoDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v2#YoutubeVideoDetails"
      }
    },
    "com.gcp.displayvideo_v2#ImageAssetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v2#ImageAsset"
      }
    },
    "com.gcp.displayvideo_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.displayvideo_v2#ProductFeedData": {
      "type": "structure",
      "members": {
        "productMatchDimensions": {
          "target": "com.gcp.displayvideo_v2#ProductMatchDimensionList",
          "traits": {
            "smithy.api#documentation": "A list of dimensions used to match products."
          }
        },
        "productMatchType": {
          "target": "com.gcp.displayvideo_v2#ProductFeedDataProductMatchTypeEnum",
          "traits": {
            "smithy.api#documentation": "How products are selected by the product feed."
          }
        },
        "isFeedDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the product feed has opted-out of showing products."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of product feed."
      }
    },
    "com.gcp.displayvideo_v2#ProductMatchDimensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v2#ProductMatchDimension"
      }
    },
    "com.gcp.displayvideo_v2#ProductFeedDataProductMatchTypeEnum": {
      "type": "enum",
      "members": {
        "PRODUCT_MATCH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_MATCH_TYPE_UNSPECIFIED"
          }
        },
        "PRODUCT_MATCH_TYPE_ALL_PRODUCTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_MATCH_TYPE_ALL_PRODUCTS"
          }
        },
        "PRODUCT_MATCH_TYPE_SPECIFIC_PRODUCTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_MATCH_TYPE_SPECIFIC_PRODUCTS"
          }
        },
        "PRODUCT_MATCH_TYPE_CUSTOM_LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_MATCH_TYPE_CUSTOM_LABEL"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#InventorySourceAssignedTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "inventorySourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the inventory source. Should refer to the inventory_source_id field of an InventorySource resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targeting details for inventory source. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE`."
      }
    },
    "com.gcp.displayvideo_v2#BulkEditAdvertiserAssignedTargetingOptionsResponse": {
      "type": "structure",
      "members": {
        "createdAssignedTargetingOptions": {
          "target": "com.gcp.displayvideo_v2#AssignedTargetingOptionList",
          "traits": {
            "smithy.api#documentation": "The list of assigned targeting options that have been successfully created. This list will be absent if empty."
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#AssignedTargetingOptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v2#AssignedTargetingOption"
      }
    },
    "com.gcp.displayvideo_v2#DuplicateLineItemRequest": {
      "type": "structure",
      "members": {
        "targetDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the new line item. Must be UTF-8 encoded with a maximum size of 240 bytes."
          }
        },
        "containsEuPoliticalAds": {
          "target": "com.gcp.displayvideo_v2#DuplicateLineItemRequestContainsEuPoliticalAdsEnum",
          "traits": {
            "smithy.api#documentation": "Whether this line item will serve European Union political ads. If contains_eu_political_ads has been set to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` in the parent advertiser, then this field will be assigned `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` if not otherwise specified. This field can then be updated using the UI, API, or Structured Data Files. This field must be assigned when creating a new line item. Otherwise, **the `advertisers.lineItems.create` request will fail**."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for LineItemService.DuplicateLineItem."
      }
    },
    "com.gcp.displayvideo_v2#DuplicateLineItemRequestContainsEuPoliticalAdsEnum": {
      "type": "enum",
      "members": {
        "EU_POLITICAL_ADVERTISING_STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EU_POLITICAL_ADVERTISING_STATUS_UNKNOWN"
          }
        },
        "CONTAINS_EU_POLITICAL_ADVERTISING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS_EU_POLITICAL_ADVERTISING"
          }
        },
        "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#InventorySourceGroupAssignedTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "inventorySourceGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the inventory source group. Should refer to the inventory_source_group_id field of an InventorySourceGroup resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targeting details for inventory source group. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE_GROUP`."
      }
    },
    "com.gcp.displayvideo_v2#DeviceMakeModelAssignedTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "targetingOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_DEVICE_MAKE_MODEL`."
          }
        },
        "negative": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this option is being negatively targeted."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the device make and model."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Assigned device make and model targeting option details. This will be populated in the device_make_model_details field when targeting_type is `TARGETING_TYPE_DEVICE_MAKE_MODEL`."
      }
    },
    "com.gcp.displayvideo_v2#OnScreenPositionTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "onScreenPosition": {
          "target": "com.gcp.displayvideo_v2#OnScreenPositionTargetingOptionDetailsOnScreenPositionEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The on screen position."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a targetable on screen position, which could be used by display and video ads. This will be populated in the on_screen_position_details field when targeting_type is `TARGETING_TYPE_ON_SCREEN_POSITION`."
      }
    },
    "com.gcp.displayvideo_v2#OnScreenPositionTargetingOptionDetailsOnScreenPositionEnum": {
      "type": "enum",
      "members": {
        "ON_SCREEN_POSITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_SCREEN_POSITION_UNSPECIFIED"
          }
        },
        "ON_SCREEN_POSITION_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_SCREEN_POSITION_UNKNOWN"
          }
        },
        "ON_SCREEN_POSITION_ABOVE_THE_FOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_SCREEN_POSITION_ABOVE_THE_FOLD"
          }
        },
        "ON_SCREEN_POSITION_BELOW_THE_FOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_SCREEN_POSITION_BELOW_THE_FOLD"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#ListAssignedInventorySourcesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListAssignedInventorySources` method to retrieve the next page of results."
          }
        },
        "assignedInventorySources": {
          "target": "com.gcp.displayvideo_v2#AssignedInventorySourceList",
          "traits": {
            "smithy.api#documentation": "The list of assigned inventory sources. This list will be absent if empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AssignedInventorySourceService.ListAssignedInventorySources."
      }
    },
    "com.gcp.displayvideo_v2#AssignedInventorySourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v2#AssignedInventorySource"
      }
    },
    "com.gcp.displayvideo_v2#CreateAssetResponse": {
      "type": "structure",
      "members": {
        "asset": {
          "target": "com.gcp.displayvideo_v2#Asset",
          "traits": {
            "smithy.api#documentation": "The uploaded asset, if successful."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response message for CreateAsset."
      }
    },
    "com.gcp.displayvideo_v2#SdfDownloadTaskMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when execution was completed."
          }
        },
        "version": {
          "target": "com.gcp.displayvideo_v2#SdfDownloadTaskMetadataVersionEnum",
          "traits": {
            "smithy.api#documentation": "The SDF version used to execute this download task."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type for the metadata returned by SdfDownloadTaskService.CreateSdfDownloadTask."
      }
    },
    "com.gcp.displayvideo_v2#SdfDownloadTaskMetadataVersionEnum": {
      "type": "enum",
      "members": {
        "SDF_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_UNSPECIFIED"
          }
        },
        "SDF_VERSION_3_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_3_1"
          }
        },
        "SDF_VERSION_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_4"
          }
        },
        "SDF_VERSION_4_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_4_1"
          }
        },
        "SDF_VERSION_4_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_4_2"
          }
        },
        "SDF_VERSION_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_5"
          }
        },
        "SDF_VERSION_5_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_5_1"
          }
        },
        "SDF_VERSION_5_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_5_2"
          }
        },
        "SDF_VERSION_5_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_5_3"
          }
        },
        "SDF_VERSION_5_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_5_4"
          }
        },
        "SDF_VERSION_5_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_5_5"
          }
        },
        "SDF_VERSION_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_6"
          }
        },
        "SDF_VERSION_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_7"
          }
        },
        "SDF_VERSION_7_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_7_1"
          }
        },
        "SDF_VERSION_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_8"
          }
        },
        "SDF_VERSION_8_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_8_1"
          }
        },
        "SDF_VERSION_9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_9"
          }
        },
        "SDF_VERSION_9_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_9_1"
          }
        },
        "SDF_VERSION_9_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_9_2"
          }
        },
        "SDF_VERSION_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDF_VERSION_10"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#BulkEditAssignedTargetingOptionsResponse": {
      "type": "structure",
      "members": {
        "updatedLineItemIds": {
          "target": "com.gcp.displayvideo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The IDs of the line items which successfully updated."
          }
        },
        "failedLineItemIds": {
          "target": "com.gcp.displayvideo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The IDs of the line items which failed."
          }
        },
        "errors": {
          "target": "com.gcp.displayvideo_v2#StatusList",
          "traits": {
            "smithy.api#documentation": "The error information for each line item that failed to update."
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#StatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v2#Status"
      }
    },
    "com.gcp.displayvideo_v2#BulkEditAssignedInventorySourcesRequest": {
      "type": "structure",
      "members": {
        "advertiserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the advertiser that owns the parent inventory source group. The parent partner does not have access to these assigned inventory sources."
          }
        },
        "partnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the partner that owns the inventory source group. Only this partner has write access to these assigned inventory sources."
          }
        },
        "deletedAssignedInventorySources": {
          "target": "com.gcp.displayvideo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The IDs of the assigned inventory sources to delete in bulk, specified as a list of assigned_inventory_source_ids."
          }
        },
        "createdAssignedInventorySources": {
          "target": "com.gcp.displayvideo_v2#AssignedInventorySourceList",
          "traits": {
            "smithy.api#documentation": "The assigned inventory sources to create in bulk, specified as a list of AssignedInventorySources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for AssignedInventorySourceService.BulkEdit."
      }
    },
    "com.gcp.displayvideo_v2#PartnerAdServerConfig": {
      "type": "structure",
      "members": {
        "measurementConfig": {
          "target": "com.gcp.displayvideo_v2#MeasurementConfig",
          "traits": {
            "smithy.api#documentation": "Measurement settings of a partner."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ad server related settings of a partner."
      }
    },
    "com.gcp.displayvideo_v2#CustomBiddingScript": {
      "type": "structure",
      "members": {
        "customBiddingScriptId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of the custom bidding script."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the script was created."
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the script is currently being used for scoring by the parent algorithm."
          }
        },
        "state": {
          "target": "com.gcp.displayvideo_v2#CustomBiddingScriptStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the custom bidding script."
          }
        },
        "errors": {
          "target": "com.gcp.displayvideo_v2#ScriptErrorList",
          "traits": {
            "smithy.api#documentation": "Output only. Error details of a rejected custom bidding script. This field will only be populated when state is REJECTED."
          }
        },
        "customBiddingAlgorithmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of the custom bidding algorithm the script belongs to."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the custom bidding script."
          }
        },
        "script": {
          "target": "com.gcp.displayvideo_v2#CustomBiddingScriptRef",
          "traits": {
            "smithy.api#documentation": "The reference to the uploaded script file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single custom bidding script."
      }
    },
    "com.gcp.displayvideo_v2#CustomBiddingScriptStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#ScriptErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v2#ScriptError"
      }
    },
    "com.gcp.displayvideo_v2#ViewabilityTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "viewability": {
          "target": "com.gcp.displayvideo_v2#ViewabilityTargetingOptionDetailsViewabilityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The predicted viewability percentage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a targetable viewability. This will be populated in the viewability_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_VIEWABILITY`."
      }
    },
    "com.gcp.displayvideo_v2#ViewabilityTargetingOptionDetailsViewabilityEnum": {
      "type": "enum",
      "members": {
        "VIEWABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWABILITY_UNSPECIFIED"
          }
        },
        "VIEWABILITY_10_PERCENT_OR_MORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWABILITY_10_PERCENT_OR_MORE"
          }
        },
        "VIEWABILITY_20_PERCENT_OR_MORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWABILITY_20_PERCENT_OR_MORE"
          }
        },
        "VIEWABILITY_30_PERCENT_OR_MORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWABILITY_30_PERCENT_OR_MORE"
          }
        },
        "VIEWABILITY_40_PERCENT_OR_MORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWABILITY_40_PERCENT_OR_MORE"
          }
        },
        "VIEWABILITY_50_PERCENT_OR_MORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWABILITY_50_PERCENT_OR_MORE"
          }
        },
        "VIEWABILITY_60_PERCENT_OR_MORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWABILITY_60_PERCENT_OR_MORE"
          }
        },
        "VIEWABILITY_70_PERCENT_OR_MORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWABILITY_70_PERCENT_OR_MORE"
          }
        },
        "VIEWABILITY_80_PERCENT_OR_MORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWABILITY_80_PERCENT_OR_MORE"
          }
        },
        "VIEWABILITY_90_PERCENT_OR_MORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWABILITY_90_PERCENT_OR_MORE"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#AdUrl": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.displayvideo_v2#AdUrlTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the Ad URL."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL string value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional URLs related to the ad, including beacons."
      }
    },
    "com.gcp.displayvideo_v2#AdUrlTypeEnum": {
      "type": "enum",
      "members": {
        "AD_URL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_URL_TYPE_UNSPECIFIED"
          }
        },
        "AD_URL_TYPE_BEACON_IMPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_URL_TYPE_BEACON_IMPRESSION"
          }
        },
        "AD_URL_TYPE_BEACON_EXPANDABLE_DCM_IMPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_URL_TYPE_BEACON_EXPANDABLE_DCM_IMPRESSION"
          }
        },
        "AD_URL_TYPE_BEACON_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_URL_TYPE_BEACON_CLICK"
          }
        },
        "AD_URL_TYPE_BEACON_SKIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_URL_TYPE_BEACON_SKIP"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#ListInsertionOrdersResponse": {
      "type": "structure",
      "members": {
        "insertionOrders": {
          "target": "com.gcp.displayvideo_v2#InsertionOrderList",
          "traits": {
            "smithy.api#documentation": "The list of insertion orders. This list will be absent if empty."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListInsertionOrders` method to retrieve the next page of results."
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#InsertionOrderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v2#InsertionOrder"
      }
    },
    "com.gcp.displayvideo_v2#DeviceTypeAssignedTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "deviceType": {
          "target": "com.gcp.displayvideo_v2#DeviceTypeAssignedTargetingOptionDetailsDeviceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the device type."
          }
        },
        "youtubeAndPartnersBidMultiplier": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Bid multiplier allows you to show your ads more or less frequently based on the device type. It will apply a multiplier on the original bid price. When this field is 0, it indicates this field is not applicable instead of multiplying 0 on the original bid price. For example, if the bid price without multiplier is $10.0 and the multiplier is 1.5 for Tablet, the resulting bid price for Tablet will be $15.0. Only applicable to YouTube and Partners line items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targeting details for device type. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_DEVICE_TYPE`."
      }
    },
    "com.gcp.displayvideo_v2#DeviceTypeAssignedTargetingOptionDetailsDeviceTypeEnum": {
      "type": "enum",
      "members": {
        "DEVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_UNSPECIFIED"
          }
        },
        "DEVICE_TYPE_COMPUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_COMPUTER"
          }
        },
        "DEVICE_TYPE_CONNECTED_TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_CONNECTED_TV"
          }
        },
        "DEVICE_TYPE_SMART_PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_SMART_PHONE"
          }
        },
        "DEVICE_TYPE_TABLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_TABLET"
          }
        },
        "DEVICE_TYPE_CONNECTED_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_CONNECTED_DEVICE"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#SubExchangeTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the sub-exchange."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a targetable sub-exchange. This will be populated in the sub_exchange_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_SUB_EXCHANGE`."
      }
    },
    "com.gcp.displayvideo_v2#SensitiveCategoryAssignedTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "excludedSensitiveCategory": {
          "target": "com.gcp.displayvideo_v2#SensitiveCategoryAssignedTargetingOptionDetailsExcludedSensitiveCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Required. An enum for the DV360 Sensitive category content classified to be EXCLUDED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targeting details for sensitive category. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`."
      }
    },
    "com.gcp.displayvideo_v2#SensitiveCategoryAssignedTargetingOptionDetailsExcludedSensitiveCategoryEnum": {
      "type": "enum",
      "members": {
        "SENSITIVE_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_UNSPECIFIED"
          }
        },
        "SENSITIVE_CATEGORY_ADULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_ADULT"
          }
        },
        "SENSITIVE_CATEGORY_DEROGATORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_DEROGATORY"
          }
        },
        "SENSITIVE_CATEGORY_DOWNLOADS_SHARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_DOWNLOADS_SHARING"
          }
        },
        "SENSITIVE_CATEGORY_WEAPONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_WEAPONS"
          }
        },
        "SENSITIVE_CATEGORY_GAMBLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_GAMBLING"
          }
        },
        "SENSITIVE_CATEGORY_VIOLENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_VIOLENCE"
          }
        },
        "SENSITIVE_CATEGORY_SUGGESTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_SUGGESTIVE"
          }
        },
        "SENSITIVE_CATEGORY_PROFANITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_PROFANITY"
          }
        },
        "SENSITIVE_CATEGORY_ALCOHOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_ALCOHOL"
          }
        },
        "SENSITIVE_CATEGORY_DRUGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_DRUGS"
          }
        },
        "SENSITIVE_CATEGORY_TOBACCO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_TOBACCO"
          }
        },
        "SENSITIVE_CATEGORY_POLITICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_POLITICS"
          }
        },
        "SENSITIVE_CATEGORY_RELIGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_RELIGION"
          }
        },
        "SENSITIVE_CATEGORY_TRAGEDY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_TRAGEDY"
          }
        },
        "SENSITIVE_CATEGORY_TRANSPORTATION_ACCIDENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_TRANSPORTATION_ACCIDENTS"
          }
        },
        "SENSITIVE_CATEGORY_SENSITIVE_SOCIAL_ISSUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_SENSITIVE_SOCIAL_ISSUES"
          }
        },
        "SENSITIVE_CATEGORY_SHOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_SHOCKING"
          }
        },
        "SENSITIVE_CATEGORY_EMBEDDED_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_EMBEDDED_VIDEO"
          }
        },
        "SENSITIVE_CATEGORY_LIVE_STREAMING_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY_LIVE_STREAMING_VIDEO"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#Transcode": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The MIME type of the transcoded file."
          }
        },
        "dimensions": {
          "target": "com.gcp.displayvideo_v2#Dimensions",
          "traits": {
            "smithy.api#documentation": "Optional. The dimensions of the transcoded video."
          }
        },
        "audioSampleRateHz": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The sample rate for the audio stream of the transcoded video, or the sample rate for the transcoded audio, in hertz."
          }
        },
        "bitRateKbps": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The transcoding bit rate of the transcoded video, in kilobits per second."
          }
        },
        "frameRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The frame rate of the transcoded video, in frames per second."
          }
        },
        "audioBitRateKbps": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The bit rate for the audio stream of the transcoded video, or the bit rate for the transcoded audio, in kilobits per second."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the transcoded file."
          }
        },
        "fileSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The size of the transcoded file, in bytes."
          }
        },
        "transcoded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the transcoding was successful."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents information about the transcoded audio or video file."
      }
    },
    "com.gcp.displayvideo_v2#InventorySourceFilter": {
      "type": "structure",
      "members": {
        "inventorySourceIds": {
          "target": "com.gcp.displayvideo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Inventory Sources to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest. Leave empty to download all Inventory Sources for the selected Advertiser or Partner."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filtering option for filtering on Inventory Source entities."
      }
    },
    "com.gcp.displayvideo_v2#ContentStreamTypeTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "contentStreamType": {
          "target": "com.gcp.displayvideo_v2#ContentStreamTypeTargetingOptionDetailsContentStreamTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The content stream type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a targetable content stream type. This will be populated in the content_stream_type_details field when targeting_type is `TARGETING_TYPE_CONTENT_STREAM_TYPE`."
      }
    },
    "com.gcp.displayvideo_v2#ContentStreamTypeTargetingOptionDetailsContentStreamTypeEnum": {
      "type": "enum",
      "members": {
        "CONTENT_STREAM_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_STREAM_TYPE_UNSPECIFIED"
          }
        },
        "CONTENT_LIVE_STREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_LIVE_STREAM"
          }
        },
        "CONTENT_ON_DEMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_ON_DEMAND"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#Displayvideo_Date": {
      "type": "structure",
      "members": {
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.displayvideo_v2#DeactivateManualTriggerRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for ManualTriggerService.DeactivateManualTrigger."
      }
    },
    "com.gcp.displayvideo_v2#InsertionOrderBudgetSegment": {
      "type": "structure",
      "members": {
        "campaignBudgetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The budget_id of the campaign budget that this insertion order budget segment is a part of."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The budget segment description. It can be used to enter Purchase Order information for each budget segment and have that information printed on the invoices. Must be UTF-8 encoded."
          }
        },
        "dateRange": {
          "target": "com.gcp.displayvideo_v2#DateRange",
          "traits": {
            "smithy.api#documentation": "Required. The start and end date settings of the budget segment. They are resolved relative to the parent advertiser's time zone. * When creating a new budget segment, both `start_date` and `end_date` must be in the future. * An existing budget segment with a `start_date` in the past has a mutable `end_date` but an immutable `start_date`. * `end_date` must be the `start_date` or later, both before the year 2037."
          }
        },
        "budgetAmountMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The budget amount the insertion order will spend for the given date_range. The amount is in micros. Must be greater than 0. For example, 500000000 represents 500 standard units of the currency."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings that control the budget of a single budget segment."
      }
    },
    "com.gcp.displayvideo_v2#ListAdvertisersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListAdvertisers` method to retrieve the next page of results."
          }
        },
        "advertisers": {
          "target": "com.gcp.displayvideo_v2#AdvertiserList",
          "traits": {
            "smithy.api#documentation": "The list of advertisers. This list will be absent if empty."
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#AdvertiserList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v2#Advertiser"
      }
    },
    "com.gcp.displayvideo_v2#KeywordAssignedTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "keyword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The keyword, for example `car insurance`. Positive keyword cannot be offensive word. Must be UTF-8 encoded with a maximum size of 255 bytes. Maximum number of characters is 80. Maximum number of words is 10."
          }
        },
        "negative": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this option is being negatively targeted."
          }
        },
        "exemptedPolicyNames": {
          "target": "com.gcp.displayvideo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The policy names to exempt the keyword from. When attempting to target a keyword that violates a policy, the error returned will include the name of the relevant policy. Use that name in this field to exempt the targeted keyword from the policy. This field is only applicable for positively-targeted keywords assigned to Demand Gen resources. Retrieval and management of Demand Gen resources is currently in beta. This field is only available to allowlisted users."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for assigned keyword targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_KEYWORD`."
      }
    },
    "com.gcp.displayvideo_v2#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "error": {
          "target": "com.gcp.displayvideo_v2#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.displayvideo_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.displayvideo_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.displayvideo_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.displayvideo_v2#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.displayvideo_v2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.displayvideo_v2#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.displayvideo_v2#DocumentMap"
      }
    },
    "com.gcp.displayvideo_v2#LookbackWindow": {
      "type": "structure",
      "members": {
        "clickDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lookback window, in days, from the last time a given user clicked on one of your ads."
          }
        },
        "impressionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lookback window, in days, from the last time a given user viewed one of your ads."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies how many days into the past to look when determining whether to record a conversion."
      }
    },
    "com.gcp.displayvideo_v2#CategoryTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the category."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a targetable category. This will be populated in the category_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_CATEGORY`."
      }
    },
    "com.gcp.displayvideo_v2#ListPartnerAssignedTargetingOptionsResponse": {
      "type": "structure",
      "members": {
        "assignedTargetingOptions": {
          "target": "com.gcp.displayvideo_v2#AssignedTargetingOptionList",
          "traits": {
            "smithy.api#documentation": "The list of assigned targeting options. This list will be absent if empty."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent ListPartnerAssignedTargetingOptionsRequest to fetch the next page of results. This token will be absent if there are no more assigned_targeting_options to return."
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#ExchangeTargetingOptionDetails": {
      "type": "structure",
      "members": {
        "exchange": {
          "target": "com.gcp.displayvideo_v2#ExchangeTargetingOptionDetailsExchangeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of exchange."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a targetable exchange. This will be populated in the exchange_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_EXCHANGE`."
      }
    },
    "com.gcp.displayvideo_v2#ExchangeTargetingOptionDetailsExchangeEnum": {
      "type": "enum",
      "members": {
        "EXCHANGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_UNSPECIFIED"
          }
        },
        "EXCHANGE_GOOGLE_AD_MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_GOOGLE_AD_MANAGER"
          }
        },
        "EXCHANGE_APPNEXUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_APPNEXUS"
          }
        },
        "EXCHANGE_BRIGHTROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_BRIGHTROLL"
          }
        },
        "EXCHANGE_ADFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_ADFORM"
          }
        },
        "EXCHANGE_ADMETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_ADMETA"
          }
        },
        "EXCHANGE_ADMIXER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_ADMIXER"
          }
        },
        "EXCHANGE_ADSMOGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_ADSMOGO"
          }
        },
        "EXCHANGE_ADSWIZZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_ADSWIZZ"
          }
        },
        "EXCHANGE_BIDSWITCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_BIDSWITCH"
          }
        },
        "EXCHANGE_BRIGHTROLL_DISPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_BRIGHTROLL_DISPLAY"
          }
        },
        "EXCHANGE_CADREON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_CADREON"
          }
        },
        "EXCHANGE_DAILYMOTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_DAILYMOTION"
          }
        },
        "EXCHANGE_FIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_FIVE"
          }
        },
        "EXCHANGE_FLUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_FLUCT"
          }
        },
        "EXCHANGE_FREEWHEEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_FREEWHEEL"
          }
        },
        "EXCHANGE_GENIEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_GENIEE"
          }
        },
        "EXCHANGE_GUMGUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_GUMGUM"
          }
        },
        "EXCHANGE_IMOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_IMOBILE"
          }
        },
        "EXCHANGE_IBILLBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_IBILLBOARD"
          }
        },
        "EXCHANGE_IMPROVE_DIGITAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_IMPROVE_DIGITAL"
          }
        },
        "EXCHANGE_INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_INDEX"
          }
        },
        "EXCHANGE_KARGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_KARGO"
          }
        },
        "EXCHANGE_MICROAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_MICROAD"
          }
        },
        "EXCHANGE_MOPUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_MOPUB"
          }
        },
        "EXCHANGE_NEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_NEND"
          }
        },
        "EXCHANGE_ONE_BY_AOL_DISPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_ONE_BY_AOL_DISPLAY"
          }
        },
        "EXCHANGE_ONE_BY_AOL_MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_ONE_BY_AOL_MOBILE"
          }
        },
        "EXCHANGE_ONE_BY_AOL_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_ONE_BY_AOL_VIDEO"
          }
        },
        "EXCHANGE_OOYALA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_OOYALA"
          }
        },
        "EXCHANGE_OPENX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_OPENX"
          }
        },
        "EXCHANGE_PERMODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_PERMODO"
          }
        },
        "EXCHANGE_PLATFORMONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_PLATFORMONE"
          }
        },
        "EXCHANGE_PLATFORMID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_PLATFORMID"
          }
        },
        "EXCHANGE_PUBMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_PUBMATIC"
          }
        },
        "EXCHANGE_PULSEPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_PULSEPOINT"
          }
        },
        "EXCHANGE_REVENUEMAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_REVENUEMAX"
          }
        },
        "EXCHANGE_RUBICON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_RUBICON"
          }
        },
        "EXCHANGE_SMARTCLIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_SMARTCLIP"
          }
        },
        "EXCHANGE_SMARTRTB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_SMARTRTB"
          }
        },
        "EXCHANGE_SMARTSTREAMTV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_SMARTSTREAMTV"
          }
        },
        "EXCHANGE_SOVRN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_SOVRN"
          }
        },
        "EXCHANGE_SPOTXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_SPOTXCHANGE"
          }
        },
        "EXCHANGE_STROER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_STROER"
          }
        },
        "EXCHANGE_TEADSTV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_TEADSTV"
          }
        },
        "EXCHANGE_TELARIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_TELARIA"
          }
        },
        "EXCHANGE_TVN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_TVN"
          }
        },
        "EXCHANGE_UNITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_UNITED"
          }
        },
        "EXCHANGE_YIELDLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_YIELDLAB"
          }
        },
        "EXCHANGE_YIELDMO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_YIELDMO"
          }
        },
        "EXCHANGE_UNRULYX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_UNRULYX"
          }
        },
        "EXCHANGE_OPEN8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_OPEN8"
          }
        },
        "EXCHANGE_TRITON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_TRITON"
          }
        },
        "EXCHANGE_TRIPLELIFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_TRIPLELIFT"
          }
        },
        "EXCHANGE_TABOOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_TABOOLA"
          }
        },
        "EXCHANGE_INMOBI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_INMOBI"
          }
        },
        "EXCHANGE_SMAATO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_SMAATO"
          }
        },
        "EXCHANGE_AJA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_AJA"
          }
        },
        "EXCHANGE_SUPERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_SUPERSHIP"
          }
        },
        "EXCHANGE_NEXSTAR_DIGITAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_NEXSTAR_DIGITAL"
          }
        },
        "EXCHANGE_WAZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_WAZE"
          }
        },
        "EXCHANGE_SOUNDCAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_SOUNDCAST"
          }
        },
        "EXCHANGE_SHARETHROUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_SHARETHROUGH"
          }
        },
        "EXCHANGE_FYBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_FYBER"
          }
        },
        "EXCHANGE_RED_FOR_PUBLISHERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_RED_FOR_PUBLISHERS"
          }
        },
        "EXCHANGE_MEDIANET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_MEDIANET"
          }
        },
        "EXCHANGE_TAPJOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_TAPJOY"
          }
        },
        "EXCHANGE_VISTAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_VISTAR"
          }
        },
        "EXCHANGE_DAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_DAX"
          }
        },
        "EXCHANGE_JCD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_JCD"
          }
        },
        "EXCHANGE_PLACE_EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_PLACE_EXCHANGE"
          }
        },
        "EXCHANGE_APPLOVIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_APPLOVIN"
          }
        },
        "EXCHANGE_CONNATIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_CONNATIX"
          }
        },
        "EXCHANGE_RESET_DIGITAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_RESET_DIGITAL"
          }
        },
        "EXCHANGE_HIVESTACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_HIVESTACK"
          }
        },
        "EXCHANGE_DRAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_DRAX"
          }
        },
        "EXCHANGE_APPLOVIN_GBID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_APPLOVIN_GBID"
          }
        },
        "EXCHANGE_FYBER_GBID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_FYBER_GBID"
          }
        },
        "EXCHANGE_UNITY_GBID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_UNITY_GBID"
          }
        },
        "EXCHANGE_CHARTBOOST_GBID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_CHARTBOOST_GBID"
          }
        },
        "EXCHANGE_ADMOST_GBID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_ADMOST_GBID"
          }
        },
        "EXCHANGE_TOPON_GBID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_TOPON_GBID"
          }
        },
        "EXCHANGE_NETFLIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_NETFLIX"
          }
        },
        "EXCHANGE_CORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_CORE"
          }
        },
        "EXCHANGE_COMMERCE_GRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_COMMERCE_GRID"
          }
        },
        "EXCHANGE_SPOTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_SPOTIFY"
          }
        },
        "EXCHANGE_TUBI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_TUBI"
          }
        },
        "EXCHANGE_SNAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_SNAP"
          }
        },
        "EXCHANGE_CADENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_CADENT"
          }
        },
        "EXCHANGE_EXTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCHANGE_EXTE"
          }
        }
      }
    },
    "com.gcp.displayvideo_v2#YoutubeAdGroupAd": {
      "type": "structure",
      "members": {
        "mastheadAd": {
          "target": "com.gcp.displayvideo_v2#MastheadAd",
          "traits": {
            "smithy.api#documentation": "Details of an [ad served on the YouTube Home feed](//support.google.com/google-ads/answer/9709826)."
          }
        },
        "displayVideoSourceAd": {
          "target": "com.gcp.displayvideo_v2#DisplayVideoSourceAd",
          "traits": {
            "smithy.api#documentation": "Details of an ad sourced from a Display & Video 360 creative."
          }
        },
        "videoDiscoverAd": {
          "target": "com.gcp.displayvideo_v2#VideoDiscoveryAd",
          "traits": {
            "smithy.api#documentation": "Details of an [ad promoting a video](//support.google.com/displayvideo/answer/6274216) that shows in places of discovery."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the ad."
          }
        },
        "entityStatus": {
          "target": "com.gcp.displayvideo_v2#YoutubeAdGroupAdEntityStatusEnum",
          "traits": {
            "smithy.api#documentation": "The entity status of the ad."
          }
        },
        "advertiserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the advertiser the ad belongs to."
          }
        },
        "adGroupAdId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ad. Assigned by the system."
          }
        },
        "videoPerformanceAd": {
          "target": "com.gcp.displayvideo_v2#VideoPerformanceAd",
          "traits": {
            "smithy.api#documentation": "Details of an [ad used in a video action campaign](//support.google.com/google-ads/answer/10147229) to drive actions to the business, service or product."
          }
        },
        "inStreamAd": {
          "target": "com.gcp.displayvideo_v2#InStreamAd",
          "traits": {
            "smithy.api#documentation": "Details of an [in-stream ad skippable after 5 seconds](//support.google.com/displayvideo/answer/6274216), used for brand awareness or reach marketing objectives."
          }
        },
        "audioAd": {
          "target": "com.gcp.displayvideo_v2#AudioAd",
          "traits": {
            "smithy.api#documentation": "Details of an [audio ad](//support.google.com/displayvideo/answer/6274216) used for reach marketing objectives."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the ad. Must be UTF-8 encoded with a maximum size of 255 bytes."
          }
        },
        "adUrls": {
          "target": "com.gcp.displayvideo_v2#AdUrlList",
          "traits": {
            "smithy.api#documentation": "List of URLs used by the ad."
          }
        },
        "adGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ad group that the ad belongs to."
          }
        },
        "bumperAd": {
          "target": "com.gcp.displayvideo_v2#BumperAd",
          "traits": {
            "smithy.api#documentation": "Details of a [non-skippable short video ad](//support.google.com/displayvideo/answer/6274216), equal to or less than 6 seconds, used for reach."
          }
        },
        "nonSkippableAd": {
          "target": "com.gcp.displayvideo_v2#NonSkippableAd",
          "traits": {
[...]
