{
  "smithy": "2.0",
  "metadata": {
    "service": "dns",
    "version": "v1beta2",
    "title": "Cloud DNS API",
    "baseUrl": "https://dns.googleapis.com/"
  },
  "shapes": {
    "com.gcp.dns_v1beta2#ResourceRecordSet": {
      "type": "structure",
      "members": {
        "signatureRrdatas": {
          "target": "com.gcp.dns_v1beta2#StringList",
          "traits": {
            "smithy.api#documentation": "As defined in RFC 4034 (section 3.2)."
          }
        },
        "routingPolicy": {
          "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicy",
          "traits": {
            "smithy.api#documentation": "Configures dynamic query responses based on either the geo location of the querying user or a weighted round robin based routing policy. A valid `ResourceRecordSet` contains only `rrdata` (for static resolution) or a `routing_policy` (for dynamic resolution)."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For example, www.example.com."
          }
        },
        "ttl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds that this `ResourceRecordSet` can be cached by resolvers."
          }
        },
        "rrdatas": {
          "target": "com.gcp.dns_v1beta2#StringList",
          "traits": {
            "smithy.api#documentation": "As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of a supported record type. See the list of Supported DNS record types."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A unit of data that is returned by the DNS servers."
      }
    },
    "com.gcp.dns_v1beta2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dns_v1beta2#ResponsePolicyGKECluster": {
      "type": "structure",
      "members": {
        "gkeClusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the cluster to bind this response policy to. This should be specified in the format like: projects/*/locations/*/clusters/*. This is referenced from GKE projects.locations.clusters.get API: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/get"
          }
        },
        "kind": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dns_v1beta2#GoogleIamV1Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.dns_v1beta2#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.dns_v1beta2#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.dns_v1beta2#ManagedZoneServiceDirectoryConfig": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "namespace": {
          "target": "com.gcp.dns_v1beta2#ManagedZoneServiceDirectoryConfigNamespace",
          "traits": {
            "smithy.api#documentation": "Contains information about the namespace associated with the zone."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about Service Directory-backed zones."
      }
    },
    "com.gcp.dns_v1beta2#ManagedZoneCloudLoggingConfig": {
      "type": "structure",
      "members": {
        "enableLogging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, enable query logging for this ManagedZone. False by default, making logging opt-in."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud Logging configurations for publicly visible zones."
      }
    },
    "com.gcp.dns_v1beta2#DnsKeyDigest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.dns_v1beta2#DnsKeyDigestTypeEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the algorithm used to calculate this digest."
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base-16 encoded bytes of this digest. Suitable for use in a DS resource record."
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#DnsKeyDigestTypeEnum": {
      "type": "enum",
      "members": {
        "SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sha1"
          }
        },
        "SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sha256"
          }
        },
        "SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sha384"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ResponsePolicyRulesListResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
          }
        },
        "responsePolicyRules": {
          "target": "com.gcp.dns_v1beta2#ResponsePolicyRuleList",
          "traits": {
            "smithy.api#documentation": "The Response Policy Rule resources."
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ResponsePolicyRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#ResponsePolicyRule"
      }
    },
    "com.gcp.dns_v1beta2#ManagedZoneServiceDirectoryConfigNamespace": {
      "type": "structure",
      "members": {
        "namespaceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified URL of the namespace associated with the zone. Format must be `https://servicedirectory.googleapis.com/v1/projects/{project}/locations/{location}/namespaces/{namespace}`"
          }
        },
        "deletionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the namespace backing this zone was deleted; an empty string if it still exists. This is in RFC3339 text format. Output only."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dns_v1beta2#ResponsePoliciesListResponse": {
      "type": "structure",
      "members": {
        "responsePolicies": {
          "target": "com.gcp.dns_v1beta2#ResponsePolicyList",
          "traits": {
            "smithy.api#documentation": "The Response Policy resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ResponsePolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#ResponsePolicy"
      }
    },
    "com.gcp.dns_v1beta2#RRSetRoutingPolicyLoadBalancerTarget": {
      "type": "structure",
      "members": {
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The frontend IP address of the load balancer to health check."
          }
        },
        "port": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The configured port of the load balancer."
          }
        },
        "networkUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified URL of the network that the load balancer is attached to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`."
          }
        },
        "loadBalancerType": {
          "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyLoadBalancerTargetLoadBalancerTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of load balancer specified by this target. This value must match the configuration of the load balancer located at the LoadBalancerTarget's IP address, port, and region. Use the following: - *regionalL4ilb*: for a regional internal passthrough Network Load Balancer. - *regionalL7ilb*: for a regional internal Application Load Balancer. - *globalL7ilb*: for a global internal Application Load Balancer. "
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project ID in which the load balancer is located."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "ipProtocol": {
          "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyLoadBalancerTargetIpProtocolEnum",
          "traits": {
            "smithy.api#documentation": "The protocol of the load balancer to health check."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region in which the load balancer is located."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for an individual load balancer to health check."
      }
    },
    "com.gcp.dns_v1beta2#RRSetRoutingPolicyLoadBalancerTargetLoadBalancerTypeEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "GLOBALL7ILB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "globalL7ilb"
          }
        },
        "REGIONALL4ILB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regionalL4ilb"
          }
        },
        "REGIONALL7ILB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regionalL7ilb"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#RRSetRoutingPolicyLoadBalancerTargetIpProtocolEnum": {
      "type": "enum",
      "members": {
        "UNDEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "undefined"
          }
        },
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "UDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "udp"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#GoogleIamV1AuditConfig": {
      "type": "structure",
      "members": {
        "auditLogConfigs": {
          "target": "com.gcp.dns_v1beta2#GoogleIamV1AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.dns_v1beta2#GoogleIamV1AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#GoogleIamV1AuditLogConfig"
      }
    },
    "com.gcp.dns_v1beta2#ManagedZoneForwardingConfig": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "targetNameServers": {
          "target": "com.gcp.dns_v1beta2#ManagedZoneForwardingConfigNameServerTargetList",
          "traits": {
            "smithy.api#documentation": "List of target name servers to forward to. Cloud DNS selects the best available name server if more than one target is given."
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ManagedZoneForwardingConfigNameServerTargetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#ManagedZoneForwardingConfigNameServerTarget"
      }
    },
    "com.gcp.dns_v1beta2#ResponsePolicyRule": {
      "type": "structure",
      "members": {
        "dnsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DNS name (wildcard or exact) to apply this rule to. Must be unique within the Response Policy Rule."
          }
        },
        "localData": {
          "target": "com.gcp.dns_v1beta2#ResponsePolicyRuleLocalData",
          "traits": {
            "smithy.api#documentation": "Answer this query directly with DNS data. These ResourceRecordSets override any other DNS behavior for the matched name; in particular they override private zones, the public internet, and GCP internal DNS. No SOA nor NS types are allowed."
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for this rule. Must be unique with the ResponsePolicy."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "behavior": {
          "target": "com.gcp.dns_v1beta2#ResponsePolicyRuleBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "Answer this query with a behavior rather than DNS data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Response Policy Rule is a selector that applies its behavior to queries that match the selector. Selectors are DNS names, which may be wildcards or exact matches. Each DNS query subject to a Response Policy matches at most one ResponsePolicyRule, as identified by the dns_name field with the longest matching suffix."
      }
    },
    "com.gcp.dns_v1beta2#ResponsePolicyRuleBehaviorEnum": {
      "type": "enum",
      "members": {
        "BEHAVIORUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "behaviorUnspecified"
          }
        },
        "BYPASSRESPONSEPOLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypassResponsePolicy"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#PolicyDns64Config": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "scope": {
          "target": "com.gcp.dns_v1beta2#PolicyDns64ConfigScope",
          "traits": {
            "smithy.api#documentation": "The scope to which DNS64 config will be applied to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DNS64 policies"
      }
    },
    "com.gcp.dns_v1beta2#ResponsePolicyRuleLocalData": {
      "type": "structure",
      "members": {
        "localDatas": {
          "target": "com.gcp.dns_v1beta2#ResourceRecordSetList",
          "traits": {
            "smithy.api#documentation": "All resource record sets for this selector, one per resource record type. The name must match the dns_name."
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ResourceRecordSetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#ResourceRecordSet"
      }
    },
    "com.gcp.dns_v1beta2#DnsKeysListResponse": {
      "type": "structure",
      "members": {
        "dnsKeys": {
          "target": "com.gcp.dns_v1beta2#DnsKeyList",
          "traits": {
            "smithy.api#documentation": "The requested resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a request to enumerate DnsKeys in a ManagedZone."
      }
    },
    "com.gcp.dns_v1beta2#DnsKeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#DnsKey"
      }
    },
    "com.gcp.dns_v1beta2#Project": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique numeric identifier for the resource; defined by the server (output only)."
          }
        },
        "quota": {
          "target": "com.gcp.dns_v1beta2#Quota",
          "traits": {
            "smithy.api#documentation": "Quotas assigned to this project (output only)."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User assigned unique identifier for the resource (output only)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console."
      }
    },
    "com.gcp.dns_v1beta2#PolicyDns64ConfigScope": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "allQueries": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether DNS64 is enabled globally for all networks bound to the policy."
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#PoliciesUpdateResponse": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.dns_v1beta2#Policy"
        }
      }
    },
    "com.gcp.dns_v1beta2#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.dns_v1beta2#OperationDnsKeyContext": {
      "type": "structure",
      "members": {
        "oldValue": {
          "target": "com.gcp.dns_v1beta2#DnsKey",
          "traits": {
            "smithy.api#documentation": "The pre-operation DnsKey resource."
          }
        },
        "newValue": {
          "target": "com.gcp.dns_v1beta2#DnsKey",
          "traits": {
            "smithy.api#documentation": "The post-operation DnsKey resource."
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#RRSetRoutingPolicyHealthCheckTargets": {
      "type": "structure",
      "members": {
        "internalLoadBalancers": {
          "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyLoadBalancerTargetList",
          "traits": {
            "smithy.api#documentation": "Configuration for internal load balancers to be health checked."
          }
        },
        "externalEndpoints": {
          "target": "com.gcp.dns_v1beta2#StringList",
          "traits": {
            "smithy.api#documentation": "The Internet IP addresses to be health checked. The format matches the format of ResourceRecordSet.rrdata as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HealthCheckTargets describes endpoints to health-check when responding to Routing Policy queries. Only the healthy endpoints will be included in the response. Set either `internal_load_balancer` or `external_endpoints`. Do not set both."
      }
    },
    "com.gcp.dns_v1beta2#RRSetRoutingPolicyLoadBalancerTargetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyLoadBalancerTarget"
      }
    },
    "com.gcp.dns_v1beta2#RRSetRoutingPolicyWrrPolicyWrrPolicyItem": {
      "type": "structure",
      "members": {
        "signatureRrdatas": {
          "target": "com.gcp.dns_v1beta2#StringList",
          "traits": {
            "smithy.api#documentation": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "rrdatas": {
          "target": "com.gcp.dns_v1beta2#StringList"
        },
        "healthCheckedTargets": {
          "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyHealthCheckTargets",
          "traits": {
            "smithy.api#documentation": "Endpoints that are health checked before making the routing decision. The unhealthy endpoints are omitted from the result. If all endpoints within a bucket are unhealthy, we choose a different bucket (sampled with respect to its weight) for responding. If DNSSEC is enabled for this zone, only one of `rrdata` or `health_checked_targets` can be set."
          }
        },
        "weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The weight corresponding to this `WrrPolicyItem` object. When multiple `WrrPolicyItem` objects are configured, the probability of returning an `WrrPolicyItem` object's data is proportional to its weight relative to the sum of weights configured for all items. This weight must be non-negative."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A routing block which contains the routing information for one WRR item."
      }
    },
    "com.gcp.dns_v1beta2#GoogleIamV1GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.dns_v1beta2#ResourceRecordSetsListResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of resource."
          }
        },
        "rrsets": {
          "target": "com.gcp.dns_v1beta2#ResourceRecordSetList",
          "traits": {
            "smithy.api#documentation": "The resource record set resources."
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ChangesListResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of resource."
          }
        },
        "changes": {
          "target": "com.gcp.dns_v1beta2#ChangeList",
          "traits": {
            "smithy.api#documentation": "The requested changes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a request to enumerate Changes to a ResourceRecordSets collection."
      }
    },
    "com.gcp.dns_v1beta2#ChangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#Change"
      }
    },
    "com.gcp.dns_v1beta2#GoogleIamV1Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.dns_v1beta2#GoogleIamV1BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.dns_v1beta2#GoogleIamV1AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.dns_v1beta2#GoogleIamV1BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#GoogleIamV1Binding"
      }
    },
    "com.gcp.dns_v1beta2#GoogleIamV1AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#GoogleIamV1AuditConfig"
      }
    },
    "com.gcp.dns_v1beta2#Operation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the resource. This is the client_operation_id if the client specified it when the mutation was initiated, otherwise, it is generated by the server. The name must be 1-63 characters long and match the regular expression [-a-z0-9]? (output only)"
          }
        },
        "status": {
          "target": "com.gcp.dns_v1beta2#OperationStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of the operation. Can be one of the following: \"PENDING\" or \"DONE\" (output only). A status of \"DONE\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User who requested the operation, for example: user@example.com. cloud-dns-system for operations automatically done by the system. (output only)"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the operation. Operations include insert, update, and delete (output only)."
          }
        },
        "zoneContext": {
          "target": "com.gcp.dns_v1beta2#OperationManagedZoneContext",
          "traits": {
            "smithy.api#documentation": "Only populated if the operation targeted a ManagedZone (output only)."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that this operation was started by the server. This is in RFC3339 text format (output only)."
          }
        },
        "dnsKeyContext": {
          "target": "com.gcp.dns_v1beta2#OperationDnsKeyContext",
          "traits": {
            "smithy.api#documentation": "Only populated if the operation targeted a DnsKey (output only)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An operation represents a successful mutation performed on a Cloud DNS resource. Operations provide: - An audit log of server resource mutations. - A way to recover/retry API calls in the case where the response is never received by the caller. Use the caller specified client_operation_id."
      }
    },
    "com.gcp.dns_v1beta2#OperationStatusEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#GoogleIamV1AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.dns_v1beta2#GoogleIamV1AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.dns_v1beta2#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.dns_v1beta2#GoogleIamV1AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#PoliciesListResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of resource."
          }
        },
        "policies": {
          "target": "com.gcp.dns_v1beta2#PolicyList",
          "traits": {
            "smithy.api#documentation": "The policy resources."
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#PolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#Policy"
      }
    },
    "com.gcp.dns_v1beta2#Quota": {
      "type": "structure",
      "members": {
        "policies": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of policies per project."
          }
        },
        "gkeClustersPerResponsePolicy": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of GKE clusters per response policy."
          }
        },
        "internetHealthChecksPerManagedZone": {
          "target": "smithy.api#Integer"
        },
        "managedZonesPerGkeCluster": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of managed zones which can be attached to a GKE cluster."
          }
        },
        "rrsetAdditionsPerChange": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of ResourceRecordSets to add per ChangesCreateRequest."
          }
        },
        "resourceRecordsPerRrset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of ResourceRecords per ResourceRecordSet."
          }
        },
        "itemsPerRoutingPolicy": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of items per routing policy."
          }
        },
        "nameserversPerDelegation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of nameservers per delegation, meant to prevent abuse"
          }
        },
        "whitelistedKeySpecs": {
          "target": "com.gcp.dns_v1beta2#DnsKeySpecList",
          "traits": {
            "smithy.api#documentation": "DNSSEC algorithm and key length types that can be used for DnsKeys."
          }
        },
        "rrsetsPerManagedZone": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of ResourceRecordSets per zone in the project."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "networksPerPolicy": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of networks per policy."
          }
        },
        "managedZonesPerNetwork": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of managed zones which can be attached to a network."
          }
        },
        "responsePolicyRulesPerResponsePolicy": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of rules per response policy."
          }
        },
        "peeringZonesPerTargetNetwork": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of consumer peering zones per target network owned by this producer project"
          }
        },
        "totalRrdataSizePerChange": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed size for total rrdata in one ChangesCreateRequest in bytes."
          }
        },
        "networksPerManagedZone": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of networks to which a privately scoped zone can be attached."
          }
        },
        "networksPerResponsePolicy": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of networks per response policy."
          }
        },
        "responsePolicies": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of response policies per project."
          }
        },
        "targetNameServersPerManagedZone": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of target name servers per managed forwarding zone."
          }
        },
        "gkeClustersPerManagedZone": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of GKE clusters to which a privately scoped zone can be attached."
          }
        },
        "targetNameServersPerPolicy": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of alternative target name servers per policy."
          }
        },
        "gkeClustersPerPolicy": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of GKE clusters per policy."
          }
        },
        "dnsKeysPerManagedZone": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of DnsKeys per ManagedZone."
          }
        },
        "managedZones": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of managed zones in the project."
          }
        },
        "rrsetDeletionsPerChange": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed number of ResourceRecordSets to delete per ChangesCreateRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits associated with a Project."
      }
    },
    "com.gcp.dns_v1beta2#DnsKeySpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#DnsKeySpec"
      }
    },
    "com.gcp.dns_v1beta2#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.dns_v1beta2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.dns_v1beta2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.dns_v1beta2#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#DocumentMap"
      }
    },
    "com.gcp.dns_v1beta2#ResponsePolicyNetwork": {
      "type": "structure",
      "members": {
        "networkUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified URL of the VPC network to bind to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`"
          }
        },
        "kind": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dns_v1beta2#PolicyNetwork": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "networkUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ManagedZonesListResponse": {
      "type": "structure",
      "members": {
        "managedZones": {
          "target": "com.gcp.dns_v1beta2#ManagedZoneList",
          "traits": {
            "smithy.api#documentation": "The managed zone resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of resource."
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ManagedZoneList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#ManagedZone"
      }
    },
    "com.gcp.dns_v1beta2#GoogleIamV1GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.dns_v1beta2#GoogleIamV1GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.dns_v1beta2#ManagedZone": {
      "type": "structure",
      "members": {
        "visibility": {
          "target": "com.gcp.dns_v1beta2#ManagedZoneVisibilityEnum",
          "traits": {
            "smithy.api#documentation": "The zone's visibility: public zones are exposed to the Internet, while private zones are visible only to Virtual Private Cloud resources."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the resource; defined by the server (output only)"
          }
        },
        "privateVisibilityConfig": {
          "target": "com.gcp.dns_v1beta2#ManagedZonePrivateVisibilityConfig",
          "traits": {
            "smithy.api#documentation": "For privately visible zones, the set of Virtual Private Cloud resources that the zone is visible from."
          }
        },
        "peeringConfig": {
          "target": "com.gcp.dns_v1beta2#ManagedZonePeeringConfig",
          "traits": {
            "smithy.api#documentation": "The presence of this field indicates that DNS Peering is enabled for this zone. The value of this field contains the network to peer with."
          }
        },
        "nameServerSet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users leave this field unset. If you need to use this field, contact your account team."
          }
        },
        "serviceDirectoryConfig": {
          "target": "com.gcp.dns_v1beta2#ManagedZoneServiceDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "This field links to the associated service directory namespace. Do not set this field for public zones or forwarding zones."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function."
          }
        },
        "cloudLoggingConfig": {
          "target": "com.gcp.dns_v1beta2#ManagedZoneCloudLoggingConfig"
        },
        "dnsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DNS name of this managed zone, for instance \"example.com.\"."
          }
        },
        "nameServers": {
          "target": "com.gcp.dns_v1beta2#StringList",
          "traits": {
            "smithy.api#documentation": "Delegate your managed_zone to these virtual name servers; defined by the server (output only)"
          }
        },
        "dnssecConfig": {
          "target": "com.gcp.dns_v1beta2#ManagedZoneDnsSecConfig",
          "traits": {
            "smithy.api#documentation": "DNSSEC configuration."
          }
        },
        "forwardingConfig": {
          "target": "com.gcp.dns_v1beta2#ManagedZoneForwardingConfig",
          "traits": {
            "smithy.api#documentation": "The presence for this field indicates that outbound forwarding is enabled for this zone. The value of this field contains the set of destinations to forward to."
          }
        },
        "reverseLookupConfig": {
          "target": "com.gcp.dns_v1beta2#ManagedZoneReverseLookupConfig",
          "traits": {
            "smithy.api#documentation": "The presence of this field indicates that this is a managed reverse lookup zone and Cloud DNS resolves reverse lookup queries using automatically configured records for VPC resources. This only applies to networks listed under private_visibility_config."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that this resource was created on the server. This is in RFC3339 text format. Output only."
          }
        },
        "labels": {
          "target": "com.gcp.dns_v1beta2#StringMap",
          "traits": {
            "smithy.api#documentation": "User labels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service."
      }
    },
    "com.gcp.dns_v1beta2#ManagedZoneVisibilityEnum": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dns_v1beta2#ResponsePolicyRulesUpdateResponse": {
      "type": "structure",
      "members": {
        "responsePolicyRule": {
          "target": "com.gcp.dns_v1beta2#ResponsePolicyRule"
        }
      }
    },
    "com.gcp.dns_v1beta2#GoogleIamV1TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.dns_v1beta2#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.dns_v1beta2#RRSetRoutingPolicyGeoPolicy": {
      "type": "structure",
      "members": {
        "enableFencing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Without fencing, if health check fails for all configured items in the current geo bucket, we failover to the next nearest geo bucket. With fencing, if health checking is enabled, as long as some targets in the current geo bucket are healthy, we return only the healthy targets. However, if all targets are unhealthy, we don't failover to the next nearest bucket; instead, we return all the items in the current bucket even when all targets are unhealthy."
          }
        },
        "items": {
          "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyGeoPolicyGeoPolicyItemList",
          "traits": {
            "smithy.api#documentation": "The primary geo routing configuration. If there are multiple items with the same location, an error is returned instead."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures a `RRSetRoutingPolicy` that routes based on the geo location of the querying user."
      }
    },
    "com.gcp.dns_v1beta2#RRSetRoutingPolicyGeoPolicyGeoPolicyItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyGeoPolicyGeoPolicyItem"
      }
    },
    "com.gcp.dns_v1beta2#ResponsePolicy": {
      "type": "structure",
      "members": {
        "networks": {
          "target": "com.gcp.dns_v1beta2#ResponsePolicyNetworkList",
          "traits": {
            "smithy.api#documentation": "List of network names specifying networks to which this policy is applied."
          }
        },
        "gkeClusters": {
          "target": "com.gcp.dns_v1beta2#ResponsePolicyGKEClusterList",
          "traits": {
            "smithy.api#documentation": "The list of Google Kubernetes Engine clusters to which this response policy is applied."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the resource; defined by the server (output only)."
          }
        },
        "responsePolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User assigned name for this Response Policy."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided description for this Response Policy."
          }
        },
        "labels": {
          "target": "com.gcp.dns_v1beta2#StringMap",
          "traits": {
            "smithy.api#documentation": "User labels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Response Policy is a collection of selectors that apply to queries made against one or more Virtual Private Cloud networks."
      }
    },
    "com.gcp.dns_v1beta2#ResponsePolicyNetworkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#ResponsePolicyNetwork"
      }
    },
    "com.gcp.dns_v1beta2#ResponsePolicyGKEClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#ResponsePolicyGKECluster"
      }
    },
    "com.gcp.dns_v1beta2#ManagedZoneForwardingConfigNameServerTarget": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "forwardingPath": {
          "target": "com.gcp.dns_v1beta2#ManagedZoneForwardingConfigNameServerTargetForwardingPathEnum",
          "traits": {
            "smithy.api#documentation": "Forwarding path for this NameServerTarget. If unset or set to DEFAULT, Cloud DNS makes forwarding decisions based on IP address ranges; that is, RFC1918 addresses go to the VPC network, non-RFC1918 addresses go to the internet. When set to PRIVATE, Cloud DNS always sends queries through the VPC network for this target."
          }
        },
        "ipv4Address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IPv4 address of a target name server."
          }
        },
        "ipv6Address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IPv6 address of a target name server. Does not accept both fields (ipv4 & ipv6) being populated. Public preview as of November 2022."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name for the forwarding target."
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ManagedZoneForwardingConfigNameServerTargetForwardingPathEnum": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#PolicyAlternativeNameServerConfig": {
      "type": "structure",
      "members": {
        "targetNameServers": {
          "target": "com.gcp.dns_v1beta2#PolicyAlternativeNameServerConfigTargetNameServerList",
          "traits": {
            "smithy.api#documentation": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dns_v1beta2#PolicyAlternativeNameServerConfigTargetNameServerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#PolicyAlternativeNameServerConfigTargetNameServer"
      }
    },
    "com.gcp.dns_v1beta2#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.dns_v1beta2#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.dns_v1beta2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.dns_v1beta2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.dns_v1beta2#Policy": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the policy's function."
          }
        },
        "dns64Config": {
          "target": "com.gcp.dns_v1beta2#PolicyDns64Config",
          "traits": {
            "smithy.api#documentation": "Configurations related to DNS64 for this policy."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-assigned name for this policy."
          }
        },
        "networks": {
          "target": "com.gcp.dns_v1beta2#PolicyNetworkList",
          "traits": {
            "smithy.api#documentation": "List of network names specifying networks to which this policy is applied."
          }
        },
        "alternativeNameServerConfig": {
          "target": "com.gcp.dns_v1beta2#PolicyAlternativeNameServerConfig",
          "traits": {
            "smithy.api#documentation": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the resource; defined by the server (output only)."
          }
        },
        "enableInboundForwarding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows networks bound to this policy to receive DNS queries sent by VMs or applications over VPN connections. When enabled, a virtual IP address is allocated from each of the subnetworks that are bound to this policy."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "enableLogging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether logging is enabled for the networks bound to this policy. Defaults to no logging if not set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A policy is a collection of DNS rules applied to one or more Virtual Private Cloud resources."
      }
    },
    "com.gcp.dns_v1beta2#PolicyNetworkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#PolicyNetwork"
      }
    },
    "com.gcp.dns_v1beta2#ResponsePolicyRulesPatchResponse": {
      "type": "structure",
      "members": {
        "responsePolicyRule": {
          "target": "com.gcp.dns_v1beta2#ResponsePolicyRule"
        }
      }
    },
    "com.gcp.dns_v1beta2#DnsKey": {
      "type": "structure",
      "members": {
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that this resource was created in the control plane. This is in RFC3339 text format. Output only."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the resource; defined by the server (output only)."
          }
        },
        "keyTag": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone's DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only."
          }
        },
        "digests": {
          "target": "com.gcp.dns_v1beta2#DnsKeyDigestList",
          "traits": {
            "smithy.api#documentation": "Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "publicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64 encoded public half of this key. Output only."
          }
        },
        "isActive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Active keys are used to sign subsequent changes to the ManagedZone. Inactive keys are still present as DNSKEY Resource Records for the use of resolvers validating existing signatures."
          }
        },
        "keyLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Length of the key in bits. Specified at creation time, and then immutable."
          }
        },
        "type": {
          "target": "com.gcp.dns_v1beta2#DnsKeyTypeEnum",
          "traits": {
            "smithy.api#documentation": "One of \"KEY_SIGNING\" or \"ZONE_SIGNING\". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, are used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag is cleared, and this key is used to sign only resource record sets of other types. Immutable after creation time."
          }
        },
        "algorithm": {
          "target": "com.gcp.dns_v1beta2#DnsKeyAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A DNSSEC key pair."
      }
    },
    "com.gcp.dns_v1beta2#DnsKeyDigestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#DnsKeyDigest"
      }
    },
    "com.gcp.dns_v1beta2#DnsKeyTypeEnum": {
      "type": "enum",
      "members": {
        "KEYSIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keySigning"
          }
        },
        "ZONESIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zoneSigning"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#DnsKeyAlgorithmEnum": {
      "type": "enum",
      "members": {
        "RSASHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsasha1"
          }
        },
        "RSASHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsasha256"
          }
        },
        "RSASHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsasha512"
          }
        },
        "ECDSAP256SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ecdsap256sha256"
          }
        },
        "ECDSAP384SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ecdsap384sha384"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#GoogleIamV1SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.dns_v1beta2#GoogleIamV1Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.dns_v1beta2#PoliciesPatchResponse": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.dns_v1beta2#Policy"
        }
      }
    },
    "com.gcp.dns_v1beta2#ResponsePoliciesUpdateResponse": {
      "type": "structure",
      "members": {
        "responsePolicy": {
          "target": "com.gcp.dns_v1beta2#ResponsePolicy"
        }
      }
    },
    "com.gcp.dns_v1beta2#RRSetRoutingPolicy": {
      "type": "structure",
      "members": {
        "healthCheck": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified URL of the HealthCheck to use for this RRSetRoutingPolicy. Format this URL like `https://www.googleapis.com/compute/v1/projects/{project}/global/healthChecks/{healthCheck}`. https://cloud.google.com/compute/docs/reference/rest/v1/healthChecks"
          }
        },
        "wrrPolicy": {
          "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyWrrPolicy"
        },
        "primaryBackup": {
          "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyPrimaryBackupPolicy"
        },
        "geo": {
          "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyGeoPolicy"
        },
        "geoPolicy": {
          "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyGeoPolicy"
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "wrr": {
          "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyWrrPolicy"
        }
      },
      "traits": {
        "smithy.api#documentation": "A RRSetRoutingPolicy represents ResourceRecordSet data that is returned dynamically with the response varying based on configured properties such as geolocation or by weighted random selection."
      }
    },
    "com.gcp.dns_v1beta2#RRSetRoutingPolicyPrimaryBackupPolicy": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "trickleTraffic": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "When serving state is `PRIMARY`, this field provides the option of sending a small percentage of the traffic to the backup targets."
          }
        },
        "primaryTargets": {
          "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyHealthCheckTargets",
          "traits": {
            "smithy.api#documentation": "Endpoints that are health checked before making the routing decision. Unhealthy endpoints are omitted from the results. If all endpoints are unhealthy, we serve a response based on the `backup_geo_targets`."
          }
        },
        "backupGeoTargets": {
          "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyGeoPolicy",
          "traits": {
            "smithy.api#documentation": "Backup targets provide a regional failover policy for the otherwise global primary targets. If serving state is set to `BACKUP`, this policy essentially becomes a geo routing policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures a RRSetRoutingPolicy such that all queries are responded with the primary_targets if they are healthy. And if all of them are unhealthy, then we fallback to a geo localized policy."
      }
    },
    "com.gcp.dns_v1beta2#DnsKeySpec": {
      "type": "structure",
      "members": {
        "keyLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Length of the keys in bits."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "algorithm": {
          "target": "com.gcp.dns_v1beta2#DnsKeySpecAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "String mnemonic specifying the DNSSEC algorithm of this key."
          }
        },
        "keyType": {
          "target": "com.gcp.dns_v1beta2#DnsKeySpecKeyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Specifies whether this is a key signing key (KSK) or a zone signing key (ZSK). Key signing keys have the Secure Entry Point flag set and, when active, are only used to sign resource record sets of type DNSKEY. Zone signing keys do not have the Secure Entry Point flag set and are used to sign all other types of resource record sets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey."
      }
    },
    "com.gcp.dns_v1beta2#DnsKeySpecAlgorithmEnum": {
      "type": "enum",
      "members": {
        "RSASHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsasha1"
          }
        },
        "RSASHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsasha256"
          }
        },
        "RSASHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsasha512"
          }
        },
        "ECDSAP256SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ecdsap256sha256"
          }
        },
        "ECDSAP384SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ecdsap384sha384"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#DnsKeySpecKeyTypeEnum": {
      "type": "enum",
      "members": {
        "KEYSIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keySigning"
          }
        },
        "ZONESIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zoneSigning"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ManagedZonePeeringConfigTargetNetwork": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "networkUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified URL of the VPC network to forward queries to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`"
          }
        },
        "deactivateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only."
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ManagedZonePeeringConfig": {
      "type": "structure",
      "members": {
        "targetNetwork": {
          "target": "com.gcp.dns_v1beta2#ManagedZonePeeringConfigTargetNetwork",
          "traits": {
            "smithy.api#documentation": "The network with which to peer."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dns_v1beta2#ManagedZonePrivateVisibilityConfigGKECluster": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "gkeClusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the cluster to bind this ManagedZone to. This should be specified in the format like: projects/*/locations/*/clusters/*. This is referenced from GKE projects.locations.clusters.get API: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/get"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ManagedZoneOperationsListResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of resource."
          }
        },
        "operations": {
          "target": "com.gcp.dns_v1beta2#OperationList",
          "traits": {
            "smithy.api#documentation": "The operation resources."
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#Operation"
      }
    },
    "com.gcp.dns_v1beta2#Change": {
      "type": "structure",
      "members": {
        "isServing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the DNS queries for the zone will be served."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that this operation was started by the server (output only). This is in RFC3339 text format."
          }
        },
        "additions": {
          "target": "com.gcp.dns_v1beta2#ResourceRecordSetList",
          "traits": {
            "smithy.api#documentation": "Which ResourceRecordSets to add?"
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "deletions": {
          "target": "com.gcp.dns_v1beta2#ResourceRecordSetList",
          "traits": {
            "smithy.api#documentation": "Which ResourceRecordSets to remove? Must match existing data exactly."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the resource; defined by the server (output only)."
          }
        },
        "status": {
          "target": "com.gcp.dns_v1beta2#ChangeStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of the operation (output only). A status of \"done\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Change represents a set of `ResourceRecordSet` additions and deletions applied atomically to a ManagedZone. ResourceRecordSets within a ManagedZone are modified by creating a new Change element in the Changes collection. In turn the Changes collection also records the past modifications to the `ResourceRecordSets` in a `ManagedZone`. The current state of the `ManagedZone` is the sum effect of applying all `Change` elements in the `Changes` collection in sequence."
      }
    },
    "com.gcp.dns_v1beta2#ChangeStatusEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ManagedZoneDnsSecConfig": {
      "type": "structure",
      "members": {
        "nonExistence": {
          "target": "com.gcp.dns_v1beta2#ManagedZoneDnsSecConfigNonExistenceEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the mechanism for authenticated denial-of-existence responses. Can only be changed while the state is OFF."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dns_v1beta2#ManagedZoneDnsSecConfigStateEnum",
          "traits": {
            "smithy.api#documentation": "Specifies whether DNSSEC is enabled, and what mode it is in."
          }
        },
        "defaultKeySpecs": {
          "target": "com.gcp.dns_v1beta2#DnsKeySpecList",
          "traits": {
            "smithy.api#documentation": "Specifies parameters for generating initial DnsKeys for this ManagedZone. Can only be changed while the state is OFF."
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ManagedZoneDnsSecConfigNonExistenceEnum": {
      "type": "enum",
      "members": {
        "NSEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsec"
          }
        },
        "NSEC3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsec3"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ManagedZoneDnsSecConfigStateEnum": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transfer"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#ManagedZonePrivateVisibilityConfig": {
      "type": "structure",
      "members": {
        "networks": {
          "target": "com.gcp.dns_v1beta2#ManagedZonePrivateVisibilityConfigNetworkList",
          "traits": {
            "smithy.api#documentation": "The list of VPC networks that can see this zone."
          }
        },
        "gkeClusters": {
          "target": "com.gcp.dns_v1beta2#ManagedZonePrivateVisibilityConfigGKEClusterList",
          "traits": {
            "smithy.api#documentation": "The list of Google Kubernetes Engine clusters that can see this zone."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dns_v1beta2#ManagedZonePrivateVisibilityConfigNetworkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#ManagedZonePrivateVisibilityConfigNetwork"
      }
    },
    "com.gcp.dns_v1beta2#ManagedZonePrivateVisibilityConfigGKEClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#ManagedZonePrivateVisibilityConfigGKECluster"
      }
    },
    "com.gcp.dns_v1beta2#ManagedZoneReverseLookupConfig": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dns_v1beta2#ManagedZonePrivateVisibilityConfigNetwork": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "networkUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified URL of the VPC network to bind to. Format this URL like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`"
          }
        }
      }
    },
    "com.gcp.dns_v1beta2#RRSetRoutingPolicyWrrPolicy": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyWrrPolicyWrrPolicyItemList"
        },
        "kind": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures a RRSetRoutingPolicy that routes in a weighted round robin fashion."
      }
    },
    "com.gcp.dns_v1beta2#RRSetRoutingPolicyWrrPolicyWrrPolicyItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyWrrPolicyWrrPolicyItem"
      }
    },
    "com.gcp.dns_v1beta2#RRSetRoutingPolicyGeoPolicyGeoPolicyItem": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g. \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "signatureRrdatas": {
          "target": "com.gcp.dns_v1beta2#StringList",
          "traits": {
            "smithy.api#documentation": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item."
          }
        },
        "rrdatas": {
          "target": "com.gcp.dns_v1beta2#StringList"
        },
        "healthCheckedTargets": {
          "target": "com.gcp.dns_v1beta2#RRSetRoutingPolicyHealthCheckTargets",
          "traits": {
            "smithy.api#documentation": "For A and AAAA types only. Endpoints to return in the query result only if they are healthy. These can be specified along with `rrdata` within this item."
          }
        }
      },
[...]
