{
  "smithy": "2.0",
  "metadata": {
    "service": "domains",
    "version": "v1alpha2",
    "title": "Cloud Domains API",
    "baseUrl": "https://domains.googleapis.com/"
  },
  "shapes": {
    "com.gcp.domains_v1alpha2#ExportRegistrationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations). Request for the `ExportRegistration` method."
      }
    },
    "com.gcp.domains_v1alpha2#Expr": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.domains_v1alpha2#RetrieveGoogleDomainsDnsRecordsResponse": {
      "type": "structure",
      "members": {
        "rrset": {
          "target": "com.gcp.domains_v1alpha2#ResourceRecordSetList",
          "traits": {
            "smithy.api#documentation": "The resource record set resources (DNS Zone records)."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When present, there are more results to retrieve. Set `page_token` to this value on a subsequent call to get the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `RetrieveGoogleDomainsDnsRecords` method."
      }
    },
    "com.gcp.domains_v1alpha2#ResourceRecordSetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#ResourceRecordSet"
      }
    },
    "com.gcp.domains_v1alpha2#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.domains_v1alpha2#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.domains_v1alpha2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.domains_v1alpha2#WrrPolicyItem": {
      "type": "structure",
      "members": {
        "weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The weight corresponding to this `WrrPolicyItem` object. When multiple `WrrPolicyItem` objects are configured, the probability of returning an `WrrPolicyItem` object's data is proportional to its weight relative to the sum of weights configured for all items. This weight must be non-negative."
          }
        },
        "rrdata": {
          "target": "com.gcp.domains_v1alpha2#StringList"
        },
        "healthCheckedTargets": {
          "target": "com.gcp.domains_v1alpha2#HealthCheckTargets",
          "traits": {
            "smithy.api#documentation": "Endpoints that are health checked before making the routing decision. The unhealthy endpoints are omitted from the result. If all endpoints within a bucket are unhealthy, we choose a different bucket (sampled with respect to its weight) for responding. If DNSSEC is enabled for this zone, only one of `rrdata` or `health_checked_targets` can be set."
          }
        },
        "signatureRrdata": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A routing block which contains the routing information for one WRR item."
      }
    },
    "com.gcp.domains_v1alpha2#ConfigureDnsSettingsRequest": {
      "type": "structure",
      "members": {
        "dnsSettings": {
          "target": "com.gcp.domains_v1alpha2#DnsSettings",
          "traits": {
            "smithy.api#documentation": "Fields of the `DnsSettings` to update."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The field mask describing which fields to update as a comma-separated list. For example, if only the name servers are being updated for an existing Custom DNS configuration, the `update_mask` is `\"custom_dns.name_servers\"`. When changing the DNS provider from one type to another, pass the new provider's field name as part of the field mask. For example, when changing from a Google Domains DNS configuration to a Custom DNS configuration, the `update_mask` is `\"custom_dns\"`. //"
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Validate the request without actually updating the DNS settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `ConfigureDnsSettings` method."
      }
    },
    "com.gcp.domains_v1alpha2#PrimaryBackupPolicy": {
      "type": "structure",
      "members": {
        "backupGeoTargets": {
          "target": "com.gcp.domains_v1alpha2#GeoPolicy",
          "traits": {
            "smithy.api#documentation": "Backup targets provide a regional failover policy for the otherwise global primary targets. If serving state is set to `BACKUP`, this policy essentially becomes a geo routing policy."
          }
        },
        "trickleTraffic": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "When serving state is `PRIMARY`, this field provides the option of sending a small percentage of the traffic to the backup targets."
          }
        },
        "primaryTargets": {
          "target": "com.gcp.domains_v1alpha2#HealthCheckTargets",
          "traits": {
            "smithy.api#documentation": "Endpoints that are health checked before making the routing decision. Unhealthy endpoints are omitted from the results. If all endpoints are unhealthy, we serve a response based on the `backup_geo_targets`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures a RRSetRoutingPolicy such that all queries are responded with the primary_targets if they are healthy. And if all of them are unhealthy, then we fallback to a geo localized policy."
      }
    },
    "com.gcp.domains_v1alpha2#GeoPolicyItem": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g. \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc."
          }
        },
        "signatureRrdata": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item."
          }
        },
        "rrdata": {
          "target": "com.gcp.domains_v1alpha2#StringList"
        },
        "healthCheckedTargets": {
          "target": "com.gcp.domains_v1alpha2#HealthCheckTargets",
          "traits": {
            "smithy.api#documentation": "For A and AAAA types only. Endpoints to return in the query result only if they are healthy. These can be specified along with `rrdata` within this item."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceRecordSet data for one geo location."
      }
    },
    "com.gcp.domains_v1alpha2#GoogleDomainsDns": {
      "type": "structure",
      "members": {
        "nameServers": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of name servers that store the DNS zone for this domain. Each name server is a domain name, with Unicode domain names expressed in Punycode format. This field is automatically populated with the name servers assigned to the Google Domains DNS zone."
          }
        },
        "dsState": {
          "target": "com.gcp.domains_v1alpha2#GoogleDomainsDnsDsStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. The state of DS records for this domain. Used to enable or disable automatic DNSSEC."
          }
        },
        "dsRecords": {
          "target": "com.gcp.domains_v1alpha2#DsRecordList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of DS records published for this domain. The list is automatically populated when `ds_state` is `DS_RECORDS_PUBLISHED`, otherwise it remains empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations). Configuration for using the free DNS zone provided by Google Domains as a `Registration`'s `dns_provider`. You cannot configure the DNS zone itself using the API. To configure the DNS zone, go to [Google Domains](https://domains.google/)."
      }
    },
    "com.gcp.domains_v1alpha2#GoogleDomainsDnsDsStateEnum": {
      "type": "enum",
      "members": {
        "DS_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DS_STATE_UNSPECIFIED"
          }
        },
        "DS_RECORDS_UNPUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DS_RECORDS_UNPUBLISHED"
          }
        },
        "DS_RECORDS_PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DS_RECORDS_PUBLISHED"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#DsRecordList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#DsRecord"
      }
    },
    "com.gcp.domains_v1alpha2#HealthCheckTargets": {
      "type": "structure",
      "members": {
        "externalEndpoints": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "The Internet IP addresses to be health checked. The format matches the format of ResourceRecordSet.rrdata as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1)"
          }
        },
        "internalLoadBalancer": {
          "target": "com.gcp.domains_v1alpha2#LoadBalancerTargetList",
          "traits": {
            "smithy.api#documentation": "Configuration for internal load balancers to be health checked."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HealthCheckTargets describes endpoints to health-check when responding to Routing Policy queries. Only the healthy endpoints will be included in the response. Set either `internal_load_balancer` or `external_endpoints`. Do not set both."
      }
    },
    "com.gcp.domains_v1alpha2#LoadBalancerTargetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#LoadBalancerTarget"
      }
    },
    "com.gcp.domains_v1alpha2#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.domains_v1alpha2#SearchDomainsResponse": {
      "type": "structure",
      "members": {
        "registerParameters": {
          "target": "com.gcp.domains_v1alpha2#RegisterParametersList",
          "traits": {
            "smithy.api#documentation": "Results of the domain name search."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `SearchDomains` method."
      }
    },
    "com.gcp.domains_v1alpha2#RegisterParametersList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#RegisterParameters"
      }
    },
    "com.gcp.domains_v1alpha2#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.domains_v1alpha2#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.domains_v1alpha2#RetrieveImportableDomainsResponse": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.gcp.domains_v1alpha2#DomainList",
          "traits": {
            "smithy.api#documentation": "A list of domains that the calling user manages in Google Domains."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When present, there are more results to retrieve. Set `page_token` to this value on a subsequent call to get the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations). Response for the `RetrieveImportableDomains` method."
      }
    },
    "com.gcp.domains_v1alpha2#DomainList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#Domain"
      }
    },
    "com.gcp.domains_v1alpha2#DsRecord": {
      "type": "structure",
      "members": {
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The digest generated from the referenced DNSKEY."
          }
        },
        "algorithm": {
          "target": "com.gcp.domains_v1alpha2#DsRecordAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "The algorithm used to generate the referenced DNSKEY."
          }
        },
        "digestType": {
          "target": "com.gcp.domains_v1alpha2#DsRecordDigestTypeEnum",
          "traits": {
            "smithy.api#documentation": "The hash function used to generate the digest of the referenced DNSKEY."
          }
        },
        "keyTag": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The key tag of the record. Must be set in range 0 -- 65535."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a Delegation Signer (DS) record, which is needed to enable DNSSEC for a domain. It contains a digest (hash) of a DNSKEY record that must be present in the domain's DNS zone."
      }
    },
    "com.gcp.domains_v1alpha2#DsRecordAlgorithmEnum": {
      "type": "enum",
      "members": {
        "ALGORITHM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALGORITHM_UNSPECIFIED"
          }
        },
        "RSAMD5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSAMD5"
          }
        },
        "DH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DH"
          }
        },
        "DSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DSA"
          }
        },
        "ECC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECC"
          }
        },
        "RSASHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSASHA1"
          }
        },
        "DSANSEC3SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DSANSEC3SHA1"
          }
        },
        "RSASHA1NSEC3SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSASHA1NSEC3SHA1"
          }
        },
        "RSASHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSASHA256"
          }
        },
        "RSASHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSASHA512"
          }
        },
        "ECCGOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECCGOST"
          }
        },
        "ECDSAP256SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECDSAP256SHA256"
          }
        },
        "ECDSAP384SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECDSAP384SHA384"
          }
        },
        "ED25519": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ED25519"
          }
        },
        "ED448": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ED448"
          }
        },
        "INDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDIRECT"
          }
        },
        "PRIVATEDNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATEDNS"
          }
        },
        "PRIVATEOID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATEOID"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#DsRecordDigestTypeEnum": {
      "type": "enum",
      "members": {
        "DIGEST_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIGEST_TYPE_UNSPECIFIED"
          }
        },
        "SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHA1"
          }
        },
        "SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHA256"
          }
        },
        "GOST3411": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOST3411"
          }
        },
        "SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHA384"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#RetrieveRegisterParametersResponse": {
      "type": "structure",
      "members": {
        "registerParameters": {
          "target": "com.gcp.domains_v1alpha2#RegisterParameters",
          "traits": {
            "smithy.api#documentation": "Parameters to use when calling the `RegisterDomain` method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `RetrieveRegisterParameters` method."
      }
    },
    "com.gcp.domains_v1alpha2#RenewDomainRequest": {
      "type": "structure",
      "members": {
        "yearlyPrice": {
          "target": "com.gcp.domains_v1alpha2#Money",
          "traits": {
            "smithy.api#documentation": "Required. Acknowledgement of the price to renew the domain for one year. To get the price, see [Cloud Domains pricing](https://cloud.google.com/domains/pricing). If not provided, the expected price is returned in the error message."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, only validation is performed, without actually renewing the domain. For more information, see [Request validation](https://cloud.google.com/apis/design/design_patterns#request_validation)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `RenewDomain` method."
      }
    },
    "com.gcp.domains_v1alpha2#CustomDns": {
      "type": "structure",
      "members": {
        "nameServers": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "Required. A list of name servers that store the DNS zone for this domain. Each name server is a domain name, with Unicode domain names expressed in Punycode format."
          }
        },
        "dsRecords": {
          "target": "com.gcp.domains_v1alpha2#DsRecordList",
          "traits": {
            "smithy.api#documentation": "The list of DS records for this domain, which are used to enable DNSSEC. The domain's DNS provider can provide the values to set here. If this field is empty, DNSSEC is disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for an arbitrary DNS provider."
      }
    },
    "com.gcp.domains_v1alpha2#InitiatePushTransferRequest": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Tag of the new registrar. Can be found at [List of registrars](https://nominet.uk/registrar-list/)."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, validates the request without actually initiating the transfer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `InitiatePushTransfer` method."
      }
    },
    "com.gcp.domains_v1alpha2#Registration": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.domains_v1alpha2#StringMap",
          "traits": {
            "smithy.api#documentation": "Set of labels associated with the `Registration`."
          }
        },
        "managementSettings": {
          "target": "com.gcp.domains_v1alpha2#ManagementSettings",
          "traits": {
            "smithy.api#documentation": "Settings for management of the `Registration`, including renewal, billing, and transfer. You cannot update these with the `UpdateRegistration` method. To update these settings, use the `ConfigureManagementSettings` method."
          }
        },
        "domainProperties": {
          "target": "com.gcp.domains_v1alpha2#RegistrationDomainPropertiesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. Special properties of the domain."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The expiration timestamp of the `Registration`."
          }
        },
        "provider": {
          "target": "com.gcp.domains_v1alpha2#RegistrationProviderEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current domain management provider."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The domain name. Unicode domain names must be expressed in Punycode format."
          }
        },
        "contactSettings": {
          "target": "com.gcp.domains_v1alpha2#ContactSettings",
          "traits": {
            "smithy.api#documentation": "Required. Settings for contact information linked to the `Registration`. You cannot update these with the `UpdateRegistration` method. To update these settings, use the `ConfigureContactSettings` method."
          }
        },
        "issues": {
          "target": "com.gcp.domains_v1alpha2#RegistrationIssuesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. The set of issues with the `Registration` that require attention."
          }
        },
        "transferFailureReason": {
          "target": "com.gcp.domains_v1alpha2#RegistrationTransferFailureReasonEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations). The reason the domain transfer failed. Only set for domains in TRANSFER_FAILED state."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation timestamp of the `Registration` resource."
          }
        },
        "dnsSettings": {
          "target": "com.gcp.domains_v1alpha2#DnsSettings",
          "traits": {
            "smithy.api#documentation": "Settings controlling the DNS configuration of the `Registration`. You cannot update these with the `UpdateRegistration` method. To update these settings, use the `ConfigureDnsSettings` method."
          }
        },
        "pendingContactSettings": {
          "target": "com.gcp.domains_v1alpha2#ContactSettings",
          "traits": {
            "smithy.api#documentation": "Output only. Pending contact settings for the `Registration`. Updates to the `contact_settings` field that change its `registrant_contact` or `privacy` fields require email confirmation by the `registrant_contact` before taking effect. This field is set only if there are pending updates to the `contact_settings` that have not been confirmed. To confirm the changes, the `registrant_contact` must follow the instructions in the email they receive."
          }
        },
        "supportedPrivacy": {
          "target": "com.gcp.domains_v1alpha2#RegistrationSupportedPrivacyItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. Set of options for the `contact_settings.privacy` field that this `Registration` supports."
          }
        },
        "state": {
          "target": "com.gcp.domains_v1alpha2#RegistrationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the `Registration`"
          }
        },
        "registerFailureReason": {
          "target": "com.gcp.domains_v1alpha2#RegistrationRegisterFailureReasonEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The reason the domain registration failed. Only set for domains in REGISTRATION_FAILED state."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the `Registration` resource, in the format `projects/*/locations/*/registrations/`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Registration` resource facilitates managing and configuring domain name registrations. There are several ways to create a new `Registration` resource: To create a new `Registration` resource, find a suitable domain name by calling the `SearchDomains` method with a query to see available domain name options. After choosing a name, call `RetrieveRegisterParameters` to ensure availability and obtain information like pricing, which is needed to build a call to `RegisterDomain`. Another way to create a new `Registration` is to transfer an existing domain from another registrar (Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations)). First, go to the current registrar to unlock the domain for transfer and retrieve the domain's transfer authorization code. Then call `RetrieveTransferParameters` to confirm that the domain is unlocked and to get values needed to build a call to `TransferDomain`. Finally, you can create a new `Registration` by importing an existing domain managed with [Google Domains](https://domains.google/) (Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations)). First, call `RetrieveImportableDomains` to list domains to which the calling user has sufficient access. Then call `ImportDomain` on any domain names you want to use with Cloud Domains."
      }
    },
    "com.gcp.domains_v1alpha2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.domains_v1alpha2#RegistrationDomainPropertiesItemEnum": {
      "type": "enum",
      "members": {
        "DOMAIN_PROPERTY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_PROPERTY_UNSPECIFIED"
          }
        },
        "TRANSFER_LOCK_UNSUPPORTED_BY_REGISTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_LOCK_UNSUPPORTED_BY_REGISTRY"
          }
        },
        "REQUIRE_PUSH_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRE_PUSH_TRANSFER"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#RegistrationDomainPropertiesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#RegistrationDomainPropertiesItemEnum"
      }
    },
    "com.gcp.domains_v1alpha2#RegistrationProviderEnum": {
      "type": "enum",
      "members": {
        "REGISTRAR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGISTRAR_UNSPECIFIED"
          }
        },
        "GOOGLE_DOMAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_DOMAINS"
          }
        },
        "SQUARESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQUARESPACE"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#RegistrationIssuesItemEnum": {
      "type": "enum",
      "members": {
        "ISSUE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_UNSPECIFIED"
          }
        },
        "CONTACT_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTACT_SUPPORT"
          }
        },
        "UNVERIFIED_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNVERIFIED_EMAIL"
          }
        },
        "PROBLEM_WITH_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROBLEM_WITH_BILLING"
          }
        },
        "DNS_NOT_ACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_NOT_ACTIVATED"
          }
        },
        "AUTO_RENEWAL_UPDATE_NOT_EFFECTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_RENEWAL_UPDATE_NOT_EFFECTIVE"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#RegistrationIssuesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#RegistrationIssuesItemEnum"
      }
    },
    "com.gcp.domains_v1alpha2#RegistrationTransferFailureReasonEnum": {
      "type": "enum",
      "members": {
        "TRANSFER_FAILURE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_FAILURE_REASON_UNSPECIFIED"
          }
        },
        "TRANSFER_FAILURE_REASON_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_FAILURE_REASON_UNKNOWN"
          }
        },
        "EMAIL_CONFIRMATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_CONFIRMATION_FAILURE"
          }
        },
        "DOMAIN_NOT_REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_NOT_REGISTERED"
          }
        },
        "DOMAIN_HAS_TRANSFER_LOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_HAS_TRANSFER_LOCK"
          }
        },
        "INVALID_AUTHORIZATION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_AUTHORIZATION_CODE"
          }
        },
        "TRANSFER_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_CANCELLED"
          }
        },
        "TRANSFER_REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_REJECTED"
          }
        },
        "INVALID_REGISTRANT_EMAIL_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_REGISTRANT_EMAIL_ADDRESS"
          }
        },
        "DOMAIN_NOT_ELIGIBLE_FOR_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_NOT_ELIGIBLE_FOR_TRANSFER"
          }
        },
        "TRANSFER_ALREADY_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_ALREADY_PENDING"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#RegistrationSupportedPrivacyItemEnum": {
      "type": "enum",
      "members": {
        "CONTACT_PRIVACY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTACT_PRIVACY_UNSPECIFIED"
          }
        },
        "PUBLIC_CONTACT_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC_CONTACT_DATA"
          }
        },
        "PRIVATE_CONTACT_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_CONTACT_DATA"
          }
        },
        "REDACTED_CONTACT_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDACTED_CONTACT_DATA"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#RegistrationSupportedPrivacyItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#RegistrationSupportedPrivacyItemEnum"
      }
    },
    "com.gcp.domains_v1alpha2#RegistrationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "REGISTRATION_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGISTRATION_PENDING"
          }
        },
        "REGISTRATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGISTRATION_FAILED"
          }
        },
        "TRANSFER_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_PENDING"
          }
        },
        "TRANSFER_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_FAILED"
          }
        },
        "IMPORT_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_PENDING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "EXPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPORTED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#RegistrationRegisterFailureReasonEnum": {
      "type": "enum",
      "members": {
        "REGISTER_FAILURE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGISTER_FAILURE_REASON_UNSPECIFIED"
          }
        },
        "REGISTER_FAILURE_REASON_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGISTER_FAILURE_REASON_UNKNOWN"
          }
        },
        "DOMAIN_NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_NOT_AVAILABLE"
          }
        },
        "INVALID_CONTACTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_CONTACTS"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.domains_v1alpha2#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.domains_v1alpha2#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#ImportDomainRequest": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The domain name. Unicode domain names must be expressed in Punycode format."
          }
        },
        "labels": {
          "target": "com.gcp.domains_v1alpha2#StringMap",
          "traits": {
            "smithy.api#documentation": "Set of labels associated with the `Registration`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations). Request for the `ImportDomain` method."
      }
    },
    "com.gcp.domains_v1alpha2#RetrieveTransferParametersResponse": {
      "type": "structure",
      "members": {
        "transferParameters": {
          "target": "com.gcp.domains_v1alpha2#TransferParameters",
          "traits": {
            "smithy.api#documentation": "Parameters to use when calling the `TransferDomain` method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations). Response for the `RetrieveTransferParameters` method."
      }
    },
    "com.gcp.domains_v1alpha2#ResetAuthorizationCodeRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for the `ResetAuthorizationCode` method."
      }
    },
    "com.gcp.domains_v1alpha2#Money": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.domains_v1alpha2#ManagementSettings": {
      "type": "structure",
      "members": {
        "preferredRenewalMethod": {
          "target": "com.gcp.domains_v1alpha2#ManagementSettingsPreferredRenewalMethodEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The desired renewal method for this `Registration`. The actual `renewal_method` is automatically updated to reflect this choice. If unset or equal to `RENEWAL_METHOD_UNSPECIFIED`, the actual `renewalMethod` is treated as if it were set to `AUTOMATIC_RENEWAL`. You cannot use `RENEWAL_DISABLED` during resource creation, and you can update the renewal status only when the `Registration` resource has state `ACTIVE` or `SUSPENDED`. When `preferred_renewal_method` is set to `AUTOMATIC_RENEWAL`, the actual `renewal_method` can be set to `RENEWAL_DISABLED` in case of problems with the billing account or reported domain abuse. In such cases, check the `issues` field on the `Registration`. After the problem is resolved, the `renewal_method` is automatically updated to `preferred_renewal_method` in a few hours."
          }
        },
        "renewalMethod": {
          "target": "com.gcp.domains_v1alpha2#ManagementSettingsRenewalMethodEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The actual renewal method for this `Registration`. When `preferred_renewal_method` is set to `AUTOMATIC_RENEWAL`, the actual `renewal_method` can be equal to `RENEWAL_DISABLED`—for example, when there are problems with the billing account or reported domain abuse. In such cases, check the `issues` field on the `Registration`. After the problem is resolved, the `renewal_method` is automatically updated to `preferred_renewal_method` in a few hours."
          }
        },
        "transferLockState": {
          "target": "com.gcp.domains_v1alpha2#ManagementSettingsTransferLockStateEnum",
          "traits": {
            "smithy.api#documentation": "This is the desired transfer lock state for this `Registration`. A transfer lock controls whether the domain can be transferred to another registrar. The transfer lock state of the domain is returned in the `effective_transfer_lock_state` property. The transfer lock state values might be different for the following reasons: * `transfer_lock_state` was updated only a short time ago. * Domains with the `TRANSFER_LOCK_UNSUPPORTED_BY_REGISTRY` state are in the list of `domain_properties`. These domains are always in the `UNLOCKED` state."
          }
        },
        "effectiveTransferLockState": {
          "target": "com.gcp.domains_v1alpha2#ManagementSettingsEffectiveTransferLockStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The actual transfer lock state for this `Registration`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines renewal, billing, and transfer settings for a `Registration`."
      }
    },
    "com.gcp.domains_v1alpha2#ManagementSettingsPreferredRenewalMethodEnum": {
      "type": "enum",
      "members": {
        "RENEWAL_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENEWAL_METHOD_UNSPECIFIED"
          }
        },
        "AUTOMATIC_RENEWAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATIC_RENEWAL"
          }
        },
        "MANUAL_RENEWAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL_RENEWAL"
          }
        },
        "RENEWAL_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENEWAL_DISABLED"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#ManagementSettingsRenewalMethodEnum": {
      "type": "enum",
      "members": {
        "RENEWAL_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENEWAL_METHOD_UNSPECIFIED"
          }
        },
        "AUTOMATIC_RENEWAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATIC_RENEWAL"
          }
        },
        "MANUAL_RENEWAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL_RENEWAL"
          }
        },
        "RENEWAL_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENEWAL_DISABLED"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#ManagementSettingsTransferLockStateEnum": {
      "type": "enum",
      "members": {
        "TRANSFER_LOCK_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_LOCK_STATE_UNSPECIFIED"
          }
        },
        "UNLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCKED"
          }
        },
        "LOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCKED"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#ManagementSettingsEffectiveTransferLockStateEnum": {
      "type": "enum",
      "members": {
        "TRANSFER_LOCK_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_LOCK_STATE_UNSPECIFIED"
          }
        },
        "UNLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCKED"
          }
        },
        "LOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCKED"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#Domain": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name. Unicode domain names are expressed in Punycode format."
          }
        },
        "resourceState": {
          "target": "com.gcp.domains_v1alpha2#DomainResourceStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of this domain as a `Registration` resource."
          }
        },
        "yearlyPrice": {
          "target": "com.gcp.domains_v1alpha2#Money",
          "traits": {
            "smithy.api#documentation": "Price to renew the domain for one year. Only set when `resource_state` is `IMPORTABLE`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A domain that the calling user manages in Google Domains."
      }
    },
    "com.gcp.domains_v1alpha2#DomainResourceStateEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_STATE_UNSPECIFIED"
          }
        },
        "IMPORTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORTABLE"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#AuthorizationCode": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Authorization Code in ASCII. It can be used to transfer the domain to or from another registrar."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines an authorization code."
      }
    },
    "com.gcp.domains_v1alpha2#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "labels": {
          "target": "com.gcp.domains_v1alpha2#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.domains_v1alpha2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.domains_v1alpha2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.domains_v1alpha2#GlueRecord": {
      "type": "structure",
      "members": {
        "hostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Domain name of the host in Punycode format."
          }
        },
        "ipv6Addresses": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "List of IPv6 addresses corresponding to this host in the standard hexadecimal format (e.g. `2001:db8::`). At least one of `ipv4_address` and `ipv6_address` must be set."
          }
        },
        "ipv4Addresses": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "List of IPv4 addresses corresponding to this host in the standard decimal format (e.g. `198.51.100.1`). At least one of `ipv4_address` and `ipv6_address` must be set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a host on your domain that is a DNS name server for your domain and/or other domains. Glue records are a way of making the IP address of a name server known, even when it serves DNS queries for its parent domain. For example, when `ns.example.com` is a name server for `example.com`, the host `ns.example.com` must have a glue record to break the circular DNS reference."
      }
    },
    "com.gcp.domains_v1alpha2#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.domains_v1alpha2#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.domains_v1alpha2#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.domains_v1alpha2#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#Binding"
      }
    },
    "com.gcp.domains_v1alpha2#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#AuditConfig"
      }
    },
    "com.gcp.domains_v1alpha2#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.domains_v1alpha2#WrrPolicy": {
      "type": "structure",
      "members": {
        "item": {
          "target": "com.gcp.domains_v1alpha2#WrrPolicyItemList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures a RRSetRoutingPolicy that routes in a weighted round robin fashion."
      }
    },
    "com.gcp.domains_v1alpha2#WrrPolicyItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#WrrPolicyItem"
      }
    },
    "com.gcp.domains_v1alpha2#ListRegistrationsResponse": {
      "type": "structure",
      "members": {
        "registrations": {
          "target": "com.gcp.domains_v1alpha2#RegistrationList",
          "traits": {
            "smithy.api#documentation": "A list of `Registration`s."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When present, there are more results to retrieve. Set `page_token` to this value on a subsequent call to get the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListRegistrations` method."
      }
    },
    "com.gcp.domains_v1alpha2#RegistrationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#Registration"
      }
    },
    "com.gcp.domains_v1alpha2#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.domains_v1alpha2#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.domains_v1alpha2#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#Location"
      }
    },
    "com.gcp.domains_v1alpha2#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.domains_v1alpha2#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.domains_v1alpha2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "metadata": {
          "target": "com.gcp.domains_v1alpha2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.domains_v1alpha2#ConfigureManagementSettingsRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The field mask describing which fields to update as a comma-separated list. For example, if only the transfer lock is being updated, the `update_mask` is `\"transfer_lock_state\"`."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, validates the request without actually updating the management settings."
          }
        },
        "managementSettings": {
          "target": "com.gcp.domains_v1alpha2#ManagementSettings",
          "traits": {
            "smithy.api#documentation": "Fields of the `ManagementSettings` to update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `ConfigureManagementSettings` method."
      }
    },
    "com.gcp.domains_v1alpha2#ContactSettings": {
      "type": "structure",
      "members": {
        "privacy": {
          "target": "com.gcp.domains_v1alpha2#ContactSettingsPrivacyEnum",
          "traits": {
            "smithy.api#documentation": "Required. Privacy setting for the contacts associated with the `Registration`."
          }
        },
        "technicalContact": {
          "target": "com.gcp.domains_v1alpha2#Contact",
          "traits": {
            "smithy.api#documentation": "Required. The technical contact for the `Registration`."
          }
        },
        "registrantContact": {
          "target": "com.gcp.domains_v1alpha2#Contact",
          "traits": {
            "smithy.api#documentation": "Required. The registrant contact for the `Registration`. *Caution: Anyone with access to this email address, phone number, and/or postal address can take control of the domain.* *Warning: For new `Registration`s, the registrant receives an email confirmation that they must complete within 15 days to avoid domain suspension.*"
          }
        },
        "adminContact": {
          "target": "com.gcp.domains_v1alpha2#Contact",
          "traits": {
            "smithy.api#documentation": "Required. The administrative contact for the `Registration`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the contact information associated with a `Registration`. [ICANN](https://icann.org/) requires all domain names to have associated contact information. The `registrant_contact` is considered the domain's legal owner, and often the other contacts are identical."
      }
    },
    "com.gcp.domains_v1alpha2#ContactSettingsPrivacyEnum": {
      "type": "enum",
      "members": {
        "CONTACT_PRIVACY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTACT_PRIVACY_UNSPECIFIED"
          }
        },
        "PUBLIC_CONTACT_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC_CONTACT_DATA"
          }
        },
        "PRIVATE_CONTACT_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_CONTACT_DATA"
          }
        },
        "REDACTED_CONTACT_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDACTED_CONTACT_DATA"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#ResourceRecordSet": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For example, www.example.com."
          }
        },
        "ttl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds that this `ResourceRecordSet` can be cached by resolvers."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of a supported record type. See the list of Supported DNS record types."
          }
        },
        "signatureRrdata": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "As defined in RFC 4034 (section 3.2)."
          }
        },
        "rrdata": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples."
          }
        },
        "routingPolicy": {
          "target": "com.gcp.domains_v1alpha2#RRSetRoutingPolicy",
          "traits": {
            "smithy.api#documentation": "Configures dynamic query responses based on either the geo location of the querying user or a weighted round robin based routing policy. A valid `ResourceRecordSet` contains only `rrdata` (for static resolution) or a `routing_policy` (for dynamic resolution)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A unit of data that is returned by the DNS servers."
      }
    },
    "com.gcp.domains_v1alpha2#OperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation finished running."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server-defined resource path for the target of the operation."
          }
        },
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable status of the operation, if any."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API version used to start the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the verb executed by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation. Output only."
      }
    },
    "com.gcp.domains_v1alpha2#LoadBalancerTarget": {
      "type": "structure",
      "members": {
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region in which the load balancer is located."
          }
        },
        "ipProtocol": {
          "target": "com.gcp.domains_v1alpha2#LoadBalancerTargetIpProtocolEnum",
          "traits": {
            "smithy.api#documentation": "The protocol of the load balancer to health check."
          }
        },
        "networkUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified URL of the network that the load balancer is attached to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`."
          }
        },
        "port": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The configured port of the load balancer."
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project ID in which the load balancer is located."
          }
        },
        "loadBalancerType": {
          "target": "com.gcp.domains_v1alpha2#LoadBalancerTargetLoadBalancerTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of load balancer specified by this target. This value must match the configuration of the load balancer located at the LoadBalancerTarget's IP address, port, and region. Use the following: - *regionalL4ilb*: for a regional internal passthrough Network Load Balancer. - *regionalL7ilb*: for a regional internal Application Load Balancer. - *globalL7ilb*: for a global internal Application Load Balancer. "
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The frontend IP address of the load balancer to health check."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for an individual load balancer to health check."
      }
    },
    "com.gcp.domains_v1alpha2#LoadBalancerTargetIpProtocolEnum": {
      "type": "enum",
      "members": {
        "UNDEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDEFINED"
          }
        },
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP"
          }
        },
        "UDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UDP"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#LoadBalancerTargetLoadBalancerTypeEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "GLOBAL_L7ILB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLOBAL_L7ILB"
          }
        },
        "REGIONAL_L4ILB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL_L4ILB"
          }
        },
        "REGIONAL_L7ILB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL_L7ILB"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#ConfigureContactSettingsRequest": {
      "type": "structure",
      "members": {
        "contactNotices": {
          "target": "com.gcp.domains_v1alpha2#ConfigureContactSettingsRequestContactNoticesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The list of contact notices that the caller acknowledges. The notices needed here depend on the values specified in `contact_settings`."
          }
        },
        "contactSettings": {
          "target": "com.gcp.domains_v1alpha2#ContactSettings",
          "traits": {
            "smithy.api#documentation": "Fields of the `ContactSettings` to update."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The field mask describing which fields to update as a comma-separated list. For example, if only the registrant contact is being updated, the `update_mask` is `\"registrant_contact\"`."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Validate the request without actually updating the contact settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `ConfigureContactSettings` method."
      }
    },
    "com.gcp.domains_v1alpha2#ConfigureContactSettingsRequestContactNoticesItemEnum": {
      "type": "enum",
      "members": {
        "CONTACT_NOTICE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTACT_NOTICE_UNSPECIFIED"
          }
        },
        "PUBLIC_CONTACT_DATA_ACKNOWLEDGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC_CONTACT_DATA_ACKNOWLEDGEMENT"
          }
        }
      }
    },
    "com.gcp.domains_v1alpha2#ConfigureContactSettingsRequestContactNoticesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#ConfigureContactSettingsRequestContactNoticesItemEnum"
      }
    },
    "com.gcp.domains_v1alpha2#DnsSettings": {
      "type": "structure",
      "members": {
        "customDns": {
          "target": "com.gcp.domains_v1alpha2#CustomDns",
          "traits": {
            "smithy.api#documentation": "An arbitrary DNS provider identified by its name servers."
          }
        },
        "glueRecords": {
          "target": "com.gcp.domains_v1alpha2#GlueRecordList",
          "traits": {
            "smithy.api#documentation": "The list of glue records for this `Registration`. Commonly empty."
          }
        },
        "googleDomainsDns": {
          "target": "com.gcp.domains_v1alpha2#GoogleDomainsDns",
          "traits": {
            "smithy.api#documentation": "Deprecated: For more information, see [Cloud Domains feature deprecation](https://cloud.google.com/domains/docs/deprecations/feature-deprecations). The free DNS zone provided by [Google Domains](https://domains.google/)."
          }
        },
        "googleDomainsRedirectsDataAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if this `Registration` has configured one of the following deprecated Google Domains DNS features: * Domain forwarding (HTTP `301` and `302` response status codes), * Email forwarding. See https://cloud.google.com/domains/docs/deprecations/feature-deprecations for more details. If any of these features is enabled call the `RetrieveGoogleDomainsForwardingConfig` method to get details about the feature's configuration. A forwarding configuration might not work correctly if required DNS records are not present in the domain's authoritative DNS Zone."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the DNS configuration of a `Registration`, including name servers, DNSSEC, and glue records."
      }
    },
    "com.gcp.domains_v1alpha2#GlueRecordList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#GlueRecord"
      }
    },
    "com.gcp.domains_v1alpha2#EmailForwarding": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An alias recipient email that forwards emails to the `target_email_address`. For example, `admin@example.com` or `*@example.com` (wildcard alias forwards all the emails under the registered domain)."
          }
        },
        "targetEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target email that receives emails sent to the `alias`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Email forwarding configuration."
      }
    },
    "com.gcp.domains_v1alpha2#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.domains_v1alpha2#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.domains_v1alpha2#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.domains_v1alpha2#Operation"
      }
    },
    "com.gcp.domains_v1alpha2#Contact": {
      "type": "structure",
      "members": {
        "postalAddress": {
          "target": "com.gcp.domains_v1alpha2#PostalAddress",
          "traits": {
            "smithy.api#documentation": "Required. Postal address of the contact."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Email address of the contact."
          }
        },
        "faxNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fax number of the contact in international format. For example, `\"+1-800-555-0123\"`."
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Phone number of the contact in international format. For example, `\"+1-800-555-0123\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details required for a contact associated with a `Registration`."
      }
    },
    "com.gcp.domains_v1alpha2#PostalAddress": {
      "type": "structure",
      "members": {
        "recipients": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
          }
        },
        "sortingCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire)."
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States)."
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the organization at the address."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
          }
        },
        "locality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`."
          }
        },
        "sublocality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district."
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
          }
        },
        "administrativeArea": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated."
          }
        },
        "addressLines": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478."
      }
    },
    "com.gcp.domains_v1alpha2#RRSetRoutingPolicy": {
      "type": "structure",
      "members": {
        "primaryBackup": {
          "target": "com.gcp.domains_v1alpha2#PrimaryBackupPolicy"
        },
        "geoPolicy": {
          "target": "com.gcp.domains_v1alpha2#GeoPolicy"
        },
        "geo": {
          "target": "com.gcp.domains_v1alpha2#GeoPolicy"
        },
        "wrr": {
          "target": "com.gcp.domains_v1alpha2#WrrPolicy"
        },
        "healthCheck": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified URL of the HealthCheck to use for this RRSetRoutingPolicy. Format this URL like `https://www.googleapis.com/compute/v1/projects/{project}/global/healthChecks/{healthCheck}`. https://cloud.google.com/compute/docs/reference/rest/v1/healthChecks"
          }
        },
        "wrrPolicy": {
          "target": "com.gcp.domains_v1alpha2#WrrPolicy"
        }
      },
      "traits": {
        "smithy.api#documentation": "A RRSetRoutingPolicy represents ResourceRecordSet data that is returned dynamically with the response varying based on configured properties such as geolocation or by weighted random selection."
      }
    },
    "com.gcp.domains_v1alpha2#TransferParameters": {
      "type": "structure",
      "members": {
        "nameServers": {
          "target": "com.gcp.domains_v1alpha2#StringList",
          "traits": {
            "smithy.api#documentation": "The name servers that currently store the configuration of the domain."
          }
        },
        "yearlyPrice": {
          "target": "com.gcp.domains_v1alpha2#Money",
          "traits": {
            "smithy.api#documentation": "Price to transfer or renew the domain for one year."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name. Unicode domain names are expressed in Punycode format."
          }
        },
        "currentRegistrar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The registrar that currently manages the domain."
          }
        },
        "transferLockState": {
          "target": "com.gcp.domains_v1alpha2#TransferParametersTransferLockStateEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether the domain is protected by a transfer lock. For a transfer to succeed, this must show `UNLOCKED`. To unlock a domain, go to its current registrar."
          }
        },
        "supportedPrivacy": {
          "target": "com.gcp.domains_v1alpha2#TransferParametersSupportedPrivacyItemEnumList",
          "traits": {
            "smithy.api#documentation": "Contact privacy options that the domain supports."
          }
        },
        "currentRegistrarUri": {
          "target": "smithy.api#String",
[...]
