{
  "smithy": "2.0",
  "metadata": {
    "service": "firebasehosting",
    "version": "v1beta1",
    "title": "Firebase Hosting API",
    "baseUrl": "https://firebasehosting.googleapis.com/"
  },
  "shapes": {
    "com.gcp.firebasehosting_v1beta1#CustomDomain": {
      "type": "structure",
      "members": {
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. A field that, if true, indicates that Hosting's systems are attmepting to make the custom domain's state match your preferred state. This is most frequently `true` when initially provisioning a `CustomDomain` after a `CreateCustomDomain` request or when creating a new SSL certificate to match an updated `cert_preference` after an `UpdateCustomDomain` request."
          }
        },
        "redirectTarget": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A domain name that this `CustomDomain` should direct traffic towards. If specified, Hosting will respond to requests against this custom domain with an HTTP 301 code, and route traffic to the specified `redirect_target` instead."
          }
        },
        "hostState": {
          "target": "com.gcp.firebasehosting_v1beta1#CustomDomainHostStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The `HostState` of the domain name this `CustomDomain` refers to."
          }
        },
        "issues": {
          "target": "com.gcp.firebasehosting_v1beta1#StatusList",
          "traits": {
            "smithy.api#documentation": "Output only. A set of errors Hosting systems encountered when trying to establish Hosting's ability to serve secure content for your domain name. Resolve these issues to ensure your `CustomDomain` behaves properly."
          }
        },
        "certPreference": {
          "target": "com.gcp.firebasehosting_v1beta1#CustomDomainCertPreferenceEnum",
          "traits": {
            "smithy.api#documentation": "A field that lets you specify which SSL certificate type Hosting creates for your domain name. Spark plan custom domains only have access to the `GROUPED` cert type, while Blaze plan domains can select any option."
          }
        },
        "requiredDnsUpdates": {
          "target": "com.gcp.firebasehosting_v1beta1#DnsUpdates",
          "traits": {
            "smithy.api#documentation": "Output only. A set of updates you should make to the domain name's DNS records to let Hosting serve secure content on its behalf."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The minimum time before a soft-deleted `CustomDomain` is completely removed from Hosting; null for custom domains that haven't been deleted."
          }
        },
        "labels": {
          "target": "com.gcp.firebasehosting_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels used for extra metadata and/or filtering."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The fully-qualified name of the `CustomDomain`."
          }
        },
        "ownershipState": {
          "target": "com.gcp.firebasehosting_v1beta1#CustomDomainOwnershipStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The `OwnershipState` of the domain name this `CustomDomain` refers to."
          }
        },
        "cert": {
          "target": "com.gcp.firebasehosting_v1beta1#Certificate",
          "traits": {
            "smithy.api#documentation": "Output only. The SSL certificate Hosting has for this custom domain's domain name. For new custom domains, this often represents Hosting's intent to create a certificate, rather than an actual cert. Check the `state` field for more."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the `CustomDomain` was deleted; null for custom domains that haven't been deleted. Deleted custom domains persist for approximately 30 days, after which time Hosting removes them completely. To restore a deleted custom domain, make an `UndeleteCustomDomain` request."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The custom domain's create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last time the `CustomDomain` was updated."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A string that represents the current state of the `CustomDomain` and allows you to confirm its initial state in requests that would modify it. Use the tag to ensure consistency when making `UpdateCustomDomain`, `DeleteCustomDomain`, and `UndeleteCustomDomain` requests."
          }
        },
        "annotations": {
          "target": "com.gcp.firebasehosting_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Annotations you can add to leave both human- and machine-readable metadata about your `CustomDomain`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A `CustomDomain` is an entity that links a domain name to a Firebase Hosting site. Add a `CustomDomain` to your site to allow Hosting to serve the site's content in response to requests against your domain name."
      }
    },
    "com.gcp.firebasehosting_v1beta1#CustomDomainHostStateEnum": {
      "type": "enum",
      "members": {
        "HOST_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_STATE_UNSPECIFIED"
          }
        },
        "HOST_UNHOSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_UNHOSTED"
          }
        },
        "HOST_UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_UNREACHABLE"
          }
        },
        "HOST_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_MISMATCH"
          }
        },
        "HOST_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_CONFLICT"
          }
        },
        "HOST_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_ACTIVE"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#StatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#Status"
      }
    },
    "com.gcp.firebasehosting_v1beta1#CustomDomainCertPreferenceEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TEMPORARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEMPORARY"
          }
        },
        "GROUPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUPED"
          }
        },
        "PROJECT_GROUPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_GROUPED"
          }
        },
        "DEDICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEDICATED"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.firebasehosting_v1beta1#CustomDomainOwnershipStateEnum": {
      "type": "enum",
      "members": {
        "OWNERSHIP_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_STATE_UNSPECIFIED"
          }
        },
        "OWNERSHIP_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_MISSING"
          }
        },
        "OWNERSHIP_UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_UNREACHABLE"
          }
        },
        "OWNERSHIP_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_MISMATCH"
          }
        },
        "OWNERSHIP_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_CONFLICT"
          }
        },
        "OWNERSHIP_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_PENDING"
          }
        },
        "OWNERSHIP_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_ACTIVE"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#Domain": {
      "type": "structure",
      "members": {
        "site": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The site name of the association."
          }
        },
        "provisioning": {
          "target": "com.gcp.firebasehosting_v1beta1#DomainProvisioning",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the provisioning of certificates and the health of the DNS resolution for the domain."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the domain was last updated."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The domain name of the association."
          }
        },
        "status": {
          "target": "com.gcp.firebasehosting_v1beta1#DomainStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Additional status of the domain association."
          }
        },
        "domainRedirect": {
          "target": "com.gcp.firebasehosting_v1beta1#DomainRedirect",
          "traits": {
            "smithy.api#documentation": "If set, the domain should redirect with the provided parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The intended behavior and status information of a domain."
      }
    },
    "com.gcp.firebasehosting_v1beta1#DomainStatusEnum": {
      "type": "enum",
      "members": {
        "DOMAIN_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_STATUS_UNSPECIFIED"
          }
        },
        "DOMAIN_CHANGE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_CHANGE_PENDING"
          }
        },
        "DOMAIN_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_ACTIVE"
          }
        },
        "DOMAIN_VERIFICATION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_VERIFICATION_REQUIRED"
          }
        },
        "DOMAIN_VERIFICATION_LOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_VERIFICATION_LOST"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#DomainRedirect": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.firebasehosting_v1beta1#DomainRedirectTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The redirect status code."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The domain name to redirect to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the behavior of a domain-level redirect. Domain redirects preserve the path of the redirect but replace the requested domain with the one specified in the redirect configuration."
      }
    },
    "com.gcp.firebasehosting_v1beta1#DomainRedirectTypeEnum": {
      "type": "enum",
      "members": {
        "REDIRECT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_TYPE_UNSPECIFIED"
          }
        },
        "MOVED_PERMANENTLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVED_PERMANENTLY"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#Certificate": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The certificate's expiration time. After this time, the cert can no longer be used to provide secure communication between Hosting and your site's visitors."
          }
        },
        "type": {
          "target": "com.gcp.firebasehosting_v1beta1#CertificateTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The certificate's type."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The certificate's creation time. For `TEMPORARY` certs this is the time Hosting first generated challenges for your domain name. For all other cert types, it's the time the actual cert was created."
          }
        },
        "verification": {
          "target": "com.gcp.firebasehosting_v1beta1#CertVerification",
          "traits": {
            "smithy.api#documentation": "Output only. A set of ACME challenges you can add to your DNS records or existing, non-Hosting hosting provider to allow Hosting to create an SSL certificate for your domain name before you point traffic toward hosting. You can use thse challenges as part of a zero downtime transition from your old provider to Hosting."
          }
        },
        "state": {
          "target": "com.gcp.firebasehosting_v1beta1#CertificateStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the certificate. Only the `CERT_ACTIVE` and `CERT_EXPIRING_SOON` states provide SSL coverage for a domain name. If the state is `PROPAGATING` and Hosting had an active cert for the domain name before, that formerly-active cert provides SSL coverage for the domain name until the current cert propagates."
          }
        },
        "issues": {
          "target": "com.gcp.firebasehosting_v1beta1#StatusList",
          "traits": {
            "smithy.api#documentation": "Output only. A set of errors Hosting encountered when attempting to create a cert for your domain name. Resolve these issues to ensure Hosting is able to provide secure communication with your site's visitors."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An SSL certificate used to provide end-to-end encryption for requests against your domain name. A `Certificate` can be an actual SSL certificate or, for newly-created custom domains, Hosting's intent to create one."
      }
    },
    "com.gcp.firebasehosting_v1beta1#CertificateTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TEMPORARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEMPORARY"
          }
        },
        "GROUPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUPED"
          }
        },
        "PROJECT_GROUPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_GROUPED"
          }
        },
        "DEDICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEDICATED"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#CertificateStateEnum": {
      "type": "enum",
      "members": {
        "CERT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_STATE_UNSPECIFIED"
          }
        },
        "CERT_PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_PREPARING"
          }
        },
        "CERT_VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_VALIDATING"
          }
        },
        "CERT_PROPAGATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_PROPAGATING"
          }
        },
        "CERT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_ACTIVE"
          }
        },
        "CERT_EXPIRING_SOON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_EXPIRING_SOON"
          }
        },
        "CERT_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_EXPIRED"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#ListDomainsResponse": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.gcp.firebasehosting_v1beta1#DomainList",
          "traits": {
            "smithy.api#documentation": "The list of domains, if any exist."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token, if more results exist."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to listing Domains."
      }
    },
    "com.gcp.firebasehosting_v1beta1#DomainList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#Domain"
      }
    },
    "com.gcp.firebasehosting_v1beta1#ListSitesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListSites`. Page tokens are short-lived and should not be stored."
          }
        },
        "sites": {
          "target": "com.gcp.firebasehosting_v1beta1#SiteList",
          "traits": {
            "smithy.api#documentation": "A list of Site objects associated with the specified Firebase project."
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#SiteList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#Site"
      }
    },
    "com.gcp.firebasehosting_v1beta1#CustomDomainMetadata": {
      "type": "structure",
      "members": {
        "certState": {
          "target": "com.gcp.firebasehosting_v1beta1#CustomDomainMetadataCertStateEnum",
          "traits": {
            "smithy.api#documentation": "The `CertState` of the domain name's SSL certificate."
          }
        },
        "liveMigrationSteps": {
          "target": "com.gcp.firebasehosting_v1beta1#LiveMigrationStepList",
          "traits": {
            "smithy.api#documentation": "A set of DNS record updates and ACME challenges that allow you to transition domain names to Firebase Hosting with zero downtime. These updates allow Hosting to create an SSL certificate and establish ownership for your custom domain before Hosting begins serving traffic on it. If your domain name is already in active use with another provider, add one of the challenges and make the recommended DNS updates. After adding challenges and adjusting DNS records as necessary, wait for the `ownershipState` to be `OWNERSHIP_ACTIVE` and the `certState` to be `CERT_ACTIVE` before sending traffic to Hosting."
          }
        },
        "hostState": {
          "target": "com.gcp.firebasehosting_v1beta1#CustomDomainMetadataHostStateEnum",
          "traits": {
            "smithy.api#documentation": "The `HostState` of the domain name this `CustomDomain` refers to."
          }
        },
        "issues": {
          "target": "com.gcp.firebasehosting_v1beta1#StatusList",
          "traits": {
            "smithy.api#documentation": "A list of issues that are currently preventing Hosting from completing the operation. These are generally DNS-related issues that Hosting encounters when querying a domain name's records or attempting to mint an SSL certificate."
          }
        },
        "quickSetupUpdates": {
          "target": "com.gcp.firebasehosting_v1beta1#DnsUpdates",
          "traits": {
            "smithy.api#documentation": "A set of DNS record updates that allow Hosting to serve secure content on your domain name. The record type determines the update's purpose: - `A` and `AAAA`: Updates your domain name's IP addresses so that they direct traffic to Hosting servers. - `TXT`: Updates ownership permissions on your domain name, letting Hosting know that your custom domain's project has permission to perform actions for that domain name. - `CAA`: Updates your domain name's list of authorized Certificate Authorities (CAs). Only present if you have existing `CAA` records that prohibit Hosting's CA from minting certs for your domain name. These updates include all DNS changes you'll need to get started with Hosting, but, if made all at once, can result in a brief period of downtime for your domain name--while Hosting creates and uploads an SSL cert, for example. If you'd like to add your domain name to Hosting without downtime, complete the `liveMigrationSteps` first, before making the remaining updates in this field."
          }
        },
        "ownershipState": {
          "target": "com.gcp.firebasehosting_v1beta1#CustomDomainMetadataOwnershipStateEnum",
          "traits": {
            "smithy.api#documentation": "The `OwnershipState` of the domain name this `CustomDomain` refers to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata associated with a`CustomDomain` operation."
      }
    },
    "com.gcp.firebasehosting_v1beta1#CustomDomainMetadataCertStateEnum": {
      "type": "enum",
      "members": {
        "CERT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_STATE_UNSPECIFIED"
          }
        },
        "CERT_PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_PREPARING"
          }
        },
        "CERT_VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_VALIDATING"
          }
        },
        "CERT_PROPAGATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_PROPAGATING"
          }
        },
        "CERT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_ACTIVE"
          }
        },
        "CERT_EXPIRING_SOON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_EXPIRING_SOON"
          }
        },
        "CERT_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_EXPIRED"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#LiveMigrationStepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#LiveMigrationStep"
      }
    },
    "com.gcp.firebasehosting_v1beta1#CustomDomainMetadataHostStateEnum": {
      "type": "enum",
      "members": {
        "HOST_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_STATE_UNSPECIFIED"
          }
        },
        "HOST_UNHOSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_UNHOSTED"
          }
        },
        "HOST_UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_UNREACHABLE"
          }
        },
        "HOST_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_MISMATCH"
          }
        },
        "HOST_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_CONFLICT"
          }
        },
        "HOST_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_ACTIVE"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#CustomDomainMetadataOwnershipStateEnum": {
      "type": "enum",
      "members": {
        "OWNERSHIP_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_STATE_UNSPECIFIED"
          }
        },
        "OWNERSHIP_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_MISSING"
          }
        },
        "OWNERSHIP_UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_UNREACHABLE"
          }
        },
        "OWNERSHIP_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_MISMATCH"
          }
        },
        "OWNERSHIP_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_CONFLICT"
          }
        },
        "OWNERSHIP_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_PENDING"
          }
        },
        "OWNERSHIP_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_ACTIVE"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#CloneVersionRequest": {
      "type": "structure",
      "members": {
        "include": {
          "target": "com.gcp.firebasehosting_v1beta1#PathFilter",
          "traits": {
            "smithy.api#documentation": "If provided, only paths that match one or more RegEx values in this list will be included in the new version."
          }
        },
        "exclude": {
          "target": "com.gcp.firebasehosting_v1beta1#PathFilter",
          "traits": {
            "smithy.api#documentation": "If provided, only paths that do not match any of the RegEx values in this list will be included in the new version."
          }
        },
        "sourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique identifier for the version to be cloned, in the format: sites/SITE_ID/versions/VERSION_ID"
          }
        },
        "finalize": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the call to `CloneVersion` immediately finalizes the version after cloning is complete. If false, the cloned version will have a status of `CREATED`. Use [`UpdateVersion`](patch) to set the status of the version to `FINALIZED`."
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#CertVerification": {
      "type": "structure",
      "members": {
        "dns": {
          "target": "com.gcp.firebasehosting_v1beta1#DnsUpdates",
          "traits": {
            "smithy.api#documentation": "Output only. A `TXT` record to add to your DNS records that confirms your intent to let Hosting create an SSL cert for your domain name."
          }
        },
        "http": {
          "target": "com.gcp.firebasehosting_v1beta1#HttpUpdate",
          "traits": {
            "smithy.api#documentation": "Output only. A file to add to your existing, non-Hosting hosting service that confirms your intent to let Hosting create an SSL cert for your domain name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of ACME challenges you can use to allow Hosting to create an SSL certificate for your domain name before directing traffic to Hosting servers. Use either the DNS or HTTP challenge; it's not necessary to provide both."
      }
    },
    "com.gcp.firebasehosting_v1beta1#Version": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create)."
          }
        },
        "finalizeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the version was `FINALIZED`."
          }
        },
        "fileCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of files associated with the version. This value is calculated after a version is `FINALIZED`."
          }
        },
        "status": {
          "target": "com.gcp.firebasehosting_v1beta1#VersionStatusEnum",
          "traits": {
            "smithy.api#documentation": "The deploy status of the version. For a successful deploy, call [`CreateVersion`](sites.versions/create) to make a new version (`CREATED` status), [upload all desired files](sites.versions/populateFiles) to the version, then [update](sites.versions/patch) the version to the `FINALIZED` status. Note that if you leave the version in the `CREATED` state for more than 12 hours, the system will automatically mark the version as `ABANDONED`. You can also change the status of a version to `DELETED` by calling [`DeleteVersion`](sites.versions/delete)."
          }
        },
        "deleteUser": {
          "target": "com.gcp.firebasehosting_v1beta1#ActingUser",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies the user who `DELETED` the version."
          }
        },
        "createUser": {
          "target": "com.gcp.firebasehosting_v1beta1#ActingUser",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies the user who created the version."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the version was `DELETED`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the version was created."
          }
        },
        "finalizeUser": {
          "target": "com.gcp.firebasehosting_v1beta1#ActingUser",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies the user who `FINALIZED` the version."
          }
        },
        "config": {
          "target": "com.gcp.firebasehosting_v1beta1#ServingConfig",
          "traits": {
            "smithy.api#documentation": "The configuration for the behavior of the site. This configuration exists in the [`firebase.json`](https://firebase.google.com/docs/cli/#the_firebasejson_file) file."
          }
        },
        "labels": {
          "target": "com.gcp.firebasehosting_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels used for extra metadata and/or filtering."
          }
        },
        "versionBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total stored bytesize of the version. This value is calculated after a version is `FINALIZED`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A `Version` is a configuration and a collection of static files which determine how a site is displayed."
      }
    },
    "com.gcp.firebasehosting_v1beta1#VersionStatusEnum": {
      "type": "enum",
      "members": {
        "VERSION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERSION_STATUS_UNSPECIFIED"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "FINALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINALIZED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "ABANDONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABANDONED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "CLONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLONING"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#ActingUser": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the user when the user performed the action."
          }
        },
        "imageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A profile image URL for the user. May not be present if the user has changed their email address or deleted their account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains metadata about the user who performed an action, such as creating a release or finalizing a version."
      }
    },
    "com.gcp.firebasehosting_v1beta1#CertDnsChallenge": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value that must be present as a TXT record on the domain name to satisfy the challenge."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name upon which the DNS challenge must be satisfied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a DNS certificate challenge."
      }
    },
    "com.gcp.firebasehosting_v1beta1#Site": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510)."
          }
        },
        "defaultUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The default URL for the Hosting site."
          }
        },
        "type": {
          "target": "com.gcp.firebasehosting_v1beta1#SiteTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of Hosting site. Every Firebase project has a `DEFAULT_SITE`, which is created when Hosting is provisioned for the project. All additional sites are `USER_SITE`."
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The [ID of a Web App](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects.webApps#WebApp.FIELDS.app_id) associated with the Hosting site."
          }
        },
        "labels": {
          "target": "com.gcp.firebasehosting_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-specified labels for the Hosting site."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A `Site` represents a Firebase Hosting site."
      }
    },
    "com.gcp.firebasehosting_v1beta1#SiteTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "DEFAULT_SITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_SITE"
          }
        },
        "USER_SITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_SITE"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#CloudRunRewrite": {
      "type": "structure",
      "members": {
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-provided region where the Cloud Run service is hosted. Defaults to `us-central1` if not supplied."
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User-defined ID of the Cloud Run service."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-provided TrafficConfig tag to send traffic to. When omitted, traffic is sent to the service-wide URI"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A configured rewrite that directs requests to a Cloud Run service. If the Cloud Run service does not exist when setting or updating your Firebase Hosting configuration, then the request fails. Any errors from the Cloud Run service are passed to the end user (for example, if you delete a service, any requests directed to that service receive a `404` error)."
      }
    },
    "com.gcp.firebasehosting_v1beta1#ListReleasesResponse": {
      "type": "structure",
      "members": {
        "releases": {
          "target": "com.gcp.firebasehosting_v1beta1#ReleaseList",
          "traits": {
            "smithy.api#documentation": "The list of hashes of files that still need to be uploaded, if any exist."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListReleases`. Page tokens are short-lived and should not be stored."
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#ReleaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#Release"
      }
    },
    "com.gcp.firebasehosting_v1beta1#ListVersionFilesResponse": {
      "type": "structure",
      "members": {
        "files": {
          "target": "com.gcp.firebasehosting_v1beta1#VersionFileList",
          "traits": {
            "smithy.api#documentation": " The list of paths to the hashes of the files in the specified version."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListVersionFiles`. Page tokens are short-lived and should not be stored."
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#VersionFileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#VersionFile"
      }
    },
    "com.gcp.firebasehosting_v1beta1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.firebasehosting_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.firebasehosting_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.firebasehosting_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#DocumentMap"
      }
    },
    "com.gcp.firebasehosting_v1beta1#Release": {
      "type": "structure",
      "members": {
        "releaseUser": {
          "target": "com.gcp.firebasehosting_v1beta1#ActingUser",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies the user who created the release."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier for the release, in either of the following formats: - sites/SITE_ID/releases/RELEASE_ID - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID This name is provided in the response body when you call [`releases.create`](sites.releases/create) or [`channels.releases.create`](sites.channels.releases/create)."
          }
        },
        "type": {
          "target": "com.gcp.firebasehosting_v1beta1#ReleaseTypeEnum",
          "traits": {
            "smithy.api#documentation": "Explains the reason for the release. Specify a value for this field only when creating a `SITE_DISABLE` type release."
          }
        },
        "version": {
          "target": "com.gcp.firebasehosting_v1beta1#Version",
          "traits": {
            "smithy.api#documentation": "Output only. The configuration and content that was released."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deploy description when the release was created. The value can be up to 512 characters."
          }
        },
        "releaseTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the version is set to be public."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " A `Release` is a particular [collection of configurations and files](sites.versions) that is set to be public at a particular time."
      }
    },
    "com.gcp.firebasehosting_v1beta1#ReleaseTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "DEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOY"
          }
        },
        "ROLLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLBACK"
          }
        },
        "SITE_DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SITE_DISABLE"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#PathFilter": {
      "type": "structure",
      "members": {
        "regexes": {
          "target": "com.gcp.firebasehosting_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "An array of RegEx values by which to filter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of filter path."
      }
    },
    "com.gcp.firebasehosting_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.firebasehosting_v1beta1#HttpUpdate": {
      "type": "structure",
      "members": {
        "desired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A text string to serve at the path."
          }
        },
        "discovered": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Whether Hosting was able to find the required file contents on the specified path during its last check."
          }
        },
        "lastCheckTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last time Hosting systems checked for the file contents."
          }
        },
        "checkError": {
          "target": "com.gcp.firebasehosting_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. An error encountered during the last contents check. If null, the check completed successfully."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The path to the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file you can add to your existing, non-Hosting hosting service that confirms your intent to allow Hosting's Certificate Authorities to create an SSL certificate for your domain."
      }
    },
    "com.gcp.firebasehosting_v1beta1#LiveMigrationStep": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.firebasehosting_v1beta1#LiveMigrationStepStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the live migration step, indicates whether you should work to complete the step now, in the future, or have already completed it."
          }
        },
        "certVerification": {
          "target": "com.gcp.firebasehosting_v1beta1#CertVerification",
          "traits": {
            "smithy.api#documentation": "Output only. A pair of ACME challenges that Hosting's Certificate Authority (CA) can use to create an SSL cert for your domain name. Use either the DNS or HTTP challenge; it's not necessary to provide both."
          }
        },
        "dnsUpdates": {
          "target": "com.gcp.firebasehosting_v1beta1#DnsUpdates",
          "traits": {
            "smithy.api#documentation": "Output only. DNS updates to facilitate your domain's zero-downtime migration to Hosting."
          }
        },
        "issues": {
          "target": "com.gcp.firebasehosting_v1beta1#StatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Issues that prevent the current step from completing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of updates including ACME challenges and DNS records that allow Hosting to create an SSL certificate and establish project ownership for your domain name before you direct traffic to Hosting servers. Use these updates to facilitate zero downtime migrations to Hosting from other services. After you've made the recommended updates, check your custom domain's `ownershipState` and `certState`. To avoid downtime, they should be `OWNERSHIP_ACTIVE` and `CERT_ACTIVE`, respectively, before you update your `A` and `AAAA` records."
      }
    },
    "com.gcp.firebasehosting_v1beta1#LiveMigrationStepStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARING"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPLETE"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#UndeleteCustomDomainRequest": {
      "type": "structure",
      "members": {
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, Hosting validates that it's possible to complete your request but doesn't actually delete the `CustomDomain`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A tag that represents the state of the `CustomDomain` as you know it. If present, the supplied tag must match the current value on your `CustomDomain`, or the request fails."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request sent to `UndeleteCustomDomain`."
      }
    },
    "com.gcp.firebasehosting_v1beta1#Redirect": {
      "type": "structure",
      "members": {
        "statusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The status HTTP code to return in the response. It must be a valid 3xx status code."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The value to put in the HTTP location header of the response. The location can contain capture group values from the pattern using a `:` prefix to identify the segment and an optional `*` to capture the rest of the URL. For example: \"glob\": \"/:capture*\", \"statusCode\": 301, \"location\": \"https://example.com/foo/:capture\""
          }
        },
        "regex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-supplied RE2 regular expression to match against the request URL path."
          }
        },
        "glob": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-supplied [glob](https://firebase.google.com/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A [`Redirect`](https://firebase.google.com/docs/hosting/full-config#redirects) specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond with a redirect to the specified destination path."
      }
    },
    "com.gcp.firebasehosting_v1beta1#VersionFile": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI at which the file's content should display."
          }
        },
        "status": {
          "target": "com.gcp.firebasehosting_v1beta1#VersionFileStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current status of a particular file in the specified version. The value will be either `pending upload` or `uploaded`."
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SHA256 content hash of the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A static content file that is part of a version."
      }
    },
    "com.gcp.firebasehosting_v1beta1#VersionFileStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "EXPECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPECTED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#DnsRecord": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The domain name the record pertains to, e.g. `foo.bar.com.`."
          }
        },
        "type": {
          "target": "com.gcp.firebasehosting_v1beta1#DnsRecordTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The record's type, which determines what data the record contains."
          }
        },
        "rdata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The data of the record. The meaning of the value depends on record type: - A and AAAA: IP addresses for the domain name. - CNAME: Another domain to check for records. - TXT: Arbitrary text strings associated with the domain name. Hosting uses TXT records to determine which Firebase projects have permission to act on the domain name's behalf. - CAA: The record's flags, tag, and value, e.g. `0 issue \"pki.goog\"`."
          }
        },
        "requiredAction": {
          "target": "com.gcp.firebasehosting_v1beta1#DnsRecordRequiredActionEnum",
          "traits": {
            "smithy.api#documentation": "Output only. An enum that indicates the a required action for this record."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DNS records are resource records that define how systems and services should behave when handling requests for a domain name. For example, when you add `A` records to your domain name's DNS records, you're informing other systems (such as your users' web browsers) to contact those IPv4 addresses to retrieve resources relevant to your domain name (such as your Hosting site files)."
      }
    },
    "com.gcp.firebasehosting_v1beta1#DnsRecordTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#DnsRecordRequiredActionEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#Operation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "error": {
          "target": "com.gcp.firebasehosting_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.firebasehosting_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.firebasehosting_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.firebasehosting_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.firebasehosting_v1beta1#CertHttpChallenge": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL path on which to serve the specified token to satisfy the certificate challenge."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to serve at the specified URL path to satisfy the certificate challenge."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an HTTP certificate challenge."
      }
    },
    "com.gcp.firebasehosting_v1beta1#ListChannelsResponse": {
      "type": "structure",
      "members": {
        "channels": {
          "target": "com.gcp.firebasehosting_v1beta1#ChannelList",
          "traits": {
            "smithy.api#documentation": "The list of channels."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListChannels`. Page tokens are short-lived and should not be stored."
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#ChannelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#Channel"
      }
    },
    "com.gcp.firebasehosting_v1beta1#ListVersionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListVersions`. Page tokens are short-lived and should not be stored."
          }
        },
        "versions": {
          "target": "com.gcp.firebasehosting_v1beta1#VersionList",
          "traits": {
            "smithy.api#documentation": "The list of versions, if any exist."
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#VersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#Version"
      }
    },
    "com.gcp.firebasehosting_v1beta1#ListCustomDomainsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListCustomDomains`. Page tokens are short-lived and should not be stored."
          }
        },
        "customDomains": {
          "target": "com.gcp.firebasehosting_v1beta1#CustomDomainList",
          "traits": {
            "smithy.api#documentation": "A list of `CustomDomain` entities associated with the specified Firebase `Site`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from `ListCustomDomains`."
      }
    },
    "com.gcp.firebasehosting_v1beta1#CustomDomainList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#CustomDomain"
      }
    },
    "com.gcp.firebasehosting_v1beta1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.firebasehosting_v1beta1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.firebasehosting_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.firebasehosting_v1beta1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#Operation"
      }
    },
    "com.gcp.firebasehosting_v1beta1#PopulateVersionFilesRequest": {
      "type": "structure",
      "members": {
        "files": {
          "target": "com.gcp.firebasehosting_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "A set of file paths to the hashes corresponding to assets that should be added to the version. A file path to an empty hash will remove the path from the version. Calculate a hash by Gzipping the file then taking the SHA256 hash of the newly compressed file."
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#SiteConfig": {
      "type": "structure",
      "members": {
        "maxVersions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of FINALIZED versions that will be held for a site before automatic deletion. When a new version is deployed, content for versions in storage in excess of this number will be deleted, and will no longer be billed for storage usage. Oldest versions will be deleted first; sites are created with an unlimited number of max_versions by default."
          }
        },
        "cloudLoggingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not web requests made by site visitors are logged via Cloud Logging."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A `SiteConfig` contains metadata associated with a specific site that controls Firebase Hosting serving behavior"
      }
    },
    "com.gcp.firebasehosting_v1beta1#Header": {
      "type": "structure",
      "members": {
        "regex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-supplied RE2 regular expression to match against the request URL path."
          }
        },
        "glob": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-supplied [glob](https://firebase.google.com/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path."
          }
        },
        "headers": {
          "target": "com.gcp.firebasehosting_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Required. The additional headers to add to the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A [`Header`](https://firebase.google.com/docs/hosting/full-config#headers) specifies a URL pattern that, if matched to the request URL path, triggers Hosting to apply the specified custom response headers."
      }
    },
    "com.gcp.firebasehosting_v1beta1#ServingConfig": {
      "type": "structure",
      "members": {
        "trailingSlashBehavior": {
          "target": "com.gcp.firebasehosting_v1beta1#ServingConfigTrailingSlashBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "Defines how to handle a trailing slash in the URL path."
          }
        },
        "headers": {
          "target": "com.gcp.firebasehosting_v1beta1#HeaderList",
          "traits": {
            "smithy.api#documentation": "An array of objects, where each object specifies a URL pattern that, if matched to the request URL path, triggers Hosting to apply the specified custom response headers."
          }
        },
        "cleanUrls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether to drop the file extension from uploaded files."
          }
        },
        "appAssociation": {
          "target": "com.gcp.firebasehosting_v1beta1#ServingConfigAppAssociationEnum",
          "traits": {
            "smithy.api#documentation": "How to handle well known App Association files."
          }
        },
        "redirects": {
          "target": "com.gcp.firebasehosting_v1beta1#RedirectList",
          "traits": {
            "smithy.api#documentation": "An array of objects (called redirect rules), where each rule specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond with a redirect to the specified destination path."
          }
        },
        "rewrites": {
          "target": "com.gcp.firebasehosting_v1beta1#RewriteList",
          "traits": {
            "smithy.api#documentation": "An array of objects (called rewrite rules), where each rule specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond as if the service were given the specified destination URL."
          }
        },
        "i18n": {
          "target": "com.gcp.firebasehosting_v1beta1#I18nConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Defines i18n rewrite behavior."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for how incoming requests to a site should be routed and processed before serving content. The URL request paths are matched against the specified URL patterns in the configuration, then Hosting applies the applicable configuration according to a specific [priority order](https://firebase.google.com/docs/hosting/full-config#hosting_priority_order)."
      }
    },
    "com.gcp.firebasehosting_v1beta1#ServingConfigTrailingSlashBehaviorEnum": {
      "type": "enum",
      "members": {
        "TRAILING_SLASH_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAILING_SLASH_BEHAVIOR_UNSPECIFIED"
          }
        },
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#HeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#Header"
      }
    },
    "com.gcp.firebasehosting_v1beta1#ServingConfigAppAssociationEnum": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#RedirectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#Redirect"
      }
    },
    "com.gcp.firebasehosting_v1beta1#RewriteList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#Rewrite"
      }
    },
    "com.gcp.firebasehosting_v1beta1#DnsUpdates": {
      "type": "structure",
      "members": {
        "checkTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time Hosting checked your custom domain's DNS records."
          }
        },
        "discovered": {
          "target": "com.gcp.firebasehosting_v1beta1#DnsRecordSetList",
          "traits": {
            "smithy.api#documentation": "The set of DNS records Hosting discovered when inspecting a domain."
          }
        },
        "desired": {
          "target": "com.gcp.firebasehosting_v1beta1#DnsRecordSetList",
          "traits": {
            "smithy.api#documentation": "The set of DNS records Hosting needs to serve secure content on the domain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of DNS record updates that you should make to allow Hosting to serve secure content in response to requests against your domain name. These updates present the current state of your domain name's DNS records when Hosting last queried them, and the desired set of records that Hosting needs to see before your custom domain can be fully active."
      }
    },
    "com.gcp.firebasehosting_v1beta1#DnsRecordSetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#DnsRecordSet"
      }
    },
    "com.gcp.firebasehosting_v1beta1#DomainProvisioning": {
      "type": "structure",
      "members": {
        "certChallengeHttp": {
          "target": "com.gcp.firebasehosting_v1beta1#CertHttpChallenge",
          "traits": {
            "smithy.api#documentation": "The HTTP challenge for generating a certificate."
          }
        },
        "certStatus": {
          "target": "com.gcp.firebasehosting_v1beta1#DomainProvisioningCertStatusEnum",
          "traits": {
            "smithy.api#documentation": "The certificate provisioning status; updated when Firebase Hosting provisions an SSL certificate for the domain."
          }
        },
        "certChallengeDiscoveredTxt": {
          "target": "com.gcp.firebasehosting_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The TXT records (for the certificate challenge) that were found at the last DNS fetch."
          }
        },
        "dnsStatus": {
          "target": "com.gcp.firebasehosting_v1beta1#DomainProvisioningDnsStatusEnum",
          "traits": {
            "smithy.api#documentation": "The DNS record match status as of the last DNS fetch."
          }
        },
        "expectedIps": {
          "target": "com.gcp.firebasehosting_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of IPs to which the domain is expected to resolve."
          }
        },
        "certChallengeDns": {
          "target": "com.gcp.firebasehosting_v1beta1#CertDnsChallenge",
          "traits": {
            "smithy.api#documentation": "The DNS challenge for generating a certificate."
          }
        },
        "discoveredIps": {
          "target": "com.gcp.firebasehosting_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The IPs found at the last DNS fetch."
          }
        },
        "dnsFetchTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the last DNS fetch occurred."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current certificate provisioning status information for a domain."
      }
    },
    "com.gcp.firebasehosting_v1beta1#DomainProvisioningCertStatusEnum": {
      "type": "enum",
      "members": {
        "CERT_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_STATUS_UNSPECIFIED"
          }
        },
        "CERT_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_PENDING"
          }
        },
        "CERT_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_MISSING"
          }
        },
        "CERT_PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_PROCESSING"
          }
        },
        "CERT_PROPAGATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_PROPAGATING"
          }
        },
        "CERT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_ACTIVE"
          }
        },
        "CERT_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_ERROR"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#DomainProvisioningDnsStatusEnum": {
      "type": "enum",
      "members": {
        "DNS_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_STATUS_UNSPECIFIED"
          }
        },
        "DNS_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_PENDING"
          }
        },
        "DNS_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_MISSING"
          }
        },
        "DNS_PARTIAL_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_PARTIAL_MATCH"
          }
        },
        "DNS_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_MATCH"
          }
        },
        "DNS_EXTRANEOUS_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_EXTRANEOUS_MATCH"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#Channel": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. A time-to-live for this channel. Sets `expire_time` to the provided duration past the time of the request."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL at which the content of this channel's current release can be viewed. This URL is a Firebase-provided subdomain of `web.app`. The content of this channel's current release can also be viewed at the Firebase-provided subdomain of `firebaseapp.com`. If this channel is the `live` channel for the Hosting site, then the content of this channel's current release can also be viewed at any connected custom domains."
          }
        },
        "release": {
          "target": "com.gcp.firebasehosting_v1beta1#Release",
          "traits": {
            "smithy.api#documentation": "Output only. The current release for the channel, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID"
          }
        },
        "labels": {
          "target": "com.gcp.firebasehosting_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Text labels used for extra metadata and/or filtering."
          }
        },
        "retainedReleaseCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of previous releases to retain on the channel for rollback or other purposes. Must be a number between 1-100. Defaults to 10 for new channels."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the channel was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the channel was last updated."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the channel will be automatically deleted. If null, the channel will not be automatically deleted. This field is present in the output whether it's set directly or via the `ttl` field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A `Channel` represents a stream of releases for a site. All sites have a default `live` channel that serves content to the Firebase-provided subdomains and any connected custom domains."
      }
    },
    "com.gcp.firebasehosting_v1beta1#DnsRecordSet": {
      "type": "structure",
      "members": {
        "records": {
          "target": "com.gcp.firebasehosting_v1beta1#DnsRecordList",
          "traits": {
            "smithy.api#documentation": "Output only. Records on the domain."
          }
        },
        "checkError": {
          "target": "com.gcp.firebasehosting_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. An error Hosting services encountered when querying your domain name's DNS records. Note: Hosting ignores `NXDOMAIN` errors, as those generally just mean that a domain name hasn't been set up yet."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The domain name the record set pertains to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of DNS records relevant to the setup and maintenance of a custom domain in Firebase Hosting."
      }
    },
    "com.gcp.firebasehosting_v1beta1#DnsRecordList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasehosting_v1beta1#DnsRecord"
      }
    },
    "com.gcp.firebasehosting_v1beta1#I18nConfig": {
      "type": "structure",
      "members": {
        "root": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The user-supplied path where country and language specific content will be looked for within the public directory."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If provided, i18n rewrites are enabled."
      }
    },
    "com.gcp.firebasehosting_v1beta1#PopulateVersionFilesResponse": {
      "type": "structure",
      "members": {
        "uploadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to which the files should be uploaded, in the format: \"https://upload-firebasehosting.googleapis.com/upload/sites/SITE_ID /versions/VERSION_ID/files\" Perform a multipart `POST` of the Gzipped file contents to the URL using a forward slash and the hash of the file appended to the end."
          }
        },
        "uploadRequiredHashes": {
          "target": "com.gcp.firebasehosting_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The content hashes of the specified files that need to be uploaded to the specified URL."
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#Rewrite": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL path to rewrite the request to."
          }
        },
        "regex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-supplied RE2 regular expression to match against the request URL path."
          }
        },
        "function": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The function to proxy requests to. Must match the exported function name exactly."
          }
        },
        "dynamicLinks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The request will be forwarded to Firebase Dynamic Links."
          }
        },
        "run": {
          "target": "com.gcp.firebasehosting_v1beta1#CloudRunRewrite",
          "traits": {
            "smithy.api#documentation": "The request will be forwarded to Cloud Run."
          }
        },
        "glob": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-supplied [glob](https://firebase.google.com/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path."
          }
        },
        "functionRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specify a Cloud region for rewritten Functions invocations. If not provided, defaults to us-central1."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A [`Rewrite`](https://firebase.google.com/docs/hosting/full-config#rewrites) specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond as if the service were given the specified destination URL."
      }
    },
    "com.gcp.firebasehosting_v1beta1#ListProjectsSitesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Firebase project for which to list sites, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of sites to return. The service may return a lower number if fewer sites exist than this maximum number. If unspecified, defaults to 40.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token from a previous call to `ListSites` that tells the server where to resume listing.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.firebasehosting_v1beta1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.firebasehosting_v1beta1#ListProjectsSites": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasehosting_v1beta1#ListProjectsSitesRequest"
      },
      "output": {
        "target": "com.gcp.firebasehosting_v1beta1#ListSitesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebasehosting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.firebasehosting_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/sites"
        },
        "smithy.api#documentation": "Lists each Hosting Site associated with the specified parent Firebase project.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#UpdateConfigProjectsSitesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.firebasehosting_v1beta1#SiteConfig",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.firebasehosting_v1beta1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.firebasehosting_v1beta1#UpdateConfigProjectsSites": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasehosting_v1beta1#UpdateConfigProjectsSitesRequest"
      },
      "output": {
        "target": "com.gcp.firebasehosting_v1beta1#SiteConfig"
      },
      "errors": [
        {
          "target": "com.gcp.firebasehosting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.firebasehosting_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.firebasehosting_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.firebasehosting_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Sets the Hosting metadata for a specific site."
      }
    },
    "com.gcp.firebasehosting_v1beta1#CreateProjectsSitesRequest": {
      "type": "structure",
      "members": {
        "siteId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. A globally unique identifier for the Hosting site. This identifier is used to construct the Firebase-provisioned subdomains for the site, so it must also be a valid domain name label.",
            "smithy.api#httpQuery": "siteId"
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, validates that the site_id is available and that the request would succeed, returning the expected resulting site or error.",
            "smithy.api#httpQuery": "validateOnly"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Firebase project in which to create a Hosting site, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebasehosting_v1beta1#Site",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#CreateProjectsSites": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasehosting_v1beta1#CreateProjectsSitesRequest"
      },
      "output": {
        "target": "com.gcp.firebasehosting_v1beta1#Site"
      },
      "errors": [
        {
          "target": "com.gcp.firebasehosting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.firebasehosting_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.firebasehosting_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.firebasehosting_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+parent}/sites"
        },
        "smithy.api#documentation": "Creates a new Hosting Site in the specified parent Firebase project. Note that Hosting sites can take several minutes to propagate through Firebase systems."
      }
    },
    "com.gcp.firebasehosting_v1beta1#DeleteProjectsSitesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#DeleteProjectsSites": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasehosting_v1beta1#DeleteProjectsSitesRequest"
      },
      "output": {
        "target": "com.gcp.firebasehosting_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.firebasehosting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.firebasehosting_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.firebasehosting_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.firebasehosting_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes the specified Hosting Site from the specified parent Firebase project."
      }
    },
    "com.gcp.firebasehosting_v1beta1#GetConfigProjectsSitesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#GetConfigProjectsSites": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasehosting_v1beta1#GetConfigProjectsSitesRequest"
      },
      "output": {
        "target": "com.gcp.firebasehosting_v1beta1#SiteConfig"
      },
      "errors": [
        {
          "target": "com.gcp.firebasehosting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.firebasehosting_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets the Hosting metadata for a specific site."
      }
    },
    "com.gcp.firebasehosting_v1beta1#PatchProjectsSitesRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A set of field names from your Site that you want to update.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebasehosting_v1beta1#Site",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebasehosting_v1beta1#PatchProjectsSites": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasehosting_v1beta1#PatchProjectsSitesRequest"
      },
      "output": {
        "target": "com.gcp.firebasehosting_v1beta1#Site"
      },
      "errors": [
        {
          "target": "com.gcp.firebasehosting_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.firebasehosting_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.firebasehosting_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.firebasehosting_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta1/{+name}"
        },
[...]
